[2018-10-15 21:51] sam-github commented on #23071
Have you tried converting the Buffers to bigint? If you do lots of comparisons, that might help your particular use case.

The mapping from a SHA-1 digest to an unsigned integer is not clear. Endianness is unknown. I guess the endianness doesn't matter for your case, because even though you would get a big int, you aren't going to do arithmetic with that number, its only important that the mapping

[2018-10-15 23:04] ben-page opened #23680 "[http2] cancelled request causes loss of client headers"
* **Version**: v10.12.0
* **Platform**: Windows 10
* **Subsystem**: http2

I'm observing a strange behavior in the http2 module. I'm using the compatibility API.

Due to a quirk in our front end code, an img element gets loaded and immediate removed from the DOM. This causes Chrome to create a request for the img src URL and then promptly cancel it.

This request is received by the web server whic

[2018-10-15 23:18] jasnell commented on #23680
The header compression mechanism uses a state table that exists on both ends of the connection to manage headers. The `HEADER` frames sent from client to server contain only the differences that exist between those.

For instance, let's say that my Client sends an initial request to the Server with `Cookie: foo`. The client first inserts `Cookie: foo` into it's copy of the state table, then sends

[2018-10-15 23:43] ben-page commented on #23680
No

I'll try to get something put together tomorrow.

[2018-10-15 23:50] jasnell commented on #23680
Ok, unfortunately it's not the change I was hoping it was then. Will investigate.

[2018-10-16 03:17] kelp404 opened #23681 "Lost /deps/cares/src/ares_android.h"
* **Version**: 10.12.0
* **Platform**:
  Target: Android-21
  Host: Ubuntu 16.04
* **Subsystem**:
  NDK: 17

Hello,
I want to build node.js for Android.
But I can't build successful because of no /deps/cares/src/ares_android.h.

`ares_android.h` is in cares-1_14_0 release.
https://github.com/c-ares/c-ares/blob/cares-1_14_0/ares_android.h

`ares_android.h` didn't add into node project. https://gith

[2018-10-16 03:58] cjihrig commented on #23681
Does https://github.com/nodejs/node/pull/23682 fix things?

[2018-10-16 04:01] cjihrig commented on #18408
@niksajanjic can you try building Node with #23683 and see if that fixes your issue?

[2018-10-16 04:03] kelp404 commented on #23681
Hello @cjihrig ,
Thank you.
This issue was fixed.

[2018-10-16 06:56] Francommit commented on #8897
I can confirm this is fixed in 1803 Core. Got it working today!

[2018-10-16 07:02] s97712 opened #23688 "remote debugger unable to convert path correctly in different operating system"
* **Version**:v10.9.0
* **Platform**:Linux s97712 4.18.10-arch1-1-ARCH #1 SMP PREEMPT Wed Sep 26 09:48:22 UTC 2018 x86_64 GNU/Linux
* **Subsystem**:remote debugger

I debugger node on window, but my node server on linux.
When I set the breakpoint through chrome devtools, like the below:
![image](https://user-images.githubusercontent.com/13390001/46996696-32858480-d150-11e8-9bbc-58700f95721e.png)
I

[2018-10-16 07:06] addaleax commented on #23688
@nodejs/v8-inspector

[2018-10-16 09:09] niksajanjic commented on #18408
I'll give it a shot next day or 2 and get back to you.

[2018-10-16 11:51] kunalkukreja commented on #23237
cc @nodejs Please update or add the concerned person who can help.

[2018-10-16 12:37] bzoz commented on #23668
Could you provide a sample code that reproduces that?

[2018-10-16 12:46] targos commented on #23277
Example failure with logging:

[code]

https://ci.nodejs.org/job/node-test-commit-linux-containered/nodes=ubuntu1604_sharedlibs_zlib_x64/7859/testReport/(root)/test/parallel_test_worker_memory/

[2018-10-16 13:06] AyushG3112 commented on #23237
@kunalkukreja would you have a repro script by any chance?

[2018-10-16 13:08] kunalkukreja commented on #23237
@AyushG3112 see this comment https://github.com/nodejs/node/issues/23237#issue-366201701 for script

[2018-10-16 13:46] mhdawson opened #23690 "Failure in code coverage job"
* **Version**: master
* **Platform**: linux
* **Subsystem**: coverage

Coverage job has failed the last 2 runs:
https://ci.nodejs.org/job/node-test-commit-linux-coverage/nodes=benchmark/800/console

[code]

[2018-10-16 13:52] mhdawson commented on #23690
Looks like it has been failing in previous runs as well, but those were reported as green.  Not sure why.

[2018-10-16 13:54] mhdawson commented on #23690
I see, failure is not related to the test but problems at the end of the job

[code]

[2018-10-16 13:56] bzoz commented on #23596
Fix in https://github.com/nodejs/node/pull/23691, thanks for reporting this!

[2018-10-16 14:42] thefourtheye commented on #23433
I checked few other languages to see how they handle file descriptors.

**Python**

* Different functions to deal with file descriptors.
* Positional reads and writes have separate functions.
* No read all or write all functions with file descriptors.

Other languages which I checked were Ruby, Java, C, and C++. They all provide their own abstractions over file descriptors. Using file descriptors

[2018-10-16 14:46] mhdawson commented on #23690
Running locally to see if the issue recreates there as well.

[2018-10-16 14:59] Trott commented on #23277
Is there more logging we should add? Is it just taking a while? `n` keeps decreasing. So maybe the test just needs to be moved to `sequential` and/or have its iterations (or something else) reduced?

Also happened in https://ci.nodejs.org/job/node-test-commit-linux-containered/7855/nodes=ubuntu1604_sharedlibs_zlib_x64/console:

[code]

[2018-10-16 15:54] mhdawson commented on #23690
Same failure locally.

[2018-10-16 15:56] mhdawson commented on #23690
Don't see any recent changes in Makefile, guessing it might be a change in nyc

[2018-10-16 16:00] eugeneo commented on #23688
This is a Chrome DevTools issue. CC: @aslushnikov

[2018-10-16 16:04] sagitsofan commented on #23677
Sounds like an nvm issue, did you try without nvm installed on the machine?

[2018-10-16 16:08] mhdawson commented on #23690
Looking at npm does not look like nyc was updated recently

[2018-10-16 16:13] ehmicky opened #23693 "Breakpoints not working inside Chrome devtools since `v10.12.0`"
* **Version**: `v10.12.0`
* **Platform**: `Linux my-laptop 4.15.0-36-generic #39-Ubuntu SMP Mon Sep 24 16:19:09 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`
* **Chrome version**: `69.0.3497.100` (V8 `6.9.427.23`)

This might be related to #23688 but I believe this might contain more detailed information.

Breakpoints set inside Chrome devtools do not stop code execution anymore since `v10.12.0`. It wo

[2018-10-16 16:15] mhdawson commented on #23690
Going to build with commit for last passing run to rule out any external changes.

[2018-10-16 16:19] jasnell opened #23694 "Tracking Issue: Legacy URL deprecation"
The legacy url API (`url.parse()`, `url.format()`, and `url.resolve()`) have been docs-only deprecated.

Following the Node.js 11.0.0 release, I plan to open a PR that upgrades that to a pending runtime-deprecation (requires `--pending-deprecation` for the warning to appear). That would land in master but would not go into a release until 12.0.0 (April 2019)

Following the 12.0.0 release, I plan t

[2018-10-16 16:36] targos commented on #23693
I can reproduce. bisecting...

[2018-10-16 16:37] demurgos opened #23696 "Modules: Cannot load ESM module with new line in file name"
* **Version**: 10.12.0
* **Platform**: Linux 64 bit
* **Subsystem**: Modules

Node fails to load ESM entry points if their filename contains a newline character. This is a regression compared to the current commonjs modules.

The following code fails:
[code]

Expected: no failed assertion, nothing in stderr (appart from the warning that ESM is experimental).
Actual: Failed assertion. Stderr contai

[2018-10-16 17:00] oyyd commented on #21631
According to the `net` module, `bufferSize` is:

https://github.com/nodejs/node/blob/deaddd212c499c7ff88d20034753b5f3f00d5153/lib/net.js#L518

As `Http2Session` and `Http2Stream` have internally maintained `writeQueueSize` which is actually `kLastWriteQueueSize`, I think, maybe we can make `bufferSize` work on http2 module itself.

[2018-10-16 17:07] no2chem commented on #23071
@sam-github I have: https://github.com/no2chem/bigint-hash#performance has some numbers. Converting the buffers to bigint has two overheads: First, the crypto binding needs to allocate a buffer. This is pretty expensive as I think (not up to date on how Buffer is implemented) that allocation is done outside and managed outside of the v8 heap. Then you need to do the conversion, which is small (abo

[2018-10-16 17:12] targos commented on #23693
I'm having trouble to make it work with any version of Node. Tried 10.12.0, 10.11.0, 10.10.0, 9.11.2 and 8.12.0.
The problem happens with all of them.

[2018-10-16 17:17] devsnek commented on #23696
esm uses urls which normalize out newlines, so you'll need to use `%0A` when you spawn

`cp.spawnSync(process.execPath, ["--experimental-modules", "foo%0Abar.mjs"]`

[2018-10-16 17:26] jimmywarting opened #23697 "Invalid URL"
* **Version**: v10.8.0
* **Platform**: Darwin
* **Subsystem**:

This works fine in the browser but fails in node
[code]

[code]

[2018-10-16 17:34] demurgos commented on #23696
Using your code seems to lead to double-escaping. It still fails. Here is the error message:
[code]

Furthermore, requiring to escape newlines when spawning a process would not be consistent: am I supplying a relative URL or a system-dependent path? I assume it is a system path. I can successfully pass `foo#bar.mjs`, `foo?bar.mjs`, `foo bar.mjs` (without escaping: as I would for CJS modules).

I a

[2018-10-16 17:46] ben-page commented on #23680
I finally isolated the problem and I'm not sure that it's caused by node. The Chrome Dev Tools are making an additional request for the image to provide a preview of the image on the Network tab. But this request does not contain the cookies.

This usually replicates the problem. If it doesn't try deleting the site cookies.
[code]

Here are the server logs if  you access the page without Dev Tools

[2018-10-16 17:56] ben-page commented on #23680
So I switch to the `https` module and I see the same behavior. I think it's safe to assume this is Chrome's fault. Sorry for the distraction and thank you for the help.

[2018-10-16 17:56] #23680 closed

[2018-10-16 17:57] guybedford commented on #23696
This sounds like a bug to me - the conversion into a URL of the initial path should be `/tmp/tmp-59206v9LQ3sEjvCA/foo%0Abar.mjs`, which is supposed to be done at https://github.com/nodejs/node/blob/master/lib/internal/modules/cjs/loader.js#L752.

[2018-10-16 18:01] jeremychone commented on #23693
I had a similar sure with vscode, basically debugging typescript with sourcemap stopped working, and debugging the emitted .js code works, but the file I am debugging is another "read only file" with the wrapper function around.

It looks like node.js 10.12 is "exposing" (not sure the right word here) the wrapped file rather than the original source file, which can throw the debugger off.

All wor

[2018-10-16 18:05] jasnell commented on #23697
Browsers appear to be giving this a bit more leniency but the URL does not appear to be valid punycode.

@TimothyGu ... thoughts?

[2018-10-16 18:06] jasnell commented on #23680
No worries at all, it's good to know that this is an issue, even if it's not within Node.js itself!

[2018-10-16 18:13] ak239 commented on #23693
I believe that I am responsible for this issue. Node 10.12 reports unified file urls in protocol instead of platform specific paths.
DevTools frontend from Chrome 71 and Chrome 72 should be able to work with such urls, please try to use Chrome dev release if it is possible in your Linux distributive.

[2018-10-16 18:16] ak239 commented on #23688
Thanks for nice bug report.
This issue is fixed in latest Node 10.12 and Chrome >= 71. You can try to use [Chrome Canary](https://www.google.com/chrome/canary/) on Windows.

[2018-10-16 18:19] ben-page commented on #23680
Here's the Chromium issue that I created: [895939](https://bugs.chromium.org/p/chromium/issues/detail?id=895939)

[2018-10-16 18:20] demurgos commented on #23696
The bug is in the `URL#pathname` setter:

[code]

[2018-10-16 18:20] targos commented on #23693
It works with Chrome 72.

[2018-10-16 18:21] mhdawson commented on #23690
If I did it correctly still seemed to fail after checking out version that passed in last good coverage job.

[2018-10-16 18:21] targos commented on #23697
The `whatwg-url` module also throws with this URL.

[2018-10-16 18:22] kapouer commented on #23195
Correction: it had nothing to do with gyp, rather something about needing huge amount of memory at some point when building openssl.

[2018-10-16 18:22] targos commented on #23697
@jimmywarting what is the original utf-8 name of the domain?

[2018-10-16 18:24] targos commented on #23688
It looks like we landed the fix too soon? Should we revert until Chrome 71 is stable?

[2018-10-16 18:29] indobits commented on #23697
it seems this URL isn't **correct one**

![screenshot from 2018-10-16 13-26-51](https://user-images.githubusercontent.com/1597020/47038593-7922b100-d147-11e8-9d2d-4a86135ea300.png)

[2018-10-16 18:30] targos commented on #23696
/cc @nodejs/url

Given:
[code]

- Node and the `whatwg-url` output `'http://www.example.com/foobar'`
- Chrome outputs `'http://www.example.com/foo%0Abar'`

[2018-10-16 18:30] jeremychone commented on #23693
Ok, so, if this one is a chrome issue, then, my VSCode debug issue with node 10.12 is not this issue.

[2018-10-16 18:33] ak239 commented on #23688
Would it be possible to reland it in 6 weeks? It looks like Node 10 will go to LTS before.
Revert SGTM.

[2018-10-16 18:38] jasnell commented on #23696
Interesting... yeah Edge, Firefox, and Chrome all produce `foo%0Abar` for this.

/cc @nodejs/url

[2018-10-16 18:43] domenic commented on #23696
If 3/4 browsers all give an answer different from the spec, filing an issue at https://github.com/whatwg/url is a good idea.

That said, in general I'm not sure you should expect arbitrary strings to round-trip through URL parsing and serialization, so there may be a more fundamental issue here. (I haven't read the whole thread.)

[2018-10-16 18:45] indobits commented on #23697
I scanned your domain but I didn't find this subdomain **"xn--www-4m0aa"**

![screenshot from 2018-10-16 13-34-58](https://user-images.githubusercontent.com/1597020/47039410-7f199180-d149-11e8-81a6-deccb9344b9c.png)

[Pentest-Tools](https://pentest-tools.com/information-gathering/find-subdomains-of-domain)

[2018-10-16 18:45] jimmywarting commented on #23697
there was a bit.ly url that redirects

https://bitly.com/hergivenhairKeeb+

[2018-10-16 18:53] demurgos commented on #23696
Seems to be related to [this line in the spec](https://github.com/whatwg/url/blob/49060c74d3047602a572f9e88a6a1101f4fd32f3/url.bs#L1474):

[code]

I confirm that files with a tab in their name also fail. I'll open a issue on the whatwg repo.

[2018-10-16 19:00] silverwind commented on #23437
This is a IPv4-only feature right? To my knowledge, there is no such concept as a broadcast on IPv6. Do the underlying OS APIs still expose a broadcast address on IPv6?

[2018-10-16 20:05] vsemozhetbyt opened #23702 "meta: investigate "incorporating feedback in your pull request""
New GitHub feature:

https://help.github.com/articles/incorporating-feedback-in-your-pull-request/#applying-a-suggested-change

This can simplify nits addressing. We may need to update our contributing guides (including how-to steps to sync local branches with remote changes if needed).

[2018-10-16 20:14] vsemozhetbyt commented on #23702
Example: https://github.com/nodejs/node/pull/23701#discussion_r225691867

[2018-10-16 20:42] U-siro commented on #23668
Better bet is see updns code. @beoz
[code]

[2018-10-16 20:51] bnoordhuis commented on #23697
`xn--www-4m0aa` decoded is `\u200B\u200Bwww`. U+200B is the [zero-width space](https://www.fileformat.info/info/unicode/char/200B/index.htm).

From a security perspective, I'd say it's right it gets rejected, otherwise it's easy to create URLs that look identical visually.

[2018-10-16 21:05] bnoordhuis commented on #23462
Closing. No follow-up and seems to be working as expected.

[2018-10-16 21:05] #23462 closed

[2018-10-16 21:40] jimmywarting commented on #23697
So everyone here seems to be saying that it's a invalid punycode url. So is Node doing this correctly and the browser dose not?

[2018-10-16 21:44] Trott commented on #23433
I think step zero should be to update the documentation to specify the current behavior. If we change that behavior, fine, but there should be no reason to not have correct docs while that is being discussed. Is there already a PR open to update the docs? If not, I'm happy to do it or let @thefourtheye or anyone else do it.

[2018-10-16 21:46] jasnell commented on #23697
Correct. The browsers seem to be falling back to a lenient parse mode that does not actually try to interpret the invalid punycode.

[2018-10-16 21:52] bnoordhuis commented on #23677
Errno 75 is `EOVERFLOW`. Since you're on a 32 bit system, trying to scandir on a shared mount, it's likely that the inode number is > 2**32 and doesn't fit in the `st_ino` field of `struct stat`.

I speculate that nvm compiled your node binary without large file support. Can you try the official binary from https://nodejs.org/?

[2018-10-16 22:08] refack commented on #23702
Example2: https://github.com/nodejs/node/pull/22079/files#r225699740

IMHO it's a very nice feature for reviewers who are willing to make the extra effort.
We do need to be a little bit careful since GitHub is not an IDE, so when suggesting code changes it should be stated explicitly if it was tested, or is pseudocode.

[2018-10-16 22:13] refack commented on #23702
I believe there's a balance to strike here. IMHO our contribution guide should focus on the things that are specific to work in this repo. While points that require general git and GitHub literacy should be referred to better guides. Such as the new https://lab.github.com/

[2018-10-16 22:21] vsemozhetbyt commented on #23433
Would it be a bit confusing to state 3 different behavior in docs? Especially callback/sync variant (merging) vs promise variant (appending)?

[2018-10-16 22:31] hashseed commented on #21410
This has not changed in that we cannot expect the GN team to provide any help and support for the Node.js use case, if it differs from what it offers to Chromium.

[2018-10-16 22:31] mhdawson commented on #23265
This discussion related to https://github.com/nodejs/Release/issues/341 as well. If we had a Development kit and a Deployment kit (or equivalent) then we could add a shared library in addition to the existing exe without concern over the additional size.

[2018-10-16 22:37] mhdawson commented on #23612
@wnordmann if I understand correctly you want to just get the coverage provided by running a single test?

[2018-10-16 23:01] refack commented on #21410
Having GN side by side IMHO is worth discussing...

I'm not convinced that checking in what will essentially be "dead code" (WRT to node core and our CI) is good practice. It might be a good will gesture towards Electron, but it is not free for us. (And I totally understand Electrons motivation, since AFAIK they need to GN build Chromium as well)

@ofrobots, @hashseed The conflation is intentional

[2018-10-16 23:04] refack commented on #21410
P.S. that's a good example, but it does not strengthen your point. building with ninja doesn't work. And ATM I'm the only one maintain it for my personal use. So it's a very good example of how quickly dead code rots.

[2018-10-16 23:13] TimothyGu commented on #23697
Agreed with all of the above. Note, the latest whatwg-url package also [throws](https://jsdom.github.io/whatwg-url/#url=aHR0cDovL3huLS13d3ctNG0wYWEuaGVyZ2l2ZW5oYWlyLmNvbS8/eT1NQUtFQkExMTI=&base=YWJvdXQ6Ymxhbms=) when this URL is parsed.

[2018-10-16 23:24] #23697 closed, assigned to nobody

[2018-10-17 00:01] pprindeville commented on #23437
@silverwind That's correct.  Is there a preferred way to export constants in JS?  See:

https://github.com/libuv/libuv/pull/2033/files#diff-56343bd7ad8bf449c2693082fb3e4081R1097

how do I export this (`IN6ADDR_ALLHOSTS_GROUP`) into the JS space from C as a `const`?  I'm a C programmer supporting a JS team...

[2018-10-17 00:42] joyeecheung commented on #21410
Yeah, ninja is probably not a good example, but then I don't think ninja is used by any project with significant velocity?

Judging from my observation those two won't be eliminated even with the GN scaffold because the flaky test policies or branching stories there are just different from this repo. There may not be significant benefit for node core, but is there significant harm in not maintaini

[2018-10-17 01:00] refack commented on #21410
😄 ninja is the best part of the chromium build toolchain. It's make without the cruft. The only builder that I found that can do reproducible-builds (IIUC it actually hashes the inputs, not just stat them). And it's cross platform. We should build node with ninja by default 🎉

[2018-10-17 01:29] joyeecheung commented on #21410
@refack No I mean, ninja support (i.e. configs for ninja, not ninja itself) in core is broken because it's not depended by any project, only by human(s?) who want to use ninja, so it's not exactly in the same situation as GN support in core.

[2018-10-17 01:41] refack commented on #21410
Ahhh. Yes that sounds like the right analysis.

[2018-10-17 02:35] Trott commented on #23433
It will be a bit confusing, but hopefully less confusing than the current situation of having the same behavior but incorrectly documented.

[2018-10-17 04:09] Trott commented on #23694
@nodejs/url

[2018-10-17 04:47] srl295 commented on #23244
So, it's time. http://blog.unicode.org/2018/10/icu-63-released.html

[2018-10-17 05:49] addaleax commented on #23437
@pprindeville Using `NODE_DEFINE_CONSTANT(target, IN6ADDR_ALLHOSTS_GROUP);` in the `Initialize` function of `node_os.cc` should work?

[2018-10-17 07:11] refack commented on #21410
Wasn't it your team that removed the gyp scaffolding from V8 since it was deprecated 😉

I'm not totally opposed, I'm just not sold yet. I'm worried about maintenance, and I still don't see the upside, (if all the maintenance will be done down stream anyway) but I'm willing to listen.

Let see the PR and figured out how this is going to work.

[2018-10-17 07:30] ehmicky commented on #23693
This issue is solved by Chrome 71 indeed. Thanks!

I am not sure whether to close this issue right away and whether you would prefer to patch Node.js until Chrome 71 is out of beta.

[2018-10-17 07:31] thefourtheye commented on #23433
@Trott I got a PR up to clarify the behaviour of file descriptors with `readFile` and `writeFile`.

[2018-10-17 08:12] webroru commented on #20325
Thanks!
Or `npm-shrinkwrap.json`. work for me too

[2018-10-17 09:06] AdamMajer commented on #23675
I've been able to generate consistent coredump for this problem in a regular chroot using

`for (( i=0;i<500;i=i+1)); do ../node parallel/test-trace-events-dynamic-enable.js&  done`

This gets me generally about 1% failure rate on the test.

  * gcc (SUSE Linux) 8.2.1 20180831 [gcc-8-branch revision 264010]
  * TERM=xterm

Backtrace is always the same in case of failure,

[code]

[2018-10-17 09:30] targos commented on #23688
Sure. I suppose https://github.com/nodejs/node/pull/22251 is the PR? Do we need to revert all 3 commits?

[2018-10-17 09:58] datdinhquoc commented on #16844
i `console.log(import.meta)` and have only 1 property available which is 'url'.

i'm using node 10.12.0

[2018-10-17 10:15] gillesdemey opened #23710 "module: createRequireFromPath documentation is incorrect"
* **Version**: v10.12.0
* **Platform**: MacOS 10.14 (Darwin)
* **Subsystem**:

The [documentation](https://nodejs.org/docs/latest/api/modules.html#modules_module_createrequirefrompath_filename) for `createRequireFromPath` makes it seem like you can pass a directory to the function, but that will never correctly resolve packages.

Using the following directory structure;

[code]

The following code

[2018-10-17 10:29] bzoz commented on #23446
This repo is for reporting issues with node core, and this is an npm issue. Try reporting it in the npm bug tracker or if you need help with your package try https://github.com/nodejs/help.

[2018-10-17 10:29] #23446 closed

[2018-10-17 10:53] addaleax commented on #23328
@paulrutter I guess the main issue here is still the question of what API format we want… If we are okay with a `stream.Readable` (which I think would fulfill everybody’s requirements), then the next step would be to look into adding pull stream support to the relevant V8 API… that might be quite a bit of work, but possibly worth it?

If we want something that requires no V8 changes, we need some

[2018-10-17 12:33] hashseed commented on #21410
touché :)

I was actually also hoping that GN would benefit Node.js as well, from being integrated, e.g. providing a wider window when upgrading V8, e.g. node canary would not be blocked on gyp configs. Also, sanitizers.

[2018-10-17 12:34] guybedford commented on #16844
@datdinhquoc you can use `fileURLToPath` here -

[code]

[2018-10-17 12:46] JCMais commented on #23253
Had forgot about Electron, looks like it's still required then, and will stay that way. I think we can close this issue.

[2018-10-17 13:02] #23253 closed

[2018-10-17 13:30] joyeecheung commented on #21410
Would it make sense if we use GN to build the canary? It should be easier to port our necessary GYP changes to GN to build that (I guess the necessary changes are probably mostly file list changes, maybe a build flag or two once in a while) than to port V8 GN changes to GYP, so that when the bot bumps V8 in the canary it'll be easier to fix and we will not have all the canary releases missing unti

[2018-10-17 14:08] refack commented on #21410
Yes and no. For one we could do it today with `./configure --build-v8-with-gn`. But the v8-canary is built and tested in our CI cluster which doesn't have GN...

AFAIK we don't test with LKGR, we test with the head of the new dev branches, and porting to gyp is work that needs to be done anyway. From my experience there where few instances when that work had to be undone because of V8 dev branch c

[2018-10-17 14:18] refack commented on #21410
BTW: this is exactly what I was asking during the V8 gyp deprecation process. Who is going to do the porting (https://github.com/nodejs/TSC/issues/411), and is part of my apprehension regarding this. I could make the argument that the V8 team could help with gyp porting, since AFAIK they have more resources than us...

[2018-10-17 14:25] refack opened #23712 "meta: handling abandoned PRs"
This came up WRT to https://github.com/nodejs/node/pull/23615#issuecomment-430641654, and specifically WRT to code & learn PRs.

What do we do with abandoned PRs, that is PR that are either incomplete, have outstanding changes requested, or questions left unanswered. Where the author disengaged, or is simply unresponsive for a long time?
And how much time needs to pass before we consider a PR as s

[2018-10-17 14:27] Trott opened #23713 "Investigate flaky parallel/test-http-default-port"
https://ci.nodejs.org/job/node-test-commit-arm/19285/nodes=ubuntu1604-arm64/console

[code]

[2018-10-17 14:29] cjihrig commented on #23712
I think if a collaborator wants to shepherd an abandoned PR, then more power to them.

[2018-10-17 14:29] jasnell commented on #23712
A PR that was opened 5 days ago by a code-and-learn participant does not really qualify as "abandoned". People get busy and have other things going on in their lives. It's worth being patient.

Generally the way we've handled stalled PRs in the past is to either: (1) ping the author after about a month or more to see if they are still interested in progressing the PR forward, (2) if the PR is in r

[2018-10-17 14:31] refack commented on #23712
My opinion:
Either close them or some Collaborator adopts them (into a new PR).
Especially for Code and Learn PR, IMHO we are doing a disservice to the participants if we over-reach our role as stewards and actually do the work for them. That missed the "and Learn" part of the process. It's my opinion that interacting with reviewers, and learning GitHub etiquette is a major part of the learning ex

[2018-10-17 14:35] jasnell commented on #23712
It's only been five days. Give it some time. Part of GitHub etiquette is being patient.

[2018-10-17 14:36] refack commented on #23712
I think that it that specific C&L case the steward jump the gun and didn't give the original author a chance to engage and continue the learning process. The change on it's own is not urgent, and IMHO the main benefit we can get from it, is the engagement with the original author.
If time passes and it seems the the author abandoned this PR, I say we close it.

[2018-10-17 14:37] refack commented on #23712
I'm totally behind being patient, IMHO we should give that author the time to follow up on their own.

[2018-10-17 14:42] refack commented on #23712
P.S. AFAIK We also don't have a policy for dismissing other collaborator's reviews without giving them a chance to respond.

[2018-10-17 15:02] xiaobai2017666 opened #23714 "The arrow function is different in two cases."
The first case is in Chrome browser.
[code]
//1
The second case is in the nodejs environment.
[code]
//undefined

Version:    v8.11.3

[2018-10-17 15:28] sam-github commented on #21410
I use ninja, the gyp builds on my machine occaisonally don't build the the js2c files, for reasons I haven't been able to track down through the muck that is gyp. The ninja builds don't have this problem. So, thanks for working on them!

@refack Here's the consensus among the people sitting around the table as I understood it, I hope I don't misstate anyone.

A number of us (including me) share yo

[2018-10-17 15:29] xiaobai2017666 commented on #23714
Do not use REPL mode.

[2018-10-17 15:31] addaleax commented on #23714
The difference here is that, if you run `node filename.js` (or use `require()` to load code), variables are going to be local to a script. So, when you write `var x = 1;` in the REPL or in a Browser script, it is going to create a variable accessible through `window.x` (`window` is the global variable in browsers), whereas in Node.js, it is not going to be accessible anywhere else.

If you want th

[2018-10-17 15:31] xiaobai2017666 commented on #23714
![](https://i.loli.net/2018/10/17/5bc755d5174d4.png)

[2018-10-17 15:37] xiaobai2017666 commented on #23714
All right

[2018-10-17 15:40] hashseed commented on #21410
Building a GN to GYP transpiler or vice versa for a single use case sounds like more work than worthwhile tbh.

`--build-v8-with-gn` works with caveats. Specifically, V8 has ICU as dependency, and Node does too. That means using the hybrid build, ICU is built twice, one shipped with Node and one shipped with gclient with V8. If the versions mismatch, we run into crashes at runtime. That has forced

[2018-10-17 15:54] mmarchini commented on #21410
Does that mean we would need to use `gclient sync` to build node, as well as have the entire `depot_tools` installed?

Sanitizers come from GN or clang? If they come from clang we could probably use them with gyp. Also, I think I saw some PRs here to add support to build node with sanitizers.

To be clear, I'm not opposed to add GN to the project, I'm just trying to understand the implications.

[2018-10-17 16:22] demurgos commented on #23696
I found to other failing cases: tabs (also due to the spec) and backslashes (despite the code to handle them).

[2018-10-17 16:32] demurgos commented on #23638
This commit is currently on the branch [`canary-base`]{https://github.com/nodejs/node/tree/canary-base). How likely is it that it will be part of Node 10.x? Having it on 10.x (instead of 11.x) would allow faster adoption of V8-based coverages.

[2018-10-17 16:46] refack commented on #21410
Thank you very much @sam-github. I have voiced concern in the past that collab summit can turn into an exclusive decision making forum (IIUC the mandate is for high bandwidth discussion that is brought back to GitHub for consensus seeking). For the sake of inclusivity, I really appreciate you bringing the context back to the public!

👍 👍 👍

@hashseed (It is actually built 3 time host&target for V8

[2018-10-17 16:52] #23631 closed

[2018-10-17 17:10] refack commented on #19630
This is an interesting issue, I'll try to pick it...

[2018-10-17 17:13] jasnell commented on #669
Closing due to lack of additional follow up in the past 2 years

[2018-10-17 17:13] #669 closed

[2018-10-17 17:14] jasnell commented on #4233
Ping @nodejs/http @nodejs/documentation

[2018-10-17 17:15] Jimbly opened #23716 "No longer able to monkey-patch HTTP parser"
Hi, I'm the maintainer of [http-parser-js](https://github.com/creationix/http-parser-js/), a pure Javascript implementation of the HTTP parser.

Starting with Node v10.1.0, specifically [this commit](https://github.com/nodejs/node/commit/511230fdae1f61594808a8f547c7f3e5e46727ef), users can no longer reliably "monkey-patch" this module in to replace the internal HTTP parser (usually done with `proc

[2018-10-17 17:15] jasnell commented on #1873
Closing due to lack of follow up

[2018-10-17 17:15] #1873 closed

[2018-10-17 17:15] wnordmann commented on #23612
@mhdawson correct.  The main goal is a document update allowing for quick testing / verifying of code coverage.

[2018-10-17 17:16] jasnell commented on #7400
Ping... what's the status on this?

[2018-10-17 17:16] jasnell commented on #7861
Ping @nodejs/http @bnoordhuis ... any thoughts?

[2018-10-17 17:17] jasnell commented on #13929
Closing due to lack of progress

[2018-10-17 17:17] #13929 closed

[2018-10-17 17:17] #14621 closed

[2018-10-17 17:18] jasnell commented on #15257
Still no actual activity on this, should we keep it open?

[2018-10-17 17:18] #16363 closed

[2018-10-17 17:19] jasnell commented on #16466
Closing due to lack of follow up

[2018-10-17 17:19] #16466 closed

[2018-10-17 17:58] #23137 closed

[2018-10-17 18:03] hashseed commented on #21410
Depot tools come with GN and ninja binaries, so yeah. Gclient sync is only necessary to fetch dependencies, which for Node we probably don't need, as the dependencies live in the same repository. Unless of course you want to ensure a particular version of clang to be fetched, like done for Chrome and V8.

[2018-10-17 18:04] hashseed commented on #21410
I thought we only build separately for host and target for cross compiled builds, e.g. arm?

[2018-10-17 18:31] silverwind commented on #15257
I agree.

[2018-10-17 18:31] #15257 closed

[2018-10-17 18:32] ChALkeR commented on #7400
#21677 landed and does roughly the same as `--enable-lto`, but with a different flag name and only for Linux.

Perhaps that should be enough to resolve this issue?

[2018-10-17 18:39] lukejsimonetti commented on #23677
That worked. Good speculation!

[2018-10-17 19:02] sam-github commented on #7861
The performance gain seems to be that some servers may allocate significant resources per connection, possibly even an entire process. This is wasteful if those resources are unused until data is actually received from the client. Also, they may never be used if the client either accidentally or maliciously establishes a TCP connection but never sends HTTP data, in which case the resources will be

[2018-10-17 19:28] demurgos commented on #23696
This bug also occurs with TAB and CR characters. I have a patch that fixes it by percent-encoding these characters before passing them to the `pathname` setter.

[2018-10-17 19:29] mmarchini commented on #23716
cc @nodejs/http-parser

[2018-10-17 19:33] mmarchini commented on #7861
I can look into that.

[2018-10-17 19:37] jdxcode opened #23719 "node exits inside emacs subshell when running process.stdin.isTTY"
* **Version**: v10.12.0
* **Platform**: Darwin jdickey-ltm2.internal.salesforce.com 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64
* **Subsystem**: process

To reproduce, first open emacs, then press ESC-x "shell" then run: `node -e "process.stdin.isTTY"`

Rather than return and drop back into bash, these exit the subshell entirely for

[2018-10-17 20:09] jasnell commented on #22554
This will need to land by Saturday if it's going to make the 11.0.0 milestone.

[2018-10-17 20:09] jasnell commented on #23122
@addaleax ... what is the status on this?

[2018-10-17 20:13] addaleax commented on #23122
@jasnell I think we’re good as far as the situation around v10.x/v11.x is concerned… the rest here is more about future-proofing

[2018-10-17 20:15] jasnell commented on #23122
Ok, taking it off the 11.0.0 milestone then

[2018-10-17 20:27] devsnek commented on #23716
i'd be interested in seeing a parser option added to the public api.

[2018-10-17 20:45] Jimbly commented on #23716
@devsnek Right now the http parser seems often pretty coupled with the internal http modules (there's some two-way communication about things like upgrade requests) in ways that make it hard to have a good clean API (and require a bunch of Node-version-specific behaviors in *http-parser-js*), but obviously that could be improved, but I think that's a much larger undertaking than anything I'm inqui

[2018-10-17 21:17] nornagon commented on #21410
FYI, I've been working on a prototype of this here: https://github.com/electron/node/tree/gn-upstreaming

It's not ready to be a PR yet, but it does successfully build node (at least, on my machine 😉).

[2018-10-17 21:44] joyeecheung commented on #21410
I think by `around the table` @sam-github was talking about this thread? There wasn't a physical table where we actually sat down and seeked consensus about GN v.s. GYP AFAIR (and most sessions were like brainstorming and demoing instead of consensus seeking).

[2018-10-17 22:13] rossj opened #23722 "path: add Buffer support in path methods"
**Is your feature request related to a problem? Please describe.**
PR #5616 gave us support for Buffer paths in all fs methods, primarily to allow interacting with files of unknown or invalid file encoding. One frustration has been that the path methods, which are often used in conjunction with fs methods, only accept strings. This makes it difficult to perform many higher-level fs operations in a

[2018-10-17 23:00] pprindeville commented on #23437
Even though the argument is of type `const struct in6_addr`?

[2018-10-17 23:13] sam-github commented on #21410
@joyeecheung there was a physical table, it was the LTS and Release group discussion. @addaleax was present and probably has a better memory than me who else was there.

[2018-10-17 23:17] joyeecheung commented on #21410
@sam-github Thanks for the correction. Was there minutes taken? (Didn't find anything in https://github.com/nodejs/Release/issues/358)

[2018-10-17 23:34] sam-github commented on #23719
Can't repro:

[code]

[2018-10-17 23:40] sam-github commented on #21410
I don't recall. @MylesBorins kicked the meeting off, he may remember.

[2018-10-17 23:50] joyeecheung opened #23723 "doc: list the stability status of each API in one place?"
Right now each API has their own page with their stability index, but AFAIK there is not a central place where you can find the stability status of all the APIs at a glance (correct me if I am wrong). It may be useful to have a list somewhere in https://github.com/nodejs/node/blob/master/doc/api/documentation.md#stability-index

[2018-10-18 00:33] jdxcode commented on #23719
it only happens in bash

[2018-10-18 00:34] jdxcode commented on #23719
[code]

[2018-10-18 01:56] jdxcode commented on #23719
Updating to emacs 26.1 fixes this issue. Must be an emacs bug.

[2018-10-18 01:56] #23719 closed

[2018-10-18 03:01] #23671 closed

[2018-10-18 03:35] apapirovski commented on #23428
Do all of your promises keep the event loop alive? It's possible for the process to die because there's nothing keeping the event loop alive (a promise in itself is not enough).

[2018-10-18 03:39] #22257 closed

[2018-10-18 03:46] apapirovski commented on #23316
It seems unlikely that this'll happen in core and there are some good references posted above. As such, I'm going to close this out but feel free to reopen if you believe I've made a mistake or just have something new to add to the conversation. Just keeping the issue tracker tidy.

[2018-10-18 03:46] #23316 closed

[2018-10-18 03:55] #23334 closed

[2018-10-18 04:03] alexpreynolds commented on #23428
I thought the node.js environment is not supposed to quit if there are items queued in the event loop.

[2018-10-18 04:05] Trott commented on #15164
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-10-18 04:05] #15164 closed

[2018-10-18 04:07] Trott commented on #16514
Many of these issues are now handled by our lint rules.

It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-10-18 04:07] #16514 closed

[2018-10-18 04:09] Trott commented on #14717
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-10-18 04:09] #14717 closed

[2018-10-18 04:11] Trott commented on #14982
This test is now in `sequential` and has a slightly different name. Seems likely it's not flaky anymore. Closeing.

[2018-10-18 04:11] #14982 closed

[2018-10-18 04:11] Trott commented on #10286
This test no longer exists. (It has probably been renamed.) Closing.

[2018-10-18 04:11] #10286 closed

[2018-10-18 04:12] Trott commented on #15284
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-10-18 04:12] #15284 closed

[2018-10-18 04:13] Trott commented on #18502
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-10-18 04:13] #18502 closed

[2018-10-18 04:13] Trott commented on #18454
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-10-18 04:13] #18454 closed

[2018-10-18 04:14] apapirovski commented on #23144
Sounds like this has been addressed now. I'm going to close it out as I'm trying to keep the issue tracker tidy but please feel free to reopen.

[2018-10-18 04:14] #23144 closed

[2018-10-18 04:15] #18961 closed

[2018-10-18 04:16] apapirovski commented on #23079
Seems like this conversation has run its course. Going to close it out but feel free to reopen if you believe I've made a mistake. Just keeping the issue tracker tidy.

[2018-10-18 04:16] #23079 closed

[2018-10-18 04:18] Trott commented on #15558
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-10-18 04:18] #15558 closed

[2018-10-18 04:19] #22958 closed, assigned to nobody

[2018-10-18 04:21] #22884 closed, assigned to nobody

[2018-10-18 04:22] #19906 closed, assigned to nobody

[2018-10-18 04:31] apapirovski commented on #22323
Given the lack of a follow up and the fact that this seems to be resolvable as per the comment above, I'm going to close this out. That said, feel free to reopen. I don't feel strongly about this or anything, just keeping the issue tracker tidy.

[2018-10-18 04:31] #22323 closed

[2018-10-18 04:31] apapirovski commented on #22205
This is intentionally undocumented so I guess `wontfix`.

[2018-10-18 04:31] #22205 closed

[2018-10-18 04:35] apapirovski commented on #21972
This particular issue seems to have run its course. We should open a new one if this is still a discussion worth having, because at this point no one will see this or comment.

[2018-10-18 04:35] #21972 closed

[2018-10-18 04:36] Trott commented on #19940
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-10-18 04:36] #19940 closed

[2018-10-18 04:36] apapirovski commented on #21956
Given that this is documented, seems reasonable to me to close this out. Feel free to reopen if you disagree although I do think that should be accompanied by a PR if so.

[2018-10-18 04:36] #21956 closed

[2018-10-18 04:37] apapirovski commented on #21885
Given the lack of a follow up and the fact that we're now significantly past 10.7.0, I'm going to close this out. Feel free to reopen if you believe this to still be an issue that needs addressing.

[2018-10-18 04:37] #21885 closed

[2018-10-18 04:38] apapirovski commented on #21698
Given the lack of a follow up and the fact that we're significantly ahead in versions now, I'm going to close this out. Feel free to reopen if you happen to have more info and this is still an issue on latest Node.js current version.

[2018-10-18 04:38] #21698 closed

[2018-10-18 04:38] #21566 closed

[2018-10-18 04:42] apapirovski commented on #21063
Sounds like there's nothing left to address here. The change was reverted.

[2018-10-18 04:42] #21063 closed

[2018-10-18 04:42] apapirovski commented on #20822
I'm going to close this out given how much time has passed and the lack of a follow up. Do feel free to reopen if you happen to have more info.

[2018-10-18 04:42] #20822 closed

[2018-10-18 04:43] apapirovski commented on #20806
This was fixed.

[2018-10-18 04:43] #20806 closed

[2018-10-18 05:01] liangw89 opened #23726 "Add new core modules to Node"
Hi guys,

I am working on creating a more secure nodejs runtime. I tried to replace some core modules with modified versions. One of my modules is an addon which consists of a js file and a .node file. I changed the node.gyp file to include the js file but when running apps node threw errors like "No such built-in module: xx/xx.node". I wonder what is the right way to add an addon as the core modu

[2018-10-18 06:41] slonka commented on #23444
@nik72619c are you still working on this? If not I'm happy to take over.

[2018-10-18 08:47] davoam commented on #8650
I got this error when I used `keepAlive: true`, but did not send `Connection: Keep-Alive` header. Adding the header helped to fix the problem

[2018-10-18 09:29] sinclairzx81 opened #23728 "Generators - Heap out of memory"
The following code seems to result in a `heap out of memory` panic. Details below.

### version
- os: ubuntu 16.04
- node: v10.12.0
- arch: x64

### repro
[code]
### result
[code]

[2018-10-18 09:46] sinclairzx81 opened #23729 "console.log - heap out of memory"
The following code seems to result in a `heap out of memory` panic. Details below.

### version
- os: ubuntu 16.04
- node: v10.12.0
- arch: x64

### repro
[code]
### result
[code]

[2018-10-18 09:47] sinclairzx81 commented on #23728
moving to https://github.com/nodejs/node/issues/23729

[2018-10-18 09:47] #23728 closed

[2018-10-18 09:49] Hakerh400 commented on #23729
It's because `console.log` uses internal buffers that can be deallocated only when the event loop takes control again. It is intended behavior I think.

Replacing `console.log(idx++)` with

[code]

doesn't cause crash.

[2018-10-18 09:50] demurgos commented on #23710
I don't believe the documentation is incorrect, but it could be improved.

[code]

Only a file can be a module. Your code is resolving from an extension-less file named `utils` in the `src` directory. You can't reliably use the path to differentiate directories from files (you can have a directory named `utils.js`, trailing separators are usually a source of bugs, etc.) and this function can be us

[2018-10-18 09:54] joyeecheung commented on #23729
This should be expected, the GC never gets a chance to kick in in a `while(true)` dead loop, so it will eventually crash. Replacing `console.log()` with `fs.writeSync()` will not prevent the crash, but because `fs.writeSync()` is a much less complicated method than `console.log()` (hence much less heap allocated internals), the crash will come much slower.

[2018-10-18 10:12] mika-fischer opened #23730 "Stream destruction breaks async-iteration and ends nodejs event loop"
* **Version**: v10.12.0
* **Platform**: Windows 10 64-bits
* **Subsystem**: streams

Async iteration over a readable stream breaks horribly if for any reason, the stream is destroyed while the iteration is still running. I would expect that the iteration runs normally or throws an exception. What happens instead is that the whole event loop is shut down.

Most notably this makes async iteration us

[2018-10-18 11:08] mattiasrunge commented on #23694
Hi,
From what I understand from the docs there is no way to use the new URL-object to create a url from scratch since the URL constructor requires a string argument. Though it is possible to change the parameters and construct a new URL by inputting some dummy url, ex:
[code]
Using the legacy API it is possible to construct an url with url.format. What is the way to do this going forward?

Using a

[2018-10-18 11:13] LucaHermann opened #23731 "NODE NPM BUG EACCES SYSCALL UNLINK"
ersion**:v8.12.0
* **Platform**:Darwin devnullmacbook.local 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22 20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64
* **Subsystem**:

Hello i try tu use the command npm install -g npm@latest but i get this :
npm ERR! path /usr/local/bin/npm
npm ERR! code EACCES
npm ERR! errno -13
npm ERR! syscall unlink
npm ERR! Error: EACCES: permission denie

[2018-10-18 11:14] domenic commented on #23694
I think something closer to what you're looking for would be

[code]

[2018-10-18 11:33] bzoz commented on #23668
Yeah, a repro without using `updns` would be helpful, since most likely this is an issue with the package itself. The same error can be achieved by misusing `Buffer` API:

[code]

[2018-10-18 12:39] targos commented on #23730
@nodejs/streams

[2018-10-18 13:16] mmarchini commented on #23316
https://www.npmjs.com/package/callsites might be of your interest as well.

[2018-10-18 13:33] sinclairzx81 commented on #23729
@Hakerh400 @joyeecheung thanks for joining in. I'll close this one off I think. I did find it somewhat surprising that `while(true) { console.log('hello world') }` would eventually panic a node process (i'd have assumed a GC collect before hand), but perhaps this is the nature of JS/v8.

Have tested node versions all the way back to `0.6` so assume this to be a known caveat.

Thank tho.

[2018-10-18 13:33] #23729 closed

[2018-10-18 13:39] Hakerh400 commented on #23730
Simplified repro:

[code]

The `resolve` function assigned to `iterator[kLastResolve]` never gets called:

https://github.com/nodejs/node/blob/05394d2e10c83fe0efb2f47eb5404a18acfe439b/lib/internal/streams/async_iterator.js#L143-L152

[2018-10-18 13:47] mcollina commented on #23730
Definitely it's a bug, as @Hakerh400 showed.

@mika-fischer the event loop is shutting down because there is nothing asynchronous left to do. If you add the following:

[code]

The application will keep running

[2018-10-18 14:00] guybedford commented on #23710
Yes it looks like the example should be changed to include a trailing separator:

[code]

[2018-10-18 14:15] gillesdemey commented on #23710
@guybedford It works when appending a trailing slash **and** a `.`, not when just appending a trailing slash.

const requireUtil = createRequireFromPath('../src/utils/.');

[2018-10-18 14:20] U-siro commented on #23668
@bzoz Thanks for your comment! However, I think that shouldn't Native error, but a syntax error. :)

[2018-10-18 14:36] guybedford commented on #23710
@gillesdemey thanks for confirming. That sounds incorrect to me. I specially included logic to handle retaining trailing slashes in the pathToFileURL function.

[2018-10-18 14:39] guybedford commented on #23710
Ah, I get we're in path resolution and this is how Node path resolution works generally, which is a difference with how URLs behave.

[2018-10-18 14:39] guybedford commented on #23710
It would seem sensible to me to specifically add support for a trailing separator in this function though.

[2018-10-18 15:54] robertoschiavone commented on #23723
I can pick this one

[2018-10-18 16:40] TimothyGu commented on #23694
@domenic That wouldn’t work because `about` is non-special, while `https` is a special scheme. Something that would probably work is

[code]

[2018-10-18 17:55] rossj opened #23735 "fs: cannot interact with invalid UTF-16 filenames on Windows, even with Buffers"
* **Version**: 10.12.0
* **Platform**: Windows 10 64-bit
* **Subsystem**: fs

PR #5616 gave us support for Buffer paths in all fs methods, primarily to allow interacting with files of unknown or invalid file encoding. This helps on UNIX/Linux where filenames are technically just strings of bytes and do not necessarily represent a valid UTF-8 string.

Similarly, on Windows, filenames are just array

[2018-10-18 18:35] isaacs opened #23736 "fs.lchmod opens file with O_WRONLY unnecessarily, fails on directories and non-writable files"
Version: output of `node -v`
Platform: output of `uname -a` (UNIX), or version and 32 or 64-bit (Windows)
Subsystem: if known, please specify the affected core module name

If possible, please provide code that demonstrates the problem, keeping it as
simple and free of external dependencies as you can.
-->

* **Version**: v10.12.0
* **Platform**: Darwin geegaw.local 18.0.0 Darwin Kernel Version 18

[2018-10-18 18:44] addaleax commented on #23735
I think the issue here is that libuv attempts automatic UTF-8 → UTF-16 conversion for Windows file paths… /cc @nodejs/libuv

[2018-10-18 19:31] gillesdemey commented on #23710
I can submit a PR to support passing a directory?

The following change seems to do the trick :)

[code]

[2018-10-18 19:50] mmarchini opened #23737 "Travis linter false-negatives for commit message checks"
Saw this on two PRs today (https://github.com/nodejs/node/pull/23512 and https://github.com/nodejs/node/pull/22079), Travis is complaining that "subsystem is missing". In both cases commit message is following our guidelines and have a valid subsystem in their titles.

[2018-10-18 19:54] refack commented on #16601
Flake morphed into a timeout:
[code]
https://ci.nodejs.org/job/node-test-commit-linux/nodes=ubuntu1404-64/22483/

[2018-10-18 19:59] richardlau commented on #23737
https://github.com/nodejs/node/pull/23725

[2018-10-18 20:27] raulsebastianmihaila opened #23738 "Promise resolution MTQ ordering problem"
* **Version**: v8.12.0
* **Platform**: Linux 4.15.0-36-generic #39-Ubuntu SMP MonSep 24 16:19:09 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

[code]
should print 'a' and then later 'b'. Instead it prints 'b' and then later 'a'. I opened [a similar issue](https://github.com/nodejs/node/issues/18510) in February for a previous version (8.9.4) and it was closed because V8 was updated sin

[2018-10-18 21:18] liangw89 commented on #23726
Thank you for your information!

[2018-10-18 21:19] #23726 closed

[2018-10-18 22:54] Trott opened #23740 "Inspect flaky test-net-bytes-per-incoming-chunk-overhead"
https://ci.nodejs.org/job/node-test-commit-linux/22484/nodes=ubuntu1804-docker/console

[code]

[2018-10-18 23:46] jasnell commented on #3020
@devsnek ... sorry, I don't understand your question. The error does not appear to be emitted by anything.

[2018-10-19 00:17] devsnek commented on #3020
@jasnell yeah i guess it is weirdly swallowed. what should it be doing that isn't `process.emit('error', e)`?

[2018-10-19 00:49] jasnell commented on #6038
Ping @nodejs/streams ... @mafintosh @mcollina ... any thoughts here?

[2018-10-19 01:07] jasnell commented on #10555
Ping @sam-github ... would you be interested in taking another run at https://github.com/nodejs/node/pull/10846?

[2018-10-19 01:34] FallingSnow opened #23748 "http2/http1 compatibility API error with connection header"
* **Version**: v10.11.0
* **Platform**: Linux archlinux 4.18.14-1-ck-skylake #1 SMP PREEMPT Sat Oct 13 16:38:26 EDT 2018 x86_64 GNU/Linux
* **Subsystem**: http2

### Original Issue: https://github.com/hapijs/hapi/issues/3830

#### What you expect:
No error should be thrown. The `connection` header should be ignored by the http2 module.

#### What actually happens:
An error is thrown.

#### Descrip

[2018-10-19 01:55] jasnell commented on #23748
This is a tricky one. The `connection` header is forbidden by HTTP/2 for any value other than `'trailers'`. The spec, however, is not clear on whether it is an terminal error or not. Silently ignoring it if it is set to any other value is quite risky and could violate various assumptions and I believe that nghttp2 will reject automatically if it's there (I will verify that belief later on tonight)

[2018-10-19 02:37] apapirovski commented on #23748
We could just log a warning once on the compatibility side and ignore the header (not pass it on). That would probably make the most sense here?

[2018-10-19 02:42] bnb opened #23749 "Include list of all subsystems/topics in README.md"
**Is your feature request related to a problem? Please describe.**
Approaching Node.js as a first time contributor or someone trying to understand the project's processes.

**Describe the solution you'd like**
List out and define all subsystems/topics in the README.md file. Examples of what I'm referring to: **deps, doc, test, meta, build, util**. These are terms we use heavily in PRs but don't ac

[2018-10-19 02:44] sebdeckers commented on #23748
The compatibility API could be viewed as an "intermediary":

(Emphasis added)

[2018-10-19 02:47] richardlau commented on #23749
README.md is already very lengthy -- maybe put the information somewhere under https://github.com/nodejs/node/blob/master/CONTRIBUTING.md?

[2018-10-19 04:28] Trott commented on #23749
FWIW, our Travis runs currently flag any PRs where the first commit does not contain a valid subsystem in the title line of the commit message. This is a recent addition (and one that has caused some problems and needed some tweaking, but I'm cautiously optimistic that we have something reasonably useful now).

[2018-10-19 04:32] mattiasrunge commented on #23694
Thank you for the response! Seems like pretty easy solutions but still a bit hackish to have to enter a dummy url. Would it be possible to remove the requirement for giving an initial url or would that break the spec?

[2018-10-19 06:15] mcollina commented on #23748
I think we should change the behavior. This looks more like a bugfix to me than semver-major.

[2018-10-19 07:11] HYU-LeeHG commented on #23723
I expect to make the first commit of nodejs. I can gather the stability of APIs in one place.

[2018-10-19 07:47] vsemozhetbyt commented on #23723
I suppose we may need to automate this with doc tools scripts. Otherwise, each deprecation and API addition will need to be addressed in this list manually which is error-prone.

[2018-10-19 08:49] joyeecheung commented on #23723
@vsemozhetbyt Good idea. Can you leave a few pointers? I only have a vague idea that people who want to hack on this should start in https://github.com/nodejs/node/tree/master/tools/doc

Also cc @nodejs/documentation

[2018-10-19 10:31] vsemozhetbyt commented on #23723
Recently, we change our toolchain a bit, so maybe @rubys can dive some hints.

I think we have at least two options:

1. Parse TOC in [all.html](https://nodejs.org/api/all.html). TOC entries already have `class="stability_*"` attributes for deprecated and experimental stability. But we may need to distinguish API headers from other headers here (by a REgExp?).

2. Parse [all.json](https://nodejs.o

[2018-10-19 11:16] rubys commented on #23723
I recommend that all.json approach.  The input data is already parsed.  Iterate over the structure, producing output as you go.  The tool should go in the `tools/doc/' directory, and added to the Makefile as depending on `out/doc/api/all.json`.  As we seem to have volunteer(s), I'll review and coach as needed.

[2018-10-19 12:31] #23681 closed

[2018-10-19 12:57] mmarchini commented on #23749
Could be a text file (for example, `.subsystems`) with one subsystem per line, and then we could reference this file in https://github.com/nodejs/node/blob/master/CONTRIBUTING.md.

[2018-10-19 13:01] targos commented on #23749
+1 I'm experimenting with a commitizen plug-in and that would be useful

[2018-10-19 13:55] Trott commented on #21425
Host: test-azure_msft-win2016-x64-3

https://ci.nodejs.org/job/node-test-binary-windows/20867/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=0/console

[code]

[2018-10-19 14:21] mmarchini commented on #23185
@vmarchaud if you could share a sample code without 3rd party libraries to reproduce this failure, or a `core dump` (if there's no sensitive information in your application) / `node-report`, I can take a look into it.

[2018-10-19 14:35] Greypuma opened #23754 "ng --version does not work in one directory"
Version: output of `10,12,0`
Platform: Windows 10 Enterprise 64-bit
Subsystem: angular

After installing angular using  npm install -g @angular/cli
then i checked the version number, it produced the version i expected. i tried in the folder with the project i was working on and it didn't work. i got the error
"ENOENT: no such file or directory, scandir "D:\Visual studio code projects\DutchTreat2\D

[2018-10-19 15:01] antsmartian commented on #22141
@BridgeAR Sorry to ping on the closed bug. If you remember, one of the early comments you mentioned that:

I was looking to implement for `Error` this morning. Lets say for this example:

[code]

Also as said in the issue, we need to handle `null` cases as well (but that should be simple given we have `getConstructorName` and `getPrefix` in place). I have a made rough implementation:

[code]

But

[2018-10-19 15:11] smokinjoe commented on #4230
This problem _still_ exists two years later.

[2018-10-19 15:28] sagitsofan commented on #23748
I think it is better to ignore the connection in the header + log a warning.
I will be happy to take that.

[2018-10-19 16:04] mmarchini commented on #23754
Based on the error message, this seems to be an issue with `@angular/cli` and not Node.js. Looking at [their repository](https://github.com/angular/angular-cli), this seems to be a known issue in one of their latest releases. You can follow this issue at https://github.com/angular/angular-cli/issues/12640 :)

[2018-10-19 16:04] #23754 closed

[2018-10-19 16:36] zimtsui opened #23757 "net.Socket method write() doesn't invoke callback or emit event 'error'"
* **Version**: v10.9.0
* **Platform**: Linux x1c 4.15.0-36-generic #39-Ubuntu SMP Mon Sep 24 16:19:09 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: net.Socket

according to documentation of class 'net.Socket' and 'stream.Writable', after calling socket.write(data, callback), either callback will be invoked or the event 'error' will be triggered.
but i found a counterexample:
[code]
afte

[2018-10-19 17:09] Fishrock123 commented on #23738
Fwiw this issue is fixes in `master`:

[code]

[2018-10-19 17:13] Fishrock123 commented on #23714
I think this can be closed... Hopefully you've got everything working. 😄

[2018-10-19 17:13] #23714 closed

[2018-10-19 17:52] #12813 closed

[2018-10-19 18:29] jasnell commented on #18835
I believe this can be closed now. Please reopen if that's incorrect

[2018-10-19 18:29] #18835 closed

[2018-10-19 18:32] jasnell commented on #19657
Ping @ryzokuken @srl295 ... any progress on this?

[2018-10-19 18:32] jasnell commented on #19694
I think this is resolved now?

[2018-10-19 18:32] #19694 closed

[2018-10-19 18:44] jasnell commented on #22322
This was resolved

[2018-10-19 18:44] #22322 closed

[2018-10-19 18:49] jasnell commented on #21554
Closing as there does not appear to be anything further here

[2018-10-19 18:49] #21554 closed

[2018-10-19 19:08] vsemozhetbyt commented on #23702
[It seems this is not possible.](https://github.com/nodejs/node/pull/23746#issuecomment-431392711)

[2018-10-19 19:20] mhdawson commented on #23690
This change in nyc seems relevant as it looks like it affects the call that is failing.

https://github.com/istanbuljs/nyc/commit/ccf42dffaf93bbc97cd98577f0a2b7724bb8d4c9

[2018-10-19 19:35] mscdex commented on #23757
The callback passed to `socket.write()` is for when the write was (successfully) completed.

[2018-10-19 20:09] elipalmer commented on #18606
I am also having this problem.  This thread suggests it has been fixed, can anyone confirm this?  https://github.com/nodejs/help/issues/1444

[2018-10-19 20:19] mhdawson commented on #23690
So looking at nyc it seems like there were a number of changes that would have broken our testing.  I had tried some earlier versions (ex 12.X) and they did not seem to resolve the problem for me.  It also looks like the last release was over a month ago so this falls into the category of `I'm not sure how it was working`, but current testing new options to our nyc commands to get it working again

[2018-10-19 20:31] srl295 commented on #19657
@jasnell @ryzokuken  @nodejs/intl any comment on

https://github.com/srl295/node/commit/d67d9d070393df4ab382cb4b17321758c44e42c9 - does it seem to be a good direction?

[2018-10-19 20:34] srl295 commented on #22156
@JasonKleban OK, sorry.  Looks like I did not open a PR for https://github.com/nodejs/node/compare/master...srl295:patch-icu-62-sigdig … and also #23715 brings in 63.1 which fixes this. let me see what I can do.

[2018-10-19 20:56] doug-numetric opened #23765 "Ability to log only to attached debugger"
**Is your feature request related to a problem? Please describe.**
I can't find a way to get more verbose logging when I have a debugger attached.

**Describe the solution you'd like**
I want to send console.debug only to console in an attached debugger and not to stdout.

**Describe alternatives you've considered**
I've considered parsing http://127.0.0.1:9229/json/list and only issue the console

[2018-10-19 21:29] JeffML commented on #18606
Did you check chrome://inspect?  if there are ports listed an chrome dev tools is open, then it will be scanning those ports for debugger connections.

[2018-10-19 21:40] #20841 closed

[2018-10-19 21:41] bnoordhuis commented on #22081
Thanks for the bug report. The behavior you describe is an intentional security measure. When node.js runs with elevated privileges (setuid root or capabilities), it ignores the `NODE_EXTRA_CA_CERTS` environment variable.

[2018-10-19 21:55] bnoordhuis commented on #23677
Glad to hear it's working. You might want to file an issue with nvm about the lack of LFS.

[2018-10-19 21:55] #23677 closed

[2018-10-19 22:00] akdor1154 commented on #21554
@jasnell has this option been added to the documentation or website yet? I couldn't see it.

[2018-10-19 22:02] jasnell commented on #21554
Given that it's a V8 flag and we have a general stance about not documenting V8 flags, no it has not. The wiki docs that were removed had been backed up in the wiki-archive repository and the documentation is still in there, as @Trott mentioned.

[2018-10-19 22:33] aslushnikov opened #23773 "setTimeouts are not dispatched in separate tasks"
The following reproduces for me on both node 8 and node 10.

[code]

In Web, every setTimeout will be dispatched in a separate task; as a result, the script will *always*
yield:
[code]

In node, however, the behavior is flaky and every other time I see the following:
[code]

If this is intended behavior, I didn't find any description in [documentation](https://nodejs.org/api/timers.html).

This, h

[2018-10-19 23:16] mscdex commented on #23773
I believe this is a duplicate of https://github.com/nodejs/node/issues/22257

[2018-10-19 23:16] #23773 closed

[2018-10-20 00:24] j-heavy opened #23775 "os.freemem() returns strange value"
Document:
[code]
Output (sometimes):
![node](https://user-images.githubusercontent.com/38788839/47249013-39e6af80-d428-11e8-979e-a382f40009a4.jpg)

Node 8.12.0

[2018-10-20 00:32] dbutlerdb commented on #23271
Trying it again today the installer UI is displayed, so its working! I must have had some change that needed a reboot. I could have sworn I rebooted by my machine a few times because that's generally the solution for something like this.

Thank you both for you time and looking into this!

[2018-10-20 00:32] #23271 closed

[2018-10-20 00:37] mscdex commented on #23775
"^[[A" is what is typically displayed in the terminal while a program is running when you press the up arrow on your keyboard. Is it possible that's what's happening?

FWIW I cannot reproduce this.

[2018-10-20 00:46] j-heavy commented on #23775
Yeah, I know. It seemed to me that I did it a few times.

[2018-10-20 00:46] ChALkeR commented on #23775
I could reproduce this with simultaneously hitting `arrow up` and `enter` keys on my keyboard.
I suppose that's what happening.

The keys are close, so either those are accidential presses or a keyboard fault.

[2018-10-20 00:52] j-heavy commented on #23775
@ChALkeR Yes, you are right
I was able to repeat it with the `arrow up`

[2018-10-20 00:57] kjin opened #23776 "async_hooks: promiseResolve hook not called for async functions with spread args"
* **Version**: master, 10.12, 8.12
* **Platform**: MacOS
* **Subsystem**: async_hooks

Title is self-explanatory -- it seems like the `promiseResolve` hook is not being called when an async function that accepts spread args is invoked. This seems to happen on all versions of Node including the current build on master.

Repro:

[code]

Run this script with the `spread` arg (and without) and compare

[2018-10-20 01:07] aslushnikov commented on #23773
Awesome. Thanks!

[2018-10-20 01:38] addaleax commented on #23722
Since nobody has weighed in so far…

I think that might be a good approach, and one that does not necessarily exclude adding core support at a later point.

One difficulty in implementing this would likely be that the `path` module performs a ton of string concatenations – these are less efficient with `Buffer`s, though…

[2018-10-20 01:56] zimtsui commented on #23757
ok i got it. when the socket hasn't connected, `socket.write()` may queue the data into the buffer until the socket get connected, other than trigger an error. thank you

[2018-10-20 06:17] june07 commented on #23693
Another solution if using NiM is to simply use the 71 DevTools version with whatever browser version you happen to be running. No need to wait for Chrome moving from beta.  See here for more details: https://june07.com/blog/nim-custom-devtools-url/

[2018-10-20 08:11] targos commented on #23765
I think you are looking for `inspector.console`: https://nodejs.org/dist/latest-v10.x/docs/api/inspector.html#inspector_inspector_console

[2018-10-20 08:39] bnoordhuis commented on #23735
Correct. From http://docs.libuv.org/en/v1.x/fs.html:

You feed it UTF-8 and libuv takes care of converting it to/from WCHAR.

[2018-10-20 09:29] ChALkeR commented on #23775
Also note that this is not specific to Node.js in any way — the same could be reproduced with e.g. `sleep 2`, or almost any other program.

You can intercept keypress events, if you want, (though I wouldn't recommend doing that just to solve a keyboard issue)._
See https://nodejs.org/api/readline.html#readline_readline_emitkeypressevents_stream_interface and

I suppose this is answered, closing.

[2018-10-20 09:29] #23775 closed

[2018-10-20 11:06] demurgos opened #23783 "Non-unique V8 scriptUrl when using dynamic import in CJS"
* **Version**: 10.12.0
* **Platform**: Linux 64 bit
* **Subsystem**: Modules

This bug is a regression in `10.11.0`, it worked in `10.12.0`.
I am currently working on Node tooling and code coverage using the V8 profiler. When requesting profiling data, V8 returns an object per script. This object has a `url` value (the value passed to V8 when creating the module).
To support coverage, the URL shou

[2018-10-20 11:29] HYU-LeeHG commented on #23723
I hope to try this work.
So far as I understand it, there is a need to gather the stability of the various APIs of node.js and It is a better to parse all.json.
By the way, I am confused which files need to be modified and where to put gathered things

[2018-10-20 11:29] demurgos commented on #23783
The issue is here:
https://github.com/nodejs/node/blob/3e3ce225830c46fe49f45d7c741aec49d1ef0d2e/lib/internal/modules/esm/create_dynamic_module.js#L51

It should not use `${url}` but something like <code>reexports:${url}</code>

[2018-10-20 13:10] mcollina commented on #23730
See https://github.com/nodejs/node/pull/23785 for a fix.

[2018-10-20 13:52] oyyd commented on #8066
[shadowsocks](https://shadowsocks.org/en/index.html), one of the popular proxy tool we use, utilizes TCP fast open to optimize network traffic.

I personally expect this to be implemented.

[2018-10-20 14:13] mcollina commented on #6038
This needs to be done. It would have to wait until December :/

[2018-10-20 14:55] devsnek commented on #23783
@demurgos can you open this issue on https://github.com/nodejs/ecmascript-modules

[2018-10-20 15:36] antsmartian commented on #22492
@ChALkeR: Just to add an update here.  The first two files listed over here:
[code]

I guess they have corresponding test case in these files:
[code]

respectively.

[2018-10-20 15:36] damianobarbati commented on #19308
Definitely.

[2018-10-20 16:53] devsnek commented on #23783
also... the cjs module itself should not be using a url at all. that might be a bug.

[2018-10-20 18:27] Nitvex opened #23788 "Node.js server sleeps from time to time"
* **Node.js Version**: 10.11.0
* **Platform**: Win 10
* **NPM version**: 6.4.1

Hi there,
It seems I've got a problem. My node.js server sleeps from time to time. I start server by following "node file_name.js" in powerShell or cmd. Actually it server works well, but sometimes it doesn't respond on requests. When I CTRL+Z in powerShell it wakes up and continues responding. So is it problem in code

[2018-10-20 20:27] voxsoftware opened #23789 "Memory leak with HTTPS"
**Version**: I tested: **10.9.0** and **10.12.0**
**Platform**: Linux kowix 4.4.0-134-generic #160-Ubuntu SMP Wed Aug 15 14:58:00 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux (Ubuntu 16.04)
Subsystem: https

A simple code that download a big file from https can reproduce the error. Is hard post my code because is part of a big project with much more things

**EDIT:**
I just write a simple example that

[2018-10-20 20:45] mhdawson commented on #23690
PR submitted to fix yesterday and have requested fasttrack.

[2018-10-20 20:54] monitz87 commented on #14970
This would indeed **VERY** nice to have

[2018-10-21 00:46] daeteck opened #23792 "In the HTTP2 Compatibility API the PATH attribute of the HEADERS is not right"
* **Version**: From the version 8.x to 10.x
* **Platform**: macOS Mojave

In the **HTTP2 Compatibility API** the **PATH** attribute in the **headers** is not properly generated from the **rawHeaders**

I'm using the http2.createSecureServer as a proxy and when I receive a request to let's say for example to:
https://1906714720.rsc.cdn77.org/http2/tiles_final/tile_162.png

The response **rawHeaders

[2018-10-21 03:02] Trott commented on #23740
https://ci.nodejs.org/job/node-test-commit-linux/22513/nodes=ubuntu1804-docker/console

[code]

Looks like it's a particular problem in the docker container. Maybe @nodejs/docker would have some insight.

[2018-10-21 04:06] Trott commented on #23740
It does seem like something is up that slows the docker host down during these timeouts.

Example run with failure: https://ci.nodejs.org/job/node-test-commit-linux/22513/nodes=ubuntu1804-docker/console

sequential/test-net-bytes-per-incoming-chunk-overhead times out after 120 seconds
sequential/test-net-GH-5504 4.806 seconds
sequential/test-net-listen-shared-ports 4.474 seconds

Example run with

[2018-10-21 04:11] linangchen commented on #21539
我的解决方法如下：
1.找到原node.js 安装目录，删除安装目录下所有文件，特别是node_modules文件夹
2.官网下载node.js安装
3.运行 npm install -g npm
4.问题解决

[2018-10-21 04:58] #20892 closed

[2018-10-21 06:54] addaleax opened #23796 "V8 gyp file refactor performance regression"
Since https://github.com/nodejs/node/pull/23182, we build V8 in Release mode with `-DENABLE_HANDLE_ZAPPING`. This should only be enabled in debug mode.

I’ve only noticed this because it’s started to show up as 2 % runtime overhead in benchmarks – I’m not familiar enough with GYP to address this myself.

@refack @nodejs/build-files

[2018-10-21 06:58] #14605 closed

[2018-10-21 08:38] #23757 closed

[2018-10-21 08:52] ashutoshdhundhara commented on #23789
Can I pick this as my first issue?

[2018-10-21 09:12] addaleax commented on #23792
/cc @nodejs/http2

[2018-10-21 09:12] addaleax commented on #23789
@ashutoshdhundhara Sure – good luck with it!

[2018-10-21 13:06] refack commented on #23796
Fix in https://github.com/nodejs/node/pull/23801

[2018-10-21 13:15] leeight opened #23802 "Build failed on Mojave Beta"
System: macOS Mojave 10.14.1 Beta (18B67a)

Git Version: master branch (3e3ce225830c46fe49f45d7c741aec49d1ef0d2e)

$ python -V
Python 2.7.15

$ clang++ --version
Apple LLVM version 10.0.0 (clang-1000.11.45.2)
Target: x86_64-apple-darwin18.2.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

The build instructions:

$ ./config

[2018-10-21 13:17] addaleax commented on #23802
/cc @nodejs/platform-macos

[2018-10-21 13:34] #4464 closed

[2018-10-21 17:30] doug-numetric opened #23806 "attempt to use top level await silently fails (not repl)"
* **v10.12.0**:
* **Darwin Mac 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64**:
* **N/A??**:

silent-failure.js
[code]

seems to run successfully with no output or error messages
[code]

working.js
[code]

[code]

I'm not asking for top level await support in node, I just don't like that I am not getting a SyntaxError or equivalent.

[2018-10-21 17:35] #23806 closed

[2018-10-21 17:36] doug-numetric commented on #23806
It does work as expected... sorry for the noise

[2018-10-21 17:47] guybedford commented on #23710
I'd be glad to see either PR along these lines for the docs or the trailing separator behaviour.

[2018-10-21 18:14] ashutoshdhundhara commented on #23789
@voxsoftware I am not able to reproduce this. I tried on following environment:

- **Node Version**: ```v10.12.0```
- **OS**: ```Linux ubuntu 4.4.0-134-lowlatency #160-Ubuntu SMP PREEMPT Wed Aug 15 16:12:55 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux (Ubuntu 16.04)```

My node process was consuming approximately 5.2-5.3 MB of memory all the time. Am I missing something here?

[2018-10-21 18:21] targos opened #23807 "Investigate flaky test-tls-set-secure-context"
* **Version**: master
* **Platform**: linuxone, ubuntu1604 (shared lib)
* **Subsystem**: tls

The test was just added today in https://github.com/nodejs/node/pull/23644

https://ci.nodejs.org/job/node-test-pull-request/18030/

[code]

[2018-10-21 18:54] voxsoftware commented on #23789
I see 52 to 53MB, but ok you have reason is normal, for reproduce, i tested in scaleway start family. Please use a server (is paid by hour)  or if you cannot can, write me i will give one for test.

[2018-10-21 19:01] bcoe commented on #23783
@TimothyGu was their work in progress to offer an alternative approach to wrapping a script with context, rather than explicitly adding a header and footer to the script being executed?

This would eliminate the need to differentiate between ESM and CJS files when calculating coverage. If you have an API in the works I can reference, I'd happily do some of the integration work in Node.

[2018-10-21 19:01] ashutoshdhundhara commented on #23789
Were you able to reproduce on Scaleway server? I tried in a VM using Virtual Box on Mac.

[2018-10-21 19:14] voxsoftware commented on #23789
Yes, i am able to reproduce on scaleway server. If you want i can give access with a fresh ubuntu 16.04 and you check . Note: scaleway uses intel atom c2750 processors, i don'k know if this is relevant

[2018-10-21 20:32] marwahaha commented on #22518
Hi, I maintain https://github.com/moment/moment , and our builds are breaking because of this issue. Any idea if/when it will be fixed?

[2018-10-21 20:42] cjihrig commented on #23807
Proposed fix in https://github.com/nodejs/node/pull/23811. Sorry for breaking things.

[2018-10-22 03:01] antsmartian commented on #22492
@ChALkeR: Again few updates:

[code]

has the corresponding test cases in: `test-util-inspect-long-running.js`, `test-util-inspect-namespace`. I'm not sure how we are going to track the list of test cases that already exists. May be a list of checkbox's for the above ones? And update them if we find the corresponding test cases? Just a thought..

[2018-10-22 03:06] antsmartian commented on #22492
@ChALkeR Again few updates:

[code]

has corresponding test cases in `test-util-inspect-long-running.js` and `test-util-inspect-namespace`.

I'm not sure how are we going to track all these. May be we can add these items along with checkboxs and check them when we find appropriate test case(s)? Just a thought..

[2018-10-22 03:07] antsmartian commented on #22492
@ChALkeR Again few updates:

[code]

has corresponding test cases in `test-util-inspect-long-running.js` and `test-util-inspect-namespace`.

I'm not sure how are we going to track all these. May be we can add these items along with checkboxs and check them when we find appropriate test case(s)? Just a thought..

[2018-10-22 03:16] antsmartian commented on #22492
@ChALkeR Again few updates:

[code]

has corresponding test cases in `test-util-inspect-long-running.js` and `test-util-inspect-namespace`.

I'm not sure how are we going to track all these. May be we can add these items along with checkboxs and check them when we find appropriate test case(s)? Just a thought..

[2018-10-22 03:16] antsmartian commented on #22492
@ChALkeR Again few updates:

[code]

has corresponding test cases in `test-util-inspect-long-running.js` and `test-util-inspect-namespace`.

I'm not sure how are we going to track all these. May be we can add these items along with checkboxs and check them when we find appropriate test case(s)? Just a thought..

[2018-10-22 03:45] #9822 closed

[2018-10-22 07:37] ashutoshdhundhara commented on #23789
I tried on one of my AWS server as well. Yes, please share the credentials for your Scaleway server.

[2018-10-22 08:21] antsmartian commented on #22492
@ChALkeR Again few updates:

[code]

has corresponding test cases in `test-util-inspect-long-running.js` and `test-util-inspect-namespace`.

I'm not sure how are we going to track all these. May be we can add these items along with checkboxs and check them when we find appropriate test case(s)? Just a thought..

[2018-10-22 08:35] ashutoshdhundhara commented on #23789
I tried on one of my AWS server as well. Yes, please share the credentials for your Scaleway server.

[2018-10-22 08:39] ashutoshdhundhara commented on #23789
I tried on one of my AWS server as well. Yes, please share the credentials for your Scaleway server.

[2018-10-22 08:52] bzoz commented on #23788
This repo is for Node core related bugs. Looks like you are using `express`, you should report your issue there. I'm going to close this, feel free to reopen the issue when you have an example that does not use 3rd party modules.

[2018-10-22 08:52] #23788 closed

[2018-10-22 09:14] U-siro commented on #23668
Thanks @addaleax !!

[2018-10-22 10:01] adrianhopebailie commented on #23064
FYI: http2 and QUIC are a very compelling combination
https://tools.ietf.org/html/draft-ietf-quic-http-15

[2018-10-22 11:29] HaisamRk opened #23816 "Segmentation Fault"
* **Version**: 7.10.1
* **Platform**: Linux 4.14.52-v7+ armv7l GNU/Linux, Raspberry Pi 3 Model B, Raspbian Lite
* **Subsystem**:

First of all this is not the latest node, due to dependency compatibility.
I have a node program, that uses four microservices, managed by pm2 process manager.
Briefly, some of the functionalities of the program are wifi, bluetooth, serial communication, sqlite database

[2018-10-22 13:14] jasnell commented on #23816
@HaisamRk ... unfortunately without more information it's difficult to say where the fault may be. We would need to know what the code is doing, whether it's Node.js or a third party module that triggering the fault, whether it's a supported operating system version, etc.

[2018-10-22 14:58] mhdawson commented on #16601
re-occurred here as well: https://ci.nodejs.org/job/node-test-commit-linux/22527/nodes=ubuntu1404-64/consoleFull

[2018-10-22 15:28] srl295 commented on #22518
@marwahaha what is the breakage?

@targos @marwahaha  it's not clear what you mean by 'fixed'.  What do you see is the bug here?

[2018-10-22 15:30] #23690 closed

[2018-10-22 15:38] srl295 commented on #22518
<img width="530" alt="captura de pantalla 2018-10-22 a la s 8 36 39 a m" src="https://user-images.githubusercontent.com/855219/47302181-ad79ef80-d5d5-11e8-8437-25bc2a3fa6bf.png">

But, this is after downloading a font that supports the new characters: https://app.box.com/s/psnogufec39aq486uny1o300j7c6hk76/file/317278048647

[2018-10-22 15:47] srl295 commented on #22518
https://www.unicode.org/mail-arch/unicode-ml/y2018-m07/0063.html discusses this some.

See a site for example https://bpgfonts.wordpress.com/download/

[2018-10-22 15:58] AHgPuK commented on #9602
I'm really disappointed with the decision to close the issue.
The problem really exists and nobody will speak with the administrator, but the app keeps crashing.
Catch the error and close the issue!

[2018-10-22 16:14] srl295 commented on #22518
@vsemozhetbyt

Traditionally we haven't. Functionality isn't removed.

as an example, ` /\p{Emoji}/u.test('🛹')` ( is Skateboard an emoji?) will also return `true` for 10.7.0 and `false` for 10.6.0.   (I tried to find a similar case for node 8.9.0 / 8.10.0 which added Unicode 10, such as t-rex 🦕 but `\p{Emoji}` was not turned on then. There probably is some similar example i could do with regex.

[2018-10-22 17:17] mhdawson commented on #16601
I've started a run on master to see if this is occurring consistently on master now.:   https://ci.nodejs.org/job/node-test-commit-linux/22568/

[2018-10-22 17:31] srl295 commented on #22518
I actually think the following may be what is breaking moment.js.  Looks like a bug somewhere.

[code]

… returns false, but should be true.

[2018-10-22 18:50] gillesdemey commented on #23710
I've created a PR that will allow passing a directory, updating the documentation is still on my todo list 😄

[2018-10-22 19:15] mhdawson commented on #16601
Run on master passed this time, so despite 2 failures in a row on my PR its still flaky.  Probably needs additional failures before it gets officially marked as flaky.

[2018-10-22 19:52] ORESoftware opened #23823 "util inspect formatter implementer"
I am looking to solve this problem without using a regex:
https://stackoverflow.com/questions/52786707/util-inspect-make-string-red-if-number-is-0

basically, I am looking for something like:

[code]

so formmaters would be a hash of functions, where the key was the type of the input, and the user could return some way to tell util how to format the type.

Basically, I want 0s to be red, but non-z

[2018-10-22 20:14] Trott commented on #16601
@mhdawson In your test run, it *barely* didn't time out.

[code]

Any reason you didn't run a stress test? https://ci.nodejs.org/job/node-stress-single-test/2069/

This may be a performance regression.

[2018-10-22 20:21] intervalia opened #23824 "fs.copyFile/copyFileSync are not consistent between (Mac/Windows) and Linux"
* **Version**: 10.12
* **Platform**: Linux(Mint and Cent)/Mac/Windows 10(64bit)

WHen I use `fs.copyFile()` and `fsCopyFileSync()` on Windows and Mac the destination file is given the EXACT timestamp as the source file for the `modified time` value.

On Linux, the `modified time` for the destination file is not the same as the source file.

On linux the dest file had this for its stats:
[code]
Com

[2018-10-22 20:29] refack commented on #16601
If it's a performance regression https://github.com/nodejs/node/pull/23801 might fix it.

[2018-10-22 20:33] srl295 commented on #22518
Update update: the bug is in moment.

Needs to be `new RegExp('ოქტ', 'ui').test('ოქტ'.toUpperCase()) // == 'ᲝᲥᲢ'` ( need that 'u' flag)

Like to close this as working as designed. `toUpperCase()` is working properly for Unicode 11.

[2018-10-22 20:53] refack commented on #16601
Job wasn't using `ccache` so I reconfigured and restarted https://ci.nodejs.org/job/node-stress-single-test/2074/

[2018-10-22 21:29] refack commented on #23823
Hello @ORESoftware,
This question probably should have been posted in `nodejs/help`, since it's more or a usage question then a bug. Maybe it's a feature request....
But since it's an undocumented feature... `util.inspect` can take a `stylize` options, that is a function that take `(val, type)` and returns a string (possibly with ESC codes)
[code]

[2018-10-22 21:32] refack commented on #23823
P.P.S. If you plan to use it in a public module, it would be appreciated if you could PR adding it to the documentation, and adding a regression test.

[2018-10-22 21:36] Trott commented on #20628
Showing up on Windows now looking different (timing out after 322 requests rather than afetr 1.)

Host is test-azure_msft-win10-x64-4.

https://ci.nodejs.org/job/node-test-binary-windows/20919/COMPILED_BY=vs2017,RUNNER=win10,RUN_SUBSET=0/console

[code]

[2018-10-22 22:32] ORESoftware commented on #23823
@refack huh I thought I marked it as a feature request, but dunno. Anyway thanks for mentioning the undocumented `stylize` function in options...my only question is there a way to return the default styling for a certain `type`?

[2018-10-22 23:15] mgjm opened #23825 "Documentation for Http2ServerRequest properties"
**Is your feature request related to a problem? Please describe.**
The [`http2.Http2ServerRequest`](https://nodejs.org/api/http2.html#http2_class_http2_http2serverrequest) has some useful properties that are undocumented. But IMHO, they should be part of the public API.

**Describe the solution you'd like**
The following properties could become part of the `http2` module documentation:
`method`, `

[2018-10-23 01:34] refack commented on #23823
Now that's an FR...

[2018-10-23 01:55] refack commented on #16601
Stress with `-j8`: https://ci.nodejs.org/job/node-stress-single-test/2080/

[2018-10-23 02:57] mempf commented on #19455
Is it possible to get this fix back-ported to Node 8.X LTS? We are still using node in a 32 bit linux environment that has to deal with files >2GB.

Thanks!

[2018-10-23 03:28] Trott commented on #16601
https://ci.nodejs.org/job/node-test-commit-linux/22577/nodes=ubuntu1404-64/console

[code]

[2018-10-23 03:34] Trott commented on #16601
The host (test-softlayer-ubuntu1404-x64-1) has some `node` processes lingering from as far back as October 3. Will terminate them and see if it addresses the performance issue on the host.

Also has a (stalled?) citgm smoker thing running since October 13!  Will terminate that too...

Might just be best to reboot it...

[2018-10-23 03:39] Trott commented on #16601
Stress test is passing, but it is running on test-digitalocean-ubuntu1404-x64-1. All the failures seem to be on test-softlayer-ubuntu1404-x64-1.  I think it was probably that stray CITGM etc. I've definitely significantly reduced the load reported via `uptime` and `top` but terminating the stale processes.

[2018-10-23 08:51] psmarshall commented on #23070
@Flarna Thanks I will take a look

[2018-10-23 09:24] doom-fr opened #23828 "add duration argument to timeout.refresh()"
**Is your feature request related to a problem? Please describe.**
I have seen a new feature on timeout in node  v10.2.
Now we can refresh a timer. This will restart/refresh the timer.
But always with the initial timeout value.

**Describe the solution you'd like**
I would like to know if it would be possible to add an argument to refresh method
to change the new delay.
And if not given, just use

[2018-10-23 12:14] Hakerh400 commented on #23142
Seems to be fixed in https://github.com/v8/v8/commit/cd21f71f9cb592b2f9520b97c86eb5456e0e8e6d

[2018-10-23 13:08] shisama commented on #22160
`fs` is not done. #22160

[2018-10-23 13:10] Kyi-Moe-Min commented on #13635
close the node server and run command, it's worked for me.

[2018-10-23 14:43] kyranet opened #23832 "Socket#write does not seem to flush"
In Node.js' community Discord server I was told I could flush messages by appending "\n" at the end of the last socket.write, so I could potentially do:

[code]

And that would send as "hi how are you", however, with this piece of code:

`server.js`:
[code]
`client.js`:
[code]

The messages are sent as a single one, despite of them being sent as 50 separated messages.

![image](https://user-images

[2018-10-23 14:45] MylesBorins commented on #19455
/cc @nodejs/libuv we had to stop at 1.19.2 due to incompatible changes in 1.20.0... tbh I can't remember exactly what they are but I think @cjihrig would know.

Would you like to open another issue to track this?

[2018-10-23 15:00] #23796 closed

[2018-10-23 15:21] #23596 closed

[2018-10-23 15:41] MylesBorins opened #23833 "Updating libuv on 8.x and 10.x"
I believe that certain versions were not backported to 10.x or 8.x as there was an unexpected semver-major

we can use this issue to track status and backporting

/cc @nodejs/libuv @cjihrig @addaleax

[2018-10-23 15:41] MylesBorins commented on #19455
I've opened a tracking issue https://github.com/nodejs/node/issues/23833

[2018-10-23 16:06] cjihrig commented on #23833
Copying https://github.com/nodejs/node/issues/19455#issuecomment-432294763 regarding accidental breaking changes here in case it helps:

[2018-10-23 18:03] RangerMauve opened #23836 "`for await of` syntax doesn't work with --experimental-repl-await"
* **Version**: v10.9.0
* **Platform**: Windows 10 Pro 10.0.17134 x64
* **Subsystem**: REPL

The REPL is working great with regular await, but doesn't seem to be able to handle the new [for await of](https://github.com/tc39/proposal-async-iteration#the-async-iteration-statement-for-await-of) syntax that was introduced as part of the async-iteration spec.

`for await of` works when wrapping the call

[2018-10-23 18:42] neroux commented on #23631
This fix is not yet in 11.0, correct?

[2018-10-23 19:01] vsemozhetbyt commented on #23836
сс @nodejs/repl

[2018-10-23 19:05] noahbrenner commented on #20348
I have the same issue, which has been present with every version of Node I've used. I'm running Windows 7 32-bit. My current version of Node is 10.6.0.  I get the disappearing cursor no matter whether I start Node through `cmd`, `PowerShell`, `Git Bash`, or the `node.exe` executable directly.

[2018-10-23 19:07] cjihrig commented on #23631
According to https://nodejs.org/en/blog/release/v11.0.0/, it's in 11.0.0

[2018-10-23 19:19] neroux commented on #23631
True, I found it under its PR number. I was looking for the issue. Thanks.

[2018-10-23 19:19] mj1856 commented on #23154
Yes, the values stem from LMT entries in the tzdb.  But also, these changes are related to the ECMAScript spec changes from [ECMAScript 5.1 section 15.9.1.8](https://www.ecma-international.org/ecma-262/5.1/index.html#sec-15.9.1.8):

to [ECMAScript 2015 section 20.3.1.8](https://www.ecma-international.org/ecma-262/6.0/index.html#sec-daylight-saving-time-adjustment):

Also, the note at the end is wh

[2018-10-23 19:47] klick-barakgall opened #23838 "Node v11.0 windows installation opting into chocolatey+boxstarter results in infinite reboots"
* **Version**: v11.0
* **Platform**: Windows 7
* **Subsystem**:

Apologies if this is the wrong place to report this. But I just tried the windows installer for Node v11.0. There was an option to install build-tooling using chocolatey and boxstarter. It warned me that there would be reboots. After it rebooted over 20 times I kind of figured it was in a permanent reboot cycle so I stopped it. I am

[2018-10-23 19:55] #12572 closed

[2018-10-23 20:06] #19192 closed

[2018-10-23 20:13] #21635 closed

[2018-10-23 20:33] #22156 closed

[2018-10-23 20:39] #19657 closed

[2018-10-23 22:31] bnoordhuis commented on #23824
Minor platform inconsistencies are to be expected. Its raison d'être is to use the fastest platform-specific API.

What flags, if any, did you pass to `fs.copyFile()`?

[2018-10-23 22:33] bnoordhuis commented on #23736
I think a PR changing it to O_RDONLY would be accepted.

There is no libuv binding for it.

[2018-10-23 22:36] bnoordhuis commented on #23832
I'm afraid you were told wrong. TCP is stream-oriented, not datagram-oriented. There's no concept of flushing or message boundaries.

Since this isn't a bug, I'll close out the issue. If you have follow-up questions, please post them to nodejs/help.

[2018-10-23 22:36] #23832 closed

[2018-10-23 22:54] intervalia commented on #23824
I didn't have any flags in the calls to `fs.copyFile()` and `fs.copyFileSync()`

[2018-10-23 23:10] vowave commented on #23462
`'use strict'

const v8 = require('v8')

const totalHeapSize = v8.getHeapStatistics().total_available_size
let totalHeapSizeInGB = (totalHeapSize / 1024 / 1024 / 1024).toFixed(2)

console.log(`Total heap size (bytes) ${totalHeapSize}, (GB ~${totalHeapSizeInGB})`)`

[2018-10-23 23:10] refack commented on #19630
IIUC non googlers can't do that. The docs say "install MSVS and set DEPOT_TOOLS_WIN_TOOLCHAIN=0"

But I'm making progress using the "official" prebuilt llvm binaries, and the `ninja-msvs` GYP generator.

[2018-10-23 23:40] refack commented on #23462
@vowave do you mean that the memory usage return to default after the process is restarted?

[code]

You could set an environment variable named [`NODE_OPTIONS`](https://nodejs.org/api/cli.html#cli_node_options_options)
[code]

[2018-10-24 00:35] vowave commented on #23462
Where and how should I do this, currently im using a node js code to generate audio waveform, from php im accessing shell and doing this. So for setting node_options I have to set every time i do it or I can simple do it once and via SSH ?

[2018-10-24 02:01] antsmartian commented on #23836
This is expected, `await` can be used only within `async` functions. Even from the link that you had shared, its says the following (below the code sample):

That's the exact reason why it works perfectly fine, when you wrap with `async`.

[2018-10-24 02:06] devsnek commented on #23836
its would seem to be a bug in https://github.com/nodejs/node/blob/master/lib/internal/repl/await.js

[2018-10-24 02:46] devsnek commented on #23836
So the visitors don't check for a ForOfStatement with `await: true`, which means `state.containsAwait` ends up being false, and its not handled.

[2018-10-24 03:49] Trott commented on #23838
@nodejs/platform-windows

[2018-10-24 03:56] #23807 closed

[2018-10-24 04:14] voxsoftware commented on #23789
OK, please send me a public key, and i will add in the machine for you get connect via SSH. I will give a fresh ubuntu 16.04 installation

[2018-10-24 06:00] ryzokuken commented on #23828
cc @nodejs/timers
cc @Fishrock123, maybe?

[2018-10-24 06:01] ryzokuken commented on #23828
P.S. I could totally look into this, just need a green signal from @nodejs/timers

[2018-10-24 06:04] ryzokuken commented on #23828
BTW, @doom-fr why won't you just make another timeout?

[2018-10-24 07:43] adarshsaraogi commented on #21197
Can i work on this issue

[2018-10-24 07:51] doom-fr commented on #23828
@ryzokuken, it's the same purpose as current refresh method (extract of nodejs documentation) :

I just add that it could be usefull to change the value of the delay.

[2018-10-24 09:05] iwko commented on #21197
@adarshsaraogi this issue is alread resolved and merged

[2018-10-24 09:46] benjamingr commented on #23828
@doom-fr hey - thank you for opening an issue and making a feature request. I appreciate your willingness to contribute to the project.

Can you share a use case where the argument for refresh is helpful? There were some compelling use cases for `refresh` when it was considered.

[2018-10-24 10:11] doom-fr commented on #23828
In my application, I have a watchdog value caming from the network.
I have to refresh the watchdog with this value which can change.
Currently, I can test if equal or not and apply a simple refresh or a clearTimeout+setTimeout (or always make clearTimeout+setTimeout).
But maybe this case is too rare to make the change in node Js.
I will let you appreciate.

[2018-10-24 11:05] Annihil opened #23845 "ES / CommonJS import, export and default syntax support"
**Is your feature request related to a problem? Please describe.**
NodeJS is currently not supporting ES / CommonJS imports & exports
[code]

[code]

**Describe the solution you'd like**
NodeJS 11+ starting to natively support ES6 import/export module syntax

**Describe alternatives you've considered**
Using Babel to transpile es6 import/export to es5 require syntax

[2018-10-24 11:38] targos opened #23846 "Missing semver-major change in v11.0.0 changelog"
_Originally posted by @mareksrom in https://github.com/nodejs/node/commit/8799f43fb0626d4453f7ff7d9d20d4075adf7784#commitcomment-31025720_

Original PR: https://github.com/nodejs/node/pull/20611

[2018-10-24 11:50] benjamingr commented on #23828
@doom-fr thank you for following up :)

Is there a performance issue with the current clearTimeout+setTimeout solution or is the change proposed only for convenience?

[2018-10-24 11:56] doom-fr commented on #23828
For me, no performance issue.

[2018-10-24 12:15] mcollina commented on #23433
I'm for deprecating `readFile(fd)` and `writeFile(fd)`, it it does not break on CITGM. If somebody is deailing with file descriptors, I think they can use the barebone methods `read()` and `write()`.

[2018-10-24 12:17] Trott commented on #23433
Adding `tsc-agenda` label per discussion in the TSC meeting today where conclusion was "Get more engagement, particularly from @nodejs/tsc, but leave on agenda in case no consensus is reached."

[2018-10-24 12:18] mmarchini commented on #23845
cc @nodejs/modules

[2018-10-24 12:20] Trott commented on #23433
I find all four proposed options acceptable (assuming Option 1 involves documenting the current behavior, which given the open PR, it seems like it does).

[2018-10-24 12:39] devsnek commented on #23845
https://nodejs.org/api/esm.html

[2018-10-24 12:49] wentout opened #23848 "v11 global.queueMicrotask -> process.queueMicrotask"
**I think it is a bad Idea to put it to global.**
It can easily be replaced with some code of some module, and user will even't be able to reach it.

**Solution**
Move it to `process.queueMicrotask`, same as `process.nextTick`

**Alternative**
make it read-only at `lib/internal/bootstrap/node.js`
[code]

[2018-10-24 12:52] cjihrig commented on #23824
It's worth noting that on macOS and Windows, the file copy is implemented as a single operating system call, while on Linux it tries to use sendfile.

[2018-10-24 13:03] mhdawson commented on #23433
I'm ok with options 1 and 4, with a slight preference for 1 based on the concern of breaking existing code.

[2018-10-24 13:04] devsnek commented on #23848
the API is specified externally to node and so we need to keep it on the global with the correct property descriptor.

I'm also not really understanding why being writable is explicitly bad here. all the other globals can also be modified.

[2018-10-24 13:16] Trott commented on #22762
https://ci.nodejs.org/job/node-test-commit-linux/22621/nodes=centos7-64-gcc6/console

[code]

[2018-10-24 13:22] #23848 closed

[2018-10-24 13:22] Trott opened #23849 "Nominating @psmarshall as a Collaborator"
I'd like to nominate @psmarshall as a Collaborator. They are on the V8 team at Google and do a lot with benchmarks. They have eight commits on master but also a number of backports of V8 fixes and ABI compatibility patches for LTS versions so that V8 can be updated there.

Commits: https://github.com/nodejs/node/commits?author=psmarshall
Comments: https://github.com/nodejs/node/search?q=commenter%

[2018-10-24 13:28] RangerMauve commented on #23836
Oh snap! Thank you so much for addressing this so quickly! 🤩

[2018-10-24 13:28] thefourtheye commented on #23433
@mhdawson Option 1 still leaves us with inconsistent behaviour (as `readFile` and `writeFile` work from different positions). #23709 (semver-major, so it still breaks existing code 😞) makes them consistent.

[2018-10-24 13:28] addaleax opened #23850 "Nominating @shisama as a collaborator"
I'd like to nominate @shisama as a Collaborator. With 30 commits and consistent engagement in Node.js core, this should probably have happened a while ago :)

Commits: https://github.com/nodejs/node/commits?author=shisama
Comments: https://github.com/nodejs/node/search?q=commenter%3Ashisama&type=Issues

[2018-10-24 13:31] vdeturckheim commented on #23849
:+1:

[2018-10-24 13:34] gireeshpunathil commented on #23850
+1

[2018-10-24 13:37] devsnek commented on #23848
`queueMicrotask` is shared with browsers, so we need to make sure its in the same place as they have it.

[2018-10-24 13:40] wentout commented on #23848
Ah, I see now, thank You a lot!

[2018-10-24 13:48] hashseed commented on #23849
+1

[2018-10-24 14:28] mhdawson commented on #22919
@bcoe we see some test failures in the existing coverage generation that drives benchmarking.nodejs.org.  It's not ideal but just to say it might not be a blocker depending on the failures.

[2018-10-24 14:51] AraxonYT opened #23853 "npm ERR! errno -4058"
When i run "npm init" and follow the steps, i get some errors and the package.json wasn´t created.

Errors:
npm ERR! path C:\Users\Janne\Desktop\DiscordBot\package.json
npm ERR! code ENOENT
npm ERR! errno -4058
npm ERR! syscall open
npm ERR! enoent ENOENT: no such file or directory, open 'C:\Users\Janne\Desktop\DiscordBot\package.json'
npm ERR! enoent This is related to npm not being able to find

[2018-10-24 14:57] psmarshall commented on #23070
Upstream v8 issue: https://bugs.chromium.org/p/v8/issues/detail?id=8364

[2018-10-24 15:06] mscdex commented on #23853
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-10-24 15:06] #23853 closed

[2018-10-24 15:29] trivikr commented on #23849
+1

[2018-10-24 15:30] mattolson commented on #21481
This looks to be a duplicate of #21783. It appears that the issue is due to addon initialization -- any native addons that are loaded in both the parent and worker thread (i.e. loaded more than once in the same process) need to be [context aware](https://nodejs.org/docs/latest-v10.x/api/addons.html#addons_context_aware_addons).

I was facing this issue with the node-lzo library and we fixed it in

[2018-10-24 15:41] apapirovski commented on #23849
+1

[2018-10-24 15:49] Fishrock123 commented on #23849
+1 (I forgot to do this after the collab summit... sorry 😞)

[2018-10-24 16:48] cjihrig commented on #23849
+1

[2018-10-24 16:54] AndrewGuenther commented on #23833
Just to be clear, is it still the plan to backport updates to libuv to 8.x? I ask because a recent update to libuv on 10.x broke compatibility with older kernels. Relevant commits:

https://github.com/nodejs/node/commit/2790db5e3d74c4f7521cc27a1115228700dd4049
https://github.com/nodejs/node/blob/c65a523597ccdf2b3544244679dae581040cf52f

Does it make sense to introduce this change to 8.x? We've mig

[2018-10-24 17:00] cjihrig commented on #23850
+1

[2018-10-24 17:01] srl295 commented on #22518
@nodejs/v8 if we want to float the eventual v8 fix, will we want a new issue? or repurpose this one? The original issue is not a bug, but correct behavior for `toLocaleUpperCase()`. However, there's a regex bug.

[2018-10-24 17:07] MylesBorins commented on #23833
These changes will only be backported if it can be done in a non breaking
way, that is why it has not yet happened

On Wed, Oct 24, 2018, 12:54 PM Andrew Guenther <notifications@github.com
wrote:

[2018-10-24 17:10] AndrewGuenther commented on #23833
Excellent. Thanks for the clarification @MylesBorins! So would you say that, in general, we shouldn't have to worry about these kinds of changes during Active LTS?

[2018-10-24 17:16] ryzokuken commented on #22518
@srl295 you'd have to eventually make one at https://bugs.chromium.org/p/v8/ so that it could be properly referenced.

[2018-10-24 17:34] srl295 commented on #22518
@ryzokuken it's https://bugs.chromium.org/p/v8/issues/detail?id=8348

[2018-10-24 17:42] cfanoulis commented on #23849
+1

[2018-10-24 17:46] BridgeAR commented on #23849
+1

[2018-10-24 17:46] BridgeAR commented on #23850
+1

[2018-10-24 17:49] ryzokuken commented on #22518
Oh, you mean in Node? I guess you could just backport the commit to master once it's in V8 LKGR. Let me know if you need help with that.

[2018-10-24 18:18] syntacticsolutions commented on #2740
If someone runs into this problem. They shouldn't be using arrow functions, because they have no idea what they are for.

[2018-10-24 18:24] jordbaer opened #23857 "http server upgrade event"
* **Version**: 11.0.0, 10.0.0, and probably more
* **Platform**: macos
* **Subsystem**: http

http server upgrade event:

When the 'upgrade' event is emitted, the http server doesn't unregister the 'timeout' handler (function socketOnTimeout).

If a timeout event occurs later, the http server code will destroy the socket.

workaround:

server.on("upgrade", (req,socket,head) => {
    socket.removeA

[2018-10-24 18:24] soruh opened #23858 "socket.remoteAddress is sometimes undefined in net server connect handler"
* **Version**: v11.0.0
* **Platform**: Linux ThinkPad-L540 4.15.0-36-generic #39~16.04.1-Ubuntu SMP Tue Sep 25 08:59:23 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: net

I've been having some issues with the `remoteAddress`, `remotePort` and `remoteFamily`
being `undefined` in the connect handler of a net server.

After some research I found this archived issue: https://github.com/node

[2018-10-24 18:33] addaleax commented on #23433
So … one thing I can potentially see people doing is `fs.readFileSync(0)` or similar. It’s brittle, because fd 0 has to be non-blocking (i.e. `process.stdin` should not have been accessed), but it’s something we may want to consider realistic usage?

I’m definitely okay with the current behavior, i.e. option 1.

[2018-10-24 18:50] syntacticsolutions opened #23859 "Create a flag to know when stream has reached it's last chunk from within _transform."
* **Version**: v9.3.0
* **Platform**: Darwin Kernel Version 18.0.0: Wed Aug 22 20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64
* **Subsystem**: Stream.Transform

I'm using a transform stream in the following way.

[code]

I've tried this with 1 record to see if there are any properties that change when the stream has reached it's last record. I can't find any that change. I'm using

[2018-10-24 18:52] addaleax commented on #23859
@syntacticsolutions I’ve edited your issue for syntax highlighting, hope that’s okay with you.

I’d like to see something like this in our streams API, especially since our own zlib transforms do some hacking to figure out whether it’s the last chunk of input or not.

/cc @nodejs/streams

[2018-10-24 18:53] syntacticsolutions commented on #23859
Could you show me how to hack this so that it can work for me?

[2018-10-24 18:55] addaleax commented on #23859
I can, but I don’t really want to, because it’s really hacky :smile: I think it’s essentially this:

https://github.com/nodejs/node/blob/449c0ca9f1bf247089781d67a109ebc7e6c1d5a5/lib/zlib.js#L448-L449

[2018-10-24 18:57] thefourtheye commented on #23433
@addaleax Just to confirm, are you okay with the current state as it is, or with #23709?

[2018-10-24 18:59] addaleax commented on #23433
@thefourtheye Oh, yes, I’m a fan of #23709. I just didn’t really see that as an option here, so I thought it falls under option 1? :)

[2018-10-24 19:30] thefourtheye commented on #23433
@addaleax I updated the option 1 now.

[2018-10-24 19:36] syntacticsolutions commented on #23859
I stepped through the code to see if that would work and sadly it didn't :( (maybe because I'm using Transform Stream in object mode?) I'll let you know if I find something else that works.

[2018-10-24 19:50] nullivex commented on #23838
I stopped the startup script to prevent a loop. However, it rebooted my computer without warning. This is a bug for sure.

[2018-10-24 20:01] syntacticsolutions commented on #23859
ws.ended and ws.ending never get changed for some reason. Even if I pipe it to another transform stream that is not in object mode afterwards

[2018-10-24 20:05] mscdex commented on #23859
I'm not sure why object mode is needed for this if you're piping it to a gzip stream (which deals with bytes and not objects). However, I don't think such a request is really possible due to the nature of things. Being a stream, the only time you'd know if it was the last chunk was if someone called `stream.end(chunk)`. If someone does a `stream.write(chunk)` and then some time later calls `stream

[2018-10-24 20:10] syntacticsolutions commented on #23859
I have to do it in object mode because I'm pulling it from athena and I don't think the client I'm using supports another format. Then I'm piping it into gzip, converting it to base64 and then persisting it.

How can I access the last record in _final after this.push has been called?

[2018-10-24 20:16] nullivex commented on #23838
Back on my computer now. I was able to work around this on Windows 10 64bit. The annoying part where it forces the computer off and looks like a Virus is definitely true and should be fixed, it also didnt give me a chance to save any programs (sort of a force restart it seems). Also I didnt get a chance to choose about installing boxstarter and choclately is that a problem?

Anyway, in order to wo

[2018-10-24 20:19] mscdex commented on #23859
If your *input* is objects, that's fine. What I was referring to was the *output*, which you can separately set to non-object mode.

You don't. The `stream._final` handler is just where you'd write the final `']'` character.

[2018-10-24 20:37] TimothyGu commented on #23433
I’m for option 1 as well.

[2018-10-24 21:21] syntacticsolutions commented on #23859
Thank you so much!!!!!!

[2018-10-24 21:45] jasnell commented on #6045
What is the status on this? Does this need to remain open?

[2018-10-24 21:47] syntacticsolutions commented on #23859
ok this is what I have so far, but for some reason it breaks the gzip.
`
const athena = require('./athena')
const redis = require('./redis')
const zlib = require('zlib')
const Stream = require('stream')

exports.persistStream = (config, query, name, transform) => {
    return new Promise((resolve, reject) => {
        let recordCount = 0

        var transformStream = new Stream.Transform({ writab

[2018-10-24 21:49] jasnell commented on #20421
has this been resolved?

[2018-10-24 21:53] syntacticsolutions commented on #23859
oh disregard that. I just forgot to call `done()` from within `stream._final`

[2018-10-24 22:01] josephg commented on #20421
Yes! Thanks everyone

[2018-10-24 22:01] #20421 closed

[2018-10-24 22:09] morkai opened #23860 "clearTimeout blocks the process (100% CPU usage)"
The following code should output TEST every 10s:
[code]

Version 11.0.0 hangs with 100% CPU usage (memory stays the same). v8.12.0 and v10.9.0 works. `test.js` was run for 60s in v8, v10 and v11:

[code]

EDIT 1:
The following code hangs node v11 if `N > 6` (sometimes TEST is printed twice):
[code]

EDIT 2:
Just found out about `NODE_DEBUG=timer`:
[code]

[2018-10-25 00:32] klick-barakgall commented on #23838
For me I just needed to quickly focus on the window that was about to reboot, and hit `Ctrl+C`. Knocked it right out. I don't feel comfortable having done that as I don't know if it was in the middle of some sensitive work. Node appears to be working without issue for the time being, but I worried I may be in an inconsistent state.

[2018-10-25 00:45] rgrove opened #23862 "Memory leak when a Promise is stored on an Express request that's added to a domain"
* **Version**: v10.12.0
* **Platform**: Darwin zero-gravitas-lan.jetpants.com 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22 20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64
* **Subsystem**: domain

The following code, which is a reduced test case using functionality that's relied upon by the popular [Sentry](https://www.npmjs.com/package/@sentry/node) error reporting module, works

[2018-10-25 00:50] jasnell commented on #23862
/cc @mcollina @addaleax ...

I'm thinking that there's possibly a leak in the revamped domain internals that's using using async_hooks?

[2018-10-25 01:16] nullivex commented on #23838
@klick-barakgall Yea, I ran the installer and went off to multitask and when I saw power shell pop up it was not until I saw chocolatey that I felt safe that I had not just downloaded a malicious version of the Node installer :octocat:

[2018-10-25 02:07] Fishrock123 commented on #23860
@apapirovski Probably has a better idea as to the cause in the current codebase than I do, but I can look in a day or two otherwise.

[2018-10-25 02:09] Fishrock123 commented on #23860
@morkai Can you try running with `node --prof` and then run `node --prof-process isolate-whatever-it-calls-it.v8.log`?

[2018-10-25 02:32] hiroppy commented on #23850
+1

[2018-10-25 03:15] Trott commented on #23838
Surprised no one from @nodejs/platform-windows chimed in yet. Let's try @nodejs/build.

[2018-10-25 03:18] digitalinfinity commented on #23838
@joaocgreis can you take a look please? infinite reboots are bad 😞

[2018-10-25 04:56] apapirovski commented on #23860
I can reproduce with the above but I can't make a reproduction that doesn't involve `Math.random`. Will dig in more tomorrow morning.

[2018-10-25 05:12] pf-anderson opened #23865 "child execFile error"
this is my electron code:

let child = require('child_process').execFile;
	let exePath = `C:\\Program Files (x86)\\Adobe\\Acrobat Reader DC\\Reader\\AcroRd32.exe`
	let cwdPath = `${__dirname}/renderer/pdfs/${isbn}/`
	let param = [`${__dirname}/renderer/pdfs/${isbn}/ch1.pdf`]

	child(exePath, param, { cwd: cwdPath }, function (err, data) {
		console.log(err)
	});

Acrobat does open the pdf, but on

[2018-10-25 05:53] addaleax commented on #23862
Ouch. I think the cause here is a circular-ish reference chain…

- The `IncomingMessage` instance (`req`) has a reference to the `cachedPromise`
- The `cachedPromise` keeps the `requestDomain` alive through the global `pairing` map (async ID → domain)
- The `requestDomain` has a `members` list
- The `members` list contains `IncomingMessage` because it was added through `.add()`.

A regular circula

[2018-10-25 05:55] Trott commented on #23865
Hi! This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like this one, please file an issue on our help
repo. https://github.com/nodejs/help

Since your using Electron, you might be better served by one of the resources listed in https://github.com/electron/electron/blob/master/docs/tutorial/support.md#finding-support.

Thanks!

[2018-10-25 05:55] #23865 closed

[2018-10-25 05:57] Trott commented on #23865
(A guess is that while Acrobat opens the PDF just fine, there is an error that occurs in Acrobat on exiting and that error code is bubbling up to electron/Node.js.)

[2018-10-25 08:58] morkai commented on #23860
Results from running --prof-process: https://gist.github.com/morkai/4c2b3bc3cec692dfb30076eaa4ae1ee8

--prof & --prof-isolate output and CPU profile: [node_issue_23860_clearTimeout.zip](https://github.com/nodejs/node/files/2514120/node_issue_23860_clearTimeout.zip)

[2018-10-25 10:34] SMotaal opened #23868 "Hashbang not resolving `--loader` relative to entry"
* **Version**: 11.0
* **Platform**: macOS 10.14 (18A389)
* **Subsystem**: bootstrap, `--experimental-modules` (only)

When using shebangs to specify `--loader` specifically for `--experimental-modules` a file could want to use a relative path to it's own loader file.

In this specific case, the module file is it's own loader, as if things are not already complicated enough.

[code]

The issue is n

[2018-10-25 10:35] ChALkeR commented on #23860
Reduced testcase:

[code]

[2018-10-25 10:38] apapirovski commented on #23860
Thanks @ChALkeR. Working on a PR.

[2018-10-25 10:51] SMotaal commented on #23783
@devsnek I just realized ecmascript-modules does not provide the issues tab. So triage and pathways for issues relating to ES module features is something we should try to disambiguate 😄. The biggest issue is to be able to figure when issues should be addressed in `--experimental-modules` or future ESM.

[2018-10-25 11:00] lafama opened #23869 "Npm install fails after update to node 11.0.0"
* **Version**:v11.0.0
* **Platform**:18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22 20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64
* **Subsystem**:

Npm install fails and i believe its because of
[code]

[2018-10-25 11:19] ChALkeR commented on #23869
Looks like some package uses pre-compiled binaries for various Node.js versions, and that package does not support Node.js v11.

Probably, `grpc`? _Just a guess._

This is not a Node.js issue.

[2018-10-25 11:19] #23869 closed

[2018-10-25 11:32] BridgeAR commented on #23823
@refack I don't think it's a good idea to recommend using this currently as you point out on your own that this is not always going to work properly. It is definitely not meant as being "public" and I actually planned on making it private so it's not accessible from the outside anymore. We could go ahead and decide on making it public if this is required. I have no strong opinion about that right

[2018-10-25 11:43] ChALkeR commented on #23862
@addaleax
These are all the occurrences of `pairing` that I was able to locate:
[code]

Would replacing it with `WeakMap` help, if that's the only place where those refs are retained?

[2018-10-25 11:52] addaleax commented on #23862
@ChALkeR Yes, that’s the map – but it’s… difficult. `WeakMap` doesn’t work because we use integers as keys – ironically, partly with the intention of avoiding issues with GC…

I don’t have a good idea of how this could be addressed at the moment.

[2018-10-25 11:56] mcollina commented on #23862
This is a fundemental design flaw of async_hooks. We use numbers as indexes (so no weakmaps) on a global map to allocate/track state and we deallocate it only when objects are destroyed. In several cases, this are tied to when the garbage collector actually cleans up the object, making it unpredictable.

In the past, I proposed to introduce a currentAsyncResource() API to be able to store state on

[2018-10-25 12:38] addaleax commented on #23862
So… one thing we could do is to turn the *values* in the map into weak references… that’s icky, but it solves this particular problem.

It would mean that we rely on the `resource.domain = process.domain` line in the init hook to keep the domain alive for the lifetime of the resource (which seems like a reasonable assumption?), and it would mean going back to relying on an internal utility, unless

[2018-10-25 12:38] addaleax commented on #23862
fyi @nodejs/diagnostics

[2018-10-25 12:45] devsnek commented on #23868
this isn't a bug. most OSes only use the first argument of a shebang. we can't put flags in it.

[2018-10-25 12:46] addaleax commented on #23862
@chalker I don’t think this is specific to promises :/

And no, I don’t think we can do something inside `promiseResolve`…

[code]

prints

[code]

[2018-10-25 12:49] devsnek commented on #23783
@mylesborins can we get the issues tab enabled?

[2018-10-25 13:03] refack opened #23873 "flaky: test-worker-uncaught-exception"
https://ci.nodejs.org/job/node-test-binary-windows/21029/COMPILED_BY=vs2017-x86,RUNNER=win2012r2,RUN_SUBSET=2/console
[code]

* **Platform**: `Windows`

[2018-10-25 13:14] ChALkeR commented on #23862
@addaleax Oh, I missed that (re: call order), thanks.
Is `after` always called in the same tick as `promiseResolve`? If yes, we could just delay.

[code]

Re: not only to promises: can I have a testcase for that? Something timer-related? I might be missing something.

[2018-10-25 13:16] addaleax commented on #23862
@chalker I think any GC-based resource would have the same issue – I haven’t tried, but an `async_hooks.AsyncResource` with default options should do the trick just as well?

[2018-10-25 13:36] Trott commented on #21425
https://ci.nodejs.org/job/node-test-binary-windows/21022/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=0/console on test-azure_msft-win2016-x64-3

[code]

Kind of hoping the timer queue regression fix will fix this but that seems...unlikely...

[2018-10-25 14:18] bgnx opened #23874 "why binding.WriteBuffers is not available from api ?"
fs.write() uses process.binding('fs').writeBuffer call but fs.WriteStream can use process.binding('fs').writeBuffers which is more efficient in case when there are multiple chunks for writing. Is there a reason why passing multiple chunks with usage of writeBuffers this is not available for users from fs api ?

[2018-10-25 15:30] leeight opened #23877 "HeapProfiler.takeHeapSnapshot will cause Node.js crash"
* **Version**: v8.9.3 & v10.12.0 & v11.0.0
* **Platform**: macOS Mojave Version 10.14.1 Beta (18B67a)
* **Subsystem**:

I'm trying use `inspector` module to get the head snapshot, but the Node.js will crash after post `HeapProfiler.takeHeapSnapshot` command to the inspector.

It crash randomly, but easily reproduce it.

[code]

[2018-10-25 15:41] MylesBorins commented on #23783
@devsnek as this is a bug specifically in the CJS interop implementation that no  longer exists in ecmascript-modules it doesn't really make sense to me that we punt it over there. We removed the issues tab specifically as discussion was meant to happen in the modules repo. If you still think we should bring back issues to ecmascript-modules please open an issue in nodejs/modules and we can discus

[2018-10-25 15:42] addaleax commented on #23877
This seems to work on master, so I guess in the worst case we can bisect to figure out what fixed this…

Here’s a stack trace, btw:

[code]

/cc @nodejs/v8

[2018-10-25 15:48] psmarshall commented on #23877
I can take a look, I touched StringsStorage last

[2018-10-25 15:50] devsnek commented on #23783
@MylesBorins i was under the impression we weren't maintaining the node core implementation. if this is fixed in ecmascript-modules i would assume this issue can be closed.

as for the issues tab, i would expect issues/bugs with the implementation itself to be put on that repo, not the modules repo. that may just be me though.

[2018-10-25 15:53] legendecas commented on #20118
Maybe `napi_get_uv_event_loop` is not platform neutral for its name, since libuv api itself is platform neutral.
One of N-API port [ShadowNode](https://github.com/Rokid/ShadowNode) used **[libtuv](https://github.com/Samsung/libtuv)** as its event loop, which is is a tiny event library refactored from libuv source for embedded system yet has an api interface identical to libuv's. Thus `napi_get_uv_

[2018-10-25 15:59] ronag commented on #20673
@mscdex ping?

[2018-10-25 16:00] ronag commented on #23133
@mcollina can we label this as bug?

[2018-10-25 16:03] ronag commented on #23338
ping @mcollina

[2018-10-25 16:04] #18391 closed

[2018-10-25 16:11] jasnell commented on #20673
@ronag ... do you have a test case to reproduce?

Sorry this fell through the cracks because I was watching labels and this one didn't end up getting labeled for some reason...

/cc @nodejs/http2

[2018-10-25 16:19] ronag commented on #20673
@jasnell: `Http2ServerRequest` has an `emit('error', ...` line

[2018-10-25 17:21] paragi commented on #583
IMHO This could be remedied by introducing a new dir/glob function to node_file:

  fs.dir(<pattern> [,<options>])

It only needs to implement the simplest wildcards ? and *, using a C function like nftw()

I think it would be acceptable for this function to return a promise of an array, since the programmer can control the memory usages by choosing the appropriate pattern.

The advantage of this

[2018-10-25 17:45] #23860 closed

[2018-10-25 17:48] jasnell commented on #20673
That particular `emit('error', ...)` is largely defensively coded and should not ever actually happen. Do you have a test case that demonstrates that it is a problem in practice?

[2018-10-25 17:53] bradisbell commented on #19308
I have strong opposition to this.  Node.js is used for far more than web applications.  Adding bloat to the core hurts these other types of applications and their portability, while providing no significant benefit to those who want it.  Keep Node.js light and keep WebSockets in solid modules like `ws`.

[2018-10-25 17:53] joaocgreis commented on #23838
@klick-barakgall can you see in the console what is being installed when it reboots? This is probably some corner case with some package, can you take a look at the log files in `C:\ProgramData\chocolatey\logs` or upload them here?

[2018-10-25 17:56] ronag commented on #20673
No

Shouldn't it be an assertion in that case?

[2018-10-25 17:57] #23293 closed

[2018-10-25 18:32] galvez commented on #19308
@bradisbell you have a valid point -- I just think WebSockets can be considered a _core_ protocol of the web, very much like http2.

[2018-10-25 18:42] arxpoetica commented on #19308
@bradisbell this is probably the most valid point I've heard on this.

I would favor, alternately, some sort of tree-shaking methodology native to Node in that case. I.e., only import what's actually imported. Obviously waaaaaay beyond the scope of this ticket (how would such a thing even be possible), but that would be my 2 cents. Best of both worlds, actually. Significantly lighten Node core, bu

[2018-10-25 18:56] Trott commented on #23873
Since Rackspace vs. Azure is often a relevant thing on our Windows failures: The above test failure is on test-rackspace-win2012r2-x64-3.

[2018-10-25 19:42] refack opened #23884 "test: make `parallel/test-bootstrap-modules` easier to reason about"
* **Version**: N/A
* **Platform**: All
* **Subsystem**: test,bootstrap

https://github.com/nodejs/node/blob/546850953294b9d2459f7700934444e5ac4b8e97/test/parallel/test-bootstrap-modules.js#L1-L14

The test uses a magic number that can only be reasonably found empeericaly. That number also changes depending on what CLI parameters are used, or if run with a test harness.
Some suggestions for improve

[2018-10-25 20:13] devsnek commented on #23884
fwiw my suggestion is now a whitelist of modules

[2018-10-25 20:59] jasnell commented on #13722
Ping @srl295 ... did you ever get a chance to look at this?

[2018-10-25 21:00] jasnell commented on #14190
Closing due to lack of follow up discussion and activity.

[2018-10-25 21:00] #14190 closed

[2018-10-25 21:00] jasnell commented on #22959
This happened.

[2018-10-25 21:00] #22959 closed

[2018-10-25 21:01] jasnell commented on #22180
This happened

[2018-10-25 21:01] #22180 closed

[2018-10-25 21:01] jasnell commented on #22264
No further action on this.

[2018-10-25 21:01] #22264 closed

[2018-10-25 21:02] jasnell commented on #22822
This was resolved

[2018-10-25 21:02] #22822 closed

[2018-10-25 21:02] jasnell commented on #2398
Closing due to lack of activity

[2018-10-25 21:02] #2398 closed

[2018-10-25 21:03] jasnell commented on #17746
Closing this. The remaining items can be handled individually if someone wishes to pursue them

[2018-10-25 21:03] #17746 closed

[2018-10-25 21:05] jasnell commented on #8810
Nothing further to do here for now

[2018-10-25 21:05] #8810 closed

[2018-10-25 21:08] SimenB commented on #14190
There has been setup a process for security releases over the summer: https://github.com/nodejs/security-wg/pull/306

[2018-10-25 21:09] machineghost commented on #11865
I just read that entire long thread, and I still don't understand one basic thing: when/why did Node decide that stack traces are a user responsibility?  Throughout all of programming history stack traces have been the responsibility of the core language.

I'm not saying that they *shouldn't* be a user responsibility, it's just that in all of the above I couldn't find a single post that said "this

[2018-10-25 21:21] devsnek commented on #11865
@machineghost its not user responsibility, its engine responsibility. in this case, V8 has already started working on async stack traces, and at some point node will ship with a version of V8 where its enabled.

[2018-10-25 21:38] machineghost commented on #11865
@devsnek Thanks so much for that clarification.  It wasn't obvious to me from the above thread since some maintainers *appeared* to be saying the opposite, but your response makes much more sense..

[2018-10-25 21:39] klick-barakgall commented on #23838
@joaocgreis
[choco.summary.log](https://github.com/nodejs/node/files/2516873/choco.summary.log)
[chocolatey.log](https://github.com/nodejs/node/files/2516874/chocolatey.log)

[2018-10-26 01:46] Sayanc93 commented on #23736
Hey, I've followed this issue along with the PR submitted in libuv. Seems like switching to `O_RDONLY` is ideal for now. Feel free to review my change and add your suggestions https://github.com/nodejs/node/pull/23887

[2018-10-26 01:47] huhgawz commented on #23723
@HYU-LeeHG are you actively working on this issue? If not, I would like to take it

[2018-10-26 03:30] Trott commented on #21270
If it's awaiting some code change in Node.js, then I think we can leave it open. I thought it was entirely in V8-land.

[2018-10-26 03:35] #22727 closed

[2018-10-26 03:36] #22144 closed

[2018-10-26 03:36] #22646 closed

[2018-10-26 03:38] #23068 closed

[2018-10-26 03:39] #23103 closed

[2018-10-26 03:41] #23241 closed

[2018-10-26 03:44] apapirovski commented on #23792
@daeteck and you're using Node.js without any third party packages? Because I don't see any post-processing being done on our headers that would cause this. We basically just take the rawHeaders and map them onto an object.

[2018-10-26 03:47] apapirovski commented on #7035
Going to close this out. Not much movement here and no recent updates. Please reopen if it happens again and maybe post the CI run info.

[2018-10-26 03:47] #7035 closed

[2018-10-26 03:49] Trott commented on #9784
Am I wrong to think this is now fixed?
<img width="679" alt="screen shot 2018-10-25 at 8 49 19 pm" src="https://user-images.githubusercontent.com/718899/47543527-7d617380-d897-11e8-8291-ec4ae0f7eeab.png">

[2018-10-26 03:50] apapirovski commented on #23121
Given the lack of a follow up and the fact that it works for most users, I'm going to close this out. Feel free to reopen if you happen to have more info.

[2018-10-26 03:50] #23121 closed

[2018-10-26 03:53] apapirovski commented on #22923
I'm reasonably certain this has been addressed with all the backports. Feel free to reopen if you think this is an ongoing issue or you happen to have more info.

[2018-10-26 03:53] #22923 closed

[2018-10-26 03:56] apapirovski commented on #22791
Given the lack of interest from others, I'm going to close this out for now. As with most things, best course of action is usually opening a PR. That said, feel free to reopen if you strongly believe this is a needed feature and have some thoughts on a path forward.

[2018-10-26 03:56] #22791 closed

[2018-10-26 04:00] apapirovski commented on #22672
There doesn't seem to be much movement here so I'm going to close this out. That said, feel free to reopen if you feel strongly about this or have additional info to get this issue moving. I'm simply trying to keep the issue tracker tidy.

[2018-10-26 04:00] #22672 closed

[2018-10-26 04:02] apapirovski commented on #22351
Given the lack of movement here since August, I'm going to close it out but feel free to reopen and continue the conversation. Just closing out stale issues with no clear action plan.

[2018-10-26 04:02] #22351 closed

[2018-10-26 04:04] Trott commented on #18175
Given inactivity since January, I'm going to close this. Feel free to re-open if there's more to discuss at this time.

[2018-10-26 04:04] #18175 closed

[2018-10-26 04:04] apapirovski commented on #8460
This should just be closed at this point. There's nothing actionable here, at least nothing that anyone is realistically willing to do.

[2018-10-26 04:04] #8460 closed

[2018-10-26 04:05] Trott commented on #18188
Is this close-able at this time? Or is this still something to discuss and this is the right place to discuss it?

[2018-10-26 04:08] Trott commented on #18741
I think this can be closed. If someone wants to enable the rule, they can open a PR.... I suspect a lot of false-positives will make it difficult to implement but if someone proves me wrong on that, then cool.

[2018-10-26 04:08] #18741 closed

[2018-10-26 04:09] Trott commented on #18971
Am I wrong to think this can be closed since https://github.com/nodejs/node/pull/18982 landed?

[2018-10-26 04:10] Trott commented on #18177
Can this be closed now that https://github.com/nodejs/node/pull/19378 has landed?

[2018-10-26 04:11] Trott commented on #18836
Closing due to inactivity, but feel free to re-open if someone is going to make this happen.

[2018-10-26 04:11] #18836 closed

[2018-10-26 04:12] Trott commented on #18894
Seems like this can be closed as a discussion that ran its course. Feel free to re-open if there's something to do here...

[2018-10-26 04:12] #18894 closed

[2018-10-26 04:17] Trott commented on #17058
Is this an issue that should remain open? Or is this close-able at this time?

[2018-10-26 04:18] Trott commented on #18795
Should this remain open? Or is this a discussion that has run its course and can be closed?

[2018-10-26 04:19] apapirovski commented on #9820
Ok, sounds like we should just close it out then.

[2018-10-26 04:19] #9820 closed

[2018-10-26 04:20] apapirovski commented on #13143
Sounds like we can close this? Everything mentioned here has been done. If another tracking issue needed, there should probably be a new one that's more current and isn't as much of a commitment to read through.

[2018-10-26 04:20] #13143 closed

[2018-10-26 04:28] devsnek commented on #18188
interestingly I've seen people (mostly in electron) relying on the fact that require takes only strings in a security context. e.g. they'll do a regex test (which could fall for toString) and then rely on require throwing to save them.

[2018-10-26 04:29] apapirovski commented on #13180
There doesn't seem to be much to do here at this point. Maybe a documentation update but it's been a while and no one has jumped on it. I'm going to close this out.

[2018-10-26 04:29] #13180 closed

[2018-10-26 04:31] Trott commented on #21130
Is this something Node.js is likely to implement? If not, should we close this?

[2018-10-26 04:31] apapirovski commented on #15783
Given the lack of a followup in a year, I'm going to close this out. That said, if you believe this is still an issue and happen to have more information, please do reopen it.

[2018-10-26 04:31] #15783 closed

[2018-10-26 04:32] Trott commented on #21267
Should this remain open? Or is this a conversation that has run its course and can be closed?

[2018-10-26 04:33] apapirovski commented on #15124
There doesn't seem to be an agreement here or any desire to change the status quo. I'm going to close this out but feel free to reopen if you believe this is still something that needs to be addressed. Just keeping the issue tracker tidy.

[2018-10-26 04:33] #15124 closed

[2018-10-26 04:33] Trott commented on #21973
Should this remain open? Or is this a conversation that has run its course and the issue can be closed?

[2018-10-26 04:34] apapirovski commented on #15214
This was addressed.

[2018-10-26 04:34] #15214 closed

[2018-10-26 04:35] jasnell commented on #17058
This is a slow going one but it's still active (even if it doesn't appear to be ;)...). I'll leave it up to you on whether the issue should remain open

[2018-10-26 04:36] apapirovski commented on #15712
There doesn't seem to be any agreement or progress here. Given the feedback so far, I'm going to close this out but feel free to reopen if you believe this can be moved along and progress in some way.

[2018-10-26 04:36] #15712 closed

[2018-10-26 04:36] Trott commented on #21005
Should this be closed given stalling/inactivity? It can always be re-opened if it becomes A Thing again.

[2018-10-26 04:38] apapirovski commented on #17112
Not much left to do here.

[2018-10-26 04:38] #17112 closed

[2018-10-26 04:39] apapirovski commented on #17965
Let's shut this down. Not much to be done here.

[2018-10-26 04:39] #17965 closed

[2018-10-26 04:40] apapirovski commented on #17149
There is no possible way this gets fixed in 6.x at this point. I'm going to close this out. Thanks for the report.

[2018-10-26 04:40] #17149 closed

[2018-10-26 04:42] Trott commented on #10129
Closing due to inactivity. Feel free to re-open if that's The Wrong Thing to do.

[2018-10-26 04:42] #10129 closed

[2018-10-26 04:43] apapirovski commented on #19158
Given the duplicate nature of this, I'm going to close this out. The other issue has more actionable information.

[2018-10-26 04:43] #19158 closed

[2018-10-26 04:43] Trott commented on #19561
Seems like this conversation ran its course. Feel free to re-open if there's more to say.

[2018-10-26 04:43] #19561 closed

[2018-10-26 04:44] apapirovski commented on #19030
Going to close this out given the lack of progress. Feel free to reopen if you feel strongly about it but this is probably better done as a PR.

[2018-10-26 04:44] #19030 closed

[2018-10-26 04:46] apapirovski commented on #18584
I'm going to close this out given the lack of a follow up and unclear steps to resolution. Feel free to reopen if you have more info or believe this is important to keep open.

[2018-10-26 04:46] #18584 closed

[2018-10-26 04:47] apapirovski commented on #19531
Seems like we might as well close this now.

[2018-10-26 04:47] #19531 closed

[2018-10-26 04:47] apapirovski commented on #19348
Seems like an npm issue. Not sure this is the right place for this to be resolved.

[2018-10-26 04:47] #19348 closed

[2018-10-26 04:48] Trott commented on #20459
Seems like this can be closed at this point. I don't think there's any plans to change the behavior in 10.x etc. If I'm wrong, by all means, re-open. Closing for now. Thanks.

[2018-10-26 04:48] #20459 closed

[2018-10-26 04:48] apapirovski commented on #19491
Going to close this out given the lack of movement. Feel free to reopen if you believe this is important but in that case... maybe consider a PR instead?

[2018-10-26 04:49] #19491 closed

[2018-10-26 04:50] Trott commented on #20446
Seems like this can be closed. If someone wants to implement a rule and see how it does or doesn't work out, cool. But this seems like it was a discussion that ran its course.

[2018-10-26 04:50] #20446 closed

[2018-10-26 04:50] #9784 closed

[2018-10-26 04:51] Trott commented on #21259
@gireeshpunathil Is this an issue that can be closed? Or is there still work ongoing?

[2018-10-26 04:52] ljharb commented on #18795
I’d still like to see a policy decision that trends towards robustness, if possible.

[2018-10-26 04:54] Trott commented on #21723
@bnb What is `wr-agenda`? This is the only issue with that label.

[2018-10-26 04:54] shobhitchittora commented on #20446
@Trott thanks for the feedback.

[2018-10-26 04:56] apapirovski commented on #19038
Given the lack of a follow up from anyone, I'm going to close this out for now.

[2018-10-26 04:56] #19038 closed

[2018-10-26 04:57] apapirovski commented on #19503
Given the lack of a follow up, I'm going to close this out. Please feel free to reopen if you believe I've made a mistake and this is still an existing issue.

[2018-10-26 04:57] #19503 closed

[2018-10-26 04:58] apapirovski commented on #19441
Given the lack of a follow up, I'm going to close this out. That said if this is still an issue and you happen to have more info, do feel free to reopen.

[2018-10-26 04:58] #19441 closed

[2018-10-26 04:58] Trott commented on #16640
Awesome if someone wants to write this thing, but it does seem like this conversation has stalled so I'm going to close this. Feel free to re-open if you disagree and feel it should not be closed.

[2018-10-26 04:58] #16640 closed

[2018-10-26 04:59] tolmasky commented on #21723
I believe (but @bnb should correct me if I'm wrong), this was just because we were set to discuss this during one of the website redesign YouTube meetings. For a quick update here - the PR is basically ready for checking, we're just waiting on eslint to release the changes we submitted to them in npm (they've already accepted them into master about a week ago).

[2018-10-26 05:00] apapirovski commented on #19060
Seems like we had some decent progress here. Not sure there's a ton more we can easily do. I'm going to close out for now but feel free to reopen if you believe I've made a mistake.

[2018-10-26 05:00] #19060 closed

[2018-10-26 05:01] Trott commented on #14794
Closing as discussion seems to have run its course. Feel free to re-open if this is still something that needs more discussion.

[2018-10-26 05:01] #14794 closed

[2018-10-26 05:02] apapirovski commented on #20538
Given the lack of a follow up and all the reports about Avast, I'm going to close this out. Doesn't seem like there's much actionable here.

[2018-10-26 05:02] #20538 closed

[2018-10-26 05:31] ashutoshdhundhara commented on #23789
I have shared my public key over mail.

[2018-10-26 05:49] Trott commented on #17058
That sounds like it should be left open for now.

[2018-10-26 06:30] TimothyGu opened #23890 "Stream async iteration breaks when the loop body calls .destroy(null)"
* **Version**: master
* **Platform**: all
* **Subsystem**: stream

[code]

Prints

[code]

It seems the `ERR_STREAM_PREMATURE_CLOSE` is erroneous, as I would expect the loop to terminate without error. Replacing `r.destroy(null)` with `r.destroy(new Error())` would result in a rejected promise with the newly created error, as expected.

/cc @mcollina @devsnek

Refs: #23730 #23785

[2018-10-26 06:40] TimothyGu commented on #23890
Notably, the same error may occur with

[code]

as the `break` calls the `return` method of the async iterator object, which calls `destroy(null)`.

[2018-10-26 06:44] targos commented on #23890
What does the spec say about how the iterator should behave in the nested example?

For example, an Array iterator does not seem to be closed in this case:

![image](https://user-images.githubusercontent.com/2352663/47549132-681e3080-d8fb-11e8-90a2-1b4b3c0ec04a.png)

[2018-10-26 06:47] TimothyGu commented on #23890
@targos Unfortunately, the spec says nothing about how `return` methods should function other than that they are for cleaning up resources, and the Web doesn't provide any precedent either. Array iterators don't clean up because they have nothing _to_ clean up.

[2018-10-26 06:50] TimothyGu opened #23891 "Stream async iteration doesn't work with already closed streams"
[code]

This prints

[code]

notably without the "done" line.

[2018-10-26 06:50] TimothyGu commented on #23891
/cc @mcollina @devsnek

[2018-10-26 07:00] mcollina commented on #23890
This was an unintended side effect. I’ll fix it later today.

(Al that lack of prior art is why this is still experimental, sigh).

[2018-10-26 07:01] leccyril opened #23892 "Free memory displayed instead of Available memory (not reality)"
* **Version**:
* **Platform**:
* **Subsystem**:

I think there is no need to provide something because it will be clear in your module you retrieve the free memory os.freemem(), but the problem in linux /UNIX there is free memory and available memory , free memory don't take buffer/cache size memory and it is important because the real memory is not the free but the available

linux when see there

[2018-10-26 07:20] paragi commented on #583
@guymguym You are rigth. Boost.Filesystem library is probably the right choice for c++
(though nftw is still ok for pure C :)

The advantage of a fs.dir() over a stream version of fs.readdir() would be that the matching is done at the lowest possible level.
IMO its two different use cases. But there is of cause no good reason not to mix them :)

[2018-10-26 07:35] ChALkeR commented on #21973
@mcollina Any updates re: http performance?

Also, just in case: which jemalloc version did you use? It should be the [latest one](https://github.com/jemalloc/jemalloc/releases), which is currently 5.1.0.

[2018-10-26 08:00] soyuka commented on #2398
Has this been implemented? Isn't it considered as an option to add it to the core?

[2018-10-26 08:07] mcollina commented on #21973
I was not able to do any further testing.

[2018-10-26 08:32] mcollina commented on #23338
This is definitely soemthing we would like to do.

cc @mafintosh

[2018-10-26 08:35] mcollina commented on #23792
@daeteck can you provide a full example that demonstrate the problem?

[2018-10-26 08:37] nxhack commented on #21562
@p3x-robot It is taken in v11.0.0.

[2018-10-26 08:39] #21562 closed

[2018-10-26 08:44] farooqte96 commented on #21259
I think it can be closed.

[2018-10-26 08:44] #21259 closed

[2018-10-26 09:01] ryzokuken commented on #20446
Wait, we use snake_case and not kebab-case for filenames?

[2018-10-26 09:16] ChALkeR commented on #10158
@sam-github @Trott

In v4.8.4 and v6.14.4 it was reproducable, but it appers fixed in v8.x and above.

As this received no updates and given that v6.x is in Maintenance mode, and this does not look like a critical bug, this should be closed.

Please reopen and/or comment if I am mistaken.

[2018-10-26 09:16] #10158 closed

[2018-10-26 09:25] bluelovers opened #23896 "lib/_stream_writable.js (line: 468) im not sure this is bug or not"
https://github.com/nodejs/node/blob/6223236151f25975e380eef8470243ff8cf3f61d/lib/_stream_writable.js#L468-L482

[code]

var name is `sync`, but `process.nextTick(afterWrite, stream, state, finished, cb);` is async

is it miss a `!`, or just wrong var name?

[2018-10-26 09:41] Hoishin opened #23897 "Random "Parse Error" and "socket hang up""
* **Version**: v10.12.0
* **Platform**: Darwin kamemiya.local 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64
* macOS High Sierra Version 10.13.6

Running [express](https://github.com/expressjs/express) tests on Darwin fails sometimes with `Parse Error` and `socket hang up`. Because the error comes directly from Node.js internal, I am o

[2018-10-26 09:46] ChALkeR commented on #23897
@Hoishin Would it be possible to provide a minimized testcase that does not depend on `express`?

[2018-10-26 09:55] ChALkeR commented on #23897
@Hoishin I'm not able to reproduce this on v10.12.0 and macOS 10.13.6 (same as your setup) using the steps you provided. The tests seem to pass consistently.

Which exact tests fail for you?

[2018-10-26 10:17] Hoishin commented on #23897
@ChALkeR The failed tests are listed above.

I ran this test in different internet connections and the same kind of errors happened, so I don't think it is depending on the internet connection. It also happens newly downloaded `v10.12.0` binary from official website.

I'll work on reproduction without `express`.

[2018-10-26 10:57] amitguptagwl opened #23899 "Wrong variable used in documentation"
In the documentation, https://nodejs.org/en/docs/guides/dont-block-the-event-loop/ `took = process.hrtime(n);` should be replaced by `took = process.hrtime(before);`

[2018-10-26 11:02] Thilinam93 opened #23900 "Want to upload photos to a server"
this is my code
----------------

router.post('/uploadPortfolioImage',function(req,res,next){

    var photos = [],
        form = new formidable.IncomingForm();
        form.multiples = true;
        form.uploadDir = "http://coloursoflanka.com/wedFiles/tmp_uploads";
        form.on('file', function (name, file) {
		var buffer = null,
            type = null,
            filename = '';
        buf

[2018-10-26 11:47] SMotaal commented on #23868
It actually works for me fine, except if cwd is not the same.

In the folder, node **works** and the loader kicks in.

Outside the folder (anywhere else) calling <code>node <var>[relative or absolute]</var>/index.mjs</code> throws always indicating `./index.mjs` not found, the path has no effect on the error message.

[2018-10-26 12:29] cjihrig commented on #23900
Hi. Can you please move this question to https://github.com/nodejs/help. This issue tracker is for bug reports and feature requests related to Node core. Thanks!

[2018-10-26 12:29] #23900 closed

[2018-10-26 12:31] cjihrig commented on #23899
I think you're right. Would you care to open a PR?

[2018-10-26 12:31] ZYSzys commented on #23722
IMHO, can we just `stringify` the `path` after `assertPath` if the `path` passed in is an instance of `Buffer` ?

[2018-10-26 12:41] ryzokuken commented on #23896
cc @mafintosh @mcollina @nodejs/streams

[2018-10-26 12:45] mcollina commented on #23896
This is actually correct. If it’s sync, we are making it async via nextTick.

[2018-10-26 12:45] #23896 closed

[2018-10-26 12:57] devsnek commented on #23868
I don't think we should try to encourage using a shebang like this because it won't work in most places, even in the same cwd. https://linux.die.net/man/2/execve

[2018-10-26 13:03] SMotaal commented on #23868
Can we consider this not less lowest-common-denominator shebangs, but more from the general case of a shebang that supports this (my case and maybe more):

*Command line*

[code]

*Shebang*

[code]

Can we agree that in the cases where they work (and the do for me) between those two, `./index.mjs` in shebang from the perspective of the creator of such file is intuitive to say the least to not impl

[2018-10-26 13:06] devsnek commented on #23868
@smotaal i'm not sure what you're trying to say, but I think that the current behaviour is how it should be.

[2018-10-26 13:35] #18971 closed

[2018-10-26 13:36] Trott commented on #21425
https://ci.nodejs.org/job/node-test-binary-windows/21050/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=1/console on test-azure_msft-win2016-x64-2

[code]

[2018-10-26 13:44] refack commented on #19630
found a bug in V8's `src/base/debug/stack_trace_win.cc` (`mix` and `max` MACROS breaking compilation with "official" prebuilt `llvm` binaries).
CL: https://chromium-review.googlesource.com/c/v8/v8/+/1297479

[2018-10-26 14:08] amitguptagwl commented on #23899
Sure, if you can guide me to the correct file. I couldn't find the doc in https://github.com/nodejs/node/tree/master/doc/guides folder

[2018-10-26 14:17] Trott commented on #20446
In `lib`, yes. But not in, for example, `test`.

[2018-10-26 14:33] mmarchini commented on #23877
For the record, the last time I tried to promisify the inspector I had issues as well (although I don't remember if it was crashing...)

[2018-10-26 14:59] richardlau commented on #23899
It's not in this repository, it's in [the website's repository](https://github.com/nodejs/nodejs.org): https://github.com/nodejs/nodejs.org/blob/master/locale/en/docs/guides/dont-block-the-event-loop.md.

[2018-10-26 15:07] flowkraD commented on #23899
I saw this was unassigned and went ahead and made a PR. I hope you don't mind (^_^)

[2018-10-26 16:50] Eronana opened #23905 "Is there any way to get StackFrame via Isolate?"
I tried to write a C++ add-on to get StackFrame to do some experiments, but I noticed that the declaration of `Isolate` is different between `include/v8.h` and `src/isolate.h`.
So I cannot use `CaptureCurrentStackTrace` or `StackTraceFrameIterator` in my add-on code.

Is it possible to use those API?

[2018-10-26 16:59] devsnek commented on #23905
First of all, you should only use classes exposed in the public API.

The API you're looking for is `StackTrace::CurrentStackTrace`

[2018-10-26 17:08] Eronana commented on #23905
yeah, but `StackTraceFrameIterator` seems cool, I can use it get StackFrame one by one and determine if it needs to get next StackFrame.

So, I think I can only use `StackTrace::CurrentStackTrace` right now, right?

[2018-10-26 17:10] suresh-srinivas opened #23906 "Combination of large pages and fully static does not work"
./configure --fully-static --use-largepages
labuser@y004:~/ssuresh/node-ssuresh$ ./node
Illegal instruction (core dumped)

I debugged this problem and when we use `--fully-static`, the `.text` segment contains `libc` code for `mmap`. This is one of the functions that is called during the actual moving of the TextRegion and one of the requirement was to not have any functions that are called in `Mo

[2018-10-26 17:10] devsnek commented on #23905
@Eronana correct

[2018-10-26 17:13] Trott commented on #23621
https://ci.nodejs.org/job/node-test-binary-windows/21052/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=1/console on test-azure_msft-win2016-x64-2

[code]

[2018-10-26 17:13] Trott commented on #23621
@nodejs/n-api

[2018-10-26 17:14] Eronana commented on #23905
@devsnek got it!
Thank you for your prompt reply.

[2018-10-26 17:29] Sytten commented on #22825
Do we know when this will be released? And do we have an alternative until then?

[2018-10-26 17:44] suresh-srinivas opened #23907 "Build failure for -with-code-cache target"
The Build fails for `-with-code-cache` target. It appears that `internalBinding` is already defined.

[code]

We were able  to make progress by  commenting out that line. I havent looked to see where it is define.  @joyeecheung @addaleax @hashseed if that is the right thing to do we can raise a PR.

@joyeecheung very nice piece of work to improve startup time. I was wondering why the cache is kept

[2018-10-26 17:48] Trott commented on #22327
https://ci.nodejs.org/job/node-test-binary-windows/21052/COMPILED_BY=vs2017,RUNNER=win2008r2-vs2017,RUN_SUBSET=1/console on test-rackspace-win2008r2-x64-5

[code]

[2018-10-26 17:54] richardlau commented on #23907
Being addressed in https://github.com/nodejs/node/pull/23855.

[2018-10-26 18:05] suresh-srinivas commented on #23907
Thanks good to hear.

[2018-10-26 18:16] lundibundi commented on #23905
Assuming this is resolved based on a comment above, feel free to reopen.

[2018-10-26 18:16] #23905 closed

[2018-10-26 18:33] bnoordhuis commented on #23906
`syscall()` is implemented in glibc and musl as a function, not a macro, so you'd have the same issue.

You can of course use inline assembly but then you need to write that for each supported architecture.

[2018-10-26 18:42] bnoordhuis commented on #23858
I don't know what TJ had in mind but the issue is fundamentally unfixable without obtaining the remote address eagerly. But as mentioned in the archived issue, that's:

1. undesirable from a performance perspective, and
2. may have correctness issues with dynamic networks.

[2018-10-26 18:58] bnoordhuis commented on #23833
The minimum requirement for v8.x is linux 2.6.32 so no problem there, that's what libuv supports.

v6.x supports 2.6.18 and would be problematic but that's not being discussed, right?

[2018-10-26 18:59] redwebs commented on #23838
I installed Node 11 on a Dell laptop with 64 bit Windows 10 and unfortunately choose the Boxstarter install option.  I thought the note just said you will have to restart your command window.  I saw nothing about computer restarts.  Node installed just fine but the Powershell Script rebooted 4 times before I noticed it was in a loop to install a script to keep Windows update from changing things.

[2018-10-26 19:29] zhulika opened #23909 "The latest master fails to build on Windows"
I've just tried building the latest master (482b56ae) on Windows (using vcbuild) and I get loads of "already-defined" errors being reported:

`openssl.lib(o_str.obj) : error LNK2005: CRYPTO_strdup already defined in libeay32.lib(LIBEAY32.dll) [D:\work\github\node.master\node\deps\openssl\openssl-cli.vcxproj]
openssl.lib(mem.obj) : error LNK2005: CRYPTO_malloc already defined in libeay32.lib(LIBEAY

[2018-10-26 19:36] addaleax commented on #23909
@nodejs/platform-windows Ideas?

[2018-10-26 19:41] MylesBorins commented on #23833
V6.x is now in maintenance mode and there is no plan to update libuv

On Fri, Oct 26, 2018, 2:58 PM Ben Noordhuis <notifications@github.com wrote:

[2018-10-26 19:51] refack commented on #23909
Hello @zhulika and thank you for the report.
It would be very helpful if you could try to `git bisect` and try to find where this issue might have been introduced.
I'm trying to reproduce locally, and make sure this revision passes out CI tests (https://ci.nodejs.org/job/node-test-commit/22688/)

[2018-10-26 19:56] refack commented on #23909
P.S. In your workspace you should find two files
1. `config.gypi`
2. `deps\openssl\openssl-cli.vcxproj`
If would help if you could attach them here.

[2018-10-26 20:17] refack commented on #23909
Googleling around this issue made me think that you might have a `LIB` environment variable that includes a directory that has `LIBEAY32.dll` (which is just renamed openSSL). In this case the linker is asked to link "our" openSSL together with `LIBEAY32.dll` and that results in name collision.
If you could open a new CMD window and paste here the content of running `SET`.

[2018-10-26 20:39] mcollina commented on #22825
@nodejs/lts when do you think a new patch release of 8 could be issued?

[2018-10-26 21:33] refack opened #23913 "Tracking: openSSL with asm on arm64"
* **Version**: `master`
* **Platform**: CI `arm64`
* **Subsystem**: test,crypto

https://github.com/nodejs/node/blob/master/test/parallel/test-https-client-get-url.js

Look nasty, hopefully 🤞 it is just a flake

https://ci.nodejs.org/job/node-test-commit-arm/19511/nodes=centos7-arm64-gcc6/testReport/junit/(root)/test/parallel_test_https_client_get_url/
[code]

/CC @nodejs/testing @nodejs/crypto

[2018-10-26 21:35] Zugwalt commented on #23838
This happened to me too on my Windows 10 machine. Once rebooting quickly X-out of the boxstarter script. Then press Ctrl+Shift+Esc to open up task manager and select the "Startup" tab where you can right click and disable `boxstarter-post-restart.bat`.

[2018-10-26 22:00] bgnx commented on #23874
Why WriteStream.prototype._write just uses official fs.write() call but WriteStream.prototype._writev uses internal node api which is not a part of official api? Do you see some inconsistencies here? fs.WriteStram it's top-level abstraction that implements stream interface and uses low level fs.api for reading and writing files except for this _writev method. As result fs.WriteStream has exclusive

[2018-10-26 22:50] darknz commented on #22825
+1 on a fix for this please

[2018-10-27 01:52] XMB5 opened #23917 "Confusing error when listening with domain socket on already-existing path"
* **Version**: v11.0.0
* **Platform**: Linux computer_name 4.15.0-38-generic #41-Ubuntu SMP Wed Oct 10 10:59:38 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: net

When listening with a domain socket on a path that already exists, node should throw the error `listen EADDRINUSE: address already in use`. However, when `writableAll` or `readableAll` is set to true, the error message is conf

[2018-10-27 02:03] refack commented on #23909
@zhulika, thank you for following up. I'm trying find which tools could cause MSBuild to inject that dependency into the build...

[2018-10-27 02:56] vsemozhetbyt commented on #23032
@caub A new attempt to implement: https://github.com/nodejs/node/pull/23916

[2018-10-27 04:31] dbarros opened #23919 "sendBeacon supported?"
I was wondering if Node.js supports (or will support) the `Navigator.sendBeacon()` API?

Basically I am after an API that I can make a call to an API, but not care about getting a result, just like `sendBeacon()` does.

[2018-10-27 05:28] oyyd commented on #23857
Hi, @jordbaer. I think that is expected. And `socket.setTimeout(0);` works well on my Mac(without `socket.removeAllListeners("timeout");`).

Did you expect `socket.setTimeout(0);` to be done automatically when "upgrade" events are emitted?

[2018-10-27 07:18] oyyd commented on #23917
Because it failed to create `Pipe` on `/` and the "error" event will be emitted in the next tick. I would like to submit a PR to fix this.

[2018-10-27 07:40] zhulika commented on #23909
I couldn't find a specific version that failed, because there are a bunch of commits in the final range that all seem to have different problems (in the way that these things often are). Perhaps a failure to find a file, a bunch of raw compilation errors, sometimes ml64 fails, other times it's the original LIBEAY32 issue. Worryingly (for me), they are from way back in March and appear to relate to

[2018-10-27 07:51] AyushG3112 commented on #23919
You can already use the `http` module for that, just don't attach any listeners to the response stream.

[2018-10-27 08:29] jcormont opened #23921 "Infinite loop in `processTimers`"
* **Version**: v11.0.0
* **Platform**: Mac OS Mojave
* **Subsystem**: timers

There seems to be a critical issue in the `timers.js` module which causes an infinite loop in certain cases.

I kept hitting this issue at random times in my server code (which heavily depends on timers and async for connection state, timeouts etc), bringing the CPU up to 100%, but I noticed that the issue wasn't in my c

[2018-10-27 08:38] richardlau commented on #23921
See https://github.com/nodejs/node/issues/23860. Should be fixed by https://github.com/nodejs/node/pull/23870.

[2018-10-27 08:47] jcormont commented on #23921
Thanks! Indeed already fixed.

This is what I get for searching only open issues, didn't think an issue like this would be fixed this fast :)

[2018-10-27 09:45] ryzokuken opened #23923 "vm.compileFunction should return an object"
At https://github.com/nodejs/node/pull/23837#discussion_r228006947, @jdalton proposed that instead of returning a function with certain special properties, `vm.compileFunction` should instead return an object with the said properties and the function stored as the `value` property on the object.

This approach was infact discussed during the design phase of `compileFunction`, and I agree that eith

[2018-10-27 09:46] ryzokuken commented on #23923
/cc @nodejs/vm

[2018-10-27 13:34] refack commented on #23909
Again, thank you very much for following up.

[2018-10-27 13:52] ryzokuken commented on #23913
@tniessen @bnoordhuis "bad record mac"? That shouldn't happen, right (especially intermittently).

[2018-10-27 14:13] ryzokuken commented on #21285
Closing this because not only it had no follow-ups, @shobhitchittora doesn't seem to have continued working on master (I have no idea about their interactions with WGs, so cannot say for sure).

@shobhitchittora @thefourtheye please feel free to reopen this if you think I was wrong in my judgement.

[2018-10-27 14:13] #21285 closed

[2018-10-27 14:16] ryzokuken commented on #21358
@ChALkeR any updates?

[2018-10-27 14:18] ryzokuken commented on #498
The upstream PR seems to be stalled, and I attempted to close it. Is this still an issue? We could reformat it so that someone else picks it up.

[2018-10-27 14:19] ryzokuken commented on #21368
@bzoz @gireeshpunathil is this confirmed?

[2018-10-27 14:20] ryzokuken commented on #19831
@joyeecheung is this fixed? Can this be closed?

[2018-10-27 14:28] seishun commented on #21368
No follow up, so I suggest closing.

[2018-10-27 14:33] zhulika commented on #23909
Thank you for that.

I've only been able to look at this intermittently today so far (it being a Saturday), but I think that I have tracked it down to a clash between the version of openssl in node\deps and the version that is installed by vcpkg (Microsoft's C++ package manager). Things seem to be a little happier if I turn off the VS2017 integration of vcpkg but I haven't quite got as far as doin

[2018-10-27 14:33] ryzokuken commented on #22575
@piranna @addaleax did we follow up on this? If not, I could start a discussion on the TC39 mailing list and CC you.

[2018-10-27 14:37] ryzokuken commented on #20891
@BridgeAR closing this since this was fixed upstream and will be landed on `canary-master` soon if it hasn't already. Feel free to reopen this.

[2018-10-27 14:37] ryzokuken commented on #19831
@addaleax I'll try to help out.

[2018-10-27 14:39] #21368 closed

[2018-10-27 14:40] vdeturckheim commented on #22389
I tend to agree with @addaleax here. @coolaj86 would you open such PR? I'd be happy to help you doing so should you need it.

[2018-10-27 14:44] jordbaer commented on #23857
I don't think that is expected. The http code doesn't know what the upgraded protocol needs to do. Maybe the protocol wants to send a message to the socket when a timeout happens. Doesn't work, because the http code destroys the socket before the upgraded protocol event gets the "timeout" event.

[2018-10-27 14:56] refack commented on #23909
Thank you for the update. Any kind of solution (even if it's just local for you computer) will be tracked here and might help someone else in the future, so good luck.

[2018-10-27 15:05] zhulika commented on #23909
Turning off the vcpkg integration does allow me to build the latest Node. The problem was that vcpkg is still stuck on version 1.0.2p of openssl and using its Visual Studio integration mode inserts that obsolete version at the head of the list of include/lib directories for MSBUILD, causing all of the errors.

There is an outstanding ticket to upgrade it but that's out of my pay grade; I'll just h

[2018-10-27 15:05] #23909 closed

[2018-10-27 16:03] richardlau commented on #20891
@ryzokuken Reopening this as for Node.js 10 we'll probably need to float a V8 backport.

[2018-10-27 16:39] Ayms commented on #22672
As I said previously I think that you should document this possibility, and as I said also it's not very difficult to extend what I wrote so `new Buffer` does not get allocated random memory spaces that could be critical, with plenty of warnings if you like

But indeed, let's see if someone else care

[2018-10-27 17:00] #23702 closed

[2018-10-27 17:04] utkarshsingh99 opened #23925 "Incompatibility of Node wire version with MongoDB"
##### Version:
v6.14.4
##### Platform:
Linux 14.04.1-Ubuntu running on SSH shell on GCP[Google Cloud Platform]
###### Output of  `uname -a`:

I'm trying to run a project that requires MongoDB. So I installed the following version of it:

[code]

Everytime I run the command

I get the following error:

I don't know which of these is at fault here, but there are some solutions which say that updatin

[2018-10-27 17:16] wukefe commented on #22467
@ryzokuken I think it can be closed.  The bug has been reported to [chromium/v8](https://bugs.chromium.org/p/v8/issues/detail?id=8089) and assigned specifically to an Intel guy.

[2018-10-27 17:16] #22467 closed

[2018-10-27 17:42] sagitsofan commented on #23925
Sounds to me like a more MongoDB driver issue rather then a node issue.
I suggest you to ask in mongod.

[2018-10-27 19:43] ras0219-msft commented on #23909
Since NodeJS is providing all of its own dependencies, you can add a property to your MSBuild projects that will totally disable vcpkg's integration:
[code]
This will totally fix other users like @zhulika from having an issue here (though we'll look at trying to make this better in upstream vcpkg as well :)).

[2018-10-27 21:18] #23925 closed

[2018-10-27 23:45] mannerav commented on #23823
#pullfile

[2018-10-27 23:46] mannerav commented on #23859
#pullfile

[2018-10-28 00:13] jdalton commented on #23923
Background: Before the properties like `cachedDataRejected` were added to the `script` object instance. Because `compileFunction` returns the actual function placing extra data like `cachedDataRejected` ends up on the actual function. Something like a `script` instance would be handy for tracking this kind of data.

[2018-10-28 00:48] ZYSzys opened #23930 "Is the example wrong ?"
About the [cluster Event:'message'](https://github.com/nodejs/node/blob/master/doc/api/cluster.md#event-message),
is this example wrong ?
When I run the code in my machine, It shows `numReqs` didn't increase as below:

![screen shot 2018-10-28 at 8 42 18 am](https://user-images.githubusercontent.com/23313266/47610656-7e5bf600-da8d-11e8-9ad3-b1b1b790b83f.png)

* **Version**: v10.12.0
* **Platform**

[2018-10-28 00:57] Trott commented on #23930
The example is correct, I suppose, but in order to cause the number to increase, you need to issue an HTTP request on localhost port 8000. I did this by opening another terminal window and running `curl http://localhost:8000`.

The example could stand to be either clarified in the text or changed to be more obvious and not require HTTP requests. Or maybe both. But I wouldn't say it's wrong as is.

[2018-10-28 01:13] ChALkeR commented on #21358
@ryzokuken I didn't get any other comments to this, I think.
I'm still waiting to see if there is some rationale behind this change.

[2018-10-28 04:11] zhulika commented on #23909
Thanks very much @ras0219-msft; that's a very useful option to know about. Can it be added to the documentation for vcpkg?

[https://github.com/Microsoft/vcpkg/blob/master/docs/users/integration.md](https://github.com/Microsoft/vcpkg/blob/master/docs/users/integration.md#integrate)

[2018-10-28 05:28] reyou commented on #15464
People dealing with  async/await debugging craziness try:

\.vscode\launch.json
[code]

[2018-10-28 06:58] ben-page commented on #6379
@Trott, really? Nothing has been done, this is not at all resolved.

[2018-10-28 09:13] ChALkeR commented on #22389
This is not directly related to SQL injection, as the SQL injection comes from the lack of (automatic?) escaping of the hostname in user code, not from the lack of servername _validation_.
I.e. if the user code has SQLi vulnerabilities of that kind, it is unlikely that fixing just servername validation on Node.js side would fix those. Same for filenames - paths that come from user input should be

[2018-10-28 10:43] piranna commented on #22575
No, I didn't. Please start the discussion at TC39. Don't know if it's of their competence or v8 or Node.js, but I think if so TC39 would prefer instead to define a standard traces spec... At least this change would be a start for that :-)

[2018-10-28 11:37] puzrin commented on #17167
@bmeurer just for info - perfomance was not improved in node 11 too (it should use v8 version 7.0+, if i understand right).

It is possible to push progress forward somehow? It looks really strange that v8 team did not fixed such notable regression for a long time. In worst case, it would be interesting to understand possible workarounds.

[2018-10-28 12:07] jcubic opened #23935 "Infinite loop in timers in Node 11"
* **Version**: v11.0.0
* **Platform**: Linux jcubic 4.18.13-100.fc27.x86_64 #1 SMP Wed Oct 10 18:34:01 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: timers

I have jest test that was working in Node 10 and it's broken in Node 11, I've reported the [issue to jest framework](https://github.com/facebook/jest/issues/7282) but this may be issue with Node 11, I don't see much breaking changes

[2018-10-28 12:19] richardlau commented on #23935
See https://github.com/nodejs/node/issues/23921 and https://github.com/nodejs/node/issues/23860. Should be fixed by https://github.com/nodejs/node/pull/23870.

[2018-10-28 13:00] BeniCheni commented on #23884
Hello, saw this "good first issue" and caught up with the comments in #23876 PR. Seems that option 1) with a whitelist of modules, instead of the magic number (`78` in test code currently).

I'd like to give this issue a try. Would you mind guiding to get the list of modules to blacklist in [this comment](https://github.com/nodejs/node/issues/23884#issue-374102379) ☝️?

[2018-10-28 13:04] hashseed commented on #22575
You could easily achieve this by overriding `Error.prepareStackTrace`. I don't think we want to add the complexity for this in V8, especially since this is very bikesheddy.

[2018-10-28 14:03] #23890 closed

[2018-10-28 14:03] #23891 closed

[2018-10-28 14:09] #23935 closed

[2018-10-28 14:09] #23836 closed

[2018-10-28 15:11] vsemozhetbyt commented on #22874
It seems we have not needed consensus on this case, so I will close the issue.

[2018-10-28 15:11] #22874 closed

[2018-10-28 16:03] vsemozhetbyt opened #23940 "meta: fast-forward fails"
Trying to sync my local and remote fork with upstream as usually, I've suddenly got:
[code]

What happened and what should I do?

[2018-10-28 16:33] addaleax commented on #23940
From the discussion in the linked commit, it sounds like something was force-pushed out of `master`, and you were unlucky enough to update your own fork’s `master` at the wrong time?

`git fetch upstream master && git push --force-with-lease origin FETCH_HEAD:master` might fix this (by overriding your own `master` with the current upstream one)?

[2018-10-28 16:42] vsemozhetbyt commented on #23940
Thank you. This did sync my remote fork with upstream. What should I do to sync my local copy with origin? Sorry, I am still clumsy with git(

[2018-10-28 16:43] addaleax commented on #23940
Oh, right. `git checkout master && git reset --hard upstream/master` is the brute-force way to do that :)

[2018-10-28 16:47] vsemozhetbyt commented on #23940
Thank you! Sorry for disturbing.

[2018-10-28 16:47] #23940 closed

[2018-10-28 19:37] mcollina commented on #23859
That’s not how stream processing works. You cannot be certain that you are processing the last chunk, because the stream could be ended after that chunk is processed. You have to use _flush or _final.

[2018-10-28 22:04] piranna commented on #22575
Maybe would makes sense to implement this here in Node.js? Later it could be used as a proof-of-concept to implement it in other environments... Would you accept a pull-request for this?

[2018-10-29 00:31] devsnek commented on #22575
@piranna i'm in the middle of rewriting our error stack decoration over in https://github.com/nodejs/node/pull/23926. after that lands you could open a pr modifying the new stack decoration method we use.

[2018-10-29 03:09] spitWind opened #23948 "Require function added"
** Is your feature request related to the issue? Please describe it. **
1.npm many redundant files when installing
2. node require The method of finding the target package is cumbersome
Please describe the problem you are trying to solve.
1. Resolve npm package on disk for duplicate storage

**Describe the solution you want**
Please describe the desired behavior.
1. require to read the path inform

[2018-10-29 07:02] rektide commented on #18255
I like the idea in https://github.com/nodejs/node/issues/23267#issuecomment-427145278 :

[2018-10-29 07:02] #23267 closed

[2018-10-29 07:35] alexfung888 commented on #23838
Me too. Reboots forever. Created dozens of install scripts under `BuildPackages`, every one of them reads:
[code]

I guess python2 is never installed properly. When using nodejs, I get in gyp errors with pythrons all the time, but it seems ok to ignore them, except that it now keeps rebooting the machine (and needs me to type password too).

I also get a strange directory called `regid.1991-06.com

[2018-10-29 10:44] alexfung888 commented on #23838
and if I bypass install tools with Nodejs, the installer told me to follow the steps at
[code]
unfortunately it won't work. It seems windows-build-tools only support nodejs v4..9. maybe that's also why chocolatey failed.

[2018-10-29 11:14] dsinecos opened #23952 "UDP/Datagram Sockets documentation"
**Module**
UDP/ Datagram Sockets documentation

**Current Documentation**

The description for the `listening` event for `dgram.Socket` states that 'This occurs as soon as UDP sockets are created'. [Reference](https://nodejs.org/api/dgram.html#dgram_event_listening)

**Expected Documentation**

To my understanding this is incorrect as the listening event is fired once the socket is bound to a Port

[2018-10-29 11:40] paragi commented on #3232
In C  **readdir** iterates over a directory. The reason is that modern file systems must be able to handle millions of file in a directory. ( which makes node a no go, on some large scale systems)

Irritating is unpractical with an interpreted language.
Another often used solution is to do some filtering at a low level, with wildcards. (Glob function)
Sorting should of cause always be optional :)

[2018-10-29 11:48] oyyd commented on #1826
Related change for v8 module is introduced in #23953.

[2018-10-29 11:53] bnoordhuis commented on #23948
It's completely unclear to me what you're asking. Please try again.

[2018-10-29 13:03] bnoordhuis commented on #23952
I agree the wording is kind of confusing, even if it's technically correct.

"As UDP sockets are created" refers to the underlying OS socket. They're addressable the moment they're created nit Node.js delays creating them until the first send() or bind().  To illustrate:
[code]

[2018-10-29 13:16] dsinecos commented on #23952
Thanks @bnoordhuis :)
This cleared up my confusion.

Borrowing from your explanation I think the existing description could be modified to something like the following -

" The `listening` event is emitted on the first invocation of either `send()` or `bind()` for the respective socket.

While the sockets are addressable immediately after creation using `dgram.createSocket` NodeJS delays creating

[2018-10-29 13:32] shobhitchittora commented on #21285
@ryzokuken I haven't received any help / guidance on this for a long time. I'm sad to see it being closed here.

[2018-10-29 13:34] addaleax opened #23955 "Nominating Ouyang Yadong (oyyd) to be a collaborator"
I'd like to nominate @oyyd as a Collaborator. They are engaging frequently, in a wide range of areas, and I’d love for them to stick around, especially since they care about some of the areas that haven’t received much work in the past (e.g. the tls/`StreamWrap` code).

Commits: https://github.com/nodejs/node/commits?author=oyyd
Comments: https://github.com/nodejs/node/search?q=commenter%3Aoyyd&ty

[2018-10-29 13:37] gireeshpunathil commented on #23955
+1

[2018-10-29 13:40] cjihrig commented on #23955
+1

[2018-10-29 13:40] iansu commented on #22919
@bcoe Yes, I'm definitely still interested in working on this with you.

[2018-10-29 13:53] renminghao commented on #23955
+1

[2018-10-29 14:04] benjamingr commented on #21285
@shobhitchittora are you still interested in contributing to the project? If so - when would you be able to be involved again?

(I haven't noticed activity in Node since May 2018 - feel free to point out if I got this wrong)

[2018-10-29 14:10] mhdawson commented on #23955
+1

[2018-10-29 14:10] benjamingr commented on #23955
+1

[2018-10-29 14:12] benjamingr commented on #23948
You can try going on our IRC channel and finding someone who speaks your native tongue better that can help you write the issue down?

I also can't understand any of this. Sorry :/

[2018-10-29 14:12] hiroppy commented on #23955
+1

[2018-10-29 14:44] shobhitchittora commented on #21285
@benjamingr Sure! I'd love to. I know that I've not been active for some time now ( been passively active on closing my PRs ). I'm up for more contributions now and would like all the support I can get.

[2018-10-29 14:45] oyyd commented on #23955
Thanks for the nomination! I'm glad that I could become a collaborator and land some PRs by myself 😉

[2018-10-29 14:48] trivikr commented on #23064
QUIC will be called HTTP/3 or h3 https://mailarchive.ietf.org/arch/msg/quic/RLRs4nB1lwFCZ_7k0iuz0ZBa35s

[2018-10-29 14:57] benjamingr commented on #21285
Sure, can you make some more PRs? If you do I would love to suggest opening this nomination again. I am just one member though and other members might be willing to open it before.

[2018-10-29 14:59] bazzadp commented on #23064
Not quite. HTTP over QUIC is proposed to be called HTTP/3. QUIC will likely be used for transporting more than just HTTP. QUIC the transport layer will still be called QUIC. Part of the reason for this is to separate the two to avoid this confusion.

It’s also just a proposal at the moment and is to be discussed in next weeks IETF meet-up in Bangkok.

[2018-10-29 15:04] jasnell commented on #23064
http/3 ... sigh. Ok, good to know.

[2018-10-29 15:05] bnoordhuis commented on #23952
Yes, sounds good. Maybe even cut it short by a few more words. Want to open a PR?

[2018-10-29 15:14] dsinecos commented on #23952
Yup, I'll edit it and open a PR

[2018-10-29 15:53] jasnell commented on #23064
FWIW, I've started to track the progress of the draft through IETF and I'm investigating implementation options. I'm currently focusing attention on the `ngtcp2` implementation as that will most likely give us the best alignment with `nghttp2` should we choose to move forward. What I would anticipate is the implementation moving in two phases:

1. Implementation of the basic QUIC support. This wou

[2018-10-29 16:08] bazzadp commented on #23064
Btw not sure you saw this: https://www.ietf.org/blog/whats-happening-quic/. Says it will go into 2019 (not really a surprise to anyone hats been following this and Nov 2018 was a little too aggressive) but that it is getting close and is settling down.

[2018-10-29 16:22] rmarx commented on #23064
Great to hear @jasnell! Definitely interested in contributing when you move forward.

I'm not sure at this moment if it's a good idea to refactor the current HTTP/2 API to support both HTTP/2 over TCP and HTTP over QUIC, since while they are similar, there are enough details that would make that difficult (e.g., QPACK). Especially looking toward future changes, it might be more flexible to keep th

[2018-10-29 16:35] LPardue commented on #23064
Nice plan @jasnell.

This is probably of marginal interest but in case you were not aware, BBC R&D had a stab at implementing HTTP/QUIC on top of ngtcp2 - https://github.com/bbc/nghq. It doesn't support the conventional unicast mode of delivery, and it is a bit outdated now, but it should show an example of how to get ngtcp2 running

[2018-10-29 17:07] mmarchini commented on #16198
@suresh-srinivas should this remain open or was it addressed by #22079?

[2018-10-29 17:15] suresh-srinivas commented on #16198
Yes this is addressed by  [PR  #22079?](https://github.com/nodejs/node/pull/22079)

[2018-10-29 17:15] #16198 closed

[2018-10-29 17:42] yozol commented on #23955
+1

[2018-10-29 17:42] yozol commented on #23955
+1

[2018-10-29 17:42] yozol commented on #23955
+1

[2018-10-29 18:12] SimonSchick opened #23960 "Mixed function/class inheritance broken pre v7.2?"
* **Version**: < 7.2
* **Platform**: Windows, OSX, also whatever Travis is using.
* **Subsystem**: Ubuntu Subsytem in windows

A change I made in the `sequelize` package here: https://github.com/sequelize/sequelize/pull/10091/files#diff-696825d45557dfe5b68972fd6f69587bL15 uncovered a weird problem.
When I changed this pre-es6 class to a es6 class the build would start to fail on node v6 but not on

[2018-10-29 18:12] SimonSchick commented on #23960
After some more digging it seems that this bugfix in v8 never made it into node v6 as a bugfix?
https://github.com/v8/v8/commit/58d695397906767c3d0d85ac012e1ee0baad2bee

[2018-10-29 18:44] Drieger commented on #23338
I would like to try to fix this. but I need some guidance. Is it just a matter of emitting a `close` event altogether with the `error` one? Or should some additional action be taken?

I was thinking that if a file doesn't exist, `close` event shouldn't be emitted once file descriptor couldn't even be opened.

[2018-10-29 19:15] ronag commented on #23338
You would think that. However, the stream API (as far as I understand it) needs to emit `close` regardless. You can think of `close` as  `destroyed`. It's just an unfortunate coincidence that files also have the concept of open and close.

[2018-10-29 19:16] ronag commented on #23338
Probably, also we have to make sure that no further events are emitted afterward, e.g. `open`.

[2018-10-29 20:26] richardlau opened #23962 "AIX build failure"
Looking into this. Opening for investigation/tracking.

Refs: https://github.com/nodejs/node/pull/22237#issuecomment-434048630

https://ci.nodejs.org/job/node-test-commit-aix/18405/nodes=aix61-ppc64/consoleFull

First few errors in build log:
[code]

cc @nodejs/platform-aix

[2018-10-29 20:29] addaleax commented on #23962
Looks like this comes from https://github.com/nodejs/node/pull/23808, on which CI was run but not on AIX?

[2018-10-29 20:29] richardlau commented on #23962
https://github.com/nodejs/node/pull/23808 was the most recent change to [`aliased_buffer.h`](https://github.com/nodejs/node/pull/23808/files#diff-60658f40e7ef75905d41ef98a6f6b1f7).

[2018-10-29 20:33] richardlau commented on #23962
@refack @nodejs/build-infra Any ideas why the CI for https://github.com/nodejs/node/pull/23808#issuecomment-432730964 (https://ci.nodejs.org/job/node-test-pull-request/18121/) didn't run on AIX?

[2018-10-29 20:35] richardlau commented on #23962
Also from the build log https://ci.nodejs.org/job/node-test-commit-aix/18405/nodes=aix61-ppc64/consoleFull it looks like gcc 4.8.5 is being used, which doesn't look right:

[code]

[2018-10-29 20:46] richardlau commented on #23962
I think this error suggests the script is being run with the default `korn` shell instead of `bash`?

[code]

@nodejs/build-infra Can someone check this on the AIX CI machines?

[2018-10-29 20:50] richardlau commented on #23962
This is what the equivalent `select-compiler.sh` output on AIX is supposed to look like in a recent working build off master:

https://ci.nodejs.org/job/node-test-commit-aix/18415/nodes=aix61-ppc64/consoleFull
[code]

We should be using gcc 6.3 on AIX for master (https://github.com/nodejs/node/blob/master/BUILDING.md#aix).

[2018-10-29 20:56] refack commented on #23962
I fixed a bug in the build script around 4AM EDT at @joyeecheung's [ping on IRC](http://logs.libuv.org/node-build/2018-10-29#07:35:11.444)
![image](https://user-images.githubusercontent.com/96947/47679675-34613600-db9b-11e8-9c11-624cad895fd6.png)

tl;dr the default shell on AIX is not `bash` so some of the tests in `select-compiler.sh` weren't evaluated correctly, and the job ended up compiling wi

[2018-10-29 20:56] #23962 closed

[2018-10-29 20:57] refack commented on #23962
There were infra issues, so the AIX job was disabled for a few days. I turned it back on last night.

[2018-10-29 21:02] richardlau commented on #23962
Is that logged anywhere? That means that for the few days it was disabled none of the CI's were running on AIX.

[2018-10-29 21:47] matrixapps commented on #15464
Hi,
Unfortunately this did not help me.  I already had _"skipFiles": ["<node_internals>/**"]_ and thought the addition of _"smartStep": true_ would help, but to no avail.  This continues to drive me nuts!

Thanks anyway!
Rob

[2018-10-29 21:51] reyou commented on #15464
@matrixapps  do you have a minimal test project to look at?
Maybe I can download and try on my local to see if it steps through correctly.

What behavior are you facing with?

[2018-10-29 21:58] matrixapps commented on #15464
In my current stack I see that it occurs on a Promise within _lodash.reduce_.  I'm not explicitly  calling this but its part of a much larger login sequence.  The actual breakpoint happens in

[2018-10-29 21:58] refack commented on #23962
I'm not sure if I sent out a notification on IRC...
There was a notice that one machines whet offline for manual testing https://github.com/nodejs/build/projects/2

[2018-10-29 22:33] refack commented on #23913
[`test.parallel/test-tls-pfx-authorizationerror`](https://ci.nodejs.org/job/node-test-commit-arm/nodes=ubuntu1604-arm64/19556/testReport/junit/(root)/test/parallel_test_tls_pfx_authorizationerror/)

[code]

[2018-10-29 22:41] mhdawson commented on #23962
@refack I don't quite understand, the last update to https://github.com/nodejs/build/commits/master/jenkins/scripts/select-compiler.sh was 27 days ago?

[2018-10-29 23:07] refack commented on #23962
@mhdawson AFAICT this is what happened:
1. `select-compiler.sh` has always been silently failing on AIX and picking up gcc4.8. My assumption is that it's because it uses `bash` features, but the the aix Jenkins job was calling the default `sh` which is not `bash`.
2. During the last few days we landed several PRs with code that actually requires gcc4.9.
3. The AIX job was offline during the last f

[2018-10-29 23:17] mhdawson commented on #23962
Ok thanks, got it.  I suspect it was just using the wrong compiler since the last update I made.  I had checked the release jobs carefully, but I guess I needed to check all of them (one of the reasons I was cautious about changing the script).

Separately, I think we should open an issue in the build repo any time we remove a platform from one of the jobs so that it gets maximum visibility.

[2018-10-29 23:37] mhdawson commented on #23612
@wnordmann can you try out this branch **https://github.com/mhdawson/io.js/tree/cov-single**

It has an additional target coverage-update which might be what you want.

You would use as follows

1) run `make coverage` normally
2) Make your updates to specific tests, run those specific tests
3) run `coverage-update`
4) Review the updated coverage.

I `think` it would update overall coverage based o

[2018-10-29 23:38] mhdawson commented on #23612
If that works for you I'll PR it in.

[2018-10-29 23:46] bcoe commented on #23612
@mhdawson @wnordmann sorry for dropping this thread on the floor; Not going to lie, I was making  an effort to get https://github.com/nodejs/node/pull/23941 over the finish line (which has the potential to significantly simplify coverage collecting.

Once https://github.com/nodejs/node/pull/23941 lands, collecting coverage for a single file becomes as simple as:

[code]

[2018-10-30 03:15] #23919 closed

[2018-10-30 07:07] palmamta commented on #3431
Can anybody help me ? I'm having the same issue.
i had try all the solution above

[2018-10-30 07:49] noamso1 opened #23969 "fs appendFileSync appends twice"
every call to appendFileSync writes the string twice to the file!! what to do?
here's my code:
<pre>
var http = require('http');
var fs = require('fs');

http.createServer(function (req, res) {
  fs.appendFileSync('1.txt', 'A', 'utf8');
  res.write('123');
  res.end();
}).listen(9999);

</pre>

[2018-10-30 07:58] MikaelSoderstrom commented on #23838
I just got UAC turned off myself and had to activate it manually. This is really, really bad.

[2018-10-30 08:09] TomSputz commented on #23333
Is there any chance some solution to this might be implemented?

[2018-10-30 08:15] tarunbatra commented on #23333
Can you explain this:

[2018-10-30 08:15] leeight commented on #23969
try `console.log(req.url)`, maybe your server received two request?

[2018-10-30 08:48] noamso1 commented on #23969
THANKS LEEIGHT.... you are right. its because the browser asked for favicon.ico.... i added:
<pre>
if (req.url === '/favicon.ico') {r.end();}
</pre>
case is closed!

[2018-10-30 09:35] fhinkel commented on #23850
+1

[2018-10-30 09:36] fhinkel commented on #23849
+1

[2018-10-30 09:38] mcollina commented on #23849
@psmarshall I'm available to onboard you at NCEU.

[2018-10-30 10:06] mcollina commented on #23338
The solution to this should be based on https://github.com/nodejs/node/pull/22795 (`autoDestroy` flag for streams).

[2018-10-30 10:15] psmarshall commented on #23849
@mcollina OK sounds good, thanks

[2018-10-30 10:52] #23969 closed

[2018-10-30 11:18] Drieger commented on #23338
Ok, I'll take a look at this

[2018-10-30 13:32] aesqe commented on #23838
Same here.

After the 3rd or 4th restart, the script had finally managed to install Python and Build Tools (that's just a guess at this point).

But after the next restart, it looked like it was going to begin the whole process again so I stopped the script and removed the startup task.

And I've just noticed that my UAC is off.

[2018-10-30 13:49] mhdawson commented on #23433
@thefourtheye Was option 1 updated to include changes from #23709 or did I just miss that the first time I looked at it.

I think there should be an option were we leave functionality as is but update the documentation.  That is what I thought 1 was originally.

[2018-10-30 14:04] Ar3sion commented on #18124
This sounds like another instance of node is already running a socket on the same port...

[2018-10-30 15:32] TomSputz commented on #23333
[code]

[2018-10-30 15:49] #8102 closed

[2018-10-30 16:00] leeight commented on #23802
After downgrade Xcode to 9.4, the problem still exists :-(

[code]

[2018-10-30 16:04] demurgos commented on #23638
Closed by https://github.com/nodejs/node/commit/124d91667abb203098baa7d6cf6011e8df5eeeff

[2018-10-30 16:04] #23638 closed

[2018-10-30 17:10] joyeecheung opened #23975 "doc: is the stability guarantee of err.code documented anywhere?"
Surprisingly I cannot find in any significant places in https://github.com/nodejs/node/blob/master/doc/api/errors.md that `err.code` provides a stronger stability guarantee and should be preferred over parsing `err.mesage`.  Am I missing something?

This is something that a lot of Node.js collaborators know, I am sure, but if we don't put it in a significant place in the docs (e.g. with examples),

[2018-10-30 17:33] ofrobots commented on #23675
@AdamMajer a few more questions.. 1) do you have instructions on how you're running in a chroot. I want to reproduce this. 2) in the core dump, on the asserting thread, do you know the value of `handle->type` in `uv__finish_close`. The stack trace has frames elided, so I am not sure which thread this is supposed to be.

[2018-10-30 17:58] bnb opened #23979 "docs: Version switcher is broken / misleading"
Currently if you try to switch to other semver major versions of the same docs on the docs site, you get extremely inconsistent results. Questions I had as I was going throught

As an example, here are the HTTP/2 docs:

**v8.x**
![image](https://user-images.githubusercontent.com/502396/47739263-6631d580-dc4b-11e8-98e8-f82ef79306d4.png)

**v9.x** (where is v8.x?)
![image](https://user-images.github