[2017-05-04 19:29] refack commented on #12829
IMHO simplest solution is to explicitly state the status of these two modules in a note at the end of the definition...
meta-deprecation of the deprecation definition... 😲

[2017-05-04 19:48] refack commented on #12803
It's not a edge case, it's a real regression. the test didn't detect that
[code]
Doesn't work on windows.

[2017-05-04 19:54] supachaiofficial opened #12834 "Calculation error"
* **Version**:
-> v4.8.1
-> v7.8.0

* **Platform**:
-> Linux ip-172-31-17-62 4.4.0-72-generic #93-Ubuntu SMP Fri Mar 31 14:07:41 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
-> Darwin supachai-macbook-pro.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3 16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64

**Node Input:**
console.log('print output: ',93.46+100.00+93.46)
**Node Output:**
p

[2017-05-04 19:57] ChALkeR commented on #12834
That is the expected behaviour per the [ECMAScript spec](https://www.ecma-international.org/ecma-262/7.0/index.html#sec-terms-and-definitions-number-value), the numbers defined in [IEEE_754-2008](https://en.wikipedia.org/wiki/IEEE_754-2008) behave that way.

[2017-05-04 19:57] #12834 closed

[2017-05-04 20:04] ChALkeR commented on #12834
You can verify that in browser developers console.

Also you can verify that in other languages, e.g. `python`.

[2017-05-04 20:09] Trott opened #12836 "`test-npm` applicability"
* **Version**: v8.0.0-pre
* **Platform**: all
* **Subsystem**: doc,test

What's the deal with `make test-npm`? Who is supposed to run that and when?

A lot of new folks have problems with it, and they're only running it because it's in `BUILDING.md`. I wonder if it should be moved in that doc, removed from that doc, annotated in that doc, or if it really is generally applicable and should be made

[2017-05-04 20:32] silverwind commented on #12786
Can we require Python 3.6 to run tests?

[2017-05-04 21:02] supachaiofficial commented on #12834
<?php
echo ("php calculation\n93.46+100.00+93.46 = ");
echo ( 93.46+100.00+93.46 );
echo ("\n");
?>

will show:
php calculation
93.46+100.00+93.46 = 286.92

[2017-05-04 21:11] Fishrock123 commented on #12836
Annotated? You should really only need to run it if you are upgrading npm. pretty much no one does that except from me and @MylesBorins at the current time.

It will not run/work on Windows. It does not pass on Linux as of the latest time someones tried it. (Alpine, maybe?)

Since it is not suitable for our CI (I think it still makes network calls? maybe cc @nodejs/npm) it is run on local macOS ma

[2017-05-04 21:30] ChALkeR commented on #12834
@supachaiofficial That's rounding on the output (or, more specifically, on the default number-to-string conversion).

[code]

[2017-05-04 21:33] ChALkeR commented on #12834
@supachaiofficial In those languages that do the rounding on the output (and/or conversion) by default, you could check that with a similar example:
[code]

[2017-05-04 21:39] vsemozhetbyt commented on #12803
Simplified reproducible test:
[code]
[code]
Last `fchmodSync()` fails, the file remain read-only.

[2017-05-04 21:51] refack commented on #12803
You are playing with fire manipulating `__filename`
~~Does this work for a brand new file created in `process.env['TEMP']`?~~
I'll just check...

[2017-05-04 21:55] refack commented on #12803
My ver https://gist.github.com/refack/fcb5a19b17f861dbca64e02592afaa55#file-test-12803-fchmod-js

[2017-05-04 21:59] vsemozhetbyt commented on #12803
@refack I'made it more abstract, but it still fails for a new file in the cwd.

[2017-05-04 22:07] refack commented on #12803
Cut some stuff out
[code]

Now I got #12835 to fail with new files.
The key is `execSync(`attrib -a -i ${tmpFile}`);`

[2017-05-04 22:23] ericsciple opened #12837 "Support NODE_NO_WARNINGS in node 6?"
* **Version**:
6x

* **Platform**:
All

* **Subsystem**:
dont know

Any chance support for the NODE_NO_WARNINGS env var will be backported to node 6?

We currently bundle node 5.10.1 with our CI agent. I'm trying to investigate whether it's feasible to replace the v5 that we bundle with v6, without causing a back-compat issue for our customers. It's our build extensions that I don't have control o

[2017-05-04 22:26] ericsciple commented on #12837
Closing for now... i found [other things](https://github.com/nodejs/node/wiki/Breaking-changes-between-v5-and-v6) i need to consider first.

[2017-05-04 22:26] #12837 closed

[2017-05-04 23:00] refack commented on #12786
Except `GYP` doesn't work with python 3 😆

[2017-05-04 23:01] refack commented on #12786
IMHO a comment about setting
[code]
with the right keywords (`LookupError: unknown encoding: cp65001`, python, test) will be sufficient.

[2017-05-04 23:16] vsemozhetbyt commented on #12803
@refack Well, the plot thickens :)
I've tried to exhaust all sets of attributes. This is more general test:
[code]
[code]
Weird.

[2017-05-04 23:26] refack commented on #12803
Need a good debugging session... I'll start a build...

[2017-05-04 23:32] vsemozhetbyt commented on #12803
So, it seems only `-a -h -i -r -s` set of attributes break `fchmod`. ``-a -h -i +r -s` case is the same as it becomes `-a -h -i -r -s` before the fail.

[2017-05-04 23:34] refack commented on #12803
So it's probably something with either 0 or a bad bit-mask.

[2017-05-04 23:40] refack commented on #12803
This is a trace of the system calls
<details>
<pre>
19:35:14.2105663
	2180
	node.exe
	Read Metadata
	SUCCESS
	QueryBasicInformationFile
	D:\code\node\test\tmp\a1.js
	CreationTime: 04/05/2017 19:35:13
		LastAccessTime: 04/05/2017 19:35:13
		LastWriteTime: 25/04/2017 07:37:43
		ChangeTime: 04/05/2017 19:35:14
		FileAttributes: N
	REFAELUX\refael
19:35:14.2106125
	2180
	node.exe
	Write Metadata
	SUCC

[2017-05-04 23:41] addaleax commented on #12836
I’d say so, yes

Fwiw the npm tests doesn’t pass for me on Linux until https://github.com/npm/npm/pull/16474 gets merged even outside of `make test-npm` :smile:

[2017-05-04 23:48] Trott commented on #12823
/cc @misterdjules

[2017-05-04 23:55] Trott commented on #12836
PR submitted. This isn't a bug report, just a question, so I'm going to close it.

[2017-05-04 23:55] #12836 closed

[2017-05-04 23:58] addaleax commented on #12833
Yes, this is weird, the file isn’t even there in the v7.10.0 tag. @nodejs/build ideas?

[2017-05-05 00:01] vsemozhetbyt commented on #12803
Sorry! I was wrong and the test was wrong. I've fixed it now: we need to reset the set of file attributes each time to detect the problematic set and what change it disables. New conclusion: only set `-a -h -i +r -s` is problematic for `fchmod`, preventing it from setting `RW` mode (= from removing `RO` mode).

[2017-05-05 00:06] refack commented on #12803
This https://github.com/nodejs/node/pull/12835/files#diff-745585b335912e43a534e6175f659c70 test I added to #12835 reproduces every time.

[2017-05-05 00:07] refack commented on #12803
It's like you said, we start with a regular file, remove attributes, set RO, then can't set RW.

[2017-05-05 00:16] vsemozhetbyt commented on #12803
@refack Maybe it is worth to set `-a -h -i -r -s` in the test to be completely sure that some weird concatenation of circumstances will not set some of them on for a new file.

[2017-05-05 00:21] refack commented on #12803
@vsemozhetbyt done

[2017-05-05 00:29] arturgvieira commented on #12793
Hi, I would like to help, I am very interested in contributing.

[2017-05-05 00:36] misterdjules commented on #12823
The change looks good to me.

We might want to add a comment that an exit code of 3 is the expected exit code for a program that terminates by calling the C runtime library's `abort()`, compared to a program that terminates by calling V8's `base::OS::Abort` which can trigger different behaviors depending on the compiler and other things.

We could add a link to [the documentation of the abort func

[2017-05-05 02:00] cyrus-and opened #12841 "`ENETUNREACH` not handled for `http.request` in 7.10.0"
* **Version**: 7.10.0
* **Platform**: Linux
* **Subsystem**: http

As the title says that error is not delivered via the returned event emitter, an exception is thrown instead. Other errors are properly handled, e.g., using `{port: 0}` which causes `ECONNREFUSED`. Also the net subsystem doesn't seem to be affected when I try with `net.connect` using the same options.

Here is the snippet to reprod

[2017-05-05 03:49] akdor1154 opened #12842 "Comparing arrays with `assert` seems to take polynomial time."
* **Version**: 6.10.3 x64
* **Platform**: OS X 12.4

Comparing two arrays with `assert.deepEqual` or `.deepStrictEqual` seems to take a polynomial amount of time relative to the array size.

Quick code:
[code]
Returns a list of (n),(time) pairs.
On my machine, the output of this is
[code]

Graphed, this looks like
![linear](https://cloud.githubusercontent.com/assets/6732831/25733102/420505aa-3199-

[2017-05-05 04:29] refack commented on #12842
tl;dr: Yes
The current algorithm does not optimize for `Arrays` so it recurses into each element, I'm not sure it's O(exp(n)) probably O(n**m) where m is the depth of your elements.

In OSS as in OSS, you are welcome to submit an improvement. If you are interested a good place to start is https://github.com/nodejs/node/blob/master/lib/assert.js#L392

[2017-05-05 04:32] refack commented on #12842
A simpler option is to add a comment in the docs https://github.com/nodejs/node/blob/master/doc/api/assert.md#assertdeepequalactual-expected-message

[2017-05-05 05:16] NTMan commented on #4329
@joaocgreis Thanks you advice from comment https://github.com/nodejs/node/issues/4329#issuecomment-254825118 helps me

Nodejs 6.10.3 issue present.

[2017-05-05 05:54] mscdex commented on #12841
Works fine in v7.9.0. Looks like a regression somewhere...

[2017-05-05 06:31] mscdex commented on #12841
Bisecting reveals d0b1be13f980210bb071af9c7fa3fcaeda7a2c7f is the culprit.

/cc @bnoordhuis

[2017-05-05 06:41] phil123456 opened #12845 "E/downloader - { Error: unable to get local issuer certificate"
Hello,

I get this doing "npm install"

[code]

I tried these with no luck ( user , pass and proxyadress are not provided here )

[code]

Version: 6.9.2
Platform: win 7 64

let me know if you need more infos

[2017-05-05 07:20] mscdex commented on #12845
npm issues should be posted over on the [npm issue tracker](github.com/npm/npm/issues) instead.

[2017-05-05 07:59] phil123456 commented on #12845
404

[2017-05-05 08:05] ezequielgarcia opened #12848 "New dlopen flags API"
Let's discuss how an API for dlopen flags should look like. A proposal has been made on https://github.com/nodejs/node/pull/12794, where it was clear that once we sort out the API, the implementation is fairly straightforward.

As @jasnell and @sam-github pointed out it would be ideal to be able to pass these flags to act locally to a specific addon. On the other hand, this might require more work

[2017-05-05 08:13] jasnell commented on #12848
Every module gets it's own copy of the `require()` function so in that sense it's not global. We can hang the API off `require.setdlopenFlags(...)` and have it be specific to just that one instance of `require()` (and any native modules loaded via that instance of `require()`. There are some changes that would need to be made at the binding layer, but those shouldn't be too complicated.

[2017-05-05 08:26] watilde commented on #12825
That would be interesting. I just started working on it 🐎

[2017-05-05 09:15] addaleax commented on #12842
It should be O(n²) right now, I think – it’s iterating over the array in a linear fashion, but currently does an `.indexOf` over all objects it has already seen to check whether possible circular references match.

This is fixable (to O(n log n)), though: https://github.com/nodejs/node/pull/12849

[2017-05-05 09:38] addaleax commented on #12848
@jasnell That’s not so easy, though – often enough, addons are required in a nested fashion (or through some more complex logic, like what the `bindings` module does)…

I think I’m good with option 1), because the dlopen flags actually *can* affect the process in a non-local fashion.

[2017-05-05 10:06] vivoil commented on #12790
+1

[2017-05-05 11:02] CliffS opened #12853 "node: ../deps/uv/src/unix/async.c:136: uv__async_io: Assertion `n == sizeof(val)' failed."
* **Version**: v7.10.0
* **Platform**: Ubuntu 16.04.2 LTS
* **Subsystem**: libuv

    node: ../deps/uv/src/unix/async.c:136: uv__async_io: Assertion `n == sizeof(val)' failed.

I note that this is supposedly a solved issue at https://github.com/libuv/libuv/issues/1171 but I am still seeing it in v7.10.  I am running an smtp proxy server which is listening on around 35 interfaces / ports and I am s

[2017-05-05 11:30] addaleax commented on #12853
I think this might just require a libuv update in Node itself? /cc @saghul @bnoordhuis

[2017-05-05 11:59] CliffS commented on #12853
It appears that [libuv #1214](https://github.com/libuv/libuv/pull/1214) didn't make it in but that it was fixed by [this commit](https://github.com/libuv/libuv/commit/5fc8aecd81dbb31e76bd80834bb73b0e9b1e5c4c).

This commit does not seem to have made it to the current node source tree.

[2017-05-05 13:26] vsemozhetbyt opened #12858 "test, timers, tools: question about fails on Windows"
* **Version**: mater
* **Platform**: Windows 7 x64
* **Subsystem**: test, timers, tools

Sorry, the test is too complicated for me. Is it intended to fail on Windows in both these ways or do I miss some prerequisites or flags?

[code]

[code]

cc @nodejs/platform-windows, @nodejs/testing, @nodejs/python, @fishrock123, @misterdjules

[2017-05-05 14:04] nsgundy opened #12859 "Crash with "prodnode.sh: line 1: 23004 Aborted""
* **Version**:  v6.9.1
* **Platform**: Linux 3.10.17-4.1.0+yocto+g16b0ca9 #1 SMP Wed Apr 26 14:59:18 EDT 2017 armv7l GNU/Linux
* **Subsystem**: unknown (possibly fs)

We are experiencing a node crash that only prints this one line on the console before exiting:
[code]

No idea currently what this means, any pointers are welcome. The last thing we can see in our logs (issued by the JS code) is that

[2017-05-05 15:16] ezequielgarcia commented on #12848
I understand that changing the `require` as in (3) is syntactically invasive -- But OTOH, isn't this expressing the intent most clearly? Note that it also requires changes to the `bindings` module.

Option (1) is really the simplest one.

[2017-05-05 15:40] Fishrock123 commented on #12858
IIRC you need to install some `Faketime` tool. I have no idea if it runs on Windows.

The `timers` directory is specifically for this test and should otherwise not be used.

[2017-05-05 15:45] mscdex commented on #12859
There is nothing in node itself called 'prodnode.sh', so that should be coming from somewhere else...

[2017-05-05 15:55] misterdjules commented on #12858
This test does not run on Windows. It relies on [libfaketime](https://github.com/wolfcw/libfaketime) which, at the time I wrote this test, did not support Windows.

[2017-05-05 16:31] Silur commented on #7129
So it's been almost a year and I'd like to revive this issue here, based on https://github.com/nodejs/node/pull/7130#issuecomment-223675846, since the pull request above got rejected with ignorant reasons.
The current documentation is still **intentionally** misleading, for even contributors agree that _there is no way to write an addon in C_.

[2017-05-05 17:48] vsemozhetbyt commented on #12858
Maybe we can somehow note about this, like with the whole `pseudo-tty` suite:
[code]
and with isolated tests:
[code]

[2017-05-05 18:25] misterdjules commented on #12858
@vsemozhetbyt Sounds good to me!

[2017-05-05 18:27] nsgundy commented on #12859
Sorry about opening the issue. We have identified where the `prodnode.sh` came from (introduced by integration), so we currently have no valuable information on why node exits for us. Will open a new issue if we ever come across usable information. Thanks for the quick response @msdex.

[2017-05-05 18:27] #12859 closed

[2017-05-05 18:31] refack commented on #12858
@vsemozhetbyt you handle with python? Or you need help?

[2017-05-05 18:51] #7742 closed

[2017-05-05 19:42] vsemozhetbyt commented on #12858
@refack No, I do not handle with python, sorry. Could you please address the python part?

And I actually am not comfortable to mess with a test I do not understand completely, so maybe it would be better if somebody more confident also adds `common.skip()` or something to the `timers\test-timers-reliability.js`.

[2017-05-05 20:01] vsemozhetbyt commented on #12819
cc @bnoordhuis, @cjihrig

[2017-05-05 21:12] vsemozhetbyt opened #12865 "meta: collaborators list nits in README.md"
I've compared our [user-created list](https://github.com/nodejs/node/blob/master/README.md
) with [auto-generated one](https://github.com/orgs/nodejs/teams/collaborators
) and found out some differences. FWIW:

1. fishrock123 -> Fishrock123
2. qard -> Qard
3. &nbsp;
[code]

I am not sure if this should be addressed.

<sub>
EDIT: Minor formatting update by @Trott so that `3.` displays correctly abo

[2017-05-05 21:33] rgrannell1 commented on #8095
Thanks @mscdex, this test passes for me now

[2017-05-05 21:52] Trott commented on #12865
Number 4 is expected. Nothing to address there. It does seem like we ought to address 1, 2, and 3, though.

[2017-05-05 21:59] vsemozhetbyt commented on #12865
I've deleted the last case as unnecessary.

[2017-05-06 08:29] saghul commented on #12853
@addaleax Yep, once the next stable is out we'll do the update! No ETA as of now.

[2017-05-06 09:20] zackpy84 opened #12869 "3433 segmentation fault node -v"
* **Version**:brew install node
* **Platform**: mac  iterm  zsh
* **Subsystem**:

I am using the `brew install node`, and then use `NPM install n - g` n management node version installed, execute the `n TLS` appears the question, now `segmentation fault node - v` how to solve this problem, for help

[2017-05-06 09:28] zackpy84 commented on #12869
[1]    5361 segmentation fault  node

[2017-05-06 11:06] piranna opened #12870 "Add `open` event to `ChildProcess` objects"
`ChildProcess` objects has the `close` event to notify when all the child processes `stdio` streams has been closed, but there's no way to know when the child process got successfully started and it's ready, so I propose to add an `open` event when the `stdio` streams got open to be orthogonal to the `close` event, but could be used too to know when the child process started in a similar way to th

[2017-05-06 11:17] addaleax commented on #12870
I don’t think that’s doable in a way that’s fully reliable. We could make the child process tell its parent that it’s just *about* to call `execvp()`, but in theory an arbitrary amount of time can pass between that and the child process actually starting. And since the child process can run any program after that, we can’t make it tell its parent that it’s running, either.

How would you use such

[2017-05-06 11:34] piranna commented on #12870
At this moment, you can listen to the `error` event to know if the start failed, but there's no way to know if it succed and the  command is running... When I have control over the child process sometimes I make it to print something on `stdout` but for random commands this is not possible. Maybe the event would be dispatched when we get the child process PID, for example. Probably dispatching it

[2017-05-06 11:44] addaleax commented on #12870
That’s happening synchronously. :)

[2017-05-06 11:53] piranna opened #12872 "`process.stdin` still fetch bytes after clossing file descriptor `0`"
* **Version**: v7.10.0
* **Platform**: Linux msi 4.10.0-20-generic #22-Ubuntu SMP Thu Apr 20 09:22:42 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: Ubuntu 17.04

[code]

When clossing the file descriptor zero (`stdin`), if something is still witten to it Node.js still fetchs that info. Since new file descriptors (both by opening files and/or using the [unistd](https://github.com/NodeOS/

[2017-05-06 12:33] refack commented on #12817
Post land stress: https://ci.nodejs.org/job/node-stress-single-test/1201/nodes=win-vs2015/

[2017-05-06 13:02] ilovezfs commented on #12077
Any updates here?

[2017-05-06 14:54] addaleax commented on #12869
Can you give some more information, like a core dump or what version of Node you have been installing? Can you reproduce this with the binaries from https://nodejs.org/ instead of using `brew`?

(You can also add text in Chinese here on Github, if you feel more comfortable doing that. Only a few collaborators understand that well, but some do and have been willing to help with translating issues i

[2017-05-06 16:35] Fishrock123 commented on #12872
Please see https://nodejs.org/dist/latest-v7.x/docs/api/process.html#process_a_note_on_process_i_o -- I do not think you can close `stdin`.

e.g., in the repl:

[code]

[2017-05-06 16:44] addaleax commented on #12872
This is not about `process.stdin` as a stream, though.

[Here](https://github.com/libuv/libuv/blob/cb0cc7346d1c2b5bdf2bd89e4006a50fb6f9c3dd/src/unix/tty.c#L78-L87) is why libuv `dup()`s the file descriptor – ironically, Node doesn’t use non-blocking TTYs anymore.

I’m not sure there’s much to do here (unless you have concrete suggestions?). If you want the tip, you can use compare the `fs.fstat(Sy

[2017-05-06 17:56] refack opened #12873 "test: is `parallel/test-https-client-get-url` flaky on macOS"
* **Version**: `master`
* **Platform**: `macOS`
* **Subsystem**: test

https://ci.nodejs.org/job/node-test-commit-osx/9598/nodes=osx1010/

[code]
/cc @nodejs/platform-macos

[2017-05-06 19:53] sebastianplesciuc commented on #12873
Could [this](https://github.com/nodejs/node/blob/master/test/parallel/test-https-client-get-url.js#L50) cause the issue? There are 3 `gets` and `server.close()` is called for each of them.

[2017-05-06 20:09] refack commented on #12873
Which bring up the question, how did this ever work 😕 probablyy the 3 `get`s are buffered and the server has to deal with them before the 3 callback get to `server.close()`)

[2017-05-06 20:13] sebastianplesciuc commented on #12873
Can I call dibs on trying to fix it?

[2017-05-06 20:22] refack commented on #12873
Of course. (good thing you did).

[2017-05-07 05:55] prasannavl opened #12877 "http: setting multiple headers could be more efficient"
Currently, multiple headers are set using the `setHeader` method both externally, and internally by methods like `writeHead`. This is fine, except its a key lookup to get the `outHeaders` symbol keyed object (which is internal) for every header that's set, which is unnecessary, when you know all the headers to be set.

A `setHeaders` method that takes an array of headers, and just sets them in one

[2017-05-07 05:55] gireeshpunathil commented on #12870
I guess there are 2 definite places and n number of arbitrary places where this condition is true.

1. When the parent forks. Child is assigned a PID. We can trigger / initiate an event at this point, but this is of less value: (a) The forked child is just an image replica of the parent, so does not provide much vaue to the event. (b) forked in 99.99% of the cases without error, so the event does

[2017-05-07 07:51] gireeshpunathil commented on #12848
I guess with (1) and (3) the tradeoff is between development effort vs. reliability and serviceability. As there is no imminent impact to the released versions and this is a potential feature, I am in favor of (3) - as it is a clean solution, and cause least side effects.

[2017-05-07 09:37] jasnell commented on #12848
@addaleax ... oh yeah, I definitely understand the complexities there. I've had a background thread running in the back of my brain trying to figure out the best way to isolate this. One possible (and likely quite bad) option would be to simply allow for a new `options` parameter on `require()` .... (go ahead and start throwing things at me ;-) ...)

e.g. `require('the.module.node', { dlopen: '...

[2017-05-07 10:47] UsulPro commented on #6624
To get rid of problems with lowercase drive letter on Windows you can try this https://www.npmjs.com/package/driveup as a hotfix for this issue. It changes the drive letter the UpperCase:
[code]
or to launch your shell:

[code]
You can setup `cmder` or `cmd` launching to always have uppercase drive letter

[2017-05-07 12:05] allbinmani commented on #3604
FWIW, this is still reproducible with node 7.2.1 (OSX). I run into this assertion occasionally when using a custom nwjs-app that streams serial data, but since it's not deterministic I attribute my specific problems to a race condition elsewhere (not node/uv).
However, there were no mentions of node later than v4 here, so I thought it could be worth mentioning reproducibility on 7.2.1.

[2017-05-07 13:34] refack commented on #12758
This is a regression in the build behaviour, since it's a _new_ consequence of a feature that disappears.
My solution was just to require explicitly to configure `--without-debugger` #12768

[2017-05-07 14:24] ChALkeR commented on #12781
Probably it's time to close this, the summit already happened. :tada:

[2017-05-07 14:24] #12781 closed

[2017-05-07 17:21] targos commented on #12646
+1 to all 3 nominations.

[2017-05-07 18:09] refack opened #12885 "doc: res.getHeaders return value wrong in docs"
* **Version**: 7
* **Platform**: *
* **Subsystem**: HTTP

Ref: https://github.com/nodejs/node/pull/12883/files#r115149721
[code]
Fails with ```AssertionError [ERR_ASSERTION]: false == true```
In contradiction to API https://nodejs.org/api/http.html#http_response_getheaders

[2017-05-07 18:19] refack commented on #12885
More concretely
```headersCopy.hasOwnProperty === undefined```
&
```headersCopy.propertyIsEnumerable === undefined```

[2017-05-07 18:22] addaleax commented on #12885
See https://github.com/nodejs/node/pull/12883#discussion_r115149977 – can please you be precise about what the issue is or what you want to do here? Otherwise this issue is just stating facts.

[2017-05-07 18:26] refack commented on #12885
If there is a reason why it has a `null` prototype, we need to correct the API.
Else just give it a prototype.

[2017-05-07 18:28] addaleax commented on #12885
Yes, because header names can clash with the built-in fields of Object.prototype (for example with `__proto__` itself).

Are you talking about docs?

[2017-05-07 18:29] refack commented on #12885
Yes

[2017-05-07 18:33] mscdex commented on #12885
You can probably just copy the text from [`querystring.parse()`](https://nodejs.org/docs/latest/api/querystring.html#querystring_querystring_parse_str_sep_eq_options).

[2017-05-07 19:43] #12842 closed

[2017-05-07 21:23] #12298 closed

[2017-05-07 22:02] matejkrajcovic commented on #11135
@raphaelokon Hi! Do you work on this? Don't you mind if I start with a few functions?

[2017-05-07 22:13] alexlamsl opened #12888 "`typeof` should not bring an undeclared variable into existence"
(From https://github.com/mishoo/UglifyJS2/pull/1880#issuecomment-299736654)

Basically, `typeof a; console.log(a)` should throw but doesn't under v7.

[code]

[code]

[code]

[2017-05-07 22:21] addaleax commented on #12888
This is probably either an V8 or an VM module thing – @nodejs/v8

[2017-05-07 22:36] mscdex commented on #12888
master/v8.x (with V8) branches are not affected it seems.

[2017-05-07 23:58] jasnell commented on #12888
It appears to affect only 7.x. Both 6.x and 4.x show the appropriate behavior.

[2017-05-08 00:14] vsemozhetbyt commented on #12888
v8 5.5 and 5.6 are affected.

[2017-05-08 01:50] shigeki commented on #12691
The upstream would fix this issue in https://github.com/openssl/openssl/pull/3385.

[node_fixed_masm.zip](https://github.com/nodejs/node/files/982157/node_fixed_masm.zip) is the Node binary built with this fix.

@vejo Could you try to test if SHA hash and SSL problems are resolved with this binary.  If it is fixed, I will submit a PR to apply the floating patch to Node.

[2017-05-08 04:05] raphaelokon commented on #11135
@matejkrajcovic Go for it :-)

[2017-05-08 07:04] bmeurer commented on #12888
@psmarshall can you take a look?

[2017-05-08 07:30] vejo commented on #12691
@shigeki both .exe deliver correct SHA256!

[2017-05-08 09:02] mike442144 opened #12893 "Always crash when the memory increased to 4~5G"
* **Version**:v6.10.3
* **Platform**:Linux compute 4.4.0-72-generic #93-Ubuntu SMP Fri Mar 31 14:07:41 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

I have 14G memory on my machinek, but when I run my program with following command, the memory usage increased to 4~5G then crashed.

[code]
and here is the stack trace.

[code]

Anybody know this issue?

[2017-05-08 09:13] gibfahn commented on #12771
@avhincu there's already a PR open for this (@kysnm has opened https://github.com/nodejs/node/pull/12830). If you want to help there should be some other [`good first contribution` issues](https://github.com/nodejs/node/labels/good%20first%20contribution) that haven't already been taken by someone, if you aren't finding any let us know and we'll find you one!

[2017-05-08 09:37] mscdex commented on #12893
Looks like you probably have a leak somewhere, so you might try running the script through a memory profiler, such as the one in the node/V8 inspector.

I'm not sure that V8 supports a larger max memory usage for a single process on 64-bit.

[2017-05-08 10:18] luochen1990 commented on #9355
I got this issue when I updated my node version, And solved it via update gulp from gulp@3.8.11 to gulp@3.9.1.   So seems like it matchs what @hanakin described.

[2017-05-08 10:33] vsemozhetbyt commented on #12893
cc @nodejs/v8

[2017-05-08 10:47] addaleax commented on #12893
According to the V8 5.8 [release blogpost](https://v8project.blogspot.de/2017/03/v8-release-58.html), unlimited heap sizes are a relatively new thing, and prior to that 4GB was the usual limit.

V8 5.8 will be the version coming with Node 8.0.0 – we’ll have the first release candidate for that later this week, if you’re interested.

[2017-05-08 12:29] mike442144 commented on #12893
So it seems to be a limitation of v8. Am I right?
@addaleax Certainly, if possible I'm going to upgrade the node.

[2017-05-08 12:35] vsemozhetbyt commented on #12893
@mike442144 You can even try [the first nightly build with v8 5.8](https://nodejs.org/download/nightly/v8.0.0-nightly201705073fd890a06e/).

[2017-05-08 12:42] mike442144 commented on #12893
@vsemozhetbyt I'm trying it...

[2017-05-08 12:54] 823639792 commented on #12559
@eugeneo
Hello, I add you code to my project, if no inspector attach,it works well.
But if chrome inspector attached, and call _debugEnd, it still blocked.
blocked in:
[code]

[2017-05-08 13:03] addaleax commented on #12893
@mike442144 Unless you know *why* your process is using that much memory, a memory leak is the most likely explanation for the process running out of memory.

[2017-05-08 13:20] mike442144 commented on #12893
@addaleax Of course I know why, I'm computing about 20 million records. :)

[2017-05-08 14:04] jgovaerts opened #12894 "instanceof with arrow function generates error"
* **Version**: v7.10.0
* **Platform**: x86_64 GNU/Linux
* **Subsystem**:

Calling `instanceof` on an object with as argument an arrow function generates an error. I know this particular kind of check is useless, but a library I'm using does this check on functions passed to the library.

I would expect a return value of false as result of this `instanceof` call with arrow functions.

Example code:

[2017-05-08 14:11] calvinmetcalf commented on #445
ok some meta issues that are coming up as I'm going through fixing these

1. should we use getters or should we use methods? this will likely have to do with the performance impact.
2. should these be documented? I'm not 100% sure we want all of these to be publicly known about, some of them are still fairly internal even if certain parts of node wants to use them. Thoughts?

cc @mscdex @Trott @ja

[2017-05-08 14:12] Flarna opened #12895 "net.Server.address() returns a string instead of an object for Pipes"
* **Version**: 6.10.0
* **Platform**: Windows
* **Subsystem**: net

According to the [documentation](https://nodejs.org/dist/latest-v6.x/docs/api/net.html#net_server_address) `server.address()` should return an object with `port`, `family`, and `address` properties but if I call it on a HTTP server connected via windows pipe (on IIS Node on Windows Azure) I get a plain string telling the pipe name

[2017-05-08 14:20] refack commented on #12895
Hello @Flarna could you provide a code snippet?

[2017-05-08 14:25] addaleax commented on #12895
[code]

I’d prefer just documenting this rather than risking breakage. As @Flarna pointed out, there wouldn’t really be any point in switching to an object.

[2017-05-08 14:28] programmer5000-com opened #12896 "Assignment to global object possible between files"
`example.js`:

[code]
`example2.js`:

[code]

`testVar` is not accessible by files other than `example.js` as expected, but `testVar2` is in files between `})();` and `(function (exports, require, module, __filename, __dirname) {` in the file.

[2017-05-08 14:30] addaleax commented on #12896
See https://github.com/nodejs/node/issues/11884 – we’ve basically decided that fixing this would not be worth the trouble of doing so, sorry. I’m closing this as a duplicate, but feel free to ask any follow-up questions you may have.

[2017-05-08 14:30] #12896 closed

[2017-05-08 14:49] goto-bus-stop commented on #12894
This is not a bug, but [spec behaviour](https://www.ecma-international.org/ecma-262/7.0/index.html#sec-ordinaryhasinstance). Arrow functions can't have instances, and have no `.prototype` to check against. You'll have to pass a normal `function` to the library instead.

[2017-05-08 14:49] Flarna commented on #12895
[code]
It's also applicable to Linux but there it's not a named pipe it's an unix domain socket which is handled by the same class in node.

see net.js:
[code]

[2017-05-08 15:00] refack commented on #12364
Workaround for the meanwhile:
https://gist.github.com/refack/ab07a28580672a67f8e1e0adde359aba

[2017-05-08 15:11] mailparikshit opened #12897 "Nodejs Connection limit"
* **Version**: 6.10.0
* **Platform**:
* **Subsystem**:Linux  4.4.0-75-generic #96-Ubuntu SMP Thu Apr 20 09:56:33 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

we are facing issue with nodejs when we have 10,000 users getting connected simultaneously
node hangs and stop responding to any socket.

we are sending broadcast to all connected sockets every seconds thats what code is all about
information is

[2017-05-08 15:43] mailparikshit commented on #12832
can you provide link to streaming parser for nodejs??
i have something related issue,
my node stops responding to sockets when concurrent connection reaches more than 6000
i am using json.parse in event for parsing data size almost around 1kb to 4kb
and my node emit this data to all connected sockets using io.sockets.emit("eventname",data);

any solution?

[2017-05-08 15:43] Flarna commented on #12895
As far as I know there is no API to check if a Server is using a Pipe or TCP besides checking the type of the internal `_handle` member which is not that nice.
Not sure if such an API is worth to add.
Not sure if it is really possible as anything with an `_handle` or `fd` member can be passed to listen therefore it's not really possible to tell what the server is actually listening on.

[2017-05-08 15:46] addaleax commented on #12895
@Flarna Doesn’t checking the return type of `.address()` basically do that? ;)

[2017-05-08 15:50] addaleax commented on #12894
Ack, whether we like it or not, that’s what the spec says. I’m closing this as an answered question, but feel free to ask any follow-up questions that you may have.

[2017-05-08 15:50] #12894 closed

[2017-05-08 16:01] refack commented on #12895
🤔 is would be nice to have a way to get the `type` of underlying medium, so we could know what to expect from `server.address()` (AFAIK is could be an; fd / UNIX socket / TCP socket / Windows Pipe)

[2017-05-08 16:01] sam-github commented on #12832
Would setting a smaller value for backlog, https://nodejs.org/api/net.html#net_server_listen_port_hostname_backlog_callback, help?

json streaming APIs: https://www.npmjs.com/search?q=json+stream

[2017-05-08 16:01] Flarna commented on #12895
As long as we have only TCP and Pipes it's fine. Not sure if all usecases of `listen()` nail down to this two cases.

[2017-05-08 16:02] mscdex commented on #12893
@mike442144 But *all* of them *in memory* at the *same time*?

[2017-05-08 16:03] retrohacker commented on #12832
@mailparikshit running linux? Sounds like you might be running up against the ulimit on the machine.

https://www.npmjs.com/search?q=json+stream

[2017-05-08 16:08] sam-github commented on #12832
@retrohacker node can't close if the loop is blocked, but did you look at backlog? If the backlog is smaller, if node is not accepting connections (which has to happen on the loop), the kernel will RST incoming TCP connections for node. By default node tells the kernel to queue up to 511 incoming TCP connections for acceptance, but you can lower the number, which will cause client connections to b

[2017-05-08 16:10] addaleax commented on #12895
@Flarna Yes, those two are the only supported options (for `net.Server`s, at least).  :)

[2017-05-08 16:12] mscdex commented on #445
I'm also concerned about adding new (especially non-underscored) methods directly to the prototype/instances of streams. There could be property name collision issues. This is why I actually prefer having minimal reserved properties.

[2017-05-08 16:13] mscdex commented on #12897
General help questions should be posted over on the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

[2017-05-08 16:14] retrohacker commented on #12832
Oh, interesting! It doesn't look like `backlog` is a value that can be changed during runtime though, i.e. averaging load on the process to determine the upper limit of requests a process can handle. That being said, it sounds like backlog can be used on top of some other strategies to protect against a hot-loop accepting too much traffic before the process is killed off.

[2017-05-08 16:19] sam-github commented on #12832
Correct, its limitation is that it can only be set at listen time, but perhaps it can be one part of your strategy.

[2017-05-08 16:20] retrohacker commented on #12832
Thanks :heart:

[2017-05-08 16:20] #12832 closed

[2017-05-08 16:43] sam-github commented on #12758
@refack I don't really follow, sorry.

Are you saying that `--without-ssl` used to build node with the Inspector, and now it doesn't?

Or are you saying that `--without-ssl` disables the Inspector and leave the Debugger so node could be generally said to "support debugging", and now that there is no Debugger, node can generally be said to "not support debugging"?

[2017-05-08 16:44] calvinmetcalf commented on #445
@mscdex so the main issue is just that there is information you can only get out of a stream by looking at it's readable/writable state, so if we want to remove all usage of readable/writable state then we need to add more properties or methods, they certainly can be underscored.

[2017-05-08 16:48] mscdex commented on #445
@calvinmetcalf I understand, but I mean you could just set up a single non-underscored property for each type of state and then either have mixed underscored and non-underscored in those state objects *or* use Symbols to better hide whichever "private" properties and only expose non-underscored properties.

[2017-05-08 16:50] refack commented on #12758
Yes.
i.e. if you build v7 `--without-ssl` you can still debug, but ever since #12197 if you build `--without-ssl` you have no debugger interface (neither `debug` or `inspect` protocols). That's a new loss of an ability.

My proposed solution is to require the builder to additionally explicitly specify `--without-debugger` (or `--without-inspector`) when calling `./configure`

[2017-05-08 16:54] sam-github commented on #12870
IIRC, what we currently know from parent is that the child has sucesfully execed (we use the trick of opening a pipe to it that has close-on-exec set to detemine exec success). Of course, processes can die for many reasons after exec succeeds.

@piranna At what point can a child be said to have "sucesfully" started? Its not possible to know, in general, because definition of sucess is use-specific

[2017-05-08 16:57] Fishrock123 commented on #12068
I want to make sure the benchmarks _even run_.

[2017-05-08 16:59] refack commented on #12758
Apparently `--without-intl` has the same effect. Title and first comment updated.

[2017-05-08 16:59] sam-github commented on #12758
I don't see the regression. Losing the Debugger is obviously backwards incompatible/semver-major (and was treated as such). Also, forcing people to type two flags instead of one is an annoyance rather than being helpful.

Unless you are saying that its possible to *not* have SSL, but to *have* the Inspector? You are decoupling that? If not, I'm not sure what problem is being solved here.

[2017-05-08 17:06] retrohacker commented on #12832
Hmm, it seems:

[code]

Has no effect. Using curl, I was able to create 10 connections without seeing a `RST` packet.

[2017-05-08 17:07] refack commented on #12758
I was hoping that's possible. And I'm looking into it, but that's a bigger issue.

IMHO building a new (even semver-major) version and finding out you lost a previously available (important) ability, without any warning, is worse.
I see it a bit like the `experimental` (#12723) discussion. The user should explicitly opt-in to new behaviour, that way we minimize surprises.

Another solution would b

[2017-05-08 17:10] emilsedgh commented on #10724
Thank you so much for fixing this.

Is it gonna be released with 7.11?

[2017-05-08 17:12] mailparikshit commented on #12832
@retrohacker my ulimit on server is 100000
i set backlog to 2048 didnt work so i set it to 10000
as per solution on
[https://serverfault.com/questions/294209/possible-syn-flooding-in-log-despite-low-number-of-syn-recv-connections]

i tried this command , which show connection on port 3005
netstat -anp | grep :3005 | grep ESTABLISHED | wc -l
output is 6128
it also reaches 14000, but of no use becau

[2017-05-08 17:39] sam-github commented on #12758
There was a fair amount of warning that the Debugger was going away. And since there is no way to opt-out of the new behaviour, talking about opt-in vs  opt-out doesn't seem to apply. And failing to disable SSL when configuring explicitly `--without-ssl` is in itself a step backwards and a loss of a feature. IMO, the pain exceeds the arguable gain.

[2017-05-08 18:01] refack opened #12900 "test: is `sequential/test-fs-watch` flaky on macOS"
* **Version**: `master`
* **Platform**: `macOS`
* **Subsystem**: test

https://ci.nodejs.org/job/node-test-commit-osx/9629/nodes=osx1010/tapResults/

[code]
/cc @nodejs/platform-macos

[2017-05-08 18:13] calvinmetcalf commented on #445
we can definitely use symbols, but we would totally need to benchmark that,
it could effect that.

On Mon, May 8, 2017 at 12:48 PM Brian White <notifications@github.com>
wrote:

[2017-05-08 18:13] aashil commented on #12900
I would like to work on this issue.

[2017-05-08 18:28] refack commented on #12900
@aashil Got for it 🥇

[2017-05-08 19:00] srl295 commented on #12077
@ilovezfs thanks, was just going to see if there was anything new re: v8

[2017-05-08 19:08] candrews opened #12902 "Provide a way to create clone/CoW copies"
Currently, copying files is implemented by reading the data of the source file and writing it to the new file, see [fs-extra's implementation of copy](https://github.com/jprichardson/node-fs-extra/blob/master/docs/copy.md). The problem is that this approach doesn't allow the OS to optimize file copying (such as by using direct disk-to-disk copy if it's available), nor does it allow the (optional o

[2017-05-08 19:10] srl295 commented on #11753
For the record:  This issue was fixed by a v8 bump in 60d1aac8d225e844e68ae48e8f3d58802e635fbe

[2017-05-08 19:13] srl295 commented on #12077
@ilovezfs Cool. Last week the [v8 fix landed](https://github.com/nodejs/node/issues/11753#issuecomment-299961937
) . Now I don't need a floating patch, @MylesBorins

[2017-05-08 19:23] refack commented on #12068
Cool.
What's missing? Can I help?

[2017-05-08 19:49] vsemozhetbyt opened #12903 "benchmark, http, test: test/sequential/test-benchmark-http.js is incomplete"
* **Version**: 8.0.0 nightly 2017 05 07
* **Platform**: Windows 7 x64
* **Subsystem**: benchmark, http, test

[`benchmark/http/_chunky_http_client.js`](https://github.com/nodejs/node/blob/master/benchmark/http/_chunky_http_client.js) is used as a forked child by the  [`benchmark/http/http_server_for_chunky_client.js`](https://github.com/nodejs/node/blob/master/benchmark/http/http_server_for_chunky

[2017-05-08 19:51] vsemozhetbyt commented on #12903
cc  @joyeecheung

[2017-05-08 20:42] bennesp opened #12908 "Can't convert Buffer into String correctly with binary encoding"
Hello, I was working with binary files and Buffer, and encountered this problem.

Code:
[code]

I would expect as output something like:

[code]

which is exactly the 3 bytes 0xca, 0xc5, 0x0e
Instead of this I got the equivalent of:
[code]

Is it the expected behavior? If so, how can I obtain the string "\xca\xc5\x0e" from the Buffer?

* **Version**: 7.9.0
* **Platform**: Mac OS X Sierra

[2017-05-08 21:02] addaleax commented on #12908
That is the output that you get, though: The string `ÊÅ^N` – encoded as UTF-8.

Yes, that’s ÊÅ^N encoded as ISO-8859-1 (which is known as `latin1` in Node v6+, and `binary` before).

Yes. You’re using `console.log()` to print the string to the terminal, which uses `process.stdout.write()` in its implementation; and unless you call `process.stdout.setDefaultEncoding(…)`, the default encoding for st

[2017-05-08 21:09] bennesp commented on #12908
Thank you so much for the useful and complete explanation, you saved my day!

[2017-05-08 21:12] addaleax commented on #12908
Okay, I’m closing this as an answered question then – feel free to ask any follow-up questions, here or on https://github.com/nodejs/help. :)

[2017-05-08 21:12] #12908 closed

[2017-05-08 21:38] #12865 closed

[2017-05-09 02:38] nattyman commented on #9355
Upgrading to a neewer version of Gulp fixed this for me when all the other solutions failed.  Also note that the Gulp install said this:

"graceful-fs v3.0.0 and before will fail on node releases >= v7.0. Please update to graceful-fs@^4.0.0 as soon as possible. Use 'npm ls graceful-fs' to find it in the tree."

[2017-05-09 02:51] shigeki commented on #12691
Thanks. The PR has just been submitted in #12913.

[2017-05-09 04:31] allens commented on #5258
Please can you just leave this variable as it is? What's the benefit of changing it?

I honestly have enough headaches getting tools such as Git and NPM to work behind corporate firewalls without people going round renaming variables unexpectedly.

I have to set NODE_TLS_REJECT_UNAUTHORIZED=0 before doing an NPM install of a project I'm working on. This is because openlayers is a dependency and th

[2017-05-09 05:47] maxming2333 commented on #12789
+1

[2017-05-09 05:50] shizitou commented on #12789
+1

[2017-05-09 05:50] schwann168 commented on #12789
+1

[2017-05-09 06:01] mike442144 commented on #12893
@mscdex @addaleax @vsemozhetbyt I have tried the nightly build of 8 which avoided `out of memory`. But I have another problem, when I use Map with 10 million keys, it is rather slow to call get() function. Is there any benchmark of the Map structure?

[2017-05-09 06:07] mike442144 commented on #12893
@mscdex Yes, I have to compute all of them in memory, I find it is difficult to do data analysis in nodejs. Maybe python is much more suitable? Do you have any experiences of this?

[2017-05-09 06:53] phil123456 commented on #12845
https://github.com/npm/npm/issues/16572

[2017-05-09 07:31] #12845 closed

[2017-05-09 07:32] eljefedelrodeodeljefe commented on #12902
Likely needs libuv implementation. Related: https://github.com/libuv/libuv/issues/925

[2017-05-09 07:33] bnoordhuis commented on #12893
I'd say the original question has been answered.  @mike442144 Please post follow-up questions to https://github.com/nodejs/help/issues.

[2017-05-09 07:33] #12893 closed

[2017-05-09 08:18] mike442144 commented on #12893
@bnoordhuis Thanks, certainly!

[2017-05-09 08:52] mikemaccana commented on #5258
@allens The benefit is knowing you're actually downloading closure-util rather than having some network device at your conference wrap it in a little bit of malware.

[2017-05-09 09:45] mjmasn commented on #10163
Just to add some more context, a lot of Meteor users are seeing a similar issue with node 4.8.x (and possibly earlier) on OSX. Given this report is for gulp which is in many ways similar to Meteor it could well be a libuv issue around file watching. As I've mentioned on various issues in the https://github.com/meteor/meteor repository I'm fairly out of my depth with this one but very interested in

[2017-05-09 09:46] nkrass opened #12917 "Array gets serialized into a weird string format ('{"a","b"}') inside a superclass method without serialization calls."
Version: 7.10.0 (tested also with 8.xx)
Platform: Darwin, 16.5.0 (OSX 10.12.4)

An array gets serialized into string with a very strange format while should be preserved as an array inside a class.
I have an array of strings:` this.permissions = ['text1', 'text2']` and during the call of a superclass the array becomes a string of: `this.permissions = '{"text1","text2"}'` which is not related to an

[2017-05-09 09:53] rcombs commented on #10163
I haven't actually run into this in a while and never had a reliable way to reproduce it on command, unfortunately.

[2017-05-09 09:54] vsemozhetbyt commented on #12917
Can you provide a small code with the reproducible issue?

[2017-05-09 10:03] #12917 closed

[2017-05-09 10:05] nkrass commented on #12917
Through couple of days searching for the reason of the serialization and just after opening the issue in here, I found the object was serialized by the postgresql driver.

[2017-05-09 10:43] realyze commented on #10163
@addaleax here's the relevant Meteor issue with some stacktraces (seems like it might be useful): https://github.com/meteor/meteor/issues/8648 .

[2017-05-09 11:24] jwalton commented on #5258
@allens A better solution would be to figure out why the certificate for closure-util is invalid in the first place.  Are you behind a corporate MITM device like Cisco Ironports that is serving you a bad cert? If so, you probably have already lost all security as many of these devices are misconfigured to accept bad certificates on your behalf, but your best option would be to add the corporate CA

[2017-05-09 12:02] vojtechkral commented on #12115
Presumably this could be made reproducible with a filesystem image mounted with [DiskPart](https://blogs.msdn.microsoft.com/7/2009/10/07/diskpart-exe-and-managing-virtual-hard-disks-vhds-in-windows-7/)

[2017-05-09 12:09] zkd8907 opened #12918 "Instantiation of `Agent` without parameter caused an error"
* **Version**: found at v7.10.0
* **Platform**: 64-bit Windows 10/7
* **Subsystem**: https

When I run the code below, it causes an error: *Type Error: Cannot read property 'maxCachedSessions' of undefined*.
[code]

According to document, The parameter `options` of `new Agent` is not required. So I think the error should not be raised.

[2017-05-09 12:19] calvinmetcalf commented on #445
though symbols would be hard to use with readable stream, as it is flowing, readBuffer and writeBuffer are mentioned in the docs so those we should probably have be documented non-underscored properties for them, {read/write}length on the other hand are pretty obscure and if we were to document them we'd probably want to put it in some sort of advanced streams mechanics section, highwater mark (al

[2017-05-09 12:48] allens commented on #5258
@mikemaccana I'm all for adding the warning if that's what you mean. I expect most people know exactly what the risks are anyway.

@jwalton I know what the better solution is, it's just not practical for me at the moment. I should have been more specific when I said "corporate firewall". A corporate device injecting a fake CA cert is exactly the problem. Thanks for the link but I don't know how to

[2017-05-09 13:05] Aldor007 opened #12920 "Problem with www-authenticate header"
* **Version**: all
* **Platform**: all
* **Subsystem**: http

Hi
we are using Node.js for proxying requests from a Microsoft server. For authorization purposes it returns multiple www-authenticate headers. Example below
[code]
Nodejs transforms it to
[code]
But browsers can’t properly handle that header.
 Maybe nodejs should treat www-authenticate, proxy-authenticate like set-cookie and don’t conc

[2017-05-09 13:09] jwalton commented on #5258
@allens Ahh, sorry, I misunderstood.  But, I think you might be in luck.  This PR was merged to node in October which I think will solve your issues: https://github.com/nodejs/node/pull/8334/files.  In short, [`--use-openssl-ca` and setting SSL_CERT_DIR or SSL_CERT_FILE](https://nodejs.org/api/cli.html#cli_use_openssl_ca_use_bundled_ca) should solve this for you in a secure fashion.  I am currentl

[2017-05-09 13:23] addaleax commented on #12920
@nodejs/http

[2017-05-09 13:39] thom-nic commented on #12537
Hey Ben just wanted to say thanks a ton for guiding me to a solution even though it was not an issue with node! ❤️ Much appreciated.

[2017-05-09 14:15] emilsedgh commented on #10724
Oh thank you for letting me know. Fingers crossed for 8.0!
I tried it out by building master and it works perfectly fine.

[2017-05-09 14:26] mcollina commented on #12657
I think the problem for this regression is https://bugs.chromium.org/p/v8/issues/detail?id=6376. Specifically https://github.com/nodejs/node/blob/master/lib/events.js#L378, as the regression is present in the remove benchmarks.

[2017-05-09 14:31] Antony74 commented on #5258
@jwalton Can you clarify how to get npm to automatically pass the --use-openssl-ca parameter to Node when it runs (post-install) scripts, please.

Shame there isn't a way to get the certificates from the [Operating System](http://stackoverflow.com/questions/25555627/where-are-ssl-certificates-are-stored).  These would already have been pre-doctored by the little-brother-in-the-middle SSL scanning

[2017-05-09 14:35] aight8 opened #12921 "stdout always cuts off the stream at character 8192"
Using ```fork```, ```spawn```, ```exec``` in **async** and **sync** mode - stdout stream only returns up to 8192 characters. (note that the output is **without** any newlines)
Note that ```maxBuffer``` **does not** let increase this maximum. But it's possible to lower it by setting it to a value below 8192.

* **Version**: 7.10 / 7.9
* **Platform**: macOC Sierra 10.12.5

[2017-05-09 14:40] jwalton commented on #5258
I think `--use-openssl-ca` should, by default, fetch from the operating system on most systems ([more than you ever wanted to know about this](https://www.happyassassin.net/2015/01/12/a-note-about-ssltls-trusted-certificate-stores-and-platforms/)).  Also, the [docs](https://nodejs.org/api/cli.html#cli_use_openssl_ca_use_bundled_ca) state that `--use-openssl-ca` may be the default - it's configured

[2017-05-09 14:51] addaleax commented on #12921
Can you provide some example code that demonstrates the problem?

[2017-05-09 15:30] vsemozhetbyt commented on #12921
I cannot reproduce in Windows 7 x64:
[code]
[code]

[2017-05-09 15:44] Antony74 commented on #5258
Sorry no, it didn't find the certificate it was looking for, so it can't have been looking in the Windows Certificate Store (which is obviously set up fine or I wouldn't be able to access the https website where we're having this discussion).

![wrongcertificates](https://cloud.githubusercontent.com/assets/1577335/25859094/5caf93ea-34d5-11e7-92f6-da153a2ae054.png)

I was using this [https example]

[2017-05-09 15:48] aight8 commented on #12921
Example:

[code]

[2017-05-09 15:59] sam-github commented on #5258
`--use-openssl-ca` doesn't do anything useful on Windows, it certainly doesn't use the windows cert store, and Windows doesn't come with an OpenSSL style cert store (Linux does).

https://nodejs.org/api/cli.html#cli_node_extra_ca_certs_file is probably what you want

You can't, that's the problem with CLI options, but when https://github.com/nodejs/node/pull/12648 or https://github.com/nodejs/node

[2017-05-09 16:10] eugeneo commented on #12559
Are you using Chrome DevTools? Try the same with a different frontend (e.g. VS Code). Chrome DevTools have a bug - https://bugs.chromium.org/p/chromium/issues/detail?id=718619 - I hope I will have time this week to look into it.

[2017-05-09 16:21] gibfahn commented on #7728
@gireeshpunathil those PRs have both landed, so I think this can be closed...

[2017-05-09 16:21] #7728 closed

[2017-05-09 16:34] Antony74 commented on #5258
Thanks.  And that's why we'll be continuing to use NODE_TLS_REJECT_UNAUTHORIZED for the moment.

[2017-05-09 16:41] bmeurer commented on #12657
I'm working on the `Array.prototype.shift` fast-path in TurboFan.

[2017-05-09 16:51] sam-github commented on #5258
@Antony74  Sorry, I don't understand your "that's why" comment. I proposed a more secure alternative, did you see https://nodejs.org/api/cli.html#cli_node_extra_ca_certs_file? Was its applicability not clear? Perhaps I misunderstand your problem, but it allows you to recursively add your proxy's cert to node's builtin CA certs, using environment variables, so your proxy is trusted, including for o

[2017-05-09 16:52] stevenvachon opened #12923 "inconsistent URLSearchParams encoding"
[code]

[2017-05-09 17:00] Antony74 commented on #5258
@sam-github Oh I see, NODE_EXTRA_CA_CERTS is an env var not a CLI options so we don't have to wait for one of those two issues you mentioned before trying it.

[2017-05-09 17:34] Trott commented on #12497
Failed again today:

https://ci.nodejs.org/job/node-test-commit-linux/9736/nodes=fedora22/console

[code]

[2017-05-09 18:36] richardpringle opened #12928 "Doc link broken"
* **Version**:
* **Platform**:
* **Subsystem**:

In the [debugging guide](https://nodejs.org/en/docs/guides/debugging-getting-started/#legacy-debugger), the "Built-in Debugger" link is broken. It's pointing to master and it shouldn't be.

[2017-05-09 18:41] Trott commented on #12497
The `null` probably originates as `NaN` and gets stringified when `process.send()` is called, resulting in `null`. /cc @joyeecheung

[2017-05-09 18:45] laverdet commented on #3020
Wouldn't this work?
1) Flush microtasks
2) Set up watchdogs
3) Run user script
4) Run microtasks again
5) Disable watchdogs

RunMicrotasks() will run until the job queue is 0, even if more jobs are scheduled or TerminateExecution() is called. In the TerminateExecution() case the jobs will just be canceled.

Obviously if you had any resolved promises their callbacks will be triggered by the `vm` li

[2017-05-09 19:19] addaleax commented on #3020
@laverdet I don’t think we can just run the microtask queue before entering the VM script – Promise handlers need to run without any other visible JS stack below them.

[2017-05-09 20:30] ryan-copperleaf commented on #12918
You’re using `new` on `require`, not `Agent` (though `new` is now being made optional).

[code]

[2017-05-09 20:58] Brekmister opened #12933 "Readline printing output history while printing with readline.write"
* **Version**: v7.10.0
* **Platform**: Linux Mint 18.1 64-bit and Windows 10 Professional 64-bit
* **Subsystem**: Readline

[code]
**Code Objective:**
Make a loop animating the printing of three dots to indicate that the computer is responsive and the app is not hanging. Loading is completed when the user presses `Ctrl-C`. While the current code isn't the optimal way of doing things, it outputs li

[2017-05-09 21:27] vsemozhetbyt commented on #12933
Can reproduce with the last Node.js 4, 6, 7, and 8 on Windows 7 x64 with cmd.exe.

[2017-05-09 21:29] stevenvachon commented on #12923
@TimothyGu @jasnell

[2017-05-09 21:50] Fishrock123 commented on #12789
+1 here

[2017-05-09 21:59] mhdawson commented on #12789
+1

[2017-05-09 21:59] mhdawson commented on #12790
+1

[2017-05-09 22:23] #12077 closed

[2017-05-09 22:54] TimothyGu commented on #12923
What version of Node.js are you using?

[2017-05-09 23:09] vkurchatkin commented on #3020
I don't think so. We run them from JS now

[2017-05-09 23:10] addaleax commented on #3020
@vkurchatkin That’s Node code though. (To phrase it better: without any *userland* stack below them.)

[2017-05-09 23:16] d3x0r opened #12938 "Improve constant optimization and dead-code removal"
Filed initially here
https://bugs.chromium.org/p/v8/issues/detail?id=6362

Node 7.9.0; windows

the sample code

[code]

running the above as it is prints 10ms
it's slightly faster if 'const c = false' is replaced with 'var c = false'; and prints 8-9 sometimes 10ms.
removing the ```if(c){ console.log() }``` lines prints about 4ms per million.

I initially blamed the V8 internally, but it seems tha

[2017-05-09 23:32] vkurchatkin commented on #3020
Oh, makes sense. Step 1 is very problematic indeed.

[2017-05-09 23:34] stevenvachon commented on #12923
7.10.0

[2017-05-09 23:44] vjeux commented on #10117
Sorry if this is the wrong place but is node 8 going to have support for trailing commas for function calls? Here's the commit on v8 that implements it: https://bugs.chromium.org/p/v8/issues/detail?id=5051

[2017-05-09 23:44] benjamingr commented on #3020
@addaleax

I think `vm` methods would need to be executed asynchronously (after promises - before I/O) in order to support this sort of approach.

It sounds like too big of a compromise.

[2017-05-09 23:46] klimashkin commented on #10117
@vjeux Yes, it was shipped in v8 `5.8`

[2017-05-10 01:17] matteofigus opened #12940 "Provide a way to expose VM's cpu/memory usage"
It would be useful for some work I'm doing to be able to inspect cpu and memory usage for a vm script execution. A common use case may be using vm for micro-benchmarking code and spot leaks during testing.

An example could be:
[code]
My questions are:
1) Is it possible?
2) If yes, how would be the best way? Could it be an extension to the current vm's node api (as suggested by the example)?
3) If

[2017-05-10 01:52] allens commented on #5258
Thanks for the update @sam-github. I'm more that happy for NODE_TLS_REJECT_UNAUTHORIZED to be removed once there is a suitable alternative in place. I assume there are no plans to remove it in the current LTS? As well as being behind a corporate SSL filter I am using Windows so at the moment NODE_TLS_REJECT_UNAUTHORIZED is currently the only option for me.

This proposal is about renaming NODE_TLS

[2017-05-10 02:00] stelcheck opened #12941 "Programatically setting the debug flag has no effects"
* **Version**: 7.10.0
* **Platform**: any
* **Subsystem**: cluster

Given the following code:

[code]

I get the following output on the console at runtime:

[code]

The reason for this is because the current code assumes that whatever flag present in execArgv will be the same as the one being passed to the master process, and therefore extracts the initial port from `process.debugPort` instead (r

[2017-05-10 02:18] ronkorving commented on #12941
disclaimer: I'm a coworker of @stelcheck

It seems very reasonable to me to want to be able to set these on child processes instead of the master process, in situations like process managers etc. I would welcome a fix to this where if the flag was not set on the master process, the port value provided is used, and both `process.debugPort` and `debugPortOffset` are ignored.

[2017-05-10 02:28] mscdex commented on #12940
I don't think this is possible. You're probably better off using a separate process.

[2017-05-10 02:29] sreepurnajasti commented on #7728
thanks!

[2017-05-10 02:51] gireeshpunathil commented on #12921
Here is the test case isolated from yarn, npm ect.

[code]

In MAC OS + v7.10, a new line is inserted between  8192nd and 8193rd character, possibly buffering is happening at 8K. This is not happening in Linux.

Due to this, the incoming JSON gets corrupted.

[2017-05-10 04:17] Trott commented on #10660
Closing as #10492 has been resolved. But if you're still experiencing this problem or if this otherwise shouldn't be closed, please comment and it can be re-opened.

[2017-05-10 04:17] #10660 closed

[2017-05-10 05:33] TimothyGu commented on #12923
This is the behavior specified by the URL Standard. There is already an open issue over there for this: https://github.com/whatwg/url/issues/18

Nothing much we can do here, as our behavior is consistent with Chrome and Firefox.

[2017-05-10 05:33] #12923 closed

[2017-05-10 05:49] stuartpb opened #12946 "Crypto docs don't explain the function signatures"
I just spent about an hour bashing my head against the wall because the documentation for `crypto.publicEncrypt` & co. don't explain that they *return a new `Buffer` with the encrypted data* instead of encrypting the passed-in `Buffer` *in place*.

Yes, in hindsight, this should have been obvious, but I don't get why *these* functions don't explain their return values when so much of the *rest* of

[2017-05-10 06:04] Trott commented on #12946
Thanks for pointing this out. If you or someone else wants to update the documentation and submit a pull request, the markdown file containing the relevant documentation is `doc/api/crypto.md`.

[2017-05-10 08:49] d3x0r commented on #12938
an update is that the tested code is ahead of the current code....

"Note that since this change came in V8 5.9, it won't be in node 8.
Maybe bmeurer@ can chime in whether it's possible / worth backmerging this?"

[2017-05-10 09:48] mitsos1os commented on #7346
I totally agree with the mentioned problem. It is also happening on latest **Node v7.10.0**
**This shouldn't be the expected behavior!!!**
It is acceptable to have a delay when the event loop is busy processing the stack before triggering the setInterval callback, but when will this be triggered should not depend on the time spent inside the callback.

I cannot understand how can this not happen i

[2017-05-10 09:50] joyeecheung commented on #12497
@Trott I got stuck because I didn't think of the NaN/Infinity -> null thing..thanks for figuring this one out!

[2017-05-10 11:17] tniessen commented on #12940
This is indeed impossible with the current design. Even if you use a new context, the code will still be executed within the same thread, making CPU and memory usage indistinguishable. However, this allows to use `process.cpuUsage()` for synchronous code:

[code]

As long as your CPU is mostly idle, synchronous operations will most probably use an entire logical core. If the code is aynchronous, C

[2017-05-10 11:47] matteofigus commented on #12940
Unfortunately, most of the use cases I need to handle at the moment include asynchronous code (that's why spinning up a process to replace each vm execution is also expensive to guarantee expected behaviour in case of highly asynchronous scenarios - but possibly the only way).

If we are sure about this, I think we can close.
Thanks for your answers and your time.

[2017-05-10 12:05] aredo commented on #12790
+1 for @mcollina

[2017-05-10 13:48] sam-github commented on #5258
I have seen no proposal to do this.

`NODE_EXTRA_CA_CERTS works on Windows, if there are use-cases it doesn't work for I would like to understand them.

For renaming NODE_TLS_REJECT_UNAUTHORIZED, I'm -1

[2017-05-10 14:12] stevenvachon commented on #12923
Aye, thank you.

[2017-05-10 15:09] refack commented on #12885
Fixed by: #12887

[2017-05-10 15:09] #12885 closed

[2017-05-10 15:13] refack commented on #12873
Fixed by: #12876

[2017-05-10 15:13] #12873 closed

[2017-05-10 16:51] refack commented on #12630
@Fishrock123 during the transition when both protocols were avalible, all vendors had a version update that was compatible with both. There was no back-porting :(

As mentioned above by all vendors, current versions will not be able to debug node8, and they firmly state that they will not backport. So users will have to upgrade/buy a new IDE

[2017-05-10 16:53] refack commented on #12630
All current versions are compatible with both protocols

[2017-05-10 16:54] Fishrock123 commented on #12630
[code]

[2017-05-10 16:57] refack commented on #12630
I'll try to sum:
1. current versions of IDEs work with both protocols
2. vendors have been exclusively using  `--inspect --debug-brk` to trigger `inspector`
3. if we don't restore alias current IDEs will not work
4. Give vendors a year to shift

[2017-05-10 17:10] refack commented on #12630
https://github.com/nodejs/node/issues/12630#issuecomment-300544480

They all had a release cycle while both protocols were available. Unfortunately they used  `--inspect --debug-brk` to trigger `inspector`. That's hardcoded logic in all current versions.

[2017-05-10 17:12] jkrems commented on #12630
To elaborate on what @refack already said: What was stopping them was that `--inspect-brk` unfortunately didn't exist yet when they started to work on the integration. So they couldn't do the "right" thing.

[2017-05-10 17:16] refack commented on #12630
If I understand correctly CTC agreed to restore `--inspect --debug-brk` as alias to `--inspect-brk`, pending @ChALkeR's investigating an issue.

[2017-05-10 17:34] addaleax commented on #12940
I’m closing this, but one last thing: V8 actually has an API for letting you estimate how much memory a vm context retains, but that API is in the process of being removed right now.

So, that part would actually be doable, just not in an even remotely future-proof way.

[2017-05-10 17:34] #12940 closed

[2017-05-10 17:44] addaleax commented on #12921
@gireeshpunathil Can you write that script as a test case that makes clear what the expected outcome is (i.e. that crashes otherwise)? I’ve tried a variant of your script in a [Travis CI run](https://travis-ci.org/addaleax/foobar/jobs/230851906) and it seems to work fine on OS X.

[2017-05-10 17:47] matteofigus commented on #12940
That's very interesting and useful to know @addaleax. I would like to learn more about v8 and perhaps about this specific issue, would you be able to point me to some resources to know more about this specific API?

Thanks

[2017-05-10 17:52] addaleax commented on #12940
@matteofigus Grep the v8.h file for `EstimatedSize()` – but seriously, in V8 5.9 it will just always return `0` and soon enough it will be gone completely, so please don’t start using it. ;)

[2017-05-10 19:04] #12895 closed

[2017-05-10 19:12] balinterdi commented on #9377
In my case the solution mentioned by @kriskhaira did not work. Since I couldn't upgrade the graceful-fs dependencies I ended up downgrading to node 6 which fixed the issue.

[2017-05-10 19:45] refack opened #12950 "test: flaky parallel/test-net-connect-local-error on macOS & freeBSD"
* **Version**: `master`
* **Platform**: macOS,freeBSD
* **Subsystem**: test

https://ci.nodejs.org/job/node-test-commit-freebsd/8933/nodes=freebsd11-x64/tapResults/
https://ci.nodejs.org/job/node-test-commit-osx/9696/nodes=osx1010/tapResults/
[code]

[2017-05-10 19:47] refack opened #12951 "test: flaky parallel/test-net-connect-options-allowhalfopen on macOS & freeBSD"
* **Version**: `master`
* **Platform**: macOS,freeBSD
* **Subsystem**: test

https://ci.nodejs.org/job/node-test-commit-freebsd/8933/nodes=freebsd11-x64/tapResults/
https://ci.nodejs.org/job/node-test-commit-osx/9696/nodes=osx1010/tapResults/
[code]

[2017-05-10 19:49] gamelaster opened #12952 "OpenSSL have collisions in node.dll"
* **Version**: v7.7.1 (on PC)
* **Platform**: Windows 10 64-bit

NodeJS latest (7.10.0) source (downloaded source as tar.gz), Visual Studio 2015, Python 2.7.13 32-bit, Launch:
`.\vcbuild.bat dll debug x64 vc2015`

![image](https://cloud.githubusercontent.com/assets/1665373/25917991/25a4a78c-35ca-11e7-908a-64cf7983616f.png)
(sorry, I closed terminal already)

[2017-05-10 19:56] sebastianplesciuc commented on #12950
Can I take this one?

[2017-05-10 20:10] refack commented on #12950
@sebastianplesciuc you like these ones 😉 . dibs is yours.
P.S. I've been told that the use of `common.PORT` is fragile in macOS / freeBSD.
There's a general goal to use `0` as port (if possible) and then figure out which port the OS assigned.

[2017-05-10 20:13] refack commented on #12950
Ref: #12376

[2017-05-10 20:14] refack commented on #12951
Maybe Ref: #12376

[2017-05-10 20:17] sebastianplesciuc commented on #12950
I think that's the case here as well.

I think there are two issues with this, one is that `server.close()` might [be called](https://github.com/nodejs/node/blob/master/test/parallel/test-net-connect-local-error.js#L27) before the client's callback which is the error on line 15 I believe.

Another issue might arise with `port + 1`. We have no guarantee that this is an empty port when this runs. A

[2017-05-10 20:19] refack commented on #12952
@gamelaster I'm trying to repro.
It might be a bug in our build scaffolding; since you are building as `dll`, `cctest` tries to link with both the `node.dll` and `openSSL.lib`.

* Note 1: `cctest` is just our C++ test harness, most probably you got the `node.dll` target built fine.
* Note 2: if you really want to build `cctest`, edit it's `vcxproj` file and try to remove the dual library, and rebu

[2017-05-10 20:23] gamelaster commented on #12952
@refack yes, node.dll has been build successfully. I don't need `cctest`, but I don't see in `vcbuild` how disable it

[2017-05-10 20:27] refack commented on #12952
I'm not sure there's a way. but it really doesn't matter. the next thing that would have run are the test, and I'm not sure how they handle the `dll`

[2017-05-10 20:38] gamelaster commented on #12952
@refack So how I should run test? I tested already `node.dll` and it's works

[2017-05-10 20:39] refack commented on #12952
That's it...
I'm assuming you are interested in the `dll` and not the `exe`.

[2017-05-10 20:41] refack commented on #12952
If you want to be doubly sure run
`vcbuild.bat debug x64 vc2015` (without the `dll` arg)
that will reuse as much as possible of the previously built artifacts and build `node.exe` that the automated test can use

[2017-05-10 20:49] santigimeno commented on #12921
Isn't that expected as the `data` event is fired twice? Changing that to `child.stdout.pipe(process.stdout);` seems to print data correctly.

[2017-05-10 21:03] aight8 commented on #12921
Shouldn't the sync. functions return all the received data?
It's an inconsitent behaviour anyway.

[2017-05-10 21:40] refack commented on #12950
1. The close is definitely in a bad place
2. When `net.Server.close` call the cb the server will not answer anymore, so it's a good time to try to connect to it (to get an error)
   Another option is to loop `port + 1...5`, if that's simpler.

Worse case we can move it to `/sequential/` where it will run alone.

[2017-05-10 22:07] santigimeno commented on #12921
I can reproduce the issue on `OS X` with the first example in https://github.com/nodejs/node/issues/12921#issuecomment-300207668 and with an async version:

[code]
By running the code with dtruss the child process only writes 8192 bytes. Later on it exits, so could it be an specific issue with yarn interoperating with node `child_process` module 🤷‍♂️ ?

Dtruss output. Parent Process PID: 31586 | C

[2017-05-10 22:25] addaleax commented on #12921
Okay, that’s curious. stdio should be blocking, so why doesn’t libuv write the rest of the 0x2bd6 bytes immediately after the first `write()`? Should write() even do that for blocking I/O?

Alternatively, does Node somehow mess up making FD 1 blocking, and consequently uv_try_write doesn’t write the whole block (16 kB is Node’s current limit for using try_write, and if OS X is the only platform wh

[2017-05-10 22:33] mhdawson commented on #12833
To double check I checked out v7.x and build the docs.  No n-api.

[2017-05-10 22:37] mhdawson commented on #12833
Does not show for the 6.x docs, so seems specific to 7.x

[2017-05-10 22:41] mhdawson commented on #12833
There seems to be 2 copies in the 7.10.0 and 7.x directories.  The second which is one level down from the first (https://nodejs.org/dist/v7.10.0/docs/doc/api) does not have N-API.

[2017-05-10 22:42] mhdawson commented on #12833
I've asked in the build IRC channel who knows how the docs are built for the website to see if they can point me in the right direction.

[2017-05-10 22:42] gibfahn commented on #12938
The aim is to ship V8 6.0 with Node 8, see [the blog](https://medium.com/the-node-js-collection/node-js-8-0-0-has-been-delayed-and-will-ship-on-or-around-may-30th-cd38ba96980d).

[2017-05-10 22:44] vsemozhetbyt commented on #12921
(It seems comment links are broken in GitHub lately: the hash is stripped. I've reported to Github about the issue. Be careful)

[2017-05-10 23:04] allens commented on #5258
@sam-github I use the recommended LTS version of node.js. AFAIK NODE_EXTRA_CA_CERTS is only in the latest features release. So for the time being that limits me to NODE_TLS_REJECT_UNAUTHORIZED?

[2017-05-11 00:49] rvagg commented on #12833
looking in to it

[2017-05-11 01:12] liangzeng opened #12955 "when will Node.js' Webassembly API be synchronized with the browser?"
When will Node.js' Webassembly API be synchronized with the browser?

now node.js have error ,when run wasm file.

[code]

[2017-05-11 01:16] mscdex commented on #12955
Node doesn't provide that API. It's entirely dependent upon the version of V8.

[2017-05-11 01:23] liangzeng commented on #12955
@mscdex thanks, hope node.js use new version v8  . ^-^

[2017-05-11 01:24] liangzeng commented on #12955
thanks
hope use new version v8  ^-^

[2017-05-11 01:24] liangzeng commented on #12955
@mscdex  thanks
hope use new version v8 ^-^

[2017-05-11 01:29] daurnimator opened #12956 "Don't use userobject.call/userobject.apply"
* **Version**: v7.9.0

Internally node shouldn't rely on user provided functions/objects having 'normal' values.

e.g.

[code]
Output:
[code]
For this example, node's timers.js should be using `Function.prototype.call` or [`Reflect.apply`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Reflect/apply)

[2017-05-11 01:31] rvagg commented on #12833
These other versions have both a docs/api and docs/doc/api:

v4.0.0
v4.1.0
v4.2.0
v4.4.0
v4.6.1
v4.7.0
v4.7.3
v4.8.0
v4.8.2
v4.8.3
v5.1.0
v5.2.0
v5.3.0
v5.9.1
v6.0.0
v6.10.0
v6.2.1
v6.2.2
v6.4.0
v6.5.0
v6.9.1
v6.9.2
v6.9.5
v7.10.0
v7.1.0
v7.2.0
v7.8.0

Seems random, must be something to do with our build process (which is all in `Makefile` btw, called from `make doc-upload` on the build system).

[2017-05-11 01:33] evanlucas commented on #12833
Yea, I had actually cherry-picked it by accident initially, but pulled it back out when I cut the release. Sorry if I caused this

[2017-05-11 01:50] rvagg commented on #12833
@evanlucas how close to the release? and did you force-push? it's possible that these double directories are from dirty directories being reused but I'm still scratching my head how the rest are identical but this one is different.

[2017-05-11 01:53] daurnimator commented on #12956
@mscdex this is not timers specific.

another example:
[code]
Output:
[code]

[2017-05-11 02:03] rvagg commented on #12833
Got it! you get the double directory if CI rebuilds the docs before its promoted, there's an `scp -pr out/doc/ server:distdir/docs/` in there and if it's run twice then you end up with the expected directory and the second time gives you a `doc` subdirectory with the mirror.

So my assumption here is that 7.10.0 was first built with the n-api commit in it, then was rebuilt without it, so the docs

[2017-05-11 02:16] refack commented on #12956
@daurnimator I believe that in both cases `node` adheres to the standards
1) setTimeout - https://html.spec.whatwg.org/multipage/webappapis.html#timer-initialisation-steps
2) Object.defineProperty - http://www.ecma-international.org/ecma-262/5.1/#sec-15.2.3.6
Admittedly in the second case it throws because `node` called `util.inspect.custom` but that's only in the REPL. If you run it as a script,

[2017-05-11 02:21] daurnimator commented on #12956
When the standard says "Invoke the Function" it doesn't mean to use `.call`, it means to use the internal mechanism for calling (which is exposed by `Reflect.apply`).
See https://heycam.github.io/webidl/#invoke-a-callback-function which leads to https://tc39.github.io/ecma262/#sec-call

[2017-05-11 02:22] rvagg commented on #12833
https://github.com/nodejs/node/pull/12957 is the fix

[2017-05-11 02:41] refack commented on #12956
@daurnimator note that in all cases IMHO node did what you asked it to do, and most importantly did not crash. It provided you with a proper Error with a stack trace.

We can argue the trade-offs in the implementation of the 'util' module (i.e. _printing/inspecting_) it is a `node` module that is not part of the standards, and indeed has it's limitations. For example `Reflect.apply` is a new langu

[2017-05-11 02:46] Trott commented on #12956
I'm going to re-open this. I think @daurnimator has a point. In particular, the first sample code provided runs as expected in the browser (tested on Chrome) and I would think we'd want to emulate that robustness.

[2017-05-11 02:46] daurnimator commented on #12956
Please note that this issue can be found all across the node code-base. I've mentioned `setTimeout` as the behaviour can be easily compared to browsers (and is standardised), and util as I haven't figured out a workaround when debugging.

`Function.prototype.call` would have been the correct choice before`Reflect` was introduced.

[2017-05-11 02:50] refack commented on #12956
Also as you might know node welcomes all contributions. If you feel you can help us improve the `util` module or other in general, I invite to you open a PR.
I think a good start would be to add your examples as tests to our test suite (`/test/parallel/`) you can see some of the files in https://github.com/nodejs/node/search?utf8=%E2%9C%93&q=util+extension%3Ajs+path%3A%2Ftest%2Fparallel%2F&type=

[2017-05-11 02:58] refack commented on #12956
@Trott IMHO it's not a matter of robustness, since there was not crash, nor any non-deterministic behaviour. I obviously welcome the re-open If you feel we're deviating from the standard.

[2017-05-11 03:10] refack commented on #12956
Just tried this:
[code]
### Chrome:
[code]

### node
[code]
IMHO our Error is better. You win some, you lose some...

[2017-05-11 03:14] daurnimator commented on #12956
@refack  No that is standard behaviour.
As your `b` object is not a function it tries to `eval()` it (which does the `.toString`)

[2017-05-11 03:31] refack commented on #12956
@daurnimator Ok so my reference to the WhatWG `setTimeout` standard was wrong.
Node has it's own implementation of `setTimeout` that doesn't `eval()` the first argument, and will only accept a `function`. https://nodejs.org/api/timers.html#timers_settimeout_callback_delay_args
But in this case node's error is more informative than Chrome's.

All I'm saying it's a matter of trade offs.
That, and sh

[2017-05-11 03:34] creationix commented on #12956
[code]

Yes `Object.create(null)` is an object, it's `typeof` is even `'object'` (so it null, but that's another story).

[2017-05-11 04:06] Trott commented on #12956
Addressing just the timers part, not util or anything else: https://github.com/nodejs/node/pull/12960

[2017-05-11 04:39] azjkjensen commented on #8080
I'd love to take a shot at helping on this. Can someone direct me where to start?

[2017-05-11 04:51] imharishsundar opened #12961 "Deprecation Warning and build struck"
* **Version**: v7.10.0
* **Platform**: Linux
* **Subsystem**:

sudo npm install

node-pre-gyp ERR! Tried to download(403): https://node-zopfli.s3.amazonaws.com/Release/zopfli-v2.0.2-node-v51-linux-x64.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for node-zopfli@2.0.2 and node@7.10.0 (node-v51 ABI) (falling back to source compile with node-gyp)
gyp WARN EACCES user "root" does not have per

[2017-05-11 05:18] arturgvieira commented on #12289
Hi, I made the change, please let me know if its good to go. Thanks

[2017-05-11 05:21] mscdex commented on #12961
General help questions should instead be posted to the [nodejs/help](https://github.com/nodejs/help/issues) issue tracker.

[2017-05-11 05:31] imharishsundar commented on #12961
@mscdex : added a issue there as well.. https://github.com/nodejs/help/issues/620

[2017-05-11 05:50] joyeecheung commented on #12961
Superseded by https://github.com/nodejs/help/issues/620

[2017-05-11 05:50] #12961 closed

[2017-05-11 05:58] joyeecheung commented on #12955
Note that the module you are trying to load may not be encoded properly, as wasm modules should start with the magic word `0x6d736100` and a version number (that is also what the error message is complaining about).  See [the WASM encoding spec](https://github.com/WebAssembly/design/blob/master/BinaryEncoding.md#high-level-structure)

[2017-05-11 06:19] joyeecheung commented on #12955
Also I have tried to run WASM with the master build (which includes V8 5.8.283.38 ) before and it actually works properly. I noticed the OP is using `Wasm. instantiateModule()`, which is the old interface. The new one is [`WebAssembly.instantiate()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_objects/WebAssembly/instantiate) and is exposed by default in this newer ver

[2017-05-11 06:38] arturgvieira commented on #2842
@jasnell Hi, I just read over the `writeHead` function in the file you mentioned, is the check supposed to go inside the for loop? Could you point me in the right direction? Thanks

[2017-05-11 07:29] zimbabao opened #12965 "WHATWG URL throw parse error for valid domains"
* **Version**:  7.10.0
* **Platform**: All
* **Subsystem**: url (WHATWG)

Some valid urls which are present in wild are not parsed properly by node new WHATWG URL.

Test Case:
http://r4---sn-a5mlrn7s.googlevideo.com/videoplayback?expire=1494484646&ei=RrITWaW1NuSS_AP_lon4CA&ipbits=0&requiressl=yes&signature=6469DE4B7CA90E4AB500FCD9159353290459853C.777DACAAC24135B25C0AB15D95B29BD393680B1B&clen=21566

[2017-05-11 07:48] liangzeng commented on #12955
yes, node.js 8.x+  support.

[2017-05-11 07:50] TimothyGu commented on #12965
On the spec side of things: This is a known issue of the URL Standard and Unicode Technical Standard UTS#46 (which specifies IDNA processing used by WHATWG's standard). A fix to UTS#46 is scheduled to be released in tandem with Unicode 10.0.0 next month. See:

- URL Standard issue: https://github.com/whatwg/url/issues/53
- UTS#46 issue: http://www.unicode.org/review/pri317/
- Latest UTS#46 draft:

[2017-05-11 08:24] mattmezza commented on #12790
+1

[2017-05-11 09:06] bnoordhuis commented on #954
Closing, see #12907 - the current behavior of returning a string has been documented.

[2017-05-11 09:06] #954 closed

[2017-05-11 09:19] matthiasg commented on #8044
Why is this closed ? I just stumbled over this and https://nodejs.org/dist/latest-v6.x/docs/api/fs.html does not declare in which version fs.constants was added.

[2017-05-11 09:23] santigimeno commented on #12921
The problem seems to be that `stdout` is non-blocking. From [process.exit() documentation](https://nodejs.org/dist/latest-v7.x/docs/api/process.html#process_process_exit_code):

This is a test case that reproduces the error:
[code]

I guess yarn is calling process.exit() before waiting the data to be written out.

[2017-05-11 09:37] 823639792 commented on #12559
Both “chrome://inspect” and connecting through “chrome-devtools://...”  blocked。
Maybe some wrong in my code.  or my version is 7.8 and you is 8.0。I will try to find root cause。

[2017-05-11 09:49] rocketspin opened #12969 "Uh oh! Looks like you're missing a module in your gulpfile: Cannot find module 'internal/fs'"
Node Version: v7.10.0
NPM Version: 4.2.0

Machine: OSX El Capitan 10.11.6

Ionic Info:
Cordova CLI: 4.2.0
Ionic Framework Version: 3.2.0
Ionic CLI Version: 2.2.3
Ionic App Lib Version: 2.2.1
Ionic App Scripts Version: 1.3.7
ios-deploy version: 1.9.1
ios-sim version: 5.0.13
OS: OS X El Capitan
Node Version: v7.10.0
Xcode version: Xcode 8.2.1 Build version 8C1002

I was working on an Ionic 1 project

[2017-05-11 10:20] valns commented on #8402
Thanks @danicoolpak17 , this worked for me!

[2017-05-11 10:44] addaleax commented on #12921
@santigimeno What kind of stream is `process.stdout` here?

[2017-05-11 10:46] addaleax commented on #12921
Nvm, found it in the docs. I don’t actually see the point in being so inconsistent about stdio – it doesn’t seem to me like there’s any sufficiently good reason to have async stdio. I’ll try to put a PR together and see if I’m proven wrong by our tests :smile:

[2017-05-11 11:01] gireeshpunathil commented on #12921
@addaleax , @santigimeno -  sorry, my test case was mis-leading. Agree, that is a manifestation of two callbacks, and the newline inserted by console.log

Having said that, again sorry to diverge the attention, but I guess there is something else happening other than the process.exit(). Here is why:

1. yarn (child) is a shell script, and the actual process which writes the JSON is node (grandchil

[2017-05-11 11:13] vsemozhetbyt opened #12971 "cli: NODE_OPTIONS does not support --require/-r + path with spaces"
* **Version**: v8.0.0 nightly 2017 05 07
* **Platform**: Windows 7 x64
* **Subsystem**: cli

Refs: https://github.com/nodejs/node/pull/12028

`test.js`:
[code]
`module.js`:
[code]
`"mo dule.js"`:
[code]
Compare:
[code]

[code]

[2017-05-11 11:16] vsemozhetbyt commented on #12971
Due to this issue, https://github.com/nodejs/node/blob/master/test/parallel/test-cli-node-options.js fails with spaces in the path to repo root.

cc @sam-github

[2017-05-11 11:26] gibfahn commented on #8044
Reopening, this will be closed by https://github.com/nodejs/node/pull/12690 when it lands.

[2017-05-11 11:27] rocketspin commented on #12969
Downgraded to an older version of node fixed it.

[2017-05-11 11:27] #12969 closed

[2017-05-11 12:14] #12448 closed

[2017-05-11 12:23] vsemozhetbyt commented on #12773
Will be fixed in https://github.com/nodejs/node/pull/12945 and https://github.com/nodejs/node/pull/12972.

One fix is turned over to https://github.com/nodejs/node/issues/12971.

[2017-05-11 13:08] evanlucas commented on #12833
@rvagg yay! Thanks for figuring this out. Apologies for causing the problem, although I guess it is good that we know about it now :]

[2017-05-11 13:58] gibfahn commented on #7129
Reopened as it'll be closed by https://github.com/nodejs/node/issues/12898 when it lands

[2017-05-11 15:09] refack commented on #12284
@vsemozhetbyt github has started to page so I forked and updated your gist to handle pages
https://gist.github.com/refack/d6cea6115ccde111a109ea99acba7588

[2017-05-11 15:22] Fishrock123 commented on #6980
ref: https://github.com/nodejs/node/pull/12970

[2017-05-11 15:32] vsemozhetbyt commented on #12284
@refack Feel free to improve in any way)

[2017-05-11 15:37] guilhermebruzzi commented on #3922
For ubuntu users, removing

/usr/local/lib/node_modules/npm/node_modules/rimraf/node_modules

also works! :D

[2017-05-11 15:49] guilhermebruzzi commented on #3922
For ubuntu users, removing

/usr/local/lib/node_modules/npm/node_modules/rimraf/node_modules

also works! :D

And then I followed the steps of @spelunk on this issue: https://github.com/nodejs/node/issues/9377

Copying the commands:
[code]

[2017-05-11 15:52] gibfahn commented on #10286
@refack that looks like a different test (`parallel/test-http-regr-gh-2821` vs
`parallel/test-child-process-fork-regr-gh-2847`)

[2017-05-11 16:04] coreyfarrell opened #12977 "v7.10.0 docs include N-API but N-API isn't part of 7.10.0"
* **Version**: v7.10.0
* **Platform**: any
* **Subsystem**: N-API

node v7.10.0 does not include N-API but documentation does.

https://nodejs.org/dist/v7.10.0/docs/api/n-api.html

[2017-05-11 16:16] gibfahn commented on #12977
Duplicate of https://github.com/nodejs/node/issues/12833

Closing, feel free to open if you disagree.

[2017-05-11 16:16] #12977 closed

[2017-05-11 16:24] sam-github commented on #5258
@allens For the moment, yes, sorry. You can weigh in on https://github.com/nodejs/node/pull/12677, the backport to 6.x

[2017-05-11 16:40] domenic commented on #12888
Isn't this just REPL weirdness?

[2017-05-11 16:43] domenic commented on #12780
Weak -1. toStringTag is really meant just for Object.prototype.toString.call(), not for generic debugging output. The util hooks seem better for that.

But of course it's OK for debugging utils to take into account a large variety of signals, including ones not originally intended for debugging, so it's not a real problem.

[2017-05-11 16:46] alexlamsl commented on #12888
@domenic

#### test.js
[code]

[code]

[2017-05-11 16:58] gibfahn opened #12979 "Agree on commit reverting strategy"
The [COLLABORATOR_GUIDE](https://github.com/nodejs/node/blob/master/COLLABORATOR_GUIDE.md#when-breaking-changes-actually-break-things) doesn't seem to cover how to revert commits, and specifically what the commit message should be. I think we should try to agree what the standard process is.

#### For single commits with `git revert HASH`:
 1. Leave the commit message as is.
 2. Modify (not least

[2017-05-11 16:59] gibfahn commented on #12979
FWIW my preference is `1.` and `2.`

[2017-05-11 17:07] sam-github commented on #12971
I punted on this because I can't see any credible use-case for module names that have spaces in them. However, I didn't consider that Windows occaisonally forces/encourages top-level directory names with spaces in them.

This can be fixed in the test, its choosing to use absolute paths ATM, that's not necessary, relative paths would work fine. I'll rework the test, first.

@vsemozhetbyt do you thi

[2017-05-11 17:08] jeisinger opened #12980 "consider implementing v8::Platform on top of libuv instead of using the default platform"
currently node.js just blocks if there are pending tasks on libuv's message loop before exiting, however, with e.g. WebAssembly's async compile API, it might be the case that there's ongoing work on one of v8::Platform's background threads, and eventually in the future, a task will be posted to the foreground thread to resolve the promise for the compilation.

If node.js would implement its own ve

[2017-05-11 17:24] vsemozhetbyt commented on #12971
@sam-github It is not the name only, it is the same with spaces in any folder during the module path. I've just use space in the name for an easier repro.

Unfortunately, I do not know C++ and cannot understand all the implementation burden. But now we have a different behavior of cli `-r` and NODE_OPTIONS `-r`. If we do not plan to complete this behavior, maybe we should document the difference.

[2017-05-11 18:00] fhinkel commented on #12980
/cc @nodejs/v8

[2017-05-11 18:01] sam-github commented on #12971
The difference is the shell, shells parse the quotes (not the node CLI), but with env vars there is no shell, so some subset of what the shell does would need to also be implemented by node. Which is doable.

[2017-05-11 18:11] #7129 closed

[2017-05-11 18:11] joshgav commented on #12980
and @nodejs/chakracore too :)

[2017-05-11 18:13] vsemozhetbyt commented on #12971
Well, maybe this is not worth it. I've  just stumble upon this fixing https://github.com/nodejs/node/issues/12773 Feel free to close if this is of lowest priority.

[2017-05-11 18:19] sam-github commented on #12773
I can't even build node on Linux if there are spaces in the path. I tried checking node out as "space node", but build failed. So I tried again, checking it out as `/home/sam/w/core/space dir/node`, that still fails to build:

[code]

I'm not convinced that having some restrictions on the paths that you do node development in is a bad thing. On the other hand, if some enterprising folks want to fi

[2017-05-11 18:22] sam-github commented on #12971
Its an issue, I'll look at it sometime. It would be more important if people run into it in practices, but I'm not sure they will. In your particular case, I can't even build node, much less run the tests, see https://github.com/nodejs/node/issues/12773#issuecomment-300874675

Having modules with spaces in their name `my module.js` is plainly weird, and its not necessary usually to provide full pa

[2017-05-11 18:29] refack commented on #12956
@daurnimator I followed up or your idea in #12981, you're invited to review.

[2017-05-11 18:41] vsemozhetbyt commented on #12773
@sam-github I think while Node.js is installed in the `"C:\Program Files\nodejs"` by default on Windows, it is worth to be extra careful.

[2017-05-11 19:28] #12918 closed

[2017-05-11 19:51] refack commented on #10286
As far as I recall the underlying problem was suggested to be the same https://github.com/nodejs/node/issues/3635#issuecomment-157714683

[2017-05-11 19:56] sashakru commented on #12928
Hello there,

It is my first contribution, I would like to try out this one.

[2017-05-11 20:44] matthewloring commented on #12980
Just as an fyi, I played around with this a few months back and have some initial prototype work here: https://github.com/matthewloring/node/commit/c76caae8de9c689db1018506b2fa8d3ac4d38e3e. Happy to pick it up again or collaborate on this if others are interested.

[2017-05-11 22:31] Fishrock123 commented on #11370
This should be easier now that async_hooks has landed. I might be able to take a look next week.

[2017-05-11 23:02] J4Wx opened #12984 "Switch Cases are not recognised as individual scopes"
* **Version**: v7.5.0
* **Platform**: Windows 10 x64

Within a switch statement, if two cases try to declare the same variable name, a syntax error is thrown.

Example Code:
[code]

This will throw an error, even though only one case can be called, and only one definition can be made. I think what should really happen is that each case is recognised as an individual scope, meaning 'let' can be use

[2017-05-11 23:12] mscdex commented on #12984
AFAICT the error is correct. At least it reproduces in Chrome and Firefox.

[2017-05-11 23:15] Trott commented on #12984
`let` is block-scoped. This is ECMAScript spec, not a choice Node.js has.

Each case can not be treated as an individual scope because there's no guarantee you won't execute more than one:

[code]

[2017-05-11 23:16] Trott commented on #12984
I'm going to close this, but feel free to ask any additional clarifying questions if you have any and/or leave a comment requesting that it be re-opened if there's a good reason to have the issue open. Thanks!

[2017-05-11 23:16] #12984 closed

[2017-05-11 23:59] ezequielgarcia commented on #12848
@jasnell @addaleax @mscdex @gireeshpunathil I've updated https://github.com/nodejs/node/pull/12794, exploring the `require(..., opts)` route.

[2017-05-12 00:12] Fishrock123 commented on #12701
I would say this is correct. By default, they are not subject to it but we may consider it if so necessary for our users.

[2017-05-12 00:12] JemiloII opened #12986 "Spawn is ignoring all environment variables including PATH."
Version: output of `node -v`
Platform: output of `uname -a` (UNIX), or version and 32 or 64-bit (Windows)
Subsystem: if known, please specify affected core module name

If possible, please provide code that demonstrates the problem, keeping it as
simple and free of external dependencies as you are able.
-->

* **Version**: v6.9.2, v6.10.3, v7.10.0
* **Platform**: Linux 3.10.0-327.13.1.el7.x86_64 #

[2017-05-12 00:28] JemiloII commented on #12986
I don't like this solution, but this is how you get it working. Why does the other child_process methods have the environment variable PATH included, but spawn does not???

[code]

[2017-05-12 00:39] mscdex commented on #12986
Did you try adding `shell: true` to your `spawn()` options instead?

Also, `node -e 'require(`child_process`).spawn(`node`, [`-pe`, `process.env.PATH`], {stdio:`inherit`})'` prints my `$PATH` just fine.

[2017-05-12 04:59] arturgvieira commented on #2842
Running into some issues implementing. When you can could you help me, I wrote a test it's here: https://gist.github.com/arturgvieira/33847bbeab3326898a0f0041efeabb15

For some reason when I place a throw statement in `_http_server.js` it does not throw. I must be missing something.

[2017-05-12 06:11] giper45 opened #12988 "fs : read file sync after sync copy of directory"
* **Version**: v7.8.0
* **Platform**: MacOS Sierra

Hello, could you explain what's happening with this example code? It is a recursive copy of dirs, than 2 reads in files that exists inside the copied dir.
 It seems that the recursive copy is finished inside the before function (by looking at the console.log('dirs created'), and then  the it functions  starts. It doesn't gives no file error, it g

[2017-05-12 06:13] mscdex commented on #12988
General help questions should be posted on the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

[2017-05-12 06:15] giper45 commented on #12988
Oh Sorry, I post it there...

[2017-05-12 07:39] kyriosli opened #12991 "Consider using binary operator in readUInt32XX ?"
* **Version: any**:
* **Platform: any**:
* **Subsystem: buffer**:

The `readUInt32BE/LE` method uses `+` and `*` to get positive integer, which is confusing and might have performance considered. I thought about using `>>>` to get the result might be more acceptable.

Original:
[code]
Expected:
[code]

[2017-05-12 07:45] arturgvieira commented on #2842
Hi, I made the change, please let me know if its good to go. Thanks

[2017-05-12 08:48] jeisinger commented on #12980
Interesting!

It's not necessary to implement idle task support, the platform can just indicate that it doesn't support idle tasks. For the rest, why not post stuff directly to libuv's event loop?

The Call* methods could be implemented on top of a uv_timer and uv_work_queue respectively. The tracing stuff, I'd just take over from v8's libplatform

[2017-05-12 09:21] #12928 closed

[2017-05-12 09:36] mscdex commented on #12991
If this is about performance, have you benchmarked the two and compared the results?

[2017-05-12 11:05] evanlucas commented on #12979
I was under the impression we always used just `git revert <sha>` and then amended the commit message with the reason for reverting

[2017-05-12 12:23] richardpringle commented on #12928
👍

[2017-05-12 12:25] nooks opened #12994 "Extends Promise with setImmediate"
* **Version**:
* **Platform**:
* **Subsystem**:

Why can not i use it?
[code]
[code]

[2017-05-12 12:31] jasnell commented on #12979
I don't believe I've ever seen us do a multiple commit revert. My preference is definitely `git revert HASH` on a single commit at a time with an amended commit message.

[2017-05-12 12:54] nooks commented on #12994
I'm sorry, I forgot that then initialize a new instance `MyPromise`

[code]

[2017-05-12 12:54] #12994 closed

[2017-05-12 13:31] cjihrig commented on #12988
Closing in favor of the help repo.

[2017-05-12 13:31] #12988 closed

[2017-05-12 13:58] #12021 closed

[2017-05-12 14:20] targos commented on #12955
I think this has been answered, so I'm going to close. Feel free to ask more questions.

[2017-05-12 14:20] #12955 closed

[2017-05-12 14:38] cjihrig commented on #12819
This comes from the use of [`util._errnoException()`](https://github.com/nodejs/node/blob/1d5f5aa7e1fb43d070fad137636d03ab2e9280fe/lib/util.js#L1027-L1028). Maybe that function shouldn't attach the same value for both `code` and `errno`, but it looks like it has been that way for 4 years now.

[2017-05-12 14:39] targos commented on #12888
I can reproduce the bug in various versions of d8:

| d8 version | ReferenceError? |
| -------------- | ---------------------- |
| 5.2.361.54 | YES |
| 5.3.332.49 | NO |
| 5.4.500.43 | NO |
| 5.5.372.40 | NO |
| 5.6.326.55 | NO |
| 5.7.492.60 | YES |
| 5.8.301 | YES |

It was apparently fixed during development of 5.7.

[2017-05-12 14:44] cjihrig commented on #8080
@azjkjensen [this](https://github.com/nodejs/node/blob/1d5f5aa7e1fb43d070fad137636d03ab2e9280fe/src/node_debug_options.cc#L26-L29) is probably a good place to start. Allowing 0 here seems to make it work for me, but I didn't run the full test suite, and there could be other nuances.

[2017-05-12 14:46] jasnell commented on #12819
FWIW, this will be changing in an upcoming semver-major as part of the conversion over to internal/errors

[2017-05-12 14:51] targos commented on #12308
This was fixed in https://github.com/nodejs/node/commit/cd78a2bd07 and released with v6.10.3.

[2017-05-12 14:51] #12308 closed

[2017-05-12 14:53] targos commented on #12740
V8 5.8 landed on `master`

[2017-05-12 14:53] #12740 closed

[2017-05-12 14:54] JemiloII commented on #12986
Hmm something interesting is going on. But the behavior still doesn't seem right, however it could be intended.

[code]

Prints my path as expected. however this:

[code]
PATH is undefined...

This doesn't seem right that it would clear all the env variables when you provide an env property. If this is the case, then without having to add many environment variables to env obj, how can I just chang

[2017-05-12 14:55] refack opened #12997 "test: investigate async-hooks/test-tcpwrap for flakiness on Linux"
* **Version**: `master`
* **Platform**: `Linux` (fedora23)
* **Subsystem**: test,async_hooks

https://ci.nodejs.org/job/node-test-commit-linux/9808/nodes=fedora23/tapResults/
async-hooks/test-tcpwrap might be flaky:
[code]

[2017-05-12 14:59] gibfahn commented on #12979
Refs https://github.com/nodejs/node/pull/4679#issuecomment-172421320 from @rvagg :

[2017-05-12 15:00] gibfahn commented on #12979
Okay, I think we have consensus, so I'll close this as decided. We use `git revert`, and leave the commits as they are.

If anyone disagrees then comment/reopen.

[2017-05-12 15:02] sam-github commented on #12986
Above is expected and documented behaviour. default value for `env: ` is `env: process.env`, if you provide your own env, you chould clone process.env and add/delete any that you want to add/delete.

If you wonder why, ask yourself how you would *delete* a env var during spawn that you didn't want passed from the parent process to its child.

[2017-05-12 15:02] arturgvieira commented on #12793
If this becomes available again as a PR, I would like to give it a shot.

[2017-05-12 15:07] JemiloII commented on #12986
I think I found the answer, it wasn't obvious when I first read the docs.

_From [Node Core Documentation](https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options)_

Thanks for your help. Looks like all I have to do is clone `process.env` and then change the environment variable I want. It makes sense to why they would want spawn to work this way.

[2017-05-12 15:07] #12986 closed

[2017-05-12 16:04] #11827 closed

[2017-05-12 16:04] targos commented on #11818
@trott is it still flaky?

[2017-05-12 16:19] targos commented on #12573
The fix just landed on `v7.x-staging` and should be in the next 7.x release.

[2017-05-12 16:19] #12573 closed

[2017-05-12 16:48] targos commented on #12888
Fix is in https://github.com/v8/v8/commit/937b8cb6847041dd2801eaa06fdaf0e5305abbc7

[2017-05-12 17:18] refack commented on #2021
@justinmchase I'm digging in the past looking for a _simple_ embedding example code.
1. To give as an example
2. To turn into a test harness for `node.dll`

Was wondering if you got/know-of one?

[2017-05-12 17:19] joyeecheung commented on #12979
Ah..wait, but this practice is still not documented, no?

[2017-05-12 17:30] gibfahn commented on #12979
@joyeecheung Good point

[2017-05-12 17:38] refack commented on #12941
[Just my suggestion]
Add a second argument, `opt`, to `cluster.fork()` that will trickle down to `createWorkerProcess` and allow you to override all of the preset opts:
[code]
(maybe not `env` because that will cause redundancy)

[2017-05-12 17:43] refack commented on #12941
[other option]
Get `--inspect-port` to be whitelisted in NODE_OPTIONS (#12028)

[2017-05-12 18:15] toddself opened #13001 "Proposal: change deprecation policy"
The current node deprecation policy is very difficult for certain sets of node users to find out about breaking changes between LTS-enabled node versions.

With node's tick/tock even/odd release cycle where odd-numbered releases will never enter an LTS mode, it is very possible to miss the deprecation of a much-relied upon feature because there's no business reason for me to test my code against a

[2017-05-12 19:12] ChALkeR commented on #13001
I (personally) believe that is a self-contradictory statement and suggest everyone to note that.

So, do I get it correct that the proposal is to slow down the deprecation process twice and account only LTS releases? There would be significant drawbacks if that would be enforced…

That said, I'm not saying that I am strictly against this proposal now (more like a -0 currently) — I haven't collecte

[2017-05-12 19:20] toddself commented on #13001
`fs.writeFile`'s callback omission was deprecated in 7.  7 will never enter LTS.  I have not run it anywhere (even in CI), nor do I have plans to.

I will switch to Node 8 when it enters LTS. Because I will never run node 7 anywhere I would miss this deprecation entirely.  From my perspective it would be working in node 6, but broken in node 8 (and broken in a way that would cause my services to s

[2017-05-12 19:21] jasnell commented on #13001
hmmm.. a quick clarifying question: would the intention of this be that some bit of Deprecated code could not be EOL'd until after the LTS cycle *completes*?

For instance, let's say we deprecate some function today in master. That deprecation will occur 8.0.0. Let's say we get another semver-major PR in june that EOL's that code and removes it entirely. That EOL would not go into a release until

[2017-05-12 19:22] mscdex commented on #13001
I'm curious as to why you would explicitly not test non-LTS releases (especially in CI)?

[2017-05-12 19:44] sam-github commented on #12941
`--inspect-port` should have been in `NODE_OPTIONS`: https://github.com/nodejs/node/pull/13002

[2017-05-12 19:57] toddself commented on #13001
A lot of reasons? I don't have the time to setup CI to run on multiple node versions, our CI success gates whether or not something can be merged, so we'd then have to fix things that aren't broken, or get fixes from upstream providers (or upstream of upstream, etc), the list sort of goes on from there, but I think those two issues should suffice enough to satisfy that curiousity.

That seems to b

[2017-05-12 20:02] sam-github commented on #12941
I think what @stelcheck is trying to do is perfectly reasonable, and agree that with the special casing its a bit hard to get all the corner cases.

[2017-05-12 20:20] refack commented on #12950
@sebastianplesciuc You might appreciate this. I've been looking at this issue's brother #12951.
These tests are run in parallel first this one, then the other.
In the other one there's a server that's supposed to receive 6 connections, instead it received 7.
I wonder where that 7th request comes from 🤣

[2017-05-12 20:51] justinmchase commented on #2021
Its been a while since I thought about this but this was maybe the simplest one I did with some good examples in it:

https://github.com/EvolveLabs/node-mumble-audio

Are you dealing with electron or just straight up making a native module for node? Because electron is a little more complicated but manageable. I would do things a differently now, than I did in the past but I may be able to help.

[2017-05-12 20:59] refack commented on #2021
Thanks for the excellent write up, I'm sure I can make a good HOWTO for native addons from it!

1. A few people asked for simple (i.e. not `electron`) examples on how to embed node, and I'm looking to write a HOWTO on that
2. We don't do automated testing for the `node.dll` target, so we need a simple harness that embeds the dll that we can run the tests on.

So I'm looking for more for the other

[2017-05-12 22:37] justinmchase commented on #2021
Well just to be clear, with the `win_delay_load_hook` trick you can essentially compile against `node.dll` but then at runtime bind that to any other executable, including `electron.exe` or `node.exe` or `my cool new app.exe`.

There is built-in logic in `node-gyp` to solve that problem for node.exe and node.dll but you can override it. I was able to solve that by using this delay_load_hook instea

[2017-05-13 02:32] JustinYi922 opened #13008 "CDP(async function(client) { ^^^^^ SyntaxError: missing ) after argument list at Object.exports.runInThisContext (vm.js:78:16) at Module._compile (module.js:543:28) a"
今天我在centos上安装了google chrome。安装node 运行headlless，提示下面的错误。我在Mac上没有此问题。求助。谢谢
CDP(async function(client) { ^^^^^ SyntaxError: missing )
after argument list at Object.exports.runInThisContext (vm.js:78:16) at Module._compile (module.js:543:28) at Object.Module

[2017-05-13 02:40] mscdex commented on #13008
Perhaps the version of node installed on your CentOS system is too old to support async/await?

[2017-05-13 05:42] Trott commented on #11818
I haven't noticed it failing so it might not be. If you suspect this is no longer an issue, feel free to close.

[2017-05-13 06:05] Trott commented on #13001
I thought runtime deprecation warnings are supposed to be in place for two major releases specifically to guarantee that they end up in an LTS release before anything gets removed. @jasnell Isn't that the intention of the deprecation policy you drafted at https://github.com/nodejs/node/blob/98609fc1c4635f02f8f6ef9dd079207a1204b9a1/COLLABORATOR_GUIDE.md#deprecations?

@toddself Am I misunderstandin

[2017-05-13 06:18] JustinYi922 commented on #13008
谢谢mscdex。确实是版本的问题，我升级到7.10.0 就好了。

[2017-05-13 06:27] gireeshpunathil commented on #12921
Continuation to my previous comment, here is a test case which fails even without process.exit(). Note that however, this fails only in MAC. dtruss showed nothing un-natural, other than erred psynch_cvwait calls.

[code]
In the course of its journey to the natural exit, does not look like it prepared or attempted to write again! at least from the system perspective.

[code]
expected: 65536
actual:

[2017-05-13 07:53] sebastianplesciuc commented on #12950
@refack I'm not sure I get it :) You're suggesting that the connection in that test comes from this one? How does that work?

[2017-05-13 08:13] bnoordhuis commented on #12921
@gireeshpunathil `process.stdout.fd` is non-blocking in your example, it's not surprising you see partial writes.  Replace:
[code]
With:
[code]
And the parent will receive the full output.

I don't see a bug here, just consequences of the trade-offs node makes.

[2017-05-13 09:30] aaron-hsu commented on #5038
i used xshell 5 to run node in window

[code]
the out put in xshell likes this
[code]
i am not sure it is node problem or xshell problem
any idea?

[2017-05-13 09:39] danicoolpak17 commented on #8402
@valns you are welcome , keep sharing the experience.

[2017-05-13 09:45] sebastianplesciuc commented on #12950
@refack OOOOH! I think I get it now. So when that test fails, this test fails because it connects from this test to the server from that test. So fixing this test would fix that one?

[2017-05-13 09:56] gireeshpunathil commented on #12921
@bnoordhuis - thanks, the proposed code performs full write.
Agree, that the issues I pointed out are mere manifestations of the fact that stdout is non-blocking, and may warrant only minimal doc changes as caveats.

But how about point 1? Why the child would - in the absence of an explicit exit - come out without writing fully? Isn't it a bug?

[2017-05-13 09:59] joyeecheung commented on #13008
Problem was fixed after upgrading to 7.10.0. This one can be closed.

[2017-05-13 09:59] #13008 closed

[2017-05-13 11:50] bnoordhuis commented on #12921
@gireeshpunathil Point 1 is this?

IIUYC, node normally waits until it's been able to write all backlogged data to the pipe.  (The data having been written does not mean the reader consumed it, though.)

Example:
[code]
The caveat here probably is that the pipe buffer on MacOS is 64 kB (try the example with 65536 and 65537), which means quite a bit of data can get lost in transit if the reader exi

[2017-05-13 12:41] gireeshpunathil commented on #12921
@bnoordhuis, yes - point 1. was about that itself.

Are you hinting that the reader (in my case, the parent node) is exiting pre-maturely? with a listener on the child data, I thought it will wait until the child end of the pipe is closed, isn't it the case?

with your example, I (the cat command) am able to get all the data - with or without sleeping - any amount.

[code]
On the other side, in my

[2017-05-13 12:47] refack commented on #12950
Yep

[2017-05-13 15:09] jasnell commented on #13001
The `End-of-Life` phase is currently intentionally non-committal as to when the code can actually be removed (or the behavior changed). Within the current policy, the idea is that `End-of-Life` code can be changed or removed at any time following the move to `End-of-Life`. Moving code to `End-of-Life` is a semver-major action so it is only supposed to happen with a major release.

[2017-05-13 15:14] Trott commented on #13001
@jasnell With the understanding that you are free to change your mind after more thinking about it, what's your immediate reaction to "We ought to generally require runtime deprecation for two major releases?" Yes, I like it? No, I hate it? Not sure, gotta think about it?

(The "generally" in there is to acknowledge that there needs to be an exception process of some kind for things like what happ

[2017-05-13 15:20] gireeshpunathil commented on #12921
@bnoordhuis - I reproduced the same issue in Linux as well, though with a larger data volume (1MB):

[code]
As you can see, the write from the child happened only once - which was read by the parent in two iterations. However, note that the single write by the child is still not complete. The child seems to have attempted to write only once, ignoring how much it has actually written.

manual page

[2017-05-13 15:29] #12903 closed

[2017-05-13 16:22] mscdex commented on #13001
That wouldn't necessarily need to be the case if the main focus is on LTS. For example, if a runtime deprecation first happens on v8.x, then why would we necessarily have to extend that through v9.x as well?

[2017-05-13 17:04] Bablakeluke commented on #12115
Couldn't this just be a reinterpretation of the 64 bit integer to the 64 bit double rather than a conversion (which rounds and causes these issues)? I.e. the bit pattern is exactly the same - it's just treated as a double. The benefit of this being it's a simple change and it's doesn't break anything either.

[2017-05-13 17:19] dchest commented on #12115
@Bablakeluke unfortunately, this will break comparison for inodes whose bit pattern result in `NaN`, since `NaN != NaN`. Example: https://play.golang.org/p/SaWpMu60Xt

[2017-05-13 17:49] Bablakeluke commented on #12115
@dchest Excellent point - I doubt that would ever actually happen however, considering the `NaN` bit patterns are all _enormous_ numbers and inodes are fundamentally indices (i.e. no filesystem would support indices that high); i.e. you would apparently need `9,218,868,437,227,405,312` or more files for it to occur.

[2017-05-13 17:50] vsemozhetbyt opened #13017 "tools: eslint-plugin-markdown issue discussion"
All the collaborators concerned, please, utter an opinion in this issue: https://github.com/eslint/eslint-plugin-markdown/issues/69

 cc @not-an-aardvark, @silverwind, @trott

[2017-05-13 17:52] dchest commented on #12115
That's pretty much original issue — we can't and should not predict how inodes are generated by OS — they may even be randomized by OS.

[2017-05-13 18:11] jasnell commented on #13001
@Trott ... i think there are far too many variables to consider to establish two majors as a minimum. For instance, we may be deprecating some bit of code because some mechanism in V8 is expected to disappear entirely soon after cutting the next major. Or, we may be deprecating because of a security or usability issue. Or we may just be deprecating because we just have a much better way of doing t

[2017-05-13 18:34] mscdex commented on #13001
I agree. Personally I still don't understand the argument that adding another node version in CI is troublesome, especially if it allows you to catch runtime deprecations early (in case the documentation deprecations were not read), which would solve the original issue. If the issue is there is a bug in node, then an issue/PR should be created so the problem can be fixed, just like if a bug were t

[2017-05-13 19:04] KryDos commented on #12920
@Aldor007 just to understand, which way do you use to set multiple headers?

Example below do not transform value of WWW-Authenticate to coma separated string.

[code]

Curl output is

[code]

[2017-05-13 19:08] fl0w commented on #13001
Wouldn't it be easier to backport deprecations to LTS-releases as semver-patches instead of extending the lifecycle of deprecated features (if running unstable on CI isn't an acceptable solution)?

[2017-05-13 19:12] jasnell commented on #13001
runtime deprecations cannot be semver-patch because they have side effects that can break running code (stderr output and new throws when --throw-deprecation is used).

[2017-05-13 19:16] chrmod opened #13018 "Allocation failed - process out of memory"
Not sure what caused the problem but node crashed with:
[code]

[2017-05-13 19:26] mscdex commented on #13018
General help questions should be posted on the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

[2017-05-13 19:36] vsemozhetbyt commented on #13018
@chrmod By default, Node.js sets memory limit near 1.5 GB. Try to increase it by this key (this example sets 2 GB):
[code]

[2017-05-13 19:39] vsemozhetbyt commented on #13018
Also, if you get this error trying to search with npm, you need to update npm, see https://github.com/npm/npm/blob/latest/CHANGELOG.md#v420-2017-01-26

[2017-05-13 19:42] toddself commented on #13001
I'm not sure why you don't understand "I don't have the time" to
maintain CI for a version we are not going to use.
It must be very nice to have all the engineering resources you need at
hand to accomplish your goals.
If waiting through one LTS release before removing something that has
been deprecated in a stable module (which given the current release
velocity is a MAXIMUM of one year, but likel

[2017-05-13 19:49] toddself commented on #13001
@trott that is even more than I'm asking for (but it would be great).  I'm asking that all deprecations land in an LTS release before being removed.

I don't even mind if that LTS version gives me a console output when I use something deprecated, I would just love to not have to track the unstable and experimental versions of node.

Also @mscdex, why would I want to test in CI on a version of node

[2017-05-13 20:04] mscdex commented on #13001
@toddself I wouldn't consider non-LTS *unstable*. AFAIK the only real difference between LTS and non-LTS is how long the branch is supported. Semver and other rules still apply for any branch.

[2017-05-13 20:22] vojtechkral commented on #12115
@dchest I don't get what the problem in your example is. The fact that different `NaN`s (created from different inodes) don't compare true is a good thing. You don't want different inodes to compare true - that's the original bug.

[2017-05-13 20:22] jasnell commented on #13001
@toddself ... I don't want to leave the wrong impression that I'm not sensitive to the issue you're dealing with. I've had a number of folks ask about the stability of the odd numbered majors and whether they would be considered to be "experimental" or not. The short answer is that they're not experimental and are just as stable as the even numbered releases, they just aren't supported for as long

[2017-05-13 20:25] RReverser commented on #12740
Confirmed, seems to work.

[2017-05-13 21:17] wmertens commented on #12115
Yes, but you do want the same NaNs to compare to true - otherwise you can't
tell that two hardlinks are the same…

On Sat, May 13, 2017, 10:22 PM Vojtech Kral <notifications@github.com>
wrote:

[2017-05-13 22:01] dchest commented on #12115
@vojtechkral sorry if it wasn't clear: the example showed that converting many different numbers give NaN value. But as @wmertens said, NaN is not equal to NaN even if it's represented by the same bits (that is, the same inode): https://play.golang.org/p/2EGBDaKpgM

[2017-05-13 23:34] itslukej commented on #8827
I'm able to reproduce this on v7.9.0

[2017-05-14 00:50] aqrln commented on #12950
@refack

Using 0 to choose a random port can be fragile on BSD systems (including macOS) too, because of how `SO_REUSEADDR` works in their implementations of TCP. Recently I observed `test/parallel/test-http-extra-response` failing on my machine trying to communicate with the server of an autocompletion plugin for Vim instead of the server created in the test itself. The problem is that when a pro

[2017-05-14 01:31] Trott commented on #12950
Hmmm, this sounds like there's a misunderstanding somewhere. There's nothing macOS or FreeBSD specific about the `common.PORT` stuff as far as I know. And there's nothing fragile about `common.PORT`.

The reason we don't typically want to use `common.PORT` in `parallel` is to prevent this scenario:

Test A uses port `0` for something. Test B uses `common.PORT` for something. Test A starts to run f

[2017-05-14 01:39] Trott commented on #12950
Also: `common.PORT` and `common.PORT + 1` in `sequential` is safe (assuming no non-Node.js processes grab the ports) so you could just consider moving to `sequential` if the logic gets too hairy otherwise. It's probably not anyone's first choice for a solution, but it probably shouldn't be the last choice either :-D

Also also, and this starts to enter rant territory so feel free to tune out right

[2017-05-14 02:01] arturgvieira commented on #12941
@refack Hi, I'd like to take this one. I've read over your suggestion, the related code, and made a gist. You mean something like this?
https://gist.github.com/arturgvieira/493772fb633acfb1c8dcaba2d94cfa12

[2017-05-14 03:11] Trott commented on #12941
@arturgvieira I could be wrong, but I suspect https://github.com/nodejs/node/pull/13002 is the solution more likely to gain favor than adding a new argument to `cluster.fork()`. It hasn't landed yet, though, so I'm somewhat speculating.

(Because there's a likely solution proposed and undergoing active review, I'm going to remove the `help wanted` label from this issue.)

[2017-05-14 03:22] arturgvieira commented on #12941
@Trott Thanks, I must have missed the reference to the open PR.

[2017-05-14 03:24] Trott commented on #12630
Pinging @ChALkeR: Did you gather the information you needed to gather? Are we prepared to move forward with restoring `--inspect --debug-brk`? Or not yet?

[2017-05-14 07:53] vojtechkral commented on #12115
@dchest Ah, makes sense, thanks.

[2017-05-14 10:36] irsl commented on #6078
In my use case (passing through large amount of data from a process stdout to a socket) it would be helpful if underlying implementation of .pipe() checked whether both the source and destination streams are file descriptor based and then it could relay the data without routing it through the V8 memory management...

[2017-05-14 11:33] bnoordhuis commented on #8827
@itslukej Please file a new issue and include steps to reproduce.

[2017-05-14 11:55] wmertens commented on #12115
Would it be possible to return Symbols? And the when they are coerced to a
string they are the hex value?

On Sun, May 14, 2017, 9:53 AM Vojtech Kral <notifications@github.com> wrote:

[2017-05-14 12:25] gibfahn commented on #11936
[code]

Output:

[code]

[code]

[2017-05-14 12:29] gibfahn commented on #11936
@evanlucas I think you did v7.10.0? You also did `v7.4.0`, which is the last release I can find which was signed.

[2017-05-14 12:31] bnoordhuis commented on #12921
@gireeshpunathil Use `process.stdout.write()` instead of `fs.writeSync(process.stdout.fd)` and it should work.

[2017-05-14 13:08] #12773 closed

[2017-05-14 13:59] refack opened #13020 "test: investigate flakiness of `parallel/test-async-wrap-getasyncid`"
* **Version**: `master`
* **Platform**: Windows ~`smartos15-64` ++~
* **Subsystem**: test,async-hooks

### file:
https://github.com/nodejs/node/blob/master/test/parallel/test-async-wrap-getasyncid.js

### falakings
1. https://ci.nodejs.org/job/node-test-binary-windows/8471/
2. https://ci.nodejs.org/job/node-test-binary-windows/8362/
3. https://ci.nodejs.org/job/node-test-binary-windows/8402/

###

[2017-05-14 14:19] refack commented on #13020
Stress CI: https://ci.nodejs.org/job/node-stress-single-test/1219/nodes=win10/

[2017-05-14 14:36] refack commented on #13020
@addaleax @AndreasMadsen is it possible that the [anonymous scope ](https://github.com/nodejs/node/blob/master/test/parallel/test-async-wrap-getasyncid.js#L152) + eager `gc` calls, cleans up the server before it has a chance to `(h)->flags = UV__HANDLE_REF`?

[2017-05-14 14:54] addaleax commented on #13020
As far as I understand `common.mustCall()`, *all* missed functions are listed on exit. If you were right, that would mean that the `.listen()` handler wouldn’t get called, but it’s not listed so it seems safe to assume it does get called?

[2017-05-14 14:58] refack commented on #12433
ping @joyeecheung any progress? need help?

[2017-05-14 15:04] AndreasMadsen commented on #13020
The only explanation that makes sense to me, is that the client connects, sends data, and shutdown itself before the actual server received any connection. Thus the libuv loop doesn't know that there a connection incoming and will just exit the process.

We could wait until the server received its connection before running `handle.shutdown()` or alternatively simply remove the `common.mustCall` fr

[2017-05-14 15:07] refack commented on #13020
Yep...

👍 `handle.shutdown()` only in `req.on('end')`
I'm on it.

[2017-05-14 15:28] AndreasMadsen commented on #13020
We need to wait for both `server.on('connection')` and `wreq.oncomplete`. In particular, `req.on('end')` will not happen at all before `handle.shutdown()`.

[2017-05-14 15:30] nguyendangkhoa1998 opened #13021 "error installing"
![image](https://cloud.githubusercontent.com/assets/28688726/26035343/da2fafe4-38f4-11e7-9201-fae79b6049ba.png)

[2017-05-14 15:32] gireeshpunathil commented on #12921
@bnoordhuis , yes - that works fine. But to be honest, that looks to me like a circumvention to the original issue which yarn brought forth: the fact that stdio is now non-blocking is not contained well in sync methods or fs methdods which take native fds as input.

[This](https://github.com/nodejs/node/blob/8514269876c4250e885a1b2407cfa7eb92498c0e/deps/uv/src/unix/fs.c#L710) is the route through

[2017-05-14 16:54] ArchangeGabriel opened #13022 "Failling to build LTS versions with ICU 59"
When trying to build either Argon or Boron with ICU 59.x, it fails with the following error:
[code]

I’m not sure how to fix this, and if other changes are required, but this is an issue for ArchLinux packages.

[2017-05-14 16:55] addaleax commented on #13022
/cc @srl295

[2017-05-14 17:02] bnoordhuis commented on #12921
There is no documentation to update because the `.fd` property is undocumented.  I added it in 7bdd05b as a debugging tool.

[2017-05-14 17:22] simonkcleung opened #13023 "indexOf empty string in buffer should return 0"
`"abc".indexOf("")` return 0.
But `Buffer.from("abc").indexOf("")` return -1.
Expected result : 0

[2017-05-14 17:38] lance commented on #13023
Hmm - the Buffer#indexOf documentation explicitly states that it will return -1 if the value is not found. https://nodejs.org/api/buffer.html#buffer_buf_indexof_value_byteoffset_encoding

I believe this is expected behavior.

[2017-05-14 17:39] TimothyGu commented on #13023
`Buffer` functions more akin to an array than a string. (In fact it extends the `Uint8Array` class!) `["a", "b", "c"].indexOf("")` returns -1 also.

[2017-05-14 17:42] addaleax commented on #13023
@lance I think this is a bug – it makes sense for an empty input value to say that it is found immediately, without any searching. Also, `String.prototype.indexOf` behaves the same way, and I think consistency is important (especially when there’s no reason to deviate) because developers expect them to behave the same way.

@TimothyGu Unlike `Array#indexOf`, `Buffer#indexOf` doesn’t compare elemen

[2017-05-14 17:45] TimothyGu commented on #13023
Oops, read what @addaleax said :)

[2017-05-14 17:47] lance commented on #13023
@addaleax I see your point - especially given that String.prototype.indexOf works this way. Comment retracted. :)

[2017-05-14 18:23] joyeecheung commented on #12433
@refack See https://github.com/nodejs/node/pull/12934 ....

[2017-05-14 18:30] joyeecheung commented on #12433
To elaborate, probably on some hosts `hrtime` returns  two 0 and results a in `NaN` as `rate`, then this turns into `null` during IPC message serialization. Now there would be an error when things like this happens so we probably need to wait for the next time it shows up in the CI.

[2017-05-14 18:43] Trott commented on #12433
I think that's the way to go. But only after we've confirmed that this is really the source of the problem, or course...

[2017-05-14 19:19] joyeecheung commented on #13018
Looks like this is caused by running `ember server -p 3000`, and the server run out of memory. One  possible reason is that there could be a memory leak in that server. You can probably try to file an issue to https://github.com/ember-cli/ember-cli/issues

[2017-05-14 19:21] refack commented on #13022
Ref: [bump ICU to 59.1](https://github.com/nodejs/node/pull/12486), I'm not sure it was backported to `v6` (Boron), and it will probably won't be ported to `v4` that has moved from LTS to maintenance.

Ref 2: Previous PR depends on https://github.com/nodejs/node/issues/11753

[2017-05-14 19:29] ArchangeGabriel commented on #13022
Hum, maybe I wasn’t clear but I’m building with system ICU, not nodejs embedded one, so #12486 seems irrelevant. I’ve tried to use #11753 as patch, but it didn’t worked. The patching has to be different in `v6` and `v4` than in `v7`, and that fixing one (`v6`) would probably fix both.

[2017-05-14 19:32] bnoordhuis commented on #13022
That specific build error is probably easy to fix by adding a `#include "unicode/normlzr.h"` at the top of runtime-i18n.cc.

In general though, V8 only supports one ICU version at a time, and with the v4.x and v6.x release lines that is ICU 58.

[2017-05-14 20:27] anko commented on #947
Requesting reopen, because this clearly still happens:

[code]

Or is there an alternative solution that I missed, which this was closed in favour of?

[2017-05-14 20:37] addaleax commented on #947
@anko https://github.com/nodejs/node/pull/9744 was deemed semver-major, so your example will work in Node 8 upwards, which is expected to be released in 2 weeks – there’s an RC available here: https://nodejs.org/download/rc/v8.0.0-rc.0/

If you’re using `process.stdout.write` or `process.stderr.write`, pass a callback to `.write()` that checks whether an error has occurred or not (because Node can

[2017-05-14 20:45] ArchangeGabriel commented on #13022
@bnoordhuis Thanks, this fixed it. Build fine, only 3 tests not passing:
[code]

The `DES-CBC3-SHA` one is because although nodejs is built against OpenSSL 1.0, the `openssl` command on my system is OpenSSL 1.1, so this cipher is gone, hence the error. Not sure about the other two tests, but I would expect the `test-tls-ecdh-disable` to be something similar. No idea about the first one.

[2017-05-14 21:02] RedFoxCode opened #13027 "global becomes undefined"
* **Version**: v7.10.0
* **Platform**:
Linux raspberrypi 4.4.38-v7+ #938 SMP Thu Dec 15 15:22:21
GMT 2016 armv7l GNU/Linux

When I run this code:

[code]

`global` object becomes undefined

[code]

But

[code]

And if I will run `Object.keys` or `Object.defineProperty` global does not become undefined. Bug?

[2017-05-14 21:14] TimothyGu commented on #13027
No it is not a bug. `global` mirrors `global.global`, and when you define `global.global` to a setter-only property, `global` cannot be read anymore, and `typeof` naturally returns `'undefined'`.

[2017-05-14 21:20] ArchangeGabriel commented on #13022
Currently testing on my server, this single line change seems to be enough. Should I expect something to break, and if so how to detect any breakage?

[2017-05-14 21:33] RedFoxCode commented on #13027
Forget to say: defineProperty throws error "defineProperty called on non-object". We will log key.

[code]

It logs

[code]

[2017-05-14 21:45] RedFoxCode commented on #13027
Actually got it, because first key is global we defineProperty on it without getter and it becomes undefined and next key cannot be defined

[2017-05-14 21:45] #13027 closed

[2017-05-15 00:08] aashil commented on #12900
@refack I tried running this test using `./node test/sequential/test-fs-watch.js` and I got nothing. I assume the test ran with no errors?

[2017-05-15 00:13] aqrln commented on #12900
@aashil it did. You can try something like `python tools/test.py --mode=release --repeat=10000 sequential/test-fs-watch` and see if it starts failing after a couple of minutes of running.

[2017-05-15 00:25] aashil opened #13029 "Accept incoming requests popup appearing even after running firewall script"
I tried running `macosx-firewall.sh` yet the popup keeps appearing while running the tests.

Output of `macosx-firewall.sh`:

[code]

Based on the output, it looks like it's not able to find `$NODE_DEBUG` and `$CCTEST_DEBUG`. Maybe something changed?

* **Version**: v8.0.0-pre
* **Platform**: macOS
* **Subsystem**: tools

[2017-05-15 00:50] Trott commented on #13029
/cc @danbev

[2017-05-15 00:55] zimbabao opened #13031 "napi test throws error"
* **Version**:  v8.0.0-pre ( hash 9516aa19c16cbfda6917c4fb8d6aecf2da8a16aa)
* **Platform**: MacOSX
* **Subsystem**: napi

make test

Throws following error on mac.

[code]

[2017-05-15 01:32] akdor1154 commented on #11771
is two months of no activity enough to warrant pinging this?

[2017-05-15 02:05] indutny commented on #11771
Absolutely good idea to ping us. Thank you :wink:

[2017-05-15 02:47] refack commented on #12900
Since it was a timeout issue that happens only occasionally, it might be hard to reproduce empirically...

[2017-05-15 03:03] zimbabao commented on #13031
Likely old napi build folder ./test/addons-napi/test_array/build/ is not cleaned or updated even after code is changed.

[2017-05-15 03:07] daurnimator commented on #12819
great. is there milestone or related issue/PR for that?

[2017-05-15 03:13] Trott commented on #13031
My knowledge in this area is limited but: There's a `test-addons-clean` task in the `Makefile` that I think is for when things get in a stale state. But it doesn't clean `addons-napi` nor is there a separate task that does that.

[2017-05-15 03:44] danbev commented on #13029
@aashil Could you list the commands you ran before running the script and I'll try to reproduce this?
For example, I would locally run something like:
[code]

[2017-05-15 03:47] Trott commented on #12900
I can replicate the issue reasonably reliably by doing the following:

* copy the test into `test/parallel`
* run with `tools/test.py --mode=release --repeat=64 -j 16 test/parallel/test-fs-watch.js`

When I run it that way, it runs successfully a lot but also times out a lot.

I have not investigated further at this time, but this all suggests that the test is flaky when the system is under load a

[2017-05-15 04:16] aashil commented on #13029
Ok - I am not able to reproduce this bug anymore. Maybe I was running the script before actually building node.

[2017-05-15 04:52] joyeecheung commented on #13031
@Trott `test-addons-clean` is added before napi lands so now it needs an update...I'll open a PR for that.

Meanwhile, does adding rules like `test-addons-clean` to `make clean` sound like a good idea? There is also `test-gc-clean` which cleans up artifacts generated by `test-gc` (not run if you just `make clean`, has to be triggered separately)

[2017-05-15 05:01] zimbabao commented on #13031
make clean should clean should clean all or atleast should have target like reallyclean .

[2017-05-15 05:12] danbev commented on #13029
@aashil Glad to hear it works for you now. If you run into any issue feel free to reopen or create another issue. I'll close this one for now.

[2017-05-15 05:12] #13029 closed

[2017-05-15 05:57] bswscube opened #13036 "Want to run nodejs on dedicated server"
Hello there,

I want to run nodejs on dedicated server. Can you please guide me for that.

[2017-05-15 06:04] Trott commented on #13036
This issue tracker is for bugs and issues found within Node.js core.
If you require more general support please file an issue on our help
repo. https://github.com/nodejs/help

[2017-05-15 06:04] #13036 closed

[2017-05-15 08:40] 92hackers opened #13037 "Throw errors when i use async/await in Node v7.9.0"
* **Version**:  v7.9.0
* **Platform**: Darwin chenyuans-MacBook-Pro.local 15.4.0 Darwin Kernel Version 15.4.0: Fri Feb 26 22:08:05 PST 2016; root:xnu-3248.40.184~3/RELEASE_X86_64 x86_64
* **Subsystem**:

From node.green,  and my own experiment, node v7.9.0 native support async/await.

but when i use async in my code, it throw errors:
errors throwed when i write an controller in Sails.js app.

belo

[2017-05-15 09:03] targos commented on #13037
The error from the esprima dependency (used by istanbul). Try to install `istanbul@next` and it should be able to parse your code.

[2017-05-15 09:42] #13037 closed

[2017-05-15 09:50] bnoordhuis commented on #13022
The parallel/test-intl failure is probably related.  As to breakage: it's an untested combination; bugs are possible.

I think we'd be open to floating a patch to fix the build error, open a pull request if you want to purse that.  I'll go ahead and close this out.

[2017-05-15 09:50] #13022 closed

[2017-05-15 09:59] gibfahn commented on #13029
@danbev so this has to be run every time you rebuild node?

[2017-05-15 10:20] ShashankaNataraj opened #13038 "NodeJS inspect docs broken?"
https://nodejs.org/api/debugger.html#debugger_v8_inspector_integration_for_node_js

says I can do

`node --inspect index.js`

But when I do this on my iTerm terminal, I get:

`node: bad option: --inspect`

Are the docs broken or am I doing something wrong?

[2017-05-15 10:23] gibfahn commented on #13038
What version of node are you using?

[2017-05-15 10:26] gibfahn commented on #13038
Note that you're looking at the docs for `v7.10.0`:

![image](https://cloud.githubusercontent.com/assets/15943089/26053588/4f7152d2-3961-11e7-9bab-5506a2016e0f.png)

The [`latest-v4.x` docs](https://nodejs.org/dist/latest-v4.x/docs/api/debugger.html) don't show the `--inspect` option.

[2017-05-15 10:28] danbev commented on #13029
@gibfahn No, that is not required. I do have to rerun the script after a reboot though.

[2017-05-15 12:13] #12691 closed

[2017-05-15 12:39] evanlucas commented on #11936
That is strange, codesigning is part of the build step in the Makefile, so it isn't something I'm manually doing. It is done by the release machines.

[2017-05-15 13:34] gibfahn commented on #13038
I think this is answered, so closing. If you have any further questions reply here, if there is a problem we can reopen.

[2017-05-15 13:34] #13038 closed

[2017-05-15 13:39] ShashankaNataraj commented on #13038
`node --version
v4.8.3`

[2017-05-15 13:41] cjihrig commented on #13038
As @gibfahn mentioned, the inspector is not available in Node 4.

[2017-05-15 14:06] aashil commented on #12900
I was able to replicate the issue after suggestions from @aqrln and @Trott I will look into this in more detail.

[2017-05-15 15:01] ShashankaNataraj commented on #13038
Got it 👍

[2017-05-15 16:18] simonkcleung commented on #13023
Welcome for the changes. But I would like to explain **consistency** more.
In doc:

There is no consistency in the first place. `Buffer.from("abc").indexOf("")` = -1, is more consistent with the Uint8Array API.

However, existing `Buffer#indexOf` implements the `String#indexOf` more likely. Especially when `Buffer.from("abc").indexOf("bc")` = 1. Then, `Buffer.from("abc").indexOf("")` should be `0`

[2017-05-15 16:42] refack commented on #12950
@Trott IMHO it's not just the perf cost; it's the implicit assumption that testing in parallel is more vigorous, hence more rigorous. which is kinda true. A good mechanism could be to add a fourth flag to `parallel.status`: `TRY_SEQ`, to flag the harness that for a particular test is it fail in parallel, decision should be relegated until the test is run alone.
[that was me being grandiloquent]

[2017-05-15 17:08] justinmchase commented on #2021
If you are creating an executable that links to node as a static library then you can use the `win_load_delay_hook` trick to build a node binary module that will bind to either node.exe, node.dll or myexecutable.exe at runtime. This will allow you to unit test your module in mocha or whatever through node as well as run in your actual app without requiring recompilation. The same binary will run i

[2017-05-15 18:01] ArchangeGabriel commented on #13022
Should I open PR against -staging branches or just v4.x/v6.x ones?

[2017-05-15 18:02] #3655 closed

[2017-05-15 18:04] bnoordhuis commented on #13022
The -staging ones.  The -staging branches contain what is to be released, the non-staging ones what has been released.

[2017-05-15 18:06] ArchangeGabriel commented on #13022
OK, thanks.

[2017-05-15 18:17] addaleax commented on #12716
I think this has been fixed in b23d414c7ec0674ba3cbb36427e4c29dbd396338 – can you confirm that?

[2017-05-15 18:26] ArchangeGabriel commented on #13022
I’ve opened https://github.com/nodejs/node/pull/13040. I’ll open one for v6.x once I’ll have fixed this one enough for it to be accepted.

[2017-05-15 19:16] MylesBorins commented on #13001
@jasnell that isn't exactly accurate.

All current releases take any commit that isn't semver major on a weekly basis. LTS requires them to bake before landing. That by itself is a fairly major difference in stability.

I think that it is reasonable that we have the default of two releases before removing things... I also think the language we have is very confusing.

I don't think this `has` to h

[2017-05-15 21:41] refack opened #13043 "bootstrap: bootstrap should fail if ICU is misconfigured"
* **Version**: *
* **Platform**: *
* **Subsystem**: url,intl

Currently weird things happen if ICU is mis-configured

[code]

Ref: https://github.com/nodejs/node-gyp/issues/1199

[2017-05-15 21:54] joshgav commented on #12630
@refack

This is my understanding as well, and #12949 accomplishes that (and more).

@jkrems

I agree, and in fact I think this might be @ChALkeR's primary concern.

Based on this, #12949 should *not* add back `--debug` at all.

On the other hand, it could be helpful to our users to print a friendly message when `--debug` is specified in 8.x. I don't think that should be part of #12949 but would b

[2017-05-15 22:43] refack commented on #12951
This test is OK, it's another test (#12950) that leaks a connection into this

[2017-05-15 22:43] #12951 closed

[2017-05-15 22:50] sam-github commented on #13001
Fwiw, what I see with the enterprise customers I talk to is they tend to take periodic large changes over continuous small. So, they will never run non-LTS, and probably only use every-other LTS (we've a number updating from 0.10 to 4.x, and others on 4.x expecting to go to 8.x - or even 9 if they can get away with it). They expect majors to involve incompatible change, they often expect the major

[2017-05-16 00:26] saper commented on #3655
:100: :tada:

[2017-05-16 02:16] mscdex opened #13045 "test-npm failing on master after introduction of initial async hooks implementation"
* **Version**: master
* **Platform**: n/a
* **Subsystem**: async_hooks

`make test-npm` is failing since https://github.com/nodejs/node/pull/12892 (https://github.com/nodejs/node/commit/4a7233c1788334c171d2280026333242df7d37af) landed it seems. In particular, it appears that it's possible for a socket handle to not have an `asyncReset` function attached (perhaps something in npm or one of its depe

[2017-05-16 02:31] refack commented on #13045
I'll try to distill this into a test case.

[2017-05-16 03:04] #12950 closed

[2017-05-16 03:09] aashil commented on #12900
@Trott @refack @aqrln Shouldn't the behavior of the test be the same when running via `tools/test.py` and running via a script which runs `./node test/sequential/test-fs-watch.js` given number of times? With the latter approach I have `console.log` statements set up at different points  which would help me identify which command in the test times out but, the tests never time out, which makes me t

[2017-05-16 03:10] aashil commented on #13029
@danbev Ah, I think reboot is the culprit here. Thanks.

[2017-05-16 03:28] Trott commented on #12900
@aashil No. `tools/test.py --mode=release --repeat=64 -j 16 test/parallel/test-fs-watch.js` will run those tests in parallel.  `./node test/sequential/test-fs-watch.js` a given number of times will run them sequentially.

[2017-05-16 03:34] aqrln commented on #12900
@aashil besides that, right, it is `tools/test.py` watching that a test does not exceed the maximal timeframe. However, you can see if it would fail because of that even without the test harness, because if a test fails with timeout, it usually means that it has hung.

[2017-05-16 03:57] mscdex commented on #13045
I think [this line](https://github.com/nodejs/node/blob/4a7233c1788334c171d2280026333242df7d37af/lib/_http_client.js#L593) could also have a similar issue when `.asyncReset === undefined`.

[2017-05-16 05:41] MylesBorins commented on #12900
looks like we might have an AIX failure for this on v6.x

https://ci.nodejs.org/job/node-test-commit-aix/5888/nodes=aix61-ppc64/console

[2017-05-16 07:12] gireeshpunathil commented on #12921
@bnoordhuis - thanks.
Thinking further, I guess the scope of the above patch should expand to all the sync methods which receive arbitrary fds from the user land, and deal with KBs of data. Example: fs.writeSync and fs.readSync, non-example - fs.fchownSync

I will work on a PR

[2017-05-16 07:27] bnoordhuis commented on #12921
@gireeshpunathil What exactly are you proposing?  I don't think anything needs to change.

[2017-05-16 07:31] gireeshpunathil commented on #12921
the check mentioned in [this comment](https://github.com/nodejs/node/issues/12921#issuecomment-301320459) to be applied on readSync and writeSync - to make sure that non-blocking fds do not propagate into Sync calls - as they cannot handle them reliably and completely.

[2017-05-16 07:35] gireeshpunathil commented on #12921
If we don't do that, the API description for [fs.writeSync](https://nodejs.org/dist/latest-v7.x/docs/api/fs.html#fs_fs_writesync_fd_string_position_encoding) will not match with the actuals - nor the doc does not explain any limitation to that effect.

[2017-05-16 07:38] bnoordhuis commented on #12921
It does exactly what it says.  If your assumption is that `fs.writeSync()` always writes the exact number of bytes requested, that's wrong.  Partial writes can and do happen, even with file descriptors in blocking mode; that's why the function returns the number of bytes written.

[2017-05-16 08:05] gireeshpunathil commented on #12921
@bnoordhuis - ok, thanks for the clarification - I did not think in that way. However, I have this doubt - the reason for returning fewer bytes than requested on a blocking write I guess is due to extraneous reasons outside of the I/O buffer limitations? otherwise if both blocking and non-blocking descriptor return in the same way on buffer exhaustion, what is the difference between them? I cannot

[2017-05-16 08:55] MikeRalphson opened #13048 "Major performance regression from 6.10.2 to 7.x and 8.0.0-test"
* **Version**: 7.0.0 (first version with regressed performance)
* **Platform**: Windows 10.0.14393 32-bit
* **Subsystem**: unknown

I'm seeing a major performance regression from Node 6.x (e.g. 6.10.2) to all versions of Node 7.x and v8.0.0-test20170511830c4bf319.

The application is the test-suite of [swagger2openapi](https://github.com/mermade/swagger2openapi) which converts a JS object from one

[2017-05-16 09:30] #12979 closed

[2017-05-16 09:49] FocusCare opened #13049 "Has a problem with child_process.exec."
* **6.10**:
* **OSX**:
* **10.11.3**:

Run child_process.exec to call webpack2 building, and webpack write log to stderr, then child_process.exec get a callback error, but the error object has no code field.
It is a problem of nodejs?

[2017-05-16 10:01] gibfahn commented on #13049
Could you provide a test-case we can use to reproduce/check? Ideally one with no external modules.

[2017-05-16 10:27] bnoordhuis commented on #12921
Yes.  For example, a write to an almost-full disk.

(Disclaimer: some file systems will reject the request with a ENOSPC error instead of doing a partial write.  A robust program should handle both scenarios.)

[2017-05-16 11:17] gibfahn commented on #13043
cc/ @srl295

[2017-05-16 11:38] karlpokus opened #13051 "Arguments list for the http upgrade event does not match example"
in the docs for [the upgrade event](https://nodejs.org/api/http.html#http_event_upgrade) the argument list is
[code]
but the example uses
[code]
I feel one of them must be wrong.

[2017-05-16 12:03] mcollina commented on #12553
Fixed in https://github.com/nodejs/node/pull/12593.

[2017-05-16 12:03] #12553 closed

[2017-05-16 12:17] lpinca commented on #13051
Yes, the first argument should be `request` not `response`. The example is correct.
Would you mind opening a PR to fix the issue?

[2017-05-16 12:19] gireeshpunathil commented on #12921
@bnoordhuis - thanks, understood. I don't have more comments, and am fine with your assertions.

[2017-05-16 12:19] lpinca commented on #13051
Oh nvm, this is the client `'upgrade'` event. The doc is correct.

[2017-05-16 12:32] karlpokus commented on #13051
@lpinca

You're right. Tricky business keeping track of who's whom.

[2017-05-16 13:06] refack opened #13052 "tracking issue: full VS2017 support"
* **Version**: *
* **Platform**: Windows
* **Subsystem**: *

### Tracking issue
#### Goal: get `node` compiling with VS2017 and passing all tests
- [x] bump `GYP` (#12632)
- [x] adjust build scripts (#11852)
- [ ] create CI target (nodejs/build#708)
- [ ] pass all tests

[2017-05-16 13:08] refack commented on #13052
/cc @nodejs/lts is it a goal for porting? (re: https://github.com/nodejs/node/pull/12450#issuecomment-301764957)

[2017-05-16 13:12] bnoordhuis commented on #12921
Okay, good.  I'll remove the confirmed-bug label and close the issue.

[2017-05-16 13:12] #12921 closed

[2017-05-16 13:42] joaocgreis commented on #13052
I'm going to move forward with that.

I ran the tests with master when we started adding support and everything passed. Didn't try recently though. Re https://github.com/nodejs/node/pull/12450#issuecomment-301776280, can you paste the errors you get here?

[2017-05-16 13:50] bnoordhuis commented on #13043
#13053

[2017-05-16 14:50] azjkjensen commented on #8080
@cjihrig are you suggesting that I just add a check for if `result == 0` or do I need to add the random port logic as well?

[2017-05-16 14:55] cjihrig commented on #8080
@azjkjensen I was suggesting allowing `result == 0`.

[2017-05-16 15:34] Trott opened #13055 "Investigate flaky sequential/test-net-connect-local-error on FreeBSD"
* **Version**: v8.0.0-pre
* **Platform**: freebsd
* **Subsystem**: test

https://ci.nodejs.org/job/node-test-commit-freebsd/9081/nodes=freebsd10-64/consoleFull

[code]

The test was recently updated to check for `ECONNREFUSED`. However, we are seeing `EADDRINUSE` sometimes on FreeBSD in CI as seen above.

Possible bug in the FreeBSD operating system or quirk (relative to our other hosts) in the wa

[2017-05-16 15:34] Trott commented on #13055
@nodejs/platform-freebsd

[2017-05-16 15:51] Trott commented on #13055
Oh, meant to link to the recent changes: https://github.com/nodejs/node/commit/0c2edd27e693ef5bb914a25c3257511fe2bb99f6

[2017-05-16 15:58] sebastianplesciuc commented on #13055
I can make another PR to remove that assert if need be or fix it any other way. Please let me know.

[2017-05-16 16:00] Trott commented on #13055
Possibly maybe kinda sorta related? https://github.com/nodejs/node-v0.x-archive/issues/3796

[2017-05-16 16:17] joaocgreis commented on #13021
@nguyendangkhoa1998 this is most likely a problem with the Temp folder in your computer, not the Node.js installer. Can you try cleaning your Temp folder (`%LocalAppData%\Temp`)? If that does not work, try all the steps in https://github.com/nodejs/node/issues/8663#issuecomment-283794824 .

[2017-05-16 16:20] refack commented on #13055
I run two "single-test" CI before https://github.com/nodejs/node/pull/12964#issuecomment-301117341 so high probability is that this is test cross-talk. Well `sequential` !== `sterile`.
FWIW [For Windows](https://blogs.technet.microsoft.com/networking/2010/08/11/how-tcp-time-wait-assassination-works/) (and acording to [rfc793](http://www.faqs.org/rfcs/rfc793.html)) a closed socket will enter TIME_W

[2017-05-16 16:23] Trott commented on #13055
@refack For this particular test, I wonder if the collision might be made less likely if we swap `PORT` and `PORT + 1`? `EADDRINUSE` must mean it's the `localPort`, right? In which case `PORT + 1` is somewhat less likely to linger over from another test in the way you describe because it is used much less often than just `PORT`.

Not necessarily the greatest solution, but if it works, an easy one

[2017-05-16 16:49] Fishrock123 commented on #13045
Hmmm, this is not new.

I debugged this 2-3 times with @trevnorris over the course of Async Hooks' development. I was pretty sure it was fixed, though.

[2017-05-16 17:15] oo000oo opened #13057 "Number(decimal).toString(36) bug"
Debian 8, Node v7.8.0
_cl = console.log;
g = global;_

[code]

//################ output f_dec2base36() for **987654**:
f_dec2base36(987654):  **l62u**
f_base36toDec(162u):  54534

//################ output f_dec2base36() for **54534**:
f_dec2base36(54534):  **162u**
f_base36toDec(162u):  54534

[2017-05-16 17:25] oo000oo commented on #13057
ops, it`s lower l and 1 in the fn results!

[2017-05-16 17:25] #13057 closed

[2017-05-16 17:59] gibfahn commented on #10242
It sounds like this issue can be closed (reopen if you disagree).

[2017-05-16 17:59] #10242 closed

[2017-05-16 18:17] refack commented on #13055
@Trott I'm go one step further and use `PORT + 1` and `PORT + 2` (which is just super simple slating), and document the reasoning.

@sebastianplesciuc you wanna do the honors?

[2017-05-16 18:32] anko commented on #947
@addaleax I see. Thank you! :sparkles:

[2017-05-16 18:52] lpinca commented on #13051
@karlpokus I'll go ahead and close this then.

[2017-05-16 18:52] #13051 closed

[2017-05-16 19:12] rainabba commented on #9185
@eugeneo Ironic. Because of this issue, I tried to use NIM (auto-reconnects despite the UID change), but that's a "hosted instance of devtools" and has issues. Without the UID issue, I'd be using the built-in node support off of Chrome 60 (which is working great except that I have to copy/paste the damn UID every single time the app restarts which completely screws with my debugging technique.

He

[2017-05-16 19:19] eugeneo commented on #9185
@rainabba that was me on the Chromium bugtracker...

Inspector support in the Node 6.x was experimental and was known to have some issues, one of them was the old protocol that is not supported by the new DevTools. That means that fixing the profiler issue would require shipping a new version of the old DevTools and there is no infrastructure for that. Newer Node versions use "latest" devtools so

[2017-05-16 19:32] Trott opened #13061 "Run the `internet` tests on CI from time to time?"
Ideas for making this happen:

* Run them when cutting a release? @nodejs/release
* Run them once a day on CI, perhaps as part of the node-daily-master job? @nodejs/build

That's all I have so far.

/cc @nodejs/testing

[2017-05-16 19:35] Trott commented on #13055
I worry that it might become an justification for doing `PORT + 50` in some test and `PORT + 45` in another. Maybe we can stick with `PORT` and `PORT + 1` here and go to your proposal if we see continued problems?

[2017-05-16 19:41] refack commented on #13055
NP

[2017-05-16 20:09] sebastianplesciuc commented on #13055
@refack on it! Thanks

[2017-05-16 20:11] azjkjensen commented on #8080
@cjihrig it looks like that change works, I just need to write a test for it and then I'll make a PR. Is a single test usually sufficient for a change like this? This is my first time contributing so such a large project.

[2017-05-16 20:38] rainabba commented on #9185
@eugeneo Wow. Makes sense, but makes "ironic" feel like ironic^∞

Put that way, it sounds like my expectations are too high since that feature was too new for 6.x.

I'm looking at this as "my node.js debugger", but now that I think about it, I realize that this may be more the devtools team doing than the node.js team and doesn't exist without both and 6.x just doesn't have the debugger I want.

I

[2017-05-16 21:13] lfernando-silva commented on #4560
I also got the same problem in Node 6.5.0 LTS at linux server. In my case, I have a list of sockets (Object), mapped by some key. So, when I'm destroying it (just socket.destroy() ), I've done

socketList['index'].destroy()
delete socketList['index']

I also tried

let socket = socketList['index']
socket.destroy()
delete socketList['index']

I realized that number of ESTABLISHED connections (using

[2017-05-16 21:24] refack commented on #13052
I guess there's something wonky with symlinks on my machine.

<details>
<summary>parallel\test-module-circular-symlinks</summary>
<pre>
Path: parallel/test-module-circular-symlinks
assert.js:92
  throw new AssertionError({
  ^

AssertionError [ERR_ASSERTION]: false == true
    at Object.<anonymous> (d:\code\node-cur\test\parallel\test-module-circular-symlinks.js:68:8)
    at Module._compile (modul

[2017-05-16 22:38] ConAntonakos commented on #10117
https://v8project.blogspot.com/2017/05/launching-ignition-and-turbofan.html

[2017-05-16 22:44] refack commented on #8080
Use your judgment, if you can think of more than one relevant situation write more than one test...
Good place to look is at test that already check `--inspect` or `--inspect-brk` `like test/parallel/test-debug-brk.js`

[2017-05-16 22:45] refack commented on #8080
P.S. if #13002 lands, you should add a line there too.

[2017-05-17 01:23] mhdawson opened #13070 "AIX: fs-watch backport issues"
Seems that there are some problems with the backport for PRs related to improved support for fs-watch on AIX.

* **Version**: v6.x
* **Platform**: AIX
* **Subsystem**: fs

The following tests are failing:

https://ci.nodejs.org/job/node-test-commit-aix/5898/nodes=aix61-ppc64/console

Myles tried landing the PRs what should address these issues but it did not resolve.  @gireeshpunathil  since you w

[2017-05-17 01:31] FocusCare commented on #13049
[code]

webpack version : webpack@2.2.1

My application's requirement is call command to build project, and then push build result to gitlab.

[2017-05-17 02:11] gireeshpunathil commented on #13070
sure, will do

[2017-05-17 03:00] XadillaX commented on #1071
Hey @silverwind, does #13050 fix this?

[2017-05-17 04:49] gireeshpunathil commented on #13070
@mscdex - I don't think this is a test issue - rather, may have to do with the complexities w.r.t AHAFS file system in AIX.

[2017-05-17 05:24] Qantas94Heavy opened #13071 "parallel/test-process-setuid-setgid fails if "nobody" user does not exist"
* **Version**: 7.10.0
* **Platform**: Linux
* **Subsystem**: test

Some isolated build or test VMs don't have a "nobody" user, causing the parallel/test-process-setuid-setgid test to fail.

[2017-05-17 07:16] chovy commented on #1941
Is this still an issue? I just got this error.

ENFILE

using `fs` -- is the solution to still use `graceful-fs`? or does core support anything for handling it.

[2017-05-17 07:25] eladnava commented on #4560
@lfernando-silva call the following on the socket as soon as it's opened:

[code]

This will work around the ESTABLISHED zombie sockets bug.

[2017-05-17 07:29] Fov6363 opened #13075 "/usr/bin/node[14405]: ../src/node_http_parser.cc:398:static void node::Parser::Execute(const v8::FunctionCallbackInfo<v8::Value>&): Assertion `(parser->current_buffer_len_) == (0)' failed."
My project use pm2 manager,pm2 error log find error:
[code]

Who can tell you what the mistake

[2017-05-17 07:31] joyeecheung commented on #13023
Hmm, since [the spec](https://tc39.github.io/ecma262/#sec-%typedarray%.prototype.indexof) already defined `TypedArray.prototype.indexOf()` as:

%TypedArray%.prototype.indexOf is a distinct function that implements the same algorithm as  Array.prototype.indexOf as defined in 22.1.3.12 except that the this object's [[ArrayLength]] internal slot is accessed in place of performing a [[Get]] of "length

[2017-05-17 08:09] bnoordhuis commented on #13075
Please fill out the issue template, we ask it for a reason:

Version: output of `node -v`
Platform: output of `uname -a` (UNIX), or version and 32 or 64-bit (Windows)

Any way for us to reproduce?

[2017-05-17 08:20] kanongil commented on #12339
@jasnell @bnoordhuis Why was nodejs/node-v0.x-archive#7151 abandoned? It still fails on v7.

[2017-05-17 08:41] bnoordhuis commented on #13049
Works for me as long as the child process exits with a non-zero status code.  Whether the child process writes to stderr is orthogonal to that.  Closing, not a bug.

[2017-05-17 08:41] #13049 closed

[2017-05-17 08:44] Fov6363 commented on #13075
@bnoordhuis thanks remind.
[code]

[2017-05-17 08:50] bnoordhuis commented on #13075
Can you try the latest v7.x release, v7.10.0?  If it still fails for you, how can we reproduce?  Without precise steps to reproduce there isn't much we can do.

[2017-05-17 09:14] Fov6363 commented on #13075
@bnoordhuis thanks,i will try to v7.10.0,if not success,i will provide a test project can reproduction error and open this issue.

[2017-05-17 09:14] #13075 closed

[2017-05-17 09:31] trevnorris commented on #13045
I've run into this elsewhere. Thought I traced through core code well enough to be confident those checks could be removed, but apparently that's not the case. Only way I've found that can definitely mitigate this issue is to check if the call is actually a function. If someone has a better idea I'm all ears. Otherwise I can write up a PR to fix this.

[2017-05-17 10:00] gireeshpunathil commented on #13070
Tracing the merge activities by looking through  https://ci.nodejs.org/job/node-test-commit-aix/5898/nodes=aix61-ppc64/consoleFull I am not sure I follow all the steps.

I applied

[657c1bf](https://github.com/libuv/libuv/pull/1156/commits/657c1bfd72f100e71116db65ca0a8c222ada4056) of libuv (changes required to work fs watch)
and
be43a1e49e68eafb6d875380f65f6ef00ae5fbda of node (changes required to

[2017-05-17 10:26] TheRoSS commented on #12724
I found solution
To fix the problem one must explicitly set piping mode in master code:

[code]

I think the reason for such differences in the behaviour of the same code on different versions of ubuntu is in the linux kernel file handle buffer implementations.

[2017-05-17 10:26] #12724 closed

[2017-05-17 10:28] albert-olive opened #13077 "events.js:163 throw er; // Unhandled 'error' event"
* **Version**: v7.10.0
* **Platform**: 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3 16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64

Hi,

In our `package.json` we have added to the script test the [--runInBand flag][1] in order to [speed up][2] travis tests. We're 5 people in our team and all of them have no problems but I'm having this error every time I run the script. This is w

[2017-05-17 10:33] evanlucas commented on #13077
Does this only happen on v7.10.0?

[2017-05-17 10:39] albert-olive commented on #13077
Yes, I'm only at v7.10.0. The others are at v6.10.3, v7.5.0, v7.2.0 and v7.5.0

[2017-05-17 10:43] evanlucas commented on #13077
Thanks! We are aware of this issue and a fix is being worked on. Closing as this is a duplicate of https://github.com/nodejs/node/issues/12841. Be on the lookout for the next v7.x release (which will probably be next week). Thanks!

[2017-05-17 10:43] #13077 closed

[2017-05-17 11:43] AndreasMadsen commented on #13045
@trevnorris what causes the issue?

[2017-05-17 11:49] gibfahn commented on #13070
Is this a duplicate of https://github.com/nodejs/LTS/issues/218? If so that's been closed.

[2017-05-17 11:55] gibfahn commented on #13070
@gireeshpunathil the branch used was [v6.11.0-proposal](https://github.com/nodejs/node/tree/v6.11.0-proposal).

[2017-05-17 11:57] rajkuttie opened #13079 "Is it any possible for Video compression using by nodejs?"
I want to upload videos using angularjs and nodejs. If i have 1 gb videos that video will be compress like 500MB. Is it Possible ?

[2017-05-17 12:04] gibfahn commented on #13070
Looks like @gireeshpunathil 's commit to fix fs watch on AIX landed in libuv 1.11.0, which hasn't yet been backported to v6.x (see https://github.com/nodejs/node/pull/11094)

[2017-05-17 12:13] addaleax commented on #13023
@joyeecheung That’s what `Uint8Array.prototype.indexOf` does, but as mentioned above we already deviate very strongly from that – we accept sequences instead of individual values as input, and there’s no way of mapping that to `Uint8Array.prototype.indexOf`’s type signature.

[2017-05-17 12:26] bnoordhuis commented on #13079
Questions should go to https://github.com/nodejs/help/issues.

[2017-05-17 12:26] #13079 closed

[2017-05-17 12:27] sam-github commented on #1941
@chovy  Use graceful-fs.

[2017-05-17 13:08] mhdawson commented on #13070
Ok, so sounds like we should just wait to backport the changes to the fs-watch tests for AIX until we pull in libuv 1.11.0

[2017-05-17 13:08] mhdawson commented on #13070
FYI @MylesBorins

[2017-05-17 13:16] lfernando-silva commented on #4560
Thank you @eladnava , I'll do this. How do you reproduce this bug at development? How?

[2017-05-17 13:17] mhdawson commented on #12646
I'd like to add

@gireeshpunathil

Pull requests: https://github.com/nodejs/node/pulls/gireeshpunathil
Issues commented on: https://github.com/issues?utf8=✓&q=repo%3Anodejs%2Fnode+is%3Aissue+commenter%3Agireeshpunathil

[2017-05-17 13:18] mhdawson commented on #12646
And +1 to all 4 nominations from me.

[2017-05-17 13:21] gibfahn commented on #12646
+1 (to all 4)

[2017-05-17 14:04] AndreasMadsen commented on #12997
Let's wait and see what https://github.com/nodejs/node/pull/12854 does.

[2017-05-17 15:24] mscdex commented on #445
I'm still -1 on adding a bunch of new properties directly to streams. I would still rather see having a non-prefixed property (e.g. `.readableState`) and add to that instead as I am very concerned about naming clashes with userland. I know I have run into 3rd-party stream modules before that have methods like `readBuffer()`, `writeBuffer()`, `readLength()`, `writeLength()`, etc. and this would bre

[2017-05-17 15:36] lpinca opened #13082 "zlib assertion error"
* **Version**: 6.10.2
* **Platform**: Linux
* **Subsystem**: zlib

Node.js crashes while running the [Autobahn Testsuite](https://github.com/crossbario/autobahn-testsuite) against [ws](https://github.com/websockets/ws).

[code]

The issue is not reproducible with Node.js 6.10.1 (zlib 1.2.8). In Node.js 6.10.2, zlib has been upgraded to version 1.2.11.

Here is a back trace:

[code]

The test that

[2017-05-17 15:40] mhdawson commented on #13001
I'm in agreement with @MylesBorins in that we (as in IBM) only recommend use of LTS releases in production which means people who follow that advice may not see the deprecation warnings.  I also see @sam-github's point that even if it was 2 LTS releases that might not help all customers and that as a major release you still need to plan on testing/validation due to breaking changes (which may or m

[2017-05-17 15:47] mcollina commented on #445
@mscdex One of the current weak spots performance-wise of streams is the creation of `_readableState` and `_writableState`. Those are slow. I do not think it is feasible to allocate another full object for this. Also, we do not have a benchmark for stream creation.

[2017-05-17 16:07] sam-github commented on #13001
When we deprecate, its because we want something gone, so we do want to float deprecations for as short a time as  is reasonable. I'm not sure exactly where the balance is, but until now, I hadn't heard any complaints about the  two majors. I think we already do it at a pretty measured pace, particularly considering semver would suggest every major can be breaking, and doesn't require deprecation

[2017-05-17 16:57] omoifodarling commented on #11542
I solved this and hope it worked for you too. The version for mine was 7.10.0. In it you have to add the node path e.g. "..\Program File\nodejs\node.exe" as their is no "..\Program File\nodejs\bin" sub-directory as I looked into it. Now you will do it to both SYS PATH and your superuser path. Either of them should work though but your admin's PATH should be tried first.

[2017-05-17 18:03] sam-github commented on #12646
+1 to all of them

[2017-05-17 18:06] evanlucas commented on #12646
+1 to all 4

[2017-05-17 18:16] cjihrig commented on #4074
No follow up. Closing.

[2017-05-17 18:16] #4074 closed

[2017-05-17 18:44] dlueth commented on #12805
Same Problem here on EBS t2.micro as well as t2.medium instances. "max_old_space_size" and the likes had no influence and disabling transparent huge pages did not help either.

I stripped down the app to do exactly nothing but still, RSS constantly grows while Heap stays a flat line.

[2017-05-17 18:53] jasnell commented on #13001
I'd rather make the policy simply: transition to `End-of-Life` can only happen in non-LTS majors (so odd majors only)... with exception given on a case by case basis as needed.

[2017-05-17 19:33] lpinca commented on #13082
Reduced test case:

[code]

[2017-05-17 19:35] sam-github commented on #13082
I can reproduce with above. :-(

[2017-05-17 20:26] Matrix76 opened #13083 "mam i ja"
* **Version**:
* **Platform**:
* **Subsystem**:

[2017-05-17 20:26] #13083 closed

[2017-05-17 21:13] eladnava commented on #4560
@lfernando-silva I'm pretty sure this only occurs with sockets that are passively disconnected, where the remote party does not acknowledge the `FIN` packet. This is a little harder to emulate in development, it is an issue that only occurred in production for me.

[2017-05-17 21:36] joshgav commented on #12980
@jeisinger

To further clarify, I believe you are suggesting that the `static struct {...} v8_platform` defined in node.cc [here](https://github.com/nodejs/node/blob/d6cd466a25aa9ab5acd075b1b12befc0cb4bf7fe/src/node.cc#L242-L294) be abstracted out as e.g. NodePlatform, with e.g. NodeV8Platform and NodeChakraPlatform being implementations of it also provided by Node. @matthewloring's referenced com

[2017-05-17 22:12] cjihrig commented on #13082
Simple fix is to add `ctx->init_done_ = true;` before [this line](https://github.com/nodejs/node/blob/0dd8b9a96561f9b85783a7e1178d35d49e2340e2/src/node_zlib.cc#L555). I don't think it's a good fix though because an unhelpful `Init error` error is emitted before an error handler can be added.

[2017-05-17 23:01] #11001 closed

[2017-05-17 23:15] gibfahn commented on #13071
Test was re-enabled in https://github.com/nodejs/node/pull/12403, so cc/ @Trott

[2017-05-18 00:50] trevnorris commented on #13045
@AndreasMadsen from what I've seen it usually happens when users fake the `_handle`, but in this case it can also be from a user supplied `Agent` instance that isn't attached to an internal node resource.

[2017-05-18 02:10] gogorush commented on #4560
@lfernando-silva If you are using a mobile with client to connect to your server you can turn off the internet such as switch off mobile data, turn off wifi, switch off router, etc.

[2017-05-18 02:32] ronkorving commented on #12941
So, I'm a bit confused, but did #13002 fix this? Or was it a requirement in order to fix this at all?

[2017-05-18 03:20] refack commented on #13045
I have an almost minimal (depends on `request`) failing test:
[code]

Still `request` uses the `Agent` better then I managed...

[2017-05-18 03:43] refack commented on #13045
@trevnorris question: in 7e3a3c962f09233c53cee7ebe381341d7c8b7162 why did only `tcp_wrap` get a `asyncReset` JS function?

P.S. @mscdex those cases work, `newSocket` is created

[2017-05-18 03:50] mscdex commented on #13045
@refack That's not true. Custom async `createConnection()` implementations can pass an error and [in that case there is no socket](https://github.com/nodejs/node/blob/4a7233c1788334c171d2280026333242df7d37af/lib/_http_agent.js#L228-L229).

[2017-05-18 03:51] refack commented on #13045
Gottcha... 👍

[2017-05-18 04:29] refack commented on #13045
#### minimal failing test
[code]
#### Output
[code]
IMHO since it's a TLS connection, the Agent tries to reuse a `TLSSocket`, and the `TLSWrap` doesn't have an `asyncReset` method

[2017-05-18 04:35] MylesBorins commented on #13070
I've backported libuv 1.11.0 to v6.x and rebased the history of v6.11.0 to apply the test changes in the correct order.

CI is green: https://ci.nodejs.org/job/node-test-pull-request/8138/

[2017-05-18 04:35] #13070 closed

[2017-05-18 04:38] gireeshpunathil commented on #13070
@MylesBorins - thanks!

[2017-05-18 05:01] dlueth commented on #12805
In addition to my previous post: checked this behaviour​ on 7.10.0, 7.6.0 and the only working fix was to go back to 6.10.3

[2017-05-18 08:24] terrywh commented on #12805
@dlueth "do exactly nothing" ?

[2017-05-18 08:28] dlueth commented on #12805
@terrywh Sorry for having been a bit unspecific: Nothing left but an idle loop, just to keep the process running

[2017-05-18 09:41] terrywh commented on #12805
@dlueth maybe you can give us some code to reproduce this problem? my problem seems to be caused by the c++ module.

[2017-05-18 09:49] dlueth commented on #12805
@terrywh If I find the time tonight I will try to prepare something

[2017-05-18 09:59] XadillaX commented on #13082
Finally I found this in src/node_zlib.cc

[code]

This bug is because `deflateInit2` returned -2 (`Z_STREAM_ERROR`).

[2017-05-18 10:03] XadillaX commented on #13082
I'll try to fix this bug then.

[2017-05-18 10:04] aqrln commented on #13082
@XadillaX I believe I just did it :)
https://github.com/nodejs/node/pull/13098

[2017-05-18 10:13] lpinca commented on #13082
@XadillaX yes, see frame 11 above:

[code]

[2017-05-18 11:07] pmuens commented on #684
For everyone who stumbles upon this. Here's what I came up with:

[code]

[2017-05-18 13:51] lfernando-silva commented on #4560
@eladnava , really, for me just in production too. The tcp socket state itself is a problem, from connection to realize the disconnection event, sometimes is really hard to know the connection state. I already has this kind of problem using iot tcp-based protocols.
@gogorush no, in my case is a low level embedded system, actually a lot of them. In dev, with two or three, never realized this proble

[2017-05-18 13:54] eladnava commented on #4560
@lfernando-silva you can be sure that a connection is no longer active if the client has not sent a keep-alive within an allotted time period.

This is where `socket.setTimeout` comes in handy. Node.js will emit the 'timeout' event on the socket when the connection has timed out (no activity in X ms).

[2017-05-18 14:05] refack commented on #684
Two other variations:
If your original path is OS appropriate
[code]
If you use node >= v6
[code]

[2017-05-18 14:29] pvinis opened #13099 "strange behaviour of [] in start of the line"
Version: v7.9.0
Platform: Darwin green.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3 16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64

so i have this in a file
[code]

and when doing `node weird.js` i get

[code]

also `https://es6console.com/j2uho344/` this might be helpful.

i saw that `Array(3,4).forEach..` works fine.

is that a bug? is that on purpose like that?

[2017-05-18 14:33] addaleax commented on #13099
It’s part of the language, yes. Your code is parsed as `const a = 2[3,4].forEach(n => console.log(n))`, which fails because `2` has no property `4` and so `2[3,4]` returns `undefined`.

You can fix this by either using semicolons consistently, or add one whenever you start a line with an opening bracket or parenthesis.

[2017-05-18 15:06] lfernando-silva commented on #4560
@eladnava I set the server timeout to 60 and keep it alive for 20ms. It also has a list that maps the sockets that are sending some business rule message with their states. At some point, when I need to disconnect some device, I remove its socket from the list and call socket.destroy () to this socket.

I was hoping the socket would actually be closed and the device could reconnect at some other t

[2017-05-18 15:06] sam-github commented on #12941
No, #13002 did not fix it, or try to. Its an open bug, waiting for a taker.

[2017-05-18 16:10] bzoz commented on #12737
Sorry, I can't reproduce this. I've tried different machines, a fresh Win10 install, with OneDrive uninstalled, etc. Each time `lstatSync` returned without error.

[2017-05-18 16:27] sam-github opened #13101 "inspector/test-not-blocked-on-idle is failing semi-consistently"
This happens for me on Linux x86_64, various branches, the one below is off of v7.x-staging.

I notice that chrome is automatically noticing inspector ports being open, and opening a tab with chrome-devtools://devtools/bundled/inspector.html?experiments=true&v8only=true&ws=localhost:9229/d4c2ae86-5d0d-45c2-ad9b-22c4b2e4d767 when the test suite runs, could this be an unexpected interaction between

[2017-05-18 16:34] eugeneo commented on #13101
Right. Old Chrome convention is that the "url" field for the target is empty when there's a DevTools connection...

I can't think of a fix right now, other then not to run Chrome with Node discovery...

[2017-05-18 16:58] Trott opened #13102 "process.hrtime() unreliable?"
* **Version**: v8.0.0-pre
* **Platform**: ubuntu1604-32
* **Subsystem**: process

<summary>

From https://ci.nodejs.org/job/node-test-commit-linux/9926/nodes=ubuntu1604-32/consoleText:

</summary>
<details>

[code]

</details>

## Relevant code

### Quick and easy

* `test/benchmark/check_is_http_token.js`: Pretty straightforward, but worth checking for anything funky.
* `lib/_http_common.js`: The

[2017-05-18 17:05] evanlucas commented on #13102
FWIW, I had this test fail for me locally on OS X yesterday...

[2017-05-18 17:08] silverwind commented on #684
Your examples will fail on files named `~file`. I'd suggest you use [untildify](https://github.com/sindresorhus/untildify).

[2017-05-18 17:11] bnoordhuis commented on #13102
That's probably it.  `clock_gettime()` has a precision of _up to_ one nanosecond but in practice it will be much coarser, possibly no more granular than ~1 millisecond, depending on the clock source.

[2017-05-18 17:12] sam-github commented on #13102
Just because the units of measurement is nano-seconds doesn't mean that its precise to anything like that. I think it used to be still limited by the kernel tick, 1 or 10 milliseconds IIRC (I quite likely do not). @Trott are you running Linux in a VM? I recall @bnoordhuis saying that VMs were emulating the RDTSC instruction causing process.hrtime() to be slow and unreliable in VMs, any chance you

[2017-05-18 17:20] sam-github commented on #13101
Maybe the test can either pass or be marked "skipped" if url is empty?

As chrome gets better debug capabilities, I suspect this is going to be more common. I'll close this, people can search for it and understand what is going on.

[2017-05-18 17:20] #13101 closed

[2017-05-18 17:24] XadillaX commented on #8436
why not use c-ares' API?

[2017-05-18 19:27] gibfahn commented on #12900
For posterity this turned out to be unrelated (see https://github.com/nodejs/node/issues/13070)

[2017-05-18 19:29] #12782 closed

[2017-05-18 19:45] mscdex opened #13106 "inspector: allow opt-out of console.* hijacking"
* **Version**: all
* **Platform**: n/a
* **Subsystem**: inspector

It would be nice to be able to opt out of `console.*` "hijacking" by the inspector integration for situations where stdout (and/or stderr) is redirected to a file and the process produces a lot of output. Not only is the output duplicated (once in the file and again in the browser), but it can eat up extra memory if you don't need/

[2017-05-18 19:53] joshgav commented on #12980
On further review, I'm conflating `v8::Platform` and `node::v8_platform` in a distracting way. In truth the latter is fairly complete as is in factoring platform setup into it's own space, and finishing that up should probably be an independent issue which I'll try to work on eventually.

Nevertheless...

If we want a custom derivation of `v8::Platform` in Node as @jeisinger suggested and as [in M

[2017-05-18 20:09] eugeneo commented on #13106
It is up to debugger front-end to enable/disable Console agent...

Now that we almost have inspector module in Node (https://github.com/nodejs/node/pull/12263) we can start expanding the API. E.g. we can introduce "disableConsoleWatcher", "clearConsoleHistory". Any other suggestions?

[2017-05-18 20:12] mscdex commented on #13106
For my request, I was thinking the opt-out option would just avoid calling `installInspectorConsole()` in lib/internal/bootstrap_node.js.

[2017-05-18 20:45] jeisinger commented on #12980
Sorry, I'm indeed quite confused but what you mean @joshgav. I'd propose to first replace the bundling v8::Platform implementation with a custom node version, and then continue with your shared abstraction plan. Does that make sense?

[2017-05-18 20:47] aashil opened #13108 "Documentation for fs.watch needs to say that filename is also available for macOS"
Quoting the documentation for _fs.watch_ from https://nodejs.org/api/fs.html#fs_filename_argument

Filename is also available on macOS - we could update the documentation to reflect this.

[2017-05-18 20:53] joshgav commented on #12980
@jeisinger

It's the proposed order that I'm not sure about. We (Node) have been trying to move away from tight coupling to V8 APIs, and writing our own implementation of v8::Platform seems to move us the other way. If we need our own implementation, wouldn't it be better to define a node::Platform (probably a copy of v8::Platform) first and derive from that?

[2017-05-18 21:05] jeisinger commented on #12980
Hum, it sounds like we're still not talking about the same thing. Let me try to explain a bit more:

v8::Platform is a pure virtual interface, and in order to start v8, you need to create a class that derives from that interface and pass an instance of that class to v8.

if you copy v8::Platform and call it node::Platform (or anything else - copying is the point here), you can no longer use v8.

T

[2017-05-18 21:14] #894 closed

[2017-05-18 21:21] #13023 closed

[2017-05-18 21:40] gibfahn commented on #12771
#12830 landed.

[2017-05-18 21:40] #12771 closed

[2017-05-18 23:07] Trott commented on #13102
@bnoordhuis The first `process.hrtime()` happens in `Benchmark.prototype.start()` and the second one happens in `Benchmark.prototype.end()`. Is it realistic that a function invocation followed by a little bit of code and then another function invocation could all happen in a duration such that `process.hrtime()` reveals no elapsed time? (Not contradicting you; an honest question!)

@sam-github The

[2017-05-18 23:10] Trott commented on #13102
If it's both likely and acceptable that running in a Linux VM can result in a reported elapsed time of 0 in this situation, then at least I think I have a clear solution. We already have an "allow 0 operations" option for these tests in the benchmark `common` module, so I could allow for this situation if that option is in use.

[2017-05-18 23:11] Trott commented on #13102
@evanlucas I don't suppose you recall if it was a timeout or if it threw the error shown here or if t was something else, do you? I tried everything I could think of to get my macOS machine to trip this error and gave up.

[2017-05-18 23:15] evanlucas commented on #13102
Ah no never mind it was a timeout. Sorry for the noise.

[2017-05-19 00:49] richardlau commented on #12646
+1 to all 4 too

[2017-05-19 01:11] jpike88 commented on #11591
This is still a rather annoying change. It would have been nice to just another parameter like --inspect-insecure or something... there's already a hash in the URL to protect against unintended hijacking.

[2017-05-19 03:01] Trott commented on #13071
@Qantas94Heavy Are you running tests as superuser or as some other user? Can you copy/paste the test failure output?

[2017-05-19 03:08] j-funk commented on #2977
@martinheidegger thank you

[2017-05-19 03:12] Trott commented on #13071
Fix (for the non-super user situation only) in https://github.com/nodejs/node/pull/13112. @Qantas94Heavy  If you could test it, that would be great. Thanks.

[2017-05-19 03:17] Trott commented on #12941
My mistake. I've re-added the `help wanted` label. Sorry for any confusion I've caused.

[2017-05-19 04:02] refack commented on #12941
@ronkorving if you take the latest nightly build, and pass `env = {NODE_OPTIONS: '--inspect-port=1337}'` as an argument to `fork` it _might_ work... (I'll need to read the code again to see who will win in this case `argv`, or `NODE_OPTIONS`)

@arturgvieira yes that's pretty much what I meant. It will open up all the other parameters to overriding as well.

[2017-05-19 06:36] ronkorving commented on #12941
^ @stelcheck

My expectation though is that it won't work, because in a child process I think the port is completely ignored.

[2017-05-19 06:48] dlueth commented on #12805
Will take some more time to prepare an example of our problem - will report back!

[2017-05-19 09:11] bnoordhuis commented on #13048
Did you `node8.exe --prof-process isolate-007FD5D8-v8.log`?  If you use a different node binary to process it, you can get bad output like 80% unaccounted ticks.

[2017-05-19 09:23] MikeRalphson commented on #13048
@bnoordhuis Indeed I did:

$ node8.exe --prof-process isolate-007FD5D8-v8.log
Statistical profiling result from isolate-007FD5D8-v8.log, (1008 ticks, 811 unaccounted, 0 excluded).

[2017-05-19 10:00] addaleax commented on #12274
ping @shubheksha … is there anything we can help with? :)

[2017-05-19 10:23] andrewcharnley commented on #2385
There's still a problem with it, if the second argument is not callable then it will always throw "Got unwanted exception.." instead of the actual exception, which contradicts the documentation which clearly states if the second argument is falsy it will throw the original exception. I currently resolve the bug with;

````assert.doesNotThrow(() => somethingThatThrows(), () => null)````

[2017-05-19 11:19] timkendrick commented on #8381
Just chiming in here – as a user behind a corporate proxy with its own internal npm registry it's a nightmare installing any internal npm packages that have dependencies that perform HTTP requests in their postinstall scripts (e.g. `electron`, `phantomjs-prebuilt` etc). Almost invariably, these dependencies haven't taken the steps to inherit the HTTP_PROXY etc env vars, so the install will fail.

[2017-05-19 11:27] matt-coles opened #13114 "DCHECK failure on mips32r2 build"
* **Version**: v7.10.0
* **Platform**: Linux Omega-70F7 4.4.46 #0 Thu Feb 2 23:46:03 2017 mips GNU/Linux
* **Subsystem**: v8?

I have tried to compile node 7.10.0 for mips32r2 and have been running into problems when trying to run it, it seems an assertion is failing:

root@Omega-70F7:~# ./node

[code]

I have attached a coredump and the debug binary used to run this code, and I was able to open t

[2017-05-19 12:06] #11352 closed

[2017-05-19 12:27] bzoz commented on #2887
I guess that https://github.com/nodejs/node/pull/12123 solved this. If it still happens fell free to reopen the issue.

[2017-05-19 12:27] #2887 closed

[2017-05-19 12:45] joyeecheung commented on #13099
The question has been answered so I will go ahead and close this.

[2017-05-19 12:45] #13099 closed

[2017-05-19 13:24] addaleax commented on #13114
Hi again :) I think the problem might be related to how you compile the program… my knowledge of MIPS is pretty minimal, but from looking at the generated code, it seems like:

- The conversions in `static_cast<int64_t>(static_cast<double>(number))` are implemented by calling out to `__floatdidf` and `__fixdfdi` rather than using native processor conversion instructions (if your processor does hav

[2017-05-19 13:48] bnoordhuis commented on #13114
What `--with-mips-fpu-mode` and `--with-mips-float-abi` flags, if any, did you pass to configure?  You probably need to tweak them to match your system.

[2017-05-19 14:00] matt-coles commented on #13114
So I took a look at the disassembly of the application code and `__floatdidf` does use the native floating point operations `CVT.D` and such but I'm fairly sure there is no FPU on my processor so I am relying on kernel emulation which I guess exists as I'm not seeing the core exception or aything.

[code]

@addaleax Does `__floatdidf` look different in the node binary? The only way the arguments s

[2017-05-19 14:06] addaleax commented on #13114
@matt-coles Quoting from the node binary in the tarball you uploaded and linked here:

<details><summary>output in the fold</summary>

[code]
</details>

[2017-05-19 14:07] matt-coles commented on #13114
Huh. That's interesting, I'll recompile and explicitly add `-mhard-float` as a CFLAG to make sure I'm picking up the hard float libc.

[2017-05-19 15:43] refack opened #13115 "question: best practice for handling unexpected `err` in tests"
* **Version**: `master`
* **Platform**: *
* **Subsystem**: test

Ref: https://github.com/nodejs/node/pull/13092#discussion_r117273934
Do we have a better construct for handling `err` in callbacks:
What I found that gives the most informative results (stack of exception __and__ a frame for the test) are:
* for regular callbacks `common.mustCall((err) => {if (err) assert.fail(err)})`
* for `.on('err

[2017-05-19 15:43] refack commented on #13115
/cc @nodejs/testing

[2017-05-19 15:45] joshgav commented on #12980
Yes, I'm suggesting a `node::Platform` interface because I think we'll all benefit from a shared definition. Let me explain and describe the small adjustments which I think would be needed to avoid having to inherit from `v8::Platform`. I added a bit to Matt's code here: https://github.com/joshgav/node/commit/88da02c227e876d230b9888d506a763a1a9bd9eb to demonstrate and make this easier to reason ab

[2017-05-19 15:53] jeisinger commented on #12980
defining a node::Platform and then casting that to void* and having v8 cast that to v8::Platform is not allowed by the C++ standard.

[2017-05-19 16:02] joshgav commented on #12980
@jeisinger

Also, I don't think it would work unless `v8::Platform` itself derived from `node::Platform`, which I'm pretty sure you (and Chakra) wouldn't want to do :). Indeed, I don't know how to solve that problem and am hoping you and @nodejs/chakracore have suggestions :). How do we define a shared interface without depending on a header from Node?

What do you think of the argument for a shar

[2017-05-19 16:16] jeisinger commented on #12980
I'd recommend introducing a wrapper library around the underlying VM that has an API you control. E.g. in chrome,  we have the "gin" library that implements interfaces such as v8:: Platform, and the rest of chrome can instantiate v8 via a simple API provided by gin.

[2017-05-19 16:36] gibfahn opened #13117 "Run coverity on PRs"
AIUI we currently run [coverity](http://www.coverity.com/) on master and send the results to the security group. Given that it seems to turn up useful things (most recently https://github.com/nodejs/node/pull/13050#issuecomment-302745859) we should probably run it on PRs as well.

Thoughts?

cc/ @sam-github @cjihrig

[2017-05-19 16:39] addaleax commented on #13117
If that’s feasible, I see no reason not to? I guess the reason to only send it to the security working group is that it might show up bugs relevant to security, but if we catch those problems even before they enter `master`, that’s no longer an issue.

[2017-05-19 17:31] matt-coles commented on #13114
[code]

Thank you so much everyone! Especially @addaleax for all the help on IRC too!

[2017-05-19 17:31] #13114 closed

[2017-05-19 17:47] sam-github opened #13119 "dns.lookup allows a "falsy" hostname, but behaviour is undocumented and appears useless"
I assumed this was a bug, but on looking into it, it seems deliberate: https://github.com/nodejs/node/blob/6f216710eb49436f0c372fbaf6da3e65ba9578c2/lib/dns.js#L132

@cjihrig you added this, I think, in 5086d6ef94d1 (missing PR metadata), but it looks like you were cleaning up something from an earlier commit. Any ideas why falsey is allowed?

Its even tested: https://github.com/nodejs/node/blob/6f

[2017-05-19 18:03] refack commented on #684
That's valid (asking as an occasional non-expert *inx user)?

[2017-05-19 18:06] addaleax commented on #684
Sure, files can start with a literal `~` – tilde expansion is purely a shell thing, the OS or the filesystem doesn’t care. (Also fyi, in shells `~foo` typically expands to the home directory of the user name `foo`).

[2017-05-19 18:28] #13043 closed

[2017-05-19 18:35] cjihrig commented on #13119
I have no clue. It looks like this behavior goes back at least [6 years](https://github.com/nodejs/node/commit/858f23094e9f9382c780e5f11f13273242c9b26a#diff-38b8487017fb66c08e21fd6554f36880R72). My changes look to have just been building on top of the existing quirks.

[2017-05-19 18:37] sam-github commented on #13119
@bnoordhuis do you remember the history of any of this?

[2017-05-19 18:51] refack commented on #12737
Someone is behaving better either the OS or `libuv`.

[2017-05-19 20:51] stuartpb commented on #12946
Okay, that fixes the documentation for `publicEncrypt`, but it doesn't touch the documentation for the other three functions like it (and I'd expect that there are more ambiguities like this in the docs right now).

Also, isn't there a formal way of documenting a function's return type?

[2017-05-19 20:56] addaleax commented on #12946
Ah, right. Sorry, reopening.

I think there is, we have something like ``* Returns: {integer} The number of bytes contained within `string` `` for that.