[2017-08-05 10:39] bnoordhuis commented on #8723
Define 'hard crash'?

[2017-08-05 10:39] gibfahn commented on #14080
@jbajwa FWIW I think this is the relevant section of the guide: https://github.com/nodejs/node/blob/master/doc/guides/maintaining-V8.md#backporting-to-abandoned-branches

[2017-08-05 11:14] bnoordhuis commented on #8723
How did you establish it was caused by `fs.readdirSync()` and not, for example, a native add-on?

[2017-08-05 11:22] tniessen commented on #14391
I think this outweighs the downsides, unless there is an alternative with the same advantages and without the downsides. Most other programming frameworks provide mechanisms to distinguish errors more or less precisely, and we were really falling behind with very few error classes and relying on error messages. I like how we did not go the JAVA way (I think there are about 400 exception classes in

[2017-08-05 11:24] Eugeny commented on #8723
Yes, I've been debugging the Node process itself and it crashed somewhere inside the `fs` module implementation. That's how I found this github issue. I can't recall exact details but I can try to find the exact location again next week.

[2017-08-05 12:21] refack commented on #14243
FYI: https://blogs.msdn.microsoft.com/commandline/2017/08/02/updating-the-windows-console-colors/
(This __does not__ solve the Powershell issue)

[2017-08-05 12:38] refack commented on #10129
For context, having "unused" formal argument is a little bit __more__ performant if it matches the signature of the call - https://github.com/nodejs/node/issues/14137

[2017-08-05 13:19] refack commented on #8723
Not actively working on this, assigned myself just to keep track.
IMHO although it segfaults, it is an edge case (Windows via Bootcamp, accessing a macOS volume), hence it requires a complicated set up to reproduce.
<sub>(I have limited access to mac hardware, and I can't bootcamp it, if anyone want to donate some hardware, it will be ___very___ helpful /cc @apple ;)</sub>

RE keeping this open &m

[2017-08-05 13:52] refack commented on #14639
/cc @nodejs/v8-inspector @nodejs/diagnostics

[2017-08-05 14:23] Hativ3 commented on #1495
What about supporting multiple curves and defining a preferred order? Like nginx: http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_ecdh_curve

[2017-08-05 14:48] Trott commented on #14599
Now failing in FIPS mode! :-D

https://ci.nodejs.org/job/node-test-commit-linux-fips/10108/nodes=ubuntu1404-64/console

[code]

[2017-08-05 15:04] benjamingr commented on #14639
Basically, since your version of Node runs independently of Chrome - whenever you debug a specific Node version - opening the debugger will grab a version of the DevTools you're using from Google.

Note that this will happen when you enter the devtools - and no download will happen from Node's side (in general, Node speaks to third parties only when you explicitly request it).

Now that the debugg

[2017-08-05 15:11] matthewloring commented on #14599
@Trott The fix hasn't landed yet. Hopefully it will address things on FIPS as well.

[2017-08-05 15:27] benjamingr commented on #14639
In addition - if after the explanation you are still unhappy about what Node is doing here in order to get the debugger to work. I'd like to emphasize that the project is always open to discussing these things and to contributions.

I think a documentation change here explaining what people are seeing and asserting Node does not itself talk to third parties like that from your code might be in ord

[2017-08-05 15:29] benjamingr commented on #14638
I'd like to get feedback from some of the heaviest users of `util.inspect` (mainly logging libraries) on this.

I'm personally +1.

[2017-08-05 15:32] AndreasMadsen commented on #14238
That wasn't how I read it, but I do see that it can be read that way. I generally don't see any reason to limit the user this, synchronous callbacks may be a bad design but it certainly isn't rare. I don't think we can expect userland to use unconditional asynchronous callbacks.

Yes. The `triggerAsyncId` isn't explicitly set, that is how it is supposed to work. I agree that if `initTriggerAsyncId

[2017-08-05 16:45] silverwind commented on #14638
One question is how the interaction with `breakLength` and the hypothetical `indent` should be. Should it still break off lines when indentation is enabled, possibly destroying the formatting?

[2017-08-05 17:59] silverwind commented on #4262
Cannot reproduce in RPi3, latest Arch Linux ARM, Kernel 4.9.36, node v8.2.1:

[code]

[2017-08-05 18:36] refack commented on #4262
@silverwind can you confirm it fails with [`v5.2.0`](https://nodejs.org/download/release/v5.2.0/) (i.e. negative control)? If it does IMHO we can close this.

[2017-08-05 18:47] refack commented on #4262
Although the code @bnoordhuis is pointing to hasn't changed since `v2.30` https://github.com/nodejs/node/pull/1889/files#diff-c2053e03dec17e31a49b19d166265122

[2017-08-05 19:30] refack commented on #14638
🤔
I can't think of an obvious way it will interfere... seems to me that is we simply add `\n` after `{`/`[` and before `}`/`]` it becomes [emca262 compliant](https://tc39.github.io/ecma262/#sec-serializejsonobject).
[code]
If anyone can find an example case IMHO it should also go into the current tests.

[2017-08-05 20:39] silverwind commented on #4262
Yep, fails with 5.2.0. I think we can safely assume this is fixed.

[2017-08-05 20:39] #4262 closed

[2017-08-05 21:05] silverwind commented on #14638
Looks like I actually misinterpreted the `breakLength` description. There should actually be no issue, as `indent` should always "break" objects anyways.

[2017-08-05 21:17] Trott commented on #12198
`test-intl-no-icu-data` doesn't exist anymore so this specific issue seems close-able. Feel free to comment or re-open (if GitHub lets you) if I'm mistaken.

Additionally, I compiled node without intl and all tests passed so it looks like that was taken care of at some point as well.

[2017-08-05 21:17] #12198 closed

[2017-08-05 22:42] Trott commented on #12708
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-05 22:42] #12708 closed

[2017-08-06 00:02] Trott commented on #8854
@nodejs/crypto

[2017-08-06 00:02] Trott commented on #12689
@nodejs/http

Should this remain open?

[2017-08-06 00:04] Trott commented on #12695
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-06 00:09] Trott commented on #11365
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-06 00:09] #11365 closed

[2017-08-06 01:19] mnot opened #14644 "418 I'm A Teapot"
Node implements the `418 I'm a Teapot` status code in a few places.

Its source is [RFC2324, Hyper Text Coffee Pot Control Protocol (HTCPCP/1.0)](https://www.ietf.org/rfc/rfc2324.txt). Note the title - `HTCPCP/1.0` is *not* `HTTP/1.x`.

HTCPCP was an April 1 joke by Larry to illustrate how people were abusing HTTP in various ways. Ironically, it's not being used to abuse HTTP itself -- people are

[2017-08-06 02:55] Trott commented on #14644
@nodejs/http

[2017-08-06 03:27] jasnell commented on #14644
"implementation" is defined loosely in this case given that Node.js doesn't do anything with it other than assign the default status message if it's used. We could deprecate the Teapot status message and easily reassign it later as a semver major. In the http2 implementation I can make sure it's not assigned a constant yet.

[2017-08-06 03:28] mscdex commented on #14644
It looks like 418 is technically not [registered with the IANA](https://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml).

FWIW it seems Go supports 418 as well.

A removal would be semver-major though. I'm not sure we would want to add the overhead of checking explicitly for 418 to do a runtime deprecation.

[2017-08-06 03:38] jasnell commented on #14644
Yeah, I'm thinking docs only deprecation in 9.x and EOL in 10.x

[2017-08-06 03:42] bnoordhuis commented on #12689
I'll close it out.

@fahidmohammad Please open an issue over at the help repo if you still want to pursue this.

[2017-08-06 03:42] #12689 closed

[2017-08-06 05:38] Trott opened #14646 "Investigate test-off-with-session-then-on on Windows"
https://ci.nodejs.org/job/node-test-binary-windows/10310/RUN_SUBSET=1,VS_VERSION=vs2017,label=win2016/console

[code]

@nodejs/platform-windows @nodejs/v8-inspector @nodejs/testing

[2017-08-06 05:44] Trott commented on #14646
Hmmm...might have been the code being tested in that test run? Not sure. Going to close,  but if anyone sees it again or feels confident this wasn't caused by the code change being tested, feel free to re-open.

[2017-08-06 05:44] #14646 closed

[2017-08-06 06:06] silverwind commented on #8381
This sounds like something we should fix. Care to open a separate issue?

[2017-08-06 07:31] MasterJames commented on #14639
Okay well I still don't get why it works with the site blocked (via hosts entries) it's as if Chrome does it's own fallback for DNS lookups, which on one hand sounds great but also seems really wrong to me as well?, if it's doing that to get there even though I've resolved *.appspot.com to localhost 127.0.0.1?!

It seems like it uses an external server to find the correct auth token that is in the

[2017-08-06 08:51] mnot commented on #14644
WFM, thanks. I'll chase Go.

[2017-08-06 09:15] silverwind opened #14648 "dns: support AXFR queries"
Now that we support `ANY` queries (https://github.com/nodejs/node/pull/13137), I think the foundation is laid to support zone transfers and we can likely share most of the code that is used to parse the `ANY` response and parse the `AXFR` response with it.

cc: @XadillaX

[2017-08-06 10:14] XadillaX commented on #14648
The principle of `ANY` queries is to parse the packet time by time by calling `ares_parse_a_reply`, `ares_parse_aaaa_reply`, etc.

But it seems C-ARES does not support to parse `AXFR` query.

[2017-08-06 10:20] tniessen commented on #14648
The main difference between "normal" queries and AXFR queries is that AXFR queries can have their answers spread across any number of packets. @XadillaX might be correct, I am not sure whether c-ares supports this :confused:

[2017-08-06 10:39] vsemozhetbyt opened #14649 "Should we consider not to check POST_STATUS_TO_PR till CI live updating is fixed?"
Maybe this will reduce noise and confusion in PRs (especially for novices).

[2017-08-06 10:41] silverwind commented on #14648
Yeah, looks like c-ares can indeed not parse a `AXFR` response. Using the `adig` utility that comes with it, I only see the initial SOA response being parsed, but not the AXFR content:

[code]

[2017-08-06 12:12] tniessen commented on #14649
It does not really make sense to check it as long as it does not work anyway.

[2017-08-06 12:16] vsemozhetbyt commented on #14649
@tniessen It can be a formal sign that CI is launched for the last actual commit, but we can just search for the "CI" or the URL in the page for now.

[2017-08-06 16:41] Trott commented on #12190
I'm not sure these are going to be that easy to find, even in tests, unless we're OK changing stuff like:

[code]

&hellip;to this:

[code]

I wouldn't want to give that to a first-time contributor unless I was certain they weren't going to be asked to defend the change in PRs. I like to give first-time folks uncontroversial changes as much as possible.

[2017-08-06 16:46] vsemozhetbyt commented on #12190
@Trott So maybe we can close this issue for now?

[2017-08-06 16:51] Trott commented on #12209
I'm uncertain as to whether this is actually a bug or Working-As-Intended, but hopefully someone on @nodejs/http or @sam-gitub or someone else can make a determination?

[2017-08-06 16:53] Trott commented on #12190
Given that it was (until today) idle for four months, that's probably a good idea. If anyone disagrees, of course, feel free to re-open...

[2017-08-06 16:53] #12190 closed

[2017-08-06 16:55] Trott commented on #12179
Dropping `noAssert` support entirely (that is, always treating `noAssert` as if it is `false`) would fix this, right?

[2017-08-06 17:53] Trott commented on #12419
This is fixed in 8.x and the only affected currently-supported release line is 6.x?

[2017-08-06 17:59] Trott commented on #10587
Should this remain open?

[2017-08-06 18:01] Trott commented on #12759
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-06 18:01] #12759 closed

[2017-08-06 18:05] Trott commented on #3093
Refs: https://github.com/nodejs/http-parser/issues/315

[2017-08-06 18:06] Trott commented on #3093
This has been sitting here for almost two years, so I'm going to put a `help wanted` label on it at least even though you've got it self-assigned, @jasnell. Maybe we should add `mentor available` label as well?

[2017-08-06 18:07] Trott commented on #3093
@nodejs/http

[2017-08-06 18:16] jasnell commented on #3093
It's an extremely non-trivial issue that requires pretty deep knowledge of the http-parser. It also has a major impact on performance. It's not going to be easy by any measure.

[2017-08-06 18:44] Trott commented on #6038
The PR to fix appears stalled. A doc-only update as at least an interim would be welcome. Labeling `doc`....

[2017-08-06 18:47] skbolton commented on #10587
Well I made a change in the library to no longer have an inspection method on it. But this is one of those things that authors wouldn't even realise is there

[2017-08-06 18:50] Trott commented on #6346
Is it correct to say that the bug has been observed in 4.x but that the most recent releases of the Node.js 6.x and 8.x lines are believed to be unaffected?

[2017-08-06 19:04] CarlosOnline opened #14651 "How to change node's default console color on windows"
On windows a simple console.log from within node changes the console's foreground color to gray. Using the color escapes has no effect.

**Is there a global default for node's console color that I can set?**

**Repro**
[code]
**undefined**   _is gray and all future text is now gray_

Version: v8.2.1
Platform: Windows x64
Subsystem: console.log

[2017-08-06 20:07] SheetJSDev opened #14652 "repeated property access misses leads to memory spike and slowdown in 6.x and 8.x"
We were investigating a [strange memory leak related to an issue](https://github.com/SheetJS/js-xlsx/issues/764) and believe it may be a V8 or nodejs regression.  Simple example:

[code]

Starting from an empty object literal, the code attempts about 24 million property accesses with a non-integer key.  Our expectation is a small increase in memory usage.  We added some console.log statements to s

[2017-08-06 20:25] vsemozhetbyt commented on #14652
cc @nodejs/v8

FWIW, this seems to be fixed in the [node.8.3.0.rc-0](https://nodejs.org/download/rc/v8.3.0-rc.0/) with V8 6.0

[2017-08-06 20:32] Trott commented on #12869
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-06 20:32] #12869 closed

[2017-08-06 20:37] Trott commented on #14651
Node.js has nothing like that built in (AFAIK, at least), and how to do it is likely dependent on environment/operating system. However, third-party modules probably do what you need. You might want to check out [the `chalk` module](https://www.npmjs.com/package/chalk).

[2017-08-06 20:38] Trott commented on #14651
Hi @CarlosOnline! Hopefully the `chalk` suggestion above is suitable for your needs. Regardless, I'm going to close this at this time because this issue tracker is for bugs and issues found within Node.js core. For more general support questions like this, please file an issue on our help
repo. https://github.com/nodejs/help

Thanks!

[2017-08-06 20:38] #14651 closed

[2017-08-06 20:47] Trott commented on #9789
This seems close-able at this time. If I'm mistaken, by all means, re-open or comment.

[2017-08-06 20:47] #9789 closed

[2017-08-06 20:51] mscdex commented on #12419
@Trott yes, but I'm leaning towards just counting both PRs as semver-major (currently one is and the other isn't), which would mean no backporting at all. As far as the changes themselves go, changing the values in v6.x would be viewed as semver-major anyway, in case someone is relying on the signed-ness of the value.

[2017-08-06 21:01] Trott commented on #12829
As of https://github.com/nodejs/node/commit/5c2d1af3103, it says "changes may be planned" rather than "changes are planned" so I think this can be closed. As always, re-open if I'm wrong&hellip;

[2017-08-06 21:01] #12829 closed

[2017-08-06 23:00] topquant opened #14653 "nodejs Makefile:196: recipe for target 'test' failed make: *** [test] Error 1"
<!--
Thank you for reporting an issue.

This issue tracker is for bugs and issues found within Node.js core.
If you require more general support please file an issue on our help
repo. https://github.com/nodejs/help

Please fill in as much of the template below as you're able.

Version: node-v8.2.1
Platform: Linux 4.4.0-89-generic #112-Ubuntu SMP Mon Jul 31 19:38:41 UTC 2017 x86_64 x86_64 x86_64 GN

[2017-08-06 23:06] topquant opened #14654 "nodejs Makefile:196: recipe for target 'test' failed make: *** [test] Error 1"
Version: node-v8.2.1
Platform: Linux 4.4.0-89-generic #112-Ubuntu SMP Mon Jul 31 19:38:41 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
Subsystem: if known, please specify affected core module name

* **Version**: node-v8.2.1
* **Platform**: Ubuntu 16.04 LTS -Linux 4.4.0-89-generic x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

tail of  "make test"
[code]

<sub>_(edited by @vsemozhetbyt: added backtic

[2017-08-06 23:11] vsemozhetbyt commented on #14653
Closing as a possible duplicate of the https://github.com/nodejs/node/issues/14654

[2017-08-06 23:11] #14653 closed

[2017-08-06 23:33] vsemozhetbyt commented on #14654
@topquant The output seems a bit strange here:
[code]
Can you run `out/Release/node /home/developer2/node-v8.2.1/test/parallel/test-os.js` and re-quote the output?

[2017-08-06 23:36] Trott commented on #14654
@topquant What's the output of this command?

[code]

[2017-08-06 23:52] topquant commented on #14654
developer2@superquantan:~/node-v8.2.1$ ./node -e
"console.log(os.networkInterfaces().lo.filter((e)=> e.address ===
'127.0.0.1'))"
[ { address: '127.0.0.1',
    netmask: '255.0.0.0',
    family: 'IPv4',
    mac: '00:00:00:00:00:00',
    internal: true },
  { address: '127.0.0.1',
    netmask: '255.255.255.0',
    family: 'IPv4',
    mac: '00:00:00:00:00:00',
    internal: true } ]

On Sun, Aug 6, 2

[2017-08-07 00:11] TimothyGu commented on #12179
Accidentally closed it... reopening

[2017-08-07 02:19] #14490 closed

[2017-08-07 02:19] TimothyGu commented on #14436
Fixed in https://github.com/nodejs/node/pull/8837 / 5fd2f03b16bfd6730fe82dc3217f1d05131b9615.

[2017-08-07 02:19] #14436 closed

[2017-08-07 02:29] TimothyGu commented on #14436
Screenshots:

<details><summary>When script execution is paused, <code>require</code> in the console is the <code>require</code> function available in that module:</summary>

![screenshot from 2017-08-07 10-25-58](https://user-images.githubusercontent.com/1538624/29010004-daefac9c-7b5a-11e7-8a89-6e3ee0ff4e78.png)
</details>

<details><summary>When script execution is not paused, <code>require</cod

[2017-08-07 02:40] Trott commented on #14654
@vsemozhetbyt Looks like all that's happening is `assert.deepStrictEqual()` is truncating its output, which is intentional although unhelpful in this situation.

@topquant It seems like you somehow have two IPv4 loopback interfaces configured with different netmasks. Ideally this shouldn't cause a problem for the test, but of course it does. However it also seems (to me, at least) very unusual. Is

[2017-08-07 02:46] Trott commented on #14654
@topquant If you change lines 120-124 of test/parallel/test-os.js from this:

[code]

&hellip;to this:

[code]

&hellip;does the test pass then?

[2017-08-07 05:07] topquant commented on #14654
The test does not pass.  Here is the output after the changes:

[  PASSED  ] 47 tests.
/usr/bin/python tools/test.py --mode=release -J \
    async-hooks doctool inspector known_issues message parallel pseudo-tty
sequential \
    addons addons-napi
=== release test-os
===
Path: parallel/test-os
assert.js:60
  throw new errors.AssertionError({
  ^

AssertionError [ERR_ASSERTION]: false == true
    a

[2017-08-07 05:11] topquant commented on #14654
output of out/Release/node
/home/developer2/node-v8.2.1/test/parallel/test-os.js:

AssertionError [ERR_ASSERTION]: [ { address: '127.0.0.1',
    netmask: '255.0.0.0',
    family: 'IPv4',
    mac: '00:00:00:00:00:00',
    internal: true },
  {  deepStrictEqual [ { address: '127.0.0.1',
    netmask: '255.0.0.0',
    mac: '00:00:00:00:00:00',
    family: 'IPv4',
    internal: true } ]
    at Object.<

[2017-08-07 06:09] mscdex opened #14656 "doc: confusing stream.read() documentation"
* **Version**: all
* **Platform**: n/a
* **Subsystem**: doc

Currently in the [`readable.read()` documentation](https://nodejs.org/docs/latest/api/stream.html#stream_readable_read_size), there are two statements that seem to be at odds with each other.

First:

and then at the end:

So the first part tells me that either `null` or some bytes will be returned and the second part seems to imply that

[2017-08-07 06:37] Trott commented on #14654
Oh, of course, `.includes()` won't work because it's a different object.... let me try again...

Does this fix it for you?

[code]

[2017-08-07 07:33] papakai commented on #14629
@bnoordhuis which way is the best way for providing a test case? gist? plunkr? maybe something else?

[2017-08-07 07:46] bnoordhuis commented on #14629
@papakai If you have a small single-file test case, feel free to post it inline in a comment.

[2017-08-07 07:50] papakai commented on #14629
@bnoordhuis ... and if not? :)

[2017-08-07 08:12] vsemozhetbyt commented on #14654
@Trott Maybe it is worth to add ellipses [here](https://github.com/nodejs/node/blob/365b2e342406492597c762edb9a822341f01d851/lib/internal/errors.js#L42-L43) if strings are truncated?

[2017-08-07 08:15] bnoordhuis commented on #6346
@Trott Correct.  The fix for v8:5009 is almost certainly applicable to v4.x because when you prep `deps/v8/test/mjsunit/regress/regress-v8-5009.js` to work inside of node instead of d8, it shows the bug (but only with v4.x, not with v6.x and v8.x.)

Back-porting is a heck of a lot of work though and will need careful review.

[2017-08-07 08:37] bnoordhuis commented on #3093
Should this actually be fixed though?  Extraneous whitespace is common enough that http-parser users will want a way to turn off rejection, even in strict mode.

It's also harmless, IMO.  The parser skips over the whitespace; there is no observable difference to users because they never see it.  You can't use it as a vector for smuggling attacks.

Besides to-the-letter compliance with the spec, wh

[2017-08-07 08:41] bnoordhuis commented on #14629
@papakai If it's a bigger test, put it in a gist or a repo.  Can you make sure it uses only built-in modules, not third-party modules like e.g. express?  Thanks.

[2017-08-07 09:19] wagenaartje commented on #3145
I'm still experiencing this first-time message delay. Any updates on this?

[2017-08-07 09:29] TimothyGu opened #14660 "VM module doesn't handle undefined/NaN/null correctly"
* **Version**: v8.2.1
* **Platform**: Linux 4.9.0-3-amd64 SMP Debian 4.9.30-2+deb9u2 (2017-06-26) x86_64 GNU/Linux
* **Subsystem**: vm

[code]

`undefined` (and `NaN` and `Infinity`) is defined as unwritable, unconfigurable, unenumerable properties on the global object, and thus IMO should not be overridable through the VM module.

It is unclear if #13265 fixes this, probably not though as this is

[2017-08-07 10:22] bnoordhuis commented on #3145
@wagenaartje If your copy of node is up-to-date, please file a new issue and include steps to reproduce.

[2017-08-07 10:49] bnoordhuis commented on #8723
@Eugeny A debugger backtrace would help.

[2017-08-07 10:55] TimothyGu commented on #14660
(I discovered it when debugging https://github.com/tmpvar/jsdom/issues/1932, which turns out to be primarily a bug on jsdom's side. I'm okay with closing this, but still keeping this open to see what anyone else thinks.)

[2017-08-07 10:57] bnoordhuis commented on #14660
I suspect this is a V8 bug that has since been fixed because I can't reproduce with today's master; I can with the v8.x branch.

[2017-08-07 11:59] #14599 closed

[2017-08-07 12:11] vsemozhetbyt opened #14662 "Consider redirection from nodejs/node-v0.x-archive"
There were [some new issues](https://github.com/nodejs/node-v0.x-archive/issues?utf8=%E2%9C%93&q=is%3Aissue) recently in this archive repository despite the [README.md](https://github.com/nodejs/node-v0.x-archive/blob/moved/README.md). I am not sure where users come frome to it. May be we should add a `.github/ISSUE_TEMPLATE.md` to it with a redirection to the actual repository?

[2017-08-07 12:20] vsemozhetbyt commented on #14662
FWIW, it is still the third link in Google:
![i](https://user-images.githubusercontent.com/10393198/29026330-e3a1b8e8-7b83-11e7-993d-ae7b531e1d05.png)

[2017-08-07 12:32] Eugeny commented on #8723
Here's what I got:
![image](https://user-images.githubusercontent.com/161476/29026623-f3bbfcae-7b7c-11e7-9c37-87b1ae040794.png)

![image](https://user-images.githubusercontent.com/161476/29026628-f8250998-7b7c-11e7-858d-e0f1e8121ea8.png)

It seems to be this line: https://github.com/nodejs/node/blob/v7.4.0/deps/uv/src/win/fs.c#L906 (the array lookup), but I'm not 100% sure of it.

Seems like the `

[2017-08-07 12:35] tniessen commented on #14662
If it was possible without making old issues inaccessible, I would probably be okay with disabling issue creation completely (but as far as I know it is not).

[2017-08-07 12:35] Eugeny commented on #8723
Actually, I'm sure of it. `wchar_len` was optimized away into RSI here.

[2017-08-07 15:19] addaleax commented on #14178
Fix in https://github.com/nodejs/node/issues/14161

This is caused by #13098, which was backported to v6.x-staging in https://github.com/nodejs/node/pull/13201 – @MylesBorins @gibfahn you will probably want to rebase the backport out.

[2017-08-07 16:22] papakai commented on #14629
I've tried working this out, but I can only reproduce that issue with our customer's SSLCert file mixup. Wrong key file for the cert file. I just can provide that info that the key file was specific to a subdomain, the cert file specific to wildcard subdomain for the same domain name.

I've played around with example cert files, but could reproduce this.
node.js itself throwed always an error in m

[2017-08-07 16:37] gibfahn commented on #14178
@addaleax I think that was already released (https://github.com/nodejs/node/commit/55cbe24c60a4605f7a49f49542354d91f3bb4137 is in v6.11.2 - [commit log](https://github.com/nodejs/node/commits/v6.11.2?after=f15e12453ad16a7d914880765e7b6cc5188fa959+209)).

So not sure there's anything we can do other than fast-tracking #14666.

[2017-08-07 16:42] addaleax commented on #14178
Ugh, right. Looked at the wrong PR.

I personally would feel comfortable landing it later today (it’s literally a one-liner) and including it in 8.3.0, but I also don’t really want to rush my own PRs.

[2017-08-07 16:44] refack commented on #14662
this could be a feature request to @github (Archive repository) /cc @groundwater

[2017-08-07 16:46] refack commented on #14662
Ref: https://github.com/isaacs/github/issues/144

[2017-08-07 17:01] katzio opened #14668 "http2.createSecureServer - No warnings if no cert/key provided in options"
* **Version**: v9.0.0-pre
* **Platform**: Linux linuxbox 4.10.0-30-generic #34~16.04.1-Ubuntu SMP Wed Aug 2 02:13:56 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem: http2

[code]

`./node --expose-http2 http2server.js
(node:21866) ExperimentalWarning: The http2 module is an experimental API.
Server running at https://127.0.0.1:3000/
`

`https://127.0.0.1:3000/` is unreachable and now warnin

[2017-08-07 17:02] MadaraUchiha opened #14669 "Can't run tests"
* **Version**: 9.0.0-pre (master)
* **Platform**: Ubuntu 16.10
* **Subsystem**: gyp

Running `make -j4 test` fails with the following output

[code]

#goodnessSquad

Fixit @benjamingr

[2017-08-07 17:04] addaleax commented on #14669
You sometimes need to run `test-addons-clean` when switching between branches or when some addon tests have been changed since you last ran them :)

[2017-08-07 17:05] MadaraUchiha commented on #14669
I have no such command, is that a make target?

[2017-08-07 17:06] addaleax commented on #14669
yeah, right, I meant `make test-addons-clean` ;)

[2017-08-07 17:09] MadaraUchiha commented on #14669
Didn't seem to work, I'm still getting the exact same error after running `make test-addons-clean` and then `make -j4 test` again.

[2017-08-07 17:16] chiptus opened #14671 "http2.connect doesn't connect to an http2 secure server"
* **Version**: v9.0.0-pre
* **Platform**: Windows 10 64 bit
* **Subsystem**: http2

Using the code examples from [james's post](https://medium.com/the-node-js-collection/say-hello-to-http-2-for-node-js-core-261ba493846e)

Chrome is connecting to the server successfully, but the client doesn't. Before changing the server to secure server it was  the opposite way.

server.js
[code]

client.js
[code]

[2017-08-07 17:25] refack commented on #14662
PTAL https://github.com/nodejs/node-v0.x-archive/pull/26598

[2017-08-07 17:26] PiniH opened #14672 "Using express with the new http2 module"
* **Version**: v9.0.0-pre
* **Platform**: MacOS
* **Subsystem**: http2

Testing node's new http2 native module I couldn't get express to serve requests over http2,
Using node master build with --expose-http2 (v9.0.0-pre macOS) flag:
[code]

When requesting /express the server crashed with the following error:

[code]

Opened an issue for express as well: https://github.com/expressjs/express/issues

[2017-08-07 17:27] benjamingr commented on #14672
Ping @jasnell - this is a first time contributor trying http2.

[2017-08-07 17:31] mscdex commented on #14668
TLS is technically optional for HTTP2, although most browsers for example only implement HTTP2 with TLS.

As far as `https` not requiring a key and certificate goes, see [this issue](https://github.com/nodejs/node/issues/11978).

[2017-08-07 17:51] refack opened #14674 "test: investigate flaky - parallel/test-readline-interface"
* **Version**: `master`
* **Platform**: `pi1-raspbian-wheezy`
* **Subsystem**: readline

[code]
Refs: https://github.com/nodejs/node/pull/13497
https://ci.nodejs.org/job/node-test-binary-arm/9466/RUN_SUBSET=5,label=pi1-raspbian-wheezy/
/cc @nodejs/platform-arm @addaleax @jasnell @Azard @princejwesley

[2017-08-07 18:01] addaleax commented on #14674
If somebody has the time, it might be helpful to insert a couple debug statements to check the order in which events happen and then kick of a stress test until this reproduces. Or maybe just increasing the timeouts/using `platformTimeout` might work?

[2017-08-07 18:26] Yahkal opened #14675 "Error while installing cordova"
**Version:** v6.11.2
**Platform:** 64-bit Windows
**Subsystem:** I Don't Know

When I try installing cordova it gives me a error. ENONET: No such file or directory

LOG:
npm install - g cordova
npm info it worked if it ends with ok
npm info using npm@3.10.10
npm info using node@v6.11.2
npm info ok
npm info it worked if it ends with ok
npm info using npm@3.10.10
npm info using node@v6.11.2
npm info

[2017-08-07 18:36] tniessen commented on #14675
https://github.com/npm/npm/issues/11265 might help you. This is most probably unrelated to the node.js core, so I am closing this issue. Feel free to reopen (or ping me) if you feel like this is caused by a bug within node.js itself, otherwise, you should probably talk to the people behind [npm](https://github.com/npm/npm) if you think the problem is related to the package manager, or to the maint

[2017-08-07 18:36] #14675 closed

[2017-08-07 18:41] Yahkal commented on #14675
Does not help

[2017-08-07 18:47] Yahkal opened #14676 "Cordova freezes while installing"
**Version:** v6.11.2
**Platform:** 64-bit Windows
**Subsystem:** I don't know

When i try installing cordova it just freezes and does not continue. I have tried using command prompt and Git Bash, Both do not work and return the same output.

LOG:
npm install -g cordova
npm info it worked if it ends with ok
npm info using npm@3.10.10
npm info using node@v6.11.2
npm info ok
npm info it worked if it

[2017-08-07 18:48] mscdex commented on #14676
This should be posted to the [npm issue tracker](https://github.com/npm/npm/issues) instead.

[2017-08-07 18:48] #14676 closed

[2017-08-07 18:56] Azard commented on #14674
I support use `platformTimeout` , 200ms and 500ms maybe too short for raspbian parallel test.

[2017-08-07 19:08] tniessen commented on #14675
![screenshot](https://user-images.githubusercontent.com/3109072/29041505-5d3b9ff0-7bb3-11e7-8536-84bf43f5484e.jpg)

@Yahkal I was just trying to help you and point you to relevant resources. If you feel like I treated your message improperly, feel free to say so. Emojis won't get this any further, no matter how many you use on your own and my messages.

[2017-08-07 20:37] tniessen commented on #14676
Ref https://github.com/nodejs/node/issues/14675 (with the same result)

[2017-08-07 20:46] refack commented on #14206
@jBarz @mhdawson
a ping a week
and performance is peak
(sorry not a poet)

[2017-08-07 21:05] ZiCog commented on #4262
To confirm. This bug is certainly fixed for node v8.1.2 running on Raspbian GNU/Linux 8 on Raspbery Pi 3.

[2017-08-07 21:10] Trott commented on #14669
@MadaraUchiha Try `make test-addons-napi-clean`. If that too does not work, you can use what I affectionately refer to as "The Sledgehammer Approach":

[code]

[2017-08-07 21:14] kfarnung commented on #14397
@RReverser @mhdawson I have a PR #14678 out for this issue.

[2017-08-07 21:15] refack opened #14679 "meta: handling of undocumented endpoint"
Recently some undocumented "public" endpoints have been surfaced:
<sub>partial list</sub>
* ~~`tls.parseCertString()` - https://github.com/nodejs/node/pull/14218, https://github.com/nodejs/node/pull/14245~~ (update from @jasnell on 2018-08-10, this API has been since [deprecated](https://nodejs.org/dist/latest-v10.x/docs/api/deprecations.html#deprecations_dep0076_tls_parsecertstring))
* ~~`REPLSer

[2017-08-07 21:18] Trott commented on #14674
This is already at the top of my short list of things to deal with. https://github.com/nodejs/node/commit/daf5596c279bca8a461b8f573e9bdfb93acb539d was a precursor for making it more modular. Definitely flaky under load.

[2017-08-07 21:52] Trott commented on #14674
It's flaky even if I eliminate all the timers etc. and just have a test that looks like this:

[code]

Running it with this:

[code]

&hellip; still shows failures like this:

[code]

This means that `line` events are being emitted but with the data erroneously set to an empty string.

The question is: Is this a feature (under resource constraints, stuff starts getting dropped) or is it actually a

[2017-08-07 21:54] Trott commented on #14674
@nodejs/streams maybe?

[2017-08-07 22:04] trevnorris commented on #14238
To verify, I'm talking about the `init()` call corresponding to the `setImmediate()` called synchronously in the `Resource` constructor.

From documentation of when `before()` callbacks are called:

The `before()` callback is meant to communicate that an async resource has _completed an asynchronous task_. `ar` has done nothing asynchronous when `ar.emitBefore()` is called.

The graph data is not

[2017-08-07 22:06] #8397 closed

[2017-08-07 22:22] refack commented on #14638
ping @domenic, you had reservations to share?

[2017-08-07 23:00] kfarnung commented on #14639
@MasterJames To clarify a bit further, there's no inspector-specific connection from node to any external server, it only communicates with the Chrome developer tools over a local websockets connection.  What you're seeing is the Chrome DevTools **client** make a connection back to Google to get the latest version of the **client** tools.  That's why blocking that DNS lookup on the VM hosting node

[2017-08-07 23:04] Trott commented on #12872
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-07 23:04] #12872 closed

[2017-08-07 23:04] #12897 closed

[2017-08-07 23:06] Trott commented on #12938
Node.js 8.3.0 (which should be out this week) will have V8 6.0. I *think* this can be closed, so that's what I'll do, but please comment (or if GitHub allows it, re-open) if I'm wrong about that.

[2017-08-07 23:06] #12938 closed

[2017-08-07 23:06] Trott commented on #12858
Should this remain open?

[2017-08-07 23:07] Trott commented on #13018
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-07 23:07] #13018 closed

[2017-08-07 23:09] Trott commented on #13115
I think what you wrote above is a pretty good summary. Some stuff may have changed, I'm not sure, but you probably know because you're probably the person that would have changed it :-D

If you think it belongs in the test-writing guide, by all means, go for it. Lint rules might be feasible too, not sure to be honest. I'm going to close, but feel free to re-open if there's more to talk about.

[2017-08-07 23:09] #13115 closed

[2017-08-07 23:10] Trott commented on #12933
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-07 23:10] #12933 closed

[2017-08-07 23:13] Trott commented on #5568
I'm pretty sure some progress happened on this, but I don't recall when/where/by-whom.  Help, anyone?

[2017-08-07 23:14] Trott commented on #5540
Should this remain open?

[2017-08-07 23:15] Trott commented on #5839
Should this remain open?

[2017-08-07 23:15] #13345 closed

[2017-08-07 23:16] refack commented on #13115
Yeah, time to turn this into action.

[2017-08-07 23:16] vsemozhetbyt commented on #12858
ping @refack at least for the Python part)

[2017-08-07 23:16] Trott commented on #13346
Should this remain open?

[2017-08-07 23:18] refack commented on #13346
Closing, as this should be turned into PR.

[2017-08-07 23:18] #13346 closed

[2017-08-07 23:19] Trott commented on #6296
Is there sample code to demonstrate the crashing behavior?

[2017-08-07 23:19] refack commented on #5839
Yes. Ping @nodejs/platform-windows

[2017-08-07 23:20] refack commented on #12858
Yes. There's an action item here.

[2017-08-07 23:22] #14586 closed

[2017-08-07 23:22] andrasq commented on #14402
Non-local core files can be inspected with lldb-3.6, which has the parse error fixed.

To examine ubuntu-12.04.5 core files on ubuntu-12.04.5:
[code]

[2017-08-07 23:26] Trott commented on #8728
/ping @pmuellr

[2017-08-07 23:28] Trott commented on #13430
Spread operator should get a significant performance bump when Node.js 8.3.0 (with V8 6.0) comes out (probably this week).

Closing as this is not really a Node.js issue. (The spread operator is implemented by V8.) Feel free to comment or (if GitHub lets you) re-open if you think that's misguided of me.

[2017-08-07 23:28] #13430 closed

[2017-08-07 23:28] Trott commented on #13430
Oh, reference for the perf boost for spread operator: https://github.com/davidmarkclements/v8-perf

[2017-08-07 23:29] Trott commented on #13488
Should this remain open?

[2017-08-07 23:30] Trott commented on #13546
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-07 23:30] #13546 closed

[2017-08-07 23:34] Trott commented on #13521
Do we have a proposed solution for this? I'm guessing we don't want to run `git` commands from the `Makefile`, but if that's not a code smell, then we could do that I suppose... `git clean -fX test/addons-napi` or something like that. (Haven't tested it myself.)

[2017-08-07 23:35] Trott commented on #13671
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-07 23:35] #13671 closed

[2017-08-07 23:41] Trott commented on #11993
This is still an issue, right? No one has proposed a fix for this? OK if I label it `confirmed bug`?

[2017-08-07 23:41] Trott commented on #12379
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-07 23:41] #12379 closed

[2017-08-07 23:44] Trott commented on #13387
I imagine people have updated to latest Chrome by now and everything works with Node.js 8.2.1. If that's just wishful thinking on my part, please leave a comment or (if GitHub lets you) re-open. Thanks.

[2017-08-07 23:44] #13387 closed

[2017-08-07 23:47] Trott commented on #14102
@nodejs/http

[2017-08-07 23:50] Trott commented on #14129
It is available in the `master` branch with the `--expose-http2` flag.

Seems like this is close-able but feel free to comment or re-open (if GitHub lets you) if you disagree with that assessment.

[2017-08-07 23:50] #14129 closed

[2017-08-07 23:54] Trott commented on #14087
Hi @pabigot! If I'm understanding correctly, at this point, I'd say this isn't a bug report in Node.js core or a feature request anymore. It seems like a support request. Would you mind reposting over in https://github.com/nodejs/help? You can also try the #Node.js channel on Freenode IRC. And, of course, there are lots of unofficial places to get support like StackOverflow.

Thanks!

[2017-08-07 23:54] #14087 closed

[2017-08-07 23:59] addaleax commented on #14674
@Trott I don’t think data is getting dropped, it’s that the delay between processing `\r` and `\n` is so long that `readline` thinks they are actually separate line endings.

I do think it’s problematic that this happens even for synchronously emitted input. Maybe we should be using `process.binding('timer_wrap').Timer.now()` instead of `Date.now()`?

[2017-08-07 23:59] jasnell commented on #14668
This issue is not specific to http/2 in any way and there is already an existing issue that deals with this. Going to go ahead and close this one.

[2017-08-07 23:59] #14668 closed

[2017-08-08 00:01] Trott commented on #14674
:wow Thank you. That makes way more sense.

[2017-08-08 00:01] jasnell commented on #14671
You need to pass in tls options to the `http2.connect()` method, e.g.

[code]

[2017-08-08 00:06] domenic commented on #14638
I don't see the motivation for this. Despite claims above, this has nothing to do with spec compliance. This is just someone's subjective formatting preferences. The name "indent" is especially bad; the lines are already indented. This is actually about inserting newlines (again, at a place that one contributor thinks looks nicer).

I don't think util.format should be a general-purpose formatting

[2017-08-08 00:10] Trott commented on #14674
@addaleax Brilliant. That doesn't solve all the tests problems, but it solves most of them (and the primary remaining issue looks like it was solved by @Azard in another PR so we're really close...).

[2017-08-08 00:16] icarter09 commented on #14654
@Trott I tried applying both of the solutions you posed and neither work for me. I'm running the test on a Raspberry Pi 3 with Lubuntu, kernel version 4.4.38

[2017-08-08 00:20] addaleax commented on #14674
@Trott Did you try that out? If it works, great :+1: Feel free to do a PR yourself if you have the time :)

[2017-08-08 00:29] Trott commented on #14674
https://github.com/nodejs/node/pull/14681

[2017-08-08 00:31] Trott commented on #14654
@icarter09 What's the output of `./node -e "console.log(os.networkInterfaces().lo.filter((e) => e.address === '127.0.0.1'))"` on your device?

[2017-08-08 00:31] refack commented on #14638
@domenic I see your point. And I don't claim that this will make anything "up to spec" but the current implementation of the `breakLength` algorithm was also an arbitrary implementation - https://github.com/nodejs/node/commit/de1521413ef53bd63c87a9698eb3611790bc5a56#diff-38d4e5ad222633775fc89be4caa69a09R162, and I'd rather give the users an option to indent in a way that is similar to `JSON.string

[2017-08-08 00:34] icarter09 commented on #14654
[ { address: '127.0.0.1',
    netmask: '255.0.0.0',
    family:      'IPv4',
    mac:        '00:00:00:00:00:00',
    internal:    true } ]

[2017-08-08 00:46] pabigot commented on #14087
@Trott I think you meant @papakai as I have no idea what this is about.

[2017-08-08 00:49] topquant commented on #14654
Thank you very much!!!!!!! This fix worked for me.  lint does not work
(see below) but no concerns here.

/usr/bin/python tools/test.py --mode=release -J \
    async-hooks doctool inspector known_issues message parallel pseudo-tty
sequential \
    addons addons-napi
[07:49|% 100|+ 1636|-   0]:
Done
make lint
Linting is not available through the source tarball.
Use the git repo instead: git clone h

[2017-08-08 01:09] evanlucas commented on #66
@ORESoftware I've moderated your previous comment. I found it to be inappropriate for this issue tracker. We intend on keeping this issue tracker professional and would appreciate if everyone who posts here does the same.

[2017-08-08 01:12] icarter09 commented on #14654
Just noticed that I'm getting the same error as this post.

https://gist.github.com/Sharan-ram/e110dcde9cc1719e5cdb17ed7e70eab2

[2017-08-08 01:50] Trott commented on #14087
Yup, sorry.

[2017-08-08 02:44] unional commented on #13488
Still have not get a working build.

[2017-08-08 02:47] #12271 closed

[2017-08-08 03:16] nickmccurdy commented on #66
Domains are still a hack, letting the process crash is often the better option especially with forever/supervisor.

[2017-08-08 03:28] Trott commented on #14654
@icarter09 That does not look related to this issue. That's a C++ test failure. Might (or might not) be related to https://github.com/nodejs/node/issues/14206.

@topquant I've got that fix ready to go in https://github.com/nodejs/node/pull/14655. Should (hopefully) land in master in another day or two.

[2017-08-08 03:34] Trott commented on #13488
OK, good to know you're still experiencing a problem.

I'm also (indirectly, I guess) asking @nodejs/build or others if this is even supported. I mean, even if it is unsupported, you should still totally post and ask questions and hopefully people can help and everything.  But if we can't solve your problem on an unsupported platform, we're probably not going to want to leave it open for more than

[2017-08-08 04:26] pmuellr commented on #8728
Hi Nick, did you have any luck finding a good recipe?  I tried your `test1.js` and `test2.js`, and got the following results:

[code]

`test1.js` seems to be treating the `cpuUsage()` values like `hrtime()` structures, which they aren't, hence the NaNs.  `test2.js` seems to be calculating a reasonable results, for the first round, but I would have expected the second and subsequent ones to have an

[2017-08-08 07:25] mcollina commented on #5540
Yes, I think so.

[2017-08-08 07:39] papakai commented on #14087
Yes, sorry. Didn't know about https://github.com/nodejs/help. Yesterday I got pointed on that resource too in another ticket. Thanks anyway to all in here :)

[2017-08-08 08:05] MasterJames commented on #14639
Okay thanks for clarity.
Who can say something about this idea of allowing your own auth token as a full url to --inspect cli argument? or at least is semi responsible for the code involved as I tracked it down some (above).
[I'm really not sure about my pseudo example code and the parser's code in C having a 'third' function etc. nor I'm I setup to make that change submit a PR there.]

[2017-08-08 08:22] TimothyGu commented on #14639
I think that's possible, but not for your use case of having several different Node.js instances point to the same address. The original purpose of having a UUID in the URL is to prevent that.

[2017-08-08 08:30] kasicka commented on #14129
Do you have any idea when that might be?

[2017-08-08 08:42] bnoordhuis commented on #11993
Is it a node.js issue or a webstorm issue?  @eugeneo's observations suggest the latter.  If so, I suggest closing this as not-our-bug.  (I made up that label.)

[2017-08-08 08:44] bnoordhuis commented on #13488
We have no mips machines in the matrix, it's completely self-serve.  If you manage to get it working, do send a pull request.

[2017-08-08 08:49] bnoordhuis commented on #5568
It works (but then it always has, with the caveats I mention above) but it's not regularly tested.  See also https://github.com/nodejs/build/issues/419#issuecomment-220021883.  I'll close out this issue.

[2017-08-08 08:49] #5568 closed

[2017-08-08 08:50] TimothyGu commented on #14129
@kasicka 8.3.0 will be released in the next few days.

[2017-08-08 08:53] kasicka commented on #14129
@TimothyGu Isn't http2 coming with 8.4.0?

[2017-08-08 08:57] TimothyGu commented on #14129
@kasicka Right... sorry I forgot. In that case it'll be out in around two weeks.

[2017-08-08 09:30] MasterJames commented on #14639
Right, but it's all done behind a firewall so I'd prefer to just turn it off otherwise. It should be up to the developer to protect their dev environment or auth token. Randomly generating it is fine if it auto opens on the same machine, but it seems pretty probably people are running nodejs in VMs these days, and so accessing can become problematic as is. IMHO

[2017-08-08 09:32] mcollina commented on #14605
@tigerbot there is no link to the source code of `socket-pair`. Can you please rewrite the example to not use that module?
The problem it is supposed to fix is fixed in:
https://github.com/nodejs/node/commit/b23d414c7ec0674ba3cbb36427e4c29dbd396338

See https://github.com/nodejs/node/issues/12716#issuecomment-318542725.

[2017-08-08 09:36] #14555 closed

[2017-08-08 09:44] abenhamdine opened #14684 "child_process: process out of memory exit with null code, is this the expected behaviour ?"
* **Version**: 8.1.2
* **Platform**: Ubuntu
* **Subsystem**: child_process

Our application launches heavy computations in up to 8 child processes in parallel (each process runs on a cpu core).

For the first time (IIRC), we noticed today that child processes out of memory have exited with null codes.
Since our code was expecting exit code >0 to handle properly exceptions in child processes, our s

[2017-08-08 10:08] PiniH commented on #14672
Playing with it a little more - I got it to work, but I had to expose Http2ServerRequest/Response, I think it might be a good idea to expose it in general in the new http2 module.

[2017-08-08 10:36] TimothyGu commented on #14660
@bnoordhuis In master the first case returns `undefined` but the second still evaluates to `123`…

[2017-08-08 10:57] mcollina opened #14685 "build: make v8 broken"
* **Version**: master
* **Platform**: Mac OS X
* **Subsystem**: build

[code]

[2017-08-08 11:02] bnoordhuis commented on #14685
Is depot_tools on your PATH?

[2017-08-08 11:13] bnoordhuis commented on #14660
Sorry yes, I was referring to the first case.  The second one is a bug in the vm module, not V8.

(Or bug... it makes perfect sense in the proxy-to-another-object model, but it's different from a native context.)

[2017-08-08 11:15] mcollina commented on #14685
No, I've added it and now I have:

[code]

[2017-08-08 11:18] bnoordhuis commented on #14684
If a process terminates because of a signal (including self-termination through e.g. SIGABRT) then the exitCode argument of the 'exit' event is null and signalCode is set to the signal number.

IOW, it's the expected behavior.  I'll close this out; if you have follow-up questions, feel free to open an issue in the help repo.

[2017-08-08 11:18] #14684 closed

[2017-08-08 11:48] gibfahn commented on #14679
I guess a key question is how long it's been "in the wild". If something has only been included in a couple of releases (and not documented) then deprecating/removing it ASAP might be better for users than doing a full deprecation cycle.

Otherwise I don't think it matters whether we meant to expose it or not, given that we treat our code as the definition of our API.

[2017-08-08 12:26] refack commented on #11273
@mcllina any other modules should be blocked until we have a modular solution for `readable_stream`?

[2017-08-08 12:56] mcollina commented on #11273
@refack no others.

[2017-08-08 13:01] AJamesPhillips opened #14686 "Feature request: add closeTo (or approximate, delta, tolerance epsilon) for assert"
* **Version**: 8.x
* **Subsystem**: assert

[code]

[2017-08-08 13:01] mcollina commented on #14685
without `deps/v8` the tool fails with:

[code]

With  a fresh checkout:

[code]

[2017-08-08 13:41] targos commented on #14685
@mcollina if there is a `deps/.gclient` file, try to delete it.

[2017-08-08 13:45] gla5001 commented on #14638
agree that 'indent' is not the best name for the option if we choose to move forward with this. Maybe something like `breakObjects` or something ¯\_(ツ)_/¯

[2017-08-08 13:56] mcollina commented on #14685
done, but still no luck :(.

[2017-08-08 13:59] targos commented on #14685
I can `make v8` on linux without an issue. I don't know what's happening to you.

BTW why do you want to run it?

[2017-08-08 14:04] mcollina commented on #14685
I'm on Mac OS X. I'm trying running a `fetch v8` from outside. I want to run `mac-tick-processor`. I'll probably try running everything on Linux.

[2017-08-08 14:04] #14685 closed

[2017-08-08 14:13] ravindra11 opened #14689 "WHEN RUNNING DOCKER NODE Empty reply from server from node server"
root@docker:/dd/Golkonda# curl -v 0.0.0.0:8000

* Rebuilt URL to: 0.0.0.0:8000/
*   Trying 0.0.0.0...
* TCP_NODELAY set
* Connected to 0.0.0.0 (127.0.0.1) port 8000 (#0)

< HTTP/1.1 200 OK
< X-Powered-By: Express
< Access-Control-Allow-Origin: *
< Access-Control-Allow-Methods: GET, PUT, POST, DELETE, OPTIONS, HEAD
< Access-Control-Expose-Headers: X-TOTAL-COUNT
< Access-Control-Allow-Headers: Origi

[2017-08-08 14:15] targos commented on #14685
I'd try to configure node with `--enable-d8` and set the `D8_PATH` environment variable to `out/Release`. Not sure it's enough though.

[2017-08-08 14:20] mscdex commented on #14689
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

[2017-08-08 14:20] #14689 closed

[2017-08-08 14:30] Fishrock123 commented on #14662
No, please do not request link redirection. That is why we tried to name it as clearly as possible and we updated the readme.

Link redirection would break even more / make old issues / PRs / commits even harder to reference.

If anything, GitHub ought to allow a visible but locked issue tracker.

[2017-08-08 14:38] Fishrock123 commented on #14644
I'm not sure this is really requesting a feature, per-se. I am largely indifferent, if we can do the change and people want it, sure?

[2017-08-08 14:40] vsemozhetbyt commented on #14662
@Fishrock123 We do not mean any automatical redirection, just an advice in issue/pull templates.

[2017-08-08 14:43] gla5001 commented on #5444
Total noob question here, but im not grasping something fundamental here. I understand that i'll prob have to move some code around but i'm failing to see how to add a new property to the exception object. Like, how would one add the property 'foo' with value 'bar' to the exception object.

If i step through the code, I can see the `VerifyFinal` return the error enum, then `CheckThrow` is called.

[2017-08-08 14:53] jBarz commented on #14206
hey @refack Last week was extremely busy with other things.
I am going to try to get this resolved this week.

[2017-08-08 15:00] bnoordhuis commented on #5444
Like this, basically:
[code]

[2017-08-08 15:46] ulitink opened #14691 "Redundant message "Debugger listening on" after context is destroyed"
* **Version**: 8.2.1
* **Platform**: any
* **Subsystem**: inspector

Message `Debugger listening on ws://...` is printed to stderr after finishing script execution, sending 'Runtime.executionContextDestroyed' and detaching of remote debugger. Connecting again will fail because process is about to terminate after remote debugger disconnects.
[code]
The same is applied to child processes spawned wit

[2017-08-08 15:59] refack commented on #8723
@Eugeny a core dump would be nice to have. Although I think a more general solution might be based on using Windows' I/O manager - https://github.com/nodejs/node/issues/8897#issuecomment-298025451
![image](https://user-images.githubusercontent.com/96947/29081431-8e9d19d4-7c30-11e7-8816-2f717e3763f9.png)

[2017-08-08 16:07] bnoordhuis commented on #8723
@Eugeny Is that with Node v7.4.0?  What does the latest v8.x do?  v7.x is out of support.

[2017-08-08 16:14] bnoordhuis commented on #14628
I'm going to close this out again since OP didn't follow up.

@mscdex If you think this is a worthwhile feature, can you open a new issue with a better description?

[2017-08-08 16:14] #14628 closed

[2017-08-08 16:15] bnoordhuis commented on #14617
No follow-up so I'll assume this is working for you.  Closing.

[2017-08-08 16:15] #14617 closed

[2017-08-08 16:18] bnoordhuis commented on #14590
I'll close this out.  If anyone feels the current behavior isn't what it should be, please file an issue or CL with V8.

[2017-08-08 16:18] #14590 closed

[2017-08-08 16:19] bnoordhuis commented on #14553
So, what is the consensus here?  Documentation fix?  Any volunteers?

[2017-08-08 16:19] sprajagopal commented on #3604
I have this issue in node v4l2camera module

[2017-08-08 16:21] bnoordhuis commented on #14395
I'll close this out as it doesn't appear to be a bug in Node.js.  If there is evidence to the contrary, please post it and I'll reopen.

[2017-08-08 16:21] #14395 closed

[2017-08-08 16:26] bnoordhuis commented on #14475
This issue has been open for two weeks with no movement.  Anyone want to take it up with the c-ares maintainers?  FWIW, I follow the c-ares mailing list and there has been little discussion on DNSSEC so far.

[2017-08-08 16:29] bnoordhuis commented on #14326
Ping @fhinkel.  Is this something that can be fixed easily or should we consider defaulting to `--nonative_context_specialization`?

[2017-08-08 16:31] bnoordhuis commented on #14115
I believe @sam-github's conclusion was that Windows FIPS support is basically unattainable.  I'll close this out, reopen if I'm mistaken.

[2017-08-08 16:31] #14115 closed

[2017-08-08 16:33] refack commented on #14115
@sam-github do post a post-mortem please...

[2017-08-08 16:33] bnoordhuis commented on #14060
Since no one replied I'll go ahead and close out the issue, reopen if that's a mistake. :-)

(But note that to reopen is to volunteer.)

[2017-08-08 16:33] #14060 closed

[2017-08-08 16:34] addaleax commented on #14060
Sorry, this has actually been fixed in https://github.com/nodejs/node/pull/13985, I think

[2017-08-08 16:51] aojiaotage commented on #12877
Anyone +1 on this?

[2017-08-08 17:15] fhinkel commented on #14326
Sorry, no idea. 51 (Node 6) was cut before I joined the team.

[2017-08-08 17:20] Uter1007 commented on #8369
The missing sourcemaps problem occures only on my windows system (with latest nodejs version 8.2.1). On my Ubuntu system + on a friends mac system everything works fine.

[2017-08-08 18:31] darcyclarke commented on #13387
@gmuc You might find this helpful; I just launched a tool to wrap the `node --inspect` command and automatically open the devtools panel for you (it's called **rawkit**). It does require installing a *Chrome Extension* (which is the only way to open that kind of url) but it resolve this compatibility issue with the type of link generated from `--inspect` / `--inspect-brk` pre/post `v8.x` releases

[2017-08-08 19:14] ORESoftware commented on #66
@evanlucas censorship always appreciated

[2017-08-08 19:17] addaleax commented on #66
@ORESoftware We have a [Code of Conduct](https://github.com/nodejs/TSC/blob/master/CODE_OF_CONDUCT.md) that asks you to be respectful of other people’s viewpoints and refrain from using language that “could reasonably be considered inappropriate in a professional setting”.

If you don’t feel comfortable with that, it might be easier to take a step back; Node’s project leadership is standing behind

[2017-08-08 19:46] ORESoftware commented on #66
Imma read the CoC right now to see if my microaggression actually violated it.

[2017-08-08 19:48] ORESoftware commented on #66
Yep, looks like I violated point 1

* Using welcoming and inclusive language

whoops, my bad fam

[2017-08-08 20:22] gibfahn commented on #13387
@darcyclarke I think the original issue was to do with running `node --inspect` inside a docker container, does `rawkit` work in docker?

[2017-08-08 20:46] darcyclarke commented on #13387
@gibfahn yep. Again, I normalize the `chrome://dev-tools` URL from the output of `node --inspect` so if you're running a newer version of node and get the `ws://` socket reference then we can provide you with a relevant debugging URL. That said, I currently do not output that reference; it is just used to immediately open the devtools. As mentioned, I definitely *could* add that feature behind som

[2017-08-08 21:05] MSLaguana opened #14699 "Why does the global process object have its prototype replaced?"
* **Version**: All
* **Platform**: All
* **Subsystem**: process

I have been investigating some behaviors of node-chakracore, and I found some confusing code around the `process` object. In https://github.com/nodejs/node/blob/master/lib/internal/bootstrap_node.js#L17 the global `process` object instance has its `__proto__` replaced with a fresh object that in turn has ` __proto__` of `EventEmitter

[2017-08-08 21:13] telmich commented on #6307
Not sure if this is the right bug, but IPv6 support seems to be seriously broken since 0.10... until and including v6.11.2. No version (also not 4.8.2 or 4.8.4) are capable of working in IPv6 only networks (as originally described in https://github.com/bitinn/node-fetch/issues/66). It seems that npm is only trying IPv4, where everything else works.

This breaks various software building on top of

[2017-08-08 21:15] telmich commented on #6307
I am sorry, I actually meant to refer to https://github.com/npm/npm/issues/6857

[2017-08-08 21:41] bnoordhuis commented on #14699
Just so we are on the same page, you are essentially asking for this change?
[code]
To be honest, I don't know why we do what we do.  `process.constructor.name === 'process'` and `Object.prototype.toString.call(process) === '[object process]'` either way.

[2017-08-08 21:50] necrose99 opened #14700 "make bintar"
sure i could use the arm release however , its a 64 bit Kernel and user space...  (ARM64)

make BINTAR   makes a  binary tarball release..  tar node.js , binary artifacts etc..

make DEB , MAKE RPM  , make an (ARM64) binary RRM or DEB ,   makes distribution packages

current release dose compile nicely on arm64. , albeit slow.   thus having a distro-pack would be nice.
https://wiki.debian.org/Rasp

[2017-08-08 21:51] MSLaguana commented on #14699
Even simpler than that end result: `Object.setPrototypeOf(Object.getPrototypeOf(process), EventEmitter.prototype)`

Unless there is some underlying reason, then this would seem to be more intuitive.

Do note that just because `process.constructor.name === 'process'` that has no relation to `process.toString() === '[object process]'`; if you left off the `constructor` method on the copy that is cur

[2017-08-08 21:58] strugee commented on #14700
@necrose99 I'm a bit confused as to what you want. Support for making distribution packages in the build system?

[2017-08-08 22:19] maenthoven commented on #11993
This is a node.js issue. It occurs on command line.

One small note may be that many of the files imported include Object.create() inheritance:

MySnippeter.prototype = Object.create(BaseSnippeter.prototype);

[2017-08-08 22:37] jasnell commented on #14671
@chiptus ... can you confirm that you're still having an issue after passing in the TSL options on the connect?

[2017-08-08 23:08] mscdex commented on #14700
I don't understand what is being requested either. There are already armv8 binaries being produced, which should work fine on 64-bit kernel and userland.

If you're asking for a distro repo, have you checked https://github.com/nodesource/distributions?

[2017-08-08 23:11] #13778 closed

[2017-08-08 23:17] strugee opened #14704 "Ability to introspect the event loop"
(Leaving out the issue template as this is a feature request - hopefully this is okay; CONTRIBUTING.md doesn't really specify.)

I'm the maintainer for [pump.io](https://github.com/pump-io/pump.io), a server written in Node.js. I'm working on a feature to implement zero-downtime restarts which involves gracefully shutting down and then respawning cluster processes. Basically the way this works is

[2017-08-09 01:01] strugee commented on #14704
For anyone stumbling on this issue in the future, https://www.npmjs.com/package/wtfnode is apparently a thing. It is not a Good Thing:tm:, however, because private methods.

[2017-08-09 02:05] TimothyGu commented on #14367
@gabrielschulhof I think this issue could be closed now, right?

[2017-08-09 02:13] matthewwiesen opened #14705 "User defined SSL CA environment variable should always be honored"
Per @silverwind's request, I'm creating a separate issue that I had brought up over here:
* https://github.com/nodejs/node/issues/8381#issuecomment-320317963

Node.js implements the following environment variables for the user to augment Nodes default certificates list:

https://nodejs.org/api/cli.html#cli_node_extra_ca_certs_file
https://nodejs.org/api/cli.html#cli_ssl_cert_dir_dir
https://nodejs

[2017-08-09 02:16] matthewwiesen commented on #8381
@silverwind Created #14705 to track that separately of this.

[2017-08-09 02:50] refack commented on #11993
@maenthoven is there a way to reproduce this issue? Is your project available as open source, or could you contact me privately?

[2017-08-09 02:57] nickstanish commented on #8728
Thanks for taking a look. After trying some more, I created a [new example](https://github.com/nickstanish/node-test-process-cpuusage/blob/6079fecf42884ed4b27b6ca379f95ec4e0618936/test5.js) similar to test2 that is having results much more similar to what you would see in activity monitor.
The trick here was to keep the elapsed time as close as possible to the refresh rate in activity monitor (bas

[2017-08-09 03:36] refack commented on #6307
@telmich just for clarity, there is a separation of responsibility between `node` and `npm` (although there is obviously strong coupling), and `node` does support other package managers.
My question is, can you make it clear whether node isn't working for you in an IPv6 only environment, or is it npm that fails?
If it is the former, can you open a new issue? Optimally with a clear description of t

[2017-08-09 03:43] refack commented on #6307
@benschulz and @igalic will a configuration mechanism that will reorder/restore-the-order of `getaddrinfo` result fulfill the requirements of your use case?
Such a mechanism could be an environment variable (like `NODE_OPTIONS`), a global variable (like `require.extensions`) or a cli flag (like `--zero-fill-buffers`)

[2017-08-09 04:38] refack commented on #14699
@MSLaguana I dug a little and he're the story:
It was made to inherit EE but be considered of class `process`
https://github.com/nodejs/node/commit/6d70a4ae162e0f364c45ac2ad6d008bf99aae47f
Then is was decided to just copy the `ctor` property instead of just the value
https://github.com/nodejs/node/commit/e0bc5a7361b1d29c3ed034155fd779ce6f44fb13

if you can make the tests pass, you can PR a change,

[2017-08-09 04:43] MSLaguana commented on #14699
Thanks @refack, I'll give it a go. Just wanted to make sure there wasn't some subtle reason that I was missing.

[2017-08-09 04:48] Trott commented on #14704
Hi @strugee!

Check out https://github.com/nodejs/node/issues/1128 for a previous discussion.

I *think* this is now possible to accomplish with the experimental [async-hooks](https://nodejs.org/api/async_hooks.html).

[2017-08-09 04:51] Trott commented on #1128
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-09 04:51] #1128 closed

[2017-08-09 05:48] gabrielschulhof commented on #14367
Actually, `napi_wrap()` isn't using it yet. It's only being used for the
`napi_env` so far.

On Wed, Aug 9, 2017 at 5:06 AM, Timothy Gu <notifications@github.com> wrote:

[2017-08-09 06:07] starkwang commented on #14554
I've opened an issue (https://github.com/nodejs/node/issues/14216) and a PR (https://github.com/nodejs/node/pull/14250) earlier before about separating the error codes to a new module, but the errors are still being migrated so they are blocked temporarily. IMHO, the appropriate time to do these is after the migration are done.
(But the migration is slower than I expected 😣 )

[2017-08-09 07:34] thany commented on #14609
So `question()` moves the cursor to the beginning of the line, but not to the next line? That seems like a bug to me. But strangely, that is not something done by accident. Moving the cursor back is more involved than just spewing out a newline... Was this (what I call a bug) introduced on purpose for any good reason?

[2017-08-09 08:03] hsiliev commented on #13464
Works like charm. Thanks for the fix

[2017-08-09 08:28] bnoordhuis commented on #14705
Sorry @silverwind but I think you're mistaken on this: programmatic configuration should always trump configuration through the environment.

[2017-08-09 08:31] bnoordhuis commented on #14700
I think this has been answered, I'll close it out.  Can reopen if needed.

[2017-08-09 08:31] #14700 closed

[2017-08-09 08:41] vsemozhetbyt commented on #14609
cc @nodejs/collaborators Who know `readline`'s quirks well enough?

[2017-08-09 08:51] bnoordhuis commented on #14609
`.question()` is a wrapper around `.prompt()`, which is documented to behave as such.

[2017-08-09 08:58] bnoordhuis commented on #14139
CL was merged in v8/v8@de3a85d1c1d4f3cfe4dc07663c7e0efc52be0d68.  I don't think it's important enough to back-port but if anyone disagrees, feel free to open a PR.  Closing.

[2017-08-09 08:58] #14139 closed

[2017-08-09 09:02] bnoordhuis commented on #14115
Sam is on holiday but the big blocker was the CRT to link against - /MT vs. /MD - which you are not allowed to change if you want to be FIPS-compliant (and compliance is the point of this exercise.)

https://mta.openssl.org/pipermail/openssl-users/2017-July/006097.html for the interested.

[2017-08-09 09:32] j3l11234 commented on #8369
╮(╯_╰)╭
Work on mac，Node 7.9.0 Chrome 59
Don't work on windows Node 7.9.0, Chrome 60
But, I run Node on mac. then forward port to windows, The Chrome on windows works!
I can tell the problem occures on windows's Node

[2017-08-09 09:43] bnoordhuis commented on #8369
@j3l11234 You may be hitting #10838.  tl;dr Inspector wants URLs, Windows file paths aren't.

[2017-08-09 09:47] chiptus commented on #14671
this is not working. is `ca.pem` the same as the certificate passed to `http2.createSecureServer`?

should these options be documented?

[2017-08-09 09:57] j3l11234 commented on #8369
╮(╯_╰)╭ @bnoordhuis How can I do to pass the bug? Such as modify configure?

[2017-08-09 10:36] okyantoro commented on #14544
I am interested in doing this. Where should I start?

[2017-08-09 10:55] igalic commented on #6307
env options or global config vars would work.
cli options would not, cuz you don't know how many layers of software you're working under…

the (often unknown (to an end-user)) layers of indirection are also why it takes so long for people to pup up ***here*** after having exhausted all other venues.
when you read thru people's debugging history of this bug it's always,

* blame the setup
* verify

[2017-08-09 11:07] telmich commented on #6307
For us it was even more painful, because we migrated rocketchat to the IPv6 network and it partially works (as in: it can receive connections!), but it cannot connect to elsewhere.

I think this should really *not* be a configuration option, as most other software in the world has solved it properly now, without the need for quirk or tuning.

Implementing happy eyeballs should not be hard and woul

[2017-08-09 11:13] okyantoro commented on #14544
Hi @refack

I am looking for an issue for my first contribution. May be I can work on this?

[2017-08-09 11:20] vingrad commented on #13077
+1

[2017-08-09 11:21] igalic commented on #6307
@telmich re configuration option: https://tickets.puppetlabs.com/browse/SERVER-393
despite the JVM defaulting to prefer IPv6 for *binding* in dual-stack setups (see https://docs.oracle.com/javase/8/docs/api/java/net/doc-files/net-properties.html), it doesn't seem to do the same for outgoing connections

[2017-08-09 11:45] tniessen commented on #14475
@bnoordhuis My recent inquiry to their mailing list didn't get any attention, and the only relevant PR I can find is https://github.com/c-ares/c-ares/pull/20, which was closed after more than two years without being merged, and with months of inactivity :confused:

[2017-08-09 12:09] necrose99 commented on #14700
you do not have arm64 thus i was asking for a script to do that.  but i'll give the other a go.

[2017-08-09 12:11] tniessen commented on #14686
I am definitely +1 on having `assert.closeTo(actual, expected, delta)`, assuming `actual` and `expected` are numbers. For all other instances, e.g. numbers inside objects as in your snippet, I am not sure this is a good idea.

[2017-08-09 12:13] ScionOfBytes opened #14712 "message: read ECONNRESET, stack: Error: read ECONNRESET when calling a HapiJs server from a Go client inside a docker container."
* **Version**: 6.11.1
* **Platform**: Ubuntu 14.04 inside a docker container.
* **Subsystem**: http

A very unique problem faced when calling an endpoint in a Node project running a hapijs server. When the endpoint is hit directly, there aren't any problems.

But when we hit it from a [gohaqd](https://github.com/Codigami/gohaqd) instance, we get:

[code]

and more often

[code]

I know the error c

[2017-08-09 12:39] bnoordhuis commented on #6307
You can do this in your application right now, you don't have to wait for node to do it for you.

Matter of fact, I don't think node should because it's absolute hell to debug when it goes wrong.  A cure worse than the disease.

@telmich FWIW, I don't think your issue is this issue.  I can testify from first-hand experience that node can work just fine in an IPv6-only environment.  If you have a t

[2017-08-09 12:46] bnoordhuis commented on #14475
Yes, I saw that PR.  I think the conclusion has to be that upstream support isn't going to happen anytime soon.

For people coming here through search engines, the status at the time of writing is that:

1. `dns.lookup()` transparently supports DNSSEC if the system resolver does.
2. `dns.resolve()` and friends do not.

Closing, blocked on upstream support.

[2017-08-09 12:46] #14475 closed

[2017-08-09 12:49] bnoordhuis commented on #14686
What is our current stance on extending assert?  Are we still saying it's more or less frozen or did we backtrack on that?

cc @Trott - you probably have an opinion.

[2017-08-09 12:51] bnoordhuis commented on #13077
@vingrad Don't do that, posting context-free "+1" comments.  You end up spamming a ton of people.

[2017-08-09 12:58] telmich commented on #6307
@bnoordhuis Well, the authors of NPM seem to disagree with you. If you look at https://github.com/npm/npm/issues/6857 it shows that npm does not work in IPv6 only networks, because of core dns issues which brings me to #6307 - wait, this is here again.

I have the feeling that you are holding up to a theory ("hell to debug") that is not true in practice. I highly recommend to have a look at the co

[2017-08-09 13:23] bnoordhuis commented on #6307
Fine, but the authors of npm don't know node as well as I do.

Have you actually _read_ through this issue?  I'm pushing for abandoning the current hack we have.

[2017-08-09 13:29] bnoordhuis commented on #14712
It means the write went through immediately; i.e., the `write(2)` system call accepted the data, node didn't need to buffer.  Business as usual, nothing to worry about.

Can you post this to the help repo?  This isn't clearly a bug in node, but if it does turn out to be one, I can reopen.  Thanks.

[2017-08-09 13:29] #14712 closed

[2017-08-09 13:36] TimothyGu commented on #14686
I'm -1 on adding more features to `assert` module in general. There is a variety of great userspace alternatives that already have this feature with much more clearly defined semantics and flexibility for change. Though the `assert` module API has become unfrozen, `assert.deepEqual` alone has drawn numerous discussions/bikeshedding around what it should do regarding special edge cases like Maps an

[2017-08-09 14:08] j3l11234 commented on #10838
╮(╯_╰)╭
I found a temp workaround.

[code]
[code]
Then I use inline sourcemap in `main.js`
I works on my windows Chrome!

[2017-08-09 14:20] bnoordhuis commented on #14614
Looks like this has been answered.  I'll close it out.

[2017-08-09 14:20] #14614 closed

[2017-08-09 14:26] joaolucasl commented on #14146
If it makes sense to implement these non-existent functions both for `ServerResponse` and for `OutgoingMessage`, I'd like to take a crack at it!

[2017-08-09 14:29] bnoordhuis commented on #14648
@silverwind Is the conclusion that this isn't possible?  If yes, can you close it out?

(Aside: adig -- like c-ares -- indeed doesn't support AXFR, it only recognizes the tag.)

[2017-08-09 14:32] bnoordhuis commented on #14593
@refack Any news?

[2017-08-09 14:34] pmuellr commented on #8728
Great!

Agree that we should fix the test; would you like the "honors"?  Otherwise I'll try to get around to it this week or next ...

[2017-08-09 14:34] shivanth commented on #14544
@okyantoro @refack A little with held upwith stuffs, Feel free to reassign this

[2017-08-09 14:52] tniessen opened #14713 "Tracking Issue: DNS features requiring c-ares support"
There is a growing list of feature requests for the DNS module which require upstream changes for an efficient implementation within node.

- [ ] https://github.com/nodejs/node/issues/14648: c-ares does not support multiple response messages for a single question, making AXFR queries impossible to implement within node.
- [ ] https://github.com/nodejs/node/issues/14475: c-ares does not support DNS

[2017-08-09 15:21] silverwind commented on #14648
Yes, we can close it, I just don't want it to be forgotten. Let's see what comes out of https://github.com/nodejs/node/issues/14713, otherwise I'll open an issue on the c-ares tracker.

[2017-08-09 15:21] #14648 closed

[2017-08-09 15:40] kevinburke opened #14714 "Buffer.slice: Document behavior if end > slice.length"
The [documentation for Buffer.slice](https://nodejs.org/api/buffer.html#buffer_buf_slice_start_end) says this about end:

It does not describe what happens if end is greater than the length of the buffer. Does Node return a buffer of length (end - start) with zero values for the extra values? Does it return a shorter buffer? Does it throw a RangeError?

[2017-08-09 15:42] okyantoro commented on #14544
I observed some test files and I found [parallel/test-http-methods.js](https://github.com/nodejs/node/blob/master/test/parallel/test-http-methods.js) only covered GET, HEAD and POST and the last case compares the http.METHODS with http.METHODS.sort()
My question is why is just those three methods covered? Is it okay to add cases to check existence of other methods like PUT, DELETE etc?
Thanks

[2017-08-09 15:42] refack commented on #14593
First @Maximus5 patched ConEmuHK.dll so it does not leak or swallow WIN32 errors anymore - https://github.com/Maximus5/ConEmu/commit/5324aa03500fdb9d198f152c93f23eed57113858
I had a bit of trouble with https://github.com/nodejs/node/pull/14641, but I think it's something I can manage once I get a free hour. That PR should close this issue.

[2017-08-09 15:53] shigeki commented on #14628
Currently, `verifyer.verify()` supports three types of pem formats of an RSA public key as pcks#1, pcks#8 and x509 cert with looking at each pem headers. If we have an additional support of der(binary) format, I guess we need to add an new option to specify such types. So I think the current supporting only pem format is better.

[2017-08-09 15:59] cjihrig commented on #14714
Care to submit a documentation PR?

[2017-08-09 16:21] mscdex commented on #14700
armv8 is 64-bit ("arm64").

[2017-08-09 16:27] coolaj86 commented on #14605
Here is the source of socket-pair:

https://git.daplie.com/Daplie/socket-pair/blob/master/lib/socket-pair.js

[2017-08-09 16:37] #12716 closed

[2017-08-09 16:44] coolaj86 commented on #14605
@mcollina This is a workaround that's about 4 levels deep. The topmost error that needs to be tested is https://github.com/nodejs/node/issues/8752.

However, if that solution happens to work now, it only means that the workaround for this current issue is to use that prior solution... as a workaround - meaning that there is still a bug.

@tigerbot Have you tried using `stream-pair`? Or nothing at

[2017-08-09 16:50] stevenvachon commented on #3591
Is this not solvable with [`Headers`](https://developer.mozilla.org/en-US/docs/Web/API/Headers)?

[2017-08-09 17:51] martinkuba opened #14717 "async_hooks experimental status"
We are looking at using async_hooks to maintain state in our instrumentations when async/await is used.  What is your recommendation for using async_hooks in production code at this point?

We realize that it is marked as experimental API. However, it is not gated with a flag. Is the API likely to change? When do you think it will come out of experimental status?

[2017-08-09 17:54] tniessen commented on #14717
cc @nodejs/async_hooks

[2017-08-09 18:00] #14178 closed

[2017-08-09 18:50] nickstanish commented on #8728
Yeah, here it is: https://github.com/nodejs/node/pull/14706

[2017-08-09 19:00] refack commented on #14137
Enough talk, time for action

[2017-08-09 19:00] #14137 closed

[2017-08-09 19:10] hinell commented on #8369
The problem still persist when debugging nodejs apps.
`Chrome`: **Version 60.0.3112.90 (Official Build) (64-bit)**
`Node`:  **v8.2.1**
`Platform`: **Windows 10 x64 Pro**
Sourcemaps are generated by `TypeScript` compiler.

[2017-08-09 20:01] ellogwen opened #14719 "path.resolve outputs wrong directory on Windows 10"
I noticed that webpack outputted my bundle on the wrong directoy, so I tried to find the issue and could reproduce a wrong path.resolve as seen in my example below

Version: output of `node -v`
6.11.1

Platform: output of `uname -a` (UNIX), or version and 32 or 64-bit (Windows)
Windows 10 64-Bit

Subsystem: if known, please specify affected core module name
None, as far as I know

When I run the f

[2017-08-09 20:06] ss23 commented on #13801
As pointed out by other people, there is no way to use the current implementation of crypto.createCipher safely.
Would the developers accept a PR removing it completely?

[2017-08-09 20:14] iangcarroll commented on #13801
@ss23: See https://github.com/nodejs/node/pull/13941, which does that. Just need to finish it up as it seems to break with FIPS mode enabled.

[2017-08-09 20:20] evanlucas commented on #14686
I think I would rather see this in the ecosystem / published to npm than put in core.

[2017-08-09 20:20] mscdex commented on #14719
The documentation for `path.resolve()` says:

Given that, the behavior here is working as intended.

What you want instead is probably something like `path.join(__dirname, 'public')`, which will return `'d:\\Projekte\\testing\\public'`

[2017-08-09 20:21] #14719 closed

[2017-08-09 20:32] ellogwen commented on #14719
wow am I stupid... Now I wasted someones time because I didn't notice this. Sorry for that.

[2017-08-09 20:38] refack commented on #14717
@martinkuba hello, a little bit of context:
1. The module isn't gated with a flag since the code that implements it is very pervasive, and essentially it's impossible to turn it off, so a flag would have been a "false flag".
2. Indeed the `experimental` demarcation is there to indicate that the API might change with no correlation to `semver` rules. But the work that has been done during the `v8.x

[2017-08-09 20:58] refack commented on #14719
@ellogwen don't berate yourself. It's an honest mistake, and I'm sure everyone is happy this could be resolved so quickly :wink:

[2017-08-09 21:13] refack commented on #14686
Hello @AJamesPhillips and welcome!
`node` core has a general notion of "small core" in that there is motivation to keep core small, adding only functionality that is impossible or hard to implement in "userland".
So while your suggestion has obvious merits, as the people above commented, it's easy to implement, and thous it's not an obvious candidate for inclusion in a core module.
`node` operates

[2017-08-09 21:13] #14686 closed

[2017-08-09 21:15] refack commented on #14686
P.S. I closed this feature request, but feel free to reopen if you think I'm wrong. And @AJamesPhillips you can contact me directly if you would like more information.

[2017-08-09 22:13] benschulz commented on #6307
I wonder whether the best way forward is an opt-in which can be turned into opt-out with some major version change and ultimately be removed (hopefully).

[2017-08-09 22:57] AndreasMadsen commented on #14717
In my opinion: treat it as if it were behind a flag.

I can almost guarantee there are going to be API changes, although we will try to make them backward compatible in 8.x, but that is only until it becomes to inconvenient.

During 8.x we have already deprecated 6 function calls or something like that.

[2017-08-09 23:04] fvdm commented on #14475
What's the point of having two different dns libs integrated into one? Why not simply remove the c-ares dependency and refactor the dns.js methods to use the system resolver, just like `dns.lookup()` already does?

[2017-08-09 23:18] AndreasMadsen commented on #14238
I'm on vacation until the 18th, so I won't comment on this again until after the 18th.

If you say that is how the documentation should be read then I can't really argue against that. But I will say that I don't read it that strictly.

Indeed the strictest interpretation of asynchronous would mean that stacking (before(1), before(2), after(2), after(1)) isn't allowed.

In any case, I don't think h

[2017-08-10 01:48] #14654 closed

[2017-08-10 02:01] Trott commented on #14544
Assuming it isn't duplicating another test that we already have, more test coverage is 👍

[2017-08-10 03:10] #8728 closed

[2017-08-10 03:37] not-an-aardvark opened #14726 "require() autocompletion in repl incorrectly removes file extensions from folders"
* **Version**: 8.3.0
* **Platform**: macOS
* **Subsystem**: repl

If a folder name ends in `.js`, the autocomplete suggestion in the repl will incorrectly remove the extension from the folder name.

To reproduce:

1. `mkdir foo_bar.js`
1. `touch foo_bar.js/index.js`
1. `node`
1. In the repl, enter `require('./foo_` and press Tab

The autocomplete suggestion is `require('./foo_bar')` rather than `r

[2017-08-10 04:39] Trott commented on #10843
`domain` does have that funny "pending deprecation" notice. Now that `async-hooks` has arrived, are we anywhere close to actually giving `domain` a doc-only deprecation that doesn't have the "pending deprecation" ambiguity/confusion? Or not yet? I have no interest in pushing for a runtime deprecation or anything like that, but I would like the docs to be clear about the status.

[2017-08-10 04:43] Trott commented on #4531
Any chance someone is in a position to move this forward? Or should we label this `stalled` and/or `help wanted`?

[2017-08-10 04:43] Trott commented on #7803
Same question I just posted to https://github.com/nodejs/node/issues/4531: Is anyone in a good position to move this issue forward? Or should we add a `stalled` and/or `help wanted` label? Or something else?

[2017-08-10 04:47] Trott commented on #9654
I'm going to put a `ctc-review` label on this to at least try to get some input on whether this should be changed or not. @nodejs/ctc

[2017-08-10 04:49] Trott commented on #10154
Labeled `blocked` as (IIUC) nothing can happen until https://github.com/libuv/libuv/pull/1191 lands first.

[2017-08-10 04:51] Trott commented on #10238
I'm confused if the `winpty` would be considered a solution or merely a workaround. Which is it?

[2017-08-10 04:55] Trott commented on #11855
This discussion seems to have run its course. I'm going to close, but if you think that's wrong and there's something concrete, feel free to re-open (if GitHub allows) or comment (requesting it be re-opened if you wish) or open another issue as appropriate.

[2017-08-10 04:55] #11855 closed

[2017-08-10 04:57] Trott commented on #5794
Should this remain open?

[2017-08-10 05:00] Trott commented on #10768
Removing `v7.x` label as that release line is no longer supported.

[2017-08-10 05:02] Trott commented on #12802
@nodejs/http

[2017-08-10 05:04] Trott commented on #12531
This is still a thing, right?

[2017-08-10 05:05] Trott commented on #12816
7.x release line is no longer supported so I think this can be closed.  If I'm wrong and this is a bug-and-not-a-feature in 8.x, please re-open (if GitHub allows) or comment.

[2017-08-10 05:05] #12816 closed

[2017-08-10 05:07] Trott commented on #12813
Anybody up for volunteering for these doc improvements?

[2017-08-10 05:08] Trott commented on #12786
Should this remain open?

[2017-08-10 05:12] Trott commented on #11135
@nodejs/documentation Is there a way to triage and unstall this?

[2017-08-10 05:49] TimothyGu commented on #11855
FWIW the work for creating a Node.js-specific v8::Platform is being done at https://github.com/nodejs/node/pull/14001. In that PR, it was [decided](https://github.com/nodejs/node/pull/14001#issuecomment-321453386) *not* to merge the libuv and V8 thread pools into one, but instead manage them separately for performance.

[2017-08-10 06:01] #14674 closed

[2017-08-10 06:21] Trott commented on #11751
@roblourens Is this defect still present in Node.js 8.3.0?

[2017-08-10 06:26] TimothyGu commented on #11751
Can't reproduce anymore in 8.2.1 even.

[2017-08-10 07:14] bnoordhuis commented on #12802
Rejecting definitely wrong values is a good idea.  I've added the good-first-contribution label.

[2017-08-10 07:17] bnoordhuis commented on #5794
I don't think there is agreement that this is a bug so I'll go ahead and close it out.

[2017-08-10 07:17] #5794 closed

[2017-08-10 07:30] bnoordhuis commented on #4531
Moving to https://github.com/nodejs/build/issues/829.

[2017-08-10 07:30] #4531 closed

[2017-08-10 07:50] bnoordhuis commented on #9654
IMO, it would be consistent for `Buffer.isEncoding()` to accept any encoding that `Buffer.from()` accepts.  That is:
[code]
The alternative is to make `Buffer.from()` and friends reject such values but that is almost certainly going to result in (possibly significant) ecosystem breakage.

Another alternative is to simply state in the documentation that `Buffer.from()` accepts them from legacy reas

[2017-08-10 08:00] bnoordhuis commented on #14475
@fvdm Performance.  The system resolver is usually fuller featured but it tends to fall over when you do 10,000 lookups in parallel.

[2017-08-10 08:01] gibfahn commented on #10238
I _think_ it's a necessary evil on cygwin, but @nodejs/platform-windows would know more than me.

[2017-08-10 08:02] gibfahn commented on #12531
Yep, just confirmed on `master`.

[2017-08-10 08:54] mingditts opened #14729 "Process exit with code 0 without any explicit call to process.exit() on node 6.9.4"
* **Version**: 6.9.4
* **Platform**: Linux raspberrypi 4.4.45-v7+ 954 SMP Fri Jan 27 19:06:40 GMT 2017 armv7l GNU/Linux
* **Subsystem**:

An important problem occurs in my application. After some time (12/24 hours) the process exits silently with code 0. No explicit calls of process.exit(). No unhandled exception signal raised.
It's important for me to understand what is the problem.
My applicatio

[2017-08-10 09:08] TimothyGu commented on #13209
A complex AST-based approach is being implemented in Chrome Dev Tools ([CL](https://chromium-review.googlesource.com/c/601509)). We're probably going to have to go down the same route if we were to implement the same in the REPL.

[2017-08-10 09:11] bnoordhuis commented on #14729
Barring evidence of an actual bug in node, this should be asked in the help repo.  I'll add though that without more info or steps to reproduce, you are unlikely to get much help.

[2017-08-10 09:11] #14729 closed

[2017-08-10 09:37] chicoxyzzy commented on #13209
While I'm still against this proposal, I hope that feature discussed here will work at least the same way is in Webkit, if someday will be implemented

[2017-08-10 09:41] bnoordhuis commented on #6307
I was under the impression a `dns.lookup()` option was added some time ago that returns the results as-is but seems I was mistaken.  I opened #14731 to add one.

[2017-08-10 10:37] antonaut commented on #6547
In case someone else lands here with the same problem, the solution in #4329 worked out fine for me.

[2017-08-10 10:49] tniessen commented on #9654
I'd definitely support this, `Buffer.isEncoding()` should only return true for strings that specify an existing encoding, while `Buffer.from` may accept other inputs for backward compatibility.

[2017-08-10 10:56] vsemozhetbyt opened #14733 "builtinLibs has not inspector module"
Is there a reason that [`builtinLibs`](https://github.com/nodejs/node/blob/e71e71b5138c3dfee080f4215dd957dc7a6cbdaf/lib/internal/module.js#L79-L84) has not [inspector module](https://github.com/nodejs/node/blob/ea927b3711dbd8032709dfec6f9736a181a522b9/doc/api/inspector.md)? Is it because of experimental status or because of inappropriateness in use cases ([in REPL](https://github.com/nodejs/node/b

[2017-08-10 11:02] XadillaX opened #14734 "dns: occasionally crashing in resolve4 and setServers"
* **Version**: v9.0.0-pre (master)
* **Platform**: Darwin zanarpro 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64 i386 MacBookPro11,3 Darwin
* **Subsystem**: c-ares

Here's the code:

[code]

And the Node.js will occasionally crash with:

[code]

[2017-08-10 11:02] XadillaX commented on #14734
I'm going to fix this issue.

[2017-08-10 11:10] TimothyGu commented on #14733
Will be fixed in https://github.com/nodejs/node/pull/14710

[2017-08-10 11:22] hashseed commented on #13877
@bmeck, you mentioned that there are instances of ArrayBuffer with external off-heap backing store. Do you have any pointers for me on that? This may be solved simply by adding more logic to the array buffer allocator on Node side.

[2017-08-10 11:31] tniessen commented on #10238
As far as I know it is necessary to use `winpty` as long as we are compiling with MSVS.

[2017-08-10 11:31] vsemozhetbyt commented on #14733
@TimothyGu Thank you. Should I close this issue or will you add "Fixes:"?

[2017-08-10 11:59] joyeecheung commented on #14669
FWIW `make test-addons-clean` works when you do it before switching branches...

[2017-08-10 12:00] mattiash opened #14736 "tls client does not accept certificates with IPv6 subjectAltNames"
* **Version**: 6.3.1 and 8.2.1 (at least)
* **Platform**: OS X and Linux (at least)
* **Subsystem**: tls

TL;DR

Node's tls client does not accept certificates signing IPv6 addresses, only certificates with IPv4 addresses are accepted. Both IPv6 and IPv4 should be accepted.

Long version

It is possible to generate TLS certificates that sign IP addresses if you add the IP addresses as alternative

[2017-08-10 12:50] mattiash commented on #14736
With the following patch

[code]

the error-message printed by the testcase changes to

    Test 1 failed: Shall connect to ::1. Error:  IP: ::1 is not in the cert's list: 127.0.0.1, 0:0:0:0:0:0:0:1

Now we also need to change all IPv6 addresses into some canonical format before the comparison. And do a proper patch for _http_agent that doesn't break other stuff...

[2017-08-10 13:05] refack commented on #14669
`git clean -xdf` but it's strong stuff

[2017-08-10 13:06] #12274 closed

[2017-08-10 13:44] cjihrig commented on #9654
I'm in favor of that approach.

[2017-08-10 14:25] bzoz commented on #8667
Should this remain open?

[2017-08-10 14:27] bmeck commented on #13877
@hashseed I think most of the cases are fine, but [Buffer.allocUnsafe](https://nodejs.org/api/buffer.html#buffer_class_method_buffer_allocunsafe_size) and Buffer.allocUnsafeSlow are probably not able to be made internalized to my knowledge.

Since we never use kExternalized; you can get a list like below easily from grepping the source.

* Allocated but look to act like Internalized https://github

[2017-08-10 14:28] WoZ opened #14741 "Extended memory info for linux"
Hi! Is there a chance to receive extended mem statistics for linux?

Node uses http://man7.org/linux/man-pages/man2/sysinfo.2.html anyway in https://github.com/nodejs/node/blob/cc8fc462f1817c6443ddb288440ca349bd644bdd/deps/uv/src/unix/sysinfo-memory.c#L31

I understand that there are another implementations exist for win, freebsd, etc. But reading of `/proc/meminfo` is overkill.

[2017-08-10 14:31] mscdex commented on #14741
You should post this feature request to the [libuv issue tracker](https://github.com/libuv/libuv/issues) instead.

[2017-08-10 14:32] birjolaxew commented on #14644
Is there a reason for removing this *now*? It's a fun bit of trivia that adds flavor without harming anyone - it would be trivial to remove should an actual error 418 be added to HTTP (or should enough errors be added that it starts running out of numbers).

[2017-08-10 14:36] jasnell commented on #14644
Yes. Given that changing it would require a full semver-major deprecation style, beginning the process of deprecating this now allows us to adopt any future *real* 418 status code much faster later on. We are *already* committed to keeping the `I'm a teapot` status in 8.x which will be supported for the next 32 months. If we wait any longer, we'll be committed to it also being included in 10.0 LTS

[2017-08-10 14:38] Let0s opened #14742 "Question: Access to global object via c++ addon"
* **Version**: 6.10.1, 8.3.0
* **Platform**: Windows 7

I have the following code of my C++ binding:
[code]
I get isolate object, then global object (i think only for my addon module) and it's property "global". I set method "hello" to "global" object. It's equals to
[code]
If I run following code:
[code]
It works and output is `world`. So my question is following:
Is this situation (setting "hell

[2017-08-10 14:39] mscdex commented on #14742
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

[2017-08-10 14:44] TimothyGu commented on #14742
It's not a bug. It's a feature in the sense that that's how V8 APIs are intended (and documented) to work.

[2017-08-10 14:48] telmich commented on #6307
Looking at #14731, I wonder if you suggest to use a random address to connect to, @bnoordhuis?
If that is the case, you will have randomly success on IPv6 only networks, instead of always success, compared to happy eyeballs.

Correct me, if I am wrong.

[2017-08-10 15:00] bnoordhuis commented on #14741
A `uv_sysinfo()` would have to do something reasonable on all platforms that libuv supports.  You are welcome to file a pull request but it's probably quicker to write a small C++ add-on.

Why?

[2017-08-10 15:05] bnoordhuis commented on #14528
v8.3.0 has been released.  I'll close this out, cheers.

[2017-08-10 15:05] #14528 closed

[2017-08-10 15:11] refack commented on #13877
It seems https://github.com/nodejs/node/blob/4796fbc7d820240dde544b89755285e3af5bcf6c/src/node.cc#L1249-L1257 is used to comunicate the state of the Tick queue between JS and C++ lands.
But AFAICT it could be de-abstracted since `fields_count === 2` always.

[2017-08-10 15:14] addaleax commented on #13877
I’m kind of jumping in here without having read the full context yet, but if it’s about the AB backing store not being on the heap: It should be pretty easy to remedy that by creating the ABs in JS and then passing them to C++ instead of the other way around, right?

[2017-08-10 15:14] SheetJSDev commented on #14652
@vsemozhetbyt can confirm that the memory usage improved in the 8.3.0 release (delta RSS at 95.3M, still 3x worse than node 4.8.4 but much better than 8.2.1) but the running time is worse (15.5s locally, 20% worse than node 8.2.1).

[2017-08-10 15:22] bnoordhuis commented on #14652
Can confirm although this is a V8 issue.  I checked with perf(1) that v4.x and v8.x both spend most of their time in `v8::internal::Runtime_KeyedGetProperty()` (JS -> C++ runtime call) which then does a dictionary lookup, but the hash table implementation in recent V8 versions seems to be much slower.

I could go into detail but it's probably best to just report this to V8 since it's not under nod

[2017-08-10 15:23] bmeck commented on #13877
@addaleax the issue is the kExternalized ArrayBuffers are not managed by the v8 heap correct. We can still use C++ to make kInternalized ArrayBuffers and do in `node_buffer.cc`:
https://github.com/nodejs/node/blob/4796fbc7d820240dde544b89755285e3af5bcf6c/src/node_buffer.cc#L304-L307
The snapshot serialization does not currently have a way to revive kExternalized ArrayBuffers.

[2017-08-10 15:45] SheetJSDev commented on #14652
V8 issue https://bugs.chromium.org/p/v8/issues/detail?id=6696

It seems that a similar loop using `hasOwnProperty` showed a performance regression in node 6.x and 8.2.1 but improved in 8.3.0

[2017-08-10 15:52] roblourens commented on #11751
No, it works correctly in 8.3.0

[2017-08-10 16:10] matthewwiesen commented on #14705
@bnoordhuis I'm not sure I understand. Isn't the purpose of the environment variable to allow the end user to specify their custom / internal CA certificates to node at runtime to append these to the default node openssl trusted CA certificates?

If we allow node module authors to override this unbeknownst to the end user then the intended behavior of modifying Node's CA certificates is not being

[2017-08-10 16:24] kevinburke commented on #14714
probably not going to have time :(

On Wed, Aug 9, 2017 at 09:00 Colin Ihrig <notifications@github.com> wrote:

--

--
Kevin Burke
925.271.7005 | kev.inburke.com

[2017-08-10 16:27] silverwind commented on #12786
Is there a version of Windows where the default code page is unicode (cp65001) yet? If not, I'd close this as something the user brought onto himself. Not nice, but there really is no possible solution until we can require python3.6 for this script.

[2017-08-10 16:30] gibfahn commented on #8667
Ping @gdams

[2017-08-10 16:35] silverwind commented on #14705
I think it depends on the option. A end user wanting to extend the list of trusted CA's via `NODE_EXTRA_CA_CERTS` should always be able to extend the CA list, if code is able to overrule that, I think that's a pretty clear indication of a bug to me. Maybe someone can show a test case of it happening.

[2017-08-10 16:41] jeroenvollenbrock opened #14745 "[inspector] Assertion error"
* **Version**: v8.2.1
* **Platform**: armv7l GNU/Linux
* **Subsystem**: inspector

Executing the following code and attaching the debugger causes an assertion Error:
[code]

output:
[code]

I'm trying to open an inspector session, and receive a callback once the debugger has been attached and flow control has been passed over.

[2017-08-10 16:45] addaleax commented on #14745
@nodejs/v8-inspector

Fwiw I can’t reproduce this on x64 Linux.

[2017-08-10 17:17] Mirodil commented on #11273
Hi,
Might be it is out of scope, just was reading a basic guide and noticed, I think, the error codes should be saved in constant variable then use them in other files.

[2017-08-10 17:22] gibfahn opened #14746 "Feature Request: mark tests flaky on FIPS"
See https://github.com/nodejs/node/commit/8fae1e64ce81166f6f19972e29e4c1b4828b5683#commitcomment-23583689

Currently [`tools/test.py` only compares](https://github.com/nodejs/node/blob/master/tools/test.py#L1035) against `env`, which [is defined as](https://github.com/nodejs/node/blob/master/tools/test.py#L1641-L1645)

[code]

Where mode [is release/debug](https://github.com/nodejs/node/blob/maste

[2017-08-10 17:27] matthewloring opened #14747 "test: test-cluster-send-handle-large-payload intermittent failures"
* **Version**: master
* **Platform**: OS X
* **Subsystem**: Test

This test seems to be timing out sometimes. Introduced by https://github.com/nodejs/node/pull/14588.

\cc @addaleax

[2017-08-10 18:22] jdmaguire commented on #14644
I have to disagree with OP's rational on a few fronts:

I've thought about this in the past, the limited range of Yxx codes and at present, I don't think it is a matter to worry about. One style for JSON RESTful APIs is to have their _own_ status codes in the JSON body.

It is useful as a developer. How a client connecting to a service responds to particular status codes is a major way to detect w

[2017-08-10 18:29] addaleax commented on #14644
Please note that the suggested change here is not going to stop anybody from using 418 with HTCPCP semantics if they want to, it’s just going to remove Node’s *default* support for it.

[2017-08-10 18:43] bhadkiaftab commented on #13868
This error will occure when mentioned directory is not present in that path.

[2017-08-10 18:45] alexdresko commented on #14644
Surprised it isn't posted here already, but... http://save418.com/

I'm just a bystander, but that's some pretty strong opposition. :)

[2017-08-10 18:46] sam-github commented on #14628
Though the heuristics to detect DER are pretty robust, IIRC its 2 fixed bytes at the beginning for a constructed sequence, then a couple bytes for a length that has to match the buffer length, so hard to confuse with PEM.

[2017-08-10 18:47] birjolaxew commented on #14644
@addaleax A joke isn't much fun if you tell it to yourself; removing 418 from Node won't stop me from implementing it myself, but it *will* remove a fun and quirky easter egg to stumble upon - which is what everyone is lamenting. The value of 418 is not in it's implementation, it is in it's existance.

[2017-08-10 18:57] addaleax commented on #14206
Fix is in #14749

[2017-08-10 18:59] sam-github commented on #14705
`NODE_EXTRA_CA_CERTS` extends the *default/compiled-in* CA list.

Code that explicitly specifies a `ca: ` option is choosing to not use the default list, that means it won't see the compiled-in CAs, _and_ it won't see the ones added to the default list with `NODE_EXTRA_CA_CERTS`.

It is generally the case that explicit code overrides env, I think the current behaviour is best, and its definitely d

[2017-08-10 19:05] sam-github commented on #14679
Given that its javascript, its hard to have every single internal property hidden from the user. I think its OK to have undocumented but user-visible properties.

If they are useful, though, they should be documented.

If they aren't useful or we don't want to support them, its not clear whether they have to be documented as a prequel to deprecating them.

Whether we formally doc and deprecate the

[2017-08-10 19:06] sam-github commented on #14679
And I agree with @refack, our policy should be documented.

[2017-08-10 19:12] bnoordhuis commented on #14628
Yeah, but a DER-encoded value can be one of several things: a public or private RSA, DSA or EC key (maybe more) in PKCS#1, PKCS#8 or PKCS#12 format (again, maybe more.)

I know my crypto standards pretty well and I still wouldn't want to vouch you can parse them unambiguously.

[2017-08-10 19:14] tyteen4a03 commented on #14644
And are there currently proposals that would mean 418 will have a legitimate purpose?

[2017-08-10 19:17] refack commented on #14679
I just re-read https://github.com/nodejs/node/blob/master/COLLABORATOR_GUIDE.md#internal-vs-public-api, It's more explicit than I remembered, but it seems like we don't follow it, as we tend to be more strict...

<sub>P.S. all hail `inspector Enble`</sub>

[2017-08-10 19:23] sam-github commented on #14628
Yes, if its not just PEM vs DER, its more than a quick check. I implemented all three of those PKCS standards for all three of those key types and I'm pretty sure my CLI detected them just fine, but I had a BER decoder API so I could peek into the structure for OIDs and element counts, it might be hard without that. I've added it to my (exceedingly deep) list of things to try, running code being t

[2017-08-10 19:24] WhataShane commented on #14644
I'm the guy behind http://save418.com (https://github.com/WhataShane/save418). I, [like many others](https://www.reddit.com/r/webdev/comments/6stdcj/http_error_code_418_im_a_teapot_is_about_to_be/), enjoy stumbling upon (almost entirely) innocuous gags like 418. It's the sort of thing that'll put a smile on your face even when you're pressed to meet a project deadline and your boss is yapping at y

[2017-08-10 19:31] addaleax commented on #14747
Hm, I ran a stress test on the original PR because it had been flaky before, but that came back green, and a local stress test worked fine for me too, so I assume this is something platform-specific. So, uh, here are two stress tests to narrow that down a bit:

OS X: https://ci.nodejs.org/job/node-stress-single-test/1367/
Linux: https://ci.nodejs.org/job/node-stress-single-test/1368/

[2017-08-10 19:37] jasnell commented on #14644
Yes. There is a proposal for a new 4xx status code being discussed. Since 418 is not officially registered, it (in theory) should be used for the new code, but doesn't necessarily have to be... It's just not something that is up to us at all.

[2017-08-10 19:43] cjihrig commented on #14741
I'm going to close this since it's not going into Node core anytime soon. In the off chance that it gets into libuv, we can reopen this.

[2017-08-10 19:43] #14741 closed

[2017-08-10 19:44] tyteen4a03 commented on #14644
The thread is [here](https://lists.w3.org/Archives/Public/ietf-http-wg/2017JulSep/0196.html) if anybody is interested.

[2017-08-10 19:46] matthewwiesen commented on #14705
@sam-github I have ran across instances of attempting to utilize other node modules who within their own code either unknowingly or inadvertently are setting this ca option or overwriting this with null on their own. This leads to my attempt of extending these certificates to be futile as they are overwritten due to the behavior of how node will interpret this.

What recourse do I have as an end u

[2017-08-10 19:54] cjihrig commented on #14714
Looks like it's been taken care of: #14720

[2017-08-10 19:54] refack commented on #14644
As someone who was involved in implementing [rfc2549](https://tools.ietf.org/rfc/rfc2549.txt) for the IDF (NOT!), I'm +1 on precluding 418 from HTTP, hence IMHO it should stay in `node`.

[2017-08-10 20:08] Trott commented on #10238
OK, in that case, I'm going to close this. If anyone feels that's incorrect, feel free to re-open (if GitHub lets you) or leave a comment.

[2017-08-10 20:08] #10238 closed

[2017-08-10 20:12] #14206 closed

[2017-08-10 20:28] alexte commented on #14713
IMHO a native implementation of DNS without c-ares would be more future proof.

[2017-08-10 20:32] Trott commented on #11751
Since 7.x is no longer supported and there will be no more releases, I'm going to close this.  Works in supported 6.x and works in supported 8.x. If I'm mistaken or this otherwise should remain open, please comment or (if GitHub allows) re-open. Thanks.

[2017-08-10 20:32] #11751 closed

[2017-08-10 20:33] chriskuehl opened #14752 "nodejs sometimes leaves stdout/stderr in non-blocking mode"
* **Version**: v8.3.0
* **Platform**: `Linux 19083a5259e3 4.4.0-1022-aws #31-Ubuntu SMP Tue Jun 27 11:27:55 UTC 2017 x86_64 GNU/Linux`
* **Subsystem**: Unknown

node appears to leave stdout/stderr in non-blocking mode in certain cases, which can cause errors in other programs which assume these are in blocking mode. I'm not certain if this is a bug or not, but am just trying to understand this beh

[2017-08-10 20:48] mnot commented on #14644
@refack - IANA doesn't register it, and the IETF doesn't recognise it (the defining RFC is a joke RFC). So are you saying you support removing it, or not? *confused*

[2017-08-10 20:48] matthewloring commented on #14747
I think @bnoordhuis has experienced this too (https://github.com/nodejs/node/pull/14730#pullrequestreview-55477872). He may have suggestions on reproducing it. For me it happens fairly infrequently (~1 in 20 runs).

[2017-08-10 20:50] addaleax commented on #14747
@nodejs/platform-macos … I don’t have access to OS X myself, but I am available to anybody who wants me do help debug my mistakes ;)

[2017-08-10 20:59] Trott commented on #14747
I can replicate this locally. This *might* work on whatever your local OS is as well to replicate it:

[code]

First 96 tests pass in about 11 seconds, and then it pauses for two minutes as some of the tests (13 above) time out.

Easiest/fastest solution would be to move the test to `sequential`, but of course that might not be the _best_ solution.
¯\\_(ツ)_/¯

[2017-08-10 21:03] addaleax commented on #14747
Every time somebody proposes that, I think either the test is broken or Node is broken. ;) I don’t think there’s a reason to assume this test *should* be flaky under load.

[2017-08-10 21:10] addaleax commented on #14747
Also, no, no luck reproducing under Linux, no matter how many parallel jobs.

[2017-08-10 21:27] sam-github commented on #14705
@matthewwiesen  Your only recourse is to bring it up with the the node module authors. If you have specific examples, I'd be interested in seeing them, I could contact the authors, and also generally have a better understanding how TLS is used in node. Generally, the only reason to set the ca option is because you have a private ca, not something that you do in a package for general use, though pe

[2017-08-10 21:33] maxh213 commented on #14644
As mentioned, there are still over 50 HTTP codes left in the 400 range, I do doubt this will be a problem any time in the near future. Please do not kill fun things for such a small reason, remember that we are **not** computers ourselves.

[2017-08-10 21:33] cvbuelow commented on #10137
using `--max-old-space-size=16000` on node `v6.11.0` fixed the issue for me

[2017-08-10 21:38] Trott commented on #14747
Looks like `-j` doesn't even have that much to do with it other than making it happen more reliably. I'm seeing it with just `tools/test.py -j 1 --repeat 192 test/parallel/test-cluster-send-handle-large-payload.js`

[2017-08-10 21:41] mnot commented on #14644
@max213 As explained, this will be a problem in the future -- if HTTP lasts as long as we hope about it. Fixing it then will be MUCH harder than fixing it now (see the resistance we're already encountering and magnify it considerably).

HTTP status codes are defined by the IANA registry. If we have implementations claiming status codes outside of it, it's bad; node is NOT implementing HTTP here. P

[2017-08-10 21:46] addaleax commented on #14747
@Trott Any chance you could do some digging and figure out whether it’s the parent or the child process that’s hanging? And which handles are keeping it open (assuming it’s stuck with 0 % CPU, not 100 % CPU)?

[2017-08-10 21:50] refack commented on #14644
I'm saying until _it is_ registered for anything else IMHO is should stay.
If you or IANA decide to accept the status quo, that would be cute. I'm kinda assuming that are other codes which are even less frequently used.

P.S. I live next to a bridge whose length is ["364.4 SMOOTS + 1 EAR"](https://en.wikipedia.org/wiki/Smoot) and it leads to the W3C offices.

P.P.S. Being the only person who is al

[2017-08-10 21:53] mnot commented on #14644
The problem is that its inclusion in implementations like Node is being used to argue against the code being used for other (real) purposes.

[2017-08-10 21:53] Trott commented on #14747
@addaleax Yes, looking right now...might have to stop for a few meetings, but will pick up again later if so...

[2017-08-10 21:58] WhataShane commented on #14644
Even if if it is, there are 50+ other vacant spots that are already open. Why does 418 have to be replaced with a "real" error code when we're nowhere near filling all the other 4XXs up?

[2017-08-10 21:58] refack commented on #14644
I get that... But, well, the internet is a big ball of mud (Except of the amazing work done by the IETF) see https://bz.apache.org/bugzilla/show_bug.cgi?id=61383

<sub>I only represent myself, and won't block if there's momentum to deprecate 418</sub>

[2017-08-10 22:07] birjolaxew commented on #14644
Its adoption by the HTTP community at large is used to argue against it being used for other purposes? That seems fair enough to me - I would imagine that is roughly how any other code would be accepted into the protocol if it didn't originate there (e.g. nginx's 444). It would probably be preferable to argue for its inclusion in the protocol, but given its nature I think it is reasonable to simpl

[2017-08-10 22:45] subeeshcbabu opened #14754 "Header name is not added in the error message for the case of invalid characters in the header"
* **Version**: 8.x, 6.x, 4.x (It could be all the versions)
* **Platform**: all
* **Subsystem**: http

Node `http` core module throws a TypeError - `The header content contains invalid characters` in the case of invalid characters present in any of the headers.

It would be awesome, if the **name of the header** is also gets added, as part of the error message [here](https://github.com/nodejs/node

[2017-08-10 22:46] indutny commented on #14754
cc @nodejs/http

Going to submit a PR in a bit.

[2017-08-10 23:07] matthewwiesen commented on #14705
I'm not sure how I understand this since the node modules can just be altered within my environment. The user has absolute control over what code is executed within the environment.

I do see how there may be some legacy issues with how this was handled in the past, but the suggestion of having to ping every node module author to correct this seems concerning. While I'm not sure how wide spread th

[2017-08-10 23:08] benaadams commented on #14644
Crossing the streams; also raised in https://github.com/golang/go/issues/21326 and https://github.com/aspnet/HttpAbstractions/issues/915

[2017-08-10 23:16] abernix commented on #14228
The Meteor project is running into this same exact problem on Node.js 4.8.4 though I've bisected it down to the exact commit that @jkrems had identified above (https://github.com/nodejs/node/commit/2d07fd71ee391d099e2f19e85455be6a718c27c9), which landed in 4.6.2.

Though it's not 100% reproducible, it's a relatively easy numbers game and happens at least once out of every 4 runs in our CI.  If you

[2017-08-10 23:17] jeroenvollenbrock commented on #14745
I've just tested this on OSX 10.12.5 (node 8.2.1) as well. (I realized i forgot to add a `setInterval(()=>{},10000);` to the initially posted source to keep node running)

[code]

[2017-08-10 23:24] Trott commented on #14747
When this times out, the `process.send()` in the subprocess is getting called, but the `message` event on `worker` is not being emitted (or at least the listener is not being invoked).

Docs for `process.send()` seem lacking. (It refers to an `options` argument but doesn't indicate what it is. And it refers to a `callback` but doesn't indicate what it does or doesn't do.) If I add a callback, it n

[2017-08-10 23:29] jeroenvollenbrock commented on #14745
As a side-note, what i'm actually trying to achieve is to create a promisified version of `inspector.open(9229, '0.0.0.0', true);` which resolves after flow control has been passed to the debugger instead of blocking the main loop until this happens, so we can incorporate it into the App SDK of our product. This would allow us to first setup all app api's and security, drop privileges, then start

[2017-08-10 23:30] CSobol commented on #14644
Good. They can use 418 after 400-417 and 419-499 are filled. 418 should live as "I'm a teapot" as long as possible.

[2017-08-10 23:35] eugeneo commented on #14745
Can you provide more details?

1. What command-line flags are you passing to Node?
2. Do you attach any front end (e.g. VS Code or Chrome DevTools) to your Node instance?

This assertion fails when there is already a debugger attached - but there should be a JS exception raised instead.

[2017-08-10 23:38] addaleax commented on #14747
Okay, so this might be fix-able by adding an extra round-trip. I can try that on the weekend if nobody beats me to it.

[2017-08-10 23:42] Trott commented on #14747
If the `process.send()` message getting dropped from time to time is a case of working-as-expected, I have a fix for the test ready to go. If, on the other hand, that's a bug in `process.send()` that might even be specific to macOS, then uh, yeah, that's gonna take some deeper looking.

[2017-08-10 23:44] addaleax commented on #14747
@Trott I think the discussion in the issue you linked means that, if the problem actually is “the process exits before process.send() can finish”, then yes, that may be things working as expected.

(I’m not convinced that issue shouldn’t be re-opened, but that’s another story.)

[2017-08-11 00:07] danlange opened #14755 "Node.js 8.3.0 for CentOS 6 has glibc dependency errors"
* **Version**: 8.3.0
* **Platform**:Linux automation-reporting 2.6.32-696.6.3.el6.x86_64 #1 SMP Wed Jul 12 14:17:22 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

I installed node on my system:
[code]
When I attempted to use it, it reported shared library errors:
[code]
I am running CentOS 6, on which the only glibc option is 2.12:

[code]
I was able to work around the problem by removi

[2017-08-11 00:10] Trott commented on #14747
Or maybe not. I can improve it but it still fails from time to time...

[2017-08-11 00:11] Trott commented on #14747
Nope, I got it.

OK, I'll stop now.

[2017-08-11 00:13] addaleax commented on #14755
Can you confirm that this also happens with the binaries made available on https://nodejs.org/?

[2017-08-11 00:22] Trott commented on #14747
@addaleax Unfortunately, that doesn't appear to be what's going on here. :-(  If I keep the event loop open in the child process, the message is still sometimes never received and the test times out.

(Interestingly, if I add a useless `console.log()` in the right place, I can get the test to be reliable. I've seen this troubling behavior manifest before. Someone once gave me an explanation for it

[2017-08-11 00:25] danlange commented on #14755
It does not appear to.  I was able to download and untar: https://nodejs.org/dist/v8.3.0/node-v8.3.0-linux-x64.tar.xz
When I ran it, it appeared to work correctly:
[code]

[2017-08-11 00:27] djphoenix opened #14756 "Support for multiple PFX in tls.createSecureContext"
## Feature request

As per as `tls.createSecureContext` accepts multiple `key`/`cert-chain` options, I think there is a good approach to get also multiple PFX support. E.g. one for RSA and another one for ECDSA.

## Workarounds

1. Use `key`/`cert` arrays:
[code]
2. Manually call `context.loadPKCS12` for another chain:
[code]

## New API proposal

[code]

[2017-08-11 00:27] mscdex commented on #14755
This should probably be reported on the [nodesource/distributions issue tracker](https://github.com/nodesource/distributions/issues) instead.

[2017-08-11 00:28] addaleax commented on #14747
That sounds *weird*, I don’t think I have heard of that and I’m not sure what that means.

`dtruss -f` output for the test might be nice, but I’d be too tired to really dig into it right now anyway. Have fun playing around with the test if you like :)

[2017-08-11 00:28] danlange commented on #14755
Ok, I'll report it there.

[2017-08-11 00:29] djphoenix commented on #14756
/cc @nodejs/crypto

[2017-08-11 00:41] TimothyGu opened #14757 "vm.runInThisContext is bound to the top context"
* **Version**: 8.3.0
* **Platform**: Linux 4.9.0-3-amd64 SMP Debian 4.9.30-2+deb9u3 (2017-08-06) x86_64 GNU/Linux
* **Subsystem**: vm

[code]

prints

[code]

suggesting that `vm.runInThisContext` always runs the code in the top context rather than the current context.

[2017-08-11 00:50] #14755 closed

[2017-08-11 00:54] maxveres commented on #13150
When this issue will be fixed? Now there is no way to build node.js automatically in freebsd...

[2017-08-11 01:46] haydenk commented on #14644
Is it causing any harm to Node? Joke or not, is it legitimately part of the HTTP spec?

[2017-08-11 01:54] abernix commented on #14228
For what it's worth, when branched off the `v4.6.2` tag, if I revert https://github.com/nodejs/node/commit/2d07fd71ee391d099e2f19e85455be6a718c27c9 (as I did in https://github.com/abernix/node/commit/49d20c5330df5a1ffe224d25f543df904849a31f) and apply https://github.com/abernix/node/commit/7841772b73da31487066f6d1bb43b1bc29b04c48 instead (which I believe is more to the letter of the original commi

[2017-08-11 01:56] rdeforest opened #14758 "util.inspect not checking for loops in {,Weak}Map data"
* **Version**: v8.2.1
* **Platform**: Darwin a0999b0cf96f.ant.amazon.com 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64
* **Subsystem**: util

Expected behavior:

[code]

Actual behavior:
[code]

I know this is a non-trivial problem to solve but it seems worth at least documenting if not solving.

[2017-08-11 02:00] indutny commented on #14754
PR: https://github.com/nodejs/node/pull/14759

[2017-08-11 02:04] rhjyy commented on #11931
@bnoordhuis
It did'nt work,still the same problem.
And when i compiling the node-v5.12.0,it can be success without this arg.

[2017-08-11 02:35] MaxSem commented on #14644
I'm usually a rabid pro-deprecation warrior, even if it breaks someone's code. Because you can never avoid breaking anything anyway, even if you're fixing a noncontroversial bug. However, I find this request petty and against the spirit of open source software.

Code 418 is a well-known easter egg in the history of internet protocols and RFCs themselves. It's part of our history. Supporting a sing

[2017-08-11 02:53] KJlmfe opened #14760 "events: setMaxListeners(n) doesn't check if n is an integer"
* **Version**: v8.3.0
* **Platform**: *
* **Subsystem**: *

In the [documentation](https://nodejs.org/api/events.html#events_emitter_setmaxlisteners_n) of Node, it says  `n` should be an integer of `emitter.setMaxListeners(n)` function.

![image](https://user-images.githubusercontent.com/1238134/29199806-852aaafc-7e82-11e7-90ad-5512b5b4399b.png)

However, the [source code](https://github.com/nodej

[2017-08-11 02:58] sebdeckers commented on #14644
Since a major argument for deprecating the `418` status code is its lack of IANA registration, why not actually register it?

The [IANA HTTP Status Code Registry](https://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml) shows `418` as unassigned and, presumably, is unlikely to assign this value to any other status code given the de-facto conflicting adoption in many (arguably le

[2017-08-11 03:00] mscdex commented on #14760
There's plenty of other occurrences of this, but I'm not sure for most cases it really matters.

[2017-08-11 03:03] j3l11234 commented on #8369
╮(╯_╰)╭
@hinell  you can refer to https://github.com/nodejs/node/issues/10838#issuecomment-321266341
I found a temp workaround

[2017-08-11 03:22] TimothyGu commented on #14758
Can reproduce on Node.js' REPL:

[code]

Note, this works fine with a normal object:

[code]

[2017-08-11 03:45] sebdeckers commented on #14644
Okay so I've gone ahead and submitted the application, come what may:

-----------

To whom it may concern:

This is an automatically generated message to notify you that we have
received your request, and it has been recorded in our ticketing
system with a reference number of 979050.

There is no need to reply to this message right now. IANA staff will
review your message shortly.

If this messag

[2017-08-11 03:49] Trott commented on #14747
Just so I don't forget what it was:  Put a `console.log()` statement as the last line of the `process.on('message',...)` handler and the test is no longer flaky.
(╯°□°)╯︵ ┻━┻

[2017-08-11 04:09] wswoodruff commented on #14644
The hapi community supports 418 Teapot! Boom is a core module in hapi
https://github.com/hapijs/boom/search?utf8=✓&q=teapot

[2017-08-11 04:29] haydenk commented on #14644
To be accepted, I would like to see a Youtube video of @mnot singing "I'm a little teapot" complete with hand motions.

[2017-08-11 04:52] JoshCheek commented on #14644
I count 69 available 4XX status codes on [IANA](https://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml). If we need all 69 that badly, then isn't it inevitable that we will also need 70?

The reality is that if we get to this point, someone will modify the protocol. Maybe allow periods `400.12` or choose the most-significant-digit so that `4001` is grouped with 400 level, or ch

[2017-08-11 04:57] thinkingdyw opened #14762 "babel issues"
* **Version**:v8.3.0
* **Platform**:mac
* **Subsystem**:

SyntaxError: node_modules/fsevents/node_modules/tar/lib/header.js: Invalid number (58:26)
   56 |   if (obj.mode) {
   57 |     if (typeof obj.mode === "string") obj.mode = parseInt(obj.mode, 8)

     |                                                  ^
   59 |   }
   60 |
   61 |   for (var f = 0; fields[f] !== null; f ++) {

[2017-08-11 05:20] 601939654 commented on #3675
./scripts/watch-demo demos/nn-art/nn-art.ts
events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: spawn node_modules/.bin/watchify ENOENT
    at exports._errnoException (util.js:1018:11)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:193:32)
    at onErrorNT (internal/child_process.js:367:16)
    at _combinedTickCallback (internal/process/next_tick.js:80:1

[2017-08-11 05:33] cookiengineer commented on #14644
@JoshCheek: I would agree with that point. It will probably happen similar to the `WS13+` protocol (websockets), and be placed after an `UPGRADE` of the connection has happened. I mean, even HTTP/2.0 (or SPDY) were being placed after an upgrade of the protocol; so the chances HTTP/3.0 will use everything without an upgrade _and_ with a HTTP/1.1 header _and_ with the same range of status codes is v

[2017-08-11 05:40] mscdex commented on #14762
This isn't a node issue. It's probably an issue with using a version of `fsevents` that depends on an older version of `tar` because `tar` currently does not seem to use the old octal representation that I could tell.

[2017-08-11 05:41] #14762 closed

[2017-08-11 05:59] thinkingdyw commented on #14762
thanks!

[2017-08-11 06:31] mashedkeyboard commented on #14644
I would like to suggest a counter proposal: the incorporation of `HTCPCP` into the `HTTP` standard.

[2017-08-11 07:30] vacri commented on #14644
Just a bystander, but felt the need to say - the 400-block is 69% free. HTTP started development in 1989, and 28 years later we have only 31 400-block codes. Assuming this burn-rate continues (which it won't), it'll be around the year 2100 when we'd 'need' to free up a 400-block code.

Is it normal for nodejs to plan this far ahead when making technical decisions?

[2017-08-11 07:31] NiveditN commented on #9623
Hey, I can help with this if given some pointers about what needs to be included. :slightly_smiling_face:

Here's what I have so far:
1. Code snippet demonstrating the behaviour
2. Deprecation warning
3. Briefly explain the reason for this code behaviour
4. Recommend using `exports` instead

Also which section of `/docs/api/modules.md` file should it go in?

Please let me know. Meanwhile I'll star

[2017-08-11 07:33] jdmansour commented on #14644
In what fashion does Node *support* status 418 anyway? Isn't it just the default body if you return status 418?

If there was a default message for other codes, like:

    if (is_unassigned(status)) {
        message = "Hello, this is the default message for HTTP " + status;
    }

would people complain about Node supporting other non-standard status codes like 419?

It would be a different situat

[2017-08-11 07:34] bnoordhuis commented on #13150
@maxveres The PR is still open.  I reviewed it just now though.

[2017-08-11 07:36] stevehill1981 commented on #14644
I don't think the 418 code is doing any harm whatsoever. Leave it alone.

Ripping it out is a pointless waste of everyone's time. It might not be part of any *official* standards, but it's an accepted part of internet history. And unless you're going to go through every language, and every framework, and every HTTP library that's ever been written and create a PR for them - assuming you even have

[2017-08-11 07:41] mashedkeyboard commented on #14644
Agree with @stevehill1981 - we as the internet community should be creating standards in a descriptivist manner. We shouldn't be trying to be L’Académie française for the Internet. Our end goal as makers, as the people who power what goes behind what a lot of people see, should be to improve the experience of the millions of end users that access the services that we collectively power and create.

[2017-08-11 07:41] bnoordhuis commented on #11931
Okay, noted.  I'll close this out then; Android is self-support.  If you manage to get it working, send a pull request our way.

[2017-08-11 07:41] #11931 closed

[2017-08-11 07:41] StephanMeijer commented on #14644
Leave 418 alone!

[2017-08-11 07:42] Convery commented on #14644
What a silly thing to complain about, it's a nice little code that haven't done anything wrong..

[2017-08-11 07:56] mattandrews commented on #14644
As others have already observed: even if a new `4xx` error type comes up, surely the next candidate for its number **will not** be 418, because of this ambiguity. Even if it's technically "free" to use, surely it'd be avoided because most people will have heard of it because of this teapot joke?

Otherwise, it's a human touch in a piece of pretty complex, future-facing work that everyone uses ever

[2017-08-11 07:57] rhjyy commented on #11931
@bnoordhuis
Got it.Thank you very much.I'll try.

[2017-08-11 08:21] bnoordhuis commented on #14757
Lightly tested but this patch should fix it.

`EvalMachine()` calls `v8::UnboundScript::BindToCurrentContext()`, which is the context of `vm.runInThisContext()`, not the most recently entered context.

[code]

[2017-08-11 08:21] dslmeinte commented on #14644
While we're at this, why not break out the shotgun and blow every pigeon that's part of an RFC1149 implementation out of the sky (or coop)? Or burn all the bongos prematurely?

I like 418, used it in Production and I don't even drink tea! :)

[2017-08-11 08:26] jmurphyau commented on #14644
#Save418

[2017-08-11 08:27] dwardu89 commented on #14644
Do not remove 418, it's what makes the internet fun. #Save418

[2017-08-11 08:34] CodeWriter23 commented on #14644
Well that should teach Larry an important lesson in using RFCs for clowning around. Would it not serve as an example of what one should avoid, if we keep it around?

[2017-08-11 08:39] Aggamemnon commented on #14644
You suck. #Save418

[2017-08-11 08:43] ScholtenSeb commented on #14644
#Save418

[2017-08-11 09:08] TimothyGu commented on #14644
To all: please keep your comments here constructive. If you do not have any technical updates to add, and merely want to express "I agree" or "I disagree", ***please resort to using GitHub reactions.*** Keep in mind that every comment will show up on hundreds of people's GitHub feeds, most of whom may not have an opinion on this issue.

We will be locking this issue if the number of unconstructive

[2017-08-11 09:09] addaleax commented on #14760
I agree, i think this is fine; there’s no reason to forbid non-integer numbers, and no reason to use them as a library user. It’s always going to be the case that you can do more with Javascript APIs than what’s documented. ;)

[2017-08-11 09:14] stlk commented on #14644
This is part of history for me. I can't imagine any other use for 418 code! #Save418

[2017-08-11 09:17] benjamingr commented on #14644
Hey, please do not leave #save418 comments - they create a lot of noise. If you'd like to indicate support for/against removing the status code without participating in the technical discussion - please use reactions.

I'd like to point out to anyone participating that we *are* looking for more contributors in Node and there are plenty of issues tagged "good-first-contribution" you're welcome to p

[2017-08-11 09:32] biexit opened #14766 "> node-pre-gyp install --fallback-to-build. how to solve this error ?"
C:\Users\kites\Desktop\firebase>npm install -g firebase-tools
npm WARN deprecated node-uuid@1.4.8: Use uuid module instead
C:\Users\kites\AppData\Roaming\npm\firebase -> C:\Users\kites\AppData\Roaming\npm\node_modules\firebase-tools\bin\firebase

node-pre-gyp ERR! Tried to download(403): https://node-zopfli.s3.amazonaws.com/Release/zopfli-v1.4.0-node-v57-win32-x64.tar.gz
node-pre-gyp ERR! Pre-buil

[2017-08-11 09:45] nickaein commented on #14644
@mnot
If you believe we are going to run out of HTTP error codes in near future, you should try to find a way to fix the design. A single error code isn't going to solve that.

[2017-08-11 09:56] soletan commented on #14146
@joaolucasl Guess this simple line won't suffice according to this note in docs on Class: http.ServerResponse:

Nonetheless, this statement is wrong since setDefaultEncoding(), cork() and uncork() are part of Writable interface.

Aside from that I second this issue. Any fix might help me with issues I'm facing when piping from same source into ServerResponse and into fs.WriteStream with the former

[2017-08-11 09:58] martinmine commented on #14644
@haydenk HTTP 418 is not a part of the HTTP spec. It is OTOH part of an [aprils fool joke](https://tools.ietf.org/html/rfc2324) and now ironically half the internet thinks it is part of the HTTP spec. Now we have @mnot, which is chairing the IETF HTTP working group, saying very specifically why this is not part of the HTTP spec, and the reactions in this thread (and the internet community in gener

[2017-08-11 09:58] sunlight2728 opened #14767 "$ sudo npm install -g hexo Error"
$ sudo npm install -g hexo
Password:
npm WARN deprecated swig@1.4.2: This package is no longer maintained
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules/hexo/node_modules/chokidar/node_modules/fsevents):
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: sha512-Sn44E5wQW4bTHXvQmvSHwqbuiXtduD6Rrjm2ZtUEGbyrig+nUH3t/QD4M4/ZXViY556TBpRgZkHLDx3JxPwxiw== integrity checksum fa

[2017-08-11 10:01] tyteen4a03 commented on #14644
Backwards compatibility to... what?

[2017-08-11 10:07] martinmine commented on #14644
@tyteen4a03 If there is a new spec saying that 418 is used for something else than "Im a teapot", NodeJS would have to deprecate this and phase it out. They cannot simply just remove this as it introduces API changes.

[2017-08-11 10:10] nickaein commented on #14644
Compatible to our sense of humor, I guess.

The point is, there are few, if any, technical reasons to keep 418 as the way it is. Despite that, there are no valid reasons to push it so hard for its removal either. I don't buy Mark point about the limited space of HTTP error code and I've already stated why it is not sensible.
A better argument for the removal of 418 is welcomed.

[2017-08-11 10:13] cheery commented on #14644
A HTTP spec return code nobody sees and has use for, and that takes space in a spec. Drives a point home about how idiotic node.js, Go and ASP.net communities are.

[2017-08-11 10:20] bnoordhuis commented on #14767
Please post support questions to the help repo.  This bug tracker is for reporting bugs against node core only.

[2017-08-11 10:20] #14767 closed

[2017-08-11 10:21] tniessen commented on #14767
This does not appear to be a problem with Node.js itself. Depending on whether you think this is a bug within npm, you should either file this in their [issue tracker](https://github.com/npm/npm/issues) or in [nodejs/help](https://github.com/nodejs/node).

[2017-08-11 10:31] naugtur commented on #14644
While I don't care if 418 remains supported in Node or not (or any other tool/technology) I'd be against IANA registering it for a new purpose, ever.

It's been useful as a status code one can use in tests/mocks to make it clear that the error is fake and is not coming from a live system on the other end.

Teapot or not, having a HTTP code you can be sure a 3rd party system you're integrating with

[2017-08-11 10:43] jeroenvollenbrock commented on #14745
I'm using no command line flags and attaching the chrome devtools. Right after attaching, the crash occurs.

[2017-08-11 11:19] TimothyGu commented on #14745
The bug is specific to having the IO thread (fancy name for the WebSockets server) open and unattached, but only attaching the debugger after already connecting through the JS binding. I've got a WIP in https://github.com/TimothyGu/node/tree/inspector-work to fix this issue, but eventually gave up because of the possibility of race conditions.

We can only know whether WS inspector attachment succ

[2017-08-11 11:54] elgohr commented on #14644
Is this the right place to discuss? If you want to change the standard, please create a RFC.
In my opinion Node should implement the standard as it is. Otherwise we wouldn't need standards.

[2017-08-11 12:10] jeroenvollenbrock commented on #14745
@TimothyGu Thank you for the clarification! I think i misunderstood the documentation while trying to build something that would meet my [needs](#issuecomment-321700278), is something like that possible at all right now?

[2017-08-11 12:16] pankaja92 opened #14770 "DeprecationWarning: Calling an asynchronous function without callback is deprecated. in fs.writeFile"
Version: v8.0.0
Platform: Linux pankaja-HP-Pavilion-15-Notebook-PC 4.10.0-30-generic #34~16.04.1-Ubuntu SMP Wed Aug 2 02:13:56 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
Subsystem: fs.writeFile

Error : (node:10801) [DEP0013] DeprecationWarning: Calling an asynchronous function without callback is deprecated.

Code :

[code]

I was following [this](https://code.tutsplus.com/tutorials/nodejs-for-begin

[2017-08-11 12:22] aschrijver opened #14771 "Howto compile Node android arm shared with NDK r17 canary and libc++?"
I am trying to compile NodeJS as native library for Android (`arm`) on Ubuntu 16.04 (4.4.0-59-generic) with [the latest NDK continuous build](https://partner.android.com/build#p:id=builddetail&pp=branch%253Daosp-master-ndk%2526buildnumber%253D4264851%2526target%253Dlinux&a=100621237)

I am using canary NDK because of earlier `node-matchers.h error 'nearbyint' is not a member of 'std'` with stable

[2017-08-11 12:35] TimothyGu commented on #14757
@bnoordhuis That does fix the OP, but not this one:

[code]

Is it possible to actually fix this?

[2017-08-11 12:40] silverwind commented on #14713
It was [attempted](https://github.com/nodejs/node/pull/1843) to write a JS resolver in the past, but performance wasn't up to par back then. Anyone aware of other libraries we could consider?

[2017-08-11 12:42] jshulver commented on #14644
This is going to cause a serious problem with my node based internet teapot startup.

[2017-08-11 12:47] cjihrig commented on #14760
I'm going to close this as "it's fine"

[2017-08-11 12:47] #14760 closed

[2017-08-11 12:58] J7mbo commented on #14644
Discussions like this is just one reason for why aliens don't visit us.

[2017-08-11 13:14] umpox commented on #14644
This is a low-value change that isn't going to solve the problem of running out of HTTP error codes in the near-future. It will merely delay it by 1, not worth the effort imo.

[2017-08-11 13:23] tniessen commented on #14713
I considered writing a small DNS library tailored for Node.js as c-ares comes with some downsides and I did not find any alternatives. Our main concerns are portability (c-ares has *a lot* of code just to support Windows 95), performance (we should not allow significant regression) and dependability (c-ares has been tested for years). I could try to put something together, but it will take some ti

[2017-08-11 13:42] tniessen commented on #11273
@Mirodil What do you mean? Something like this?

[code]

Which advantage would this offer?

[2017-08-11 13:50] Rohaq commented on #14644
This seems like a change that doesn't provide much in the way of value, and could even be considered detrimental in the future - Given the rise of IoT devices, a real-world implementation of HTTP 418 is increasingly likely.

[2017-08-11 13:58] vsemozhetbyt commented on #14770
Hi, @pankaja92. The tutorial is a bit outdated in that `fs` asynchronous functions now demand a callback. You can fix your code by updating this line:
[code]
by this one:
[code]
see https://nodejs.org/api/fs.html#fs_fs_writefile_file_data_options_callback

[2017-08-11 14:09] StuartHadfield commented on #14644
Lest we forget, early forms of anaesthesia were created and used as party tricks (see: laughing gas), and later on became useful in many medical operations when proposed as a legitimate anesthetic.

Point is - just because 418 was created as a joke and/or party trick, it doesn't mean it is inherently useless.  I don't see any value in removing a singular status code from node simply because not HT

[2017-08-11 14:16] jasnell commented on #14644
All, thank you for the amusing and fun feedback. It pleases us all to no end that the most beloved feature of Node.js is a Teapot. I think it's safe for us to leave this as is for now.

I'm closing the issue and just to avoid keeping this issue from growing indefinitely for all of time, I'm going to lock it. Sleep in comfort tonight knowing that, at least for the foreseeable future, your Node.js w

[2017-08-11 14:16] #14644 closed

[2017-08-11 14:46] TimothyGu commented on #14713
Just as a question: what DNS resolvers do browsers use?

[2017-08-11 14:56] eugeneo commented on #14745
@TimothyGu

This was an explicit requirement when JS bindings were added. Chrome will soon support multiple DevTools protocol clients and the same support will be ported to Node once Node moves to compatible V8 version (I don't know version number yet).

Also, I am working on an experimental branch that makes the WS use JS bindings session instead of special code in the native part. It should make

[2017-08-11 15:00] sam-github commented on #14705
@matthewwiesen I didn't mean control in a security sense. Its not about you vs some other author, I intended to express that explicitly written code should do what the author intends. If completely specifying the CA trust roots (and thus ignoring the default CA roots) is not what the author intended  to do when they wrote the code, then they have a bug. Bugs need fixing in code, not configuration.

[2017-08-11 15:14] fvdm commented on #14713
@TimothyGu Usually the one of the network router which most likely forwards the requests to the caching resolvers of the ISP.

[2017-08-11 15:16] silverwind commented on #14713
They use `getaddrinfo` which is implemented in the OS core libraries like glibc, which is also what `dns.lookup` uses. The issue with `getaddrinfo` is that it's only purpose is name to IP resolution, and for advanced dns use cases (record types other than A and AAA) you need a actual resolver capable of constructing and parsing dns packets.

[2017-08-11 15:20] Mirodil commented on #11273
@tniessen yes something like you showed, at the moment the error code name needs to be specify more then 2 places in string form(first place `internal/errors.js`, and in other files). What I thought
[code]
it gives one place for all error codes and prevents typos. might be not significant.

[2017-08-11 15:31] tniessen commented on #14713
@fvdm I believe you are referring to DNS servers (routers usually act as DNS servers in local networks), this is not what this issue is about.

[2017-08-11 15:39] tniessen commented on #11273
@Mirodil Typos within node itself are unprobable as we usually test all error codes, but userland code cannot be protected from typos entirely. For example, if people use something like `const ERR_INVALID_ARG_TYPE = require('node_errors').ERR_INVALID_ARG_TYPe` (note the lowercase `e`), the value will be `undefined` and `error.code === ERR_INVALID_ARG_TYPE` will fail just as if they had a typo in t

[2017-08-11 15:54] hinell commented on #8369
@j3l11234 Well, that's pretty interesting. I'll give it a try later and will report back.

[2017-08-11 16:31] TimothyGu commented on #14745
Yes, that should help things. Looking forward to it!

[2017-08-11 16:50] Mirodil commented on #11273
totally agree

[2017-08-11 16:55] mscdex commented on #14766
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

[2017-08-11 16:55] #14766 closed

[2017-08-11 17:19] styfle commented on #11273
@tniessen True but TypeScript could catch this type of misspelling if the enum was exposed. Additionally, one could open the REPL and print all enum values if you're not using TypeScript and see what are the available choices.

Not that my opinion matters, but I like the idea of exposing the constants 😃

[2017-08-11 17:58] mohsen1 commented on #13640
Sorry but I don't use npx and don't want my cli autocomplete polluted with it. Installing npx from npm isn't that much of hassle and if someone wants to use it they can install it in a few seconds.

[2017-08-11 18:25] gibfahn commented on #13640
Seems like something to take up with `npm` (see https://github.com/npm/npm/pull/17685). AIUI the npm team think this should be available by default, and if you don't like it you can always uninstall it in a few seconds.

To be clear, I haven't actually used `npx`, so I don't have an opinion on bundling it.

[2017-08-11 18:34] MylesBorins commented on #14228
@abernix could you please submit a PR that reverts 2d07fd7 and applies abernix/node@7841772  (please follow the [commit guidelines for V8 changes](https://github.com/nodejs/node/blob/master/doc/guides/maintaining-V8.md#backporting-to-abandoned-branches))

[2017-08-11 19:06] ikokostya commented on #10154
Look like I have the same issue which stability reproducible on the following test:

[code]

[code]

<details>
<summary>Next 3 consecutive runs:</summary>

[code]
</details>

[2017-08-11 19:06] aschrijver commented on #14771
@DanAlbert was kind enough to point out I am still using `gnustl` and not `'libc++` which leads to this error.

The only issue is, I do not know how to configure libc++. There is no Application.mk and I tried adding `--stl=libc++` to the toolchain cmd in `android-configure` but that does not do it. How can I pass this setting?

[2017-08-11 19:07] #14770 closed

[2017-08-11 19:15] jgoz commented on #7593
@eugeneo This is closed now that #14465 is merged, right?

[2017-08-11 19:47] p3x-robot opened #14778 "RangeError: Maximum call stack size exceeded: _stream_writable.js:274"
Ciao!

How are you?

* **Version**:
8.3.0
* **Platform**:
Linux workstation 4.10.0-30-generic #34~16.04.1-Ubuntu SMP Wed Aug 2 02:13:56 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:
Linux Mint / Debian / Windows etc..

I have been using my own crypto based on AES, with an additional 512 rounds, but my program is not working anymore and have no idea to get around this, the error:
[code]

[2017-08-11 21:29] gla5001 commented on #14638
So this discussion has been pretty quiet for several days, how do I know if its worth working on or not?

[2017-08-11 23:09] MylesBorins commented on #14611
/cc @nodejs/streams @mcollina

[2017-08-11 23:34] Trott commented on #14747
OK, good news is I have a simple fix.

Bad news is that I suspect it covers up a legitimate bug. Not sure, though.

Basically, if the child process waits a bit before sending the payload back, the message is always received, and the test passes reliably.

That seems like a code smell to me. I thought I was pretty thorough in checking for events I might listen to that might seem like less a less co

[2017-08-12 01:05] TimothyGu commented on #13640
@mohsen1 Your CLI autocomplete isn't polluted by default, only by choice IIRC.

[2017-08-12 03:31] Trott commented on #14747
Fix (if it is indeed an OS quirk and not a bug) in https://github.com/nodejs/node/pull/14780.

[2017-08-12 05:37] pmatzavin commented on #11273
lib/net.js convert errors over internal/errors.js PR #14782

[2017-08-12 05:37] aschrijver opened #14783 "Working build script for Android ARM Node 7.x or 8.x shared library"
I spend the full day yesterday trying many variations of `android-configure` and other build scripts, with different versions of Node to create a shared library `libnode.so` for ARM.

An overview of build options that were tried so far (some successes):

| Node | NDK | Arch | Description | Result | Details |
| :--: | :--: | :--: | :-- | :--: | :--: |
| `7.1.0` | `r15 latest` | ARM | [dna2oslab](ht

[2017-08-12 05:38] aschrijver commented on #10341
A `help wanted` would be nice. With a `7.10.1` build I get the same results as @gardner
https://github.com/nodejs/node/issues/14783

[2017-08-12 06:22] pablolmiranda opened #14784 "Mac OSX build issue"
* **Version**: master branch
* **Platform**: Darwin 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64
* **Subsystem**: n/a

Following the BUILDING.md, tried to execute the configure script and received the following error:
[code]

[2017-08-12 06:43] Trott commented on #14784
GYP requires Python 2.6 or 2.7, but judging from the output, your default `python` is a different version.

[2017-08-12 07:34] silverwind commented on #14638
I'd interpret the current responses as being not enough to warrant an implementation. Let's give it a bit more time and otherwise close it.

[2017-08-12 07:38] TimothyGu commented on #14745
@jeroenvollenbrock I don't see anything impossible with what you are trying to do, though I'm unsure why you are trying to use the JS binding `Session` API with `inspector.open()`? `inspector.open` is already asynchronous, but we don't currently have a way to pass events from the Inspector WS server to JS so you can't get notification when the server starts.

[2017-08-12 07:57] TimothyGu commented on #14638
As others have articulated, `util.inspect()` is already an opinionated function. More "styles" of inspection belongs in a user module, not in `util.inspect()`. However, I do think an API to change the number of spaces used / the indentation character sounds like a fine idea, but implementation-wise it might not be as simple as one would think it is.

1. **Format.** We currently have a somewhat odd

[2017-08-12 08:02] a4amitava opened #14785 "_ZNKSt9type_infoeqERKS_ not found with gcc 6.3.0.1 on AIX 7.1"
Hi - Is there any document or reference to install npm on AIX system ?
Please help to provide any reference on How to  install and configure Node on AIX .

---

#### _**EDIT(gibfahn):**_

The help issue () uncovered an issue with our builds, namely that they don't work with the `libstdc++` from gcc 6.3.0.1 (reproduced by @shellberg). I'm reopening this, and adding the relevant information from tha

[2017-08-12 09:22] thany commented on #14609
Okay, but it's still weird. Documented or not. No function that outputs to the console should ever arbitrarily decide to move the cursor to the left. That should be up to us. Who knows, maybe we want to position the question after some text. That will not be possible now, the way `question` likes to behave.

This is why I still consider this a bug. Even if it's documented and everything.

[2017-08-12 09:31] gireeshpunathil commented on #14785
@a4amitava - there is no special instructions for AIX, it follows a simple unzipping the package and setting the path sequence. For example, you could:
1. Download [latest installer](https://nodejs.org/dist/v8.3.0/node-v8.3.0-aix-ppc64.tar.gz)
2. Uncompress into a convenient folder
3. export your PATH variable to the bin folder under the unzipped one.

and start using node and npm.

Please let me

[2017-08-12 10:32] gibfahn commented on #13640
What kind of autocomplete do you mean?

If you do `np<Tab>` in a shell with "binary-in-path" autocomplete then there is now an extra binary.

![image](https://user-images.githubusercontent.com/15943089/29239928-c912d80a-7f51-11e7-85d7-66fd14a2880c.png)

[2017-08-12 10:41] TimothyGu commented on #13640
@gibfahn https://www.npmjs.com/package/npx#shell-auto-fallback

[2017-08-12 10:50] TimothyGu commented on #14742
@Let0s If you have any more questions, please feel free to reply here or at file a new issue at nodejs/help. I'll close this issue now, but we'd be happy to help you further on this!

[2017-08-12 10:50] #14742 closed

[2017-08-12 10:53] gibfahn commented on #14785
@a4amitava for example

[code]

This will put the `bin/` directory in `/home/youruser/node/bin`, and add it to the `$PATH`. You can verify that it worked with:

[code]

You can extract the tarball anywhere, just make sure you add the `bin/` directory to the path.

[2017-08-12 10:54] gibfahn commented on #14785
Questions like this are normally better suited for [nodejs/help](https://github.com/nodejs/help). I'll close this as answered, but feel free to comment or reopen if you have further questions.

[2017-08-12 11:10] gibfahn commented on #13675
Discussion has run its course, and we're already using subteams in the org, so closing.

[2017-08-12 11:10] #13675 closed

[2017-08-12 11:50] aniket-jogal opened #14788 "Do node server support to IE"
* **Version**: 6.9.5
* **Platform**: Windows
* **Subsystem**: win 8.1

I'm not able to run code my app in IE 11 but it perfectly running in chrome and firefox browsers
do localhost/ node.js support Internet Explorer ???

[2017-08-12 11:51] bnoordhuis commented on #14788
Please post questions to the help repo, this bug tracker is not the right place to ask them.

[2017-08-12 11:51] #14788 closed

[2017-08-12 12:03] vsemozhetbyt opened #14789 "Object.freeze() and Object.seal() performance consideration"
Recently, @bmeurer has written [an article](http://benediktmeurer.de/2017/08/10/frozen-prototypes/) about possible performance penalty for frozen and sealed objects. We have two exposed ones: [in zlib.js](https://github.com/nodejs/node/blob/717a138b4a8d5b7e21349754ac14a1974840c991/lib/zlib.js#L685) and [in util.js](https://github.com/nodejs/node/blob/211df3fe8cbf4e6e18d1f7705d85c285b35979be/lib/ut

[2017-08-12 12:34] TimothyGu commented on #14789
FWIW neither of the frozen objects is used as a prototype. I think we are in the clear.

[2017-08-12 12:36] addaleax commented on #14789
As I understand the article, the core of the issue is that freezing puts objects into dictionary mode. For the zlib one, that is okay, for the util one that does seem like a bad idea.

[2017-08-12 13:16] aschrijver commented on #14771
**FYI**:

I've tried many different ways to get NodeJS running on Android and spent yesterday all-day compiling without success.

But there are some viable options that work now. I have documented my findings on stackoverflow - [Viable options to running NodeJS on Android (Aug 2017)](https://stackoverflow.com/a/45649995/8295283).

[2017-08-12 13:19] aschrijver commented on #14783
**FYI**:

I've tried many different ways to get NodeJS running on Android and spent yesterday all-day compiling without success.
I am investigating some viable-seeming approaches to use NodeJS in an android project. I have documented my findings on stackoverflow - [Viable options to running NodeJS on Android (Aug 2017)](https://stackoverflow.com/a/45649995/8295283).

[2017-08-12 13:50] Let0s commented on #14742
Sorry for wrong place to question. And Thank You for answer.

[2017-08-12 14:16] addaleax commented on #14391
@nodejs/npm It might be good to know, what’s your current schedule for future major npm versions? Is there anything we should be planning for/expecting in time for Node 9?

[2017-08-12 15:11] aqrln opened #14792 "Investigate test-timers-blocking-callback"
Unrelated failure of `sequential/test-timers-blocking-callback` on `win2008r2` in https://github.com/nodejs/node/pull/14773:

[code]

https://ci.nodejs.org/job/node-test-binary-windows/10459/RUN_SUBSET=1,VS_VERSION=vs2015,label=win2008r2/console

/cc @nodejs/testing @nodejs/platform-windows

[2017-08-12 17:04] gardner commented on #14783
Hi @aschrijver, I as well spent a lot of time with the node build system trying to get a shared lib for android. My work is here: https://github.com/gardner/ssband

You may be more interested in some work by @staltz that wraps the node binary in an Android service as showcased here: https://github.com/staltz/mmmmm-mobile

André  definitely has a great working example of running a node server from

[2017-08-12 17:20] aschrijver commented on #14783
Thank you @gardner I will look at ssband. I have included @stalz in my evaluation. He also created `react-native-node` :)

I've also tried mmmm-mobile (not completely done yet, it has some nice things, but I don't need the deeper integration with scuttlebot). Because the `react-native-node` Example [didn't work](https://github.com/staltz/react-native-node/issues/5), I've created a combination of `

[2017-08-12 18:13] martinkuba commented on #14717
@refack @AndreasMadsen Thanks for your replies, I really appreciate it.

Have there been any performance tests done - to determine overhead and also to look for memory leaks when running over long period of time?  If yes, can you please point me to those tests?

We are running benchmark tests ourselves, and would like to compare with any existing results.

[2017-08-12 18:55] #14316 closed

[2017-08-12 19:42] refack commented on #14717
@martinkuba that's a good questions re:
* https://github.com/nodejs/benchmarking
* https://www.youtube.com/watch?v=r0tdN5gx5eU&t=26s
* https://www.youtube.com/watch?v=F0rTqMezYVo
It is still an open question how should node core do benchmarking...

In this case I can only contribute anecdotal data-points. Personally I know of one project (small-medium) that uses async-hooks in a long running syste

[2017-08-12 19:54] refack opened #14794 "RFC: seeking feedback on async_hooks performance in production"
* **Version**: `v8.x` - `master`
* **Platform**: all
* **Subsystem**: async_hooks

`node@8.0.0` saw the introduction of `async_hooks` the latest and greatest incarnation of core's tracing API (https://github.com/nodejs/node/pull/11883 - based on https://github.com/nodejs/node-eps/blob/master/006-asynchooks-api.md)
The @nodejs/async_hooks teams would love to hear feedback, especially regarding perf

[2017-08-12 20:17] #14714 closed

[2017-08-12 20:33] kevinburke commented on #14714
Thank you!

On Sat, Aug 12, 2017 at 14:17 Refael Ackermann <notifications@github.com>
wrote:

--

--
Kevin Burke
925.271.7005 | kev.inburke.com

[2017-08-12 20:49] refack commented on #11273
There is a longer term goal of modularizing the error codes into a packaged modules so that other packages could use the same codes. (It could also use a `Proxy` that throws instead of returning `undefined`).
_For the time being_ the new `Error`s are "internal" and are not ments to be used by 3rd party modules.

[2017-08-12 21:08] AndreasMadsen commented on #14794
@nodejs/diagnostics

[2017-08-12 21:50] gibfahn commented on #14784
Odd, it works for me on the same Darwin kernel version with the /usr/bin/python2.6

[code]

FWIW my default python is the one that came with `brew install python`, which is `2.7.13_1`. Not sure what's up with your system python, but maybe try using the brew version.

[2017-08-12 22:05] refack commented on #14638
Can anyone see a path forward? We have a opinionated implementation (`breakLength`) but there is a more standardized format (`JSON.stringify(obj, null, 2)`).
1. Should we try to deprecate `breakLength`?
2. change it in a `semver-major` fashion?

BTW: AFAICT https://github.com/nodejs/node/blob/ab2b331f5e3204f7b9b6362c7502910ecde6acae/lib/internal/url.js#L189-L191  is the only custom inspection that

[2017-08-12 22:06] gibfahn commented on #14783
Since the `android-configure` script was created a `--shared` option was added to Node. It works (generates a valid shared lib) on Linux platforms (I haven't tried it with ARM, but it works on x,p,z). Sorry if you've already tried this and it doesn't work!

https://github.com/nodejs/node/blob/89d9cc789bd7e77d488cfd90bade0669f88cf971/configure#L489-L493

Ideally `android-configure` would be merged

[2017-08-12 22:07] gibfahn commented on #14771
Is this a duplicate of https://github.com/nodejs/node/issues/14783? If so we should probably close it so any discussion happens in one place.

[2017-08-12 23:04] DanAlbert commented on #14771
Looks like it.

[2017-08-12 23:29] gibfahn commented on #14771
I'll close. @aschrijver I'm happy to reopen this if you think it should be reopened, let me know.

[2017-08-12 23:29] #14771 closed

[2017-08-12 23:35] Trott commented on #14784
@gibfahn The fact that OP is getting `Please use either Python 2.6 or 2.7:` as the first line of output when they run `./configure` makes me suspect they have a newer (and GYP-incompatible) version of Python running.

[2017-08-12 23:43] gibfahn commented on #14662
https://github.com/nodejs/node-v0.x-archive/pull/26598 landed, I'll close.

@vsemozhetbyt reopen if it should be 😁

[2017-08-12 23:43] #14662 closed

[2017-08-13 00:25] gibfahn commented on #14624
@luki would https://github.com/nodejs/node/pull/13769 help?

The arrow syntax works really well in Rust, as that's how return types are shown in the source code, so it's really intuitive.

I think making sure a `- Returns: {Type}` is the first thing after the function definition should be pretty clear, WDYT?

[2017-08-13 01:46] gibfahn opened #14798 "Proposal: directly push nits to PR branches"
## Proposal:

For nits and non-controversial changes, collaborators can just edit the PR branch directly and add a commit.

**_EDIT:_** changed should to can

### Rationale:

I've heard at least one person specifically request that nits and stylistic changes be directly pushed to their branch. I've also noticed with WG meeting minutes, where you tend to get a lot of nits, it's become common for ot

[2017-08-13 01:52] refack commented on #14798
Of the top of my head I'm +1, but there are things to consider:
1. First timers or other novices might find this aggressive
2. "Diminishing returns", if Collaborators start fixing all code nits it steals focus and brian cycles. If T(penning the nit) ~= T(fixing the code) than that's less of an issue
3. It should be well documented how to force push such commits out (also that such commits are just

[2017-08-13 01:59] jkrems commented on #14794
I'm guessing the instructions for a non-synthetic benchmark would be:

* Run an actual app on node 8 in prod.
* Turn on `async_hooks`.
* Compare memory/CPU stats.

If so, I might get some data in the coming weeks (wanted to give 8.3 a spin anyhow in one of our services).

[2017-08-13 02:07] Qard commented on #14798
I would suggest only allowing nits to be fixed by other collaborators when only nits remain to make the PR merge ready. It would cause friction if nits we're edited while the PR author made other changes, making them potentially need to deal with merge conflicts or accidentally force push away the nit fixes.

[2017-08-13 03:07] gireeshpunathil commented on #14798
I guess T(penning the nit) << T(arbitration and ratification with the contributor)
Also I guess T(penning the nit by a collaborator) → 0

[2017-08-13 03:10] pablolmiranda commented on #14784
Replace the current python installation with the brew install and worked.
Thank you guys for the help.

[2017-08-13 03:10] #14784 closed

[2017-08-13 03:40] Trott commented on #12657
Comparing 8.3.0 with 7.9.0:

[code]

[2017-08-13 03:47] Trott commented on #3020
Should this stay open? Is it just a documentation issue?

[2017-08-13 03:54] Trott commented on #12497
This has been resolved since (I think) May. Closing.

[2017-08-13 03:54] #12497 closed

[2017-08-13 04:17] TimothyGu commented on #3020
Would it be possible to process the tick queue in C++, in the microtask handler? That way we can avoid associating microtask execution to a specific context… right?

[2017-08-13 04:18] Trott commented on #5258
Should this remain open?

[2017-08-13 04:26] TimothyGu commented on #3020
… and execute members of the microtask queue in the context that specific task was created in, which the watchdog timer should mark as disabled.

[2017-08-13 04:29] Trott commented on #2842
Is this still an issue in Node.js 8.3.0?

[2017-08-13 04:29] TimothyGu commented on #3020
Never mind. I'm not sure what I was thinking. I guess the best we can do is adding a note to the docs :(

[2017-08-13 04:30] #13021 closed

[2017-08-13 04:33] Trott commented on #12339
@nodejs/http

[2017-08-13 04:33] #11542 closed

[2017-08-13 04:36] Trott commented on #13001
Should this remain open? Does current deprecation policy reflect community needs?

[2017-08-13 04:38] Trott commented on #9722
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-13 04:38] #9722 closed

[2017-08-13 04:41] Trott commented on #8436
Should this remain open? (I'm guessing yes.) Is anyone actively working on this? (I'm guessing no.)

[2017-08-13 04:43] Trott commented on #13106
Should this remain open? (Seems like it, but maybe something happened in the last three months or maybe it's not a desirable feature for a reason that needs to be documented here or...)

[2017-08-13 04:49] Trott commented on #2385
This is fixed in current master. Closing. (Comment or re-open or open a new issue if I'm wrong.)

[2017-08-13 04:49] #2385 closed

[2017-08-13 05:03] aschrijver commented on #14771
No problem. I will transfer my findings there and add a descriptive title :)

[2017-08-13 05:08] aschrijver commented on #14783
@gibfahn Thanks. I've tried this shared option for ARM on android, but it fails (have tried for `7.1.0`, `7.10.1 and `8.x`). I agree merging `android-configure` would be best solution.

[2017-08-13 05:13] aschrijver commented on #14783
### Node v8.3.0 for ARM with latest NDK r17 canary build: Fails

**Status**: Fails at end of build when creating `.so`. May work if configured for `libc++`

Compiling NodeJS as native library for Android (`arm`) on Ubuntu 16.04 (4.4.0-59-generic) with [the latest NDK continuous build](https://partner.android.com/build#p:id=builddetail&pp=branch%253Daosp-master-ndk%2526buildnumber%253D4264851%2526t

[2017-08-13 05:31] aschrijver commented on #14783
### NodeJS v7.10.1 for ARM with dna2oslab build script, built on NDK r15 latest: Fails

**Status**: Fails at end of build when creating `.so`

Built with [dna2oslab](https://github.com/dna2github/dna2oslab/blob/master/android/build/node-v7.1.0.sh) build script.
Building resulted in similar error as earlier reported by @gardner with NDK r14-beta1 and Node v6.9.1

[code]

(not sure if exactly matchi

[2017-08-13 05:55] zhanzhenzhen opened #14800 "`password` and `salt` parameter allows both string and buffer, but the doc only says string"
For `crypto.pbkdf2Sync` and `crypto.pbkdf2`, the `password` and `salt` parameter allows both string and buffer, but the doc only says string.

[2017-08-13 07:09] benjamingr commented on #3020
We might want to revisit this now - it seems like this might be possible with async_hooks promises support. (Just don't run any microtasks from that context when the next tick queue is flushed).

Maybe I'm misunderstanding though - @addaleax can you weigh in?

[2017-08-13 07:10] benjamingr commented on #14800
I think this is explicit and for backwards compatibility. See https://github.com/nodejs/node/blob/master/lib/crypto.js#L57-L68

[2017-08-13 07:14] benjamingr commented on #14798
I'm for doing this only if the contributor explicitly allowed it (not sure if the checkbox is explicit enough). Asking is fine though.

I think a large part of onboarding is to get someone to make a contribution - we end up cleaning up the PR anyway (and adding the Reviewed-By and PR-URL most of the time ourselves) but that's transparent. I don't want to take away from the sense of accomplishment

[2017-08-13 07:32] zhanzhenzhen commented on #14800
But, can the document be more accurate?

[2017-08-13 08:11] #14726 closed

[2017-08-13 08:45] tommedema commented on #14770
@vsemozhetbyt but why use a callback when one can use async/await with try catch?

[2017-08-13 09:02] ide opened #14801 "[vm] vm.createContext time cost grows linearly with the number of retained contexts"
* **Version**: 8.3.0
* **Platform**: macOS 10.12.6 / 2.6 GHz Core i7 / 16 GB RAM
* **Subsystem**: vm

I was experimenting with creating a large number of VM contexts (specifically one per HTTP request) and observed that the performance of `vm.createContext()` grows linearly with the number of non-GC'd contexts.

If you create a context, don't retain a reference to it, and then call `global.gc()`,

[2017-08-13 09:03] TimothyGu commented on #14770
@tommedema Node.js `fs` module functions do not return a promise, and cannot be used with async/await try-catch by default. You can convert the functions to become promise-returning though with the use of [`util.promisify`](https://nodejs.org/api/util.html#util_util_promisify_original).

[2017-08-13 09:22] bnoordhuis opened #14802 "tracing: unsafe Agent::Stop() call in signal handler"
Commit ba4847e8794 introduces a call to `tracing::Agent::Stop()` in the `SignalExit()` function.

Signal handlers are only allowed to call async-signal-safe functions, which the implementation of `tracing::Agent::Stop()` is not.  This can cause erratic behavior; crashes, hangs, etc.

@jasongin @matthewloring

[2017-08-13 10:01] bnoordhuis commented on #12339
I can confirm the behavior but I'm ambivalent on how (or if) it should be fixed.

The server sends a response and closes the connection, causing the client to get an EPIPE because it's still busy writing the request data.

Ignoring the EPIPE lets it read the response.  The request data is lost to the ether, though.  Some of it may still have been processed by the server but you don't know how much

[2017-08-13 10:25] vsemozhetbyt commented on #14798
Another possible option (as a brainstorming step):

Make a comment with some keyword phrase ("memo for the lander" etc.) and a list of nits. It should be clear that this is not a request for the PR author, but they can address it if they want.

However, this can increase PR scaffolding.

[2017-08-13 10:41] agbilotia1998 commented on #2763
npm rebuild is also giving segmentation fault.

[2017-08-13 10:53] aschrijver commented on #14783
### NodeJS v7.1.0 for ARM with dna2oslab build script, built on NDK r15 latest: Fails

**Status**: Fails at end of build when creating `.so`

Built with [dna2oslab](https://github.com/dna2github/dna2oslab/blob/master/android/build/node-v7.1.0.sh) build script. This because it solves the first `mkpeephole` error you'll get with `android-configure`

It leads to similar issue as [earlier reported err

[2017-08-13 11:03] WAINGOR opened #14803 "Fundamental question"
Hi all,

I have a very fundamental question:
all I want is to render an existing page on the web through its URL and then scan it/perform Javascript methods on the contents of the page... What would be the best way to go and which modules should I check out?
I am currently working with Cheerio in combination with Node Crawler. But Cheerio is giving me some issues... Some very important methods tha

[2017-08-13 11:15] mscdex commented on #14803
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

[2017-08-13 11:15] #14803 closed

[2017-08-13 11:16] mscdex commented on #14801
/cc @nodejs/v8

[2017-08-13 11:23] AndreasMadsen commented on #14794
@jkrems You actually need to add empty hooks functions, otherwise nothing changes.

[2017-08-13 11:26] TimothyGu commented on #14803
You might find https://github.com/tmpvar/jsdom to be helpful. (I'm biased though because I work on jsdom.)

But I do agree with @mscdex that usually this type of questions is a better fit for the nodejs/help repo. We are also available on IRC at Freenode #Node.js. Feel free to continue this conversation there!

[2017-08-13 12:11] luki commented on #14624
@gibfahn That sounds amazing!

[2017-08-13 12:22] refack opened #14804 "crypto: crypto.create* - argument "options" is undocumented"
* **Version**: *
* **Platform**: *
 * **Subsystem**: crypto

* [`crypto.createCipher`](https://github.com/nodejs/node/blob/master/doc/api/crypto.md#cryptocreatecipheralgorithm-password)
* [`createCipheriv`](https://github.com/nodejs/node/blob/master/doc/api/crypto.md#cryptocreatecipherivalgorithm-key-iv)
* [`createDecipher`](https://github.com/nodejs/node/blob/master/doc/api/crypto.md#cryptocreate

[2017-08-13 12:32] refack commented on #14800
Did a pass on the `crypto` docs - https://github.com/nodejs/node/pull/14805
One other issue identified - https://github.com/nodejs/node/issues/14804 ( @zhanzhenzhen if you're up to it, you are welcome to help with documenting `options`. Our [CONTRIBUTING guide](https://github.com/nodejs/node/blob/master/CONTRIBUTING.md) is not too bad. )

[2017-08-13 12:32] refack commented on #14794
@jkrems I that will be great!

[2017-08-13 12:37] #9716 closed

[2017-08-13 12:43] refack commented on #14794
There is the example trace snippet from [nodejs.org/api/async_hooks.html](https://nodejs.org/api/async_hooks.html#async_hooks_init_asyncid_type_triggerasyncid_resource) (slightly simplified):
[code]

[2017-08-13 12:48] fvdm commented on #14713
@tniessen I misinterpreted resolvers in the question as the part of DNS that provides the requested answers, instead of the client software that performs the requests. My apologies.

[2017-08-13 13:10] refack commented on #14798
For trying to do meta-contribution to assist experienced contributors/Collaborators, there is also the option to open a PR in the user's fork against the original PR's branch.

I've done that, and also added new code to the original PR with a commit message`[suggestion] new XXX` for example if I had a new test case in mind, or a few sentences to add to a doc.

There's also the option to quote the

[2017-08-13 14:28] addaleax commented on #3020
@benjamingr I don’t think we can use async_hooks for any cool stuff here – we still can only either run all or none of microtask queue.

On the other hand, maybe somebody of us has the time to get their hands dirty and implement support in V8; what I imagine is that we could add a flag contexts that mark them as abandoned/unable to run microtasks, then when the queue is being drained just ignore t

[2017-08-13 15:23] benjamingr commented on #3020
@addaleax you're right, I don't see any way to do this without subclassing `Promise` and at that point you wouldn't need async_hooks anyway.

[2017-08-13 15:33] bmeurer commented on #14801
Interesting. Maybe @hashseed or @schuay have an idea here.

[2017-08-13 15:33] bmeurer commented on #12657
Those numbers were taken using the 8.3.0 versions of those benchmarks?

[2017-08-13 15:40] Trott commented on #12657
I used the version in the master branch.

[2017-08-13 15:41] Trott commented on #12657
Also: I ran it on macOS 10.12.6.

[2017-08-13 16:21] Trott commented on #13170
@YindSoft Do you know if you still experience this with Node.js 8.3.0?

Should this remain open?

[2017-08-13 16:28] Trott commented on #9829
Is this a change we're likely to consider? Should this remain open?

[2017-08-13 16:44] gibfahn commented on #14798
If it's a collaborator's PR I think it's easier, you don't have to worry about them being upset by it (they're probably fed up of fixing nits 😁 ).

I think that's fine in general, but that's when you want to suggest something for discussion (other option is posting the diff in a comment). But that's a different scenario from the "trying to save you the hassle of making these changes yourself" idea

[2017-08-13 16:51] gibfahn commented on #14798
@benjamingr

Yeah, we might want to make it more explicit. I think asking will slow things down too much (by the time they've agreed you'll have forgotten what you wanted to push). Maybe we could just add a sentence to the PR template (but of course many new contributors don't get Github's weird checkbox syntax).

I think it really depends how much of the PR you change. If the PR is a single sente

[2017-08-13 16:56] gibfahn commented on #14798
@Qard

I agree it would well cause issues, although I think people struggle with rebasing on master (due to not setting `pull.rebase`) anyway, and doing a `git fetch origin && git pull` should be easier than learning how to do that.

#### Alternate suggestion:

We could just make the changes and post them as a diff/patch in a comment, then contributors could apply them if they wanted to (and if th

[2017-08-13 16:57] Trott commented on #4812
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-13 16:57] #4812 closed

[2017-08-13 16:58] Trott commented on #8108
@nodejs/http

[2017-08-13 17:04] Trott commented on #7457
@nodejs/v8-inspector

[2017-08-13 17:53] vsemozhetbyt commented on #12657
I've tested on Windows 7 x 64 vs V8 6.0 / 6.1 / 6.2 and things seem getting better:
[code]

[2017-08-13 17:54] #14487 closed

[2017-08-13 19:14] benjamingr commented on #14798
I'm +1 on posting a patch and +1 on fixing typo'esque nits in big features. I'm also concerned about landing more substantial nits without the regular code review cycle. Can we have consensus on that?

[2017-08-13 19:17] addaleax commented on #14798
@benjamingr Some collaborators post approvals like “LGTM with @‍person’s nits (addressed)”, I usually take that to mean that they would approve addressing them while landing

[2017-08-13 19:29] refack commented on #14312
Showed up on linuxONE
[code]
https://ci.nodejs.org/job/node-test-commit-linuxone/7940/nodes=rhel72-s390x/console

Stress test indicate 1% failures - https://ci.nodejs.org/job/node-stress-single-test/1373/nodes=rhel72-s390x/

[2017-08-13 19:41] refack commented on #14798
To elaborate on @benjamingr comment: the landing process besides being human error prone, is also amenable to the landers personal opinions and judgment to make changes that are almost invisible to review. I admit I was many times tempted to do small tweaks, or rename a variable to two while landing.
Since it's impossible to enforce, IMHO we should have at least have "should and shouldn't do" comm

[2017-08-13 20:57] joepie91 commented on #5258
Was a decision reached on this? I haven't seen anything conclusive so far.

[2017-08-14 01:01] silverwind commented on #14789
I added the one in util so one cannot `delete` properties and break `inspect`, but I guess we could as well drop it, as no other parts of node are really protected against `delete`.

[2017-08-14 01:15] JorgenPhi opened #14814 "DNS resolver cancel does not return ECANCELLED"
* **Version**: v8.3.0
* **Platform**: Windows 10 Pro 1703 x64
* **Subsystem**: dns

Hey! I am testing out the resolver.cancel method, and I am getting back `ENOTFOUND` instead of `ECANCELLED`.

Here's my script:
[code]

Output:
[code]

[2017-08-14 01:24] refack commented on #14814
/cc @addaleax

[2017-08-14 02:51] matthewloring commented on #14802
This was added so that traces would be flushed even if the process did not exit cleanly. Is there an alternate place where this kind of shutdown logic can safely live and still run on all types of process exit?

[2017-08-14 06:15] rvagg commented on #9654
I'm going to abstain from taking a position on this because the implications could be quite broad, but I will point out that this logic isn't quite right:

Just because `''` is falsy doesn't mean we should include other falsy values in reasoning about acceptable categories. The broadest category of acceptable values is Strings, so we should just be restricting our arguments to what acceptable stri

[2017-08-14 08:11] bnoordhuis commented on #5258
It doesn't seem like there is broad agreement here.  If someone wants to open a PR that prints a warning, go ahead, but I'll close this out.

Maybe this reflects my bleak view on human nature in general and programmers in particular but if `--unsafe-perms` has taught me anything, it's that no matter what you name it, there will always be people that blindly copy/paste SO answers without giving it

[2017-08-14 08:11] #5258 closed

[2017-08-14 08:26] ybchoo opened #14816 "Enum ES6"
enum DoorState
{
  Open, Closed, Ajar
}
save as 2_a.ts
Compile using       tsc --target es6 2_a.ts
Run using              node 2_a.js
Result::
Unexpected reserved word.

[2017-08-14 08:39] TimothyGu commented on #14816
JavaScript (including ES6) does not have enums. This is most likely an issue in the TypeScript compiler. Please file your issue there.

[2017-08-14 08:39] #14816 closed

[2017-08-14 09:09] bnoordhuis commented on #14802
Not in case of SIGINT or SIGTERM, no, although you are allowed to call `write(2)` and `close(2)`.  Perhaps `tracing::Agent` needs to grow a `SignalSafeStop()` method? <sup>(3x alliteration bonus)</sup>

[2017-08-14 09:17] alexte commented on #14713
I think there are two different topics:

1.  Resolving names to number, a function most applications need.
2.  In depth DNS queries with full tweekability and full DNS response parsing, only needed for few applications.

For 1)  I would see this in the core and as standard as possible, perhaps even using libc getaddr* functions, and optimized for speed.
2) a separate library (NPM) with full contro

[2017-08-14 09:22] bnoordhuis commented on #9829
There is an open but stalled pull request.  Seeing there hasn't been much movement, I'll close this out.  If someone wants to adopt #11196, feel free.

[2017-08-14 09:22] #9829 closed

[2017-08-14 09:23] joepie91 commented on #5258
While technically true, it doesn't address the purpose of this issue.

The goal isn't to reduce the amount of misuse to *zero*, as that is clearly not achievable. Instead, the goal is to reduce the misuse *as much as possible*, and that means clearly signalling to legitimately unaware users that they are doing something dangerous, so that they can take a step back and rectify the issue if they sim

[2017-08-14 09:30] bnoordhuis commented on #13170
I'm reasonably sure this has been fixed by #14588.  Not yet released but will be soon.

[2017-08-14 09:30] #13170 closed

[2017-08-14 10:13] abegines opened #14819 "buffer.kMaxLength returning different value than buffer.constants.MAX_LENGTH"
* **Version**:
v8.2.1

* **Platform**:
win32 (10.0.14393)

* **Subsystem**:
Buffer

The documentation says...

For buffer.kMaxLength
The largest size allowed for a single Buffer instance
An alias for buffer.constants.MAX_LENGTH

For buffer.constants.MAX_LENGTH:
The largest size allowed for a single Buffer instance
On 32-bit architectures, this value is (2^30)-1 (~1GB). On 64-bit architectures, thi

[2017-08-14 10:32] bnoordhuis commented on #5258
@joepie91 Then you should follow up with a pull request.  I closed the issue because there has been no movement in the six months since it was filed.

It wasn't meant to.  I'm less hopeful than you a name change or warning will effect any real change, though.  Only removal will do that but that's going to be a prolonged effort with our deprecation policy.

[2017-08-14 11:10] jeroenvollenbrock commented on #14745
@TimothyGu I would like to use inspector.open with `wait`=true, but i need to pass the url/id to another process as well (stdout/err is not accessible at this time). This is currently impossible, because the ID/url is only accessible after invoking `.open`, but as the `.open` blocks the eventloop until a debugger is connected, it's not possible to pass the id up before the debugger connects. Setti

[2017-08-14 12:37] drywolf commented on #13500
On a related note, there also seems to be a linking problem on win32 that might be of concern to this issue.

I am building node from the checked out v7.9.0 git tag with `--enable-static`.
The node.js build finishes ok, but when I try to link the produced static libraries into the J2V8 dll code I get the following linker errors:
[code]

When I run exactly the same build from the node v7.4.0 tag ev

[2017-08-14 13:29] TimothyGu commented on #14745
@jeroenvollenbrock Ah I see. Sorry, `Session` is unrelated to `open()`, and if `open()` does not work for your purpose I don't think we have a way to make that possible for now :(

[2017-08-14 13:41] refack opened #14823 "FR: child_process.exec(cmd, { additionalEnv })"
* **Version**: *
* **Platform**: *
* **Subsystem**: child_process

`child_process.exec(cmd, { env: Object.assign({}, process.env, {NEW_VAR:1}) })` is a very common pattern. IMHO adding an `{ additionalEnv }` option that implements this pattern, will make the API more complete, and less error prone.

[2017-08-14 13:58] vsemozhetbyt commented on #14823
FWIW, in Node.js 8.3.0 we can do:
[code]

[2017-08-14 14:09] cjihrig commented on #14823
I've thought about this in the past. It seems like an awkward API to me though. I like @vsemozhetbyt's solution moving forward, and `Object.assign()` (or similar) for older versions.

[2017-08-14 14:13] mhdawson commented on #14798
I have found it required a bit more work/annoying at times when nits where pushed and then I had to make additional changes on the PR.  Proposing a patch is good and otherwise I think getting an ok from the PR would be good as they may just want to change them themselves.

[2017-08-14 14:15] mhdawson opened #14824 "V8 tests failing"
* **Version**: master
* **Platform**: all
* **Subsystem**: v8

Tests have been failing since Aug 12:

https://ci.nodejs.org/job/node-test-commit-v8-linux/

[code]

[2017-08-14 14:16] mhdawson commented on #14824
Will try cleaning workspace as possibly its a stale test.

[2017-08-14 14:19] refack commented on #14823
Ack that object spreads make this more succinct.
IMHO there is still the issue that the current API is too close the the POSIX/WIN32 system call, and is not intuitive at the application level.
I think that the case of ___adding___ vars is much more common than the case of ___replacing___ the entire env...
Maybe a cleaner option would be to add a `{ envAdditive: true }` flag (with a default of fals

[2017-08-14 14:21] mhdawson commented on #14824
CI run to see if workspace clean resolved the issue: https://ci.nodejs.org/job/node-test-commit-v8-linux/

[2017-08-14 14:26] mhdawson commented on #14824
Looks like it is failing to post to benchmark data machine:

[code]

[2017-08-14 14:30] mhdawson commented on #14824
Bridge was not running, restarted. From uptime looks like machine was rebooted 5 days ago, really need to get to setting up so the bridge auto starts.

[2017-08-14 14:31] mhdawson commented on #14824
Kicked off run to check if issue is resolved, but job is waiting on v8 test jobs to run first.

[2017-08-14 14:36] mhdawson commented on #14824
CI re-runs failed so does not look like an issue with the environment.

@jkrems failure seems to be related to this test: /home/iojs/build/workspace/node-test-commit-v8-linux/nodes/benchmark/v8test/v8test/deps/v8/out/x64.release/obj.target/inspector-test/test/inspector/task-runner.o

[2017-08-14 14:43] jkrems commented on #14824
Guess some dependency was missed when cherry-picking this? https://github.com/nodejs/node/commit/73c59bbbf9bd2a53ab322cb822ae718fabef7b6c

/cc @eugeneo

[2017-08-14 14:51] jkrems commented on #14824
Yeah, looks like the original commit contained the header change to add `FreeContext` to IsolateData (https://github.com/v8/v8/commit/f19b889be801bdebc04c49090e37c787f7ba8805#diff-119937d090f8cb387f0b4d902c9e981fR71) but the cherry-pick does not contain it.

[2017-08-14 15:09] bnoordhuis commented on #14823
C programmers will disagree with you.

This feature request seems like a solution in search of a problem and as to the syntax, I agree with Colin's choice of words: awkward.

[2017-08-14 15:23] refack commented on #14823
That's sort of my point that (C programmes) != (node programmers).
The struggle is real https://github.com/nodejs/node/pull/14822 + https://github.com/nodejs/node/pull/13390, and that's node core code written (or at least reviewed) by node core coders.

I don't have an elegant solution for syntax since the API was designed to mimic the system calls everything
 would look awkward 🤷‍♂️ The most eleg

[2017-08-14 15:29] refack commented on #14823
🤔 trying to be creative:
[code]

[2017-08-14 16:43] addaleax commented on #14814
Seems like an upstream bug to me; see https://github.com/c-ares/c-ares/pull/138

[2017-08-14 17:25] eugeneo commented on #14824
Looking into it.

[2017-08-14 17:28] eugeneo commented on #14745
This is a bug. What happens is that the WS code path does not fully account for the possibility of the JS bindings session.

[2017-08-14 18:12] misterdjules commented on #14792
`test-timers-blocking-callback` is unfortunately inherently flaky. See https://github.com/nodejs/node/pull/9198#issuecomment-255195112 for a previous discussion on this topic.

[2017-08-14 19:45] #14006 closed

[2017-08-14 20:29] #14747 closed

[2017-08-14 20:34] Trott opened #14828 "Investigate cluster/child_process oddity on macOS"
Version: 9.0.0-pre
Platform: macOS 10.x (seen on 10.10, 10.11, and 10.12)
Subsystem: cluster child_process

A workaround/fix was introduced to test-cluster-send-handle-large-payload in https://github.com/nodejs/node/pull/14780 so that it wouldn't time out on macOS from time to time.

It's not clear if this behavior is a bug in the test, a bug in Node.js, a bug in macOS, or simply not a bug at all.

[2017-08-14 20:34] Trott commented on #14828
/cc @nodejs/platform-macos

[2017-08-14 21:17] abernix commented on #14228
@MylesBorins Done: https://github.com/nodejs/node/pull/14829.  Note that the PR deviated slightly from my previous suggestion to apply https://github.com/abernix/node/commit/7841772, but I think I've explained why (see `CompilationCacheTable::Age` vs `HashTable::Rehash` in that convo).

Ultimately, the `MarkCompactCollector::ClearWeakCollections` changes were the breaking factor, though there's no

[2017-08-14 21:33] #14699 closed

[2017-08-14 21:37] jasongin commented on #12646
I'd like to nominate @kfarnung

Kyle has been helpful for the last two months with both the N-API project and Node-ChakraCore.

Comments:
https://github.com/nodejs/node/search?utf8=%E2%9C%93&q=commenter%3Akfarnung&type=Issues
https://github.com/nodejs/node-addon-api/search?utf8=%E2%9C%93&q=commenter%3Akfarnung&type=Issues

Commits:
https://github.com/nodejs/node/commits/master?author=kfarnung
http

[2017-08-14 21:38] trevnorris commented on #14238
@AndreasMadsen

I don't think dismissing the documentation, or the intent of the API, is a sound direction to take. This comment makes it sound like the documentation was written prior to the API being developed, and not from hundreds of hours of brainstorming, experimentation and trial-and-error, and thus it's of little concern if the API is altered.

Before we question how the documentation is "

[2017-08-14 21:49] binarykitchen commented on #12774
still no response from browserify

but still, i wonder why not to apply `.toString()` - this would help greatly and comes with no pitfalls. @addaleax

i could do a pr for that it this is ok?

[2017-08-14 22:50] Trott commented on #14792
Attempted mitigation: https://github.com/nodejs/node/pull/14831

[2017-08-14 22:54] addaleax commented on #12774
@binarykitchen I still don’t really know where the snippet you posted is from, how this bug relates to Node (it still reads like a frontend issue from everything you’ve said), or what your expected behaviour is.

Sure – that might help clear a few things up anyway

[2017-08-14 23:01] binarykitchen commented on #12774
yeah, it's node, around these C++ lines (not sure which one of these)

https://github.com/nodejs/node/blob/98ddab411523f83eca9b5311529f8288379e550f/deps/v8/src/builtins/builtins-object.cc#L271
https://github.com/nodejs/node/blob/98ddab411523f83eca9b5311529f8288379e550f/deps/v8/src/builtins/builtins-string-gen.cc#L999

sorry, cannot do a pr since i am not skilled enough with C++ ... point is that t

[2017-08-14 23:03] evanlucas commented on #12774
Wouldn't the first implicitly call `toString()` on `it` though?

[2017-08-14 23:05] binarykitchen commented on #12774
right. then something else than `toString()`. maybe util.inspect() or something better which can deal with objects too.