[2018-02-20 10:45] santigimeno commented on #15651
Weird, I ran the code several hours and the heap size seemed pretty stable. Is it the same crash? Did it took longer to crash?

Can you try with this patch without the `{ keepOpen: true }`?:

[code]

[2018-02-20 10:54] bnoordhuis commented on #18879
Yes, that's https://github.com/nodejs/build/issues/744.

[2018-02-20 11:46] paulrutter opened #18880 "Creating heapdump in 'SetOOMErrorHandler' uses a lot of memory"
Based on the work of @trevnorris (https://github.com/trevnorris/node-ofe) and https://github.com/nodejs/node-v0.x-archive/issues/4330, i have modified https://github.com/blueconic/node-oom-heapdump to add an OoM error handler with `isolate->SetOOMErrorHandler(OnOOMError);`.

Then, a heapdump is created by using the following code:

`
const HeapSnapshot* snap = v8::Isolate::GetCurrent()->GetHeapPro

[2018-02-20 11:54] antoine-amara commented on #18862
Ok thanks, I remain available to code a fix.

[2018-02-20 12:57] mcollina commented on #18879
SGTM, I have a nice template that can be used.
Il giorno mar 20 feb 2018 alle 10:55 Ben Noordhuis <notifications@github.com>
ha scritto:

[2018-02-20 12:58] mmarchini commented on #18880
The entire code to generate heap dumps is located in V8, so I think this problem is V8-related and not Node-related. /cc @nodejs/v8

[2018-02-20 13:09] evanlucas commented on #1873
@ChALkeR did you ever get around to this? Is the plan to consolidate `_headerSent` and `headersSent`?

[2018-02-20 13:32] maclover7 commented on #18879
+1 as long as criteria used will be very similar to that for being added in the first place -- comments in issues, helping out with the different WGs, etc.

[2018-02-20 13:33] Kmaschta commented on #18759
Another nice message that I got from a segfault:

[code]

[2018-02-20 13:35] addaleax commented on #18759
@Kmaschta If you program handles data that is not public, it will likely end up in the core dump, so you might want to upload it somewhere and email us links (they are in the https://github.com/nodejs/node/ README). If not, feel free to post a link publicly.

Either way, yes, that is going to be very helpful!

[2018-02-20 13:59] bnoordhuis commented on #18759
@Kmaschta That last one is #18256.  I have it on my radar.

[2018-02-20 13:59] joshuao3 opened #18882 "NPM breaks EVERYTIME I install a package"
Version: v8.9.4
Platform: 64-bit Windows
Subsystem: npm

Every time I run "npm -install" on ANY PACKAGE the node_modules/npm folder is deleted. There is nothing in the messages during the package install that suggests an error. So, when I try to run npm at a later date I get the following message:

[code]

This has been happening on EVERY Windows platform on which I've been installed any recent ve

[2018-02-20 14:01] bnoordhuis commented on #18880
That's just a rule of thumb.  Much depends on the make-up of the heap.

At a guess, your heap dump exists of a great many small objects and perhaps you've also enabled allocation site tracking.

[2018-02-20 14:33] joyeecheung commented on #18882
Hi, can you open an issue [in the npm issue tracker](https://github.com/npm/npm/issues) instead? This issue tracker is for Node.js core issues. If it turns out to be a Node.js core issue, feel free to ping here to reopen.

[2018-02-20 14:33] #18882 closed

[2018-02-20 14:38] joyeecheung commented on #18855
cc @nodejs/http2

[2018-02-20 14:38] joyeecheung commented on #18862
cc @nodejs/http2

[2018-02-20 14:41] joyeecheung commented on #18797
I think this can be closed since the question has been answered. Feel free to reply to reopen it otherwise.

[2018-02-20 14:41] #18797 closed

[2018-02-20 14:55] joyeecheung commented on #18674
Should be fixed in https://github.com/nodejs/node/pull/18811

[2018-02-20 14:55] #18674 closed

[2018-02-20 15:02] joshuao3 commented on #18882
Absolutely. Thank you!

[2018-02-20 15:34] paulrutter commented on #18880
Ok, thanks for your response.
I'm haven't enabled allocation site tracking ('startTrackingHeapObjects' is false by default), but you do have a point about a great amount of small objects being on the heap.

I wasn't aware of the fact that the heap content had impact on the heapdump size, but it sounds logical now that you mention it.
I will test again with a more real-life out of memory, which wil

[2018-02-20 16:05] paulrutter commented on #18880
I have tested my solution with a more real-life testcase; parsing a large JSON blob.
And indeed, the heapdump file is not only smaller, but takes far less memory to generate.

Seems to me like this is not an issue, unless you have a real-life scenario where a very large number of small objects are on the heap.

Thanks for you help 👍

[2018-02-20 16:05] #18880 closed

[2018-02-20 16:32] bnoordhuis commented on #18786
Reopening, see https://github.com/nodejs/help/issues/1111#issuecomment-367035203.  Looks like V8 is still using a 32 bits int to store `--max_old_space_size`.

[2018-02-20 18:33] Fishrock123 commented on #18876
Sorry, we need more information to help you.

Maybe you could ask this with more details in https://github.com/nodejs/help?

[2018-02-20 18:33] #18876 closed

[2018-02-20 19:21] kichingxx commented on #18842
@devsnek are you saying node http calls toString? I'm not calling it on my end. Is there an open issue for this because this seems kind of weird

[2018-02-20 19:23] Trott commented on #18879
My personal plan was to do this once a year. Basically, find all collaborators with no commits since the release of the oldest supported version of Node.js. (So, last year, it was since Node.js 4.0. Later this year, I was going to do it for people who haven't contributed since Node.js 6.0.) In practice, that tends to mean no commits for two years.

I appreciate wanting to document this process, bu

[2018-02-20 19:25] devsnek commented on #18879
@joyeecheung maybe this can be yet another thing in ncu?

[2018-02-20 19:35] zeke opened #18887 "Improving the documentation for `url.format()`"
* **Version**: All
* **Platform**: All
* **Subsystem**: All

I've noticed that the [documentation for the `url.format()` method](https://nodejs.org/api/url.html#url_url_format_urlobject) has becoming a long-winded story of "If this condition is met, then this happens, else this other thing happens, unless something something."

I'm all for leaving this detailed explanation of the method's behavior

[2018-02-20 19:37] Trott commented on #18887
Sounds good to me, although doc PRs do tend to attract a lot of comments/requests for changes. As long as you're prepared to be patient with the process, :+1:!

[2018-02-20 19:40] joyeecheung commented on #18879
@devsnek Well I already half-implemented something locally for the collaborator nomination template thing (and accidentally committed [one of the GraphQL queries](https://github.com/nodejs/node-core-utils/blob/master/lib/queries/SearchIssue.gql) in another unrelated PR...), just need to find some time to flesh it out..

[2018-02-20 21:21] bnoordhuis commented on #18786
https://chromium-review.googlesource.com/c/v8/v8/+/927063

[2018-02-20 22:37] mischkl opened #18889 "Allow max heap size to be configured globally"
* **Version**: 8.9.1
* **Platform**: Windows
* **Subsystem**:

At the moment certain node processes, e.g. Webpack when building large projects, consistently lead to the out-of-memory error `FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory`. While it is possible to increase the heap size by calling e.g. `node --max-old-space-size=4096 ./node_modules/.bin/webpack` t

[2018-02-20 22:40] addaleax commented on #18889
You mean something like `env NODE_OPTIONS=--max_old_space_size=4096 node ./node_modules/.bin/webpack`? Because that exists :)

[2018-02-20 22:45] mischkl commented on #18889
Yes, I suppose that is exactly what I meant. :smiley:

[2018-02-20 22:45] #18889 closed

[2018-02-20 22:52] Juul commented on #14102
I believe I am seeing this same problem in node v8.9.4. I am using http.createServer and the [ws module](https://www.npmjs.com/package/ws) and passing the http server instance to `ws` like so:

[code]

I have added error handlers everywhere I can think of:

[code]

Two of the error handlers receive the `ECONNRESET`:

[code]

However I still get an uncaught exception:

[code]

That appears to be th

[2018-02-20 23:28] MylesBorins commented on #18402
This does not land cleanly on v9.x

Not sure if the coverage is broken on that branch, but we likely want to backport a fix if it is

[2018-02-21 01:16] gibfahn commented on #18402
@MylesBorins are you talking about https://github.com/nodejs/node/pull/18409 ?

[2018-02-21 02:23] richardlau commented on #18533
This has happened (https://github.com/nodejs/node/commit/6c9774fd94173ee29921f65d42880d1344ee027b) 🎉 .

[2018-02-21 02:23] #18533 closed

[2018-02-21 07:06] benjamingr commented on #18879
@joyeecheung awesome, can you also check for `Reviewed-By` with their email in the commit log?

[2018-02-21 08:08] hashseed opened #18894 "Weak reference proposal at TC39"
Just to keep the Node.js community in the loop. There is a [proposal](https://github.com/tc39/proposal-weakrefs/blob/master/specs/weakrefs.md) to add weak references to JavaScript. This proposal is at a very early stage so I'd like to think there is still a lot of room for ideas and use cases.

Some Node.js use cases I could think of:
- Clean up of resources.
- Instrumentation for monitoring.
- Ev

[2018-02-21 08:52] juggernaut451 commented on #18778
@BridgeAR in some cases `n` is already defined. Which may give arise to conflict when renaming `millions -> n`. For example in `benchmark/es/spread-assign.js`.

[2018-02-21 09:01] AndreasMadsen commented on #18778
In that case `n` is the number you want, so that shouldn't cause any problems.

[code]

[2018-02-21 09:02] juggernaut451 commented on #18778
thank you @AndreasMadsen  :)

[2018-02-21 09:11] zaszlo commented on #13492
Thanks for these suggestions

[code]

But downgrading npm fails with the same message:

[code]

[2018-02-21 09:44] bnoordhuis commented on #14102
@Juul Can you reproduce without ws?  I.e., using just built-in modules?

[2018-02-21 11:13] lpinca commented on #14102
@Juul it looks like you didn't add an error listener on the `WebSocket` instance on the server? In your case `ws` is the WebSocket server so should add this. From the above snippet you are only adding a listener on the `WebSocketServer` instance.

[code]

[2018-02-21 11:23] samee-ch commented on #13492
@zaszlo could you please try to remove package-lock.json + node-modules and run npm install. Hopefully, it will resolve this issue.

[2018-02-21 11:32] santigimeno commented on #15651
@Reggino yeah with the patch the socket is detached from the response so it's set to null. In fact, you don't need to call socket.end as the socket is automatically closed after being sent to the child. Can you comment that line?

[2018-02-21 12:01] maneshdas commented on #18786
Thanks a lot to take this further!

Is there any quick solution to overcome process out of memory issue other than code optimisation?

I tried --max_old_space_size=3072 (±3GB) but still FAILED!! :( in AWS production machine (but worked fine with local Mac osx machines)

Any workaround would be appreciated!

Thanks!

[2018-02-21 12:06] jorangreef opened #18896 "crypto.alloc() for encryption key memory management"
@indutny and everyone working on the `crypto` module:

At present, using a `Buffer` for a crypto key exposes the key to core dumps, swapping,  and forking. The user also has to remember to erase the key once done. Granted, core dumps and swapping can be disabled system wide, but some libraries such as `libsodium` take care of this automatically, without the user having to know the fine details.

W

[2018-02-21 12:32] zaszlo commented on #13492
I purged nodejs with force :) and then reinstalled with nvm, now I don't get errors anymore :-D

[2018-02-21 12:38] capaj commented on #11865
@ejoebstl that does not help for this particular issue. Long stack traces help if you're using raw promises. With `await` the stack is blow away every time-see my issue https://github.com/tgriesser/knex/issues/2500 for example

[2018-02-21 12:48] maneshdas commented on #18786
It would be great if you can suggest the maximum possible value for --max_old_space_size
Node JS version: 4.8.7

Thanks!

[2018-02-21 12:54] bnoordhuis commented on #18896
I know it's been discussed before but I can't find the issue so I'll just summarize. :-)

It's not that useful while we're still using openssl 1.0.2 because even if node.js takes precautions, openssl won't - it doesn't mlock/madvise its copy of the key.  That functionality only exists in 1.1.0 and above and, caveat emptor, openssl doesn't set MADV_DONTFORK because it has to support the pre-fork mo

[2018-02-21 13:04] Reggino commented on #15651
@santigimeno awesome! Indeed, this seems to fix the issue! :bowing_man:

[2018-02-21 13:12] bnoordhuis commented on #18786
I think you should be good with values < 2048.

[2018-02-21 13:31] ajimix commented on #10871
I'm having the same problem with node 8.9.4

[2018-02-21 14:16] bnoordhuis opened #39555 "takeHeapSnapshot() file write race condition"
[code]

[2018-02-21 14:24] #14828 closed

[2018-02-21 14:26] pavanravuri commented on #6145
Can you share changes you made in _tls_common.js to specify loading your .so engine ?

[2018-02-21 14:36] bnoordhuis opened #18897 "src: get rid of ClearWrap()"
Continuing from https://github.com/nodejs/node/pull/18656.

Commit 6bdc18c592b9d66fd652a9bdaa53f87486d0a634 removes an erroneous ClearWrap() call that I think is indicative of a bigger problem.

Some persistent objects are sometimes destroyed by the garbage collector, sometimes by explicit action (e.g. closing of a handle), and that can leave the object in an inconsistent state.

My hunch is that

[2018-02-21 14:41] hashseed commented on #18879
Some companies offer 12 weeks or more parental leave. I personally have had 10 weeks in a row. So... get child, come back to committer status gone.

[2018-02-21 14:48] bnoordhuis commented on #18879
I got two days...  privileges are easy to reinstate though, I don't think it'll be a big deal in practice.

[2018-02-21 14:49] BridgeAR commented on #18879
I guess right now most inactive people are either inactive for a long term or they are at least active from time to time. So even if we set a period of six month it would probably almost be identical to a three month period.

Does someone know if we can verify my hypothesis easily?

[2018-02-21 16:10] mkartashov commented on #18058
hey @mcollina , thank you for your reply and sorry that I disappeared for 20 days :laughing:

I would gladly submit a PR clarifying the behaviour with both handlers! Hopefully it will be much quicker.

However what I still didn't get is that why `'readable'` is not returning the last `null` before ending in my case? I've had a look through the `IncomingMessage` implementation in `_http_incoming`,

[2018-02-21 16:35] camilogiraldo opened #18903 "Node server not responding requests with request headers bigger than 8KB allowed"
Hello guys,

I was having an issue with an http server, sending a request header ('Authorization') too big. The server just hung up. After struggling a lot, I found that the max headers permitted by node is 8KB. Nonethless, no error was sent back to the client as it was expected.

Is it the normal behavior ? or it should return a 4xx or 5xx status code?

I created a stackoverflow question with my

[2018-02-21 16:38] tomas opened #18905 "Promise eval in repl yields inaccessible object"
* **Version**: v8.9.4
* **Platform**: Linux x64
* **Subsystem**: repl

I'm trying to build a custom repl that yields promises before returning the value to the user, but for some reason I'm unable to "reach" the final value, even though it does appear to be correctly assigned.

This is the code I'm using:

[code]

And this is what happens:

[code]

However, the "real" result does get correctly ass

[2018-02-21 16:45] devsnek commented on #18894
slightly off topic but all i want is a map where the keys are whatever and the values are weakly referenced, and then the entry gets removed when the value is gc'd

[2018-02-21 16:47] juggernaut451 commented on #18778
In `benchmark/process/next-tick-depth-args.js` there is already variable `n` that is being manipulate inside the file and `bench.end` is passing millions. Will there be conflict if i change `millions -> n` ?

[2018-02-21 16:52] hashseed commented on #18894
Like a WeakMap?

[2018-02-21 16:53] devsnek commented on #18894
inverse of a WeakMap

[2018-02-21 16:54] addaleax commented on #18894
@hashseed https://www.npmjs.com/package/weak (and https://www.npmjs.com/package/weak-napi) might be helpful if you are looking for prior art on this topic

[2018-02-21 16:55] BridgeAR commented on #18778
@juggernaut451 please always check how the variables are used. In this particular case it is that n is what we want to have. So you just have to replace millions with n and you are done.

[code]

[2018-02-21 16:58] targos commented on #18894
👍 I think it could help a lot with objects returned from WebAssembly modules

[2018-02-21 17:06] juggernaut451 commented on #18778
ok thanks was just confirming so that things don't mess up

[2018-02-21 17:22] catdad opened #18907 "the --use-openssl-ca does not consistently update certificates"
* **Version**: 8.9.4
* **Platform**: Ubuntu 14.04
* **Subsystem**:

Steps to reproduce:
1. Create a self-signed cert with all the correct bits.
2. Start a server using that cert/key combo.
3. Start node with the `--use-openssl-ca` flag.
    - `node --use-openssl-ca`
4. Request content from that server.
    - `https.get('https://192.168.1.107:4433/cert.pem', res => console.log(res.statusCode))`

[2018-02-21 17:28] mkartashov commented on #18058
I **think** I might be onto something.

If I implement my own simple stream:

[code]

and run this I will get proper output:

[code]

However if I remove `|| null` then I will get only `readable 3` as the only line in the output.

What I have found is that http response overrides both `.read()` and `._read()` methods (https://github.com/nodejs/node/blob/master/lib/_http_incoming.js#L91 and https:/

[2018-02-21 17:47] juggernaut451 commented on #18778
@BridgeAR `benchmark/process/next-tick-breadth-args.js` file already contain `n` and `millions` value is being allocated to `N`.

[2018-02-21 17:50] rooftopsparrow commented on #9706
Hello,

I was hoping in node 8 this was fixed but alas it seems to be even worse now. Using the script provided  above its very easy to repoduce, and its alarmingly easy to see bad effects when you increase the worker count from 2 to something like 8. I was able to see the immediate effects when doing a larger cluster.

here are logs from the script right after ab was started

[code]

[2018-02-21 17:58] indutny commented on #18896
I'm afraid that it won't work as well as we could have hoped for (as @bnoordhuis said). Even if we'd make guarantees for such buffer very strong, there's still on-stack access and V8 heap values that could ruin them.

[2018-02-21 18:02] bzoz commented on #17253
The rebuild time should be fixed by https://github.com/nodejs/node/pull/17393

[2018-02-21 18:02] #17253 closed

[2018-02-21 18:06] santigimeno commented on #9706
@pitaj @rooftopsparrow what platforms are you observing the issue on?

[2018-02-21 18:19] bnoordhuis commented on #18907
The name of the `--use-openssl-ca` already hints at the fact that it's handing over control to OpenSSL.  OpenSSL loads certificates from disk on demand and caches them in memory.  Node.js has no control over that, not even indirectly.

[2018-02-21 18:19] #18907 closed

[2018-02-21 18:22] algv commented on #7651
@pavanravuri We  deleted second init engine from InitCryptoOnce https://github.com/nodejs/node/blob/master/src/node_crypto.cc#L5529 and rebuild node

code that used for node 6.x

[code]

[2018-02-21 18:30] bnoordhuis commented on #18903
You can make it send one by attaching a `server.on('clientError')` listener.  Newer versions of node.js do that automatically but v6.x doesn't.

[2018-02-21 18:30] #18903 closed

[2018-02-21 18:32] rooftopsparrow commented on #9706
This was tested on macOS 10.13.2, node v8.9.4, and latest express.

[2018-02-21 18:57] juggernaut451 commented on #18778
ignore the last comment. Figured out

[2018-02-21 18:58] targos opened #18909 "V8: upcoming deprecation warnings"
The [latest canary update](https://ci.nodejs.org/view/MyJobs/job/node-update-v8-canary/356/consoleFull) uncovered a few new deprecations from V8.
I didn't check, but those can probably already be fixed on `master`:

- [ ] `v8::Message::GetLineNumber()` in `node.cc`:
  <details>

[code]

  </details>
- [ ] `v8::Message::GetSourceLine()` in `node.cc`:
  <details>

[code]

  </details>

- [ ] `v8::St

[2018-02-21 19:42] targos commented on #18909
Edit: Alternative APIs are all available on `master`. I added the signatures of the methods that are supposed to be used in the OP.

[2018-02-21 20:08] UlisesTJ opened #18913 "Hello, I would like to collaborate with your Spanish translator project, which is my native language."
* **Version**:
* **Platform**:
* **Subsystem**:

[2018-02-21 20:10] joaocgreis commented on #18837
I believe this is related to https://github.com/nodejs/build/issues/1133, it's the same machine. A Visual Studio update was installed on that machine that seems to have disturbed it for a while, but it looks ok now.

I'll close, please reopen if this happens again.

[2018-02-21 20:10] #18837 closed

[2018-02-21 20:13] hashseed commented on #18909
We are actually actively working on moving stuff marked as V8_DEPRECATE_SOON to V8_DEPRECATED.

[2018-02-21 20:20] targos commented on #18909
@hashseed good to know! I'll update this issue with the new deprecations as they arrive.

[2018-02-21 20:25] hashseed commented on #18909
[This](https://bugs.chromium.org/p/v8/issues/detail?id=7269) is the tracking bug for that effort.

[2018-02-21 20:41] inidaname commented on #18909
If this is still open may I know if I can take it up.

[2018-02-21 21:10] gibfahn commented on #18909
Go for it. If you have issues you can comment here.

[2018-02-21 21:18] BubuAnabelas opened #18921 "Same Buffer but different output"
* **Version**: v9.4.0
* **Platform**: `Linux 3.2.14-cmpc-rc7 #2 SMP Fri May 4 14:20:59 CST 2012 i686 i686 i686 GNU/Linux`
* **Subsystem**: Mint 13 Maya

I was using the `chalk` library for colorizing the output but when I tried to pass it through a unix pipe the control characters where gone.
[code]
When I run it and pass it to xxd like this `node colors.js | xxd` i get:
`0000000: 4865 6c6c 6f20 5

[2018-02-21 21:27] addaleax commented on #18921
@BubuAnabelas I think `chalk` only colours the output if `stdout` is a terminal that supports colours, but that isn’t the case when you’re piping it into `xxd`, see https://www.npmjs.com/package/chalk? Does that make sense to you?

[2018-02-21 21:47] BubuAnabelas commented on #18921
@addaleax It only makes sense partially, because once I have the Buffer isn't all just raw bytes?
When I do `console.log(bufferText.toString())` shouldn't `node` convert those raw bytes to ascii or unicode and write it to `stdout`?
There's where I see the problem, or where I don't understand Buffers behavior.

[2018-02-21 21:49] helmutgranda commented on #18909
Are those listed above 1:1 replacements?

From:
v8::Message::GetLineNumber()
To:
v8::Message::Maybe<int> GetLineNumber(Local<Context> context)

[2018-02-21 21:51] devsnek commented on #18921
check uses https://www.npmjs.com/package/supports-color which hits [this condition](https://github.com/chalk/supports-color/blob/1a6f8b2746e8ca3f3c2663d503e1c1a7329f7c47/index.js#L50-L52) (specially `!stream.isTTY`) which circumnavigates wherever you might be dumping the output of chalk(...)

[2018-02-21 21:53] addaleax commented on #18921
@BubuAnabelas Can you provide a standalone script that shows unexpected behavior in your opinion? The pieces of code above are mostly snippets, which makes it kind of hard to know what exactly you are running

[2018-02-21 22:01] justin0022 opened #18922 "Move CPP_STYLE_GUIDE.md to /doc"
I think `CPP_STYLE_GUIDE.md` should be in the same folder as the more general `STYLE_GUIDE.md`, which is located in the `/doc` directory.

Perhaps they can both be moved into `/doc/guides` directory.

[2018-02-21 22:05] gibfahn commented on #18922
cc/ @addaleax

At first glance I think putting it in `doc/` would make sense, but I assume there's a reason it didn't go there in the first place.

I'm not sure it makes sense to put it into `doc/guides/`, it's not really a guide in that sense.

[2018-02-21 22:07] addaleax commented on #18922
I think `doc/STYLE_GUIDE.md` is in `doc/` because it’s the style guide for that very directory?

I don’t really care that much as long as it stays discoverable. We might even make it the `README.md` of `src/`, I’d be fine with that.

[2018-02-21 22:11] BubuAnabelas commented on #18921
Here are the steps I made to check the output and pass it to xxd and the comprobation step to check if both buffers where the same. https://gist.github.com/BubuAnabelas/aceaa8325c64f27c3d27df9e864768f2

Piping the output from step2 to `xxd` should give the same result as piping the output from step4 to `xxd` because both buffers are equal (see step5). I don't expect step1 to give the same as the o

[2018-02-21 22:16] addaleax commented on #18921
@BubuAnabelas Saving your `step5.js` example and running it:

[code]

So yes, this is being caused by `chalk` checking whether `stdout` is a colour-supporting TTY or not, like @devsnek and I commented above.

I’m closing this as an answered question, but feel free to open an issue at https://github.com/nodejs/help/ if anything’s unclear.

[2018-02-21 22:16] #18921 closed

[2018-02-21 22:19] justin0022 commented on #18922
Okay, that makes sense. Is it worthwhile to submit a PR with the style guide moved to `src` as `README.md`?

Also, is there a corresponding Javascript style guide for Node?

[2018-02-21 22:41] chinhuang007 commented on #18485
I could make these test cases run sequentially. But I can't reproduce the error with the existing code. Any suggestions how to make the error appear so I can see if the fix removes the error?

[2018-02-21 22:55] Trott commented on #18922
Probably not, in my opinion anyway.

No. The style guide for JavaScript is (more or less) the ESLint rules. I suspect the C++ linter is not as powerful/robust as ESLint, necessitating a separate style guide. (Or maybe I just have no idea what I'm talking about. That's entirely possible, TBH.)

[2018-02-21 23:48] pitaj commented on #9706
@santigimeno I tested it in win32, Node 8.8.1

[2018-02-22 02:49] #18922 closed

[2018-02-22 03:06] princejwesley commented on #18905
`foo()` returns promise in `res = foo()` statement and therefore, `res` is a promise instance.
`{ success: true }`  its just a REPL output expression which is specifically handled(with custom eval function)  for promise instance.

[code]
What you need is something like ` res = await foo();` which will be available in the future release.

Closing this ticket, feel free to reopen it.

[2018-02-22 03:06] #18905 closed

[2018-02-22 03:27] Juul commented on #14102
@lpinca Yay! Thanks for the suggestion! This turned out to be the problem + a similar problem at an even higher layer.

This is not a node.js issue. My apologies for taking up people's time.

[2018-02-22 05:40] mojavelinux opened #18926 "Clarify that require.resolve automatically adds global folders to lookup path"
* **Version**: v8.9.4
* **Platform**: Fedora 26

It's not clear from the docs that `require.resolve` automatically adds the global folder to the module search path when using the `paths` option. It's clear that each path provided will be used as the starting point of a node_modules hierarchy. However, no where is it stated that the global folders (like `~/.node_modules`) are added implicitly, lead

[2018-02-22 06:15] pavanravuri commented on #7651
@algv : Thanks for detailed reply !!
Where is "OPENSSL_CONF" located ? Is it inside node.gyp ?

[2018-02-22 06:38] pavanravuri opened #18927 "Compilation issue in 9.5.0"
* **Version**: 9.5.0
* **Platform**:: 131-Ubuntu SMP Thu May 12 23:33:13 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: if known, please specify affected core module name

Tried to compile NODE for Linux (node-v9.5.0.tar.gz). Compilation failed with below output:

  c++ -pthread -rdynamic  -o /node-v9.5.0/out/Release/genccode -Wl,--start-group /node-v9.5.0/out/Release/obj.host/genccode/d

[2018-02-22 07:02] ofrobots commented on #13254
With the `nan` changes landed, I believe this is ready to be closed now. Please reopen if anyone disagrees.

[2018-02-22 07:02] #13254 closed

[2018-02-22 07:12] gireeshpunathil commented on #18927
that is weird, as the archive was used successfully in building `genccode`, in the previous step.

- can you `rm out/Release/obj.host/tools/icu/libicutools.a` and do `make` again to see if the archive is building properly and succeeding to building `genccode`?
 - also can you issue `file out/Release/obj.host/icutools/deps/icu-small/source/tools/toolutil/collationinfo.o` to see file format of an ob

[2018-02-22 08:43] bnoordhuis commented on #18927
On what kind of file system is that and how large is the .a file?  It might have been truncated due to a full disk or file size quota.

[2018-02-22 09:10] joyeecheung commented on #18879
I think in that case the people who need to be absent for a long time can just say that in, say, the private discussion page before they start their leaves. Another upside about that is other people would know not to ping them or request reviews from them when unnecessary, and not to hold something off until they show up.

[2018-02-22 09:33] joyeecheung commented on #18879
My findings using the `ncu-contrib` tool was:

1. 7 collaborators have not showed up in the organization for more than a year (I grabbed the stats on 02-20, so the start is 2017-02-20). That includes comments, reviews, PRs, issues in every repo under the Node.js organization. 18 if the start is 2017-09-20, 30 if it's 2017-12-20.
2. More than 10 collaborators' last commit are adding themselves to t

[2018-02-22 09:39] santigimeno commented on #9706
@rooftopsparrow can you check using this [PR](https://github.com/nodejs/node/pull/18918) that includes libuv@1.19.2. https://github.com/libuv/libuv/commit/e6168df52077e40d600807dc0096c1ed4fd99a13 might have improved things for `OS X`.

[2018-02-22 10:08] #18303 closed

[2018-02-22 10:38] joyeecheung commented on #18926
SGTM, it would also be helpful if there are some revisions in the resolution algorithm's documentation https://nodejs.org/api/modules.html#modules_all_together or an alternative one for the specified `path` scenario.

[2018-02-22 10:41] bnoordhuis opened #18930 "lib: bootstrap should not have RegExp side effects"
[code]
(Due to fixing up config.gypi in `setupConfig()` in `lib/internal/process.js`.)

[2018-02-22 10:42] bnoordhuis opened #18931 "repl: no RegExp side effects"
[code]
Caused by the repl trying to fix up the side effects to `RegExp.$1` to`RegExp.$9`. :-)

[2018-02-22 10:52] pavanravuri commented on #18927
Still facing same issue:

node-v6.13.0/out/Release/obj.host/tools/icu/libicutools.a: error adding symbols: Archive has no index; run ranlib to add one
collect2: error: ld returned 1 exit status
make[1]: *** [/node-v6.13.0/out/Release/icupkg] Error 1
make[1]: *** Waiting for unfinished jobs....
node-v6.13.0/out/Release/obj.host/tools/icu/libicutools.a: error adding symbols: Archive has no index; ru

[2018-02-22 10:55] pavanravuri commented on #18927
@bnoordhuis:
On what kind of file system is that and how large is the .a file? It might have been truncated due to a full disk or file size quota.

####
I am using Linux system. I have enough disk space (~120GB free.. ) so that shouldn't  be problem !!

[2018-02-22 11:20] championswimmer commented on #14970
Would definitely love to see this happen!
Very useful for transpiled source packages

[2018-02-22 11:41] #17921 closed

[2018-02-22 11:44] #16864 closed

[2018-02-22 12:17] gireeshpunathil commented on #18927
- please confirm you are following regular build procedure: `./configure && make`
 - see if these commands work:
   - `nm -s libicutools.a`
   - `ar -t libicutools.a`
 - also,
   - `cksum libicutools.a`
   - if you delete `libicutools.a` and do `make`, there is a specific command `ar crsT <and a 400+ files>` that runs. Please watch the output of that to see if it err's.

[2018-02-22 12:20] joyeecheung commented on #18909
@helmutgranda They should be.

FWIW I have put up an initial version about how to migrate the deprecated APIs in the C++ style guide quite some time ago, just have not found the time to polish it and open a PR, but here it is:

https://github.com/joyeecheung/node/blob/v8-maybe-doc/CPP_STYLE_GUIDE.md#use-maybe-version-of-v8-apis

Since there are some maybes that should be handled with care (proper

[2018-02-22 12:23] princejwesley commented on #18931
@bnoordhuis When we run from the file, the output should be empty, right?

**Source**: `/Users/princejohnwesley/Desktop/RegExpInput.js`
[code]
###### output (< v8.0.0)
[code]
###### output (>= v8.0.0)
[code]

[2018-02-22 12:40] bnoordhuis commented on #18931
@princejwesley That's right,

[2018-02-22 12:42] maneshdas commented on #18786
Unfortunately still it is not working!
We're using PM2 to launch the Node instance and monitor. Here is the command

pm2 start /home/sever/src/bin/app.js -i 1 --name app_server --node-args="--max_old_space_size=2048"

[2018-02-22 13:14] shigeki commented on #18770
Here is my preliminary work to support OpenSSL-1.1.1 on only Linux and Mac. https://github.com/shigeki/node/tree/openssl111pre1_unix_mac_ok
I can build node binary but several tests are still failed as described above.

Windows is not yet  supported because OpenSSL-1.1.1 generates makefiles to work only `nmake` for Windows and we have to some integrations to `gmake`.  It needs some time to work on

[2018-02-22 13:28] joyeecheung commented on #18922
I believe that's why we have a C++ style guide. I have looked into clang-tidy before but it's not as easy to set up and extend like eslint, at least I don't think it should be required in the normal build & test step (you'll need a compilation database at the very least, that can be generated if people use ninja, but that introduces a new dependency. Also it's like, super slow even compared to cpp

[2018-02-22 13:35] santigimeno commented on #18600
From what I can tell it's working as expected. When pressing `Ctrl+C` in the terminal, a `SIGINT` signal is sent to the foreground process group, in this case the parent and child process, so both receive the signal. So the problem is that the child process is receiving two consecutive `SIGINT` and only handling one, so when the 2nd arrives the process exists without being able to write the logs.

[2018-02-22 14:16] #18820 closed

[2018-02-22 15:07] #18284 closed

[2018-02-22 15:12] #18786 closed

[2018-02-22 15:18] #18256 closed

[2018-02-22 15:35] BridgeAR opened #18938 "Coverage broken"
https://coverage.nodejs.org/ displays nothing new since nine days. I feel something has gone wrong here?

/cc @mhdawson

[2018-02-22 16:01] targos commented on #18938
Last run: https://ci.nodejs.org/view/All/job/node-test-commit-linux-coverage/542/

[code]

The gcovr script moved: https://github.com/gcovr/gcovr/commit/27756c8002cc3ff4651086348b7706bc8697e050

[2018-02-22 16:08] dejayc commented on #8381
Not sure if anyone will see this, but I wanted to chime in that the Node ecosystem of HTTP modules has become rather obnoxious.  Writing a React app from behind a proxy has become a real pain.

Many popular modules have hard-coded dependencies upon other HTTP modules, such as `cross-fetch`, `isomorphic-fetch`, `axios`, etc.  Those modules, more often than not, do not support `HTTP_PROXY` at all, o

[2018-02-22 16:22] mike-kaufman commented on #13254
Thanks @ofrobots for driving this. :)

[2018-02-22 17:06] mcollina commented on #18058
I've been pretty puzzled by this bug. https://github.com/nodejs/node/pull/18939 removes those, and the tests are not failing.

Can you check if that solves your problem?

[2018-02-22 17:07] Fishrock123 opened #18940 "parallel/test-http-connect broken on master"
* **Version**: master (2b7f920e26171f05fac437d867a30209f57c6bad)
* **Platform**: all
* **Subsystem**: http, test

[code]

cc @BridgeAR who says he's on it.

[2018-02-22 17:22] BridgeAR commented on #18940
It seems like https://github.com/nodejs/node/commit/51be03cd577fe8b5a73dd9558bd6a2727f9c3c0b broke the test in combination with other PRs that landed earlier.

@lpinca can you please take a look?

[2018-02-22 17:23] BridgeAR commented on #18940
The CI was green for the PR: https://ci.nodejs.org/job/node-test-pull-request/13276/

[2018-02-22 17:25] BridgeAR commented on #18940
To fix it I am just going to open a PR to change it to 2 right now as I can not look into it any further for the next couple hours.

[2018-02-22 17:29] Fishrock123 commented on #18940
Can we revert the commits in question?

[2018-02-22 17:33] addaleax commented on #18940
@BridgeAR Yeah, it’s just 51be03cd577fe8b5a73dd9558bd6a2727f9c3c0b interacting with 281d00eebdc53e4a018cf4876f04eaf75538afd2.

I don’t think we need to do anything besides changing the number to 2 (and maybe recommending `make test` before pushing to master, if that’s not already in the collaborator guide).

[2018-02-22 17:36] rooftopsparrow commented on #9706
Yes, I can try that when I get a moment. I've also done a little more exploring to figure out what is going on with these missing ( or really really delayed ) pings and will hopefully have a better idea of what is going later

[2018-02-22 17:43] #18940 closed

[2018-02-22 17:45] killagu commented on #18938
Update `gcovr-patches.diff` can fix it,I will raise a PR in nodejs/build to fix it.
Makefile should be updated too.

[2018-02-22 17:53] BridgeAR commented on #18940
@addaleax I often thought about adding `make test` to my landing script but the issue is that it increases the overhead immensely. The tests take to long to always run them :/ (and it is not mandatory right now as far as I know).

[2018-02-22 17:55] addaleax commented on #18940
@BridgeAR Yeah, I feel the pain of `make test` taking far too long … I’m not sure what to do about that. :/

[2018-02-22 19:08] pitaj commented on #9706
@santigimeno I'm currently building that PR on my Window 10 x64 system here, then I'll test it.

[2018-02-22 20:46] santigimeno commented on #9706
@pitaj the fix I was thinking about was specifically for `OS X` so I don't think you'll find any difference.

[2018-02-22 20:53] MylesBorins opened #18943 "Nominating Thomas Watson (@watson) as a Collaborator"
Thomas (@watson ) has been working on APMs for Node for years and has been involved in a variety of different efforts within the foundation.

[commits on core](https://github.com/nodejs/node/commits?author=watson)
[PRs opened on core](https://github.com/nodejs/node/pulls?q=author%3Awatson)
[PRs reviewed on core](https://github.com/nodejs/node/pulls?q=reviewed-by%3Awatson)
[PRs commented on core](h

[2018-02-22 20:57] hashseed commented on #18943
+1

[2018-02-22 21:00] mcollina commented on #18943
+1
Il giorno gio 22 feb 2018 alle 20:59 Yang Guo <notifications@github.com> ha
scritto:

[2018-02-22 21:04] vdeturckheim commented on #18943
Huge +1 here. I have to say that I believed he was already a collaborator until now.

[2018-02-22 21:08] MylesBorins commented on #18943
@vdeturckheim you and me both!

[2018-02-22 21:27] joyeecheung commented on #18943
@vdeturckheim @MylesBorins That makes the thee of us..+1

[2018-02-22 21:33] mmarchini commented on #18943
+1

[2018-02-22 22:16] MylesBorins commented on #14844
happened again https://ci.nodejs.org/job/node-test-commit-freebsd/15723/nodes=freebsd11-x64/consoleFull

[2018-02-22 22:40] gibfahn commented on #18943
+1

[2018-02-22 23:10] BridgeAR commented on #18943
+1

[2018-02-23 01:12] tcjcodes commented on #3742
I'm still seeing this and I've tried all of the above

[code]

[2018-02-23 02:00] gireeshpunathil commented on #18943
+1

[2018-02-23 02:03] moonac opened #18947 "Node support of OpenSSL using CAPI engine for Windows distribution"
* **Version**:  8.9.4
* **Platform**:  Windows 64 bit
* **Subsystem**:

Running node js in production environment especially running on Windows computers needs the ability to utilize the Windows certificate store to obtain the PKI trust store as part of TLS communication.

The CAPI library is already supported by OpenSSL as a configuration when building the library.

Can this be configured already

[2018-02-23 02:23] pavanravuri commented on #18927
@gireeshpunathil :
Thanks for reply.
Result is pretty strange !!

$ nm -s libicutools.a
nm: 'libicutools.a': No such file
$ ar -t libicutools.a
ar: libicutools.a: No such file or directory
$ nm -s libicutools.a
nm: 'libicutools.a': No such file
$ ar -t libicutools.a
ar: libicutools.a: No such file or directory
$ cksum libicutools.a
cksum: libicutools.a: No such file or directory

But libicutools.a

[2018-02-23 02:25] richardlau commented on #18947
cc @nodejs/security

[2018-02-23 03:03] matthewwiesen commented on #8381
I made this same point a year ago in this thread. Not much has changed.

https://github.com/nodejs/node/issues/8381#issuecomment-265240434
On Thu, Feb 22, 2018 at 11:09 AM Dejay Clayton <notifications@github.com>
wrote:

[2018-02-23 04:09] pavanravuri commented on #18927
@gireeshpunathil :
if you delete libicutools.a and do make, there is a specific command ar crsT <and a 400+ files> that runs. Please watch the output of that to see if it err's.

output is success.. no error ..

[2018-02-23 04:11] gireeshpunathil commented on #18927
ah! please provide the full path for all those commands. I assumed you will take care of that!

[2018-02-23 04:14] martinheidegger commented on #8381
@dejayc + @matthewwiesen I understand your frustration and feel for your need to vent, but there is a path laid out for people wanting to contribute: https://github.com/nodejs/node/issues/15620

[2018-02-23 04:22] richardlau commented on #18913
I believe this should be directed at https://github.com/nodejs/i18n

cc @nodejs/i18n

[2018-02-23 04:22] #18913 closed

[2018-02-23 05:04] jbunton-atlassian commented on #11865
Hi there. I think I've solved this in [trace PR #40](https://github.com/AndreasMadsen/trace/pull/40). I'd love any feedback or testing anybody could give this code :)

You can try it out by installing it from my repo:
[code]

[2018-02-23 05:09] pavanravuri commented on #18927
<user>:~/node-v9.5.0$ nm -s libicutools.a
nm: 'libicutools.a': No such file
<user>:~/node-v9.5.0$ ar -t libicutools.a
ar: libicutools.a: No such file or directory
<user>:~/node-v9.5.0$ cksum libicutools.a
cksum: libicutools.a: No such file or directory

[2018-02-23 05:22] lukaszewczak opened #18948 "Error: linking error, not in local cache when using --inspect-brk for es modules"
* **Version**: 9.6.1
* **Platform**: Windows 64-bit
* **Subsystem**: inspector

Hi, I try to run debugger for es modules using `--inspect-brk` flag, but  after I attached Chrome Dev Tools I receive this error
[code]

I create two small files to test debuuger:
- `index.mjs`
[code]

- `calc.mjs`
[code]

I try to run code with this command `node --experimental-modules --inspect-brk index.mjs`.

I upd

[2018-02-23 05:33] pavanravuri commented on #18927
@gireeshpunathil :
can you clean up everything and focus on v9.5.0 on Linux issue?
=> Yeah !!

Executed above commands:
O/P of last command
user:~/node-v9.5.0$ cksum out/Release/obj.host/tools/icu/libicutools.a
3767625127 69298 out/Release/obj.host/tools/icu/libicutools.a

[2018-02-23 06:13] devsnek commented on #18948
it appears the breakpoint was mounted to the wrong function in the wrong place 😄, i'll find a better home for it

[2018-02-23 06:54] also commented on #18416
https://github.com/libuv/libuv/issues/1292 looks like it might be why it's necessary to `setRawMode(false)` before `setRawMode(true)`

[2018-02-23 07:24] pavanravuri commented on #7651
How can we set "OPENSSL_CONF" ?

[2018-02-23 07:42] gireeshpunathil commented on #18927
yes, `./configure --without-intl` and `make`

[2018-02-23 08:09] jasnell commented on #18943
+1

[2018-02-23 08:22] bnoordhuis commented on #18913
i18n is localization in general, https://github.com/nodejs/nodejs-es is the Spanish language subgroup.

[2018-02-23 08:37] bnoordhuis commented on #18947
Openssl supports it through an engine (deps/openssl/openssl/engines/e_capi.c) but it's disabled because it didn't (and probably doesn't) build, see the `OPENSSL_NO_CAPIENG` define in deps/openssl/openssl.gypi.

Pull requests welcome if you can make it work.

[2018-02-23 08:42] Tiriel commented on #18913
Hey! Thanks for the redirection!

Actually, @richardlau had the best one (although nodejs-es may seem a better fit). We are currently auditing every l10n subgroup and kickstarting a new workflow for i18n, so https://github.com/nodejs/i18n is indeed the best place for now!

[2018-02-23 08:54] targos commented on #18262
GYP files are now out of V8 master. I added the necessary steps to handle this in `update-v8`: https://github.com/targos/update-v8/blob/master/src/gypfiles.js

[2018-02-23 08:54] #18262 closed

[2018-02-23 08:56] danbev commented on #18943
+1

[2018-02-23 09:18] targos commented on #18197
Great tool! I use it every time now :)

Should we close this issue or keep it open as a reminder to update the collaborator guide?

[2018-02-23 09:41] pavanravuri commented on #18927
@gireeshpunathil :+1:
Wow !!
It worked. Compilation is success !!
Thanks for your hints and suggestion !!
:)

[2018-02-23 09:50] gireeshpunathil commented on #18927
fine - so assuming that you don't want icu support, you are fine with this approach? so close?

[2018-02-23 09:52] pavanravuri commented on #18927
Yes !! it serves my porpose.
yeah we can close !!
BTW, Do you have any suggestion on customiztion setting of NODE to load my custom SSL engine ?

[2018-02-23 09:55] pavanravuri commented on #18927
I want NODE to use my customized openSSL engine instead of inbuilt openSSL engine.
I am bit surprised if I can achieve it using "--shared-openssl-libname", "--shared-openssl-libpath" setting

[2018-02-23 09:58] gireeshpunathil commented on #18927
:) I see you have that discussion ON in #7651 - let us have it addressed through that issue, and keep one issue per report!

[2018-02-23 09:58] #18927 closed

[2018-02-23 09:59] pavanravuri commented on #18927
Sure ! thank you :)

[2018-02-23 10:00] pavanravuri commented on #7651
I want NODE to use my customized openSSL engine instead of inbuilt openSSL engine.
I am bit surprised if I can achieve it using "--shared-openssl-libname", "--shared-openssl-libpath" setting

Or do we have any other means to achieve it ?

[2018-02-23 10:02] gireeshpunathil commented on #7651
from `./configure --help`

[code]
hope this helps.

[2018-02-23 10:10] lucamaraschi commented on #18943
Absolutely +1
On Fri, 23 Feb 2018 at 08:57, Daniel Bevenius <notifications@github.com>
wrote:

[2018-02-23 10:23] watilde commented on #18943
+1

[2018-02-23 11:00] pavanravuri commented on #7651
Do I need to place my customized *.so engine in libpath specified for compilation to be success ?

[2018-02-23 11:30] pavanravuri opened #18955 "Issue with Command Line arguments - SSL Engine configuration"
* **Version**: 9.5.0
* **Platform**:Linux
* **Subsystem**:

I want NODE to use my customized openSSL engine instead of inbuilt openSSL engine.
I am bit surprised if I can achieve it using "--shared-openssl-libname", "--shared-openssl-libpath" setting

Or do we have any other means to achieve it ?

Do I need to place my customized "*.so" engine in libpath specified for compilation to be success ?
I

[2018-02-23 11:36] fhinkel commented on #18943
+1

[2018-02-23 12:07] suhail339 opened #18956 "Multiplication issue even in REPL"
I accidentally ran into the problem when multiplication of variables. Now i have realized that its even giving wrong value when executing in REPL.
Kindly someone check what 2.2*100 gives?
its giving me 220.00000000000003
Why?

version : 8.9.0
platform : windows 10
terminal : git and windows cmd

[2018-02-23 12:11] gireeshpunathil commented on #18955
the linkage follows the standard ld linkage conventions: for example, if you have a library called `libfoo.so` then you provide `-shared-openssl-libname=foo`

In your case the file name is not in its standard form for shared libraries. If you don't have other applications dependent on this `mylib.so`, you may rename it in the form of `lib<name>.so` and feed that `<name>` to the configure command.

[2018-02-23 12:14] bnoordhuis commented on #18956
That's a characteristic of floating-point numbers: not all decimal values can be accurately represented in binary.

Not a Node.js issue, not even strictly a JS issue except insofar that it defines numbers to be doubles.

[2018-02-23 12:14] #18956 closed

[2018-02-23 12:16] vsemozhetbyt commented on #18956
@suhail339
See more: http://speakingjs.com/es5/ch11.html#rounding_errors

[2018-02-23 12:18] bnoordhuis commented on #18955
Can you move your question to the help repo?  This tracker is for reporting bugs, not general support.  Thanks.

[2018-02-23 12:18] #18955 closed

[2018-02-23 12:20] suhail339 commented on #18956
Thanks for the reply, Does that mean i have to use toFixed method very often?

[2018-02-23 12:20] pavanravuri commented on #18955
YEah I have changed as you suggested..  But still same result !!

./configure --without-intl --shared-openssl-libname=ssl.so --shared-openssl-libpath=/home/user/node-v9.5.0/CustomizedSSL --shared-openssl

Output:
'libraries': [ '-L/home/user/node-v9.5.0/CustomizedSSL',
                                      '-lssl.so']},

[2018-02-23 12:29] gireeshpunathil commented on #18955
please report in nodejs/help, we will assist you over there.

[2018-02-23 12:32] mcollina commented on #18836
Definitely 👍 . I think we should highlight and promote this for the LTS -> LTS migrations, which have a year worth of changes in them.

[2018-02-23 13:31] tomas commented on #18905
@princejwesley I see, thanks for the heads up. It does seem a bit confusing though. I mean, if `res` is actually a Promise instance then why is the repl output showing `{ success: true }`? Why doesn't it show the actual value that it holds?

Well, I ended up figuring out anyway. I'm now able to get the "real" promise.then result assigned to the variable, so the repl feels synchronous and provides

[2018-02-23 13:35] mcollina commented on #18862
This is indeed a bug. @antoine-amara Would you be able to send a PR?

[2018-02-23 13:36] mcollina commented on #18855
I think this is a bug, would you mind sending a PR?

[2018-02-23 13:37] mcollina commented on #18756
Please fire a PR. It would be easier to review and gather feedback.

[2018-02-23 14:12] antoine-amara commented on #18862
Yes, I find the function to update, I write the code, tests and I will made a PR as soon as possible. Thanks :+1:

[2018-02-23 14:45] princejwesley commented on #18905
@tomas Your custom eval function (`myEval`) handles `Promise.then` and emits `{ success: true }` as output to terminal.

[2018-02-23 14:49] tomas commented on #18905
Is that a question? You can look at my original custom eval function in the OP.

The one I'm using now is way more complex.

[2018-02-23 14:56] princejwesley commented on #18905
@tomas No, its not a question. Just trying to clear the doubt part. Your custom eval function runs the expression in a given context (`res` is still promise instance) and decides how to emit the resulting value(`res`) in the terminal.

[2018-02-23 15:01] joyeecheung opened #18961 "Tracking bug: adding descriptions to the labels"
To avoid too much back-and-forth, I will go ahead and try to describe them first, and log something here. If anyone thinks the description is incorrect, please reply here or edit them away if you have the permission.

[2018-02-23 15:02] joyeecheung commented on #18961
BTW, this is the blog post about this new feature https://github.com/blog/2505-label-improvements-emoji-descriptions-and-more

[2018-02-23 15:09] tomas commented on #18905
OK. I still don't see the point why it works like this. Shouldn't what you see be what you get?

[2018-02-23 15:14] devsnek commented on #18905
[code]

[2018-02-23 15:17] skerit commented on #18147
Why doesn't the `Sign#sign` method allow the use of a `Buffer` to pass along the private key to use? It seems like quite a waste to first add a wrapper `Sign#sign` needs to unwrap anyway.

[2018-02-23 15:22] joyeecheung commented on #18961
Labels starting with `a `:

- `addons`: Issues and PRs related to addons.
- `aix`: Issues and PRs related to the AIX platform.
- `arm`: Issues and PRs related to the ARM platform.
- `assert`: Issues and PRs related to the assert subsystem.
- `async_hooks`: Issues and PRs related to async-hooks.
- `async_wrap`: Issues and PRs related to the async_wrap binding.

[2018-02-23 15:27] tomas commented on #18905
@devsnek Thanks for a clearer explanation. The eval trick is actually what I'm doing now.

That's precisely my point. If `res` is still the result of `foo()` (the unresolved promise), then why does the repl show the result of the promised function when inspecting it? It should output something like `Promise { ... }`, don't you think?

[2018-02-23 15:29] targos commented on #18961
Do we need the "Issues and PRs related to" prefix? AFAIK labels cannot be applied to something else.

[2018-02-23 15:30] joyeecheung commented on #18961
@targos Some of the labels are only applicable to issues while some are only applicable to PRs, so I've left the prefix there just to be clear.

[2018-02-23 15:30] joyeecheung commented on #18961
Labels starting with `b `:

- `backport-requested-v4.x`: PRs requested to be manually backported to the v4.x-staging branch.
- `backport-requested-v6.x`: PRs requested to be manually backported to the v6.x-staging branch.
- `backport-requested-v8.x`: PRs requested to be manually backported to the v8.x-staging branch.
- `backport-requested-v9.x`: PRs requested to be manually backported to the v9.x-

[2018-02-23 15:37] joyeecheung commented on #18961
Labels starting with `c `:

- `cares`: PRs and issues related to the c-ares dependency or the cares_wrap binding.
- `child_process`: PRs and issues related to the child_process subsystem.
- `cli`: PRs and issues related to the Node.js command line interface.
- `cluster`: Issues and PRs related to the cluster subsystem.
- `code-and-learn`: Issues related to the Code-and-Learn events and PRs submitt

[2018-02-23 15:41] devsnek commented on #18905
no, you call the callback with the resolved value (`{ success: true }`) not the return value of the evaluated expression (`Promise { <pending> }`)

[2018-02-23 15:42] joyeecheung commented on #18961
BTW this is the patch for node-core-utils that I've randomly written to generate these log messages: https://gist.github.com/joyeecheung/3a1f284bf8c0d773668c36ce15490d2c

[2018-02-23 15:46] richardlau commented on #18961
My understanding was that this label is for PRs that we are waiting to see if there are issues with in the current release before backporting/landing on LTS. cc @nodejs/lts

[2018-02-23 15:46] tomas commented on #18905
Ok, thanks, and sorry for the confusion. :)

[2018-02-23 16:03] bnoordhuis commented on #18147
@skerit Just raw bytes doesn't tell you what kind of key it is or what params it has.  Look up how many openssl apis start with 'EVP_PKEY_' and you'll get a feel for the phase space. :-)

[2018-02-23 16:07] joyeecheung commented on #18961
@richardlau Thanks, I've added a `(?)` at the end of the description.

Another one with `(?)`: the `debugger` label - AFAICT, it refers to things related to the deprecated `debugger`, although we still have a few tests around with the word `debug` in the name while they are actually testing the inspector now. I think we should try to remove the `debugger` label from those issues/PRs and use `inspe

[2018-02-23 16:08] joyeecheung commented on #18961
Labels starting with `d`:

- [`debugger`](https://github.com/nodejs/node/issues?q=label%3Adebugger): Issues and PRs related to the JavaScript debugger(?).
- [`dgram`](https://github.com/nodejs/node/issues?q=label%3Adgram): Issues and PRs related to the dgram subsystem.
- [`diag-agenda`](https://github.com/nodejs/node/issues?q=label%3Adiag-agenda): Issues and PRs to discuss during the meetings of t

[2018-02-23 16:30] #18703 closed

[2018-02-23 16:32] benjamingr commented on #18894
Thanks for posting.

Definitely interesting but not really new and hasn't made any progress in the 2 years I've been following it. I think Node should weigh in once it reaches stage 2.

I'd also definitely be interested in how hard/easy it is for v8 to implement and what the performance implications might be.

[2018-02-23 16:34] joyeecheung commented on #18961
Labels starting with `e`:

- [`ES Modules`](https://github.com/nodejs/node/issues?q=label%3AES%20Modules): Issues or PRs related to the ECMAScript Module implementation.
- [`embedding`](https://github.com/nodejs/node/issues?q=label%3Aembedding): Issues or PRs related to embedding Node.js in another project.
- [`encoding`](https://github.com/nodejs/node/issues?q=label%3Aencoding): Issues or PRs rel

[2018-02-23 16:34] joyeecheung commented on #18961
Labels starting with `f`:

- [`fast-track`](https://github.com/nodejs/node/issues?q=label%3Afast-track): PRs that do not need to wait for 48/72 hours to land.
- [`feature request`](https://github.com/nodejs/node/issues?q=label%3Afeature%20request): Issues that request new features to be added to the Node.js core.
- [`freebsd`](https://github.com/nodejs/node/issues?q=label%3Afreebsd): Issues or PRs

[2018-02-23 16:34] joyeecheung commented on #18961
Labels starting with `g`:

- [`good first issue`](https://github.com/nodejs/node/issues?q=label%3Agood%20first%20issue): Issues that are suitable for first-time contributors.

[2018-02-23 16:34] joyeecheung commented on #18961
Labels starting with `h`:

- [`help wanted`](https://github.com/nodejs/node/issues?q=label%3Ahelp%20wanted): Issues that need assistance from volunteers.
- [`http`](https://github.com/nodejs/node/issues?q=label%3Ahttp): Issues or PRs related to the http subsystem.
- [`http2`](https://github.com/nodejs/node/issues?q=label%3Ahttp2): Issues or PRs related to the http2 subsystem.
- [`http_parser`](htt

[2018-02-23 16:38] apapirovski commented on #18894
As I understand it, last time around this was rejected pretty strongly by the Mozilla folks due to implementation difficulties? Could be misremembering though... Either way, it hasn't really progressed in a long time.

[2018-02-23 16:51] joyeecheung commented on #18961
Labels starting with `i`:

- [`in progress`](https://github.com/nodejs/node/issues?q=label%3Ain%20progress): Issues and PRs that are still a work in progress.
- [`inspector`](https://github.com/nodejs/node/issues?q=label%3Ainspector): Issues and PRs related to node-inspect or the V8 inspector protocol.
- [`install`](https://github.com/nodejs/node/issues?q=label%3Ainstall): Issues and PRs related t

[2018-02-23 16:52] joyeecheung commented on #18961
Labels starting with `k`:

- [`known limitation`](https://github.com/nodejs/node/issues?q=label%3Aknown%20limitation): Issues that are identified as known limitations.

[2018-02-23 16:52] joyeecheung commented on #18961
Labels starting with `l`:

- [`land-on-v4.x`](https://github.com/nodejs/node/issues?q=label%3Aland-on-v4.x): PRs that have landed on the v4.x branch and have been released in v4.x.
- [`land-on-v6.x`](https://github.com/nodejs/node/issues?q=label%3Aland-on-v6.x): PRs that have landed on the v6.x branch and have been released in v6.x.
- [`land-on-v8.x`](https://github.com/nodejs/node/issues?q=label%

[2018-02-23 16:52] joyeecheung commented on #18961
Labels starting with `m`:

- [`macos`](https://github.com/nodejs/node/issues?q=label%3Amacos): Issues and PRs related to the macOS platform.
- [`memory`](https://github.com/nodejs/node/issues?q=label%3Amemory): Issues and PRs related to the memory management or memory footprint.
- [`mentor-available`](https://github.com/nodejs/node/issues?q=label%3Amentor-available): Issues with mentors available

[2018-02-23 17:03] joyeecheung commented on #18961
Labels starting with `n`:

- [`n-api`](https://github.com/nodejs/node/issues?q=label%3An-api): Issues and PRs related to the N-API.
- [`net`](https://github.com/nodejs/node/issues?q=label%3Anet): Issues and PRs related to the built-in net module.
- [`notable-change`](https://github.com/nodejs/node/issues?q=label%3Anotable-change): PRs that should be highlighted in change logs.
- [`npm`](https://gi

[2018-02-23 17:03] joyeecheung commented on #18961
Labels starting with `o`:

- [`openssl`](https://github.com/nodejs/node/issues?q=label%3Aopenssl): Issues and PRs related to the OpenSSL dependency.
- [`os`](https://github.com/nodejs/node/issues?q=label%3Aos): Issues and PRs related to the built-in os module.

[2018-02-23 17:04] joyeecheung commented on #18961
Labels starting with `p`:

- [`path`](https://github.com/nodejs/node/issues?q=label%3Apath): Issues and PRs related to the built-in path module.
- [`perf_hooks`](https://github.com/nodejs/node/issues?q=label%3Aperf_hooks): Issues and PRs related to the implementation of the Performance Timing API.
- [`performance`](https://github.com/nodejs/node/issues?q=label%3Aperformance): Issues and PRs relate

[2018-02-23 17:55] vsemozhetbyt commented on #18961
1. Nit re the script: labels with spaces need to be quoted, otherwise we have no results:

2. "help wanted" seems to be relevant for PRs too:

https://github.com/nodejs/node/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3A%22help+wanted%22

https://github.com/nodejs/node/pulls?utf8=%E2%9C%93&q=is%3Apr+label%3A%22help+wanted%22

[2018-02-23 18:04] prog1dev commented on #18171
So in case of an error occurring there should be no `'end'` event? Only `'error'`
Confirm this on:
**Version**: 8.9.1
**Platform**: Mac Os High Sierra 10.13.3

[2018-02-23 18:27] joyeecheung commented on #18961
@vsemozhetbyt

Thanks, I've updated that to

[code]

[2018-02-23 18:34] joyeecheung commented on #18961
Labels starting with `q`:

- [`querystring`](https://github.com/nodejs/node/issues?q=label%3Aquerystring): Issues and PRs related to the built-in querystring module.
- [`question`](https://github.com/nodejs/node/issues?q=label%3Aquestion): Issues that look for answers.

[2018-02-23 18:34] joyeecheung commented on #18961
Labels starting with `r`:

- [`Release-agenda`](https://github.com/nodejs/node/issues?q=label%3ARelease-agenda): Issues and PRs to discuss during the meetings of the Release team.
- [`readline`](https://github.com/nodejs/node/issues?q=label%3Areadline): Issues and PRs related to the built-in readline module.
- [`ready`](https://github.com/nodejs/node/issues?q=label%3Aready): PRs that already have

[2018-02-23 18:34] joyeecheung commented on #18961
Labels starting with `s`:

- [`s390`](https://github.com/nodejs/node/issues?q=label%3As390): Issues and PRs related to the s390 platform.
- [`security`](https://github.com/nodejs/node/issues?q=label%3Asecurity): Issues and PRs related to security.
- [`semver-major`](https://github.com/nodejs/node/issues?q=label%3Asemver-major): PRs that contain breaking changes and should be released in the next m

[2018-02-23 18:35] joyeecheung commented on #18961
Labels starting with `t`:

- [`test`](https://github.com/nodejs/node/issues?q=label%3Atest): Issues and PRs related to the tests.
- [`timers`](https://github.com/nodejs/node/issues?q=label%3Atimers): Issues and PRs related to timers, e.g. setImmediate(), setInterval(), setTimeout()
- [`tls`](https://github.com/nodejs/node/issues?q=label%3Atls): Issues and PRs related to the built-in tls module.
-

[2018-02-23 18:35] joyeecheung commented on #18961
Labels starting with `u`:

- [`url`](https://github.com/nodejs/node/issues?q=label%3Aurl): Issues and PRs related to the legacy built-in url module.
- [`url-whatwg`](https://github.com/nodejs/node/issues?q=label%3Aurl-whatwg): Issues and PRs related to the WHATWG URL implementation.
- [`util`](https://github.com/nodejs/node/issues?q=label%3Autil): Issues and PRs related to the built-in util module

[2018-02-23 18:35] joyeecheung commented on #18961
Labels starting with `v`:

- [`V8 Engine`](https://github.com/nodejs/node/issues?q=label%3A%22V8%20Engine%22): Issues and PRs related to V8, e.g. implementation of ECMAScript, V8 API, V8 updates
- [`v4.x`](https://github.com/nodejs/node/issues?q=label%3Av4.x): Issues that can be reproduced on v4.x or backport PRs targeting the v4.x-staging branch.
- [`v6.x`](https://github.com/nodejs/node/issues?q

[2018-02-23 18:36] joyeecheung commented on #18961
Labels starting with `w`:

- [`Windows Subsystem for Linux (WSL)`](https://github.com/nodejs/node/issues?q=label%3A%22Windows%20Subsystem%20for%20Linux%20(WSL)%22): Issues and PRs related to the Windows Subsystem for Linux.
- [`windows`](https://github.com/nodejs/node/issues?q=label%3Awindows): Issues and PRs related to the Windows platform.
- [`wontfix`](https://github.com/nodejs/node/issues?q=la

[2018-02-23 18:36] joyeecheung commented on #18961
Labels starting with `z`:

- [`zlib`](https://github.com/nodejs/node/issues?q=label%3Azlib): Issues and PRs related to the built-in zlib module.

[2018-02-23 18:42] joyeecheung commented on #18961
Mostly done, a few labels with pending questions:

- [ ] [`debugger`](https://github.com/nodejs/node/issues?q=label%3Adebugger): Issues and PRs related to the JavaScript debugger. (`related to the legacy V8 debugger`?)
- [ ] [`encoding`](https://github.com/nodejs/node/issues?q=label%3Aencoding): Issues or PRs related to encoding (I don't see why we have this but not a `decoding` label...? Maybe we

[2018-02-23 20:04] nh2 commented on #12339
I think what you are observing is the `TCP reset problem` described in the linked https://tools.ietf.org/html/rfc7230#section-6.6:

Many HTTP servers trip over this, including nginx (see bug I filed here: https://trac.nginx.org/nginx/ticket/1250#comment:4).

TCP does not allow you to `close()` a socket after you're done sending data, if the higher level protocol (e.g. HTTP) doesn't explicitly ensu

[2018-02-23 21:01] MylesBorins opened #18964 "Feature Idea: Brotli support in core"
Taking a quick peek at ["can i use"](https://caniuse.com/#feat=brotli) shows that brotli is now supported on Edge, Firefox, Chrome, Safari, and iOS Safari.

The [iltorb](https://www.npmjs.com/package/iltorb) package has 912k downloads a month.
The [brotli npm package](https://www.npmjs.com/package/brotli) has 250k download a month

If people are open to this I would be willing to collaborate on a

[2018-02-23 21:07] addaleax commented on #18964
Sounds like a good idea to me. I’m somewhat familiar with `iltorb`s code base, but the brotli API has also gotten to a point where it’s similar enough to `zlib` that we probably wouldn’t even have to write much code to integrate it into Node.

/cc @MayhemYDG

[2018-02-23 21:07] devsnek commented on #18964
if we're adding more compression stuff in core perhaps we should put it under one builtin module name `require('compression').zlib/brotli/whateverelsecomesnext`

[2018-02-23 21:10] MylesBorins commented on #18964
to be honest this may be the point where we decide if we want to use a nodejs namespace... as there is already a compression lib with 9M downloads a month and as mentioned above the `brotli` lib has 250k downloads a month. That being said I think it is a separate conversation that can be worked through independently

[2018-02-23 21:13] MayhemYDG commented on #18964
I think it makes sense. IMO Node, as a web server, should strive to support low-level modern web features, much like http2.

[2018-02-23 21:35] vsemozhetbyt opened #18967 "test: test-assert.js fails locally"
* **Version**: 10.0.0 (master)
* **Platform**: Windows 7 x64
* **Subsystem**: test. assert

Testing the #18904 locally, I've got this not related error, which I can also reproduce with the last nightly:
[code]

It seems reasonable: [this fragment](https://github.com/nodejs/node/blob/a29089d7c866955616c0e363843017e9b9b2a736/test/parallel/test-assert.js#L644-L650) uses `\n` on all systems, while [th

[2018-02-23 21:51] clakech commented on #16178
Hello, I would like this in a future nodejs version please ;)

[2018-02-23 22:08] odahcam commented on #13325
Updating to Node v9.4 seems to have solved my problem.

[2018-02-24 02:36] BridgeAR commented on #18961
@joyeecheung about `backing-for-lts`: I think a good description would be:

`PRs that should be backported at a later point to make sure they get properly tested before that.`

[2018-02-24 02:54] BridgeAR commented on #18967
That is a very interesting case. It seems like the parsed output from acorn is always using `\n`. The test uses the OS `EOL` and tests against this.
Is there any chance that the acorn version is not the same for you as the one in the CI? Tomorrow I will check what acorn will use a default.

[2018-02-24 04:49] hstarorg opened #18969 "child_process instance set encoding will trigger exception"
* **Version**:
* **Platform**:
* **Subsystem**:

[2018-02-24 04:50] xqin commented on #18969
[code]

code
[code]

[2018-02-24 05:00] pavanravuri opened #18970 "Node Crashed with "clientCertEngine""
* **Version**:9.5.0
* **Platform**:Linux
* **Subsystem**:HTTPS

Node is crashing with option clientCertEngine in HTTPS.Request()

[2018-02-24 05:02] pavanravuri commented on #18970
: Sending POST request
Termination message received:
app: --execpath=/<path to node>/node
service result: signal
exit status: SEGV
exit code: killed

[2018-02-24 05:32] thekemkid opened #18971 "Deprecating lttng tracepoints. (and add alternative for linux if wanted)"
I am proposing that we deprecate lttng tracepoints in favour of vanilla linux tracepoint support. I've started working on a POC for this personally.

I added lttng support way back in the day: https://github.com/nodejs/node/pull/702

However, a PR has been opened recently that reveals building with lttng support has broken for over 2 years: https://github.com/nodejs/node/pull/18945

And this is th

[2018-02-24 05:35] richardlau commented on #18971
Cc @nodejs/diagnostics

[2018-02-24 06:32] amanthegreatone commented on #15651
Hi,

Can someone help me with my issue. https://github.com/nodejs/help/issues/1123

[2018-02-24 08:20] iczero opened #18973 "Segmentation fault in http2 module when cancelling download in Chrome"
* **Version**: v9.5.0, v9.6.1, and v10.0.0-pre commit 743f890
* **Platform**: linux 64-bit (kernel 4.4.0-116-generic from Ubuntu)
* **Subsystem**: http2

Steps to reproduce:
1. Serve a file from Node.js to Chrome using the `http2` module
2. Cancel the download from Chrome

I have not been able to reproduce this problem locally, however.

This was the stacktrace which was generated by node-segfault

[2018-02-24 09:09] vsemozhetbyt commented on #18967
Cannot think of any cause for this)

@nodejs/platform-windows, can anybody else check the test locally or suppose any causes for this difference?

[2018-02-24 09:46] AndreasMadsen commented on #18971
@thekemkid Do you know if the vanilla linux tracepoints support dynamic tracing names? With our new tracing point implementation we would like to support dynamic tracing points, such users can emit them too. For DTrace libusdt exists.

[2018-02-24 11:04] lpinca commented on #18970
@pavanravuri as is this report is not very useful. Can you share a core dump, include the printed stack trace or provide a minimal reproduction test case?

Thanks.

[2018-02-24 11:12] knz commented on #18913
@UlisesTJ also check https://github.com/cockroachdb/cockroach/issues/23038#issuecomment-368220870

[2018-02-24 11:40] killagu commented on #18969
It's cp bug.
cp have not checked the stdout or stderr encoding changed.
I will raise a PR to fix it.

[2018-02-24 11:42] thekemkid commented on #18971
@AndreasMadsen I think these are static tracepoints, but I may be wrong. I only started exploring them last night.

[2018-02-24 12:05] thekemkid commented on #18971
Relevant PR: https://github.com/nodejs/node/pull/18975

[2018-02-24 13:59] BridgeAR commented on #18879
So what is the conclusion out of these findings? What time frame should we use and how do we automate this? Do we handle someone who was very active for a long time and is then gone for a few month the same as someone who has contributed once each two or three month? Shall we use the commits, the reviews, the comments, the issues or the PRs as indicator and in what combination?

To me all of this

[2018-02-24 15:32] hashseed commented on #18879
- Becoming a collaborator is fairly easyeven today.
- If it's a generally applied policy with no exceptions, nobody should be offended.
- Maybe introduce process to make reinstanting ex-collaborators even faster?

[2018-02-24 15:48] joyeecheung commented on #18879
Just wondering if it is really necessary to put the list in the README? Can we put the list in somewhere with less traffic, and link to there? Technically the source of truth should be in the GitHub team membership anyway, the list in the README is just for contacts AFAICT. We can also do the nominations etc. there. It also makes the README shorter and uh...the longer a document is, the less likel

[2018-02-24 16:13] skerit opened #18977 "`ecdh.setPublicKey` is actually useful and should be undeprecated"
So `ecdh.setPublicKey` has been deprecated since v5.2.0, but there is a certain use case where it is very useful: when you need to uncompress a compressed public key.

Here's how I would uncompress such a public key:

[code]

If `ecdh.setPublicKey` where to disappear I would require another library just for this simple task.

[2018-02-24 16:16] joyeecheung commented on #18879
My conclusion is: the list in the README may send a false message indicating the project is getting more help than it actually is. About 6% of the collaborators team have not shown up in the whole organization (not even left a comment) for more than a year, 16% have not shown up in half a year, and 27% have not shown up in the last three months.

I think we can start with 1 year. For example, we c

[2018-02-24 16:23] joyeecheung commented on #18879
Here is a poll:

If a collaborator have not shown up in the whole organization for <time span>, reconfirm if they still want to stay, if they do not reply or say they do not wish to stay, move them to "Collaborator Emeritus". If they still want to stay, revisit after another <time span>:

- 👍> 1 year
- 👎> 6 months
- 🎉> 3 months
- ❤️> 1 month

Or:

- 😕we should not be removing existing collaborator

[2018-02-24 16:27] apapirovski commented on #18879
Being a collaborator seems to me mostly about CI access. If someone hasn't made a single PR or a commit in a year, I don't really see a good reason for them to remain a collaborator. They can always be reinstated if they decide to come back...

Also, if someone hasn't even made a comment (let alone a more substantial involvement) in 6 months, I see no reason for them to remain a collaborator.

So

[2018-02-24 16:37] devsnek opened #18978 "lint-md on master failing"
errors look like:
[code]

clearing node_modules for the remark deps and re-installing yields the following diff and things work again:

[code]

should this be pr'd or is something else not right

[2018-02-24 16:40] addaleax commented on #18879
I have to say, I’m not a fan of removing existing collaborators periodically to keep access restrictions somewhat tight.

If that’s the goal, then let’s create a team for collaborators with CI access, use that for controlling access to it, and make moving in or out of that team really easy (just go to IRC or contact a TSC member directly & ask them to flip the bit).

I’m not too worried about the

[2018-02-24 16:48] joyeecheung commented on #18879
I think we already cover that with AUTHORS? Also that's more like what everybody uses...IMO putting a list like that in the README is OK if the list contains < 10 people, but it does not really help if the list has > 100 entires (off-topic: even more weird when the "Contributing to Node.js" section is after the super long lists).

[2018-02-24 16:55] joyeecheung commented on #18879
Sounds like a good idea to me. Maybe we can create a child team of @nodejs/collaborators ? We can give the privileges to the child team, and moves people out automatically after [time span] of inactivity. If they ever need access again, just say something in the team discussions and will be moved back.

[2018-02-24 17:24] ChALkeR commented on #18978
@devsnek The `"preserveSymlinks": "1"` is not the culprit.

`make lint-md-build` seems to be not done automatically on `remark-preset-lint-node` update.
So after a29089d7c866955616c0e363843017e9b9b2a736, `make lint-md-build` should have been forced to run locally, but it wasn't for some reason. Probably proper makefile deps can fix this.

[2018-02-24 18:11] Qard commented on #18879
We should probably just not hand the keys to the CI to every single collaborator. Most don't actually need that access. Maybe just have CI be a privilege you need to request and we can revoke that access if you aren't using it often.

[2018-02-25 09:07] prog1dev opened #18983 "Getting warnings in console on fresh build"
I get various warnings in console output if I build node from scratch with `./configure && make -j4`.
I guess its nothing to worry about but it might be good first contributions?
Here there are:
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

* **Version**: current [master branch](https://github.com/nodejs/node/tree/15e41a9951c425913

[2018-02-25 09:48] mcollina commented on #18879
We are tackling two separate concerns here:

1. signal the community that this project has not 100+ maintainers.
2. keep a tight access to our infrastructure and project.

Trying to find a good solution for both at the same time is not the best approach.
As there is 2FA across the whole org now, I think 2 is less of a problem. We need more people helping out in landing PRs, not reducing the number

[2018-02-25 09:59] benjamingr commented on #18879
@addaleax

I agree with this - the proposal being bikeshedded is to ask them if they're still interested in being a collaborator or not. This is only after a year of complete inactivity and as said they can simply say "no".

@mcollina

I definitely agree with that.

Also agreed, I don't think removing them from README really helps with anything (unless shorter readme is a goal) and I think acknowl

[2018-02-25 10:40] seishun commented on #17077
@srl295 do you think you'll have to time to look into it any time soon? I could try fixing it myself, but I might not have enough knowledge about it.

[2018-02-25 13:23] benjamingr commented on #18983
Hey, thanks for opening the issue.

All these warnings are in Node.js direct dependencies (V8, icu-small, openssl) and they'd have to be fixed there and not in Node. The Node deps folder contains other projects Node depends on copied.

Maybe document it in the guide?

[2018-02-25 13:36] prog1dev commented on #18983
You mean in [BUILDING.md](https://github.com/nodejs/node/blob/master/BUILDING.md)?
And how do you think it should be phrased?

[2018-02-25 13:47] benjamingr commented on #18983
Maybe as a note below the text "Note that the above requires that python resolve to Python 2.6 or 2.7 and not a newer version."?

[2018-02-25 14:37] joyeecheung commented on #18879
I agree past contribution should be acknowledged, but I don't think putting a list of > 100 entries in the README is the best way to do it. Also I do think the README is longer than it should be, much like our CONTRIBUTING.md before it got split into different documents. Most popular repositories on GitHub have much shorter README with only succinct descriptions and links there - and I don't think

[2018-02-25 16:10] michael42 commented on #18973
It seems I'm hitting the same issue when trying an HTTP2 push when Chrome already closed the connection. gdb spits out a similar stack trace:
[code]

I managed to reduce the code to following example:
[code]

Steps:
 * run `node ./index.js`
 * import a localhost certificate (I'm using [a script that generates one with subjectAltName](https://gist.github.com/michael42/0c8a8aa92555951de08e9e5fa662d3

[2018-02-25 16:39] MylesBorins commented on #18977
/cc @nodejs/crypto

[2018-02-25 16:48] addaleax commented on #18973
I couldn’t reproduce the segfault with either example yet. :/ If it is at all possible, can you try to reproduce this with Node-only code? I.e. a standalone script that crashes and doesn’t require a browser or other external HTTP/2 clients.

It would be appreciated if you could provide a core dump, or try to dig into this with a debugger if you can. Building a debug build of Node takes a bit, but

[2018-02-25 17:28] santigimeno commented on #9706
I've been running the test for several hours on `OS X` with 8 workers and the messages seem to be indeed VERY delayed but the original issue where the `IPC` channel is blocked never happened.

[2018-02-25 17:30] jasnell commented on #18879
+1 to everything @mcollina said. For those contributors who are no longer actively contributing, I would take another step beyond asking them if they intend to contribute more and ask them also why they've chosen to be inactive. Knowing the answer to that may help inform the discussion further.

[2018-02-25 19:36] iczero commented on #18973
@addaleax I meant that the problem still existed with that commit. Sorry for the confusion.

[2018-02-25 21:03] addaleax commented on #18973
@iczero @michael42 Could you check whether the patch from https://github.com/nodejs/node/pull/18987 fixes this issue for you? That would be a *huge* help.

[2018-02-25 21:26] michael42 commented on #18973
I think I can check it tomorrow. For now, I can't get it reproduced without Chrome, but here's the output from chrome://net-internals:

[code]

I also ran it under `valgrind --leak-check=full` (is that correct, never used it before?), but it doesn't crash in that case. It does report some possibly lost bytes (3,004 bytes in 15 blocks), though.

[2018-02-25 21:26] iczero commented on #18973
@addaleax It doesn't seem to fix the problem. :(
[code]

[2018-02-25 21:28] addaleax commented on #18973
@michael42 Thanks for reporting back! Yes, it’s expected that there are some lost bytes since Node doesn’t fully clean up before process exit. It would be more interesting to know about any kind of uninitialized data usage.

@iczero Thanks for the info. :/ Do you think you could try a debug build of Node to possibly provide more context?

[2018-02-25 22:08] iczero commented on #18973
A better backtrace provided by the debug version:
[code]

[2018-02-25 22:11] addaleax commented on #18973
@iczero Can you figure out why that is crashing? Is `listener_` null?

[2018-02-25 22:12] iczero commented on #18973
Seems like it:
[code]

[2018-02-25 22:24] addaleax commented on #18973
@iczero Can you build with `./configure --debug-http2` and share the output for a crashing run, and ideally add logging like this:

[code]

`listener_ == nullptr` should basically never happen at that point, it means that all listeners have been removed, which means that the stream destructor has been called. So, it might be nice to figure out how that can happen…

[2018-02-25 22:43] iczero commented on #18973
The compile errored with that patch:
[code]

[2018-02-25 22:49] addaleax commented on #18973
Weird, my compiler didn’t complain. :o

Anyway, using `DEBUG_HTTP2STREAM` instead of `DEBUG_HTTP2STREAM2` should fix that (my bad).

[2018-02-25 22:55] iczero commented on #18973
The output now:
[code]

[2018-02-25 23:14] addaleax commented on #18973
Thanks, that seems helpful.

One thing that sticks out as weird is the fact that `destroying stream` pops up twice in the output, because there is an explicit check that should prevent that.

The hypothesis I’d get from the above is that the `delete stream;` line in `Http2Stream::Destroy` is run before the write (that was already posted to the socket) finishes its callback, so accessing the stream

[2018-02-25 23:17] iczero commented on #18973
Thanks for your time. Good night!

[2018-02-25 23:17] TimothyGu opened #18992 "performance.nodeTiming doesn't work as documented"
* **Version**: master
* **Platform**: all
* **Subsystem**: perf_hooks

[code]

prints

[code]

1. `startTime` should be 0-based. `performance.now()` suffers an identical problem (#17892)
2. The Node.js-specific milestones have nanoseconds as units, while they should have milliseconds precision per docs.
3. The 0 special value ("the milestone has not been reached") is not documented, and may confli

[2018-02-26 00:37] iczero commented on #18973
Backtrace to `Http2Stream` destructor:
[code]

[2018-02-26 02:41] pavanravuri commented on #18970
@lpinca :

Here is my chnage !!

Old Code:

const options = {
hostname: 'xyz.com',
port: 443,
path: '/',
method: 'GET',
key: fs.readFileSync('<path>/key.pem'),
cert: fs.readFileSync('<path>/cert.pem')
};

const req = https.request(options, (res) => {
// ...
});

New code :

const options = {
hostname: 'encrypted.google.com',
port: 443,
path: '/',
method: 'GET',
clientCertEngine: "<path>/myCustomiz

[2018-02-26 02:47] pavanravuri commented on #18970
Call Stack:

service result: signal
exit status: SEGV
exit code: killed

[2018-02-26 06:07] trivikr commented on #18855
Sure, I'll post a PR in a day or two

[2018-02-26 08:24] juggernaut451 commented on #18778
I have raised the pull request. Please review it

[2018-02-26 08:25] levimm commented on #17254
@bnoordhuis Hi, any news on this topic (bring PumpMessageLoop back)?

[2018-02-26 08:56] mcollina commented on #18058
https://github.com/nodejs/node/pull/18994 fixes it, unfortunately it's a semver-major change.

[2018-02-26 10:01] bnoordhuis commented on #17254
@levimm Not at the moment.  I don't have time to work on it myself but I can mentor and review pull requests, if you like.

[2018-02-26 10:10] bnoordhuis commented on #18970
Check in a debugger where it crashes.  Odds are it's in your .so.

I'm closing this out pending evidence of a bug in node.js.  Please use the help repo or post something that demonstrates it's a bug in node.js.

[2018-02-26 10:10] #18970 closed

[2018-02-26 10:50] bnoordhuis commented on #18977
Technically correct but it's probably better to add an explicit conversion method instead of undeprecating `ECDH#setPublicKey()`.

@skerit When does this come up?  I'd expect most applications to be agnostic to the point format.

[2018-02-26 11:07] skerit commented on #18977
Ah well, this is related to my comment on issue #18147 "Signing with a ecdh type private key":

Since `crypto`'s `Sign#sign` method needs a valid ASN.1 wrapper, but currently there is no built-in way of generating this, I'm using the [jsrsasign](https://www.npmjs.com/package/jsrsasign) module to do the signing, and *that* requires an uncompressed key.

But yeah, an new method for converting the co

[2018-02-26 11:30] bnoordhuis commented on #18977
Okay, I've added labels.  Pull request welcome and happy to answer questions.

[2018-02-26 11:50] mafintosh commented on #18171
I have a PR open with imporoved error handling here, https://github.com/nodejs/node/pull/18438

[2018-02-26 11:53] #18639 closed

[2018-02-26 12:46] antoine-amara commented on #18862
Hello @trivikr @mcollina , I've got a fix but I don't know in which file I have to put my tests.

Can I post a PR and push the test later ?

[2018-02-26 12:48] mcollina commented on #18862
@antoine-amara I think you can add an assertion to test/parallel/test-http2-respond-file.js.

[2018-02-26 12:50] BridgeAR opened #18995 "Flaky parallel/test-http2-socket-proxy"
https://ci.nodejs.org/job/node-test-commit-linux/16533/nodes=debian8-x86/console

[code]

[2018-02-26 12:51] BridgeAR opened #18996 "Flaky parallel/test-http-client-default-headers-exist"
https://ci.nodejs.org/job/node-test-commit-linux/16494/nodes=debian8-x86/console

[code]

[2018-02-26 12:52] BridgeAR opened #18997 "Flaky parallel/test-tls-connect-given-socket"
https://ci.nodejs.org/job/node-test-commit-plinux/15536/nodes=ppcbe-ubuntu1404/console

[code]

[2018-02-26 12:53] BridgeAR opened #18998 "Flaky parallel/test-tls-buffersize"
https://ci.nodejs.org/job/node-test-commit-linux/16566/nodes=debian8-x86/console

[code]

[2018-02-26 12:55] billywhizz commented on #18756
Pull Request created here: https://github.com/nodejs/node/pull/18999

[2018-02-26 13:56] anantoghosh opened #19001 "Console log WeakSet and WeakMap always empty"
* **Version**: 8.9.4
* **Platform**: Windows 10 x64
* **Subsystem**: powershell

Currently trying to console.log WeakSet or WeakMap will always display as empty.
[code]
I believe I understand why logging them does not work, but node should display a warning and/or should document this behavior.

[2018-02-26 14:41] #18197 closed

[2018-02-26 14:46] addaleax commented on #18973
Okay, I think here’s a *real* fix: https://github.com/nodejs/node/pull/19002

It would be great if you could check whether that works, possibly combined with #18987.

[2018-02-26 15:02] iczero commented on #18973
Yep it works. Thanks!

[2018-02-26 15:04] devsnek commented on #19001
related to https://github.com/nodejs/node/issues/18227

[2018-02-26 15:11] TimothyGu commented on #18973
Let’s keep this open until the PR gets merged.

[2018-02-26 15:12] BridgeAR commented on #19001
This is language related and it is just not possible to inspect `WeakSet` / `WeakMap`.

We did not yet come to a conclusion how to handle this on the long term and I am going to write a summary of pro / con some time this week.

@anantoghosh what kind of warning would you expect? I can not think of a good way to display a warning in this case.

[2018-02-26 15:22] iczero commented on #18973
Oh, sorry about that.

[2018-02-26 15:24] pitaj commented on #9706
It appears to me that if you send enough messages through the IPC channel, it will completely lock up the main process. I'm running mocha tests and the timeout just doesn't happen, nor does a hard-coded timeout. This seems to occur at exactly 1000 messages per child process (8000 handles total).

[2018-02-26 15:54] niyoceles commented on #18517
Hello frndz, i was getting this error, but i have got solution
using the to **uninstall ionic**, **uninstall npm** global and **uninstall node** after uninstalling i used those version to solve error:   install the old version of node (**node-v6.7.0**) and  **npm install npm@3.10.3**
after that **install the latest version of ionic**. thank you

For me it work fine.

[2018-02-26 15:55] anantoghosh commented on #19001
Maybe a message after using console.log()
"WARNING: WeakSet/WeakMap will always appear empty. See link"

Although simply mentioning this in the documentation would have been fine.
Currently, trying to google for this issue does not reveal any information.

[2018-02-26 15:59] apapirovski commented on #18998
I'm not sure if there's much point anymore in creating separate issues for all of these debian8-x86, ubuntu1404 and ubuntu1204 failures without a strack-trace. They seem to affect literally all of the tests so we might eventually have an issue for every single test that exists on each of those platforms.

/cc @nodejs/build It would be nice if someone could look into this. The lack of a stack trace

[2018-02-26 16:22] gireeshpunathil commented on #18998
agree on the lack of hints / artifacts associated with these failure types - they  don't help us in anyway other than telling that they failed. My debugging method in those cases always had been to run a 1000 times locally in expectation of a recreate, reduce the code as long as the problem retains etc. (time consuming and many times un-successful).

My question is: what type of failure this is: a

[2018-02-26 16:57] ejoebstl commented on #11865
@capaj Depends. If you use i.e. babel or babel-node with `transform-async-to-promises` it works. A lot of people seem to use this setup.

In my specific case, I was using it for unit tests and it was just what I needed. I agree that this is a hack, and the underlying issue should be fixed as soon as possible.

[2018-02-26 17:09] JacksonTian opened #19009 "Deprecating the process._startProfilerIdleNotifier & process._stopProfilerIdleNotifier methods"
When I browse the source code of src/node.cc, I found _startProfilerIdleNotifier & _stopProfilerIdleNotifier methods. These methods never be documented and haven't any test cases in test/*.

I am proposing that we can mark the two methods as deprecated and remove later.

In user land, v8-profiler can do things better.

If no against for this proposal, I will start the work.

CC @nodejs/collaborato

[2018-02-26 17:16] AriyoWalker opened #19010 "Experimental .mjs module loading is a standard deviation"
* **Version**: 9.3.0
* **Platform**: OS X
* **Subsystem**: ECMAScript Modules

This is a glaringly wrong direction for Node.js.  The standard has no mime type for '.mjs' file extensions.  If a developer wants code reuse, where they write code once for both browser and node.js, then the developer finds themselves in a bind.  The browsers won't support loading modules with '.mjs' extensions, and nod

[2018-02-26 17:20] raky35 opened #19011 "Dependency Issue node-sass & webpack - Node v8.9.4 on Mac"
Hi Team , Faced he below issue any thoughts please?  Installed the in my Latest OS mac
https://nodejs.org/en/download/

When i run below commando see two depdnecy have issue also my ng command is not working.
sh-3.2#  npm list -global --depth 0
/var/root/.npm-global/lib
├── @angular/cli@1.7.1
├── ajv@6.1.1
├── ajv-keywords@3.1.0
├── ethereumjs-testrpc@6.0.3
├── ganache-cli@6.0.3
├── jshint@2.9.5
├

[2018-02-26 17:20] devsnek commented on #19010
related to https://github.com/tc39/agendas/issues/322 and https://github.com/nodejs/node-eps/blob/master/002-es-modules.md and lots of things in https://github.com/nodejs/modules

as a personal sidrnote, I've been involved with this for about 3 months and constantly having people complain about mjs is already annoying. some people here have been working on this for almost 3 years and they're still

[2018-02-26 17:23] srl295 commented on #17077
@seishun I'll have to see, I just reinstalled my windows env and have some things coming up. So not necessarily soon.

[2018-02-26 17:24] #19010 closed

[2018-02-26 17:28] AriyoWalker opened #19012 "import statement should not deviate from standards for Node.js"
* **Version**: 9.3.0
* **Platform**: OS X
* **Subsystem**: ECMAScript Modules

Before closing this, read what I wrote to the end (I show you the problem).  I didn't get to finish the updates to the text before my last issue was closed.

This is a glaringly wrong direction for Node.js. The standard has no mime type for '.mjs' file extensions. If a developer wants code reuse, where they write code o

[2018-02-26 17:53] raky35 commented on #19011
Workaround  -- Got rid of above dependencies by following below steps
- Open mac terminal, login as admin sudo su
- Run - "npm list -global --depth 0"
- cd to the folder which was shown by above command eg. mine was -  /var/root/.npm-global/lib
- run -  sudo npm install  node-sass@4.7.2
- run - sudo npm install webpack@2.7.0
Check if the missing version are found are not in package.json
sh-3.2# op

[2018-02-26 17:57] jasnell commented on #19012
Please do not open multiple issues on the same topic with the same text. While I appreciate that you have strong feelings on this, the language used in this and your previous post are counter to the code of conduct.

The response in https://github.com/nodejs/node/issues/19010 covers this and the issue is being actively worked on by the @nodejs/modules team.

[2018-02-26 17:58] apapirovski commented on #19011
This doesn't seem to be an issue or a bug report for Node.js core. You could try https://github.com/nodejs/help/issues but I would recommend opening an issue with whatever software you're actually trying to use/install. `ng` seems like the angular cli? But I also see some Ethereum dependencies?

[2018-02-26 17:58] #19011 closed

[2018-02-26 18:00] AriyoWalker commented on #19012
Jasnell... This is not a feeling.  Do you realize how mathematically, scientifically unrealistic it is of the node.js community to expect multiple browser corporations and web server corporations to update their mime configurations and coding to support a one-off Node.js deviation from standards?

[2018-02-26 18:02] raky35 commented on #19011
I am afraid i am trying to setup angularcli, node in my mac, eclipse plugin,   please advice where shall i raise the https://nodejs.org/en/download/ issues. cheers

[2018-02-26 18:03] apapirovski commented on #19011
It seems your issue isn't with Node.js but with https://github.com/angular/angular-cli then

[2018-02-26 18:04] apapirovski commented on #19012
As far as I can see, @TimothyGu answered the question sufficiently in the other issue.

https://github.com/nodejs/node/issues/19010#issuecomment-368579649

[2018-02-26 18:04] #19012 closed

[2018-02-26 19:27] catdad commented on #18907
@bnoordhuis Do you happen to have any info or references to the cache in memory? For example, does it ever expire and renew from disk, or does this cache last for the lifetime of the application and will never update, requiring a restart?

[2018-02-26 19:28] silverwind commented on #18964
Yes, please. Brotli usage in Node.js has been held back by the barrier of native modules, this would certainly allow for broader adoption.

[2018-02-26 19:57] eggsywashere opened #19014 "Is there anything to skip errors and continue?"
**Version**: 9.6.1
**Platform**: CentOS 7

Hey, we are creating a Discord bot. And it reached ove 2500 guilds today; but there is no compatible sharding method for our code that means we can not shard it. I have enough RAM and CPU in my server to run 5000+ guilds but NodeJS doesn't allows me to run it now. Is there any way to disable this error and continue running?

_This session would have handl

[2018-02-26 20:13] bnoordhuis commented on #19014
You should get in touch with the maintainers of the discord client (?) that you're using.  Node.js is more like an application server that the real application runs on top of.  We can't help you with tuning that.  Cheers.

[2018-02-26 20:13] #19014 closed

[2018-02-26 20:17] davidhadas opened #19015 "setInterval setTimeout break for interval > 2^32-1"
* **Version**: v6.11.2
* **Platform**:  tested on linux and mac
* **Subsystem**:

     setInterval(()=>{console.log("a");}, Math.pow(2,31));
same for:
     setTimeout(()=>{console.log("a");}, Math.pow(2,31));

Timeout is fired as if it is:
    setInterval(()=>{console.log("a");}, 0);
or
     setTimeout(()=>{console.log("a");}, 0);

The same issue with any timeout or interval > Math.pow(2,31)-1

Sh

[2018-02-26 20:20] mscdex commented on #19015
I'm pretty sure this was done to match browser behavior. If you test the same code in Chrome for example, you will see the same behavior.

[2018-02-26 20:27] davidhadas commented on #19015
no reason to match a bug...
If browsers also behave this way, they need to be fixed.

The consequences of this can take down systems as programmers do not expect this behavior.

[2018-02-26 20:35] bnoordhuis commented on #18907
Well, it's openssl so the source is basically the reference; it's not known for its thorough documentation.

`server.close()` followed by `tls.createServer()` again should clean out the cache but it won't otherwise expire cache entries.

[2018-02-26 20:45] catdad commented on #18907
I only ask because I have been reading through openssl documentation and I see all sorts of cache control methods for various things. I am uncertain as to which ones are applicable to node's usage of openssl. I started digging into the node source to try to figure that out. Since you seem to know more than I do, I was hoping you can point me in the right direction.

In the use case I provided, the

[2018-02-26 20:46] mscdex commented on #19015
When it comes to browser-y APIs, node tries to match behavior and interfaces as much as possible to accommodate web developers and existing code.

[2018-02-26 20:58] mscdex commented on #19015
Additionally, the WHATWG HTML spec [currently specifies the `timeout` value as being a `long` type](https://html.spec.whatwg.org/multipage/webappapis.html#windoworworkerglobalscope-mixin) and [WebIDL defines `long`](https://heycam.github.io/webidl/#idl-long) as having a range of −2147483648 to 2147483647.

[2018-02-26 21:56] bnoordhuis commented on #18907
Okay, forget what I said about cleaning the cache.  It effectively persists for the lifetime of the process.

Node.js creates a single immortal X509_STORE instance that is used for the root certificates store and is also what openssl uses to cache hits from /etc/ssl.

Passing in a `.ca` or `.crl` property circumvents that, it creates a new store specific to the server or connection.  You could use

[2018-02-26 22:01] bnoordhuis commented on #19015
I'm the author of that change in Node.js and I added it because people reported it as a bug: the fact that Node.js didn't match the browser was confusing to them.

I'm closing this out.  It's been discussed a couple of times over the years and I don't see us changing it.

[2018-02-26 22:01] #19015 closed

[2018-02-26 22:16] bnoordhuis commented on #19009
I know I added them but I'll be damned if I remember why.  I'm good with removing them.

[2018-02-26 22:19] juggernaut451 commented on #17254
@bnoordhuisI would love to work on. can you please elaborate on this regarding what are the changes that have to be made

[2018-02-26 22:25] bnoordhuis commented on #19001
At least w.r.t. inspection it should be possible to add a V8 API to peek into them.

In fact, it already exists but not in any official capacity:
[code]

[2018-02-26 22:26] eugeneo commented on #16627
Chrome [protocol](https://chromedevtools.github.io/devtools-protocol/tot/Target/) has a major limitation that it relies on the parent target to outlive the children (as it is true in Web Platform use-case). This limitation greatly reduces usability in the Node.js case, which, coupled with amount of changes required in a platform, greatly reduces appeal. We are working on an alternative approach pr

[2018-02-26 22:26] #16627 closed

[2018-02-26 22:57] BridgeAR commented on #19001
@bnoordhuis that is a very interesting point and opens new possibilities for the other discussion as well. The question for me though is: can this be implemented independent of the engine?

[2018-02-26 23:17] bnoordhuis commented on #17254
@juggernaut451 Are you embedding Node.js?  This issue probably isn't relevant to you if you aren't and hard to explain succinctly because of domain-specific knowledge.

[2018-02-26 23:48] aikar opened #19019 "WHATWG URL Memory Leak"
* **Version**: 8.9.4
* **Platform**: Linux 4.4.0-72-generic #93-Ubuntu SMP Fri Mar 31 14:07:41 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: url

I've been debugging this issue: https://github.com/sidorares/node-mysql2/issues/726
I'm confident the leak is in native land, as my heap grew over the weekend from 21.8MB to 22.0MB, comparing Heap Snapshots with the Chrome Inspector, shows no

[2018-02-26 23:54] pitaj commented on #9706
It appears to me that if you send enough messages through the IPC channel, it will completely lock up the main process. I'm running mocha tests and the timeout just doesn't happen, nor does a hard-coded timeout. This seems to occur at exactly 1000 messages per child process (8000 handles total).

[2018-02-26 23:56] aikar commented on #19019
It appears the related issue I linked deals with the WHATWG impl, where as node-mysql2 is using the original implementation.

I'll see if I can swap it to the WHATWG and hopefully it will resolve it for me, but i'm a bit confused about what in the old implementation is leaking the strings since it's JS oriented.

[2018-02-27 00:44] aikar commented on #19019
It appears I am using the WHATWG version in my applications code ```const url = new URL(dsn);``` and then passing the result to node-mysql2, so the issue is at the WHATWG implementation, and not the JS one, as mysql2 isn't even doing URL parsing given that I am passing it an object form instead of string DSN.

[2018-02-27 00:58] rvagg commented on #18998
@nodejs/build someone with test access should get into one of these machines straight after a failure and run the test manually to see what's up.

@apapirovski

Are you saying this is more than just that one test that fails like this?

[2018-02-27 01:03] BridgeAR commented on #18998
@rvagg check the tests with the flaky label. Probably more than 50 % are all similar to this one.

[2018-02-27 02:10] ChALkeR commented on #19019
@aikar Could you provide a complete minimal testcase that reproduces this issue without `mysql2`?

[2018-02-27 02:21] ChALkeR commented on #19019
The following testcase seems to affect v8.9.4 but not affect v9.5.0.
@aikar Could you confirm that v9.5.0 is not affected in your setup?

[code]

[2018-02-27 03:29] devsnek commented on #18795
is anyone still -1 on this?

[2018-02-27 03:41] rvagg commented on #18998
Are these tests resource intensive in any way? Is it possible that they may crash if there are zombie jobs running in the background that may conflict them in some fashion - maybe sharing resources, or where a zombie has too much memory. I've been seeing a few `make test-ci` and associated children zombied on some linux machines recently, not many but enough that I could imagine it's connected.

[2018-02-27 03:47] Yanhao opened #19021 "Support typing "exit" or "quit" means exit from REPL."
And why nodejs doesn't know that?

[2018-02-27 04:00] maneeshaindrachapa commented on #18517
@niyoceles  yes that works. thanks.

[2018-02-27 04:05] devsnek commented on #19021
`exit` and `quit` could be variable names so we have `.exit`

[2018-02-27 04:23] trusktr opened #19022 "`os` needs fix to detect CPUs or fall back to 1"
[NPM fails](https://github.com/npm/npm/issues/19265#issuecomment-348054385) when `os.cpus()` returns undefined. Maybe `os.cpus()` should output something better with sane fallback default values?

Just an idea. Not sure if it's preferable to expect other programs to check for undefined.

[2018-02-27 04:23] jeffreytanuwidjaja opened #19023 "can't use NPM"
#i'm using windows 10, just install node.js latest v9.6.1 and i got this error when trying to use npm
i've tried install and uninstall node several times still got issues

[2018-02-27 04:39] devsnek commented on #19022
imo the sanest output for not being able to detect cpus is `undefined`. a computer with 30cpus could still fail to operate with os.cpus()

[2018-02-27 04:52] mscdex commented on #19023
This should be posted to the [npm issue tracker](https://github.com/npm/npm/issues) instead.

[2018-02-27 05:02] richardlau commented on #19019
cc @gibfahn @nodejs/lts

[2018-02-27 05:11] MylesBorins commented on #19019
It is already staged in c2028fab23 and will be out in the next 8.x release --> https://github.com/nodejs/node/pull/18336

Does it make sense to close this or wait for the release to be cut?

[2018-02-27 05:36] YanhaoMo commented on #19021
that's better, or you could forbid people to  define global variable named "quit" or "exit" just like what ipython already did.

[2018-02-27 07:49] mcfedr opened #19026 "Cluster fails with `NODE_OPTIONS="--inspect"`"
* **Version**: v9.6.1
* **Platform**: MacOS
* **Subsystem**: Cluster

When using cluster and `--inspect` as cli argument it is correctly handled and each worker will use a different port, this was fixed recently by https://github.com/nodejs/node/pull/13619

But when env var `NODE_OPTIONS="--inspect"` is set this logic doesn't apply and the workers will fail as they try to attach to the same port

[2018-02-27 08:45] #19023 closed

[2018-02-27 09:44] wuweiweiwu commented on #8646
@aqrln @mcollina Can I pick this up? I think it'll be a good first issue :)

[2018-02-27 09:45] wuweiweiwu commented on #18977
@bnoordhuis Can I pick this up? I think it'll be a good first issue :)

[2018-02-27 09:45] bnoordhuis commented on #19022
Yeah, I could see us raising an exception but not fabricating data.  The error message will mostly be a generic 'operation failed' error, though.

The linked issue is about Android.  The reason it fails there is because `/proc/stat` isn't readable any more in recent releases.  If anyone knows of a fix, please submit it to libuv; src/unix/linux-core.c is the relevant file.

[2018-02-27 09:46] hstarorg commented on #18969
@killagu Please see this, whether need bind listener on stdout and stderr when user not pass the callback param. The source code at: https://github.com/nodejs/node/blob/master/lib/child_process.js#L322-L358

[2018-02-27 09:48] wuweiweiwu commented on #18909
@targos @gibfahn  Can I pick this up? I think it'll be a good first issue :)

[2018-02-27 09:54] wuweiweiwu commented on #1684
Can I pick this up? I think it'll be a good first issue :)

[2018-02-27 10:08] mcollina commented on #8646
@wuweiweiwu that'd be fantastic. We also have https://nodejs.org/en/docs/guides/backpressuring-in-streams, so you can focus more on the userland side (and also mention some of the important modules on npm).

[2018-02-27 10:09] bnoordhuis commented on #18977
@wuweiweiwu Sure thing.

[2018-02-27 10:18] benjamingr commented on #1684
Actually, this is mostly just confusing new users, I'm going to go ahead and close this (anyone feel free to reopen) given the outcome of https://github.com/nodejs/node/pull/17503

@wuweiweiwu if you're looking for new issues or things to tackle - I think our ESM modules docs could use some love and testing :)

[2018-02-27 10:18] #1684 closed

[2018-02-27 10:19] mcollina commented on #19009
👍 to remove or runtime-deprecate them.

[2018-02-27 10:22] benjamingr commented on #19022
I think this needs to be fixed on NPM and not Node, if we can't detect the # of CPUs I'd rather not fabricate it. We should probably add docs.

@bnoordhuis is there an open issue? Can't we just read `/sys/devices/system/cpu/` on Android? Alternatively, the NDK has a `android_getCpuCount()` method.

[2018-02-27 10:22] wuweiweiwu commented on #1684
@benjamingr Sounds good. Where could I find more information on ESM modules / tests needed to be done? Thank you!

[2018-02-27 10:29] bnoordhuis commented on #19022
No issue.  Android is self-serve.

[2018-02-27 10:39] benjamingr commented on #19022
There are two possible fixes (reading it from `sys/devices/system/cpu`) or using an NDK API and calling `android_getCpuCount()` directly - however I don't think I'm at capacity to build & test an Android specific fix.

[2018-02-27 10:42] benjamingr commented on #1684
@wuweiweiwu in general, https://github.com/nodejs/node/blob/master/doc/api/esm.md is lacking compared to https://github.com/nodejs/node/blob/master/doc/api/modules.md - I think we should _gradually_ add relevant information and usage examples to the ESM docs

[2018-02-27 10:48] mcollina commented on #18795
@devsnek I have not put this as tsc-agenda (nor has anyone). Maybe you are referring to a different issue?

I'm +0 with this change. It's unrealistic to think we could put Node into a complete lockdown, as there will be exceptions. It will also complicate our codebase significantly, and it will make backporting harder.

I'm 👍 in exposing untampered versions of the globals. This can be helpful anyw

[2018-02-27 10:57] #18978 closed

[2018-02-27 11:02] benjamingr commented on #18795
I think what we should do at this point is _research_ about the impact of overriding globals at the moment and then formulate a more concrete opinion that will lead to a resolution of either:

 - Explicitly documenting the current status or something similar
 - Explicitly documenting that tampering with globals is not supported
 - Figuring out a technical solution for the tampered globals from the

[2018-02-27 11:07] benjamingr commented on #19009
Are there any usages on NPM?

[2018-02-27 11:16] aqrln commented on #8646
@wuweiweiwu absolutely! Keep in mind that it may be quite a chunk of work on its own, so I'd recommend to open a work-in-progress PR early and proceed gradually.

[2018-02-27 11:16] killagu commented on #18969
@hstarorg It should in another issue. One pr resolve one problem.

[2018-02-27 11:32] immatt2015 opened #19028 "TypeError: ParserIncomingMessage is not a constructor"
Version: v9.6.1
Platform: MacOS
Subsystem: http

I use ws in a game server, when I send a request to the server, an error occurs.

[code]

Debugged the code, it appears
[code]
ParserIncomingMessage is undefined.

I am sorry for my poor english.

[2018-02-27 11:39] bnoordhuis commented on #19028
Thanks, but you should report this to ws.  If it's not a ws issue, can you post a test case that uses only built-in modules?

[2018-02-27 11:39] #19028 closed

[2018-02-27 12:14] BridgeAR opened #19030 "Improve md-lint by forbidding `you`"
In our docs we try not to use `you`. If I remember correct, the md-linter actually has a possibility to add specific words to a black list. We might just add those in there as well to make sure they to not get back in.
The rule should only apply to `./docs/api/ *.md`.

Some times it is just slipping through and we do not have to check for those explicitly anymore. What do others think?

[2018-02-27 12:24] juanitotc opened #19031 "fatal error: unicode/ufieldpositer.h: No such file or directory"
Version: 9.5.0
Platform: Linux 4.14.10-tinycore64 x86_64 GNU/Linux
Subsystem: build

compiling with "./configure --prefix=/usr/local --shared-cares --shared-openssl --shared-zlib --with-intl=system-icu --without-npm --shared-http-parser --shared-libuv" fails with fatal error: unicode/ufieldpositer.h: No such file or directory.

If "--with-intl=system-icu" is removed then compiling suceeds.

Note t

[2018-02-27 12:51] gireeshpunathil commented on #19031
`export CPPFLAGS=<path leading upto system icu's include dir>`
and
`export LDFLAGS=<path leading upto system icu's library dir>`

can be used as a workaround, I don't see any flags in configure that helps biding with an installed ICU.
(there exists `--with-icu-path` and `--with-icu-source`, I don't think they meet this requirement)

[2018-02-27 12:59] gibfahn opened #19032 "internet/test-dns fails on v6.x"
* **Version**: 6.13.0
* **Platform**: macOS High Sierra (suspected to be all platforms though)
* **Subsystem**: test

### Reproduction:

[code]

### Error:

[code]

[2018-02-27 12:59] gibfahn commented on #19032
This doesn't fail on 8.x, so I suspect a change was made to the tests that hasn't been backported yet.

[2018-02-27 13:00] gireeshpunathil commented on #19022
how about a new api `os.cpucount()` ?
[code]
seem to be fairly portable across UNIX, and does not have the overhead of file system access.

[2018-02-27 13:09] mmarchini commented on #19030
+1

[2018-02-27 13:09] BethGriggs opened #19033 "Node core benchmarks down between 6.12.3 and 6.13.0 on aix-ppc64"
* **Version**: 6.13.0
* **Platform**: aix-ppc64
* **Subsystem**: performance

I am seeing regressions on all of the Node core benchmarks on Node 6.13.0 (aix-ppc64). I have run these benchmarks on a dedicated (isolated) machine.

Note: Although my figures below compare 6.12.0 and 6.13.0, when I run the same benchmarks (on the same machine) comparing 6.12.0 to 6.12.3 I see no performance regressions

[2018-02-27 13:15] gibfahn commented on #19032
Problem is in this function:

https://github.com/nodejs/node/blob/4eb45b884d9bd1f13979047750ad680275f4a348/test/internet/test-dns.js#L369-L372

On v6.x we expect `'google.com'` to have records.length == 1, but it is now two:

[code]

On master we check `TXT_HOST` instead, which is set to:

https://github.com/nodejs/node/blob/4eb45b884d9bd1f13979047750ad680275f4a348/test/common/internet.js#L38

[2018-02-27 13:16] gibfahn commented on #19032
Basically we need to backport https://github.com/nodejs/node/pull/16390 to v6.x.

@joyeecheung is that something you'd be willing to do?

[2018-02-27 13:24] addaleax commented on #19033
Here’s the diff: 99af46e92ccd...9441526bbe52

There’s nothing that stands out as an obvious candidate for the cause to me.

[2018-02-27 13:27] bnoordhuis commented on #19022
How do you think `sysconf( _SC_NPROCESSORS_ONLN)` is implemented? :-)

[2018-02-27 13:39] gireeshpunathil commented on #19022
aix:
`17825890: 39059491: sysconfig(8, 0x2FF22A90, 192)               = 0`

linux:
[code]

ok - so you meant to say at least in Linux, it is all one and the same! thanks.

[2018-02-27 13:42] aikar commented on #19019
Do we have an ETA on the release?

[2018-02-27 13:52] juanitotc commented on #19031
Ah - it seems as though a version of icu more recent than 54.1 is required?

The header is present in icu-60.2

[2018-02-27 14:00] gireeshpunathil commented on #19031
I don't know, but let us ask the expert - /cc @srl295

[2018-02-27 14:13] srl295 commented on #19031
Yes probably true. I have an issue open to check the icu version, I don’t
currently check.

[2018-02-27 14:30] hstarorg commented on #18969
@killagu OK, Thanks.

[2018-02-27 15:20] jasnell commented on #19030
Not just `you`, but [personal pronouns](https://en.wikipedia.org/wiki/English_personal_pronouns) in general.

[2018-02-27 15:27] joyeecheung commented on #19032
@gibfahn I can do that, just have not found the time recently. I'll try to backport #16390 and https://github.com/nodejs/node/pull/18547 (actual fix to the the TXT record test) this week

[2018-02-27 15:29] BridgeAR commented on #19030
@jasnell the issue with other pronouns is that `they` can also be used in a different context. And most pronouns were never used but we can definitely prohibit them as well.

[2018-02-27 15:33] bnoordhuis commented on #18907
I'd say the best place to request that feature (auto-removal) is the upstream openssl project.

[2018-02-27 15:33] jasnell commented on #19030
There are some exceptions to the rule, for sure. For instance, third person plural and third person genderless pronouns (e.g. `they`, `them`, etc) are generally always ok.

[2018-02-27 16:02] jwlbjtu commented on #14102
Dose anyone have a solution or work around on this issue?  Have the logic below, seems ECONNRESET
E exception did not get into the error handling block.

[code]

[2018-02-27 16:50] seishun commented on #16596
Why was this autoclosed?

[2018-02-27 16:54] addaleax commented on #16596
@seishun GitHub does that when a commit with a `Fixes:` tag lands in the main branch of a repo and the commiter has write access to the repo to which the issue refers (the commit doesn’t have to be in the same repo as the bug)

[2018-02-27 17:23] fogine opened #19036 "Running node from udev causes SEGV"
**Version:** v9.6.1
**Platform:** Linux archlaptop 4.15.2-2-ARCH #1 SMP PREEMPT Thu Feb 8 18:54:52 UTC 2018 x86_64 GNU/Linux

I have following rule in `/etc/udev/rules.d/98-monitor-hotplug.rules`

[code]

When the event is triggered the node process terminates with `SEGV`.

This is very similar to #16901 which has been closed with no conclusion.
It doesn't matter if I run empty `script.js` file or

[2018-02-27 17:33] MikhailY opened #19037 "Errors"
Help to fix 4 errors

* **9.6.1**:
* **Linux vps517541.ovh.net 3.16.0-4-amd64 #1 SMP Debian 3.16.51-2 (2017-12-03) x86_64 GNU/Linux
**:
* **Subsystem**:

the server/replset/mongos options are deprecated, all their options are supported at the top level of the options object [poolSize,ssl,sslValidate,sslCA,sslCert,ciphers,ecdhCurve,sslKey,sslPass,sslCRL,autoReconnect,noDelay,keepAlive,connectTimeou

[2018-02-27 17:41] sethbrenith opened #19038 "Flaky test-inspector-port-cluster"
* **Version**: v10.0.0-pre
* **Platform**: Windows Server 2012 R2 (6.3.9600), 64 bit
* **Subsystem**: test

On a node-chakracore testing machine, we recently saw the following failures in `test-inspector-port-cluster`:

[code]

This is because the machine in question happens to have other processes listening on 1025 and 1026. Since any process could be using any port number, this test seems inhere

[2018-02-27 18:30] apapirovski commented on #19033
The only thing I can see in that commit log that would affect Node so broadly is libuv 1.16.1 upgrade. Otherwise, could this be build related? Like did something change about the way we build for that particular platform?

@BethGriggs Was there any regression on other systems or just that one?

[2018-02-27 19:09] mourner opened #19044 "node --prof-process is broken"
* **Version**: v9.6.1
* **Platform**: macOS

`node --prof-process` doesn't work in the current Node version.

[code]

Same result when pointing to an isolate file.

[2018-02-27 19:17] addaleax commented on #19044
You’re right, `python tools/test.py tick-processor` is also failing for me on master.

I think this might be coming from 99d693da5c1b7, /cc @MylesBorins

Do you think you could try this fix?

[code]

[2018-02-27 19:26] satisoftware opened #19045 "Import [folder_name].js by default"
Version: v8.1.4
Platform: Windows 10 64-Bit

If I have the following file structure:

/book/book.js

It would be nice if I could import it via:

import book from '/book/'

rather than:

import book from '/book/book'

I believe current behavior is to import index.js by default when a folder is provided, however if a file exists with the same name as the folder, perhaps that could take priority over

[2018-02-27 19:33] devsnek commented on #19045
commonjs resolving algorithm is locked. thanks for the suggestion though

[2018-02-27 19:52] STRML commented on #18223
Backtrace of the SIGSEGV:

[code]

[2018-02-27 19:55] arboreal84 commented on #19037
Some feedback on your posting:

1) Don't run software as root.
2) Sanitize your logs before sharing them (they contain an IP address, I strongly suggest you edit that out).

From your logs, it seems you are experiencing a memory leak by not handling requests to completion. This is common when errors are not handled.

Make sure that every request gets a response (or that you call `res.end()`), so t

[2018-02-27 20:01] satisoftware commented on #19045
Okay, thanks,

[2018-02-27 20:01] #19045 closed

[2018-02-27 20:17] bnoordhuis commented on #19037
@MikhailY Can you move this to the help repo?  This doesn't look like a bug in node.js itself.  @arboreal84 also provided some good tips.

[2018-02-27 20:17] #19037 closed

[2018-02-27 21:22] zenflow opened #19048 "The value of process.env.foo can sometimes be observed to be undefined after being assigned the value of ''"
The value of process.env.foo can sometimes be observed to be undefined after being assigned the value of ''

Please see [zenflow/node-bug-windows-process-dot-env](https://github.com/zenflow/node-bug-windows-process-dot-env) for a full reproduction, with execution set up on Travis CI and AppVeyor CI.

Subsystem: unknown
Local Version: v8.9.4
Local Platform: `ver` says version 10.0.16299.248, 64-bit

[2018-02-27 21:32] mscdex commented on #19048
If it only happens on Windows, it might be a libuv issue instead.

[2018-02-27 21:43] addaleax commented on #19048
See https://github.com/nodejs/node/issues/14593, I’m pretty certain this is a duplicate of that. The fix (#18463) will be included the next v8.x release (https://github.com/nodejs/node/pull/18336, you can try the RC that’s linked there) and has been released in v9.6.0.

Thanks for all the work you’ve put into this reproduction, though! It’s really appreciated.

I’m closing this as a duplicate, but

[2018-02-27 21:43] #19048 closed

[2018-02-27 21:43] zenflow commented on #19048
Sorry, did not realize this issue was already filed.

Hopefully my reproduction library is of use.

Latest AppVeyor build is pending but you can see earlier builds (which are failing just because it's not compatible with v4).

[2018-02-27 21:45] addaleax commented on #19048
@zenflow I don’t think there’s anything you’d need to do here, except wait for the next v8.x release. :)

[2018-02-27 22:01] rvagg commented on #18770
pre2 is out, looks like a ton of pending refactoring and removals got merged in for this one https://github.com/openssl/openssl/commits/master
I haven't tested this yet

[2018-02-27 22:14] zenflow commented on #19048
@addaleax Ah, yeah, I suppose once AppVeyor supports node v9.6 my tests can pass.

Thanks for addressing this!

[2018-02-28 01:02] inidaname commented on #18909
@wuweiweiwu if agreed please feel free to lately I've been held up with some events preparation.

[2018-02-28 01:26] shigeki commented on #18770
OpenSSL-1.1.1-pre1 binding without asm support  of https://github.com/shigeki/node/tree/WIP_openssl111pre_noasm has almost been done.

Most of CI results of
https://ci.nodejs.org/job/node-test-commit/16544/ are fine except in some platforms. I'm going to  work on them with pre2 soon.

Most of test failures is due to cipher suite incompatibilities between TLS1.2 and TLS1.3 and it can be resolved by

[2018-02-28 02:59] vsemozhetbyt opened #19051 "test: URLTest.ToFilePath from cctest\test_url.cc fails when --without-intl flag used"
* **Version**: master (10.0.0)
* **Platform**: Windows 7 x64
* **Subsystem**: test

From the output of `.\vcbuild without-intl test`:
[code]
Should it be skipped in such case?

[2018-02-28 03:15] wuweiweiwu commented on #8646
@mcollina @aqrln Sounds good! Seems like a lot to read. Ill get more familiar and open a WIP PR soon :)

[2018-02-28 03:16] wuweiweiwu commented on #1684
@benjamingr  Ok! Ill open a WIP PR soon after I read more and get more familiar

[2018-02-28 08:21] jdalton commented on #18795
I took a slightly different approach for my implementation. I tried adding [builtin generics](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array#Array_generic_methods) like the primordials it took a while and did complicate things. There was also some perf overhead for all the indirection. I unwound it a bit by instead having two contexts. One for internals and

[2018-02-28 10:09] rvagg commented on #18770
Very nice work @shigeki. I notice there's a failure on testing 1.0.2 support:

[code]

@ https://ci.nodejs.org/job/node-test-commit-linux-containered/2545/nodes=ubuntu1604_sharedlibs_openssl102_x64/

Is it going to be hard to main backward compatibility?

[2018-02-28 10:17] rvagg commented on #18998
I've observed some similar failures on Docker containers today:

https://ci.nodejs.org/job/node-test-commit-linux/16729/nodes=alpine37-container-x64/ running on https://ci.nodejs.org/computer/test-softlayer-alpine37_container-x64-1 which runs on test-softlayer-ubuntu1604_docker-x64-1
[code]

https://ci.nodejs.org/job/node-test-commit-linux-containered/2544/nodes=ubuntu1604_sharedlibs_openssl110_x6

[2018-02-28 10:18] shigeki commented on #18770
It is the API which is available above 1.1.0 so that
`#if OPENSSL_VERSION_NUMBER >= 0x10100000L .. #endif`
would be working.

[2018-02-28 10:27] fhinkel commented on #19044
:thinking: I thought we had just fixed `--prof-process`. Does it work on master?

[2018-02-28 10:32] fhinkel commented on #19044
https://github.com/nodejs/node/issues/18451, @cjihrig fixed it.

[2018-02-28 10:33] fhinkel commented on #19030
+1 to linting for `you`, `he`, `she`, `his`, and `her`.

[2018-02-28 11:35] codedot opened #19055 "exposing SSL_get_finished and SSL_get_peer_finished"
* **Subsystem**: `tls` (`tls.TLSSocket`)

This is a feature request to expose OpenSSL routines `SSL_get_finished` and `SSL_get_peer_finished` as `tls.TLSSocket.getFinished()` and `tls.TLSSocket.getPeerFinished()`, respectively. They are required to implement the current version of `rippled` peer protocol; see ripple/rippled#2413 for details.

[2018-02-28 12:41] mafintosh commented on #15371
Just ran into this same issue, anyway I can help get this fixed?

[2018-02-28 13:07] gireeshpunathil commented on #19033
I am not able to replicate this perf. loss. The numbers for arrays (the worst hit bench) are even - one sample given below:

v6.12.3
[code]

v6.13.0
[code]
digging further.

[2018-02-28 13:24] mourner commented on #19044
@fhinkel as far as I can see, it was broken again a week later — it's a different issue. I guess some new tests for flag would help :)

[2018-02-28 13:29] cjihrig commented on #19030
Probably `we` and `our` as well.

[2018-02-28 13:39] trivikr opened #19057 "Error while running coverage"
* **Version**: master
* **Platform**: macOS Sierra Version 10.12.6
* **Subsystem**: N/A
* **Xcode**: Version 9.2 (9C40b)

I tried to run coverage by following the instructions given in https://github.com/nodejs/node/blob/master/BUILDING.md#building-nodejs-1

The following commands were run:
[code]

Coverage failed with the following error:
[code]

Is anyone else facing the same issue?

[2018-02-28 13:59] mcollina commented on #18855
@trivikr why is this blocked by those? Can you open the PR in the meanwhile?

[2018-02-28 14:07] trivikr commented on #18855
I can make the code change and test it by running just single test as defined in https://github.com/nodejs/node/blob/master/doc/guides/contributing/pull-requests.md#step-6-test

However, since coverage is failing on my machine and also at coverage.nodejs.org I would like to wait for that fix before posting a PR.

[2018-02-28 14:18] Leko opened #19058 "investigate flaky sequential/test-http-server-keep-alive-timeout-slow-client-headers"
* **Version**: v10.0.0-pre
* **Platform**: debian8-x86
* **Subsystem**: test

https://ci.nodejs.org/job/node-test-commit-linux/16738/nodes=debian8-x86/console

[code]

Caused by #19018

[2018-02-28 14:28] addaleax commented on #19044
When we were testing for https://github.com/nodejs/node/pull/18623, it didn’t work on `master` to begin with. :/

We do have tests, but they’re resource-consuming and aren’t run as part of the standard test suite – I guess they just weren’t run the last time when changes to this were landed.

@mourner I’ve opened https://github.com/nodejs/node/pull/19059 with the above patch, could you try to chec

[2018-02-28 14:40] addaleax opened #19060 "Merge streams handling code for http2 streams & net.Socket"
Hey :)

It would be great if we could unify all the code from `net` and `http2` that is only concerned with pushing data to/from the underlying stream, ideally into a common base class of `net.Socket` and `Http2Stream`, so that we could also maybe port some of the other native streams (zlib, fs) to using `StreamBase` on the native side & generally just share a lot of code.

This is probably not an

[2018-02-28 14:59] evanlucas commented on #19057
I can reproduce on High Sierra. Bisecting now

[2018-02-28 15:20] benjamingr commented on #18795
@jdalton that's a good idea, however as @hashseed mentioned:

If there is a way around that that would be optimal.

[2018-02-28 15:35] trivikr commented on #18855
PR posted at #19061

[2018-02-28 15:37] trivikr commented on #18938
FYI https://coverage.nodejs.org/ doesn't show any past coverages now.

[2018-02-28 15:38] jdalton commented on #18795
@benjamingr

That's not a problem. That's a value from one context coming into another. I have a `has` helper that is created in the isolated context so when I can `has(arg, "foo")` it doesn't matter if `arg` is from the exposed context or isolated or if `arg` has its own custom `hasOwnProperty` method or if `arg` has a `null` `[[Prototype]]`.

One of the other nice things is primitives handled in

[2018-02-28 15:44] mourner commented on #19044
@addaleax thanks a lot for the fix! I don't have Node source code set up locally but can try checking if no one else beats me to it in the nearest days.

[2018-02-28 15:46] devsnek commented on #18795
generics are a tempting idea but as you said yourself they have a perf hit and their behavior might be less clear than explicit calls of well-known methods from javascript's primordials

[2018-02-28 15:50] jdalton commented on #18795
The terminology of primordials and generics are interchangeable in this bit. Instead of coining mind primordials (I went with generics because its easier to type and the historical precedent) Their implementation is essentially the same. So when I say there was performance overhead to generics you can read that as performance overhead to primordials.

[2018-02-28 15:54] devsnek commented on #18795
In the context of this conversation i think `primordials` are the big global objects that javascript (and we) create (Array, Symbol) and generics are the methodology from js1.6 where you could use `Array.every` on anything iterable. In this case generics are going to be much slower than the uncurryThis we are looking at currently because v8 has specific perf case for uncurryThis and generics have

[2018-02-28 15:58] jdalton commented on #18795
I'm referring to primordials in the context of the Node helpers written to handle handle methods from unknown origins. The term used for those helpers was primordials. I pointed to the docs for the source of the name not using the actual `Array.every` *(that doesn't exist in v8)*. I'm saying I implemented generics in the same was as `uncurryThis`. Who knew the name would throw folks off here :yum:

[2018-02-28 16:25] kau1992 opened #19062 "Error: Cannot find module 'internal/errors' when install node module, node 8.6.0 npm 5.3.0. amazone aws server"
* **Version**:
* **Platform**:
* **Subsystem**:

[2018-02-28 16:27] benjamingr commented on #18795
I think I'll pick this up at the next open source event we're doing and get 10 or so community members messing with functions and reporting how Node behaves in different scenarios - as well as searching GitHub and NPM for initial data.

I think that should get us the initial data we need to present to the TSC in order to make a push for a more consistent API in terms of overriding builtins.

This

[2018-02-28 16:28] benjamingr commented on #18795
I'm going to self assign, I don't think this needs TSC attention until we have said data.

[2018-02-28 16:35] addaleax commented on #19055
How does the peer provide the messages that would be returned by these functions using the OpenSSL API?

[2018-02-28 16:43] jasnell opened #19063 "[Tracking] loop/threadpool stats from libuv"
If/Once https://github.com/libuv/libuv/pull/1764 lands and we get libuv 2.0 into core, we'll have the ability to collect more accurate timing and count stats from the event loop and thread pool. Will be able to emit these via trace events and performance API fairly easily and without the overhead that using separate uv_check_t, uv_prepare_t, and uv_idle_t handles introduces.

[2018-02-28 16:48] #18938 closed

[2018-02-28 17:05] BridgeAR commented on #18938
Nice that this got fixed. @mhdawson would you please have a look at the concrete coverage output from today e.g. https://coverage.nodejs.org/coverage-ee34d7e54ae39766/index.html? Is this going to be fixed with the next regular coverage run?

[2018-02-28 17:12] codedot commented on #19055
The exact way the `SSL_get_finished` and `SSL_get_peer_finished` routines are used in `rippled` can be found in the `src/ripple/overlay/impl/TMHello.cpp` module, [lines 31-93][1]. I think that exposing them in Node.js can be done similarly to how `SSL_get_session` routine is exposed as `tls.TLSSocket.getSession()` in the `src/node_crypto.cc` module, [lines 2100-2118][2].

[1]: https://github.com/r

[2018-02-28 17:24] magano commented on #8369
From some tests performed on source-maps I could state that currently they work on MacOS and Linux on Chrome both systems.

Unfortunately on Windows Systems (Windows 10) I can't get it to work.
I tested for Google Chrome Official and Canary Builds and on both cases the app was unable to load the source maps.

On top of that I tried loading the source-maps from the filesystem and from a Simple HTTP

[2018-02-28 19:16] cjihrig commented on #19062
You can access that by starting Node with `--expose-internals`, but please don't do that. Whatever module you're using shouldn't be trying to access the internals.

[2018-02-28 19:16] #19062 closed

[2018-02-28 20:48] dandv commented on #18948
This breaks debugging with WebStorm.

https://youtrack.jetbrains.com/issue/WEB-30325

[2018-02-28 21:51] BethGriggs commented on #19033
@apapirovski, I have only seen this regression on aix-ppc64. There were no regressions seen on other platforms (internally we test linux-x64, linux-ppc64le, and linux-s390x too).

I'll do some more runs and report back.

[2018-02-28 21:57] wuweiweiwu commented on #18977
@bnoordhuis I was thinking of adding another method `uncompressKey` in the `ECDH` class in https://github.com/nodejs/node/blob/master/src/node_crypto.cc

Is that a good place to start?

Thank you

[2018-02-28 23:25] vsemozhetbyt commented on #19051
cc @nodejs/testing

[2018-02-28 23:55] TimothyGu commented on #19051
@vsemozhetbyt I wrote that test even though the blame points to @bmeck.

Yes.

[2018-03-01 00:01] bnoordhuis commented on #18977
@wuweiweiwu I'd make it a static method (i.e. on `ECDH`, not `ECDH.prototype`) and you should name it something like `convertKey()` because the conversion goes both ways.

(Three ways actually because node can also convert to a hybrid format.)

[2018-03-01 01:17] wuweiweiwu commented on #18977
@bnoordhuis sounds good! I will work on the compress and uncompress. Where can I find more information on the hybrid format?

And is it ok if I put the tests in `test/parallel`?

[2018-03-01 01:42] inidaname commented on #19060
Hello
@addaleax I will like to take this up, if you point me to the right files
Thank You

[2018-03-01 02:45] dmueller39 commented on #17040
I recently encountered a similar issue, and it was because I had a huge number of changes to the snapshot. I dug down and `diff` was hanging on two sizeable strings that were very different. When I pulled out the compared snapshots, and put it into a native application like FileMerge on iOS, it still took a long time to finally load. Deleting the original snapshot and regenerating the file fixed t

[2018-03-01 04:16] gireeshpunathil commented on #19036
I am trying to recreate this - how do you fire the rule? (I am new to `udev`).
`udevadm control --reload` and  `udevadm trigger` did not work.

[2018-03-01 04:56] Meeeeow opened #19066 "Documents about difference of inspect or --inspect and it's arguments"
* **Version**: 9.6.1
* **Platform**: Debian 9 and Windows 10
* **Subsystem**: inspector

Example:
`node inspect my-script` will listen a port and start debugger cli
`node --inspect my-script` will only listen a port
`node inspect --port=1234 my-script` will able to enter debugger cli with custom port **No Document**

`node --inspect=1234 my-script` will only listen on custom port

---
It's a bit c

[2018-03-01 05:04] iczero commented on #19036
@gireeshpunathil I think `udevadm trigger --action=change --subsystem-match=drm` should work

[2018-03-01 06:01] richardlau commented on #19066
Pull request welcome.

[2018-03-01 06:52] gireeshpunathil commented on #19036
thanks, but that did not help - I have no evidence that it triggered the action.

[2018-03-01 09:34] bzoz commented on #17824
fixed in libuv 1.19.2, Node reticently updated to that version.

[2018-03-01 09:34] #17824 closed

[2018-03-01 09:36] bnoordhuis commented on #19036
FWIW, I wasn't able to reproduce either but my guess would be it's system-specific, possibly Arch-specific.  Perhaps there's a restrictive ulimit in effect (like a low `ulimit -s`) or a security policy that disallows JIT code.

[2018-03-01 09:39] apapirovski commented on #19060
@addaleax Are you sure this is a `good first issue`? This relies on knowledge of both JS & C++, and pretty good grasp of Node streams, net & http2. I would keep it as `help wanted` but can't imagine someone would want to start contributing with this particular issue.

[2018-03-01 09:42] bnoordhuis commented on #18977
It's the `'hybrid'` option to `ECDH.prototype.getPublicKey`.

Yep.

[2018-03-01 09:47] apapirovski commented on #18998
@rvagg I think the `stringbytes` failures are memory overcommit related. I raised the issue before of potentially needing to turn it off on the CI machines because those tests try to assess whether enough memory is available before running but with memory overcommit they don't get a representative answer and proceed to crash.

The one referenced in this issue is very particular because it doesn't

[2018-03-01 10:33] addaleax commented on #19060
@apapirovski Yeah, I would talk with people who volunteer for it in more detail about that :) Then again, this doesn’t really require C++ knowledge, although that’s certainly helpful – it’s only about refactoring the JS, as the C++ parts should be identical between those two systems…

I’ve removed the label for now.

@inidaname The relevant code is in `lib/net.js` and `lib/internal/http2/core.js`.

[2018-03-01 10:42] mcollina opened #19067 "Nominate @trivikr"
I'd like to nominate @trivikr as a collaborator, for his work on http2. This is long overdue!

[Commits in the nodejs/node repository](https://github.com/nodejs/node/commits?author=trivikr)

[Comments](https://github.com/nodejs/node/pulls?q=commenter%3Atrivikr) and [reviews](https://github.com/nodejs/node/pulls?q=reviewed-by%3trivikr) on issues.

[2018-03-01 10:43] BridgeAR commented on #19067
+1

[2018-03-01 10:44] gireeshpunathil commented on #19067
+1

[2018-03-01 11:17] trivikr commented on #19067
Thank you @mcollina for nominating me for NodeJS Collaborator!
It's a big responsibility - I'll try my best to continue contributing to NodeJS and get others onboard 😄

[2018-03-01 12:38] moar55 commented on #19066
The problem is `inspect` in `node inspect <script>` is not an option so it can't be put under the options subheading but it's rather a parameter. So maybe there should be a parameters subheading under it `debug` and `inspect` parameters?

[2018-03-01 12:43] killagu commented on #19057
It's failed on my mac too. Apple's libtool is not support `--coverage`.

When I try to fix the coverage bug, I just use the CentOS.

@trivikr Can you try the glibtool?

[2018-03-01 12:48] mmarchini commented on #19067
+1

[2018-03-01 12:54] fogine commented on #19036
@gireeshpunathil  on my system it does not report that it needs root permissions when you manually retrigger the event (run udevadm with `sudo`).
Then you should see an error in your system's logs if it failed (`journalctl` in my case), like:
[code]

The udev rule watches display outputs - hot pluggable ports like `HDMI`, `Display port` etc..
You can make sure that the rule gets included when you

[2018-03-01 12:57] targos opened #19068 "Allow to await writable streams"
With async iterators, we can use synchronous-looking code to consume readable streams.
There is no equivalent for writable streams in Node core.

Example use case:

[code]

This would resolve when `write` ends or reject if an error occurs.

Prior art:
- https://github.com/bendrucker/stream-to-promise
- https://github.com/epeli/node-promisepipe
- https://github.com/dex4er/js-promise-writable

/cc @

[2018-03-01 13:50] mcollina commented on #19068
This is currently not possible because of how error handling work in streams.

However, wrapping #13506 (`stream.pump`) in a promise should be simple to do. I think we should work on landing that first, and then adding a promisified version of that too (or `util.promisify()`).

[2018-03-01 14:06] cedx commented on #13492
I wonder why this issue was closed : the problem is still there (with Node.js 9.7.0 and npm 5.6.0). Numerous people are still facing this `dezalgo` error.

Whatever project I have (all have a common set of development dependencies), I always needs to do `rm -rf node_modules && npm install` if I want to upgrade the dependencies.

I don't think removing the `node_modules` folder or downgrading npm i

[2018-03-01 14:09] yolob21 commented on #10238
has any fix been released, repl breaks on syntax error in cygwin

[2018-03-01 14:10] antoine-amara commented on #18862
Hello @trivikr @mcollina , I complete tests but my modifications break `test-http2-respond-file-304` and I don't find how to fix it. my branch is [here](https://github.com/antoine-amara/node/tree/fix-respondWithFile-set-headerSent-to-true). I can make a PR if is needed.

[2018-03-01 14:14] mcollina commented on #18862
@antoine-amara open a PR and we will take a look!

[2018-03-01 15:04] jasnell commented on #19067
+1 💯

[2018-03-01 15:19] #18948 closed

[2018-03-01 16:10] #18756 closed

[2018-03-01 16:40] ebickle opened #19071 "N-API documentation incorectly states napi_create_async_work is not multithreaded"
* **Version**: 9.7.0
* **Platform**: Windows 7, Build 7601: Service Pack 1, 64-bit.
* **Subsystem**: Documentation / N-API

The N-API documentation for the Custom Asynchronous Operations (https://nodejs.org/api/n-api.html#n_api_custom_asynchronous_operations) incorrectly states that napi_create_async_work (Simple Asynchronous Operations) executes on the main event loop.

This is incorrect; simple

[2018-03-01 17:53] Tapudp opened #19072 "[novice question] I'm hitting an error while running the schema file in MongoDB with Nodejs"
* **Version**:
* **Platform**:
* **Subsystem**:

'm following Academind's playlist on creating Node.js Shopping Cart and in the Video #4 "Seeding Data" I've created the models for it and then trying to create product-seeder.js file as follows:

[code]

error regarding the mongodb server

[2018-03-01 17:58] cjihrig commented on #19072
Please ask general support questions at https://github.com/nodejs/help.

[2018-03-01 17:58] #19072 closed

[2018-03-01 18:01] Tapudp commented on #19072
@cjihrig I'm sorry for the mistake Thanks for guiding.

[2018-03-01 18:51] davidfekke opened #19074 "Error: couldn't open node-v9.7.0.pkg"
9.7.0:
macOS:
https://nodejs.org/dist/v9.7.0/node-v9.7.0.pkg

I am receiving the following error when I try to run the macOS installer for Node.js 9.7.0.

[code]

[2018-03-01 19:37] Trott commented on #10238
As I understand it, there's no fix to release. The solution is to run `winpty node` if you need to use the REPL. Correction/clarification from @nodejs/platform-windows welcome.

[2018-03-01 20:22] JustinBeckwith opened #19077 "fs.rename() won't move files between different disks"
I'm reopening a bug from the 0.x archives....
https://github.com/nodejs/node-v0.x-archive/issues/2703

We're experiencing this on Node.js 4->9.  From our bug here:
https://github.com/google/google-api-nodejs-client/pull/1030

Needing to use a userspace `mv` module isn't very friendly, and ideally `fs.rename` would work in this scenario.

@MylesBorins @alexander-fenster

[2018-03-01 20:38] yashwa7 commented on #19074
I do as well!

[2018-03-01 20:48] IamMille commented on #19074
+1

[2018-03-01 21:04] richardlau commented on #19074
cc @nodejs/platform-macos

[2018-03-01 21:30] MylesBorins commented on #19077
From the archived issue

from @chjj

from @indutny

TLDR rename is based on the system call rename(2) whereas mv(1) is a utility (not a low level atomic function). Implementing mv would require us to also implement recursive file operations.

These are all currently available in userland:

* [rimraf](https://www.npmjs.com/package/rimraf) ~29M monthly downloads, 364 lines, 1 dependency (glob)
* [mk

[2018-03-01 21:35] bnoordhuis commented on #19077
You should take a look at python.  I has the fracturing and NIH you mention, all in the stdlib.

I'd just close out this issue.  It's already been discussed in the archived issue why things are the way they are, no point in doing that all over again.

[2018-03-01 21:36] bnoordhuis commented on #19074
Don't +1, that sends email to 100+ people.  Use the upvote button.

[2018-03-01 21:42] MylesBorins commented on #19077
@bnoordhuis I agree that this issue can likely be closed out. That being said, just because we have made decisions for why things are the way they are, does that mean it has to be the way it is in the future?

While I understand the urge to not constantly revisit the same conversations, I think there is also value in seeing that there is some sort of signal here and this particular conversation ma

[2018-03-01 21:45] rongreen commented on #19074
Sorry

[2018-03-01 21:48] MylesBorins commented on #19077
to be more specific about this issue, and less philosophical, would it make sense to improve the error for fs.rename to be a bit more intuitive than EXDEV?

[2018-03-01 21:52] addaleax commented on #19077
@MylesBorins I guess we could tweak the error message, but `EXDEV` is a standardized error code that’s not going to be changed in POSIX.

I’d personally think that “cross-device link not permitted” is already kind of a succinct description of what’s happening, but I’m certainly biased. :)

[2018-03-01 22:32] mhdawson commented on #18943
+1

[2018-03-01 22:39] lance commented on #18943
+1 how is this not already the case!?

[2018-03-01 22:48] mhdawson commented on #19067
+1

[2018-03-01 23:03] joyeecheung commented on #18943
Labeling this tsc-agend so we remember to announce it

[2018-03-01 23:15] wuweiweiwu commented on #18977
Just a question about converting buffer to point. Currently I have `ConvertKey` in `node_crypto.cc` as a static method. I was planning on using `ECDH::BufferToPoint` to convert the input key to `EC_POINT` However that function is a protected function in ECDH class.

Should I declare ConvertKey as protected function of ECDH as well and then just bind it as a static method in `diffiehellman.js` or s

[2018-03-01 23:31] leihuagh commented on #19074
+1

[2018-03-01 23:38] Trott opened #19079 "Tracking Issue for Runtime Deprecation of Buffer constructor"
* **Version**: 10.0.0
* **Platform**: all
* **Subsystem**: buffer

TSC approved runtime-deprecation of Buffer constructor for 10.0.0.

Here's the tracking list. @nodejs/tsc: Feel free to edit this to add more items to the checklist. I'm just getting it started, really.

- [x] **Draft concise statement as to why we're doing this** instead of leaving things where they are (with `new Buffer()` now ze

[2018-03-01 23:46] gibfahn commented on #19074
cc/ @rvagg

So I think this is what happened:
- PR for release: https://github.com/nodejs/node/pull/19040
- Release job: https://ci-release.nodejs.org/job/iojs+release/3131/
- First build (green, and the binary works): https://ci-release.nodejs.org/job/iojs+release/3130/nodes=osx1010-release-pkg/
- Second build job (aborted as it was scping, probably pushed a broken binary): https://ci-release.nod

[2018-03-01 23:47] gibfahn commented on #19074
cc/ @nodejs/release , not sure what we should do here

[2018-03-01 23:50] rvagg commented on #19074
doh!
I think we can justify pushing a fixed .pkg for just this one, the shasum will only change for that file, any objections @nodejs/release?

[2018-03-01 23:51] gibfahn commented on #19074
SGTM, to be clear the pkg from the first build  (https://ci-release.nodejs.org/job/iojs+release/3130/nodes=osx1010-release-pkg/) looks good, direct link https://ci-release.nodejs.org/job/iojs+release/3130/nodes=osx1010-release-pkg/artifact/node-v9.7.0.pkg.

[2018-03-01 23:52] rvagg commented on #19074
yeah, OK, I could manually put that into staging and promote it, will stage it now and wait a little while to see if there are any objections

[2018-03-01 23:53] richardlau commented on #19074
As an aside, I thought we added download tests to catch this sort of thing?

[2018-03-01 23:56] mhdawson commented on #19074
STGM

[2018-03-01 23:57] mhdawson commented on #19074
The download test validates the non-installer packages https://ci.nodejs.org/view/Node.js%20Daily/job/validate-downloads/

It would be good to validate the installers too, but that would be more complex as it would require  jobs to run each of the target platforms.

[2018-03-01 23:58] MylesBorins commented on #19074
I'm ok with it. Lmk when this is ready to go and I'll promote and sign the new .pkg

[2018-03-01 23:59] MylesBorins commented on #19074
Oh wait 9.7.0 that was released by @addaleax, they would likely need to promote / sign

[2018-03-02 00:01] rvagg commented on #19074
@MylesBorins no, @addaleax prepared it, I released it, I also did the screw-up with the second build which I started because it looked like one of the Windows builders had stalled, but I cancelled the second build when the Windows builder righted itself.

[2018-03-02 00:02] MylesBorins commented on #19074
Was it released with the bad .PKG? Does the signed Sha match the corrupted pkg?

If not do we have the original .PKG anywhere that we could republish?

I'm almost inclined to say we should published 9.7.1 rather than edit the sha

[2018-03-02 00:08] gibfahn commented on #19074
Yes

Yes, it's here: ci-release.nodejs.org/job/iojs+release/3130/nodes=osx1010-release-pkg/artifact/node-v9.7.0.pkg.

[code]

[2018-03-02 00:17] richardlau commented on #19074
AFAICT https://ci.nodejs.org/view/Node.js%20Daily/job/validate-downloads/ does look at the installer packages, but all it does is validate that it matches the SHA (so in this case does not catch the problem as the published SHA was for the corrupted pkg).

[2018-03-02 00:20] richardlau commented on #19074
Come to think of it, I have a vague recollection that we tried to update the sha once in the past and it caused problems resulting in a new patch release.

[2018-03-02 00:22] MylesBorins commented on #19074
We accidentally published over assets in the past and didn't have backups. So we opted to do a new release rather than replace Shas.

[2018-03-02 00:25] inidaname commented on #19060
@addaleax Okay thank you

[2018-03-02 01:19] glemiere commented on #19074
+1

[2018-03-02 01:23] rvagg commented on #19074
ok, I'll push a new release now then

[2018-03-02 01:30] rvagg commented on #19074
https://github.com/nodejs/node/pull/19081

[2018-03-02 02:56] rvagg commented on #19074
released, if you have this problem with 9.7.1 then .. well ... (I did check the .pkg prior to publishing btw!)

[2018-03-02 02:56] #19074 closed

[2018-03-02 08:32] bnoordhuis commented on #18977
I'd probably move the shared logic into a static ECDH member function.  It doesn't matter if it's not a member, as long as there isn't code duplication.

[2018-03-02 11:50] #18169 closed

[2018-03-02 11:58] RootG commented on #16149
@nicain By inspecting element in my browser I have concluded that the default color of "good first issue" is #7057ff.

[2018-03-02 12:21] apapirovski commented on #18862
`respondWithFile` has to call multiple different async methods, unlike `respondWithFD`, which means that checking for `headersSent` in a sync manner is not possible. I do not see a bug here.

[2018-03-02 12:48] eriohl commented on #15433
I guess this one is pretty dormant but does anyone know a workaround for this problem? I have the same problem (although in my case I want to pass a pipe handle to ```uv_pipe_open```).

(The only way I see this working is if node.exe exports ```_open_osfhandle``` as it does with ```_get_osfhandle``` (via ```uv_get_osfhandle```) to convert the other way.)

[2018-03-02 13:34] joyeecheung commented on #19063
Are there an plans to upgrade to libuv 2.0 though?

[2018-03-02 13:55] joyeecheung commented on #19077
It seems much riskier to change a `err.code` from `fs`. Although if we are just talking about `err.message`, these message have all been formatted as something like`${uv_code}: ${uv_message}, ${syscall}, ${src} -> ${dest}` so to change the message part we usually need to change libuv (we could certainly use our own message though, but breaking the consistency in one API looks even more confusing).

[2018-03-02 14:01] SirR4T commented on #12351
Would like to take a shot at this, if no one else's taking it up.

[2018-03-02 14:04] joyeecheung commented on #12351
@SirR4T Heads up: I am currently working on `fs.watch` in the last batch of  fs errors migrations, but I think `process.chdir` has not been taken.

[2018-03-02 14:13] mcollina commented on #18862
@apapirovski you are right! down the road `respondWithFile` will call `processRespondWithFD ` https://github.com/nodejs/node/blob/master/lib/internal/http2/core.js#L1907 which in turn will flip the `headerSent` state.

Very likely https://github.com/nodejs/node/pull/19070 can be closed then. I'm sorry @antoine-amara.

[2018-03-02 14:14] muralicomputerworld opened #19085 "running cordova build node gives error"
Hello can any tell me what is this issue?
(node:5240) [DEP0018] DeprecationWarning: Unhandled promise rejections are depre
cated. In the future, promise rejections that are not handled will terminate the
 Node.js process with a non-zero exit code.

[2018-03-02 14:21] fdambrosio commented on #13492
I have the same problem

[2018-03-02 14:26] SirR4T commented on #18978
Stumbled into this, when running `make -j4 test` on master.
For anyone else: do run `make lint-md-build`, before running the above, to install required tools.

@ChALkeR Good idea to make the `lint-md-build` a dependency for `test` target in Makefile? Or is that too much?

[2018-03-02 14:27] mcollina commented on #13492
I would recommend to open an issue to https://github.com/npm/npm with a full example to reproduce. It's not a node bug anyway.

[2018-03-02 14:30] richardlau commented on #18978
https://github.com/nodejs/node/pull/18981#issuecomment-368477970

[2018-03-02 14:34] SirR4T commented on #18978
ah! Thanks!

[2018-03-02 14:35] antoine-amara commented on #18862
That's ok , I'm junior and I'm a beginner into the open source world. That's a good experience for me.

[2018-03-02 14:46] Trott commented on #19085
Hi! This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like this one, please file an issue on our help
repo. https://github.com/nodejs/help

Thanks!

[2018-03-02 14:50] Trott commented on #19079
One thing we'll need is a concise statement as to why we're doing this instead of leaving things where they are (with `new Buffer()` now zero-filling and a documentation deprecation for it). I have a feeling we'll see a lot of comments like this: https://twitter.com/shelleypowers/status/969568430105006080. If we can't answer them quickly and concisely, it could be bad. I'll add an item to the chec

[2018-03-02 15:04] gireeshpunathil commented on #19036
I was able to recreate the crash. Earlier I was working in a container image, which does not work well with udev as I read.

1. All the mmap requests (probably coming from v8) with `rwx` attributes are failing when ran through udev controller:

[code]
while I am not certain this is the root cause, this is a major deviation from the normal run.

2. The entire environ array is erased by the parent `

[2018-03-02 15:26] bnb commented on #19079
@Trott would you like CommComm's help in crafting the statement? I think we'd be generally happy to help on messaging around this / reviewing a blog post if y'all want to write one.

[2018-03-02 15:29] bnoordhuis commented on #19036
Right, so there's a W^X deny policy in effect.  Upstream V8 might one day support that - some work was done on that recently - but for now you'll have to either disable the policy or not run node from udev.

Thanks for clearing that up, Gireesh.  I'll close this out.

[2018-03-02 15:29] #19036 closed

[2018-03-02 15:39] apapirovski commented on #17110
There doesn't seem to be much actionable here on Node's part. I'll close this out for now.

[2018-03-02 15:39] #17110 closed

[2018-03-02 15:42] shelleyp commented on #19079
I think providing a good, concise statement is important because you're basically going back on an implicit promise outlined in https://medium.com/@jasnell/node-js-buffer-api-changes-3c21f1048f97, as well as the API docs for the last two years.

[2018-03-02 15:44] apapirovski commented on #14652
Since this is an issue in V8 with a matching V8 bug report, I'm going to close this out. Feel free to reopen if you don't think that's right.

[2018-03-02 15:44] #14652 closed

[2018-03-02 15:53] glemiere commented on #19074
Thank you very much @rvagg for this quick fix!

[2018-03-02 15:58] apapirovski commented on #9039
There has been no movement on this for a long time and it's a V8 issue, as such I'm going to go ahead and close this. Feel free to re-open if you feel I'm mistaken.

[2018-03-02 15:58] #9039 closed

[2018-03-02 16:03] apapirovski commented on #7126
Given the upcoming EOL for v4.x and the lack of any movement on a fix for this, nor anyone on the collaborator team focused on v4.x, I'm going to close this out. That said, if you feel this is important to fix or you think I'm wrong about closing this, feel free to re-open.

[2018-03-02 16:03] #7126 closed

[2018-03-02 16:05] apapirovski commented on #18443
Realistically speaking, since v4.x is EOL in less than 2 months, it's extremely unlikely that anyone will find the time to figure out and back-port the relevant fix from V8. As such, I'm going to go ahead and close this up. That said, feel free to re-open if you believe it's important to fix and/or believe there might be someone qualified to fix.

[2018-03-02 16:05] #18443 closed

[2018-03-02 16:26] #19085 closed

[2018-03-02 16:50] BethGriggs commented on #19033
I have not managed to reproduce the issue when running the independent and individual runs of the core benchmarks. However, in our automated perf setup, we execute each of the benchmark files multiple times. What I have noticed is `time node -e ""` between Node 6.12.3 and Node 6.13.0 somewhat increases. I am not sure if this is indicative of a perf deterioration.

I have run `time node -e ""` mult

[2018-03-02 16:56] joyeecheung commented on #12351
BTW, I wrote a file name wrong in https://github.com/nodejs/node/issues/12351#issuecomment-355198333 , to fix `fs.watch`, `fs_event_wrap.cc` needs to be changed instead of `node_stat_watcher.cc` because that one is for `fs.watchFile` (`node_stat_watcher.cc` does not throw any errors, also...it does not even check the error code returned from libuv! 😱I am going to fix that after https://github.com/

[2018-03-02 16:57] SirR4T commented on #12351
Cool, thanks! was about to look into `fs.watch` next. Would like to work on the below instead.

Could you elaborate a bit here? or point to your changes in `fs` module, for reference?

[2018-03-02 16:58] joyeecheung commented on #12351
@SirR4T See https://github.com/nodejs/node/pull/19089

[2018-03-02 17:07] DOhlsson opened #19090 "Node old space memory leak"
* **Version**: v8.7.0
* **Platform**: Linux 3.16.0-4 64-bit
* **Subsystem**:

Hello,

I have encountered memory issues with node applications running in a production environment. There seems to be some kind of memory leak related to node and v8 garbage collection.

I have collected memory statistics from Linux proc-fs /proc/x/status VmRSS property and from node with process.memoryUsage() and v8.ge

[2018-03-02 17:09] joyeecheung commented on #12351
Also, forget about the second part of https://github.com/nodejs/node/issues/12351#issuecomment-355198333, it turns out that the particular errors in `fs.watch` are actually pretty easy to fix if we don't change the error code (which is what grants a CITGM really, and the current way it is we are not going to touch `error.code` in `fs` before v10 I believe). But `fs.watch` has a its own can of worm

[2018-03-02 17:18] Trott commented on #19079
@bnb More than that, I'd like someone to lay out the technical reasons for doing this. I'd kind of like to collect bullet point reasons for doing this from @ChALkeR and @seishun on the one hand, and maybe from some of the used-to-be-no-never-ever-do-this-but-have-moved-a-bit-in-the-other-direction people (@addaleax and @evanlucas would be my choices there), and kind of try to come up with a statem

[2018-03-02 17:21] Trott commented on #19079
@shelleyp Part of me wants to point out that that's not (as far as I know) an official communication from Node.js but the personal blog of Some Guy Who Happens To Be On The Project Technical Steering Committee. You're not wrong to treat the statements in there with weight. At the same time, it's hard for the project to be bound by statements from its individuals. The members of the TSC disagree on

[2018-03-02 17:28] joyeecheung commented on #19090
cc @nodejs/v8 Anyone aware of similar issues/fixes in the upstream?

It's probably going to be hard to answer the question without a reproducible test case, but you might want to use the V8 sampling heap profiler to find out the problematic JS code path. There is an addon that helps you dump the profile programmatically in production, see https://github.com/v8/sampling-heap-profiler

[2018-03-02 17:38] ofrobots commented on #19090
I actually talked about [this memory leak](bugs.chromium.org/p/v8/issues/detail?id=6800) in Node 8.7.0 during my Node Interactive [talk](https://docs.google.com/presentation/d/1G9JV16tG_75YVYK0C0WNJdKQS79stLeEgglkBiJmrIs/edit#slide=id.g20166fe739_8_10) on memory leaks :).

This is fixed. Please upgrade to the latest 8.x.

[2018-03-02 17:38] #19090 closed

[2018-03-02 17:39] ofrobots commented on #19090
If you still see leaks after upgrade, please do reply here, and I'll reopen the issue.

[2018-03-02 18:54] wuweiweiwu commented on #18977
Sounds good! On it

[2018-03-02 19:07] ChALkeR commented on #14537
@nodejs/tsc is this something we want to do for 10.0?

[2018-03-02 19:13] rektide commented on #15709
Hey. I want to chip in for any Node.js users like myself, playing along at home, about how to use async generators in Node.js: that information was a little scattered, and I wasn't sure what the status was myself.

- Versions 8.3 and above seem to have async iteration support! (Wow! That's way more support than I thought!)
- All versions of Node that do support async iteration require `--harmony_a

[2018-03-02 19:36] #12179 closed

[2018-03-02 19:36] #8724 closed

[2018-03-02 19:42] Trott commented on #14537
Adding `tsc-agenda` label, although hoping we can come to consensus here in the issue tracker instead of taking this up at a meeting.

[2018-03-02 19:49] mcollina commented on #14537
I'm 👍 in removing the affected root certs for 10. We should probably think doing it in 8 as well.

[2018-03-02 19:53] BridgeAR commented on #14537
+1 from me for removing the certs in 10.x and for backporting.

[2018-03-02 20:04] robbie-mac opened #19095 "Nested HTTP/2 pushStream fails with error"
Version: 9.7.1
Platform: 64-bit (Windows)
Subsystem: http/2

[code]
The nested pushStream callback argument (err) is populated with this:
[code]

[2018-03-02 20:12] #16772 closed

[2018-03-02 20:18] jasnell commented on #19095
A push stream cannot be the parent of another push stream. Specifically, a server is only permitted to send a PUSH_PROMISE frame on a *client initiated* stream.

[2018-03-02 20:18] jasnell commented on #19095
A better error message here would be good.

[2018-03-02 20:35] shelleyp commented on #19079
It's less that James Snell was _a_ person on the TSC, but was seen as a pretty definitive authority on Node at the time. And he spoke with a great deal of finality about the future of Buffer constructor.

But regardless, Buffer constructor was such a fundamental element of earlier Node releases. Technology support groups typically hesitate or do anything they can to avoid 'breaking' backward compa

[2018-03-02 20:38] richardlau commented on #19026
I think amending the condition https://github.com/nodejs/node/blob/81d73fe83e280a36b094980eee85badece94f5ea/lib/internal/cluster/master.js#L109 to additionally match the regexp to `NODE_OPTIONS` (if it exists) would fix this.

Would also need tests (which is the reason I haven't raised a quick PR). If no-one else picks this up I'll try to find some time next week. (If anyone does feel like picking

[2018-03-02 20:40] BridgeAR opened #19097 "Adding more teams for cc"
Right now there are a couple of teams that are good for cc but there are also multiple concerns without a team and I suggest to create e.g. `cluster`, `child_process`, `repl`, `timers`, `util`, `zlib`, `linting`, `dgram` and `npm`.

Opinions @nodejs/collaborators?

[2018-03-02 20:42] mcollina commented on #19097
Definitely +1. We should be mentioning teams and not individuals when asking for reviews.

[2018-03-02 20:46] joyeecheung commented on #19097
SGTM

[2018-03-02 20:47] watilde commented on #19097
Agreed +1

[2018-03-02 20:51] richardlau commented on #19097
+1

We do already have a [nodejs/npm team](https://github.com/orgs/nodejs/teams/npm/), although it's now down to a single member.

[2018-03-02 21:04] juggernaut451 commented on #19097
How can one be part of a team?

[2018-03-02 21:04] BridgeAR commented on #19097
@juggernaut451 this is only internally for collaborators.

[2018-03-02 21:06] BridgeAR commented on #19097
I just created these:

[libuv](https://github.com/orgs/nodejs/teams/libuv), [timers](https://github.com/orgs/nodejs/teams/timers), [util](https://github.com/orgs/nodejs/teams/util), [child_process](https://github.com/orgs/nodejs/teams/child_process), [domain](https://github.com/orgs/nodejs/teams/domain), [linting](https://github.com/orgs/nodejs/teams/linting), [zlib](https://github.com/orgs/nodejs

[2018-03-02 21:08] apapirovski commented on #19097
I would definitely like to see a team for something like `internals` or `event-loop` for stuff like `bootstrap`, `nextTick` and overall internal functionality that doesn't easily fall into a good subsystem. I guess it could be `process` but that seem a bit narrow.

[2018-03-02 21:10] BridgeAR commented on #19097
@apapirovski is nextTick not somewhat part of timers?

I think `internals` is to broad. `process` would probably be good for bootstrap as well.

[2018-03-02 21:11] apapirovski commented on #19097
`@apapirovski is nextTick not somewhat part of timers?`

It relates more to the event loop than timers. Immediates are also somewhat loosely timers related but at least they only run once per event loop so it makes a bit more sense.

[2018-03-02 21:12] jasnell commented on #19079
Not so much "was". Still here.

We have been actively doing so.

As the person who is handling the 10.0.0 release, and the person who will be writing up the notable changes for that release, I intend full well to clearly highlight the new runtime deprecation for `new Buffer()`, and communication via other channels such as Twitter have already been used to communicate the change.

Other members of

[2018-03-02 21:12] bnb commented on #19079
@shelleyp I can't commit to anything for the TSC, but I have little doubt that the project will do everything in its power to communicate this as effectively as possible and push for stability of the ecosystem.

Judging by what's happened with prior releases, I imagine that the project will publish a release blog post for v10 and that this specific change will be front and center.

As a member of

[2018-03-02 21:18] ChALkeR commented on #19079
@shelleyp You are describing an example of an affected person in details — I understand your concern, but to truly determine the best path forward, we need to understand how many people on average will be negatively affected by this (and how) and how many people are expected to be affected if we _don't_ make this change (and how).

The sad thing is that the documentation-only deprecation _doesn't

[2018-03-02 21:32] BridgeAR commented on #19097
I added [process](https://github.com/orgs/nodejs/teams/process) as well now. It should cover `process` and `bootstrap`.

[2018-03-02 21:51] targos commented on #19097
Those teams should all be children of `@nodejs/core`

[2018-03-02 22:03] Trott commented on #19097
Done.

[2018-03-02 22:07] BridgeAR commented on #19097
@Trott thanks a lot :-)

@nodejs/collaborators Please from now on always ping the new groups instead of individual users if a group applies.

@apapirovski if you feel like a new group is still necessary, I suggest to add that as well but I think that can be handled separately.

Closing as solved.

[2018-03-03 00:59] robbie-mac commented on #19095
I figured that would be the case but, although I don't show it,  after checking the value of pushallowed which came back true, I figured why not try.

[2018-03-03 01:01] robbie-mac commented on #19095
Thanks for the quick response though. I can quit banging my head against that brick wall. @jasnell Should I leave this open or close the issue?

[2018-03-03 01:04] jasnell commented on #19095
Let's leave this open. Some API and doc improvements would be worthwhile

[2018-03-03 02:34] SirR4T commented on #12351
Hi @joyeecheung , still trying to understand what "take a context" would mean here. In #19089, I see that in C++ land, an `FSEventWrap` is unwrapped, processed on, and a return value of error is set, whenever an error occurs. This is then checked for in JS land. For `process.chdir()`, I couldn't find any JS land wrappers. Where should I be starting here?

[2018-03-03 10:38] xaviergonz opened #19104 "new internalNextTick cannot be wrapped by electron"
Due to the change from using ```process.nextTick``` to ```const { nextTick } = require('internal/process/next_tick');``` electron cannot wrap that call anymore in order to use its internal ```process.activateUvLoop()```, which is used on renderer processes to process the event queue (as seen in https://github.com/electron/electron/blob/7ef69a5af595c9c0eef27bdf9446103776917aec/lib/common/init.js)

[2018-03-03 10:45] apapirovski commented on #19104
There should almost certainly be a better way of doing this than exposing it on process — although I don't have anything to suggest off the top of my head. There's also the new `setUnrefTimeout` which seems affected by this.

[2018-03-03 10:51] apapirovski commented on #19104
I don't know much about electron internals but would it be possible to just use init async hooks instead of the unreliable monkey-patching? You would be looking for type `Immediate`, `Timeout` or `TickObject`.

[2018-03-03 10:58] xaviergonz commented on #19104
I'm not familiar with setUnrefTimeout, what is it for?
good point about the async hooks :D didn't think of it. I tried it and it seems to work. Would the async hooks fix setUnrefTimeout as well?

[2018-03-03 11:15] apapirovski commented on #19104
Yep, it would. It's going to be used in the 10.x release for http timeouts and similar, but it uses the same Timeout object under the hood so it triggers the same async hook.

[2018-03-03 11:31] joyeecheung opened #19105 "Rename regression tests with descriptive file names"
(I vaguely remember there was a similar issue but could not find it..if it is a duplicate, please leave a pointer, thanks!)

There are currently a couple of tests named `test-regress-*` and many of them are referring to really old regressions in the v0.x repo. I think it's time to rename them with something more descriptive now.

- [test/sequential/test-regress-GH-1697.js](https://github.com/nodej

[2018-03-03 11:32] BridgeAR commented on #19105
+1 from me.

[2018-03-03 11:33] BridgeAR commented on #19105
It is especially good to rename them with the appropriate subsystem. It is much easier to run all tests from one subsystem if the names are right.

[2018-03-03 11:46] mcollina commented on #19105
+1

[2018-03-03 11:46] joyeecheung commented on #19105
BTW: I am not sure if they count as good first contributions, but this is what I would usually do to find out how to rename an existing test

1. Look for the test description in the top of the file, if it has one
2. Take a look at the history of the file, and trace back to the earliest commit to find out what it is testing. Notice that there are a lot of test being moved from `test/simple` to `tes

[2018-03-03 12:53] joyeecheung opened #19106 "Provide options for assert.strictEqual to display full strings"
When calling `assert.strictEqual()` on long strings (>128 chars) they will be cropped, and if the first different character appear after the 128th character, all we have is `'128 chars of common prefix... strictEqual '128 chars of common prefix...` which is not really debuggable. This is very common when comparing error messages and file contents. Maybe we can provide an environment variable to to

[2018-03-03 12:54] joyeecheung commented on #19106
cc @BridgeAR

[2018-03-03 13:14] BridgeAR commented on #19106
We are on the same page that it is bad if the user can not see the difference. Providing a environment variable does not seem the best way to handle this though.

I thought about adding options to `assert.deepStrictEqual` as well at some point but having solid defaults is still best for now out of my perspective. The output also differs depending on using the strict mode or legacy mode. The strict

[2018-03-03 13:16] BridgeAR commented on #19106
I still believe we should limit the total output with my suggestion but we can raise that limit to e.g. 256 characters in total. Thoughts?

[2018-03-03 13:20] BridgeAR commented on #19106
The downside of this is of course that theoretically the input could also look like this. I am still trying to figure out a way to visualize the difference between such cases. One way is to show colors but that will only work on a TTY that supports it and we can not always expect that.

[2018-03-03 13:26] BridgeAR commented on #19106
[code]

This might be a better alternative?

[2018-03-03 13:27] joyeecheung commented on #19106
We can always try our best in the default but it is important to have a way to dump everything out if we are not clever enough IMO. Otherwise whenever we have edge cases that do not work well we will have to go back to fix assert before getting anything debuggable.

[2018-03-03 13:31] richardlau commented on #19105
https://github.com/nodejs/node/pull/17948?

[2018-03-03 13:31] neoziro commented on #11865
I experienced the same issue, how can I help?

[2018-03-03 13:39] BridgeAR commented on #19106
@joyeecheung so right now the default in strict mode shows the whole line while legacy mode shows a limited output. I suggest to change the output of the legacy mode to be identical with the strict mode for the functions with `strict` in their name (the new output is incompatible with loose comparison).

On top of that I would like to change the default for one line outputs to the one above while

[2018-03-03 13:44] richardlau commented on #19105
Also can see if the matching issue/pull request in the archived v0.x repository looks relevant.

e.g., [test/sequential/test-regress-GH-1697.js](https://github.com/nodejs/node/tree/4bfc03b57dfbf6ac245b56c62b718ccd68e12cd7/test/sequential/test-regress-GH-1697.js) is testing https://github.com/nodejs/node-v0.x-archive/issues/1697.

Unfortunately some (most?) of these originate from before we started

[2018-03-03 14:07] apapirovski commented on #14216
The change made by @BridgeAR recently sort of works around this problem in a different way. I believe this can now be closed.

See https://github.com/nodejs/node/pull/18857 for more info.

[2018-03-03 14:07] #14216 closed

[2018-03-03 14:13] joyeecheung commented on #14102
@jwlbjtu Have you tried to add a 'error' event handler to to request? This [is tested in the code base](https://github.com/nodejs/node/blob/master/test/parallel/test-http-destroyed-socket-write2.js).

[2018-03-03 14:25] joyeecheung commented on #14102
Also, if anyone bumps into this, please try to reproduce the bug with only Node.js built-in APIs (that is, without any third-party modules). It's best if you can provide a test case that also sets up the server locally instead of relying on one that we could not test against.

If you can only provide the client code to reproduce this, please try running the client with the environment variable `NO

[2018-03-03 14:38] nagendrayadav88 commented on #7464
Hello Friend ,
I am facing some problem ,
crypto.js:694
    throw new TypeError(
    ^

TypeError: The "digest" argument is required and must not be undefined
    at pbkdf2 (crypto.js:694:11)
    at Object.exports.pbkdf2Sync (crypto.js:687:10)
    at model.encryptPassword (C:\Users\DEV_Nagu\Desktop\Faelo-food-order-app-MEAN.js--master\server\api\user\user.model.js:154:19)

Please help me ,
Thank y

[2018-03-03 15:17] SirR4T commented on #19060
Hi @addaleax : would like to take a shot at this, though would need some beginner help too.

For instance, `_write` in `lib/internal/http2/core.js` seems to use `LibuvStreamWrap`, whereas in `lib/internal/net.js`, it seems to use `fs.write()`. Is the intent of this issue to change `lib/internal/net.js` 's `_write` to use `LibuvStreamWrap` instead?

[2018-03-03 17:43] bnoordhuis opened #19110 "tls: update root certs in v4.x"
v4.x is nearing its end-of-life.  We should probably update the root certificates one more time.

I'm assigning this to myself but if a collaborator wants to take it up, you are more than welcome to.

[2018-03-03 17:56] richardlau commented on #19110
AFAIK there is no planned release scheduled for v4.x.

cc @nodejs/lts

[2018-03-03 18:02] shelleyp commented on #19079
As I mentioned, security is one good reason to deprecate established functionality. And you have deprecated it, but in the past, you didn't penalize the use—you documented the issues in the API and they were discussed in various articles, etc.

So I'm curious: why the decision to turn this from a documentation into a runtime deprecation? What's happening now that wasn't happening two years ago?

Y

[2018-03-03 22:32] addaleax commented on #19060
@SirR4T Sure! But maybe take a different bit of the code, unless @inidaname says that they aren’t working on it anymore.

Well, the underlying stream isn’t a `LibuvStreamWrap`, it’s an `Http2Stream` – that shouldn’t matter in practice, because both of these C++ classes use a common interface, which is exposed via the `StreamBase` class. (Side note: You probably don’t have to modify C++ for this in

[2018-03-04 01:01] Trott commented on #12956
@daurnimator In your estimation, should this remain open? If so, I imagine we should catalog all the instances and make a tracking issue so that we know when it will be closable. Although I wonder how long that list would be...

[2018-03-04 01:02] Trott commented on #12971
Should this remain open?

[2018-03-04 01:02] Trott commented on #678
Should this remain open?

[2018-03-04 01:06] Trott commented on #8446
@nodejs/http @nodejs/documentation @nodejs/streams It would be great to get a determination on this:

[2018-03-04 01:09] Trott commented on #6456
Is this still an issue? (If so, is anyone working on it? I'll add a `help wanted` label at least if that's the case.) Should this remain open?

[2018-03-04 01:09] daurnimator commented on #12956
It appears we've fixed the most egregious cases (e.g. with 98609fc1c4635f02f8f6ef9dd079207a1204b9a1). However I'm sure there's still a few we forgot.

I think we should close this for now; but perhaps it's something that can be added to code-review guidelines? i.e. "watch out for new code introduced that uses `userobject.apply`"

[2018-03-04 01:09] Trott commented on #12177
@nodejs/child_process

[2018-03-04 01:10] #12956 closed

[2018-03-04 01:11] Trott commented on #445
Should this remain open? If so, is there a suggested path to closure? @nodejs/streams

[2018-03-04 01:16] devsnek commented on #12956
@daurnimator progress is slowly being made, take a look at #17434, #18795 and #18773

[2018-03-04 06:55] isiahmeadows commented on #6456
@Trott Based on some of these recent issues/commits linking to here, I suspect it still is an issue. (I've long had to move on to fix async writes, since it was causing tests to fail.)

[2018-03-04 07:35] shkkmo commented on #11865
I don't really need a whole stack, I really just need the freaking line number for the error. This should be a basic functionality for any coding tool. How does this not work in node?

[2018-03-04 11:06] mcollina commented on #445
@Trott yes. I need to update the tracking list, but I've been silently refactoring parts of core to remove these. The current list is not that big. It's a slow process :/.

[2018-03-04 11:16] #19071 closed

[2018-03-04 11:49] #18887 closed

[2018-03-04 12:12] ojamui opened #19128 "defunct layout in node-debug (node inspector) chrome view"
* **Version**: Node: v7.10.1
* **Platform**: Ubuntu 14.04
* **Subsystem**: Debug

While running nodejs server with the node-debug prompt the Node Chrome Inspector opens up with the correct address, but results in a mal-formed layout, in which all the views are squashed one against the other, and in which no Source code is shown - as depicted in the following screenshot:

![image](https://user-imag

[2018-03-04 12:17] apapirovski commented on #19128
Hi @ojamui, unfortunately Node 7.x is no longer supported. Please upgrade to v8.x for LTS or v9.x for current.

[2018-03-04 12:23] apapirovski commented on #18983
This is only partially address by the commit above. Re-opening.

[2018-03-04 12:24] #18855 closed

[2018-03-04 12:28] joyeecheung commented on #12516
Reopen since the OP is asking about native modules and they are still not documented. Should be fixed by https://github.com/nodejs/node/pull/19112

[2018-03-04 12:29] #18973 closed

[2018-03-04 13:28] Manicqin commented on #17850
Hi, If this issue is still open I can take it.

[2018-03-04 14:15] bluelovers opened #19129 "path.isAbsolute bug?"
* **Version**: v9.7.0
* **Platform**: 10.0.16299.125 win10 x64
* **Subsystem**:

i expected this code will return true, but they return false..............

test.js
[code]

output
[code]

[2018-03-04 14:27] bnoordhuis commented on #17850
@Manicqin You mean adding a `search` option?  Go for it; no one is working on it, AFAIK.

[2018-03-04 14:37] ChALkeR commented on #19129
@bluelovers You have a hidden Unicode symbol U+202A between `'` and `D`.
Removing it fixes your testcase.

[2018-03-04 14:37] bnoordhuis commented on #19129
The path starts with an invisible U+202A a.k.a. the LEFT-TO-RIGHT EMBEDDING character so `path.isAbsolute()` is correct that it's not absolute.

Closing, not a bug.

[2018-03-04 14:37] #19129 closed

[2018-03-04 14:46] bluelovers commented on #19129
@ChALkeR lol, thx, looks like something happen when i copy it

[2018-03-04 15:51] guybedford commented on #18233
@lykkin very interesting feedback. Would you be interested in proposing a postLoad hook further here for Node?

[2018-03-04 16:52] daynin opened #19131 "Change "comma-dangle" rule"
What about changing this rule in eslint config? At the moment it's `only-multiline` which allows **but does not require** trailing commas, and it can create misunderstandings in code review process.

Besides, changing this rule to `always-multiline` will allow us to avoid misunderstandings and make diffs cleaner

[2018-03-04 16:53] apapirovski commented on #19131
There would be too much churn, I think. Also, off the top of my head I'm not even certain how far back V8 support for it goes. Would we be able to backport such a change to v6.x?

[2018-03-04 16:58] daynin commented on #19131
Ok, if we can't use `always-multiline` for some reason, let's use `never` instead `only-multiline`. I think it'll be much better

[2018-03-04 17:01] apapirovski commented on #19131
There's going to be churn either way. Long-term we would likely prefer `always-multiline`, it just might need to be a more gradual transition.

Then again, if V6.x already supports trailing commas then if someone wanted to do that and immediately backport to all active release lines, I wouldn't personally stand in the way.

[2018-03-04 17:06] daynin commented on #19131
@apapirovski v6 does not support trailing commas in function declarations and calls

[2018-03-04 17:07] daynin commented on #19131
So, we can use this rule for objects and arrays only

[2018-03-04 17:13] xaviergonz commented on #19104
@apapirovski The solution looked really promising, but sadly there's some weird interaction between installing an async_hook crashing the rendering of pdf inside an iframe (no idea how it is related at all...).

Is it still a feasible option to expose the internal next tick in process?

[2018-03-04 17:16] xaviergonz commented on #19104
Actually yeah, it seems to be related to the promise hooking, as soon as I commented out enablePromiseHook() it doesn't break the pdf viewer anymore O_o

[2018-03-04 17:17] apapirovski commented on #19104
There's no chance we'll expose `internalNextTick` on the process object.

[2018-03-04 17:23] apapirovski commented on #19104
Also, if async hooks are crashing something within electron, it seems like there are deeper issues that need to be resolved. Seems pretty serious if that's a whole feature that can't be used. But I have literally no electron knowledge so unfortunately I'm useless there...

[2018-03-04 17:35] daynin commented on #19131
@apapirovski
I can change the rule and fix all errors but

How can I do this?

[2018-03-04 17:40] xaviergonz commented on #19104
I agree, I'm just trying to fix a bug I found on electron.

However (just in case) I think I found some possible cause worth looking into, in env.cc:
[code]

the line
``Environment* env = Environment::GetCurrent(promise->CreationContext());```
sometimes returns a broken (non null) pointer, which makes the process crash

however my knowledge of that part of the node code is kind of limited. Is ther

[2018-03-04 17:42] apapirovski commented on #19104
Not sure. Totally possible there's a bug on our end or V8s. I'll ping some folks...

/cc @andreasmadsen @addaleax @ofrobots

[2018-03-04 17:48] addaleax commented on #19104
@xaviergonz Yes. I actually brought this up with @gsathya – the V8 `PromiseHook` API does not expose an opaque pointer argument that could be used to track context for the hook function, like most C++ APIs do, so we have to figure out the pointer to Node’s internal `Environment` based on the V8 `Context`.

For that to work, Node first needs to set an embedder field of that `v8::Context` explicitly

[2018-03-04 17:56] xaviergonz commented on #19104
@addaleax

AFAIK yes, it seems to fail inside iframes, which are actually devoid of node integration features (if that's what you mean)

I'm sorry, you really lost me there. What code would I need to add to check for that in this particular case? (I just got into all this node + electron + chromium internal mess like 24h ago while trying to fix a silly bug :D )

[2018-03-04 18:04] gibfahn commented on #19110
That's true, but if it's for security purposes then we should probably do it anyway.

[2018-03-04 18:04] xaviergonz commented on #19104
If what you mean is what's the value of promise->IsNullOrUndefined(), then it false at crash time.

[2018-03-04 18:05] addaleax commented on #19104
@xaviergonz Sorry, I kinda got it in my head that you were openening this issue because you were part of the electron team? :smile: Anyway, I’m sorry, my reply was kind of written with a different reader background in mind. (I can go into more detail on everything if you’re curious, though.)

Yes, that’s exactly what I mean. It’s good to know that they are devoid of Node features, I *assume* that

[2018-03-04 18:11] xaviergonz commented on #19104
No worries, I don't get paid for any of this :D

Yes, for security reasons, there are ways in electron to disable this isolation, but usually you don't want an iframe loading some random page and having access to the node context.

With your tip I just changed the code to
[code]

and there's no more process crashing anymore, hurray!

[2018-03-04 18:13] xaviergonz commented on #19104
Makes me wonder though, is this fix going to be applied? If so, under node v8, v9 or both?

[2018-03-04 18:32] xaviergonz commented on #19104
Cool, I changed the number to the constant name and created a pull request. However I didn't run any performance tests, is that done by CI?

[2018-03-04 18:36] addaleax commented on #19104
No. :smile: @bmeurer might have some decent benchmarks, afaik he was looking a lot into PromiseHook performance lately.

[2018-03-04 18:40] AndreasMadsen commented on #19104
Regarding `internalNextTick` itself, I think it is worth investigating how expensive it would be to switch to `process.nextTick` and set the `kDefaultTriggerAsyncId` instead. My intuition is that it wouldn't be very problematic and it would remove a lot of almost duplicate code.

[2018-03-04 19:27] bnoordhuis commented on #11865
@shkkmo Your description is lacking but it sounds like a different issue.  File a new bug if you have a no third-party deps test case.

Regarding this issue, I think we should close it out.  It's been discussed by knowledgeable people and if the consensus is that there are good reasons for why things are the way they are, then there's no point in keeping it open.

[2018-03-04 19:30] BridgeAR commented on #11865
Closed due to the mentioned reasons.

[2018-03-04 19:30] #11865 closed

[2018-03-04 19:57] ak1394 commented on #11865
Hm. I'm very happy that this issue has been been discussed by knowledgeable people, but I would appreciate a bit more of a background info. What is the proposed way to get the stack trace in this case?

[2018-03-04 20:02] moberemk commented on #11865
Yeah, this is a massive headache for end users. For those of us who want to use async/await as intended, with native Promises, this requires us to make use of workarounds or hacks to get any useful debug information.

Who's intended to take care of this now? Is it supposed to be a v8 problem? If so, a link to a relevant place to follow up and track this would be incredible. If the solution is "the

[2018-03-04 20:09] johan13 commented on #11865
I know that the Node.js guys want keep everything that can be done in userland out of the core. But to me, generating stack traces seems like an important enough feature to make an exception.

[2018-03-04 20:11] aleksey-bykov commented on #11865
it just shows how immature nodejs really is, it's 2018 hello

On Mar 4, 2018 3:10 PM, "johan13" <notifications@github.com> wrote:

[2018-03-04 20:17] bnoordhuis commented on #11865
@aleksey-bykov You already got a warning and deletion further up this thread.  Don't let it happen again.

[2018-03-04 20:29] TazmanianD commented on #11865
I do want to add a last shout-out for the solution mentioned above that has been working for me. I've been using Node fibers and the `f-promise` library for a short while now and it's been great. It is effectively a solution to this problem and I highly recommend it.

[2018-03-04 20:35] ak1394 commented on #11865
@TazmanianDI well, it might be a good solution for a new project, but for existing codebases 'rewrite using new library' doesn't sound too appealing.

[2018-03-04 20:37] johan13 commented on #11865
I'm using `trace` for debugging. For production the performance penalty is too big, but it does give you resonable stack traces. It works with native Promises.

[2018-03-04 20:42] ryzokuken commented on #5444
I see that commits referencing this issue have been added. Shouldn't this issue be closed?

[2018-03-04 20:42] Janpot commented on #11865
https://mathiasbynens.be/notes/async-stack-traces
I might misinterpret this but it looks like a v8 core dev explaining that performant async stack traces are possible?

[2018-03-04 20:43] ryzokuken commented on #18635
Please close this as appropriate commits have been merged.

[2018-03-04 20:46] #18635 closed

[2018-03-04 20:48] johan13 commented on #11865
@Janpot, it'd ge great if they get around to implementing that! 👍

[2018-03-04 20:54] bnoordhuis commented on #5444
Yes, this is complete.  I'll close.

[2018-03-04 20:54] #5444 closed

[2018-03-04 20:59] moberemk commented on #11865
The `trace` library is a great userland solution, but most of our errors occur in prod environments...I guess that means the tradeoff is performance lag vs knowing where our errors are actually occurring. That's not really a great tradeoff to have to make IMO.

[2018-03-04 21:31] Trott commented on #2600
Is anyone working on this? Should we add a `help wanted` label?

[2018-03-04 21:39] hashseed commented on #11865
We currently have no plans to change the way `Error.stack` works in V8. All Mathias' blog post says is that tracking async stack traces for pure async/await can be done a lot cheaper than Promises in general. However, creating an Error object is expensive already. Following the chain of suspended async functions just makes even more expensive.

I would consider experimenting with an implementation

[2018-03-04 22:12] Battarshuck opened #19136 "Error: spawn C:\Users\Mostafa Ossama\AppData\Roaming\npm\node_modules\create-react-app ENOENT"
I'm using windows 10 pro 64-bit version: 1709

node version: v9.7.1

npm version: 5.6.0

I use both powershell and the git bash (most of the time git-bash)

powershell version: 5.1.16299.248

git version: 2.15.1.windows.2

create-react-app version: 1.5.2

[code]

first thing I run this command to install the create-react-app

`npm install -g create-react-app`
when It finishes everything and then I

[2018-03-04 22:12] ryzokuken commented on #8966
It is fixed already? In that case, should this issue be closed?

[2018-03-04 22:48] inidaname commented on #19060
Hello @addaleax
Thank you for the chance but I guess @SirR4T understand the direction been battling with other projects for sometime will be okay if you can take it up
Go for it.

[2018-03-04 22:56] apapirovski opened #19139 "Investigate flaky parallel/test-http-dump-req-when-res-ends.js"
This recently failed on alpine37-container-x64.

[code]

https://ci.nodejs.org/job/node-test-commit-linux/16829/nodes=alpine37-container-x64/tapResults/

/cc @mcollina @addaleax

[2018-03-05 00:40] gengjiawen commented on #10745
https://github.com/jduncanator/node-diskusage now implements in C++, it also have a Windows implementation.

[2018-03-05 02:18] SeaOceanLiu opened #19141 "Post large file failed when the initialWindowSize of HTTP2 Settings Object set to 6553500"
Version:   9.5.0
Platform: Windows7 x64 / Windows10 x64
Subsystem: node_http2

It is required to post large file (~100MB) to a HTTP/2 server in a project, we implement the HTTP/2 server using node.js v9.5.0.

The speed is too low when comparing to HTTPS when post via HTTP/2 with the default settings. It was the reason the TCP package sending speed is too low after we checked a lot of captured pack

[2018-03-05 02:50] TazmanianD commented on #11865
@ak1394

Aye, you would need to add a new library but if your codebase is already based on `async/await`, the conversion is very easy. It's more-or-less replace `await x` with `wait(x)` and `async function` with just `function`. Similarly with generators. It's almost a syntax difference; you shouldn't have to do any significant rewriting. You'll have to add some `run` calls at your entry points as

[2018-03-05 03:02] a51764579 opened #19142 "nodejs is non-blocking I/O or asynchronize I/O?"
Like this title?

[2018-03-05 04:06] ronkorving commented on #19097
I have started [a thread](https://github.com/orgs/nodejs/teams/collaborators/discussions/4) where collaborators can apply to join teams. Hope it helps.

[2018-03-05 04:33] gireeshpunathil commented on #19142
`async` from the programmer's perspective, while internally achieved through `non-blocking` I/O semantics and primitives.

Hope this helps.

Please raise general questions under https://github.com/nodejs/help repo.