[2020-07-07 04:50] MuYunyun commented on #3232
![image](https://user-images.githubusercontent.com/19354791/86712807-fe52a580-c04f-11ea-8b41-b9d39d19bd1d.png)

I mean the directory in my mac environment is sorted as '1.xx 2.xx 11.xx', and the result of `fs.readdirSync(dirpath)` is   `1.xx 11.xx 2.xx`, so I've to use `fs.readdirSync(dirpath).sort(() => { // do some logic })` to get correct order.

[2020-07-07 05:10] niftylettuce commented on #27916
After deploying the previous fix, the number of occurrences went down drastically.  I also just deployed this https://github.com/forwardemail/forwardemail.net/commit/f931682688d4c38c50568fbccfd433ba209f4ce9

_whack-a-mole_

[2020-07-07 05:57] happyprogamer opened #34235 "i tried to install node.js but not"
i don't have any screenshots :(

[2020-07-07 06:34] KuthorX commented on #34235
Target platform? Node version? Recurrence steps?

[2020-07-07 07:03] niftylettuce commented on #27916
I have yet to see the issue since I have deployed the previous comment, but I will follow up if so.

[2020-07-07 07:18] icaptnbob commented on #29287
I had the same problem and solved it using @steveswork 's solution.

Before applying his solution, this was noted:
I am also using bash (MINGW64) primarily on Windows10.

From Bash, I had the error below, when running "serverless ..." which was installed globally, but not when using command prompt.
C:\Users\{username}\AppData\Roaming\npm/node_modules/node/bin/node: line 1: This: command not found

[2020-07-07 07:18] iamfarooqh opened #34237 "Drop Python 2.7"
**Is your feature request related to a problem? Please describe.**
`apt-get install nodejs` is installing Python2.7 packages as it's dependencies. Please migrate the project to Python3 as the Python2.7 is made officially EOL from 1st January 2020.
I've checked the latest node image from the docker as well, Python2.7 is still there.

If I missed somewhere to check where NodeJS can be downloaded wit

[2020-07-07 07:23] iamfarooqh commented on #34235
if you are working in a containerized environment, just do `docker pull node ` No need to install it manually.
Ref: https://hub.docker.com/_/node/

Or if you are installing in a standalone box, it could be failing because of your proxy issues. Please check the same.

[2020-07-07 09:56] bnoordhuis commented on #34234
Can you explain what is unclear to you? The way it's supposed to be used is this:
[code]

[2020-07-07 10:02] bnoordhuis commented on #34229
Can you check with the latest v12.x, v12.18.2? There have been quite a few http fixes since v12.12.0.

[2020-07-07 10:07] bnoordhuis commented on #34237
There is still a bit of ongoing work but, by and large, the latest versions of Node.js no longer have a dependency on python 2. Search the issue tracker for 'python 2' and 'python 3' for more info.

The version that's installed by `apt-get` isn't maintained by us but by your distro vendor (debian? ubuntu?). It's not under our control.

[2020-07-07 10:07] #34237 closed

[2020-07-07 10:15] bnoordhuis commented on #34192
@haraldrudell I'm going to close this but let me know if you feel there is reason to reopen.

[2020-07-07 10:15] #34192 closed

[2020-07-07 10:20] cermakondrej commented on #34229
@bnoordhuis The issue persists even on v12.18.2

[2020-07-07 10:21] bnoordhuis commented on #34189
I'm not able to reproduce. As an example:
[code]
No warnings.

@sheepa I'm going to close this but I can reopen if you post steps to reproduce.

[2020-07-07 10:22] bnoordhuis commented on #34202
It sounds like this is resolved? I'll go ahead and close out the issue then.

[2020-07-07 10:22] #34202 closed

[2020-07-07 10:23] richardlau commented on #34237
If you're installing a NodeSource distribution, their repository is https://github.com/nodesource/distributions. It look like https://github.com/nodesource/distributions/issues/1072 is relevant.

[2020-07-07 10:24] bnoordhuis commented on #34146
@golaat Can you comment on this?

[2020-07-07 10:33] bnoordhuis commented on #34229
Can you post the stack trace you get with v12.18.2? (Verbatim, please.)

[2020-07-07 10:51] bnoordhuis commented on #12665
@connor4312 You can now: `node --inspect --inspect-publish-uid=http script.js`. See #27741.

[2020-07-07 10:55] cermakondrej commented on #34229
`
Error [ERR_INTERNAL_ASSERTION]: This is caused by either a bug in Node.js or incorrect usage of Node.js internals.
Please open an issue with this stack trace at https://github.com/nodejs/node/issues

    at assert (internal/assert.js:14:11)
    at ServerResponse.detachSocket (_http_server.js:223:3)
    at resOnFinish (_http_server.js:690:7)
    at ServerResponse.emit (events.js:315:20)
    at on

[2020-07-07 11:12] KuthorX commented on #34229
After I comment `_http_server.js` line 234 of master branch and build

`assert(socket._httpMessage === this);`

it print new message, which I think it maybe helpful.

Node version: v15.0.0-pre

[code]

[2020-07-07 11:19] bnoordhuis commented on #34229
The offending line is here:
https://github.com/nodejs/node/blob/412c6180d9c17a57eeed33a70c36df21c188f394/lib/_http_server.js#L223
And that condition should be logically impossible unless `ServerResponse#detachSocket()` is called twice somehow.

I had a quick look through your app but it's a bit too big for me to get a good mental picture of how everything slots together.

In light of @KuthorX's co

[2020-07-07 11:28] cermakondrej commented on #34229
I changed the way how Status response is handled directly in the controller on nestjs.
(https://github.com/randef-com/evidapp/commit/a13fa4a45c2e3fc64681f7bfeef1cca0ab8483e9)
It indeed looks like bug directly in my code (copied from some other repository tbh)

We can close this since it has been resolved as issue on manipulating headers on repsonse object :)

[2020-07-07 11:49] ronag commented on #34219
A stream can also be consumed as an async iterator 😄

[2020-07-07 11:53] iamfarooqh commented on #34237
Thank you @bnoordhuis for the clarification. That explains a lot.

Hey @richardlau , that's super cool. Yes, that issue is relevant to me. :) I was hoping nodesource and node they are all the same. Thanks mate for the guidance. 💯

[2020-07-07 12:02] KuthorX commented on #34229
@bnoordhuis A solution may be adding a flag named `finished` to check if `res` has called `detachSocket`?

[code]

[2020-07-07 12:23] devsnek commented on #34219
@ronag yeah that's the idea. streams will exhibit backpressure so this dropping events thing won't be a problem.

[2020-07-07 12:38] AngelaMay27 commented on #34219
🙂

[2020-07-07 12:39] niftylettuce commented on #27916
Issue came back up, none of the above comments were fixes.  Please ignore.

[2020-07-07 13:18] sheepa commented on #34189
[code]

The following code give me `(node:268029) Warning: Closing file descriptor 19 on garbage collection`

[2020-07-07 13:29] Trott commented on #31089
https://ci.nodejs.org/job/node-test-binary-windows-js-suites/4745/RUN_SUBSET=2,nodes=win2012r2-COMPILED_BY-vs2019-x86/console

[code]

[2020-07-07 13:30] Trott commented on #31089
Should the test gracefully handle `NGHTTP2_ENHANCE_YOUR_CALM`? @nodejs/http2

[2020-07-07 13:40] jasnell commented on #31089
Given what the test is doing, this is most likely hitting up against the max session memory limit. If the test has not accounted for that already, perhaps try increasing that limit significantly and seeing if the failure continues

[2020-07-07 13:46] jasnell commented on #34189
@bnoordhuis... closing this was premature.

This is an issue that was fixed in master in eadc385 but it does not look like the fix was backported to 12.x yet.  See... https://github.com/nodejs/node/blob/v12.x/lib/internal/fs/promises.js#L307-L309

[2020-07-07 13:54] jasnell commented on #34189
@sheepa ... I'll be opening a PR to backport the fix to 12.x soon but it will take a while for that to land in a release. You can work around the issue for now by using the `ftruncate()` method instead using the exact same pattern used in the fix:

[code]

[2020-07-07 13:54] richardlau commented on #34189
eadc385 references https://github.com/nodejs/node/pull/28858 as the PR and that's marked semver-major so it will be ignored by our tooling (e.g. branch-diff) and processes when evaluating what could be backported.

[2020-07-07 13:55] jasnell commented on #34189
@richardlau ... yeah, I spotted that. This one commit is not semver-major. I'm working on a backport PR now for 12.x but github is giving me the Unicorn of Sadness at the moment. Will open as soon as the site becomes responsive again

[2020-07-07 13:57] jasnell commented on #34189
PR opened!

[2020-07-07 14:21] szmarczak commented on #29829
Also I think it would be nice to have `http2stream.bytesWritten`.

[2020-07-07 14:55] gireeshpunathil opened #34241 "Nominating @Hakerh400 as a collaborator"
I would like to nominate @Hakerh400 as a collaborator. They have been active in the project for a while, and super helpful in the help repo, among other areas.

Commits in nodejs/node: https://github.com/nodejs/node/commits?author=hakerh400
Pull requests and issues in nodejs/node: https://github.com/nodejs/node/issues?q=author:hakerh400
Comments on pull requests and issues in nodejs/node: https://

[2020-07-07 14:57] gireeshpunathil opened #34242 "Nominating @HarshithaKP as a collaborator"
I would like to nominate @HarshithaKP as a collaborator. They have been active in the project for a while, and making contributions in many ways:
Commits in nodejs/node: https://github.com/nodejs/node/commits?author=HarshithaKP
Pull requests and issues in nodejs/node: https://github.com/nodejs/node/issues?q=author:HarshithaKP
Comments on pull requests and issues in nodejs/node: https://github.com/

[2020-07-07 15:10] jasnell commented on #34242
SGTM

[2020-07-07 15:11] jasnell commented on #34241
SGTM

[2020-07-07 15:11] addaleax commented on #34098
This has been accepted now 🎉

@danielleadams What’s the best way to reach out to you to schedule an onboarding session?

[2020-07-07 15:11] addaleax commented on #34100
This has been accepted now 🎉

@sxa What’s the best way to reach out to you to schedule an onboarding session?

[2020-07-07 15:12] addaleax commented on #34099
This has been accepted now 🎉

@ruyadorno I’ll send you an email to schedule an onboarding session at the address listed on your profile. Welcome aboard!

[2020-07-07 15:17] addaleax commented on #34121
This has been accepted now 🎉

@rexagod I’ll send you an email to schedule an onboarding session at the address listed on your profile. Welcome aboard!

[2020-07-07 15:28] puzpuzpuz commented on #34242
+1

[2020-07-07 16:20] scimarin opened #34244 "node-gyp compilation fails on static_assert with node v14.5.0"
* **Version**: 14.5.0
* **Platform**: Linux workstation 5.7.7-arch1-1 SMP PREEMPT Wed, 01 Jul 2020 14:53:16 +0000 x86_64 GNU/Linux

### What steps will reproduce the bug?
- Update nodejs to 14.5.0 on your system (was at 14.4.0 before that).
- try to install isolated-vm with: `npm i isolated-vm` . This worked with 14.4.0.
- now greeted with the following error:

`node-aead-crypto@2.2.0 preinstall /

[2020-07-07 16:20] bzoz commented on #31850
Closing per @bartbrzo answer.

[2020-07-07 16:20] #31850 closed

[2020-07-07 16:38] #33468 closed

[2020-07-07 16:39] sxa commented on #34100
(Arranged via twitter DM)

Thanks all!

[2020-07-07 16:45] addaleax commented on #29266
This has been fixed by #29270, so I think this can be closed

[2020-07-07 16:45] #29266 closed

[2020-07-07 17:13] addaleax commented on #15102
@himanshu-singh1995 @jsohan Can you tell whether you are affected by this on Node v12.x or v14.x as well?

[2020-07-07 17:41] jsohan commented on #15102
@addaleax This  effects me on Node v12. Not sure what the root cause it but this error is being thrown from s3.putObject() function when dealing with large strings

[2020-07-07 17:47] addaleax commented on #15102
@jsohan Is there a chance you could share a core dump (+ your exact Node.js version, assuming you’re using the binaries from https://nodejs.org/, or if not, the Node.js executable you are using)? It would be good to know what the JS stack trace is here, but unfortunately the crash output here does not provide that…

[2020-07-07 18:45] danielleadams commented on #34098
Hi @addaleax! My email address is adamzdanielle@gmail.com.

[2020-07-07 19:11] jsohan commented on #15102
Not to sure what a core Dump is but I'm running node v12.14.0 locally . Error was first thrown in production but I'm not sure the exact node version ran there. When I reproduce the bug locally I run the following code:

[code]

And I get the following console output:
[code]
![image](https://user-images.githubusercontent.com/33375323/86830571-da00c400-c063-11ea-9b41-cb04bc71800c.png)

Sorry if the

[2020-07-07 19:21] addaleax commented on #15102
@jsohan Sorry, didn’t know you’re running Windows… in that case, yeah, core dumps or C++ stack traces won’t be available/useful.

Can you try adding this to your code (before you make the request), and run Node.js with `--http-parser=legacy`?

[code]

that should give us the JS stack trace, which is the most useful thing we can get here.

[2020-07-07 19:55] jsohan commented on #15102
@addaleax here's what I got

[code]

![image](https://user-images.githubusercontent.com/33375323/86835434-19321380-c06a-11ea-984b-c5fbb47ee633.png)

[2020-07-07 19:58] addaleax commented on #15102
@jsohan Thanks, that seems quite helpful already – can you expand the stack trace a bit more, e.g. by adding `--stack-trace-limit=100`? That should be even more helpful here. (Thanks for being patient with figuring this out!)

[2020-07-07 20:08] #34069 closed

[2020-07-07 20:10] jsohan commented on #15102
@addaleax  Would be awesome to find out what's going wrong here

![image](https://user-images.githubusercontent.com/33375323/86837036-57303700-c06c-11ea-9eee-eff4698ffb53.png)

[2020-07-07 20:39] addaleax commented on #15102
@jsohan Awesome, thank you! I managed to put together a fully self-contained reproduction based on this :)

The good news is that this already appears to be fixed (at least to some degree) on Node v14.x, so it might just be a matter of backporting the right fix + adding a test.

[2020-07-07 20:46] jsohan commented on #15102
Awesome. Any idea on how I would go about this? @addaleax

[2020-07-07 20:49] addaleax commented on #15102
For a workaround, you might be able to wrap the `self.writeBody(stream, httpRequest);` line in `aws-sdk/lib/http/node.js:102` as `setImmediate(() => self.writeBody(stream, httpRequest));`, I think that would fix this for you. (Unfortunately, there probably isn’t any way to fix this in your code without monkey-patching either the AWS library or Node’s HTTP internals…)

[2020-07-07 21:26] rob4629 commented on #23694
Similarly to @rpuls, I'm able to use `url.parse('relative/uri')` but not `new URL('relative/uri')`... Is there a way we can skip/override the validation for the <Base> URL?

[2020-07-07 21:26] addaleax commented on #15102
Looks like the fix was f663b31cc2aec, which was semver-major, so I’ll open a separate fix instead of backporting that

[2020-07-07 21:30] jasnell commented on #23694
The WHATWG URL parser does not work with relative URL without specifying a base. We cannot deviate from that as it's mandated by the standard.

The way to address this is: `new URL('relative/uri', 'http://example.com/')` where the second argument is an absolute base URL against which the first argument will be resolved.

[2020-07-07 21:41] #34126 closed

[2020-07-07 21:54] rob4629 commented on #23694
Ahh, ok, sorry I misunderstood the significance of that. Thanks for clarifying.

[2020-07-07 21:55] awwright commented on #34234
@bnoordhuis Oof, I see, I was trying to do this with `await`, is that possible? It didn't occur to me you can add properties to the Promise instance itself, and when using `await` you don't even assign it to a variable to use.

Perhaps we can add an example of how to do this with `await`? Would it be reasonable to file a feature request to expose it a different way?

[2020-07-07 22:00] mhdawson commented on #34242
+1

[2020-07-07 22:03] mhdawson commented on #34241
+1

[2020-07-07 22:56] Trott commented on #31089
Hmmm, this comment in the test suggests that the failures may indicate a memory leak.

[code]

[2020-07-08 00:28] bnoordhuis commented on #34234
The promise isn't observable with `await` so the only way to make that work is to also return the `ChildProcess object`. I.e., turn this:
[code]
Into:
[code]
It's not a complicated change (see the diff) but it makes the promisified version diverge from the callback-based version. Some maintainers might find that objectionable.
[code]

[2020-07-08 00:30] golaat commented on #34146
@bnoordhuis Overriding the install path is not enough. Whatever other things the installer is doing still requires you to have elevated access. I pulled down a copy of the code and will take a look. Keep me honest and nag me to figure it out :)

[2020-07-08 01:03] awwright commented on #34234
Unless some userland is doing something really tricky with iterating over the properties, I don't see why that'd be a problem

[2020-07-08 01:10] imcotton commented on #34207
Just want to pitch in my 2 cents, instead of fixed batch size, how about accepting size dynamically?

The syntax is actually quite simple:

[code]

Based on that, Async Generator could also comes in play:

[code]

More realistic examples are like 1) bitcoin block [parser](https://github.com/imcotton/bcb-stream-parser/blob/83d16d2f0efd1df55665b3a306e82c31fbad6fbc/lib/parser.ts#L291), or 2) socket5

[2020-07-08 02:25] Trott commented on #31089
https://ci.nodejs.org/job/node-test-binary-windows-js-suites/4749/RUN_SUBSET=2,nodes=win2012r2-COMPILED_BY-vs2019-x86/console failed too. As with the other one I posted earlier and all the ones before that, it's a rackspace host. I haven't seen this fail on an azure host yet.

[2020-07-08 02:27] Trott commented on #31089
I have been unable to duplicate this in the node-stress-single-test, running things in parallel, etc. This is frustrating....

[2020-07-08 04:21] rexagod commented on #34121
@addaleax Sounds great! Thank you for nominating me, I'm really excited to see what the future brings! 🎉

[2020-07-08 04:27] Trott commented on #31089
The test sets maxSessionMemory to 1 Mb:

[code]

[2020-07-08 06:10] Chintanvpatel opened #34253 "HTTP Client request getting lost for long running API"
* **Version**: v10.16.0
* **Platform**: x86_64 GNU/Linux

### What steps will reproduce the bug?

I'm calling one API endpoint which takes about 15 mins for the response. Here is a sample code, https://gist.github.com/Chintanvpatel/468798f6c321d81cbe4e8cea55aaf394

### How often does it reproduce? Is there a required condition?

Whenever Server takes more than 12 mins to response, at that time I'm

[2020-07-08 06:37] ronag commented on #34207
I'm not sure I see how that differs from my example?

[code]

vs

[code]

[2020-07-08 08:43] danbev commented on #29817
There are two failing tests at the moment:
* [test-crypto-dh-stateless.js](https://github.com/danbev/learning-libcrypto#evp_pkey_ctx_set_ec_param_enc-in-openssl-3x)  asked about this in https://github.com/openssl/openssl/issues/12102#issuecomment-653438152.
* [test-crypto-keygen.js](https://github.com/danbev/learning-libcrypto#evp_pkey_ctx_set_rsa_pss_keygen_md-in-openssl-3x) opened upstream issue

[2020-07-08 09:41] bnoordhuis commented on #34253
I didn't test with the endpoint from the script (don't know if it kicks off some expensive operation) but pointing it to a server that replies after a 15 minute timeout works fine.
[code]
Your script listens for the `'end'` event but you won't get that if the server never terminates the response, or e.g. because it sets a Content-Length header bigger than the actual response body.

I'm going to mo

[2020-07-08 09:53] bnoordhuis opened #34256 "build: clean up tools/v8_gypfiles/toolchain.gypi"
The `linux_use_gold_flag`, `linux_use_bundled_gold` and `linux_use_bundled_binutils` flags are unused and can be removed, our build always disables them.

`tools/gyp_node.py` sets the flags, they can be removed too.

[2020-07-08 10:23] imcotton commented on #34207
Its `read :: number -> Promise<Buffer>` part I'm referring to, the `read` signature.

[2020-07-08 10:24] ronag commented on #34207
Ah, I think that's a different topic though?

[2020-07-08 10:28] #33140 closed

[2020-07-08 10:34] bzoz commented on #33398
Could not reproduce on a fresh Windows install. The problem was probably with the choco package, but it looks like it is now gone. Fell free to reopen if the problem reoccurs.

[2020-07-08 10:34] #33398 closed

[2020-07-08 10:43] imcotton commented on #34207
Sorry I don't quite follow, the topic here been around batch reading methodology and its implementation, no?

[2020-07-08 11:16] bzoz commented on #34165
What is the alias you are using?

Can you also try running some other app, like `notepad \\wsl$\Ubuntu-20.04\mnt\f\test.js`, and see if that works?
Can you see the files in the Explorer - start from `\\wsl$` and see if you can go to the `/mnt/f`?

[2020-07-08 11:21] bzoz commented on #34165
Also - what is the point of running Windows Node.js on WSL? This was designed the other way around, so you could basically develop for Linux using Windows. Like described here: https://code.visualstudio.com/docs/remote/wsl

[2020-07-08 11:42] tutor-point opened #34257 "Issue with create-react-app (src and public will not created with node version v12.18.2)"
An Issue with create-react-app (src and public will not be created with node version v12.18.2)
If I use the older version I can able to create required react app folders

* **Version**:
* **Platform**:
* **Subsystem**:

### What steps will reproduce the bug?

### How often does it reproduce? Is there a required condition?

### What is the expected behavior?

### What do you see instead?

### Addit

[2020-07-08 12:20] Himself65 commented on #34257
Can you show the steps to reproduce? I think maybe it's a react project issue

[2020-07-08 13:01] Spekpannenkoek commented on #34234
You can use `await` with execFile's current function signature _and_ without an extra variable but it'll be a bit messy:

[code]

This is taking advantage of the fact that the left hand side of a (destructed) assignment is whatever is on its right side—the same thing as doing `a = b = c`—`await` receives the return value of `execFile` (the `Promise` instance). The brackets are not optional.

Using

[2020-07-08 13:20] mhdawson opened #34260 "Next 10 years of Node.js"
The TSC has discussed holding a summit/sessions on the "Next 10 years of Node.js" in https://github.com/nodejs/TSC/issues/797 with a summary of potential topics in: https://docs.google.com/document/d/1O4qk5iPN9_8ICJbk4svjnUnDoMcZtoUn8pMSkOHcVDk

We had a kickoff at the collaborator summit at OpenJS World 2 weeks ago. Minutes from the discussion are available here:
 https://docs.google.com/document

[2020-07-08 14:29] RobertDittmann commented on #33266
Hi it seems that it works fine after fix. Thanks !

<img width="578" alt="Screenshot 2020-07-08 at 16 09 35" src="https://user-images.githubusercontent.com/11576433/86931199-1998e000-c138-11ea-92ba-429355cc79ac.png">

<img width="602" alt="Screenshot 2020-07-08 at 16 09 44" src="https://user-images.githubusercontent.com/11576433/86931215-1e5d9400-c138-11ea-8168-9a00c1365050.png">

[2020-07-08 15:23] Nishikoh commented on #34256
Hi, I'd like to tackle that :D

[2020-07-08 16:15] puzpuzpuz commented on #34260
Is it possible to participate in the follow-up for those who wasn't present at the kickoff? I'd like to join.

[2020-07-08 16:34] JayMehta97 commented on #15265
So what is the solution to this?

[2020-07-08 16:41] bnb commented on #34260
SGTM.

[2020-07-08 16:54] bnb commented on #34260
@mhdawson would it be possible to get something on the calendar for this?

[2020-07-08 17:51] srl295 commented on #26880
@mat8913 sorry, been away/job change/etc.

This doesn't sound right. It should be an ID such as Australia/Sydney.

There's a rant in here somewhere.
But what happens in some cases is `cp /usr/share/test/Australia/Sydney /etc/localtime` - what we have to do is compare EVERY file in zoneinfo to see if the contents match /etc/localtime. In this case, we don't know what root to use, ICU may not be che

[2020-07-08 17:51] srl295 commented on #26880
@mat8913 and forgot to mention, thanks for a very clear reproducible case. :+1: :+1:

[2020-07-08 23:14] szmarczak opened #34264 "Add a `stream` event for client-side HTTP2 sessions"
**Is your feature request related to a problem? Please describe.**

[code]

**Describe the solution you'd like** Introduce the `stream` option to HTTP2 client-side sessions.

**Describe alternatives you've considered** None.

[2020-07-08 23:20] szmarczak opened #34265 "Graceful close for HTTP2 sessions"
**Is your feature request related to a problem? Please describe.**

IMO it would be very nice to have `session.gracefullyClose()` so pending streams can be finished but no more streams can be created on this session. I'm developing some sort of a pool (agent?) for `http2`, and I need to gracefully close a session when it becomes a subset of another session.

**Describe the solution you'd like**

S

[2020-07-08 23:45] Trott opened #34266 "fs.open() can keep the event loop open in some cases"
* **Version**: 15.0.0-pre (master branch)
* **Platform**: Raspberry Pi 2 and Raspberry Pi 3
* **Subsystem**: fs

### What steps will reproduce the bug?

See test-fs-open-no-close.js added to known_issues in https://github.com/nodejs/node/pull/34228.

### How often does it reproduce? Is there a required condition?

I strongly suspect the issue is that the filesystem is NFS-mounted.

### What is the

[2020-07-08 23:45] Trott commented on #34266
@nodejs/fs

[2020-07-09 01:28] iandrc commented on #34256
See [#34268](https://github.com/nodejs/node/pull/34268)

[2020-07-09 01:44] tysonclugg commented on #25382
Stumbled on this issue trying to figure out why `child_process.exec` and it's peers use the `spawn` syscall instead of `execve`: https://github.com/nodejs/node/blob/f1ae7ea343020f608fdc1ca77d9cdfe2c093ac72/lib/child_process.js#L237

Given that the `execve` syscall should act such that [the machine code, data, heap, and stack of the process are replaced by those of the new program](https://en.wikip

[2020-07-09 01:49] ronkorving commented on #34266
"should not be held open" I assume?

[2020-07-09 02:58] duongvanba commented on #32978
Hi everyone, any fix or solution for this ?

[2020-07-09 04:00] coreybutler commented on #28945
This appears to be an issue again in 14.x.x. Works in 13.x.x.

cc @cjihrig @addaleax @bnoordhuis @Trott

[2020-07-09 04:37] Trott commented on #34266
Yes, indeed. Fixed. Thanks!

[2020-07-09 05:39] tysonclugg commented on #25382
Further to [my comment above](https://github.com/nodejs/node/issues/25382#issuecomment-655846399), perhaps it would help to consider that using the `exec` syscall in preference to `spawn` is a form of [tail call elimination](https://en.wikipedia.org/wiki/Tail_call), which is useful to limit memory usage.

[2020-07-09 07:13] #33582 closed

[2020-07-09 08:38] aravindanve opened #34274 "stream.pipeline does not wait for the last stream to flush before calling the final callback"
* **Version**: v12.8.0
* **Platform**: macOS 10.15.4 (Catalina)
* **Subsystem**: stream

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?

always

### What is the expected behavior?

Console output should look like:
[code]

### What do you see instead?

Console output actually looks like:
[code]

### Additional information

As noted in

[2020-07-09 09:01] bnoordhuis commented on #28945
@coreybutler Can you file a new issue and link back to this one?

[2020-07-09 10:02] rickyes commented on #34274
Hi, Aravindan. Thanks for your feedback, I am trying to locate this problem, and I reproduced this problem in v14.5.0.

[2020-07-09 10:02] mindplay-dk commented on #33398
I took the trouble of setting up a clean Win 10 Pro (version 2004, build 19041.208) and re-testing with the latest X64 LTS release (`https://nodejs.org/dist/v12.18.2/node-v12.18.2-x64.msi`) and it worked without a hitch. 👍

The only thing I'm wondering is, are the dependency versions locked by the installer, or selected at installation time? If they aren't locked, it's likely others could run into

[2020-07-09 13:15] camillobruni commented on #33384
After some investigation I found the root cause: V8 changed the default page size from 512 KiB (v7.4) to 256 KiB (v7.5)

Some background:
- performance.js measures with `process.memoryUsage()`
- Memory usage in V8 is calculated by iterating over all Pages
- The number of pages doubled in v12.5 since V8 v7.5 reduced the default page size

Take-away:
- bluebird should probably not time the memory me

[2020-07-09 13:43] mlandisbqs opened #34277 ""npm install node@lts" reports 12.18.1 which does not match 12.18.2 listed on website"
* **Version**: v12.18.1
* **Platform**: MacOS 10.15.4 (Darwin WAHVE-WKS04.piholio 19.4.0 Darwin Kernel Version 19.4.0: Wed Mar  4 22:28:40 PST 2020; root:xnu-6153.101.6~15/RELEASE_X86_64 x86_64)
* **Subsystem**: ???

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?

Consistently outputs 12.18.1 every time

### What is the expected beha

[2020-07-09 13:46] CxRes opened #34278 "Rethink `recursive` flag (and design more generally) for `fs.rmdir`"
**Is your feature request related to a problem? Please describe.**
We (@me and @RyanZim) have concerns regarding API direction for `fs.rmdir` flags.

Up till now node's fs API was modeled closely to POSIX. The new flags for `fs.rmdir`, in particular, the `recursive` flag is a break from this tradition. It is especially odd that `rmdir` can delete a file. Other difficulties include not knowing if y

[2020-07-09 14:04] mhdawson commented on #34260
I had put it on the calendar, but turns out only in my calendar. Changed to be in the Node.js calendar now.

[2020-07-09 14:07] mhdawson commented on #34260
@puzpuzpuz definitely.  There are going to have to be a number of sessions to cover all of the areas and we need broad participation.

[2020-07-09 14:16] richardlau commented on #34277
You'll have to report that to the owner of the [`node`](https://www.npmjs.com/package/node) module, https://github.com/aredridel/node-bin-gen according to its npm page.

[2020-07-09 14:16] #34277 closed

[2020-07-09 14:21] richardlau commented on #34278
I have vague recollections that something similar may have been mentioned during the recent OpenJS World Collaborator summit during the Tooling group's session cc @nodejs/tooling

[2020-07-09 14:21] #31279 closed

[2020-07-09 14:21] viyaha opened #34279 "GC is not able to instantly free up memory of request after Response finish ==> possible OOM on sequential requests"
* **Version**: 12.14.1,14.5.0
* **Platform**: Windows 10 64-bit, Linux s6 4.15.0-64-generic #73-Ubuntu SMP Thu Sep 12 13:16:13 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### What steps will reproduce the bug?
[code]

Log:
[code]

### How often does it reproduce? Is there a required condition?
Seems like always, most of the time not in an OOM (less Memory Consumption) but the Request-Object can't be

[2020-07-09 14:22] richardlau commented on #34278
cc @nodejs/fs as well

[2020-07-09 14:25] #31244 closed

[2020-07-09 14:33] #32431 closed

[2020-07-09 14:34] #8569 closed

[2020-07-09 14:35] #29714 closed

[2020-07-09 14:36] #22804 closed

[2020-07-09 14:41] mlandisbqs commented on #34277
In case anyone lands here, moved: https://github.com/aredridel/node-bin-gen/issues/103 per comment.

[2020-07-09 14:53] camillobruni commented on #33384
FYI, to underly my comment about measuring the right thing:
Commenting out the `memMax = Math.max(memMax, process.memoryUsage().rss);` line in `performance.js` makes the benchmark run 3x faster in node v12.5.

[2020-07-09 15:03] rickyes commented on #34264
Refs: https://nodejs.org/dist/latest-v14.x/docs/api/http2.html#http2_push_streams_on_the_client

[2020-07-09 15:30] RyanZim commented on #34278
@CxRes Thanks for opening this, I've been meaning to do this, but didn't make it a priority. I agree with @CxRes on his points, but would just like to add a bit more clarity.

For me the biggest problem with the current system is that `recursive` is a magic flag that does a lot of things:

1. It enables file/directory recursive deletion, similar to `rm -r` (this is consistent with its naming; if t

[2020-07-09 15:36] jasnell commented on #34264
The `'stream'` event is already supported for http2 client sessions.

[2020-07-09 15:50] #29739 closed

[2020-07-09 16:26] coreybutler opened #34280 "process.title value is not respected on macOS (14.x.x+)"
* **Version**: 14.0.0+
* **Platform**: macOS
* **Subsystem**: `process`

### What steps will reproduce the bug?

`process.title = "test"`

### How often does it reproduce? Is there a required condition?

This appears in all 14.x.x releases. It does not appear in 13.x.x (I tested with 13.5.0)

### What is the expected behavior?

The process name should be `test`, which is typically reflected in the

[2020-07-09 16:27] coreybutler commented on #28945
@bnoordhuis sure, ^^

[2020-07-09 16:33] devsnek commented on #34280
The name is changed (you can verify with `ps`, `top`, `htop`, etc) but activity monitor won't show the change. If you want activity monitor to reflect the change you have to use internal apple api hackery.

[2020-07-09 16:36] joliss opened #34281 "node --prof documentation missing from --help output"
* **Version**: v14.5.0
* **Platform**: Linux

The `node --prof` option is [documented on the website](https://nodejs.org/api/cli.html#cli_prof), but it's missing from the output of `node --help`.

[2020-07-09 16:46] mmarchini commented on #34281
I believe that's on purpose since it is a V8 flag and is not officially supported by the V8 team (meaning it could get removed or the behavior could drastically change at any point). Besides, the help message is available via `node --v8-options`.

[2020-07-09 16:51] mmarchini commented on #34281
With that being said, we could explain a bit more and add a link to https://nodejs.org/en/docs/guides/simple-profiling/ to explain how to consume the profile output, although I think we should highlight that this flag is provided by V8 and therefore has less stability guarantees than flags maintained by Node.js.

[2020-07-09 16:52] szmarczak commented on #34264
Ah sorry, I meant **request** streams, not the push ones.

[2020-07-09 17:30] joliss commented on #34281
I think just giving a hint might be useful. I found the `--prof` option on some blog post I found on Google, and it seemed to be doing *something*, but I was very confused when I didn't see it at least mentioned in `--help`.

[2020-07-09 17:45] pimterry commented on #17132
@jasnell I also need to do this. I want to sniff packets, before I decide whether to pass them to the http2 server, or do something else with them. This works in node with http1, so this is a bit disappointing, but I understand that this isn't the common case.

Your suggestion to build a stream-powered socket wrapper sounds good, but it's hard to do reliably. Fortunately, Node actually already has

[2020-07-09 18:00] aravindanve commented on #34274
@rickyes Just checked, I too get this in both 12.8.0 and 14.5.0. Let me know if you need anything else from me.

[2020-07-09 18:09] Trott commented on #29802
Timed out at https://ci.nodejs.org/job/node-test-commit-linux/36018/nodes=debian9-64/console on test-digitalocean-debian9-x64-1:

[code]

[2020-07-09 18:26] mmarchini commented on #34281
`--prof` is a V8 option, not a Node.js option. As a rule of thumb, we don't include V8 options on `--help` since those are not maintained by us*. `--v8-options` prints the help message from V8 with all V8 options. Would a message on top of `--help` like `the list below includes only Node.js options. If you're looking for an option not listed below, check "--v8-options" for options provided by V8`

[2020-07-09 18:26] coreybutler commented on #34280
@devsnek ah yes, I do see it with `ps` in 14.x.x.

It seems to me that the most common process display tools (like Activity Monitor) should either be supported in Node, or the documentation should have a note to help folks understand why it doesn't display, especially since there are differences between Node releases.

Just for reference, [node-mac](https://github.com/coreybutler/node-mac) has pre

[2020-07-09 19:19] Qard commented on #34260
I probably won't make it as I'll be on a family vacation. I assume the session will be recorded for later watching on YouTube?

[2020-07-09 19:43] iandrc commented on #34281
Actually, both options sound good. Though the first one requires less effort. However, the second one will be better in the long run IMO

[2020-07-09 19:59] ahmadawais commented on #34260
I'd love to participate as well.

[2020-07-09 20:05] mmarchini commented on #34260
@mhdawson will the script create issues for those meetings? Would be good to have the agenda for each meeting defined prior to the meeting so folks can come prepared for the discussion? Creating issues like we do for WG meetings is also a good idea to estimate how many folks will be joining.

[2020-07-09 20:23] szmarczak commented on #28985
Closing since Node.js upgraded `OpenSSL` for v10 and v12 which means this error is indeed fixed. I cannot reproduce it anymore. Thanks everyone for involving!

[2020-07-09 20:23] #28985 closed

[2020-07-09 21:50] mhdawson commented on #34260
@mmarchini I've not got anything like that setup for the first meeting. We should discuss how we want to organize, etc. in the first meeting. For example maybe we want a new repo, standing meeting etc which would make that possible.  It's likely a good idea but think we should discuss/get some agreement how we want to work going forward before setting something up.

[2020-07-09 22:27] bnoordhuis commented on #34280
Can you post the output of `uname -a`? It might be relevant.

FWIW, I'm fairly sure certain changes in libuv are responsible, probably libuv/libuv@6e3e422c. If that's the case it's trading a minor regression for a big one and this is the new status quo unless someone figures out a workaround.

[2020-07-09 22:55] bnoordhuis commented on #34279
This has to do with how V8 allocates closures. Specifically, the way you monkey-patch `res.write()` creates a closure (because it uses `_write` from the outer scope) that retains more than just the `_write` variable, because it shares the closure with the `setImmediate()` callback that retains `req` and `res`.

If you rewrite your example, it'll keep running:
[code]
This is longstanding behavior (

[2020-07-09 22:58] bnoordhuis commented on #34234
@awwright You're welcome to submit that diff as a PR, no attribution needed. (A regression test _is_ needed though. :-))

[2020-07-09 23:11] devsnek commented on #34279
FWIW this is an open bug: v8:7610

[2020-07-09 23:35] Trott commented on #29802
I changed the test to track calls and to timeout after two seconds (because it normally takes about 100 milliseconds on the debian9 machine in CI) and it is showing things like 167450 calls to the test's `writeRequests()` function. So the flood is not causing the expected error. This seems like a bug in http2 but I'm not sure what to do next. @nodejs/http2

Here's the modified test I ran: https://

[2020-07-09 23:44] coreybutler commented on #34280
`uname -a` output:

[code]

[2020-07-09 23:48] devsnek commented on #34280
fwiw i don't observe any version of node (10 through 14) changing the title in activity monitor.

[2020-07-10 00:28] Trott commented on #34278
cc @bcoe

[2020-07-10 01:11] awwright commented on #34234
@Spekpannenkoek That's quite impressive, I'll have to remember that

@bnoordhuis It's on my todo list, I'll see about getting an example or two in the documentation too. Thanks!

[2020-07-10 01:11] #34234 closed

[2020-07-10 03:11] Power-tile opened #34285 "Weird Behavior of let: letting a variable to itself while defining the variable renders variable as existed"
* **Version**: 12.12.0
* **Platform**: 10.0.18362 Build 18362 Windows 10, 64 bit
* **Subsystem**: None, executed in powershell

### What steps will reproduce the bug?

[code]

Execution process in Powershell:
![image](https://user-images.githubusercontent.com/44731563/87112026-6f3acd00-c29d-11ea-91d0-0983afeb468a.png)

### How often does it reproduce? Is there a required condition?

I tried severa

[2020-07-10 03:29] devsnek commented on #34285
Duplicate of #34285

[2020-07-10 03:29] #34285 closed

[2020-07-10 03:34] Power-tile commented on #34285
#34825 is this issue. Could you clarify which is the original issue that was duplicated?

[2020-07-10 03:46] devsnek commented on #34285
oops.

[2020-07-10 03:46] devsnek commented on #34285
Duplicate of #8309

[2020-07-10 03:50] iansu commented on #34278
I made a PR #28208 to add `rimraf` to Node.js as part of the Tooling Group. Originally we had it in a new module and named the function `rmtree`. The new module idea was not well received so I moved it into the `fs` module under the same name.

I was opposed to adding it as a flag to `rmdir` and I agree that it is confusing that `rmdir` also deletes files. In the shell `rmdir` and `rm` are two dif

[2020-07-10 04:07] radu-matei opened #34286 "Proposal: add public API for WASI invoke"
Currently, the experimental WASI support only allows calling the `_start` and `_initialize` functions from a module.
Is the ability to invoke arbitrary exported methods something that should be accessible through the WASI object?

For a module that exports a function:

[code]

Invoking the exported `add` function could be done in the following way:

[code]
(A possible work in progress implementati

[2020-07-10 04:12] devsnek commented on #34286
you would just call wasi.initialize and then instance.exports.add()

[2020-07-10 04:15] radu-matei commented on #34286
Ah, that makes sense.
Thanks!

[2020-07-10 04:15] #34286 closed

[2020-07-10 04:37] boneskull commented on #34278
a few thoughts:

- mkdir recursive also deviates from the 1:1 syscall.

- an `allowRetries` flag which defaults to true on win32 seems reasonable

- if a user expects the directory to already be empty, then the recursive flag isn’t needed. I know you know this, but I can count the times in my long and uneventful career when I’ve needed to remove a tree of empty directories on one hand. that’s the

[2020-07-10 05:39] AdityaAnand1 opened #34290 "How to globally set --es-module-specifier-resolution=node?"
I'd rather not clutter my package.json scripts by adding `--es-module-specifier-resolution=node` dozens of times, for each script.

Is there a way to enable this flag globally for all `node *` commands?

[2020-07-10 05:42] devsnek commented on #34290
You can use the `NODE_OPTIONS` environment variable: https://nodejs.org/api/cli.html#cli_node_options_options

[2020-07-10 05:47] Aschen commented on #33384
Thanks you very much @camillobruni for all these explanations!

[2020-07-10 07:04] CxRes commented on #34278
@boneskull Thanks for chiming in!!! Just to clarify a couple of points in response to your thoughts:

+ Re file deletion: its (at least in my mind) counter-intuitive that `fs.rmdir` deletes a file at the root (not that it deletes files inside some directory along with that directory) ie `fs.rmdir` runs successfully to delete no directory at all. Its more confusing than wrong per se!

+ I agree wit

[2020-07-10 07:12] Power-tile commented on #34285
Thanks for the correction, but after reading #8309 I think these are two different errors. #8309 mentioned that this problem also exists in Chrome console, and I believe the bug was also submitted to Chrome's website. However I tested both on Chrome and Microsoft Edge (which now uses a Chromium core as well), and both of them work as intended:
![image](https://user-images.githubusercontent.com/447

[2020-07-10 07:40] Leodau commented on #33384
@ryzokuken

[2020-07-10 08:28] mdeknowis opened #34292 "Allow to disable the default ca trust completely"
**Is your feature request related to a problem? Please describe.**
Currently there are only two options regarding the default ca trust used by nodejs

* `--use-bundled-ca` (default) - Using the hardcoded ca trust: <https://github.com/nodejs/node/blob/master/src/node_root_certs.h>
* ` --use-openssl-ca` - Using the openssl default ca trust

So there is no out of the box chance to disable the default

[2020-07-10 08:33] mdeknowis opened #34293 "Allow to trust certificate without adding full chain of trust"
**Is your feature request related to a problem? Please describe.**

Currently, you have to put the full chain of trust, if you want to trust one certificate.

For example, if you have that chain of trust

* CertHost: valid for *.myhost.com, signed by CertIntermediate
* CertIntermediate: signed by CertRoot
* CertRoot: self-signed by CertRoot

Currently you have to add all three certificates to the

[2020-07-10 08:40] bnoordhuis commented on #34292
It's not a difficult change to make but I think it needs more justification.

With TLS, you need to trust _something_. Completely disabling the default CA store means passing `{ ca: [ /* ... */ ] }` explicitly everywhere.

When/why would you want that and is using a preload module (with `-r`) that sets `https.globalAgent.options.ca = []` an acceptable substitute?

[2020-07-10 08:42] bnoordhuis commented on #34293
Chain verification is done by openssl and I'm unsure whether openssl supports what you're asking.

[2020-07-10 08:48] bnoordhuis commented on #34280
Libuv's Activity Monitor integration was last tested on macos 10.14. Apple has a habit of breaking the interface with every new release so it's quite possible that it no longer works.

I'm not planning to investigate and I'm reluctant to take patches because every change to that subsystem seems to cause regressions, just check out `git log src/unix/darwin-proctitle.c`.

[2020-07-10 08:49] bnoordhuis commented on #34279
@viyaha I'm going to close this as a wontfix on our side but I can move it to nodejs/help if you have more questions.

[2020-07-10 08:49] #34279 closed

[2020-07-10 08:50] gengjiawen commented on #34201
cc @nodejs/i18n

[2020-07-10 08:51] bnoordhuis commented on #34257
Closing. Incomplete, probably not our bug, and no follow-up.

[2020-07-10 08:51] #34257 closed

[2020-07-10 08:55] bnoordhuis commented on #34285
@Power-tile It's the same bug but Chromium has since migrated to an alternative REPL mode that doesn't have this issue. Node.js will too (probably), someday, once the quirks have been ironed out.

[2020-07-10 09:05] mika-fischer commented on #34279
@bnoordhuis This is interesting info, thank you.

However, I still fail to understand why the GC cannot reclaim the memory. Client requests are serial and after one client request is finished surely all work scheduled by `res.write` and `res.end` is done and nothing should still have a live reference to anything regarding the request or response in the server. So why does the GC fail to free that

[2020-07-10 09:07] ryzokuken commented on #34201
cc @nodejs/platform-windows

[2020-07-10 09:14] Power-tile commented on #34285
Cool, thanks :D

[2020-07-10 10:12] bnoordhuis commented on #14537
I'm going to close this out because it's unlikely to happen, not at this point. The cutoff was over a year ago.

[2020-07-10 10:12] #14537 closed

[2020-07-10 12:51] benjamingr commented on #33384
Hey, I totally missed this issue - cool investigation I'll take a look at the bluebird issue.

Note that:
 - V8 has their own forked version of the bluebird benchmark (which I think @bmerurer made?), IMO it's slightly worse (because it doesn't measure the overhead of promisification) but it's probably more maintained.
    - These benchmarks haven't been updated on the bluebird side in ~5 years and

[2020-07-10 13:22] Trott commented on #34278
Not saying it's wise or unwise, or even something we've continued to actually do, but the `fs` docs do say:

manner closely modeled around standard POSIX functions.

[2020-07-10 13:25] mdeknowis commented on #34292
@bnoordhuis I think `-r https.globalAgent.options.ca = []` could be a sufficient solution.
We are using currently `NODE_EXTRA_CA_CERTS`. As our customers need full control over the trust store, we have to disable the default trust store and have to ensure, that only the cert are allowed, which are configured by the Op team.

[2020-07-10 13:31] coreyfarrell commented on #34278
In the case of the default options I think this is still (mostly?) true.  I don't have any objection to accepting an option to deviate from the normal mode of operation.  I also don't object to moving recursive functions to separate names, though this will increase the number of functions exported by `fs` and `fs/promises`.  One concern I have is that when we propose recursive variants of addition

[2020-07-10 13:54] pimterry opened #34296 "Undeprecate _stream_wrap"
**Is your feature request related to a problem? Please describe.**

_stream_wrap was [recently deprecated](https://github.com/nodejs/node/pull/26245) because it "doesn't have a reasonable use outside of node".

I think I have two reasonable use cases, and I'd really like this to be undeprecated. As far as I can tell it's going to exist internally anyway, since it's actively used by TLSSocket, it w

[2020-07-10 13:59] RyanZim commented on #34278
`rmdir` as it stands is not problematic for fse; the discussion just clarified in my mind that the `recursive` option is a clumsy, unintuitive design, for _anyone_ using Node.

I didn't highlight this well in my earlier post; to be perfectly clear, you can delete a file with `fs.rmdir(file, { recursive: true })`. Now that's unintuitive; but you're incentivised to write code like that, because `fs.

[2020-07-10 15:27] boneskull commented on #34278
@trott I stand corrected. maybe that should be removed as it’s no longer true.

there’s unfortunately nowhere else to put these recursive  functions as adding a new builtin module (which is what we originally wanted to do, I think, and @iansu mentioned) would be a nonstarter for unrelated reasons.

[2020-07-10 15:35] srl295 commented on #34201
@targos have not heard of this, may be good to file an ICU bug upstream at https://unicode-org.atlassian.net //
@jefgen

[2020-07-10 15:35] srl295 commented on #34201
may have to fall back to `.c` file builds if the assembly generayion is getting confused

[2020-07-10 15:40] Trott commented on #34296
@nodejs/streams

[2020-07-10 16:03] coreybutler commented on #34280
Given the history and the unstable nature of Apple's releases, perhaps it's better to just document/cite this as a known behavior and move on.

[2020-07-10 16:05] touchnewshiva opened #34299 "Giving incorrect output while manipulating large number input"
* **Version**:12.8.1
* **Platform**:Windows 10 Pro 64-bit
* **Subsystem**:

### What steps will reproduce the bug?

       var aa = 125029734092369566;
       var bb = 2;
       var sum = aa + bb;
       console.log(sum);

### How often does it reproduce? Is there a required condition?
This issue started from 18th digit onwards.

### What is the expected behavior?
125029734092369568 or Crossed the

[2020-07-10 16:14] bnb commented on #34260
@mhdawson this may be a good use for Discussions over Issues (you can see an example of Discussions on the [Next.js repo](https://github.com/vercel/next.js/discussions), though their usage is significantly more advanced than ours would be). If we want to get that enabled in another repo or in nodejs/node itself, happy to do the work to make that happen.

[2020-07-10 16:47] KungFuJesus commented on #30304
I just ran into this same problem building 14.5 on Big Endian PowerPC.  I have a stack trace and core dump, but the lack of debug symbols admittedly might be less useful.  The last function on the call stack is what didn't resolve, and it seems to in "InvokeParams".

[code]
Let me know if the ~50MB core might be useful to you.

[2020-07-10 17:50] kapouer commented on #30304
Hi @KungFuJesus the problem you see is probably not related to this issue.
nodejs 14.4.0 [builds on ppc64](https://buildd.debian.org/status/fetch.php?pkg=nodejs&arch=ppc64&ver=14.4.0~dfsg-2&stamp=1592595341&raw=0) on debian, however it did require this patch to be applied:
https://github.com/nodejs/node/pull/33866

[2020-07-10 18:11] KungFuJesus commented on #30304
Applying the patch now and trying it out.  It looks like you may be right but it takes a while to get there on a Quad G5.  For the record I'm not expecting node to work after this, there are holes that require POWER5 for the JIT to work that I'm aware of, but this will at least get me further.

[2020-07-10 18:25] srl295 commented on #32819
v8 has the same behavior as node.

[2020-07-10 19:50] ronag commented on #34274
are you able to simplify the repro case?

[2020-07-10 20:05] devsnek commented on #32819
[code]

[2020-07-10 20:25] mcollina commented on #34296
This is really outside of the streams domain.

[2020-07-10 20:28] slifty commented on #3103
Did the documentation change again?  This behavior seems completely opaque according to the current documentation....

I'm going to make a new issue about this actually.

[2020-07-10 21:13] iansu commented on #34278
We were just discussing this issue in the Tooling Group meeting today. We do agree that being able to use `fs.rmdir(file, { recursive: true })` to directly delete a file seems like a bug. That's something that should be easy to fix. If we were to do that would that alleviate some or all of the concerns people have raised here?

[2020-07-10 22:29] tiagonapoli opened #34301 "stream.finished failing to detect a destroyed ServerResponse"
* **Version**: v14.5.0
* **Platform**: Linux - kernel 5.4.0-40-generic
* **Subsystem**: Stream utils (?)

### What steps will reproduce the bug?

`stream.finished` is failing to detect a closed `ServerResponse` in the case the request is aborted (response emits `close` but doesn't emit `finish`).

This is happening when `stream.finished` is called with an already closed `ServerResponse`. I thought

[2020-07-11 00:42] RyanZim commented on #34278
Correction on my earlier post, I said:

This is partially untrue. Retry logic is off by default (unlike `rimraf`'s behavior), by virtue of `maxRetries` being `0` by default. However, the `maxRetries` & `retryDelay` options have no effect without `recursive` enabled, so retrying without `recursive` is impossible.

[2020-07-11 01:06] boneskull commented on #34278
if unlink can fail for the same reason on win32, perhaps that would want a maxRetries flag too. but I don’t see anything particularly heinous about an option that needs a second option to do anything. silently ignoring it is maybe a problem, but it just depends how much type validation node wants to be doing.

[2020-07-11 01:07] bcoe commented on #34278
@RyanZim @CxRes I think it would be fairly disruptive to remove the `recursive` option at this point as, although listed as experimental in the docs, this feature has been in the wild for several node versions and I expect has quite a bit of adoption.

We originally explored introducing [rimraf as its own method](https://github.com/nodejs/node/pull/28208) and could not reach consensus, @cjihrig un

[2020-07-11 01:18] RyanZim commented on #34278
Started composing this before @iansu commented; hence the slight disconnect.

***

I watched the discussion about this at the @nodejs/tooling meeting today (recording: https://www.youtube.com/watch?v=ndCLeX40g6Q); a few comments:

1. The point was brought up about why this was not raised sooner. I was not aware of the movement to add `recursive` to `rmdir` while it was in progress, had I been awar

[2020-07-11 01:53] Trott commented on #34296
OK, thanks. In that case, I guess maybe I'll try pinging the people who authored/approved the deprecation in the first place.

cc @sam-github @BridgeAR @mcollina @jasnell @addaleax @tniessen

[2020-07-11 02:20] arpitdalal opened #34304 "Math.pow() gives wrong answer for almost every whole number"
* **Version**: 14.5.0
* **Platform**: 64-bit Windows and Linux
* **Subsystem**:

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?
This only happens with Math.pow() and not with Math.sqrt() or Math.cbrt()

### What is the expected behavior?
The answer to the power of 1/3, 1/5, 1/6, 1/7(tested) is wrong (answer in double instead of a who

[2020-07-11 02:32] devsnek commented on #34304
There is not technically any bug here. You can open an issue about it on https://bugs.chromium.org/p/v8/issues/list, but it will most likely be closed as wontfix. If you're specifically looking for cube roots, and not any random power of `1/n`, then you can use `Math.cbrt` which will give more (but not completely) accurate results.

[2020-07-11 02:46] arpitdalal commented on #34304
@devsnek Thanks, but I already have opened this issue on v8. I wanted to use the random `1/n` syntax but no luck.

[2020-07-11 02:51] devsnek commented on #34304
v8:10697

[2020-07-11 02:51] #34304 closed

[2020-07-11 03:07] Trott commented on #29802
The timeouts we're seeing now are different than the issue that was first reported (which appears to have been fixed). I did a bisect using CI today (since it's easy to make this happen in the stress tests) and came up with efefdd668dece956c4f75039c77fb0c40dfdd3c8 as the first commit where the problem was introduced. I'll do some more tests to confirm, but if someone knowledgable wants to take a l

[2020-07-11 05:13] Trott commented on #31089
I've figured out how to replicate this in CI. I've applied 5a8e165f6d41b813e2b09c91472d16d6d6469994 which makes changes to `vcbuild.bat` such that it only runs this test a bunch of times, and then I run node-test-commit-windows-fanned jobs against the branch with that patch applied.

Here's the master branch with that patch applied showing many failures: https://ci.nodejs.org/job/node-test-commit-

[2020-07-11 06:42] milankrushna commented on #18441
Thanks Tniessen,

[2020-07-11 06:52] CxRes commented on #34278
I was listening to the @nodejs/tooling meeting as well. One suggestion, that seems to have been not discussed is the possibility of splitting `fs` into namespaces (rather than staring an entirely new module). For example, you may have a `fs.tree` that keeps together recursive functions (even if a few functions get aliased for legacy reasons).

Also what would be a good way to get in touch with the

[2020-07-11 07:01] Trott commented on #34278
One possibility is to open an issue in the https://github.com/nodejs/tooling repository.

[2020-07-11 07:10] Trott commented on #31089
Argh, I can't get 18a1796e3cbcf2bcf5303d21de7ff5a2a6fa3bb1 to compile in CI so I can't test it. Here's the result: https://ci.nodejs.org/view/All/job/node-compile-windows/34942/  Any chance someone knowledgable from @nodejs/build and/or @nodejs/platform-windows can take a look and maybe make a suggestion for getting it to compile? I guess something changed with how we build in CI at some point?

I

[2020-07-11 08:51] bnoordhuis commented on #34280
@coreybutler Sounds reasonable. Want to open a PR?

[2020-07-11 08:55] bnoordhuis commented on #34292
@nodejs/crypto Thoughts? For https there's a simple workaround, but not e.g. `tls.connect()`.

[2020-07-11 09:25] aravindanve commented on #34274
@ronag here you go:

[code]

Prints:
[code]

[2020-07-11 10:15] teh-mICON opened #34309 "Nested worker threads fail to produce meaningful error messages"
* **Version**: v12.16.1
* **Platform**: linux x64
* **Subsystem**:

### What steps will reproduce the bug?

Create a project with nested worker threads and throw an error in the nested thread.

( https://github.com/teh-mICON/ts_worker_error has this setup, ignore `.ts` files. )

### How often does it reproduce? Is there a required condition?
Always.

### What is the expected behavior?
Show proper

[2020-07-11 10:40] rickyes commented on #34274
I think I'm getting close to the problem and check again tonight.

[2020-07-11 13:17] songdongsheng opened #34311 "http2 crash on h2spec check"
* **Version**:
[code]

* **Platform**:

[code]

### What steps will reproduce the bug?
1. Just run a demo http2 server

[code]

2. run h2spec

- https://github.com/summerwind/h2spec/releases/tag/v2.5.0

[code]

3. nodejs crashed

[code]

### How often does it reproduce? Is there a required condition?

It crashed every time.

### What is the expected behavior?

h2spec should be passed all tests.

A

[2020-07-11 16:12] mcollina commented on #34311
cc @nodejs/http2

[2020-07-11 18:58] Trott commented on #31089
Turns out I don't need to compile that commit because a later commit (415bba) built just fine and stress test was good, so I'm going to bisect and find the bad commit now....

[2020-07-11 20:05] lpinca commented on #34301
@nodejs/streams

[2020-07-11 20:11] ronag commented on #34301
Server response is not a real stream and doesn’t have the exact same semantics. finished on destroyed stream only works on “modern” streams since v14.

I’ll see if we can add special handling for server response.

[2020-07-11 21:07] ronag commented on #34274
Simplest repro:

[code]

[2020-07-11 21:27] ronag commented on #34274
This is actually correct. `pipeline` does not wait for the readable side of the last stream to complete. `flush` acts on the readable side, hence the observed behavior.

[2020-07-11 21:31] Trott commented on #31089
Bisected! The problematic commit is 51ccf1b5e90540a11c33866da15d4a7f52d7fddb.

[2020-07-11 21:39] ronag commented on #34274
This is actually an unfortunate case of `Transform` streams using `'prefinish'` instead of `_final`.

I don't think this is fixable without breaking something else.

See notes [here](https://github.com/nodejs/node/blob/master/lib/_stream_transform.js#L102-L106).

We could have to change `Transform` to properly use `_final` to fix this.

@mcollina WDYT?

[2020-07-11 21:51] ronag commented on #34274
I think I found a solution.

[2020-07-12 01:08] Trott commented on #29802
@ronag In https://github.com/nodejs/node/pull/31806, you wrote:

Does the test timeout problem in this issue seem a likely candidate for a similar bug that may have been missed because it only happens sometimes?

[2020-07-12 01:36] Trott commented on #29802
Setting `allowHalfOpen: true` for the client fixes the problem. I don't think that invalidates the test or anything, but would like someone else's opinion. I'll open a pull request.

[2020-07-12 09:24] rickyes opened #34321 "Running benchmarks tests on CI"
As stated in https://github.com/nodejs/node/pull/34004, can we run benchmark tests on the CI to ensure the stability of the benchmark ？It is possible to run benchmarks for the relevant modules only.

Refs: https://github.com/nodejs/node/pull/33928#issuecomment-649902212

[2020-07-12 09:25] rickyes commented on #34321
/cc @Trott @BridgeAR

[2020-07-12 09:41] mmarchini commented on #34321
This might've been suggested before. The biggest problem is that most benchmark suites we have today will take hours to run on default parameters, and tweaking the parameters might reduce the accuracy of results. A daily or weekly run might suit our current benchmarks better.

Not saying we shouldn't do it (I think we should), but we might need an alternative to our current benchmarks if we want t

[2020-07-12 09:43] mmarchini commented on #34321
Oh, I totally misread the issue, you're talking about the benchmarks tests, which are faster than the benchmarks (although still kinda slow), right?

[2020-07-12 09:48] rickyes commented on #34321
Yes, as far as I know some of the current module benchmarks can be unstable and cause crashes. if we could implement this proposal, we might try to avoid this problem as much as possible.

[2020-07-12 09:49] rickyes commented on #34321
I've changed the title.

[2020-07-12 12:03] uwinkelvos opened #34322 "Severe performance regression with object spread operator introduced in v12.18.1 and v14.5.0"
* **Version**: v12.18.1, v12.18.2, v14.5.0
* **Platform**: Linux lalala-nb 5.7.7-arch1-1 #1 SMP PREEMPT Wed, 01 Jul 2020 14:53:16 +0000 x86_64 GNU/Linux
* **Subsystem**: v8

### What steps will reproduce the bug?
When using the object spread operator to "join" two objects, the performance has decreased by ~ factor 20. This only happens with objects that have at least 50 keys and the keys of the fi

[2020-07-12 12:24] addaleax commented on #34322
You might want to report this at https://bugs.chromium.org/p/v8/issues/list as well.

[2020-07-12 14:40] danrzeppa opened #34324 "Function with Large Number of Else-Ifs fails to compile/run"
* **Version**: v14.5.0
* **Platform**: Windows 10 Pro 64-Bit Version 10.0.18363 Build 18363
* **Subsystem**:

### What steps will reproduce the bug?
If a file contains a function with about 2000 else-if statements it will not run and node will throw an error. Because of the number of lines in the sample function, I've included it at the bottom of this issue.

### How often does it reproduce? Is th

[2020-07-12 15:32] Trott commented on #34321
I opened a PR to do this 2 days ago: https://github.com/nodejs/node/pull/34288

It passes in CI everywhere except the Raspberry Pi devices. One failure is compilation related. (We don't compile on the Pi devices because it would take forever. An addon required for a benchmark isn't being compiled by our process. Not sure if we'll add it or simply skip the test.) The other failure is fs-related and

[2020-07-12 15:34] devsnek commented on #34324
I think the problem is that you are exceeding the native stack limit during parsing due to recursion:

[code]

[code]

[2020-07-12 15:41] rickyes commented on #34321
To this +1 , perhaps we could split into two PRs, the first skipping the benchmarking for Raspberry Pie first, and then consider how to add benchmarking for Raspberry Pie later on.

[2020-07-12 19:21] tecrajeshXactly opened #34326 "HPE_INVALID_HEADER_TOKEN in 8.17.0"
* **Version**:  Node js : 8.17.0
* **Platform**:  UNix VM 3.10.0-514.el7.x86_64
* **Subsystem**:

### What steps will reproduce the bug?

router.get(
  '/',
  asyncHandler(async (req, res, next) => {
    const { headers, originalUrl } = req;

    const options = {
      headers,
      url: buildFullUrl(originalUrl),
    };
    const { status, response } = await passThroughRequest.get(options);

[2020-07-12 21:53] szmarczak commented on #14570
What do you exactly mean? @streamich's reason is very legit.

[2020-07-12 21:59] devsnek commented on #14570
if a specific api is needed it would more constructive to discuss exposing that specific api.

[2020-07-12 23:07] marian2js opened #34328 "Memory leak on Promise.all with async/await"
* **Version**: 14.5 / 12.18
* **Platform**: macOS Catalina / MacBook Pro 2019 (Darwin 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64)

### What steps will reproduce the bug?

[code]

Output:

[code]

### How often does it reproduce? Is there a required condition?

The issue is always reproducible, I tried it in node 14.5 and 12.18.

#

[2020-07-13 02:22] namnq commented on #23892
anyone?

[2020-07-13 08:37] ts346 opened #34332 "Node.js and npm download not matching"
On the website, it says for the latest version of node (14.5.0), npm version 6.14.5 will be included. But, when checking on my command prompt, I only have npm versoin 5.6.0. It is not compatible with this new version and thus I am experiencing difficulties

* **Version**:
* **Platform**:
* **Subsystem**:

### What steps will reproduce the bug?

### How often does it reproduce? Is there a required

[2020-07-13 08:49] #20908 closed

[2020-07-13 09:57] bzoz commented on #32999
Libuv was updated: https://github.com/nodejs/node/pull/34187, it includes the fix for this issue.

[2020-07-13 09:57] #32999 closed

[2020-07-13 10:00] chacent opened #34333 "bad option: --experimental-quice"
why  --experimental-quic not usable?

[2020-07-13 11:10] bnoordhuis commented on #34328
I can't reproduce with master - memory remains stable - so this is likely a bug that's been fixed but not released yet.

cc @nodejs/async_hooks - does any of you know what commit / PR contains the fix?

[2020-07-13 11:11] bnoordhuis commented on #34333
It's a build-time option, not a run-time option: `./configure --experimental-quic`

[2020-07-13 11:13] bnoordhuis commented on #34326
The v8.x release line is out of support. I'm going to close this.

If you experience the same problem with v10.x, v12.x or v14.x, please open a new issue.

[2020-07-13 11:13] #34326 closed

[2020-07-13 11:22] #34290 closed

[2020-07-13 11:29] bnoordhuis commented on #34324
It's like Gus says and it's ultimately a V8 limitation, not a node limitation.

Can you file an issue with them over at https://bugs.chromium.org/p/v8/issues? We can probably cherry-pick any fixes they commit if that helps you out.

You can work around it by starting node with `node --stack_size=2048` but note that `--stack_size=...` does _not_ set the stack size, it merely informs node/v8 how big

[2020-07-13 11:29] #34324 closed

[2020-07-13 11:32] bnoordhuis commented on #23892
I'm unclear on what exactly is being asked here. Can someone spell it out for me?

[2020-07-13 11:40] tecrajeshXactly commented on #34326
Hi I am facing same  issue In 12.13.0 also

On Mon, 13 Jul 2020 at 4:43 PM, Ben Noordhuis <notifications@github.com>
wrote:

--

<https://www.xactlycorp.com/resources/guides/forrester-consulting-unleash-your-growth-potential-continuous-planning?utm_source=email&utm_medium=signature&utm_campaign=guide_forrester-consulting-unleash-your-growth-potential>

[2020-07-13 11:42] huangsijun17 commented on #23892
There are two types of remaining memory in the Linux, `available` and `free`.

`os.freemem()` should be `available`, not `free`.`available` contains the pre-loaded programs of the Linux.

[2020-07-13 11:45] ashokak122 commented on #25132
'npm install natives@1.1.6' works for me also.

[2020-07-13 11:50] atesztoth opened #34334 "doc: Worker Threads - Worker: recieveMessageOnPort"
# 📗 API Reference Docs Problem

## Location

Code example

Affected URL(s):
- https://nodejs.org/api/worker_threads.html#worker_threads_worker_receivemessageonport_port

## Problem description

I think it should be `port1` instead of `port2` in the docs since that was the port used for message transfer.

Original:

[code]

Updated:
[code]

---

- [ ] I would like to work on this issue and submit a

[2020-07-13 12:02] addaleax commented on #34334
The current example is correct (and you can verify that the output matches by putting it in a file and running it) – `MessagePort`s always come in pairs, and what is sent on the one side is received on the other side, i.e. messages posted to `port1` will end up being received at `port2`.

[2020-07-13 12:04] atesztoth commented on #34334
Thanks, checked it! I am closing the issue then.

[2020-07-13 12:04] #34334 closed

[2020-07-13 12:17] bnoordhuis commented on #23892
Okay, thanks - I understand.

The biggest problem I see with that change is correctness: `MemAvailable` is approximate. That might be good enough if it was a conservative lower bound but I don't think it is.

If you use it as a heuristic to determine how many processes to start, you can get in situations where the system starts trashing because the kernel overestimated the available memory.

[2020-07-13 12:24] huangsijun17 commented on #23892
No, not garbage collection, those memories are just used to start programs quickly. Sometimes free shows less than 10%, B only 50%.

[2020-07-13 12:51] bmacnaughton commented on #33460
We need to import `package.json` for every package we monkey-patch in order to get the version which very often determines what needs to be patched in the package.

This will break APM for a number of packages for which the current solution is to require and monkey-patch non-public interfaces. One example is mongodb for which it is necessary to patch each of the `mongodb/lib/core/topologies/` file

[2020-07-13 13:05] szmarczak commented on #14570
I'm particularly interested in `errors` and `url-to-options`. But I believe other Node.js power users would want other modules too.

[2020-07-13 15:13] Flarna commented on #34328
I can't reproduce this with 12.18.2 either. But I tested on windows and linux only - not mac.

[2020-07-13 15:27] namnq commented on #23892
@huangsijun17  do you have anyway to calculate available mem by Nodejs?

[2020-07-13 15:32] joyeecheung commented on #24961
@jasnell I think this is already done. I'll close this.

[2020-07-13 15:32] #24961 closed

[2020-07-13 15:43] bnoordhuis commented on #23892
I don't understand what you mean by that.

Let me explain what I think the problem with `MemAvailable` vs. `MemFree` is (I'm using the field names from `/proc/meminfo`): the former is an estimate, the latter is exact. Overestimates are a problem because they cause trashing when you try to actually use that much memory.

`MemAvailable` would be acceptable if its semantics are that there's _at least

[2020-07-13 15:45] Flarna commented on #34328
I can reproduce something like this (even on master) if I prepend following code:

[code]

Reason is most likely that destroy hook gets never called as it is scheduled via `SetImmediate` but the more or less endless running promise look is not allowing the process to get into the next tick.

see https://github.com/nodejs/node/blob/9a0aaa610706bfe7aeb2234b085cdcb912403c90/src/async_wrap.cc#L765

[2020-07-13 15:48] bnoordhuis commented on #14570
@szmarczak Can you file issues for each?

[2020-07-13 15:52] bnoordhuis commented on #34328
I thought that error message looked familiar! This is a duplicate of #33896, see the example in https://github.com/nodejs/node/issues/33896#issuecomment-645841361.

cc @addaleax

[2020-07-13 15:53] addaleax commented on #34099
Closed in d36e832a32dfb0c0c49bf9e3dee93ff231c97eb0 :tada:

[2020-07-13 15:53] #34099 closed

[2020-07-13 16:01] addaleax commented on #34100
Closed in 63a856fba9aa931a59c8e6fb6487ac9741e258db :tada:

[2020-07-13 16:01] #34100 closed

[2020-07-13 16:04] Flarna commented on #34328
I think using `isolate->EnqueueMicrotask()` could help here as it has the same priority then promises so it should trigger the destroy hook inbetween cleanup.

[2020-07-13 16:07] ggreco opened #34340 "Allow debugging of native addons on macOS"
* **Version**: v12.18 v14.5
* **Platform**: macOS Catalina ( Darwin iMac-2.local 19.5.0 Darwin Kernel Version 19.5.0 )
* **Subsystem**: main

### What steps will reproduce the bug?

  - Open a terminal window
  - launch LLDB (the clang debugger) with the node executable (the official 14.3 and 12.x versions have the same problem

      lldb /usr/local/bin/node
      run -v

  - the result is:

[2020-07-13 16:10] addaleax commented on #34340
@nodejs/platform-macos

[2020-07-13 16:32] richardlau commented on #34340
@ggreco If you want to open a pull request, the entitlements used by our build process are in https://github.com/nodejs/node/blob/master/tools/osx-entitlements.plist.

[2020-07-13 16:35] devsnek commented on #34340
see also https://github.com/nodejs/help/issues/2817

[2020-07-13 17:01] puzpuzpuz commented on #34328
The original script probably has to be run in REPL. REPL creates a domain which in its turn installs a hook. I'm AFK and can't verify this, but that might explain the above messages.

[2020-07-13 17:23] gabrielschulhof opened #34341 "Regression: Error: async hook stack has become corrupted (actual: 2, expected: 0)"
https://github.com/nodejs/node/pull/32933 seems to have introduced the following error:

[code]

The error is produced by building the following add-on:

[code]

[code]

Tested with and without `--expose-gc`:

[code]

Expected output for with `--expose-gc` – none
Expected output for without `--expose-gc` (repeated 20 times):
[code]

The latter is expected because the thrown error is about `global.

[2020-07-13 17:26] gabrielschulhof commented on #34341
I will try to reduce the C code needed for reproduction. In particular, the `napi_create_ref`/`napi_delete_ref` is being performed by node-addon-api for `napi_value`s created with `napi_create_error`. For each code reduction I will re-test the commitids tested above.

[2020-07-13 17:28] gabrielschulhof commented on #34341
This being N-API I did not recompile the addon for each commit.

[2020-07-13 17:32] devsnek commented on #34341
@gabrielschulhof totally off topic, what is that bisect ui from?

[2020-07-13 17:45] gabrielschulhof commented on #34341
@devsnek created by hand using text editor 🙂

[2020-07-13 17:46] gabrielschulhof commented on #34341
@devsnek I started with
[code]

[2020-07-13 17:48] devsnek commented on #34341
@gabrielschulhof very nice :clap:

[2020-07-13 17:48] gabrielschulhof commented on #34341
@devsnek then
[code]

[2020-07-13 17:50] gabrielschulhof commented on #34341
That was just an example. Obviously the commitid range for the two commands has to be the same 😀

[2020-07-13 18:06] gabrielschulhof commented on #34341
OK, it may not have been https://github.com/nodejs/node/pull/32933. Bisect goes on.

[2020-07-13 21:11] mhdawson commented on #34260
@bnb maybe you can tell us a bit more about how discussion work in the meeting and we can then decide if its a fit.

[2020-07-13 21:44] gabrielschulhof commented on #34341
[code]

Looks like moving to V8 8.3.110.9 introduced the instability (in #32831).

[2020-07-13 23:35] jfriend00 commented on #33463
Similar problem shown here: https://stackoverflow.com/questions/62885667/why-does-this-readline-async-iterator-not-work-properly.

I see only this output in the console:

[code]
The for await (const line1 of rl1) loop never goes into the for loop - it just skips right over it:

[code]

[2020-07-13 23:42] jfriend00 commented on #28565
Probably related to https://github.com/nodejs/node/issues/33463.

[2020-07-13 23:44] bmeck commented on #33460
@bmacnaughton is there any reason to do this by placing it in the module cache/through the module loader compared with using `fs` to read these instead of `package.json`? per https://github.com/nodejs/node/issues/33460#issuecomment-630452758 . Not attempting to state pro/con here, just trying to see if a fs solution would be adequate instead of module loading. In particular modules are generally t

[2020-07-13 23:48] ljharb commented on #33460
(note that "using fs" still requires a way to reliably get the package.json path, which `exports` has disrupted)

[2020-07-14 00:08] bmeck commented on #33460
@ljharb yes, but the question for me is still if the file actually needs to be loaded through the module system vs just resolved.

[2020-07-14 00:10] robey opened #34346 "crash in node_buffer.cc on ECONNRESET when using net.Socket onread"
* **Version**: 14.4.0
* **Platform**: Linux 4.19
* **Subsystem**: net

occasionally, we see nodejs 14.4.0 drop core with a message like:

[code]

it seems to be always the same location, and always in response to an ECONNRESET on the socket. it only happens when using the "onread" hook in net.Socket.

**the good news**: after some trial & error, and digging through the nodejs code, i think i figur

[2020-07-14 01:07] szmarczak opened #34347 "Passing a URL instance with a CONNECT method results in an invalid path"
* **Version**: >=v10.21.0
* **Platform**: Linux solus 5.6.18-156.current #1 SMP PREEMPT Sun Jun 21 07:16:38 UTC 2020 x86_64 GNU/Linux
* **Subsystem**: http, https, url

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?

Always.

### What is the expected behavior?

[code]

### What do you see instead?

[code]

### Additional information

[2020-07-14 01:11] szmarczak opened #34348 "Expose the `errors` module from the `internal` directory"
**Is your feature request related to a problem? Please describe.**

https://github.com/nodejs/node/issues/14570#issuecomment-657638743

**Describe the solution you'd like**

Expose the `errors` module so it can be imported e.g. `const errors = require('errors');`

That way we could easily throw Node.js errors without duplicating them like [this](https://github.com/szmarczak/http2-wrapper/blob/v1.0

[2020-07-14 01:13] szmarczak opened #34349 "Expose the `url-to-options` function from `internal/url.js`"
**Is your feature request related to a problem? Please describe.**

https://github.com/nodejs/node/issues/14570#issuecomment-657638743

**Describe the solution you'd like**

Expose the `urlToOptions` module so it can be imported e.g. `const {urlToOptions} = require('url');`

That way we could easily convert a URL instance without duplicating the code like [this](https://github.com/szmarczak/http2-

[2020-07-14 01:15] szmarczak commented on #28966
Closing this since I don't need this anymore. Feel free to reopen if you find this interesting.

[2020-07-14 01:15] #28966 closed

[2020-07-14 01:18] szmarczak commented on #33343
Closing since a fix has been released a while ago.

[2020-07-14 01:18] #33343 closed

[2020-07-14 01:38] szmarczak opened #34350 "Unexpected HTTP Parse Error"
* **Version**: v14.5.0
* **Platform**: Linux solus 5.6.18-156.current #1 SMP PREEMPT Sun Jun 21 07:16:38 UTC 2020 x86_64 GNU/Linux
* **Subsystem**: https

### What steps will reproduce the bug?

https://runkit.com/szmarczak/5f0d0b92c01e77001bd2be09

[code]

### How often does it reproduce? Is there a required condition?

Always.

### What is the expected behavior?

[code]

### What do you see inst

[2020-07-14 01:39] connor4312 commented on #27261
Our new debugger is the default in the latest version of VS Code, and we've since seen increasing numbers of issues coming in for this. It seems most/all are Jest users. It would be great if we could take another look at this issue.

cc @joyeecheun (not able to tag the inspector team like you did 🙂 )

[2020-07-14 02:02] jfriend00 commented on #34219
The overall problem here is that `readline.createInterface()` immediately adds a `data` event listener to the stream and resumes the stream.  So, if you don't synchronously add a `line` event listener or synchronously create the async iterator, then the readline interface will happily get data events and fire off `line` events, but nobody will be listening to them and they will be lost.  This mean

[2020-07-14 02:28] sda3211 commented on #30237
#30237

[2020-07-14 02:29] sda3211 commented on #30237
#34319

[2020-07-14 03:42] devsnek commented on #33460
for apm we need a reference to the live exports.

[2020-07-14 03:45] devsnek commented on #34219
we should just expose a stream version of it.

[2020-07-14 03:47] jfriend00 commented on #34219
@devsnek -  Yes, readline is a mess for this type of use (numerous bugs).  A nice clean stream version would be great.

[2020-07-14 05:17] #34321 closed

[2020-07-14 05:17] gabrielschulhof commented on #34341
The problem also exists if we remove `napi_create_reference/napi_delete_reference`:

[code]

[2020-07-14 07:07] amiller-gh commented on #26692
Updating this thread for posterity / paper trail.

There is movement on the spec / browser side for this. Since @addaleax's comment above the MDN article now calls out that Chrome does clone native `Error` objects, [Firefox is working to implement](https://bugzilla.mozilla.org/show_bug.cgi?id=1556604), [Safari has a bug open here](https://bugs.webkit.org/show_bug.cgi?id=198511), and [the whatwg is

[2020-07-14 07:17] gabrielschulhof commented on #34341
The code can be reduced to

[code]

[2020-07-14 08:27] amiller-gh opened #34355 "Discuss: Expose Structured Clone on `v8` Module"
Hi all! Relatively niche feature idea, but will likely be useful for a lot of lower level state management libraries. I'm a little out of my expertise with the C++ implementation here, so please excuse me if I'm missing something that is already possible using existing APIs.

## Context
Deep cloning objects in javascript is [notoriously hard](https://dassur.ma/things/deep-copy/) – and even harder

[2020-07-14 08:35] lpinca commented on #34350
@nodejs/http-parser

[2020-07-14 08:37] targos commented on #34355
Note that you can make the `MessagePort` version sync with the [`receiveMessageOnPort`](https://nodejs.org/dist/latest-v14.x/docs/api/worker_threads.html#worker_threads_worker_receivemessageonport_port) function:

[code]

[2020-07-14 09:39] lpinca commented on #34350
Here is a simpler test case without external servers:

[code]

[2020-07-14 09:57] lpinca commented on #34350
It seems this happens every time the HTTP response to a HEAD request has a message body. The only relevant bit I can find on [RFC 7230](https://tools.ietf.org/html/rfc7230) is

[code]

[2020-07-14 10:05] amiller-gh commented on #34355
Found a similar discussion going on over in the whatwg repo: https://github.com/whatwg/html/issues/793

There seems to be general consensus in the utility of a `structuredClone` function.

Great to know about `receiveMessageOnPort` @targos. Given that, do you think there is value in exposing a standalone method for this, or should using `MessageChannel` be the recommend way of pulling this off?

[2020-07-14 10:07] bzoz commented on #34311
Also reproduces on Linux.

[2020-07-14 10:17] bnoordhuis commented on #34350
Right, this issue has come up before - numerous times, in fact. Servers aren't supposed to include a response body when replying to HEAD requests but some buggy servers do.

The parser (correctly) assumes that the first byte after the headers-terminating newline is the start of a new response.

Node could work around it if it tracked requests and responses, i.e., if it knew no second response is e

[2020-07-14 10:19] coreyfarrell commented on #34278
@RyanZim That's possible but I don't think we can say this based on npm stats alone.  A project using `rimraf` does not show that they need/want rimraf over recursive `fs.rmdir`, in many cases they simply need to support Node.js <12.10.0.

[2020-07-14 10:27] bnoordhuis commented on #34349
I'm inclined to say it's better to copy it out into a npm module than to expose it because:

1. it's borderline trivial

2. it doesn't really fit anywhere (cross-cut of url and http)

3. it's annoying to have to worry about backwards compatibility / not breaking the public API when making changes

[2020-07-14 10:31] lpinca commented on #34346
@mscdex

[2020-07-14 10:39] bnoordhuis commented on #34347
`/example.com` is the expected path. Why would you expect `example.com`?

[2020-07-14 11:19] targos commented on #34355
If we can make it faster as a standalone function, that seems valuable.

[2020-07-14 11:55] RyanZim commented on #34278
At the moment, recursive `rmdir` is basically the same as `rimraf`, without old version support. My point was that we have no evidence that people want a "fixed" recursive `rmdir`.

[2020-07-14 11:59] gireeshpunathil commented on #34241
this nomination is accepted now. @Hakerh400 - when are you available for an onboarding session?

[2020-07-14 11:59] gireeshpunathil commented on #34242
this nomination is accepted now. @HarshithaKP - when are you available for an onboarding session?

[2020-07-14 12:04] HarshithaKP commented on #34242
@gireeshpunathil, thanks. I am fine with anytime.

[2020-07-14 12:24] bmacnaughton commented on #33460
it's not clear to me what you're asking (there is a lot to absorb in this subject area and i'm not as deeply steeped in it as you are), so i'll try to go through the possibilities as a way of exploring the range of solutions.

it's possible for APM to read `package.json` with `fs`, provided we know where `package.json` is. we never mutate `package.json` and it is a well defined format, so there is

[2020-07-14 13:08] #34309 closed

[2020-07-14 13:15] #29802 closed

[2020-07-14 13:21] #33435 closed

[2020-07-14 13:31] addaleax commented on #26692
Okay, I think that this can be closed then :)

[2020-07-14 13:31] #26692 closed

[2020-07-14 14:00] addaleax commented on #34098
Closed in 9c11d5ce9df480b62ca1d5a0d90dd07fa55da98a :tada:

[2020-07-14 14:00] #34098 closed

[2020-07-14 14:29] #31089 closed

[2020-07-14 14:57] jsmith commented on #34027
I've actually searched quite a bit about node and the package.json `module` field and haven't found much information. The only other resource I've found specifically about node and the `module` field is this [unanswered StackOverlow question](https://stackoverflow.com/questions/57709406/why-does-node-js-12-not-use-the-module-field) from ~ a year ago. Is there any plans to support this field? I'm c

[2020-07-14 15:16] selimrecep opened #34361 "illegal access error with Typescript compiled code"
* **Version**: v12.18.2
* **Platform**: Linux desktop-G31T-M7 5.3.0-62-generic #56~18.04.1-Ubuntu SMP Wed Jun 24 16:17:03 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: Well, Unfortunately I don't know

### What steps will reproduce the bug?

### How often does it reproduce? Is there a required condition?
I know it doesn't make sense but, random. Actually I have no idea what is this erro

[2020-07-14 15:20] addaleax commented on #34361
Yeah, it would be great to know the missing lines before the `Cannot toggle Inspector …` one – if this happens again, please share those :)

[2020-07-14 15:23] selimrecep commented on #34361
Just happened again :D Actually I have 0 idea about this I would want to provide more details. But the output log is all I know. I will try to find what causes error or in which scenarios it happens.
`/usr/bin/node /home/desktop/Masaüstü/Recep/workspace/request-log-data-handler/dist/index.js
Debugger listening on ws://127.0.0.1:38707/90561054-5303-4d25-bcdb-d0c839d026a4
For help, see: https://node

[2020-07-14 15:24] coreyfarrell commented on #34278
@RyanZim sorry for misunderstanding.  `rimraf` also supports `glob` patterns where recursive rmdir does not so I thought that was what you were talking about.

[2020-07-14 15:27] selimrecep commented on #34361
An additional note: **undefined: 0** output part is not part of my code.

[2020-07-14 15:35] vostrik commented on #34076
stay

[2020-07-14 15:37] addaleax commented on #34361
@selimrecep I *think* https://github.com/nodejs/node/pull/34362 should fix this … I don’t quite know how to reproduce this, so I’m having a hard time coming up with a regression test, but if there’s any chance that you could build Node.js with that PR and verify that it fixes this, that would be extremely helpful :)

Either way, thanks for the bug report!

[2020-07-14 15:39] jkrems commented on #33460
I think one interesting thing of note here is: APMs currently load `package.json` via `require` while node itself doesn't. Which means that APMs cause all the `package.json` metadata to be parsed twice and retained in memory twice. I personally would love to see an official "get metadata" API that returns effective package metadata for a given specifier/context pair, as seen by node. But it would

[2020-07-14 15:43] selimrecep commented on #34361
Thank you! I will try to build (I will update this if i can). Plus I am getting some output like this. I know it was truncated, I am trying to find the setting to output full log :D I will post full output if I can find it, maybe it can help to fix the problem (or maybe another problem). Thank you :)
[code]

[2020-07-14 16:23] szmarczak commented on #34347
https://tools.ietf.org/html/rfc7231#page-30

[2020-07-14 16:31] szmarczak commented on #34349
I strongly disagree. If this was trivial then it wouldn't be used in the `http` module to deserialize any URL instance.

Hmm... After giving it some thought I'd go for `const {urlToOptions} = require('http');` since it returns HTTP options.

That's the cost you always have to take. It's already used in the `http` module so you **already** need to worry about this.

[2020-07-14 16:32] bnoordhuis commented on #34347
Right, so what you're asking is that `http.request()` special-cases (and validates?) CONNECT requests? The reason I said `/example.com` is expected is because the `URL#pathname` property is used as-is.

[2020-07-14 16:34] szmarczak commented on #34350
/cc @ronag (slightly related with https://github.com/mcollina/undici/issues/246 and https://github.com/mcollina/undici/pull/250)

[2020-07-14 16:44] szmarczak commented on #34347
The point is that it doesn't, but it should IMO :)

Yup, I noticed that.

[2020-07-14 16:47] ljharb commented on #33460
@jkrems presumably it would require node to retain 100% of the package.json data, since any of it might be needed by tooling?

[2020-07-14 16:55] bmacnaughton commented on #33460
@ljharb - our APM instrumentation only uses the version at this point; it might need to know about the exports section for esm.

[2020-07-14 16:55] kjarmicki opened #34365 "doc: improper description of AsyncLocalStorage behavior"
# 📗 API Reference Docs Problem

- **Version**: v12.18.2

- **Platform**: Linux kjarmicki-dell 4.15.0-109-generic #110-Ubuntu SMP Tue Jun 23 02:39:32 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

- **Subsystem**: async_hooks

Affected URL(s):

- https://nodejs.org/api/async_hooks.html#async_hooks_asynclocalstorage_run_store_callback_args

## Description

There's a section in the documentation regarding

[2020-07-14 17:05] lpinca commented on #34350
From https://tools.ietf.org/html/rfc7231#section-4.3.2

[code]

so I think it's ok to mark this as "wontfix".

[2020-07-14 17:06] ronag commented on #34350
What we did in undici was that if we suspect that the server might be sending extra data after the the expected response we simply ignore the rest and close the connection. Though currently we only do this when we send requests that have undefined semantics, i.e. payload with GET or HEAD.

Though in this case we are sending a valid request and the server is providing an invalid response, i.e. no h

[2020-07-14 17:09] bmeck commented on #33460
I think an important thing that I missed was the chaining. Currently package.json meta-data has no hook for loading but could be replaced for importing. This seems like we are missing some hook so I'd agree with @jkrems

[2020-07-14 17:09] jkrems commented on #33460
@ljharb I think more general tools that need the entire `package.json` wouldn't mind using a userland solution that does something similar but with more configuration options and a more verbose cache. I'm not sure the same answer has to apply fully to APMs and bundlers/linters/etc..

[2020-07-14 17:22] bnoordhuis commented on #34349
It's trivial in the sense that it doesn't do anything that ordinary JS code cannot also do.

It it needed runtime magic or if you needed to go to extreme lengths to make it do something that's trivial for core code, that's a compelling argument to expose it, but that doesn't apply here.

There are exceptions to the rule (`tls.checkServerIdentity()` is one) but the threshold is pretty high.

The di

[2020-07-14 17:26] bnoordhuis commented on #34347
Shouldn't be a controversial change. Pull request welcome.

[2020-07-14 17:31] dingensdongens commented on #3716
Does someone know how to retrieve node8 on FreebSD12.1 (deprecated and thus has been removed from the ports tree hence no binary package)? I guess I need that version to get rocket.chat running..... Thanks.

[2020-07-14 17:41] connor4312 opened #34367 "Avoid parsing invalid URLs when loading ESM Modules"
* **Version**: 14.5.0
* **Platform**: Windows 1909
* **Subsystem**:

### What steps will reproduce the bug?

1. Have VS Code set to break on all exceptions
1. Import an ESM module (see reproduction steps here: https://github.com/microsoft/vscode/issues/102514)
1. An exception is thrown

### How often does it reproduce? Is there a required condition?

Every time

### What is the expected behavior?

[2020-07-14 17:41] wesleytodd commented on #33460
I am writing such a tool (and have written others in the past), and I don't want any of these.  I want simply what require does pre-exports.  It works really well, is simple, and is well understood/documented.  Any userland implementation will probably be less satisfactory in all three of these measures.  Also, it seems like this is a regression in developer experience if what worked for years now

[2020-07-14 17:47] addaleax commented on #34367
/cc @nodejs/modules-active-members

Not sure what to do about this. I would personally think that it’s on debuggers to solve this kind of problem.

[2020-07-14 17:50] selimrecep commented on #34361
It seems like it is going to take forever to compile(I dont even have proper version of gcc, im compiling this one first on centos(yeah I'll try to use VPS)) but, I have found that it is nothing about code content of files. I have created simple 'test.js' that contains nothing (even space), and after some F5 key (debug)  hit it breaks with the error that I have been posted earlier.

[2020-07-14 17:51] connor4312 commented on #34367
It makes sense. I dislike having to take a dependence on Node.js internals to pattern-match what exceptions can be ignored or not. Internals are not public API and are subject to change, and ignoring the wrong thing and not catching an exception is clearly also very undesirable.

I would welcome guidance for ways to deal with this in a reliable way.

[2020-07-14 17:54] jkrems commented on #34367
There may also be arguments made that we currently misuse exceptions for something that's "normal" to fail. It may be better to replace this code with a (new?) method that doesn't throw, even if this requires a private API for URL parsing that circumvents the exception behavior..?

[2020-07-14 18:39] amiller-gh commented on #34355
Here are flame charts for `MessageChannel` used as both sync and async for structured clone in my project. The `save` call has to call deepClone three times (for assorted reasons). This specific call is working with a particularly large object.

Interestingly – but probably as expected – they take approximately the same total time, but the synchronous version shuttles the copied object to Node.js

[2020-07-14 19:05] Trott opened #34369 "Nominating @DerekNonGeneric as a collaborator"
I’d like to nominate Derek Lewis (@DerekNonGeneric) as a collaborator. They have been active for quite a while, especially in modules, docs, and docs tooling.

Commits: https://github.com/nodejs/node/commits?author=DerekNonGeneric
PRs and issues: https://github.com/nodejs/node/issues?q=author:DerekNonGeneric
Comments: https://github.com/nodejs/node/issues?q=commenter:DerekNonGeneric
Reviews: https

[2020-07-14 19:11] MylesBorins commented on #33759
Seeing this flake a bunch locally while preparing a 14.x release

[2020-07-14 19:24] addaleax commented on #34355
@amiller-gh The serialization/deserialization steps create an intermediate Buffer where they need to write + read all strings and other data structures into. If all you want is structured clone, and you want it to be fast, then I think you can get a significant perf boost by implementing that in JS only – I think that’s basically what you’re looking for?

[2020-07-14 19:57] szmarczak commented on #34350
@lpinca @ronag Thanks for explaination, closing :)

[2020-07-14 19:57] #34350 closed

[2020-07-14 20:06] szmarczak commented on #34349
Then let's completely remove the `http` module since we can achieve the same using [`undici`](https://github.com/mcollina/undici).

You get me wrong, I just don't want to duplicate what already exists in the Node.js core.

Because it's almost not observable to user code it doesn't mean that it doesn't have any impact. If `urlToOptions` fails then you can clearly see the issue here.

Although the e

[2020-07-14 20:15] thebigredgeek commented on #3159
Is this really still an issue?

[2020-07-14 20:21] gabrielschulhof commented on #34341
I set a hardware watchpoint at the location from which `async_id_fields_.GetValue(kExecutionAsyncId)` retrieves the value, and it is being set to 2 by the following stack:

[code]

[2020-07-14 20:24] amiller-gh commented on #34355
I started with that approach, but this ended up being faster. I experimented using this function to clone objects:
[code]
It's fast (certainly faster than `JSON.parse(JSON.stringify(o))`, and faster than `v8.deserialize(v8.serialize(o))` for the reasons described above) but because of the repeat type checking and, object creation (and I'd assume non-standard function shape triggering de-opts) it t

[2020-07-14 20:33] addaleax commented on #34341
@gabrielschulhof You can use `call (void) _v8_internal_Print_StackTrace()` to print a JS stack trace, which is going to be a lot more useful there I think :slightly_smiling_face: (generally, the gdb shortcuts in https://github.com/v8/v8/blob/master/tools/gdbinit are super useful)

[2020-07-14 20:49] bnb commented on #34260
sounds good to me.

[2020-07-14 21:09] ronag commented on #34350
@szmarczak: One way to actually solve this is to always reset the connection after a HEAD response. Though that would significantly reduce performance of HEAD requests. Though, it would make it more resilient.

[2020-07-14 21:14] trivikr commented on #34260
@mhdawson How do we join this meeting?

The event in Node.js calendar doesn't have Video Conference links http://nodejs.org/calendar

[2020-07-14 21:18] gabrielschulhof commented on #34341
@addaleax thanks! I'll try to produce a hybrid stack trace next.

[2020-07-14 21:22] addaleax commented on #34341
@gabrielschulhof That being said … it looks like you’re calling into JS/throwing an exception from the finalizer – that can’t be right? We allow that for `Buffer` finalizers but go out of our way (via `SetImmediate()`) to make that possible there, but not for other finalizers. If you allow running JS/throwing exceptions from regular finalizers, that’s bound to be problematic because GC can run dur

[2020-07-14 21:27] mhdawson commented on #34260
@trivikr just realized that as well. Here is the link: https://zoom.us/j/99950131676

Will add to calendar as well.

[2020-07-14 21:27] gabrielschulhof commented on #34341
@addaleax hmmm ... finalizers are supposed to be able to execute JS. Their signature accepts a `napi_env`. If that's no longer true, we need to make some drastic changes.

[2020-07-14 21:29] gabrielschulhof commented on #34341
@addaleax the original motivation was to make node-addon-api callbacks more consistent. In those headers we don't have `CallIntoModule` like we have in core, but we need it, because of the way we convert C++ exceptions that are really `napi_value`s containing JS errors to be thrown on the JS side into JS exceptions. Any calls made into user code need to expect a C++ exception, including calling th

[2020-07-14 21:30] Tobbe commented on #34200
We just ran in to this as well, see here https://github.com/redwoodjs/redwood/pull/824/checks?check_run_id=870826888

[2020-07-14 21:36] addaleax commented on #34341
@gabrielschulhof In that case, I would delay their execution with `SetImmediate()` like we do for `Buffer`s.

[2020-07-14 21:39] joyeecheung commented on #23192
I think this can be closed in favor of a more updated TODO list. Thanks for the ping.

[2020-07-14 21:39] #23192 closed

[2020-07-14 21:51] bmeck commented on #33233
I've made a PR to mitigate this https://github.com/nodejs/node/pull/34372

[2020-07-14 22:20] Hakerh400 commented on #34241
Thank you very much Gireesh for the nomination! However, I don't want to be a collaborator because of my disagreement with some decisions of the Node.js TSC team. I will try to stay helpful as a contributor and I will keep helping people in the help repo when I have free time. Thank you again for the nomination, but please close this issue.

[2020-07-14 23:33] addaleax commented on #34241
@Hakerh400 Thanks for letting us know! In that case, know that we are grateful for your help, and if you reconsider at some point, feel free to say so.

[2020-07-14 23:33] #34241 closed

[2020-07-15 00:06] jasnell opened #34374 "streams: non-writable Duplex is writable (more annoyance than bug)"
@mcollina @ronag @nodejs/streams

[code]

This isn't a bug since it's been like this forever but the behavior is really counter intuitive, especially since after calling `d.end()` and *then* doing a `d.write()` we get a proper `write after end` error. It makes implementing a custom `Duplex` (e.g. `QuicStream`) more difficult because of the additional checks that need to be made to ensure that even

[2020-07-15 00:16] jasnell commented on #34374
Also, just to be thorough, the same issue exists with `readable: false` and the readable side. Specifically:

[code]

[2020-07-15 02:30] beejei commented on #3159
@thebigredgeek Yes, in an enterprise environment, the security team strictly prohibits the export of SSO client certificate(which is in system Keystore). And internal services also do not provide any technical account nor token.
If node.js can internally access the SSO client certificate, we could integrate everything base on them. Electron-based app also gets this benefit. We can create desktop-a

[2020-07-15 02:55] haraldrudell commented on #34192
I assume that @bnoordhuis knows ECMAScript well enough to understand what the problem is here

I also know that this is happening due to the harassment against former Zynga employees whose investors also held Joyent is still alive and well in 2020. I used to be harassed on premise at the Node.js meetings including by @isaacs and those people that used to be with Voxer that no do enterprise Node

T

[2020-07-15 06:34] ronag commented on #34374
What would you like to happen? Error if write/push to a non writable/readable stream?

[2020-07-15 06:39] ronag commented on #34192
@haraldrudell Why not open a PR that fixes the issue and a corresponding test? Maybe that will help us understand. As it is now none of see a problem.

[2020-07-15 08:31] benjamingr commented on #34192
@haraldrudell even if you were technically right on the technical bit (which you're not and Robert was trying to explain) it is entirely inappropriate to attack project collaborators. Ben does not owe you support, he was trying to be helpful and aid you with an issue _and you attacked him_. If I were you I'd ponder on that, apologize and move on. The issue was closed after a few days are inactivit

[2020-07-15 09:21] ggreco commented on #34340
I created a pull request to fix this issue:

https://github.com/nodejs/node/pull/34378

[2020-07-15 09:56] PreYunk commented on #34374
@ronag @jasnell
Correct me if I am wrong here, according to the [readable.readable](https://nodejs.org/api/stream.html#stream_readable_readable) and [writable.writable](https://nodejs.org/api/stream.html#stream_writable_writable) docs they must be used to check if it is safe to read/write on the stream. That's why setting `writable` and `readable` explicitly doesn't seem to work, maybe that's the

[2020-07-15 11:29] ronag commented on #34374
No, they don't need to be checked. Calling it "safe" is maybe a bit misleading, but the following sentence does explain what it means in the context.

It does "work". Depends on what you mean by "works". Though that usage is deprecated.

That option actually *does* exist and *should* be used. It's just not documented, which we should fix.

[2020-07-15 11:29] ronag commented on #34374
@jasnell I'll investigate what we can do to improve this.

[2020-07-15 12:25] jeremysmith1 commented on #11865
@TazmanianDI Edward j

[2020-07-15 12:37] PreYunk commented on #34374
By "doesn't work" I meant that we are allowed to write on a non writable `Duplex`

Should I open another issue regarding this? Also are there any more options other than `writable` and `readable` that must be included in the docs?

[2020-07-15 12:56] ronag commented on #34374
Sure!

I don't think so.

[2020-07-15 14:36] FrozenKiwi commented on #31842
I'm having a similar problem in 12.16.3.  Adding to this issue as it seems likely related.

Running node with `--experimental-exports` throws following error:
[code]

Running `node --help` does not list `--experimental-exports` as an option.

Has this option been removed?

[2020-07-15 14:42] WillerZ opened #34380 "N-API: implement something like `yield`"
**Is your feature request related to a problem? Please describe.**
I work primarily on Messenger Desktop which is an electron app with a number of native plugins. We were using N-API before the promise APIs were available and we found it a nice usability/readability upgrade when we were able to switch from callbacks to those for our functions that complete a single time.

**Describe the solution y

[2020-07-15 14:52] devsnek commented on #34380
No js engine I'm aware of provides this functionality, so it is very unlikely napi will ever be able to provide it. An easy enough workaround is to create an iterator with a `next` method instead, and store state for the `next` function on the iterator object.

[2020-07-15 15:00] mhdawson commented on #34260
Google doc with proposed agenda and to track discussion in the meeting today: https://docs.google.com/document/d/1yWb2Djrm1uPjBwaT4OPh_Q3XJytTLdT0MVYJPqcegpU/edit

[2020-07-15 15:16] richardlau commented on #34260
Isn't the meeting tomorrow (according to the OP and Foundation calendar)?

[2020-07-15 15:20] jkrems commented on #31842
@FrozenKiwi The flag has been removed, `exports` is now enabled by default in all recent node releases (12, 13, and 14).

[2020-07-15 15:48] addaleax commented on #34380
I agree – I don’t think it makes sense to bake this into N-API unless we can actually provide a better implementation than one that just implements the sync (and async) iterable protocol(s) naïvely. For that kind of implemention, one could implement this in a header library separate from N-API itself.

That would have the advantage of accounting for language-specific differences as well; for examp

[2020-07-15 15:53] PreYunk opened #34382 "add 'writable' and 'readable' to 'new stream.Duplex(options)' docs."
That option actually *does* exist and *should* be used. It's just not documented, which we should fix.

_Originally posted by @ronag in https://github.com/nodejs/node/issues/34374#issuecomment-658714356_

[2020-07-15 16:01] mhdawson commented on #34260
Good point, I must have moved my internal calendar duplicate. I would have figured it out in a few minutes when nobody showed up. Talk to everybody tomorrow :)

[2020-07-15 18:11] kjarmicki commented on #34365
Sorry, I just now realized that I've most likely misinterpreted the docs: I thought they stated that store is not accessible in the asynchronous operations created within the callback, but now I see that it's the opposite, which is consistent with the behavior. Carry on :sweat_smile:

[2020-07-15 18:11] #34365 closed

[2020-07-15 18:20] Trott commented on #33759
Happened in node-daily-master today.

https://ci.nodejs.org/job/node-test-commit-osx/35263/nodes=osx1015/console

[code]

[2020-07-15 18:21] Trott commented on #33759
cc @nodejs/workers @HarshithaKP

[2020-07-15 18:23] addaleax commented on #33759
I think this might be specific to macOS. If somebody can reproduce locally, I’m up for a joint debugging session.

[2020-07-15 18:37] HarshithaKP commented on #33759
I will try to reproduce it.

[2020-07-15 18:44] IAmIndra opened #34384 "Error handler not triggered when worker_thread has an asynchronous function listener on the 'message' event through parentPort"
* **Version**: 12.18.2
* **Platform**: Macbook-Pro.local 19.5.0 Darwin Kernel Version 19.5.0
* **Subsystem**: worker_threads

### What steps will reproduce the bug?
1) create an index.js file and a worker.js file in the same directory

2) Copy the following code into index.js:
`const { Worker } = require('worker_threads');
const os = require('os');
const path = require('path');
const numCPUs = os.

[2020-07-15 19:24] #34274 closed

[2020-07-15 22:26] #34091 closed

[2020-07-15 23:32] bradennapier commented on #27261
I noticed this when using the vscode debugger and mocha.  Interestingly it was due to `beforeEach`

### no error

[code]

### error

[code]

[2020-07-15 23:53] addaleax commented on #27261
Thanks for the ping!

I think https://github.com/nodejs/node/pull/34362 should fix this as well.

[2020-07-16 03:04] puzpuzpuz opened #34388 "Add experimental support for io_uring"
Recent Linux kernel (5.1+) includes io_uring, a new non-blocking I/O subsystem, which might serve as a more efficient alternative to epoll. We could benefit from it and get a performance improvement in network I/O scenarios with high volume of concurrent connections and/or for fs operations.

Of course, in Node.js case we need changes made in libuv. There is an ongoing experiment aimed to add supp

[2020-07-16 04:10] jaime-alex commented on #31919
It seems that this issue has already been solved
![image](https://user-images.githubusercontent.com/9448735/87625702-a830d280-c6df-11ea-924c-f87090354a0b.png)

[2020-07-16 04:23] MylesBorins commented on #33759
@addaleax I can reproduce this somewhat reliably if you want to pair.

[2020-07-16 05:18] Trott opened #34389 "investigate unreliable test-heapdump-http2"
test/pummel/test-heapdump-http2.js is failing when I run it in CI and locally. (It passes the nightly CI on a particular Linux machine, but fails on many other machines when I run it more broadly in CI.)

The error always looks like this:

[code]

[2020-07-16 06:37] #34301 closed

[2020-07-16 09:36] addaleax commented on #34389
What if you replace `stream.respondWithFile(__filename);` with `stream.respondWithFile(process.execPath);` in the test file? Maybe the test file is small enough on some operating systems to be sent immediately, without waiting for the receiving side to do anything.

[2020-07-16 12:08] targos commented on #31919
This only affects Node.js v10.x. I'm closing the issue because v10 is now in maintenance LTS mode and will only get critical fixes.

[2020-07-16 12:08] #31919 closed

[2020-07-16 12:14] targos commented on #34260
Me neither

[2020-07-16 12:40] aleksey-hoffman opened #34395 "fs.access returns incorrect information"
* **Version**: 14.5.0
* **Platform**: Win 10, 64-bit
* **Subsystem**: fs

### What steps will reproduce the bug?

#### Method 1
[code]
#### Method 2
I execute a bin file via `childProcess.exec`, which successfully writes a file to some deep unknown place on the drive. I was trying to prevent this by checking if the directory is actually writable before executing it, but it turns out `access` can r

[2020-07-16 12:47] addaleax commented on #34395
I’m not sure we can do anything about it, but in any case, the documentation for `fs.access()` states:

[2020-07-16 12:47] addaleax commented on #34395
@nodejs/platform-windows

[2020-07-16 13:09] guybedford commented on #31842
Note that the `--experimental-modules` flag did enable `--experimental-exports` for some versions, so setting that flag via eg `NODE_OPTIONS="--experimental-modules"` environment variable might get exports working on all envs, but I'm not sure if that matches the exact version matrix being discussed here.

[2020-07-16 13:12] aleksey-hoffman commented on #34395
@addaleax The same thing happens when you try to write a file directly inside `.then(() => { ... })`. I edited the example code.

What if `access()` tried to actually write an empty file to the directory and resolve the promise based on the results of `writeFile`?
- If `writeFile` rejects the promise, it means it **actually** cannot write anything to that directory, so `access` rejects the promise

[2020-07-16 13:19] aleksey-hoffman commented on #34395
@addaleax I'm trying to check the directory before running a bin via `childProcess.exec` which doesn't throw an error, it successfully writes the file to some imaginary path on the drive. The file actually takes up the space on the drive but you cannot find it anywhere (not in the project directory, not in the binary directory, not in the `C:/`).

What if `access()` tried to actually write an empt

[2020-07-16 13:38] mcollina commented on #34388
I’m happy to benchmark this if we have a matching Node PR. It’s very interesting!

[2020-07-16 14:21] bmacnaughton commented on #33460
for the purposes of APM it seems that keeping `version`, `type`, and `exports` would be all that's needed. I think being able to inquire the version of package that is loaded would be a broader benefit. I understand APM is not a core use case but it would be great if this could be worked in.

[2020-07-16 14:34] ChALkeR commented on #34395
Sounds like UAC Virtualization perhaps? If that's not a path problem, of course.

[2020-07-16 14:37] antond1990 opened #34396 "npm install: permission denied for mkdir as root"
I try to install my packages defined in `package.json` with `npm install`. I get allways a permission denied error for a folder that is writeable for the current user (root).

[code]

* **Version**: 6.14.5
* **Platform**: Ubuntu 18.04

[2020-07-16 14:44] richardlau commented on #34395
Or perhaps an alternate data stream if using NTFS?

With regards to fs.access, there's this comment in libuv:
https://github.com/nodejs/node/blob/3abb52fdb683c9c9ade1b2c7d16d0f640bbaacfd/deps/uv/src/win/fs.c#L2145

[2020-07-16 14:55] bzoz commented on #34395
@aleksey-hoffman could you provide the path you are trying to write the file to?

[2020-07-16 15:32] puzpuzpuz commented on #34388
@mcollina no, we don't have a Node.js counterpart PR yet. But I hope to submit one once I find out status of the libuv PR. Will post any updates here.

[2020-07-16 15:59] designMoreWeb commented on #34260
Is there a zoom link for this? It's not on the calendar invite

[2020-07-16 16:50] aleksey-hoffman commented on #34395
@ChALkeR yep, I just checked, it was indeed downloaded to `\AppData\Local\VirtualStore\`

@bzoz I'm calling [youtube-dl](https://github.com/ytdl-org/youtube-dl) binary via `childProcess.exec()`. It downloads a video into `C:/` (system root). I also tried downloading it to other system dirs, the same thing. I was trying to prevent this from happening by using `fs.access`, which, as it turns out, do

[2020-07-16 16:55] aleksey-hoffman commented on #34395
@ChALkeR yep, I just checked, it was indeed downloaded to `\AppData\Local\VirtualStore\`

@bzoz I'm calling [youtube-dl](https://github.com/ytdl-org/youtube-dl) binary via `childProcess.exec()`. It was supposed to download a video into `C:/` (system root) but since Windows doesn't allow writes to system directories the file ended up in ``\AppData\Local\VirtualStore\`, I was trying to prevent this

[2020-07-16 17:39] Trott commented on #33759
Showed up in node-daily-master again today.

https://ci.nodejs.org/job/node-test-commit-osx/35280/nodes=osx1015/console

<details>

[code]

</details>

[2020-07-16 18:17] zunamidev commented on #34396
Hey! you tried it with sudo?

[2020-07-16 18:22] antond1990 commented on #34396
I was root.

[2020-07-16 18:26] connor4312 opened #34399 "Unicode characters are not properly parsed from NODE_OPTIONS on Windows"
* **Version**: verified on 14.5.0 / 12.14.1 / 10.15.2
* **Platform**: Windows 1909
* **Subsystem**:

### What steps will reproduce the bug?

1. Create a file `foó.js` containing `console.log("in foó");`, and an `bar.js` with `console.log("in bar");`
2. Create a file `index.js` containing

[code]

3. Run `index.js`

### How often does it reproduce? Is there a required condition?

Every time

### Wh

[2020-07-16 18:27] indutny opened #34400 "AsyncLocalStorage does not work with http.Agent"
* **Version**: 14.5.0
* **Platform**: macos
* **Subsystem**: async_hooks

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?

Always. No conditions.

### What is the expected behavior?

I expect this code to print:
[code]

### What do you see instead?

[code]

### Additional information

This is very much expected behavior of CLS storage

[2020-07-16 18:27] indutny opened #34401 "AsyncLocalStorage does not work with http.Agent"
* **Version**: 14.5.0
* **Platform**: macos
* **Subsystem**: async_hooks

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?

Always. No conditions.

### What is the expected behavior?

I expect this code to print:
[code]

### What do you see instead?

[code]

### Additional information

This is very much expected behavior of CLS storage

[2020-07-16 18:39] richardlau commented on #34399
cc @nodejs/platform-windows

[2020-07-16 18:48] Flarna commented on #34401
I think removing `AsyncLocalStorage` doesn't solve any problem. If there is no `AsyncLocalStorage` in core people implement it using async_hooks in userland and end up with the same problem.
We have several areas in core where resources are reused (e.g. HTTPParser) but create a new resource (and async id) everytime it's reused to avoid issues. Looks like there is a reuse where this wrapping is mis

[2020-07-16 18:51] adarshsaraogi opened #34402 "Build-failed: make -j4"
Trying to building node from the source but always failed when running the `make-j4` command.

**Triggers the below error**
make -C out BUILDTYPE=Release V=0
/home/adarsh/node/out/Release/.deps//home/adarsh/node/out/Release/cctest.d:1: warning: NUL character seen; rest of line ignored
/home/adarsh/node/out/Release/.deps//home/adarsh/node/out/Release/cctest.d:1: *** missing separator.  Stop.
Makefi

[2020-07-16 18:52] ronag commented on #34400
I think this is a duplicate? https://github.com/nodejs/node/issues/34401

Closing.

[2020-07-16 18:52] #34400 closed

[2020-07-16 18:54] indutny commented on #34400
It is. Sorry!

[2020-07-16 19:03] indutny commented on #34401
@Flarna even if we create a patch for this particular issue - similar problems would still be caused by other core or user-land modules. Whenever there is a pooling involved - there is a potential for a thread-local storage to get out of sync. From my experience, it is hard to impossible to debug and leads to security issues. I've personally seen developers using CLS as a storage for security data

[2020-07-16 19:10] indutny commented on #34401
Perhaps, instead of shipping its version of CLS implementation - Node.js core should be more vocal about why CLS should not be used in user code at all?

[2020-07-16 19:24] Flarna commented on #34401
I understand your point that we removing `AsyncLocalStorage` from core would remove the corresponding problems from core.
My feeling is that `AsyncLocalStorage` is as good/bad as async_hooks are. Do you think we should remove also async hooks?

The problem with not using CLS is that it disallows some usecases - concrete any APM tool I know uses CLS and I'm quite sure there is more then these.

[2020-07-16 19:37] indutny commented on #34401
I think removal of `async_hooks` should be discussed separately if discussed at all.

APM and any form of tracing/monitoring does not have an effect on the logic of the application so it is indeed safer. However, imagine a different scenario: thread-local storage is used for logging and the support team uses logs when the ground-truth is unavailable. What would happen if the logs of one request wi

[2020-07-16 19:53] FrozenKiwi commented on #31842
I'm not sure what is going wrong, but I still can't enable it.  Thanks for the help!  For now, I've accepted the limitations and written a pre-publish script to copy a sanitized package.json to the build folder and publish from there.  When Google updates its runtime, I'll delete it all quite happily.

[2020-07-16 20:03] rjharmon commented on #34401
I have some exposure to CLS impl & integrations, and I'm coming at this from a high-level/black-box point of view.  CLS is high value in my estimation.

It seems pretty clear that things that do pooling need to take steps to ensure reasonable CLS semantics for their callers.  In the use-case mentioned, the Agent instance should have a CLS (if needed) branched from its point of creation; the http.r

[2020-07-16 20:08] indutny commented on #34401
@rjharmon what are you are saying is that we have a leaky abstraction that requires a full-stack support. Yet most Node.js apps are built around public npm modules that do not yet provide (and many won't for a long time) such support. Sure, it is possible to "fix" http.Agent to make it play better with this particular CLS and even introduce an API for doing so, but until whole ecosystem catches up

[2020-07-16 20:40] chrisdickinson commented on #34401
Chiming in on this as a former user of CLS for sensitive data: this is a tough issue to thread. There's a legitimate desire for CLS for operations like logging, APM, or associating resources with requests (like postgres connections, for example.) Doing this requires a lot of care, as @indutny notes -- if a dependency anywhere in your tree does any sort of connection pooling & doesn't use the Async

[2020-07-16 20:43] rjharmon commented on #34401
Fair points, for sure.  I'd agree that _*the http module*_ has a leaky abstraction.  Possibly that's true more generally of AsyncLocalStorage too; that's not really how I'm seeing it, though I recognize I may be seeing wrongly.  The facts of this issue's existence, and that both modules are included with nodejs, makes these distinctions pretty much boring, though.

With some clear guidelines, mayb

[2020-07-16 20:51] indutny commented on #34401
@chrisdickinson beautiful take on it!

I can see the motivation behind having it in core. What I disagree with is that 3rd party modules will catch up and provide support for this. As you said single 3rd party module in indirect dependencies may mix up the async contexts for whole app and result in very unpredictable and dangerous behavior.

Having this API means that the ecosystem is going to fra

[2020-07-16 20:55] indutny commented on #34401
@rjharmon unfortunately I can't agree with you. http module implementation has its pitfalls, but in the context of this particular issue it suffers from the same symptoms that the rest of JavaScript modules might. There is nothing specifically incorrect about how it is written.

[2020-07-16 21:07] prakashgp commented on #12467
Sad to see nodejs has every other tools to make it powerful, but lacks basic debugging feature such as network monitoring. How can i debug requests/responses of an app that heavily communicates with external services ?

[2020-07-16 21:20] Qard commented on #34401
There's already many modules which properly use AsyncResource to bind the context and that's with async_hooks being marked as experimental. With AsyncLocalStorage we have a simpler API surface area than async_hooks and so it has a better chance of leaving experimental and thus a better chance of convincing module authors that they should use AsyncResource to support it properly.

Removing AsyncLoc

[2020-07-16 21:29] PreYunk commented on #34347
@bnoordhuis
I think we could slice the string and set the pathname to exclude '/' at the time of conversion of `url` to `options` or should we change `url.pathname` to give out the value without '/'.

[2020-07-16 21:38] szmarczak commented on #34347
@PreYunk That doesn't seem right. `urlToOptions` just converts the `URL` instance to an object, so it's expected to have leading slash in the pathname. It's just that it shouldn't be emitted when sending a CONNECT request.

[2020-07-16 21:56] PreYunk commented on #34347
@szmarczak
Ok I get it now.
How about we check if `options.pathname` property has a leading slash (to prevent cases where it is set explicitly by providing path property in  options) for 'CONNECT' method, then slice it to do the needful.

[2020-07-16 22:00] szmarczak commented on #34347
That's what's this issue is about...

[2020-07-17 00:02] indutny commented on #34401
@Qard I feel like this doesn't address the fact that one 3rd party module that does not use `AsyncResource` and does pooling will make whole system unstable. I'm all for stability and for providing a common space for people to work on ideas, but doesn't `AsyncLocalStorage` address only the latter one? From where I stand it looks like it is just conceptually unsound.

Note that it is not the same a

[2020-07-17 01:28] Qard commented on #34401
It depends how you think of "unstable" here. APM vendors are used to coding very defensively, and we DO communicate the importance of using AsyncResource to maintain context. It's not going to crash your app unless you use it fairly recklessly.

The feature is also considered experimental and arguably should maybe stay that way until a language spec can be decided and proven. As long as it remains

[2020-07-17 01:46] indutny commented on #34401
"unstable" not in a sense of crashing the app, of course. As mentioned previously, the instability is due to information mixing between different contexts caused by 3rd party modules out of user's control.

The feature is experimental and so is whole `async_hooks` module. Yet evidently it is already used by non-experimental commercial projects. People tend to overlook large warnings and descriptio

[2020-07-17 03:20] gireeshpunathil commented on #33759
https://github.com/nodejs/node/blob/bf0d82c1024710e13c9f2140cac2ed5acb273faf/test/parallel/test-worker-init-failure.js#L37-L40

I think the assumption that only `EMFILE` (too many open files) can occur in a `ulimit -n` setting is incorrect. Depending on where (early phase of process creation and setup versus runtime of the process) the inability to open new files occurs, the actual error code my d

[2020-07-17 04:54] Trott commented on #33759
Accommodating a helpful ENOENT error message would indeed be pragmatic. Does `'ENOENT: no such file or directory, uv_cwd'` qualify as sufficiently useful to the end user? `uv_cwd` is internal. It seems like the message is less than ideal. The test has this comment:

[code]

I'm conflicted about whether the right thing to do is to accommodate this error message or if the right thing to do is to try

[2020-07-17 05:00] gireeshpunathil commented on #33759
@Trott - agree, makes sense!

I think part of it has also to do with a limitation in libuv: it does not tell which file was missing. We had discussions on that in a different issue, but there wasn't any solution.

[2020-07-17 05:03] gireeshpunathil commented on #33759
Ref: https://github.com/nodejs/node/issues/11520

[2020-07-17 06:14] amiller-gh commented on #34355
Going to go ahead and self-close this one to help keep the backlog tidy :)

I'm fairly convinced this is just the overhead cost of deep cloning, and the sync option outlined above means a standalone function is just syntactic sugar.

If https://github.com/whatwg/html/issues/793 progresses, Node.js may want to consider the extra `v8` method to keep a degree of parity, but for now this can live in u

[2020-07-17 06:14] #34355 closed

[2020-07-17 08:01] mcollina commented on #34401
@indutny every single mid-large company I consulted with use an APM and each one of them __must__ use `async_hooks` to keep track of the context as it's the only way to track native promises. I do not consider `async_hooks` experimental, i.e. we cannot remove it from old version of Node.js without breaking a significant part of our users.

We could design a _better_ API for this use case, but I'm

[2020-07-17 08:37] nrowley commented on #34322
agreed

[2020-07-17 09:46] targos commented on #33927
Okay thanks, I'll close assuming it will be fixed automatically when we release v15.0.0

[2020-07-17 09:46] #33927 closed

[2020-07-17 10:36] richardlau opened #34409 "benchmark/test-benchmark-streams failed"
* **Test**: benchmark/test-benchmark-streams
* **Platform**: Ubuntu1604, IBM i
* **Console Output:**
[code]

The benchmark tests have only recently been (re-?)enabled in https://github.com/nodejs/node/pull/34288 cc @Trott.

* **Build Links**:
- https://ci.nodejs.org/job/node-test-commit-linux/36148/nodes=ubuntu1604-64/
- https://ci.nodejs.org/job/node-test-commit-ibmi/34/nodes=ibmi72-ppc64/

[2020-07-17 10:54] benjamingr commented on #34401
I agree that a better API would be desirable but I am not sure what such an API would look like. I think the "single library can mess things for everyone else" is a problem Node.js has in general - one way we can help is provide better tooling to figure out where the chain "broke".

Like Matteo said - We haven't given people a choice, it's either "use async hooks" or "don't use promises, async awa

[2020-07-17 11:11] richardlau opened #34410 "addons/register-signal-handler/test and abort/test-addon-register-signal-handler failed"
* **Test**: addons/register-signal-handler/test and abort/test-addon-register-signal-handler
* **Platform**: IBM i
* **Console Output:**
[code]

abort/test-addon-register-signal-handler runs the test from addons/register-signal-handler/test with environment variable `ALLOW_CRASHES = true`.
https://github.com/nodejs/node/blob/08e8997d54e2e16a191267a1c8b5676a7486e130/test/abort/test-addon-register-s

[2020-07-17 13:02] Trott commented on #34409
PR to fix: https://github.com/nodejs/node/pull/34411

[2020-07-17 13:59] addaleax commented on #33759
I would suggest that it’s worth figuring out *why* libuv is failing with this error, particularly because it’s OS-dependent.

@MylesBorins I’m available most of next week, maybe we can find some time then :)

[2020-07-17 15:12] Qard commented on #34401
As Matteo said, basically every production Node.js app in existence has some sort of APM running in it, and every single one of them _needs_ to have a CLS implementation of some sort. For _years_ we left that to the community to implement and it resulted in lots of very unstable diagnostics tools. I know dozens of companies that switched to Go exclusively because of this. Our small core ethos has

[2020-07-17 15:41] #34409 closed

[2020-07-17 15:45] MylesBorins commented on #33759
@addaleax next week is tough for me due to TC39. Ping me on chat and maybe we can work something out

[2020-07-17 15:51] MylesBorins commented on #34260
@mhdawson could you add me to the invite link for future events please?

[2020-07-17 15:52] richardlau commented on #34410
Didn't fail in the subsequent manually requested run of the master branch: https://ci.nodejs.org/job/node-test-commit-ibmi/35/

[2020-07-17 16:18] indutny commented on #34401
It seems to me that we are just re-iterating following two views on it:

* I worked with/for N companies that use CLS/ALS in a safe way to do tracing. Incompatibility with ALS is inevitable and edge cases has to be fixed one-by-one, but I need it and therefore it has to be in the core
* I worked with/for N companies that use CLS/ALS in an unsafe way to do context storage with effects on business l

[2020-07-17 16:20] masx200 opened #34413 "How to hot update the certificate and private key of the HTTPS server without restarting the server?"
**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.

How to hot update the certificate and private key of the HTTPS server without restarting the server?

**Describe the solution you'd like**
Please describe the desired behavior.

**Describe alternatives you've considered**
Please describe alternative solutions or features you hav

[2020-07-17 16:56] puzpuzpuz commented on #34401
As a person with some Java background, I'd say that using `ThreadLocal` in order to implement business logic smells a lot. It certainly has some good use cases, like MDC or performance optimizations in concurrent code aimed to avoid contention, but they're more or less opaque for application developers and live in libraries and frameworks.

IMO the same rule should be applied to CLS APIs in node e

[2020-07-17 17:09] benjamingr commented on #34401
I don't think anyone here disagreed with the second point or claimed to like this sort of state. I think everyone was focusing on the first point because it means that in order to build production systems using modern JavaScript in Node.js they _must_ have something like AsyncLocalStorage (or async_hooks).

I think the main reason Node hasn't iterated more on the API is that not a lot of people ar

[2020-07-17 17:12] indutny commented on #34401
I'm not claiming that this is a right thing to do in either of languages/platforms, but of course APIs like that are used for purposes that we may not deem to be correct. For Java it would be "okay", however, because ThreadLocal has specific guarantees about its contents and won't switch them out of blue.

For the time being, we could go with a large disclaimer or warning section for AsyncLocalSto

[2020-07-17 17:14] indutny commented on #34401
@benjamingr

Not really. If we can find where the chain broke, why would it broke in the first place? This is precisely the issue with ALS that worries me.

[2020-07-17 17:16] indutny commented on #34401
I'm not claiming this, but it seems that instead of discussing major fault of the API we are glorifying a subset of its applications.

[2020-07-17 17:39] Flarna commented on #34401
I agree that some warnings/notes regarding the risks and when/why it can fail would be helpful. And maybe even how to improve/reduce this. In special as userland modules can "break" a core API.
Not sure if "unsecure" is the right word here as this somehow indicates that using AsyncLocal/async_hooks somewhere in an application automatically results in an security issue.

There are also warnings/not

[2020-07-17 17:45] indutny commented on #34401
So is the use of home-grown cryptography. I don't see how marking it as "not secure for public use" is hurting APM tools. What such note means is that the person using this should very well be aware of the risks that it poses and understand that when used in an incorrect way it ALS will leak sensitive information.

[2020-07-17 19:15] MylesBorins commented on #34123
I'd like to prod this again... I really think we should consider removing this action and perhaps re-implementing something in our primary CI

[2020-07-17 19:16] MylesBorins commented on #33864
GitHub has released a repo with official guidance

[2020-07-17 19:23] ghermeto commented on #34401
Using "not secure for public use" can cause some users to think APM tools that use ALS are insecure, while that is not exactly true.  How about saying "Users should avoid using it directly. Improper utilization may lead to security issues."? Or something like it...

[2020-07-17 19:34] tniessen commented on #34260
Me too, please.

[2020-07-17 20:11] mmarchini commented on #34123
I'm still +1 on removing it from Actions

[2020-07-17 20:18] tniessen commented on #33864
That's good news, but also means we have to wait "until later this year".

[2020-07-17 21:50] Trott commented on #34389
That fixed it for me! 🎉

[2020-07-17 21:51] addaleax commented on #34389
Great :) I think for a pummel test that is an acceptable solution.

[2020-07-17 22:25] benjamingr commented on #34192
Randomly in case other people run into this and need to decorate an async generator, the "correct" way would be:

[code]

[2020-07-18 07:41] bnoordhuis commented on #34402
Can you post the exact steps and full output? Start with `git clean -dfx`, then `configure` and so on.

[2020-07-18 07:47] bnoordhuis commented on #34395
The rewriting seems to happen completely transparently to Node.js. I don't think there's much we can do.

Point in case: python's `os.access('c:/', os.W_OK)` behaves the same way.

I suggest closing this out.

[2020-07-18 08:14] bnoordhuis commented on #34399
`NODE_OPTIONS` is parsed by `credentials::SafeGetenv()`, which calls `getenv()` from libc/msvcrt, and that function may or may not decode multi-byte sequences properly because... well, it's complicated.

Switching to `uv_os_getenv()` should fix it because that function always performs proper decoding. Untested, but the fix would look like this:
<details>

[code]

</details>

[2020-07-18 08:20] bnoordhuis commented on #34380
You could probably map the concept of JS generators onto C++17 co-routines (promises/async functions, too) but I agree it doesn't need to be part of n-api.

[2020-07-18 09:10] vdeturckheim commented on #34401
I know at least about one other edge case that breaks CLS-like APIS: queues. I have seen apps having a kind of rate-limiting feature by queueing requests, in that case, the current store can be missasociated.

My general opinion on the Async Hooks/AsyncLocalStorage situation is probably the same as expressed by many here:
* we need something to provide such feature
* having it in core has big adva

[2020-07-18 10:07] aleksey-hoffman commented on #34395
@bnoordhuis well, in that case, shouldn't Node docs at least mention the fact that `access` function returns wrong information for some directories and you shouldn't rely on it?

Also what about the method I proposed above, will it slow down the function significantly or cause some other issues?:

[2020-07-18 10:10] Maximillus opened #34418 "Fügen Sie 'new stream.Duplex (options)' docs 'writable' und 'readable' hinzu"
Dies sollte hinzugefügt werden, da es noch nicht existiert

[2020-07-18 11:01] iandrc commented on #34418
Hey @Maximillus

It would be nice if you'll translate your issue into English. I believe more people will be able to help you without the need to open translation services

[2020-07-18 11:38] puzpuzpuz commented on #34401
We have a troubleshooting section in the doc: https://nodejs.org/api/async_hooks.html#async_hooks_troubleshooting, which is not much, but better than nothing.

To provide package maintainers with more information we could write a guide (https://nodejs.org/en/docs/guides/) dedicated to ALS. It could provide an overview of the API with necessary (not all of them) implementation details, mention perf

[2020-07-18 12:56] designMoreWeb commented on #34260
@mhdawson could you please add me to the list as well. Much appreciated

[2020-07-18 19:16] NickEmpetvee opened #34421 "Unexpected "Error: ENOENT: no such file or directory" while successfully deleting file with fs.unlink."
* **Version**: 14.5.0
* **Platform**: Windows
* **Subsystem**:

Weird error... I'm sending the following delete call from Axios in React to my Node / Express file attachment utility in order to delete an uploaded file on disk. The deletion works fine. However after about a minute the node server throws the error: `[Error: ENOENT: no such file or directory, unlink '<PATH>`. It looks like it's makin

[2020-07-18 19:25] Digital-Rookie4 opened #34422 "socket.emit back for sending data to same client who sent it is not working"
In my program I am trying to make the client send data over to the server and after this the data that was sent to the server is sent back to the client who sent the request originally. The only problem I am having is that once the data is sent over to the server it does not seem to want to be sent back to the client who sent it.

client side:

[code]
Server side

[code]
When I look at the console

[2020-07-18 21:09] aleksey-hoffman commented on #34395
@bnoordhuis in that case, shouldn't Node docs at least mention the fact that `access` function returns wrong information for some directories?

Also what do you guys think about the following solution? Would it cause any issues?:

[2020-07-18 23:17] robey commented on #34346
i think i managed to make a test script which will reliably crash under linux:

[code]

which gives

[code]

[2020-07-18 23:27] noseratio commented on #13678
Here's another workaround, the credit for which goes [here](https://stackoverflow.com/a/60328122/1768303):

[code]

@rektide, you might be interested in this. Although it isn't a Node issue, I agree with your points we should be extend the `Promise` class and do a check like `myDeferred instanceof Deferred`.

[2020-07-19 01:40] bnoordhuis commented on #34395
That's the perennial question of how much OS trivia to list. You're welcome to open a documentation PR and see how it's received.

There's a section on Windows ACLs so there's some precedence. On the other hand, the entry for `fs.access()` is already pretty big for such an ostensibly simple function.

That's not a change node would make but of course you're free to use it in your own code. Node's

[2020-07-19 02:00] dtboy1995 opened #34425 "any command from npm will report errors"
### env
[code]
### log
[code]
Any help is very much appreciated

[2020-07-19 03:56] xRiiZu commented on #25733
![vps core dumped error](https://user-images.githubusercontent.com/57549308/87866643-e29da800-c949-11ea-86ee-d9cec81a35a6.png)
Anyone have an idea of what can be wrong??

[2020-07-19 06:13] #34054 closed

[2020-07-19 08:22] bnoordhuis commented on #25733
@xRiiZu Look at the stack trace, report it to better-sqlite3.

[2020-07-19 09:32] rickyes opened #34427 "Local run test failed: benchmark/test-benchmark-napi"
* **Version**: master
* **Platform**: macOS x64
* **Subsystem**:  maybe N-API

### What steps will reproduce the bug?
`make -j4 test` following failures will occur:

[code]

### How often does it reproduce? Is there a required condition?
Always

[2020-07-19 17:22] rashidvali opened #34429 "crypto module reference error"
* **Version**:12.18.2
* **Platform**:Windows 10
* **Subsystem**: Chrome v.83.0.4103.116

### What steps will reproduce the bug?
I do import in my module:
import * as crypto from 'crypto'

and call the following:
let hx = crypto.randomBytes(Math.ceil(1));

### How often does it reproduce? Is there a required condition?
permanent

### What is the expected behavior?
It has not to throw an error and h

[2020-07-19 17:47] Qard commented on #34401
We just need better docs. The AsyncResource docs explain a bit about why you should be using that to fix gaps in the graph, but you wouldn't know to look for that if you're looking at the AsyncLocalStorage part of the docs. It's not particularly clear that the two APIs are linked.

As for the associated _risks_ of context loss or adopting an incorrect context, that seems like a somewhat lesser ris

[2020-07-19 17:57] ronag opened #34430 "Should EventEmitter extend AsyncResource?"
Would simplify some things and make it more ergonomic to ensure async context propagation in various API's. Though probably with some performance impact?

[2020-07-19 18:31] gslopez commented on #15464
:(

[2020-07-19 18:32] puzpuzpuz commented on #34401
Better documentation for `AsyncResource` is certainly important and worth improving, but it won't give users a general understanding of best practices for ALS. That seems to be the main problem here.

[2020-07-19 18:48] devsnek commented on #34430
I'm not an expert, but events are dispatched synchronously. So if you emit an event in some async code, the context should already be correct?

[2020-07-19 19:03] ronag commented on #34430
Not at all. Depends on what the root of the event is. e.g. most stream events would need a runinasynccontext when backed by e.g. a socket.

[2020-07-19 19:03] wsxiaoys commented on #34115
https://github.com/PixelShiftAI/node-shared-build/actions/runs/169326880

FYI we've built node 14.2.0/14.5.0 successful into shared libraries on Android arm64.

There was some attempts on ia32/arm/x86_64, but not much progress so far.

[2020-07-19 21:27] addaleax commented on #34430
I think this generally makes sense, for the same reason that the `domain` module, in addition to tracking async context, also monkey-patched the `EventEmitter` class to provide for this.

Also, just for context, there is some previous discussion in https://github.com/nodejs/node/issues/33723.

[2020-07-19 21:34] devsnek commented on #34430
oh is this about propagating the context that was active when the emitter instance was created?

[2020-07-19 21:41] addaleax commented on #34430
That’s a valid question. Either we propagate the context of when the emitter was created, or the context of when the listener was registered.

My understanding of how async_hooks works, and my understanding of what makes sense here for e.g. ALS, would be to use the *async id* of the listener registration, but the *async trigger id* of the emitter creation. In particular, for this:

[code]

I think

[2020-07-19 21:43] ronag commented on #34430
This has always confused me. What is the practical difference of these two? i.e. how would I consume them differently?

[2020-07-19 21:51] addaleax commented on #34430
@ronag My understanding is that the async id propagates the *when* of an async call, and the trigger async id propagates the *why*. I think we’re definitely lacking a clear definition that can be applied programatically here, though.

[2020-07-19 22:27] #34389 closed

[2020-07-19 22:50] Qard commented on #34401
Yep, I mean we should have some more prominent references to `AsyncResource` in the the docs for `AsyncLocalStorage` along with some explanation of the need for manual context binding in certain cases.

[2020-07-20 01:59] Trott commented on #34427
`make test` should not run the benchmark tests. Are you sure this is how you arrived at this error?

The benchmark tests require `bench-addons-build` so as a workaround, running `make bench-addons-build` should take care of this. However, `bench-addons-build` should run automatically if you run `make test-benchmark` or `make test-ci`, so I'm interested to know how this came about....

[2020-07-20 02:10] rickyes commented on #34427
@Trott  I've confirmed the following problem with `make test`, and by the way, `make test-only` will get the same error.

[2020-07-20 02:13] Trott commented on #34427
I was able to replicate the problem by running `make test-ci-js`. `bench-addons-build` is a prerequisite for `test-ci`, but it should probably be for `test-ci-js`. I'll open a PR to fix that at least.

[2020-07-20 02:13] Trott commented on #34427
That's really puzzling. This is an unmodified `master` branch? I would think to make benchmark tests run with `make test`, you'd need to have a modified `Makefile` or a modified `tools.test.py`.

[2020-07-20 03:01] rickyes commented on #34427
Yeah, I haven't changed any of the code to run the `make test`.

As we discussed on https://github.com/nodejs/node/issues/34321, it should be that make test will not run benchmark.

Follow https://github.com/nodejs/node/blob/a51436cbea0d216f260453321a15fdce72ee28d3/Makefile#L298-L301 and https://github.com/nodejs/node/blob/a51436cbea0d216f260453321a15fdce72ee28d3/Makefile#L497 Description, Executi

[2020-07-20 03:33] Trott commented on #34427
Yes. That's an error. 😞 Will fix....

[2020-07-20 03:35] gengjiawen commented on #34201
I am not familiar with icu, which part involved into this ? Is `unknown machine: 0` comes from icu code or clang ?

[2020-07-20 06:40] gengjiawen commented on #32257
This is fixed by @mmalecki patch for gyp.

[2020-07-20 06:40] #32257 closed

[2020-07-20 06:42] gengjiawen opened #34435 "ninja build failed when build with quic"
build with:
[code]

Result:
[code]

Env:
[code]

cc @joyeecheung

[2020-07-20 06:46] targos commented on #34201
I think the problem comes from this file: https://github.com/nodejs/node/blob/a51436cbea0d216f260453321a15fdce72ee28d3/deps/icu-small/source/tools/toolutil/pkg_genc.cpp

During compilation, the following printf: https://github.com/nodejs/node/blob/a51436cbea0d216f260453321a15fdce72ee28d3/deps/icu-small/source/tools/toolutil/pkg_genc.cpp#L1156

[code]

[2020-07-20 06:50] puzpuzpuz commented on #34260
@mhdawson could you add me to the invite list as well? Many thanks in advance.

[2020-07-20 06:52] targos commented on #34435
I cannot reproduce without `--experimental-quic`. @gengjiawen is that option mandatory to fail the build?

[2020-07-20 06:56] gengjiawen commented on #34435
I remove the `--experimental-quic` flag, the build passed. cc @nodejs/quic

[2020-07-20 07:22] denghongcai commented on #17474
@bnoordhuis how about reopen this issue?

I get same problem here.

testcase: https://github.com/denghongcai/node-vm-sourcemap-test-case

not working step (use vm):
[code]

working step (no vm):
[code]

seems if vm run code with inline sourcemap, it will not be parsed by chrome devtools?

[2020-07-20 07:51] Raynos commented on #33605
I was looking at using ESM again and sharing some ideas on twitter ( https://twitter.com/Raynos/status/1285109697662640130 ).

Having importSync() available would help migrate to ESM without breaking all my commonJS users.

[2020-07-20 07:58] jefgen commented on #34201
The value of 0 for cpu comes from here:
https://github.com/nodejs/node/blob/a51436cbea0d216f260453321a15fdce72ee28d3/deps/icu-small/source/tools/toolutil/pkg_genc.cpp#L787

From the comment in the file:
[code]
I wonder if maybe the linker for clang doesn't handle `IMAGE_FILE_MACHINE_UNKNOWN` the same as the linker for MSVC...?

IIRC, the reason `IMAGE_FILE_MACHINE_UNKNOWN` was set, was to produce

[2020-07-20 08:01] bnoordhuis commented on #17474
@denghongcai Can you open a new issue? Thanks.

[2020-07-20 08:36] mishal23 commented on #21885
@ificator thanks for your solution! It worked for me on Windows

[2020-07-20 09:48] denghongcai opened #34437 "debug code run inside vm doesn't support inline sourcemaps"
* **Version**: v14.5.0
* **Platform**: Darwin Kernel Version 19.5.0
* **Subsystem**: vm
* **Chrome Version**: 86.0.4207.0

### What steps will reproduce the bug?

testcase: https://github.com/denghongcai/node-vm-sourcemap-test-case

I insert a `debugger` statement in `src/index.ts` 's `sayHello` method

not working step (use vm):
[code]
in devtools, no sourcemap detected
![image](https://user-imag

[2020-07-20 10:23] richardlau commented on #34410
Has not reoccurred on any of the subsequent daily builds.

[2020-07-20 10:51] Digital-Rookie4 opened #34438 "socket.emit back for sending data to same client who sent it is not working"
In my program I am trying to make the client send data over to the server and after this the data that was sent to the server is sent back to the client who sent the request originally. The only problem I am having is that once the data is sent over to the server it does not seem to want to be sent back to the client who sent it.

client side:

[code]
Server side
[code]
When I look at the console

[2020-07-20 12:10] devsnek commented on #33605
so, we're not ever going to have importSync. cjs to esm interop is a problem we'd like to solve but it wouldn't be in this manner, and I think we already have other issues tracking this more generally, so I'm going to close this.

[2020-07-20 12:10] #33605 closed

[2020-07-20 12:12] devsnek commented on #34437
can you report this to https://bugs.chromium.org/p/chromium? devtools bugs are in their scope.

[2020-07-20 12:52] bnoordhuis commented on #34438
Closing, duplicate of https://github.com/nodejs/help/issues/2860 (which you might've noticed I deliberately moved there.)

[2020-07-20 12:52] #34438 closed

[2020-07-20 13:23] nhathongly commented on #22149
I’ve got the same issue with node.js 12.x. Either setInterval or setTimeout unexpectedly stop without any error after some few weeks.

[2020-07-20 13:26] MylesBorins commented on #33864
We can run a test, but when I changed a repo on Friday the redirect was working.

We could test this on another repo in the org first.

I can also follow up with that team internally and see if we can get it turned on for us.

[2020-07-20 13:46] Raynos commented on #33605
Could you link to the more general issue for using esm from cjs ? I just did a search and could not find anything.

[2020-07-20 14:06] devsnek commented on #33605
@Raynos https://github.com/nodejs/modules/issues/454

[2020-07-20 14:29] gengjiawen commented on #34435
Debug stacktrace, Full log: https://github.com/gengjiawen/node-github-workflow/runs/889159038#step:6:4392

[code]

[2020-07-20 14:34] addaleax commented on #34435
Maybe `--experimental-quic` isn’t applied correctly when building the `node_mksnapshot` binary?

[2020-07-20 14:37] Digital-Rookie4 commented on #34438
Where can I find the solution then!

[2020-07-20 16:31] addaleax opened #34441 "Nominating @rickyes as a collaborator"
Hi all! I’d like to nominate @rickyes as a Node.js collaborator, since they have been quite active for a while on the nodejs/node repository.

Commits in nodejs/node: https://github.com/nodejs/node/commits?author=rickyes
Pull requests and issues in nodejs/node: https://github.com/nodejs/node/issues?q=author:rickyes
Comments on pull requests and issues in nodejs/node: https://github.com/nodejs/node

[2020-07-20 16:39] masx200 opened #34443 "tls addContext should check typeof context"
**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.

tls addContext should check typeof context

**Describe the solution you'd like**
Please describe the desired behavior.

https://github.com/nodejs/node/pull/34442

**Describe alternatives you've considered**
Please describe alternative solutions or features you have considered.

[2020-07-20 16:47] addaleax commented on #34443
Hi @masx200! Just fyi, you don’t usually need to open issues if you also open a pull request.

[2020-07-20 17:01] Raynos commented on #33605
Oh it's not in this repository. And there's this PR which was already referenced ( https://github.com/nodejs/node/pull/30891 )

[2020-07-20 17:50] masx200 commented on #15115
https://github.com/nodejs/node/pull/34444

[2020-07-20 17:51] masx200 commented on #4464
https://github.com/nodejs/node/pull/34444

[2020-07-20 18:22] ljharb commented on #33864
I've seen comments that indicate that blob links redirect but tree links don't (or the reverse); so it may not be a complete feature yet.

Given the large number of open PRs on this repo, it seems like "silently retargeting open PRs" would be a pretty helpful feature to have too.

[2020-07-20 18:37] #33002 closed

[2020-07-20 19:06] bnb commented on #33864
@MylesBorins I doubt CommComm folks would have any issue changing some of our repos, if you'd like to go with that.

[2020-07-20 19:53] maxeber commented on #15464
Has this been addressed? It is also driving me crazy aha

[2020-07-20 20:34] MylesBorins commented on #33864
@bnb if ya'll wanna pick a repo we can work from there.

Maybe nodejs.dev?

[2020-07-20 21:44] jasnell opened #34448 "stream: non-readable Duplex async construct race condition"
@nodejs/streams @ronag

Try..

[code]

Outputs:

[code]

Note that the auto-destruction of the `Duplex` does not appropriately wait for the completion of the async `_construct()`. Changing the construction options to `{ readable: true }` causes the code to work as expected:

[code]

Outputs:

[code]

[2020-07-20 22:07] mhdawson commented on #34260
@puzpuzpuz @tniessen @MylesBorins @designMoreWeb there is no "invite list" but there might be a notification through team mention once we get a team setup.

[2020-07-20 22:09] designMoreWeb commented on #34260
Thank you for the information, much appreciated. what are the requirements to be a team member ? Also as a team member what are the responsibilities and tasks that one undertakes ?

[2020-07-20 22:13] bnb commented on #33864
nodejs/community-committee or nodejs/examples are both low-risk repos that we could try. nodejs.dev is a more complex repo that could also work. I'm up for helping out with any.

[2020-07-20 22:42] bnoordhuis commented on #34402
No follow-up, closing.

[2020-07-20 22:42] #34402 closed

[2020-07-20 23:09] masx200 opened #34451 "Should we add a new api, "tls.Server.prototype.removeContexts(servername)" and "tls.Server.prototype.replaceContext(servername,context)" ?"
**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.

https://github.com/nodejs/node/issues/34110
https://github.com/nodejs/node/pull/34444

After adding the context with "tls.Server.prototype.addContext", the context corresponding to the specified servername cannot be deleted. Should we add a new api, "tls.Server.prototype.removeC

[2020-07-20 23:16] pubmikeb opened #34452 "Add a native support of Argon2 hashing algorithm"
**Is your feature request related to a problem? Please describe.**
Currently Node.js provides a native support of `scrypt`, which is good but isn't the most secure option.

**Describe the solution you'd like**
It would be great to have a native support of `argon2` via `crypto` module, just like `scrypt` has nowadays.

**Describe alternatives you've considered**
An [`argon2`](https://www.npmjs.com/

[2020-07-21 00:51] joyeecheung commented on #34435
@addaleax Yeah I am pretty sure it's the case (the macro isn't defined for the mksnapshot build..come to think of it, neither is mkcodecache) which I guess also loop back to https://github.com/nodejs/node/issues/31074. I'll work on a fix

[2020-07-21 02:21] denghongcai commented on #34437
@devsnek ok, https://bugs.chromium.org/p/chromium/issues/detail?id=1107705

still keep this issue open, don't know whether it is related to Node.js implementation about multi context debug

[2020-07-21 04:14] cookiengineer commented on #34115
@wsxiaoys Could you compile only against API level 23 and node v14.2.0? Did you have to change any of the $CONFIGURE_OPTIONS via environment variable?

[2020-07-21 06:01] wsxiaoys commented on #34115
This is the 14.2 build on API 23:
https://github.com/PixelShiftAI/node-shared-build/runs/871353578?check_suite_focus=true

CONFIGURATION_OPTIONS is set to `--without-npm --with-intl=small-icu --shared`

[2020-07-21 06:49] kjarmicki commented on #34430
@addaleax Could `enterWith(store)` be an answer here? Modifying your example:
[code]
On v12.18.2 the store is still available in the callback.
As far as I understand `enterWith`, the store should not leak to other requests, so would there be any reason not to use it like that?

[2020-07-21 08:50] pimterry commented on #34296
Any thoughts on this, pinged people?

Right now I'm still shipping new code dependent on this API, because there's no easy alternative. It'd be really useful to get an idea of whether there's hope that it'll be undeprecated, or whether I seriously need to start looking at the practicality of extracting the existing built-in module as a native node addon.

[2020-07-21 09:03] svdHero opened #34458 "Nodejs installation fails when trying to install visualstudio2017-workload-vctools"
### System

* **Version**: 14.5.0
* **Platform**: Windows Server 2012 R2

### What steps will reproduce the bug?

1. Download latest Nodejs version here: https://nodejs.org/dist/v14.5.0/node-v14.5.0-x64.msi
2. Install the msi
3. Choose the option to install additional tools
4. Confirm the execution of the installation script
5. Wait until installation fails

### How often does it reproduce? Is the

[2020-07-21 09:48] bnoordhuis commented on #34452
https://github.com/openssl/openssl/issues/4091 - until openssl adds support for it, there's nothing actionable for Node.js.

I'm going to close this for now but it can be reopened once upstream support materializes.

[2020-07-21 09:48] #34452 closed

[2020-07-21 09:56] bnoordhuis commented on #34451
The problem is that it's really difficult to know when it's safe to remove a context.

Removing it when it's still in use results in segfaults and even when it's gone from node's internal bookkeeping, all kinds of reference counting inside openssl can still keep it alive.

[2020-07-21 11:03] addaleax commented on #34430
@kjarmicki That might work in your case, but it probably only does so by accident – in order to actually consume the content of `req`, you’ll need to read from `req` or discard its contents using `req.resume();`, and at least as far as I can tell the deciding factor is whether the *resume* call happens inside the ALS scope or not. Event listeners don’t interact with ALS at all so far by themselves

[2020-07-21 11:09] bzoz commented on #34458
What is your exact windows version (you can run `winver` to get it)

[2020-07-21 12:02] #34121 closed

[2020-07-21 12:23] kjarmicki commented on #34430
@addaleax oh, ok :slightly_smiling_face:

So the _right way_ would be to wrap the `end` event with a Promise, correct?
[code]

[2020-07-21 12:24] addaleax commented on #34430
@kjarmicki I’m not sure what you mean by “the right way”, but that should work (and using `await events.once(req, 'end')` would work as well). But this discussion here is specifically about whether EventEmitter should also propagate async context on its own.

[2020-07-21 12:28] kjarmicki commented on #34430
@addaleax by "the right way" I meant that it wouldn't be an accident that it works.
Thank you for the replies, and I'm not derailing the discussion anymore :wink:

[2020-07-21 12:37] ronag commented on #34430
That answers part of my question. Though I'm still unsure when & how I would practically use e.g. trigger id.

[2020-07-21 12:45] jasnell commented on #34430
Fwiw, I tried this once and performance of EventEmitter dropped tenfold. A better approach (albeit less ergonomic) would be to either emit from within the context you wish to propagate, or bind the handler function to it.

[2020-07-21 13:00] addaleax commented on #34430
The problem with this is that we basically end up recommending that everybody adds async tracking manually, which will:

- Not add the perf overhead to the EE implementation itself, so our benchmarks look nice, but in reality the overhead is still there, we just don’t *measure* it
- Lead to a lot of modules in the wild which will never be updated to account for this

[2020-07-21 13:27] bzoz commented on #34458
Could you run the tools install script again (it should be in the start menu)? This might be just a temporary issue with choco.

[2020-07-21 13:28] masx200 commented on #34451
https://github.com/nodejs/node/blob/78cd10860818725a1197b34a76e8b8cc81f53326/lib/_tls_wrap.js#L1436

https://github.com/nodejs/node/blob/78cd10860818725a1197b34a76e8b8cc81f53326/lib/_tls_wrap.js#L1411

[2020-07-21 13:33] masx200 commented on #34451
I think the operation of "removeContexts" will not affect existing connections, but will only affect new connections in the future.

[2020-07-21 13:51] mcollina commented on #34296
I think it's possible to undeprecate it and make it a public module. However this is significant work: from API design, hardening against user input, docs and tests.

@pimterry Would you like to work on this?

[2020-07-21 14:08] pimterry commented on #34296
Yes, I can do that.

I'm very happy to write docs & tests for the existing implementation as I understand it. I can start prepping an initial PR for that straight away, if there's appetite for it.

Is there specific hardening & API design work you have in mind? Happy to work on that if somebody can point me in the direction of outstanding issues there.

[2020-07-21 14:43] jasnell commented on #34296
No particular opinions on this. If it's useful to userland then ok by me

[2020-07-21 15:13] svdHero commented on #34458
I had already run it five or six times throughout the day, before posting this issue here. No improvements.

[2020-07-21 15:29] marknorrapscm commented on #15464
Also getting this all of a sudden.

![image](https://user-images.githubusercontent.com/34408415/88074470-5a98e780-cb6f-11ea-9a52-f000633eba6c.png)

[2020-07-21 15:30] bnb commented on #34260
@mhdawson what I generally do for that is just add folks to the calendar invite :)

[2020-07-21 15:53] jasnell commented on #34430
It's a fair point, but really, not everyone is going to need the async tracking and shouldn't need to incur the cost. Perhaps an additional option would be feasible here? Similar to `captureRejections`, something that ensures that when `emit()` is called the context propagates -- or a separate `emitWithContext()` type of option that does the same? Again, not as ergonomic but avoids the performance

[2020-07-21 15:56] masx200 commented on #34451
"tls.Server.prototype.removeContexts(servername)" should be the reverse operation of "tls.Server.prototype.addContext(servername,context)"

[2020-07-21 15:58] ronag commented on #34430
Maybe an opt-out option? i.e. default to the most "correct" option but allow to opt-out when performance is critical and the user explicitly accepts the "risks".

[2020-07-21 16:04] masx200 commented on #34451
"tls.Server.prototype.replaceContext(servername,context)" Its role should be the operation of "tls.Server.prototype.removeContexts(servername)" and "tls.Server.prototype.addContext(servername,context)"

[2020-07-21 16:30] mcollina commented on #34296
@addaleax wdyt?

[2020-07-21 16:35] richardlau commented on #34410
I've still not seen this fail again. Stress run (100x): https://ci.nodejs.org/job/node-stress-single-test/141/nodes=ibmi72-ppc64/

[2020-07-21 16:50] jasnell commented on #34430
Let's implement and benchmark. If the performance hit is too significant, then let's make it opt-in for 14 and 15 with the plan to make it opt-out for 16. This gives folks a reasonable transition period.

[2020-07-21 17:16] addaleax commented on #34296
I don’t see any problem with this – I’d probably put it onto the `net` module instead of having it be its own public module.

That being said: I’m not sure whether this really helps covering the listed use cases – at least HTTP/2, HTTP/1 and TLS should all accept any kind of Duplex stream as the underlying connection, whether it’s wrapped into a `net.Socket` or not, because they use `_stream_wrap`

[2020-07-21 18:01] #34448 closed

[2020-07-21 18:40] richardlau commented on #34410
The 100x stress run all passed.
Here's another with 1000x: https://ci.nodejs.org/job/node-stress-single-test/143/nodes=ibmi72-ppc64/

If that passes then I'm leaning towards closing this as unrecreatable.

[2020-07-21 19:25] addaleax commented on #34369
This nomination is accepted now! :tada:

@DerekNonGeneric What’s a good way to reach out to you to schedule an onboarding session?

[2020-07-21 19:28] addaleax commented on #34168
This nomination is accepted now – congratulations!

@AshCripps What’s a good way to reach out to you for an onboarding sessoin? (Also, is that something that other IBMers like @mhdawson @BethGriggs are interested in doing?)

[2020-07-21 19:35] addaleax commented on #34130
@JianmingXia I think it depends on whether you remove the listeners while the `Worker` object is having `.on('message')` listeners or not.

[2020-07-21 19:35] #34130 closed

[2020-07-21 19:43] DerekNonGeneric commented on #34369
I will be checking email, and reply as soon as I can.

[2020-07-21 19:45] addaleax commented on #33477
@mscdex Not that I know of, but I would also consider that a non-concern for us.

[2020-07-21 19:49] APshenkin opened #34466 "Invalid sha3-256 (keccak) hash calculation"
* **Version**: v12.18.2
* **Platform**: 19.4.0 Darwin
* **Subsystem**:

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?
All hashes

### What is the expected behavior?
keccak 256 (sha3-256) hash for providen example should be `93080e10f4ec2cb19200eb4d4d99354bbd44835f5e937d649f1af2c2c315c36d`

But nodeJS return `27fda7692f30c1a887596445

[2020-07-21 19:52] APshenkin commented on #34466
My fault https://ethereum.stackexchange.com/questions/30369/difference-between-keccak256-and-sha3

[2020-07-21 19:52] #34466 closed

[2020-07-21 19:57] DerekNonGeneric commented on #34369
You can also add me to Google Hangouts once the email is sent and I will accept the invitation. :)

[2020-07-21 19:59] mscdex commented on #33477
Why a non-concern? It's very useful to userland because the performance difference is significant when using `new FastBuffer()` directly vs. `Buffer.alloc()` (and even `Buffer.allocUnsafe()`).

[2020-07-21 20:00] addaleax commented on #33477
Hm. My understanding of https://github.com/syg/proposal-rm-builtin-subclassing#typedarray is that it would not fall back to using `.constructor` either, and instead the methods would just always create `Uint8Array`s… I guess the question is whether we’re okay with that as a breaking change or not?

How about a PR to expose the `FastBuffer` constructor then? I think that using `Buffer[Symbol.specie

[2020-07-21 21:09] mhdawson commented on #34168
I'm happy to do it, but if @BethGriggs would like to do that would make sense as they are in the same office/timezone.  @BethGriggs just let me know which you'd prefer?

[2020-07-21 21:11] mhdawson commented on #34260
@bnb I'm involved in too many meeting to be willing to manage calendar invites. Happy to have a volunteer do that if there is one though.

[2020-07-21 21:15] mhdawson commented on #34260
@designMoreWeb I don't think there would be a requirement to join the team, as the discussion is meant to be open to those who want to contribute.

Still have not had time to get back to next steps on this, but if people have thoughts on how to manage invites etc and are willing to help do it I'm open to all ideas.

[2020-07-21 23:02] BethGriggs commented on #34168
Yeah, I'm happy to do the onboarding (having shadowed a few onboarding sessions over the past weeks with @addaleax). I can arrange a time directly with @AshCripps

[2020-07-21 23:13] #27261 closed

[2020-07-21 23:13] #34361 closed

[2020-07-22 01:30] mmm8955405 opened #34474 "When the push method returns false, the event on ('data ') still reads data"
In the latest stable version of nodejs, windows 10 environment
A simple implementation of stream duplex stream.
When the push method returns false, the event on ('data ') still reads data

`const myDuplex = new Duplex({

read(size) {

// ...

}

write(chunk, encoding, callback) {

// ...

}

};

for(var i=0; i<1000; i++){

console.log (myDuplex .push("aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

[2020-07-22 05:16] cookiengineer commented on #34115
@wsxiaoys: When using your script, I got all kinds of linker problems, because LD_host and LD_target were not set. Which linker are you using? `ld`?

(for reference)

[code]

[2020-07-22 05:41] wsxiaoys commented on #34115
Yes it just use the default `ld`.

Guessing you could just pull the official github action image and try the script inside and compare the environment difference?

[2020-07-22 07:00] bnoordhuis commented on #34418
The `Duplex` documentation says this:

And that's where the `.readable` and `.writable` properties are inherited from. I don't think they need to be documented again for `Duplex` but if you feel differently, please open a documentation pull request.

[2020-07-22 07:00] #34418 closed

[2020-07-22 07:00] cookiengineer commented on #34115
The issue is that a successful build with only "LD=`which ld`" will lead to a segfaulting node binary.

Did you verify on Android that the binary actually works?

[2020-07-22 07:13] bnoordhuis commented on #34451
@masx200 I think you misunderstand my previous comment.

`server._contexts` is an array of `SecureContext` objects. The array exists in JS land in order to look up the right context based on the `servername` property. Removing elements from that array is not the issue.

The issue is that removing a `SecureContext` from the array doesn't mean it's no longer in use. There are a bunch of C++ resource

[2020-07-22 07:14] bnoordhuis commented on #34395
I'm going to close this as a wontfix. You're still welcome to open a documentation pull request, of course.

[2020-07-22 07:14] #34395 closed

[2020-07-22 07:39] Pwndrian commented on #30730
@sibelius Seems like this won't be fixed in Node 12, as it is blocked by another issue (that won't be fixed in Node 12, neither): https://github.com/nodejs/node/pull/30681

[2020-07-22 08:16] cal6 opened #34475 "crash - node_http_parser.cc:713 - assertion failed"
* **Version**:
v14.6.0

* **Platform**:
Darwin MacBook-Pro.local 19.5.0 Darwin Kernel Version 19.5.0: Thu Apr 30 18:25:59 PDT 2020; root:xnu-6153.121.1~7/RELEASE_X86_64 x86_64

### What steps will reproduce the bug?

Unknown. It used to be a random crash in production (1..10 times a day) but somehow I managed to make it permanent :)
Even if i stash all the changes, crash is still there.

### How o

[2020-07-22 09:51] bzoz commented on #34458
Tried it, works on my Windows Server 2012 R2 VM. I did get that big JSON error message about connection reliability, but VS2017 was installed anyway.

Could you try running from an elevated prompt:
[code]

Also, could you check if your system is up-to-date? No pending updates, etc.?

[2020-07-22 10:10] masx200 commented on #34081
https://github.com/nodejs/llhttp/issues/11

[2020-07-22 11:12] masx200 opened #34477 "merge nodejs/llhttp version 2.1.1 into nodejs/node"
**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.

merge nodejs/llhttp version 2.1.1 into nodejs/node

https://github.com/nodejs/llhttp/blob/master/package.json

https://github.com/nodejs/node/issues/34081

**Describe the solution you'd like**
Please describe the desired behavior.

**Describe alternatives you've considered**
Ple

[2020-07-22 11:13] addaleax commented on #34475
Is there anything you can tell us about your application here? Are you doing something “unusual” in terms of managing HTTPS connections?

[2020-07-22 11:18] svdHero commented on #34458
Thanks for your ongoing help. I tried your update command from a `cmd` run as admin. I still get the same error message:
[code]

I will check for pending updates later and report back to you.

[2020-07-22 11:27] richardlau commented on #34410
Those all passed too. At this point I'm going to close as unrecreatable. We can always reopen if it does reoccur.

[2020-07-22 11:55] svdHero commented on #34458
There were 2 updates and 5 optional updates pending. I installed them an run again. No improvement. Still the same error message.
This is my chocolatey log file from `C:\ProgramData\chocolatey\logs\chocolatey.log`:
[chocolatey.log](https://github.com/nodejs/node/files/4959776/chocolatey.log)

Any ideas what to try next? I am kind of desperate to find a solution. This machine is our local build ser

[2020-07-22 11:59] svdHero commented on #34458
@bzoz Do you happen to know how the file `C:\ProgramData\chocolatey\lib\visualstudio2017-workload-vctools\tools\ChocolateyInstall.ps1` looks like?
Maybe this could be related to #33140 and the above file also uses the wrong Powershell version swallowing some sort of TLS error?

[2020-07-22 12:47] bzoz commented on #34458
Hm.. now when I look at the log I see this:
[code]

Do you have maybe other VS products installed? Maybe try running VS Installer - it should be in the start menu or in
[code]

If this fails you can try manually installing VS2017.

[2020-07-22 12:58] svdHero commented on #34458
We have certainly Visual Studio 2019 installed and (maybe) Visual Studio 2013. I have to check the latter one, though...

[2020-07-22 12:59] svdHero commented on #34458
We certainly do not have Visual Studio 2017 installed. But I assume now everybody who wants to use nodejs needs a Visual Studio 2017 license, right?

[2020-07-22 12:59] seisdr commented on #34477
@masx200
hey I'm compiling nodejs v14.6.0 on i386 32bit system is it supported?

[2020-07-22 13:26] #34242 closed

[2020-07-22 13:27] puzpuzpuz commented on #8871
Closing this one as #34048 has landed. Please let me know if you still face the same behavior, so I could reopen the issue.

[2020-07-22 13:37] #34435 closed

[2020-07-22 13:44] seisdr opened #34478 "nodejs v14.6.0 error while compiling"
I been trying to build nodejs for 3 days now haha
here's the output
[code]

[2020-07-22 13:47] bzoz commented on #34458
There is a free community edition.

You might not have VS2017 installed, but it shares the installation tool with other products. The error message looks like the installer complaining it is not up-to-date. Please check if you don't have anything in `C:\Program Files (x86)\Microsoft Visual Studio\Installer` or some other VS product in the start menu.

[2020-07-22 13:49] svdHero commented on #34458
Okay, so there was Visual Studio 2017 Build Tools installed already. I have no idea why `choco` did not find it or what was wrong with it.
However, following your suggestion, I launched the VS Installer and installed `Visual Studio C++ build tools` manually.
Thankfully, this resulted in:
[code]

So in a nutshell: The original problem is still a mystery to me, but the manual installation did the jo

[2020-07-22 13:49] #34458 closed

[2020-07-22 14:00] richardlau commented on #34478
What OS/arch are you compiling for? You could try to see if https://github.com/nodejs/node/pull/33044 makes a difference.

[2020-07-22 14:02] seisdr commented on #34478
32bit x86

[2020-07-22 14:08] richardlau commented on #34478
I think this is a duplicate of https://github.com/nodejs/node/issues/33019.

[2020-07-22 14:16] seisdr commented on #34478
do I need to compile it again

[2020-07-22 14:17] seisdr commented on #34478
as https://github.com/nodejs/node/issues/33019#issuecomment-652547863

[2020-07-22 15:15] Crusader4Christ commented on #34328
node
Welcome to Node.js v12.16.1.
Type ".help" for more information.

...   const a = new Array(10).fill(0)
...   for (let i = 0; i < 1e8; i++) {
.....     await Promise.all(a.map(() => Promise.resolve()))
.....     if (i % 1e5 === 0) {
.......       console.log(Math.round(process.memoryUsage().heapUsed / 1024 / 1024), 'MB')
.......     }
.....   }
... })()
Promise { <pending> }

208 MB
457 MB
380

[2020-07-22 16:37] gabrielschulhof opened #34481 "node test/benchmark/test-benchmark-napi.js eats your memory"
`node test/benchmark/test-benchmark-napi.js` will not run unless you run `make bench` first. If you do though, it'll run silently, consuming more and more memory, and eventually eating into your swap. I didn't wait to see whether it would finish before it got oom-killed.

[2020-07-22 17:17] #34427 closed

[2020-07-22 17:47] gabrielschulhof commented on #34481
NM

[2020-07-22 17:47] #34481 closed

[2020-07-22 18:15] eugene-kim commented on #27261
@towry are you still seeing this issue? I just upgraded my version of node to `12.18.3` from `12.18.2` and I'm still getting the same error when debugging jest tests in VSCode.

CC: @addaleax

## Error output:
[code]

## `launch.json` config:

[code]

[2020-07-22 18:28] ericleb010 commented on #27261
Same error here with 12.18.3 installed just now.

[2020-07-22 18:30] connor4312 commented on #27261
Anna just fixed this issue yesterday -- it will be a few days before it's released in (I assume) a Node 14 build 🙂

[2020-07-22 20:02] jensbodal opened #34484 "Breaking Intl change after 12.16.3"
* **Version**: 12.18.3
* **Platform**: OSX
* **Subsystem**:

### What steps will reproduce the bug?

[code]

**working in 12.16.3**

[code]

**broken in 12.17.0 (version immediately after 12.16.3) and 12.18.3 (12@latest) and 14.6.0 (latest)**
[code]

### How often does it reproduce? Is there a required condition?

100% for versions I've tested after `12.16.3`

### What is the expected behavior?

D

[2020-07-22 20:30] seisdr commented on #34478
I just want to download dependencies of project it failed so I'm guessing I'm need to download least version of nodejs or I don't need? it gonna a long time to compile anyway
here's the error output
[code]

[2020-07-22 20:40] eugene-kim commented on #27261
Ah, you're right @connor4312. The PR (https://github.com/nodejs/node/pull/34362) for the change isn't in the [`12.8.3` changelog](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V12.md#12.18.3). I don't know why I assumed it would be. Ignore my comment please @addaleax @joyeecheung and thank you for your work!

[2020-07-22 21:11] seisdr commented on #34478
[code]

[2020-07-22 23:09] abhishekmadhu opened #34485 "NodeJs v12.18.3 not supported by bundled npm v5.5.1 on Ubuntu 20"
I installed **node.js LTS (v12)** using instructions [here](https://github.com/nodesource/distributions/blob/master/README.md#installation-instructions)

Upon installation, I see proper results with `node -v` (v12.18.3) and `npm -v` (v5.5.1)

**But trying to use npm throws an error:**
[code]

**My System information is here:**
[code]

[2020-07-22 23:12] abhishekmadhu commented on #34485
Contents of /home/*****/.npm/_logs/2020-07-22T22_56_12_979Z-debug.log (if required)

[code]

[2020-07-22 23:41] nmalyschkin opened #34486 "util function to statically resolve ESM dependency trees"
## What:

Add a utlilty function to resolve ECMAScript Module dependency trees. The function should accept a file path and return an array of dependencies.

### example

[code]

[code]

## How:

Use the existing code that resolves dependencies for imports.

Mixing CJS and ESM is not possible, since CJS modules are loaded on execution.

## Why:

When loading ESM files from clients like browsers or

[2020-07-23 00:02] devsnek commented on #34486
It's surprisingly easy. Check out https://github.com/devsnek/http2-push-parser/blob/master/index.js

[2020-07-23 06:47] chacent opened #34490 "Error [ERR_OPERATION_FAILED]: Operation failed: Unable to create QuicStream"
* **Version**:15.0.pre
* **Platform**:centos
* **Subsystem**:

### What steps will reproduce the bug?

### repeat to open and pipeline

Error [ERR_OPERATION_FAILED]: Operation failed: Unable to create QuicStream
    at new NodeError (internal/errors.js:253:15)
    at QuicServerSession.[kMakeStream] (internal/quic/core.js:2147:22)
    at QuicServerSession.openStream (internal/quic/core.js:2134:7)

[2020-07-23 07:18] AdirAmsalem opened #34491 "node v12.18.3 doesn't work with npm v6.9.2 and below"
* **Version**: `12.18.3`
* **Platform**: (Mac) `Darwin 18.7.0 Darwin Kernel Version 18.7.0; root:xnu-4903.278.12~1/RELEASE_X86_64 x86_64`

### What steps will reproduce the bug?

Running the following throws an error:
[code]

Running the same with node `12.18.2` and npm `6.9.2` works as expected (older node versions are ok).
Running the same with node `12.18.3` and npm `6.10.0` works as expected (

[2020-07-23 09:58] lulu5239 opened #34492 "Error "Cannot read property 'resolve' of undefined""
* **Version**: 14.6.0
* **Platform**: Windows 10 (64 bits)

### What steps will reproduce the bug?
When I try to install anything with `npm i amodule`, there is the error.

### What do you see instead?
[This.](https://cdn.discordapp.com/attachments/462546170770620416/735796974342635610/Erreur_nodejs.png)

### Additional information
My version of NPM is 6.14.6.

[2020-07-23 10:54] bzoz commented on #34492
Cannot reproduce.

Can you add --verbose to the npm command? Like: `npm i npm --verbose`? And paste the output as a text here inside triple quotes like this:
<pre>
[code]
</pre>

[2020-07-23 11:01] lulu5239 commented on #34492
I tried and I got [this](https://cdn.discordapp.com/attachments/462546170770620416/735813773511884920/unknown.png).

[2020-07-23 11:39] BethGriggs commented on #34168
Onboarding scheduled for today :tada:

[2020-07-23 12:10] danielgindi opened #34493 "AsyncLocalStorage kills 97% of performance in an `async` environment"
* **Version**: 12.18.3
* **Platform**: macos
* **Subsystem**: async_hooks

### What steps will reproduce the bug?

[code]

Output:
[code]

### How often does it reproduce? Is there a required condition?

In any case that `await` is used.

### What is the expected behavior?

Should be around 10% penalty.

### What do you see instead?

I see 97% reduction in performance.

### Additional information

[2020-07-23 12:19] bzoz commented on #34492
You might try running this from a different folder than the one where Node.js is installed. And also - in the future, copy and paste the text from the console.

[2020-07-23 12:25] pimterry commented on #29902
I'm having a similar-looking segfault issue in my server, only when using HTTP/2. @lomaster1 / @addaleax did you ever get to the bottom of this?

Reproducible for me in node 10.15.3, 10.21.0 and 12.18.3.

I'm also wrapping streams up as sockets in some cases in my app, using the built-in `_stream_wrap`, but I've now disabled that everywhere and I'm still seeing this behaviour, so I'm fairly confid

[2020-07-23 12:46] #34168 closed

[2020-07-23 13:21] Leigh-M commented on #15464
Yeah mine's the same.. still stopping on <node_internals> despite being correctly included in the skipFiles launch config  -  Arrghh!  I think mine's maybe related to a source mapping issue  (babel/webpacked source code)

[2020-07-23 14:12] jasnell commented on #34490
@chacent,

we would need much more information about this before we can help. The QUIC stuff is still under active development, is not yet supported, and will still have many bugs. There's a big PR that just landed this morning that touches this entire area.

Closing as inactionable but we can reopen if it continues to be an issue

[2020-07-23 14:12] #34490 closed

[2020-07-23 14:31] mhdawson commented on #34484
My first guess is that it may be related to these commits in 12.17.0

[5c0232a632] - deps: backport ICU-21081 for ICU 67.x (constexpr) (Steven R. Loomis) #33337
[2d76ae7497] - deps: update to ICU 67.1 (Michaël Zasso) #33337

From the changelog here: https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V12.md#2020-05-26-version-12170-erbium-lts-targos

@srl295, @obensource

[2020-07-23 14:50] #31595 closed

[2020-07-23 15:34] srl295 commented on #34484
@jensbodal

I think it's _intentional_ and not a bug.
1. A linguistic string change is not necessarily a breaking change. There should not be anything depending on the exact string used, as this information can and does change.
2. The request doesn't make a lot of sense: you are specifying a day of _some month_ and a year.  Are you looking for "day of year"? Today is the 205th day of the year, but

[2020-07-23 17:53] hamoudchohan commented on #34491
Facing the same issue on Ubuntu 20.04.

npm ERR! cb.apply is not a function

[2020-07-23 17:55] qballer opened #34495 "[test] Error: Cannot find module './build/Release/addon'"
* **Version**: v15.0.0.0-pre
* **Platform**: Linux doron-ThinkPad-T480 4.15.0-111-generic #112-Ubuntu SMP Thu Jul 9 20:32:34 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: test-benchmark-nap (?)

### What steps will reproduce the bug?
 - clone project
- ./configure
- make -j4
- make test -j4

### How often does it reproduce? Is there a required condition?
Always.

### What is the expecte

[2020-07-23 18:35] MarcGodard commented on #27916
So I recently started seeing this in my console after a switch to firefox browser, and noticed that it happens a lot when the tools are closed or disable cache is disabled. With cache disabled, I don't seem to have an issue. Sorry if this is the wrong venue for this question, but how do I debug this?

[2020-07-23 18:38] richardlau commented on #34495
This should have been fixed by https://github.com/nodejs/node/commit/3caa2e256bd403e0fb06cfbefc0338462f2c60d9.

[2020-07-23 18:58] pimterry commented on #34296
Absolutely, makes sense to me.

For the CONNECT case, you're actually completely right @addaleax, I'm wrong - the stream wrapper isn't required with node's built-in servers. In my case at the time I was using [node-spdy](https://github.com/spdy-http2/node-spdy) for HTTP/2 with Express compatibility. That builds on `net.Server` directly, and does make strong assumptions that connections are sockets

[2020-07-23 19:00] pimterry commented on #29902
Ok, I'm not sure if I've narrowed down the root cause, but I've found a reliable workaround.

Currently, I accept CONNECT requests over HTTP/1, and then call `server.emit('connection', socket)` after the initial setup for my HTTP/2 server, effectively passing the tunnelled connection right back to myself. It sounds like @lomaster1 might be doing something similar. That looks like this:

[code]

If

[2020-07-23 19:25] voxsoftware commented on #27711
Any way to set insecureHTTPParser option as global?

[2020-07-23 19:41] mhdawson commented on #34260
Issue to request new repo: https://github.com/nodejs/admin/issues/534

[2020-07-23 19:46] mhdawson commented on #34260
Added to calendar for next week Wed July 29 at 10 EST. See https://calendar.google.com/calendar/embed?src=nodejs.org_nr77ama8p7d7f9ajrpnu506c98%40group.calendar.google.com

 We agreed to use the slots used for the TSC meetings, but alternate weeks.

[2020-07-23 19:47] mcollina commented on #34296
@pimterry is that the only use case? If so it might be better to just expose that somehow. I think it'd be a pretty nice feature to have.

[2020-07-23 19:49] mhdawson commented on #34260
I'll open the issue to discuss the content of the first action we discussed which was to land something like a

goals_and_priorities.md in the node core repo. From the discussion the initial thoughts on the content would be:

* Intro
* Mission
* Value of the project (prioritized)
* Key technical priority areas that have been agreed.

[2020-07-23 19:50] mhdawson commented on #34260
Since we don't have repo/issue generator yet at mention to those who joined last time and who have shown interest in invite:

[2020-07-23 19:51] mhdawson commented on #34260
FYI - Next meeting set for July 29 - 10 EST - see https://github.com/nodejs/node/issues/34260#issuecomment-663198232
* Michael Dawson (@mhdawson)
* Divy Tolia (@designmoreweb)
* Bradley Farias (@bmeck)
* Andrey Pechkurov (@puzpuzpuz)
* Richard Lau (@richardlau)
* Chengzhong Wu (@legendecas)
* Beth Griggs (@BethGriggs)
* Bryan English (@bengl)
* Darcy Clarke (@darcyclarke)
* Matheus Marchini (@mmar

[2020-07-23 20:01] mhdawson commented on #34260
PR to add meeting automation once we have the repo approved: https://github.com/nodejs/create-node-meeting-artifacts/pull/96

[2020-07-23 20:08] devsnek commented on #34260
I'm also hoping to show up

[2020-07-23 20:22] poojaynaik commented on #34162
Hello SheetJSDev,

Can you please tell me how did you upgrade the npm?
my Node version is v14.6.0 and NPM is 4.6.1
I manually degrade the npm version for some reason and now I wanted to upgrade it to the latest.
I tried doing it manually using commands like npm install -g npm@latest and  npm install -g npm@5.6.0 but getting error as **npm ERR! cb.apply is not a function**
Can you please assist me?

[2020-07-23 20:26] SheetJSDev commented on #34162
We didn't really "fix" the problem, all we did was just skip downgrading.  https://github.com/SheetJS/sheetjs/commit/93ec51ec76efb751162114f91e693019597b3471 shows what we did for travis -- the script only messes with npm if the node version is in the v0.8.x range

To bail out of a broken npm situation, you can use something like `nvm` or `n` to switch node+npm versions (go down to 12, back up to

[2020-07-23 20:59] qballer commented on #34495
The issue seems fixed by the latest pull

[2020-07-23 20:59] #34495 closed

[2020-07-23 21:03] addaleax commented on #34296
Okay, two things:

- node-spdy is doing things that Node.js cannot reasonably be considered supportable by us, and, from my experience, breaks quite frequently after Node.js updates.
- HTTP/2 should support `h2Server.emit('connection', socket)`, just like HTTP/1 does. I think the main problem here is the unshifted data? That’s something that we can (and should) take care of, yes.

[2020-07-23 21:05] addaleax commented on #34296
i.e.: I think this issue might be an X-Y problem, and all that might be needed here are bug fixes in order to account for the above use case.

[2020-07-23 21:36] MylesBorins commented on #34123
Going to go ahead and close this as we remove windows+ osx from the action, which were AFAIK the platforms that were failing

[2020-07-23 21:37] #34123 closed

[2020-07-23 21:46] pimterry commented on #34296
I'm not using node-spdy (it is indeed quite broken in places right now), so that fine by me.

That said, I can imagine cases of other libraries that expect sockets, where as a user it'd be useful to be able to provide a fake socket from a stream instead, or where the library itself wants to support both easily.

For example, if you wanted to implement any other application protocol server on top o

[2020-07-23 21:51] addaleax commented on #34296
I do consider it supported (and it’s tested). Maybe the documentation could be a bit clearer on this as well :+1:

[2020-07-23 22:25] iandrc opened #34500 "console.assert() prints 'Assertion failed' when called with no arguments"
* **Version**: `14.6.0`
* **Platform**: `Darwin Kernel Version 19.5.0 root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64`
* **Subsystem**: `console`

### What steps will reproduce the bug?
1. Create a file, e.g. `index.js`
2. Add the following content:
[code]
3. Run the file with the following command: `node index.js`
4. Observe the console output: `Assertion failed`

### How often does it reproduce? Is

[2020-07-23 22:34] addaleax commented on #34500
I think the TypeScript definition may be the one that’s off here – as you note, the Console spec does not mark `condition` as an optional argument, and to me it seems to match the principle of least surprise if `console.assert()` does log an assertion error (because the first argument, in that case, is `undefined`, which is false-y).

[2020-07-23 22:37] iandrc commented on #34500
@addaleax yes, your point is more than valid yet the issue here that it's a bit unexpected result. So, I propose either to handle this directly in the code or at least provide some documentation on this.

[2020-07-23 22:40] addaleax commented on #34500
@iandrc How would we document this better on the Node.js side? https://nodejs.org/api/console.html#console_console_assert_value_message and https://developer.mozilla.org/en-US/docs/Web/API/console/assert also don’t mark the argument as optional. We could explicitly state that “Not passing arguments to `console.assert()` will be treated like `console.assert(undefined)`”, but the problem I see with

[2020-07-23 22:46] iandrc commented on #34500
@addaleax that's a tough one. The best idea I've come up so far is to do smth like this (I believe it could be done with a slightly better wording):
<pre>
A simple assertion test that verifies whether <b>value</b> is truthy. If it is not <i>or no value provided</i>, Assertion failed is logged.
</pre>

I know that's a bit odd proposal, yet that may confuse someone if they'll call `console.assert()`

[2020-07-23 22:46] addaleax commented on #34500
@iandrc Yeah, I think that’s just fine. Feel free to open a PR with that if you like :)

[2020-07-23 22:47] shivarv commented on #34491
same issue for me too in windows

[2020-07-23 22:47] iandrc commented on #34500
@addaleax will do. Thanks for the good discussion :)

[2020-07-23 23:19] mcollina commented on #34430
I don't think this is feasible, but it's probably worthwhile to try anyway. Firstly, there are a lot of events that are sync in nature, don't need to forward the async context for which this would be pure overhead: an example of this are all the `'data'` event during a `.pipe()`. Secondly, this might be breaking anybody actually relying on EE being a small, efficient utility.

I think one of the c

[2020-07-23 23:37] addaleax commented on #34430
@mcollina I think it might be helpful if you could explain why you consider this a problem? Is the problem the monkey-patching, or the integration of domains and EEs at all?

[2020-07-24 05:20] qballer commented on #33643
Hey, I would like to work on the PR as the first contribution to Node. Will be working on this tonight

[2020-07-24 06:28] #34341 closed

[2020-07-24 06:29] rickyes commented on #34061
@jasnell  @Trott I can't find a way to fix it. Any good suggestions?

[2020-07-24 07:45] mcollina commented on #33643
@qballer I'm sorry but there seems to be a PR already open for this :(.

[2020-07-24 07:59] #34189 closed

[2020-07-24 08:47] CurlyMoo commented on #11307
I hate to reopend this issue, but i experience the exact same bug in a pure C program using libuv as the async i/o backened. I've been trying to debug this for months before i got to the state that i found the cause could be dangling sockets. I never experience the issue myself, but a user of my software @NiekD experienced it in a daily matter. So i finally got access to his machine to debug this