[2020-10-05 18:42] addaleax commented on #27261
No – the fix is in v14.7.0 and will be released in [v12.19.0](https://github.com/nodejs/node/pull/35401) as well once that is out, you can subscribe to the latter issue to get updates on the release progress

Yes, it’s just a matter of time of waiting for the v12.x release (unless you’re seeing this on v14.7.0+ or v12.19.0+, in which case you best open a new issue. :slightly_smiling_face: )

[2020-10-05 19:15] aduh95 commented on #35506
Interestingly, when using `data:` `URL`, the primitive object is passed to the error handler as in 14.6.0:

[code]

[code]

[2020-10-05 19:40] guybedford commented on #35507
I'd argue this is by design. A path has deduplicated `//` separators. If anything I would argue that the `file:` URL spec is incorrect in not supporting `//` deduplication since there exists no pathing schemes on file systems that actually distinguish this.

[2020-10-05 20:28] awsirkis commented on #35489
I was running the module in the wrong mode. Gets you every time (👍

https://github.com/nuxt/nuxt.js/issues/3271

[2020-10-05 20:28] #35489 closed

[2020-10-05 20:41] bmeck commented on #35507
@guybedford I think it could be argued in either direction for different reasons, but to me the lossy behavior being only on 1 end is both odd and a bit hard to explain. The real oddity to me here is that if a filesystem were to exist that did support empty filenames (S3 for example supports this) it would be odd to normalize in the runtime rather than leaving it to the OS. Is there a reason to im

[2020-10-05 21:49] daveisfera opened #35510 "deasync hangs with --experimental-specifier-resolution=node"
* **Version**: 14.12.0
* **Platform**: macOS 10.15.6
* **Subsystem**:

### What steps will reproduce the bug?
1. Load test repo: https://github.com/daveisfera/mocha_deasync
2. Run `yarn test` and verify it works with `esm`
3. Run `yarn spec` and verify that it hangs when node's ESM support

### How often does it reproduce? Is there a required condition?
100%

### What is the expected behavior?
Run

[2020-10-05 21:51] daveisfera commented on #35510
Also, just tried without `--experimental-specifier-resolution-node` (i.e. use an explicit path in the import) and it hangs as well

[2020-10-06 03:05] Zclhlmgqzc commented on #35465
Works fine

node-v12.2.0/lib/internal/fs/streams.js

[code]

[2020-10-06 04:54] drewswanner commented on #35356
Hi, So what I am seeing is I believe this is the file that needs to be edited: lib/internal/http2/core.js

function initOriginSet(session) {
  let originSet = session[kState].originSet;
  if (originSet === undefined) {
    const socket = session[kSocket];
    session[kState].originSet = originSet = new Set();
    if (socket.servername != null) {
      let originString = `https://${socket.servernam

[2020-10-06 06:24] guybedford commented on #35507
To be honest I think we've hit a real gap here between the spec and the reality, and siding with the spec only continues to ignore reality.

[2020-10-06 06:29] #31673 closed

[2020-10-06 06:30] guybedford commented on #35507
Specifically, I think we should add a new URL normalization function (`fileURLNormalize` or something) to any operation which deals with file URL resolution, that will dedupe repeated `/` characters, and possibly do percent encoding deduping in future as well.

I don't see any issue though with this function being lossy. Lossiness is a feature not a bug.

[2020-10-06 06:31] guybedford commented on #35507
One could even define `fileURLNormalize = pathToFileURL(fileURLToPath(url))` actually.

[2020-10-06 07:49] himanshupareek commented on #26143
Yes, I am also getting the same issue

[2020-10-06 09:29] mcollina commented on #27556
I just want to note that this comment was addressed in https://nodejs.org/en/blog/vulnerability/september-2020-security-releases/. There is a new `requestTimeout` configuration option that can be set in case Node.js is deployed without a reverse proxy/load balancer in front.

[2020-10-06 09:29] #27556 closed

[2020-10-06 10:28] imshines opened #35513 "Error: Cannot find module 'C:\Users\shine\AppData\Roaming\npm\node_modules\npm\bin\npx-cli.js'"
* **Version**: v12.18.4
* **Platform**: Windows 10 64-bit
* **Subsystem**: N/A

### What steps will reproduce the bug?

I have installed Nodejs 12.18.4 using NVM.
While running the npx command eg. npx create-react-app or npx.

### How often does it reproduce? Is there a required condition?

I have tried unistalled and tried reinstalling the Nodejs. But still it didn't work and repeats the same err

[2020-10-06 12:03] legendecas commented on #29849
This PR has no further action to take. Closing for now.

[2020-10-06 12:03] #29849 closed

[2020-10-06 15:03] bmeck commented on #3462
Reopening in particular to discuss dealing w/ `data:` URLs in a cross compat way. In particular code of the form:

[code]

as @mikeal points out, writing this in a cross compat way is rather disruptive since you start having to sniff for what base64 utils are available.

----

@nojvek can you clarify the version and polyfill issue? Do you mean loading a polyfill if the function is missing? Because

[2020-10-06 15:05] daveisfera opened #35518 "Crash when using NODE_OPTIONS=--experimental-specifier-resolution=node with some .bin executables"
* **Version**: 14.13.0
* **Platform**: macOS 10.15.6
* **Subsystem**:

### What steps will reproduce the bug?
`NODE_OPTIONS=--experimental-specifier-resolution=node node_modules/.bin/semver --version`

### How often does it reproduce? Is there a required condition?
100%

### What is the expected behavior?
Runs just like when `NODE_OPTIONS` isn't set

### What do you see instead?
This error:
[code]

[2020-10-06 15:13] fdgonthier opened #35519 "Don't "exit" android-configure, which is meant to be "source"d"
* **Version**: 12.18.4
* **Platform**: Linux

### What steps will reproduce the bug?

Run android-configure, as prescribed, but without parameters

source ./android-configure

This will terminate my shell window.

### What is the expected behavior?

Just show the error message and return.

### Additional information

PR will soon follow.

[2020-10-06 15:17] bmeck commented on #3462
looking at WHAT spec btoa/atob only handle strings with 8bits, so emoji etc. will throw errors, likely those APIs are not sufficient, but I do not see a web API that does universal base64 transformation except [FileReader.prototype.readAsDataURL](https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL).

[2020-10-06 15:42] zbjornson commented on #26143
@kkmoslehpour @himanshupareek the error message says what the problem is: use `msecs: 1000` instead of `msecs: "1000"`. The PR attached to this issue fixes how sockets are connected after this kind of setup error.

[2020-10-06 17:02] rahbari commented on #33156
We used node 12.4 for so long because of https://github.com/nodejs/node/pull/33875, Now we upgraded to 14.12 and after two days, this exception has happened more than 4 times at random times and this caused so many problems for example all pending DB updates are gone. I wonder why an error in one of the http2 stream should kill the whole process and can't even be catched in uncaughtException.
@jas

[2020-10-06 17:49] MylesBorins commented on #3462
for base 64 there is https://en.wikipedia.org/wiki/Base64#RFC_4648

I have helped to maintain a library that has quite a bit of usage in this space

https://github.com/brianloveswords/base64url with 877k weekly downloads.

Could be worth looking at that for API inspiration

[2020-10-06 20:58] jfgaudreault-p opened #35526 "Unclear behavior of HTTP REQUEST with KEEP ALIVE and concurrent server side socket closing"
* **Version**: v14.13.0
* **Platform**: Linux 4.15.0-117-generic #118-Ubuntu SMP Fri Sep 4 20:02:41 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

### What steps will reproduce the bug?

You need to have a web server with keep alive configured with a known keep alive idle connection timeout. For example 5 seconds was used in my test case.

Then run a sample node.js HTTP client that will prediocally do a

[2020-10-06 21:34] swebs commented on #34709
I have this same problem. I experience it when the vscode server fails to start in a qemu kvm. I tried running `node` directly (the one provided in the vscode server directory) and it worked the first time, but then errored out when I tried it again, see output below.

[code]

[2020-10-06 21:45] nschonni opened #35530 "CI setup for nodejs.org release notes"
**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.

Currently the blog post for new releases is a manual process as mentioned in https://github.com/nodejs/node/blob/b15ed6515323ec6cae2bde78feabf805c2fbb6b1/doc/guides/releases.md#17-create-a-blog-post

**Describe the solution you'd like**
Please describe the desired behavior.

Whe

[2020-10-06 22:48] MylesBorins commented on #35530
@codebytere and I were just talking about what we could do to automate the creation of the Release. One challenge we might find would be that the tag is generally pushed before the release is promoted and the assets / signatures are ready.

[2020-10-06 22:55] nschonni commented on #35530
So I think maybe limiting to the `published` release type would allow controlling that

[2020-10-07 02:17] codebytere commented on #35530
One potential avenue here is firing off the blog post job via `repository_dispatch` hook and the new version when the assets are promoted as part of the release shell script - i'd be happy to throw together a quick prototype for that over on the website repo with a description of what the POST request would need to look like!

[2020-10-07 02:23] nschonni commented on #35530
Whatever works best for you, since it's currently your manual process :)
You might want to take a look at https://github.com/nodejs/docker-node/pull/1337 on how docker-node will be sending the PR cross repo. The same bot token could probably be used here.

[2020-10-07 05:28] andersk opened #35536 "Background node process corrupts terminal state with tcsetattr() on exit"
* **Version**: v14.9.0
* **Platform**: NixOS 21.03, Linux 5.8.11 x86_64
* **Subsystem**: `ResetStdio` in `src/node.cc`

In Bash, run the following:

[code]

This launches `node -e 'setTimeout(() => {}, 2000)'` in the background and `sleep 1` in the foreground. After 1 second, control returns to Bash. After 2 seconds, Node exits and corrupts Bash’s terminal state:

* the ↑, ↓, →, ← arrow keys start

[2020-10-07 05:32] dnlup commented on #34651
The branch I suggested does nothing about this problem which is more related to the ClientRequest itself and not to IncomingMessage. Sorry for spamming.

[2020-10-07 05:37] targos commented on #35530
The creation of the GitHub release sounds like a good event since it's the last step of the releaser's job. Everything should be ready at that point

[2020-10-07 08:20] OmgImAlexis commented on #8258
Randomly just hit this or something similar myself. Using node v14.13.0 and npm v6.14.8 on macOS 10.15.7 (19H2).

[code]

[2020-10-07 09:29] vishalsevani commented on #28404
Any update on this?

I open 200 parallel ssh connections in my application. Unfortunately the devices in my network only use DiffieHellman for ssh key exchange.

With node 12.18.3 and Ubuntu 20.04 my application works properly. But with node 12.18.3 and CentOS 8.2, all the ssh connections get timed out with CPU at 100% all the time (more details [here](https://github.com/mscdex/ssh2/issues/934)).

[2020-10-07 11:41] alois31 opened #35538 "listen: Misleading error message when directory of IPC socket does not exist"
* **Version**: v15.0.0-pre (built from source on commit 40364b181d44ba90b6ce7cda4f9e3297581121c5)
* **Platform**: Linux (hostname) 4.19.0-11-amd64 #1 SMP Debian 4.19.146-1 (2020-09-17) x86_64 GNU/Linux
* **Subsystem**: net

### What steps will reproduce the bug?

Input:
[code]

Output (when run as script):
[code]

When run directly in the node prompt, the output is different, but the difference is

[2020-10-07 11:42] Trott commented on #35309
* **Platform**: ubuntu1804_sharedlibs_debug_x64
* **Console Output**:

[code]
* **Build Links**: https://ci.nodejs.org/job/node-test-commit-linux-containered/nodes=ubuntu1804_sharedlibs_debug_x64/22684/console

[2020-10-07 11:58] FeGarFro opened #35539 "Windows is flagging node as unsafe"
I don't if it is actually an issue, but on windows 10 pro 1909 build 18363.1110, when downloading Edge already blocks the installer, and when executing the file, windows prompts a warning about unsafe, tampering files.

[2020-10-07 12:05] Trott commented on #35309
The test seems inherently flaky, likely on all or nearly all platforms. I don't even need to run it concurrently locally to get it to fail. Here's a stress test to see if we can get a handle on how often it fails. https://ci.nodejs.org/job/node-stress-single-test/185/

[2020-10-07 16:04] silverwind opened #35543 "tls: Ability to have both SNICallback and context for non-SNI requests"
**Is your feature request related to a problem? Please describe.**

I want to use `SNICallback` to dynamically set the TLS context for SNI requests while having the ability to also send a default context for non-SNI requests. This is not possible currently because:

1. If `SNICallback` alone is specified, it will be used for requests that include `servername` but if no servername is present, a TLS

[2020-10-07 17:30] Xilis commented on #27363
@yokomotod if you're asking for v12, v12.19.0 contains the fix

https://github.com/nodejs/node/compare/v12.18.4...v12.19.0#diff-feaf3339998a19f0baf3f82414762c22

https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V12.md#12.19.0

[2020-10-07 17:57] Skuggomann commented on #35539
I am getting the same warning on https://nodejs.org/dist/v12.19.0/node-v12.19.0-x64.msi but https://nodejs.org/dist/v12.18.4/node-v12.18.4-x64.msi works fine. Tested it on two windows machines.

[2020-10-07 18:56] #33734 closed

[2020-10-07 19:23] MylesBorins commented on #34753
Removing agenda label. Please re-add if there is more for us to discuss in the meeting

[2020-10-07 19:24] MylesBorins commented on #33460
Dropping the label. @ljharb is going to work on this

[2020-10-07 20:08] mmarchini commented on #34770
Just throwing an idea here: we could use the `pull_request_target` event to run a lean commit queue check before actually queuing. The lean check would run everything but wouldn't push (to avoid having two jobs running in parallel pushing, which could create a racing condition), so collaborators will get quicker feedback.

[2020-10-07 20:13] silverwind commented on #35543
Actually after testing again, case 2 already seems to work as expected, closing.

[2020-10-07 20:13] #35543 closed

[2020-10-07 21:39] 2hk222 opened #35548 "doc: https://chaturbate.com/in/?tour=7Bge&campaign=pD9hD&room=2hk"
# 📗 API Reference Docs Problem

- **Version**: ✍️

- **Platform**: ✍️

- **Subsystem**: ✍️

## Location

_Section of the site where the content exists_

Affected URL(s):

- https://nodejs.org/api/✍️

## Description

_Concise explanation of the problem_

✍️

---

- [ ] I would like to work on this issue and
      submit a pull request.

[2020-10-07 21:41] spanditcaa commented on #35548
Yea, that looks legit.

[2020-10-07 21:49] splitice opened #35549 "quic: setSecureContext"
**Is your feature request related to a problem? Please describe.**
QUIC (to be released) sockets in NodeJS currently lack the ability to change parameters of the SSL context like the TLS socket (https://nodejs.org/api/tls.html) which provides `setSecureContext`. This has particular use in changing the SSL key and certificate without requiring the termination of existing connections. This is partic

[2020-10-07 21:49] splitice commented on #35549
@jasnell

[2020-10-07 21:56] 2hk222 opened #35550 "doc:"
# 📗 API Reference Docs Problem

- **Version**: ✍️

- **Platform**: ✍️

- **Subsystem**: ✍️

## Location

_Section of the site where the content exists_

Affected URL(s):

- https://nodejs.org/api/✍️

## Description

_Concise explanation of the problem_

✍️

---

- [ ] I would like to work on this issue and
      submit a pull request.

[2020-10-07 23:03] mmomtchev commented on #23981
I am looking at this and in fact the change is very simple to implement
However, as the keepAliveTimeout is enabled by default, this has the effect of modifying the way some default timeouts work and it will require readjusting a certain number of existing unit tests - async-hooks/test-graph being one of them
Thus, the PR will get treated as a potentially breaking change and it will never make it

[2020-10-08 00:27] #678 closed

[2020-10-08 00:57] codebytere commented on #35506
Looks like a consequence of https://github.com/nodejs/node/commit/0aa3809b6b - i don't _think_ this should be expected behavior but @addaleax can likely confirm

[2020-10-08 01:05] addaleax commented on #35506
Right – this should not be happening, it’s a bug :+1:

[2020-10-08 02:15] MylesBorins commented on #35539
/cc @nodejs/build @nodejs/platform-windows @nodejs/releasers

[2020-10-08 03:13] Trott commented on #35404
Closed in c208a20f9c4bdf4d8dc57d14629

[2020-10-08 03:14] #35404 closed

[2020-10-08 05:53] masx200 commented on #35549
i support it

[2020-10-08 11:30] gengjiawen commented on #32582
The tricky thing is that qemu doesn't run windows. This also make testing the build hard.

[2020-10-08 11:43] richardlau commented on #35539
It's most likely related to the new signing certificate: https://github.com/nodejs/build/issues/2415

[2020-10-08 12:40] arlac77 commented on #35483
I can confirm fixed with 14.13.1

[2020-10-08 12:40] #35483 closed

[2020-10-08 13:00] mcollina commented on #23981
I think the current behavior is correct. A connection is flagged as keep alive _after_ the first request is received because the client signals it to the server with the `Connection: keep-alive` header. Node.js applies the `keepAliveTimeout` when it can assume that it is a keep alive connection.

Note that https://nodejs.org/api/http.html#http_server_requesttimeout should also help.

[2020-10-08 13:00] #23981 closed

[2020-10-08 16:24] PoojaDurgad opened #35559 "node crashes when v8.getHeapSnapshot is called in succession."
* **Version**: v14.13.1
* **Platform**: linux
* **Subsystem**: v8

### What steps will reproduce the bug?

[code]

### What is the expected behavior?

no crash, the API returns streams

### Additional information

I can easily recreate it, so any more info can be collected if needed.

[2020-10-08 16:36] joyeecheung commented on #35559
Can you post the stack trace here?

[2020-10-08 22:20] mhdawson commented on #35212
@bcoe I know you are up to speed on the coverage front.

[2020-10-08 22:50] aduh95 commented on #34770
There is a race condition when the cron job runs moments after the `commit-queue` label is added, because adding labels on PR triggers the `staleAction` GH Action: https://github.com/nodejs/node/pull/35410#issuecomment-705861333

[2020-10-08 22:58] nonara opened #35564 "Terminal callback error"
* **Version**: v14.0.0
* **Platform**: win / *nix

In a multi-threaded scenario, above a certain number of threads, a particular API has started firing the `end` event with truncated response data (less than the reported value in headers). When this happens, all threads get cut off in a similar fashion.

I'm reasonably certain that this is a firewall / server issue which is causing all outgoing co

[2020-10-08 23:07] mmarchini commented on #34770
The commit queue should skip if Actions is still running, when it does that race condition should be considerably mitigated (it won't be completely gone but the window for the race condition to happen will be a lot smaller).

[2020-10-08 23:32] boneskull commented on #35103
I think what's happening is that Node.js' native module system is taking over, when you want to be using `esm` instead.  I got it to work by doing this:

1. Rename `settings.js` to `settings.mjs`
1. Rename `test.js` to `test.mjs`
1. Ensure the `import` statement points to `settings.mjs` (_not_ `settings` or `settings.js`); it must have a file extension
1. Add `{"esm": {"force": true}}` to your `pa

[2020-10-09 06:24] PoojaDurgad commented on #35559
@joyeecheung - Thanks for the reply and here is the stack trace of the code.
[code]

[2020-10-09 14:17] mmomtchev commented on #23282
I tried reproducing the original issue and for me everything works as expected
Tested on Linux and Windows 10 with Node 12 and Node 14
I tried both ```request.timeout``` parameter on creation and ```request.setTimeout()``` call after creation
Does anyone still have this issue on a recent version?

[2020-10-09 14:50] mhdawson commented on #34730
Occurred in CI run today as well: https://ci.nodejs.org/job/node-test-commit-osx/36606/

[2020-10-09 14:51] mmomtchev commented on #24953
Still reproducible on Node 12 but not on Node 14/master

[2020-10-09 16:34] richardlau commented on #35504
nearform machines are back. Will attempt to cherry-pick https://github.com/nodejs/node/pull/27364 to see if that fixes things.

[2020-10-09 16:36] baselwebdev commented on #33741
Thanks for this thread, was facing the same issue. More precise error message would definitely help people.

[2020-10-09 16:57] richardlau commented on #35504
Cherry-picked 3b2633e0bf9f719e9496f59914e2a2ff4aa9a050 and 546d6cdd9e70a9e25b3c43e88d3acac875a478f8 across to `v10.x-staging`.

Test V8-CI: https://ci.nodejs.org/job/node-test-commit-v8-linux/3455/

[2020-10-09 17:23] rmisev opened #35571 "URL spec change: file URL reparse issue"
See https://github.com/whatwg/url/pull/550
Tests: https://github.com/web-platform-tests/wpt/pull/25989

[2020-10-09 18:27] special-character opened #35572 "Updating to node 12.19.0 from 12.18.4 crashes my application"
* **12.19.0**:
* **Darwin Brandons-MacBook-Pro.local 19.6.0 Darwin Kernel Version 19.6.0: Mon Aug 31 22:12:52 PDT 2020; root:xnu-6153.141.2~1/RELEASE_X86_64 x86_64**:

### What steps will reproduce the bug?

I am not entirely sure what is using `12.19.0` but after updating from `12.18.4` my app crashes with the following error in node:

[code]

### How often does it reproduce? Is there a required

[2020-10-09 18:27] richardlau commented on #35504
Cherry picking the test changes gives us a green CI on `v10.x-staging` 🎉.

[2020-10-09 18:27] #35504 closed

[2020-10-09 18:34] bcoe commented on #35212
I believe this used to work ™️. When/if we figure out an approach for `--cpu-prof`, let's make sure we apply it to coverage too.

Most importantly, let's make sure we add a regression test (_could have sworn we had won, funny enough_).

[2020-10-09 18:35] mmomtchev commented on #23169
The reason you get so much ECONNRESETs on OS X is that OS X lingers sockets very aggressively. In fact, curl always closes its socket by a RST, instead of a normal FIN/ACK exchange.
One thing to try is to curl from another host, Linux, for example to your OS X host - you will get an EPIPE on the external facing socket (which will receive a FIN/ACK from Linux), but you will still get an ECONNRESET

[2020-10-09 18:58] daveisfera opened #35573 "node only using half of the available memory"
* **Version**: 12.19.0
* **Platform**: Debian Buster
* **Subsystem**:

### What steps will reproduce the bug?
1. Start a container with limited memory (something like `docker run --rm -it --memory=1G --memory-swap=1G node:12.19.0-buster-slim bash`
2. Inspect heap size (`node -e 'const v8 = require("v8"); console.log(v8.getHeapStatistics());'`)

### How often does it reproduce? Is there a required

[2020-10-09 19:09] AviVahl opened #35574 "import('typescript') is 3x slower than require('typescript')"
* **Version**: 14.13.1
* **Platform**: Linux. Fedora 32.
* **Subsystem**: modules?

### What steps will reproduce the bug?

[code]

Now create two files:

a.js:
[code]

a.mjs
[code]

`node a.js` outputs:
`requiring typescript took 147ms`

`node a.mjs` outputs:
`requiring typescript took 440ms`

### How often does it reproduce? Is there a required condition?
The numbers change +-10ms, but the slowd

[2020-10-09 21:09] AviVahl commented on #35574
Alright, I checked several versions. 14.13.0 had the slowdown. 14.12.0 has similar speeds in both modes.
https://github.com/nodejs/node/pull/35249 is my guess.
Not sure if this is an acceptable/known tradeoff.

I'm considering to use commonjs as long as I'm importing other commonjs libraries. Don't want that extra slowdown. :(

[2020-10-09 21:14] AviVahl commented on #35574
It should be noted that I have a pretty speedy laptop (i7-7700HQ w/ 32GB of RAM) and I could notice the slowdown even before actually measuring. I wonder how it feels on slower machines.

[2020-10-09 23:45] aduh95 commented on #35574
@nodejs/modules-active-members

[2020-10-09 23:58] AviVahl commented on #35574
`lodash` is also 3x slower on my machine (from ~20ms to 75-90ms).

[2020-10-10 02:00] alexcfyung commented on #34322
Acmeair benchmark have ~40% degradation on my end because of https://github.com/nodejs/node/commit/78eb420fed154b7729283a3d63c99fa9989ffbea, you can also see the effect [here](https://benchmarking.nodejs.org/), and it affect v14.5 onward as well.

[2020-10-10 03:13] MylesBorins commented on #35574
/cc @guybedford

[2020-10-10 04:52] watilde commented on #35458
I just quickly checked with the latest reference implementation of URL and could reproduce the same error. However, it works with `new URL('http://localhost:3000//')` so that I just opened a new issue on the upstream and ask for inputs: https://github.com/whatwg/url/issues/553.

We can pass `req.url` as a part of input to URL as workaround:
[code]

[2020-10-10 07:05] gireeshpunathil opened #35580 "remove references to io.js from doc"
**Is your feature request related to a problem? Please describe.**

merger happened long back, and predates the earliest supported versions.

**Describe the solution you'd like**
remove references to `io.js` from the docs, aiming to reduce confusion.

**Describe alternatives you've considered**
status-quo.

[2020-10-10 10:49] ronag commented on #35572
I suspect you are using unidici. This was fixed in https://github.com/nodejs/undici/pull/449 and release in 2.0.7.

[2020-10-10 10:51] guybedford commented on #35574
Firstly it's worth noting this is only for very large JS files (TypeScript is a single 8.9MB file). Most imports of ESM don't hit this kind of perf.

The issue here is not actually the performance of the JS parser itself, but the fact that when you run a cold start against TypeScript, the v8 optimizer hasn't yet kicked in so the v8 execution of the parser is running in slow mode for the entire 8.9

[2020-10-10 10:56] Srinivasa314 opened #35581 "Segfault while running JS code"
Version: v14.13.0
Platform: Linux inspiron-3493-srinivasa 5.8.13-arch1-1 #1 SMP PREEMPT Thu, 01 Oct 2020 20:40:35 +0000 x86_64 GNU/Linux

### What steps will reproduce the bug?
[code]
### What do you see instead?
Segfault
### Additional information
GDB tells that the segfault occurs in [this](https://github.com/v8/v8/blob/master/src/base/hashmap.h#L329) function
Backtrace:
[code]

[2020-10-10 11:05] ronag commented on #35465
@Zclhlmgqzc PR welcome! Do you have the same issue in on Node 15/master?

[2020-10-10 11:11] ayungavis opened #35582 "Error Assertion `args[3]->IsInt32()' failed"
* **Version**: v12.19.0
* **Platform**: Linux ayungavis 5.4.0-48-generic #52~18.04.1-Ubuntu SMP Thu Sep 10 12:50:22 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

### What steps will reproduce the bug?

I tried to follow the tutorial from [Adding a Database to GraphQL](https://www.howtographql.com/graphql-js/4-adding-a-database/), this is the code of my `script.ts`:

[code]

### How oft

[2020-10-10 11:31] ronag commented on #35572
@MylesBorins maybe we should add undici to CITGM?

[2020-10-10 12:36] gireeshpunathil commented on #35581
reported in #35559 too, though the callstack is different, so let us keep both.

[2020-10-10 12:52] gireeshpunathil commented on #35581
able to reproduce.

A pattern that is observed is, main thread is active while `gc` threads are in the sweeping phase. Not sure if this is valid or not. I guess concurrent marking is valid, but not concurrent sweep?

[code]

one of the sweeping thread has this stack:

[code]

[2020-10-10 14:38] Flarna commented on #35458
Before building an absolute url it's needed to verify that the recevied url is relative. Absolute urls are also possible in HTTP (see https://tools.ietf.org/html/rfc7230#section-5.3)

[2020-10-10 14:50] ark334 commented on #33741
Thanks so much, I was facing this issue using a type:module in package.json but now it's working thanks to your solution.

[2020-10-10 17:44] jasnell opened #35586 "Investigate flaky test-webcrypto-encrypt-decrypt-aes on rhe17-s390x"
The aes encrypt/decrypt webcrypto test appears to be periodically flaky only on rhe17-s390x. Definitely unable to reproduce reliably. Will be investigating.

https://ci.nodejs.org/job/node-test-commit-linuxone/23391/nodes=rhel7-s390x/testReport/junit/(root)/test/parallel_test_webcrypto_encrypt_decrypt_aes/

* **Test**: parallel/test-webcrypto-encrypt-decrypt-aes
* **Platform**: rhe17-s390x
* **Con

[2020-10-10 19:05] andredezzy commented on #35582
I'm with the same issue.

[2020-10-10 19:33] aduh95 commented on #35580
I was able to find one occurence in Process page:

https://github.com/nodejs/node/blob/83eaaf9731356a95fb3282724b2cb2fb0e2c5121/doc/api/process.md#L1764-L1765

Is there more?

[2020-10-10 19:53] devsnek commented on #35582
cc @nodejs/http @nodejs/llnode

[2020-10-10 19:59] andredezzy commented on #35582
@devsnek unavailable...

[2020-10-10 20:05] Flarna commented on #35582
Maybe a dup of #35572?

[2020-10-10 20:29] AviVahl commented on #35574
Thanks for looking into it. I'll follow the PR...

[2020-10-10 20:32] Lcfvs opened #35591 "Why no close event on a stream, when `emitClose`, on process exit"
**Is your feature request related to a problem? Please describe.**
Yes, imho, if we're asking to emit a close event, it's to cover all the closing cases.

**Describe the solution you'd like**
The process exit event should fire the `close` event on each stream open with a `emitClose` to `true`

**Describe alternatives you've considered**
Actually, I made it myself like that:

[code]

[2020-10-10 20:35] Flarna commented on #35582
I think the root cause is following backport PR: https://github.com/nodejs/node/pull/34131 which changes the API of the `HTTPParser`. The API is internal but it looks like it's used by some modules and they pass more then the expected number of arguments which is no longer ignored.

[2020-10-10 20:51] hatton commented on #30575
@greggman Did you find a work around?

[2020-10-10 21:01] Vboivin commented on #35409
I took a look at these method calls:
- https://github.com/nodejs/node/blob/master/lib/internal/http2/core.js#L342
- https://github.com/nodejs/node/blob/master/lib/internal/http2/core.js#L347
- https://github.com/nodejs/node/blob/master/lib/internal/http2/core.js#L1678
- https://github.com/nodejs/node/blob/master/lib/internal/http2/core.js#L1790
- https://github.com/nodejs/node/blob/master/lib/inte

[2020-10-10 22:57] addaleax commented on #35506
Ok, so basically the problem here is that, because the main script inside a Worker is started from within a `.on('message')` event handler, it ends up in the `EventTarget` error handling chain, which is basically emitting a `process.on('error')` event first, and if there are no handlers, wrapping the exception and treating it as an uncaught one.

I basically see 2 ways to solve this:

1. Delay the

[2020-10-11 01:50] ChALkeR commented on #35582
https://github.com/nodejs/undici/blob/master/lib/node/http-parser.js#L3-L4 — caused by using the internal API.

[2020-10-11 06:11] antsmartian commented on #35580
@aduh95 Yes even I ran a regex found only such instance. I believe this is a good first issue. Tagging it.

[2020-10-11 07:48] beaunus opened #35592 "Performance optimization for Number.prototype.toString"
**Is your feature request related to a problem? Please describe.**
This is not related to a problem. It's just a proposal for a performance improvement.

**Describe the solution you'd like**
I was experimenting with implementing `Number.toString(radix)` for fun. In my experiments, I observed some measurements that suggest that the proposed implementation is up to ~2.5 times faster than the existin

[2020-10-11 09:50] hexxdump commented on #35580
Can I take this and work on fixing the docs ?

[2020-10-11 10:53] targos commented on #35168
@ronag There's nothing special about `createReadStream`. All `fs` methods that accept a file descriptor do not close it when they throw because of bad arguments. For example `fs.write(fd, {wrong: 'object'})` also "leaks" `fd`.

[2020-10-11 10:56] targos commented on #35518
I can't reproduce it on Linux.

[2020-10-11 10:57] sionzeecz commented on #35518
I have the same issue but started happening on 14.13.1 and not 14.13.0 which was working fine.

[2020-10-11 11:04] ronag commented on #35168
There is something special... streams take ownership of the fd, while e.g. `fs.write` does not.

[2020-10-11 11:06] ronag commented on #35168
You could argue either way in regards to what to expect in this specific case. I think it's cleaner if it closes it otherwise you **always** should wrap `createReadStream` into a `try/catch` with `fs.close`. Regardless assumptions should preferably be documented.

[2020-10-11 11:20] sionzeecz commented on #35518
I think this error is happening due changes with esm-loader and is not related to NODE_OPTIONS.

@daveisfera Can I ask to confirm if this really began happening on 14.13.0?
Just if my theory is right :)

If you are right then I must create another issue.

[2020-10-11 11:24] targos commented on #35168
Not necessarily. You are not supposed to pass invalid arguments to `createReadStream` in the first place. This is a programming error and the reason why asynchronous functions in Node.js can throw synchronous errors in that case. The solution here is to call `createReadStream` correctly, not to wrap it into a `try/catch`.

[2020-10-11 11:48] aduh95 commented on #35592
Hello 👋  Thanks for your work, better performance is always something we strive for. One thing to consider: `Number` is a built-in JavaScript primitive, which means it's provided to Node.js by the [V8 engine](https://v8.dev). I don't think there's much we can do on Node.js side without modifying V8 code. You should consider submitting your implementation to the V8 team on their repo, and it will b

[2020-10-11 13:04] houseofyin opened #35596 "Problem Setting TLS to TLSv1.3"
Folks,

I'm using node v12.18.2.

I expected tls.DEFAULT_MAX_VERSION to be TLSv1.3 per https://github.com/nodejs/node/blob/v12.18.2/lib/tls.js, but when I log it, I am seeing TLSv1.2 instead.  (and I don't see the flag --tls-max-v1.2 anywhere in my codebase).

When I try to set tls.DEFAULT_MAX_VERSION (or the minVersion or maxVersion properties),

tls.DEFAULT_MAX_VERSION = 'TLSv1.3';

I see an err

[2020-10-11 14:20] addaleax commented on #35559
Just noticed that I ran into this independently of this issue – https://chromium-review.googlesource.com/c/v8/v8/+/2464823 fixes this.

[2020-10-11 14:21] addaleax commented on #35581
I think closing this as a duplicate of #35559 would be fine.

[2020-10-11 14:35] #35495 closed

[2020-10-11 14:47] RaisinTen commented on #35559
@addaleax so is this a problem with the v8 GC or node?

[2020-10-11 14:49] addaleax commented on #35559
@RaisinTen It’s a V8 bug, yes, not caused by the GC implementation but related to GC timing. We could work around it if necessary, but usually the V8 team responds very quickly during working hours (… faster than Node.js for sure :slightly_smiling_face: )

[2020-10-11 14:56] addaleax commented on #35510
@daveisfera I’ll close this because what `deasync` is doing is not supported by Node.js (this is not a secret and they know that – do not use it in production software, if you can avoid it at all). You can report this to them, though.

[2020-10-11 14:56] #35510 closed

[2020-10-11 14:58] addaleax commented on #35573
Yeah, that seems fair. I’m wondering if there’s a good way to detect whether we’re in such an environment, given that docker containers can also do a lot of different things, including running multiple processes that need to share memory.

[2020-10-11 15:00] gireeshpunathil commented on #35581
root cause identified, and found to be same. fix will come by way of v8 changes. #35559 will track this. closing this.

[2020-10-11 15:00] #35581 closed

[2020-10-11 15:09] ronag commented on #35168
Hm, fair enough.

[2020-10-11 15:09] #35168 closed

[2020-10-11 15:13] RaisinTen commented on #35559
@addaleax :slightly_smiling_face:
I read it and this is what I understood:
1. When we query the first snapshot object, it gets created and returned
2. Then the second object is queried and the object creation is not complete yet
3. Due to the GC timing, the second object gets deleted along with the first one before we actually get to handle the second object
4. Now we are returned an address which

[2020-10-11 15:24] jasnell opened #35600 "policy tests fail if there is a package.json in parent directories"
Just opening this so it's not forgotten.... Policy tests can fail if there is a package.json in the parent path of the local node.js repo

[code]

### What steps will reproduce the bug?

### How often does it reproduce? Is there a required condition?

### What is the expected behavior?

### What do you see instead?

### Additional information

[2020-10-11 15:52] kimamula opened #35601 "Unhandled rejection emits `unhandledRejection` even if `--unhandled-rejections=strict` is set"
* **Version**: 14.13.1
* **Platform**: macOS Catalina 10.15.7

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?

Always

### What is the expected behavior?

`unhandledRejection` is not emitted.

### What do you see instead?

`unhandledRejection` is emitted.
I understand that practically this is not a problem because, as you can see in

[2020-10-11 17:20] ayungavis commented on #35582
For now I'm downgrading my node version to `v12.18.4` until the bug is fixed. It's work properly when you use node `v12.18.4`.
Thank you all about the replies, hopefully it will be fixed soon.

[2020-10-11 17:52] richardlau commented on #35596
Node.js 12 releases from this repository will be using a statically linked OpenSSL 1.1.1 (found under `deps`). You are likely to be using Red Hat’s build of Node.js which was modified to link against the system OpenSSL 1.0.2.

[2020-10-11 18:04] ChALkeR commented on #35582
From the available information, it doesn't look like a bug in Node.js.
Let's close this a duplicate of #35572 as it's unlikely that any new information will be present here.
I'll reopen if there will be any new info hinting that's not the case.

[2020-10-11 18:04] #35582 closed

[2020-10-11 18:05] ChALkeR commented on #35572
https://github.com/nodejs/undici/blob/master/lib/node/http-parser.js#L3-L4 — caused by using the internal API directly.
Usage API should be fixed in `undici@2.0.7`: https://github.com/nodejs/undici/issues/448#issuecomment-706070229

@special-character could you confirm that updating/resolving `undici` to 2.0.7 helps?

[2020-10-11 20:02] drewswanner commented on #35356
@szmarczak after looking at this more I see how this is expected use from what I can tell. I believe this is to allow origin witin this spec https://tools.ietf.org/html/rfc7230#section-2.3. Which it looks like it was implemented with this PR https://github.com/nodejs/node/pull/17935. @jasnell can you confirm if this is correct I believe you would know for sure.

[2020-10-11 20:19] bcoe commented on #34278
After discussions with the tooling group, and with the TSC, we ultimately did decide to introduce [`fs.rm`](https://github.com/nodejs/node/pull/35494), which is modeled after POSIX's `rm`.

We are however, not opting to remove the `rmdir/recursive` behavior immediately, as this would be too disruptive to users. Instead we're:

1. removing the experimental language from `rmdir/recursive`, to indica

[2020-10-11 20:19] #34278 closed

[2020-10-12 00:31] beaunus commented on #35592
Thank you @aduh95 🤝 for the advice that you shared.

I'll look at the V8 project and see how this proposal might fit in there. Should we close this issue?

[2020-10-12 01:53] jt0dd opened #35605 "fs.appendFileSync() triggering error when trying to write buffer size above 2147483647 bytes: c:\ws\src\node_file.cc:1826: Assertion `args[3]->IsInt32()' failed."
* **Version**: 14.12.0
* **Platform**: 64 bit windows
* **Subsystem**:

### What steps will reproduce the bug?
The issue shows itself in this basic function to generate a large file of a specific size, using chunks in the case of a file larger than the max Node.js buffer size, but the issue instance I'm referring to is smaller than the max chunk size:

[code]

when the attempt is made to write a b

[2020-10-12 02:35] devsnek commented on #35592
This is something for discussion upstream. Check out https://bugs.chromium.org/p/v8.

[2020-10-12 02:35] #35592 closed

[2020-10-12 04:18] rolfen commented on #7439
It looks pretty documented to me:

https://nodejs.org/api/process.html#process_process_stdin_fd

[2020-10-12 06:10] jdob231 opened #35606 "Somehow you cannot code at all, and only software I installed on os was node.js"
[code]
[code]

Proven.

[2020-10-12 06:12] jdob231 commented on #35606
Why the fuck every kind of socket or server has different binding for IP address, different function in orders? Orders of arguments in functions? Get consolidated and maintain some integrity.

[2020-10-12 06:15] #35606 closed

[2020-10-12 06:19] Mkishanparmar opened #35607 "not able to handle large amount of xlsx data, any suggestion for it."
not able to read 80000 records from xlsx, facing stack smashing.

[2020-10-12 06:30] jdob231 opened #35608 "TCP/IP Server"
Sorry, just somebody is enforcing me to forget by means of brutal violence, therefore I look for stuff that is there by different names than current one's. Like arrays start with fucking 1 or some kind of issue with brain, sorry for interrupting you.

[2020-10-12 08:55] yehiyam opened #35609 "buffer.fill inconsistency for large (>2^31 bytes) buffers"
* **v14.8.0**:
* **Linux 5.3.7-050307-generic #201910180652 SMP Fri Oct 18 10:56:47 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux**:
* **Buffer**:

### What steps will reproduce the bug?
There is an inconsistency between calling `Buffer.alloc(size, fill)` and calling `let b=Buffer.alloc(size)` and `b.fill(fill)`
According to the spec size can be any integer smaller than `buffer.constants.MAX_LENGTH`, wh

[2020-10-12 08:55] addaleax commented on #35559
@RaisinTen Not quite… the process for creating a snapshot is:

1. V8 starts creating the snapshot, adding some strings to the heap profiler’s internal string table
2. V8 performs a GC, so that the heap snapshot does not contain objects that are not actually relevant to the snapshot
3. V8 continues creating the snapshot, adding more strings to the internal string table
4. Node.js wraps the snapshot

[2020-10-12 10:37] ronag commented on #35591
Please provide a reproducible sample which we can run.

[2020-10-12 10:37] ronag commented on #35609
@addaleax maybe?

[2020-10-12 10:38] ronag commented on #35572
I think we can close this. Please let us know if there are any further questions.

[2020-10-12 10:38] #35572 closed

[2020-10-12 10:45] addaleax commented on #35609
https://github.com/nodejs/node/pull/35134 already fixed this and has been released in newer versions of Node 14, so I’ll close this as there’s nothing more that can be done on our side. Updating Node.js should resolve this.

[2020-10-12 10:45] #35609 closed

[2020-10-12 12:07] Lcfvs commented on #35591
Sure.

[code]

[2020-10-12 12:12] ronag commented on #35591
@Lcfvs it will only fire if you call `.destroy()` or `.end()` on the stream.

[2020-10-12 12:16] duongvanba commented on #32978
HI everyone
Any fix on this ?

[2020-10-12 12:31] Lcfvs commented on #35591
@ronag Yes, I know but what if the process exits before?

[2020-10-12 12:52] Lcfvs commented on #35591
I mean, since the process closes itself the stream, why the event isn't fired?

Imho, it should be reliable.

[2020-10-12 13:51] JulikGame opened #35614 "chocolatey 2/3"
i'm try download node.js and they didnt downloaded on command
![image](https://user-images.githubusercontent.com/66960588/95754074-2f73ef00-0cab-11eb-968f-e5199e1942a1.png)

[2020-10-12 13:58] MrAkblt opened #35615 "Double Backslash Escape Problem"
* **Version**: 13.12.0
* **Platform**: arch
* **Subsystem**:

Escape does not work as expected in node shell.

![image](https://user-images.githubusercontent.com/9157723/95754057-2a16a480-0cab-11eb-984b-fbdc1a37567b.png)

![image](https://user-images.githubusercontent.com/9157723/95754333-8974b480-0cab-11eb-9385-5a4ea01c48d3.png)

[2020-10-12 14:06] ButGuc commented on #35615
Windows 10 - 2004

![image](https://user-images.githubusercontent.com/5721796/95755263-de64fa80-0cac-11eb-8165-b2d82a3ae7eb.png)

Ubuntu 20.04

![image](https://user-images.githubusercontent.com/5721796/95755458-1cfab500-0cad-11eb-8ec9-c5388ef1113b.png)

[2020-10-12 14:28] ronag commented on #35591
That’s not how Node works. The current behavior is as expected.

[2020-10-12 14:46] richardlau commented on #35614
cc @nodejs/platform-windows

[2020-10-12 14:52] mmomtchev commented on #32226
The problem is not specific to ```Buffer```, ```ArrayBuffer``` uses the new ```GetBackingStore()``` too and has the same problem. Reverting to ```GetContents()``` won't help because the new ```GetContents()``` has been build around the new ```GlobalBackingStoreRegistry``` and it is essentially the same function as ```GetBackingStore()```. If you short most of ```GlobalBackingStoreRegistry::Registe

[2020-10-12 15:12] #35429 closed

[2020-10-12 15:13] alexbujenita commented on #35615
Same on 14.2.0
Welcome to Node.js v14.2.0.
Type ".help" for more information.

\
undefined

'\\test'

[2020-10-12 15:38] Lcfvs commented on #35591
I can be ok with that but is there any reasons to not emit that event?

And if the current behavior is preserved, the doc fails on these declarations:

[2020-10-12 16:06] Lcfvs commented on #35591
Since the main subject seems ignored, anyone to explain the **why**, please?

[2020-10-12 16:07] RaisinTen commented on #35559
@addaleax thank you for the awesome explanation! :slightly_smiling_face:

[2020-10-12 16:09] #35608 closed

[2020-10-12 16:15] special-character commented on #35572
Using `2.0.7` fixes the issue, thanks for the info!

[2020-10-12 16:31] evanlucas commented on #35538
That seems to be explicitly done in libuv (https://github.com/libuv/libuv/blob/a629688008694ed8022269e66826d4d6ec688b83/src/unix/pipe.c#L75-L76) to be compatible with how windows handles this

[2020-10-12 17:40] mmomtchev commented on #35190
@Mar-Ser I tried your example both with Node 14 and Node 12, Windows and Linux, and the for..await does return. Once I removed the ````throw new Error('1');``` and added ```res.writeHead``` and ```res.end``` I got a perfectly working upload page.
By the way, just one tip: normally you are not supposed to call ```resolve``` of a Promise multiple times

[2020-10-12 18:27] Mar-Ser commented on #35190
@mmomtchev My example is pretty syntactic. We have a lot of code around similar construction. (and also we use `for await` in many other places)
So, my point is - we can not trust this kind of cycle in these versions of NodeJS.
And as you can see in our investigation (https://github.com/pillarjs/multiparty/issues/231), this bug is unstable. So, even small changes around can make this code work as

[2020-10-12 19:27] wariomejia opened #35619 "Node.js cannot find the module."
* **Version**: v14.13.1
* **Platform**: Windows (10)
* **Subsystem**:10

![error node](https://user-images.githubusercontent.com/72531016/95782709-8f5b9d00-0c8d-11eb-95ab-9b607e1eef52.png)

![json file](https://user-images.githubusercontent.com/72531016/95783023-38a29300-0c8e-11eb-86e0-774a14c922b4.png)

![myfirstjs](https://user-images.githubusercontent.com/72531016/95783065-4a843600-0c8e-11eb-85

[2020-10-12 19:41] ChALkeR commented on #35582
It was confirmed in #35572 that using a fixed version of `undici` helps.

[2020-10-12 19:47] Flarna commented on #35591
The process doesn't close the stream. The OS does some cleanup on the OS resources allocated by the process (e.g. file handles,..) but noone closes the Javascript stream object.

[2020-10-12 20:10] bmeck commented on #35600
@jasnell this is intentional since that is how policies work, the CJS/ESM loaders crawl up to find "type" from package.json files and if it finds one that isn't allowed it fails. Is there some issue that needs to be fixed?

[2020-10-12 20:12] bmeck commented on #35507
@guybedford given we are now moving to relying on realpath for our default loader, and talking of manual deduping for --preserve-symlinks would it be safe to move forward here? My main goal is that if an OS doesn't remove the `//` when realpathing that we can preserve that.

[2020-10-12 20:13] Lcfvs commented on #35591
Hum, ok... I understand that, thanks.

(Even if I don't really like to don't have a reliability on this nor the idea to let some things to a higher process we don't control... but it's a personal preference)

[2020-10-12 21:01] jambagigirish opened #35620 "Segfault on v12.19.0"
* **Version**:v12.19.0
* **Platform**: RHEL
* **Subsystem**:

### What steps will reproduce the bug?
Using node js and running the component test with cucumber-js

### How often does it reproduce? Is there a required condition?
After Upgrading to v12.19.0 - issue has been consistent

### What is the expected behavior?

### What do you see instead?

/home/user1/GIT/cp1/r1/r1/node_modules/segfault-h

[2020-10-12 21:11] #35591 closed

[2020-10-12 21:21] Flarna opened #35621 "CI fails on master"
* **Version**: master
* **Platform**: Windows
* **Subsystem**: url

### What steps will reproduce the bug?

run CI

### How often does it reproduce? Is there a required condition?

Always

### What is the expected behavior?

CI pass

### What do you see instead?

CI fail, see e.g.
https://ci.nodejs.org/job/node-test-binary-windows-native-suites/5470/#showFailuresLink
https://ci.nodejs.org/job/node

[2020-10-12 22:01] Lcfvs commented on #35591
Without any will to preach to my parish, I still got a question.

If node doesn't closes the streams itself, why the event can be fired, since exit **acts as** closing?

Is it really a bad idea? Is it really likely to cause some problems?

[2020-10-12 22:11] jasnell commented on #35600
Yes, I get that, it's just unexpected for the test suite to fail due to some factor completely outside of the project repo. Ideally there would be a way of sandboxing it or limiting the search path... or, if that's not possible, to provide a better error that describes why it's failing.

[2020-10-12 22:27] bmeck commented on #35600
we could also just put a well known package.json in the test directory

[2020-10-12 22:56] aduh95 commented on #35619
What's the result if you type `DIR` in the command prompt?

[2020-10-12 23:01] mmomtchev commented on #35503
There are two "process titles" in Linux
* one is the so-called command line that you see when you do ```ps uaxw```, it comes from ```/proc/<pid>/cmdline``` and this one is still modified by ```process.title```
* the other one is the thread name that you see when you do ```ps -p <pid>```, that one comes from ```/proc/<pid>/comm``` and it was broken by libuv 1.35.0 that was added in Node 12.17

This

[2020-10-12 23:57] mscdex commented on #32226
Is it possible Node could avoid at least some of these regressions by safely caching the result of `GetBackingStore()`?

[2020-10-13 00:08] mmomtchev commented on #32226
I don't think it would be a good idea. Besides, even if you solve the problem for this artificial benchmark, this won't apply to the real world apps

[2020-10-13 00:36] richardlau commented on #34163
https://github.com/nodejs/node/pull/34440 has removed Windows from the relevant workflow.

[2020-10-13 00:36] #34163 closed

[2020-10-13 01:15] mscdex commented on #32226
@mmomtchev I was thinking more along the lines of caching it at the time of Buffer construction, which would apply to everything. However I'm not sure if the value returned by `GetBackingStore()` can change during the lifetime of the process.

[2020-10-13 03:34] drewswanner commented on #27679
Is anyone working on this I would be interested in looking into it. I may need some guidance but I am willing to give it a shot.

[2020-10-13 05:59] Flarna commented on #35591
@Lcfvs My answer was not intended to judge your idea as good or bad, I just described how node works now.

There is nothing within node core to track all types of resources and clean them up on shutdown and/or gc.

This is not specific to streams. For example if you look at https://nodejs.org/dist/latest-v14.x/docs/api/deprecations.html#DEP0137 the handling to automatically close files if someone

[2020-10-13 07:34] mmomtchev commented on #32226
@mscdex, yes, I was thinking about caching the returned value

There is a Google document on the new BackingStore framework: <https://docs.google.com/document/d/1sTc_jRL87Fu175Holm5SV0kajkseGl2r8ifGY76G35k/edit#heading=h.5irk4csrpu0y>
and a discussion here:
<https://bugs.chromium.org/p/v8/issues/detail?id=9908>
Keeping a separate copy of the pointers will come to re-implementing their work (with l

[2020-10-13 07:39] mmomtchev commented on #32226
In fact, when thinking again, there is no reason why very small Buffers are not impacted - I am looking at the numbers and I wonder if it has something to do with the JIT - I don't really have an explanation

[2020-10-13 08:11] mmomtchev commented on #35601
As far as I understand it, the expected behavior of ```--unhandled-rejections=strict``` is that the Node process exits with a non-zero status when a Promise rejection is not handled.
Besides, I think that ```process.on('unhandledRejection',...)``` counts as handling.

[2020-10-13 08:37] mmomtchev commented on #35605
The ```write()``` syscall in Linux can write at most 0x7ffff000 (2,147,479,552) bytes
This is the reason the argument is limited to an ```Int32``` and not an ```Uint32``` even if it is then casted to ```size_t``` which is unsigned
You can use ```fs.writev``` which supports 64 bits integers

[2020-10-13 08:47] mmomtchev commented on #35190
Well, I tried harder, still nothing. From what I understand, it happens only on certain machines and on those machines it happens all the time?

[2020-10-13 09:10] addaleax commented on #35620
Can you share that native code?

[2020-10-13 09:11] mmomtchev commented on #35573
I don't think there is a reliable way to know that the Node process is going to be the only one to use the host's memory
But maybe an option along ```--max-old-space-size=everything``` can fulfill the requirement

[2020-10-13 09:14] Flarna commented on #35573
Maybe `--max-old-space-size-percentage=90` instead a single `everything`?

[2020-10-13 09:23] bzoz commented on #35614
That looks like choco issue. @JulikGame could you try reruning choco with `--verbose` switch?

[2020-10-13 09:35] mmomtchev commented on #35564
Can you share the code that you are using to catch this error?
```Error [ERR_HTTP2_ERROR]: The user callback function failed``` is usually triggered by your callback returning an error. Maybe you can try to catch the error there, in your callback, before it is transformed to ```ERR_HTTP2_ERROR```

[2020-10-13 09:43] mmomtchev commented on #35313
```write()``` to an already closed socket results in ```SIGPIPE``` (or it returns ```EPIPE``` if the ```SIGPIPE``` is explicitly ignored by the process - which Node does), so this behavior is consistent with the traditional BSD sockets behavior

[2020-10-13 09:45] targos commented on #35600
Good idea. I'm on it.

[2020-10-13 10:00] jansepke opened #35627 "Support V8 --async-stack-traces in NODE_OPTIONS"
**Is your feature request related to a problem? Please describe.**
I would like set the V8 `--async-stack-traces` option through the `NODE_OPTIONS` environment variable.

**Describe the solution you'd like**
`NODE_OPTIONS="--async-stack-traces" node` should not throw the Error `--async-stack-traces is not allowed in NODE_OPTIONS`

**Describe alternatives you've considered**
setting `--async-stack-

[2020-10-13 10:42] targos commented on #35600
Actually, I don't understand what needs to be changed to make it work, feel free to pick it up 😄 .

[2020-10-13 10:44] targos commented on #35627
This flag is enabled by default in V8. You do not need to pass it.

[2020-10-13 11:01] Lcfvs commented on #35591
No worries, I mean a bad idea in the sense that it could have technical implications. ;)

And, yes, no one can achieve the impossible... I just try to cleanup if then process has the delay to do it.

But, it's ok, thanks for these explanations. :)

[2020-10-13 11:13] jansepke commented on #35627
Also in nodejs v12 ?

[2020-10-13 11:19] targos commented on #35627
Yes: https://github.com/nodejs/node/blob/6a2f05012f810ea8a4e776bc861ca914190d906d/deps/v8/src/flags/flag-definitions.h#L1199

[2020-10-13 12:05] ronag commented on #35313
Is this still a problem in v14?

[2020-10-13 12:21] mmomtchev commented on #35573
The problem is that ```--max-old-space-size``` is a V8 option that is passed directly to V8
```--max-old-space-size-percentage=xx``` will need to be a Node.js option
I see two solutions, either generate a ```--max-old-space-size=xx``` option in ```node.cc:ProcessGlobalArgs()``` from the new option, either maybe pass the args to ```environment.cc:SetIsolateCreateParamsForNode()``` to readjust the a

[2020-10-13 12:38] jansepke commented on #35627
Ok, thanks. Then it seems to be a problem with my code or with the AWS SDK.

[2020-10-13 12:38] #35627 closed

[2020-10-13 12:53] RaisinTen opened #35629 "Building docs support for 32 bit Ubuntu 18.04"
**Is your feature request related to a problem? Please describe.**
I was trying to build node from source on my 32 bit Ubuntu 18.04 (experimental) and when I tried to build it by following the instructions in the docs, I ran into the same problem as discussed here: https://github.com/nodejs/help/issues/2943#issuecomment-683422131
Unfortunately, I could not really understand what I have to do to ge

[2020-10-13 12:56] devsnek commented on #35601
I feel like the bug here is that `uncaughtException` is emitted. cc @nodejs/promises-debugging

[2020-10-13 13:04] BridgeAR commented on #35601
This is working as intended. The flag was originally introduced with the intention not to impact any other existing behavior. The order of the uncaught exception and the unhandled rejection was also intentional. If anyone listens to the uncaught exception handler, the process is not going to crash and the process continuous, if the application is not explicitly ended at that stage.
However, a form

[2020-10-13 13:04] #35601 closed

[2020-10-13 13:07] devsnek commented on #35601
@BridgeAR why is uncaughtException being emitted when there's an unhandledRejection handler? that seems very broken.

[2020-10-13 13:19] BridgeAR commented on #35601
There was a lengthy discussion about the behavior at the collaborator summit and in the PR that implemented it. As I pointed out above: it's working as intended and there are multiple modes that fit different behavior. The `throw` mode is exactly the mode that you mention @devsnek (only emitting `uncaughtException` if there's no `unhandledRejection` handler).

[2020-10-13 13:23] #35621 closed

[2020-10-13 13:54] jambagigirish commented on #35620
this is one of the cpp files where nodejs sends data to concert/map to c++,
Isolate* isolate = args.GetIsolate();
  unsigned char szUser[256];

  if (args.Length() != 4)
  {
    HandleWrongParams(isolate);
    return;
  }
  try
  {
    unsigned long param1 = getParam1(args[0], isolate);
    unsigned long param2 = getParam2(args[1], isolate);
    unsigned long param3 = getParam3(args[2], isolate);

[2020-10-13 14:00] addaleax commented on #35620
This is obviously an incomplete file.

[2020-10-13 14:03] mmomtchev commented on #35240
Any advantages over simply using ```FileHandle.fd```? :smiley:

[2020-10-13 14:09] mmomtchev commented on #35295
I have occasionally used [pako](https://www.npmjs.com/package/pako) in the past, is this type of interface what you want?
What is the status of this? I could volunteer

[2020-10-13 14:40] woolson commented on #27384
@hyochan You can handle it like
[code]

[2020-10-13 14:59] guybedford commented on #35507
@bmeck the `pathToFileURL` won't normalize out Windows UNC strings though. But it is doing a `path.normalize` yes. Just about all `path` functions in Node.js do normalization, so I still don't quite follow the logic around why this one should be different here.

[2020-10-13 15:02] bmeck commented on #35507
@guybedford my goal is to have these 2 complimentary functions do the same kind of normalization. I'm not against some normalization, but altering fileURLToPath to remove `//` is a lossy behavior so I don't want that.

[2020-10-13 15:04] guybedford commented on #35507
@bmeck if the goal is consistency, would you consider the alternative of normalization on the `fileURLToPath` output?

[2020-10-13 15:09] guybedford commented on #35507
That sounds sensible to me.

[2020-10-13 15:52] jasnell commented on #32434
@cTn-dev ... Worker thread utilization with Node.js is a bit difficult. I would have to ask exactly what you're looking for. @trevnorris just recently landed a new metric capability in Node.js called "event look utilization" that measures how efficiently the event loop is being used. There are separate metrics available for the main event loop thread and each individual worker and Trevor's researc

[2020-10-13 16:44] sxa commented on #35586
How frequently is it failing? Just tried on one my my RHEL7 s390x boxes (from master) and it seems to have got through a few hundred iterations without a failure but I'll leave it running a while longer :-)

[2020-10-13 16:46] jasnell commented on #35586
Really unclear to be honest. I got through 1000+ iterations without it failing, but then again, I've only seen it fail in full CI runs so it's possible that it only fails when there are other tests running concurrently?

[2020-10-13 17:02] JulikGame commented on #35614
didnt helped

[2020-10-13 17:14] sxa commented on #35586
OK I did get my first failure after probably about 10,000 runs so it definitely is NOT specific to your system (I'm not certain if there might have been other activity at the time, but it is failing every so often). Interesting that it's just the first two digits that seem to be different (unless my eyes have missed another difference - quite possible) and it's always the same mismatch.

[2020-10-13 17:27] bzoz commented on #35614
yeah, the `--verbose` is for us to see what is happening, we need to see the whole output :).

BTW: what are you trying to install? What OS are you using (version and build number - you can get those from running `winver`)?

[2020-10-13 17:34] JulikGame commented on #35614
ah it hard to ask, we can discord? my discord Julik#0001

[2020-10-13 17:37] bzoz commented on #35614
Sorry, I don't use discord.

[2020-10-13 17:41] cTn-dev commented on #32434
@mmomtchev @jasnell Thank you for looking into this ticket again.

I have been indeed keeping an eye on the #34938 (haven't had time to try it yet).
From the instrumentation point of view i think its a viable alternative for "what i initially needed to do" (as the above functionality wasn't available before).

The exact use case i was trying to tackle was long term monitoring of process & thread u

[2020-10-13 17:43] JulikGame commented on #35614
ah okay, im using windown 10 Version 2004, OS build 19041.546

[2020-10-13 17:45] bzoz commented on #35614
Ok, and what are you trying to install with choco?

[2020-10-13 17:49] bzoz commented on #35614
So, from elevated command prompt run:
[code]
and paste the complete output of this command

[2020-10-13 17:49] JulikGame commented on #35614
i cant ask here, i go to play with my friend sorry, see late

[2020-10-13 17:56] nonara commented on #35564
@mmomtchev The odd thing is that no actual error occurs in the callback function, so it can't be caught. I'm simply binding the `data`, `error`, `timeout`, and `end` events.

In the case of an error, the `end` event completes successfully, albeit with partial data. _After_ that, the `error` event is called with the `ERR_HTTP2_ERROR`. After that, it's thrown in an uncatchable manner.

It appears th

[2020-10-13 18:39] Mar-Ser commented on #35190
Yes. And for me, it includes my work and home machines, my home laptop, Travis CI, Docker images in GitLab CI, several of my colleague's env, and some other... And everywhere I can reproduce it.

Also, @dougwilson could reproduce this bug only after several attempts.
https://github.com/pillarjs/multiparty/issues/231

[2020-10-13 19:13] sbc100 opened #35632 "fs.ftruncate silently accepts negative offsets rather than failing with ERR_INVALID"
fs.ftruncate and fd.ftruncateSync both silently ignore negative offsets:

https://github.com/nodejs/node/blob/2cfdf28413fd9a7bfab65cb49cff6e50ab0c21ec/lib/fs.js#L840

This didn't always do behave like this.. looks like it was introduced in 8974df15a973e97a74cf9fb0ccb45c11baa7b54a

### What steps will reproduce the bug?

[code]

### What is the expected behavior?

The ftruncate POSIX function is de

[2020-10-13 21:31] MylesBorins commented on #35574
I'm going to go ahead and close this as the wasm change has landed on master and will go out in the next v14.x release

[2020-10-13 21:32] #35574 closed

[2020-10-13 22:29] bcoe commented on #34266
This appears to have been addressed by https://github.com/nodejs/node/pull/35566, I will keeping an eye on the next few builds to make sure it's not a still a flake.

[2020-10-13 22:29] #34266 closed

[2020-10-13 23:27] jambagigirish commented on #35620
cpp files are too big to share here.  with version 12.18.00 I didn't see any issues. Are there any breaking changes from version 12.18 to 12.19?

[2020-10-13 23:39] addaleax commented on #35620
None that are intentionally breaking, no, and none that were reported so far.

Okay, well, let me be clear here: I’m trying to help you. If you can’t show us a reproduction of the issue, that’s harder. Without looking at the causing source code, that’s even harder. The file size limit for Github comment attachements is 25 MB, and I honestly doubt a bit that you have C++ files larger than that (the

[2020-10-14 00:21] jambagigirish commented on #35620
![Capture](https://user-images.githubusercontent.com/3958231/95929102-bd71d780-0d88-11eb-809f-b3b53aee52de.PNG)

Thanks for you response. Main issue is that native code is divided over multiple files as shown below. all these files do the same processing as shown in above snippet. As its a production/copyrighted c++ code I can't share the much c++ code here. Sorry for that.

I am using node-gyp li

[2020-10-14 03:38] daveisfera commented on #35518
I just tested with `semver` with 14.12.0 and it ran with no output, but `mocha` gave the same error, so I believe that it happened at least some of the time before 14.13.0

[2020-10-14 03:43] daveisfera commented on #35510
That makes sense, but is there a [recommended pattern for how to load settings using promises before the rest of an application is initialized](https://github.com/nodejs/node/issues/35103#issuecomment-701041079), because relying on `deasync` is the best option we've had so far and worked with `esm` for quite some time, so we'd love to switch to a "better" solution, but unfortunately haven't found

[2020-10-14 03:54] Zclhlmgqzc commented on #35465
Works fine in Node 15.x
#33981

[2020-10-14 04:49] Narasimha1997 commented on #35632
Maybe removing `len = MathMax(0, len); ` would fix the issue.

[2020-10-14 06:48] matthiasg opened #35637 "Many EACCESS when listening on ports 1024 and higher"
Node: v14.13.1
Platform: Windows 10 19041.508

### What steps will reproduce the bug?

I experienced this on two Windows 10 machines.

[code]

Causes an EACCESS Error consistently. I tried ensuring the firewall was not in the way, I tried running in an elevated command prompt.

### How often does it reproduce? Is there a required condition?

Changing the ports around sometimes a non-elevated comma

[2020-10-14 07:09] #35637 closed

[2020-10-14 07:31] ronag commented on #35620
@jambagigirish I think your best bet is to build and bisect Node yourself and try to find which commit caused the regression you are seeing.

[2020-10-14 08:10] mmomtchev commented on #35190
Can you try running [wtfnode](https://www.npmjs.com/package/wtfnode).dump() in a periodic timer when your await hangs? Also try removing any catches/process.on and maybe try with ```--unhandled-rejections=strict```
Have you tried attaching Chrome Devtools for Node to a hanged process?

[2020-10-14 08:12] mmomtchev commented on #35190
Also ```--report-uncaught-exception``` and ```--report-on-signal```

[2020-10-14 08:14] RaisinTen commented on #35632
What about adding this sort of a change?
[code]
where, `ERR_FS_FILE_TOO_LARGE` already exists and we make a new error code `ERR_FS_FILE_TOO_SMALL` for negative sizes and this is all about `kIoMaxLength`:
https://github.com/nodejs/node/blob/999e7d7b44b832210b11d90260dc46560457d30d/lib/fs.js#L27-L29
This would take care of both the upper and the lower limits for the allowed size in `ftruncate`.

[2020-10-14 08:23] mmomtchev commented on #35564
What does the tcpdump/wireshark of this connection show? A TCP RST packet?

[2020-10-14 08:38] sxa commented on #35586
Also checked on an Ubuntu machine (as well as the RHEL7 one while not running anything else) and both were periodically showing this failure.

[2020-10-14 08:45] voxpelli commented on #34185
Would it make sense to target this for Node 16? I guess it's too late for Node 15, right @jasnell @bnoordhuis?

[2020-10-14 09:18] mmomtchev commented on #35190
And launch node (on bash) with ```NODE_DEBUG=stream node```

[2020-10-14 09:21] mmomtchev commented on #32434
@cTn-dev a quick and dirty solution will be to install one of the several syscall packages from NPM and then call [pthread_setname_np](https://linux.die.net/man/3/pthread_setname_np)

[2020-10-14 10:05] mmomtchev commented on #35564
And double check that your callback doesn't return a truthy value because this would have the effect you described

[2020-10-14 13:43] JulikGame commented on #35614
i am here, anyone here?

[2020-10-14 13:45] JulikGame commented on #35614
@bzoz i did choco install nodejs, and here
![image](https://user-images.githubusercontent.com/66960588/95997643-a987ad80-0e3c-11eb-96a9-41185f951cd1.png)

[2020-10-14 15:24] mmomtchev commented on #35564
In fact, my bad, the callback return value is ignored
It is difficult to help you without the relevant part of your code

[2020-10-14 15:45] mmomtchev commented on #35386
In fact, this is significant enough only for the shortest and simplest library calls, @ledbit 's example uses 8 bytes buffers, but still, why not

[2020-10-14 16:26] bzoz commented on #35614
It looks like everything went ok, there is no error message. Close the terminal, open a new one, and try running `node` in it.

[2020-10-14 16:58] sbc100 commented on #35632
I'm not familiar with node code but isn't there already the simple equivalent of `EINVAL`?  Is it a good idea to add more error codes?

[2020-10-14 17:27] Narasimha1997 commented on #35632
Node `8.xx.xx` throws `EINVAL` properly for negative offset. Maybe there is no need to handle explicitly. Even `len = MathMax(0, len)` is not required. The internal system call itself terminates with `EINVAL` when it sees negative offset. So no need to handle anything explicitly. If you check the source code of `8.xx.xx` there is no explicit validation being done.

[2020-10-14 17:51] JulikGame commented on #35614
@bzoz i did many time

[2020-10-14 18:12] #35559 closed

[2020-10-14 18:15] bcoe opened #35646 "Fix Node.js' code coverage/code coverage job"
* **Version**: 15.x.x
* **Platform**: All
* **Subsystem**: test

### The problem(s)

**1. new file paths are breaking the coverage reporting**

File paths for Node.js' own files now have this form `node:/internal/cluster/shared_handle`:

* there's now a`node:` prefix.
* there's no longer a `.js` prefix.

I will happily fix this problem in the test reporter, but could someone point me towards where

[2020-10-14 18:31] nonara commented on #35564
Thanks for the responses.

I haven't analyzed TCP yet. The difficulty here is that it can be difficult to replicate. Additionally, I have some concern that if this is some sort of strange firewall behaviour on the API side, tripping this too many times could lead to an automated ban. This would tremendously jeopardize the company I'm working on behalf of, as it would shut down cash flow until it w

[2020-10-14 18:35] nonara commented on #35564
Normally, when submitting a bug report, I include a reproduction. At the moment, I'm just completely under water and very behind on everything, so I don't have the time.

So as a note-to-self for the future, or if anyone wants to do so, I suspect that creating a server which unexpectedly terminates the connection mid-stream in an asynchronous multi-plex scenario with 18+ concurrent requests will m

[2020-10-14 19:20] aduh95 commented on #35646
I believe this has been introduced by https://github.com/nodejs/node/pull/35498.

[2020-10-14 19:24] bcoe commented on #35646
@aduh95 thank you! (_sorry for looping in the wrong folks, I assumed it was potentially the new URL parser)_.

[2020-10-14 19:59] aduh95 commented on #35614
@JulikGame please understand it's not easy to help you without being on your machine. Please copy/paste the **full output** (including the command you typed) of your shell – instead of out-of-context screenshots ;) If you could typed those five commands in an elevated shell and paste the output here, that would be very helpful.

[code]

[2020-10-14 20:17] joyeecheung commented on #35646
Have we ever tried adding c8 to https://github.com/nodejs/citgm/ ? (I searched for it and I don't think so?)

[2020-10-14 20:27] joyeecheung commented on #27406
I am working on refactoring for https://github.com/nodejs/node/pull/33807 and I think some of the work there might be useful for this. Tentatively assigning this to myself.

[2020-10-14 20:30] joyeecheung commented on #35212
I took a look and I think we'd need to just create a different watchdog for the profilers. I'll be refactoring the entire profiler connection class for https://github.com/nodejs/node/pull/33807 and I'll look into how to throw a watchdog into the class

[2020-10-14 20:46] MylesBorins commented on #30527
I'm consistently getting failures on my local machine with this test.

It does not fail when run by itself, so perhaps there is a race or something?

[code]

[2020-10-14 20:57] bcoe commented on #35646
Have we ever tried adding c8 to https://github.com/nodejs/citgm/ ? (I searched for it and I don't think so?)

@joyeecheung @MylesBorins not a bad idea, but it wouldn't have actually caught this, because it only breaks on Node.js' own coverage -- which now has different file paths.

[2020-10-15 04:30] jasnell commented on #35549
I'll be returning to quic work in the next couple of weeks and will look into this

[2020-10-15 05:04] gireeshpunathil commented on #35286
@Qard - here are some generic exit criteria for experimental APIs. This does not include any API specific constraints that the author / developer might have identified / have in mind:

- user interfaces (flags, API semantics): are those finalized / ratified internally?
- platform coverage: is the capability available in all (identified) platforms?
- bugs: how many critical bugs outstanding? is the

[2020-10-15 05:04] tufosa commented on #35313
@mmomtchev  that's why I suggest that this issue might not be a bug, but some missing details in the documentation. The docs claim 2 things (see the description of the issue) and none of them is fulfilled in this example.

@ronag I've just performed the experiment using node `v14.13.1` and the results seem to be the same

[2020-10-15 08:25] benjamingr opened #35655 "What is our policy towards stylistic changes?"
Hey,

I recently saw a PR here: https://github.com/nodejs/node/pull/35603 opened by a first time contributor containing (only) stylistic changes.

I am not sure what our policy regarding such PRs are:

 - I know in the distant past we did not merge those but in the more-recent past we did and even encouraged those.
 - Looking a year ago - [code-and-learn](https://github.com/nodejs/node/pulls?q=is%

[2020-10-15 09:43] benwinding commented on #25132
Using node `8.x` instead of `10.x` solved the issue for me

[2020-10-15 11:53] JulikGame commented on #35614
@aduh95 oh, where i need to type this command that you said one. cmd or powershell

[2020-10-15 12:08] aduh95 commented on #35614
@JulikGame That's actually 5 commands, not one 😉 You can type (or paste) each line in PowerShell (with administrator privileges), then paste the full output here.

[2020-10-15 12:15] Trott commented on #35655
Here's how I've thought about it:

Style-only changes in  a single file that make it internally consistent are ✅.

For multiple files, things get more subjective and I'm not sure a concrete policy is going to emerge. It doesn't take much to introduce backporting problems. My tolerance goes up, though, if there is a lint rule with an auto-fixer (because that makes backporting easy and prevents back

[2020-10-15 12:16] JulikGame commented on #35614
ah why that one and didnt donloaded visual code and more.
![image](https://user-images.githubusercontent.com/66960588/96121881-56276500-0ef9-11eb-88d4-fdd43f744ce2.png)

[2020-10-15 12:17] JulikGame commented on #35614
![image](https://user-images.githubusercontent.com/66960588/96122029-94bd1f80-0ef9-11eb-9ab3-52bf4deb2944.png)

[2020-10-15 12:20] aduh95 commented on #35614
OK so Node.js is installed on your machine! If you need help with VSCode installation, or if you have an issue with Chocolatey itself, you should open an issue on their repo.

[2020-10-15 12:20] #35614 closed

[2020-10-15 12:27] gireeshpunathil commented on #33566
looks like this discussion is stalled.

@jgehrcke - I can fully understand your expectations. I want to bring in a new perspective in expectation of converging the discussion:

 - the `span` API (like many other APIs) is an abstraction around OS syscalls `fork` and `exec` (in unix)
 - this means there is a boundary at which the the control is passed to the syscall(s).
 - My view of the design is:

[2020-10-15 14:21] triblondon opened #35658 "Headers with the same name are combined into one entry in `http2`"
Version: 14.13.1
Platform: MacOS, Darwin Kernel Version 19.6.0

### What steps will reproduce the bug?

[code]

Versus cURL on the same URL:

[code]

### How often does it reproduce? Is there a required condition?

Consistently reproducible

### What is the expected behavior?

[code]

Quoting [the docs](https://nodejs.org/api/http2.html#http2_headers_object):

### What do you see instead?

[code]

[2020-10-15 14:29] stefanradu904 commented on #35438
Any updates here?

[2020-10-15 14:41] triblondon commented on #35658
Of course I didn't read enough of the docs.  Sigh.

I'd argue this is a bug anyway, because it seems Node can't allow me to distinguish between multiple response headers with the same name, and one header with comma-separated values.  But it is behaving as documented.

[2020-10-15 15:07] luisfonsivevo commented on #15115
I was finally able to get this working without a full restart using [tls.Server.setSecureContext](https://nodejs.org/api/tls.html#tls_server_setsecurecontext_options). WebSocket connections using the old secure context remain open, while new WebSocket connections will use the fresh certificate.

Time will tell if it works specifically with certbot, but I'm able to trigger a reload by overwriting t

[2020-10-15 15:19] mscdex commented on #35655
In general such PRs (single or multi-file changes) are -1 from me because style-only changes don't add any real value to the project (and only complicate git blaming), unlike other types of PRs. The one exception to this I could see is if someone submits a PR containing a meaningful replacement of a (large) chunk of code.

Any styles we think are important enough to enforce should go in the linter

[2020-10-15 15:19] vi34 opened #35660 "Some statements have already been executed when debugger stops at line breakpoint"
* **Version**: 14.13.1
(also checked all major versions, 13, 12, 11, 10 – issue persists)
* **Platform**: MacOS
* **Subsystem**: Debugger

### What steps will reproduce the bug?

1. Execute this script with any debugger (Chrome DevTools, VSCode, WebStorm).
2. Place line breakpoints on lines with comments.
3. Debugger stopped at the first breakpoint. (`second(first());` line)
Function `first()` hav

[2020-10-15 15:44] benjamingr commented on #35655
@mscdex my understanding is that the value of these PRs is that they build competence in potential future collaborators and get them acquainted with our process.

[2020-10-15 16:53] Trott commented on #35655
@benjamingr I'm guessing you'll agree, but just to get this cleared up quickly: I don't think we should land changes that don't actually improve the code base. (I'm using "code base" broadly. Documentation counts and all that.)

I *think* your point is that the improvement need not be large. (I would agree with that.)

[2020-10-15 16:58] jasnell commented on #35655
Changes need not be large or substantial, but we have avoided purely *formatting* related stylistic changes pretty consistently -- e.g. we're not likely to accept a PR that does nothing more than change whitespace or line wrapping in a file (unless, of course, it was a linter fix).

[2020-10-15 17:58] ipbc-dev opened #35661 "HTTP: Connection resets after 60 seconds in node.js upload application"
* **Version**: v12.19.0
* **Platform**: Linux *snip* 4.15.0-121-generic #123-Ubuntu SMP Mon Oct 5 16:16:40 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux (Ubuntu 18.04.5 LTS)
* **Subsystem**: http

### What steps will reproduce the bug?

The client depends on node-fetch v2.6.1

`testServer.js`
[code]

`testClient.js`
[code]

- Install node-fetch in the same folder as the reproduction scripts: `npm i node

[2020-10-15 18:06] baslr commented on #35438
can you do a verbose (`V=1`) make?

[2020-10-15 18:09] #34075 closed

[2020-10-15 18:15] jasnell commented on #28868
Should this remain open?

[2020-10-15 18:16] jasnell commented on #29821
I'm assuming this is no longer relevant and can be closed

[2020-10-15 18:16] #29821 closed

[2020-10-15 18:17] #26213 closed

[2020-10-15 18:17] #29480 closed

[2020-10-15 18:18] jasnell commented on #32206
@bnb ... where are things at with this? Should this remain open?

[2020-10-15 18:19] jasnell commented on #32775
@mmarchini ... should this remain open?

[2020-10-15 18:20] #16098 closed

[2020-10-15 18:25] jasnell commented on #24117
Given that we have CODEOWNERS functioning now, does this still need to remain open?

[2020-10-15 18:26] #25691 closed

[2020-10-15 18:27] bnb commented on #32206
I'm happy to continue working on it. I've honestly not had a ton of time to continue working on it since some other commitments came up, but those literally ended yesterday. Happy to spend time next week fleshing out more examples outside of the basic ones I provided.

Also more than happy to have other folks help if they're interested - I can pair anytime on it, or help provide additional context

[2020-10-15 18:27] boneskull commented on #28868
it's a good idea, but it's not a high priority for me.  either someone can pick it up or I can reevaluate after the first of the year

[2020-10-15 18:27] jasnell commented on #27302
Given that we've started doing this as much as possible, I think we can close this now.

[2020-10-15 18:27] #27302 closed

[2020-10-15 18:35] #15244 closed

[2020-10-15 18:38] #34756 closed

[2020-10-15 18:39] bcoe commented on #28868
Perhaps we could find a rotation of a few folks who enjoy writing, I'd happily occasionally help out with writing up a post about a release.

[2020-10-15 19:37] nolimitdev commented on #15115
@luisfonsivevo I think your implementation is unclear and complicated. Try to check this https://github.com/nodejs/node/issues/4464#issuecomment-357975317 I do not use setSecureContext() because it was added in node v11 and my post os from january 2018 but you can use algorithm. I just used setTimeout()+clearTimeout() without needing sth. like your "reloading". You uselessly combinetd setTimeout()

[2020-10-15 19:49] luisfonsivevo commented on #15115
I think that hoping both certificates are finished writing to disk after 5 seconds would be unreliable. It's pretty unlikely to ever take longer, but still. I could definitely lose an `fs.watch` though.

[2020-10-16 04:29] danbev opened #35669 "asan-test failure"
* **Version**:$ v15.0.0-pre
* **Platform**: Linux localhost.localdomain 5.6.13-200.fc31.x86_64 #1 SMP Thu May 14 23:26:14 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

### What steps will reproduce the bug?
Install `asan`:
[code]
Configure node to enable asan:
[code]
Run the following test to reproduce the issue:
[code]

### How often does it reproduce? Is there a required condition?
C

[2020-10-16 08:49] rekna1 opened #35673 "problem with installer on windows"
* **nodejs 12.19.0**
* **npm version 6.4.1**
* **Windows10**
* **64bit**:

### What steps will reproduce the bug?

installing latest version of nodejs 12.19.0 when having npm version 6.4.1 in %APPDATA% will get you in a situation where you can not update npm anymore.
**npm install npm@latest** will report that npm version 6.4.1 is not supported by the current version of nodejs.
although nodejs ins

[2020-10-16 10:08] mmomtchev commented on #35475
@szmarczak your analysis is correct, the problem is the data awaiting in the socket on the JS side
wrapping the socket makes the stream pass through JS which solves the problem

When the TLS code establishes the connections, it asks for HTTP2 via APLN. The remote server sends immediately its SETTINGS frame which is received by the TLS code and kept in its buffer.
Then HTTP2 client attaches its Lis

[2020-10-16 10:42] SVG123456789 opened #35675 "create-react-app"
When I try to make a React app using **npx create-react-app amazon** It shows me
[code]

[2020-10-16 10:44] TanninOne opened #35676 "StringDecoder undocumented size limit"
* **Version**: v12.13.0
* **Platform**: Windows 10 (64bit)
* **Subsystem**: string_decoder, stream

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?

The above causes the issue 100% reliably for me.

### What is the expected behavior?

Either the decoded buffer or an exception explaining that the input buffer is too long.

### What do

[2020-10-16 10:50] watilde commented on #35675
Hello!

According to the log you shared with us, the issue seems to be about `npm` or `create-react-app` instead of Node.js itself. You might can try `npm doctor` to see what can be a potential issue in your environment and try trouble-shooting. To get more help, I'd recommend to share your `debug.log` which seems to be located in `C:\Users\SVG\AppData\Roaming\npm-cache\_logs\2020-10-16T06_12_32_5

[2020-10-16 10:50] #35675 closed

[2020-10-16 11:28] gengjiawen opened #35677 "Improve arm64 workflow on windows"
From the [V8 8.6](https://github.com/nodejs/node/pull/35415) work, it looks v8 not going arm64 on windows in there CI system.
I wonder whether they can add it since we reached tier 2.

cc @nodejs/v8 , Maybe @hashseed (I am not sure who to ping in google)
@targos @richard-townsend-arm

If google can't start their CI system. I am thinking add a github action for arm64 on windows.

[2020-10-16 11:57] ronag commented on #35526
We have discussed that the node http client should take into account the keep-alive timeout hint from the server and not re-use a connection that has been idle for longer than that. https://github.com/nodejs/undici already does this.

[2020-10-16 12:28] binrusas85 opened #35680 "No stdout event fired on 'data' for child_process"
I implemented a static method that takes two input parameters: (1) script/command (2) args to be passed to the given script/command. The issue is that I'm not able to get the output. Note I'm running on a mac machine if that makes sense.

Here is my code:

[code]

[2020-10-16 12:45] gireeshpunathil commented on #11893
should this remain open? I see the linked PR (for qualifying core modules) is landed, but not sure if it fully addresses the original proposal (hiding core modules from inspector).

[2020-10-16 13:07] gireeshpunathil commented on #24210
closing based on above, feel free to re-open if there is still outstanding work

[2020-10-16 13:07] #24210 closed

[2020-10-16 14:09] GruelingPine185 opened #35681 "Problem with installer on mac"
* **Version**:
* **Platform**:
* **Subsystem**:

### What steps will reproduce the bug?

### How often does it reproduce? Is there a required condition?

### What is the expected behavior?

### What do you see instead?

### Additional information

[2020-10-16 18:23] bnb commented on #35681
@GruelingPine185 you're gonna need to provide some info if you actually have a problem. This isn't helpful at all and will likely be closed here shortly.

[2020-10-16 18:30] GruelingPine185 commented on #35681
@bnb I was having trouble earlier today installing it. I re-checked multiple times using file explorer and terminal, but I could not find it. Finally I used the node -v command and found it. I was, at the time trying to create a new line using enter, but it submitted instead of making a new line. And as a result that is what you see above. Now that I know it works I attempted to remove the post bu

[2020-10-16 18:30] #35681 closed

[2020-10-16 19:29] pddevops opened #35684 "DNS entry 104.20.22.46 being blocked by Cisco Firesight IPS security systems"
Our company uses Cisco Firesight IPS, and it appears to be blocking one of the TWO IP addresses defined in your DNS for nodejs.org in west north america:
$ nslookup nodejs.org
Non-authoritative answer:
Name:	nodejs.org
Address: 104.20.22.46
Name:	nodejs.org
Address: 104.20.23.46

The system is blocking 104.20.22.46.  The rules that the Cisco software feeds off of is here:  https://talosintelligenc

[2020-10-16 19:30] Bikeman868 opened #35685 "Finding a compatible set of packages"
I spent yesterday afternoon and all morning going around in circles, trying to find a sweet spot of package versions that work together. I kept getting dependency warnings, peer dependency issues, deprecated package warnings, version mismatches etc.

It occurred to me that is would be really cool if npm could figure this out for me so that thousands of other developers don't have to go through the

[2020-10-16 19:34] devsnek commented on #35684
That's part of cloudflare's 104.16.0.0/12 prefix. You should notify cisco and/or cloudflare.

[2020-10-16 20:03] bl-ue opened #35686 "malloc: can't allocate region :*** mach_vm_map(size=1000000000000000, flags: 40000100) failed (error code=3) node(60939,0x1125eadc0) malloc: *** set a breakpoint in malloc_error_break to debug"
* **Version**: 14.14.0
* **Platform**: macOS 10.15.7
* **Subsystem**:

When I run a file containing the following code:
[code]
Several malloc errors are printed, and an error `RangeError: Array buffer allocation failed` is thrown:
[code]

Linux and Windows both throw the `RangeError: Array buffer allocation failed` error, but they do not print internal error messages like on macOS.

[2020-10-16 20:35] evanw opened #35687 "Confusing error message when a non-Error value is thrown during require()"
* **Version**: 14.13.1
* **Platform**: macOS
* **Subsystem**:

### What steps will reproduce the bug?

The problem can be reproduced with these three files:

[code]

[code]

[code]

Run this with `node --experimental-modules index.mjs`.

### What is the expected behavior?

I expected to see something like this, which is what I see when I run `node cjs-file.cjs`:

[code]

### What do you see instea

[2020-10-16 20:43] mmomtchev opened #35688 "%.* is not a supported debug specifier"
* **Version**: v14.13.1
* **Platform**: Linux
* **Subsystem**: http2

### What steps will reproduce the bug?

(example from #35475)
NODE_DEBUG_NATIVE=HTTP2SESSION node
[code]

### Additional information

master is not affected

[2020-10-16 21:48] Trott opened #35689 "fs: inconsistent options treatment between rm() and rmdir()"
* **Version**: 14.14.0 and 15.0.0-pre (master branch)
* **Platform**: macOS
* **Subsystem**: fs

### What steps will reproduce the bug?

Use `/dev/null` as the path like below, or use some other path that will not be removed and force a retry.

This tries, doesn't remove `/dev/null`, and exits with "done" very quickly.

[code]

So does this:

[code]

This does the same:

[code]

But this takes abo

[2020-10-16 21:50] Trott commented on #35689
@iansu @bcoe @cjihrig @nodejs/fs I think the right thing to do here is for both methods to honor `maxRetries` without `recursive` set. As a user, that's what I would expect. But I want to make sure there's agreement on that. WDYT?

[2020-10-16 22:18] iansu commented on #35689
I agree that they should both treat `maxRetries` the same but I'm not sure that they should respect that option if `recursive` has not been set. `maxRetries` is a `rimraf` option. If you're calling `rmdir` without `recursive` then it won't use `rimraf` at all so the option doesn't really make sense and shouldn't have any effect.

In your example it also seems strange that `fs.rmdir`, when pointed

[2020-10-16 22:46] mmomtchev commented on #35688
<https://github.com/nodejs/node/blob/7f25fe8b67eeb05a44b107378a2f3e59e4d8f2f9/src/debug_utils-inl.h#L80> doesn't seem to support ```%.*``` as a format specifier, yet there are a few examples in the code? @addaleax?
Currently the ```%``` eats the length specifier then the second argument triggers the ```CHECK_NOT_NULL```

[2020-10-17 00:51] Trott commented on #35689
It produces an error, but my callback swallows it.

[2020-10-17 00:53] Trott commented on #35689
I wonder if retries make sense when dealing with NFS, for example.

[2020-10-17 07:37] RaisinTen commented on #29813
Hello @cclauss. May I work on this issue please? :slightly_smiling_face:

[2020-10-17 08:03] cclauss commented on #29813
YES.  You do not have to ask for permission.  Your PR needs to have some tests too.  If you see something that needs fixing then please open a PR.  If multiple people open a PR to fix the same issue then it is almost always a learning opportunity.

[2020-10-17 10:07] jamesseanwright commented on #7439
I don't think it was documented when I raised the issue, but it's worth noting that a lot can change in 4 years.

[2020-10-17 11:30] #35646 closed

[2020-10-17 13:49] mhemrg commented on #35661
I'm facing the same issue on the same platform.

[2020-10-17 13:50] ipbc-dev commented on #35661
-- Please reply above this line --

Hello!

We received your request and will get in touch with you as soon as
possible.

We usually reply WITHIN 24 HOURS BETWEEN MONDAY TO FRIDAY.

In the meantime, you can have a look at the BitTube Knowledge Base:
https://kb.bittube.app [1] and reply to this email with 'SOLVED', if
you found the answer to your question.

Thanks for your understanding.

Talk to y

[2020-10-17 14:19] ronag commented on #35661
Do you think you could try to create a more minimal repro? Maybe without using fetch?

[2020-10-17 15:33] RaisinTen commented on #29813
@cclaus I was wondering whether I should start with the code from #26725 or #29814. The author of the second one probably added his changes to the code mentioned in the first PR but he also mentions that the PR fails in the PR description. Also, do I simply start off by copying the code and making it work or am I supposed to fetch the commits from the PR branch, add my commits and make a PR here?

[2020-10-17 16:56] addaleax commented on #35688
@mmomtchev Yeah, length specifiers make sense for a printf that is mainly intended to handle C strings, but it’s not important for a type-aware C++ variant like the one that we have. I think it would be just fine here to replace `Debug(session, "Error '%.*s'", len, message);` with `Debug(session, "Error '%s'", std::string(message, len));`.

[2020-10-17 17:06] cclauss commented on #29813
My suggestion would be that you start a brand new PR and cherrypick things that you like from the other two.  Make sure that you put `closes #26725, #29814` at the top of your PR (even if they are already closed) so that reviewers can quickly find details of previous attempts.  Thanks for doing this!

[2020-10-17 17:19] mmomtchev commented on #35688
Yes, in fact, there are 3 different `sprintf`s used through out the code: this one, from `debug_utils-inl.h`, the V8 one and the OS-provided one - and all the other examples are for the other two which support it

[2020-10-17 17:23] silverwind commented on #34185
I support this. Is there a specific reason why HTTP 2 is not mentioned?

[2020-10-17 19:28] panmenghan opened #35695 "Http2: Cannot read property 'finishWrite' of null"
* **Version**:
v14.14.0 + v12.19.0
* **Platform**:
Win10(2004, 64bit) + Ubuntu 18.04.4(wsl2, Linux 4.19.128-microsoft-standard  SMP Tue Jun 23 12:58:10 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux)
* **Subsystem**:
http2
### What steps will reproduce the bug?
server.js
[code]

client.js
[code]

the error(bug):
[code]

client.js argv(command line options) mean:
[code]

Win10(2004)
[code]

Ubuntu 18.04.4

[2020-10-17 20:22] rahul799 commented on #11729
facing the same issue.
[code]
isn't it correct?

[2020-10-18 04:20] bcoe opened #35696 "Coverage report left in comments is "noisy""
## Problem

I noticed on a couple PRs, that the coverage comment left by codecov.io was hidden.

I'm guessing that part of why folks wanted to hide this notification, is that it takes up a lot of screen space on the PR 👇

<img width="891" alt="Screen Shot 2020-10-17 at 9 12 24 PM" src="https://user-images.githubusercontent.com/194609/96358567-7a33a380-10bd-11eb-8f00-3d1e8d128c7d.png">

## Proposed

[2020-10-18 06:39] Akefobaide opened #35697 "warn in nodejs"
**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.

**Describe the solution you'd like**
Please describe the desired behavior.

**Describe alternatives you've considered**
Please describe alternative solutions or features you have considered.

[2020-10-18 06:39] Akefobaide commented on #35697
when i delate head tag not have style

[2020-10-18 10:44] #35697 closed

[2020-10-18 10:46] aduh95 commented on #35696
Could we change the comment content to put it in a `<detail>` tag?

[2020-10-18 12:28] ipbc-dev commented on #35661
For the moment no, however I was able to fuss with this a bit more.

Setting `server.headersTimeout = 10000;` as the last line of the server. Then the reproduction client returns:
```10041 FetchError: request to http://localhost:8081/test failed, reason: read ECONNRESET```

Setting `server.headersTimeout = 0;` causes the reproduction client to return a similar output to Node.js 10

[2020-10-18 14:12] bcoe commented on #35696
I didn't see a way to do this in the configuration. @thomasrockhu is there  a way to customize the coverage report, so that some of the information is hidden under a `<detail>` rollup?

[2020-10-18 17:08] woodfairy commented on #33425
Hey, is this still available to work on?

[2020-10-18 18:35] woodfairy commented on #33425
<img width="1186" alt="Bildschirmfoto 2020-10-18 um 20 31 16" src="https://user-images.githubusercontent.com/66573402/96376713-e1fef280-1180-11eb-8f8e-c1c7613c74f9.png">

I compiled Node based on the Markdown file instructions and then checked the flags with otool -hv. But there is no PIE flag set, neither under my freshly compiled binary, nor under the binary saved via the official macOS installe

[2020-10-18 23:58] woodfairy commented on #33425
I have now run some benchmarks with PIE enabled and disabled. As @bnoordhuis already mentioned, you can expect a performance penalty of 5-10%. Here are some results as text file:
[nopie_1.txt](https://github.com/nodejs/node/files/5398399/nopie_1.txt)
[nopie_2.txt](https://github.com/nodejs/node/files/5398400/nopie_2.txt)
[nopie_3.txt](https://github.com/nodejs/node/files/5398401/nopie_3.txt)
[pie_

[2020-10-19 06:22] Flarna commented on #35458
Should we consider to adapt to to use `url.parse()` again even if it is deprecated? It seems to be that using `URL` is not a good advice in this use case.

Which usecase will not work if  `url.parse()` is used on incoming HTTP?

[2020-10-19 08:22] gengjiawen commented on #35696
Maybe also skip draft PR. Pretty annoying in such case.

[2020-10-19 08:24] targos opened #35703 "New platform team for Windows on ARM"
I'd like to create a new platform team for Windows on ARM. We often have issues with it during V8 updates and it would be useful to have a team to mention.

Proposed name: `@nodejs/platform-windows-arm`

@richard-townsend-arm, would you like to be added to it? Who else is interested?

[2020-10-19 09:20] sxa commented on #35703
I'd be interested in being on it since I have a laptop running Windows/aarch64 - thanks

[2020-10-19 09:23] gireeshpunathil commented on #27196
closing as inactive for more than an year; pls re-open if there is still outstanding work

[2020-10-19 09:23] #27196 closed

[2020-10-19 09:27] gireeshpunathil commented on #27107
is this still happening? should this remain open?

[2020-10-19 10:07] richardlau commented on #35696
We could also skip coverage for doc-only changes like we do with the asan workflow:
https://github.com/nodejs/node/blob/c55f661551d7368778ae6f9adc584467151bce8a/.github/workflows/test-asan.yml#L13-L14

[2020-10-19 10:33] masterzu opened #35706 "gpg: BAD signature when verifying SHASUMS256.txt.sig on v12.19.0"
* **Version**: v12.19.0
* **Platform**: linux
* **Subsystem**:

### What steps will reproduce the bug?

wget https://nodejs.org/dist/v12.19.0/node-v12.19.0-linux-x64.tar.xz https://nodejs.org/dist/v12.19.0/SHASUMS256.txt.asc https://nodejs.org/dist/v12.19.0/SHASUMS256.txt.sig

grep node-v12.19.0-linux-x64.tar.xz SHASUMS256.txt.asc | sha256sum -c -
node-v12.19.0-linux-x64.tar.xz: OK

gpg --keyserve

[2020-10-19 10:59] PoojaDurgad commented on #28712
Inactive. closing this issue due to inactivity. please re-open if this is still outstanding.

[2020-10-19 10:59] #28712 closed

[2020-10-19 11:14] #35571 closed

[2020-10-19 14:29] O4epegb commented on #35290
I guess this issue could be closed now?

Fixed here: https://github.com/nodejs/node/pull/35292

[2020-10-19 14:50] #35290 closed

[2020-10-19 14:54] pddevops commented on #35684
While that may be true, the NodeJS.org is hosted there.  Therefore the NodeJS team should have that contract.  As a customer I wouldn't expect my customers to reach out to my cloud providers on issues.  Our issue is with NodeJS.org specifically, regardless of who your hosting provider is.

[2020-10-19 15:19] #35684 closed

[2020-10-19 15:43] richardlau commented on #35706
@masterzu `SHASUMS256.txt.sig` is the detached signature for `SHASUMS256.txt` (the file without the `.asc` extension), e.g. it is is meant to be used (as documented in the README):
[code]

The `SHASUMS256.txt.asc` file is a [clearsigned](https://www.gnupg.org/gph/en/manual/x135.html) file (if you look at the file contents you'll see the appended signature at the end:
[code]
). It's a modified vers

[2020-10-19 15:51] mhdawson commented on #35596
@houseofyin I think @richardlau is correct have you confirmed that you are using the Red Hat Node.js build?

[2020-10-19 18:41] #35687 closed

[2020-10-19 19:01] joyeecheung commented on #27196
BTW this is what I current get with `--cpu-prof`

<img width="1080" alt="Screen Shot 2020-10-20 at 2 57 48 AM" src="https://user-images.githubusercontent.com/4299420/96499706-59677b80-1280-11eb-9048-e3deb80565e7.png">

It has improved after we shipped embedded snapshot for the bootstrap, the remaining work is sketched out in https://docs.google.com/document/d/15bu038I36oILq5t4Qju1sS2nKudVB6NSGWz00

[2020-10-19 19:07] joyeecheung opened #35711 "Trackinng issue: snapshot integration in Node.js core"
This is a continuation of https://github.com/nodejs/node/issues/17058 after we've shipped the embedded snapshot. Opening a new issue since most of the discussions in the original one have been settled, and now we are focusing on:

1. Moving more of the bootstrap into the embedded snapshot
2. Enabling user land snapshot

Design doc: https://docs.google.com/document/u/1/d/15bu038I36oILq5t4Qju1sS2nKu

[2020-10-19 19:08] joyeecheung commented on #17058
Opened https://github.com/nodejs/node/issues/35711 for discussions around future snapshot work.

[2020-10-19 19:08] #17058 closed

[2020-10-19 19:11] joyeecheung commented on #27196
BTW the new tracking issue for snapshot integration is https://github.com/nodejs/node/issues/35711

[2020-10-19 19:22] thomasrockhu commented on #35696
@bcoe, I don't believe that's possible, but that's really good feedback. I'll bring it to the product team to see what we can do here, but I'm not sure what the turnaround time would be. What's the ideal result for you?

@gengjiawen, also great feedback. Thanks for bringing this up!

[2020-10-19 19:39] joyeecheung commented on #35711
Currently blocking on https://bugs.chromium.org/p/v8/issues/detail?id=10704 and https://github.com/nodejs/node-v8/issues/175

[2020-10-19 20:12] joyeecheung commented on #11893
Maybe something can be done from DevTool's side to hide these scripts by default? Though I am not sure if that's desired behavior. We should post something to teach users how to make use of this feature to blackbox the internal scripts, though.

[2020-10-19 21:55] IgorHalfeld commented on #35689
I think it makes sense, not having a file inside is not the only reason for an unsuccessful deletion, it would be nice to have maxRetries in this case too 🤔

[2020-10-20 00:57] Bambusters opened #35713 "Fin"
https://github.com/nodejs/node/blob/b401aa24d7ab8b1fb804844df70472c3679696b9/lib/_http_client.js#L283

[2020-10-20 04:38] bcoe commented on #35689
`maxRetries` was added at some point to allow folks to pass this option to the `rimraf.js`. The reason for the option is that Windows has race conditions when deleting all files in a folder, so it's common to need to attempt the removal a few times.

I think `maxRetries` should be a noop if not used in conjunction with recursive, probably with a warning.

[2020-10-20 04:42] #35713 closed

[2020-10-20 07:16] SimenB opened #35714 "`vm.Script`'s `importModuleDynamically` should get a reference to the `context` used to run it"
**Is your feature request related to a problem? Please describe.**

When implementing `importModuleDynamically` you don't have access to what context the script is executed with, meaning you can't pass the correct context when constructing a `Module`. We're also missing the `filename` of the `Script`, so resolving to the specifier passed is also not straightforward since it can be changed by `.run

[2020-10-20 07:19] koonpeng commented on #35620
I am getting the same error (similar backtrace) as well with rclnodejs. There is a reproducible code snippet posted here https://github.com/RobotWebTools/rclnodejs/issues/713, however running it requires ros2.

[2020-10-20 08:03] KitoCoding opened #35715 "What does node js use to build code coverage?"
I am looking at nyc mocha, but i was wondering wht node js was using to build code coverage?

For example: https://coverage.nodejs.org/coverage-642f2064c06793b7/index.html

[2020-10-20 08:48] mmomtchev commented on #35356
I don't think the RFC applies here - the point of that option is to allow you to send an Origin frame that does not conform to what the RFC specifies from Node's point of view  - most probably because of some special routing or tunneling or proxying or whatever.
I think @szmarczak 's is correct, if you overload the origin, Node should send that exact value, even if it violates the RFC from its poi

[2020-10-20 09:11] mmomtchev commented on #35356
@szmarczak , I think that the server correctly sends to the client the origin you requested, but keeps an internal originSet with all values. Whether this is correct is surely debatable, but it does not really have an impact on the outside world.

[2020-10-20 09:13] szmarczak commented on #35356
That's why I used the word `compute`. While it has little impact on the outside world, it's got a huge impact on the inside.

[2020-10-20 09:39] koonpeng commented on #35620
This appears to be the commit causing the error https://github.com/nodejs/node/commit/a6b655614f03e073b9c60f3d71ed884c5af32ffc. I'm guessing some destructors is failing to check if the finalize callback is valid.

[2020-10-20 09:40] aduh95 commented on #35696
@thomasrockhu Ideally, something like that:

<details>

<summary> Merging <a href="https://codecov.io/gh/nodejs/node/pull/35670?src=pr&el=desc">#35670</a> into <a href="https://codecov.io/gh/nodejs/node/commit/9ce5a031480a51abdb3d65fe67fba52df6a3851a?el=desc">master</a> will <b>decrease</b> coverage by <code>7.59%</code>.</summary>

[code]

| [Impacted Files](https://codecov.io/gh/nodejs/node/pull

[2020-10-20 10:30] mmomtchev commented on #35356
In fact, it is the server session that exhibits this incorrect behavior. In your code you are referring to the client session originSet which is correct in that particular case according to <https://tools.ietf.org/html/draft-ietf-httpbis-origin-frame-06#section-2.3>

Is this what you meant?

[2020-10-20 12:12] PoojaDurgad commented on #35715
@KitoCoding - can you fill the template issue please?

[2020-10-20 12:14] mmomtchev commented on #35680
@binrusas85 After removing the Typescript part to try your code, the stdout event does get fired and your static function does return the output of `ps ax` both on OS X and Linux
Whatever your problem is, it is not linked to Node or OS X

[2020-10-20 12:20] mmomtchev commented on #35313
@ronag This is the second similar question that I see, what should be the correct behavior of Node in this case? Is Node supposed to completely mask `ECONNRESET` and `EPIPE` from the user code?

[2020-10-20 12:26] ronag commented on #35313
`'error'` should not be emitted after `'close'`.

[2020-10-20 12:28] mmomtchev commented on #35313
So `write` after `'close'` should be ignored silently?

[2020-10-20 12:29] ronag commented on #35313
The callback would still provide an error, but yes, no errors should be emitted.

[2020-10-20 12:36] mmomtchev commented on #35313
There's no `'error'` event on master, but there is on 12.x and 14.x

[2020-10-20 12:39] mmomtchev commented on #23169
@ronag, curl on OS X sends a RST because of a very aggressive lingering on the socket, your take?

[2020-10-20 13:28] evanlucas commented on #35715
For the JavaScript portion of our codebase, we use the built in code coverage from V8 (with [`c8`](https://github.com/bcoe/c8) for reporting), for the native portions, we use [`gcovr`](https://github.com/gcovr/gcovr.git) with some patches.

Going to go ahead and close as it's not an issue with Node.js. Thanks!

[2020-10-20 13:28] #35715 closed

[2020-10-20 13:43] hertzg commented on #35620
I have also noticed a segfault in [my package which is using `ffi-napi`](https://github.com/hertzg/node-net-keepalive/issues/93). There were no code changes on the package side but the segfault only happens on `12.19.0`.

| Node version | Release Date | Workflow Run                                                                                  |
| ------------ | ------------ | ------------------

[2020-10-20 14:38] gireeshpunathil commented on #30525
looks like this has disappeared by itself, as it was not reported for months by now. Closing, can re-open if that is not the case

[2020-10-20 14:39] gireeshpunathil commented on #30524
I am unable to reproduce this anymore, so closing.

[2020-10-20 14:39] #30524 closed

[2020-10-20 14:39] gireeshpunathil commented on #30523
looks like this has disappeared as it was not reported for months by now. Closing, can re-open if that is not the case

[2020-10-20 14:39] #30523 closed

[2020-10-20 14:42] gireeshpunathil commented on #30456
closing as resolved / inactive; re-open if necessary

[2020-10-20 14:42] #30456 closed

[2020-10-20 14:43] gireeshpunathil commented on #30331
closing as resolved

[2020-10-20 14:43] #30331 closed

[2020-10-20 14:47] freydrich commented on #35526
Thanks for the info, I wasn't aware of that keep-alive timeout hint and undici library. It was helpful to understand more the issue I was facing and some ways to avoid it.

[2020-10-20 14:48] gireeshpunathil commented on #30278
@alexahdp - are you able to resolve this with no mounting from the host?

[2020-10-20 15:51] aduh95 commented on #34770
Something weird happen on https://github.com/nodejs/node/pull/34055#issuecomment-712935338: the CQ "failed", but the PR was pushed to master nonetheless.

[2020-10-20 15:56] Flarna commented on #35620
fyi @nodejs/n-api

[2020-10-20 16:07] szmarczak commented on #35356
If that's the case then it's still a bug since I connected to `localhost` but the requested origin is `example.com`.

[2020-10-20 16:23] panva opened #35722 "crypto: random value issues v15"
* **Version**: v15.0.0
* **Platform**: Darwin C02CX0K5MD6V 19.6.0 Darwin Kernel Version 19.6.0: Mon Aug 31 22:12:52 PDT 2020; root:xnu-6153.141.2~1/RELEASE_X86_64 x86_64
* **Subsystem**: crypto

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?

### What is the expected behavior?

Buffer gets logged with random values

### What do you s

[2020-10-20 16:28] mmomtchev commented on #35695
This is a collection of various minor issues all linked to the edge case of the underlying stream of the TLS listener being null after being indirectly removed by the `socket.destroy()`. When passing through `JSStreamSocket` (because of the `WrapSocket` class), it throws an exception, however when interfaced to the C++ stream, it ends with a segfault. The example is overly complex, you just need t

[2020-10-20 16:29] andrewnester commented on #35661
Experiencing the same issue on Node 12.9.0 but not Node 12.8.2.

Could this change be related to the issue?
https://github.com/nodejs/node/pull/32329/files

[2020-10-20 16:39] targos commented on #35722
@nodejs/crypto

[2020-10-20 16:49] bnb commented on #32206
As a note: I met with @Ethan-Arrowood yesterday and we discussed how to begin approaching this. We roughly agreed on the best path to adoption in Node.js would be to start with stripping out the styleguide parsing from docs-parser, making it an independent module, and introduce it as a linter to get all our docs uniform. This is based on a recommendation from this thread.

Electron's docs-parser c

[2020-10-20 16:50] bnb commented on #32206
As a note: help is appreciated if folks are interested in working on this with @Ethan-Arrowood and myself.

[2020-10-20 16:59] richardlau commented on #35722
Seems to fail on the current master branch (6b6bbfe7d0) too.

[2020-10-20 17:34] mmomtchev commented on #35356
The RFC states that the client should initialize the originSet with the same host name that was used for the SNI for the TLS handshake if there was a SNI, otherwise it should use the DNS name or the IP address of the host it connected to. Once again, it is a debatable edge case - I don't think the code implements this to the letter - I think it will use the URL hostname even if there was not an SN

[2020-10-20 18:05] andyvanee commented on #13209
I'm not sure why, but using `--experimental-repl-await` affects how `util.inspect.defaultOptions` are interpreted. In normal code you could adjust the output of `console.log` using the following:

[code]

But when using `--experimental-repl-await` it needs to be changed to this:

[code]

The [docs seem to suggest](https://github.com/nodejs/node/blob/master/doc/api/repl.md#customizing-repl-output)

[2020-10-20 18:47] special-character commented on #35572
I think I may have been incorrect about undici `2.0.7` fixing this issue. I am running into this again with:

node `v12.19.0`
undici `v2.0.7`

It is possible I though it was "working" because I use nvm and it switched to the default version I had set which worked fine.

[Full error with node version and undici version](https://cln.sh/kxeF4r)

[2020-10-20 19:00] mmomtchev commented on #35695
The segfault does not occur with the new crypto_tls code, it occurs only on v14.x
The TypeError is still there.

[2020-10-20 20:25] thomasrockhu commented on #35696
@aduh95, awesome, we'll look into making this configurable in the yaml. Thanks again for the feedback!

[2020-10-20 21:56] szmarczak commented on #35356
This still doesn't change the fact that it's a bug in Node.js.

[2020-10-21 02:41] panmenghan commented on #35695
@mmomtchev
I first post the issue to [there](https://github.com/nodejs/node/pull/34105#issuecomment-706606405),
reproduce the error against https://www.example.com

[2020-10-21 03:11] ai commented on #35722
Potentially it can be a huge security issue.

[2020-10-21 04:05] gwh-cpnet commented on #34059
So which V12 version got it fixed? I was running on v12.19.0, which the bug is still there.

[2020-10-21 06:40] Flarna commented on #35572
@special-character There may be other modules in the wild using the internal HTTPParser API which changed.
You could search for `binding('http_parser')` or `binding("http_parser")` in your node_modules folder to find who is actually loading it.

[2020-10-21 07:01] #35677 closed

[2020-10-21 07:05] jackIsZlg opened #35730 "Function has non-object prototype 'null' in instanceof check, when I use node but it is fine in Browser"
Looks like a Node.js bug. Logging an object should never crash. The same works in the browser:
[code]

Node.js:
[code]
Browser:
[code]

**node Verison:  v14.14.0**

[2020-10-21 07:08] targos commented on #35730
@nodejs/util

[2020-10-21 07:31] ronag commented on #35572
@special-character Do you have a repro?

[2020-10-21 07:59] userpixel opened #35731 "Can’t import stream promises API with ECMAScript Modules"
* **Version**:

v12.17.0 (current LTS)
v14.14.0 (LTS in a few days)

* **Platform**:

Linux 5.4.0-51-generic

* **Subsystem**:

'stream'

### What steps will reproduce the bug?

The [documentation](https://nodejs.org/api/stream.html#stream_streams_promises_api) says:

Which is fine. However, when using the ESM syntax it does not work like other APIs like 'fs' or 'dns':

[code]

### What is the exp

[2020-10-21 09:43] #35722 closed

[2020-10-21 09:49] GuillaumedesPommareSAP opened #35733 "Scripts command starting with `./` are failing with nodejs 15 on Windows (working with nodejs 14)"
Hello,

After upgrading to version 15 there are some scripts in error that were working okay. But I can't decide if this is a regression from 14.X or a bug. Let me know !

Here is the issue:
`'.' is not recognized as an internal or external command`

script:
`"watch": "./node_modules/.bin/concurrently -c \"yellow.bold,cyan.bold,green.bold\" \"npm:watch:*\"",`

node -v
v15.0.0

Windows 10 2004 64bi

[2020-10-21 10:26] targos commented on #35733
/cc @nodejs/npm

[2020-10-21 11:50] mmomtchev commented on #35695
I was able to compress it down to this unit test:
[code]

With JSSocket - exception on Node 14.x and master
Without JSSocket (pass `socket` instead of `new JSSocket(socket)`) - segfault on Node 14.x and ok since the crypto_tls merge on master
The final `'close'` event is never called

[2020-10-21 12:35] #35456 closed

[2020-10-21 12:54] bednic opened #35739 "Inaccuracy in division"
* **Version**: 12.6.1, 14.9.0, 15.0.0
* **Platform**: WIN 64x
* **Subsystem**:

### What steps will reproduce the bug?

just try in node console calculate:
[code]

### How often does it reproduce? Is there a required condition?
everytime

### What is the expected behavior?
[code]

### What do you see instead?
[code]

### Additional information
I suppose that the mistake with ``20.1`` is normal and

[2020-10-21 13:09] liweixi100 commented on #35456
Thank you Daniel!

[2020-10-21 13:09] panmenghan commented on #35695
The reason I try to spawn the server in a new process and kill the server is I want server send RST packet(not FIN packet) to end the connection. Maybe the error RST end the connection is not the same as FIN.

[2020-10-21 14:37] muzhaqi16 opened #35740 "Update fs.md"
I thought it was the same thing as well but unfortunately when I use `require('fs/promises')` I do receive an error message on my node environment but not if I use the second option.

Error: Cannot find module 'fs/promises'
Require stack:

My node version is v12.18.3

_Originally posted by @muzhaqi16 in https://github.com/nodejs/node/pull/35726#issuecomment-713544608_

[2020-10-21 15:25] special-character commented on #35572
I don't have a retro yet but can look into making a minimal one.

[2020-10-21 18:24] mmomtchev commented on #35695
@jasnell, @addaleax  is `http2.connect(url, { socket: s })` a supported code path?
Because the officially documented option is a function called `createConnection` returning a socket?
However should a `{ socket: s }` option be passed, it will get passed to `tls.connect` which supports it and will use it.
I wonder if this is intended?

[2020-10-21 18:29] aduh95 commented on #35740
The current documentation is only true for Node.js 14+. For Node.js 12, please check out https://nodejs.org/docs/latest-v12.x/api/fs.html#fs_fs_promises_api

For info, here is the support table for those features:

| Node.js version range | `require('fs/promises')` | `require('fs').promises` |
| - | - | - |
| v10.0.0 | ✅  |  ❌  |
| ≥v10.1.0 <14.0.0 |  ❌ | ✅  |
| ≥14.0.0 | ✅  | ✅  |

Maybe we could

[2020-10-21 18:55] aduh95 commented on #35739
I think that's a classic [IEEE 754](https://en.wikipedia.org/wiki/IEEE_754) rounding error case: computers use base 2, our society uses base 10, so this happens.

This is not related to Node.js, all languages using IEEE 754 64-bit behave like that (E.G.: Python). There are workarounds though, depending of your use case.

[2020-10-21 19:55] whymarrh opened #35744 "doc: punycode alternative name collision"
# 📗 API Reference Docs Problem

- **Version**: v12.19.0 LTS

- **Platform**: Darwin x86_64

- **Subsystem**: punycode

## Location

_Section of the site where the content exists_

Affected URL(s):

- https://nodejs.org/api/punycode.html#punycode_punycode
- https://nodejs.org/dist/latest-v12.x/docs/api/punycode.html#punycode_punycode

## Description

_Concise explanation of the problem_

The punyco

[2020-10-21 22:25] mhdawson commented on #35620
created https://github.com/nodejs/abi-stable-node/issues/411 to make sure we talk about it in the next N-API team meeting.

[2020-10-21 22:25] bednic commented on #35739
Well I gues you are right, I try it in PHP with 13 precision digits and it returns same mistake. What bothers me is this:
JS: `(20.4*100).toString().split(".")[0]` returns 2039 and
PHP: `explode('.','' . (20.4*100))[0]` returns 2040.

Same logic different result. If I'm still at bad place to make my point, you can close this as invalid issue, I'll understand it.
P.S.: If you could, please tell me

[2020-10-21 22:34] mhdawson commented on #35620
From an initial look at https://github.com/nodejs/node/commit/a6b655614f03e073b9c60f3d71ed884c5af32ffc, I don't think it's correct because Finalize (https://github.com/nodejs/node/blob/a6b655614f03e073b9c60f3d71ed884c5af32ffc/src/js_native_api_v8.cc#L270)   can still be called even if the user did not provide a finalizer and _finalize_callback is NULL.

If that's correct we should likely back out

[2020-10-22 00:33] devsnek commented on #35739
You should use rounding or truncating instead of splitting on the decimal.

[2020-10-22 01:59] Jamesernator opened #35748 "'abort' event on AbortSignal should be isTrusted: true"
* **Version**: 15.0.0
* **Platform**: `linux`
* **Subsystem**: `events`

This is a fairly minor thing, but might be relied upon and that's the fact that when `.abort()` is called on `AbortController` the `isTrusted` flag should be set.

For example this should print `true`:

[code]

#### Possible implementation:

It may be sufficient to just provide a way for the `EventTarget` constructor to mark

[2020-10-22 02:18] Trott commented on #35739
I'm going to close this, but feel free to leave comments if there's more to say.

[2020-10-22 02:18] #35739 closed

[2020-10-22 02:45] panmenghan commented on #35695
using createConnection instead:
[code]

the same error:
[code]

[2020-10-22 02:47] #35696 closed

[2020-10-22 05:08] Trott commented on #35703
I created the team, added @targos and @sxa, and sent an invitation to @richard-townsend-arm which they can obviously choose to accept or not.

[2020-10-22 05:08] #35703 closed

[2020-10-22 05:08] Trott commented on #35703
(Other folks wishing to join can leave a comment here.)

[2020-10-22 09:45] aduh95 commented on #35739
@bednic try `(20.4*100).toFixed()` or `Math.round(20.4*100)`. If you need more help, you can try over at StackOverflow or Reddit.

[2020-10-22 10:02] bednic commented on #35739
Thx guys, I'm not such a greenhorn to don't know, how to get accurate result. I've been just curious how two scripting languages, which are used together very often, can provide two diferent result with same approach. This just mean to me, that I have to be more thoughful where I will do the math.

[2020-10-22 10:11] programeriss commented on #25132
`yarn upgrade`

Solved all my problems

[2020-10-22 10:56] #32321 closed

[2020-10-22 10:57] #33703 closed

[2020-10-22 10:57] #15102 closed

[2020-10-22 10:57] #34016 closed

[2020-10-22 11:31] SimenB commented on #35714
(`vm` label probably makes just as much sense as `module` 🙂)

[2020-10-22 13:43] Trott commented on #35739
PHP is being helpful, but also concealing things that may cause other problems. (Every language has to figure out how to manage this trade-off and there's no one right answer.)

Well, yes, but that's because it rounds the inaccurate result of `(20.4*100)` without telling you. That is helpful in some circumstances, but in others, it can be maddening. Try this program:

[code]

[2020-10-22 13:46] mmomtchev commented on #35695
@panmenghan the exception is trivial to fix on the `createConnection` path but it is only the tip of the iceberg on the officially unsupported `socket` path
Maybe it is time to create another issue and submit the trivial fix for the exception

[2020-10-22 13:55] bednic commented on #35739
Well, you are right, after all. Thanks all for clarification and effort.

[2020-10-22 15:06] devsnek commented on #35714
We should add the needed properties to scripts. Extending the `importModuleDynamically` callback would be unfortunate.

[2020-10-22 15:26] SimenB commented on #35714
That would mean the passed in `Script` must be different from the outer one, right? E.g. this works fine today

[code]

If `innerScript` were to have e.g. `filename` on it, that would necessarily have to be different from `outerScript`, I believe. Since I can run the script many times in different contexts before it completes its execution. Dunno if there's a use case for them being the same insta

[2020-10-22 15:36] devsnek commented on #35714
oh yeah i guess thats why i didn't add a context property to it. i'll have to think about this a bit more.

[2020-10-22 16:21] puzpuzpuz opened #35759 "Total regression in codecov coverage report looks suspicious"
Got an automated coverage report on #35753. The reported coverage regression is estimated as `-8.50%` which is very suspicious, considering that the changes made by the PR are relatively small and tests are included. Impacted files list also includes mostly unrelated files. Is it possible that there is something wrong with codecov configuration or the service itself?

See https://github.com/nodejs

[2020-10-22 16:25] richardlau commented on #35759
https://github.com/nodejs/node/pull/35670#issuecomment-711412546 is probably relevant.

cc @bcoe

[2020-10-22 16:30] ZYSzys commented on #35658
@triblondon It's intentional designed, looking at the [rfc 7230](https://tools.ietf.org/html/rfc7230#section-3.2.2) here:

   name in a message unless either the entire field value for that
   header field is defined as a comma-separated list [i.e., #(values)]
   or the header field is a well-known exception (as noted below).

   name into one "field-name: field-value" pair, without changing the

[2020-10-22 17:24] arye-dov-eidelman opened #35761 "Text in the installer is truncated"
* **Version**: node-v12.19.0-x64.msi
* **Platform**: Windows 10 64bit
* **Subsystem**:

### What steps will reproduce the bug?
Installing node on a new machine.

### How often does it reproduce? Is there a required condition?

If text in the installer is too long either add a show more button or link to a support page for more info.

There seems to be plenty more space though.

### What do you see

[2020-10-22 19:37] Semigradsky opened #35762 "[v15.0] NodeEventTarget#removeAllListeners has different return type than EventEmitter#removeAllListeners"
NodeEventTarget:
https://github.com/nodejs/node/blob/3f4ec9c30b74f7fd4d8c8ab66090d6edee85300b/lib/internal/event_target.js#L473-L479
Looks like it should return `this`.

EventEmitter: https://github.com/nodejs/node/blob/3f4ec9c30b74f7fd4d8c8ab66090d6edee85300b/lib/events.js#L515-L559

[2020-10-22 19:38] ingsarmiento opened #35763 "npm WARN npm npm does not support Node.js v12.19.0"
I have installed the Node.Js v12.19.0 and when I try to use npm, the console raise this warning: npm WARN npm npm does not support Node.js v12.19.0

This is all the traces on the console:

npm WARN npm npm does not support Node.js v12.19.0
npm WARN npm You should probably upgrade to a newer version of node as we
npm WARN npm can't make any promises that npm will work with this version.
npm WARN np

[2020-10-22 20:07] ingsarmiento commented on #35763
I found the solution Here: https://github.com/nodejs/help/issues/2874#issuecomment-663661148

[2020-10-22 20:07] #35763 closed

[2020-10-22 21:27] Shahor commented on #35286
Aloha 👋

First of all, I really hope this is the right place to chime in about this, I am very new to contributing to the node project so I hope I'm not just wasting your time 🙇

I started playing with `AsyncLocalStorage` today as I was in need of APM-like context tracking in my express app, and wanted to remove old custom patches that are now becoming an issue with packages upgrades.

Anyhow, I'v

[2020-10-22 22:11] aleksey-hoffman opened #35765 "Support for executing Node.js fs functions as sudo"
**Is your feature request related to a problem? Please describe.**
The inability to execute Node.js `fs` functions with sudo (as admin) limits the applications built on Node.js. Nowadays, a lot of applications are built with Electron (which comes with Node.js), This feature would allow us to build more advanced apps with Node.js.

**Describe the solution you'd like**
Example;

1. A function execut

[2020-10-22 22:21] Qard commented on #35286
Event emitters aren't async, so no async resource is created when attaching event handlers. All it does is push the handler into an array. When you push data outside the run, it will run those handler functions directly in the context where the push happens, which is outside the scope, so there's no context to link. The correct thing to do would be to do the pushes inside the run handler.

There h

[2020-10-22 22:22] jasnell commented on #35765
This is not likely as there are a number of usability and security concerns with doing this. It's already possible to run the node process with sudo so I'm not sure what additional benefit this would offer.

[2020-10-22 22:25] ChrisHarveyHub opened #35766 "Running Node results in "Dependencies were not found""
* **Version**: 12.19.0
* **Platform**:  Windows 10 64-bit
* **Subsystem**:  Issue arises when requiring node-odbc in a NuxtJS project

### What steps will reproduce the bug?
Have NuxtJS and at some point in your project include the lines:
`const odbc = require('odbc')` or `const mysql = require('mysql')` or any other libraries that require fs or child_process or tls

### How often does it reproduc

[2020-10-22 23:16] aleksey-hoffman commented on #35765
@jasnell I guess it's theoretically possible with `child_process`, but how would that even work? Yes, the user can specify the directory path before running the function, but how would you make the `child_process.exec` request the user to enter their password in case the specified directory needs the password?

Could you please write a little code snippet? I can't really see how would that work

[2020-10-22 23:40] aleksey-hoffman commented on #35765
@jasnell I guess it's theoretically possible with `child_process`, but how would that even work? Yes, the user can specify the directory path before running the function, but how would you make the `child_process` request the user to enter their password in case the specified directory needs the password? And how do you pass the `path` for the function?

Could you please write a little code snippe

[2020-10-22 23:49] devsnek commented on #35765
Strong -1.

- This would require a sudoer's password being within node's address space in plain text, even if temporarily.
- This is a platform compat nightmare.
- If your program needs elevated permissions, run it with elevated permissions.

[2020-10-23 00:10] aleksey-hoffman commented on #35765
@devsnek unfortunately you cannot just run Electron apps as root without `--no-sandbox` parameter, which makes the app dangerous to use.

The only solution I can see is to use Node's `child_process` to create a new sudo Node process which would somehow request the user password and then run the needed `fs` function e.g. `fs.readdirSync(path)` for the specified protected directory and then return t

[2020-10-23 02:02] bcoe commented on #35759
@puzpuzpuz @richardlau I'm not 100% sure the reason, but codecov.io seems to get a bit confused about the order that commits land to our main branch:

<img width="200" alt="Screen Shot 2020-10-22 at 6 59 38 PM" src="https://user-images.githubusercontent.com/194609/96947820-00266480-1499-11eb-9880-060ba903b1aa.png">

☝️ it's expected that coverage will be about 87% now, but it doesn't look like cod

[2020-10-23 05:17] Jamesernator commented on #28728
Now that Node 15 supports `EventTarget`, could `self`/`self.addEventListener("message", ...)` be revisited? It'd be cool if we could reach a point where `worker_threads.Worker` can be exposed as a global that is compatible with browser's `Worker` so that we don't have to environment detect.

[2020-10-23 05:53] dcharbonnier commented on #18114
In fact, this is a nodejs issue

[2020-10-23 06:32] dcharbonnier opened #35769 "socket bind vs SO_BINDTODEVICE"
I'm exclusively speaking about client Socket on Linux, server socket is not an issue and other platforms behave differently.

**This issue is not a setup issue** (as mentioned on many of the  issues closed), routing is not a solution, the use case is to connect to the same remote address on the same port with two different IP through two different interface based on software decisions. Routing won

[2020-10-23 06:48] puzpuzpuz commented on #35759
@bcoe thanks for the clarification. It makes sense. I'm going to hide the codecov message and close this issue. Feel free to reopen it if you think it's necessary.

[2020-10-23 07:11] dcharbonnier commented on #25186
the issue si this #35769

[2020-10-23 07:17] dcharbonnier commented on #25211
see #35769

[2020-10-23 07:21] dcharbonnier commented on #13791
proposal to solve this issue #35769

[2020-10-23 09:24] ronag commented on #35116
I believe this has been resolved in latest 14.x.

[2020-10-23 09:24] #35116 closed

[2020-10-23 10:03] panmenghan commented on #35695
@mmomtchev  Thanks, please fix it. I already rewrite my code to use `createConnection` instead.
But why `https` not crash, only `http2` crash? `http2` use `tls` as transport should the same as `https`?

[2020-10-23 10:14] kefasb opened #35770 "Change in return value of setTimeout"
* **12.19.0**:
* **all**:

### What steps will reproduce the bug?

In node:12.19.0-slim docker image `setTimeout` function returns a value for which `isNaN=false`
In node:12.18.4-slim docker image `setTimeout` function returns a value for which `isNaN=true`

timeoutId = setTimeout(function() {alert("Timeout")}, 1000);
console.log(isNaN(timeoutId))

![image](https://user-images.githubusercontent.co

[2020-10-23 10:14] Shahor commented on #35286
yes, I understand that now.

Unfortunately that is something we don't have control over in an express setup like follows:

[code]

![image](https://user-images.githubusercontent.com/204561/96991657-13811080-1529-11eb-89d2-bd2baf793fd0.png)

As you can see, as soon as there is a payload to be parsed, `als.run`'s context is lost, that is due to `raw-body` treating the request as a stream.

I don't u

[2020-10-23 10:23] triblondon commented on #35658
Being unable to see the wire format is somewhat limiting, though.  And this *is* available in the h1 implementation.

[2020-10-23 11:19] mmomtchev commented on #35695
@panmenghan the bug is in the http2 code

[2020-10-23 11:31] mmomtchev opened #35773 "decide the fate of http2.connect(url, { socket })"
* **Version**: 12, 14 and master
* **Platform**: All
* **Subsystem**: http2

### What steps will reproduce the bug?

Calling `http2.connect(url, { socket })` is not supported but (almost) works by passing the socket option to the `tls.connect` call. I don't think this was an intended behavior.

The following (broken) unit test will produce a segfault:
[code]

### How often does it reproduce? Is th

[2020-10-23 11:36] mmomtchev commented on #35773
Second half of #35695

[2020-10-23 12:41] Trott commented on #35770
It was indeed an intentional change. https://github.com/nodejs/node/pull/34017

I wonder if perhaps that would have ideally been treated as semver-major, but I can see why that wasn't obvious at the time.

@lundibundi @nodejs/timers

[2020-10-23 13:51] bmeck commented on #35286
In the previous DiagnosticWG meeting there was mention that there was an effective equivalent to `.enterWith` searching around for it I couldn't find it, do we have examples of this API (changing the backing cells of all AsyncLocals) in other languages?

[2020-10-23 14:33] dcharbonnier commented on #35769
This issue is not http related, all (TCP at least) sockets suffer the same issue, I'm not having a specific issue with HTTP. I didn't try an Http request but that should make no difference as it's using the same TCP sockets implementation.

[2020-10-23 14:46] matthiasg commented on #5899
This seems to happen again in node 14. Really bad behavior. Uploads stop at about 1m with ECONNRESET

[2020-10-23 15:03] kanongil commented on #5899
@matthiasg You should open a new issue with details.

[2020-10-23 15:30] miladfarca commented on #35586
Hello, here is what's causing the issue. I have modified [the test](https://github.com/nodejs/node/blob/master/test/parallel/test-webcrypto-encrypt-decrypt-aes.js#L11) as such to make it easier to explain:

[code]
Running the test would normally give this output:
[code]
But on `s390x`, this pattern might happen which causes the failure:
[code]
I'm not sure why the test case is written as it is, th

[2020-10-23 17:11] Timon0305 commented on #22630
C:\Users\Timon\Documents\Baden>react-native link
warn Package @react-native-community/datetimepciker has been ignored because it contains invalid configuration. Reason: Cannot find module '@react-native-community\datetimepciker\package.
json'
Require stack:
- C:\Users\Timon\Documents\Baden\node_modules\@react-native-community\cli\build\tools\config\resolveNodeModuleDir.js
- C:\Users\Timon\Document

[2020-10-23 17:33] mhdawson commented on #35620
We discussed in the N-API meeting today and @gabrielschulhof agreed with my assessment, will create PR to revert

[2020-10-23 18:12] dcharbonnier commented on #35769
Similar to the fs 'open' event we could add
[code]
could be emitted here https://github.com/nodejs/node/blob/master/lib/net.js#L248
_handle could be a pipe or a tcp wrap but both of them have a fd.
Sounds like an easy change.

[2020-10-23 18:15] mhdawson commented on #35620
PR for revert: https://github.com/nodejs/node/pull/35777

[2020-10-23 18:18] mhdawson opened #35778 "Investigate test/node-api/test_worker_terminate_finalization/test.js"
* **Version**: 12.x and higher
* **Platform**: ALL
* **Subsystem**: N-API

Refs: https://github.com/nodejs/node/pull/35777

### What steps will reproduce the bug?

Run test  test/node-api/test_worker_terminate_finalization/test.js under ASAN/memory check

### How often does it reproduce? Is there a required condition?

### What is the expected behavior?

No memory leaks reported

### What do you s

[2020-10-23 18:19] mhdawson commented on #35778
Test is currently excluded by:

// TODO(addaleax): Run this test once it stops failing under ASAN/valgrind.
// Refs: https://github.com/nodejs/node/issues/34731
common.skip('Reference management in N-API leaks memory');

[2020-10-23 18:43] wqoq opened #35780 "process title overwrites Windows Command Prompt title"
* **Version**: v13.3.0
* **Platform**: Microsoft Windows 10 Enterprise, 10.0.18363 N/A Build 18363
* **Subsystem**: Process

### What steps will reproduce the bug?

1. Open a Windows Command Prompt (using `cmd.exe`)
2. Set the title using the `title` command (e.g. `title My Custom App`). The title of the window will change to "My Custom App".
3. Run a node script that sets the process title (e.g.

[2020-10-23 19:11] Qard commented on #35286
There's already a pull request to fix that in raw-body: https://github.com/stream-utils/raw-body/pull/71

[2020-10-23 23:05] joyeecheung opened #35783 "V8 coverage API next steps"
See https://github.com/nodejs/node/pull/33807#issuecomment-643314073 and https://github.com/nodejs/node/pull/33807#issuecomment-693162916

Also https://github.com/nodejs/node/issues/35212

[2020-10-24 00:16] guybedford commented on #28728
@Jamesernator it's advisable to use a library like https://github.com/developit/web-worker to normalize these differences.

[2020-10-24 00:21] gabrielcsapo commented on #13917
@bnoordhuis how can this be prevented?

[2020-10-24 00:44] l10r opened #35784 "module "proxy-agent" does not work at all in nodejs 15, but works fine from nodejs 14 and below"
Bug that occurs on v15.0.1 and v15.0.0 only.

uname -a:
`Linux tested 5.8.0-25-generic #26-Ubuntu SMP Thu Oct 15 10:30:38 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

### What steps will reproduce the bug?
Any attempt to use *proxy-agent* for doing a proxy request...
Code example:
[code]

### How often does it reproduce? Is there a required condition?
No, not at all just using v15.
### What is the ex

[2020-10-24 01:49] Jamesernator commented on #28728
I mean sure, but there's clearly been a lot of work put into adding `EventTarget` (and even a web-compatible `MessageChannel`) into Node 15 that it seems like fairly low hanging fruit to add `self`/`self.addEventListener`/`self.postMessage`.

[2020-10-24 02:04] guybedford commented on #28728
@Jamesernator if you'd be interested in working on PRs to bridge these gaps I'm sure they would be considered.

[2020-10-24 08:52] shencong713 opened #35785 "nodejs cluster could not work ok in windows 64-bit"
* **Version node 14.14.0:
* **Platform  Windows  10  64-bit:
* **Subsystem**:

using cluster（set cluster.schedulingPolicy = cluster.SCHED_RR;）
all thread start ok,
but when i access（http）， only one thread use, other not work

[2020-10-24 09:13] bzoz commented on #35780
Sorry, I don't see a bug in Node here. The `process.title` sets the entire window title, if you want it to add a suffix then you have to do this manually:
[code]
if you want your app to restore the title when it exits - then again, you have to do it manually:
[code]

If you are unhappy with how some tools use `process.title`  - which I completely understand and 100% agree with you - then you shoul

[2020-10-24 09:28] bnoordhuis commented on #35686
I can reproduce what you report but Node.js can't fix that, the error message comes straight from Apple's libmalloc:

https://opensource.apple.com/source/libmalloc/libmalloc-283.100.6/src/vm.c.auto.html

(I can't link to the offending line but search for "failing".)

[2020-10-24 13:10] ExE-Boss opened #35788 "Backporting `util/types`, `path/posix` and `path/win32` to v15 proposal"
## Is your feature request related to a problem? Please describe.

I’d like to get <https://github.com/nodejs/node/pull/34055> and <https://github.com/nodejs/node/pull/34962> backported to **v15.x**.

---

Note that no backport PRs exist yet, and the above PRs were only merged into **v16.0**.

## Describe the solution you'd like

I propose the following options:

1. Backport <https://github.com/no

[2020-10-24 13:32] ExE-Boss commented on #35731
I can’t reproduce this on **v15.0.1**, which also supports `stream/promises`: <https://github.com/nodejs/node/pull/33991>.

[2020-10-24 13:43] gireeshpunathil commented on #32998
this is fully documented now, [here](https://nodejs.org/dist/latest-v15.x/docs/api/v8.html#v8_v8_getheapstatistics). Closing, pls re-open if my understanding is wrong

[2020-10-24 13:43] #32998 closed

[2020-10-24 14:04] jvictor85 commented on #27107
My performance issues were improved enough by version 12.16.2 (and all versions of 14) that I moved every server over to those. Due to that I never got the chance to test on later versions of 10, but the crash was still happening when I switched over. I'm not sure if anyone else is experiencing this crash or can reproduce it, but I shouldn't be seeing it anymore so I'll close this for now. Thanks

[2020-10-24 14:04] #27107 closed

[2020-10-24 14:26] #35688 closed

[2020-10-24 14:53] wqoq commented on #35780
Yeah, I suspected I would get this response. I had an issue all queued up in Angular CLI's tracker, but had a feeling they would tell me it's Node's problem.

It still feels to me like Node is doing something non-standard if I have to go to every tool that's using Node and tell them they're using it wrong.

Concatenating the titles to get an OS specific behaviour feels more like something Node sho

[2020-10-24 16:54] mmomtchev opened #35789 "quic: async_iterator doesn't return the last chunk"
* **Version**: master with QUIC
* **Platform**: Linux
* **Subsystem**: stream

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?

QUIC must be enabled

### Additional information

<https://github.com/nodejs/node/blob/70834250e83fa89e92314be37a9592978ee8c6bd/lib/internal/streams/readable.js#L1098>
This line, committed 10 days ago, is the

[2020-10-24 16:54] mmomtchev commented on #35789
@ronag

[2020-10-24 18:43] aduh95 commented on #35788
I don't think that's true, v15 should not be considered unstable – the odd numbered release rule was in place in the early days of Node.js 0.x IIRC, nowdays Node.js follows semver for the most part. Stability should not be the focus anyway, breaking changes have been landed on even numbered releases too (E.G.: #27417 landed in v12.2.0).

Correct me if I'm wrong, the PR at stake here are not introd

[2020-10-24 20:03] ljharb commented on #35788
`util/types` luckily doesn't conflict with https://unpkg.com/browse/util@0.12.3/, the browserify shim for util. `path/posix` and `path/win32`luckily do not conflict with https://unpkg.com/browse/path@0.12.7/ either. In general though, there's no such thing as a "reserved name" when it comes to appending file paths on the end.

There's still the chance someone in an enterprise app has named a priva

[2020-10-24 20:16] bzoz commented on #35780
If the tool does not touch `process.title` then the console title won't change. If the app wants to change the tile, it does this explicitly. Even if Node would only allow adding suffixes to the title, then - besides a lot of people complaining - someone will make a workaround for this using ``spawn(`title ${newTitle}`)`` and we are back where we started.

[2020-10-24 21:26] Trott commented on #35788
@nodejs/tsc @nodejs/releasers @nodejs/modules-active-members

[2020-10-24 21:55] #35686 closed

[2020-10-24 22:57] bcoe commented on #35759
see also: https://github.com/nodejs/node/pull/35779

[2020-10-24 23:10] bcoe commented on #35759
@thomasrockhu codecov's comments on PRs seem to behave somewhat strangely on the Node.js project:

The HEAD of our default branch has been at 87% coverage for several commits now, but the coverage graph oscillates:

![image](https://user-images.githubusercontent.com/194609/97095331-df821a00-1612-11eb-8972-dfe899db96dd.png)

Similarly, PRs are getting [reports of seemingly unrelated drops in covera

[2020-10-25 00:17] Trott commented on #35759
That's the date the commit was authored, not merged. That sort of thing will happen on any large codebase with lots of people working on it. For example, here are the last 10 timestamps as of this writing for https://github.com/microsoft/vscode:

[code]

If you run `git log --format=fuller`, you will get separate AuthorDate and CommitDate fields. I'm not sure the commit dates will necessarily be i

[2020-10-25 00:31] Trott commented on #35788
Just in case I'm not at the TSC meeting: I'm in favor of backporting these changes to the 15.x line.

[2020-10-25 01:24] bcoe commented on #35759
_@Trott thanks for clarifying, and providing the one liner, I figured it was something along these lines._

@Trott @thomasrockhu, looking at the [list of recent commits on the default branch](https://codecov.io/gh/nodejs/node/branch/master/commits). It jumps out at me that codecov.io seems to be sorting by `AuthorDate`, whereas for providing an accurate comparison report on a PR, we would want to

[2020-10-25 05:49] targos commented on #35788
Is there anyone against that?

[2020-10-25 05:52] Qard commented on #35759
In #35779, the `c8` step spat out a whole bunch of errors. Might be related: https://github.com/nodejs/node/runs/1299567071#step:8:1

[2020-10-25 06:06] trapcodeio commented on #24101
This support would not be a bad idea in future.
We need types 😎

[2020-10-25 10:19] #34818 closed

[2020-10-25 10:29] #35740 closed

[2020-10-25 10:29] #35353 closed

[2020-10-25 10:29] #35475 closed

[2020-10-25 12:18] AjayPoshak opened #35793 "Enable Dark Mode for NodeJS docs"
**Is your feature request related to a problem? Please describe.**
Please enable dark mode for [node docs](https://nodejs.org/api/) like the [nodejs.dev](https://nodejs.dev/learn) website.

[2020-10-25 14:21] bcoe commented on #35759
@Qard these are warnings are noisy, but I believe are unrelated (_they relate to the file path not being properly calculated for files in the `deps/` folder, this information is then dropped in the final reports._).

Your coverage output is what I expect `~87%` is the combined coverage for our C++ and JS dependencies. What seems to be broken is the comparison between this and the default branch, w

[2020-10-25 17:25] zehavibarak opened #35801 "npm update fails with "Cannot read property 'parent' of undefined""
Hi,

Upgraded to 15.0.1. Getting error while trying to update packages via `npm up` command:

1734 verbose stack TypeError: Cannot read property 'parent' of undefined
1734 verbose stack     at Arborist.[canPlacePeers] (C:\Program Files\nodejs\node_modules\npm\node_modules\@npmcli\arborist\lib\arborist\build-ideal-tree.js:1430:14)
1734 verbose stack     at Arborist.[canPlaceDep] (C:\Program Files\n

[2020-10-25 20:15] Fishrock123 commented on #35770
I don't have much to add - the change is definitely something that should have happened at some point. The current maintainers will need figure out what, if anything, to do about this situation.

[2020-10-26 03:06] ridays2001 commented on #35761
There's another issue with the windows installer. If you minimize it while installing, then it won't open properly after installation, or when the window closes and reopens. See the screenshot.

![image](https://user-images.githubusercontent.com/46166258/97130050-5aa81500-1766-11eb-8e77-a87c20f5a990.png)

[2020-10-26 04:45] firewone opened #35803 "doc:"
# 📗 API Reference Docs Problem

- **Version**: ✍️

- **Platform**: ✍️

- **Subsystem**: ✍️

## Location

_Section of the site where the content exists_

Affected URL(s):

- https://nodejs.org/api/✍️

## Description

_Concise explanation of the problem_

✍️

---

- [ ] I would like to work on this issue and
      submit a pull request.

[2020-10-26 04:51] #35803 closed

[2020-10-26 05:08] AjayPoshak commented on #35793
I would like to work on it, if that's possible.

[2020-10-26 05:53] DerekNonGeneric commented on #35793
@AjayPoshak, that is possible.

[2020-10-26 07:19] kefasb commented on #35770
Thank you for clarification.

[2020-10-26 07:19] #35770 closed

[2020-10-26 07:35] crtassos commented on #10457
Hi max i had the same issue. I tried "node inspect app.js" to start the debugger using the inspector protocol without the two dashes "--" and it worked. I used the chrome devtools with chrome://inpsect

Reference: https://nodejs.org/api/debugger.html

[2020-10-26 07:35] hmt commented on #35801
For the time being, to install your packages you can fall back to yarn. That worked for me.

[2020-10-26 09:56] lpinca commented on #35580
Closing as this has been fixed by https://github.com/nodejs/node/pull/35618.

[2020-10-26 09:56] #35580 closed

[2020-10-26 10:23] bzoz commented on #35780
So, I'm going to close this issue. There is nothing broken in Node core, and the issues you are seeing are because of the way other apps use `process.title`. I think it is `npm` that changes the console title to whatever it wants to run, but don't quote me on that.

[2020-10-26 10:23] #35780 closed

[2020-10-26 10:24] thesayyn commented on #35711
Looking forward to seeing this landed on nodejs. This would make nodejs more suitable for  Serverless architecture.

[2020-10-26 11:04] lpinca commented on #35360
@netanel-haber I think this was done for simplicity to avoid creating two options objects. Feel free to open a PR if you think that using two options objects clarifies the example. I personally don't mind.

[2020-10-26 11:43] neversun commented on #35661
@ronag

I created a repro without node-fetch based on @ipbc-dev's code: https://github.com/neversun/node-issue-35661

There are 3 examples of a working (short) request, a long one with around 2 MB of data and a long but slow one with ~100KB of data.

What I see is, that it works on 12.18.2 and fails on 12.19.0:

[code]

Also I found a strange thing to happen on 12.19.0 if you attach a timeout hand

[2020-10-26 11:44] Semigradsky opened #35810 "quic: can't find QuicEndpoint#closing"
In doc (https://nodejs.org/dist/latest-v15.x/docs/api/quic.html#quic_quicendpoint_closing) we have `closing` field in `QuicEndpoint` class. But I can't find it in code (https://github.com/nodejs/node/blob/master/lib/internal/quic/core.js). It looks like not implemented.

Also in code `QuicSocket` class has `closing` field:
https://github.com/nodejs/node/blob/ba465c5ff60a970a79a14d910f6ef6d7ef5143f

[2020-10-26 11:45] benjamingr commented on #35748
Good catch

[2020-10-26 11:52] benjamingr commented on #35748
I'll make a PR

[2020-10-26 11:56] netanel-haber commented on #35360
Thanks for the reply - Where can I find the format for posting prs to this repo?

[2020-10-26 12:01] benjamingr commented on #34894
Hey, sorry for missing this issue.

We haven't actually _implemented_ any of the getTheParent logic and we would rather not maintain it. We are at liberty (from the spec point of view) to do this.

We took this decision after discussing this with WHATWG folks (Domenic and Anne) and with Deno maintainers (Kitson).

I recommend we explore this with a userland library that implements EventTarget (fee

[2020-10-26 12:01] benjamingr commented on #34122
Hey, any status/updates on this?

[2020-10-26 12:03] lpinca commented on #35360
See https://github.com/nodejs/node/blob/master/doc/guides/contributing/pull-requests.md

[2020-10-26 12:04] benjamingr commented on #33932
Hey, it looks like discussion here has exhausted itself. I recommend this is first explored through a userland implementation so it's easier for maintainers and the community to play with and get a feel of. Personally I agree with what James wrote above.

I am going to go ahead and close this _but_ if you believe there is more discussion to be had please let me know and I will gladly reopen this.

[2020-10-26 12:04] #33932 closed

[2020-10-26 12:21] ronag commented on #35661
@nodejs/http

[2020-10-26 12:30] benjamingr commented on #35770
@kefasb just to point out - this change should have probably been communicated better and semver-major if people "in the wild" are running into cases where code that checks for node vs. browser timers is starting to fail.

The idea was to make node timers _easier_ to work with and this sort of usage pattern (someone using isNaN to check if the timer they got was a web browser) was missed on our pa

[2020-10-26 13:20] dougmellon commented on #35793
@AjayPoshak If you would like help, let me know and I will lend a hand.

[2020-10-26 14:54] panva opened #35812 "crypto(webcrypto): ECDH Named curve mismatch"
* **Version**: v15.0.1
* **Platform**: Darwin C02CX0K5MD6V 19.6.0 Darwin Kernel Version 19.6.0: Mon Aug 31 22:12:52 PDT 2020; root:xnu-6153.141.2~1/RELEASE_X86_64 x86_64
* **Subsystem**: crypto.webcrypto

### What steps will reproduce the bug?

This rejects
[code]

This works, difference is the presence of the JWK "alg" (Algorithm) Parameter
[code]

### What is the expected behavior?

The key impo

[2020-10-26 15:28] demurgos opened #35815 "`crypto.scryptSync` regression in Node 15: routines:EVP_PBE_scrypt:memory limit exceeded"
* **Version**: 15.0.1
* **Platform**: Linux 64 bits
* **Subsystem**: crypto

### What steps will reproduce the bug?

Create `main.js` and run it.

[code]

### How often does it reproduce? Is there a required condition?

Calling `scryptSync` a few times always produces this error. This is not deterministic: sometimes 2 calls were enough, sometimes I need 3 calls.

### What is the expected behavior?

[2020-10-26 15:33] jasnell commented on #35815
Ok, able to reproduce. Will investigate today!

[2020-10-26 15:35] jasnell commented on #34894
+1 to that @benjamingr. My recommendation would be to close this as a wontfix

[2020-10-26 16:14] thomasrockhu commented on #35759
@bcoe, I'm off this week, but I'll do a deep dive on Monday. My suspicion is that there might be something in the differing number of uploads between the ~87% covered commits (2 uploads) and the ~96% covered commits (1 upload).

[2020-10-26 16:41] orgads commented on #35661
The problem is in the server. Here's a minimal example with no dependencies. It creates a server and a client which opens a POST request and keeps transmitting all the time. After 90s it is considered a success. With Node 12.19.0 it fails after 60s with "Premature close".

[code]

[2020-10-26 16:46] orgads commented on #35661
I also suspect https://github.com/nodejs/node/pull/34131. It *doesn't* reproduce with 14.14.0, so I suppose the backport was partial, or it depends on another commit that was not backported?

[2020-10-26 16:48] ronag commented on #35661
Maybe missing https://github.com/nodejs/node/commit/da4d8de9d09f98e6d81b9d5778fa44c26c25ec75?

[2020-10-26 16:49] orgads commented on #35661
Makes a lot of sense :)

[2020-10-26 16:51] ronag commented on #35661
backport PR welcome

[2020-10-26 16:51] ronag commented on #35661
@mcollina @addaleax FYI This seems like a valid issue.

[2020-10-26 16:56] Shahor commented on #35286
Thanks for your patience and explanations 👍
This makes a lot more sense (and is so valuable to have in core <3)

[2020-10-26 17:26] clshortfuse commented on #34894
Actually, node isn't following spec fully. For example, I don't think capturing phase is being properly followed. Event listeners that have `{capture:true}` should get the the event first, which allows it to block (prevent) other event listeners from receiving the event. (Which means I can't use Node's implementation yet.) I'm okay with not having some sort of maintained method for how `getThePare

[2020-10-26 17:29] Qard commented on #35286
No worries. Sorry if any of this is unclear in the docs. I definitely feel the docs around all this could use some work.

[2020-10-26 17:56] orgads commented on #35661
Done: https://github.com/nodejs/node/pull/35819

One test crashes. Maybe another commit is missing?

[2020-10-26 18:02] Shahor commented on #35286
It's fine since the discussion is open :)

[2020-10-26 18:27] jasnell commented on #35815
PR: https://github.com/nodejs/node/pull/35821

[2020-10-26 19:50] Flarna commented on #35661
@ronag Can you remember why you added `dont-land-on-v12.x` on #34578?

[2020-10-26 20:06] ronag commented on #35661
@Flarna probably because https://github.com/nodejs/node/pull/34131 wasn't backported

[2020-10-26 21:46] opyh commented on #29767
@bnoordhuis

Could you elaborate a bit so we can find out if this is fixable in node-fibers?

[2020-10-26 22:31] markddrake commented on #35731
The documentation and version history for streams should make this clear

[2020-10-26 23:07] benjamingr commented on #34894
I would love to know where - our goal is to make `EventTarget` fully spec complaint and we've been assisted by whatwg with this. The fact we're not 100% sure of EventTarget is why it's still experimental and not exposed to users.

In fact this approach was [recommended to us by whatwg](https://github.com/nodejs/node/pull/33556#issuecomment-634682080). I agree with it.

That doesn't sound right, lo

[2020-10-27 01:12] clshortfuse commented on #34894
I'm looking at the perspective of, "What can I do with the current code to make a custom get-the-parent system?". With spec, you're supposed to dispatch the events and update the phase as events are emitted. This doesn't exist in the code. The capture should fire based on the order of `.path` and it's not.  That means even if we were to override `composedPath` (in an attempt to workaround with a c

[2020-10-27 06:54] master-genius opened #35824 "read ECONNRESET at TLSWrap.onStreamRead"
* **Version**: v14.14.0
* **Platform**: Linux
* **Subsystem**:Ubuntu 20.04

### What steps will reproduce the bug?

I create http2 server and benchmark use ab:

after this, the server is crashed.

[code]

I had try to handle all 'error' event (socket, http2Stream, http2Session), but all are ineffective.

[2020-10-27 07:06] chengzhuo5 opened #35825 "Tcp server cannot emit 'end' or 'close' event when 'data' event isn`t listened"
* **Version**: 14.14
* **Platform**: Windows
* **Subsystem**: Windows 10

Server code:
[code]

Client code:
[code]
If there is not 'data' event handler in server code, client.end cannot emit 'end' or 'close' event of server.

[2020-10-27 08:21] lpinca commented on #35825
That's expected, you have to read all the buffered data before the `'end'` event is emitted. If you don't want to add a listener for the `'data'` event, you can resume the socket.

[code]

[2020-10-27 08:27] benjamingr opened #35826 "Keeping up with landing things and reviews"
Hey,

A lot of changes regarding how to land things happened since I joined Node. With the commit queue, NCU, criteria changes, team pings and other things. Some collaborators (like Ruben) helped me in the past when I wanted to keep up, it was always 1x1.

I have a feeling (not sure if it's well founded) that the number of people reviewing things is rather small and the number of people landing th

[2020-10-27 08:28] benjamingr commented on #35826
I'll ping @nodejs/tsc in case the TSC wants to pick this up.

(I'm not pinging nodejs/collaborators since that feels like a much too broad ping - but I'm not sure that's a correct call since I think feedback from other collaborators would be very useful)

[2020-10-27 08:29] chengzhuo5 commented on #35825
Thanks. It is not explained in the document.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "nodejs/node"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年10月27日(星期二) 下午4:22
收件人:&nbsp;"nod

[2020-10-27 08:30] #35825 closed

[2020-10-27 08:40] benjamingr commented on #34894
So a few things regarding your example:
 - `event.path` is a non-standard Chrome extension. The WHATWG html specification does not define it and in most likelihood we _shouldn't_ implement `.path`.
 - The only standard API we don't implement is `initEvent` - which makes sense because we don't have a `document` to create the event the old way. I _think_ this is fine.
 - You _cannot_ override "get t

[2020-10-27 09:04] mcollina commented on #35826
+1 I think this would be great to do. Maybe @mmarchini? She worked on most of the new automation.

[2020-10-27 09:30] mmomtchev commented on #35824
Can you post your code, the default server doesn't do that. One of the causes can be blocking the event loop.

[2020-10-27 10:36] Flarna commented on #34770
Is it intended that bot fails to integrate PRs which have a failed github CI but a green jenkins CI?
see e.g. https://github.com/nodejs/node/pull/35777#issuecomment-717100774

[2020-10-27 10:41] #35620 closed

[2020-10-27 11:42] JusticeBringer commented on #32987
For me, this solved my problem:

`yarn remove mongoose`
`yarn add mongoose`.

[2020-10-27 11:55] master-genius commented on #35824
In order to avoid the influence of the framework, http2 module is used for testing.

[code]

test command:

[code]

[2020-10-27 15:02] mmomtchev commented on #35824
I confirm that there is indeed a bug in the TLS code, both in 14.x and master

[2020-10-27 15:25] mmomtchev commented on #35824
@master-genius I replaced the uncatchable error with a tlsClientError event

[2020-10-27 16:01] Trott commented on #35826
Some stats for the last 6 months that are probably more interesting than useful:

1712 commits landed

Of the 104 accounts (including the bot) in the Collaborators group, 56 landed at least 1 commit in that time

<details>
<summary>full data table</summary>

commits| landed by | percentage
-- | -- | --
363 | Rich Trott | 21.20%
297 | James M Snell | 17.35%
215 | Anna Henningsen | 12.56%
107 | Mich

[2020-10-27 16:02] Trott commented on #35826
I would love to see that "56" be a bigger number, so I'm 👍  on doing this if it will help.

[2020-10-27 17:21] Trott commented on #35826
I guess we wouldn't even need to do create new material for this. We could just walk through the relevant part of the onboarding.md doc.

[2020-10-27 18:08] canelhasmateus opened #35832 "npm install fails with an exceed stack limit on dockerhub node:slim image"
* **Version** dockerhub node:slim, since the update on 2020/10/23
* **Platform** both linux and win10 64bits:
* **Subsystem**:

### What steps will reproduce the bug?

Run Dockerfile

### How often does it reproduce? Is there a required condition?

always

### What is the expected behavior?

npm install proceeds without error.

### What do you see instead?

npm install fails with a exceeded stack

[2020-10-27 18:24] ExE-Boss commented on #35731
<https://github.com/nodejs/node/pull/34002> updated the documentation, now it’s just a matter of waiting for the website to be updated.

[2020-10-27 18:49] evanlucas commented on #34043
Node works on Big Sur and the `master` branch now fully works on Apple Silicon with https://github.com/nodejs/node/pull/35415 and https://github.com/nodejs/node/pull/34238 landed. Please feel free to let us know if there are any other issues. Thanks!

[2020-10-27 18:49] #34043 closed

[2020-10-27 19:10] jakub-g commented on #19393
Hello everyone, based on comments above I feel like `fetch` in node core is still a melody of far future due to amount of work involved and technical challenged.

I'd like to provide a high level data point from my side and perhaps a new (not sure) perspective. It's not purely on `fetch` but networking in general. (Sorry if you find my comment off-topic and if discussions like this have already in

[2020-10-27 19:42] mmomtchev commented on #35824
@master-genius, @lpinca is right, your error can (and should be) handled in the user code:
[code]

[2020-10-27 19:46] kaizhu256 opened #35833 "v15.x regression - ERR_INTERNAL_ASSERTION - failed `assert(socket._httpMessage === this);`"
* **Version**: 15.0.0, 15.0.1
* **Platform**: linux, windows
* **Subsystem**: x64

### What steps will reproduce the bug?
1. install any node v15.0.x on windows or linux

2. copy-paste the following in shell (or git-bash for windows):
[code]

### How often does it reproduce? Is there a required condition?
- reproducible everytime.
- conditions:
1. ServerResponse must have listener on `error` event

[2020-10-27 19:54] mhdawson commented on #35826
A session sounds great to encourage/make people more comfortable landing.

[2020-10-27 20:07] ryancat opened #35834 "Backward incompatibility issue with regular expression: forward slash in square brackets."
* **Version**: 12.11.1, 12.18.4
* **Platform**: linux, macOS, windows

### What steps will reproduce the bug?
Go to https://jdoodle.com/ia/3tF and try executing with nodejs v10, and v12 to see different results.
[code]
In node v10, the output regular expression would be `/[\/\\]/`, while in node v12, it's `/[/\\]/`. I believe the forward slash in brackets are not necessary, and may got removed in

[2020-10-27 20:12] devsnek commented on #35834
It is the same regex either way. The only difference is the stringification of the regex object, which was changed a while back to get rid of unneeded escape characters.

[2020-10-27 22:45] snowinferno opened #35835 "worker_threads parentPort extends EventTarget in Node 14 but extends EventEmitter in Node 12"
* **Version**: v14.15.0
* **Platform**: Darwin SuperSecretHostname 19.6.0 Darwin Kernel Version 19.6.0: Mon Aug 31 22:12:52 PDT 2020; root:xnu-6153.141.2~1/RELEASE_X86_64 x86_64
* **Subsystem**: worker_threads

### What steps will reproduce the bug?

Run this script under node v14.15.0

[code]

### How often does it reproduce? Is there a required condition?

Every time the script is run.

Required

[2020-10-27 22:45] Flarna commented on #35833
@ronag  I think this is caused by #31818

[2020-10-27 22:47] indutny commented on #35835
cc @addaleax @jasnell

[2020-10-27 23:07] addaleax commented on #35835
So … I’m conflicted – on the one hand, this is working as expected. `MessagePort` instances are supposed to be `EventTarget`s, not `EventEmitter`s, we just didn’t have `EventTarget` when we introduced it in the first place.

That being said, the fact that `.emit()` was being dropped was not something I had considered when I made the switch, and I’m surprised to realize that it’s missing from `Node

[2020-10-27 23:11] addaleax commented on #35835
Also: Yes, this is definitely missing documentation updates. I’ll get onto that.

@snowinferno Is this causing any real-world trouble? I’m surprised that `parentPort` is being used to emit custom events in any case…

[2020-10-27 23:17] #35824 closed

[2020-10-27 23:18] master-genius commented on #35824
@mmomtchev ok, thanks.

[2020-10-27 23:21] addaleax commented on #35506
ping @jasnell @benjamingr any further thoughts? I’d lean towards option 2, if nobody has a strong opinion.

[2020-10-28 00:11] snowinferno commented on #35835
It's not causing real world trouble _yet_.

The company I work for is mainly on Node 10 and 12 while we prepare for and test Node 14.

I happened to be using node 14 when I ran a test with worker_thread code to perform some tasks. In the event an error happens during processing, we're using `parentPort.emit('error', error)` to bubble it back to the main thread through `worker.on('error',...)`.
Thi

[2020-10-28 00:24] snowinferno commented on #35835
The module I'm working on is in a state where it is being picked up by application builds but the method of triggering it is not yet user-friendly.

If the decision is to leave the worker_thread implementation as-is, we will have to prioritize changing how errors get bubbled up before we make Node 14 available for production applications.

[2020-10-28 02:09] sding3 opened #35842 "http/https: setsockopt for tcp keepalive occurs after the connection has already been used for HTTP"
* **Version**: 13.13.0
* **Platform**: Linux
* **Subsystem**: http/https

### What steps will reproduce the bug?

Running the following piece of code:

[code]

### How often does it reproduce? Is there a required condition?
Everytime.
No.

### What is the expected behavior?

I expect the `setsockopt` sys calls that enable and configure tcp keepalive to occur prior to the socket being used for the

[2020-10-28 04:58] YataoZhang opened #35843 "nodejs crashed in linux_core 4.x"
Sorry! My english is a little bad.

I upgrade the linux system to 4.x, and i found the node process cannot be start up in linux 4.x.
The machine environment is "**Linux 4.14.0_1-0-0-28 x86_64**".
My command is:
[code]

The output is :
[code]

please.

[2020-10-28 06:47] gireeshpunathil opened #35844 "flaky test parallel/test-worker-eventlooputil"
fail: https://ci.nodejs.org/job/node-test-commit-freebsd/nodes=freebsd11-x64/36185/console
pass: https://ci.nodejs.org/job/node-test-commit-freebsd/nodes=freebsd11-x64/36184/console

[code]

/cc @nodejs/workers @trevnorris

[2020-10-28 07:03] rickyes commented on #35833
Since after calling `.end` again with the payload, it did not return in time, causing `.onFinish` to be called again to trigger the assertion failure, i will fix it.

[2020-10-28 07:04] #35288 closed

[2020-10-28 07:24] gireeshpunathil commented on #35844
I am yet to fully understand the logic at the assertion site, just wondering in:
https://github.com/nodejs/node/blob/3df5afb367cf6ae4b6309ad54e1a9cb2e6884d27/test/parallel/test-worker-eventlooputil.js#L107

is `wElu` actually `w`? I ask this because `w` is unused in the entire section:

https://github.com/nodejs/node/blob/3df5afb367cf6ae4b6309ad54e1a9cb2e6884d27/test/parallel/test-worker-eventloop

[2020-10-28 08:43] benjamingr commented on #35835
I think it's fine to shim this (`emit`) for convenience.

Probably `CustomEvent` with Error in its detail (like browser unhandledrejection events) though we don't have that yet I guess?

Good luck with your talk!

[2020-10-28 08:46] addaleax commented on #35835
Ok, but just so we’re on the same page – `parentPort.emit('error', error)` does **not** lead to `worker.on('error')` being emitted. `worker.on('error')` is only emitted for uncaught exceptions inside the Worker. What happens is that emitting an `'error'` on *any* EventEmitter that does not have an `'error'` listener will be turned into an exception. So what you’re doing is essentially equivalent t

[2020-10-28 08:48] #35843 closed

[2020-10-28 08:50] YataoZhang commented on #35843
That is system kernel lost epoll events caused it, and close this issue! thanks!

[2020-10-28 09:05] abhishiv commented on #32360
Hey @mitsos1os How did you fix this? I think I have the same issue - have a fromEventEmitter function however it only iterates over one element even when two events are fired in succession.
[code]

I'm just trying to convert a EventEmitter into AsyncIterator

[2020-10-28 10:02] mmomtchev commented on #35842
The `keepAlive` option of the Agent has another meaning: <https://nodejs.org/api/http.html#http_new_agent_options>
It signals that the connection is not to be destroyed after use, but rather kept in a pool for a future reuse. In order to assure that the connection doesn't timeout, the Agent would also set the `SO_KEEPALIVE` option on the socket while it is waiting to be reused.

If you want to set

[2020-10-28 10:53] mmomtchev commented on #35812
The algorithm that matches your `namedCurve` `P-256` is `ES256`
Ref: <https://www.rfc-editor.org/rfc/rfc7518.txt>

[2020-10-28 10:57] priya-concetto commented on #33741
ReferenceError: createRequire is not defined

[2020-10-28 11:20] mmomtchev commented on #35812
I am not an expert on this, but I think `P-256` curve should be used only with `ES256` algorithm
Maybe Chromium ignores  `crv` when you set the algorithm to `ECDH-ES`
I don't think that `P-256` with `ECDH-ES` is a valid combination, I don't see it in the RFC
<https://tools.ietf.org/html/rfc7518>

[2020-10-28 11:28] panva commented on #35812
@mmomtchev this ticket is not about JOSE. But even if it was then of course any EC key is usable for ECDH-ES.

[2020-10-28 12:00] hertzg commented on #35620
Will there be a patch release for `v12`

[2020-10-28 12:07] lacmuch opened #35847 "vm.SourceTextModule without the code parameter for code protection"
vm.SourceTextModule without code parameter for code protection like in https://github.com/OsamaAbbas/bytenode/blob/master/index.js for vm.Script on line near 187
pass only cachedData contains bytecode... now if we do it like in the code above, some random errors occur.

[2020-10-28 12:11] lacmuch opened #35848 "Link modules with paths in module.link(linker)"
https://nodejs.org/api/vm.html#vm_module_link_linker

Now we can only link "standard" modules with functions combined with SyntheticModules, like this:

[code]

[2020-10-28 13:01] devsnek commented on #35847
You'll have to ask for that functionality from V8 (https://bugs.chromium.org/p/v8/).

[2020-10-28 13:02] #35847 closed

[2020-10-28 13:04] devsnek commented on #35848
You have to set up your own system to load the source text modules.

[2020-10-28 13:10] lacmuch commented on #35848
I think it would be easier to pass back the standard import() function in the linker function, like:

module.link( spec => import( spec ) )

[2020-10-28 13:23] panva commented on #35812
Looking at the spec (webcrypto one) ecdh jwk key import does not work with jwk.alg at all. It seems this is indeed a bug in node's implementation.

[2020-10-28 13:25] lacmuch commented on #35847
Thanks 👍

[2020-10-28 13:30] benjamingr commented on #33741
@priya-concetto did you import it from "module" ?

[2020-10-28 13:35] devsnek commented on #35848
that's not really how that's meant to work though. If you want to import a module that node has imported, synthetic modules would be the correct choice. If you're just trying to match how node's resolution works, you will have to do that yourself and plug it into source text modules.

[2020-10-28 13:40] #35762 closed

[2020-10-28 13:41] lacmuch commented on #35848
For example, if i would import "express"

[2020-10-28 13:44] addaleax commented on #35835
@benjamingr I mean, I’d get to it at some point, but feel free to pick this up if you like :)

[2020-10-28 13:51] benjamingr commented on #35835
Hmm, one possible difference is support for multiple args - I'll do what I can and I'll make a PR to dicusss the "product" of how "emit" can look.

[2020-10-28 14:01] lacmuch commented on #35848
Here is an example, and it works fine now:

[code]

I think: In the future, it would be better if the module.link() could eat :) the Module Class what ES6 import() returns
(its differs from the vm.Module class)

[code]

[2020-10-28 14:03] sding3 commented on #35842
@mmomtchev , thanks for the suggestion on `request.setSocketKeepAlive`. It helps my use case.

However, I'd still argue that for the connection reuse scenario, it's advantageous to enable tcp keepalive on the socket prior the socket being used for the first HTTP request, as the first HTTP request may be a long-lived one, there is the risk of connection timing out. Conversely, there is also the ris

[2020-10-28 14:03] patrickbucher opened #35850 "Unable to Verify Signature of Version 10.23.0"
* Version: **10.23.0**:
* Platform: **Linux 64-bit**:

### What steps will reproduce the bug?

Running the following script:

[code]

Causes this error message:

[code]

### How often does it reproduce? Is there a required condition?

It always happens

### What is the expected behavior?

The verification should work.

### What do you see instead?

see error message above

### Additional informati

[2020-10-28 14:05] benjamingr commented on #35835
@addaleax how would you feel about a `NodeCustomEvent` type (that would play the role of `MessageEvent`s except higher up?

It would be the default for `kCreateEvent` that `MessagePort` overrides.

Also - we currently use `data` on `MessageEvent`s but the DOM uses `.detail` on `CustomEvent`, which would be better as a property name?

[2020-10-28 14:08] MediaByte commented on #35832
Can you share your package.json file?

[2020-10-28 14:11] addaleax commented on #35835
The name sounds good to me :)

That’s fine, although we should make sure that the `kCreateEvent` in `MessagePort` calls that base class function if it doesn’t recognize `type` (i.e. `type` is not in `message, messageerror`).

I think `detail` is just fine if we stick with `CustomEvent` – `.data` is just what we use because it’s what `MessageEvent`s are supposed to have :)

[2020-10-28 14:27] Aplet123 commented on #35232
With the new defaults added in v15, this issue is especially pertinent.

[2020-10-28 14:28] benjamingr commented on #35835
Opened a PR in https://github.com/nodejs/node/pull/35851 with a bunch of questions

[2020-10-28 14:28] devsnek commented on #35848
@lacmuch It seems like maybe you just want this:

[code]

[2020-10-28 14:35] aleksey-hoffman opened #35853 "fs.stat() and fs.lstat() cannot read the stats of a file with denied permissions on Windows"
* **Version**: 14.5.0
* **Platform**: Win10 x64
* **Subsystem**: fs

### What is the expected behavior?

A similar issue https://github.com/nodejs/node/issues/22577 has been closed 2 years ago, but the issue hasn't been fixed.

Node.js cannot read the `stats` of immutable files (files with all permissions denied) on Windows. I'm not talking about the contents, just the stats.

Example:

After you

[2020-10-28 14:44] aduh95 commented on #35850
@nodejs/releasers

[2020-10-28 15:05] jasnell commented on #35812
Sounds like it. Do you want to take a look at a fix @panva?

[2020-10-28 15:06] panva commented on #35812
@jasnell i'll take a stab at it.

[2020-10-28 15:10] richardlau commented on #35850
I uploaded my key to the sks-keyservers.net pool (as per the [recommendation](https://github.com/nodejs/node/blob/master/doc/guides/releases.md#3-a-publicly-listed-gpg-key)) months ago (https://github.com/nodejs/node/pull/34397#pullrequestreview-450766856). I have no idea if `keyserver.ubuntu.com` is in that pool for it to replicate across but if it isn't then you're not going to be guaranteed to

[2020-10-28 15:28] patrickbucher commented on #35850
@richardlau Thanks, that worked fine!

[2020-10-28 15:28] #35850 closed

[2020-10-28 15:49] lacmuch commented on #35848
I want to use module.createCachedData();

[2020-10-28 16:17] devsnek commented on #35848
do you just want node to cache the startup of your app?

[2020-10-28 16:22] benjamingr commented on #35506
I lean towards option #2 as well with no strong opinions.

[2020-10-28 16:23] lacmuch commented on #35848
I want to use it for code protection... but there is an other issue:

#35847

[2020-10-28 16:30] Shahor opened #35854 "Either a bug of incorrect use of internals"
* **Version**: 12.18.3
* **Platform**: node:12.18.3 docker image in k8s gcp container.
* **Subsystem**:

### What steps will reproduce the bug?

I am very sorry, I don't have much to provide around this :(

### How often does it reproduce? Is there a required condition?

Saw it twice today, never happened before.
Started using `async_hooks` (specifically AsyncLocalStorage) a week ago in production

[2020-10-28 17:03] mcollina commented on #19393
I'm generically +1 to add something like that.

[2020-10-28 17:04] bingenito opened #35856 "vcbuild.bat fails for Visual Studio 2019 if VCINSTALLDIR intentionally pre-defined"
* **Version**: Found when internally onboarding now active LTS 14.x
* **Platform**: windows
* **Subsystem**: build

### What steps will reproduce the bug?

We have a build environment that does not have any Visual Studio installed. As part of bootstrapping vcbuild we explicitly set paths to build tooling as well as locally nuget install other required packages into the build directory.  The change

[2020-10-28 17:18] benjamingr commented on #19393
I think we are very close to landing `fetch-without-streams-and-security-rules` in terms of what code we need (with AbortController and EventTarget in and not doing streams).

I am in favour of doing `node-fetch-without-streams-or-node-streams` for the first iteration and adding streams support later.

I would want `fetch` eventually to be "real whatwg fetch" eventually and not "something called f

[2020-10-28 17:30] richardlau commented on #35856
cc @nodejs/platform-windows
(FWIW I no longer have access to the Windows dev environment I had for https://github.com/nodejs/node/pull/30119 so am not going to be able to test any changes.)

[2020-10-28 17:49] Shahor commented on #35286
Would it be possible to surface an als store through some events 🤔 ?

Considering the example in [this comment](https://github.com/nodejs/node/issues/35286#issuecomment-715247046)
[code]

This would always be undefined.
I suppose there is no way to interact with this EventEmitter in such a way that it would be ran under the ALS ?

[2020-10-28 18:07] bingenito commented on #35856
I tested locally with it wrapped as:

`if not defined target_env set "VCINSTALLDIR="`

If target_env is set it can only get to that line if it is vs2019 and if it isn't set I would assume it means you want it to auto detect and want it to do that fall through that #30119 was fixing.  It seems low touch but I do worry about all the environment possibilities out there considering what we are doing o

[2020-10-28 18:33] #35748 closed

[2020-10-28 18:37] Qard commented on #35286
An unhandled rejection could come from _anywhere_, so no there's no way to bind that to an AsyncLocalStorage instance. The context in an event handler will be whatever the context was where the emit was called. In this case, it'd be in Node.js internals somewhere, not from the promise that the error originated from.

[2020-10-28 19:39] SimonWoolf commented on #33156
@jasnell Would you mind sharing your conclusions/analysis and/or your half-finished fix attempt, so others could try to progress this if you no longer have the time? Many thanks 🙂

[2020-10-28 20:41] snowinferno commented on #35835
@addaleax Ahh, I see. So we are actually creating a side-effect that just happened to bubble up through `worker.on('error'...)`.
In light of that, I'll schedule some work to remove this side-effect logic and handle bubbling the errors up in a more appropriate way.

[2020-10-28 20:56] mhdawson commented on #35620
@hertzg https://github.com/nodejs/node/pull/35777 is tagged for backport to 12.x and 14.x (based on the lts-watch-v12.x and lts-watch-v14.x) labels. Changes typically need to "bake" a bit in master/current before going back to LTS releases, but as a revert I'm thinking this might be able to skip that. @BethGriggs what's your thoughts on that ?

From https://github.com/nodejs/Release/issues/494 , I

[2020-10-28 20:56] Trott commented on #35854
@nodejs/async_hooks

[2020-10-28 21:29] jimmywarting commented on #19393
I think a lower level of async iterator or a node stream would be better than nothing even if it isn't in the same track as the spec.
Then you could do either `stream.Readable.from(iterable)` or  `whatwg.ReadableStream.from(iterable)` or simply just do:

[code]
This code would work for whatever kind body it is - whether it's async iterable, node stream or a whatwg stream, since it all behaves the

[2020-10-28 21:48] silverwind commented on #19393
The first implementation should be strictly compatibile with the existing promise-based APIs, then later, we can extend with more advanced stuff like iterator/stream (hopefully in a standardized fashion).

[2020-10-28 21:52] Flarna commented on #35854
A reproducer would be really helpful.
Is this also reproducible without dd-trace?

[2020-10-28 22:58] mmomtchev commented on #35669
This a duplicate of https://github.com/nodejs/node/issues/32435
I am getting it even with `node -e "let a = 1"`

[2020-10-28 23:50] GidoSkales commented on #28536
UNISTALL WITH THIS METHOD
cd /usr/local/bin/
sudo rm -r node
sudo rm -r npm

[2020-10-29 02:35] dougmellon commented on #35793
@AjayPoshak if you are not going to take this, I'll jump on it. Just let me know.

[2020-10-29 05:20] DerekNonGeneric commented on #35793
@dougmellon, if you two would be interested in collaborating, that would be cool. @AjayPoshak hasn't expressed interest yet, so it's still up for grabs. May the best solution land. :)

[2020-10-29 05:33] dougmellon commented on #35793
Sounds good!

[2020-10-29 06:24] l10r commented on #35784
Doesn't work in http: protocol too

[2020-10-29 06:56] AjayPoshak commented on #35793
@DerekNonGeneric @dougmellon I will be working on it this weekend.

[2020-10-29 07:46] dougmellon commented on #35793
Awesome. Do you mind if I help out?

[2020-10-29 08:31] avaly opened #35859 "ESM importing a CommonJS calls getters"
* **Version**: 14.13.0
* **Platform**: Linux 5.4.0-52-generic #57~18.04.1-Ubuntu SMP Thu Oct 15 14:04:49 UTC 2020 x86_64 GNU/Linux

### What steps will reproduce the bug?

Install `pg` npm dependency

Run the following module:

[code]

### How often does it reproduce? Is there a required condition?

It always reproduces. The imported module needs to be a CommonJS module with getters.

In this case

[2020-10-29 08:33] AjayPoshak commented on #35793
@dougmellon not at all. Let's work on it together.

[2020-10-29 08:42] targos commented on #35859
/cc @guybedford

[2020-10-29 09:03] benjamingr commented on #31971
Just an update here that AbortController and Event are now live and _mostly_ whatwg compatible (we're adding final tests and fixing things). Some Node.js APIs have already gotten AbortSignal support (like EventEmitters and promises versions of timers).

This is a good area to contribute in :]

[2020-10-29 09:13] axkibe commented on #21482
Any updates on this? I was just restructering my code to use fs.promises instead of promisify and came onto this promisify instance that seems to be still needed.

Can I please get a good explanation what is wrong with all of the core API just returning a promise in case of no callback provided? Similar I don't quite get, why fs needs a fs.promises declaration on the top. Not that it's a big issue

[2020-10-29 09:15] mmomtchev commented on #35853
I am not a Windows expert, but I just noticed that your command will also make a `type E:\test.txt` fail - which it shouldn't do according to what I understood from its inline help page. So maybe this questions belongs to a Windows forum.
Otherwise, on Windows, libuv, which implements the lstat, will actually open the file (the infamous Windows `CreateFileW` call) and it will read the information

[2020-10-29 10:46] jimmywarting commented on #31971
uh? have have timers gotten support for abort signal?

can you now do:
[code]

have never heard of _"promises versions of timers"_

[2020-10-29 10:54] martinheidegger commented on #31971
@jimmywarting this would be in conflict with JavaScript's setTimeout API:

`setTimeout(foo => console.log(foo), 100, 'bar')`

[2020-10-29 11:01] jimmywarting commented on #31971
yea, you are right!

i just found the promise version of timers here in https://nodejs.org/dist/latest-v15.x/docs/api/timers.html#timers_timers_promises_api
`timersPromises.setTimeout(delay\[, value\[, options\]\])`

node_fetch previously had a timeout option but was deprecated/removed in v3 in favor of abortSignal + timer was not a spec'ed
A Wishful replacement would be a timer that can return a

[2020-10-29 11:26] happysenior commented on #35826
that's awesome

[2020-10-29 11:26] mmomtchev commented on #35842
@sding3 The design philosophy behind the `Agent.keepAlive` is that the user code should manage any timeouts while it is using the connection, but the Agent should (try) to take care of it while it is waiting to be reused.
The real problem here is one of terminology collision - keepalive in the world of, let's say, database drivers has the meaning it has in the Agent, keepalive in the world of TCP/

[2020-10-29 12:02] alekitto opened #35862 "EBADF thrown by stream if file is explicitly closed in v15"
An unexpected EBADF error is thrown if a stream is open on a file and then the file is explicitly closed.
The explicit `close` call is required if using `fs/promises`, otherwise a warning is emitted.

* **Version**: v15.0.1
* **Platform**: Darwin Kernel Version 19.6.0: Mon Aug 31 22:12:52 PDT 2020; root:xnu-6153.141.2~1/RELEASE_X86_64 x86_64 (macOS Catalina 10.15.7)
* **Subsystem**: fs

### What s

[2020-10-29 12:22] martinheidegger commented on #31971
Hmm, I prefer to see the difference in the error message and created recently a [`wrapTimeout`](https://github.com/consento-org/crypto/blob/a11663f313625b6fae5dc4aba4785887b43467aa/src/util/abort.ts#L192-L222) util.

[2020-10-29 12:48] benjamingr opened #35864 "Publish EventTarget on NPM?"
Hey,

Someone I know asked how they can use EventTarget/AbortController on earlier versions of Node.js.

Earlier @jasnell suggested we use a userland library to iterate. I was wondering if something like readable-stream for EventTarget would make sense so it can be used in earlier versions of Node?

(With AbortController it's less of an issue because there is already a pretty popular abort-control

[2020-10-29 12:57] benjamingr commented on #31971
@jimmywarting

They have in `require("timers/promises")` :]

Like Martin said - we can't do this for setTimeout to not break our own code :]

[2020-10-29 12:58] benjamingr commented on #31971
@jimmywarting

Actually, having a helper on AbortControllers to abort automatically after a time could be interesting/useful though it's probably a good idea to ask that of whatwg (we _can_ extend it and ship a subclass but would rather not until working with spec bodies hasn't worked - and so far whatwg have been very helpful when we presented compelling cases for APIs that would make sense in br

[2020-10-29 14:12] srl295 commented on #35390
the symbol `├F10: PM┤` sounds like absolutely no data was found, not even English.

[2020-10-29 15:14] mhdawson commented on #35788
+1 from me.

[2020-10-29 15:28] srl295 commented on #35390
repro'ed.  Sounds like the data slicing had a failure.  Some data is present, but not other data.

[2020-10-29 15:32] guybedford commented on #35859
So this is by design of the implementation of ES modules in that all named export bindings must be populated upfront and can't be getters themselves. So we do call getters when populating these for the CJS module representation.

On the other hand one option might be to not detect `Object.defineProperty` cases to make the exports detection less accurate but also less likely to hit cases like this.

[2020-10-29 16:25] avaly commented on #35859
If it were any other dependency, that wouldn't be an issue. But in this case, this dependency requires build tools to be installed to build a native binary (https://www.npmjs.com/package/pg-native). It's not something one should be forced to do, if we don't plan on using that part of the library.

TBH I would also like to see a change in how the `pg` library is exporting its native part. So maybe

[2020-10-29 16:39] peZhmanParsaee commented on #35853
I succeeded in reading the read-only file stats in **Windows 10**.

First, I unset all inherited file permissions, then set file to read-only using these commands:

[code]

It makes our file only readable without any other inherited permissions.

Then read the file stats using:
[code]

[2020-10-29 16:52] Ginden opened #35868 "Deprecating monkey-patching internal objects?"
**Is your feature request related to a problem? Please describe.**
This is question and discussion regarding design decisions around symbols. [Relevant docs document](https://github.com/nodejs/node/blob/v15.0.1/doc/guides/using-symbols.md)

**Describe the solution you'd like**
I would like to remove all internals monkey-patching in foreseeable future. This would fix #22498

Therefore, I would prop

[2020-10-29 18:18] guybedford commented on #35859
I've posted a fix PR in https://github.com/nodejs/node/pull/35871 for this. I think it does make sense to ignore these exports.

[2020-10-29 19:15] MylesBorins opened #35872 "Noisy warning in configure: `WARNING: No acceptable ld.gold linker found!`"
[code]

It seems like this is related to the inclusion of using the ld.gold linker as part of `--use-section-ordering-file`.

The default compiler setup on OSX does not have these features... further, I don't believe the default configuration for node.js even uses `--use-section-ordering-file`. When I saw this warning at first I was worried that there had been some sort of regression in my build t

[2020-10-29 19:26] govindrai opened #35873 "Optional callbacks to return promises instead of separate promises modules"
**Is your feature request related to a problem? Please describe.**
fsPromises api is a huge step up from having to promisify fs methods. However it's still a pain if you need to use both sync and async methods in the same file, you end up having to import both modules. I have been anticipating for node to release promises version of fs methods forever but I always thought the api would be a non-br

[2020-10-29 20:46] tchakabam commented on #30139
@jasnell @bnoordhuis Wouldn't this however be something where npm should allow for being more like what node-pre-gyp does? Especially, native bindings (for whichever platform/arch combo) should be package-able assets just as JS code in a publish (of course they need to be labeled as to their platform/arch target).

I would definitely say this is a problem that can be solved by adding semantics to

[2020-10-29 20:54] aleksey-hoffman commented on #35853
@mmomtchev hmm, for me the `type /?` (help) command says that it allows you to read the `contents` of a file, but that's not the problem, I only need the attributes (size, path, dates, etc). Even if all permissions are denied, Node.js should still be able to read the `attributes` (meta data) of the file.

The default file managers (File Explorer on Windows and Files on Ubuntu) can still read the a

[2020-10-29 20:58] amtektonics opened #35876 "fs.copyFile not releasing source handle"
* **Version**: v14.15.0
* **Platform**:  64-bit Windows
* **Subsystem**: fs

### What steps will reproduce the bug?

When calling copyFile you are unable to unlink it right away, but it will unlink after node has been closed.
After further digging with ProcessExplorer it appears that copyFile retains a non locking handler to the source file.
I believe this non locking handler is enough to prevent