[2015-08-20 20:35] bnoordhuis commented on #2473
I don't think it's a property we want to remove (or even can.)  I'm curious though, how is it breaking code?

[2015-08-20 20:45] kzc commented on #2457
@indutny - the logic regarding `nchars` and the `memmove` seems not quite right to me, but I may be mistaken.  I think you'll need a number of test cases for unaligned buf UCS2 string conversions of varying lengths to prove it is correct.

[2015-08-20 20:48] bnoordhuis commented on #2466
They're backed by a `uv_idle_t` handle that is not visible to JS land.  Grep src/node.cc for `immediate_idle_handle`.

[2015-08-20 20:53] Nibbler999 commented on #2473
Slightly simplified example from engine.io:

[code]

In 2.5 this will send the message "hello" to your client. In 3.0 it will send them 8kb of what looks like random memory contents.

[2015-08-20 20:56] bnoordhuis commented on #2464
/cc @nodejs/platform-freebsd @nodejs/build - are the tests running inside a jail?

[2015-08-20 21:01] alexlamsl commented on #2467
Looks like #2304

[2015-08-20 21:09] bnoordhuis commented on #2473
Thanks, I see what you mean.  It's regrettable but I think we'll have to chalk this one up to the price of progress.

Even if we could remove the `.buffer` property (which from a technical POV is undesirable for a number of reasons), it couldn't land in v3.x because it's an API change.  You'd end up having to fix engine.io for v3.x anyway.

[2015-08-20 21:10] Rantanen commented on #2398
Just to clear this up: DTLS maintains the concept of a session, but not stream. It doesn't do payload packet reordering or even guarantee that all payload packets are received and decrypted.

Once the security parameters are negotiated and confirmed, every individual packet in the  can be decrypted independent of other packets in the same epoch.

Still, an `objectMode` Node stream should match the

[2015-08-20 21:11] alantva commented on #2467
@romankl

![node_process](https://cloud.githubusercontent.com/assets/13892426/9395765/b680c212-4766-11e5-8514-2d5c623a80a5.png)

@alexlamsl I will take a look

[2015-08-20 21:20] bnoordhuis commented on #2474
What do the firewall rules on those machines look like?  They should allow for multicast traffic.

[2015-08-20 21:47] natbro commented on #2398
+1 thanks, @rantanen - exactly, that's why i asked what @mcollina meant :) there should definitely no in-order or guaranteed delivery happening in a `dtls` implementation.
but from an API-perspective there are perhaps two ways to go:
 1. both your [Rantanen/node-dtls](https://github.com/Rantanen/node-dtls) and @migounette's [joyent/node#6704](https://github.com/joyent/node/pull/6704) offer up an e

[2015-08-20 21:54] Nibbler999 commented on #2473
Understood, thanks.

[2015-08-20 21:54] #2473 closed

[2015-08-20 22:04] marcominetti opened #2478 "v8::Isolate::GetCurrent()->IdleNotificationDeadline not working in 3.x (manual gc not working)"
Hi there, I'm currently maintaining the node-memwatch package against latest iojs/nodejs versions, available as memwatch-next on npm.

I've noticed that with new v8 version 4.4.63.26 the IdleNotification does not trigger GC at all.

I'm using both NaN 2.0.5 and direct v8::Isolate::GetCurrent()->IdleNotificationDeadline call with 500ms, 1s and 5s.

The gc seems not to be executed. I can make it run

[2015-08-20 22:05] marcominetti commented on #2478
example code (from memwatch):

[code]

[2015-08-20 22:33] bnoordhuis commented on #2478
Do you start iojs with `--use_idle_notification`?  It's a complete no-op without that flag.

[2015-08-20 22:38] migounette commented on #2398
@rantanen great job done on the js side. But I have a concern with this
approach, I prefer a native  approach because a native implementation can
inherit of security fixes from OpenSSL main stream.  We see how TLS/SSL
protocol needs to be improved and how some implementations have to be
patched for bugs found after years -
https://www.openssl.org/news/vulnerabilities.html#y2015
So maintaining a DT

[2015-08-20 22:45] marcominetti commented on #2478
I supposed that flag was enabled by default... I'll try when back to the office.

Has been changed something in iojs 3.x?  Everything works fine till 2.5.0 branch.

[2015-08-20 23:39] mcollina commented on #2398
Some more thoughts:

1) I don't like the dgram API, and I think it's simplicistic. It does not
support pairing sockets for example. Also, it does a dns lookup for every
message sent. It also allocates a lot of callbacks, and it's not that
performant. I would not add functionality there, nor I would recommend
using it as the basis for any other work.

2) Ideally we should rethink the whole UDP busi

[2015-08-21 00:01] bnoordhuis commented on #2478
I take back what I said, I see that `--use_idle_notification` is on by default.  Does `v8::Isolate::IdleNotification()` work?

[2015-08-21 00:04] natbro commented on #2398
totally agree doing it native makes the most sense (and i think @Rantanen has also said it's his preference, he just began building his JS version since no native was pending) - i was just commenting on the API choice you both made is similar (`dtls.createServer`).
agree 2 is harder, exposing the negotiation stages. but the multiplexing of security may be useful for some folks. i just wanted to br

[2015-08-21 00:29] q2dg commented on #2426
Maybe https://github.com/nodejs/NG could be a good place to discuss it?

[2015-08-21 00:31] cjihrig commented on #2426
Closing, as this has been explained pretty well. ES6 is making it into `lib`, slowly but surely.

[2015-08-21 00:31] #2426 closed

[2015-08-21 00:43] woollybogger commented on #2413
I'd be happy to serve as a collaborator :)

[2015-08-21 00:59] indutny commented on #2457
Here is the fix: https://github.com/nodejs/node/pull/2480 cc @kzc @bnoordhuis

[2015-08-21 01:01] rvagg commented on #2474
if they are failing on pi1 but passing on pi2 then it won't be networking specifics, not only are they on exactly the same network but they are even running the same OS & OS config

[2015-08-21 01:36] magicdawn commented on #2461
Yeah, I know `ClientRequest.prototype.end/write` and normally we use `http.request` or `http.get`, we won't want to access the property on `ClientRequest`, but under some circumstance such as above example above want to access `req` as `ClientRequest` 's property, such as `url` , path, domain , host...blabla

but only
-  `req.method` https://github.com/nodejs/node/blob/master/lib%2F_http_client.js

[2015-08-21 01:38] magicdawn commented on #2461
every property which is not start with a leading lodash `_` is public. Am I wrong

[2015-08-21 02:37] jbergstroem commented on #2464
Tests are running inside a jail, yes.

[2015-08-21 03:20] jbergstroem commented on #2464
Just a quick update: I haven't been able to reproduce this locally on the machine. I've run the parallel suite 5 times and the specific test 100 times; not really the frequency we're seeing here: https://jenkins-iojs.nodesource.com/computer/iojs-voxer-freebsd101-64-1/builds

[2015-08-21 04:06] brendanashworth commented on #2471
I opened an issue (https://github.com/nodejs/node/issues/2431) and it was thought not to be an issue, so I guess we'll see?

[2015-08-21 04:07] brendanashworth commented on #2475
ref to https://github.com/nodejs/node/issues/2464

[2015-08-21 05:24] ronkorving opened #2481 "The future of HTTP in Node"
GIven that HTTP 2 has been standardized and given the fact that Node offers HTTP server *and* client API, at what point will it make sense to incorporate HTTP 2 into the stack?

Perhaps HTTP could be externalized, but in any case, I'm hoping to spark the conversation: **When will Node take HTTP 2 as seriously as HTTP 1?**

Thank you.

[2015-08-21 05:30] sam-github commented on #2461
@magicdawn I'm having difficulty understanding what you are trying to say. Is there some specific property that you think is public and that is not documented? If so, which ones?

[2015-08-21 05:39] PinkaminaDianePie commented on #2456
@itsnotvalid you can also check changelogs here https://iojs.org/en/releases.html

[2015-08-21 05:41] itsnotvalid commented on #2456
@PinkaminaDianePie homepage links to master though.

[2015-08-21 05:42] #2456 closed

[2015-08-21 05:45] Rantanen commented on #2398
@migounette - Yes, I prefer native - but given node was in a bit of a turmoil back when I wanted DTLS, I decided to go with a JS module that could be released on NPM instead of waiting for a PR merge and Node release.

@mcollina, that reordering only affects the handshake messages. The actual encrypted content is not reordered or resent in case of packet loss. The main benefit of UDP is to get pac

[2015-08-21 05:51] magicdawn commented on #2461
@sam-github yeah, that's I'm saying.

`path`  `method` can be accessed, but not in the documentation
and host/protocal should be exposed too.

[2015-08-21 05:53] pyros2097 commented on #2481
I don't think node might be adding this immediately into the core but their are some awesome libraries that support this [koala](https://github.com/koajs/koala)  and this [SPDY](https://github.com/koajs/koala/blob/master/docs/spdy.md).
Well it seems golang has got http2 in the testing phases https://http2.golang.org/

[2015-08-21 06:19] smasher164 commented on #2031
`SharedArrayBuffer` is undergoing revision at the moment, for which the current specification can be accessed at this link. http://lars-t-hansen.github.io/ecmascript_sharedmem/shmem.html

It can be mutably shared among workers, without the need for `postMessage()`. By the way, this is how ASM.js transpiles C++ to Javascript and maintains threading-like functionality.

[2015-08-21 06:51] vsimonian commented on #2457
Not sure how much help this may be, but building io.js 3.1.0 with

[code]

results in the code triggering a segfault, but building with @indutny's latest version of patch #2480 with the same options results in no segfault.

[2015-08-21 06:58] sam-github commented on #2481
I think http2 would be positively received, though would have lots and lots of review comments. But there isn't anybody around with the time. @ronkorving, if you wonder about starting the work, I'd suggest doing it, and PRing early for feedback.

IIRC, this has come up in TC meetings.

[2015-08-21 07:00] vsimonian commented on #2481
+1 It'd definitely be a big plus to have support for HTTP/2 baked into Node, especially considering that [it has been standardized](https://tools.ietf.org/html/rfc7540).

At the very least, it'd be nice to eventually get a clearer understanding of where HTTP/2 fits into the roadmap, if at all.

[2015-08-21 07:04] sam-github commented on #2481
See https://github.com/nodejs/node/blob/master/doc/tsc-meetings/io.js/2015-03-04.md#ship-websockets-in-core

[2015-08-21 07:08] vsimonian commented on #2481
If I'm reading correctly, this pretty much gets summed up in the document @sam-github linked in the following paragraph (pasting here for easy reference).

[2015-08-21 07:12] Qard commented on #2481
The HTTP2 issue has come up several times before. It's definitely on the list of things we want, just no one has had the time to get to it yet. It's a rather large feature, that would take a lot of effort and careful review to get it right.

@indutny wrote [node-spdy](https://github.com/indutny/node-spdy), which could be a good starting point.

[2015-08-21 07:38] ronkorving commented on #2481
It probably would be (there's also https://www.npmjs.com/package/http2 btw). Given that the conversation has already taken place and a policy has been set, I will close this issue. If a conversation still is warranted, I'll happily re-open the issue. Thank you all for the feedback.

[2015-08-21 07:38] #2481 closed

[2015-08-21 08:04] indutny commented on #2457
Thank you @vsimonian !

[2015-08-21 08:25] mcollina commented on #2398
Let me rephrase, if dtls is going to base itself on `dgram`, than probably might be a good thing to refactor/revise that implementation. One thing that might be problematic is the use of a lot of positional arguments, that makes the API difficult to change.

From a client perspective, a DTLS context pairs something local to something remote: it is stateful. Currently all of `dgram` is stateless, i

[2015-08-21 08:27] marcominetti commented on #2478
Nope. Seems something not working in v8...

[2015-08-21 09:59] marcominetti commented on #2478
Should we suppose the strategy to call

[code]

is deprecated cause new IdleNotification implementation does not returns true as consistently as before?

[2015-08-21 11:23] unbornchikken opened #2484 "Odd Buffer behavior that leads to crash in iojs 3.0"
Hi,

We're in progress to do a PR to popular [ffi module](https://github.com/node-ffi/node-ffi) for supporting io.js 3.0. It relies on the [ref module](https://github.com/TooTallNate/ref) to do its kinda pointer stuff, so it is important to make ref module to support io.js 3.0 at first.

[There I'm stuck](https://github.com/TooTallNate/ref/pull/35) with an issue that is not related to ref, that is

[2015-08-21 12:00] thefourtheye commented on #2463
I am not sure if this benchmark is enough, but it shows the difference

[code]

And this is the result I got with the latest master,

[code]

And the following with v2.5.0,

[code]

[2015-08-21 12:05] jhamhader opened #2485 "zlib streams emitting data after end"
Hey,

I noticed that zlib streams still emit data (i.e in deflate stream, it writes the adler32 checksum) after .end() has been called.
Here is a test (with useful prints, obviously should be removed later) which fails on the recent 3.0.x:
(notice the  data written after "deflate end cb")

[code]
I would really like to help fix this issue and it to be my first contribution here, so if anyone is wi

[2015-08-21 12:23] bnoordhuis commented on #2484
What happens with 3.1?  What happens with a debug build of 3.1?

[2015-08-21 12:51] kkoopa commented on #2484
Is this related? https://github.com/nodejs/node/issues/2457

[2015-08-21 12:54] kkoopa commented on #2478
That is probably a safe assumption. IIRC, there was never a guarantee of this triggering garbage collection. Only reliable way is by the functionality exposed with --expose-gc.

[2015-08-21 13:54] Fishrock123 commented on #2461
Not everything that is "publicly exposed" (i.e. exposed without a `_`) is documented. Some of this is probably intentional. Other, it is possible no-one got around to writing the docs for.

We'd probably happy to take a PR to add docs for those I think. :)

[2015-08-21 14:39] shernshiou commented on #2457
+1

[2015-08-21 16:23] kzc commented on #2484
Doesn't appear to be related to #2457 which was UCS2 encoding specific - aside from the (literally) odd Buffer memory alignment.

As simple as the test case above appears, it does involve some external native methods behind ref and unref. My first impression is there was something amiss with object scopes and rooting while raw buffer memory was being read or written.

[2015-08-21 16:36] unbornchikken commented on #2484
The above code did not crashed on previous versions, and I can see nothing extraordinary in its native side. That should just work that way, just a few assignment. I did not tried it with 3.1. I'm gonna do it and reply.

[2015-08-21 16:39] kzc commented on #2484
I appreciate it didn't crash pre 3.0.0, but there's a newer v8 engine. Maybe some behavior changed regarding GC and JS object rooting.

[2015-08-21 17:08] unbornchikken commented on #2484
I'm pretty sure about that's the case. That's why I bought it to the professionals. It's very simple stuff, that doesn't do anything complicated, but somehow it kills the garbage collector.

[2015-08-21 17:38] divmgl commented on #2442
Why would you ever do this...? This is a terrible idea.

[2015-08-21 18:30] romankl commented on #2413
That would be amazing, but I'm not sure if my commits meet the requirements?

[2015-08-21 19:12] Trott commented on #2469
I believe https://github.com/nodejs/node/pull/2257 would make this not-flaky.

[2015-08-21 19:45] indutny commented on #2457
Fixed!

[2015-08-21 19:45] #2457 closed

[2015-08-21 20:08] vsimonian commented on #2457
Fantastic work, @indutny! Thank you! :+1:

[2015-08-21 20:37] trevnorris commented on #2463
@vkurchatkin What do you mean by "can just attach it to an instance"?

@matklad Yeah. Sorry about this. Thanks to everything W3C related, properties must be a getter.

[2015-08-21 20:39] vkurchatkin commented on #2463
I mean just stick `this.length = length` in constructor

[2015-08-21 20:46] vkurchatkin commented on #2181
Closing this. The behaviour is in line with the spec. Error message is clearly wrong, but it's just a minor issue with v8.

[2015-08-21 20:46] #2181 closed

[2015-08-21 20:47] trevnorris commented on #1795
If there are a lot off problems, then I like the idea of each having its own issue. Though if that happens then I'd also like its own repo or such. Having those scattered throughout here would be a pain.

[2015-08-21 20:50] Qard commented on #1795
You could just tag them with a `tech-debt` tag or something. Having an entirely separate repo would be weird.

[2015-08-21 20:51] Fishrock123 commented on #1795
Having never ending issues is not a good idea imo.

The docs repo is already separate, why not do it in there?

[2015-08-21 20:55] trevnorris commented on #1795
@Qard It really would depend on the number of issues. I doubt we'd get enough to merit that. Was also thinking it could go along well w/ something like internal docs or whatnot where all this stuff could be cataloged.

[2015-08-21 20:55] Qard commented on #1795
True, it would probably fit well in the internals docs section of the docs wg stuff. I'm :+1: for putting it there.

[2015-08-21 21:04] kzc commented on #2484
@unbornchikken @kkoopa @indutny - The unaligned memory from the Buffer rewrite appears to be the cause of this `ref` module crash as well as #2457.

With the patch in #2487 the test above runs cleanly on Linux. Without it, it crashes.

[2015-08-21 21:11] indutny commented on #2484
Unaligned memory, no-one likes it ;)

[2015-08-21 21:31] kzc commented on #2484
@indutny - your March 11 Buffer align PR fell through the cracks?

[2015-08-21 21:34] indutny commented on #2484
@kzc yeah, I believe that the buffer code was rewritten in 3.x and these changes were gone.

[2015-08-21 21:40] kzc commented on #2484
@indutny Buffer performance should improve with this align fix.

[2015-08-21 21:41] trevnorris commented on #2463
@vkurchatkin we don't have a constructor anymore. It's now essentially `var ua = new Uint8Array(n); ua.__proto__ = Buffer.prototype;`

[2015-08-21 22:34] dap commented on #2465
Got it. Both of your comments make sense. Thanks.

[2015-08-21 22:49] trevnorris commented on #2484
@kzc Don't be hopeful. Buffer performance has only degraded since v0.12. Nothing that comes from our API either.

[2015-08-21 22:53] trevnorris commented on #2380
Will need more information, test case, etc. before we can help.

[2015-08-22 00:07] kzc commented on #2484
@trevnorris regarding Buffer performance - I'll take your word for it.

A somewhat related question - Is there a design doc for Buffers?

Please correct my hazy and quite possibly erroneous understanding of how lib/buffer.js works: a series of 8K memory pools are created for Buffer instances to use in a first-come, first-serve fashion controlled by a global current allocPool - with the exception t

[2015-08-22 00:17] indutny commented on #2484
@kzc I think your understanding of the structure is quite correct.

[2015-08-22 02:52] brycekahle commented on #2383
@indutny Updated proposal for `authTagLength`. Thoughts on the `setAAD` change?

[2015-08-22 03:09] trevnorris commented on #2484
@kzc For reference of Buffer instantiation times: https://gist.github.com/trevnorris/efe36274b0d0a23a78f5

There isn't a compaction scheme. It would be more performance expensive to do so than just allocating a completely new buffer on every request. Also, understand this is only the case with using `new Buffer()`. Any buffers created from I/O operations, and similar, have their own allocated memo

[2015-08-22 05:37] unbornchikken commented on #2484
Gentlemen, thanks for your time. @kzc, has #2784 landed to the master? Which io.js version should I expect to work with my ref and ffi PRs?

[2015-08-22 06:01] kzc commented on #2484
@unbornchikken - Yes, @indutny pushed his alignment fix to master. Can only guess the future iojs version number, but this particular PR wouldn't introduce any incompatibilities to 3.1.0.

[2015-08-22 06:20] unbornchikken commented on #2484
So there is a big fat +1 for integrate this to the next version. It's a miracle that people haven't started to rage about io.js 3 support at ffi yet. :)

[2015-08-22 06:20] #2484 closed

[2015-08-22 15:27] silverwind opened #2492 "crypto: expose OpenSSL's x.509 API"
To generate self-signed x.509 certificates and private keys from within an application, modules like [pem](https://github.com/andris9/pem) have to rely on spawning the system's OpenSSL, which is problematic as it can be out of date or worse, not available at all (Windows).

I think it would make sense to expose the following APIs from the bundled OpenSSL through `crypto`:
- generate a private key

[2015-08-22 15:34] getify opened #2493 "minor issue with timers.js"
This [line](https://github.com/nodejs/node/blob/master/lib/timers.js#L290):

[code]

Instead of calling `exports.clearTimeout(..)`, or even better, having a local identifier pointing at that function, this line is making a call that relies on resolving to the identifier on the `global` object.

That works OK until a lib like mine, [stable-timers](https://github.com/getify/stable-timers), comes alo

[2015-08-22 15:42] kzc commented on #2484
@unbornchikken - did you test your code against master to see if it works on Windows?

[2015-08-22 15:46] cjihrig commented on #2493
Unless someone objects, I don't see any harm in doing that. Care to make a PR?

[2015-08-22 15:50] silverwind commented on #2493
Seems to be a reasonable change. Not sure if having a local reference is actually different from just using `exports.clearTimeout`.

[2015-08-22 16:22] ChALkeR commented on #2493
_off-topic_: @getify, your [stable-timers](https://github.com/getify/stable-timers) auto-replaces the global timers upon loading the module. Before you do a release, it could be a good idea to change the module so it returns an object that has your `setTimeout`, `clearTimeout`, … methods and an extra method, for example, `globalize()`, that registers those in the `global` object for someone who re

[2015-08-22 16:27] unbornchikken commented on #2484
@kzc not yet. But on Linux it works. Since the stack trace of the error was almost the same, I'm sure about that resolves it on Windows too. I'll try it as soon as I can, and if the issue still persists, I'm gonna reopen this issue.

[2015-08-22 16:51] silverwind commented on #1598
Decided against pursuing this further because having `showHidden` flipped just on the REPL to make this work seems wrong. Also, blue ansi color is unreadable on Windows, which makes it unusable. If we ever decide to add 256 color support to inspect, we might be able to revisit this issue.

[2015-08-22 16:51] #1598 closed

[2015-08-22 16:54] silverwind commented on #1383
Haven't seen this recently.

[2015-08-22 16:54] #1383 closed

[2015-08-22 17:19] Fishrock123 commented on #2493
Someone *could* override the exports afaik.

Re: the patch: +0, though I don't really think overriding global timers is a great idea.

Re: stable-timers: please let us know what issues the built-in timers have, we may be able to fix these things! :)

[2015-08-22 17:19] bnoordhuis commented on #2471
I just saw [this](https://jenkins-iojs.nodesource.com/job/node-test-commit-arm/254/nodes=armv7-wheezy/console) on armv7-wheezy:

[code]

[2015-08-22 17:47] getify commented on #2493
thanks for the feedback. will submit a PR right away, and to be safe, will use an internal reference.

[2015-08-22 17:50] thefourtheye commented on #2493
@getify Please don't forget to include a test case as well, if possible :-) PTAL at our [contribution guide](https://github.com/nodejs/node/blob/master/CONTRIBUTING.md).

[2015-08-22 18:08] getify commented on #2493
quick clarification:

looking at the rest of this file in question, I see a line like [119](https://github.com/nodejs/node/blob/master/lib/timers.js#L119):

[code]

Seems like precedent for how I should fix my issue. However, searching the rest of the file, there are places that use `unenroll(..)` and some uses `exports.unenroll(..)` (so inconsistent). Should I fix those inconsistencies?

Also, `e

[2015-08-22 18:10] Fishrock123 commented on #2493
@getify consistency should be fine to do. :)

[2015-08-22 18:48] Fishrock123 commented on #2478
Closing unless there is actually something we can do about this and/or should. :)

[2015-08-22 18:48] #2478 closed

[2015-08-22 18:52] Fishrock123 commented on #2467
@alantva can you try running [io.js v3.1.0](https://iojs.org/dist/v3.1.0/)? Looks like it might be fixed in there.

[2015-08-22 18:55] getify commented on #2493
OK, I have a branch commit ready, I believe: https://github.com/getify/node/commit/73116effd9034dc33bdef034ceedfe2bfbe76623

However, my local environment here doesn't have the ability to actually build node (complains of too-old compiler), and even when I tried the steps in the Contributions guide for running individual tests, they failed to run `Can't find shell executable: 'out/Release/iojs'`.

[2015-08-22 19:10] Fishrock123 commented on #2493
Sure. Here's a CI run: https://jenkins-iojs.nodesource.com/job/node-test-commit/255/

If you could sort that out somehow though, it will make it easier to contribute/test in the future. :)
gcc / g++ is too old I assume?, that happened in a v8 bump a while ago.

Yes the tests require you to build io.js. :P

[2015-08-22 19:11] Fishrock123 commented on #2493
Also, could you please run `make jslint`? :)

[2015-08-22 20:12] Fishrock123 commented on #2493
Hmm yeah that patch definitely doesn't work.

[2015-08-22 20:14] getify commented on #2493
Perhaps there are places in the code that have relied on being able to monkeypatch parts of this API, like the `active(..)` or `enroll(..)`?

[2015-08-22 20:17] Fishrock123 commented on #2493
Definitely not. :p

You forgot to assign a local `enroll`: https://github.com/getify/node/commit/73116effd9034dc33bdef034ceedfe2bfbe76623#diff-0a5d4868b2b9b17cf9e2c11f1bd1311eL136

[2015-08-22 20:20] getify commented on #2493
Oh, no... actually, I accidentally changed "exports.unenroll" to "enroll()". Gah, my bad. Very sorry.

[2015-08-22 20:36] getify commented on #2493
Amended commit: https://github.com/getify/node/commit/4e1e7b2688c813a623095017e3808fe593834aa5

Yes, I will try to work on getting a local build environment that can build node and jslint for future contributions.

[2015-08-22 21:24] Fishrock123 commented on #2493
New CI run: https://jenkins-iojs.nodesource.com/job/node-test-commit/257/

[2015-08-22 21:43] getify commented on #2493
well clearly that's not going well. :(

rather than bothering you to keep running tests for me, I guess I should hold off until I can get a working local build env to test/debug myself.

[2015-08-22 21:57] getify commented on #2493
The test error appears to be:

Apparently I'm not fully clear on how globals get registered in the node environment. I see other timers tests that are able to reference globals like `setTimeout`, and I assumed that meant you could also reference them fully qualified, like `global.clearTimeout`. It appears that's not the case. I'll try to investigate more.

[2015-08-22 22:21] Fishrock123 commented on #2493
@getify ah looks like we have a thing in our common test impl that doesn't like this: https://github.com/nodejs/node/blob/master/test/common.js#L238-L325

[2015-08-22 23:20] jaggedsoft opened #2499 "ES6 Object Values function"
In Chrome and Firefox this works:
var obj = {a:1,b:2,c:3};
Array.from(values(obj));
returns [1,2,3];

In iojs/node values is not a defined function.

[2015-08-22 23:54] mscdex commented on #2499
`Array.from` is available in v8 4.5, which is currently not bundled with any node release. You can build the `next+1` branch which *does* contain v8 4.5 (and will probably be available in the next major node version) and you will see that methods like `Array.from`, `Array.of`, and others exist there.

[2015-08-22 23:54] #2499 closed

[2015-08-23 00:35] getify commented on #2493
Interesting. Also, I am wondering... perhaps `active` and `unenroll` are not actually ever globals, even though they are exports of the timers module? How do you access the exported object of the timers module? Seems like the test should not only test the globals being replaced but the exports being replaced.

[2015-08-23 00:53] Fishrock123 commented on #2493
That's correct. See: https://github.com/nodejs/node/blob/ec6e5c79993599a8b6977050bcc09b32b187a8ac/src/node.js#L169-L177

[2015-08-23 01:17] getify commented on #2493
OK, thanks. So if I fix `active` and `unenroll`, am I to understand I'll still have a problem with the overwriting of `clearTimeout` in the test?

[2015-08-23 01:50] Fishrock123 commented on #2493
I'm not sure, I think it should work. In any case: https://github.com/nodejs/node/blob/master/test/common.js#L315-L316

[2015-08-23 02:16] getify commented on #2493
In my [latest update](https://github.com/getify/node/commit/ea79a06ac922ffded3c7ebf4c4d7815a50c10fe0):

1. I've addressed now the lint errors
2. Taken out any testing of `active` and `unenroll`. Unless I'm missing something, I don't think the test code has access to `NativeModule.require(..)`, so I don't think there's a way to test against the timers module exports.

[2015-08-23 02:18] Fishrock123 commented on #2493
Ok the reason why it errors on `clearTimeout` is that is specifically checks for the index of the value 9the function), not the key. https://github.com/nodejs/node/blob/master/test/common.js#L307-L308

[2015-08-23 02:26] getify commented on #2493
Yeah, that's what I suspected when I said earlier:

On your suggestion, I've [turned off the global check](https://github.com/getify/node/commit/ea79a06ac922ffded3c7ebf4c4d7815a50c10fe0#diff-7ee138ad32a18a7bd55ff525749e2b3fR6) for this test. :)

[2015-08-23 02:29] Fishrock123 commented on #2493
How about ya make a PR? :)

[2015-08-23 04:42] tomByrer opened #2502 "Version 3.1.0 release notes?"
iojs.org & [/releases](https://github.com/nodejs/node/releases) have v3.1.0, but both repos' [ChangeLog](https://github.com/nodejs/node/blob/master/CHANGELOG.md) go only up to v3.0.0.

Might not be a big deal, but perhaps exposes the need for the release-build script should also build the `CHANGELOG.md`?  Perhaps something readable should be human-edited, but at least the [Commits](https://github.

[2015-08-23 04:43] thefourtheye commented on #2485
Cc @chrisdickinson

[2015-08-23 04:51] reggi opened #2503 "Cannot change global variable from within module within vm"
The code below uses the native node `vm` library, which allows you to evaluate javascript strings in different contexts.

The particular code within `example.js` there's a javascript string that adds a property `.marker` with the value `true` to the `Array` global variable, then requires a file `global.js` (seen below), then logs `Array.marker`. The code below logs `true`.

    var vm = require('v

[2015-08-23 05:46] anseki opened #2504 "Input from TTY is strange"
I tried read from STDIN by `fs.readSync` that is given `process.stdin.fd`.
For example:

[code]

In v2.3.1-, no problem:

[code]

In v2.3.2+, first line is ignored, and second line is accepted:

[code]

This problem occurs in only Windows + iojs v2.3.2+.
I don't use `process.stdin.fd` in non-Win because `fs.readSync` can't read it.
Therefore, `process.stdin` of v2.3.2+ might have problem. (not `fs

[2015-08-23 05:57] brendanashworth commented on #2504
This is seems to be a regression that could have been introduced by https://github.com/nodejs/node/commit/8cee8f54fc5fe3d340bf10ba2e9dbb5648b21b83 (didn't do `git bisect`, just layman's bisecting). @nodejs/platform-windows ?

[2015-08-23 05:59] brendanashworth commented on #2502
See also: https://github.com/nodejs/node/issues/2456

[2015-08-23 06:08] anseki commented on #2504
If https://github.com/nodejs/node/commit/8cee8f54fc5fe3d340bf10ba2e9dbb5648b21b83 made this problem, I think that `windows` label is not suitably, because I didn't use `process.stdin` in non-Win. And in case that doesn't use `process.stdin` (`open('CONIN$')` instead of it) in Windows is no problem.

[2015-08-23 06:54] bpasero commented on #2165
@jorangreef thanks

@bnoordhuis I just downloaded v3.1.0 and tried out normalize() on my testcase with readdir() and it just seems to work without changing anything (assertion passes). Can you clarify what you mean with the steps I still need to follow?

[2015-08-23 07:53] ChALkeR commented on #2485
Could be related: #1668

[2015-08-23 08:43] sjmueller commented on #1655
Are some harmony flags blocked in iojs? Using this command:
[code]
results in this error: `SyntaxError: Unexpected token =>`

This is why it would be great to know the status of each harmony flag for the current release of iojs, so that it's easy to understand what can be experimented with and what can't.  Running `iojs --v8-options | grep "in progress"` gives you a list, but its just misleading.

[2015-08-23 09:15] targos commented on #1655
@sjmueller A good place to go for a list of supported features is kangax's compatibility table: https://kangax.github.io/compat-table/es6/#iojs.
There you see that arrow functions are not available in io.js. To have an idea of what will probably be in the next major version, you can look at the column for the current beta of Chrome (CH 45)

[2015-08-23 11:15] bnoordhuis commented on #2165
If you downloaded the binary from iojs.org, you don't need to do anything.

It's... complicated.  Start with i18n.js, runtime/runtime-i18n.cc and i18n.cc in deps/v8, in that order.  It all ends in V8 calling icu::Normalizer::normalize() from ICU, though.

[2015-08-23 11:20] bnoordhuis commented on #2503
Each VM context gets its own set of global objects, including the Array object.  In other words:

[code]

If you want to modify the Array object from the current context, pass it to the new context:

[code]

But note the following caveat:

[code]

Hope that helps.

[2015-08-23 11:20] #2503 closed

[2015-08-23 12:51] lazutkin opened #2507 "Computed props are not properly handled"
Repost of microsoft/typescript#4419

Seems like this problem is related to v8. Following code (using iojs@3.1)

[code]

produces output

[code]

[2015-08-23 13:19] Fishrock123 commented on #1655
That's a fair bit to keep track of haha, are you volunteering? The official way right now is "go try it". :P

Arrow Functions *are* coming in V8 4.5 though! https://www.chromestatus.com/feature/5047308127305728

That roughly translates to "should be in node 5.0.0 in october". :)

(End of Aug/early sept: node 4.0.0, Oct: 4.0.0 LTS, node 5.0.0, 2016 April: node 6, 2016 oct: node 7, etc...)

[2015-08-23 13:37] Fishrock123 commented on #2507
Weird that the bottom works but the top doesn't. @ofrobots?

[2015-08-23 13:52] rvagg commented on #2471
it's flaking out on armv7-wheezy still https://jenkins-iojs.nodesource.com/job/node-test-commit-arm/267/nodes=armv7-wheezy/console

something's not happy there at all, fine on raspberry pi 2 though which is armv7 and wheezy-based, tho not exactly wheezy

[2015-08-23 13:57] reggi commented on #2503
Hey @bnoordhuis thanks for the post, and your time. I really appreciate it. All of what you said in your comment I completely understand, and makes total sense.

I think the bug goes a little deeper. It has more to do with the behavior of the imported `require` then it does with `vm`, to demonstrate that a bit more accurately.

Here I change the value of `Array.marker` from within a new vm context

[2015-08-23 15:05] reggi commented on #2503
The only trick I've found to get require to work the way I want within the vm code is if I create a file with the contents of the code, and require that file.

**usage.js**

[code]

Then I can require the file and the global scope within the code works as expected.

[code]

[2015-08-23 15:27] mscdex commented on #2507
FWIW same issue exists in `next+1`/v8 4.5

[2015-08-23 16:07] reggi commented on #2503
Here's a proof-of-concept.

[code]

[2015-08-23 16:16] mscdex commented on #2504
From what I can tell it has to do with `process.stdin` taking so long to initialize when first accessed.

For example, if you use:

[code]

Then the first line will get read as expected if you type it after `ready` is displayed.

[2015-08-23 16:19] mscdex commented on #2504
You can also replace `process.stdin.fd` in the original code with just `0` and it will get the first line too.

[2015-08-23 16:37] bnoordhuis commented on #2503
That's the expected behavior and it makes sense when you realize that VM contexts are used to implement iframes in Chromium.  Calling a function runs it in the context that created it.

[2015-08-23 16:53] reggi commented on #2503
@bnoordhuis What your telling me is great, info and context. Yes `vm` is based on v8 / chrome but `require` is a Node.js construct. Node adds require to a file's scope. I need a way of treating the vm as a file and allowing it to require within it's own scope. Is there a drop in replacement for require?

However I'm not alone in wanting to use `require` within a vm. Here @isaacs  [adds `require` t

[2015-08-23 18:43] jkrems commented on #2502
The release notes actually were pushed to the 3.x branch. So maybe the issue is that the link shouldn't go to master?

[2015-08-23 19:08] ofrobots commented on #2507
I see the same behaviour in Chrome 44 and Chrome Canary (V8 4.6). @lazutkin Do you want to open a V8 issue here: https://code.google.com/p/v8/issues/list

[2015-08-23 19:34] lazutkin commented on #2507
Ok. Will do.

[2015-08-23 19:36] Fishrock123 commented on #2507
Closing, nothing io.js itself can do. :)

[2015-08-23 21:31] gabrielschulhof commented on #2380
I'm having some difficulties producing a simple test case, because the addon where the error is happening links to a third-party library, and the exception is thrown from native code in response to an asynchronous network event received by the native library (since the main project concerns itself with providing bindings for the library).

Here's one way to reproduce the problem (tested on Fedora

[2015-08-23 21:35] Trott commented on #2469
I believe this is fixed in #2257 / ae8d436623109f315229ca9cc05715af362257b0

Guess we'll find out for sure after #2424 lands.

Closing because I think that's the right thing to do in this situation, but I don't feel strongly about that, so you know, re-open if you want it to stay open for a while.

[2015-08-23 21:35] #2469 closed

[2015-08-23 21:42] bnoordhuis commented on #2503
I admit I don't really understand what you mean by "it leaks variables" or what you are trying to accomplish but I think the short answer is "you can't do that", require() is too deeply tied into the node run-time for that.  Contexts created with the vm module are not node contexts, they're just JS contexts.

[2015-08-23 21:45] bnoordhuis commented on #2380
When you say "exception", do you mean C++ code throwing a C++ exception or raising a JS exception with `v8:::Isolate::ThrowException()`?

[2015-08-23 21:53] gabrielschulhof commented on #2380
The latter. The bindings code generates a JS exception that is never printed. I use nan though: https://github.com/otcshare/iotivity-node/blob/736665c3f7c2a4440449d70020e62841e6510d8e/src/structures/oc-payload.cc#L232

[2015-08-23 21:56] gabrielschulhof commented on #2380
I'm still trying to stub out the library, BTW. It uses a processing loop, so, like,
[code]

So OCProcess(), ends up calling a function, which ends up calling a function, etc., which ultimately ends up calling js_OCPayload(), which then throws the exception.

So, I'm trying to replace the library with a simple routine that just throws an exception after so many calls to the native function.

[2015-08-23 22:09] gabrielschulhof commented on #2380
Well, it's not as simple as that, it seems. [This](https://gist.github.com/gabrielschulhof/bd017094cd8aeb2e463c) produces the exception in the terminal with both 0.12 and 0.10.

[2015-08-23 22:13] bnoordhuis commented on #2380
If you use `node::MakeCallback()` or `nan::MakeCallback()`, note that it swallows exceptions.  It passes them to the domains handler if there is one but otherwise it just swallows them.  There is a bug report about it but I can't find it.

[2015-08-23 23:00] cjihrig commented on #2361
Fixed in a69ab27ab458385d24676792b75ad1c25b8c30e5, 45a2046f5d73c019978d3659706367b7d28f0279, 4f50d3fb9045b366fcea6981f79f2f4704468e54, and 3b602527d12475c7398cbfe19531cf6748010c60.

[2015-08-23 23:00] #2361 closed

[2015-08-24 01:03] rvagg opened #2510 "test-tls-ticket-cluster.js is flaky"
@indutny you should probably take this one since it's your test and fairly new. It's being quite flaky in builds, e.g.

from the V8 4.5 upgrade @ https://github.com/nodejs/node/pull/2509 on Win 2008: https://jenkins-iojs.nodesource.com/job/node-test-commit-windows/258/nodes=win2008r2/console
from the libuv 1.7.1 update: https://github.com/nodejs/node/pull/2310#issuecomment-132815653

[2015-08-24 01:36] isaacs commented on #2503
If you want to pass in a specific function called `require()` into a vm, then you would have to write that function, and pass it in, like node does.

@bnoordhuis I presume that "leaks variables" means that it exposes internals to the untrusted code in the sandbox.

[2015-08-24 02:03] silverwind commented on #2456
Correct changelog is at https://github.com/nodejs/node/blob/v3.x/CHANGELOG.md for anyone wondering.

[2015-08-24 02:03] silverwind commented on #2502
Correct changelog is at https://github.com/nodejs/node/blob/v3.x/CHANGELOG.md for anyone wondering.

[2015-08-24 02:22] reggi commented on #2503
Yes by "leaking variables" I mean that when I pass require into a context, that `require` is attached to the parent environment. So when that `require` runs within the vm it effects the module that is running the vm and not the environment within the vm.

[code]

[2015-08-24 02:43] sjmueller commented on #1655
@Fishrock123 @targos I understand how it could be a fair amount of work, especially since the answer isn't a binary one.  Usually the feature is behind a flag because it's x% done, so quantifying that every release would be cumbersome.

Perhaps there's a simpler way to get the message to folks who want to play around.  So going back to `--harmony_modules`, I enabled it, got the error, then asked m

[2015-08-24 03:03] anseki commented on #2504
Thank you, but... I tried your solution, and it did not read first line.

[code]

I tried your sample code on Windows 8.1 64bit with iojs v2.3.1, v2.3.2 and v3.1.0. Of course v2.3.1 works fine.

Also I tried `0` instead of `process.stdin.fd`. It works fine before accessing to `process.stdin`, but it doesn't read first line after accessing to `process.stdin`.

For example, this code doesn't read fi

[2015-08-24 03:32] Trott commented on #2477
Another example:

* (centos5-64)[https://jenkins-iojs.nodesource.com/job/node-test-commit-linux/249/nodes=centos5-64/tapTestReport/test.tap-545/]

[2015-08-24 04:58] itsnotvalid commented on #2456
Then please change the uri on https://iojs.org (for the link "Changelog")

Thanks.

[2015-08-24 06:48] rvagg opened #2514 "[Converge] SSLv2/3 related commits"
Continuing from https://github.com/nodejs/node-convergence-archive/issues/20, marking against 4.0.0 milestone. Summary of that discussion is that **SSLv2 and SSLv3 will not be reintroduced to v4**, but there are some outstanding items raised by @misterdjules:

@jasnell can you look back through that thread to see if there are any other commits missing from this list that should be included?

[2015-08-24 06:51] rvagg opened #2515 "[Converge] child_process argument type checking"
Continuing from https://github.com/nodejs/node-convergence-archive/issues/22, I don't believe this has been done yet, @jasnell can you confirm please? That thread seems to have enough agreement to pull these changes in. Marking on the 4.0.0 milestone.

[2015-08-24 07:05] rvagg opened #2516 "build: use build_release target in vcbuild.bat to build releases"
Currently Jenkins is doing this for iojs+release:

[code]

But https://github.com/nodejs/node/commit/1f12e032 introduced the `build_release` target that was in joyent/node (also see https://github.com/nodejs/node-convergence-archive/issues/27). We should be using that, perhaps:

[code]

Needs investigation to make sure it doesn't break stuff. It would seem right now that our Windows releases don't

[2015-08-24 07:11] rvagg opened #2517 "[Converge] Re-enable mdb"
Moving from https://github.com/nodejs/node-convergence-archive/issues/28 (lots of background discussion there)

Summary from @davepacheco

mdb commits in 0.12:

* `878c40e1b3762a5f3ed48094f954fbee705f69ff mdb_v8: fix symbols not loaded properly` - https://github.com/joyent/node/commit/878c40e1b3762a5f3ed48094f954fbee705f69ff
* `ebfa7e350aed8f61b68a290be2e8fefca9db939e mdb_v8: add tests for ::findj

[2015-08-24 07:15] rvagg commented on #760
Moving discussion from https://github.com/nodejs/node-convergence-archive/issues/34 and added to 4.0.0 milestone.

@bnoordhuis @piscisaureus what are the chances of getting a change in that would unify asynchronous behaviour across platforms within the next week or so? Are we going to have to punt this till 5.0.0 and if so, how painful will that be for users of v4 as it heads in to LTS?

[2015-08-24 07:16] rvagg commented on #760
ref https://github.com/joyent/node/commit/2411bea0dfa9d48f94f95119bbacce122509681e where it was made sync in 0.12

[2015-08-24 07:16] thefourtheye commented on #2502
Fixed by #2513

[2015-08-24 07:16] #2502 closed

[2015-08-24 07:27] rvagg opened #2518 "[Converge] copy relevant git metadata from joyent/node"
See also https://github.com/joyent/node/issues/25876

Marking this for 4.0.0 milestone. This is about being able to cut releases for 0.10 and 0.12 from here but also for preserving proper history.

[2015-08-24 07:28] rvagg opened #2519 "[Converge] merge CHANGELOG.md with joyent/node ChangeLog"
We need 0.10 and 0.12 entries in the CHANGELOG.md here, they can be copied as-is with basic markdownification as was done in https://github.com/nodejs/node/commit/5d8b232fc

[2015-08-24 07:31] rvagg opened #2520 "[Converge] MSI related changes"
Moving from https://github.com/nodejs/node-convergence-archive/issues/79

@orangemocha and @joaocgreis can either of you handle this and assess whether they are needed and if so make the changes please?

marking against 4.0.0 milestone

[2015-08-24 07:34] rvagg commented on #2366
Sounds like this isn't a 4.0.0 target so I've shifted it to the 5.0.0 milestone, is that a fair outcome from your meeting @snostorm & @chrisdickinson?

[2015-08-24 07:52] rvagg commented on #2518
both v0.10 and v0.12 were frankenbranches in this repo, a mess from the early days of node-forward. I've saved them as [archived-io.js-v0.10](https://github.com/nodejs/node/tree/archived-io.js-v0.10) and [archived-io.js-v0.12](https://github.com/nodejs/node/tree/archived-io.js-v0.12) respectively so as not to lose anything that might be in there that wasn't copied to active dev branches as well (m

[2015-08-24 08:05] ChALkeR commented on #2423
I did not take a look on the details, but 2.5.0 seems more stable than 3.1/3.1.1, especially in the `http-spew` test.

[2015-08-24 08:20] rvagg commented on #2518
I'm sure there's a more sophisticated way but

[code]

all the 0.10 and 0.12 tags are there now

[2015-08-24 08:26] rvagg commented on #2518
Again, this is pretty brute-force but:

[code]

the release branches are pretty important so they should be copied over even though we stopped using them since about io.js v1.0.4.

[2015-08-24 08:33] rvagg commented on #2518
we need to be able to show that we can cut 0.10 and 0.12 releases from this repo before this issue can be closed, until then, joyent/node is still active and can't be archived.

[2015-08-24 08:34] rvagg commented on #2423
@ChALkeR yeah, heavy Buffer use puts us at the mercy of how V8 treats `ArrayBuffer`s unfortunately, at least it doesn't grow though. @trevnorris has talked about doing some deeper investigation into the nature of GC on this and whether it's totally on the `ArrayBuffer` side or if there is something we can tweak on our end.

[2015-08-24 08:37] ChALkeR commented on #2423
From the first look it could be related to #1671, but I'm not sure yet.

[2015-08-24 10:52] gabrielschulhof commented on #2380
@bnoordhuis I commented out the MakeCallback() and the exception is now thrown. Thus, it seems this is indeed related to that issue.

Was https://github.com/nodejs/nan/issues/284 the issue you were looking for?

[2015-08-24 10:53] gabrielschulhof commented on #2380
In particular, https://github.com/nodejs/nan/issues/284#issuecomment-125167395

[2015-08-24 11:00] bnoordhuis commented on #2380
That's probably it.  I thought there was an io.js issue about it as well but maybe I've mixed up things.

[2015-08-24 11:53] joaocgreis commented on #2520
@rvagg I believe this is relevant, I'll reopen the PR here.

[2015-08-24 11:56] tomByrer commented on #2502
Cheers!

[2015-08-24 12:01] bpasero commented on #2165
When using String.normalize(), can I always assume that the result I get is readable by io.js when I do a fs operation with it? We already see that on Mac I can pass a NFC or NFD form of a path to the fs APIs and both variants work. But lets assume I always convert to NFC (using String.normalize()) any path I get from the OS. Is there a chance I run into fs issues? I would assume that a string rem

[2015-08-24 12:04] alantva commented on #2467
@Fishrock123 I will check, thanks for the help

[2015-08-24 13:37] rvagg opened #2522 "Node.js v4 Release Timeline"
This is ultimately up to @nodejs/tsc but for the sake of _just getting it done_ I'm going to propose the way forward and will both tag this as `tsc-agenda` and ask that @nodejs/tsc members comment on this thread, particularly if they'd like to `-1` anything I'm suggesting—otherwise let's roll with this.

Our original aim was to get v4 out by the "end of August" so that we had a good 2 months of re

[2015-08-24 13:49] lazutkin commented on #2507
Ref: https://code.google.com/p/v8/issues/detail?id=4387

[2015-08-24 13:52] rvagg commented on #2507
We're going in to LTS with this version of V8, I hope this isn't going to bite us in a similar way to `Array.values()` in 0.12, perhaps this should be part of our "Known issues"?

[2015-08-24 14:28] jasnell commented on #2522
This looks solid. +1
On Aug 24, 2015 6:37 AM, "Rod Vagg" <notifications@github.com> wrote:

[2015-08-24 14:31] bpasero commented on #2165
Did some more testing. It seems that Windows and Linux file systems allow files with either NFD or NFC form and they are both preserved. On Mac, I can create either a file in NFD or NFC form but in both cases it ends up to be just one file in NFD form. That also means, if any String.normalize() is being used, it must only be used on Mac because the other OS allow for both forms.

I am still a bit

[2015-08-24 14:33] Fishrock123 commented on #2507
Yeah perhaps we should document it. It's not a thing that perviously existed though (afaik) so I think we're good there.

[2015-08-24 14:56] bnoordhuis commented on #2165
You've probably figured this out already, but to recap:

1. Windows (or rather, NTFS) stores file names as UTF-16 without further canonicalizing them.
2. Most Unices, including Linux, treat file names as simple byte arrays without any particular encoding.

OS X is the odd one out, both in that it normalizes file names and in that it uses NFD instead of the more common NFC (although NFD has some pr

[2015-08-24 14:57] jasnell commented on #2515
Correct, AFAIK this has not yet been completed. It's actually on my list for later this week but if someone gets to it before then ..... ;-)

[2015-08-24 14:59] silverwind commented on #2165
Mostly historic reasons it seems. I'll link [this QA](https://developer.apple.com/library/mac/qa/qa1173/_index.html) again as it still seems the best resource I could find. In summary, it's a big mess and the returned form can vary based on the filesystem and even on code points in the HFS+ case.

[2015-08-24 15:01] Fishrock123 commented on #2165
Is there any disadvantage to using `string.normalize()` on mac? To my knowledge it should to what's correct per system, and will just return the string unmodified if node is built without Intl?

[2015-08-24 15:06] mscdex commented on #2522
LGTM

[2015-08-24 15:20] silverwind commented on #2165
Yes, `string.normalize` should be a noop without Intl.

Remember thought, that for comparison to work both strings must be in the same form. If we decide to normalize all file names returned by the system to NFC, there's still the possibilty that the user tries to compare it to NFD obtained through other means, which would fail.

Maybe the best course of action is to advice to do `str1.normalize()

[2015-08-24 15:45] thefourtheye commented on #2522
I love this plan. LGTM

[2015-08-24 16:27] Fishrock123 commented on #268
https://gist.github.com/Fishrock123/23950d26346dc8077a08

@bnoordhuis Even in cases that should be horrible (to my best understanding) for O(n) on timeout (Tests 3 & 4), it still performs over 2x as well as a sorted array. At minimum, I move we accept the joyent/node patches for it.

The heap impl (primarly made by Ben) is probably usable even in this state without severe optimizations, it seems g

[2015-08-24 16:42] trevnorris commented on #2380
`MakeCallback()` currently should only be used if it's the first JS frame on the call stack. Further calls are undefined behavior. Of course this is not optimal, but the few times I've attempted to fix this in the past there have been edge cases that pop up and still make it unsafe.

[2015-08-24 16:57] jorangreef commented on #2165
This would not be correct, i.e. the same as making fs.readFile normalize CRLF line endings to LF because people are not aware of the difference. Filenames should be treated as data.

Spot on. Although, when comparing file system strings, one must take into account whether the file system preserves form or not. e.g. When comparing filenames on Windows or Linux (or on any form-preserving filesystem)

[2015-08-24 16:58] reggi commented on #2503
Perhaps this pertains to https://github.com/joyent/node/issues/9211?

[2015-08-24 16:58] jorangreef commented on #2165
@Fishrock123 this would fix the test where normalize works. But to fix the test to work where there is no ICU, it would be better to just change the test to create a NFD form of the directory to start with. That will work on all OS X versions.

[2015-08-24 17:01] srl295 opened #2525 "Rename of "language groups" from iojs-* to nodejs-*"
Related to https://github.com/nodejs/node/pull/2367#issuecomment-131857969 et al. Given convergence, the question comes up about the WG names `iojs-*` changing to `nodejs-*`?

For stability and continuity, each group may need to rename itself, or at least come to consensus.

The TSC could provide guidance here.

[2015-08-24 17:02] trevnorris commented on #1671
@jeisinger Took a quick set of benchmarks here: https://gist.github.com/trevnorris/efe36274b0d0a23a78f5

The reason v2.5.0 is relevant is because that was the last release on v4.3.

From the results you can see that v4.4 is offering the worse performance to date. For kicks I took some GC stats between v3.1.0 and v2.5.0, allocating 65KB Buffers, and got:
[code]
I doubt that accounts for all the los

[2015-08-24 17:24] ChALkeR commented on #1671
I think that it makes sense repost the ArrayBuffer-based testcase from [v8-users](https://groups.google.com/forum/#!topic/v8-users/7bg5ym8t7KU) (referenced in https://github.com/nodejs/node/issues/1671#issuecomment-113471203 and https://github.com/nodejs/node/issues/1671#issuecomment-114479206):
[code]

Run with `--expose-gc`.
3.1.0 results:
[code]

But when {slices} is equal to 3 or more, Array s

[2015-08-24 17:38] chrisdickinson commented on #2485
It's a little confusing, but [`end()`](https://github.com/nodejs/node/blob/2d251e661a8c761e0c1bd809fdc6a29179950c00/lib/_stream_writable.js#L420-L444) doesn't [directly](https://github.com/nodejs/node/blob/2d251e661a8c761e0c1bd809fdc6a29179950c00/lib/_stream_writable.js#L476-L486) correlate to the `'end'` event in transform streams. Instead, it corresponds to [`'finish'` on the writable side of th

[2015-08-24 17:49] gabrielschulhof commented on #2380
@trevnorris how do you mean the "first JS frame on the call stack"?

The call stack in my case starts with a JS interval callback firing, which calls a binding that goes deep into the library for which I'm providing bindings. The library, in turn, calls a C function pointer I gave it earlier which gives me a pointer to the ```Persistent<Function>``` storing the JS callback I end up calling.

So, t

[2015-08-24 17:55] mikeljames commented on #2522
As some would say. Amazeballs.

[2015-08-24 18:07] Fishrock123 commented on #2514
@indutny / @shigeki could you look at the first two commits there?

[2015-08-24 18:26] trevnorris commented on #2423
Here's the flame graph for creating Buffers in v2.5.0: https://cldup.com/VDEJ25y_oL.svg

Here it is for v3.1.0: https://cldup.com/90ZGBV_cfP.svg

The two things that stand out to me are `std::map` and the time spent in some sort of `malloc`. @bnoordhuis also noticed that it generates a large number of page faults. Not sure what to make of this, but will attempt to investigate. Either way this requ

[2015-08-24 18:27] trevnorris commented on #1671
@jeisinger Here's the flame graph for creating Buffers in v2.5.0: https://cldup.com/VDEJ25y_oL.svg

Here it is for v3.1.0: https://cldup.com/90ZGBV_cfP.svg

The two things that stand out to me are `std::map` and the time spent in some sort of `malloc`. Could you give some insight as to why this might be happening?

[2015-08-24 18:32] rsms commented on #583
With libuv/libuv#416 we could simply expose an API like this:

[code]

Or with simple callbacks, if promises are too crazy.

FTR, Go's readdir requires you to limit the number of entries read. By default it's 100.

Also it hasn't been discussed much here, but not limiting readdir is a security risk — allows virtually unlimited memory allocation initiated by user input. I.e. a file server implement

[2015-08-24 18:43] domenic commented on #583
Not this. JS doesn't have finalization. It has garbage collection, which is never guaranteed to run. Scarce system resources like directory handles should never depend on garbage collection to collect them.

The stream design seems sane. Or yours, but with `dir.close()`. Alternately a lower-level API like `const d = await fs.opendir(dir); const entry = await fs.readdir(d); fs.closedir(d)` would be

[2015-08-24 18:49] Fishrock123 commented on #583
This shouldn't be an issue with the streaming proposal, but should be with the current implementations I think.

[2015-08-24 19:00] indutny commented on #2514
I'm fine with these changes.

[2015-08-24 19:05] ChALkeR commented on #2522
Is «Friday, 28th of August midnight» (feature freeze) `2015-08-28 00:00:00` or `2015-08-28 23:59:59`? Doesn't seem clear to me.

[2015-08-24 19:16] bnoordhuis commented on #2522
I hate feature freezes.  Can we say that the v4.x branch is cut on the 28th and only gets bug fixes from then on but that master is still FFA?

[2015-08-24 19:48] fresheneesz opened #2527 "Feature Request: Event loop introspection"
Every once in a while I have a hanging process, and I have no idea why it hangs. It could take me hours to figure it out. It would be great if there were ways to ask the program things like:
* How many open file descriptors are there? What kinds of things are they: (type [network, file system file, input descriptor], name ["http connection to &lt;some IP address>"], etc)?
* How many waiting timers

[2015-08-24 19:58] jasnell commented on #2515
@sam-github @trevnorris ... this particular set of commits were yours originally, I believe. Would either of you be able to take a look to see what needs to land in nodejs/node?

[2015-08-24 20:06] trevnorris commented on #2380
@gabrielschulhof In your case the `setInterval()` callback is the first frame in the call stack. If ever you reach C++ from JS then the call back into JS shouldn't use `MakeCallback()`.

[2015-08-24 20:10] trevnorris commented on #2515
lint fix doesn't matter. processing the arguments the same would be helpful, but not sure if it's currently done that way ATM. so may be worth bringing in.

[2015-08-24 20:11] trevnorris commented on #2522
Think that's what is meant. The v4.x branch won't be receiving any changes, only fixes, until it's released. Changes will continue to land as normal on master. Basically, our current workflow won't change.

[2015-08-24 20:33] gabrielschulhof commented on #2380
@trevnorris Thanks!

[2015-08-24 21:22] Qard commented on #2527
:+1: I'd like to see this myself, at some point.

There's already `process._getActiveHandles()` and `process._getActiveRequests()` for that sort of thing. They're not currently part of the public API though, so they could change at any time. The necessary components to start on this are there though.

The timers one is a little harder, due to the weird batch processing of them. Still probably doab

[2015-08-24 21:55] rsms commented on #583
@domenic I'm well aware how v8 works ;)

(BTW, object streams seems to be favoured by individuals who tend to seek out opportunities to create new abstractions — it doesn't add clarity and suffers in performance IMHO.)

TL;DR: async bridge toll costs would make reading single dirents unfeasible.

libuv/libuv#416 exposes the following interface:
[code]

Where the readdir call reads up to `limit` am

[2015-08-24 22:06] fresheneesz commented on #2527
Ah, those functions might come in useful at some point. Thanks!

[2015-08-24 22:18] Trott commented on #1931
Is this still an issue? Or was this fixed by @sam-github's commits on June 10?

[2015-08-24 22:43] Fishrock123 commented on #2527
There was definitely a previous issues about this, but I can't seem to find it... @Qard's answer is correct though.

[2015-08-24 22:54] fresheneesz commented on #2527
@Fishrock123 Was it this: https://github.com/joyent/node/issues/1025 ?

[2015-08-24 22:58] Fishrock123 commented on #2527
@fresheneesz nope, there was one on this issue tracker.

[2015-08-24 23:24] Qard commented on #2527
You're thinking of #1128.

[2015-08-24 23:34] thlorenz commented on #2527
[active-handles](https://github.com/thlorenz/active-handles) handles (npi) part of these features and walks timers as well.

[2015-08-24 23:44] Fishrock123 commented on #2527
Ah yes. Closing in favor of #1128, please make any additional comments there! :)

[2015-08-24 23:44] #2527 closed

[2015-08-24 23:49] kzc commented on #2423
@trevnorris Memory and CPU are like apples and oranges. You can often get lower memory use in these synthetic IO benchmarks by using a smaller default Buffer size, but usually at the expense of CPU in increased garbage collection bookkeeping.

Which variable are you trying to minimize?

[2015-08-24 23:59] bguiz commented on #2522
+1

[2015-08-25 00:41] shigeki commented on #2514
https://github.com/joyent/node/commit/69080f5 is the fix only for node-v0.10 and is no longer needed for 0.12 and 4.0. https://github.com/joyent/node/commit/8d045a3 has large test cases, give me sometime for check them.

[2015-08-25 01:46] rvagg commented on #2522
@bnoordhuis you're not the first person to object to my use of the term "feature freeze" here, really what I'm getting at is that all of this stuff should be landed by then: https://github.com/nodejs/node/milestones/4.0.0, cutting a `v4.x` branch will help with that. This is OSS so there's no PM breathing down our shoulders who will yell at us if we land a major change in the last couple of days b

[2015-08-25 02:06] shigeki commented on #2522
I have no objection but let me confirm that LTS starts 1st Oct. but feature freeze and only bug fix for v4.0 branch start from 3rd Sep. What is the difference? Is there any purpose to be 4 weeks ahead?

[2015-08-25 02:13] rvagg commented on #2522
Actually you're right, start of October according to https://github.com/nodejs/LTS/, I've had end of October in my head all this time for some reason, so that gives us even less time to get this right!

[2015-08-25 02:28] shigeki commented on #2522
So If there is no actual meaning of LTS starting in Oct., I think  it is better to say that LTS starts form the date of the release of 4.0.0, 3rd Sep. but we need not change the end of LTS.

[2015-08-25 03:56] Trott commented on #2468
It should perhaps be noted that the flaky test is `test/internet/test-dns.js` and not `test/parallel/test-dns.js`.

[2015-08-25 04:12] Fishrock123 commented on #2522
LTS means less stuff lands into it, since 5.0 will be stable, and there will be a master for 6.0

[2015-08-25 04:22] Trott commented on #2470
If I'm understanding the test correctly, the part of the test that is flaky is actually invalid. It checks to see if the function passed to `setTimeout()` executes in the same second as call to `spawnSync()` finishes. This will not always necessarily be the case, and the test will only get flakier if more things are added to it. (There are two other test cases below the flaky one.)

There's alread

[2015-08-25 04:30] rvagg commented on #2522
The gap between releasing v4 and turning it into LTS gives us the opportunity to land `semver-minor` changes as well as some patch changes that we might decide don't belong in an LTS. We may get to 4.2.x by LTS, perhaps higher, then LTS stays on that minor.major (unless it's _absolutely_ necessary to land a `semver-minor`)

[2015-08-25 04:37] shigeki commented on #2522
Okay, it sounds clear to me. Thanks.

[2015-08-25 05:27] jorangreef commented on #2165
That's exactly right. Apple may have thought that some users would be confused by different normalization forms, and they also wanted to be form-insensitive, so instead of preserving the form, they just convert `abc` to `ABC` and lose the form in the process. Meanwhile, the other file-systems preserve form and are sensitive to form.

One can think of it exactly as dealing with a non-case-preservin

[2015-08-25 05:35] silverwind commented on #2165
I think a better comparision would be when you think of your data as case-insensitve (you wouldn't use uppercase for files in your project, would you?), and the OS starts to return sensitive case depending on the characters used. It's a mess in my eyes.

[2015-08-25 06:12] rvagg commented on #2520
Assigned to @joaocgreis, please close when this lands

[2015-08-25 06:12] rvagg commented on #2519
This 4.0.0 issue is open for takers if someone on @nodejs/collaborators is looking for something to do. We need to interleave the changelog entries according to date, no need to do anything more fancy than was done in https://github.com/nodejs/node/commit/5d8b232fc.

[2015-08-25 06:13] rvagg commented on #2518
Assigning this to myself, tho I'll probably need to lean on @orangemocha to make sure I get this done properly.

[2015-08-25 06:14] rvagg commented on #2517
Assigning to @misterdjules, please close when this lands, we have until the end of this week to get in to 4.0.0.

[2015-08-25 06:15] rvagg commented on #2515
@trevnorris I'm assigning this to you, please close this when it lands, before the end of the week please.

[2015-08-25 06:15] rvagg commented on #2514
@shigeki I'm assigning this to you, can you make sure those land in master by the end of this week please and then close this issue

[2015-08-25 06:18] rvagg commented on #760
@bnoordhuis can I get you to take responsibility for doing *something* about sync/async `send()` this week please? Your latest comment in nodejs/node-convergence-archive#34 was that you thought making sure it's async on all platforms was the way to go and therefore documentation should note this. I'd lgtm any PR that takes this off our known issues list, no matter which way it falls.

[2015-08-25 06:22] rvagg commented on #2522
All of the big issues in https://github.com/nodejs/node/milestones/4.0.0 have assignees now. @joaocgreis, @misterdjules, @trevnorris, @shigeki, @bnoordhuis, @Fishrock123 could you please try and take care of them by the end of this week and if you can't allocate time or don't think it's going to make it then please just keep us informed so we can plan accordingly or have others jump in and help.

[2015-08-25 07:29] Globegitter commented on #2522
Any chance for getting in https://github.com/nodejs/node/issues/4? Or is that too much of wish-thinking and better for a release after? Thought I think HTTP/2 compatibility would be a big selling point for Nodejs 4.0.0.

[2015-08-25 07:33] shigeki commented on #2514
@rvagg Okay, no problem.

Checking all test cases in joyent/node@8d045a3, I think this is not necessary to be merged into 4.0 because 4.0 has no `--enable-ssl2/ssl3` command line options and configurations of SSL options/methods for SSLv2/v3 are explicitly disabled so that the remaining test cases are only for TLSv1_methods.

The doc fix of joyent/node@d230fa9 is for the description that was intro

[2015-08-25 07:33] #2514 closed

[2015-08-25 07:34] rvagg commented on #2522
@Globegitter sorry, that's out of scope for this release, we're far from consensus on what, if anything should be done and have zero code against core to assess if we even decided to go for this.

[2015-08-25 08:04] pmq20 commented on #2519
working on it

https://github.com/pmq20/io.js/tree/psvr-issue-2519

[2015-08-25 09:16] pmq20 commented on #2519
https://github.com/nodejs/node/pull/2536

[2015-08-25 10:15] bnoordhuis opened #2537 "build,windows: build and test add-ons on CI"
Continuation of https://github.com/nodejs/node/pull/2428.  Building and testing add-ons has been implemented on Unices but not on Windows.

This probably needs to be added to vcbuild.bat although I'm unsure what the best way to do that is.  Call out to a python script that builds the add-ons?  Normal add-ons in test/addons can be built from a master binding.gyp but that won't work for add-ons scra

[2015-08-25 10:57] orangemocha commented on #2518
The script LGTM. Perhaps we need to add the option `--follow-tags` to the git push command, and make sure we fetch `--tags` from joyent in the beginning.

[2015-08-25 13:27] orangemocha commented on #2518
This is the list I am getting:

[code]

/cc @misterdjules

[2015-08-25 13:43] orangemocha commented on #2518
I have tweaked the script a bit. If the list looks good, I can make the push as part of https://github.com/joyent/node/issues/25876 or even before.

[2015-08-25 14:40] Trott commented on #2470
Fixed in 7e63eb7762309487b6681ebff7f24b9fa6f40637 / #2535

[2015-08-25 14:40] #2470 closed

[2015-08-25 14:58] thefourtheye commented on #2525
Cc @nodejs/tsc

[2015-08-25 15:09] Fishrock123 commented on #2514
Are we sure those aren't useful? @misterdjules said they were in finding regressions, unless we already test all of that stuff?

[2015-08-25 15:30] mzgol commented on #2507
Wow, this seems worrying, especially that it's available by default, not behind a flag. Comments in [the V8 issue](https://code.google.com/p/v8/issues/detail?id=4387) suggest the fix for that will be a one-liner. I somehow missed that Node 4.0.0 will use v8 4.4, not 4.5 (i.e. the same as io.js 3) but since v8 4.4 will soon loose upstream support perhaps patching this on the Node.js side wouldn't i

[2015-08-25 15:53] Trott commented on #2477
When this test dies, it seems to have something to do with a problem communicating from child to parent using `stderr`. The first line sent using `console.error()` makes it to the parent but the second one does not and then (for whatever reason, but I'm guessing totally related) `stdout` similarly just hangs.

Since the `console.error()` stuff is purely there for debugging purposes, I'm guessing t

[2015-08-25 16:19] Fishrock123 commented on #2467
@alantva any update? :)

[2015-08-25 16:20] Fishrock123 commented on #2466
Closing, @tolmasky  let us know if you have more questions. :)

[2015-08-25 16:20] #2466 closed

[2015-08-25 16:21] Fishrock123 commented on #2413
Ok uh, @chrisdickinson do you have time for this? I'm willing to run it but I'm not sure I will actually have time for the next 2 weeks or so.

[2015-08-25 16:31] Fishrock123 commented on #2518
@orangemocha what is missing here now? I see basically everything, just not pre-0.10.0 tags.

[2015-08-25 16:33] Fishrock123 commented on #2416
Can this be closed then? Or is it also for this week's?

[2015-08-25 16:36] Fishrock123 commented on #2197
Deprecated in the docs as of https://github.com/nodejs/node/commit/93e28306864d14aaeef14061990abb733bbe7105, see https://github.com/nodejs/node/pull/2447

[2015-08-25 16:36] #2197 closed

[2015-08-25 16:37] Fishrock123 commented on #2230
Closing, discussion now at https://github.com/nodejs/node/issues/2522 for v4.0.0

[2015-08-25 16:37] #2230 closed

[2015-08-25 16:37] srl295 commented on #2300
@nodejs/documentation any thoughts?

[2015-08-25 16:38] srl295 commented on #2292
- [ ] TODO: update status here

[2015-08-25 16:39] Fishrock123 commented on #2216
@mikeal did we figure this out ever?

As far as I know things now sit like this:

- `next / dev` (`master`)
- `stable`
- `LTS`
- `maintenance`

Maybe we should still discuss what `master` releases should be called?

[2015-08-25 16:40] Fishrock123 commented on #2113
Crap we should probably actually fix this for 4.0.0.. hmmm

[2015-08-25 16:41] Fishrock123 commented on #2076
Is this still not working correctly?

[2015-08-25 16:43] Fishrock123 commented on #2326
cc @snorp could you try what @bnoordhuis suggested? (You'll need to build io.js yourself to do it.)

[2015-08-25 16:44] Fishrock123 commented on #2338
Closing this, since it's mostly a question, PR is still open.

[2015-08-25 16:44] #2338 closed

[2015-08-25 16:45] Fishrock123 commented on #2362
cc @nodejs/streams

[2015-08-25 16:46] orangemocha commented on #2518
Probably nothing. I didn't realize @rvagg had already done the push. I will do an update as part of https://github.com/joyent/node/issues/25876

[2015-08-25 17:11] isaacs opened #2543 "Feature: requestIdleCallback(cb)"
This seems interesting and useful, and probably wouldn't be terrifically hard to add to node: https://w3c.github.io/requestidlecallback/

It just landed in Chrome Canary: https://plus.google.com/+IlyaGrigorik/posts/bPNjgMwcMKs

Could be worth waiting a bit to see how people find it in browsers, or if V8 has any sort of special support for it in upcoming versions.

[2015-08-25 17:11] Fishrock123 commented on #2113
cc @bnoordhuis since he reverted the http patch.

[2015-08-25 17:25] Fishrock123 commented on #2543
cc @ofrobots

[2015-08-25 17:31] mikeal commented on #2216
Nope! Let's put this on the back burner until the new website is up. Right
now let's just refer to releases by their number. Once we have a bunch of
these live my suggestion would be to reach out to the foundation's
marketing committee to get their input as branding isn't our core
competency :)

On Tue, Aug 25, 2015 at 9:39 AM, Jeremiah Senkpiel <notifications@github.com

[2015-08-25 17:35] trevnorris commented on #2076
from @bnoordhuis' [comment](https://github.com/nodejs/node/issues/2076#issuecomment-117121620) I believe it won't work properly until we bring in 4.7.3+.

[2015-08-25 17:54] ofrobots commented on #2076
@trevnorris where are you getting the 4.**7**.3 from? The commit @bnoordhuis referenced landed in 4.3, and has been available in node v3.x and master.

Last [time I tried](https://github.com/nodejs/node/issues/2076#issuecomment-117260241), it did *not* fix the issue for me though. It works fine with d8, but not with node.

I personally think that `gdbjit` is not useful because of the [limitations]

[2015-08-25 18:01] trevnorris commented on #2076
@ofrobots my bad. I misread the tag below the commit message on GitHub.

[2015-08-25 18:04] snorp commented on #2326
Oops, I forgot to comment here. I did build io.js myself with the suggested change, but it crashed on startup for some reason, and I haven't had time to look into it more. I did add a recurring 15 minute timeout to my app and it seemed to keep things from getting into this busted state.

[2015-08-25 18:08] trevnorris commented on #2076
As for `gdbjit`, IIRC it was useful to be able to step through the JS source in gdb. `gdbinit` definitely gives more information, but being able to step through the JS itself in gdb was also useful.

[2015-08-25 18:14] trevnorris commented on #2423
@kzc Choosing 64KB buffers was not random. The probable most common case of I/O in node is done over TCP. Which lends itself to the 64KB packet limit test. Which is why I chose to create the flamegraph with that value.

Though I have much less concern at this point over memory usage, than the fact that Buffer instantiation time is over 2x slower then it was in v0.12. And not only in a small range

[2015-08-25 18:18] ofrobots commented on #2076
Okay, that *is* a reasonable use-case. I don't have bandwidth at the moment, but I will try to take another look when I get some spare cycles. Others are welcome to investigate this too.

[2015-08-25 18:21] ofrobots commented on #2076
Self-assigning so that I don't forget, but others are welcome to investigate it too.

[2015-08-25 18:26] trevnorris commented on #2076
Thanks. Seems it has to be something like build configuration. Since it works perfectly in d8. I'll also try to take a peek there.

[2015-08-25 18:29] trevnorris commented on #2515
@rvagg want me to just cherry-pick the applicable onto master?

[2015-08-25 18:34] mikeal commented on #2522
If I could get some high level bullet points for this release I can send them off to the marketing committee and we can line up some good PR around the release.

[2015-08-25 19:16] yury-s opened #2546 "Inspecting Node.js with Chrome DevTools"
###  Objective

We’ve been thinking about providing unified debugger support across various v8 embedders. One natural approach to that is to reuse Chrome DevTools and provide its JS debugger, performance and memory profiler functionality to Node.js users. What we aim for Node is what we have for Chrome for Android. You basically go to _chrome://inspect_ on a stable version of Chrome and it debugs

[2015-08-25 19:29] calvinmetcalf commented on #2362
Yes you can, but you need to make sure not to push any after you call the callback in flush

[2015-08-25 19:31] ofrobots commented on #2546
/cc @trevnorris, @bmeck

[2015-08-25 19:32] chrisdickinson commented on #2362
It's possible but it opts you out of the default backpressure/hwm mechanics scheme. So ... maybe a bit dangerous unless you're keeping a close eye on the other events coming through the stream (as @calvinmetcalf suggests) as well as paying attention to the amount of data you're pushing (and the return value of `.push()`).

[2015-08-25 19:34] timkuijsten commented on #2362
tnx!

[2015-08-25 19:34] #2362 closed

[2015-08-25 19:37] bmeck commented on #2546
/cc @thlorenz @3y3 @bajtos

[2015-08-25 19:54] Qard commented on #2546
/cc @nodejs/tracing

[2015-08-25 19:55] thlorenz commented on #2546
I did some related work a while ago: https://github.com/thlorenz/debugium

Implementing the protocol is the easy part. However trying to reuse code from chromium that communicates with v8 turned out to be non-trivial.
At one point I was told that the chrome team was going to take that on, but afaik that never materialized.

For anyone working on this https://github.com/thlorenz/chromium-remote-deb

[2015-08-25 20:05] paulirish commented on #2546
To add a few items…

This project brings all of the DevTools's JS features to Node. That includes:

* the sampling profiler with flame chart, top-down and bottom-up tree views
* memory heap snapshot capture and viewing
* memory allocation profiler
* JS debugger with breakpoints, step-out/in/over. Asynchronous stacks
* Experimental efforts around Step into Async, Promises view, etc.

Moving forward

[2015-08-25 20:13] thlorenz commented on #2546
@paulirish Awesome! Happy this is finally happening :)

[2015-08-25 20:21] trevnorris commented on #2546
Does `--remote-debugging-port=9222` bind to `localhost` or `0.0.0.0`? Could it be made configurable? Much usage will come from debugging remote processes.

Will we have to integrate the same type of code into our JS, along with our C++, like in `v8/src/promise.js`:
[code]

Having this w/o LTS support reduces its utility in node. As such it will become a maintenance burden across 4 or 5 active bran

[2015-08-25 20:39] alantva commented on #2467
@Fishrock123 I left one service running since friday and another since yesterday morning, so far are running without errors

[2015-08-25 20:48] Fishrock123 commented on #2467
Ok, sounds good. We'll re-open if you run into anything.

[2015-08-25 20:48] #2467 closed

[2015-08-25 21:01] Fishrock123 commented on #2148
Apparently stdout/stderr should always be blocking anyways: https://iojs.org/api/process.html#process_process_stdout...

[2015-08-25 21:35] kzc commented on #2423
A tight for loop around 1e7 unused new SlowBuffer()s doesn't measure Buffer instantiation time as much as it measures GC time as seen in the stats from flame graphs above:

    v2.5.0:
        node::smalloc::Alloc                  - 78.32% of CPU
        v8::internal::Heap::CollectAllGarbage - 69.75% of CPU

    v3.1.0:
        node::Buffer::Create                  - 58.24% of CPU
        v8::Arra

[2015-08-25 21:45] ChALkeR commented on #2423
I'm not quite sure what you mean here. `Buffer`s do not trigger scavenges, and it actually takes a mark-sweep to clean them. The problem that I know about is that `Buffer` usage triggers many mark-sweeps, which is slow _and_ not memory-efficient.

Do you have a benchmark to share?

[2015-08-25 21:51] trevnorris commented on #2423
Doing testing between v2.5.0 and v3.2.0 I saw a jump in minor page faults from 27,300 to 5,955,571. So at a quick glance it would seem that something bad for performance is occurring.

[2015-08-25 22:02] orangemocha commented on #2434
I am populating a huge dropdown for PR reviewers, with the names and email addresses of collaborators from https://github.com/nodejs/node#tsc-technical-steering-committee / https://github.com/nodejs/node#collaborators.

Having the github username there would make it easier to find and select reviewers. It also seems sensible to add the github username to the commit message. It would look like:

[c

[2015-08-25 22:07] trevnorris commented on #2423
From the `benchmarks/` dir. Here are a few results:
[code]
These two show the issue at its worst because throughput is most dependent on being able to allocate new buffers, write them and clean them up once the write is complete. We have companies like F5 attempting to do millions of transactions, and when a single buffer allocation takes 0.5us more (whether from instantiation or necessary GC) it

[2015-08-25 22:08] kzc commented on #2423
v8::internal::Heap::CollectAllGarbage is indirectly called by node::Buffer::Create.

The act of creating a SlowBuffer invokes GC.

The ones provided in this ticket could be used. They just have to close the server and exit after a fixed number of transactions.

[2015-08-25 22:12] ChALkeR commented on #2423
@kzc, I still fail to see why does it _need_ a `v8::internal::Heap::CollectAllGarbage` call and how is that good for performance and/or memory.

[2015-08-25 22:15] kzc commented on #2423
Because 1e7 new SlowBuffer()s are created in a tight loop in JS, it has no choice but to reclaim memory from a GC within the v8 allocator.  It's not a matter of good nor bad - just necessary.

[2015-08-25 22:16] ChALkeR commented on #2423
@kzc Scavenges are enough in all the supplied testcases, I believe. My question is why is it running full mark-sweeps.

[2015-08-25 22:16] trevnorris commented on #2423
Wait, what? I've got to be misunderstanding what you're saying. node servers are doing high throughput for days/weeks/months at a time. So, what did you mean?

Also, to make sure it's clear, Buffers are created w/ the `kInternalized` flag. So V8 has full control of the memory.

[2015-08-25 22:17] trevnorris commented on #2423
Why?

[2015-08-25 22:19] trevnorris commented on #2423
We're not using `ArrayBuffer::Allocator`. If that's what you're referring to. We `malloc()` manually then hand it off using `ArrayBuffer::New()` using `kInternalized`. So that V8 can take full control of the memory's lifetime.

[2015-08-25 22:20] kzc commented on #2423
@trevnorris - I was referring to constructing a benchmark that exits after a certain number of HTTP requests.  If you time the thing you get an idea of how long node takes to process N http requests/responses as fast as a client can handle. Nothing fancy.

[2015-08-25 22:21] trevnorris commented on #2423
Ah okay. Thanks for clarifying. :)

[2015-08-25 22:22] kzc commented on #2423
Why does creating a SlowBuffer invoke GC?  It's clearly visible in both your flame graphs. It has to free up memory somehow in the tight loop. There's no pauses in the event loop to collect garbage otherwise.

[2015-08-25 22:24] ChALkeR commented on #2423
@kzc Why does it invoke a mark-sweep?

[2015-08-25 22:26] yury-s commented on #2546
It can be bound to any interface that we want, I don't see any issues with that (except security). Chrome already accepts both host and port as values of --remote-debugging-targets and the host may well be remote one.

It makes sense to differentiate between transport and the debugger backend implementing the remote debugging protocol. Same debugger implementation can be used with different types

[2015-08-25 22:27] 3y3 commented on #2546
@thlorenz ,

At current iteration `node-inspector` tries to inject some parts of Chrome debugger API to app.
There exists some [outdated experiments](https://github.com/node-inspector/node-inspector/pull/450) with `InjectedScriptSource.js` and `DebuggerScript.js` from blink source.

[v8-debug](https://github.com/node-inspector/v8-debug) has experimental method [enableWebkitProtocol](https://github

[2015-08-25 22:28] 3y3 commented on #2546
/cc @auchenberg

[2015-08-25 22:30] kzc commented on #2423
malloc, free, v8 memory, GCing - it's all quite recursively intertwined.  It's hard measure one in isolation because each affect all of them.

Might it be possible to reduce GC by recycling the IO SlowBuffers with their already malloc()ed memory?

[2015-08-25 22:32] kzc commented on #2423
Not exactly sure why, but would v8 have any other choice when allocating 64K * 1e7 in a tight JS loop?

[2015-08-25 22:32] trevnorris commented on #2423
Here's the revised test script:
[code]
This allows a full turn of the event loop between each Buffer creation. Even so for allocating 64KB buffers run in 3060 ns/op and 5300 ns/op respectively.

[2015-08-25 22:40] ChALkeR commented on #2423
@trevnorris I think that you need a warmup there.

[2015-08-25 22:50] ChALkeR commented on #2423
@trevnorris What I'm talking about when I mention scavenges vs mark-sweeps is that if you insert an `if (cntr % 177 === 0) gc(true);` to your testcase, it starts running 15-30% faster.

_If it doesn't, you might have to decrease 177 to something lower, the point is to run a scavenge before v8 decides to run a mark-sweep._

[2015-08-25 22:51] ChALkeR commented on #2423
@kzc Try inserting `gc(true)` as I mentioned above.

[2015-08-25 22:53] trevnorris commented on #2546
@yury-s Thank you for the comprehensive response.

Our `process.nextTick()` emulates the micro task queue. This and our handling of timers would most likely require insertion.

While I understand, it's also unfortunate. Our main stable release is 6 month. Taking into account V8's rapid release cycle I will make the assumption that the same API could break before that is over. If we can't guarantee

[2015-08-25 22:57] yury-s commented on #2546
No. See my reply above.

As Paul Irish wrote above the project will come with all debugging features available in Chromium. Async call stacks is not an exception. There is a generic API resembling the one described in [this MSDN article](https://msdn.microsoft.com/library/dn449502(v=vs.94).aspx) which needs to be called from appropriate places where we'd like to capture async call stacks. I can he

[2015-08-25 22:58] rvagg commented on #2515
@trevnorris your call, including assessing whether this is even necessary, PR obviously even if cherry-picking.

[2015-08-25 23:00] ChALkeR commented on #2423
20x «concurrency» and a warmup:
[code]

This has up to 2x speedup with `gc(true)` enabled (`scavenges` set to `true`).

[2015-08-25 23:05] ChALkeR commented on #2148
#1741 should be linked here.

[2015-08-25 23:07] trevnorris commented on #2423
@ChALkeR The reason `SlowBuffer` is the more important metric is because that's how data packets are handled coming in from I/O. Those two use the exact same code path, except `SlowBuffer` must make a jump from JS to C++. Which only adds 30-50ns max.

[2015-08-25 23:12] kzc commented on #2423
@trevnorris - Even so for allocating 64KB buffers run in 3060 ns/op and 5300 ns/op respectively.

I see. Fair enough. Might it be possible to reduce GC by recycling the old IO SlowBuffers in their entirety with their already malloc()ed memory?

@ChALkeR - 2x speedup with gc(true) - very cool.

[2015-08-25 23:15] ChALkeR commented on #2423
Btw, the memory usage also drops about 2.5x times with `gc(true)` (using `SlowBuffers`):
[code]
Measured at the end, but it should be fine, as RSS doesn't generally go down.

[2015-08-25 23:17] trevnorris commented on #2423
@kzc

No. The `Object`'s are not persistent weak handles, so we are not notified when they are cleaned up. Instead we hand off the memory to the `ArrayBuffer` using `kInternalized` so V8 can clean up the object at its leisure.

[2015-08-25 23:18] ChALkeR commented on #2423
My point is that the default GC strategy is higly inefficient at least in these testcases, and it is taking at least half of the time to do things that aren't really needed here.

I am not yet sure how that affects real-world apps.

[2015-08-25 23:20] yury-s commented on #2546
How does this work with v8 at the moment? There may be 4 or 5 major v8 releases in 6 months which means there may be a lot of breaking changes. Assuming that v8-inspector is shipped as part of v8 and its API is defined in <v8>/include/v8-inspector.h (which would be ideal case for us long-term) how would that work with Node?

I hope so too.

[2015-08-26 00:09] thefourtheye commented on #2434
Since we select github username from drop down it makes sense to include it. But the length of the lines will be much more than 72 :'(

[2015-08-26 00:12] shigeki commented on #2514
We already have `test/parallel/test-tls-no-sslv23.js` and `test/parallel/test-tls-no-sslv3.js` that can check regressions. They are not included in joyent/node.

[2015-08-26 00:17] jasnell commented on #2434
Sounds reasonable, yes, but @thefourtheye does make a good point. Don't think it's avoidable tho

[2015-08-26 00:24] orangemocha commented on #2434
We already make exception to the 72 column rule for URLs. IMO that rule makes sense for the commit message body but is less important for the metadata.

[2015-08-26 00:46] kzc commented on #2423
@ChALkeR - your modification of @trevnorris' benchmark is really fascinating. You're really on to something here.

1,100,001 `new Buffer(64 * 1024)` calls in all cases, timings with/without `gc(true)`, and `concurrent` set to different values:

    concurrent = 20, gc(true) called:
      2.25user 0.01system 0:02.27elapsed 99%CPU (0avgtext+0avgdata 29,892maxresident)k
      0inputs+0outputs (0major

[2015-08-26 00:52] rvagg commented on #2522
@Fishrock123 I don't suppose you could handle that? You're probably in the best position to grok the delta between this release and everything else and maybe this should be about 0.10 & 0.12 -> v4. Additionally @mikeal probably building in some wording about the new LTS schedule would be worthwhile because v4 also represents a shift to a much more planned and predictable release schedule.

[2015-08-26 00:57] rvagg commented on #2113
@Fishrock123 put it on the 4.0.0 milestone if you feel strongly enough about it and think it _needs_ to be done

[2015-08-26 01:02] rvagg commented on #2416
waiting for feedback and signoff on https://github.com/nodejs/node/pull/2455, I'll remove the label though

[2015-08-26 01:02] jbergstroem commented on #2434
@orangemocha what about using the same naming convention as in README.md?

[2015-08-26 01:05] Fishrock123 commented on #2434
Please no. I already get enough notifications. I don't need more from commits being ported all around.

[2015-08-26 01:07] Fishrock123 commented on #2113
*something* needs to be done, I'm not sure if I should revert it or document it..

[2015-08-26 01:08] rvagg commented on #2507
I'd not be opposed to floating a patch on v8 for this when they drop support for 4.4 upstream because we're going to have to be supporting this version for some time and will be adding our own patches to it anyway. I don't see this as being a huge problem, at least initially, but perhaps as folks start using computed properties for newer versions of node and v4 LTS starts to get a bit old we could

[2015-08-26 01:11] kzc commented on #2423
Let me take that statement back - new Buffer(65336) is not used, after all.  An HTTP benchmark with 20 concurrent connections would better resemble a real world scenario.

[2015-08-26 01:14] Fishrock123 commented on #2507
I'm fine with just leaving a note about it I think.

[2015-08-26 01:17] mojodna commented on #2113
My preference (for whatever it's worth) would be to revert it, solely on the basis of round-tripping not working.

[2015-08-26 01:17] Fishrock123 commented on #2522
Yes, we'll need to advertise the release schedule with it since v5 is planned for oct when 4.0 goes into LTS.

[2015-08-26 01:34] Fishrock123 commented on #2113
The argument @isaacs made for it was that it is how chrome handles parsing, which is true.

This is also on 0.12, so there is that to consider.

[2015-08-26 01:44] orangemocha commented on #2434
@jbergstroem the premise is that it would be easier to find by username, and so we would put that first and sort alphabetically.

@Fishrock123 : that's a very good point :+1: Testing if that really happens... did you get a notification for https://github.com/orangemocha/node/commit/4d4de8e517ad46ee001b62022bae07a4504788ec ?

[2015-08-26 01:46] mzgol commented on #2507
@rvagg

Yup, that was my thinking. Floating patches are a pain but when upstream drops v8 4.4. support this will not be a floating patch. And while backporting patches is always risky, since [the patch](https://codereview.chromium.org/1307943007) is really a [one-liner](https://codereview.chromium.org/1307943007/diff/1/src/ast.cc), the risk should be much smaller and I'm sure many people would be

[2015-08-26 01:48] Fishrock123 commented on #2434
Yes I got a notification. I've had it be pretty annoying before.

[2015-08-26 01:56] orangemocha commented on #2434
Ok, agreed that's a no-go. What if we removed the @ symbol?

[code]

[2015-08-26 02:07] orangemocha commented on #2434
... which would be consistent with https://github.com/nodejs/node/pull/2322

[2015-08-26 02:24] rvagg commented on #2434
+1, alternatively `Reviewed-By: (github_username) FirstName LastName <email_address>`

[2015-08-26 02:28] thefourtheye commented on #2434
I am okay with including the github username (without `@` is also fine), because most of the times I can't associate actual names to the GH usernames and I know most of you guys by GH username only :laughing:

[2015-08-26 02:37] orangemocha commented on #2434
The ultimate bikeshedding tool : http://doodle.com/nf9tdwcxi7n6bfu6

[2015-08-26 02:50] jasnell commented on #2153
No reason to keep this open at this point but it's likely something that we're going to want to revisit.

[2015-08-26 02:50] #2153 closed

[2015-08-26 03:10] Trott commented on #2434
I voted for all the options, which is about the same as not voting at all. Except now I get to feel like MY VOICE HAS BEEN HEARD!!!!!

[2015-08-26 03:34] misterdjules commented on #2517
@rvagg I won't be able to work on this before the end of this week.

[2015-08-26 05:27] liuguoliang2003 opened #2552 "iojs Segmentation fault: 11"
iojs Segmentation fault: 11

[2015-08-26 06:21] trevnorris commented on #2546
Once a major release branch is cut from `master` the V8 minor is no longer updated on that branch.

From what I've read, it wouldn't. It doesn't make sense for us to integrate an API that will break so quickly. It's an added disadvantage since Google is insistent that no one have older versions of Chrome installed. If  we were allowed to do that then it might be possible to simply use the correspo

[2015-08-26 06:26] benjamingr commented on #2546
I think it is very important that the debugger ships with node as a standalone (rather than connected via `chrome://somename` for compatibility issues, I still want to be able to easily debug io.js 3.0 when Chrome gets 5 versions ahead. Something like an atom/electron wrapper over a specific version of Chromium would be ideal and it would also solve the compatibility issues.

I think it would also

[2015-08-26 06:29] benjamingr commented on #2543
Why not userland? What information about the server load isn't available to the userland and if it is not available - wouldn't it be better to expose it instead and let userland solutions evolve (at least first)?

[2015-08-26 06:52] isaacs commented on #2543
@benjamingr By definition, it's impossible for userland JS to know when V8 isn't busy doing anything, because when it's running userland JS, it's busy doing that.

You could sort of fake it with setTimeouts or by writing a C++ addon that uses the `v8::IdleTimeout` stuff, but it would be tricky to get exactly the same logic as in Chrome.

[2015-08-26 06:56] benjamingr commented on #2543
Well, if you schedule a macrotask (setTimeout) wouldn't it run after node is "no longer busy"?

How do we define idle? Idle in a UI setting is different from idle on a server. I definitely see the usages of "running low priority background work" in node - but what do we consider idle here?

[2015-08-26 07:06] auchenberg commented on #2546
This is great! Glad to see this is moving forward.

As I understand it, the debugger back-end is separate from the core via ``v8-inspector ``, and since it would implement the Chrome Remote Debugging Protocol over WebSocket and HTTP, the debugger back-end would be compatible with external front-ends like [Chrome DevTools App (based upon Electron)](https://github.com/auchenberg/chrome-devtools-app)

[2015-08-26 07:12] Qard commented on #2546
Yeah, the only way I see this working is shipping the UI as an electron app with each release, or ensuring backwards compatibility in the protocol long enough to support the LTS releases.

I think backwards compatibility for the dev tools should, in theory, be easier than V8 itself. It's only the protocol that is important here. I don't expect anyone should be touching the API outside of core, so

[2015-08-26 07:13] trevnorris commented on #2546
@yury-s Meant to ask, how much do you think the actual debugging API that connect client to process would change? If that itself doesn't change much, or can be fixed more easily over time, then we'd be much closer to having a workable solution.

[2015-08-26 07:19] targos commented on #2546
@benjamingr @Qard from the OP:

Doesn't it mean that one could use the latest Chrome and still be able to debug any version of Node.js using an old API ?

[2015-08-26 07:22] benjamingr commented on #2546
@targos I'd much prefer it if it was possible to run the debugger without accessing code served from the cloud live. Node would have no control over which versions are supported and how - nor would it be able to easily edit the code (unless node starts serving it). I think it would be preferable to have a standalone app.

[2015-08-26 07:28] trevnorris commented on #2546
Node isn't going to control what tools are used to communicate with the debugger API regardless. I'm not sure how some companies would feel about needing an internet connection to debug processes on their local network, but I'd say that sounds like a promising solution.

[2015-08-26 07:30] Qard commented on #2546
Yeah, not sure how I feel about a service out on the net somewhere having
direct access to the VM my code is running in. I'd definitely prefer the
standalone app.
On Aug 26, 2015 12:22 AM, "Benjamin Gruenbaum" <notifications@github.com>
wrote:

[2015-08-26 09:45] pmq20 commented on #2543
@isaacs What is `v8::IdleTimeout`?

[2015-08-26 10:01] pmq20 commented on #2543
@benjamingr I searched the code in vain for a ready-to-use definition of `idle`-ness. `libuv` has a `uv_idle_t` but it's not what we are looking for since:

Therefore I think we need to first extend `libuv` to provide an API that could register callbacks for when the loop is really "idle".

[2015-08-26 10:51] bnoordhuis commented on #2543
A browser's event loop works at discrete intervals so there is a useful definition of "idle": no more work for this quantum, next quantum hasn't started yet, remaining time is idle time.

Node's event loop however is continuous and it's only truly idle when it's waiting for timers to expire and nothing else.  As soon as there is any I/O involved, it can go from idle to busy at any time without war

[2015-08-26 11:03] pmq20 commented on #2543
@bnoordhuis I think there is one more idle situation on server, that is, when I/O is in progress, i.e. when the event loop polls for i/o but there are no pending callbacks yet.

[2015-08-26 12:08] joaocgreis opened #2554 "Investigate flaky test test-tls-no-sslv3"
Examples of failures:
- [`armv7-wheezy`](https://jenkins-iojs.nodesource.com/job/node-test-commit-arm/322/nodes=armv7-wheezy/tapTestReport/test.tap-739/)

[2015-08-26 12:08] joaocgreis opened #2555 "Investigate flaky test test-http-client-timeout-event"
Examples of failures:
- [`pi1-raspbian-wheezy`](https://jenkins-iojs.nodesource.com/job/node-test-commit-arm/322/nodes=pi1-raspbian-wheezy/tapTestReport/test.tap-319/)

[2015-08-26 12:10] joaocgreis opened #2557 "Investigate flaky test test-cluster-worker-forced-exit"
Examples of failures:
- [`armv7-wheezy`](https://jenkins-iojs.nodesource.com/job/node-test-commit-arm/280/nodes=armv7-wheezy/tapTestReport/test.tap-102/)

[2015-08-26 12:35] bnoordhuis commented on #2543
@pmq20 Waiting for I/O is not idleness in the "predictable quantum of time" definition from the W3C document.  Outside of the "timers only" scenario, node is very much like Chuck Norris in that it never sleeps, it just waits.

(Yes, I slipped a Chuck Norris joke in there.  I apologize for nothing.)

Tangential: the concept of idle callbacks has some relation with the idle GC feature that was remov

[2015-08-26 13:10] cjihrig commented on #2416
Closing since #2455 landed.

[2015-08-26 13:10] #2416 closed

[2015-08-26 13:46] rvagg opened #2560 "Node Foundation TSC Meeting 2015-08-26"
## Time

**UTC Wed 26-Aug-15 20:00**:

* San Francisco: Wed 26-Aug-15 13:00
* Amsterdam: Wed 26-Aug-15 22:00
* Moscow: Wed 26-Aug-15 23:00
* Sydney: Thu 25-Aug-15 06:00

Or in your local time:
* http://www.timeanddate.com/worldclock/fixedtime.html?msg=Node+Foundation+TSC+Meeting+2015-08-26&iso=20150826T20
* or http://www.wolframalpha.com/input/?i=8pm+UTC%2C+Aug+26%2C+2015+in+local+time

## Links

[2015-08-26 13:50] freak4pc opened #2561 "segfault with v3.1.0 and possibly --harmony-arrow-functions"
When trying to run the following
`iojs --harmony-arrow-functions dreamdate.js`

This issue isn't happening in io.js v2.5.0 , and also doesn't happen on io.js v3.0.
Starts from v3.1.0.

![screen shot 2015-08-26 at 4 49 53 pm](https://cloud.githubusercontent.com/assets/605076/9495112/7d9fa4ee-4c12-11e5-8240-9e6b917e34db.png)

[2015-08-26 13:59] mscdex commented on #2561
Can you produce a minimal, reproducible example? What platform is this on?

I just tried a simple script (with `--harmony-arrow-functions`) that used fat arrows on Linux and did not encounter this issue.

[2015-08-26 14:03] freak4pc commented on #2561
It seems to work fine here as well with a smaller sample,
So I guess it's not directly related to `--harmony-arrow-functions`

The following script works fine on 3.2.0 :
[code]

But specifically when running my server (which works fine on 2.5.0 as well as 3.0.0) , it crashes with a Segfault.

Is there any way to get more verbose output so I can give a better direction for this?

Thank you

[2015-08-26 14:12] silverwind commented on #2561
What OS is that? Try running it through either `gdb` or `lldb`, for example `lldb -- iojs file.js` and then `r`.

[2015-08-26 14:25] jkrems commented on #2546
Would the scope include things like `PageAgent.reload` to restart a node process from inside the devtools or the `NetworkAgent`/`ConsoleAgent`/...? If not, then there's definitely still a lot of value in node-inspector & friends.

[2015-08-26 14:33] Spy-Seth commented on #2546
This feature could also lead to use the Firefox devtools with node thought the [valence](https://github.com/mozilla/valence) project :+1: :+1: :+1:

[2015-08-26 14:47] orangemocha opened #2562 "Segmentation fault during addon tests build on ARM"
See the last few lines at https://jenkins-iojs.nodesource.com/job/node-test-commit-arm/326/nodes=armv7-wheezy/console

[code]

This failure seems unrelated to the changes in the test run, and it did not appear in other tries.

/cc @bnoordhuis @nodejs/build

[2015-08-26 15:42] silverwind commented on #2562
Maybe related: https://github.com/nodejs/node/issues/2561

Can someone check this in `gdb` on that machine?

[2015-08-26 15:43] Trott opened #2563 "child_process: stdout/stderr flaky on CentOS 5"
This is currently (but hopefully not for long--I have a PR to fix it) the contents of `test/parallel/test-process-argv-0.js`:

[code]

From time to time on CentOS 5 only, `stderr` and `stdout` from the child process stop working after the first line is written to `stderr`.

See, for example [this centos5-32 test result](https://jenkins-iojs.nodesource.com/job/node-test-commit-linux/207/nodes=cento

[2015-08-26 16:07] yury-s commented on #2546
@trevnorris :

This one is stable. For basic debugging support it is as simple as this:

[code]

See https://github.com/yury-s/v8-inspector/blob/embedded-in-io/Source/v8inspector/V8Inspector.h#L33 and https://github.com/yury-s/v8-inspector/blob/embedded-in-io/Source/core/inspector/InspectorFrontendChannel.h

The messages are strings that are opaque to Node, all parsing and dispatching of the proto

[2015-08-26 16:11] Trott commented on #2477
Fixed in 972a57cb20ae7e9794e61d505ae334cb1e2b45a6

[2015-08-26 16:11] #2477 closed

[2015-08-26 16:12] yury-s commented on #2546
@benjamingr :

The front-end code can be deployed in a different manner, e.g. it could be provided as a .deb package. I just described how it is implemented in Chrome at the moment and it has been working pretty well for providing zero-conf Android debugging experience across all platforms. Being able to see Node instances as another type of inspectable target in chrome:inspect looks natural to me

[2015-08-26 17:03] yury-s commented on #2546
@jkrems :

At the moment it includes Debugger, Runtime, Profiler and HeapProfiler agents which make sense for all v8 embedders. Console could be added to the list later. On the other hand, PageAgent doesn't make much sense for Node so we'd rather keep it in Blink. If we need "reload" functionality, the method could be moved to e.g. to Runtime domain or Node can have its own domain "Node" providing

[2015-08-26 17:29] yury-s commented on #2546
@auchenberg :

Correct. Other front-ends should be able to connect using the same transport. Note though that we don't want to commit to backward compatibility of the whole protocol. It would be up to the front-end authors to make sure that their front-end is compatible with given back-end. We only promise to provide compatible version of DevTools front-end.

Note that this version only relates to

[2015-08-26 17:35] yunong commented on #2546
This looks great. I'd love to be able to get the ability to walk the JS objects on the heap that is currently provided by mdb and v8.so https://www.joyent.com/blog/debugging-enhancements-in-node-0-12

Specifically, to be able to walk an object reference all the way back to the root object would be incredibly helpful in debugging memory leaks.

e.g. given a particular object's address, find referen

[2015-08-26 18:09] trevnorris commented on #2546
Summary points:

- While the integration API is unstable, that doesn't matter much. What needs a certain amount of stability is the debugger protocol. It seems the debugger/profiler API have stabilized for the most part, but are still prone to breakage. How this will be handled over the course of an LTS needs to be solidified.
- The protocol requires web sockets. Does this mean node will have to n

[2015-08-26 18:11] domenic commented on #2560
Do we think https://github.com/nodejs/node/issues/2546 is worth TSC discussion yet or still need some time on-thread to bake?

[2015-08-26 18:13] trevnorris commented on #2560
@domenic I think there are a couple points of interest for discussion that will be the same in the future. Specifically needing to fully support web sockets, and the API changes that will be necessary.

[2015-08-26 18:15] jasnell commented on #2560
@domenic ... It's definitely worthy of attention, but I'd be happy to let the conversation stew a bit more before bringing it up to the TSC.

[2015-08-26 18:21] chrisdickinson commented on #2560
Sending my apologies today.

[2015-08-26 19:13] mscdex commented on #2563
Shouldn't the test be listening for `close` instead of `exit` to ensure that all output is received?

[2015-08-26 19:24] jasnell commented on #2560
I'm going to have to send my regrets for today also. On the way to pick up
a sick kid from school.
On Aug 26, 2015 11:21 AM, "Chris Dickinson" <notifications@github.com>
wrote:

[2015-08-26 19:33] domenic commented on #2560
Hmm my regrets as well, I have a conflicting meeting... sorry to miss this, sounds like it's going to be an interesting one with the v4 release planning and such.

[2015-08-26 19:53] ChALkeR commented on #2561
See #1655 just in case.

[2015-08-26 20:30] Trott commented on #2468
On the CentOS and Ubuntu failures, it seems likely that the issue (or maybe just *an* issue?) is that they are not configured for IPv6?

[2015-08-26 20:45] mikeal commented on #2525
A few notes: fully formed and functional working groups are autonomous, so the most we can do is suggest a name change to those working groups.

However, many of the language communities are inactive and we should be able to transition them to a new name. My suggestion would be:

* Use "nodejs-", we discussed some alternatives like "community-" but I think this is better and has parity with what w

[2015-08-26 20:53] orangemocha commented on #2522
This PR is also on the 4.0 milestone:
https://github.com/nodejs/node/pull/2424

[2015-08-26 21:06] mscdex commented on #2546
Is it possible to expose enough bits to make it transport-agnostic? This would allow core to avoid having to bundle a particular module for this to work.

[2015-08-26 21:24] nigampatel commented on #2522
+1

[2015-08-26 21:52] Trott commented on #2563
If I'm understanding you (@mscdex) correctly, you're saying that there's no guarantee that `exit` on the child process will fire *after* the `data` events on the stdio streams? And when it doesn't, this test blows up? That this issue is (was) a bug in the old test code and not in node?

And if so, do you feel confident about that and closing this issue is in order? Or would you prefer someone else

[2015-08-26 21:57] mscdex commented on #2563
`exit` can definitely fire before all output from a child process is received. `close` was added a long time ago to combat this. I think the commit you pushed to fix this effectively does the same thing though, it's just that the assertion will happen a little bit later than the child process's `close` event.

So yes, my guess is that changing `exit` to `close` would have fixed the test and it was

[2015-08-26 22:29] Trott commented on #2563
Awesome. Closing because this isn't a bug in node.

[2015-08-26 22:29] #2563 closed

[2015-08-26 22:32] yury-s commented on #2546
See second item in the "Open questions" section above and [this comment](https://github.com/nodejs/node/issues/2546#issuecomment-134760072) above. There is a clear separation between v8-inspector and the transport provider. In the prototype [remote_debugging_server.js](https://github.com/yury-s/io.js/blob/remote-debugger/lib/remote_debugging_server.js#L45) requires three methods on node_debugger:

[2015-08-26 22:50] silverwind commented on #2492
I wonder if something like this should live in `tls` or `crypto`. @indutny any feedback?

[2015-08-26 23:00] yury-s commented on #2546
@trevnorris :

While the debugger/profiler protocol may have been stable for a while there is still a chance that we'll need to make some breaking changes to it to move the project forward. We tried to keep stable subset of the protocol and it proved to be hard. We don't want to go that route if possible. Why do you think that we need stability of the remote debugging protocol with the proposed so

[2015-08-26 23:36] jbergstroem opened #2567 "test failures on smartos while running in parallel"
We consistently get [failed tests](https://jenkins-iojs.nodesource.com/job/node-test-commit-other/nodes=smartos14-64/245/tapTestReport/) while running the test suite in parallel on smartos which confuses me, this `spawnSync` test for instance now takes 8 seconds to exit `sleep 1`:
[code]

The above test run generated 12 issues where I can consistently reproduce 8. All of them seem timing related.

[2015-08-26 23:50] jbergstroem commented on #1967
Just revisited this, looks like we're still experiencing this. Issues while objdump:ing?

[2015-08-27 00:49] rvagg commented on #2468
could be, on DO you have to be in the right datacenter to get IPv6 and these might not be

[2015-08-27 01:10] indutny commented on #2492
It should be `crypto` for sure. Can't it be done in binary addons?

It feels like we are trying to workaround problems with C++ addons by moving everything into the core. I don't like this tendency.

cc @bnoordhuis

[2015-08-27 01:59] JacksonTian commented on #2546
Hope to see an improved debugger.

[2015-08-27 02:22] Fishrock123 commented on #2327
This is now more or less done. See https://github.com/nodejs/node/issues/2522 for updated info about 4.x.

We may still need to document the release cycle somewhere more.

[2015-08-27 02:22] #2327 closed

[2015-08-27 02:25] Fishrock123 commented on #2116
Original question was answered, and the rest of us are not too sure about having it in the readme. Closing unless we really need to keep it open.

[2015-08-27 02:25] #2116 closed

[2015-08-27 02:26] Fishrock123 commented on #1969
This was done at some point. Closing.

[2015-08-27 02:26] #1969 closed

[2015-08-27 02:38] Trott commented on #2567
Your general comments certainly stand, but on specifically that `spawnSync` test:  It doesn't do that timer/sleep stuff quite like that anymore. This change happened yesterday in https://github.com/nodejs/node/commit/fffa4c25280bfeef6276fd7040f8c7286cfdbc43 specifically because that test was flaky. See https://github.com/nodejs/node/issues/2470 and https://github.com/nodejs/node/pull/2535.

That s

[2015-08-27 03:14] Trott commented on #1100
The `closingOnPurpose` is really puzzling. It was added in commit b319264d. In that commit, this file is the only place in the entire code base where the string `closingOnPurpose` appears. And on current master, that is still the case. So, yeah, if that even fires, the test bombs, no matter what. Which seems to be what's happening here.

I realize it was more than two years ago when that commit ha

[2015-08-27 03:40] Fishrock123 commented on #1100
I can't even find it by searching the codebase at or around the original commit's time. I suspect it is leftover debug code. Let's remove it.

[2015-08-27 04:25] Trott commented on #1100
But if we yank it, does that mean the event should always throw and error or it should just be removed because it should never throw an error?

I'm inclined to try to find the right place in the code to set that property, actually. Like, "if we're here, we are trying to close this socket, so no error". But maybe there isn't one and you're right. So... ¯\_(ツ)_/¯

[2015-08-27 04:48] brendanashworth commented on #1100
Yeah, let's ditch it, it should always throw. I wouldn't set a property in the code because it appeared in a test without any comment / commit log (*grunt*).

[2015-08-27 05:06] trevnorris commented on #2546
@yury-s

If we still have access to the debugging console that can interpret the incoming JSON, that should be enough. This would actually be preferred. So the UI developers had been using doesn't change over the lifetime of the release. To solidify what has been mentioned earlier, will we be able to use, and have access to, the older debugging consoles for older APIs?

[2015-08-27 06:10] thefourtheye commented on #1543
Hope #2206 fixed it. Closing for now.

[2015-08-27 06:10] #1543 closed

[2015-08-27 06:33] jbergstroem commented on #2567
@Trott you're right, here's a run against latest master on smartos-32-1:
[code]

[2015-08-27 06:54] Trott commented on #2567
Perhaps the 8 `EADDRINUSE` errors mean that a test that runs early on is failing but not cleaning up after itself and keeping `common.PORT` blocked on `localhost`? So maybe fixing one test will also fix 8 other tests?

[2015-08-27 07:51] yjhjstz opened #2573 "process.uptime() not correct when adjust time"
Now , `iojs` use relative time to compute `uptime`[1], but when call `settimeofday` to change time,
`process.time()` isn't correct. So, my PR #2572 is to slove this, using time that refer to the kernel boot time.
That's always ok at most platforms.

refer [1]: https://en.wikipedia.org/wiki/Uptime

[2015-08-27 08:37] bnoordhuis commented on #2573
`process.time` is a typo of `process.uptime`?

On what platform are you seeing this?  I'm not sure I understand, libuv uses monotonic clocks - i.e. clocks that are unaffected by `settimeofday` - whenever possible.

[2015-08-27 08:42] yjhjstz commented on #2573
jsfunction process.time() implemented in `static void Uptime(const FunctionCallbackInfo<Value>& args)`
[code]
`uv_now()` can be affected by `settimeofday`, so I use `uv_uptime()`.
@bnoordhuis

[2015-08-27 09:02] bnoordhuis commented on #2573
There is no `process.time()` but I understand that you mean `process.uptime()`.  I ask because there is also `process.hrtime()` which does something else.

Can you explain how?  Like I said, libuv uses monotonic clocks (think `clock_gettime(CLOCK_MONOTONIC)`) on most platforms.  You should never see the uptime jump backwards, although it is possible for a monotonic clock to slow down in the presen

[2015-08-27 09:22] yjhjstz commented on #2573
in netbsd,
[code]
I want to know, why `uv_uptime` not use `clock_gettime `?

[2015-08-27 10:54] saper opened #2576 "Provide C++ ABI version to addons"
Some platforms (most notably FreeBSD, MacOSX) use gcc or clang interchangeably. We no longer support compiler identification (https://github.com/nodejs/node/pull/205), but what is needed for addons is know know which C++ library node has been compiled against.

At node-sass (https://github.com/sass/node-sass/blob/043c56705c663977468551206556d7f3c75ef9c1/src/libsass.gyp#L68) we were using `--stdlib

[2015-08-27 12:15] Kimura1 opened #2577 "New node (integrated io.js and node.js) will keeping rapid release like io.js?"
I like io.js, because it support new V8.
The integration make me afraid that new node.js will be cannot rapid release like joyent/node.
I hope that node does not back to joyent/node by this integration.

Please support latest V8 immediately.

[2015-08-27 12:22] StefanScherer opened #2578 "npm install and other http requests fail with getaddrinfo ENOENT in a Windows Docker container"
I try to run io.js 3.2.0 inside a Windows Docker container within the Windows 2016 Technical Preview 3.
I encounter problems running `npm install` inside such a container (for a Windows version of the [iojs:onbuild Dockerfile](https://github.com/StefanScherer/dockerfiles-windows/blob/master/iojs/3.2/onbuild/Dockerfile)) and now I've reduced the problem to a simpler test code.

An `http.get()` (or

[2015-08-27 12:26] StefanScherer commented on #2578
Some more details to build the `iojs` and `iojs:onbuild` Docker Containers for Windows can be found [in this small blog post](https://stefanscherer.github.io/create-an-io-js-container-image-for-windows/).

[2015-08-27 12:39] ChALkeR commented on #2578
Try this:
[code]

[2015-08-27 12:42] StefanScherer commented on #2578
Thanks @ChALkeR!

Yes, this indeed fails:

[code]

[2015-08-27 12:47] ChALkeR commented on #2578
Thanks for confirming.

`http` calls `net.connect`, and that's how it resolves an address here: [lib/net.js#L907-L989](https://github.com/nodejs/node/blob/v3.2.0/lib/net.js#L942-L962).

[2015-08-27 12:53] StefanScherer commented on #2578
Thanks for the pointer.

Changing the `hints` to `0` it works:

[code]

[2015-08-27 12:55] ChALkeR commented on #2578
So, if I got it right. `dns.lookup(addr, callback)` works, but `dns.lookup(addr, {family: undefined, hints: dns.ADDRCONFIG | dns.V4MAPPED}, callback)` doesn't.

Could you please check the following:
 1. `dns.lookup(addr, {hints: dns.ADDRCONFIG | dns.V4MAPPED}, callback)`
 2. `dns.lookup(addr, {hints: dns.ADDRCONFIG}, callback)`
 3. `dns.lookup(addr, {hints: dns.V4MAPPED}, callback)`
 4. `dns.looku

[2015-08-27 13:02] StefanScherer commented on #2578
OK, all combinations.

My test code `dns3.js`:

[code]

running this in the Windows container show this:

[code]

Seems that the `dns.ADDRCONFIG` causes the trouble.

[2015-08-27 13:14] ChALkeR commented on #2578
Thanks. Looks like `dns.ADDRCONFIG` makes dns lookup queries fail on your system.

Still, according to your `ipconfig /all`, your system has an non-loopback IPv4 address, so the lookup shouldn't ignore IPv4 results (see [api docs](https://iojs.org/api/dns.html#dns_supported_getaddrinfo_flags) and [msdn]( https://msdn.microsoft.com/en-us/library/windows/desktop/ms738520(v=vs.85).aspx#AI_ADDRCONFIG)

[2015-08-27 13:30] StefanScherer commented on #2578
I originally tried to run `npm install` or other 3rd party node apps/modules inside the Windows container.

The `npm install` ends up with an error:

[code]

So I think I should ask someone of the Microsoft team that is currently porting Docker on Windows.

[2015-08-27 13:34] ChALkeR commented on #2578
@StefanScherer I updated my previous comment, please re-read it =).

If that fails, this is most likely a Windows/Docker related problem, If it succeeds (which I doubt), then further investigation is needed on the io.js/node side.

[2015-08-27 14:12] StefanScherer commented on #2578
@ChALkeR thanks so far to get to the underlying problem. I try to build a simple Windows C application based on the example code in the [msdn](https://msdn.microsoft.com/en-us/library/windows/desktop/ms738520(v=vs.85).aspx#AI_ADDRCONFIG) reference.

[2015-08-27 14:30] bmeck commented on #2577
It is a little sparse on information, but the LTS working group ( https://github.com/nodejs/LTS ) is ensuring every year will have a LTS release. These are going to be the most stable for production use, however there will be many more releases, with major releases every 6 months. It is a bit easier to read from : https://twitter.com/rvagg/status/635605780780093440

[2015-08-27 14:34] Fishrock123 commented on #2577
We'll try our best in the `master` branch (development branch), where we'll have peiodic releases from prior to releasing a new major version, so probably like a `6.0.0-next.x` with a new V8 every 6 weeks or so (like v8's release schedule) untill 6 months pass and we cut a 6.0.0 as "stable". Then the same thing will continue with 7.0.0, etc.

@Kimura1 does that work for you? Just note it may not b

[2015-08-27 14:36] Fishrock123 commented on #2577
Oh and the stable branch will have weekly patch or minor releases for it's 6 month lifespan (before LTS, if it is an LTS one), but stable won't be upgrading V8 once it is cut for a number of stability reasons.

[2015-08-27 14:45] Kimura1 commented on #2577
updating v8 be a major version up?

2015-08-27 23:36 GMT+09:00 Jeremiah Senkpiel <notifications@github.com>:

[2015-08-27 14:48] Fishrock123 commented on #2577
Yes, for the "stable" branches. It already is for io.js.

The "next/dev" branch (`master`) *will* be "stable" enough to use however. API changes will still be considered carefully and only complete commits will land onto it. However, it will not support native add-ons. (Latest V8 always + native addons is not something that is maintainable)

[2015-08-27 14:53] orangemocha commented on #2434
Thanks for sharing your opinion on the poll. Option 1 won by a tight margin, so I am implementing that. The poll is now closed.

[code]

[2015-08-27 14:57] mattdesl commented on #2546
Another approach worth mentioning is leveraging Electron to launch a DevTools window with node integration. See [hihat](https://github.com/Jam3/hihat#node) for an example. It has its own limitations, but doesn't involve remote debugging and provides a couple benefits over `node-inspector` (e.g. a more complete DevTools UX).

Having better debugging built-in to Node would be amazing, though. :smile

[2015-08-27 15:09] Fishrock123 commented on #2138
@rvagg any idea if this has improved at all?

[2015-08-27 15:13] Fishrock123 commented on #1463
@indutny is this still a thing?

[2015-08-27 15:13] diversario opened #2579 "Sending SIGUSR1 to node v0.12.7 process stops it"
I was trying to attach `node-inspector` to a running process and saw something odd – having a group of active processes, each using 10-20% CPU, sending `kill -s SIGUSR1 <pid>` makes that particular process go to 0% CPU, memory usage would not change either.

I was able to debug v0.10 processes successfully using the same technique.

This is happening on a CentOS 6 (kernel 2.6.32-504.el6.x86_64), n

[2015-08-27 15:14] Fishrock123 commented on #1263
Please see https://github.com/nodejs/node-gyp/issues/701

[2015-08-27 15:14] #1263 closed

[2015-08-27 15:16] Fishrock123 commented on #877
Any status on this?

[2015-08-27 15:17] StefanScherer commented on #2578
@ChALkeR as you expected the problem can be reproduced with a simple C application.
I've compiled a static Windows binary with AppVeyor from this public repo: https://github.com/StefanScherer/win-getaddrinfo, the binary is attached as GitHub release.

Running this static binary inside the Windows Container works with hints.ai_flags = 0, but fails with hints.ai_flags = AI_ADDRCONFIG:

[code]

So I'

[2015-08-27 15:20] ChALkeR commented on #2578
@StefanScherer, https://github.com/nodejs/node/issues/2578#issuecomment-135422694:

Monkey-patching dns.lookup or dns.ADDRCONFIG or even net.Socket.prototype.connect could also work as a temporary workaround, but I wouldn't recommend doing that.

I doubt that any hacks that are related to Windows 2016 bugs will land to node/io.js until that Windows version is released and is shown to be affected.

[2015-08-27 15:22] Fishrock123 commented on #751
This won't be an issue in the converged 4.0.0 release. Since it's impractical to address in io.js (1.0.0> <4.0.0), I'm going to close this.

[2015-08-27 15:22] #751 closed

[2015-08-27 15:23] Fishrock123 commented on #734
Done in 8f58fb92fff904a6ca58fd0df9ee5a1816e5b84e

[2015-08-27 15:23] #734 closed

[2015-08-27 15:23] bnoordhuis commented on #2576
I think what you're asking for is not the ABI version (that's basically the name mangling scheme, controlled by `-fabi-version=`) but a flag that tells you what stdlib the node binary is linked against?

I don't think we can help you there.  Node doesn't really know, it doesn't use `-stdlib=` (which is clang-only AFAIK), and what's more, users can always override the actual library at run-time.

[2015-08-27 15:27] Fishrock123 commented on #560
See https://github.com/nodejs/node/issues/751#issuecomment-135467439

[2015-08-27 15:27] #560 closed

[2015-08-27 15:47] bnoordhuis commented on #954
Fixed by f337595.

[2015-08-27 15:52] isaacs commented on #2543
@bnoordhuis That's a good point.

Doing GC at those times turned out to be a bad idea, I do recall.

I'd just as soon tell people to do "long-running work" using child procs (or web workers on browsers).  It makes more sense on browsers, since you do have some kinds of work that must block the same thread as UI (updating the dom, etc) and doing that when idle is less likely to impact the user.

If

[2015-08-27 16:07] isaacs opened #2581 "Assertion Failure"
Seeing this new thing in the node-tap tests:

      Assertion failed: ((static_cast<size_t>(off - 1)) <= (sizeof(arrow) - 1)),
      function AppendExceptionLine, file ../src/node.cc, line 1404.

[2015-08-27 16:08] evanlucas commented on #2581
I just started seeing that this morning also :/

[2015-08-27 16:21] bnoordhuis commented on #2573
I don't know the exact reason.  Someone (@shigeki?) contributed that code a long time ago.

[2015-08-27 16:22] Fishrock123 commented on #2581
What version? `master`?

[2015-08-27 16:23] mikeal commented on #2153
@domenic can you invite me to the next TC39 meeting please :)

[2015-08-27 16:23] evanlucas commented on #2581
3.2.0 for me

[2015-08-27 16:25] isaacs commented on #2581
@Fishrock123 3.2.0

Looks like this happens when it tries to pretty-print a thrown error in some cases.

[2015-08-27 16:35] evanlucas commented on #2581
I can reproduce with `./node -pe 'JSON.parse(\'{"name":"asdfasdfasdfsadfasdf,fasfsafd,asdfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffasdfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffasdfasdfkjasdl;fkjal;skdjfl;aksdjflkasjdfl;kajsdlf;kjasldkfjal;sdkjf;lasdjfl;kasjfdl;kajsdf;lsajld;fkjasl;dfjal;sdfkjl;sff

[2015-08-27 16:45] isaacs commented on #2581
Reduced case: https://gist.github.com/isaacs/832dbcf3e9e22574989d

[2015-08-27 17:05] diversario commented on #2579
Ok, follow up.

I was trying to debug remotely so I had to forward one port by setting up an SSH tunnel. As it turned out, `node-inspector` (which I was using) needs two ports open on the target machine, one for HTTP and another one for websockets. Setting up a second tunnel for the WS port made `node-inspector` work and, once it connected to the stalled process, the process resumed.

[2015-08-27 17:13] domenic commented on #2153
@mikeal will email you with details!

[2015-08-27 17:58] Fishrock123 commented on #1239
[This commit](https://github.com/nodejs/node/commit/41b75ca9263f368db790fbdcc3963bb1a8c5cb7e) is the origin of the changed behavior, investigating.

[2015-08-27 18:01] Fishrock123 commented on #1239
Hmm, does

  that holds a reference to them quits. Previously, they were only
  closed at cluster shutdown.

Sound like this issue?

[2015-08-27 18:37] Fishrock123 commented on #2577
@Kimura1 closing this, Let us know if you have any more questions. :)

[2015-08-27 18:37] #2577 closed

[2015-08-27 18:39] Fishrock123 commented on #1239
cc @bnoordhuis since he wrote that commit.

[2015-08-27 18:39] indutny commented on #1463
I don't think so.

[2015-08-27 18:39] #1463 closed

[2015-08-27 18:55] yury-s commented on #2546
@trevnorris

This is exactly the what should happen if I understand correctly what you mean. Let's assume that v8 stable branch used in Chrome 44 was created from v8 v.4.4.63 and that Blink used in Chrome 44 was branched from 195420. Let's also assume that DevTools backend implementation in Blink is based on revision 1024 of v8-inspector. As long as Node is compiled with v8-inspector r1024 the use

[2015-08-27 19:29] yury-s commented on #2546
There are already other debugging solutions for Node. The main question I'd like to answer after this discussion is to whether it would make sense to invest into extracting base debugger/profiler implementation from DevTools into v8-inspector. The benefit of the single source debugger is that it would make DevTools features available to other embedders and would allow them to use all power of the

[2015-08-27 19:32] bnoordhuis commented on #1239
A documentation issue, perhaps.  The change itself is intentional.

That's not a design goal of the cluster module and never has been.

[2015-08-27 19:55] mscdex commented on #2581
PR incoming

[2015-08-27 20:01] skomski commented on #2581
Opened a PR for this 11 days ago: https://github.com/nodejs/node/pull/2404

[2015-08-27 20:55] diversario commented on #2579
Probably a non-issue.

[2015-08-27 20:55] #2579 closed

[2015-08-27 21:56] trevnorris commented on #2546
We'll discuss this in the next TSC meeting. About whether we'll commit to bringing it into core or not.

[2015-08-27 22:17] bnoordhuis commented on #954
Reverted in de88255, reopening.

[2015-08-27 22:21] matthewp opened #2585 "instanceof incorrect 0.12.7 on Windows 7"
Need some help pairing this down to a good test, but in the readable-stream module there is a Duplex constructor which calls a Writable constructor [here](https://github.com/nodejs/readable-stream/blob/b6810590821e2082d5b79e3e0d08d3d090ebc353/lib/_stream_duplex.js#L47) and Writable checks that `this instanceof Duplex` [here](https://github.com/nodejs/readable-stream/blob/master/lib/_stream_writabl

[2015-08-27 22:22] matthewp commented on #2585
This problem doesn't happen on other OSes I have tested (OSX and Debian)

[2015-08-27 23:23] jbergstroem commented on #2567
`test/fixtures/clustered-server/app.js` seems to be running in parallel which probably shouldn't happen.

[2015-08-27 23:37] Fishrock123 commented on #2585
@matthewp we'll really need a reduced test-case to be able to test...

[2015-08-27 23:41] mscdex commented on #2573
All of the BSDs use the same `uv_uptime()` implementation in libuv. `process.uptime()` uses a monotonic clock via `uv_hrtime()` whereas `require('os').uptime()` uses `uv_uptime()`. So are you referring to `os.uptime()` instead of `process.uptime()`?

[2015-08-28 00:38] silverwind commented on #2578
Agree with @ChALkeR, `AI_ADDRCONFIG` is probably there for good reasons. As a workaround til the OS bug is fixed, you can probably just disable IPv6 and it'll work.

[2015-08-28 00:57] shigeki commented on #2573
I forgot the detail when I submitted netBSD patch in 3 years ago. Probably I referred FreeBSD implementation of `uv_uptime()`.

I guess it comes from an old implementation of  `uptime(1)` in FreeBSD and it was changed and has been using `clock_gettime` since 2005 as in https://github.com/freebsd/freebsd/commit/74d3ddeb3259da19ebc6183d77ed2e47ac50eae1. We can change it in libuv now.

[2015-08-28 01:15] yjhjstz commented on #2573
I think , we  can update libuv implementation. And I was wondering why `os.uptime()` implementation is different from `process.uptime()` .

[2015-08-28 02:57] diversario commented on #2385
I'm working on updating the documentation but first I want clarify the behavior of `throws`/`doesNotThrow`. The current code (with the PR) throws an `AssertionError` in some cases but in three out of five cases. The other two are in the last `if` statement:

[code]
and this simply rethrows the error from the block. That seems inconsistent and counter-intuitive as I, at least, would've expected `as

[2015-08-28 05:09] Kimura1 opened #2590 "[This is question] New node.js will provide the binary of master (develop) branch?"
I like edge feature.
However, building node from source is troublesome.
Will node provide the binary of master branch like nightly build?

[2015-08-28 05:29] rvagg commented on #2590
@Kimura1 yes, we will be providing nightlies and producing some kind of "canary" build off master but exactly what that looks like hasn't been decided yet. At a minimum, nightlies will be available for testing but you'll have to wait for that to start happening.

[2015-08-28 05:29] #2590 closed

[2015-08-28 06:06] rvagg commented on #2138
I think we've had a minor improvement via some recent changes, still too slow and it's doing so much more on arm than x86.

[2015-08-28 08:03] bajtos commented on #2546
From my point of view as a Node Inspector maintainer, this would be awesome. So far, we were playing a catch-me-up game, trying to keep in sync with the upstream changes made in DevTools UI and the protocol. We were loosing, simply because Node Inspector is a side project and our manpower cannot match speed of the Blink team of several dedicated developers.

I also think it's a waste of everybody'

[2015-08-28 08:36] ChALkeR commented on #2578
Closing the issue for now, this looks like a bug in Windows 2016 Technical Preview 3.
If the usage of `AI_ADDRCONFIG` will affect a released version of Windows — post a comment here, this will be reopened.

[2015-08-28 08:37] #2578 closed

[2015-08-28 10:14] joaocgreis commented on #2520
Landed in c6a54d09642ffe7fcf2c467a6e4ef95d86d2d3fa.

[2015-08-28 10:14] #2520 closed

[2015-08-28 12:47] targos commented on #2471
I got another error with the same test:

[code]

https://jenkins-iojs.nodesource.com/job/node-test-commit-arm/374/nodes=armv7-wheezy/tapTestReport/test.tap-676/

[2015-08-28 13:26] Volox commented on #1296
The flag is there but is either not working or i am doing something wrong.

**file.js**
[code]

Running `node --harmony_destructuring file.js` produces:

[code]

[2015-08-28 13:54] bohdan7 opened #2597 "Object initializer for complex object( object inside object)"
Hi every one. I found next problem:
[code]

is equal to:
[code]
on the other hand this construction:
[code]
work fine:
[code]
I didn't find any descriptions for complex object  in specification.
Can I initialize objects like in first example or this is a bug ?

[2015-08-28 13:59] bohdan7 commented on #2597
also I verified this in babel and chrome 44 and this example:
[code]

works as expected:

[code]

so this is definitely bug.
io.js version  3.0.0
OS centos 7

[2015-08-28 14:00] rvagg commented on #2507
Going to reopen this to catch issues that will inevitably be files about this.

[2015-08-28 14:01] rvagg commented on #2597
That nested case is weird, however, this is essentially a dupe of https://github.com/nodejs/node/issues/2507 and is not something we can address while V8 4.4 is still being maintained upstream. It _may_ be fixed by patching V8 later but that's still to be decided. I suggest you just don't use this feature with versions of Node / io.js that are shipping with V8 4.4.

[2015-08-28 14:01] #2597 closed

[2015-08-28 14:12] bohdan7 commented on #2597
OK) thank a lot for quick response)

[2015-08-28 14:16] orangemocha opened #2598 "ACTION REQUIRED: workflow change for merging changes to nodejs/node"
Based on previous discussion, feedback, and the approval by the TSC (https://github.com/nodejs/node/issues/2434), we are adopting a new workflow for merging pull request in nodejs/node, and making any changes to the code branches at nodejs/node in general. The new workflow needs to be adopted by all @nodejs/collaborators for all changes to be merged to nodejs/node, starting this coming **Monday at

[2015-08-28 14:18] orangemocha commented on #2434
All changes are in place and the workflow has been documented in the wiki. The target time for switching is this coming Monday. I made the announcement in a separate issue (https://github.com/nodejs/node/issues/2598), so I am closing this one now.

[2015-08-28 14:18] #2434 closed

[2015-08-28 14:19] mzgol commented on #2507
It seems V8 might get the patch backported [even to v4.5](https://code.google.com/p/v8/issues/detail?id=4387#c18) even though Chrome 45 should be coming within the next 2 weeks; this indicates that the V8 team either treats this problem as serious or the patch as very safe. Most likely the only reason it's not getting backported to 4.4 upstream is that it will be EOL'd on the V8 side soon.

[2015-08-28 14:28] ofrobots commented on #2507
The V8 team would like to 'bake' this change a bit in canary before it gets back-ported to stable. It is likely that V8 4.4 will be EOL'd by that time, but it should be easy to float this fix on Node v4.

[2015-08-28 14:32] Fishrock123 commented on #1296
These flags are very experimental. there is a good chance it doesn't fully work yet.

[2015-08-28 14:37] Fishrock123 commented on #2507
:+1:

[2015-08-28 14:40] Fishrock123 commented on #2598
:+1:

[2015-08-28 14:40] silverwind commented on #2598
Do these merges retain the committer line of the commit?

[2015-08-28 14:42] Fishrock123 commented on #2598
I was told they will, and they need to for us to use it.

[2015-08-28 14:42] orangemocha commented on #2598
Yes, the information is taken from your full name and email address as set in Jenkins. I will update the wiki to reflect that.

[2015-08-28 14:43] ChALkeR commented on #2598
What about documentation-only changes? I believe we don't yet have documentation-related tests, do we?

[2015-08-28 14:44] orangemocha commented on #2598
To ensure you committer info is set correctly, go to https://jenkins-iojs.nodesource.com/, login, click on your username on the top-right, then on the left click on 'Configure'. Double-check 'Full Name' and 'E-mail address'.

[2015-08-28 14:46] orangemocha commented on #2598
Use node-accept-pull-request, and you can set NODES_SUBSET to `pure_docs_changes` to skip the tests. If we'll ever invent a way to test documentation, those tests will run as part of that configuration :smile:

[2015-08-28 14:48] ChALkeR commented on #2598
Doesn't work for me. I am logged in and there is nothing like «Build with parameters». Can I have a screenshot?

[2015-08-28 14:50] orangemocha commented on #2598
![image](https://cloud.githubusercontent.com/assets/1625870/9549161/e6227238-4da4-11e5-9dda-7d1913b62dac.png)

[2015-08-28 14:51] ChALkeR commented on #2598
No, it's definitely not there.

[2015-08-28 14:51] orangemocha commented on #2598
@ChALkeR did you go to https://jenkins-iojs.nodesource.com/job/node-accept-pull-request/ first ?

[2015-08-28 14:51] ChALkeR commented on #2598
@orangemocha Yes.

[2015-08-28 14:53] Fishrock123 commented on #2598
<img width="743" alt="screen shot 2015-08-28 at 10 52 21 am" src="https://cloud.githubusercontent.com/assets/1093990/9549224/ee6e9a20-4d72-11e5-993d-357be48290f3.png">

Weren't we going to have dropdowns or something for names? If not that's ok.

[2015-08-28 14:56] Fishrock123 commented on #2598
@orangemocha also, it still points to the joyent org, not to nodejs. :)

[2015-08-28 14:57] orangemocha commented on #2598
@Fishrock123 there are dropdowns, in node-accept-pull-request. Maybe you are looking at node-merge-commit?

![image](https://cloud.githubusercontent.com/assets/1625870/9549343/d1d56d34-4da5-11e5-9c46-ed6c5bdd4684.png)

[2015-08-28 14:58] orangemocha commented on #2598
@Fishrock123 I will update the defaults from joyent/node in the 2-hour windows between the [move of the joyent/node repo](https://github.com/joyent/node/issues/25876) and this workflow change :smile:

[2015-08-28 15:00] orangemocha commented on #2598
@ChALkeR : do you see "Build with Parameters" for other jobs, like [node-test-pull-request](https://jenkins-iojs.nodesource.com/job/node-test-pull-request/) ?

[2015-08-28 15:02] Fishrock123 commented on #2598
@orangemocha oops, you're right. :)

[2015-08-28 15:09] silverwind commented on #2598
The steps required for small corrections like modifying the commit message or squashing commits seem unwieldly. I feel like this is taking quite a bit flexibilty away. How about introducing an alternative CLI-only workflow like this:

- Pull commits to local repo
- Rebase and modify the commits
- Push changes to a special CI branch which kicks off the tests and if it's green, it gets commited with

[2015-08-28 15:26] orangemocha commented on #2598
@ChALkeR : if you are still having problems with the missing "Build with Parameters", I would suggest trying the following in order:

1. Try a different browser.
2. We can create another account in Jenkins for you.

[2015-08-28 15:29] matthewp commented on #2585
This is a bug in my own code that is deleting Duplex from the require cache, causing it to be reloaded and the instanceof check failing. Sorry!

[2015-08-28 15:29] #2585 closed

[2015-08-28 15:32] orangemocha commented on #2598
Having said that.. are the steps for modifying the commit message or squashing commits really more complicated under this workflow? For doing that, you'd still have to pull the changes locally and make your edits (I simply described a possible procedure in the wiki), and finally push a branch to GitHub (which in the pre-Jenkins way could be the final branch). The only additional steps are now a) f

[2015-08-28 15:35] Fishrock123 commented on #2598
@orangemocha so just to be clear, I can already use this for nodejs/node, right now?

[2015-08-28 15:46] orangemocha commented on #2598
@Fishrock123 : technically yes, but if anybody lands another pull request manually in the middle of your run, it will break it.

[2015-08-28 15:47] Fishrock123 commented on #2598
But nothing fatal that another run can't fix?

[2015-08-28 15:52] silverwind commented on #2598
@orangemocha I'm a bit confused. Do you still have to start off `node-accept-pull-request` when doing `node-merge-commit` as described [here](https://github.com/nodejs/node/wiki/Merging-pull-requests-with-Jenkins#workflow-for-making-changes-to-other-peoples-pull-request-before-merging)?

What I like to see is an alternative entry point to `node-merge-commit` through a simple git push. From what I

[2015-08-28 15:57] Fishrock123 commented on #2397
https://github.com/nodejs/node/pull/2596#issuecomment-135813658

Closing, the error here denotes a bug in user code. There is no way to get the resulting data otherwise, and it is a no-op.

[2015-08-28 15:57] #2397 closed

[2015-08-28 16:01] orangemocha commented on #2598
@Fishrock123 : correct. You can try it if you want.

[2015-08-28 16:46] jorangreef opened #2600 "fs.utimes does not change birthtime on Windows"
On OS X, utimes can be used to set birthtime but this is a no-op on Windows, since libuv's fs code for Windows just sets NULL for Creation Time in the SetFileTime call.

The real issue is that there is no proper way to set the birthtime on Windows or OS X or on Linux systems which support it.

Would it be okay to add something like fs.utimes2(path, btime, atime, mtime, callback)?

[2015-08-28 16:52] sxa555 opened #2601 ""Small" ICU build on big endian platforms fails"
If you build with --with-intl=small-icu (the default for the "make binary" target) then the icutrim command fails on big-endian platforms:
[code]
@srl295  I'll aim to submit a PR with the patch we've used for this previously on our PPC repositories

[2015-08-28 17:24] StefanScherer commented on #2578
@silverwind I'll try that, thanks!

[2015-08-28 17:43] Fishrock123 commented on #2598
@orangemocha https://jenkins-iojs.nodesource.com/job/node-test-commit-arm/380/ I think the Pi1s aren't depending on the other task correctly?

[2015-08-28 18:05] Fishrock123 commented on #2518
I think @mikeal said we'd also need pre 0.10.0 info?

[2015-08-28 18:05] bnoordhuis commented on #2600
Perhaps I'm misunderstanding something but the utimes and futimes system calls don't let you alter the birth and change times, only the access and modification times.

I believe OS X will let you change the creation time (but not birth time) through the OS X-specific setattrlist system call.  I'm not sure if it's implemented for anything besides HFS.

On Linux, you would have to resort to file sys

[2015-08-28 18:30] Nieralyte opened #2603 "Allow inspecting inherited properties of an object with util.inspect"
Example:

[code]

I guess, dealing with intricate circular references is going to be a problem. There's already a package for flattening a prototype chain: http://npmjs.com/package/flatten-prototypes but it chokes on complicated cyclic references sometimes, and ignores hidden (non-enumerable) properties.

I've found out that Lodash.js also has `_.toPlainObject` utility which flattens prototype cha

[2015-08-28 18:48] jasnell commented on #2598
It's going to take some getting used to and a whole lot of patience. Landing individual commits takes a bit longer, especially when you're stacked up several high in the queue. I launched node-accept-pull-request a couple of hours ago to land a doc fix in v0.12 and it's still pending in the queue, largely because of the rasp pi builds bogging down.

[2015-08-28 18:49] orangemocha commented on #2598
Right, the runs for each job (like node-test-commit-arm) wait each other so that Jenkins can publish the test delta between runs. I am going into fixing that asap.

[2015-08-28 18:51] orangemocha commented on #2598
@silverwind : no, sorry for the confusion. You only have to launch node-merge-commit when you want to do edits locally. And you are right, it doesn't have the dropdowns. That should be easy to fix.

[2015-08-28 19:57] jhamhader commented on #2485
Might be a bit confusing but seems like there is no real issue here.
Thanks for the detailed clarification @chrisdickinson

[2015-08-28 20:10] hit9 opened #2604 "Dgram reuseAddr not working with cluster"
Hi, it seems that `reuseAddr` is not working well with cluster module, when we bind dgram socket in
a worker process. The following case runs well, I could run this program for two or more instances without an EADDRINUSE error, this is the except behavior.

[code]
But this EADDRINUSE error occurred when the socket was created and bound in a cluster worker:

[code]

Tested with node 0.12.2 and iojs

[2015-08-28 23:43] mscdex commented on #2604
I just tried that code on master on Linux and it works for me.

[2015-08-29 00:09] Fishrock123 opened #2607 "Release proposal: v3.3.0"
The regular weekly-ish

* [[`1a531b4e44`](https://github.com/nodejs/io.js/commit/1a531b4e44)] - **(SEMVER-MINOR)** **build**: Introduce --link-module to ./configure (Bradley Meck) [nodejs/node#2497](https://github.com/nodejs/node/pull/2497)
* [[`34de90194b`](https://github.com/nodejs/io.js/commit/34de90194b)] - **build**: only define NODE_V8_OPTIONS if not empty (Evan Lucas) [nodejs/node#2532](htt

[2015-08-29 00:09] Fishrock123 commented on #2607
Isn't actually semver-minor.

[2015-08-29 00:26] brendanashworth commented on #1931
I figure we can close this for now, we'll reopen if we see another failure.

[2015-08-29 00:26] #1931 closed

[2015-08-29 00:34] Fishrock123 commented on #1239
A docs fix has been landed in 4c5fc3b1d4f1091135b5340c220d28ab4258a1df, thanks for reporting this!

[2015-08-29 00:34] #1239 closed

[2015-08-29 00:35] rvagg commented on #2607
Here's the current diff to `master`, the first two are in https://github.com/nodejs/node/pull/2608 waiting for review.

* [[`c6a54d0964`](https://github.com/nodejs/io.js/commit/c6a54d0964)] - **win,msi**: correct installation path registry keys (João Reis) [nodejs/node#2565](https://github.com/nodejs/node/pull/2565)
* [[`4cfe5eb9af`](https://github.com/nodejs/io.js/commit/4cfe5eb9af)] - **win,msi*

[2015-08-29 00:52] rvagg commented on #2518
yes, probably a good idea, the patterns using for tagging & branching probably aren't as straight forward as for 0.10 and 0.12 where the practices were very consistent

[2015-08-29 03:39] Trott commented on #1100
https://github.com/nodejs/node/pull/2609 should fix this test. I still need to submit an issue for the bug itself, but this test can be written and still test all the same stuff without tripping up on this bug.

[2015-08-29 04:11] hit9 commented on #2604
@mscdex Have you run two or more instance the same time?

[2015-08-29 04:12] Trott opened #2610 "intermittent unexpected socket closure on Mac OS X"
Ref: https://github.com/nodejs/node/issues/1100
Ref: https://github.com/joyent/node/issues/16805

The following code will throw on OS X. It might take a while but it will happen. I usually see the error before runcount hits 2000.

[code]

[2015-08-29 04:15] Trott commented on #1100
https://github.com/nodejs/node/issue/2610 opened with slightly more minimal test code to trip the bug that caused the issue here.

[2015-08-29 05:08] mscdex commented on #2604
I see what you mean now. I have a fix incoming...

[2015-08-29 06:39] hit9 commented on #2604
Thanks @mscdex , and I have some questions:

1. Is `reuseAddr` the `SO_REUSEADDR` or `SO_REUSEPORT` in nodejs?
2. If I start 2 udp server instances which share the same port (reuseAddr is `true`), how is the data handled? Will linux dispatches data to the 2 processes via round-robin ?

Thanks a lot.

[2015-08-29 07:05] mscdex commented on #2604
@hit9

1. Yes.
2. UDP packet distribution is left up to the OS.

[2015-08-29 07:30] hit9 commented on #2604
1. Both them will be set if reuseAdd is true ?
2. It seems that data will always be sent to the instance which bind the port first. Maybe the OS shards packets by data's incoming address.. I just wonder if the option `reuseAddr` can be used as a way of load balancing. It seems that nodejs just bind only 1 udp socket on cluster mode,  the socket can be too busy when incoming data stream is very fas

[2015-08-29 07:31] silverwind commented on #2598
Another idea that came to mind is a test-only change. In that case, we don't need to run the full test suite and it would suffice to just run the changed tests on all platforms without even rebuilding.

Also, to be clear: Can we still manually merge if we already know the CI is passing through a `node-test-pull-request` run?

[2015-08-29 07:48] mscdex commented on #2604
1. No, either one or the other, depending on the operating system. Currently `SO_REUSEPORT` is used on non-Linux systems that support it, otherwise `SO_REUSEADDR` is used for those systems that support it.
2. I believe I read somewhere once that Linux uses a hash with [srcIP, srcPort, dstIP, dstPort] as the key, but I could be wrong on that (for UDP anyway). However that could easily be different

[2015-08-29 08:11] hit9 commented on #2604
Thanks.

1. I just found the following code in libuv (https://github.com/libuv/libuv/blob/v1.x/src/unix/udp.c#L253):
[code]

   That means that the `REUSEPORT` is currently disabled on Linux...

2. The cluster is actually serving the only one socket, isn't it ? It's different with tcp, where epoll works well with multiple client sockets,  the udp server talks to clients on only one socket, that ma

[2015-08-29 08:16] jorangreef commented on #2600
Thanks Ben, I didn't know OS X had a separate concept of creation time and birthtime. What is the difference between them?

I think on OS X (and possibly on Linux file systems which already support birthtime), utimes can change the btime if the provided mtime argument is less than the current btime. But one can't use that to set btime properly if the btime is greater than the mtime (which may be t

[2015-08-29 09:43] hit9 commented on #2604
@mscdex

[2015-08-29 11:09] bnoordhuis commented on #2600
Argh, can't believe I made that typo.  I meant to write change time, not creation time.  I retract that comment though; I just checked the XNU sources and it lets you change both birth time and change time.

(To confuse things more, XNU internally calls it create time, not birth time.)

The tool itself calls FSSetCatalogInfo() (which is deprecated as of 10.8) from CoreServices but I think that end

[2015-08-29 13:28] orangemocha commented on #2598
@silverwind : that's a good idea. I'll add it to the list of improvements. Though right now I am still working out some more critical issues, like the duration of the arm build and the serialization of builds as seen in https://github.com/nodejs/build/issues/165.

Unfortunately, not. A manual merge would interfere with the current run of node-accept-pull-request.

[2015-08-29 15:13] trevnorris commented on #2598
I'm a bit concerned about having multiple PRs queued for rebase.

What if a PR I'm submitting has a conflict with one already in the queue? Seems like wasted effort to have it just fail on me then need to fix it manually and submit it again. Or worse, if it succeeds but then a test fails as a result.

Also not comfortable having code rebased then landed without human eyes on it. On more than a few

[2015-08-29 18:01] silverwind commented on #1737
Fixed in https://github.com/nodejs/node/commit/83c2c3b67607e6dc268e24ff390bf8a2344d1ec1

[2015-08-29 18:01] #1737 closed

[2015-08-29 18:10] orangemocha commented on #2598
@trevnorris I agree it would be better to have human review of all rebases, but I am not sure if the current process is any better. I bet that when people rebase before merging manually, they don't review the results of the rebase 100% of the time. And more importantly, they don't go and test it again on all platforms. This new system does at least test the rebase on all platforms and merges only

[2015-08-29 18:17] orangemocha commented on #2598
The ARM build was supposed to be faster since we parallelized it, but it actually got slower for some ccache-related side effects. Right now, it is unacceptably slow to support the automated merge thing, so unless we manage to sort it all out this weekend, we are probably going have to postpone this transition of a few days. I'll send an update by Monday. We are working on doing cross-compilation

[2015-08-29 19:28] trevnorris commented on #2598
So what happens if a newly submitted patch fails because of one queued?

Your assessment of collaborators never rerunning the tests is off. Or at least should be off, and if not then we have some better collaborator training to do.

At minimum if a rebase touches the same subsystem then tests should be run again. Even if a patch applies cleanly and has been through CI, I still run all tests locall

[2015-08-29 20:08] orangemocha commented on #2598
It doesn't get merged. Humans will then have to investigate the issue.

[2015-08-29 20:17] orangemocha commented on #2598
Well even with all the best intentions and training, people can make mistakes and/or underestimate the relationship between two patches. We support a lot of platforms and it's not easy for everyone to anticipate what effect the combination of two seemingly unrelated changes will have on all platforms, especially the ones that are not their primary expertise. There is a non-zero chance that this wi

[2015-08-29 22:15] Fishrock123 commented on #2607
Oh and I forgot to say: probably monday/tuesday.

[2015-08-29 23:24] mscdex commented on #2604
1. Right, but `SO_REUSEADDR` would be used on Linux.
2. I dunno, I haven't really worked with the `cluster` module at all before this. You might create an issue as a feature request if there is new functionality that you would like to see and is doable.

[2015-08-30 07:23] trevnorris commented on #2598
Is there a notification system for when a submitted patch lands? Otherwise I'll need to check the repo on occasion to see if my submitted patch has landed, or failed, so I can then close the corresponding PR.

[2015-08-30 07:39] #2560 closed

[2015-08-30 07:43] indutny commented on #2598
I'm not exactly happy about this too, if it matters

[2015-08-30 07:44] rvagg commented on #2515
ping @trevnorris, are we close here?

[2015-08-30 07:45] rvagg commented on #760
ping @bnoordhuis do we have docs for this yet?

[2015-08-30 07:46] #2519 closed

[2015-08-30 07:46] rvagg commented on #2517
any chance of getting it done in the next few days @misterdjules?

[2015-08-30 07:47] rvagg commented on #2113
@nodejs/tsc we need a position on this, it's been tagged for 4.0.0 but the current trajectory suggests it's not going to get in and we'll be stuck with current behaviour into LTS.

[2015-08-30 07:50] rvagg commented on #2522
I've created a new `v4.x` branch and moved `master` on to `5.0.0`—don't take that as permission to land crazy stuff like V8 upgrades that haven't gone gold yet, but it can be used to land breaking changes that aren't slated for v4 now. We'll cherry-pick to `v4.x` like we are for `v3.x` not but with a focus on stability for release.

[2015-08-30 07:51] rvagg commented on #2598
FYI I messed up the `ccache` setup on the Raspberry Pi's and they've been doing raw compiles. I'm re-priming the cache now with some new builds so they _should_ speed up, sadly this test has been hitting the slowest possible path for build on those machines even though the test portion has been parallelised.

[2015-08-30 11:34] rvagg commented on #2518
just pushed all the other tags from `v0.0.x` onward, including the odd versions

also pushed the release branches, which is just:

[code]

I'm guessing that it was TJ that introduced the release branching which is why it only goes back that far.

[2015-08-30 13:13] silverwind opened #2617 ".exe builds not manifested"
The .exe builds at https://iojs.org/download/release/latest/win-x86/ seem to not be manifested and in turn do not benefit from https://github.com/nodejs/node/pull/2332. On Window 10, `os.release()` reports `6.2.9200` which is the default for [unmanifested builds](https://msdn.microsoft.com/en-us/library/windows/desktop/ms724451%28v=vs.85%29.aspx). The binaries provided by installer are reporting t

[2015-08-30 13:40] fundon opened #2618 "Question: what's behavior of this in vm?"
Example:

[code]

I want the `count` equal to `3`, but result is `count = 2`.

How to do that?

[2015-08-30 15:09] jzaefferer opened #2619 "API Docs: Cross-reference methods"
For example, [fs.unlinkSync](https://nodejs.org/api/fs.html#fs_fs_unlinksync_path) says "Asynchronous unlink(2)", but that "unlink(2)" reference is just plain text. It should reference `fs.unlink`, which in turn should have actual documentation, instead of assuming the reader knows what "unlink(2)" actually means. Or if there is a good POSIX or whatever page that can be referenced, it should do so

[2015-08-30 15:21] fundon commented on #2618
Could someone explain that?

[2015-08-30 17:36] mscdex commented on #2618
The reason is that the `greet()` function is being executed within the scope it was created in, so `this` is actually pointing to the global scope of the parent script (the one executing `script.runInNewContext()`). You can verify that `greet()` is leaking a global variable by adding `console.dir(count)` after `script.runInNewContext()` and you will see `NaN` displayed because initially there is n

[2015-08-30 18:01] trevnorris commented on #2113
Just jumping in because of the tsc mention. IMO whichever opinion is the path of least surprise. Meaning, whatever more closely aligns with browser functionality.

[2015-08-30 18:02] silverwind commented on #2617
Wild guess, but could it be because the [msbuild](https://github.com/nodejs/node/blob/42a8a0a53e86376c63c46125896e3086cc6764d4/vcbuild.bat#L176) task (which presumably builds the exe files) is missing a few switches compared to the [msibuild](https://github.com/nodejs/node/blob/42a8a0a53e86376c63c46125896e3086cc6764d4/vcbuild.bat#L200)?

[2015-08-30 22:57] Fishrock123 commented on #2113
For posterity, what we now do is what chrome does.

[2015-08-31 02:43] yoshuawuyts commented on #2561
Not sure if related, but found an issue where `0.12.x` gives an `ECONNREFUSED` error, `3.2.x` segfaults. Can create a separate issue if not related.

__img__
<img width="564" alt="screen shot 2015-08-31 at 12 40 41" src="https://cloud.githubusercontent.com/assets/2467194/9571226/b900b91e-4fdd-11e5-9724-0882b33d6a9b.png">

__txt__
[code]

[2015-08-31 02:43] Fishrock123 commented on #2518
@rvagg is this done then?

[2015-08-31 02:49] Fishrock123 commented on #2561
@yoshuawuyts can you open a new issue?

Also, can both of you use either lldb or gb, or mdb to get a thorough breakdown of what is happening in the segfault? Feel free to ask if you need more info, setting this stuff up isn't particularly trivial.

[2015-08-31 02:51] yoshuawuyts opened #2621 "ECONNREFUSED on startup segfaults on 3.3.0"
_originally posted here https://github.com/nodejs/node/issues/2561#issuecomment-136238383_

Found an issue where `0.12.x` gives an `ECONNREFUSED` error, `3.2.0` segfaults.

__img__
<img width="564" alt="screen shot 2015-08-31 at 12 40 41" src="https://cloud.githubusercontent.com/assets/2467194/9571226/b900b91e-4fdd-11e5-9724-0882b33d6a9b.png">

__txt__
[code]

[2015-08-31 02:52] yoshuawuyts commented on #2561
@Fishrock123 I'm willing to run that, but could you point me in the right direction on how to set that up? Thanks!

[2015-08-31 02:52] Fishrock123 commented on #2619
Probably better asked at https://github.com/nodejs/docs

(and yes it would be good to explain posix linkings and link to a general set of posix docs) :)

Fwiw `unlink(2)` refers to the documentation found in the command `man 2 unlink`.

[2015-08-31 02:57] yoshuawuyts commented on #2621
In order to start the app properly `pgsql` must be running. The issue here is that `node@3` segfaults instead of giving a meaningful error.

[2015-08-31 02:57] rvagg commented on #2518
I _think_ so but would appreciate sign-off from others

[2015-08-31 02:59] yoshuawuyts commented on #2621
Hm, apparently it also fails even if `pgsql` is running. Might be due to binaries compiled on `0.12` not working on `3.3`.

[2015-08-31 03:06] Fishrock123 commented on #2561
Been a while since I did it. @thlorenz has a guide here for lldb on OS X: https://gist.github.com/thlorenz/30bf0a3f67b1d97b2945 (Not sure if it is up-to-date, when I did it I didn't patch lldb and it worked?)

[2015-08-31 03:46] fundon commented on #2618
@mscdex thanks, very carefully.

But if we have many functions, I don't want to use `bind` operation for every time.

Likes:

`Cat.js`
[code]

`miao.js`
[code]

[2015-08-31 03:46] mscdex commented on #2621
Yes, you'll need to re-compile any addons if you switch between any of node 0.10, node 0.12, or any major io.js version (1.x, 2.x, 3.x).

[2015-08-31 03:55] yoshuawuyts commented on #2621
@mscdex yeah, I figured. Think this issue is best closed (can't think of an easy fix), but I do think that it'd be nice to think of a better way to signal to a user _why_ the code segfaulted.

Perhaps a stack trace of some sorts? Though I'm not sure that's possible, I assume it'd be implemented already if it was.

Maybe a way to check if the deps that are being run were compiled with a certain nod

[2015-08-31 03:55] #2621 closed

[2015-08-31 07:40] trevnorris commented on #2113
Misspoke in my last post. We have been attempting to bring the URL parser to match the specification (https://url.spec.whatwg.org), and Chrome simply aligns to that.

Since it always returns an encoded string you can likewise always decode the return value. I believe this is fairly standard among all browser implementations.

[2015-08-31 08:21] targos commented on #2113
there is one difference between our implementation and Chrome though:

io.js v3.2.0
[code]

Chrome
[code]

[2015-08-31 08:41] saghul commented on #2573
FWIW, this landed in libuv, thanks @yjhjstz!

[2015-08-31 10:11] orangemocha commented on #2518
@rvagg did you push tags as well with `--follow-tags`?

[2015-08-31 10:17] nsb opened #2624 "Nodenv not able to download iojs"
There seems to be a problem in nodeenv because iojs blocked downloading with the nodenv browser signature.

[2015-08-31 10:18] Samreay commented on #180
Has there been any movement on WebWorkers in io.js - any available implementations that work properly?

[2015-08-31 10:19] JannKleen commented on #2624
This is the related nodeenv issue: https://github.com/ekalinin/nodeenv/issues/125

[2015-08-31 10:35] orangemocha commented on #2598
Not at the moment, but I'll work on adding that ASAP. Will start with an email notification to the committer. We can also have Jenkins comment on the PR, and optionally close it and resolve the associated issue.

[2015-08-31 10:44] rvagg commented on #2624
I've commented on the original issue, I'm suspecting the lack of a custom `User-Agent` making it look like unwanted bot traffic

[2015-08-31 10:45] rvagg commented on #2518
no, I would if I could understand what the man page is trying to say that the option does, mind taking over on this if you don't think it's done properly?

[2015-08-31 10:47] orangemocha commented on #2598
@indutny: if you elaborate your concerns I’d be happy to try and address them. It most likely won’t happen before the transition though… given the short time left. FYI, there was some previous discussion and feedback within the build WG and the TSC (this was on the meeting agenda a couple of weeks ago), and most feedback was taken into account.
Please feel welcome to send your concerns, suggestion

[2015-08-31 10:49] orangemocha commented on #2598
@nodejs/collaborators , given that the ARM build is now back to normal (thanks @rvagg!), we can make the transition as planned today at 2pm UTC. http://www.timeanddate.com/worldclock/fixedtime.html?msg=Start+merging+changes+to+nodejs%2Fnode+with+Jenkins&iso=20150831T14&p1=1440

[2015-08-31 10:50] orangemocha commented on #2518
It's supposed to push tags, but only the tags that are reachable from the heads that you are pushing. It doesn't look as if your script was pushing tags.

Sure, I can redo this today as part of the move of joyent/node.

[2015-08-31 10:53] orangemocha commented on #2617
cc @joaocgreis , who I know was working on a fix.

[2015-08-31 12:18] cjihrig commented on #2618
I haven't tested with `vm`, but `this` inside `Cat` should always reference the cat object.

[2015-08-31 12:29] ekalinin commented on #2624
Seems, fixed. Thanks for help.

[2015-08-31 12:31] #2624 closed

[2015-08-31 12:42] orangemocha commented on #2518
all done now

[2015-08-31 12:42] #2518 closed

[2015-08-31 13:04] Fishrock123 commented on #2113
Ummmm. Huh. I don't know enough about the URL specs to understand.

[2015-08-31 13:11] rvagg commented on #2113
We have to make a call on this asap, I'm inclined to leave it as it is and just make sure it's listed in the breaking changes. The `hash` encoding is an interesting one. I can understand why browsers don't encode it (there's really no need to if you're not sending it to a server), but does it make any more sense in Node? If nothing gets done in the next couple of days then this is going to be bake

[2015-08-31 13:13] jasnell commented on #2113
At this point I'd rather us not make a major change this close to cutting
the release. It does need to be resolved but leaving it as is for v4.x
seems to be the best option.
On Aug 31, 2015 6:11 AM, "Rod Vagg" <notifications@github.com> wrote:

[2015-08-31 13:43] Dharmoslap commented on #2552
how did you solved this?

[2015-08-31 14:00] orangemocha commented on #2598
@nodejs/collaborators

Reminder: this is in effect as of NOW. Please refrain from pushing changes manually to nodejs/node and instead use the workflow described at https://github.com/nodejs/node/wiki/Merging-pull-requests-with-Jenkins.

For any problems/questions/feedback, please file issues at https://github.com/nodejs/build, mentioning @jenkins-admin and myself.

[2015-08-31 14:05] Dharmoslap commented on #2552
I have a same error even in 3.1.0, so I had to downgrade to 3.0.0. Running on Darwin.

[2015-08-31 14:09] yjhjstz commented on #2552
has stack trace or coredump ?

[2015-08-31 14:10] Fishrock123 opened #2627 "test-child-process-buffering.js failed on armv7-wheezy"
Failed on a daily master run. This looks new. Something with streams?

https://ci.nodejs.org/job/node-test-commit-arm/392/nodes=armv7-wheezy/tapTestReport/test.tap-16/

hasn't failed for the last 2 days.

[2015-08-31 14:31] Fishrock123 commented on #2552
Perhaps this is related to #2561?

[2015-08-31 14:36] Fishrock123 commented on #2552
@liuguoliang2003 @Dharmoslap @yjhjstz

What's your applications doing? Are you using TLS? What settings if so?

[2015-08-31 14:37] Fishrock123 commented on #2552
Of course, a smaller test case, or lldb / gdb stack trace would be best.

Also, what OS is this happening on?

[2015-08-31 14:41] Fishrock123 commented on #2561
@freak4pc Could you let us know what OS you're seeing this on at least? :)

[2015-08-31 14:47] Dharmoslap commented on #2552
OS X 10.9.5

[2015-08-31 14:50] Dharmoslap commented on #2552
Happens to me anytime I run gulp v3.9.0.

[2015-08-31 15:12] Fishrock123 commented on #2552
@Dharmoslap Hmmm, I can't seem to reproduce on 10.10.5. Any other info about what gulp stuff you are running?

[2015-08-31 15:16] Fishrock123 commented on #2607
Blocked by https://github.com/nodejs/node/pull/2625 and https://github.com/nodejs/node/pull/2623

[2015-08-31 16:53] vkurchatkin commented on #1693
There is a similar problem with parsing:

[code]

`curl -H "X-Test: Тест" http://localhost:3000/?тест`

On node 0.10:

[code]

On io.js 3.2:

[code]

This is a seems like a major regression and I can't think of a proper workaround.

[2015-08-31 17:09] bzalasky commented on #2552
I'm hitting this when I attempt to start a webpack-dev-server on OSX 10.9.5 running iojs v3.2.0. Downgrading back to v3.0.0 fixes the issue for me. There's nothing crazy about my webpack setup, and the only common thread I saw with one of @Dharmoslap's recent commits is that we're both using Babel.

[2015-08-31 18:05] wwannemacher opened #2628 "memory leak in lib/_http_incoming.js"
Using the following code:
[code]
To demonstrate the problem, I have another script that pushes a random line of data to stdout and a third script that accepts these posts and throws the data away. I can provide those scripts as well, if necessary.

What I have observed from heapsnapshots (which can also be provided if necessary), is that the string of data that is posted is held in memory. Within

[2015-08-31 18:26] Fishrock123 commented on #2114
Duplicate of https://github.com/nodejs/node/issues/1693. See also: https://github.com/nodejs/node/pull/2629

[2015-08-31 18:32] vkurchatkin commented on #2114
I wouldn't say it's duplicate. There are two problems with UTF8: parsing and writing, and they seem unrelated.

[2015-08-31 21:21] mscdex commented on #2628
Are you intentionally not ending the request?

[2015-08-31 22:19] justinmchase opened #2630 "Crashing during GC in 3.2.0"
I'm still investigating but I did a build of iojs so I can get a callstack and here is where it's crashing:
[code]

My app has native components and is dealing with Buffer's. It was running fine before 3.0 so this may be a new bug. Its 100% reproducible if someone wants details on that.

[2015-08-31 22:23] Fishrock123 commented on #2630
cc @trevnorris

[2015-08-31 22:44] misterdjules commented on #2517
@rvagg Probably not, since mdb support seems to have been removed completely in nodejs master. I'm starting to take a look at it now though, and I'll keep this issue updated.

[2015-08-31 22:57] Cinderella-Man opened #2631 "[3.2.0] Potential memory leak"
Recently I was stress testing my API and discovered that even very simple net server has a memory leaks. Is it possible that there's something wrong with it?

Server code:
[code]

Testing client bash script:
[code]

Starting iojs server(3.2.0):
[code]

After 10k calls server memory consumption increased from 21 to 45.5MB. Is that scripts' fault?

[2015-08-31 23:11] rvagg commented on #2517
@misterdjules OK, we'll punt on v4.0.x but we have roughly one month before LTS gets locked so if we can get it in for a `semver-minor` before then that'd be great.

[2015-08-31 23:14] silverwind commented on #2628
Assuming this is v3.2.0, could you also try v2.5.0?

[2015-08-31 23:18] trevnorris commented on #2630
@justinmchase Are you using `node::Buffer::New()` and passing a callback? If so can I see that code? If not, well, I'd still like to see all your call sites. :)

If your app is open source then please point me that way with a way to reproduce the issue and I'll look into it.

[2015-08-31 23:22] Fishrock123 commented on #2517
Rescheduling for 5.0.0 due date (when 4.0.0 will go into LTS)

[2015-08-31 23:23] Fishrock123 commented on #2631
@Cinderella-Man Does this also happen with io.js 2.5.0?

[2015-08-31 23:40] trevnorris commented on #2113
@targos Good point on the JS API. Looks to be the same in Firefox as well.

Anyone know of any API's that accept a URL are automatically encoded? I'm pretty sure they're aren't. If that's the case it does seem inconsistent to only encode the URL with this API.

[2015-09-01 00:03] joaocgreis commented on #2471
I ran this test repeatedly on Linux locally (Ubuntu 14.04). It failed 3 times out of 1188 runs (0.25%). It seems that this test is flaky at least on all Linux platforms (likely with a much higher failure rate in armv7).

[2015-09-01 00:16] mscdex commented on #2631
Draining the socket with a simple `socket.resume();` at the end of the socket connection handler results in this instead:

[code]

[2015-09-01 00:44] mscdex commented on #2631
From what I'm seeing, the server process stabilizes at ~59-60MB, even if you keep restarting the client bash script.

The stabilized memory amount can be improved a little bit (~2MB total on average) by draining the socket buffers sooner by adding `socket.resume();` at the end of the socket connection handler.

[2015-09-01 01:01] mscdex commented on #2631
With io.js v2.5.0 I'm seeing roughly the same memory differences, except the rss has dropped uniformly for all scenarios by ~1MB.

[2015-09-01 01:14] rvagg commented on #2631
the new Buffer implementation makes rss much more unstable over longer runs now than it used to, thanks to something in `ArrayBuffer`, zoom out to 2d or 7d and look at the bottom graph: http://128.199.216.28:3000/dashboard/db/memory-tests

[2015-09-01 04:05] Fishrock123 commented on #2618
Closing. Feel free to follow up here, or ask more questions.

[2015-09-01 04:05] #2618 closed

[2015-09-01 04:06] Fishrock123 commented on #2380
I think this was answered? Closing.

[2015-09-01 04:07] justinmchase commented on #2630
@trevnorris Thank you Trevor :)

I looked into it for a while and frankly, I'm not sure where to begin. Unfortunately my code is a little complex but it is OSS so the good news is it should be pretty easy to reproduce. I've only tested on windows so far.

The short answer to the question about `node::Buffer::New()` is that, I'm not sure yet. I know that I"m using `node::Buffer::New(char*, size_t)`

[2015-09-01 05:55] rvagg opened #2633 "Node.js v4 Evangelism: who is available?"
Primarily I'm after @nodejs/tsc members for this because they have fairly good name recognition in the community at the moment but I'd also be interested to see other @nodejs/collaborators put up their hands as well because location matters.

So, who is available to do a bit of evangelism for v4 by speaking at meetups and other gatherings and even perhaps at companies that reach out? Can you answe

[2015-09-01 05:58] indutny commented on #2633
1. TSC
2. San Francisco, CA, USA
3. Hm... probably not that convenient, only within US - if any travels
4. Sure. PST from 1pm to 2am.
5. You know how to reach me out ;)

[2015-09-01 06:14] yosuke-furukawa commented on #2633
I am not TSC member but I would like to evangelize Node.js v4 in my Node community (Node.js Japan User Group).

1. Collaborator, Evangelism WG
2. Tokyo, Japan
3. Hm... I had some travels in this year... I don't have enough paid holidays, I cannot go so far. Asian area near Japan is better.
4. No. I don't have fluent English speaking skills.
5. email yosuke.furukawa@gmail.com

[2015-09-01 06:22] thefourtheye commented on #2633
1. Node.js Collaborator
 2. Chennai, Tamilnadu, India
 3. Anywhere in India (depends on the availability as well). Chennai/Bengaluru - Anytime
 4. Not a native English speaker. So I'll pass.
 5. thechargingvolcano@gmail.com

[2015-09-01 06:33] ChALkeR commented on #2631
1. A single `gc()` run does not necessary clean all the garbage.
2. RSS generally doesn't decrease even after the memory is `free`-d, because the memory allocator behaves that way. That memory is not returned to the system, but is used later for further allocations done by the process. It's not node/io.js fault, even a simple c++ program behaves that way: it depends on the size of allocated memory

[2015-09-01 06:52] JacksonTian commented on #2633
I would like to evangelize Node.js v4 in Node community of China(cnodejs.org).

1. Member of iojs-cn org.
2. Hangzhou, China
3. Just Hangzhou or Shanghai.
4. No. Poor English.
5. email shyvo1987@gmail.com

[2015-09-01 07:15] trevnorris commented on #2630
Are you aware of the change to `Buffer::New()` in which it now takes control of the memory pointer? If the memory should be copied then `Buffer::Copy()` is the new API to use.

The fact that your app worked in 3.0 leads me to this conclusion. As that release had a memory leak and faulty API. It was a mistake on my part when reimplementing Buffer to use Typed Arrays.

[2015-09-01 07:16] trevnorris commented on #2380
@Fishrock123 Um. I'll assume you meant to close this.

[2015-09-01 07:16] #2380 closed

[2015-09-01 07:28] ChALkeR opened #2634 "buffer: SlowBuffer() asserts when invoked without arguments."
io.js 3.2.0.

[code]

[2015-09-01 07:39] pmq20 commented on #2633
I am not a TSC member either but I would like to evangelize Node.js v4 in Chinese Node community too.

1. I am a nodejs/node Contributor;
2. Hangzhou, China;
3. Yes, everywhere as long as the traveling does not overlap my working hours;
4. Yes, as long as it's not early morning of Beijing Time;
5. email `pmq2001@gmail.com` or skype `pmq20011`.

[2015-09-01 08:16] freak4pc commented on #2561
Sorry guys, I'm pretty much flooded with work now.
I'll try to get more info from lldb tomorrow and post it here...

[2015-09-01 08:22] ChALkeR commented on #2598
@orangemocha About my issue — @rvagg solved it, it was a permissions misconfiguration in Jenkins.

[2015-09-01 08:24] targos commented on #2634
cc @trevnorris

[2015-09-01 08:27] ChALkeR commented on #2634
The same with `SlowBuffer('foo')`, `SlowBuffer('10')`, `SlowBuffer({})` — any non-number causes an assertion.

[2015-09-01 08:53] targos commented on #2634
fix: https://github.com/nodejs/node/pull/2635

[2015-09-01 09:43] rvagg commented on #2522
Status update:

* iojs.org is being served by our new server and fronted by CloudFlare
* nodejs.org is still on the old server but is fronted by CloudFlare
* Moving to the new website & server for nodejs.org is taking a lot longer than anticipated, I have epic tales of valleys of yaks I've had to shave so far and I'm spinning more yarns over here if you're interested in tracking progress: https://

[2015-09-01 10:17] merih commented on #2552
Getting this on OSX 10.10.5 with both iojs 3.1.0 and 3.2.0 when the code requires nunjucks.

[2015-09-01 10:31] orangemocha commented on #2598
@ChALkeR : great. I looked at those settings too but everything seemed normal. Oh well... glad it's solved.

[2015-09-01 10:55] orangemocha commented on #2598
Things seem to be working, even though the ARM build is still holding up the queue and the reliability of the Jenkins slaves is not 100%. On the bright side, it looks like node-accept-pull-request might have prevented a regression on its first run after the scheduled transition :)

I will close this issue now. I created a jenkins-ci label in the build repo to keep better track of issues related to

[2015-09-01 11:21] rvagg commented on #2552
For anyone reporting this—if you can provide a summary of what your application might be doing at segfault time then we might have something to investigate. An `npm ls` (as a gist probably) might be helpful too or in lieu of that it would be helpful to know if you have compiled add-ons in your application because that may give us something to blame.

[2015-09-01 11:23] sambthompson opened #2637 "deps: static cares build fails if shared c-ares installed"
Followup from patches landed in #38, I've had this problem on both Mac OS X 10.9.5 and FreeBSD 10.2:

[code]
_Edit, to explain context better:_ There is a breaking API change in Node's cares to support multiple txt records in dns lookup replies. It has not landed upstream - see discussion in #38. When compiling Node's cares, build is referring to the globally installed headers first, which don't i

[2015-09-01 12:10] jasnell commented on #2633
1. TSC
2. Fresno, CA
3. Limited by schedule, but possible. Will be in Waterford next week,
domestic only for remainder of year
4. Yes. Availability varies week to week
5. Email
On Aug 31, 2015 10:55 PM, "Rod Vagg" <notifications@github.com> wrote:

[2015-09-01 13:05] mikeal commented on #2633
1. Sorta, I'm on the calls :)
2. This month: Europe. Next month: San Francisco
3. I'll be all around Europe this month and can speak wherever I am.
4. Yup, european timezones work best this month.
5. Just @ reply me in this thread or email mikeal dot rogers at gmail.

[2015-09-01 13:05] justinmchase commented on #2630
Ah, ha. I was not aware, I thought `New(char*,size_t)` was a copy operation. I'll try changing everything to use copy, or adjust the code to release control of the memory.

[2015-09-01 13:13] kzc commented on #2630
@trevnorris Regarding `Buffer::New()` taking ownership of the memory pointer, its old name `Buffer::Use()` seemed to better describe its behavior. Not a big deal either way.

[2015-09-01 13:14] justinmchase commented on #2630
@trevnorris And `Buffer::Data(obj)` does not change ownership, the js object retains ownership of the data? It needs to either be copied or processed locally, correct?

[2015-09-01 13:15] cjihrig commented on #2633
1. TSC
2. Pittsburgh, PA, USA
3. Can travel in the US if the foundation can pay for it. Also need enough notice to clear with work.
4. Afternoon to ~10PM in the US Eastern time.
5. My email is on my GitHub page.

[2015-09-01 13:24] justinmchase commented on #2630
@trevnorris Ok, I just changed some calls from NewBuffer to CopyBuffer and it immediately stopped crashing. So that was the problem and now its fixed, thanks!

[2015-09-01 13:24] #2630 closed

[2015-09-01 13:38] Fishrock123 commented on #2633
1. TSC
2. Mainly Toronto-ish, ON, Canada / Vancouver-ish BC, Canada for a few weeks again soon.
3. Perhaps. Within North America if paid for, above locations when I'm there if not.
4. 9am-7pm my current timezone (Eastern right now), Not wednesdays.
5. Anything but linkedin.

[2015-09-01 13:48] sambthompson commented on #2637
That's cool. In investigating this, I saw the roliflage in upstream syncing with #1676, and the alternative native js implementation proposed in #1013. It's a tough call between fork-to-own (and spread yourself thinner) vs. roll-your-own (but sit back and enjoy the "reinvent the wheel/not invented here" cracks).

[2015-09-01 14:29] Trott commented on #2633
I'm sure SF Bay Area will be extremely well covered, but happy to be a backup to a backup to a backup:

1. collaborator
2. San Francisco
3. If the timing is right, I might be willing to go anywhere in California or Oregon
4. Sure. I can be pretty flexible.
5. rtrott at gmail dot com

[2015-09-01 14:58] jasnell commented on #2598
@orangemocha ... awesome. Thank you very much for the work on this (and putting up with our whining about how long the builds take ;-) ...)

[2015-09-01 15:16] Qard commented on #2633
1. Collaborator
2. Vancouver, BC, Canada
3. I'll go anywhere, as long as I don't have to pay for it
4. 10AM-midnight, my time, assuming no other meetings
5. @ mention or via email on my github page

[2015-09-01 16:35] trevnorris commented on #2634
My bad. Didn't add the proper coercion before `length` hit the native `CHECK()`.

[2015-09-01 17:04] Fishrock123 commented on #2607
Still blocked. @rvagg, I think you need to resolve the conflicts in https://github.com/nodejs/node/pull/2623. The one patch with lots of renames I'm not sure how to resolve correctly.

[2015-09-01 17:07] wwannemacher commented on #2628
updated the script as follows:
[code]

[2015-09-01 17:10] wwannemacher commented on #2628
I am using node version 0.10.36. When I tried to open an issue in the other repo, it was immediately closed. The Readme says to open new issues in this repo.

I went ahead and built and tested with both 2.5.0 and 3.2.0, I did not see the leak in either version. I suppose the solution is to port our app to iojs using one of these later versions? Are fixes backported to a version of node that ends u

[2015-09-01 17:58] Fishrock123 commented on #2598
Ok I am really sick of this. It better not start holding up everything.

[2015-09-01 18:23] sam-github commented on #2598
@orangemocha I don't know how much energy you have for this, but it would be really nice if we didn't have to kick off jobs using jenkins directly, and instead could do `@node-ci do node-test-pull-request` to cause a PR to be tested (would only happen if github user making the comment has a jenkins account), and even `@node-ci do node-merge-pull-request params...`, assuming that the params are sim

[2015-09-01 18:55] wwannemacher commented on #2628
This looks like a dupe of a known issue from way back. I disabled the "agent" and the script stopped leaking memory.

[2015-09-01 18:55] #2628 closed

[2015-09-01 19:20] Fishrock123 commented on #2628
@wwannemacher Could you link to the older issue?

[2015-09-01 19:22] orangemocha commented on #2598
@Fishrock123 : did it happen again?

It's high priority. We'll fix it soon. https://github.com/nodejs/build/issues/173

[2015-09-01 19:50] kzc commented on #2630
@trevnorris These C++ Buffer functions are commented to be public in node_buffer.h. Going forward, will their behavior be preserved?

@kkoopa Does nan handle the changes in memory ownership semantics of node::Buffer::New() in latest Nan::NewBuffer() post iojs 3.0.0?

previous:

    // public constructor - data is copied
    // TODO(trevnorris): should be something like Copy()
    NODE_EXTERN v8::L

[2015-09-01 19:53] kzc commented on #2630
I guess technically the signatures are different - `const char* data` versus `char* data`. The old copy behavior could be supported for the `const char*` flavor, and the newer one using `char*` would continue to take ownership - although it would be a pretty awkward overloading of `Buffer::New(v8::Isolate* isolate, data, len)`

[2015-09-01 19:54] trevnorris commented on #2630
@kzc For the most part. We had to make the change to return `MaybeLocal<>` because of changes to v8's API. But the renaming of that one function was a one-off and probably won't happen again. Pending any unforeseen circumstances with v8.

[2015-09-01 19:56] trevnorris commented on #2630
@kzc nan 2.x support the new semantics. it's an API breakage in nan.

[2015-09-01 19:58] trevnorris commented on #2598
When was Jenkins supposed to take over doing commits? I committed two patches last Friday that were clobbered by Jenkins. Luckily a community member pointed this out or else I wouldn't have noticed.

On that note, why is Jenkins unconditionally force pushing to master? That is possibly one of the worst things I can imagine doing to the repository.

[2015-09-01 20:52] merih commented on #2552
I've tracked the segfault down to fsevents module, which only has `nan ^2.0.2` as its only dependency.

[2015-09-01 21:06] mzgol commented on #2507
The fix has been backported to v8 4.6. Chrome 45 is out with buggy computed props but it's still planned to backport the patch to v8 4.5 if it proves to be fine on 4.6.

This is most likely the day v8 4.4 is EOL'd upstream.

[2015-09-01 21:09] wwannemacher commented on #2628
@Fishrock123 I guess I just saw a reference to this change:
https://github.com/nodejs/node-v0.x-archive/commit/9fc9b87472806147b83c24d85b303c4f75d3021c
And assumed it was related, especially when disabling the agent seemed to fix my problem.

[2015-09-01 21:27] tjconcept commented on #2543
Is it related to what has later been described here? http://v8project.blogspot.dk/2015/08/getting-garbage-collection-for-free.html

[2015-09-01 21:43] bnoordhuis commented on #2633
1. TSC.
2. Norg (near Groningen), the Netherlands.
3. I can cover the Netherlands, Belgium and parts of Germany.  Maybe parts of France as well but my French is pretty bad.
4. No.
5. Email is in my profile.

[2015-09-01 21:51] bnoordhuis commented on #2552
@merih Are you saying that with the nan dependency bumped to `^2.0.8` the crash goes away?

[2015-09-01 21:53] trevnorris commented on #2633
1. TSC
2. Salt Lake City, UT
3. Can easily cover northern Utah.
4. No
5. Email.

[2015-09-01 22:20] merih commented on #2552
I hadn't tried that until you asked. If I directly update the version from inside the installed module, I get `Module version mismatch. Expected 45, got 14.` error.

[2015-09-01 23:17] matthewloring commented on #2471
I was able to reproduce this on Ubuntu locally by putting my machine under heavy load and gather some data. The raw ticks are too large for pastebin but here's the processed output:

http://pastebin.com/4rMfURK7

A single JS tick was collected and it did not include my test function. I need to investigate more to determine why it's missing `foo`.

[2015-09-02 00:12] mrseth opened #2639 "AssertionError crash at ServerResponse.resOnFinish"
Running io.js 3.2 installed from source on a centOS 7 machine, here are the logs:
http://pastebin.com/ix0Ke5zS

[2015-09-02 00:19] rvagg commented on #2552
@merih you'll have to recompile the addon, `npm rebuild`, `npm install` or `node-gyp rebuild` may work depending on the module, the 45 vs 14 thing means it's compiled against 0.12 but you're running in io.js v3.

Also, `^2.0.2` _should_ be find as a dependency because it'll pick up the latest 2.x of NAN, but if it's actually using 2.0.2 of NAN then that could explain some problems as that release

[2015-09-02 01:01] Trott commented on #1100
Anyone feel good enough about https://github.com/nodejs/node/pull/2609 to give it a LGTM so we can close this issue?

I know with all the shenanigans going on right now with 4.0 looming and a new PR-landing process, this is probably the worst possible time to ask, but that won't stop me.

[2015-09-02 01:08] rvagg commented on #2607
good to go @Fishrock123!

Commits in `master` that are not in `v3.x`:

* [[`42a8a0a53e`](https://github.com/nodejs/io.js/commit/42a8a0a53e)] - Working on v5.0.0 (Rod Vagg)
* [[`de88255b0f`](https://github.com/nodejs/io.js/commit/de88255b0f)] - ***Revert*** "**lib,src**: add unix socket getsockname/getpeername" (Ben Noordhuis) [nodejs/node#2584](https://github.com/nodejs/node/pull/2584)
* [[`6cd0e2

[2015-09-02 01:19] mrseth commented on #2639
I was fiddling around with my server on digital ocean and got this screen when checking out their embedded terminal.
http://i.imgur.com/d0jc9zG.png
Could it be insufficient RAM that caused the crash? I am running a mongodb instance on the server and using libraries that are a little bulky on RAM.
I checked the RAM usage once and I had around 70 or 50 MB idle. I wasn`t looking how much RAM I had fr

[2015-09-02 01:37] Trott commented on #2471
I was able to get this one to blow up after 58 runs on OS X with this:

[code]

Here's the error output:

[code]

[2015-09-02 01:52] mscdex commented on #2639
Did you try with other versions, like io.js 2.5.0?

[2015-09-02 02:40] Trott commented on #2471
Not sure if it would address the indeterminacy (but I suspect it might), and I hope it's not a foolish question, but (ignoring the more-than-80-chars-in-a-line issue) is there any reason this part of the test:

[code]

...couldn't be something more like this?:

[code]

...or this?:

[code]
/cc @matthewloring

[2015-09-02 03:13] matthewloring commented on #2471
The hope was to have the code run for a fixed time as opposed to a fixed number of cycles. We didn't want it to slow down too much on the slow machines or finish before sufficient samples had been taken on faster ones. We could try switching to something like this but it may be hard to find a sweet spot.

[2015-09-02 03:16] Trott commented on #2471
Inside of `test/common.js`, there's this:

[code]

Maybe something similar to it could be created and used to tweak the number of iterations so ARM would only run (say) 20 times through the loop before `process.exit()` but everything else might go 200?

[2015-09-02 04:18] matthewloring commented on #2471
I'll look into it that but I'm worried something more tricky is going on. I tried both of the proposed alternatives above. The first flaked after 23 iterations and the second flaked after 166 iterations. Let me try to figure out why the C++/Javascript tick ratio is so high in the failing runs.

[2015-09-02 05:20] steelbrain commented on #1655
Guys, chrome 45 just released, and according to [chromestatus][1], they are in it. Which means that it's stable now, it'd be nice to have them in iojs

[1]:https://www.chromestatus.com/features/5047308127305728

[2015-09-02 05:31] albertorestifo commented on #1655
Yes, and all the Arrow Functions issues have been closed

[2015-09-02 06:06] codygustafson opened #2642 "Keep alive connection do not get closed with server.close()"
The following will remain open as long as the client makes a request within one second intervals making it possible that a server will never gracefully close. With the default of 2 minute timeouts a user or api client would need to stop traffic for two minutes before this will take affect. I propose closing sockets using keep alive immediately after the next request. This will prevent needing to k

[2015-09-02 06:26] rvagg commented on #2633
1. TSC
2. South of Sydney, Australia
3. Maybe willing to travel, depending on distance
4. Yes, Skype / Hangouts hookups are great, but has to be during normal waking hours AEST (not later than ~11pm or earlier than ~7am)
5. rod@vagg.org

[2015-09-02 06:29] brendanashworth commented on #2642
Thanks for opening an issue. I think a similar solution to this issue is being pursued in https://github.com/nodejs/node/pull/2534.

[2015-09-02 07:16] rvagg commented on #2607
moved to #2640

[2015-09-02 08:01] jbergstroem commented on #2637
The gist of the issue is that when linking to other shared libraries we will pull include-dirs ahead of the one's we add through our own build which for c-ares then pulls the incorrect headers.

Preferably we're able to land our patch upstream (c-ares). Relevant thread here: http://thread.gmane.org/gmane.network.dns.c-ares/1232/focus=1340

[2015-09-02 08:05] saghul commented on #2637
FWIW, I also patch c-ares in a project of mine, and given the slow rate of changes it has had for a few years now, I'd just go for it. Also trying to upstream everything, of course (as Fedor already did). Personally I was interested in [this patch](http://c-ares.haxx.se/mail/c-ares-archive-2013-07/0005.shtml) which looks like it will never land because it breaks the ABI. Oh well!