[2017-11-21 03:39] Trott commented on #16636
@apapirovski FWIW, the fixers that come with ESLint can create lint errors and that seems to be considered not-a-defect. For example, many times a fixer will result in a line longer than `max-len` specifies.

So if the behavior of built-in ESLint fixers is deemed as a reasonable measure for our own fixers, then I think the `prefer-assert-methods` fix is probably OK.

(I don't think the `prefer-ass

[2017-11-21 03:46] Trott commented on #17164
If Wikipedia is to be believed 10.9 is unsupported by Apple as of September 2016 and 10.10 is unsupported by Apple as of September 2017. Are we sure we want to invest time on these?

[2017-11-21 03:58] jasnell opened #17169 "[Tracking issue] Converting tests to use Countdown"
One possible set of tasks that I can suggest for new contributors who are bit more confident in their Node.js skills, would be converting tests to use the new `../common/countdown` utility module.

For instance, if you take a look at: https://github.com/nodejs/node/blob/master/test/parallel/test-http2-client-destroy.js, you'll see that there is a remaining counter (https://github.com/nodejs/node/b

[2017-11-21 04:01] Trott commented on #17149
@Announcement The original poster wrote that the bug is in version 6.12.0 and was fixed by 7.10.0 at the latest. You're running 10.0.0-pre.

[2017-11-21 04:33] mscdex commented on #17167
Did you submit this to the V8 issue tracker?

[2017-11-21 05:12] puzrin commented on #17167
Not yet. I'd like to ask local V8 people to forward with proper priority, if described problem is correct. Still not sure how to interpret benchmarks.

[2017-11-21 06:30] lpinca commented on #17165
Yes, that's correct.

[2017-11-21 07:20] zkat commented on #14872
I'm wondering what the actual concern is, here. I suspect "there are many things" is less of a concern than other resource usage, but file count tends to be a place holder for other concerns.

Are you worried that `ls ./node_modules` takes too long? Try `npm i --global-style`, and you'll only have your direct dependencies in `./node_modules`, with other deps nested in there (and flattened).

Are y

[2017-11-21 07:39] cuongnv-ibl commented on #16746
@ronovar How you get rid it ? pls help

[2017-11-21 08:19] hashseed commented on #17058
@bnoordhuis I just verified with @verwaest that inside a function template callback, the current context is indeed already the context of the function being called.

That means we don't need to wrap the environment in a `v8::External` anymore.

[2017-11-21 08:28] verwaest commented on #17058
This isn't true yet for PropertyCallbackInfo and Interceptors though. We could do the same there as we do for "lazy accessor pairs" (function template based accessors).

[2017-11-21 08:46] gibfahn commented on #17164
Looks like it's just one failure, the `test-inspector-port-zero` one. I've been looking at that, I'll raise an issue for it.

[2017-11-21 08:56] gibfahn opened #17175 "sequential/test-inspector-port-zero segfaults on macOS 10.10 and below"
* **Version**: 8.9.0.0
* **Platform**: macOS <= 10.10.1
* **Subsystem**: libuv, getaddrinfo

This test fails consistently on earlier versions of macOS (used code in https://github.com/nodejs/node/pull/16685 to work out that it was a segfault).

#### Original test case failure:

[code]

#### Minimal reproduction:

Only one line of the test is failling:

https://github.com/nodejs/node/blob/5df0b9e0b

[2017-11-21 08:58] gibfahn commented on #17175
#### lldb thread list

[code]

#### lldb process status

[code]

[2017-11-21 08:58] gibfahn commented on #17175
[code]

[code]

So SEGV happened on `movw   (%rdx), %ax`, which moves the value at address `%rdx` to `%ax`. However `%rdx` isn't a valid address (it's `0x0`).

Looks related to this Python bug: https://bugs.python.org/issue17269

[2017-11-21 09:00] gibfahn commented on #17175
This only fails on earlier versions of macOS

#### Testing machines:

| macOS Version | Pass/Fail |
| --- | --- |
| 10.8.5 | 🔴 |
| 10.10.1 | 🔴  |
| 10.10.5 | 💚 |
| 10.11.4 | 💚  |
| 10.13.1 | 💚  |

#### Different node versions on 10.10.1

| Version | Pass/Fail |
| --- | --- |
| 8.9.0.0 | 🔴  |
| 8.9.0 | 🔴  |
| 8.6.0.0 | 🔴 |
| 8.3.0.0 | 🔴 |
| 8.1.2.0 | 💚 |

#### 8.3.0.0 process.versions

[code]

####

[2017-11-21 09:04] gibfahn commented on #17164
Issue raised: https://github.com/nodejs/node/issues/17175

Are there any other test failures? If not this can be closed. FWIW #17175 worked on 10.10.5, so if we assume people are on the latest patch level then that failure is an experimental issue only.

10.9 [is experimental](https://github.com/nodejs/node/blob/master/BUILDING.md#supported-platforms-1), so we could not care / drop it, but 10.10 i

[2017-11-21 09:18] Tiriel commented on #17148
Hey @Trott , Thanks!

- test only :
[code]
- require('acorn/dist/acorn') :
`no output`
- require('acorn/dist/walk') :
`no output`
- Just to be sure, require('acorn/dist/foo') :
[code]

[2017-11-21 09:20] tniessen commented on #17162
It's called "Team discussions" after all, so maybe GitHub does not plan to make it public to everyone? Would someone like to reach out to them or should we wait whether they will come up with such an option?

[2017-11-21 09:27] kurrestahlberg opened #17176 "Serious latency increase with v9.2"
* **Version**:
9.2
* **Platform**:
docker node:alpine
* **Subsystem**:

Our CD system was set to use the official node:alpine image as the base image for our app and we got the update to node.js v9 on November 2. This caused our latency to start climbing in a peculiar fashion. We did not spot this right away so it had time to work itself fairly high and then something happened that caused the late

[2017-11-21 09:30] psmarshall commented on #17155
I talked to some GC folks. Node 6.11.0 is using v8 5.1.281.102 which has a very outdated ArrayBufferTracker. There could definitely be concurrency issues, particularly if another thread calls `v8::ArrayBuffer::Externalize()` which leads to `ArrayBufferTracker::Unregister()` which modifies `live_array_buffers_for_scavenge_` without taking the ArrayBufferTracker mutex.

The safest fix is probably to

[2017-11-21 09:48] bnoordhuis commented on #17155
Thanks, @psmarshall.  We'll want to wait for confirmation that the crash isn't caused by a buggy add-on but that sounds like a good way forward.

Alternatively, @nodejs/lts - has upgrading V8 in v6.x been discussed?  We should be able to move up a few minors with only, ah, minor tweaks for ABI and API compatibility.  Once-in-a-lifetime offer: I volunteer to do the work.

[2017-11-21 09:55] bnoordhuis commented on #17176
What do CPU and memory consumption look like?

Is it an option for you to try the things from https://github.com/nodejs/help/issues/947, `perf top -g -p <pid>` in particular?  Note that you should start node with `node --perf_basic_prof app.js` to get useful JS call graphs.

[2017-11-21 09:56] benjamingr commented on #17162
I'd rather not encourage a private communications channel - although it would be a good place to discuss internal concerns (like CI lockdown due to security issues for example - where we might not want to make it advertised although it is already public).

[2017-11-21 09:57] elaygl opened #17178 "crypto.timingSafeEqual is not really time safe?"
After trying to use `crypto.timingSafeEqual` with two buffers that have different length I've got an exception.

I read the docs and realized that `crypto.timingSafeEqual` is supporting only buffers with the same length which is contradicting the concept of timing safe compare.

The comparison code:
https://github.com/nodejs/node/blob/51e0948862f8920c0387f6702843e8fd79f24172/src/node_crypto.cc#L60

[2017-11-21 09:59] ronag opened #17179 "http.IncomingMessage missing "readable""
Currently, as far as I can see, there is no way to find out if a `http.IncomingMessage` is readable and `resume` can be safely called.

What happens if you called `resume` on a closed/finished `http.IncomingMessage`?

[2017-11-21 10:10] vsemozhetbyt commented on #17168
FWIW, Chrome console returns immediately in this case.

[2017-11-21 10:11] dcy0701 opened #17181 "The order of Task & MicroTask execution is inconsistent with browser"
* **Version**: 8.1.3
* **Platform**:  Mac OS
* **Subsystem**:  10.12.4

Here are some code.
[code]
When i execute it in Node, i got result like this:

[code]
But when i execute it in browser(MAC OS chrome 62.0.3202.94), i got result like this:
[code]

I am puzzled by the result of this implementation.

[2017-11-21 10:12] vsemozhetbyt commented on #17167
Refs: https://github.com/nodejs/node/issues/17112

cc @nodejs/v8.

[2017-11-21 10:17] bnoordhuis commented on #17178
See #3043, #3073 and #8040.  The current behavior is the product of a stupefying amount of discussion.  I think it's unlikely we'll revisit that.

As well, your suggestion is a subtle change in behavior.  Too subtle, IMO - it might end up breaking applications in ways that go undetected until it's too late.  That risk alone practically rules it out.

[2017-11-21 10:21] addaleax commented on #17181
From https://nodejs.org/api/timers.html#timers_settimeout_callback_delay_args:

[2017-11-21 10:24] psmarshall commented on #17167
Without having looked into this, I'd guess it is the same problem in #17112 as @vsemozhetbyt mentions.
Upstream vs issue: https://bugs.chromium.org/p/v8/issues/detail?id=7099&desc=3

[2017-11-21 10:31] TimothyGu commented on #17168
Chrome console doesn't "return" immediately, in that a returned value isn't shown. It just opens up the console to let one execute more code. This reflects on a fundamental difference between the Chrome console and Node.js REPL: while the Chrome console is asynchronous, the Node.js REPL is synchronous (not in its internals but in its operation).

I'm not sure if a timeout would be what users expec

[2017-11-21 10:33] vsemozhetbyt commented on #17176
cc @nodejs/performance

[2017-11-21 10:34] LavrovArtem opened #17182 "TypeError: Cannot read property 'length' of null"
https://github.com/nodejs/node/blob/2ba93f6ed7c96684ed7aeaa32db59ae8e5885f03/lib/zlib.js#L493

[code]

[code]
* **Version**: v9.0.0
* **Platform**: Windows 8.1 64-bit

It works fine on 6, 7 and 8 node versions.

[2017-11-21 10:37] addaleax commented on #17182
I’m closing this as a duplicate of https://github.com/nodejs/node/issues/17041, it’s going to be fixed with the next 9.x release.

Thanks for the report, though!

[2017-11-21 10:37] #17182 closed

[2017-11-21 10:38] vsemozhetbyt commented on #17181
See also https://github.com/nodejs/node/issues/15081

[2017-11-21 10:40] bmeurer commented on #17167
cc @ripsawridge

[2017-11-21 10:50] MylesBorins commented on #17155
@bnoordhuis putting this on the LTS agenda

[2017-11-21 10:54] gibfahn commented on #17155
+1 to upgrading if it's going to fix bugs

+1 to Ben doing the work (unless @targos insists on doing it 😁 )

[2017-11-21 10:58] kurrestahlberg commented on #17176
Here's CPU overlaid with the same latency as was in the earlier graph:

<img width="1088" alt="screen shot 2017-11-21 at 12 53 44" src="https://user-images.githubusercontent.com/2271912/33068942-81c34502-cebb-11e7-9e70-441973a25215.png">

Unfortunately I am not able to run the test as we have the downgraded version in production and I am not able to run a pure test with realistic load.

[2017-11-21 11:05] puzrin commented on #17167
If anyone needs direct links to critical chains:

- [Loop 1](https://github.com/nodeca/glur/blob/6e4247707bd0d41ca71c6ea7b37581b5d0cdefb9/mono16.js#L31-L103) - convolver passes in gaussian blur
- [Loop 2](https://github.com/nodeca/multimath/blob/f5c4952da2998cf6d3dc91967d33935670710fd1/lib/unsharp_mask/unsharp_mask.js#L43-L114) - (RGB -> HSL -> amplify L -> RGB) * each pixel

[2017-11-21 11:07] bnoordhuis commented on #17176
Thanks!  I'm afraid I don't have suggestions though, not enough data.

[2017-11-21 11:15] ronag commented on #16798
Maybe this should be labeled as a bug? @mcollina

[2017-11-21 11:53] targos commented on #17155
![image](https://user-images.githubusercontent.com/2352663/33071194-df80fa46-ceba-11e7-9a1b-b47c560f94d8.png)

[2017-11-21 12:27] surajwy commented on #17155
@bnoordhuis Please give me some steps to approve/discard this add-on suspicion.

[2017-11-21 12:52] MyApricot opened #17189 "I use the latest version ,but the command of npm report error"
***Version***:  V9.2.0
***Platform***: Win10 X64

npm can't  install anything
![image 1](https://user-images.githubusercontent.com/14102726/33073441-e0d34636-cefd-11e7-8725-66af67c68773.png)

[2017-11-21 12:53] calidion opened #17190 "readable event fired with no data available"
* **Version**:   v8.9.1
* **Platform**: Linux
* **Subsystem**:  Ubuntu

1. for code:
[code]
2. get
[code]
3. expected
[code]

[2017-11-21 12:58] #17017 closed

[2017-11-21 13:05] AndreasMadsen opened #17192 "this keyword in async_hooks hooks"
What value should `this` have in `async_hooks` hooks. There are 3 options:

* The returned `hook` object.
* The config parameter object.
* Nothing. `this` should not be allowed.

See original discussion in https://github.com/nodejs/node/pull/17118/files#r151933834

* **Version**: c4a5de51e936940c9abce7761f2856ebf9202330
* **Platform**: all
* **Subsystem**: async_hooks

[2017-11-21 13:43] cPhost commented on #17168
Maybe not pause the prompt and log out the result when it is resolved/avalible.

[2017-11-21 13:47] cjihrig commented on #17192
The `hook` object seems the most logical to me. If not that, then my next vote would be "nothing."

[2017-11-21 14:08] mscdex commented on #17189
This should be posted to the [npm issue tracker](https://github.com/npm/npm/issues) instead.

Also, in future issues, please post text instead of images when possible.

[2017-11-21 14:08] #17189 closed

[2017-11-21 14:08] AndreasMadsen commented on #17192
The argument against the `hook` object, is that one might expect:
[code]
to work.

[2017-11-21 14:58] davisjam commented on #17165
Great, thank you.

[2017-11-21 14:58] #17165 closed

[2017-11-21 15:06] devsnek commented on #17168
i'm working on a system where awaits that run longer than a tick get an "await id" and then when they resolve will be output with that id
[code]

[2017-11-21 15:18] polomsky commented on #17037
After investigation I have found that event `unpipe` can be partly used for that purpose. Sadly it is not in the 6.x version. Fixed by #11876

[2017-11-21 15:40] Trott commented on #17148
`require('acorn/dist/acorn)` and `require('acorn/dist/walk')` should throw like `require('acorn/dist/foo')` does. Maybe you have `acorn` tucked away somewhere that `require()` is finding it? You don't have `NODE_PATH` environment variable set by any chance, do you?

[2017-11-21 15:50] tniessen commented on #17102
If you are interested in this issue, feel free to vote here: https://github.com/nodejs/node/pull/17156#issuecomment-346027476

[2017-11-21 15:59] bnoordhuis commented on #17155
@surajwy The most surefire way is to remove them from your application, if that's an option.  Otherwise we'll have to wait until someone else reports/confirms the issue.

[2017-11-21 16:03] Tiriel commented on #17148
Damn, you got it. Sorry I missed this.
`NODE_PATH` is indeed defined, though I don't know how to solve this simply. Anyway, not a global issue then, I'll close this.

Thanks!

[2017-11-21 16:05] Bamieh commented on #17169
@jasnell I am willing to contribute to this issue, but first i recommend creating a list with all the places where this refactor is needed so we an keep a tracked list of whats being worked on and what is yet to be refactored.

[2017-11-21 16:07] jasnell commented on #17169
@Bamieh ... absolutely... I'll start digging through later on today and building a list out here in this issue :-)

[2017-11-21 16:34] joyeecheung commented on #17169
Would be nice if there is a guide or a link to https://github.com/nodejs/node/tree/master/test/common#countdown-module in https://github.com/nodejs/node/blob/master/doc/guides/writing-tests.md

(Aside: we should add a note on the usage of `common/fixtures` in that testing guide as well..)

[2017-11-21 16:35] eugeneo commented on #17175
Is there a way I could run the code on those bots?

[2017-11-21 16:46] Bamieh commented on #17169
##### Here is a full list of the http test cases to use Countdown:
- [ ] test/parallel/test-http-1.0-keep-alive.js
- [x] test/parallel/test-http-after-connect.js
- [x] test/parallel/test-http-agent-maxsockets-regress-4050.js
- [x] test/parallel/test-http-agent-maxsockets.js
- [ ] test/parallel/test-http-agent.js
- [ ] test/parallel/test-http-allow-req-after-204-res.js
- [x] test/parallel/test-http

[2017-11-21 16:46] refack commented on #17175
I have an intuition that something with the threads is not safe (maybe access to the `uv_loop_t`)
That could also be the cause of https://github.com/nodejs/node/issues/15558

[2017-11-21 16:51] apapirovski commented on #17190
This is to be expected, as per the documentation

https://nodejs.org/dist/latest-v8.x/docs/api/stream.html#stream_event_readable

[2017-11-21 17:04] calidion commented on #17190
@apapirovski

thanks.

it is right according to the doc.

but it doesn't make sense to emit a 'readable' event when the stream end is reached.
nor it is efficient to read once more when no data is available.

[2017-11-21 17:19] joyeecheung commented on #17190
If you think of `null` as `EOF` then it would start to make sense. The last `readable` is for reading the EOF.

[2017-11-21 17:27] TimothyGu commented on #13247
Seems like the discussion has ended with a consensus of -1. Happy to reopen if that is not the case.

[2017-11-21 17:27] #13247 closed

[2017-11-21 17:44] mmarchini commented on #16772
Today on Raspbery Pi again:

https://ci.nodejs.org/job/node-test-binary-arm/11987/RUN_SUBSET=3,label=pi1-raspbian-wheezy/console

[code]

[2017-11-21 18:06] calidion commented on #17190
@joyeecheung

Anything can make sense when you don't need it logically and scientifically true.

as this problem had been discovered by someone else, I think it is my duty to report what we have found which is confusing and non efficient to many of us. Although document may give a excuse to the implementer.

[2017-11-21 18:11] lance commented on #6802
My instinct is to consider this not a bug and leave it as-is. There is no way to recover if the user sets or undefines the global `process` object. It would be possible check for this assignment in the REPL code and recover somewhat gracefully by printing a warning, as you suggest @gibfahn. Naively, that would mean adding code to the REPL to parse each line looking for the assignment. But why shou

[2017-11-21 18:29] addaleax commented on #6802
@lance Thanks for commenting here – I think this might actually be easily fixed now that we have a different module wrapper for built-ins? PR to try it out @ https://github.com/nodejs/node/pull/17198

[2017-11-21 19:21] joyeecheung commented on #17190
@calidion It can bee unintuitive, yes, but I don't think there is anything actionable at the moment because it's too late to change this behavior without breaking numerous userland modules.

[2017-11-21 19:25] LinusU commented on #2398
Would absolutely love to see this happen. I think it would help a lot since IoT is becoming very popular, especially in connection with Node.js.

[2017-11-21 19:25] joyeecheung commented on #17190
Closing because there is nothing actionable. Feel free to discuss here if you think there is a way out without breaking userland modules.

[2017-11-21 19:25] #17190 closed

[2017-11-21 21:30] Trott commented on #17148
You can unset it for the subprocess only. It won't affect the invoking shell.

[code]

[2017-11-21 21:32] Tiriel commented on #17148
@Trott Awesome, thanks! And sorry for being such a weight ^^'

[2017-11-21 22:00] AArnott commented on #5696
@rvagg I can't find the PDB at the link you provided. Where can we find the pdb for the official node 6.4 distribution for win-x86? We have a lot of crash dumps and we need the PDB to see the full callstacks to see why it's crashing.

[2017-11-21 22:05] AndreasMadsen commented on #17143
Added:

* [Remove domain integration in events](https://github.com/nodejs/node/blob/283b949404745314801462f48e379397545bdde2/lib/events.js#L152L168).

[2017-11-21 22:53] rvagg commented on #5696
@AArnott it's in the win-x64 or win-x86 directories, take your pick from:

* https://nodejs.org/download/release/latest-v6.x/win-x64/node_pdb.7z
* https://nodejs.org/download/release/latest-v6.x/win-x64/node_pdb.zip
* https://nodejs.org/download/release/latest-v6.x/win-x86/node_pdb.7z
* https://nodejs.org/download/release/latest-v6.x/win-x86/node_pdb.zip

[2017-11-21 22:57] addaleax commented on #17143
@AndreasMadsen Any ideas for that? I’d probably just replace `EventEmitter.prototype.emit` – that should be okay given that it’s a public API that’s never going to change?

[2017-11-22 04:14] kun-zhou opened #17207 "Decryption of AES GCM 256 does not work (dicpher.end() or decipher.final() throws error)"
* **Version**: v8.9.1
* **Platform**: Darwin
* **Subsystem**: Crypto

[code]
The error exists both with `decipher.end()` and `decipher.final()`

[2017-11-22 05:40] msquareM opened #17208 "How to upload image above 2mb in nodejs with mysql"
Got a packet bigger than 'max_allowed_packet' bytes

[2017-11-22 06:18] mscdex commented on #17208
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2017-11-22 06:18] #17208 closed

[2017-11-22 06:19] mscdex commented on #17207
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2017-11-22 06:19] #17207 closed

[2017-11-22 08:02] benjamingr commented on #17162
What about using it for messages along the lines "I'm in country X(/city Y) visiting and I'd like to meet the local community if anyone is up for it"?

As in, coordinating meeting other collaborators in a non-public way. If someone ever comes here (Israel) I'd love it if they gave a talk to the local community (or came to a code-and-learn, or just to have a beer/coffee/whatever)

[2017-11-22 08:37] MylesBorins opened #17216 "if test suite is aborted early `tools/doc/node_modules` and `tools/doc/package-lock.json` are not removed"
this is quite weird and confusing... not only are these files sticking around but they are being tracked by git

likely the simplest solution for now is to add them to the .gitignore, but we likely should be finding a better way of handling these temporary dependencies

[2017-11-22 08:43] MaralS opened #17223 "Uncompatible version of Node.js 9.2.0"
* **Version**: 9.2.0
* **Platform**: Windows 10 64 bits
* **Subsystem**:

When I want to install new packages with npm command, I get this message

`npm WARN npm npm does not support Node.js v9.2.0
npm WARN npm You should probably upgrade to a newer version of node as we
npm WARN npm can't make any promises that npm will work with this version.
npm WARN npm Supported releases of Node.js are the la

[2017-11-22 08:48] ex1st commented on #17223
Hello, @MaralS. Please check [npm issue tracker](https://github.com/npm/npm/issues/19019).

[2017-11-22 08:55] MylesBorins commented on #17223
@MaralS the current published version of npm does not yet support nodejs 9.x. Hopefully they will do a new release soon. In the mean time I suggest using the version of npm bundled with Node.js 9.x

[2017-11-22 09:17] mgol opened #17238 "Cannot build Node on macOS: "No acceptable C compiler found!""
* **Version**: `master`
* **Platform**: macOS 10.13.1 (17B48) (`Darwin mgol-mbpro.local 17.2.0 Darwin Kernel Version 17.2.0: Fri Sep 29 18:27:05 PDT 2017; root:xnu-4570.20.62~3/RELEASE_X86_64 x86_64`)
* **Subsystem**:

I have latest XCode (9.1 (9B55))& Command Line Tools installed on a fully updated High Sierra. `python` resolves to a version `2.7.10`; I have `make` `3.81`. This fulfills all requi

[2017-11-22 09:40] Tiriel commented on #17148
I'll just reopen this since it seems there may be a solution and a fix that would solve the problem for people potentially having it like me.

Right now I'm investigatin the problem, but prefixing the commands in the Makefile hasn't improved the situation yet. I think because the Python is launching the tests by executing commands, and so the temporary assignment is lost. 4ill try and dig inside `

[2017-11-22 09:45] aqrln commented on #17238
If you have run `xcode-select --install`, the command line tools are installed and `clang` works from the command line, I'd suspect something might be wrong with `ccache` (since, as far as I can see, your `$CC` and `$CXX` env variables contain `ccache clang -Qunused-arguments` and `ccache clang++ -Qunused-arguments`). Maybe try to run something like `ccache clang --version`.

[2017-11-22 10:11] AndreasMadsen commented on #17143
@addaleax Yes, I think that would be fine.

[2017-11-22 10:41] mgol commented on #17238
I don't seem to have the `ccache` command available. 🤔  Weird, I definitely have XCode & CLT installed. Homebrew doesn't complain and I've been able to install native Node deps that weren't pre-compiled (like `node-sass`) and it worked.

[2017-11-22 10:46] aqrln commented on #17238
`ccache` isn't a part of XCode and CLT, nor even a part of what one would call a "standard" C/C++ toolchain. If you haven't modified your `CC` and `CXX` environment variables yourself on purpose to use `ccache`, it's kinda weird how it got there. I'd suggest you to check your `.bashrc`/`.bash_profile`/`.zshrc`.

[2017-11-22 11:22] mgol commented on #17238
You're right, I had CC etc. redefined in `~/.zshrc`; a byproduct of trying to compile Chromium in the past...

Sorry for taking your time and thanks for help! I'm closing the issue.

[2017-11-22 11:22] #17238 closed

[2017-11-22 11:54] gibfahn commented on #17162
Seems reasonable, but what's the reason for it to be non-public?

[2017-11-22 12:22] benjamingr commented on #17162
I don't want to publicly disclose my geographical location or travel plans publicly on the internet, mostly. I'm all for engaging the community - but I'm a lot more comfortable coordinating with core and then reaching out to the community if appropriate.

This is especially relevant in cases core team members are involved in "reddit controversy" or are being harassed.

[2017-11-22 12:42] joyeecheung opened #17244 "errors: should we raise assersions for type checks in process.bindings?"
To migrate the errors thrown in C++ land we currently try to collect the context in C++ then throw the actual errors in JS using utilities in `internal/errors.js`. The current pattern would replace code like

[code]
with

[code]

and enforce the type checks with `->To*(context).ToLocalChecked()`.

The JS layer would do the checks in advance and make sure the bindings are invoked correctly, but if

[2017-11-22 12:47] joyeecheung commented on #17244
cc @nodejs/tsc @jasnell

[2017-11-22 13:15] Jayflux opened #17245 "Memory leak with strings? (Help me understand the string object allocations)"
<!--
Thank you for reporting an issue.

This issue tracker is for bugs and issues found within Node.js core.
If you require more general support please file an issue on our help
repo. https://github.com/nodejs/help

Please fill in as much of the template below as you're able.

Version: v8.9.1
Platform: Linux hashweb 4.4.0-31-generic #50-Ubuntu SMP Wed Jul 13 00:07:12 UTC 2016 x86_64 x86_64 x86_64

[2017-11-22 13:16] Jayflux opened #17246 "String memory leaks? (help me understand why the retainers on strings go up)"
Version: v8.9.1
Platform: Linux hashweb 4.4.0-31-generic #50-Ubuntu SMP Wed Jul 13 00:07:12 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

I have an IRC bot who's memory usage goes up ever so slightly every few hours.
When taking snapshots and inspecting with dev tools the memory usage seems to be string objects, and they seem to be coming from the core.

I have a screenshot here:
<img width="1437" alt=

[2017-11-22 13:23] #17245 closed

[2017-11-22 13:24] bnoordhuis commented on #17245
See #17246.

[2017-11-22 13:49] cjihrig commented on #17246
Can you ask general support questions at https://github.com/nodejs/help please. This issue tracker is for bug reports and feature requests to Node core.

I'm not sure what modules you're using, but just about everything will look like it's coming from core if you trace the references back far enough. In that image, `Connection()` might be a good place to start looking.

[2017-11-22 13:49] #17246 closed

[2017-11-22 13:49] Qix- opened #17248 "Invalid HTTP method incorrectly returns a 400 instead of a 405"
[code]

[code]

This should be sending a 405 Method Not Allowed, not a 400.

Also, preferably, Node shouldn't care about the method and should happily forward it along in the `req.method` field. But I know that's asking for too much.

[2017-11-22 13:54] devsnek commented on #17248
node's http parser cannot actually use custom methods, [it has them hardcoded](https://github.com/nodejs/http-parser/blob/652b0153c5489c6054058fc0db86e0176fee131b/http_parser.c#L929-L951)

[2017-11-22 14:10] aqrln commented on #17248
Hi @Qix- and thanks for your suggestion, but I would argue that the current behavior is, in fact, correct and conforms to the RFC.

https://tools.ietf.org/html/rfc7231#section-6.5.1:

https://tools.ietf.org/html/rfc7231#section-6.5.5:

In other words, if Node's HTTP parser cannot parse the request because it can't recognize the method, it should send a 400. A 405 would imply that the server suppor

[2017-11-22 14:17] Qix- commented on #17248
I know - I don't think it should do that. Or, it should be opt-out at the very least. I understand when I'm breaking RFC to do some proprietary operations on my HTTP server and now Node refuses to let me do that. Node is forcing its opinion on my applications - something that's a bit out of place for Node, really.

Which RFC? According to RFC 7231 §4.1, there is no limitation on the methods - inst

[2017-11-22 14:18] devsnek commented on #17248
@Qix- you can override `process.binding('http_parser').HTTPParser` for the time being, which i think counts as an "opt out", although its pretty messy.

[2017-11-22 14:21] Qix- commented on #17248
@devsnek I'd rather not re-implement Node internals, but thanks for the hint. If it really comes to it, I can do that. I'd imagine it'd be a huge performance penalty if it were done in pure Javascript, though.

[2017-11-22 14:25] devsnek commented on #17248
related: #1081, #1457

[2017-11-22 14:34] divs1210 commented on #9131
Hi! Take a look at [coroutines.js](https://github.com/divs1210/coroutines.js), which implements green threads in vanilla js.

[2017-11-22 14:38] aqrln commented on #17248
@Qix-:

Yes, that's right. But it's a completely different issue and a limitation of Node's HTTP parser. If you'd like to open a feature request, go for it. However, realistically, I wouldn't make any assumptions about how fast such a feature could land in core if it were implemented, and would it eventually land at all given the amount of churn in critical internal code it would most probably cau

[2017-11-22 14:45] jasnell commented on #17248
The http1 http_parser is written to support a limited range of methods primarily for performance reasons. I've tried changing that before and it ended up with too great of a performance penalty and went no where. At this point, it is exceedingly unlikely to change. Fortunately, the new http2 implementation does not have that problem and supports any HTTP method.

As for the response code, returnin

[2017-11-22 14:50] Qix- commented on #17248
Thanks for the answer @jasnell, that makes sense. I'll look into the http2 module as, luckily, we're not constrained by Node version 👍

[2017-11-22 14:50] #17248 closed

[2017-11-22 16:22] lance commented on #17223
This is a duplicate of https://github.com/nodejs/node/issues/16649. I am going to go ahead and close this one.

[2017-11-22 16:22] #17223 closed

[2017-11-22 17:01] pizzachip commented on #8827
Using http seems to slow down the leak for me vs https, but, it still leaks on v8.9.1

[2017-11-22 17:15] #16755 closed

[2017-11-22 17:26] eugeneo opened #17253 "Tips for debugging on Windows?"
Is there any guide on debugging core Node.js core on Windows? I open node.vcxproj in VS 2017, do a build. Then when I add a single printf statement to a file, it takes Visual Studio forever to rebuild. I also have tried vcbuild.bat from the command prompt, it is just as slow.

It's also impossible to debug with VS as it did not find some header.

On other platforms (even on a less powerful worksta

[2017-11-22 17:45] silverwind commented on #15697
Closing this for lack of support. Also see https://github.com/nodejs/node/pull/16169#issuecomment-346425028.

[2017-11-22 17:45] #15697 closed

[2017-11-22 17:46] bnoordhuis commented on #17253
Paging @nodejs/platform-windows.

[2017-11-22 17:46] refack commented on #17253
Try building a "Debug" target, linking is much faster (it's the linking that takes several minutes in 100% CPU). But It's possible that a debug build will not reproduce.

Another option is to try reducing the level of link time optimizations:
![image](https://user-images.githubusercontent.com/96947/33142074-37e6740e-cf83-11e7-9c9c-35912b53dc7a.png)

As for GUI debugging, that usually works for me.

[2017-11-22 17:58] refack commented on #17253
another idea: build using ninja (`python configure  --dest-cpu=x64 --ninja`) and only use VS for debugging (right click project => debug => "start new instance" should not try to build)
![image](https://user-images.githubusercontent.com/96947/33142323-0a3d1926-cf84-11e7-82c7-45b4a8afe8ff.png)

Also maybe checkout https://x64dbg.com/

[2017-11-22 18:16] bnoordhuis opened #17254 "Make embedding + V8 inspector work again"
See https://github.com/nodejs/node/pull/16981#issuecomment-344573761.

Commit 9e08695f85d4273f01e010cf384f42030d66b453 removed all `v8::platform::PumpMessageLoop()` calls from the code base.

It's problematic for embedders like electron that plug in their own `v8::Platform` because they now no longer get notifications from the V8 inspector.

We should probably restore the `PumpMessageLoop()` calls

[2017-11-22 18:20] bcoe commented on #16531
I've been doing some testing with Node.js on canary versions of v8, with a few caveats that I will discuss in other tickets, the approach outlined by @ak239 works like a charm.

[2017-11-22 18:20] #16531 closed

[2017-11-22 18:31] jasnell commented on #17254
sgtm

[2017-11-22 18:34] refack commented on #17254
+1
We could coordinate with @zcbenz and rollback 2728112 congruent with this fix.

[2017-11-22 18:45] bcoe opened #17256 "proposal: standardize header size prepended before executing scripts in v8"
* **Version* all*:
* **Platform* all*:
* **Subsystem*: coverage,testing*:

## Problem

I've been working with folks on the v8 team to try to move towards using v8's built in coverage as a viable way to collect coverage for Node.js scripts outside of the browser.

When a common-js module is executed in v8, the script is wrapped in a closure which introduces 62 additional bytes to the first line of

[2017-11-22 18:54] addaleax commented on #17254
I wouldn’t personally agree with rolling back 2728112. If we want ourselves or embedders to be able to run multiple isolates in a single process in some way, now or at some point in the future, then the default platform is not going to work for that because it doesn’t allow de-registering `Isolate`s.

[2017-11-22 19:30] andrasq commented on #17005
not the most recent data point, but when I built v8.1.4 in a 64-bit Linux VM, it needed 4GB memory and 4GB disk space.  I repeatedly upped the limits (and resized the disk volume) and retried the build until it finally succeeded with the max KVM memory size of 2047MB plus 2GB swap.  The 4GB disk is the `du -s` size of the source tree after the build.

[2017-11-22 19:45] eugeneo commented on #17253
Yep, does not repro in Debug build (I'm looking into https://github.com/nodejs/node/issues/15558). So far I traced it into V8 (paused event is triggered multiple times).

Ninja definitely looks like a more comfortable build solution but it is still horribly slow.

[2017-11-22 20:04] bmeck commented on #17256
For shebangs, it has been added to [TC39 agenda](https://github.com/tc39/agendas/blob/master/2017/11.md) under "InterpreterDirective" to see if it can be incorporated into the grammars.

Another solution is potentially to just put source maps in all files that are manipulated via source text manipulation by node I think.

Is there a reason it needs to be a number/byte count?

[2017-11-22 20:13] mhdawson commented on #17175
@gibfahn are you investigating this one ? I think its the last blocker before we could enable more of the osx machines.  As I look at the current osx test backlog I'm looking forward to that.

[2017-11-22 20:27] bcoe commented on #17256
@schuay or @ak239 can better speak to how viable this solution would be -- my main concern would be in whether or not we're running coverage through source-map handling, at a point in the stack where it would be easy to take advantage of this information. tldr; I'd love to see v8 test-coverage be a viable solution in Node.js in a reasonable time frame.

[2017-11-22 20:42] bnoordhuis commented on #17256
Would passing -62 as the column offset to `v8::ScriptOrigin` (and thence to `v8::ScriptCompiler::CompileUnbound()`) work?

I remember trying that some years ago and I believe it worked okay except for a bug in the old debugger (which is gone now.)

[2017-11-22 20:45] gibfahn commented on #17175
What patch version of 10.10 are you on? I'd assume we want to be on the latest, in which case this shouldn't block 10.10 going into CI.

I am looking at this, but no reason we shouldn't mark the test as flaky on macOS <10.10 in the meantime.

[2017-11-22 20:46] refack commented on #17253
Yeah I had the same experience while trying to dig into #15558... At least now we have a positive-control to check how link optimizations affect the binary.

BTW: did you check that all accesses to libuv are thread safe?

[2017-11-22 20:52] SamuelSchepp opened #17259 "Debugger crashes with assertion failure while using Chrome DevTools and remote debug"
* **Version**:
8.9.1 LTS
* **Platform**:
macOS 10.13.1 (17B48) (Darwin Kernel Version 17.2.0)

While using the Chrome DevTools and node --inspect, the node process crashes right after Chrome auto-detected the debug session as a network target.

[code]
Using Webstorm 2017.2.5.
<img width="1060" alt="nodejscrash" src="https://user-images.githubusercontent.com/11752441/33149203-2ea63770-cfcf-11e7-80e

[2017-11-22 20:55] addaleax commented on #17259
Do you have a reproduction for this?

[2017-11-22 20:58] gibfahn commented on #17164
Regarding https://github.com/nodejs/node/issues/17175#issuecomment-346461397

I agree with @Trott, I don't see any point in maintaining test coverage for old macOS platforms that are already marked experimental. Especially as if we have https://github.com/nodejs/node/issues/17175 which only fails on experimental platforms (and passes on 10.10.5 and up).

[2017-11-22 21:18] eugeneo commented on #15558
@refack

I see this issue using the JS API (e.g. there's no second thread running, libuv is not used for anything). What I am seeing is that session is receiving repeat "Debugger.paused" notifications from the V8. Number of those repetition is same as the total number of the previous sessions + 1. E.g. if I open and close 2 sessions, third session I will be notified thrice.

It does not look like

[2017-11-22 21:18] eugeneo commented on #17253
@refack

I dumped my findings so far on that PR. I will keep investigating.

[2017-11-22 21:22] SamuelSchepp commented on #17259
I added a reproduction instruction, but I am only able to reproduce this on one of three computers and only while using Webstorm 2017.2.5. Webstorm 2017.1.4 seems to work fine.

[2017-11-22 23:24] mhdawson commented on #17164
One thing to consider is that I if you mean we have them marked as experimental, that is mostly because we did not have test coverage.  Not saying that we need to support them, but basing the decision on the fact they are currently marked experimental is not a good reason as they are probably only experimental because  we did not have test coverage due to lack of machines.

We probably need a disc

[2017-11-22 23:26] mhdawson commented on #17175
@gdams I'm guessing we are on an older version of 10.10 as it would have started with what was installed from the cd.  I wonder if we can add to our ansible script so that we upgrade as part of ansible config ?

[2017-11-22 23:30] gibfahn commented on #17164
I agree, I just meant that we don't need to support those levels because they're already in the support matrix, so we can start fresh.

Agreed, maybe worth raising an issue in nodejs/build for that.

[2017-11-22 23:41] mhdawson commented on #17175
I can see from the UI on one of the machines that there is a pending update.  I'll go ahead an let this be applied to validate it resolves the issue.  We may want to see if we can configure updates to happen automatically through ansible (should we decide we want that).

[2017-11-23 02:25] zcbenz commented on #17254
I would be happy to try whether your fix would work in Electron.

[2017-11-23 05:28] Trott commented on #17148
@Tiriel There's already code in `test.py` to remove `NODE_PATH` from the environment before exectuing tests:

[code]

Perhaps the root cause of the problem is something else. Maybe check for the other things listed in https://nodejs.org/api/modules.html#modules_loading_from_the_global_folders that confound module loading:

[code]

[2017-11-23 08:21] richardlau commented on #17148
You can also set `NODE_DEBUG=module` environment variable to see where Node.js is looking to load modules from.

[2017-11-23 08:22] targos opened #17270 "V8 test broken on master"
CI run: https://ci.nodejs.org/job/node-test-commit-v8-linux/1072/

`v8tests.inspector/debugger/caught-uncaught-exceptions` is failing. Test added in https://github.com/nodejs/node/pull/16897.

[2017-11-23 08:22] targos commented on #17270
/cc @nodejs/v8

[2017-11-23 08:41] Tiriel commented on #17148
Awesome thanks both of you! I'll check into it ASAP

[2017-11-23 09:42] schuay commented on #17256
I think we should fix this in V8. The problem is that we report source positions without taking wrapper script offsets into account. We should have access to these in `Script::line_offset` and `Script::column_offset` [here](https://cs.chromium.org/chromium/src/v8/src/objects/script.h?l=46&rcl=32db97f2a0c7e7e0765c3b2e05c893052c5a49af). Opened https://crbug.com/v8/7119.

Just double-checking - stack

[2017-11-23 09:43] Bamieh opened #17271 "running make test adds git untracked files"
Hello,

When i run the tests `make -j4 test` against the project, i get the following changes on git to be tracked on my development branch:

![image](https://user-images.githubusercontent.com/6191849/33166511-34b89bb6-d043-11e7-8400-0f6f5e7ba63f.png)

I believe we have to add those in the `.gitignore` or is this intended?

* **Branch**: master branch

[2017-11-23 09:50] vsemozhetbyt commented on #17271
It seems this may be fixed in the https://github.com/nodejs/node/pull/17224

[2017-11-23 10:43] bzoz commented on #17080
Can you try updating npm?

[2017-11-23 11:19] Judahh opened #17274 "Error: Cannot find module 'node-linux-arm/package.json'"
* **Version**: 9.2.0, 9.0.0, 8.9.1
* **Platform**: Linux Raspbian 9
* **Subsystem**: node-linux-arm@9.0.0

Every time I try to run npm install I got this error:

npm ERR! code E404
npm ERR! 404 Not Found: node-linux-arm@9.0.0

npm ERR! A complete log of this run can be found in:
npm ERR!     /home/pi/.npm/_logs/2017-11-23T11_16_13_907Z-debug.log
module.js:544
    throw err;
    ^

Error: Cannot fi

[2017-11-23 11:33] bnoordhuis commented on #17274
Can you post that to the help repo?  This bug tracker is not the right place for support questions.  Thanks.

[2017-11-23 11:33] #17274 closed

[2017-11-23 13:45] SamuelSchepp commented on #17259
It crashes by using Step-Out instead of Resume.

[2017-11-23 15:56] calidion commented on #17190
on the contrary,  it will be a relief for them by removing useless code to handle event with null data.

[2017-11-23 16:35] mhdawson commented on #17175
After update tests pass on 10.10

[2017-11-23 17:07] mhdawson commented on #16973
#17161 landed closing

[2017-11-23 17:07] #16973 closed

[2017-11-23 18:22] webmobiles opened #17277 "node --experimental-modules don't give the code where to find the error, just Invalid or unexpected token. Eg v.8.9.1"
I'm testing projects renaming js to .mjs in order to execute them with --experimental-modules
they are proyects running ok with babel.

But I keep guessing where the error can be found on my code. I get always an error that it's hard to find:

(node:16709) ExperimentalWarning: The ESM module loader is experimental.
SyntaxError: Invalid or unexpected token
    at ModuleJob.loaders.set [as modulePro

[2017-11-23 18:40] devsnek commented on #17277
the `await pool.end();` is invalid, `await` can only occur in async function bodies

[2017-11-23 18:52] kaatt opened #17278 "Bizarre behavior with p-throttle, p-cancelable and Bluebird"
* **Version**: node v8.9.0 and v9.1.0
* **Platform**: macOS and Linux
* **Subsystem**: ?

When the global Promise object is replaced with bluebird, the async function mysteriously never resolves in the below code:

[code]

When the above code is run, the process just exits with code `0` and `End` or `Returned` is not logged to the console.

When Promise isn't patched, or when `pThrottle` isn't use

[2017-11-23 18:56] webmobiles commented on #17277
yes, but my post is about node does not show where is the error, file and line...

[2017-11-23 19:26] bnoordhuis commented on #17278
Can you post a test case that doesn't use third-party modules?

[2017-11-23 19:31] jpike88 opened #17280 "UNABLE TO DEBUG - Linking error, dependency promises must be resolved on instantiate"
* **Version**: v8.8.1
* **macOS Sierra**: Darwin MacBook-Air.local 17.0.0 Darwin Kernel Version 17.0.0: Thu Aug 24 22:01:05 PDT 2017; root:xnu-4570.1.46~3/RELEASE_X86_64 x86_64
* **Subsystem**: ES6 Module loader

I branched my code and converted everything to ES6 import and export statements.

I then ran from the command line the following, and it worked just fine:

[code]

Then I tried to debug w

[2017-11-23 19:33] kaatt commented on #17278
Idk how to repro without third-party modules.
It'll require dissecting the source of p-throttle and bluebird and narrowing down exactly what's causing this.

[2017-11-23 20:23] bnoordhuis commented on #17176
@kurrestahlberg I'll close this out for now for lack of anything actionable.  If you have any new findings, let me know and I'll reopen.

[2017-11-23 20:23] #17176 closed

[2017-11-23 20:24] seishun commented on #17278
Exactly. Surely you don't expect us to do this work?

[2017-11-23 20:33] Fishrock123 commented on #17278
I'm not 100% sure the author is asking us to do it (but yes), since this looks like it was cross-posted to us by @benjamingr's suggestion in bluebird. We should wait to see what happens on that end.

[2017-11-23 20:47] bnoordhuis commented on #17254
@zcbenz Can you describe in a few words what the ideal electron + node integration would look like?  I remember you used to have trouble integrating with the libuv event loop.  Perhaps we can work out something better now.

If you want something a little less open-ended: who should sit at the bottom of the call stack, node or electron?  Who should call `uv_run()`?

[2017-11-23 20:59] Fishrock123 commented on #8460
The `uv_run(UV_RUN_ONCE)` part was changed in https://github.com/nodejs/node/commit/9e08695f85d4273f01e010cf384f42030d66b453 ... @bnoordhuis any idea if the ordering issues are still present? (Although we may want to make the change regardless.)

[2017-11-23 21:01] Fishrock123 commented on #1671
Did anyone ever follow up on this?

[2017-11-23 21:17] bnoordhuis commented on #8460
9e08695 should have fixed the ordering, yes.  The issue of timer callbacks and immediate callbacks getting interleaved with other callbacks still exists.

[2017-11-23 21:31] apapirovski commented on #17190
@calidion That presumes that everyone will magically update all their modules that actually rely on that event existing. It's a breaking change for very little gain.

[2017-11-23 23:06] bnoordhuis commented on #17181
Answered, closing.

[2017-11-23 23:06] #17181 closed

[2017-11-23 23:16] benjamingr commented on #17278
The process exiting without the log part is likely a bug on our (Node) end. @kaatt can you try narrowing it down further?

[2017-11-23 23:16] #11875 closed

[2017-11-23 23:29] bnoordhuis commented on #17277
Okay, so the test case can be simplified to:
[code]
And then you get a decent error message with:
[code]
And a rather less useful one with:
[code]
The error message is slightly different when it's in an imported module but it's the same basic bug.

[2017-11-23 23:31] mhdawson commented on #15604
I spent some time looking at this today and have a first cut at api additions in this branch:https://github.com/mhdawson/io.js/tree/promise_resolve

It adds:

napi_open_callback_scope
napi_close_callback_scope

And this is some test code that I've been working with:

[code]

What I don't quite have yet is a way to test it out properly.  @rolftimmermans can you take a look and fill in a bit more in

[2017-11-23 23:37] mhdawson commented on #15604
The other thing I'd want to poke to get a bit more detail at is why napi_create_async_work()/napi_queue_async_work() cannot be used.

[2017-11-24 02:45] joyeecheung commented on #17190
@calidion It's not necessarily true that every module maintainers would be willing to take the time and update their module & do releases for this. Many popular modules that rely on this behavior are not really maintained anymore.

[2017-11-24 03:09] roderickObrist commented on #16949
**Version**: 8.9.1
**Platform**: Ubuntu 17.10 x86
**Command**: node --inspect=9222 index.js

[code]

I'm not sure if the "me too" is appreciated but I thought I might as well add my stack trace of seemingly the same problem

[2017-11-24 04:52] kslearn commented on #5436
same error come
![355](https://user-images.githubusercontent.com/33948209/33195858-2a4d31d2-d101-11e7-813f-755d935580dc.PNG)

[2017-11-24 04:57] webmobiles commented on #17277
okey,  I get the error in another situations too, but I this a bug ? why with --experimental-modules  i dont get the error ? what about if i want to start a new project just with  --experimental-modules ?

[2017-11-24 05:12] kaatt commented on #17278
Okay, here's a repro repo with only bluebird as a dependency: https://github.com/kaatt/node-promise-bug
Looks like `p-cancelable` also contributes to the bug (which `got` was using internally).

Is there anything else I could do to narrow it down further? Bluebird is a huge source base and idk how to find the parts relevant for this bug.

[2017-11-24 05:46] roderickObrist opened #17284 "ETIMEDOUT during syscall connect()"
Hi All,
* **v8.9.1**:
* **Linux Rod-Desktop 4.13.0-17-generic #20-Ubuntu SMP Mon Nov 6 10:04:08 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux**:

I'm running a bot that does mostly https requests, sitting only on around 5 https requests per second MAX. My bot scrapes 5 different reliable websites.

I've found that every 100 or so https requests I get"
[code]

Some deeper searching into the stacks and th

[2017-11-24 06:29] TimothyGu commented on #16949
@roderickObrist Upgrading to 8.9.2 (when it is released) should fix this.

[2017-11-24 07:24] vkurchatkin commented on #17278
Not really. It just means that promise is never resolved

[2017-11-24 07:38] targos opened #17286 "Can we disable the C4251 build warning on Windows?"
It generates a huge amount of output and comes mostly from V8.

/cc @nodejs/platform-windows

Edit: documentation: https://docs.microsoft.com/en-us/cpp/error-messages/compiler-warnings/compiler-warning-level-1-c4251
Edit 2: maybe I'm imagining it but it seems that the build is faster after disabling the warning...

[2017-11-24 07:39] rolftimmermans commented on #15604
I'll have a look soon to see how this fits in my code.

The reason napi_create_async_work()/napi_queue_async_work() is not adequate is that the promise will be resolved by polling on a socket with libuv and `uv_poll_t`. So it's not a pattern that fits into the idea of doing a fixed amount of work and then resolve a promise afterwards.

[2017-11-24 08:05] vkurchatkin commented on #17278
Here is a minimal repro:

[code]

Definitely has nothing to do with Node.

[2017-11-24 08:05] #17278 closed

[2017-11-24 08:48] rwlnd commented on #17080
Ok. So, a quick update on this and how I was able to get things working again. (npm update didn't work either).

I logged in with the user that was mentioned in the _not permitted_ error, uninstalled node and deleted **everything** node related with the help of [this stackoverflow thread](https://stackoverflow.com/questions/20711240/how-to-completely-remove-node-js-from-windows).

Then I logged ba

[2017-11-24 10:43] bnoordhuis commented on #17286
See discussion in #15570.

[2017-11-24 10:44] bnoordhuis commented on #17114
Looks like this has been answered.  Closing.

[2017-11-24 10:44] #17114 closed

[2017-11-24 10:46] targos commented on #17286
Ah sorry, I forgot to search first. Closing in favor of https://github.com/nodejs/node/pull/15570

[2017-11-24 10:46] #17286 closed

[2017-11-24 10:56] bnoordhuis commented on #17284
ETIMEDOUT errors are a fact of life, you just need to handle them like you would any other run-time error.  They mean the TCP handshake didn't complete within a sufficient time frame.

Do you get that assertion error while debugging with the inspector?  That should be fixed in the next release.

[2017-11-24 11:30] bnoordhuis commented on #17277
@webmobiles See #17281, it's going to get fixed.

[2017-11-24 13:59] gabrielschulhof commented on #13512
It sounds like we may want to add an API like the following (first pass):

[code]

This would cover the use case of creating a `uv_async_t` on the main event loop for the purposes of calling back into JS.

Notes:
* `napi_call_async_function` doesn't take a `napi_env`, which kinda breaks the overall API look and feel, but it does encapsulate storing the `napi_env`, which is necessary.
* the number

[2017-11-24 14:13] mhdawson commented on #15604
Just wondering if scheduling aysnc work, doing the fixed amount of work and then scheduling another async work for the next time has issues ?

[2017-11-24 14:17] jackcaron opened #17287 "Problem to require "addon" in parent directory (Windows)"
* **Version**: 8.8.0
* **Platform**: Windows

On Linux, all of this works naturally, but on Windows, we have serious problems with requiring an add-on if it's the parent path, or a subdirectory of the parent path.

So, if I'm in the parent directory and run node with the following:
[code]
it loads beautifully!

Let say I go in another subdirectory and run node with the following:
[code]
I get an h

[2017-11-24 14:48] mhdawson commented on #15604
Possibly related, also with suggested API addition https://github.com/nodejs/node/issues/13512

[2017-11-24 14:51] mika-fischer commented on #13512
Yes, I think something like this is needed. This goes into the right direction, but I have some comments:

- I'm not sure if this API causes issues with the management of the lifetimes of the arguments. Maybe it would be nicer to manage lifetimes of the arguments and return values if we just had a context `void*` that gets passed to `napi_call_async_function` and then forwarded to `napi_async_func

[2017-11-24 15:26] #17216 closed

[2017-11-24 16:11] LavrovArtem opened #17288 "Error: socket hang up if CRLF line is missed"
https://www.w3.org/Protocols/rfc2616/rfc2616-sec6.html
[code]
Server for reprodusing:
[code]

The calling `http.request()` to `localhost:1234` throws an error with text `socket hang up`. But if I add `+ '\r\n'` to the responce, everything will work correctly.
Chrome, Firefox end IE correctly parse this invalid responce.

Any workarounds??

* **Version**: 9.1.0
* **Platform**: Win 8.1 x64

[2017-11-24 17:31] bnoordhuis commented on #17288
It's an invalid request.  I'm closing this since it's not a valid bug report.  If you're simply looking for help, open an issue in the help repo.

[2017-11-24 17:31] #17288 closed

[2017-11-24 17:35] bnoordhuis commented on #17287
Can you post your question over at the help repo?  This tracker is for bug reports only, which this issue is not.

[2017-11-24 17:35] #17287 closed

[2017-11-24 17:40] gabrielschulhof commented on #13512
Adding a `void*` for context makes sense.

`native_data` is the data to be converted to `napi_value`s for `recv` and `argv` of `napi_call_function()`.

The number of arguments does not have to be established *a priori*. I offered that as an expansion to this API. We can add that from the start.

I forgot to mention that `NULL` can be passed for `native_return_value` if you don't care. `napi_async_

[2017-11-24 17:52] gabrielschulhof commented on #13512
... or something for which we'll have to add a `bool` parameter to `napi_create_async_function()`.

[2017-11-24 19:51] targos commented on #17244
I'm OK with this.

[2017-11-24 19:59] maclover7 commented on #12719
headers.tar.gz seem to be present in the latest v9 and v10 nightlies -- going to give this a close, but please reopen if starts happening again.

[2017-11-24 19:59] #12719 closed

[2017-11-24 20:01] Trott commented on #12646
Everyone nominated in this issue has been onboarded! I'm closing this issue. It's always good to have more nominations, so if you've got someone to nominate, open a new issue! Thanks!

[2017-11-24 20:01] #12646 closed

[2017-11-24 20:02] maclover7 commented on #14754
I think this was be solved via #14735 -- [here's a sample](https://github.com/nodejs/node/blob/master/test/parallel/test-http-outgoing-proto.js#L60-L67) of what the new error would look like. Please feel free to reopen if necessary :)

[2017-11-24 20:02] #14754 closed

[2017-11-24 20:19] targos commented on #8382
Top-level await is now supported in the REPL. Closing.

[2017-11-24 20:19] #8382 closed

[2017-11-24 20:27] targos commented on #8224
Fixed in https://github.com/nodejs/node/pull/14343

[2017-11-24 20:27] #8224 closed

[2017-11-24 20:30] targos commented on #10406
Fixed in https://github.com/nodejs/node/pull/10409

[2017-11-24 20:30] #10406 closed

[2017-11-24 20:38] #14220 closed

[2017-11-24 20:43] jackcaron commented on #17287
@bnoordhuis will do!

[2017-11-24 20:52] targos commented on #15386
This was fixed in https://chromium-review.googlesource.com/c/v8/v8/+/742657
I guess we can safely backport this commit.

[2017-11-24 21:40] roderickObrist commented on #17284
I have no issue with network timeout errors, I know how to handle them and have been handling them for 5 years.

But I don't think that's what this is, because it's not a network or remote server issue. It's a localised issue that only happens on this server. This is a timeout between nodejs and the linux syscall connect(), not between my local server and a remote server on the network layer.

I'v

[2017-11-24 21:41] targos commented on #14326
Fix in https://github.com/nodejs/node/pull/17290

[2017-11-24 22:22] Trott commented on #17164
10.9 and 10.10 are unsupported by Apple, the vendor. Do we want to support operating systems that the vendor isn't supporting anymore? (My answer is "no" but of course it's not my decision.) If someone is using an outdated operating system for which there are no patches forthcoming, they're used to stuff not working 100% and they're unlikely to be updating Node.js.

[2017-11-24 23:59] bnoordhuis commented on #17284
Ah, okay.  You're probably hitting a kernel bug.  I can confirm from first-hand experience that the 4.13.0-x kernel in 17.10 has some teething issues.

Nothing node.js can do about that; try reporting it to Ubuntu.  I'll close this out but thanks for the report.

[2017-11-24 23:59] #17284 closed

[2017-11-25 00:23] gibfahn commented on #17164
My answer is no too, and given that you're a member of the Build WG I'm pretty sure it is your decision (in part) 😁 .

If this were enterprise Linux, where we know people continue to run production servers on old release lines, it might be different, but on macOS, where usage is almost exclusively development machines, I doubt people are still on 10.10.

[2017-11-25 01:35] gabrielschulhof commented on #13512
@mika-fischer you're right about the return value. It's not even one-to-one, so the return value can't really be passed back to the thread, but it can at least be processed on the loop thread. So, here's the next version:

[code]

[2017-11-25 07:52] mjwalkermusic commented on #13815
As a complete newbie, I can verify that I'm totally confused about what's happening with npm 5+.

I want to create apps in React Native, and they require me to use a previous version of npm.

I've seen bits and pieces about what to do next... I need to downgrade to 4.something ... and I need to empty a cache?

Do I need to uninstall Node too? Super confusing

[2017-11-25 07:54] kambojakhil1991 opened #17291 "In my website i am using node net package but getting error net.connect method not found ."
* **Version**:
* **Platform**:
* **Subsystem**:

[2017-11-25 07:55] kambojakhil1991 opened #17292 "In my website i am using node net package but getting error net.connect method not found.If i use command node test.js then it is finding net.connect but when i am using test.js in my website its giving error No method net.connect()"
* **Version**:
* **Platform**:
* **Subsystem**:

[2017-11-25 08:14] mscdex commented on #17292
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2017-11-25 08:14] #17292 closed

[2017-11-25 08:14] mscdex commented on #17291
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2017-11-25 08:14] #17291 closed

[2017-11-25 10:41] pdkovacs opened #17294 "Copy-paste typo in the API doc of `url.format(urlObject)`."
* **Version**: v9.2.0
* **Platform**: All
* **Subsystem**: Documentation

Copy-paste typo in the API doc of `url.format(urlObject)`.

Actual:
[code]
Expected
[code]

[2017-11-25 11:54] Bamieh commented on #17271
closing this since #17224 fixed this

[2017-11-25 11:54] #17271 closed

[2017-11-25 13:28] joyeecheung commented on #17080
So I think this issue is caused by running node installed by another user? Then the EPERM error should be reasonable if there are some permission policy changes in the Windows update.

I'll close this issue for now because this does not look like a node core bug, but feel free to ping here if it is.

[2017-11-25 13:28] #17080 closed

[2017-11-25 14:48] #17294 closed

[2017-11-25 17:38] p3x-robot opened #17297 "decorators"
Ciao!

How are you?

Do you guys when the ```decorators``` will be implemented?

Thanks,
Patrik

[2017-11-25 18:33] devsnek commented on #17297
thats actually not node's job to decide. check out https://github.com/tc39/ecma262#ecmascript for more info on how the process of introducing features in to javascript works.

[2017-11-25 23:01] cjihrig commented on #17297
Closing as answered.

[2017-11-25 23:01] #17297 closed

[2017-11-25 23:17] jsonxr opened #17300 "--experimental-modules does not respect "module" inside the package.json"
* **v9.2.0**:
* **Darwin Jasons-Mac.local 17.2.0 Darwin Kernel Version 17.2.0: Fri Sep 29 18:27:05 PDT 2017; root:xnu-4570.20.62~3/RELEASE_X86_64 x86_64**:
* **Subsystem**:

# node --experimental-modules

Using node --experimental-modules does not respect "jsnext:main" or "module" inside the package.json file. I understand that node expects files to have the ".mjs" extension. The issue is that eve

[2017-11-26 00:02] devsnek commented on #17300
there has been extensive conversation about this, i think most of it happened here: https://github.com/nodejs/node-eps/pull/60

[2017-11-26 00:12] vkurchatkin commented on #17300
See https://github.com/nodejs/node-eps/blob/master/002-es-modules.md#44-shipping-both-esm-and-cjs

[2017-11-26 00:12] #17300 closed

[2017-11-26 04:19] maclover7 commented on #14752
@chriskuehl Does this still reproduce on v9.2.0?

[2017-11-26 04:52] chriskuehl commented on #14752
@maclover7 yes it does, same reproduction steps. Here's output based on the test repro I linked above:

[code]

[2017-11-26 10:25] gibfahn commented on #13815
Do you have a link to the part that says you have to use a previous version of npm? A quick google turns up this: https://github.com/facebook/react-native/issues/14767 , which suggests that you might be okay with npm 5.

It also tells you how to install npm 4 in https://github.com/facebook/react-native/issues/14767#issuecomment-312249551:

[code]

Nothing in that page tells you to clean a cache, b

[2017-11-26 19:15] jasnell commented on #15387
The `Http2Session` instance will emit a `close` event when it is complete.

[2017-11-26 19:15] #15387 closed

[2017-11-26 19:17] jasnell commented on #15525
I've been strongly considering this, to be honest. Having the separate `aborted` event is really not all that useful.

[2017-11-26 19:47] mjwalkermusic commented on #13815
Thanks for the reply @gibfahn. I was able to install npm4 and it seems to be working now.

I forget exactly what the command was, but I know it was in the terminal. I think it was when I used create-react-native app or something like that - it came up with an error message saying, “unfortunately npm 5 is not supported; we recommend downgrading to npm 4.”

I’m new and pretty over my head, but I’m r

[2017-11-26 21:37] refack opened #17331 "doc: how to use advanced features of `configure` on Windows"
Refs: https://github.com/nodejs/node/pull/17066

The `configure` script recognizes many CLI flags for special build formulas. Many are not represented by `vcbuild` shortcuts, and need to be passed either by:
* Calling `python configure --XXX --YYY=PPPP` directly, followed by `vcbuild noprojgen`
* Setting `set config_flags=--XXX --YYY=PPPP` before calling `vcbuild`

This should be documented.

[2017-11-26 22:55] Announcement commented on #17331
@refack good now provide a pull request

[2017-11-26 23:44] maclover7 commented on #16877
@joyeecheung since the fast-track label has been created, this can be closed, right? (wasn't sure, wanted to double check)

[2017-11-26 23:59] maclover7 commented on #6911
Going to close out this issue since the maxBuffer specific problem was fixed. Please feel free to open a new issue regarding backtick-enclosed links if still necessary!

[2017-11-26 23:59] #6911 closed

[2017-11-27 00:12] #16877 closed

[2017-11-27 00:13] joyeecheung commented on #16877
@maclover7 Yes, thanks for the reminder

[2017-11-27 03:10] bcoe opened #17336 "bug: Runtime.executionContextDestroyed event does not fire for .mjs files"
* **8.x+**:
* **All**:
* **inspector**:

## Background

Following up from #16531, for CommonJS modules we are now able to collect detailed coverage information regardless of how a process exits. This is facilitated by:

1. starting a process with `--inspect-brk`.
2. running `startPreciseCoverage`.
3. waiting for the event `Runtime.executionContextDestroyed` (this will fire when the isolate termina

[2017-11-27 03:54] bcoe opened #17337 "native v8 test coverage - remaining blockers"
## Background

we've been working on getting it to the point where it's elegant and simple to instrument scripts executed with Node.js with v8's native test-coverage feature.

It's my hope that this could represent a future direction for the [Istanbul](https://github.com/istanbuljs) project (the tool that's currently most commonly used for facilitating test coverage for Node.js). Istanbul currentl

[2017-11-27 03:59] bcoe commented on #17256
@bnoordhuis thanks for helping point us in the right direction, we have some work in progress now that applies column/line offset to the coverage positions.

Off the top of your head, should these values being set appropriately when a script is currently executed in v8? I was reading [this comment](https://github.com/nodejs/node/blob/master/src/node.cc#L1381) and didn't quite follow the current st

[2017-11-27 05:38] TimothyGu opened #17340 "--inspect-brk does not work with ESM"
* **Version**: master
* **Platform**: Linux 4.9.0-4-amd64 SMP Debian 4.9.51-1 (2017-09-28) x86_64 GNU/Linux
* **Subsystem**: esm, inspector

From https://github.com/nodejs/node/issues/17336.

[code]

[2017-11-27 05:40] TimothyGu commented on #17336
This bug isn't actually in the ESM loading system but in c8, since the `.mjs` file actually goes through the regular CJS loading process due to a lack of `--experimental-modules`. I've filed a PR that fixes this issue in c8 at https://github.com/bcoe/c8/pull/6.

However, that PR doesn't make ESM just start working in c8 because of a separate bug in Node.js, which I've filed at https://github.com/n

[2017-11-27 05:40] #17336 closed

[2017-11-27 05:50] TimothyGu commented on #17337
@bcoe thanks so much for all your work on performant test coverage with V8! Some thoughts below.

FWIW the inspector emits messages only to stderr, while I would expect TAP output etc. to use stdout. But I agree, having a mode that disables such behavior would be ideal.

I would've suggested sniffing stderr for `Debugger listening on ws://`, but as you've mentioned it's bad idea for this applicati

[2017-11-27 06:20] bcoe commented on #17337
@TimothyGu I kind of like the idea of listening on `stderr` and parsing the port that gets selected by `--inspect-brk=0` (unless @addaleax/@eugeneo come back with a better suggestion. It feels like this would be less breakable, once we start talking about running a test suite with 100s of files.

[2017-11-27 08:51] mika-fischer commented on #13512
Well then I'm afraid this thing does not make too much sense in my opinion...

* The name `napi_async_function` with the suggested semantics is very misleading, because the expectation is that the function will be called whenever the `async_function` is invoked.
* There will be lifetime issues if you put data into `napi_call_async_function`, expecting to free it in `napi_async_function_args_to_js_

[2017-11-27 09:44] AyoAlfonso commented on #17169
@daxlab I tried pushing some changes to `test-http-malformed-request` to use countdown. However it is presently denying me permission. Is there someone else working on this ?

[2017-11-27 11:41] AndreasMadsen opened #17349 "Add trace_events Clock Sync Event for Date.now() and hrtime()"
* **Version**: >= 8.x
* **Platform**: all
* **Subsystem**: trace_events

`trace_events` has an internal clock, this makes it very difficult to correlate the data with other external data. I would suggest that we emit a [Clock Sync Event](https://docs.google.com/document/d/1CvAClvFfyA5R-PhYUmn5OOQtYMH4h6I0nSsKchNAySU/edit#heading=h.rgcugfne66rf) on startup for synchronizing with `Date.now()` and `p

[2017-11-27 11:58] Bamieh commented on #17169
@AyoAlfonso you have to fork the node package on github, then apply your changes on the fork. Finally you submit a pull request against the main node github master branch. good luck!

[2017-11-27 12:07] surajwy opened #17351 "Crash in uv__io_stop"
* **Version**: v6.12.0
* **Platform**: Linux 4.9.27-14.31.amzn1.x86_64

Below is the stack trace:
[code]

Below are the values for registers:
[code]

Here is the disassembly file.
[disassembly_uv_stop.log](https://github.com/nodejs/node/files/1505725/disassembly_uv_stop.log)

As per disassembly log, we've got a crash at this step: `mov    0x20(%rsi),%rcx`
[code]

[2017-11-27 12:28] bnoordhuis commented on #17351
Can you post the output of `p *(uv_stream_t*)0x44fb850` and `p *(uv_loop_t*)0x1e26140` and include the output of `image list`?  Thanks.

[2017-11-27 12:36] bnoordhuis commented on #17349
You mean adding a `TRACE_EVENT_CLOCK_SYNC_ISSUER()` in the right place?  Seems fine to me, I'd say go for it.

[2017-11-27 12:44] surajwy commented on #17351
[code]

[code]

[code]

[2017-11-27 12:48] AndreasMadsen commented on #17349
Oh, brilliant. I was looking to see if we had the macro but I couldn't find it.

[2017-11-27 12:52] surajwy commented on #17155
I just got a crash on node v6.12.0
[code]

Below is the crash point from disassembly:
[code]

Values of registers:
[code]

[2017-11-27 12:58] ronag opened #17352 "http.ClientRequest response object only emits close after abort?"
The response object from `http.ClientRequest` only seems to amit a close event if the request was aborted?

[2017-11-27 13:09] bnoordhuis commented on #17351
Thanks.  The `uv_stream_t` is owned by Node.js itself but since you're using quite a few add-ons, it's possible one of them stamps on memory.

What's more, that doesn't like a binary from https://nodejs.org/.  Can you try with an official binary?

[2017-11-27 13:12] nikolasburk commented on #17223
@MylesBorins How do I switch to using the npm version that's bundled with Node?

[2017-11-27 13:14] surajwy commented on #17351
I am using an official binary. Below is the `node -p process.config`
[code]

[2017-11-27 13:18] ronag commented on #17352
Also, it seems to me that all errors are emitted on the request object and never on the response object. Is the `'error'` listener even useful on the response object?

[2017-11-27 14:01] mithunsasidharan commented on #17169
@Bamieh : Can you help review my PRs... thanks !

[2017-11-27 14:09] AyoAlfonso commented on #17169
Thanks, @Bamieh  ! Just did exactly that after tripping about a bit.

[2017-11-27 14:18] AndreasMadsen commented on #17349
As suspected it is not implemented: https://github.com/nodejs/node/blob/212b12c155706b1b21bd1c48a7b525c20c2aacbf/src/tracing/trace_event.h#L213

[2017-11-27 14:24] MylesBorins commented on #17223
@nikolas install node with a version manager such as nvm or with our .pkg / .msi installers if you are on OSX or windows

[2017-11-27 15:18] bnoordhuis commented on #17349
Curious, it exists in deps/v8/base:
https://github.com/nodejs/node/blob/4ca4db0d4cd5eb3e7eb0dafdfef9ee3e9d091e0d/deps/v8/base/trace_event/common/trace_event_common.h#L922-L926
Time to sync up again, I suppose?

cc @matthewloring - do you still work on tracing?

[2017-11-27 15:21] targos commented on #17349
should I add something to `update-v8` that syncs this file?

[2017-11-27 15:27] bnoordhuis commented on #17351
Quick sanity check: can you post the output of `ldd /usr/bin/node`?

[2017-11-27 15:54] AndreasMadsen commented on #17349
@bnoordhuis It is `INTERNAL_TRACE_EVENT_ADD_WITH_TIMESTAMP` that isn't implemented.

[2017-11-27 15:58] surajwy commented on #17351
[code]

[2017-11-27 15:58] ianguerin opened #17353 "node debug process never disconnects"
* **Version**: 8.9.1
* **Platform**: Linux 88a9dd2a2175 4.9.49-moby #1 SMP Wed Sep 27 23:17:17 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

I am executing end to end tests using a chrome driver for selenium. Jest is the framework that executes the tests.
When running: `node --inspect=0.0.0.0:9229 ./node_modules/.bin/jest -i`
I have a series of end to end tests that run in a docker container against a

[2017-11-27 16:07] jasnell commented on #17349
Definitely +1 on this. @bnoordhuis ... the trace events implementation in core was never completed and has quite a bit that has not been implemented yet. Specifically, none of the `_WITH_TIMESTAMP` macro variations have any implementation at all.

@matthewloring moved on to a different role within Google.
@ofrobots @JustinBeckwith ... has there been any progress in identifying who will be followin

[2017-11-27 17:32] sam-github commented on #13512
I don't understand why we need napi API wrappers around uv. napi wraps the JS engine, to allow portability between node versions, and across node variants built against alternate JS engines, but it doesn't wrap the networking, async, dns, file system, threadpool, etc., etc. APIs from uv, and its not clear why it should.

The higher level C++ API has more convenience functions built above the n-api

[2017-11-27 17:36] addaleax commented on #13512
Also, since it was brought up here earlier: https://github.com/node-ffi-napi/get-uv-event-loop-napi-h provides a way to get the current `uv_loop_t*` for a given `napi_env`.

[2017-11-27 17:54] mika-fischer commented on #13512
@sam-github `AsyncWorker` is not applicable because it schedules work on the Node/libuv thread pool. Sometimes you need to call back into JS from a completely different thread.

For instance imagine wrapping a C function that blocks for a really long time. Sure you can start sacrificing threads from the thread pool for this, but what if you need to do this multiple times? Better to have a separate

[2017-11-27 18:11] addaleax commented on #13512
@mika-fischer There’s no immediate connection to what you said, but the lack of facilities to get the right `uv_loop_t*` instance was brought up earlier in this thread (by the OP @gpean).

I do agree with @sam-github however; N-API has nothing to do with threading, it just provides access to Node and JS land. The `napi_delete_*_work` functions are utilities that should ideally be implementable in

[2017-11-27 18:33] eugeneo commented on #17353
This does not seem to be a Node.js issue. Node "stuck" on this message means there is a frontend connected to the instance. In your case, I do not know what the frontend is. Please open a bug against the product that is acting as a frontend (Selenium?).

[2017-11-27 18:33] #17353 closed

[2017-11-27 19:38] ianguerin commented on #17353
The front end connected to the node process is the Chrome Node.js Developer Tools.

[2017-11-27 19:46] eugeneo commented on #17353
Chrome DevTools need to be manually disconnected (closed or Alt+R) for the
Node process to terminate.

On Mon, Nov 27, 2017 at 11:39 AM Ian Guerin <notifications@github.com>
wrote:

[2017-11-27 20:07] #15312 closed

[2017-11-27 20:24] LunaSquee commented on #3692
I can't request my site via HTTPS either.
[code]
My nginx ssl configurations are
[code]
Node.js v9.2.0
OpenSSL 1.1.0g  2 Nov 2017
nginx/1.12.2

It has worked before, I don't know when this error started occuring but I've noticed just now

[2017-11-27 20:58] vsemozhetbyt opened #17358 "CI does not post status to PR currently"
Examples:
https://github.com/nodejs/node/pull/17345
https://github.com/nodejs/node/pull/17350
https://github.com/nodejs/node/pull/17357

[2017-11-27 21:15] vdeturckheim commented on #17143
@AndreasMadsen if I understand well, I just need to move the domain related code from `events.js` to `domain.js`? If so, I should be able to open a PR this week.

[2017-11-27 21:18] maclover7 commented on #17358
Sigh... I have a feeling this is related to https://github.com/nodejs/build/pull/985

cc @phillipj

[2017-11-27 21:22] maclover7 commented on #17358
Moving this to nodejs/build issue tracker --> https://github.com/nodejs/build/issues/1016.

[2017-11-27 21:22] #17358 closed

[2017-11-27 21:26] gareth-ellis opened #17359 "Running Node.js benchmarks in the community CI"
Hello @nodejs/collaborators ,

The community benchmarking workgroup has been working to get an easy way to launch and test the impactof a PR using a subset of benchmarks, making use of the hardware that was donated by Intel.

We've had a number of people test this out, and now we're at the point where it would be useful (both for us from a testing/verification perspective, and for the rest of the

[2017-11-27 21:40] AndreasMadsen commented on #17143
@vdeturckheim That would be awesome. It should be possible to do it with a monkey-patch of EventEmitter or similar hack.

[2017-11-27 22:00] vdeturckheim commented on #17143
lgtm, that's what I had in mind.

[2017-11-27 22:17] #16257 closed

[2017-11-27 22:17] ORESoftware commented on #4596
It looks like in Node.js version 9, Promises were added to core? At least for fs?
where can I get info on that?

[2017-11-27 22:21] chmeeedalf commented on #16257
Thanks!

[2017-11-27 23:33] nbkhope commented on #13815
@mjwalkermusic that is correct. When you try to generate a React Native project using `create-react-native-app`, it gives out an error saying npm@5 has issues and does not work with `create-react-native-app`, so it suggests downgrading or using yarn.

[2017-11-27 23:38] MagicDuck opened #17362 "str.indexOf() is reported as allocating memory by "Record allocation profile""
* **Version**: 8.9.1
* **Platform**: windows 10 64bit
* **Subsystem**:

When the following, fairly typical implementation of counting the number of newlines in a string is profiled, the "Record allocation profile" result in dev tools reports lots of memory being allocated by `indexOf()`:
[code]
(original source: https://github.com/webpack/source-list-map/blob/master/lib/helpers.js#L7)

![image](ht

[2017-11-27 23:45] addaleax commented on #17362
This is a bit of a shot in the dark (and I’m not sure how one would verify it), but one plausible explanation would be that the input string is a cons string, i.e. represented as a concatenation of strings, rather than a single contiguous chunk of memory. When the JS engine sees that you’re accessing the elements of the string in a linear fashion (or maybe just access the elements at all?), it mig

[2017-11-28 00:42] addaleax commented on #16624
@jasnell What's the status on this one? :)

[2017-11-28 00:44] addaleax commented on #16600
@bnoordhuis I guess this was fixed by https://github.com/nodejs/node/pull/17087?

[2017-11-28 00:45] jasnell commented on #16624
In progress. Decided to split over multiple PRs. I've opened several up to this point, preparing another now.

[2017-11-28 00:53] BrighTide commented on #16600
Looks to be 👍

[2017-11-28 00:53] #16600 closed

[2017-11-28 00:55] OutsourcedGuru commented on #9355
For what it's worth (OS X 10.11.6) with a recently-updated Node.js (8.6.0), my previous gulp-related project then failed its "gulp serve" with the indicated error message.

1. cat package.json |grep gulp
    "gulp": "^3.8.5",
2. npm uninstall gulp --save-dev
3. Using nano, manually added that line above back into package.json under devDependencies section
4. npm install

It now works as expected.

[2017-11-28 01:58] #16636 closed

[2017-11-28 01:58] #6802 closed

[2017-11-28 02:01] #14746 closed

[2017-11-28 02:40] bmonty commented on #16196
Setting `tls.DEFAULT_ECDH_CURVE` to `auto` is a work around for code that I write.  Is there a workaround for code that I didn't write (i.e. npm)?  I'm using node v8.9.1 on OSX installed using homebrew.

[2017-11-28 03:50] Frugality commented on #16708
FWIW I ended up writing a native extension to flip the live_edit_enabled boolean to true. This gets me running through 8.9.1 at least. You can see the extension here: https://github.com/Frugality/v8-script-live-edit . I mostly use this for writing game-servers in node, where the amount of state can be quite large (making the edit/shutdown/startup/refresh cycle take a while), and I'm experimenting

[2017-11-28 04:08] MylesBorins commented on #14326
Fix has landed in 6.x-staging and will be released in 6.12.1

[2017-11-28 04:08] #14326 closed

[2017-11-28 04:26] joyeecheung commented on #17359
BTW: https://github.com/nodejs/node/issues/16557 is still open (the CI is using the test double for HTTP benchmarks because it does not have wrk/autocannon installed.)

[2017-11-28 05:27] toddwong commented on #15217
Will cluster.fork honor this windowsHide eventually?  It calls child_process.fork without this option for now I think.

[2017-11-28 07:29] gareth-ellis commented on #17359
I can take a look - if there's issues like that in the future, tagging the benchmarking team would notify a larger group of people and so hopefully someone can look. I'll comment in that issue

[2017-11-28 07:36] gareth-ellis commented on #16557
Hello,

I don't like the idea of having a static copy of node on the machine, as some jobs add node to the path, and then run tests - if we have another node on the path, we could risk running the wrong one (if for example the node we've just built failed, and wasn't picked up; jobs would keep running but on the static version of node).

I think either adding to an ansible script so its installed

[2017-11-28 08:48] mika-fischer commented on #13512
@addaleax There are no issues, I've got this running exactly like you suggest.

It's just that in my understanding one of the intended goals (if not *the* goal) of n-api is to ["allow modules compiled for one version to run on later versions of Node.js without recompilation"](https://nodejs.org/api/n-api.html#n_api_n_api). And this is not possible if module writers need to call into libuv directly

[2017-11-28 09:04] joyeecheung commented on #16557
@gareth-ellis Sorry I am not quite following, I think adding wrk to the machine does not require a static copy of node? Or am I missing something?

[2017-11-28 09:09] joyeecheung commented on #16557
@gareth-ellis Oh is it for installing autocannon? I think if we choose wrk instead (as suggested in https://github.com/nodejs/node/issues/16557#issuecomment-340458380) we would not have to worry about having a node in the path at all.

[2017-11-28 09:22] AndreasMadsen commented on #17259
@SamuelSchepp do you have async stack traces enabled for the debugging?

In `8.9.1` we have `async_hooks` checks disabled by default. Only by using `async_hooks` are they enabled. `async stack traces` in inspector uses the `async_hooks` feature.

[2017-11-28 10:24] sclairet opened #17367 "[N-API] napi_define_class should support more callback type"
* **Version**: v9.2.0
* **Platform**: Any

The function **napi_define_class** doesn't allow to define getter and setter callback functions for named properties and indexed properties.

Is it planned to support it in the future ?

Thanks.

[2017-11-28 10:28] gareth-ellis commented on #16557
Yes, sorry. It seemed the conversation was suggesting autocannon which would/may require a static node installed, or wrk which does not. I prefer the idea of not having static copies of node around, so wrk seems a good way forward.

[2017-11-28 10:31] guybedford commented on #17130
The fix here has been merged.

[2017-11-28 10:31] #17130 closed

[2017-11-28 11:52] addaleax commented on #13512
@mika-fischer So, essentially the point here is: Is the libuv API/ABI going to be stable enough to support addons using them for basic async stuff forever, or can we make it that? Does that sound about right to you?

Yeah, I agree.

I think it would be nice if we could go with essentially having a locked `uv_async_t` API/ABI… for the API that should be doable, for the ABI I do see changes between

[2017-11-28 12:03] addaleax commented on #17367
`napi_define_class` takes a `properties` argument, which is a list of `napi_property_descriptor`s, and those support getters and setters; or am I misunderstanding?

[2017-11-28 12:57] toddwong opened #17370 "Set windowsHide flag when call child_process.fork in cluster.fork"
I'm not very sure about this, actually i'm a newbie to node's cluster, but it doesn't make a lot of sense to me to show many console windows when build a cluster.

For a real world scenario, I'm using pm2 with the --instances argument. It opens too many black console windows, which really annoying.

[2017-11-28 13:29] sclairet commented on #17367
Yes you are right but you can only define a setter and a getter for an explicit property, for which the name is passed into "utf8name" or "name" member.
I would like to define a generic getter and setter which will be called for any property.

V8 supports it and provides following API:

[code]

[2017-11-28 13:41] ddimitrioglo opened #17371 "How to pass environment variable if it is an array"
---
* **Version**: `v6.11.4`
* **Platform**: `Darwin Kernel Version 17.2.0: Fri Sep 29 18:27:05 PDT 2017; root:xnu-4570.20.62~3/RELEASE_X86_64 x86_64`

---

Let's assume that we have `test.sh` with content:
[code]

and we have `test.js`
[code]

I expect to see
[code]

but receiving: `one,two,three`

Please help me understand the root cause..

[2017-11-28 13:46] devsnek commented on #17371
environment variables can only be represented as strings, so Array#toString is used, which joins the elements with commas.

[2017-11-28 14:43] mscdex commented on #17371
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2017-11-28 14:43] #17371 closed

[2017-11-28 15:52] rogerkerse commented on #17040
It is happening to me and my coworker as well. Only with node 9. Node 8 works well so it seems there is some kind of compatibility issue between 9 and jest

[2017-11-28 16:00] addaleax commented on #17367
Ah, right, thanks for clarifying!

/cc @nodejs/n-api

[2017-11-28 17:16] apapirovski commented on #17362
I think @addaleax is correct here. Also, presumably, `=== 0` does not allocate anything because it doesn't actually need to flatten the string since there's no possible way a string character could strictly equal an integer.

[2017-11-28 17:47] sam-github commented on #13512
The uv API&ABI has been kept very stable, and 1.x has been waiting for a while, but I'm not sure if/when it scheduled for merging. @cjihrig @bnoordhuis @saghul do you have any idea?

It has been possible for a long time, uv 1.x will be the first break, as far as I know.

Creating a compat layer that would give API&ABI independency between current libuv and libuv 1.x seems to me a justifiable reaso

[2017-11-28 18:37] #15303 closed

[2017-11-28 19:04] MajoBogado commented on #13635
@GottfridL but how this package-lock,json works? Why is been generated? Because your solution worked for me but when the command finished a message saying that  I need a package-lock.json file show up, even though the running was successfully

**npm notice created a lockfile as package-lock.json. You should commit this file.**

[2017-11-28 20:06] cjihrig commented on #13512
The current status is this:
- @bnoordhuis has a PR in libuv open to merge v1.x into master.
- After that, there are a number of PRs targeting master that I'd like to land.
- I'd like to release libuv 2 in Dec., Jan., or Feb. After that, I'd like to release a new major ~1 time per year.

I don't dislike the idea of N-API smoothing over any incompatibilities. I'd prefer that over restricting what ca

[2017-11-28 21:30] #17076 closed

[2017-11-28 22:01] mhdawson commented on #13512
My thoughts are that N-API should smooth over the essential functionality from uv.  Hopefully the 80/20 rule applies so that a small number of additions to N-API covers 80% of usage that might otherwise have to use uv directly.

[2017-11-28 22:04] mhdawson commented on #13512
Possibly related https://github.com/nodejs/node/issues/15604

[2017-11-28 22:13] mhdawson commented on #17367
@sclairet would you have time to put together poposed signatures for the N-API functions to support this ?

[2017-11-28 22:18] adjavaherian commented on #5436
I'm seeing a similar issue and remarkably, was even able to reproduce it with nslookup on high sierra randomly.
[code]
My Node ENOTFOUND is on v8.4.0 and happens intermittently while resolving bower package dependencies for a project, so I'm actually using request through the bower npm package. Is there a way to force request to use IPv4 globally at runtime?  I'm guessing the glibc that ships with

[2017-11-28 22:22] mhdawson commented on #16557
We should add a comment to this issue https://github.com/nodejs/build/issues/868 if we install wrk manually on the machines

[2017-11-28 22:40] electrocoder opened #17378 "Your distribution, identified as "onyedi", is not currently supported"
curl -sL https://deb.nodesource.com/setup_9.x | sudo -E bash -

Installing the NodeSource Node.js v9.x repo...

System :
Pardus 17.1 XFCE (64-bit)
http://www.pardus.org.tr/

Your distribution, identified as "onyedi", is not currently supported, please contact NodeSource at https://github.com/nodesource/distributions/issues if you think this is incorrect or would like your distribution to be consid

[2017-11-28 22:42] TimothyGu commented on #17378
This is not https://github.com/nodesource/distributions/issues. Please file an issue there instead. We don't maintain the binaries distributed by deb.nodesource.com.

[2017-11-28 22:42] #17378 closed

[2017-11-28 22:45] bnoordhuis commented on #17351
The reason I thought that is that libcrypto.so and libssl.so are mapped into the process.  The official binaries don't do that, they link openssl statically, but it's a staple of distro-built copies of node.

And the reason I bring it up is that while it is technically possible for multiple copies of openssl to exist in a single process, it's notoriously fickle.  One of your add-ons is pulling it

[2017-11-29 00:20] MagicDuck commented on #17362
Unfortunately, I can't share our code base, but I now believe you guys are correct. Reason is I observed if I change how the strings are allocated causes the indexOf() allocation to appear/disappear. Concatenating the strings with += makes it appear. Doing an array.join("") causes it to disappear...

[2017-11-29 00:20] #17362 closed

[2017-11-29 00:30] ofrobots commented on #17349
Hi Folks! :wave: Sorry for the late reply @matthewloring was previously working on trace events, but since he is no longer working on the same team, @kjin and I are ramping up on the trace event implementation.

There have been some changes made upstream to make it easier for embedders to reuse the libplatform implementation of tracing controller rather than having to duplicate. See changes on thi

[2017-11-29 02:57] MylesBorins commented on #17270
I'm not 100% but I think the failure was due to that test trying to use an AsynIterator API. I've opened https://github.com/nodejs/node/pull/17383 with a potential fix

[2017-11-29 06:44] manoharreddyporeddy commented on #12005
Here is an working example:

https://stackoverflow.com/a/47546591/984471

[2017-11-29 07:40] gareth-ellis commented on #16557
Is there ansible scripts for the benchmarking machine already? Seems would be quite an easy thing to write in ansible, so if there's somewhere I can add the bits required to install wrk via ansible, I'm happy to submit a PR

[2017-11-29 09:30] hashseed opened #17386 "Solaris support?"
Is Sun Solaris or OpenSolaris supported? There are defines in V8 that seem unmaintained. There have been [infrequent](https://codereview.chromium.org/2245703002) [fixes](https://chromium.googlesource.com/v8/v8/+/d8e37c32f359032f16c6b5d8d1b03ba99939e5cc) though.

The wiki page for building Node does not list Solaris as [supported platform](https://github.com/nodejs/node/blob/master/BUILDING.md#supp

[2017-11-29 09:36] targos commented on #17386
SmartOS is supported and tested in CI. I usually submit fixes with the help of @nodejs/platform-smartos
 when canary is broken on this platform.

[2017-11-29 11:29] #17277 closed

[2017-11-29 12:44] vsemozhetbyt opened #17387 "CI status in PR differs from status in ci.nodejs.org"
https://github.com/nodejs/node/pull/17345

**PR status**: All checks have passed. 13 successful checks

**ci.nodejs.org status**: one failure (centos6-64), one machine (freebsd10-64) still running (https://ci.nodejs.org/job/node-test-commit/14457/)

P.S. Now the status has suddenly turned into "1 pending and 12 successful checks".
P.P.S Now it is "All checks have passed. 13 successful checks" agai

[2017-11-29 14:51] mhdawson commented on #16557
@gareth-ellis unfortunately we don't have an ansible script for the benchmarking machines yet.  See discussion here: https://github.com/nodejs/build/issues/868

[2017-11-29 14:55] #15260 closed

[2017-11-29 15:21] AndreasMadsen commented on #17143
Added:
* [Remove domain integration in timers](https://github.com/nodejs/node/blob/4503da8a3a3b0b71d950a63de729ce495965f6ea/lib/timers.js#L266L275). I think this code can just be removed :/
* Check for leftovers:
  * [env declarations](https://github.com/nodejs/node/blob/4503da8a3a3b0b71d950a63de729ce495965f6ea/src/env.h#L274)

[2017-11-29 15:32] philippefutureboy commented on #8823
Is there any update regarding the feasability of a fix for this one?
If not, would there be any way to detect programmatically ahead of time if a device is a network disk? If so maybe the `fs` methods could call `fs.watchFile` by default instead?
If not, would it be possible to at least make the `fs_event_wrap` throw a meaningful error within the JS runtime? It would really make debugging easier :

[2017-11-29 17:06] Mickael-van-der-Beek opened #17390 "Node.js / HTTP-Parser not handling UTF-8 encoded HTTP header values"
Hi,

I've encountered an issue regarding the way HTTP header values are decoded.
The [HTTP Parser](https://github.com/nodejs/http-parser) project might be a better place to post this issue to but I thought I'd post here first.

Currently it would seem that Node.js is decoding HTTP header values as US-ASCII / ASCII-7.

This becomes an issue now that browsers and servers started supporting UTF-8 val

[2017-11-29 17:08] Mickael-van-der-Beek commented on #17390
This issue might also be related to:

https://github.com/nodejs/node/pull/2629

and

https://github.com/nodejs/node/issues/13296
https://github.com/nodejs/node/pull/16237

[2017-11-29 17:14] apapirovski commented on #17390
I don't think Node should support something that goes against the spec. In this case Node assumes that any encoding is done by the user and values received conform to the spec.

The problem with changing this is that there's going to be a significant performance penalty.

[2017-11-29 17:17] apapirovski commented on #17390
/cc @nodejs/http @nodejs/http-parser

[2017-11-29 17:24] Mickael-van-der-Beek commented on #17390
@apapirovski On the other hand, (IRIs)[https://tools.ietf.org/html/rfc3987], who's value are reflected in HTTP, are starting to get adopted and gain momentum.

Maybe it's possible to have a white-list of headers like `Location`, `Origin`, `Referer` and `Link` to not mitigate the performance impact but that would seem a bit hackish and trigger obscure bugs. So it's probably a bad idea.

Setting it

[2017-11-29 17:28] apapirovski commented on #17390
Even IRIs specifically mention this as being problematic in relation to http and cover percent encoding extensively.

       be able to carry IRIs.  The intent is not to introduce IRIs into
       contexts that are not defined to accept them.  For example, XML
       schema [XMLSchema] has an explicit type "anyURI" that includes
       IRIs and IRI references. Therefore, IRIs and IRI references ca

[2017-11-29 17:52] cratter49 opened #17392 "fs.writeFileSync intermittently does not create file on disk when called in parallel"
* **Version**: v8.8.0
* **Platform**: Linux 729a00fd3f64 4.4.74-boot2docker #1 SMP Mon Jun 26 18:01:14 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

I'm currently running a custom Jupyter notebook server within a Docker container. In this server there is code that executes a NodeJS script one or more times which launches an instance of headless chrome, extracts some information from the DOM of a page t

[2017-11-29 18:31] seishun commented on #17138
Closing as an answered question.

[2017-11-29 18:31] #17138 closed

[2017-11-29 18:33] fmeawad commented on #17349
For now, I would recommend to just sync the trace_event_common.h file as that macro does not require any changes on the back-end since it uses an existing internal macro.

Meanwhile, I will check with @ofrobots if we can reuse the existing file from V8 directly now since some parts have already been exposed now.

[2017-11-29 19:10] addaleax commented on #17367
@mhdawson I think the bigger questions would be:

- What is supported by all JS engines that we’re looking at? It would be pretty straightforward to implement something in N-API that matches V8’s signatures.
- Do we *want* to encourage consumers to use this rather than a real JS `Proxy` object? After all that’s kind of what they’re there for, right?

[2017-11-29 19:21] cjihrig commented on #17392
Can you ask support questions at https://github.com/nodejs/help? This issue tracker is for bug reports and feature requests to Node core. Thanks!

[2017-11-29 19:21] #17392 closed

[2017-11-29 19:29] renatoargh commented on #16746
@bnoordhuis I wonder replacing `crypto.createCipher()` with `crypto.createCipheriv()` may cause any problems like preventing me from decrpting previously encrypted data with `crypto.createCipher()`... is it 100% safe in this sense? Thanks a lot

[2017-11-29 19:42] jasongin commented on #17367
I agree with @addaleax that we should steer people toward proxies for this kind of scenario, as it is a JS standard instead of a V8-specific capability.

[2017-11-29 19:50] cratter49 commented on #17392
@cjchoi `fs` is a module under Node core. The `writeFileSync` method doesn't seem to be working as expected. Doesn't that constitute a bug?

[2017-11-29 20:56] bnoordhuis commented on #17392
@cratter49 You'll need to demonstrate that it's a bug in node.js, not in any of the other components you're using (Jupyter, Docker, etc.)

If you have a reproducible standalone test case, please post it; otherwise this issue is too vague to be actionable.

[2017-11-29 22:33] paulmelnikow commented on #12682
I made [url-path](https://github.com/paulmelnikow/url-path) to solve this problem for me. It supports absolute paths but it would be easy to add relative paths.

[2017-11-29 23:06] bnoordhuis commented on #16746
I uploaded a script to make migrating to `crypto.createCipheriv()` easier:
[code]
Get it here: https://gist.github.com/bnoordhuis/2de2766d3d3a47ebe41aaaec7e8b14df

For counter modes it prints a big fat warning that you should take __very__ seriously.

[2017-11-29 23:40] addaleax commented on #13512
Fwiw, I’ve written out my suggested approach for solving this inside of libuv directly, rather than adding a ton of functions to N-API, in https://github.com/libuv/libuv/pull/1657.

[2017-11-29 23:57] addaleax commented on #17018
This has been fixed by https://github.com/nodejs/node/commit/04aab13ce05b058a36abbb1921bb32b38e606e5d by now :)

[2017-11-29 23:57] #17018 closed

[2017-11-29 23:59] addaleax commented on #17016
Upstream merge request for the fix: https://bugs.chromium.org/p/v8/issues/detail?id=7139&q=&sort=-id&colspec=ID%20Type%20Status%20Priority%20Owner%20Summary%20HW%20OS%20Component%20Stars

[2017-11-30 00:48] #17270 closed

[2017-11-30 00:58] Fishrock123 commented on #17387
@vsemozhetbyt did you try hard reloading the page?

Also I don't see CI status on any of that PR's commits?

[2017-11-30 01:10] Mickael-van-der-Beek commented on #17390
@apapirovski The spec here is actually wrong or at least not specific enough.

Following RFC2616, IRIs are only not allowed in the context of the URL and path related tokens but they are as part of header values.

(By path related tokens I mean: "URI-reference", "absoluteURI", "relativeURI", "port", "host", "abs_path", "rel_path" and "authority" defined in RFC1808 and RFC2396 and used in RFC2616.)

[2017-11-30 01:19] vsemozhetbyt commented on #17387
@Fishrock123 Yes, I tried several times. Now, after landing and closing, the status is gone in the PR, but it was all green in the end (despite the last https://ci.nodejs.org/job/node-test-pull-request/11798/). Should I close this issue until something similar happens?

[2017-11-30 01:29] jsoref commented on #17259
I'm pretty sure I'm hitting this using node9.2.0 (prebuilt) on Ubuntu 16.04.3 w/ Chrome DevTools running on macOS:

[code]

[2017-11-30 01:31] refack commented on #17387
We still have a race problem with the status updates:
1. One of the linux variants fail
2. GitHub reports fail
3. Another linux variant succeeds
4. GitHub reports success

/CC @maclover7 @gibfahn IMHO simplest fix is to report on completion of `node-test-commit`

[2017-11-30 01:38] jasnell commented on #17390
[RFC 7230](https://tools.ietf.org/html/rfc7230#section-3.2.6) is quite specific on the matter,

[code]

And [here](https://tools.ietf.org/html/rfc7230#section-3.2.4):

[code]

The spec cannot be "wrong", but it is possible that some implementations of the spec are not consistent or compliant with the spec.

Specifically, the rule in the spec that says "A recipient SHOULD treat octets in field cont

[2017-11-30 01:46] j3l11234 commented on #10838
╮(╯_╰)╭
@bnoordhuis  @kevinsimper
I submit a issue to chrome
https://bugs.chromium.org/p/chromium/issues/detail?id=789569
It is bug of chrome devtools.

[2017-11-30 08:58] hashseed opened #17396 "JS source should not be wrapped."
When Node.js executes JavaScript, it internally wraps them into an IIFE:
[code]

There are some problems with this:

1) Invalid JavaScript is parsed as correct. This following example executes just fine:
[code]

2) This wrapper shows up as part of source in the DevTools. Since the start line and column are passed as 0, the source positions of errors and break points at least for the first line of

[2017-11-30 09:11] fhinkel commented on #17396
/cc @nodejs/v8

[2017-11-30 09:21] MylesBorins commented on #17396
@hashseed is it safe to assume that V8 function would allow us to continue to inject all the same lexically scoped variables?

Would there be a way to call this function via a macro in js land to avoid having to juggle things between the layers? Can you imagine any reason this would cause execution to be different? My biggest concern right now would be how this would affect current ecosystem tools

[2017-11-30 09:45] #17179 closed

[2017-11-30 09:47] bnoordhuis commented on #17396
I don't remember the details but it didn't quite work last time I tried it: https://github.com/nodejs/node/issues/9273#issuecomment-256111528

[2017-11-30 10:27] loretoparisi opened #17398 "Efficience Way to Trap Signals and Errors"
I have an express server that handles tcp connections to `Redis`, `mysql`, `couchbase` drivers.

I have defined an error handler to trap exceptions in order to gracefully exit:

[code]

So for `SIGINT`, `uncaughtException` and `exit` I trap the error and forward to the `trapHandler`. Then I log the `error` if any and fire a `cleanup` event in order to run a gracefully exit on the client modules be

[2017-11-30 10:36] bnoordhuis commented on #17398
Can you post your question to the help repo?  If you are reporting a bug, you should fill out the issue template.

[2017-11-30 10:36] #17398 closed

[2017-11-30 10:51] loretoparisi commented on #17398
@bnoordhuis thanks done in https://github.com/nodejs/help/issues/1003

[2017-11-30 12:44] hashseed commented on #17396
Hehe... yeah now that I looked closer `v8::ScriptCompiler::CompileFunctionInContext` suffers from the same issue. It also just wraps the source at some point.

Looks like I'll have to fix this in V8 first.

@MylesBorins my hope is that it would semantically not break anything.

[2017-11-30 14:23] sclairet commented on #17367
@mhdawson Just support two new `napi_property_attributes`, `napi_named` and `napi_indexed`, should be sufficient.
If `napi_named` or `napi_indexed` is passed, `utf8name` and `name` members of the `napi_property_descriptor` have to be null.

About others JS engine, I know that JavaScriptCore engine support also generic properties setter and getter callbacks.

@addaleax An another question, what is

[2017-11-30 16:10] addaleax commented on #17367
@sclairet https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy – It’s (for the most part) even more generic than those native APIs and is part of the JS spec itself. It’s available without any runtime flags in Node 6 and above.

[2017-11-30 16:15] devsnek commented on #17367
its also worth noting that napi doesn't wrap `v8::Proxy` yet, but its a pretty simple binding to add

[2017-11-30 16:23] benjamingr commented on #17396
We need to be careful to not break existing code - `return`ing in a module for instance. My gut feeling is that this breaks a _lot_ of code in the wild doing something like:

[code]

[2017-11-30 16:31] devsnek commented on #17396
i feel like we should treat that like we treat
[code]
and just consider it unsupported behavior

[2017-11-30 16:41] sclairet commented on #17367
@addaleax great, maybe it's better to use a JS Proxy and keep only essential features in the N-API

[2017-11-30 16:44] isaacs commented on #17396
Breaking `return` in a commonjs module context will cause significant havoc.

A V8 api that preserves current behavior without an iife wrap would be nice, though. What about using `new Function()`? Does that have the same problems?

[2017-11-30 16:52] devsnek commented on #17396
wouldn't `new Function()` just become `function anonymous(some args) {\n some body \n}` and have the same problem?

[2017-11-30 16:58] mrgle opened #17402 "Sudo breaks node module resolution for relative path"
* **Version**: v8.9.1
* **Platform**: Ubuntu 14.04.5 LTS
* **Subsystem**: require

I have a node project with structure like

[code]

bin/myscript looks like this:

[code]

When I launch the script as a normal user everything works fine. When I try to run the script with sudo the module resolution breaks with the error

[code]
Why does the module resolution fail when running with sudo?

[2017-11-30 17:00] bcoe commented on #17256
conversation has moved to https://github.com/nodejs/node/issues/17396

[2017-11-30 17:00] #17256 closed

[2017-11-30 17:02] phra commented on #15457
@gibfahn thanks for one liner, i will put it as an alias in my `~/.gitconfig`!

actually i hope that people also encrypt HDDs and SSDs, at least the ones with a privileged access to nodejs repository because in theory if you don't encrypt your HDD i can physically remove it, backdoor it, put it back again and just wait for you to write the password on the keyboard, after having copied the encrypte

[2017-11-30 17:32] benjamingr commented on #17396
From what I understand [the suggested CompileNewFunctionInContext](https://github.com/v8/v8/blob/500d7b93153e5fb14a212ac4a87183a2a680b736/test/cctest/test-compiler.cc#L509) would still be a function and would work - I was pointing out `return` in case different solutions are suggested.

(idea: would dropping the `\n` in `Module.wrapper` fix the line numbering?)

[2017-11-30 17:55] isaacs commented on #17396
@devsnek I just tested, and yes, it does.  What's worse, the offset may change between V8 versions, unlike the known iife wrapper Node uses.

@benjamingr I think the same problem applies to `CompileNewFunctionInContext`.  It still adds wrapper code, but then it's wrapper code we can't safely account for.

My suggestion is to leave the CommonJS system frozen, and instead focus on making things righ

[2017-11-30 17:57] isaacs commented on #17396
Only in cases where the error happens on the last line of the script because something wasn't terminated.  For example:

[code]

But otherwise, the only issue is the column offset on line 1.

[2017-11-30 18:15] jdalton commented on #17396
From a user-land view I'd want to be very careful about changes to how Node CJS wrapping. If there is an API change I'd want it to still be user-land accessible since it aids in dev tooling packages.

[2017-11-30 18:33] jdalton commented on #17396
@isaacs

 💯 ++

[2017-11-30 18:36] devsnek commented on #17396
+1 to freezing commonjs system

[2017-11-30 18:45] gibfahn commented on #15457
We don't use the Github merging features at all, so that wouldn't be a problem anyway.

[2017-11-30 18:49] bcoe commented on #17396
@jdalton @isaacs @hashseed locking the existing approach for CJS seems workable, as long as the new ESM system provides appropriate context in the `scriptParsed` event of the debugger. Here's what the meta information looks like currently when you parse a module in v8:

[code]

My expectation would be that anything that  comes through the new module system would have `isModule = true` and would no

[2017-11-30 18:54] jdalton commented on #17396
@bcoe

[code]
can be gotten from `require("module").wrapper[0]` or `module.constructor.wrapper[0]`.

[2017-11-30 18:56] ofrobots commented on #17396
Or
[code]
from [here](https://github.com/GoogleCloudPlatform/cloud-debug-nodejs/blob/b95bae2d9ce0ac8281a679ead5a8981ddf317949/src/agent/v8/debugapi.ts#L54).

[2017-11-30 19:56] oschonrock commented on #14076
I still have problems building node-sass (under gyp) on FBSD11.1.

In order to get the fix in https://github.com/mat813/freebsd-ports/commit/cea3aae9e9f42b02b6a573f2f6c84163da42585a now, I updated to latest packages:
[code]
and then
[code]
but still

[code]
also documented here: https://github.com/sass/node-sass/issues/2153#issuecomment-348280678

[2017-11-30 19:57] bcoe commented on #17396
It looks like we are setting `isModule` to `true` 👍

https://github.com/nodejs/node/blob/master/src/module_wrap.cc#L105

So, I think the only work that would shake out of this is ensuring that ES modules don't have the same wrapper offset issue.

[2017-11-30 20:18] hashseed commented on #17396
I guess for the particular use case of code coverage we can get the wrapper header offset directly and subtract it from the coverage offsets. Might still be nice to move towards hiding this implementation detail though, without changing the general semantics of the function scope.

[2017-11-30 20:38] mrgle commented on #17402
It turns out the issue was not with module loading, but rather the fact that npm by default demotes its own privileges when running pre/post install scripts. As a result the module was actually missing because the post install script didn't create the build directory. I missed a warning in the spew when installing the project

`npm WARN lifecycle <my module>@<my version>~postinstall: cannot run in

[2017-11-30 21:38] oschonrock opened #17404 "can't build node-sass under FreeBSD 11.1"
Duplicate of the (closed) https://github.com/nodejs/node/issues/14076

I still have problems building node-sass (under gyp) on FBSD11.1.

In order to get the fix in https://github.com/mat813/freebsd-ports/commit/cea3aae9e9f42b02b6a573f2f6c84163da42585a now, I updated to latest packages:
[code]
and then
[code]
but still

[code]
also documented here: https://github.com/sass/node-sass/issues/2153#iss

[2017-11-30 21:48] elibarzilay opened #17405 "IPC direct writing fails on Windows"
* **Version**: 9.2.0
* **Platform**: Windows
* **Subsystem**: child_process

Using a fie descriptor directly to send IPC messages is broken on
Windows:

* `x.js`:

[code]

* `y.js`:

[code]

On Linux, this works fine, but on Windows I'm getting:

[code]

If I change `y.js` to use `process.send` it works fine again.  (There's
no reason to avoid it, but we want to get IPC messages from a python
subp

[2017-11-30 22:02] mhdawson commented on #15457
I end up using a number of different machines including some shared ones.  I worry that gpg signing will either limit where I can commit from (making me less efficient) or I'm going to have more work moving keys around.  Is this unjustified ?

[2017-11-30 22:03] jdalton commented on #17396
😕 ? It shows usage. I've used it on more than one occasion too. What's wrong with @isaacs'[stance](https://github.com/nodejs/node/issues/17396#issuecomment-348268445)?

[2017-11-30 22:05] evanlucas commented on #17402
@mrgle glad you were able to get it figured out. I'm going to go ahead and close this as it isn't a bug in core. Thanks!

[2017-11-30 22:05] #17402 closed

[2017-11-30 22:07] bmeck commented on #17396
Nothing, I am not +/- to it, just interested that no statistics were being brought to the table. None of the uses seemed to be abusing the feature for Ill gotten gains while also being popular enough that we need to replicate such a feature for ESM.

[2017-11-30 22:11] jdalton commented on #17396
I don't think anyone was suggesting the feature be added to ESM, just suggesting it not be removed from CJS if it can be helped.

[2017-11-30 22:25] gibfahn commented on #15457
@mhdawson signing is done at commit time, and as all commits are rebased on master, you'd only have to have gpg keys on the machine you use to land commits.

Moving gpg keys is about as painful as moving ssh keys in my experience, so not hugely painful. But this is the question, is it's going to make people's workflows harder then that's a reason not to do it.

If we have an commit landing queue,

[2017-11-30 22:53] bnoordhuis commented on #17404
If you're using the ports version, you should report the issue there.  If it needs coordination with us, the ports maintainer will forward it to us.  It was fixed here in v8.3.0, see #14077.

[2017-11-30 22:53] #17404 closed

[2017-11-30 22:59] addaleax commented on #17405
I think this is the same issue as https://github.com/nodejs/node/issues/16491?

[2017-11-30 23:20] oschonrock commented on #17404
OK. Have emailed port maintainer.

[2017-12-01 01:16] rajsite opened #17409 "Node.js distributions include npm with deeply nested node_modules"
* **Version**:
Any
* **Platform**:
Windows
* **Subsystem**:
npm

The zip distributions available on nodejs.org/dist include a copy of npm with deeply nested node_modules, for example: https://nodejs.org/dist/v8.9.1/node-v8.9.1-win-x64.zip

It would be helpful on Windows (with its terrible long path support) to run `npm dedupe` on the bundled npm prior to archiving. This will allow Windows archive

[2017-12-01 03:20] elibarzilay commented on #17405
@addaleax, that issue talks about sending junk, but I'm sending a json
string.  Also, [the docs](https://nodejs.org/api/child_process.html#child_process_child_process_fork_modulepath_args_options) say that

and it works on linux.

Is there any difference in the expected text on Windows?  Is it
documented anywhere?

In any case, if there is no difference then this is a different problem,
and if the

[2017-12-01 08:49] schuay commented on #17396
Currently, yes. But we're discussing possible solutions where the source string would remain unmodified and the wrapper would be created only as AST nodes by the parser. That'd avoid any complications around weird line/column offsets, and we'd have better verification that the given script is actually valid JS.

[2017-12-01 09:18] TanninOne opened #17413 "path.relative on windows returns incorrect result"
* **Version**: tested with v7.7.4 and v9.2.0
* **Platform**: Windows 10 (64-bit)
* **Subsystem**: path

Code says it best:

[code]

Not sure why c: is treated differently here, but for all other volumes it returns the right result:

[code]

also it appears to happen only on the root level:
[code]

and only if the colon is the last character of the base path
[code]

[2017-12-01 09:20] aakarshan29 opened #17414 "9.2.0 throwing error "The "digest" argument must be one of type string or null""
* **Version**:
* **Platform**:
* **Subsystem**:

After upgrading the nodejs to version 9.2.0, on CentOS 6(Sentora), I am not able to access the application which requires login.

TypeError [ERR_INVALID_ARG_TYPE]: The "digest" argument must be one of type string or null
    at _pbkdf2 (internal/crypto/pbkdf2.js:35:11)
    at Object.pbkdf2 (internal/crypto/pbkdf2.js:25:10)

[2017-12-01 09:30] vsemozhetbyt commented on #17413
It also seems to happen only if the current working directory is in `c:` drive.

[2017-12-01 09:37] TanninOne commented on #17413
I can't confirm that:

'D:\\'

'..\\..\\test'

'test'

[2017-12-01 09:39] bnoordhuis commented on #17396
^ That seems strictly superior to me to what we currently have.  I'm +1 on switching over.

[2017-12-01 09:41] bnoordhuis commented on #17414
Can you post your question in the help repo?  This tracker is for reporting bugs only, not support questions.

[2017-12-01 09:41] #17414 closed

[2017-12-01 09:47] vsemozhetbyt commented on #17413
Hmm. For me, with Node.js 9.2.0 on Windows 7 x64
[code]

[2017-12-01 09:47] TanninOne commented on #17413
Oooh, wait, now I get it. When the first parameter is c: or d: it uses the cwd in the corresponding drive as reference, not the root directory.

[code]

 (remember: windows has a separate cwd for each drive)

[2017-12-01 10:05] bnoordhuis commented on #17405
The documentation needs an update.  I've added labels.  PR welcome.

Quite.  Libuv uses a binary protocol on Windows.

No, and it shouldn't be, it's internal.

[2017-12-01 10:12] bnoordhuis commented on #17409
You should report this over at https://github.com/npm/npm/issues.  We redistribute npm essentially unchanged from upstream and I don't think we want to be in the business of repackaging it.

[2017-12-01 11:32] phra commented on #15457
@mhdawson @gibfahn  i personally use this strategy for backing up my keys:

**BACKUP**
1. generate a pair of keys
`gpg2 --full-generate-key`
1. send public key to keyservers
`gpg2 --send-keys B52FAC34A07EB53F340E985491FF93D1B85D76B5`
1. encrypt and sign the private key
`gpg2 --export-secret-keys --armor | gpg2 --encrypt --sign --armor -r greensoncio@gmail.com > .phra.asc`
1. upload the encrypted v

[2017-12-01 14:41] gibfahn commented on #15457
FWIW you don't need to do this if you only have one key which has the same email as `git config --global user.email`.

[2017-12-01 15:08] a-roberts opened #17416 "Segmentation fault when increasing the stack size on Windows 7"
**Reproduce:**
`node --stack-size=3000 -p ''`.

**Version**: any Node version.
**Platform**: Windows 7 64-bit and I'm using Git bash. With a regular command prompt (`cmd.exe`), the command returns instantly with no output: including with `node --stack-size=3000 -p process`.
**Subsystem**: my guess is V8.

For background we've been running CITGM and hit the RangeCheck call stack size exceeded probl

[2017-12-01 15:52] jdalton commented on #17396
@schuay

That's pretty cool. Something like that could be exposed by `vm` and used by by `Module._compile` without changing the surrounding APIs *(`Module.wrap`, `Module.wrapper`, etc.)*.

[2017-12-01 15:57] eyalella commented on #8369
Thanks to @fauverism pointing to this [stack overflow link](https://stackoverflow.com/questions/35002087/how-do-you-disable-source-maps-in-chrome-developer-tools) the problem was easily **solved** for me.
All you need to do is turn on `Enable JavaScript Sourcemaps` in Chrome's dev tools settings and it works like a charm 🎉
I used `devtool: "source-map"` BTW...

[2017-12-01 16:04] bmeck commented on #17396
@jdalton I don't think this would be passed the entire function string, just the body of the function. Which wouldn't be able to be compatible with .wrap/.wrapper since it would return a function instead of a string and would not be accepting the function prefix/suffix.

[2017-12-01 16:09] devsnek commented on #17396
`vm.internallyWrappedScript('x', 'y', 'return x + y');`

[2017-12-01 16:19] jdalton commented on #17396
@bmeck

Oh, <sub>ok</sub> 😢

[2017-12-01 16:46] bnoordhuis commented on #17416
It seems to be a common misunderstanding but `--stack_size=...` doesn't change the size of the stack, it tells node/V8 how big it is.  If you set it to a value that's bigger than the actual size, it runs over.

It's been discussed in the past to make it change the stack size (and I even remember writing some code to that effect) but ultimately it never happened.

[2017-12-01 17:02] gibfahn commented on #17416
How does it run over so quickly? I'd have thought it would blow when the stack grew past a certain amount, rather than immediately.

[2017-12-01 17:16] hashseed commented on #17396
Yup. I'm experimenting with this right now.

[2017-12-01 19:10] paulius005 commented on #13635
We have been getting the same issue on our Travis builds ever since upgrading to Node 8 and including package-lock.json in our commits

[2017-12-01 20:20] #16625 closed

[2017-12-01 20:40] YurySolovyov commented on #17112
Link is broken

[2017-12-01 20:59] vsemozhetbyt commented on #17112
Maybe https://bugs.chromium.org/p/v8/issues/detail?id=7099

[2017-12-01 21:25] elibarzilay commented on #17405
@bnoordhuis: is there any reason for a binary protocol?  (Practical
curiosity, since we're dealing with a subprocess that can be remote and
therefore a natural way to do it is to still pass json in lines of
text.)

But back to the problem, if the intention is to not rely on even the
possibility of a text-based channel, and if the actual representation is
internal, then the proper fix to the docs i

[2017-12-01 21:34] mhdawson commented on #15457
@gibfahn yes, I have at least 3-4 different machines that I might use for landing changes.

[2017-12-02 01:01] richardfickling opened #17422 "ReferenceError: getlatestObservation is not defined"
Version: 8.1.4
Platform: Darwin skidrow.local 17.0.0 Darwin Kernel Version 17.0.0: Thu Aug 24 21:48:19 PDT 2017; root:xnu-4570.1.46~2/RELEASE_X86_64 x86_64

[code]

that code results in `ReferenceError: getlatestObservation is not defined`

[2017-12-02 01:08] #17422 closed

[2017-12-02 03:26] vic511 opened #17423 "Buffer.alloc(): uninitialized buffer with an incorrectly encoded fill value"
* **Version**: 9.2.0
* **Platform**: Linux debian 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2 (2017-06-12) x86_64 GNU/Linux

Executing this script leads to `buf` being uninitialized.
[code]
![PoC](https://user-images.githubusercontent.com/6304445/33511189-bf7c354e-d716-11e7-88f7-27d873258352.png)

I highly suspect this is because `Buffer.alloc()` calls `buffer.fill()` after allocating memory, which doesn

[2017-12-02 09:30] Trott commented on #16772
WIndows again but this time an assertion failure rather than a timeout:

https://ci.nodejs.org/job/node-test-binary-windows/13307/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=2/console

[code]

[2017-12-02 10:06] manoharreddyporeddy commented on #11568
Above suggested above
I used below **in my /tests/ folder (unit tests)**
for debugging purposes:
`if (process.stdout._handle) process.stdout._handle.setBlocking(true)
`
it works well.

[2017-12-02 10:41] joyeecheung commented on #17005
Just tried building the master on a Ubuntu server with 1GB memory and 1 core, it took < 900MB disk space and < 2hrs.

[2017-12-02 11:38] bnoordhuis commented on #17405
Simplicity and efficiency.  Libuv doesn't want to be in the business of parsing a complex protocol like JSON.

It wouldn't surprise me if that line predates the Windows port.  Perhaps add an "on UNIX" qualifier.

[2017-12-02 11:39] oschonrock commented on #14076
@saper

I solved it. It was to do with how the binary node8 package was being built in the FreeBSD pack build infrastructure. TLDR; it was being built under FBSD 11.0 (clang3.8.0), and if you then run it on a FBSD11.1 (clang 4.0.0) machine the gyp build (of eg node-sass) will fail with above error. Building the port from source on local machine always works.

Details here:
https://lists.freebsd.or

[2017-12-02 11:39] oschonrock commented on #17404
@saper

I solved it. It was to do with how the binary node8 package was being built in the FreeBSD pack build infrastructure. TLDR; it was being built under FBSD 11.0 (clang3.8.0), and if you then run it on a FBSD11.1 (clang 4.0.0) machine the gyp build (of eg node-sass) will fail with above error. Building the port from source on local machine always works.

Details here:
https://lists.freebsd.or

[2017-12-02 19:01] TimothyGu commented on #17413
That's correct. You may want to instead use `C:\` as root. Do you think this issue could now be closed?

See also: #14405 and #14440.

[2017-12-02 20:54] TanninOne commented on #17413
I realize this would be an api change but I believe it would be more intuitive to have C: be treated as the root. Windows api calls like findfirstfile or ntquerydirectoryfile do it. No win api call afaik uses drive specific cwds.

And anyone coming from unixoid oses will also be surprised.
This behaviour is maybe not a Bug but it‘s a BugFactory.
Drive-specific cwds are an abomination, especially s

[2017-12-02 21:02] DavidSouther commented on #9435
This is probably worth its own thread, but I'm also seeing this when Node is a child process of a non-node process, specifically [protoc](https://developers.google.com/protocol-buffers/docs/reference/other).

[2017-12-02 21:49] TimothyGu commented on #17413
@TanninOne

While that may be the case, as a platform-level API we *cannot* go against well-established and [documented](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx#fully_qualified_vs._relative_paths) traditions on a specific OS. Python, for example, follows the current Node.js behavior:

[code]

On this, I wholeheartedly agree.

[2017-12-03 00:54] rdeforest opened #17430 "Undocumented fs.FSWatcher::start() trips assertion in FSEventWrap::Start"
* **Version**: v8.2.1
* **Platform**: Darwin a0999b17f5bd.ant.amazon.com 16.7.0 Darwin Kernel Version 16.7.0: Wed Oct  4 00:17:00 PDT 2017; root:xnu-3789.71.6~1/RELEASE_X86_64 x86_64
* **Subsystem**: fs

I randomly discovered the undocumented start() method on the FSWatcher prototype and started experimenting with it before finding out it's not documented. I created a repro script for you, shown i

[2017-12-03 00:54] TimothyGu opened #17431 "Use %TypedArray%.prototype.subarray for Buffer.prototype.slice"
* **Version**: master
* **Platform**: all
* **Subsystem**: buffer

Currently, [our implementation](https://github.com/nodejs/node/blob/9fb390a1c66c91796626fe199176619ce4a54f62/lib/buffer.js#L992-L1014) of [`Buffer.prototype.slice()`](https://nodejs.org/api/buffer.html#buffer_buf_slice_start_end) operates identically to [`TypedArray.prototype.subarray()`](https://developer.mozilla.org/en-US/docs/We

[2017-12-03 01:28] TimothyGu commented on #17431
A fairer benchmark with mostly proper `@@species` support, suitable for running with d8:

[code]

Still shows `customSubarray` being ahead by much on ToT V8 (v8/v8@d161e0c92e25da9a8fedac3949cff6f7214e6eeb):

[code]

[2017-12-03 02:33] TimothyGu commented on #17430
Please try not to use any language other than vanilla JavaScript when reporting issues here.

Simplified JavaScript repro:

[code]

I can reproduce the issue.

[2017-12-03 02:58] TimothyGu commented on #17430
Indeed; though the fear when it comes to these things is that userland may already be using `start`, after a proper call to `close` for example. With that in mind, I've proposed a simple "don't crash" solution in #17432.

Of course!

[2017-12-03 05:23] singhkgp opened #17433 "How and where should I host Node.js Sample application with 100% for testing purpose?"
Sir,

I am new in Node.js. I want to host my sample application on windows hosting but failed. I am trying to find free node.js hosting server but not understand how to host their.

I have created sample application of Node.js using Visual Studio 2015. I need to know how to host it to free server.

If any one have any answer and right way to host.

Please, reply me all step what should do properly

[2017-12-03 05:39] devsnek commented on #17433
This issue tracker is for bugs and feature requests. I would recommend googling to find the answer to your question, as several trillion articles have been written about this.

[2017-12-03 06:39] devsnek opened #17434 "prototypes and libraries are unsafe inside node core libs"
In a PR i'm working on @ljharb pointed out several cases where using things like `String.prototype.replace` or `fs.readFileSync` are unsafe because user code could override them, forcing me to use things like `const StringReplace = Function.call.bind(String.prototype.replace)` and use that instead. A fair amount of node code uses this pattern, and a fair amount doesn't guard against this at all. I

[2017-12-03 06:41] ljharb commented on #17434
cc @bmeck
@devsnek in that PR, you'll note a few lines with `Function.call.bind(` - that's an attempt to make things robust.

[2017-12-03 06:48] devsnek commented on #17434
maybe we can shadow the builtins so that they stay scoped to the context that the vm runs them in?
[code]

[2017-12-03 06:51] ljharb commented on #17434
@devsnek that would ensure you retain a reference to `String`, but anyone could later mutate `String.prototype` or any of its properties.

[2017-12-03 06:52] devsnek commented on #17434
wouldn't it work though? unless i'm doing something wrong here
![](https://gc.gy/✥⛯ʔ.png)

[2017-12-03 06:58] ljharb commented on #17434
Oh, maybe I'm misunderstanding. I thought node core code doesn't tend to run in a vm? If it's running in a vm, then there'd be different problems, unless that vm's globals were all deep-frozen.

[2017-12-03 07:01] devsnek commented on #17434
i also posted a bad example, i was thinking more like getting a bunch of safe globals like below and then passing them to core libraries
![](https://gc.gy/v☚.png)

[2017-12-03 08:16] mscdex commented on #17434
I would tread very carefully as you never know who relies on the ability to monkey patch such things...

[2017-12-03 08:17] mscdex commented on #17433
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2017-12-03 08:17] #17433 closed

[2017-12-03 08:18] ljharb commented on #17434
Certainly changing old code in this way might be breaking; but ensuring that new code is robust should be safe.

[2017-12-03 14:26] TanninOne commented on #17413
Ok, I'll withdraw my report. To my surprise, FindFirstFile also works this way. It's utterly insane but yeah, that's windows alright. :(

[2017-12-03 14:26] #17413 closed

[2017-12-03 15:33] ryangreenberg commented on #17178
Generally a comparison function that is resistant to timing attacks is used to compare signatures or hashes, which should be the same length by virtue of being generated by a hash function. If you are accepting a user-provided signature and want to compare it in a safe way, it's OK to check the length first and return early, e.g. `return a.length === b.length && timingSafeEqual(new Buffer(a), new

[2017-12-03 16:10] mithunsasidharan commented on #17169
@apapirovski @daxlab : Can you please review the PRs associated with this issues. Several of them are still unreviewed. Thanks a lot !

[2017-12-03 16:20] elibarzilay commented on #17405
@bnoordhuis But at least the simplicity+efficiency reason sounds like
something that would likely be applicable to non-Windows too, right?

[2017-12-03 18:50] hashseed commented on #17431
@psmarshall

[2017-12-04 01:47] TheOne1006 opened #17442 "-2 ** 3 is not work."
exponentiation operators is not work when Bottom number is negative！
in Command interactive mode demo:
[code]
so  why?

[2017-12-04 02:02] vsemozhetbyt commented on #17442
See "Notes" [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Arithmetic_Operators#Exponentiation_(**)).

[2017-12-04 02:27] Trott opened #17443 "flaky test parallel/test-error-reporting on ubuntu1604_sharedlibs_debug_x64"
* **Version**: v10.0.0-pre
* **Platform**: ubuntu1604_sharedlibs_debug_x64
* **Subsystem**: test

https://ci.nodejs.org/job/node-test-commit-linux-linked/556/nodes=ubuntu1604_sharedlibs_debug_x64/console

[code]

[2017-12-04 02:27] Trott commented on #17443
Possibly related to https://github.com/nodejs/node/issues/17016?

[2017-12-04 02:34] Trott commented on #15558
This is now `sequential/test-inspector-bindings`, right?

https://ci.nodejs.org/job/node-test-binary-windows/13320/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=0/console

[code]

[2017-12-04 02:35] addaleax commented on #17442
Interesting… I didn’t know this! I think @vsemozhetbyt’s comment answers the question here, so I’m going ahead and closing this.

[2017-12-04 02:35] #17442 closed

[2017-12-04 02:36] levimm commented on #17254
@bnoordhuis I'll try to rephrase my issue.
I'm using v8::platform::CreateDefaultPlatform in embedding and it requires link to v8_libplatform.lib. I get this v8_libplatform.lib by building nodejs v9.0.0. If I upgrade node to 9.1.0, the addon will fail to work since I need to build a new v8_libplatform again.
I'm not sure if this is the right way of doing this.

[2017-12-04 02:41] addaleax commented on #17443
Yes, it’s exactly that issu… just showing up as a flaky test now because we’ve started including the debug build in CI (the upstream fix & the merge request for V8 6.2 & 6.3 are linked there).

[2017-12-04 02:56] Ethan-Arrowood commented on #17443
@addaleax so would the upstream fix & merge request fix this issue? If not is there something i could do to try and remedy it?

[2017-12-04 02:59] addaleax commented on #17443
@Ethan-Arrowood Yeah, sorry – this issue is going to be fixed when the patch makes its way into Node, and I’m not sure what else we could do…

[2017-12-04 03:19] addaleax opened #17444 "Link libuv & zlib with --whole-archive"
* **Version**: all
* **Platform**: probably not Windows, maybe only Linux
* **Subsystem**: deps/libuv

Currently, we link V8 and openssl with `-Wl,--whole-archive` into the `node` binary, but we should probably do the same for libuv and maybe zlib since we want to expose their entire functionality to userland addons.

/cc @refack @bnoordhuis

[2017-12-04 04:01] #17443 closed

[2017-12-04 04:02] Trott commented on #17443
(Closed as duplicate of #17016.)

[2017-12-04 08:20] liuqipeng417 opened #17448 "Why use new URL() may lead to memory leak ?"
* **Version**: 8.4.0
* **Platform**: Linux version 3.10.0-514.10.2.el7.x86_64
* **Subsystem**: CentOS Linux release 7.3.1611 (Core)

My project is using express.js, and having a code fragment like this:

[code]

When many request come in, the project memory will rise slowly ,and sometimes it will drop a little. but in general it's still up. When i change to `url.parse()`, the memory looks normal.

[2017-12-04 08:25] NiveditN commented on #14544
Hey @refack, the following point has been done in PR #17368 :

[2017-12-04 10:29] medikoo commented on #9435
@bnoordhuis I think the real problem here, is not specifically that forked processes are not automatically inspectable (although having such possibility would be nice), but that master process cannot be inspected if it forks some processes as they're crash in such scenario with `failed: address already in use`

Is there any chance to ensure that it doesn't behave that way (so e.g. on inspect. we h

[2017-12-04 10:32] MCE-KobyBo opened #17450 "Node hangs when building from source with VS 2017 (x64 debug build)"
I'm trying to build the latest stable **node v8.9.1**, on **Windows 10 with VS 2017**.
I've ran the vcbuild batch with the following switches:
`vcbuild vs2017 debug x64 nosnapshot noetw noperfctr small-icu`

Everything works fine and node.exe is successfully compiled. But, when I try to use it, it hangs before I get a prompt, and uses 100% of one cpu core.
I tried to debug it, and it seems that Is

[2017-12-04 11:03] masksnytko opened #17451 "Performance of this module "Events" no best((("
https://github.com/nodejs/node/blob/f29992206807ca3c483301a88688f456cbcd3bf6/lib/events.js#L108

I compared the performance of this module with my simplified implementation (https://github.com/masksnytko/events/blob/master/index.js) and my tests showed an example of the "emit" method to 500 million calls against 30 million per second in this module, although this module is very important in the ec

[2017-12-04 12:36] Shaninnik commented on #13909
Were you able to find a solution? I am struggling with it also - tried everything I can think of but without any luck. I am on Windows (run in Parallels from MacOS), latest Node/NPM version.

[2017-12-04 12:58] kingofest commented on #13909
No, didn't found any. Had to format and reinstall my os altogether. Then
the problem was resolved. So I think it is associated with os rather than
node or npm.

On 04-Dec-2017 6:07 PM, "Nikita Shanin" <notifications@github.com> wrote:

--
*=== Disclaimer ===*
This e-mail (including any attached documents) is proprietary and
confidential and may contain legally privileged information. It is intende

[2017-12-04 13:01] smotaal commented on #15760
@danactive I think import.meta is something that will make it's way through the standards body eventually and node soon after (I hope 10 LTS will have it) until then you might want to explore using the --loader flag with a custom loader.

I have played around with this and tried many different designs, but all lead to the same question of how to ensure that your modules are consumed correctly down

[2017-12-04 13:09] smotaal commented on #16844
@p3x-robot if want a temporary solution to `__filename` and `__dirname` consider this:

[code]

[2017-12-04 14:08] apapirovski commented on #17451
There are two big problems with the approach in the linked implementation.

1. `emit` does not seem to account for modifying the handlers while it's running. Imagine that triggering a handler from `emit(type)` calls `.on(type)`. The solution implemented could end up in an infinite loop potentially (but not just that, it would lead to the newly bound handler being called by the already running `emi

[2017-12-04 14:21] apapirovski commented on #17448
I would figure that there's a higher memory requirement given internals of the WHATWG-URL interface but it sounds like you're saying there's an actual memory leak? Could you provide some more precise numbers/stats? Are we talking a steady increase (say, 10% higher, but not constantly rising) or a never-ending increase over the run of the process?

/cc @jasnell & @TimothyGu

[2017-12-04 14:39] masksnytko commented on #17451
1) Do you think that excessive paranoia should slow down the entire ecosystem 30 times? The developer should think about this, not the module.

2) The first argument is needed to use the event type. Nothing hinders just ignoring it, if it is not needed (in favor of multiple performance)

I propose to add the "emit2" method, with pass-through arguments without sclice 1 and use it in critical places

[2017-12-04 14:43] Cometman2000 opened #17454 "Node.js v8.9.1-x64 unable to access windows installer services"
* **Version**:
* **Platform**:
* **Subsystem**:

Log Name:      Application
Source:        MsiInstaller
Date:          12/4/2017 3:25:56 PM
Event ID:      11708
Task Category: None
Level:         Information
Keywords:      Classic
User:          user-PC\user
Computer:      user-PC
Description:
Product: Node.js -- Installation failed.
Event Xml:
<Event xmlns="http://schemas.microsoft.com/win/2004/0

[2017-12-04 14:57] fhinkel commented on #17244
I'm ok with this. Nit: there's a `CHECK_GE(length, 1)` macro we should use.

[2017-12-04 16:07] bmeurer commented on #17431
Upstream bug: [v8:7161](crbug.com/v8/7161)

[2017-12-04 16:41] mhdawson commented on #17244
I'm generally ok, the only concern is if this will cause significant breakage for existing users.  I guess though that in either case they would have been doing something incorrect and my first guess is that there should not be too much code catching the error and just continuing.

[2017-12-04 16:52] hashseed commented on #17434
You could implement your stuff in a new vm context and use vanilla objects from there, but that doesn't seem practical.

[2017-12-04 16:55] bzoz commented on #17405
I’ve done some investigating regarding https://github.com/nodejs/node/issues/16491. I even made a [fix for that issue]( https://github.com/janeasystems/node/commit/7157c64b4f16e589b433a822c4962cb59c03c72b). The problem is, while it fixed using `console.log`, it still does not support `fs.wrtie` - and there seems to be no easy way fixing that.

But also, it turns out it does not work on Linux too.

[2017-12-04 17:01] ljharb commented on #17434
@hashseed that opens new problems, because it might become possible for users to traverse from the objects created, to those vm primordials, exposing them to the same hazard.

[2017-12-04 17:08] hashseed commented on #17434
Right. You could have to hold onto the actual functions and perform Function.prototype.call on them. Same goes for Function.prototype.call itself, obviously.

[2017-12-04 17:34] bzoz commented on #17450
Are you sure it hangs? Just tried it, built it from sources. It takes a lot of time to start up (about 2 minutes on i5-6500), but it does finally  start. Debug builds are slow.

BTW, do you need `debug` build? It is for debugging C/C++ parts of Node, you can debug javascript with the release build.

[2017-12-04 19:04] codeman869 commented on #13612
I think this should probably be fixed, if you read [RFC 7468](https://tools.ietf.org/html/rfc7468), on page 4:

   permitted, and parsers MUST NOT malfunction when processing such
   data.  Furthermore, parsers SHOULD ignore whitespace and other non-
   base64 characters and MUST handle different newline conventions.

If there's no objections, I'd like to take on this change

[2017-12-04 19:24] JackDanger commented on #9206
I second @bnoordhuis's recommendation to close this as Ruby and Python both open STDIN in read-only mode.

[2017-12-04 19:58] MylesBorins commented on #17244
Would it make sense to do an initial naive implementation and run that against citgm?

[2017-12-04 20:48] TimothyGu commented on #17448
The WHATWG URL implementation uses C++, so there's a possibility that the C++ code has some memleaks in them. In fact Valgrind seems to agree: there's an awful lot of things like the following coming from memcheck:

[code]

all pointing towards `ParseHost()` as the culprit.

[2017-12-04 21:14] MCE-KobyBo commented on #17450
You're right, I just tried my build and it did finally start after around **3:30 minutes**. It makes sense for debug builds to be slower, but  that seems extreme. I've compiled debug builds of node and remember them to be slower, but I don't remember a 3:30 minutes, 100% CPU, startup time. Maybe it's a regression in this node\v8\compiler version?

Oh and yeah I wanted a debug build for debugging n

[2017-12-04 21:18] TimothyGu commented on #17448
Tracked it down to

[code]

But I don't understand why this is the case, as everything should be allocated on the stack (and therefore freed automatically)...

[2017-12-04 21:19] addaleax commented on #17448
@TimothyGu How did you run Node + valgrind to get that output?

[2017-12-04 22:16] refack commented on #17444
This is definatly an interesting suggestion. Some points that come to mind:
1. For libuv this is probably an easier decision...
2. Does it affect the binary size?
3. node implicitly taking responsibility of those libraries' ABI
4. Is this just a convenience or does it protect addons from dll-hell (linking to two incompatible zlib files for example)?
5. How does this fit with the N-API roadmap.

Bo

[2017-12-04 22:20] refack commented on #17444
P.S. I just saw that the full headers files for both zlib and libuv are in the headers tarball, so this is actually a bugfix.

[2017-12-05 00:33] srl295 commented on #15540
Sorry, had forgotten to update the ICU data on this one, see: https://github.com/unicode-org/full-icu-npm/issues/20

[2017-12-05 02:57] liuqipeng417 commented on #17448
@apapirovski
The phenomenon I observed is that memory continues to rise, and memory is released(a little), but the overall trend is rising. My online project (one process qps is 50 - 100) runs 7 days, the memory is up to 1GB. When using `url.parse` , the memory is stable in 100MB.

[2017-12-05 06:13] bcoe commented on #17396
for what it's worth this is no longer blocking #17337, @chrisdickinson came up with the clever approach of looking at the `file://` prefix in the file ID, and varying the header size based on this information.

It sounds like we have a better eventual solution that's in the works however, and I'll update my work accordingly.

[2017-12-05 06:20] bcoe commented on #17337
@TimothyGu we're down to two blockers on this one (and one is barely a blocker):

1. suppressing the debugger log messages (CC: @addaleax).
  * I currently rely on the log message that indicates the port #, but the others end up in the terminal.
  * we could potentially work around this with a list of known debug messages, which we simply skip outputting; I'd love to think of something less hacky

[2017-12-05 06:30] ofrobots commented on #17337
@bcoe have you considered using the in-process inspector JS api rather than using `spawn`? See https://nodejs.org/dist/latest-v9.x/docs/api/inspector.html.

[2017-12-05 06:48] bcoe commented on #17337
@ofrobots yes I was looking at this initially. Unfortunately, it's too late to enable `detailed` coverage by the time you're able to pause the inspector (the isolate has already been created, and the source would need to be reprocessed to add block level coverage).

I know @schuay was investigating making it possible to enable block level coverage post-hoc, but it's not a small task -- one random

[2017-12-05 07:18] TimothyGu commented on #17448
@addaleax

`valgrind --leak-check=full --undef-value-errors=no ./node --expose-gc a.js` where `a.js` contains the script in https://github.com/nodejs/node/issues/17448#issuecomment-349108826. Valgrind is the default installation in Debian stable (1:3.12.0~svn20160714-1). `node` is built normally (release config) except `node_url.o`, which is manually built with `-O0`.

[2017-12-05 07:30] TimothyGu commented on #17451
As a well-established platform we are forced to strive to be 100% bullet-proof -- or have "excessive paranoia" when it comes to these things. While your approach may be sufficient for your own use, I do not believe it is suitable for Node.js core, either as a replacement or as an alternative (e.g. your `emit2` proposal).

I believe what @apapirovski was trying to get at is that removing the first

[2017-12-05 07:56] TimothyGu opened #17465 "VM treats Proxy objects with/without get trap differently"
* **Version**: master
* **Platform**: all
* **Subsystem**: vm

This is a case of "I understand why it acts this way but it still feels weird." Maybe we could put this in the documentation, but filing it here so it's recorded somewhere at least.

[code]

One might expect them to both return the `Object` function.

This is probably because of the fact that VM checks whether or not the sandbox object

[2017-12-05 08:11] joyeecheung commented on #17448
@TimonthyGU That might be a false positive because it is not run with a debug build, see http://valgrind.org/docs/manual/faq.html#faq.reports

[2017-12-05 08:32] mika-fischer commented on #13512
@addaleax:

Not exactly. My reasoning is as follows:
1. Napi should provide an ABI that is stable across Node.js versions
2. Calling back from a foreign thread is essential functionality and should be part of that stable ABI
3. We don't want to dictate ABI stability for libuv
-> We need to wrap uv_async_t in napi

If libuv is ok with cementing their libuv API and ABI for this purpose, that's also

[2017-12-05 09:37] TimothyGu commented on #17448
@joyeecheung That FAQ talks about "still reachable" leaks. The leak here is "definitely lost".

[2017-12-05 10:27] masksnytko commented on #17451
I agree that in your case paranoia may be, but we are programmers, not religious fanatics, I would like concrete examples that such an approach can not be used.

My plan is this:
1) I post the number of on / emit calls by the example of a simple server
2) I find out how much the minimum is called on the request
3) I will do the same thing plus the database

If I prove that the emitter is a bottlen

[2017-12-05 11:16] addaleax commented on #17444
Probably not all that much – these libs are tiny compared to e.g. V8, and they don’t follow a one-function-per-file pattern.

Fwiw I raised this issue in response to not seeing the symbols from https://github.com/libuv/libuv/pull/1657 included in the Node binary, which in turn was made with the intention of having libuv be ABI-stable indefinitely.

Yeah, exactly. :)

[2017-12-05 11:46] addaleax commented on #13512
Fwiw, my PR at https://github.com/libuv/libuv/pull/1657 has been merged, which moves ABI stability largely out of the picture; what remains is API stability, and I think that is something that libuv wants to provide, yes.

I’m not saying N-API can’t provide wrappers here; I have no issue with that but it seems like an layer of indirection that can be avoided.

[2017-12-05 12:15] jorangreef commented on #17451
You may yet find that there are excellent programmers who are both highly rational and highly religious without contradiction. Religion does not imply fanaticism, and setting up a false dichotomy between programming and religion is neither helpful to your argument, nor in line with the Node.js code of conduct.

[2017-12-05 12:33] mika-fischer commented on #13512
@addaleax Having these accessor functions is good in any case.

However, an advantage of wrapping this in napi is that via [node-addon-api](https://github.com/nodejs/node-addon-api) it would be possible to achieve binary compatibility with older Node.js releases like 6.x. If users need to use the accessor functions directly, then binary compatibility is impossible since they just don't exist in ol

[2017-12-05 12:39] masksnytko commented on #17451
In this example, one request is from 10 to 20 calling emit
[code]

And in this example I connected postgres and was surprised.
70 - 100 emit calls per request !!!
For 1000 requests, the number of calls reaches 100,000 calls

[code]

emit function should work as fast as possible !!!

I like node, it has great opportunities for being productive and easy, so I consider it necessary to find a compromi

[2017-12-05 12:42] trygve-lie commented on #17448
We have been struggelig for a while with a very small memory leak without being able to find it. We have almost simmilar code as posted in the initial message here and I'm able to get that part of our code to leak when stress testing it.

In my testing I noticed that the leak are only happening if the host have more then 3 parts.

In other words, this does leak:

[code]

This does not leak:

[code

[2017-12-05 12:42] win-t opened #17469 "`Promise.race` lead to memory leak"
* **Version**: v9.2.0 and v8.9.1, probably other version also affected
* **Platform**: linux
* **Subsystem**: -

I run this code inside docker with `-m 100m --memory-swap 100m` , and then the program crash after few second
[code]

but it perfectly fine when i change `await Promise.race([exitPromise, doWork()]);` with `await doWork();`

[2017-12-05 12:43] addaleax commented on #13512
@mika-fischer Again, this is not an argument against wrapping these in N-API; but:

We’re in that situation already anyway – adding new functions to N-API which don’t work on older versions or don’t work on older versions yet.

And our docs outline have a strategy for that: Performing a version check, and if it passes, load symbols from the current process. I’ve already implemented that for [one o

[2017-12-05 12:48] addaleax commented on #17448
This is happening because `union url_host_value` has `std::string` members but an empty destructor.

I’m working on this but it’s probably going to be a bit of a refactor to fix this in a safe way

[2017-12-05 12:51] lavenpillay commented on #13635
Hi folks,

For me, the "clear cache" option worked - but not using the commands npm commands !

(this will be different for everyone, but maybe it helps)
My issue turned out to be that the directories inside `~/.npm/_cacache/index-v5` were owned by `root` due to previous Installs and Uninstalls I'd tried.
After manually deleting those directories, the npm install worked.

TLDR : Clear cache. Do it

[2017-12-05 12:51] win-t commented on #17469
problem with more shorter code:
[code]

[2017-12-05 12:52] vsemozhetbyt commented on #17469
May it be that you just overflood the memory with many unresolved `exitPromise` Promises?

[2017-12-05 12:53] win-t commented on #17469
but, why?, I create exactly one `exitPromise`, and the purpose is to catch signal and tell the program to exit cleanly

[2017-12-05 12:58] vsemozhetbyt commented on #17469
FWIW, I cannot reproduce the crash on Windows with any of both scripts. Can anybody reproduce on Linux?

[2017-12-05 13:19] win-t commented on #17469
@vsemozhetbyt maybe you need to wait for more, maybe memory leak still occurs but you already stop the script before it happens,
I don't how to limit memory consumption in Windows, but in Linux we can use cgroup (that is what docker use when I tell `-m 100m --memory-swap 100m`)

[2017-12-05 13:33] vsemozhetbyt commented on #17469
The memory does grow fast, but then it GCed. I've waited some minutes without a crash.

[2017-12-05 13:38] refack commented on #17337
Giving it a whirl.

RE using the inspector api: is it an intrinsic limitation of the api or just of the triggering implementation in node? Because having a way to inspect JS from actualy the first line could be useful

[2017-12-05 14:00] schuay commented on #17337
@refack there was some discussion at https://crbug.com/v8/7015#c3 about the startup event when using the in-process API. IIRC the event is currently fired too late but it should be possible to tweak the timing.

Right, we have ideas for reload-less block coverage, but we don't have plans to spend time on this for now. That might change if we find out the current implementation does not support imp

[2017-12-05 17:32] joyeecheung commented on #17244
@MylesBorins I think https://github.com/nodejs/node/pull/17334 pretty much handles most of the type check migration

[2017-12-05 18:36] Alphapage opened #17474 "vm doesn't support inline sourcemaps"
* **Version**: all
* **Platform**: all
* **Subsystem**: all

Hello,

Chrome debugger doesn't support inline sourcemaps for `eval` since day 0 .
It seems `vm` behaves the same way because of Chrome debugger missing feature.
Is there a way to workaround the problem by customizing `vm` in nodejs ?

Thank you in advance for your help.

[2017-12-05 18:52] richardlau commented on #17444
FWIW On AIX we already export these symbols (and more) via [`tools/create_expfile.sh`](https://github.com/nodejs/node/blob/v9.2.0/tools/create_expfile.sh).

[2017-12-05 19:21] mhdawson commented on #17423
I can assign the CVE now but we'll need to put together an announcement that can be reference by the publication of the CVE.  If we integrate into the security releases we can add to the announcement that will be going out anyway.  We also need an assessment of severity.

The CVE will be CVE-2017-15897

PR to assign CVE https://github.com/nodejs-private/cve-management/pull/3

Note that anybody wit

[2017-12-05 19:22] mhdawson commented on #17423
Overall it seems easier to roll into the security releases Thru/Friday as we would not be asking people to upgrade twice in one week.

[2017-12-05 19:31] pimterry opened #17475 "Heavy use of TLSSocket + tls.connect crashes with SIGSEGV/SIGABRT"
* **Version**: v8.9.1
* **Platform**:  Linux zapp 4.10.0-40-generic #44-Ubuntu SMP Thu Nov 9 14:49:09 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: `tls`

I've filed a repo with a full repro and details here: https://github.com/pimterry/node-tls-crash.

The specific code that's crashing is https://github.com/pimterry/node-tls-crash/blob/master/proxy.js

To summarize:
* The repro is a mi

[2017-12-05 20:01] devsnek commented on #17474
you should look at #8369

[2017-12-05 20:56] gibfahn commented on #13635
Does `sudo npm cache clean -f` work?

[2017-12-05 22:32] dimonnwc3 commented on #17352
I see that end emits from http.IncomingMessage(as a client response) in success case and when server closes connection as well (fail). Shouldn't be only close/abort without end?

[2017-12-05 22:50] #13258 closed

[2017-12-05 23:39] addaleax commented on #17475
Thanks, this is all around a very nice bug report. I could reproduce with your repo!

[2017-12-06 02:18] bnoordhuis commented on #13612
Pull request welcome.  Node.js probably needs to start using `PEM_bytes_read_bio()` to find the `-----BEGIN` and `-----END` markers, then dispatch based on the key type.  A convenience function for private keys exists: https://github.com/nodejs/node/blob/b3e53673b96cacb3d9321c289cd7e3c59ce021b4/deps/openssl/openssl/crypto/pem/pem_pkey.c#L78-L148

Consolidate the public/private key handling in src/

[2017-12-06 03:23] #14734 closed

[2017-12-06 03:59] addaleax commented on #17475
Debugging this seems pretty hard but here’s some hint at the root cause:

<details><summary>valgrind + node debug build output</summary>

[code]
</details>

[2017-12-06 04:20] addaleax commented on #17475
@pimterry This is a potential fix, it would be cool if you could verify that?

[code]

(I’m not sure *how* this would cause this trouble in practice, but calling base class methods from a superclass destructor is 👎 in C++ and this at least greatly reduces the crash frequency.)

I’m going to open a PR with that in a few minutes, it’s a correct change anyway.

[2017-12-06 05:55] onneri commented on #17169
@Bamieh @daxlab : I just created a PR for this issue, is my first issue, so any help to review the PR and comments would be great. Thank you!!!

[2017-12-06 06:01] TimothyGu opened #17480 ""in" operator in VM uses [[Get]] instead of [[GetOwnProperty]]"
* **Version**: master
* **Platform**: all
* **Subsystem**: vm

[code]

By spec, the [`in` operator](https://tc39.github.io/ecma262/#sec-relational-operators-runtime-semantics-evaluation) uses the object's [[[HasProperty]]](https://tc39.github.io/ecma262/#sec-ordinaryhasproperty) internal method, which I overrode with a Proxy trap. That's why the bare `'a' in proxy` prints `has a`.

On the other ha

[2017-12-06 06:20] TimothyGu opened #17481 "Object.getOwnPropertyDescriptor operator in VM uses [[Get]] instead of [[GetOwnProperty]]"
* **Version**: master
* **Platform**: all
* **Subsystem**: vm

Very similar to #17480, except the issue now is with `Object.getOwnPropertyDescriptor` rather than `in` operator.

[code]

[2017-12-06 06:27] fhinkel commented on #17480
Thanks for reporting! I'll have a look.

[2017-12-06 06:36] TimothyGu commented on #17480
@fhinkel Thanks. I've got a patch for V8 (and a smaller one for Node.js) that fixes both this issue and #17481. After this patch, `vm.runInContext('"a" in this', proxy);` prints `getOwnPropertyDescriptor a` instead, as expected.

Let me know what you think:

<details><summary>Patch</summary>

[code]

</details>

[2017-12-06 07:48] SamanthaAdrichem commented on #16103
I also have this problem on windows. It starts occuring when i have an npm script with && in it
like a && b

then the CTRL + C command is never send to the b script.

[2017-12-06 08:00] lavenpillay commented on #13635
@gibfahn
No, for me it didn't because the issue was not that the cache needed to be cleaned, but that other processes were trying to _create_ files in the cache, and could not.

Regarding the Registry, in my case, I think the issue was that the JSON file with info was not able to be saved and so the SHA check could be performed.

[2017-12-06 09:04] motss opened #17485 "Failed to run node app with @std/esm > 0.16.0 on Node 8.9.1"
* **Version**: 8.9.1
* **Platform**: Darwin Rongs-MacBook-Pro.local 17.2.0 Darwin Kernel Version 17.2.0: Fri Sep 29 18:27:05 PDT 2017; root:xnu-4570.20.62~3/RELEASE_X86_64 x86_64
* **Subsystem**: -

[code]
When running `npm run debug` the node was not able to run and got stuck at the node debugging message. Downgrading to `0.16.0`, the node app works as expected. `@std/esm` could be the culprit.

[2017-12-06 09:18] pimterry commented on #17475
@addaleax I've done some testing, it's obviously hard to tell if it _totally_ resolves the issue, but I haven't seen any crashes in 10 mins or so of heavy use, so it's certainly a huge improvement!

Thanks for this. I'll ping here if I see the issue again on this build, but if I don't hit it within a day or two I think this can be considered fixed. Will this get backported to node 6 & 8 too?

[2017-12-06 09:34] hashseed commented on #17396
I have a design [here](https://docs.google.com/document/d/1XLBstYj4WyYHMFfvP-iUjfNfjESq-LXvI7soXFxawW0/edit). I'm almost done with the implementation.

[2017-12-06 14:20] mika-fischer opened #17493 "Crash on windows when passing child process' stdin as other childs stdout"
* **Version**: v8.9.2
* **Platform**: Windows 10 64bits

The following simple test crashes the node process on Windows. It works fine on Linux.

[code]

The error is:
[code]

It occurs in [deps/uv/src/win/core.c:439](https://github.com/nodejs/node/blob/v8.9.2/deps/uv/src/win/core.c#L439).

Call stack:
![callstack](https://user-images.githubusercontent.com/426158/33665422-2dd61ebe-da97-11e7-8da2-e6

[2017-12-06 14:46] basickarl opened #17495 "Readline hanging after first input in terminal"
Tested on 8.1.0 and 9.0.0
Mac Sierra 10.12.6
Darwin 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64

Was reading the documentation on readline: https://nodejs.org/docs/latest-v8.x/api/readline.html

States the the close method and it states:

So naturally I would open a new interface, like I've done in the following example:
[code]
Out

[2017-12-06 15:01] BasKiers opened #17496 "Fatal Error when attaching debugger when certain node modules are loaded"
* **Version**: v8.9.2
* **Platform**: Darwin MacBook-Pro.local 17.2.0 Darwin Kernel Version 17.2.0: Fri Sep 29 18:27:05 PDT 2017; root:xnu-4570.20.62~3/RELEASE_X86_64 x86_64
* **Subsystem**:

In a (quite large) project I had trouble attaching the debugger when starting the inspector from code (by using the `inspector` module). Right after connecting I receive a fatal error from nodejs. Now I've is

[2017-12-06 15:17] jdalton commented on #17485
Hi @motss!

Let's assume it's a `@std/esm` issue for now and tackle it over [at its issue tracker](https://github.com/standard-things/esm/issues/178) instead.

[2017-12-06 15:27] uttampawar commented on #17495
@basickarl This seems to be working on Debian system with LTS 8.5.0 and master node build (v10.0.0-pre).

[2017-12-06 16:04] apapirovski commented on #17469
Keep in mind you have to use `--max-old-space-size` to limit memory consumption, otherwise V8 has no way of knowing how much memory is available for safe use. Also the usual caveats to `--max-old-space-size` usage apply — it doesn't account for the full memory consumption (heap only, I believe) so setting it to 100 will not work.

[2017-12-06 16:10] BridgeAR commented on #17485
Closing as it is now handled in the right repository.

[2017-12-06 16:10] #17485 closed

[2017-12-06 16:23] apapirovski commented on #17390
I would say this has been answered in a satisfactory manner by @jasnell. Please feel free to reopen if you believe I've closed this in error or there's any new information.

[2017-12-06 16:23] #17390 closed

[2017-12-06 16:36] apapirovski commented on #14391
@jasnell I believe this can now be closed but let me know if I've made an error or just reopen yourself :)

[2017-12-06 16:36] #14391 closed

[2017-12-06 16:42] apapirovski commented on #3659
Given that Node.js 4.x is now in maintenance mode (and has less than 5 months to go in its life) and there has been absolutely zero interest in anyone taking this on, I'm going to go ahead and close it but feel free to reopen if you believe I've made an error.

[2017-12-06 16:42] #3659 closed

[2017-12-06 16:43] alcohol opened #17499 "Install fails for unknown reasons, not enough debug output, repro steps available with minimal scenario"
**Version**:
[code]
**Platform**:

* Host
[code]

* Container

[code]

---

**FILES**

`package.json` for reproduction:

[code]

`Dockerfile` for reproduction:

[code]

---

**REPRO**

Repro steps host:

[code]

Repro steps inside container:
[code]

---

**OUTCOME**

[code]

---

**EXPECTED**

Everything gets installed.

[2017-12-06 16:52] alcohol commented on #17499
Sorry, I don't understand the javascript ecosystem it seems.

[2017-12-06 16:55] cjihrig commented on #17499
No worries. Neither do I.

[2017-12-06 17:03] #17423 closed

[2017-12-06 17:13] Trott commented on #14568
ubuntu1604_sharedlibs_fips20_x64 too:

https://ci.nodejs.org/job/node-test-commit-linux-linked/nodes=ubuntu1604_sharedlibs_fips20_x64/620/consoleFull

[code]

[2017-12-06 17:24] Trott commented on #14568
Stress test under load (96 concurrent processes): https://ci.nodejs.org/job/node-stress-single-test/1556/nodes=centos5-64/

[2017-12-06 17:50] ealmansi opened #17500 "Incorrect result when logging subnormal floating-point number to console."
* **Version**: 8.9.1, 8.9.2, 9.x
* **Platform**: Linux d0cc2382da37 4.4.0-101-generic 124-Ubuntu SMP Fri Nov 10 18:29:59 UTC 2017 x86_64 Linux
* **Subsystem**: console

Logging a subnormal floating-point number to console prints `-0` instead of the correct number when passed as first argument to `console.log`. It prints the correct number if passed in as the second argument.

Steps to reproduce:

[2017-12-06 17:56] ealmansi commented on #17500
@jpdjere

[2017-12-06 18:50] shilomangam commented on #17169
Created PR for test-http-set-cookies.js
https://github.com/nodejs/node/pull/17504

It's my first PR for NodeJS so be gentle ;)

[2017-12-06 18:52] Trott commented on #14568
Now trying a stress test without load, because wondering if maybe it's when something happens too fast or something:

https://ci.nodejs.org/job/node-stress-single-test/1557/nodes=centos5-64/console

[2017-12-06 19:30] Trott commented on #14568
My theory at this point is that `exec` being asynchronous and/or `kill` returns control to the caller before the target of the signal has responded to it, and nothing is keeping the event loop open, so there's no reason the process just can't exit without ever receiving the signal.

If that makes sense, the solution might be to use an interval or something to keep the event loop open. Will experim

[2017-12-06 20:10] vsemozhetbyt commented on #17500
FWIW, the output in the Chrome and Node.js REPL differ here:
Node.js canary with V8 6.5:
[code]
Google Chrome 65.0.3286.0:
[code]

[2017-12-06 21:03] devsnek commented on #17500
this error comes from formatNumber,
[code]
exposing a method to check the sign bit and using that instead should fix this

[2017-12-06 21:56] Trott commented on #14568
Seeing if I have any better luck with a centos7-64 stress test:

1 process: https://ci.nodejs.org/job/node-stress-single-test/1558/nodes=centos7-64/

96 processes:  https://ci.nodejs.org/job/node-stress-single-test/1559/nodes=centos7-64/

[2017-12-06 22:00] evanlucas commented on #14990
I think we should revert to the old (and documented) behavior. If there is concern about the ecosystem effects, we could allow it to be an opt-out with a flag?

[2017-12-06 22:23] bnoordhuis commented on #17469
I can confirm that there is a memory leak and I initially labeled it 'confirmed-bug' but turns it's spec-conforming and needs some explanation.  First off, this code:
[code]
Is conceptually equivalent to, and produces the same memory usage pattern as:
[code]
That's more or less how V8's CodeStubAssembler implements `Promise.race()`.

When you monkey-patch the built-in `.then` method, memory usage

[2017-12-06 22:23] #17469 closed

[2017-12-06 22:47] Trott commented on #14568
Hooray! The CentOS7-64 with 96 simultaneous processes is showing failures! So now I can try out a fix...

[code]

[2017-12-06 22:47] ahmadnassri opened #17508 "expected behaviour of `fs.constants.W_OK`"
* **Version**: tested on `7.x`, `8.x`, `9.x`

according to the [documentation](https://github.com/nodejs/node/blob/master/doc/api/fs.md#fsaccesspath-mode-callback):

the description text reads as agnostic to the behaviour of the `path` existing or not, however in practice, this only works if the `path` exists:

[code]
results in:

[code]

I am not certain if the intended functionality is what's ac

[2017-12-06 23:18] bnoordhuis commented on #17454
What does "unable to access windows installer services" mean?  We'll need more info if you want us to help you.

If the installer rolls back, try unchecking `Event tracing (ETW)`.

[2017-12-06 23:58] Trott commented on #14568
Proposed fix: https://github.com/nodejs/node/pull/17509

[2017-12-06 23:59] #17405 closed

[2017-12-07 00:00] d3x0r commented on #17114
Ya know, this isn't really about node building;  this is about node.h causing warnings that node-gyp hides and I would have to hide using cmake-js or other tools.
the node header previously generated the same C4251 warning with wrapped class, but it was fixed.... this too can be fixed.

[2017-12-07 02:07] cjihrig commented on #17508
Documentation PR welcome. For inspiration, check out http://man7.org/linux/man-pages/man2/access.2.html. Of specific interest here:

[2017-12-07 03:30] cjihrig commented on #17495
This is a known issue in 8.1.0 that is fixed in 8.1.1. I'm unable to reproduce this on Mac Sierra 10.12.6 on 9.0.0 or master.

[2017-12-07 03:42] muzuiget opened #17518 "feature request: disable Console api pretty print option"
While using `console.log` to print a complex object,  it will print a pretty format to stdout

[code]

But it also print a lot of lines on terminal. So if we have code like

[code]

It is hard to find out `'important message` lines, we need to scroll up and down the terminal. For this complex object, I perfer to attach a Chrome DevTools to inspect it. And keep the terminal stdout clean and simple.

[2017-12-07 03:56] Trott commented on #17518
`console.log()` uses `util.inspect()` under the hood, so maybe you can use [Custom inspection functions on Objects](https://nodejs.org/api/util.html#util_custom_inspection_functions_on_objects)?

[2017-12-07 03:58] muzuiget commented on #17518
Oh, thanks, The `util.inspect.defaultOptions.depth` option is what I want.

[code]

[2017-12-07 03:58] #17518 closed

[2017-12-07 04:11] rasteiner commented on #3716
What about people on freebsd that don't have access to pkg or root rights? Like many shared hostings?
Having a working node binary would allow people to use stuff like ReactDOMServer or PDFKit or many many many other things on npm. Maybe it's just me, but to me this seems important.

[2017-12-07 05:14] idandagan1 commented on #17169
I've created my first PR.
I added Countdown to **test-http-incoming-pipelined-socket-destroy.js** test. [Ref](https://github.com/nodejs/node/pull/17506)

After it got approved, 1 test failed (test/arm-fanned) and 12 passed.
Does anyone have encountered the same problem?

[2017-12-07 05:18] mithunsasidharan commented on #17169
@idandagan1 : Congrats on your first PR 👍 That failure hasn't got anything to do with your PR !

[2017-12-07 05:56] n4ru opened #17520 "Proxies not detecting change in object key when using array"
* **Version**: v8.1.4
* **Platform**: Windows 10 x64
* **Subsystem**: n/a

Expected behavior: proxy intercepts updating the array.
What Happens: Proxy not firing.

Library code:
[code]

Script:

[code]

<sub>(edited by @addaleax: syntax hightlighting)</sub>

[2017-12-07 08:51] seishun commented on #16491
#17460 doesn't fix this issue.

[2017-12-07 09:00] basickarl commented on #17495
@cjihrig I restarted my Mac and now it seems to work with any version except 8.1.0. Thank you! Closing.

[2017-12-07 09:00] #17495 closed

[2017-12-07 09:14] addaleax commented on #17520
This line *does* call the `get` trap for `a`. Since you don’t define any, it just gives you the value of `test.a`, which is the array you just defined; if you want to track any operations that happen with that array, you also need to wrap that in a Proxy, and so on.

Also, for the future, the https://github.com/nodejs/help issue tracker is the right place for these kinds of questions :)

[2017-12-07 10:46] #17520 closed

[2017-12-07 11:00] willclarktech opened #17523 "Additional validation of tag length in AES GCM decryption"
I notice here that validation of tag length is planned when using authenticated decryption:
https://github.com/nodejs/node/blob/50ec9bf015b9d77795e04b88b50341c244974956/src/node_crypto.cc#L3713

I'm assuming this comment addresses the fact that the current implementation doesn't check whether the provided tag conforms to the valid tag lengths for GCM: 128, 120, 112, 104, or 96 (or 64 or 32 for cer

[2017-12-07 11:23] surajwy commented on #17155
Hi All,

I've got another crash at node v6.12.0. This time I have removed all my add-ons expect microtime.
Microtime is pretty famous one. Now I think these crashes are not because of a buggy add-on.

[code]

[2017-12-07 11:27] surajwy commented on #17351
I removed all the add-on modules (except microtime, we need it and it's a pretty famous one). I have still got this crash.

[2017-12-07 13:08] pjmolina commented on #2842
Hi. I created a [simple test](https://github.com/pjmolina/h304) for reproduce it when we found the bug, two years ago.

At that time, it worked when deployed on Heroku, but failed when deployed on IBM Bluemix. The difference: Go HTTP middleware in Bluemix (very stricts with trailers). It should be trivial to deploy this sample on Bluemix with the latest version of Node and check if it is solved.

[2017-12-07 14:04] vdeturckheim commented on #17143
@AndreasMadsen ccan you tick the event-related item?

[2017-12-07 14:19] ahmadnassri commented on #17508
upon further reading, I believe the issue I'm facing is due checking whether the file path is writable, instead of checking if the file's directory is writable.

in that context, technically the docs are correct, however, some examples would help.

I'll take a stab at improving the examples

[2017-12-07 14:26] apapirovski commented on #17451
I'm still not seeing any evidence that `emit` is a bottleneck. No matter how many times it's called, it's a fraction of the overall performance. Try running a profiler on an http server and you'll note that it doesn't account for even .1% of the run time.

[2017-12-07 14:27] bnoordhuis commented on #3716
@rasteiner Can you point to freebsd hosting providers that won't let you install from ports but do let you run arbitrary binaries?  It seems an unlikely combination.

You could compile from source in that case.  Worst case you build locally and copy over the binary.

[2017-12-07 14:32] bnoordhuis commented on #17523
Can you post a concrete API proposal?

[2017-12-07 14:54] cjihrig commented on #17508
I'm going to reopen this, because I agree that those docs could be improved. If you or anyone else makes a PR for the docs, then we can close this.

[2017-12-07 14:54] rasteiner commented on #3716
I'll try to compile it in a VM then... :) The hosting is one of the bigger ones here in Switzerland: https://www.hostpoint.ch/en/

Not sure about "arbitrary" binaries, but I had no problems executing golang binaries... So I think running node should be possible, except if there are some dependencies that aren't available of course. Obviously I can't open any ports or stuff like that, but that's no

[2017-12-07 15:42] bnoordhuis commented on #3716
I don't know if it's officially supported but I've built ports in the past from (and installed to) my home directory.  I didn't use pkg, just the ports tree as a tarball or from svn.

(And if `/usr/ports/www/node` already exists, you can do great things with `make PREFIX=... WRKDIRPREFIX=... install`.)

@jbergstroem What do you think?  I'm not opposed to putting out freebsd binaries but I also don

[2017-12-07 16:26] a854363956 opened #17527 "(node:8328) [DEP0062] node version is v8.4.0"
I have you help ! I use Atom debugger nodejs ,but show error

(node:8328) [DEP0062] DeprecationWarning: `node --debug` and `node --debug-brk` are invalid. Please use `node --inspect` or `node --inspect-brk` instead.

this is message say
'node --debug' and 'node --debug-brk' change  `node --inspect` and `node --inspect-brk`

I need change node version to 6?

[2017-12-07 16:44] apapirovski commented on #17451
I don't think this thread has merit. The provided implementation is about 10-15% faster in our `ee-emit` benchmark. The only outlier is when there's only 1 event type bound to the `_events` object (where it's 4x faster due to insanely fast lookups). That has to do with the implementation using a plain object rather than `Object.create(null)`. On the flipside, our implementation performs a lot bett

[2017-12-07 16:44] #17451 closed

[2017-12-07 17:04] willclarktech commented on #17523
@bnoordhuis Updated the description to include an API proposal.

[2017-12-07 17:10] mscdex commented on #17527
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2017-12-07 17:10] #17527 closed

[2017-12-07 17:11] bnoordhuis commented on #17523
cc @nodejs/crypto - your input please.

[2017-12-07 17:53] michael-ts commented on #5197
@bnoordhuis What if you need to debug by inspecting the program state when no code is running?  Also, it seems odd that you literally can't do anything, even things that should not require a frame (such as `console.log("test")`) without having a frame.

[2017-12-07 17:54] AndreasMadsen commented on #17143
@vdeturckheim Done 👍

[2017-12-07 18:05] refack commented on #15558
Still open.

[2017-12-07 18:13] arturgvieira commented on #2842
Hi, @pjmolina, how did the test go?

[2017-12-07 18:45] tniessen commented on #17523
I'll try to clarify your proposal just to make sure I did not miss anything:

1. `crypto.createDecipheriv` should accept an option `minimumTagBytes` whose value must be a valid authentication tag length, otherwise the function throws. The option defaults to 128 bits (16 bytes).
2. `decipher.setAuthTag(tag)` should throw if the length of the `tag` is either invalid (not one of 128, 120, 112, 104, 9

[2017-12-07 19:08] caub opened #17529 "tty colums and rows should be read-only"
[code]

[2017-12-07 19:11] willclarktech commented on #17523
@tniessen That’s exactly what I meant and those semver assessments seem correct. In my opinion semver-patch would make sense for the first change: I was pretty surprised to discover `decipher.setAuthTag(validTag.slice(0, 1))` let me decrypt without complaint!

[2017-12-07 19:17] addaleax commented on #17529
I think I would prefer not to do this; I know some modules rely on `process.stdout.columns` (or `stderr.columns`) for e.g. formatting messages, and that sometimes (in particular for testing) you want to be able to override that value.

[2017-12-07 19:19] caub commented on #17529
Right, is there a method that can be called to reset those values (without having to resize the terminal)?

[2017-12-07 19:24] willclarktech commented on #17523
Oh except I’ve only been talking about `crypto.createDecipheriv`. I suppose it should also apply to `crypto.createDecipher` even though people shouldn’t really be using it with GCM.

[2017-12-07 19:25] addaleax commented on #17529
@caub `process.emit('SIGWINCH');`? ;)

[2017-12-07 19:26] caub commented on #17529
yea cleaner, thanks

[2017-12-07 19:26] #17529 closed

[2017-12-07 19:28] tniessen commented on #17523
Ref https://github.com/nodejs/node/pull/13941

[2017-12-07 20:33] bnoordhuis commented on #17523
Right now, any 1 <= tag length <= 16 is accepted (because openssl accepts it) and there might therefore be code in the wild that uses odd sizes.

Throwing an exception must be semver-major for that reason but logging a warning for e.g. lengths < 8 can be semver-patch.

Call me a pessimist but I predict most usage is going to look like this...
[code]
More boilerplate, zero extra security.

We'll pr

[2017-12-07 20:38] Microsmsm opened #17530 ""for await" loop throws ​​SyntaxError: Unexpected reserved word"
* **Version**: v9.2.0
* **Platform**: Darwin Osamas-MacBook-Pro.local 17.2.0 Darwin Kernel Version 17.2.0: Fri Sep 29 18:27:05 PDT 2017; root:xnu-4570.20.62~3/RELEASE_X86_64 x86_64

### This code does not recognize "await" with Async iterator and throws:

[code]

### While it's working normally with **chrome** V8 engine

![image](https://user-images.githubusercontent.com/7149686/33737732-d8c54a44-

[2017-12-07 20:52] vsemozhetbyt commented on #17530
Async iterators are landed in V8 6.3
To use them you need [the last Node.js nightly](https://nodejs.org/download/nightly/) (has V8 6.3 as of 2017.12.06). All you can add `--harmony_async_iteration` flag with the Node.js 9.

[2017-12-07 21:55] bnoordhuis commented on #5197
What makes you think that doesn't require a JS stack frame?  It does.

[2017-12-07 21:58] michael-ts commented on #5197
@bnoordhuis It's not accessing anything local to any frame, as far as I can tell.  What does it need the frame for.

[2017-12-07 22:03] bnoordhuis commented on #5197
The real short explanation is that evaluating any JS code requires that the VM has been entered (has a JS stack frame under it) and with the old debugger that isn't the case when node.js is sleeping (waiting for I/O.)

The new debuggers don't have that limitation because they were designed not to.

[2017-12-07 22:14] bnoordhuis commented on #9435
@medikoo What do you propose?  The best I can come up with is to strip debugger options iff a bunch of conditions are met: `options.execPath` not set, `options.execArgv` not set or contains exact copy of debug flags in `process.execArgv`, and so on.

Pull requests welcome, of course.

[2017-12-07 22:38] rob3c opened #17536 "BUILDING.md references p. 60 of a 40 page security policy document"
* **Version**: N/A
* **Platform**: N/A
* **Subsystem**: N/A

The current [BUILDING.md instruction page in master](https://github.com/nodejs/node/blob/master/BUILDING.md#building-nodejs-with-fips-compliant-openssl) on building node with FIPS compliant OpenSSL says:
`See the security policy page 60 for more details.`
Unfortunately, the [current security policy pdf](http://csrc.nist.gov/groups/STM/cm

[2017-12-07 22:41] addaleax commented on #17536
/cc @nodejs/crypto

[2017-12-07 22:45] fedekau commented on #17169
I have created a PR (#17537) for  `test/parallel/test-http-agent.js`, it is my first PR 😄

[2017-12-07 22:45] Trott commented on #17536
The phrase "validated module" does not appear in the PDF. I'll open a PR to remove the entire sentence, as the policy is linked to later in the paragraph anyway.

[2017-12-07 22:46] bnoordhuis commented on #17536
Pinging @mhdawson, looks like you added that in #2278.

[2017-12-07 22:52] Trott commented on #17536
PR to update text: https://github.com/nodejs/node/pull/17538

[2017-12-07 23:12] bnoordhuis commented on #17496
Thanks Bas, good bug report.  Fix in #17539.

[2017-12-08 03:13] TimothyGu commented on #17480
I've submitted a revised version of the patch above as a CL to V8 https://chromium-review.googlesource.com/c/v8/v8/+/816515, which fixes both this bug and #17481.

@fhinkel review requested :)

[2017-12-08 05:26] elibarzilay commented on #17405
@bzoz -- thanks for the doc fix.  Re my communication problem, I plan on just using an additional FD, so there's no need for a named pipe...

[2017-12-08 06:20] TimothyGu opened #17540 "Sync WHATWG URL parser with upstream standards"
There have been some recent changes in the standards governing our [new URL parser API](https://nodejs.org/api/url.html#url_the_whatwg_url_api). We need to keep up with those changes in our implementation of the API.

- [x] **Add space to class string of iterator objects** (https://github.com/heycam/webidl/commit/4fcfaeaa3d9ed1141c5f5c75047c2ba2aaa45cea) (#17558)
   Change the `'URLSearchParamsIte

[2017-12-08 06:40] surajwy opened #17541 "system log contains segfaults, but no core dumps created. std-error contains stack for data corruption"
* **Version**: v6.12.0
* **Platform**:Linux 4.9.27-14.31.amzn1.x86_64

-- I am getting a lot of segfaults (5-7 per day) for which there are no core dumps. Refer: /var/log/messages at the bottom.
-- The app's std-err logs, contains some errors. Have mentioned them below.
-- I am only using 1 add-on module, which is microtime. It's a popular module. My code base is tightly coupled to this module, so

[2017-12-08 06:53] ivan commented on #14752
I ran into this today as well and I have a reproducer without docker: https://gist.github.com/ivan/e1eafebc7e5273b6f80d2cc9bdb96a38

[2017-12-08 07:50] bright21051 opened #17543 "node.js with the external module conflict"
I use Egret do project, and import the external modules to use.  But one of the external modules has declare 'Buffer',and node.js both have Buffer declared(repeat declare).
 So, when I want to test the part, it will appear error:TS2300: Duplicate identifier 'Buffer'.

Now there are two directions:
1. I tried to change the buffer name in node.js(but not sure whether affect the normal operation of n

[2017-12-08 08:03] haejinjo commented on #17540
I'll handle the first one guys, don't you worry

[2017-12-08 09:24] jure commented on #16949
Why did this start asserting anyway? Can we go back to the way things were?

In 8.8.1 process.stdin._handle.__proto__.bytesRead simply returns undefined:

8.8.1:
![image](https://user-images.githubusercontent.com/238667/33759080-4aefb9ae-dc01-11e7-80c5-0d6ecccdccb9.png)

In 8.9.2, it throws.

8.9.2:
![image](https://user-images.githubusercontent.com/238667/33759128-7951c26a-dc01-11e7-801e-149c3230

[2017-12-08 10:17] mcollina commented on #16798
I think so, yes. We are in the process of rewriting all the destroy and error flows, as there are multiple problems.

[2017-12-08 11:10] masksnytko opened #17544 "There is no Queue module for O(1)"
Hi guys, what do you think about adding the Queue module?

I wrote the version (https://github.com/masksnytko/queue/blob/master/index.js)
According to my measurements it works perfectly! (you can add something else) I would like to see something like this from the box in the future.

Do you plan to add or implement a queue?

[2017-12-08 11:14] bzoz commented on #16491
How about: https://github.com/nodejs/node/pull/17545 ?

I don't think we can disallow using IPC in the code. We would have to add a lot of asserts. This IPC is not reliable anyway, see my comment here: https://github.com/nodejs/node/issues/17405#issuecomment-349026019. I say we document it is undefined.

[2017-12-08 11:21] bnoordhuis commented on #17544
Thanks for the suggestion but no.  Rule of thumb: if it can live as a third-party module, it should.

[2017-12-08 11:21] #17544 closed

[2017-12-08 11:27] BasKiers commented on #17496
Hi,

Thanks for fixing it so quickly!

[2017-12-08 11:28] bnoordhuis commented on #17543
It will.  I'm going to close this out because that's not a change we're going to make.

If you have follow-up questions, please post them to the help repo.

[2017-12-08 11:28] #17543 closed

[2017-12-08 11:28] evanlucas commented on #17530
Closing as @vsemozhetbyt has answered the question. Thanks!

[2017-12-08 11:28] #17530 closed

[2017-12-08 17:17] Kimeiga commented on #17540
Shit I really wanted that first one hahaha

[2017-12-08 17:18] teddyarmagedon opened #17554 "profiler explanation, when thin layer of code is applied to libraries"
* **Version**: v8.4.0
* **Platform**:Windows64
* **Subsystem**:?

Hi, so, i need some help with profiling. Want to fine tune my code, i know it sounds silly, because it is JS. So i tested my code on I/O and profiled while testing. The code is rather thin layer of existing functions. As it is CUSTOM "proxy" / web server, it is written kind of with performance in mind. Just don't know how to interpr

[2017-12-08 17:19] Kimeiga commented on #17540
Where would the new fragment encode set that we're building be used?

[2017-12-08 17:26] MylesBorins commented on #17541
Do you still have these problems on 6.12.2?

[2017-12-08 17:28] MylesBorins commented on #17409
closing in lieu of report at npm
AFAIK they do run dedupe as part of vendoring

[2017-12-08 17:28] #17409 closed

[2017-12-08 17:30] TimothyGu commented on #17540
@Kimeiga Glad you decided to take this up! It will be used under `case kFragment` in the `URL::Parse` function.

[2017-12-08 18:11] bnoordhuis commented on #17554
Please post your question over at the help repo.

[2017-12-08 18:11] #17554 closed

[2017-12-08 18:49] teddyarmagedon commented on #17554
Oh, ok sorry.

[2017-12-08 18:58] mcollina commented on #17244
I am 👍 with the approach, independently off the breakage.

[2017-12-08 19:19] rektide commented on #15699
This would be great to have. I made a very simple parallel find implementation to see if I could use node's async nature to keep a higher queue depth. I'm not sure, but I really think the lack of exposure to dirent- specifically that inability to see that an entry is a directory- [is what keeps Node from trouncing find](https://mobile.twitter.com/rektide/status/939211593598078977). I went looking

[2017-12-08 19:36] #14568 closed

[2017-12-08 19:49] Kimeiga commented on #17540
I've completed the first two steps of the second task, but I'm not sure what to do for the third step. Can you lend a hand @TimothyGu ?

[2017-12-08 22:33] addaleax commented on #17016
This can be closed now that V8 6.3 has landed.

Yay!

[2017-12-08 22:33] #17016 closed

[2017-12-08 23:39] tniessen commented on #17523
@bnoordhuis If we decide to set the default value of `minimumTagBytes` to 128 bits as a semver-major change, it might increase security considering that people will need to manually set `minimumTagBytes` to allow shorter tags, and at that point they are hopefully looking at our docs.

[2017-12-08 23:52] roblourens commented on #10838
When I run node with `--experimental-modules`, I see that it returns paths as file URLs. Does anyone know whether that will always be the case in the future? Intentional change?

[2017-12-09 11:01] #17496 closed

[2017-12-09 12:57] tniessen commented on #17434
I might be missing something here, but why would we try to "protect" node.js core from such modifications? If people monkey-patch existing prototypes etc., then any breakage will be their fault, and the `vm` module is not supposed to protect the process against untrusted code, so the same rule applies there.

[2017-12-09 14:08] fiurrr opened #17567 "HTTP2 SNICallback support"
Hi all,

I couldn't find any mention about SNICallback (used in HTTPS) method being impemented in HTTP2
Is there any other way of doing domain based certificate mapping?

Thanks!

[2017-12-09 14:30] Trott commented on #17567
ping @nodejs/http2

[2017-12-09 14:51] benjamingr opened #17569 "Promisify of method without last argument callback - undefined beahvior"
Currently, our documentation states:

However, `undefined behavior` is a very "harsh" way to put what happens (since it implies the process can crash) and the behavior is pretty well defined.

 - If a non function is passed in - `promisify` throws. https://github.com/nodejs/node/blob/master/lib/internal/util.js#L257-L259
 - If a function is passed but  its `promisify.custom` is specified but not a

[2017-12-09 14:54] dsteib11 opened #17570 "Err issue npm start in git"
* **Version**:
* **Platform**:
* **Subsystem**:

$ npm start
npm ERR! path C:\Users\stei0\Documents\hp.applications.package.appdata\package.json
npm ERR! code ENOENT
npm ERR! errno -4058
npm ERR! syscall open
npm ERR! enoent ENOENT: no such
file or directory, open 'C:\Users\stei0\Documents\hp.applications.package.appdata\package.json'
npm ERR! enoent This is related
to npm not being able to find a

[2017-12-09 15:02] devsnek commented on #17570
`npm start` is an alias to `npm run start` which uses `scripts.start` in package.json. You'll need a package.json for that. Additionally, this issue tracker is for node issues, not npm issues (check out github.com/npm/npm in the future)

[2017-12-09 15:15] dottedmag opened #17571 "Allow --perf-prof an --perf-basic-prof in NODE_OPTIONS"
Profiling Node.js programs which spawn another Node.js processes using Linux prof is unnecessarily hard: new processes use executable from the parent process, so it is not possible to add a shell wrapper around Node to add `--perf-prof` to a subprocess, one has to find all the places where subprocesses are spawned and add the argument there.

`NODE_OPTIONS` is perfect for this task (just run the t

[2017-12-09 15:22] Vovka19 commented on #17496
Thanks!

- [ ]

[2017-12-09 15:53] mithunsasidharan commented on #17569
@benjamingr : I'd like to take this up.

[2017-12-09 16:13] apapirovski commented on #17567
Hi @fiurr, `createSecureServer` accepts all the same arguments as `tls.createServer`. Did you find any issues with using `SNICallback`?

[2017-12-09 17:47] ljharb commented on #17434
@tniessen If node breaks as a result of JS code running, it's node's fault. Since a node app runs with JS (and C) code written by many authors, it's simply not true that the user experiencing the breakage will necessarily be that user's fault.

[2017-12-09 17:49] devsnek commented on #17434
(a good example right now is doing `String.prototype.replace = () => ''` in a repl, and then trying to use the continue repl)

[2017-12-09 17:55] apapirovski commented on #17434
I think we can probably be safer around this than we are currently — a notable example being that we often call `cb.apply` or `cb.call`, which means relying on a user-provided callback having those properties unpatched. Recently I've been trying to migrate the majority of these to use `Reflect.apply`. IMO that's a case of our inner implementation details leaking out as we could just as easily be c

[2017-12-09 18:21] mfaheemakhtar commented on #17508
Hi, I've tried improving the documentation of fs.access, take a look at my pull request #17578.

Thanks

[2017-12-09 18:21] ljharb commented on #17434
@apapirovski the user is almost certainly doing that intentionally; but that should not change how core behaves.

Basically, if I can observe that any part of node core is written in JS, then there's been an encapsulation failure, full stop.