[2016-03-24 01:39] hefangshi commented on #5754
@joepie91 Sure I did, but I think this would be a common issue, so I posted here :)

[2016-03-24 01:42] joepie91 commented on #5754
Alright, fair enough, just wanted to check :)

[2016-03-24 01:52] JavaScriptDude commented on #4555
This is sweet! Having optional function parameters and array based restructuring will be great to play with! Looking forward to the first RC.

[2016-03-24 02:06] jasnell commented on #5754
I'll have to explore making this additional revert available. The
http-parser lib does not make it easy while maintaining ABI compatibility.
It's on my to-do list to make it easier but that'll require a more
significant change.
On Mar 23, 2016 6:42 PM, "Sven Slootweg" <notifications@github.com> wrote:

[2016-03-24 02:17] dougwilson commented on #5832
I would expect that the parser either following the liberal-ness of the WhatWG spec, or completely reject the URL, rather than be in the weird in-between state it is currently.

[2016-03-24 02:35] alvieirajr commented on #5757
The socket.setTimeout(timeout[, callback])  doesn't works to you ? ([Node.js - Net Module](http://www.tutorialspoint.com/nodejs/nodejs_net_module.htm))

[2016-03-24 05:11] jasnell commented on #5832
At this point, for better or worse, the WhatWG spec is likely the most authoritative source. Specifically, this: https://url.spec.whatwg.org/

A fairly comprehensive corpus of tests have been put together here: https://github.com/w3c/web-platform-tests/blob/master/url/urltestdata.json

We should definitely be working to validate against that suite.

[2016-03-24 05:29] jbergstroem commented on #5701
Someone has likely updated http-parser and not rebuilt Node.js against that version (since it links against the patchlevel). I'd bring this up with your package maintainer.

[2016-03-24 06:00] hashseed commented on #5368
Let me see if I understand the backtrace correctly:
- V8 grabs the ExecutionAccess mutex to access the interrupt bitfield.
- At that point a SIGUSR1 comes in, and we jump to the signal handler.
- The signal handler attempts to call v8::Debug::DebugBreak.
- v8::Debug::DebugBreak attempts to grab the ExecutionAccess mutex.
- This causes the deadlock.

I suspect that it used to work in older V8 becau

[2016-03-24 06:06] TheAlphaNerd commented on #5832
/cc @nodejs/testing

[2016-03-24 06:08] jasnell commented on #5832
Ref: https://github.com/nodejs/node/pull/5885

[2016-03-24 07:49] niedomnie commented on #5867
I will try 4.4.1.
requestCert is always true?  I thought that "requestCert: If true the server will request a certificate from clients that connect and attempt to verify that certificate. Default: false." citation from https://nodejs.org/api/tls.html
I will prepare small code detecting problem .............

[2016-03-24 08:23] feross commented on #3540
This issue still exists when upgrading from Node v4 LTS to Node v5.9.1.

[2016-03-24 08:32] bnoordhuis commented on #5867
You mention `https.request()` in your original message.  Is this issue about `https.createServer()`?

[2016-03-24 08:32] TheAlphaNerd commented on #3540
@feross I think we should be potentially wiping `/usr/local/lib/node_modules/npm` or the windows equivalent in the installer...

[2016-03-24 08:45] AceMood commented on #5584
@trevnorris @Fishrock123  thank you very much, I add some logs to make it clear. And the last comment I will add to my post later.
[http://acemood.github.io/2016/02/01/event-loop-in-javascript/](url)

[2016-03-24 09:01] breeeew opened #5887 "Memory leaks in loops with Promises and generators"
Sample code in babel:
[code]

Compiled code for nodejs:
[code]
That's work perfect in browser Chromium 48, but work with memory leaks in nodejs (tested in 4.4.0 lts, 5.3.0, 5.9.0).
If I insert `gc()` after `yield y();` and run nodejs with `--expose-gc` -- that works without memory leaks.
* **Version**: 4.4.0, 5.3.0, 5.9.0
* **Platform**:
Linux unassigned 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt20-1

[2016-03-24 09:07] SystemParadox commented on #4595
Oh yes please can we get #3402 fixed as part of this

[2016-03-24 09:10] SystemParadox commented on #5726
Yes this is a duplicate of #3402. `npm link` has never worked right, especially with peerDependencies, because node messes around with symlinks instead of leaving them alone and using the virtual path like it's supposed to.

[2016-03-24 09:19] abenhamdine commented on #5491
Yes, it's resolved. A doc improvement would be a good thing IMHO, I will send a PR when I have some time, but it's definitely not a bug.

[2016-03-24 09:33] bnoordhuis commented on #5887
When you say "memory leak", do you mean that node eventually dies with an out-of-memory exception?

Aside, the transpiled code you've posted is incomplete.

[2016-03-24 09:36] breeeew commented on #5887
Process dies with stack-trace:

[code]

[2016-03-24 09:39] breeeew commented on #5887
Sorry, bad copy/paste. fixed

[2016-03-24 09:44] piranna commented on #5574
I have just checked this on Ubuntu 15.10 32 bits on an Intel Core2 Duo machine with the code on master having the fix #5776 and the test on my pull-request #5841 and this error still arises... :-(

[code]

My previous checks where on MacOS X "El Capitan" 64 bits, so I'm not sure if it's a Linux-only issue or a 32 bits one, I'm going to do more checks to see if I'm able to replicate it on other sys

[2016-03-24 10:18] bnoordhuis commented on #5887
I had a look and it seems to be purely a V8 issue.  I tested with V8 4.9.385.27, FWIW.

If you run the script with `--max_old_space_size=32 --trace_gc --trace_gc_object_stats`, it runs out of memory in a few seconds.  If you capture and analyze the output, it quickly becomes clear that it's leaking array-like objects:
[code]
The picture changes a little with `--expose_gc`.  I didn't wait for it to

[2016-03-24 10:18] #5887 closed

[2016-03-24 11:00] joepie91 commented on #5798
It's not uncommon for non-CS PRNGs to score well on randomness analysis.
That doesn't make them suitable for crypto however - for that, they don't
just have to be indistinguishable from randomness, but also unpredictable
and not subvertible.
On Mar 23, 2016 05:50, "Trevor Norris" <notifications@github.com> wrote:

[2016-03-24 11:23] joaocgreis commented on #4329
@samarthRT if you still have the machine where the error happened, can you run these two commands and paste the output here? Thank you!

[code]

[2016-03-24 11:23] joaocgreis commented on #5513
@truunk if you still have the machine where the error happened, can you run these two commands and paste the output here? Thank you!

[code]

[2016-03-24 11:35] dodev commented on #5872
I've played around with [firefox'es keep-alive timeout config](http://kb.mozillazine.org/Network.http.keep-alive.timeout) and I can confirm that the worker dies when the browser closes the connection after the timeout has ran out.
So I understand that behavior is correct in terms of supporting persistent HTTP connections, but initially to me it seemed like a bug.
The question is should the handlin

[2016-03-24 11:58] bnoordhuis commented on #5872
The app side.  It's consistent with how a single-process HTTP server works; calling `server.close()` won't actually exit until the last connection closes.

[2016-03-24 12:35] cjihrig commented on #5872
Closing as not an issue with core.

[2016-03-24 12:35] #5872 closed

[2016-03-24 12:48] niedomnie commented on #5867
https.createServer - I think about both, I am using http-proxy which is using a https.request  - and there is an issue there, and the same in https.createServer.

I have prepared unit test for that and discovered that wildcard are working well for domain - host.my-domain.site, but does not work for host.my-domain - and I was using the last.
Currently I do not know what is proper domain name so may

[2016-03-24 12:49] niedomnie commented on #5867
UNIT TEST:

var https = require('https');
var fs = require('fs');

var options = {
    key: new Buffer('2d2d2d2d2d424547494e205253412050524956415445204b45592d2d2d2d2d0a4d4949457041494241414b4341514541746a396f3857666b467949554672554134774e764c4e71317045596f4e4c576731486d4545576f336c654d31775632650a2b476c4a76384f716631476e42744c535441386454626457626e53444d6e7a446b2f427a787756564677754568356258715452

[2016-03-24 12:52] niedomnie commented on #5867
How certificate looks like:
       X509v3 extensions:
            X509v3 Basic Constraints:
                CA:FALSE
            X509v3 Key Usage:
                Digital Signature, Non Repudiation, Key Encipherment
            X509v3 Extended Key Usage:
                TLS Web Server Authentication, TLS Web Client Authentication
            X509v3 Subject Alternative Name:
                DNS:*.m

[2016-03-24 13:58] DanielYWoo commented on #5757
setTimeout is for socket timeout which means the max idle time (no bytes received or sent) for an established connection, what I need is a connection timeout, that's the max time to establish a connection.

[2016-03-24 15:13] wacky6 commented on #5523
Maybe restrict the input to strings returned by path.* functions?

I don't think making different versions is a good idea, they require additional code to ensure portability.

[2016-03-24 15:27] samarthRT commented on #4329
Hey @Compynerd255, I couldn't locate these keys (GUIDs) on my system registry. Are we sure these are not system specific ?

[2016-03-24 16:02] joaocgreis commented on #4329
They are used by node, newer and older versions. If there was something there, it could be causing conflict, and with this we would know what. But as there's nothing there, it's not the cause. Thanks!

[2016-03-24 16:18] #5873 closed

[2016-03-24 16:53] bendiy opened #5889 "doc: Buffer buf.readInt32LE(offset[, noAssert]) example incorrect"
* **Version**: 4.2.1
* **Platform**: Ubuntu 14.04 64-bit
* **Subsystem**: Buffer

The example for [`buf.readInt32LE(offset[, noAssert])`](https://nodejs.org/dist/latest-v4.x/docs/api/buffer.html#buffer_buf_readint32le_offset_noassert) appears to be incorrect.

[code]
Running locally in a REPL:
[code]

The `offset` check is something like `offset + 3 < buffer.length`, so `4 < 4` fails as it should.

[2016-03-24 17:00] cjihrig commented on #5889
Looks like you're right. It should be `buf.readInt32LE();`

[2016-03-24 17:03] cjihrig commented on #5889
Also the documentation of the `offset` argument should probably be `0 <= offset < buf.length - 4`

[2016-03-24 18:34] JordanMajd commented on #3136
Great point, I had forgotten that methods were non-enumerable.

If anyone has advice on where to go from here I am all ears. Otherwise it would seem this issue is not going to be resolved anytime in the near future.

[2016-03-24 19:52] ghaiklor commented on #4642
I want to help, but I need a mentor, please. I don't understand some issues and what exactly I need to do. Will be great if we can get in touch via Gitter or Skype.

[2016-03-24 20:16] Trott commented on #5368
Here it is being flaky for the Linux fips build too: https://ci.nodejs.org/job/node-test-commit-linux-fips/1368/nodes=ubuntu1404-64/console

[2016-03-24 20:19] Trott opened #5892 "Investigate flaky test-net-socket-timeout"
Example failure on pi1-raspbian-wheezy: https://ci.nodejs.org/job/node-test-binary-arm/1478/RUN_SUBSET=4,nodes=pi1-raspbian-wheezy/console

[2016-03-24 20:27] robertschultz opened #5893 "Native DNS caching for lookups"
Will we ever see caching in the native dns module? We have noticed a decent amount of overhead when making many parallel calls to the same dns and the dns module is doing lookups.

I understand the idea around this module is to be unopinionated but it might be a feature typical users might want to enable w/o using something like bind.

[2016-03-24 21:18] bkreider commented on #4175
Please as in, "please fix this" or "please, it is a super good idea to hard code the list of certificate authorities? "

+1.

[2016-03-24 21:32] Fishrock123 commented on #4175
I Think that was a "Please do not assume things".

[2016-03-24 21:35] mscdex commented on #5893
What about using dnsmasq? Also for `net.Socket`s for example, you can specify your own [`lookup()`](https://nodejs.org/docs/latest/api/net.html#net_socket_connect_options_connectlistener) function when connecting which could utilize a custom cache.

[2016-03-24 21:47] #5854 closed

[2016-03-24 21:51] Xel-X commented on #4175
I think its more sort of "please stop being that accusing".

I do not think they do not understand the importance to do it right.
One major problem of security is, that most people do not know, how to do it right and do not see all the problems which may arise. This is btw. a major problem in software engineering in general.

As long as no authoritys certs need to be removed, nobody outside of cor

[2016-03-24 22:29] bkreider commented on #4175
Thank you for clarifying.

I agree.  Thanks for taking the time to explain.

[2016-03-24 22:32] youngrrrr opened #5894 "Express app hanging. node-inspector points to infinite loop in listOnTimeout() in timers.js"
Turns out it was just a mistake at the application-level - sorry for the confusion!

[2016-03-24 22:50] RobertWHurst commented on #66
This is an interesting discussion. I want to add my own input and see what you guys think. I think it's important to keep things manageable inside node core, and I can imagine domains are a real pain to implement, but I don't see an alternative to them. try catches in every callback, or using generators doesn't seem like a sane solution, in fact I believe it's just pushing the complexity into the

[2016-03-24 22:50] youngrrrr commented on #5894
Oh wow I think that https://github.com/nodejs/node/issues/5864 and https://github.com/nodejs/node/issues/5426 might actually be pretty spot-on to what I'm experiencing.

[2016-03-24 23:05] robertschultz commented on #5893
@mscdex In regards to custom `lookup()` that's true. My request really is for the general masses, and the overhead 99.99% of people would have using the stock `dns` module. My main argument here is that the `request` module is using things like `url.resolve` so I'd have to monkey patch this or something.

[2016-03-24 23:07] TheAlphaNerd commented on #5894
/cc @Fishrock123

[2016-03-24 23:07] TheAlphaNerd commented on #5426
/cc @Fishrock123

[2016-03-25 00:12] kexuelou commented on #5839
I managed to set v8_postmortem_support%': 'true' , I can see the v8dbg* symbols in generated v8_base_1.lib, but not in node.exe. We need this for post mortem debugging with Windbg.

[2016-03-25 00:38] bompus commented on #5893
+1

[2016-03-25 01:23] yjhjstz opened #5895 "module: import unload module strategy"
A module always loaded in cache. If we only use once, I recommend add strategy to unload the module.
 Like the linux kernel do.

[2016-03-25 05:05] aoberoi commented on #3596
@indutny would you mind sharing the apple bug report on [open radar](https://openradar.appspot.com)?

[2016-03-25 05:52] Martii commented on #5766
@jasnell

Re:

We've gotten this in our stderr for quite some time *(probably a year)* and I've hunted in our project to see if we use it but it [appears that we don't](https://github.com/OpenUserJs/OpenUserJS.org/search?utf8=%E2%9C%93&q=write). I am left to guess that it's one of our dependencies.

Two questions come to mind here...

1. How do I find it so I can go make an issue on that dependenc

[2016-03-25 05:57] Trott commented on #5554
Another one: https://ci.nodejs.org/job/node-test-binary-arm/1489/RUN_SUBSET=0,nodes=pi2-raspbian-wheezy/console

[2016-03-25 06:06] jasnell commented on #5476
The `crypto.Certificate` class is specifically for dealing with Spkac certificates only.

[2016-03-25 06:24] cyberphone commented on #5476
I understand but that's (no longer) of general interest:
https://lists.w3.org/Archives/Public/www-tag/2016Mar/0001.html
*"Until keygen got turned off in Chrome and Firefox  a few days ago.."*

Anyway, I don't think you should do anything in the "Crypto" package (except fixing possible bugs) but rather *consider* a replacement that would allow changing crypto provider like this: https://github.com/

[2016-03-25 07:33] jennabelle commented on #2933
@italoag Hello, I have same error and tried entering your command below, but it does nothing except change directory to /usr/local/lib. Can you please clarify the steps on how to use the command to remedy?

`cd /usr/local/lib sudo ln -s ../../lib/libSystem.B.dylib libgcc_s.10.5.dylib`

[2016-03-25 08:05] justsml commented on #5893
While this sounds nice, and i'd love to have an option to just 'turn on fast DNS'.
This would really burden Node's core. DNS is a well established tech, with really significant thought put into cache, expiration, failure handling, etc. Making this builtin would fight the way it's supposed to be utilized: as @mscdex mentioned, run a local dnsmasq cache - or any other DNS cache - again this should b

[2016-03-25 08:25] justsml commented on #5842
I'm not sure about the `terminal: false`
The option has awareness based on output stream, and in your example, no output stream will cause it to be false (I may be mistaken, but that's how i've coded with it).

Btw, I can barely measure the overhead of `historySize`... So I'm not sure on that.

-----
#### A related side note:

The **Tiny CLI** example is useful for one use case. But I was thinking

[2016-03-25 08:32] mscdex commented on #5893
@justsml You wouldn't have to use it system-wide unless you wanted to. node's `dns` module supports setting explicit nameservers.

[2016-03-25 09:31] tusharmath opened #5898 "socket.destroyed is left undocumented?"
Hi, this is my first report to node.js and I apologies in advance if the issue doesn't make sense.

I was going thru the documentation of the `net` module and found out that the `destroyed` property isn't documented. I was wondering if that is an official API or not to check the status of the socket connection. If not `destroyed` what else can I use to check the current status of the socket connec

[2016-03-25 11:23] bnoordhuis commented on #5476
What in particular are you referring to?

[2016-03-25 11:28] bnoordhuis commented on #5895
To what purpose?

[2016-03-25 11:36] mtharrison opened #5899 "Socket setTimeout behaviour not working as expected for HTTP requests"
## Summary

`timeout` events are fired on sockets assigned to an HTTP request even when there is activity (data being written) within the timeout period. This is unexpected and not explicitly documented.

This did not used to be the case, it used to work like a normal `net` socket, with the timeout being essentially "reset" on any activity. The behaviour changed after this commit https://github.co

[2016-03-25 12:02] icefapper opened #5900 "Segmentation fault in node v5.*"
Hello
while fiddling with the toy js parser I have made, i came across weird 139 (that is, Segmentation fault) errors which are driving me nuts. I've pruned every unnecessary part of the parser and looks like i have been able to isolate the error-causing case. i have very little experience using debugging tools to delve in this issue all by myself; i would hence be glad if someone could help me fi

[2016-03-25 12:17] ChALkeR commented on #5900
I can reproduce a segfault by just `node lubelean.js`, with this file: https://raw.githubusercontent.com/icefapper/lubejs/master/lubelean.js

Requires several runs, though.

It doesn't use any modules or Node.js API, except for the console. Most probably this is a v8 issue.

@icefapper could you try to produce a smaller testcase?

[2016-03-25 12:20] ChALkeR commented on #5900
@icefapper By increasing the initial `run` value to 1000 you can make it segfault more consistently.

[2016-03-25 12:25] icefapper commented on #5900
Thanks for such a quick reply!
Actually, the reason lubelean.js is so big is because i thought someone might want to use other cases (that is, other js codesnippets that the default one i have provided.) I'd be glad to make it smaller if it is necessary.

Regards,
Neni

[2016-03-25 12:27] cyberphone commented on #5476
In Java, .NET etc. Keys, Certificates, Algorithms,Signatures, etc. are objects.  A provider-based "Crypto" sub system would need this to work.  This is how I have wrapped ECDH:
[code]

[2016-03-25 12:47] ChALkeR commented on #5900
@icefapper I've done some initial cleanup in https://github.com/ChALkeR/lubejs/blob/master/lubelean.js.

[2016-03-25 12:53] icefapper commented on #5900
WoW! I just did some leaning myself; I confess though, it is by no means leaner than yours :\
https://github.com/icefapper/lubejs/raw/master/lubelean.js

[2016-03-25 13:13] indutny commented on #3596
Sure https://openradar.appspot.com/23994737

[2016-03-25 13:59] ofrobots commented on #5900
Stack trace:
[code]

[2016-03-25 14:01] cjihrig commented on #5898
It's not prefixed with an underscore, so it would make sense to me to have it documented.

[2016-03-25 14:15] icefapper commented on #5900
@ofrobots sorry for asking a newbieish thing, but, could i ask what it means and how you acquird it? thanks a lot

[2016-03-25 14:20] ofrobots commented on #5900
@icefapper I got this stack trace by running node inside a debugger (e.g `lldb -- node lubelean.js`). This shows that the segfault crash occurs while gc is iterating some objects. I am continuing to look into this further.

[2016-03-25 14:27] ofrobots commented on #5900
[code]

[2016-03-25 16:02] ChALkeR commented on #5900
I performed a bit more cleanup, the result is at https://github.com/ChALkeR/lubejs

[2016-03-25 16:11] SEAPUNK commented on #5895
The only use case I can think of for module unloading (or at least a simpler way of uncaching modules) would be if I wanted to utilize hot code reloading, so I wouldn't have to restart the program and wait for the program get to the point where I am testing the code change.

[2016-03-25 16:20] ghaiklor opened #5903 "test: test-tick-processor failed"
* **Version**: v6.0.0-pre
* **Platform**: Darwin Kernel Version 15.4.0
* **Subsystem**: test

When running `make test`, I got the following:

[code]

Assertion error in this code:

[code]

[2016-03-25 16:30] ofrobots commented on #5900
@ChALkeR thanks! I can reproduce the crash with vanilla d8; replacing `console.log` with `print`.

[2016-03-25 16:40] icefapper commented on #5900
@ChALkeR funny, I thought the segv error is due to the stack getting repeatedly pushd and popd as the precedences fluctuated (in prseNonSeqExpr); you've proven me wrong :)

[2016-03-25 16:44] icefapper commented on #5900
laugh at me, but aside from the prevalent 139 i frequently got, there was also a 132 error (i.e, "invalid instruction") occasionally showing up, this time coupled with a core dump, and "slice" was always the first frame that appeard in the dump; now i'm not telling the slice is the culprit, but i'm really suspicious about it

[2016-03-25 17:15] robertschultz commented on #5893
@justsml I'm in favor of a local resolver as well, just calling this out if it was worth bringing it up. Thanks.

[2016-03-25 17:17] ofrobots commented on #5900
Very curious. I see a bunch of `deadbeef`, and kin, in the area of the heap around we die while doing a GC walk. This is the only area on this heap page that I found `deadbeef`. https://gist.github.com/ofrobots/2e1c02541bfc0ebb675c

@icefapper I haven't been able to reproduce the invalid instruction crashes. That is interesting. These kinds of symptoms would indicate a memory-corruption type failu

[2016-03-25 17:38] ofrobots commented on #5900
On a debug build, the GC zaps garbage memory blocks with `deadbee*`. This is more reproducible with a debug build, or if you add `--verify-heap`. This looks like a gc issue to me.

I can reproduce this with V8 4.5 (Node 4) as well.

[2016-03-25 17:45] ChALkeR commented on #5900
@ofrobots, I reproduced the invalid instruction crash. But it happened only once out of many runs.

[2016-03-25 17:54] ofrobots commented on #5900
@ChALkeR If you still have a debugger active, or have a core-dump, could you print some instructions around the crash point? Running `x/20i $pc` in lldb or gdb should work.

[2016-03-25 17:55] ofrobots commented on #5900
Opened V8 issue here: https://bugs.chromium.org/p/v8/issues/detail?id=4871

[2016-03-25 18:14] icefapper commented on #5900
will try my best to reproduce the inv-instr error.

Also,  thanks for confirming it's not a bug on my side. i was literally on the verge of a nervous breakdown.

[2016-03-25 19:23] ChALkeR commented on #5900
@ofrobots Sorry, I don't have that now. Perhaps running the [original testcase](https://raw.githubusercontent.com/icefapper/lubejs/fd592cd28796cf3f557853b5011abcade6ea29fd/lubelean.js) overnight would help?

[2016-03-25 21:22] #2088 closed

[2016-03-25 21:22] ChALkeR commented on #5900
The testcase is under 100 lines now.

[2016-03-25 21:33] littledan commented on #4701
@trevnorris @jasnell OK, I'd expect that with this change, my \@\@species-based patch is not needed.

Re subclassing: I don't see why subclassing a real TypedArray wouldn't allow you to allocate memory however you want. If you have an underlying ArrayBuffer, then you can make your constructor call the super constructor wit this `array_buffer, byte_offset, length` signature (spec'd [here](https://t

[2016-03-26 00:22] iarna commented on #3540
@TheAlphaNerd I agree, if you wipe the bundled npm from the previous version before installing there won't be problems.

[2016-03-26 00:35] samarthRT commented on #4329
Hi @joaocgreis, m facing another issue. Please suggest

Now as I'm trying to access the npm command, it results in another error :

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\firstName Lastname\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js' ]
2 info using npm@2.7.0
3 info using node@v5.9.0
4 verbose stack Erro

[2016-03-26 00:49] mohayonao opened #5907 "assert.deepEqual is broken?"
- Node: v5.9.1
- Platform: Darwin 15.4.0 Darwin Kernel Version 15.4.0: Fri Feb 26 22:08:05 PST 2016; root:xnu-3248.40.184~3/RELEASE_X86_64 x86_64

**Problem:**
Does not throw an exception, when comparing two Float32Array which have the small different values.

[code]

This works as expected.

[code]

[2016-03-26 00:55] RhettRainen opened #5908 "5.9.1 Https/TLS consistent ECONNRESET error"
When trying to perform a https get on a website that uses TLS 1.0 I get a socket error.
Bug can be produced with the following code:
`require('https').get('https://www.7-eleven.com', res => res.pipe(process.stdout));`

Tested on OSX and Win10-64 Node v 5.9.1: Both have same issue.

[2016-03-26 00:56] ErwanLent commented on #5908
+1

[2016-03-26 01:04] evanlucas commented on #5908
Confirmed

[2016-03-26 01:04] evanlucas commented on #5908
/cc @indutny

[2016-03-26 01:08] indutny commented on #5908
It doesn't seem to be working with node.js v0.10 either... Going to take a deeper look

[2016-03-26 01:14] indutny commented on #5908
Ah well, this is something about 7-eleven itself. If connection advertises TLS1.2 - it just fails.

[code]

Does not work, while

[code]

Does.

----

I'm sorry, but it has nothing to do with the node.js core itself, and is definitely some sort of bug with 7-eleven website. It works in browsers, though, because browsers tend to try opening several simultaneous connections just for the case when th

[2016-03-26 01:14] indutny commented on #5908
Won't fix, sorry.

[2016-03-26 01:14] #5908 closed

[2016-03-26 01:26] kanasimi opened #5909 "Feature request: fs.ReadStream.tell()"
When I try to parse a large local utf8-encoded file, it takes about 2 or 3 hours to accomplish the job. So I need to monitor the rate of progress. Because it is a utf8 file, I can't just read it and convert it by chunk.toString("utf8"), it will cause the characters broken. I set .setEncoding('utf8') first. But then I can't use chunk.length to get the right value of the file position.

I have read

[2016-03-26 01:53] RhettRainen commented on #5908
No problem, thanks for the recommendation.

[2016-03-26 02:04] addaleax commented on #5907
This happens due to [this line](https://github.com/nodejs/node/blob/85ab4a5f1281c4e1dd06450ac7bd3250326267fa/lib/assert.js#L176), where typed arrays are converted to `Buffer` objects entry-for-entry, i.e. each entry in the source becomes one uint8 in the `Buffer`. This is not specific to floats:

[code]

Same with `Uint16Array` etc.
I’ll see whether I can get a fix together.

[2016-03-26 02:12] brutalcrozt commented on #5324
notice that i do like so:
[code]
The result is the sync version not even logging, like not executed.
IDK if it possible to reproduce it online. I am using `v4.2.6`

[2016-03-26 02:30] ericmdantas commented on #5324
@brutalcrozt that's because there's no callback when you use `readFileSync`, you should do:

[code]

[2016-03-26 02:42] brutalcrozt commented on #5324
Thanks @ericmdantas that is my bad, stupid while looking the documentation.

[2016-03-26 03:19] ericmdantas commented on #5324
No worries :smile:

[2016-03-26 05:34] paragonie-scott commented on #5798
Humor is good, but unless the calendar reads April 1, please let's keep the discussion of "let's use Math.random() for crypto" to a minimum.

[2016-03-26 06:21] zwb-ict commented on #4470
@magicode @mscdex @ofrobots @Trott @Yaakov-Belch Execute me, What's this going on? I updated my addon to support nan 2.2.0, node 4.4.1 , got same error. Is there a way to solve this?

https://github.com/zwb-ict/lmdb-queue

[2016-03-26 07:28] mscdex commented on #4470
I wonder if this may be the same/related issue as #5900?

[2016-03-26 07:34] mscdex commented on #5909
There is already an undocumented `readStream.pos` which gets updated if you pass `start: 0` in your `fs.ReadStream` options (e.g. `fs.createReadStream('foo', { start: 0 })`). I'm not sure if merely documenting this would be ideal or not...

[2016-03-26 07:48] jorangreef commented on #2088
Thanks @jasnell!

[2016-03-26 07:51] icefapper commented on #5900
@ofrobots @ChALkeR
I have made bit of a progress:
after substituting the calls to `this.loc`, `this.locBegin`, and `this.locOn` in both the [lean](https://github.com/ChALkeR/lubejs/blob/master/lubelean.js) and the [original](https://github.com/icefapper/lubejs/blob/master/lubelean.js) testcase, I have not been able to get a SIGSEGV.

First I thought it might be that V8 does not like a function ret

[2016-03-26 08:05] thefourtheye commented on #5903
I wonder why this is not caught in CI.

[2016-03-26 08:18] ChALkeR commented on #5900
Yes, I noticed that, too. It's not as trivial, though. Only one place counts (take a look at my testcase — it has the call to `.loc()` in a single place.

Also notice how my testcase redefines `loc` several times — removing that keeps the segfault, but makes it less often for some reason. The same about re-assigning `tok` — looks like its presense increases the chances to get a sefgault happens.

[2016-03-26 08:20] #3702 closed

[2016-03-26 08:23] #5892 closed

[2016-03-26 08:29] dlidstrom commented on #4094
Worked for me as well. But I don't understand why a restart was necessary. Symlinks should've been picked up immediately, right? Anyway, @narychen's steps solved the linking problem for me.

[2016-03-26 08:36] kanasimi commented on #5909
Thank you. But I find the .pos is not accuracy. For example, the file is 2372126 bytes (with CJK Unified Ideographs), and at last .pos points to 2490368, bigger than the file size. I'm wondering how could this happen.

[2016-03-26 08:55] s-a opened #5912 "fs.existsSync() fails silently if passed an invalid path"
Steps to reproduce

[code]

* **Version**: 5.1.1
* **Platform**: Windows 10 32bit

[2016-03-26 08:58] zwb-ict opened #5913 "node v4.4.1: received SIGSEGV when GC"
I update my old addon to support nan latest, update nodejs to v4.4.1. Run a while, got SIGSEGV when GC. I use valgrind and get the reason:
[code]

In my Code,
[code]

Before update, I use nan 1.8.3，and the old code is:

[code]

I diff nan 2.2.0 and nan 1.8.3's NewBuffer:

2.2.0:
[code]

1.8.3:
[code]

I cann't find anything wrong.

My addon http://github.com/zwb-ict/lmdb-queue

In master branch, F

[2016-03-26 09:00] bnoordhuis commented on #5912
You mean it returns false instead of throwing an exception?  That's the documented behavior.  Closing, not a bug.

[2016-03-26 09:00] #5912 closed

[2016-03-26 09:02] bnoordhuis commented on #5913
Can you report that to lmdb-queue?  It's not part of node.js core, we don't maintain it.

[2016-03-26 09:02] #5913 closed

[2016-03-26 09:15] youngrrrr commented on #5894
Turns out it was just a mistake at the application-level - sorry for the confusion!

[2016-03-26 09:15] #5894 closed

[2016-03-26 10:42] ChALkeR commented on #5900
@ofrobots Update the testcase, please. It looks like the new one fails more often (and doesn't require the `tok` re-assigning anymore).

[2016-03-26 10:58] yjhjstz commented on #5895
To reduce memory use. @bnoordhuis

[2016-03-26 11:55] icefapper commented on #5900
looks like the vm is gc'ing `undef`s; [please give it a go  ] (  https://gist.github.com/icefapper/dbfb4bc1084968bc69ce)

[2016-03-26 12:02] bnoordhuis commented on #5895
I don't think that would make a significant difference.  V8 is going to keep the script source in memory anyway.

[2016-03-26 12:03] icefapper commented on #5900
further evidence for it :  https://gist.github.com/icefapper/ee8e346c5eead603c855

[2016-03-26 12:04] ChALkeR commented on #5900
@icefapper Change it to `head.type` in the first example, and it will still crash. Note that `head.type` is defined =).

[2016-03-26 12:05] icefapper commented on #5900
Thanks ; could I ask the precise location to apply the change?

[2016-03-26 12:07] ChALkeR commented on #5900
@icefapper both of the lines you changed =)

[2016-03-26 12:14] icefapper commented on #5900
You are completely right ; funnily enough, it happens even with `({l: 12}).l` instead of `head.type`

[2016-03-26 13:17] yjhjstz commented on #5895
Maybe V8 can provide API to remove script source. And unload a module and reload is useful for hot patch.

[2016-03-26 14:59] vitaliylag commented on #4308
@hoschid I had some problems when tried to run dnode server with it's weak on node 4.x.x. But dnode clients work on 4.x.x greate.

[2016-03-26 16:11] bnoordhuis commented on #5895
V8 uses the script source whenever it optimizes or deoptimizes a function.  It's also needed for `Function.prototype.toString()` and, because a module in node.js is basically one big function, that means it retains the script source in its entirety.

However, if you want to reload modules, you can do that by manipulating `require.cache`.

[2016-03-26 20:01] SEAPUNK commented on #5895
I've always been under the impression that `require.cache` was an undocumented part of `require`, but I just now found it, my bad.

[2016-03-26 21:04] jmm commented on #5644
@TheAlphaNerd Well, I've done all the fiddling I'm going to do with this and I'm ready to let it go to greener pastures, just haven't had time to deal with it. Not a great photo, but it gives the gist :smiley::

![juno-60](https://cloud.githubusercontent.com/assets/129203/13893049/daa54c50-ed31-11e5-9a2a-1b7c788c730a.jpg)

So I don't spam people who aren't interested in this, want to email me at \

[2016-03-26 21:10] Trott commented on #5903
The test already has open issues for it being flaky on two other platforms. It is a non-deterministic test that will vary a lot based on how powerful your computer is, so that's probably what's going on here.

[2016-03-26 21:37] CoreyLeeLarson commented on #5895
Does "import" cache modules any differently than "require?" I always thought it was just syntactic sugar over "require." I'm attempting to reload modules on file change and clearing the require.cache only seems to work when I use "require" on the module.

[2016-03-26 21:44] seanmcilvenna opened #5915 "package.json sub-dependency version"
* **Version**: 4.2.1
* **Platform**: Windows 64bit

hello. I have a question about package.json structure. a dependency I am using references another dependency with ">0.1.0", but this is causing it to download the latest version of that dependency, which causes a bug. Is it possible to tell npm to override the dependency's version in my package.json so that it doesn't download the latest version

[2016-03-26 22:08] SEAPUNK commented on #5895
@CoreyLeeLarson If you transpile your modules with Babel, babel [converts `import` into `require()`](https://github.com/babel/babel/tree/master/packages/babel-plugin-transform-es2015-modules-commonjs), because node currently doesn't support ES6 modules just yet.

[2016-03-26 22:13] CoreyLeeLarson commented on #5895
@SEAPUNK It must be something else I'm doing wrong, then.

[2016-03-26 23:44] indutny opened #5917 "Fix `rejectUnauthorized: undefined` in `tls.connect`, `requestCert` in `tls.createServer`"
- **Version**: master
- **Platform**: all
- **Subsystem**: tls

There are two usability issues in tls module:
- [ ] `tls.connect` treats `rejectUnauthorized !== true` as a false value, even more `rejectUnauthorized: undefined` is treated as a `false`. Clearly it should be completely reversed, only when `rejectUnauthorized` is `false` - it should be disabled. (This is semver-major)
- [ ] `tls.creat

[2016-03-27 00:59] #5915 closed

[2016-03-27 01:00] vkurchatkin commented on #5915
You should probably  ask this question in npm repository

[2016-03-27 02:55] Trott commented on #2148
https://github.com/nodejs/node/pull/5920 is a proposed `known_issues` test for this, for what that's worth.

[2016-03-27 03:29] Trott commented on #2493
Proposed PR to fix this is at https://github.com/nodejs/node/pull/5882

[2016-03-27 03:44] Trott commented on #2863
Closing due to inactivity. Feel free to re-open or comment if this is a verified issue or closing is otherwise the wrong thing to do.

[2016-03-27 03:44] #2863 closed

[2016-03-27 03:50] Trott commented on #2619
These link to man pages now, so I think this can be closed. Please comment or re-open if I am in error about that.

[2016-03-27 03:50] #2619 closed

[2016-03-27 04:50] Trott commented on #2929
Closing due to inactivity and an apparent general consensus that the cure may be worse than the disease.

[2016-03-27 04:50] #2929 closed

[2016-03-27 06:17] jbergstroem commented on #5597
@Fishrock123 no real win by changing it versus 404'ing all old references. I'm closing this but feel free to feedback on above.

[2016-03-27 06:17] #5597 closed

[2016-03-27 06:30] thefourtheye commented on #5862
Closing as #5877 landed. Thanks @ToPal :-)

[2016-03-27 06:30] #5862 closed

[2016-03-27 06:43] balupton commented on #5903
Getting the same here:

[code]

[2016-03-27 06:44] balupton commented on #5903
There is also https://github.com/nodejs/node/issues/4427 for the same test file - not sure if it is related.

[2016-03-27 06:54] #5889 closed

[2016-03-27 09:21] bnoordhuis commented on #5917
Did you mean `rejectUnauthorized`?  `requestCert` is for making the server request client certificates.

[2016-03-27 10:11] benjamingr commented on #5898
I agree we should document it.

@tusharmath would you be interested in writing the said file and contributing through a pull reuqest? I can walk you through the process if you'd like.

If you prefer not to that's also entirely fine too :)

[2016-03-27 10:17] benjamingr commented on #5909
Probably a dumb question: Can't you pipe it through a stream that counts how many bytes it saw and then convert the output stream to UTF8?

[2016-03-27 10:21] benjamingr commented on #5909
[code]

Or, just keep track of `chunk.length` and aggregate it in your stream?

(I realize this might not give you the accurate number of UTF8 chars but you'll get an estimate of how far into the file you are)

[2016-03-27 12:54] ghaiklor commented on #5917
@indutny can I remove `_tls_legasy.js` as well? Since is semver-major change.

[2016-03-27 13:23] benjamingr commented on #5893
I'm -1 on this, this is something that userland modules should solve and caching bugs are worse than performance bugs.

I think the caching should be done _outside_ the dns module anywy - as in - the DNS module always works "as advertised" and performs a clean lookup to the nameservers.

[2016-03-27 13:24] benjamingr commented on #5893
Here is a userland solution that works https://www.npmjs.com/package/dnscache

[2016-03-27 14:43] jhamhader commented on #5917
@ghaiklor @indutny  see #5924

[2016-03-27 15:05] ghaiklor commented on #5917
@jhamhader see #5923 . Your PR has conflicts, better to split removing `_tls_legacy` and usability fixes to different PR.

[2016-03-27 15:56] SetTrend commented on #5709
I'm running the latest safe Node version: 4.4.0.

Here's a log of the debugging session I started:
[code]

As you can see, the debugger doesn't quit after the last thread has ended running.

Here's the same code, debugged using a GUI (i.e. Visual Studio Code):
![node debugger](https://cloud.githubusercontent.com/assets/9283914/14066260/2613e8ee-f445-11e5-9afd-e2139d36f786.gif)

[2016-03-27 16:59] tresdin opened #5926 "Upgrade to V8 v4.9"
I'm not sure about the reasons behind this delay. It's been a long time since version v4.6. Please give me some information about the next upgrade of V8. I'll appreciate that.

[2016-03-27 17:01] bnoordhuis commented on #5926
We expect to ship node.js v6 with V8 5.0.  The V8 version in the current stable and LTS branches won't be upgraded because of API/ABI backwards compatibility issues.

[2016-03-27 17:01] #5926 closed

[2016-03-27 17:03] addaleax opened #5927 "Piping from stdin is broken"
* **Version**: master (ace1009456 and upwards, everything before is fine)
* **Platform**: Linux 4.2.0-34-generic #39-Ubuntu SMP Thu Mar 10 22:13:01 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: stream

Since ace1009456 (#5776), stdin is truncated to the first 64kb when piped to some other stream.

Before:
[code]

After:
[code]

This also goes for piping to [`bl()`](https://github.com/rv

[2016-03-27 17:11] tresdin commented on #5926
How about the delay? It's just about this upgrade or the strategy has changed. Why doesn't Nodejs upgrade V8 as soons as possible, just like what it used to do?

[2016-03-27 17:36] Trott commented on #5903
/cc @nodejs/v8

[2016-03-27 17:39] indutny commented on #5903
I got this too

[2016-03-27 17:40] trevnorris commented on #5798
Loosen up. There was no serious conversation about using it in core. My point is that if our implementation is so slow it's unusable then users will start resorting to methods like this. That I'm serious about, and history has proven users will take this type of action if our API doesn't work as needed and there's no alternative. Don't rebuttal that it's on them, because it's our responsibility to

[2016-03-27 18:15] bnoordhuis commented on #5926
We don't upgrade (only bug-fix) in release lines when it would break the API or the ABI, because that forces everyone to recompile (ABI) or rewrite (API) their native add-ons.  With V8, that almost always means you're stuck with a particular version because it changes quite a bit between releases.

Perhaps you mean io.js?  Node.js from before the merger was rather infamous for shipping outdated ve

[2016-03-27 18:32] addaleax commented on #5927
Btw, apparently this only happens with pipes, i.e.
[code]
works just fine.

[2016-03-27 18:38] TheAlphaNerd commented on #5709
I'm going to investigate this week

[2016-03-27 18:48] tresdin commented on #5926
No. I meant the converged version (Nodejs v4+). You can see [the change log](https://github.com/nodejs/node/blob/master/CHANGELOG.md) for more details. It says:
- 2015-09-08, Version 4.0.0 (Stable)
  - v8: Upgrade to version 4.5.103.30 from 4.4.63.30 (Ali Ijaz Sheikh) #2632.
- 2015-09-17, Version 4.1.0 (Stable)
  - v8: Lateral upgrade to 4.5.103.33 from 4.5.103.30, contains minor fixes (Ali Ijaz S

[2016-03-27 18:50] indutny commented on #5903
I believe this is a culprit:

[code]

Looking...

[2016-03-27 18:54] Fishrock123 commented on #5927
cc @nodejs/streams

[2016-03-27 18:57] thefourtheye commented on #4642
@ghaiklor you can talk to the devs in IRC.

[2016-03-27 19:10] indutny commented on #5903
Fix:

[code]

Going to submit it to V8 team.

[2016-03-27 19:20] Fishrock123 commented on #5927
Why it only happens with pipes probably has something to do with what I just posted in https://github.com/nodejs/node/pull/5916#issuecomment-202126418:

`<`-ing a file into stdin actually results in a [`fs.ReadStream`](https://github.com/nodejs/node/blob/293fd0453591ef0d87437a265ff515916d35d715/lib/fs.js#L1791), rather an a `tty.ReadStream`, and as such does not [inherit from `net.Socket`](https:/

[2016-03-27 19:46] indutny commented on #5903
CL: https://codereview.chromium.org/1840633002/

[2016-03-27 19:52] matthewloring commented on #5903
@indutny The test still passes on my end with your fix applied.

[2016-03-27 19:54] ghaiklor commented on #5903
@matthewloring @indutny on my end too. Issue can be closed.

[2016-03-27 19:57] addaleax commented on #5927
@Fishrock123 Makes sense then, thanks for the info!

[2016-03-27 23:48] cjihrig commented on #5926
There are a number of V8 related backports after 2015-11-17, but no version updates because, as @bnoordhuis pointed out, they would be breaking changes. We are still updating V8 (for example see #5494), but it won't be in a release until v6 comes out in April. This is part of the [LTS](https://github.com/nodejs/lts) schedule.

[2016-03-28 01:17] SetTrend commented on #5709
Great. Thanks!

[2016-03-28 04:47] Trott commented on #859
Forgive me if this is a naïve question, but does this basically involve opening `tools/msvs/msi` in Visual Studio and adding the header files there?

[2016-03-28 05:10] s2t2 opened #5930 "Debugger executes on first line, before intended breakpoint"
The [debugger documentation](https://nodejs.org/api/debugger.html) describes the intended behavior for using the debugger as:

I am not able to observe the intended behavior. Instead I am observing the debugger insert a breakpoint on the very first line, which is not helpful.

To reproduce:

[code]

[code]

Am I doing something wrong, or is this a problem with the debugger?

<hr>
- **Version**: v5

[2016-03-28 05:21] tusharmath commented on #5898
@benjamingr absolutely!

[2016-03-28 06:53] sernapallyanurag commented on #5855
[code]

Even now there is no luck. Am I missing something?

[2016-03-28 07:14] addaleax commented on #5855
@sernapallyanurag I am not a Windows user, but unless I’m missing something really obvious here, you will probably want to escape your `\` in the `cwd` string as `\\`:
[code]

[2016-03-28 07:43] bnoordhuis commented on #5930
Type `c` (for `continue`) to move on to the next breakpoint, then type `repl` if you want to inspect the value of `myVal`.

[2016-03-28 07:49] sernapallyanurag commented on #5855
I have tried that too, didn't find any difference.

[2016-03-28 08:41] swapnarajaputra opened #5931 "Error while installing node mailer"
Node Version : 4.3.0
Sails Version : 0.12.0
Platform: Windows, version  64-bit

I am trying to install node mailer using the below command
C:\Projects\nodeexamples> **npm install nodemailer**

But I am getting following error.

**npm WARN update-linked node_modules\sails needs updating to 0.12.0 from 0.12.0 b
ut we can't, as it's a symlink
nodeexamples@0.0.0 C:\Projects\nodeexamples
`-- nodemailer

[2016-03-28 09:41] mscdex commented on #5931
This should be filed over at [npm's issue tracker](https://github.com/npm/npm/issues).

[2016-03-28 09:48] georgifarashev opened #5932 "Custom HTTP methods result in empty replies"
* **Version**: v5.9.1
* **Platform**: Windows 10 x86 64bit

I have the following code:
[code]
When I send a request with GET, POST or any of `http.METHODS` methods, I get the expected **ok** message with status code **200**.
E.g. _curl -v -X GET &lt;url&gt;_

But when I send a request with a custom HTTP method (e.g. 'FOO'), I get an empty reply (no status code and no message).
E.g. _curl -v -X FOO

[2016-03-28 10:14] jbergstroem commented on #5931
I agree. Will close this for now; if there's any proof that it was caused by Node.js itself feel free to reopen.

[2016-03-28 10:14] #5931 closed

[2016-03-28 11:44] vkurchatkin commented on #3307
closing, doable using existing APIs

[2016-03-28 12:17] micnic commented on #5932
For this purpose the `405 Method Not Allowed` status code should be used, `501` implies future availability.

[2016-03-28 14:11] smpbo opened #5934 "please help to investigate why the result to the code below is not as i expected"
hi there,

I've been struggling with the result to the code below -- it is supposed to output the search results every second while it dose this second but doesn't the next second.  could someone help to take a look into this and point me a direction please? thanks in advance.

[code]
output:
[code]

[2016-03-28 14:16] bnoordhuis commented on #5934
Not the place for general questions.  Try the help repo or a website like Stack Overflow.

[2016-03-28 14:16] #5934 closed

[2016-03-28 15:21] jasnell commented on #5932
Once v6 is released, you'll have the option of adding a `'clientError'` listener on the server to hook these errors and send a proper 405 response. However, it's on my todo list to update `http-parser` to support arbitrary http method names. Because of the nature of that change it likely wouldn't hit a release until v7 in October but we'll see.

[2016-03-28 15:26] nmalaguti commented on #5769
Appears to be fixed in Node 5.9.1.

[2016-03-28 15:26] #5769 closed

[2016-03-28 16:00] georgifarashev commented on #5932
Supporting arbitrary http method names would be the best solution.
Having a `clientError` listener with the ability to respond with some http status code and message would be a valid workaround to the issue. The problem with that workaround is that every developer has to handle the `clientError` and return a proper error to the client.
Will this be available also in node version 4.x?

[2016-03-28 18:07] mhdawson commented on #3263
As an FYI - https://developer.ibm.com/node/2016/03/24/node-js-community-support-for-ppc-aix-zlinux-marches-on/

Bulk of s390 V8 port has been contributed back to google repos

[2016-03-28 18:25] 59naga commented on #2333
FYI
when i encountered this issue, wanted the following requirements:
* execution of a command that can't be run using `spawn`.
* non-blocking (not sync)
* stdio inheritance

In other words, by executing a shell in the `spawn`, it has been resolved.

[code]

[code]

![screen shot 2016-03-29 at 03 22 36](https://cloud.githubusercontent.com/assets/1548478/14085921/80a2dc66-f55d-11e5-9f91-213c9a58650

[2016-03-28 19:29] mhdawson commented on #5085
A new failing test: test-fs-watch-encoding https://ci.nodejs.org/job/node-test-commit-aix/

[2016-03-28 19:30] trevnorris commented on #4701
@littledan Don't know why that usage hadn't crossed my mind... I would like some analysis done to see how much of the ecosystem we'd break by requiring `new`. In the mean time I can get a PR put together.

[2016-03-28 19:32] trevnorris commented on #4701
@littledan Though I'd also like to avoid the need to throw an `ArrayBuffer` to JS whenever we need a class constructed from native. There a way to do this completely from C++?

[2016-03-28 21:17] ofrobots commented on #4470
Based on the stack trace from before, this doesn't look like a duplicate of #5900. @zwb-ict Can you include the exact stack trace you see?

[2016-03-28 21:28] Trott opened #5938 "Investigate flaky test-https-agent"
Example failure on pi2-raspbian-wheezy: https://ci.nodejs.org/job/node-test-binary-arm/1511/RUN_SUBSET=1,nodes=pi2-raspbian-wheezy/console

[2016-03-28 21:31] Trott commented on #5938
Looks like this is basically the same as what was fixed in a similar test by bbf46215489b15a79468ba26b233219bb6a3e41f

[2016-03-28 22:04] sant123 opened #5940 "Arrow keys not working in any console."
* **Version**: v5.9.1
* **Platform**: Windows 8.1 64 bits

Hi, I've found and error when I was working with Inquirer.js. The problem is that I can't move the checkbox options with the arrow keys. This works in v5.1.0 of Node.js but the problem comes in this version. I've read something regard with this here: https://github.com/nodejs/node/issues/5384 and it seems the problem comes again.

You can

[2016-03-28 22:43] mscdex commented on #5384
Adding `land-on-v5.x` as it looks like this needs to land in v5.x yet.

[2016-03-28 22:44] mscdex commented on #5940
Does node master work? The tty patch you referenced should be included there.

[2016-03-28 22:58] Trott commented on #5934
Help repo issues can be opened at https://github.com/nodejs/help/issues

[2016-03-28 23:10] Trott commented on #5128
Another instance from today: https://ci.nodejs.org/job/node-test-binary-arm/1509/RUN_SUBSET=5,nodes=pi2-raspbian-wheezy/console

[2016-03-28 23:16] littledan commented on #4701
@trevnorris Oh, I didn't realize the "requiring `new`" part; that's a pretty strong counter-argument. Still, you can do ES2015-style subclassing just by setting the `__proto__` of `prototype` as well as the constructor to `Uint8Array{,.prototype}`.

TypedArrays do support a three-argument constructor directly from C++. Call a function like `v8::Uint8Array::New(Local<ArrayBuffer> array_buffer, size

[2016-03-28 23:19] #2493 closed

[2016-03-28 23:28] mhdawson commented on #5085
Adding so we remember to back this out once done: https://github.com/nodejs/node/pull/5937

[2016-03-29 00:09] Trott commented on #5128
Created a branch and added a little logging in the hopes of finding out what's going on that's causing it to hang sometimes on pi2-raspbian-wheezy. Now running stress test for it: https://ci.nodejs.org/job/node-stress-single-test/575/nodes=pi2-raspbian-wheezy/console

[2016-03-29 01:56] cin210 commented on #3113
Using the build provided by @rvagg in development benchmarks dramatically reduces the memory footprint of creating and tearing down VMs over time. This fix is a huge boon for our team! Thank you!

[2016-03-29 02:33] sant123 commented on #5940
Tty patch? I'm sorry but I do not know what is that... In the other hand, I've tested the example above with v5.1.0 again and effectively work. Could you follow the steps I gave you in order to reproduce the issue? Thanks.

[2016-03-29 02:54] mscdex commented on #5940
I meant if you check out the master branch for node, compile it, and try your code again, does it work for you?

[2016-03-29 03:02] egoroof commented on #5940
@sant123 the fix for #5384 isn't come yet. Wait for the next v5.x.x release.

[2016-03-29 03:17] orangemocha commented on #5927
I will definitely follow up and investigate this, but it might take me a while to fix it.. streams is delicate code, and I am travelling to the VM summit in SF next week. I might end up reverting https://github.com/nodejs/node/pull/5776 while I figure it out, as it seems that this issue is more severe.

Of course, if anyone wants to investigate further please be welcome! As a first step I'd like t

[2016-03-29 03:51] orangemocha commented on #5384
The fix had an unwanted side effect (https://github.com/nodejs/node/issues/5927), so I removed the `land-on-v5.x` label.

[2016-03-29 04:06] indieisaconcept commented on #3113
I'm looking to do a test with 5.9.1 later this week. I've seen good results locally but need to kick the tyres more with a % of production traffic to be certain.

[2016-03-29 08:06] trevnorris commented on #4701
@littledan

Hm. Must be doing something wrong. We're doing the following:
[code]
Then this when the object is constructed:
[code]
Anything wrong with that implementation?

Great. That's what we're currently doing. Didn't know if switching to `class` in JS would require altering the implementation details on the native side. Thanks.

[2016-03-29 09:07] technion commented on #5798
It's worth referring to LibreSSL's rewrite of OpenSSL's functionality. The first thing their getentropy() function tries (under Linux) is to pull from /dev/urandom:

https://github.com/libressl-portable/openbsd/blob/37759485f52993eb812898ccd70fc42cd92cdad5/src/lib/libcrypto/crypto/getentropy_linux.c#L114

[2016-03-29 10:41] firedfox opened #5942 "Error found when generating JSON doc"
* **Version**: master [b1c0587](https://github.com/nodejs/node/commit/b1c05871a38b97ebdf5b4b8b1eaacd5f6494deec)
* **Platform**: Darwin firedfox-mbp.local 15.3.0 Darwin Kernel Version 15.3.0: Thu Dec 10 18:40:58 PST 2015; root:xnu-3248.30.4~1/RELEASE_X86_64 x86_64
* **Subsystem**: tools

When I run tools/doc/generate.js to build JSON format docs, I see this error:

[code]

It's caused by the follow

[2016-03-29 12:10] iliakan opened #5944 "Event sequence when writing an empty file into fs.WriteStream"
Please consider this issue as a "support" question, not a bug report.

* **Version**: 5.9.1
* **Platform**: MacOS
* **Subsystem**: fs

I need to write a file only if it doesn't exist:

[code]

But there's a problem. If `input` is a stream without data (immediately ends, a zero-sized file), and the file already exists, then `finish` happens, and then `error` (EEXIST).

Is it correct?

So, it is sem

[2016-03-29 12:55] dzilbers opened #5946 "node stopped working - impossible to install any npm packages"
* **Version**: v.5.9.1
* **Platform**: Windows 10 (it does not work in Windows 7 either),  64-bit
* **Subsystem**: any - express, mosca, ...
during:

but also any other - express for example
It started last couple of days. It worked fine a week ago

[code]

[2016-03-29 13:01] dzilbers commented on #5946
mosca fails to install similar way after downgrading to node 4.4.1 (LTS) as well, Express is back and working

[2016-03-29 13:03] evanlucas commented on #5946
gyp requires python 2. From your log, it looks like you have python 3 installed.

[2016-03-29 13:08] paragonie-scott commented on #5798
Apparently OpenSSL [bit Android too](https://emboss.github.io/blog/2013/08/21/openssl-prng-is-not-really-fork-safe/).

[2016-03-29 13:10] vkurchatkin commented on #5944
This behaviour makes sense, but probably fixing it is not a bad idea. Streams don't have a concept of "opening", so it's possible to end stream before underlying resource is opened. As a quick fix, writing a zero-length buffer before piping should probably work.

[2016-03-29 13:16] egoroof commented on #5384
Reopen it plz, because people think this is already fixed (https://github.com/nodejs/node/issues/5940)

[2016-03-29 14:30] hax commented on #3402
@VanCoding

Yes, caching is a real problem. Currently, you could just symbol link all deps to a global store because they share the same cache. Though npm doesn't do that but theroically someone could create a package manager use such method.

[2016-03-29 14:32] littledan commented on #4701
Oh, right, you already do that on the class definition side; it's just the instantiation side that's different. You can simplify it somewhat on the actual creation side by doing

[code]

Without the prototype mutation. This takes advantage of ES2015 "subclassable builtin" constructor semantics and, in this case, should just work. I believe there was a bug for TypedArray subclassing that was fixed

[2016-03-29 14:39] Fishrock123 commented on #5766
@Martii Sounds like you're looking for either the [`--trace-deprecation`](https://nodejs.org/dist/latest-v5.x/docs/api/cli.html#cli_trace_deprecation), or `--throw-deprecation` flag.

[2016-03-29 15:15] dzilbers commented on #5946
Why should I have separate Python install for using nodejs? I may not need
it at all. If nodejs requires any tools it should have them inside the
install package - it was this way till few days ago. So why are there
changes that break a lot? Why do I need know to make special additional
installations of outdated software? It's unacceptable!

*BR*
*Dani Zilberstein*
*home: +972-(0)9-7495890*
*mob:

[2016-03-29 15:17] #2537 closed

[2016-03-29 15:19] evanlucas commented on #5946
Native modules require python 2 to build because gyp is used to build them. Gyp has a hard dependency on python 2. You can use node without having python 2, you just won't be able to use native modules.

[2016-03-29 15:22] #5927 closed

[2016-03-29 15:24] dzilbers commented on #5946
there were no any problem with it a week ago. What changed?

*BR*
*Dani Zilberstein*
*home: +972-(0)9-7495890*
*mob: +972-(0)50-8503456*
*e-mail: dzilbers@gmail.com <dzilbers@gmail.com>*

On Tue, Mar 29, 2016 at 6:20 PM, Evan Lucas <notifications@github.com>
wrote:

[2016-03-29 15:28] dzilbers commented on #5946
and another point - if node-gyp requires python 2 it must include it in its
install package. anyway node-gyp is a part of nodejs install (at least it
is told there)
anyway - it did not require it a week ago.
furthermore - if I install python 2 there are new problems coming up -
windows SDK and more...
all this was not required a week ago.

*BR*
*Dani Zilberstein*
*home: +972-(0)9-7495890*
*mob: +9

[2016-03-29 15:34] evanlucas commented on #5946
python2 has been a hard dependency of node-gyp (due to it being a dependency of gyp) for quite some time now. I am not sure why this problem is just now presenting itself on your system though. In order to not mess up your python 3 install, you could install python 2 along side of it (just don't add it to your path). Then you can force npm to always use python 2 by doing the following:

[code]

[2016-03-29 18:22] rvagg commented on #3113
If things turn out to be good with this in 5.9.1 then I don't see any reason they won't be applied to a v4 release soonish. Given that it turned out to be not quite as simple (regression in 5.9.0) it might be something we want to sit on for a little longer to ensure that the functionality is stable in v5 before we have confidence to pull it back. / @nodejs/lts

[2016-03-29 19:42] #5684 closed

[2016-03-29 19:47] vsemozhetbyt opened #5948 "ES6 regular expressions unicode mode: case insensitivity case folding inconsistency"
* **Version**: 5.9.1
* **Platform**: Windows 64-bit

[Here is a good article on the topic](https://mathiasbynens.be/notes/es6-unicode-regex) with this code example:
[code]
(https://mathiasbynens.be/notes/es6-unicode-regex#impact-i)

The last Chrome Canary with V8 5.1.216 gives the same output.

However the 5.9.1 Node with --harmony-unicode-regexps and V8 4.6.85.31 gives this on:
[code]

Is this te

[2016-03-29 19:49] cjihrig commented on #5948
Anything behind a harmony flag can't be trusted to be 100% implemented and correct.

[2016-03-29 20:18] olalonde commented on #5805
Thanks for the suggestion. I was able to reproduce the problem. The issue only seemed to occur with files on a certain length so I'm guessing my code was at fault. I replaced my two stream by subclassing Transform and the problem seems to be gone now.

[code]

[code]

[2016-03-29 20:18] #5805 closed

[2016-03-29 20:22] addaleax commented on #5927
@evanlucas Thanks for taking care of this for now. Would it be a good idea if I tried to write a regression test for this?

[2016-03-29 20:23] evanlucas commented on #5927
That would definitely be appreciated!

[2016-03-29 20:33] #5174 closed

[2016-03-29 20:49] iliakan commented on #5944
@vkurchatkin which fix you have in mind? could you lay out a piece of code with it?

[2016-03-29 21:00] vkurchatkin commented on #5944
Not sure yet. Basically, when we call `end`, `finish` is emitted immediately, because we have no writes queued. Probably https://github.com/nodejs/node/pull/2314 needs to be merged first, then we can implement `_end` to ensure that the file is properly opened and closed before `finish` is emitted

[2016-03-29 21:28] addaleax commented on #5927
@evanlucas Done: #5949

[2016-03-30 00:08] LewisJEllis commented on #3094
While I very much wish node were fully http compliant, that's somewhat idealist and few servers really are to begin with. Much of the non-compliant behavior in the wild, by node and many others, is just a matter of "when it was implemented, that behavior wasn't well-specified by the standard." See [RFC7230 Appendix A.2](https://tools.ietf.org/html/rfc7230#appendix-A.2) which summarizes many such g

[2016-03-30 00:30] TheAlphaNerd commented on #3476
@srl295 where are we on this?

[2016-03-30 01:32] egoroof commented on #5940
@sant123 that fix already reverted from master branch because of regression :cry:

[2016-03-30 03:18] justinegreene commented on #1462
I am a little late to this thread, but unless I am missing something, I am pretty sure that Safari on iOS and OSX lacks Session Ticket Support and only supports Session IDs, so removing new Session and Resume Session functionality would cripple SSL/TLS for iPhones and iPads which account for 40%-60% of the mobile web traffic in the US (and Safari on OS X which is about 3%).

[2016-03-30 03:29] sant123 commented on #5940
O.o? But it was working! As the previous arrows key example until this new version appeared.

[2016-03-30 03:42] indutny commented on #1462
@justinegreene I'm not suggesting removal of support of session ids... just asynchronous APIs for loading/storing them.

[2016-03-30 04:08] lamara commented on #3402
I created a PR for this issue here: https://github.com/nodejs/node/pull/5950

Passes all of Canary in the Gold Mine on linux and windows, things are looking pretty good as far as stability goes. W/R/T caching, modules still get cached, just according to their canonical symbolic path -- I'd argue that modules should never get cached according to their realpath because then we're just back to fighti

[2016-03-30 04:11] justinegreene commented on #1462
Thanks for the clarification.  The thread started with "SSL session ids are so outdated, let's remove them" and much of the discussion was about using Session Tickets instead of Session IDs, but this isn't an option with Safari.

[2016-03-30 12:06] eljefedelrodeodeljefe commented on #5942
Thanks for reporting and fixing. Just reviewed the PR.

[2016-03-30 12:10] eljefedelrodeodeljefe commented on #5848
I am curious: aside from the code fix, how do you actually run the dev setup for this? Just via CI? If then how'd you go about this exactly?

[2016-03-30 12:17] mikemaccana opened #5951 "crypto.createHash(weakAlgo) should print deprecation warning"
[`ask-500-worst`](https://npmcdn.com/asg-500-worst@1.0.2/index.js
) package is an (apparently serious) package created by someone looking to reduce bad passwords. From the README:

Indeed the package uses:

    crypto.createHash('md5')

[108 people downloaded the package last week](https://www.npmjs.com/package/asg-500-worst). It may be better if:

    crypto.createHash('md5')

Output something li

[2016-03-30 12:23] mattcollier commented on #5481
New PR relevant to this issue here: https://github.com/nodejs/node/pull/5950

[2016-03-30 12:27] smpbo commented on #5934
Thanks a lot.

[2016-03-30 12:42] mscdex commented on #5951
I don't agree that node should be printing such warnings as I think it ultimately depends on the how the hash is actually being used. If you're merely hashing a password, then yes, it could be a bad idea. However if you're using md5 for verifying file integrity or something else, I would argue that using md5 could work just fine and there would be no "security" issue.

[2016-03-30 13:17] cjihrig commented on #5855
In your most recent example, you have the `spawn()` arguments in the wrong order.

When `spawn()` fails, you get an error saying that a command failed. Can you try running that command verbatim from the command line.

[2016-03-30 14:04] mcollina commented on #4401
Regarding destroy, my idea is to standardize what is present both in core and in userland. Something that it is easily backportable.

What you mention "doing the right thing", si way more complicated and that's something we need to discuss. I would call that "Streams 4".

[2016-03-30 14:09] seishun commented on #5855
No reproducible testcase. I suggest we close this and redirect to the mailing list.

[2016-03-30 14:19] seishun commented on #4760
I propose to close this due to reasons outlined by @jorangreef. We can't really fix it in Node.js.

[2016-03-30 14:19] pps83 opened #5954 "pasting tab-indented code into the repl wrongly triggers autocomplete"
If you run node and then paste some script that contains tabs for indentation then node will exit with an exception:

[code]
make sure that this piece contains tabs for indentation and paste it into node interactive shell. On tab char it will print lots of bs suggestions and then at the end:
[code]

Surprisingly, if you have only one line inside test function above, then it doesn't throw. Also, on

[2016-03-30 14:26] cjihrig commented on #4760
Agreed.

[2016-03-30 14:26] #4760 closed

[2016-03-30 14:26] seishun commented on #2443
Proposing to close this.

[2016-03-30 15:06] calvinmetcalf commented on #5909
you can use stringdecoder (Which is what the stream does internally) to convert to a string and see how much of the file has been read so far

[2016-03-30 15:08] martinheidegger commented on #5821
@orangemocha Seems like that issue was reverted. But it does sound like we are talking about the same issue.

[2016-03-30 15:09] Fishrock123 commented on #5954
Looks like it's activating tab-complete.

I think it shouldn't be too difficult to fix.

[2016-03-30 15:10] calvinmetcalf commented on #5820
though the error in question isn't actually an error related to running out of memory which is the error you'd expect if it was actually due to improper back pressure handling between 2 streams.

[2016-03-30 15:25] dlongley commented on #5481
@julienw,

If PR #5950 is merged, then @kzc has suggested a workaround for you:

https://github.com/nodejs/node/pull/5950#issuecomment-203466816

[2016-03-30 15:41] ghaiklor commented on #5954
@Fishrock123 I can take this issue, but I'm not totally understand, how to reproduce this issue. Is there some code to reproduce this issue ?

[2016-03-30 15:43] Fishrock123 commented on #5954
@ghaiklor GitHub turns the tabs into spaces for code blocks, copy this: https://gist.github.com/Fishrock123/0c6aeb910948a3f2d844736918e6b187

[2016-03-30 15:53] #5942 closed

[2016-03-30 16:08] silverwind opened #5955 "Testing the doctool"
Both the JSON and HTML output of the doctool are currently untested while tests could have prevented these recent issues:

- https://github.com/nodejs/node/issues/5873
- https://github.com/nodejs/node/issues/5942

As a start, a test could include JSON.parse and possibly some lightweight HTML validation triggered by `make test-doc` / `vcbuild test-doc`.

[2016-03-30 16:09] silverwind commented on #5942
Suggestion on preventing issues like this one in the future: https://github.com/nodejs/node/issues/5955

[2016-03-30 16:10] silverwind commented on #5873
Suggestion on preventing issues like this one in the future: https://github.com/nodejs/node/issues/5955

[2016-03-30 16:17] eljefedelrodeodeljefe commented on #5955
Yeah, I am 100% +1 on this and started discussion here also https://github.com/nodejs/docs/issues/93

[2016-03-30 16:23] ghaiklor commented on #5954
@Fishrock123 got it, thanks.

[2016-03-30 16:32] silverwind commented on #5955
I wouldn't go out with selenium and similar browser-based tools. Just some very basic validation with lightweight tools that can live inside the repo.

[2016-03-30 16:36] eljefedelrodeodeljefe commented on #5955
Yeah for this purpose here I agree. Maybe it's enough in general. At the time of opening the issue I didn't think that simple.
We could have the selenium stuff also, but outside of CI. Don't know how to proceed there, but starting with this here would be step in the same direction.

[2016-03-30 16:54] PsyTae opened #5956 "Request UTF-32 Character Encoding"
* **Version**: v5.4.0
* **Platform**: Windows 7 Professional 64 bit
* **Subsystem**: buffer

Character encoding for buffer.

Why are utf-8 and utf-16 included for Buffer Encoding but UTF-32 is not?  UTF-32 is just as prevalent and even more useful than the first two including more options for characters.

[2016-03-30 17:07] Fishrock123 commented on #5956
@PsyTae IIRC it;s because of what JavaScript/v8 supports.

cc @trevnorris

[2016-03-30 17:15] mscdex commented on #5956
I wouldn't say that UTF-32 is more useful than UTF-8, but no matter what you can use the `iconv` or `iconv-lite` modules to do necessary conversions.

[2016-03-30 17:29] rvagg opened #5957 "Node.js Foundation Core Technical Committee (CTC) Meeting 2016-03-30"
## Time

**UTC Wed 30-Mar-2016 20:00**:

* San Francisco: Wed 30-Mar-2016 13:00
* New York: Wed 30-Mar-2016 16:00
* Amsterdam: Wed 30-Mar-2016 22:00
* Moscow: Wed 30-Mar-2016 23:00
* Sydney: Thu 31-Mar-2016 07:00
* Tokyo: Thu 31-Mar-2016 05:00

Or in your local time:
* http://www.timeanddate.com/worldclock/fixedtime.html?msg=Node.js+Foundation+Core%20Technical%20Committee%20(CTC)+Meeting+2016-03-3

[2016-03-30 17:35] rvagg commented on #5957
@mikeal, @jasnell and myself will be absent from this meeting. I've asked @Fishrock123 to chair this one and it should be pretty quick judging by the agenda!

Uberconference is having some billing problems I _think_ the account should work for this, if it doesn't, please update status here. It might be easier to just cancel the meeting rather than find a alternative quickly enough. I'm working to

[2016-03-30 17:40] Fishrock123 commented on #5957
Do we actually need to have a meeting today?

[2016-03-30 17:41] piscisaureus commented on #5957
I'm at TC39 so please excuse me for not joining this week.

On Wed, Mar 30, 2016 at 10:37 AM, Rod Vagg <notifications@github.com> wrote:

[2016-03-30 17:51] jasnell commented on #5956
This one may actually make sense to get added, although it's likely fairly non-trivial. I'm willing to take this on to investigate.

[2016-03-30 17:53] Fishrock123 commented on #5957
I suggest we skip until next week.

[2016-03-30 17:56] indutny commented on #5957
Agree.

[2016-03-30 18:17] TheAlphaNerd commented on #3113
+1 to that @rvagg

I would love to see these changes backported, but would also like to see them mature a little longer in v5.

[2016-03-30 18:28] ChALkeR commented on #5957
Yes, seems good to me.

[2016-03-30 18:47] Trott commented on #5848
Hmmm...yeah, unfortunately, the logical way to test one's fix would be to run a stress test on CI. Which a first-time contributor wouldn't be able to do. Removing the label...

[2016-03-30 19:38] srl295 commented on #5957
I will not be able to attend today

On Wed, Mar 30, 2016 at 11:28 AM, Сковорода Никита Андреевич <
notifications@github.com> wrote:

[2016-03-30 19:56] Fishrock123 commented on #5779
We should also get @addaleax in. So few people care about zlib in this sort of detail. Plus she's been helpful elsewhere. :)

[[commits](https://github.com/nodejs/node/commits/master?author=addaleax)], [[issue comments](https://github.com/nodejs/node/issues?utf8=%E2%9C%93&q=commenter%3Aaddaleax)]

[2016-03-30 19:58] evanlucas commented on #5779
+1 to @addaleax

I'll post a doodle link later on for the next onboarding if it's cool with @Fishrock123

[2016-03-30 20:03] evanlucas commented on #5957
Is it final that we are skipping?

[2016-03-30 20:07] Trott commented on #5957
Got on the call long enough to have a nice chat with Evan, Michael, and Josh about how the meeting isn't happening. See you all next week.

[2016-03-30 20:13] hashseed commented on #5948
This is just how it is specified:
In [0], the character class escape 'W' is defined as the inverse of 'w', and 'w' is defined as exactly 63 characters, i.e [a-zA-Z0-9_].
With the ignore-case flag, we just add the canonicalized closure over the characters of the character class. The way canonicalization is defined differs between unicode and non-unicode. See [1].

Now let's look at your examples.
e

[2016-03-30 20:24] addaleax commented on #5779
Okay :) I can’t promise I’ll stay as active as I have been here lately because I’ll be starting my master’s degree next month; but if that’s not a problem, sure, I’d be happy to! :smile:

[2016-03-30 20:51] cjihrig commented on #5948
Thanks for the explanation @hashseed. I'm going to close this as not a bug in Node or V8.

[2016-03-30 20:51] #5948 closed

[2016-03-30 21:00] silverwind commented on #5899
Dupe of https://github.com/nodejs/node/issues/3319 maybe?

[2016-03-30 21:05] silverwind commented on #3319
Closing in favor of https://github.com/nodejs/node/issues/5899 which has a bit more detail and a example.

[2016-03-30 21:05] #3319 closed

[2016-03-30 21:09] silverwind commented on #5899
@indutny

[2016-03-30 21:24] indutny commented on #5899
cc @nodejs/http

[2016-03-30 21:29] vsemozhetbyt commented on #5948
Then why V8 5.1.216 and V8 4.6.85.31 give different result? Which one is right and which one is buggy?

[2016-03-30 21:39] alexjeffburke commented on #4401
Yeah apologies I didn't mean to stray into blue sky territory! It was just my thinking through things somewhat aloud :)

I think this is worth doing, really dislike the thought some streams have this and others just won't. What you mentioned about back porting, that is an important concern - let's say you're working on a library, if you can write most of your code assuming this method and get down

[2016-03-30 21:59] nzakas opened #5963 "Request: Allow specifying lookup paths for require.resolve"
**tl;dr** I'd like to propose an additional API be exposed to Node.js JavaScript that allows developers to perform `require.resolve()`, but with an custom list of lookup paths.
## Background

In ESLint, we allow people to extend their configuration files with Node.js packages, so you can do something like this:

[code]

And then ESLint `require`s `eslint-config-airbnb`. That worked fine until peop

[2016-03-30 23:07] #5938 closed

[2016-03-30 23:23] hashseed commented on #5948
V8 4.6 does not have unicode regexp enabled by default. V8 5.1 does. V8 5.1 is also newer. Given my explanation above, why would you think V8 4.6 is correct?

[2016-03-31 00:03] Jameskmonger opened #5965 "No such file or directory on node shell script"
* **Version**: 5.0.0
* **Platform**: Linux JM-LAPTOP 3.19.0-56-generic #62~14.04.1-Ubuntu SMP Fri Mar 11 11:03:15 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

I have a script `hello` which has the following content:

    #!/usr/bin/env node
    console.log('hello there!');

When I run it with `./hello`, I get the following output:

    $ ./hello
    : No such file or directory

When I run it with `nod

[2016-03-31 00:04] evanlucas commented on #5965
Is the hello script set as executable?

[2016-03-31 00:13] vsemozhetbyt commented on #5948
I don't think V8 4.6 is correct, I thought V8 5.1 does. As the last Firefox with its engine.

I've just tried to find out if the current Node.js behavior would change according with current browswers behavior when unicode regexp get out from the flag.

[2016-03-31 06:43] firedfox commented on #1545
Above PR added a default case to `processList` function. All missing lists are put into `desc` as `ul`s without any extra wrapping. The json is complete now.
This is the diff result generated from all.markdown before and after the patch: [http://106.187.89.52/tmp/diff-json.html](http://106.187.89.52/tmp/diff-json.html)

[2016-03-31 07:12] kr3l commented on #5820
From the error and the observed memory behaviour, maybe the 'size' variable is becoming too big and overflowing before another memory-related error can occur?

[2016-03-31 07:17] ghaiklor commented on #5965
Make your script as executable.

[code]

[2016-03-31 07:21] bnoordhuis commented on #5965
Closing, nothing to do with node itself.

[2016-03-31 07:21] #5965 closed

[2016-03-31 08:11] kirkbushell commented on #3540
Doing what @rvagg stated resolved it for me without any issues.

[2016-03-31 08:11] addaleax commented on #5820
There’s a maximum size of 2^31-1 bytes for a Buffer (), so that would definitely make sense, even without an actual overflow occurring.

[2016-03-31 08:40] dandehavilland commented on #2933
@jennabelle try: `cd /usr/local/lib && sudo ln -s ../../lib/libSystem.B.dylib libgcc_s.10.5.dylib`

[2016-03-31 09:53] amasad commented on #548
Running into this. Curious how does the node repl work around this issue?

[2016-03-31 12:04] bnoordhuis commented on #5867
@niedomnie Sorry for the delay, missed the notification for your reply.  FWIW, I noticed the common name in your test is set to `CN=root.mx-portal.2016-03-24_12:42:49`.

That doesn't look valid to me, it would match everything under the .mx-portal top-level domain.  It's like issuing a certificate for `*.com` or `*.org`.

[2016-03-31 12:16] firedfox opened #5971 "Some optional param comments in doc are non-standard"
* **Version**: master 33c27f8
* **Platform**: Darwin firedfox-mbp.local 15.4.0 Darwin Kernel Version 15.4.0: Fri Feb 26 22:08:05 PST 2016; root:xnu-3248.40.184~3/RELEASE_X86_64 x86_64
* **Subsystem**: doc

Some optional params in the doc are like:
`methodName([param0, ][param1])` or `methodName([param0[, param1]])`
Such as:

[code]

These styles prevent json.js to tell whether they are optional.
T

[2016-03-31 12:21] firedfox commented on #5955
Also +1 on this. I just made another two PRs about doc #5966 and #5972 . Testing the doctool would surely help a lot to prevent bugs in future.

[2016-03-31 12:27] mscdex commented on #5971
I think they are/were grouped intentionally so that optional parameters depended on other optional parameters being set. Like in the documentation case of `fs.writeSync()` you could call it like `fs.writeSync(fd, data)` or `fs.writeSync(fd, data, position)` or `fs.writeSync(fd, data, position, encoding)` but **not** `fs.writeSync(fd, data, encoding)`.

Now it may very well be an error in many of t

[2016-03-31 12:43] firedfox commented on #5971
Yes, you are right. Sorry I didn't notice that. Most of them are reasonable. I'll close the PR.
json.js could not recognise such grouped style now. It needs to be upgraded later.

[2016-03-31 13:20] julienw commented on #5481
Thanks, I'll be sure to try this !

[2016-03-31 13:38] PsyTae commented on #5956
That `chunk.toString(<encoding>)` is actually one of the features I am looking forward to the most for the utf-32 character set. that and taking a string and breaking it back out to a utf-32 buffer.

[2016-03-31 13:45] mscdex commented on #5956
@PsyTae You might submit an issue at [`iconv-lite`](https://github.com/ashtuchkin/iconv-lite) requesting UTF-32 support and just use that module. It also offers the ability to use the extra encodings in node, such as in `buffer.toString()`.

[2016-03-31 13:54] kanasimi commented on #5909
Thank you, benjamingr, calvinmetcalf. Well, I have tried another approach, Buffer.byteLength(), and it works for me; althrough I'm still not satisfied.
https://github.com/kanasimi/CeJS/blob/6b1bc65a00bcec5840df579ffb6c520a83b19cb6/application/net/wiki.js#L5874

[2016-03-31 13:57] benjamingr commented on #5971
Thanks for trying to help :) Going to close this now - feel free to comment and I'll reopen it.

[2016-03-31 13:57] #5971 closed

[2016-03-31 13:58] benjamingr commented on #5954
Removed the good first contribution label on account of @ghaiklor picking up the glove and taking a stab at it :)

[2016-03-31 14:03] benjamingr commented on #5951
md5 is a great hash, I use it all the time to validate content matches what I expect. Just because a hash is not cryptographically secure does not make it useless.

Note that the docs [already warn against using MD5 for passwords](https://nodejs.org/api/crypto.html#crypto_support_for_weak_or_compromised_algorithms).

[2016-03-31 14:05] bodenr commented on #5675
I would assert this is a bug (regression), unless the behavior has intentionally changed in more recent versions of node.

For example...

stacks.js
[code]

Now testing behavior with node 0.10.25 and node 4.4.1:
[code]
As shown above, in node 0.10.25 the value of toString() is used for stack (e.g. ```My error```), but in node 4.4.1 it's not and the string ```Error``` is used.

There are existing m

[2016-03-31 14:08] bnoordhuis commented on #5951
I'll close, I think the consensus here is that context matters and that indiscriminate warnings are undesirable for that reason.

[2016-03-31 14:08] #5951 closed

[2016-03-31 14:18] benjamingr commented on #5963
Sorry, `Module` is locked. I don't think this can happen. I think it's worth discussing regardless.

----

I'm not sure I understand your particular problem, is this not something `module.require` (and not `require`) would solve for you?

If you don't want to `require` the actual file - is this something a `module.require.resolve` would fix for you?

[2016-03-31 14:30] bnoordhuis commented on #5675
@bodenr Try `MyError.prototype.name = 'My error'` or set `this.name = 'My error'` in the constructor.

As to `Error.captureStackTrace()`, it's implemented by V8, node only documents it.  The way it formats exception messages now looks ES6-compliant to me (v0.10 probably isn't) so presumably it only needs a documentation update on our side.

[2016-03-31 14:35] Fishrock123 commented on #5675
See also https://github.com/nodejs/node/commit/e2f47f5698?

But, what @bnoordhuis said, you need have `.name` set.

[2016-03-31 16:17] firedfox opened #5976 "The current json doctool does not support grouped optional params"
* **Version**: master 54a5287
* **Platform**: Darwin firedfox-mbp.local 15.4.0 Darwin Kernel Version 15.4.0: Fri Feb 26 22:08:05 PST 2016; root:xnu-3248.40.184~3/RELEASE_X86_64 x86_64
* **Subsystem**: tools, doc

Some optional params in the doc are like:
`methodName([param0, ][param1])` or `methodName([param0[, param1]])`
Such as:

[code]

The current json doctool does not support grouped brackets

[2016-03-31 16:18] nzakas commented on #5963
`require.resolve ` could handle it if it could be given different lookup paths. We use the full path to various references that get passed around multiple files, so where we resolve the module path isn't the same place that we require it.

If `Module` is locked, does that mean it's safe to rely on `Module._findPaths`? If so, then maybe no change is needed.

[2016-03-31 16:24] Trott commented on #5554
Still happening: https://ci.nodejs.org/job/node-test-binary-arm/1540/RUN_SUBSET=1,nodes=pi2-raspbian-wheezy/console

Any ideas, anyone? Pretty thin roster using `git shortlog` but maybe @bnoordhuis or @evanlucas might have some ideas what's going wrong here?

[2016-03-31 16:26] benjamingr commented on #5963
_findPaths is an internal method, there is no gurantee regarding it as far as I know. In practice I doubt it'll break but that's not a position I'd be comfortable to have you in (relying on it).

Would you mind elaborating a little on why you need to pass the paths inside rather than using module.require ?

[2016-03-31 16:37] nzakas commented on #5963
Sure, basically, we have a configuration structure that we build up from multiple sources. At different points during that process, we convert Node.js module names into their paths, and we `require` those paths at different points in time. For instance, with `extends`, we do end up requiring fairly soon after resolving, but for `parser` we do not. The value of `parser` is passed along in the confi

[2016-03-31 17:13] cjihrig commented on #5963
FWIW, I'd also like to bless `Module._findPath()`, and will gladly submit the PR to make it happen.

[2016-03-31 17:34] TheAlphaNerd commented on #3892
@mousetraps you sent a PR right? I can't seem to find it right now

[2016-03-31 17:38] jennabelle commented on #2933
@dandehavilland Thank you but I ended up manually installing my 3 versions of Node.js and reinstalling. In process I removed .node-gyp which I believe was giving me errors, so the issue is fixed now.

[2016-03-31 18:32] Trott commented on #5963
Putting aside the Locked status issue for now, I'd also be for it (what @cjihrig said) if we can rename it to something without a `_` and keep `_findPath()` as an undocumented alias for backwards compatibility.

Returning to the Locked status, if we have to vote to move it to Stable in the CTC or something, that's a high bar but not an entirely insurmountable obstacle. I certainly appreciate the e

[2016-03-31 18:45] benjamingr commented on #5963
I think we can expose this functionality too (sans the `_`) as it directly relates to the internal module system and it's useful and there is no harm generally in doing it.

That said, we should also investigate what exposing it publicly would mean. What happens if someone overrides it with their own hooks? Should that change the internal reference or only further direct calls to it from outside o

[2016-03-31 18:49] #5907 closed

[2016-03-31 19:13] subeeshcbabu opened #5979 "[Question]: Optional callback argument for the socket.destroy"
- Are there any particular reasons, why an optional callback is not provided for the `socket.destroy` API?    https://github.com/nodejs/node/blob/master/lib/net.js#L499
- The `_destroy` API already takes the `callback` and `exception` options here - https://github.com/nodejs/node/blob/master/lib/net.js#L444. Why cant this be exposed for the `socket.destroy` also?

- The problem that I am trying to

[2016-03-31 20:06] vkurchatkin commented on #5963
It's not clear, why is this a problem at all. Algorithm is fixed, so implementing it in userland should be possible

[2016-03-31 20:11] cjihrig commented on #5963
It's fixed in theory. Things do actually change in it from time to time. I think @nzakas has made a pretty compelling argument that people want this behavior. It's already exposed, so I don't think committing to it is a bad idea.

[2016-03-31 20:29] Trott commented on #5963
That's the crux for me. It's already exposed, people are already using it. Exposing "private" methods and expecting people not to use them is something that we should try to correct where we can, and it seems that we can here.

[2016-03-31 20:30] Subomi commented on #5932
@jasnell can you please write a tutorial or documentation on the workings of http-parser written in C with the http library, their workings kind of confuses me, plus i dont know any C, but intermediate javascript

[2016-03-31 20:32] vkurchatkin commented on #5963
@Trott the whole module is "private"

We can't just document everything that's exposed.

[2016-03-31 22:36] Trott commented on #5963
True, it's "private". It's also:

* exposed
* being used by people
* something the project is saying will not change
* the subject of a valid use case (at least for `_findPath()`)

Those things taken as a whole seem to suggest that documenting `_findPath()`  is both a low-risk and user-friendly approach.

There are other considerations, of course, and this may not be the right path after all. I do

[2016-03-31 22:46] vkurchatkin commented on #5963
A lot of things are exposed.

People use everything they can find

Public APIs are not going to change, and behaviour is not going to change. Stuff like `_findPath` doesn't even have well defined semantics. If we just take a random internal function, make it public and commit to never change it, we might found ourselves in trouble later.

[2016-03-31 22:48] vkurchatkin commented on #5963
I propose adding a second argument to `resolve`, that is used as base path, if present. @nzakas would that work for you?

[2016-04-01 01:45] nzakas commented on #5963
@vkurchatkin I'm not familiar with the term "base path" in this context. What I had in mind was to allow an array of lookup paths to be passed, just like `Module._findPaths`. Alternately, passing an array of paths to be searched before the internal path list could work for my case, but I'm not sure if there's another case where people might want to avoid the regular lookup paths altogether.

[2016-04-01 02:02] vkurchatkin commented on #5963
@nzakas I mean the following: we you call `require.resolve('foo')` it returns the path that would be used if `require('foo')` was used in the current file; if you call `require.resolve('foo', '/some/file.js')` it returns the path that would be used if `require('foo')` was used in `/some/file.js`.

[2016-04-01 02:15] TheSavior opened #5985 "NodeJS 0.12.13 does not seem to include npm LTS v2.15.1"
Per this post: https://nodejs.org/en/blog/vulnerability/npm-tokens-leak-march-2016/

Node 0.12.13 is supposed to include the patched npm version 2.15.1.
[code]

We confirmed this by compiling from source as well. Are we missing something?

Referencing this PR for more context: https://github.com/nodejs/node/pull/5967

[2016-04-01 02:23] TheAlphaNerd commented on #5985
@TheSavior thanks!

I'm digging into this right now.

[2016-04-01 02:46] mscdex commented on #4402
Re-opening this as this is a real wtf with the current behavior and the documentation. Here is a simpler reproduction of the issue:

[code]

This behavior goes back to at least v0.10, so I'm not sure how this would be viewed. It's a bug fix if the documentation is supposed to be correct, but it would be changing behavior so it's kind of a semver-major thing?

[2016-04-01 04:10] voxsoftware opened #5991 "When I write áéíóú, process.stdout.write in Windows English version, process.stdout is closed"
When I write áéíóú, process.stdout.write in Windows English version, process.stdout is closed

E.g.
[code]

* **Version**: node v5.9.1
* **Platform**:  Windows, 7 32 bit (English Language)

[2016-04-01 04:32] Trott commented on #5554
Good news. I tried putting all those hints tests in their own file to see if that fixed the flakiness on the theory that the tests were either interacting with other tests or else cumulatively hitting some sort of threshold that was triggering Pi2 to sometimes drop a ... packet or *something*.

Anyway, looks like that fixes it, and I'm all for splitting out the really big honkin' test files into s

[2016-04-01 04:37] Trott commented on #5554
Proposed fix: #5992

[2016-04-01 04:41] kriskowal commented on #5679
cc @domenic I am wondering whether you might be able to shine some light on the nature of VM context objects. What is special about the global object in a VM context that might make it hard to freeze properties?

[2016-04-01 05:00] TheSavior commented on #5985
From the email that just went out:

[code]

[2016-04-01 05:31] ChALkeR commented on #5991
Could this be related to #1916?

[2016-04-01 05:40] Trott commented on #5554
Stress test for further splitting up the test more in the hops of increased reliability: https://ci.nodejs.org/job/node-stress-single-test/578/nodes=pi2-raspbian-wheezy/console

[2016-04-01 06:14] TheSavior commented on #5985
For those looking, see this PR for the fix: https://github.com/nodejs/node/pull/5988

[2016-04-01 07:38] dzilbers commented on #5946
I do not know about the history of node-gyp dependecies and I do not argue about it.
However the facts are as following: two weeks ago I installed "npm install mosca --save" in my computer without any problems. But the last week it begans failing as above. Point. And my students complained that the same problem started in their computers with "npm install express --save". So my conclusion was that

[2016-04-01 08:36] bnoordhuis commented on #5946
Sounds like mosca took on a dependency (direct or indirect) on a module with a native component (i.e., one that needs node-gyp and a compiler.)  Try installing the exact same version you installed last time and see if the problem goes away.

I'm going to close the issue because I have no reason to believe it's in any way related to node core.

[2016-04-01 08:36] #5946 closed

[2016-04-01 08:54] amurchick commented on #3784
Issue still not fixed:
[code]

In REPL all ok:
[code]

[2016-04-01 09:14] bnoordhuis commented on #3784
@amurchick It's fixed in master and will be released as v6.0.0 later this month.

[2016-04-01 09:20] bnoordhuis commented on #5979
When would that be?  If you can call socket.destroy, then you cal call socket.once, can't you?

The problem with adding a callback argument to socket.destroy is that the callback to socket._destroy can be executed synchronously.  That's fine for internal callbacks but user callbacks should always run on the next tick.  Blindly sticking in a `process.nextTick()` could introduce a performance regres

[2016-04-01 09:48] Martii commented on #5985
Same with v4.4.2 ... guess I'll do `$ sudo npm install npm@2.15.1 -g` again. ;)

[2016-04-01 13:11] Trott commented on #5128
Another one from today: https://ci.nodejs.org/job/node-test-binary-arm/1553/RUN_SUBSET=0,nodes=pi2-raspbian-wheezy/console

[2016-04-01 13:27] santigimeno commented on #5128
Highly unlikely, but maybe the refactoring to use newer syntax did something.
Maybe it's worth it launching the stress test again *only* with the logs.

[2016-04-01 13:30] santigimeno commented on #5128
Nah it's only the `const`, disregard it

[2016-04-01 13:33] Trott commented on #5554
OK, so it does use the network despite `setServers([])` (which I guess I should have known). But since all we're testing is throws vs. not throws, we can change these to look up an empty string rather than actual hostname, since all the throwing stuff happens during parameter validation. That will avoid the network lookup and probably result in a completely reliable test. PR coming soon...

[2016-04-01 13:48] Trott commented on #5554
New PR: https://github.com/nodejs/node/issues/5996

[2016-04-01 14:10] fmgdias opened #5998 "node-v5.10.0 - Build Fail - Solaris 5.11 Sparc 64bits (x64)"
I'm trying to make the Node JS build on Solaris / Sparc, but this fails.

node-v5.10.0

[code]

Log Error:
[code]

Log Error - Forcing x86_64
[code]

[2016-04-01 14:14] fmgdias opened #5999 "node-v0.12.12 - Build Fail - Solaris 5.11 Sparc 64bits (x64)"
I'm trying to make the Node JS build on Solaris / Sparc, but this fails.

node-v0.12.12

uname -a
SunOS SOLARIS 11 5.11 11.2 sun4v sparc sun4v

/usr/bin/gcc --version
gcc (GCC) 4.8.2
Copyright (C) 2013 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

How To:

[code]

[2016-04-01 15:29] nzakas commented on #5963
@vkurchatkin ah! So that would then calculate what would effectively be `module.paths` for that base path?

[2016-04-01 16:16] vkurchatkin commented on #5963
@nzakas yes, it will resolve paths under the hood

[2016-04-01 17:00] thefourtheye commented on #5999
cc @nodejs/build

[2016-04-01 17:02] thefourtheye commented on #5998
cc @nodejs/build @bnoordhuis. Possibly related https://github.com/nodejs/node/issues/5999

[2016-04-01 17:05] bnoordhuis commented on #5999
SPARC isn't supported and never has been.  I could add support to libuv but there's not much point because V8 doesn't support it either.

[2016-04-01 17:06] bnoordhuis commented on #5998
See https://github.com/nodejs/node/issues/5999#issuecomment-204473112, SPARC is not a supported architecture.

[2016-04-01 17:07] sam-github commented on #5832
Unfortunately, the tests in #5858 don't includ a host with `*` in it.

From my reading of https://url.spec.whatwg.org/#host-parsing:

`*` should not be rejected syntactically as a `host`. The chars above are all pretty obviously ones that have syntactic meaning in URLs (unlike `*`).

[2016-04-01 17:08] sam-github commented on #5832
which was not intended to suggest importing them isn't a great idea, @jasnell

[2016-04-01 17:40] nzakas commented on #5963
Just so I'm understanding correctly, would this add those paths to what would already be searched? Or would they replace some of the paths that would have been searched?

What I mean is, if the normal lookup is:

[code]

Would this change mean A or B below:

[code]

[2016-04-01 17:59] Zarel commented on #5469
#5713 seems to have fixed this.

[2016-04-01 17:59] #5469 closed

[2016-04-01 19:41] Fishrock123 opened #6002 "New GitHub Merging"
GitHub has a new merge button feature, allowing it do a "squash-merge". See: https://github.com/blog/2141-squash-your-commits

I've done a little test [[1]](https://github.com/TestOrgPleaseIgnore/-TEST-/pull/2), [[2]](https://github.com/TestOrgPleaseIgnore/-TEST-/commits/master), and it appears to do what we want. No merge commit.

:tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada:

I have di

[2016-04-01 19:45] jasnell commented on #6002
First Microsoft does Bash and now this?! What is this future alternate
universe I'm living in?!
On Apr 1, 2016 12:41 PM, "Jeremiah Senkpiel" <notifications@github.com>
wrote:

[2016-04-01 19:46] TheAlphaNerd commented on #6002
@Fishrock123 when you do these merges do the commits end up rebased and at the top of the tree

[2016-04-01 19:49] Fishrock123 commented on #6002
@TheAlphaNerd Hmm, let's find out. https://github.com/Fishrock123/node/tree/test-new-github-merge

[2016-04-01 19:53] Fishrock123 commented on #6002
@TheAlphaNerd Yes, yes it does.

[2016-04-01 19:54] TheAlphaNerd commented on #6002
omg

[2016-04-01 19:54] jasnell commented on #6002
It's definitely an improvement. I can imagine that if we enable this we'll have to keep a close eye on making sure that the commit metadata is still being added correctly to the commits. It also appears that this does not present the option of selecting which commits get squashed (we regularly end up with a few PRs whose commits should NOT be squashed on landing). This is certainly a step in the r

[2016-04-01 19:54] jasnell commented on #6002
I will say, however, that turning off the merge commit option gets a huge hooray! from me.

[2016-04-01 19:55] sam-github commented on #6002
That's sucky... they finally do what we want, almost then mess it up? It actually squashes, so your nice PR that carefully introduces a set of changes as incremental commits gets squashed into one.... and some devs crappy PR that is full of little commits with useless names also gets squashed into one with a bullet list of all the crappy commit messages?  Just a tick box for "no merge commit for P

[2016-04-01 19:56] Fishrock123 commented on #6002
It will work for at least some portion of our commits by the looks of it.

Notable exceptions being: PRs with more than one commit, and those we need to amend nits on.

It'd be awesome of we could get a markdown template for the message box, but this is great incremental step.

[2016-04-01 19:58] sam-github commented on #6002
It doesn't allow amending the commit metadata, `Reviewed-By: ...`, so it only works if you pre-prepare the branch to have a commit with that info. And if you are at the CLI because you just did that... why not just do an additional `git merge; git push`, @Fishrock123 ?

[2016-04-01 20:01] jasnell commented on #6002
As @Fishrock123 says, it is at least a step in the right direction, just not sure how often we'd be able to use it.

[2016-04-01 20:03] sam-github commented on #6002
Maybe its a step on a good path, possibly there will be no more steps after this. Though it is a sign that some devs are getting what they ask for, and that is good.

[2016-04-01 20:10] Fishrock123 commented on #6002
@sam-github huh? what you fill into the merge box goes in the commit description and message, no?

[2016-04-01 20:15] sam-github commented on #6002
@Fishrock123 oh, it does? that is not so bad, then.

[2016-04-01 20:15] cjihrig commented on #6002
Would anyone mind if I landed https://github.com/nodejs/node/pull/6000 with the new button? I can force push over it quickly if something goes wrong.

[2016-04-01 20:30] Fishrock123 commented on #6002
@cjihrig I'd say go for it.

[2016-04-01 21:05] cjihrig commented on #6002
So, that worked fine. I had to force push over it, but that's only because I had a long line in the commit message (human error).

Original: 0879dfe11ca0ea8ec8b4c26ad7775eaa66270330
Force push: 39de601e1c3eda92eb2e37eca4e6aa960f206f39

[2016-04-01 21:08] Fishrock123 commented on #6002
Hmmm, it has no way of checking that, does it?

GitHub's desktop GUI checks the message length and auto-wraps the description.

[2016-04-01 21:20] jasnell commented on #6002
Happy that it worked but definitely concerned that this will make it easier to overlook those kinds of errors. We'd have to make sure that all collaborators landing commits were disciplined in double checking the log.

[2016-04-01 21:21] drgroot commented on #6002
Wouldn't squashing lead to loss of data?

[2016-04-01 21:24] jasnell commented on #6002
@drgroot ... that depends on what gets squashed. We already as a common practice squash minor commits when landing PRs in order to keep the commit history fairly sane. However, quite often we will logically separate multiple commits in a single PR. It really depends on the individual PR. In this case, using the green button to squash ALL commits all the time is going to be problematic because it d

[2016-04-01 21:27] cjihrig commented on #6002
@Fishrock123 that was my own stupidity. It was originally wrapped like I had it in my local editor. When it available for me to edit, it had extra lines between all of the lines. When I was removing the extra lines, I unwrapped that line.

[2016-04-01 21:36] Trott commented on #5128
I think I have a fix for this... Stress test is 275 successful runs and counting: https://ci.nodejs.org/job/node-stress-single-test/583/nodes=pi2-raspbian-wheezy/console

[2016-04-01 22:00] TheAlphaNerd commented on #6002
So I just checked it myself on staging and it would appear that github is adding meta data to the top of the commit (the merge data)

[2016-04-01 22:03] Trott commented on #5128
Proposed fix: #6003

[2016-04-01 22:37] ajafff opened #6004 "url: format ignores query if it's no object"
- **Version**: v6.0.0-pre (master)
- **Platform**: Linux klaus-ThinkPad-T410 4.2.0-34-generic #39-Ubuntu SMP Thu Mar 10 22:13:01 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
- **Subsystem**: url

[code]

results in `AssertionError: '?bar=baz' == '/foo?bar=baz'`

If `search` is falsy, `query` is used. Unfortunately `query` is only used, if it is an object. Strings are currently ignored.

PR incoming

[2016-04-01 23:12] mbloch opened #6006 "First typed array is not zero-filled (v5.10.0)"
Version: v5.10.0
Platform: Darwin [...] 14.5.0 Darwin Kernel Version 14.5.0: Mon Jan 11 18:48:35 PST 2016; root:xnu-2782.50.2~1/RELEASE_X86_64 x86_64

The first typed array created during script execution may contain non-zero values. Subsequent typed arrays are zero-filled, as expected.

I began to see this behavior after installing v5.10.0 from the following source: https://nodejs.org/dist/v5.10.

[2016-04-01 23:16] TheAlphaNerd commented on #6006
I am able to reproduce. Not sure if the labels I have applied are correct or not. I'm doing a bisect right now to see what's up

/cc @nodejs/security

[2016-04-01 23:21] evanlucas commented on #6006
Hm, I cannot reproduce it from the repl though...weird

[2016-04-01 23:22] vkurchatkin commented on #6006
@evanlucas probably because some allocations are already made

[2016-04-01 23:23] TheAlphaNerd commented on #6006
Looks like the regression comes in from 660ec9f

[2016-04-01 23:24] evanlucas commented on #6006
master is affected also

[2016-04-01 23:24] TheAlphaNerd commented on #6006
/cc @jasnell

[2016-04-01 23:25] TheAlphaNerd commented on #6006
I'm not 100% but I'm going to guess we are doing something wrong here https://github.com/nodejs/node/commit/3c02727055422d5ff1023ac84d3029eaa11ac029#diff-cd53544f44aab2c697bcd7b6a57f23ccR949

[2016-04-01 23:26] vkurchatkin commented on #6006
Calling `Buffer.allocUnsafe` reproduces this state

[2016-04-01 23:26] evanlucas commented on #6006
Passing the --zero-fill-buffers flag definitely makes it work

[2016-04-01 23:41] jasnell commented on #6006
@TheAlphaNerd ... quick test on v5.x with that additional check removed still shows the problem. Master includes that exact same check also and I'm unable to reproduce there.

[2016-04-01 23:43] TheAlphaNerd commented on #6006
I just ran a test with the following on master

[code]

out put is
[code]

[2016-04-01 23:44] Fishrock123 commented on #6002
@TheAlphaNerd That hasn't happened to me?

[2016-04-01 23:54] TheAlphaNerd commented on #6002
I'll run a couple tests, I might have done something wrong. But it is a possible edge case to be aware of

[2016-04-02 00:28] #6006 closed

[2016-04-02 02:10] firedfox opened #6008 ""Command Line Options" document is not included in "View on single page""
* **Version**: 5.10.0
* **Platform**: Darwin 192.168.1.7 15.4.0 Darwin Kernel Version 15.4.0: Fri Feb 26 22:08:05 PST 2016; root:xnu-3248.40.184~3/RELEASE_X86_64 x86_64
* **Subsystem**: doc

[Command Line Options](https://nodejs.org/dist/latest-v5.x/docs/api/cli.html) is not included in [View on single page](https://nodejs.org/dist/latest-v5.x/docs/api/all.html). Is this intentional? If not, I can

[2016-04-02 02:58] jasnell commented on #6008
Likely just an oversight. PR is welcome! :-)

[2016-04-02 03:06] lrowe opened #6010 "node debug does not repeat last command when hitting enter at prompt"
When stepping through code with a command line debugger, it's really helpful to repeat the last command by hitting enter.

Steps to reproduce:
[code]

The _debugger module seems to implement this in commandEval:
[code]
https://github.com/nodejs/node/blob/v5.9.1/lib/_debugger.js#L943-L951

Unfortunately it seems that the repl's `self.eval` is no longer called for empty commands:
[code]
https://gith

[2016-04-02 05:04] jasnell commented on #1795
Closing this due to lack of activity. This is generally a good idea but there's no reason to keep this open.

[2016-04-02 05:04] #1795 closed

[2016-04-02 05:05] jasnell commented on #2300
@srl295 ... any reason to keep this open?

[2016-04-02 05:07] jasnell commented on #2787
Fixed in master.

[2016-04-02 05:07] #2787 closed

[2016-04-02 05:35] jasnell commented on #3836
@cjihrig ... do we still need to keep this one open?

[2016-04-02 05:45] jasnell commented on #4375
this has been addressed in master and v5

[2016-04-02 05:45] #4375 closed

[2016-04-02 05:51] #5448 closed

[2016-04-02 05:58] jasnell commented on #5473
Closing. Doesn't appear to be anything to do in this one.

[2016-04-02 05:58] #5473 closed

[2016-04-02 06:20] jasnell commented on #1834
@bnoordhuis ... I assume this is still an issue?

[2016-04-02 06:21] jasnell commented on #2006
@bnoordhuis @isaacs ... any further thoughts on this one? Suggestions on how to proceed?

[2016-04-02 06:23] jasnell commented on #2069
@piscisaureus ... this would need to be fixed in libuv correct?

[2016-04-02 06:26] bnoordhuis commented on #2006
Someone from @nodejs/streams should probably take a look.

[2016-04-02 06:31] jasnell commented on #690
@bnoordhuis ... is it possible to put together a known-issue test for this?

[2016-04-02 06:32] bnoordhuis commented on #2069
I've filed https://github.com/libuv/libuv/issues/800.

[2016-04-02 06:32] jasnell commented on #769
is this still an issue?

[2016-04-02 06:35] jasnell commented on #983
Appears to be fixed in master. Closing.

[2016-04-02 06:36] bnoordhuis commented on #1834
Yes, it's still unfixed.

[2016-04-02 06:41] jasnell commented on #1788
Nope, still an issue unfortunately. /cc @TheAlphaNerd

[2016-04-02 06:44] jasnell commented on #2245
A test was added in #5250 and this now appears to be working in master. closing.

[2016-04-02 06:44] #2245 closed

[2016-04-02 06:49] jasnell commented on #3158
@bnoordhuis ... is this actually a bug? this is definitely still happening but it's not clear if it's something that needs fixed.

[2016-04-02 06:52] jasnell commented on #3439
this appears to be fixed in master and may be too complex to backport, I'm not sure if there's anything else than can be done with this one relative to v4 and v5. Recommend closing.

[2016-04-02 06:56] jasnell commented on #3606
Is this still an issue?

[2016-04-02 07:00] jasnell commented on #4441
@nodejs/collaborators ... anyone feel like giving this backport a shot?

[2016-04-02 07:04] jasnell commented on #1180
Without further confirmation it's difficult to say. I'd recommend closing and we can reopen later if necessary.

[2016-04-02 07:06] jasnell commented on #1992
Closing given the lack of further activity.

[2016-04-02 07:06] #1992 closed

[2016-04-02 07:07] jasnell commented on #2857
Is this still an issue?

[2016-04-02 07:10] jasnell commented on #3475
is this still an issue in v4, v5 or master?

[2016-04-02 07:10] jasnell commented on #3477
is this still an issue?

[2016-04-02 07:17] cookiengineer commented on #1992
Really? I don't know, but I think this is a security issue as it can crash a node server implementation, given that the attacker sends the right tcp events in the right order. If this isn't an issue, then at least provide better docs about which event can potentially fire which kind of error event. Otherwise pretty any implementation that handles TCP close frames will be broken.

[2016-04-02 07:18] jasnell commented on #3395
Is there reason to keep this open?

[2016-04-02 07:21] jasnell commented on #1992
If someone can confirm that this a bug that needs fixing (@saghul @trevnorris @bnoordhuis ?) we can definitely reopen. Just closed because there's been no further discussion or investigation on it since last July.

[2016-04-02 07:21] jasnell commented on #1992
Can you verify whether this is still an issue in master?

[2016-04-02 07:23] jasnell commented on #2110
ping @yjhjstz ...

if there's no response I'm going to assume this is no longer an issue and close.

[2016-04-02 07:24] jasnell commented on #2875
is this still an issue?

[2016-04-02 07:24] jasnell commented on #2887
is this still an issue?

[2016-04-02 07:26] jasnell commented on #3168
is this still an issue?
ping @nodejs/collaborators ... can anyone confirm this?

[2016-04-02 07:27] jasnell commented on #3253
Does not appear to be a node issue. Closing. Can reopen if necessary.

[2016-04-02 07:27] #3253 closed

[2016-04-02 07:30] thefourtheye commented on #3168
I just tried this on the local latest master

[code]

[2016-04-02 07:33] jasnell commented on #4307
This appears to be fixed in master. Perhaps there's a fix that can be backported? @ofrobots

[2016-04-02 07:35] jasnell commented on #3168
Looks possibly like an odd timing edge case perhaps. I'm unable to reproduce at all.

[2016-04-02 08:34] stevemao commented on #5473
@jasnell should we remove `experimental` tag to it?

[2016-04-02 08:51] bgSosh commented on #3395
@jasnell - it's still happening almost daily.

[2016-04-02 09:02] TheAlphaNerd commented on #1788
assigned to myself... will dig in next week

[2016-04-02 09:06] TheAlphaNerd commented on #4441
@jasnell I'd be up for giving it a go. @ofrobots would you be able to help get me started?

[2016-04-02 11:23] alexjeffburke commented on #1834
Hmm given what has been mentioned about destroy(), does that mean this issue could do with a positive outcome in the discussion at https://github.com/nodejs/node/issues/4401?

[2016-04-02 12:16] serprex commented on #3168
I'm still able to cause this error with 5.10.0. I'm on a slow computer; you may have luck with a large main.js

Here's a more recent stack trace. Notice that I enter ``cont`` twice. The first time the prompt stalls on a blank line, where I can press Enter to resume, but if I enter ``cont`` again..:
[code]

[2016-04-02 12:33] cjihrig commented on #983
Is this actually closed? Tab completion of `let` and `const` variables isn't working for me.

[2016-04-02 12:38] mhart commented on #3475
You can see v4.2.1 there in the graph – would there have been anything that would've fixed it?

Can you reproduce?

[2016-04-02 12:39] mhart commented on #3477
I put a fair bit of work into creating a reproducible case there to be honest – can you not reproduce this?

[2016-04-02 12:40] cjihrig commented on #3836
@jasnell I'll submit a PR to address this so that it can be closed one way or the other.

[2016-04-02 14:56] vkurchatkin commented on #5084
Closing in favour of https://github.com/nodejs/post-mortem/issues/16. For posterity, issue title is misleading: unhandled rejections in fact DO have the correct stack traces (that is, `error.stack` properties).

[2016-04-02 14:56] #5084 closed

[2016-04-02 15:00] SetTrend commented on #4375
Brilliant :clap:

[2016-04-02 16:30] robbihun commented on #5384
I can replicate this issue on windows 10 x64, node v5.8.0

[2016-04-02 17:09] IonicaBizau commented on #2875
@jasnell Yes, it is!!! :disappointed: It's even crashing sometimes and sometimes just freezing. Using version `5.9.0`. :sob:

[2016-04-02 19:20] eljefedelrodeodeljefe commented on #5473
At least there has been quite some work on it lately, rendering the output useful.

[2016-04-02 19:42] eljefedelrodeodeljefe commented on #5848
I would give a try to gain some arm knowledge. How would you trigger CI for that exactly? Haven't worked with the jenkins stuff yet.

[2016-04-02 20:21] eljefedelrodeodeljefe opened #6022 "proposal: require('perf') as API for metric based data"
As mentioned on #5565 (cc @mscdex, @evanlucas) I would like to propose a subsystem that would hold perf related data. Currently those are scattered mostly in `process`, where they might not fit.

---

Also I am researching C APIs for Linux perf_events / Windows PDH / BSD Dtrace (in C) that could (theoretically) be easily added to the debugger e.g. for stack traces beyond `js`.  `libuv` already pro

[2016-04-02 20:38] addaleax commented on #5820
I’ve looked a bit into this and [it seems](https://github.com/nodejs/node/commit/68990948fe473262ec5f7d0b06112835ffd613aa#commitcomment-16874200) @Fishrock123 is right, #2325 effectively – and probably inadvertently – disabled the `readableState.awaitDrain` functionality that’s supposed to keep the destination streams in sync (if I read the code correctly).

[2016-04-02 21:05] Trott commented on #5848
@eljefedelrodeodeljefe You can use https://ci.nodejs.org/job/node-stress-single-test/ to run a single test over and over again on a particular OS.

For most hosts, I wouldn't use a number of runs higher than 9999 because it could tie up that host (keeping it from other CI runs) for a long time (especially if the failures are frequent and they are timeouts). Depending on how many hosts we have for

[2016-04-02 21:06] Trott commented on #5848
@eljefedelrodeodeljefe Also, the go-to person for the stress test Jenkins job is @joaocgreis as he set it up and knows the most about it. But generally, you can use the #node-build IRC channel to ask questions if there's anything that's not clear.

[2016-04-02 21:10] mscdex commented on #6022
Are you proposing a general performance API (not necessarily related to the current process) or an API as it directly relates to the current process only?

[2016-04-02 21:36] Fishrock123 commented on #5820
cc @mscdex here too

[2016-04-02 21:38] Fishrock123 commented on #6022
Things relating to the current process should probably be on `process` imo.

If it's across you're OS, wouldn't `'os'` be a good fit? That's where we've put some of that before.

[2016-04-02 21:39] Fishrock123 commented on #6008
Oops, I wasn't aware it wasn't automatic.

[2016-04-02 22:02] addaleax commented on #5820
PR: #6023

[2016-04-02 23:38] #5525 closed

[2016-04-02 23:39] #4350 closed

[2016-04-03 02:38] #3389 closed

[2016-04-03 10:10] mcollina commented on #2006
I agree with @isaacs:

In the next meeting of @nodejs/streams we will start discussing just that. @calvinmetcalf @mafintosh we should probably also cover `close()`. See https://github.com/nodejs/readable-stream/issues/183.

[2016-04-03 11:29] xenon-ua opened #6027 "path.isAbsolute wrong output"
node: v5.10.0
platform: Windows x64 v10.0.10586

In the [documentation](https://nodejs.org/api/path.html#path_path_isabsolute_path) specified that `path.isAbsolute('//server')` should return `true`. But this command returns `false` on my platform:
![image](https://cloud.githubusercontent.com/assets/14161861/14232189/c0c762da-f9a9-11e5-81c1-4cc9f88e8e78.png)

[2016-04-03 11:33] ChALkeR commented on #6027
Please provide an example with steps to reproduce (including your OS), the expected output and the actual output.

[2016-04-03 11:47] xenon-ua commented on #6027
_Sorry. This is my first issue report. I edited my post_

[2016-04-03 18:30] #1161 closed

[2016-04-03 20:30] jasnell commented on #2098
@nodejs/documentation

[2016-04-03 20:31] jasnell commented on #2300
Closing this for now, does not appear to be anything actionable just yet.

[2016-04-03 20:31] #2300 closed

[2016-04-03 20:42] iankronquist commented on #5955
Hey, I'd like to take a look at this.

[2016-04-03 20:53] jasnell commented on #3519
Resolved now.

[2016-04-03 20:53] #3519 closed

[2016-04-03 20:57] jasnell commented on #4530
Closing since #4525 landed.

[2016-04-03 20:57] #4530 closed

[2016-04-03 20:59] jasnell commented on #5039
Closing as this is not a bug. It may be worthwhile to have some more documentation around this, however. /cc @nodejs/documentation

[2016-04-03 20:59] #5039 closed

[2016-04-03 23:05] eljefedelrodeodeljefe commented on #2098
Though I agree with the general "processes on the different platforms" discussion, I think I can confirm a bug here:
Actually there could be a number of bugs. Most significant, likely only one, is that `child.pid` is off by `-1` in the following example. Adding `+1` manually fixes it. On OS X it works fine without the addition. Listening for `SIGHUP` is optional and only demonstrates, that sending

[2016-04-04 00:46] iankronquist commented on #5955
@silverwind I just opened PR #6031 to address this issue.

[2016-04-04 01:32] jasnell commented on #1495
What's the current status on this one?

[2016-04-04 01:40] jasnell commented on #3406
Is there reason to keep this open still?

[2016-04-04 01:41] jasnell commented on #3742
is there reason to keep this one open?

[2016-04-04 01:44] mscdex commented on #3406
@jasnell IMHO I don't think so, a documentation update was committed awhile back.

[2016-04-04 01:52] jasnell commented on #1013
Given the lack of further activity and discussion, and the lack of any response to adding the stalled label, going to go ahead and close this. It's possible that we'd still want to pursue this but there's no reason to keep this particular issue open.

[2016-04-04 01:52] #1013 closed

[2016-04-04 03:02] iliakan commented on #2006
Also: is it possible for other stream-interaction events to happen after `close`?

As of now, `error` can be after `finish`. Is it normal?
Can it happen after `close`?

[2016-04-04 03:04] #3406 closed

[2016-04-04 05:13] #5554 closed

[2016-04-04 07:14] hashseed opened #6033 "Features that depend on ICU, in V8 built without ICU."
This has previously been posted to v8-users by @littledan.

V8 relies on ICU for some unicode-related features:
- String.prototype.normalize
- Case-insensitive matching for /u regexps.
- Upcoming \p unicode properties in regexps.

So far, if ICU is not included, V8 silently falls back to an alternative implementation that is not spec-compliant. We were wondering whether that's in the interest of w

[2016-04-04 07:22] ChALkeR commented on #3249
@asadenton Thanks. This is clearly vm-related, then.

[2016-04-04 08:39] seishun commented on #5991
I was unable to reproduce the issue with 32-bit Node.js v5.10.0 on Windows 7 64-bit.

1. Please try with Node.js v5.10.0
2. What's your `chcp` output?

[2016-04-04 08:54] headlessme opened #6034 "Zlib InflateRaw null reference"
* **Version**: v5.10.0 (also seen on 4.3.0)
* **Platform**: Darwin Kernel Version 14.5.0
* **Subsystem**: zlib

Zlib references a null object on close after an error:

[code]

Output:
[code]

See websockets/ws#664

[2016-04-04 09:02] headlessme commented on #6034
Looks like it's already being fixed: https://github.com/nodejs/node/pull/5982

[2016-04-04 09:02] #6034 closed

[2016-04-04 09:23] sonewman commented on #2006
:+1: on adding `close` and `destroy` since this would hopefully help amend any ambiguities in third party implementations of this behaviour.

[2016-04-04 09:26] tristian2 commented on #3742
@bricss, yes that work for me as well..  cheers

[2016-04-04 09:49] lamuertepeluda opened #6035 "Build from sources for android fails (cctest link failure?)"
Trying to build nodejs executable for Android.

Development machine: Mac OSX 10.11.4
Node Version: either [latest checkout](8d96300c22b81b5d3cd966185b9b130411b5609f) or [v5.10.0](https://github.com/nodejs/node/releases/tag/v5.10.0)
Platform: Android
NDK: android-ndk-r11b

Following instruction at [build instructions](https://github.com/nodejs/node/blob/master/BUILDING.md#android--android-based-dev

[2016-04-04 10:14] eljefedelrodeodeljefe commented on #2098
Scratch what I said. It's the pid of `sh` that causes the offset. Hence it's only natural to increment by one. This then could only lead to such misunderstandings, also with the new `shell` option. Gonna crate a PR for spawning shells and kill on linux, if there are no objections to the contents in the PR.

For `sh` not being killable linux specific process implementation applies.

Here is the out

[2016-04-04 10:20] sernapallyanurag commented on #5855
@cjihrig  I am not getting any error when I use ``spawn()``. I am getting an error when I am using ``exec()``.  `` 'cmd.exe /s /c chef-apply azurepro.rb`` works fine.

[2016-04-04 10:28] ChALkeR commented on #3094
Labeling as security-related. This is not a vulnerability in Node.js itself of course, but this is one of those things that could cause security issues in real-world apps.

[2016-04-04 10:46] binarykitchen opened #6036 "Weird segmentation fault on Ubuntu 15.10"
[code]

[code]

[code]

Any clues how I can collect more info for you guys? It is breaking the app we develop and prevents me from deploying it. Was working fine yesterday, then I bumped sharp, libvips + pm2 and this happened. Not sure what the real cause is.

[2016-04-04 11:09] bnoordhuis commented on #6036
Are you using native add-ons?  Does `find node_modules/ -name \*.node` find anything?

[2016-04-04 11:11] tschoening opened #6037 "Windows Installer: Improve per user PATH entry for npm modules"
The mentioned versions of the Windows installer provide the function to make the npm modules of a user available in the `PATH`, which is pretty useful. The current implementation of that feature documents and works only for the current user executing the installer, simplye because `PATH` is changed with an absolute value like `C:\Users\xyz\AppData\Roaming\npm`. Obviously such paths shouldn't be ha

[2016-04-04 11:12] binarykitchen commented on #6036
@bnoordhuis

[code]

[2016-04-04 11:14] bnoordhuis commented on #6036
Start by excluding those and see if the segfault goes away.  If it does, it's a matter of binary-searching for the offending add-on.  If it doesn't, please post a reduced test case, preferably one that doesn't depend on third-party modules.

[2016-04-04 11:15] inversion opened #6038 "stream: socket.setEncoding(null) to receive binary Buffers rather than strings has no effect"
- **Version**: v5.8.0
- **Platform**: Darwin 15.3.0 Darwin Kernel Version 15.3.0: Thu Dec 10 18:40:58 PST 2015; root:xnu-3248.30.4~1/RELEASE_X86_64 x86_64
- **Subsystem**: stream

I've tried node 5.8.0, 5.10.0 and 4.4.2. I always receive string objects in my data handler unless I manually remove the decoder from the socket readableState:

[code]

[2016-04-04 11:20] bnoordhuis commented on #6035
For the record: Android is not a supported platform; we accept patches but we won't, in general, help you debug issues.  You can try skipping `cctest` with `make -C out node BUILDTYPE=Release`.

[2016-04-04 11:21] inversion commented on #6038
It looks like this might be a bug in ReadableStream based on a cursory examination of https://github.com/nodejs/node/blob/master/lib/_stream_readable.js#L193

I haven't contributed to Node before but if it seems like a correct approach to null out the encoder if `enc === null` in that method then I would be more than happy to submit a PR/tests.

[2016-04-04 11:29] bnoordhuis commented on #1495
I think this is still on hold pending support in FF, IE and Safari.

[2016-04-04 11:52] bnoordhuis commented on #2875
I have a couple of patches that I need to dust off and it seems I forgot to land the V8 patch...  I'll try to revisit this issue later this week.

[2016-04-04 12:32] ChALkeR commented on #6035
Ref: https://github.com/nodejs/build/issues/359

[2016-04-04 12:41] cjihrig commented on #5855
The error in the initial post (``expand_path': no implicit conversion of nil into String (TypeError)`) is not coming from Node. This seems more like a bug in your application than in Node itself.

[2016-04-04 12:43] romankl commented on #6008
@firedfox thanks for your PR! I'll close this issue - please re-open the issue if there's something left.

[2016-04-04 12:43] #6008 closed

[2016-04-04 13:15] lamuertepeluda commented on #6035
@bnoordhuis Ok, I see. That's a pity. However, I think this should be better highlighted in the official docs. Also thanks for the hint, that got me go a bit further, but now I think I'm having troubles linking openssl. Do you also know how to avoid the errors reported here? [node_build_log_err.txt](https://github.com/nodejs/node/files/202469/node_build_log_err.txt)

[2016-04-04 13:40] mscdex commented on #6038
Doc change happened in #5155.

@TriAnMan @silverwind @jasnell From what I can tell passing `null` has never disabled an existing `StringDecoder` instance?

[2016-04-04 14:26] Fishrock123 commented on #6033
cc @srl295

We now build with small-icu by default, so this won't be a problem normally.

For things like building without crypto, we explicitly throw.

[2016-04-04 14:40] ChALkeR commented on #5570
Node.js v0.10.44 is out with npm v2.15.1.

[2016-04-04 14:40] #5570 closed

[2016-04-04 14:43] mhdawson commented on #3249
Have you identified the code (file/source lines) in Node.js which does what you describe in you earlier comment ?

[2016-04-04 14:45] ChALkeR commented on #3959
What's the status of this?

New npm has been included to all active branches and releases in 0.10/0.12/4.x/5.x have been made.

@scriptjs, is there still anything left here?

[2016-04-04 14:58] sant123 commented on #5940
A new release has appeared but the bug persist, now I have v5.10.0.

[2016-04-04 14:59] indutny commented on #1495
And OpenSSL 1.1.0

[2016-04-04 15:29] silverwind commented on #1495
Isn't it only dependant on the OpenSSL update? Since when are clients our concern? :wink:

[2016-04-04 15:31] jasnell commented on #6033
I've been considering whether or not we should make building with small-icu the default with ./configure now rather than requiring the `--with-intl=small-icu` flag turned on.

[2016-04-04 15:38] silverwind commented on #6038
Hmm, that doc change looks wrong, actually. [string_decoder](https://github.com/nodejs/node/blob/8d96300c22b81b5d3cd966185b9b130411b5609f/lib/string_decoder.js#L22) does fallback to `'utf8'` when `encoding` is falsy.

[2016-04-04 16:01] Fishrock123 commented on #3959
I'm pretty sure if there was a problem the aforementioned actual legal counsel would have noted it by now.

[2016-04-04 16:08] ChALkeR commented on #3959
In fact, 0.10/0.12/4.x still have the old version of the license that caused this issue:

website, the npm repository and any other services or products offered by npm,
Inc.:

5.x is fine.

[2016-04-04 16:57] #5128 closed

[2016-04-04 17:04] lordKnighton commented on #2098
+1 @eljefedelrodeodeljefe

[2016-04-04 17:06] Fishrock123 commented on #5779
@evanlucas oh, yeah if you want to lead one please go ahead. Otherwise, I'll try to pull myself to organize another..

[2016-04-04 17:51] Trott commented on #6035
You are not wrong. Here's a PR trying to do that: #6040

[2016-04-04 18:10] littledan commented on #6033
@jasnell What are the downsides to turning small-icu on by default? In addition to the other benefits, if it is on, then this could both improve correctness by getting ICU's implementations of Unicode-related functionality, and also reduce our implementation burden of supporting our own non-ICU implementation of certain Unicode algorithms.

[2016-04-04 18:33] scriptjs commented on #3959
@ChALkeR Hi there. I have not yet seen anything in the way of advice from the Foundation's legal team that would inform the broader node community that inadvertently accepted NPM's terms as they were at the time.

This thread has grown quiet but with the expectation there would be followup after the legal review (when it occurred).  Please advise the date(s) of the review and who performed the leg

[2016-04-04 18:55] jasnell commented on #6033
Personally I'd prefer to have ICU always available but there's a certain overhead to having the data files there that's a bit of a burden on lower end devices. We allow node to be built without ICU specifically to support that low end hardware. That said, the default should be to turn it off when not needed, like we do with openssl, rather than requiring it to be turned on explicitly

[2016-04-04 19:19] ofrobots commented on #4307
This seems to have been fixed in the V8 4.9 branch. The 20160302 nightly fails but the 20160307 nightly passes. I will see if I can identify the commit that fixed it.

[2016-04-04 20:09] TheAlphaNerd commented on #5206
I'm going to dig into this

[2016-04-04 20:27] bnoordhuis commented on #1495
It's about the default curve to use.  I don't think we'd change it to something that's not very usable in a practical setting yet.  And yes, we'd need to upgrade openssl first.

[2016-04-04 20:39] saper commented on #4932
As a part of the build process one of the libraries generated is `lib/openssl.lib`:

[code]

Maybe ass a temporary workaround we should just publish those?

[2016-04-04 20:53] TheAlphaNerd commented on #3475
I'm going to investigate this

[2016-04-04 21:12] ofrobots commented on #4307
This was fixed by https://github.com/v8/v8/commit/14ec485. We will also need follow-on fix https://github.com/v8/v8/commit/fc4c551 for PowerPC support, and https://github.com/v8/v8/commit/30d6a4d for x87.

I am -0 on backporting this to `v5.x`. It might be worth waiting for `v6.0` due out in a couple of weeks.

[2016-04-04 21:17] indutny commented on #1495
And there is no OpenSSL 1.1.0 yet AFAIK

[2016-04-04 21:17] ofrobots commented on #4441
Will need help from @littledan on this one. The problem is that the fix in 4.7 is dependant on lots of intermediate changes, and has to be re-worked fundamentally to make it applicable to `v5.x` and `v4.x`.

[2016-04-04 21:21] ofrobots commented on #4441
When I was investigating this last, this is how far I got. I had to port https://github.com/v8/v8/commit/45e2628d, https://github.com/v8/v8/commit/cdff697b and https://github.com/v8/v8/commit/d6fb6de. This allowed me to build the fix with `v5.x`, but the V8 test `v8/test/mjsunit/regress/regress-3926.js` would fail. This means there are some additional patches that will need to be backported.

[2016-04-04 21:45] #6027 closed

[2016-04-04 21:56] jasnell commented on #5271
Closing due to lack of additional information. Can reopen if necessary

[2016-04-04 21:56] #5271 closed

[2016-04-04 21:57] jasnell commented on #5648
Closing given that this was discussed by the ctc and voted on. The result is that the CTC preferred the file extension approach.

[2016-04-04 21:57] #5648 closed

[2016-04-04 22:07] jasnell commented on #3020
@nodejs/documentation

[2016-04-04 22:11] jasnell commented on #3896
Is this still relevant?

[2016-04-04 22:11] jasnell commented on #3716
@nodejs/build ... further thoughts on this one?

[2016-04-04 22:12] #5866 closed

[2016-04-04 22:12] #5957 closed

[2016-04-04 22:23] lordKnighton commented on #3020
we will put it on the `docs` todo list :page_facing_up:

[2016-04-04 22:37] saper commented on #5696
I needed PDB's too, so I have used an excellent @appveyor service to build node with PDB.

Here are [my changes](https://github.com/nodejs/node/compare/master...saper:appveyor?expand=1) needed to support that.

Of course @nodejs is not going to use `appveyor.yml`, but I think they could use my `vcbuild.bat` changes.

One important thing: Before launching vcbuild.bat I am creating an `S:` substed d

[2016-04-04 22:52] saper opened #6045 "Windows PlatformToolset: Provide stable C++ API to addons"
This is a followup to https://github.com/nodejs/node/pull/2365

When building nodejs addons it is very important to use the same C++ ABI as the original node engine installed. Currently node releases are done with Visual Studio 2013 so I'd propose we add `v120` as the `PlatformToolset`.

Maybe we could store the `PlatformToolset` used in the `config.gypi` file, so that all add-ons can pick it up a

[2016-04-04 22:59] mscdex commented on #6045
/cc @nodejs/platform-windows @joaocgreis?

[2016-04-04 22:59] jasnell commented on #5267
@ORESoftware ... eventually, yes, but currently no.

[2016-04-04 22:59] #5267 closed

[2016-04-04 23:02] jbergstroem commented on #3716
@jasnell not really. I think upstream [FreeBSD] is doing a good enough job and I don't see why we need to replace that.

To install node on FreeBSD: `pkg install node`.

Closing this for now.

[2016-04-04 23:02] #3716 closed

[2016-04-04 23:16] ORESoftware commented on #5267
Ok, thanks for info, would look forward to that day

[code]

[2016-04-04 23:19] jasnell commented on #5267
Agreed. You may want to follow the work that's happening in https://github.com/nodejs/promises

[2016-04-04 23:20] ORESoftware commented on #5267
will do thanks

[2016-04-04 23:34] ORESoftware commented on #5267
can't tell off the bat if it will be with domains or some other utility

[2016-04-04 23:48] arboreal84 opened #6046 "ServerResponse doesn't inherit from stream.Writable as documented"
* **Version**: 0.10.36
* **Platform**: Mac OS X
* **Subsystem**: http

While it's possible to say `incomingMessage instanceof stream.Readable`, it's not possible to say `serverResponse instanceof stream.Writable`, where `incomingMessage` is an instance of `IncomingMessage` and `serverResponse` is an instance of `ServerResponse`.

The documentation claims:

[code]
This is not accurate, since it jus

[2016-04-05 00:14] TheAlphaNerd commented on #1788
I can confirm that this bug is present in v4, v5, and v0.12. v0.10 appears to work as expected (assuming the exepcted behavior is that the debugger informs you of the program terminating

[2016-04-05 00:32] TheAlphaNerd commented on #5709
I'm going to close this as a duplicate of #1788

I'll be continuing my investigation in that thread

[2016-04-05 00:32] #5709 closed

[2016-04-05 00:36] littledan commented on #6033
Would there be a big downside to the community if, say, Unicode whitespace and identifiers in source code weren't recognized in non-ICU builds?

[2016-04-05 01:24] wmcmurray opened #6049 "Require `.\` does not work on Windows"
Windows uses backslashes inside paths and it seems to be supported by the `require` function. BUT ! When you use a backslash inside the "current path syntax" (usually `./`) it does not work. I found this using the `require.resolve` method directly.

## Test case :

file **/test/index.js** :
[code]

file **/test/stuff/please-require-me.js** :
[code]

My test output :

[code]

As you can see in the

[2016-04-05 01:52] Fishrock123 commented on #6049
@wmcmurray Are you saying using `require.resolve()` directly **does** or **doesn't** work correctly?

cc @nodejs/platform-windows

[2016-04-05 02:19] jbergstroem commented on #6002
So, where is this issue supposed to lead? Are we updating documentation to reflect that we would be ok with github-squashed commits?

[2016-04-05 04:41] jasnell commented on #6033
Hmm.. good question. I'm not sure we have a good answer for that yet (@nodejs/ctc @srl295). What I would guess is that on builds where ICU is not included, it's not likely those would be an issue, but given that those users would have no control over what is published to and pulled down from the ecosystem, it could potentially be rather problematic.

As I said, I personally think the *right* thing

[2016-04-05 04:51] jasnell commented on #6046
implementing the interface is a bit different than inheriting from. The documentation could likely be a bit clearer on this point.

[2016-04-05 05:33] JohannesRudolph commented on #3896
As far as I can see any underlying issues have not been fixed, so yes this
is still relevant.
Am 05.04.2016 00:12 schrieb "James M Snell" <notifications@github.com>:

[2016-04-05 06:13] benjamingr commented on #3020
We need to fix this. cc @chrisdickinson

We can wrap .then calls for example which would still be than doing nothing.

[2016-04-05 06:25] wmcmurray commented on #6049
@Fishrock123 Both `require('.\something')` and `require.resolve('.\something')` **doesn't** work correctly.

[2016-04-05 07:01] magicfish2007 opened #6051 "About node addon c/c++ API"
* **Version**: 4.2.1
* **Platform**: linux,   32-bit
* **Subsystem**: none

Did "NODE_EXTERN" tags in "node.h" and "node_buffer.h" means this function is API
of node add-on? And Did it means I Cann't use anything else, such as "utils.h", in my
add-on modules written in C/C++?

I ask these question for that Node didn't have any folder just like "v8/include" to guide
me to implement a add-on. So, it

[2016-04-05 07:02] cveld commented on #5384
I can replicate this issue on nodejs v5.10.0 with Windows 10 x64 cmd using yo cli. Sometimes the arrow keys do work. Why is it so unpredictable?

[2016-04-05 07:12] stevemao commented on #5039
@jorangreef would you like to do a PR?

[2016-04-05 08:27] seishun commented on #6049
https://github.com/nodejs/node/blob/a20c70029075cab18e4ff4d27dfd95b7eda2b268/lib/module.js#L229

I'm not sure it's a bug though. `require` is meant to be portable, and backslashes will only work on Windows. Also module loading API is locked.

[2016-04-05 08:56] bnoordhuis commented on #6051
Correct.

Also correct.

The files you're looking for are in [deps/v8/include](https://github.com/nodejs/node/tree/v5.9.0/deps/v8/include/).

[2016-04-05 09:22] magicfish2007 commented on #6051
BUT, in the node official DOCS :https://nodejs.org/dist/latest-v5.x/docs/api/addons.html#addons_wrapping_c_objects

The example use node::ObjectWrap and use function "Wrap", but there is no "NODE_EXTERN" tags in node_object_wrap.h. So, why there is no function in node::ObjectWrap didn't use "NODE_EXTERN" tags?

[2016-04-05 09:27] bnoordhuis commented on #6045
@saper To clear up any misunderstandings: you're suggesting to put `PlatformToolset` in `process.config.variables`?  That's reasonable, I think.

We don't currently set it (i.e., `PlatformToolset` - GYP calls it `msbuild_toolset`) explicitly, I believe?

[2016-04-05 09:35] bnoordhuis commented on #6051
That's probably an oversight.  The `ObjectWrap` class itself is supposed to have external visibility (i.e., it should be `class NODE_EXTERN ObjectWrap { /* ... */ }`.)

[2016-04-05 09:41] bnoordhuis commented on #6051
Oh wait, that's not necessary for header-only implementations.  `NODE_EXTERN` makes functions that are compiled into the binary visible to add-ons; that doesn't apply to `node::ObjectWrap`.

[2016-04-05 09:55] magicfish2007 commented on #6051
Oh, you are right!

So is functions in "env.h"? Can I use ALL member functions in "env.h" for my node add-on?
Or, Is there any list to guide me to use "src/*.h", a list that tell me which ".h" file I CAN include
 and  which ".h" file I CANN'T include? It's seems that "NODE_EXTERN" tags is not a effective
way to distinguish it.

[2016-04-05 10:02] bnoordhuis commented on #6051
Realistically, only node.h, node_buffer.h and node_object_wrap.h are public and stable.  The other header files are all implementation details that can change at any time.

[2016-04-05 10:19] binarykitchen commented on #6036
@bnoordhuis this will be tough but i ll try in the next days. meanwhile, can you tell me how i can activate and inspect core dumps? where does nodejs write these on a linux machine on ubuntu v15.10? any hints would be very helpful, thanks

[2016-04-05 10:24] bnoordhuis commented on #6036
You can turn on core dumps with `ulimit -c unlimited`.  It's the kernel that writes them, normally to the current directory, but that's configurable with `sysctl kernel.core_pattern`.

[2016-04-05 10:55] magicfish2007 commented on #6051
OK, thanks you very much!

[2016-04-05 11:05] php1webmobtech opened #6054 "getting Error: listen EADDRINUSE"
always getting Error: listen EADDRINUSE when i run command sudo node mysql.js
i change listern port than run but also gettting same error always

[2016-04-05 11:27] calvinmetcalf commented on #6054
this really depends on what exactly is in mysql.js

[2016-04-05 11:51] php1webmobtech commented on #6054
i write code as below:

// Include http module,
var http = require('http'),
// And mysql module you've just installed.
mysql = require("mysql");

// Create the connection.
// Data is default to new mysql installation and should be changed
according to your configuration.
var connection = mysql.createConnection({
user: "root",
password: "",
database: "test"
});

// Create the http server.
http.crea

[2016-04-05 11:53] benjamingr commented on #5267
It would not be with domains, most likely, but you'll be able to get a lot of the information domains give you with asyncwrap. The rest you wouldn't need with promises.

[2016-04-05 12:00] benjamingr commented on #6045
Sounds reasonable to have this exposed.

[2016-04-05 12:26] domenic commented on #6049
Yeah, this is not a bug. Require doesn't take file paths; it takes module paths, which are `/`-delimited. `\` in a module path is just an error and should always fail.

[2016-04-05 12:38] benjamingr commented on #6054
Is that _all_ your code? Usually this is caused by calling `.listen` twice or opening two servers by mistake.

[2016-04-05 12:57] wmcmurray commented on #6049
@domenic Ok, that make sense. Then my second test (containing a `\`) should have failed too ? Adding a check to make that fail right now would be a relatively huge breaking change :confused:

[2016-04-05 13:01] php1webmobtech commented on #6054
yes.but i'm not use listen twise than wht getting this error

On 5 April 2016 at 18:10, Benjamin Gruenbaum <notifications@github.com>
wrote:

[2016-04-05 13:04] cjihrig commented on #6054
Can you move this question to https://github.com/nodejs/help. If it turns out to be an issue with Node, we can reopen.

[2016-04-05 13:04] #6054 closed

[2016-04-05 13:11] domenic commented on #6049
Yeah, probably not worth it, so likely it's just going to stay inconsistent forever since we can't change it either way. But the intent is to only use `/`.

[2016-04-05 13:24] jasnell commented on #6049
Agreed. Closing.

[2016-04-05 13:24] #6049 closed

[2016-04-05 14:10] Fishrock123 commented on #6046
`The response implements the Writable Stream interface (but does not inherit from it).`

[2016-04-05 14:23] Fishrock123 commented on #6002
Hmm, I'm not sure. We unfortunately still need to prefer the old merging for many issues.

@nodejs/ctc should we update the documentation to say this using the github button is ok under simple circumstances?

[2016-04-05 14:29] cjihrig commented on #6002
I'd say don't document it. If someone can use the button without anyone noticing, then more power to them. Otherwise, just stick to the directions.

[2016-04-05 14:51] cjihrig commented on #3836
Documented in 3de9bc94294d0cab691d8a6e261733e8a8e98342.

[2016-04-05 14:51] #3836 closed

[2016-04-05 14:52] romankl commented on #6022
IMO the data that `uv_getrusage` returns is "process-bound" and belongs more to the `process` object. (It could match e.g. `process.memoryUsage()`).

Or would you like to split the `process` object (one with the current data and a module with new, process related, data)?

(Just as a side note: A long, long time ago, I proposed a PR with `uv_getrusage` in #1568.)

[2016-04-05 15:49] balane opened #6057 "Windows installer always installs to C:/Program Files"
I prefer to install all of my dev apps in one directory (C:/apps) but when using the Node.js Windows installer it always gets installed in C:/Program Files regardless of what I put in the installer.

* **Version**: 4.4.2
* **Platform**: Windows 7 64-bit
  64-bit_
* **Subsystem**: Windows Installer

[2016-04-05 16:01] srl295 opened #6058 "deps: Intl: ICU 57 bump"
* **Version**: n/a
* **Platform**: all
* **Subsystem**: build/Intl

Bump from 56 to 57, http://site.icu-project.org/download/57 released 2016-03-23
* No feature changes
* Data bump to [CLDR 29](http://cldr.unicode.org/index/downloads/cldr-29)
* Latest TZ
* ICU's license changed from html to text form

follow on to #2917

[2016-04-05 16:02] willink commented on #4175
Meaning the secure connection does not exist between our machines and the internet servers but between our machines and a trusted proxy and another between that proxy and the internet servers.

I am in the exact same scenario. This is an important issue that needs a solution.

[2016-04-05 16:28] srl295 commented on #3476
@TheAlphaNerd depends somewhat on #6058 to reduce churn. thanks for the ping…

[2016-04-05 16:32] TheAlphaNerd commented on #6058
@srl295 cc me when you have a PR in and I'll test it out

[2016-04-05 16:43] srl295 commented on #6058
@TheAlphaNerd thx, let me verify windows first.  Passes all tests except `test-tick-processor` which I doubt I broke (famous last words?)

[2016-04-05 17:47] ghaiklor commented on #6058
@srl295 no, you didn't :smiley_cat:
See https://github.com/nodejs/node/issues/5903#issuecomment-202126425

[2016-04-05 17:59] Fishrock123 commented on #6002
Yeah, I agree for now. Closing, can reopen if necessary.

[2016-04-05 17:59] #6002 closed

[2016-04-05 18:13] bnoordhuis commented on #3158
It's fixed in master thanks to a recent V8 upgrade.  We'll be shipping that as v6.0.0 later this month so I'll go ahead and close the issue.

[2016-04-05 18:13] #3158 closed

[2016-04-05 18:13] srl295 commented on #6058
@TheAlphaNerd soon as i finish filing a couple of ICU bugs [i.e.: should have tried the RC on windows :/ ]

[2016-04-05 19:13] jbergstroem commented on #6058
@srl295 is this required for #3476? I went through upstream changes and the known issues (esp the one you brought up, but also performance) seems a bit concerning.

[2016-04-05 19:58] srl295 commented on #6058
@jbergstroem not "required for" but "ideally lands before" to avoid having to bump #3476 itself also.
Re the known issues:
* node/v8 does not use Transliteration, so is unaffected. The data and code is not included in node.
* the Visual Studio issues are for building ICU from ICU's project files, which node doesn't use (hi `gyp`). I will update the known issues to be more clear.

[2016-04-05 20:17] srl295 commented on #6058
works on windows… PR incoming

[2016-04-05 22:08] JeffML opened #6066 "When debugging, any console logging that outputs an object is terminating the debugger."
Refs: [node-eclipse](https://github.com/Nodeclipse/nodeclipse-1/issues/206)

* **Version**: 4.2.4
* **Platform**: Windows 10, 64-bit

[2016-04-05 22:13] TheAlphaNerd commented on #6066
@JeffML this is a known issue on v4.2.x

You should not see the problem on v4.4.1

[2016-04-05 22:19] Fishrock123 commented on #6066
Closing, sounds like this is fixed in newer versions.

Please upgrade, we have made extra precautions to ensure minor (x.Y.z) versions do not break anything. :)

[2016-04-05 22:19] #6066 closed

[2016-04-05 22:20] Fishrock123 commented on #6066
@TheAlphaNerd (Btw, do you have an issue link?)

[2016-04-05 22:25] Trott commented on #2600
Looks like this is dependent on https://github.com/libuv/libuv/pull/590 which is a breaking change so will have to wait for libuv 2.0. So this might be a while, I guess...

[2016-04-05 22:29] TheAlphaNerd commented on #6066
https://github.com/nodejs/node/pull/4819 Landed in v4.3.1

[2016-04-05 22:58] JeffML commented on #6066
Thanks everyone.  Not sure how I got hold of a crufty old version .
On Apr 5, 2016 3:18 PM, "Myles Borins" <notifications@github.com> wrote:

[2016-04-05 23:17] Trott commented on #2114
Is there consensus at this time that one of these two options is superior to the other?

[2016-04-05 23:20] Trott commented on #2845
Closing due to lack of activity and a seemingly-probable non-Node.js explanation. Please feel free to re-open and/or comment if you feel that it should not be closed.

[2016-04-05 23:20] #2845 closed

[2016-04-06 01:11] eljefedelrodeodeljefe commented on #5373
@trott ping. Any more thoughts?

[2016-04-06 02:15] Trott commented on #5373
@eljefedelrodeodeljefe Not a whole lot, but I'll put what I have to say over in the PR...

[2016-04-06 05:37] indieisaconcept commented on #3113
Finally had chance to test this - I was able to do an initial non-prod performance test. Metrics look good. I saw an overall drop in CPU and memory is reduced. I'm hoping to do a realistic prod test in the next couple of days but so far I am very happy with the results.

Thanks for looking into this.

![metrics](https://cloud.githubusercontent.com/assets/640613/14306736/0064ed94-fc0d-11e5-9201-baa

[2016-04-06 08:00] eljefedelrodeodeljefe commented on #3113
Cool. So this can be closed, right?

[2016-04-06 08:50] jsdario commented on #1692
I am still experiencing this problem :hand:

[2016-04-06 09:08] eljefedelrodeodeljefe commented on #6057
I can confirm there is a bug (I consider it as such) at least on Windows 7. Windows 10 works fine though. @mscdex @Fishrock123 this would need re-labeling.

[2016-04-06 09:17] Ryuno-Ki opened #6074 "SHASUM256.txt missing in node-v4.4.2-linux-x64.tar.xz"
According to [the README](https://github.com/nodejs/node/blob/v4.4.2/README.md#verifying-binaries) one shall check the sha256sum after downloading to ensure, that the archive isn't corrupted.

However, it isn't possible due to
[code]

Please add :-)

[2016-04-06 09:36] bnoordhuis commented on #6074
It's [here](https://nodejs.org/dist/v4.4.2/SHASUMS256.txt) (and the signed version is [here](https://nodejs.org/dist/v4.4.2/SHASUMS256.txt.asc).)

[2016-04-06 09:36] #6074 closed

[2016-04-06 09:44] binarykitchen commented on #6036
@bnoordhuis ah, i have it configured to forward to apport, see

[code]

Ubuntu is sending that dump to somewhere. Can't copy it inbetween. Sends to a nodejs bug tracker somewhere automatically. Hmmmm ... maybe on launchpad but can't find anything there.

[2016-04-06 09:46] binarykitchen commented on #6036
@bnoordhuis ah, I found something under `/var/crash` but it's 20 MB large.

[code]

Want me to attach this monster file here or email it to you?

[2016-04-06 09:47] binarykitchen commented on #6036
Never mind, I opened that file and see the interesting lines

[code]

Must be something with leveldown. I'll link that bug to their issue tracker then ...

[2016-04-06 09:58] bnoordhuis commented on #6036
You can configure the sysctl with `sysctl -w kernel.core_pattern %e.%p.core`.  `%e` and `%p` are replaced with the name of the binary and the PID of the process, respectively.

[2016-04-06 10:18] kuldeepaggarwal opened #6075 "Incorrect result for Buffer#toString"
* **Version**: v5.10.1
* **Platform**: Darwin KD 14.5.0 Darwin Kernel Version 14.5.0: Tue Sep  1 21:23:09 PDT 2015; root:xnu-2782.50.1~1/RELEASE_X86_64 x86_64
* **Subsystem**: Buffer.js

Hello Team,

I am using older version(`0.10.40`) on one my project and facing some issue while grouping of data type `Buffer`. Issue also present on latest version.

### Issue
[code]

If you see carefully, then th

[2016-04-06 10:29] bnoordhuis commented on #6075
The issue is that both input buffers contain invalid character sequences that get substituted with the replacement character, `u+FFFD`.  That's why the UTF-8 strings are the same - the replacements are in the same locations - but the hexadecimal representation is not.

I'll close, `Buffer#toString()` is working as expected and documented in this case.

[2016-04-06 10:29] #6075 closed

[2016-04-06 10:41] binarykitchen commented on #6036
thanks heaps, it works. learned some here. thanks again!

[2016-04-06 11:07] animetosho opened #6078 "Reduce memory consumption of streams for large amounts of data"
- **Version**: 0.10.x to 5.x
- **Platform**: all
- **Subsystem**: streams

Node streams can (and usually do) eat up a lot of _system_ memory if a lot of data passes through them. Here's a simple demo script to show what I'm talking about:

[code]

Run using `dd if=/dev/zero bs=1M count=1024|node script.js`

On my machine, simply reading this data from stdin consumes a horrendous 340MB of RAM!

Thi

[2016-04-06 11:20] kuldeepaggarwal commented on #6075
@bnoordhuis I don't understand where input buffers contain invalid characters? Can you please point out where the input is wrong.

[2016-04-06 12:47] rvagg opened #6079 "Node.js Foundation Core Technical Committee (CTC) Meeting 2016-04-06"
## Time

**UTC Wed 06-Apr-2016 20:00**:

* San Francisco: Wed 06-Apr-2016 13:00
* New York: Wed 06-Apr-2016 16:00
* Amsterdam: Wed 06-Apr-2016 22:00
* Moscow: Wed 06-Apr-2016 23:00
* Sydney: Thu 07-Apr-2016 06:00
* Tokyo: Thu 07-Apr-2016 05:00

Or in your local time:
* http://www.timeanddate.com/worldclock/fixedtime.html?msg=Node.js+Foundation+Core%20Technical%20Committee%20(CTC)+Meeting+2016-04-0

[2016-04-06 12:56] rvagg commented on #6079
The agenda is pretty light this week and many folks are at the VM summit so I wonder if we shouldn't can it this week? I may not be able to make it myself so I'd vote for pushing till next week.

[2016-04-06 13:00] jasnell commented on #6079
Unfortunately I didn't realize the timing of the VM summit would overlap
with the v6 discussion. I won't be able to join the call today.

My plan is to cut the first release candidate for v6 on Monday, with an eye
towards doing the actual release by the 26th. That *should* give us enough
time to land v8 v5.

What I need primarily from the CTC is an idea of which open PRs do we need
to make sure cl

[2016-04-06 14:17] srl295 commented on #6079
I'll also be at the vm summit. Working on landing ICU 57 and checking in ICU code into the repo.

[2016-04-06 14:44] Fishrock123 commented on #6079
The following CTC people are at the VM summit: alexis, bert, james, mhdawson, trevor, steven. (I don't think any other ctc members are there)

@nodejs/ctc is there anyone not there who wants to discuss v6? I'll drop in the call, at least briefly, even if we cancel.

[2016-04-06 15:01] Fishrock123 commented on #6078
That doesn't seem too untypical. Newer versions of v8 like to keep the allocation they make.

--

If it's actually an issue in streams like you imply, we could look into using an existing buffer I suppose.

cc @nodejs/streams?

[2016-04-06 15:04] bnoordhuis commented on #6075
For example, in the sequence `[217, 132, 45, 138, 77...]`, 138 is not a valid starting point for a UTF-8 character sequence because those always have the two most significant bits set.  `138 & 192` is 128 when it should be 192 (because 192 == 128 + 64.)

[2016-04-06 15:15] kuldeepaggarwal commented on #6075
I apologize that I still don't understand the concept. Can you please provide some reference where I can read about Buffer in detail so that I could understand what you meant.

I might be looking dumb here.

[2016-04-06 15:26] bnoordhuis commented on #6075
The no-argument version of `buf.toString()` interprets the bytes in the buffer as UTF-8 and turns that into a string.  One or more bytes make up a character; https://en.wikipedia.org/wiki/UTF-8#Description explains what those byte sequences look like.  Not all sequences are valid; those are replaced with a `U+FFFD` character.

Hope that clears it up.

[2016-04-06 15:34] ofrobots commented on #6079
I am at the VM summit as well, so I won't be able to make to the CTC meeting.

[2016-04-06 15:36] superbob commented on #3742
I'm behind a corporate HTTPS proxy.
I have the issue even when I add the corporate root CA certificates to the system (in `/etc/pki/tls/certs/ca-bundle.crt` on Fedora 23).
[code]
To pass behond this issue I have to set configuration to use the cafile
`npm config set cafile=/etc/pki/tls/certs/ca-bundle.crt  -g`
After that, the _UNABLE_TO_GET_ISSUER_CERT_LOCALLY_ vanishes, but I have another problem

[2016-04-06 15:46] santigimeno opened #6080 "Investigate flaky test test-http-client-abort.js"
It has failed on one of the `pi2-raspbian-wheezy` bots: https://ci.nodejs.org/job/node-test-binary-arm/RUN_SUBSET=1,nodes=pi2-raspbian-wheezy/1608/. Output:

[code]

[2016-04-06 15:54] calvinmetcalf commented on #6078
Streams were designed for use within node.js programs where they are one of many parts of the program, so relying on garbage collection isn't all that big a deal for them because if they didn't some other part would so there wouldn't be a net gain.   I'm not discounting that streams are allocation heavy but I'm not sure much they add to the memory usage in a real program where they are one of many

[2016-04-06 16:00] Trott commented on #5766
Are we going to do benchmarks to check for performance regressions, especially considering the v8 upgrade? I assume the answer is "yes" but you know what they say about assumptions...

/cc @nodejs/benchmarking @mhdawson @mscdex

[2016-04-06 16:07] mcollina commented on #6078
First of all: are you getting an out of memory error? V8 gc takes into account the amount of physical memory that is available, and it performs best given the amount of memory that is available on the system. Because of this, allocating 300MB of RAM is probably the best thing to do to read that file as quickly as possible. On the other end, I completely agree that streams are not the best API for

[2016-04-06 16:12] ChALkeR commented on #6078
Actually, that's not true, and calling a scavenge each 50-th `'data'` event limits the memory usage to ~30 MiB and makes it _faster_.

[2016-04-06 16:44] chrisdickinson commented on #6079
I won't be able to attend today — apologies!

[2016-04-06 17:29] machineghost opened #6081 "Deafault/Destructured Parameter Error"

[2016-04-06 17:32] TheAlphaNerd commented on #6081
@machineghost Node is not running the exact same version of v8 as chrome. es6 features behind a flag are currently un supported.

Expect a big v8 update in the coming week as we release node v6

Closing for now as this is not something that can be fixed on v5

[2016-04-06 17:32] #6081 closed

[2016-04-06 17:34] machineghost commented on #6081
Wow, so fast!

And yeah, while I understood that these were experimental features I still thought you might want bug reports on them.  But if all that code is going away soon then there's certainly no need.

Thanks.

[2016-04-06 17:43] mcollina commented on #6078
On my tests calling `gc()` every 50th `'data'` event increases the time spent reading the file by 30%. The memory increases by less than 30 MB.

Here is my code:

[code]

I am still not understanding what problem having _free_ or uncollected memory creates. What is the use case we are discussing, and what are the implications. What could node do better if the memory consumption of streams would be

[2016-04-06 17:50] ChALkeR commented on #6078
@mcollina Scavenge is `gc(true)`, so it would be `counter++ % 50 === 0 && gc(true)`.

Nevertheless, manual mark-sweep calls each 1000-th data event also speeds things up a bit, but the memory usage is ~150 MiB.

[2016-04-06 17:57] dnalborczyk commented on #6081
It'll work in v6 (just tested it), coming likely end of this month. You can run pretty much all ES2015 features (except modules) without flags with the next coming major version.

If you are interested check out the vee-eight-v5.0 branch.

Daniel

[2016-04-06 18:08] mcollina commented on #6078
@ChALkeR you are right! Calling `gc(true)` every 50 `'data'` event halves the time. In this case, the mark-and-sweep collector never gets called.

Here is what is happening: the objects are short-lived, and an (early) collection via scavenge solves the issues. Using `--trace-gc` I can see this:

[code]

Basically, we keep hitting mark-and-sweep.
Given that normally the GC picks the right decision

[2016-04-06 18:18] s3ththompson commented on #6079
I'm at the VM summit as well.

[2016-04-06 19:36] ChALkeR commented on #6078
@mcollina I opened https://github.com/nodejs/node/issues/1671 to track that some time ago.

[2016-04-06 19:45] ChALkeR commented on #1671
@jasnell This is indeed caused by v8 alone, but I would prefer to keep this open for tracking this. Perhaps we should collect more data and open a new issue at v8 (the old one was closed).

E.g., #6078 looks caused by this.

[2016-04-06 19:47] animetosho commented on #6078
Thank you for all the replies!

I am not getting any out of memory errors, or even hitting 2GB remotely, this is just an observation that I've made, having seen rather simple scripts consume a lot of system RAM. So basically, things are working :)

I understand that for most "real" programs, there are usually other allocations than streams, and are affected by GC too. It's just that most variables

[2016-04-06 19:54] jeisinger commented on #1671
@ChALkeR what version of v8 are you running this on?

[2016-04-06 20:06] ChALkeR commented on #1671
@jeisinger I'm running this on Node.js 5.x (v8 4.6), but I will recheck on v8 5.0 today or tomorrow.

[2016-04-06 20:07] eljefedelrodeodeljefe commented on #6057
@balane can you run `msinfo32` and copy-paste the result here. I just did a fresh install after I bought a OEM Professional version and there it did work as expected. Before, I tested with modern_ie. So good news for us is it is not affecting everyone on windows...hopefully.

[2016-04-06 20:22] evanlucas commented on #5779
http://doodle.com/poll/5w3t9rbhyu6rfekr is the doodle poll.

Please select the times at which you are able. Thanks! /cc @Trott

[2016-04-06 20:42] trevnorris commented on #2114
@Trott Nope. May just want to throw this into the CTC meeting for quick vote for fast resolution.

[2016-04-06 20:54] evanlucas commented on #5779
ok, sorry. I had a little trouble with doodle, so if you had already signed up, you may need to again :[

[2016-04-06 21:07] machineghost commented on #6081
@dnalborczyk: while I would love to check out that branch, I have to share a codebase with others (who will get annoyed at me if I check in code that doesn't work for them), so I'll hold out for the official release.  Thanks for the update though!.

[2016-04-06 21:22] ChALkeR commented on #3979
https://github.com/npm/npm/issues/12187 got closed, with a statement that it's a Node.js bug for some reason.

[2016-04-06 21:22] Fishrock123 commented on #5043
Sounds like this was solved, closing.

[2016-04-06 21:22] #5043 closed

[2016-04-06 21:24] ChALkeR commented on #3979
What can we do about the npm license in older versions? 0.10/0.12/4.x still have that clause that caused #3959, see https://github.com/nodejs/node/issues/3959#issuecomment-205370054.

[2016-04-06 21:40] kkoopa commented on #5766
I just built and ran NAN's test suite against the vee-eight-5.0 branch. No warnings, no errors, no problems.

I understand the `MakeCallback` changes mentioned in https://github.com/nodejs/nan/issues/548 have not yet made it in there. If I were you, I would strongly reconsider breaking the signature. Is it not so that `AsyncWrap` is an internal class? Could you not leave the signature of `MakeCall

[2016-04-06 21:44] balane commented on #6057
What exactly are you looking for from the msinfo32 result?

[2016-04-06 21:55] davepacheco opened #6083 "TCP socket emitted 'end' event after 'error' event"
- **Version**: observed on v0.12, v4, and v5.  Did not observe on v0.10. (details below)
- **Platform**: observed on both illumos and OS X Mountain Lion, both 32-bit and 64-bit (details below)
- **Subsystem**: net

Although it's not technically documented, a lot of code assumes that once a stream emits an 'error' event, it will not subsequently emit 'data' or 'end' events.  This is pretty much nec

[2016-04-06 22:10] matthewwithanm commented on #5221
@bnoordhuis Can this be cherry-picked now? Fix [here][0].

[0]: https://bugs.chromium.org/p/v8/issues/detail?id=4757

[2016-04-06 22:22] joaocgreis commented on #5386
I couldn't make this test fail on Windows 2012. I will try Windows 2008.

@gibm What type of machine are you getting these failures on? Virtual machine? How many processors? Do you have free memory or is the machine under stress? I'll try to create similar conditions locally.

[2016-04-06 22:22] trevnorris commented on #5766
@kkoopa The reason I wanted to change the interface was for consistency. Currently users of `node::MakeCallback()` have no way of knowing if the call threw. But i'm also not bent on making the change, so if it's decided that con's out weight the pro's then I won't loose any sleep.

[2016-04-06 22:28] TheAlphaNerd commented on #5221
I'll give it a go

[2016-04-06 22:32] jeffreysbrother commented on #5384
Able to reproduce on Windows 10 Home 64-bit

issue occurrs when using CMD, Babun, and Powershell
node v5.10.1
npm v3.8.3
bower v1.7.9
yo v1.7.0
gulp CLI v1.2.1

[2016-04-06 22:38] felixfbecker commented on #6037
The better solution would be to install npm modules where Node is installed. When you install Node in Program Files for all users, install global packages for all users. If you install Node locally in AppData, install npm packages in AppData. If you install for all users, add to PATH for all users. If you install locally, add to PATH for current user.

[2016-04-06 22:39] #4899 closed

[2016-04-06 22:47] skeggse commented on #2848
Hm this issue has been bounced around a lot. Are any of you still working on this, and is any of that work public?

[2016-04-06 23:03] gibm commented on #5386
@joaocgreis I'm pretty sure I was running this on my Windows 7 laptop locally (dual core i7 Broadwell, 16Gb RAM). I'll check again tomorrow though. It wouldn't be under much load, and there should be plenty of free RAM. Interesting that you couldn't get it to fail, I'll try it on a win 2012 VM.

Were you testing Node v4?

[2016-04-06 23:08] kkoopa commented on #5766
@trevnorris Gotcha, and I agree that the change is correct and warranted. As you duly noted, the question is about the timing within the bigger picture.

Things to consider, which are not only related to `MakeCallback`. For example, https://github.com/nodejs/nan/pull/490 needs to happen at some point:
- Cost of changing versus cost of compatibility, as well as gains from both sides
- Is Node 6 goi

[2016-04-06 23:18] joaocgreis commented on #5386
Node compiled from tag `v4.3.1`. I was actually using the default of 32 bits in `vcbuild`, I'll try using `x64`.

[2016-04-06 23:20] TheAlphaNerd commented on #5386
@joaocgreis would you be able to test on `v4.4.2`?

[2016-04-06 23:21] jeisinger opened #6089 "Consider moving from gyp to gn"
Chromium started to move from gyp to gn a while ago. Soon, the v8 build will be fully supported on gn. While there's no immediate plan to remove the gyp files right away, gyp itself will become unsupported the less people use it.

Consider planning for moving to gn: https://chromium.googlesource.com/chromium/src/+/master/tools/gn/README.md

[2016-04-06 23:23] TheAlphaNerd commented on #6089
/cc @nodejs/build @nodejs/node-gyp

[2016-04-06 23:54] joshgav commented on #6051
@bnoordhuis Can you clarify why we have both `BaseObject` in `src/base-object.h` and `ObjectWrap` in `src/node_object_wrap.h`? Looks like much but not all is replicated. `ObjectWrap` isn't used elsewhere in core. I began cleaning up and merging these, wanted to find out more. Thanks!

[2016-04-07 00:19] joshgav commented on #5583
@trevnorris how come we don't wrap the pointer immediately in the `BaseObject` constructor?

[2016-04-07 00:47] jbergstroem commented on #6089
This has been brought up a few times amongst issues while looking for a gyp replacement. GN in its current state is very tied to the google repo meaning building a standalone is tedious. There's a few attempts you likely can find in gists. I've been doing some attempts at ripping dependencies out in place for libuv and lessening ties to the rest of the google checkout, but since gn is moving in su

[2016-04-07 00:47] #6089 closed

[2016-04-07 00:53] jbergstroem commented on #6089
Also:  https://bugs.chromium.org/p/chromium/issues/detail?id=393068

[2016-04-07 02:13] mhdawson commented on #5766
@Trott  when v8 is updated in master the night nightly run of the benchmarks will give us some info.  Once we cut 6 I'm also planning to add that release as one of the releases we run the benchmarks displayed on benchmarking.nodejs.org on each night.

[2016-04-07 02:23] rvagg commented on #5766
@kkoopa to your questions, v6 is going to turn in to LTS in October this year, so the choices we make now wrt breaking changes are going to have a long-term impact. v0.10 is going to be killed off at approximately the same time, tho I expect it to linger in use like 0.8 did so we shouldn't be too keen to stick the knife in to it. I really don't have an opinion on which way the `MakeCallback` chang

[2016-04-07 03:26] jeisinger commented on #6089
Thanks for the pointers. And yes, the fact that gn is checked into chromium is also a problem for v8 (which we work around by using a checked in gn binary...)

[2016-04-07 03:39] bnoordhuis commented on #6051
@joshgav `node::ObjectWrap` is a public API.  I introduced `node::WeakObject` (its original name) so we could make breaking changes in patch releases without having to worry about backwards compatibility.

[2016-04-07 03:41] Trott commented on #2895
Proposed fix: https://github.com/nodejs/node/pull/6090

[2016-04-07 03:52] joshgav commented on #6051
Thanks Ben. I'm trying to understand the wrap system better by studying the code. Any pointers? Are you on #node-dev on IRC?

[2016-04-07 04:16] kuldeepaggarwal commented on #6075
Thanks a lot @bnoordhuis :blue_heart: :yellow_heart: :green_heart: :purple_heart:

[2016-04-07 06:19] tschoening commented on #6037
And what exactly is the "better" solution in your suggestion? Which problem exactly is solved by this? None of course, it makes things worse, because that way one needs admin permissions to install node modules. The current behaviour of the installer instead is almost standard, installing the main application system wide and some kinds of "add ons" etc. per user. That's exactly like a lot of softw

[2016-04-07 06:28] felixfbecker commented on #6037
@tschoening It would solve exactly your issue. When you install Node for all users, you install npm packages for all users, you add to PATH for all users. Of course you would need admin rights to install global modules, as you are installing them for all users. _Nobody complains about having to use sudo to install global modules on Linux._ The Windows behaviour is totally inconsistent with other p

[2016-04-07 07:30] tschoening commented on #6037
You are missing the point: I have no issue, but instead suggested a reasonable improvement to how the installer works already, optionally removing what looks like a limitation of the current implementation. I don't want to install global modules system wide and there's no need to, installing them per user by default is the right thing to do and exactly how the installer behaves already. That has n

[2016-04-07 07:33] jorangreef commented on #6078
I think @animetosho is spot on. It's one of the reasons I usually try to avoid streams.

I prefer to do as much static allocation of buffers and as few memory copies as possible. It's a simple and powerful idea, mechanical sympathy in action. It improves cache locality, reduces CPU, blocking, GC pressure etc.

Node can be fast, one just needs to work with the GC, not against it. For example, @jasn

[2016-04-07 07:44] binarykitchen commented on #6036
unfortunately i am not making any progress and do not know the cause. libvips, sharp or leveldown?

the core dump i have is very long and does not really point to the cause:
https://gist.github.com/binarykitchen/9ac53ad6810e1a2c23e8d636422f59e9

any ideas @bnoordhuis?

[2016-04-07 08:07] eljefedelrodeodeljefe commented on #6057
Build number of Windows, Architecture etc. Before I go debugging I wanted to have as much information as possible. Minus security relevant stuff of course...

[2016-04-07 08:19] mcollina commented on #6078
@animetosho running your scripts on node v5.10:

Stream:
[code]

Read:
[code]

----

I recognize the problem, but I do not see a solution, apart from improving V8 garbage collector, as discussed here https://github.com/nodejs/node/issues/1671.

What is happening is that buffers that pass through the stream harness cannot be collected by scavenge easily. At some point the GC passes from scavenge to

[2016-04-07 08:20] ChALkeR commented on #6078
They can, or `gc(true)` wouldn't have helped. But they don't trigger scavenges for some reason.

[2016-04-07 08:22] mcollina commented on #6078
@ChALkeR sorry, that is what I meant.

[2016-04-07 08:28] bnoordhuis commented on #6051
Every wrapped object is ultimately tied to a strong or weak persistent handle, details of which can be found in deps/v8/include/v8.h (classes `Persistent` and `Global`.)  If you have specific questions, I'll try to answer them.  I'm occasionally on IRC, my (unimaginative) nick is bnoordhuis.

[2016-04-07 08:28] #6051 closed

[2016-04-07 08:30] jorangreef commented on #5039
@stevemao sure, working on it now.

[2016-04-07 08:30] mcollina commented on #6078
One side note, the two branches of this example behave in the same way (with memory balooning):

[code]

[2016-04-07 08:38] isaacs opened #6095 "RFE: Use `#!/usr/bin/env node` for npm executable"
In the node installer, the shebang in npm's executable is rewritten from `#!/usr/bin/env node` to `#!${PREFIX}/bin/node` (where `${PREFIX}` is node's install prefix).

I have come to believe that this is a mistake.

1. **It violates user expectations.**

    The `PATH` environment variable is used to determine where the system looks for an executable.  If I've placed a `node` binary at a place ear

[2016-04-07 08:44] Kevalin opened #6096 "about child_process.fork problem"
* **Version**:v4.2.2
* **Platform**:linux
* **Subsystem**:child_process

Now, I use fork to start more process of node.js.The docs of v4.2.2 like this:

[code]

The options of silent is true of false,I can't use child.stdout and child.stderr that both are **undefined**.
But docs of _stdin, stdout, and stderr of the child will be piped to the parent_,I think the forked child process has stdout and

[2016-04-07 08:59] jbergstroem commented on #6095
I agree with setting it to `/usr/bin/env`. Although it might be considered breaking as in semver-major, I don't think this will have a big impact seeing how most packagers set prefix to /usr (which raises another problem with npm's global config creating /usr/etc, but that's another issue).

[2016-04-07 09:32] bnoordhuis commented on #6096
I'm not sure what your question is.  You're not passing `{ silent: true }` to fork() so you get the default inherit behavior.

[2016-04-07 09:39] jnatherley commented on #3540
Currently using 5.0.0 installed via NVM on OSX, I tried deleting node_modules and the one in /usr/lib and reinstalling node, nothing appears to work..

``
"normalizr": "git://github.com/gaearon/normalizr.git#master",

Error: Cannot resolve module 'normalizr'
``

Any ideas? Maybe i've done this the wrong way or i'm missing something obvious.

[2016-04-07 10:05] reducingsearchspace opened #6097 "BUILD in cygwin"
* **Version**:
* **Platform**:  cygwin
* **Subsystem**: unix

[2016-04-07 10:30] Kevalin commented on #6096
I used it to pass { silent: true } to fork().The parent process got the stdout, stderr,but I want to get the stdio of forked everyone child process to write a independent logfile.

[2016-04-07 10:47] bnoordhuis commented on #6097
What's the question?

[2016-04-07 10:50] bnoordhuis commented on #6096
Wouldn't `child.stdout.pipe(fs.createWriteStream(filename))` work?

I'm going to close this issue.  If you want to continue the conversation, please move to https://github.com/nodejs/help/issues - the core bug tracker is not for general support.

[2016-04-07 10:50] #6096 closed

[2016-04-07 10:57] bnoordhuis commented on #6095
I guess it's fine to leave the shebang untouched.  At the risk of sounding obvious, this is a breaking change for people that have an old node binary on their path.  That doesn't particularly bother me except that we'll end up being first-line support for such people.

[2016-04-07 11:21] jbergstroem commented on #6095
@bnoordhuis: If packagers does that I'd suggest they patch instead of us.

[2016-04-07 12:43] jorangreef commented on #5039
Done: https://github.com/nodejs/node/pull/6099

[2016-04-07 12:45] balane commented on #6057
OS Name	Microsoft Windows 7 Enterprise
Version	6.1.7601 Service Pack 1 Build 7601
Other OS Description 	Not Available
OS Manufacturer	Microsoft Corporation
System Manufacturer	Dell Inc.
System Model	Latitude E6510
System Type	x64-based PC
Processor	Intel(R) Core(TM) i7 CPU       Q 740  @ 1.73GHz, 1734 Mhz, 4 Core(s), 8 Logical Processor(s)
BIOS Version/Date	Dell Inc. A16, 12/5/2013
SMBIOS Version

[2016-04-07 13:35] #6097 closed

[2016-04-07 13:41] #4291 closed

[2016-04-07 14:12] joshgav commented on #6051
2 Q's:

1) What determines whether the handle should be strong or weak?

2) Why don't we wrap the native pointer in the JS object in the BaseObject constructor? Why do we wait till e.g. HandleWrap?

Thanks!

[2016-04-07 14:17] kzc commented on #4222
Fixed in libuv 1.9.0 upgrade https://github.com/nodejs/node/commit/c3cec1eefc9f3b55a3fb7bd623b3d921f493870d

[2016-04-07 14:25] bnoordhuis commented on #6051
Strongly persistent handles are never collected by the garbage collector, they're explicitly deallocated.

Weak handles on the other hand are tracked by the garbage collector.  You're notified (through a callback) when there are no other references to it anymore.  That's when you can safely deallocate its resources.

Example: `net.Server` is backed by a strong handle, you have to explicitly call `

[2016-04-07 15:22] joshgav commented on #6051
Thank you! A couple more :)

We don't store the native pointer by default for BaseObject or AsyncWrap; and we also don't mark them as weak.

Why don't we store the pointer, e.g. by calling ''`Wrap()` from the constructor? Is it because we don't have reason to think we'll need it? Would it be simpler to just always store the pointer by calling Wrap in BaseObject's constructor rather than depending

[2016-04-07 16:08] bnoordhuis commented on #6051
That would be assuming that the object has slots to store the pointer in, which isn't always true.  Only objects created from a `v8::ObjectTemplate` with `InternalFieldCount() > 0` have those.

No, because weak handles are considerably more expensive than strong handles.  If someone uses `process.binding("async_wrap")` directly, it's assumed they know what they're doing.

[2016-04-07 16:16] mscdex commented on #4222
@ELLIOTTCABLE can you confirm this is fixed in master now with libuv 1.9.0?

[2016-04-07 16:36] davidmarkclements opened #6103 "Call String::Flatten before converting to buffer"
There's a 15%-40% gain to be had in cases where a concatenated string
is being converted to a buffer (e.g. via writing to a stream, etc.)

Refer to http://npm.im/flatstr for additional explanation, and clearer benchmarks

/cc @mcollina

benchmarks:

[code]

benchmarks code:

[code]

[2016-04-07 16:39] trevnorris commented on #5583
@joshgav Multiple inheritance. The `this` in the `BaseObject` constructor could be different than the pointer returned from the derived class. It has worked so far in `HandleWrap` by accident b/c it's always the first class listed in the inheritance chain (e.g. `StreamWrap`), but I'm investigating how to remove this implicit behavior. This also wouldn't help the OP because `.fd` is a getter for `S

[2016-04-07 16:50] mcollina commented on #6103
@nodejs/v8 @nodejs/streams @sindresorhus what do you think? I might give this a try next week.

[2016-04-07 16:53] lordKnighton commented on #5039
👍  @jorangreef

[2016-04-07 17:05] orangemocha commented on #6057
cc @joaocgreis , our MSI expert.

[2016-04-07 17:06] TheAlphaNerd commented on #5221
@matthewloring this landed in https://github.com/nodejs/node/commit/937ac3760a85888047c6acde9b15320643fa1324

[2016-04-07 17:09] orangemocha commented on #6037
cc @joaocgreis

[2016-04-07 17:11] matthewloring commented on #5221
Redirecting mention to @matthewwithanm

[2016-04-07 17:15] TheAlphaNerd commented on #5221
whoops.. that's what I get for going on autopilot

[2016-04-07 17:20] matthewloring commented on #5221
No worries :smile:

[2016-04-07 17:25] jasnell commented on #6103
@trevnorris ... looks interesting.

[2016-04-07 18:24] zaolin commented on #3581
Position Independent Executable support should be enabled (recommend) for all known linux platforms which includes Android! It's a security feature which is very useful can be found nearly for
each arch. For more information please take a look at:

https://securityblog.redhat.com/2012/11/28/position-independent-executables-pie/

[2016-04-07 18:26] zaolin commented on #3581
@kikijhu Would it be possible to add pie for the "linux" target as well ?

[2016-04-07 18:27] joaocgreis commented on #6057
I could not reproduce this. I tried to create the registry values that the installer reads (`Software/Node.js` under `HKLM` and `HKCU`) and those are read correctly but the path chosen by the user is always used.

@balane can you try to create a installation log? Use:
[code]

[2016-04-07 19:50] ezwebcraft opened #6106 "nodejs"
* **Node Version 5.10**:
* **Window 7**:
* **Subsystem**:

after trying the node reply I notice a issue with the sorting method
the issue is that the value 4 does not sort correctly, this seem to be the only number that stay in place.

here is an example of snippet i ran

var list_one = [1,23,12,11,87,12,4,66,0]
undefined

[ 0, 1, 11, 12, 12, 23, 4, 66, 87 ]

as you can see the initial location do

[2016-04-07 19:54] TheAlphaNerd commented on #6106
From the JS docs

[code]
The default sort order is `Unicode point order`. If you want to sort based on value you will need to provide a sort function like:
[code]

I'm going to close this but feel free to ask more questions or open an issue on https://github.com/nodejs/help

[2016-04-07 19:54] #6106 closed

[2016-04-07 20:24] buzinas commented on #3462
In fact, that's because everyone uses the packages `atob` and `btoa`, e.g:
https://www.npmjs.com/package/atob

~500k downloads per month

[2016-04-07 20:59] animetosho commented on #6078
Oh, oops. If the GC can clean up the objects earlier, then that will be a big improvement. Not as efficient as static memory allocation, but it's probably sufficient most of the time.
Thank you very much for all the effort put into this!

[2016-04-07 21:02] eljefedelrodeodeljefe commented on #6057
Hmm. I couldn't reproduce (again) neither, even though it was reproducable earlier. It's likely related to Windows being under whatever circumstances. Just installing again then solves it though. I would vote for closing this until there is some logged reproduction. @joaocgreis `msiexec /i C:\Users\myusername\Downloads\somepackage.msi /L*v install.txt` would be logging sufficiently I assume?

[2016-04-07 21:20] balane commented on #6057
[InstallLog.txt](https://github.com/nodejs/node/files/209239/InstallLog.txt)

From a quick glance through the log file looks like it's saying that it correctly installed to C:/apps/nodejs but it absolutely did not.

[2016-04-07 22:00] yunong opened #6107 "Buffer Base64 Encoding Truncates or Adds Extra Characters"
* **Version**: 0.12-5.x
* **Platform**: Mac OS X El Capitan
* **Subsystem**: Buffer

Encoding and Decoding a new ```Buffer``` object with ```base64``` results in garbled or missing data.
[code]

Notice how in the first and second example, the last character is missing, and in the third example, there are extra characters appended to the output.

cc/ @trevnorris

[2016-04-07 22:56] kzc commented on #6107
You're converting ill-formed base64 input to base64. Try this instead:

    Buffer(Buffer('hello', 'utf8').toString('base64'), 'base64').toString();

[2016-04-07 22:58] mscdex commented on #6107
@kzc is right, the second argument passed to `Buffer()` is the encoding for the string passed in as the first argument. `'helloIsItMeYourLookingFor'` is not base64-encoded.

[2016-04-07 22:58] #6107 closed

[2016-04-08 00:28] doublerebel opened #6109 "Incorrect docs? fs.fstat expects file descriptor and not path"
* **Version**: 5.7.0
* **Platform**: SmartOS (SunOS 5.11 joyent_20160204T171016Z i86pc i386 i86pc Solaris)
* **Subsystem**: fs

Hello,

I wrote a little fs.watch() script today, and noticed that when using fs.fstat/fs.fstatSync that it expects a file descriptor and not a path.  The [docs specify a path](https://nodejs.org/docs/latest/api/fs.html#fs_fs_stat_path_callback), but I see that [the tests

[2016-04-08 00:30] addaleax commented on #6109
You got the wrong docs – there are both `stat` and `fstat`, where the `f` prefix stands for taking a file descriptor as its argument. The docs for fstat are [here](https://nodejs.org/docs/latest/api/fs.html#fs_fs_fstat_fd_callback).

[2016-04-08 00:41] doublerebel commented on #6109
Oh gosh, thanks!

[2016-04-08 00:41] #6109 closed

[2016-04-08 01:58] davepacheco commented on #6107
Shouldn't invalid input produce an error rather than garbage output?

[2016-04-08 02:12] addaleax commented on #6107
Base64 comes in various forms, the most common using one or two `=` signs as a form of final padding:
[code]
This padding makes a buffer encoded with this variant of Base64 always have a length that is a multiple of 4, which is a nice property to have when writing a decoder for it.
However, it’s not strictly necessary – there is no additional information in those `=` characters that wouldn’t also

[2016-04-08 04:43] Kevalin commented on #6096
I tried it like this.child.stdout.pipe(fs.createWriteStream(filename))
But the child.stdout is undefined

2016-04-07 18:51 GMT+08:00 Ben Noordhuis <notifications@github.com>:

[2016-04-08 04:44] jandrieu opened #6112 "fs.writeFileSync triggers two file change events"
* **Version**:v0.10.40 *and* v0.4.4.2
* **Platform**:Linux f9988dbb90f4 3.13.0-83-generic #127-Ubuntu SMP Fri Mar 11 00:25:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:fs

This is an upstream report from [fs.writeFileSync url can result in empty reads for external watchers](https://github.com/Microsoft/vscode/issues/4727)

I use **fs.watch** to trigger **browserify** and I use **vsco

[2016-04-08 05:41] isaacs commented on #6095
Indeed.  The good news is that the npm cli team tests regularly going back even further than Node LTS, I believe, and we often recommend old node users upgrade npm anyway.  So from node's point of view, you should be fine.  (That is, Node v0.8 is still a first class citizen, and probably will be for some time, as long as we keep seeing registry traffic from it.)

[2016-04-08 07:33] bnoordhuis commented on #6112
Emacs probably writes to a temp file first, then renames it (which is atomic), whereas `fs.writeFileSync()` modifies the file in place, resulting in contents and metadata updates.

[2016-04-08 09:04] jandrieu commented on #6112
Someone else suggested that also. I haven't verified it, but I did test it with echo:
[code]
If bash's append operator can do it, I would think fs.writeFileSync could...

[2016-04-08 11:05] benpptung opened #6113 "Proposal for `.pipe()` - forward error emitted from `src` to `dest` in stream"
* **v4.4.1**:
* **Darwin Bens-Mac-mini.local 13.4.0 Darwin Kernel Version 13.4.0: Wed Mar 18 16:20:14 PDT 2015; root:xnu-2422.115.14~1/RELEASE_X86_64 x86_64**:
* **Subsystem**:

While dealing with a weird uncaughtException, emitted by a stream. It inspires me this idea, maybe `.pipe()` can do one more thing to bind an error listener on the `src` and emit ( forward ) the error to `dest` automatical

[2016-04-08 13:37] chmille4 opened #6116 "ZLIB failing to inflate entire .gz file that contains an extra field in the header"
* **4.4.2**:
* **OSX**:
* **10.10.5**:

The Node ZLIB library only inflates the first 64k of a gzipped file (attached). The file has an extra field in the header, which may be causing the problem. GUNZIP on mac and linux correctly inflate it to it's full size (~33M). I've also attached a simple test script which takes the gzip file on stdin and outputs the inflated file to stdout. If you run the t

[2016-04-08 13:39] llevkin opened #6117 "Cluster worker's with http-server is hangs and keep in memory for a long time."
* **Version**: v5.10.1
* **Platform**:  Linux SDEV2 4.4.5-1-ARCH #1 SMP PREEMPT Thu Mar 10 07:38:19 CET 2016 x86_64 GNU/Linux
* **Subsystem**: http, cluster.

Hello everybody! I have found some problems with http server and the cluster module.
The bottom line is that worker`s hangs, and keep in memory for a long time - if you have connections (keep-alive?)
in http-server in worker, and you call 'k

[2016-04-08 13:43] yorkie commented on #6116
@chmille4 Do you have tried with file stream though?

[2016-04-08 13:48] chmille4 commented on #6116
@yorkie I don't quite understand. Can you give me an example of what you mean?  Thanks

[2016-04-08 14:00] yorkie commented on #6116
I mean you should select single variable when evaluating a result, you are using `stdin/stdout` to take inputs and to make sure what's the result, but it might not be working with Node.js, so could you debug it by the following steps:

- read the gzip file by `fs.readFile` and make sure the contents length is equal to the expect size.
- inflate the above buffer and put the result to a buffer objec

[2016-04-08 14:13] mscdex commented on #6116
Here's the script:

[code]

[2016-04-08 14:19] mscdex commented on #6116
@chmille4 Can you try with node v5.10.1 and the master branch if that doesn't work? I know there were some zlib-related changes recently, some of which are in v5.x and some that are not yet.

[2016-04-08 14:19] addaleax commented on #6116
I’m 99 % sure this is a duplicate of #4306, which has been fixed in #5120. The script works as expected with Node.js v5.9.0+.

[2016-04-08 14:33] daniel-white commented on #5696
Is there any way that I can get the pdbs for v4.4.1 or do I have to build my own node.exe? 32-bit node is crashing for me and I'd like to investigate why.

[2016-04-08 15:24] chmille4 commented on #6116
Yep, upgrading to v5.10.1. Fixed the issue. Awesome, thanks for the help!

[2016-04-08 15:24] #6116 closed

[2016-04-08 15:44] dodev opened #6118 "repl: Failed assignment "blocks" further assignments to a variable name"
Hi!

On an assignment statement TypeError, using the same variable name is not possible due to either Reference or TypeError when trying to assign a value to a variable with that name.

**Steps**:
1. Assign to a variable with statement which causes TypeError (`(let|const|var) a = Math.PI()`)
2. Try to assign to the same variable name using `let|const|var` OR try to use the variable;

**Result**:
T

[2016-04-08 16:01] Fishrock123 commented on #6118
The current behavior is technically semantic, but this is a repl so I agree it is somewhat poor usability.

I'm not actually sure this can be fixed though, but ideally if you did `const x;` it would delete the existing x, even if it was const, and make the new declaration.

[2016-04-08 16:09] jasnell commented on #6118
+1 this has been somewhat of an irritation for me for a while. Just not convinced that it is something that can be fixed in Node.js as I believe it's a v8 issue (Chrome gives precisely the same error). Quick test in the Chrome dev console shows:

[code]

[2016-04-08 16:09] Trott commented on #6080
Another one: https://ci.nodejs.org/job/node-test-binary-arm/1659/RUN_SUBSET=3,nodes=pi2-raspbian-wheezy/tapTestReport/test.tap-54/

[2016-04-08 16:11] Fishrock123 commented on #6113
Duplicate of https://github.com/nodejs/node/pull/1521 :)

[2016-04-08 16:18] Fishrock123 commented on #6118
It originates in v8 I think, but I doubt it is an "issue" on that level, it;s just how the language semantics work.

Maybe we could give short errors for redeclarations in the REPL along with a more informative message.

[2016-04-08 16:19] dodev commented on #6118
@jasnell In chromium's repl I get a different behavior, than the one I get in node. But it is unexpected non the less:
[code]

[2016-04-08 16:20] jasnell commented on #6118
Sigh.. gotta love consistency. +1 to seeing if we can at least improve the errors in REPL.

[2016-04-08 16:36] silverwind commented on #2848
Doesn't look like anyone is actively working on this. If anyone wants to take it, let us know.

[2016-04-08 16:43] jianchun opened #6119 "test: test-path fails on Windows?"
https://github.com/nodejs/node/blob/master/test/parallel/test-path.js#L564 has

[code]

The former resolves to absolute path at `C:`: '\\\\?\\c:\\'.
The later resolves CWD, could be on another drive 'd:\dir'.

Seems only passes if CWD is at `C:\`?

[2016-04-08 16:47] addaleax commented on #6119
This is being fixed in #6067 :smile:

[2016-04-08 16:53] jianchun commented on #6119
@addaleax Thanks!

[2016-04-08 16:53] #6119 closed

[2016-04-08 18:36] daniel-white opened #6121 "Debugging access violation on Windows"
- **Version**: 4.4.1 32-bit
- **Platform**: Windows
- **Subsystem**:

I'm hitting a case where something is generating an exit code with "access violation". Is there a flag that I can set in a build and/or command line to force node to crash and not gracefully exit so that I can get a crash dump?

[2016-04-08 18:49] Oriditi opened #6122 "steam-crypto error"
* **Version**:v0.10.4
* **Platform**: Linux 3.2.0-4-amd64 #1 SMP Debian 3.2.73-2+deb7u2 x86_64 GNU/Linux
* **Subsystem**: Unknown

I am having a problem running my js because of this error. I do not know why. Please help thank you.

`

[socket] Listening on *:3000
Connected to MySQL database "database.sql" on host "localhost". Connection id: 80078

/root/node_modules/steam-crypto/index.js:6
  var

[2016-04-08 19:03] bnoordhuis commented on #6122
Try reporting that to the steam-crypto project, it's not a built-in module.

[2016-04-08 19:03] #6122 closed

[2016-04-08 19:07] Fishrock123 commented on #6121
@daniel-white Do you mean `--abort-on-uncaught-exception`? (Which doesn't appear to be documented in our [CLI docs](https://nodejs.org/dist/latest-v5.x/docs/api/cli.html) for some reason...)

[2016-04-08 19:11] daniel-white commented on #6121
I'll try that. Thanks!

[2016-04-08 19:12] Fishrock123 commented on #6121
Ah, I think it is a v8 flag.

[2016-04-08 19:27] bnoordhuis commented on #6112
I'm going to guess that `>>` opens the file in append-only mode.  Have you checked how `fs.appendFileSync` behaves?

[2016-04-08 19:29] trevnorris commented on #6103
Flattening the string will copy the components out. If this is used, we should limit the size of string that can be flattened. Otherwise it could increase memory usage substantially (theoretical upper limit is 256 MB).

I'm not sure of the applicable optimizations v8 has, but I wouldn't be surprised if it kept a hash if the flattened string and if it hadn't been gc'd yet then it could re-use the e

[2016-04-08 19:49] daniel-white commented on #6121
Where does it dump them to?

[2016-04-08 20:31] Trott commented on #6080
Proposed fix: #6124

[2016-04-08 20:41] TheAlphaNerd commented on #2110
@jasnell there is a fix in at https://github.com/nodejs/node/pull/5270 although @yjhjstz has not responded

@indutny I assigned it to you in #5270. It seems like one of the problems was the lack of a reliable tests. The test that is currently available is failing. If we don't hear from @yjhjstz we should likely close it, but I'd be interested in hearing if the fixes to the debugger helps them