[2017-10-26 09:30] croraf commented on #16510
I see a similar question here: #15116. I would like to have RSA and EC, to be used with crypto's signing functionality.

[2017-10-26 09:34] Umkus commented on #16484
@depoulo Same here. I see this in production on latest `node:alpine`, happens around every 15 minutes, sadly.

[2017-10-26 09:34] bnoordhuis commented on #16510
I'll close this out as a duplicate of #15116.  Can you comment in that issue that you would also like elliptic curve support?  Pull requests also welcome, of course.

[2017-10-26 09:34] #16510 closed

[2017-10-26 09:37] vsemozhetbyt commented on #16394
I cannot identify in what version they have been added, for yaml part. If anybody is aware of these properties' history and behavior, please document or provide the info.

[2017-10-26 09:41] apapirovski commented on #16484
@depoulo @Umkus best to stay on 8.7.0 until 8.8.1 makes its way there.

[2017-10-26 09:50] apapirovski commented on #16484
@Umkus by the way if you happen to have more info re: what your code does and any dependencies, that would be helpful. I don't think we really have enough tests around this right now.

[2017-10-26 09:51] croraf commented on #15116
**I would like to have both RSA and EC keys generation functionality (in PEM format)**, to be used with crypto's signing functionality that supports both RSASSA-PKCS1-v1_5 and ECDSA digital signing algorithms.

[2017-10-26 09:52] fcicq commented on #16452
Ah. it affects me as I use the headers from http.fetch result.
one way to avoid from the client side is,
[code]

[2017-10-26 10:08] bnoordhuis commented on #16503
It behaves as expected.  I'll try to explain.

The `{ keepAlive: true }` option controls whether sockets are kept alive (pooled) _between_ HTTP requests, not while a request is in progress.

It turns on TCP keep-alive, but only _after_ the request has completed.  That never happens in your example because it quits after the first request.

`req.setSocketKeepAlive()` on the other hand turns on TCP

[2017-10-26 10:08] #16503 closed

[2017-10-26 10:20] Umkus commented on #16484
Things are back to normal after pinning docker image to `node:8.7-alpine`.

@apapirovski
_(Full disclosure: I'm not a professional nodejs developer)_

Here's the (changed for readability) piece of code that I touched today, roughly before the app started to crash periodically:
[code]
The only thing I actually changed was the addition of the `delete` statement right after clearing the timer. So tha

[2017-10-26 10:23] apapirovski commented on #16484
@Umkus It was definitely not your code. There was a full-blown, legitimate bug in 8.8.0 — I'm just trying to figure out the exact scenarios where it occurs. I'll have a look at socket.io and see if there's anything that can be stripped out into a node test to improve our coverage.

[2017-10-26 10:34] bnoordhuis commented on #16469
Thanks.  That MacBook probably isn't the machine you're having trouble with though, is it?

Can you post the exact steps you use to start node.js + connect to it?  The snippet you posted seems to be a script executing.  It hides the actual invocations.

[2017-10-26 10:38] addaleax commented on #14847
@MylesBorins After the digging I did on Tuesday, I think we should apply the same patch to `master`: https://github.com/nodejs/node/pull/16511

[2017-10-26 10:45] bnoordhuis commented on #16491
IPC on Windows uses an ad hoc protocol that parent and child are expected to adhere to.  So yes, working as intended as far as libuv is concerned. :-)

There are a few (non-node.js) programs out there that speak libuv's protocol.  Although unlikely, prohibiting stdio from being used as an IPC channel might break such programs.

[2017-10-26 11:35] guybedford commented on #16476
To explain the logic here - the main module is resolved to an absolute URL (`file://path/to/main`) before being passed to the top-level import to go through the ES module resolver. This is because `node x` is different to `import "x"` (first is a file require where x is a path, second is a package require where x may be in node_modules).

Absolute paths are not passed through the file extension ch

[2017-10-26 11:36] amcereijo commented on #14917
Hi,
I was trying to run a R script using `call(..)` and it doesn't work well because of its implementation.
[code]

The `spawn` method runs asynchronously and should listen for events `data`  and `close`.
With `data` you get any output produced by the running script and with `close`, you know the execution is over.

In the implementation, the events `data` on `stderr` and `stdout` are calling to t

[2017-10-26 11:44] targos commented on #16476
@guybedford so the problem is that custom hooks should be able to change how the main entry point is resolved?

[2017-10-26 12:05] Ginden commented on #16443
Consider implementing some kind of heartbeat.

[2017-10-26 12:06] Ginden opened #16514 "Guide to contributing in lib/ folder?"
As I'm working on pull request for #16178, I noticed that limited usage of certain ES2015+ features in `lib/**/*.js` code. My thoughts were confirmed while reading [`doc/guides/writing-tests.md`](https://github.com/nodejs/node/blob/master/doc/guides/writing-tests.md#esnext-features).

I think that publishing guide "what is preferred in codebase" would be preferred, because I was not able any descr

[2017-10-26 12:08] paulrutter opened #16515 "Feature request: Make calling "inspector_socket_server.PrintDebuggerReadyMessage" configurable"
For our Node.js process, "child_process.fork" is called often in combination with the "--inspect=port" flag, to be able to create heapdumps though the DevTools protocol (https://www.npmjs.com/package/node-oom-heapdump).

Because of this, our logs are being polluted with the following messages:
"Debugger listening on ws://127.0.0.1:5859/52f6454f-afaa-4409-a1d1-7db277e27200"
"For help see https://no

[2017-10-26 12:11] julien-f commented on #16443
Unfortunately I don't have any control on the HTTP server 😢

AFAIU, TCP is a connected protocol, I would be surprised if it is unable to detect a connection failure…

[2017-10-26 12:15] bnoordhuis commented on #16443
You'd be surprised.  I'll close this out but if you want to continue the conversation, please move it over to the help repo.

[2017-10-26 12:15] #16443 closed

[2017-10-26 13:11] giltayar commented on #16476
Note that given that this is also true for the `.js` extension, then once esm is out of the experiment phase, it will probably break a lot of scripts that rely on this behavior.

[2017-10-26 14:21] joyeecheung opened #16519 "Why do we include both *-inl.h and *.h in the same .cc file?"
* **Version**: master
* **Subsystem**: src

Just noticed this when doing https://github.com/nodejs/node/pull/16122, `clang-format` has a different idea of alphabetical orders and put `-inl.h` includes before `.h` includes. Is there a reason that we include them both? Usually including `-inl.h` is enough because they should include `.h` as well, and they should be self-contained.

[2017-10-26 14:22] targos commented on #16476
@guybedford do you see a problem with the following patch?

[code]

[2017-10-26 14:24] joyeecheung commented on #16519
Also if there is a reason for that I think it's worth adding that to the C++ style guide.

[2017-10-26 14:26] luislobo opened #16520 "const beavior when erroring to set a module"
* **Version**: v8.7.0
* **Platform**: Linux nbk-lobo 4.10.0-37-generic #41-Ubuntu SMP Fri Oct 6 20:20:37 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: repl

I normally use the repl, to test out modules before actually using them.

Today I run into an issue that I don't really know if it's an issue or a "feature".

[code]

So, basically, you require a non existent module, assigning it to

[2017-10-26 15:00] bnoordhuis commented on #16519
No real reason.  I think I introduced it in the node.js code base and I probably copied it from the V8 code base.

[2017-10-26 15:04] Ginden commented on #16520
Duplicate: #8441  #8376 #8309

[2017-10-26 15:04] bnoordhuis commented on #12085
No follow-up and no one complained so I'll go ahead and assume this is fixed.  If not, please leave a comment.

[2017-10-26 15:04] #12085 closed

[2017-10-26 15:06] bnoordhuis commented on #16520
@Ginden beat me to it. :-)  Closing, known issue; please see the other bug reports.

[2017-10-26 15:06] #16520 closed

[2017-10-26 15:11] guybedford commented on #16476
@targos yes that’s probably the easiest patch, but does mean accepting the somewhat unique concept of the top main being an absolute path and not an absolute url for the resolver.

[2017-10-26 15:22] jasnell opened #16521 "Can we refactor opensslErrorStack?"
Errors thrown from inside node_crypto *might* contain an additional `opensslErrorStack` property. This property is generally undocumented save one reference [here](https://nodejs.org/dist/latest-v8.x/docs/api/errors.html#errors_class_error) and I am unable to find *any* mentions of the property in use anywhere (GitHub and Google searches show no mentions of the property outside of our own errors.m

[2017-10-26 15:25] bnoordhuis commented on #16521
That's because it was only added last month: #15518

[2017-10-26 15:29] ofrobots commented on #15558
Reopening again.

[2017-10-26 15:31] jasnell commented on #16521
Ugh. That's right. I thought it looked familiar. I hadn't managed to get back around to reviewing that pr and totally forgot about it. Given that it's so new, then, perhaps we can refactor it a bit. As it stands it makes converting to internal/errors more difficult

[2017-10-26 15:31] mscdex commented on #16521
-1 to deprecating. The most recent OpenSSL error on the error stack is not always very helpful, so having the rest of the stack available can shed light on what the problem actually is.

BTW I was the one who initially requested this extra information be made available in one form or another.

[2017-10-26 15:32] jasnell commented on #16521
Reminder to self: git blame is your friend

[2017-10-26 15:33] conartist6 commented on #16469
No, though I verified that I can cause the problem on my mac. It's not platform-specific. I forgot I posted the script. The actual invokation inside the script is the one I posted: `node inspect --inspect-port 0 ./script.js

Bizarrely just twice, in circumstances I don't really understand `node inspect ./script` did exactly what I wanted, which is not die of port in use errors and give me a debugg

[2017-10-26 15:35] bag-man opened #16522 "Is vm.createScript() deprecated?"
Node >0.12, all platforms.

From node 0.12 `vm.createScript` has been removed from the docs, but its currently still supported  due to this wrapper: https://github.com/nodejs/node/blob/master/lib/vm.js#L79

Since it's missing from the docs, implementations are also missing them, for example TypeScript typings like `@types/node` are missing createScript. So is it deprecated or just missing from the

[2017-10-26 15:51] lacmuch commented on #10672
The proble still exists.... nodejs in windows use backslash az dirseg... and chrome can't map with local workspace. I override the path with //@ sourceURL=/path/to/file in every file now.

[2017-10-26 15:54] #16452 closed

[2017-10-26 16:12] jasnell commented on #16521
Changed the title of this to refactor rather than deprecate. I'd like to see if there's a better way for us to surface these details that would make the migration to internal/errors easier...

[2017-10-26 17:16] bnoordhuis commented on #16522
It was removed from the documentation in 02fde585b15f0dd117a297a6c4d35b181b530c63, motivation in the commit log.

I'd call it "deprecated-ish" - it's pointless because it just calls `new vm.Script()` but since it also doesn't cost anything to maintain, we won't remove it.

[2017-10-26 18:21] jasnell opened #16524 "Proposal: Splitting up node_crypto.cc"
The `src/node_crypto.cc` file is currently 6k+ lines of code that provides `process.binding('crypto')`. This one internal binding provides an array of crypto functions include Signing, Verification, Hash, limited key-generation, SecureContext for TLS connections, etc. As such, this one file has a LOT of code in it and it is quite difficult from a maintenance perspective.

Looking it over, I'd like

[2017-10-26 18:22] jasnell commented on #16524
Ping @nodejs/crypto

[2017-10-26 18:23] gibfahn commented on #16406
@MylesBorins probably best if you do it, as I'm not entirely sure what you did.

[2017-10-26 18:38] gibfahn commented on #16131
I'm afraid I'm not, people like @bnoordhuis @targos  @addaleax  @refack might know more.

Speaking of which, we should probably have an @nodejs/gyp team for that kind of question, people normally cc/ nodejs/build, but it's not really our area of expertise.

[2017-10-26 19:10] refack commented on #16131
There are a couple of detections possible:
* We inject `gas_version` and `llvm_version` in `config.gypi`
  We should inject `gcc_version` since we already detect it in https://github.com/nodejs/node/blob/75f1087f49698903a24cca55939e472ad34d2273/configure#L656-L657

* For platform you can use a condition similar to
  ` [ 'OS in "linux freebsd openbsd solaris android aix"', {}]`

<br />
<br />

Also

[2017-10-26 19:12] refack commented on #16131
P.S. `./configure` could also do feature detection, and inject that into `config.gypi`

[2017-10-26 19:20] nicain commented on #16149
For posterities sake, My color meter tells me that the default color for "good first issue" is approximately (89,55,249), or #5937f9.  Feel free to correct me if it is listed somewhere else, but I couldn't find it.

[2017-10-26 19:49] corvello commented on #15780
I found this same situation today. Its really a DNS issue. I workaround setting up the github.com ip address temporary on the hosts file .

[2017-10-26 19:55] guybedford commented on #16476
@targos I do think the patch above will be the best way forward here. Personally I think the most elegant solution would be supporting extension checking for full URLs, but I think that's a discussion for another time. Created https://github.com/nodejs/node/pull/16526.

[2017-10-26 20:16] anandsuresh opened #16528 "npm issue with node v4.8.5"
* v4.8.5
* SunOS hostname 5.11 joyent_20141030T081701Z i86pc i386 i86pc Solaris
* npm:

Attempting to upgrade `npm` after installing v4.8.5 (with npm v2.15.11) always fails with the following error:

[code]

Attempting the same with node v4.8.4 produces expected results.

[2017-10-26 21:31] bcoe opened #16531 "Proposal: provide a straight-forward approach for collecting coverage via Chrome's Profiler"
## The Problem

I've been having an ongoing discussion with @bmeck and a few folks working on the V8 project (@schuay, @fhinkel) about how to move [istanbul](https://github.com/istanbuljs) towards using v8's built-in coverage.

The biggest blocker, [tracked in the v8 issue tracker here](https://bugs.chromium.org/p/v8/issues/detail?id=7003), is that we need a way to start Node with detailed coverag

[2017-10-26 21:54] davidlivingrooms commented on #8369
Platform: win10
Tested browsers:

Chrome Canary Version 64.0.3250.0 (Official Build) canary (64-bit)
Chrome Version Version 62.0.3202.75 (Official Build) (64-bit)
Node version: v8.8.1 and 8.4.1

Sourcemaps don't work for me either for a simple typescript project. I had a coworker install the same project on his mac and the source maps work just fine...

[2017-10-26 22:48] refack commented on #16278
A portable option exists:
1. With VS2017's new layout, the C++ build tools could be xcopy installed.
2. The trick is installing Windows SDK, but that could be scripted.
3. Python and GfW can be xcopy installed.

A second alternative is just to run the 3 installers. In any case I believe checking the requirements are set up and respond with an informative message will cover 90% of cases.

[2017-10-27 02:56] Fishrock123 commented on #16514
I had a start at https://github.com/nodejs/node/pull/6885 but never got very far with it. Maybe it is of some use but quite probably outdated in some ways.

[2017-10-27 04:23] fcicq opened #16543 "http2: exception on stream destroy"
Version: 8.8.1
Platform: 64bit linux
Subsystem: http2

I'm trying to write a simple nghttpx clone, so you see stream.respond & pipe there.
I was finding the right way to destroy the httpres and the stream.
I'm sorry that I don't know how to reliable reproduce this.

exceptions found:
[code]

and this
(maybe caused by stream.rstStream(http2.constants.NGHTTP2_CONNECT_ERROR);)

[code]

snippet:
[code

[2017-10-27 05:03] IonicaBizau opened #16545 "`throw null` and `throw undefined` crash in repl"
* **Version**: 8.6.0
* **Platform**: macOS
* **Subsystem**: High Sierra

While `setTimeout(function(){throw null},0)` doesn't crash anymore (as reported in #12373 and fixed in #14306), `throw null` (also `throw undefined`) seem to crash the toplevel.

I'd be happy to contribute if you give me a bit of guidance. 😄

[code]

[2017-10-27 05:06] jasnell commented on #16543
Will investigate! Thank you! :-)

ping @mcollina @apapirovski @sebdeckers

[2017-10-27 05:29] PieterGit opened #16547 "CVE-2017-14919 page is still empty/reserved."
I noticed https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-14919 is still empty/reserved.
I would expect that page to have details on the security bug as listed on
https://nodejs.org/en/blog/vulnerability/oct-2017-dos/
and advice users to upgrade to node 8.8.1 (for node 8).

[2017-10-27 05:30] PieterGit commented on #16547
The page now says:
** RESERVED ** This candidate has been reserved by an organization or individual that will use it when announcing a new security problem. When the candidate has been publicized, the details for this candidate will be provided.

[2017-10-27 05:41] bnoordhuis commented on #10672
I'll close this out as a duplicate of #10838.  It's newer than this issue but has more info and discussion.

[2017-10-27 05:41] #10672 closed

[2017-10-27 06:04] bnoordhuis commented on #16528
@nodejs/platform-smartos Seems to be a solaris/smartos issue.  The diff between v4.8.4 and v4.8.5 is just one commit (f5defa2a7cc20993d2d4206e8b74930e87e8f18d).

[2017-10-27 06:42] bnoordhuis commented on #16524
I'm not bothered by the file size, that doesn't really impact maintainability and I don't really see how breaking it into smaller files would help.

That said, I'm not opposed unless it means I need to review big, boring pull requests.

[2017-10-27 08:21] #12300 closed

[2017-10-27 08:34] targos commented on #9707
`v7.x` is not supported anymore and if I'm reading this correctly, the issue does not affect other supported releases. Closing.

[2017-10-27 08:34] #9707 closed

[2017-10-27 08:40] targos commented on #16407
I closed the one issue that affected only v7.x (https://github.com/nodejs/node/issues/9707). Both other issues also affect at least v6.x.

[2017-10-27 08:57] bnoordhuis commented on #16469
Couple of things:

1. It's `--inspect-port=0`, note the `=` sign.  `--inspect-port 0` are two arguments and probably prints a warning or error.

2. Write `node --inspect-port=0 inspect ./script.js` - the argument should go before `inspect`.  Maybe you were thinking of `node inspect --port=<port> ./script.js`.

I opened https://github.com/nodejs/node-inspect/pull/51 to make binding to port zero wor

[2017-10-27 09:24] kevinsimper commented on #8369
The issue on chromium has been closed with the following comment:

https://bugs.chromium.org/p/chromium/issues/detail?id=664801&q=component%3APlatform%3EDevTools%20node&colspec=ID%20Owner%20Summary%20Modified%20Stars

[2017-10-27 09:30] Ulrikop commented on #15763
I like the `.bind` way but In my opinion, the `.bind` has a drawback: You can't remove the listener without saving the binded function. `eventEmitter.on('myEvent', callback.bind(this))` can't be removed from `eventEmitter.removeListener('myEvent', callback.bind(this))`.

Do you have a nice solution for removing an binded callback without saving it?

[2017-10-27 09:34] joyeecheung commented on #16504
@kevinburkeotto Sounds like a good idea, do you want to open a PR? Our [contributing guide](https://github.com/nodejs/node/blob/master/CONTRIBUTING.md) should help you get started :)

[2017-10-27 09:48] bnoordhuis commented on #8369
How though?  I remember when I last looked at this passing a source map URL with `v8::ScriptOptions` did absolutely nothing and I didn't (and don't) see a way to specify one through the inspector protocol.  Only `//# sourceMappingURL` comments in the source worked.

cc @eugeneo

[2017-10-27 10:04] bnoordhuis commented on #15763
@Ulrikop No, that's just something you have to learn to live with.

You'd have the same issue with a context object.  You should be able to add the same function with different contexts but then you need the context object again for disambiguation when you remove one.

[2017-10-27 10:25] schuay commented on #16531
Just so we're on the same page: these would be flags added in V8, and AFAIK no action is necessary by Node itself.

cc @hashseed

[2017-10-27 11:59] shravan2x opened #16549 "fs.unlink does not delete file, fails silently while indicating success"
* **Version**: 8.8.1
* **Platform**: Windows 10 x64 Fall Creators Update
* **Subsystem**:

I use the following code to delete files in a directory

[code]

I use this with Webpack's hot module reloading to move compiled outputs to a different directory for serving. The issue here is that this code only works the first time it is run. On subsequent runs, it prints the success message but the files

[2017-10-27 12:08] shravan2x commented on #16549
Restarting my PC seems to have resolved the problem for now, so I'll close the issue and reopen if it happens again.

[2017-10-27 12:08] #16549 closed

[2017-10-27 12:24] tniessen commented on #16524
I am okay with such a change as long as there are not too many (small) submodules, but I would generally prefer to break it down.

[2017-10-27 13:10] apapirovski commented on #16543
Hmm, is this happening when you `stream.destroy` from the `error` handler? You mention `stream.rstStream(http2.constants.NGHTTP2_CONNECT_ERROR);` but I don't see it anywhere in the snippet above.

Based on the stack trace, it seems like you might be ending it while the pipe is still ongoing but I can't quite tell since I can't run this code as is.

[2017-10-27 13:31] maxnordlund opened #16552 "HTTPParser crashes the node process when given bad input"
* **Version**:
v8.7.0
* **Platform**:
Darwin Maxs-MacBook-Pro.local 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64
* **Subsystem**:
HTTPParser

I noticed that the HTTPParser is very sensitive, which is fine, but crashing the entire process is not. I would expect a normal exception to be thrown instead.

I'm sure there's a way to explo

[2017-10-27 13:34] maclover7 commented on #16547
Should this move to an issue at https://github.com/nodejs/security-wg?

[2017-10-27 13:36] #16449 closed

[2017-10-27 13:37] tniessen commented on #16547
cc @nodejs/security @nodejs/security-wg

[2017-10-27 13:38] seishun opened #16553 "IPC with fd>2 doesn't work"
* **Version**: master
* **Platform**: Windows 10 64-bit
* **Subsystem**: child_process

index.js
[code]

child.js
[code]

Output:

[code]

Before I start digging further into this, I'd like someone to confirm that this code is valid and should work.

[2017-10-27 14:07] maclover7 commented on #16552
@maxnordlund I believe that everything under `process.binding` (including http_parser) is internal Node API, and is not meant to be called by userland modules

[2017-10-27 14:25] bzoz commented on #16553
Does it also fail with `shell: false`?

[2017-10-27 14:30] cjihrig commented on #16528
I can't reproduce, at least using nvm:

[code]

[2017-10-27 14:59] seishun commented on #16553
This doesn't fail:

[code]

[2017-10-27 15:03] anandsuresh commented on #16528
Will try reaching out to joyent and see if they have noticed this.

Thanks

On Oct 27, 2017 7:31 AM, "Colin Ihrig" <notifications@github.com> wrote:

[2017-10-27 15:19] cPhost commented on #16545
I think it must be handled using `try/catch` or it will exit the Node.js process immediately

Below is what Node.js documentation states

Link: https://nodejs.org/docs/v8.6.0/api/errors.html#errors_error_propagation_and_interception
After the code block

[2017-10-27 15:23] joyeecheung opened #16557 "Benchmark CI is using the test-double benchmarker for some HTTP benchmarks"
* **Version**: master

See https://ci.nodejs.org/job/benchmark-node-micro-benchmarks/22/console
Refs: https://github.com/nodejs/node/pull/15752

[2017-10-27 15:24] fcicq commented on #16543
@apapirovski thanks for the comment. previously I use stream.rstStream() directly, without stream.destory().

actually I find the pipe() is quite hard to get correct, but it is nearly the only way to handle back-pressure, so I cant use on('data', (d) => {stream.write(d)}).
I don't know the correct way to notify the other side about the event (unpipe, finish, close, which one? what to do? end or un

[2017-10-27 15:24] cjihrig commented on #16528
@anandsuresh a couple questions:
1. Can you try on a more recent version than 20141030T081701Z?
2. Where are you getting the Node binaries from? Are they the official ones?

[2017-10-27 15:28] joyeecheung commented on #16557
I am not sure why but the CI is using the test-double benchmarker to run some HTTP benchmarks...does the CI machine have `wrk` or `autocannon` setup? @nodejs/build

[code]

[2017-10-27 15:40] nnwy opened #16558 "Node/help repository doesn't work"
Not sure where to post this issue. Anyway, I think this repo is maybe the most appropriate for it.
The porblem is: Node's help repository doesn't work, I tried to access it both using Chrome and Firefox and I got same error, it says 404 not found. Here is the screenshot:

![1](https://user-images.githubusercontent.com/33158743/32112449-9ba93896-bb3d-11e7-95d3-d3c15d481b37.png)

[2017-10-27 15:49] fcicq commented on #16543
new code under testing.
[code]

[2017-10-27 15:53] bnoordhuis commented on #16545
@IonicaBizau Look for a try/catch block around that line in lib/repl.js (I mean the first line of the stack trace) and please add one or two regression tests in test/parallel/test-repl.js.  Don't hesitate to ask if you have questions.

[2017-10-27 15:55] bnoordhuis commented on #16558
Works for me.  Maybe a temporary outage?  https://status.github.com/messages shows everything green.

[2017-10-27 16:29] bnoordhuis commented on #16552
@maclover7 is right.  `process.binding()` is in the category of "if it breaks, you get to keep both pieces."

[2017-10-27 16:29] #16552 closed

[2017-10-27 16:37] Dacesilian commented on #947
This error happens to me when streaming video with https://github.com/phoboslab/jsmpeg .

[code]

[2017-10-27 16:57] seishun commented on #16491
Assertion errors are acceptable when you violate an API contract in C, but not in Node.js. So Node.js should prevent this from happening.

The following also reproduces the issue, so it's not limited to `stdout`.

index.js

[code]

child.js

[code]

Output:
[code]

My proposal:

* On the child side, somehow disallow directly writing to an `fd` that is being used for IPC.
* On the parent side, disa

[2017-10-27 17:03] gibfahn commented on #16547
I think @mhdawson did this one, so probably a question for him.

[2017-10-27 17:06] ofrobots commented on #15558
Based on the stress test [here](https://github.com/nodejs/node/pull/16308#issuecomment-339711702), there is still flakiness despite #16472.

[2017-10-27 17:10] ofrobots commented on #6283
Agree. Closing.

[2017-10-27 17:10] #6283 closed

[2017-10-27 17:38] conartist6 commented on #16469
You're right of course about =, that was a typo here.

I just tried putting the argument before inspect. You're quite correct that it does do something different than putting the argument after:

[code]
vs
[code]

[2017-10-27 17:39] conartist6 commented on #16469
Ah, but I see your diff fixes that, awesome!

[2017-10-27 18:03] VinozzZ opened #16559 "Path.relative returns wrong path if passing in a file path to the from argument"
Version: `node -v8.4.0`
Platform: 64-bit (Windows)

[code]

my file structure is :
[code]

[2017-10-27 18:04] jasnell commented on #16131
fwiw, I'm +1 on moving forward with this. Obviously I'd prefer to have something that could work across all of the platforms we support but if it's limited to linux then that's ok. I am also *slightly* concerned about making sure the training benchmark doesn't end up optimizing for a specific type of workload at the cost of regressing on others. I highly doubt that will be a problem but it would b

[2017-10-27 18:08] jasnell commented on #16198
I'm +1 on at least having a PR we can use to experiment with the impact of this. It certainly does make sense, we would just need some solid benchmark results to show it is worth the effort.

[2017-10-27 19:17] apapirovski commented on #16558
Seems to be working and even if it isn't, this seems more appropriately directed at https://github.com/contact

[2017-10-27 19:17] #16558 closed

[2017-10-27 19:32] maxnordlund commented on #16552
I do know that, I was more concerned about the possibility of an security exploit here. Hopefully that internal code doesn't trigger this, but I prefer to be sure rather then hopeful.

[2017-10-27 20:29] jridgewell opened #16564 "StringDecoder#end doesn't flush state"
* v8.6.0
* Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64
* `StringDecoder`

`StringDecoder#end` doesn't flush the state, allowing it to accept the completing byte afterwards:

[code]

Now, there's our setup. If we've ended the buffer and it has outputted a replacement character, it kind of implies it's back at its initial state. But:

[code

[2017-10-27 21:28] addaleax commented on #16564
@jridgewell Do you have any suggestions on what to do here? Should `.write()` after `.end()` throw, like it does for streams?

[2017-10-27 21:33] TimothyGu commented on #16564
`TextDecoder` resets its state after the equivalent of an end call, and functions as a new `TextDecoder` instance basically. That sounds fair to me.

[2017-10-27 21:39] Fishrock123 commented on #16547
There is a bit of a dance between mitre with the whole CVEs thing so probably never expect it _too_ fast. A reminder is certainly useful though. :)

[2017-10-27 22:25] mscdex commented on #16564
Make sure to check benchmarks on this one because of how widely `string_decoder` is used.

[2017-10-27 22:38] refack commented on #16557
So the machine does not have `node` nor `npm` installed...
There are a few options:
1) Install (but who updates?)
2) Add to https://github.com/nodejs/benchmarking/blob/master/experimental/benchmarks/community-benchmark/run.sh (and refresh on server)
3) Add to Jenkins job

[2017-10-27 23:39] gibfahn commented on #16131
Adding support for it in `./configure` for xLinux seems like a good first step. We can do some trial builds and see how it goes. Sounds like it might be useful to have as a build option even if we don't do it by default.

So people would have to build their own versions of Node to fix performance regressions? If it actually does regress certain use cases I'm not sure "build it yourself" is a reaso

[2017-10-27 23:46] jasnell commented on #16131
Certainly. We should make sure this doesn't add regressions but we can only do so with use cases we can anticipate.

[2017-10-28 03:27] jridgewell commented on #16564
I think throwing is better than the current behavior, but I’d prefer it just reset and behave like a brand new instance.

[2017-10-28 04:50] fcicq commented on #16543
looks resolved, needs a little more time to confirm and close.

so the problem may be one cant use stream.destroy() on "aborted" stream, double destroy problem?

[2017-10-28 05:51] giltayar commented on #16476
There's another nuance to this bug. It concerns files with no extensions. This will work:

[code]

But this won't:
[code]

It fails with `ERR_UNKNOWN_FILE_EXTENSION`. Which makes sense, given that it doesn't know whether it's a cjs or esm file.

Not sure how to resolve this, but I'm assuming that for reasons of backward compatibility, this MUST work and resolve to CJS. This is unfortunate, because

[2017-10-28 10:46] guybedford commented on #16476
@giltayar that pattern of `node ./node_modules/.bin/mocha` doesn't work on Windows due to the use of npm batch files to handle the indirection.

Rather just use `./node_modules/.bin/mocha` here as recommended I think.

[2017-10-28 11:28] #16476 closed

[2017-10-28 12:10] joyeecheung opened #16570 "meta: label for pre-backport request"
Spun off from https://github.com/nodejs/node/issues/16249 , I think we can add a label and use it first to see how it goes. I am not really a master at naming things, maybe `should-prebackport`?

[2017-10-28 12:43] joyeecheung commented on #16557
I think the easiest & quickest way is to go ahead an install wrk there. I can update it from time to time if I just need to ssh there and do this (IIUC?), although I don't expect a lot of important updates of wrk.

Safest solution would probably be using `autocannon` installed with the Node.js binary/npm that it has built/pulled, if the network config allows that.

[2017-10-28 13:17] bloodcarter opened #16572 "EMFILE error"
* **Version**: v7.2.1
* **Platform**: Linux ip-172-31-16-252 4.9.43-17.39.amzn1.x86_64 #1 SMP Fri Sep 15 23:39:41 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

I have a nodejs app constantly spawning and stopping child processes and doing fetch requests. After running for some time I am starting getting EMFILE errors:

[code]

After that error immediatedly goes this one:

[code]

Comma

[2017-10-28 14:38] LeSiDev opened #16573 "RangeError: Maximum call stack size exceeded"
* **Version**: v8.4.0
* **Platform**: Darwin MacBookAir.local 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64
* **Subsystem**: none

I get a "RangeError:Maximum call stack size exceeded" when I run the code below. I tried increasing the stack size and that gave me a "Segmentation fault: 11"

class MyClass {

    constructor(uid){

[2017-10-28 14:42] apapirovski commented on #16573
Hi @LeSiDev — I think you misunderstand how setters work. When you write `this.id = something` then your setter gets called. So the code above has just created an infinite loop. You would need to store the property on something like `_id` or if you want it to be private then you could use a symbol, something like:

[code]

In general, you're more likely to get help with questions like this in http

[2017-10-28 14:42] #16573 closed

[2017-10-28 14:53] mscdex commented on #16572
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead. This issue tracker is for reporting bugs and submitting feature requests for node core. Issues with npm or other tools that *use* node should be posted to the appropriate issue tracker for those tools, unless it can be proven that the issue is in fact with node core and not th

[2017-10-28 14:53] #16572 closed

[2017-10-28 14:56] apapirovski commented on #16570
Could be something like `prebackport-requested-vXYZ`... I'm guessing there'll be some that need multiple prebackports and others that don't.

[2017-10-28 15:57] IonicaBizau commented on #16545
@bnoordhuis Thank you very much! Will work on it these days.

[2017-10-28 16:00] cPhost commented on #16545
@IonicaBizau i already got it fixed. Need to make a pull request after making test and linting

[2017-10-28 16:02] IonicaBizau commented on #16545
@cPhost Ah, cool! :+1: Thanks!

[2017-10-28 16:03] cPhost commented on #16545
But i need to write tests for it!!
And I dont know how to!!!

[2017-10-28 16:34] jdalton commented on #16476
@giltayar Could you open [this](https://github.com/nodejs/node/issues/16476#issuecomment-340141537) as a new issue. While it's platform specific I've seen it in the wild and having it error would be something that catches folks off guard. I think it deserves it's own discussion in a new issue.

[2017-10-28 17:47] bnoordhuis commented on #16559
Why would you expect that?  Did you assume that `path.relative()` looks at the on-disk entity to see if it's a file or a directory?  It doesn't, that would preclude paths that don't exist yet.

In your example, `../monkey-patching/monkey-patching.js` is interpreted as the subdirectory `monkey-patching.js` in sibling directory `monkey-patching`.  Does that clear up why the example prints what it pr

[2017-10-28 17:47] lance commented on #16570
On a related note (and maybe I should just create an issue for this), I have been doing a few backports in the past week, and I'm not 100% clear on how issues should be labeled when submitting a backport PR. The docs say ["After the PR lands replace the `backport-requested-v6.x` label on the original PR with `backported-to-v6.x`."](https://github.com/nodejs/node/blame/master/doc/guides/backporting

[2017-10-28 18:14] joyeecheung commented on #16570
cc @nodejs/lts

[2017-10-28 18:19] apapirovski commented on #14671
As there hasn't been much activity on this, everyone else seems to be able to `connect` and none of our internal tests have been failing, I'm going to go ahead and close this. That said, feel free to re-open if you believe that this issue still exists and is a bug in the http2 implementation.

[2017-10-28 18:19] #14671 closed

[2017-10-28 18:20] bcoe commented on #16531
@schuay gotcha, we could just configure them using `--v8-options` it would look like.

I might keep this ticket open for a bit, and rework it a bit today, so that it instead better tracks some of the other challenges making it difficult to use v8's coverage instrumenter for an arbitrary Node.js process.

[2017-10-28 18:21] apapirovski commented on #15252
There hasn't been much movement on this and realistically it's very unlikely this does happen given the performance implications, as such I'm going to close this.

[2017-10-28 18:21] #15252 closed

[2017-10-28 18:26] apapirovski commented on #15267
I feel like the docs are reasonably clear on this aspect of the functionality. The rest is available within the http2 spec and seems out of scope for our documentation.

https://nodejs.org/dist/latest-v8.x/docs/api/http2.html#http2_http2session_rststream_stream_code
https://nodejs.org/dist/latest-v8.x/docs/api/http2.html#http2_error_codes_for_rst_stream_and_goaway

That said, if anyone believes th

[2017-10-28 18:26] #15267 closed

[2017-10-28 18:38] simlu commented on #5016
+1

[2017-10-28 19:07] apapirovski commented on #16256
This can now be accomplished like so:

[code]

That said, http2 still ideally needs an Agent implementation.

[2017-10-28 19:30] knoxcard opened #16577 "node 8.8.0 - NodeJS + HTTP2 + NGINX = Disaster"
NodeJS + HTTP2 + NGINX  = Disaster

http2 is experimental?  And produces an Internal Server Error.

[2017-10-28 19:32] addaleax commented on #16577
@knoxcard Can you give more information on what the “disaster” here is, or how you made it occur? Otherwise it’s hard for us to do something about it.

[2017-10-28 19:56] knoxcard commented on #16577
My sincere apologies, the problem was another package PM2 in conjunction with node 8.8.1.  Had to run:

npm install pm2 -g
pm2 update

Case Closed

[2017-10-28 19:56] #16577 closed

[2017-10-28 20:03] #15864 closed

[2017-10-28 21:20] grantila opened #16578 "http2 client stops sending after stream has reached 16KiB"
* **Version**: 8.8.0
* **Platform**: macOS High Sierra
* **Subsystem**: http2

When piping a readable stream to an http2 request, it sends up to 16KiB of data, then sends no more. This can be reproduced by:

The following test server will write a file when anyone connects and sends data, using `readable.pipe(writable)`. **Usage:** `node server.js /tmp/foo` to write `/tmp/foo`

[code]

The followin

[2017-10-28 21:22] addaleax commented on #16578
@nodejs/http2

[2017-10-28 21:27] apapirovski commented on #16578
Looking into it, I was pretty sure we had a test for this (since I wrote it) but will check.

[2017-10-28 21:29] jasnell commented on #16578
This likely has to do with the flow control mechanism. The client will pause sending if a window update is not received. I will investigate further, but it would be good to know if this works on 8.7, 8.6 and 8.5. there have been some changes in the flow control recently

[2017-10-28 21:30] jasnell commented on #16578
Specifically, I'm wondering if there's a race condition that's causing a window update to not be sent...

[2017-10-28 21:31] apapirovski commented on #16578
The window should be 64kb though, this seems like it sends one frame... not even the full window.

[2017-10-28 21:35] grantila commented on #16578
@jasnell I'll test these versions right now
@apapirovski  Stream default highWaterMark is 16KiB, isn't it?

[2017-10-28 21:36] apapirovski commented on #16578
@grantila I think @jasnell is talking specifically about http2 flow control. We do have a test for something similar to this. I'll dig into what exactly is going on.

[2017-10-28 21:44] grantila commented on #16578
@jasnell When the server runs 8.5.0, 8.6.0 and 8.7.0, the result file ends up at 64KiB. In 8.8.0 it becomes 16KiB. The client version *seems* irrelevant, I might be wrong.

[2017-10-28 21:50] apapirovski commented on #16578
This isn't flow control, it's something about the core api and it works fine with the compatibility API. Looking into it.

[2017-10-28 22:01] grantila commented on #16578
@apapirovski right, tests for the core API would indeed be sweet. But don't misunderstand my findings, it's not necessarily a *regression*. The file I tried to send was +2mb, so it failed in **all** versions, just with different limits (64 vs 16 k)

[2017-10-28 22:02] apapirovski commented on #16578
@grantila yep, it's not a regression. I've got the cause. Should have a PR shortly.

[2017-10-28 22:05] jasnell commented on #16578
Where's the issue?

[2017-10-29 00:05] snggeng commented on #12516
Hi I'd like to work on this. This is my first time working on open source and I was wondering which part of the documentation this should go into, and generally the relevant parts of the source I should be looking at.

[2017-10-29 00:28] apapirovski commented on #16578
@jasnell Sorry, took off to get dinner but here's the PR: https://github.com/nodejs/node/pull/16580

[2017-10-29 09:58] gibfahn commented on #12516
I guess it should go somewhere in https://nodejs.org/api/modules.html (source [here](https://github.com/nodejs/node/blob/master/doc/api/modules.md))?

As mentioned above, for the Native module you probably want to start here:

https://github.com/nodejs/node/blob/4359a93cc9462362ec2ae73189c92521fa386906/src/node.cc#L2595-L2599

For the js module you probably want to start here:

https://github.com/

[2017-10-29 13:23] targos commented on #12646
I would like to nominate @guybedford. He has been extremely helpful with the implementation and maintenance of ESM.

Comments: https://github.com/nodejs/node/search?q=commenter%3Aguybedford&type=Issues&utf8=%E2%9C%93
Commits: https://github.com/nodejs/node/commits/master?author=guybedford
PRs: https://github.com/nodejs/node/pulls?utf8=%E2%9C%93&q=is%3Apr%20author%3Aguybedford

[2017-10-29 13:30] evanlucas commented on #12646
+1 to @hashseed and @guybedford

[2017-10-29 14:38] IwHy4XnXCM opened #16588 "HTTP2: Connection reset"
Version: v8.8.1
Platform: 64-bit Windows 10
Subsystem: HTTP2

[code]

Using the code above, when I visit localhost:443, I receive a 'connection reset' error page provided by Firefox. On Chrome, it's reporting that no data was sent.

[2017-10-29 14:46] apapirovski commented on #16588
If you're going to `localhost:443` then that would by default try to connect via `http` as opposed to `https`. At least that's what the 'no data was sent' is pointing me towards.

[2017-10-29 14:52] IwHy4XnXCM commented on #16588
@apapirovski Damn yeah, I didn't think of that. Thanks a lot.

[2017-10-29 14:52] #16588 closed

[2017-10-29 14:55] refack commented on #16210
Just now: https://ci.nodejs.org/job/node-test-binary-windows/COMPILED_BY=vcbt2015,RUNNER=win10,RUN_SUBSET=3/12350/console

[2017-10-29 15:32] mcollina commented on #12646
👍  for both @hashseed and @guybedford.

[2017-10-29 16:41] #16180 closed

[2017-10-29 16:47] #16310 closed

[2017-10-29 16:48] refack commented on #10742
Flake is back (even in `sequential`) - https://ci.nodejs.org/job/node-test-commit-osx/13607/nodes=osx1010/console

[2017-10-29 16:56] #15405 closed

[2017-10-29 17:11] SimenB commented on #16322
@bnoordhuis anything we can do as consumers of worker-farm to work around this other than forking and publishing a version with your fix?

[2017-10-29 17:56] gibfahn commented on #16322
I think it's just a case of getting Rod's attention, I know he's been pretty busy lately.

cc/ @rvagg

[2017-10-29 18:18] thefourtheye commented on #16564
Proposed a fix in #16594. I chose to `reset` silently instead of throwing.

[2017-10-29 18:51] natewatson999 opened #16595 "require("v8").setFlagsFromString('--expose_gc'); not setting --expose_gc flag"
* **Version**: 8.8.1
* **Platform**: Win64
* **Subsystem**: v8 module

There is an issue in this version of Node, where --expose_gc works as a command line option, but not when used by v8.setFlagsFromString:

When one uses this input:
[code]

The output is:
[code]

In contrast, when one uses this:
[code]

The output is:
[code]

The output should be 'function', since this should enable the global.g

[2017-10-29 19:00] #16141 closed

[2017-10-29 19:24] #14847 closed

[2017-10-29 19:45] addaleax commented on #16595
This would require `setFlagsFromString` to modify the existing global object, which I assume V8 would not really be willing to do.

But, I think this should be a pretty good workaround: You can create new global objects using the `vm` module, so

[code]

might do what you want?

[2017-10-29 21:03] pitaj opened #16596 "Inconsistent error codes across platforms when writing to read-only (444) files"
* **Version**: 8.8.1
* **Platform**: tested on these systems
  - `Linux peter-XPS-15 4.13.0-16-generic #19-Ubuntu SMP Wed Oct 11 18:35:14 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
  - Windows 10 64bit (version 1709)
* **Subsystem**: fs

Attempting to write to a read-only file will result in:
- an `EACCES` error on Linux systems
- an `EPERM` error on Windows systems

Is this expected behavior? If so

[2017-10-29 22:07] #13521 closed

[2017-10-29 23:06] c0b opened #16597 "http2 client: fallback to HTTP/1.1 ? or how can a http client library gracefully support both http2 and http1 servers?"
I filed nodejs/http2#189 but seems no discussions at all, wonder is it possible for a http client library gracefully support both http2 and http1 servers? I want the client library to prefer connect by http2, then fallback to http1; I've tried current [`http2.connect`](https://nodejs.org/api/http2.html#http2_http2_connect_authority_options_listener) but seems unable to connect if a server does not

[2017-10-29 23:07] c0b commented on #16597
since server side has nodejs/http2#125 http2: ALPN fallback to HTTP/1.1 can we have similar API for the http2 client session?

[2017-10-29 23:08] addaleax commented on #16597
I *think* this is essentially the same issue as https://github.com/nodejs/node/issues/16256, right?

[2017-10-29 23:37] #16597 closed

[2017-10-29 23:41] anko commented on #947
@Dacesilian Could you post some code to reproduce that, ideally a [minimal example](https://stackoverflow.com/help/mcve)?

[2017-10-30 00:09] paulmelnikow commented on #12682
This issue also applies to absolute URLs without a hostname. For example, `url.parse('/foo')` works, but `new URL('/foo')` throws a TypeError.

[2017-10-30 00:45] joyeecheung commented on #16210
I think this is not specific to Windows:

https://ci.nodejs.org/job/node-test-commit-linux/13653/nodes=centos7-64/console
https://ci.nodejs.org/job/node-test-commit-linux/13653/nodes=ubuntu1604-64/console

[2017-10-30 00:47] joyeecheung commented on #16210
Also I vaguely remember that I have seen this on my macbook, but it does not reproduce much.

[2017-10-30 01:33] #14161 closed

[2017-10-30 02:13] Trott commented on #16210
Happened twice in a row on Windows 10 in CI:

https://ci.nodejs.org/job/node-test-binary-windows/12364/COMPILED_BY=vcbt2015,RUNNER=win10,RUN_SUBSET=3/console
https://ci.nodejs.org/job/node-test-binary-windows/12365/COMPILED_BY=vcbt2015,RUNNER=win10,RUN_SUBSET=3/console:

[code]

[2017-10-30 02:43] Trott commented on #16210
`process.removeAllListeners()` emits `removeListener` events, so that may be scheduling more work, maybe?

If we're pretty sure the being-emitted-twice thing is not actually a bug but dependent on the state of the machine, easiest fix might be to use `process.once()` instead. I'll submit a PR now-ish...

[2017-10-30 02:51] Trott commented on #16210
Fix (maybe?) in https://github.com/nodejs/node/pull/16598

[2017-10-30 02:56] #16578 closed

[2017-10-30 04:01] BrighTide opened #16600 "Meaningful node inspect context titles"
Problem: When inspecting multiple node contexts using the new --inspect flag paired with the dedicated node inspect in chrome dev tools, knowing which process you're currently inspecting can be confusing as they're all called "Nodejs Main Context" as per (I think):

https://github.com/nodejs/node/blob/5886e204f04013879c00aca5ab653c16bef5befc/src/inspector_agent.cc#L302

Potential solutions:
- Taki

[2017-10-30 05:28] Trott commented on #10742
@refack Can you open a separate issue for things like this where the new failure is different (and likely unrelated) to the issue reported previously? The issue reported here is a timeout. The test was taking more than 60 seconds to run. The one you link to ls a different kind of failure and is very unlikely to be related.

[2017-10-30 05:28] #10742 closed

[2017-10-30 05:29] Trott opened #16601 "Investigate flaky test-fs-readfile-tostring-fail"
* **Version**: v9.0.0-pre on CI
* **Platform**: osx 1010
* **Subsystem**: test

https://ci.nodejs.org/job/node-test-commit-osx/13607/nodes=osx1010/console

[code]

[2017-10-30 05:30] Trott commented on #10742
(I opened it as https://github.com/nodejs/node/issues/16601.)

[2017-10-30 05:31] Dacesilian commented on #947
Sorry, I can't, because it's not my application and I don't understand it :(

[2017-10-30 07:00] StefanScherer opened #16603 "node.exe 8.7.0 and above does not work in Windows NanoServer container"
I have problems running the newer versions of Node 8 in a Windows Nanoserver Container:

* **Version**:
8.7.0, 8.8.0, 8.8.1

* **Platform**:
Windows

* **Subsystem**:
Windows Nanoserver Container running in Windows 10 / Windows Server 2016

To reproduce the problem, just download the node.exe of specific versions in a Windows NanoServer container:

[code]

Then inside the container:

[code]

Begin

[2017-10-30 07:05] mithunsasidharan commented on #16504
@joyeecheung : I've raised a PR for this.. can you kindly review. Thanks !

[2017-10-30 07:15] giltayar opened #16605 "node --experimental-modules does not allow running files without an extension"
* **Version**: v8.8.0
* **Platform**: macOS
* **Subsystem**: ES Modules

Assuming the file `./node_modules/.bin/mocha` exists (without a file extension!), this will work:

[code]

But this won't:
[code]

It fails with `ERR_UNKNOWN_FILE_EXTENSION`. Which makes sense, given that it doesn't know whether it's a cjs or esm file.

But unfortunately, once `--experimental-modules` is not an experiment any

[2017-10-30 07:22] targos commented on #16605
Related: https://github.com/nodejs/node-eps/pull/62

[2017-10-30 07:23] bnoordhuis commented on #16595
I'll close this out.  @addaleax's workaround should do the trick and if not, this sentence from the documentation applies: "_it may simply do nothing_."

[2017-10-30 07:23] #16595 closed

[2017-10-30 07:24] gireeshpunathil commented on #16596
In Linux and MAC where I tested, I see no issues with the error - it is just a reflection of the low level error came from the system, and it is prudent to keep them as such for clarity and ease on diagnosis.

[code]

[code]

[code]
And this perfectly makes sense:
`#define EACCES      13  /* Permission denied */`

In windows also I see [EACCES](https://msdn.microsoft.com/en-us/library/5814770t.asp

[2017-10-30 07:28] pitaj commented on #16596
Just to clarify, I don't see any issues with the error codes currently used, the only problem I have is that they are inconsistent between Linux and Windows.

[2017-10-30 07:31] bozzmob commented on #947
@addaleax @anko I actually changed to code to work Synchronously, so it worked then. I might have lost the exact code which was throwing this error.
But, I can confirm my environment was v8.1.0 and it still happened.
I can check and get back with the code.

[2017-10-30 07:33] gireeshpunathil commented on #16596
sure, but I see an issue with `EPERM` . Excerpts from Windows manual:

[code]

So for the current context, EACCES is the most apt one. So it is worth looking into it to see whether EPERM is coming from Win32 system itself, or from some wrappers, and in either case, the rational of doing so.

[2017-10-30 07:55] gireeshpunathil commented on #16596
and, that may probably also lead to an answer why this disparity

[2017-10-30 08:17] gireeshpunathil commented on #16283
I guess its purpose is met, so closing.

[2017-10-30 08:17] #16283 closed

[2017-10-30 08:27] gireeshpunathil commented on #15442
associated PR is complete. Close?

[2017-10-30 08:51] gibfahn commented on #16570
Couldn't we just use the existing `backport-requested` labels? I don't think there's any difference between a pre-backport and a backport other than the fact that it's requested before the PR lands.

I see the use, but it's yet more manual effort for the backporter, and also more complexity for people to learn to understand the process. I think I'd be okay with it if it could be automated. Also we

[2017-10-30 09:36] Ginden opened #16607 "throw false ignored in REPL"
Node version: 8.6

Steps to reproduce:

[code]

[2017-10-30 09:36] yasirrais110 opened #16608 "node install failed error status 1603"
* **Version**: node-v8.8.1, node-v6.11.5-x86 and node-v6.11.3-x86
* **Platform**: Windows 10 32-bit

I have tried tried installing without Performance counters and Online documentation shortcuts

[Nodejs.log](https://github.com/nodejs/node/files/1426683/Nodejs.log)

[2017-10-30 10:34] joyeecheung commented on #16570
Oh right, haven't thought about that....

Added to my backlog..

[2017-10-30 10:34] joyeecheung commented on #16570
I am going to close this because I think we can just use `backport-requested` labels for now.

[2017-10-30 10:34] #16570 closed

[2017-10-30 10:42] #16322 closed

[2017-10-30 10:42] rvagg commented on #16322
👍 sorry for the delay, all good now in 1.5.1

[2017-10-30 11:10] #16519 closed

[2017-10-30 11:19] hebedombiu opened #16611 "Cannot find module when launch app through simlink"
Version: v8.5.0
Platform: Linux 3.10.0-327.13.1.el7.x86_64 #1 SMP Thu Mar 31 16:04:38 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

I have dir structure:
app
 |- lib -> /other/path/lib
 |- node_modules

When I trying to launch: node lib/app.js
Console output:
module.js:529
    throw err;
    ^

Error: Cannot find module ...
...

But, if I would have dir structure:
app
 |- lib
 |- node_modules

App laun

[2017-10-30 11:44] cPhost commented on #16607
@Ginden i tested this out at my local PR Build of https://github.com/nodejs/node/pull/16574 which is not yet landed.

[code]

[2017-10-30 13:22] cjihrig commented on #16611
Please ask general support questions at https://github.com/nodejs/help. This issue tracker is for bugs and feature requests to Node core.

[2017-10-30 13:22] #16611 closed

[2017-10-30 13:23] mhdawson commented on #16547
I posted the update using the Mitre tool the same day we provided the details/releases.  I'mout today but will follow up when I'm back in the office next week.

[2017-10-30 13:30] danbev opened #16614 "Warning about missing include files on Windows"
* **Version**: node-v9.0.0-pre
* **Platform**: Windows 10 64-bit
* **Subsystem**: build

Currently when building on Windows I noticed the following warning:
[code]
It looks like the above two paths should be relative to the parent directory like others in that [file](https://github.com/v8/v8/blob/6f105c7a582d3820ebce9bc0111f3d7017798d5b/src/inspector/inspector.gypi#L34-L36).

I'm creating this iss

[2017-10-30 13:39] #16607 closed

[2017-10-30 14:20] AndreasMadsen commented on #16557
I would prefer `wrk`. It has lower variance so it will give us better results. It will also be easier to compare runs because `wrk` doesn't depend on node.

[2017-10-30 14:24] jasnell commented on #15442
Closing :-)

[2017-10-30 14:24] #15442 closed

[2017-10-30 14:44] jasnell opened #16615 "Node.js 8.9.0 Proposal?"
@nodejs/lts @nodejs/tsc ... Node.js 8.x is expected to move to LTS *tomorrow*, which means we need an 8.9.0 release proposal put together. I'm not seeing one. Has anyone been working on doing it?

[2017-10-30 15:07] gibfahn commented on #16615
@MylesBorins suggested that we work on it together today.

[2017-10-30 15:22] cPhost opened #16616 "Proposal: Move all the test in test/parallel into their own subsystem folder"
Currently there are 1618 file in test/parallel so if we move all the test files into their subsystem folder it would be more organized.

[code]

[2017-10-30 15:30] mscdex commented on #16616
FWIW typically we've avoided such major churn in `test/`.

[2017-10-30 15:32] mscdex commented on #16616
I should also add that we've had this particular discussion before and for one thing it's not as cut-and-dry as you suggest. There are many tests that test multiple modules.

[2017-10-30 15:52] #16469 closed

[2017-10-30 16:19] mcollina opened #16617 "http2: implement ref() and unref() on client sessions"
* **Version**: master, 8.8.1
* **Platform**: all
* **Subsystem**: http2

Currently the client sessions cannot be `unref()`, which means they will keep the process alive if they are not destroyed.  Adding support for `ref()` and `unref()` (https://nodejs.org/api/net.html#net_socket_ref) would add the possibility to create some long-running clients for the life of the process.

[2017-10-30 16:19] mcollina commented on #16617
cc @nodejs/http2

[2017-10-30 16:49] natewatson999 commented on #16595
@addaleax , I have a question.
I understand that creates a new VM context. If I use that code, and call global.gc; will that trigger garbage collection in all of the contexts, or just the one created there with the vm module?

[2017-10-30 17:00] Fishrock123 commented on #16615
Fwiw I have pre-emptively landed https://github.com/nodejs/node/pull/16432#issuecomment-339151675 on `v8.x-staging` so as to ensure Debug builds... build... in 8.9.0.

[2017-10-30 17:33] mcollina opened #16619 "http2: intercept what headers are being sent"
* **Version**: master, 8.8.1
* **Platform**: all
* **Subsystem**: http2

In http2 client API is not currently possible to know which headers are being sent.  The actual headers that have been sent should be kept somewhere for debugging/introspection purposes.

[2017-10-30 17:44] joyeecheung commented on #16616
Idea on an easier transition: let's figure out what subsystem these tests are touching and add a formatted comment there (like the `Flags:` that we have, I am thinking `Subsystems:`). When we done annotating all the tests, it would be easier to know if this is the right direction, with the benefit of better documented tests. (Also with that we can do things to `tools/test.py` to run tests for a gi

[2017-10-30 17:52] joyeecheung commented on #16616
Also I think we can ask the code-and-learn participants to add a comment to the test describing what it tests if there isn't one and they feel confident enough to actually dig into the test.

[2017-10-30 18:12] anandsuresh commented on #16528
Sorry the late reply.

1. I'll report back on what I see on a newer version than 20141030T081701Z.
2. I got the source code from https://nodejs.org/dist/v4.8.5/node-v4.8.5.tar.gz and built it.

[2017-10-30 18:15] #16528 closed

[2017-10-30 18:45] snggeng commented on #12516
Awesome, thanks for the tips @gibfahn I'll look into it.

[2017-10-30 18:59] bcoe commented on #16531
_an update:_

[issue #715](https://bugs.chromium.org/p/v8/issues/detail?id=7015) has been created on the v8 project, proposing introducing startup & teardown events to the inspector. The idea being that:

* during the startup event the inspector could have flags set for configuring detailed coverage.
* during teardown, a hook could be installed that fetched the final output from the inspector (in

[2017-10-30 19:16] maclover7 commented on #16603
cc @nodejs/platform-windows

[2017-10-30 19:32] StefanScherer commented on #16603
Just tested the binaries in Windows Server 1709 images (microsoft/windowsservercore:1709 and microsoft/nanoserver:1709) and all versions 8.7.0, 8.8.0 and 8.8.1 work there.
I have to check my older Windows Server 2016 setup again why it didn't work multiple times.

[2017-10-30 20:06] jayproulx commented on #14957
Depending on your need, this is working for me, though I'm not looking for a specific PPID, I'm looking for a "stable" PPID that I can use for a "session" across multiple CLI commands.  This may be the proper PPID for the current process, however, I think I saw that this was still a child process of bash.

`var ppid = (require('child_process').execSync(`ps -p ${process.pid} -o ppid=`) + '').split(

[2017-10-30 20:12] addaleax commented on #16595
@natewatson999 All of the contexts, the functions will behave identically.

[2017-10-30 20:19] addaleax commented on #16617
So … a question; right now, this effectively is about the ref’edness of the `uv_prepare_t` that is used to send data at the beginning of an event loop iteration, and for the ref’edness of the underlying socket. Is that correct?

For the former, I think the solution we should be aiming for is to only have the handle be active if there actually is data to send, and I’d be glad to look into that.

[2017-10-30 20:31] jasnell opened #16624 "http2: refactoring heads up"
@mcollina @addaleax @apapirovski @sebdeckers @nodejs/http2 ... just a general heads up... I'm in the process of a sizable internal refactoring of the http2 C/C++ internals. It's a combination of long standing clean up, a number of necessary performance optimizations to reduce the number of memcpy's, and a cleanup of some of the internal buffering code. The internals are going to look quite a bit d

[2017-10-30 20:31] cjihrig commented on #14957
@bnoordhuis the ppid implementation is kind of ugly on Windows. We happen to already have it in libuv though. Would you be opposed to me exposing it from there and using it here?

[2017-10-30 20:36] addaleax commented on #16624
btw, https://github.com/nodejs/node/pull/16461 is pretty much good to go, I’ll kick off CI in a bit & land if it comes back green, so it might be helpful to work off that :)

[2017-10-30 20:44] jasnell commented on #16624
Dang... forgot about that one and I'm already a fair bit down the road. Ok, let me know once that it landed and I'll rebase around it. Much of the changes I'm looking at will actually supersede much of that one as I am moving quite a few pieces around.

[2017-10-30 21:22] StefanScherer commented on #16603
OK, I ran another test on a fresh Window Server 2016 in Azure, tested with several microsoft/nanoserver:10.0.14393.1066 .. microsoft/nanoserver:10.0.14393.1770 (latest) and I can reproduce the problem. Node.exe 8.7.0 ... 8.8.1 don't work in nanoserver images for the LTS channel of Windows Server 2016.

It seems that the newer images for the Semi-annual channel of Windows Server 1709 don't have thi

[2017-10-30 21:33] Emill opened #16625 "crypto: Better documentation for cases where peer's public key is invalid"
* **Version**: 6.11.3
* **Platform**: Linux
* **Subsystem**: crypto

The documentation for [ecdh.computeSecret](https://nodejs.org/api/crypto.html#crypto_ecdh_computesecret_otherpublickey_inputencoding_outputencoding) doesn't discuss what happens when the other public key doesn't lie on the curve. It just states that either a string with the given encoding or a Buffer will be returned. For other m

[2017-10-30 21:33] refack commented on #16210
Seems like we now have a repro - https://ci.nodejs.org/job/node-stress-single-test/1475/
(Ubuntu1604x64).
All the above clues makes me thing this is a memory corruption bug...

[2017-10-30 22:18] addaleax commented on #16624
@jasnell done!

[2017-10-30 22:19] eugeneo opened #16627 "inspector: implement sub process inspection."
This is an umbrella bug for implementing the functionality outlined here -  https://github.com/nodejs/diagnostics/issues/77

This implementation will land in several stages. Current plan is as follows:
- [ ] Custom inspector message dispatcher. This stage will allow extending the Inspector protocol beyond domains provided by the V8
- [ ] Provide Node.js implementaion for the `Target` protocol as o

[2017-10-30 22:26] refack commented on #16603
Ohh boy. This is not going to be fun to debug 🤦‍♂️
@StefanScherer thank you for the detailed information though 👍 Do you by any chance know where we can find something changelog like between 1770 and 1790?

[2017-10-30 22:36] StefanScherer commented on #16603
@refack Oh the diff between 10.0.14393.1770 and 10.0.16299.19 = current release of Windows Server 1709 could be a little longer :-) It's not just 20 releases I guess.

[2017-10-30 22:39] refack commented on #16603
@StefanScherer so it might be easier to figure this out from node's side (although I already have an obvious suspect, the bump in libuv from 1.14.1 to 1.15.0 https://github.com/libuv/libuv/blob/v1.x/ChangeLog)

[2017-10-30 22:44] refack commented on #16603
P.S. node exits with 0xC0000139 {Entry Point Not Found} so it seems like we started using a new API that doesn't exists in 10.0.14393.1770

[2017-10-30 22:46] rvagg commented on #16615
@gibfahn @MylesBorins I'm happy to help this or take the task if there's any problems in getting this done, ping me on IRC.

[2017-10-30 22:49] refack commented on #16603
API diff:
new
[code]

dropped:
[code]

[2017-10-30 23:00] refack commented on #16603
Most probably `SetWinEventHook`

[2017-10-30 23:24] Trott commented on #16616
The subsystem metadata:

* You can already run only (for example) http tests like this: `test.py http`

* Wouldn't surprise me if the above is undocumented. That should certainly be fixed if that's the case.

* Subsystems requirement should be added to the guide on writing tests if it's something we want each test to have.

* I can imagine some people perhaps thinking we shouldn't formalize additi

[2017-10-30 23:24] Trott commented on #16616
Oh, to be clear: I'm totally not sure how feel about the subsystem metadata. I'm not arguing for it or against. Just providing immediately thoughts and hopefully some useful additional information.

[2017-10-30 23:36] gibfahn opened #16628 "node-test-linter npm installs remark-cli for each build"
* **Version**:
* **Platform**: CI
* **Subsystem**: build

Look at https://ci.nodejs.org/job/node-test-linter/lastSuccessfulBuild/console

[code]

It's only taking 25s each time, but it seems wasteful. I know this is how Travis etc. work, so maybe this should just be closed, but I miss sub two minute lint jobs.

[2017-10-30 23:43] StefanScherer commented on #16603
@refack I also tried older nanoserver:10.0.14393.x images and it's the same there.

But with that list of API changes in Node.js maybe @PatrickLang can have a short look ^^ and give us a hint which might cause problems?

[2017-10-31 00:14] eugeneo commented on #16627
For the item#3 (communication channel) the proposal is to introduce a new command line flag `--inspector-pipe=path/to/pipe` so parent process can communicate with child processes without child process listening on a socket. Pipe IO will be using same thread that is currently used for the inspector WS server.

[2017-10-31 00:17] cPhost commented on #16616
@Trott it is documented in contributing.md and despite to submodules the tests have other tests like `test-cli-*` or test `test-cluster-*` which are not part of submodules.

[2017-10-31 00:17] StefanScherer commented on #16603
Hm, I remember the NanoServer API scan tool. Oh I still have a Docker image of that.

[code]

[code]

But it doesn't show any errors.

[2017-10-31 00:27] eugeneo commented on #16627
Pull request to check first two check boxes: https://github.com/nodejs/node/pull/16629

[2017-10-31 00:36] uttampawar commented on #16131
@gibfahn If we can add this option and watch out for any regression for few use cases then that's great but as @jasnell said we can only do so for few cases. My suggestion is that in addition for every other use case out there we can still provide a build target (use of gold linker) for users who are willing to build, train and rebuild node.js for more performance just for their application. It's

[2017-10-31 02:07] maclover7 commented on #16628
Hmm, looks like `node_modules` is git checked-in for ESLint, but not for Remark... should Remark also do this?

cc @watilde

[2017-10-31 03:00] digitalinfinity commented on #16603
If @refack's assessment is correct, it's likely from https://github.com/libuv/libuv/pull/1408 (since 8.7 upgraded libuv to 1.15.0)- @bzoz can you take a look, we likely need to GetProcAddress of SetWinEventHook rather than statically linking against it if the API is not present Windows NanoServer

[2017-10-31 03:36] juliocanares commented on #947
same error as @Dacesilian here
@anko I can't post an minimal example since it happened in my production environment, I got alert when my website first request was so slow so I restarted the pm2 process and it started to work correctly.

[2017-10-31 04:14] rvagg commented on #16615
happening @ https://github.com/nodejs/node/pull/16630

[2017-10-31 04:14] #16615 closed

[2017-10-31 05:14] oliverjanik commented on #2833
Please reopen. I think node should ship all the API's browser does with the exception of UI related APIs (DOM).

Node is not our primary environment. We only care about node in context of compiling front-end code-bases and server side rendering. As such we deeply care about having consistent runtime for our code base, whether it's browser or node. Adding yet another environment to deal with (and s

[2017-10-31 05:44] fcicq commented on #16543
Sorry, same exception (one of the two) still exists. happen even less frequently by the 3rd version of error handling code.

[code]

the timing is related with my broadband pppoe force reconnection kickout happens every 24h,
so I suspect it may related with socket failure & http2session closing.

[2017-10-31 05:51] watilde commented on #16628
Initially, I did include `node_modules` at https://github.com/nodejs/node/pull/12756 but the diff was too huge to review so I excluded them as requested. I will make a patch to add them again.

[2017-10-31 05:58] joyeecheung commented on #16616
@Trott

The metadata idea is mainly to address https://github.com/nodejs/node/pull/15437#issuecomment-329974923, which I believe is a valid argument against organizing tests into subsystem folders.

We have quite a few tests testing the interoperability of different modules e.g. fs and whatwg-url, async hooks and a lot of other modules. IIUC, `test.py http` just grabs `test-http-*` but when a test

[2017-10-31 06:02] rgl commented on #16603
@refack how did you generate that API diff? I mean, what tool did you use to extract the used APIs?

[2017-10-31 07:08] joyeecheung opened #16636 "Implement automatic fixes for our custom eslint rules"
* **Version**: master
* **Subsystem**: tools

The rules are in https://github.com/nodejs/node/tree/master/tools/eslint-rules
Some of them should be possible to get fixed automatically e.g. to fix `require-buffer` simply put a line below 'use strict' and stuff.

ESLint documentation on how to implement custom fixes: https://eslint.org/docs/developer-guide/working-with-rules#applying-fixes

[2017-10-31 07:35] joyeecheung commented on #14070
Showed up in the 8.9.0 proposal https://github.com/nodejs/node/pull/16630 , this time on CentOS

https://ci.nodejs.org/job/node-test-commit-linux/13690/nodes=centos7-64/consoleFull

[2017-10-31 08:22] bzoz commented on #16603
@digitalinfinity I'll look into it. It definitely looks like this might be the issue here.

[2017-10-31 09:20] gireeshpunathil commented on #16603
@digitalinfinity

But if the API is not present we will fail anyways right? What additional benefit `GetProcAddress` provides? probably a graceful exit?

The API in question is a standard Win32 API, and the need to invoke it reflectively rather than directly, invokes question on the ability to support Nanoserver (there is no documented necessity on specialized invocation on these APIs). If we foll

[2017-10-31 09:25] v9Chris commented on #14593
Experiencing this too, was driving me insane preventing me from building sqlite3 with node-gyp.

Win 10 / ConEmu / Node 8.8.0

After reading this thread I just tried it in cmd.exe  and it worked first time.

[2017-10-31 10:07] nicojs commented on #14593
@v9Chris glad this issue could help you. I know the feeling  :metal:

[2017-10-31 10:15] bzoz commented on #16603
`SetWinEventHook` is used to detect console resize events. If it is not available, `process.stdout.on('resize', ...)` will stop working. Besides that Node.js will behave as normal.

[2017-10-31 10:30] cPhost commented on #16616
@joyeecheung i think `Subsystem:` comment is a good idea. Thanks for putting it in code-and-learn!

[2017-10-31 10:41] Maximus5 commented on #14593
That's why software updates are recommended.

[2017-10-31 11:00] bnoordhuis commented on #16625
Documentation pull request welcome but apropos this suggestion:

No, no other built-in APIs do that either, crypto or otherwise.

[2017-10-31 11:26] shobhitchittora commented on #16636
Hi @joyeecheung. I'd like to pick this up as a good first issue. I've already forked, built and tested the master. Please provide further steps to test my fixer methods. Any guidance is more than appreciated.

[2017-10-31 12:04] gibfahn commented on #16636
@shobhitchittora a good way to get started would be to:

- pick a rule in https://github.com/nodejs/node/tree/master/tools/eslint-rules.
- Run the linter command\*, hopefully it passes
- Modify the node source code so that the linter command fails with the rule you picked
- Try the lint command with `--fix` on the end and see if it fixes the problem (it probably won't).
- Read the [eslint docs abo

[2017-10-31 12:06] vsemozhetbyt commented on #16359
A new one: https://css-tricks.com/code-review-etiquette/

[2017-10-31 12:39] Emill commented on #16625
But the fs API has an extended Error type, which has properties like code and errno. There you can easily detect specific errors as they are properly documented.

[2017-10-31 12:40] TBK commented on #4270
@danbev There is a Gentoo effort to provide a node build with Libressl thought it might be of interest (see files dir) - https://github.com/gentoo/libressl/tree/master/net-libs/nodejs

[2017-10-31 12:48] bnoordhuis commented on #16625
Maybe we have a different definition of 'typed error'.

Putting a couple of extra properties on a `new Error()` instance?  That's fine.

`CryptoError extends Error`?  Non-idiomatic.

[2017-10-31 12:50] Emill commented on #16625
Yeah sure extra properties on the `new Error()` instance works.

[2017-10-31 12:52] shobhitchittora commented on #16636
Thanks for the help. I'm working on writing fixture functions and will create a PR.

[2017-10-31 13:02] refack commented on #16603
@rgl pestudio by https://www.winitor.com/

[2017-10-31 13:06] joyeecheung opened #16640 "Guide on introducing new dependencies in the codebase"
* **Version**: master
* **Subsystem**: doc

We have a guide on introducing new modules, and some guides(including WIP) on maintaining existing dependencies, but still need a guide on introducing one.

cc @jasnell @jkrems @watilde because IIRC you have introduced new dependencies to the code base in the past year, would love to get your help on this.

Refs: https://github.com/nodejs/node/pull/16637

[2017-10-31 13:28] grantila commented on #16256
I love the fast work you guys do, @apapirovski, @addaleax and @jasnell. Haven't yet looked into using this (btw, we'll see this in 8.9, or?)

Just one thing; I don't think we need an Agent implementation for http2. You might want a "fake" agent-to-session wrapper to the **compatibility layer**, but those not using the compat should deal with sessions instead, right? After all, Agents are only ther

[2017-10-31 13:33] mhdawson commented on #16547
Received an update yesterday telling me it was active.  When I checked today it was populated.

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-14919.

@PieterGit please confirm you see the same and then close the issue.

[2017-10-31 14:14] maclover7 commented on #16640
👍 I was going to take a look at creating a general "Dependencies in Node" guide once #16541 lands, to have a section for introducing dependencies, and then also maintenance guides for each current dependency. There's already a maintenance guide for V8 in master.

[2017-10-31 14:18] bzoz commented on #16603
I did a test, creating a simple `int main() { SetWinEventHook(..); }` reproduces this. I've opened a PR in libuv to fix this: https://github.com/libuv/libuv/pull/1611

[2017-10-31 14:20] watilde commented on #16640
This will be very helpful when we would like to add tools. Here are a couple of things what I cared when added the new deps.

+ Separate the commits into the actual integration and install `node_modules`.
+ Land the integration commit first to make the review a bit easier
+ To add `node_modules`, I used `npm install --ignore-scripts` to not include the native build modules and add `npm rebuild` sc

[2017-10-31 15:46] jkrems commented on #16640
In cases (?) where it's something that needs to work at runtime (e.g. because the code will be part of the distributed packages), there's also testing for both *nix and Windows. If the thing in question supports `npm install && npm test`, it can use [`tools/test-npm-package`](https://github.com/nodejs/node/commit/fc3f0d63b4e94d90d96c914c9e1d7ee6329ea65a)

[2017-10-31 16:33] qubyte opened #16643 "ALPNProtocols option of TLSSocket constructor is broken."
* **Version**: v8.8.1
* **Platform**: Darwin sprite.local 17.0.0 Darwin Kernel Version 17.0.0: Thu Aug 24 21:48:19 PDT 2017; root:xnu-4570.1.46~2/RELEASE_X86_64 x86_64
* **Subsystem**: _tls_wrap.js

Documentation for the `ALPNProtocols` option (found [here][1]) indicates that an array of strings should be acceptable:

[code]

However, the example above produces this error:

[code]

From which I in

[2017-10-31 16:55] TimothyGu commented on #16627
This should also make it (more) possible to implement inspector for workers (https://github.com/ayojs/ayo/pull/58).

[2017-10-31 17:01] TimothyGu commented on #16640
To add more stuff to `deps/` (for something like https://github.com/nodejs/node/pull/15566), just unpack the tarball, and add an entry to `tools/license-builder.sh`.

[2017-10-31 17:09] murgatroid99 opened #16645 "Http2Session connection failure semantics"
If a `Http2Session` created by `http2.connect` fails to connect to the remote end, is there a single event that is guaranteed to be emitted, whether the failure is a TCP connection failure or a TLS or HTTP2 handshake failure, or something else?

[2017-10-31 17:41] bnoordhuis commented on #16643
It sounds like the constructor should call `tls.convertALPNProtocols()` and `tls.convertNPNProtocols()` instead of letting `tls.connect()` and `tls.createServer()` do that before passing it on to `new TLSSocket()`.

[2017-10-31 17:45] suresh-srinivas commented on #16198
I have an initial prototype working (with `libhugetlbfs`). I am seeing good reduction in ITLB misses and performance improvement (6%) for one workload I have tested [react-server-side-rendering](https://hackernoon.com/whats-new-with-server-side-rendering-in-react-16-9b0d78585d67) . I will work with @uttampawar and @mhdawson  to run a few more benchmarks from the Node-Benchmarking WG. I will need h

[2017-10-31 17:48] qubyte commented on #16643
I wasn't aware of these methods, thanks for the tip. I'll probably have to apply them within the `TLSSocket` constructor though. Do you mean these should be applied before calling the `Socket` constructor?

[2017-10-31 17:51] digitalinfinity commented on #16603
@gireeshpunathil to echo @bzoz SetWinEventHook is not a critical API for Node- so the suggestion was to check for it before using it, because if it's not there, only the feature that depends on it (in this case the console resize event) would need to be off

[2017-10-31 17:52] addaleax commented on #16643
@qubyte I think it’s more like, the `TLSSocket` constructor should call them, not userland code.

But for now calling them yourself should be fine as a workaround.

[2017-10-31 17:53] qubyte commented on #16643
Hmm. I think I wasn't making myself clear. I mean to call these within the `TLSSocket` constructor, as you say. I think we're on the same page though. Do you mind if I assign myself? It'll be a nice way to ease myself into the codebase.

[2017-10-31 17:55] addaleax commented on #16643
@qubyte Yes, I think we’re on the same page. Go for it if you like!

[2017-10-31 17:57] bnoordhuis commented on #16198
Not desired, it's LGPL (and it's not something we'd want as an external dependency.)

[2017-10-31 17:57] qubyte commented on #16643
Thanks! Assigned. :D

[2017-10-31 18:43] #16545 closed

[2017-10-31 18:44] #15369 closed

[2017-10-31 19:30] srl295 commented on #15540
OK, ICU GA soon… will open a PR.

[2017-10-31 20:02] j0t3x commented on #16625
Hi @Emill
I'd like to pick this up as a good first issue. I've already forked, built and tested the master. I would love to get this done and in the mean time understand nodejs deeper.
Any guidance is more than appreciated.

[2017-10-31 20:05] seishun commented on #16596
PR to fix this: https://github.com/libuv/libuv/pull/1612

[2017-10-31 20:06] yasirrais110 commented on #16608
solution: install without `Performance counters` and `ETW`!

[2017-10-31 20:06] yasirrais110 commented on #16608
solution: install without `Performance counters` and `ETW`!

[2017-10-31 20:06] #16608 closed

[2017-10-31 20:20] adrianchia opened #16649 "npm does not support Node.js v9.0.0"
**ATTN: Go here for a workaround: https://github.com/npm/npm/issues/19019#issuecomment-340940842**

* **Version**:  9.0.0
* **Platform**: Windows 10 x64
* **Subsystem**: npm

After installing Node.js v9.0.0 on Windows 10 x64, npm returns the following message:

[code]

[2017-10-31 20:30] vsemozhetbyt commented on #16649
Cannot reproduce with node-v9.0.0-x64.msi
Did you install with a standard installer? What is the output of the `npm -v`? Should be `5.5.1`

[2017-10-31 20:33] bzoz commented on #16603
I was able to compile Node with the libuv patch and it indeed solves this issue.

[2017-10-31 20:34] lance commented on #16649
I can confirm similar failure on CentOS.

[code]

[2017-10-31 20:35] ArmaProjects commented on #16649
Have the same probnpm WARN npm npm does not support Node.js v9.0.0
npm WARN npm You should probably upgrade to a newer version of node as we
npm WARN npm can't make any promises that npm will work with this version.
npm WARN npm Supported releases of Node.js are the latest release of 4, 6, 7, 8.
npm WARN npm You can find the latest version at https://nodejs.org/
C:\Program Files\nodejs\node.exe: s

[2017-10-31 20:35] MylesBorins commented on #16649
@adrianchia are you using the version of npm that came bundled with node? The current upstream version of npm does not work with Node.js 9.x which is why we floated b8888f5aa2 and 9f33a248b3

Is it possible you are not using the bundled version of npm?

/cc @nodejs/npm

[2017-10-31 20:38] BobCochran opened #16650 "test: Node 8.9.0 cannot 'make test' when building from source code"
* **Version**: 8.9.0
* **Platform**: linux 4.13.9-200.fc26.x86_64 #1 SMP Mon Oct 23 13:52:45 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

I downloaded the source code tarball node-v8.9.0.tar.gz to build node on a Fedora 26 workstation. 'make test' fails at this point:

`Building addon /home/bcochranc/Downloads/node-v8.9.0/test/addons-napi/test_warning/
make[2]: Entering directory '/ho

[2017-10-31 20:40] bricss commented on #16649
If you have npm updated from bundled with node, this will fix issue: `npm uninstall -g npm`

[2017-10-31 20:45] vsemozhetbyt commented on #16650
@joyeecheung, is it test doc related?

[2017-10-31 20:50] MylesBorins opened #16651 "Should we align Module Version Number to V8 ABI Version?"
We seem to have reached a pace where we are aligning each subsequent V8 release with a new Module Version number, which is currently off by three

https://github.com/nodejs/node/blob/master/src/node_version.h#L71-L105

Should we consider bumping Module version number to 63 in https://github.com/nodejs/node/pull/16271

/cc @nodejs/tsc @nodejs/v8

[2017-10-31 20:56] targos commented on #16651
I think we already discussed this somewhere. The current module version is aligned with Electron IIRC.

[2017-10-31 20:56] MylesBorins commented on #16649
@nodejs/collaborators Do you think it makes sense to keep this open until npm fixes this upstream? If so it may make sense to lock this issue and make a comment in the OP with the solution

[2017-10-31 20:58] MylesBorins commented on #16651
@targos I've pinged the people over in the electron maintainers slack to chime in

[2017-10-31 21:07] addaleax commented on #16651
A couple things:

- We only bump this for V8 upgrades because the V8 API is the part of our own that’s modified most frequently and with the least regard for backwards compatibility, but updates to Node’s own API or the ones of other dependencies (zlib, openssl) could also change the API, even when we don’t bundle a breaking V8 update
- Conversely, there is no guarantee that a major V8 upgrade *wi

[2017-10-31 21:07] drewfish commented on #16650
In my company we run tests using `gmake test-ci-native test-ci-js`.

[2017-10-31 22:00] felixrieseberg commented on #16651
From Electron's point of view, most tools that help people with automatically rebuilding Node modules against a certain target use [node-abi](https://github.com/lgeiger/node-abi/blob/master/index.js#L51-L65), which contains a rather simple map and doesn't really care about the logic behind the number.

Without `electron-rebuild`, we're currently [telling people to configure npm](https://github.com

[2017-10-31 22:07] MylesBorins commented on #16651
@addaleax I totally agree with all of those points, just figured that bumping by three isn't likely to break anything and will make things less confusing. Open to closing this if you think it is a non starter

[2017-10-31 22:10] addaleax commented on #16651
@MylesBorins I’m just worried it gives the false impression that alignment with the V8 version is something we want to provide in the future, even though that’s not really what’s happening and we can’t promise it

[2017-10-31 22:36] mscdex commented on #16651
I agree with @addaleax

[2017-10-31 23:05] amritk commented on #16649
failed on Ubuntu 16.10 as well
[code]

[2017-10-31 23:36] MongoExpUser commented on #16649
I am confirming it failed also on Ubuntu **Ubuntu 16.04.3 LTS**
node: 9.0.0
npm: 5.5.1

[2017-10-31 23:51] refack commented on #16640
1. I would like to hear an expert opinion on licenses when adding tooling to `/tools/`. AFAICT that does not necessitate an explicit attribution as it should not be part of the runtime (a.k.a. the final product).

2. `npm`ed modules need special attention as they
  1. may need maintaining and updating
  2. may come with a substantial amount of files (1000s) which comes with a degraded `git` experi

[2017-11-01 00:16] fs-eire opened #16658 "When Node addon creates a new isolate, use it to execute JS code and let it triggers GC, it will crash"
* **Version**: v8.5.0 or higher
* **Platform**: Darwin/Linux/Windows (x64)
* **Subsystem**:

1.	Create a simple Node addon.
2.	In the Init(), create a thread and create a new isolate in that thread.
3.	In the Method(), notify the thread to execute some javascript code.
4.	When the javascript code triggers GC, the process will crash.

* Crash error on Ubuntu 16.04.2

* Crash error on macOS Sierra 1

[2017-11-01 00:22] addaleax commented on #16658
Hey! Sounds like you might be interested in something like https://github.com/ayojs/ayo/commit/2f47b5b9aa3239f549b6e2986b4ad19724937158, which I did for a multi-threading `Worker`s implementation? Let me know if that gets you anywhere.

[2017-11-01 00:39] amritk commented on #16649
There's a workaround posted in https://github.com/npm/npm/issues/19019#issuecomment-340940842 by @addaleax

[2017-11-01 03:40] joyeecheung commented on #16650
@BobCochran I've tried it on Ubuntu and looks like if you run `make doc-only`, it will fail on the first attempt but will work the second time. Can you try running it again?

I'll investigate why this fails on the first attempt..

[2017-11-01 04:04] joyeecheung commented on #16650
[code]

There is probably some problems in order of dependencies, this patch seems to work for me on Ubuntu, I will open a PR shortly

[2017-11-01 04:09] joyeecheung commented on #16650
By the way, `make test` is more for developers now because it runs linters and builds docs. If you only want to test if the binary is working, you can run `make test-only`.

[2017-11-01 04:40] BobCochran commented on #16650
@joyeecheung here is the build sequence I followed:

./configure —prefix=$MY_NODE_PREFIX
make
make test

MY_NODE_PREFIX resolves to my home directory $HOME/local

I vaguely recall seeing a ‘make doc-only’ that was emitted by the Makefile as part of the ‘make test’ output. I will try both ‘make doc-only’ and ‘make test’ and report back. All I really wanted to do was to execute ‘make test ‘ and see

[2017-11-01 05:19] bdharrington7 opened #16662 "Has the nodejs crypto module been audited at all?"
Originally asked at [StackOverflow](https://stackoverflow.com/questions/46720556/has-the-nodejs-crypto-module-been-audited-at-all), but putting it here for visibility.

I can't find an answer easily, just [long-winded][1] [arguments][4] about crypto in general.
I'm asking because I came across the [tweetnacl][2] module, and its [corresponding audit][3].

  [1]: https://github.com/nodejs/node/issue

[2017-11-01 06:53] bnoordhuis commented on #16662
If you mean by a for-profit company: no.

Since you bring up tweetnacl, your question is probably better directed at openssl.  That's the crypto library that node.js uses under the hood.

[2017-11-01 06:53] #16662 closed

[2017-11-01 08:10] ndaidong commented on #16649
@amritk : I got the same error here:

[code]

And another issue with **natural** and **webworker-threads**, here audreyt/node-webworker-threads#169

It looks like there are many packages need to be upgraded to catch up Node.js 9 serie.

[2017-11-01 09:01] rogierschouten opened #16663 "Regression in Node 9 concerning HTTP request timeout"
It seems that PR #8895 has reverted the solution to feature request #7580

[2017-11-01 09:05] mcollina commented on #16651
I agree with @addaleax.

[2017-11-01 09:06] rogierschouten commented on #16663
My mistake, looking in the node code this still works

[2017-11-01 09:06] #16663 closed

[2017-11-01 09:15] mboughaba commented on #16649
I can confirm similar failure on Travis CI Linux trusty stable
[code]

[2017-11-01 09:23] The-Compiler commented on #16649
FWIW if you don't mind using NodeJS v8.9.0 on Travis CI, you can do `node_js: "lts/*"` to work around this.

[2017-11-01 09:28] bnoordhuis commented on #16649
Done.

[2017-11-01 12:23] Trott commented on #16210
Also: Ping @trevnorris

[2017-11-01 13:46] cjihrig commented on #16651
I agree with @addaleax as well.

[2017-11-01 13:48] csvan opened #16665 "Official 9.x packages not working on CentOS 7.4"
* Node 9.0
* CentOS 7.4

Running:

[code]

yields:

```Your distribution, identified as "centos-release-7-4.1708.el7.centos.x86_64", is not currently supported, please contact NodeSource at https://github.com/nodesource/distributions/issues if you think this is incorrect or would like your distribution to be considered for support```

This worked well on 8.x.

[2017-11-01 13:55] richardlau commented on #16665
https://github.com/nodesource/distributions/issues/545

[2017-11-01 13:55] #16665 closed

[2017-11-01 14:12] yoshuawuyts opened #16666 "HTTP/2 — how to listen for connection close?"
* **Version**: `v8.8.1` / `v9.0.0`
* **Platform**: Darwin
* **Subsystem**: HTTP/2

Heya! I'm trying to detect when a connection closes on an HTTP/2 connection in compat mode. We're trying to keep an `SSE` connection going, as long as the server and client are connected. In prior versions Node `8.x` we could listen for it by attaching a listener to `req.on('error')` and `req.connection.on('disconne

[2017-11-01 14:37] cjihrig commented on #14957
This will be available in the next libuv release, at which point I'll open a PR to expose it in Node.

[2017-11-01 14:38] kasimdoctor commented on #16619
@mcollina I would like to help on this. Is there a possibility of working with a mentor or someone who is familiar with this module?

[2017-11-01 15:25] jasnell commented on #16624
After going through this for a few days, the changes I had in mind are just too significant of a change *right now*. There are also a few things that still need to be figured out in order to pull it off appropriately. I'm going to take a step back and figure out a more incremental approach.

[2017-11-01 17:08] apapirovski commented on #16666
@yoshuawuyts could you just do `req.on('finish', disconnect)`? That will always fire AFAIK... You don't need an 'error' handler either, that issue is fixed.

In general, I don't recommend using socket/connection for events or almost anything other than stuff like remoteAddress and potentially some of the TLS stuff.

[2017-11-01 17:11] grantila commented on #11552
[The RFC](https://tools.ietf.org/html/rfc7230#section-6.7) states regarding a client sending the Upgrade header; `"Upgrade cannot be used to insist on a protocol change."` It is up to the server to **decide**.

My suggestion for this to work both client-side and server-side in Node, is to allow http1 and http2 (or at least http1) sessions (connections) to be detachable from their socket, and leave

[2017-11-01 17:11] grantila commented on #16624
@jasnell keep #11552 in mind, please have a look at my comment about being able to detach `http` sockets. Since #16256, we can (re-)attach a socket to http1 or http2, but we might need to also provide a `head` buffer when constructing an Http2Session for "http1 upgrade" to work.

[2017-11-01 17:32] mosesn commented on #11552
@grantila I don't really care how this is resolved as long as the default is no longer that node hangs up if a client sends it an upgrade header.

[2017-11-01 18:17] egoroof opened #16670 "Assertation failed when "npm i" on node 9"
* **Version**: 9.0.0
* **Platform**: Windows 10 x64
* **Subsystem**: npm

Npm is bundled with node.

package.json has:

[code]

Run `npm i`, result is:

[code]

[2017-11-01 18:18] cjihrig commented on #16670
Closing as a duplicate of https://github.com/nodejs/node/issues/16649

[2017-11-01 18:18] #16670 closed

[2017-11-01 18:20] egoroof commented on #16670
But npm is bundled with node,
Looks like that fix for npm isn't landed to the node 9.0.0 release

[2017-11-01 18:22] cjihrig commented on #16670
Closing as a duplicate just means that an existing issue for the same problem already exists. Any conversation should happen over there so that everything is kept in one place 😄

[2017-11-01 18:23] egoroof commented on #16670
That issue is locked..

[2017-11-01 18:27] cjihrig commented on #16670
Ah, fair enough. Have you tried the workarounds provided in https://github.com/npm/npm/issues/19019#issuecomment-340940842

[2017-11-01 18:29] apapirovski commented on #16670
@egoroof That issue is locked because it clearly states at the top where to find the solution...

[2017-11-01 18:29] egoroof commented on #16670
The second workaround is not working (_by using the version of npm that is bundled with Node 9_)
I just install node 8 :)

[2017-11-01 18:31] chris--young opened #16671 "Doc version picker doesn't include 9 or show 8 as LTS"
Will have a fix for this soon.

* **Version**:
* **Platform**:
* **Subsystem**:

[2017-11-01 19:27] Fishrock123 commented on #16658
Neither really. What you are doing is simply not supported at the current time. Please keep in mind that native modules can do virtually anything (as any other C or C++ code) with no guarantee that you won't explode Node.

Until recent times there was never a need to support multiple isolates, so that work was never done or completed.

[2017-11-01 20:38] Hativ3 commented on #16196
The default value of `ecdhCurve` should be `'auto'` or at least stronger curves should be added to the default value.

[2017-11-01 20:53] BobCochran commented on #16650
@joyeecheung I tried your suggestion by running 'make test' a second time, and it worked fine. My first execution of 'make test' ended in an error, at which point I created this issue to report it in. Then following your advice I ran 'make test' a second time. That worked fine. This is the output I received at the console.

If you would like me to assist in resolving this issue in any way (such as

[2017-11-01 21:05] apapirovski commented on #16645
Not 100% certain but you could try `socketError` on the session?

[2017-11-01 21:06] apapirovski commented on #16624
@jasnell Is there any other work in progress other than the PRs? I'm planning to take a look at that some of the C++ code this week but don't want to step on each other's toes.

[2017-11-01 21:10] firemuzzy opened #16674 "null equals not null when coming out of a Promise"
* **v8.9.0**:
* **16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64**:

Some how I am getting null equal to not null when the value comes out of a Promise.

**To reproduce, run the following in the node console**

[code]

My output is
[code]

This is absolutely baffling, if I use `===` and `==!` then all is well. Is this a bug or am I co

[2017-11-01 21:13] apapirovski commented on #16674
Seems like a typo... `v =! null` === `v = !null` === `v = true`

[2017-11-01 21:18] murgatroid99 commented on #16645
The docs say that "socketError" is specifically used to forward errors from the underlying TCP/TLS socket. I wouldn't expect that to catch HTTP2 protocol errors that hopefully would still result in a failure to connect.

[2017-11-01 21:21] apapirovski commented on #16645
Right, missed that part of the question. I'm not sure if it makes sense on our end to have a single event for both — there's a pretty substantial difference between a TLS failure & an http2-related error. But I'll ping @jasnell & @mcollina — maybe they have some thoughts.

[2017-11-01 21:23] firemuzzy commented on #16674
ohh, stupid me, thank you

[2017-11-01 21:27] murgatroid99 commented on #16645
From my point of view, if I'm trying to connect to an endpoint, what I care about is being notified that the client has successfully connected (the "connect" event) or that it has failed to connect (the event I'm looking for). For that, the specific reason for the failure is secondary.

I was hoping that the "closed" event would be what I'm looking for, even if there are other situations where it

[2017-11-01 21:34] #16674 closed

[2017-11-01 21:40] apapirovski commented on #16645
I'm reasonably certain, after reviewing the code again, that you could listen to `connect` and `close`. If `connect` fires then remove the `close` handler (or just have some variable that lets you know that you already processed the `connect` event).

[2017-11-01 21:58] mhdawson commented on #16557
We really should have ansible scripts that configure the 2 new benchmark machines. Manual installs will only persist until we have to re-install the machines.

If that is not possible, at the very least we should have a PR adding documentation to the benchmark repo that documents what needs to be manually installed for the the job in question.

[2017-11-01 22:00] mhdawson commented on #16557
In cases of installation of npm's (non-global) I have done that install in the job itself.  For things that need to be installed with apt-get I don't think they should be in the jobs as they change the machine configuration.

[2017-11-01 22:02] mhdawson commented on #12646
+1 to @hashseed and @guybedford

[2017-11-01 22:15] mhdawson commented on #16651
I agree with @addaleax as well.

[2017-11-01 22:16] ak239 commented on #16531
I prefer solution without flags to make possible coverage and type profiling of web page and Node.js instances using the same protocol.
So imagine following solution:
- run node with --inspect-brk flag;
- call Target.setAutoAttach({waitForDebuggerOnStart: true}) - not implemented yet, @eugeneo is working to support it (Target.targetCreated is our startup event),
- call Profiler.startPreciseCoverag

[2017-11-01 22:21] refack commented on #16557
The ideal is for the jobs to be self-sufficient. Since `node`, `npm` and `wrk` can be installed without `apt` IMHO the installation should go in https://github.com/nodejs/benchmarking/blob/master/experimental/benchmarks/community-benchmark/run.sh
Even better is to migrate to a pipeline similar to https://github.com/nodejs/build/pull/956

[2017-11-01 23:55] bcoe commented on #16531
@ak239 amazing \o/ thanks for the work you're undertaking on v8's end to help implement this feature. I'm excited to start moving towards built-in coverage, it will help dismantle the Rube-Goldberg machine that currently facilitates most people's JavaScript test-coverage. Please feel free to loop me into patches on the v8 side of things (I would love to be a fly on the wall 😛).

As discussed in ht

[2017-11-02 00:00] grantila commented on #11552
@mosesn the problem is, the rest of us do care

[2017-11-02 00:15] Trott commented on #16210
`git bisect` is suggesting that https://github.com/nodejs/node/commit/e567402aba903f7d828d428f1f5738bbf884636c is the source of this problem.

Here's three CI stress test failures in a row on that commit:

* https://ci.nodejs.org/job/node-stress-single-test/1513/nodes=ubuntu1604-64/console
* https://ci.nodejs.org/job/node-stress-single-test/1514/nodes=ubuntu1604-64/console
* https://ci.nodejs.org/

[2017-11-02 01:09] fs-eire commented on #16658
@Fishrock123 I understand that multiple isolates are not explicitly supported by Node. However, **this issue only happens on Node 8.5.0 or later**. When using Node 6.x, 7.x or 8.0~8.4.0, it works as expected without crash.

Maybe it is a regression in [8.5.0 release](https://github.com/nodejs/node/releases/tag/v8.5.0)?

[2017-11-02 01:36] joyeecheung commented on #16210
@Trott that commit landed 6 days ago while this issue was opened 18 days ago...I think there could be more to it, might need to audit some crypto error PRs

[2017-11-02 02:04] tuananh commented on #13815
Yes please.

[2017-11-02 02:10] Trott commented on #16210
@joyeecheung Urm...hmmm... Maybe that commit caused the failures to happen on ubuntu 1604 which only started failing very recently? Maybe the bug has deeper roots for Windows?

I did the stress testing on Ubuntu so it would go faster, but I guess I may need to take a deep breath, set aside several hours, and do it on Windows....

[2017-11-02 03:24] jasnell commented on #16624
Yeah I have a few more bits to work on. What parts are you looking at?

On Nov 1, 2017 14:06, "Anatoli Papirovski" <notifications@github.com> wrote:

@jasnell <https://github.com/jasnell> Is there any other work in progress
other than the PRs? I'm planning to take a look at that some of the C++
code this week but don't want to step on each other's toes.

—
You are receiving this because you were m

[2017-11-02 03:40] mosesn commented on #11552
@grantila sorry for being grumpy, I filed this ticket seven months ago to fix a specific issue I'm running into, and I've been totally unable to get anybody to agree on a fix to it.  So I think your solution seems reasonable but it's not clear to me that it fixes the fundamental issue in this ticket, which is that unconfigured node servers hang up when they receive upgrade headers.

[2017-11-02 03:48] lumenier1 opened #16678 "Control usb ports with node"
2017 and you just can't take control over usb ports with node out of the box on linux, lol.
[https://www.npmjs.com/package/usb](url)
[https://www.npmjs.com/package/electron-usb](url)
[https://ibb.co/g57noG](url)

* **Version**: 7.9.0
* **Platform**: Ubuntu 16.04
* **Subsystem**:

[2017-11-02 03:55] joyeecheung commented on #16210
@Trott I looked into e567402 again and AFAICT it does not seem to touch the code path tested in `test-async-wrap-uncaughtexception`. Maybe we could switch to another async hooks provider in the test to see if the root is in crypto?

[2017-11-02 04:48] spitWind opened #16679 "获取ino 精度丢失"
![lalpbbcc1rf0dinnarznawe_353_284 png_620x10000q90g](https://user-images.githubusercontent.com/18753430/32310250-010ce9d4-bfcc-11e7-9320-5567e0b09c1c.jpg)

* **Version**:1-9.0
* **Platform**:win
* **Subsystem**:
node fs.stat 获取文件 ino 精度丢失

[2017-11-02 04:55] XadillaX commented on #16679
## Translate

**Title:** Missing accuracy while getting `ino`

**Content:**

![](https://user-images.githubusercontent.com/18753430/32310250-010ce9d4-bfcc-11e7-9320-5567e0b09c1c.jpg)

+ Version: 1-9.0
+ Platform: win
+ Subsystem:

Accuracy lost while getting `ino` via `fs.stat`.

[2017-11-02 05:05] XadillaX commented on #16679
I think it because the `ino` in libuv is a unsigned int64:

[code]

And when filling to Node.js, it will be changed to `double`:

[code]

## Refs

+ http://docs.libuv.org/en/v1.x/fs.html#c.uv_stat_t
+ https://github.com/nodejs/node/blob/v9.0.0/src/node_file.cc#L435-L467

[2017-11-02 05:08] mscdex commented on #16678
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead. This issue tracker is for reporting bugs and submitting feature requests for node core. Issues with npm or other tools that *use* node should be posted to the appropriate issue tracker for those tools, unless it can be proven that the issue is in fact with node core and not th

[2017-11-02 05:08] XadillaX commented on #16679
How about add some function like `fs.safeStat` and make these value be a buffer or a number string?

[2017-11-02 05:09] mscdex commented on #16679
There is no real solution for this until JS gets [BigInt support](https://github.com/tc39/proposal-bigint), which is currently in stage 3. We've had this discussion before, and IMHO we should still wait for BigInt.

[2017-11-02 05:11] XadillaX commented on #16679
@mscdex but how could @spitWind get it correctly now?

[2017-11-02 05:15] XadillaX commented on #16679
Or maybe we could provide the raw `uv_stat_t` buffer to `fs.Stats` to let them parse by themselves?

[2017-11-02 05:20] gireeshpunathil commented on #16679
Please clarify: is it just accuracy? As inode numbers are unique identifiers into the disk blocks, I believe any change in the number leads to `incorrect` and `unusable` value as opposed to less accurate one?

[2017-11-02 05:25] XadillaX commented on #16679
@gireeshpunathil That's it. That's why I propose a safer one or a raw one.

[2017-11-02 05:28] gireeshpunathil commented on #16679
@XadillaX - thanks! I Agree that it is a bug that needs to be fixed. If there is no data type to support it, we should not record it in the first place, as not having an info is better than recording wrong info.

[2017-11-02 05:41] lumenier1 commented on #16678
So, Node still doesn't have usb support out of the box, does it? No one cares?

[2017-11-02 05:50] mscdex commented on #16679
I don't really agree with that. It's hard to say how often this is actually a problem in production.

[2017-11-02 05:53] XadillaX commented on #16679
@spitWind Could you please tell us that the situation you have to get this value in production?

[2017-11-02 05:58] gireeshpunathil commented on #16679
@mscdex - the problem is that it may not manifest as a problem. Wrong but valid inodes can corrupt files inadvertently, and may not be noticed easily.

[2017-11-02 06:05] gireeshpunathil commented on #16603
@digitalinfinity - thanks. My original concern is addressed by seeing a well defined document that articulates the platform differences, as well as a scanner tool to automate the dependency check. Now we seem to be well on the path for supporting NanoServer, I propose to run the node test suite in this platform and check we have a reasonable coverage, and potentially containing all the issues unde

[2017-11-02 07:02] bnoordhuis commented on #16679
Closing, duplicate of #12115.

[2017-11-02 07:02] #16679 closed

[2017-11-02 07:05] XadillaX commented on #12115
I came from https://github.com/nodejs/node/issues/16679.

IMHO my suggestion is to add a raw data into `fs.Stats`, or add a new function `fs.safeStat` to make `ino` stringify.

[2017-11-02 07:53] bnoordhuis commented on #16658
@fs-eire Can you run `git bisect` to find a specific commit?

[2017-11-02 08:19] schuay commented on #16531
@ak239 sounds great, let's work out the details to be able to enable coverage before any scripts are parsed!

Can you clarify what you mean by branch-level coverage? AFAIK the linked issue discusses providing coverage information for 'a || b' constructs, which in my mind are still block coverage (i.e. a counter for each block, whatever the definition of 'block' is) and not branch coverage (a count

[2017-11-02 08:35] jerome281 opened #16682 "Files permissions issue on Windows 10 Fall Creators Update"
Anyone having issues with nodejs on Windows 10 Fall Creators Update? I'm having files permissions issues on the node_module folder, does n't seem to be able to write on that folder

npm ERR! Error: EPERM: operation not permitted
npm ERR!
npm ERR! Please try running this command again as root/Administrator.

* **Version**: v9.0.0
* **Platform**: 64-bit (Windows)
* **Subsystem**:

[2017-11-02 09:05] Snorvarg opened #16683 "Uint8Array not counted by process.memoryUsage()?"
Hi,
I got confused when I used an Uint8Array recently and wanted to check how much memory it had allocated. It seems process.memoryUsage().heapUsed don't see/count my array!

Code example:

[code]

Sometimes usedMemAfter ends up smaller than usedMem, which I guess is about the garbage collector doing some cleanup. But there is no trace of me allocating a big array when I ask 'heapUsed'!

I guess I

[2017-11-02 09:12] bnoordhuis commented on #16683
Backing storage for typed arrays is not on the JS heap (what `.heapUsed` reports.)  You'll see it reflected in `.external` and (with caveats) `.rss` - "caveats" because memory can be committed lazily, i.e., not actually obtained from the system until it's read or written to.

[2017-11-02 09:12] #16683 closed

[2017-11-02 09:14] grantila commented on #16645
The docs on events sure need more work, primarily what argument data is sent in the events (and what that data means) as I described in https://github.com/nodejs/help/issues/877 as well as the **flow** of these events; when, if and under what circumstance they occur.

[2017-11-02 09:35] mcollina commented on #16619
@jasnell @apapirovski @sebdeckers or myself. However just tag @nodejs/http2 in your PR.
You can also find me on node-dev on IRC.

[2017-11-02 09:46] vsemozhetbyt opened #16684 "build: nodejs.org/dist/ lacks latest-carbon directory"
Refs: https://github.com/tj/n/issues/469

[2017-11-02 09:53] Snorvarg commented on #16683
Yep, that works, thank you very much!

[2017-11-02 10:37] bzoz commented on #16682
@jerome281 This sounds like npm issue, not a Node one, see https://github.com/npm/npm/issues/18380

[2017-11-02 10:39] #16504 closed

[2017-11-02 11:00] Ginden commented on #16678
Java, C#, C++, PHP, Perl, C, Python and Ruby don't have USB support out of the box too.

[2017-11-02 11:03] bnoordhuis commented on #16678
^ Good point.

@lumenier1 opened https://github.com/nodejs/help/issues/940.  I'll close this out.

[2017-11-02 11:03] #16678 closed

[2017-11-02 11:20] richardlau commented on #16684
Cc @nodejs/release

[2017-11-02 11:25] lumenier1 commented on #16678
Actually you can listen usb port and output list of devices with C# and Python.
If this is not the case with others, does it mean the leading light?
Hurry to close other feature requests, rather close while nobody saw, lol.

[2017-11-02 11:44] EvgenyOrekhov opened #16687 "require.resolve.length should be 1, not 2"
* **Version**: since 8.9.0
* **Platform**: any
* **Subsystem**: module

According to [the docs](https://github.com/nodejs/node/blob/841e305e4c0bc9f633006a293b893fd69dbbf596/doc/api/modules.md#requireresolverequest-options), `require.resolve()` has the following signature:

[code]

which means the `options` parameter is optional, but `require.resolve.length === 2`, which is wrong, it should be `1`.

[2017-11-02 11:59] apapirovski commented on #16666
Hi @yoshuawuyts — any luck with the above? Let me know if it still doesn't work as expected :)

[2017-11-02 12:16] mscdex commented on #16687
I wouldn't consider this a bug. Just because there is an explicit parameter does not mean a value for that parameter is required. This is the case throughout node core, not just `require.resolve()`.

Also, explicitly setting/overriding the `.length` property of the function is unnecessary. Besides, what happens when someone monkey-patches that function? The length may no longer be what you expect.

[2017-11-02 12:18] mscdex commented on #16682
This should be posted to the [npm issue tracker](https://github.com/npm/npm/issues) instead.

[2017-11-02 12:18] #16682 closed

[2017-11-02 12:26] seet61 commented on #13077
Also having this issue
node v8.9.0
the issue solved?

[2017-11-02 12:43] EvgenyOrekhov commented on #16687
@mscdex Here is a quote from ECMAScript 2018 Language Specification:

I think Node.js core modules should behave consistently with ECMAScript standard built-in modules.

[2017-11-02 12:45] apapirovski commented on #16645
I don't even think `http` is documented particularly well in this regard, hence modules like `on-finished` that everyone ends up using. PRs to improve documentation (in any way, even the tiniest changes) are always greatly appreciated.

[2017-11-02 13:05] Trott opened #16688 "Investigate flaky test-http2-server-rst-stream"
* **Version**: v10.0.0-pre
* **Platform**: win2008r2-vs2017
* **Subsystem**: test, http2

https://ci.nodejs.org/job/node-test-binary-windows/12447/COMPILED_BY=vs2015,RUNNER=win2008r2-vs2017,RUN_SUBSET=1/console:

[code]

@nodejs/http2 @nodejs/testing  @nodejs/platform-windows @nodejs/build

[2017-11-02 13:12] Trott commented on #16210
Hmmm....after 12 hours of nothing but red (presumably due to this issue), Windows is coming back green/yellow/red now...

[2017-11-02 13:16] Trott commented on #16210
The constant failures on ubuntu1604-64 stopped too. 🤔

[2017-11-02 13:18] Trott commented on #16210
There was a  commit that landed around that time that (incidentally) removed the text from the `throw Error()` in this test...

[2017-11-02 13:26] apapirovski commented on #16688
Yeah, I think this test just makes too many assumptions about the flow. I've had it on my list for a while. I believe it also fails on node-chakracore and they marked it as flaky.

Will work on it shortly so assigning to myself.

[2017-11-02 13:31] Ginden commented on #16678
It requires third-party libraries, so it isn't "out of the box".

[2017-11-02 13:42] maclover7 commented on #16684
cc @nodejs/build

[2017-11-02 13:46] Trott commented on #16210
Argh, nope, still a thing, now showing up on fedora24:

https://ci.nodejs.org/job/node-test-commit-linux/13748/nodes=fedora24/console

[code]

[2017-11-02 14:34] Antaris commented on #16682
@bzoz @mscdex I don't think this is a NPM issue. This same issue happens to me. It was working fine before the Fall Creators Update was installed, but broke afterwards. Package installs fail for both npm and yarn. Here is a yarn error:

[code]

[2017-11-02 15:06] joyeecheung commented on #16210
BTW I have seen this a few times this week on my macbook, but have never been able to reproduce. It only shows up when I run the tests in parallel.

[2017-11-02 15:21] joyeecheung commented on #16687
@EvgenyOrekhov ECMAScript built-in modules follow the spec while Node.js modules (are supposed to) follow the Node.js API documentation, but should the the notation in the Node.js API documentation be consistent with the ECMAScript spec? Personally I don't think so, because spec and documentations are different things.

[2017-11-02 15:26] cjihrig commented on #16687
Node also has a number of functions that I don't think this would be really practical for. https://nodejs.org/api/net.html#net_server_listen, for example.

[2017-11-02 16:02] bnoordhuis commented on #16682
EPERM is Unix speak for "computer says no."  It's the error the operating system reports.

If it worked before the update, is broken afterwards and everything else is the same, then logically it's the update, not node.js.  Try reporting it to MS.

[2017-11-02 16:11] EvgenyOrekhov commented on #16687
@joyeecheung It's not about the notation, it's about required and optional parameters and about the argument count. If optional parameters are not included in the default argument count in ECMAScript standard built-in modules, I expect Node.js core module to behave the same way. More than that, as a JavaScript developer, I expect every JavaScript library to behave the same way ECMAScript standard

[2017-11-02 16:20] addaleax commented on #16687
I would consider this a non-bug as well. Because `arguments` and optional parameters exist, and because functions can choose to ignore parameters, you can’t rely on `fn.length` for anything in JS, really.

Or to put it another way: Whether an argument is optional is a question of the function’s semantics, not of the information a function exposes as its properties in JS, so either way the docs are

[2017-11-02 16:26] EvgenyOrekhov commented on #16687
@addaleax Whether it's a bug or not, but the fact remains that I used `require.resolve()` with Ramda, and it worked before Node.js 8.9.0, but it broke in Node.js 8.9.0 because Ramda's `curry()` depends on `fn.length`.

[2017-11-02 16:38] EvgenyOrekhov commented on #16687
@addaleax And therefore every new optional parameter in any function that is changing function's `length` is a breaking change. It is a wrong way to extend software systems.

[2017-11-02 17:02] Trott commented on #16210
I'm worried about this one at Code + Learn next week because I can totally imagine a third of the room having the test fail locally or something like that....

[2017-11-02 17:05] jasnell commented on #16210
FYI: https://github.com/nodejs/node/pull/16692

[2017-11-02 17:10] refack commented on #16210
Alternative: Marking as flaky https://github.com/nodejs/node/pull/16694 PR

@jasnell RE: #16692 we see either a regression between 8.6.0 and 8.7.0 or some level of non-determinism, so IMHO we shouldn't force the test to pass and so hide the bug

[2017-11-02 17:10] mscdex commented on #16687
IMO depending on `fn.length` is wrong unless you're doing it with your own code that you control.

[2017-11-02 17:19] bnoordhuis commented on #16687
I'll close this out.  It's clear there is no consensus it's a bug, rather the opposite.

[2017-11-02 17:19] #16687 closed

[2017-11-02 18:13] richardlau commented on #16640
But we don't just distribute the runtime. As soon as we commit to this repository we've made a copy and are distributing (via GitHub). We only have the one LICENSE (i.e. we don't have one for the runtime binaries and one for the source).

Whether the attribution needs to be explicit depends on the terms of the license of the thing being added.

[2017-11-02 18:26] Pacerier commented on #12108
Proper programs have a 1-click uninstall function. It's completely unacceptable for NodeJS to follow the route of rogues.

[2017-11-02 18:28] mhdawson commented on #16688
Failed here as well https://ci.nodejs.org/job/node-test-binary-windows/12461/COMPILED_BY=vs2015,RUNNER=win2008r2-vs2017,RUN_SUBSET=1/consoleText

[2017-11-02 18:37] mainettis commented on #16684
would this be why I can't install node-v8.9.0-x64.msi when it can't find/reach node-v0.12.2-x86.msi?

[2017-11-02 18:40] #14897 closed

[2017-11-02 18:44] tniessen commented on #16688
I believe I saw this failing locally as well.

[2017-11-02 19:09] Fishrock123 commented on #16684
@mainettis Like. Yeah this is an issue for @nodejs/build

[2017-11-02 19:14] bnoordhuis commented on #12108
@Pacerier Here, have the reply that befits a comment like yours: pull request welcome.  See the discussion in #10091.

[2017-11-02 19:16] Fishrock123 commented on #16600
Shouldn't it just take `process.title`?

[2017-11-02 19:17] Fishrock123 commented on #16547
I see the info. Closing.

[2017-11-02 19:17] #16547 closed

[2017-11-02 19:19] Pacerier commented on #7371
These are what I removed for OSX 10.12.5:

- /usr/local/bin/node
- /usr/local/bin/npm
- /usr/local/include/node
- /usr/local/share/man/man1/node.1
- /usr/local/share/doc/node
- /usr/local/share/systemtap/tapset/node.stp
- /usr/local/lib/node_modules
- /usr/local/lib/dtrace/node.d

if /usr/local/bin has no other files, delete it. Same for /usr/local/include, /usr/local/lib/dtrace, /usr/local/lib, /

[2017-11-02 19:19] Fishrock123 commented on #16459
We could put something in like "if the option you are looking for is not here, try `--v8-options`". Thoughts?

[2017-11-02 19:50] System-Arch opened #16695 "File System (fs) is lacking bindings for lutimes(3)"
* **Version**: ALL
* **Platform**: Linux, Mac, other UNIX
* **Subsystem**: File System (fs)

File System (fs) is lacking bindings for lutimes(3), and thus it is very difficult to modify the metadata for a symbolic link from within a Node.js application.  This C Library function has been implemented in glibc since version 2.6, which is over 10 years old, and has likely been available on the Mac for

[2017-11-02 19:53] #16688 closed

[2017-11-02 19:56] jsha commented on #16459
In this case, I wasn't totally sure what option I was looking for; I was checking help to remind myself of the name. I think now that `--prof` is officially documented as the way to do profiling, it might be good to hoist it from the (mostly obscure) `--v8-options`.

Another possibility to make it more clear that there is additional help available would be to rename or alias `--v8-options` to `--h

[2017-11-02 20:31] tniessen commented on #16625
@bnoordhuis Are you going to act as a mentor here?

[2017-11-02 20:42] pavvell opened #16696 "Should the peerMaxConcurrentStreams be 100 by default?"
https://github.com/nodejs/node/blob/3a977fc8c0d13f796c65e05e31bb548217fbc37b/src/node_http2.cc#L57

Specification says:
"Initially, there is no limit to this value. It is recommended that this value be no smaller than 100, so as to not unnecessarily limit parallelism".
[spec...](https://tools.ietf.org/html/rfc7540)

Ideally, the value by default should be the maximum allowed value?

[2017-11-02 22:07] watilde opened #16698 "License notation of child dependencies"
* **Version**: master
* **Subsystem**: meta, tools

Currently, we use [license-builder.sh](https://github.com/nodejs/node/blob/master/tools/license-builder.sh) to add the deps/tools license notation to our root license file. As some collaborators pointed out at this pull request https://github.com/nodejs/node/pull/16635#issuecomment-341259968, the notation of child dependencies in `node_modules` s

[2017-11-02 22:17] fs-eire commented on #16658
commit found: https://github.com/nodejs/node/commit/9e08695f85d4273f01e010cf384f42030d66b453 @addaleax @matthewloring

This change introduces a new implementation of v8::Platform. It looks related to this issue.

[2017-11-02 22:23] mhdawson commented on #13824
@ealib, @jasongin  created this PR to document. Please review if you have a chance: https://github.com/nodejs/node/pull/16699

[2017-11-02 22:26] #16684 closed

[2017-11-02 22:30] rvagg commented on #16684
https://nodejs.org/download/release/latest-carbon/

[2017-11-02 22:31] rvagg commented on #16684
not sure if people realise it but we also link docs, so you can do https://nodejs.org/docs/latest-carbon/api/

[2017-11-02 22:39] MylesBorins commented on #16603
libuv 1.15.0 is slated to land on v6.x on tuesday. Should we back it out or float this patch?

[2017-11-02 22:57] misterdjules commented on #16528
@MylesBorins The problem was probably that the node binary that was used was built on a version of SmartOS that was more recent (and not ABI compatible) with the version of SmartOS on which npm was running when the problem occurred.

@anandsuresh Can you confirm that?

[2017-11-02 23:00] PieterGit commented on #16547
Can confirm that info is there. Thanks for fixing.

[2017-11-02 23:16] refack commented on #16603
IMHO floating the patch is the better path.

/cc @saghul

[2017-11-02 23:30] TinOo512 commented on #14225
Now that Node 8 became the new LTS is there any update on that?

[2017-11-02 23:33] vsemozhetbyt commented on #14225
Does [Semver-Major section](https://nodejs.org/en/blog/release/v9.0.0/#semver-major) suffice?

[2017-11-02 23:56] TinOo512 commented on #14225
@vsemozhetbyt Thx, this is nice! I'm still seeing value to have a migration guide at least between LTS versions.

[2017-11-02 23:59] addaleax commented on #16658
@fs-eire Oh, I’m sorry, I didn’t know you were looking for the cause of this.

Yes, this happens because Node has its own `v8::Platform` implementation now, which doesn’t care about multiple isolates. I’ve linked a patch above that I *think* should take care of most things.

I’ve opened https://github.com/nodejs/node/pull/16700 with the patch(es) I mentioned above, please feel free to check that o

[2017-11-03 01:37] #14736 closed

[2017-11-03 02:53] lumenier1 commented on #16678
Seriously? Sorry, you are wrong and there is no need to prove a pointless view anyway.
You can do this with C# and Python without any problems.
All Node has is a broken additional module.

[2017-11-03 02:55] apapirovski commented on #16678
You're welcome to submit a PR that implements the functionality, if you believe it's useful and important to have in node core.

[2017-11-03 03:28] BrighTide commented on #16600
Often the process title is just 'npm' or 'node' so you get the same problem. Ideally, I'd like to click the context dropdown and see 'Service A' and 'Service B' for ease of debugging. Changing process.title also has limitations and side effects on other things as I understand it

[2017-11-03 03:40] rafegoldberg commented on #15755
I have to agree with @jez9999. I can see some of the philosophical/implementation issues with a package.json configurable `paths` option, but it seems like a common issue that many devs have with Node, no? And it likely _is_ solvable by smarter minds than mine? In any case, would be a fantastic feature for a common usecase!

[2017-11-03 03:54] MylesBorins commented on #16210
I created a new project to track flakes on CI and put a variety of related issues to this test in a column. Please feel free to add more related issues / prs

[2017-11-03 04:31] MylesBorins commented on #16603
@refack my only concern is that it is practically Friday and the release is going out Tuesday.

We'll need to get that patch landed upstream ASAP, and even then I'd like to get a couple opinions about fast tracking it from @nodejs/lts

[2017-11-03 04:39] joyeecheung commented on #16640
Hmm..I am not a lawyer but are those license files recursive? I mean we do attribute our dependencies in our own license, so other projects embedding Node.js don't have to attribute all of them again right?

[2017-11-03 04:40] gireeshpunathil commented on #16695
@System-Arch - I am interested to know the use case for `lutimes`. Agree that decades of existence in the C runtime provides sufficient relevance, but getting / setting time attributes of a symbolic link (in contrast to a physical file that holds business data) looks like a (file) sys-admin's use case to me, not much for general purpose programs. Thoughts?

[2017-11-03 05:23] bnoordhuis commented on #16695
https://github.com/nodejs/node-v0.x-archive/issues/2142 - almost six years old to the day. :-)

Note that the last two are only available on BSD-like systems (although they could be implemented on Linux now - kernel support used to be an issue.)

If you're on a BSD-like system, you can already do this:
[code]
That is in fact how `fs.lchmod()` and `fs.lchown()` are implemented.

[2017-11-03 05:26] gireeshpunathil commented on #16603
@MylesBorins: sorry - but can you please clarify which PR?

[2017-11-03 06:00] bdharrington7 commented on #16662
So does that imply there's been some sort of auditing by non-profit companies?

[2017-11-03 06:01] bnoordhuis commented on #16662
No, just the many eyeballs principle of open source.

[2017-11-03 06:10] bnoordhuis commented on #16678
For chrissake, 30 seconds of googling would have informed you it's not built into python.  If you're doing the entitled antagonist spiel, at least get your facts straight.  Stop wasting everyone's time and go away.

[2017-11-03 06:27] RealDolos opened #16706 "Piping a stream into slow and fast consumer streams in parallel causes excessive buffering"
* **Version**: v9.0.0, v8.9.0
* **Platform**: Windows (but really, all of them)
* **Subsystem**: streams

Problem
===

My use case is the following:
I want to send a file over the network but at the same time calculate a local checksum (like a sha-1 hash) for later use.

I tried the following (abbreviated and pseudo):
[code]

And it works... Except that pipe'ing to `checksum` - which can consume a

[2017-11-03 06:50] bnoordhuis commented on #16625
I can.

@j0t3x If you are asking for assistance, can you phrase you questions as closed (or at least directed) questions?  "Any guidance" is a bit open-ended.

[2017-11-03 07:16] bnoordhuis commented on #16105
Sorry for hijacking but I was looking into this issue today and I noticed that deletion in random order is 4x slower than sorted or semi-sorted.
[code]
[code]
With setTimeout and clearTimeout stubs to measure the overhead:
[code]
Showing a pretty substantial 5 us to insert or delete.

[2017-11-03 07:16] Frugality opened #16708 "LiveEdit.SetScriptSource: crashes on versions from 8.4 through 9.0"
* 8.3-8.9, v9.0.0:
* Mac OS x64:
* Debug/LiveEdit

At some point in the V8 upgrades, Live Edit started hard-crashing when calling the SetScriptSource() function. If you're running in an environment where you can see the error logs, you might see this:

[code]
I use this functionality to monitor files for changes, and reload them into the running runtime where possible. It's a huge help during deve

[2017-11-03 07:27] jdat82 commented on #3020
So I'm wandering, what is a good solution if you want to execute code and share things between your code and the provided code? Is there a robust and manageable solution in node? If I understand well vm is not reliable in fine.

[2017-11-03 07:55] addaleax commented on #16706
Hi, thanks for the bug report! This seems pretty weird for me since it sounds like the exact same bug as https://github.com/nodejs/node/issues/5820 (and https://github.com/nodejs/node/issues/5257), so we actually have tests that should make sure this doesn’t happen.

If I modify your example like this to make it runnable, I see a steady memory footprint:

[code]

My conclusion would be that *somet

[2017-11-03 09:14] fmj02 opened #16710 "Why the buffer requires to pass the offset, better buffer class?"
For example `buf.readUInt8(offset[, noAssert])` I wonder why not simply `buf.readUInt8()`? It's just adding the offset. For example take a look at QDataStream of Qt framework.

Also, why int8 and not just boolean? How can I convert int8 to boolean? This is javascript not C++

IMO the official `Buffer` class is really bad and lacking simplicity. Or there should be another class like BinaryStream, B

[2017-11-03 09:22] darkyen commented on #15439
I get the same issue with a different device (a tap interface), in my case I am calling `select(2)` from a native addon before calling fs.read this however adds extra lag to the system.

[2017-11-03 09:24] sreepurnajasti commented on #16616
@joyeecheung Agreed with adding `Subsystem:` comment. Feels like it have its own pros.
Its a great idea to put this in `code-and-learn` tasks. Great follow up :)

[2017-11-03 09:38] gibfahn commented on #16603
@gireeshpunathil pretty sure the patch is https://github.com/libuv/libuv/pull/1611

[2017-11-03 09:38] bertalanimre opened #16711 "Unable to install latest LTS on CentOS 7 via package manager"
Dear Dev. Team,

I'm unable to install the latest LTS version of NodeJS on a freshly installed CentOS 7 based VPS. Here is what I've done:

- Installed OS
- curl --silent --location https://rpm.nodesource.com/setup_8.x | sudo bash -
- yum install nodejs

Results:
The package `2:6.11.5-1nodesource` was installed instead of the 8th version.

In my `/etc/yum.repos.d/nodesource-el7.repo` I have:
[code

[2017-11-03 09:59] sholladay opened #16712 "host vs hostname inconsistency"
**Version:** Node 8 and others

## Problem

The semantics of the `host` option for `server.listen()` are incompatible with the conventions of other APIs, both in Node itself and in browsers, etc. This is a footgun that could be fixed by making the options for `.listen()` be consistent with other APIs.

## Context

Most systems I interact with distinguish between a `hostname` and a `host`, where th

[2017-11-03 10:00] gireeshpunathil commented on #16603
sorry for my ignorance but that is not yet landed (to be backed out) right?

[2017-11-03 10:11] gibfahn commented on #14225
@vsemozhetbyt if you're moving from Node 6 to Node 8, you actually need the list of semver-majors in v7.0.0 and v8.0.0:

https://nodejs.org/en/blog/release/v7.0.0/#commits
https://nodejs.org/en/blog/release/v8.0.0/#semver-major-commits

I agree we should publish a separate guide though.

[2017-11-03 10:48] bradennapier opened #16713 "[REQUEST]: Document Breaking Changes in 9.0"
* **Version**: 9.0
* **Platform**: OSX

It would appear that this version implements breaking changes into the http module.  I am not really sure where it specifically is being brought up from but it woudl appear from `axios` or `follow-redirects`.

Either way, from the minimal documentation on the error it would appear that this is likely due to no longer accepting `(undefined)` and only allowing

[2017-11-03 10:55] #16713 closed

[2017-11-03 10:56] addaleax commented on #16713
Fwiw, there is a [list of breaking changes](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V9.md#semver-major) in the changelog for Node 9.

[2017-11-03 10:58] bradennapier opened #16714 "[REQUEST] Better Errors in http validate headers"
* **Version**: 9.0
* **Platform**: OSX

Just spent a good 2 hours trying to track down the reason for an error message.  Whle the stack pointed to a nodejs source file, I wasn't sure if it was one of the packages reporting it or something else.  I didn't even know where the problem was coming from:

https://github.com/nodejs/node/blob/master/lib/_http_outgoing.js#L497-L508

Here it just gives this

[2017-11-03 11:08] gireeshpunathil commented on #16708
Easily recreated in MAC. Failing with master as well. Trying to get a debug build to dig further.

[2017-11-03 11:36] kasicka commented on #16711
This is duplicate of https://github.com/nodejs/node/issues/13944. Check out https://github.com/nodesource/distributions/issues/486.

[2017-11-03 11:41] gireeshpunathil commented on #16708
reduced the recreate to:
[code]

[2017-11-03 11:52] Ginden commented on #16706
I'm not sure if that would be an expected behaviour in all cases (I can think of cases when it's totally fine to use whole memory avalaible). I think it would be better to emit warning if stream buffers too much (eg. more than `100*highWatermark`).

[2017-11-03 12:00] gibfahn commented on #16603
Reopening because the issue isn't fixed till this patch lands in v8.x and v6.x.

@MylesBorins meant either back out libuv 1.15.0, or float this patch

Not sure if possible, but if libuv could include that patch in a 1.15.1, that would be better than than floating a patch.

I'd rather we float the patch if possible.

[2017-11-03 12:07] joyeecheung commented on #16714
In this case `ERR_MISSING_ARGS` does seem to be a bit too board for debug-ability, at least it should include the header name in the error message. Another search shows that the `ERR_HTTP2_INVALID_HEADER_VALUE` does not include the header name either. Also the `validateHeader` part can be eliminated with `captureStacktrace`.

I will open a PR shortly.

[2017-11-03 12:11] joyeecheung commented on #16711
Closing for the same reason in https://github.com/nodejs/node/issues/13944#issuecomment-311330330:

[2017-11-03 12:11] #16711 closed

[2017-11-03 12:17] RealDolos commented on #16706
I just tried to follow your hint regarding `stream.resume()`, by tracing what happens:
[code]
It didn't reveal anything interesting, but it did reveal interesting stuff on the call stack.
Turns out it's the `combined-stream` package (required by `form-data`) with help from `delayed-stream` deserving the blame here, not the node stdlib.

So, closing this issue for that reason. Sorry for wasting you

[2017-11-03 12:17] #16706 closed

[2017-11-03 12:26] gireeshpunathil commented on #16708
[code]

/cc @bnoordhuis  (my capability ends here. :) )

[2017-11-03 12:50] yoshuawuyts commented on #16666
@apapirovski thanks for getting back to me — testing out right now; I didn't get a chance to try it out yesterday.

[2017-11-03 12:55] yoshuawuyts commented on #16666
No, unfortunately it doesn't solve the issue 😞 — still getting the same error.

[2017-11-03 12:57] apapirovski commented on #16666
Do you have automated tests for this? Or simplest steps to replicate? Would like to try it. Surprised 'finish' doesn't work...

[2017-11-03 12:59] apapirovski commented on #16666
Ugh, I'm an idiot. Typo... it's `res` not `req` that the event should be listened for on.

[2017-11-03 13:06] yoshuawuyts commented on #16666
@apapirovski all good, thanks for being on top of this! Though unfortunately that doesn't seem to work either :(

### patch.diff
[code]

[2017-11-03 13:08] apapirovski commented on #16666
Ok, that is surprising. Let me test locally.

[2017-11-03 13:12] joyeecheung commented on #16708
The `vm.runInDebugContext()` method has be deprecated since v8.x, [from the documentation](https://nodejs.org/api/vm.html#vm_vm_runindebugcontext_code):

[code]

[2017-11-03 13:13] mscdex commented on #16710
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead. This issue tracker is for reporting bugs and submitting feature requests for node core. Issues with npm or other tools that *use* node should be posted to the appropriate issue tracker for those tools, unless it can be proven that the issue is in fact with node core and not th

[2017-11-03 13:13] #16710 closed

[2017-11-03 13:15] yoshuawuyts commented on #16666
Also worth noting that refreshing a few times on the `npm start` output in Bankai seems to work fine - but if you smash f5 long enough you'll hit a case where it crashes.

I've got a few larger projects I'm testing this version in by symlinking it, and it tends to crash faster there.

[2017-11-03 13:18] CesarLRosa opened #16716 "In node V 9.0.0, HTTP Client Agent is leaking when reusing a socket in HTTP Request"
* **Version**: 9.0.0
* **Platform**: x86_64 GNU/Linux
* **Subsystem**: core http

This is the first issue that I open. I apologize in advanced if I did something wrong...

When making HTTP requests with an HTTP Agent to make the reuse of the connected socket, I got the following warning:

* **(node:27613) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 connect listeners

[2017-11-03 13:19] apapirovski commented on #16666
Hmmm... I wonder if there's an issue elsewhere though because I setup the basic test case from the issue referenced above and I couldn't get it to fail. It failed reliably before the change to use `res.on('finish', disconnect)`.

[2017-11-03 13:24] yoshuawuyts commented on #16666
@apapirovski I think a fair resolution at the moment would be to submit the patch you proposed for now. Thanks a lot!

Might be worth noting too that we haven't received any reports of similar issues with http/2 disabled. It might be worth staying on the lookout for more failures. But I'm probably stating the obvious here, as http/2 is still marked "experimental" ☺️.

[2017-11-03 13:24] #16666 closed

[2017-11-03 13:41] mdavis777 opened #16717 "Nodejs 8 npm local cache add not functioning"
* **Version**: v8.9.0
* **Platform Linux**: mdavis.desktopy 4.13.9-200.fc26.x86_64 #1 SMP Mon Oct 23 13:52:45 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: npm cache

If I run npm cache add on a remote tarball such as  "npm cache add https://registry.npmjs.org/grunt-cli/-/grunt-cli-1.2.0.tgz" everything works fine.
However if I wget the same tarball and do "npm cache add grunt-cli/-/gru

[2017-11-03 13:46] mscdex commented on #16717
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead. This issue tracker is for reporting bugs and submitting feature requests for node core. Issues with npm or other tools that *use* node should be posted to the appropriate issue tracker for those tools, unless it can be proven that the issue is in fact with node core and not th

[2017-11-03 13:46] #16717 closed

[2017-11-03 14:05] maclover7 commented on #16716
@CesarLRosa Can you confirm that this did not occur in previous versions of Node, and first appeared in v9.0.0?

[2017-11-03 14:07] apapirovski commented on #16716
This looks like a result of https://github.com/nodejs/node/pull/8895 — ping @lpinca @nodejs/http

[2017-11-03 14:08] maclover7 commented on #16712
@sholladay Would it make sense as a first step to add some more documentation about this behavior?

[2017-11-03 14:16] apapirovski commented on #16640
It's possible I'm missing something here but we do include the LICENSE files in the repo. I don't see any evidence that we need to put their contents into our own LICENSE.

[2017-11-03 14:23] lpinca commented on #16716
It makes sense, the socket is reused and still connected so we only keep adding more listeners as the `'connect'` event is not emitted.

It should be easily fixable by checking if the socket is connected and add use the `'connect'` listener only when it isn't.

[2017-11-03 14:24] lpinca commented on #16716
I'll work on a fix and add a regression test as soon as I can.

[2017-11-03 14:26] apapirovski commented on #16640
Reading Apache, GPL, etc. it seems like our main concern here would be mainly with [GPL-3.0](https://www.gnu.org/licenses/gpl-3.0.en.html) which requires explicit mention within the distribution's own license file. So check if anything within node_modules is GPL and add it, I suppose. The rest should be fine as is.

[2017-11-03 14:35] lunow commented on #9355
On my system an old npm version caused the problem. Reinstall with

[code]

fixed it.

[2017-11-03 14:40] joyeecheung commented on #12646
I would like to nominate @maclover7 (thought they was a collaborator until I noticed not, we will get onboard into the build WG together tomorrow)

Commits in core: https://github.com/nodejs/node/commits/master?author=maclover7
Issues/PRs in core: https://github.com/nodejs/node/search?utf8=%E2%9C%93&q=commenter%3Amaclover7&type=Issues
Issues/PRs in build: https://github.com/nodejs/build/search?utf

[2017-11-03 14:44] cjihrig commented on #12646
+1 to @hashseed @guybedford and @maclover7

[2017-11-03 14:49] bnoordhuis commented on #16708
Yep, doing that through the debug context no longer works.  You can still do it through the inspector protocol: https://github.com/nodejs/node/blob/3d4d5e0c60f00693947c940b09249f3952bb0cdc/deps/v8/src/inspector/js_protocol.json#L615-L629
Hope that helps.

[2017-11-03 14:49] #16708 closed

[2017-11-03 15:27] Redocram commented on #8102
Hi everybody,
I have the same problem with my code, or I think so.

May I have a short example of the implementation of the `if (res.complete === true)` statement for a post request?

Thank all!

[2017-11-03 15:31] ghost opened #16721 "HTTP2: Make stream/header/flags classes accessible."
* **Version**: Node.js v8.9.0
* **Platform**: W10 64
* **Subsystem**: HTTP2

With the HTTP1 module, you could add your own prototypes to the request and response classes. Some npm packages utilized this, including my own.

However, it seems I am unable to create new prototypes for the stream/headers/flags classes because they are not exposed. The only classes visible to me are Http2ServerResponse

[2017-11-03 15:36] addaleax commented on #16721
https://github.com/nodejs/node/pull/15560 does this, right?

[2017-11-03 15:38] apapirovski commented on #16721
@addaleax I think the request is to expose Http2Stream & other related classes.

[2017-11-03 15:47] IwHy4XnXCM commented on #16721
@apapirovski Affirmative. The callback function for createServer usually has three parameters - `stream`, `headers`, and `flags`. My request is to expose the classes for these.

[2017-11-03 16:47] jasnell commented on #16721
Over the coming weeks, the `Http2Stream` will be seeing a fairly significant refactoring on the internal implementation. A key part of the implementation is the fact that instances of `Http2Stream` are created only by the `Http2Session` object and are tightly managed. There is a significant amount of state and work happening at the native layer. Exposing that class to be replaced by userland will

[2017-11-03 16:54] mhdawson commented on #12646
+1 to maclover7 as well.

[2017-11-03 17:34] mhdawson commented on #16640
@apapirovski I think the GPL licenses require more than a mention and often have a "viral" component.  I agree its important to have a list of licences that would be acceptable or not for inclusion.

[2017-11-03 17:39] mhdawson commented on #16557
@refack either of those 2 suggestions sound good to me.

[2017-11-03 17:40] j0t3x commented on #16625
Thanks @bnoordhuis!,

Here it goes:
I see 2 changes, 1 in the code and 1 in the documentation.

For the first one, i have to use a generic error with description for when the public key lies out of the curve, right?
Im not sure on where this change should happen. Heres an attempt of solving it:

From what i saw [here](https://github.com/nodejs/node/blob/3d4d5e0c60f00693947c940b09249f3952bb0cdc/lib

[2017-11-03 17:48] bnoordhuis commented on #16625
Ideally, return an error code and construct the exception object in JS land.

Yes, that's the one you want.

Yep.

[2017-11-03 17:49] MylesBorins commented on #16603
backport in https://github.com/nodejs/node/pull/16724

[2017-11-03 17:56] lpinca commented on #16716
@CesarLRosa can you confirm that this [patch](https://github.com/nodejs/node/pull/16725.patch) fixes the issue?

[2017-11-03 18:03] Frugality commented on #16708
Ooh, the Inspector protocol looks great! I did notice that runInDebugContext() was marked deprecated in favor of inspector, however, the "Experimental" tag scared me away from using the inspector module. The single-debugger-client interface was also problematic for my use case, but it sounds like that'll be removed in the near future (https://developers.google.com/web/updates/2017/10/devtools-rele

[2017-11-03 18:09] j0t3x commented on #16625
Sorry to bother @bnoordhuis,

Just to make it crystal clear for me, this implies using a try catch for the 2 error cases coming from [crypto](https://github.com/nodejs/node/blob/72f21d248f0140910a3c5d5eea1165adadd99c86/src/node_crypto.cc#L4945) to then in the catch, construct the exception for every one of the 2?

Thanks in advance.

[2017-11-03 18:12] bnoordhuis commented on #16708
[code]
Grep for `Session` in test/, there are a couple of tests you can use as a starting point.

[2017-11-03 18:21] bnoordhuis commented on #16625
What I mean is that you replace the `ThrowError()` calls with `args.GetReturnValue().Set(...)`, where `...` is the error code.

It's usually a number but it could be a string in this case, as long as you can distinguish it from a genuine return value in JS land (which in this function is a buffer.)

While a try/catch would work, it's a bit inefficient because you end up creating two exception obje

[2017-11-03 18:43] haithamAth commented on #13077
Also having this issue :(

[2017-11-03 19:02] maclover7 commented on #12646
Thank you @joyeecheung -- I'd love to join the team :)

[2017-11-03 19:07] Trott commented on #16713
Suggestion: "semver-major" is jargon that should be replaced with "breaking changes" in the changelog.

This would seem to be a common practice and something that is widely understood.

Searching for `"semver-major" "changelog"` on Google gives less than 600 hits. Searching for `"breaking changes" "changelog"` results in over 47K hits.

[2017-11-03 19:23] Frugality commented on #16708
Thanks so much for the help and pointer to the Session tests. I have a better understanding here of how the pieces work. The session interface looks ideal once multi client debugging is in (super new in Chrome 63, any idea when this might come to Node?) -- I normally run with a debugger already attached, which isn't currently supported and throws 'TypeError: Session is already attached". In the me

[2017-11-03 19:25] j0t3x commented on #16625
Ok, so it's getting clearer now 😄 . That part of the change should happen in `node_crypto.cc`.
Makes sense to make this arguments numbers? maybe 1 and 2(properly commented), or should i leave the texts as they are.

[code]

[code]

Understood.

Thanks @bnoordhuis

[2017-11-03 20:04] ddumontatibm opened #16728 "WSL error in module resolution with trailing slashes"
* **Version**: 8.8.1, 8.9.0
* **Platform**: linux
* **Subsystem**: May be only related to WSL on windows 10.
**update**: Certainly happens in the bash console today.  Happens when windows tries to access node_modules folder installed by linux npm.   I just did a clean npm i on windows and both variants work

In 8.9.0 there is an error with module resolution for modules containing trailing slashes.

[2017-11-03 20:05] bradennapier commented on #16713
Yeah I definitely did not know that is what that meant at all.

[2017-11-03 20:15] ddumontatibm commented on #16728
updated comment as I think this might be more of a WSL issue than a regression.

[2017-11-03 21:37] hgabe opened #16730 "Node.js 9 npm problem"
* **Version**:
9.0.0
* **Platform**:
Windows 10
* **Subsystem**:

[2017-11-03 21:41] richardlau commented on #16730
Duplicate of https://github.com/nodejs/node/issues/16649.

[2017-11-03 21:41] #16730 closed

[2017-11-03 21:58] joyeecheung commented on #16713
We can have a [glossary like the one chromium has](https://www.chromium.org/glossary).

[2017-11-03 22:04] bradennapier commented on #16713
It just has to be under releases here.  You can keep semver-major or w/e but just headline it at the top / separate them so it ends up like:

#### Semver-Major (Breaking Changes)

* [[`de4a749788`](https://github.com/nodejs/node/commit/de4a749788)] - **(SEMVER-MAJOR)** internal/util: use internal/errors.js (Sebastian Van Sande) [#11301](https://github.com/nodejs/node/pull/11301)
* [[`db2e093e05`](

[2017-11-03 22:04] jasnell commented on #16713
One thing that I've done for all of the major releases is separate out the `semver-major`, `semver-minor` and `semver-patch` commits into separate lists to at least make those more visible. I'd definitely be +:100+ to changing the headers of each list to something like `Breaking Changes (semver-major)` ... the only issue with that is that the changes are only *Potentially* breaking... should we ha

[2017-11-03 22:05] bradennapier commented on #16713
You could definitely just break it into two semver-major headlines.

## Semver-Major (Breaking)

 - blah blah

## Semver-Major

 - blah blah

[2017-11-03 22:06] jasnell commented on #16713
The issue primarily is that what is breaking for some might not be breaking for others, and unfortunately we don't know which is which. Perhaps `Semver-Major (Potentially Breaking)` would be good enough? :-)

[2017-11-03 22:09] bradennapier commented on #16713
Yeah I think as long as it were annotated in any capacity somewhere it will be more than enough.  I honestly ignore most of those and read just the top headlines usually (and im sure that is the common case for people) - unless there is something specific I care about (like the HTTP/2 ones in the latest releases).

However, if I saw **Breaking** anywhere as I scan through it I would definitely spe

[2017-11-03 22:11] bradennapier commented on #16714
Thank you!  You guys are awesome

[2017-11-03 22:22] gibfahn commented on #16713
I think `Breaking Changes` as commonly used in Changelogs really means "possibly breaking changes", or "this might break you, you should check", so I'd be good with just doing **Semver Major (Breaking Changes)**, seems like it'll help people, and I don't _think_ we'll get many people complaining that they weren't broken by the changes.

If a change ever broke everyone I don't think we'd ship it 😁

[2017-11-03 22:23] anandsuresh commented on #16528
@misterdjules Seems like an ABI compatibility issue.

[2017-11-03 22:37] rjerue opened #16731 "File i/o, case sensitivity and cross-platform behavior"
* **Version**: 9.0.0
* **Platform**: 64 bit Windows and Linux present 3.13.0-108-generic #155-Ubuntu SMP Wed Jan 11 16:58:52 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: fs

So, when using fs commands across platforms, I've noticed some interesting behavior with case sensitivity. On OSes where case sensitivity is not a concern like Windows and OSX, node's file i/o calls work the same w

[2017-11-03 23:19] mscdex commented on #16731
-1 I would not expect node to perform case-insensitive path lookups on case-sensitive file systems. Not only would it be unexpected, but it could lead to breakage in userland and would probably lead to reduced performance.

I do not see this as a cross-platform issue, it is more of a difference in file system behavior. Even on Windows, you can enable case sensitivity for NTFS file systems. Also, t

[2017-11-03 23:30] Trott commented on #16278
Should this remain open at this point? I imagine "yes". If so, maybe we can get a checklist of concrete actions to take?

[2017-11-03 23:33] davisjam opened #16732 "Watchdog depends on libuv loop ordering"
Version: 8.8.1
Platform: Linux jamie-Lenovo-K450e 4.8.0-56-generic #61~16.04.1-Ubuntu SMP Wed Jun 14 11:58:22 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
Subsystem: node_watchdog.cc (affects the VM module)

Here's code from node_watchdog.cc, which is used in node_contextify.cc to time out runaway  executions in a VM context.

[code]

*Summary of behavior*
1. In the destructor, we `uv_async_send` to tr

[2017-11-04 00:10] Trott opened #16734 "Investigate flaky sequential/test-inspector-port-zero-cluster on Windows"
* **Version**: v10.0.0-pre
* **Platform**: win2016 vs2017
* **Subsystem**: inspector

https://ci.nodejs.org/job/node-test-binary-windows/12499/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=1/console

[code]

@nodejs/v8-inspector @nodejs/platform-windows @nodejs/testing @nodejs/build

[2017-11-04 00:12] Trott commented on #16210
FWIW, moving this test to sequential does not solve the problem (tried it in https://github.com/nodejs/node/pull/16733) so having too much other stuff happening on the system is unlikely to be the problem.

[2017-11-04 00:14] rjerue commented on #16731
Yeah, it's not so much a problem, just a quirk in the behavior that I noticed. Often cross-platform things run the same across platforms; this did not. This did not. Sure it is I assume because it actually does calls to the system OS and the OS actually acknowledges if the file or directory is there / what the file or directory is.

[2017-11-04 00:28] CesarLRosa commented on #16716
@lpinca
Yes, your patch fix the issue! I run the test that I posted on this issue, and several other tests to check the HTTP Agent behavior, and everything is working just fine!

Thanks a lot for the fast fixing!

[2017-11-04 02:37] Trott commented on #16210
I can replicate this if I use the inspector and do a lot of stepping into stuff, but if I use the inspector  without a lot of stepping into stuff, then not so much.

[2017-11-04 02:55] mscdex opened #16736 "Warning/Notice when processing V8 profiler output from same binary"
* **Version**: master
* **Platform**: Linux
* **Subsystem**: v8

Using node with `--prof` and then `--prof-process` with the same binary results in this message being printed before the formatted output: 'Testing v8 version different from logging version'.

[2017-11-04 04:30] #16603 closed

[2017-11-04 06:30] Trott commented on #16210
I'm starting to suspect that this is caused either by the `EmitBeforeExit(0` changes in https://github.com/nodejs/node/commit/f27b5e4bdaa or (more likely, perhaps?) the V8 changes that commit is trying to accommodate. Haven't been able to pin it down yet, but if a C++ person wants to do some debugging, please do.  :-D

[2017-11-04 10:38] lpinca commented on #16716
Let's keep this open until the patch lands in master.

[2017-11-04 12:35] code-by opened #16744 "After running npm and react-native node remains in memory (ubuntu 16.04 - 17.10)"
After running and stopping react-apps (React and React Native) node remains in memory (OS Ubuntu 16.04 and 17.10).
After 5-10 times of running react-native run-android, sometimes react-native running very slow and system become almost not-responsible.
Screen shot of System monitor after running npm start.... and react-native run-android and halting them (Ctrl+C).
![screenshot from 2017-11-04 13-28

[2017-11-04 13:47] ronovar opened #16746 "(node:16163) Warning: Use Cipheriv for counter mode of aes-256-ctr Error After Upgrading To Node v8.9.0"
Today upgraded node to v8.9.0 and after runing my application.js i get this from node:

(node:16163) Warning: Use Cipheriv for counter mode of aes-256-ctr
(node:16163) Warning: Use Cipheriv for counter mode of aes-256-ctr
(node:16163) Warning: Use Cipheriv for counter mode of aes-256-ctr

it gets warning every seconds so on octa core cpu all threads go up to 100% i can't kill it and need to do in

[2017-11-04 13:53] GeorgeTaveras1231 commented on #10457
Update on this. The flag has changed recently to `--inspect-brk`. So:

[code]

[2017-11-04 14:19] bnoordhuis commented on #16746
It's in the warning: use `crypto.createCipheriv()`, not `crypto.createCipher()`.

[2017-11-04 14:19] #16746 closed

[2017-11-04 14:23] eduardbcom opened #16747 "Improve ChildProcess::killed property behaviour. Or update documentation."
* **Subsystem**: doc and child_process

According to documentation (https://nodejs.org/dist/latest-v9.x/docs/api/child_process.html#child_process_subprocess_killed) the `killed` property has invalid semantic in comparison to ChildProcess::kill method behaviour (internal/child_process.js)

Concretely, the problematic code is

[code]

After the `this._handle.kill(signal);` method call we have no ide

[2017-11-04 14:31] bnoordhuis commented on #16744
That's not an issue with node.js itself.  Please report it to the projects you mention.

[2017-11-04 14:31] #16744 closed

[2017-11-04 14:40] bnoordhuis commented on #16625
Returning strings seems like the least-effort path.  Numbers you'd have to map back to error messages first.

[2017-11-04 14:40] cjihrig commented on #16747
My take on this is that it is a documentation issue: https://github.com/nodejs/node/pull/16748

[2017-11-04 14:44] bnoordhuis commented on #13077
It was fixed a long time ago so you're probably not experiencing the same issue.  Please open a new issue and include steps to reproduce.

[2017-11-04 14:44] ronovar commented on #16746
Thanks...your solution works.

[2017-11-04 14:48] eduardbcom commented on #16747
@cjihrig

why not update code ?

`kill`/`killed` is historically bad name for just signal notification, but we do not have to follow this rule.

Moreover, the `killed` param that indicates just correct signal notification isn't very helpful cuz the `kill` method already returns `true` for that purpose. Logic duplication and no advantage to use `killed` param at all.

[2017-11-04 14:57] cjihrig commented on #16747
Updating the code is much more likely to break existing applications in non-obvious ways. The `'exit'` event also provides the signal used to terminate the process, so you can check that.

I'm not saying it's a great name, but this flag is literally indicating the result of calling `kill(2)` (on non-Windows platforms).

[2017-11-04 15:04] bnoordhuis commented on #16732
Libuv's event loop phases are well-documented.  Relying on their order in the watchdog is fine.

No, both can happen.  The 'is stopped?' check is done only once per event loop "tick."

The scenario you describe only happens when both fire in the same tick.  I don't see the current implementation as wrong because the exact timing of the async event is essentially arbitrary.

[2017-11-04 16:36] p3x-robot opened #16750 "http2 is not working"
* **Version**: 9.0.0
* **Platform**: Linux
* **Subsystem**: Mint

Based on this:
https://nodejs.org/api/http2.html#http2_server_side_example

It gives protocol problem so I had to use ```spdy```, and that works.

[2017-11-04 16:37] apapirovski commented on #16750
It's hard to do much without having some additional information regarding what does or doesn't work, or if there's an error that is being thrown by the server.

[2017-11-04 16:51] #16645 closed

[2017-11-04 16:53] apapirovski commented on #16643
Fixed by https://github.com/nodejs/node/commit/291ff72f859df3c4c3849021419f37cd542840a6

[2017-11-04 16:53] #16643 closed

[2017-11-04 16:57] ronovar opened #16751 "Node v8.9.0 how to rewrite crypto.createCipher to crypto.createCipheriv?"
Before Node v8.9.0 i was using this code:

/**
 * DEFINE
 * @encrypt
 */
function encrypt(text, password){
	/* GET - crypted */
	try {
		var cipher  = crypto.createCipher(algorithm, password),
		    crypted = cipher.update(text,'utf8','hex');

		crypted += cipher.final('hex');
		return crypted;
	} catch(e) { return }
}

/**
 * DEFINE
 * @decrypt
 */
function decrypt(text, password){
	/* GET - deci

[2017-11-04 16:59] mscdex commented on #16751
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead. This issue tracker is for reporting bugs and submitting feature requests for node core. Issues with npm or other tools that *use* node should be posted to the appropriate issue tracker for those tools, unless it can be proven that the issue is in fact with node core and not th

[2017-11-04 16:59] #16751 closed

[2017-11-04 16:59] apapirovski commented on #16750
The API for http2 core module is different than for spdy. Your code above is creating an http2 server that doesn't use TLS (note the example you linked above uses `createSecureServer`). Browsers can't connect to non-TLS http2 servers.

This is a type of question that belongs in https://github.com/nodejs/help — this tracker is for core issues & bugs only.

[2017-11-04 16:59] #16750 closed

[2017-11-04 17:00] ronovar commented on #16751
Sorry..i posted in wrong thread..please admin delete this post..i post in help thread same question...sorry for that.

[2017-11-04 17:07] mcollina opened #16752 "http2: client does not emit error when connecting to HTTP/1"
* **Version**: master, 8.8.1, 9.0.0
* **Platform**: all
* **Subsystem**: http2

Currently if we connect to a HTTP/1 server using HTTP/2 the session and the stream are not emitting an error.

Here is a test:

[code]

[2017-11-04 17:07] mcollina commented on #16752
cc @jasnell

[2017-11-04 18:12] refack commented on #16577
@knoxcard thank you very much for the clarification.

[2017-11-04 19:26] unional opened #16755 "Document no-op console methods"
I just noticed starting from Node@8, `console.debug()` is defined but it is a no-op.

This causes my library to not behaving correctly.

It would be better to at least mention in the documentation that they are there but are no-op.

Are any of these has the same problem?
https://github.com/nodejs/node/issues/1716#issuecomment-102722301

[2017-11-04 19:38] davisjam commented on #16732
Thanks @bnoordhuis.

So If the Async and the Timer can both fire in the same tick, with the Async preceding the Timer, then the Timer will call `TerminateExecution` even though the script completed. Could this have any ill effect?

[2017-11-04 20:19] addaleax commented on #16210
@trott The only V8 functionality I know of that will require the change is asynchronous WASM compilation, which is currently behind a flag even in V8 master.

It *might* be related to f27b5e4, but I’d be surprised since all I can see V8 doing when the test is being executed is scheduling background tasks, no foreground or delayed foreground tasks…

[2017-11-04 20:22] maclover7 commented on #16755
relevant #12675

[2017-11-04 21:00] lpinca commented on #16671
Fixed by https://github.com/nodejs/node/pull/16672.

[2017-11-04 21:00] #16671 closed

[2017-11-04 21:50] p30arena opened #16759 "Compiling for Android"
os: Ubuntu Server 16.04.03
./android-configure /path/to/your/android-ndk
make

above lines don't work.
I see a lot of errors while compiling,
first related to intl
I exclude intl

then std::nearbyint
I remove std::

then to_string
I define it in the file

then errors related to **openssl**

function app_get_pass undefined reference to stdin
and so on...

_

[2017-11-04 22:42] Trott opened #16762 "Porting `compare.R` to JavaScript?"
* **Version**: 10.0.0-pre
* **Platform**: all
* **Subsystem**: benchmarks

Any chance the benefits of having `benchmark/compare.R` functionality in JavaScript would outweigh any downsides?

No opinion from me on it. Just pondering.  I know R and Python tend to be the languages of choice for this sort of thing but maybe there's something to be said for a stdlib-js approach to it? /cc @kgryte

(For

[2017-11-04 23:03] KenanY commented on #16762
https://github.com/nodejs/node/pull/12585 has some discussion on doing the stats tests in JS/Python.

[2017-11-04 23:30] refack commented on #16762
The main benefit of R is the `ggplot` library, but ATM we don't use it in our main benchmarking flows.

I asked an R ninja to do this porting, but he lost interest.
IMHO if we port this as-is, there should be no difference, we just need an implementation of the T-table

[2017-11-05 00:50] spitWind commented on #16679
你们可以设置成_int64的，然后获取到原生的buffer比较  buffer就可以确认，，或者字符串

[2017-11-05 00:51] spitWind commented on #16679
貌似得解决下～～

[2017-11-05 00:52] spitWind commented on #16679
怎么超全局(针对机器)hook  node里面的module?比如  fs模块

[2017-11-05 00:53] spitWind commented on #16679
两个原因，js  精度。。另外一个是double64..

[2017-11-05 02:12] joyeecheung commented on #16762
Should we mark this as good-first-issue? One don't really need to know too much about core to do this but if they are an stats ninja they might be interested.

[2017-11-05 07:32] benjamingr commented on #16759
@p30arena just verifying - but you replaced `/path/to/your/android-ndk` with the actual path to your NDK - right?

cc @nodejs/build

[2017-11-05 09:22] bnoordhuis commented on #16732
No.  `uv_stop()` gets called twice but it's idempotent.

[2017-11-05 09:36] mafintosh opened #16767 "Piping a simple program to stdout gives "MaxListenersExceededWarning: Possible EventEmitter memory leak detected when""
* **Version**: v8.9.0
* **Platform**: Linux brunhilde 4.13.8-1-ARCH #1 SMP PREEMPT Wed Oct 18 11:49:44 CEST 2017 x86_64 GNU/Linux
* **Subsystem**: console.js

When running a program that produces a lot of output that is consumed by another program in the pipeline, Node gives memory leak errors.

To reproduce try saving this simple program:

[code]

Then run

[code]

And quit less (type `q`). This

[2017-11-05 11:07] benjamingr opened #16768 "Unhandled promise rejections are confusing to new users"
I try to monitor and answer Node.js promise questions in StackOverflow. Several times now [this sort of question](https://stackoverflow.com/questions/47119903/unhandledpromiserejectionwarning-in-mongoose-modal) arises where the OP gets an unhandled rejection error:

Which I then explain is just a regular error _wrapped_ in an `UnhandledPromiseRejectionWarning`.

I think changing the error format c

[2017-11-05 11:15] mscdex commented on #16767
You mean `--trace-warnings` ?

[2017-11-05 11:18] addaleax commented on #16767
Fwiw, I couldn’t reproduce this with master or with v8.9.0… but yes, `--trace-warnings` should give a good hint at what’s going on.

[2017-11-05 11:21] p30arena commented on #16759
@benjamingr yes, of course I did it!

[2017-11-05 11:25] mscdex commented on #16767
I'm not able to reproduce either on Linux.

[2017-11-05 11:27] tniessen commented on #16768
We could add a URL to a web page explaining the problem in more detail, some other frameworks do something similar when an internal error occurs.

[2017-11-05 11:30] bnoordhuis commented on #16759
@p30arena Android is community-supported (i.e., it's not a tier 1 platform) and not regularly tested, meaning it's probably broken.  Have a look at other Android issues that people have reported, maybe they can be of help.

If you manage to fix your build woes, send a pull request our way.  Note that changes to files in deps/ should be sent to their upstream projects first.

[2017-11-05 11:30] #16759 closed

[2017-11-05 11:32] fcicq commented on #16543
I guess it is fixed by #16525, no more exceptions on node 9.0.0, closing.

[2017-11-05 11:32] #16543 closed

[2017-11-05 11:33] bnoordhuis commented on #16736
#16769

[2017-11-05 11:55] Tiriel commented on #16755
I there! I'd like to pick this one up as my first contrib to core.
Already forked and built+tested the repo.

Any more information you can give me on this one, just in case?

[2017-11-05 11:55] mcollina commented on #16767
I think it's this block: https://github.com/nodejs/node/blob/master/lib/console.js#L81-L87.
What I think is happening is that there are a bunch of writes that are about to error, and we add a lot of `'error'` in the meanwhile.

[2017-11-05 11:57] mcollina commented on #16767
I can reproduce it on Mac OS X, you just need to wait some seconds before hitting `q` within less.

[2017-11-05 12:03] mcollina commented on #16767
My fix is working, I'll send a PR soon.

[2017-11-05 12:37] mafintosh commented on #16767
@mscdex I'm also on linux and can reproduce. `--trace-warnings` solves it for me but when other users report a memleak or you get a hard to reproduce one it would be nice if a stack happened per default.

[2017-11-05 13:22] mscdex opened #16771 "Investigate flaky sequential/test-inspector-async-hook-setup-at-signal"
* **Version**: master
* **Platform**: windows
* **Subsystem**: inspector, async_hooks

[CI link](https://ci.nodejs.org/job/node-test-binary-windows/12524/COMPILED_BY=vs2015,RUNNER=win2008r2-vs2017,RUN_SUBSET=0/console)

[code]

[2017-11-05 13:22] Tiriel commented on #16755
From what I see, based on #12675 and on `lib/console.js`, these functions are all non-op:
[code]
Can someone confirm/infirm?

[2017-11-05 13:24] mscdex commented on #16771
/cc @nodejs/v8-inspector @nodejs/platform-windows @nodejs/testing

[2017-11-05 14:09] eduardbcom commented on #16747
What if we will deprecate this property in the next versions ?

I do not see any advantage to use it in that form. That's rudimental functionality.

[2017-11-05 14:35] refack opened #16772 "flake: `sequential/test-inspector-stop-profile-after-done`"
* **Version**: `master`
* **Platform**: `Windows`
* **Subsystem**: inspector,test

https://ci.nodejs.org/job/node-test-binary-windows/12525/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=3/console
[code]
Refs: https://github.com/nodejs/node/issues/14507

[2017-11-05 14:38] refack opened #16773 "flake: `sequential/test-inspector-async-hook-setup-at-signal`"
* **Version**: `master`
* **Platform**: Windows
* **Subsystem**: test,inspector

https://ci.nodejs.org/job/node-test-binary-windows/12524/COMPILED_BY=vs2015,RUNNER=win2008r2-vs2017,RUN_SUBSET=0/console
[code]

#### ` [err] FATAL ERROR: v8::HandleScope::CreateHandle() Cannot create a handle without a HandleScope`

[2017-11-05 14:41] refack commented on #16773
/cc @nodejs/v8-inspector

[2017-11-05 14:41] refack commented on #16772
/cc @nodejs/v8-inspector

[2017-11-05 14:43] refack commented on #16773
Dup of https://github.com/nodejs/node/issues/16771

[2017-11-05 14:43] #16773 closed

[2017-11-05 14:46] refack commented on #16771
this line got me worried: `[err] FATAL ERROR: v8::HandleScope::CreateHandle() Cannot create a handle without a HandleScope`, since AFAIK `HandleScope` should be RAII in a deterministic way ?

[2017-11-05 15:40] sam-github commented on #12209
@andynuss The code in the bug report doesn't look at all like the code in your zip file.

The relevant code (see below) doesn't appear to show the end event ocurring multiple times, it shows that your java client is sending multiple requests with the same url. I'm not a java dev, and don't have a working java env or the time to figure out how to compile and run the java client you provided. I sugg

[2017-11-05 15:40] #12209 closed

[2017-11-05 15:45] sehrope opened #16778 "Possible regression with crypto.randomBytes(size, null)"
* v9.0.0
* Linux 4.10.0-37-generic #41~16.04.1-Ubuntu SMP Fri Oct 6 22:42:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* crypto

The `crypto.psuedoRandomBytes(...)` and `crypto.randomBytes(...)` functions throw an ERR_INVALID_CALLBACK if the second parameter is `null`. In prior versions a `null` value for the second parameter would be treated the same as undefined causing the function to be invoked

[2017-11-05 16:38] Trott commented on #13901
Has not been an issue for a while AFAIK. Closing.

[2017-11-05 16:38] #13901 closed

[2017-11-05 16:45] maclover7 commented on #16778
cc @jasnell

[2017-11-05 16:51] joyeecheung commented on #16778
Personally I don't think it's a regression because `null` is never documented as a valid value for `cb`, but it worth mentioning in the changelog.

[2017-11-05 16:55] jasnell commented on #16778
Yeah I likely should have called that out in the notable changes because it is hidden. This was actually somewhat intentional to make the type validation tighter.

[2017-11-05 17:01] joyeecheung commented on #16768
Maybe we should code the warnings and document them all in a central place, like what we do for errors?

[2017-11-05 18:02] mohansennimalai opened #16780 "nodejs net server is not reading vb6 data over namedpipe"
Node Version: 8.9.0
Platform: Windows 10 64-bit

**Output:**

![jalsx](https://user-images.githubusercontent.com/7634024/32417573-29f3cf96-c221-11e7-873b-1afbcd529b84.png)

Node net server is not reading any data from vb6 namedpipe client. Though I could see the log "Client Connected", data is not triggered at any point and hence connection end and close immediately.

**VB6 Client Code:**

[code]

[2017-11-05 18:08] mscdex commented on #16780
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead. This issue tracker is for reporting bugs and submitting feature requests for node core. Issues with npm or other tools that *use* node should be posted to the appropriate issue tracker for those tools, unless it can be proven that the issue is in fact with node core and not th

[2017-11-05 18:08] #16780 closed

[2017-11-05 18:48] targos commented on #16407
Done

[2017-11-05 18:48] #16407 closed

[2017-11-05 19:49] SheetJSDev opened #16781 "`Cannot use 'in' operator to search for '0' in arguments_marker`"
* **Version**: 9.0.0
* **Platform**: darwin and linux

Error as stated in message.

To elicit the error, clone https://github.com/sheetjs/js-xlsx and npm install:

[code]

Relevant cut from the debug log:

[code]

This is not triggered by any previous node version (tested against latest 8.x 7.x 6.x 5.x 4.x 0.12.x 0.10.x 0.8.x).

A quick search suggests this is possibly a v8 issue: https://bugs.chr

[2017-11-05 19:57] sehrope commented on #16778
Ok makes sense. I think calling it out explicitly in the changelog would be useful.

[2017-11-05 20:05] mscdex commented on #16781
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead. This issue tracker is for reporting bugs and submitting feature requests for node core. Issues with npm or other tools that *use* node should be posted to the appropriate issue tracker for those tools, unless it can be proven that the issue is in fact with node core and not th

[2017-11-05 20:05] #16781 closed

[2017-11-05 20:13] SheetJSDev commented on #16781
If you read the proposed fix in the linked issue from chromium:

https://bugs.chromium.org/p/chromium/issues/detail?id=777836#c6

https://chromium-review.googlesource.com/c/v8/v8/+/738176

The comment certainly suggests this is something related to V8.  The issue itself happens to manifest in `npm` usage, but the actual problem is within the domain of node core.

[2017-11-05 20:20] ikokostya commented on #10154
Any news? I still get error for `nodejs 9.0.0`.

[2017-11-05 20:24] mscdex commented on #16781
See: https://github.com/nodejs/node/pull/16704

[2017-11-05 20:30] refack commented on #16768
List of all [Ee]mitWarning I've found https://gist.github.com/refack/4fbb1e7411d10c82f6a18bd9556f70ab

[2017-11-05 20:32] grantila opened #16782 "ClientHttp2Stream.push event is never emitted"
* **Version**: 9.0.0
* **Platform**: macOS
* **Subsystem**: http2

When reading the documentation, it seems to be an event, [`'push'`](https://nodejs.org/dist/latest-v9.x/docs/api/http2.html#http2_event_push) that would receive the headers for a server push. However, this event is never emitted, AFAICT.

The documentation for [Push streams on the client](https://nodejs.org/dist/latest-v9.x/docs/ap

[2017-11-05 20:41] refack commented on #16768
Looking at the current mechanism, seems like it should be easy to restructure the warning's message:
1. Always add stack trace for `UnhandledPromiseRejectionWarning`
2. Merge the first time deprecation warning, or separate the two better
https://github.com/nodejs/node/blob/3a4f0e9b76d292f002edd8bd6e23815dc87d07ba/lib/internal/process/promises.js#L62-L84

[2017-11-05 20:42] apapirovski commented on #16782
Streams will always be emitted on the session, so you have to have `session.on('stream', fn);` — no way around that. I think there might be a slight misunderstanding of what dependency management in http2 streams is for. I recommend reading the spec http://httpwg.org/specs/rfc7540.html#StreamPriority — it's mostly about prioritization of resources, it's not a true parent-child relationship.

[2017-11-05 20:45] grantila commented on #16782
Alright, good information, @apapirovski

However... When will `push` be emitted on the stream? Why is that event there?

[2017-11-05 20:56] apapirovski commented on #16782
Well, you need an equivalent of the `response` event for a pushed stream. 'stream' event is triggered when a push promise arrives and 'push' is triggered within that when the rest of the headers are sent.

http://httpwg.org/specs/rfc7540.html#PushResources
http://httpwg.org/specs/rfc7540.html#PUSH_PROMISE

[2017-11-05 21:04] apapirovski commented on #16782
What this allows you to do is, for example, receive a server request then create a couple of pushStreams for CSS & JS and send those before the actual response. The client will receive those and now won't request the data (if it behaves well). Then you initiate an actual `respond` for the main stream and then after that the two pushed streams get their headers sent alongside their data.

[2017-11-05 21:20] grantila commented on #16782
Alright, first you get the stream and the **request** headers, as a 'stream' event on the session.

Then, on this pushed stream, you'll get the **response** headers and data as `push` and `data` events respectively. Slightly confusing naming, hence this issue, but it all became clear now, thanks.

[2017-11-05 21:20] #16782 closed

[2017-11-05 22:14] refack commented on #16603
Good job everyone 🥇 7 days from report to fix, including a roundtrip through libuv.

[2017-11-05 22:18] kgryte commented on #16762
@Trott Thanks for the ping. In [stdlib](https://github.com/stdlib-js/stdlib), we have implemented T-test functionality, which seems to be the main feature of the `compare.R` script not readily achievable in JavaScript. For an implementation, see [here](https://github.com/stdlib-js/stdlib/tree/33ff670c3f138649b4479122e37b5f33ccd16cf2/lib/node_modules/%40stdlib/math/stats/ttest). While we would like

[2017-11-05 22:24] f0ster commented on #5730
Just chiming in after some research, I would definitely use this if it was available in the stdlib ^^ :)

[2017-11-06 00:30] refack commented on #16762
@kgryte thank you so more for the input.

Getting `SciPy` installed on Windows while doable is IMHO just a ted more cumbersome than installing the `R` runtime. So I'd say that's not a big win.

 💡
🤓 What we could do is write a t-test-as-a-service, that way we replace the dependency on `R` with internet access.

But just to put things in perspective, we are not looking for scientific paper grade st

[2017-11-06 01:37] Planeshifter commented on #16762
As a slight addendum to @kgryte's post, I would just like to note that the reason we haven't published to `npm` yet is not that the packages are not fully functional and thoroughly tested, but that the final project structure is not cast in stone yet. Also, while we make no guarantees at this point, it's not very likely that the API of the t-test will change in the future.

As of now, our recommen

[2017-11-06 04:01] spitWind opened #16784 "node 没法很便捷的校验对象"
* **Version**:
* **Platform**:
* **Subsystem**:
例如: app.routes.post.map?? 我要校验得写
app &&app.routes && ..很是麻烦

推荐官方使用npm install checkobj 来做检验
cheeck(app,  {"app":{"routes":{"post":{"map":"function"}}}})  就可以了

[2017-11-06 04:32] mscdex commented on #16784
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2017-11-06 04:32] #16784 closed

[2017-11-06 05:14] CMCDragonkai commented on #7439
I get the same error on Linux, not just on Mac, is there no way to directly read from STDIN fd, without going through streams?

[2017-11-06 05:40] StefanScherer commented on #16603
I want to thank you all involved resolving this so quickly. Can‘t wait for the next release.

[2017-11-06 06:00] AkshayIyer12 commented on #14209
Can I work on the issue?

[2017-11-06 06:04] CodeMagic6 opened #16785 "webpack build error with node---UnhandledPromiseRejectionWarning"
node-version: 7.6.0 and 8.9.0
platform: windows10

Recently when I use webpack command 'npm run build' It shows Bugs but It's OK few days ago.below it's the message.

**(node:7948) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: original.line and original.column are not numbers -- you probably meant to omit the original mapping entirely and only map the gene

[2017-11-06 06:54] spitWind opened #16787 "性能优化"
* **Version**:1-9.0
* **Platform**:win
* **Subsystem**:
node 性能不好
拜托 internal 内核好歹用 yuicompressor压缩一下行不?
还有 js 源码 性能不好呀.........

[2017-11-06 07:44] benjamingr commented on #16768
https://github.com/nodejs/node/issues/16768 Another one

[2017-11-06 07:47] benjamingr commented on #16785
Hey, sorry for the confusing message! [I've actually raised an issue about better naming it yesterday](https://github.com/nodejs/node/issues/16768) and we'll make those errors clearer.

The actual error is:

This is a webpack error (and not a Node.js error) - specifically you're not passing the source maps options correctly or are using a plugin that isn't doing so. Feel free to open an issue in S

[2017-11-06 07:47] #16785 closed

[2017-11-06 07:51] benjamingr commented on #16787
Hey, the Node.js issue tracker is for English questions only about bugs or improvement suggestions of Node.js programs. We to not provide support for yuicompressor anyway - and an issue should be opened for yuicompressor instead if noticed an issue with it.

There is a Chinese localization team at https://github.com/nodejs/nodejs-zh-CN whose members _might_ be able to direct you to better support.

[2017-11-06 07:51] #16787 closed

[2017-11-06 07:58] benjamingr commented on #16768
@refack thanks:

Expanding on your suggestion, maybe something like:

1. Always add stack trace for UnhandledPromiseRejectionWarning
2. Show the error first.
3. Explain it's in a promise chain.

Here is a bike chain:

[code]

WDYT @refack ?

Also looking for feedback from @jasnell who worked on the original warning API, @BridgeAR and @Fishrock123 for working on the "exit on GC" stuff and @addaleax

[2017-11-06 08:24] KiritoCheng commented on #16103
I also met the same problem, this is the latest git bash bug, if back to the previous version can kill the process node

[2017-11-06 08:45] bnoordhuis commented on #7439
@CMCDragonkai You can `fs.open('/dev/tty')` and read from that file descriptor.   You'll have to make sure nothing in your program uses `process.stdin` though or you'll get mixed results.

[2017-11-06 09:43] gowpen opened #16789 "doc events: Erroneous reference to EventListener"
* **Version**: v9.0.0

The docs contain an erroneous reference to `EventListener`. I believe it's meant to be a reference to `EventEmitter`.

Location:
* Node.js v9.0.0 API docs
* Events module
* [`Asynchronous vs. Synchronous`](https://nodejs.org/api/events.html#events_asynchronous_vs_synchronous) section
* First sentence

Current text:

Proposed correct text:

[2017-11-06 09:52] benjamingr commented on #16789
Thanks for spotting the issue and for fixing it in your fork. If you go ahead and open a pull request I'll approve it and after a few other collaborators took a look we'll land it. Thanks :)

[2017-11-06 10:19] image72 opened #16792 "nodejs crash in production env"
install from homebrew. in webpack build progress. what output mean ?
* **Version**: v8.5.0
* **Platform**: Darwin image72s-MacBook-Pro.local 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64
ProductName:	Mac OS X
ProductVersion:	10.12.6
BuildVersion:	16G29

console output
`
<--- Last few GCs --->

[24031:0x104801200] 58765967 ms: Mark-sw

[2017-11-06 10:20] gowpen opened #16793 "doc events: Erroneous use of effects"
* **Version**: v9.0.0

The docs contain an erroneous use of `effects` where the intended meaning seems to be `affects`.

Location:
* v9.0.0 API docs
* Events module
* [EventEmitter.defaultMaxListeners](https://nodejs.org/api/events.html#events_eventemitter_defaultmaxlisteners) section
* Second paragraph
* First sentence

Current text:

Proposed correct text:

[2017-11-06 10:33] #16714 closed

[2017-11-06 10:52] mscdex commented on #16792
Does this happen with the latest version of node v8.x?

[2017-11-06 11:13] bnoordhuis commented on #16792
Yes.  This line in particular:

Means the sourcemap module is trying to `Array#push()` an element onto an array that's already 50,855 elements long.

A 50k array itself isn't out of the ordinary but if the elements themselves are big (which seems likely, considering the context) it's going to exhaust memory sooner or later.

Try passing `--max_old_space_size=4096` to node and if that doesn't work,

[2017-11-06 11:13] #16792 closed

[2017-11-06 11:33] image72 commented on #16792
got, thanks a lot. :-)

[2017-11-06 11:48] #16789 closed

[2017-11-06 11:53] #16793 closed

[2017-11-06 11:56] ronag opened #16796 "Document `destroy` behaviour"
It's a bit unclear if destroyed stream can emit `data` after being destroyed?

[2017-11-06 12:53] CMCDragonkai commented on #7439
@bnoordhuis What kind of mixed results are you implying?

I figured to use process.stdin.fd on Windows, but on Linux/Mac to open /dev/fd/0 instead.

[2017-11-06 13:24] bnoordhuis commented on #7439
@CMCDragonkai With one resource and two readers it's indeterminate who reads what: reader A may read the first line, B the second line, A the third line, etc.

[2017-11-06 13:29] CMCDragonkai commented on #7439
In my case, that's the expected behaviour. Thanks!

[2017-11-06 13:50] fcicq opened #16797 "http2: stream shutdown exception (2)"
* **Version**: 9.0.0
* **Platform**: linux 64bit
* **Subsystem**: http2

another two exceptions on stream destroy. the condition is the same as previous reported #16543, pipe a http.request response to http2 stream.

Note: I used setTimeout(0) on stream & session and no timeout change later.

[code]

[2017-11-06 14:13] bzoz commented on #16728
It does seem to work on my box, I get:
[code]

[2017-11-06 14:17] ronag opened #16798 "http2: http1 compat res.destroy"
This is a bit weird behaviour. In http/1 when you call `res.destroy` the browser will detect that the connection was unexpectedly disconnected and signal the response as incomplete/invalid/corrupt. However, with http/2 and http/1 compat the browser will actually cache the incomplete response. I think a `res.destroy` (i.e. without `res.end`) in http/1 compat should signal an error to the browser as

[2017-11-06 15:08] loretoparisi commented on #4363
Hey @madarche if I do

[code]

I will get a `type string` even if I do not pass the `encoding` in the options.

[2017-11-06 15:40] mscdex commented on #16796
What is this in reference to? Streams in general?

[2017-11-06 15:52] jonask-wix commented on #14544
hi, one of the links in issue is broken, it points to https://github.com/nodejs/node/blob/master/test/sequential/test-domain-abort-on-uncaught.js

[2017-11-06 15:55] ronag commented on #16796
@mscdex Yes, I believe httpClient response stream can emit 'data' events even after `destroy` (since it doesn't call `_dump`). However, I believe for all other streams this is not the normal behaviour.

[2017-11-06 16:20] Trott commented on #16772
Again today: https://ci.nodejs.org/job/node-test-binary-windows/12549/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=3/console

[code]

[2017-11-06 16:23] Marsup commented on #9799
I'm not really sure but I think https://github.com/nodejs/node/pull/14781 fixed it, or at least I can't make it fail with your instructions anymore. Would you say it is fixed ?

[2017-11-06 16:42] bnoordhuis commented on #9799
@Marsup Yes, looks like it.  Thanks, I'll close this out.

[2017-11-06 16:42] #9799 closed

[2017-11-06 16:45] j0t3x commented on #16625
Hi @bnoordhuis,

Im almost done with the changes, just have a few questions:
- changes in c++ are in the [ComputeSecret](https://github.com/nodejs/node/blob/40237024b30cf8eb199fcbd5485f547fa6fddb10/src/node_crypto.cc#L4945) function, but the thrown exceptions are in [BufferToPoint](https://github.com/nodejs/node/blob/40237024b30cf8eb199fcbd5485f547fa6fddb10/src/node_crypto.cc#L4916) function. What

[2017-11-06 16:46] gibfahn commented on #14544
@jonask-wix fixed.

[2017-11-06 17:04] Trott opened #16837 "investigate flaky parallel/test-child-process-exec-kill-throws on Windows"
* **Version**: v10.0.0-pre
* **Platform**: win2008r2 vs2015
* **Subsystem**: test

https://ci.nodejs.org/job/node-test-binary-windows/12551/COMPILED_BY=vs2015,RUNNER=win2008r2-vs2017,RUN_SUBSET=2/console

[code]

@nodejs/testing @nodejs/platform-windows @nodejs/build

[2017-11-06 17:15] lpinca commented on #16796
@ronag I think it is, see for example the default duplex implementation of [`_destroy`](https://github.com/nodejs/node/blob/b55106fcab5d06688a1f998ece9bdcb8b683c0f9/lib/_stream_duplex.js#L104). It adds a `null` chunk signaling the EOF but it doesn't prevent `'data'` event from being emitted if there is buffered data to be read.

[2017-11-06 17:31] bnoordhuis commented on #16625
Sounds alright to me and if not, I'll point it out during review. :-)

[2017-11-06 17:37] #16796 closed

[2017-11-06 17:47] sam-github opened #16841 "stream.end() does not return this"
It isn't documented to have any particular return value, but not returning `this` means that chaining doesn't work. I discovered this after writing:

[code]

Since `end()` has no return value, the chaining fails.

I can PR fixes for this, but it occurs to me that changing the return value of `writeable.end()` may  be semver-major. Maybe I can change it just for the actual implementations, but leav

[2017-11-06 18:08] Trott commented on #16771
Again today:

https://ci.nodejs.org/job/node-test-binary-windows/12556/COMPILED_BY=vs2015,RUNNER=win2008r2-vs2017,RUN_SUBSET=3/console

[code]

[2017-11-06 18:13] atrauzzi commented on #15217
Sorry, been very busy lately, but I just wanted to catch up -- Will the fix(es?) planned allow me to spawn a process with a shell, but without a window accompanying it?  My main case here is that I need to have access to the default shell environment of the current user when spawning.

[2017-11-06 18:31] Trott commented on #16771
Another one. Might need to make this one a priority if this keeps up....

https://ci.nodejs.org/job/node-test-binary-windows/12558/COMPILED_BY=vs2015,RUNNER=win2008r2-vs2017,RUN_SUBSET=3/console

[code]

[2017-11-06 18:35] p3x-robot opened #16844 "ECMAScript Modules not working"
* **Version**: 9.0.0
* **Platform**: Windows
* **Subsystem**: 10

Command:
[code]

Code:
[code]

Error:
[code]

[2017-11-06 18:38] devsnek commented on #16844
you have to use `mjs` as the file extension (see https://nodejs.org/api/esm.html#esm_enabling for more information)

[2017-11-06 18:44] devsnek commented on #16844
esm is not node-specific, and node-specific "globals" will not work. (such as `__dirname` and `module`)

[2017-11-06 18:45] calvinmetcalf commented on #16841
so it should be pointed out that .write doesn't return `this` either (it does return something though, unlike end), so I'm not sure how much confusion would really be saved.

[2017-11-06 18:50] #16844 closed

[2017-11-06 20:20] fs-eire commented on #16658
@addaleax I've tested the change. I encountered the following error when calling `script->Run()`:

[2017-11-06 20:44] anurag2361 opened #16847 "npm install hangs at npm-cache\_locks\staging-xxxxx for some repositories"
* **Version**: 8.9.0
* **Platform**: Windows 10 (1709)
* **Subsystem**:

I am facing a very annoying issue today with npm. I am working on an Angular app. Whenever i try to install packages via npm for an angular app, this message comes.

![image](https://user-images.githubusercontent.com/27642991/32462494-90422d30-c35f-11e7-95de-ab734c8e4791.png)

It gets stuck at this message for long times and

[2017-11-06 21:13] bnoordhuis commented on #16847
Can you report that over at https://github.com/npm/npm/issues?  If it does turn out to be a node.js issue, we can reopen this.  Thanks.

[2017-11-06 21:13] #16847 closed

[2017-11-06 21:15] bnoordhuis commented on #16731
I'll close this out.  Issues around case (in)sensitivity have been discussed before and the consensus is that we won't (or even reasonably can) paper over them.

[2017-11-06 21:15] #16731 closed

[2017-11-06 21:20] #16716 closed

[2017-11-06 21:21] #16522 closed

[2017-11-06 21:34] bnoordhuis commented on #16336
I'll close this out as works-as-intended.  I considered tagging this feature-request but I don't think it properly belongs in the https or tls modules, and a workaround exists (the snippet I posted, which anyone is free to take and spin off into a third-party module.)

[2017-11-06 21:34] #16336 closed

[2017-11-06 21:36] bnoordhuis commented on #16253
No follow-up from OP.  Closing.

[2017-11-06 21:36] #16253 closed

[2017-11-06 21:38] bnoordhuis commented on #16226
This issue has been dormant for three weeks.  I'm closing it out but @xizonghu, if you still have issues with the latest node.js, can you post a screenshot or something?

[2017-11-06 21:38] #16226 closed

[2017-11-06 21:42] bnoordhuis commented on #16196
I'll close this out because it looks like we're not going to roll back the change and as a question it's been answered.

@Hativ3 Can you open a new issue or pull request?

[2017-11-06 21:46] bnoordhuis commented on #15798
This issue has been dormant for over three weeks.  I'll close it out.

@Unibozu If there is anything to report, please leave a comment.

[2017-11-06 21:46] #15798 closed

[2017-11-06 21:47] bnoordhuis commented on #15796
Seeing there is no widespread consensus here, nor much action, I'll go ahead and close this out.

[2017-11-06 21:47] #15796 closed

[2017-11-06 21:51] bnoordhuis commented on #15793
It's been a month with no action, and in light of my previous comment, I'm closing this out.  Reopen if you feel this is worth pursuing (but please motivate why.)

[2017-11-06 21:51] #15793 closed

[2017-11-06 21:53] bnoordhuis commented on #15784
@adriangrigore I'm closing this out.  Please leave a comment if there is anything to report.

[2017-11-06 21:53] #15784 closed

[2017-11-06 21:54] bnoordhuis commented on #15703
Closing, looks like this has been answered.

[2017-11-06 21:54] #15703 closed

[2017-11-06 21:55] bnoordhuis commented on #15674
Closing, no follow-up from OP.

[2017-11-06 21:55] #15674 closed

[2017-11-06 21:56] bnoordhuis commented on #15582
Closing, seems this thread ran its course.

[2017-11-06 21:56] #15582 closed

[2017-11-06 22:25] daguej commented on #16755
**These are NOT actually no-ops!**

All of the new-to-node `console` methods (that @Tiriel listed above) are real implementations *for the Inspector*.  ie, they may *appear* to be no-ops unless you're running node with the `--inspect` option and then open `chrome://inspect` in Chrome and attach to your process.  In the inspector's console, you'll see the results of using these methods (eg `console

[2017-11-06 22:42] j0t3x commented on #16625
Hi @bnoordhuis,

heres the [pr](https://github.com/nodejs/node/pull/16849).

Thanks for this 1st stage help :D

[2017-11-06 22:47] davidn182 opened #16850 "ld: library not found for -lnetcdf collect2: error: ld returned 1 exit status"
I am very new to programming. I am trying to install AXISEM and it has a makefile that throws me the following error:

ld: library not found for -lnetcdf
collect2: error: ld returned 1 exit status

The part of code where the error is thrown is the following
ifeq ($(strip $(USE_NETCDF)),true)
   FFLAGS += -Dunc
   ifdef NETCDF_PATH
       LIBS = -L $(strip $(NETCDF_PATH))/lib -lnetcdff -Wl,-rpath,$