[2018-03-29 05:57] trusktr commented on #19651
Will do. Sorry about that. I see it now. Many thanks!

[2018-03-29 06:01] trusktr commented on #19651
I forgot a "use strict" in there.

[2018-03-29 06:20] stevestreza commented on #19670
The same is happening for me with `node:9-alpine`.

[2018-03-29 06:20] andy6804tw commented on #19670
I have the same problem, but you can use v7 replace temporarily

https://doi-janky.infosiftr.net/job/multiarch/view/images/view/node/

[2018-03-29 06:49] bnoordhuis commented on #19670
Please report that over at https://github.com/nodejs/docker-node/issues.

[2018-03-29 06:49] #19670 closed

[2018-03-29 06:53] andy6804tw commented on #19670
version 9 is working now !

[code]

[2018-03-29 08:09] aabfred opened #19671 "Private symbols access"
* **Version**: v9.10.0
* **Platform**: Linux Host-001 4.14.6-300.fc27.x86_64 #1 SMP Thu Dec 14 15:31:24 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: http2 ( and all modules )

**Problem** :
For example, I'm working on http2 improvements.
To populate symbols, I have to :
* create a draft server
* call it with a draft query
* get symbols from parsing String result of Object.getOwnPropert

[2018-03-29 08:17] himbeere commented on #19274
Is the patch included in the 8.11.0 release?

[2018-03-29 08:19] mscdex commented on #19671
I believe the whole point of using Symbols in node core is to keep private things as private as possible (superseding underscore-prefixed properties). If you're trying to access these node core private Symbols, you're doing something wrong. Instead, it would be better to ask about whatever it is you're trying to accomplish to see if there is something that can be done, rather than trying to rely o

[2018-03-29 08:19] gireeshpunathil commented on #13552
@ssteidte - is this still an issue for you? Please note that `mkpeephole` has been removed in later versions of Node.js (8.3.x and above), so you will not see this error. can test and confirm? thanks!

[2018-03-29 08:20] gireeshpunathil commented on #13722
/cc @srl295

[2018-03-29 08:21] gireeshpunathil commented on #13552
related: #9707

[2018-03-29 08:30] gibfahn commented on #19274
The next release planned is 8.10.2 (8.10.1 was a security release). It should be in that release once it goes out.

[2018-03-29 08:34] gireeshpunathil commented on #13825
@Flarna - if I understand your question correctly, you are saying that the headers are stored as objects before sent to the wire, so `getHeader()` could retrieve them as it is, as opposed to `string`s?

I guess they are stored as strings by stripping them from the object in [writeHead method](https://github.com/nodejs/node/blob/852ba3a0f963c04b2871b31af75a546f780524df/lib/_http_server.js#L231) .

[2018-03-29 08:36] gireeshpunathil commented on #14691
@ulitink - is this still an issue?

[2018-03-29 08:41] aabfred commented on #19671
I'm not altering, but cloning objects that cannot be inherited because super() would require C++ nghttp2 objects that doesn't exist in a foreign use

[2018-03-29 08:50] ulitink commented on #14691
Not an issue anymore, fixed at least in 8.5 and subsequent versions. Thank you.

[2018-03-29 08:50] #14691 closed

[2018-03-29 09:03] proqramci commented on #16768
In my case, the reason was **app-preferences** plugin in Ionic 3 project.
So, I was getting this error:

_(node:21236) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Unexpected end
Line: 0
Column: 0
Char:
(node:21236) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will termin

[2018-03-29 09:06] Flarna commented on #19530
Just found that all fresh NodeJS versions are effected including 4.9.0, 6.14.0, 8.11.0.

[2018-03-29 09:37] FireBurn opened #19672 "Kibana optimization now fails with 9.10.0"
When optimizing Kibana 6.2.3 with Node 9.10.0 the process fails with:

[code]

This didn't happen with previous Node 9.x releases

[2018-03-29 09:39] mscdex commented on #19564
Doing it only for test and doc changes doesn't make sense to me as those are typically less controversial changes than say a change to code in lib/ or src/ for example.

[2018-03-29 09:42] papandreou commented on #19652
I'm a bit disappointed that this issue is closed before the discussion even started.

First off, the fact that core uses `assert` for its tests is not a good argument for also maintaining it as part of core, and especially not for exposing it to userland.

I agree that it would be unrealistic for core to stop exposing the module at this point, even with a long, well thought out deprecation strateg

[2018-03-29 09:47] bnoordhuis commented on #19672
Not a useful bug report as it stands.  Please fill out the issue template, it's there for a reason.

What did you test with before?  What makes you believe it's an issue with node.js core and not some third-party component?

[2018-03-29 09:50] FireBurn commented on #19672
I've compiled this version of Kibana with Node 9.9.0, 9.8.0 and earlier versions of Kibana with older versions of Node

It's a scripted process and the only thing that's changed is the Node version, changing it back to 9.9.0 allows the optimization step to complete

[2018-03-29 09:50] bnoordhuis commented on #13552
I think we can close this.  As @gireeshpunathil mentions, mkpeephole is no longer a thing with newer node.js versions.

[2018-03-29 09:50] #13552 closed

[2018-03-29 09:52] #19235 closed

[2018-03-29 09:52] FireBurn commented on #19672
./node -v
v9.10.0

uname -a
Linux vm002489 3.10.0-693.17.1.el7.x86_64 #1 SMP Sun Jan 14 10:36:03 EST 2018 x86_64 x86_64 x86_64 GNU/Linux

This is a Redhat 7.4 machine

[2018-03-29 09:53] bnoordhuis commented on #19671
That doesn't clear up much, I'm afraid.  Can you concretely describe _what_ you are trying to accomplish rather than _how_?

[2018-03-29 10:00] bnoordhuis commented on #19672
Thanks.  Can you post exact steps to reproduce?

If it's 'install kibana', you might have better luck reporting it to elastic/kibana first.  A reduced test case would be helpful or perhaps you can run `git bisect` on the range v9.9.0..v9.10.0.

[2018-03-29 10:03] FireBurn commented on #19672
Unfortunately it isn't the npm install that fails, it's the optimization process that happens when you install or remove a module or start Kibana for the first time

I'll report this with the Elasticsearch folks and reference this bug, I might have time for a bisect tomorrow

[2018-03-29 10:07] ljharb commented on #19652
Whether something is a distraction or not seems like something only the maintainers can judge.

[2018-03-29 10:10] papandreou commented on #19652
@ljharb, as a contributor, observer and user I believe I'm entitled to an opinion?

[2018-03-29 10:11] jasnell commented on #19564
Yes and no. We require that a collaborator cannot sign off on their own PR, but such changes still only require a single sign off from someone else.

The point about objections from issues not transferring to PRs is well taken, however. This has bit us a few times (including on my a few of my own PRs). Our process is biased towards Just Landing Things and Trusting Those Putting In The Effort, whic

[2018-03-29 10:18] jasnell commented on #19652
I'm quite sympathetic to this idea and have often considered proposing that the top level `assert` module be deprecated in core with any additions/changes necessary for core's own use and testing be moved to internal or test support code (via `test/common.js`). While the module is ok for what it does, there is little value in it as a userland asssertion API and very little value in maintaining it

[2018-03-29 10:21] saghul commented on #2398
@migounette Creating the source and header files, together with a simple Makefile should be enough to get the ball rolling. We'll see where we go from there :-) (I've been afk for some time, so I don't know if any decisions have been made regarding the extras repo in the mean time.)

[2018-03-29 10:35] benjamingr commented on #19652
@papandreou

Your participation and contribution is always welcome, it doesn't look like  [any of your prior commits](https://github.com/nodejs/node/commits/master?author=papandreou) to Node.js are in the assert module or in its area.

Everyone responding not from core (@papandreou , @Munter, @alexjeffburke)* don't have a whole lot of prior participation in `assert` and are all affiliated with the

[2018-03-29 11:03] #19371 closed

[2018-03-29 11:03] alexjeffburke commented on #19652
@benjamingr I don't think our affiliation is at all relevant and for the record I'm the only person on this thread that works at One. The reason for our commentary here is all of us have worked for years building out and contributing to an assertion framework and a whole host of plugins - what you see on GitHub, spread across our accounts, is the work that it has taken to achieve this of which an

[2018-03-29 11:12] papandreou commented on #19652
@benjamingr, I was mostly responding to what seemed like an unnecessary rank pull, but thanks for taking it literally and unfolding my life story :)

I don't like the notion that it requires some kind of prequalification to be heard, but I'll bite. The reason why I even have an opinion is that I've spent many hours thinking about assertion semantics and rendering of diffs while contributing to the

[2018-03-29 11:36] #16768 closed

[2018-03-29 11:45] gireeshpunathil commented on #18695
I guess this how to interpret the module loading logic - my annotations in grey:

Input:
`X=./hello`
`Y=/require_test`

3. If X begins with './' or '/' or '../'
`[TRUE]`
   a. LOAD_AS_FILE(Y + X)
`['/require_test' + './hello'] = ['./require_test/hello']`
   b. LOAD_AS_DIRECTORY(Y + X)
4. LOAD_NODE_MODULES(X, dirname(Y))
5. THROW "not found"

LOAD_AS_FILE(X) `[X='./require_test/hello']`
`[FAILS AS

[2018-03-29 11:45] #18695 closed

[2018-03-29 11:46] gireeshpunathil commented on #18736
@BridgeAR - closing this assuming that these are not flaky anymore, please let me know if that is not the case.

[2018-03-29 11:46] gireeshpunathil commented on #18838
@BridgeAR - closing this assuming that these are not flaky anymore, please let me know if that is not the case.

[2018-03-29 11:49] benjamingr commented on #19652
@papandreou @alexjeffburke if you would like to get more involved with how assert works in core, as well as have critical feedback on newish features being worked on (like Ruben's on diffs) that would be fantastic and well appreciated.

More general, your feedback and contributions on the assert built in module, as well as [more formal community feedback](https://github.com/nodejs/user-feedback/is

[2018-03-29 11:50] BridgeAR commented on #18838
@gireeshpunathil may I ask on what basis? We should probably run a stress test, no?

[2018-03-29 11:50] BridgeAR commented on #18736
@gireeshpunathil may I ask on what basis? We should probably run a stress test, no?

[2018-03-29 11:50] gireeshpunathil commented on #18930
@bnoordhuis - close-able  as #19140 has landed?

[2018-03-29 11:51] gireeshpunathil commented on #19038
@sethbrenith - close candidate?

[2018-03-29 11:53] gireeshpunathil commented on #18838
@BridgeAR - sorry, thought these came from regular CI runs, and appeared only once. Re-opening.

[2018-03-29 11:56] gireeshpunathil commented on #19231
do you have the full code to reproduce?

[2018-03-29 12:01] richardlau commented on #18695
I think this is addressed by https://github.com/nodejs/node/pull/15015?

[2018-03-29 12:01] BridgeAR commented on #18695
@smkoyan this was indeed a bug and it was fixed recently. It was fixed recently by https://github.com/nodejs/node/pull/15015.

[2018-03-29 12:02] BridgeAR commented on #18695
@richardlau racy :D

It is handled as semver-major because it was wrong for a very long time and there is a chance that code relies on the faulty behavior. So it will only be released in v.10.x.

[2018-03-29 12:06] bnoordhuis commented on #18930
Yep, closing.

[2018-03-29 12:06] #18930 closed

[2018-03-29 12:13] gireeshpunathil commented on #18695
@BridgeAR / @richardlau - can you please clarify for my understanding? - I don't see any deviation from the doc, nor I see a doc update as part of #15015!

[2018-03-29 12:47] gireeshpunathil commented on #19301
@bartosz-m - why don't you use:
[code]

rather than
[code]
? the Buffer.from(buffer) API provides convenient way of creating a second buffer. The API which used receives an ArrayBuffer object that is shared by multiple objects, and the `offset` 0 of it may not align with the `offset` 0 of the buffer in question.

[2018-03-29 12:50] richardlau commented on #18695
@gireeshpunathil the issue is this part of your annotations:

`[FAILS AS X is a folder now]`

This describes the incorrect behaviour, it should not fail here and X should be tried as a file. https://github.com/nodejs/node/pull/15015 fixes the behaviour so that it matches the doc.

[2018-03-29 12:52] gireeshpunathil commented on #19594
@dsinecos - as you already pointed out, the first failure is covered under https://github.com/nodejs/node/pull/19554 . Please go ahead for the remaining! Let me know if you need any help with that!

[2018-03-29 12:58] gireeshpunathil commented on #18695
ah! ok, thanks @richardlau for the clarification.

[2018-03-29 13:00] mhdawson opened #19673 "n-api - failure in node-addon-api testing after change in node core"
* **Version**: master
* **Platform**: all
* **Subsystem**: n-api

We are seeing the following failure:

https://ci.nodejs.org/job/node-test-node-addon-api/MACHINE=fedora-last-latest-x64/237/console
[code]

I think the most likely candidate is: https://github.com/nodejs/node/pull/19537
@gabrielschulhof  can you take a look.

[2018-03-29 13:06] epixa commented on #19672
The "optimize" process in Kibana is essentially just a webpack run, so if you're looking to narrow down the steps to reproduce into something that doesn't require a few million lines of javascript to run, you might start by extracting out the logic from the optimize module into a standard static webpack config and see if you can reproduce in a plain JS app that includes `lodash` and `react-sizeme`

[2018-03-29 13:10] aabfred commented on #19671
To improve compatibility between h2 & https, NodeJS developpers choosed to convert h2 stream to https request.
I understand that the aim is to be compatible to old code, but it causes h2 to be slower and limited.
I want h2-first ( as mobile-first replaces responsive ), and I want to code the same way fore http (1.1) and h2 (SSL). So I have to create Http1Stream & Http1Session.

[2018-03-29 13:17] Trott commented on #19564
One thing to perhaps reconsider is the tendency to "avoid the red X". That makes sense for nits and stuff, but I think we should embrace the red X for changes if you actually don't want them to land, especially as we embrace automation more and more. If there's concern that it will be discouraging to new contributors, some encouraging text can be written to compensate. I have to imagine having you

[2018-03-29 13:27] dsinecos commented on #19594
@gireeshpunathil I have resolved errors 3 and 4 both relating to `group id does not exist` Can i submit a PR for that?

I was thinking to open another issue for Error 2 ` Error: EACCES: permission denied, access '/home/divyanshu/programming/node/test/parallel/test-fs-access.js'` and work on that separately?

Or should I submit a single PR for all three?

[2018-03-29 13:35] gireeshpunathil commented on #19594
I suggest one PR per test file, for the benefit of isolation between changes.

[2018-03-29 13:49] Flarna commented on #13825
It's quite a while till I submitted this. Here is a small reproducer; hope I remember correct on the actual use case...
[code]

this prints:
[code]

So if `writeHead()` is used then `getHeader()` doesn't return anything at all.
If I use `setHeader()` then I get exactly what I have set before (e.g. a number in case of 'Content-Length') and not a `string`.

[2018-03-29 14:11] Munter commented on #19652
@benjamingr

I'm a bit confused here. Is there a policy against taking user land module into the node test suite to improve the developer experience? People, both in this thread, but also on other assertion libraries and diffing tools, have literally spent years thinking about this one problem and iterated to improve the developer experience for a long time. It seems wasteful to take a not-invente

[2018-03-29 14:42] psmarshall commented on #19199
It looks like the .log files produced by node v8.9.4 have a newline at the end, and the ones produced by v8.10.0 don't.

I built a debug build of v8.10.0 and interrupted it in the debugger while it was hanging. It seems to be calling filesystem read in an infinite loop. I guess something expects a newline at the end of the file.

None of the log files I can generate to cause the hanging end with 0

[2018-03-29 14:44] apapirovski commented on #19671
@aabfred That still doesn't address why you would need the private symbols available? Those are only relevant to the inner workings of the code. You could replicate the entirety of the http2 public API without needing any of those...

[2018-03-29 14:48] srl295 commented on #13722
Sorry missed this. It should be includable by just tweaking the json
control file. I’ll take a look

[2018-03-29 14:53] gabrielschulhof commented on #19673
Looks like the C++ wrapper implementation of the finalize callback is
failing to close the handle scope.

On Thu, Mar 29, 2018 at 9:02 AM, Michael Dawson <notifications@github.com>
wrote:

[2018-03-29 15:37] rg1220 commented on #19617
Sounds like this would be better to add to the Promise implementation:
[code]
Although I'd think it would be better left to a Promise library like `Bluebird`.

[2018-03-29 15:43] benjamingr commented on #19652
@Munter if there will be compelling reasons to use a third-party module for our internal tests then that's something I think we can and should consider.

That's not the same thing as removing `assert` from core, the amount of breakage would be huge. There are things that have been deprecated in Node for 3 years now (like fs.exists) that we have no intention of removing. The thought of actually rem

[2018-03-29 15:58] gireeshpunathil commented on #13825
@Flarna - I think I got your point now. Probably the `setHeader()` expects a series of incremental writes to the header and hence it stores the requests in an internal field `outHeadersKey` for potential future modifications. Whereas, if the code invoked `writeHead` first, the expectation is that it does in one shot, so the storing does not happen [here](https://github.com/nodejs/node/blob/0434bd4

[2018-03-29 15:59] pauldraper commented on #17658
The real issue IMO, is that this is simply incorrect.

Files may contain `:` on many file systems, and repeated slashes are permitted in paths.

If it's a string, it should be treated as a path. If it's a URL, it should be treated as a URL.

[2018-03-29 16:18] mhdawson commented on #19530
Ok, the problem seems to be that we were staging the 4.9 compiler and I thought the default would stay as 4.8, but it looks like it is actually 4.9.,

I'll add the selection logic and we can validate that it resolves the issue on 4.X and 6.x.  The lowest stated version was 4.9 for 8.X so the selection logic uses 4.9 for 8.X and above.  However, we'll have to consider that again given the info in t

[2018-03-29 16:20] Flarna commented on #19530
x86 is not effected

[2018-03-29 16:31] mhdawson commented on #19530
@Flarna so on x86 4.9 is compatible with 4.8 but on PPCLE that is not the case?

[2018-03-29 16:33] vkurchatkin commented on #19617
If you just want to show intent, you can do this:

[code]

[2018-03-29 16:33] mhdawson commented on #19530
@Flarna is there a version newer than 4.9 that is easier to get on RHEL 7.X ?

[2018-03-29 16:43] Flarna commented on #19530
To me it looks more like x86 is still built with GCC 4.8. See my https://github.com/nodejs/node/issues/19530#issuecomment-375595253 above where I used readelf to get GCC infos.

Honestly speaking I don't know what is available as I'm just an user.

In our addon build we use GCC 6.4.0 but it's a self built GCC patched for our needs. We link statically to avoid issues like this but I don't think our

[2018-03-29 16:43] mhdawson commented on #19530
@Flarna can you test out this version:

https://nodejs.org/download/test/v6.14.0-test2c93af2da3/node-v6.14.0-test2c93af2da3-linux-ppc64le.tar.xz

It is the 6.14.0 release rebuild with the detection logic so that it build with the 4.8 compiler.

If that works then we can decide if we should change the logic for 8.x and work on respining the builds.

[2018-03-29 16:43] sindresorhus commented on #19617
I just realized, what I actually want is an await-friendly `setImmediate()`.

See: https://stackoverflow.com/a/15349865/64949

[2018-03-29 16:45] sindresorhus commented on #19617
There's a much higher bar to adding things to `Promise` than just making egonomics additions to existing APIs in Node.js. Browsers have been resistant to adding `setImmediate`, so I doubt they would be open to adding an await-friendly version of it.

[2018-03-29 16:47] statianzo commented on #19617
Isn't this the purpose of `util.promisify`?

[code]

[2018-03-29 16:47] sindresorhus commented on #19617
I consider `await 'next tick';` and `await process.nextTick;` both just hacks that takes advantage of a quirk in `await` (that you can `await` anything). It *does not* result in readable code and everyone will end up doing it differently. We need an official solution for this, not local workarounds.

[2018-03-29 16:50] apapirovski commented on #19617
@sindresorhus Would the promisified version of `setImmediate` not do the trick? I realize it's not completely plug and play but I can't imagine this making it into core unless there's a major effort to include promisified versions of all the APIs. There aren't even any semantic or performance benefits to including it.

I mean, you're basically asking for "await process.nextTick" but with an explic

[2018-03-29 16:51] sindresorhus commented on #19617
`util.promisify` is just a stop-gap.

[2018-03-29 16:53] timoxley commented on #19617
Are there any differences in timing, queue priority, etc between `process.nextTick` and `await`?

[2018-03-29 16:54] sindresorhus commented on #19617
Well, there is: https://github.com/nodejs/node/commit/329fc78e4919231bf76771797878f7b0db0f73ac

[2018-03-29 16:57] sindresorhus commented on #19617
https://jsblog.insiderattack.net/promises-next-ticks-and-immediates-nodejs-event-loop-part-3-9226cbe7a6aa

[2018-03-29 17:01] sindresorhus commented on #19617
I'm not talking about performance, I mean exposing promise APIs over `util.promisify`.

[2018-03-29 17:04] MylesBorins commented on #19530
Should we be planning for a member patch release for all lines?

[2018-03-29 17:09] Flarna commented on #19530
@mhdawson Yes, this version works.

[2018-03-29 17:13] apapirovski commented on #19617
I'm not just talking about performance. There's more to the promisifed `fs` module that can't easily be done in userland or just by using `util.promisify`.

I also don't believe that making the current functions be polymorphic is a great idea, which means that shipping promisifed `setImmediate` and `nextTick` is asking core to add something akin to:

[code]

[2018-03-29 17:18] mhdawson commented on #19530
@Flarna thanks

@MylesBorins, not sure what you mean by a member patch release, but what we need is to rebuild the le releases for 4, 6, and 8 (for now I'm just going to make 8 build with 4.8 instead of 4.9 until we figure out the story across platforms).

There are no code changes so I think we could just rebuild and republish for ppcle unless that's not something we want to do.

I still need to

[2018-03-29 17:24] MartinX3 opened #19674 "Upgrade to npm 5.8.0"
Are there any plans to upgrade to npm 5.8.0?

I use the nodejs version v9.10.0 on Linux Ubuntu Mate 17.10 x64 and still have npm v 5.6.0

[2018-03-29 17:30] mhdawson commented on #19530
@MylesBorins can you approve https://github.com/nodejs/build/pull/1201.  Once that lands and I validate with a build in test, we can respin the builds.

[2018-03-29 17:33] YurySolovyov commented on #19617
What about new function with a better name and API then?
One that will fix `nextTick` vs. `setImmediate` naming confusion once and for all.
Cause `nextTick` is actually more like current tick with respect to IO

[2018-03-29 17:42] richardlau commented on #19530
We generally don't replace already published builds to avoid confusion. Usual practice is to do a new patch release.

[2018-03-29 17:43] Nokel81 commented on #19674
You know you can install npm seperately

[2018-03-29 17:44] richardlau commented on #19674
See https://github.com/nodejs/node/pull/19560

[2018-03-29 17:48] TimothyGu opened #19675 "Undeprecate new Buffer(arrayBuffer, byteOffset, byteLength)"
* **Version**: master
* **Platform**: all
* **Subsystem**: buffer

Currently, with `--pending-deprecation` flag on, the three-argument form of the `Buffer` constructor is shown as deprecated just like the one-argument forms and the two-argument form:

[code]

However, the issue with deprecating the overload where the first argument is an `ArrayBuffer` (or `SharedArrayBuffer`) is that it makes buil

[2018-03-29 17:51] Nokel81 opened #19676 "Require from root"
Especially with really large projects it is sometimes quite useful to what to require a local module based on its path from the root of the project. This can help with readability and requiring since you don't have to remember where you when you want to load a module.

**For require:**
[code]

**For import:**
[code]

As for the definition of what root is I think that the directory in the parent pa

[2018-03-29 18:24] mhdawson commented on #19530
ok so it will then require releases across 4, 6, and 8

@MylesBorins can you approve nodejs/build#1201. I'll then land and test and then we'll be ready to do the new releases.

[2018-03-29 18:26] mhdawson commented on #19530
or @richardlau can you approve nodejs/build#1201

[2018-03-29 19:03] ChALkeR commented on #19675
I'm +1 to undeprecating the most strict subset outlined above (as in the first half of the message) needed for built-in functions to work.

I don't see why would we want to loosen the check (as in the second half) — could you elaborate?
Those forms are not actively used afaik and keeing them might create extra confusement and bad code copy-paste issues, I would prefer to see `new Buffer` less in n

[2018-03-29 20:39] devsnek commented on #19676
@Nokel81 no i mean you can literally do `require.main.require()`, right now in node, it already exists, go try it :D

[2018-03-29 20:51] mhdawson commented on #19530
I've found a RHEL 7.1 machine and will test them there.

[2018-03-29 21:01] Trott commented on #19038
I'd prefer this be left open. There are some opportunities for improvement in that test, in my opinion. Stuff like this seems like it at least deserves a comment explaining things:

[code]

Moreover, it may be possible to fix this test by allowing exceptions for port collisions as long as it's possible to check that the collision happened on the expected port.

[2018-03-29 22:01] benjamingr commented on #19617
I see absolutely zero reason to promisify or await nextTick. I see why it would be nice to have _in theory_ but I simply do not see any use case.

A bigger problem is that it would be _lying_, when I execute a `nextTick` action it'll execute _in order_ with other nextTicks but these will execute _later_ when promises resolve.

[2018-03-29 22:04] benjamingr commented on #19617
Also, reading your comment @sindresorhus that is a lot more likely and makes sense (async setImmediate). We already support this through `util.promisify` and we can escape the spec.

I've opened an issue about this (for setTimeout): https://github.com/nodejs/node/issues/19426

[2018-03-29 23:17] addaleax commented on #19635
Could you share a full example of how you got that error? I think that if that happens it's a bug in the streams module.

[2018-03-30 03:49] MylesBorins commented on #19672
Is it RHEL PPCLE? There was a known bug related to GCC that we got bit by. Can you try 9.9.1 which just came out

[2018-03-30 03:50] MylesBorins commented on #19530
New versions are released. Closing the issue. Please let me know if it isn't fixed and I'll reopen

[2018-03-30 03:50] #19530 closed

[2018-03-30 07:10] TimothyGu commented on #19301
@gireeshpunathil, FYI your alternative can actually be more misleading, since the second and third arguments are ignored by `Buffer.from()`.

I think a dedicated section on how the Buffer pooling works would be awesome.

[2018-03-30 08:16] gireeshpunathil commented on #19301
@TimothyGu - thanks, I overlooked the `from(buffer)` API and thought that it returns deep copy of a portion of the source.

agree that the Buffer pooling can be better documented, especially which APIs use pooling and which do not. Current doc covers `alloc` and `allocUnsafe` but I guess there are more.

[2018-03-30 08:29] gireeshpunathil commented on #16596
@seishun - should this remain open?

[2018-03-30 08:30] FireBurn commented on #19672
No it was on x86_64 as per the uname above

I can confirm that Node 9.10.1 fixes the issue for me

[2018-03-30 08:30] #19672 closed

[2018-03-30 08:39] gireeshpunathil commented on #19591
@dsinecos - go for it!

[2018-03-30 09:20] ChALkeR commented on #19301
I would suggest `.buffer` usage to be discouraged on pooled buffers, as it could easily lead to OOB read/write errors.

[2018-03-30 09:27] ChALkeR commented on #19301
@bartosz-m Note that this issue is not specific to `Buffer` objects.

[code]

[2018-03-30 09:50] medikoo commented on #19426
This invites to use `setTimeout` in a way that's not compatible with other implementations (browsers)
Technically it's like adding some new thing to prototype of native object, but just in Node.js, doesn't sound right.

As promises are ECMAScript already, I think this should rather be proposed to HTML standard, and not here.

[2018-03-30 09:53] bertolo1988 commented on #19308
In the long run aren't users going to prefer http2 streaming capabilities over websockets?

[2018-03-30 10:39] mcollina opened #19694 "test-make-doc now failing locally"
* **Version**: master
* **Platform**: mac
* **Subsystem**: doc, test

I just pulled and test-make-doc is now failing:

[code]

This as been introduced in https://github.com/nodejs/node/pull/19581. Not sure what I should do to make this pass again on my machine, I already tried `make clean` and `make doc`.

[2018-03-30 10:40] mcollina commented on #19694
cc @vsemozhetbyt

[2018-03-30 10:41] #19601 closed

[2018-03-30 10:44] mcollina opened #19695 "stream: update comment for needMoreData"
* **Version**:  master
* **Platform**: all
* **Subsystem**: streams

https://github.com/nodejs/node/blob/d37e59fa6aee7f5b38696726b0145741ef3eb95b/lib/_stream_readable.js#L304-L315 comment is out of date (ref. https://github.com/nodejs/node/pull/19613#discussion_r177262143).

Specifically it states:

I think that comment is actually wrong. It says

However it has a check (simplified) as:

[code]

W

[2018-03-30 11:13] vsemozhetbyt commented on #19694
[Throwing assertion.](https://github.com/nodejs/node/blob/d37e59fa6aee7f5b38696726b0145741ef3eb95b/test/doctool/test-make-doc.js#L47-L50)

Cause of the added check:

1. Can you check if there is empty `all.html` file in `out/doc/api` folder?
2. Can you check if building of `all.html` is not broken during the process?

[2018-03-30 11:15] josephg commented on #19308
Huh? I haven't read anything to suggest that http2 will supersede websockets. http2's streaming is bidirectional but not symmetric - only the client can initiate requests. Unless something changed recently, server side push doesn't bubble responses up to JS code. Also (afaik) just like http, http2 doesn't make any guarantees about preserving the order of client->server messages.

You could impleme

[2018-03-30 11:15] benjamingr commented on #19426
@medikoo "Technically it's like adding some new thing to prototype of native object" - Node timers don't work the same way as browser timers already anyway - they already return objects (and not numbers).

Why? Let's consider just `setImmediate`, it is not specced in the DOM so there is no specified return value anyway - if that returns a promise that would be a nice win for anyone using `async`/`

[2018-03-30 11:16] benjamingr commented on #19426
@medikoo worth noting that I generally agree that it's weird and am playing devil's advocate since we want to explore the possibility in order to solicit more feedback.

[2018-03-30 11:16] vsemozhetbyt commented on #19694
Can there also be some race condition? Can `doctool/test-make-doc.js` run till doc building is finished?

[2018-03-30 11:21] mcollina commented on #19694
Yes it is empty,.

how?

This fails even if I run this individually, after `make doc` has finished. There shouldn't be race conditions.

I do not understand. can you rephrase?

[2018-03-30 11:32] vsemozhetbyt commented on #19694
Maybe run `make doc-only` after deleted `out/doc/api` folder and check the output on console? There should be lines concerning all the doc files. (~102)

It seems this is not possible if you "run this individually, after make doc has finished." I thought there may be parallel processes of doc building and tests,

[2018-03-30 11:32] medikoo commented on #19426
Indeed, but at this point it addresses Node.js specific use case (unferfing timers), which doesn't apply to browser environment. While here we're speaking about feature that's not env specific, but requested only for specific env. This at least to me sounds controversial as opens the door to incompatibility issues.

[2018-03-30 11:36] mcollina commented on #19694
That did the trick. I think we should have `make clean` remove this folder as well.

[2018-03-30 11:37] bnoordhuis commented on #19656
https://chromium-review.googlesource.com/c/v8/v8/+/987953

[2018-03-30 11:38] alpgiz opened #19698 "decrypting old encrypted datas with new encryption function crypto.createDecipheriv"
* **Version**: v8.0.0 +
* **Platform**:
* **Subsystem**:

Hello!

I am trying to update the old crypto functions (crypto.createCipher&crypto.createDecipher) with the new versions of them(crypto.createCipheriv&crypto.createDecipheriv). However I have so many datas which have been encrypted with crypto.createCipher(). I am using 'aes-256-ctr' as an algorithm and I dont know the IV of the old datas.

[2018-03-30 11:45] bnoordhuis commented on #19698
See [this gist](https://gist.github.com/bnoordhuis/2de2766d3d3a47ebe41aaaec7e8b14df) for a conversion script but if you were using aes-256-ctr, your data is **compromised**.  There is no secure way to combine counter mode with `crypto.createCipher()`.

[2018-03-30 11:45] #19698 closed

[2018-03-30 12:01] alpgiz commented on #19698
Thanks for your reply, I have one more question. Will old functions (crypto.createCipher&crypto.createDecipher) be deprecated at the new versions of node or can I continue to use old versions of the functions to encrypt and decrypt datas? @bnoordhuis

[2018-03-30 12:28] #19562 closed

[2018-03-30 12:38] alpgiz commented on #19698
But they do not seem to be deprecated and are still in the documentation of version v9.10.1.
[https://nodejs.org/dist/latest-v9.x/docs/api/crypto.html#crypto_crypto_createcipher_algorithm_password_options](crypto.createCipher)
[https://nodejs.org/dist/latest-v9.x/docs/api/crypto.html#crypto_crypto_createdecipher_algorithm_password_options](crypto.createDecipher)

@bnoordhuis

[2018-03-30 12:57] bnoordhuis commented on #19698
They're deprecated in master, what will be Node.js 10 in a few weeks.

[2018-03-30 13:18] Xavier-J-Ortiz commented on #19695
@mcollina  I'd like to take this issue up. I do think I'd need some guidance and might have some followup questions while I wrap my head around the problem.

[2018-03-30 13:20] gmk292 opened #19699 "Ciphertext can be decrypted when using array as password"
Issuetype: **bug**
Version: **v6.14.0**
Platform: **Linux  4.4.0-116-generic ~14.04.1-Ubuntu SMP x86_64 GNU/Linux**
Subsystem: **crypto**

Hi, I am using crypto module for encryption and decryption.

[code]
Data that is encrypted: **"Hello World"**

I think my decryption code is broken in 4th step.

1. If I use "LOCKIT" as password to encrypt the above string and use the same password to decrypt t

[2018-03-30 13:32] mcollina commented on #19695
Definitely. If that also result in one more unit test, even better!
Ping me if you have any questions!

[2018-03-30 13:34] tniessen commented on #19699
Could you please post code showing how you invoke these functions? Does this reproduce in recent LTS releases?

[2018-03-30 13:43] mscdex commented on #19699
Is it possible arrays passwords are being converted to a constant string (e.g. `'[object Array]'`), which might explain why any array value will work?

[2018-03-30 13:49] gmk292 commented on #19699
@tniessen  I am building a react project using webpack. I am using the functions as follows:
[code]
I made a mistake while updating the textbox value,
[code]
As you can see, instead of passing **event.target.value**, I was passing **[event.target.value]**. So when I entered different passwords, I could decrypt the cipherText.

[2018-03-30 14:01] eliyastein opened #19702 "npm installation broken"
I'm not sure when this fell apart, but I'm experiencing this:

[code]
I tried updating, then uninstalling, then re-installing node with homebrew.

[code]

Does anyone know how to troubleshoot this?

[2018-03-30 14:06] gireeshpunathil commented on #18446
consistently recreatable in Linux, with this code:
[code]

strace shows that `bash` exited with
`read(0, 0xecbf60, 1)                    = -1 EAGAIN (Resource temporarily unavailable)`

while trying to read the second command, after the sleep.

EAGAIN for read manual says:
`The file descriptor fd refers to a  socket  and  has  been  marked  non-blocking (O_NONBLOCK),  and the read would block.`

S

[2018-03-30 14:09] vsemozhetbyt commented on #19702
Could you also try to post the issue to the [npm repository](https://github.com/npm/npm)?

[2018-03-30 14:11] tniessen commented on #19699
@gmk292 Which CJS `crypto` module are using in your project? The officially maintained `crypto` module does not work as part of a client-side JS application.

[2018-03-30 14:14] gmk292 commented on #19699
I am using the nodejs crypto module.

[2018-03-30 14:30] tniessen commented on #19699
To summarize: The problem occurs when passing an array as the "passphrase" parameter to `crypto.pbkdf2` in node 6.14.0. Is that correct?

The function should throw an error:

[code]

So you are using the nodejs crypto modulo on the client-side from within a browser or is the code being executed by a Node.js server application?

[2018-03-30 14:36] gmk292 commented on #19699
@tniessen I am using webpack-dev-server for the react application. It is pure client-side app. There are no services in the backend that do the encryption/decryption for the app

[2018-03-30 14:43] tniessen commented on #19699
@gmk292 I didn't notice that you already edited https://github.com/nodejs/node/issues/19699#issuecomment-377533195, sorry. As suspected, this is not a problem with Node.js but with the module used within webpack. Please open an issue there.

[2018-03-30 14:43] #19699 closed

[2018-03-30 14:46] gmk292 commented on #19699
@tniessen Thanks for your help :smile:

[2018-03-30 14:47] eliyastein commented on #19702
Will do! Thanks @vsemozhetbyt

[2018-03-30 14:53] vsemozhetbyt commented on #19702
Crosspost refs: https://github.com/npm/npm/issues/20206

[2018-03-30 14:54] tniessen commented on #19699
No problem, always glad to be of assistance 😃

[2018-03-30 15:26] seishun commented on #19630
How can we solve this?

[2018-03-30 15:37] aabfred opened #19704 "ExperimentalWarning"
* **Version**: v9.10.0
* **Platform**: Linux Host-001 4.14.6-300.fc27.x86_64 #1 SMP Thu Dec 14 15:31:24 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: http2

Even with **--no-warnings** or **NODE_NO_WARNINGS=1**, console still displays:
**(node:17936) ExperimentalWarning: The http2 module is an experimental API.**

[2018-03-30 17:28] ChALkeR commented on #19699
Juding from the comments aboe, this looks like it may be a noticeable security footgun in whatever npm package that is responsible for this.

Encrypt functions absolutely mustn't coerce invalid values in passwords to constant strings.

[2018-03-30 17:31] cjihrig commented on #19704
FWIW I cannot reproduce on 9.10.1 or master.

[code]

[2018-03-30 17:47] joyeecheung commented on #19564
Maybe we can tweak the rules to "at least two sign-offs, or one sign-off if no other reviews within n days"?

[2018-03-30 18:11] eliyastein commented on #19702
I finally got this fixed:

- brew uninstall node

- manual rm of the npm binary which was lingering

Then did the following:

[code]
npm now finally works!

[2018-03-30 18:11] #19702 closed

[2018-03-30 18:50] bartosz-m commented on #19301
I'm aware that it is not specific to `Buffer`. The only issue was lack of information that  `Buffer.from` may return pooled buffer. e.g. section of `Buffer.allocUnsafe` could mention other method that uses pooling.

[2018-03-30 20:00] cosycode commented on #12682
I stumbled into this problem, too. I do not like to use a new class or module for this problem, so I resolved it by using a new protocol as the base.
[code]
[code]
Therefor I suggest internal support for this relative protocol. Maybe a registration of the protocol at the IANA is a good idea: https://tools.ietf.org/html/rfc7595 & https://www.iana.org/protocols. The WHATWG made it several times clea

[2018-03-30 20:07] yashgt opened #19708 "process._tickCallback causing application to stop"
* **Version**: 9.10.1
* **Platform**: Linux Redhat
* **Subsystem**:

Ever since I migrated from node 4.5 to 9.10.1
I get this error in my application after 2-3 hours and the application stops:

[2018-03-30 20:17] TimothyGu commented on #12682
@cosycode That works for most cases, but there can be subtle differences between such a `relative` scheme and a [special scheme](https://url.spec.whatwg.org/#special-scheme) like `http`:

[code]

While a non-special scheme treats the backslash as part of the file name, a special scheme treats it as if it were a forward slash.

----

After spending some more time thinking about this issue, I don't

[2018-03-30 20:21] TimothyGu commented on #19708
This doesn't look like something we could do much about without more information. The `_tickCallback` is a red herring -- it is present on everything that is executed within a `process.nextTick()` callback.

My recommendation would be to create an issue against the `mysql` package, since that seems to be where the error is thrown. We can reopen if it turns out to be something we could fix.

[2018-03-30 20:21] #19708 closed

[2018-03-30 20:32] MylesBorins commented on #19704
I similarly cannot reproduce with flag or env var

[2018-03-30 21:32] hashseed commented on #19630
Good question. One of the reasons for moving off gyp is scenarios like this where new toolchains are not supported. I guess implementing support for ninja with clang on Windows would be a way. It might be not all that complicated, if clang on Windows works the same way as clang on linux.

[2018-03-30 21:32] cosycode commented on #12682
@TimothyGu An interesting behavior, I did not know exists. Maybe this special case can be mentioned in the IANA registration, so that the relative scheme behaves the same as http.

Personally I do not like the idea of specialized classes, because it is agains the U concept of URL. On the other hand I do not see, how someone can push the WHATWG to change their position regarding protocol/host relat

[2018-03-30 21:35] seishun commented on #19630
You mean implementing it in gyp?

[2018-03-30 21:59] willhayslett commented on #19619
@bnoordhuis please let me know if the changes are okay or if additional edits are needed. Thanks.

[2018-03-31 00:39] vsemozhetbyt commented on #19405
FWIW, after some time node crashes:
<details>
<summary>Output:</summary>

[code]
</details><br>

[2018-03-31 02:08] mscdex commented on #19564
I don't think requiring only one sign-off after no reviews within n days will work either as one of the main problems I described earlier is that some PRs can easily get lost/buried in all of the other PRs, so people may not see it anymore or may forget about it if they haven't participated in that PR's conversation (or are otherwise not being notified).

[2018-03-31 05:10] bnoordhuis commented on #19630
I suspect this already works when you use clang-cl, the cl.exe compatible driver.

Untested, but `configure` would need to write out a `make_global_settings` stanza to config.gypi that looks like this and will be picked up by the ninja generator:
[code]

[2018-03-31 05:19] lpinca commented on #19694
`make distclean` already deletes the whole `out` folder.

[2018-03-31 07:12] bnoordhuis commented on #19656
#19710

[2018-03-31 07:40] mcollina commented on #19694
Following the principle of least surprise, a developer expects make clean to restore the tree in a state that would have “make test” pass.

[2018-03-31 07:52] aabfred commented on #19704
This is because of -e command that produces no log
create a file containing just **require('http2');** and run command.

[2018-03-31 07:52] gireeshpunathil commented on #18446
linking with #14752 and #17737

[2018-03-31 08:12] aabfred opened #19711 "Http2SecureServer.close fails"
* **Version**: v9.10.1
* **Platform**: Linux Host-001 4.14.6-300.fc27.x86_64 #1 SMP Thu Dec 14 15:31:24 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: http2

**Problem**:
Closing an Http2Server runs only when it has no connection;
Otherwise, no "close" or "error" event is emitted after close(), and script doesn't exit (server still listening)

**bug.js**:
const
    http2 = require( "http

[2018-03-31 08:48] bhaveshj21 opened #19712 "duplex stream getting changed in callback:node js"
This is not a bug but a problem I am facing.

I have a code where I am getting a duplex stream and in that function I call a callback which return me the values from redis.

          function (index, arr, null, callback) {
          const streamObject = stream;
          const Id = arr[index].split(':')[0];
          const Version = arr[index].split(':')[1];

          console.log("STREAM RECEIVE

[2018-03-31 08:55] dsinecos commented on #19594
@gireeshpunathil

I ran `sudo make test` to verify that the error 2 is resolved after I add my code.

However, if I run `make test` after `sudo make test` I get a bunch of EACCES permission denied errors on files, because they were created with root privileges when I ran `sudo make test`.

If I run only `make test` the error I'm working on won't occur so I need to run `sudo make test` to verify th

[2018-03-31 09:58] gireeshpunathil commented on #19594
as long as `make test` with normal user and independent run on the modified test as root and non-root (`node test/paralel/x.js`) pass, we should be good!

[2018-03-31 10:22] mscdex commented on #19712
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-03-31 10:22] #19712 closed

[2018-03-31 10:32] MartinX3 commented on #19674
@richardlau and @Trott
Thank you very much.
I thought https://github.com/nodejs/node/pull/19560 was about to add NPM v5.8.0 only to Node 8 LTS, while I'm using Node 9

[2018-03-31 12:17] seishun commented on #17077
The issue is in iculslocs. When run from a non-ASCII path, it generates a file with invalid UTF-8, which genrb chokes on.

To reproduce, run:

[code]

@srl295 how would you suggest to proceed with this? It seems iculslocs is a third-party project.

[2018-03-31 12:31] ergun1017 commented on #19635
Ups, I'm so sorry for the confusion;

I've been using `stream` as `koa` mw's `ctx.body`; which koa ends when the request closes prematurely. I've mistakenly thought it was a bug on `stream.end` side.

Again, I'm so sorry for the confusion, have a nice day!

[2018-03-31 12:47] joyeecheung commented on #2600
Blocked by https://github.com/libuv/libuv/pull/590 it seems

[2018-03-31 12:57] guybedford commented on #19383
Right, I get what you mean. Are you proposing a `--preserve-symlinks-main` flag or similar then? Perhaps the best route forward is to create a PR and then see how that fares in review. I'm not sure how I feel about it personally.

[2018-03-31 13:01] cjihrig commented on #19704
Still no luck on macOS...

[code]

[2018-03-31 13:17] joyeecheung commented on #19694
+1. Anyone knows why make clean does not just wipe the `out` folder?  cc @nodejs/build

[2018-03-31 13:19] anliting opened #19715 "fs.createReadStream doesn't throw with options={start:NaN,end:NaN}"
* **Version**: v9.10.1
* **Platform**: Linux pca 4.15.13-1-ARCH #1 SMP PREEMPT Sun Mar 25 11:27:57 UTC 2018 x86_64 GNU/Linux
* **Subsystem**: fs

I think it would be better to throw in the following case. The following case also causes every newly created read stream to end immediately.

`$ node --experimental-modules a.mjs` with `a.mjs`:

[code]

[2018-03-31 17:01] dgoldstein0 commented on #19383
I suppose so.  I think it's ugly, but it would fix my use case and
satisfies backwards compatibilty so seems like the least contentious
possibility.

On Sat, Mar 31, 2018, 8:58 AM Guy Bedford <notifications@github.com> wrote:

[2018-03-31 22:13] srl295 commented on #17077
It could have been third party but imprecise it belongs to. Own

[2018-03-31 23:37] Almenon commented on #3617
I don't think adding documentation counts as fixing the issue - although documentation is helpful to have.  The issue should be reopened IMO.

For those reading this thread trying to figure out how to properly murder your children, (with multi-platform support), [Krasimir](http://krasimirtsonev.com/blog/article/Nodejs-managing-child-processes-starting-stopping-exec-spawn) goes the simple route of

[2018-04-01 00:31] alexjeffburke opened #19716 "Error "message" property enumerability change on 9.7.0+"
* **Version**: 9.7.0+
* **Platform**: macOS 10.12.6
* **Subsystem**: errors

_Background_
There appears to be a change in the enumerability of the "message" property on at least errors coming up from the getaddrinfo system call that were noticed when a number of tests for the Unexpected project and a number of it's plugins started failing. After looking into and rolling out code changes I was able

[2018-04-01 00:59] #18570 closed

[2018-04-01 01:43] gabrielschulhof commented on #19673
No, my [previous modification](https://github.com/nodejs/node/issues/19537) is actually failing to heed the comment whereby it's inadvisable to access fields of a `Reference` instance after the `finalize_callback` has been called, because the callback might actually destroy the `Reference`.

[2018-04-01 05:34] mscdex commented on #19716
If I had to guess, it's probably 1246902baee815755303cd0f2c52863245f60a76. One difference is that no message is being passed to the `Error()` constructor but the `.message` property is manually being set instead. That might cause this change?

[2018-04-01 06:00] joyeecheung commented on #19716
@alexjeffburke Yes that's the intended behavior, because most errors coming out of Node.js or the JS engine does not have a enumerable `error.message` since [it's spec'ed](https://tc39.github.io/ecma262/#sec-error-message) that messages passed during instantiation should not be enumerable. Could not find a link but I believe transforming the errors into a more uniformed manner triggered a test fai

[2018-04-01 06:03] joyeecheung commented on #19716
Also, to test against errors coming out of Node.js v8 and above, a better way is to test against (a subset of) their properties, e.g.  `syscall`, `code` and `host`, instead of messages. That's also what we started to do in the tests of Node.js core.

[2018-04-01 06:06] joyeecheung commented on #19716
Oops, I think I misread the OP, it was talking about  `dnsException`, not `exceptionWithHostPort` that I mentioned in https://github.com/nodejs/node/issues/19716#issuecomment-377763868 , this should be fixed by https://github.com/nodejs/node/pull/19719

[2018-04-01 06:13] ryzokuken commented on #19715
If I'm not wrong, this *should* just involve adding a simple check at https://github.com/nodejs/node/blob/master/lib/fs.js#L1976, something on the lines of:

[code]

Let me know if it sounds about right and I'll submit a PR promptly.

[2018-04-01 07:25] seishun commented on #17077
It looks like you posted an unfinished comment.

[2018-04-01 07:31] ChALkeR commented on #19699
@tniessen Thanks for finding that module and fixing it!

[2018-04-01 09:44] GeoffreyBooth opened #19725 "ES modules mode for string input"
* **Version**: v10.0.0-nightly2018033128b622cb08
* **Platform**: Darwin Kernel Version 17.4.0

There should be a way to enable ES modules mode other than executing an `.mjs` file. In particular, I want to be able to tell Node that an input string should be evaluated as if it were in an `.mjs` file:

[code]

As you see here, an `import` statement passed to Node via `--eval` doesn’t work, even with

[2018-04-01 11:01] hyunsooda opened #19726 "How can I find directory of basic module?"
* **Version**:  latest
* **Platform**: Mac
* **Subsystem**:

Hi, I'm korean student.
I usaully use basic module such as 'http' , 'url', 'fs' etc...
I would like to see source cod of http module. but I couldn't find it.
In my global node_module directory, I could find five directory.

<img width="550" alt="2018-04-01 7 56 51" src="https://user-images.githubusercontent.com/12508269/38172409-e9e31b8e

[2018-04-01 11:13] vsemozhetbyt commented on #19726
Core node modules are incorporated in the binary executable. You can see them only in the source code:

https://github.com/nodejs/node/blob/master/lib/http.js

[2018-04-01 11:14] aduh95 commented on #19726
Core module source code can be found in the [`lib` directory](https://github.com/nodejs/node/tree/master/lib) of this repo, as it is described in the [official docs](https://nodejs.org/docs/latest-v9.x/api/modules.html#modules_core_modules). For example, the `http` is here: https://github.com/nodejs/node/blob/master/lib/http.js

As you can see, each module is in a separate `.js` file.

[2018-04-01 11:18] dsinecos commented on #19594
Got your point on how to test this PR, thanks :)

@gireeshpunathil Need some more help here, I think I messed up my build.

After I ran `sudo make test` I deleted the folders that had root permissions (`test/.tmp.0` ..., `test/addons/01_function_arguments` ...), thinking that they would be recreated when I run `make test` (I had tried that earlier and it had worked) This time around though, I get

[2018-04-01 11:18] alexjeffburke commented on #19716
@mscdex yeah I think it is exactly that - within the commit you linked it's [this](https://github.com/nodejs/node/commit/1246902baee815755303cd0f2c52863245f60a76#diff-4cce137cb8157852360b2884ec408341L55) ending up as [that](https://github.com/nodejs/node/commit/1246902baee815755303cd0f2c52863245f60a76#diff-5a3344c263a73c663dd1cfcb91880fd7R226).

@joyeecheung yep it's a defined quirk in the spec. I

[2018-04-01 11:22] hyunsooda commented on #19726
If Corde node.js modules were incorporated into one file(such as webpack), how can I find it?
there is a point that I wanna edit in Core module..

[2018-04-01 11:22] range3 opened #19727 "fs.ReadStream / fs.WriteStream destroy(err) function doesn't emit error event"
* **Version**: v9.8.0
* **Platform**: Linux 3.16.0-5-amd64 SMP Debian 3.16.51-3+deb8u1 (2018-01-08) x86_64 GNU/Linux
* **Subsystem**: fs

test.js:
[code]
Outputs:
[code]

I guess [this line](https://github.com/nodejs/node/blob/3e1dd5597cce45fa7ef6aeb8889ddbd27927c4b4/lib/fs.js#L2128) should be
[code]

[2018-04-01 11:44] devsnek commented on #19725
i could see it being reasonable for this to work with --mode=esm /cc @guybedford

[2018-04-01 11:55] hyunsooda commented on #19726
oh! ... It seems to be not easy..
Thank you for responding.
Have a nice day:)

[2018-04-01 13:17] cjihrig commented on #19726
Closing as answered. If you have any additional questions, please ask them at https://github.com/nodejs/help

[2018-04-01 13:17] #19726 closed

[2018-04-01 14:36] laino opened #19729 "net: Don't unlink unix socket on server.close()"
* **Platform**: Linux

Right now before an unix socket is closed [its file is also unlinked by libuv](https://github.com/nodejs/node/blob/master/deps/uv/src/unix/pipe.c#L125). This behavior seems to go against the [current docs](https://nodejs.org/api/net.html#net_identifying_paths_for_ipc_connections), which explicitly mention that the socket would persist until unlinked (seems to imply this does

[2018-04-01 14:56] guybedford commented on #19725
Yes, I was planning to provide this PR once we've decided on how the mode should behave for normal execution, as there are edge cases to work out here. The basic implementation at https://github.com/guybedford/node/commit/1d6b8ba3d9cef90e2052f36bcb5522dec8e2156a is pending an update on https://github.com/nodejs/node/pull/18392.

[2018-04-01 15:20] cjihrig commented on #19727
@range3 want to send a PR?

[2018-04-01 15:36] addaleax commented on #19729
/cc @gireeshpunathil

[2018-04-01 15:37] range3 commented on #19727
@cjihrig ok, I'm going to make a PR.

[2018-04-01 16:46] bnoordhuis commented on #3617
It was closed because the current behavior is as good as it's going to get without gross hacks.

Tools like taskkill call `TerminateProcess()` in a loop until there is nothing left to terminate.  That doesn't map well to `process.kill()` except for the `process.kill('SIGKILL')` case.

Libuv would probably accept a pull request to implement that last case.  If you or someone else want to work on th

[2018-04-01 18:02] anliting commented on #19715
Similar checking can be found here (https://github.com/nodejs/node/blob/master/lib/fs.js#L2010-L2026), so I think it might be more appropriate to make a patch here, for the sake of maintainability.

`start` and `end` are integers (https://nodejs.org/api/fs.html#fs_fs_createreadstream_path_options), so I think it might be more appropriate to check it with `Number.isInteger`, avoiding there are simi

[2018-04-01 18:07] GeoffreyBooth commented on #19725
Why is a new file extension or flag necessary? If the source contains an `import` or `export` statement, Node should treat it as an ES module. Such syntax currently throws an error in CommonJS mode, so it could be the way that developers opt in to the new system.

[2018-04-01 18:12] ryzokuken commented on #19715
@anliting I've made the change at the exact same place.

[2018-04-01 18:28] devsnek commented on #19725
@GeoffreyBooth unfortunately `import` and `export` aren't the only things that make a module a module. modules also enforce strict mode and have a few differences to node's commonjs in terms of globals and such. its impossible to accurately know what the user wants with just the source text.

[2018-04-01 18:37] GeoffreyBooth commented on #19725
That doesn't seem like a significant enough edge case to justify requiring a new extension or flag. I think a module could be declared by the use of `import` or `export`, just as strict mode is declared by the use of `"use strict"`. If you want your file to be treated as a module but you weren't planning on importing or exporting anything, you would need to add an empty export; but that feels bett

[2018-04-01 18:42] spencerwilson opened #19733 "--inspect exhibits unbounded memory growth"
* **Version**: v9.10.1
* **Platform**: Darwin 17.4.0 Darwin Kernel Version 17.4.0: Sun Dec 17 09:19:54 PST 2017; roo│ 13 }
t:xnu-4570.41.2~1/RELEASE_X86_64 x86_64
* **Subsystem**: V8

It seems that `process.memoryUsage().rss` grows about 15 MiB per second when the following [SSCCE](http://sscce.org/) is run with `node --inspect` and a debugger is attached:
[code]

**Expected:** All memory measures

[2018-04-01 18:50] addaleax commented on #19733
I can’t reproduce this on Linux. You could try taking [heap dumps](https://www.npmjs.com/package/heapdump) at different points in time in the program and comparing them, that might be helpful?

[2018-04-01 19:01] devsnek commented on #19725
@GeoffreyBooth with node we must every use case, even if the majority of our users don't care about it. right now node has decided to use mjs; i'm sorry if you aren't a fan of it. you can follow the progress of what node is doing at http://github.com/nodejs/modules

[2018-04-01 19:03] spencerwilson commented on #19733
Thanks for the quick triage, @addaleax ! I've discovered that I only observe this issue if node is started with the `--inspect` option. I'll add that to the issue.

[2018-04-01 19:41] bnoordhuis commented on #19733
That's expected.  There's another issue about it (somewhere... can't find it) but the gist is that the inspector retains a reference to eval'd code in case the user wants to inspect it.

[2018-04-01 19:53] GeoffreyBooth commented on #19725
These options aren’t mutually exclusive. If you want to handle the case of providing a way for Node throwing an error when a `.js` file contains `import` but you _don’t_ want it parsed as a module, add `--mode=esm` as mentioned above. Likewise, even if you adopt my suggestion Node can still keep the `.mjs` extension, and it’s yet another way to force Node to treat a file as a module.

It’s not tha

[2018-04-01 22:08] ghemingway opened #19736 "Map.get does not work well for keys of type Buffer"
Version: v9.10.1
Platform: Darwin macbook-pro-8.lan 17.5.0 Darwin Kernel Version 17.5.0: Mon Mar  5 22:24:32 PST 2018; root:xnu-4570.51.1~1/RELEASE_X86_64 x86_64
Subsystem: JS Maps

I want to use Buffers as the key portion of a JS Map.  I would expect to be able to use any buffer equivalent to the key to lookup a value, but this does not work on keys of type Buffer.  See the following code:

[code

[2018-04-01 22:19] vsemozhetbyt commented on #19736
If I am not wrong, `buf.equals(otherBuffer)` [compares the content](https://nodejs.org/api/buffer.html#buffer_buf_equals_otherbuffer) of two different objects, while `Map.get()` requires the same object.

[2018-04-01 22:29] anliting commented on #19711
Maybe it is not a bug: "Stops the server from accepting new connections and keeps existing connections." (from https://nodejs.org/api/net.html#net_server_close_callback)

[2018-04-01 22:39] ghemingway commented on #19736
It seems to work fine for strings that are not the same object, but of equivalent values:

'test'

[2018-04-01 23:01] devsnek commented on #19736
two strings with the same content are essentially the same string, as all strings are immutable. meanwhile two buffers with the same content are still two distinct objects, they just happen to hold the same bytes in the same order. buffer foo and buffer bar are not the same by equality (== or ===)

[2018-04-01 23:02] bnoordhuis commented on #19736
Closing as answered.

[2018-04-01 23:02] #19736 closed

[2018-04-01 23:03] ghemingway commented on #19736
Ok.  Thanks.

[2018-04-02 02:27] kenny-y commented on #6379
@ChALkeR What do you say on this approach? Do you think it's a good idea to change existing behavior or stdout/stderr, or introduce new APIs with proper names suggesting that a buffer is in use?

[2018-04-02 02:48] joyeecheung commented on #19307
How many people that need a non-normal build actually use the official installers? My guess is we could provide such builds to download, and whoever wants those can grab it by themselves and install them on their own, the can send feature requests to nvm of course.

[2018-04-02 03:54] ajax-2 opened #19740 "JSON parse Error"
## Json parse error. All datatype will be parse to  object.

var b = [{"constant":true,"inputs":[],"name":"get_a","outputs":[{"name":"name","type":"string"}],"payable":false,"stateMutability":"pure","type":"function"}];
But i get this when i put b:
    [ { constant: true,
    inputs: [],
    name: 'get_a',
    outputs: [ [Object] ],
    payable: false,
    stateMutability: 'pure',
    type: 'funct

[2018-04-02 04:57] mscdex commented on #19740
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

However, there is no problem here. Assuming you're referring to the `[Object]` portion of the output, that is because `util.inspect()` (used implicitly in the repl) does not

[2018-04-02 04:57] #19740 closed

[2018-04-02 05:12] gireeshpunathil commented on #19594
- `make clean` and `make test`
if that fails
 - `./configure && make test`
if that too fails due to missing sources,
 - `git status` will tell you the list of missing files, do `git checkout` on them and do a rebuild

[2018-04-02 05:30] hashseed commented on #19656
Is there any reason to use earlier ICU? I'm asking also for future reference. I don't think V8 is expected to work with arbitrary ICU versions, as that's not what we test.

[2018-04-02 06:42] ajax-2 commented on #19740
@mscdex please I need some help. From your suggestion, I can get normal output, but this is 'str', I can't parse it json. If I use nodejs with web3.js, tracker errors still bother me. I need to translate contract-abi into json with JSON.parse.
contract-abi:
'[{"constant":true,"inputs":[],"name":"get_a","outputs":[{"name":"name","type":"string"}],"payable":false,"stateMutability":"pure","type":"fun

[2018-04-02 06:59] gireeshpunathil commented on #19729
@laino -  reading your 2 statements together

and

I get an impression that your use case is to start a new instance before (or while) the old one dies.
Also I guess you mean to say that it is the most common scenario.
Can you please confirm?

My take is that, I am sure that is the case - scripts that monitor process PIDs determine when a process died and when to start a fresh one.

However, I agr

[2018-04-02 07:39] gireeshpunathil commented on #19218
This is easily reproducible in MAC through:
#cat 19218.js
[code]
#node 19218.js
[code]
#node 19218.js true
[code]
#

`maxBuffer` is not a consideration in this problem.

And the root cause identified as the fact that `console.log` non blocking, so if a process issues it and exits afterwards, the actual number of bytes written depends on the time gap between the two actions and the capability of th

[2018-04-02 07:59] arboreal84 commented on #19715
`isNaN` still allows infinite numbers (`-Infinity`, `Infinity`).
`Infinity` is currently used as the fallback value for `end` for backwards compatibility, but I am not so sure if it's a good choice for `start`.

[2018-04-02 08:30] aabfred commented on #19704
Sorry, you can close.
I used **node foo.js --no-warnings** instead of **node --no-warnings foo.js**

[2018-04-02 08:40] ajax-2 opened #19744 "how to set tracker level"
The problem is like #19740, because that topic is not very detailed and I didn't get the answer I wanted.
According to my needs, I use nodejs and web3.js, the depth of abi is 4 or 5, but in nodejs, the depth is 3, so I get the following message:

Print c:[{a:{g:'h'}}]

Print c:[{a:['v',[Object]]}]

I hope that the higher levels are the same as the three levels.
Maybe i can set default levels, I'm

[2018-04-02 08:49] bnoordhuis commented on #19744
You've already been told that this bug tracker is not the right place for general questions.  Please use the help repo from now on.

[2018-04-02 08:49] #19744 closed

[2018-04-02 09:05] bnoordhuis commented on #19656
It's not but this specific patch makes it work again with the system ICU on recent Ubuntu releases.  That seemed worthwhile enough for a one-liner.

[2018-04-02 09:15] anliting commented on #19711
I think they have the same behavior, consider:

[code]

[2018-04-02 09:19] anliting commented on #19715
@arboreal84 Check out #19732 if it solves your issue.

[2018-04-02 09:22] ryzokuken commented on #19715
@arboreal84 I don't think `-Infinity` returns `true` on `Number.isInteger(...)` though.

[2018-04-02 09:59] abidrana7 opened #19747 "browser unable to load latest node version"
* **Version**: `v9.5.0`
* **Platform**: Windows 64bit
* **Subsystem**:

i'm running my Mocha scripts via Browserify in browser but got the following error in browser's console:

"Uncaught Error: Sync-request requires node version 0.12 or later.  If you need to use it with an older version of node
you can `npm install sync-request@2.2.0`, which was the last version to support older versions of node

[2018-04-02 10:27] gireeshpunathil commented on #18016
how about this:
[code]

[2018-04-02 10:35] bnoordhuis opened #19748 "crypto,doc: update language around key stretching"
`doc/api/crypto.md` currently says this:

That's only sound when the key+IV are used once.  Using the same key+IV twice is undesirable in general and downright disastrous with counter mode ciphers:

1. identical plaintexts encrypt to the same ciphertext (usually not what you want)
2. leaks information about the initial plaintext block with CBC and CFB ciphers
3. completely destroys the security of

[2018-04-02 10:44] lpinca commented on #19635
I'm going ahead and close this, let me know if I'm wrong and it should stay open.

[2018-04-02 10:44] #19635 closed

[2018-04-02 10:45] #19704 closed

[2018-04-02 10:47] bnoordhuis commented on #19747
Please report that to the right project.

[2018-04-02 10:47] #19747 closed

[2018-04-02 10:55] lpinca commented on #19711
`http2. createServer()` and `http2. createSecureServer()` return respectively an instance of `Http2Server` and `Http2SecureServer` which inherits from `net.Server` and `tls.Server` so it is somehow implied that the `close` method work in the same ways and has the same behavior.

That said, it doesn't harm to clarify that in the docs.

[2018-04-02 11:12] anliting commented on #19711
I would guess @aabfred is new to HTTP/2. Would you like to figure the differences out, and describe the illusion that they doesn't have the same behavior? I think it might help making a good documentation.

[2018-04-02 12:02] rajdhandus commented on #19592
@dsinecos @tniessen @lpinca - I would like to take this up.. Can i please work on this issue?

[2018-04-02 12:37] lpinca commented on #19592
@rajdhandus sure.

[2018-04-02 12:56] elibarzilay commented on #18016
I'm not sure that I'm catching the difference here.  The main thing that
I can see is that you're using `pipe` and a manual loop at the end of
the chain instead of just connecting it to `process.stdout`.  If that's
the case, then I think that there is some problem with `process.stdout`.

I've tried to start with your bit, cleaning it up a little (I don't have
`process.error`, so replace it with `p

[2018-04-02 13:50] gireeshpunathil commented on #18016
can you share with me a failing scenario? I am not able observe the `dropping stdout` scenario.

[2018-04-02 14:37] antoniobusrod commented on #19199
Hi @psmarshall is right, I've repeated the test using v8.11.1 and it failed as I described in this issue. However, If I manually add an empty line at the end of `isolate-0xnnnnnnnnnnnn-v8.log`, it works.

[2018-04-02 14:43] srl295 commented on #19656
@hashseed No there is not a reason to use an earlier ICU usually. But in this case it was a regression introduced by https://github.com/v8/v8/commit/99e896368c5ff059a8e9b03235e40227f70c6081 which just had an unneeded cast - there's also no reason to restrict earlier ICUs (especially when they are in active use) for non-feature/bugfix code.

[2018-04-02 14:54] srl295 commented on #17077
@seishun can you attach the res_index.txt file here?

[2018-04-02 15:00] seishun commented on #17077
You mean the file iculslocs generates? Here you go: [res_index.txt](https://github.com/nodejs/node/files/1868370/res_index.txt)

[2018-04-02 15:03] srl295 commented on #17077
^ that would still be interesting, but I think I found the problem.

iculslocs writes out:
[code]

… but the path given is based on `argv[0]` which is in process encoding, not necessarily utf-8. The path doesn't really add any value here. I'll change it to the following (note that the ../.. path is gone)

[code]

[2018-04-02 15:12] srl295 commented on #17077
@seishun are you able to test the commit I made to https://github.com/srl295/node/tree/fix-iculslocs  ?

[2018-04-02 15:13] srl295 commented on #17077
@seishun perfect, that confirms what I thought. I think the above fix will solve the issue.

[2018-04-02 15:20] elibarzilay commented on #18016
Sorry, I tried recreating it with a toy directory but it doesn't show the problem there.  Above, I'm running it in a pretty big directory, which is where I see the problem.

[2018-04-02 15:26] elibarzilay commented on #18016
I tried it again on my home directory, and the discrepancies are very frequent, to the point that two consecutive runs rarely produce the same output.  I also tried it without the direct `process.stdout` (with the manual output printing thing) and that fails to produce consistent results too.

I'm guessing that you should be able to see this if running in a big enough directory.

[2018-04-02 15:36] gireeshpunathil commented on #18016
yes, I tried quite a big one but could not see anything wrong. But as you state you are seeing it consistently, let me try again. Couple of sanity checks:
 - hope you are not redirecting output to a file - in which case the `process.stdout` changes its identity.
 - for that matter you are also not counting output lines through ` | wc -l ` etc.?

 - hope you are not taking care of the re-ordering o

[2018-04-02 15:37] tniessen commented on #19748
Not that I know of. One can think of a cipher `E` which uses an IV `N` as a parameterized algorithm whose only inputs are key and message (`c = E`<sub>`N`</sub>`(k, m)`), and in this case the IV need not be secret according to Kerckhoff's principle.

It is not strictly necessary to use a KDF to produce the IV, and it is valid to reuse a key with different IVs to some extent.

[2018-04-02 15:55] ChALkeR commented on #19736
@ghemingway More examples in plain JS:
[code]

[code]

[2018-04-02 16:01] seishun commented on #17077
That fixes the issue with iculslocs, but doesn't completely fix the build issue because there is another similar issue with "protocol_generated_sources" from V8.

In addition, fixing both issues would allow builds from Latin-1 paths, but not for all Unicode paths. Fixing it generally probably requires moving to a different build system (https://github.com/nodejs/node/issues/18560#issuecomment-3631

[2018-04-02 16:02] joyeecheung commented on #19652
As a user of assert, I do appreciate the new features as they make the results much easier to read by default, but as a maintainer I'll have to say I share the sentiment as the OP, especially when user-land eye candies like `power-assert` exists (sorry that I have not paid enough attention while the features were being added and didn't speak up before, had I know they were coming I would probably

[2018-04-02 16:51] dsinecos commented on #19594
I tried `make clean` but it gave EACCES permission denied errors, So I ran `sudo make clean` and then `make test`. That worked :)

[2018-04-02 17:21] srl295 commented on #17077
@seishun OK. this fix should at least make the ICU tooling subsystem not dependent on the path (whether latin1 or all unicode).  I'll open a PR.

[2018-04-02 17:44] spencerwilson commented on #19733
Added another case where arguments to `new Function(...)` are leaked; the strings appear as data that's just two hops from some `(GC root)`.

[2018-04-02 18:17] pavcieslak commented on #15239
Thank you santiraffo. I had the same issue and had no idea why is it happening. After your suggestion have decided to turn off my Malwarebytes app (on my windows laptop) and run the command once again and no hanging, all went smooth, without having that stupic .staging folder inside my node_modules folder.

[2018-04-02 18:25] Trott commented on #19148
Do we have any indication from @mafintosh that this would be something they'd want to do? (I'm totally +1 on this nomination, of course.)

[2018-04-02 18:34] mafintosh commented on #19148
@Trott :+1: from me as well

[2018-04-02 18:40] jasnell commented on #19148
I can do the onboarding

[2018-04-02 18:47] Adsada2205 commented on #19148
ในวันที่ อ. 3 เม.ย. 2018 01:36 Mathias Buus <notifications@github.com>
เขียนว่า:

[2018-04-02 19:02] uttampawar commented on #14209
@trevnorris There is no activity since last year. Do you still need someone to work on this issue?

[2018-04-02 20:18] laino commented on #19729
I don't think my initial run-on sentence explaining this was very coherent. So please consider this simplified case where we start a new process, wait for it to become ready, and only then stop the old process:

1. **Old:** Is running and accepts connections on ``mySock.sock``
2. **New:** Starts and tries to listen on the socket:
    - ``fs.unlink("mySock.sock")``
    - ``server.listen("mySock.soc

[2018-04-02 20:25] rajdhandus commented on #19592
thanks..

[2018-04-02 20:44] AndreasMadsen commented on #14209
It has been implemented

[2018-04-02 20:44] #14209 closed

[2018-04-02 21:18] franklinyu opened #19760 "Implement RegExp Named Capture Groups"
This is a feature request. The [RegExp Named Capture Groups](https://github.com/tc39/proposal-regexp-named-groups) has been a Stage 4 proposal. Please consider implementing it.

[2018-04-02 21:27] addaleax commented on #19760
Fwiw: This is implemented in the JS engine in V8 6.4, which will be released as part of Node 10 next month. I don’t think there’s much more that we can do about it?

[2018-04-02 21:29] jasnell commented on #19760
Yep, there's nothing we do in core for this.

[2018-04-02 21:29] #19760 closed

[2018-04-02 21:45] mhdawson commented on #19673
@gabrielschulhof are you working on a fix? Would like to get the node-add-api tests back to green so may take a look if you are not going to have time this week.

[2018-04-02 21:48] Trott commented on #19760
This is currently implemented behind the `--harmony-regexp-named-captures` command line flag in Node.js 9.10.1 (and earlier probably, but I didn't check).

[2018-04-02 21:49] Trott commented on #19744
Hi! This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like this one, please file an issue on our help
repo. https://github.com/nodejs/help

Thanks!

[2018-04-02 21:50] nodeav commented on #19595
I'm still working on the doc change,
however it looks like since the whatwg spec talks specifically about an input **String**, as opposed to an input **Number**, a bug still exists here, either in the doc or in the code; The NodeJS docs say the port can be set as a number, which is then range-checked.

a snippet from the whatwg spec:
Let port be the mathematical integer value that is represented b

[2018-04-02 21:51] Trott commented on #19747
Ref: https://github.com/ForbesLindesay/sync-request/issues/93

[2018-04-02 22:51] mlucool commented on #19619
@bnoordhuis Do you expect this to always work/enable me to set the port at runtime?
[code]

[2018-04-03 00:08] m-a-r-c-e-l-i-n-o opened #19763 "Missing useful debug information for Dynamic Import errors"
Hello there,

Node: v9.10.1
Platform: Darwin MACLTUS44977 15.6.0 Darwin Kernel Version 15.6.0

[code]
So "problem.mjs" has an issue, which is that it is using the "await" keyword inside a non "async" function.

If you try to run this file as an entry in node or regular import, a very helpful error is thrown as expected:
[code]

But... if you try to "dynamically" import "problem.mjs", it throws a c

[2018-04-03 00:25] travisperson opened #19764 "stream: change in stdout/stderr events from child process (missing `finish`)"
* **Version**: v9.9.0
* **Platform**: 4.15.13-1-ARCH #1 SMP PREEMPT Sun Mar 25 11:27:57 UTC 2018 x86_64 GNU/Linux
* **Subsystem**: stream

I believe commit https://github.com/nodejs/node/commit/9c0c0e68ac introduced a breaking change to what events are emitted from child process streams stdout/stderr.

[code]

In node v9.9.0
[code]

In node v9.8.0
[code]

Per the documentation, `finish` should onl

[2018-04-03 01:46] gabrielschulhof commented on #19673
@mhdawson I'm about to land #19718.

[2018-04-03 01:53] gabrielschulhof commented on #19673
@mhdawson I actually have to let it sit for another day, because it's only been two days since I posted the PR.

[2018-04-03 04:09] devsnek commented on #19763
i think once we standardise our use of module errors in ModuleJob we can streamline decorating the error stack but i'll have to look into it more

[2018-04-03 06:05] lpinca commented on #19764
Analysis seems correct. The following patch is untested but should fix the issue:

[code]

I will test it properly and open a PR.

[2018-04-03 07:28] yhwang commented on #19655
@eduardbcom

Assuming that you build the node.js with the `deps/openssl`, then it should support `id-smime-alg-CMS3DESwrap`

I tried to run your script in my ubuntu 16.04 env, I found it would work if you skip `cipher.final()` and `decipher.final()`. I traced the openssl where it handles the `id-smime-alg-CMS3DESwrap`, the return value of the `cipher.final()` seems invalid. I know for cipher and d

[2018-04-03 07:36] MoonBall commented on #13825
@Flarna I think the document needs to be changed. Would you like to make a PR to make the document more perfect?

[2018-04-03 07:52] lpinca commented on #19764
On second thought I don't think it's 9c0c0e6 that caused the regression as this https://github.com/nodejs/node/blob/v9.9.0/lib/net.js#L613-L616 should call `Socket.prototype.end()` regardless of the "no-half-open enforcer".

This needs a bisect.

[2018-04-03 08:15] #19619 closed

[2018-04-03 08:45] Flarna commented on #19530
I can confirm that all four NodeJs versions run fine on our RedHat Enterprise 7.3.

[2018-04-03 09:24] lpinca commented on #19764
Ok, yes 152c931f5397a435f5e0c0155743dac309fc9bbc is the first bad commit.
The issue happens because the socket is [not writable](https://github.com/nodejs/node/blob/v9.9.0/lib/internal/child_process.js#L347-L348) so [`Socket.prototype.end()`](https://github.com/nodejs/node/blob/v9.9.0/lib/net.js#L512) is not called.

The no-half-open enforcer was calling `Socket.prototype.end()` even if the socket

[2018-04-03 10:14] bnoordhuis commented on #19733
@eugeneo I believe it was you who commented on the other issue?  Is this a wontfix?

[2018-04-03 12:21] themaarten opened #19769 "Performance regression in v8.10 and v9.0 for Maps with object keys"
* **Version**: >= v8.10.0, >= v9.0.0
* **Platform**: multiple (tested on `Ubuntu 14.04.5 LTS (GNU/Linux 3.13.0-129-generic x86_64)` and `macOS 10.13.3 (17D102) Darwin 17.4.0`)
* **Subsystem**: V8

Compared to v8.9.4 there's a major performance regression in v8.10.0 and v9.0.0 for `Map` instances that use objects as keys. The issue is making our application unacceptably slow, forcing us to downgrad

[2018-04-03 12:39] vsemozhetbyt commented on #19769
v8.9.4 has V8 6.1, while v8.10.0 and v9.0.0 have V8 6.2, so it may be V8 regression.

[2018-04-03 12:50] vsemozhetbyt commented on #19769
Are we planning to upgrade Node.js v8.x LTS to V8 6.3?

[2018-04-03 12:53] targos commented on #19769
@vsemozhetbyt There is no plan to do it. v9.x was never upgraded to this version.

This is very likely fixed by this commit: https://github.com/v8/v8/commit/a803fad068211ab6c445f485130dc52cbeadfd52

[2018-04-03 13:05] vsemozhetbyt commented on #19769
So we can only advise upgrading to Node.js v10 after the release in a month in this situation, right?

[2018-04-03 13:12] targos commented on #19769
We can try to backport the fix. I'm doing that right now.

[2018-04-03 13:20] targos commented on #19769
https://github.com/nodejs/node/pull/19770

[2018-04-03 13:38] #19673 closed

[2018-04-03 14:04] BridgeAR commented on #18998
It seems like we still have failures that that do not bring up any stack traces. @Trott you got a couple of those recently.

[2018-04-03 14:08] addaleax commented on #18998
@BridgeAR @Trott Do you know which machines are affected most by this? This has been going on for a while now, and I think I’d like to request access from build to try and debug those…

[2018-04-03 15:01] #17077 closed

[2018-04-03 15:08] HaseenaBegumShabudin commented on #4760
Hi All,

I have reproduced the same steps and I am getting the expected result as "[ [ 'view' ], undefined, [] ]" in both Windows and MacOS.

Please let me know, is this defect fixed in node?
Please let me know, if am missing anything here....

Thank you

[2018-04-03 15:13] ak239 commented on #19733
In theory, we can hold strong references only for scripts which was reported by protocol. It looks like if script was collected by gc and was not reported by protocol as scriptId it can not appear in protocol later.
I will try this solution when I will have some free cycles.

[2018-04-03 15:48] travisperson commented on #19764
Yes, I think you are correct in this behavior change is a bug fix. The change does better reflect documentation on streams as `finish` should only be associated with a `writable` stream. Pushing #18974 to a semver-major seems appropriate.

Thank you for divining into this so quickly!

[2018-04-03 15:59] gh-andre commented on #16658
I'm facing the same issue and I see that #16700 is closed. Does it mean that one of the future versions of Node will support separate unrelated v8 isolates loaded within Node modules? If so, what's the planned timeline for this to be released? Thanks!

[2018-04-03 16:31] vsemozhetbyt commented on #19405
To make sure: will it be blocking issue for the release?

[2018-04-03 16:36] BridgeAR commented on #19405
@vsemozhetbyt I actually plan on having some further changes to the `util.inspect` defaults and hope to get them ready soon. Can you please check if the issue is also already immanent if the `depth` is set to 100 as a default?

[2018-04-03 16:38] lhrolim commented on #18436
Thanks @asfernandes  you were a life saver.

[2018-04-03 17:02] mcollina commented on #19148
Fixed in #19773

[2018-04-03 17:02] #19148 closed

[2018-04-03 17:07] vsemozhetbyt commented on #19405
Where can I change this? Is this env variable or is it module code and I should recompile?

[2018-04-03 17:15] BridgeAR commented on #18998
Refs: https://github.com/nodejs/build/issues/1207

[2018-04-03 17:19] Trott commented on #18998
@addaleax Not sure, but I'll try to take note. Here's another one from today on ppcle-ubuntu1404...

https://ci.nodejs.org/job/node-test-commit-plinux/16540/nodes=ppcle-ubuntu1404/console

[code]

[2018-04-03 18:57] gustavomassa opened #19778 "Node Cluster Load Balancing Jobs between Workers"
Version: 9.3.0
Platform Windows 10 Pro, Debian 9 and CentOS 7

Hello, I have a question and need some help on how I can implement that correctly.

Basically I have a Cluster Master and a Cluster Slave controllers classes, I want to build a scheduler/load-balancer algorithm on master to dispatch jobs/functions/events to workers, where the worker choosen is the most desireble to receive the job, tha

[2018-04-03 19:02] devsnek commented on #19778
check out worker.send in the docs: https://nodejs.org/api/cluster.html#cluster_worker_send_message_sendhandle_callback

that's completely up to your design goals

[2018-04-03 19:12] gustavomassa commented on #19778
@devsnek

I'm sorry, I did not express myself correctly, I used the wrong word, the correct word is "rely" and not "relay".

[2018-04-03 19:20] devsnek commented on #19778
@gustavomassa i'm not sure what you mean by "rely on", they function the way you would expect, there are no catches or gotchas.

[2018-04-03 19:35] gh-andre commented on #16658
Oh, I see that it's in 9.3.0. Will give it a try. Thanks.

[2018-04-03 20:38] Trott commented on #19778
This might be better suited for https://github.com/nodejs/help, which is the general support repository. This is for reporting bugs and requesting/tracking feature enhancements in Node.js.

[2018-04-03 20:50] #19778 closed

[2018-04-03 20:50] gustavomassa commented on #19778
https://github.com/nodejs/help/issues/1197

[2018-04-03 21:00] yhwang commented on #19365
One of the scenario that I tried to handle before is canceling the long-running javascript execution. And it's a tough case because of the resource clean up. For using node.js as shared lib, the mechanism that we provide to shutdown node may also need to handle this case.

[2018-04-03 21:04] Jbooby opened #19782 "Issude"
* **Version**:
* **Platform**:
* **Subsystem**:

so u have a windows 7 32bit pc but i cant download node it just says something about a failed installation and just doesnt download

[2018-04-03 21:09] mscdex commented on #19782
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-04-03 21:09] #19782 closed

[2018-04-03 21:37] m-a-r-c-e-l-i-n-o opened #19783 "Missing useful debug information for Import "MODULE_NOT_FOUND" error"
Hello there,

Node: v9.10.1
Platform: Darwin MACLTUS44977 15.6.0 Darwin Kernel Version 15.6.0

[code]
The above works as expected, in the sense that it is a syntax error and will throw a useful error denoting the filename and line number:
[code]

However, if the module does not exist:
[code]
The error is fairly useless and it does not give any information about the filename or line number:
[code]

[2018-04-03 21:58] ryzokuken commented on #678
@Trott what's the status on this? Are we working on it?

[2018-04-03 22:00] addaleax commented on #678
@ryzokuken I don’t think anybody is working on that.

The things that are discussed here, about some separation in the thread pool between I/O- and CPU-bound work might be a good idea, but essentially it’s a different topic, and if you feel comfortable tackling this particular issue, go for it!

[2018-04-03 22:00] ryzokuken commented on #784
Is this still not fixed?

[2018-04-03 22:04] addaleax commented on #784
@ryzokuken No, and it’s *hard* to fix this. I have some thoughts on how to tackle this after we can get https://github.com/nodejs/node/pull/19377 in, though:

I think we could flush the stdio streams as part of the handle cleanup methods (or possibly even all libuv-backed streams), by delaying closing those streams until after all libuv requests have drained from the event loop. We’d need a way to

[2018-04-03 22:07] ryzokuken commented on #678
@addaleax let me give this a try.

[2018-04-03 22:09] ryzokuken commented on #784
hmm, this does seem complicated. I have been looking into the issue tracker trying to clean up as much as possible, so I'd be commenting a lot on issues I have next to no idea about anyway 😅

That said, I'd love to take this up on another day if it's still not fixed till then, once I have a deeper understanding of the inner-working on libuv.

[2018-04-03 22:11] addaleax commented on #784
@ryzokuken Yea, that sounds like a good idea – and if you want to actually bring some of these issues to a conclusion, that would be amazing. :blue_heart:

[2018-04-03 22:13] ryzokuken commented on #784
Yes, that's the plan.

[2018-04-03 22:45] #19457 closed

[2018-04-03 22:46] elibarzilay commented on #18016
1. I *am* redirecting to a file, but like I said, the differences happen
   either way.  (I also saw these differences without a redirection.)

2. Using `wc` would be a valid way to test it, since lines get ommitted.
   But I'm mainly comparing the files to verify that there are actual
   differences.

3. And yes, I do account for possible differences in ordering, it's not
   the problem.

[2018-04-04 02:05] gireeshpunathil commented on #18016
thanks for the clarification. Now the only differences would be:
 - in terms of platform. Can you please confirm your complete OS version?
 - the number of files : roughly how many files the `find` command brings forth?

[2018-04-04 02:48] #19646 closed

[2018-04-04 05:11] joyeecheung commented on #18998
I am thinking maybe node-report could be useful, but still I think there's a bug in tools/test.py that fails to collect the stderr/stdout from failed tests.

[2018-04-04 05:43] joyeecheung commented on #19783
cc @nodejs/modules

[2018-04-04 05:44] #19591 closed

[2018-04-04 07:23] targos opened #19786 "Unbreak gulp 3 for Node 10"
Since https://github.com/nodejs/node/pull/19398 landed, gulp 3 (as well as any other package that uses an old version of `graceful-fs`) is broken on master. It is a very popular tool (4M downloads/month) and while there is a version 4 that should not be affected, version 3 is still tagged as "latest" on npm.

We think it's important to fix this and there are two possible ways:
1. Fix the source of

[2018-04-04 08:59] bnoordhuis commented on #19748
@ryzokuken Yes, that's correct.

[2018-04-04 09:25] ChALkeR commented on #19786
Sigh. `graceful-fs@3` using internals strikes back again…

`gulp@3` uses `graceful-fs` v3 branch which seems to be using `natives@^1.1.0`.
So, if we could fix that on `natives` side, it should fix things for gulp and everyone else using `graceful-fs@3`.

_Note: `graceful-fs@4` is fine already, only @3 and below abused internals._

[2018-04-04 09:26] ryzokuken commented on #19748
@bnoordhuis in that case, should I add this particular paragraph to the docs to make it explicit? I believe it sums the whole thing up.

[2018-04-04 09:29] pete85 commented on #10137
Since @angular/cli@1.0.0-beta.28 they've made the AOT compilation the default for production builds. Running "**ng build –prod –aot=false**" helped me with this issue.

[2018-04-04 09:40] bnoordhuis commented on #19748
Sounds good.  As long as it doesn't insinuate that IV reuse is okay, like it does now.

[2018-04-04 09:47] chrismilleruk commented on #19711
Hi, I'm interested in making some improvements here if this is available?

I noticed that inherited methods such as `close` don't appear in the HTTP2 docs, is that a deliberate style-guide convention or is it OK to add these in with a suitable footnote?

I also thought it might be worth introducing a brief explainer near the top to cover the most obvious differences (i.e. introduction of sessions

[2018-04-04 09:51] 38leinaD commented on #16103
I am facing the same issue for Gradle instead of nodejs:

Git for windows version 2.16.2
Windows 7 x64

Fixed when applying the patch from @dscho .
Should i create a seperate issue for it? It seems to be the same/related problem.

[2018-04-04 10:20] vsemozhetbyt opened #19788 "CI linter job failure due to infrastructure issue?"
We have several linter job failures in various PRs with the similar cause:

https://ci.nodejs.org/job/node-test-linter/17685/console

Is some manual cleaning needed on the job's machine?

[2018-04-04 10:37] vsemozhetbyt commented on #19788
It seems fixed somehow. I am not sure if this is a normal situation. I've seen this already last days sometimes. Feel free to close if this is OK.

[2018-04-04 10:42] gibfahn commented on #19788
Maybe fixed by https://github.com/nodejs/node/pull/19746?

[2018-04-04 10:50] vsemozhetbyt commented on #19788
FWIW, cc @nodejs/build @nodejs/linting

[2018-04-04 10:52] guybedford commented on #19393
Another very interesting application of fetch in core is that currently when loading WASM, it is recommended to use `instantiateStreaming` which is specifically defined against a `Response` object following the fetch specification. Faster and universal Web Assembly performance could be an interesting aspect of this!

[2018-04-04 10:54] gibfahn commented on #19788
Actually I think this is a separate issue, the job was failing on a particular machine (`test-rackspace-freebsd10-x64-1`).

I went onto the machine and deleted the `index.lock` file it was complaining about, and it seems to be okay now.

https://ci.nodejs.org/job/node-test-linter/17689/

If it happens again you can raise an issue in nodejs/build.

Alternatively in cases like this you can just dele

[2018-04-04 11:01] vsemozhetbyt commented on #19788
Thank you!

[2018-04-04 11:01] #19788 closed

[2018-04-04 12:17] Trott opened #19791 "Investigate flaky parallel/test-cluster-master-kill on Pi 1"
* **Version**: 10.0.0-pre
* **Platform**: pi1-docker
* **Subsystem**: test cluster

https://ci.nodejs.org/job/node-test-binary-arm/96/RUN_SUBSET=0,label=pi1-docker/console

[code]

[2018-04-04 12:35] kokill opened #19792 "toLocaleString('en-IN') formatting different in browser and node.js environment."
* **Version**: 8.7.0
* **Platform**: Darwin Kernel Version 16.7.0
* **Subsystem**:

[code]

[code]

[code]

Browser output format is correct. Any alternative to fix this issue in node.js or should we write our own function to format the input given ?

[2018-04-04 12:47] ex1st commented on #19792
@kokill, by default nodejs supports only en locale (small-icu).

https://nodejs.org/dist/latest-v8.x/docs/api/intl.html
https://github.com/unicode-org/full-icu-npm

But with full-icu nodejs will be prints:
```"1,23,45,67,890"```

[2018-04-04 12:55] devsnek commented on #19783
@joyeecheung do you know of any way to make sure all our stack traces get decorated

[2018-04-04 12:57] vsemozhetbyt commented on #19792
See also: https://nodejs.org/api/intl.html

[2018-04-04 12:58] kokill commented on #19792
@ex1st Thanks, after building node with full-icu option. its working !

[2018-04-04 12:58] #19792 closed

[2018-04-04 15:00] targos opened #19796 "fs,net: missing documentation for new "ready" events"
PR https://github.com/nodejs/node/pull/19408 added new "ready" events to streams in fs and net.

I think they need to be documented and have a "changes" entry. The commit is going to be in the next v9.x release.

[2018-04-04 15:25] igordeoliveirasa commented on #13635
I guess package-lock.json must stay commited and updated.. Since this file grants that the same packages used and tested in development stage will be  the same..

[2018-04-04 15:26] igordeoliveirasa commented on #13635
In other words: removing package-lock.json works, however is not the right solution.

[2018-04-04 16:47] joyeecheung commented on #19783
@devsnek I have not looked into the ESM loader that much but to decorate the error here you'll probably need to change how/when the exceptions are thrown or handled during ESM loading. Throwing exceptions work for CJS because `require` is called by the modules so it will be on the stack anyway, but for ESM the modules don't call the loader so the loader will have to report the exceptions properly.

[2018-04-04 17:08] devsnek commented on #19783
@joyeecheung ah sorry i meant more like in general is there a way we can avoid calling the util method, maybe we can actually modify the stack on the c++ side? i'm wondering what kind of setup we can come up with to make decorating errors less ad-hoc in core

[2018-04-04 17:24] joyeecheung commented on #19783
@devsnek In terms of reporting errors properly on the C++ side, you can take a look at `ReportException` in node.cc which is also used by the bootstrap code. But I am not sure in the context of ESM if you can get a proper error or TryCatch with the necessary source positions to pass into it.

[2018-04-04 17:26] jdalton commented on #19783
I would :heart: an exposed util for loaders, instrumenters, and such to properly decorate their errors or let Node know not to pave-over others decorated errors.

[2018-04-04 17:28] devsnek commented on #19783
@joyeecheung i was referring to how we pass decorated error stacks around, like if we had a util that took care of it with every v8::TryCatch and didn't require calling anything from the js side, we wouldn't have the problem anymore

[2018-04-04 17:33] Legends opened #19801 "child-process never returns, no error is thrown"
* **Version**: 8.10
* **Platform**: Win10 x64
* **Subsystem**: --

**I am debugging this, but the child-process never returns, no error is thrown:**
[code]

I have also added a debugger statement in `build.js` but it doesn't even reach the script.

[2018-04-04 17:41] ryzokuken commented on #19748
@bnoordhuis Correct me if I'm wrong, but I think this only appears in the documentation for `crypto.createDecipher` and `crypto.createCipher`. Aren't they both deprecated anyway?

[2018-04-04 17:49] Trott opened #19804 "investigate flaky parallel/test-http-client-timeout-agent"
* **Version**: 10.0.0-pre
* **Platform**: aix
* **Subsystem**: test

https://ci.nodejs.org/job/node-test-commit-aix/13885/nodes=aix61-ppc64/console

[code]

[2018-04-04 18:42] vsemozhetbyt commented on #19801
And some more nit: `cd C:\\..` will not change the current directory if your current directory before this command is in the different drive. You will need this:
[code]
or this:
[code]

[2018-04-04 18:56] m-a-r-c-e-l-i-n-o commented on #19783
@jdalton @devsnek @joyeecheung Thanks for timing in. I know this sounds a bit crazy, but I'm hoping to be able to use ES modules in production in a enterprise setting within the next two months. As far as I can tell, not having proper debug messages for ES modules has been the only drawback in my setup. Getting unit test with coverage to work with ES modules was also a major challenge, but even th

[2018-04-04 19:09] Trott commented on #19804
And again, this time on FreeBSD:

https://ci.nodejs.org/job/node-test-commit-freebsd/16713/nodes=freebsd10-64/console

[code]

[2018-04-04 19:11] Trott commented on #19804
Pretty easy to reproduce locally:

[code]

[2018-04-04 19:42] Legends commented on #19801
No, I am on the same drive.
I have tried your second approach with double back-slashes, but the issue persists.
Nothing happens...

[2018-04-04 19:44] jdalton commented on #19783
@m-a-r-c-e-l-i-n-o

I'd caution against using experimental features in production enviros (esp. enterprise ones).

[2018-04-04 19:51] vsemozhetbyt commented on #19801
Does this command work in terminal?
Does `build.js` exit after executing or does it wait for input/event/timeout etc?

[2018-04-04 19:58] bnoordhuis commented on #19748
I'd add them to all four, yes.

That's right.

[2018-04-04 20:01] Legends commented on #19801
Unfortunately no. It just does nothing:
I want to execute several command in a loop, bit it hangs on the first.

![image](https://user-images.githubusercontent.com/966368/38331450-9068f000-3853-11e8-9300-bf6b23d1ab8c.png)

[2018-04-04 20:03] klimashkin commented on #19354
Instance class fields (public and private) also arrive in V8 6.7, behind the flag though

[2018-04-04 20:04] vsemozhetbyt commented on #19801
So you need to figure out what is wrong with `build.js` first. `.execSync()` does not return till child process returns or timeout is exceeded.

[2018-04-04 20:06] Legends commented on #19801
It doesn't even enter build.js...
I looked in eventviewer but also nothing.... very strange

[2018-04-04 20:10] Legends commented on #19801
I mean, even if the error would be on my side, it has to give you a message at least... right?

[2018-04-04 20:25] Legends commented on #19801
I am not crazy, I guess :D

`node --inspect --inspect-brk buildAll.js`
I put a break-point at `cp.execSync()` which is also in a `try..catch `block-.

If you want I can tell you were in `child-process` it stops responding...

[2018-04-04 20:29] Legends commented on #19801
Child_Process.js  --> Line 565

`var result = spawn_sync.spawn(options);`

[2018-04-04 20:34] vsemozhetbyt commented on #19801
cc @nodejs/child_process

[2018-04-04 20:37] m-a-r-c-e-l-i-n-o commented on #19783
@jdalton

Haha, I'm sure the engineering community has felt an earthquake like disturbance as I wrote that statement. Thank you for your thoughts. It's obviously something I'm concerned about, but refactoring to CommonJS doesn't look promising either (maybe transpiling would be a viable backup plan). When I got into it, I was secretly hoping that ES modules would be stable in Node 10, which is sch

[2018-04-04 20:39] Legends commented on #19801
When I run: `node --inspect --inspect-brk buildAll.js`
It will hit the above code and never returns, then I do `ctrl+c`  to detach the debugger on the command line.
Now, when I execute: `node --inspect --inspect-brk buildAll.js` again, it stops at the first line of `buildAll.js`, now I debug step by step (F10) through the file, until I hit `const cp = require("child_process");`.
Now it jumps sudde

[2018-04-04 20:41] dscho commented on #16103
Then it should be fixed in Git for Windows v2.17.0, which was released yesterday...

[2018-04-04 20:42] Flarna commented on #13825
@MoonBall ok, will do so once I have some poetic moments to formulate this in a reasonable way.

[2018-04-04 20:43] ryzokuken commented on #19748
@bnoordhuis making a PR. That said, should I add the *exact same* text to all four functions?

[2018-04-04 20:46] ryzokuken commented on #19748
Oh, wait. `createCipher` and `createDecipher` don't actually take an IV as an argument. Do they still need it?

[2018-04-04 20:53] ryzokuken commented on #19748
I added the text to `createCipheriv` and `createDecipheriv`. If you think it's necessary, I'd add the same to the remaining two functions.

[2018-04-04 22:12] msdevstep commented on #16103
I can confirm that v2.17.0 resolved the issue after installing over the top of my existing installation. Thanks @dscho

[2018-04-04 22:26] mhdawson commented on #19564
Do we have some examples where having only a single sign-off has resulted in a problem, but that we think one more might have avoid it?  Just trying to understand to scope of the problem that we are trying to fix in this case.

[2018-04-04 22:32] mhdawson commented on #19673
@gabrielschulhof thanks, ci is green again :)

[2018-04-04 22:47] refack commented on #19564
+1
I had similar intuition once upon a time (includes some examples): https://github.com/nodejs/CTC/issues/144

[2018-04-04 23:07] vsemozhetbyt opened #19814 "doc: sorting in doc/api/cli?"
Currently, both command line options and environment variables in the [`cli` doc](https://github.com/nodejs/node/blob/master/doc/api/cli.md) are not sorted alphabetically.

I am not sure if these lists use some logic or time order that has to be preserved.

Is it worth to sort them ASCII-wise?

[2018-04-05 00:16] #12803 closed

[2018-04-05 00:16] #19170 closed

[2018-04-05 00:39] jdalton commented on #18425
Closed by #19600 :tada:

[2018-04-05 00:39] #18425 closed

[2018-04-05 00:56] gruber123 opened #19816 "Nodejs 9.11 msi installer x64 broken - 11 mb instead of 16 mb as in version 9.10.1"
* **Version**:
* **Platform**:
* **Subsystem**:

[2018-04-05 01:02] vsemozhetbyt commented on #19816
cc @nodejs/build, @nodejs/platform-windows

[2018-04-05 01:39] refack commented on #19816
Confirmed. MSI is corrupt (even though it matches the SHA256 signature).
As a workaround I would recommend just unzipping https://nodejs.org/download/release/v9.11.0/node-v9.11.0-win-x64.7z, and for those who depend on MSIs, installing the last known good one (https://nodejs.org/download/release/v9.10.1/node-v9.10.1-x64.msi) then overwriting the content with the above mentioned 7z.

/CC @MylesBori

[2018-04-05 01:58] Trott commented on #19301
@nodejs/documentation @nodejs/buffer It would be great if someone could either open a PR or drop in some suggested text here.

[2018-04-05 02:11] Trott commented on #19814
+1 to alphabetical sorting. It's the most obvious thing to do, so let's not give people something to figure out if we don't have to.

[2018-04-05 02:44] mscdex commented on #19564
@mhdawson Requiring one additional signoff is not foolproof, but it's better than nothing if we cannot find a way to at least transfer concerns/-1's from issue to PR.

[2018-04-05 02:55] Yeeler commented on #19816
cool. Just about to create an issue ticket for this problem.

[2018-04-05 03:00] MylesBorins commented on #19816
oh no!

[2018-04-05 03:41] Trott commented on #19139
Happened on FreeBSD today:

https://ci.nodejs.org/job/node-test-commit-freebsd/16727/nodes=freebsd10-64/console

[code]

[2018-04-05 03:41] Trott commented on #19139
Very easy to reproduce:

[code]

[2018-04-05 03:46] Trott commented on #19139
Opening PR to move to sequential. That's more of a mitigation strategy than a fix, but it's better than doing nothing.

[2018-04-05 03:47] Trott commented on #19139
PR: https://github.com/nodejs/node/pull/19819

[2018-04-05 03:53] Trott commented on #19791
Again: https://ci.nodejs.org/job/node-test-binary-arm/176/RUN_SUBSET=0,label=pi1-docker/console

[code]

[2018-04-05 05:25] createdbyjurand commented on #19816
same here

![1](https://user-images.githubusercontent.com/32194442/38348493-72af00d2-38a2-11e8-85b2-0f5722164865.png)
![2](https://user-images.githubusercontent.com/32194442/38348494-72c8657c-38a2-11e8-9038-89d0adde39d2.png)
![3](https://user-images.githubusercontent.com/32194442/38348495-72df6b0a-38a2-11e8-9ef9-b25f217e2cec.png)

[2018-04-05 05:43] MylesBorins commented on #19816
9.11.1 has been released that fixes this

[2018-04-05 05:43] #19816 closed

[2018-04-05 06:52] himbeere commented on #19274
I just tried the https://github.com/nodejs/node/commit/d46fafc8c990899b4890dee2d6d8079c1308051f with 8.11.1. It works so far. One question though. There is no file called test-locker.cc. Is that an additional file somewhere?

thanks and cheers

[2018-04-05 07:06] songzhuang commented on #19733
Hello,
I have an application that uses express and ejs.  It appears as though ejs also uses the "eval" function mentioned by bnorrdhius, resulting in all pages rendered by a web server as non garbage collectible.  In other words, if I as a user click on the same link five times, the 5 renderings in string form exist and are not garbage collected eventually leading to an unresponsive app.
Any work

[2018-04-05 07:29] abernix commented on #19274
@himbeere Are you referring to the (plural) `test-lockers.cc`, which is located in [`deps/v8/test/cctest/test-lockers.cc`](https://github.com/nodejs/node/blob/v8.11.1/deps/v8/test/cctest/test-lockers.cc)? (It should be there!)

[2018-04-05 07:39] himbeere commented on #19274
The patch is there, yes. But which file should I patch? It's note included in the source as far as I can see.

`pages /usr/src # mkdir nodejs
pages /usr/src # cd nodejs/
pages /usr/src/nodejs # wget https://nodejs.org/dist/v8.11.1/node-v8.11.1.tar.gz
--2018-04-05 09:34:38--  https://nodejs.org/dist/v8.11.1/node-v8.11.1.tar.gz
Resolving nodejs.org... 104.20.22.46, 104.20.23.46, 2400:cb00:2048:1::68

[2018-04-05 07:50] MylesBorins commented on #19274
In the node repo run the following command

```curl -L https://github.com/nodejs/node/commit/d46fafc8c990899b4890dee2d6d8079c1308051f.patch | git am -3```

[2018-04-05 07:52] MylesBorins commented on #19274
Also worth noting that this patch has not yet gonna wait in an 8.x release 8.11.1 was a patch release due to infra related issues. Another version of 8.x will be coming in just over 2 weeks

[2018-04-05 07:59] himbeere commented on #19274
@MylesBorins good to know. I understand the meteor guys are trying to fix the issue themself for now.

[2018-04-05 08:28] abernix commented on #19274
@himbeere Correct, we (as in, Meteor, myself and @benjamn included) are trying to mitigate the situation which arose after 8.11.1 was announced.  Of course, since it's a security update, many of our users are updating to it in the name of security (makes sense!).  Unfortunately, it includes the breaking change outlined in this issue which causes segmentation faults for many of our users.

We're cu

[2018-04-05 08:40] vsnehil92 commented on #18159
I would like to work on this issue. Please @hashseed  can you give me guidance on this

[2018-04-05 08:44] vsnehil92 commented on #19695
@mcollina, since there is no PR from 6 days, may I work on this issue? This is my first contribution so I  would need some guidance.

[2018-04-05 08:54] AdamMajer commented on #17817
I can't reproduce this problem with Node 8.10.0 or Node 9.10.1 compiled with g++ (SUSE Linux) 7.3.1 20180307 [gcc-7-branch revision 258314]

    before emplace
    emplace console{ hello: [Function: hello] }

    'world'

compiler problem?

[2018-04-05 09:07] mcollina commented on #19695
Sure, feel free to ping me in IRC or twitter any time.

[2018-04-05 09:09] #19716 closed

[2018-04-05 09:16] bnoordhuis commented on #19801
This should be moved to nodejs/help.  I can reopen if there is reason to believe it's a bug in node.js itself.  Thanks.

[2018-04-05 09:16] #19801 closed

[2018-04-05 09:44] Legends commented on #19801
**You really closed this issue?**

[2018-04-05 10:04] Legends commented on #19801
No error message, nothing. Even if the error is on my side, you have to improve this, it's not acceptable!

[2018-04-05 10:28] YuryStrozhevsky opened #19826 "Implement WebCrypto interface"
Yes, I did a search for `WebCrypto` and found a lot of closed issues.

Yes, I saw comments like
[code]
I have more than 20 years of experience in software development, many working implemented products, expert in all crypto-related stuff but even for me making such `same using existing crypto interface` is **VERY** untrivial.

Yes, I also saw comments like this
[code]
Why you need the `crypto` mod

[2018-04-05 10:31] ChALkeR opened #19827 "doc: add documentation on porting from Buffer(arg) usage"
Refs: #19079

As previously discussed, it would be great if we could provide that instructions somewhere (docs, news, medium, whatever).

I made an initial draft in my repo here: [Porting-Buffer.md](https://github.com/ChALkeR/safer-buffer/blob/master/Porting-Buffer.md), and @addaleax contributed significant parts of it.

What would be the next steps to discuss it and fix it so that it could be inc

[2018-04-05 10:36] mcollina commented on #19827
I think the best place is a medium blog post or a guide https://nodejs.org/en/docs/guides. Or both.

[2018-04-05 11:02] hashseed commented on #18159
Thanks for the interest!

There is not a lot of guidance that I can offer besides the small set of [rules](https://bugs.chromium.org/p/v8/issues/detail?id=6217) described here for ABI compatibility.

I was imagining something either based on the ABI compliance checker mentioned above, or something based on nm or objdump.

[2018-04-05 11:39] user8322 opened #19830 "Node crashes with error, but code works in browsers"
Version: output of `node -v` -- v9.9.0
Platform: output of `uname -a` (UNIX), or version and 32 or 64-bit (Windows) -- windows 10 64bit
Subsystem: if known, please specify affected core module name

We just noticed that our code fails to compile in Node.js (while it works in all browsers (except chrome)). This line

[code]

throws range error in node, but we really dont see the reason for it. It s

[2018-04-05 11:57] mscdex commented on #19826
I would rather consider adding bits of missing functionality than adopt a new API in core. At least 90% of the WebCrypto functionality should already be covered by `crypto`, so it's trivial for a userland module to present a different API on top of that.

[2018-04-05 12:01] mscdex commented on #19826
I should also add that the fact that there is a userland addon that already accomplishes what you want (by your own words) is evidence that it doesn't need to live in core.

[2018-04-05 12:16] YuryStrozhevsky commented on #19826
I am working on a kind of `native WebCrypto shim` replacing WebCrypto API by direct calls to Node `crypto`. And should say that even simple `generate key + sign + verify` chain implementation is not trivial:
* For EC keys I need to call `createECDH` and then `generateKeys` (WTF, why not just make direct interface to EC keys generation?);
* Then I need to fill crypto-specific structure `ECPrivateKe

[2018-04-05 12:28] jackhardy1 commented on #13492
if you are on npm version (global) of **5.6.0**, there may be an issue.
Install npm version (global) **5.2.0**, delete your node modules then reinstall and it should work

[2018-04-05 12:51] devsnek commented on #19826
as always I'm +1 on adding things to make browsers and node more similar, all we need is the implementation

[2018-04-05 13:29] mklement0 opened #19831 "Accessing stdin with file descriptor 0 on Windows causes exception if there's no input / if stdin is closed"
* **Version**: `v9.11.1`
* **Platform**: `Windows 10 Pro (64-bit; v10.0.15063)`
* **Subsystem**: `fs` module

On Windows, run the following from a `cmd.exe` console ("Command Prompt"):

[code]

The last 2 commands break as follows:

[code]

Using `.readFile()` and the `readline` module is equally affected.

On _Unix_ platforms, the behavior is as expected in all cases.

[2018-04-05 13:42] jens1o commented on #19831
Can reproduce this on Win.

[2018-04-05 13:47] bnoordhuis commented on #19826
Not if it means duplicating a lot of existing functionality.  Cryptographic code is subtle.

@YuryStrozhevsky If you want to see this happen, you should write up a concrete plan of attack.

[2018-04-05 13:51] YuryStrozhevsky commented on #19826
@bnoordhuis A plan:
1. Get node-webcrypto-ossl source code and port it to Node native module;
2. Have a fun! (mandatory item);

[2018-04-05 13:56] devsnek commented on #19826
porting that module to napi would be a pretty nice test of napi, make it very pluggable, and enforce node core's usage of napi helping make sure that napi is as good as possible

[2018-04-05 14:00] YuryStrozhevsky commented on #19826
@bnoordhuis

Probably there is the time when you need to start moving `crypto` to `deprecated` status.

[2018-04-05 14:02] bnoordhuis commented on #19830
The snippet creates an array of 1 million dimensions.  Another way to write is this:
[code]
I guess my question is: so what?  It doesn't seem like a reasonable thing to do.

However, if you want to pursue this, please report it to the V8 project.  That's the same JS engine that Chrome uses.

[2018-04-05 14:02] #19830 closed

[2018-04-05 14:02] jasnell commented on #19826
One of the more significant factors in implementing the `WebCrypto` interface is the fact that most of the operations return `Promise`. Our crypto methods are almost exclusively synchronous at this point and testing has shown little to no performance benefit switching to an async model. In fact, in most cases, the additional async context makes the operations quite a bit slower. Ultimately that me

[2018-04-05 14:11] YuryStrozhevsky commented on #19826
@jasnell

What a problem - make it as set of `sync` functions (not strictly follow WebCrypto standard). The most biggest problem with existing `crypto` is that existing interface is complicated and in most my own case was very hard to use in real applications. Frankly speaking I do not like (in soft words) existing `crypto`.

[2018-04-05 14:17] bnoordhuis commented on #19826
Okay, I'm convinced by now you're not taking this seriously - or if you are, that you didn't put nearly enough thought in it.  Start studying the existing crypto code and come back when you have a plan forward.

[2018-04-05 14:17] #19826 closed

[2018-04-05 14:24] user8322 commented on #19830
Ok thanks for explainations

[2018-04-05 14:38] targos commented on #19769
Fix landed on `v9.x-staging`. PR to v8.x-staging: https://github.com/nodejs/node/pull/19824

[2018-04-05 14:44] soualid commented on #5436
Just in case it might help someone. We had the same issue using 9.10.1 when our application was under heavy load, we resolved it by caching DNS values with https://github.com/devswede/dns-cache (we think it was related to https://github.com/nodejs/node-v0.x-archive/issues/7729).

[2018-04-05 14:52] bnoordhuis commented on #19826
Remember I said 'duplicating a lot of existing functionality'?  Your suggestion of vendoring node-webcrypto-ossl does exactly that.  Instead of addressing that you handwave it away.

If you want to see webcrypto in core happen, you'll need to detail how you plan to implement it.  Talk about deviating from the spec or deprecating the existing crypto module because you "do not like it" doesn't help

[2018-04-05 15:19] YuryStrozhevsky commented on #19826
I had no illusions when writing this issue - all of them were closed. But I had a hope on a constructive conversation. At almost I had no such a thing.

All crypto interfaces do almost the same. The difference between them that one is perfect and other sucks.

I do not have a time for it, sorry.

Wish in next reincarnation of `iojs` we would have WebCrypto API. Finally.

[2018-04-05 15:27] jasnell commented on #19786
I'm generally -1 on reverting the commit in Node.js 10. The proper fix is to address the issue in `natives`. We have to be able to evolve and improve Node.js internals without being held hostage by older modules that were doing things they were repeatedly warned not to do.

[2018-04-05 15:33] targos commented on #19786
@jdalton The signature of the methods changed, for example from `new ContextifyScript(code, options)` to `new ContextifyScript(code, filename, lineOffset, columnOffset, cachedData, produceCachedData, parsingContext)`

[2018-04-05 15:39] Legends opened #19834 "Node API description missing"
Do I have to install an extension to have descriptions available for the Node API?

**Example using C# in .NET:**
![image](https://user-images.githubusercontent.com/966368/38376079-15598fe6-38f8-11e8-9c7e-cc08c5228c8f.png)

[2018-04-05 15:40] jdalton commented on #19786
Ah great!

So `ContextifyScript` is a native method... could simply wrapping it in JS tackle it?
[code]

[2018-04-05 16:28] bnoordhuis commented on #19826
I'm genuinely curious how you were hoping to have a "constructive conversation".  You reopen an old discussion but at no point do you formulate a realistic proposal and - by your own admission - you weren't going to either.

Were you hoping someone would say "good idea!" and run with it?  OSS very rarely works like that.

[2018-04-05 16:32] jasnell commented on #19826
At this point the only constructive way forward would be for someone that wants WebCrypto in core to put together either a concrete plan that can be reasonably discussed or open a PR with code that can be reviewed. Comments about how someone should maybe consider doing this at some point are not overly helpful and further discussion about how it's being discussed are even less helpful. I would enc

[2018-04-05 16:37] joyeecheung commented on #19830
@user8322 Tips: if you want to check that this is a v8 bug, you can try https://github.com/GoogleChromeLabs/jsvu and use the latest v8 to run the snippet.

[code]

[2018-04-05 16:38] devsnek commented on #19786
how about we just put a message in the changelog

many many people using gulp and updating to node 10 will see that, someone will open a pr, by the time LTS is out gulp 3 would probably have some sort of patch or maybe gulp 4 will finish their docs and stuff. if that doesn't happen, people should look for another build system. **this is why we have major versions of node; things will break, and th

[2018-04-05 16:39] bnoordhuis commented on #19826
I'm still interested in @YuryStrozhevsky's thoughts.  I have hope he returns in the future and then it will help to have the right expectations.

[2018-04-05 16:52] Legends commented on #19801
@bnoordhuis
Just to inform you, the script runs, if I replace `execSync` with `spawnSync`.
With `execSync` it hangs... Any ideas why?

I am running [this script](https://github.com/webpack/webpack/blob/master/examples/buildAll.js).
 `execSync` is on line 15, replacing it with `spawnSync` prevents the issue.

It would be nice if you could take a look.

Thanks.

[2018-04-05 16:57] bnoordhuis commented on #19801
`execSync()` spawns a shell, `spawnSync()` doesn't.  It sounds like your system's shell doesn't exit.

[2018-04-05 17:37] Xavier-J-Ortiz commented on #19695
@mcollina - Apologies, something came up on my end.

@vsnehil92 - Feel free to work on this as I haven't had any time vsnehil92.

[2018-04-05 18:24] addaleax commented on #19786
This is fixed in `natives`, for now.

@devsnek Your argumentation really only holds for packages that adhere to semver, which also means using public API.

[2018-04-05 18:29] ghost opened #19835 "Math.pow gives wrong value on windows"
* **Version**: v9.9.0
* **Platform**: Windows 10
* **Subsystem**: Number, Math

This is probably a V8 issue, but I just need to confirm.

[code]

These two should be the same. Even if they are not the same (but I don't see why they wouldn't be), then at least <s>their absolute difference should be smaller than `Number.EPSILON`</s> *([seems like it is not the case](https://github.com/nodejs/node/is

[2018-04-05 18:39] ChALkeR commented on #19835
[code]

Can't reproduce on Linux.

[2018-04-05 18:45] ChALkeR commented on #19786
@addaleax Nice, thanks! Is there anything else left to do here?

[2018-04-05 18:51] vsemozhetbyt commented on #19835
Windows 7 x64:
[code]

cc @nodejs/v8

[2018-04-05 18:53] vsemozhetbyt commented on #19835
Also:
[code]

[2018-04-05 18:55] addaleax commented on #19786
@ChALkeR I’m not sure, we might want to have a talk about how we progress with this.

It’s becoming harder to support graceful-fs@3 at a quickly increasing rate, and like @bnoordhuis said in the other thread, this is inevitably going to break completely at some point in the not-so-distant future.

[2018-04-05 19:26] vsemozhetbyt commented on #19835
[code]

[2018-04-05 19:32] ChALkeR commented on #19786
@addaleax That is true, but the immediate issue targeting 10.0.0 seems to be fixed now, correct?

As for `graceful-fs@3` — the most significant consumer (by an order of magnitude) of that is `gulp`. Then `unzip`, then gulp-dependent modules start, then `s3`, then `unzip2`, and a lot more gulp-dependent modules.

[2018-04-05 19:32] vsemozhetbyt commented on #19835
[code]

[2018-04-05 19:34] ChALkeR commented on #19835
@vsemozhetbyt Looks like Math.pow result differs between Linux and Windows, so this isn't an issue in the exponentiation operator by itself, more like in Math.pow operation, probably on Windows.

[2018-04-05 19:34] ChALkeR commented on #19835
[code]

[2018-04-05 19:35] offomusso commented on #19835
I've updated the title.

[2018-04-05 19:37] vsemozhetbyt commented on #19835
So if `Math.pow` is a culprit, why this differ:
[code]

[2018-04-05 19:37] ChALkeR commented on #19835
@offomusso

That is incorrect understanding of Number.EPSILON btw.

[2018-04-05 19:39] ChALkeR commented on #19835
Consider the following output:
[code]

[2018-04-05 19:42] vsemozhetbyt commented on #19835
[code]

[2018-04-05 19:42] addaleax commented on #19786
Yes, but while fixing that issue I noticed that tests for `natives` were failing on Node 6 & 8 as well, for different reasons each. We probably didn’t notice that because the changes on our side didn’t break `gulp` itself. I’m not convinced that having gulp in CITGM will catch all of the potential issues for consumers of graceful-fs@3 that we might introduce in Node.js.

[2018-04-05 19:47] ChALkeR commented on #19835
@offomusso As another example (re: `Number.EPSILON`): `1e-90` and `1e-60` are clearly different numbers that are far from each other in machine representation, but the difference between them is smaller than `Number.EPSILON`.

And `1e90 === 1e90 + 100` resolves to `true` because that's the same IEEE 754 number. But 100 is larger than `Number.EPSILON`.

You just can't use `Number.EPSILON` like that

[2018-04-05 19:47] joyeecheung commented on #19826
@YuryStrozhevsky

If the "Node team" that you referred to means [the Node.js collaborators](https://github.com/nodejs/node#collaborators), then the truth is most of them are also professional developers whose time is also money. And most of them don't get paid anything by doing any work in any projects under the Node.js organization. Therefore, if you truly cares about something, then the way Node

[2018-04-05 19:52] offomusso commented on #19835
@ChALkeR

Ok, I'm not very familiar with these stuff, but anyway, I think number epsilon has nothing to do with this bug. Floating point numbers (here doubles) are, as I know, precisely defined in the ES spec (and IEEE), and also the exponentiation, so the result should be the same accross browsers and js engines.

[2018-04-05 19:53] ChALkeR commented on #19835
Yes, `14 ** 0.9` not being equal to `Math.pow(14, 0.9)` clearly looks unexpected to me.
As well as difference in results between platforms.

[2018-04-05 20:02] #19271 closed

[2018-04-05 20:03] Hakerh400 commented on #19835
This is a known bug in v8 engine.
Ref: https://bugs.chromium.org/p/v8/issues/detail?id=5848

[2018-04-05 21:19] tomaszhlawiczka opened #19838 "cat: write error: Resource temporarily unavailable"
* **Version**: `v6.11.5`
* **Platform**: `Linux blade9 4.12.12-gentoo #2 SMP Tue Nov 21 19:16:19 CET 2017 x86_64 Intel(R) Xeon(R) CPU E5450 @ 3.00GHz GenuineIntel GNU/Linux`
* **Subsystem**: async stdio?

Problem is related to the following issue: https://github.com/nodejs/node-v0.x-archive/issues/3027

Steps to reproduce with `uglifyjs` (2.4.10) - an error occurs randomly:

Gets some JS files:
[c

[2018-04-05 21:35] ryzokuken commented on #19834
@Legends could you try answering all the questions mentioned in the original issue template? There's too little context to help debug your issue.

You're trying to get descriptions for Node's APIs in an IDE?

[2018-04-05 21:36] tomaszhlawiczka commented on #19838
@addaleax thanks for reply!

`(cat jquery-migrate-3.0.1.js | uglifyjs 2>/dev/null | cat; cat jquery-3.3.1.min.js)|(cat - >/dev/null)` - using additional `| cat` seems to work :-)

Thanks!

[2018-04-05 21:49] ryzokuken commented on #19831
Just confirmed, works on both Linux and MacOS. @mklement0 @jens1o could you try a few other versions of Node? Does this also happen on LTS?

[2018-04-05 22:00] vsemozhetbyt commented on #19831
Window 7 x64.
Throws with Node.js 06.14.0, 08.11.0, 09.11.
OK with the master (Node.js 10.0.0. 2018-04-03 nightly).

[2018-04-05 22:03] ryzokuken commented on #19831
@vsemozhetbyt if it's okay with nightly, can't we just find out which commit "accidentally" fixed it and backport it?

[2018-04-05 22:15] pietermees opened #19839 "`http2.connect` callback not called if `createConnection` returns a socket that's already connected"
* **Version**: v9.10.1
* **Platform**: all
* **Subsystem**: http2

`http2.connect` accepts a callback that is invoked when the `Http2Session` is in a connected state by adding the callback as a listener to the `Http2Session` `connect` event here:
https://github.com/nodejs/node/blob/e37effe4cec98688e75d770f4d0b7f68927e2b73/lib/internal/http2/core.js#L2700

However, when one provides the `createConn

[2018-04-05 22:18] vsemozhetbyt commented on #19831
I can try to brute-force-bisect)

[2018-04-05 22:27] pietermees commented on #19839
Actually, it seems like there is already a `connecting` property on `Http2Session`, it's just not documented:
https://github.com/nodejs/node/blob/e37effe4cec98688e75d770f4d0b7f68927e2b73/lib/internal/http2/core.js#L961

[2018-04-05 22:30] arboreal84 commented on #19827
This is currently documented here: https://github.com/nodejs/node/wiki/Breaking-changes-between-v5-and-v6

[2018-04-05 22:34] vsemozhetbyt commented on #19831
Unbreak point:
[code]

[2018-04-05 22:40] vsemozhetbyt commented on #19831
So it seems some of these commits have the fix:

https://github.com/nodejs/node/compare/921fb84687fb8135075c1f001383e9b0b863f4b5...82bdf8fba2d3f197522e31ee49f3cc4f5f52bd53

[2018-04-05 22:42] mhdawson opened #19841 "Intermittent: parallel/test-pipe-outgoing-message-data-emitted-after-ended"
* **Version**: master
* **Platform**:debian8-64
* **Subsystem**:pipes

Failure on un-related ci job:
https://ci.nodejs.org/job/node-test-commit-linux/17642/nodes=debian8-64/
[code]

[2018-04-05 22:46] Trott commented on #19841
This looks like the generic happens-with-any-test crash-o-rama we've been seeing that I believe @addaleax intended to investigate and @BridgeAR was looking at for a while. Not sure if there's  a tracking issue for it, but we probably do *not* want to open issues for individual tests since it seems to have nothing to do with the actual test and is probably a but in test.py or something like that.

[2018-04-05 22:46] ryzokuken commented on #19831
@vsemozhetbyt perhaps https://github.com/nodejs/node/commit/8c00a809bc08d87776f74c84751607155f3df61f?

[2018-04-05 22:53] vsemozhetbyt commented on #19831
Let's see what @nodejs/fs think)

[2018-04-05 23:12] mhdawson commented on #19564
@mscdex I was just trying to see if there was some data quantifying the severity of the issue, that would help in making the case for changing.

[2018-04-05 23:17] tniessen commented on #19826
@YuryStrozhevsky I am honestly curious without wanting to judge your proposal: Why do you think the WebCrypto API is the best choice for node.js, to the extent that you would suggest to replace the whole `crypto` module with it? The WebCrypto API was designed specifically for browsers and their specific security requirements.

Node.js and browsers happen to both use JavaScript, and sharing similar

[2018-04-05 23:21] vsemozhetbyt opened #19843 "build: nightly/v8-canary version tag format"
Is there a strong reason to glue a date and a commit hash in these tags? Would it be more human-readable to separate them? It would also be easier to copy the hashes for bisect etc.
Compare:
[code]
vs
[code]
or even vs
[code]

[2018-04-05 23:28] devsnek commented on #19843
v10.0.0-v8-canary20180405-bbeda20b90

great

v10.0.0-v8-canary-2018-04-05-bbeda20b90

great

v10.0.0-v8-canary-2018.04.05-bbeda20b90

![](https://imgs.xkcd.com/comics/iso_8601.png)

[2018-04-06 01:40] rvagg opened #19844 "test-cluster-master-kill flaky and leaving zombies on Raspberry Pi"
Happening on all flavours of Raspberry Pi. Lots of this:

[code]

I can't say for sure that it's related but we're also getting a lot of this on the machines:

[code]

I'm having to keep an eye on them and restart the ones that collect lots of these (I haven't let any get very far out of hand but it'll happen soon as I get busy with other things so we'll find out what the impact is when that happe

[2018-04-06 02:24] gabrielschulhof opened #19845 "No N-API equivalent for new well-known-symbol loading feature"
@bnoordhuis adds support for loading a module by looking for a well-known symbol if the module fails to self-register in 3828fc6289783a632b00270d6b72b5c5bdd6437d. The new code looks for a symbol that matches the `NODE_MODULE_VERSION` (`node_register_module_${NODE_MODULE_VERSION}`).

We need to extend this approach to N-API modules as well.

[2018-04-06 02:40] richardlau commented on #19814
I think the command line options are listed in the order they appear in `node --help`.

[2018-04-06 03:12] #19152 closed

[2018-04-06 03:51] Trott commented on #19844
I was looking at this yesterday and wondered if using `common.platformTimeout()` on the `setTimeout()` calls might (counterintuitively perhaps) help keep this test from timing out (because the timers firing less frequently give more resources to the workers to actually run, or something like that).

But I got distracted and didn't play with it. If you're at a loss and you have some cycles to spend

[2018-04-06 03:53] Trott commented on #19814
Those should probably be alphabetized as well. :-D  (FWIW, `python --help` and `ls --help` show alphabetized listings on my machine.)

[2018-04-06 04:33] cjihrig commented on #17750
I think this can be closed now. Reopen if I'm wrong.

[2018-04-06 04:33] #17750 closed

[2018-04-06 04:42] cjihrig commented on #12902
Forgot to link it, but this is closed in a16d88d9e9a6581e463082549823189aba25ca76.

[2018-04-06 04:42] #12902 closed

[2018-04-06 05:02] YuryStrozhevsky commented on #19826
Probably yes. The only thing I said `I do not have a time for it, sorry`.

I do not care. I am not a Node developer - I am a "consumer". And from my real point of view existing `crypto` interface is ugly. And in this issue I was saying about the problem and also proposed a solution. But seems **no one cares** about the problem and **no one want to solve a problem**. All goes to discussion about ho

[2018-04-06 05:19] Trott opened #19847 "Investigate flaky pseudo-tty/test-tty-wrap"
* **Version**: 10.0.0-pre
* **Platform**: ppcle-ubuntu1404
* **Subsystem**: test tty

Looks like maybe the error output breaks TAP too?

https://ci.nodejs.org/job/node-test-commit-plinux/16559/nodes=ppcle-ubuntu1404/console

[code]

[2018-04-06 05:21] coolicer opened #19848 "Can nodejs import some modules in one line ?"
just like python does: `import glob, os`

can nodejs do `import fs, path` one line ?

[2018-04-06 05:40] Legends commented on #19834
Yes

[2018-04-06 05:41] tomaszhlawiczka commented on #19838
It turns out that the issue should be addressed by `bash` team, right?

This bug is such an evil: who knows, writing pipe lines, which app sets `FIONBIO` and which does not.

[2018-04-06 06:15] vsemozhetbyt commented on #19814
@willhayslett If we have some consensus for this here with no objections in some days, please, feel free to make a PR.

[2018-04-06 08:14] shobhitchittora commented on #19848
You can use something like -

`
require('./moduleA'), required('./moduleB'), require('./moduleC');
`

[2018-04-06 08:29] bnoordhuis commented on #19848
Closing as answered.  Next time post to nodejs/help, please.

[2018-04-06 08:29] #19848 closed

[2018-04-06 08:35] addaleax commented on #19838
Hm, actually – what libuv does for TTYs is calling `dup()` on the fd so that it making it nonblocking doesn’t affect other programs.

Maybe we should do the same thing for pipes? /cc @nodejs/libuv

[2018-04-06 08:36] joyeecheung commented on #19843
cc @nodejs/build I guess to make this happen we would need to take care of some scripts

[2018-04-06 08:53] #19715 closed

[2018-04-06 09:24] bnoordhuis commented on #19838
Node.js creates a `net.Socket` backed by a `uv_pipe_t` when the stdio fd refers to a pipe.  Libuv cannot dup() the fd, that might break existing programs, but Node.js could.

[2018-04-06 10:27] loretoparisi commented on #12005
@manoharreddyporeddy in that example I see `req.destroy();` on timeout and then a check on `req.connection.destroyed`. Is the same to do `req.abort()` and therefore checked as aforementioned `req.aborted`?

[2018-04-06 10:30] ryzokuken commented on #19834
Shouldn't you ask the support team of the IDE itself? The Node.JS core team does not deal with any IDE bindings.

[2018-04-06 10:36] manoharreddyporeddy commented on #12005
I don't exactly recall what I wrote at that time.

However I see that I mentioned the links in the code in link mentioned, which points to nodejs github source and its tests.

I recall that I tried to compare just like you did, (since we both did same, it's possible that it is correct, but I din't test it), but nodejs docs din't exactly mentioned that, at that time.

So, all I can say is,
we are t

[2018-04-06 10:49] dscho commented on #16103
There is exactly one way how it can work. But there are gazillions of ways for it not to work. Would you care to impart some details?

[2018-04-06 11:06] rvagg commented on #19844
`docker run --init` to the rescue, we get a proper `init` inside each container as PID 1, so that's nice. Going to assume it's fixed with https://github.com/nodejs/build/pull/1204/commits/638d129d730ccc869253edf1179b10fc26281af1 which I'm rolling out now to the Pi's as they free up and I can restart them.

[2018-04-06 11:06] #19844 closed

[2018-04-06 11:07] Legends commented on #19834
There is some kind of description available:

![image](https://user-images.githubusercontent.com/966368/38418102-4c9511e4-399b-11e8-9507-d3d949083b66.png)

I can see that `cwd` returns string, very helpful, but what does?
I mean, if u r a node beginner, you will probably not know that it returns the current working directory.

Ah stupid me, why not google it...

[2018-04-06 11:07] #19834 closed

[2018-04-06 11:17] #2383 closed

[2018-04-06 11:30] rvagg commented on #19843
There's quite a few dependencies to comb through to make this happen and not break stuff (unlikely that making the change won't involve changing things and seeing what breaks, fixing and repeating).

Off the top of my head:

* https://github.com/nodejs/build/tree/master/setup/www - mainly tools/promote but there may also be logs, metrics and other stuff, someone will need to do a full audit of the

[2018-04-06 11:44] mscdex commented on #19564
@mhdawson I guess "problem"/"severity" can be subjective.

Did the example that prompted me to submit this issue cause backwards compatibility problems, break CI, or otherwise become similarly disruptive? No.

Is it a problem that complaints registered in the issue were completely ignored in the PR that resulted from that issue? IMO, yes.

Is it a problem that our process allows one collaborator t

[2018-04-06 12:30] vsemozhetbyt commented on #19843
I see. Well, I will close this for now then)

[2018-04-06 12:30] #19843 closed

[2018-04-06 12:31] benjamingr commented on #19826
I don't see the benefit over using a polyfill at this stage to be honest

[2018-04-06 12:47] MadanBhandari commented on #13077
If someone find an solution, please share. Same issue with **_V9.2.0_**

[2018-04-06 12:50] apapirovski commented on #13077
This error just indicates that there's an error event that's unhandled somewhere in the application or its dependencies. It's extremely unlikely (actually, impossible) that anyone here is having the exact same issue as OP. Check the error message and follow the dependency chain to figure out what exact issue you're having. If you believe it's actually in Node.js core then open a new issue and prov

[2018-04-06 12:54] apapirovski commented on #13077
I've updated the title of this issue to be more descriptive in order to avoid the unrelated Google traffic flowing to this issue.

[2018-04-06 13:36] targos commented on #19786
If you want to discuss `graceful-fs` and `natives` issues further, feel free to open a new ticket. This should not block Node 10 anymore.

[2018-04-06 13:36] #19786 closed

[2018-04-06 14:02] ChALkeR commented on #19786
@addaleax natives was broken from the moment it was created (I opened some example issues back then) and is deprecated. There seems to be no significant users of it that are not consuming it through graceful-fs, so I don't think it should be supported past past graceful-fs@3 support, and see no benefit in fixing other things there. I would rather propose to release a semver-major `natives` version

[2018-04-06 14:07] addaleax commented on #19786
@ChALkeR PRs welcome :)

But generally, the issues of people hooking into Node’s internals are much much larger… honestly, other projects lock us in in worse ways (like `npm`’s own zlib module, or `spdy`, for example)

One thing that we should probably do after the 10.x release is migrating more `process.binding()` code to `internalBinding`, that should be a really good step in the right direction

[2018-04-06 14:27] jdalton commented on #19786
Please don't forget folks are reaching for internals because there is an API gap not being filled. As things are adjusted it would be great, for API found to be used, that public more consumer friendly forms be provided.

[2018-04-06 14:40] ChALkeR commented on #19786
@jdalton, yes, I believe things are improving on that side, and filing specific issues about missing APIs would be helpful.
That said, in the graceful-fs case, it was abusing undocumented internals just because it could. The amazing-graceful-fs rewrite (that became graceful-fs 4) didn't use any new Node.js APIs afaik.

[2018-04-06 16:11] bnoordhuis commented on #15116
You're not wrong but that's already the status quo with `crypto.randomBytes()` and `crypto.pbkdf2()`.  I'd start out simple with `uv_queue_work()` and only change to something more complicated if it becomes a bottleneck.

[2018-04-06 16:35] targos opened #19854 "Merge commits on master"
There are two merge commits on master:

- https://github.com/nodejs/node/commit/1fcf4804d8aa25fa5bc0d333992b6c0dcc52fb72
- https://github.com/nodejs/node/commit/ad445359692ee063454dec035853cf2db7aa491f

I don't know exactly when they were pushed and if it's something that we need to absolutely fix, but something else already landed on top of those.

/cc @nodejs/tsc @gireeshpunathil

[2018-04-06 16:36] apapirovski commented on #19854
IMO it should be fixed. This wouldn't be the first time we break the 10 min rule.

[2018-04-06 16:38] jasnell commented on #19854
@nodejs/tsc ... how do we want to handle this? We should likely do a revert of those commits at this point. I would say that it's too late to force push.

[2018-04-06 16:39] vsemozhetbyt commented on #19854
Possible ref: https://github.com/nodejs/node/pull/19471

[2018-04-06 16:39] mcollina commented on #19854
SGTM, let’s do it asap
Il giorno ven 6 apr 2018 alle 18:37 Anatoli Papirovski <
notifications@github.com> ha scritto:

[2018-04-06 16:40] jasnell commented on #19854
I'm fine with a force push if other @nodejs/tsc are.

[2018-04-06 16:46] BridgeAR commented on #19854
+1 on force pushing. Otherwise we have a weird commit history.

[2018-04-06 16:48] MylesBorins commented on #19854
+1 on force push

[2018-04-06 16:49] joyeecheung commented on #19854
+!

[2018-04-06 16:53] MylesBorins commented on #19854
As an aside I've sent a feature request to github about finding a way to block merge commits from landing on branches

[2018-04-06 16:53] ofrobots commented on #19854
+1 as well,

[2018-04-06 16:53] addaleax commented on #19854
I've force-pushed, removing the relevant commits.

[2018-04-06 16:53] #19854 closed

[2018-04-06 17:28] Legends commented on #19801
Sorry, I am not from the node side, is this now a problem with this script or with my system?

[2018-04-06 17:37] addaleax commented on #19845
Does this make sense for N-API? After all, it is supposed to be ABI-stable, so it doesn't need `NODE_MODULE_VERSION`... or are you suggesting to also look for `node_register_module_napi`?

[2018-04-06 19:04] leodutra commented on #19453
Would be possible to enable HTTP/2 without having to use a cert and key?
There's a lot of microservices running using HTTP without SSL/TLS and being shielded by Nginx / other proxies with a single point SSL/TLS config.

I think the answer will be dependant on something deeper, maybe Node core modules, but I really wanted to check and ask for it.

[2018-04-06 19:08] Sabyasachi2k opened #19857 "require does not include json file contents if the filepath has word "json" in it."
* **Version**:  8.9.4
* **Platform**: Windows
* **Subsystem**: CommonJS AMD

Let your JSON file be in the relative path './InputJson/Sample.json'
in your index.js or whatever js file try importing the contents of the json file
var inputjson = require('./InputJson/Sample.json');
console.log("Input json is => ", inputjson);

output will be blank.

resolution:
change the path to say Input so that now

[2018-04-06 19:26] styfle commented on #19453
Yes, however it will not work if you attempt to connect to the server via web browser.

See [http2.createServer](https://nodejs.org/dist/latest/docs/api/http2.html#http2_http2_createserver_options_onrequesthandler) vs [http2.createSecureServer](https://nodejs.org/dist/latest/docs/api/http2.html#http2_http2_createsecureserver_options_onrequesthandler) and note the comments in the code snippet 😉

[2018-04-06 20:33] gabrielschulhof commented on #19845
@addaleax with this change, if you call `dlopen()` twice on the same file, that will now correctly initialize the addon twice, so this change is a step towards having multi-context native modules, in addition to being a step towards having multi-version native modules.

Fundamentally, if a plain V8 native addon fails to register, it will still have its `Init` called, if the `Init` bears the right

[2018-04-06 20:48] Trott commented on #19564
Given the large number of active Collaborators, getting 2 for even obscure parts of the code base is not difficult.

Problems with getting 2 reviews are almost *never* about the change being to an obscure part of the code base. It is nearly *always* about the change being too large to easily review in a short amount of time. But for large changes, we *obviously* want more than one person reviewing

[2018-04-06 20:51] devsnek commented on #19564
I'm in favour of at least two for all PRs, although maybe for quick reverts for unbreaking CI, etc, 1 is fine

[2018-04-06 20:56] gabrielschulhof commented on #19845
@addaleax I guess the fundamental new feature here is that we now have a tool for finding a symbol given a library handle in a way that is supported across all Node.js platforms. One of my first thoughts is that we may want to
[code]

Some outstanding questions:
* How do we get the `napi[n]_register_module` symbols into the modules? Do we modify the definition of `NAPI_MODULE()`?
* Since the code

[2018-04-06 21:27] ryzokuken commented on #19857
I tested this on node `v8.11.1` (which technically *should* have this, because it'd be `semver-major`), and couldn't reproduce this on Linux, trying on MacOS.

@vsemozhetbyt could you test this on Windows once?

[2018-04-06 21:45] Trott commented on #19564
TL;DR: At least looking at the last 30 days, there appears to be little or no evidence for "it is too hard to get a second reviewer because this code is obscure". Instead, the evidence seems to point to a lack of effort to attract a second review when there is only one, which is understandable because it's not required by our rules. You got your one review, move on.

To me, that argues *for* the p

[2018-04-06 21:47] Trott commented on #19564
I see the motivation there, but I disagree with that. We require two for fast-tracking and that should remain. Fast-tracking is exactly when you want more than one person to approve it. The fix should be so obvious and so critical that many people approve it.

I agree with what @targos said in https://github.com/nodejs/node/issues/19564#issuecomment-375762868: Make it two in all cases and then the

[2018-04-06 21:55] vsemozhetbyt commented on #19857
I cannot reproduce on Windoes 7 x64 with these files and Node.js versions:
`test.js`:
[code]
`./InputJson/Sample.json`:
[code]

[code]

@Sabyasachi2k Can you provide an example of `Sample.json` file that produces the blank output for you?

[2018-04-06 21:58] vsemozhetbyt commented on #19857
Also it may be relevant how exactly you run the script: what shel, what cwd, what command do you use.

[2018-04-06 22:02] vsemozhetbyt commented on #19857
The seme with [v8.9.4](https://nodejs.org/download/release/v8.9.4/).:
[code]

[2018-04-06 22:40] Trott commented on #18836
Related: @fyockm *just* added this page to the Wiki today: https://github.com//nodejs/node/wiki/Breaking-changes-between-v6-LTS-and-v8-LTS

Seems like it might be a copy/paste of the release notes for the most part. Seems well-intentioned and this might be a fine doc to have in the Wiki (and let other people come along and improve it). Maybe people interested in this Upgrade Guides initiative migh

[2018-04-06 22:51] arboreal84 commented on #14225
There is this document now, this seems sufficient.
https://github.com/nodejs/node/wiki/Breaking-changes-between-v6-LTS-and-v8-LTS

[2018-04-06 22:56] d3x0r opened #19858 "Console.log Causes Slowness with Typed Arrays"
Platform: windows
node 9.6.1 (x86)

I was working on a RNG (random number generator).  The following is simplified code based on the RNG I was porting to JS.  At the end I was swapping regular arrays for Uint32Array(), and found it sped up a LOT.  Long story posted here https://groups.google.com/forum/?nomobile=true#!topic/v8-users/vtdDQBwJ2pE

https://gist.github.com/d3x0r/be849400be3ea30877568e5

[2018-04-06 23:01] bengl commented on #14225
@arboreal84 looks like it's good for you, so I'll close this.

[2018-04-06 23:01] #14225 closed

[2018-04-06 23:07] rajdhandus commented on #19796
@lpinca @targos - I would like to work on this item..

[2018-04-07 00:09] fyockm commented on #18836
@Trott sorry for the drive-by. Yes, it was just copy/paste from release notes. Seemed like a big hole since we are currently making a big push to migrate from Node 4 to Node 8, and I imagine many others are as well.
Hopefully this helps to get the ball rolling.

[2018-04-07 00:09] #19592 closed

[2018-04-07 00:18] winguse opened #19859 "Reusing HTTP connection lead to no destroy triggered"
* **Version**: `v8.9.0`
* **Platform**: `Linux cms-03 4.4.0-1052-aws #61-Ubuntu SMP Mon Feb 12 23:05:58 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`
* **Subsystem**: `NaN`

`poc.js`:

[code]

run it with `why-is-node-running`:

[code]

if there are requests to the same endpoint, the socket never closed and those `destroy`s never get called.

---

**old description**

Hi team,

Thanks for the awesome j

[2018-04-07 01:35] Trott commented on #18836
You have nothing to apologize for. Thanks for trying to make things better for the next person who has to upgrade.

[2018-04-07 02:15] Sabyasachi2k commented on #19857
OK so this is the format of my JSON which was being returned empty
{
    "name" : "USER_WEB",
    "AppName" : "SomeName",
    "Token":"LoginType"
}

I am actually able to replicate it again and again. Windows X64, Node 8.9.4 . I ma going to check the version that @vsemozhetbyt checked and see....

[2018-04-07 02:24] Sabyasachi2k commented on #19857
AAH!! Crap. realized the issue. had written a cleanup service that was running as a windows service to look into certain folder and clean up files. In background it was cleaning the files and meanwhile due to require caching mechanism the modified file was not being picked up. Shoot!! Sorry for this. Closing this issue.

[2018-04-07 02:24] #19857 closed

[2018-04-07 02:31] cjihrig commented on #19564
I looked through that list of commits. Another somewhat common theme is cc'ing or requesting reviews from coworkers instead of the wider collaborator base. I'm not sure if it's related, but definitely a pattern I've noticed by subscribing to the issue tracker.

[2018-04-07 03:01] Trott commented on #19859
@nodejs/async_hooks

[2018-04-07 03:10] #19804 closed

[2018-04-07 04:03] #19139 closed

[2018-04-07 08:56] d3x0r commented on #19858
had started this as a chromium bug, until I was describing, and it's console.log in node that causes it not the browser.
https://bugs.chromium.org/p/chromium/issues/detail?id=830079#c1

"node.js bug tracker: https://github.com/nodejs/node/issues
BTW, only node.js 9 is affected, not 8."

[2018-04-07 09:32] joyeecheung commented on #3175
After https://github.com/nodejs/node/commit/63eb267c34198c4bece62cb6432bb2bceb399de6 this now returns a message `Cannot create a string larger than 0x3fffffe7 bytes` with the error code set to `ERR_STRING_TOO_LARGE`.

[2018-04-07 09:33] jan-j opened #19862 "Node read stream hangs on specific file, base64 encoding"
* **Version**: 7.9.0/8.9.3/9.7.1
* **Platform**: Windows/Linux/MacOS

I have following code working for every file except the one that keeps hanging without emitting `end` or `error` events (I tried other stream events too).

[code]

If I move read point with `start` option to 1 instead of 0 it works properly. Same if `highWaterMark` is set to value other than default. It doesn't really help as it

[2018-04-07 09:41] addaleax commented on #19862
Fwiw, this seems to work on `master` but not on the other release lines, so maybe it’s just about figuring out which change fixed this.

[2018-04-07 09:41] bnoordhuis commented on #19801
Almost certainly your system.

[2018-04-07 09:47] Legends commented on #19801
Is there a way I can investigate this issue further, could you recommend a repo for this...

[2018-04-07 13:18] simevo opened #19868 "fs.lchown should be undeprecated"
* **Version**: v8.9.3
* **Platform**: Linux xxx 4.15.0-2-amd64 #1 SMP Debian 4.15.11-1 (2018-03-20) x86_64 GNU/Linux
* **Subsystem**: fs

[`fs.lchown` is currently deprecated ](https://nodejs.org/api/deprecations.html#deprecations_dep0037_fs_lchown_path_uid_gid_callback)

But `fs.lchown` can be helpful to address **Time of check to time of use** (TOCTOU) bugs, like [this one](https://github.com/is

[2018-04-07 13:25] joyeecheung commented on #19564
@cjihrig I also noticed that and I sometimes tend to ping handles as well, usually when I fix a TODO or some comments left in the code or when I remember someone has talked about the related code path before. When I don't have a particular person in mind I would try to ping a related team, but not always if I get a review in time, since pinging teams sometimes feel like spamming...maybe it's just

[2018-04-07 14:13] ryzokuken commented on #19868
@nodejs/fs thoughts on this?

@simevo you sure there's no alternative?

[2018-04-07 15:08] ryzokuken commented on #19868
Strange. I'm equally surprised to hear that it's implemented on Windows and not on Linux. I mean, it's `chown`. How do you even *not* implement `chown` on linux? 😛

@addaleax that said, if we decide to go ahead and add this functionality, I'd love to take a shot at it.

[2018-04-07 16:24] anliting commented on #19868
@ryzokuken

I don't think @simevo means it is implemented on Windows. As https://github.com/nodejs/node-v0.x-archive/issues/7382, it is only implemented on macOS.

[2018-04-07 16:44] ryzokuken commented on #19868
@anliting I just found that out myself, and needless to say, it makes a lot of sense.

Could we somehow implement this functionality on Windows too? I'd love if we could make this platform-independent somehow. Let me look into it.

[2018-04-07 17:53] bnoordhuis commented on #19868
Related: #16695

There is no way to implement it with old Linux kernels: `fchmodat()` was added in 2.6.16 and it wasn't until recently that we still still supported 2.6.9.

2.6.18 is the baseline now so that's no longer a blocker.

[2018-04-07 18:24] ryzokuken commented on #19868
@bnoordhuis Sounds great!

Now that the baseline has moved, should someone start working on making it work on Linux? We'd probably have to un-`deprecate` the function before that though, wouldn't we?

Also, does that mean it'd be `semver-major`? Or would it be `semver-minor` because we're not really removing anything, just adding new functionality?

[2018-04-07 18:36] ryzokuken commented on #19858
@d3x0r could you check if node 10 (current `master`, if you will) is affected?

[2018-04-07 19:04] Almenon opened #19873 "add search button to docs"
I'm very suprised there is not search functionality in the node docs.  This would be a great addition to the docs and make it easier to navigate inside them.

workaround: google (not quite as convenient)

[2018-04-07 19:25] d3x0r commented on #19858
doesn't appear to be an issue in last nightly build.... (x86 or x64, windows)

[2018-04-07 19:25] #19858 closed

[2018-04-07 19:28] sreeees opened #19874 "TLS ClientCertEngine option does not invoke engine_load_ssl_client_cert interface in engine.so"
* **Version**: 9.9.0
* **Platform**: Alpine 3.6
* **Subsystem**: container

**Node.js version** 9.9.0
**OS -** Alpine 3.6 container

Issue - Even though TLS ClientCertEngine (sample code pasted below) is specified, Engine_load_ssl_client_cert interface is not invoked. Tested in alpine 3.6 container node.js version 9.9.0. Engine load is successful. Crypto operations are successfully offloaded to th

[2018-04-07 19:28] ryzokuken commented on #19858
@d3x0r perhaps this was fixed recently and backported to both LTS versions? Try this once in node 6 as well. If it works perfectly there as well, then that's probably the case.

[2018-04-07 19:31] Almenon commented on #19873
that's another good workaround, although it would still be nice to be able to search from inside pages like https://nodejs.org/api/child_process.html

[2018-04-07 19:48] vsemozhetbyt commented on #19873
cc @nodejs/website

[2018-04-07 19:50] vsemozhetbyt commented on #19873
You may also post the request in https://github.com/nodejs/nodejs.org — that repository is closer to this issue.

[2018-04-07 19:58] Almenon commented on #19873
will do - thanks

[2018-04-07 20:50] bnoordhuis commented on #19868
Yes.  It should be added to libuv first.

No, the other way around.  It was deprecated because it's platform-specific.  It should be un-deprecated only when that's no longer true.

Yep, I'd say so.

[2018-04-07 20:57] ryzokuken commented on #19868
Great! I think @chris--young had been working on adding it to libuv? If there's no open PR regarding this in there, I could try looking into it, or submit an issue. That way, we could go with whichever way helps us ship this quicker.

[2018-04-07 21:05] bnoordhuis commented on #19868
I don't remember any libuv PRs.  A quick search doesn't turn up anything either.

[2018-04-07 21:17] addaleax commented on #19874
/cc @nodejs/crypto

[2018-04-08 03:15] Trott commented on #19874
/pinging @joelostrowski too in case they are interested and want to help. (Initial implementation of `clientCertEngine` was their doing.)

[2018-04-08 03:33] wyckster opened #19876 "Example Object Wrapping code never calls destructor"
* **Version**: v9.11.1
* **Platform**: Windows 10 Enterprise 64-bit
* **Subsystem**: documentation

[The documentation](https://nodejs.org/api/addons.html#addons_wrapping_c_objects) for _Wrapping C++ Objects_ has an example that creates a class called `MyObject` which derives from `node::ObjectWrap`.

It would be very helpful if the documentation described the mechanism by which the object will be

[2018-04-08 06:55] JasonFang93 opened #19877 "fs.writeFileSync fail without error"
version: v6.10.2，os x 10.12.6
version: v6.9.2 ，centos 6

[code]
after fs.writeFileSync，the string('\n test code') doesn't be writen in a.js, but there's no error.
it doesn't happen everytime but sometimes.

[2018-04-08 07:01] willhayslett commented on #19814
@vsemozhetbyt, doc specific PR submitted.

Should we also alphabetize the ```node --help``` output as well?

[2018-04-08 09:50] vsemozhetbyt commented on #19814
I think if the PR is adopted we definitely will need to sort this as well.

[2018-04-08 10:53] ACondie opened #19879 "Native property accessor has no internal fields if evaluated under the Inspector"
* **Version**: v8.x.x
* **Platform**: Win10 64-bit DLL
* **Subsystem**: inspector

I am working on a native Node addon that exposes a C++ library to JavaScript.  The primary reason for choosing Node was support for the inspector protocol and ease of debugging.  The native addon works correctly if the script is run without the inspector attached _but_ will fail if the inspector reads from a nativel

[2018-04-08 11:04] addaleax commented on #19879
In this case, you could:

- Check `InternalFieldCount()` and adjust behaviour accordingly. Since you’re the one who sets up both the prototype template and the instance template, you control that value for both ones, so you can distinguish between an instance and the prototype in the getter.
- Set the accessor on the instance template, rather than the prototype template. That’s going to set up the

[2018-04-08 11:09] subhashekkaluru commented on #16768
D:\ANGUALRJS2 PROJECTS\PR02>ngh
An error occurred!

(node:4020) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): Error: Unspecified error (run without silent option for detail)
(node:4020) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zer

[2018-04-08 11:33] #19748 closed

[2018-04-08 12:00] ACondie commented on #19879
Thank you for your fast response!

I've performed a quick test and moving the native Accessor to the instance template does fix the issue with the internal fields being missing.  Am I right in understanding that, because the Accessor is on the prototype instance it is being evaluated by the Inspector as part of the prototype object?  That would certainly explain the problem.

I think using a combi

[2018-04-08 12:03] gireeshpunathil commented on #15714
@devinivy - is this still outstanding? From your description, I understood upto the point you were saying that the child data reaches upto the socket in the server. Then what? where else it should flow as per your expectation?

[2018-04-08 12:06] gireeshpunathil commented on #8520
@jpolitz - is this still outstanding? if so can you try with the latest?

[2018-04-08 12:26] gireeshpunathil commented on #15234
inactive, closing. re-open if this is still a concern

[2018-04-08 12:26] #15234 closed

[2018-04-08 12:41] gireeshpunathil commented on #1741
should this remain open?  I am not sure the reported problem is still relevant or not -
/cc @ChALkeR @Fishrock123 @bnoordhuis

[2018-04-08 13:50] vsemozhetbyt opened #19880 "master breaks jsvu"
Not sure if this should be reported here, feel free to close if not.

See https://github.com/GoogleChromeLabs/jsvu/issues/29 and especially https://github.com/GoogleChromeLabs/jsvu/issues/29#issuecomment-379550938

[2018-04-08 13:54] ryzokuken commented on #19877
@JasonFang93 what do you mean it doesn't happen everytime? What changes?

Couldn't reproduce with node `v6.14.1` and MacOS `10.13.4`.

[2018-04-08 14:01] ryzokuken commented on #19874
@sreeees I don't think there would be an difference of functionalities among different Linux distributions.

Is this Ubuntu 17.10 working in a container too? It might be happening because containers share the kernel of the host with other containers.

Reference:
![https://www.docker.com/sites/default/files/Container%402x.png](docker-ref)

[2018-04-08 14:12] ryzokuken commented on #19873
As suggested by @vsemozhetbyt, the appropriate repository for this issue is nodejs/nodejs.org

Now that an issue has been submitted in there, this one should be closed.

[2018-04-08 14:27] JasonFang93 commented on #19877
SomeTimes the additional string can be written in a.js by fs.writeFileSync, and sometimes it can't be(about one of twenty times), what's more, there is nothing change.

[2018-04-08 14:28] fhemberger commented on #19873
But docs are living in this repo, not on the website.

[2018-04-08 14:29] devsnek commented on #19880
related to https://github.com/nodejs/node/issues/19786, looks like jsvu has some dep it needs to update

[2018-04-08 14:47] ryzokuken commented on #19873
@fhemberger I might be wrong, but I think they wanted to have a search bar on (this)[https://nodejs.org/dist/latest-v9.x/docs/api/] page. Isn't the source code for that in the nodejs.org repo?

[2018-04-08 14:55] fhemberger commented on #19873
@ryzokuken No, it's right here:
https://github.com/nodejs/node/tree/master/doc/api

[2018-04-08 14:55] tniessen commented on #19873
@ryzokuken The docs are maintained from within this repo.

[2018-04-08 14:58] ryzokuken commented on #19877
@JasonFang93 are you sure it's not a problem with your configuration? I ran it 500 times using the following script and it didn't even fail once:

[code]

[2018-04-08 15:10] ryzokuken commented on #19873
Oh, my bad. The more you know, I guess.

[2018-04-08 15:14] vsemozhetbyt commented on #19873
Sorry, I just thought that such a bar would be added at the site building stage. But if it should be added by the `tools/doc/html.js`, then sure, this is the domain of this repository.

[2018-04-08 15:27] Trott commented on #19814
Yes, I think ideally the ordering will be kept the same for both. So if we change one, we should change the other at the same time.

[2018-04-08 15:55] gabrielschulhof commented on #19845
Also, https://github.com/nodejs/node/pull/19731 may render this moot, since it allows the re-loading of modules without any special symbol. I just hope we can address all the edge cases of shared library loading in that PR.

[2018-04-08 15:56] devinivy commented on #15714
I just tried this on node v8.11.1 and got the same results.  After coming back to this issue after some time, I can see how it's a little confusing—sorry for that.  I will try to elucidate.

I was trying to author a passthrough-style stream that can be used with `spawn()`.  Because the stream must have an underlying file descriptor in order to be used with `spawn()`, I decided to try to create a p

[2018-04-08 16:15] demurgos commented on #19786
Is the `natives` fix reliable enough or should Gulp actively try to backport `graceful-fs@4` support to Gulp 3?

[2018-04-08 16:15] gireeshpunathil commented on #15714
thanks. one or two iterations and we should be good to understand each other!

so: no data being available through:
[code]
is this the problem?

[2018-04-08 16:50] TimothyGu commented on #19879
Yes!

As far as I can tell, this is exactly the same as the issue we ran into in Node.js a while ago with `process.stdin._handle.__proto__`. You can check out a more in-detail analysis of the problem in https://github.com/nodejs/node/issues/17636#comment-351223679.

The problem with @addaleax’s approach of putting the method on the instance (aka Option 2 in the “How do we fix this?” section in the

[2018-04-08 16:50] gireeshpunathil commented on #15714
Here is the relevant sections in the strace dump:

[code]

I guess the summary of the puzzle is, where is fd 9 pointing to?

[2018-04-08 17:25] ChALkeR commented on #1741
@gireeshpunathil This and #6379 are basically the same issue. Perhaps we can keep only one of those open, I would prefer the latter.

[2018-04-08 17:33] bnoordhuis commented on #19786
@addaleax has stated that `natives` is not a viable long-term solution, with a lifespan better measured in months than years.  If I were gulp, I'd look into upgrading.

[2018-04-08 17:35] bnoordhuis commented on #1741
Okay, let's close this one.

[2018-04-08 17:35] #1741 closed

[2018-04-08 17:37] demurgos commented on #19786
Gulp 4 is fixed and stable (even if not actively promoted). I'll reach out to the Gulp devs to see if they can backport the fix to Gulp 3.

[2018-04-08 17:39] bnoordhuis commented on #8520
This can be closed.  The old debugger was deprecated in favor of the V8 inspector.

[2018-04-08 17:39] #8520 closed

[2018-04-08 17:41] bnoordhuis commented on #19880
Is there anything reasonable we can do?  If not (sounds like it), the issue should be closed.

[2018-04-08 17:45] jpolitz commented on #8520
Thanks for following up. Confirmed that this works find with `node inspect`.

[2018-04-08 17:51] #19880 closed

[2018-04-08 19:26] tniessen commented on #19873
Most search bars require a server-side implementation though, unless we want to include a client-side index of keywords etc. This might become a bigger project, for the meantime, there are search engines and CTRL+F.

[2018-04-08 19:29] charlesdarkwind commented on #19199
@psmarshall thanks a lot!

[2018-04-09 01:05] ryzokuken commented on #19873
@tniessen as long as the text under consideration is on the currently rendered page, Ctrl+F works perfectly, agreed. I believe they wanted to perform an API-wide search though, not limiting to the same page.

Perhaps we could consider using something like [Docusaurus](https://docusaurus.io/en/) instead?

[2018-04-09 03:42] leiyangyou commented on #19231
Hi, please refer to

https://github.com/NetEase/pomelo/blob/5f7bec1c9be5fa2f88a366b15085cf64d4e786d7/lib/connectors/hybrid/wsprocessor.js#L30

[code]

my current hacky fix involves doing this

[code]

[2018-04-09 04:16] d3x0r commented on #19858
: 9.11.1  is still slow....
10 isn't
I'm not interested in 6; sorry :) but 8 doesn't (and probably 7) it's probably an interaction between node and v8....

[2018-04-09 04:22] vulcan9 opened #19888 "child_process.fork method & unicode characters"
* **Version**: node 9.10.0
* **Platform**: 64-bit (Windows)
* **Subsystem**: node-webkit 0.29.3

The child_process.fork method does not work if the file path contains unicode characters (korean, chiness, japanese...).

[code]
what do you think about?

[2018-04-09 04:28] Trott commented on #19888
I am unable to reproduce this error.

[code]

Can you provide more information on how to reproduce this bug?

[2018-04-09 04:46] vulcan9 commented on #19888
yha..  I think it's a different problem.
I'm using nwJS, and I think I should ask from there.
Sorry.. thank you :-)

[2018-04-09 04:46] #19888 closed

[2018-04-09 05:57] Trott commented on #7120
I'm guessing this is stale and can be closed. By all means, comment or re-open if that's not right!

[2018-04-09 05:57] #7120 closed

[2018-04-09 06:40] Ralle commented on #7087
+1

[2018-04-09 07:19] AyushG3112 opened #19889 "test: tests for internal errors?"
* **Version**: v10.0.0-pre

I am fixing a small issue in `lib/internal/errors.js`, and was looking for where to add tests for it, but could not find where to add tests.
The fix I'm making comes into effect when `ERR_INVALID_ARG_TYPE` is thrown with an invalid number of arguments.

Is there any file which corresponds to test cases for internal errors, and if not can anyone help me figure out where

[2018-04-09 07:38] willysys commented on #15799
I also meet this problem. How to catch this exception?

[2018-04-09 08:56] benjamingr commented on #19617
It seems like discussion has exhausted itself.

If anyone feels strongly, feel free to reopen.

[2018-04-09 08:56] #19617 closed

[2018-04-09 08:57] gireeshpunathil commented on #15714
I installed 2 handlers: one on the socket in question and one on subproc.stdout, the socket that acts as the parent end of the IPC pipe thus:

[code]

and the trace revealed this:

bind socket 0x2cdc5bb49dc9 with data handler dh1:

[code]

emit 'data' on socket 0x2cdc5bb4a501. No handler for this socket, so no handler invoked, the stream is read again, and chunk is ignored.

[code]

bind socket 0x

[2018-04-09 09:07] addaleax opened #19890 "Nominating ryzokuken as a collaborator"
Hey All,

I'd like to nominate @ryzokuken to be a collaborator. They have been contributing a lot over the last weeks and generally just been engaging in a very helpful way:

[Commits in the nodejs/node repository.](https://github.com/nodejs/node/commits?author=ryzokuken)
[Pull requests and issues opened in the nodejs/node repository.](https://github.com/nodejs/node/pulls?q=author%3Aryzokuken)
[Co

[2018-04-09 09:25] tniessen commented on #19873
Many (if not most) API documentations don't have a search function, maybe an autocomplete feature (`Hash` → `crypto.createHash`, ...), but usually nothing complicated. Maybe a site-wide search function is something to consider for @nodejs/website-redesign, but I am personally happy with the status quo. (Even if certain sites have search functionality, I often end up using Google...)

[2018-04-09 10:22] MarshallOfSound opened #19891 "CHECK fails when using `natives` on node >= 8"
* **Version**: `>=8`
* **Platform**: All
* **Subsystem**: `internal/async_hooks`

### The Problem
[code]

Running the above code causes a [`CHECK`](https://github.com/nodejs/node/blob/master/src/async_wrap.cc#L341) to fail resulting in node crashing.  This can not be caught user side and for Electron applications such as VS Code there is no way for them to catch a bad module doing this before the

[2018-04-09 10:26] janl commented on #10731
possible workaround here: https://stackoverflow.com/a/46928371/242298

[2018-04-09 10:36] mcollina commented on #15714
I still do not understand what is the issue and what are you trying to achieve.

[2018-04-09 10:48] gireeshpunathil commented on #19231
/cc @nodejs/http - is the hybrid use case (mixing `net'` socket to be fused into the `http` server  and the problems arises there on) supported?

[2018-04-09 11:02] gireeshpunathil commented on #15714
- being able to establish a communication channel between two processes,
 - wherein, one is a parent and one is a child,
 - and wherein, the parent has pre-created duplex streams for the IPC, not the one returned by spawn.

so looks like pre-rcreated stream looses its association with the underlying socket and / or the event handlers. The `data` is written to the stream, but no user callback was i

[2018-04-09 11:11] mcollina commented on #15714
I'm still lost why we should support such a thing. It seems very fragile, and very prone to breakage.

I think the spawned process hold a reference to the handle/fd, and when that gets collected that is freed. Please verify this.

This is normal. If you call ` write()`  on a stream, there is no guarantee that the callback is called. If the streams error, the callbacks are all dropped.

[2018-04-09 11:24] mcollina opened #19893 "stream: simplify checks for highWaterMark"
* **Version**: master
* **Platform**: all
* **Subsystem**: stream

In `lib/_streams_readable.js`, we have a block of code like this:

[code]

Because `state.highWaterMark`  could be `< 0` or `null` or `undefined` or really any object in Node < 10. However, we landed https://github.com/nodejs/node/pull/18098 and so now we can simplify all those checks to be `state.length <= state.highWaterMark`.

[2018-04-09 12:08] dicearr commented on #19893
So line [lib/_streams_readable.js#314](https://github.com/nodejs/node/blob/master/lib/_stream_readable.js#L314) and line [lib/_streams_readable.js#437](https://github.com/nodejs/node/blob/master/lib/_stream_readable.js#L437) needs to be replaced. Removing `state.length === 0` and replacing `<` with `<=`. Am I right?

[2018-04-09 12:16] devinivy commented on #15714
I attempted this for testing purposes.  I was authoring a CLI tool and wanted to mock stdin/stdout for my tests.  One of my CLI commands uses `spawn()`, so I was trying to pass my mock stdio (which were `PassThrough` streams) directly to the subprocess.  This didn't work because `PassThrough` streams naturally aren't backed by a file descriptor, so I tried to write a passthrough stream that _is_ b

[2018-04-09 12:25] sachin2605 commented on #19060
hi @addaleax  is this issue still available to be worked on..?

[2018-04-09 12:26] mscdex commented on #19891
I do not see anything wrong here as these are for internal use only. It would be better to instead ask about possible changes to public APIs/behavior to achieve whatever it is you're trying to do.

[2018-04-09 12:32] MarshallOfSound commented on #19891
I'm not trying to do anything, but a lot of users are 😄 Over on Electron we've been getting a **lot** of reports of this crash, we can trace it back but the fix / patch should probably come back to here.

In an ideal world, `natives` wouldn't be doing the stuff it's doing (executing internal nodejs logic) but it is, and I think it's safe to say tens of thousands of people are using it right now.

[2018-04-09 12:46] bnoordhuis commented on #19891
See https://github.com/nodejs/node/issues/19786#issuecomment-379041131, https://github.com/nodejs/node/issues/19786#issuecomment-379053976 and https://github.com/nodejs/node/pull/19398#issuecomment-377505368.

To summarize: known issue, will probably be fixed (@addaleax maintains `natives`) and stop using it now because it'll break forever sooner or later - probably sooner.

Not much else to say s

[2018-04-09 12:46] #19891 closed

[2018-04-09 12:57] gireeshpunathil commented on #6798
#13442 is landed, so close-able?
ping @mscdex

[2018-04-09 13:05] bpasero commented on #19891
@bnoordhuis @mscdex can this at least be reconsidered to be changed to a runtime error in JS instead of a native crash that brings down an entire process of node.js when hit? The reality is that there is a node module that still triggers this a simple `try/catch` won't help to avoid this from happening.

[2018-04-09 13:06] gireeshpunathil commented on #6296
closing as inactive, please re-open if it is still outstanding, but with the required data

[2018-04-09 13:06] #6296 closed

[2018-04-09 13:42] devsnek commented on #19891
@bpasero there is no JavaScript sitting between the call and the c++, and we want to make sure we're operating on the type we think we're operating on. bottom line these packages were always doing something bad and knowingly opted out of node's compatability

[2018-04-09 14:00] ChALkeR commented on #19891
@MarshallOfSound @bpasero `natives` will never be properly supported.

It _was created_ for the sake of doing unsupported things to Node.js internals. Once users do that, they are on their own. That's written in the `natives` readme, btw.

Anyone using `natives` should stop doing that and in case if there is no other way — file a request for the missing API that they are trying to achieve.

[2018-04-09 14:04] MarshallOfSound commented on #19891
I would argue that isn't the case, I'm 100% ok with these node internals throwing all kinds of errors when `natives` tries to use them.  Throw whatever you want.  My main problem is the crash.  In a Node.JS world this is OK, you're node process will crash and you'll figure out why, and stop it crashing.  In an Electron world this is pretty bad, because it means that just by using a node module tha

[2018-04-09 14:07] ChALkeR commented on #19891
@MarshallOfSound

You don't understand. `natives` was created to work-around the Node.js API (which the safety checks) and to get access to internals that are lower-level than the safety checks.

[2018-04-09 14:15] ChALkeR commented on #19891
@addaleax What do you think of emitting a deprecation warning at runtime from `natives` side if `Node.js` version is 10.0 or above?

[2018-04-09 14:49] bpasero opened #19897 "fs.Stats mtime/atime/ctime rounding differences between node.js 7.x and 8.x"
* **Version**: `8.11.1`
* **Platform**: Windows (64 bits)
* **Subsystem**: Windows 10

It looks like node.js 8.x introduced higher precision for the times returned in `fs.Stats` (e.g. `fs.statSync`). I can see rounding differences when comparing the result from node.js 7.x to 8.x which I was not expecting. Steps:
* have a folder which `mtime` would round up to the next millisecond (e.g. `149491043

[2018-04-09 14:53] bpasero commented on #19897
Actually I can reproduce this also on `macOS` with `ctime`.

[2018-04-09 14:53] mcollina commented on #6798
Yes, I think this could be closed.

[2018-04-09 14:53] #6798 closed

[2018-04-09 17:37] leiyangyou commented on #19231
Yes that’s the case. A net socket is reused for http when it detects that
the incoming data looks like http

On Mon, 9 Apr 2018 at 18:50, Gireesh Punathil <notifications@github.com>
wrote:

[2018-04-09 18:33] Trott commented on #15799
Hi @willysys! This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like this one, please file an issue on our help
repo. https://github.com/nodejs/help

Thanks!

[2018-04-09 18:38] Trott commented on #15799
For general support questions about dealing with `ECONNRESET`, please file an issue on our help
repo: https://github.com/nodejs/help

If you think you have found a bug in Node.js, please open a new issue. This issue is now locked.

Thanks!

[2018-04-09 20:15] rodrigok commented on #19274
News about the 8.11.2 release date?

[2018-04-09 20:45] ofrobots commented on #19859
If you have a leaking resource in the application, one would observe the above counter to increment. This doesn't necessarily indicate a leak in async hooks, but more likely in the application itself.

You didn't specify how the code was different a week before. I am guessing that you didn't have async hooks enabled then. If that's the case, my main suspicion would be the hook functions you're ins

[2018-04-09 20:53] mhdawson commented on #19890
+1

[2018-04-09 20:55] sagirk commented on #19893
@mcollina If no one is already working on this, I would like to volunteer. First-time node contributor.

[2018-04-09 21:23] mhdawson opened #19901 "parallel/test-http-content-length - flaky ?"
* **Version**: master
* **Platform**: power
* **Subsystem**: http

Failure in CI run for unrelated PR: https://ci.nodejs.org/job/node-test-commit-plinux/16744/nodes=ppcbe-ubuntu1404/console

[code]

[2018-04-09 21:49] #4270 closed

[2018-04-09 21:52] Trott opened #19903 "CI failures with no output/stack trace"
* **Version**: 10.0.0-pre
* **Platform**: various Linux platforms
* **Subsystem**: test

We've been seeing these for quite some time. They look like this:

[code]

No contents for `stdout` or `stderr` but the test failed. Huh? Wha?

Might be a problem in `tools/test.py`.

@BridgeAR and @addaleax have looked to varying degrees at this issue but haven't discovered anything as far as I know.

@refack

[2018-04-09 21:52] Trott commented on #19901
https://github.com/nodejs/node/issues/19903

[2018-04-09 21:52] #19901 closed

[2018-04-09 22:23] #18778 closed, assigned to nobody

[2018-04-09 22:26] boneskull commented on #19057
@evanlucas Were you able to make any progress here?  I'm not sure how I'd figure it out short of just bisecting.  If you don't have time to look into it yourself, I was wondering if you had any hints?  :wink:

[2018-04-09 22:29] #19254 closed

[2018-04-09 22:39] BridgeAR commented on #1495
Since OpenSSL 1.1.0 just landed, I think this can be looked at again.

[2018-04-09 22:54] #19656 closed

[2018-04-09 23:14] BridgeAR opened #19905 "Flaky parallel/test-http-readable-data-event"
https://ci.nodejs.org/job/node-test-commit-linux-containered/3545/nodes=ubuntu1604_sharedlibs_debug_x64/console
https://ci.nodejs.org/job/node-test-commit-freebsd/16844/nodes=freebsd10-64/console
https://ci.nodejs.org/job/node-test-commit-freebsd/16849/nodes=freebsd10-64/console

[code]

Ping @nodejs/http @nodejs/http2

[2018-04-09 23:19] #19727 closed, assigned to nobody

[2018-04-09 23:21] BridgeAR opened #19906 "Flaky sequential/test-net-GH-5504"
https://ci.nodejs.org/job/node-test-binary-arm/286/RUN_SUBSET=1,label=pi1-docker/console

[code]

[2018-04-10 01:53] winguse commented on #19859
BTW, I did not touch the resource object passed in init function.

[2018-04-10 01:53] winguse commented on #19859
Closed by mistake, sorry

[2018-04-10 03:00] rvagg commented on #19903
Last round of investigation happened in https://github.com/nodejs/node/issues/18998

[2018-04-10 04:46] Trott commented on #18998
Closing this in favor of #19903, but feel free to re-open or comment if you think that's the wrong thing to do.

[2018-04-10 04:46] #18998 closed

[2018-04-10 06:57] nodeav commented on #19595
@trivikr I just wanted to make sure the argument I have presented has been considered prior to closing this issue, and that the final decision has been made in regards to changing the code. Thanks.

[2018-04-10 07:10] fgarcia commented on #11865
Can anyone recommend an issue to follow so I can get a notification when the issue mentioned in the OP title is fixed?

I will go back to the native Promise implementation once this problem is fixed, but in my case finding quickly the error line that breaks my code and/or unit-tests has priority over performance.

[2018-04-10 08:24] gireeshpunathil commented on #7306
Low level tracing revealed the following:

Linux:
fd 12: client
fd 13: server

[code]

macos:
fd 0xE: client
fd 0xF: server

[code]
Summary: network characteristics play a big factor. I don't any issue with Node.

[2018-04-10 08:31] gireeshpunathil commented on #7306
Closing, let me know if there is something outstanding

[2018-04-10 08:31] #7306 closed

[2018-04-10 08:34] gireeshpunathil commented on #15601
closing, let me know if it should not be

[2018-04-10 08:34] #15601 closed

[2018-04-10 08:58] addaleax commented on #19903
Two things I found out, which don’t give a lot of insight but might narrow things down a bit:

- This appears to happen *more* frequently when tests are not being run in parallel
- Output that is inserted through `process._rawDebug` at the beginning of the script *is* shown by the test runner

[2018-04-10 09:28] bnoordhuis commented on #19903
Does `dmesg` show anything afterwards?

[2018-04-10 09:38] addaleax commented on #19903
@bnoordhuis Unfortunately, no. :/ There are only a handful lines reported after boot on the debian-x86 machine, a few from invalid incoming external UDP packages, and 7 segfault notices for `node`; but those don’t match the times (or the frequency) with which I could reproduce the issue on that machine.

[2018-04-10 10:13] gireeshpunathil commented on #19576
closing as answered, let me know if there is anything pending

[2018-04-10 10:13] #19576 closed

[2018-04-10 10:15] chrismilleruk opened #19912 "coverage.nodejs.org misreporting"
* **Version**: v10.0.0-pre
* **Platform**: tbc
* **Subsystem**: test, coverage

https://coverage.nodejs.org/ is reporting a significant drop in code coverage in the most recent nightly.

JS Coverage: 94.42% -> 28.80%
C++ Coverage: 92.50% -> 31.10%

Note that my local coverage results seem OK so this looks like a build / job failure.

<img width="982" alt="screenshot 2018-04-10 11 06 45" src="https

[2018-04-10 10:45] mcollina commented on #19905
This is in on me. However, feel free to get to it if anyone has some spare cycles.

[2018-04-10 10:48] sotayamashita commented on #19873
@ryzokuken

Good idea but it too big so what about to extract a search feature from Docusaurus . I suggest @nodejs/website-redesign use [Algolia](https://www.algolia.com/) to implement the feature. It is free for OSS :100:.

[2018-04-10 10:51] gireeshpunathil commented on #19031
@juanitotc - is this still outstanding?

[2018-04-10 10:57] gireeshpunathil commented on #18408
Is this resolved, and a close candidate?

[2018-04-10 11:20] iSkore opened #19914 "add HPE_INVALID_METHOD to documentation"
The HTTP error `HPE_INVALID_METHOD` is not documented.

Suggestion:

`doc/api/errors.md` (line ~1659)

[code]
(ascii reference noted because base64 encoded packets cannot be parsed)
Ref: #19344

Example:
`R0VUIC8gSFRUUC8xLjENCkhvc3Q6IGxvY2FsaG9zdDozMDAwDQoNCg==` and `GET / HTTP/1.1\r\nHost: localhost:3000\r\n\r\n` is the same string encoded differently.

Error report:
[code]

If `HPE_INVALID_METHO

[2018-04-10 11:40] rvagg commented on #19912
9th: https://ci.nodejs.org/job/node-test-commit-linux-coverage/600/nodes=benchmark/console
10th: https://ci.nodejs.org/job/node-test-commit-linux-coverage/601/nodes=benchmark/console

Does the output help? it has %'s that match what we're seeing on the table.

Maybe we just added a _ton_ of code yesterday and didn't catch up with enough new tests ...

[2018-04-10 12:03] chrismilleruk commented on #19912
Those look really useful, thanks.

I had found these:
9th: https://ci.nodejs.org/job/node-test-commit-linux-coverage/600/
10th: https://ci.nodejs.org/job/node-test-commit-linux-coverage/601/

I noticed from the job status pages there that job 601 took just 16 mins instead of the usual ~31 mins.

[2018-04-10 12:11] cjihrig commented on #18408
The behavior remains. I'm not sure if the existing behavior is considered a bug or not. Personally, I think it's a bug. I suppose I could PR https://github.com/cjihrig/node-1/commit/63beb8cdc243c16e3ba7480d55179832f7107ad8.

[2018-04-10 12:13] gireeshpunathil commented on #10354
A reasonable explanation to this behavior is optimization as opposed to a bug. This [block](https://github.com/nodejs/node/blob/0434bd4a09519737de132316ad660ec62d90ee87/lib/_http_server.js#L224-L241) explains the logic. `setHeader` is for a progressive supply of header fields (iteratively set the headers as the program advances) and `writeHead` is for a one shot write (all the header values availa

[2018-04-10 12:33] gireeshpunathil commented on #17005
I think this statement above summarizes it, given too many platforms and environments.

Closing with no further action identified, please let me know if anything is pending on this.

[2018-04-10 12:33] #17005 closed

[2018-04-10 13:04] chrismilleruk commented on #19912
I reviewed the diff of the two outputs. Aside from the obvious size difference (601 is a shorter log), there are fewer files covered and the coverage for each file is generally worse.

It seems to point towards some missing files (both from the test suite and the source files).

Is it possible to re-run the job on the CI server?

[2018-04-10 14:47] mhdawson opened #19917 "Flaky test parallel/test-fs-stream-double-close"
* **Version**: master
* **Platform**: debian8
* **Subsystem**: fs

https://ci.nodejs.org/job/node-test-commit-linux/nodes=debian8-x86/17824/console

[code]

[2018-04-10 14:53] apapirovski commented on #19917
I don't think this needs its own issue. See https://github.com/nodejs/node/issues/19903

[2018-04-10 15:08] BridgeAR commented on #19917
I second @apapirovski. If someone thinks it should stay open, please feel free to reopen.

[2018-04-10 15:08] #19917 closed

[2018-04-10 15:12] vsemozhetbyt commented on #19405
Ping?

[2018-04-10 15:38] vsemozhetbyt opened #19918 "build: default building of master is broken on Windows without NASM"
https://github.com/nodejs/node/blob/master/BUILDING.md#windows-1 states:

But `vcbuild test` just aborts without NASM:
[code]

[2018-04-10 15:41] vsemozhetbyt commented on #19918
cc @nodejs/build  @nodejs/platform-windows

[2018-04-10 15:44] vsemozhetbyt commented on #19405
@AyushG3112 Thank you! I will try to build and check after https://github.com/nodejs/node/issues/19918 is clarified.

[2018-04-10 15:47] vsemozhetbyt commented on #19918
Possible refs: https://github.com/nodejs/node/commit/eec659c138f3afcd51a25cd8b197d715a47baa65#diff-396d0b75211f5646b2fa730fbdf80a40

[2018-04-10 16:02] addaleax commented on #19903
@bnoordhuis Okay, this turns out to be a pretty deep rabbit hole.

The reported exit code according to https://github.com/nodejs/node/pull/19855 is `-6`, which would be `SIGABRT` – that would explain why we don’t see any output – `HasCrashed()` in `tools/test.py` explicitly excludes `SIGABRT`:

https://github.com/nodejs/node/blob/5e6817261c559390f8a6736fb33e7715f6dfbd16/tools/test.py#L582-L583

Al

[2018-04-10 16:46] silverwind commented on #1495
Good find, I'll close this.

[2018-04-10 16:46] #1495 closed

[2018-04-10 17:15] juanitotc commented on #19031
In that the configure script needs to check for the icu version, yes

[2018-04-10 17:41] bnoordhuis commented on #19031
We don't check versions for other dependencies either so I'd say this can be closed (and that's what I'll do.)

[2018-04-10 17:41] #19031 closed

[2018-04-10 17:44] the1337guy commented on #3604
This hit me today, I did nothing but run some HTTP requests one of which ended in a timeout, and then this showed up.

[2018-04-10 18:14] ryzokuken opened #19919 "doc: make test commands a little more consistent"
In the `PULL_REQUEST_TEMPLATE.md` file, we ask contributors (who are now submitting a PR) to test the codebase using the command `make -j4 test`, employing 4 jobs. (https://github.com/nodejs/node/blob/master/.github/PULL_REQUEST_TEMPLATE.md#checklist)

On the other hand, the `BUILDING.md` file, we use `make test` only, which uses a single job, IIRC. (https://github.com/nodejs/node/blob/master/BUIL

[2018-04-10 20:08] ACondie commented on #19879
I've spent a little more time looking at this issue.  In my use case I want the Inspector to display the value of the native Accessor as that very useful to the developer.  This means I cannot use the first option as, if the `InternalFieldCount()` is zero there is no option other than to fail gracefully.  It is also effectively the same as the third option, where supplying a AccessorSignature will

[2018-04-10 20:09] #19879 closed

[2018-04-10 20:48] Vasikaran opened #19920 "Module not found when using require.resolve in CLI files"
* **Version**: 8.10.0
* **Platform**: Darwin vasi-zutk79 17.4.0 Darwin Kernel Version 17.4.0: Sun Dec 17 09:19:54 PST 2017; root:xnu-4570.41.2~1/RELEASE_X86_64 x86_64
* **Subsystem**: None

Hi Node team,
    We are using Node JS such a long time in our product to build that. In our product, developers daily creating the new build. If we install node_modules each and every time the build time will

[2018-04-10 21:42] ryzokuken commented on #19920
From the looks of it, it doesn't seem like it has anything to do with the contents of the `node_modules` folder itself, because the script cannot resolve `../dist`, which is supposed to be a local file.

Can you verify that a file named `dist.js` exists in the parent folder relative to the script in question?

[2018-04-10 21:46] ryzokuken commented on #19920
Also, it's completely unrelated to node core in itself, but if you're interested in reducing build time for something like CI, npm has an `npm ci` functionality as an alternative to the standard `npm i` (or `npm install`).

Check it out at:

1. https://docs.npmjs.com/cli/ci
2. http://blog.npmjs.org/post/171556855892/introducing-npm-ci-for-faster-more-reliable

[2018-04-10 21:52] Trott commented on #19905
I'm able to replicate locally:

[code]

[2018-04-10 21:56] Trott commented on #19905
(Not specific to FreeBSD. Replicated on macOS.)

[2018-04-10 21:59] Trott commented on #19905
Moving to `sequential` would be a workaround.

[2018-04-10 22:11] jasnell opened #19921 "Abort when using --trace-events-enabled on test-http2-respond-with-file"
[code]

ping @addaleax @AndreasMadsen @nodejs/diagnostics

[2018-04-10 22:15] jasnell commented on #19921
@addaleax ... appears to happen only with the respond-with-file tests

[2018-04-10 22:53] andrewhodel commented on #19095
@jasnell it worked fine in 9.2

[2018-04-10 23:03] andrewhodel opened #19922 "http2 pushStream not providing files for :path entries (CHROME 65, works in FF)"
* **Version**:
* **Platform**:
* **Subsystem**:

node -v
v9.11.1

uname -a
Linux debian-1210-desktop 4.9.0-6-amd64 #1 SMP Debian 4.9.82-1+deb9u3 (2018-03-02) x86_64 GNU/Linux

##USING node --expose-http2 gping.js

[code]

Chrome Version 65.0.3325.146 (Official Build) (64-bit)

THE CONTENT OF /main.js IS THE CONTENT OF /index.html

[2018-04-10 23:06] andrewhodel commented on #19922
It works fine in Firefox 58.0.2

[2018-04-10 23:12] tniessen commented on #15116
@bnoordhuis What should the API be like? I implemented a first version supporting simple RSA key generation today, but I am unsure about the API design. Currently, it looks like

[code]

This has the advantage that it can be extended easily for other asymmetric algorithms with options that are specific to those. The alternative is to create an API that is specific to RSA, the choice mostly depends

[2018-04-10 23:45] jasnell commented on #15116
Do we absolutely need the sync version at all?

[2018-04-11 00:04] B2o5T opened #19923 "fs.truncate after promisify do not resolve or reject Promise, if there is fs.open promisifyed function in same file"
* **Version**: v9.3.0
* **Platform**: macOS 10.13.1 High Sierra

I'm facing a problem when I have many fs promisifyed functions in one file, specifically promisifyed fs.truncate and fs.open in one file

This work fine, result `undefined` as expected
[code]
But if I put `fs.open = promisify(fs.open)` above invoking fs.truncate, **my promise do not resolve or reject**
[code]