[2018-11-25 18:49] Trott commented on #23776
/ping @nodejs/async_hooks @nodejs/promises-debugging

[2018-11-25 18:51] Trott commented on #23420
@sruetzler Are you still experiencing this problem? Did the StackOverflow link above help at all?

[2018-11-25 18:53] Trott commented on #23154
Consensus seems to be that this is not a bug. Closing.

[2018-11-25 18:53] #23154 closed

[2018-11-25 18:58] Trott commented on #23152
@ravishivt Are you experiencing this with 10.13 as well?

/ping @nodejs/v8-inspector

[2018-11-25 19:01] refack commented on #23420
Dup of https://github.com/nodejs/node/issues/24317? (I'm assuming you are using `yocto` to cross compile for ARM)

[2018-11-25 19:03] #20817 closed

[2018-11-25 19:08] Trott commented on #19057
@trivikr Still happening?

[2018-11-25 19:09] Trott commented on #18223
This was fixed by bce5d45c92093b553ed166a359486f1d9a5220c6 but the issue was never closed. (Comment or re-open if I'm mistaken!)

[2018-11-25 19:09] #18223 closed

[2018-11-25 19:10] Trott commented on #18181
/ping @MoonBall @mcollina Should this remain open?

[2018-11-25 19:11] thysultan opened #24646 "Cannot extend the response object at runtime"
* **Version**: v9.7.1
* **Platform**: OSX Darwin 16.5.0 Darwin Kernel Version 16.5.0: RELEASE_X86_64 x86_64
* **Subsystem**:

Is there any reason the following neither works nor throws an error?

[code]

[2018-11-25 19:12] Trott commented on #17038
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-11-25 19:12] #17038 closed

[2018-11-25 19:12] thisconnect commented on #24640
sure, this is on v10.13.0 on macOS
[code]

[2018-11-25 19:13] Trott commented on #17058
(How do we know when this is complete and can be closed?)

[2018-11-25 19:15] Trott commented on #12665
Added to the Feature Requests project. Closing as stalled/no-consensus.

[2018-11-25 19:16] thisconnect commented on #24640
please note that the only purpose of this was to produce an error and improve coverage a bit.

[2018-11-25 19:20] Trott commented on #24646
`Object.create()` creates a new object with the existing object as a prototype. The code above is using the `write()` and `send()` methods on a new object.

This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like this one, please file an issue on our help
repo https://github.com/nodejs/help (where I will now be transferring this question).

Than

[2018-11-25 19:29] refack commented on #24633
Hello @ORESoftware I was thinking a about using `NODE_PRESERVE_SYMLINKS=1` to create a lite-symlink-jail. It has only one caveat, the root script can't be in a symlinked dir, so I created a wrapper `test_jailed.js`:
[code]

[code]
Notice it doesn't find `lodash` so in fact it does run `test.js`

[2018-11-25 19:35] hashseed commented on #17058
We would be done once we use snapshots for Node.js start up :)

[2018-11-25 19:39] refack commented on #24637
IMHO a cleanup solution should come via @chocolatey/boxstarter, as they are much more proficient in the internals of the tool.

[2018-11-25 19:45] refack commented on #24640
@thisconnect does this reproduce with node 10.9.0?

[2018-11-25 19:57] Flarna commented on #24287
Thanks!

[2018-11-25 19:57] #24287 closed

[2018-11-25 20:50] ORESoftware commented on #24633
@refack thanks can you explain how that works at the bottom of your post? I dont quite follow.

[2018-11-25 21:07] trivikr commented on #19057
Reran the following commands on latest commit in master 14707b681da02ef290a986f7613797a3c7ec1ad5
[code]
* **Platform**: macOS Sierra Version 10.12.6
* **Xcode**: Version 9.2 (9C40b)

The error still appears:
[code]

[2018-11-25 21:45] davedoesdev commented on #24546
Thanks!

[2018-11-25 21:46] demurgos opened #24647 "End of CLI options `--` is now part of `process.execArgv` (regression in Node 10.10)"
* **Version**: 11.2.0
* **Platform**: Linux 64 bit
* **Subsystem**: src

I noticed a regression regarding `--` following the refactoring in https://github.com/nodejs/node/commit/8fd55fffee (https://github.com/nodejs/node/pull/22392).

- Node < 10.10:
[code]

- Node >= 10.10
[code]

The double dash indicating the end of the exec args is now part of `process.execArgv` while it previously was neither

[2018-11-25 21:56] targos commented on #24647
/cc @addaleax

[2018-11-25 22:11] #24521 closed

[2018-11-25 22:12] bnoordhuis commented on #24521
This should be fixed the next time libuv is upgraded, probably sometime next month.

[2018-11-25 22:13] Trott commented on #23765
Seems like `inspector.console` solves this, but if I'm wrong, please do comment or re-open.

[2018-11-25 22:13] #23765 closed

[2018-11-25 22:33] cristian-bicheru commented on #24645
@bnoordhuis sure, here are the contents:
[code]
It's the hex value for a 2048 bit prime I found here [https://tools.ietf.org/html/rfc3526](url).

[2018-11-25 22:41] refack commented on #24633
Using your tree structure:
[code]

Assuming you don't have `/node_modules/` or `/tmp/node_modules/`, you can do this:
[code]

With `NODE_PRESERVE_SYMLINKS=1` node will not resolve symlink to real paths for everything, but the root script (the one called from the CLI), so you need the `jailer.js` to live in a "real" directory, and call the entry-point of the symlink-jailed project.

[2018-11-25 23:11] doug-numetric commented on #23765
Yes, it does. I should have known but I was distracted at the time by being limited to node 8 LTS. Of course that doesn’t excuse asking to solve an already solved issue. Sorry for the noise.

[2018-11-25 23:36] rvagg opened #24648 "Node.js 6.x on macOS / Xcode 10.1 failing to compile (libc++)"
I don't get this, so hopefully someone else is tuned in to this better than I. I don't follow Xcode happenings and I think that's what this is all about. @srl295 or @ofrobots maybe?

If I compile the current 6.x head with Xcode 10.1 it fails on ICU:

[code]

v6.x-staging has a [few GYP related fixes](https://github.com/nodejs/node/compare/v6.x...v6.x-staging) for Xcode10, mainly because Apple LLVM

[2018-11-25 23:52] Trott commented on #24648
@rvagg What version of macOS are you running?

[2018-11-25 23:55] Trott commented on #24648
(FWIW, I get an error just running `./configure` on my macOS machine with the v6.x branch HEAD.)

[2018-11-25 23:57] Trott commented on #24648
[code]

The `xcode-select` errors were a known issue for a long time and were harmless, but the Python script blowing up is new to me.

macOS High Sierra (10.13.6) with xcode-select version 2349.

[2018-11-26 00:01] rvagg commented on #24648
10.14.1 xcode-select version 2354.

./configure isn't blowing up for me, even on `v6.x`. Does `v6.x-staging` change that error for you?

[2018-11-26 00:02] richardlau commented on #24648
See https://github.com/nodejs/node/pull/23685#issuecomment-430450744.

TL;DR `libstdc++` was deprecated in favour of `libc++` on macOS and finally removed in Xcode 10. Of the current in support releases, Node.js 6.x is the only one built against `libstdc++` (we specify `libc++` from Node.js 8 onwards).

With my LTS hat on, I'd be extremely reluctant to change the C++ library being linked to for No

[2018-11-26 00:08] rvagg commented on #24648
oof, that sucks. It'd be a shame to leave 6.x failing on modern Xcode. Perhaps we should slip some GYP hackery in there to detect Xcode version and switch when you're using a newer version.

[2018-11-26 00:08] richardlau commented on #24648
@Trott Maybe see if https://github.com/refack/GYP/pull/1 fixes it?

[2018-11-26 00:12] richardlau commented on #24648
@rvagg Perhaps for developer builds.

My worry would be mixing prebuilt addons linked against `libstdc++` with Node.js linked against `libc++` (or vice versa). It's less likely to be an issue for Node.js 8+ (since we specify `libc++` in `common.gypi` which will be picked up by `node-gyp`).

[2018-11-26 00:17] Trott commented on #24512
PR has landed so I assume this can be closed. Comment (or re-open if GitHub allows) if I'm wrong about that! Thanks!!!

[2018-11-26 01:17] refack commented on #24512
The files in `deps/v8` and `tools/inspector_protocol + jinja2 + markupsafe` where excluded from https://github.com/nodejs/node/pull/24486. So this is still an issue.

[2018-11-26 01:20] refack commented on #24512
/CC @nodejs/v8 @nodejs/v8-inspector

FTR on 1.1.2020 Python 2 hits it's EOL https://pythonclock.org/

[2018-11-26 02:45] sebdeckers commented on #24466
I can confirm this diverging behaviour. However the documentation for `http.writeHead` does not describe the Array of Arrays use case. Should this be supported?

<details><p>

[code]

[code]

</p></details>

[2018-11-26 04:09] nanomosfet commented on #24098
@Trott I can take a spin at this if thats okay. I think we just need to look at the `socket.connect()` options docs/code and add that into our Agent docs. Does that seem about right?

[2018-11-26 04:21] cinderblock commented on #20432
This seems to be possible. However I have not found any documentation of this.

One other mention of this method: https://github.com/nodejs/node/issues/4464#issuecomment-428153424

Example:

[code]

[2018-11-26 04:38] mscdex commented on #24580
After digging in Symfony's code a bit it looks like what's actually happening is that it's removing Content-Type and Content-Length headers when the response code is 204, but sending the data anyway. So this is definitely a bug in Symfony.

However in my testing I still get the `'response'` event before the `'error'` event on the client side, so you should be able to work around this however you s

[2018-11-26 04:38] Trott commented on #22598
@nodejs/domains Anything that can be done to troubleshoot this? (If not, should this be closed and/or moved to the `help` repo?)

@catcher-in-the-try Any chance you're not experiencing this if you upgrade to 10.13.0?

[2018-11-26 04:45] jasnell commented on #24466
Unfortunately, we probably should support it.

[2018-11-26 04:54] Trott commented on #22228
Unable to find this in the last 100 PR CI runs. Feel free to re-open if I'm wrong to close this, but given the length of time since it's been reported and the lack of activity and reproducibility, it seems like the right thing to do.

[2018-11-26 04:54] #22228 closed

[2018-11-26 05:16] catcher-in-the-try commented on #22598
@Trott Apologies, I am not maintaining my code that was causing the issue anymore. So I am fine with closing this. Cheers

[2018-11-26 05:51] bmeurer commented on #23776
@mayalekova can you take a look?

[2018-11-26 07:45] sruetzler commented on #23420
@Trott no that doesn't help me.
The lib is available on the host and in the yocto build. The problem is that the linker isn't using the yocto linker it uses the linker from the host.

[2018-11-26 08:07] sruetzler commented on #23420
@refack
Yes I want to cross compile with yocto for arm.
In my case torque is compiled with the cross compiler and linked with the host compiler.
What is right. Should it be build with the cross compiler or with the host compiler.
In the yocto recipe the HOST_CC and HOST_CXX are set.
export CXX_host = "${BUILD_CXX}"
export CC_host = "${BUILD_CC}"
export CXXFLAGS_host = "${BUILD_CXXFLAGS}"
export CF

[2018-11-26 08:15] kxpvcr commented on #24580
@mscdex Nice, thanks for the input! I'll report the bug in Symfony, though a simple workaround really is to just use `Response` instead of `JsonResponse` for `HTTP 204` codes.

[2018-11-26 08:15] refack commented on #23420
Torque should be built and linked with the host toolset. It's a code-gen tool that runs on the host to generate source files that are consumed later by the cross compiler.

[2018-11-26 09:16] mcollina commented on #18181
I think this should be closed.

[2018-11-26 09:16] #18181 closed

[2018-11-26 09:52] lokesh1729 commented on #8493
I endorse this...

[2018-11-26 10:33] ORESoftware commented on #24633
@refack thats an interesting approach, i think i understand it.

[2018-11-26 10:34] ORESoftware commented on #24633
Does the NODE_PRESERVE_SYMLINKS env var exist already? is it recognized?

[2018-11-26 11:40] thonglh opened #24656 "Async/await behave differently between node 9 and 10"
* **Version**:
v10.13.0
* **Platform**:
MacOSX 64 bit
* **Subsystem**:

## Detail

- I've tried to find the related bug but I can not, so I have created this.
- The execution order of code with async function is different between node 9 and node 10.
- Looks like in **v10** (and **v11** also), the async `callback()` inside `runTimer` is not waited although we are using `await runTimer`

[code]
Outp

[2018-11-26 11:40] refack commented on #24633
Yes, https://nodejs.org/api/cli.html#cli_node_preserve_symlinks_1

[2018-11-26 11:43] targos commented on #24633
I think you can also add the `--preserve-symlinks-main` flag to avoid having to create the main file outside of the symlinked folder.

[2018-11-26 11:51] refack commented on #24633
I thought I remembered it being added, but I was looking for it in the environment variables section, where it isn't (probably due to NODE_OPTIONS covering that use case)

[2018-11-26 13:44] petoknm opened #24658 "Cannot read property 'getALPNNegotiatedProtocol' of null"
Version: `v11.2.0`
Platform: `Linux xps15 4.19.2-arch1-1-ARCH #1 SMP PREEMPT Tue Nov 13 21:16:19 UTC 2018 x86_64 GNU/Linux`
Subsystem: `https, tls`

I am trying to get https client certificate authentication to work but I get the following error:
[code]

code:
[code]

when I set `requestCert: false` in the options it works fine, but I need the client to present a certificate, thus need the `reques

[2018-11-26 13:56] mcollina opened #24659 "building on windows does not run tests"
* **Version**: 11
* **Platform**: windows
* **Subsystem**: test

Building on Windows gets stuck at "building addons":

[code]

Do you know how I can get test to run?

The generated `Release\node.exe` file is not working properly either.

[2018-11-26 14:01] mcollina commented on #24659
cc @nodejs/platform-windows

[2018-11-26 14:05] refack commented on #24659
It think this is the bigger issue here.
And I assume that if you run `echo %ERRORLEVEL%` you would have seen a non zero exit...

Can you try `.\vcbuild.bat release test`? Also could you share the binaries (and .pdb files)?

[2018-11-26 15:15] Hakerh400 commented on #24656
I believe this is working as expected. The line `await timer.runTimer()` awaits for the `runTimer` method to return. However, the method synchronously calls `this.queue.forEach` and it synchronously performs `item.callback()` on each function. You are not awaiting the callback itself, so they don't get a chance to resolve before `runTimer` is finished. The reason it works in earlier Node.js versio

[2018-11-26 15:47] OliAtArtefact commented on #17025
With me, it was a Python conflict that was causing the issue,

[2018-11-26 15:51] mcollina commented on #24659
Thanks, I actually ended up filling my disk. Closing.

[2018-11-26 15:51] #24659 closed

[2018-11-26 16:41] sam-github commented on #23981
Yes, still looking at it.

[2018-11-26 17:00] Trott commented on #24658
@indutny @nodejs/http @nodejs/crypto

[2018-11-26 17:01] Trott commented on #24497
@refack Meaning that it can be fixed in libuv but currently is not?

[2018-11-26 17:01] sam-github commented on #22304
Example, a file encryption tool where the user specifies the file, algorithm, and a pass phrase, and the utility runs the PBKDF, generates the key, creates a random sufficiently large IV, and writes CMS encrypted data to disk.

The tool could have a data structure of acceptable algorithms, and with each alg keep its key size, its IV size, etc. But if OpenSSL already includes this, why duplicate th

[2018-11-26 17:11] refack commented on #24497
Yes, exactly.
It might be possible to implement, but complicated to do in a bug-free-cross-platform-compatible way...

[2018-11-26 17:11] sam-github commented on #20432
Sorry, @cinderblock I don't understand your comment, or how it relates to `NODE_EXTRA_CA_CERTS`. Could you repost this question in http://github.com/nodejs/help, or as an independent issue if your believe there is a bug?

[2018-11-26 17:17] refack commented on #24497
For example the above mentioned [`timeGetDevCaps`/`timeBeginPeriod`](https://docs.microsoft.com/en-us/windows/desktop/Multimedia/obtaining-and-setting-timer-resolution) are (1) global per process 🤷‍♂️ (2) part of the Multimedia API 😕 (3) depend on power (as in electricity) saving profile 🤦‍♂️
![image](https://user-images.githubusercontent.com/96947/49030284-eda03500-f174-11e8-8556-61b3f2a2f1ad.png

[2018-11-26 17:21] refack commented on #24497
The interwebs say > 15ms, but I'm not sure I grok the test, and know how to change it without eliminating it's essence.

[2018-11-26 18:13] petoknm commented on #24658
Adding `options.ca` equal to the same thing as `options.cert` also fixes it... According to the docs:

"For self-signed certificates, the certificate is its own CA, **and must be provided.**"

So I guess it makes sense that it was failing, but it would be nice to fail when I'm creating the server, not during connection handling, and with a more sensible error message.
Thanks :)

[2018-11-26 18:17] mhdawson commented on #20642
@sgallagher ping.

[2018-11-26 18:22] sgallagher commented on #20642
@john-yan At minimum, you need to sign Fedora's Contributor License Agreement (can be done from the account tool you linked above). Then I need to get you added to some FAS group with access to the testing machines.

[2018-11-26 18:29] john-yan commented on #20642
@sgallagher OK I just signed it. sorry I created the account without knowing I also need to sign it after.

[2018-11-26 18:32] sgallagher commented on #20642
@john-yan OK, once you have the SSH key uploaded, I'll get you access.

[2018-11-26 18:33] john-yan commented on #20642
@sgallagher Thanks, Just uploaded ssh public key.

[2018-11-26 18:38] sam-github commented on #24577
Node has slowly been becoming harder to break, but removing listeners from events that are not yours, removing methods from objects, reassigning values to globals, etc., can cause a lot of damage.

New methods, for example, sometimes use private symbols to try and hide them from API users, more values are const, more properties are read-only.

Its possible there will be a drift towards node not us

[2018-11-26 18:50] ofrobots commented on #24648
What version of XCode do we have in the CI? One thing to be careful about is whether the [proposed fix](https://github.com/nodejs/node/issues/24648#issuecomment-441493324) to make `6.x` buildable against XCode 10 could accidentally be used in the release CI due to machine config changes. I'd also be very wary of changing the C++ library, because of potential ABI incompatibilities for precompiled a

[2018-11-26 18:53] lagden commented on #22304
In Go lang we have a helper: https://golang.org/pkg/crypto/aes/ (BlockSize)
In PHP we have a helper: http://php.net/manual/en/function.openssl-cipher-iv-length.php

...and why not in Node.js?

I have one
In my app, the user can choose which cipher he want use to chat with another person
So, I had to make a small map (key/IV) for that, but I'd like to make like in Golang: `iv := ciphertext[:aes.Blo

[2018-11-26 18:55] sgallagher commented on #20642
@john-yan OK, you should now have access to any of the machines listed at https://fedoraproject.org/wiki/Test_Machine_Resources_For_Package_Maintainers#Available_Machines.2FInstances

[2018-11-26 19:07] john-yan commented on #20642
@sgallagher Thanks, I will have a look.

[2018-11-26 20:22] tanium-kdp commented on #5608
Colleague just informed me that there's a command-line option that can help with this ... `NODE_NO_READLINE=1 rlwrap node` totally gets me sorted here; hope this helps others, too.

[2018-11-26 20:58] carloverhamme opened #24661 ""Segmentation fault (core dumped)" ERROR"
So, every time I try to run my node.js app (express), I keep getting this error:
"Segmentation fault (core dumped)".
And then It creates a file to.

How can I fix this?

[2018-11-26 21:13] cinderblock commented on #20432
@sam-github You are correct that the titular question asks specifically about the `NODE_EXTRA_CA_CERTS` environment variable and setting that programmatically during runtime.

I however suspect the main thing in question is to set extra ca certificates in code/during runtime that don't override the built-in CA certificates. The method I've suggested does exactly what I believe the OP wanted withou

[2018-11-26 21:38] aslushnikov commented on #24209
Oftentimes program transitions into inconsistent state after throwing an exception and hangs forever; you never know if it's just slow fetching resources from the Web or it has thrown an exception until you terminate it.

Thank you @apapirovski for handling this :heart:

[2018-11-26 21:44] sheerun commented on #20432
Reiterating my use case is:

A programmatic way of doing so is better than setting ENV variable, so it would be OK for my use case. I'd rather use official, documented way of doing so though, so @cinderblock has a point that it should be documented.

[2018-11-26 21:49] jkinkead commented on #11771
This issue should be re-opened, per the last comment.

[2018-11-26 22:11] cinderblock commented on #20432
@sheerun Yeah, I'm rather surprised that this API is not documented.

On the node.js tls documentation page, it simply says:

But what is a "credentials object"? I have not found any documentation on it.

It looks to be a real API for a number of reasons:
 - No underscores (`_`)
 - It is named in a [change log](https://github.com/nodejs/node/blob/3516052bee118dce767dd330fa857f6615c5b28a/doc/change

[2018-11-26 22:55] sam-github commented on #18770
@shigeki wrt. to failures when openssl 1.1.1 branch is compiled against openssl 1.1.0, I think the workaround is:

- replace: https://github.com/shigeki/node/commit/2b7f91830350203284b8aeaf65761553bb172a84
- with: https://github.com/sam-github/node/commit/decce9c5e8f1e2ba252fe04d64a50e08ddbf7dfa

I'll run another full CI on https://github.com/sam-github/node/commits/update_openssl1.1.1a once ci is

[2018-11-26 23:31] MylesBorins commented on #11771
I'm going to reopen this until #22906 lands

[2018-11-26 23:47] Trott commented on #24317
I'm going to close this, but feel free to comment if you're still having trouble and I or someone else can re-open it. (Or re-open it yourself if GitHub permits.)

[2018-11-26 23:47] #24317 closed

[2018-11-26 23:49] dscho commented on #16103
That looks more like MSYS than Cygwin. (And a pretty old one at that.)

[2018-11-27 01:21] acappella2017 commented on #24577
@sam-github Thanks for your response. I will try to get a fix from `node-ldapjs` side.

BTW, I changed the title to **'close' listener stop working with socket.removeAllListeners('end')**. Hope it is a more accurate brief for people who happens to see this issue.

[2018-11-27 01:27] thecodingdude opened #24663 "deleted"

[2018-11-27 01:56] sam-github commented on #24577
yes, that's a descriptive title, thanks.

[2018-11-27 01:58] thecodingdude commented on #24663
This situation seems so absurd I'm wondering if there are people who are culpable for the sheer lack of security within NPM, just from 10 minutes of thinking

1: Enforce 2FA
- should be standard, accounts with popular repos must have 2FA (10,000 avg monthly downloads)

2: Require review of popular packages
- Humans should review popular packages, this can be done via a npm-review github repo, with

[2018-11-27 02:01] Neaox commented on #24663
@thecodingdude Just for clarification, in the case that spawned this, the malicious code was only present in the minified version of the code, this is something that might not be caught by a review process.

[2018-11-27 02:03] DragonOsman commented on #24448
I need advice on what to rename zlib1.dll into.  I have lots of instances of it; some in vcpkg's files, some in Visual Studio 2017's files.  If I try to set the `--shared-zlib` flag, I get a linker error saying that it can't open z.lib.

[2018-11-27 02:11] thecodingdude commented on #24663
@Neaox that's very much the case, but what's terrifying in this case is that there were no human/automated systems that attempted to spot red flags:

A transfer of module to another user (no human/automated process) -> who is this user? If they're 'unknown', we should require a human review.

An addition of a dependency that's unknown (huge red flag right there, each update should be approved by a

[2018-11-27 02:14] mscdex commented on #24663
.... and they also included links to the appropriate places where support and other requests should go. It seems like the changes being requested here are within npm's domain, since they maintain the software, not node core. Have you considered posting what you already have over in the appropriate npm support channel?

[2018-11-27 02:21] #24663 closed, assigned to nobody

[2018-11-27 02:30] thecodingdude commented on #24663
@devsnek I feared your reaction was going to be the eventual outcome of this topic, and I'm extremely disappointed.

What it feels like to me is you're saying "not our problem", even though you are knowingly distributing a piece of software with _no_ security considerations and appreciation of the bigger picture. Please consider what happened here: Some of the largest repos depended on a package t

[2018-11-27 02:37] #22598 closed

[2018-11-27 02:38] devsnek commented on #24663
@thecodingdude don't misunderstand me, i agree with you on pretty much all these points, but this issue in specific was not outlining anything for the node project to do (except for "Merge NPM/Node", which i pointed you to a better place to open that issue).

It seems like what you want is for node to change its relationship with npm. However, that is not what this issue is discussing. This issue

[2018-11-27 02:38] pritam1605 commented on #21737
I am facing the same issue. It is so frustrating. I am not able to run any npm commands from VS code. I can run npm commands such as npm -v from windows cmd, but not able to run commands such as npm run serve from anywhere in the system. I get the following error:

[code]

[2018-11-27 02:48] thecodingdude opened #24664 "Node should stop bundling NPM"
This is a byproduct of #24663 aimed at providing an actionable measure Node can take to increase the security of its users.

NPM is very capable but very powerful, we recently saw a package got compromised and did a number of bad things, [here's](https://github.com/dominictarr/event-stream/issues/116#issuecomment-441746370) a technical breakdown and [here's](https://github.com/dominictarr/event-st

[2018-11-27 03:12] MylesBorins commented on #24664
Imho the most recent security issue is not a problem with the npm client itself but rather the network of trust we have in our ecosystem.

Switching package managers will not solve this issue, and removing package managers all together is completely untenable.

This attack could have happened in other ecosystems as well, perhaps not the exact same way... But it would be possible.

I'd like to see

[2018-11-27 03:17] thecodingdude commented on #24664
@ MylesBorins I'd like you to consider that NPM's entire security model, as it stands, is _literally_ based on random internet strangers. This guy made an issue detailing the problem which could have been deleted, and the issue started because a random guy gave his repo to another random guy.

And people's information is being protected in this way - how this isn't a _serious_ and _most critical_

[2018-11-27 03:46] MylesBorins commented on #24664
### The Node.js project cares about security

We really really really care about people running Node.js in a secure and reliable way. We also want to make sure we have a healthy ecosystem.

#### We have a bounty program

We run a security program bug bounty program. We manage [our own CNA](https://cve.mitre.org/cve/request_id.html#cna_participants). We collaborate with upstream dependencies on rel

[2018-11-27 03:48] apapirovski commented on #24656
You would need to return the result of the callback to be passed down as the promise. The behavior in Node 9 had to do with microtask queue ordering which happened to make your code work — it didn’t make it correct.

[2018-11-27 03:50] MylesBorins commented on #24664
To be very clear. I think this issue should be closed and after this comment I will not be responding.

 @thecodingdude I want to believe that you are coming from a good place in opening these issues, but the way you have chosen to engage does not immediately come across as good faith to me. I'd like to suggest you step back and think of more constructive ways to get involved, I've pointed some of

[2018-11-27 03:54] Summertime commented on #24664
They did remove the package from the index, no? what more is there to do?

[2018-11-27 03:56] thecodingdude commented on #24664
I appreciate your reply, although you don't seem to have focused on NPM itself here. Node takes security seriously, I know that, you guys do _very_ good work, however, the circumstances around this latest blunder are a shameful display at how pathetic NPM's non-existent security is in reality.

After 10 minutes, I came up with [4 ideas](https://github.com/nodejs/node/issues/24663#issuecomment-4418

[2018-11-27 04:02] thonglh commented on #24656
Thank you @apapirovski

I have just noticed the `value` in the documentation and sorry for that.
This actually the simplified version of `fakeTimer`  [here](https://github.com/facebook/jest/blob/b69780d17187e537b099fcefcab61eefeba5f1e6/packages/jest-util/src/FakeTimers.js#L518-L540)
My test is using it and it is broken in node 10.

Where can I find out more about the microtask queue ordering in no

[2018-11-27 06:36] danbev commented on #22319
Nothing I can think of without having a closer look I'm afraid. If I have time I'll try to take a look later this week but it might not be until next week as this is a short week for me (not working Friday).

[2018-11-27 06:36] eecs441staff commented on #24543
@cjihrig creatConnection is useful for opening a custom socket. Can this feature be added for HTTPS? Thanks!

[2018-11-27 06:37] MylesBorins commented on #24586
/cc @nojdes/tsc

[2018-11-27 07:06] Trott commented on #24656
(Closing because, IIUC, this isn't a bug in Node.js, but the conversation about microtask queue etc. can certainly continue to happen in the comments!)

[2018-11-27 07:06] #24656 closed

[2018-11-27 07:13] qintang opened #24667 "JSON.parse not correct when decoding Special json string"
* **Version**:v8.11.3
* **Platform**:windows
* **Subsystem**: windows10

Steps to reproduce:

decoding json string:

[code]

Actual results:

[code]

Expected results:

[code]
please kindly note  `nodes.id`

[2018-11-27 08:16] benjamingr commented on #24663
Hey, I think this discussion should be had with @nodejs/security-wg - they discuss these things regularly.

In particular with the flatmap-stream issue (which is both frustrating and severe) - there is a new initiative called https://github.com/nodejs/package-maintenance

[2018-11-27 10:02] bnoordhuis commented on #24658
Are you getting that exception on the server side or the client side (i.e., when trying to connect to the server you started)?

As to the exception itself, it looks like the connection is already dead (and `this._handle === null`) by the time the onhandshakedone callback is invoked.

Should be easy to fix with an `if (this._handle === null) return;` guard.

Probably hard to do because there are co

[2018-11-27 10:05] bnoordhuis commented on #24664
I agree and I'll be the one to do just that.

[2018-11-27 10:05] #24664 closed

[2018-11-27 10:19] MayaLekova commented on #23776
This bug seems to be fixed in the meantime in V8. Tested with current master from [vee-eight-lkgr](https://github.com/v8/node), which has V8 7.2.0. Bisecting where exactly the fix happened.

[2018-11-27 14:02] MayaLekova commented on #23776
Okay, this took some time, but apparently the commit that fixed the issue is this one:
[[async] Introduce dedicated JSAsyncFunctionObject.](https://github.com/v8/v8/commit/a63987a41aa9d0bc6ba120376ca7511f4196624b)

I guess @bmeurer can provide more info on why exactly it fixed the async hooks issue.

What should we do next? Is this issue urgent for Node.js 8 or 10? Shall we do a cherry-pick or jus

[2018-11-27 14:06] bmeurer commented on #23776
Hm, that was definitely unintentional. Maybe the previous desugaring of async functions had a bug when rest parameters were present?

cc @gsathya

[2018-11-27 14:07] shigeki commented on #23913
Updated: I'm working testing on the new AWS EC2 a1.4xlarge of arm64 servers on Ubuntu16 and 18 for several hours but no issues are found yet.  I'm going to ask for a new server of packetnet to see if the issue is specific to the hardware.

[2018-11-27 14:15] Isabellacam opened #24672 "TESTE ESTE"

[2018-11-27 14:15] #24672 closed

[2018-11-27 14:23] bnoordhuis commented on #24648
Just to pile on: I agree, changing stdlibs midway through a release cycle is basically a no-go.

[2018-11-27 14:32] OlafvdSpek commented on #21897
@ehashman

Why?
And if so, why not make it less hard? See vcpkg, they build C++ libs from source and don't ship binaries.

[2018-11-27 14:34] bnoordhuis commented on #24645
Do you also see this with the latest v8.x release, v8.13.0? I'm unable to reproduce.

Also, why are you sure python generates the correct secret but node doesn't? There's no DH support in python's stdlib, is there?

[2018-11-27 14:35] bnoordhuis commented on #24637
Closing per @seishun's comment.

[2018-11-27 14:35] #24637 closed

[2018-11-27 14:37] bnoordhuis commented on #24633
Should this be moved to nodejs/help? It seems like a question more than anything else. Label added.

[2018-11-27 14:38] cjihrig commented on #24633
Moving...

[2018-11-27 14:55] vielmetti commented on #23913
What precise version of OpenSSL is flaking? I suspect that the problem is upstream, and if there's some variance in arm64 hardware versions I'd like to bring this to more people's attention.

[2018-11-27 14:55] bnb commented on #24663
Going to lock this as there's seeming consensus that this is not the correct repo/location for this discussion.

@thecodingdude we appreciate you opening this issue and the effort you put into framing this effectively. If you'd like to continue this discussion, I would advise following the [advice from Myles](https://github.com/nodejs/node/issues/24664#issuecomment-441892038) in #24664 – we have s

[2018-11-27 14:57] bnb commented on #24664
Going to lock this as there's seeming consensus that this is not the correct repo/location for this discussion and the issue has been closed by the original author.

@thecodingdude we appreciate you opening this issue and the effort you put into framing this effectively. If you'd like to continue this discussion, I would advise following the [advice from Myles](https://github.com/nodejs/node/issue

[2018-11-27 14:57] joyeecheung commented on #20505
Just realize that we have a default `Error.stackTraceLimit = 10`, so unless users set this to a higher value, many of our internal stack frames are probably not going to be visible to them anyway if their code throws in a sufficiently deep call stack.

[2018-11-27 15:01] shigeki commented on #23913
As far as I made testing, this is not the issue of the upstream of OpenSSL. We have exact the same asm binaries between bare openssl and node
 Also I cannot reproduce the issue in the bare OpenSSL in the arm64 packetnet server.
Moreover the issue cannot be occurred  in Node-v10. This is the specific issue on Node-v11 while the OpenSSL sources is no difference.

[2018-11-27 15:18] vielmetti commented on #23913
The cores on the AWS a1.* ("Graviton") are appreciably faster than the individual cores in the Packet c1.large.arm ("ThunderX"). Is it possible that there's a timing issue in here somewhere?

Does the asm code use vector (what used to be called NEON) instructions?

I've pointed some additional people at this issue.

[2018-11-27 15:36] DragonOsman commented on #24448
I tried to run this command to try to build it this way:
[code]
But I keep this message:
[code]
even after I both installed WiX and added it to the PATH, and also installed a Visual Studio 2017 Extension for WiX.  Do I put WiX as the first thing mentioned in the PATH, or is that not a problem?

[2018-11-27 16:16] nicolasnoble commented on #21897
@olafvdspek first, this is a really unfair comparison. Vcpkg is for C++ stuff, tailored around it, whereas native extensions in nodejs are C++ code inserted into a nodejs environment.

People who are installing vcpkg packages are usually C++ developer, with a C++ compiler installed, and might know how to deal with C++ issue. Nodejs users aren't necessarily having a C++ compiler installed even. And

[2018-11-27 16:20] gtkatakura-bysoft opened #24674 "Intl.NumberFormat#format returns white space charCode 160 instead charCode 32"
* **Version**: 10.13.0
* **Platform**: Darwin Gabriel-TK.local 17.5.0 Darwin Kernel Version 17.5.0: Mon Mar  5 22:24:32 PST 2018; root:xnu-4570.51.1~1/RELEASE_X86_64 x86_64
* **Subsystem**:

code:

[code]

output:
[code]

[2018-11-27 16:32] vsemozhetbyt commented on #24674
This is what I get in the Chrome canary and Node.js fwith `full-icu`:
[code]

[2018-11-27 16:34] koka0012 commented on #24674
@enieber  I guees we know this code 🤔

[2018-11-27 16:38] OlafvdSpek commented on #21897
Sure, but building C++ code shouldn't be an unsolvable problem.

vcpkg doesn't do app deployment at all.
Of course the goal is for building to be an 'implementation' detail, the end-developer shouldn't really be affected.

[2018-11-27 17:44] nicolasnoble commented on #21897
And they would by affected, if only by the shifting requirement in their environment. All of a sudden, you'd need a compiler in your production environment to deploy.

[2018-11-27 18:02] cjihrig commented on #24543
@eecs441staff does `createConnection: require('tls').connect` not work for you?

[2018-11-27 18:10] OlafvdSpek commented on #21897
Building could be done in a build / dev environment.. assuming it matches the production environment.

Or it could be done by the package provider, assuming matching environments are available.

[2018-11-27 18:18] bnoordhuis commented on #24593
I haven't been able to reproduce but looking at the test and the output OP posted, I suspect there's something updating the atime between the two stat calls. The tests in test-fs-stat-bigint.js follow this pattern:

1. stat/fstat/lstat either synchronously or asynchronously with `{ bigint: true }`, then
2. repeat the operation but this time without `{ bigint: true }`

There's a time window between

[2018-11-27 18:37] nicolasnoble commented on #21897
And we just went full circle, as this is exactly the topic here initially :-)

[2018-11-27 18:43] sam-github commented on #24658
@petoknm Your example code lacks a client. I added one, see below, and cannot reproduce. Could you provide a complete example?

[code]

Output, as expected the server resets the connection because it can't find a trusted CA for the client.

[code]

[2018-11-27 18:50] OlafvdSpek commented on #21897
@nicolasnoble *Matching* environment. So not one generic Linux build, but a unique one for each platform.

[2018-11-27 18:55] gtkatakura-bysoft commented on #24674
Yeah. Node.js fwith full-icu returns 'R$ 1.001,00' (the point and the comma are correct, in this case).

The problem is in space, which is using charCode 160, instead of 32.

Is that correct? Remember that according to the unicode table:

160 = NO-BREAK SPACE
32 = SPACE

[2018-11-27 18:56] nicolasnoble commented on #21897
Which is what we're currently discussing about, yes. The notion of having node modules tags specific to each nodejs distribution for instance, in addition to the existing ones of platform, cpu architecture, libc version, etc.

[2018-11-27 21:33] DragonOsman commented on #24448
I think I'll just run the `fetch v8 command` and get only V8, that way.  And quit trying to build all of Node.js since it's giving me trouble because of zlib.

[2018-11-27 22:05] yibopi commented on #24543
@cjihrig It worked perfect. Thanks.

[2018-11-27 22:06] eecs441staff commented on #24543
@cjihrig It worked! Thanks.

[2018-11-27 22:49] MylesBorins commented on #24559
I've opened a PR with a test for this... gonna start digging

https://github.com/nodejs/node/pull/24685

[2018-11-27 22:56] MylesBorins commented on #24559
So it would appear that the change that introduced this behavior difference landed in 10.x... as the order is consistent all the way through 9.x.

I believe it is this Semver-Major change to net

[net: emit 'close' after 'end'](https://github.com/nodejs/node/pull/19241)

As such I think that this behavior difference is expected, and unfortunately not something that can be fixed. I'll let someone e

[2018-11-27 22:56] MylesBorins commented on #24559
/cc @lpinca

[2018-11-27 23:11] nornagon opened #24686 "Ability to mark some promises as optionally handled"
**Is your feature request related to a problem? Please describe.**
In Electron, the `WebContents.loadURL` API currently doesn't take a callback or return a promise. I'd like to change this API to return a promise which resolves when the requested page finishes loading, or rejects if the page fails to load. However, due to node's requirement that all promises have rejection handlers, changing the A

[2018-11-27 23:11] mcollina commented on #24559
Emitting error after close is a bug. In a lot of cases, an hard-to-solve one. I’m inclined to consider this just a bug.

[2018-11-27 23:13] devsnek commented on #24686
@nornagon you can either `p.catch(() => {})`  or `process.on('unhandledRejection', () => {})`.

[2018-11-28 00:35] MPagel commented on #24637
It takes quite a bit to clear out the taste of rancid chocolate from my computational pallette.  Chocolatey's hijacking of the UAC system as well as prompt- and timer-free reboots feel very much like using a sledgehammer to drive a staple into a kimwipe.

[2018-11-28 01:08] joaocgreis commented on #24360
Fixed by https://github.com/jberezanski/ChocolateyPackages/pull/56, already released.

[2018-11-28 01:08] #24360 closed

[2018-11-28 01:22] roblourens opened #24687 "Support pausing the debugger on script load"
There is a Node debugging scenario that doesn't work very well in vscode (or chrome devtools), but does in debugging Chrome, and I want to start a discussion about how we can improve this.

Typically when debugging a Node project with sourcemaps, the scripts are transpiled to disk, vscode's launch config points at these files with the "outFiles" parameter, then vscode preloads the sourcemaps so it

[2018-11-28 01:32] ORESoftware opened #24688 "fs.createWriteStream is not failing when folder doesn't exist"
I have this code:

[code]

for some bizarre reason, even if outputDir does not exist, it will not emit an error, and the file won't get created. If outputDir does exist, the file *will get created* but nothing will get written to it.

I can only replicate this in one project, on both node version 10 and 11, on Ubuntu.

[2018-11-28 01:48] ORESoftware commented on #24688
I also checked this:

[code]

the flushed callback never fires either.

[2018-11-28 01:55] ORESoftware commented on #24688
I tried `fs.appendFile`, same exact phenomenon.  If the folder doesn't exist, no error. And if the folder does exist, the file gets created but doesn't get written to know. I tried writing to multiple different destination folders/files, same thing. Weird.

[2018-11-28 02:49] MylesBorins commented on #24559
@mcollina are you suggesting we change the behavior in net in 8.x LTS?

[2018-11-28 02:52] Trott commented on #23738
Bug still exists in 8.14.0.

[2018-11-28 03:15] Trott commented on #23979
Fix landed in 6f64cda. Not sure why this didn't auto-close....

[2018-11-28 03:15] #23979 closed

[2018-11-28 03:39] Trott commented on #24550
Fixed in 086482d

[2018-11-28 03:39] #24550 closed

[2018-11-28 04:05] Trott commented on #23621
https://ci.nodejs.org/job/node-test-binary-windows/21995/COMPILED_BY=vs2017-x86,RUNNER=win2012r2,RUN_SUBSET=1/console on test-azure_msft-win2012r2-x64-2:

[code]

[2018-11-28 04:05] Trott commented on #23621
@nodejs/n-api

[2018-11-28 04:36] Trott commented on #24129
https://ci.nodejs.org/job/node-test-commit-linux/23528/nodes=debian9-64/console

[code]

[2018-11-28 04:45] mike-kaufman commented on #24687
/cc @ofrobots, @eugeneo  - I think you two have context here on the CrDP protocol integration into Node?

[2018-11-28 05:09] mcollina commented on #24559
No, we should fix http2 everywhere.

[2018-11-28 05:11] ak239 commented on #24687
I believe that this method should be called setInstrumentationBreakpoint and should be part of Debugger domain, so it should be implenented in V8 and can be backported to Node 10.

[2018-11-28 05:36] Gribbs commented on #24097
upgrading react-scripts did the trick for my create-react-app without having to downgrade from node 11

[code]

[2018-11-28 06:20] Trott commented on #24209
Fixed in 3ce9305

[2018-11-28 06:20] #24209 closed

[2018-11-28 07:17] betimer opened #24689 "socket.setKeepAlive(true) can send massive [TCP Keep-Alive] messages"
* **Version**: 8.9.1 (But it also happens on 10.14.0)
* **Platform**: Windows Server
* **Subsystem**: 2012 R2

socket.setKeepAlive(true, 3000) works fine, which will create tcp connection every 3 seconds

The issue is socket.setKeepAlive(true), if do not put delay millisecond parameter (which is default 0), it, however sends 290 keep alive message in every second.

Another finding is that, the def

[2018-11-28 07:20] rajeshwarpatlolla opened #24690 "npm i -g @ionic/cli npm ERR! code E401 npm ERR! 401 Unauthorized: @ionic/cli@latest"
* **Version**:
node : v10.14.0
npm : 6.4.1

* **Platform**:
Darwin Rajeshwars-MacBook-Pro.local 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22 20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64

* **Subsystem**:
NA

I updated the node to latest version now, and i tried to install few plugins like angular, ionic, heroku etc. But for most of them it's giving an error.

[code]

I used nv

[2018-11-28 10:12] rvagg commented on #24648
yeah, so we're going to have to farewell 6.x in an un-compileable state for modern macos I suppose

[2018-11-28 10:12] #24648 closed

[2018-11-28 10:32] codegagan commented on #24552
@prog1dev I may not get chance to work on it till next week, so if you want you can take this. Thanks.

[2018-11-28 10:34] gtkatakura-bysoft commented on #24674
Hm, makes sense. However, I think that methods like format should document this use case. I have already seen several cases of people trying to make a comparison between strings have this problem (comparing text), and lost time until they notice that the problem is in charCode.

[2018-11-28 10:48] zauberpony opened #24692 "Make HTTP_MAX_HEADER_SIZE configurable"
**Is your feature request related to a problem? Please describe.**

The recent limitation to HTTP_MAX_HEADER_SIZE (186035243f) to mitigate CVE-2018-12121 is a problem for us.

We use headers internally to communicate the users' session, and sometimes (legitimate) requests from "outside" exceeed the 8 kb limit, too.
Given that JWT-strings easily exceed 1kb, I think the 8kb limit might be too little

[2018-11-28 11:15] #24340 closed

[2018-11-28 11:23] Rotimi-Best commented on #13018
You ran out of memory on your machine. I had this same issue and solved it this way:
1. I checked all the process that were running by using `top` command on linux
2. Killed process that I wasn't running and were taking a lot of memory for me it was chrome by using `pkill chrome`
3. Ran my node process once again and everything went well.

Hope it helps

[2018-11-28 12:09] andyearnshaw commented on #20494
Webpack supports named exports for JSON:

[code]

Presumably, it does this to simplify [tree shaking](https://github.com/webpack/webpack/issues/5578); the unused portions of the JSON can be dropped.  I could see it being useful if Node mimicked this behaviour, mostly for code that is designed to run on both the server and the client.  It would also serve to make porting to natively supported .mjs

[2018-11-28 12:16] petoknm commented on #24658
Well, I cant exactly reproduce it using `https.request()`, but I can with the following code and a curl command:

code:
[code]

request:
[code]

output:
[code]

[2018-11-28 12:29] petoknm commented on #24658
Upgraded to 11.3.0, issue still remains, even after PR #18987

[2018-11-28 12:47] lirantal opened #24693 "Missing API docs for recent changes in HTTP module"
Updates to the HTTP module that landed in recent Node.js releases in an attempt to mitigate several CVEs may cause braking changes on users and teams which make use of large headers due to reasons such as bulk APIs that will employ a large string in the query param.

* **Version**: v6.15.0, v8.14.0, v10.14.0, v11.3.0.
* **Subsystem**: http

It seems that:
1. The current limitation of 8kb (instead

[2018-11-28 12:55] bmsdave commented on #24512
If you do not mind.
I would like to try to take up this task.
I'll try it this weekend. If I have any problems, I'll write.

[2018-11-28 13:10] hashseed commented on #24512
I definitely don't mind any contributions here. Do you have a list of scripts required by Node.js that need to be migrated?

[2018-11-28 13:34] justinfagnani commented on #20494
Code that runs in browsers cannot import JSON, only JS modules.

[2018-11-28 13:35] pengliheng commented on #23312
in this step  , i got an buffer , how to transfrom it into 'utf-8'
[code]

[2018-11-28 13:40] cristian-bicheru commented on #24645
@bnoordhuis I'm not at home at the moment, but I'll check in a different language to see if the computation is correct. When you say you are unable to reproduce this in v8, are you saying that it works as expected or that the code breaks? I was pretty sure Python computed it correctly since I wrote the computation module myself and I trust Python's modular exponentiation function, but to be fair I

[2018-11-28 13:41] cfanoulis commented on #24690
I believe that errors with NPM should go at npm.community . Someone correct me if I am wrong

[2018-11-28 13:52] devsnek commented on #20494
i'm not convinced this should be in core. this seems like a good situation for some sort of `named-exports-from-json` loader.

[2018-11-28 13:56] guybedford commented on #20494
It's worth noting we still don't even have any consensus on the minimal implementation that ".json" imports should be supported (to rather possibly be handled by asset loading techniques).

[2018-11-28 14:06] ZYSzys commented on #24690
Agree with @cfanoulis , it was irrelevant about Node.js.

As I run `npm i -g @ionic/cli`, it shows below:
[code]
So I think the fact should be that `@ionic/cli` package isn't existed.

[2018-11-28 14:18] gireeshpunathil commented on #24120
looks like still failing - https://ci.nodejs.org/job/node-test-binary-arm/4403/RUN_SUBSET=0,label=pi1-docker/console

[2018-11-28 14:34] cclauss commented on #24512
There are now less that 400 day until the end of life of Python 2 (aka _legacy_ Python).  The v8 repo is just 1.4% Python but that is _all legacy_ Python and [at least 76 files need to be modified just to fix the print statement](https://github.com/v8/v8/pull/26) which is merely the _start_ of a Python 3 port. v8 is a venerable codebase and I often hear that it has been a godsend to the JavaScript

[2018-11-28 14:36] Trott commented on #24120
Real solution is probably to fix the problem that this is a `known_issues` test for, since it will pass reliably then, even though it only mostly fails-as-expected right now.

[2018-11-28 14:37] aldafu opened #24696 "Node.js not available from docker hub"
* **Version**: 10.*, 11.*
* **Platform**: Docker
* **Subsystem**: n/a

If you try to get a Node.js docker image running right now, it will fail because it seems none is available from the docker hub.

To reproduce:

`docker run --rm -i -d --name nodejs node:10`

Will error in:

[code]

Same for the tags `10.14`, `10-slim`, `11`.

The following issue seems related: https://github.com/docker-library

[2018-11-28 14:38] broofa commented on #13168
Seeing something like this as well in node v8.11.1 on a MBP that I sleep/wake a couple times a day.

The simplified form of my script is:
[code]

It runs fine for 48-72 hours then... just stops.  The process quietly exits with no console output.  :-/

I'd love to provide an SSCCE, but the nature of this problem makes that a little hard to do.  Any suggestions for ways to better diagnose this issue

[2018-11-28 14:48] rajeshwarpatlolla commented on #24690
It's not about ionic cli, there are many other plugins which are not installing. So the issue is either with node or npm.
I used nvm to install the node LTS version. I was using nvm from the past few years, but this is the first time i am getting such error.

[2018-11-28 14:55] Tauri28 opened #24698 "fs.mkdir recursive creation"
* **v9.10.1**:
* **CYGWIN_NT-10.0 2.10.0(0.325/5/3) 2018-02-02 15:16 x86_64 Cygwin**:

Document states, that recursive property can be thrown into options of fs.mkdir indicating whether parent folders should be created but parent folders are not created. Error is thrown instead:

[code]

[2018-11-28 14:57] cjihrig commented on #24698
The `recursive` option does not exist in Node 9, which is end of life.

[2018-11-28 14:58] Trott commented on #23776
@nodejs/v8-update

[2018-11-28 15:01] #24698 closed

[2018-11-28 15:01] richardlau commented on #24690
https://npm.community/t/can-t-install-scoped-packages-e401-unauthorized/3631

[2018-11-28 15:08] rajeshwarpatlolla commented on #24690
I tried that too, but no use.
When i tried to logout and login, i was getting an error

![screenshot 2018-11-28 at 8 37 40 pm](https://user-images.githubusercontent.com/9896335/49160787-8a1d2f80-f34d-11e8-9e59-396ceb997c8c.png)

[2018-11-28 15:08] vinnyvimto commented on #24696
Might not be suitable for you but you can pull from 8.13

[Similar Issue](https://github.com/nodejs/docker-node/issues/941)

[2018-11-28 15:13] targos commented on #24696
I think you're right and it is about https://github.com/docker-library/official-images/issues/3835. Node.js 10.14.0 was released today on the docker hub.
There is nothing Node.js can do about it, so I'm going to close this issue.

[2018-11-28 15:13] #24696 closed

[2018-11-28 15:15] bmsdave commented on #24512
@hashseed I don't have that list. I was planning on finding it through the codebase. But if you provide it, it will be very cool.

@cclauss thank you very much for your clear recommendations. I will try to do it and provide for consideration.

[2018-11-28 16:11] MylesBorins commented on #24559
to add to what @lpinca said... the issue here is not http2 it is net, which I don't think we can change

[2018-11-28 16:12] ak239 commented on #24512
@bmsdave any changes to inspector_protocol should be upstreamed to inspector_protocol [repo](https://chromium.googlesource.com/deps/inspector_protocol/) first. I can help you with it as soon as your are ready.

[2018-11-28 16:17] mcollina commented on #24559
@MylesBorins I'm proposing we fix http2 to handle this new event ordering correctly. Worst case, we swallow the error. IMHO after `'close'` no error should be emitted. This change _might_ be semver-major, but that's a different decision.

I agree we should not revert the change in net.

[2018-11-28 16:22] lpinca commented on #24559
@mcollina I like you proposal. I'm not sure what it means in practice though, wouldn't it make future backports harder or is the plan to apply the changes on master first?

[2018-11-28 16:22] mcollina commented on #24559
I would apply the changes on master first, and backport as usual.

[2018-11-28 16:32] mcollina commented on #24559
Oh I misunderstood the issue. Then we should probably work on a fix on Node 8 to address the situation. This is probably going to be very hard.

IMHO it's better than we just swallow the error on Node 8. Unfortunately this is going to make the backports harder.

[2018-11-28 16:42] hubiierik commented on #19044
[isolate-0x56385f9c7470-v8.log.gz](https://github.com/nodejs/node/files/2625778/isolate-0x56385f9c7470-v8.log.gz)

Hangs on v8.10.0

[2018-11-28 16:48] zauberpony commented on #24693
@mcollina thanks for the info.

Is there a way to set HTTP_MAX_HEADER_SIZE via the usual `./configure && make` steps? Or does it require prior editing/patching of "deps/http_parser/http_parser.gyp"?

[2018-11-28 17:03] mcollina commented on #24693
@zauberpony I _thought_ so, but after some investigation, it seem we need to add an option to `./configure`. I'll see if I can prepare a PR asap.

[2018-11-28 17:11] TomCoded commented on #24688
I was unable to replicate the behavior where you call fs.createWriteStream() on a filename in a nonexistent directory and do not get any error.

Does the problem persist if you move the failing code segment to a new directory? If you isolate it from the rest of the project it is in? What are you using for outputDir? Does file have the value you are expecting after calling path.resolve()?

In the a

[2018-11-28 17:18] MylesBorins commented on #19044
I just attempted to run the below on v8.14.0 and it worked fine. Am I missing something

[code]

[2018-11-28 17:31] richardlau commented on #24693
I think you could set the `CFLAGS` environment variable, e.g. `CFLAGS=-DHTTP_MAX_HEADER_SIZE=10000` but I don't know what order gyp will put the arguments to the C compiler when combined with the definition in the http_parser gyp file.

[2018-11-28 17:37] zauberpony commented on #24693
OK, for now I simply patched http_parser.gyp, which works (so no need to rush), but of course a flag or env-variable (I did not yet test @richardlau's suggestion) would be cleaner in the long run.

[2018-11-28 17:41] Trott commented on #3020
@devsnek Can you add a link to the bug report?

[2018-11-28 17:41] bnoordhuis commented on #24645
I couldn't reproduce the behavior you described where it someones produces one key, sometimes another. In 100 runs it always printed the exact same key.

[2018-11-28 17:58] hashseed commented on #24687
Seems like we should just expose the after-compile event to the devtools protocol?

[2018-11-28 18:07] ak239 commented on #24687
After compile events are exposed as `Debugger.scriptParsed` and `Debugger.scriptFailedToParse` events. In this use case it is important to not just send event but to pause JavaScript execution as well to give DevTools or VSCode frontends chance to fetch source map and set breakpoints based on this source map.

[2018-11-28 18:12] ak239 commented on #24687
`DOMDebugger.setEventListenerBreakpoint` for pause at first line should actually be moved all together to `Debugger.setInstrumentationBreakpoint`. It will help with [crbug.com/724793](crbug.com/724793) as well.

[2018-11-28 18:15] hashseed commented on #24687
So I guess could expose an option that can be enabled which causes the Debugger.scriptParsed event to behave like a debugger pause that needs manual resume?

[2018-11-28 18:16] hashseed commented on #24687
Do you envision this breakpoint to break at parsing/compiling, or upon execution?

[2018-11-28 18:19] prog1dev commented on #24552
I couldnt find any uses of these methods in `src/...`

[2018-11-28 18:21] Trott commented on #8871
Any chance some of the people who are having issues here would be able to spare some cycles to benchmark/test what's in https://github.com/nodejs/node/issues/21973? (I don't know what else would be a plausible path forward to solving/closing this.)

[2018-11-28 18:32] hashseed commented on #24687
Iirc SetBreakOnNextFunctionCall would pause before we even enter the top-level function. Sgtm.

[2018-11-28 18:44] ak239 commented on #24687
We can actually provide sourceMappingURL and sourceURL inside data param of Debugger.paused to make it easier.

[2018-11-28 18:48] hashseed commented on #24687
Now that I think about this, triggering the pause at the after-compile event is probably more straightforward to implement. Otherwise we would have to schedule a pause and remember until that pause for what reason we paused (and what script URL to pass).

[2018-11-28 18:55] ak239 commented on #24687
We already have infrastructure for this use case - [`V8DebuggerAgentImpl::schedulePauseOnNextStatement`](https://cs.chromium.org/chromium/src/v8/src/inspector/v8-debugger-agent-impl.cc?rcl=03ba418f80376529c79766378219215c895f8b5e&l=946) method. So we need to call this method from [`V8DebuggeragentImpl::didParseSource`](https://cs.chromium.org/chromium/src/v8/src/inspector/v8-debugger-agent-impl.cc

[2018-11-28 19:01] cristian-bicheru commented on #24645
I should clarify, It always produces the same key given the same input, otherwise, that would be really strange. It's just that the computed key is sometimes the same as my Python code, other times it has a 0 in the first digit (the key is still technically correct here since 010=10 for example), but other times it is completely off, which is why I opened this issue. The code always prints the sam

[2018-11-28 19:16] Trott commented on #17592
Fixed in f051737ee4ebb7dfa25abc91f7a4797bd8fe0cb6

[2018-11-28 19:16] #17592 closed

[2018-11-28 19:21] cristian-bicheru commented on #24645
I just tried it in Java, and I got the same secret as Python.

[2018-11-28 19:56] Trott commented on #24693
Fixed in 063e8fb

[2018-11-28 19:56] #24693 closed

[2018-11-28 19:56] drewfish commented on #21669
Unfortunately I'm seeing this again, starting with `v11.2.0` (`v11.1.0` is OK):

[code]
I think it's because of the `fs.rename(nonexistentFile, 'foo', ...)` call:
https://github.com/nodejs/node/blob/v11.x/test/parallel/test-fs-error-messages.js#L302

I suspect that `fs.rename(nonexistentFile, path.join(tmpdir.path, 'foo'), ...)` might work better. I can open a PR if that helps.

[2018-11-28 19:59] moloughl commented on #23838
@joaocgreis
Here is the log file [boxstarter.log](https://github.com/nodejs/node/files/2626361/boxstarter.log)
Here is a screenshot just before a reboot took place.
![screenshot](https://user-images.githubusercontent.com/45435720/49178141-e597ef00-f346-11e8-8500-41d2678bb37c.png)
It rebooted every few minutes for a great many times until I eventually aborted.

[2018-11-28 20:03] richardlau commented on #21669
Please do.

[2018-11-28 20:35] ana990 opened #24705 "Ana81129@gmail.com"
* **Version**:
* **Platform**:
* **Subsystem**:

[2018-11-28 20:36] ana990 commented on #24705
* **Version**:
* **Platform**:
* **Subsystem**:

[2018-11-28 20:38] ana990 commented on #24705
Issue

[2018-11-28 20:40] ana990 commented on #24705
reopened this issue less than a minute ago

[2018-11-28 20:41] ana990 opened #24706 "Ana81129@gmail.com"
* **Version**:
* **Platform**:
* **Subsystem**:

[2018-11-28 20:59] sebdeckers commented on #23312
@pengliheng how is that related to the issue?

[code]

[code]

[2018-11-28 21:07] mcjfunk commented on #24692
Major +1 here. Our large enterprise is not in the position to reduce the possible headers that flow through our infrastructure to 8k. Nor are we going to compile node ourselves each time there is a release.

[2018-11-28 21:08] #24705 closed

[2018-11-28 21:09] #24706 closed

[2018-11-28 21:59] joseph-jja commented on #19044
v8.14.0 generates isolate logs and when I prof process doing the below:

node --prof-process isolatexxxxx.log > logs/prof-1.txt

it spits out a bunch of errors to the console.  What does make it into the file does look like it did some profiling.

[2018-11-28 23:20] joseph-jja commented on #19044
v8.14.0 also generates messages about Code move event for unknown code: with an address which do not end up in the isolate logs, which used to.  Not sure they belong there.  Also for each profile log it spits out this message:

(node:15644) [BROKEN_PROFILE_FILE] Warning: Profile file isolate-0x103000000-v8.log is broken
"tick,0x7fff91dedf49,117042369,1,0x10003965a,3,0x1001f27b0,0x24708cf3be16,0x24

[2018-11-28 23:34] sam-github commented on #18770
https://github.com/sam-github/node/tree/update_openssl1.1.1a now passes locally on linux when compiled against deps (openssl-1.1.1a), and passes locally when compiled and linked against a local openssl-1.1.0j build. I'm hopeful that the few failures from last complete ci involving the 1.1.0 scenario are now solved.

ci: https://ci.nodejs.org/job/node-test-commit/23735/

[2018-11-29 00:11] rvagg commented on #18770
FYI I got 1.1.1a (and other recent versions) into the linux-containered/sharedlibs hosts in CI yesterday, so a green there is a green for 1.1.1a.

[2018-11-29 00:57] ak239 commented on #24687
I uploaded patch for V8: [CL](https://chromium-review.googlesource.com/c/v8/v8/+/1354245). It looks good to me but definitely requires accurate review :smile:

[2018-11-29 02:00] gireeshpunathil commented on #24552
@prog1dev - thanks for looking into this. @ryzokuken - can you provide a guidance here?

[2018-11-29 02:45] ehashman commented on #21897
There are hundreds of Linux distributions out there, but I don't imagine you're suggesting developers should complete a build for each and every one. I want to do better than just providing support for the popular distros. Even within each "platform" (e.g. Debian-like platforms) different releases have wildly different ABI support---the Ubuntu LTS releases look nothing like the Debian stable relea

[2018-11-29 02:56] bengl commented on #23055
It seems like everything has been answered here, so I'm going to go ahead and close this. Please feel free to reopen/comment if you have additional related questions or if you think something has been left unanswered.

[2018-11-29 02:56] #23055 closed

[2018-11-29 02:56] nicolasnoble commented on #21897
@ehashman I'll be a bit brutal here, but over at grpc, the manylinux policy caused us way more troubles than it solved, and I'd hate seeing the same thing happening on nodejs.

[2018-11-29 03:00] ORESoftware commented on #24688
@TomCoded I figured it out, bit of a headache tho. I was calling

[code]

and that was preventing the streams from finishing writing. I wasn't calling in the same tick, but the next tick, still not enough time to finish writing or create files or throw errors I guess.

Say I create an arbitrary number of writable streams. I can let the event loop empty and let node exit on it's own, or I could try

[2018-11-29 03:02] ehashman commented on #21897
@nicolasnoble that sounds like you should file some issues and we should fix them. :) `pip` is now the suggested way to install numpy and other scientific Python dependencies and they have much heavier native dependency needs than grpc does, so I'm surprised to hear this. To be fair, the documentation isn't great.

[2018-11-29 03:02] hyj1991 opened #24710 "Can't build v6.15.0 on macOS Mojave"
* **Version:** [v6.15.0](https://github.com/nodejs/node/tree/v6.15.0)
* **Platform:** macOS Mojave 10.14.1
* **Subsystem:** Xcode 10.1（Build version 10B61）

Error message:

[code]

[2018-11-29 03:02] ORESoftware commented on #24688
My only suggestion - can

[2018-11-29 03:06] richardlau commented on #24710
See https://github.com/nodejs/node/issues/24648. Apple have changed things in Xcode 10.1 which we cannot workaround for Node.js 6 without risking breaking compatibility.

[2018-11-29 03:06] #24710 closed

[2018-11-29 03:07] metabench commented on #15797
@mscdex, @bnoordhuis , @coderaiser , @LinusU You treat(ed) having fairly basic, easy to use functionality that's likely to be needed by many applications within the node.js core as a joke. Node having some more features that securely performs copyDirectory and a few other things that would be obvious along the same lines of thinking would reduce reliance on userland modules and therefore improve s

[2018-11-29 03:17] bengl commented on #21349
Closing since this is fixed now.

[2018-11-29 03:17] #21349 closed

[2018-11-29 03:20] apapirovski commented on #10768
I closed this because realistically no one will fix it after being open for a year and a half and not getting a fix in place. There are less than 6 months of maintenance support for v6.x. If someone actually wants to handle fixing / backporting then that's a good start rather than just going back and forth on opening and reopening this.

[2018-11-29 03:20] #10768 closed

[2018-11-29 03:20] apapirovski commented on #11536
There is almost no time left for supporting v6.x so I'm just going to close this out. If someone wants to re-open this, perhaps consider following up with a way to progress this.

[2018-11-29 03:20] #11536 closed

[2018-11-29 03:32] #24690 closed

[2018-11-29 03:39] apapirovski commented on #24689
@betimer you're setting the delay to 0 so it'll just send it as often as it can — this works as expected. I'm going to close this out as I don't really see anything that we can do to change this. As far as I can see this is even documented.

[2018-11-29 03:39] #24689 closed

[2018-11-29 03:41] apapirovski commented on #24688
That would be rather strange as the user is clearly opting in to quit the process when calling `process.exit(0)`.

If you're concerned about the event loop clearing then just let it exit naturally?

[2018-11-29 03:43] ORESoftware commented on #24688
@apapirovski ultimately the issue is about libraries. If you have a library and some user code is used  - you want to force exit even if the user did some dumb sh*t, but you don't want to force exit the library code.

[2018-11-29 03:47] apapirovski commented on #24688
Correct. That would be the documented way to do it.

In terms of libraries — you'll just have to make sure to setup the appropriate callbacks for your writes so that you track the lifecycle of those. The `end` event can fire before the actual write makes it on the wire unfortunately.

[2018-11-29 03:54] rajeshwarpatlolla commented on #24690
How can it be closed when the issue is not fixed ? I am using the npm registry itself and everything worked fine untill i updated node to latest lts. Please reopen the issue unless its fixed.

[2018-11-29 03:55] apapirovski commented on #24577
Sounds like this can now be closed given that there's nothing from to be done from the Node core side. Do feel free to re-open this though if I misunderstood.

[2018-11-29 03:55] #24577 closed

[2018-11-29 04:00] bengl commented on #23478
Closing this since previous PR and issue have been closed. Feel free to reopen/comment if that seems necessary.

[2018-11-29 04:00] #23478 closed

[2018-11-29 04:00] apapirovski commented on #24470
If `writeHead` is crashing the process then in all likelihood your stream is getting closed in advance of you calling the function. Given that you're using compatibility mode, it's very much possible that some other code is causing an issue that leads to the stream prematurely closing. Note that this was also the case with the issue you linked above.

I'm going to close this out as there's no easi

[2018-11-29 04:00] TomCoded commented on #24688
On the warning, docs on process.on('exit') and process.exit() make it clear that events get discarded, so IMHO it would be throwing a warning over a common and expected code pattern. (i.e. programs calling process.exit() to terminate early regardless of what is in the event loop).

It should almost never be necessary to call process.exit() if the event loop is empty (since node will terminate auto

[2018-11-29 04:11] ORESoftware commented on #24688
@apapirovski well I was saying - the library can setup the callbacks, but let's say the user forgets to fire a callback etc. Anyway, I think is a non-issue so I will close, but thanks for the feedback.

[2018-11-29 04:11] #24688 closed

[2018-11-29 04:18] apapirovski commented on #24580
This is defined as "MUST NOT" in the http spec. While the behavior is undefined, I don't believe that means we should treat 204s with a body as valid and just ignore that body.

I'm going to close this out since this doesn't seem actionable, especially in light of @mscdex pointing out that a `response` event is still emitted.

[2018-11-29 04:18] #24580 closed

[2018-11-29 04:39] apapirovski commented on #16980
Seems to be as designed so I'm going to close this out. Do feel free to reopen if you have some way to move this forward.

[2018-11-29 04:39] #16980 closed

[2018-11-29 04:40] apapirovski commented on #16328
I'm going to close this out given the lack of movement. Do feel free to reopen if you have any way to move this forward.

[2018-11-29 04:40] #16328 closed

[2018-11-29 04:42] apapirovski commented on #16131
I'm going to close this out given the lack of movement in over a year and given that the associated PR had been unattended since February.

[2018-11-29 04:42] #16131 closed

[2018-11-29 04:46] apapirovski commented on #17966
Given the lack of movement here and the related PR landing, I'm going to close this out. If someone feels strongly and would like to move this forward, do feel free to reopen this.

[2018-11-29 04:46] #17966 closed

[2018-11-29 04:56] nicolasnoble commented on #21897
No, the API/ABI you've settled on is way too old and painful to deal with properly, there's quite no fixing it, since running any modern piece of code is near impossible. [This TODO](https://github.com/grpc/grpc/blob/master/include/grpc/impl/codegen/port_platform.h#L101) is basically the reason our Python support is fairly bad. It's costing us more maintenance time than anything due to the special

[2018-11-29 04:59] apapirovski commented on #19838
I'm going to close this out given that it seems this might've gotten fixed again in another PR, and even if not there's not much progress here.

[2018-11-29 04:59] #19838 closed

[2018-11-29 05:01] MylesBorins commented on #19044
I'm going to reopen this issue until we have a fix for 8.x

[2018-11-29 05:04] gireeshpunathil commented on #19838
FWIW, https://github.com/nodejs/node/pull/24260 is the rework.

[2018-11-29 05:04] apapirovski commented on #19873
It doesn't seem there's much progress here or anything really to be done. If anything happens it should be directed to the website-redesign repo.

[2018-11-29 05:04] #19873 closed

[2018-11-29 05:06] apapirovski commented on #19444
Given the lack of a movement here for over 6 months, I'm going to close this out — especially since this is an issue with V8. Do feel free to reopen if you feel strongly about this but at this point it might need some actionable input to push this forward.

[2018-11-29 05:06] #19444 closed

[2018-11-29 05:07] apapirovski commented on #19250
I usually don't like closing `confirmed-bug` issues but I really don't know what we can do here and it doesn't seem like anyone else does either.

[2018-11-29 05:07] #19250 closed

[2018-11-29 05:25] #23034 closed, assigned to nobody

[2018-11-29 05:30] apapirovski commented on #13572
New discussion is in https://github.com/nodejs/node/issues/23433 so I'm going to close this out.

[2018-11-29 05:30] #13572 closed

[2018-11-29 05:33] apapirovski commented on #13427
As far as I can tell this is resolved in the latest version of v8.x. Closing.

[2018-11-29 05:33] #13427 closed

[2018-11-29 05:34] Trott commented on #23688
What's the status of this?

[2018-11-29 05:37] apapirovski commented on #15400
I'm going to close this out given the lack of a follow up and the uncertainty about how to actually address what is mentioned in the post by Andreas above.

[2018-11-29 05:37] #15400 closed

[2018-11-29 05:37] Trott commented on #22994
re-ping @nodejs/dgram Thoughts?

[2018-11-29 05:39] Trott commented on #22398
I don't think this feature is likely to be added to core for the reasons @mscdeex suggests above. (Any Collaborator who feels differently should feel free to comment or re-open.) However, there would seem to be sensible workarounds. Feel free to ask over in https://github.com/nodejs/help if you need assistance with that. Thanks for opening the issue requesting this feature!

[2018-11-29 05:39] #22398 closed

[2018-11-29 05:41] Trott commented on #22389
Is this being actively worked on? I assume it should not be closed, should it? Should we add a `help wanted` label?

[2018-11-29 05:43] Trott commented on #21986
@jkrems Is this a reasonable feature request for `node-inspect` in your view? Should I transfer this issue to the `node-inspect` repo?

[2018-11-29 05:52] apapirovski commented on #24334
I'm going to close this out since the question was answered.

[2018-11-29 05:52] #24334 closed

[2018-11-29 05:52] bengl commented on #8033
Realistically, I don't see this happening as Node.js can't really support every monkey-patching. That being said, it could happen in this case. Nevertheless conversation has stalled, so I'm marking it as such, closing the issue, and adding to the feature-request backlog.

If that doesn't seem appropriate, feel free to comment or reopen.

[2018-11-29 05:52] #8033 closed

[2018-11-29 05:56] apapirovski commented on #22496
As far as I can tell this has been addressed?

[2018-11-29 05:56] #22496 closed

[2018-11-29 06:06] betimer commented on #24689
Hi @apapirovski
I can see 2 different behaviour on Window Server 2012 and my personal Win 10.

On Window Server 2012, it sends averagely 290 keep alive messages (I can check from wireshark)

But on my personal PC, I cannot see it sending the keep alive message.

So I believe there is localize logic to execute in node based on different local OS environment

[2018-11-29 06:13] apapirovski commented on #23331
Not much to be done here on Node side without significant overhead. I'm going to close this out. (Also as far as I know this isn't incorrect.)

[2018-11-29 06:13] #23331 closed

[2018-11-29 06:16] apapirovski commented on #22853
Addressed in a PR.

[2018-11-29 06:16] #22853 closed

[2018-11-29 06:17] apapirovski commented on #22863
As per Anna's comment above, I'm going to close this out.

[2018-11-29 06:17] #22863 closed

[2018-11-29 06:20] apapirovski commented on #22547
This has been addressed.

[2018-11-29 06:20] #22547 closed

[2018-11-29 06:30] apapirovski commented on #20744
Given the lack of a follow up or interest from others, I'm going to close this out. Do feel free to reopen but I would suggest taking steps towards making this actionable in that case.

[2018-11-29 06:30] #20744 closed

[2018-11-29 06:34] apapirovski commented on #23152
Given the lack of a follow up here from the OP or anyone else, I'm going to close this out. Please feel free to reopen if this is still an issue but in that case: more info to help us reproduce and track down the bug is always appreciated.

[2018-11-29 06:34] #23152 closed

[2018-11-29 06:35] apapirovski commented on #22922
Given the answers above, I'm going to close this out.

[2018-11-29 06:35] #22922 closed

[2018-11-29 06:36] apapirovski commented on #23008
I'm going to close this out given that this is more of a question and saw no follow up. Please do feel free to reopen if you have more info.

[2018-11-29 06:36] #23008 closed

[2018-11-29 06:38] apapirovski commented on #23063
I'm going to close this out given that this is really not actionable. If you have improvements then opening PRs is the best way to make something happen. Or at least coming up with a list of tasks or actions that others can work on.

[2018-11-29 06:38] #23063 closed

[2018-11-29 06:39] apapirovski commented on #20604
Given the lack of movement here, I'm going to close this out but definitely feel free to reopen if you feel strongly about this. That said, a PR might be the best course of action at this point?

[2018-11-29 06:40] apapirovski commented on #22213
There are other tracking issues for unhandled rejections so I think this can be closed. Do feel free to reopen if you feel I've made a mistake.

[2018-11-29 06:40] #22213 closed

[2018-11-29 06:41] apapirovski commented on #23907
The related PR has been merged so I believe this can now be closed.

[2018-11-29 06:41] #23907 closed

[2018-11-29 06:43] apapirovski commented on #23824
This doesn't seem like a bug. I'm going to close this out.

[2018-11-29 06:43] #23824 closed

[2018-11-29 06:44] apapirovski commented on #19399
Given the lack of a follow up for over 8 months, I think this can now be closed. Do feel free to reopen if you have any additional info to progress this further though.

[2018-11-29 06:44] #19399 closed

[2018-11-29 06:45] apapirovski commented on #21631
The PR for this has landed so I believe we can close this.

[2018-11-29 06:45] #21631 closed

[2018-11-29 06:49] apapirovski commented on #22317
Sounds like we should close and reopen if we see it again.

[2018-11-29 06:49] #22317 closed

[2018-11-29 06:50] apapirovski commented on #22785
Given the lack of a follow up and the `ghost` status of the OP, I'm going to close this out. If someone knows what the issue is, please do feel free to reopen and please help point us in the right direction.

[2018-11-29 06:51] apapirovski commented on #23792
Yes, this is as expected. I'm going to close this out since there's no way we'll fix.

[2018-11-29 06:51] #23792 closed

[2018-11-29 06:53] apapirovski commented on #19897
While I think it would be nice to document this (if that's even the right thing to do), I'm also not optimistic about that happening given the amount of time this issue has been open. I'm going to close this out but if someone feels strongly, feel free to reopen and we can revisit.

[2018-11-29 06:53] #19897 closed

[2018-11-29 06:55] jdalton commented on #20604
The docs for `isExternal` could still be improved. It's [still missing a usage example](https://nodejs.org/dist/latest-v11.x/docs/api/util.html#util_util_types_isexternal_value).

[2018-11-29 06:57] apapirovski commented on #24105
As expected given this is not a valid signature for that function.

[2018-11-29 07:06] apapirovski commented on #22979
Given the feedback above, there's no way the original request will happen or make sense. I also really don't see the point of a custom `util.inspect` here.

[2018-11-29 07:06] #22979 closed

[2018-11-29 07:09] Trott commented on #24690
This issue is not the correct venue for this issue. This is an npm issue and you should seek help at https://npm.community.

[2018-11-29 08:32] benjamingr commented on #15797
@metabench I'm very sorry that you feel like your request was mocked. Thanks for raising an improvement suggestion to Node.js core.

The joke was not about your request - it was about anticipation that such a request would be made given copyFile was added and given we don't really explain the decision process very well.

As Ben explained - the reason copyFile was added was because there are platfo

[2018-11-29 10:18] bnoordhuis commented on #24645
That sounds superficially plausible, but that would indicate a bug in OpenSSL. OpenSSL gets a lot of scrutiny these days, you'd think a bug like that would get caught quickly.

It's possible Node.js does something wrong when converting the key from bignum to binary representation but I don't see anything  glaringly wrong, not at a quick glance anyway.

I opened #24719 to harden the bignum-to-binar

[2018-11-29 10:20] bnoordhuis commented on #24593
[Failure on smartos:](https://ci.nodejs.org/job/node-test-commit-smartos/nodes=smartos16-64/22116/console)
[code]

[2018-11-29 11:31] StephenLynx commented on #24470
How could one close it? I can look around my code, I use the request and response exclusively as I have used them for http1 for years.

[2018-11-29 11:31] brokencube commented on #24105
Well there is still an issue here... either:
1. That change that was backed out needs to be merged in, OR
2. The documentation for 8.x needs to be updated to have the correct (unchanged) function signature.

[2018-11-29 11:32] StephenLynx commented on #24470
So while I am not discarding the possibility to be with my code, I am not so sure it isn't with node. I remember finding some similar intermittent crash around version 5 that I also couldn't consistently reproduced but ended up being a DoS on node itself.

[2018-11-29 11:38] mcollina commented on #24470
I think this is a bug in our compat API.

As you can see in https://github.com/nodejs/node/blob/9920dbcaf389901786aeb31d2feb886dfd3f073b/lib/_http_outgoing.js#L240-L247, http1 `writeHead` does not throw if the stream is destroyed, it just returns false.

I think this is a proper bug.

[2018-11-29 11:40] mcollina commented on #24470
@StephenLynx can you please upload a script to reproduce the crash?

[2018-11-29 11:45] StephenLynx commented on #24470
I tried, but it wouldn't crash with a simple wait to hold concurrent requests and another script hammering it.
The crashes seem to happen a bit at random with my software running. It works, then suddenly crash. It also seemed to be related with time. It would hardly crash right away, but once a worker crashed, it seems all the others became much more prone to crashing too.

[2018-11-29 11:47] mcollina commented on #24470
Can you please include a full stacktrace?

[2018-11-29 12:03] joyeecheung commented on #24456
I am also seeing this on macOS

[2018-11-29 12:16] StephenLynx commented on #24470
I'll try, but I remember it being most of the time here https://gitgud.io/LynxChan/LynxChan/blob/master/src/be/form/captcha.js#L11

[2018-11-29 12:17] StephenLynx commented on #24470
GOT IT
@mcollina
https://pastebin.com/vCbVS1LT

[2018-11-29 12:30] StephenLynx commented on #24470
Also, notice how the error it threw originated from trying to output a response on the cache handler. But that one is inside a try catch, so it didn't crash there.

[2018-11-29 12:40] joyeecheung commented on #24593
Considering some of the tests there are synchronous and some of them are asynchronous, and it fails with `python2 tools/test.py --repeat=100 -J parallel/test-fs-stat-bigint`, and that the stat calls share one global AliasedBuffer to transport data from C++, it may help to either split this test, or use different AliasedBuffers in the implementation (it's not yet clear to me wether sharing the buff

[2018-11-29 12:47] Msrgit opened #24721 "npm run development aborts"
* v11.3.0
* Linux e48.ehosts.com 3.10.0-693.11.6.1.ELK.el6.x86_64 #1 SMP Tue Jan 23 10:30:30 MST 2018 x86_64 x86_64 x86_64 GNU/Linux
* node_platform.cc

Developing Laravel app.
package.json:
{
  "private": true,
  "scripts": {
    "dev": "npm run development",
    "development": "cross-env NODE_ENV=development node_modules/webpack/bin/webpack.js --progress --hide-modules --config=node_modules/lara

[2018-11-29 13:05] safareli opened #24722 "behaviour of Buffer.from(string[, encoding]) is not specified for invalid input"
for example
[code]

In general Buffer.from returns trash if input string is is not valid, and it could be a source if error/bugs.  in node v7 this it was throwing `TypeError: Invalid hex string` but now it isn't.

* **Version**:
v8.12.0
* **Platform**:
Darwin Iraklis-MacBook-Pro-2.local 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22 20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64

[2018-11-29 13:05] andyearnshaw commented on #20494
I was referring to code compiled by webpack for browsers (which I expect will still be a thing for a long time to come), but there's also https://github.com/w3c/webcomponents/issues/770 for native support.

[2018-11-29 13:10] 8wWDCfjjbq commented on #22785
Hello, Anatoli Papirovski. The issue is still present. Everything I can say is what I've already said in comment 2:

Or if I can help in any other way, please don't hesistate to let me know. Thanks.

[2018-11-29 13:42] StephenLynx commented on #24470
So, the issue here is that is expected for the browser to sometimes interrupt the connection before the response and is up to what handles the connection to deal with it?

[2018-11-29 13:45] mcollina commented on #24470
The issue is just a mismatch between `writeHead` in http1 and http2. See  #24723

[2018-11-29 14:17] StephenLynx commented on #24470
Btw, did you check if the write and end also don't crash?

[2018-11-29 14:19] mcollina commented on #24470
@StephenLynx please check the test in my PR.

[2018-11-29 14:21] StephenLynx commented on #24470
Ah yeah, you do a write head, write and end on the test.
The name of the pr made me think if you weren't looking just at writeHead.

[2018-11-29 15:00] Flarna commented on #24559
I did some debugging and I think #19836 is the change which fixed this in Node >= 10.

[2018-11-29 15:15] bodinsamuel opened #24725 "Tabulation in headers returns invalid char"
* **Version**: v8.13.0
* **Platform**: 17.7.0 Darwin Kernel Version 17.7.0: Wed Oct 10 23:06:14 PDT 2018; root:xnu-4570.71.13~1/RELEASE_X86_64 x86_64
* **Subsystem**:

---
Hello,

I hope I'm in the right place to do this.
I've come across something I would call a "bug" but maybe it's an RFC issue or something like that.
When I request an url that returns an header with a tabulation in the value, i

[2018-11-29 15:32] MylesBorins commented on #24559
#19836 is built on top of https://github.com/nodejs/node/pull/18438 which landed on v10.0.0

As the behavior for the test we wrote passes on 10.x I'm not 100% sure that #19836 is the PR that fixed it... but we can dig in a bit and see if we can get something working

[2018-11-29 15:36] apapirovski commented on #24105
@brokencube Thanks for an update. That's helpful in moving this forward. I'm going to reopen and assign the appropriate labels.

[2018-11-29 15:49] jkrems commented on #21986
@Trott Thanks for the ping!

There's some details in here (e.g. should this also imply auto-continue-on-restart). But in general this seems like a useful feature - I can recall wanting it in the past. Let me try to figure out how to transfer issues.

[2018-11-29 15:50] jkrems commented on #21986
Hah, didn't properly read the "must be an admin". @Trott 👍 for transferring this to `node-inspect`.

[2018-11-29 15:55] mscdex commented on #24725
`console.log()` is internally calling `util.inspect()` on its argument and the result is that strings are shown in their javascript literal form. So `'\t'` represents and is equivalent to `'	'`, just like `'\n'` represents a newline character and `'\r'` represents a carriage return character.

[2018-11-29 15:55] #24725 closed

[2018-11-29 16:12] Ethan-Arrowood opened #24726 "Functions within worker thread lose global variable access"
* **Version**: v11.2.0
* **Platform**: arwin Ethans-MacBook-Pro.local 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22 20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64
* **Subsystem**: `worker-threads`

The buffer I'm passing to my worker threads is losing its standard method `.write` when called within a function. I believe the scoping is causing the issue but I cannot get my VSCode

[2018-11-29 16:37] Flarna commented on #24559
Yes, it seems it's a combination of these. Also #19451 seems to be involved.
I got following call chain:

`respondWithFile` => `fs.open()` ==>
`afterOpen()` => `this.destroy(err)` => `this._destroy()`

NodeJS 8:
`ServerHttp2Stream._destroy()` calls `process.nextTick(emit, this, 'close', code)` => close comes first
Callback passed to `_destroy()` does a `process.nextTick(emitErrorNT, this, err)`

N

[2018-11-29 17:05] ArtemFrantsiian opened #24728 "Client certificate authentication"
**Is your feature request related to a problem? Please describe.**
The problem is when I create https server and want to request client certificate (requestCert) only on one route (/secure), then only what I can that is create two servers with different ports. And one of them with "requestCert: true" option, another "requestCert: false".

**Describe the solution you'd like**
That will be one serve

[2018-11-29 17:11] #24726 closed

[2018-11-29 17:31] StephenLynx commented on #24466
A suggestion: deprecate the nested array format starting off node 11after implementing parity. You can already achieve the same functionality trough the documented means, which is what I did.

[2018-11-29 17:38] stevenvachon commented on #616
@felixfbecker the WHATWG `URL` standard also removes default ports and this is the new parsing algorithm used in Node.js v11. The `relateurl` library has a "careful" profile for your use case.

[2018-11-29 18:43] Trott commented on #24448
@nodejs/platform-windows ☝️

[2018-11-29 18:47] alexvy86 commented on #22940
@addaleax if I understand correctly, this should let us debug the worker processes spawned with `require('worker_threads).Worker`, correct? If that's the case, is there anything special we need to do for this to work? Some ENV variable, a particular way of spawning the worker...? So far I haven't been able to debug the worker processes I start :/. I'm debugging my app running in a docker container

[2018-11-29 18:58] MylesBorins commented on #24559
https://github.com/nodejs/node/pull/19451 has already landed on 8.x in e4c10e1201 fwiw

[2018-11-29 19:19] Trott commented on #24647
Fixed in 83d6cb9

[2018-11-29 19:19] #24647 closed

[2018-11-29 19:34] Flarna commented on #24559
But not the complete change - the line `process.nextTick(emit, this, 'close', code)` in `_destroy()` is still there. Most likely because #19836 and/or #18438 have not been backported.

[2018-11-29 19:49] mpaw commented on #24692
We are running into the same issue. The drop from 80kb to 8kb is forcing us to stick with the previous version of node until this is resolved.

This needs to be configurable either through a command line option, environment variable, or in code. A compile time flag is not a good solution for us (or probably 99% of other devs) either.

[2018-11-29 20:03] indutny opened #24730 "Make llhttp default HTTP parser"
**Is your feature request related to a problem? Please describe.**

Latest node.js can be compiled with `--experimental-http-parser` flag. Eventually, we'd want to swap things around and make it enable `llhttp` parser by default and hide `http_parser` under `--legacy-http-parser` flag.

**Describe the solution you'd like**

Hide `http_parser` under the flag when we're ready.

**Describe alternativ

[2018-11-29 20:05] indutny commented on #24730
cc @nodejs/http

[2018-11-29 20:32] ValentinH opened #24731 "Max header size of 8KB is a breaking change"
We have just noticed an issue in production due to the latest Security release, especially this commit: https://github.com/nodejs/node/commit/a8532d4d23

On our website, we have pretty big cookies in some scenarios (it might not be good indeed) and we have been facing many 400 http errors since yesterday.

After investigation, we noticed that the 8KB maximum size was the issue. In my opinion, this

[2018-11-29 20:36] bnoordhuis commented on #24731
Duplicate of #24692, please see that issue. See also #24693.

[2018-11-29 20:36] #24731 closed

[2018-11-29 20:40] ValentinH commented on #24731
Sorry for this and thanks for the quick answer :)

[2018-11-29 20:55] #24466 closed

[2018-11-29 21:03] bnoordhuis commented on #24722
See #3770 for rationale. Summary: the validation for 'hex' was only partial and inconsistently applied at that, so it was removed.

For example, `Buffer.from('xx', 'hex')` doesn't throw an exception in v7.x, it returns an empty buffer.

[2018-11-29 21:12] bnoordhuis commented on #24722
Forgot to mention, changing the current behavior might have backwards compatibility implications.

Node.js has always<sup>*</sup> accepted `Buffer.from('abcdefGH', 'hex')` and produced a meaningful result (a three byte buffer containing `AB CD EF`) so it's quite possible programs or libraries exist that depend on that behavior.

<sup>*</sup> I'm fairly sure it goes back all the way to Node.js v0.1

[2018-11-29 21:34] indutny commented on #24585
Looking into this

[2018-11-29 21:35] Trott commented on #23221
Stress test to see if this is still an issue, same parameters as above:

https://ci.nodejs.org/job/node-stress-single-test/2117/

[2018-11-29 21:39] Trott commented on #22577
Closing due to inability to replicate, but please re-open if there's more information or someone manages to replicate this issue.

[2018-11-29 21:39] #22577 closed

[2018-11-29 21:45] cjihrig commented on #24692
Sorry if I missed the conversation somewhere, but do we have the option of updating `http_parser` (or floating a patch on it) to make the max header size configurable at the parser level?

I did a little experimenting (definitely not PR ready at this point) at https://github.com/cjihrig/node-1/commit/e55765dc9f32407dc70d365a9de21341c6ac6adb, and was able to adjust the max header size. It breaks AB

[2018-11-29 21:47] arei opened #24732 "Worker should indicate it inherits from EventEmitter"
* **Version**: 10.*.*
* **Platform**: Documentation
* **Subsystem**: worker_threads

The documentation for Worker class should indicate that it inherits from EventEmitter.  It's apparent that it does so reading the documentation, but it does not specifically say so. Other classes like ChildProcess do indicate this.

[2018-11-29 21:48] Trott commented on #22107
Is there anything concretely actionable here at this time? If so, what exactly? If not, should this issue be transferred to the Security WG repo? Should it be closed?

[2018-11-29 21:53] Trott commented on #21570
Presumably fixed in 1287e52 which first appeared in Node.js 11.0.0. Please comment (or re-open if GitHub lets you) if you are experiencing this bug with a version of Node.js that is 11.x or newer.

[2018-11-29 21:53] #21570 closed

[2018-11-29 21:54] Trott commented on #21563
Anything to update here? @joyeecheung  It's been quiet for a while but I don't know if that means nothing relevant is happening or if it means it just isn't being updated. :-D

[2018-11-29 21:58] Trott commented on #21005
This has been stalled since late May, so I'm going to close it. Feel absolutely free to re-open it or comment.  I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-11-29 21:58] #21005 closed

[2018-11-29 22:00] Trott commented on #20977
@devsnek Are you still working on this? If not, should we mark it as `stalled` and/or `help wanted`?

[2018-11-29 22:02] indutny commented on #24585
Here's a preliminary fix:

[code]

[2018-11-29 22:03] indutny commented on #24585
Note that for the test snippet above, the `clientError` handler has to be added anyway, just as @lpinca  mentioned.

[2018-11-29 22:05] dougwilson commented on #24585
Yes, there are two issues. The one I actually reported and still need answered. And the one he found in addition that your patch addresses.

[2018-11-29 22:05] dougwilson commented on #24585
Still need help on the original issue posted above.

[2018-11-29 22:16] indutny commented on #24585
There are a few failing tests that I'll have to look into before submitting the final patch.

[2018-11-29 22:18] joyeecheung commented on #24730
Is it possible to make it a runtime switch first? My impression is that it should be possible with some small C++ refactoring in the Parser class and make the decision when we get it from the binding based on the CLI option which should be available at that point

[2018-11-29 22:35] joyeecheung commented on #21563
@Trott The changes I've been making to `node_native_module.h`/`node_native_module.cc` are all kind of related to this issue..just forgot to add a `Refs` for them

[2018-11-29 22:53] cclauss commented on #23659
* python2 -m flake8 ./tools --count --select=E901,E999,F821,F822,F823 --show-source --statistics
    * 5 syntax errors and 2 undefined names
* python3 -m flake8 ./tools --count --select=E901,E999,F821,F822,F823 --show-source --statistics
    * 31 syntax errors and 24 undefined names

[2018-11-29 23:02] srl295 commented on #24334
See
https://unicode.org/cldr/trac/ticket/10750 and the icu bug link from there.

[2018-11-29 23:04] foo4u commented on #24692
It's also a major issue that this went out as a patch level fix to LTS editions. This is a breaking change.

Ideally [this 8K hard limit commit](https://github.com/nodejs/node/commit/92231a56d9) should be reverted and new LTS releases cut.

[2018-11-29 23:54] rvagg commented on #24730
related: I'm working on a sharedlibs builder in CI that'll test llhttp builds on all 11+ CI runs, so we'll soon be essentially mandating stability and quality for llhttp in parallel. Only covers one platform of course.

[2018-11-29 23:56] ofrobots commented on #23185
I can reproduce the abort with the provided test. Taking a look....

[2018-11-29 23:57] ofrobots commented on #23185
[code]

[2018-11-30 00:02] marcdubois71450 opened #24735 "internal/modules/cjs/loader.js:582 throw err"
I have a problem.
CPU ARMv7
node version : v10.14.1
npm version : 6.4.1
OS : Raspian

My GitHub with problem : https://github.com/marcdubois71450/marcdubois

[code]
My package.json :

[code]

[2018-11-30 01:10] ZYSzys commented on #24735
It cannot reproduce on my macOS:
![screen shot 2018-11-30 at 9 03 29 am](https://user-images.githubusercontent.com/23313266/49261897-f6e41700-f47e-11e8-8ab6-c92d1d074003.png)

Can you try to remove node_modules clearly and clean the cache, then try again ?

[2018-11-30 01:16] rvagg commented on #18770
I don't think either of those two things are blockers. My two concerns are:

* confirm ABI stability (iirc we had a job in CI that helped with this?)
* is there anything in the path to TLS 1.3 that needs to be considered now before landing, i.e. is the path to TLS 1.3 in Node 10 and/or 11 going to involve semver-major changes based on this work?

[2018-11-30 01:30] sam-github commented on #18770
- ABI stability: I don't know
- TLSv1.3 being semver-major: I doubt there is any way to know until after its been done. Given how things moved around in OpenSSL, its entirely possible handshake interactions will be subtly but noticeably different when using TLSv1.3. But then, I guess it only has to be backwards compat when using TLSv1.2 and below, when using a new TLS protocol, we'd expect the API

[2018-11-30 01:33] ofrobots commented on #23185
We crash because we are trying to access the main thread isolate on the tracing agent thread. The main thread also happens to be active and has the isolate lock. @eugeneo would you have time to look at this?

[2018-11-30 01:57] tchakabam commented on #23063
Sure, I understand this isn't a real "task" or one feature or a bug :)

So, let's say I would like to propose a new way to render the documentation, what would be a good starting point?

[2018-11-30 02:44] apapirovski commented on #23063
@tchakabam probably getting involved with the documentation team and also making PRs that improve documentation. Maybe also making a strong case and proposal for what that new way is.

[2018-11-30 03:13] nanomosfet commented on #19057
Still happening here. Any work arounds?

[2018-11-30 05:14] geofft commented on #21897
@nicolasnoble does [manylinux2010](https://www.python.org/dev/peps/pep-0571/) address your issues? @ehashman just [announced support for it in auditwheel](https://mail.python.org/pipermail/wheel-builders/2018-November/000359.html) earlier this month; see also pypa/manylinux#179 for a larger ecosystem-wide tracking issue. Have you tried building manylinux2010 wheels of grpc, and do they address any

[2018-11-30 06:01] eli-schwartz commented on #21897
Or having a distribution-provided cryptography that uses the latest system openssl. :p

But I've mentioned earlier in this issue that the specific case of openssl could be solved by exporting openssl as part of a stdlib, so that js code doesn't need to concern itself with compiling against the implementation details of openssl. This is exactly what python does. Except that both python and nodejs i

[2018-11-30 06:30] indutny commented on #24585
Should be fixed in https://github.com/nodejs/node/pull/24738

@dougwilson would you mind if I'd use your test?

[2018-11-30 07:43] rvagg commented on #22308
I've re-enabled alpine 3.8 because it's fallen off the radar and we're letting our large alpine user base down by not addressing this.

This needs to get marked as flaky (not actually flaky, actual failure) or fixed. Some help would be appreciated.

[2018-11-30 07:43] addaleax commented on #22940
@alexvy86 I’m not sure, but is `node --experimental-worker` (or `env NODE_OPTIONS=--experimental-worker`) what you are looking for?

[2018-11-30 07:55] rvagg commented on #22308
For those looking to help, a Dockerfile that will get you the equivilant of what we use in CI is:
[code]

(assuming your UID and GID are both 1000, otherwise change them to match)

Then, from in your node repo clone, you can run:

[code]

And you should have a working environment where you can compile and test.

[2018-11-30 08:13] njsmith commented on #21897
When we were creating the manylinux ABI, we talked to the developers of the Canopy and Anaconda distributions, who had a lot of hard-earned experience shipping "works anywhere" pre-compiled Linux packages to lots of users. What they told us is that they wished they could depend on the system openssl, but in practice they found openssl's ABI just wasn't consistent enough, with e.g. a history of ABI

[2018-11-30 09:19] rvagg commented on #22308
FYI this runs on top of Ubuntu 16.04 in our infra. These containers are _fresh_ as I've just reprovisioned all of our Docker infra over the last couple of days, so this isn't about the process table filling up.

I can't reproduce locally on 18.04 using the same container config. One other difference is that we run from within Jenkins, so there's an additional layer to the process tree, although I'

[2018-11-30 09:53] ronag opened #24742 "http/2 compat will emit finish before end() for HEAD requests"
i.e. this breaks for HEAD requests:

[code]

[2018-11-30 09:54] ronag commented on #24742
Related to https://github.com/nodejs/node/pull/24347

[2018-11-30 09:55] ronag opened #24743 "http/2 compat HEAD always finished"
i.e. this breaks for HEAD requests:

[code]

[2018-11-30 10:59] marcdubois71450 commented on #24735
Yes, the problem is only on the platform I mentioned. It's a raspberry pi 3b.
I do not have a problem either running it on my mac.

[2018-11-30 11:03] AkshayIyer12 commented on #8353
I faced this issue in prod. Was it fixed in the latest node release?
`
// index.js
const express = require('express')
const multer = require('multer')
var sticky = require('socketio-sticky-session')
const app = express()
const PORT = 9001
const os = require('os')
let storage = multer.diskStorage({
    destination: function (req, file, cb) {
	cb(null, 'uploads/')
    },
    filename: function (req,

[2018-11-30 12:13] rvagg commented on #22308
OK, can repro locally, it's because of the process hierarchy inside the container. You need to remove `bash` from the hierarchy, which is present whenever you try to reproduce these things manually. Grab the Dockerfile above (edited just now to add a `RUN mkdir /home/iojs/tmp`), put it in /tmp/alpine38/ and run `docker build -t node-alpine:3.8 /tmp/alpine38/`. Then inside a clone of this repo do:

[2018-11-30 12:14] rvagg commented on #22308
Running the tests directly works too btw, you just need to kill it manually:

[code]

[2018-11-30 14:17] dougwilson commented on #24585
Does that fix the original issue I posted, or the second issue that was injected into this issue report? I'm only interested in the issue I reported here, and the second issue should have a different thread to discuss.

[2018-11-30 14:35] lpinca commented on #24585
Behaviour changed on purpose in https://github.com/nodejs/node/commit/f2f391e575fc8072d10e1ad1601ef3f67f13a4db, as you can see the socket is no longer destroyed on parse error. There is not much I can do about it. Workaround is indeed the wrong term, as I see it there is no issue, behaviour just changed.

[2018-11-30 14:38] dougwilson commented on #24585
Ok, so not interested in fixing it. I don't know why I bother to report issue to Node.js core. @indutny you do not have permission to use my code in your test case if this is the response I get.

[2018-11-30 14:39] dougwilson commented on #24586
I'm closing this because it seems Node.js core is not interested in getting Express.js to correctly function on current Node.js version like 10+. Just abandon Node.js at this point.

[2018-11-30 14:44] lpinca commented on #24585
We could use replace this line

https://github.com/nodejs/node/blob/171b8108dfe1e89d4922bc9be0ebbbec608057d4/lib/_http_server.js#L515

with

[code]

but that is not safe as there might be buffered data to be written that could be not sent if we use that.

Also, don't angry, I'm sorry if my words sounded harsh. If you have better ideas please share and find a solution together.

[2018-11-30 14:45] lpinca commented on #24585
Revert https://github.com/nodejs/node/commit/f2f391e575fc8072d10e1ad1601ef3f67f13a4db? I'm fine with that. It would be a semver-major change though.

[2018-11-30 14:49] mcollina commented on #24586
I think this is something we should address, and Node.js is interested in keeping Express.js functioning. We do our best to not break the ecosystem, and Express is part of CITGM. Express tests are run before every release and they always passed. As such, no one knew Express was broken.

Lack of activity/discussion on this is not happening because most of the folks that could fix this have a) worke

[2018-11-30 14:53] dougwilson commented on #24585
@lpinca I don't understanding the internal workings of the Node.js core myself in order to offer a solution, otherwise I would have tried to open a pull request by now. I tried to explain what the issue I saw was, and also spell out what I'm trying to accomplish for someone to help.

That's what I'm trying to accomplish. If you're saying there is no possible way to accomplish that without revertin

[2018-11-30 14:57] lpinca commented on #24585
Ok, I've shared my ideas on both this and the other issues you opened. Let's wait fore more contributors to chime in.

[2018-11-30 14:59] dougwilson commented on #24586
Thanks for your response, @mcollina .

For the CTIGM: after I tracked this down, I noticed the ultimate issue is that lots of Express's dependencies are missing from the CITGM. Express's direct test suite doesn't re-test everything that each of it's dependencies are responsible for: it makes the assumption that by using a given dependency, it is getting the behavior that the dependency promises wi

[2018-11-30 15:09] mcollina commented on #24586
This is definitely a separate issue. I'll break it off as https://github.com/nodejs/citgm/issues/631.
Can you please point us at the specific module this broke? Can you link to an issue/failing test for that module? I might check out if it's possible to fix the actual module itself, so that it also works fine in Node 10.

I had really nothing to add to what it is discussed, I think somebody needs

[2018-11-30 15:10] lpinca commented on #24585
On second thought, https://github.com/nodejs/node/issues/24585#issuecomment-443224662 might be a viable solution. I'll open a PR later today if no one does that before me.

[2018-11-30 15:13] indutny commented on #24585
As you wish, @dougwilson . I'm sorry that my fix is only a partial solution for your problem. 😢

[2018-11-30 15:13] dougwilson commented on #24586
This particular issue I uncovered in the failing tests for the [`on-finished` module](https://github.com/jshttp/on-finished). I can run them and get a list when I get to a computer soon.

[2018-11-30 15:16] dougwilson commented on #24586
There is an underlying security issue when Express.js is combined with Node.js 10+ due to this, but I don't want to share the specific details about that in a public forum. I also didn't want to really mention this was linked to a security issue at all in Express.js since now that fact is exposed, but I'm saying it here since maybe it helps in understanding why I'm experiencing some frustration :(

[2018-11-30 15:20] mcollina commented on #24586
I'm aware of that.

[2018-11-30 15:34] mcollina commented on #24586
Check out https://hackerone.com/nodejs-ecosystem.

[2018-11-30 16:01] mcollina commented on #24586
Feel free to share whatever details you have with me in private.

[2018-11-30 16:06] dougwilson commented on #24586
To be clear: as far as I know there is not a security issue in Node.js core here, only one created in Express.js mechanisms due to a behavior change in Node.js that seems to have no solution in Node.js 10+ as of yet, at least that I can figure out. Getting the on-finished test suite to pass on 10 will resolve the issue. I am still mobile and will be traveling today, so cannot promise a timeline on

[2018-11-30 16:09] gaxolio commented on #4464
Hi. Have you found a method to remove a single CA cert ? Thanks

[2018-11-30 16:16] kwaping commented on #22825
I'm also affected by this issue. Thanks for the workaround, @darknz!

[2018-11-30 17:10] hbowden opened #24754 "HTTP2 throwing SSL alert number 42 on Windows 7"
Version: v10.14.1
Platform: CYGWIN_NT-6.1, Windows 7 Enterprise 64-bit
Subsystem: HTTP2

If I copy code from the docs for http2, which can be found here: https://nodejs.org/api/http2.html and run the command for generating a self signed cert and key and then finally run and make a request to the server I get...
![2018-11-30 10_51_51-http2 js - hydra - visual studio code administrator](https://user

[2018-11-30 17:33] DragonOsman commented on #24448
I have zlib dll instances in vcpkg and VS2017 installation directories, and I've also build zlib myself.  I want to know if it's possible how to just use the zlib I built myself with Node and just making Node ignore the one inside its VS2017 solution files.  Is this possible, and if so, how do I do it?  Thanks in advance for any replies and help.

I mainly just want V8, so I've also been trying to

[2018-11-30 17:42] Trott commented on #24754
@nodejs/platform-windows @nodejs/http2

[2018-11-30 17:47] Trott commented on #22308
(Unassigning refack. Don't want to discourage others from jumping in on this.)

[2018-11-30 17:47] dougwilson commented on #24586
Hey @mcollina I fear the details here about the security thing will make it not too trivial for someone to reverse engineer the underlying security issue in Express.js . With no timeline for a fix, is it possible we can delete the conversation about this so it's not hanging around in a public forum? I didn't want to delete all my posts before getting buy-in on that point in case it cases confusion

[2018-11-30 17:47] Trott commented on #22308
Since this appears to be a bug in `cluster` or in Alpine, I'm going to remove the CI/flaky test label too.

[2018-11-30 17:55] Trott commented on #22308
Both tests use `common.isAlive()` and if that is always returning `true` on this OS, then we'll be seeing these things timeout.

Here's the source for `common.isAlive()`:

[code]
Any chance `'SIGCONT'` does not behave here as it does on other operating systems?

[2018-11-30 17:57] alexvy86 commented on #22940
I already have that set, passing it to the node process as in your first example. I thought maybe something had to be done when spawning the workers. I remember when using the `child_process` module that `execArgv` (for the child processes) needs to be set manually in certain scenarios in order to be able to debug the children, so I thought maybe something similar needed to be done for `worker_thr

[2018-11-30 18:02] Trott commented on #22308
The addition of `'SIGCONT'` via `common.isAlive()` was introduced by @jasnell in https://github.com/nodejs/node/commit/baa0ffdab37. Prior to that, it had been using `0` rather than `SIGCONT`. Might be worth seeing if changing `'SIGCONT'` to `0` fixes these two tests in this environment. (It might break other tests, or make tests that should fail pass or something, though.)

[2018-11-30 18:06] BridgeAR commented on #22385
This got addressed by automatically limiting the maximum string length to round about 128 MB. When exceeding that limit the object will only be inspected in a minimal fashion instead of this error.

Please note that the current way of detecting this is a heuristic and will not work for a few cases with huge single strings at the end (e.g., so the total is already 100 MB and now a single string is

[2018-11-30 18:06] #22385 closed

[2018-11-30 18:08] BridgeAR commented on #22385
Please also leave a comment if you continue to run into this issue with the heuristic active!

[2018-11-30 18:16] mcollina commented on #24586
Do you want the full issue deleted, or just your last few comments?

[2018-11-30 18:20] dougwilson commented on #24586
Really just https://github.com/nodejs/node/issues/24586#issuecomment-443234643 and below; the rest do not talk about it, though they point to where to find out more and so when coupled with the knowledge that this leads to a security issue is the concern.

[2018-11-30 19:13] pracucci opened #24760 "Fix for CVE-2018-12122 on Node 6.15.0 does not reset headersTimeout on keep-alive requests"
* **Version**: v6.15.0
* **Platform**: Darwin Marco-13-2017.local 17.5.0 Darwin Kernel Version 17.5.0: Mon Mar  5 22:24:32 PST 2018; root:xnu-4570.51.1~1/RELEASE_X86_64 x86_64
* **Subsystem**: http

The fix for CVE-2018-12122 in Node 6.15.0 looks is not resetting the `headersTimeout` clock once the full request headers have been received and this cause the socket to be destroyed after `headersTime

[2018-11-30 19:18] mcollina commented on #24586
cc @nodejs/moderation can one of you help here? This is quite unusual and I am on mobile, thanks.

[2018-11-30 19:39] sagitsofan commented on #23748
PR is finished and waiting

[2018-11-30 19:40] sam-github opened #24761 "tls ca: option doesn't support the same formats as openssl -CAfile"
* **Version**: all
* **Platform**: all
* **Subsystem**: tls

OpenSSL supports "BEGIN TRUSTED CERTIFICATE", whereas Node.js silently ignores  them. When people fail to authenticate with a `ca:` file, they often try with other tools (`openssl s_client -CAfile ...`, `curl -cacert ...`, ...) to confirm where the CAs are valid. They find they are, but that they don't work with Node.js. Ouch.

Fixed in

[2018-11-30 19:48] lpinca commented on #24586
I've deleted some comments as per request.

[2018-11-30 19:59] BridgeAR commented on #10731
To get back to the original issue: the reason why the traps are not called in the browser is that they use internals that Node.js does (and I would say _should_) not use. We mainly use regular JavaScript to access all the information. That way we have to trigger some of the traps. We could switch triggering one trap for another but that should not really be helpful.

We also trigger the `ownKeys`,

[2018-11-30 20:15] zbjornson commented on #10731
I won't be hurt at all if this is closed as wont-fix. It makes sense that proxies should be written to handle various inputs safely (at least when they're publicly accessible). I think the original point remains valid, though, that Node.js' inspect functionality *could* avoid the issue. It might not be worth fixing (it sounds difficult), but it seems like it'll remain a gotcha for Node.js users.

[2018-11-30 21:20] sam-github commented on #8353
Since you have a repro, can you run it and see if it is now fixed?

[2018-11-30 21:50] hohokus commented on #24760
I am seeing exactly the same.  Originally appeared as an intermittent "502 Proxy Error" (we have Apache sitting in front of Node), but your telnet reproduce works 100%.  Thanks!

[2018-11-30 21:57] Trott commented on #22308
Whee! I have Docker installed and setup and I can replicate this. It's like I'm living in the FUTURE or something. Or at least the RECENT PAST. Can't do it right now, but will investigate more in a little bit if no one beats me to it (which: please do!).

[2018-11-30 22:18] GMScribe opened #24762 "Node crash when using readline-sync module when linked to another process"
* **Version**: 10.14.1
* **Platform**: Windows 10 x64
* **Subsystem**: readline-sync

Hello,

Since moving from node v8 to any v10/v11 version, I'm receiving the following error when I call my node script (npm.cmd start --prefix ./Scripts) with the following code:
[code]

I've discovered that the issue appears to relate to calling my script from within another process, when I have that process exe

[2018-11-30 22:21] DragonOsman commented on #24448
I still need to try building it with the Release configuration, since I've only tried with the Debug one so far, but it seems choosing `dll` in the `vcbuild` arguments, instead of `static`, did it.  I still have .lib files, though.  I didn't set `build-release`, and built it manually using the IDE itself.  IIRC (I already closed the command prompt window I did it in, so I'll have to say from memor

[2018-11-30 23:01] Trott commented on #22308
As far as I can tell, the worker really does exit, but in the master process, `process._kill(pid, 'SIGCONT')` does not return an error and `ps -aux` shows the worker process still in the table but "defunct":

[code]

[2018-11-30 23:07] Trott commented on #22308
`PPID` is process 1 which is the `node` process:

[code]

[2018-11-30 23:34] Trott commented on #22308
I think `test-cluster-master-kill.js` may be slightly misleadingly named. `kill()` doesn't really come into it. But I can see why it was named that. Here's what it does:

* **root process**: uses `child_process.fork()` to create a `node` subprocess
* **subprocess**: uses `cluster` in to launch a worker
* **worker**: runs an `http` server so that it will run forever if left on its own
* **subproces

[2018-11-30 23:48] Trott commented on #22308
I guess probably not a terrible time to re-ping @nodejs/docker too...

[2018-11-30 23:54] DragonOsman commented on #24448
Update to above post: Turns out that although it worked with the Debug configuration, it didn't work with the Release configuration.  I get "undefined symbol" errors because of zlib1.dll when I try to build node.vcxproj.  I do have node.lib and zlib.lib in my `Release/lib` directory, though.

Again, I'd like to know how I can make it ignore those `zlib1.dll`s and use the zlib I built myself.  If t

[2018-12-01 00:07] rvagg commented on #22308
I bet some clever libuv folks might have a clue here too since we're getting pretty low @cjihrig @bnoordhuis

[2018-12-01 00:14] Trott commented on #22308
@nodejs/libuv

[2018-12-01 00:34] Trott commented on #24543
Sounds to me like this can be closed, but comment and/or re-open if I've misunderstood.

[2018-12-01 00:34] #24543 closed

[2018-12-01 00:58] rvagg commented on #22308
So I think this is all about the face that the killed child processes aren't reaped properly because we don't have init or a similar reaping parent process in the chain. I believe I can fix this by putting `bash` as the parent to Jenkins in the container, something like:

[code]

Here's the bit I quite know the answer to: is this bypassing something that should be Node's responsibility? Why are we

[2018-12-01 01:02] vielmetti commented on #23913
@shigeki Can you also give this a try under Red Hat on the a1.* instances on AWS? They use a 64K page size which will potentially shake out other issues, or maybe this same issue.

[2018-12-01 01:04] rvagg commented on #22308
actually, I solved a similar problem of non-reaping on the ARM machines running docker by using `--init` which starts a proper init at the root to deal with reaping. But my questions above still stand.

[2018-12-01 02:04] rvagg commented on #22308
`--init` seems to have done the trick in this instance https://ci.nodejs.org/job/node-test-commit-linux/nodes=alpine-latest-x64/

I wouldn't mind thoughts from folks more expert in system-level concerns on why this might be a unique problem on a specific distrio+version; and does this suggest problems on our end? Otherwise, we can probably close this and wait to see if we get issues reported about

[2018-12-01 02:40] DragonOsman commented on #24448
Is there a way for me to provide the path to the zlib I built when trying to use shared-zlib?  So that it doesn't look for z.lib (I have zlib.lib and zlibstatic.lib, and I built the latest version of zlib).

[2018-12-01 03:48] Txiaozhe opened #24764 "os: networkInterfaces returns broadcast address"
* In node:
[code]
Would it be more useful to get **broadcast address** by the way? Such as:
[code]
It can be get from `getifaddrs()`.

[2018-12-01 04:30] richardlau commented on #24764
Duplicate of https://github.com/nodejs/node/issues/23437.

[2018-12-01 04:30] #24764 closed

[2018-12-01 04:49] Fishrock123 commented on #24586
So the root issue here is that paused streams don’t get errors?

There is a lot to digest here and it seems that something is not right but it is unclear what that might be.

[2018-12-01 05:55] Trott commented on #24674
If I'm not mistaken, then for the most part, that method isn't documented by Node.js. (I mean, maybe a little bit at https://nodejs.org/api/intl.html but it's mostly incidental.) It's documented in JavaScript reference material like https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/NumberFormat/format. In fact, the demo code and the very first example under _Examples

[2018-12-01 05:56] Trott commented on #24674
I'm going to close this as it's not a bug, but definitely feel free to continue to comment, especially if you think it's incorrect to close this and it should be re-opened.

[2018-12-01 05:56] #24674 closed

[2018-12-01 06:01] lpinca commented on #24586
@Fishrock123 no, the issue is that the socket is no longer destroyed  on parse error as per https://github.com/nodejs/node/commit/f2f391e575fc8072d10e1ad1601ef3f67f13a4db.

[2018-12-01 06:39] brycesteinhoff commented on #24692
This affects us also, as our headers are right around 8k usually, but sometimes more (we have JWT tokens which account for ~half of this).

Our base Docker images were locked to a Node major version, so this breaking change appeared out of nowhere.

[2018-12-01 07:11] Trott commented on #24567
Fixed in 76faccc

[2018-12-01 07:11] #24567 closed

[2018-12-01 07:19] bathos opened #24765 "util.inspect can be used to leak references to values from external scopes"
Currently, util.inspect provides avenues for violating ECMAScript invariants of Proxy objects, leaking (a) their status as Proxies and (b) actual references to the target and handler objects. The latter is more accurately violating an invariant of scopes, not Proxies.

This is possible because of the use of V8 APIs to obtain references to out-of-scope ES values, followed by passing those values in

[2018-12-01 07:31] devsnek commented on #24765
@bathos at a certain point, util is something that just exposes a lot of information. it violates the spec invariants of proxies, promises, weak sets, weak maps, all iterators, etc

[2018-12-01 07:34] bathos commented on #24765
Yep. I think this is a bit different though from revealing status or even say promise resolution value, though. If the caller has access to a promise, they also already (can) have access to its resolution value. It’s a violation, but a ... softer one. In this case, it doesn’t follow that if the caller has access to a proxy it also has or may obtain access to its handler and target objects — in fac

[2018-12-01 07:38] kenigbolo commented on #23825
@mgjm Thanks a lot. I'd get on it today. Can I assign this to myself?

[2018-12-01 10:06] tondy67 opened #24767 "WebAssembly version of crypto"
What about replacing the crypto package (or every C++) with WebAssembly version of it?
This will give us homogeneous experience on nodejs and browser.

**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.

**Describe the solution you'd like**
Please describe the desired behavior.

**Describe alternatives you've considered**
Please

[2018-12-01 13:20] eddynelson opened #24769 "Node.js 10.14.0 v8 engine fix tu run Node.js app"
* **Version**: 10.14.0
* **Platform**: Linux Ubuntu 18.04 LTS x86_64 GNU/Linux
* **Subsystem**: v8 engine

it says in the console:
<--- Last few GCs --->

[7633:0x2d50650]    22054 ms: Mark-sweep 1398.5 (1425.3) -> 1397.8 (1425.8) MB, 935.7 / 0.0 ms  (average mu = 0.060, current mu = 0.006) allocation failure scavenge might not succeed

<--- JS stacktrace --->

==== JS stack trace ================

[2018-12-01 13:43] gireeshpunathil commented on #20624
question to @nodejs/streams I guess: why there are 3 copies, each different from one another, what purpose those solve:
[code]

[2018-12-01 13:51] gireeshpunathil commented on #20804
is there an actionable on this issue? Is there any forward path justified / identified?

[2018-12-01 14:44] DragonOsman commented on #24448
In the node.vcxproj linker command line, it has `C:/node/lib/Release/node.lib" as one of the linker input files.  Why?  I don't even see it under the linker input settings under "Linker" in Project Properties, so I don't know how to take it out of there.  It's causing the project to fail to build.  I asked on MSDN forums here, as well: [link](https://social.msdn.microsoft.com/Forums/en-US/0a4c8778

[2018-12-01 14:53] mikesamuel commented on #22107
@Trott, I think it can transfer to security-wg.

@prettydiff
Relevant to

Per https://github.com/nodejs/security-wg/issues/409 I've got a testbed for some mitigations that include controlling what code links to sensitive APIs.

The [sensitiveModules property in package.json](https://github.com/mikesamuel/attack-review-testbed/blob/025f70f38b2f996f3c5b3c7acdc64661689dcd0b/package.json#L48-L145) spe

[2018-12-01 15:47] mcollina commented on #24769
Thanks for reporting! Your node.js application has a memory leak.

Can you please upload it or a smaller version that shows the behavior on a github repo?

[2018-12-01 16:38] mcollina commented on #20624
@gireeshpunathil it's ok that we have 2 versions of this. The version that npm depends on is readable-stream@2, which is basically Node 8 streams. `lib/_stream_readable.js` has some semver-major changes to it.

I do not know why we have two versions of readable-stream in the npm tree, as they should be semver-compatible.

[2018-12-01 16:39] mcollina commented on #20624
readable-stream@3 has now been released in July (the issue was open on May), and it contains the code from Node 10.

[2018-12-01 16:39] DragonOsman opened #24771 "VS 2017 Project node.vcxproj depends on node.lib - how do I fix this?"
In the node.vcxproj linker command line, it has `C:/node/lib/Release/node.lib" as one of the linker input files. Why? I don't even see it under the linker input settings under "Linker" in Project Properties, so I don't know how to take it out of there. It's causing the project to fail to build. I asked on MSDN forums here, as well: link . Originally it was to ask about how to add library input fil

[2018-12-01 16:54] Trott commented on #24345
Fixed in f2be20b7353baacf0094c78693b8b4ffd7e94530

[2018-12-01 16:54] #24345 closed

[2018-12-01 16:54] Trott commented on #24211
Fixed in 639f6411a76d010b1807fd1b6e78b8ba894a281e

[2018-12-01 16:54] #24211 closed

[2018-12-01 18:09] ArtemFrantsiian commented on #24728
thank you

[2018-12-01 18:09] #24728 closed

[2018-12-01 18:56] bradisbell commented on #23693
Broken for me on Chrome v70, Node.js v10.13.0, win x64.  Please let me know if there is any additional information I can provide to aid in debugging.

[2018-12-01 19:01] diners-admin opened #24773 "(node:7999) DeprecationWarning: (node-watch) First param in callback function is replaced with event name since 0.5.0, use `(evt, filename) => {}` if you want to get the filename"
Hello, I have this error:
(node: 7999) DeprecationWarning: (node-watch) First param in callback function is replaced with event name since 0.5.0, use `(evt, filename) => {}` if you want to get the filename

Some way to solve it. Thank you.

[2018-12-01 20:54] caub commented on #24385
it's still broken in v11.3.0
![peek 2018-12-01 21-52](https://user-images.githubusercontent.com/3134574/49332779-9276a400-f5b3-11e8-8bef-789eec62d822.gif)

[2018-12-01 21:40] vsemozhetbyt commented on #24385
11.3.0 was a security concerning release, so as per [the changelog](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V11.md#2018-11-27-version-1130-current-rvagg) the fix was not backported yet,

[2018-12-01 21:43] vsemozhetbyt commented on #24385
The fix is [on `v11.x-staging` branch](https://github.com/nodejs/node/commit/bd8be407b1f67c6b8abcb92a573d76a0f2517cff), so this may be fixed in the next 11 release.

[2018-12-01 22:02] eddynelson commented on #24769
@mcollina thank you. i was called the App components in the same in react server side rendering:
`
class App extends Component{
    render(){
         return(<App />)
    }
}
`

[2018-12-01 22:30] #24769 closed

[2018-12-01 23:37] Trott commented on #24771
@nodejs/build @nodejs/platform-windows

(Transfer to the `help` repo, maybe?)

[2018-12-02 02:04] rektide commented on #21014
This is a terrible look for node & the worst experience with esm I have ever seen. This abeolutely cannot stand, no way. This situation is a sick joke.

Ideally I could:
`import {readFile} from 'fs/promise`

The opening ask would be only mildly ghastly & ugly, getting a complete 'fs' import.

This needs help so bad. This situation is grody to the max. Help.

[2018-12-02 03:18] devsnek commented on #21014
the original design of fs promises was as you mention it. I'm hopeful it can be restored.

[2018-12-02 06:05] robbie-mac opened #24778 "ES6 import fails on linux"
* **Version**: v11.3.0
* **Platform**: Debian GNU/Linux
* **Subsystem**: ES-Modules

module.mjs
[code]
command:
[code]
Error on linux

[code]

Works fine on win32

[2018-12-02 10:24] BridgeAR opened #24781 "repl history broken"
**Version**: latest master

The new multiline history does not fully work as it should. While trying to fix it I ran into further issues, so I decided to just open this issue about it for now.

Example 1:

[code]

Example 2:

[code]

I suggest to revert this feature for now and to reland with a very decent test coverage for lots of edge cases. What do others think?

[2018-12-02 10:36] targos commented on #24781
instead of revert, can we put it behind a flag? that would make it easier to do incremental improvements

[2018-12-02 11:24] isiahmeadows opened #24784 "Could there be an equivalent of `createRequireFromPath` for imports?"
Currently, there's a clear story for creating a `require` from a dummy module: [`module.createRequireFromPath(filename)`](https://nodejs.org/api/modules.html#modules_module_createrequirefrompath_filename). It'd be amazingly useful to have an equivalent `module.createImportFromPath(filename)` that did the same, but instead returned a function mirroring dynamic import. Of course, this would only be

[2018-12-02 12:38] DragonOsman commented on #24771
https://github.com/nodejs/help/issues/1649 .  I posted about it there already.  I wanted to post it in both places just in case.  I hope I didn't do something too bad.  I did this so that even if this thread does get closed, I'd still have that other one.

[2018-12-02 13:17] antsmartian commented on #24781
@bridgear I guess we have already an issue with multilines in the context of string literals. (On mobile now, couldn't find that.) From the examples I see that's what it's getting affected. Did you see anything else broken apart from string literals?

[2018-12-02 13:29] BridgeAR commented on #24781
https://github.com/nodejs/node/issues/24231 - it reports the same as here, so I am going to close this as a duplicate.

[2018-12-02 13:29] #24781 closed

[2018-12-02 13:33] BridgeAR commented on #24231
The current way how multilines are saved is just wrong. A line is detected when the newline character (`\n`) is detected. Now that line is added to potential former ones and therefore stripping the new lines. This is changing the actual input and causes multiple issues.

I tried to fix that by adding the new lines but I ran into new issues when doing that due to another bug in the implementation.

[2018-12-02 13:34] targos commented on #24231
Copying from https://github.com/nodejs/node/issues/24781#issuecomment-443507411

Is there no way for us to keep the line breaks? That's what `zsh` does.

[2018-12-02 13:36] BridgeAR commented on #24231
@targos I tried that but this caused new issues with a different bug that caused the history to become malformed. It will also move the line upwards and if you then move up in the history to e.g. a single line entry, the lower end of the terminal will be empty. I guess this would be the best we can do at the moment?

[2018-12-02 13:36] antsmartian commented on #24781
@targos Yes you are correct. Let me work on the fix.
@bridgear Thanks for finding the duplicate issue and closing it.

[2018-12-02 14:05] antsmartian commented on #24231
@BridgeAR

Yes this happens on line breaks statements for example string literals, code with comments. Other things like function, object, class declarations seems to be working fine. (fundamentally the implementation is based on `kBufferedCommandSymbol` on repl, I guess that's the sole reason here as it doesn't work for template literals and like)

[2018-12-02 14:19] BridgeAR commented on #24231
@antsmartian they work by chance. The input is still manipulated for all input by removing the newline.

Another example with a function:

[code]

This fails in the `repl` and it should because it's a syntax error. Going back with the history will now "fix" the syntax error.

However, there is more weirdness going on in the new history: it does not memorize the correct order when an error happened

[2018-12-02 14:35] antsmartian commented on #24231
@BridgeAR Ack. I got what you are saying here. Seems to be bit tricky. Thanks for your time on this. My bad, seems to be this feature broken history a bit :( Will see, how we can rectify this.

[2018-12-02 15:00] bnoordhuis commented on #24767
Crypto in node.js is implemented in openssl and openssl has a lot of hand-crafted assembly for performance reasons. You can't change it to wasm without incurring a heavy performance penalty.

[2018-12-02 15:00] #24767 closed

[2018-12-02 15:05] bnoordhuis commented on #24692
http-parser does, as do distros that link node to http-parser dynamically.

A possible way forward: split `p->nread` into two, `p->nread` and `p->nread_max`, possibly with better names. :-)

Drawback: there are some downstream projects that read `p->nread`, even though it's marked as private.

[2018-12-02 15:06] vsemozhetbyt commented on #24231
Another unintended fixes are ASI cases:
[code]

[2018-12-02 15:07] Trott commented on #23089
https://ci.nodejs.org/job/node-test-commit-freebsd/22462/nodes=freebsd11-x64/console

test-digitalocean-freebsd11-x64-2

[code]

[2018-12-02 15:10] Trott commented on #23089
Stress test with `-j 1 --repeat 100`: https://ci.nodejs.org/job/node-stress-single-test/2118/

Stress test with `-J --repeat 100`: https://ci.nodejs.org/job/node-stress-single-test/2119/

[2018-12-02 15:11] tondy67 commented on #24767
Ok, I'll do it myself. I think I can sacrify some performance for the price
of stability, security, full API of OpenSSL. Thanks for your response :)

On Sun, Dec 2, 2018, 16:01 Ben Noordhuis <notifications@github.com wrote:

[2018-12-02 15:57] Flarna commented on #24559
I have a fix in http2 to correct the sequence but I found that v8.x has a [test](https://github.com/nodejs/node/blob/v8.14.0/test/parallel/test-http2-stream-destroy-event-order.js) which verifies that `error` comes after `close`....
Test was adapted in #17406

Should I submit a PR to correct the sequence or is this anyway something which can't be done in a patch/minor release?

[2018-12-02 17:30] antsmartian commented on #24231
I'm planning to do this:

1. Don't buffer multiline (which is the main root cause here, skipping `\n`).
2. But rather, when we see a multiline end, we can form from the history from `history` array and construct the `line` with `\n` as needed.
3. This would infact, fix all the issues mentioned here.
4. We will get multiline only when `kBufferedCommandSymbol` seen by the repl. Thus leaving string l

[2018-12-02 17:33] bnoordhuis commented on #24765
The change was made in response to #16483. Summary: misbehaving proxies produce unusable output; and since `util.inspect()` is for humans, not machines, it's okay to bend the rules a little. Object inspectors in browsers also treat proxies specially.

We can fix bugs but the current behavior is useful, more useful than the alternative.

[2018-12-02 17:40] yaelhe commented on #24636
I've figured out what's happening and have a fix coming up

[2018-12-02 17:53] #24585 closed

[2018-12-02 17:53] cjihrig commented on #24692
@bnoordhuis what about a [function that would allow setting the global max header size](https://github.com/cjihrig/node-1/commit/fb615c531ef4ba7c2c15d6ef9690f05df7c516e5)? It's not necessarily the most elegant solution ever, but I don't think it would break anything.

[2018-12-02 18:34] gsilvapt commented on #23659
Despite by unawareness regarding the tool, I can understand what the python3 option output means but what does the python2's mean?

[2018-12-02 19:40] cclauss commented on #23659
It means that not all of these issues are about Python 3 compatibility.

[2018-12-02 20:01] BridgeAR commented on #10731
If anyone stumbles upon a good idea how to prevent some traps, please leave a comment.

[2018-12-02 20:36] BridgeAR commented on #24231
This sounds very hackish and people will be confused that it works one way in the current session and different from entries from before. I for example often leave the repl and open it again and go back in the history.

I believe we should give this a bit more thought. The main problem I see is the format how we save the history currently. It is simple plain text, line by line and if we want to ke

[2018-12-02 21:05] devsnek commented on #24231
i would keep history with the newlines, and then just print/clean the multiple newlines that occur when traversing it

[2018-12-02 21:13] bathos-wistia commented on #24765
@bnoordhuis would you agree that it’s a bug that the references to the target/handler of an arbitrary proxy object can be obtained? That seems solvable without removing the proxy-internals-viewing behavior, but would entail breaking API changes related to the inspect context object.

[2018-12-02 21:14] bathos commented on #24765
@bnoordhuis would you agree that it’s a bug that the references to the target/handler of an arbitrary proxy object can be obtained? That seems solvable without removing the proxy-internals-viewing behavior, but would entail breaking API changes related to the inspect context object.

[2018-12-02 22:31] gsilvapt commented on #23659
Thanks for explaining!

Could it be related to bad implementations then?

I have a platonic love for Python since I like the language but I'm not allowed to play around much with it at work. Is it okay to try and submit a couple patches to fix these incompatibilities?

[2018-12-03 01:33] RezaRahmati commented on #16746
Thanks for your code, a question how we should generate key and iv?

[2018-12-03 01:50] gavinmarkglynn opened #24792 "Crash in node::Platform::ForIsolate"
* Version: 10.5
* Platform: Centos Linux 7 (x64)

We have an application which exists as a C++ nodejs module, which itself creates instances of the V8 script engines, to execute custom JavaScript logic.

This worked fine in the earlier version of nodejs (~v4). Recently we upgraded to nodejs v10.5, and a subtle issue has been introduced. When we ran our custom C++ logic, inside the embedded V8 scri

[2018-12-03 01:53] Ethan-Arrowood commented on #21783
Another affected module is `mmap-io`. i'm trying to fix it now but it is proving difficult.

[2018-12-03 05:33] pprindeville commented on #23437
@addaleax Okay, got that resolved so it’s exporting in JS properly.

[2018-12-03 05:40] Trott commented on #24470
Fixed in 32fed93

[2018-12-03 05:40] #24470 closed

[2018-12-03 06:15] bnoordhuis commented on #24692
That could work. Two issues with the patch:

* Don't use a k prefix if it's not actually constant.
* Set the limit once, not every time a new parser is instantiated.

[2018-12-03 06:36] bnoordhuis commented on #24765
You mean the `seen` array? As Gus mentioned, we could remove that (undocumented implementation detail, no real reason it should be exposed) but being the conservative creatures we are, it'd be a semver-major change; it could go into v12 but not <= v10.

[2018-12-03 06:54] bnoordhuis commented on #24593
I don't think that's it. There's no sharing taking place, the typed array is passed from C++ to JS and immediately converted to a `Stats` object.

FWIW, I can reproduce when I run `while true; do cat test/.tmp*/* > /dev/null; done` in another terminal (but check with `mount` that the fs isn't mounted with noatime.)

[2018-12-03 07:55] gavinmarkglynn commented on #24792
HI Ben

I will gen the latest code tomorrow, and try again, but I just looked at both the latest code for v10.x and v11.x, and nothing has changed around the incremental marking job logic, both in the V8 code and the logic listening for the event on the nodejs side.

[2018-12-03 09:52] gengjiawen commented on #24778
Do you have `package.json` in same directoy.

[2018-12-03 11:23] qiulang commented on #21088
@sam-github I am using node 10 and I also keep running into this error when request to www.googleapis.com, e.g. https://www.googleapis.com/blogger/v3/blogs/2399953?key=...

But I found it won't happen to https://samples.openweathermap.org, e.g. https://samples.openweathermap.org/data/2.5/weather?q=London,uk&appid=b6907d289e10d714a6e88b30761fae22

But they both use TLS 1.2 not TLS 1.0 as @birksy89

[2018-12-03 11:40] anmolagar commented on #23693
breakpoint are not working
![screen shot 2018-12-03 at 5 09 28 pm](https://user-images.githubusercontent.com/8602998/49371667-43994d80-f71e-11e8-90e6-fc83d8a97200.png)
![screen shot 2018-12-03 at 5 09 38 pm](https://user-images.githubusercontent.com/8602998/49371668-4431e400-f71e-11e8-857d-cf2750a444e6.png)

[2018-12-03 12:36] robbie-mac commented on #24778
No, it is a single file to isolate the described issue, which highlights the different behavior on 2 platforms.
Out of curiosity, though, what makes you think the location, or even the existence of package.json would change the behavior?

[2018-12-03 12:39] gengjiawen commented on #24778
If there is a package.json, the error disappear. I have not test it on windows.

[2018-12-03 13:43] BridgeAR commented on #24231
@devsnek can you elaborate on the that? If I understand correct you want to add empty lines in the history that mark a multiline statement, am I correct? This should be possible. @antsmartian you could try this.

[2018-12-03 13:52] antsmartian commented on #24231
@BridgeAR Yes, I guess that's what @devsnek suggesting here. To be on the same page, this is how history looks like, if we implement the logic:

[code]

On processing, we need to change `history` array, so that it looks like:

[code]

[2018-12-03 13:55] BridgeAR commented on #24231
@antsmartian the second entry should look like: `'{\na:3\n}'`.

[2018-12-03 14:01] antsmartian commented on #24231
@BridgeAR : Yup, its a typo. Fixed.

[2018-12-03 14:51] pracucci commented on #24760
The PR https://github.com/nodejs/node/pull/24796 - landed in Node [`6.15.1`](https://nodejs.org/en/blog/release/v6.15.1/) - fixes this. Thanks @mcollina !

[2018-12-03 14:51] #24760 closed

[2018-12-03 14:55] gengjiawen commented on #24778
Actually it works. see https://circleci.com/gh/gengjiawen/node-esm/5. But don't prefix the filename with `.\`.

[2018-12-03 16:43] robbie-mac commented on #24778
I'll test that, but that still leaves the fact that the behavior is different based on the platform.

[2018-12-03 16:51] robbie-mac commented on #24778
Just tested with a valid package.json and no joy.

[2018-12-03 17:16] gengjiawen commented on #24778
can you provide a repro in ci. or provide debian version.

[2018-12-03 17:22] gengjiawen commented on #24778
Ubuntu works fine just like windows. My previous test fail because it has wrong prefix.

[2018-12-03 17:47] devsnek commented on #24778
I'm unable to reproduce this on any linux distribution.

[2018-12-03 22:38] robbie-mac commented on #24778
![image](https://user-images.githubusercontent.com/18416272/49405942-f6f74780-f708-11e8-8e01-42f5a9c6cbbf.png)

The only other detail I can give is that I used the package from nodesource... Everything is up to date.

[2018-12-03 22:40] devsnek commented on #24778
@robbie-mac your file needs to have `.mjs`

[2018-12-03 22:45] robbie-mac commented on #24778
Well Ill be jiggered... Thanks @devsnek
That's the problem... Its still a difference in behavior between platforms, as it does not require the extension on windows.

[2018-12-03 22:52] robbie-mac commented on #24778
Sorry, my apologies again. It doe NOT work on windows...

[2018-12-03 22:52] #24778 closed

[2018-12-03 22:57] gavinmarkglynn commented on #24792
Hi Anna

Unfortunately, our application has the following structure:

nodejs script running in nodejs
   -> Includes custom C++ plugin (i.e. essentially for server code for our
application - very large ~500k of C++ code)
       -> Executes user defined logic via JavaScript running in V8 engine.

When we launch the V8 engine, it is in the middle of a bunch of server
code. There is no message look t

[2018-12-03 23:37] trxcllnt opened #24817 "Unaligned writes to fs.ReadStream internal Buffer pool leads to misaligned reads"
* **Version**: v11.3.0
* **Platform**: Linux 4.15.0-42-generic Ubuntu x86_64
* **Subsystem**: fs

The internal buffer pooling inside `fs.ReadStream` [doesn't align its pooled writes to any byte boundaries](https://github.com/nodejs/node/blob/3fb627bead14e68d989b0f141226c1703fa062ca/lib/internal/fs/streams.js#L175), leading to issues consuming chunks where alignment is required (such as creating ty

[2018-12-03 23:46] annabokhan opened #24818 "Expose a way to restrict openssl signature algorithms"
**Is your feature request related to a problem? Please describe.**
We are attempting to restrict client signature algorithms in node.js tls client. Since tls.createSecureContext does not expose an option to specify neither signature algorithms nor client signature algorithms, we've attempted to do so via a custom openssl configuration file (see example below), but unfortunately it does not work. U

[2018-12-04 00:46] lmeyerov commented on #24817
A third option comes from POSIX, where client provide their own buffer, and guarantee alignment by allocating it with something like valloc().

+1 . As JavaScript and especially v8 continue to support optimizations around binary data, enabling zero-copy aligned memory access is good.

[2018-12-04 01:58] Trott commented on #22873
Fixed in 9159fb7

[2018-12-04 01:58] #22873 closed

[2018-12-04 02:03] #24586 closed

[2018-12-04 02:09] Trott commented on #24586
I'm under the impression that this can be closed now that https://github.com/nodejs/node/pull/24757 has landed. I understand the TSC has things to discuss related to this issue, but I believe they're meta-issues and the specific problem is solved. If I'm mistaken, please re-open or comment to that effect, of course. Thanks! /cc @dougwilson @lpinca

[2018-12-04 02:11] Trott commented on #24586
(Or perhaps this should stay open until that change lands in v10.x?)

[2018-12-04 04:33] joaocgreis commented on #23838
@moloughl thanks for the log file, indeed something is in the registry always making the computer reboot.

We are changing this feature in https://github.com/nodejs/node/pull/24677 to not perform any automatic reboot.

[2018-12-04 04:48] sam-github commented on #24818
Configuring the TLS cipher suite doesn't work for you? https://nodejs.org/api/tls.html#tls_modifying_the_default_tls_cipher_suite

[2018-12-04 06:32] jdalton opened #24821 "repl history broke since 11.2.0"
Related to #24231 but more basic.

Since 11.2.0 you cannot use the repl history to visit older items.

![example](https://user-images.githubusercontent.com/4303/49423126-24fd7b80-f74b-11e8-8f1b-b0f56bcbe53f.gif)

[2018-12-04 07:10] targos commented on #24821
https://github.com/nodejs/node/pull/24804 will fix this.

[2018-12-04 07:43] antsmartian commented on #24821
@jdalton Yes this issue is same as : https://github.com/nodejs/node/issues/24385 (which got fixed, but not landed on `11.2`). Anyways, we had reverted the change as @targos mentioned.

This is my mistake and I wanted to add few more test cases to history because this should have caught up in our test suite. I'm planning to add them sometime soon.

[2018-12-04 07:44] antsmartian commented on #24821
So may be we can close up this issue and keep https://github.com/nodejs/node/issues/24231 open until https://github.com/nodejs/node/pull/24804 lands?

[2018-12-04 08:02] jdalton commented on #24821
Dup of #24385

[2018-12-04 08:02] #24821 closed

[2018-12-04 08:51] joyeecheung opened #24823 "s/whatwg/web/ in file names?"
I was working on porting performance-timeline WPT into core the other day and I realized that it didn't make sense to use the word `whatwg` in the file name (like what we do to other web-thingy) because performance-timeline is standardized in W3C but not in WHATWG. It sounds reasonable to me to change the `whatwg` in file names into `web` as we mostly just use that word to refer to `web` and it se

[2018-12-04 08:55] targos commented on #24823
If the tests comme from from the `wpt` repository, I suggest to put `wpt` in the name instead of `whatwg` or `web`.

[2018-12-04 09:07] joyeecheung commented on #24823
@targos The majority of `whatwg` in file names are of our own tests to Web APIs (in addition to WPT, some pending to be upstreamed, e.g. `test-whatwg-url-custom-*`), and of benchmarks (`legacy-vs-whatwg-*`). In the context of WPT drivers in `test/wpt` I think we can just rename those to something like `test-url.js`

[2018-12-04 09:10] targos commented on #24823
I think we should keep `whatwg` for the URL module. That's how it's called in the docs too (The WHATWG URL API)

[2018-12-04 09:29] joyeecheung commented on #24823
@targos You mean keeping them in the file names, or in the docs, or in general mentioning when we talk about things? I think it's right to keep mentioning `WHATWG` in docs (and also in comments since we are usually pasting links to whatwg.org anyway), but it seems strange to put those in file names, when we don't put the word `w3c` in perf_hooks tests..(that'll make the file names look even strang

[2018-12-04 09:35] targos commented on #24823
I wouldn't be confused if we kept `whatwg` in the name of files related to the `WHATWG URL` module and used `web` for others such as `perf_hooks`. I wouldn't object to renaming them. I just don't feel the need, personally.

[2018-12-04 09:39] joyeecheung commented on #24823
@targos I see. For now, I think I will just remove the reference of `whatwg` in `test/wpt`, since that's where I was hitting the confusion - that also makes the file names more succinct, anyway.

[2018-12-04 10:21] addaleax commented on #24403
Managed to get a core dump locally; interesting parts of the thread stack traces:

[code]

I feel like I’ve been seeing a *lot* more issues based on race conditions with C++ destructors being run from `__run_exit_handlers()`, but before all threads are torn down… I’m not sure what would have caused that change. Should we maybe be calling `_exit()` instead? Is there a way to first stop all other th

[2018-12-04 11:04] BridgeAR commented on #24231
@antsmartian just as another hint: to keep backwards compatibility with the current format you actually have to do exactly the opposite of how you want the history to look like:

[code]

Otherwise all existing history entries become a huge multiline statement and we don't want that ;-).

[2018-12-04 11:21] prasoonmayank opened #24827 "No output printing in stdout using process.stdout.write when running the code in codechef ide?"
I was working on a competitive programming problem in nodejs. The question being to print all combinations of words possible from the letters of the given word for n number of test cases.

The code is wrote is as shown below:

               var n = -1

		var charar = Array.apply(null, Array(26)).map(Number.prototype.valueOf,0);

		function fact(length) {
			var product = 1;
			if(length>0) {

[2018-12-04 11:33] bnoordhuis commented on #23897
Okay, I'll close this out then. You should probably kick this back to express.

[2018-12-04 11:33] #23897 closed

[2018-12-04 11:44] joyeecheung commented on #24403
About the specific stack trace, was the destructor being called when one of the strings on the native module loader was already destroyed? I think the std::strings on the loader should all be local to it, so it's kind of difficult to how would the order be reversed..

On the race condition in general, is the current expectation to destroy all the per-process globals only after all the threads are

[2018-12-04 11:49] addaleax commented on #24403
Potential fix is in https://github.com/nodejs/node/pull/24828 :)

[2018-12-04 11:50] addaleax commented on #24403
And no, I don’t think this is about the specific stack trace – it’s probably some destructor that was called earlier that destroyed some resource on which the V8 platform worker thread relied, or something similar, I would say.

[2018-12-04 12:31] bnoordhuis commented on #24827
The latter. Hence why it doesn't really belong on this bug tracker.

[2018-12-04 12:45] Trott commented on #19057
@nodejs/gyp

[2018-12-04 12:58] AmirBitaraf opened #24829 "A code which can cause javascript heap out of memory"
* **Version**: v10.11.0
* **Platform**: Linux 4.19.4-300.fc29.x86_64 #1 SMP Fri Nov 23 13:03:11 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

Hi there,

I was developing a service and I needed to use `ntpsync` npm package and accidentally I could have a code to generate javascript heap out of memory and made node to crash.

Here is an interactive terminal with Error output:
[code]

[2018-12-04 14:11] elad-yosifon commented on #24692
A week of debugging finally brought me here....
could of been easily solved if there was a simple debug log line that indicates that the request was blocked

[2018-12-04 14:50] kamilogorek commented on #23862
Based on my tests, you don't even need to attach request object manually to the domain. Just create a promise inside `run`. Minimal repro case:

[code]

[2018-12-04 15:18] joyeecheung commented on #24829
Hi, can you reproduce this issue without the `ntpsync` npm package? If not, please open an issue in the issue tracker of ntpsync, thanks.

[2018-12-04 15:19] joyeecheung commented on #24829
Accidentally closed, sorry

[2018-12-04 15:28] shimondoodkin opened #24830 "debugger not break inside async functions"
* **Version**: v11.0.0
* **Platform**: Windows 10 64bit
* **Subsystem**:

‏Google Chrome  version 70.0.3538.110  (64 bit)

steps to reproduce:

create file test.js:

console.log("start");
(async()=>{
console.log("test1"); // put breakpoint here
console.log("test2");
})() //async main

run the test code:

node --inspect-brk .\test.js

open debugger: open chrome browser. open inspector. click on nod

[2018-12-04 17:16] shimondoodkin commented on #23693
need chrome canary, not chrome beta

https://www.google.com/chrome/canary/

[2018-12-04 18:08] FredLackeyOfficial commented on #24698
Not correct.  As of v11.3.0, the `recursive` flag **does** exist.
https://nodejs.org/api/fs.html#fs_fs_mkdir_path_options_callback

[2018-12-04 18:33] SephReed opened #24833 "RegExp is not respecting precedent matches"
* **Version**: v8.9.4
* **Platform**: Darwin Sephs-MacBook-Pro.local 17.3.0 Darwin Kernel Version 17.3.0: Thu Nov  9 18:09:22 PST 2017; root:xnu-4570.31.3~1/RELEASE_X86_64 x86_64
* **Subsystem**: N/A

It appears node is not respecting precedent matches in regexp.  Precedent matches are where you put one match early in order to either avoid the latter one, or stop an early ending.  An example is sh

[2018-12-04 18:39] ygizhitsa commented on #3742
I use following on Windows
SET NODE_TLS_REJECT_UNAUTHORIZED=0
Could not figure out why cafile doesn't  work

[2018-12-04 18:44] vsemozhetbyt commented on #24833
I cannot reproduce 4 matches:
[code]

[2018-12-04 19:04] Trott commented on #24698
@FredLackeyOfficial  It exists in Node.js 11. That does not refute the statement that it does not exist in Node.js 9. @cjihrig is correct.

[2018-12-04 19:21] Trott commented on #24833
Unable to replicate. Had to correct a typo in your code (`rowsRegex` -> `rowRegex`) but otherwise, results as expected:

[code]

[2018-12-04 19:30] SephReed commented on #24833
Hmmm... that's really good to see.  There's definitely something funky going on my end, but if this issue can't be recreated by you guys, it's probably part of my stack, so I'll look elsewhere.  Maybe it's the typescript... anyways, thank you.

[2018-12-04 19:30] #24833 closed

[2018-12-04 19:52] odinho opened #24835 "Segfault on Mac OS X on Node 11.3.0"
* **Version**: 11.3.0
* **Platform**: Mac OS X
* **Subsystem**:

Node crashes when running the tests for `webpack-dev-server`. It seems hard to minimize the tests since it looks racy (I removed some tests, and it crashed, later it did not crash with the same tests running).

From what I'm able to tell, the crashers started when node/stable started choosing the 11 release instead of 10.

Test steps

[2018-12-04 21:06] odinho commented on #24835
I did not find any crashers for the earlier Node 10 release. But now we did one run `v10.14.1` where it *HUNG* a bit earlier on the Proxy test it segfaults on in 11. https://travis-ci.org/webpack/webpack-dev-server/jobs/463522175

However, on second try it went through. Don't know how flaky it will be yet, and no idea what it stops on.

So it seems like this is a full-on crash in 11, but on 10 it

[2018-12-04 21:34] bnoordhuis commented on #24835
I can't test right now but the stack trace suggests the process self-kills, i.e., sends itself a termination signal with `process.kill()`.

[2018-12-04 21:41] bnoordhuis commented on #24048
It's been a month with no feedback or updates so I'll take the liberty of closing this out.

[2018-12-04 21:41] #24048 closed

[2018-12-04 21:50] bnoordhuis commented on #24311
If there's no way to reproduce, we should probably close this out.

I looked at the code and there is a theoretical code path where `this._header === null` but I don't think you can actually trigger it without monkey-patching core or clobbering internal bookkeeping.

[2018-12-04 21:54] bnoordhuis commented on #23789
Any news?

[2018-12-04 21:54] annabokhan commented on #24818
@sam-github unfortunately not, or it wouldn't be an issue. We need an ability to limit signature algorithms.

[2018-12-04 22:09] bnoordhuis commented on #23301
The immediate issue is an upstream issue (ICU only honoring LANG and LC_ALL.)

It's not completely out of the question to fix it in Node.js but if no one is going to work on it, we might as well close this out.

[2018-12-04 22:23] bnoordhuis commented on #23281
@bitinn If you're interested in working on this, you're welcome to. I'll add the good-first-issue label.

[2018-12-04 23:16] MylesBorins commented on #24403
another failure

* machine / link https://ci.nodejs.org/job/node-test-binary-windows/22196/COMPILED_BY=vs2017,RUNNER=win2008r2-vs2017,RUN_SUBSET=1/testReport/junit/(root)/test/parallel_test_cli_syntax/
* failed on https://github.com/nodejs/ecmascript-modules/pull/18
[code]

[2018-12-04 23:40] sam-github commented on #24818
We'd have to expose `long SSL_CTX_set1_client_sigalgs_list(SSL_CTX *ctx, const char *str);`
& ` long SSL_set1_client_sigalgs_list(SSL *ssl, const char *str);` as we did `ciphers:`. I'll look at it, but its not likely to hit a stable release for months.

I wasn't there when this was built (@bnoordhuis was, though). Still, I'll take a stab at justifying why it doesn't load the config.

Node is built

[2018-12-04 23:48] annabokhan commented on #24818
@sam-github I understand your argument, but since the node already exposes a way to supply a custom openssl configuration file, I would argue that users should be able to configure anything that openSSL allows to configure, including signature algorithms. This would also be quite useful for example when building docker containers for base images shared across the org - instead of relying on each d

[2018-12-04 23:50] sam-github commented on #24818
It does? How? I don't recall seeing that.

[2018-12-05 00:10] annabokhan commented on #24818
https://nodejs.org/api/cli.html#cli_openssl_config_file

[2018-12-05 00:38] annabokhan commented on #24818
Indeed, and that's sufficient for some settings, but in order for SSL configuration module (ssl_conf) settings to be applied, there needs to be an extra SSL_CTX_config call for each created context. Additionally, node could also expose a way to supply a name of the configuration to be passed to SSL_CTX_config allowing even further SSL customization

[2018-12-05 01:08] webarchymeta commented on #24311
Yeah, I am back to use Windows services. It seems to stop crashing on my side as well, for a few days. Kind of strange ...

[2018-12-05 01:08] #24311 closed

[2018-12-05 02:31] bradennapier opened #24842 "Should Collections act this way?"
* **Version**: 11.3.0 (but on all versions with collections)
* **Platform**: OSX

This very well could be defined behavior - I glanced over the spec but didn't see anything.  Just ran into this situation where an iteration of a collection called a method that added to the collection and caused an endless loop since it was meant to be handled on the next tick instead.  Since arrays and such don't w

[2018-12-05 02:37] bradennapier commented on #24842
Nevermind I noticed https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set/forEach

[code]

[2018-12-05 02:37] #24842 closed

[2018-12-05 03:12] joyeecheung commented on #24403
Interestingly, this only seems to happen with this specific test, it seems somehow `-c` triggers the race condition more often than the others, see https://github.com/nodejs/reliability/issues/19

[2018-12-05 05:45] ronkorving commented on #22994
I'm personally all for exposing these options. Not having been involved in the original authoring of dgram though, I'm not sure why things are the way they are.

[2018-12-05 11:01] joyeecheung commented on #24456
[code]

I am able to produce this locally. Looks like somehow the callback of `pipeline` doesn't get called when the readable string is destroyed

[2018-12-05 11:14] joyeecheung commented on #24456
[code]

with NODE_DEBUG=http2 enabled

[2018-12-05 11:30] joyeecheung commented on #24456
[code]

With NODE_DEBUG=* enabled, this should be what happens around the last chunk is pushed into the readable stream

[2018-12-05 11:31] joyeecheung commented on #24456
cc @nodejs/streams any ideas what may cause the callback of `pipeline` not being called?

[2018-12-05 12:06] MasterJames opened #24848 "options.servername is '2001' for IPV6 address"
NodeJS 11.3.0 on Unbuntu 16 and 18 via VirtualBox
https://github.com/nodejs/node/blob/f512f5ea138fe86e47c0179d5733044daf6f4fe6/lib/_tls_wrap.js#L1148

Here is seems options.servername shows a value of "2001" when an IPV6 address is connecting.
the 'host' name is the proper full ipv6 address and would be better there.

Maybe it should convert separators to a hostname accepted character.
It could be

[2018-12-05 13:29] guybedford commented on #20052
Can this be closed since https://github.com/nodejs/node/pull/20300 was merged?

[2018-12-05 14:12] Trott commented on #24129
https://ci.nodejs.org/job/node-test-binary-arm/4667/RUN_SUBSET=2,label=pi3-docker/console

[code]

[2018-12-05 14:14] Trott commented on #24403
This is happening so often that I guess there's not much to be gained in pointing out when it happens much anymore, but here's one anyway:

https://ci.nodejs.org/job/node-test-commit-aix/19414/nodes=aix61-ppc64/consoleText

[code]

[2018-12-05 14:42] Trott commented on #24129
I wonder if V8 optimizes out the loop in this bit of code from the test, which is now causing this failure to show up once in a while because `process.title` setting is actually asynchronous.

[code]

[2018-12-05 15:35] Trott commented on #24129
Load appears to not actually be a factor perhaps:

[code]

[2018-12-05 15:36] addaleax commented on #24403
@Fishrock123 @MylesBorins @Trott Yes, there’s not much point in this output by itself. What might actually help is core dumps + the accompanying binaries.

[2018-12-05 16:27] sam-github opened #24850 "are the YAML "added" annotations ambiguous? and are they rewritten on backport?"
* **Version**: all node.js docs
* **Platform**:
* **Subsystem**:

cf. https://github.com/nodejs/node/pull/24847

The added annotations are very useful, and at the same time, I think they are slightly ambiguous, or at least their interpretation is subtle! And undocumented: https://nodejs.org/api/documentation.html at least doesn't describe them, but perhaps they are described elsewhere?

Examples:

[2018-12-05 16:35] sam-github commented on #24848
Do you have a small standalone piece of code that can be run to demonstrate the problem you see?

[2018-12-05 16:41] SimenB commented on #24850
How is this related to docker?

[2018-12-05 16:42] chorrell commented on #24850
Probably a typo?

[2018-12-05 16:45] targos commented on #24850
The problem is not exactly with the release process. When the PR lands on master, it should already include a REPLACE placeholder in the docs metadata. Then when releasers include the change, that placeholder is replaced with the actual version number. The release commit that does it is cherry-picked to master.

[2018-12-05 16:46] sam-github commented on #24850
Sorry at-nodejs/docker! I meant @nodejs/documentation .

[2018-12-05 16:46] targos commented on #24850
The main issue is that we forget too often to include the placeholder in semver minor changes

[2018-12-05 16:46] addaleax commented on #24850
Yeah, I would assume that what releasers have done so far when cherry-picking the release commit to master from an older (e.g. LTS) release line, is to solve the merge conflict with the existing `added:` marker from a newer release line by overriding it, instead of merging the `added:` tags?

[2018-12-05 16:47] sam-github commented on #24850
@targos that happens when a change is released in a "current" release branch, but what about when it is released further, into the LTS branches?

[2018-12-05 16:50] targos commented on #24850
@sam-github I have never prepared an LTS release so I'm not sure but this part of the process should be identical.
As @addaleax said, maybe sometimes releasers removed a conflicting line instead of merging them.

[2018-12-05 16:52] sam-github commented on #24850
@addaleax the process you describe seems like it might work... any reason why it didn't for URL? https://github.com/nodejs/node/pull/24847 predates that process? The process is not documented? The process wasn't followed?

@targos that part of the process can't be identical, can it? When picking from master to current, there are REPLACEME  tags in the markdown files. When picking from current to L

[2018-12-05 16:53] targos commented on #24850
Anyway, one thing that we currently don't do, is cherry-picking between release lines. So in the current state, if no mistake was done and a change happened in v11.4.0 and later in v10.15.0, only the documentation on master would have both "added" fields. Release docs would only include their corresponding version

[2018-12-05 16:54] targos commented on #24850
Is it what LTS releasers do? In that case you're right

[2018-12-05 17:16] Jimbolino commented on #23203
will this fix be backported to v10 or v11 ?

[2018-12-05 17:31] sam-github commented on #23203
It can't be backported, its semver-major (breaks the API): `import crypto from 'crypto'; assert(crypto.DEFAULT_ENCODING);` would start to assert after the change.

[2018-12-05 18:28] rokity opened #24851 "require('./index.js') doesn't work, but require("./index.js") works on node v.10.14.1"
* **Version**: v10.14.1
* **Platform**: Ubuntu 18.04.1 LTS (Desktop)
* **Subsystem**:  https://nodejs.org/api/modules.html (modules)

Hi

I try to require my module this is the code of index.js
[code]
And if you want more specification about the case this is the code about [./lib/linux.js](https://github.com/sindresorhus/wallpaper/blob/master/lib/linux.js) .

But I think it's not a problem about l

[2018-12-05 19:50] #23825 closed

[2018-12-05 20:21] sam-github commented on #22308
docker containers not having a functional init is a common source of problems, at least when the container runs code that creates sub-sub-processes that don't get waited on by the sub-process. I recall reviewing C code for a mini-reaper of @rmg that was used as a runner. I wonder if the `--init` option is newish? Providing it seems the right  thing to do for containers with complex sub-process man

[2018-12-05 20:55] aduh95 commented on #24851
I tried to clone the repo you mentionned, and I create three files containing:

[code]

[code]

[code]

All the three files worked for me.

I can assure you this is not a problem about quotes; no matter what type of quotes you use to create the string, it will represent the same String object in your example.

I suggest you to try to post your issue on [@nodejs/help](https://github.com/nodejs/help

[2018-12-05 21:06] BridgeAR commented on #24851
@aduh95 thanks for looking into this.

[2018-12-05 21:06] #24851 closed

[2018-12-05 21:08] #23838 closed

[2018-12-05 22:07] aautio commented on #24105
I've submitted #24856 as a fix for the documentation.

[2018-12-05 22:10] rvagg commented on #22308
I can buy that as an explanation I suppose. It's just strange that were only seeing this on one of the dockerised platforms. Granted, Ubuntu 16.04 is used for the majority but we've also had alpine in there for a while now without seeing this. Maybe it's a minor musl change that's impacted timing in some subtle but reliable way.

[2018-12-05 22:11] BridgeAR commented on #22234
@Trott it is currently not tracked. I believe we could check this when we have a Code & Learn upcoming as consolidating these would be a great task (likely multiple ones).

[2018-12-05 22:28] mike-marcacci opened #24857 "Memory leak in http"
* **Version**: v11.3.0
* **Platform**: Darwin Mikes-MacBook-Pro.local 18.2.0 Darwin Kernel Version 18.2.0: Fri Oct  5 19:41:49 PDT 2018; root:xnu-4903.221.2~2/RELEASE_X86_64 x86_64
* **Subsystem**: http

I've been trying to diagnose a memory leak, and have reduced it to the most basic use of `http.createServer()`:

[code]

[code]

The memory profiler shows additional (system) and (array) types add

[2018-12-05 22:31] BannerBomb opened #24858 "Memory std::bad_alloc"
* **Version**:
Node v10.14.1
* **Platform**:
Linux ubuntu 4.15.0-29-generic #31-Ubuntu SMP Tue Jul 17 15:39:52 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

After upgrading from nodejs v10.14.0, I start my small program using `node .` and the memory usage rises from >400MB until the ram is at 100% which is where I am greeted with
[code]
which did not happen until I upgraded to node v10

[2018-12-05 22:58] bnoordhuis commented on #24857
`--inspect` causes a number of things to be retained for a long time, sometimes forever.

You can track GC with `--trace_gc` and (optionally) `--trace_gc_verbose`. There's no memory leak unless the process actually dies with an OOM error after some time, but that would be surprising.

RSS or VMEM growing is not a reliable indicator, that's just the GC resizing the heap so it doesn't have to sweep

[2018-12-05 23:28] #24857 closed, assigned to nobody

[2018-12-05 23:39] jsatk commented on #23992
Also confirmed it's working now that I've re-imported the release team's keys.

[code]

[2018-12-06 03:01] Trott commented on #22994
/ping @bnoordhuis maybe?

[2018-12-06 03:01] Fishrock123 commented on #22825
This might be fixed in later 8.x versions?

I wan't able to process a v8 log in 8.11 but was able to in 8.14? Maybe it was just a fluke, idk.

[2018-12-06 03:08] richardlau commented on #22825
[8.13.0](https://nodejs.org/en/blog/release/v8.13.0/) contains the [backported fix](https://github.com/nodejs/node/commit/2ae98ce7cb) for the `ReferenceError: printErr is not defined` error.

[2018-12-06 04:14] Fishrock123 commented on #22825
Ok, seems like this has been fixed.

[2018-12-06 04:14] #22825 closed

[2018-12-06 04:44] MasterJames commented on #24848
Not off hand it's one server talking to another server so it's not like it works in JSFiddle.
It seems this is not the place servername is set wrongly from the IP. Truncating at the first none server name qualifing character makes sense, except when it's a IP address. It likely would be wise to convert it in some intelligent way so they remain identical. I guess I am repeating myself.
I think it i

[2018-12-06 07:50] mcollina commented on #22994
I’m +1 for exposing the options, I think it just needs somebody to work on this one.

[2018-12-06 07:57] oyyd commented on #22994
It seems that windows doesn't support `IP_MULTICAST_ALL` directly. (Just FYI.)

[2018-12-06 07:57] bnoordhuis commented on #24858
Do you have a standalone test case? 'Standalone' meaning using no third-party dependencies, only built-in modules?

[2018-12-06 08:00] bnoordhuis commented on #24829
I'm closing this out pending evidence it's an issue with Node.js core. Let me know when there's reason to reopen.

[2018-12-06 08:00] #24829 closed

[2018-12-06 09:10] MasterJames commented on #24848
Okay so I tried without knowledge to track down where this is not being set correctly.
So far Searching for SetServername led me to.
https://github.com/nodejs/node/blob/f512f5ea138fe86e47c0179d5733044daf6f4fe6/lib/_tls_wrap.js#L648
Which seems to need to call validateString it's possible in here is where to stringReplace ':' with '-' or '_' or omitted with '::' being 0000 or whatever works as a se

[2018-12-06 09:37] QinZonger opened #24871 "supervisor is Plug in unlimited startup"
After listening for a file, the file remains unchanged and it is refreshed, thus creating a phenomenon of constant restart.

supervisor ：0.12.0
node ：10.13.0

[2018-12-06 09:43] tibinthomas opened #24872 "Need change in the read me file"
Could we change the sentence **Node.js is a JavaScript runtime built on Chrome's V8 JavaScript engine.** to **Node.js is a JavaScript run-time that is built on Chrome's V8 JavaScript engine.**?

[2018-12-06 09:46] kuseni opened #24873 "node option to run without console on Windows"
Is it possible to add option to node v10 and later to run it without Windows console (as a result without extra conhost.exe process and with process.stdout.isTTY == false)?

[2018-12-06 09:52] rokity commented on #24851
Yes, sorry.
I don't know why yesterday it doesn't work.
Sorry

[2018-12-06 10:04] bnoordhuis commented on #24873
Duplicate of #556 which was closed due to lack of consensus / a way forward. If you want to see it happen, you should chime in on that issue.

[2018-12-06 10:04] #24873 closed

[2018-12-06 10:06] bnoordhuis commented on #24872
You're proposing s/runtime/run-time/? Note that our documentation overwhelmingly favors "runtime", no dash.

[2018-12-06 10:07] bnoordhuis commented on #24871
You should report that to the supervisor project, unless there is reason to believe it's a Node.js bug - but in that case you should explain why and post steps to reproduce. Closing until further notice.

[2018-12-06 10:07] #24871 closed

[2018-12-06 10:12] ZYSzys commented on #24872
IMHO, the sentence at present is appropriate enough, I don't think we need to change that.

[2018-12-06 11:39] netproteus commented on #22360
I've just spent the last 3 days trying to follow thenable chains 3 dependencies deep from the code in my actual application. (Objection => Knex => Tarn) Was absolutely miserable to try and find the problems, thus far have found 3 and still there are more somewhere. And I suspect yet more in other code paths. It's all very well to say this can be worked around with AsyncResource, but thenables are

[2018-12-06 12:05] bnoordhuis commented on #22994
Node.js and libuv only support what can reasonably supported across platforms. As @oyyd mentions, there's no equivalent of `IP_MULTICAST_ALL` on (for example) Windows, so exposing it directly isn't an option.

However, libuv could call `setsockopt(IP_MULTICAST_ALL, 0)` to turn off promiscuous mode on Linux, that would make the behavior align with Windows and other Unices. Would that work?

The que

[2018-12-06 12:31] kunalkukreja commented on #23237
The issue persists in v8.14.0 too.

On debugging further the issue is being caused by gzip option in the request. Passing the header 'Accept-Encoding' = 'deflate'  fixes the issue. Both 'gzip' and 'gzip, deflate' values throw the error. The default value set by request library for 'Accept-Encoding' is 'gzip, deflate'. Refer [this](https://github.com/request/request/blob/master/request.js#L387)

[2018-12-06 14:36] Trott commented on #20628
https://ci.nodejs.org/job/node-test-binary-arm/4703/RUN_SUBSET=4,label=pi1-docker/console

test-requireio_bengl-debian9-armv6l_pi1p-1

[code]

[2018-12-06 15:01] medikoo commented on #22360
I'll reopen this until we settle on how that's expected to be addressed.

Currently the only way to somehow handle this case is via configuring `thenable.then` as getters, still that doesn't seem to be 100% bulletproof, so I'm not convinced that should be coined as expected approach.

[2018-12-06 15:32] devsnek commented on #24872
fwiw: my code evaluates at run-time in the node.js runtime

[2018-12-06 15:45] AdamMajer commented on #24370
There seems to be typos in the release blogs w.r.t. CVE numbers.

https://nodejs.org/en/blog/release/v11.3.0/

needs to change **CVE-_2019_-0735**  -> **CVE-_2018_-0735**

Also changelogs are effected,
https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V11.md#11.3.0

The git changelog messages seem correct

[2018-12-06 16:43] AndreasMadsen commented on #22360
It isn't, and it is not how native promises work either. The expectation is that the use imitates how native promises work using `AsyncResource`. It is possible that how native promises work, is also not desirable. Unfortunately, it doesn't appear to be possible to turn the discussion in that direction.

[2018-12-06 17:58] DragonOsman commented on #24448
I tried specifying `static` and `nobuild` for `vcbuild` when generating project files and then tried to build the other projects before the main node.vcxproj one.  But node.vcxproj keeps failing with linker errors.  I have the log file.  Gist link: https://gist.github.com/DragonOsman/ea32bd66414064d5c390854ce3ac1db2 .  The reason it's so long with so much info is because I chose the setting for th

[2018-12-06 18:07] Trott commented on #20628
I'm hopeful that a robust solution might be to determine the right timeout empirically at runtime. Working it out right now....

[2018-12-06 18:31] Trott commented on #20628
Proposed fix: https://github.com/nodejs/node/pull/24877

[2018-12-06 18:38] annabokhan commented on #24818
In our specific scenario the client does not support SHA-512 signatures due to limitations of the hardware (TPM to be specific), thus we need to exclude them

[2018-12-06 18:51] gabrielschulhof commented on #24249
We concluded at today's N-API meeting that `napi_threadsafe_function` is the only API we could include in version 4, and that it would require a backport to Node.js v8.x before we could consider it stable.

[2018-12-06 19:08] bnoordhuis commented on #24818
Not sure I follow, let's make sure we're on the same page. Node.js is the TLS client, right? How exactly does the TPM factor in? Are you using a custom openssl engine to provide certificates or verification?

[2018-12-06 19:33] manuth opened #24878 "Native Modules cannot be unlinked"
I'm having a little a strugle with unlinking a native node-module.
After a native module has been required it cannot be unlinked anymore as the system complains it's still opened by node.js.

Is there some way to "unrequire" such a file?
Is this behaviour expected?

Related issue:
  - https://github.com/sass/node-sass/issues/2558

[2018-12-06 19:46] kangman opened #24880 "Node 8.14.0 keep-alive request fails"
* **v8.14.0**:
* **Linux 27c86cbb86c6 4.4.43-boot2docker #1 SMP Wed Jan 18 18:33:18 UTC 2017 x86_64 Linux**:
* **http**:

using the example provided in https://github.com/nodejs/node/issues/24760

within a single telnet session I get the same issue with connection being closed

[code]
the second request being made 10 seconds after

same issue where the connection is closed right after sending the

[2018-12-06 20:13] medikoo commented on #22360
So if I understand right, you state that use case of lazy thenables is invalid (because it's not how native promises work) and we should not expect it to be covered by async_hooks (?)

[2018-12-06 20:47] rektide commented on #21014
Talked with @jdalton some on twitter. He's intending to switch his standard-things/esm project over to exposing non-enumerable properties. This won't make `import {readFile} from '[something-or-other]'` possible (which would be the most natural & desireable in the EcmaScript module world) but it should mean we can at least `import {promises} from 'fs'` which is better than where we are now.

[2018-12-06 21:23] bnoordhuis commented on #24878
That's expected behavior (on Windows.) A binding.node is just a DLL with a different extension; Windows doesn't allow you to delete those when they're still in use by one or more processes.

[2018-12-06 21:23] #24878 closed

[2018-12-06 21:29] #23789 closed, assigned to nobody

[2018-12-06 21:31] bnoordhuis commented on #24835
I'm going to close this out for now but let me know if it turns out to be a bug in Node.js and I'll reopen.

[2018-12-06 21:31] #24835 closed

[2018-12-06 21:34] bnoordhuis commented on #23301
Since no one has spoken up I'll take the liberty of closing this out. Let me know if (and why) I should reopen.

[2018-12-06 21:34] #23301 closed

[2018-12-06 22:00] bnoordhuis commented on #20804
It is technically possible to make this happen but, as Anna mentions, doing it properly significantly complicates signal handling; think signal masks, watchdog threads and asynchronous termination exceptions. We'd also need to carefully audit the code base for termination exception safety.

I'm going to say the cost/benefit ratio currently isn't worth it and close this out. If someone volunteers,

[2018-12-06 22:00] #20804 closed

[2018-12-06 22:04] bnoordhuis commented on #24765
@bathos You want to follow up? I'll close out this issue in a few days otherwise.

[2018-12-06 22:06] AndreasMadsen commented on #22360
Correct.

I don't think it technically possible to cover thenables natively via V8. If it is, then it should be done in a unified way that appears the same regardless of whether it is a promise or a user-defined thenable.

[2018-12-06 22:20] bnoordhuis commented on #24645
@cristian-bicheru What do you want to do with this? If your hypothesis is correct, that makes it an upstream issue; that's not something we can fix.

If you still want to pursue it here, you should probably post your python code, so we can cross-check that it's doing the same thing as openssl.

You can check against the example C code on the [openssl DH wiki page](https://wiki.openssl.org/index.ph

[2018-12-06 22:44] bnoordhuis commented on #23209
Closing, no followup by OP. Let me know if I should reopen.

[2018-12-06 22:44] #23209 closed

[2018-12-06 22:46] #22960 closed

[2018-12-06 23:00] bnoordhuis commented on #22745
I can't find an accompanying pull request and the issue itself seems to have stalled out. I'm going to close it out but let me know if I should reopen.

[2018-12-06 23:00] #22745 closed

[2018-12-06 23:10] netproteus commented on #22360
I think everyone is getting caught up in the detail of the current implementation and not thinking about the practically of using this api in real life.

If you are using a library that has an async api, perfectly compliant with the Promise/A+ spec you shouldn’t have to worry that somewhere in the depths it broke the context chain because it used a lasy thenable somewhere.

In that scenario you ha

[2018-12-07 02:57] indutny opened #24881 "Move llhttp and llparse to Foundation"
See: #24730 and others.

Does @nodejs/tsc think that `llhttp` and `llparse` repos should be moved to Node.js foundation?

[2018-12-07 04:45] bathos commented on #24765
@bnoordhuis Follow up as in open a PR for this or as in clarify?

Clarifying would be: yes, making the seen array inaccessible or otherwise immutable from outside, but also stashing references to intrinsics like isArray at module evaluation time instead of relying on dynamic property lookup. I believe this strategy is already used in some other places already in node internals(?).

If you’d like,

[2018-12-07 05:59] tibinthomas commented on #24872
As a non-native speaker, it took me a while to really understand what the definition of Node really meant.

Also I asked my office colleague, who works in Node to explain NodeJS, he said it is a server.

I think it is very important to give a definition that can also be understood by a non native speaker.

[2018-12-07 06:06] indutny commented on #24881
Closing in favor of https://github.com/nodejs/admin/issues/280

[2018-12-07 06:06] #24881 closed

[2018-12-07 07:10] T94T commented on #24024
We are taking the prebuilt binaries from nodejs.org now.

[2018-12-07 07:10] #24024 closed

[2018-12-07 08:30] AndreasMadsen commented on #22360
I would love to change the current implementation if what you suggest makes sense. But at the moment I have only seen problems being described, without any concrete solutions. It is not because I don't want to help, it is because I don't know how!

[2018-12-07 11:02] cclauss opened #24891 "Can we pip install jinja2 and markupsafe instead of vendoring them in?"
Related to #21897, #24512, and #24882

**Is your feature request related to a problem? Please describe.**
_Vendoring_ is already rare in the Python world and the process of removing it is accelerating.  Our codebase becomes large and inflexible when we vendor in because we take on board the incompatibilities of third party modules.  It requires detective work just to tell what versions of these pa

[2018-12-07 11:09] adroit1234 opened #24892 "Convert promise based code to async await"
My testcase code looks like this-

it("should do something", function(done) {
function1("someparam").then(() => {
function2("someparam").then(() => {
functionN("someparam").then(() => {
comp(expectedfile,0.001,actualfile, done);
});
});
});

I want to use async await to make this more readable and avoid all this nesting. Can someone help me understand how to do it?

Regards
+Ad

[2018-12-07 11:43] BridgeAR commented on #24892
Please open questions in the https://github.com/nodejs/help repository.

What you want looks like:

[code]

[2018-12-07 11:43] #24892 closed

[2018-12-07 11:48] Anithabalu commented on #24872
I too got confused while reading it for the first time, it sounded weired. Definitely, adding a definition to it will help many people to understand it quickly

[2018-12-07 12:06] medikoo commented on #22360
Isn't it V8 that schedules `thenable.then` invocation for next microtask? If it's so, why it can't also expose means that will allow to track that execution path?

[2018-12-07 12:17] netproteus commented on #22360
I would love to help but I'm afraid I don't know enough about the internal's of node / v8 so my suggestions would be superficial. I'm very happy to help with testing or to provide more concrete uses cases or real world examples of where this is broken.

[2018-12-07 13:44] bnoordhuis commented on #24765
I was asking for clarification but a PR would be even better. The relevant code is in `lib/internal/util/inspect.js`; tests are in `test/parallel/test-util-inspect*.js`.

Correct, but to manage expectations: it's as a resilience thing for monkey-patches gone wrong, it's not an arms race to stop malicious tampering.

[2018-12-07 13:51] bnoordhuis commented on #24891
One of the goals of the build has always been to have as few external dependencies as possible, to decrease friction for builders and maintenance hassle for maintainers. Examples: openssl, zlib, gyp.

We kind of moved away with that for linting but at least that's our "own turf", so to speak; they're JS dependencies installed through (the vendored copy of) npm.

[2018-12-07 14:04] bnoordhuis commented on #23237
It sounds like this is a server issue, if it doesn't like the 'gzip' value in the Accept-Encoding header.

Are you sure the Node.js version is the only factor? E.g., perhaps you also wittingly or unwittingly updated request when you upgraded Node.js and it now contains some changes that exacerbate it?

Can you reproduce standalone? I.e., no request, no third-party server?

[2018-12-07 14:34] guybedford opened #24894 "Dynamic Modules Development in Node.js"
I wanted to just provide a brief update on the status of the dynamic modules specification in Node.js - https://github.com/nodejs/dynamic-modules.

This proposal is designed to support the use case of named exports from CommonJS when importing them from ES Modules:

[code]

The proposal is moving to final review stages with the details now all worked out as an ECMA-262 patch (https://github.com/tc

[2018-12-07 15:19] devsnek commented on #24894
:shipit:

@nodejs/modules @nodejs/v8

[2018-12-07 16:17] watson opened #24896 "http2 crash: double free or corruption (fasttop)"
* **Version**: v8.14.0
* **Platform**: `Linux apm-ci-immutable-ubuntu-1604-1544197096218091162 4.15.0-1025-gcp #26~16.04.1-Ubuntu SMP Wed Nov 21 10:13:20 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`
* **Subsystem**: http2 (as far as I can see)

Node.js just crashed with the following stack trace on one of our Jenkins servers:

[code]

_Full Jenkins log: https://apm-ci.elastic.co/job/elastic+apm-agent-

[2018-12-07 16:19] addaleax commented on #24896
Since as you mention this is likely hard to reproduce: You don’t happen to have a core dump available, do you?

[2018-12-07 16:34] Trott commented on #24403
Because this test spawns so many subprocesses asynchronously, it's very easy to recreate this test failing both in the ways reported above and other ways.

[code]

[2018-12-07 16:40] Trott commented on #24403
Stress test to see if just running the test by itself results in failures:  https://ci.nodejs.org/job/node-stress-single-test/2120/

RUN_TEST: parallel/test-cli-syntax
RUN_TIMES: 1000
RUN_LABLE: alpine-last-latest-x64

[2018-12-07 16:45] Trott commented on #24403
Uh oh! Looks like some recent changes that @gabrielschulhof made to the Makefile need to be replicated in Jenkins maybe? @nodejs/build

[code]

[2018-12-07 16:51] sam-github commented on #24891
Funny, a copule days ago I installed a python tool that's README said "use pip to install". Took me 10 minutes to figure out what package I needed to install pip on Ubuntu.... and then more googling because the python packages wouldn't compile because the -dev library packages they needed weren't installed... It worked out in the end, but there are tradeoffs.

Chrome, go, and Node.js are counter-n

[2018-12-07 16:56] Trott commented on #24403
OK, I think I fixed it. Let's try again:

Stress test to see if just running the test by itself results in failures:  https://ci.nodejs.org/job/node-stress-single-test/2121/

RUN_TEST: parallel/test-cli-syntax
RUN_TIMES: 1000
RUN_LABLE: alpine-last-latest-x64

[2018-12-07 17:40] Trott commented on #24403
15 failures of all different kinds, including segmentation faults. Output says `core dumped`. @nodejs/build Can anyone retrieve a core file?

[code]

[2018-12-07 17:41] SaltyMonkey opened #24897 "setTimeout eating CPU time and doing infinity stuck with non-whole delay"
* **Version**: 11.3.0
* **Platform**: Windows (possible affected another platforms too)
* **Subsystem**: Timers

setTimeout eating CPU and cant fire if delay is non-whole number.

Can be easily reproduced even from node-cli:
[code]
Working example:
[code]

Possible related issue from past: https://github.com/nodejs/node-v0.x-archive/issues/8065

Update: it working sometimes

[2018-12-07 17:47] watson commented on #24896
I don't think so as our Jenkins workers don't live very long, but let met just check...

[2018-12-07 17:53] richardlau commented on #24897
Possibly addressed by https://github.com/nodejs/node/pull/24819?

cc @nodejs/timers

[2018-12-07 17:56] watson commented on #24896
Turns out we do store core dumps on disk, but as it was a dynamic worker it no longer exists unfortunately. If it's impossible to see what's going on without the core dump, let's just close the issue. Unless you think the stack trace might be enough?

[2018-12-07 17:57] richardlau commented on #24278
I've slowly been bisecting `master` and it looks like the update to V8 7.0 (0e7ddbd3d7e9439c67573b854c49cf82c398ae82) was the one that broke on my system (I can build commits prior to that one).

Since nobody else has reported anything similar I'm going with a potential compiler issue and will try to update that and see if that fixes things.

[2018-12-07 18:00] addaleax commented on #24896
@watson I’m not sure. This could be a somewhat serious bug, so it might warrant a bit more digging – but yeah, it’s hard to debug memory corruption errors either way…

[2018-12-07 18:22] joyeecheung commented on #24891
I think adding one more external dependency that is as complicated as a `pip install -r requirements.txt` (instead of some simple `curl`ing) would make the project harder to contribute. Imagine how it's going to affect a code-and-learn session where I suspect there will be significant amount of people getting confused on how to set up Python and pip properly before they can start building Node.js

[2018-12-07 18:23] targos commented on #24278
@richardlau does it still fail with the new V8 7.1?

[2018-12-07 18:45] targos commented on #24897
It was fixed in https://github.com/nodejs/node/pull/24214 and just released in Node.js 11.4.0

[2018-12-07 18:45] #24897 closed

[2018-12-07 18:48] Alex1233456 opened #24899 "HTTP Send Post-Request fails."
I am trying to get staff information like name and email using GID but the following Errors appears while trying to send Post request.

Error: write EPROTO 101057795:error:14094410:SSL routines:ssl3_read_bytes:sslv3 alert handshake failure:openssl\ssl\s3_pkt.c:1498:SSL alert number 40 101057795:error:1409E0E5:SSL routines:ssl3_write_bytes:ssl handshake failure:openssl\ssl\s3_pkt.c:659:

at _errnoE

[2018-12-07 18:51] richardlau commented on #24278
@targos I'll try on Monday.

[2018-12-07 19:05] Alex1233456 commented on #24899
@kishoreaoe any idea please? your comments are alway helped me 👍  would be very thankful for helping me further

[2018-12-07 19:11] watson commented on #24896
Hmmm I actually just got this failure again I think on another Jenkins worker. This time I didn't get the nice stack trace as you saw before but it just died in the exact same location. But that could a an issue with how we're using Node it self to spawn another node process that runs the actual code. And if that other process dies, we might not always get the full content of STDERR I guess