[2017-08-15 00:12] MylesBorins commented on #9706
I've landed the fix in v6.x-staging in 5160d3d945

[2017-08-15 00:47] tutman96 commented on #14794
Been running it in production on several high traffic components since 4.2.1 and have had no major memory leaks. No performance degradation compared to the old async-listeners implementation.

One thing we did notice was the asynchronous hooks generated by promises didn't get "destroy"ed until the promise got garbage collection. This caused a little bit of memory run away under very high traffic (

[2017-08-15 02:12] matthewloring commented on #14802
Does this code ever run on windows or are linux-only operations allowed?

[2017-08-15 04:56] tecfu commented on #1128
"This issue has been inactive for sufficiently long that it seems like perhaps it should be closed."

I can't see a drop off in conversation about an issue after two years open ever being a valid rationale for closing it. This just speculation, but perhaps people are less likely to bet a dead horse at this point since its obvious that no one has stepped up to address this.

[2017-08-15 05:07] Trott commented on #1128
OK, fine, make me actually explain the rationale rather than rely on my boilerplate issue-triaging text.

People can use `async-hooks` for this functionality. If there are use cases that aren't covered by that, no one has mentioned them (at least not as far as I can see).

The question "Should this be closed now that async-hooks is a thing?" received no responses other than two thumbs-up emoji res

[2017-08-15 06:45] git-santosh commented on #13635
10621 verbose Windows_NT 10.0.15063
10622 verbose argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install" "--save"
10623 verbose node v8.2.1
10624 verbose npm  v5.3.0
10625 error code EINTEGRITY
10626 error sha1-PTDHGLCaPZbyPqTMH0A8TTup/08= integrity checksum failed when using sha1: wanted sha1-PTDHGLCaPZbyPqTMH0A8TTup/08= but got sha1-I

[2017-08-15 08:30] piranna commented on #1128
A link to the async-hooks would be good...

El 15/08/2017 07:08, "Rich Trott" <notifications@github.com> escribió:

[2017-08-15 08:35] bnoordhuis commented on #14802
No, never runs on Windows.  (Weirdly, it's not surrounded by an `#ifdef __POSIX__`.  It should be, it's dead code.)

If you mean 'POSIX-only' rather than 'linux-only', yes, that's okay.  Signals aren't a thing on Windows.

[2017-08-15 11:30] joaolucasl commented on #14823
The spread operator is a pretty good solution for this, imho, but I like the idea of an option to ease the work of merging too.

I thought of something like:
[code]
**`mergeEnvs`** `<boolean>` If `true`, merges the `env` property with `process.env`. (Default: `false`).

The naming might be tricky to get right, since to be descriptive enough it would have to be longer lol

[2017-08-15 12:23] overflowz opened #14839 "long polling implementation on osx"
Hi, this piece of code works fine on node 0.12.7, while on 8.1.0 not (gives session id unknown). After reducing pingInterval to 3s (less than 5) then it works fine.

[code]

By the way, can confirm that this works fine on linux and windows, but not on mac on latest node.
socket.io and express.js version does not matter, tried many of them but had still same issues.

Version: v8.1.0
Platform: Darwi

[2017-08-15 12:29] overflowz commented on #14839
never mind, seems fixed in v8.3.0, sorry!

[2017-08-15 12:29] #14839 closed

[2017-08-15 13:08] chicoxyzzy commented on #13209
It was implemented in Chrome Canary DevTools
https://twitter.com/umaar/status/897408737694109697

[2017-08-15 13:21] evanlucas commented on #14823
I feel like this is something that could easily be done in an npm package

[2017-08-15 15:11] davedmarketing opened #14840 "process.pid incorrect on Ubuntu 16.04.3 LTS node v8.3.0"
Version: v8.3.0
Platform: Ubuntu 16.04.3 LTS running from vnc if that matters

Not sure if it's a bug but it feels like one:

	const firefox = exec("firefox", () => {})

	setTimeout( () => {

	    console.log(firefox.pid) // outputs "20930it" instead of actual pid "20931"

	    process.kill(firefox.pid) // does not work

	    firefox.kill() // does not work

	    process.kill("20931") // works

	}

[2017-08-15 15:23] andrasq commented on #14840
`exec()` runs a shell to parse and run the command, and both the shell and firefox get a pid.  To reuse the pid, tell the shell to "exec firefox", as in `const firefox = exec("exec firefox", () => {})` (note the double exec, one by nodejs and one by the shell)

[2017-08-15 15:26] tniessen commented on #14840
This should not happen, `pid` should always be a number.

[2017-08-15 16:02] davedmarketing commented on #14840
I think the "it" might have been caused by something else and the -1 was because of what andrasq said. My bad.

[2017-08-15 16:02] #14840 closed

[2017-08-15 16:33] refack commented on #14823
After reading some POSIX design stories, I tend to agree that this should stay as is for `child_process.spawn` but now I'm worried about the mismatch with [`cluster.fork`](https://nodejs.org/api/cluster.html#cluster_cluster_fork_env)

[2017-08-15 16:36] santigimeno commented on #9706
To be clear. This is still an issue, https://github.com/nodejs/node/pull/13235 didn't fix it.

[2017-08-15 17:06] Trott commented on #1128
Current docs for async hooks: https://nodejs.org/dist/latest-v8.x/docs/api/async_hooks.html

[2017-08-15 17:16] gibfahn commented on #14823
I think a `common` function that adds something to the existing process.env like:

[code]

would make sense, and would hopefully solve the problem we have in tests, which is that adding something to the existing env isn't exactly intuitive.

Whether this is something that the larger community would need is a different question though, and can probably be dealt with separately.

[2017-08-15 17:26] piranna commented on #1128
Thank you :-)

[2017-08-15 18:02] owenallenaz commented on #14420
This ticket is closed but I wanted to leave this here for posterity sake. We recently deployed a fix to our live environment that did nothing other than remove the `WeakMap` usage, and our memory growth has dramatically calmed down.

In the graph below we started the server (running 100 apps) at July 20th which included the WeakMap code. We rebooted it August 1st and 3rd in order to reclaim memory

[2017-08-15 18:17] mhdawson commented on #12646
+1 for Gabriel he has made significant contributions on the N-API side.

[2017-08-15 18:21] Fishrock123 opened #14843 "change test/addons/ to ignore empty folders"
* **Version**: all with `/addons/` tests
* **Platform**: at least macOS and Linux
* **Subsystem**: test

When changing branches sometimes `git` seems to leave empty  folders behind which in the case of the `test/addons/` directory causes at least `gyp` to explode with an error similar to:

[code]

[2017-08-15 18:26] addaleax commented on #14843
@Fishrock123 This is not a Python thing, `build` was appropriate (the error pops up while building the addons from our Makefile, not in the test runner) :)

[2017-08-15 18:30] addaleax commented on #3020
I think at this point the best thing to do might be to ask @gsathya whether it would be okay to extend PromiseHooks so that there’s a way to say “please don’t actually run this” in the `kBefore` hook.

[2017-08-15 18:39] lance commented on #12686
In [#7619](https://github.com/nodejs/node/issues/7619#issuecomment-236608809) @jasnell suggests `close()` should be considered documented and left as-is since it's inherited from `readline.Interface`.

Now that `lineParser` is gone as of 8.x and `REPLServer.bufferedCommand` has been made private, I think this can be closed.

[2017-08-15 18:39] #12686 closed

[2017-08-15 19:07] bradfol commented on #8436
@Trott Yes, we are still experiencing this issue. I don't know of anyone actively working on it.

[2017-08-15 19:39] refack commented on #14843
If anyone want to tackle this but hits the `GYP` wall, feel free to ping me.

[2017-08-15 19:45] ashanhol commented on #14804
To clarify, these options are the [OpenSSL options](https://github.com/nodejs/node/blob/master/doc/api/crypto.md#openssl-options)?
These are strings, correct?

[2017-08-15 19:54] seishun commented on #9531
@ChALkeR pinging once again...

[2017-08-15 20:33] kanongil commented on #12339
@bnoordhuis The server behavior is a perfectly legal way to send a response to a client when the request payload is unnecessary to generate a response. Eg. a `401` response. As such, I believe it needs to be fully supported.

This is irrelevant. If the server has decided to send a response, it doesn't matter how much data actually made it through. The client just needs to handle the response.

I d

[2017-08-15 21:07] Trott opened #14844 "Investigate parallel/test-cluster-send-handle-large-payload failure on FreeBSD"
* **Version**: 9.0.0-pre
* **Platform**: freebsd10-64
* **Subsystem**: test

New and different failure for test-cluster-send-handle-large-payload, this time on FreeBSD.

https://ci.nodejs.org/job/node-test-commit-freebsd/10969/nodes=freebsd10-64/console

[code]

@addaleax

[2017-08-15 21:10] addaleax commented on #14844
*sigh*

Not sure how this can happen, but at least this is an OS I can get access to.

[2017-08-15 21:15] addaleax commented on #14844
Stress test to get an idea of just how flaky this is: https://ci.nodejs.org/job/node-stress-single-test/1375/nodes=freebsd10-64/

[2017-08-15 21:21] cjihrig commented on #14823
Would `common.envPlus()` just be this?

[code]

If so, we could probably live without it.

[2017-08-15 21:33] refack commented on #14823
For `test/common` I was thinking of `common.exec` as there might be a wider pattern in common use, but it requires an audit.

[2017-08-15 22:12] sindresorhus commented on #14823
Check out [`execa`](https://github.com/sindresorhus/execa) which already does this by default. (`extendEnv` option to turn it off)

[2017-08-15 22:14] gibfahn commented on #14823
Raised a PR for discussion purposed: https://github.com/nodejs/node/pull/14845

Not 100% sold on having the function, but it's easier to discuss over code.

[2017-08-15 22:29] refack commented on #14804
AFAICT from looking at the code, they are also [`stream` options](https://github.com/ashanhol/node/blob/cryptoDocUpdate/doc/api/stream.md#new-streamduplexoptions), as these methods wrap the underlining OpenSSL mechanism with a node transform stream.
For example:
https://github.com/nodejs/node/blob/0d22858d67f5f8f7959a55ceca23adafe12827d5/lib/crypto.js#L75-L81
where LazyTransform is
https://github.

[2017-08-15 22:51] Trott commented on #2126
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. Here's my reasoning:

* Throwing is almost certainly out of the question. This is an error that will be discovered asynchronously. We don't know that you have an invalid context until you're in the land of callbacks. Throw and you crash the whole server. Emitting

[2017-08-15 22:51] #2126 closed

[2017-08-15 22:54] refack commented on #14804
@ashanhol thanks for taking this on 🥇
There's an extra credit exercise to follow this up, but it requires some `git` spelunking, so it could wait for a future PR.

[2017-08-15 23:16] Trott commented on #12646
Gabriel's already done!

As of this remaining nominees to onboard:

* @bmeurer (will be onboarded by @fhinkel)
* @BridgeAR (will be onboarded by me in less than 24 hours)
* @sebdeckers (I was trying to set something up with them, not sure what happened, but will resume after @BridgeAR is onboarded)
* @kfarnung (pending CTC consensus)

[2017-08-15 23:28] Trott commented on #1999
Is the consensus here that this should be a userland npm module? Or is this a bug in Node.js that should be fixed?

[2017-08-15 23:33] Trott commented on #12509
Is there anything that can/should be added to this issue? Should it remain open? (I imagine "yes" but asking anyway.)

[2017-08-16 00:00] TimothyGu commented on #1999
I think the general consensus established in #12818 was that `Object.defineProperty` was too slow to be used per-run on the returned object, and defining the getter on the returned object's prototype would cause too many breakages due to `Object.keys()` no longer returning that property. While I agree that making `base` an accessor property would be a better API design, I think we are stuck with i

[2017-08-16 00:11] bnoordhuis commented on #12339
With all due respect, that seems a little naive; it's a very literal reading of the spec.  The real world isn't going to be so simple.

Maybe I didn't make myself clear but the client, whether it's node or something else, _cannot_ reliably know that in advance: the EPIPE error is the operating system telling us the connection was severed.

I thought it over for a good while but I'm not optimistic

[2017-08-16 00:22] ashanhol commented on #14804
Thanks @refack for your comments, they really helped. It's sometimes difficult to determine types.
I updated the branch and will submit a PR. I'm definitely down for the extra credit.

[2017-08-16 00:23] Yugloocamai commented on #13461
@gireeshpunathil confirmed

[2017-08-16 00:33] jcoglan opened #14847 "zlib crashes when given windowBits: 8"
Version: 4.8.2, 6.10.2, 7.6+, 8.0+
Platform: Darwin liskov.home 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64
Subsystem: zlib

On the above versions of Node, this program crashes:

[code]

I believe this coincides with bumping zlib from 1.2.8 to 1.2.11, but I'm not 100% sure. I'm not sure if 8 is no longer a legal value, but `zlib.Z_

[2017-08-16 01:33] Venkat5694 commented on #14843
Working on it.

[2017-08-16 01:56] hubbertj commented on #13787
Still present in v8.4.0!
error:
node -e "require('\u0000abc')"
/Users/Jay/.nvm/versions/node/v8.4.0/bin/node[22326]: ../src/node_file.cc:530:void node::InternalModuleReadFile(const FunctionCallbackInfo<v8::Value> &): Assertion `(numchars) >= (0)' failed.
 1: node::Abort() [/Users/Jay/.nvm/versions/node/v8.4.0/bin/node]
 2: node::MakeCallback(v8::Isolate*, v8::Local<v8::Object>, char const*, int, v

[2017-08-16 03:15] refack commented on #1999
https://github.com/nodejs/node/pull/12511 is half way there. It keeps blinking in and out of my focus... AFAICT it's a less complicated issue than `Stats` but a thorough breakage analysis will need to be done.

[2017-08-16 03:22] refack commented on #1999
[rant warning]
Now I remember what happened... scope-creep...
![image](https://user-images.githubusercontent.com/96947/29345956-3b27c408-8210-11e7-8c7c-e01bafedbbc7.png)
and it's really a pain developing on Windows doing a change-compile-test cycle takes ~30 minutes, which got me focusing more and more or solving that, and puff there goes productivity...

[2017-08-16 03:55] Trott commented on #11805
I revived https://github.com/nodejs/node/pull/12454 in the hopes of getting it landed (or, if there are firm objections to the whole concept, closed).

[2017-08-16 04:33] Trott commented on #12628
PR: https://github.com/nodejs/node/pull/14848

[2017-08-16 04:38] Trott commented on #12096
Did https://github.com/nodejs/node/pull/14465 solve this?

[2017-08-16 06:08] ronkorving commented on #4812
From your quotes, I think the docs are probably quite a bit better now. I'm happy 👍

[2017-08-16 08:04] NickNaso commented on #14847
From zlib documentation seems that current implementation of deflate algorithm do not support windowsBits value of 8.
I report what i found from here [https://www.zlib.net/manual.html](https://www.zlib.net/manual.html)

This behaviour is documented only on version 8 documentation:
[https://nodejs.org/dist/latest-v8.x/docs/api/zlib.html#zlib_zlib_createdeflateraw_options](https://nodejs.org/dist/la

[2017-08-16 08:46] addaleax commented on #14847
This is a duplicate of https://github.com/nodejs/node/issues/13082, I think.

On 8+ it should throw an error, though? Can you make sure?

[2017-08-16 08:46] bnoordhuis commented on #14228
Fixed by #14829.

[2017-08-16 08:46] #14228 closed

[2017-08-16 09:03] james-ansari commented on #13635
12256 verbose type OperationalError
12257 verbose stack Error: sha1-b3oaQGRG+i4YfslTmGmPTO5HYmk= integrity checksum failed when using sha1: wanted sha1-b3oaQGRG+i4YfslTmGmPTO5HYmk= but got sha1-juRg3eV2OcAghs1D6DFD5ZC4ezU=. (130548 bytes)
12257 verbose stack     at Transform.on (E:\nodejs\node_modules\npm\node_modules\ssri\index.js:275:19)
12257 verbose stack     at emitNone (events.js:110:20)
122

[2017-08-16 09:07] darshansimha opened #14853 "Infinite loop on npm install with sudo on mac"
When I run the command "sudo npm install -g @angular/cli" the installation keeps running into an infinite loop.

[2017-08-16 09:18] mcollina commented on #14798
I am -1 on the current wording of this proposal:

I propose to change this into:

The difference is meaningful, and it does not create one more duty for a collaborator if they do not feel to do it. However this can just unblock some PRs that might take too much to land otherwise.

Moreover, this does not encourages newcomers to learn the style of node core. Part of the review process is "teaching"

[2017-08-16 09:26] svidlak commented on #14853
thats because you install nothing. should be "sudo npm install -g *package name*"

[2017-08-16 09:34] bnoordhuis commented on #12509
cc @trevnorris

[2017-08-16 09:55] bnoordhuis commented on #14853
What @svidlak said.  And, if nothing else, npm/npm is the place to report npm issues, not this bug tracker.  Closing.

[2017-08-16 09:55] #14853 closed

[2017-08-16 10:00] bnoordhuis commented on #8436
A possible way forward is for node to skip libuv's thread pool and call `uv_getaddrinfo()` from threads it spawns itself, essentially maintaining its own variable-sized, DNS-specific thread pool.

[2017-08-16 10:00] #14672 closed

[2017-08-16 10:19] kanongil opened #14856 "Docs: http.ClientRequest "timeout" event missing"
The [setTimeout()](https://github.com/nodejs/node/blob/master/doc/api/http.md#requestsettimeouttimeout-callback) documentation mentions an undocumented "timeout" event.

[2017-08-16 10:21] medikoo commented on #9435
Any chance to have that reopen?

[2017-08-16 10:24] #14397 closed

[2017-08-16 11:42] mcollina commented on #445
@nodejs/ctc The three approaches to solve this are described in https://github.com/nodejs/node/issues/445#issuecomment-310028610.

I would recommend to review https://github.com/nodejs/node/pull/12855 and https://github.com/nodejs/node/pull/12857.

[2017-08-16 11:50] refack opened #14857 "http2,doc: links missing definition"
* **Version**: `8.4.0`
* **Platform**: *
* **Subsystem**: doc

https://nodejs.org/api/http2.html & https://github.com/nodejs/node/blob/master/doc/api/http2.md are rendered with `[...][]` around links that don't have a definition (in the footer).

For example:
https://github.com/nodejs/node/blob/85d7d97d8165dbd94a57ed4dbe143c745487ff8c/doc/api/http2.md#L1904-L1907
![image](https://user-images.githu

[2017-08-16 12:15] refack commented on #14325
The main reason is that `--debug` and `--inspect` are completely different implementation, not just the debugger protocol, but also the listening server. It's not surprising that they have different peculiarities.

[2017-08-16 12:21] refack commented on #9435
@medikoo AFAIK GitHub should let you reopen issues you submitted, but in anyway, @eugeneo has set a goal to implement multiplexing multiple inspector "channels" into a single socket connection. This will allow subprocesses to be "inspected" through their parent's socket.

Also as mentioned before, in `node@8.x` it's possible to use arbitrary port binding for inspector with:
`node --inspect=0 some-

[2017-08-16 12:26] kanongil commented on #12339
From https://tools.ietf.org/html/rfc7230#section-6.6, it seems that you are somewhat right.

However, this is data that has already been received from the tcp socket, but is lingering in internal buffers. Afaik, it's not really an error, but rather a standard way to end connections.

[2017-08-16 12:32] medikoo commented on #9435
Only if it's me that closed it. Here it's not the case I'm not able to reopen it.

[2017-08-16 12:43] Rogasch commented on #13635
Same here
`8944 verbose type OperationalError
8945 verbose stack Error: sha1-wNWmOycYgArY4ESSTpSachN1BhF4= integrity checksum failed when using sha1: wanted sha1-wNWmOycYgArY4ESSTpSachN1BhF4= but got sha1-wNWmOycYgArY4esPpSachN1BhF4=. (8058 bytes)
8945 verbose stack     at Transform.on (C:\Program Files\nodejs\node_modules\npm\node_modules\ssri\index.js:275:19)
8945 verbose stack     at emitNone (

[2017-08-16 13:53] jkrems commented on #12096
Verified that in node 8 the following breaks as expected:

[code]

I think this is good to close.

[2017-08-16 15:34] mcollina commented on #14611
I would say we should update the docs to use `'encoding'` instead. @azasypkin would you like to send a PR?

[2017-08-16 15:47] azasypkin commented on #14611
Sure, but will go through `CONTRIBUTING.md` first. Should the fix go to `master` only or PRs for 6/7/8 will be needed too?

And I'm going to update TS type definitions too (I see it has been noticed already https://github.com/DefinitelyTyped/DefinitelyTyped/issues/14981).

[2017-08-16 15:51] mcollina commented on #14611
the fix will go to master, and then we will backport to 8 and 6.

[2017-08-16 17:29] evantorrie commented on #14755
Note:  I know this is closed, but we also had the same problem when building from source on RHEL6.  We pinpointed root cause down to a bug in all versions of glibc earlier than glibc-2.17 due to a bug in how Thread-Local-Offset static storage is handled.  Specifically, this bug https://sourceware.org/bugzilla/show_bug.cgi?id=14898.

I did download the version from https://nodejs.org/dist/v8.3.0/no

[2017-08-16 17:44] refack commented on #14755
@evantorrie This seems related https://github.com/nodejs/build/pull/809#issuecomment-321963360. Hopefully when this lands and is gets backported, you could verify.

[2017-08-16 17:58] jcoglan commented on #14847
This is going to be a problem; [permessage-deflate](https://tools.ietf.org/html/rfc7692) and the Autobahn test suite require that if a server is asked to only use a window size of N to send messages to the client, it commits to using either N or a lower value, including N=8.

It might be; I saw that issue and was unsure. Autobahn is the reason I found the error -- I maintain the [permessage-deflat

[2017-08-16 18:14] refack commented on #14847
@jcoglan see https://github.com/nodejs/node/pull/13098#issuecomment-302361621
which leads to http://zlib.net/manual.html#Advanced (`For the current implementation of deflate(), a windowBits value of 8 (a window size of 256 bytes) is not supported.`)

[2017-08-16 18:18] mtraynham opened #14869 "http - calls from an external IP close after 5-20 seconds using response.end and Content-Length header is set (Node 8.X)"
* **Version**: v8.0.0, v8.1.0, v8.4.0
* **Platform**: Linux 4.10.0-28-generic 32~16.04.2-Ubuntu SMP Thu Jul 20 10:19:48 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux, Linux 2.6.32-573.3.1.el6.x86_64 1 SMP Thu Aug 13 22:55:16 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: http

Executing a request from an external IP address, results in a closed connection after about 5 - 20 seconds when the `C

[2017-08-16 18:33] mhdawson opened #14870 "Still slow startup/shutdown for v8.x"
* **Version**: v8.x
* **Platform**: all
* **Subsystem**: v8

I've been looking for startup performance to go back to normal after the changes for the hashseed problem.

I see that for master, but not for v8.x in the nightly graphs: https://benchmarking.nodejs.org/charts/start_stop.png

I looked at the jobs and it appears to be cloning the right repo and the raw results still show the slower startu

[2017-08-16 18:34] mhdawson commented on #14870
@MylesBorins  @hashseed

[2017-08-16 18:35] restarian opened #14871 "child_process.on("error") does not function as expected in Ubuntu"
Not working with:
* **Version**: 8.2.1
* **Platform**: Ubuntu (linux) 16.04

Works as expected with:
* **Version**: 10.0 16251
* **Platform**: Windows

The example in the [documentation](https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options) cites the following workflow:

[code]
This however only works in Windows environment. In Ubuntu the .on("exit", fun

[2017-08-16 18:56] ashanhol commented on #14804
@refack with the PR in works and waiting on the second round of approval, I'm available to jump into the next issue you had in mind.

[2017-08-16 19:03] AurelienRibon commented on #14229
I don't want to be the sad party guy, but with node 8.4 we still get the same results as 8.1 for the test mentioned in this issue. I'm not sure we can consider this issue as closed. Can you update the status? Do we need to manually enable the snapshots?

[2017-08-16 19:45] evantorrie commented on #14755
Yes, it's the same issue.  In our case, I just patched the v8 source with

[code]

which solved the issue for us internally.

[2017-08-16 20:15] popey456963 opened #14872 "Consider methodologies for reducing the number of files within `node_modules`"
At the moment, `node_modules` contains a comedic number of files for the majority of projects, so much so that /r/programmerhumor has started to make hundreds of posts that make fun of this:

![](https://i.redd.it/q5r8gaz9r3ez.png)

Although the picture is a joke, I do think it touches on an important issue.  Atom, for instance, contains nearly 40,000 files in the latest version.  A [cross-platfor

[2017-08-16 20:25] addaleax commented on #14872
I know @bmeck has given loading archives a bit of support. I, for one, would love to see that supported by Node.

I think that would not involve Node, only package managers; and I *think* [pnpm](https://github.com/pnpm/pnpm) already comes close to what you want, if I understand you correctly.

[2017-08-16 21:08] MylesBorins commented on #3429
@mhart was this affected by the TF+I landing?

[2017-08-16 21:10] MylesBorins commented on #14870
@natorion

[2017-08-16 21:11] mhart commented on #3429
@MylesBorins I mean... I doubt it. But you can always double check! https://github.com/nodejs/node/issues/3429#issuecomment-149387804

[2017-08-16 21:18] MylesBorins commented on #14870
It looks like the re-enabling of snapshots didn't get backported to v8.x

I'm going to dig in a bit more this afternoon to figure out why

[2017-08-16 21:42] yjimk commented on #14872
In the browser, due to the constraints around file size and processing efficiency, assets are generally minified and bundled into a single js file before being sent to the client.

On the other hand, for a nodejs application I haven't seen any kind of compilation step for performance optimization before and would be interested to to hear what people think about this. The bundling could be achieved

[2017-08-16 22:27] jcoglan commented on #14847
@refack I've read that thread but there's a couple of things I still don't know:

- Why is 8 no longer a valid windowBits value?
- What are my options as someone maintaining a library that is supposed to support windowBits=8?

[2017-08-16 22:32] addaleax commented on #14847
@jcoglan You might be interested in looking at https://github.com/madler/zlib/issues/171 :)

[2017-08-16 22:37] tshafron opened #14878 "writing certain strings to a windows file results in a corrupted file"
- **Version:** 6.11.2 & 4.6.1
- **Platform:** Windows 7 64 bit and 8.1 64 bit

The issue did not occur on a Solaris system I tested but it was running a much older version (v0.10.11).

Running this script will result in a corrupted "test.log" file:

[code]

Make sure the test.log file does not exist before running.  If the file exists and has text in it then the issue may not occur.

Different str

[2017-08-16 22:47] mscdex commented on #14878
Define "corrupted." Is it truncated? Is it elongated? Is the content not the same? Is it random? Does it only affect a certain portion of the characters?

Also, am I correct in assuming this is the *only* code being ran that exhibits this behavior, and no other `fs` calls?

[2017-08-16 22:49] tshafron commented on #14878
The entire file becomes corrupted with non-ASCII characters.  Opening the log file in a notepad looks like this:

†⁴ㄠ†⁮〱〰〰〰〰〰‰⁳〲〰〰〰〰〰〰†⁺㈠〴‰†⁴ㄠ†⁮〱〰〰〰〰〰‰⁳〲〰〰〰〰〰〰†⁺㈠〴‰†⁴ㄠ†⁮〱〰〰〰〰〰‰⁳〲〰〰〰〰〰〰†⁺㈠〴‰

You are correct, you can just copy that exact code into a js file and run it to reproduce the issue.

[2017-08-16 22:50] tshafron commented on #14878
Also as I mentioned, I was only able to reproduce it on Windows (on 2 different systems).

[2017-08-16 22:51] mscdex commented on #14878
Is the corruption the same very time the new file is written, is it random, or is there a pattern?

[2017-08-16 22:53] tshafron commented on #14878
The corruption in the file is directly tied to the string that is written.  The same string will always result in the same file but if you change the string it will result in different corrupted output.

If you increase or decrease the length of the string by adding a space for example then it writes properly.    I believe it's related to a length of 100 (or possibly multiples of 100) and certain

[2017-08-16 22:55] addaleax commented on #14878
@tshafron The string, as posted in your example, contains 151 characters.

[2017-08-16 22:57] tshafron commented on #14878
I just noticed something very strange... if I open the file in notepad++ it opens ok, but in metapad and notepad it shows corrupted.  I think for some reason it is being converted to a unicode file under certain circumtances but the data is there...

[2017-08-16 23:02] addaleax commented on #14878
This sounds to me like notepad is making a wrong guess about the file’s encoding?

[2017-08-16 23:02] tshafron commented on #14878
Ok, I just wrote that string into a notepad, saved it and re-opened it with notepad and it shows corrupted but with notepad++ it's ok.

This actually appears to be a windows bug and not node.js!

[2017-08-16 23:03] tshafron commented on #14878
addaleax, I believe you are correct.

[2017-08-16 23:06] tshafron commented on #14878
I'm going to close this because at this point it looks it's not a node issue.  thx

[2017-08-16 23:06] #14878 closed

[2017-08-16 23:14] tshafron commented on #14878
addaleax, I had accidentally posted a string from another test I ran... I updated it to the correct string that causes the issue for future reference (ticket still closed).

[2017-08-16 23:30] #14824 closed

[2017-08-17 00:24] TimothyGu commented on #14229
I can reproduce this.

On 8.1.2:

[code]

On 8.2.1:

[code]

On 8.4.0:

[code]

[2017-08-17 00:28] TimothyGu commented on #14229
Seems like it was a bug in our build system that caused this :(

It will be fixed in https://github.com/nodejs/node/pull/14875.

[2017-08-17 00:28] addaleax commented on #14229
I am almost certain this is because of https://github.com/nodejs/node/pull/14875, so I think this can be closed as a duplicate of https://github.com/nodejs/node/issues/14870 (or, technically, that one is a duplicate of this one, but, you know, it doesn’t really matter and the PR has the `Fixes:` tag for the other issue).

[2017-08-17 00:28] #14229 closed

[2017-08-17 01:48] stevenvachon commented on #12682
[code]

[2017-08-17 02:23] zimbabao opened #14884 "setHeader does not emit error, but throws exception"
setHeader throws exception and does not emit 'error' event.
This prevents us to handle the error when response stream is passed to a library like http-proxy.

Any reason why error event is not emitted but an exception is thrown?.

[code]

* **Version**: 8.3.0
* **Platform**: all
* **Subsystem**: http

[2017-08-17 02:52] mscdex commented on #14884
The reason is that it's an *immediate*/input error rather than an asynchronous error (e.g. the server resetting the connection unexpectedly at some point in the future).

[2017-08-17 04:38] ide commented on #7593
Closing this since Node 8.4.0 supports attaching to vm contexts out of the box.

[2017-08-17 04:38] #7593 closed

[2017-08-17 04:39] james-ansari commented on #13635
Hi @Rogasch I will suggest you to completely uninstall node and npm. Also delete **npm** and **npm-cache** folder. And reinstall using **node-v6.11.2-x86.msi** installer.

[2017-08-17 05:07] adityaanandmc commented on #14857
@refack Calling dibs if it hasn't been addressed yet ^_^
-  Would these map to [Class: Http2Server](https://nodejs.org/api/http2.html#http2_class_http2server) and [Class: Http2SecureServer](https://nodejs.org/api/http2.html#http2_class_http2secureserver) respectively ?
- `Readable Stream` redirects to a page not found.

Also `http2` vs `http` ? Scenarios/ Benefits of using the former over the latt

[2017-08-17 05:23] #13500 closed

[2017-08-17 06:02] ayazhafiz commented on #12180
@guylil are you still on this? Otherwise, I'd like to work on this.

[2017-08-17 06:08] not-an-aardvark commented on #12180
Looking at this again, I think it might have already been fixed by https://github.com/nodejs/node/commit/83ebb6d8989ea08fdeb25353c42d20d0c0c285db.

[2017-08-17 06:35] zimbabao commented on #14884
Makes sense, so its library writes responsibility to propagate that error whenever it uses setHeader asynchronously.

[2017-08-17 06:35] #14884 closed

[2017-08-17 07:11] sohail85 opened #14889 "File System's readFile method's callback never gets called"
* **Version**:6.10
* **Platform**:64-bit Windows 10
* **Subsystem**:file system (fs)

Hi I have a bit of code in my application which uses readFile method of Node File System and this code sometimes work but sometimes as I debug I noticed that the callback never gets called here is bits of that code

`     import { remote } from "electron"

      class FileManager {
          constructor () {

[2017-08-17 08:35] sharababy commented on #14857
@refack
Hi , I have added the link definitions to the footer and pushed it to my fork.
https://github.com/sharababy/node/commit/e04feca80619af35480dbb35e52264623b28c0b8

Wanted your approval before I file send a PR :) (my first contrib)

[2017-08-17 08:56] wengeezhang commented on #14446
my worries in this issue do not exist!!!

thanks @AndreasMadsen
i've confirmed that promise is eventually destroyed.
If it's not destroyed(maybe a long time,several hours,or several days),it's really ok.

The reason is:

- promises not to many,GC think it's not time to trigger a collection(expensive)
- when there're to many,GC will trigger collection(you can make new more promises to verify this)

[2017-08-17 09:12] bnoordhuis commented on #14872
One critical shortcoming of ASAR, as far as I can tell, is that it doesn't support native modules.  Most big node apps include a few so that's a pretty big downside.

In the Java world, they solve it by extracting the shared library to a temporary location but that doesn't always work (e.g., read-only fs) and is a security risk when the temp dir is world-writable.

Firefox at one time implemented

[2017-08-17 09:17] TimothyGu commented on #11893
@hashseed Is the Inspector command the only way to get to this feature? Is it possible to do this from  C++'s `V8Inspector`, which would make it significantly easier?

[2017-08-17 09:17] bnoordhuis commented on #14889
If you want to report a bug, please post a complete test case without third-party depencies (i.e., no electron) or move it to the electron bug tracker.  If you are looking for help with your code, please open an issue in the (aptly named) help repo.

I'll close this issue pending an updated test case.

[2017-08-17 09:17] #14889 closed

[2017-08-17 09:51] bmeck commented on #14872
Efforts have started in making a unified archive format for both web and node in https://github.com/WICG/webpackage with an upcoming Internet Draft once things finalize. Feel free to add to https://github.com/WICG/webpackage/issues/33 if you have concerns.

[2017-08-17 10:16] bmeck commented on #14872
@bnoordhuis I would say that the Java solution is fine and can be augmented by installation tooling. I spoke to @groundwater on this a long while back.

[2017-08-17 11:20] Venkat5694 commented on #14843
Unable to replicate even after switching between branches.

[2017-08-17 11:46] shahzadns commented on #9377
For me this error came after using `gulp serve` command on angular1-gulp project, by removing the local `node_modules` folder and doing `npm install` solved this error.

node `7.9.0`
npm `4.2.0`
node installed using nvm version `0.25.1`
Mac OS Sierra.

Hope this will help someone.
Cheers !

[2017-08-17 12:58] #11370 closed

[2017-08-17 13:22] bnoordhuis commented on #14843
It only happens when switching branches leaves an empty directory under test/addons or test/addons-napi.  Not a big deal though, `git clean -dfx test/addons*` will fix it.

[2017-08-17 14:34] GernotReisinger opened #14894 "Memory leak in v8 CpuProfiler"
* **Version**: v8.4.0
* **Platform**: Windows 10 / Linux x86 32/64bit
* **Subsystem**: v8

Dear Node community,
I am filing this ticket to make you aware of a memory leak in v8::CpuProfiler introduced in v8 versions used by Node 7.x / 8.x. My company uses v8::CpuProfiler APIs to render periodic samples of the running application and I noticed a continuous RSS size increase with Node.js version 7.x

[2017-08-17 14:41] #12096 closed

[2017-08-17 15:34] mscdex commented on #14894
/cc @nodejs/v8

[2017-08-17 16:40] rober710 opened #14896 "util.format is deleting part of a string that contains % signs"
Hi, I tried this test script in Node 7.2.1, and util.format works as expected:
[code]
However, with node 8.1.2 the string before %2 is completely deleted and the script prints `0ASClast=test`

The docs don't mention a new format specifier in new versions of Node that can change its behavior like this.

Platform: Gnu/Linux Fedora 25 4.11.6-201.fc25.x86_64
Node installed via nvm 0.31.4

[2017-08-17 16:42] silverwind commented on #14872
One thing I'd like to see package manager do more is to encourage authors to not include unrelated files in their packages. Many (if not most) packages on npm include unit tests and other fixtures, which are totally unnecessary at runtime and which contribute to long installation times.

I use [`files`](https://docs.npmjs.com/files/package.json#files) to include only the bare necessities in my pac

[2017-08-17 17:03] andrasq commented on #14896
I could reproduce with node-v8.1.2, but it's working again in 8.1.4.  Might be fixed alrady.

[2017-08-17 17:10] mhdawson opened #14897 "Intermittent failures in inspector/test-stop-profile-after-done - AIX"
* **Version**: master
* **Platform**: AIX
* **Subsystem**: inspector

I've seen a number of failures similar to this one in the last couple of days:

https://ci.nodejs.org/job/node-test-commit-aix/nodes=aix61-ppc64/7974/console

[code]

[2017-08-17 17:11] mhdawson commented on #14897
I see from the history that the test was re-written and the change committed a few days ago:

https://github.com/nodejs/node/pull/14797

[2017-08-17 17:15] mhdawson commented on #14897
Stress test to see if it can be reproduced in a number of runs: https://ci.nodejs.org/job/node-stress-single-test/1376/

[2017-08-17 17:17] rajsekhar3g opened #14898 "Would like to participate in the TSC meeting to explore possibilities for contributing"
Hello,
I am interested in contributing to the node development branch. Please count me in for one of the meetings so i can connect with the collaborators.

Regards,
Raj

[2017-08-17 17:33] BridgeAR commented on #14896
This was fixed by c046a21321

[2017-08-17 17:33] #14896 closed

[2017-08-17 17:35] refack opened #14900 "net: node on Linux allows opening a connection to `0.0.0.0`/`::` while on Windows it doesn't"
* **Version**: `master`
* **Platform**: Windows
* **Subsystem**: net

Refs: https://github.com/nodejs/node/pull/14865
Refs: https://github.com/nodejs/node/pull/14111

~```Linux converts the ipv6 address "::" to "::1", while windows does not.```~

This makes `server.address().address` useless [as a target address] when bound to ~IPv6 localhost~ `0.0.0.0` or `::` on Windows.

[addition]
Specifically

[2017-08-17 17:56] eugeneo commented on #14897
I have a PR to mark it as flaky - https://github.com/nodejs/node/pull/14874 - it is on the 48 hour cooldown, as per comitter guidelines.

It also fails on Windows, albeit differently.

[2017-08-17 18:00] #3665 closed

[2017-08-17 18:00] #8496 closed

[2017-08-17 18:00] #12980 closed

[2017-08-17 18:04] mhart commented on #3475
This is definitely still an issue btw, the needle's hardly moved since v0.12. The performance of v8.4.0 is only 35% of what it is in v0.10.48.

![chart 1](https://user-images.githubusercontent.com/367936/29426541-eda9d4f0-8354-11e7-864e-068f9fd3b872.png)

See #3429 for how this chart was generated

[2017-08-17 18:22] #14758 closed

[2017-08-17 18:34] #14819 closed

[2017-08-17 18:39] mhart commented on #3475
Actually, scratch that – pretty sure this is another case of #1671

If I add `gc(true)` calls every 100 `data` events, this is how the chart looks:

![chart 3](https://user-images.githubusercontent.com/367936/29427965-7cc29902-8359-11e7-910e-2463f61948cc.png)

So the gap between spawn and stdin is still there (which is what #3429 is about) – but there's no drop in performance between versions if G

[2017-08-17 18:39] #3475 closed

[2017-08-17 18:40] mhart commented on #3429
And just to confirm: manual gc'ing doesn't change the spawn/stdin gap, it just gets rid of the performance regression from v0.10.48:

![chart 3](https://user-images.githubusercontent.com/367936/29428118-0c9b81a6-835a-11e7-827c-7feeb58f966b.png)

[2017-08-17 18:58] dfleury commented on #14402
FYI,

since my last reply, the memory behavior and the application throughput has returned to normal.

Cpu doubled the usage from 15% to 30%. I'm asking myself if it might go lower in a future Node release or it can be considered the new expected usage.

[2017-08-17 19:37] rober710 commented on #14896
Thanks to both of you for your feedback on this!

[2017-08-17 20:30] mhdawson commented on #14898
A few initial suggestions.

One good way to get started is to look at the working groups (benchmarking, lts, build, post-mortem) and see if one of those matches your interests and watch/join those meetings.

http://nodetodo.org/ is also another good place to get started.

[2017-08-17 20:31] mhdawson commented on #14898
Also looking for issue tagged "good first contribution"  https://github.com/nodejs/node/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+contribution%22

[2017-08-17 20:32] mhdawson commented on #14898
If you'd prefer to talk to somebody to discuss how to get started I'd be happy to have an on-line chat and there are probably others who would volunteer as well.

[2017-08-17 20:36] mhdawson commented on #14897
Thanks for taking action quickly.  I'd added another approval to the PR and I don't think we necessarily need to wait for the 48 hours so I started a CI run.

[2017-08-17 20:52] gibfahn commented on #14900
See https://github.com/nodejs/node/issues/7291#issuecomment-225824253, basically using `localhost` should work, but (see https://github.com/nodejs/node/issues/7288) on some machines this doesn't, hence `common.IPv6Hosts`:

https://github.com/nodejs/node/blob/9ecc4406421dcc89a010000b1253d3ad0efae64a/test/common/index.js#L169-L183

The ideal solution would be to fix `IPv6Hosts` (see https://github.c

[2017-08-17 21:24] jcoglan commented on #14847
@addaleax Thank you, that was really helpful and has got me to make progress with my issue.

I now know from this source and the Node changelog that:

- in Node v4.8.2, v6.10.2, and v8.0.0, zlib is bumped from 1.2.8 to 1.2.11 due to some [CVEs](http://seclists.org/oss-sec/2016/q4/602)
- some time between these versions, zlib stopped accepting windowBits=8 for raw streams

Does anybody know if this

[2017-08-17 21:58] MylesBorins commented on #14847
If the change is unrelated to the CVE should we try and patch support for LTS?

[2017-08-17 21:59] cjihrig commented on #14898
FWIW, the issue tracker is the best place to connect with collaborators. The meetings are usually broadcast, and questions are taken from IRC (maybe elsewhere too, I'm not sure). I'm going to close this, as it isn't an issue with Node core, but feel free to continue the conversation.

[2017-08-17 21:59] #14898 closed

[2017-08-17 22:28] rubennorte commented on #14872
@silverwind, I already opened an issue about that some time ago: https://github.com/npm/npm/issues/7553

[2017-08-17 22:46] popey456963 commented on #14872
@rubennorte Interesting thread, sad nothing was done about it.  Seems like there were some exceptionally strong points to implement it and few (if any?) drawbacks.  It was mentioned that the NPM maintainers did not agree with the solution, could you or @sindresorhus shed some light on why this is the case?

[2017-08-17 22:49] addaleax commented on #14847
I think we should patch that in LTS, yes (I assume just using `9` when `8` was passed would be the easiest and most sensible thing). @MylesBorins Can you do the PR(s)?

[2017-08-17 22:54] jcoglan commented on #14847
Does anyone know *why* zlib stopped accepting 8, if it's not related to a security thing? Only reason I hesitated to do this replacement in my library is that I figured there must be some reason zlib removed this behaviour.

[2017-08-17 22:56] addaleax commented on #14847
I think the linked zlib thread contains the relevant thoughts on that. If you want to be certain, I’d recommend asking them more directly, I don’t think any collaborators here know for sure.

[2017-08-17 23:17] ArkadiuszMichalski opened #14904 "Inconsistent behavior of node and npm for module installing/loading"
* **Version**: 8.4.0
* **Platform**:  64-bit (Windows)
* **Subsystem**: npm

Hi, I try configure Node and NPM to use the same folder for install and load modules for all my project to not unnecessarily duplicate data. I want make this much portable as long as it can be, so don't want set `NODE_PATH`, just use internal rule or config file inside node root folder (called `$PREFIX` here).

After some

[2017-08-17 23:25] Daniel15 opened #14906 "Add fs.copyFile for copying files, using uv_fs_copyfile"
A new `uv_fs_copyfile` function [recently landed in libuv](https://github.com/libuv/libuv/pull/1465) in order to allow more efficient copying of files (in the future, it could allow copy-on-write semantics on file systems that support it). A copyFile function that uses this should be added to Node.js. 😃

Depends on upgrade to libuv 1.14.0 (#14866)

[2017-08-17 23:34] cjihrig commented on #14906
I'll be working on this once libuv can be updated. Right now, it's blocked on a broken test.

[2017-08-18 00:01] Daniel15 commented on #14906
Thank you @cjihrig! I just wanted to create an issue for tracking purposes 😃

[2017-08-18 02:06] MylesBorins commented on #14847
I'll try and dig into this a bit tomorrow unless someone is really amped to do it 😎

[2017-08-18 04:05] Trott commented on #13638
Since this is a `known_issues` test, it is expected to fail. But it's not failing *or* succeeding. It's crashing. Which seems plausible given the large sizes of the data that it deals with.

If we can be certain that this is about memory constraints, rather than some other constraint, it should be pretty easy to check `common.enoughTestMem` or similar and skip the test if a host is likely to have

[2017-08-18 04:05] Trott commented on #13638
Saw this again today:

https://ci.nodejs.org/job/node-test-commit-arm/11597/nodes=ubuntu1604-arm64/console

[code]

[2017-08-18 04:13] Trott commented on #13638
Seems like the host it's failing on has 125 Gb of RAM. 125? Wait, what? Am I doing this right?

[code]

@nodjes/build

If I'm doing that right, that suggests that RAM is not the problem here.

[2017-08-18 04:14] Trott commented on #13638
It *does* seem notable that the test run time is all over the place. It can take 2 seconds or 7 seconds to pass, or 10 seconds to fail...

[2017-08-18 04:43] #12628 closed

[2017-08-18 04:58] TimothyGu opened #14909 "Calling Intl.v8BreakIterator w/o ICU data in VM context makes the process crash"
* **Version**: 8.4.0
* **Platform**: Linux 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u3 (2017-08-06) x86_64 GNU/Linux
* **Subsystem**: v8, vm, intl

#3111 / #4253 fixed this in the main context, but the bug applies to VM contexts too unfortunately.

[code]

Offending line:

https://github.com/nodejs/node/blob/d15a5c0fe1380bc33368d08f3cf4564a60146243/deps/v8/src/objects/intl-objects.cc#L879

At this

[2017-08-18 05:59] Trott commented on #12675
https://github.com/nodejs/node/pull/14910 PR for the most minimal `console.group()` and `console.groupEnd()` implementation I could muster.

[2017-08-18 05:59] Trott commented on #1716
https://github.com/nodejs/node/pull/14910 PR for the most minimal `console.group()` and `console.groupEnd()` implementation I could muster.

[2017-08-18 06:50] suneelp4 commented on #2763
npm rebuild is also giving segmentation fault.

[2017-08-18 08:50] bnoordhuis commented on #14909
That won't help in non-intl builds, though.  In retrospect, we should have sent a patch upstream to turn that abort into an exception, instead of the hack from #4253.  Shouldn't be too hard, I'll try that later today.

[2017-08-18 09:43] MylesBorins commented on #14847
SOOOOO this is fun

It would appear that zlib is [already uses 9bits](https://github.com/madler/zlib/blob/master/deflate.c#L303). The problems people are running into are edge cases that cause things to asplode.

[This patch](http://optipng.sourceforge.net/pngtech/zlib-256win-bug.html) over on the optipng sourceforge claims to be a fix fix. I'm unsure of how this code would be licensed so I'm not

[2017-08-18 09:48] addaleax commented on #14847
Just to make sure, you saw the check in the conditional before that, right? That comes from the change in 1.2.8 → 1.2.11 that broke behaviour for people in LTS.

Also, guessing here, but I think you may have wanted to ping @madler :)

[2017-08-18 09:59] bnoordhuis commented on #14900
BTW, that doesn't sound right: `::` (or `::0`) is the 'any' address, `::1` is the localhost address.

I suspect that 'any' on Windows doesn't include localhost, whereas it does on Linux.

[2017-08-18 10:25] bnoordhuis commented on #14871
Can't reproduce, I'm afraid.  You don't happen to have a program called `bad_command` on your path, do you?

[2017-08-18 10:25] MylesBorins commented on #14847
Found the commit the disabled 256 bytes explicitly.

https://github.com/madler/zlib/commit/049578f0a1849f502834167e233f4c1d52ddcbcc

[code]

Reverting that patch gets things back to the behavior prior to the security update... it also look like there would not be security implications with allowing this... it is just a bit foot gun'y.

We have a couple options

* Leave it as is because it is expec

[2017-08-18 10:34] addaleax commented on #14847
I think I’d prefer to float the revert of madler/zlib@049578f until this has a proper upstream fix.

[2017-08-18 10:35] bnoordhuis commented on #14869
I'm afraid I can't reproduce and honestly, I can't think of anything in node that would cause that.  I think a more likely explanation is that there is something on your local system or network that causes the issue.

[2017-08-18 10:37] Qix- commented on #14847
Do we _know_ the window bits limitation _doesn't_ have a security implication? I'd be wary if it was changed within a security release.

[2017-08-18 10:56] TimothyGu commented on #14909
Non-Intl builds don't include this function so there's no issue there.

[2017-08-18 11:10] bnoordhuis commented on #14909
Sorry, I mean `--with-intl=system` builds.

[2017-08-18 11:24] MylesBorins commented on #14847
@Qix- this was not changes in a security release or included in any of the CVEs mentioned above

[2017-08-18 11:44] mtraynham commented on #14869
@bnoordhuis If it helps, instead of using Linux Mint 18 as the node server, I've tried a Mac OSX Sierra (10.12.6) and it happens there as well.  The only difference between the two, is it seemingly takes much longer than 15 seconds, instead taking about 50-70 seconds.

Node 8.4.0
Mac OSX 10.12.6

(obfuscated my IPs)
[code]

[2017-08-18 11:53] danielkhan commented on #14894
/cc @nodejs/diagnostics

[2017-08-18 12:01] lpinca commented on #14847
I don't think floating a revert of https://github.com/madler/zlib/commit/049578f0a1849f502834167e233f4c1d52ddcbcc is a good idea.

[2017-08-18 12:04] bnoordhuis opened #14916 "nghttp2: -Wimplicit-function-declaration warnings"
Probably happening because it doesn't include `<arpa/inet.h>` due to a missing `HAVE_ARPA_INET_H` define.
[code]
cc @jasnell

[2017-08-18 12:09] bnoordhuis commented on #14869
I tried it on a different box with, going by the file size, probably the same words file as you (Ubuntu 16.04) and it still works.  It takes about three minutes to download the file but it doesn't error, Content-Length header or not, local or external interface.

[2017-08-18 12:10] mtraynham commented on #14869
I also tried the MacOSX with Node 7.10.1 and it seems to work correctly.  It does eventually timeout according to the server timeout, but it seems to be at almost 11 minutes rather than 10 which is weird...

[code]

[2017-08-18 12:11] matheusanmo commented on #10904
I'm trying to compile 8.4.0 on OpenBSD and am running into all kinds of problems too. Should I create a new issue or continue to discuss here?

[2017-08-18 12:29] a4amitava commented on #14785
Below error encountered when we execute the node cmd -- Can you pls help ?

exec(): 0509-036 Cannot load program node because of the following errors:
        0509-130 Symbol resolution failed for node because:
        0509-136   Symbol _ZNKSt9type_infoeqERKS_ (number 345) is not exported from
                   dependent module /opt/freeware/lib/pthread/ppc64/libstdc++.a[libstdc++.so.6].

[2017-08-18 12:33] jorangreef opened #14917 "spawn() is not asynchronous, blocks event loop for 2-3 seconds"
* **Version**: v8.2.1
* **Platform**: Linux ronomon.com 3.13.0-106-generic #153-Ubuntu SMP Tue Dec 6 15:44:32 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: child_process

`spawn()` is not asynchronous while launching a child process.

I think this is a known issue but it took a few months to track down.

Our event loop was blocking frequently:

[code]

The system has many components and

[2017-08-18 13:03] BridgeAR commented on #12079
The alternative version got implemented in c53db1e8e9bb65779d791046daa39ed88c8f1045.
I guess this can be closed?

[2017-08-18 13:26] bnoordhuis commented on #14801
I had a look and I think there is a fairly straightforward explanation.  If you start node with `--trace_gc` you can see what is happening.

Since a context is a (large) graph of JS objects and values, and since the test case keeps the graph alive, the garbage collector increasingly has to scan more of the heap whenever it needs to free up memory.  With the default settings it simply runs out of m

[2017-08-18 13:26] #14801 closed

[2017-08-18 13:29] restarian commented on #14871
Oh, now it is working. I guess it had something to do with bash on windows because after the restart, it is now working.  Last time I trust bash on windows than.. sorry.

[2017-08-18 13:29] #14871 closed

[2017-08-18 13:43] robertkowalski opened #14921 "fs.readFile / fs.writeFile and JSON parsing"
Hi folks.

This is a first idea and I'm curious if you would accept a PR.

Super often I write this code (config files etc) to parse JSON back and forth when loading it from a file or writing it back to a file:

[code]

Often I also have to check if the JSON is valid:

[code]

So I just thought about something like `request` has for handling json. A `json: true` option, which takes care of parsing

[2017-08-18 13:47] addaleax commented on #14921
Because somebody is going to ask that question anyway: What’s the advantage of doing this in Node rather than in userland?

[2017-08-18 13:48] mscdex commented on #14921
I think this is best left to userland.

[2017-08-18 13:50] bnoordhuis commented on #14909
https://chromium-review.googlesource.com/620755

[2017-08-18 13:55] mtraynham commented on #14869
Also to add, I tried hosting on a bare bones AWS EC2 - Centos 6 (Linux ibc-2017-admin-0 2.6.32-573.3.1.el6.x86_64 SMP Thu Aug 13 22:55:16 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux) machine.

Previously, I had been using NVM to handle installations of Node, but this time I tried just the Linux x64 binaries.  With [v8.4.0](https://nodejs.org/dist/v8.4.0/node-v8.4.0-linux-x64.tar.xz), sure enough, it f

[2017-08-18 14:01] Trott commented on #10904
@matheusanmo New issue unless you have a strong suspicion that you are facing exactly the same issue as described here. Thanks!

[2017-08-18 14:04] #12079 closed

[2017-08-18 14:52] gibfahn commented on #14785
@a4amitava so @gireeshpunathil and @hellbes are the experts here, but I can tell you what I know.

You need at least `gcc4.8.4`, and the `libstdc++.a` version that comes with it, to run Node. We have it installed in `/usr/local/gcc-4.8.4-1/`. To run node we need to set the `LIBPATH` variable, which we do as follows:

[code]

Hopefully you can do the equivalent on your system.

cc/ @nodejs/platform

[2017-08-18 14:55] bnoordhuis commented on #14917
Some sleuthing with perf(1) should tell you where the time is spent.  I have a few hunches but why guess when you can know for sure, right?

[2017-08-18 14:58] gibfahn commented on #14785
I see that @shellberg already answered your question in https://github.com/nodejs/help/issues/784, so let's continue the conversation there.

[2017-08-18 15:06] bnoordhuis commented on #14872
I kind of agree with this sentiment.  Right now if you do `make install`, it copies 4100 files (!), 4000 (or 96%) of which are npm's and its ridiculous number of dependencies.

[2017-08-18 15:50] silverwind commented on #14921
Agree that it's unneccesary. Oh, and you can already `require('./file.json')` to read a JSON file syncronously.

[2017-08-18 16:12] #14921 closed

[2017-08-18 16:41] bnoordhuis commented on #14894
I can confirm the issue and came to the same conclusion, that it's the ProfilerListener that is leaking the memory.  A straightforward patch (see below) breaks a number of V8 tests however so this needs some more digging.
[code]

[2017-08-18 17:19] gibfahn commented on #14798
@mcollina changed _should_ to _can_, (_might_ sounds a bit odd to me).

I think showing a contributor what you mean still counts as teaching. Asking them to make changes is fine if you're specific, but for stylistic things we should show them with the linter. I think particularly for first time contributors, we should try to ease their entry into the world of PR review.

[2017-08-18 17:23] mcollina commented on #14798
👍

👍 , we should try to do this for first-time contributors as much as possible.

[2017-08-18 17:28] Fishrock123 commented on #14906
Could someone detail the advantages of `uv_fs_copyfile`?

Do note that we make no guarentees to expose every libuv API. 😉

[2017-08-18 17:39] Daniel15 commented on #14906
Two main advantages:
1. It's *significantly* faster than a JS implementation, as it uses native system calls where available (eg. [CopyFile](https://msdn.microsoft.com/en-us/library/windows/desktop/aa363851(v=vs.85).aspx) on Windows, [copyfile(3)](https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/man3/copyfile.3.html) on Mac OS). See some benchmark results on https

[2017-08-18 18:06] aashil commented on #13638
@Trott No matter how much RAM we have, the default buffer for`execSync` is 200 kB https://nodejs.org/api/child_process.html#child_process_child_process_execsync_command_options hence failure of the tests. I tried with smaller buffer outputs and it passes. I tried increasing the maxBuffer but I am not sure why it won't honor the value passed in it.

Since we are testing the buffer being flushed on

[2017-08-18 18:09] richardlau commented on #14904
Pull requests are, as always, welcome.

The current Node.js recommendation is to install your modules locally to your applications under a node_modules folder. This wasn't always the case, and things like `NODE_PATH` and the global folders described in https://nodejs.org/api/modules.html#modules_loading_from_the_global_folders are historic and kept for compatibility (It was even recently [suggeste

[2017-08-18 18:26] Trott commented on #12449
Should this remain open?

[2017-08-18 18:28] Trott commented on #7792
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-18 18:28] #7792 closed

[2017-08-18 18:31] Trott commented on #12084
@refack Are you still working on this? If not, should we unassign and label `help wanted`?

[2017-08-18 18:33] addaleax commented on #12084
I still think solving this is a bit of an unrealistic expectation. :) Nothing against @refack, but this is something that far too many people have struggled with for far too many software projects to be optimistic here.

[2017-08-18 18:38] zkat commented on #14904
the module spec is... very very frozen, _and it should be_. I'm not a Node.js maintainer, but I'd really discourage anyone to change that spec further.

This thing the OP is trying to do is really complicated and no, we probably won't support this usecase for the time being, specially if the only concern here is having duplicate data. Disk storage is pretty cheap these days.

That said, if this so

[2017-08-18 19:21] MylesBorins commented on #14847
/cc @nodejs/ctc @nodejs/lts

[2017-08-18 19:27] MylesBorins commented on #14906
One thing to keep an eye out for. Replacing a JS implementation with a native API for file system related stuff will end up changing the underlying syscall failures if anything goes wrong. We saw this happen with realpath, and things got weird quickly.

This is in no way saying we shouldn't do this, but we should be pretty thorough with smoke testing if we do decide to change things. Either way it

[2017-08-18 19:29] cjihrig commented on #14906
We aren't replacing anything here though. This would be purely semver minor for core. The applications using it can pick their own level of semver.

[2017-08-18 19:33] akc42 opened #14925 "http2 compat layer failing"
I'm running node 8.4.0 with the experimental flag --expose-http2 set and am running a server.  Currrently running on my desktop which is linux on Intel

This is a server supporting both the serving of static files via `res.stream.respondWithFile()` and an api.  I am routing using the `npm router` module.

I am invoking the compat layer (I think) because my server create includes a callback

[code]

[2017-08-18 19:44] Daniel15 commented on #14906
There **is** no core JS implementation at the moment. Currently, apps are implementing their own JS versions of it.

[2017-08-18 19:44] indutny commented on #14847
Unintentional major change, huh? :wink:

I think we should programmatically cancel this in our code in `src/` folder. There is no need in patching `zlib` as it may make backporting further patches more painful.

[2017-08-18 20:08] Trott commented on #12803
@refack Is this still being worked on? If not, might it make sense to unassign and/or add a `help wanted` label?

[2017-08-18 20:21] Trott commented on #13638
@aashil I think that would simply change the test to not check for what it is supposed to check for. The whole point of the test is that the `execSync()` fails to return the entire contents of `stdout` from the subprocess. If I understand/recall correctly (which I may not!), `stdout` is "supposed" to be blocking until exit, thus guaranteeing that the parent process receives all the data.

[2017-08-18 20:24] Trott commented on #13638
(Maybe it would help to capture `stderr` from the `execSync()` call?)

[2017-08-18 20:41] flagxor opened #14927 "WebAssembly OOB Signal Handlers + Node"
We're rolling out use of signal handlers for WebAssembly Out-of-Bounds checks in V8 6.2.
We've intentionally left the feature off by default in V8, and will be turning it on Chrome side via features.

The reason is that embedders (for instance node.js), may have their own signal handlers which may interact poorly.

The feature is a big win for WebAssembly performance on 64-bit systems 25%-30% spee

[2017-08-18 20:44] hashseed commented on #14927
@bnoordhuis @trevnorris @indutny @ofrobots @jasnell

adding a few people who might know, or who might know someone who might know.

[2017-08-18 20:53] eholk commented on #14927
Some of the comments [here](https://github.com/nodejs/node/pull/13217#issuecomment-304289575) and following are also relevant. The trap handler feature requires some more support from the array buffer allocator.

[2017-08-18 21:05] indutny commented on #14927
I believe `SIGTRAP` handling could be done in user code via public API (`process.on('SIGTRAP')`). If this is to be internalized, that would be a major change.

cc @nodejs/v8 just in case.

[2017-08-18 21:05] maclover7 commented on #12376
A bunch more of the test files from the big list above have been completed (purposefully not putting `#` before pull request number to avoid creating tons of notification noise):

test/parallel/test-cluster-disconnect.js, 12545
test/parallel/test-cluster-eaddrinuse.js, 12547
test/parallel/test-cluster-inspector-debug-port.js moved to `test/inspector/test-inspector-port-cluster.js`
test/parallel/te

[2017-08-18 21:19] MylesBorins commented on #14847
I created a PR upstream with the optipng fix to see what the deal is

https://github.com/madler/zlib/pull/291

[2017-08-18 21:23] bnoordhuis commented on #14927
I looked at the trap handler code earlier this week and I believe the idea is to catch SIGSEGV on out-of-bounds loads and stores?  Node.js core itself doesn't touch that signal handler but there is a popular module called [segfault-handler](https://www.npmjs.com/package/segfault-handler) that does what its name suggests.

Out of curiosity, wouldn't you also need to intercept SIGBUS for unaligned l

[2017-08-18 21:23] jasnell commented on #14925
ping @mcollina

[2017-08-18 22:21] eholk commented on #14927
Correct, we catch SIGSEGV to detect out of bounds loads and stores in WebAssembly.

It's up to the embedder to opt in because chaining signal handlers can be tricky to get right. We provide a default signal handler that you can install using `v8::V8::RegisterDefaultSignalHandler()`, like @flagxor mentioned. This is fine if the process does not use its own signal handler. In case your process has o

[2017-08-18 22:22] Trott commented on #12376
Thanks, @maclover7! I've updated the list.

[2017-08-18 22:26] indutny commented on #14927
Oh, given that there is an existing API for this it shouldn't be a big deal to just call it from Node.js core.

[2017-08-18 22:34] vsemozhetbyt opened #14930 "Nightly docs missing"
Sorry, if this is a known issue or not an issue.

It seems the last full nightly docs are:

https://nodejs.org/download/nightly/v9.0.0-nightly201708155f31d54720/docs/api/

The next 3 have only JSON:

https://nodejs.org/download/nightly/v9.0.0-nightly20170816e9c0263696/docs/api/
https://nodejs.org/download/nightly/v9.0.0-nightly2017081760f2fa9a8b/docs/api/
https://nodejs.org/download/nightly/v9.0.0

[2017-08-18 22:35] akc42 commented on #14925
I just left my system idle whilst I went for a meal and the error occurred again 28 minutes since I last restarted the client (with the server having been started shortly before hand). So it is definitely not as a result of any action by me.

I repeated the experiment of starting the server and leaving the application with its xhr request running once a minute and this time it failed after 58 minu

[2017-08-18 22:37] jasnell commented on #14925
Will take a look!

[2017-08-18 22:45] Trott commented on #13117
It seems like perhaps this should be closed (based on @cjihrig's comment above). Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-18 22:45] #13117 closed

[2017-08-18 22:46] AJamesPhillips commented on #14686
Good to know.  Will feed back to: https://github.com/defunctzombie/commonjs-assert/issues/31

[2017-08-18 23:08] bnoordhuis commented on #14894
Turns out the ProfilerListener is still used _after_ TearDownProfilerListener()...

I have a new patch that passes V8's and node's test suites but it's a little gross.  I'll see if I can spruce it up before I send it upstream.
[code]

[2017-08-19 01:30] richardlau commented on #13640
`npx` landed with `npm` 5.3.0 in https://github.com/nodejs/node/pull/14235 and released in [Node.js 8.2.0](https://nodejs.org/en/blog/release/v8.2.0/).

[2017-08-19 01:30] #13640 closed

[2017-08-19 01:38] addaleax commented on #12509
Got a bit of code for the first item in the issue together @ https://chromium-review.googlesource.com/c/622427

[2017-08-19 01:44] richardlau commented on #14906
Existing https://github.com/nodejs/node/issues/12902 requests the same feature.

[2017-08-19 03:17] Trott commented on #14930
https://github.com/nodejs/node/pull/13482 seems like a likely source of the issue.

[2017-08-19 03:22] refack commented on #14900
That makes more sense, so why does Linux allow `net.connect({ port: X, host: '::' });` or even `net.connect({ port: X, host: '0.0.0.0' });`

[2017-08-19 03:26] refack commented on #14900
After @bnoordhuis's comment I feel like the disparity is deeper than just test cases.
Changed title.

[2017-08-19 04:50] refack commented on #14847
So this regression was introduced when we bumped zlib from 1.2.8 → 1.2.11?

I always like to ask, what can we learn in order for something like this to not happen again?
Assuming:
* We can't extend our test suite enough to cover the deps
* Even if we would have run zlib's test suite I'm assuming they would have changed any tests that use `windowBits: 8`
* Human eyes reviewing release notes are err

[2017-08-19 06:12] rvypandey opened #14939 "HTTP memory leak on unreachable endpoint with low timeout."
* **Version**: 6.9.1
* **Platform**: Linux
* **Subsystem**: HTTP

When creating connection to an unreachable endpoint, and keeping a low **timeout** threshold, I've observed huge memory leak several times.

I've tried finding this issue online, but I could not find this peculiar scenario.

**Summary**: My app has multiple upstream dependencies for several purposes. I connect to most of them using

[2017-08-19 07:53] Carlkasa opened #14940 "npm disappear"
after i run " npm install 'anything' ",my npm documents have disappeared.

* **Version**:
* **Platform**:
* **Subsystem**:

[2017-08-19 08:32] vsemozhetbyt commented on #12803
Refs: https://github.com/nodejs/node/pull/14926

[2017-08-19 08:36] vsemozhetbyt commented on #14940
Hi, @Carlkasa. I think it is better to post your issue in the [npm repository](https://github.com/npm/npm) first.

[2017-08-19 09:10] hashseed commented on #14927
@no9 @rfeng @ddopsen

Adding collaborators of segfault-handler.

[2017-08-19 09:11] ArkadiuszMichalski commented on #14904
Sure, for -g option all depends on the system [source1](https://docs.npmjs.com/files/folders#node-modules), [source2](https://docs.npmjs.com/files/folders#executables):
- on Linux modules go to `{prefix}/lib/node_modules` and bin files go to `{prefix}/bin`
- on Windows modules go to `{prefix}/node_modules` and bin files go to `{prefix}`
If modules don't have bin then we can still install them with

[2017-08-19 09:12] hashseed commented on #14927
Should we reach out to the maintainers of segfault-handler?

[2017-08-19 10:03] rahulrsingh09 opened #14941 "Facing a Concurrency issue in node js"
We have a api that receives many requests around 2000 qps , but now recently what is happening is that
we are getting irregular data because of concurrent requests.

we have a in memory model which has all the its and its respective data.
now with this api hit we get the spent and the id.

we get the object from the model and upodate its spoend check if the spent is less than budget if not we stop

[2017-08-19 10:07] vkurchatkin commented on #14941
Closing, not an issue with Node itself.

[2017-08-19 10:07] #14941 closed

[2017-08-19 10:20] jinwoo opened #14942 "http.request('http://non.existent.url') causes an unhandled error event"
* **Version**: v8.4.0
* **Platform**: Darwin [redacted] 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64
* **Subsystem**:

When http.request() is given a wrong URL, it causes an unhandled error event and there's no way to catch & handle it.

This is a very simple case to reproduce:

[code]

It causes Node.js to exit with this error prin

[2017-08-19 10:22] bnoordhuis commented on #14927
cc @ddopson - FYI.  I'll see if I can send a PR once this lands in node.

@hashseed Done. :-)

[2017-08-19 10:23] #14940 closed

[2017-08-19 10:30] bnoordhuis commented on #14939
Have you tried the built-in inspector or node-heapdump?  It should be able to tell you what's using that memory.

Is there a way for us to reproduce locally?  If it only happens in your environment, we probably won't be able to help.

[2017-08-19 10:33] bnoordhuis commented on #14942
Add an 'error' event listener to the request object.  Closing, not a bug (in node - it is in your code.)

[2017-08-19 10:33] #14942 closed

[2017-08-19 14:14] Venkat5694 commented on #14843
I have been running `make test` and the tests pass successfully. I removed the empty folders by running `git clean -dfx test/addons*` as siggested by @bnoordhuis. I still have no luck in replicating the issue.

[2017-08-19 15:17] irbull commented on #14783
@aschrijver I have also created https://github.com/eclipsesource/static-node-build. I use that to build node for J2V8.

[2017-08-19 15:56] Li357 opened #14943 "Writable's instanceof implementation is faulty"
* **Version**: Node v8.4.0
* **Platform**: macOS
* **Subsystem**: Stream

The implementation for `Writable`'s `@@hasInstance` method is faulty. As described in [this Stack Overflow post](https://stackoverflow.com/q/45772705/5647260):

Because of the `hasInstance` implementation, this line:
https://github.com/nodejs/node/blob/467385a49b659b704973b8195328775b620ae6ab/lib/_stream_writable.js#L183

Al

[2017-08-19 15:58] aashil commented on #13638
@Trott Thank you for the detailed explanation. I tried catching the error but it doesn't throw one. Strange.

[2017-08-19 16:09] aashil opened #14944 "doc: rephrase documentation for child_process.execSync()"
The line at the end describing about the error thrown can be worded better.

Should be something like:

https://nodejs.org/api/child_process.html#child_process_child_process_execsync_command_options

[refack adding]
https://github.com/nodejs/node/blob/467385a49b659b704973b8195328775b620ae6ab/doc/api/child_process.md#L687-L689

[2017-08-19 16:21] addaleax commented on #14943
Can you try this diff?

[code]

[2017-08-19 16:48] refack commented on #14944
I'd tweak the last part as well:
[code]

[2017-08-19 16:48] refack commented on #14944
/cc @nodejs/documentation

[2017-08-19 17:04] Trott commented on #13638
Perhaps the program is crashing, not throwing an error. Maybe something is printed to `stderr` in the subprocess.

[2017-08-19 17:46] shivanth commented on #14843
Try switching to a staging branch, say `v6.x-staging`. I ran into this error with that branch yesterday :-)

[2017-08-19 17:57] Trott commented on #14897
Is this something anyone is actively working on?

[2017-08-19 19:00] sam0410 commented on #14308
Hi !
Can I make the PR for this ?
Thanks

[2017-08-19 20:21] tniessen commented on #14906
I am in favor of implementing this on core :+1:

[2017-08-19 20:55] refack commented on #12084
I have an idea about how to overcome the issue with the ICU toolchain. I'm not sure if it will solve the entire build, but it's a one step.
Even after that, since we can't add a `/test/know_issues/` for that I'd rather keep this one open, until it's at least mitigated significantly, say works on macOS Ubuntu and Windows (adding that to the first comment)

[2017-08-19 21:49] gibfahn commented on #14944
Both suggested changes sound reasonable.

[2017-08-20 01:10] ayazhafiz commented on #14944
I'd like to pick this up!

[2017-08-20 01:13] rvypandey commented on #14939
Thanks for the quick reply @bnoordhuis. I've only tried memwatch-next to generate heapdump. Here is the module that we have:

[code]

This generates the heapdump and stores it (locally) when leak happens.

I've not tried node-heapdump, because after the heapdump file is generated and loaded into chrome tools, they are basically same (from memwatch-next OR node-heapdump). However, I can give this a

[2017-08-20 01:41] refack commented on #14944
@ayazhafiz yours. (marked issue as `in progress`)
If you need any help feel free to contact me (Github @ mention, email, IM or IRC).
If you havn't already it is highly recommanded to take a look at the [CONTRIBUTING](https://github.com/nodejs/node/blob/master/CONTRIBUTING.md) guide.

[2017-08-20 02:14] srl295 commented on #12084
@refack sure no problem. Anyway my frustration here is gyp.

[2017-08-20 03:16] Venkat5694 commented on #14843
I was able to replicate it and while trying to look for empty directories in `addons` I realized that the directories which we deem to be empty do have a build folder and a `config.gypi` file inside it. So should we look if each of these `addons` folder contain a `binding.gyp` file instead?

[2017-08-20 08:00] vitaly-t opened #14952 "console.table doesn't do anything"
`console.table` function is there in Node.js 8.x, but why doesn't it output anything?

I would expect something consistent with [the spec](https://developer.mozilla.org/en-US/docs/Web/API/Console/table), but the function outputs nothing.

[2017-08-20 09:00] targos commented on #11851
should this stay open?

[2017-08-20 09:08] targos commented on #13964
This has been fixed in https://chromium-review.googlesource.com/c/557370/ and will land with V8 6.1

[2017-08-20 09:39] #11818 closed

[2017-08-20 09:53] may215 commented on #14402
I am using mode 8.0 and I had the same issue before on aws using t2.large machine, so, I changed the type of the machine to m4.medium and add "--max-old-space-size=16000" to the node process, it solve my issue.

[2017-08-20 10:18] TimothyGu commented on #14952
See #12675.

[2017-08-20 10:37] aschrijver commented on #14783
Thanks @irbull I updated the link in the overview. :+1:

[2017-08-20 10:43] vitaly-t commented on #14952
@TimothyGu it is related for sure, but doesn't give an answer.

[2017-08-20 10:51] vsemozhetbyt commented on #11851
@targos I think we can close it now. If anybody objects, feel free to reopen.

[2017-08-20 10:51] #11851 closed

[2017-08-20 11:14] TimothyGu commented on #14952
Yeah, just pointing out the fact that this is a known issue.

[2017-08-20 14:08] refack commented on #14444
@benjamingr has this progressed? If not might I suggest a solution similar to https://github.com/nodejs/node/pull/14578 &mdash; replace the term `child` with `subprocess` then the verb becomes way less significant.

[2017-08-20 15:12] refack commented on #13386
This reminds me of ["RFC 2308 - Negative Caching of DNS Queries (DNS NCACHE)"](https://tools.ietf.org/html/rfc2308) especially when considering ESM and `import`...
/cc @bmeck @ljharb @TimothyGu

[2017-08-20 15:35] bmeck commented on #13386
I wont be recommending any change of this magnitude to CJS; the ESM cache does properly save exceptions. The CJS ESM bridge was intentionally vague here, but recent change to ECMAScript spec mandates rethrowing and we can rephrase to be more concrete.

[2017-08-20 15:48] benjamingr commented on #14444
@refack that sounds like a good idea. To be honest I completely forgot about this issue 0_0

If you want to (and have time) to PR this be my guest - otherwise probably next weekend.

[2017-08-20 16:22] tniessen commented on #13386
@refack Negative DNS caches can be a PITA though...

[2017-08-20 16:46] jasnell commented on #14952
Adding some notes to the documentation would be ++

[2017-08-20 17:55] refack commented on #13386
I know that's why I think it's a good comparison. Theoretically a failed `require` could succeed later (`process.chdir()`, target file created / fetched in runtime, storage can back online, etc.)

[2017-08-20 18:14] akc42 commented on #14925
I made a small server and client to try and replicate this problem on a smaller body of code. Despite over 3600 heartbeat requests with one every 5 seconds, it has not failed at all, yet the data points I listed above show failure after around 30 or 60 requests

I tried to understand, by code reading how the problem occurred in the first place, but I didn't get all that far.  Its looking like the

[2017-08-20 18:44] jasnell commented on #14925
Yeah, it's likely a race condition in the resume logic. Should be a straightforward fix to check if the stream is open when resume is called

[2017-08-20 21:38] petethecat10 opened #14954 "Pokemon go."
* **Version**:
* **Platform**:
* **Subsystem**:

[2017-08-20 21:44] #14954 closed

[2017-08-20 22:06] #14611 closed

[2017-08-20 22:43] #14792 closed

[2017-08-20 22:48] bnoordhuis commented on #14939
If you have a standalone test case (just builtin modules, no third-party ones from npm), I'll be happy to look at it.

That doesn't sound right.  memwatch-next and node-heapdump do different things; the latter is more akin to the heap profiler in Chrome DevTools.  (In fact, it writes files you can load in the heap profiler.)

[2017-08-20 22:54] bnoordhuis commented on #14900
This isn't something for node to solve though.  I can tweak routing rules on Linux to exclude `lo` from `::` or `0.0.0.0` and I'm sure you can do the reverse on Windows.

Node papers over platform differences when it's feasible and makes sense but that isn't the case here.

[2017-08-21 01:22] rvypandey commented on #14939
Thanks for the response.

I'm trying to create a simple app for you to test directly.
For the memory monitoring using node-heapdump, I'll take that up after this.

[2017-08-21 02:27] refack commented on #14900
Seems like on Windows it's always EADDRNOTAVAIL same as port 0 on POSIX:
![image](https://user-images.githubusercontent.com/96947/29500740-6f11bc76-85f1-11e7-9e30-7c1cef1db0aa.png)

[code]

So IMHO this disparity needs to be addressed at least with a note in the documentation.
Somewhere around https://github.com/nodejs/node/blob/master/doc/api/net.md#socketconnect
[code]

[2017-08-21 02:55] XadillaX commented on #13581
libuv #14866 will fix this issue. (via https://github.com/libuv/libuv/commit/f1e0fc43d17d9f2d16b6c4f9da570a4f3f6063ed)

[2017-08-21 03:18] stelcheck commented on #13386
@refack `chdir` should not matter for how the cache is processed (the cache resolves a module/file to its absolute path and read/write from/to cache using this absolute path AFAIK).

As for the file system going offline/online, I guess that's a valid case. But I also think it is likely to be less common. In my opinion, it would make more sense to force cache invalidation if you want to reimport.

[2017-08-21 04:25] #14619 closed

[2017-08-21 05:54] chenminhua opened #14957 "how to get the ppid of a process?"
I want to let child process know if it's parent was killed, so I hope the child process can get it's ppid.
If ppid == 1, then i can know the parent has died.

But process module seems not having this prop or method

[2017-08-21 06:15] arpho commented on #9355
same problem,I did like bollogo and it worked

[2017-08-21 06:27] akihikodaki opened #14958 "child_process cannot have multiple readable pipes"
* **Version**: v8.4.0
* **Platform**: Linux aki-X220t 4.12.8-2-ARCH #1 SMP PREEMPT Fri Aug 18 14:08:02 UTC 2017 x86_64 GNU/Linux
* **Subsystem**: child_process

child_process cannot have multiple readable pipes because it assumes file descriptors with a number larger than 0 (`stdin`) are all writable pipes.
[code]
https://github.com/nodejs/node/commit/a77c330c32fc1c2ffd5069e3ca57e4d3478b2e5e#diff-

[2017-08-21 07:06] mscdex commented on #14957
This feature request would most likely have to be submitted to the libuv issue tracker as it would need to be added there first. Be aware though, Windows doesn't really have the same kind of support for parent pids like *nix does, in that you can only get the original parent process id (which may/may not have been assigned to another process if the original parent process has since died).

[2017-08-21 07:26] nxhack commented on #9707
It seems that patch related to 'mkpeephole' becomes unnecessary in node.js 8.3.0 and later releases.

[2017-08-21 07:36] piranna commented on #9707
What do you mean? Does it works now? I'm still getting build fails...

[2017-08-21 08:53] Venkat5694 commented on #14843
@refack Can you guide me through what needs to be the best fix here?

[2017-08-21 08:53] bnoordhuis commented on #14957
`process.pid` is implemented directly in node.js (src/node.cc), it doesn't go through libuv.  I'm okay with adding it, I can see no reason not to.

[2017-08-21 09:00] bnoordhuis commented on #9707
`mkpeephole` no longer exists in v8.3.0 and up.

[2017-08-21 09:04] bnoordhuis commented on #13964
Thanks for the update, @targos.  I'll close this out.

[2017-08-21 09:04] #13964 closed

[2017-08-21 09:40] jorangreef commented on #14917
Thanks Ben.

Here's a script to reproduce. Would you try your perf magic on it to see what you see?

It grows the heap every 2 seconds by 512 mb and then spawns `echo hello world`. You should see pause times increasing as RSS increases beyond a few GB.

[code]

[code]
I get the following:
[code]

I think [this](https://github.com/davepacheco/node-spawn-async#why) is the explanation but perhaps the

[2017-08-21 09:51] lll000111 opened #14960 "fs.mkdir, fs.mkdtemp(Sync) return ENOENT for the documentation example (Windows, run from git bash)"
* **Version**: v8.4.0
* **Platform**: Windows 10
* **Subsystem**: git for Windows bash

**The problem does not occur when `node` is started from a Windows shell** - so it may be a git bash bug in the end?

Originally reported as `flow-upgrade` issue: https://github.com/facebook/flow/issues/4647#issuecomment-323695825

Code taken from https://nodejs.org/dist/latest-v8.x/docs/api/fs.html#fs_fs_mkdte

[2017-08-21 10:11] lll000111 commented on #14960
Update, actually the path translation issue is not so clear, I only get the "C" drive absolute path from `mkdir` but `mkdtemp` shows the correct path:

[code]

[2017-08-21 10:39] a4amitava commented on #14785
@gireeshpunathil .
I have followed you , but getting the below error . i have also posted the same to help forum https://github.com/nodejs/help/issues/784
Can you please also advice ?

[2017-08-21 11:07] piranna commented on #9707
It's still fetching incorectly the host cpu from the toolchain, but efectively, I can confirm that now cross-compiling works again.

[2017-08-21 11:55] refack commented on #14843
This sounds good to me. https://github.com/nodejs/node/blob/58ca8c68c400919d88b03dded6c24f9f1d31250b/Makefile#L253
would be a good place to start.

[2017-08-21 12:05] refack commented on #14843
After looking at both `Makefile` and `vcbuild.bat` IMHO an optimal solution would be to the addon building logic into a new JS script in tools. A good name might be `/tools/make-addons.js`.

AFAICT this whole section should be refactored out:
https://github.com/nodejs/node/blob/58ca8c68c400919d88b03dded6c24f9f1d31250b/Makefile#L234-L304
Leaving behind only the `test/addons/.buildstamp` and `test/a

[2017-08-21 12:19] tniessen commented on #14930
This should have been fixed in https://github.com/nodejs/node/pull/14932 (8850fd4da16d1477c699484de0c9eaeee31e6fa6). Feel free to reopen if the nightly docs are still missing tomorrow.

[2017-08-21 12:44] bangert opened #14961 "Allow file descriptor to be passed to UDP socket - just as one can for TCP/Unix sockets"
In the net API (https://nodejs.org/api/net.html) Node allows the reception of an existing socket via its file descriptor - in the server.listen(handle[, backlog][, callback]) API. This is, among other things, useful when receiving the listening socket from a supervising daemon.

Unfortunately no such possibility appears to exist for the dgram API (https://nodejs.org/api/dgram.html).

This is a req

[2017-08-21 13:50] djflex68 opened #14962 "Node crash silently with "Invalid pointer" when using os.totalmem() multiple times"
* **Version**: 7.9.0
* **Platform**: 64 bits

Hello,

We are encountering an annoying bug that randomly crashes the whole node process silently : no error is displayed, try catch is not working, and the error is not trapped inside process.on("unhandledRejection") and in process.on("unhandledException").
After using pm2 (process manager), we got some extra infos about what happens internally when n

[2017-08-21 14:00] addaleax commented on #14962
Can you try a current version of Node.js, as downloadable from https://nodejs.org/? Node 7.x versions are no longer maintained.

[2017-08-21 14:26] bzoz commented on #14960
`/tmp/...` will be resolved to `C:\tmp\...` on Windows. If `C:\tmp` is not present you will get `ENOENT`, just like  with `fs.mkdtemp('/nonexisting/...')` on Linux.

You should probably use platform specific temp folder, something like:
[code]

[2017-08-21 14:30] djflex68 commented on #14962
Ok i will give a try asap

[2017-08-21 14:34] akc42 opened #14963 "http2: stream.respondWithFile, although capturing stream error when file not found, it also reflects error to req and res in compat layer"
I'm using the http2.createSecureServer with a request handler which passes request (as `req`) and response (as `res`) streams to the handler.

I am using `res.stream.respondWithFile()`

I am trying to catch errors where the file is not found, so I listen for error event on the stream so my code is like below

[code]
Even though I am handling the stream error, I am getting the same error reflected

[2017-08-21 14:41] addaleax commented on #14963
@nodejs/http2

[2017-08-21 14:43] jasnell commented on #14963
Yep, the error handling on the compat api side has not yet been updated. I'm hoping to get to it this week if someone else doesn't beat me to it

[2017-08-21 15:03] #13787 closed

[2017-08-21 15:04] bnoordhuis commented on #14961
I think that would be an acceptable change.  Pull requests welcome, the libuv function you are looking for is called `uv_udp_open()`; `uv_tcp_open()` is its net module counterpart.

[2017-08-21 15:48] aashil commented on #13638
That's the thing - it doesn't print anything in stderr too. Below is what I did.

[code]

[2017-08-21 15:56] AndrewBarba opened #14964 "http2 (client): Error [ERR_HTTP2_INVALID_SESSION]: The session has been destroyed"
* **Version**: Node.js 8.4.0
* **Platform**: Heroku
* **Subsystem**: Cedar-16 stack

I don't see this too often but once in a while it is showing up in my logs without a trace back to anything in my code. Below is a full class definition for a very basic http2-client library that I'm using to connect to Apple's HTTP/2 Push Notification API.

[code]

A couple things I could be doing incorrectly:
1.

[2017-08-21 15:59] jasnell commented on #14964
There's likely a race condition in the timeout code. The error is occurring because some bit of code (most likely the timeout) is attempting to fire after the session has already been destroyed. I'll take a look and verify.

[2017-08-21 17:28] hashseed commented on #14870
Hehe. That might explain @bmeurer's confusion when he saw 8.3.0 start up slow and Turbofan running hot when my Node master branch worked just fine :D

[2017-08-21 18:36] bcoates opened #14965 "exceptions in inspector callback cause fatal error"
* **Version**: v.8.4.0
* **Platform**: Linux 3.13.0-92-generic x86_64 (Ubuntu 14.04.4 LTS)
* **Subsystem**: inspector

An exception (either with "throw" or due to an error) inside the callback from an inspector event sometimes causes a fatal error (if there is not a fatal, it appears to eat the exception)

Possibly same issue as #12024

This case seems to reliably trigger it:

[code]

output:

[co

[2017-08-21 18:40] mscdex commented on #14965
/cc @nodejs/v8-inspector

[2017-08-21 19:34] misterdjules commented on #14872
FWIW, we use https://www.npmjs.com/package/kthxbai to address parts of that problem. You might find it useful too.

[2017-08-21 20:15] obermillerk opened #14967 "child_process.exec and .execSync returning exit code 1 without an error"
* **Version**: 6.11.2
* **Platform**: Windows 10 v1703 x64
* **Subsystem**: child_process

I'm trying to use exec to interface with the `netsh wlan` commands on Windows, and I've been having no trouble up until for some reason I get an exit code of 1 for a very specific command and circumstance. Most commands work fine with no issue, but when trying to call `netsh wlan show profiles` which lists a

[2017-08-21 21:47] #14857 closed

[2017-08-21 23:49] matthewloring commented on #14802
I got a chance to look into this a bit. I think the primary issue is that safely flushing the buffer requires locking a mutex which cannot be safely done inside a signal handler (I think). I'm not sure it will be possible to write this safely without ensuring the other thread isn't concurrently flushing the same buffer or swapping buffers mid flush.

[2017-08-21 23:53] eugeneo commented on #14965
This is caused by having a console.log statement that triggers inspector notification after the exception. I will take a look.

[2017-08-22 00:02] davewasmer opened #14970 "Add `mainDir` to module resolution algorithm"
First off, I realize that the Module API is frozen, so I understand if this proposal will be rejected outright. However, I figured I'd give it a shot anyway.

Many node packages today are written in a source language other than JavaScript, and compiled before publishing. The `main` field in the package.json file allows these compiled packages to specify a different file as the entry point (i.e. `d

[2017-08-22 00:04] davewasmer commented on #14970
Some prior art: https://github.com/nodejs/node/issues/3953. That issue was closed, but the reasons given were focused on the fact that it wanted to change the existing semantics of the `main` field, which would be problematic for backwards-compat. My proposal differs in suggesting we claim a new, essentially unused field for purely opt-in semantics.

[2017-08-22 02:15] raxim1 opened #14972 "Performance difference between node add-on and standalone c++"
I would have liked to use the stackoverflow, but it's pretty useless.

Can somebody provide me some performance related thoughts, as it seems to me, that it's some sort of Node VM, not native C++ run, as it generates .node files.

I would like to ship a third party library in my "electron" app - (hybrid desktop app)

[2017-08-22 02:51] TimothyGu commented on #14972
Yes it is normal compiled C++ code. The file extension is unrelated. The file format is a normal shared object (.so on Linux). This means that your normal C++ code will perform like C++ code, but note that there may be significant overhead at the JS-C++ border, so frequent calling into C++ from JS or into JS from C++ is not recommended.

For future questions I would suggest going to https://github

[2017-08-22 02:51] #14972 closed

[2017-08-22 12:32] duanyao opened #14976 "pause() method has no effect on zero-length HTTP response stream (IncomingMessage)"
* **Version**: v8.4.0, v6.10.2
* **Platform**: `Linux 4.9.0-deepin9-amd64 #1 SMP PREEMPT Deepin 4.9.29-4 (2017-07-17) x86_64 GNU/Linux`
* **Subsystem**: http

Test case:
[code]
Actual result:
[code]
Expected result:
[code]
I expect that `pause()` method should pause 'data' as well as 'end' events on any readable stream. But it seems when it comes to a zero-length HTTP response stream (e.g. by HEAD

[2017-08-22 12:40] #13801 closed

[2017-08-22 13:41] Trott commented on #14897
@nodejs/v8-inspector @nodejs/platform-aix Any chance we have a volunteer to dig more deeply into this? It's a pretty frequent occurrence right now.

[2017-08-22 14:06] cwalther opened #14977 "Add more information to os.networkInterfaces() output?"
I had a need to get some detail information about the system’s IPv6 addresses, specifically whether they were temporary. It turned out that this was not extremely hard to add to the built-in `os.networkInterfaces()` function. Because I would rather not have to ship and maintain a patched node, I extracted the relevant code from node and libuv and put it into a module, then made my additions there:

[2017-08-22 14:51] Fishrock123 commented on #14977
related to and possibly a duplicate of https://github.com/nodejs/node/issues/498?

[2017-08-22 16:00] cwalther commented on #14977
Definitely related in that it touches the same code (like mentioned libuv/libuv#1371, which is basically its implementation), but not a duplicate in my opinion, but orthogonal – it is asking for more interfaces, while my implementation adds more information inside each interface.

[2017-08-22 21:06] refack commented on #13386
AFAIK `require('./module')` resolves based on `pwd`.

But anyway a neg-cache is a trade off, and it would be introducing a change to a very delicate mechanism.
I'm what we call -0 on this (objecting in a not blocking way), mostly because of the fragility of the CJS resolver 🤷‍♂️.

[2017-08-22 21:32] mhdawson opened #14982 "Intermittent failure in inspector/test-break-when-eval ?"
* **Version**: master
* **Platform**: linux/centos
* **Subsystem**: inspector

Failure in CI run for unrelated doc change:

https://ci.nodejs.org/job/node-test-commit-linux/12000/nodes=centos5-32/console

[code]

[2017-08-22 21:41] #14398 closed

[2017-08-22 23:10] rvypandey commented on #14939
@bnoordhuis I've created and tested a bare-minimum app for you to have a look at.

Sorry for the delay.

App also has an `.ebextensions` folder which you can just delete.

The endpoint that the app is trying to reach is http://unreachable-endpoint.com, with a timeout of 1 ms (when tested). The resulting memory graph is:

<img width="996" alt="unreachable-endpoint mem leak" src="https://user-images

[2017-08-23 00:06] davewasmer commented on #14970
I created a package that simulates the semantics I'm proposing via monkey-patching Module, for the curious: https://github.com/davewasmer/main-dir

[2017-08-23 02:17] stelcheck commented on #13386
What I meant './module' will be converted to absolute path before being looked up in `require.cache`, but I had misunderstood your point (being that changing directory means relative requires no longer point to the same place, so the call may succeed). Sorry about that.

@bmeck does this mean require will rely on the import cache in the future? Or that it is already the case?

[2017-08-23 02:37] TimothyGu commented on #13386
@stelcheck

No it is not, and will not. CJS and ESM are two different systems. I think Bradley was just pointing out the fact that ESM will have a different behavior.

[2017-08-23 04:27] maclover7 commented on #6821
@MylesBorins Should this be closed? The [readme](https://github.com/nodejs/node/blob/master/README.md#verifying-binaries) contains instructions about verifying via `SHASUMS256.txt.asc`

[2017-08-23 05:29] benhalverson commented on #14544
Is this still being worked on? @refack @Trott
I'd like to help.

[2017-08-23 07:41] vongohren commented on #4161
I recieved this today on my heroku server: `Aug 23 06:00:00 0c5e4c77-c2c9-445d-aff8-3564937f7520 comicFeed:  error We’ve encountered an error: Error: 140094844344192:error:1408F119:SSL routines:SSL3_GET_RECORD:decryption failed or bad record mac:../deps/openssl/openssl/ssl/s3_pkt.c:535:`

The server is running node 7.10
But I dont have much else to go on.

[2017-08-23 08:37] yangxiaomin08 opened #14984 "nodejs halt when testing a REExpr"
* **Version**:v6.2.2
* **Platform**: Linux  3.14.10  SMP Thu Jul 24 14:05:38 CST 2014 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

var re = ' ([a-zA-Z0-9_]+.)+com|net|cc';
var re_obj = new RegExp(re);
var str = '[Erotic anime videos] Nowadays school girls have a good friend and saddle spree in sex while calling the best friends... - Hentai Anime';
re_obj.test(str);//halts here. 100% cpu.

[2017-08-23 09:32] gibfahn commented on #14785
Suggestion from @bnoordhuis:

@shellberg FYI.

[2017-08-23 10:59] richardlau commented on #14843
https://github.com/nodejs/node/pull/12231 refactors out much of the logic for building addons to .js files.

[2017-08-23 11:01] rvagg commented on #6821
This is still an active TODO. We need to switch to recommending use of SHASUM256.txt and SHASUM256.txt.sig rather than the .asc files for reasons I stated above when making the case for detached signatures. Since we've been doing detached signatures for many months now it's time to update the README with the safer recommendation.

[2017-08-23 11:05] mcollina opened #14985 "http2: improve code coverage"
This is a meta-issue to improve the code coverage of http2.
As you can see in https://coverage.nodejs.org/coverage-342c5f9d4c2eb868/root/internal/http2/index.html, we have 79% code coverage, and we should definitely do better before it leaves experimental status.

Feel free to reach out to @nodejs/http2 if you have any questions on how to test this part of Node.js.

[2017-08-23 11:42] shellberg commented on #14785
Thanks @gib / @bnoordhuis.
Compiling with -frtti is the default for gcc / g++, and for the majority(all?) of other mainstream compilers.  Consequently, to produce a binary for node without RTTI support introduces a potential issue for any other native module implementations that derive from libuv or v8 classes/structs.  I'm unclear yet whether our node implementation relies upon runtime type info

[2017-08-23 11:42] TimothyGu commented on #14985
There's https://github.com/http2/http2-test, which happens to be written to run on Node.js. We should look into integrating that.

[2017-08-23 11:52] mcollina commented on #14985
@TimothyGu thats fairly old and for the http2 module published on npm. I think we need something specific for core in `test/parallel`.

[2017-08-23 14:02] Trott commented on #4161
7.x is unsupported. If you can, consider upgrading to 8.x (which will be supported until the end of 2019). No idea if this will fix your issue, but it's the first thing I'd try.

[2017-08-23 14:39] kasicka commented on #3077
So, is there a way to have FIPS and shared openssl?

[2017-08-23 15:35] raub commented on #556
+1
I use OpenGL window, and if I were to release any kind of product based on it, I'd rather prefere to hide an ugly black console from the end-user

[2017-08-23 15:45] benjamingr opened #14989 "That Ayo fork thing?"
Hi, so I just saw: https://sourcecontribute.com/2017/08/22/node-js-has-forked-into-ayo/

As a collaborator:

 - What does that mean for me?
 - Are there any implications?
 - Has anyone left the project?

[2017-08-23 16:03] aqrln commented on #14989
As far as I know, only nebrius and pup decided to leave the Node.js project. (Not @-mentioning them because I'm not sure if they would want to be involved in this thread.)

[2017-08-23 16:08] addaleax commented on #14989
I know this has already kind of been answered, but: All of the CTC members who resigned from the TSC, me included, remain on the CTC & on the project for now.

Your other questions might be a bit vague for giving good answers. :)

[2017-08-23 16:08] refack commented on #14989
All I know is that I'm not leaving.

I think a fork is a productive way to resolve conflicts in value priorities between project members.
I believe the current situation is properly handled by the current leadership, esp. by @jasnell.

[2017-08-23 16:10] benjamingr commented on #14989
I'm perfectly content with the current leadership and I don't think I'm going anywhere. I apologize if I'm unclear about what I'm asking - but this is really confusing as a collaborator.

[2017-08-23 16:10] bmeck opened #14990 "Regression: Resolution algorithm collision"
* **Version**: v4+
* **Platform**: all
* **Subsystem**: module

At some time just before v4 [a seemingly invalid test](https://github.com/nodejs/node/blob/7535a94c8a54bb6346c8e60dbae1c32d6f508212/test/parallel/test-require-extensions-same-filename-as-dir.js) was introduced. It invalidates the resolve algorithm [as documented](https://nodejs.org/api/modules.html#modules_all_together) by checking fo

[2017-08-23 16:13] jasnell commented on #14990
ping @nodejs/ctc

[2017-08-23 16:16] jasnell commented on #14989
Forks happen. According to GitHub there are currently 7,647 Forks of Node.js out there in the world ;-) . This is Open Source Land where forks are really nothing to be worried about or afraid of. People work on code where they want to work on code. I'm not particularly worried about it.

[2017-08-23 16:21] cjihrig commented on #14990
Is it just a test, or were there changes to the algorithm itself? If it's just a test, could we rework it to be correct? If there were changes to the algorithm, then we might want to update the docs instead.

[2017-08-23 16:24] vsemozhetbyt commented on #14989
I am not sure this is the same fork as the other 7,647...

[2017-08-23 16:26] bmeck commented on #14990
The test is invalid since it doesn't match the docs. We need to revert to the original algorithm to fix. I don't want to update docs because the behavior is very odd to me.

[2017-08-23 16:28] BridgeAR commented on #14990
As far as I see it the test (and code change) exists since iojs 1.0 and was introduced here https://github.com/nodejs/node/commit/36777d2a5f4f8da938edf9290fb74e381bfdb644

[2017-08-23 16:28] vsemozhetbyt commented on #14989
This is like 7,647 childbirths and 1 family separation. I would not be happy about this last one.

[2017-08-23 16:31] sk91 commented on #14869
same issue node v8.4.0

[2017-08-23 16:39] vsemozhetbyt commented on #14989
I do not just want this to be perceived lightheartedly by any side, like no big deal, Especially by the staying side.

[2017-08-23 16:53] bmeck commented on #14990
Any way we look at it, we should fix the `require("./foo")` example above

[2017-08-23 16:54] RReverser commented on #14989
@vsemozhetbyt How do you see it different?

[2017-08-23 16:54] jasnell commented on #14990
I'm +1 for reverting but we need to take a close look at the semver-i-iness of the change.

[2017-08-23 17:14] vsemozhetbyt commented on #14989
@RReverser Sorry, I do not understand the question. Can you elaborate?

[2017-08-23 17:23] #14944 closed

[2017-08-23 17:45] RReverser commented on #14989
@vsemozhetbyt You said:

That's why I'm asking - what do you see different about this one? Seems like just yet another fork.

[2017-08-23 17:52] sk91 commented on #14869
@mtraynham it seems to be related to this commit: https://github.com/nodejs/node/commit/a7f5c9cb7d083eeb8efc0a590843415b3bff1723

will fix your test

[2017-08-23 17:58] refack commented on #14989
AFAICT it's a fork with the intention to produce a different product, and work under a different governing system.

Also it was not made with the goal of merging (but that may change)
![image](https://user-images.githubusercontent.com/96947/29630541-97a60ff0-880a-11e7-9067-cc7055eab555.png)

They already appear to have different concept of openness (I'm assuming to minimize noise while they establ

[2017-08-23 18:02] vsemozhetbyt commented on #14989
@RReverser I am not aware if any of these forks was a response to some painful situation and was connected with significant stepping down of core Node.js collaborators and commotion in the community.

[2017-08-23 18:04] addaleax commented on #14989
I’m linking [the actual thread](https://github.com/ayojs/ayo/issues/4) here you cite, because I really can’t see how you’d read that out of it.

[2017-08-23 18:32] bnoordhuis commented on #14785
Hi @shellberg, node.js and its dependencies (V8, libuv, etc.) are built with `-fno-rtti -fno-exceptions`.

Add-ons (native modules) can decide for themselves whether to enable RTTI or exceptions or not.  Interoperability is seamless as long as you don't let exceptions bubble up into `-fno-rtti` code.

[2017-08-23 18:35] benjamingr commented on #14989
I think given a lot of us here joined in the io.js period when we were a fork I would not downplay the power of forks. Remember, Node.js itself is taken from a fork.

I bet that out of 7000+ forks of Node.js in GitHub the vast majority are not real projects. I think it's probably more like:

  - every contributor ever having a fork in order to pull request including those who never did.
  - curiou

[2017-08-23 18:36] bnoordhuis commented on #14990
The description in the documentation has been at odds with the actual implementation since at least v0.12, possibly v0.10.  See https://github.com/nodejs/node/issues/4595#issuecomment-170143725 for an example.

[2017-08-23 18:39] jasnell commented on #14990
@bnoordhuis ... given that, which do you prefer: modifying the docs to match the impl or modifying the impl to match the docs?

[2017-08-23 18:44] bnoordhuis commented on #3077
@kasicka Does `node --enable-fips` or `node --force-fips` work?

[2017-08-23 18:45] vkurchatkin commented on #14989
They are probably not. This one is probably not as well. This looks more of a statement than a genuine attempt to create a fork. In any case, this issue is at the very least not actionable at all. People are free to create forks if they want to do so, there is nothing we can do about it.

[2017-08-23 18:56] varjmes commented on #14989
Seconding @addaleax, I am not sure how you came to that conclusion.

The repository and its members are currently undergoing harassment, so we limited conversation for 24 hours. I have tried to let people know in the repo in some of the issues where difficulties have been had. Apologies I could not be more transparent at this time but I don't feel like linking to the horrible things being said :)

[2017-08-23 18:57] benjamingr commented on #14989
@vkurchatkin I'm not sure if it's a genuine attempt or a statement. I agree it's a lot less clear cut than it was with io.js .

I created an issue because a lot of people who are involved in the project don't really have any reliable and open source of information about those things. I [was told that this is the right place to do so](https://github.com/nodejs/moderation/issues/114#issuecomment-324

[2017-08-23 19:02] benjamingr commented on #14989
By _whom?_ Are you really saying Node.js organization members are harassing you right now so much that you had to explicitly lock them out of the fork's repo?

I realize that the TSC vote created a lot of tension but I had no idea it has escalated to the point of feeling threatened by constant harassment. I think being transparent can do a lot of good in this case for the 95% of the project who ha

[2017-08-23 19:07] addaleax commented on #14989
The infamous reddit anti-sjw crowd; this has nothing to do with Node org members.

[2017-08-23 19:10] vkurchatkin commented on #14989
You should probably ask said people in their repository.

[2017-08-23 19:12] zkat commented on #14989
@benjamingr As @addaleax says.

I'm the one who locked it, and I did it last night in reaction to people pointing out that this was making the rounds of KiA/GG/HN circles, and we were starting to see a trickle of trolls and bad actors.

There's no rush on these conversations, and they'll be fully publicly-accessible once we don't have to defend ourselves against the piss-colored tide of eggplant t

[2017-08-23 19:12] pup commented on #14989
we're trying to be as transparent as possible! but this is definitely harder when:

1. your repository is being attacked by reddit/etc randos
2. you're still trying to figure out basic things such as communication channels
3. the situation due to which you exist is still unfolding

[2017-08-23 19:16] benjamingr commented on #14989
@addaleax yuck. I don't really interact with `anti-` crowds much. I still think that it would have been better to open the repo for all Node.js org members so discussion could have been had.

@vkurchatkin

I don't really know who said people _are_ (since no one is saying) and the fork repo is locked. I would _assume_ that people who know what's going on would be here and the issue is relevant to t

[2017-08-23 19:20] addaleax commented on #14989
I think it’s okay for me to say that people active so far include me, @zkat, @pup, @varjmes, @Fishrock123 and @nebrius

I don’t know, have you seen https://github.com/nodejs/TSC/issues/310 / https://github.com/nodejs/community-committee/issues/111 ?

[2017-08-23 19:21] bnoordhuis commented on #14990
The path of least resistance is to update the documentation; any change to the algorithm will almost certainly result in some fallout.

[2017-08-23 19:22] zkat commented on #14989
@benjamingr if you're unfamiliar with the tools GitHub provides for this, here's a screenshot of the settings I enabled.

![temporary limits](https://puu.sh/xhN9i/193cee0f47.png)

And again, perhaps it's healthy to wait more than 24 hours before shouting from the rooftops about "censorship". Look at it this way: IO.js was done secretly, behind closed doors, for *months* before it was made public,

[2017-08-23 19:23] varjmes commented on #14989
The repo was open for all until 10am this morning (GMT) when I was alerted to harassment that the repo and its members are experiencing. In 24 hours it will be rescinded. I cannot make this any clearer.

[2017-08-23 19:26] jasnell commented on #14989
@vsemozhetbyt ...

Sure it is. Each of those was made for one reason or another, most with the idea in mind that the person or people forking has some ideas on how to make Node.js better. Heck, I have a private fork of Node.js in which I've rewritten half of the thing, including all the governance, just to play around with various ideas! It's how I brainstorm things. It's a nightmare to keep in sy

[2017-08-23 19:27] bmeck commented on #14990
How do we cleanly explain that it searches for directory package.json
before file extensions but directory  index files after file extensions.

Mind you the change in the past was also breaking.

On Aug 23, 2017 2:23 PM, "Ben Noordhuis" <notifications@github.com> wrote:

[2017-08-23 19:31] benjamingr commented on #14989
@addaleax

I have - nodejs/TSC#310 doesn't mention the fork. In nodejs/community-committee#111  Rachel wrote when asked about the fork:

Which to me seemed pretty hostile and indicative that that would not be a good place to ask about it. I did not want to start unwanted discussion there.

@varjmes

That's fair, it would have been nice if the repo actually said that in the README.

@jasnell

See [

[2017-08-23 19:32] zkat commented on #14989
@jasnell whether more than some discussion comes of it is dependent on whether Node Core and the Node Foundation drastically re-evaluate their governance, their enforcement policy, and show results soon. I think recent events have made it clearer that safe, incremental changes are no longer viable, and nothing short of outright removal of _several_ members from leadership and a complete re-evaluat

[2017-08-23 19:34] refack commented on #14989
@addaleax as I said earlier I think the fork is a good idea, and I want to find a way to (1) help the fork (2) help resolve the problems in node.js.

I should have included a link to the original thread.

The issue's title "is re-merging with the Node project a goal?" and that fact that it's still open mean the conversation did not end.

**No criticism**, just stating that IMHO it's not "just anot

[2017-08-23 19:37] zkat commented on #14989
@refack much like our approach with others right now: I've invited you and @benjamingr to the org, which should give you the ability to comment. The temporary limits are to protect from ill-intentioned randos until the fire dies down a bit.

[2017-08-23 19:49] refack commented on #14989
I personally at least did not say censorship. I assumed you are being harassed and said so. My comment was trying to be objective observation, but I guess it's impossible to convey objectivity at this time.
![image](https://user-images.githubusercontent.com/96947/29635124-07766564-881a-11e7-86e5-9e62609aa885.png)

### Again, I think the fork is a good thing. I hope you succeed. I want to find a wa

[2017-08-23 19:54] benhalverson commented on #14985
@mcollina I'd like to help improve the test coverage. Where should I look to get started on http2?

[2017-08-23 20:02] jasnell commented on #14985
@benhalverson ... reach out any time with any questions you may have.

[2017-08-23 21:21] nponeccop opened #14994 "Undocumented punycode validation exception"
* **Version**: v8.4.0
* **Platform**: Linux 4.12.8 i686
* **Subsystem**: http

[code]

The code above prints `error` for `goodUrl` and throws a exception for `badUrl`.

However, this throwing is not explained in the documentation of `http.get()` and `http.request()` methods. Nor in Url constructor etc.

The problem seems to stem from the fact that `url.parse('http://xn--a--a').hostname.codePointAt

[2017-08-23 21:43] jasnell commented on #14994
ah yes... what you would need to do in this case is convert the URL to ascii first and then pass it in to `http.get()`. I'll take a look to see if there's a fix we can get into core tho.

[2017-08-23 21:44] jasnell commented on #14994
Marking this as a feature request... specifically, URLs passed in to http.get should not be converted to punycode in the host header.

[2017-08-23 21:54] gibfahn commented on #14785
@bnoordhuis given this error (with the community AIX build of Node), that suggests that we're not using that flag on AIX right? Where is it set in other platforms?

[2017-08-23 22:03] Trott commented on #14982
Uh oh, here's another one:

https://ci.nodejs.org/job/node-test-commit-linux/12004/nodes=centos5-32/console

[code]

[2017-08-23 22:04] jasnell commented on #14989
Given that this repo isn't the place to talk about recruiting people to go work on that fork, @benjamingr ... has your original question been answered? Would you like this thread to remain open?

[2017-08-23 22:04] Trott commented on #14982
@nodejs/v8-inspector

[2017-08-23 22:06] gibfahn commented on #14785
Okay, answered my own question, we set `-fno-rtti` for AIX in `common.gypi` for node, and things in `deps/`:

- Node:

https://github.com/nodejs/node/blob/e70d0b0904239ed7f47d8c8701f0d8bc85ea5c28/common.gypi#L273-L275

- c-ares:

https://github.com/nodejs/node/blob/e70d0b0904239ed7f47d8c8701f0d8bc85ea5c28/deps/cares/common.gypi#L140-L145

- V8:

https://github.com/nodejs/node/blob/e70d0b0904239ed7

[2017-08-23 22:23] #14989 closed

[2017-08-23 22:23] benjamingr commented on #14989
Thanks, I think we had some good discussion and can close this now.

[2017-08-23 23:10] nponeccop commented on #14994
It's other way around - I pass an ascii url and it gets converted from punycode.

[2017-08-24 00:54] jbeard4 commented on #7593
Source maps are ignored in chrome dev tools for code that is evaluated using `vm.runInContext`.

[2017-08-24 01:47] #1716 closed

[2017-08-24 03:12] nponeccop commented on #14994
https://github.com/nodejs/node/blob/d14c13238b554be335bbf66a315f855e49fdd52e/lib/url.js#L340

[code]

I did a little research and turns out this line of code does the opposite. `toASCII` comes from `icu`. And
[code]
adds that nasty unicode character.

`toASCII` is supposed to be a noop (identity) for DNS labels that only contain ASCII. So we need to go deeper into `idn`.

[2017-08-24 03:19] TimothyGu commented on #14994
We ruled against that in the URL Standard after https://github.com/whatwg/url/pull/309#issuecomment-301405332 and https://github.com/whatwg/url/pull/309#issuecomment-301414556.

I'll take a look.

[2017-08-24 03:26] nponeccop commented on #14994
To add some details, `xn--a--a` looks like Punycode, but it's invalid. Should toASCII inject unicode non-ascii into the output in the lenient mode? It's what it currently does.

Also, how should `http.get()` behave when it encounters malformed punycode? Currently it throws an exception which is technically acceptable if documented, but practically makes error handling cumbersome as we already have

[2017-08-24 04:03] ssttevee opened #15000 "Custom inspect throws error when using c++ named property handlers"
- **Version**: 8.4.0
- **Platform**: Linux 4.4.0-43-Microsoft x86_64
- **Subsystem**: util

Passing any c++ object that uses [`v8::NamedPropertyGetterCallback`](http://v8dox.com/2d806f4/html/namespacev8.html#a50cae386a68bf9ff23d02aa1161face4) results in `TypeError: Cannot convert a Symbol value to a string` being thrown.

I'm not sure if this is expected behavior in v8, but I've narrowed it down t

[2017-08-24 04:12] tuananh commented on #14989
ayojs wasn't like iojs at all. at the time, the goal of iojs is to keep up with v8 update.

as far as i know, ayojs difference this time is only <strike>politic</strike> governing system.

[2017-08-24 05:11] bnoordhuis commented on #15000
`util.inspect(process.env)` should be affected in that case but it works fine for me.  Do you have a concrete example?  Preferably something using builtin modules.

[2017-08-24 05:20] TimothyGu commented on #15000
@ssttevee You need to make sure you are using [`v8::GenericNamedPropertySetterCallback`](https://v8docs.nodesource.com/node-8.0/d2/dc3/namespacev8.html#a2ee3fd980c34ec4aaa5235ecf8505847) with [`v8::NamedPropertyHandlerConfiguration`](https://v8docs.nodesource.com/node-8.0/d1/dad/structv8_1_1_named_property_handler_configuration.html) and [`v8::ObjectTemplate::SetHandler`](https://v8docs.nodesource

[2017-08-24 05:25] jasnell commented on #15000
I can confirm the results @bnoordhuis is seeing... it's working for me.

[2017-08-24 05:40] bnoordhuis commented on #14994
It's consistent with how other malformed URLs are handled (e.g. `http.get('file:///boom')` throws an exception) and consistent with Node.js core's general philosophy vis-a-vis error handling: throw on malformed input, emit error events for run-time errors.

It sounds like this is a documentation issue.

[2017-08-24 06:16] TimothyGu commented on #15000
`process.env` uses the new `v8::ObjectTemplate::SetHandler()` which supports Symbols as well, which explains why it is working but not `NamedPropertyGetterCallback`.

[2017-08-24 06:36] abjunoo commented on #14656
I think you had a little misunderstands.
Last Note says you that 'When you open stream for reading after end event, then it will return null'

[2017-08-24 06:37] jesboom commented on #14856
This "timeout" event is very simple and wellknown event.
And if you refer to the document's request.setTimeout (timeout [, callback]) section,
you can see the document for the "timeout" event

**request.setTimeout(timeout[, callback])
-timeout {number} Milliseconds before a request is considered to be timed out.
-callback {Function} Optional function to be called when a timeout occurs. Same as bin

[2017-08-24 06:38] ohji1006 commented on #14976
First, i check  _stream_readable.js
and ,in there  , _stream_readable.js  has  Readable.prototype.pause function stopping thread and, in there,  has this._readableState.flowing parameter that check stream readable and stop thread.

so i check this._readableState.flowing parameter in two case like read local file, zero-length HTTP response stream , but this._readableState.flowing return same result

[2017-08-24 06:55] ssttevee commented on #15000
@TimothyGu, you're right, it works with `GenericNamedPropertyGetterCallback`, but I think it's important to make it work with `NamedPropertyGetterCallback` as well.

Nan does not make have any information about `GenericNamedPropertyGetterCallback` or `v8::ObjectTemplate::SetHandler()` and a lot of resources point to it as a truth. Neither is there in the v8 [wiki](https://github.com/v8/v8/wiki) on

[2017-08-24 06:57] TimothyGu commented on #15000
@ssttevee From what I'm seeing `NamedPropertyGetterCallback` *works* in JS. It just doesn't work when you try to inspect it in the REPL, because the REPL tries to access a symbol property.

I'm not entirely sure there's a way to fix that.

[2017-08-24 07:08] ssttevee commented on #15000
@TimothyGu Yeah, I meant to have it work with `Symbol`s.

Isn't it possible to just `try...catch` it?

[2017-08-24 07:11] annevk commented on #14994
OP, I take it you can and do access `http://xn--a--a` in browsers? If so, the compatibility problem here is again browsers not universally applying ToASCII yet. Bugs have been filed to make them do so, as treating ASCII different from other character sets is unfair (and not validating `xn--` as Punycode also makes little sense). However, if this kind of problem is widespread enough or browsers are

[2017-08-24 07:27] TimothyGu commented on #15000
The problem is we want to throw an error for things like

[code]

[2017-08-24 07:29] bzoz commented on #14967
`execSync` throws when the command has non-zero exit code. You can access child output from the exception object.

If you want to get `net wlan show profiles` output no matter if it fails or not, you can use either asynchronous version of `exec`. The callback will have `stdout` set.

Or you can catch exception and get `stdout` from there. Something like:
[code]

That said, I don't see any issue wi

[2017-08-24 07:29] #14967 closed

[2017-08-24 08:04] micooz opened #15005 "TLSSocket.bufferSize is always +1 before and after write()"
* **Version**: v8.4.0
* **Platform**: Linux 4.4.0-92-generic x86_64 GNU/Linux
* **Subsystem**: net,tls

**reproduce:**

[code]

`bufferSize` is obviously wrong in this case, this affects users who rely on this property to make judgments, for example:

[code]

**why?**

https://github.com/nodejs/node/blob/3cf27f14857dd970f2400d055a402702763144e0/lib/_tls_wrap.js#L427-L437

It seems a legacy code he

[2017-08-24 08:12] ssbrewster commented on #14985
@jasnell should it be one PR per test file added or multiple test files in one PR (if it matters)?

[2017-08-24 08:15] zkat commented on #14989
For the curious, there is a WIP PR with a values statement from the Ayo.js community that might shed some light on what we're actually hoping to change: https://github.com/ayojs/ayo/pull/15. I get that on the surface this looks like it's focused on a single failed vote, but what I consider to be the dysfunction that led to it runs much deeper, and involves long-running concerns with Node Core and

[2017-08-24 08:18] mcollina commented on #14985
@ssbrewster it's ok if it's a PR with 2-3 files if they are connected to the same area that you are testing. If you are adding some tests for `sendFile`, then it's ok if they all live in the same commit/PR. If they are related to different areas of the API, then fire multiple PRs.

[2017-08-24 08:20] ssbrewster commented on #14985
Great, thanks for the clarification @mcollina

[2017-08-24 08:38] mscdex commented on #14656
@abjunoo This doesn't have to do with "opening" a stream. The contradiction here is what happens after a stream ends. The first statement says you'll get a Buffer back of whatever was left in the stream and the second statement suggests you'll get `null`.

I understand how it actually works, I'm merely pointing out that the documentation here is not very clear as to what should be expected and whe

[2017-08-24 09:19] jorangreef commented on #1671
@trevnorris I'm sorry, the chart I provided [above](https://github.com/nodejs/node/issues/1671#issuecomment-319936354) a few days ago turned out to be a red herring.

I found the hockey stick jumps in RSS were due to hash table resizing in our storage system (the green line below):

![image](https://user-images.githubusercontent.com/413206/29659191-b4ad4e7a-88bd-11e7-8817-62adff8abb16.png)

[2017-08-24 10:32] bzoz commented on #14977
PRs to [libuv](https://github.com/libuv/libuv) are always welcomed, feel free to open one. ABI stability is very important in libuv though. If your code changes structs then it will have hard time being accepted into the v1.x branch.

[2017-08-24 11:35] jaimecbernardo commented on #14103
Hi, this issue was fixed in [this upstream commit](https://chromium.googlesource.com/external/gyp/+/324dd166b7c0b39d513026fa52d6280ac6d56770) , which was has landed in https://github.com/nodejs/node/commit/327077ce43866020eadaf3b58f7280a09ed0c348 .

[2017-08-24 11:52] bzoz commented on #14960
@lll000111 do you still have issue with `mkdtemp`?

[2017-08-24 12:04] #14103 closed

[2017-08-24 12:12] EternalDeiwos opened #15009 "AES Key Wrap Segfault"
CC @thelunararmy

* **Version**: 6.11.2
* **Platform**: Linux PCName 4.8.0-56-generic # 61~16.04.1-Ubuntu SMP Wed Jun 14 11:58:22 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: crypto -> ciphers -> id-aesXXX-wrap

We're trying to do aes key wrapping for our [nodejs webcrypto implementation](https://github.com/anvilresearch/webcrypto). We were having some trouble so we made the following

[2017-08-24 12:29] nponeccop commented on #14994
Yes, but only if the internal behaviour is correct. It's ok to throw an exception if documented, but now it throws because toASCII injects unicode into Host: field and header validator then throws. Isn't it more logical either to throw in the Punycode validator or not return unicode from the function named `toASCII()`?

I don't care about what browsers do. In fact I don't have any target I want No

[2017-08-24 12:37] annevk commented on #14994
Your understanding about ToASCII only applies to ToUnicode. ToASCII can and will fail at times. (I agree that in theory it would be nice if the HTTP code took a parsed URL and not a string.)

[2017-08-24 12:44] nponeccop commented on #14994
Oh sorry. I meant "toASCII returns punicode".

Since you don't understand me let's try step by step. Open node and enter

[code]
You see that nasty char in the end. If you examine it closer with ` a = process.binding('icu').toASCII('xn--a--a', true).codePointAt(8)` it prints 65533.

Is is correct behaviour of `toASCII()`?

[2017-08-24 12:47] davidmarkclements opened #15010 "dtrace ustack helper broken with turbofan"
* **Version**: 8.3.0, 8.4.0
* **Platform**: macOs
* **Subsystem**: tracing

Given a dtrace script:

[code]

Profiling (ran with --perf-basic-prof):

[code]

On Node 8.3.0 or Node 8.4.0 we get the output (gist, too big):

https://gist.github.com/davidmarkclements/b4c7f1e4aba2b6a75340ff478f5585cb

Compare this with output on Node 8.2.1

https://gist.github.com/davidmarkclements/adee8d9a85193265d9c45

[2017-08-24 12:50] annevk commented on #14994
Not as far as I know.

[2017-08-24 13:21] mcollina commented on #15010
cc @bmeurer @fhinkel @nodejs/v8

[2017-08-24 13:23] jasnell opened #15011 "meta: statement from the Node.js Board of Directors"
@nodejs/collaborators ... Re: this week's TSC decision, please refer to this statement from the Foundation Board: https://github.com/nodejs/board/issues/67

[2017-08-24 13:41] nponeccop commented on #14994
Great! So it's the first part of the bug.

The second is that https://nodejs.org/dist/latest-v8.x/docs/api/http.html doesn't document that `ClientRequest` constructor throws. It throws in many cases, for example new http.ClientRequest('file:///')throws `'Unable to determine the domain name'`. So:

- Throwing behaviour of http.ClientRequest is not documented
- Neither it is for `http.get` and `http

[2017-08-24 13:54] TimothyGu commented on #14994
@nponeccop Yes I would say the replacement appended to the end of the domain name is a bug. However, I'm just not sure if we can fix it, given that we delegate IDNA handling to [ICU](http://icu-project.org/). The most we can do is to error out on it, which may break existing use cases and certain one of the tests in our test suite (which was why I added the lenient mode in the first place).

@anne

[2017-08-24 14:11] nponeccop commented on #14994
Should I fill the bug to ICU then? Where is the place in the sources where you call ICU? The bug only happens in lenient mode. Does lenient mode implementation come from ICU too?

[2017-08-24 14:19] bnoordhuis commented on #14994
That's a good point and I take back what I said; I noticed that the ICU and non-ICU builds behave differently here as the latter uses `punycode.toASCII()`:
[code]

[2017-08-24 14:27] kaloprominat opened #15012 "macOS node packages missing version attribute"
* **Version**:
* **Platform**:
* **Subsystem**:

macOS packages missing correct version attribute, how to verify:

or, after install:

cmon guys, even [brew-pkg](https://www.google.ru/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjhwcy7ivDVAhVIOpoKHdcpDPMQFggnMAA&url=https%3A%2F%2Fgithub.com%2Ftimsutton%2Fbrew-pkg&usg=AFQjCNFyDjg-hNP1IVu8o0EsSCUGb-6KAA) builds node package wit

[2017-08-24 14:27] nponeccop commented on #14994
Your example also lacks lenient mode which is used in `http.get`/`url.parse`

[2017-08-24 14:40] jasnell commented on #14994
I think it's also worth noting that this is a fundamental difference between `url.parse()` and `new URL()` (the former being the legacy non-standard way of handling URLs in Node.js and the latter being the WHATWG standard.

`http.get()` [still uses the legacy `url.parse()`](https://github.com/nodejs/node/blob/master/lib/_http_client.js#L82) which suffers from this problem, while `new URL()` proper

[2017-08-24 14:43] bmeck commented on #14990
It should be noted that userland implementations of resolution logic like [resolve](https://www.npmjs.com/package/resolve) at 800k downloads per day don't exhibit this behavior.

[2017-08-24 14:46] mcollina commented on #14990
@bmeck if that's not too much effort, would you assemble a PR anyway? It is hard to understand the impact of this behaviour without a SHA reference and a full example. I think seeing the actual change you are planning to make would help.

[2017-08-24 14:47] cdhowie commented on #8650
The test that usually failed due to this issue is not failing as of v6.11.2. I'm still hesitant to turn this on in production due to the unpredictable nature of the issue.

@EladBezalel What Node version are you using?

[2017-08-24 14:54] nponeccop commented on #14994
Yes, this is a complex issue with many intertwining parts. For example, `url.parse()` is not merely appropriately flagging it. It also parses it incorrectly.

[2017-08-24 14:57] ljharb commented on #14990
From a user perspective (and `resolve` maintainer perspective), the current behavior is very very strange, and I'd vastly prefer the (at least) <= 0.8 behavior.

[2017-08-24 15:03] bmeck commented on #14990
Made a PR people an look at, also discovered a bug where `package.json` was not being checked if a trailing slash is used...

[2017-08-24 15:23] mcollina commented on #14990
@bmeck do you have a trail on why this change was introduced?

[2017-08-24 15:27] bmeck commented on #14990
@mcollina Unclear on a few quick searches, but the test makes it seem to be because someone had the following:

[code]

And `baz` resolved `../..` to `foo.js` instead of `foo/`

[2017-08-24 15:35] clarencetw opened #15016 "Use express res.sendFile on https I see crash Assertion `(req_.data) == (this)' failed"
* **Version**: v8.1.4
* **Platform**: Darwin Kernel Version 16.7.0
* **Subsystem**:

I use express res.sendFile on https I see /Users//.nvm/versions/node/v8.1.4/bin/node[24225]: **../src/req-wrap-inl.h:31:virtual node::ReqWrap<uv_write_s>::~ReqWrap() [T = uv_write_s]: Assertion `(req_.data) == (this)' failed.**

I test same source code use http doesn't have error.

I don't know how to fix it

[2017-08-24 15:42] addaleax commented on #15016
Could you try again with the latest version of Node, as available from https://nodejs.org/ (8.4.0)?

[2017-08-24 15:43] mcollina commented on #15010
This might be related https://github.com/nodejs/llnode/pull/121 cc @joyeecheung.

[2017-08-24 15:46] clarencetw commented on #15016
I use 8.4.0 then I see

abort: Invalid bytecode

[2017-08-24 15:47] joyeecheung commented on #15009
I can reproduce this with v8.4.0.

[code]

[2017-08-24 15:50] mcollina commented on #14990
I do not think we can change that behavior now.

[2017-08-24 15:50] bmeck commented on #14990
@mcollina no userland impl uses this odd behavior.

[2017-08-24 15:55] jasnell commented on #15010
ping @nodejs/diagnostics @nodejs/po

[2017-08-24 15:55] maasencioh commented on #12586
actually for the case in `test/parallel/test-buffer-indexof` I don't find anything to be replaced, should this issue be closed then?

cc @refack

[2017-08-24 15:56] jasnell commented on #15009
@nodejs/crypto

[2017-08-24 15:57] addaleax commented on #15016
I think that last post got cut short in some way? Like, the stack trace seems to be missing etc.

Do you have a way to reproduce?

Also, this *sounds* like memory corruption, which is the kind of problem that would be caused by a broken addon. `find node_modules -name '*.node'` should help you figure out whether you have any (if you don’t already know).

[2017-08-24 16:03] shellberg commented on #14785
Thanks Ben (@bnoordhuis ).  We've clearly stumbled into inconsistency that we hadn't intended in producing the node binary builds on AIX.
@gib : Looks like we have a few places in which to restore consistency... Although, the ICU component alone, being built with RTTI would seem to have the potential for 'tickling' this issue in the future.  But, for now, the libuv component would be the likely ca

[2017-08-24 16:03] clarencetw commented on #15016
I have the .node is what I write.
But I don't know how to find missing stack trace.

[2017-08-24 16:08] mcollina commented on #14990
@bmeck definitely. However I fear there is plenty of code that is using that behavior, even in npm and also closed source. This makes it semver-major squared for me, and maybe the ship of changing this has sailed.

Who did the original edits? I would ask to @isaacs what he thinks of this potential change.

[2017-08-24 16:19] addaleax commented on #15016
Some things you could try:
- Upload the source code for your own addon somewhere to give people the chance to look for errors
- Build a debug build of your addon instead and see if that gives more information
- Run the crashing Node command through diagnostic tools such as `valgrind` that look for memory management errors

[2017-08-24 16:28] riraccuia opened #15017 "using http.(get|request) over an existing TLS stream produces SIGSEGV"
* **Version**: 8.4.0
* **Platform**: Linux
* **Subsystem**: tls, http

The following code always seems to produce a segfault when a heavy number of requests is being generated:

[code]

whereas after implementing the following workaround, everything works fine under same load conditions

[code]

Here's the output from gdb

[code]

[2017-08-24 16:52] shigeki commented on #15009
The following patch would fix this. I'll submit a PR with tests tomorrow.
[code]
[code]

[2017-08-24 17:01] bmeck commented on #14990
@mcollina to preserve the nature of the test, we could make `trailingSlash` set to true whenever resolving a path ending in `/.` or `/..`

[2017-08-24 17:04] jasnell commented on #15017
ping @nodejs/crypto @nodejs/http

[2017-08-24 17:05] rajivshah3 opened #15018 "macOS: npm run compile never finishes"
* **Version**: 8.4.0
* **Platform**: Darwin Rajivs-MBP.home 17.0.0 Darwin Kernel Version 17.0.0: Tue Jun 13 21:06:15 PDT 2017; root:xnu-4481.0.0.1.1~1/RELEASE_X86_64 x86_64
* **Subsystem**: npm run

When running `npm run compile` on a package, the installer files/binaries never appear to finish building (I've let it run for 30 min and it hasn't moved). Additionally, aborting the command leaves mul

[2017-08-24 17:07] rajivshah3 commented on #15018
I apologize if this isn't a NodeJS bug, it may be an electron-builder problem.

[2017-08-24 17:14] mscdex commented on #15018
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

[2017-08-24 17:15] rajivshah3 commented on #15018
Sorry about that

[2017-08-24 18:06] binoculars commented on #15011
I've specifically **not** contributed to Node.js because of the strict Code of Conduct. I fully support @rvagg. We can disagree politically without it being labelled as harassment. Nothing in his tweet was directed at any specific individual, which should be the basis for harassment. I think you're alienating a much larger portion of your potential and current contributor base by handing over cont

[2017-08-24 18:48] gibfahn commented on #15011
@binoculars to be clear, are you saying you haven't contributed because there's a CoC at all, or because you think the one we have is too strict? If the latter, what specifically do you think is too strict about it?

[2017-08-24 18:51] Qard commented on #15011
The Code of Conduct is not intended for "wrong-think" policing, it is merely intended to create a common ground with documented guidelines for how to interact in a way that avoids conflict. Node.js is a very diverse community, so there's bound to be people that don't agree on things and that's okay. By adhering to the guidelines set forth in the Code of Conduct we can all interact in a civil manne

[2017-08-24 19:02] #14943 closed

[2017-08-24 19:13] vsemozhetbyt commented on #14989
Has the limiting conversation for non-members been prolonged?

[2017-08-24 19:19] addaleax commented on #14989
@vsemozhetbyt Yes, there’s still a lot of traffic being pointed at the repo.

We’ve been somewhat freely giving access to the repo to people who ask, though.

[2017-08-24 19:49] bmeck commented on #14990
if it matters `URL` adds trailing slashes:

[code]

[2017-08-24 21:19] bnoordhuis commented on #14785
@shellberg `cflags_cc` are C++ compiler flags but libuv is a C project, it only uses `cflags`.

The fact that `cflags_cc` is in libuv's common.gypi is a vestigial artifact of copying node's common.gypi when we started on libuv.

[2017-08-24 21:34] gibfahn commented on #14785
@bnoordhuis so any thoughts on where this flag could be coming in? Is it likely to be in ICU? If so it sounds like we can't turn it off.

[2017-08-24 21:41] bnoordhuis commented on #14785
@gibson `grep -r frtti out/` should tell you but ICU seems like the most likely candidate.

[2017-08-24 22:04] lance commented on #15012
Useful references possibly related to this:

https://github.com/nodejs/node/pull/5656
https://github.com/nodejs/node/pull/2571
https://github.com/nodejs/node/pull/7097

[2017-08-24 22:12] jasnell commented on #15012
ping @nodejs/build

We've had a profound lack of attention paid to the mac packaging over the past couple of years. There have been a few start'n'stop efforts that haven't progressed. It would be great if someone with the appropriate expertise could jump in.

[2017-08-24 22:22] lance commented on #15012
@jasnell I edited my original comment above (heavily). I would be interested in looking at this, but wonder if there is any documentation that covers the distribution process. I kind of hacked my way through `make pkg` locally with some required commits that will need to be `reset --hard`. Is there any guide to working on these bits?

[2017-08-24 22:30] gibfahn commented on #15012
Also a good time to mention that @nodejs/platform-macos is three people, so if anyone else would like to be added please let me know!

[2017-08-24 22:41] binoculars commented on #15011
@gibfahn although I think the concept of having and effectively enforcing a Code of Conduct is fundamentally flawed, this alone does not discourage me. Since the Code of Conduct lives in a git repository, and therefore can be changed at the whim of the TSC, this disturbs me. What's acceptable and unacceptable behavior shouldn't change very much over time. I wouldn't want to have to constantly worr

[2017-08-24 23:08] davepacheco commented on #15010
I have not dug into this very deeply, but it seems that the recent V8 changes broke the behavior of most observability tools outside of V8 itself, including all of the postmortem debugging tools and the DTrace ustack helper.  (These were always relying on V8 implementation details, unfortunately -- it's a limitation of this approach, but it was necessary because V8 didn't (and still doesn't) provi

[2017-08-24 23:10] eugeneo commented on #14982
Status update: I am looking into it but this seems to be an actual bug (console.log is not reported to the front end randomly) and not just a test issue. Looks like other platforms do not see this, on CentOS there was 1 failure out of 100 runs.

I don't know how long it will take to fix this... Should I mark the test flaky for now?

[2017-08-25 00:13] benwiley4000 commented on #15011
I'm in no way involved in the Foundation or TSC, but as a fan of inclusivity and the Foundation's actions today I felt like contributing here.

@binoculars I doubt any of the members here are enemies of further clarity. The hosting of the Code of Conduct in a git repo, as a living document, allows it to gain clarity over time.

In regards to your first quotation:

That quip seems to run counter to

[2017-08-25 00:17] jasnell commented on #15011
All: This repo is not the place to discuss the general merits for and against CoCs. Node.js has adopted the Contributor Covenent CoC verbatim. Issues with the content of that CoC should be directed to that project. Discussions that relate to Node.js' specific CoC issues should be directed to the nodejs/tsc repo.

[2017-08-25 02:35] ljharb commented on #14989
@addalaex where can I ask?

[2017-08-25 02:37] TimothyGu commented on #14989
@ljharb: The Ayo Discord. See https://github.com/ayojs/ayo/issues/12#issuecomment-324444436

[2017-08-25 02:46] addaleax commented on #14989
Right now the “only collaborators” restriction is lifted anyway (it’s still “no freshly created accounts”), and while we will revisit that if things become problematic, it seems to be working out for now.

[2017-08-25 03:04] xukai871105 opened #15026 "Something Wrong In Node.js Documentation Crypto Cipher"
In Crypto Cipher Part. Documentation shows an example to use AES encryption
[code]
This example use aes192（aes-192-cbc） as algorithm，the output length should be 16 bytes，but the result of this example is 32 bytes. It is different from AES standard.

I think `encrypted += cipher.final('hex'); `used in wrong way.  `cipher.final('hex')` or `cipher.final()` may be enough.

I got sample from http://csr

[2017-08-25 03:20] mscdex commented on #15026
The output makes sense to me. The clear text (`'some clear text data'`) is 20 bytes, so the clear text would have to be padded to the next multiple of 16 (the block size for AES), which is 32.

[2017-08-25 03:24] #15026 closed

[2017-08-25 03:34] joyeecheung commented on #15018
Superseded by https://github.com/nodejs/help/issues/791

[2017-08-25 03:34] #15018 closed

[2017-08-25 05:54] clarencetw commented on #15016
Let me try.
Thank you!

[2017-08-25 05:54] #15016 closed

[2017-08-25 07:56] mcollina commented on #14990
@bmeck is this a suggestion to change the behavior or just amend the test?

Bear with me, you are way more familiar with the internal of the module system than myself, and I care that the current behavior is not changed, as I fear breakages. `trailingSlash`  set to `true` where?

[2017-08-25 08:27] ronkorving commented on #15011
Let me first be clear, that I don't believe I am in any position to judge Rod's actions, because I simply haven't been exposed to them in their full context. GitHub issues get moderated, so original text disappears from history, and so I won't use that to guide any judgement one way or another.

However, Rod pointed out something in [his statement](https://github.com/nodejs/CTC/issues/165#issuecom

[2017-08-25 09:00] Industrial opened #15028 "Idea: Aligned stack traces"
Hi!

This is the current style of the stack traces. Like this I can't in one glance:
  - See the names of the functions very well, since they are interspersed with paths.
  - See the paths very well, because they all start at a different column.
  - See if the stack hits my own code or only node_modules.

[code]

So I propose something like:
[code]

[2017-08-25 09:05] joepie91 commented on #15028
Possible further inspiration, based on some custom error reporting box I threw together for a project I'm working on:

![screenshot_2017-08-25_11-04-04](https://user-images.githubusercontent.com/1663259/29707342-3eeb3c38-8985-11e7-84a5-b9be983c39f6.png)

(This is in a browser using sourcemaps, but the same ideas apply in a terminal as well.)

[2017-08-25 09:08] mscdex commented on #15028
@Industrial You might log an issue on the V8 issue tracker as a change like this would need to happen in V8. It should also be noted that this could break existing userland modules that might parse stack traces in one way or another...

[2017-08-25 09:10] Industrial commented on #15028
Okay, I'll make one there :-)

[2017-08-25 09:12] #15028 closed

[2017-08-25 11:06] SimenB opened #15029 "Possible bug in streams between node 8.1.4 and 8.2.0"
* **Version**: 8.1.4 & 8.2.0
* **Platform**: MacOS
* **Subsystem**: Streams (or http?)

We have some code which uses [`pump`](https://github.com/mafintosh/pump), and between 8.1.4 and 8.2.0 the handler in certain cases stopped being called with an error. We have a test that our error handler is invoked correctly, which fails on newer versions of node.

In 8.1.4 we hit https://github.com/mafintosh/

[2017-08-25 11:23] targos commented on #15029
@nodejs/streams

[2017-08-25 11:33] SimenB commented on #15029
Is this #14024?

[2017-08-25 11:44] targos commented on #15029
That seems like a good candidate.

[2017-08-25 11:47] SimenB commented on #15029
Our code for this particular case is really hairy, so if it was an actual bug, and the fix is backported to 6, I'll with great joy remove our current handling of it 🙂

[2017-08-25 11:48] targos commented on #15028
It's worth noting that in V8 the stack traces can be customized: https://github.com/v8/v8/wiki/Stack-Trace-API#customizing-stack-traces

[2017-08-25 11:50] mcollina commented on #15029
Can you please verify with 8.4.0?

[2017-08-25 11:51] SimenB commented on #15029
8.2.0, 8.2.1, 8.3.0 and 8.4.0 all behave the same

[2017-08-25 11:52] SimenB commented on #15029
6.11.2, 7.11.1, 8.0.0, 8.1.0 and 8.1.4 also behave the same, FWIW. So something changed between 8.1.4 and 8.2.0

[2017-08-25 12:14] trygve-lie commented on #15029
So fare I see: Under the hood, pump uses end-of-stream. In version 8.1.4 and older end-of-stream get a `close` event from the underlaying stream (which then are used to throw an Error further up). In version 8.2.0 and newer end-of-stream get a `finish` event from the underlaying stream.

[2017-08-25 13:19] chanakyanet opened #15030 "nodejs global installation issue"
Hi,

I have Installed latest version of node MSI installer 64 bit on windows machine
after success full installation it creates
C:\Users\kapilsharmat.KKS\AppData\Roaming\npm

The folder in this location is empty:
C:\Users\kapilsharmat.KKS\AppData\Roaming\npm\
there are no other npm* folders in this location C:\Users\transparency.KKS\AppData\Roaming\

All the environment variables look good.
SYSTEM

[2017-08-25 14:02] bmeck commented on #14990
@mcollina in all scenarios, the behavior needs to change due to inconsistencies. See [the test in the PR](https://github.com/bmeck/node/blob/3952567d56ec13b48ebc951a2c766570040574bb/test/parallel/test-require-extension-over-directory.js) pointing to this issue for an example.

The suggestion above about setting `trailingSlash` is to make the old test pass while fixing inconsistencies. It would, ho

[2017-08-25 14:15] lumaxis commented on #3275
Is this issue broken again in Node 8.4.0 (or intentionally changed)? I'm experiencing the exact same issue here when trying to pass an arrow function as the second argument to `.throws()`.

[2017-08-25 14:52] gibfahn commented on #14785
Okay, `grep -r frtti out/` gives lots of results, `grep -r frtti out/ | grep -v icu` returns no results. Seems pretty clear.

[2017-08-25 16:08] BethGriggs opened #15032 "npx.cmd missing from windows zips"
8.3.0 and 8.4.0 appear to not have the npx.cmd in their .zips. However, the .msi does have the npx command.

See https://nodejs.org/dist/v8.4.0/node-v8.4.0-win-x64.zip
or  https://nodejs.org/dist/v8.3.0/node-v8.3.0-win-x64.zip

//cc @zkat as author of #14235

* **Version**: 8.3.0 / 8.4.0
* **Platform**: Win

[2017-08-25 16:16] BethGriggs commented on #15032
#15033 fixes this.

[2017-08-25 16:17] mcollina commented on #15029
I think the bug is more subtle than this. I would like not to revert https://github.com/nodejs/node/pull/14024, and figure out what events changed.

Can you reproduce the bug without Express and got?

[2017-08-25 16:34] SimenB commented on #15029
I've pushed usage of request instead of fetch. Never used got (it's get from http). Can look into removing express on Monday

[2017-08-25 16:58] mcollina commented on #15029
I meant, can you just show this using node core?

[2017-08-25 17:04] TazmanianD commented on #11865
I would like to argue that this issue be re-opened. If for no other reason than it can be a place to report on any kind of progress that's made on adding better support for stack traces in Node. I think there is a legitimate gap in functionality here and until that gap can be closed, I would argue this issue should stay open.

[2017-08-25 17:13] jasnell commented on #11865
I've reopened it. Also, I've changed it from "question" to "feature request"

[2017-08-25 17:18] TazmanianD commented on #11865
Thanks! And to put a point on the real problem, imagine my database layer throws an error like the following:

[code]
How is this information useful to me especially if it occurred in production where I don't know what caused it? There is not a single line of code in that stack from my code and the error from the library I'm using doesn't even give me very much context. If I'm lucky, I can search

[2017-08-25 17:35] mscdex commented on #15030
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead. This issue tracker is for reporting bugs and submitting feature requests for node core. Issues with npm or other tools that *use* node should be posted to the appropriate issue tracker for those tools, unless it can be proven that the issue is in fact with node core and not th

[2017-08-25 17:42] TazmanianD commented on #11865
And I guess I would like to challenge this as well. It seems to me that as something as fundamental as getting a full stack out of errors from my code is exactly what I would expect from my runtime platform. I'm not sure the argument that there are tradeoffs works in this particular case. I would argue that almost any reasonable production environment is going to want a feature like this and imple

[2017-08-25 17:43] jbinto commented on #11865
@TazmanianD +1. I've been keeping myself sane by using `transform-async-to-generator`, using and using Bluebird with long stack traces. I'm sure I'm missing out on performance gains from native   async/await, but just like you I couldn't handle dealing with context-free stack traces.

[2017-08-25 17:46] bjouhier commented on #11865
You are not a minority. There is a secret solution called _coroutines_. Other languages like golang have them and they can also be enabled in node.js (`npm install fibers` or `npm install f-promise` (better interop with promises)).

Benefits: 1) you can eliminate 99% of your async/await syntax overhead, 2) perfect stack traces (without performance overhead - actually the opposite)

[2017-08-25 17:51] refack commented on #15011
@ashleygwilliams @williamkapke @nodejs/board I want to reiterate @ronkorving's statement, and I wish for you to convey that to the Board.

[2017-08-25 19:24] lance commented on #15011
I've spent way too much time on this stuff this week - piecing together from twitter feeds and scattered github issues what went down. I have reacted in various ways to the accusations and responses that I've been able to find and read, but I will third @ronkorving's comment.

Without knowing all of the details, it's difficult to take sides in a situation like this, but I read Rod's statement and

[2017-08-25 19:58] williamkapke commented on #15011
@ronkorving @refack @lance Thanks for the feedback.

I was not part of the petition and did not express my personal opinion in the proceedings. I have been intentionally staying in the background to _continue_ to provide a neutral and confidential avenue for community feedback- some have already reached out expressing your same concerns.

I will be relaying the feedback, with identities withheld,

[2017-08-25 20:13] BridgeAR commented on #3275
@lumaxis I can not reproduce this. Do you have a test case for me?

@asukakenji I updated your original examples to include the missing return statement in arrow functions with braces.

[2017-08-25 20:50] jakeNiemiec commented on #15011
@ronkorving

...I don't believe I am in any position to judge Rod's actions, because I simply haven't been exposed to them in their full context.

@lance

 I am right there with you, [see this thread for similar sentiments and push-back by node community committee members](https://github.com/nodejs/community-committee/issues/111#issuecomment-324727791).

Specifically [this](https://github.com/node

[2017-08-25 21:12] TazmanianD commented on #11865
From their own documentation:

Which I would consider unacceptable for production use. The irony here is that the major argument in favor of the asynchronous model of Node is precisely for performance reasons and if the first thing you do is something to kill performance precisely as a consequence of that model, you gotta ask what the point in using Node is :-).

Oh man, you're my hero! It sounds

[2017-08-25 21:57] bjouhier commented on #11865
Fibers' overhead depends on your code patterns. If you are writing low level code which is completely dominated by callbacks (each callback doing little work, with shallow stacks) I would not recommend fibers because of the overhead of switching into a fiber in every callback.

On the other hand, as soon as you start to have a somewhat thick layer of logic on top of async calls, then coroutines ar

[2017-08-25 23:08] BudickDa commented on #15011
I am shaken by this whole incident on a professional level and as a human. This is how I perceived this whole in story from the outside:

As a developer I earn most of my money developing with node.js and so do millions (or at least a lot) of other devs around the world. I still cannot believe that the community of an organization of this importance is in part led by person who step down and fork

[2017-08-25 23:11] AndreasMadsen commented on #11865
There is no magic solution. I'm not saying it is impossible, but it is very difficult. The day we have high-performance stack traces that works across all asynchronous boundaries (not just promises), then I will take a long vacation and stop working on node-core.

Until then, imperfect solutions with different trade-offs will have to compete.

[2017-08-25 23:20] joepie91 commented on #15028
I feel like part of the problem here is that there's no apparent distinction between a formatted stacktrace and the structured data behind it? Ideally, 'stacktrace parsers' shouldn't really be necessary in the first place to obtain the details of a stacktrace.

[2017-08-25 23:28] clee commented on #583
@Trott Is there a streaming API for fs.readdir yet?

[2017-08-25 23:42] Trott commented on #583
Here's what has to happen for this, now in a new and exciting CHECKLIST. Progress!

- [ ] libuv/libuv#416 has to land in libuv
- [ ] libuv has to release v2.
- [ ] Node.js has to start using the v2 release of libuv.

Then this can be implemented.

[2017-08-25 23:54] clee commented on #583
Fair enough! Crazy to me that this still isn't possible yet.

[2017-08-26 00:15] jasnell commented on #583
We know what we need to make it happen, we just can't it yet. Unfortunately. It's definitely something I'd like to have

[2017-08-26 01:23] BridgeAR commented on #11865
I honestly think there is very little we can do here because looking at the stack will always have a high performance penalty. I am certain that as soon as there is something that could be done, it will also be done. Having a feature request for this does not really help a lot. Therefore I tend to closing this again and to remove the feature request label (besides the fact that it is a question an

[2017-08-26 01:31] maclover7 opened #15038 "Discrepancies between error list and documentation"
There are a few discrepancies between the errors defined in `lib/internal/errors.js` and those appearing in the documentation in `doc/api/errors.md`. The differences are outlined below (I compiled this list manually, and it's possible some errors are missing -- please comment if so!!), and this should be fairly straightforward to solve -- people would just need to submit PRs to fill in the missing

[2017-08-26 02:12] hollowdoor commented on #583
@whitlockjc How is progress? The PR on libuv looks complete, but failing tests.

[2017-08-26 07:19] sebdeckers commented on #12646
@Trott Apologies for the delayed response. Life got in the way. 🚧 Will answer your email to continue the process (if the opportunity has not yet lapsed?).

[2017-08-26 07:39] AndreasMadsen commented on #11865
@BridgeAR as I understand it, looking at the stack isn't really the expensive part, it is translateing the addresses to JavaScript callsites. So in theory, if there is an immutable data structure for that, then it only get expensive when actually printing the stack. But such a data structure is unlikely with a JIT runtime.

This feature request is definitely on V8 to implement, node already have t

[2017-08-26 07:45] BridgeAR commented on #11865
CC @nodejs/v8

[2017-08-26 08:27] TimothyGu commented on #11865
@AndreasMadsen Async stack trace is already available through Dev Tools / V8 Inspector after https://github.com/nodejs/node/pull/13870 (which integrates async\_hooks with Inspector integration).

[2017-08-26 08:29] benhalverson commented on #11135
@raphaelokon @Trott which ones in the above list are done?

[2017-08-26 09:10] AndreasMadsen commented on #11865
Yes, that is what I said.

There is nothing more we can do right now.

[2017-08-26 12:06] lance commented on #15011
@budickda on a lighter note, thank you for introducing me to a new favorite word I was unaware of. Brimborium: http://mobile-dictionary.reverso.net/german-english/Brimborium

[2017-08-26 12:13] pmatzavin commented on #11273
Here's a PR for lib/fs.js: #15043
Please add to the list. Thanks!

[2017-08-26 12:16] abouthiroppy commented on #11273
Thanks, I added.

[2017-08-26 13:57] tkambler commented on #14989
Sounds inclusive to me. 🙄

[2017-08-26 14:15] jasnell commented on #12646
The opportunity definitely hasn't lapsed! If @Trott is not able to find a time, I'll happily guide you through the steps.

[2017-08-26 14:37] refack commented on #14823
Closed for no consensus

[2017-08-26 14:37] #14823 closed

[2017-08-26 15:28] refack commented on #15011
@binoculars could you edit and explain your last sentence in the following paragraph:
![image](https://user-images.githubusercontent.com/96947/29742645-f0a8bb64-8a50-11e7-8323-8d10b1f5916f.png)
You intention is not clear, and as is stands it's a violation of the CoC clause you cite just above that:

IMHO for some members of the community it would be easier to understand and hence support or disagr

[2017-08-26 16:05] binoculars commented on #15011
@refack I'm extremely disturbed that a criticism of the Code of Conduct would be met with accusations of a violation of the Code of Conduct. This strikes at the heart of the problem. Out of respect for @jasnell and the community, I won't respond to this directly here. I'm happy to have a rational discussion about it with anyone that is willing to have it, but I will not entertain provocations such

[2017-08-26 16:24] refack commented on #15011
@binoculars please don't see my request for explanation as an accusation, or anything personal at all. I'm trying to make an objective observation (which is very hard to do in the current climate).

Generally I agree with your comment. It's only that single sentence that IMHO would benefit from editing and elaboration.

If I understand your intent correctly, it might be better phrased as something

[2017-08-26 18:18] indutny commented on #15017
Hello!

Thank you so much for reporting this. I'm afraid that as it is this test case can't be executed to reproduce the problem. Would it be hard for you to rewrite it to make it self-contained in two files `server.js` and `client.js`? You may want to use http://indutny.github.io/self-signed/ for generating certificate and key.

Meanwhile, if you could run `disassemble` and `l` from gdb - that wo

[2017-08-26 20:31] safinaskar opened #15048 "http.ClientRequest documentation inconsistencies (again)"
* **Version**:
Online docs at https://nodejs.org/dist/latest-v8.x/docs/api/http.html

It seems #5717 is still not fixed in online docs available at https://nodejs.org/dist/latest-v8.x/docs/api/http.html#http_class_http_clientrequest .

[2017-08-26 23:31] #14012 closed

[2017-08-26 23:33] Trott commented on #14012
70c775a closed this but it might be worth re-opening on the grounds that while it enables the `abort` tests in CI on all other platforms, it does not enable them on Windows.

[2017-08-27 00:26] WozSoftware commented on #15011
For such a high profile project used by so many people I find it deeply worrying that this sort of vote can occur where the people making the accusations make it high profile and very public and yet  do their up most to bury any details of what the "crime" is.

This should have been handled internally. But since you made it public you should ACTUALLY make it public. Reading @rvagg. post it appears

[2017-08-27 13:55] #12802 closed

[2017-08-27 15:12] elierotenberg commented on #14794
Hello,

I believe https://github.com/angular/zone.js/issues/889 might interest you!

[2017-08-27 19:55] refack commented on #15038
@maclover7 thank you for doing this!
For context, there is a medium-term goal of refactoring out the error codes from `internal/errors.js` into a resource file that could be shared with other modules more easily. This will probably also make linting the docs for discrepancies much more simple.
Also since all the `errors` changes are `semver-major` we plan on auditing all the codes before `v9.x` is

[2017-08-27 20:53] #14963 closed

[2017-08-27 20:58] Hativ3 opened #15054 "TLS module: Support multiple ecdhCurve's"
The tls module respectively `tls.createSecureContext` should support multiple `echdCurve`'s like [nginx does](http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_ecdh_curve).

Example:
[code]

The order should be honored (perhaps configurable like `honorChiperOrder`).

[2017-08-28 00:30] refack commented on #14012
It's a paradoxical situation.
On the one hand core dumps are not regularly generated for Windows - so no need to disable them.
On the other hand core dumps are not regularly generated on Windows - need to find a way to enable them.

[2017-08-28 01:36] maxcnunes opened #15055 "Seems t.throws is not matching errors properly by Prototype for ES6 classes that extend Error"
* **Version**: Since https://github.com/nodejs/node/pull/4166
* **Platform**: Darwin 16.7.0

Using ava which has a copy of node [assert](https://github.com/sindresorhus/core-assert) module I realized few tests trying to match a custom error with `t.throws` were failing.
[code]
Although this custom error is extending from `Error` class:
[code]
Digging into the code I found the assert is returning f

[2017-08-28 02:20] BridgeAR commented on #15055
Can you please provide a test case that does not contain any code besides core code?

The check as it is right now was intentional. Without a failing test case it is difficult though to see what your issue is.

[2017-08-28 03:00] mscdex commented on #15055
FWIW [according to @sindresorhus](https://github.com/sindresorhus/core-assert/issues/1#issuecomment-323554963), `ava` is moving away from using `core-assert` anyway, so the behavior may change again sometime in the future.

[2017-08-28 03:32] refack commented on #15055
@maxcnunes I've [compiled a gist](https://gist.github.com/refack/9b76413bab82f7d1c5fcf6f8320e5fba) by inlining your `es6-error` dependency.

It works with `node`'s `assert`, which leads me to think that the bug might be in [core-assert](https://github.com/sindresorhus/core-assert) and not is node.

Could you try and reproduce with this snippet as is vs. with it replacing `assert` with `core-assert

[2017-08-28 04:13] ronkorving opened #15057 "Userland errors vs. Node errors"
* **Version**: 8.4.0
* **Platform**: all
* **Subsystem**: errors

When I create and manage errors, I often add a `.code` property on my error objects. Node of course does this as well. This is all fine, until my use case became "send my codes to the the end-user and turn them into a human readable error description". Once I catch an error and start sending `error.code` to the user, I have no easy

[2017-08-28 04:17] BridgeAR commented on #15057
If they have the code property they are of class `NodeError`s already.

[2017-08-28 05:01] BridgeAR commented on #11877
Closing this as this should be an issue with npm and not with Node.js.

[2017-08-28 05:01] #11877 closed

[2017-08-28 05:13] BridgeAR commented on #12453
As far as I see it everything is working as it should. I am closing this therefore.

[2017-08-28 05:13] #12453 closed

[2017-08-28 05:50] ronkorving commented on #15057
@BridgeAR That's great news, I just found https://github.com/nodejs/node/blob/67269fd7f33279699b1ae71225f3d738518c844c/lib/internal/errors.js#L82-L84 which I guess is what you're referring to. How can a user do any detection on this though? The class seems private.

[2017-08-28 08:51] jdarpinian opened #15059 "Option to pause only until debugger connects"
I'm using node --inspect-brk to ensure that my code doesn't run until after the debugger connects to node, so no breakpoints or console logs are missed. However this requires me to press "resume" in the debugger every time I restart node. Can we have a different option, perhaps --inspect-wait, that automatically starts execution after the debugger finishes connecting?

[2017-08-28 09:20] #10726 closed

[2017-08-28 09:54] mamatcyber opened #15060 "3"
* **Version**:
* **Platform**:
* **Subsystem**:

[2017-08-28 09:57] #15060 closed

[2017-08-28 10:09] riraccuia commented on #15017
Thanks for your answer Fedor,
I'll try to rewrite the sample code in a way that's usable for you.

In the meantime, you can find the output of the GDB commands you asked for here: https://gist.github.com/riraccuia/b77a9fa7248112c51cfa7ef23d7f8fe4

Thanks !

[2017-08-28 10:10] mamatcyber opened #15061 "6"
* **Version**:
* **Platform**:
* **Subsystem**:

[2017-08-28 10:10] #15061 closed

[2017-08-28 10:39] jorangreef commented on #14917
We removed the offending `spawn()` call, replacing it with a unix domain socket write last week.

The problem is down to http://docs.libuv.org/en/v1.x/process.html#c.uv_spawn being run in the main event loop thread, and not in the thread pool. Forking a new process causes the RSS of the parent process to be copied. As RSS increases, spawn time increases.

Anyone familiar with `uv_spawn()` interest

[2017-08-28 11:07] mohanen opened #15062 ""des3" crypto Error: Invalid IV length"
Version: v6.11.0
Platform: Linux econ-pc 4.4.0-79-generic #100~14.04.1-Ubuntu SMP Fri May 19 18:36:51 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

Error
[code]
my code
[code]

trying to write a simple function that encrypts a given string in 3DES-CBC

[2017-08-28 11:50] bnoordhuis commented on #15062
'des3' is 3DES in ECB mode, not CBC.  Check `node -p 'crypto.getCiphers()'` to see what is supported.

I'll close this as it's not a node.js bug.  If you have further questions, please post them to the help repo.

[2017-08-28 11:50] #15062 closed

[2017-08-28 12:32] mohanen commented on #15062
But the same issue comes even if i set the algorithm to DES-EDE3-CBC

Ima noob to crypto just let me know what the argument  key length and iv length for  cryptoCipheriv.
And how do i give my 3 different keys in one key arg

[2017-08-28 13:03] riraccuia commented on #15017
As promised,
client and server code that you can use to reproduce the problem:
[client.js](https://gist.github.com/riraccuia/b77a9fa7248112c51cfa7ef23d7f8fe4#file-client-js)
[server.js](https://gist.github.com/riraccuia/b77a9fa7248112c51cfa7ef23d7f8fe4#file-server-js)

[2017-08-28 13:38] maxcnunes commented on #15055
Thanks everybody for taking the time dealing with this issue. As already expected, the problem was in my side 😢  On preparing a test to reproduce the error I realized the code I was working on was loading the error objects from `lib` directory instead of `src` directory. For some reason the errors would always come with Error prototype instead of the custom error type.
Anyway, I will close this is

[2017-08-28 13:38] #15055 closed

[2017-08-28 13:43] addaleax commented on #15057
Maybe we should just add something like `get isNodeError() { return true; }` to the `NodeError` class to make it detectable?

[2017-08-28 15:55] eugeneo commented on #15059
No console.logs should be lost if the Node was ran with --inspect (without -brk).

It looks like the real issue you are facing is that Node needs to stop on "debugger" statements and possibly wait for the frontend to connect.

[2017-08-28 16:26] isaacs commented on #15011
It's disappointing to me that so much digital ink has been spilled here for and against the concept of Codes of Conduct or enforcement of those codes.

It seems to me to be completely obvious that any open source community, if it is to achieve its goals of being a big tent where as many people as possible feel welcome to participate, will require a higher level of conduct from its leaders than its

[2017-08-28 17:13] jasnell commented on #15011
Thank you all for the input.

[2017-08-28 17:13] #15011 closed

[2017-08-28 18:55] jdarpinian commented on #15059
Good to know re: console logs! I agree that node in --inspect mode should stop on "debugger" statements before the debugger connects; that would be great. However this does not solve the problem that breakpoints set in the debugger are missed if the code executes before the debugger connects. The --inspect-brk option does fix this but adds an extra manual step every time node starts. Is it possibl

[2017-08-28 19:01] eugeneo commented on #15059
There are no breakpoints set by a debugger before the debugger attaches. Do you mean the breakpoints a frontend stores and sets on connection? They are the reason there's pause on the first line.

The frontends are free to resume the code after setting the breakpoints (and I believe some of them do so).

[2017-08-28 19:02] jdarpinian commented on #15059
I see, so the answer is no.

[2017-08-28 19:02] #15059 closed

[2017-08-28 19:36] MikeKovarik commented on #12737
So... uhhh... this is awkward. 4 months later and I still can't use OneDrive. :(

[2017-08-28 20:17] bnoordhuis commented on #15054
Pull requests welcome.  The way to do it is to call `SSL_CTX_set_ecdh_auto()` + `SSL_CTX_set1_curves()` or `SSL_CTX_set1_curves_list()`.  We currently call `SSL_CTX_set_tmp_ecdh()`, that may have to change.

An array of strings is arguably a little more idiomatic in node.js but it's probably not a deal breaker.

`honorChiperOrder` should already affect who gets to select the curve, client or serve

[2017-08-28 20:18] hokein opened #15065 ""Check failed: platform_" crash when embedding nodejs"
* **Version**: v8.2.1
* **Platform**: OS X 10.11.6

Hello nodejs community,

I'm trying to embed nodejs in my C++ application, but I ran into a crash when initializing nodejs, below is the crash stack trace. From the stack trace, it seems the `platform_` is not initialized, but I have done it via `v8::V8::InitializePlatform()`.

[code]

[node-crash](https://github.com/hokein/node-crash) is a mini

[2017-08-28 20:19] bnoordhuis commented on #14962
No follow-up.  Closing out but can reopen if needed.

[2017-08-28 20:19] #14962 closed

[2017-08-28 20:30] #15030 closed

[2017-08-28 20:33] bnoordhuis commented on #14072
Closing, no one seems to be in favor of this change.

[2017-08-28 20:33] #14072 closed

[2017-08-28 20:33] Siecje commented on #8867
I'm still getting this error with Node version 8.4.0.

I never tried with the patched version.

I can't reproduce on a fresh CorePure64 system.

What can I look for on my development machine to figure out why this is happening.

[2017-08-28 21:12] Slayer95 commented on #14970
It seems that you could also be served well by some sort of opt in towards using ``main`` as the resolution root. This is what ``require.main.require()`` achieves. Have you considered using that?

You could prepend to your files ``require = require.main.require``, and proceed as usual.

[2017-08-28 21:39] davewasmer commented on #14970
@Slayer95 - I wasn't aware of `require.main.require()`, thanks for pointing that out! However, I'm not sure it will satisfy the use cases I've outlined, if I'm understanding it correctly (please correct me where I go wrong).

Let's say I have a Node script I run via `$ node my-app/index.js`. My understanding is that now `require.main` is set to the Module instance for `my-app/index.js`. If, from i

[2017-08-28 21:54] Slayer95 commented on #14970
Oh, it seems I missed some bits in your explanation of the problem.

Indeed, the feature I mention would only be useful at the application / child process level. Without intention to hijack the thread, as I'd prefer mainDir, an alternative feature proposal could be a require.packageMain module reference.

[2017-08-28 22:56] bzoz commented on #12737
The fix was added to libuv 1.14.0. A PR for updating libuv in Node.js is already open: https://github.com/nodejs/node/pull/14866

[2017-08-29 02:10] zhangzifa opened #15068 "timers: eventloop is blocked when there are two or more callback duration is larger than interval"
* **Version: 6.x 7.x 8.x master**:
* **Platform: n/a**:
* **Module: timers**:

When there are at least two timer set by setInterval, whose callback execution time are longer than interval, the eventloop will be blocked, meanwhile the `4.x` is not. You may take the following code to have a test.

@Fishrock123 It seems the `timers` module refactoring brings this.

[code]

[2017-08-29 06:32] bnoordhuis commented on #12453
Linking to #13784 - it's related in the sense that we currently lack a safe way to inspect JS values.

[2017-08-29 06:46] ronkorving commented on #15057
@addaleax I would be all for that 👍

[2017-08-29 07:09] romil-zealous opened #15070 "Unexpected token function"
Hello,

I am using Node version 8.4.0 on Ubuntu machine. I have used async/await feature. When I run the app, it is giving me an error as "SyntaxError: Unexpected token function".

I am transpiling node/express app using babel-cli preset es2015. Check attached screenshot for error info.
![error](https://user-images.githubusercontent.com/8926933/29808786-19c56264-8cb7-11e7-8b88-a47430dd79a6.png)

H

[2017-08-29 07:32] hashseed commented on #13877
To reset the discussion on ArrayBuffers...

We have three kinds of ArrayBuffer backing stores:

1. on V8's heap and managed by V8's GC
1. off-heap, but registered to V8's GC, and therefore managed by V8's GC
1. off-heap and external, i.e. not managed by V8's GC.

We can serialize and deserialize the first two kinds just fine. For off-heap backing stores, the deserializer simply calls the array buf

[2017-08-29 08:23] the-pirate-bay opened #15071 "Crash in Node v8.1.2"
* **Version**: v8.1.2
* **Platform**: Windows 8.1 (64 bit)
* **Subsystem**: /

---

This is the script which causes the issue

[code]

I'm execution this script using **"node.exe test.js"**, so no other arguments are passed.

### The issue

The Node.js process exits immediatelly after entering the first loop without displaying any warnings or errors.

### What is the expected behavior

This script

[2017-08-29 08:28] MikeKovarik commented on #12737
It's not only affecting the on demand feature but it has become a problem for the whole OneDrive as of couple of last Win Insider builds. One of my PCs I have not been using on-demand on became affected recently and giving me a hard time working. So I'm glad to see this finally come to an end.

[2017-08-29 09:22] ronkorving commented on #15057
Looking a bit further by the way, I realize that AssertionError is not a NodeError, but the `assert` module is used first and foremost for Node internals. This seems rather inconsistent, and adding an `isNodeError` property would make that situation worse, since AssertionError objects would either never be considered a NodeError, or always. Either way is wrong, because `assert` is used a lot by us

[2017-08-29 09:37] helloalleo commented on #8635
Hi! I had the same issue and I solved it with deleting the record `repository=http://registry.npmjs.org/npm` in ~/.npmrc

[2017-08-29 09:45] maasencioh commented on #15071
I tried to reproduce it with `v8.3.0` and is not crashing as in your version

[2017-08-29 09:47] benjamingr commented on #15057
What's stopping you from fixing this on your side by defining a common error subclass or property to errors you raise with `.code`? I have been doing that for quite some time and it seems to work fine.

[2017-08-29 10:44] benjamingr commented on #15070
Hey, thanks for reporting!

Can you please double check the node version by running `node -v` and checking the output? It's possible a different node path is used.

Also note, that Node supports async functions as it is - so there is no need to transpile async functions here.

In general [the help repo](https://github.com/nodejs/help/issues) is a more appropriate place for support questions. I hav

[2017-08-29 10:44] #15070 closed

[2017-08-29 10:49] ronkorving commented on #15057
@benjamingr Nothing is stopping me from doing that at all.

But since I'm developing a middleware, now my users will have to use my middleware's error classes instead of their own. On top of that, they can no longer use just any assertion library, since that too will throw errors of the wrong class.

Maybe there is room for Node to make this all a bit easier.

[2017-08-29 10:51] SimenB commented on #15029
@mcollina I've reduced the example down to just `http` and `pump`

[2017-08-29 12:04] mscdex commented on #15071
Did you check the exit status (e.g. check the contents of `%ERRORLEVEL%` after the node process exits)?

[2017-08-29 12:22] the-pirate-bay commented on #15071
The value of is **"errorlevel"** is **-1073741819""**.

[2017-08-29 12:25] mscdex commented on #15071
That indicates an access violation. /cc @nodejs/platform-windows

[2017-08-29 12:29] targos commented on #15071
This is a platform-independent bug in V8's Crankshaft compiler. Stacktrace:
[code]

I think we can only recommend to update Node to at least v8.3.0, because TurboFan is not affected.

[2017-08-29 12:33] seishun commented on #15071
Unable to reproduce the issue with Node.js 8.4.0.

[2017-08-29 13:01] buckle2000 opened #15073 "Why do you trust CNNIC?"
* **Subsystem**: tls

- CNNIC has made tons of malware
- CNNIC has issued cert for possible MiTM attempt (distrust from Mozilla & Google)
- CNNIC has once banned personal registration for it's own profit (& political power)
- CNNIC has recalled several registered .cn domains arbitrarily for no prior acknowledgement from domains' owners (because domain name is same as names of Chinese athletes in 2

[2017-08-29 13:08] jasnell commented on #15073
I want to clarify: this is in relation to including cnnic is the default trusted certs? Correct?

[2017-08-29 13:09] refack commented on #15073
Hello @buckle2000,
The current procedure for root CA trust is to mirror the list provided by Network Security Services (NSS).
Feel free to raise a PR to update that list, or the version that's embedded in `node` (similar to https://github.com/nodejs/node/pull/13279).

[2017-08-29 13:34] bmeck commented on #13877
If that is added to the documentation, that seems fine.

[2017-08-29 13:50] ferencbeutel commented on #13542
@noahnu Hi, yes, I've tried that. Writing the data seems fine, however, on closing the input stream (which tells the spawned process that no more data is coming in) I get a similar error. The subprocess I called in this example is imagemagick which supports inputs with fds >= 3, I've tested that aswell.

[2017-08-29 13:54] TimothyGu commented on #15073
certificates in accordance with Mozilla since https://github.com/nodejs/node/pull/1895 (landed two years ago), which is in the latest release of all support release branches.

If you believe the a supported version of Node.js does not distrust some CNNIC-issued certificates when it should, please email security@nodejs.org as documented in https://github.com/nodejs/node/blob/master/README.md

/cc @

[2017-08-29 14:14] shigeki commented on #15073
Yes, the CNN root certs is now included but the certificates issued by CNNIC are filtered with the whitelist of https://github.com/nodejs/node/blob/master/src/CNNICHashWhitelist.inc which is provided by Mozilla.

Recently, the CNNIC root cert was removed in Mozilla's root certs list in https://bugzilla.mozilla.org/show_bug.cgi?id=1356623 and we are waiting for Firefox56 to be stable.
After releasi

[2017-08-29 14:24] mtraynham commented on #14869
@sk91 You are a life saver!  I do believe that is it!

It looks like this has already been discovered and fixed with #13391, so I will close this and convey the message back upstream to the other issues that lead me here.

[2017-08-29 14:24] #14869 closed

[2017-08-29 14:26] davidmarkclements commented on #15010
I'm sure there are some compatibility problems, but I've actually just found that if you run the a profile for *long enough* the missing stacks seem to turn up - the effect of initially missing stacks are shown clearly in my sample cases but for say, an Express server, the net effect of this seems negligible.. (cf https://github.com/davidmarkclements/0x/issues/76#issuecomment-325680486)

[2017-08-29 14:36] davidmarkclements commented on #15010
however.. also relevant: https://github.com/nodejs/node-v8/pull/17

[2017-08-29 14:40] shigeki commented on #15073
Closing as I described above.

[2017-08-29 14:40] #15073 closed

[2017-08-29 15:04] oliversalzburg opened #15075 "Stepping into function crashes debugger"
* **Version**: 6.11.2
* **Platform**: Windows x64
* **Subsystem**: Debugger

Given is the following code:
[code]

Assume a setup like this (example uses VS Code):

![image](https://user-images.githubusercontent.com/1658949/29828066-081bbf02-8cdc-11e7-8ba0-73ebfbaa9b4b.png)

When I hit the breakpoint on line 9 and *step into*, the debugger crashes 100% of the time.

From what I observe, the issue i

[2017-08-29 15:08] benjamingr commented on #15075
Reproduced with v8.4.0 on macOS. Pinging @nodejs/v8-inspector

[2017-08-29 15:21] TazmanianD commented on #11865
Well it appears to me that fibers is a genuine solution to the problem which tells me that it obviously can be solved. Now that's not entirely fair because fibers is a much larger solution that does things you guys have obviously chosen to not include in node core.

What's still unclear to me is that if there is something on the V8 side that they can implement that would improve things for Node, e

[2017-08-29 15:36] Ginden opened #15076 "Should overwriting child_process.execFile result in changed behaviour of child_process.exec?"
[code]

I couldn't find in documentation why child_process behave this way (but it behaves like that for at least [four years](https://github.com/nodejs/node/commit/e8df2676748e944388896dfd767e01906ae2e4eb)).

Relevant line https://github.com/nodejs/node/blob/58831b2/lib/child_process.js#L136

[2017-08-29 15:37] targos commented on #15075
I can reproduce on Linux with 6.11.2 but not 8.4.0.

[2017-08-29 16:02] ak239 commented on #11865
Looking at the stack is not expensive, as well as resolving could be not expensive if we correctly cache symbolized frames (as was measured in the wild there are not a lot of unique call frames). Currently we can speedup cache lookup I think 2 times if we remove support of Function.prototype.displayName from V8. I'm not sure how useful is this feature - displayName allows to change function name i

[2017-08-29 16:25] #15009 closed

[2017-08-29 16:28] eugeneo commented on #15075
I can't reproduce on Linux with 8.4 or top of tree, will try Mac later in the day.

[2017-08-29 16:34] ncopa opened #15078 "build fails since 8.3.0 on alpine linux s390x: error: 'HWCAP_S390_ESAN3' was not declared in this scope"
* 8.3.0 and 8.4.0:
* Linux ncdev-edge-s390x 4.4.0-81-generic #104-Ubuntu SMP Wed Jun 14 08:16:50 UTC 2017 s390x Linux (alpine container on ubuntu host):
* musl libc:

Build fails with:
[code]

[2017-08-29 16:46] EternalDeiwos commented on #15009
@shigeki thanks for the fix :+1:

[2017-08-29 16:55] #14814 closed

[2017-08-29 16:56] trygve-lie commented on #15029
Here is a stipped down version:

[code]

What happens here is that we (`external`) do a request to a server (proxy server) which stream data through from a second server (http serve) and we terminate the request before the stream is done. A real use case for this is ex a user hitting the stop button in the browser while the server is still piping data to it.

If one run the above in node 8.1.4 or

[2017-08-29 16:56] joransiu commented on #15078
The issue stems from use of the HWCAP masks to test against the auxvector facilities.  Looking at my s390x/alpine image, `/usr/include/bits/hwcap.h` is an *empty* file.  It is included from `/usr/include/sys/auxv.h`which provides the definition of `getauxval(long)`.  On Ubuntu, for example, `/usr/include/bits/hwcap.h`provides the HWCAP_S390_* definitions.

It seems silly to provide getauxval witho

[2017-08-29 16:57] SkeLLLa commented on #3020
I can't reproduce this in node 6.11.2 (at least on Android). Was it fixed?

[2017-08-29 19:46] refack commented on #14137
Update for TF&I, performance penalty is < 1%
[code]

[2017-08-29 20:06] erikerikson opened #15079 "Casing in URL code snippets"
* **Version**: v6.11.0
* **Platform**: Darwin XXX.XXX.XXX 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64
* **Subsystem**: url

advise tags `doc` and `url`

From [url.md](https://github.com/nodejs/node/blob/master/doc/api/url.md)
[code]
Except, a different casing is expected (`Url`) as per [lib/url.js](https://github.com/nodejs/node/bl

[2017-08-29 20:17] vsemozhetbyt commented on #15079
It seems these examples refer to [this API](https://github.com/nodejs/node/blob/5e443d7398e8dadf0c44b3011f97deead75b1148/lib/url.js#L33). WHATWG URL API [was introduced in Node.js 7.0.0](https://nodejs.org/api/url.html#url_the_whatwg_url_api).

[2017-08-29 20:20] erikerikson commented on #15079
apologies.  that is correct.

[2017-08-29 20:20] #15079 closed

[2017-08-29 20:57] ncopa commented on #15078
I asked the musl devs and they are [fixing it](http://www.openwall.com/lists/musl/2017/08/29/9) on their end.

[2017-08-29 20:57] #15078 closed

[2017-08-29 21:34] techtenk commented on #3739
Did the proposed fix above ever go in? I'm running into the same problem on Node v7.10.0
[code]

[2017-08-30 00:04] vsemozhetbyt opened #15081 "setInterval randomly intrudes in microtask queue"
* **Version**: 8.4.0
* **Platform**: Windows 7 x64
* **Subsystem**: libuv, promises

Revisiting [this article](https://blog.risingstack.com/node-js-at-scale-understanding-node-js-event-loop/), I've found out that [an example](https://blog.risingstack.com/node-js-at-scale-understanding-node-js-event-loop/#anamemicrotasksmacrotasksamicrotasksandmacrotasks) which illustrates some known bug (?) in mic

[2017-08-30 00:13] vsemozhetbyt commented on #15081
The same is valid for the last nightly and V8 canary.

[2017-08-30 00:19] tlbtlbtlb opened #15082 "http keepAliveTimeout triggers while writing large http responses"
* **Version**:
v8.4.0. Also 8.0.0, and git branch 8.X
* **Platform**:
Linux london 4.4.0-78-generic #99-Ubuntu SMP Thu Apr 27 15:29:09 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:
http

While writing a large response, the http keepalive timeout closes the socket after 5 seconds of writing. I can reproduce with 8.0.0 and 8.4.0 on both OSX and Linux.

The [documented](https://nodejs.org/

[2017-08-30 00:28] tlbtlbtlb commented on #15082
May be same as #14869. The workaround there, of setting http.server.keepAliveTimeout large, isn't very appealing. HTTP connections should time out after 5 sec of inactivity, not 5 sec of activity.

[2017-08-30 00:49] eugeneo commented on #15075
Crash log:
#
# Fatal error in ../deps/v8/src/debug/debug-scopes.cc, line 277
# Check failed: nested_scope_chain_.length() == 1.
#

==== C stack trace ===============================

 1: V8_Fatal
 2: v8::internal::ScopeIterator::ScopeObject()
 3: v8::internal::ScopeIterator::MaterializeScopeDetails()
 4: 0x1a3e78e
 5: v8::internal::Runtime_GetAllScopesDetails(int, v8::internal::Object**, v8::inter

[2017-08-30 01:24] buckle2000 commented on #15073
Thanks

[2017-08-30 03:58] gnbezerra commented on #15038
I'll submit a PR tomorrow updating the errors in the documentation.

[2017-08-30 04:27] beingmohit opened #15084 "tcp socket localPort option does not work"
Version: v6.11.2
Platform: Linux workstation 4.4.0-92-generic #115-Ubuntu SMP Thu Aug 10 09:04:33 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
Subsystem: net

[code]
**Output**: Server 6001: socket connected 35372
**Expected**: Server 6001: socket connected 6002 (or EADDRINUSE error)

[2017-08-30 05:07] gnbezerra commented on #15038
About the list @maclover7 compiled, just a few corrections to it:

- ERR_HTTP2_INVALID_PACKED_SETTINGS_LENGTH is listed both in `lib/internal/errors.js` and `doc/api/errors.md`
- ERR_SOCKET_CLOSED is listed in `lib/internal/errors.js`, but not listed in `doc/api/errors.md`
- ERR_UNKNOWN_BUILTIN_MODULE is not listed in `lib/internal/errors.js`, but is listed in `doc/api/errors.md`

Oh, and thank yo

[2017-08-30 07:11] trygve-lie commented on #15029
This is a result of #14024 which went into 8.2.0.

This can be closed.

[2017-08-30 07:14] bzoz commented on #15081
On my box it is random, with each run the output will either have or have not this extra `setInterval`.

The docs for `setTimeout` and `setInterval` say `When delay is larger than 2147483647 or less than 1, the delay will be set to 1`, so I guess that this is some kind of a race?

[2017-08-30 07:24] bzoz commented on #15032
Closed in https://github.com/nodejs/node/commit/b46d59605df2fc458b7f1ca738c1cad10166bf06

[2017-08-30 07:24] #15032 closed

[2017-08-30 07:25] SimenB commented on #15029
Feel free to close if our analysis is correct (and the change in behavior is intended)

[2017-08-30 07:26] mcollina commented on #15029
Is there a way we can keep the existing behavior of pump and eos, and keep this change in?

I'm a bit lost on the Error issue: why the Error is not bubbling up?

[2017-08-30 07:39] SimenB commented on #15029
FWIW I think this new behavior is correct, and the error vi got from `eos` in older versions of node just exposed the bug that #14024 fixed.

Although it might be expected to get an error of some sort (`write after end`?), since we are trying to write to a closed stream, aren't we?

[2017-08-30 07:55] trygve-lie commented on #15029
The stream are terminated prematurelly in all versions. In node 8.1.4 and older `eos` (`pump` have this "error" inheritated from `eos`) ends with an error object telling us that. In 8.2.0 `eos` ends with no error so in newer versions we really do not know that the stream was terminated prematurelly.

I am not sure how `eos` will be able to figure this out now. I created an issue on it: https://git

[2017-08-30 08:56] vsemozhetbyt commented on #15081
@bzoz I've checked some more times: the first time is always with extra `setInterval`, in the next ones — ~1 of 10 has extra `setInterval`.

Can race condition cause macrotask intervention in microtask queue?

[2017-08-30 09:01] vsemozhetbyt commented on #15081
Strangely, in git bash for Windows, the first time is also random, in the next ones statistics is reverted: ~1 of 10 has no extra `setInterval`.

[2017-08-30 09:02] bzoz commented on #15081
On my box it is totally random, no matter if on `cmd`, `bash` or anything.

[2017-08-30 09:12] Gerhut opened #15087 "Should spawn with undefined env value be treated as "undefined" string?"
* **Version**:

 v8.4.0

* **Platform**:

Darwin 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64

* **Subsystem**:

child_process

[code]

yields

    { FOO: 'undefined', __CF_USER_TEXT_ENCODING: '0x1F5:0x19:0x34' }

should undefined/null environment value be transferred to child process?

[2017-08-30 09:19] mcollina commented on #15081
This is not a problem, but it depends on when `setTimeout(func, 0)` places `func`. This is explained in https://nodejs.org/en/docs/guides/event-loop-timers-and-nexttick.

[2017-08-30 09:20] bzoz commented on #15081
The article says:
`According to the WHATVG specification, exactly one (macro)task should get processed from the macrotask queue in one cycle of the event loop`
while Nodes `setImmediate` documentation says:
`The entire callback queue is processed every event loop iteration.`
So I guess Node does not follow WHATVG  exactly. More details are [here](https://nodejs.org/en/docs/guides/event-loop-timers

[2017-08-30 09:34] vsemozhetbyt commented on #15081
Is this statement from the article true?

If so, how can microtask queue be disrupted by the `setInterval()` callback here?

[2017-08-30 09:42] vsemozhetbyt commented on #15081
Ouch. This variant have the same behavior:
[code]
[code]

[2017-08-30 09:46] ramimoshe commented on #11273
I am going to do:
child_process.js

[2017-08-30 10:09] joyeecheung commented on #15084
I can reproduce this with master. I think this is similar to what https://github.com/nodejs/node/blob/2154a3ce0f2eca1d26e1ad8e7bbeae1039822a5a/lib/net.js#L1383-L1390 tries to address. I will open a PR fixing this shortly (the fix is causing other tests to fail because they are depending this bug...).

[2017-08-30 10:17] benjamingr commented on #15081
Very nice find!

Just pointing out that the whole micro/macrotask semantics aren't really specified anywhere - and we're free to schedule promises (as a platform as we choose).

We currently schedule them with microtask semantics (again, this is not required by the specification but is more correct since it does not defer things by I/O).

I'd like to point out that the order of callbacks will like

[2017-08-30 10:32] mcollina commented on #15029
@trygve-lie I understand the problem now. `pump` is calling `.end()`  on the response, causing `res.writable` to go to `false`. This prevents `eos`  to call the callback with the error.

I think it's a bug in core. `stream.Writable` sets `ws.writable = false` _after_ emitting `'finish'` , while OutgoingMessage sets `ws.writable = true` _before_ emitting `'finish'`.