[2016-10-03 06:00] chikathreesix commented on #8798
@ChALkeR Thank you so much for your detailed feedback!
We will solve all the issues ASAP.

**1. 2. Sign up with github/facebook**
I couldn't reproduce this so I'd like to know more details on this issue.
- What's your browser, its version and OS?
- How didn't this work? Clicking the button didn't do anything at all?
- A popup is expected to open, do you somehow completely block it?

**3. Language

[2016-10-03 06:40] targos commented on #8798
@chikathreesix I was able to login with GitHub. Now I have two questions:

1. How can I add a new language ?
2. Is the translation stored in such a way that it can be reapplied (on text that wasn't changed in English) when the documentation is republished along with a new release ?

[2016-10-03 06:41] ChALkeR commented on #8798
@chikathreesix

Chromium 53, Arch Linux current.

A popup has opened, I successfully authorized the application both on GitHub and of Facebook, but both of those give the same error: `* Username may only contain lowercase letters, numbers and single hyphens, and cannot begin or end with a hyphen`. I didn't type a username anywhere, so I'm guessing that it tries to somehow create one from GitHub/Fa

[2016-10-03 06:42] DeepakTiwari13 commented on #4329
I was facing same issue on win7 64 bit sp1 machine.
In msi installer I unchecked performance counter installation , documentation  installation.
Then it got installed.
v6.7.0

[2016-10-03 07:00] chikathreesix commented on #8798
Hi @targos,

1. Currently only admins can add a language from our platform site but we will enable front end module to create a language as well.
By the way, I have added you to the team as admin so you can add a language from here.
https://locki.io/projects/23

2. Yes exactly. Basically the translations take its original copy as a key so even though the site is updated, while a copy stays same, t

[2016-10-03 07:02] chikathreesix commented on #8798
@ChALkeR

Thanks, I got the issue. It tries to use your github username as our username too but doesn't match with our validation. Let me fix this.

[2016-10-03 07:03] ChALkeR commented on #8798
@chikathreesix And what about Facebook?

[2016-10-03 07:09] ChALkeR commented on #8798
@chikathreesix

I see that it uses things like `/html/body/div/div[2]/div[2]/ul[11]/li/a` for addressation. What would happen if I, for example, insert a paragraph B _right before_ an already translated paragraph А? Will the translation apply to А, given that its contents weren't changed, or will it be lost?

[2016-10-03 08:03] santigimeno commented on #3072
@petermp what about putting the code on a github repo or using https://gist.github.com/?

[2016-10-03 08:26] caridy commented on #8865
@srl295 I thought we had discussed this in the past, and agreed on throwing an error, at least that was my understanding. Anyhow, let's try to take action asap, to prevent a bigger problem later on.

[2016-10-03 08:59] chikathreesix commented on #8798
@ChALkeR
facebook issue should be same cause I assume.

As mentioned in the previous comment, since it takes a original copy as a key, translations are applied to everywhere that has a same copy so the position doesn't matter, the translations won't be lost. This XPath is stored for a reference not for a key.

[2016-10-03 09:47] #8899 closed

[2016-10-03 09:51] bnoordhuis commented on #8897
Does `node --preserve-symlinks c:\nodejs\node_modules\npm\bin\npm-cli.js install` work?

[2016-10-03 09:53] lpinca commented on #8793
I've seen a significant performance drop when running this low quality [benchmark](https://github.com/websockets/ws/pull/847) on ws repo.

node 6.7.0:
[code]

node master:
[code]

but it's an external library so I don't know if it's relevant.

[2016-10-03 10:01] StefanScherer commented on #8897
No, still the same. Can't see the `--preserve-symlink` in the `argv` output:

[code]

[2016-10-03 10:15] StefanScherer commented on #8897
It seems that node can't find/load js files in the volume mount point.

[code]

[2016-10-03 10:36] strugee opened #8903 "Ship manpages for all core modules"
It would be super neat if all the Node core modules shipped manpages. E.g. the HTTP module would have a corresponding `node-http(3)` manpage. (Is section 3 the most appropriate? It's for library _calls_, so I'm not sure. Let's bikeshed.) In particular this is useful for working offline - I suspect a lot of distributions of Node don't ship the HTML docs. I know my Homebrew install sure didn't insta

[2016-10-03 10:36] targos commented on #8793
@lpinca It could be relevant. Depends if the regression is in core / V8 or in the library.

[2016-10-03 10:54] evanlucas commented on #8893
yep, I dealt with that last week while cutting v6.7.0.

I would say that @TheAlphaNerd's comment (https://github.com/nodejs/node/issues/8893#issuecomment-250955448) describes it pretty well.

[2016-10-03 10:55] #8867 closed

[2016-10-03 11:05] joaocgreis commented on #4329
For anyone finding this issue with the same problem: The solution for this seems to be running the next two commands in a Administrator Command Prompt:

[code]

The first command will just create a backup that can be restored with `LODCTR /R:lodctr_backup_20160901.ini` if anything goes wrong. Please comment here if this doesn't work, and paste the backup file in the comment. Thanks!

[2016-10-03 11:48] lpinca commented on #8793
I'll try to investigate a bit.

[2016-10-03 12:07] lpinca commented on #8793
I'm an noob. The perf drop was caused by a binary addon not recompiled for the new version. There isn't a noticeable difference in the above-mentioned benchmark.

[2016-10-03 12:35] kesarion commented on #7904
@wryun I could wait. It's async/await we're talking about. It would probably land in the LTS version as well, with a little patience, so everyone can rejoice.

[2016-10-03 12:46] targos commented on #7904
async/await will not land in `v6` LTS, if that's what you meant. The first LTS version in which it will be available is probably `v8.x`.

[2016-10-03 12:48] targos commented on #7904
I'll close this issue. `v7.0.0` will ship with V8 5.4

[2016-10-03 12:48] #7904 closed

[2016-10-03 13:46] Fishrock123 commented on #8903
I'd be ok with this but I'm not sure what the maintenance burden would be like.

If the doctool could build it I'd be down though. (Specifically, the library pages, I'd prefer the `node.1` page to remain as it is I think.)

Section 3 sounds about right.

[2016-10-03 13:49] Fishrock123 commented on #8893
Yeah, what @TheAlphaNerd said.

[2016-10-03 13:49] Fishrock123 commented on #8893
(All of which make viewing commits  / tooling / attribution / etc more difficult.)

[2016-10-03 13:50] Fishrock123 commented on #8865
If there is a chance this will be removed before the next major we should deprecate in v7.

[2016-10-03 13:52] Fishrock123 commented on #8807
maybe @bnoordhuis or @cjihrig?

[2016-10-03 13:54] Fishrock123 commented on #8671
We could have the installer install it if it exists?

[2016-10-03 14:03] jasnell commented on #8865
I'm thinking we probably should. I'm not able to add the ctc-agenda label
at the moment. We would need ctc ok to land it in v7.

On Monday, October 3, 2016, Jeremiah Senkpiel <notifications@github.com>
wrote:

[2016-10-03 14:16] mhdawson commented on #8847
Ah we just need this to be backported to 4.X https://github.com/nodejs/node/pull/8470

[2016-10-03 14:17] mhdawson commented on #8847
@gireeshpunathil can you look at this one as part of https://github.com/nodejs/node/issues/7973

[2016-10-03 14:17] mhdawson commented on #8847
It if occurs often enough to be an issue before we investigate then we can disable.

[2016-10-03 14:21] mhdawson commented on #8750
Yes found this https://github.com/nodejs/node/pull/6678

[2016-10-03 14:23] mhdawson commented on #8750
Looks like that floating patch got dropped along the way somewhere

[2016-10-03 14:42] mhdawson commented on #8750
Putting together PR to re-float patch

v8 CI test run here: https://ci.nodejs.org/job/node-test-commit-v8-linux/347/

[2016-10-03 14:45] chikathreesix commented on #8798
@ChALkeR Your github login should work now. I am not sure about facebook login but if it fails I can track the details now so please try that again.

[2016-10-03 15:19] ngabormini commented on #8817
http://opensslrampage.org/post/88395266930/abandon-the-auto-engine-devcrypto-interface

[2016-10-03 15:25] ChALkeR commented on #8798
@chikathreesix I can confirm that GitHub auth works now, but Facebook auth still fails with the same error.

[2016-10-03 15:39] ChALkeR commented on #8798
@mikeal, is the proposal here to have the documentation world-editable or limited to the nodejs org members only?

[2016-10-03 15:49] sant123 commented on #8435
Hellouu @jasnell?

[2016-10-03 15:52] targos commented on #8865
Here is a PR adding the deprecation warning: https://github.com/nodejs/node/pull/8908

[2016-10-03 15:57] bnoordhuis commented on #8435
`Date#getHours()` is the hour in the timezone you selected; you probably want `Date#getUTCHours()` instead.

The issue tracker is not the place for support questions; try consulting MDN and if you still can't figure it out, please post your questions to https://github.com/nodejs/help.  I'll close the issue.

[2016-10-03 15:57] #8435 closed

[2016-10-03 16:04] isiahmeadows commented on #6283
BTW the ox for #5344 should probably now be checked, since that issue is now closed.

[2016-10-03 16:12] sant123 commented on #8435
@bnoordhuis I know this is not the place for questions, as you can noticed I reported about the display in a time; it would be better if the display of the Date would be in the current timezone, not the UTC.

[2016-10-03 16:22] fhinkel commented on #8893
Have we documented anywhere why we add `Reviewed-By`? I'm not sure what it's good for.

[2016-10-03 16:23] bnoordhuis commented on #8893
It's like `git blame` for reviewers.

[2016-10-03 16:24] isiahmeadows commented on #8342
I would prefer a non-native Error subtype for Node's own errors, if anything for easier differentiation at a glance and a better ability to mock them in testing (no need to reimplement Node's magic for a mock FS error).

I am 👎 for a complex error hierarchy (that's just not very idiomatic, and it's unnecessarily complex), but something like just `FSError`, `NetworkError`, `CryptoError`, etc. (just

[2016-10-03 16:30] bnoordhuis commented on #8435
It's not under node's direct control, Date is implemented by V8.  You could try filing a bug with them.

[2016-10-03 17:12] gibfahn opened #8911 "Avoiding firewall warnings on macOS Sierra when built from source"
* **Version**: master
* **Platform**: macOS Sierra (10.12)
* **Subsystem**: test

I've been getting this popup a bunch of times after running `make -j8 test`, does anyone know a good way of avoiding this when building/testing node?

[code]

![image](https://cloud.githubusercontent.com/assets/15943089/19045244/a8a08ce2-898f-11e6-8033-8afe5e5b1fe0.png)

[2016-10-03 17:32] TheAlphaNerd commented on #8911
AFAIK the only real solution is to turn off the firewall. Since you are making a new binary each compile you are going to have to make a new firewall rule each time.

Will be very happy if I'm wrong

[2016-10-03 17:37] gibfahn commented on #8911
:sob:

[2016-10-03 18:16] mikeal commented on #8798
@ChALkeR I think the proposal is to allow the localization be editable by the community and the access controls maintained by whatever system Locki has. For most localizations that is probably preferred, most of the localization communities we have in our GitHub org are a subset of a much larger community in that locale.

[2016-10-03 18:17] ajklein commented on #8866
V8 is quite close to a complete implementation of what's in ES2015 (note that it's only implemented in our interpreter, so passing `--ignition` is required to make it work at the moment). Our API probably isn't sufficient for Node's use yet: it assumes all modules will be created as "Source Text Module Records" (in spec-speak), since that's what we expect to need for an implementation of `<script

[2016-10-03 19:15] strugee commented on #8903
That's what I was planning to do. We can just automatically build them from Markdown.

[2016-10-03 19:42] sant123 commented on #8435
Well @bnoordhuis, I tested this on Chrome that uses V8 and shows the Date correctly.

[2016-10-03 19:50] Raynos opened #8912 "Debugging: Stabilize hidden classes for improved heap snapshots"
- **Version**: 4.4.7
- **Platform**: linux
- **Subsystem**: http

Currently the http client does not have stable hidden classes so it's hard to debug it.

For example:
- https://github.com/nodejs/node/blob/master/lib/_http_client.js#L233
- https://github.com/nodejs/node/blob/master/lib/_http_client.js#L229

These are two different fields that do not exist in the constructor ( https://github.com/no

[2016-10-03 19:58] Raynos opened #8913 "Debugging: name every function"
- **Version**: 4.4.7
- **Platform**: linux
- **Subsystem**: http

There are too many anonymous functions in the source code which makes heap debugging frustrating

This `once('response')` listener ( https://github.com/nodejs/node/blob/master/lib/_http_client.js#L235-L237 ) is anonymous.

When I try to debug why I am leaking `response` listeners in a heap snapshot

![image](https://cloud.githubuser

[2016-10-03 19:59] TheAlphaNerd commented on #8912
@Raynos is this problem in v6 as well? Would the solution be simply adding those fields in the constructor?

[2016-10-03 20:00] Raynos commented on #8912
This applies to 4.x & master. I did not check 6.x, I assume 6.x and master are the same.

[2016-10-03 20:00] Raynos commented on #8913
This applies to 4.x & master. I did not check 6.x, I assume 6.x and master are the same.

[2016-10-03 20:04] jasonmcaffee commented on #8871
Thanks @bnoordhuis for the breakdown and explanation.

[2016-10-03 20:09] TheAlphaNerd commented on #8912
/cc @nodejs/http

[2016-10-03 20:11] cjihrig commented on #8912
Adding the good first contribution label.

[2016-10-03 21:21] shmuga commented on #8684
I have made a proposal how this state variable can be tested in PR #8914 .
As we already have some tests for awaitDrain - I think it's better to add some asserts to them for covering real awairDrain value.
Also tests now cover reseting awaitDrain counter.
But I don't understand what this [test](https://github.com/nodejs/node/blob/master/test/parallel/test-stream-pipe-await-drain-manual-resume.js)

[2016-10-03 21:47] shmuga commented on #8912
Can take this one.
But what should we do with static variable listed in [_http_client](https://github.com/nodejs/node/blob/master/lib/_http_client.js#L208)?
I tried to remove it locally and run tests and they passed. But is that right decision?

[2016-10-03 21:48] #8506 closed

[2016-10-03 21:48] #8656 closed

[2016-10-03 21:59] Trott opened #8915 "Node.js Foundation Core Technical Committee (CTC) Meeting 2016-10-05"
## Time

**UTC Wed 05-Oct-2016 20:00**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 05-Oct-2016 13:00 |
| US / Mountain | Wed 05-Oct-2016 14:00 |
| US / Central  | Wed 05-Oct-2016 15:00 |
| US / Eastern  | Wed 05-Oct-2016 16:00 |
| Amsterdam     | Wed 05-Oct-2016 22:00 |
| Moscow        | Wed 05-Oct-2016 23:00 |
| Tokyo         | Thu 0

[2016-10-03 22:01] Trott commented on #8915
The usual reminders that:

* This meeting will take place in approximately 46 hours.

* Standup section is all ready to go.

[2016-10-03 22:23] mcollina commented on #8684
@shmuga yes, good job!

The test you mentioned is increasing the awaitDrain mechanism manually, by calling resume: https://github.com/nodejs/node/blob/master/test/parallel/test-stream-pipe-await-drain-manual-resume.js#L29-L34.
You need to check that awaitDrain gets increased.

On that test, you should basically check that awaitDrain goes to zero as describe in: https://github.com/nodejs/node/blob/

[2016-10-03 22:40] shmuga commented on #8684
@mcollina great. will add some more tests for manual-resume. But I think this [comment](https://github.com/nodejs/node/blob/master/test/parallel/test-stream-pipe-await-drain-manual-resume.js#L29-31)
[code]

is a bit strange at the place "increase again".
As we have only one writer here - the counter can't be increased more than one time.
So probably I will change that comment.

[2016-10-03 22:48] mcollina commented on #8684
@shmuga resume interacts with `awaitDrain`: https://github.com/nodejs/node/blob/master/lib/_stream_readable.js#L741

See also https://github.com/nodejs/node/blob/master/lib/_stream_readable.js#L556.

When was that test added? Who did it? It might be worth getting the original PR here, and discussing with the author.

[2016-10-03 22:50] jbergstroem opened #8917 "failed test: parallel/test-tick-processor-unknown (smartos16)"
* **Version**: latest head
* **Platform**: smartos16

So, we got smartos15 and 16 on board. Here's the first run:
https://ci.nodejs.org/job/node-test-commit-smartos/4584/

Looks like smartos16 runs into a oom for above test:
[code]

/cc @nodejs/platform-solaris, @chorrell

[2016-10-03 22:52] jbergstroem commented on #8917
Our slaves usually have 2G of ram, but this host runs on 4:
[code]

[2016-10-03 22:52] shmuga opened #8918 "Code style: linting whitespace at the end of the file."
* **Version**: v6.3.0
* **Platform**: 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64
* **Subsystem**: build

Rules are not configured to track for whitespace lines at the end of the file.
Probably it's better to add this rule for checking? I have faced this problem during the review of my PR. And it's definitely not cool to spend time

[2016-10-03 22:56] misterdjules commented on #8917
I believe this is a duplicate of #8725.

[2016-10-03 23:01] mscdex commented on #8917
Yes, this is a duplicate. I reported the same thing accidentally the other day :-)

[2016-10-03 23:01] #8917 closed

[2016-10-03 23:32] Raynos commented on #8912
Personally, having variables defined on the prototype is more messy then defining them in the constructor.

[2016-10-04 00:41] jbergstroem commented on #8917
Ok, just wasn't convinced seeing how we got a OOM here but not in the other issue.

[2016-10-04 02:29] domenic commented on #8866
I think something was lost in translation there. What's in flux is https://whatwg.github.io/loader/ (a "collection of interesting ideas" about loading in various environments), not https://html.spec.whatwg.org/multipage/webappapis.html#fetching-scripts and related sections (the HTML spec loader). The browser loader is finalized, pending implementation feedback (although implementations have progre

[2016-10-04 02:31] jasnell commented on #8915
I'm chaperoning a three day field trip for my two boys. I won't be back in
town until Thursday. Have fun everyone. Should be back on regular schedule
next week

On Monday, October 3, 2016, Rich Trott <notifications@github.com> wrote:

[2016-10-04 03:46] Trott commented on #8918
PR for this: https://github.com/nodejs/node/pull/8920

[2016-10-04 05:45] bmeck commented on #8866
@ajklein I think the solutions we described that VMs will need at the meeting are as follows:

1. **Late linking validation** : Need a new Module Record type that's shape is not validated until dependencies are run through ModuleEvaluation.

    * This requires a spec change to loosen ModuleDeclarationInstanciation on Source Text Module Records and implement a guard in ModuleEvaluation.

2. **Prop

[2016-10-04 06:57] chikathreesix commented on #8798
@ChALkeR I got the issue with your facebook account and now it should be fixed.

@ChALkeR and @mikeal
Although you can also limit the editing to nodejs org members only first not to be messed up by random people, the idea of Locki is to open up the funnel more specifically for the localization since the bar for getting into the localization community with Locki becomes easier. So I think the local

[2016-10-04 07:16] targos commented on #8798
@chikathreesix

While playing around with the tool, I found this:
![image](https://cloud.githubusercontent.com/assets/2352663/19065286/fbeea9d2-8a12-11e6-9527-b7be96fc6fb6.png)

There is some HTML that wasn't isolated.

[2016-10-04 07:19] chikathreesix commented on #8798
@ChALkeR oh, since you are using a same email address as github, you can't create a new account with facebook. Let us think what would be the best way to solve this.

[2016-10-04 07:27] chikathreesix commented on #8798
@targos This is an expected behavior since you might need to change positions of anchor, span, strong tags and so on which appears in a paragraph. So it groups inline elements into a segment.
I agree that it should be nicer in terms of displaying them so we are thinking about display the tags in a simplified format or something else not to show the entire tags.

[2016-10-04 07:28] ChALkeR commented on #8798
@chikathreesix

I don't think that this is very important, the good thing is that everyone could log in through their preferred way.

[2016-10-04 07:40] addaleax commented on #8915
I should be able to make it, but there’s a good chance I’m late, so don’t wait for me. ;)

[2016-10-04 07:42] jbergstroem commented on #8798
This bug is kind of moving into a bug report for locki. My impression by reading this is that it doesn't seem mature enough to provide a consistent experience for the animation/popup (which for me is a tradeoff). Going to agree with @ChALkeR in that in its current state its a `-1`.

Also, if we're doing this I'd like to see a similar solution to what we discussed in the analytics issue -- add a fl

[2016-10-04 07:53] addaleax commented on #8893
It also gives a list of people to @mention / contact when something goes wrong, and doesn’t require the assumption that Github lasts forever for that ;)

[2016-10-04 08:13] addaleax commented on #8903
Btw, would it help if we switched from marked to remark? I think it has become clear in the past that that might make sense, and re-writing the doctool with that has been on my long-term todo list.

[2016-10-04 08:29] #7618 closed

[2016-10-04 08:50] ChALkeR commented on #8915
I will miss this meeting, sorry, I will have to get up very early in the next day.

[2016-10-04 08:51] darsain commented on #8915
I want to propose an agenda item. If this should be a separate issue just let me know.

## Waiting for V8 5.5 for node 7

V8 5.5 comes with a flagless async/await, one of the most anticipated additions to ES. This will tremendously improve the quality of node development. It even has the potential to start a move away from transpilers. The slowdown in load times and additional hassle they add will

[2016-10-04 08:54] ChALkeR commented on #8915
@darsain, -1 on that, it doesn't look a good idea to me to move Node.js v7 release to December, given that the schedule has been announced and that per schedule the release should happen in October.

[2016-10-04 08:55] Rolinh opened #8921 "url.resolve() behaves differently depending on the protocol of the base url"
- **Version**: v4.5.0, v6.7.0
- **Platform**: Linux 3.16.0-76-generic x86_64, Linux 4.7.6-1-ARCH x86_64, FreeBSD 10.1-RELEASE-p26 amd64
- **Subsystem**: url

The `url.resolve()` function behaves differently depending on the protocol given in the `from` parameter.
See this example:

[code]

When reading this function's [documentation](https://nodejs.org/api/url.html#url_url_resolve_from_to), this i

[2016-10-04 09:01] imyller commented on #8915
@ChALkeR Since rescheduling releases is out of the question, do you see any other solution for getting V8 5.5 in sooner?

[2016-10-04 09:10] bnoordhuis commented on #8921
Some protocols (http, https, file, ftp and, yes, gopher) are treated specially, to match browser behavior ca. 2010, when the url module was introduced.

I think it's confusing but it's probably hard to change because of backwards compatibility.  It's more likely to simply be subsumed by WHATWG URL support, ref https://github.com/nodejs/node/pull/7448.

[2016-10-04 09:23] ChALkeR commented on #8915
@imyller, not sure how we could get in v8 5.5 in a Node.js release sooner than December given that v8 5.5 is going to be released in December.

[2016-10-04 09:24] Rolinh commented on #8921
Thanks @bnoordhuis. I believe that the information you give in your comment (the list of protocols which are treated specially and the uniform behavior when the URL ends with a slash) definitely has its place in the documentation.

[2016-10-04 09:24] targos commented on #8915
I started working last week on the possible update to V8 5.5. For now it doesn't seem that there is much to do in order stay backward-compatible.

[2016-10-04 10:03] darsain commented on #8915
@ChALkeR V8 5.5 landing soon-ish after it's released is pretty much all I'm asking for :) Don't know why I was under the impression that significant V8 bumps happen only on major node updates. My bad if that's not the case.

[2016-10-04 10:09] ChALkeR commented on #8915
@darsain It depends, e.g. (as @bnoordhuis mentioned above) in 6.5.0 V8 was bumped from 5.0 to 5.1.

But note that the estimated release date of V8 5.5 is not in few weeks, but is scheduled for December, so it won't get into any Node.js release before that.

[2016-10-04 10:40] gireeshpunathil commented on #8847
Attempting to recreate the failure, so far no luck. Trying in few systems.

[2016-10-04 10:59] miszczu commented on #8244
@tylersmalley can you elaborate on how you dealt with the issue? I understand it's not related to node but I'm getting the same `Fatal error: out of range` and can't find anything that would help me fix it. This issue is the only trace I could find :)

[2016-10-04 11:16] shmuga commented on #8684
@mcollina I found nice description of this test in commit
https://github.com/nodejs/node/commit/e2e615e87e52773274619d0167716a766c16ac64

I will just follow those instructions and add cover tests for `awaitDrain` state variable.

[2016-10-04 13:04] imyller commented on #8915
I didn't mean sooner than December, but sooner than next major Node.js release after v7.x.x. I think that was the main concern for @darsain.

As @bnoordhuis pointed out, there has been mid-cycle V8 upgrades in the past. I believe that just stating such possibility alleviates many concerns.

[2016-10-04 13:57] darsain commented on #8915
Yes, precisely. Sorry for not being clear enough.

[2016-10-04 15:49] Goyapa opened #8925 "test: cleanup/update test-dgram-error-message-address.js"
- **Version**: 7
- **Subsystem**: dgram

I am working on this.

[2016-10-04 16:22] ilkeraktuna opened #8926 "Can't run nodejs 4.6 on Ubuntu 12.04.5 LTS with Geode AMD CPU"
* **Version**: 4.6 LTS
* **Platform**:  Ubuntu 12.04.5 LTS with Geode AMD CPU
* **Subsystem**:

Hi,

When I install the binary from nodejs.org on my Ubuntu system with Geode AMD CPU, it installs fine. But when I run "node" or "npm" commands , I get "Illegal Instruction" error.

root@router:~# uname -a
Linux router 3.2.0-57-generic #87-Ubuntu SMP Tue Nov 12 21:38:12 UTC 2013 i586 i586 i386 GNU/Linu

[2016-10-04 16:23] misterdjules commented on #8917
@jbergstroem

The other issue is also about an out of memory error, it's just that the error messages are sometimes a bit hidden in various comments.

[2016-10-04 16:25] ilkeraktuna commented on #8926
If I install binaries from Ubuntu Repos, they work fine. But they are very old releases (below)
So I need working 4.6 binary.

root@router:~# apt-cache madison nodejs
    nodejs | 0.10.47-1nodesource1~precise1 | https://deb.nodesource.com/node_0.10/ precise/main i386 Packages
    nodejs | 0.6.12~dfsg1-1ubuntu1 | http://archive.ubuntu.com/ubuntu/ precise/universe i386 Packages
    nodejs | 0.6.12~d

[2016-10-04 16:35] TheAlphaNerd commented on #8926
@ilkeraktuna are you installing from source or the tar balls from the website?

is v4.5.1 working?

[2016-10-04 16:55] ilkeraktuna commented on #8926
none of the binaries on website work for me.
if I can install, it gives "illegal instruction"
So far I only could run v0.10.47 and v0.6.12 from Ubuntu repos.

[2016-10-04 16:56] ilkeraktuna commented on #8926
I try the binaries.
Because I don't have required g++ or clang++ version to build from source.

Btw, I checked on my system and see that running nodejs is from this package:
nodejs_0.10.47-1nodesource1~precise1_i386.deb

So I found a similar one (i386) from here:
https://deb.nodesource.com/node_4.x/pool/main/n/nodejs/

But it didn't also work.

[2016-10-04 17:19] mscdex commented on #8926
IIRC V8 dropped support for i586 and older some time back. I know [V8's x86 support requires SSE2 since 2014](https://github.com/v8/v8/commit/3fa6100ed3296175423fcfceb33feb2ef3f98b31) and AFAIK all Geode CPUs do not support SSE2 (and only some support original SSE).

[2016-10-04 17:21] ilkeraktuna commented on #8926
so what do you recommend for me ?
I can't change my CPU.
And old nodejs (v.0.10.x) does not work for my required scenario.

[2016-10-04 17:23] mscdex opened #8927 "child_process: outdated comment"
- **Version**: all
- **Platform**: n/a
- **Subsystem**: child_process

There is [an outdated comment](https://github.com/nodejs/node/blob/b90f3da9deaeda2b04a77af2e11a4b6d33a0c510/lib/child_process.js#L53-L54) in lib/child_process.js that needs to be updated to better reflect what the code beneath it has been doing for some time now. Instead of commandeering stdin for IPC usage, a separate fd is ac

[2016-10-04 17:28] mscdex commented on #8926
You're out of luck then. node v0.10.x was the last branch to use a version of V8 that did not include the SSE2 requirement.

[2016-10-04 17:41] ilkeraktuna commented on #8926
that's really bad.
Wouldn't it be possible to patch it  so that it does not require SSE2 ?

[2016-10-04 17:51] mscdex commented on #8926
If you're familiar enough with the V8 code base and you have the time to spend doing it (non-trivial IMHO), then sure. However maintaining that patch going forward as V8 continues to make improvements and other changes is likely to be non-trivial. I doubt node core would be interested in maintaining/floating a patch like that though.

[2016-10-04 18:02] ilkeraktuna commented on #8926
I am not a coder. I was assuming it would be an easy patch and someone would help me on that.
Other than that, I have no solution..

Btw, I am not interested in maintaining that patch. I would only use it with a static build for a specific use.

[2016-10-04 18:07] sxa555 commented on #8926
I have a Geode in a Viglen MPC-L and since 0.10 is going out of support in the next few weeks I've got the same issue (although I'm not running any SSL stuff so at least I won't be exposed from an OpenSSL perspective!) I should probably just switch the system running it to a raspberry pi really, but if you're looking for a way forward V8 does have an 'x87' architecture target which might work (I t

[2016-10-04 18:12] ajklein commented on #8866
@bmeck When I talk about "API requirements", I mean something higher-level than actual C++ code, say, "ability to create a Module Record from outside the API and pass it into V8 to be linked".

But it does seem like we may still be at too early a stage for that: your point 2, for example, sounds like big extension to what we discussed at the meeting.

[2016-10-04 18:14] ilkeraktuna commented on #8926
@sxa555
Thanks. But I didn't really understand. What do you mean by "edit the valid_arch values in configure to include 'x87'" ?

Also, I don't have anyother choice but build it on Geode if I'm gonna build. Because currently I don't have any other build environments. I'm "ok" with waiting for hours though (if it will solve my problem)

Is there any possibility that you could build it for me ?
Beca

[2016-10-04 18:29] bnoordhuis commented on #8926
Sorry, you are on your own.  V8 has a x87 back-end but it's not supported by node.  You could try hacking the configure script to enable it but I can't guarantee it actually builds and runs.  Good luck.

[2016-10-04 18:29] #8926 closed

[2016-10-04 18:32] sxa555 commented on #8926
In the top level configure script there's a definition for valid_arch which you need to change to include x87 e.g.

valid_arch = ('arm', 'arm64', 'ia32', 'mips', 'mipsel', 'ppc', 'ppc64', 'x32',
              'x64', 'x86', 'x87', 's390', 's390x')

However, node 4 and above need gcc 4.8 (and the C++ runtimes from 4.8 to use it). As I mentioned I did try using the option for x87 with Node 6 but it d

[2016-10-04 19:44] bmeck commented on #8866
@ajklein if the values go out of sync for "plucked" variables, it would make more sense just to not support named imports from CJS IMO (though others differ on this); Not having live delegation/named imports changes many parts of this discussion.

[2016-10-04 20:43] zdroid opened #8929 "Replace .eslintrc with something else?"
Citing [ESlint docs](http://eslint.org/docs/user-guide/configuring#configuration-file-formats):

Basically, they are suggesting users to use any other format instead. Is it a good idea to follow their advice in this repository or there are problems?

[2016-10-04 20:57] Trott commented on #8929
There's a PR open for this: https://github.com/nodejs/node/pull/7699

There seems to be some desire on the part of some Collaborators to stick with `.eslintrc` unless/until something breaks, though. See https://github.com/nodejs/node/issues/6131 for details.

Closing, but feel free to re-open or comment if you feel like the issue has not been adequately addressed.

[2016-10-04 20:57] #8929 closed

[2016-10-04 21:00] zdroid commented on #8929
Thanks for pointing my lazy ass to the PR. :+1:

[2016-10-04 22:26] ChALkeR commented on #8443
@bnoordhuis Perhaps this could be fixed on the documentation side?

[2016-10-04 22:54] joaocgreis commented on #7989
I don't think we can enforce a PlatformToolset, at least with the motivation we've seen so far. I don't know where a "VS2013 compatibility package" can be found, the only way I know to add v120 support to VS2015 was to install the full 8GB of VS2013 alongside (that is no longer available for easy download in the VS site). For now, we should still add the PlatformToolset information to be used by n

[2016-10-04 22:57] Trott opened #8930 "investigate flaky sequential/test-net-GH-5504 on SmartOS"
https://ci.nodejs.org/job/node-test-commit-smartos/4589/nodes=smartos16-64/console:

[code]

/cc @geek @misterdjules

Maybe /cc @bnoordhuis too as they provided the fix for the last bout of flakiness with this test (although that was on Windows)

[2016-10-05 08:39] bottleofwater opened #8934 "readline: emitKeypressEvents does not properly recognize Alt+Arrow"
- **Version**: v6.7.0
- **Platform**: Linux
- **Subsystem**: Ubuntu

When pressing the Alt+Arrow combo keys on a terminal, the keypress event emitted is the same as if only Arrow was pressed (the `name` property is correct, but the `alt` one is `false` instead of `true`).

The key sequence used for Alt+Arrow is the same as the Arrow one, except that it is prefixed by an additional escape string (`

[2016-10-05 08:51] rvagg commented on #8865
One real problem here is that if `v8BreakIterator` gets removed in a near-future version of V8 then it will increase the difficulty in upgrading V8 mid-major, we'll either have to polyfill/backfill in a patched version of V8 when we upgrade to avoid breakage or break for users who may be using it (do we really think folks will be using it?).

The problem here is the speculative nature of the probl

[2016-10-05 09:42] mathewmeconry opened #8935 "No reference error on nonexistent object value"
* **Version**: v6.6.0
* **Platform**: Linux adb096b7bf31 4.7.4-200.fc24.x86_64 #1 SMP Thu Sep 15 18:42:09 UTC 2016 x86_64 GNU/Linux
* **Subsystem**:

I use in my project typescript which should beware me of such error but I was able to reproduce it in javascript.
If I create a object and try to access a value which doesn't exist node returns undefined and exits the process without any error. I was

[2016-10-05 09:52] avysotsk opened #8936 "Solaris SPARC support"
* **Version**: v4.6.0
* **Platform**: SunOS testsystem 5.11 11.3 sun4v sparc sun4v
* **Subsystem**:

The issue obviously not a bug, but rather request for new functionality.  So, is it possible to add support for SPARC Solaris platform? It exists for x86 Solaris, but not for SPARC.

[2016-10-05 09:53] bnoordhuis commented on #8935
Closing as not a bug, that's simply how JS works.

[2016-10-05 09:53] #8935 closed

[2016-10-05 09:56] bnoordhuis commented on #8936
Sorry, no can do.  V8 doesn't have a SPARC back-end; adding one would be a massive undertaking.

[2016-10-05 09:56] #8936 closed

[2016-10-05 10:47] avysotsk opened #8937 "V8DBG_OFF_FP_CONTEXT: Unknown variable name"
* **Version**:  v4.6.0
* **Platform**: SunOS testsystem 5.11 11.3 i86pc i386 i86pc
* **Subsystem**:

[code]

[2016-10-05 10:58] bnoordhuis commented on #8937
Sounds a lot like #1967 and #7840.  I don't think we ever truly resolved those issues but the reporter from the second issue reported that upgrading to v6.x fixed the issue for them; upgrading your toolchain, binutils in particular, may help too.  If all else fails, build with `./configure --without-dtrace && make`.

FWIW, the symbol is generated by deps/v8/tools/gen-postmortem-metadata.py; grep f

[2016-10-05 11:47] RoobinGood commented on #8775
@pps83, looks like your issue may be related to #8102.
On client side you can check `res.complete` to make sure that request successfully ended.
With Node v4.4.1 in client `end` handler I have `res.complete === false` in your example that means that request ended without success.
But anyway it cannot explain different behavior on windows and linux.

[2016-10-05 11:59] avysotsk commented on #8937
Updating binutils from 2.23.1 to 2.26 resolved the issue.  I think the issue can be closed.

[2016-10-05 11:59] #8937 closed

[2016-10-05 12:50] mhdawson commented on #3263
s390/linuxOne/Linux on Z now compiles and is build is part of 6.X and later nightlies and releases, closing.

[2016-10-05 12:50] #3263 closed

[2016-10-05 13:26] xgqfrms-GitHub opened #8939 "npm install error!"
Version:  node 4.47 x64
Platform:  64-bit (Windows)
![ver](https://cloud.githubusercontent.com/assets/18028768/19114807/124de2d0-8b42-11e6-97a7-d0c7a386dc80.PNG)

* **Version**:
* **Platform**:
* **Subsystem**:

![livereload-install-error](https://cloud.githubusercontent.com/assets/18028768/19114832/2f212bb0-8b42-11e6-9287-51719743e505.PNG)
![livereload-node-gyp-error](https://cloud.githubusercont

[2016-10-05 13:53] bnoordhuis commented on #8939
Can you file an issue with the node-gyp project?  Do include full build output and please stop spamming random issues.

[2016-10-05 13:53] #8939 closed

[2016-10-05 14:25] #8750 closed

[2016-10-05 14:48] hdave commented on #7858
Every time I am told "Ignore this warning" a get a bad feeling in my stomach.  Fact is, architecture dependent dependencies should either be ignored or throw an ERROR on unsupported architectures.  Java/Maven has had this for 9 years....npm should have it too.

[2016-10-05 15:17] xaxxon commented on #2546
What is the current status on the effort to integrate in with vanilla v8?   I'm currently building this functionality and have it minimally functional but would rather not, but I don't know how to find out about the progress being made.

Thank you.

[2016-10-05 15:21] bmeck commented on #2546
@xaxxon use `node --inspect` on v6+, should work fairly well

[2016-10-05 15:23] xaxxon commented on #2546
I'm not using node, though.

On Wed, Oct 5, 2016 at 8:23 AM, Bradley Meck <notifications@github.com>
wrote:

[2016-10-05 15:24] cjihrig commented on #2546
You might want to check the V8 issue tracker then.

[2016-10-05 15:56] ncopa commented on #428
I am working on switching alpine over to libressl and got bitten by this. I am not happy with building node with the bundled openssl. What happens if 3rd party modules are built with system libressl and node is built with bundled openssl?

[2016-10-05 16:23] eugeneo commented on #2546
The code is in the V8 now, e.g. -
https://github.com/v8/v8/tree/ba41697cbd72ea7dcdd89e6dbe9090ecb156ce6c/src/inspector

On Wed, Oct 5, 2016 at 8:24 AM Colin Ihrig <notifications@github.com> wrote:

[2016-10-05 16:24] jbergstroem commented on #428
@ncopa I don't think theres a statement about supporting 3rd party modules building against libressl either.

Someone stepping up and working on an abstraction layer would probably be the fastest way forward.

[2016-10-05 16:25] xaxxon commented on #2546
thank you.

On Wed, Oct 5, 2016 at 9:24 AM, Eugene Ostroukhov <notifications@github.com>
wrote:

[2016-10-05 16:32] ncopa commented on #428
@jbergstroem i suspect that if you mix system libraries which uses libressl - or even openssl-1.1.x, while the nodejs itself is build with bundled openssl-1.0.x, then you will end up with major breakage.

[2016-10-05 16:51] geek commented on #8930
@Trott I will take a look, this appeared in a test run for me as well: https://ci.nodejs.org/job/node-test-commit-smartos/nodes=smartos16-64/4612/console

[2016-10-05 17:35] joshgav commented on #8866
/cc @digitalinfinity @boingoing @kunalspathak re Chakra

[2016-10-05 18:28] fhinkel opened #8942 "Examples in debugger documentation should all use global node"
The examples in the documentation for the debugger `doc/api/debugger.md` should all use `node`  instead of `./node`.

[2016-10-05 19:11] #1592 closed

[2016-10-05 19:14] Fishrock123 commented on #1592
I think https://github.com/nodejs/node/commit/7b5ffa46fe4d2868c1662694da06eb55ec744bde should fix / address this.

It undeprecates `existsSync()` and keeps the inconsistent-callback `exists()` deprecated.

[2016-10-05 20:43] rvagg commented on #8865
Some discussion at CTC meeting, lots of uncertainty still, @littledan is on vacation for a few weeks apparently. This should come back on the agenda.

[2016-10-05 20:48] rvagg commented on #8865
@s3ththompson: "won't be deprecating it until Intl.Segmenter makes it in, but would be happy for Node to remove it to be forward-looking, particularly since it only impacts a subset of users."

[2016-10-05 20:54] mhdawson commented on #8725
Also test-tick-processor-builtin failure on PPC BE similar to one mentioned for raspberry pi: https://ci.nodejs.org/job/node-test-commit-plinux/nodes=ppcle-ubuntu1404/4608/console

[2016-10-05 20:59] Fishrock123 commented on #8915
Viewers today (max 10)
![node_livestream_viewers-2016-10-05](https://cloud.githubusercontent.com/assets/1093990/19131348/10ad3dce-8b1d-11e6-817c-ed7dbfe867a9.png)

[2016-10-05 21:03] Fishrock123 commented on #8051
@addaleax you tagged this for v7, mind to check it again? :D

[2016-10-05 21:03] jasnell commented on #8865
At the very least, adding the deprecation warning is the right thing to do
now just in case

On Wednesday, October 5, 2016, Rod Vagg <notifications@github.com> wrote:

[2016-10-05 22:25] addaleax commented on #8051
Mhm, I wasn’t too successful getting the `mongodb@1.4.x` test suite up and running. So, unless @adrian-nitu-92 or @gareth-ellis can give any further clues here, there might be nothing we can do.

[2016-10-05 22:46] asuchac opened #8944 "Cannot communicate to web app powered by Node 4.6 from Windows Server 2003 using HTTPS"
* **Version**: 4.6.0
* **Platform**: Linux 3.13.0-85-generic #129-Ubuntu SMP Thu Mar 17 20:50:15 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

I have web client running on Windows Server 2003 communicating with web app powered by NodeJS - this app runs on Ubuntu 14.04.5 LTS server.

The protocol is HTTPS. The Windows web client uses Microsoft's SSL components.

When I updated the Node from ver 4.4.0 to

[2016-10-06 02:18] minervapanda commented on #8934
I want to fix this as my first contribution work for Outreachy Round-13. How can I proceed to fix this

[2016-10-06 04:12] #8918 closed

[2016-10-06 04:40] targos commented on #8944
cc @nodejs/crypto

[2016-10-06 05:44] hishobhit82 opened #8947 "How to read memory stream of a pdf and open it"
Node Version: 5.7.1
Platform:  64-bit (Windows)

Hi, I am a newbie in working with node. I have built an app in electron (which uses node internally) which communicates with a .net restful service to fetch data from db and display it on the screen. One of the data has a pdf path on the server which i read onto the server and convert it into the memory stream and send it to the client app.

The iss

[2016-10-06 05:52] mscdex commented on #8944
Did you try other versions in between (4.4.0<n<4.5.0)? There was [this](https://github.com/nodejs/LTS/issues/85) for example that happened in 4.4.1 that may affect things for you. It does sound like there was some change that increased security and the SSL implementation in Server 2003/XP is not updated to support those stricter, higher security configurations.

[2016-10-06 05:54] mscdex commented on #8947
These kinds of questions are better suited for the [node.js help repo](https://github.com/nodejs/help/issues). This issue tracker is for reporting bugs in node itself, requesting new features, etc.

[2016-10-06 05:59] mscdex opened #8949 "Investigate flaky tests on FreeBSD"
* **Version**: master
* **Platform**: freebsd
* **Subsystem**: child_process, http, timers

I saw these three unrelated tests fail recently on CI: https://ci.nodejs.org/job/node-test-commit-freebsd/4650/nodes=freebsd10-64/console

* **parallel/test-child-process-fork-dgram**

[code]

* **parallel/test-http-server-consumed-timeout**

[code]

* **parallel/test-timers-same-timeout-wrong-list-deleted*

[2016-10-06 06:01] hishobhit82 commented on #8947
Apologies for posting in the wrong section. Let me move the query there. Thanks !

[2016-10-06 06:04] mscdex opened #8950 "Investigate flaky parallel/test-child-process-fork-regr-gh-2847"
* **Version**: master
* **Platform**: aix
* **Subsystem**: child_process

This test failure recently occurred on AIX: https://ci.nodejs.org/job/node-test-commit-aix/1317/nodes=aix61-ppc64/console

Output:

[code]

/cc @mhdawson ?

[2016-10-06 06:05] asuchac commented on #8944
No, I haven't try other versions - just 4.4.0 (OK) and 4.6.0 (no good). I agree that it seems that SSL components on Windows Server 2003 doesn't seem to support stricter security.

I don't know what exact key of OpenSSL (or something else) on Node is causing it. I don't have enough knowledge, time and motivation (I have workaround) to find out.

It would be great if there was a way to nudge Micros

[2016-10-06 06:05] stas-neverov commented on #8843
For v4.5.0 debugger shows access violation (c0000005) @
`node!sha1_block_data_order_shaext(void)+0x2a3 [c:\ws\deps\openssl\asm\x64-win32-masm\sha\sha1-x86_64.asm @ 1435]`

The issue was fixed in openssl v1.0.2i:
https://rt.openssl.org/Ticket/Display.html?id=4530
https://github.com/openssl/openssl/commit/7123aa81e9fb19afb11fdf3850662c5f7ff1f19c

The issue was CPU specific.

[2016-10-06 06:05] #8843 closed

[2016-10-06 06:05] #8947 closed

[2016-10-06 06:11] mscdex commented on #8944
I doubt they will do anything about it, *extended* support for Server 2003 already ended on 7/14/2015.

[2016-10-06 06:12] asuchac commented on #8944
This is an issue where there is hard to do anything. Node must go the way of stricter security, there is no problem with newer version of Windows and Microsoft probably wouldn't do anything about Windows Server 2003 (probably this affects XP as well - didn't test).

Except I can imagine that there are businesses who still run Windows Server 2003 and users who run XP. Well, at least now they would

[2016-10-06 06:23] shigeki commented on #8944
DES3 ciphers were dropped by default due to SWEET32 attack in the last openssl upgrade so that only AES is available for symmetric ciphers in the current Node.
You need to add DES3 cipher suites explicitly in the options or apply a HotFix to Win Server 2003  to support AES as indicated in https://support.microsoft.com/en-us/kb/948963.

[2016-10-06 06:30] gireeshpunathil commented on #8847
Did not fail on a 10000 batch iterations I tried. Running further.
I see the python connection now, all the tests in messages are run by a python driver. Now trying to see what the driver does to input / output data to the JS tests to make observations related to fake tty or anything new.

[2016-10-06 06:51] fhinkel opened #8951 "Typo in comment in readline.js"
`concievably` is misspelled in `lib/readline.js`.

[2016-10-06 07:44] gibfahn commented on #8950
cc/ me, @gireeshpunathil

[2016-10-06 07:51] santigimeno commented on #8950
Can reproduce it on `FreeBSD` too

[2016-10-06 08:03] gareth-ellis commented on #8051
I also haven't been successful in narrowing down what in MongoDB 1.4.x stops working but works in 2.0.x.

[2016-10-06 08:06] mkontsek opened #8952 "Sent string through net.Socket gets changed"
* **v6.3.1**:
* **Windows 10 64-bit**:
* **net**:

Hello,

It seems that sending a string, created from a number array, gets through net.Socket into a buffer with an additional number.

[code]

Output:
test data before transform 70,63,53,52,51,50,49,48,135
test data after transform F,?,5,4,3,2,1,0,
Received data: {"type":"Buffer","data":[70,63,53,52,51,50,49,48,194,135]}

[2016-10-06 08:42] Gottox commented on #428
This is the third time I state this: An abstraction API doesn't make any sense in this case:

libressl, boringssl, openssl-0.x, and openssl-1.x (including 1.1.x) are basicly 99% the same API. If you choose to support any of them except openssl-1.x compiling it with any other is a no-brainer.

[2016-10-06 08:55] gireeshpunathil commented on #8950
This has a long history, and to put it short: the second send() call is vulnerable due to race condition in the send() function with the server close. Depending on the timing, we will see failure in establishing a connection (line 32), or failure in sending data (line33).

The former seem to have been taken care(line 57), while the failure at send is not.

@santigimeno , what are your thoughts?

[2016-10-06 09:06] santigimeno commented on #8950
@gireeshpunathil I've seen a couple of different errors:

- It can happen that the error is not `ECONNREFUSED` but `channel closed`. That's the error I think you're describing, and it should be allowed.
- If the second socket connects before the first socket, as it has not defined callback, it will emit and error instead of using the callback, thus causing a failure. This I have tried to fix in ht

[2016-10-06 09:06] devmetal opened #8955 "Streams memory leak"
* **Version**: 4.6.0
* **Platform**: Linux adam-System-Product-Name 4.4.0-38-generic #57~14.04.1-Ubuntu SMP Tue Sep 6 17:20:43 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: stream

Hi, i have a problems with stream. I try "streamify" some database selects. I created a pager. The pager job is simple, get some records then push in object mode to a stream. I will show the relevant parts of

[2016-10-06 09:11] gireeshpunathil commented on #8950
OK, I missed to see your PR. Yes - your point 1 is what I think has happened in this case. If you are accommodating in the PR great, thanks!

[2016-10-06 09:52] mscdex commented on #8952
The reason for this has to do with the utf-8 encoding. You can verify this with:

[code]

Here is a more detailed explanation (see the byte encoding table [here](https://en.wikipedia.org/wiki/UTF-8#Description) first):

Byte value 135 looks like this in base 2: 10000111

Since the character represented by the byte value 135 exceeds that of the largest single byte character in utf-8 (127 -- the las

[2016-10-06 09:55] natorion commented on #8915
Chiming in: 5.5 is planned to be promoted to Chrome's Stable channel beginning/mid December. At that point it didn't have any Stable coverage yet.

Given that Async/await is a complete new feature (and an "intrusive" one) that sounds like a high risk to me. If people want to play around with it they can already activate it via a flag in 5.4 but obviously it is not finished there.

@ofrobots FYI

[2016-10-06 10:19] janorn commented on #3179
I am missing this patch in the repo.

[code]

[2016-10-06 10:19] janorn commented on #3179
Without it it won't build on Solaris 11 with gcc.

[2016-10-06 10:53] #8952 closed

[2016-10-06 11:00] asuchac commented on #8944
The solution suggested by **shigeki** fixed the problem - thank you for excellent advice.

[2016-10-06 11:00] #8944 closed

[2016-10-06 11:10] bnoordhuis commented on #8955
Do you have a test case that doesn't depend on third-party modules or external resources like a database?  In other words, a standalone test case that only uses built-in modules?

[2016-10-06 11:25] ss22ever commented on #8825
made a PR waiting for it to get merged

[2016-10-06 12:15] DomVinyard commented on #583
Any progress on this?

[2016-10-06 12:35] devmetal commented on #8955
@bnoordhuis

Hi, i created an example with only nodejs modules. Same output.

First i created a quick script (from documentaion) to generate json records to a file, for simulate some input.

[code]

Secound i wrote the script:

[code]

The result is same. With 200000 records not so dramatic, but with 500000 or 1000000 is so huge memory usage. The output with 200000 record:

[code]

With 1000000 re

[2016-10-06 13:26] fhinkel commented on #8915
/cc @nodejs/v8

[2016-10-06 13:46] devmetal commented on #8955
@bnoordhuis

Sorry, i made a huge mistake. Actually right now i replaced the readline with my custom line be line transform stream:

[code]

I think its not the best way to do this but its really fast. With 1000000 record its done by seconds. So sorry for this, but i think we have also a little leak. Here is the output with 1000000 record without readline:

[code]

What do you think? 2MB is import

[2016-10-06 14:07] gibfahn commented on #8814
Do we not run the test suite against release builds to check that they're okay? It seems like it'd be useful to at least run a sanity test against them. I appreciate this may be quite a serious undertaking...

[2016-10-06 14:09] Fishrock123 commented on #8934
@hackygolucky What does `my first contribution work for Outreachy Round-13` mean for us here?

---

Regardless, @minervapanda I'm pretty sure the code you are looking for is our [key character sequence parser in internal/readline.js](https://github.com/nodejs/node/blob/master/lib/internal/readline.js#L104-L396).

It doesn't actually look we have `alt` property right now :thinking: ...

Web `Keyboa

[2016-10-06 14:32] Fishrock123 commented on #8913
We can't name arrow functions though. Since those are done for perf reasons you'd still need to live with them... :/

[2016-10-06 14:53] TheAlphaNerd commented on #8934
@Fishrock123 individuals hoping to apply for Outreachy are expected to make a contribution to the project as part of the application process.

[2016-10-06 14:54] princejwesley commented on #8934
@Fishrock123 I don't think its an issue. In some terminals, Alt/option is configured to emit `ESC` (`\x1b`), another `ESC` is part of escape sequence for Arrow key

[2016-10-06 15:00] fhinkel commented on #8934
I think `Alt` + `Arrow` is not a standard Readline command (I use the default `Alt` + `b`/`f` instead). So I guess we should not implement it. Or did I misunderstand the issue?

@minervapanda This might not be the best place for a first contribution, since we're not even sure it should be fixed :) Sorry for the confusion.

[2016-10-06 15:01] Fishrock123 commented on #8934
(may bad)

[2016-10-06 15:05] fhinkel commented on #8934
No problem!

[2016-10-06 15:34] bnoordhuis commented on #8955
That doesn't strike me as very significant; it could very well be a garbage collector or memory fragmentation artifact.  The litmus test for memory leaks normally is whether the process eventually dies with an out-of-memory error.

[2016-10-06 15:35] fhinkel commented on #8921
Assigned to myself as placeholder for @minervapanda

[2016-10-06 15:52] fl0w commented on #8913
@Fishrock123 out of curiosity (pardon if this venue isn't suited for inquiry); pre-assigning the arrow function before usage does retain the naming while `--inspect`:ing - is what you're referring to no to do due to performance hits?

[2016-10-06 16:14] devmetal commented on #8955
Okay, i think we can close this. Without thrid party libraries its working well. So i have to find the leak in original code. Maybe i can throw out the csv writer. Do you think the PassThrough stream cause issues like this? Or the generators? Maybe its all on them :)

Have you any suggestion about find memory leaks?

[2016-10-06 16:14] #8955 closed

[2016-10-06 16:29] Fishrock123 commented on #8913
@fl0w you mean assigning to a variable means you get the variable name? You can't assign names to arrow functions like to regular functions though.

[2016-10-06 16:31] #8951 closed

[2016-10-06 16:33] addaleax commented on #8913
[code]

works since V8 5.1, so that should be possible.

[2016-10-06 16:42] fl0w commented on #8913
@Fishrock123 @addaleax answered before me - I was wondering if that was an overhead you were referring to in your original comment.

[2016-10-06 16:44] davidrapin commented on #4266
This issue is a duplicate of https://github.com/nodejs/node/issues/3175

[2016-10-06 17:01] skilledDeveloper commented on #4266
@davidrapin It's not duplicate.
This is about an unhanded exception which breaks the process.

[2016-10-06 17:07] davidrapin commented on #4266
Ok got it, just found out what the `v0.12` meant ;)

[2016-10-06 17:15] bnoordhuis commented on #8955
You could try https://www.npmjs.com/package/heapdump or the V8 inspector in v6.3.0+.

[2016-10-06 17:19] bottleofwater commented on #8934
@fhinkel It's what PuTTY returns, and I haven't been able to change that (there's a few configuration options that should probably change this, but whatever I tried, I still ended up with `\x1b\x1b[C` or `\x1b\x1bOC`). That being said, I kinda agree that keyboard sequences are a mess and that it would be hard to support all of them ... :(

[2016-10-06 18:39] Trott commented on #583
@DomVinyard It would appear no. If you want to see this happen, it requires https://github.com/libuv/libuv/pull/416 so maybe head over there to see if there's a way you can help. /cc @whitlockjc

[2016-10-06 18:51] devmetal commented on #8955
Thank you for help :)

[2016-10-06 19:04] boingoing commented on #8866
@joshgav Chakra has a compliant implementation of ECMAScript modules now (barring any bugs). We don't have support for the Loader or BrowserLoader objects though we made some progress on the whatwg spec (https://github.com/Microsoft/ChakraCore/pull/1472) which has not been pulled-in to the ChakraCore repo, yet. Looks like we will need to refactor this after the dust settles on a converged design.

[2016-10-06 19:36] Raynos commented on #8913
@Fishrock123

Do you have a link to a demonstration that arrows are more performant. I suspect named function declarations would be more performant then arrow functions.

[2016-10-06 21:35] #8425 closed

[2016-10-06 21:35] #8802 closed

[2016-10-06 21:35] #8915 closed

[2016-10-06 21:46] #8942 closed

[2016-10-06 22:34] TheAlphaNerd commented on #8638
this was fixed by https://github.com/nodejs/node/commit/99ab686cd3684b965e40e85f96d089f8ef437fa1

closing

[2016-10-06 22:34] #8638 closed

[2016-10-06 23:02] AnnaMag commented on #8912
@shmuga are you working on this?

[2016-10-07 03:56] rahul-dutt-sharma opened #8963 "after compilation of node source I can open the file as a zip. Is there a way to prevent that ?"
* **Version**:
* **Platform**:
* **Subsystem**:

[2016-10-07 04:06] mscdex commented on #8963
Can you explain a bit more about what you mean?

[2016-10-07 05:07] rahul-dutt-sharma commented on #8963
go to C:\Program Files\nodejs
right click node.exe -> open archive in 7zip.

we see this.

![image](https://cloud.githubusercontent.com/assets/20573460/19179354/f6ea2088-8c79-11e6-8c13-524b8e1095ab.png)

[2016-10-07 05:55] mscdex commented on #8963
The executable is not a zip archive, 7-zip is just showing the *parts* of the executable, such as the binary code, strings, images, etc. that are built-in to the executable. Extracting them wouldn't be very useful though.

[2016-10-07 06:00] rahul-dutt-sharma commented on #8963
Okies.. I understand now.
I am using a project to compile the node source and it packages a nodescript as text into it.
The ability to open up the exe as present text data inside is leading to exposure of this code.
Is there no chance for us to change the node source compilation to make a natural exe or would this be the same behaviour for other visual studio compiled exes as well ?

Again Thanks

[2016-10-07 06:21] mscdex commented on #8963
These kinds of questions are better suited for the [node.js help repo](https://github.com/nodejs/help/issues), but there are many solutions for this (that work in different ways) if you really need to go down that path. A quick google search reveals examples like [EncloseJS](https://github.com/igorklopov/enclose) (commercial with evaluation available) and [nexe](https://github.com/jaredallard/nexe

[2016-10-07 06:21] #8963 closed

[2016-10-07 06:48] Nedgeva commented on #5588
Same here
NodeJS v6.7.0 x64 Win7
Node exits automatically if IP changed to local.

[2016-10-07 07:47] imyller commented on #8827
I have not verified, but there is a possibility that this is related to https://github.com/nodejs/node/pull/8647 - which is not in 6.7.0

[2016-10-07 07:48] minervapanda commented on #8921
According to my knowledge , the issue to pointing to the url.md to the following lines : url.resolve('/one/two/three', 'four')         // '/one/two/four'
url.resolve('http://example.com/', '/one')    // 'http://example.com/one'
url.resolve('http://example.com/one', '/two') // 'http://example.com/two'

It looks good to me. Please correct me if I am wrong.

[2016-10-07 07:49] imyller commented on #8925
Ref: https://github.com/nodejs/node/pull/8938

[2016-10-07 07:50] Tanuja-Sawant commented on #8927
I'm Tanuja Sawant and would like to work on this bug as part of one of my initial contributions to Node.js for the Outreachy Internship. Would you kindly assign this issue to me or should I go ahead and make a pull request?
Thanks so much!

[2016-10-07 07:52] imyller commented on #8825
PR #8940 merged without Fixed: meta. Closing manually.

[2016-10-07 07:52] #8825 closed

[2016-10-07 08:09] bnoordhuis commented on #5588
This has been fixed by https://github.com/nodejs/node/pull/8710 and is scheduled for back-porting to the release branches.

You still won't end up with a workable binary if the system resolver is borked but at least you get an exception that you can catch and marvel at.  That is, this now works:
[code]

[2016-10-07 08:09] #5588 closed

[2016-10-07 08:19] bnoordhuis opened #8966 "dns: don't skip getaddrino/getnameinfo when c-ares init fails"
#8710 makes `process.binding('cares_wrap')` throw a JS exception instead of aborting when `ares_library_init()` or `ares_init_options()` fail.

Maybe we can do better.  We can still bring up the bindings for getaddrinfo and getnameinfo because those don't depend on c-ares (although if c-ares fails, there is a goodly chance the others won't work either.)

Policy question: do we think it's better to

[2016-10-07 08:24] DomVinyard commented on #583
@Trott Appreciate the fwd. For anybody else awaiting on this to solve the same subset of problems as me - a combination of [native readdir](https://www.npmjs.com/package/native-readdir) and [stream iterator](https://www.npmjs.com/package/stream-iterator) get's you some of the way.

[2016-10-07 08:45] Dmytro-Komaryst opened #8967 "TypeError: Expected a finite number at module.exports (C:\Program Files\nodejs\node_modules\npm\node_modules\pretty-ms\index.js:8:9)"
Reproduced this "Bug" on the platform:
OS: Windows 7 and Windows 8.1
Windows app: Postman v4.6.1 and Postman v4.6.2
Newman v2 and v3
NodeJS v.4.5.1 and v.6.4.0

Received error for POST request (must be response "204 No Content") but I received next error:
TypeError: Expected a finite number
   at module.exports (C:\Program Files\nodejs\node_modules\npm\node_modules\pretty-ms\index.js:8:9)
   at C:

[2016-10-07 08:57] Tanuja-Sawant commented on #8927
Hi again!
Please correct me if I'm wrong, the comment
    // Leave stdin open for the IPC channel. stdout and stderr should be the
    // same as the parent's if silent isn't set.
can be replaced by
    // Use a separate fd=4 for IPC channel. Inherit stdin, stdout and stderr
    // from the parent if silent isn't set.

[2016-10-07 09:00] Rolinh commented on #8921
@minervapanda Yes, the issue is pointing to these lines and the examples are correct. However, the documentation does not tell that:
- Some protocols are treated as special cases (http, https, file, ftp and, yes, gopher).
- The way in which these protocol are treated differently.
- The behavior of `url.resolve()` differs whether the URL ends with a `/` or not.

[2016-10-07 09:02] minervapanda commented on #8921
Thank you for the clarification @Rolinh . I was confused ,the example seemed correct.I will make a PR to update the documentation.Thanks.

[2016-10-07 09:33] bnoordhuis commented on #8967
That exception doesn't come from a built-in module.  Please take it up with the authors of postman or pretty-ms.

[2016-10-07 09:33] #8967 closed

[2016-10-07 09:34] bnoordhuis commented on #8927
@Tanuja-Sawant Can you open a pull request?  Collaborators will review it and suggest changes if necessary.

[2016-10-07 10:18] bnoordhuis commented on #8913
V8 doesn't have to worry about super and new.target when emitting code for arrow functions.

It's a minor thing and probably not much of an issue once the function makes it to the optimizing tier but it means that core should lean towards arrow functions, all other things being equal.

[2016-10-07 12:10] Bonuspunkt opened #8971 "Buffer.toString docs != actual"
* **Version**: v6.7.0
* **Platform**: Win10 x64 v1511

according to the docs
[code]
the actual output is
[code]

[2016-10-07 12:16] addaleax commented on #8971
The start and end indices of `.toString()` refer to byte offsets in the `Buffer`, and are not character counts.

So, when looking at `buf2`, which contains the bytes `74 c3 a9 73 74`, what gets decoded are the first `3` bytes, namely `74 c3 a9`, and those correspond to `té`.

So, yeah, this is expected behaviour, and the docs are not wrong here either, but they could be a little clearer.

[2016-10-07 12:22] joaocgreis commented on #7989
@nodejs/ctc any objection to moving forward with this on Sunday, so that the release next week is already done with VS2015? It would be good to have one before LTS, and if I'm reading it right this will be the last one.

[2016-10-07 12:25] addaleax commented on #8971
Oh, right, sorry, the docs are wrong here. They don’t even use the right `buf2` variable in the example.

(That doesn’t change that returning `té` is the expected behaviour, though.)

[2016-10-07 12:30] fhinkel commented on #8508
Closing, but feel free to re-open or comment if you feel like the issue has not been adequately addressed.

[2016-10-07 12:30] #8508 closed

[2016-10-07 12:37] fhinkel commented on #8269
Closing, but feel free to re-open or comment if you feel like the issue has not been adequately addressed.

[2016-10-07 12:56] fhinkel commented on #8119
Closing, but feel free to re-open or comment if you feel like the issue has not been adequately addressed.

[2016-10-07 12:56] #8119 closed

[2016-10-07 13:23] ericwlange commented on #7752
I am also seeing this issue.  Works great on arm/arm64, fails same error on x86/x86_64.

[2016-10-07 13:29] DiThi commented on #7752
The issue made me waste a full day but it was actually a simple thing. V8 expects "ia32", not "x86". In `configure-android` change `v8_target_arch=$ARCH` by `v8_target_arch=$DEST_CPU`.

[2016-10-07 13:36] ericwlange commented on #7752
No ... it can't be that simple ... :)  I will try that now.  How about x64?

[2016-10-07 13:37] Tanuja-Sawant commented on #8927
pulled request in [#8968](https://github.com/nodejs/node/pull/8968)

[2016-10-07 13:43] Tanuja-Sawant commented on #6911
May I work on this if there's more work to be done?

[2016-10-07 13:47] Fishrock123 commented on #8913
@Raynos anywhere where `bind`/`this` passing was/is necessary.

Other than that, they are only marginally different like @bnoordhuis said. The best rule of thumb is use them where you need the lexical `this` and regular functions elsewhere.

[2016-10-07 14:03] Tanuja-Sawant commented on #8646
Can I be of any use here? I am new to Open-Source and I had difficulty understanding the streams docs too.

[2016-10-07 14:09] Tanuja-Sawant commented on #8057
I can take this up if someone can help me get started. Would you kindly?

[2016-10-07 14:29] rafis opened #8972 "Is it possible to notify developer if server.maxConnections reached?"
* **Version**: all
* **Platform**: all
* **Subsystem**: net

If `maxConnections` reached, the system simply drops new connection:
https://github.com/nodejs/node/blob/c9b59e8387b08dab20936f32d2b290804718f688/lib/net.js#L1432-L1435
and developer have hard time trying to debug "Error: read ECONNRESET" error message. All cases presented [here](http://stackoverflow.com/questions/17245881/node-js-econnr

[2016-10-07 14:30] kangjoni76 opened #8973 "nodejs Linux clang libc++ no joy?"
I was trying to build nodejs 4.6 on Debian squeeze using clang 381
x64. From reading at glance in common.gypi file needs some little hack to adjust ccflags ,ldflags and Icu-generic.gypi also need -frtti ccflags. Unfortunately, configure script need also to be adjusted as well. My temporarily workaround was to tell configure script to generate cmake project file instead of raw makefile. I've tried

[2016-10-07 14:36] bnoordhuis commented on #8973
Can you do a clean build and post the verbatim output?  If you get RTTI errors, try applying https://github.com/nodejs/node/pull/8886.

[2016-10-07 14:37] #5195 closed

[2016-10-07 14:39] bnoordhuis commented on #4758
This looks to have been solved for some time now so I'll go ahead and close the issue.  Holler if it should be reopened.

[2016-10-07 14:39] #4758 closed

[2016-10-07 14:42] bnoordhuis commented on #6036
I think the conclusion here was that it's not an issue with node.js itself but an add-on.  I'll go ahead and close it out.

[2016-10-07 14:42] #6036 closed

[2016-10-07 14:42] bnoordhuis commented on #7423
No follow-up, closing.

[2016-10-07 14:42] #7423 closed

[2016-10-07 14:46] bnoordhuis commented on #7853
@nodejs/v8-inspector Ping.  If you think this isn't for the v8-inspector to address, I suggest we close out the issue.

[2016-10-07 14:47] saper commented on #7989
i need some time to respond to this re possible bugs; basically we should have an agreement what a "supported configuration" means. When I propose that everyone should be using the same compiler to compile addons as they or node foundation used to build the engine itself, this is a configuration that lets us preclude a certain class of hard to debug problems. I think I needed a week or something t

[2016-10-07 14:48] bnoordhuis commented on #8162
I'll go ahead and close out this issue on the assumption that it's working now and probably wasn't a node.js core issue to begin with.  Let me know if I should reopen.

[2016-10-07 14:48] #8162 closed

[2016-10-07 14:51] bnoordhuis commented on #8701
I'll go ahead and close out the issue.  Can reopen when new information is available.

[2016-10-07 14:51] #8701 closed

[2016-10-07 14:53] kangjoni76 commented on #8973
I 've applied that, but I don't understand why icu gyp build still pick g++ in my path when I had tell both CC and CXX env to clang and clang++.

[2016-10-07 14:56] bnoordhuis commented on #8973
Try building with `make CC.host=clang CC.target=clang CXX.host=clang++ CXX.target=clang++ LINK.host=clang++ LINK.target=clang++`.

[2016-10-07 14:56] gibfahn commented on #8911
I'll close this as it doesn't look like there's a better option. If anyone has any better ideas please do comment.

[2016-10-07 14:56] #8911 closed

[2016-10-07 15:33] ericwlange commented on #7752
Yes, that worked perfectly.  Thank you!  If you haven't submitted a pull request, you should.  I have made some corrections for android as well, specifically to support the `--shared` flag.  When I'm sure its all working, I will submit.

[2016-10-07 16:10] joaocgreis commented on #7989
@saper I completely agree about adding info about the Platform Toolset, `v120` or `v140`, somewhere. It should be used to select the right version (if it is available) when compiling native modules, and perhaps display a warning if it is not available. I only disagree with blocking the build completely, we have no practical reason to break users with a different version of VS installed.

If we dec

[2016-10-07 16:19] jasnell commented on #8949
Seeing this also: https://ci.nodejs.org/job/node-test-commit-freebsd/4673/nodes=freebsd10-64/console

[code]

[2016-10-07 16:33] #8865 closed

[2016-10-07 17:19] evanlucas commented on #8675
I finally got around to writing a Chrome extension to help with that if anyone is interested (https://github.com/evanlucas/node-review)

[2016-10-07 17:24] jasnell commented on #8675
Awesome! works great! Thank you very much

[2016-10-07 17:24] #8675 closed

[2016-10-07 17:57] #6912 closed

[2016-10-07 18:11] Trott commented on #8949
And this:  https://ci.nodejs.org/job/node-test-commit-freebsd/4670/nodes=freebsd10-64/console

[code]

[2016-10-07 18:13] jbergstroem commented on #8949
Might be worth mentioning that I've seen increased amounts of processes lingering. Usually a bad sign as well as increasing the failure rate of future tests.

[2016-10-07 18:14] Trott commented on #8949
Yeah, I kind of suspect that when we see three tests failing, that the first one failed and didn't get cleaned up, and that's what's making the subsequent ones fail...

[2016-10-07 18:56] pavelfeldman commented on #7853
We are using AfterCompile to report scripts - a protocol notification Debugger.scriptParsed is generated per compilation. It collects script info and sends it over the wire. Although it should not be expensive,  we've never seen scripts generated in a tight loop. It might be that the transport is not efficient enough, etc. /cc @dgozman.

[2016-10-07 19:18] jbergstroem commented on #8949
I cleaned a host and [ran a test against master](https://ci.nodejs.org/job/node-test-commit-freebsd/4683/nodes=freebsd10-64/console). Here's the failed tests:
[code]

stalled processes after that run:
[code]

[2016-10-07 19:30] dgozman commented on #7853
Maybe we can just skip reporting empty scripts without sourceURL on v8 side. I'll check it out.

[2016-10-07 19:33] alexhultman opened #8974 "Official socket transfer support"
I'm interested in an official way of transferring a socket from Node.js (net.Socket / tls.TLSSocket) representation to the native representation (file descriptor / SOCKET descriptor + SSL pointer).

This can be used to transfer a connection from JS land into an addon, and have the addon manage the connection _way_ more efficient.

[2016-10-07 19:46] Fishrock123 commented on #8974
Once you call `.listen()` you can access the `net.Socket._handle` property, which in turn has a `fd` property.

`_handle` and `_handle.fd` are unlikely to be removed, and definitely will not disappear without significant fanfare. You should be good to use it, even if it is undocumented.

[2016-10-07 19:54] alexhultman commented on #8974
Windows version has no .fd of its _handle.

[2016-10-07 19:55] the1mills opened #8975 "child_process.exec fails non-deterministically"
node version 6.7
mac OSX

using child_process exec, running this command:

`cd /Users/t_millal/WebstormProjects/blah/existing-dir && git add . && git add -A && git commit -am "temp commit [at]Fri Oct 07 2016 12:50:43 GMT-0700 (PDT)"`

sometimes it succeeds sometimes it doesn't, for no good reason

my code is:

[code]

as you can see `__dirname` is the Node.js `__dirname`, which almost certainly sh

[2016-10-07 20:07] alexhultman commented on #8974
#7627

[2016-10-07 20:26] mscdex commented on #5035
Closing this since v0.10 support will end soon so it won't matter anymore.

[2016-10-07 20:26] #5035 closed

[2016-10-07 21:04] jasnell opened #8977 "meta: npm v4 tracking issue"
@nodejs/ctc: npm inc is currently working on npm v4. The beta is expected to land on Oct 21st, stable on Oct 27th, two days after our scheduled ship date for v7. We likely won't get a PR for it until the 21st. Given that it's a semver-major update, we need to decide how to handle the update relative to the v7.0.0 release.

/cc @nodejs/npm @zkat @iarna

[2016-10-07 21:48] addaleax commented on #8975
Isn’t that kind of the answer?

[2016-10-07 21:55] dgozman commented on #7853
Turns out new Function() is not really empty. The source code is:
(function() {

})
And we can even break inside, which means we must report the function.

On the other hand, we can buffer outgoing notifications and only flush at the end of the task.

[2016-10-07 21:59] pavelfeldman commented on #7853
Don't we already do that?

[2016-10-07 22:02] dgozman commented on #7853
We do that in Chromium, not in Node.js.

[2016-10-07 22:02] Raynos commented on #8913
Thanks for input @Fishrock123 @bnoordhuis Agreed that `bind` is bad.

I wrote a quick benchmark ( https://gist.github.com/Raynos/93d275463a90306b4b0779fed308550c ).
I ran the benchmark with node 6.4.0 & v8 5.0.71 and performance of both arrows and closures is identical.

Having a named function declaration;

[code]

Instead of `() => self.wat()` will still improve heap debugging.

I suspect using

[2016-10-07 22:36] ss22ever commented on #8825
Thanks but @imyller why can I not see the merged label on my PR for the same ?

[2016-10-07 22:41] addaleax commented on #8825
@ss22ever Getting the purple “Merged” label is a bit tricky here, because we don’t use Github’s Merge button. If you want (and you have the “Allow edits from maintainers” checkbox checked), it should be possible, but that means that the collaborator who merges your PR has to push to your PR.

[2016-10-07 22:53] eugeneo commented on #7853
I will implement this in Node.

On Fri, Oct 7, 2016 at 3:02 PM dgozman <notifications@github.com> wrote:

[2016-10-07 23:03] DiThi commented on #7752
@ericwlange out of the box it's not useful as shared library, I think most people compile it as a command line utility. I would let people add `--shared` only when they expect to personalize it to be called externally.

[2016-10-07 23:51] bitcrazed commented on #7496
This should now work in Insider builds >= [14942](https://msdn.microsoft.com/en-us/commandline/wsl/release_notes#build-14942)

[2016-10-08 00:29] the1mills commented on #8975
probably, weird why it would be a non-zero exit code
On Oct 7, 2016 2:49 PM, "Anna Henningsen" <notifications@github.com> wrote:

[2016-10-08 00:34] addaleax commented on #8975
I don’t know, but I guess you’re going to have to discuss that with the `git` folks (if you want that…)?

I’ll close this as this doesn’t seem to be anything that Node core can do something about, but feel free to reopen or ask any follow-up questions, and generally good luck working this out!

[2016-10-08 00:34] #8975 closed

[2016-10-08 01:10] cjihrig commented on #8966
My vote is to quit. If people really need the franken-init state, perhaps we could add flag for it.

[2016-10-08 01:25] cjihrig commented on #8972
I don't think an error is the right thing to emit here. This _could_ be a case for emitting a warning though.

[2016-10-08 01:33] kangjoni76 commented on #8973
same problem comparing with my former cmake build
[code]

[2016-10-08 01:42] kangjoni76 commented on #8973
looked like there was missing PR from nodejs repo and freebsd port , this was long several months ago http://www.freshports.org/www/node
[code]

[2016-10-08 01:56] kangjoni76 commented on #8973
the corresponding patch is here https://bz-attachments.freebsd.org/attachment.cgi?id=168585

[2016-10-08 02:28] kangjoni76 commented on #8973
Quick solution was to copy v8 deps from 6.x branch to 4.6.x v8 deps.

[2016-10-08 02:43] ericwlange commented on #7752
@DiThi Oh, I agree.  I wouldn't add it as a default.  What I am saying is that it currently _fails to compile_ if you add it.  I've fixed that locally.

[2016-10-08 03:39] spamguy commented on #8846
Seeing the same thing, with the same setup. I downgraded to v6.6.0, since @JLHwung mentioned earlier success with it, but no go. Meanwhile, my home computer (also a Mac on 10.12 + Chrome 53 + node 6.7.0) handles --inspect fine. There's an unknown variable in play here.

[2016-10-08 06:09] kangjoni76 opened #8981 "test-dgram-membership failed assertion error."
- **Version**: 4.6.0
- **Platform**: Debian 6
- **Subsystem**:

This is follow up my previous problem in #8973 , the build had succeed and I had running all tests, but unfortunately only single test that was failed.
![nodejstestfail](https://cloud.githubusercontent.com/assets/7408949/19210816/c13903ee-8d57-11e6-9936-eeac0e84af48.png)

[2016-10-08 07:18] #8950 closed

[2016-10-08 07:50] bnoordhuis commented on #8973
Okay, so this is a V8 4.5 build issue that seems to be specific to your combination of compiler/libc++/etc.

If you want to see this fixed, you could try filing a pull request against the v4.x-staging branch.  If you are happy with your current workaround, can you close the issue?  Thanks.

[2016-10-08 07:53] bnoordhuis commented on #8972
It's also trivial to implement yourself.  Add a counter and listen for 'connection' events on the server and for 'close' events on the client sockets.

[2016-10-08 08:20] bnoordhuis commented on #8913
In your benchmark the arrow/non-arrow functions are optimized almost right from the start but that's not very representative of long tail code (code that gets called periodically but not frequently enough to get optimized.)

`var self = this` is something I definitely recommend against.  `() => this.wat()` captures just the lexical `this` but the function in your example can over-capture the enclo

[2016-10-08 09:12] marvinhagemeister opened #8983 "doc: Confusion about transform stream constructor options"
The doc about transform stream says that the options object for the constructor can take the [following arguments](https://nodejs.org/api/stream.html#stream_new_stream_transform_options):

- `options <Object>` Passed to both Writable and Readable constructors. Also has the following fields:
  - `transform <Function>` Implementation for the stream._transform() method.
  - `flush <Function>` Impleme

[2016-10-08 09:25] mscdex commented on #8983
In the description of `Transform` it mentions it is a `Duplex` stream and `Duplex` is what supports the `writableObjectMode` option.

[2016-10-08 09:30] marvinhagemeister commented on #8983
@mscdex Awesome, thanks for the quick reply! I'll send a PR to update the typescript bindings.

[2016-10-08 09:30] #8983 closed

[2016-10-08 12:41] alexhultman commented on #8974
I think the first step in solving this is to agree on an interface. When that is done, the implementation should be very simple. I know @bnoordhuis is against the idea of simply exposing the native SOCKET handle on Windows and he seems to prefer having a strictly transferring-only interface so that addons do not mess around with the internals of any still existing Node.js object.

[2016-10-08 12:45] alexhultman commented on #8974
Any kind of net.Socket.export((fd, ssl) => {
  // Here we can do stuff to the fd and ssl pointers. Fd can be int or SOCKET
});

works perfectly for me

[2016-10-08 15:38] soleboxy commented on #8913
can i give it a go?
im new to node but not js and this looks like a good way for me to learn node's innards  :)

![Imgur](http://i.imgur.com/Yph8LVe.jpg)

[2016-10-08 15:45] addaleax commented on #8913
@soleboxy I’d suggest picking a file in `lib/`, doing it, opening a PR and seeing how that goes. A single pull request for all functions across all JS files would basically be a recipe for conflicts. If you’re unsure about anything, feel free to ask here or in #node-dev on Freenode! :)

[2016-10-08 18:20] soleboxy commented on #8913
k thanks :+1:

[2016-10-08 18:23] danbev commented on #4641
@bnoordhuis Would you be able to expand on what can be shared with StreamWrap::AfterWrite? I've looked at both functions but not been able to figure out how the code can be shared. Thanks

[2016-10-08 19:17] joaocgreis commented on #7989
@saper If this is to move forward, it should be for the release this Tuesday. LTS is scheduled for October 18 and it would be good to do this one release before so that we can take a step back if absolutely necessary. Are you still investigating this? Is there anything I can do to help? If we do not find anything by Monday, I think we should move ahead.

[2016-10-08 21:08] addaleax commented on #4641
@danbev A little digging with git shows that when the `TODO` comment was added (which was over 5 years ago! :smile:) the source code of both functions was basically identical. They clearly have evolved in different directions, so just removing the comment might be a perfectly fine resolution here.

[2016-10-08 22:55] yeedm commented on #2084
@rvagg I would love to take a look at this for my first contribution. I'm a newbie to FOSS and looking at applying to node.JS's Outreachy program. Would I be looking at ways to either completely remove or fix the DISTTYPEDIR functionality? Are there specific resources besides the code itself that I could look at to get started? Thank you!

[2016-10-08 23:32] kangjoni76 commented on #8973
Yes I will :)  , but the configure script still certainly needs some tweaks. whether good if I will be adding new options to the configure script for generic solutions on several  differences clang compiler options ccflags and ldflags. Such as this may happen the user can compile with lisbstdc++ mode clang, libc++ libcxxrt and libc++abi so of course this will affect ldflags. And I'm not sure if cl

[2016-10-09 00:03] Daniel15 opened #8987 "ENOENT thrown when trying to create a file with an invalid filename"
Node v6.7.0, Windows 10

To reproduce the issue:

[code]

Expected output: Some error message about the filename being invalid because it contains colons

Actual output:

[code]

[2016-10-09 00:19] JLHwung commented on #8846
@spamguy I just try downgrading to 6.6.0 and same thing happens. As @fhinkel get work with `--debug-brk`, have you tried `--debug-brk`? mine also see the SSL Protocol Error on `--debug-brk`.

[2016-10-09 02:15] spamguy commented on #8846
--debug-brk made no difference. *But*, the suggestion to use Chrome Canary did work.

[2016-10-09 07:44] sonalbhadani496 commented on #8893
We generally don't use Github merge button when we don't want the changes in our branch to be merged with the upstream branch ; for this we can also close the pull request without merging.

[2016-10-09 10:02] silverwind commented on #8987
Pretty sure that error codes comes straight from the Windows API, and it even seems consistent with macOS, so I'd lean towards leaving it as-is. Doing a check for filename validity on Windows is [costly](https://github.com/sindresorhus/filename-reserved-regex/blob/master/index.js) and should probably be done by the user.

[2016-10-09 10:08] Daniel15 commented on #8987
Are you sure? I tried the equivalent in C#:
[code]

And got a better error message:
[code]

I didn't try raw Win32 API calls though.

[2016-10-09 10:13] addaleax commented on #8987
So, just in case this is helpful: Colons are used by NTFS to name separate [Alternate Data Streams](https://en.wikipedia.org/wiki/NTFS#Alternate_data_streams_.28ADS.29), so if there’s a file named `foo`, creating `foo:bar` and writing to it (as an ADS) should work.

So it would seem to me that ENOENT would be the correct code for writing to `foo:bar` when `foo` doesn’t exist.

I’m not sure the ove

[2016-10-09 13:54] mscdex commented on #8987
I believe it *might* be technically possible to provide a better error message since `CreateFile()` on Windows probably sets the error code to `ERROR_BAD_PATHNAME` in such cases. From what I can tell the original Windows-specific error code is stored by libuv in such a way that node should have access to it.

[2016-10-09 14:09] #7655 closed

[2016-10-09 14:10] thefourtheye commented on #7655
Fixed in 7542bddddaccd2453c72a67119e7badc4f2a3933

[2016-10-09 19:34] Daniel15 commented on #8987
Interesting, I didn't know that.

The same error message happens for other invalid characters though, such as question marks:
[code]

[2016-10-09 19:39] Daniel15 commented on #8977
Do you know if there's a changelog or roadmap for npm v4? I haven't seen anything in their repo.

[2016-10-09 19:49] tgriesser opened #8997 "Occasional infinite loop in previously working code path in 6.5+"
* **Version**: 6.5+

This is a strange issue I'm having trouble reproducing myself or creating a minimum viable test for, but recently in some CI suites in Node 6.5+ there have been infinite loops occurring in code paths that previously had no issue.

It seems that they're occurring when a method (dynamically named on the prototype) calls another dynamically named method. Instead of calling the co

[2016-10-09 19:54] TheAlphaNerd commented on #8997
@tgriesser where is that `each` function you are using above coming from? Do you have the same issue when using `modifiers.forEach`?

[2016-10-09 19:57] tgriesser commented on #8997
It's coming from lodash. Haven't tried with `forEach` actually haven't even been able to reproduce this locally myself yet, once I'm able to I'll give it a shot.

[2016-10-09 20:38] GreatBigBore opened #8998 "node debug goes to sleep after setting breakpoint in not-yet-loaded script?"
* **Version**: v6.7.0
* **Platform**: Darwin GripShady.attlocal.net 15.6.0 Darwin Kernel Version 15.6.0: Mon Aug 29 20:21:34 PDT 2016; root:xnu-3248.60.11~1/RELEASE_X86_64 x86_64
* **Subsystem**: unknown

Been using `node debug <scriptname>` and `mocha debug <scriptname>` for a long time, from the command line, no other debugging tools, not node-inspector or anything like that, no connection to br

[2016-10-09 23:46] Raynos commented on #8913
@bnoordhuis Over capturing closure variables that leads to leak is a great point. I'm convinced arrow functions are worth using for that alone. Thanks for explaining the details.

[2016-10-10 04:05] KenanY commented on #8977
@Daniel15 I believe the [`4.x` milestone](https://github.com/npm/npm/pulls?q=is%3Aopen+is%3Apr+milestone%3A4.x) covers the very least of what's to come.

[2016-10-10 05:49] danbev commented on #4641
@addaleax Thanks for that! Looking now they were almost identical [UDPWrap::OnSend](https://github.com/nodejs/node/blob/cbd4033619cc45abdf878285c412bac9c3f36e4e/src/udp_wrap.cc#L246-L271) and [TCPWrap::AfterWrite](https://github.com/nodejs/node/blob/cbd4033619cc45abdf878285c412bac9c3f36e4e/src/stream_wrap.cc#L258-L284) like you pointed out. I'll create a PR removing the comment like you suggested.

[2016-10-10 06:40] benjamingr commented on #8912
It's also slower to define them on the prototype. It's a good idea to always define properties used statically - even as null.

[2016-10-10 07:20] fhinkel opened #9001 "Outdated variable name in comment"
In `node.cc:EnvSetter()`, a comment mentions `rval`. But there's no variable of that name.

[2016-10-10 07:43] davedoesdev opened #9002 "Stream not emitting end after removeListener"
* **Version**: v6.7.0
* **Platform**: Linux david-Latitude-E6440 4.4.0-38-generic #57-Ubuntu SMP Tue Sep 6 15:42:33 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: stream

This program prints "END":

[code]

whereas this program does not:

[code]

The only difference is that a `readable` listener is added _and then removed_ before the stream is ended.

My question is whether the behaviour

[2016-10-10 08:05] #8803 closed

[2016-10-10 08:39] Daeren opened #9003 "TypeError: EventEmitter, setMaxListeners, Symbol"
- **Version**: 6.7.0
- **Platform**: Win 10 @ 64-bit
### Expected Behavior
##

[code]
### Current Behavior
##

[code]
### Steps to Reproduce
##

[code]
### Stack trace
##

[code]

[2016-10-10 09:01] rafis commented on #8972
https://nodejs.org/api/net.html#net_server_maxconnections

Maybe it would be nice to add note that playing with `maxConnections` is not recommended and if somebody will do then it is recommended to monitor connections count using 'connection' and 'close' events.

[2016-10-10 09:01] #8972 closed

[2016-10-10 09:35] bnoordhuis commented on #8998
Do you have the same issue with the official binary from nodejs.org?  Also, can you post a reproduction step-by-step?

That's the IPv6 'any' address, like 0.0.0.0 is for IPv4.  In long-form it's lots of zeroes separated by lots of colons.

[2016-10-10 09:54] bnoordhuis commented on #8973
We'd have to thoroughly research what the ramifications of statically linking libc++ et al. would be.

For example, a node binary linked against one libc++ version trying to interact with a native module linked against another libc++ version could end catastrophically because of incompatible memory allocators and such.

[2016-10-10 09:57] mscdex commented on #9002
/cc @nodejs/streams

[2016-10-10 10:37] mcollina commented on #9002
hey @davedoesdev!

What you describe is the currently intended behavior. Setting `on('readable')` trigger as a side effect `read(0)`. In fact, `'end'` is emitted straight away, because the read was triggered.

This is what is triggered: https://github.com/nodejs/node/blob/v6.7.0/lib/_stream_readable.js#L710-L713

What you want is to "undo" that scheduled `read(0)` operation. 

There probably is a

[2016-10-10 11:53] GreatBigBore commented on #8998
Installed 4.6.0 from nodejs.org and it works great. Sorry I didn't think of that myself. Thanks so much.

[2016-10-10 11:53] #8998 closed

[2016-10-10 13:50] yagop opened #9005 "openssl list-public-key-algorithms on crypto docs"
According with [docs](https://github.com/nodejs/node/blob/v6.7.0/doc/api/crypto.md#cryptocreateverifyalgorithm) `openssl list-public-key-algorithms` shows the available signing algorithms, but isn't very helpfull, in fact I'm still unable to figure out which parameter to pass to `crypto.createVerify(algorithm)` :cry:

By the way, on openssl 1.1.0b does not exists that command:

[code]

[2016-10-10 14:10] Fishrock123 commented on #9005
cc @nodejs/crypto

[2016-10-10 15:20] Nibbler999 opened #9006 "buffer.length performance regressed in 6.5.0"
- **Version**: v6.7.0
- **Platform**: Linux x86_64
- **Subsystem**: Buffer

[code]

[2016-10-10 15:31] mscdex commented on #9006
I think about the only change that would have affected that was the V8 5.0->5.1 upgrade.

[2016-10-10 15:45] mscdex commented on #9006
/cc @nodejs/v8 ?

[2016-10-10 15:47] mscdex commented on #9005
Perhaps we should just add a `crypto.getPubKeyAlgos()` or similar.

[2016-10-10 15:57] #8379 closed

[2016-10-10 16:22] #8828 closed

[2016-10-10 16:37] #6057 closed

[2016-10-10 17:42] bnoordhuis commented on #9005
I see `openssl list-public-key-algorithms` mentioned for `crypto.createSign()` and `crypto.createVerify()` but I have no idea why.  What you want to use is one of the digests from `crypto.getHashes()`, like RSA-SHA256.

[2016-10-10 18:12] indutny commented on #9005
Yeah, it is basically contained in `crypto.getHashes()` as @bnoordhuis pointed out.

[2016-10-10 18:22] bnoordhuis commented on #9005
Looks like the documentation has basically always been wrong -- I traced it back to commit afce4c3a from May 2010, released in v0.1.94!  In fairness, we didn't have `crypto.getHashes()` back then. :-)

[2016-10-10 18:25] indutny commented on #9005
Nor did anyone know how these things work ;)

[2016-10-10 18:28] targos commented on #9006
I think the fix would be https://github.com/v8/v8/commit/3c927e07b022e31732e81610446714501474789d but the diff is huge.

[2016-10-10 19:07] chicoxyzzy commented on #8813
@jasnell's proposal to ECMAScript 👍
https://github.com/tc39/proposals/pull/30

[2016-10-10 19:50] SEAPUNK opened #9012 "What makes a Socket idle?"
* **Version**: v6.7.0
* **Platform**: Linux, N/A
* **Subsystem**: net

From documentation @ net -> net.Socket -> Event: 'timeout':

When is a socket considered "idle"?

Is it when there is no TCP data being received, or sent, or both? Does it include keep-alive packets? If, for example, I send data to a socket on a regular interval without receiving any kind of response (ACK or otherwise), is the

[2016-10-10 20:00] bnoordhuis commented on #9012
Both.

No.  That kind of protocol-level activity is not normally visible to node.js.

Absent an oracle, no.  Some layer 7 protocols have heartbeat mechanisms but not FTP.

[2016-10-10 20:08] SEAPUNK commented on #9012
Okay, I see; thank you.

One more question:

If I am no longer to use the socket in any form, and don't want the socket to interfere with the rest of the program's operations, is it good to use `socket.end()`, `socket.unref()`, and `socket.destroy()`, or a combination of those on those kinds of sockets? Internally, what does `socket.destroy()` do? Does it cause the `close` event, if it has already

[2016-10-10 20:12] davedoesdev commented on #9002
I have two separate bits of code (separate modules). One which reads a header from a stream and another which then reads the rest of the stream. The second bit of code when passed the stream after the first has finished processing it then registers its own `readable` and `end` handlers. It needs to know when the stream has ended.

It's fine, I can get the second bit of code to check if the stream

[2016-10-10 20:18] mcollina commented on #9002
That is probably the best approach, yes.

[2016-10-10 20:18] davedoesdev commented on #9002
Thanks for the help @mcollina

[2016-10-10 20:18] #9002 closed

[2016-10-10 20:32] gibfahn commented on #9005
Sounds like we need a documentation update then?

[2016-10-10 20:38] bnoordhuis commented on #9012
`socket.end()` initiates a graceful connection shutdown, `socket.destroy()` does it immediately and forcibly.

`socket.unref()` is orthogonal, it tells node that it shouldn't count the socket when deciding whether to exit or keep running; it doesn't otherwise affect the TCP connection.

'close' is only emitted once, if that is what you are asking.  Both cause it to be emitted.

Yes, because of the

[2016-10-10 20:41] SEAPUNK commented on #9012
Alright, I'll be sure to do so next time. Thanks for your help!

[2016-10-10 20:41] #9012 closed

[2016-10-10 21:28] #7991 closed

[2016-10-10 21:35] MylesBorins opened #9013 "FreeBSD failures on v4.x"
This is a very odd one `parallel/test-child-process-uid-gid` started failing today when I was testing v4.x.

This test has not failed in the past, but is now failing the current head of `v4.x-staging`, `v4.6.0`, and `v4.5.0`

I am unsure if this is an env issue or not... I have attempted to ssh into one of our BSD machines, manually compile and test, and see no failures.

I've also attempted to ma

[2016-10-10 21:43] bnoordhuis commented on #9005
Yep.

[2016-10-10 21:45] TheAlphaNerd commented on #9013
/cc @nodejs/platform-freebsd

[2016-10-10 22:43] Dexus opened #9015 "Segmentation fault using TLS after uprgrade to nodejs 6.7.0 / CentOS 7"
- **Version**: 6.7.0
- **Platform**: CentOS 7
- **Subsystem**:

Reportet at https://github.com/haraka/Haraka/issues/1655

[code]

[2016-10-10 22:51] indutny commented on #9013
Logs?

[2016-10-10 23:07] TheAlphaNerd commented on #9013
https://ci.nodejs.org/job/node-test-commit-freebsd/4728/nodes=freebsd10-64/tapTestReport/test.tap-81/

[code]

[2016-10-10 23:13] indutny commented on #9013
Thanks!

[2016-10-10 23:14] indutny commented on #9013
That's:

[code]

That is expected to throw EPERM.

[2016-10-10 23:15] TheAlphaNerd commented on #9013
the error is that it isn't throwing
¯\\\_(ツ)\_/¯

[2016-10-10 23:17] jkrems commented on #7266
Follow-up: This was discussed in the [last diagnostics meeting](https://docs.google.com/document/d/1ksAjU0ypopwZ70kzMOq7XSHrIh20wsOlcFicGbkNly8/edit#heading=h.1gq3yj9rs3ma) and it was suggested to move `node-inspect` into the nodejs org. This work is tracked here: https://github.com/nodejs/diagnostics/issues/67.

[2016-10-10 23:19] indutny commented on #9013
@TheAlphaNerd oh, I was just stating what happens in test. Sorry!

[2016-10-10 23:20] indutny commented on #9013
@TheAlphaNerd is it running under root (or superuser)? Is it running in jail?

[2016-10-10 23:21] indutny commented on #9013
@TheAlphaNerd what is the output of `sysctl security.bsd.suser_enabled`?

[2016-10-10 23:26] TheAlphaNerd commented on #9013
when I was manually running it  `security.bsd.suser_enabled: 1`

@jbergstroem may know more about how things are setup during CI

[2016-10-10 23:28] indutny commented on #9013
@jbergstroem I wonder if this box may be running tests with effective user id set to `0`?

[2016-10-10 23:28] indutny commented on #9013
@TheAlphaNerd thanks!

[2016-10-10 23:31] indutny commented on #9013
@jbergstroem further question, do we use https://www.freebsd.org/doc/handbook/mac.html ?

[2016-10-10 23:34] jbergstroem commented on #9013
@indutny no, we run as regular user:
[code]

re mac: this is stock freebsd 10.3p9 -- I recall mac modules being optional so I'd say no.

[2016-10-11 00:54] bitc opened #9017 "Problematic process.argv with "node -e""
- **Version**: v6.7.0
- **Platform**: Tested on Linux and Windows

When running a script via "node -e", there doesn't seem to be a clean way to use `process.argv` when "flag" arguments are expected (or more accurately, any argument that begin with the '-' character). What happens is that the argument is silently dropped.

The following all work as expected:

[code]

But it seems impossible to have

[2016-10-11 01:03] strrchr opened #9018 "Will read_cb be called immediately after alloc_cb for uv_read_start?"
I found node_http_parser.cc allocates a single buffer for multiple parsers.
[code]
Will read_cb be called immediately after alloc_cb for uv_read_start, especially in Windows IOCP?

[2016-10-11 01:34] mscdex commented on #9015
/cc @nodejs/crypto

[2016-10-11 03:52] stelcheck opened #9019 "path.parse: result differs between Windows and macOS for Windows-style paths"
* **Version**: 6.7
* **Platform**: Windows 10, macOS
* **Subsystem**: path

On macOS:

[code]

On Windows:

[code]

While the Linux-style path is correctly and equally processed across both platform, the Windows path is not.

[2016-10-11 04:02] reza-ryte-club commented on #9001
Do you mean this lines ?

[code]

[2016-10-11 04:22] Trott opened #9020 "Node.js Foundation Core Technical Committee (CTC) Meeting 2016-10-12"
## Time

**UTC Wed 12-Oct-2016 16:00**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 12-Oct-2016 09:00 |
| US / Mountain | Wed 12-Oct-2016 10:00 |
| US / Central  | Wed 12-Oct-2016 11:00 |
| US / Eastern  | Wed 12-Oct-2016 12:00 |
| Amsterdam     | Wed 12-Oct-2016 18:00 |
| Moscow        | Wed 12-Oct-2016 19:00 |
| Chennai       | Wed 1

[2016-10-11 04:28] Trott commented on #9020
**Please note the change in time for this meeting!** This meeting will be four hours earlier than our previous meetings. Check the time carefully.

This meeting will take place in slightly less than 36 hours from the time of this comment.

Stand up section is ready to go.

[2016-10-11 05:29] Trott commented on #9019
On OS X, the path is parsed as if it is a POSIX file name.

[code]

This is because `\` is a legitimate character in a filename (although you have to escape it to use it):

[code]

If you know you want Windows behavior, you can use `path.win32.parse()`.

[2016-10-11 05:35] sstern6 commented on #9005
Would like to make a PR for this, from what I understand from the thread I need to:

1) Remove `openssl list-public-key-algorithms` explanation from  `crypto.createSign()` and `crypto.createVerify()` sections in the docs.
2) Update the `crypto.getHashes()` to be more clear about listing supported hash algorithms?

Can have a PR open for this shortly!

cc @bnoordhuis

Thanks!

[2016-10-11 05:37] TheAlphaNerd commented on #9020
I will be unable to attend this week as I will be observing Yom Kippur. Please let me know if you need my vote for anything

[2016-10-11 05:37] stelcheck commented on #9019
Thank you for the clarification!

[2016-10-11 05:37] #9019 closed

[2016-10-11 07:16] fujifish commented on #3159
https://github.com/capriza/syswide-cas provides a temporary workaround by loading certs from system wide directories and automatically using them in conjunction with the bundled root CAs

[2016-10-11 07:48] gibfahn commented on #9001
Yep, looks like https://github.com/nodejs/node/blob/master/src/node.cc#L2714

[2016-10-11 08:31] jeisinger commented on #9006
@bmeurer

[2016-10-11 08:37] bmeurer commented on #9006
Yeah, I guess it would be fixed by v8/v8@3c927e0.

[2016-10-11 09:45] bnoordhuis commented on #9005
@sstern6 Correct.  I'd also cross-reference `crypto.getHashes()` from `crypto.createSign()` and `crypto.createVerify()`.

[2016-10-11 10:00] bnoordhuis commented on #9015
OpenSSL bug?  It almost has to be, going by the stack trace.

Does v6.6.0 work for you?  v6.7.0 upgraded openssl to 1.0.2j.  It's conceivable you are hitting a regression.

[2016-10-11 10:46] joaocgreis commented on #7989
Landed the changes in the release jenkins and changed the test CI to not use VS2013 for v6. The next release of v6 will be built with VS2015.

[2016-10-11 10:46] #7989 closed

[2016-10-11 10:47] joaocgreis commented on #7484
Release Jenkins and test CI changed to build v7 with VS2015.

[2016-10-11 10:47] #7484 closed

[2016-10-11 10:51] joaocgreis commented on #6045
As discussed in https://github.com/nodejs/node/issues/7989 , we should move ahead with this and include `PlatformToolset` information.

When a mismatch is detected when building a module, there should only be a warning instead of a failure (if possible, use the correct the correct platform if available). We can change this later if we find a pressing reason.

[2016-10-11 10:51] Nibbler999 commented on #9015
Sounds like you're using the epel package. If so, your issue may be caused by their own patch to build against openssl 1.0.1. You should report it to them unless you can reproduce with the official nodejs.org binaries.

http://pkgs.fedoraproject.org/cgit/rpms/nodejs.git/plain/0002-Use-openssl-1.0.1.patch?h=epel7

[2016-10-11 11:45] evanlucas commented on #8997
/cc @nodejs/v8

I tried to reproduce this yesterday and was unable. @tgriesser have you been able to come up with a reproducible test case for this?

[2016-10-11 11:51] fl0w commented on #8997
I'm trying to reproduce this as well, I've re-run our tests a while now and can't produce this again - though we haven't really done any upgrades.

node v6.7
knex 0.12.0 (with which this originally occurred)

[2016-10-11 12:02] addaleax commented on #8670
maybe relevant (or at least a good explanation of where this kind of issue comes from): http://benediktmeurer.de/2016/10/11/the-case-of-temporary-objects-in-chrome/

[2016-10-11 12:33] bmeurer commented on #8670
Yeah, that looks a lot like we hit the deoptimization limit here after a couple of GCs.

[2016-10-11 12:50] igalco opened #9024 "require('crypto') & DES inconsistent"
* **Version**: v6.7.0
* **Platform**: Darwin 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64
* **Subsystem**: OpenSSL 0.9.8zh 14 Jan 2016

Hello,

I have an issue with the standard crypto package in node js.
The output do not always return the correct answer when using the DES algorithm.

Exemple :
[code]

result :
[iteration:0] key=013

[2016-10-11 13:04] kobelb opened #9025 "tls.createServer secureOptions"
I was looking for a way to limit the versions of TLS that are supported, and I came across the `secureOptions` in the `tls.createServer` [method](https://nodejs.org/api/tls.html#tls_tls_createserver_options_secureconnectionlistener) that appears to do exactly that.

However, I noticed that the documentation doesn't reference this option. Is this something that a pull request to modify the docs wou

[2016-10-11 13:10] igalco commented on #9024
on an other machine (debian)
[code]

[2016-10-11 13:30] igalco commented on #9024
Extending the exemple to check the success rate i have :
- osx 10.12 : Success rate : 0.143% (143 / 100000)
- debian jessie : Success rate : 77.595% (77595 / 100000)

[2016-10-11 14:10] igalco commented on #9024
Tempoary fixe use :
var cipher = crypto.createCipheriv('des-ede', Buffer.concat([key,key]), Buffer.alloc(0));
Instead of :
 var cipher = crypto.createCipheriv('des', key, Buffer.alloc(0));

Success rate : 100% (100000 / 100000)

But this is far to be satisfactory .....

[2016-10-11 14:12] addaleax commented on #9024
`new Buffer(8)` gives you nondeterministic output that you use as an IV (and you probably even want a *random* IV), so the behaviour here seems pretty okay to me.

[2016-10-11 14:17] igalco commented on #9024
'des' is ECB. Only CBC requires an IV, the parameters is here for good looks so that the toBuf() function do not throw an error.

You may use new Buffer("000000000000000", "hex"); and you will have the exact same issue (i actually tried it before posting the issue on git hub)

Beside, using des-ede (triple des encrypt/decrypt/encrypt) with key1 = key2 solve the issue

[2016-10-11 14:34] addaleax commented on #9024
I’m not an expert in crypto, so I can’t tell whether this is a problem in Node or not, but the passed IV *does* seem to be used (I get different but consistent results for different 8-byte IVs) for `des`. So, yeah, it’s still using uninitialized data.

The valgrind outputs for the above scripts are about what you’d expect (`Invalid read of size 8`/`Use of uninitialised value of size 8`), but for r

[2016-10-11 14:39] igalco commented on #9024
Okay my bad, using new Buffer("0000000000000000", "hex") does solve the problem.

[2016-10-11 14:39] #9024 closed

[2016-10-11 14:43] addaleax commented on #9024
That’s great to hear!

(I’d still be interested to hear from anyone in @nodejs/crypto whether the out-of-bounds reads for zero-length IVs should be considered problematic…)

[2016-10-11 14:52] cjihrig commented on #9018
Closing as a duplicate of https://github.com/libuv/libuv/issues/1085, which has been answered by @saghul.

[2016-10-11 14:52] #9018 closed

[2016-10-11 14:52] bnoordhuis commented on #9024
Yeah, that seems like a bug.  I'd expect a zero-sized IV to throw an 'invalid IV length' exception.

[2016-10-11 14:54] bnoordhuis commented on #9024
Ah...
[code]
Guess we need to fix something there.

[2016-10-11 14:59] joshgav commented on #9020
I'll also not be able to attend this week. @Fishrock123 or @trott could you take notes? Thanks!

[2016-10-11 15:08] bnoordhuis commented on #9024
Turns out that yes, the logic is faulty - there is a misplaced ) in there:
[code]
For posterity, openssl interprets "des" as DES-CBC, not DES-ECB.

[2016-10-11 15:21] tgriesser commented on #8997
Nope, I haven't been able to reproduce this so I'm closing. I've since split out the offending code path so folks using knex shouldn't see this issue anymore.

This ticket was opened mainly because issue had been reported by a few different users at the same time, so I figured there was a chance it was indicative of a bigger issue.

[2016-10-11 15:21] #8997 closed

[2016-10-11 15:37] sstern6 commented on #9005
@bnoordhuis ON IT!  Will have a PR open today!

[2016-10-11 15:44] dsehnal commented on #8670
@bmeurer So do you think that the solution proposed at https://docs.google.com/document/d/1VEeXn6BfKmVkYpfMuxNs3otLLNPIxIVA1cLoSwGMIxI will fix this?

[2016-10-11 15:52] nfriedly opened #9027 "HTTP Server: incorrect error message if status code is set to a string (like ENOENT)"
- **Version**: 6.5.0
- **Platform**: Darwin Nathans-MBP.lan 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64
- **Subsystem**: http

https://github.com/nodejs/node/blob/master/lib/_http_server.js#L190 converts the http status code to a number and then validates that it's within an appropriate range, throwing an error if it is not. However

[2016-10-11 16:28] fundon commented on #9027
I found most libraries will to custom `HTTP Error` to cover that.

Like below:

[code]

I don't know better practice for that?

[2016-10-11 17:02] #9001 closed

[2016-10-11 17:04] eugeneo commented on #8846
Looks like this has something to do with Chrome itself - there is no reason for it to try and use SSL for devtools connection.

Canary working might be due to the fact of some fixes on Chrome site or a result of different Chrome profile.
Do you think there might be some Chrome extension installed or some setting enabled that forces SSL?

Note that there is a chance the problem will "fix itself" wh

[2016-10-11 18:12] mhdawson commented on #8814
Confirmed this is ok:

curl --insecure https://nodejs.org/dist/v6.7.0/node-v6.7.0-linux-ppc64le.tar.gz | gunzip -c >/dev/null

so I'm going to close this issue and open a new on the build repo to continue the discussion about improving things.

[2016-10-11 18:15] bnoordhuis commented on #8744
Still fails for me every now and then on that one machine.  Just now:
[code]

[2016-10-11 18:19] mhdawson commented on #8814
Opened https://github.com/nodejs/build/issues/513 so closing this one.

[2016-10-11 18:19] #8814 closed

[2016-10-11 18:28] Dexus commented on #9015
/cc @deburau

[2016-10-11 18:35] bmeurer commented on #8670
@dsehnal This is only the first step. Removing the constant tracking on the map is a hard requirement to make transition tree links strong, otherwise you'll risk unbounded memory leaks. But there's more work, for example, we also need to deal with weak vs. strong links for prototype transitions and Object.create (which is a special case of the prototype transitions). The constant tracking is defin

[2016-10-11 18:43] mscdex commented on #9025
I'm assuming you meant `secureProtocol`? If so, I'm not sure what is missing since there is a link to the OpenSSL documentation that shows the valid names. Unless you're asking to include that inline in the node documentation?

[2016-10-11 19:02] kobelb commented on #9025
I'm sorry for being unclear earlier, I've tried to document below what I've traced through the code.

The constructor for the tls Server has the following line: https://github.com/nodejs/node/blob/master/lib/_tls_wrap.js#L901

that ends up getting passed again by: https://github.com/nodejs/node/blob/master/lib/_tls_wrap.js#L761

which is then passed again by:
https://github.com/nodejs/node/blob/ma

[2016-10-11 20:10] Fishrock123 opened #9036 "consider printing Experimental warnings for all Experimental APIs"
Thought of this in https://github.com/nodejs/node/pull/7448#issuecomment-253030020

Maybe we should codify to always print warnings on access/use of Experimental features? Imo makes it more clear to anyone running the code that it may change / be removed / etc etc.

cc @jasnell

[2016-10-11 20:36] Trott commented on #9020
I'm going to be facilitating the meeting so it would be great if someone else would volunteer to take notes. But if not, I will do my best!

[2016-10-11 20:59] jasnell commented on #9036
Definitely worth considering. Can be done in a reasonably painless and consistent way via a new internal/util method like `emitExperimentalWarning('feature-name')`.

[2016-10-11 21:51] Fishrock123 commented on #9020
I would prefer not to be the one soley responsible for nots. I'm not very good at it and already running the livestream.

[2016-10-11 22:00] joshgav commented on #9020
@mhdawson - could you perhaps take notes this week? Thanks!

[2016-10-11 22:04] wldcordeiro opened #9039 "Array Joining is slower in Node 6.x"
- **Versions**: Tested in Node 5.9, 5.11, 6.0, 6.4, 6.5, 6.6, 6.7
- **Platform**: Linux (Kubuntu 16.04)
- **Subsystem**: N/A / Not sure?

It appears that joining together raw strings has some performance regressions in the 6.x line. I first noticed this when evaluating the [`classnames`](https://www.npmjs.com/package/classnames) library for a project and running its benchmarks as my coworker on 5.

[2016-10-11 22:16] wldcordeiro commented on #9039
Added Node v6.7.0 for posterity

[2016-10-11 23:31] JLHwung commented on #8846
@eugeneo

Thank you for explanation on debug protocol. 🙏

I just try opening the debugger link (both `--inspect` and `--debug-brk`) on Chrome with Private Mode (which means no extension by default), still SSL Protocol error.
Chrome Canary with Private Mode works well.

[2016-10-11 23:51] mscdex commented on #9039
Confirmed. I'm willing to bet [this change](https://codereview.chromium.org/1708523002/) is the culprit based on the comparison of output of `--trace-opt --trace-deopt --trace-inlining` with each node version.

[2016-10-12 01:45] jessicaquynh commented on #8893
Hello everybody, I took a shot at this and have opened up a [pull request](https://github.com/nodejs/node/pull/9044). Hopefully some of you can review it and see if it closes this issue.

Thank you :)

[2016-10-12 02:34] TheAlphaNerd opened #9045 "Create Lint Rule to avoid `let` in `for` loops"
In #8873 we removed `let` from `for` loops due to potential de-opts. It would be nice to have a linting rule to avoid more instances leaking into the code base.

For context, our other lint rules can be found in [tools/eslint-rules](https://github.com/nodejs/node/tree/master/tools/eslint-rules)

[2016-10-12 02:47] Alex-liutao opened #9046 "fs.ReadStrem.read(size) trigger 'readable' event twice or once"
* **Version**: v4.5.0
* **Platform**: Linux *** 3.13.0-95-generic #142-Ubuntu SMP Fri Aug 12 17:00:09 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: fs

I'm using `read(2)` to read 2 byte data of a file, and I found that  the `read(2)` method trigger `readable` event twice if the file I'm reading is small (in my case, the file is 14 bytes). however, if the file I read from is large (1.3

[2016-10-12 02:58] jessicaquynh commented on #9045
Hi, I'd like to give this a shot as a contribution!

[2016-10-12 02:58] #8973 closed

[2016-10-12 03:01] TheAlphaNerd commented on #9045
go for it @jessicaquynh

Let me know if you need any help!

@Trott may be a good resource as well, he's written quite a few of the lint rules

[2016-10-12 03:05] jessicaquynh commented on #9045
@TheAlphaNerd will do! Thank you, and I will reach out to @Trott for good resources and paradigms, thanks!

[2016-10-12 03:30] tylerbrazier commented on #8913
I can take `lib/console.js` for this

[2016-10-12 03:39] TheAlphaNerd commented on #9020
It may be nice to discuss https://github.com/nodejs/nodejs.org/issues/953

We currently don't have plans for the download page on the website when we have 3 release lines we are supporting

[2016-10-12 04:51] Trott opened #9048 "inspect flaky test-tls-wrap-timeout on ubuntu1604_docker_alpine34-64"
https://ci.nodejs.org/job/node-test-commit-linux/5608/nodes=ubuntu1604_docker_alpine34-64/console:

[code]

[2016-10-12 05:36] jessicaquynh commented on #9045
I've opened up a [PR](https://github.com/nodejs/node/pull/9049) on this issue for review.

I am unsure if it was necessary, but I included within the lint, definitions for `forIn` and `forOf` as well. I would really appreciate input from @TheAlphaNerd and @Trott whenever you have got time! Thanks :)

[2016-10-12 06:51] Revision18 opened #9050 "SIGINT and loops"
Version: v4.2.6
Platform: x86_64 GNU/Linux

I don't think this is a bug but some kind of advice would be nice in the documentation of process.on() in the future. Please, consider it.

If your script is structured following the design of a C program, chances are you may have a main loop similar to this:

[code]

If you suddenly need to do something on SIGINT, you may do this:

[code]

This results

[2016-10-12 07:10] jeisinger commented on #9039
@bmeurer is the fast path already landed?

[2016-10-12 09:18] bnoordhuis commented on #5870
I'll close out the issue based on the previous comment.

[2016-10-12 09:18] #5870 closed

[2016-10-12 09:24] bnoordhuis commented on #5636
I'll close out the issue.  v5.x is EOL and v6.x is not affected; affected v4.x users can use `--noenable_avx` as a workaround.  The bug has been fixed in newer OS X releases, I believe.

[2016-10-12 09:24] #5636 closed

[2016-10-12 09:46] bnoordhuis commented on #5549
Your friendly neighborhood bug triager checking in.  For me, on OS X and Linux with nodejs/node@master, the first two examples behave the same: ping runs in the background.  It matches the output from the second example.

The other examples basically do what I would expect them to do under the UNIX process and tty model.  It may not be the behavior you want but they are not bugs in node.js.

The d

[2016-10-12 09:46] #5549 closed

[2016-10-12 09:50] bnoordhuis commented on #4500
Closing, no follow-up.

[2016-10-12 09:50] #4500 closed

[2016-10-12 10:24] bmeurer commented on #9039
Nope. There was some on Array.prototype.join, but that is on hold due to other priorities.

[2016-10-12 10:43] bnoordhuis commented on #5637
I had a look and I don't think this is a bug, just that execFile() is the wrong tool to use here.  Also, `disown` doesn't really factor into it.  Here is what happens:

1. node spawns bash.  Let's say it gets pid 1000.
2. bash spawns yes.  It gets pid 1001.
3. bash exits but, crucially, not yes.
4. node gets notified (through a signal) that bash has quit.

As far as node is concerned, the child pr

[2016-10-12 10:43] #5637 closed

[2016-10-12 11:07] addaleax commented on #9020
I’ll really try to be there, but again there’s a good chance I’ll be late or won’t make it at all.

[2016-10-12 11:23] maasencioh commented on #8913
I lint the lib folder with `func-names` and this is the list of files that have anonymous functions. I also mark the ones that have open PR and didn't add the ones in the internal folder.
 - [ ] _debug_agent
 - [ ] _debugger
 - [x] _http_agent
 - [x] _http_client
 - [ ] _http_common
 - [ ] _http_incoming
 - [ ] _http_outgoing
 - [ ] _http_server
 - [ ] _stream_passthrought
 - [ ] _stream_readable

[2016-10-12 11:26] rvagg commented on #2084
Hey cool, sorry for the delay @yeedm (I'm a bit out of sync atm and not very responsive while I catch up unfortunately!). I'm assuming here that you're running Windows, I'm not atm so I'm going to write this off the top of my head but hopefully I'm close.

What you're going to need to do is set up so that you can produce .msi files, that should get you enough of the way to be able to reproduce thi

[2016-10-12 11:45] rvagg commented on #9020
I won't be at this one (unless I happen to wake up in the middle of the night and feel like listening in, unlikely!).

removed ctc-agenda from: doc: add supported platforms list #8922, it was covered last week and shouldn't need anything outside of GitHub for now (might come back for a v4.x version).

"net: multiple listen() events fail silently #8419" really just has that outstanding technical qu

[2016-10-12 13:29] fundon opened #9056 "Should switch classes to define class and fix name anonymous functions?"
I saw some PRs that  fix name anonymous functions.

Should switch to below way?

`/lib/stream.js`
[code]

[2016-10-12 13:48] PurpureGecko opened #9057 "Modify https.globalAgent doesn't effect"
- **Version**: 6.5.0
- **Platform**: Linux 3.10.0-327.13.1.el7.x86_64
- **Subsystem**: https

I modify globalAlgent to use proxy.
Next code:

[code]

this give me error:
`Error: connect ECONNREFUSED`
But if i paste this code `parsedURL.agent = https.globalAgent` before `https.request` all works fine.
Also i tried to modify http.globalAgent. It isn't work.

[2016-10-12 14:04] cjihrig commented on #9050
I'm not sure what the best way to document this would be (or even if we need to). Maybe open a PR and see how it goes.

[2016-10-12 14:18] Fishrock123 commented on #8913
I'm comfortable doing this to `function`s, but I don't think we should go back to `self = this` for arrow fns. Arrow fns assigned to variables _might_ be ok.

[2016-10-12 14:30] bnoordhuis commented on #9057
`http.globalAgent` and `https.globalAgent` are not currently overridable properties.  That is, you can reassign them but the actual global agent lives elsewhere.

Some discussion about the ramifications are probably warranted.  I think your best bet would be to open a pull request and see how it is received.

[2016-10-12 15:03] Fishrock123 commented on #9056
Only if it is already a class. If not, please don't. (The large change will likely make backporting far more difficult.)

[2016-10-12 16:02] mscdex opened #9061 "benchmark: 'NA' appended to filename in compare.R output"
* **Version**: master
* **Platform**: n/a
* **Subsystem**: benchmark

I'm not sure if I remember seeing this before, but I'm encountering an issue where the filename has `NA` appended directly after the filename (e.g. `foo/bar.jsNA`). I'm betting this has to do with no `--set` arguments being passed, so R is converting the empty string for that 'configuration' column to `NA`.

/cc @AndreasMadsen

[2016-10-12 16:16] AndreasMadsen commented on #9061
I haven't seen that before. Can you give me an example, what commands are you running?

[2016-10-12 16:31] mscdex commented on #9061
Run any benchmark that does not have any configurable parameters, for example buffers/buffer-base64-decode.js:

[code]

[2016-10-12 17:02] Fishrock123 commented on #9020
Livestream viewers, up to 8:

![node_livestream_viewers-2016-10-12](https://cloud.githubusercontent.com/assets/1093990/19319708/149a7596-907c-11e6-99da-9de39027e68a.png)

[2016-10-12 17:11] jasnell commented on #9020
oh dangit... totally forgot about the different time today! Need to get my calendar updated.

[2016-10-12 17:39] coolaj86 commented on #5549
Thanks Ben.

[2016-10-12 18:20] mgol commented on #7904
I've just got an update to Chrome 54 so maybe V8 5.4 is stable now? OTH [omahaproxy](https://omahaproxy.appspot.com/) still points to v53 as stable so maybe I'm getting an A/B testing treatment.

[2016-10-12 18:41] mk-pmb opened #9063 "assert.js rule 7.4 (similar to CJS rule 7.3)"
- **Version**: `v6.1.0`
- **Platform**: `Linux ███ 3.13.0-97-generic #144-Ubuntu SMP Thu Sep 22 16:23:22 UTC 2016 i686 i686 i686 GNU/Linux`
- **Subsystem**: assert

Hi,

I'm developing an assert lib and it disagrees with node's. While debugging, I found rule 7.4 in [master/lib/assert.js](https://github.com/nodejs/node/blob/master/lib/assert.js) @ d4061a63142004eee4ffc3de5fca7286cd330090 that to me

[2016-10-12 18:48] AndreasMadsen commented on #9061
@mscdex you are indeed correct. https://github.com/nodejs/node/pull/9064 should fix it.

[2016-10-12 18:57] cjihrig commented on #9063
Just to clarify, can you provide a call to the `assert` method that is working incorrectly?

[2016-10-12 19:09] mk-pmb commented on #9063
Nope, that would be the next step. I first have to understand exactly which behavior is intended as correct; only then I can know whether it is working incorrectly at all.

The code example in the other thread is not applicable because that one is about the CJS UT spec, the one at the URL stated in line 1 of node's `assert.js`.
However, that's obviously not the spec being used here, as it has no m

[2016-10-12 20:10] gibfahn commented on #9050
At the very least this issue (with included fix) should show up in Google if someone searches "nodejs sigint loops", which is some form of documentation... (although by all means open a PR as well if you think of a good way/place to document it).

[2016-10-12 20:13] chicoxyzzy commented on #7904
Now it's pointing to v54

[2016-10-12 20:48] addaleax commented on #9056
The change will also break creation of objects without `new`.

[2016-10-12 21:00] reallistic commented on #5893
Just to add my two cents in, it is very dangerous to use the `dnscache` package because it does **not** respect the ttl set by the dns server. This means that you could potentially have a bad dns cache for some time. By implementing a OS level solution, you'll get all the benefits mentioned above in addition to the reassurance that your dns entries will always be correct.

[2016-10-12 21:12] jbergstroem commented on #5893
@reallistic couldn't `dnscache` be patched then? Reading above it seems unlikely to land in core.

[2016-10-12 21:15] Trott commented on #9063
If it helps explain anything: The `7.4` in the comment is just wrong. It was changed in https://github.com/nodejs/node/commit/a805012d. Apparently people did not realize that the numbers (of the form `7.3`) were not arbitrarily invented by Node.js but were part of an external standard, so they just modified them when it seemed to make sense to them. Thus, they are out of sync with the standard.

S

[2016-10-12 21:34] joaocgreis opened #9067 "process.on beforeExit broken on Windows"
* **Version**: all >=4.0.0
* **Platform**: Windows
* **Subsystem**: v8, lib (?)

Investigating https://github.com/nodejs/node/pull/8821#issuecomment-251080232 , I found that `process.on('beforeExit', ...)` is broken on Windows if node is not invoked from the Windows Command Prompt. Here is a simple repro:

[code]

This triggers an infinite loop printing `beforeExit` to `stdout`. This happens when

[2016-10-12 21:36] Revision18 commented on #9050
OK. Can I include a link to this issue? I don't remember to see links to github issues in the docs before.

I was thinking in some kind of additional warning in the same paragraph were the documentation states that if you register a listener for SIGINT then node won't exit by itself anymore. But I don't sure how to word it as English is not my natural language.

The current warning alone, as It ha

[2016-10-12 21:52] mk-pmb commented on #9063
Removing the numbers, and adding an annotation to the spec URL (or removing it) will probably avoid some bug reports in case the comment will be modified to match the code.
I suggest to add new numbers though (maybe prefixed with "N"?) to simplify discussion about them independent of line numbers.

[2016-10-12 22:25] reallistic commented on #5893
@jbergstroem what I mean is that I agree with the comments above that this shouldn't fall on Node.js' hands and also warning that the `dnscache` module suggested could cause more problems.

[2016-10-12 23:47] Fishrock123 commented on #9063
We don;t follow CJS so the comments should not be considered part or forming any standard but rather just regular code comments.

[2016-10-12 23:48] Fishrock123 commented on #9067
@joaocgreis what happens if you follow it up by adding a `setImmediate()` to the end?

[2016-10-12 23:52] Fishrock123 commented on #8912
Doing this would probably also help performance.

[2016-10-12 23:57] the1mills opened #9069 "http core module issue"
on Node.js 6.7

I got this while using require('http').request()

[code]

probably shouldn't be happening no matter what the input data is, but here it is:

[code]

curious as to what might be happening thanks, setting agent to false, will prevent this error being thrown...

[2016-10-13 00:30] joaocgreis commented on #9067
[code]
does not make any difference, still gets stuck in a loop printing `beforeExit`.

[2016-10-13 01:00] jessicaquynh commented on #9045
So after making the var changes to the functions in the lib/ directory, I am coming across a redeclare error on the iterator variable (`'i' is already defined  no-redeclare`) in multiple instances.

I am certain it's because of the scope differences between `let` and `var`.

I am unsure how to approach resolving this. I could rename all the loop variables, but I don't think that's good convention

[2016-10-13 01:14] mscdex commented on #9069
The [`http` documentation shows valid values for the `agent` property](https://nodejs.org/docs/latest/api/http.html#http_http_request_options_callback). `true` is not one of them.

[2016-10-13 01:17] fundon commented on #9056
@addaleax

creation of objects

[code]

[2016-10-13 01:36] mhdawson commented on #9020
Minutes here: https://github.com/nodejs/node/pull/9070

[2016-10-13 02:18] Fishrock123 commented on #9067
@joaocgreis I meant, does that make it loop with a pipe, or still not?

[2016-10-13 02:20] rvagg commented on #6821
fix @ https://github.com/nodejs/node/pull/9071

[2016-10-13 04:54] bnoordhuis commented on #9067
That isn't too surprising.  The same could happen on Unices with a slow reader and a full pipe.

That seems an unlikely culprit, seeing how it only touches files in deps/v8.

[2016-10-13 06:08] Trott opened #9074 "test-npm-install failing on freebsd 10/11"
`test-npm-install`  is currently failing consistently on `freebsd11-x64` in CI.

Example failure: https://ci.nodejs.org/job/node-test-commit-freebsd/4792/nodes=freebsd11-x64/console

[code]

/cc @TheAlphaNerd @nodejs/testing

[2016-10-13 06:16] Trott commented on #9074
It's a permissions issue.

[code]

[2016-10-13 07:07] crocket opened #9075 "Does nodejs have interface definition language(.idl) files for automatic generation of bindings in alternative javascript languages?"
DOM has .idl files, and alternative javascript langauges automatically generate bindings to DOM from .idl files.

Does nodejs have an equivalent to .idl files?

[2016-10-13 07:40] bnoordhuis commented on #9075
Node.js core (what this issue tracker is for) does not.  Node.js the ecosystem may, https://github.com/nodejs/help/issues is the best place to ask.

[2016-10-13 07:40] #9075 closed

[2016-10-13 07:46] felixonmars opened #9076 "6.8.0 fails to compile on Arch"
I am getting the following build error when trying to compile the latest 6.8.0 release:

[code]

[2016-10-13 08:07] mscdex commented on #9076
Out of curiosity, which compiler and compiler version?

/cc @nodejs/v8-inspector

[2016-10-13 08:10] felixonmars commented on #9076
The compile is g++ (GCC) 6.2.1 20160830

[2016-10-13 08:38] Nibbler999 commented on #9076
Fixed by #9077

[2016-10-13 08:54] felixonmars commented on #9076
I have applied the patch in #9077. Thank a lot!

[2016-10-13 09:32] luozan opened #9078 "about getter/setter"
`
Room.prototype.mainChannel = {
    get:function () {
        return this._mainChannel;
    },
    set:function(value){
        this._mainChannel = value;
    }
}
`

it's working all right.but another not:

`
Player.prototype.user = {
    get:function () {
        return this._user;
    },
    set:function (value) {
        this._user = value
    }
}
`

Here is result when I print "player.user":

[2016-10-13 10:10] bnoordhuis commented on #9078
Please post this to https://github.com/nodejs/help/issues or some other channel, this issue tracker is not for general JS questions.

[2016-10-13 10:10] #9078 closed

[2016-10-13 10:12] mk-pmb commented on #9063
How about replacing the comment that was 7.4 with:

I think that's what the current code does.

[2016-10-13 10:49] addaleax commented on #9056
@fundon `Stream()` wouldn’t work because it’s a `class` :/

[2016-10-13 10:58] seishun commented on #8987
The issue here is that libuv maps `ERROR_INVALID_NAME` to `UV_ENOENT` [here](https://github.com/nodejs/node/blob/db1087c9757c31a82c50a1eba368d8cba95b57d0/deps/uv/src/win/error.c#L135). This particular mapping was [added](https://github.com/libuv/libuv/commit/aea5db5da1483d1ab0a1d3e4f622df312202d027) by @piscisaureus way back in 2012.

The question is what it should map to instead. Would `UV_EINVAL

[2016-10-13 11:09] ncopa commented on #4270
I believe that when major distros ships openssl-1.1.0 then will people who uses the official node binary with bundled openssl have problems with 3rd party modules that uses the system openssl.

[2016-10-13 11:14] seishun commented on #9067
Seems to be expected behavior to me. `console.log` is non-blocking when writing to a pipe, so calling it schedules additional work for the event loop, effectively cancelling the exit.

[2016-10-13 11:35] #2443 closed

[2016-10-13 12:36] seishun commented on #5620
Simpler testcase: `node.exe test.js` in Git Bash.

This happens because the call to `pNtQueryInformationFile` hangs [here](https://github.com/nodejs/node/blob/db1087c9757c31a82c50a1eba368d8cba95b57d0/deps/uv/src/win/pipe.c#L1934).

Might be a Windows bug?

[2016-10-13 13:00] fundon commented on #9056
@addaleax Do you talk about this?

[code]

[2016-10-13 13:02] joaocgreis commented on #9074
Proposed solution: https://github.com/nodejs/node/pull/9079

[2016-10-13 13:36] milaniliev opened #9080 "Cipher without output encoding does not return Buffer"
* **Version**: v6.8.0
* **Platform**: Darwin miliev-MBP.local 16.1.0 Darwin Kernel Version 16.1.0: Tue Sep 27 21:00:33 PDT 2016; root:xnu-3789.21.1~7/RELEASE_X86_64 x86_64
* **Subsystem**: crypto

The crypto module doc for both Cipher and Decipher states that "If no output_encoding is provided, a Buffer is returned." (https://nodejs.org/api/crypto.html#crypto_cipher_update_data_input_encoding_outp

[2016-10-13 13:48] sam-github commented on #9067
Expected behaviour as described by @seishun, and documented: https://nodejs.org/api/process.html#process_event_beforeexit

[2016-10-13 14:06] saghul commented on #5620
@seishun I'm not sure what happens in that case TBH. Git Bash is a MSYS based environment AFAIK, so I wonder if it will load that super-old CRT MSYS was based on.

[2016-10-13 14:12] bnoordhuis commented on #9080
This implicitly stringifies the buffer that .final() returns.  More generally, the ciphertext is binary data and will get mangled when you turn it into UTF-8.  I don't see a bug here, just inappropriate use of the API.

[2016-10-13 14:12] jorangreef commented on #678
I created a module, [crypto-async](https://github.com/jorangreef/crypto-async), to test out the idea of doing cipher, hash and hmac operations in the threadpool. Latency is only slightly affected or not all through interaction with the thread pool, but the throughput gains are up to 3x. Best of all, the event loop is not blocked. The benchmark is [here](https://github.com/jorangreef/crypto-async#p

[2016-10-13 14:16] jorangreef commented on #8318
In case anyone else is looking for async cipher, hash or hmac operations, I created a native module, [crypto-async](https://github.com/jorangreef/crypto-async), to execute these in Node's threadpool without blocking the event loop. The latency is very close to Node's operations, but the throughput is much better because more CPU cores can be utilized. The module includes a latency and throughput c

[2016-10-13 14:18] archasek opened #9081 "NodeJS started to serve static files very slowly"
#### Expected behaviour
Faster serving static files for development purposes (I know that on production NodeJS should not serve static files because it's slow). I need it only for local dev env.

#### Actual behaviour
When I refresh the website, very frequently it get stuck and it takes a few/dozen seconds to render.
In realtime logs, there is also no information about successful requests (I don't

[2016-10-13 14:22] bnoordhuis commented on #9081
Can you report that over at https://github.com/expressjs/express or if your question is more in the realm of general support, https://github.com/nodejs/help?  This bug tracker is for node.js core-related issues only, which express.js is not.

[2016-10-13 14:22] #9081 closed

[2016-10-13 14:28] saghul commented on #5620
Yes, it's a Win32 API function, but stdin / out / err are CRT fds, so I guess the problem comes somewhere around there.

[2016-10-13 14:32] bnoordhuis commented on #678
@jorangreef Looks interesting and the numbers are impressive but I'm curious how it holds up in real-world scenarios.  Since it uses thread pool, it's going to suffer from head-of-line blocking if there are slow DNS or file operations queued up.

[2016-10-13 14:36] jorangreef commented on #678
Thanks @bnoordhuis, would increasing UV_THREADPOOL_SIZE to 64 or 128 help? I think UV_THREADPOOL_SIZE should usually be more than the number of CPU cores because most of the threads will be waiting and will not be hot on the CPU?

[2016-10-13 14:44] addaleax commented on #9056
@fundon If you turn `Stream` into a proper class, that breaks things like `Stream.call(this);` in the `Writable` constructor. You can somewhat work around that but once you’re at the double inheritance of `Duplex`es, things get really tricky…

[2016-10-13 14:52] bnoordhuis commented on #678
That should help when most threads are blocked on I/O but latency will probably go through the roof when you have all 64 or 128 threads doing encryption.

With computationally bound workloads you normally don't want more than N or N-1 threads (where N = number of cores) because otherwise you pay too much in scheduling overhead.

[2016-10-13 14:59] jorangreef commented on #678
Yes, with the benchmark I set concurrency to 1/2 number of available cores to keep latency within reasonable bounds: https://github.com/jorangreef/crypto-async/blob/master/benchmark.js#L6

[2016-10-13 15:00] jorangreef commented on #678
I was surprised that latency increased already when using N, and N-1 threads (where N = number of cores). I thought it would only increase from N-1. Is there some contention in the threadpool that can be optimized?

[2016-10-13 15:04] jjhesk commented on #947
Just discovered EPIPE with uploading 6.4 MB data to the cloud.

[2016-10-13 16:08] jbergstroem commented on #9074
The problem was that jenkins slave ran as root prior. I've adjusted permissions but I'd still like to see #9079 land.

[2016-10-13 16:18] no1melman opened #9082 "watch always fires rename event"
- **Version**: v6.5.0
- **Platform**: 64-bit Windows 10
- **Subsystem**: fs

Running the below code, the eventType will always be `rename` whether I delete, add file...:

[code]

[2016-10-13 16:19] jbergstroem commented on #9076
Lets keep this open until the PR lands.

[2016-10-13 17:12] bnoordhuis commented on #678
`perf record` should be able to tell you but if there is contention, it's probably around the global queue lock.  Are there other processes running when you benchmark?  Do you have SMT (hyperthreading) enabled?  What does the page fault rate look like?  (Perf can measure that last one.)

[2016-10-13 18:00] ORESoftware commented on #9069
well shoot, maybe http should throw a better error when you pass an unacceptable value as an option..right?

[2016-10-13 18:08] Trott commented on #9045
@jessicaquynh I don't think there should be any changes at all to the `lib` directory with this change other than adding one line to `.eslintrc`. There are no violations of this lint rule in the `lib` directory so the files there can be left unchanged (other than the `.eslintrc` file).

[2016-10-13 18:09] knownasilya commented on #8369
Ping

[2016-10-13 18:21] TheAlphaNerd commented on #8369
/cc @nodejs/v8-inspector

[2016-10-13 18:23] Trott commented on #9063
A contribution that makes the comments more accurately and clearly reflect what is going on in the code would be welcome.

[2016-10-13 18:32] milaniliev commented on #9080
Thank you for your quick response!

I see, JS's `+` is coercing the two Buffer objects into strings, because that's what JS does to non-Numbers.

I just confirmed that replacing
[code]
with
[code]
keeps encrypted_message as a Buffer (and therefore does not mangle it by making it into UTF-8 or anything, and the decryption works fine).

My bad, this is indeed improper use of the API. All the example

[2016-10-13 18:32] #9080 closed

[2016-10-13 18:57] bnoordhuis opened #9083 "src: squelch unused function warnings in util.h"
Paper-cut issue.  When you include util.h but not util-inl.h, you get the following warnings:

[code]

[2016-10-13 19:13] Fishrock123 opened #9084 "setImmediate regression in v6.8.0"
* **Version**: v6.8.0
* **Platform**: ?
* **Subsystem**: timers

See: https://github.com/TryGhost/Ghost/issues/7555
Moving from: https://github.com/nodejs/node/pull/8655#issuecomment-253453520

Regression from [`timers: improve setImmediate() performance`](https://github.com/nodejs/node/commit/0ed8839a279ba2597ae9fc54517030b16116207d) (https://github.com/nodejs/node/pull/8655)

--

[code]

cc @eri

[2016-10-13 19:27] jbergstroem commented on #9084
CC reviewers: @jasnell, @imyller.

[2016-10-13 19:28] Fishrock123 commented on #9084
Smells like a problem with the new linkedlist bits but I'm having a hard time pinpointing it from the diff.

[2016-10-13 19:33] targos commented on #9084
Hint: it works correctly if the `clearImmediate(immediate);` line is removed.

[2016-10-13 19:36] aimnadze opened #9085 "HTTP client strange behavior when server responds immediately without reading request body"
* **Version**: 6.8.0
* **Platform**: Linux laptop1 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-2+deb8u3 (2016-07-02) x86_64 GNU/Linux

In the example below an HTTP server doesn't read the the request body, but returns the response immediately. If the client sends large data (e.g. 10,000,000 bytes) ECONNRESET error is emitted at client-side but on small data (e.g. 1,000,000 bytes) the programs runs s

[2016-10-13 19:38] aimnadze commented on #9085
Maybe related to #8775

[2016-10-13 19:54] patrickd- commented on #8827
unfortunately I'm still able to reproduce this bug with node 6.8.0

[2016-10-13 20:17] jessicaquynh commented on #9045
@Trott Ah! I understand my misstep now. I was running the test with the rule in the `node/.eslintrc` instead of the one in `lib` which cropped up those errors. Thank you for the clarification.

[2016-10-13 20:24] piscisaureus commented on #8987
You could change it (major version), but before you do so, do some research into what different "libc" implementations do on windows - at least try what error the open() call in msvcrt produces when you try to create a file with an invalid name, and try cygwin too.

[2016-10-13 20:37] Trott commented on #9084
This looks like it's related to the re-ordering of timers and immediates.

Take this code:

[code]

In 6.7.0, it returns:

[code]

But in 6.8.0, it returns:

[code]

[2016-10-13 20:40] Trott commented on #9084
Docs say `setImmediate()` should fire before timers, so if I'm understanding correctly, the 6.8.0 behavior is a regression.

[2016-10-13 20:43] jasnell commented on #9084
Let's revert the change and pinpoint the issue after.

[2016-10-13 20:43] silverwind commented on #8987
A `/` is a invalid character in a filename on all likely all Linux filesystems. The returned error code depends on the location of the `/` in the filename:

[code]

[2016-10-13 20:46] Trott commented on #9084
If you or someone else opens a revert PR, maybe leave it open for 48 hours per our usual process and if we get a performant fix in for it between now and then, we can avoid the revert. Not opposed to reverting, but also not much of a benefit to doing it immediately if there's not going to be a v6.8.1 release this week.

[2016-10-13 21:06] seishun commented on #8987
@piscisaureus

Good idea. I assume you meant fopen, not open. `fopen("foo??", "w")` sets `errno` to `EINVAL` in both CRT and MSYS2.

@silverwind

In both of your examples, `/` is interpreted as a path separator. I don't think it's even possible to make Linux interpret it as part of the file name.

[2016-10-13 21:27] mscdex commented on #9084
I have a fix coming shortly.

[2016-10-13 22:08] Fishrock123 opened #9087 "v6.8.1 patch release?"
Seems like there are at least two non-trivial regressions in v6.8.0... maybe we should do a v6.8.1 tomorrow?

cc @nodejs/release ... I don't have time to do it though.

Issues:
1. setImmediate regression in v6.8.0 https://github.com/nodejs/node/issues/9084
2. Writable Stream inheritance regression https://github.com/nodejs/node/pull/8834#issuecomment-253640692

[2016-10-13 22:10] mscdex commented on #9084
Proposed fix: https://github.com/nodejs/node/pull/9086

[2016-10-13 22:10] evanlucas commented on #9087
I'll take it

[2016-10-13 22:18] Fishrock123 commented on #9087
Fixes:
1. https://github.com/nodejs/node/pull/9086
2. https://github.com/nodejs/node/pull/9088

[2016-10-13 22:44] ORESoftware opened #9090 "feature request - callbacks in exit handlers - to block even if async code is used"
I'm on the latest version of Node (6.7)

I have been using Node for awhile and one thing that seems to be a missing feature is shutdown hooks that are "blocking", even if they feature async code. To "block" in this case would require callbacks. A simple use-case is a child_process that needs to use `process.send()` (with a request/reply) pattern with a parent process. process.send() is async, and

[2016-10-13 22:54] seishun commented on #9082
'rename' is emitted for all metadata changes. Maybe the docs could be a bit clearer about this.

[2016-10-13 23:11] mscdex commented on #9090
If there is an unhandled exception, you can register a listener for that which will prevent node from exiting by default:

[code]

[2016-10-13 23:23] addaleax opened #9091 "Process around new contributors in Node core"
Hi everyone!

I’ve been trying to gather some feedback on our collaboration process from talks with other collaborators, in particular relatively fresh ones.

So here’s a few things that emerged from that and that I would consider worth mentioning to everybody (and at least as a reminder to myself):
- We are doing a good job at making people feel that contributions to core are a significant accomp

[2016-10-13 23:27] ORESoftware commented on #9090
that might solve the problem, not sure why it didn't occur to me, let me think about it for a bit

[2016-10-13 23:44] not-an-aardvark commented on #8744
Could you try increasing [this number](https://github.com/nodejs/node/blob/ec7f3a16749cd84679dc2de091eded17c6229827/test/sequential/test-crypto-timing-safe-equal-benchmarks.js#L31) by an order of magnitude or so, to see if that fixes the issue on that machine?

[2016-10-13 23:47] TheAlphaNerd commented on #9087
We should also include https://github.com/nodejs/node/pull/9077 which fixes a build error on Arch

[2016-10-14 00:16] petermp commented on #3072
@santigimeno  I was preparing to send you the test client/server. However, the crash was gone after I increased the system file descriptors from 1024 (default) to 65535. I guess this is the problem. Wonder if this lead helps other crash scenarios.

 _http_server.js:340
  socket.on('drain', socketOnDrain);
         ^

TypeError: Cannot read property '_externalStream' of null
    at Server.connectio

[2016-10-14 00:24] grahamc commented on #9076
Same on NixOS (https://github.com/NixOS/nixpkgs/issues/19481, https://github.com/NixOS/nixpkgs/pull/19510). Fixed the issue, thank you!

[2016-10-14 01:06] vsemozhetbyt commented on #9046
See https://github.com/nodejs/help/issues/198

[2016-10-14 01:22] samheutmaker opened #9092 "Node v6.8.0 breaks webpack via fsstream"
* **Version: v6.8.0**
* **OS: Darwin 15.3.0**
* **Subsystem: fsevents**

We upgraded our stack to the latest stable version of Node (v6.8.0) and found that running webpack with the --watch flag would crash the process. We were able to run webpack just fine without the --watch flag. We also downgraded to node v6.6.0 and webpack with --watch flag set worked as usual. The core fs module was changed i

[2016-10-14 01:24] #8893 closed

[2016-10-14 01:30] Tanuja-Sawant commented on #9083
I'd like to work on this issue as part of my Outreachy application process

[2016-10-14 01:34] Tanuja-Sawant commented on #9083
I'd like to work on this issue as part of my Outreachy application process.

[2016-10-14 01:53] mscdex commented on #9092
FWIW [`fsevents`](https://github.com/strongloop/fsevents) is a third-party addon.

Is there more output than that? Could you try running with a debug version of node under gdb/lldb to get a line number in the backtrace?

At any rate, I think this would be better posted over on `fsevents`' issue tracker [here](https://github.com/strongloop/fsevents/issues).

[2016-10-14 02:08] Tanuja-Sawant commented on #9083
I'd like to take up this issue as part of my Outreachy application. @bnoordhuis, will using (void) help?

[2016-10-14 02:08] Tanuja-Sawant commented on #9083
I'd like to take up this issue as part of my Outreachy application. @bnoordhuis, will using (void) help?

[2016-10-14 02:08] Tanuja-Sawant commented on #9083
I'd like to take up this issue as part of my Outreachy application. @bnoordhuis, will using (void) help?

[2016-10-14 02:29] Tanuja-Sawant commented on #9083
I think the compiler needs to know the function to actually inline it. So including the implementation in the header file should solve the problem.

[2016-10-14 02:39] Tanuja-Sawant commented on #9083
I think the compiler needs to know the function to actually inline it. So including the implementation in the header file should solve the problem. util-inl.h has the implementation, whereas util.h does not, hence the warnings. Simply copying the implementation to util.h will work

[2016-10-14 03:45] Tanuja-Sawant commented on #9083
I think the compiler needs to know the function to actually inline it. So including the implementation in the header file should solve the problem. util-inl.h has the implementation, whereas util.h does not, hence the warnings. Simply copying the implementation to util.h will work

[2016-10-14 04:12] htran81 commented on #2814
@mathiask88 Thanks you! It worked for me.

[2016-10-14 04:13] Tanuja-Sawant commented on #9083
I'll reference a pull request soon

[2016-10-14 06:17] yeedm commented on #2084
Yup, I do have a Windows. (And I also have access to computers that run Linux at my college's computer lab.) @rvagg I've loaded all the packages and have been following the Windows Server R2 set up here https://github.com/nodejs/build/commit/23d3246014732b9325a687c3c9d10f1b11bf9ccf. I was hoping to have everything installed but I've run into a bit of trouble installing Gyp and Jenkins... I'm still

[2016-10-14 07:42] bnoordhuis commented on #9092
Let's continue this over at fsevents.  If it turns out to be a bug in node.js core, I'll reopen the issue.  By the way, is that with an official binary you downloaded from nodejs.org or does it come from elsewhere?

[2016-10-14 07:42] #9092 closed

[2016-10-14 07:46] bgSosh commented on #3072
@petermp The file descriptor limits on our servers are set to 200000 (hard and soft), and we are still regularly encountering this bug, so I don't think this is the cause.  Perhaps a lower limit increases the chances of it happening.

[2016-10-14 08:11] samheutmaker commented on #9092
The official binary installed via nvm.

[2016-10-14 08:15] bpasero commented on #7657
We are seeing a similar issue in VS Code where the application just hangs after sufficient amount of data is sent between a node process and its forked child.

I would appreciate if someone can enlighten me about the `boolean` return value of `process.send`. According to the docs:

In my reproducible case I see `false` being returned from `process.send` and if I stop sending data at that point I d

[2016-10-14 08:38] bnoordhuis commented on #9090
That's a terrible idea in general.  If you have an unexpected exception then by definition your program is in an undefined state.  The documentation for the uncaughtException event is very clear that trying to continue, or simply staving off program exit, is a recipe for unpredictable behavior.

[2016-10-14 08:38] bpasero commented on #7657
Our understanding now is to use `process.send` in the following way:
* if the return value is true, just continue sending
* if the return value is false, assume the message was not delivered and store the message in a buffer
* wait for the callback of process.send to return before sending additional data

Can someone confirm the following pseudo code?

[code]

What worries me is that here I am ass

[2016-10-14 08:39] chikathreesix commented on #8798
@jbergstroem Thanks for your feedback. What do you mean by a consistent experience for the animation/popup?

@ChALkeR Issue 3 and 6 was already fixed. For issue 5. weird box definition, I found that that the height of the element is defined 0px in its CSS so we can't fix this from our-end.

[2016-10-14 08:40] bnoordhuis commented on #8744
With numTrials = 1e5, the test passes five times in a row:
[code]
Aside: 6 seconds for a sequential test is really too long.  Sequential tests should ideally finish in under a second.

[2016-10-14 08:51] bnoordhuis commented on #7657
@bpasero The return value indicates whether node.js was able to send the message right away (true) or had to buffer it (false).  You can keep sending messages and node.js will dutifully buffer them but that may result in unbounded memory growth so as a rule of thumb, when `process.send(message, callback)` returns false, you should back off until the callback is called.  You don't need to resend th

[2016-10-14 08:56] bnoordhuis commented on #9091
Can you clarify what you mean?

[2016-10-14 08:58] jorangreef commented on #678
I ran `--prof` instead of `perf record` if that's fine. Both machines have hyperthreading I think, `os.cpus()` shows 4 or 8 cpus when there are physically 2 or 4 cores respectively.

[code]

[2016-10-14 09:06] bnoordhuis commented on #678
--prof only profiles the main thread.

[2016-10-14 09:18] bnoordhuis commented on #9085
I'm curious, what would you expect to happen?  This is basically a no-win situation for the client.

[2016-10-14 09:19] bpasero commented on #7657
@bnoordhuis thanks for the explanation, this should probably go into the docs of `child_process.send.`

I will try to follow that approach, however I would be surprised if the node-process deadlock is fixed with that approach. It may just make it less likely to happen.

[2016-10-14 09:30] jorangreef commented on #678
[code]

I ran `perf record` and uploaded the flamegraph [here](https://www.dropbox.com/s/gbexoporfb7rl7z/node-flamegraph.svg?dl=0).

How can one get the page fault rate from the raw output?

[2016-10-14 09:42] aimnadze commented on #9085
The server should send `Connection: close` header and close the TCP connection. After which the `error` event should probably be emitted at client-side.

So far I came to the following solution which I'm no sure is the best way:
[code]

[2016-10-14 09:59] jjcr opened #9094 "Encountering problems while executing : npm install exec-sync"
Version: output of `node -v`
Platform: Linux 3.2.0-4-amd64 #1 SMP Debian 3.2.68-1+deb7u1 x86_64 GNU/Linux

Version info :

[code]
I try to install the following dependencies :

[code]
So i do an npm install the following dependencies are installed:
[code]
But the exec-sync delivers the following error:
[code]

Im a litte bit lost at this point, i tried the following things:

Deleted all the node_m

[2016-10-14 10:17] bnoordhuis commented on #678
You can collect it with `perf record -e cpu-clock,page-faults`.  See `perf list -h`, you can also split it out by major and minor page faults.

[2016-10-14 10:17] Tanuja-Sawant commented on #9083
@bnoordhuis, do I need to make changes to util.h to add implementation or was it just a doubt you wanted to clarify? Because adding implementation would be equivalent to using util.h

[2016-10-14 10:21] bnoordhuis commented on #9085
Why?  Keep-alive is the default in HTTP/1.1.  If you want the server to send a Connection header, you should add it explicitly.

Let's make sure we are on the same page.  Is your bug report against the built-in HTTP server or the client?

[2016-10-14 10:29] bnoordhuis commented on #9083
I was thinking more of adding a NODE_UNUSED macro that evaluates to `__attribute__((unused))` on GCC-compatible compilers (or `[[gnu::unused]]` or `[[maybe_unused]]`) and to `__declspec(whatever_ms_uses)` for Visual Studio.

[2016-10-14 10:33] bnoordhuis commented on #9094
You should probably report this against the ffi project, seeing how that is giving you trouble.  Make sure you have the prerequisites from https://github.com/nodejs/node-gyp installed (basically, a working compiler toolchain.)

If you can't make it work, file an issue over at https://github.com/nodejs/help.  This issue tracker is only for node.js core-related issues (which your issue isn't) so I'l

[2016-10-14 10:33] #9094 closed

[2016-10-14 13:00] bpasero commented on #7657
Super simple repro for me:

index.js
[code]

fork.js
[code]

All it needs is a sufficient large enough data that causes the process.send call to return false and both sides need to be sending data.

[2016-10-14 13:24] andybakerbrfc commented on #4329
Hi folks,

Just adding a +1 on this issue. I was attempting to do a per-user install of v4.6.0 on 64-bit (Windows) - "Microsoft Windows 7 Professional 6.1.7601 Service Pack 1 Build 7601" via

msiexec /I node-v4.6.0-x64.msi ALLUSERS=2 MSIINSTALLPERUSER=1

I encountered the same issue.

As commented above, unchecking performance counters resolves the problem. (Initially found the fix via https://git

[2016-10-14 13:34] ignacio-chiazzo commented on #3606
Same issue when I run _phonegap run ios_

Output :

[2016-10-14 15:28] Fishrock123 commented on #9090
It may be more useful to check to see when the process dies and do external cleanup from another application.

[2016-10-14 15:50] Fishrock123 commented on #9091
related: https://github.com/nodejs/node/pull/6885

[2016-10-14 15:53] rideg opened #9096 "Buffer.slice unexpected behavior"
* **Version**: v6.7.0
* **Platform**: Linux 3.13.0-96-generic Ubuntu SMP x86_64 GNU/Linux
* **Subsystem**: NodeBuffer

It seems if one provides a non integer boundary to the slice function then the later slice calls on the same buffer provide wrong chunks.

Test case to reproduce

[code]

And the result is:

[code]

In this test case the result buffer misses the last byte from the original one.

I

[2016-10-14 17:10] mscdex commented on #9096
/cc @nodejs/buffer

[2016-10-14 18:06] ORESoftware commented on #9090
@bnoordhuis this is for a test framework/library. Errors thrown from test cases may reach the uncaughtException handler. Testing inverts the software development process a bit, because thrown errors are more expected. So in this case, the user/dev will have shutdown hooks that should always run, even if an uncaughtException occurs. The test process(es) will exit with a value greater than zero, tha

[2016-10-14 18:10] danbev commented on #4641
Would you be able to help me by providing some more details on how this should/could be done?

[2016-10-14 19:37] ramsunvtech opened #9102 "Event Loop link is broken"
* **Version**: v6.7.0

The below page has broken link for event loop
[code]

[2016-10-14 20:03] fanatid opened #9103 "Module._extensions as Array"
* **Subsystem**: Modules

Right now `Module._extensions` (`require.extensions`) is `Object` and I sure it is obvious type for storage functions that load different modules (`.js`/`.json`/`.node`/etc).
But `Object.keys` which used in modules loading algorithm is not deterministic*, what means that we can not say what file will be loaded if file haven't explicit extension.

\* not deterministic by s

[2016-10-14 20:24] Fishrock123 commented on #9103
If you don't register the extension Node.js has no way of recognizing it. I don't understand the issue?

[2016-10-14 20:31] fanatid commented on #9103
@Fishrock123 if I not set handler for `.es6` in example above (with `main` = `index`) `node` load ES5 code from `index.js`.

Of course I can do:
[code]

and all will works. But nobody guarantee that `Object.keys` will always return keys in order in what they was added.

[2016-10-14 20:39] zdroid commented on #9102
The issue has been fixed now.

[2016-10-14 20:40] #9045 closed

[2016-10-14 21:05] #9084 closed

[2016-10-14 21:39] mscdex commented on #4641
/cc @bnoordhuis ^

[2016-10-14 21:40] #9102 closed

[2016-10-14 21:49] arlolra opened #9105 "Redefinition of function in context"
Is this expected?

[code]

Pre- node v0.11.7, this used to log `> green`.

[2016-10-14 21:52] Fishrock123 commented on #9105
duplicate of https://github.com/nodejs/node/issues/548

[2016-10-14 21:52] #9105 closed

[2016-10-14 21:53] arlolra commented on #9105
@Fishrock123 ok, thanks

[2016-10-14 23:02] evanlucas commented on #9103
The module system is locked. I know I've seen usage of `require.extensions` in the wild, so I'm not sure if we would ever be able to break that api.

[2016-10-14 23:04] petermp commented on #3072
@bgSosh Yes, I recognized that. My encounter is one of the scenarios. I think the statement leading to the crash indicates the error leading to '_externalStream' crash. In my case, it was:

_http_server.js:340
 socket.on('drain', socketOnDrain);
^

I remember running into the same type of crash with different leading error.
I start keeping track of them ... Will do more stress tests.

[2016-10-15 00:43] Fishrock123 commented on #9103
@fanatid could you use a getter/setter?

[2016-10-15 00:50] evanlucas commented on #9087
Release is out https://nodejs.org/en/blog/release/v6.8.1/

Thanks!

[2016-10-15 00:50] #9087 closed

[2016-10-15 00:58] addaleax commented on #9091
I’ll try. I think it mostly boils down to the two explicit goals of reviewing that we [mention in our onboarding doc](https://github.com/nodejs/node/blob/c457b928d08b4714334de93ff7c3a9857c8c26f4/doc/onboarding.md#managing-the-issue-tracker):

* The primary goal is for the codebase to improve.
* Secondary (but not far off) is for the person submitting code to succeed.

Evaluating PRs in their curre

[2016-10-15 01:44] cojomojo opened #9106 "fs.statSync does not throw an error when accessing non-existent directory on Windows 10"
* **Version**: v6.7.0
* **Platform**: Windows 10 (64 bit)
* **Subsystem**: fs

On Windows 10, I am not getting the same behavior of fs.statSync when trying to access a non-existent directory as I do on Linux. The expected result is for an error to be thrown, which occurs on Linux, but not on Windows 10.

Example:

[code]

[2016-10-15 02:21] Trott commented on #9091
@addaleax has already expanded on this quite a bit. I'd like to add an example. Insert standard caveat that I am guilty of these things myself from time to time.

In my opinion, and over-simplifying a bit, it boils down to:

**Mentoring** = helpful and providing positive direction.
**Judging** = criticizing without offering a nudge in the right direction.

So, the example:

* **The "This has been

[2016-10-15 02:26] Trott commented on #9091
(Also, it's hard to avoid "this has been discussed before" when someone drops in the middle of a conversation with something. It's unlikely to be worth it to invest a ton of effort into addressing every rando's comments with a bunch of references. So, you know, context, I guess.)

[2016-10-15 03:33] joaocgreis commented on #5620
This is related to https://github.com/nodejs/node/issues/3006 .

In Git Bash, with `node.exe test.js` I get the issue described here (PIPE), but with `node test.js` it works fine (TTY). However, `winpty` works well either way:

[code]

[2016-10-15 03:34] thefourtheye commented on #9091
Can we have boilerplate text which would ask the users politely and in a more engaging way?

Personally I would be happier if somebody gave me a document like this, rather than them telling me to fix the mistakes one by one. That might make one feel that the reviewer might be judging.

---

If we want to make the contributing process easy for the new contributors and as well the collaborators, aut

[2016-10-15 06:41] lpinca commented on #9091
I think I've used this many times but hopefully in a friendly manner. The reason is that it takes more time for me to reword the commit message than reviewing/landing the whole pr.
Another reason is that I don't like to change the words used by the authors without their consent as it is part of their contribution.

Anyway I'll try to avoid that now.

[2016-10-15 06:55] #9056 closed

[2016-10-15 07:12] bpasero commented on #7657
As expected, using `process.send` more gracefully by checking the return code and only continuing to send data when the callback is hit does not solve the freeze. It just makes it a little bit less likely because you end up sending data after a `setTimeout(0)`.

[2016-10-15 08:17] not-an-aardvark commented on #8744
Where should the test go instead? Pummel?

This is sort of an unusual test in that it requires running a very large number of benchmarks, so reducing the runtime without making it flakier is probably going to be non-trivial. But I'd be happy to move it to a different place if that makes it less annoying while developing.

[2016-10-15 08:27] not-an-aardvark commented on #9069
If it accepts `false`, it seems like it should also accept `true` for consistency (which would be equivalent to not providing the parameter).

[2016-10-15 10:03] seishun commented on #5620
In case anyone is wondering, this is because Git Bash aliases `node` to `winpty node.exe`. According to @dscho, they have to read fewer bug reports this way (see https://github.com/git-for-windows/git/issues/738#issuecomment-213424855).

[2016-10-15 11:41] seishun commented on #9106
Can't reproduce. Can you provide an example of path_to_missing_dir?

[2016-10-15 12:28] addaleax commented on #9091
Yeah… I don’t particularly like that either, and pointing out that the commit message should be updated to conform to certain standards *is* okay. I would say that it depends on the user – in particular, if it’s obvious that one is dealing with someone who has the necessary experience with git, some short hint might suffice, and I can see why some people would want to receive only that information

[2016-10-15 13:16] targos commented on #8155
I confirm it works with v6.8.0!

[2016-10-15 13:16] #8155 closed

[2016-10-15 13:31] #8793 closed

[2016-10-15 15:50] soleboxy commented on #8913
well i guess we have PRs for everything

[2016-10-15 17:16] aimnadze commented on #9085
Sorry, I'm not a native English speaker, so sometimes I fail in explaining well. I tried to tell the story in short. Well...

My issue is about the client. If any server returns an early response, sometimes an `error` event is emitted at client, sometimes not, depends on how much data the client has sent in a request body.

In case of server sending an early response, I though explicitly sending `

[2016-10-15 17:17] bnoordhuis commented on #8744
Pummel is probably the best place for it.  The one downside is that pummel tests aren't run regularly.

[2016-10-15 17:30] evantorrie commented on #9076
Same on RHEL6

[2016-10-15 18:04] evantorrie opened #9110 "6.8.1 fails to fix const error for shared-zlib older than 1.2.5"
* **Version**:  6.8.1
* **Platform**:  Redhat Linux 6.8, DevToolset 4 toolchain (gcc 5.3)
* **Subsystem**:  compilation

`ZLIB_CONST` was added in zlib-1.2.5.2 (see http://zlib.net/ChangeLog.txt)

Redhat Linux 6.8 is still on zlib-1.2.3, and as such does not have the `ZLIB_CONST` feature.

Even with the change in #9077, compiling nodejs wih --shared-zlib fails on this system, with the same error a

[2016-10-15 18:12] ORESoftware commented on #9069
right, this is a little weird tbh

[2016-10-15 18:13] bnoordhuis commented on #9091
How would that work this side of the Singularity?  Writing up a good commit log is manual labor, no amount of tooling is going to fix that.  If you mean wrapping long lines, I don't think that is what is being discussed here.

Maybe it's a native/non-native speaker thing but I take such comments on face value, I don't read between the lines.  It's also how I intend it to be taken when I use the ph

[2016-10-15 18:13] ORESoftware commented on #9069
instead of false, it should accept null perhaps

[2016-10-15 18:28] addaleax commented on #9091
Oh, yeah, me too – we shouldn’t make it be perceived that way. I think it does depend a lot on how you use them; for example, I have my “author name” template, which has served me pretty well so far:

If you think that that sounds too unpersonal (obviously, the ellipsis is filled out before posting it), *please* tell me. Generally, this seems to have worked pretty well.

[2016-10-15 18:42] Trott commented on #9091
On both of those points: I certainly concede that there is a lot of subjectivity on these sorts of things.

I would be very surprised if everyone agreed with my example.

The more I've been thinking about it, and because of all the subjectivity, I kind of wish I hadn't included the specific example and just left what I said in more general terms.

[2016-10-15 18:42] foxx commented on #1013
@piscisaureus

Uh, [yes it does](https://github.com/c-ares/c-ares/blob/master/adig.c#L557).

[2016-10-15 19:11] cojomojo commented on #9106
The path which I was trying to reach when I came across this problem was `C:\Users\SomeUser\Projects\test\test_sub\.git\`.

[2016-10-15 19:20] seishun commented on #9106
Are you sure that directory actually doesn't exist and isn't just hidden?

[2016-10-15 19:25] cojomojo commented on #9106
Positive it doesn't exist, but I did just try this on another system an can't reproduce.  I am using nvm-windows, and I just upgraded to v6.8.0, and the error was properly thrown.

[2016-10-15 19:32] cojomojo commented on #9106
OK, reinstalled 6.7.0 on my system and the error is properly thrown now as well. Possibly something was corrupted with my original installation of 6.7.0. Looks like this was a non-issue and can be closed.

[2016-10-15 19:32] #9106 closed

[2016-10-15 20:51] mscdex commented on #9110
/cc @bradleythughes ?

[2016-10-16 02:32] felixonmars commented on #9076
Closing as the latest 6.8.1 release has addressed it.

[2016-10-16 02:32] #9076 closed

[2016-10-16 04:56] saghul commented on #1013
Tat function just does some prints, that's not usable. The TTL is only
exposed for a few record types. Someone sent a patch to c-ares at some
point, but it breaks the ABI so alas it was not accepted.

On Oct 15, 2016 20:43, "Cal Leeming" <notifications@github.com> wrote:

[2016-10-16 08:38] sonalbhadani496 commented on #9082
fs.watch , In different operating system this functionality is know by different names .   This is not 100 percent consistent in Windows  10 os  , thats why the event type is always renamed  .
I have read this information from this link   https://nodejs.org/api/all.html#fs_fs_watch_filename_options_listener    .

[2016-10-16 11:07] kapouer opened #9114 "node 6.8: mips-arch-variant not applied everywhere in v8 dep"
Hi,

first see the error in the log file here:
https://buildd.debian.org/status/fetch.php?pkg=nodejs&arch=mipsel&ver=6.8.1~dfsg-1&stamp=1476561178

When building using `--with-mips-arch-variant=loongson`, it seems that some `-mips3 -mfp32` flags are not declared everywhere they need to in `deps/v8/build/toolchain.gyp`, especially when it comes to build `mksnapshot`.
It is certainly a v8 bug, but i

[2016-10-16 11:43] Fishrock123 commented on #9114
@nodejs/v8

[2016-10-16 12:16] vitkarpov commented on #9083
@Tanuja-Sawant hey, are you going to make a macro? Seems this is a good first contribution I'd like to make, but if you're in progress I will not 'course. Anyway I'd like to see the fix when it's done.

[2016-10-16 12:17] vitkarpov commented on #9083
@soleboxy ahaha, seems you're ahead of me :)

[2016-10-16 12:29] bnoordhuis commented on #9114
I don't have the hardware so untested but can you try this patch?
[code]

[2016-10-16 12:29] vitkarpov commented on #9083
@bnoordhuis Hi, Ben. Can you explain for a newbie like me what do you mean by making a macro?

Am I right in assuming it should be like this:

[code]

How is it assumed to be applied in this case and why just not to move inlines like @soleboxy [did](https://github.com/nodejs/node/pull/9115)?

[2016-10-16 12:31] kapouer commented on #9114
@bnoordhuis trying now.

[2016-10-16 12:59] bnoordhuis commented on #9083
Never mind what I said, I thought the warnings were for the non-templated versions but reading the warnings again, it complains about the non-templated versions using template instances.

[2016-10-16 13:16] StefanScherer commented on #8897
Just to clarify, if someone else tries this and wants a temporary solution. This only occurs with Node.js 6.x and works fine with Node.js 4.6.0

[code]

[2016-10-16 13:36] bnoordhuis commented on #9110
We could simply drop the ZLIB_CONST changes and const_cast PROTOCOL_JSON.  I hate the thought of adding ugly hacks for obsolete software but it's too small of an issue to take a principal stand.

[2016-10-16 13:42] bradleythughes commented on #9110
I was going to suggest the same thing. I'll see if I can get a PR up later this evening.

[2016-10-16 14:46] weagle08 commented on #5588
so does this allow me to run on a LAN network just using configured IP with no DNS set?

[2016-10-16 15:13] ScottFreeCode commented on #6273
FWIW, it might not be necessary to set things in the registry directly to accomplish this; Windows has commandline actions to create or update file associations:
http://ss64.com/nt/assoc.html
http://ss64.com/nt/ftype.html

On the other hand, the registry might allow for more fine-grained control. I'm not sure whether those commands change the current user's setting, or the default setting for all

[2016-10-16 15:24] jez9999 opened #9117 "Why does Buffer get reported as being a Uint8Array?"
I'm not sure whether this is a bug or not.

I was debugging some code that receives messages from ZeroMQ, and noticed something that seemed odd - a variable that was meant to be a Uint8Array was returning a `toString` value totally different to what was described on the MDN page:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypedArray/toString

Turns out that th

[2016-10-16 15:32] jessicaquynh commented on #6798
Hi! It seems like it's been awhile since anyone's mentioned anything on this issue. Does anyone mind if I take a go at this?

[2016-10-16 15:41] kapouer commented on #9114
It still fails:
<pre>  g++ '-DV8_TARGET_ARCH_MIPS' '-DCAN_USE_FPU_INSTRUCTIONS' '-D__mips_hard_float=1' '-DENABLE_DISASSEMBLER' '-DV8_I18N_SUPPORT' '-D_MIPS_ARCH_LOONGSON' '-DFPU_MODE_FP32' -I../deps/v8  -pthread -Wall -Wextra -Wno-unused-parameter -fno-strict-aliasing -EL -Wno-error=array-bounds -mhard-float -mips3 -mfp32 -Wa,-mips3 -fdata-sections -ffunction-sections -O3 -O3 -fno-omit-frame-poin

[2016-10-16 15:41] i8-pi opened #9118 "Proxy deleteProperty throws TypeError when returning false"
* **Version**: v6.8.1
* **Platform**: Linux 4.7.6-1-ARCH x86_64 GNU/Linux
* **Subsystem**:

When returning `false` from handler.deleteProperty of a Proxy, a TypeError is thrown
[code]
[code]

From my understanding of the [Spec](https://tc39.github.io/ecma262/#sec-proxy-object-internal-methods-and-internal-slots-delete-p), the `delete` operation should return false (on step 9) instead of throwing a

[2016-10-16 16:18] bnoordhuis commented on #5588
Depends on the exact configuration but probably not.  See https://github.com/nodejs/node/issues/8966 for more discussion.

[2016-10-16 17:01] mcollina commented on #6798
@jessicaquynh please do! Ping @nodejs/streams if you need any help.

[2016-10-16 17:07] bnoordhuis commented on #9118
Can you report this to V8?  From reading the spec I would agree with you that it's a bug but I wonder if the spec itself isn't deficient here.  Here is an example of what I mean:
[code]
With a deleteProperty returning false, you would reach the exception, something that couldn't happen with a regular object (assuming no `.a` property on the prototype chain) because `delete o.undefinedProperty ===

[2016-10-16 17:07] #9118 closed

[2016-10-16 17:40] bnoordhuis commented on #9091
It feels pretty personal actually because you typo'd 'Your'.  Nice touch! :-)

Jest aside, it's pretty alright - not the wall of feel-good text that some projects use and makes you question whether you're dealing with a human or a bot - but I still don't see myself using it.

No, that's okay; specificity is good.  Even if I disagree 9 out of 10 times, the tenth time it shifts my perspective.

[2016-10-16 17:50] weagle08 commented on #8966
i'd like some way around this. my set up is just setting up a LAN with a switch and letting windows assign an IP and Mask, however no DNS is set. The machines should still be able to communicate with no DNS set.

[2016-10-16 17:50] paulcbetts commented on #5588
@bnoordhuis Thanks for the fix and the update

[2016-10-16 17:57] bnoordhuis commented on #9085
Okay, I think I see what you mean.  There are a couple of things here:

1. The HTTP server is somewhat anti-social (but not in violation of the spec) in that it accepts but ignores the POST body.  Most servers would reply with a 4xx status to signal that they don't want/expect a POST request.

2. The HTTP client sends a `Connection: close` header that the server dutifully mirrors in its response.

[2016-10-16 18:20] metabench opened #9121 "Buffer API Suggestion: WriteBit(value, offset, offsetWithinByte), ReadBit(offset, offsetWithinByte)"
`
WriteBit(value, offset, offsetWithinByte)

ReadBit(offset, offsetWithinByte)
`

[2016-10-16 18:41] spike0xff commented on #4329
So for those of us installing node automatically, not manually/interactively - any suggestions on how to deal with this issue in a fully automated install?  Is there a command-line argument along the lines of ALLUSERS=2 & co?

[2016-10-16 19:13] mscdex commented on #9121
I don't really see the usefulness of this, especially if you are already specifying the offset *and* the bit within the byte at that offset. Why not just do something like `buf[offset] & (1<<bit-1)` to read and `buf[offset] |= (1<<bit-1)`/`buf[offset] &= ~(1<<bit-1)` to write?

[2016-10-16 19:15] cjihrig commented on #9121
I don't find it very useful either. Maybe you could publish a Buffer bit API on npm :-)

[2016-10-16 19:20] mscdex commented on #9117
/cc @nodejs/v8-inspector

[2016-10-16 19:20] aimnadze commented on #9085
And the listener should stay attached even after the response is fully received. I guess that's all that a client can do.

[2016-10-16 19:23] metabench commented on #9121
The reason why I think it would be useful is to make it easier to carry out some low level operations. It's possible that those instructions could optimize well (though I am not sure where optimization gets done in terms of compiling code from node rather than V8). Being more explicit about writing bytes rather than the more complicated bitwise operations may put the AST in a state that's more rea

[2016-10-16 19:27] cjihrig commented on #9121
It sounds like the things you want would have to come from V8. Node could only provide JS or C functions that could be easily duplicated in userland.

[2016-10-16 21:50] soleboxy commented on #9083
@bnoordhuis check out my changes, i responded to your comment. (and offered another solution, wonder what you think about it)
@vitkarpov - sorry man , seemed so interesting to solve this i just went away and did it :)
this is my first cpp PR too :)

[2016-10-16 22:24] kapouer commented on #9114
Yes it was, the toolchain is built with mips32r2 - i already had that problem once, and happily forgot all about it. Sorry for the noise.

[2016-10-16 22:24] #9114 closed

[2016-10-17 01:00] Alex-liutao commented on #9046
Thanks for the help @vsemozhetbyt

[2016-10-17 01:00] #9046 closed

[2016-10-17 03:25] i8-pi commented on #9118
Not a bug, apparently.
https://bugs.chromium.org/p/v8/issues/detail?id=5523

From the [spec](https://tc39.github.io/ecma262/#sec-delete-operator-runtime-semantics-evaluation) quoted in the v8 bug, the delete operator is required to throw if it returns false in strict mode .

[2016-10-17 04:08] Tanuja-Sawant commented on #9083
No problem! I look forward to see the solution to this issue =)

[2016-10-17 05:10] NoHomey opened #9125 "[errors] Add built in ErrnoError"
* **Version**: 6.8.1
* **Platform**: Linux nohomey 4.4.0-43-generic #63-Ubuntu SMP Wed Oct 12 13:48:03 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:  util, spawn, dns .... (all modules that throw the so known System Error)

[System Errors](https://github.com/nodejs/node/blob/master/doc/api/errors.md#system-errors) are documented in the API Documentation and they are thrown all over the

[2016-10-17 06:39] misterdjules commented on #9117
What version of node are you using?

If you're using node v4.x or v5.x, despite the fact that `Buffer` instances' prototype are set to `Buffer.prototype`, they are constructed by the `Uint8Array` constructor.

So given the following code:

[code]

 `someBuffer.constructor.name` is `'Buffer'`, but `someBuffer` was constructed using `Uint8Array`'s constructor.

Debugging tools that are looking at V8

[2016-10-17 07:18] foxx commented on #1013
Ohh, damn they should make that more clear in the README. You might have just saved me a lot of headache, thank you.

[2016-10-17 07:42] ronkorving commented on #9039
How does Node 7 fare?

[2016-10-17 08:01] AwaMazing opened #9127 "Node installed but not linked"
* **Version**:
* **Platform**:
* **Subsystem**:

Using El Capitan 10.11.6

Terminal command and output:

Awas-MBP:~ Awa$ brew install node
Warning: node-6.8.1 already installed, it's just not linked

Has anyone come across this issue before and can help me resolve it?

Thanks

[2016-10-17 08:06] mscdex commented on #9039
@ronkorving I'm currently seeing master be ~6% faster than node v6 with the generic string join test. FWIW here's the simpler test I'm using:

[code]

[2016-10-17 08:07] shenmiweiyi commented on #4329
I was facing same issue on windows7 64 bit machine.This is my installing log.I try to many ways and still didn't fix the issue.Please help me lookup and fix this issue. Thanks @Compynerd255 @gamtiq @andybakerbrfc @joaocgreis
[installlog.txt](https://github.com/nodejs/node/files/532662/installlog.txt)

[2016-10-17 08:19] soleboxy commented on #9083
im on it :+1:

[2016-10-17 08:21] vitkarpov commented on #9083
👍 :)

[2016-10-17 08:21] soleboxy commented on #9083
no problem im on it :+1:

[2016-10-17 08:22] jez9999 commented on #9117
Nope, I'm using version 6.5.0.

[2016-10-17 08:27] TheAlphaNerd commented on #9127
Hey @AwaMazing, you are going to likely want to run the command `brew link node`

For what it is worth this issue tracker is for issues with node core, and this is more of an issue with homebrew. In the future you may find it better to ask for general help over at https://github.com/nodejs/help which is an issue tracker for more general questions.

I'm personally a big fan of [nvm](https://github.

[2016-10-17 08:27] #9127 closed

[2016-10-17 08:41] neilxa opened #9129 ""resolv.h" doesn't compile on MacOS for c++ native modules"
I'm writing a c++ native modules for nodejs.

In my code, I need to `#include<resolv.h>` ,

https://github.com/neilxa/mytest/blob/master/src/mytest.cc#L4

But it doesn't compile on MacOS.  Here is my error log:

https://github.com/neilxa/mytest/blob/master/logs.txt

[code]

The type "ns_tsig_key" is defined in "nameser.h", which is included by "resolv.h".

The 2 header files are both system header

[2016-10-17 08:43] neilxa commented on #9129
My code is very simple,  it does nothing but just a `#include<resolv.h>`

To reproduce the issue is also simple, clone the sample project and build it.

[code]

The code works will Linux,  but only breaks on MacOS.

[2016-10-17 08:48] neilxa commented on #9129
Check the clang include paths:
[code]

The header files are in the searching paths.

In the "resolv.h": (about 82# line)
[code]
I manually modified it to:

[code]

Then it works for me.

[2016-10-17 09:09] bnoordhuis commented on #9129
It seems you answered your question but can you post to https://github.com/nodejs/help next time?  This bug tracker is for node.js core issues, which this isn't.

[2016-10-17 09:09] #9129 closed

[2016-10-17 09:29] neilxa commented on #9129
No,   it's not solved.

 I can not require my users to modify their  "resolv.h".

It's not reasonable to require a user to modify the system header to compile a nodejs modules.

[2016-10-17 09:29] neilxa commented on #9129
@bnoordhuis

[2016-10-17 09:33] bnoordhuis commented on #9085
Yes, that's correct.

[2016-10-17 10:02] bnoordhuis commented on #5620
Hah, and instead we get to deal with the fallout?  Nice!

Am I right in concluding that this is an environmental issue not directly caused by or under control of node?  If yes, I move to close.

[2016-10-17 10:12] bnoordhuis commented on #7657
@bpasero I've filed https://github.com/libuv/libuv/issues/1099.  It's on my radar but I'm not much of a Windows programmer.  If you want a speedy resolution, maybe you can have one of your programmers look at it.

[2016-10-17 10:30] dscho commented on #5620
Sorry for that.

Yes, the problem is caused by MinTTY using the tty emulation of MSYS2's runtime (which is a portable version of the Cygwin runtime), and node expecting to talk to a real Win32 Console (which the `winpty` bridge provides and synchronizes to the MSYS2 tty).

FWIW I agree.

[2016-10-17 10:32] bnoordhuis commented on #9103
Seems academic to me.  So much code depends on insertion order that no vendor will ever ship an incompatible implementation.

And as @evanlucas said, the module system is locked.  I'll go ahead and close the issue.  Reopen if anyone disagrees.

[2016-10-17 10:32] #9103 closed

[2016-10-17 10:35] bnoordhuis commented on #8259
I think there is nothing left to do or discuss here so I'll go ahead and close the issue.  Reopen if anyone disagrees.

[2016-10-17 10:35] #8259 closed

[2016-10-17 10:38] bnoordhuis commented on #6160
It's been documented in commit 5c14d69 so I'll go ahead and close the issue.

[2016-10-17 10:38] #6160 closed

[2016-10-17 11:10] bpasero commented on #7657
Thanks. A workaround that seems to prevent this issue is to send a message in sequence always from the callback of the `process.send` message. On Windows at least this basically means that each message gets send after a `process.nextTick`.

[2016-10-17 12:15] phra opened #9131 "discussion: implement green threads in nodejs"
hi,

i would like to open a discussion about implementing green threads concept in nodejs/v8.
i have already seen [node-fibers](https://github.com/laverdet/node-fibers) but i need the ability to arbitrarily start and stop workers in an efficiently way and assign them to a cluster instance, i.e. to manage scheduling, but without the OS overhead, just like erlang vms do.

ps: i'm researching this to

[2016-10-17 15:01] #9074 closed

[2016-10-17 15:17] bnoordhuis commented on #9092
For cross-reference: https://github.com/strongloop/fsevents/issues/151

[2016-10-17 15:19] xhallix commented on #6867
On v7.0.0-pre everything seems to work here

[2016-10-17 15:48] mscdex opened #9134 "doc: typo in http doc"
- **Version**: v4.x/v6.x/master
- **Platform**: n/a
- **Subsystem**: doc

The `http` documentation has [a typo](https://github.com/nodejs/node/blob/52c7f9d22115a3ab7174654cc61c9e34335246e2/doc/api/http.md#event-connect) in the `'connect'` event description. Specifically,

[code]

should instead read something like:

[code]

[2016-10-17 15:59] #9061 closed

[2016-10-17 16:31] AwaMazing commented on #9127
Thanks for the info! I will check out nmv and post additional questions with homebrew.

[2016-10-17 17:16] ashish360 opened #9136 "Getting error while installing protractor after installing node version"
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Windows\system32>npm install protractor -g
npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\Program Files\nodejs\node.exe" "C:\Program Files\nodejs\
node_modules\npm\bin\npm-cli.js" "install" "protractor" "-g"
npm ERR! node v4.6.0
npm ERR! npm  v2.15.9
npm ERR! path C:\Users\360LP029\AppData\Roam

[2016-10-17 17:20] jasnell commented on #4270
Ping. @nodejs/crypto @nodejs/ctc ... given that we're a week out from the v7 release, it doesn't look like this is going to happen for v7. I'm removing it from the v7 milestone and putting it onto v8.

[2016-10-17 17:25] sedubois commented on #854
I also have this issue, as described here https://github.com/jimkyndemeyer/js-graphql-intellij-plugin/issues/34#issuecomment-254268161.

[2016-10-17 17:47] mscdex commented on #9136
Does node itself still work?

[2016-10-17 17:53] aimnadze commented on #9085
Thank you for the explanation.

[2016-10-17 17:53] #9085 closed

[2016-10-17 17:54] NeoRaider opened #9137 "Build fails when the path to the build root is too long"
- **Version**: master, v4.4.5 (I think all supported versions are affected)
- **Platform**: Arch Linux (x86_64), Debian 8, probably at least all Linux?
- **Subsystem**: Build

Trying to build nodejs fails with the message

[code]

when the path to build directory is too long. We've hit this issue in OpenWrt/LEDE, but googling has turned up a lot of other people with the same issue.

I've found thi

[2016-10-17 18:05] joaocgreis commented on #9067
This was surprising for me. Thanks for your help!

[2016-10-17 18:05] #9067 closed

[2016-10-17 18:57] bnoordhuis commented on #9137
The patch looks okay to me.  Maybe not great but it's not terrible either.  We would have rejected it in the past due to our 'upstream first' policy but in the case of gyp that has been relaxed somewhat since upstream has largely abandoned it, effectively making us the maintainers.

You should file a pull request if you want to see the patch merged. I can't guarantee it actually gets merged but we

[2016-10-17 19:15] NeoRaider commented on #9137
`ulimit -s` is 8192 on my system, I don't think larger values are common. As it is execvp that fails, I think it rather hits ARG_MAX, which is 2MB on Linux and can't be changed.

Should I open a PR against the node repo, node-gyp, or both?

[2016-10-17 19:47] bnoordhuis commented on #9137
That's only with really old kernels, though.  On non-ancient kernels it's capped at 1/4th of the stack size.
[code]
The length of a single argument is restricted to 128 kB but that shouldn't be a problem because you're never going to have a path that long.

node

[2016-10-17 19:59] sam-github commented on #4175
@jan-swiecki In https://github.com/nodejs/node/issues/4175#issuecomment-240422257 you mention that

Its not clear if you are talking about a user-land module, but if you are talking about node's `https.request()` method, I did a some testing, and it supports concatenated PEM certificates in `options.ca` in node 6.x (which I expected from reading the code), but not node 4.x.

If you can't upgrade,

[2016-10-17 20:19] NeoRaider commented on #9137
Unfortunately, the patch I found doesn't work after all. I'll send PR as soon as I've found a working solution.

[2016-10-17 21:10] matissse opened #9140 "TypeError: Cannot call method 'forEach' of undefined"
* **Version**: 0.10.42
* **Platform**: Linux CentOS-68-64-minimal 2.6.32-642.6.1.el6.x86_64 #1 SMP Wed Oct 5 00:36:12 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

Hello, i tried to start node but got error:
[code]
I think trouble to connect database?
[code]
I use node version 0.10.42 on Centos 6 64bit.
`Linux CentOS-68-64-minimal 2.6.32-642.6.1.el6.x86_64 #1 SMP Wed Oct 5 00:36:12 UTC

[2016-10-17 21:13] mscdex commented on #9140
This repo is for node core issues and feature requests only, so this particular issue would be better posted over on the [`jugglingdb-postgres` issue tracker](https://github.com/jugglingdb/postgres-adapter/issues) instead. However, it looks like someone has already reported the same exact error [here](https://github.com/jugglingdb/postgres-adapter/issues/55), so it seems to be a known issue.

[2016-10-17 21:13] #9140 closed

[2016-10-17 21:52] matissse commented on #9140
Sorry, thanks.

[2016-10-17 22:59] JLHwung commented on #4270
@jasnell If this issue is moved to v8, maybe #8491 shall also transfer to v8.

[2016-10-17 23:30] Trott opened #9143 "Node.js Foundation Core Technical Committee (CTC) Meeting 2016-10-19"
## Time

**UTC Wed 19-Oct-2016 20:00**:

| Timezone | Date/Time |
| --- | --- |
| US / Pacific | Wed 19-Oct-2016 13:00 |
| US / Mountain | Wed 19-Oct-2016 14:00 |
| US / Central | Wed 19-Oct-2016 15:00 |
| US / Eastern | Wed 19-Oct-2016 16:00 |
| Amsterdam | Wed 19-Oct-2016 22:00 |
| Moscow | Wed 19-Oct-2016 23:00 |
| Chennai | Thu 20-Oct-2016 01:30 |
| Tokyo | Thu 20-Oct-2016 05:00 |
| Sydney | T

[2016-10-17 23:34] Trott commented on #9143
(EDIT: added @thefourtheye, sorry about the omission!)

[2016-10-17 23:42] Trott commented on #9143
**Note that we are rotating meeting times!** Check the time and date in your local time zone carefully!

Stand up section of Google Doc is ready for participants.

[2016-10-18 02:31] #8949 closed

[2016-10-18 02:31] #8271 closed

[2016-10-18 03:27] amasad opened #9146 "`exec` and `execSync` `git clone private_repo` + timeout hangs the REPL"
- **Version**: v6.7 (also v5.12)
- **Platform**: Linux #138-Ubuntu SMP Fri Jun 24 17:00:34 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

**Expected behavior**: REPL resumes working
**Actual behavior**: Process hangs

Description:
When git cloning a repo that requires entering a username and password in `child_process.exec` or `child_process.execSync` and hitting a `timeout`  then the program and shell

[2016-10-18 06:39] tenaciousRas opened #9148 "Useless Stack Traces"
* **Version**:
v5.12.0
* **Platform**:
Ubuntu 16.04 64-bit
* **Subsystem**:
HapiJS v15

Expected:  When an exception is thrown the JS engine **always** provides a stack trace that indicates the full call stack that led to the exception.
Actual:  Frequently employ workarounds to discover the line(s) of code that actually caused the error.

Description:
NodeJS generates stack traces that do not prov

[2016-10-18 07:13] deian opened #9149 "Buffer.fill has an out of bounds (arbitrary) memory write"
* **Version**: 6.5.0
* **Platform**: Linux
* **Subsystem**:

We can trigger a write to the location of our choice using the code in buff_write.js:

[code]

Relevant JavaScript code from lib/buffer.js:695:

[code]

Relevant C++ code from src/node_buffer.cc:604:

[code]
+ @mlfbrown for finding this with me

[2016-10-18 07:17] mscdex commented on #9148
Have you seen [`async_hooks`](https://github.com/nodejs/node/pull/8531)?

[2016-10-18 07:18] mscdex commented on #9149
/cc @nodejs/buffer

[2016-10-18 08:32] bnoordhuis commented on #9148
Install a package like https://www.npmjs.com/package/longjohn.  Node.js core does not collect long stack traces because it's too expensive in CPU and memory consumption to do so.

[2016-10-18 08:32] #9148 closed

[2016-10-18 08:40] mmouterde commented on #4329
@shenmiweiyi I just get the same issue (windows7 64bit).
@gamtiq / @pinin solutions worked for me.

[2016-10-18 09:53] bnoordhuis commented on #9146
Is this a bug report or a help question?  If it's the former, can you be explicit about what the actual and expected behavior is?  If it's the latter, can you move it to https://github.com/nodejs/help/issues?  Thanks.

[2016-10-18 10:30] bnoordhuis commented on #5620
Thanks for chiming in.  Okay, I'll go ahead and close.

[2016-10-18 10:30] #5620 closed

[2016-10-18 11:47] daimor opened #9156 "invalid argument, uv_interface_addresses inside Windows Linux Subssystem"
* **Version**: 6.8.1
* **Platform**: Linux DESKTOP-BI5R2GM 3.4.0+ #1 PREEMPT Thu Aug 1 17:06:05 CST 2013 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: Network

[code]

[code]

[2016-10-18 12:18] kobelb commented on #9025
@mscdex I know you're very busy, any chance you've had a chance to to look at my clarifications?

[2016-10-18 12:22] rvagg commented on #9156
You're going to have to track this one over at Microsoft's BashOnWindows repository unfortunately, there doesn't appear to have been any movement on fixing the missing networking pieces yet unfortunately. See https://github.com/Microsoft/BashOnWindows/issues/69 and other issues in that repo with "getifaddrs" in their name or summary (there are a bunch). Nothing else we can do here.