[2018-02-02 19:00] #18451 closed

[2018-02-02 19:02] yhwang commented on #18535
I am going to start to check the root causes for these test cases. I will update my finding here and fix if needed. Of course, comment/suggestion are welcome.

[2018-02-02 19:34] zbjornson commented on #18521
Sorry, corrected: The events bug in the OP only seems to happen when the server is on Windows. The `req` events are fired correctly when the server is linux (and the client is linux or Windows).

This happens on both platforms and thus doesn't seem to be related to the Windows-only events bug. I will open a separate issue for this with a more direct repro case.

[2018-02-02 19:35] #16564 closed

[2018-02-02 19:41] Wodki opened #18536 "Memory leak with GC in V8"
* **Version**: v8.9.4
* **Platform**: Win7 x64, CentOS 7
* **Subsystem**:

I have a nodejs process that usually takes about 150mb ram. Lately it began to rise so I spend the last 2 days trying to find the leak. After using memwatch-next I and the `--expose-gc` flag I noticed that upon calling the gc (`global.gc()`) the fifth time the memwatch-next reports a memory leak of about 2-3mb/h since the h

[2018-02-02 20:07] Trott commented on #18435
Unless someone or something else fixed it in the intervening 8 hours, it was something else. Since subsequent inspector tests didn't also fail, that's also a sign this is a different cause.

[2018-02-02 20:27] Wodki commented on #18536
I havent let it run out completely but after a couple of days, it starts to respond extremely slow (5s+ delay), but to be completely honest with you, am still testing it to be exact sure there is a memory leak. However there is definitely an issue, and that's the only thing I can think of (packets had no issue, no new update in the code, did not update any module, or have no configuration that doe

[2018-02-02 21:33] grantila commented on #18490
Right, thanks. This is now correctly documented in 9.5.0.

[2018-02-02 21:33] #18490 closed

[2018-02-02 21:58] EmmanuelBeziat opened #18538 "npm does not support Node.js v9.5.0"
* **Version**: nodejs v9.5.0 ; npm v5.5.1
* **Platform**: Windows 10 build 1709, 64bits

Hi,
Just updated NodeJS and NPM with the Windows installer from the website, so everything is up to date. But the version of npm is v5.5.1 instead of 5.6.0 as announced on the website (https://nodejs.org/en/download/releases/).

Each time I try to perform any npm command, I get this issue.

[code]

Coming from

[2018-02-02 22:06] bricss commented on #18538
That is something isn't new. Try to take a look at here -> https://github.com/nodejs/node/issues/16649
You probably already have ole version of npm installed in global packages.

[2018-02-02 22:33] EmmanuelBeziat commented on #18538
@bricss You were right, I had to uninstall Node with the uninstaller, then manually remove the npm folder in %appdata%, and then reinstall with the installer.

Thanks.

[2018-02-02 22:33] #18538 closed

[2018-02-02 22:37] maclover7 commented on #18525
For reference, the "container" jobs are run by Jenkins worker machines run inside of Docker containers, so memory issues would definitely make sense. Personally, I am unfamiliar with memory overcommit, but would like to help to get this solved. The docker images live [here](https://github.com/nodejs/build/tree/master/ansible/roles/docker/templates), and I've been doing a bunch of work recently on

[2018-02-02 22:54] maclover7 opened #18539 "Flaky linux tests"
* **Version**: master
* **Platform**: Fedora24, Ubuntu1404, possibly other Linux distros as well
* **Subsystem**: test

There seems to be a more recurring issue with running native addons tests on Linux. I have seen many fail lately with the message "Failed to add alternative version links to index". I pasted two examples below, but I remember there being more in the past.

---

Example from https

[2018-02-02 23:50] ofrobots commented on #18520
Yep, got it. The overhead of promise hooks is quite a bummer indeed. I agree that we should not add the promise hook overhead to applications that are not interested in monitoring asynchronous flow. This was not clear in the docs, so I have gone ahead and opened https://github.com/nodejs/node/pull/18540 to fix this.

[2018-02-02 23:54] ofrobots commented on #18520
/cc @gsathya, @bmeurer no the feedback above about assigning `asyncId`.

[2018-02-03 00:05] Alhadis commented on #18434
In Roff, a string register can be expanded using the same syntax for invoking a macro or function call:

[code]

Macros/functions operate in a similar fashion:
[code]

The former usage is rare; in almost all cases, Roff authors will use the following syntax for expanding a string:

[code]

Now, it's pretty silly to have a macro that applies the default font, which is why `.R` does nothing other th

[2018-02-03 01:22] #14367 closed

[2018-02-03 01:30] maclover7 commented on #18539
Happened on https://ci.nodejs.org/job/node-test-commit-plinux/15054/nodes=ppcle-ubuntu1404/console

<details>
Building addon /home/iojs/build/workspace/node-test-commit-plinux/nodes/ppcle-ubuntu1404/test/addons/zlib-binding/
gyp info it worked if it ends with ok
gyp info using node-gyp@3.6.2
gyp info using node@10.0.0-pre | linux | ppc64
gyp info chdir /home/iojs/build/workspace/node-test-commit-p

[2018-02-03 03:48] TimothyGu opened #18544 "Collaborator nomination: @devsnek"
@MylesBorins has already nominated @devsnek to become a Node.js Collaborator in #17602. I'm opening a separate issue as [requested](https://github.com/nodejs/node/issues/17602#issuecomment-362428376), while seconding the nomination.

@devsnek has been active in multiple initiatives within the project, including

- ES Modules
- VM module
- Console
- V8
- Utils

I believe he would be a great additio

[2018-02-03 04:14] joyeecheung commented on #18544
+1

[2018-02-03 04:31] ChALkeR commented on #18544
+1

[2018-02-03 04:52] bmeck commented on #18544
+1

[2018-02-03 04:58] richardlau commented on #18539
`Failed to add alternative version links to index` is a [docs build error](https://github.com/nodejs/node/blob/66e6affb428efdfc8de1db4bd9d6dfd7984ebb44/tools/doc/html.js#L198) rather than addons.

[2018-02-03 05:16] richardlau commented on #18535
parallel/test-module-loading-globalpaths copies the node executable into a temporary directory and runs the copy as some of the global paths are relative to where the binary is. I would guess that with the shared lib the copied node executable is unable to find/load the shared lib.

[2018-02-03 07:38] bzoz commented on #18544
+1

[2018-02-03 07:40] targos commented on #18544
+1

[2018-02-03 08:11] BridgeAR commented on #18544
+1

[2018-02-03 09:12] danbev commented on #18544
+1

[2018-02-03 09:28] mcollina commented on #18544
+1
Il giorno sab 3 feb 2018 alle 10:13 Daniel Bevenius <
notifications@github.com> ha scritto:

[2018-02-03 10:44] bnoordhuis commented on #18115
@BridgeAR beat me to it, see #18395.

[2018-02-03 10:51] bnoordhuis commented on #18493
Working as intended, otherwise you couldn't use ^C to interrupt a long-running operation.  I'll close this out.

[2018-02-03 10:51] #18493 closed

[2018-02-03 11:33] joyeecheung commented on #18533
+1

[2018-02-03 11:33] joyeecheung commented on #18533
cc @nodejs/collaborators

[2018-02-03 11:36] Leko commented on #18544
+1

[2018-02-03 11:44] bzoz commented on #18533
+1

[2018-02-03 12:12] bnoordhuis commented on #18039
And https://chromium-review.googlesource.com/c/v8/v8/+/900622 to discuss simplifying the API.

[2018-02-03 12:59] BridgeAR commented on #18533
+1

[2018-02-03 14:08] mcollina commented on #18533
+1

[2018-02-03 14:14] seishun commented on #17077
It's ironic that ICU doesn't support Unicode properly.

The issue here is that `icutrim.py` fails with a non-ASCII path:

[code]

Who maintains this file? It contains a link to http://bugs.icu-project.org/, but its history consists only of Node.js-local changes. cc @srl295

[2018-02-03 14:50] f0zi opened #18549 "On Windows fs.writeFile deletes all alternate data streams"
* This only affects Windows.
* Tested on node 6 and 8.
* Subsystem: fs

When calling fs.writeFile to write to a file that has NTFS alternate data streams all the streams are deleted.

To reproduce, first create a file with alternate data streams (e.g. from the command line):

    echo File content > test.txt
    echo Stream content > test.txt:stream

You can see the streams with `dir /r`.

Then, w

[2018-02-03 15:06] richardlau commented on #18549
CC @nodejs/platform-windows

[2018-02-03 15:56] seishun commented on #18549
This behavior is consistent with both CRT and Python.

<details>
<summary>Source.cpp</summary>

[code]
</details>

<details>
<summary>CRT</summary>

[code]
</details>

<details>
<summary>Python</summary>

[code]
</details>

So the behavior of the `'w'` flag won't be changed.

To preserve data in alternate streams, consider using the `'r+'` flag and `ftruncate` instead:

[code]

[2018-02-03 15:56] #18549 closed

[2018-02-03 18:02] yorkie commented on #4911
Just share: porting mbedTLS on ShadowNode(low-end Node.js runtime) is 80% done on clients, see https://github.com/Rokid/shadow-node/blob/master/src/modules/iotjs_module_tls.c :)

[2018-02-03 18:24] Fetz opened #18551 "vm runInContext NaN, Infinity, undefined property descriptor inconsistent with global"
* **Version**: v.9.5.0
* **Platform**: Mac 10.11.6 (15G18013)
* **Subsystem**: vm

[code]

Is this behaviour expected? Because is not consistent with the global object.

[code]

And the behaviour is not consistent with the previous version of Node

* **Version**: v.8.5.0
* **Platform**: Mac 10.11.6 (15G18013)
* **Subsystem**: vm

[code]

I noticed this bug when working on this [jsdom PR](https://g

[2018-02-03 18:34] TimothyGu commented on #18551
Seems to be a duplicate of https://github.com/nodejs/node/issues/14660, another long-standing issue...

[2018-02-03 18:34] #18551 closed

[2018-02-03 18:41] TimothyGu commented on #18551
Actually, https://github.com/nodejs/node/issues/17481 is more appropriate. All of these vm issues overlap greatly, so it can be difficult to figure out what exact issue a specific issue is equivalent to.

[2018-02-03 18:49] srl295 commented on #17077
Welcome to the irony of my life. You can workaround with `full-icu` as an option. Otherwise will look at this next week when I am at a windows box. And sorry.

[2018-02-03 23:04] Fishrock123 commented on #18544
agreed

[2018-02-04 01:13] githubaccount624 opened #18552 "Timeline for adding bcrypt/scrypt to node crypto library?"
I've started a new node project and would like to use either scrypt or bcrypt. It doesn't look like it's in in the node crypto library. I would rather not use a 3rd party npm package for this.

Will bcrypt or scrypt ever be added to node's crypto library? If so, is there an approximate timeline?

I'm not sure if I should just use PBKDF2 or wait until this is implemented natively.

[2018-02-04 01:22] hinzundcode opened #18553 "Can't send signals using signal numbers"
* **Version**: v9.5.0
* **Platform**: Linux arch 4.14.15-1-ARCH #1 SMP PREEMPT Tue Jan 23 21:49:25 UTC 2018 x86_64 GNU/Linux
* **Subsystem**: process

Using `process.kill` with signal numbers should work according to the documentation, but I get an ERR_UNKNOWN_SIGNAL error when using numbers instead of strings. For example:

    $ node

    Terminated

    $ node

    true

    TypeError [ERR_UNKN

[2018-02-04 01:51] trivikr opened #18554 "Need backward compatibility to use http1 on Http2Server"
* **Version**: 9.5.0 (Current)
* **Platform**: Any
* **Subsystem**: http2

**Details:**
* I was experimenting with http2 on fastify NodeJS Server by following [this doc](https://github.com/fastify/fastify/blob/master/docs/HTTP2.md)
* Once http2 is out of experimental phase in Node v10, I'm planning to use its plain text version for communication between microservices.
* For backward compatibility,

[2018-02-04 02:10] hinzundcode commented on #18553
Oh, you are right. I didn't read the documentation carefully enough. Sorry :/

[2018-02-04 02:10] #18553 closed

[2018-02-04 07:07] littlepiggy03 commented on #18493
Thanks.

[2018-02-04 07:22] targos commented on #18552
/cc @nodejs/crypto

[2018-02-04 07:58] joyeecheung commented on #18539
AFAIK `Failed to add alternative version links to ...` does not cause the build to fail, it just means that the docs built don't have the correct version links but they would build just fine.

[2018-02-04 07:59] joyeecheung commented on #18539
The real issue in these logs is this

[code]

simply building the docs should not trigger something like this...

[2018-02-04 08:10] chris-morgan commented on #18518
For an idea of the context of this: ghost-cli creates a directory symlink as part of `ghost install local`, and if it fails then the result is incomplete and non-functional, so it’s broken on Windows. Having WSL, I worked around that by installing ghost-cli on the Ubuntu side instead of the Windows side, but that’s a workaround rather than a fix.

[2018-02-04 08:42] indutny commented on #18552
Node.js API provides only those crypto primitives that are implemented by
OpenSSL. At this moment, we don’t consider adding any other cryptographic
libraries, so it doesn’t seem that counting on appearance of either
bcrypt/script in the `crypto` module sounds like a viable option to me.

On Sun, Feb 4, 2018 at 2:22 AM Michaël Zasso <notifications@github.com>
wrote:

[2018-02-04 08:42] gibfahn commented on #18533
+1

[2018-02-04 08:44] targos commented on #18552
@indutny It seems that scrypt is implemented by OpenSSL: https://www.openssl.org/docs/manmaster/man7/scrypt.html

[2018-02-04 09:42] StefanScherer commented on #556
Thanks @ukoloff for the tip, I've dockerized the generation of nodew.exe with https://github.com/StefanScherer/dockerfiles-windows/pull/275

[2018-02-04 10:24] bnoordhuis commented on #18552
Only in openssl 1.1.0 and there is no timeline for upgrading to that version, see #4270.

I'll close this out, the question has been answered.

[2018-02-04 10:24] #18552 closed

[2018-02-04 10:34] bnoordhuis commented on #18518
The libuv upgrade will make its way into node 8 eventually.  Since there is nothing to do but wait I'll go ahead and close this out.

The relevant libuv PR: https://github.com/libuv/libuv/pull/1706

[2018-02-04 10:34] #18518 closed

[2018-02-04 10:44] bnoordhuis commented on #18553
There's an open pull request for it, #16944, but it's blocked on failing tests.

[2018-02-04 13:57] seishun opened #18560 "Investigate non-Latin-1 build file path on Windows"
* **Version**: master
* **Platform**: Windows
* **Subsystem**: build

https://github.com/nodejs/node/issues/17077 covers the case where the path to the node directory contains non-ASCII characters, but no non-Latin-1 characters. If the path contains non-Latin-1 characters, the build fails earlier:

[code]

[2018-02-04 14:09] douardda commented on #6307
Not if it's related, but I'm using the IPv6 only wifi access point at FOSDEM and "nmp install" failed with

`24 http request GET https://registry.npmjs.org/dredd`
`25 silly fetchPackageMetaData Error: connect ENETUNREACH 151.101.0.162:443 - Local (0.0.0.0:0)
`

[2018-02-04 15:12] lpinca commented on #18521
cc: @nodejs/streams

[2018-02-04 15:22] lpinca commented on #18521
events seems to be correctly emitted also on macOS but I'm on node 9.x. Will try on Windows later.

[2018-02-04 15:46] #17444 closed

[2018-02-04 15:52] #18199 closed

[2018-02-04 15:56] #11209 closed

[2018-02-04 19:56] silverwind commented on #18434
It might be a good idea run `man ./doc/node.1 > /dev/null` during our linter tests and verify that it doesn't print any warnings on stderr (exit code is 0, even with warnings present).

[2018-02-04 20:25] lpinca commented on #18521
I can reproduce this on Windows 10, node 9.5.0 but only with a browser (tested on Firefox and Chrome).

[2018-02-04 21:16] TheLarkInn commented on #18423
I will provide a more actionable list of ideas here when I get a chance ^^.

On Thu, Feb 1, 2018, 4:59 AM Yury <notifications@github.com> wrote:

[2018-02-04 21:50] TimothyGu commented on #18249
Fixed in #18394 and #18509.

[2018-02-04 21:50] #18249 closed

[2018-02-04 22:52] TimothyGu opened #18570 "Allow vm.Module creators to customize import.meta in the created module"
In #17560, we added the ability for users to created their own ECMAScript Modules with the `vm.Module` class (more information can be found in the [documentation](https://github.com/nodejs/node/blob/master/doc/api/vm.md#class-vmmodule)). However, as of right now the [`import.meta`](http://2ality.com/2017/11/import-meta.html) exposed in `vm.Module`s is always an empty object:

[code]

Ideally, we w

[2018-02-04 23:44] TimothyGu commented on #17571
Fixed in https://github.com/nodejs/node/pull/17600.

[2018-02-04 23:44] #17571 closed

[2018-02-05 00:05] benjamingr commented on #18108
This is not a problem, this is a design choice, the alternative has false negatives and the false positives are better. This is why we have a `rejectionHandled` event.

[2018-02-05 02:24] TimothyGu opened #18571 "Not fully linked vm.Module throws errors from C++ when instantiated"
Executing

[code]

with `--experimental-vm-modules` throws

[code]

which does not have the error code that is present on all other errors thrown by `instantiate()`. In comparison,

[code]

throws an error with a [proper error code](https://github.com/nodejs/node/blob/master/doc/api/errors.md#err_vm_module_not_linked):

[code]

----

The thrown error comes from

https://github.com/nodejs/node/blob

[2018-02-05 03:18] gibfahn commented on #18539
The third failure doesn't include that error, so maybe a different cause.

Not sure if the core file actually gets generated (if `ulimit -c` is set), but if it does it probably gets cleaned up when `git clean` runs on the next run. So to get a core you'd probably want to take the machine offline, and try to reproduce manually to get a core.

[2018-02-05 04:19] ronkorving commented on #2642
@aoberoi
Unfortunately, it is not fixed (some argue that it's working as intended). I would suggest having a look at the excellent [stoppable](https://github.com/hunterloftis/stoppable) module.

[2018-02-05 07:13] nokisnojok commented on #2794
var crypto = require('crypto')

var str = 'asdasdasdasdasd'
var key = 'asdasd'

function cipher(text,key){
    var cipher = crypto.createCipher('aes-256-cbc', key)
    cipher.update(new Buffer(text), 'utf-8', 'hex')
    return cipher.final('hex')
}
var s = cipher(str, key)

var decipher = crypto.createDecipher('aes-256-cbc', key)

decipher.update(s, 'hex', 'utf-8')
var m = decipher.final('utf-8')

[2018-02-05 08:32] bnoordhuis commented on #2794
@nokisnojok Can you open a new issue if you think you found a bug?  Please update the test so it fails where you expect it to pass.

[2018-02-05 09:14] bmeurer commented on #18520
If we reorganize the PromiseHook API, we could teach V8 to assign these IDs for all promises, always (at least when running in Node).

[2018-02-05 09:22] AyushG3112 opened #18572 "async/await doesn't return the correct value if the promise returned has been extended/modified"
Version: v8.9.4
Platform: Linux/Ubuntu

CODE:
[code]

OUTPUTS:

[code]

As seen from the sample above, when the object is logged inside the `getExtendedPromise()` function, it has an `on` property.
However, then the same object is logged inside `callExtendedPromise()`, that property is lost.

[2018-02-05 09:32] bnoordhuis commented on #18572
I think you misunderstand how async functions work.  When you call one, it constructs a new promise that produces the return value of the function when it resolves - the extended promise in this case.

I'll close this out, working as intended.

[2018-02-05 09:32] #18572 closed

[2018-02-05 11:26] mcollina commented on #18521
This sounds like some kind of weird timing issues.

To help debug this, would you mind setting up a full failing example, something that uses a client written in node and crashes? You can spin up a child process if it needs multiple event loops.

@lpinca if you have Node master on Windows, would you  mind checking if master has the same problem?

[2018-02-05 11:33] lpinca commented on #18521
I can try installing a nightly build but I can't compile master on that machine as I don't have Visual Studio.

[2018-02-05 11:36] mcollina commented on #18521
Don’t worry, I have a very slow windows setup to debug these cases, I’ll get it running. I was just wondering if you had it already done.

[2018-02-05 12:32] shubsaini09 opened #18574 "Empty/Undefined headers in http.get() causes node crash"
* **6.10**
* **AWS Lambda**

[code]

[2018-02-05 12:37] BridgeAR commented on #18574
This is working as intended. It is a "fail early" mechanism to throw sync if the input is faulty.

[2018-02-05 12:44] shubsaini09 commented on #18574
Shouldn't it be captured under error event of node js? You are just passing an object with one key having undefined value. Input is not faulty here. If you don't pass an header to request it should say that so and so header needed or the error your third party API is sending you.

If i request from Postman and i don't send one header then it tells me that invalid header or missing header. Somethin

[2018-02-05 12:59] BridgeAR commented on #18574
In case input is obviously invalid errors are thrown right away. This is also the case if you use a API that uses e.g. callbacks.

Example:

[code]

This is very unlikely to change and I doubt that there is anything to further improve the situation here, so I am closing the issue. See [fail-fast](https://en.wikipedia.org/wiki/Fail-fast).

[2018-02-05 12:59] #18574 closed

[2018-02-05 13:00] BridgeAR commented on #18574
About the undefined value: that is a invalid header as Node.js can not know what the intention was.

[2018-02-05 13:42] bnoordhuis commented on #18536
I'll close this out pending conclusive evidence of a node.js bug.  Can reopen when needed.

@Wodki If you still want help, please open an issue over at the help repo.

[2018-02-05 13:42] #18536 closed

[2018-02-05 13:44] bnoordhuis commented on #18476
We're over 600 open issues right now so I'll go ahead and close this out as a duplicate.

[2018-02-05 13:44] #18476 closed

[2018-02-05 14:45] bzoz commented on #17493
It was fixed in https://github.com/nodejs/node/pull/18019. Maybe we should add this as a test to Node.js?

[2018-02-05 15:33] seishun commented on #18560
This is Yet Another Gyp Bug.

1. `vcbuild.bat` calls `python configure --dest-cpu=x64`.
2. `configure` calls `run_gyp(['--no-parallel', '-f', 'msvs', '-G', 'msvs_version=auto'])`.
3. `tools/node_gyp.py` calls `gyp.main(['--no-parallel', '-f', 'msvs', '-G', 'msvs_version=auto', '.\\node.gyp', '-I', '.\\common.gypi', '-I', '.\\config.gypi', '--depth=.', '-Dcomponent=static_library', '-Dlibrary=stati

[2018-02-05 16:29] mhdawson opened #18577 "Intermittent issue parallel/test-https-client-reject ?"
* **Version**: master
* **Platform**: arm64
* **Subsystem**: https

https://ci.nodejs.org/job/node-test-commit-arm/13583/nodes=ubuntu1604-arm64/console

[code]

[2018-02-05 16:38] mhdawson commented on #18544
+1

[2018-02-05 17:29] bzoz commented on #18431
This reproduces back to v6.0.0. Using `spawnSync` works as expected.

/cc  @nodejs/platform-windows

[2018-02-05 17:33] gsathya commented on #18520
Sorry for not having the complete context here, but why is assigning an ID to a promise object too expensive?

[2018-02-05 17:40] #18520 closed

[2018-02-05 17:42] ofrobots commented on #18520
@gsathya assigning the id requires us to enable promise hooks; which are expensive. Basically we need the init hook to be called so that we can assign an id to the promise, and record the trigger (causal) context.

[2018-02-05 17:54] gsathya commented on #18520
Ah, so enabling promise hooks to know *when* to assign an ID is expensive. Assigning an ID isn't.

[2018-02-05 18:13] yhwang commented on #18535
@richardlau

You're right. And both `parallel/test-child-process-fork-exec-path` and `parallel/test-module-loading-globalpaths` share the same issue. In Linux platform, gyp uses `rpath=$ORIGIN/lib.target` to build the executable. One way to fix it is adding `LD_LIBRARY_PATH` (`DYLD_LIBRARY_PATH` for macOS, `LIBPATH` for AIX) into `process.env`. Both of them passed when I tried this locally.

[2018-02-05 18:17] seishun commented on #18431
That's because `wsl` doesn't exit, you can see it in Task Manager. Probably a `wsl` bug.

[2018-02-05 18:54] silverwind opened #18580 "--redirect-warnings option appears to be broken"
* **Version**: 9.5.0
* **Platform**: macOS 10.13.3
* **Subsystem**: src

I tried various invocations but none seem to really work:
[code]

[2018-02-05 19:30] cjihrig commented on #17493
@bzoz a regression test is a good idea.

[2018-02-05 19:44] mhdawson commented on #18577
Similar failure here on a different run but in parallel/test-tls-client-verify instead.

https://ci.nodejs.org/job/node-test-commit-arm/13644/nodes=ubuntu1604-arm64/console

[code]

[2018-02-05 20:12] mhdawson opened #18584 "Compile failure in v3_purp.c - odroid"
* **Version**: master
* **Platform**: arm64 ubuntu1604
* **Subsystem**: opensll

Compile failure on odroid

https://ci.nodejs.org/job/node-test-commit-arm/13637/nodes=ubuntu1604-arm64_odroid_c2/console

[code]

Seen in a number of unrelated CI jobs.

[2018-02-05 20:13] mhdawson commented on #18584
@rvagg would this be related to the earlier odroid issues or something different?

[2018-02-05 20:23] mhdawson opened #18585 "Intermittent? - parallel/test-net-timeout-no-handle crash on alpine"
* **Version**: master
* **Platform**: alpine34
* **Subsystem**: net

https://ci.nodejs.org/job/node-test-commit-linux/16125/nodes=alpine34-container-x64/console
[code]

[2018-02-05 20:23] unional opened #18586 "require() call sometimes does not load"
node@9.4.0
osx High Sierra 10.13.3

Encounter this issue from:
https://github.com/Microsoft/TypeScript/issues/21612#issuecomment-363207983

From these lines: https://github.com/unional/komondor/blob/node-9.4.0-require/src/environment.ts#L58-L60

when I run `npm run watch` in that repro, I will get:

[code]

You can see that sometimes it works and sometimes `require('./spec')` returns an empty obje

[2018-02-05 20:26] mhdawson opened #18587 "intermittent? parallel/test-http2-session-unref failure on sharedlibs debug"
* **Version**: master
* **Platform**: ubuntu1604_sharedlibs_debug
* **Subsystem**: http2

https://ci.nodejs.org/job/node-test-commit-linux-containered/1965/nodes=ubuntu1604_sharedlibs_debug_x64/console
[code]

[2018-02-05 20:29] apapirovski commented on #18585
This is likely the same cause as https://github.com/nodejs/node/issues/18323 — both tests are very simple and do very little, certainly nothing that would cause SIGSEGV. Both crashes are on the same machine.

[2018-02-05 20:34] ofrobots commented on #13254
I have done some thinking on this, and have a plan for what I would like to proceed with it. I am presenting it here for feedback before proceeding.

The driving motivation here is to make it easy for native module authors to write modules correctly propagate async context. Correctly keeping track of async context is important for program understandability and debugging. A single ill-behaving modu

[2018-02-05 20:34] vkurchatkin commented on #18586
This is probably due to cyclic dependencies, i.e. this is expected

[2018-02-05 20:37] unional commented on #18586
Thanks. Will see if the TS team can find the bug. 🌷

[2018-02-05 20:38] addaleax commented on #13254
@ofrobots I fully agree; and to add to your thoughts on Nan VS N-API, N-API is never going to be a *full* replacement for native addons that use the raw V8 & Node C++ APIs, so not fixing this in Nan is not really an option.

[2018-02-05 20:45] mhdawson opened #18588 "Flaky addons-napi/test_async/test"
* **Version**: master
* **Platform**: debian
* **Subsystem**: n-api

https://ci.nodejs.org/job/node-test-commit-linux/16134/nodes=debian8-64/console
[code]

[2018-02-05 20:51] maclover7 commented on #18454
cc @nodejs/platform-windows

[2018-02-05 20:59] zbjornson commented on #18521
I just reproduced this on master (d4b605b).

Today I can only get this to happen with a browser client; the node.js client snippet in my OP isn't causing it right now.

* Causes it: `xhr.abort()` in a browser; closing browser during active response; clicking "stop" button during active response.
* Doesn't seem to cause it: aborting `curl`; sometimes node.js client with code in OP?

(I'm also 95% s

[2018-02-05 21:14] Qard commented on #13254
My thinking is that we should update Nan, but message it as a maintenance update and deprecate Nan in favor of N-API. We could do docs deprecation, then warning message, then removal, to give people plenty of time to switch while still encouraging them to do so without putting pressure on it to happen immediately.

[2018-02-05 22:04] ofrobots commented on #13254
Ha. So, I can't find where `node::MakeCallback` is documented. Not sure how we can doc-deprecate an undocumented thing, lol. I guess a compile-time warning is like a doc-deprecation?

[2018-02-05 22:12] addaleax commented on #13254
It isn’t documented outside what’s in the `node.h` header and the Nan docs. It’s a terrible name anyway, and I’d generally recommend always using `CallbackScope` instead for clarity.

Yeah, that is a better system for deprecating anyway, because unlike doc-only deprecations in Node this is something that the *developer* of a module gets to see, not the one who runs the code and might have to go co

[2018-02-05 22:12] #15604 closed

[2018-02-05 22:13] mhdawson commented on #15604
@rolftimmermans, finally got back to this, resolved issues in tests and landed it.

[2018-02-05 22:39] apapirovski commented on #18505
This test is likely crashing for the same reason as https://github.com/nodejs/node/issues/18585

The reason for my assumption is that this test doesn't even run on alpine, it's an OS X & Windows only test. This means that much like the other 2 tests that crashed on Alpine with SIGSEGV, it also has an extremely short run time.

[2018-02-06 00:42] BridgeAR commented on #18577
Duplicate of #18495

[2018-02-06 01:09] johnanisere commented on #5436
I get this Error `Error: getaddrinfo ENOTFOUND api.remotehost.com api.remotehost.com:80`
when I try to do this on google cloud functions
`(req,res,next)=>{
       let options={
           method:'POST',
           uri: config.uri,
           form:{
               username:req.body.username,
               to:req.body.to,
               message:req.body.message
           },
           headers:{  a

[2018-02-06 01:26] MylesBorins commented on #18544
+1

On Feb 5, 2018 11:38 AM, "Michael Dawson" <notifications@github.com> wrote:

[2018-02-06 02:59] cjihrig commented on #18586
I'll close this until something needs to be done on our side.

[2018-02-06 02:59] #18586 closed

[2018-02-06 04:04] gucong3000 commented on #2998
setter is not work for me.
[code]
[code]

[2018-02-06 07:17] #18039 closed

[2018-02-06 08:29] rkleinkromhof commented on #9181
Unselecting Performance Counters fixed this problem for me too. (node-v9.5.0-x64.msi on Windows 7 Professional SP1).

[2018-02-06 08:35] mcollina commented on #18521
@zbjornson a possible solution is to try to reproduce it just using a plain TCP connection. It might be related to to a specific sequence of TCP frames that is impossible to reproduce using Node.js http client.

[2018-02-06 10:35] #18466 closed

[2018-02-06 11:50] dlueth commented on #12805
@bam-tbf In our case the issue is not solved but the overall situation improved, at least with 8.9.4. There still is a memory leak burried somewhere but it is now within acceptable limits, restarting our instances once a week is sufficient so far.

[2018-02-06 12:29] jpeck17 commented on #4603
Your reading my mind rock on bro..

[2018-02-06 14:53] silverkorn commented on #4911
Interesting!
Thanks for the notice

[2018-02-06 15:17] AyushG3112 commented on #18572
But when I do:

`
    return getExtendedPromise().then((result) => {
        console.log(result);
    })
`

inside `callExtendedPromise()`, it logs `Hi`, but not the extended promise. I would understand logging `Hi` if I had done:

`
return await promise;
`

in `getExtendedPromise()`, but I did not `await`

[2018-02-06 15:27] vsemozhetbyt commented on #18572
@AyushG3112 See explanations and examples here:

http://exploringjs.com/es2016-es2017/ch_async-functions.html#_returned-promises-are-not-wrapped

[2018-02-06 15:31] AyushG3112 commented on #18572
@vsemozhetbyt thanks for the link, looking at it now. However, in your knowledge, given the code in my original question, is there any possible way for me to get the original `extendedPromise` object returned from `getExtendedPromise()` inside `callExtendedPromise()`.

A library I am using is returning an object like I posted, so I'm quite stumped with that to be honest.

[2018-02-06 15:47] AndreasMadsen opened #18600 "listening to sigint don't exit nicely"
* **Version**: master (83c93158fb0e979dbffb4a776d237da0db8f7b08)
* **Platform**: MacOS
* **Subsystem**: `process`, `trace_events`

Run the following program, hit Ctrl+C. I would then expect `got SIGINT` and `exit` to be printed. It prints neither.

The problem that I'm really having, is that if I add `--trace-events-enabled --trace-event-categories node.async_hooks` to `spawn` then it doesn't flus

[2018-02-06 15:55] targos commented on #18572
@AyushG3112 The solution would be to make `getExtendedPromise` a regular function (remove the async keyword).

[2018-02-06 15:57] AyushG3112 commented on #18572
@targos but inside that function I am doing other async stuff, so that's not an option here.

[2018-02-06 16:00] apapirovski commented on #18572
@AyushG3112 If you're doing other async stuff then how do you expect to return the original promise?

[2018-02-06 16:03] vsemozhetbyt commented on #18572
I may be wrong and there may be easier way (or all the approach may be flaky), but this seems working:
[code]
[code]

[2018-02-06 16:04] AyushG3112 commented on #18572
Let me clarify a bit.

So, what code I posted above is a MVCE. `getExtendedPromise()` is a function which is part of a library. I call that inside `callExtendedPromise()`, then returning the result. I have improved the sample code according to what I am doing and it is closer to:

`
function getExtendedPromise() {
    const promise = new Promise((resolve) => {
        setTimeout(() => {

[2018-02-06 16:45] prog1dev commented on #18495
As far as I know latest Alpine images use LibreSSL instead of OpenSSL?

[2018-02-06 16:49] TimothyGu commented on #18572
@AyushG3112 Thanks for the clarification. Unfortunately what you are trying to do is simply not possible under the current ECMAScript specification. I cannot think of an alternative either, other than writing a regular function wrapping the async function.

[2018-02-06 16:56] AyushG3112 commented on #18572
So, thanks to help from Stack Overflow, I was able to get the behaviour I needed. Here's how it can be done(yes it is hacky and nothing but a patch):

[code]

Logs:

[code]

Thus giving me the result I wanted.

Thanks for all the help and your time everyone. It is really appreciated.

[2018-02-06 18:20] vsemozhetbyt opened #18603 "readline: add support for asynchronous iteration (tracking feature request)"
An issue to not forget.

It would be handy to sync readline API with [`for-await` support in readable streams](https://github.com/nodejs/node/pull/17755), so we can do something like this (compare examples [here](https://nodejs.org/download/nightly/v10.0.0-nightly20180205d4b605b990/docs/api/stream.html#stream_readable_asynciterator) and [here](https://nodejs.org/download/nightly/v10.0.0-nightly201

[2018-02-06 19:09] ofrobots commented on #13254
First Nan PR: https://github.com/nodejs/nan/pull/729

[2018-02-06 20:12] maclover7 commented on #18539
Slightly tweaked title for now, until can gather more information.

[2018-02-06 22:15] #18484 closed

[2018-02-06 22:15] #18512 closed

[2018-02-06 23:42] JeffML opened #18606 "chrome://inspector sending endless requests for /json/version to node.js server"
I have the following catch-all handler in express:

`app.all('/*', function(req, res, next) {...`

When I have a chrome://inspect tab open in my browser, I see repeated requests for */json/version* to the server.  Is this normal?

[2018-02-06 23:50] eugeneo commented on #18606
`chrome://inspect` will scan ports 9222 and 9229 as those are the ports that are configured by default. Click "Configure" button to remove (or add) ports.

[2018-02-06 23:53] JeffML commented on #18606
My server is listening to port 8190, though.

[2018-02-06 23:56] JeffML commented on #18606
Ah, I see that now.  Somehow port 8190 got added, probably by me in the distant past.  Thanks.

[2018-02-06 23:56] #18606 closed

[2018-02-07 03:15] #17280 closed

[2018-02-07 07:41] gucong3000 commented on #2998
I found the right way.
[code]

[2018-02-07 09:52] liqyan commented on #17058
Status update:
Most native modules used during bootstrap have been modified that those procedures that accessing runtime arguments have been postponed until runtime arguments accessing is allowed.

Most tests passed except some message tests that strictly compare exception stacks, and some tests that treating native module as normal module by using relative path, such as `require('../../lib/buffer

[2018-02-07 11:50] bzoz commented on #10836
This does not reproduce any longer, it would seem it was fixed in v8.3.0.
I've made a test for this in https://github.com/nodejs/node/pull/18614

[2018-02-07 11:50] #10836 closed

[2018-02-07 11:50] bzoz commented on #17493
Test in https://github.com/nodejs/node/pull/18614

[2018-02-07 11:50] #17493 closed

[2018-02-07 12:07] seangarner opened #18619 "SIGILL crash during deoptimization"
* **v6.12.3**:
* **Linux 4.1.17-22.30.amzn1.x86_64 #1 SMP Fri Feb 5 23:44:22 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux**:
* **v8?**:

I have an HTTP API serving ~200k requests per day that since our latest code drop is occasionally crashing with a SIGILL.

[code]

The application itself prints this before it dies.  I've redacted the source, but the empty stack, details etc are as were printed.
[code

[2018-02-07 12:24] drumwhizz opened #18620 "Failed to cross compile v8.9.4 for arm"
* **Version**: v8.9.4
* **Platform**: Linux 4.8.4-kbase #1 Tue Dec 12 23:16:56 GMT 2017 armv7l GNU/Linux
* **Subsystem**: build system

I am in the process of upgrading node to 8.9.4. I am compiling on an Ubuntu 14.04 x86_64 VM. Here is my build configuration:

[code]
The build falls over with this...
[code]

Having googled the error, there was a suggestion to add *--without-intl* to the configura

[2018-02-07 12:30] bnoordhuis commented on #18620
Point `CC_host and `CXX_host` to host compilers.  You may have to pass `--without-snapshot` when cross-compiling.

Good luck and please post follow-up questions to the help repo.

[2018-02-07 12:30] #18620 closed

[2018-02-07 12:40] bnoordhuis commented on #3072
I'm fairly sure #13235 fixed this.  I'll close out the issue.

[2018-02-07 12:40] #3072 closed

[2018-02-07 12:45] bnoordhuis commented on #18619
There is (or was) a similar bug report for v4.x that I can't find right now.

Start node with `--nocrankshaft` as a workaround, that disables the optimizer; your application will run at about roughly half speed, though.

It would be helpful if there is a way for us to reproduce, otherwise there isn't much we can do.

[2018-02-07 12:58] drumwhizz commented on #18620
Seems to have got further but am I missing something else on the host side???

[code]
Is it getting the compilers mixed up again? Do I need an env definition for the linker?

[code]

[2018-02-07 13:16] bnoordhuis commented on #18620
Apologies, you probably also need LINK_host and (possibly) AR_host.

[2018-02-07 13:50] Zarel commented on #3072
🎉

I haven't encountered this error in a while. I'm glad it's finally solved.

[2018-02-07 13:59] #18587 closed

[2018-02-07 14:06] #17970 closed

[2018-02-07 14:14] drumwhizz commented on #18620
Sorted thanks.
[code]

[2018-02-07 14:20] seangarner commented on #18619
Ha.  I meant "**un**successful in reproducing the crash.  It's averaging once a day so I'll try to add more logging to see what circumstances lead up to the crash.

I'm guessing that if it's in crankshaft, finishing the work to upgrade to version 8 would work around the issue also, since that's using turbofan.

[2018-02-07 14:59] jasnell commented on #17058
Status update on this side: I've started working on refactoring the native bootstrap lifecycle.... starting with how configuration and command line options are handled.... specifically, moving away from use of global variables to using a `NodeOptions` class associated with the `Environment`. From there, I will be working through a refactoring of how the `process`  object is bootstrapped.

[2018-02-07 16:10] daynin commented on #18580
@silverwind hi!

A minus sign in your commands is http://www.codetable.net/decimal/8722, but a minus sing from docs (and standard keyboard as well) is http://www.codetable.net/decimal/45.

If you try to execute these commands:
[code]

You'll get no errors. But if you'll try to execute this:
[code]

You'll get the same error as in your case:
[code]

Other command line tools cannot parse this minus

[2018-02-07 16:41] etherElric commented on #11166
I think the problem seems to ba rather because node cannot seem to read files from an asar file.
`
at file://mac/Home/Desktop/App-win32-x64/resources/**app.asar**/src/renderer/modules/verify/verify.js:1:30`

I have this problem too where I have an electron app and I am trying to start a new js file using node only. But once built, the app is in an asar and node does not understand the path anymore

[2018-02-07 17:18] bnoordhuis commented on #18619
Re: v8.x: yep, that's right.

[2018-02-07 17:20] silverwind commented on #18580
Indeed you're right. I have no idea how I was even able to write the unicode symbol. Sorry for the noise.

[2018-02-07 17:20] #18580 closed

[2018-02-07 17:22] silverwind commented on #18580
Ah, I remember: I copied it out of the HMTL mentioned in https://github.com/nodejs/node/pull/18559#issue-294188932.

[2018-02-07 17:30] seangarner commented on #18619
Thanks @bnoordhuis.  I'll close & reopen if I can find a way of reproducing then create a smaller test case.

[2018-02-07 17:30] #18619 closed

[2018-02-07 18:19] seishun commented on #18447
It seems the question was answered, so closing.

[2018-02-07 18:19] #18447 closed

[2018-02-07 18:49] j0t3x commented on #8460
@apapirovski  how can I help investigate this one?

[2018-02-07 18:59] daynin opened #18627 "Using let and const instead of var"
Hi! Why in some functions we can find `var`, `let` and `const` definitions` at the same time? For instance, in `lib/buffer.js` in some places of code we have `let` definitions, in other places - `var` definitions and `const` definitions.

Sometimes code looks inconsistent:

[code]

Can we replace `var buffer` by `const buffer`, `var pos` by `let pos`, `var buf` by `const buf`, etc? All tests pass

[2018-02-07 19:03] BridgeAR commented on #18627
There are two reasons why it is kept the way it is: first, using let in a loop can cause a performance penalty under some circumstances. `const` had a similar effect but that should mainly be solved.
Second, it would result in a lot of churn without any further benefit. So instead of changing everything in one step, the code is incrementally changed over time due to other changes.

[2018-02-07 19:19] daynin commented on #18627
@BridgeAR thank you! Yeah, I know about let in a loop, but I meant using `const` and `let` in places where it will be equivalent to using `var`

Ok, thank you for answer!

[2018-02-07 19:29] adamdecaf commented on #14705
I ran into this at $work. Why is `ca:` allowed to be overridden with no recourse? I expected `NODE_EXTRA_CA_CERTS` to allow me to add an internal CA, but it's not.

[2018-02-07 20:46] #18627 closed

[2018-02-07 21:27] maclover7 commented on #18539
There is also an issue about this in nodejs/build: https://github.com/nodejs/build/issues/1049

cc @Trott

[2018-02-07 22:47] addaleax commented on #18227
/cc @nodejs/tsc

[2018-02-07 22:48] ofrobots commented on #18227
I'm +1 to what @benjamingr proposed above.

[2018-02-08 01:24] ofrobots commented on #13254
Deprecation of legacy `node::MakeCallback` node.h APIs: https://github.com/nodejs/node/pull/18632

[2018-02-08 01:50] ofrobots commented on #18470
Given that there is merely a cognitive burden of having too many values, I decided not to make a breaking change for this (even though async_hooks is experimental). I think explaining this in the docs addresses the issue. https://github.com/nodejs/node/issues/18470

[2018-02-08 02:10] JoeUser78 commented on #428
Another year and still no news?

[2018-02-08 02:19] bgnx opened #18634 "unsafe multiple fs.write with position argument?"
Official docs saying "it is unsafe to use fs.write multiple times on the same file without waiting for the callback" but is it true event when position argument is provided? I found this question on stackoveflow (https://stackoverflow.com/questions/41756977/is-it-safe-to-use-write-multiple-times-on-the-same-file-without-regard-for-con ) , where user with nickname dan-d said that "The remark about

[2018-02-08 02:26] addaleax commented on #18634
This is not safe on all platforms, no.

While the quoted response is correct in that libuv uses `pwrite(2)` on POSIX systems when it is available, that’s not a safe assumption to make.

In particular, on Windows this does **not** seem to be safe: libuv performs the write-with-offset by first adjusting the file position, then writing to the file, and then resetting the position, as 3 separate opera

[2018-02-08 02:28] qbit commented on #428
Hack up or put up!

[2018-02-08 02:37] rsp commented on #428
@qbit I believe @Gottox had a working implementation some time ago so the question by @JoeUser78 is not unreasonable.

[2018-02-08 02:52] addaleax commented on #18634
@bgnx I think it’s safe if you know that your code is always on a POSIX system in the sense that it won’t screw up writing your data to a file, yes.

On OS X it looks like your application might perform *worse* than when not doing concurrent writes, because libuv protects write operations with a global lock, so there will be blocked threads in the thread pool that could be doing other work instead

[2018-02-08 03:12] bgnx commented on #18634
@addaleax thanks for clarification

[2018-02-08 03:37] zignd commented on #17821
Would be awesome to have an officially promoted and moderated chat on Slack or Discord. I don't have any particular problem with IRC, but the current Node.js community there is way less active than it should be. And I'm saying that because I'm part of the Go and Clojure community on Slack and they are both extremely active there, way more than the Node.js community on IRC. Also, it's worth noticin

[2018-02-08 03:50] devsnek commented on #17821
right now we have http://www.nodeslackers.com/, there's still some ongoing debate on other platforms

[2018-02-08 03:53] trivikr commented on #18554
Any update on this request?

[2018-02-08 04:06] devsnek commented on #18554
cc @nodejs/http2

[2018-02-08 04:19] jasnell commented on #18554
This is not yet possible with plain text http2 because the fallback mechanism depends entirely on the use of the ALPN tls extension.

Working on this is not currently in plan for me but I'm happy to review PRs if anyone wants to tackle it

[2018-02-08 04:25] trivikr commented on #18554
I'd written unit tests for NodeJS HTTP/2 in the past, and have an idea about how core.js works.
I can take this up. Any tips/suggestions on where to start wrt ALPN?

[2018-02-08 04:44] bgnx opened #18635 "O_SYNC with O_APPEND flag in fs.open?"
fs.open can receive "rs+" flag and sets O_SYNC flag for cases when I need to know in callback that data has written to the hard drive (and not waiting in kernel cache) but is there a reason why there is no "as" or "as+" flag which sets the same O_SYNC flag but just for appending file (O_APPEND) ?

[2018-02-08 05:07] #8307 closed

[2018-02-08 06:19] mstallmo commented on #11135
Is there any work left to be done on this? I would love to lend a hand if I can!

[2018-02-08 09:43] igabesz opened #18638 "Linux Subsystem on Windows: EINVAL error when piping into Node in a cmd.exe started from bash"
* **Version**: v8.9.0 and v8.9.4
* **Platform**: Windows 10 / Linux Subsystem on Windows
* **Subsystem**: 1709 16299.125 / Ubuntu 14.04.5 LTS

I have a bash script that runs a cmd that pipes something into the Node.js executable under Windows. Like this:

    $ /mnt/c/Windows/System32/cmd.exe /C "echo console.log('hi') | node"

I get the following error:

    Error: EINVAL: invalid argument, uv_pi

[2018-02-08 09:47] igabesz commented on #18638
**Update:** this also breaks meaning that it's not about the pipe but rather the startup of Node itself.

    /mnt/c/Windows/System32/cmd.exe /C "node"

[2018-02-08 10:43] aldafu opened #18639 "Cannot attach to second node process by using SIGUSR1"
* **Version**: 6.12.3 +
* **Platform**: Win 10 x64 / Linux 4.x
* **Subsystem**:

Suppose I have two or more running node processes which are not in debugging mode and I want to activate the debugger in these processes. By using SIGUSR1 or `process._debugProcess()` the process starts listening on the default port 5858 for the debugging client. All node processes after the first that receive SIGUSR1

[2018-02-08 10:50] mafintosh opened #18640 "Streams mini summit"
I've been talking to @mcollina about having another streams mini summit.

We've been doing a lot of streams maintenance lately, (especially @mcollina), and would love to meetup with the WG and talk about how to iterate node core streams.

Some initial thoughts in no particular order

* Improve the internal flow logic (I think lots of perf could be gained there)
* Write down some clear stream guara

[2018-02-08 10:51] mcollina commented on #18640
Also @nodejs/tsc.

[2018-02-08 11:14] mcollina commented on #18554
ALPN is already supported, it is the mechanism to support both HTTP/1.1 and HTTP/2 over the secure channel. Basically ALPN is used to kickstart the connection.

Upgrading from a plain text HTTP1 to HTTP2 would mean to use a similar flow to what is used for websockets (check out https://www.npmjs.com/package/ws) to upgrade the socket.
It might very well be possible that this flow could happen 80% i

[2018-02-08 11:25] mcollina commented on #18227
I am 👍  to:

1. `return true` if the two objects are the same instance and `return false` otherwise
2. throw consistently because two Weak* are not really comparable

We should also document the current behvior in our current/lts release lines.

[2018-02-08 13:35] calvinmetcalf commented on #18640
sorry I haven't been very active lately so I'd probably not be able to make a summit in person.

[2018-02-08 14:41] hashseed opened #18643 "v8::debug::GetDebugContext is going away."
If I remember correctly we agreed on delaying the removal of `GetDebugContext` until Node 9. I would like to remove the API and more importantly the legacy code backing it. That means that Node cannot use it anymore though. It currently still does.

Given the success of the DevTools protocol I think we can remove it. Can we advance this somehow so that by Node 10 it's not exposed to add-ons anymor

[2018-02-08 14:42] hashseed commented on #18643
/cc ofrobots

[2018-02-08 14:42] hashseed commented on #18643
/cc @ofrobots

[2018-02-08 14:43] brunolm commented on #17872
I have the same problem but while using Ionic.

There's probably some thread that is deadlocked and I have to idea how to kill that process.

If I type in the terminal:

[code]

It hangs... or a simple

[code]

it also hangs

[2018-02-08 15:08] cjihrig commented on #18227
I agree with @mcollina.

[2018-02-08 16:12] joliss opened #18645 "Stack overflow in fs.readdirSync causes fatal error"
* **Version**: v9.5.0
* **Platform**: Linux sujin 4.4.0-101-generic # 124-Ubuntu SMP Fri Nov 10 18:29:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

The following code causes node to abort with `FATAL ERROR` on my system, when I would expect it to throw a "RangeError: Maximum call stack size exceeded" instead.

[code]

[code]

Running Node with GDB suggests that the problem is happening here:

[code]

[2018-02-08 17:07] matthewadams opened #18646 "Add async emit methods to EventEmitter"
* **Version**:
v8.9.4

* **Platform**:
Darwin pumba-5.local 17.4.0 Darwin Kernel Version 17.4.0: Sun Dec 17 09:19:54 PST 2017; root:xnu-4570.41.2~1/RELEASE_X86_64 x86_64

* **Subsystem**:
events

https://nodejs.org/api/events.html#events_asynchronous_vs_synchronous instructs users to cause asynchronous event execution in the event handlers by using `setImmediate` or `process.nextTick`, which means

[2018-02-08 17:07] jvelezpo commented on #17602
+1 I am just starting and did my first 2 PR and @mmarchini made comments on them
so @mmarchini  ha my +1

[2018-02-08 17:09] seishun commented on #18634
Closing as an answered question.

[2018-02-08 17:09] #18634 closed

[2018-02-08 17:14] joyeecheung commented on #18645
It's caused by the function returned by`push_values_to_array_function` being called and then `ToLocalChecked` in C++ right away. I have a fix for `readdirSync`, but note that there are other APIs using that function this way and should be updated as well.

[2018-02-08 17:30] Fishrock123 commented on #18640
Where might this take place?

I'm helping to lead the 'future streams' initiative (current work at https://github.com/Fishrock123/bob) - I'm not sure how relevant that would be yet though?

[2018-02-08 17:37] bobOnGitHub opened #18648 "RegExp.test not working with leading space in text being checked."
* **Version**: 8.9.1
* **Platform**: Windows 10 64Bit
* **Subsystem**:

[code]

The reIgnore.test calls above should all return true but with a leading space in the text it returns false.

See more info below - is not spaces ; subsequent call results toggle between true and false - same on chrome browser.

[2018-02-08 17:40] addaleax commented on #18648
/cc @nodejs/v8

[2018-02-08 17:52] bobOnGitHub commented on #18648
Just updated to 8.9.4 and now getting ;

[code]

[2018-02-08 17:53] vsemozhetbyt commented on #18648
It is not the spaces:
[code]
And without `/g` flag it is always `true`

Looks like last index  case.

[2018-02-08 17:58] vsemozhetbyt commented on #18648
See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp/test#Using_test()_on_a_regex_with_the_global_flag

[2018-02-08 18:05] bobOnGitHub commented on #18648
Cheers vsemozhetbyt !! who'd-a-thought-it ? ... ( I've learned to stop asking "why" )

[2018-02-08 18:05] #18648 closed

[2018-02-08 18:19] olstenlarck commented on #4596
@BridgeAR can you give link to that PR? For when are the plans to be released, v10?

[2018-02-08 18:29] richardlau commented on #4596
https://github.com/nodejs/node/pull/18297 landed three days ago on master.

[2018-02-08 20:09] chrisblossom opened #18655 "Inconsistent path.parse().dir and path.dirname()"
* **Version**: ``v8.9.4``
* **Platform**: ``Darwin Chriss-MacBook-Pro.local 17.4.0 Darwin Kernel Version 17.4.0: Sun Dec 17 09:19:54 PST 2017; root:xnu-4570.41.2~1/RELEASE_X86_64 x86_64``
* **Subsystem**: ``path``

``path.dirname()`` and ``path.parse().dir`` is inconstant when no base path is given to a file. I would expect these functions to behave the same way. If this is expected, please close

[2018-02-08 20:51] apapirovski commented on #16601
This seems to be failing reasonably often again. Anyone have any ideas?

https://ci.nodejs.org/job/node-test-commit-osx/16147/nodes=osx1010/tapResults/

[2018-02-08 21:30] BridgeAR opened #18657 "Flaky test-http2-too-many-streams"
https://ci.nodejs.org/job/node-test-commit-plinux/15046/nodes=ppcbe-ubuntu1404/console

[code]

Ping @nodejs/http @nodejs/http2

[2018-02-08 21:31] apapirovski commented on #18657
I don't get these failures with no stack trace or signal code... No clue where to start. 😕

[2018-02-08 21:35] BridgeAR commented on #18657
Yeah, they are pretty bad and happening often at the moment :disappointed:.

[2018-02-08 21:37] BridgeAR opened #18658 "Flaky test-net-connect-local-error"
https://ci.nodejs.org/job/node-test-commit-freebsd/15207/nodes=freebsd11-x64/console

[code]

[2018-02-08 21:43] BridgeAR opened #18659 "Flaky test-repl-timeout-throw"
https://ci.nodejs.org/job/node-test-commit-linux-containered/1871/nodes=ubuntu1604_sharedlibs_debug_x64/console

[code]

[2018-02-08 21:55] bnoordhuis commented on #18655
I wouldn't expect that to change.  Both methods have behaved that way since before 1.0 so it's probably too late and too breaking a change.

The reason for `path.dirname()` printing `'.'` is that the traditional dirname(1) command and dirname(3) libc functions behave the same way.

[2018-02-08 22:03] BridgeAR opened #18660 "Fixathon / bug hunt"
Currently we have a lot of tests failing on our CI and those failures probably also indicate that we have some real underlying bugs and not only flakes even though most of those are probably flaky tests.
To be concrete: almost 10% of all open issues are reports for "[flaky](https://github.com/nodejs/node/issues?q=is%3Aissue+is%3Aopen+label%3A%22CI+%2F+flaky+test%22)" tests.

Nevertheless it is har

[2018-02-08 22:06] apapirovski commented on #18660
I'm in favour of this becoming a thing at the summits, at the very least. Having stable infrastructure is very important for a variety of reasons and it might be easier to figure out some of these flaky tests with the combined knowledge of a few collaborators.

[2018-02-08 22:11] vsemozhetbyt opened #18662 "Obsolete link and maybe info in crypto.md"
See intro notes for `Certificate` class: https://github.com/nodejs/node/blob/master/doc/api/crypto.md#class-certificate

The link is 404 now: https://www.w3.org/TR/html5/forms.html#the-keygen-element

Last working link time: https://web.archive.org/web/20171207004547/https://www.w3.org/TR/html5/forms.html#the-keygen-element

No `<keygen>` part in the new spec: https://www.w3.org/TR/html5/sec-forms

[2018-02-08 22:13] maclover7 commented on #18660
cc @nodejs/build, the flakiness of the test suite / infrastructure issues was brought up during out last WG meeting. I think having this kind of event would be very helpful :)

[2018-02-08 22:40] apapirovski commented on #13586
I haven't seen this for a really long time so I'm going to close for now. We can reopen if it resurfaces or if anyone has a strong opinion on this particular issue.

[2018-02-08 22:40] #13586 closed

[2018-02-08 22:51] apapirovski commented on #18497
This test shouldn't be flaky, especially not after https://github.com/nodejs/node/pull/18508 landed. We should reopen if it happens again but I don't really see how...

[2018-02-08 22:51] #18497 closed

[2018-02-08 22:55] mhdawson commented on #18660
I think it would be a good idea, even with best intentions it is sometimes hard to get to work like this.  If we had a scheduled time we were all going to get together and make a push on it, it might help to make progress.

[2018-02-08 23:01] BridgeAR commented on #18660
I can open a poll to find a good time but first we might want to figure out if we want to consider it during the week or over a weekend.

:tada: During the week.
:heart: During the weekend.
:+1: It does not matter.

[2018-02-08 23:05] mhdawson opened #18663 "Flaky test-child-process-disconnect"
* **Version**: master
* **Platform**: ubuntun 1204
* **Subsystem**: process

Seen in unrelated CI run

https://ci.nodejs.org/job/node-test-commit-linux/16231/nodes=ubuntu1204-64/consoleFull
[code]

[2018-02-08 23:25] apapirovski commented on #18658
Presumably it's hitting this path:

https://github.com/nodejs/node/blob/6963a93d0ec7b0020f243f2d49eba889a869cbed/lib/net.js#L975-L985

Instead of the one it's supposed to (`afterConnect`).

Anyone from @nodejs/http have any insights?

[2018-02-09 00:20] j0t3x commented on #18660
this will only happen in summits? what about letting remote guys join this initiative?

[2018-02-09 00:29] BridgeAR commented on #13001
I am closing this because there has not been any activity anymore for a long time here. If someone disagrees, please leave a comment or reopen.

[2018-02-09 00:29] #13001 closed

[2018-02-09 00:29] BridgeAR commented on #7609
@bnoordhuis are these still up to date?

[2018-02-09 01:32] ofrobots commented on #13254
Nan::AsyncWorker and Nan::Callback support: https://github.com/nodejs/nan/pull/731

[2018-02-09 03:07] kenny-y opened #18671 "build: Utilize Modern Compiler Flags to Address Potential Security Issues"
I've done some search in issues list and I feel I should log a new one.

It's a common best practice to utilize the flags of modern compilers, e.g. the following flags are from `GCC`

[code]
`noexecstack` was addressed in #17933

* **Version**: Future versions
* **Platform**: All supported platforms
* **Subsystem**:

I've done a little experiment and found that most of the flags can be directly ap

[2018-02-09 06:51] joyeecheung commented on #18660
BTW I am working on a tool that walks the CI for a given build number and guess the reason of the failed builds. It needs a bit more tests to land and get released but I have found it quite helpful since I started to use it. https://github.com/nodejs/node-core-utils/pull/161

[2018-02-09 08:49] joyeecheung commented on #18544
Labeling tsc-agenda since this should be announced in a TSC meeting according to our new onboarding guide.

[2018-02-09 09:01] mcollina commented on #18640
@Fishrock123 I think we have a full day of work for this (or multiple calls).

Topics:

1. improve our current codebase (this has been grinding  for a bit of time already)
2. progress and prototype "bob"

We can also start takling some of these remotely, if an in-person meeting is not be feasible.
In any case, we might plan for collab summit in Berlin.

[2018-02-09 09:29] mcollina opened #18672 "console.error(stream._readableState) causes Maximum call stack size exceeded"
* **Version**: master (as of https://github.com/nodejs/node/commit/da97a47c4406d2c4bc867349dd039d6cc7cdff72)
* **Platform**: all
* **Subsystem**: util, stream

Currently running `console.error(stream._readableState)` causes:

[code]

https://github.com/nodejs/readable-stream/pull/320/commits/3dc883c734c7990f803ac05a8a64ce70d0815b1d

[2018-02-09 09:29] mcollina commented on #18672
cc @BridgeAR @nodejs/streams

[2018-02-09 10:21] juggernaut451 commented on #17331
@lazyspark if you are not working on this.. can i take this up? @joyeecheung @refack

[2018-02-09 10:22] juggernaut451 commented on #11135
Would like to help in this if something is left

[2018-02-09 10:45] AndreasMadsen commented on #17143
is now done :) We can "Remove `.domain` support from `MakeCallback`" once node.js 10.0.0 is released.

[2018-02-09 10:46] bnoordhuis commented on #18671
Pull requests welcome. :-)

I've investigated most of these over the years.  Performance concerns and toolchain issues make it complicated.

I forgot the details but IIRC `-z now` didn't play well with add-ons.

I believe this was blocked on clang 3.4 not supporting `-fstack-protector`.  A quick `git log` of clang's source tree suggests that 3.4.2 (our current baseline) does so this could probably

[2018-02-09 10:51] XadillaX commented on #18169
I think I've found the key. I'll work on it.

[2018-02-09 10:54] bnoordhuis commented on #18639
Start node with `--inspect-port=0` to bind to a random port or set `process.debugPort` to the desired port number.

`process.debugPort` should be documented.  I've added labels.  Could use a note in `doc/api/process.md` and `doc/api/debugger.md`.

[2018-02-09 11:45] addaleax opened #18674 "fs.promises.symlink() does not return the right Promise"
`fs.promises.symlink()` returns a Promise for the `FSReqPromise` itself, not the actual async operation that is in progress.

I *think* all that's needed is a `req_wrap->SetReturnValue()` call in `Symlink()` in `node_file.cc`, but then again it seems like we should maybe refactor the `args.GetReturnValue().Set()` call in `AsyncDestCall()` to already do that?

(Noticed this while looking into local

[2018-02-09 12:35] BridgeAR commented on #18672
It is not an issue on master. It is indeed an issue in [readable-stream](https://github.com/nodejs/readable-stream) when running CITGM if it is not updated to the current head. Besides that I am unable to reproduce.

PR #17907 changed something here but I do not see how this is an issue here right now.

[2018-02-09 12:51] mcollina commented on #18672
Most stream modules on npm depends on readable-stream, and they do not use the stream implementation that we have in core.

When trying to run console.log(stream._readableState), all of these modules will throw exception when it was fine before. This is a primary way to debug stream issues, so it is somewhat important that we keep this functionality intact.

I’m currently pulling code from node 8.

[2018-02-09 13:46] bnoordhuis commented on #7609
I think so.  I don't have a problem with closing it out; the errors are confusing / misleading but it's something of an edge case.

[2018-02-09 14:50] mcollina commented on #18672
https://github.com/nodejs/node/commit/9d3958102ec28f2bb468b2c532b7b34cabd61f1b needs to be applied to readable-stream as well.

[2018-02-09 14:50] #18672 closed

[2018-02-09 15:25] #18544 closed

[2018-02-09 15:42] DmitryAstafyev opened #18680 "Unhandled 'error' event"
* **Version**: 8.6.0
* **Platform**: darwin
* **Subsystem**:

I'm not sure is a "feature" or "bug", but use case is messy.

[code]

Expected result: `exit code 0` because error event is handled.

But I want to trigger "my" event also:

[code]

But now result is: `exit code 1` - application is crashed within `Unhandled 'error' event`

Simple changing of event's name fix it:

[code]

And again I hav

[2018-02-09 15:45] addaleax commented on #18680
There is no `error` handler on your `Service` instance, but you’re emitting an error on it, so I would say this is expected behavior and not a bug in Node.

Could you give a suggestion of output that you would have found helpful?

Also, I’d suggest moving this discussion to https://github.com/nodejs/help/, I think that’s a better place for it (because it’s not a bug with Node).

[2018-02-09 16:01] BridgeAR commented on #18660
@joyeecheung that is really great! I am looking forward to have that :-)

[2018-02-09 16:03] DmitryAstafyev commented on #18680
Many thanks for so quick response.
Regarding information. I don't know. I added handler for `error` event to `spawn`. And expect that this is enough to be sure, that application will not be `exit 1`. "My" event `error` I would like to trigger also, but I don't what to make a user of service listen it. User can listen `error` event or not.
Maybe, I don't know: something like `handler of "error" eve

[2018-02-09 16:06] addaleax commented on #18680
How would Node know how the `error` handler on another object relates to the one on your own class?

[2018-02-09 16:15] DmitryAstafyev commented on #18680
That's why I'm asking. The simplest thing for me, it's just do not use same naming of events.
And here a "why" I didn't want to make developer listen `error` (to leave two ways `catch` it: within `reject` and within `error` event):

[code]
One again thanks for your response.

[2018-02-09 17:34] #18680 closed

[2018-02-09 19:58] jvelezpo commented on #18660
I am in, My last 2 PR where failing due to something in the CI but was unrelated to the code in my PR.
I will be more than happy to help with this 😎

[2018-02-09 20:42] FND opened #18686 "working directory makes `require.resolve` fail with custom `paths` on v8.x"
* **Version**: v8.9.4
* **Platform**: Darwin 17.4.0
* **Subsystem**: modules

Invoking `require.resolve` with the `paths` option fails if the respective directory does not match the current working directory. This appears to have been fixed in v9.x, but continues to affect LTS versions.

Reduced test case below - I hope these Bash one-liners are readily understandable, otherwise please let me know

[2018-02-09 21:48] cjihrig commented on #18686
If it works in Node 9, you probably are looking for the changes in https://github.com/nodejs/node/commit/8578e81b2b41eac6aea7a812b8e5f35a7362a6df. It looks like it has been backported to the [v8.x-staging branch](https://github.com/nodejs/node/commit/aaca447333b6309f2656198cd9b8ec28674962c1). However, I don't see it in the upcoming [8.10.0 release proposal](https://github.com/nodejs/node/pull/1833

[2018-02-09 23:05] jasnell commented on #18674
I'll take a look :-)

[2018-02-09 23:51] Martii opened #18688 "`https.get`, TLS, *node*, *async*, and perhaps others and EPROTO type 40 error"
Trying the direct approach since I got maintainer having a bad day over at https://github.com/nodejs/help/issues/1098

* **8.9.4 and 9.5.0**:
* **Linux _(multiple distros)_**:
* **Scope (~~install~~, code, runtime, ~~meta~~, other?)**:
* **Module https://www.npmjs.com/package/request (and version of 2.83.0) (relevant when converted from *node* internal `https.get` and produces similar output )**:

[2018-02-09 23:53] Martii commented on #18688
I've been given some advice on rechecking something... please hold while I retest.

[2018-02-09 23:56] bnoordhuis commented on #18688
And also given advice on posting a minimal test case, remember?  The contributing guide has more hints if you need them.

I'm closing this out because we already established the issue wasn't with node.js itself.

[2018-02-09 23:56] #18688 closed

[2018-02-10 00:00] Martii commented on #18688
I am a contributor already @bnoordhuis . Please reopen this and refrain from being snarky. You have managed to upset me by your negative reactions now. You need to let someone else handle this and **not** you. Thank you for your cooperation.

[2018-02-10 00:25] jasnell commented on #18688
@Martii ... I've reopened the original issue in the help repo since your issue is still unresolved. If this does turn out to be some kind of bug in core, please come back and open an issue here. Definitely hope you manage to get the issue resolved :-)

[2018-02-10 00:26] Martii commented on #18688
@jasnell
Thank you... I'm really confused why those two test cases work but buried in *async* it doesn't appear to trap it. Will continue over there.

[2018-02-10 03:34] gireeshpunathil commented on #18663
ran a 1000 times (locally) , not reproducible. From the failure description it is not clear about the reason - neither timeout (small run duration) nor an assertion, and not a crash!

[2018-02-10 05:11] Joniali078 opened #18691 "https://github.com/nodejs/help"
* **Version**:
* **Platform**:
* **Subsystem**:

[2018-02-10 05:12] #18691 closed

[2018-02-10 05:23] ChALkeR commented on #15366
@ryanmurakami just noticed this while reviewing my notifications…

I was mostly in the burn-out state between September and January (it could be noticed from my [GitHub activity](https://github.com/ChALkeR)).

I think I don't have the strength to join the moderaton team right now, i.e. I probably won't be very useful there. You can cc/email/otherwise-ping me anytime if you want me to excercise in

[2018-02-10 08:08] #16249 closed

[2018-02-10 08:08] #16940 closed

[2018-02-10 10:44] crcali commented on #10659
I am getting a similar problem. I tried all the above solutions, but none of them were working.
Here is my error message:

#
# Fatal error in ../deps/v8/src/api.cc, line 1248
# Check failed: !value_obj->IsJSReceiver() || value_obj->IsTemplateInfo().
#

[2018-02-10 11:30] FND commented on #18686
Thanks @cjihrig; I'd looked through the changelog, but wasn't sure whether that commit was relevant.

Is there a way I could confirm this fix by locally patching Node? I've extracted the v8.9.4 tarball, but can't find any relevant `.js` files within. (I not familiar with Node's internals.)

Also, should I pipe up in #18336, requesting inclusion after confirming the above? (I hesitate to just barge

[2018-02-10 11:37] bnoordhuis commented on #18686
@FND Did you download the binary tarball?  You'll need the source tarball, JS files are in lib/.

You can apply the patch by tacking on .patch (or .diff) to the commit URL Colin posted, i.e., https://github.com/nodejs/node/commit/8578e81b2b41eac6aea7a812b8e5f35a7362a6df.patch

[2018-02-10 12:12] FND commented on #18686
@bnoordhuis: You're right, I'd only checked the binary tarball because I had _assumed_ 🤦‍♂️ mere JavaScript files didn't require compiling Node from source.

Anyway, after applying 8578e81b2b41eac6aea7a812b8e5f35a7362a6df, my test case above passes with the patched v8.9.4 binary - so @cjihrig was indeed correct.

What's the next step for getting this included in an LTS release?

[2018-02-10 12:17] bnoordhuis commented on #18686
Let's ask.  @gibfahn Is 8578e81 on track for the next v8.x?

[2018-02-10 14:36] #18645 closed

[2018-02-10 15:03] smkoyan opened #18695 "require does not work as described in the documentation"
* **v9.5.0**:
* **Windows 10 Pro 64-bit**:
* **modules**:

I have this file structure:
![image](https://user-images.githubusercontent.com/21264991/36063143-538ff8bc-0e92-11e8-91a3-9a8a083e8fb7.png)

- app.js
`console.log( require.resolve('./hello') );`

- package.json
`{
  "main": "test"
}`

other files are empty.

run: `node app.js`

if rely on the documentation **require** should find file under

[2018-02-10 15:09] #18659 closed

[2018-02-10 18:49] juggernaut451 commented on #18639
can i take this up @bnoordhuis ?

[2018-02-10 18:50] BridgeAR opened #18702 "Flaky test_callback_scope/test-resolve-async"
https://ci.nodejs.org/job/node-test-commit-linux/16293/nodes=alpine35-container-x64/console

[code]

[2018-02-10 20:25] BridgeAR opened #18703 "New documentation lint rule"
I personally would really like to add a [80 character limit](https://github.com/remarkjs/remark-lint/tree/master/packages/remark-lint-maximum-line-length) to our linter for the docs.

maybe someone would like to tackle that? :-)

[2018-02-10 20:27] BridgeAR commented on #18703
@watilde would you mind being a mentor in case that is needed?

[2018-02-10 20:52] watilde commented on #18703
Sure, I'd love to :)

[2018-02-10 21:58] MylesBorins commented on #7785
Closing due to lack of activity. Let me know if we should re open

[2018-02-10 21:58] #7785 closed

[2018-02-10 22:07] MylesBorins commented on #16601
another failure

https://ci.nodejs.org/job/node-test-commit-osx/16187/nodes=osx1010/console

[2018-02-10 22:09] brianlmacdonald commented on #18703
Can I call dibs on this?

[2018-02-10 23:26] Legends opened #18705 "SyntaxError: Unexpected token import"
I just updated node runtime to v9.5, but I had the issue with the previous version also.
C:\WINDOWS\system32>node -v v9.5.0
C:\WINDOWS\system32>npm -v 5.6.0
C:\WINDOWS\system32>tsc -v Version 2.7.1
Win 10 x64

![image](https://user-images.githubusercontent.com/966368/36067676-10ab8202-0ec2-11e8-9c61-c3296b1baf78.png)

When clicking the "Play" button in the upper right corner in VS Code.I get the e

[2018-02-10 23:27] addaleax commented on #18705
Can you open an issue at https://github.com/Microsoft/TypeScript? This doesn’t appear to be related to Node itself.

[2018-02-10 23:29] Legends commented on #18705
Ups,  ok, sorry.

[2018-02-10 23:29] #18705 closed

[2018-02-11 01:39] jvelezpo opened #18707 "Change utils deprecated methods to alternative approaches"
Hello all,

Today I was reading the `api/util` documentation and so many methods with the flag `deprecate` then i though it would be cool to find the deprecated methods in the core and change them to alternative approaches.

Following this line of thoughts i started by the first method which is `util._extend` and i did some changes in the code, and while doing that i found this file `benchmark/mis

[2018-02-11 08:28] xxoo opened #18709 "http2 server Error: stream.push() after EOF"
* **Version**: 8.9.4
* **Platform**: linux
* **Subsystem**:

[code]
i'm using http2 server compatibility api and this error occured sometimes, but the log doesn't seem to be related to user land code. since i always checked res.finished before writing anything in callbacks

[2018-02-11 10:10] mazocomp opened #18710 "Lack of W^X"
Hi!

PROT_WRITE | PROT_EXEC is a terrible thing:

LTS 8.9.4:
$ grep PROT_EXEC -R .
./deps/v8/src/base/platform/platform-aix.cc:  int prot = PROT_READ | PROT_WRITE | (is_executable ? PROT_EXEC : 0);
./deps/v8/src/base/platform/platform-freebsd.cc:  int prot = PROT_READ | PROT_WRITE | (is_executable ? PROT_EXEC : 0);
./deps/v8/src/base/platform/platform-linux.cc:  // PROT_EXEC so that analysis tools

[2018-02-11 14:30] gireeshpunathil commented on #18710
Can you please elaborate on the `terribleness`? these flags are `essential` for memory that hold dynamically generated code, without which accessing the memory will result in machine checks.

[2018-02-11 14:44] matthewp commented on #3462
Given recent decisions such as making URL global, is this something that you would like to reconsider @jasnell @MylesBorins ?

[2018-02-11 15:29] Fishrock123 commented on #3462
These APIs are named _very_ poorly. -1

[2018-02-11 17:08] mazocomp commented on #18710
@gireeshpunathil
0. There is mprotect(2) to switch between PROT_WRITE and PROT_EXEC if necessary.
1. https://en.wikipedia.org/wiki/W^X

[2018-02-11 17:22] TimothyGu commented on #18710
This is not something that we (Node.js) can fix, since it is a core part of how V8 works. Note that Spidermonkey (the JavaScript engine in Firefox) does [indeed](https://jandemooij.nl/blog/2015/12/29/wx-jit-code-enabled-in-firefox/) support W^X.

/cc @nodejs/v8

[2018-02-11 17:57] ebraminio commented on #18710
[AFIAK] The good news is V8 is going [to be W^X](https://chromium-review.googlesource.com/#/c/822514/), the patch is [reverted](https://chromium-review.googlesource.com/c/chromium/src/+/893609) but it is probably going to be very soon.

[2018-02-11 18:36] TimothyGu commented on #18710
@ebraminio That’s great to hear!

I’m going to close this issue then. Doesn’t seem like there is anything that is actionable for us.

[2018-02-11 18:36] #18710 closed

[2018-02-11 18:37] hashseed commented on #18710
It has been disabled because it causes hangs on Windows sometimes. Being worked on though!

[2018-02-11 18:43] mihab commented on #18638
Yup got the same error with latest LTS of Node, anyone knows of a workaround?

[2018-02-11 19:41] ajflash commented on #14593
Hello,

Maybe I have found something very similar related to the access of an undefined process.env variable in Windows. The env variable that does not exist in this test is "DUMMY_VAR".
The test code is extremely simple and I cannot give an explanation of the difference results I get with node v8.9.4:

`
process.env.applicationpath = "";
console.log("typeof process.env.applicationpath = " + typeo

[2018-02-11 20:37] daynin commented on #18709
@xxoo Hi! I can't reproduce it. Can you show us some code which can help us to reproduce the error?

[2018-02-11 20:53] antoine-amara commented on #18662
I update the documentation, I will post a PR very soon.

[2018-02-12 06:35] shobhitchittora commented on #16636
@gibfahn the script you mentioned above -
`./node tools/eslint/bin/eslint.js --cache --rulesdir=tools/eslint-rules --ext=.js,.mjs,.md benchmark doc lib test tools
`
isn't working with the latest master. Any alternative?

[2018-02-12 07:20] techie-92 opened #18725 "npm WARN registry Unexpected warning for https://registry.npmjs.org/: Miscellaneous Warning EINTEGRITY: sha1-UWbihkV/AzBgZL5Ul+jbsMPTIIM= integrity checksum failed when using sha1: wanted sha1-UWbihkV/AzBgZL5Ul+jbsMPTIIM= but got sha512-yJHVQEhyqPLUTgt9B83PXu6W3rx4MvvHvSUvToogpwoGDOUQ+yDrR0HRot+yOCdCO7u4hX3pWft6kWBBcqh0UA==. (11423 bytes)"
Thank you for reporting an issue.

This issue tracker is for bugs and issues found within Node.js core.
If you require more general support please file an issue on our help
repo. https://github.com/nodejs/help

Please fill in as much of the template below as you're able.

Version: output of `node -v`
Platform: output of `uname -a` (UNIX), or version and 32 or 64-bit (Windows)
Subsystem: if known,

[2018-02-12 07:28] techie-92 commented on #18725
I got this error while installing angular cli using  npm install -g @angular/cli as well as installing dependencies for existing project using npm install.

I have tried removing app data files and clearing npm cache but no luck.

[2018-02-12 09:35] vsemozhetbyt commented on #18344
From Github support:

[2018-02-12 09:35] #18344 closed

[2018-02-12 09:55] gibfahn commented on #18725
This seems like an issue with npm, please could you raise an issue on their issue tracker (https://github.com/npm/npm/issues)?

If you think it's an issue with node then let me know and I'll reopen.

[2018-02-12 09:55] #18725 closed

[2018-02-12 09:57] techie-92 commented on #18725
Thanks for the reply. I will check with npm.

[2018-02-12 12:28] #18470 closed

[2018-02-12 12:42] gibfahn commented on #16636
@shobhitchittora seems to work okay for me (although the first run took 36s on my machine).

<img width="1411" alt="image" src="https://user-images.githubusercontent.com/15943089/36091411-9a76cce8-0fdb-11e8-8d57-f167c936729e.png">

`./node tools/node_modules/eslint/bin/eslint.js --cache --rulesdir=tools/eslint-rules --ext=.js,.mjs,.md benchmark doc lib test tools`

FWIW I got that command by runni

[2018-02-12 13:51] vweevers commented on #14593
I suspect this is also why `fs.readFileSync` triggers the bug in my example. It's not the reading of an (unexisting) file that triggers it per se but that `readFileSync` does something with/to the environment.

BTW @payload I was unable to trigger it on v6.

[2018-02-12 14:08] BridgeAR opened #18730 "Flaky test-benchmark-timers"
https://ci.nodejs.org/job/node-test-commit-freebsd/15450/nodes=freebsd10-64/console
https://ci.nodejs.org/job/node-test-commit-linux-containered/2130/nodes=ubuntu1604_sharedlibs_debug_x64/console

[code]

[2018-02-12 14:09] BridgeAR commented on #18495
Ping @nodejs/build PTAL

[2018-02-12 14:14] BridgeAR opened #18731 "Flaky parallel/test-http-get-pipeline-problem"
https://ci.nodejs.org/job/node-test-commit-linux/16299/nodes=alpine36-container-x64/console

[code]

Ping @nodejs/http @nodejs/http2

[2018-02-12 14:16] BridgeAR opened #18732 "Flaky parallel/test-http-url.parse-auth"
https://ci.nodejs.org/job/node-test-commit-linux/16299/nodes=debian8-x86/console

[code]

Ping @nodejs/http2 @nodejs/http

[2018-02-12 14:17] BridgeAR opened #18733 "Flaky parallel/test-tls-request-timeout"
https://ci.nodejs.org/job/node-test-commit-plinux/15171/nodes=ppcle-ubuntu1404/console

[code]

[2018-02-12 14:43] richardlau commented on #14593
@addaleax recently fixed https://github.com/nodejs/node/pull/18463 which sounds like the example given by @ajflash.

[2018-02-12 14:48] addaleax commented on #14593
Yes, it’s exactly that bug.

/cc @nodejs/lts @gibfahn Just so you are aware, this seems to be a bug that quite a few people are running into and a (pretty much zero-risk) fix has been landed on master two weeks ago. It might be good to have this in 8.10.0, even if it doesn’t technically fulfill the lived-in-Current-for-2-weeks rule.

[2018-02-12 14:50] apapirovski commented on #16105
FWIW I have an implementation of this done that makes explicitly `.unref()` or `.ref()` timers about 700-800% faster. I'm still not quite happy with it so it might be another week before I open PR. I've assigned to myself so no one accidentally ends up duplicating this work.

Funny enough, I ended up finding this issue after I got about 80% into it and started exploring timer wheels which led me t

[2018-02-12 15:15] BridgeAR opened #18735 "Flaky test-zlib-from-string"
https://ci.nodejs.org/job/node-test-commit-linux/16305/nodes=debian8-x86/console

[code]

[2018-02-12 15:18] BridgeAR opened #18736 "Flaky sequential/test-net-listen-shared-ports"
https://ci.nodejs.org/job/node-test-commit-linux/16334/nodes=debian8-x86/console

[code]

[2018-02-12 15:29] aldafu commented on #18639
This is about already running processes, so I don't think `--inspect-port=0` or `process.debugPort` are valid options, right? How configure that port once the process is already running?

[2018-02-12 15:32] #18730 closed

[2018-02-12 15:37] bnoordhuis commented on #18639
As long as the inspector hasn't been started yet, you can configure the port with `process.debugPort`.

[2018-02-12 15:47] BridgeAR opened #18737 "Multiple windows test issues"
Our Windows tests seem to partially fail on Windows when running on a encrypted machine.

@feugy told me about these issues. As I do not use Windows, I can hardly help to fix them.

See:

[code]

Ping @nodejs/platform-windows

[2018-02-12 15:50] patrickdawson opened #18738 "UsedHeap and Old_Space increasing without mem leak"
* **Version**: v8.9.4 (32 bit)
* **Platform**: Windows 7 64 Bit
* **Subsystem**:

I am hunting a crash in my application where v8 basically says that there is no memory left. With (hopefully) all mem leaks fixed on my site I still see increasing heapUsed and old_space space_used_size. I can even reproduce this with the following node example program:
[code]
I run this program with the following co

[2018-02-12 15:58] bnoordhuis commented on #18738
What is the error message you get?

[2018-02-12 16:02] patrickdawson commented on #18738
With this small example I don't get an error. I am just wondering why the memory is increasing although I am doing the same thing over and over again without putting anything on the heap myself.
Why is the heap usage not constant in this example?

[2018-02-12 16:06] bnoordhuis commented on #16105
I know and feel your pain.

[2018-02-12 16:07] jvelezpo commented on #18707
Thanks for your reply @vsemozhetbyt 👍
What about the rest of the deprecated methods in util?

[2018-02-12 16:08] bnoordhuis commented on #18738
V8 prefers to grow the heap over scanning it frequently.  Time/space trade-off, basically.

(Reality is a bit more complex, the GC takes lots of input signals into account, but that's the executive summary.)

[2018-02-12 16:15] BridgeAR commented on #18707
@jvelezpo I am not sure what you mean with that? If a method gets deprecated, it will either get a replacement right away or no replacement at all because non is needed.

Should this still be kept open? Because I am not sure what should be changed here?

[2018-02-12 16:20] jvelezpo commented on #18707
I think we can close it @BridgeAR
my 2 questions were answered already
first was about `util._extend`
and the second was abut any other deprecated method that you answered by ` it will either get a replacement right away or no replacement at all because non is needed.`

Thanks.

[2018-02-12 16:22] #18707 closed

[2018-02-12 16:30] gibfahn commented on #14593
Sounds like a good candidate for expediting, will comment in https://github.com/nodejs/node/pull/18463.

[2018-02-12 16:37] patrickdawson commented on #18738
So you basically say that this is normal behavior and V8 will stop growing the heap when I get close to max_old_space_size. Then instead the program will slow down.
So transferring this knowledge to my project problem: this does not lead to a problem where I cannot get memory from V8 because the GC will kick in and free the old space when it is required to do so.

[2018-02-12 18:50] richardlau commented on #18539
And maybe https://github.com/nodejs/build/issues/1114.

[2018-02-12 19:24] NTMan commented on #4329
Nodejs 8.9.4 and nothing changed and nobody cares

[2018-02-12 19:35] patrickdawson commented on #18738
I just added gc calls before getting the heap statistics:
[code]
and started the app with `--expose-gc`. Used heap and used old space are still increasing (not by much after a short amount of time) but you can still see it. If this is all normal behavior maybe you could point me to some documentation for better understanding. Sorry for opening the issue then but I couldn't think of a better place

[2018-02-12 20:08] rheaton commented on #784
![bitmoji](https://render.bitstrips.com/v2/cpanel/204d8f0d-50e5-4db5-a810-f6525a68dc39-8200fd69-e2cf-427b-a1cc-8c58a181623a-v1.png?transparent=1&palette=1&width=246)

[2018-02-12 20:08] bnoordhuis commented on #18738
Yes, that's right.  If there's a real memory leak, node eventually dies with an OOM (Out Of Memory) error.

Possibly relevant: `--max_old_space_size=...` in node is a soft limit because objects like buffers and types arrays are allocated mostly outside the JS heap.  It's not unexpected for node's total memory footprint to go over the limit.

No problem.  V8 has no real documentation on its GC so t

[2018-02-12 20:20] rheaton commented on #1541
![bitmoji](https://render.bitstrips.com/v2/cpanel/204d8f0d-50e5-4db5-a810-f6525a68dc39-8200fd69-e2cf-427b-a1cc-8c58a181623a-v1.png?transparent=1&palette=1&width=246)

[2018-02-12 20:29] BridgeAR opened #18741 "Adding capitalized-comments eslint rule"
I would like to add the `capitalized-comments` rule as the following:

[code]

This complains about the first non inline comment that is not starting with a capitalized letter. If we have a specific comment that comes up often that we would also want to ignore, we might also add that option.

What do others think about it? It is one of the nits that comes up more frequently, so I think it would be

[2018-02-12 20:29] BridgeAR commented on #18741
@nodejs/collaborators PTAL

[2018-02-12 20:32] bnoordhuis commented on #9160
To really close this out we'll also need to devise something for the getenv/setenv/etc. calls in our dependencies.  We could perhaps exploit weak symbols or build our deps with `-Dgetenv=node_getenv`, etc.

[2018-02-12 20:37] danicoolpak17 commented on #4329
@NTMan i see, the problem was saved on my pc using Windows 7 64 bit. And i followed same steps as mentioned

[2018-02-12 20:45] apapirovski commented on #18741
I would've said yes... but that's a lot of churn so I would be -1 unless something dramatic changes. It'll be near impossible to change the `lib` ones without diluting `git blame`, plus creating a back-porting nightmare.

[2018-02-12 21:14] BridgeAR commented on #18741
Well, I guess I can add one for /tools. I'll just keep this open as a reminder to check from time to time.

[2018-02-12 21:49] devsnek commented on #18741
could it just be set to warn for now and wait a few months?

[2018-02-12 22:50] xxoo commented on #18709
@daynin thanks for replying! this error occurred in our production environment, i saw it in the server log, but i don't know how to reproduce it either.
node version is not 9.5, it's 8.9.4 on the server.
the code is hosted here. i wish it helps.
https://github.com/xxoo/fusion-backend/blob/619d2add5ed5c15a6037511a2c8204047ea716ed/bin/webServer.js#L189

[2018-02-12 23:25] apapirovski commented on #18657
@nodejs/build could someone look into these failures without strack traces or signal codes? I feel like these might be more CI or test runner related rather than failures of node or the test itself.

[2018-02-12 23:29] apapirovski commented on #18323
@gireeshpunathil @bnoordhuis any further thoughts here? This has happened on a few other tests, all are very short running tests that don't do much. For example: https://github.com/nodejs/node/issues/18585

It's making me think that this must be something related to the bootstrap / tear down where the code is clearly overreaching. For example, we could be manipulating V8 objects after Dispose or s

[2018-02-12 23:30] apapirovski commented on #18323
The shortest running example was https://github.com/nodejs/node/issues/18505 which literally exits after requiring `common` and checking that it's not a platform that test supports.

[2018-02-12 23:31] jasnell commented on #18657
Are these failing on a specific platform? I'll investigate further. Triggering these reliably can be difficult.

[2018-02-12 23:34] apapirovski commented on #18657
The ones with no strack trace or signal code have all been on debian8 and ubuntu (I believe 1404 and maybe 1204).

[2018-02-12 23:35] lykkin commented on #18233
Is the release of official ES module support certain to include this functionality?  The particular mechanism used to interact with the module loading isn't important, just the ability to interact in the loading.

I'm looking into how one might load APM instrumentation into ES modules, and this level of support would be awesome (it is way better than the work arounds I've been able to come up with

[2018-02-12 23:35] apapirovski commented on #18657
And I strongly suspect this isn't http2 related. There have been many different tests that have failed this way, across all kinds of different systems. Everything from debug to zlib.

[2018-02-12 23:39] bmeck commented on #18233
@lykkin APMs would probably use the [existing APM example workflow](https://github.com/bmeck/node-apm-loader-example) and a global loader ([`--loader`](https://nodejs.org/dist/latest-v9.x/docs/api/esm.html#esm_resolve_hook)) for now

[2018-02-13 00:02] bnoordhuis opened #18742 "build: investigate jumbo builds"
A jumbo build concatenates compilation units into a single file before compiling.  E.g.:
[code]
It trades build parallelism and memory consumption for:

1. Usually better generated code; kind of a poor man's LTO.
2. CPU time.  Because the compiler has to parse headers only once, it's often dramatically faster.

V8 in particular is a good candidate and already supports jumbo builds.  To illustrate:

[2018-02-13 01:22] srl295 commented on #17077
@seishun I can't even get this far. I get:

[code]

… and then an editor is popped up to _edit_  `getnodeversion.py`

[2018-02-13 01:26] srl295 commented on #17077
@mmarchini what is the actual path of your node dir ? I see both:

and

[2018-02-13 01:45] gireeshpunathil commented on #18742
out of curiosity; how does the benefit comes for the generated code? is it more code comes for compiplation at a time provides improved escape analysis, or better method inline-ability, or something else? who benefits by large - C or C++?

[2018-02-13 01:53] gireeshpunathil commented on #18323
I stopped working on this, but thanks for the collated information - that shows a pattern for the failure, and gives further opportunity to investigate.

Let me further look into these.

One challenge is the intermittent nature, even in the CI. If you ever spot a consistent failure in CI, the way forward would be to set `ulimit -c unlimited` to get a core dump, or run it under `strace`

[2018-02-13 03:19] khrome commented on #13815
This issue created an intense amount of work for me in multiple projects, I quickly just mechanized it. Now as a side effect things don't work if they aren't in the package(which is a good thing!). I still have mixed feelings about the lack of response on this, but no longer frustraging on it. To use my auto linker just `npm install -g module-auto-link` then run `npm-auto-link` in the project dire

[2018-02-13 03:35] BridgeAR commented on #13815
I think there is nothing more that can be done here right now. So I am closing the issue. A lot of things got fixed in npm since this issue was opened and there will be further fixes as well.

If something is not fixed, please go ahead and help @zkat and the others from npm by opening a PR for it.

[2018-02-13 03:35] #13815 closed

[2018-02-13 06:48] patrickdawson commented on #18738
Thank you very much for your responses. I have a bunch of last questions:
1.) even though V8 prefers to use heap space before scanning why does the call of gc still lead to increasing memory? Is it not possible to force the gc to do a complete cleanup?
2.) When would you start to hunt down memory leaks if increasing process footprint is NOT an indicator of a memory leak due to V8 gc strategy?

[2018-02-13 06:57] daurnimator commented on #12819
#11273 is now closed, but the issue remains.

[2018-02-13 07:54] seishun commented on #17077
@srl295 That looks like you don't have Python installed (see https://github.com/nodejs/node/issues/16864).

I reproduced it by placing it in "WindÒo". I don't know why Python outputs "WindÊo".

[2018-02-13 09:13] gireeshpunathil commented on #18323
@apapirovski - that provides sufficient proof point that the issue can be outside of node itself.

the practical code that is run in #18505 on alpine is:
[code]

@gibfahn :
 -  are these images persistent (created once and reused over) versus built on the fly from the Dockerfile, on a per CI basis? If it is persistent, I would  guess it is peculiar to the image, and the issue may not be reproducib

[2018-02-13 09:19] gibfahn commented on #18741
From a @nodejs/lts perspective, I'd be fine with this as long as:

- We do it all in one PR
- We backport straight away (whoever raises the PR to master commits to raising PRs to release branches)
- There's an `eslint --fix` for it

Churn is a big deal for backporting, but if backporting is just @BridgeAR raising a PR to each branch with the results of `eslint --fix`, then that's reasonably easy t

[2018-02-13 09:30] bnoordhuis commented on #12819
Changing the type is a semver-major change so node 10 would be soonest you'd see that change, and assuming it doesn't cause breakage in the ecosystem.

[2018-02-13 09:51] patrickdawson commented on #18738
Just discovered: the rss space just increases that much if garbace collector is forced in every iteration. Strange...

[2018-02-13 10:11] bnoordhuis commented on #18738
Probably paging in action.  RSS is the set of pages that's in main memory; pages that were swapped out to disk will be loaded back into memory when the GC touches them.

On Linux, transparent huge pages (THP) are another reason for RSS to bloom.  I don't know if Windows has a similar feature.

When node dies with an OOM error.

[2018-02-13 10:19] bnoordhuis commented on #18742
@gireeshpunathil Since the compiler has full visibility it can do whole-program optimization (like escape analysis, inlining, pruning, etc.) that it normally only does on a per-compilation unit basis without LTO.

[2018-02-13 10:55] billywhizz opened #18756 "HTTP Client 'aborted' event fires even when request was ok"
* **Version**: all versions from 4.x - > 9.x
* **Platform**: Linux/Ubuntu 16.04 x64
* **Subsystem**: http/https

We have been having issues with http/https downloads failing silently and the file being downloaded having an incorrect size for some time now. We are using axios library to do download and after some research and testing the only way we could get alerted about an incomplete download (c

[2018-02-13 11:16] bnoordhuis commented on #18756
I can't reproduce what you're seeing, the file is the expected size and `aborted === false` in the finish callback.  I tried a couple of node versions, including master.

Is that a typo?  Anything < v4.x is obsolete.

[2018-02-13 11:26] billywhizz commented on #18756
Yes, that's a typo. Fixed now. Sorry. If you leave the script running for a bit you should see some of the requests with aborted = true. here is my output running on Ubuntu/x64 with node v8.9.4:

[code]

[2018-02-13 11:46] mmarchini commented on #18741
I'm +1 on this as long as the release teams are fine with it.

[2018-02-13 14:22] jasnell commented on #18709
The version in 8.x is a bit out of date while waiting for some necessary other pieces to be backported. It's entirely likely that this is an implementation bug that has already been fixed in the 9.x and master streams.

[2018-02-13 14:53] devsnek commented on #17434
does anyone have any objections to adding `uncurryThis` to the internal native module wrapper? i think it would definitely help encourage people to follow the pattern we want to see, and make stuff like #18750 much easier

[2018-02-13 15:01] Kmaschta opened #18759 "Segmentation Fault of node debugger/inspector with Chrome Memory Devtools"
* **Version**: v8.9.4
* **Platform**:
    * (docker) Linux e2bd997af1ec 4.9.60-linuxkit-aufs #1 SMP Mon Nov 6 16:00:12 UTC 2017 x86_64 GNU/Linux
    * (host) Darwin air-marmelab.lan 16.7.0 Darwin Kernel Version 16.7.0: Thu Jan 11 22:59:40 PST 2018; root:xnu-3789.73.8~1/RELEASE_X86_64 x86_64
* **Subsystem**:

In order to reproduce, I just need to run a node server with `node --inspect index.js` (wi

[2018-02-13 15:09] Kmaschta commented on #18759
Certainly related to https://github.com/nodejs/node/issues/18223 !

[2018-02-13 15:13] cjihrig opened #18760 "Proposal: move node-report into core"
The idea of moving [`node-report`](https://www.npmjs.com/package/node-report) was brought up at the Diagnostics Summit.

Thoughts? Objections?

[2018-02-13 15:13] juggernaut451 commented on #14544
Anyone available for mentoring me regarding this issue?
 @refack @Trott @MylesBorins

[2018-02-13 15:16] dshaw commented on #18760
Also: https://github.com/nodejs/node-report

[2018-02-13 15:20] Kmaschta commented on #18759
I just have the same error on linux, inside the same docker:

* **Version**: v8.9.4
* **Platform**:
    * (docker) Linux e2bd997af1ec 4.9.60-linuxkit-aufs #1 SMP Mon Nov 6 16:00:12 UTC 2017 x86_64 GNU/Linux
    * (host) Linux kmaschta-marmelab 4.13.0-16-lowlatency #19-Ubuntu SMP PREEMPT Wed Oct 11 19:51:52 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

Report:

[code]

[2018-02-13 15:21] gireeshpunathil commented on #18760
+1.
By moving this into core, will the report generation hooks be enabled by default?

[2018-02-13 15:21] addaleax commented on #18759
@Kmaschta Can you provide a core dump (which would already be very helpful), or maybe even try to reproduce this with a debug build of Node? (Or provide code to reproduce this?)

/cc @nodejs/v8

[2018-02-13 15:21] BridgeAR commented on #14544
@juggernaut451 a lot of our tests do not contain a description what they actually test. That would for example be a good thing to add.

Another thing that I am aware of is that our documentation lacks a lot of "changed" entries. The latter is probably quite some work though to check all the changes. Even though you probably only have to check the concrete API history and check when what API change

[2018-02-13 15:22] BridgeAR commented on #14544
Please also look at https://www.nodetodo.org/next-steps/

[2018-02-13 15:27] targos opened #18761 "Segfault when trying to close the inspector from an active session"
* **Version**: 8, 9, master
* **Platform**: Linux x64
* **Subsystem**: inspector

To reproduce:
[code]

[code]

Main process crashes with:
[code]

I found this while trying to close the inspector without restarting the process. Is there another way to do that? I couldn't find anything in the documentation and this really looks like a hack.

/cc @nodejs/v8-inspector

[2018-02-13 15:34] hashseed commented on #18759
@Kmaschta could you check whether this is indeed a duplicate of https://github.com/nodejs/node/issues/18223 by running a debug build of Node.js?

[2018-02-13 15:34] targos commented on #18760
+1

[2018-02-13 15:35] targos commented on #18761
With a debug build:
[code]

[2018-02-13 16:13] mmarchini commented on #18760
+1

[2018-02-13 16:14] targos commented on #17434
I'd prefer to have it in an internal module. It could be a module where we export all safe builtins that we need. They could even be pre-uncurried. Then we could do anywhere:

[code]

PS: I haven't really thought about the names

[2018-02-13 16:24] apapirovski commented on #17434
Still not sure how I feel about this outside of the modules implementation. If we were going in this direction, I honestly wish we could find a way to have safe object prototypes within our wrappers. I don't like the idea of adjusting existing code with this half-solution which also makes code more difficult to understand and harder to maintain.

Allowing contributors to write JS the way that they

[2018-02-13 16:30] jasnell commented on #18760
+1

[2018-02-13 16:38] apapirovski commented on #18756
@billywhizz Chances are that we haven't received the final `\r\n` or something like that but the socket has already closed. If you look at the code where `complete` is set, it just means that the body has been fully received but it doesn't mean the response has actually ended. So if the socket closes prematurely at that point then I don't think there's a way we can tell if what we got was well-for

[2018-02-13 16:41] ljharb commented on #17434
Core could use a babel transform to transform statics into these alternate safe versions.

[2018-02-13 16:51] Kmaschta commented on #18759
I've hard time generating a core dump with Docker ...
I'll try to build a node locally, but I can't promise a result.

[2018-02-13 17:05] dougwilson opened #18763 "win32 path.normalize change in behavior"
* **Version**: v8.9.4
* **Platform**: Windows 10 64-bit
* **Subsystem**: path

So there seems to have been some change in `path.normalize` for win32 between Node.js 8.4.0 and 8.5.0 that changed how paths are being normalized. There seems to be a behavior difference with some paths that looked like drive-relative paths. Example:
[code]

Versions 8.4.0 and below used to do this:
[code]

Is this an e

[2018-02-13 17:50] dougwilson commented on #18756
It would have to be something else, because the code in the gist is printing out the `Content-Length` response header. The `\r\n` is only part of something like chunked transfer encoding, but that's not being used here since there is a `Content-Length` header -- the last byte of the body is the last byte of the response.

I see this in the RFC:

       Transfer-Encoding, its decimal value defines

[2018-02-13 18:28] apapirovski commented on #18756
@dougwilson it seems you're right, if we receive a message body with a matching Content-Length then we shouldn't be emitting `aborted` under any circumstances.

I haven't even tried the sample script so not sure if I can reproduce. Might have time to look into it this coming weekend if no one else does.

[2018-02-13 18:33] richardlau commented on #18760
Some previous discussion in https://github.com/nodejs/node-report/issues/103.

[2018-02-13 18:38] devsnek commented on #17434
i feel nervous about that just because it would turn error messages from core into spaghetti, unless we also packaged and used source maps for errors, which just sounds bloated

[2018-02-13 18:42] bmeck commented on #17434
We could execute code in a frozen realm for core, but that too has problems with marshaling data between realms. I think exposing a large list of primordials is easier overall than a transform.

[2018-02-13 18:45] matthewp commented on #3462
If the goal is to align with web apis I don't think how good the name is should matter. When this issue was created there wasn't a desire to do so, but this seems to have changed with some recent decisions. Good name or not, these are specced and useful within Node. https://html.spec.whatwg.org/multipage/webappapis.html#dom-btoa

[2018-02-13 18:47] hashseed commented on #17434
We had the same issue in V8's internal JS code. What we ended up doing is storing functions required by internal code in the function context of the function that sets up internal JS during bootstrap. That incurred no additional cost other than context slots because bootstrapping is performed at build time and baked into the startup snapshot.

[2018-02-13 18:48] devsnek commented on #3462
also -1

[2018-02-13 18:51] devsnek commented on #17434
@hashseed is that something we can easily do/any docs or examples on it?

[2018-02-13 18:54] bmeck commented on #17434
@devsnek we would need to port code to use these primordials rather than using any of the default globals, isn't that correct @hashseed ?

[2018-02-13 18:57] bnoordhuis commented on #17434
It's basically adding `const ObjectKeys = Object.prototype.keys;` to lib/internal/bootstrap_node.js; repeat for every other built-in method.

[2018-02-13 18:58] devsnek commented on #17434
so basically @targos's suggestion?

[2018-02-13 18:59] bnoordhuis commented on #17434
Yes.

[2018-02-13 19:11] hashseed commented on #17434
One way you could police that is to overwrite all builtin prototypes with proxies that assert that the last stack frame is not from internal lib.

[2018-02-13 19:14] Fishrock123 commented on #3462
I don't think we need to be entirely at the mercy of the web's ancient and terrible choices.

[2018-02-13 19:16] Fishrock123 commented on #18760
I'd be ok with this but it will need to modifications to default behavior and also perhaps other things.

Also, the api would have to be not exposed as a separate module. I propose we do not attempt to expose the JS api until the other parts are implemented.

[2018-02-13 19:19] jasnell commented on #18760
I agree with not exposing the js API as a separate module. A function off util or console should work fine. There are definitely a few internal bits that will need to be looked at also.

[2018-02-13 19:26] devsnek commented on #18760
+1

[2018-02-13 19:44] MylesBorins commented on #3462
@Fishrock123 is there a better name the api could be given? Is the API itself not useful? Is there something we could do to engage at the WHATWG to improve the status quo?

Is this something that would be in a js standard lib if it were to exist?

[2018-02-13 19:48] msft-cwells opened #18764 "Debuggers cannot break into certain looping node processes"
* **Version**:  8.9.4
* **Platform**:  Repro'd 32 and 64 bit Windows 10
* **Subsystem**:

Neither Chrome Dev Tools, nor Visual Studio debuggers, appears able to break into and debug certain node processes.
We have a theory that this may be about messaging and queue-priority-starvation, such that the "debug-break" messages are in the message queue of the Node process, but are endlessly getting pre-

[2018-02-13 19:52] silverwind commented on #3462
I'd think it'd be awsome if there were a unicode-aware base64 de/encode in the standard library.

Historically base64 has been limited to ASCII and there's even https://tools.ietf.org/html/rfc4648 which was written 3 years after the inception of UTF-8, still only speccing the encoding of ASCII values while it would be rather simple to encode multi-byte characters as individual bytes.

[2018-02-13 20:06] addaleax commented on #3462
I hope it’s okay to provide my answers to some of the questions:

Imo it’s prolematic that `btoa` is two operations masquerading as one (encoding as Latin-1 + encoding as Base64): That’s always confusing for developers, because they think of it as a single operation when it is not, and the implicitness of using Latin-1 as the assumed character encoding is harmful in itself (especially in a time wh

[2018-02-13 20:09] MylesBorins commented on #3462
@addaleax I don't have an answer for any of your questions but maybe @ljharb @mathiasbynens @maggiepint or another regular at tc39 could chime in. What I'm picking up from this is that there is a browser based API that has some sort of general appeal independent of the runtime. That API is not interesting to Node due to it's design.

I'd like to see us try and find a way to drive some sort of stan

[2018-02-13 20:15] silverwind commented on #3462
Sorry for being unclear. Yes, it should not concern itself with encodings and should take any input value that can be converted to a stream of bytes (`Uint8Array`).

[2018-02-13 20:18] addaleax commented on #3462
@MylesBorins I’d go so far as to say that it shouldn’t be appealing to browser-based code either, it’s just that that API is *there*, so people use it.

Yes! 👍 I just think that in that case, it’s the Web’s move to provide a proper Base64 API, and not something the language or Node would necessarily have to solve.

[2018-02-13 20:31] TimothyGu commented on #3462
I’m against it as well. Unlike newer APIs such as the `URL` class, `atob()` and `btoa()` are by no means well-designed APIs.

[2018-02-13 20:48] abouthiroppy commented on #18760
+1

[2018-02-13 22:54] 6-8-axnw1bom81v5xa3nh48c commented on #18764
Tested on Windows 8.1 and Windows 10 using Node.js version v9.4.0 and reported version v8.9.4 on Chrome Dev Tools 63.0.3239.132 (64 bit) with steps mentioned above and able to reproduce the issue.

1. Created file `app.js` with that code
2. Started it using `node --inspect=4545 app.js`
3. Connected Chrome Dev Tools to Node.js process
4. Attached breakpoints to all lines of the source code of `app.

[2018-02-13 23:00] eugeneo commented on #18764
This is expected, unfortunately. You are seeing Node.js framework code, as V8 cannot differentiate it from the user code.

[2018-02-13 23:02] billywhizz commented on #18756
for context, here are [the tests](https://gist.github.com/billywhizz/bf3367a6843f9fe64a089716ab167fe0) we were trying to get passing. if we don't handle the 'aborted' event we occasionally get a completed download with no errors but the file size is truncated. if we handle the 'aborted' event and don't check for res.complete then more often we get good downloads being reported as aborted.

[code]

[2018-02-13 23:36] rvagg opened #18770 "OpenSSL 1.1.1 Support TODO (pls help)"
@nodejs/crypto

OpenSSL 1.1.1-pre1 was [released today](https://www.openssl.org/news/openssl-1.1.1-notes.html). The headline item is TLS 1.3 (worth noting that the spec hasn't quite been finalised yet). This is obviously only a pre-release, not final and not supposed to be entirely bug free.

The OpenSSL team have said previously that 1.1.1 would be API and ABI compatible with 1.1.0. We currently

[2018-02-13 23:41] unphased opened #18771 "spawnSync not taking last line of stdin"
Code to test

[code]

Expected:

    a  b
    c  d

Seen (AFAICT node 6.x, 8.x):

    a  b

[2018-02-13 23:45] davidben commented on #18770
This probably accounts for some of it:
https://github.com/nodejs/node/pull/16130#issuecomment-338822333
I filed https://github.com/openssl/openssl/issues/4574 for the immediate trigger, but I think Node's reentrancy is also somewhat questionably supportable.

Other bits I suspect come out of them enabling TLS 1.3 by default and the tests being sensitive to there not being a version beyond TLS 1.2.

[2018-02-14 00:07] unphased commented on #18771
This can also be seen without using the synchronous version:

[code]

This code does the same thing where 6.x and 8.x drop the last line, unlike 4.x.

Although I can see how an argument could be made that this is not a bug, and although it is true that well-defined output from a program shall contain a terminating newline, simply tossing the last line into the abyss whilst it can be recovered seem

[2018-02-14 00:33] vsemozhetbyt commented on #18771
@unphased Could you provide your OS and launching mode (terminal, IDE...). On Windows 7 x64 I get the right output with Node.js 4.8.7, 6.13.0, 9.5.0 and 10.0.0 nightly both on `cmd.exe` and Git Bash:
[code]

[2018-02-14 00:35] unphased commented on #18771
This is seen on both macOS and Linux, multiple versions

[2018-02-14 00:49] maclover7 commented on #18495
@BridgeAR Has this occurred again since last week? If not, may have been spurious

[2018-02-14 00:50] BridgeAR commented on #18495
@maclover7 yes.

[2018-02-14 00:56] cicorias commented on #16278
FYI @felixrieseberg has updated and addressed VS2017 aspects in https://www.npmjs.com/package/windows-build-tools/ . While still doing global things, it does help quite a bit. This isn't the final answer and in general Windows experience starting with the installer in #4603 need some love.

At least a "note" on the existence with a warning instead of full recommendation would help

[2018-02-14 02:54] jasnell opened #18772 "Do JS AsyncResources need a reset API?"
To support pooled objects just as HttpParser, the C++ level AsyncWrap API supports the `AsyncReset()` function that allows the asynchronous context to be reestablished when the pool serves up a pooled instance. The JS `AsyncResource` has no equivalent API..... Should it and Can it?

Ping @trevnorris @Fishrock123 @AndreasMadsen @addaleax

[2018-02-14 03:39] joyeecheung commented on #12819
I left a few TODOs in `internal/errors.js`

https://github.com/nodejs/node/blob/80ac941407235e9ce950c5db97494898ec10f360/lib/internal/errors.js#L432

https://github.com/nodejs/node/blob/80ac941407235e9ce950c5db97494898ec10f360/lib/internal/errors.js#L467

https://github.com/nodejs/node/blob/80ac941407235e9ce950c5db97494898ec10f360/lib/internal/errors.js#L503

I would not oppose to try to have them

[2018-02-14 06:15] joyeecheung opened #18774 "The testing guide does not mention where a test should be added"
https://github.com/nodejs/node/blob/master/doc/guides/writing-tests.md

1. It does not mention how to determine which folder a new test should go to: `parallel`, `sequential`, or any other folders under `test`
<del>2. It does not mention how the test should be named (if it's a new test script)</del> It does
3. It does not mention how to find existing test cases and how to decide if a new test case

[2018-02-14 07:47] juggernaut451 commented on #18774
@joyeecheung could you please ellaborate when should one test be gone under parallel or any other folder?

[2018-02-14 08:17] joyeecheung commented on #18774
@juggernaut451 See https://github.com/nodejs/node/tree/master/test#test-directories. In practice, most tests go into `parallel` unless there is something special about them that they need to be put in other directories.

[2018-02-14 08:20] joyeecheung commented on #18760
@gireeshpunathil

I think what we have talked about at the summit was, first putting `triggerReport()` in `util` and make it a semver-minor change, the whole thing will be experimental. Then we iterate on that and discuss whether to enable it by default, where it should log to and how to specify that, .etc

[2018-02-14 08:21] juggernaut451 commented on #18774
I am working on this issue

[2018-02-14 08:26] joyeecheung commented on #18760
One thing we need to discuss: how is the test CI integration of node-report going to work? Right now it does not have a testing CI I believe. During the summit we talked about vendoring it in like `node-inspect`, so it would be great if it has separate testing CIs for PRs of its own.

cc @richardlau @rnchamberlain @hhellyer

[2018-02-14 09:09] joyeecheung commented on #7609
Is it possible that this is a duplicate of https://github.com/nodejs/node/issues/16601 ?

[2018-02-14 09:33] rnchamberlain commented on #18760
@joyeecheung there is a CI here: https://ci.nodejs.org/view/post-mortem/job/nodereport-continuous-integration/

[2018-02-14 09:49] bnoordhuis commented on #7609
I don't think so.  The latest failure in #16601 is a timeout, not a failed assert.  The one before that is a missing expected error, which probably also isn't this issue.

[2018-02-14 09:57] mathiasbynens commented on #3462
+1 `atob` and `btoa` are not the most useful API — they were standardized in HTML because they were shipping in browsers and became a de facto standard, not the other way around.

I made [the module in OP](https://github.com/mathiasbynens/base64) for exactly the use case @silverwind describes (i.e. isomorphic JS) but *if* we’re going to add something new, we should take the opportunity to design s

[2018-02-14 10:32] Kmaschta commented on #18759
Hi there,

I forked Node, cherry-picked the commit that seems to fix the bug in #18223
(here https://github.com/Kmaschta/node/commits/v8.x) and tested my app with a freshly built Node.
But my app still crashes when I take a heap snapshot.

Did I make a mistake ? How can I help you now ?
Do you know how can I get a core dump somewhat easily ?

[2018-02-14 11:21] BridgeAR opened #18778 "Reduce benchmark test run time"
Right now our benchmarks often contain `millions` or `thousands` as iteration step. This should be changed to `n` (in case of a conflict e.g. `iterations`) where the concrete number is given.

<s>This allows our tests to significantly run faster, since the minimum iteration will not be a million times but a single time. The corresponding benchmark tests should be changed as well therefore.</s>

An

[2018-02-14 12:11] gibfahn commented on #18323
I think the containers are persistent, but I'm not familiar with the specifics. That's more a question for @rvagg.

[2018-02-14 12:17] BridgeAR commented on #18763
Refs: #14107

Ping @targos

[2018-02-14 12:17] bzoz commented on #14593
Can this be closed now?

[2018-02-14 12:44] targos commented on #18763
I think we can say that it is expected.
The behavior present in versions <8.5.0 and <6.12.0 is the result of a bug that stayed for a long time without being noticed.
All releases of `v4.x` and `v9.x` return `'.'`.

FWIW, in Python, `normpath(".\\C:../..")` also returns `'.'`.

@dougwilson what is it breaking?

[2018-02-14 13:37] karanjitsingh opened #18779 "Node.js gives exit code 4 when jasmine encounters an exception in the test file"
Consider this javascript file
[code]

And this jasmine test file
[code]

On running the command `node main.js` and checking the exit code using `echo $?` I constantly get exit code 4 instead of exit code 1.

[2018-02-14 13:54] devsnek commented on #18779
you should post this in https://github.com/nodejs/help or  https://github.com/jasmine/jasmine.

[2018-02-14 13:54] #18779 closed

[2018-02-14 14:04] hsocarras opened #18781 "socket.write"
I'am using node v 6.7.0 on windows 7. The following example code works wrong.
This is a fragment of on('connection') callback function of a tcp server.

    socket.setNoDelay();
    socket.on('data',function(data){
                  var response = self.onData(data);
                   let writedStatus =  socket.write(response, 'utf8', function(){
                          if(self.onWrite){

[2018-02-14 14:08] richardlau commented on #18760
In addition to the CI for testing node-report itself it is also [included in CITGM](https://github.com/nodejs/citgm/blob/78a2d079c92551177293cb39f452635c0e5c64e6/lib/lookup.json#L428-L433) runs.

[2018-02-14 14:40] bnoordhuis commented on #18781
That's TCP for you.  This issue tracker is for bug report, please use the help forum instead.

[2018-02-14 14:40] #18781 closed

[2018-02-14 14:50] Kmaschta commented on #18759
@addaleax @hashseed Hey, I managed to get a core dump ! Should I upload it here?

[2018-02-14 15:01] apapirovski commented on #18778
I don't believe this is correct. We set thousands to 0.001 to counteract that problem.

[2018-02-14 15:04] BridgeAR commented on #18778
@apapirovski seems like we missed to add the argument for the buffers test. That does not contain the `millions` entry even though it should. I stumbled across it when looking at the coverage.

[2018-02-14 15:12] apapirovski commented on #18778
@BridgeAR good eye. Should be an easy change if someone wants to make a very simple but impactful first commit.

[2018-02-14 15:21] shigeki commented on #18770
I'm now working on build bindings with 1.1.1-pre1 and will look at test errors later.

[2018-02-14 15:23] mscdex commented on #18771
If you check `stderr` you'll see there is an error:

[code]

This even happens outside of node with `echo -ne 'a,b\nc,d' | column -t -s ,`

The reason for this is you are not terminating the last row with a newline. Try this input instead: `'a,b\nc,d\n'`

[2018-02-14 15:25] #18702 closed

[2018-02-14 16:22] mgwhitfield opened #18782 "Bin scripts improperly installed for some subset of packages"
* **Version**: 8.9.3
* **Platform**: MINGW64_NT-10.0 DESKTOP-TDBL46P 2.9.0(0.318/5/3) 2017-10-05 15:05 x86_64 Msys
* **Subsystem**: Package.json "bin" scripts

When installing a local package, e.g. `"dependencies": {"PACKAGE": "../PACKAGE"}` and PACKAGE defines a bin script, `"bin": {"foo": "./bin/SOME_SCRIPT"}` the resulting bin script created lacks the boilerplate of normal bin scripts installed

[2018-02-14 16:22] juggernaut451 commented on #18778
i would like to take this up @BridgeAR @apapirovski

[2018-02-14 16:27] juggernaut451 commented on #18778
@BridgeAR can you please tell exactly which file to work on?

[2018-02-14 16:35] BridgeAR commented on #18778
So the test file is `/test/sequential/test-benchmark-buffer.js`. So you can either add a `millions = 1/1e6` entry. Or you work on the benchmarks and remove the `millions` entries there and switch to `n` instead. Just look for all `millions` and `thousands` entries in the `/benchmark` folder.

[2018-02-14 18:16] lazyspark commented on #17331
Yes please.

[2018-02-14 18:19] maneshdas opened #18786 "--max_old_space_size unreliable for values >= 2^31"
Hello,

Unexpectedly terminating Node process due to out of memory issue and tried to extend memory size by setting Node - V8 option "--max_old_space_size". It works as expected in some machines but NOT consistent across machines and different applications (NOT working in pre-prod which is in AWS). Sometimes it decreasing memory too.
Doest it depending on any other factors? Kindly advice.

Node ve

[2018-02-14 18:20] bnoordhuis commented on #18786
Can you post your question to the help repo?  Thanks.

[2018-02-14 18:23] bnoordhuis commented on #18782
Can you report that over at https://github.com/npm/npm/issues?  We'll pick up any changes npm makes on the next upgrade.  Thanks.

[2018-02-14 18:23] #18782 closed

[2018-02-14 18:50] mgwhitfield commented on #18782
Si

[2018-02-14 19:42] juggernaut451 commented on #18778
@BridgeAR can i put `millions = 0.000001` rather than `1/1e6` as Benchmark in `common/benchmark.js` set `1/1e6` as `NaN`

[2018-02-14 19:44] BridgeAR commented on #18778
@juggernaut451 yes, for me it was only a way of writing the number that should be passed in.

[2018-02-14 19:53] rvagg commented on #18323
Dockerfiles are here https://github.com/nodejs/build/tree/master/ansible/roles/docker/templates
They are persistent but get updated fairly regularly as I tweak them (mostly tweaking the sharedlibs one).

Also, Alpine 3.4 if kind of old now, what do ppl in here think about just removing it? I'd like to do it at least by the time that 3.8 is released.

[2018-02-14 19:54] rvagg commented on #18323
pull requests welcome to the Dockerfiles of course! especially from people that actually use Alpine and have more of a clue than me about how it's generally configured for general use.

[2018-02-14 20:03] hashseed commented on #18764
how about using blackboxing?

[2018-02-14 20:03] hashseed commented on #18760
+1

[2018-02-14 20:04] #18643 closed

[2018-02-14 20:20] ebickle commented on #13512
@jasongin

Can you please clarify the comments you made last June regarding the lack of multi-threading support in NAN and N-API?

The original author of the issue was questioning whether `napi_create_async_work`, and therefore `uv_queue_work` scheduled work on a separate thread. The impression given is that the answer is no, but that seems to contradict the official libuv documentation:

http://d

[2018-02-14 20:27] bnoordhuis commented on #13512
@ebickle "different thread" in this context means starting a new thread.  Nan and n-api use existing threads.

[2018-02-14 20:48] ebickle commented on #13512
@bnoordhuis I'm still not seeing that in the source.

https://github.com/nodejs/node/blob/master/src/node_api.cc#L2871
`CALL_UV(env, uv_queue_work(event_loop, w->Request(),  uvimpl::Work::ExecuteCallback, uvimpl::Work::CompleteCallback));`

http://docs.libuv.org/en/v1.x/threadpool.html

Documentation is unambiguous. uv_queue_work runs the work on one of the threads (multiple threads) in the thread

[2018-02-14 21:10] #18662 closed

[2018-02-14 21:54] bnoordhuis commented on #13512
Okay, let me try again.  Read "different thread" as "new standalone thread made with uv_thread_create()".  Nan and n-api don't do that, they use the thread pool.

[2018-02-14 23:57] unphased commented on #18771
Thanks for checking that! Yep, I do see the `column: line too long` issue, so this explains that the inconsistent behavior is actually with `column`

[2018-02-14 23:57] #18771 closed

[2018-02-15 00:12] bzoz commented on #18737
What exactly is an "encrypted machine"?

What Node version does those test fail for? I've fixed `test-tty-get-color-depth` recently, it should work.

[2018-02-15 00:16] BridgeAR commented on #18737
Ping @feugy

[2018-02-15 01:14] shqld commented on #18674
Hi @jasnell, can I take this?

[2018-02-15 04:49] dougwilson commented on #18763
Hi @targos there isn't anything specifically breaking here; there was a change in behavior of an application I have and tracked it down to this, and was not sure why it happened within a minor release, so just wanted to confirm it was intentional. The new behavior is correct vs the old behavior of course.

[2018-02-15 08:27] hashseed commented on #18742
I would not bet on any performance win through jumbo builds. It's a crutch to improve build time. It's not officially supported and can break in V8 at any time. And it did on several occasions, only to be fixed by friendly contributors from Opera. The V8 team at Google does not use jumbo builds because we use [goma](https://groups.google.com/a/chromium.org/forum/#!topic/chromium-dev/q7hSGr_JNzg).

[2018-02-15 08:47] bnoordhuis commented on #18742
I didn't see any on my big brawny Intel desktop but it seems to make node start up a little faster on a Raspberry Pi 1 (closer to 400 than 500 ms now.)

Working hypothesis: better code density and/or less duplication in the parser and compiler.  Perhaps we could also get that by turning on `-Wl,--gc-sections`; didn't test.

[2018-02-15 09:02] hashseed commented on #18423
Regarding native support in V8... I don't think there is any high-level general purpose language that includes GPU support transparently, much less a single-threaded JavaScript. There has been attempts to include SIMD features to JavaScript but were dropped because, iirc, the speedup in prototype implementations were a lot less than expected, the use cases very narrow, and not particularly platfor

[2018-02-15 09:04] benjamingr commented on #18772
Since there are no responses yet - I see where I'd personally use one but didn't have to (for pooling) - but I think that we should add it when a consumer asks for it with a compelling use case and not before :)

[2018-02-15 09:12] gireeshpunathil commented on #18423
[IBM Java](https://www.ibm.com/support/knowledgecenter/en/SSYKE2_8.0.0/com.ibm.java.lnx.80.doc/user/gpu_developing_sort.html)  does this, and also [openj9](https://github.com/eclipse/openj9/search?l=C%2B%2B&q=GPU&type=&utf8=✓)

the rate of performance benefit at huge data volumes will outweigh any drawbacks I guess.

[2018-02-15 09:43] kgryte commented on #18423
@gireeshpunathil Except that the GPU support you cite only seems to apply to Nvidia graphics cards. Thus, once again, raising concerns about the portability, generality, and feasibility of such an approach for Node.js and any potential role in core or as an officially sanctioned project.

I am also not sure what you mean by "huge data volumes". The issue with large datasets is the bottleneck encou

[2018-02-15 10:01] gireeshpunathil commented on #18423
@kgryte - thanks. While languages (and virtual machines) with blocking I/O find it complex enough to implement the CPU-GPU binding (prepare, transport and synchronize) the biggest advantage node.js have is the language semantics (inherently asynchronous), and the event loop which can cater to the CPU-GPU handshake well within its stated design - apart of polling the OS, we will also need to talk t

[2018-02-15 10:04] gireeshpunathil commented on #18423
re: portability and generality : I guess that has to come from the card vendors - in terms of standard APIs and well defined specification - I don't know there exist one. Absence of that is not necessarily block the progress of building a proof of concept.

[2018-02-15 10:30] hashseed commented on #18423
I would not call having to import com.ibm.gpu.* and call specially defined methods is hardly "transparent". What I understand by "transparent" is that the compiler/vm will recognize when it can compile certain code patterns to run on the GPU.

For huge data volumns, I don't see why GPU support cannot be implemented in a userland module, like previously mentioned, a module that compiles a subset of

[2018-02-15 10:34] BridgeAR commented on #18763
Closing as the question seems to be answered now.

[2018-02-15 10:34] #18763 closed

[2018-02-15 10:35] bnoordhuis commented on #18328
I've tried to reproduce what you describe but no luck so far.  You mention tls and https; is it specific to the https module or do you also see it with the tls module?

[2018-02-15 10:55] bnoordhuis commented on #18655
Closing this out since no one else chimed in.  Thanks for the report!

[2018-02-15 10:55] #18655 closed

[2018-02-15 10:59] bnoordhuis commented on #18646
Asynchronous emit has been discussed as early as 2010 or 2011.  It never happened and I wouldn't expect it to happen now.  Ultimately (and as you mention), it's a convenience, not a necessity.

[2018-02-15 11:01] YurySolovyov commented on #18423
Slightly different angle (and possibly off-topic): instead of using WASM as a compilation target, can we transpile to WebGL/OpenGL (compute) shaders? How much of impedance mismatch (i.e. not having the right primitives) will be there?

[2018-02-15 11:03] bnoordhuis commented on #18635
Probably an oversight.  Pull requests welcome, the logic is in lib/internal/fs.js

[2018-02-15 11:08] hashseed commented on #18423
Sounds feasible, for a subset of JavaScript. Can be done in a userland module. And the user will have to choose the right part of his code to run the GPU.

[2018-02-15 11:18] bnoordhuis commented on #18391
I have reply deja vu, I remember answering this...   It's opt-out, i.e., on by default.  The two calls you link to are the opt-outs.

We should probably just call `handle.setSimultaneousAccepts(false)` directly and get rid of the indirection.

@juggernaut451 Pull request welcome if you want to take this on.  I'd make `net._setSimultaneousAccepts` print a deprecation warning but otherwise leave it

[2018-02-15 11:43] AndreasMadsen commented on #18772
The AsyncReset is an optimization. You can always create a new AsyncResource and remove the previous. Also I don’t think all the AsyncWrap classes supports AsyncReset.

[2018-02-15 12:02] mcollina opened #18793 "Nominate MoonBall as a collaborator"
I'd like to nominate @MoonBall as a collaborator, for his work on Streams. His work has been instrumental in cleaning up some obscure parts of core.

[Commits in the nodejs/node repository](https://github.com/nodejs/node/commits?author=MoonBall)

[Comments](https://github.com/nodejs/node/pulls?q=commenter%3AMoonBall) and [reviews](https://github.com/nodejs/node/pulls?q=reviewed-by%3MoonBall) on is

[2018-02-15 12:10] gireeshpunathil commented on #18793
+1

[2018-02-15 12:29] tobq opened #18794 "Error on createReadStream(buffer)"
* **Version**: 9.5
* **Platform**: Windows 10 64 bit
* **Subsystem**: fs

[code]
---
`Error [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string without null bytes. Received type object`

[2018-02-15 12:40] BridgeAR commented on #18794
I can not reproduce this on Linux. Would you be so kind and show a stack trace?

[2018-02-15 12:41] hashseed opened #18795 "Should internal modules be affected by monkey-patching?"
Many internal modules call methods defined on prototype objects that can be modified (or monkey-patched) in userland. For example, by overriding `Object.prototype.getOwnProperty`, it is possible to affect [async hooks](https://github.com/nodejs/node/blob/master/lib/internal/async_hooks.js#L253).

One way to fix this is to keep copies of these functions at boostrap, and use these untampered copies

[2018-02-15 12:48] tobq commented on #18794
[code]
---
[code]

[2018-02-15 13:06] apapirovski commented on #18794
@tobq The buffer in this case refers to a path string that's encoded as a buffer. It doesn't seem that the buffer you have is a path given all the null bytes.

[2018-02-15 13:18] tobq commented on #18794
Yes, I did some reading and realised it was expecting paths in buffer form, not data buffers.

[2018-02-15 13:19] #18794 closed

[2018-02-15 13:35] softberry commented on #2762
Make sure that you have installed latest  LTS version of nodeJS   from https://nodejs.org/
As described in package.json
`
  "engines": {

    "node": ">=6"
  }`

[2018-02-15 13:48] benjamingr commented on #18795
I think one of the most important points that you made in https://github.com/nodejs/node/pull/18773 is:

That is, every time we move code from/to C++ we break any instrumentation the user has enabled for the said call.

Now, another good thing to consider is that there have been cases where overriding built-ins has been tremendously useful when polyfilling - for example https://github.com/drses/we

[2018-02-15 13:54] devsnek commented on #18795
if users want to patch fs.readFile or something that's cool (although I'm personally  apposed to it without hooks) but changing Object.prototype.toString shouldnt change how far.readFile works

[2018-02-15 13:56] cjihrig commented on #18795
I'm in favor of Node core's internals being resistant to monkey patching. I don't think we need to expose the untampered functions to users though.

[2018-02-15 13:57] benjamingr commented on #18795
@devsnek

Probably, but it's more subtle than that - going back to the the WeakMap example case - users changed `GetOwnPropertyNames` since a new ("hidden") key was added to an object. That key had to be "secret" and not impact other methods - so if `util.inspect` was "tamper proof" then it would have been impossible to polyfill `WeakMap` entirely.

-----

Note: Another thing we can do is to expli

[2018-02-15 14:02] MoonBall commented on #18793
Thanks very much. I feel very happy.

[2018-02-15 14:34] mscdex commented on #18795
I feel like this is a deep rabbit hole. Anyone could override anything, so now any and all object/prototype methods need to be saved up front, which is crazy because there are so many and they're used throughout the codebase. For example: `string.trim()`, `string.toLowerCase()`, `string.slice()`, `Object.keys()`, `Number.isNaN()`, etc.

[2018-02-15 14:35] gireeshpunathil commented on #18423
while this is a perfect consumption model from a user's angle, the binding may require high degree of co-ordination with v8, node core and libuv so `core` may be a better place for it, IMO.

[2018-02-15 14:37] hashseed commented on #18795
@mscdex are you concerned about memory use or time spent upon startup? One way to do it is to simply shallow clone these prototype objects.

[2018-02-15 14:38] donnanicolas opened #18796 "Possible Memory Leak in HTTP"
We've being experiencing an steady memory consumption in on our servers:

![](https://user-images.githubusercontent.com/1228656/35828034-e3d5a6d2-0a9c-11e8-8ef4-77bf69dc1090.png)

The drops in memory are when we deploy a new version (the server restarts) or we manually restart the servers.

We started to debug, and came to the conclusion that the issue was in express, when we created the [issue in

[2018-02-15 14:39] SirR4T commented on #18635
Will take a shot at this.

[2018-02-15 14:40] hashseed commented on #18423
Can you elaborate? Considering that JS is single-threaded and this API blocking, I don't see what coordiation is necessary.

[2018-02-15 14:48] ofrobots commented on #18423
Tangential: I have no comment on this particular request about exposing GPU bindings one way or the other, but the comment 'why can't X be done as a native module' shows up frequently.

The user experience of native modules is *terrible* not just for the developers for native modules but also for the end-users (people who want to use X from JavaScript) as they have to ensure that the native module

[2018-02-15 14:49] adriangrigore opened #18797 "EPIPE on OpenBSD"
* **Version**: v10.0.0-pre
* **Platform**: OpenBSD adrian 6.2 GENERIC.MP#379 amd64
* **Subsystem**:

The following code:
[code]
throws:
[code]

Doesn't happen on:
* **Platform**: Linux adrian 4.14.16_1 #1 SMP PREEMPT Fri Feb 2 16:17:32 UTC 2018 x86_64 GNU/Linux

[2018-02-15 14:54] jasnell commented on #18423
While true, a quick native module proof-of-concept that does not need to focus so much on user/dev experience for the initial iteration would be a good first step in validating the concepts here. That can be implemented in a way that would make it easy/easier to integrate into core itself should it prove feasible.

The question about whether or not this can/should be a userland module in the end i

[2018-02-15 14:58] mscdex commented on #18795
@hashseed  I'm not even considering performance implications at this point. Just having to touch almost every line of code in node core, getting new collaborators to understand the change, etc.

[2018-02-15 15:01] benjamingr commented on #18795
I wonder if there is a way from V8 land to "lock" the way Node core uses these objects - but I can't think of anything out of the box.

[2018-02-15 15:01] jasnell commented on #18796
Ping @mcollina

[2018-02-15 15:01] mscdex commented on #18797
It's probably because the response is being sent immediately. Did you try moving `res.end()` to the `req`'s `'end'` handler?

[2018-02-15 15:02] jasnell commented on #18793
+1

[2018-02-15 15:06] bnoordhuis commented on #18795
I don't have a problem with that if it's for the greater good.  Most of it is rote search-and-replace, perhaps even mechanical replace.

[2018-02-15 15:09] jasnell commented on #18795
Could make for a good Code-and-Learn exercise :-)

[2018-02-15 15:11] ofrobots commented on #18423
+1. That was my point too. Lets focus on the value.

[2018-02-15 15:12] ankarthik commented on #13018
I am facing this issue on linux server
my node is `v8.9.3 LTS`
and below is my Linux configuration

`description: System Memory
physical id: 1000
size: 1GiB
capacity: 1GiB`

[2018-02-15 15:13] hashseed commented on #18423
Right. I'd just like to steer the discussion away from having this baked into the VM. This doesn't seem feasible and even if, will not happen without TC39 approval. And locking into a vendor-specific way to perform GPU computation is very unlikely.

[2018-02-15 15:20] apapirovski commented on #18795
My position on this aligns with @mscdex. There's some parts that are not completely unintuitive because people have likely seen `hasOwnProperty.call(obj, 'something')` before, but then there's stuff like `Promise.prototype.then` monkey-patching and needing to have `PromiseThen` that is honestly going to be nightmare to explain to new contributors.

Also, it's very likely that `uncurryThis` carries

[2018-02-15 15:26] mcollina commented on #18796
I cannot reproduce with Node 8.9.4 using:

[code]

(nor I can with heapdump enabled)

![schermata 2018-02-15 alle 16 17 40](https://user-images.githubusercontent.com/52195/36263988-d2c70530-126b-11e8-8690-e6e1572c3ddb.png)

My suggestion is that the problem might be in your application, and not in Node core or Express.

In the diagram you posted, you show that the process grows up to 2.5gb. Can yo

[2018-02-15 15:30] hashseed commented on #18795
This does not work, if you take user-defined objects as arguments and leak internal versions via return values.

[2018-02-15 15:33] donnanicolas commented on #18796
@mcollina we are constantly restarting the node servers, because every other day the memory reaches those levels. The thing that I don't understand is that we've tried it in 3 differents dev Mac and the servers, but neither you nor the express people can reproduce it.

[2018-02-15 15:33] donnanicolas commented on #18796
Do you see anything weird in the heapdumps I submitted???

[2018-02-15 15:36] apapirovski commented on #18795
As I mention above, we would still need to be more defensive for user-provided objects but that's a much lesser level of change than having to be defensive about the entirety of internal Object, String, etc. usage. User-provided callbacks were one of the main culprits and then we have some infrequent `hasOwnProperty` access, but not much more than that.

Hence me saying this might not be possible

[2018-02-15 15:39] adriangrigore commented on #18797
Thanks, I understand why. Problem is that is handled differently across operating systems.

[2018-02-15 15:41] mcollina commented on #18796
A heapdump of that size is unlikely to be representative of anything.

[2018-02-15 15:47] donnanicolas commented on #18796
@mcollina that is after some 100.000 requests, I can upload heapdumps with more requests if that would help

[2018-02-15 15:52] devsnek commented on #18795
in my mind i kind of split this into two example cases:

a) util.inspect getting property keys
b) repl using string replacement

for A i would use unsaved prototype methods to allow users to heck with it, but for B there is no benefit to the repl if someone overrides String.prototype.replace for some reason, so we would use a saved proto method here.

[2018-02-15 15:53] jasnell commented on #18797
Yeah, there are subtle timing differences under the covers across the various platforms that are not handled too well here, and the fact that sending and ending the response in this way could have this kind of impact on the connection is a bit non-obvious. Some improvements in the documentation could help.

[2018-02-15 16:00] benjamingr commented on #18795
I think @hashseed's point is that this is generally underspecified in our whole API and that we should probably consider specifying this.

That is, that an effort to go over Node's API in its entirety and specify (at least for internal use) what methods may impact it would be beneficial.

The other point is that we've never made tempering

I'm really not sure, I honestly can't think of a case wher

[2018-02-15 16:09] mcollina commented on #18796
I have run that basic node core server with a 1 billion request, and saw no appreciable difference in the Heap size.

Let me ask again: in the diagram you posted, you show that the process grows up to 2.5gb. Can you reproduce that kind of growth? That looks like a memory leak. This example don't, so it seems a
As a general rule, any type of growth registered when the process is under 100-150 MB is

[2018-02-15 16:09] jasnell commented on #18795
One other thing to keep in mind here is the non-trivial burden that going all in with this will creating on backporting changes to LTS lines if this mechanism is not also backported.

[2018-02-15 16:09] rijnhard opened #18799 "require doesn't always load modules correctly"
* **Version**: 8.9.4
* **Platform**: Linux 4.13.0-32-generic 35~16.04.1-Ubuntu SMP Thu Jan 25 10:13:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: Modules

Bare with me this is quite a tricky one. I am using babel, but I doubt its babels issue as I am messing with the compiled cjs scripts and the issue exists there.

## Scenario 1
I have Library A and Library B that work as a pair.
Li

[2018-02-15 16:10] adriangrigore commented on #18797
Just to clarify, you could have something like this:
[code]

[2018-02-15 16:17] devsnek commented on #18799
thats because its a circular dependency, `module.exports` starts as an empty object. if you `require('library-b')` a little bit later `setImmediate(() => require('library-b'))` it will be evaluated.

[2018-02-15 16:18] rijnhard commented on #18799
also as a note, this is using private repos on npm, as `npm link` results in the `isModuleAvailable` check failing.

[2018-02-15 16:19] mscdex commented on #18797
You should always handle errors no matter what. A non-node web server could also do the exact same thing and send a response immediately.

[2018-02-15 16:20] #18799 closed

[2018-02-15 16:25] mscdex commented on #18795
I don't know how the shallow cloning of properties would work, but currently even if you save `hasOwnProperty` early, someone could still override `Function.prototype.call` after the fact and still completely disrupt your `hasOwnProperty.call(...)`.

[2018-02-15 16:26] benjamingr commented on #18795
@mscdex `call(hasOwnProperty, ...)` :D Although I see your point

[2018-02-15 16:26] mscdex commented on #18795
Yes, this was kind of what I was hinting at earlier with having to touch the entire codebase.

[2018-02-15 16:27] mscdex commented on #18795
Right, and having to code like that would be pretty absurd IMHO.

[2018-02-15 16:29] rijnhard commented on #18799
can confirm, wrapping the require in a `process.nextTick` solved it

[2018-02-15 16:57] devsnek commented on #18795
as a reference I created https://gist.github.com/devsnek/76aab1dcd169c96b952fbe8c74404475. around 350 functions are saved.

[2018-02-15 17:03] apapirovski commented on #18795
We would also need to store the constructors to avoid `global.Array = function() {/* user code */}` and pass them into the internal wrappers.

[2018-02-15 17:16] mmarchini commented on #18793
+1

[2018-02-15 17:25] devsnek commented on #18793
+1

[2018-02-15 17:27] TimeForANinja commented on #18328
i thought it's a problem around https://github.com/nodejs/node/blob/master/lib/_tls_wrap.js#L865 ...
was able to narrow it down to https://github.com/nodejs/node/blob/master/lib/https.js#L50 not copying the getters thou

[2018-02-15 17:31] BridgeAR commented on #18793
+1

[2018-02-15 17:38] mcollina commented on #18756
@billywhizz that was good research! Would you mind sending out a PR with a fix?

[2018-02-15 17:59] hashseed commented on #18795
Another way I can think of is to store copies of builtin methods under symbols. In internal modules you would invoke builtins via symbols.

[2018-02-15 18:00] SirR4T commented on #18635
@bgnx , @bnoordhuis : `'as'` should have flags `O_APPEND | O_CREAT | O_WRONLY | O_SYNC`, and `'as+'` should have flags `O_APPEND | O_CREAT | O_RDWR | O_SYNC`.  Is this understanding correct?

[2018-02-15 18:12] jasnell commented on #18795
One *possible* approach that carries along a whole range of it's own complexities is to use a separate context (e.g. as in `vm.runInNewContext()`) for internal code vs. user code. While it would be disruptive in a number of cases, it would prevent a number of issues being discussed here.

[2018-02-15 18:15] billywhizz commented on #18756
@mcollina sure thing. i should have one for you in morning. will read up on the guidelines first. i can likely also add some tests based on the ones i posted above.

[2018-02-15 18:24] hashseed commented on #18795
Unfortunately that does not work. When you call `arg.getOwnProperty`, you call the one passed with the `arg` object on the prototype, not the one on the object prototype on from the current context.

[2018-02-15 18:37] mcollina commented on #18756
yes definitely!

@dougwilson what do you think of that proposed fix?

[2018-02-15 18:43] jasnell commented on #18328
The reason for this, I believe, is because `https.createServer()` uses `util._extend()` to copy the options object (https://github.com/nodejs/node/blob/master/lib/https.js#L50). `util._extend()` in turn uses `Object.keys()` which will omit properties that are non-enumerable own properties of the object, which getter/setter properties on the class are not. You can test this separately by doing:

[c

[2018-02-15 19:40] dougwilson commented on #18756
Trying it out with a test server, the behavior change with the patch looks like what I would expect 👍

[2018-02-15 20:15] feugy commented on #18737
Hello!
The hard drives are encrypted, which may explain their slowness.

[2018-02-15 21:49] benjamingr commented on #18793
+1

[2018-02-15 21:53] unional opened #18805 "rmdirSync returns before too early causing "operation not permitted" on next operation"
node: 9.4.0
OS: Windows Server 2016

This code causes "operation not permitted" on `mkdir` on every 2nd attempt
[code]

The callback version works fine:
[code]

[2018-02-15 21:54] vdeturckheim commented on #18793
+1

[2018-02-15 22:32] sam-github commented on #14705
Using `ca:` indicates that the writer of the code wishes to completely control the CAs.

If the author of the code wanted to use sensible defaults (builtin CAs, possibly as modified by env vars), they should not use `ca`.

Put another way: using `ca` is an explicit way to NOT use node's CAs... if the code author doesn't even want to allow the well-known and trusted CAs that node provides compiled

[2018-02-15 23:54] joeyparrish opened #18808 "Installing an extra package removes dependencies specified as git URLs"
* **Version**: v9.4.0 and v9.5.0 both affected, v9.3.0 not affected
* **Platform**: `Linux hostname-redacted 4.4.0-112-generic #135~14.04.1-Ubuntu SMP Tue Jan 23 20:41:48 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`
* **Subsystem**: npm v5.6.0 affected, npm v5.5.1 not affected

[My project](https://github.com/google/shaka-player) has two dependencies specified as git URLs:

[code]

When I run `npm ins

[2018-02-15 23:58] devsnek commented on #18808
duplicate of https://github.com/npm/npm/issues/19394

[2018-02-15 23:58] #18808 closed

[2018-02-16 00:00] joeyparrish commented on #18808
Sorry, I didn't realize this was the wrong repo.  Thanks!

[2018-02-16 01:44] mscdex commented on #18805
What's the point of removing the directory just to create it again? The directory already has to be empty to remove it. Why not just call `fs.mkdirSync()` in a try-catch/try-finally and only ignore EEXIST errors?

[2018-02-16 03:07] arturgvieira commented on #18756
Any chance this is related? [#2842](https://github.com/nodejs/node/issues/2842)

[2018-02-16 06:31] gireeshpunathil commented on #18423
@hashseed - rough GPU sketch for `gpusort([1,2,3,4,5])`: (CUDA spec).

[code]
 - if we use pre-defined C/C++ routines only (like in Java example), there is no transperancy and generality
 - so assuming the sorter is a JS routine, step 5 needs a JS compiler for GPU target (and hence v8)
 - if we are using small data, the benefit is masked by the overhead, as evident
 - if we use large data, the thr

[2018-02-16 06:53] gireeshpunathil commented on #18323
thanks @rvagg . In that case is it possible to zip images alpine34-container-x64 and alpine35-container-x64 and send it for debugging? The fresh images I created using the dockerfile template never cause the noted failures. If we are able to recreate, we can conclude that these are issues with the images themselves, and refresh them.

`docker save -o <filename> <image>`

[2018-02-16 08:46] hashseed commented on #18795
I just checked with @bmeurer that TurboFan handles `Reflect.apply`. With the following micro-benchmark I observe some regression on Node 8, but no difference at all on current Node master.

[code]

Is it really that much more unreadable to rename the function and move the receiver to the first argument? You don't have to use some `.call` pattern here, and there seems to be no performance penalty.

[2018-02-16 08:54] hashseed commented on #18423
None of these steps can be skipped by V8 either. And since we are talking about a subset of JS that has a GPU target, it would not share much code with V8.

For `gpusort` you could actually ship pre-compiled GPU code and skip compilation.

I also don't get why you assume single thread for the sorter. I don't think it ever makes sense to run things on the GPU on a single thread,.

[2018-02-16 08:57] bnoordhuis commented on #18805
Can you post a minimal, ready-to-run test case rather than an excerpt?  The devil frequently is in the details.

[2018-02-16 09:04] bnoordhuis commented on #18323
I think that would fix a lot of issues people have reported, both test failures and build issues.  I'm testing against 3.7 and it's been pretty smooth.

It's a stock install in a KVM virtual machine, not a Docker image; don't know if that makes a difference.

[2018-02-16 09:20] Necromos commented on #9668
Is there any solution/idea how to solve this issue yet?

Looks like each POST connection is causing this issue regardless the fact if it is sending a file or not.

[2018-02-16 09:20] gireeshpunathil commented on #18423
@hashseed - sorry, but I could not follow your first part, can you please explain?

right, but then the scope becomes narrow. When we `claim` GPU bindings for javascript, one would expect ability to run arbitrary user code in the chip?

ok, if you are referring to step 5 in the above comment: to clarify - the programmer and the compiler assumes the code to be run single-threadedly, but when it is

[2018-02-16 09:41] unional commented on #18805
I can repro it here: https://github.com/unional/issues/tree/node-fs
It happens when I run `npm run watch` (running jest in watch mode).

It can very consistently reproduce the behavior. It just follows a pass -> fail -> pass -> fail pattern.

It seems like there is some sync issue between node's `fs` and `jest` watching the newly created folder.

So I don't know if it is node's related or more lik

[2018-02-16 09:42] YurySolovyov commented on #18423
This thing alone is a separate research topic; we don't even know how to do that in low level languages that run on CPU, so it is not realistic to expect that to happen for JS code on the GPU

[2018-02-16 09:57] hashseed commented on #18423
The steps you listed are how things work with CUDA. Even if V8 can automatically find sections of JS that it could off-load to the GPU, it would still have to perform these steps.

Besides, I don't think it's reasonable to expect V8 to automatically off-load to the GPU.

[2018-02-16 09:58] bnoordhuis commented on #18805
There's that devil. :-)  You're running into a Windows quirk where file watching takes out a lock on the directory being watched.  It's not specific to Node.js.

Some of the caveats are listed in the `fs.watch()` and `fs.watchFile()` documentation, which is what jest (indirectly) uses.

I'll close this out.  Thanks anyway for the report.

[2018-02-16 09:58] #18805 closed

[2018-02-16 10:43] gireeshpunathil commented on #18423
@hashseed - thanks, now I follow you, and agree that v8 is not expected to interact with GPU. But, isn't v8 best placed to generate code for a GPU target, from JS code?

[2018-02-16 11:07] hashseed commented on #18423
V8 doesnt have any backend for GPU targets. And I don't think GPUs are well-served with a dynamic language such as JS, so you'd limit yourself with a subset of JS.

So you really don't win a lot by sharing code with what V8 already has.

[2018-02-16 11:48] andrew-polyansky commented on #16746
Hi @bnoordhuis, Thank a lot for your script. It helped me in some cases.

But looks like this script doesn't work with PASSPHRASE containing: `#$-_` charsets.

For example: `N7bz2FTM$UHc#rPmveVEQ-ZnXSYqaD6uWgAxsLjdCwJ_Bfyt54`

[2018-02-16 11:58] YurySolovyov commented on #18423
FWIW, compute shaders seem to be [in plans _after_ WebGL 2.0](https://www.khronos.org/blog/webgl-2.0-arrives) (which is shipped in Chrome 56+, I think)
Anyone have contacts with people in The Khronos Group ? 😄

But even then, node will have to incorporate WebGL runtime to be able to use it.

[2018-02-16 14:24] AndreasMadsen commented on #18778
I would definitely prefer the consistency only using `n`.

[2018-02-16 14:34] billywhizz commented on #18756
i spent some time last night and was not able to reproduce the error using tests i wrote according to the ones that are currently there in nodejs repo. i am wondering if it's some weird edge case being caused by my other tests. will do some more digging and report back if i find anything useful.

[2018-02-16 16:30] jasnell opened #18819 "Diagnostics: Caching module version"
At the recent Diagnostics Summit in Ottawa, several of the APM developers who attended expressed a desire to have Node.js be able to cache and provide the module *version* from it's associated package.json. This could be grabbed at the same time that we grab the `main` but it would likely have a performance impact on loading. Opening this as a tracking issue in case anyone wants to take on the tas

[2018-02-16 16:43] #9160 closed

[2018-02-16 17:14] BridgeAR opened #18820 "Flaky parallel/test-fs-error-messages"
https://ci.nodejs.org/job/node-test-commit-linux/16242/nodes=alpine36-container-x64/console

[code]

[2018-02-16 17:18] BridgeAR commented on #16601
This does not only fail on OS-X as it seems:

https://ci.nodejs.org/job/node-test-commit-linux/16441/nodes=ubuntu1404-64/console

[2018-02-16 17:20] BridgeAR commented on #18495
This is actually still one of the most common errors as far as I can tell.

Here another one:
https://ci.nodejs.org/job/node-test-commit-arm/13937/nodes=ubuntu1604-arm64/console

[2018-02-16 17:20] BridgeAR commented on #18495
It seems consistent to always only be on Ubuntu 16.04 on ARM.

[2018-02-16 17:21] BridgeAR commented on #18495
@rvagg @gibfahn @joyeecheung do you have any idea?

[2018-02-16 17:23] BridgeAR opened #18821 "Flaky parallel/test-http-server-de-chunked-trailer"
Another one of the famous: I do not have a stack errors:

https://ci.nodejs.org/job/node-test-commit-linux/16309/nodes=centos6-64/console
[code]

[2018-02-16 17:25] BridgeAR commented on #7035
This just came up again:

https://ci.nodejs.org/job/node-test-binary-windows/14998/COMPILED_BY=vs2017,RUNNER=win10,RUN_SUBSET=2/console

[code]

[2018-02-16 17:27] BridgeAR commented on #18435
Happened again:

https://ci.nodejs.org/job/node-test-commit-linux-containered/2210/nodes=ubuntu1604_sharedlibs_openssl110_x64/console

[2018-02-16 17:42] joyeecheung commented on #18793
cc @nodejs/collaborators

[2018-02-16 17:42] joyeecheung commented on #18793
Also, +1

[2018-02-16 17:46] yhwang commented on #18535
For `parallel/test-process-external-stdio-close` and `parallel/test-process-external-stdio-close-spawn`, the `close` callback gets `SIGPIPE`. So it would be pipe related issue, i.e. not able to write/receive data from the pipe. I will dig into that. If someone knows the possible cause, please chime in. Thanks.

[2018-02-16 20:52] BridgeAR commented on #18778
I would also prefer to consistently use `n`. So this is definitely still up as good first/second contribution.

[2018-02-16 21:03] gibfahn commented on #18323
Seems reasonable to me, I assume 99% of people running Node in Alpine are doing it through docker, so they're unlikely to be pulling new versions of Node into existing images.

[2018-02-16 21:14] gibfahn commented on #18793
+1

[2018-02-16 21:33] unional commented on #18805
Thanks. Learning something new everyday. 👍

Seems like you are referring to this:
https://nodejs.org/api/fs.html#fs_fs_watchfile_filename_options_listener
[code]
So for the `mkdir()` call, the stat still says the file exists, thus failing the operation?

However, what's strange is that the `previousStat` is retrieved by the `mkdir()`, not the `watch()` used by `jest`.

[2018-02-16 22:03] lykkin commented on #18233
We spent some time experimenting with using loader hooks for instrumenting external modules, but weren't able to find a reasonable solution. Our test case involved a bare-bones express app (with express' `index.js` file converted to `index.mjs`), with a few different approaches:

##### `resolve` hook

We were able to make this approach work using the [APM loader example workflow](https://github.co

[2018-02-16 22:25] bmeck commented on #18233
@lykkin as stated in the JS spec, the module namespace object should not be mutable, so I'm not sure your idea with `postLoad` would actually be beneficial since the VM should prevent mutation of it directly.

[2018-02-16 22:28] bmeck commented on #18233
@lykkin we should setup a call probably before discussing adding hooks, since that might apply to both per package and global hooks, which are separate things.

[2018-02-16 22:51] lykkin commented on #18233
@bmeck The `postLoad` hook was just the simplest interface to get at the data required to instrument things like we currently do, I'm sure I'm stomping on some assumption I'm unaware of.  Since the namespace object is immutable, the `resolve` hook proxying could work though there needs to be enough information provided to the proxy module to know what module it is proxying.

A call sounds super he

[2018-02-17 00:06] antoniobrandao commented on #10659
The above solutions didn't work for me.

My problem was this part in my package.json:

    "engines": {
        "node": "4.8.4"
    },
Which was causing the same error output as @crcali mentioned in the previous comment.

[2018-02-17 00:18] BridgeAR opened #18828 "Using strict assert in tests"
I personally would like to switch our tests to always use the [assert strict mode](https://github.com/nodejs/node/blame/master/doc/api/assert.md#L16).

I would like to know how other @nodejs/collaborators feel about that.

To reach that we have to change our linting rule to accept the "loose" names if `assert` was required by the `strict` property.

And other than that we could create multiple goo

[2018-02-17 00:20] billywhizz commented on #18756
I can now make the error happen in a test but using the external site to serve the file and only happens intermittently. i capture a debug trace to compare sequence of events when it fails and when it doesn't and you can see it [here](https://i.imgur.com/namD7NS.png).

hopefully will be able to produce a test that triggers that condition reliably.

[2018-02-17 00:40] TheLarkInn commented on #18423
@YurySolovyov I actually may have one.

[2018-02-17 00:55] jasnell commented on #18828
I'm good with it.

[2018-02-17 04:42] shobhitchittora commented on #16636
@gibfahn Seems like that the path to eslint got changed from - `tools/eslint/bin/eslint.js` to  `tools/node_modules/eslint/bin/eslint.js`. Thanks ! 👍🏻

[2018-02-17 05:04] BridgeAR opened #18832 "Flaky http-write-empty-string"
https://ci.nodejs.org/job/node-test-commit-linux/16398/nodes=debian8-x86/console

[code]

[2018-02-17 05:18] prog1dev opened #18833 "Does instance of ReadableStream should be in 'paused' mode by default?"
And therefore should `fs.createReadStream('file').isPaused()` return `true`?

Now its returning `false` because `Readable.prototype.isPaused` function checks `flowing` option value strictly for `false`:
[code]
but `fs.createReadStream` creates object with `flowing === null`:
[code]

For reference Im talking about [these stream modes](https://nodejs.org/download/nightly/v10.0.0-nightly20180205d4b60

[2018-02-17 05:20] joyeecheung commented on #18828
SGTM

[2018-02-17 06:37] Trott commented on #18828
Honestly, seems like a lot of churn to me without much benefit.

I'm not sure I like the idea that `assert.deepEqual()` gets used at all anywhere even if it's behavior is the same as `assert.deepStrictEqual()` because that won't necessarily be immediately obvious when your hundreds of lines away from where the module was loaded. If you always specify `assert.deepStrictEqual()`, then you always kno

[2018-02-17 06:43] gireeshpunathil commented on #18832
ran a 1000 times locally, but not able to reproduce.

the test has only one assertion point:

`assert.strictEqual('1\n2\n3\n', response);`

which did not seem to have hit .
and the rest all lines are trivial.
this leads to suspected problem due to the environment, rather than the test itself.

[2018-02-17 08:01] alexdeg2015 opened #18834 "And what if you distribute all the standard modules Node JS via npm"
And what if you distribute all the standard modules Node JS through npm. This would be very convenient - I use only the functionality that I need and do not bother about the entire zoo modules.

[2018-02-17 08:07] joyeecheung commented on #18495
Not super familiar with this part of the code, but looks like it's similar to https://github.com/nodejs/node/issues/4161 - somehow the buffer is not written properly and there are irrelevant data mixed there breaking the record

[2018-02-17 08:24] joyeecheung commented on #18834
The majority of the built-in modules need to interact with the bindings, which we tend to hide as an implementation detail and do not want user land modules to interact with. And the majority of the bindings need to include internal C++ code, so publishing them to npm may not be feasible either.

That said, there are always some modules that probably should not be in core in the first place in hin

[2018-02-17 08:29] alexdeg2015 commented on #18834
Node JS is a great platform, but I'm worried about it growing into a "syntax sugar"area. Therefore, I ask this question, I am frightened by the growth of both the size of the Node JS itself and the complexity of its device - simplicity and efficiency is the key to success. It is a pity of course that the project can be traced, the share of solidity and connectedness.

[2018-02-17 08:37] joyeecheung commented on #18820
This could be caused by a race condition of the invalid `fd` generation...I could think of an alternative way of getting those (e.g. starting from `1 << 30` and counting down, usually that should be invalid).

[2018-02-17 08:46] joyeecheung commented on #18834
We could provide configure options that let users strip the modules that they don't need, but to add the modules back would probably still requires another build instead of simply pulling them down from npm

[2018-02-17 08:55] joyeecheung commented on #18834
I cannot speak for the project on my own, but in general I believe the core collaborators are still leaning towards a small core, since according to my observation, feature requests for things that belong to the user land usually get turned down in favor of a user land module. As for existing modules, given that we are still stuck with assert, cluster, and the like (for compatibility reasons, I be

[2018-02-17 08:59] alexdeg2015 commented on #18834
Okay, I get it. Thank you for your answers. You make a great platform!

[2018-02-17 09:02] joyeecheung commented on #18834
Also, there is always the question regarding what do you mean by "Node.js" - is it the binary released in the official channel that comes with API docs, or just this repo that contains the source which the binary can be built from? Most of our users use the default binary, I believe, but it's always possible to trim the build using config options and build a smaller binary with only pieces the use

[2018-02-17 09:09] alexdeg2015 commented on #18834
Speaking of NodeJS, I'm talking about the repository that I download and install into the system. As far as I can see, now the main trend is crushing and assembling for the project, without unnecessary details and elements. The proposed version of the pre-Assembly seems too intricate and complicated. Npm would be the easiest method, but given your explanation you would have to break a lot of code

[2018-02-17 09:11] joyeecheung opened #18835 "Document about CI results expected in the onboarding PR"
Refs: https://github.com/nodejs/node/pull/18824#issuecomment-366419923

I believe the current practice is:

1. Ask the people getting onboard to launch a full CI (to make sure they can do that), and paste the link in the PR
2. After the linter goes green, stop the CI (since it's just a documentation change we don't really need to get a green full CI, also unfortunately these days the full CI are a

[2018-02-17 09:53] targos opened #18836 "Let's start to write upgrade guides!"
I think there is one thing that Node is missing compared to many other projects when a new major version is released: a clear guide for users who want to migrate their code from an earlier version.

We have lists of breaking changes [in the wiki](https://github.com/nodejs/node/wiki#apibreaking-changes), mostly maintained by @Fishrock123.
Those are valuable, but I would like to propose something di

[2018-02-17 10:16] targos commented on #18836
Just to clarify the second point: what I mean is that when we branch `v10.x`, we start working on the upgrade guide to Node 11 (and we finalize the Node 10 one in parallel)

[2018-02-17 10:28] #18834 closed

[2018-02-17 12:15] mmarchini commented on #18828
I agree with @Trott, `const assert = require('assert').strict;` might affect understandability in large files and for new contributors.

[2018-02-17 13:04] evanlucas commented on #18836
I think this is a great idea. I would be happy to help out on this front too!

[2018-02-17 13:27] BridgeAR commented on #18828
Thanks for the feedback. I am closing.

[2018-02-17 13:27] #18828 closed

[2018-02-17 14:20] Andrushkins commented on #10659
@antoniobrandao did it help you?
cas i had this line as well, but removing it changed nothing

[2018-02-17 14:41] BridgeAR opened #18837 "Flaky addons-napi/test_buffer/test"
https://ci.nodejs.org/job/node-test-binary-windows/15104/COMPILED_BY=vs2017,RUNNER=win10,RUN_SUBSET=0/console

[code]

There were multiple errors while building before that:

[code]

Ping @nodejs/n-api

[2018-02-17 14:47] devsnek commented on #18836
as a nice reference: https://www.python.org/about/gettingstarted/

everything linked on that page provides good models for what we should be aiming for (within the reason of node.js being comparable to python)

[2018-02-17 14:52] BridgeAR opened #18838 "Flaky addons/hello-world-esm/test"
https://ci.nodejs.org/job/node-test-commit-plinux/15475/nodes=ppcbe-ubuntu1404/console

[code]

[2018-02-17 15:32] antoniobrandao commented on #10659
@Andrushkins the problem was the Node version I was running. In my case removing that instruction from the package.json helped for one project, but it didn't help for another.

My final solution was to use [the "n" package](https://www.npmjs.com/package/n) to switch between different Node versions accordingly.

In my case, some of my projects require that I am running Node 4.x, and others work wit

[2018-02-17 15:42] andvgal opened #18839 "Consider freezing Object.prototype for security reasons"
* **Version**: any
* **Platform**: any
* **Subsystem**:

## THE PROPOSAL:

1. Add Node.js CLI option to control freezing of `Object.prototype` on startup
2. As possible, emit a deprecation warning whenever `Object.prototype` is modified.
3. Over time (e.g. Node.js v11+), enable freezing of  `Object.prototype` by default.

## JUSTIFICATION:

The issue formalizes proposal/discussion started here: ht

[2018-02-17 15:45] devsnek commented on #18839
related to #18795 and #18773 i guess

imo:
cli option to freeze builtins ... maybe
default freezing buitins ... never

[2018-02-17 16:00] vdeturckheim commented on #18839
I feel like this would go against ES specification. Also, CVE-2018-3721 is, IMHO, very unlikely to be exploited. When disclosing it, I have tried to assign it the lowest CVSS score.

[2018-02-17 16:03] vdeturckheim commented on #18839
Hey @andvgal,

Thanks for opening this debate. This kind of issue seems to be happening a lot (see https://github.com/nodejs/security-wg/pull/120). However I don't belive there is anything to do on Node.js side to handle it:

* I feel like this would go against ES specification.
* CVE-2018-3721 is, IMHO, very unlikely to be exploited.

When disclosing it, I have tried to assign it the lowest CVSS

[2018-02-17 16:09] MilanVilov opened #18840 "not install lixml on windows"
* **Version**:
* **Platform**:
* **Subsystem**:

[2018-02-17 17:28] andvgal commented on #18839
Hi @vdeturckheim

If we are not yet aware how further prototype pollution can be exploited, it does not mean it is not a ticking bomb. I am sure, this vector will continue to be exploited.

When anything like that happens in critical software then fundamental measurements have to be taken in very defensive manner. As far as I can judge, it's far not the first case of `__proto__` related problem.

[2018-02-17 17:39] thasmo commented on #9542
I'm experiencing this with node 9.5.0.

[2018-02-17 17:40] apapirovski commented on #18840
Please fill out the provided issue template and provide more information in the future.

[2018-02-17 17:40] #18840 closed

[2018-02-17 17:42] thasmo commented on #18638
With node 9.5.0 for me `EINVAL` errors happen when resizing the terminal window, as described in https://github.com/nodejs/node/issues/9542.

[2018-02-17 17:51] juggernaut451 commented on #18778
Working on it..

[2018-02-17 17:58] AdrianoModa commented on #6547
I did two things:
1. un-checking "Event tracing(ETW)"
2. And services.msc enabled Volume Shadow Copy Service I set automatic

I tried all but it´s fix to me. I hope that help you.

[2018-02-17 18:47] bnoordhuis commented on #18839
To rephrase what @devsnek says, the threat model for Node.js does not include executing untrusted JS code.  If your application is compromised to the point where that is possible, prototype pollution is the least of your worries.

Thanks for raising the issue but as there is zero chance of Node.js adopting this proposal, I'll go ahead and close it out.

[2018-02-17 18:47] #18839 closed

[2018-02-17 18:49] billywhizz commented on #18756
I'm working on this branch for a PR: https://github.com/billywhizz/node/commits/fix-http-client-aborted. After a lot of investigation and testing i am pretty confident the fix is good.

I am not able to get an automated test that reliably reproduces the error as it seems to depend on how the server handles closing the TCP session. It might be possible to mock it if i can figure out exact sequence

[2018-02-17 18:54] andvgal commented on #18839
**Polyfill** is valid point. However, it mostly applies to Browser environment, but not Node.js. Responsible developer would update to new Node.js version instead of monkey patching the old one.

Also, I may be wrong, but`Object.prototype` itself is not so often extended with features suitable for polyfill.

My point for that remains:

We can start item 1 & 2 to see how it goes. At least, it shoul

[2018-02-17 19:01] devsnek commented on #18839
node will judge you for performance or security, but not code practice. if i want to put all my code methods onto Object.prototype for some strange reason, node can and should allow that.

[2018-02-17 19:14] bnoordhuis commented on #18805
Hm, maybe the note was removed; it's only hinted at obliquely now.

If you google for "ReadDirectoryChanges ERROR_ACCESS_DENIED", you'll get a couple of hits that explain the issue.  ReadDirectoryChanges is the operating system API that Node.js uses on Windows.

[2018-02-17 20:33] srl295 commented on #17077
Thx. Will retry when back at that box.

[2018-02-17 20:39] bnoordhuis commented on #18819
The package cache isn't accessible to APMs (without next-level run-time hacks) so when is that useful and how would they access that?

[2018-02-17 21:34] vdeturckheim commented on #18839
Node.js is not supposed to prevent you from using standardized language features that can be harmful.

Can you point me any past issue that is actually linked to Node.js and not to JS/ES itself?

Thank you for caring about my reputation. I am sorry if you felt my answer was a bit cold, that was not my intention.

All examples of exploitation I have seen could have been handled through data validat

[2018-02-17 22:01] zignd opened #18841 "Why is it that Node.js doesn't seem to support source maps as a built-in feature to generate stack traces?"
* **Version**: 9.5.0
* **Platform**: Linux x86_64
* **Subsystem**: Linux

Why is it that Node.js doesn't seem to support source maps as a built-in feature to generate stack traces? Here's an example, when I compile TypeScript code generating source map files, those source map files are being ignored by the Node.js runtime when an error is thrown and a stack trace is generated. The generated stack

[2018-02-17 22:55] jasnell commented on #18819
There are several ways we could surface the data for them. One of the mechanisms discussed at the diagnostics summit was having the ability to include it in node-report assuming that does end up being bundled in core (or other diagnostic channels should those prove useful).

[2018-02-17 22:56] kichingxx opened #18842 "Node http request path changes to [object Object]:undefined"
* **Version**:
* **Platform**:
* **Subsystem**:

I'm attempting to make an influxDB call via node http, but logging the request, it appears in the ClientRequest that the GET path gets changed from http://influxhost:influxport from http://[object Object]:undefined. Why is that happening? The call works successfully and the path looks correct on local, but it gets malformed somehow while on a deploy

[2018-02-17 23:01] jasnell commented on #18819
Specifically, the ask during the diagnostics summit was that since (a) we're loading the modules anyway and (b) apm vendors also have to load those modules to determine the information they need, it would be ideal if we could provide some way of making it easier.

[2018-02-17 23:18] devsnek commented on #18842
calling toString on a legacy url object (which http uses a lot) uses `Object`'s default toString method:
[code]

in the future check out the help repo (https://github.com/nodejs/help) 👍

[2018-02-17 23:28] bnoordhuis commented on #18841
Duplicate of #6471 and a few others; see that issue and the issues it links to for discussion.  The pithy answer to your question is "performance."

[2018-02-17 23:28] #18841 closed

[2018-02-18 01:00] richardlau commented on #18819
IIRC we don't even currently read the "name" field from `package.json` (modules are cached by resolved filenames).

[2018-02-18 01:02] jasnell commented on #18819
Yep, that's right, we don't. I'm not sure name is as critical if we have the filename.

[2018-02-18 01:43] richardlau commented on #18819
Again from memory, there is nothing stopping the "name" field in `package.json` being completely unrelated to the enclosing directory name.

Just to be clear I am not against this feature request if there are good reasons. Currently only "main" [means anything to Node.js](https://nodejs.org/dist/latest-v9.x/docs/api/modules.html#modules_folders_as_modules) and the only other field given in the exa

[2018-02-18 05:37] Trott commented on #18835
Partially (or completely?) dealt with in https://github.com/nodejs/node/pull/18846

[2018-02-18 07:57] mcollina commented on #18756
I would recommend using the debugger to figure out the exact sequence of things that should happen, and approximate it at best. Worst case, set completed to true yourself and call the method.

We won’t accept a PR relying on an external service to run a test. Feel free to send an issue.

[2018-02-18 07:59] joyeecheung commented on #18836
By the way, it would be nice to have a codemod based on something like [jscodeshift](https://github.com/facebook/jscodeshift) that helps users automatically upgrade their codebase

[2018-02-18 12:03] bnoordhuis commented on #18819
It makes sense for a tool like node-report to include version numbers.  However, for performance reasons we don't parse package.json unless it contains the string `"main"`.  Unconditionally parsing package.json to get the version number means regressing the common case for a <1% case.

[2018-02-18 13:32] jasnell commented on #18819
Yep. The perf cost is the key concern I brought up when this was mentioned and I don't yet have a solution (mainly why this is an issue and not a pr ;)...). If there's no way to do it without incurring too much of a penalty, then so be it.

[2018-02-18 14:59] addaleax commented on #14593
@bzoz I think it might be easier to wait until this has been fixed in the v8.x branch, at least so we don’t forget about it

[2018-02-18 15:36] billywhizz commented on #18756
I'll give it a go matteo. I think I have narrowed it down to the fact that when the error happens the socket close [callback](https://github.com/nodejs/node/blob/master/lib/net.js#L579) seems to fire pretty much immediately (maybe because server has already closed their end?).

this means the HTTP socket close [function](https://github.com/nodejs/node/blob/master/lib/_http_client.js#L312) gets cal

[2018-02-18 16:30] BridgeAR opened #18851 "JavaScript debug statements"
I personally would some times like to have some debug calls for internal APIs e.g. the internal errors. It would make the API easier to use by just verifying the input but only when run by our test suite. We are all human and make mistakes. So it should behave similar to a DCHECK in C++ but just in JS. Because I would not want to have those checks run in production.

Do we want to introduce someth

[2018-02-18 16:35] devsnek commented on #18851
we already have a system for macros (i think for perf right now), that sounds like a pretty easy thing to achieve.

[2018-02-18 16:35] AndreasMadsen commented on #18851
There was some work that went into a `//CHECK(statement);` comment that could be enabled.

[2018-02-18 16:38] BridgeAR commented on #18851
Nice, do you know where I can find some further info about it?

[2018-02-18 16:39] targos commented on #18851
I think our JS files are preprocessed by a python script before ending up in the binary. It might be somewhere inside it?

[2018-02-18 18:41] billywhizz commented on #18756
@mcollina let me know what you think about this. maybe there is a better way to do it but with this i can reliably recreate the condition and have verified it fails test before my change and passes after: https://github.com/billywhizz/node/commit/d54f7ba3fe4f6cceb4d8703de7e6b3ff51bccf7f

[2018-02-18 19:16] jdalton commented on #18819
What would the perf gap be? Would improving other areas, like leveraging v8's compiler cache for faster compilation, help?

[2018-02-18 20:00] trivikr opened #18855 "http2: check if callback is valid before closing the request?"
* **Version**: master
* **Platform**: N/A
* **Subsystem**: http2

I came across this issue while writing unit tests for `req.close(code)` in PR #18854
The function currently checks if callback is valid after performing close operation
https://github.com/nodejs/node/blob/472cde603ef60aafcff00a4d09743758dfd0d928/lib/internal/http2/core.js#L1760-L1764

In other functions (for example `ping()`, `setti

[2018-02-18 20:01] LuigiBaute opened #18856 "Hello, I would like to collaborate with your project by serving as a translator to Spanish which is my native language. I can translate any text document as long as the document is more than one thousand words"
* **Version**:
* **Platform**:
* **Subsystem**:

[2018-02-18 20:04] hashseed commented on #18851
The version of `js2c.py` in V8 indeed supports macro expansion (as defined either inline or in `macros.py`). It should be easy to select a macro file depending on build mode.

[2018-02-18 20:08] Fishrock123 commented on #18851
I had discussed making debug macro comments with @trevnorris for async-hooks but the idea never got anywhere. I think this would be a good idea for core development/debugging.

[2018-02-18 20:13] jasnell commented on #18856
Hello @LuigiBaute ... the best way to start with this is to open an issue in the Community Committee repo. Someone on that side would be able to help you get started :-) https://github.com/nodejs/community-commitee

[2018-02-18 20:13] #18856 closed

[2018-02-18 20:17] jasnell commented on #18819
Haven't played with significant numbers but given how sensitive this particular bit of code is, any bump is likely to be viewed as unacceptable. Another possible approach we can take here is emitting a trace event when a module is loaded, then directing the necessary information there. It would mean requiring turning trace events on to get that information, but it would allow us to avoid caching t

[2018-02-18 20:19] fivdi commented on #18856
There's a little typo in the link, it should be https://github.com/nodejs/community-committee

[2018-02-18 20:19] hashseed commented on #18839
Violating the spec is not an option imo.

[2018-02-18 20:42] barinbritva commented on #10985
@yunong, how did you decide this issue? I use lodash.cloneDeep() too and have same problem.

[2018-02-18 21:02] cjihrig commented on #18842
Closing as answered and redirected to the help repo.

[2018-02-18 21:02] #18842 closed

[2018-02-18 22:32] prog1dev commented on #18833
Found test which explicitly check if default state of a stream is not 'paused' by default
https://github.com/nodejs/node/blob/master/test/parallel/test-stream-ispaused.js#L32

So I guess it answers my question

[2018-02-18 22:32] #18833 closed

[2018-02-18 23:36] gibfahn commented on #14593
I've landed the fix in v8.x-staging, so I'll close.

[2018-02-18 23:36] #14593 closed

[2018-02-18 23:44] ARitz-Cracker opened #18858 "Files and folders created by NodeJS don't have their "everyone can write" permission set when specified."
* Version: **v8.9.4 LTS**:
* Platform: **Linux 4.4.0-112 on Ubuntu Server 16.04 (64 bit)**:
* Subsystem: **fs**:

Steps to reproduce:

1. Create a file/folder with `fs.writeFile` or `fs.mkdir` with its mode set to `0o777`, `0o222` or even `0o002`
2. Observe the access permissions of the newly created file/folder.

EDIT:
`fs.chmod` seems to work fine.

[2018-02-19 00:05] gibfahn commented on #18686
Yes.

[2018-02-19 00:25] mscdex commented on #18858
Did you check your umask with `umask -S`?

[2018-02-19 00:35] ARitz-Cracker commented on #18858
No I did not 😅
`process.umask(0o000);` solved the issue.

[2018-02-19 00:35] #18858 closed

[2018-02-19 04:35] ardyanto commented on #18011
reinstall node js or set proxy your office
npm config set proxy http://proxy.company.com:8080
npm config set https-proxy http://proxy.company.com:8080

[2018-02-19 04:36] ardyanto commented on #14592
reinstall node js or set proxy your office

npm config set proxy http://proxy.company.com:8080
npm config set https-proxy http://proxy.company.com:8080

its work for me

[2018-02-19 04:50] trivikr opened #18862 "http2: respondWithFile() does not set headersSent to true"
* **Version**: v10.0.0-pre
* **Platform**: N/A
* **Subsystem**: http2

I came across this issue while writing unit tests for `stream.respond()` in PR #18861
The method `respondWithFile()` does not set `state.flags`, thus `headersSent` is still set to false: https://github.com/nodejs/node/blob/472cde603ef60aafcff00a4d09743758dfd0d928/lib/internal/http2/core.js#L2267-L2321

This looks like a bug as

[2018-02-19 05:32] gireeshpunathil commented on #18819
another option would be to parse  the `package.json` files asynchronously, on a second pass, after the bootstrapping is completed.

[2018-02-19 06:09] MaleDong opened #18863 ""console.read/readline" wanted"
Just a simple method but very useful for console app's IO.
Until now we don't have console.read/readline yet but console.log instead.

[2018-02-19 06:39] devsnek commented on #18863
you can use the [readline](https://nodejs.org/api/readline.html) module which comes with node or go lower level with `process.stdin` which is just a stream

[2018-02-19 06:43] mbessolov commented on #18041
Listening on IPv6 took me by surprise as well, but apparently this behavior is described in the [documentation](https://nodejs.org/api/net.html#net_server_listen_port_host_backlog_callback):

[2018-02-19 06:59] MaleDong commented on #18863
@devsnk:
Thanks I know about that and I can do something like this:
[code]
But it would be better if a method can be offered directly to cope with this senario.

[2018-02-19 07:33] mscdex commented on #18863
@MaleDong Using the previously mentioned built-in `readline` is simpler:

[code]

`console` methods implemented by browsers are already implemented in node on a case-by-case basis. Seeing as how `console.read()` and/or `console.readline()` do not even exist as part of the standard Console API yet, I'd think there's an even slimmer chance of having them in core. Besides, I'm personally not a fan of

[2018-02-19 08:35] MaleDong commented on #18863
@mscdex ：
Many thanks first.
Then in my mind, I think it just depends on senarios——If you are writing a console app with synchronized steps by inputting something and do outputting (just like what we see for fs.readSync/writeSync....ect).
So that's why the synchronization version is submitted (Both Sync/Async are welcomed for different usages). And I'm still looking forward to a way convertable fr

[2018-02-19 08:56] pitaj commented on #9706
Believe I'm running into this issue while working on parallelizing a build process (creating a pool of workers and distributing hundreds of tasks among them). That's on Node 8.8.1

[2018-02-19 08:58] 6-8-axnw1bom81v5xa3nh48c commented on #18863
@MaleDong Here is a very simple synchronous console readline interface

[code]

Why do you think it would be worth implementing this in the core?

[2018-02-19 09:28] amanthegreatone commented on #15651
I am also experiencing memory leak with child_process.fork in one of my apps. There is a MQTT client connected to a MQTT broker in index.js and on receiving a message it forwards it to a child_process for processing using child_process.send(). In the child process I catch this message using process.on() and then do the relevant processing.

There are 5 sensors sending data every 5s to the app and

[2018-02-19 10:22] billywhizz commented on #18756
let me know if you are happy for me to make the PR based on the above guys.

[2018-02-19 12:38] santigimeno commented on #15651
I think the problem with the original code was that after passing the socket to the worker, the underlying handle is automatically closed but the http (HTTPParser, etc) objects associated to the socket don't notice about it so they  are never freed. Is this something the `child_process` module should correctly handle itself?

To avoid  this you can pass the option `keepOpen: true` when sending the

[2018-02-19 12:56] DanielRuf commented on #16781
Is this also in Node.js 9 and in which versions?

[2018-02-19 14:23] bzoz commented on #18638
This is an issue with the WSL, not Node - `GetFileType` for stdio handles returns `FILE_TYPE_PIPE`, then when libuv tries to call `SetNamedPipeHandleState` it fails with `ERROR_INVALID_FUNCTION`.

Try running Linux version of Node. You can also try redirecting Node output to a real pipe (e.g. by adding `| cat`) or a file.

[2018-02-19 14:23] #18638 closed

[2018-02-19 14:30] benjamingr commented on #18863
Consider the [prompt](https://www.npmjs.com/package/prompt) package. I don't think this belongs in core.

[2018-02-19 14:30] felyperennan commented on #13408
This is a little bit frustrating, I found my self not being able to trust instanceof at all, I put some big named variable in the super class with value true and check for that. It's clumsy, its ugly, but it works.

[2018-02-19 14:56] silverwind commented on #18863
Unless browsers implement such a interface, I don't see us extending `console` like that.

[2018-02-19 15:58] bnb commented on #18836
FWIW, there's also the OSS [`upgrade-ready`](https://github.com/nodesource/upgrade-ready) tool that we built at NodeSource when the 0.10/0.12 -> 4.0 migration happened. Seems to be aligned with the goals of this. Not been updated in a while, but I'd be happy to see what I can do if there's interest ❤️

Huge +1 for this effort in general. Having a codified document will be a massive help for indivi

[2018-02-19 16:05] bzoz commented on #18431
Investigated this. WSL is waiting for the stdin pipe to be closed. Adding `child.stdin.end();` to the code solves this.

I think it is not an issue with Node, its only the way WSL handles its stdin.

[2018-02-19 16:05] #18431 closed

[2018-02-19 18:56] natew opened #18870 "Don't require copy/pasting inspect url"
* **Version**: 9.2.0
* **Platform**: OSX High Sierra

When you run `node --inspect` it gives you a url to inspect on. Chrome nicely lets you have a dedicated inspector instance, but this doesn't give much room for scripting/automation.

For example, we run three different node processes when we run our app. I'd prefer to be able to use Puppeteer to have a dedicated area to debug them. But in order

[2018-02-19 19:57] Trott commented on #18870
@nodejs/v8-inspector

[2018-02-19 20:29] TimothyGu commented on #18870
There are several ways of doing this:

1. In a Node.js instnace, [`require('inspector').url()`](https://nodejs.org/api/inspector.html#inspector_inspector_url) always contains the WebSocket URL, or `undefined` if Inspector is not active.
2. You may control the port the Node.js Inspector is running on through [<code>--inspect=<var>port</var></code>](https://nodejs.org/api/cli.html#cli_inspect_host_p

[2018-02-19 20:29] #18870 closed

[2018-02-19 20:29] Reggino commented on #15651
@santigimeno Thank you for your suggestion.

I tried it and indeed the server stays alive a bit longer, doesn't seem to run out of memory, but stops responding after about 2 minutes... weird?

[2018-02-19 20:31] natew commented on #18870
@TimothyGu thank you very much, glad this is doable!

[2018-02-19 21:06] santigimeno commented on #15651
@Reggino can you try to send the `done` message from the worker on the `close` event instead of on `finish`?

[2018-02-19 22:52] antoine-amara commented on #18862
If it's ok, I want to try to fix this issue, I reproduce the bug on my machine. It will be my first code contribution here after few contributions on documentation. But I think I can find it.

[2018-02-20 00:02] Bobwaller opened #18876 "Installed is newer"
* **Version**:
* **Platform**:
* **Subsystem**:

Installer says that the installed version is newer - installed version is 6.5.0.0

[2018-02-20 00:53] trivikr commented on #18862
Sure @antoine-amara, I know the locations of the fixes, can guide you on how to fix it and which tests to update.
I'm waiting for response from HTTP2 team to find out whether this is actually a bug.

[2018-02-20 01:46] mhdawson commented on #18836
Sounds like a good idea to me.

[2018-02-20 01:51] mhdawson commented on #18837
@digitalinfinity since this is on windows can you take a look ?

[2018-02-20 01:54] mhdawson commented on #18793
+1

[2018-02-20 02:37] MaleDong commented on #18863
@6-8-axnw1bom81v5xa3nh48c ：The reason why I wanna make "console" has a readline/read function is because I think Nodejs is quite different from pure js in the browser. And this language is more based on the server-side running than running on the client. As for this, read/readline/log is the most basic function:)

[2018-02-20 05:09] digitalinfinity commented on #18837
Verified that it passes on my machine- @joaocgreis it looks like the test can't find the VC++ install- is the CI build machine configured correctly in this case?

[2018-02-20 08:12] killagu commented on #18469
It has been fixed in v10.0.0-pre.
In the master branch,will print
[code]

[2018-02-20 08:24] benjamingr opened #18879 "Retire collaborators who have been inactive for a year?"
Following [the TSC decision to retire some inactive collaborators here](https://github.com/nodejs/node/pull/16173). I think we should have a clearer process for removing collaborators who have been inactive for a period of time.

I'm not really sure what prior work is going on - but I'm going to throw around a proposal to iterate on:

Once a month:
 - look for people who have been inactive* for a

[2018-02-20 08:29] benjamingr commented on #18863
Thanks for your suggestion and participation @MaleDong - I'm going to close this issue now - if you feel like there is still discussion to be had - please feel free to let me know and we'll reopen it for further discussion.

[2018-02-20 08:29] #18863 closed

[2018-02-20 08:59] killagu commented on #18284
@maximelkin It's node repl bug.I will make a PR to fix it.

[2018-02-20 09:41] Reggino commented on #15651
@santigimeno same result, the serer always crashes, with or without ```{ keepOpen: true }```

[2018-02-20 10:12] joyeecheung commented on #18879
SGTM. I remember there is another issue in the build repo talking about revoking CI access from people who have not been active for three months?