[2017-12-09 20:58] Vovka19 opened #17580 "thanks"
* **Version**:
* **Platform**:
* **Subsystem**:

[2017-12-09 22:39] MylesBorins commented on #17570
Please feel free to ask this question in https://githu

[2017-12-09 22:39] #17570 closed

[2017-12-09 23:24] ORESoftware commented on #4596
anyone?

[2017-12-09 23:33] BridgeAR commented on #4596
@ORESoftware I am not sure where you got that info from. The pull request to add that is still open and WIP. If you need to find information about features, please check the changelog and the public API documentation. You will find everything published in those places.

[2017-12-10 00:00] ORESoftware commented on #4596
Yeah I can't remember, I caught wind of it about 3 or 4 weeks ago

[2017-12-10 00:49] refack commented on #17580
@Vovka19 I'd like to say, your welcome!

I'm closing this issue, but feel free to add any comments you might have.

[2017-12-10 00:49] #17580 closed

[2017-12-10 03:06] addaleax commented on #16987
@amarchino Please feel free to open a PR with your suggestion and/or try that out if you want :)

[2017-12-10 03:15] addaleax commented on #17097
@surajwy Is there a chance you could try the patch from https://github.com/nodejs/node/pull/17478?

[2017-12-10 03:18] addaleax commented on #17143
@AndreasMadsen How would you feel about `MakeCallback` generating new async contexts based on the receiver object (e.g. via a WeakMap) when no `async_context` was passed?

That would allow us to remove `.domain` support from `MakeCallback` and might make sense as a transition stage anyway?

[2017-12-10 04:06] Trott commented on #17569
@mithunsasidharan I would request that people who already have multiple commits into the project please not take `good-first-issue` tasks that have been open for only an hour. If it's been open for a week, then fine. But please leave a reasonable amount of time for these to be picked up by actual first-time contributors. Please don't treat `good first issue` as the easy pile. It takes away a good

[2017-12-10 04:20] Trott commented on #17569
By the way, to be clear: Totally go for stuff labeled `help wanted` or `mentor available`, but the `good first issue` stuff should be left alone unless it's been open for a while. Let actual first-time contributors have an opportunity at those.

If it helps, Here's a list of suggested ways to find good issues/tasks if you've already contributed but aren't sure what to work on next: http://nodetodo

[2017-12-10 04:24] apapirovski commented on #17569
As you said originally, I think once an issue has been around for longer than a week then it should be open to anyone. Based on reviewing a lot of the good first issues, the difficulty level varies greatly which I think explains why some are getting so little attention.

[2017-12-10 04:41] mithunsasidharan commented on #17569
@apaprocki @Trott : I've closed the PR. I'll leave it some new users as you've pointed out. I'm working on something else. Thanks !

[2017-12-10 05:31] TimothyGu commented on #17143
@addaleax Could a `v8::Private` be used?

[2017-12-10 06:15] TimothyGu commented on #14638
I'm closing this issue as there seems to be very limited support for this feature from Collaborators ([myself included](https://github.com/nodejs/node/issues/14638#issuecomment-321964927)), and as the discussion has died down.

[2017-12-10 06:15] #14638 closed

[2017-12-10 08:17] benjamingr commented on #17569
@mithunsasidharan thanks and thanks for understanding - if you'd like ideas for stuff to work on - there is a lot of work and testing to do with async iterators and Node.js - as well as a lot of interesting work to be done.

Promise.prototype.finally landed - and we should probably test its behavior with unhandled rejections.

The promisify docs (what every method does when promisified) haven't re

[2017-12-10 09:00] ramsgoli commented on #17569
I'd like to take this issue if its still up for grabs! I've never contributed to the node source before but have been looking for ways to get started!

[2017-12-10 09:03] benjamingr commented on #17569
@ramsgoli sounds great. [here is promisify's code](https://github.com/nodejs/node/blob/master/lib/internal/util.js#L256-L308) and [here are the docs](https://github.com/nodejs/node/blob/master/doc/api/util.md#utilpromisifyoriginal)

Here is [the general contributing how-to](https://github.com/nodejs/node/blob/master/CONTRIBUTING.md).

Don't hesitate to reach out if you're not sure how to proceed.

[2017-12-10 10:26] AndreasMadsen commented on #17143
I don't see how you can emit the `init` event correctly or know that the content of `async_context` should be.

[2017-12-10 11:08] tniessen commented on #17434
I highly doubt making assumptions about the used programming language indicates such a failure, or if it does, has any relevance.

[code]

If people monkey-patch things in a way that breaks existing code, they should not expect everything to keep working. If you ever used [Detours](https://www.microsoft.com/en-us/research/project/detours/) on Windows (or literally any other API hooking library on

[2017-12-10 12:10] mathiasbynens opened #17586 "Issues with `os.homedir()` on Windows when the username contains non-ASCII Unicode symbols"
* **Version**: Node.js v8.9.3
* **Platform**: Windows
* **Subsystem**: `os`

[code]

`os.homedir()` should match `os.tmpdir()` and return `'C:\\Users\\BJRN~1'`. Not doing so results in errors when performing file operations, e.g. https://github.com/GoogleChromeLabs/jsvu/issues/11.

[2017-12-10 13:08] EnoahNetzach commented on #16258
I run into this problem once, and having to discover about the `process.send`/`process. channel` was kinda painful.
If then, as @refack says, it's not even guaranteed, that looks just as a workaround to me.

Would an API like `child_process.isMaster`, `.isChild` and possibly `.isParent` be better suited than the "root" one?

[2017-12-10 14:19] addaleax commented on #17143
@TimothyGu I think so (although I was thinking `NativeWeakMap`)

@AndreasMadsen Yeah, init would have to be emitted before the call, coming from the void and reporting an unknown resource type. It’s not optimal. ;)

[2017-12-10 14:55] AndreasMadsen commented on #17143
If that was the only concern it would be fine. What is important is that `async_context` have meaningful values that allow for propagation of context. How could you do this?

[2017-12-10 17:33] refack commented on #17586
AFAICT it's not that simple. `os.tmpdir()` return the environment variable verbatim:
[code]

[2017-12-10 18:19] Trott opened #17589 "investigate flaky tests on fedora 24"
* **Version**: 10.0.0-pre
* **Platform**: fedora24
* **Subsystem**: test

sequential/test-child-process-pass-fd and sequential/test-inspector-port-cluster sometimes fail as as a pair on fedora 24.

Recent examples:

<summary>
https://ci.nodejs.org/job/node-test-commit-linux/nodes=fedora24/14848/console

<details>

[code]
</details>
</summary>

<summary>
https://ci.nodejs.org/job/node-test-commit-l

[2017-12-10 18:19] mathiasbynens commented on #17586
As [requested on Twitter](https://twitter.com/refack/status/939915813695508480), here’s the output for `set`:

[code]

[2017-12-10 18:21] Trott commented on #17589
Commonality is that both tests launch a lot of child processes and end up getting "Resource temporarily unavailable".  Obvious things to try:

* If the tests are spawning lots of processes asynchronously, maybe the tests can be rewritten to spawn one at a time and only spawn the next one when the test has finished for the first one.

* Or maybe the tests can be split into multiple test files to re

[2017-12-10 18:21] Trott commented on #17589
@nodejs/testing  @nodejs/build

[2017-12-10 18:21] Niggler opened #17590 "crypto createHash `SHA-1` to `SHA1`"
* **Version**: v8.9.3
* **Platform**: all
* **Subsystem**: crypto

The official rendering of the "Secure Hash Algorithm 1" is "SHA-1" according to [the RFC](https://tools.ietf.org/html/rfc3174) and [FIPS 180-4](http://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.180-4.pdf).  Emphasis on the hyphen.

`crypto.createHash` however expects the name `SHA1` and fails on `SHA-1`:

[code]

Would it make sense

[2017-12-10 18:24] addaleax commented on #17590
The names here (and as returned by `crypto.getHashes()`) come from openssl, so I think if we want to maintain that consistency this would first need to happen in openssl?

[2017-12-10 18:24] mathiasbynens commented on #17586
Right now, this is broken for both a) the common case where the user did not overwrite any environment variables as well as b) the less common case where they did overwrite env vars without explicitly using 8.3 names.

I get that it’s harder to fix it for the uncommon case. But fixing it for the common case would already help a great deal.

[2017-12-10 18:29] addaleax commented on #17586
@mathiasbynens Maybe this is a naïve question, but how would Node go about ‘fixing’ this? I assume what you’re talking about is translating non-ASCII path segments like `Björn` → `BJRN~1` transparently? Is that possible without disk access?

[2017-12-10 18:34] refack commented on #17586
WIN32 has an API for this: [`GetShortPathName`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa364989(v=vs.85).aspx) but it does I/O since the "short name" is stored in the FS (could be disk or network). The inverse also exists (8.3 name to full name).
But it get more complicated, since 8.3 names can be disabled on NTFS (https://support.microsoft.com/en-us/help/121007/how-to-disable-8-

[2017-12-10 18:37] silverwind commented on #17586
Shouldn't both formats be equivalent when it comes to reading files from them? It might help to quote the non-8.3 path (see `windowsVerbatimArgs` option in `child_process`, it's quite a mess).

[2017-12-10 18:38] addaleax commented on #17586
@refack Yeah, that’s what I was afraid of – I don’t think people would welcome hidden synchronous I/O…

[2017-12-10 18:40] mmorearty opened #17592 "I think child_process.fork() should officially support { detached: true }"
* **Version**: v9.2.1
* **Platform**: Linux ip-172-31-29-251 3.13.0-135-generic #184-Ubuntu SMP Wed Oct 18 11:55:51 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: child_process

`child_process.spawn()` supports an option [`detached`](https://nodejs.org/api/child_process.html#child_process_options_detached) which "makes it possible for the child process to continue running after the paren

[2017-12-10 18:47] Trott commented on #17592
@bnoordhuis @cjihrig

[2017-12-10 18:56] ramsgoli commented on #17569
@benjamingr Just submitted a PR with these changes!

[2017-12-10 19:24] Niggler commented on #17590
Makes sense, raised an issue with OpenSSL: https://github.com/openssl/openssl/issues/4895 , if that is resolved then node will pick it up when the openssl dep is updated.

[2017-12-10 19:24] #17590 closed

[2017-12-10 20:40] mathiasbynens commented on #17586
In this particular case, the Node.js script ([jsvu](https://github.com/GoogleChromeLabs/jsvu)) generates a batch file `foo.cmd`:

[code]

Running this (with `foo.exe` at the expected location) results in:

[code]

The `C:\Users\Björn` part is the output of `os.homedir()`.

Note that this example is _already_ using quotes as @silverwind suggested. Removing the quotes doesn’t help. The only way I fo

[2017-12-10 22:37] Trott commented on #17036
@sindresorhus Does @bnoordhuis's comment address your need? If not, do you have a proposal for what the correct behavior would be on a system with (quoting @bnoordhuis's example here) "a 32 bit kernel and a mostly 64 bit userland"?

Trying to nudge this in a direction where it's either actionable or else close-able....

Thanks!

[2017-12-10 23:23] refack commented on #17586
This seems to stem from a known limitation in `cmd.exe` that it doesn't understand Unicode (or UTF-8).
More info and suggested workaround in https://github.com/GoogleChromeLabs/jsvu/issues/11

[2017-12-10 23:41] refack commented on #17586
After reading around this and the related issue, IMHO what node (or libuv) does need is a wrapper for `GetShortPathName`. Otherwise there is no simple workaround for @mathiasbynens's issue.

[2017-12-10 23:44] #17536 closed

[2017-12-11 00:08] Trott commented on #17589
The bullet point suggested solutions above won't work for `test-child-process-pass-fd` because it requires the large number of processes to test for the bug that it was written for.

Options might be:

* Move it to `pummel`, which would be a shame because it would rarely be run.
* Have it check that it's on macOS because that's the only (known) place where the bug was found. That's OK, but it prob

[2017-12-11 00:44] cPhost commented on #16616
closing it now since i can work on it later until a month.

[2017-12-11 00:44] #16616 closed

[2017-12-11 00:49] refack commented on #9435
In node>=8 there is the [`NODE_OPTIONS`](https://nodejs.org/api/cli.html#cli_node_options_options) environment variable that allows enabling inspector (with explicit port number or ephemeral port 0) in all child processes without having to manipulate the command line directly.

[2017-12-11 01:23] aleksey-bykov commented on #11865
fuck just fix it please, stop wasting everyone's time

[2017-12-11 01:40] udishamir opened #17597 "printf was not declared in this scope"
* **Version**: Latest
* **Platform**: FreeBSD 11.1-RELEASE-p4 FreeBSD 11.1-RELEASE-p4
* **Subsystem**: OS

latest build:
build failed with error: printf was not declared in this scope

FIX:
add #include <stdio.h> to tools/icu/iculslocs.cc

Cheers,

-Udi

[2017-12-11 01:49] cjihrig commented on #17592
I can think of at least one corner case, but it's probably unlikely to be affected since no code changes would be required. Code that checks for the existence of APIs like `process.send()` could break once the IPC channel is closed.

If it works already, people find it useful, and no one has a good reason not to support it, then we probably should document it (although I still think `spawn()` make

[2017-12-11 01:53] #17597 closed

[2017-12-11 02:19] Trott commented on #17589
Another possibility: Rewrite the test to accommodate "Resource temporarily unavailable".

[2017-12-11 02:50] Trott commented on #17589
CI stress test on master for sequential/test-child-process-pass-fd that will hopefully show it being flaky:  https://ci.nodejs.org/job/node-stress-single-test/1563/nodes=fedora24/

[2017-12-11 03:11] Trott commented on #17589
Argh, just noticed something I should have looked at before: This problem does not happen on the Digital Ocean host, just the Rackspace host (which is probably provisioned with fewer resources). I will have to re-run the stress test using the Rackspace host..

[2017-12-11 03:47] Trott commented on #17589
Oh, neat-o, I guess...once the stress test fails, it then fails again and again and again. Stress test for master is red, so that at least confirms the problem.

[2017-12-11 05:21] niftylettuce opened #17601 "How to access placeholder tokens?"
Is there a simple way to return an array of tokens used as placeholder tokens (e.g. for `util.format`)?

https://nodejs.org/api/util.html#util_util_format_format_args

e.g. `['%s', '%d', '%i', ...]`

[2017-12-11 05:50] tswaters commented on #16712
Using url parser directly won't really work without the other bits to make a valid url... e.g.:

[code]

It would need a dummy protocol (or maybe just http) to pull out hostname/port/host properly. And, even then, it wouldn't work for the current case, passing both `host` and `port`:

[code]

[2017-12-11 05:51] Trott commented on #17601
I'm unaware of any way to do this programatically. What's the use case? If the use case is persuasive, then a request to add the feature would be likewise persuasive.

[2017-12-11 06:34] joyeecheung opened #17602 "Collaborator nomination"
I would like to nominate @starkwang and @mmarchini to join the team of collaborators

@starkwang:
Comments: https://github.com/nodejs/node/search?utf8=%E2%9C%93&q=commenter%3Astarkwang&type=Issues
Commits: https://github.com/nodejs/node/commits?author=starkwang

@mmarchini:
Comments: https://github.com/nodejs/node/search?utf8=%E2%9C%93&q=commenter%3Ammarchini&type=Issues
Commits: https://github.co

[2017-12-11 06:46] sebdeckers commented on #17567
Should work fine. Example: https://gitlab.com/http2/server/blob/master/src/server.js#L45

[2017-12-11 07:02] starkwang commented on #17602
@joyeecheung Thank you! It's my great honor to be a collaborator!

[2017-12-11 07:36] mcollina commented on #17602
+1 to both of them.

[2017-12-11 07:36] starkwang opened #17603 "errors: similar error codes [VALUE_OUT_OF_RANGE] and [OUT_OF_RANGE]"
Now there are two similar error codes in lib:
* [ERR_VALUE_OUT_OF_RANGE](https://nodejs.org/dist/latest-v9.x/docs/api/errors.html#errors_err_value_out_of_range)
* [ERR_OUT_OF_RANGE](https://nodejs.org/dist/latest-v9.x/docs/api/errors.html#errors_err_out_of_range)

Should we reduce them into one?

IMHO, the error message of  `ERR_VALUE_OUT_OF_RANGE` is more detailed instead of a simple string(`'The

[2017-12-11 07:39] targos commented on #17602
+1

[2017-12-11 07:50] fhinkel commented on #17602
+1

[2017-12-11 08:07] Leko commented on #17051
@mcollina It seems to covered in latest coverage report.
https://coverage.nodejs.org/coverage-06e1b0386196f8f8/root/_http_server.js.html

But I cannot find test case about socketOnDrain.
This function is  covered indirectly by another function tests.

[code]

Should we write a test according to socketOnDrain ?

[2017-12-11 08:16] mcollina commented on #17051
our test suite does not check when `needPause` becomes false. We should test all the combinations for the various conditionals in  `socketOnDrain`.

[2017-12-11 08:19] Leko commented on #17051
@mcollina Thank you for the detailed explanation.
I got it. I'll try to write test.

[2017-12-11 08:21] yhwang commented on #14158
Create #17604 to refine the build procedure to:
1. build static lib and shared lib
2. use static lib to build executable by default
3. use shared lib to build executable when `--shared` is used.

Then the current CI will verify the static lib since the executable uses the static lib. One thing left is to create a new CI to verify the `--shared` build. I do see some test cases fail when using the s

[2017-12-11 09:11] janwerkhoven commented on #13018
@chrmod
How did you resolve this?
I'm having this issue as well.

[2017-12-11 09:18] benjamingr commented on #17602
@starkwang looks very solid +1

@mmarchini looks a little new (been contributing to Node for 2 weeks) but very welcome - maybe wait until https://github.com/nodejs/node/pull/14901 lands?

----

@mithunsasidharan has also been doing a lot of work recently (although I have the same 'still pretty new' reservation) - and we should consider them too.

Also worth discussing:

 - @davidben https://github

[2017-12-11 09:37] BridgeAR commented on #17602
I asked @joyeecheung if she thinks it makes sense to nominate @starkwang so I am definitely +1 there (I wanted to prevent any issues like the last time when I nominated someone).

Even though @mmarchini is still quite new I guess he has already shown that he is a determined to help out where he can, so also +1 from me.

[2017-12-11 09:39] bzoz commented on #17586
You can `for %I in (directory name) do echo %~sI` - it will get the path in 8.3 format. I'm not sure if `GetShortPathName` belongs in node core (but I'm not against it).

[2017-12-11 10:05] niftylettuce commented on #17601
@Trott thank you for the quick reply.  I've provided insight and references for the use case below.

I wrote my own log utility (see <https://github.com/ladjs/logger>) and want to support developers that might be using `console.log` in a way that uses placeholder tokens, e.g. `console.log('hello world', { foo: 'bar' }, '%s', 'some text');` or `console.log({ some: 'object' }, 'hello there %o', { he

[2017-12-11 10:29] aduh95 commented on #9496
What about using **[Snapcraft](https://snapcraft.io/)** (available on all major Linux systems, installed by default on Ubuntu since 16.04)?

It would let the node team free to update its dependencies and the package will be available to users without needing to add a repo to their package manager.

[2017-12-11 10:32] TylerYang opened #17605 "allow wildcard match in util.debuglog()"
* **Version**: all
* **Platform**:  all
* **Subsystem**: util

Refs: https://github.com/nodejs/node/issues/13728

Currently, `util.debuglog()` doesn't support wildcard. It will be more dev friendly if it could.
Consider the structure below,
[code]
we might have different files in the same module, and we really don't want to output those logs at the same time.

So a possible solution could be, we d

[2017-12-11 12:43] pjmolina commented on #2842
Hi @arturgvieira I need to find the time to repeat it again on Bluemix and will back here to share the results.

[2017-12-11 13:00] eduardbcom commented on #16989
according to documentation **util.promisify**

`createWriteStream` does not correspond to this specification, and honestly speaking I don't see any reason to use `util.promisify` on this function.

[2017-12-11 13:25] cjihrig commented on #17602
+1 to both.

I'd also like to nominate @vdeturckheim for their work on migrating domains to async hooks, and ongoing efforts in the Node security working group.

**Comments**: https://github.com/nodejs/node/search?utf8=%E2%9C%93&q=commenter%3Avdeturckheim&type=Issues
**Commits**: https://github.com/nodejs/node/commits?author=vdeturckheim

[2017-12-11 13:36] targos commented on #17605
Thanks for opening this issue! This is something I always wanted to have :)
I opened https://github.com/nodejs/node/pull/17607 to propose an implementation.

[2017-12-11 13:44] TylerYang commented on #17605
@targos  Oh thx, I just finish my implementation also. Should I propose mine or?

[2017-12-11 13:47] targos commented on #17605
Oh sure, go ahead and open a PR with yours :wink:

[2017-12-11 13:48] TylerYang commented on #17605
@targos  thx : )

[2017-12-11 13:52] sholladay commented on #16712
I'm not necessarily asking for Node itself to directly use the WHATWG URL parser. That is an implementation detail that may or may not be appropriate (though it seems attractive, if it can be made to work).

Personally, I just want one of the following to correctly listen on `localhost` port `3000` without reporting an error.

[code]
[code]

[2017-12-11 14:01] rabbitmeow opened #17608 "Why not provide a function of secureRandom?"
Node.js only provides strong pseudo-random data.
Why not provide a real random data?

[2017-12-11 14:13] chrmod commented on #13018
@janwerkhoven I did not. It appeared to be some sort of memory leak (maybe related to suspending the system), which never hit me again. But if you're getting this please consider allowing node to get more memory https://github.com/nodejs/node/issues/13018#issuecomment-301270172

[2017-12-11 14:44] mcollina commented on #17602
+1 as well.

[2017-12-11 15:37] SimenB commented on #17040
@MayasHaddad Our issue in jest was too old react-native, can you try upgrading to a later release?

[2017-12-11 15:38] Laro88 opened #17611 "require(" issue in Win 10 combined with Node LTS 8.9.0 & 8.9.3"
I have had the "interesting" experience instantiating a module twice using require as usual.

In almost all files in the project i had
`var dbioSec = require("../dbiosec.js")` however in one file i mistyped and wrote
`var dbioSec = require("../dbioSec.js")`

This results in a second initialization (console.trace in module global init results in double stacktrace and partial functionality in the ap

[2017-12-11 15:38] addaleax commented on #17602
Yes, I’m +1 to all 5 (@starkwang, @mmarchini, @davidben, @leko & @vdeturckheim).

Also happy to take up a few of the onboarding sessions, haven’t done that in a while. :)

[2017-12-11 16:00] bzoz commented on #17586
I see the patch already landed in `jsvu`. I'm closing this. Feel free to reopen this issue, or create another one for `GetShortPathName` to be implemented.

[2017-12-11 16:00] #17586 closed

[2017-12-11 16:08] silverwind commented on #17586
I think we should at least consider a fix. Requiring every user of `homedir` to apply a workaround surely can't be optimal.

[2017-12-11 16:14] Fuzzyma commented on #8433
@srl295 This is still broken. The options `minimumFractionDigits` and `maximumFractionDigits` are not working correctly.

Consider the numer `1234.00001` and `1234.123456`:

[code]

[2017-12-11 16:15] bzoz commented on #17586
I'm not sure what else can be done here. We cannot change `os.homedir()` to return short path name, and it looks like the issue in `jsvu` is already fixed. We can discuss adding some sort of `fs.getShortPath` but I think this should be done in another issue.

[2017-12-11 16:18] silverwind commented on #17586
Maybe add a note to the docs that users who use non-ascii paths should use Powershell?

[2017-12-11 16:22] mathiasbynens commented on #17586
The fix in jsvu is a workaround, at best. I agree with @silverwind that it would still be nice to fix the underlying issue at the Node.js level, e.g. by exposing something like `GetShortPathName` as @refack suggested.

[2017-12-11 16:23] bzoz commented on #17586
I'm not sure where such note. should be added. Anyhow, PRs are always welcomed. If you feel that such note should be added, feel free to add one yourself.

[2017-12-11 16:40] cnobile2012 opened #17612 "Compiling into a Python virtual environment and the node_modules path is wrong."
I'm installing the latest version 9.2.1 as of this writing. though this issue exists at least back to version 8.9.3. After doing the install and running `module` at the node prompt I see that the path to `node_modules` is wrong. It's missing `_modules` after `/home/cnobile/.virtualenvs/realm/lib/node`. I altered the actual username.
[code]

* **Version**: 9.2.1
* **Platform**: `Linux eggwarmer 4.1

[2017-12-11 17:28] bzoz commented on #17493
@mika-fischer I can't reproduce this. I'm trying this with Node 8.9.2 (but also with 8.6.0 and latest nightly) on 64-bit Win 10 Pro and it works. Are you maybe redirecting the script output somewhere or using some other terminal (like ConEmu)?

[2017-12-11 17:38] bnoordhuis commented on #17586
FWIW, I don't think this is for node to fix.  You'd have the same issue in e.g. python where you don't have access to `GetShortPathName()` either (except through ctypes.)

[2017-12-11 17:47] bnoordhuis commented on #17612
How are you installing it?  Where does the binary come from?

[2017-12-11 17:56] bnoordhuis commented on #17611
Thanks for the bug report but that's the documented behavior and it's always been thus.  From https://github.com/nodejs/node/blob/v9.2.1/doc/api/modules.md#module-caching-caveats:

I'm closing this out as a duplicate of #5143, #11889 #14019, #14084, #16731 and quite probably others.  See the discussion in those issues if you're interested why we can't / won't change that.

[2017-12-11 17:56] #17611 closed

[2017-12-11 18:01] bnoordhuis commented on #17608
Define 'real random data'?

[2017-12-11 18:06] Laro88 commented on #17611
@bnoordhuis Is there room for a warning in node.js?
pseudo code
`if(isWindows && cache.hasOwnPorperty(modulename.toLower) then
   console.warn ("A U sure you wish to play the casing game on windows?"`

[2017-12-11 18:06] Fishrock123 commented on #17036
This seems like still a reasonable feature request to me.

Huh? Are you sure can't make the API overcome that?

I don't think it needs to have the same API as `os.arch()`...

We could have it such like either of these:

This, where it is a checking function:
[code]
Or this, where the first array value is the preferred one:
[code]

That seems like ti would work to me, unless there for some reason i

[2017-12-11 18:14] bnoordhuis commented on #17036
Try it and see how far you get.  I suspect this is one of those things that seem simple at the outset but aren't.

Just one example: what should it print for a 64 bits kernel with a 32 bits emulation layer but without a 32 bits userland?  How would you even go about figuring out if either condition is true?

[2017-12-11 18:14] cnobile2012 commented on #17612
`/home/{username}/.virtualenvs/realm/bin/node` is the binary and it is found with no problem. The issue is when I use `require` nothing is found. For example, if I run the test below.
[code]
I get this result.
[code]
If I set `NODE_PATH` to `node_modules/` in the VE it works correctly. However, I consider this a workaround for the fact that when installing node it sets the path ending with `node/`

[2017-12-11 18:35] Fishrock123 commented on #17603
cc @jasnell

[2017-12-11 18:49] mmarchini commented on #17602
It would be an honor to join the team of collaborators! Thank you @joyeecheung for the nomination!

[2017-12-11 18:49] richardlau commented on #17612
This is working as documented -- Note that `lib/node` is a legacy global path: https://nodejs.org/dist/latest-v9.x/docs/api/modules.html#modules_loading_from_the_global_folders.

By design Node.js does not look in `$PREFIX/lib/node_modules` by default when searching for required modules.

[2017-12-11 18:52] BridgeAR commented on #17603
I am a fan of combining such similar error types. So +1 from me. I would say, just go ahead and open a PR.

[2017-12-11 19:00] tniessen commented on #17036
@Fishrock123 I gave this a try a couple of weeks ago and it is easy to implement on certain platforms (e.g. Windows), but I failed to find a simple way on Linux platforms. I didn't expect it to be difficult either, e.g. Android has a very nice API for this ([`SUPPORTED_ABIS`](https://developer.android.com/reference/android/os/Build.html#SUPPORTED_ABIS)). You can start by looking at what `uname` an

[2017-12-11 19:04] cnobile2012 commented on #17612
I've been building packages for over 30 years. I have never seen a package that doesn't know where its own resources are. I consider this bad design if this is the way it's documented. The docs say that with the new way node finds packages it lessons the need for the environment variable `NODE_PATH`, but from what I see it means that everybody will need to use `NODE_PATH` just to find node's resou

[2017-12-11 20:19] bnoordhuis commented on #17612
I'm going to close this out because it's working as expected (as has been explained) and it's not something we'll change lightly.

[2017-12-11 20:19] #17612 closed

[2017-12-11 20:23] benjamingr commented on #17608
@rabbitmeow I'll try to answer this less cleverly.

In order to generate real random data you need a real random data source. There are node modules that actually do that for you [true-random](https://www.npmjs.com/package/true-random) for example. You can also use [random.org](https://www.random.org/) for real random numbers.

In practice for the vast majority of Node.js applications - using pseu

[2017-12-11 20:24] benjamingr commented on #17603
+1 for me as well,  semver-major though.

[2017-12-11 20:56] benblank opened #17618 "The behavior of Buffer#compare doesn't match its documentation"
* **Version**: v6.12.2 (linux), v8.9.3 (linux, windows), v9.2.1 (linux)
* **Platform (linux)**: Linux ubuntu 4.13.0-16-generic #19-Ubuntu SMP Wed Oct 11 18:35:14 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Platform (windows)**: Windows 10 Home 64-bit (version 1703 build 15063.726)
* **Subsystem**: buffer

In [the documentation for Buffer#compare](https://nodejs.org/api/buffer.html#buffer_buf_compa

[2017-12-11 20:57] bzoz commented on #17450
I did some more investigation. It seems that `nosnapshot` is causing the problem - without that option Node.js starts up rather fast.

[2017-12-11 21:04] tniessen opened #17619 "Outdated link in test-crypto-authenticated"
This reference in `test-crypto-authenticated.js` is outdated:

https://github.com/nodejs/node/blob/2d2986ae72f2f5c63d95a94f05fa996d9f0609f1/test/parallel/test-crypto-authenticated.js#L72-L73

It seems like the document is "The Galois/Counter Mode of Operation (GCM)" by David A. McGrew and John Viega from 2005 as found [here](https://pdfs.semanticscholar.org/114a/4222c53f1a6879f1a77f1bae2fc0f8f5534

[2017-12-11 21:07] bnoordhuis commented on #17450
I suppose that's no surprise.  Snapshot-less mode is slow by itself (something like 5-10x slower than a baked-in snapshot) and then there's  the huge number of sanity checks that debug builds do.

Can I suggest closing this as working-as-intended?  This is unlikely to change.

[2017-12-11 21:12] BridgeAR commented on #17618
As far as I see it the "ignored" part is just interpreted differently. By setting the value to undefined, it is normal that it will fall back to the default value and not have any further impact on other arguments. So the behavior is correct as far as I see it. The wording might be improved though.

[2017-12-11 21:19] Fishrock123 commented on #17036
Heh. My knowledge doesn't extend that far but is it actually impossible to tell from that if it can/can't run a 64 or 32 bit binary? If we can't tell which order it should be in for preference we could just hardcode it to return in some order, so long as that ordering would normally work.

[2017-12-11 21:54] bnoordhuis commented on #17036
Well, that's what I mean with it gets complicated fast.  The absence of a 32 bits userland doesn't mean 32 bits binaries won't work.  Anything that is fully statically linked will run just fine; everything else won't.

@tniessen Here is how to do it on Linux:
[code]
Unfortunately, there is no way to change the personality in a thread-safe manner so it would need to happen at early start-up.

[2017-12-11 22:03] Trott commented on #17423
@vic511 Thanks for reporting the bug. As you probably saw, it's now fixed in the latest release.

[2017-12-11 22:21] apapirovski commented on #17602
+1 to @starkwang, @mmarchini, @davidben & @vdeturckheim.

Also, just a thought but collaborator nominations are something that could belong in the new discussion area until they're agreed upon.

[2017-12-11 22:38] devsnek commented on #17602
@apapirovski if you're referring to github team discussions, is there any reason for those discussions to be non-public?

[2017-12-11 22:39] apapirovski commented on #17602
@devsnek because if someone ends up getting publicly rejected or not considered then it'll really suck. It's just a more sensitive way to go about it and also allows an actual discussion to happen.

[2017-12-11 22:42] tniessen commented on #17036
@bnoordhuis As far as I can tell, that should be sufficient to check whether a Linux system can execute 32 bit code. I don't think we can derive any other information about the "OS architecture" / supported ABIs from this.

[2017-12-11 22:42] Trott commented on #17602
@apapirovski @devsnek FWIW, Collaborator nominations need to be approved by the TSC anyway, and I'm usually the one who handles that (although there's no reason others on the TSC can't--it just usually ends up being me).  I usually consult with the TSC privately to see if anyone has concerns/objections. Not saying this is the ideal process or anything. Just publicly documenting what typically happ

[2017-12-11 22:44] apapirovski commented on #17602
Oh, I know. But that's even more of a reason to have a private discussion first. Just because someone Contributes doesn't mean they want to be a Collaborator and have their work publicly evaluated for "worthiness".

[2017-12-11 22:45] Trott commented on #17602
Assigning myself because I usually do the onboardings for new Collaborators but if anyone on the TSC is especially interested in onboarding any folks who the TSC approve, don't let me stop you. Add yourself as an assignee if you want.

[2017-12-11 23:06] Trott commented on #17601
One argument for including in core is that we [add placeholders from time to time](https://github.com/nodejs/node/commit/a46c43d21a6c9980c5c1cdafc21be7c96dec1ad5) (and could remove some too) so a userland package could be provide the correct values for one version of Node.js 6.0.0 but wrong values for another version.

It seems like this should be achievable with little or no performance overhead.

[2017-12-11 23:27] janwerkhoven commented on #13018
I've upgrade Node to `v8.9.3 LTS` and that resolved this issue for me 👍

[2017-12-12 00:07] Jedeu commented on #17618
Hey I'd like to try and tackle this one please! Will look into it after work

[2017-12-12 00:16] #16852 closed

[2017-12-12 00:50] cjihrig commented on #17601
format specifiers

[2017-12-12 00:51] niftylettuce commented on #17601
way too complicated, just do `util.format.placeholders` or `tokens`, something that's one word and simple.  we call them placeholder tokens in the docs so might as well use the same name

[2017-12-12 01:12] Trott commented on #17601
`util.format.specifiers`?  :-D

[2017-12-12 01:25] niftylettuce commented on #17601
[![](https://api.gh-polls.com/poll/01C1456H8HBCMZC2011XMJC08V/util.format.specifiers)](https://api.gh-polls.com/poll/01C1456H8HBCMZC2011XMJC08V/util.format.specifiers/vote)
[![](https://api.gh-polls.com/poll/01C1456H8HBCMZC2011XMJC08V/util.format.tokens)](https://api.gh-polls.com/poll/01C1456H8HBCMZC2011XMJC08V/util.format.tokens/vote)
[![](https://api.gh-polls.com/poll/01C1456H8HBCMZC2011XMJC08V/

[2017-12-12 01:48] jkrems commented on #16098
Are other userland queueing packages affected by [the same issue that bluebird is running into](https://github.com/petkaantonov/bluebird/pull/1472) (no way to `destroy` since the lifetime is determined by GC)?

[2017-12-12 02:47] Trott commented on #17589
Proposed fix in https://github.com/nodejs/node/pull/17598

[2017-12-12 03:53] joyeecheung commented on #17602
@Trott

Do we have a document for this process? This is something that worth writing down.

[2017-12-12 03:55] joyeecheung commented on #17602
@Trott

I can help out onboarding folks, I think it'd be helpful to indicate our usual timezones somewhere so it's easier to arrange things. I am in UTC+8 (China Standard Time) by the way.

[2017-12-12 04:02] Trott commented on #17602
@joyeecheung The closest thing we have (that I'm aware of) to documentation for this is https://github.com/nodejs/node/blob/master/GOVERNANCE.md#collaborators. If we wanted to get more specific, that's probably the place to do it.

[2017-12-12 04:45] gireeshpunathil commented on #17036
from the requirement:

It appears to me that knowing the `prominent` or `original` capability of the host OS is sufficient to select a binary,  not necessarily `all` the supported / emulated combinations / capabilities of the host.

@sindresorhus - can you clarify this? Is the feature supposed to:
* Retrieve an array of tokens, wherein each token represents a supported architecture
or
* Retrieve t

[2017-12-12 05:16] rabbitmeow commented on #17608
Thank-you every much. 😁

[2017-12-12 05:16] #17608 closed

[2017-12-12 05:26] jpike88 commented on #17280
this seems rather important... is there an ETA on this?

[2017-12-12 05:36] devsnek commented on #17280
it appears to be being handled with #17360 and #17340

[2017-12-12 06:44] ohimark opened #17629 "doc - fs.open does not have an explanation for File Descriptor"
Hello,

There should be an explanation for the File Descriptor _fd_ in this section:
https://nodejs.org/api/fs.html#fs_fs_open_path_flags_mode_callback

_fd_ should have an explanation:
`fd: File descriptor. It is a handle/reference to an opened file, used by the read/write methods.`

Thank you

[2017-12-12 07:13] tniessen commented on #17036
@gireeshpunathil, isn't `utsname.machine` a hardware property? I always assumed it does not necessarly represent the kernel architecture, e.g. when installing a "32 bit os" on a 64 bit machine.

[2017-12-12 07:53] mika-fischer commented on #17493
I've tried it in plain cmd, cmder, VS2015 x64 Native Command Prompt and cmd inside VSCode. And of course it's best to run it in the debugger. In all those cases it always crashes for me.

So if you run it in the debugger with `devenv /debugexe apps\node\Debug\node.exe tests\nodejs-process-pipe\bug.js` it just continues running?

[2017-12-12 08:00] gireeshpunathil commented on #17036
@tniessen - yes, it is the h/w property. But when we are talking about selecting the right binary / image, aren't we aiming to match the h/w architecture, as opposed to that of the driving kernel?

For example, gcc's codegen flag spec says:
`
-m32
-m64
           Generate code for a 32-bit or 64-bit environment.  The 32-bit environment sets int,
           long and pointer to 32 bits and generates

[2017-12-12 08:09] MCE-KobyBo commented on #17450
Thanks, I didn't know the snapshot mode had such an impact on the start up time.
To me it still seems excessive though that creating a v8::Isolate in debug build with snapshots off takes 3-4 minutes on an i7 core.
I guess it's not a priority if it only happens when snapshots turned off, so if you prefer I'll close it.

[2017-12-12 08:14] gireeshpunathil commented on #17036
We are using the [same technique](https://github.com/nodejs/node/blob/master/Makefile#L658-L664) to build and run node on a given UNIX host:

[code]

[2017-12-12 09:05] MylesBorins commented on #17254
/cc @nodejs/v8

[2017-12-12 09:41] bnoordhuis commented on #17036
That's just an educated guess.  On Linux, `uname -m` reflects the active personality.  With `setarch i686 make`, it detects x86.

If the platform ABI is important too, then I don't know of a reliable way to detect that.

[2017-12-12 10:01] benjamingr commented on #17601
Honestly this doesn't look like it's too hard to keep track of in userland - and it's one more thing we have to maintain.

I'm +0 on this leaning to -1 but no strong feelings.

[2017-12-12 11:21] bnoordhuis commented on #17629
Do we explain what a file system is next?  The audience is programmers.  Knowledge of basic concepts is assumed.

I checked python's documentation.  It mentions file descriptors but doesn't define them either.

[2017-12-12 11:35] bnoordhuis commented on #17611
There is not, I'm afraid.  Case sensitivity is a property of the file system, not the operating system.  Determining whether a file path is treated case-sensitive or not is a Hard Problem.

[2017-12-12 11:57] ohimark commented on #17629
Let's try to calm down _and get down to Earth_ for a second.
The audience of programming languages is everyone. There is no place in which it is written that you need to be part of a certain group, or have prior knowledge of every single aspect of Operating Systems, in order to use a certain programming language.

Remember that we are talking about **documentation** here. Nothing is assumed, other

[2017-12-12 12:11] targos opened #17633 "make test triggers "node quit unexpectedly" on Fedora 27"
* **Version**: master
* **Platform**: Linux 4.14.3-300.fc27.x86_64 #1 SMP Mon Dec 4 17:18:27 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: test

Last week I formatted my main SSD and did a fresh installation of Fedora 27. Now, when I run `make test`, there are always three crashes reported by the system as "node quit unexpectedly". This did not happen with my old installation.
It seems

[2017-12-12 12:33] jacob87o2 commented on #9185
I use node on VM (vagrant) and PhpStorm as IDE. Currently I cannot connect to that "safer" url at all.

![stupid_security_ideas](https://user-images.githubusercontent.com/1279430/33884614-a7846b28-df40-11e7-89fb-ba12a0452a96.png)

And it makes me sad.

[2017-12-12 13:38] bnoordhuis commented on #9185
@jacob87o2 Seeing that it defaults to port 5858, I expect connecting with your IDE won't work anyway -  that's the port number of the old debugger, the one that's been removed.

[2017-12-12 13:42] cjihrig commented on #17629
I understand your request. The problem with documenting things that aren't specific to Node is that there is no good stopping point. A quick Google search for "file descriptor" turns up a lot of useful results.

[2017-12-12 13:49] ohimark commented on #17629
Hello. That's great advice and all, but what is a **fd** ?

[2017-12-12 13:49] bnoordhuis commented on #17629
Plenty is assumed - floating-point numbers and JSON aren't explained either.  If a concept is not specific to node.js, it probably has no place in the docs.

[2017-12-12 13:55] vsemozhetbyt commented on #17629
May it be that @ohimark means not that "file descriptor" needs an explanation but that "fd" abbreviation does? It is pretty common, but this can seem a bit bare:

![1](https://user-images.githubusercontent.com/10393198/33888160-e6a20ef0-df54-11e7-8a86-a301a381d669.png)

[2017-12-12 13:57] bnoordhuis commented on #17633
That's abrt, the Automatic Bug Reporting Tool - clever name, right?

You can blacklist paths in `/etc/abrt/abrt-action-save-package-data.conf`, just add the path to your checkout.

[2017-12-12 13:57] ohimark commented on #17629
It seems that there might be differences in our perceptions of good documentation.

In my view, good documentation and implicitly good teachers, do not tell you to go search for the answer somewhere else. They also explain ambiguous two-letter words. They also do not assume anything, so that you don't have to go somewhere else to look for answer. At the very least they provide a link to a source w

[2017-12-12 14:02] cjihrig commented on #17629
Defining that `fd` is a file descriptor seems fine.

[2017-12-12 14:03] bnoordhuis commented on #17629
I have no problem with spelling out fd, pull requests welcome, but this...

...conflates reference documentation with introductory texts.  Both have their place but the docs in this repo are of the first kind, not the second.

[2017-12-12 14:05] ohimark commented on #17629
@bnoordhuis This is my opinion and i respect your choice to disagree !

[2017-12-12 14:11] evanlucas commented on #17629
@ohimark would you be interested in submitting a pull request to include a description of `fd` (both here and elsewhere in the documentation)? Improving the documentation is something I think we should always try to do.

[2017-12-12 14:16] jacob87o2 commented on #9185
@bnoordhuis That wasn't the case, I've set the port by `--inspect=5858`. Also tried the default ports and it didn't help.

However, it turned out that there was newer version of PhpStorm (2017.3), that I had yet to update... and after update **it works!*.

So, yeah - thanks for the suggestion, but JetBrains actually solved the problem for me. Not sure about other people though. Without similar sol

[2017-12-12 15:01] mhdawson commented on #17602
+1 from me as well.

[2017-12-12 15:34] mhdawson commented on #17444
I'm +1 as my assumption is today we just get a semi-random set (those used within Node.js) which does not make sense given we include the full headers.

[2017-12-12 15:36] mcollina commented on #17601
I'm +1. If we can keep these in sync easily, then we should definitely do it. If we have to duplicate code, then its better we do it here anyway.

[2017-12-12 15:37] mhdawson commented on #17367
@addaleax thanks for the clarifications/suggestions.  @sclairet can this be closed ?

[2017-12-12 15:41] ohimark commented on #17629
Yes, i'm currently working on it.

[2017-12-12 15:52] mhdawson commented on #15604
Sorry looks like I had the wrong branch in the post above.  Looking for the right one now.

[2017-12-12 15:53] #17448 closed

[2017-12-12 15:57] mhdawson commented on #15604
I think I had the write branch may just not have add changes.  Will recreate.

[2017-12-12 16:55] sclairet commented on #17367
@mhdawson yes, this issue can be closed. regards

[2017-12-12 17:26] pjmolina commented on #2842
Hi, @arturgvieira et al.
I just re-deployed the [minimal repro-test](https://github.com/pjmolina/h304) and these are the results:

| Environment | Platform | NodeJS vesion | Test | Url |
| -- | --| --: | :--: | -- |
| A0 | Heroku | 6.11.1 | OK | [http://h304.herokuapp.com](http://h304.herokuapp.com/)
| B1 | Bluemix | 6.12 | Fail | [http://h304.mybluemix.net](http://h304.mybluemix.net)
| B2 | Bluem

[2017-12-12 17:26] #17367 closed

[2017-12-12 17:58] addaleax commented on #17444
Btw, I opened this as an issue because I really don’t know enough about GYP to have this figured out myself at this point. I’m convinced it should happen, though.

The obvious approach could be copying what we do for openssl, but that seems like it’s done in a kind of hacky way to begin with.

[2017-12-12 18:18] #17450 closed

[2017-12-12 19:00] #17569 closed

[2017-12-12 19:03] #16778 closed

[2017-12-12 19:07] isiahmeadows opened #17634 "Handle circular references resulting from custom `inspect` methods"
* **Version**: v8.9.1, v9.2.1
* **Platform**: macOS
* **Subsystem**: util

Circular references arising from `inspect` calls are *not* properly handled. Repro instructions:

1. Create this file:

[code]

2. Execute it.

**Expected:**

The following in stdout:

[code]

**Actual:**

The following in stderr:

- v8.9.1

[code]

- v9.2.1

[code]

-----

As a side note, I'm not too terribly fond of eithe

[2017-12-12 19:42] apapirovski commented on #3307
@maclover7 do you know if this issue can be closed? I believe your `builtinModules` PR addressed this?

[2017-12-12 20:00] apapirovski commented on #2842
@pjmolina can you reproduce this with plain Node.js code rather than Express? Express monkey patches lots of code so it wouldn't surprise me if it could still be broken there while working in Node.js.

Unless I'm severely misunderstanding the issue, the following code in Node.js should make sure that we don't allow `Trailer` without `transfer-encoding: chunked`: https://github.com/arturgvieira/nod

[2017-12-12 20:09] pjmolina commented on #2842
I see your point @apapirovski
Agreed to remove Express and try it again.
Do you have a minimal working sample I can use to test it on Bluemix?

[2017-12-12 20:17] dougwilson commented on #2842
Express doesn't monkey patch anything -- it only adds new methods. Not sure what you are referring to, exactly. Can you point to where this monkey patching is?

[2017-12-12 20:23] bzoz commented on #17493
I did not test this correctly, it does indeed crash.

I've tested, this reproduces back to v6 (on v4 there is a `TypeError` when spawning `child2`).

I've made slightly modified version of your code which still reproduces:

[code]

The `consumer` will receive data from the `producer` so that part works. But then, it will crash at random point, between 600 and 900 bytes written.

If you change `wri

[2017-12-12 20:24] arturgvieira commented on #2842
I wrote a [test](https://github.com/nodejs/node/commit/80c9ef0b6be57d42632526818a3b0c3f20f225a1#diff-050361d4ef896f1bfa03d20be393d2e9)when I first developed the PR for this Issue. The test itself should be a good starting point for a all NodeJS solution.

[2017-12-12 20:25] apapirovski commented on #2842
@dougwilson Sorry, I should've been clearer. There are middleware that are included within express itself (or at least referenced within the test suite, at the very least) that will, for example, monkey patch `writeHead` to set default headers. I haven't looked through the entirety of the source code but that's the example I had in mind because I specifically ran into it while working on http2 com

[2017-12-12 20:28] dougwilson commented on #2842
On that note, were you ever going to provide the code you used for testing at some point :) ?

[2017-12-12 20:29] apapirovski commented on #2842
@dougwilson do you want me to just make a git repo with my copy of `express` & `node_modules`? 😆I mean, I can do that... it'll be a mess to work with but I suppose it might be better than nothing.

I've been trying to carve out some time to get PRs for the actual packages (supertest, superagent, etc.)( used but it's a bit more work than just temporarily monkey-patching them.

[2017-12-12 20:32] apapirovski commented on #2842
@pjmolina Are you sure you tested with Node v9? I'm getting the expected error: `Error [ERR_HTTP_TRAILER_INVALID]: Trailers are invalid with this transfer encoding`.

[2017-12-12 20:39] maclover7 commented on #3307
I believe so, closing

[2017-12-12 20:39] #3307 closed

[2017-12-12 21:21] erulabs opened #17636 "Object.getOwnPropertyDescriptor throws TypeError on process _handle"
* **Version**: v8.9.2, v8.9.3 and v9.3.0 (at least, suspect its all versions `>=8.9.2`)
* **Platform**: All (tested OSX, Linux)
* **Subsystem**: N/A

Hello!

  Related to https://github.com/nodejs/node/issues/16949 and https://github.com/nodejs/node/pull/16860 - it appears that since Node 8 there have been some issues with `Object.getOwnPropertyDescriptor`.

  The simplest test case is
[code]

Exp

[2017-12-12 21:52] vsemozhetbyt opened #17637 "doc: autogenerated links with 404 status"
There are some links in the docs that get 404 recently:

http://man7.org/linux/man-pages/man1/curl.1.html in [repl.html](https://nodejs.org/download/nightly/v10.0.0-nightly201712127a055f1d39/docs/api/repl.html) (1 link).
http://man7.org/linux/man-pages/man3/uname.3.html in [os.html](https://nodejs.org/download/nightly/v10.0.0-nightly201712127a055f1d39/docs/api/os.html) (3 links).

They are wrongly

[2017-12-12 22:10] DiegoRBaquero commented on #17637
Manually linked links shouldn't be matched.

On the other hand...

uname should be pointed to http://man7.org/linux/man-pages/man1/uname.1.html, shouldn't it?

And curl's manpage is fixed to one section, always updated. Maybe remove the section?

[2017-12-12 22:16] vsemozhetbyt commented on #17637
It seems they are matched because of bottom reference format: `[curl(1)][]` is matched now after space is replaced by `\b`.

I am not well aware of UNIX manpages system, those manual URLs were adviced by other collaborators, so I only have alerted the issue here, sorry) Feel free to fix in any appropriate way)

[2017-12-12 22:21] vsemozhetbyt commented on #17637
Maybe we should just change `\b` to `[^\B\[]` to exclude this link format from autoconversion? I am not sure there will be no new side effects though.

[2017-12-12 23:00] TimothyGu commented on #17636
You are seeing an interplay of a lot of different edge cases, in the ECMAScript spec, in the APIs V8 provides, and in how we use V8's APIs. In the end, I don't believe this is a "bug" *per se,* but there might be some ways we can improve this (admittedly surprising for ordinary users) behavior. I will first explain why this behavior is allowed by the ECMAScript spec, and then demonstrate two ways

[2017-12-12 23:33] System-Arch commented on #15793
I would like to advocate for re-opening this issue.   At present the behavior on Linux differs from that on Windows and Mac in an unexpected manner.  While all three platforms preserve file mode metadata, only Windows and Mac preserve the modification time.  This discrepancy could be rectified by having node/deps/uv/src/unix/fs.c:uv__fs_copyfile() call futimes() similar to the way it calls fchmod(

[2017-12-13 01:13] mhdawson commented on #15604
So new branch is here: https://github.com/mhdawson/io.js/tree/callback_scope (top commit).  Working towards a PR as @addaleax suggested it would be good to expose this.  @rolftimmermans would still like your input as to whether is addresses your use case.

It has tests which are the ported versions from the non-N-API addon tests, but test-async-hooks.js is failing for some reason.  The correct asy

[2017-12-13 02:55] zcbenz commented on #17254
Basically we create a new thread to watch events of the backend fd of the uv loop, when there is a new event, we would notify the main thread and call `uv_run_once` in the main thread.

A simplified version of node integration can be found at https://github.com/yue/yode/blob/master/src/node_integration.cc.

[2017-12-13 03:02] erulabs commented on #17636
This makes sense to me and thank you for the thoughtful reply and ECMAScript primer as well! Certainly the change was surprising - seeing `undefined` move to a SegFault and into a thrown error over a handful of revisions made me suspect something unintentional was happening in Node.

My naive assumption was that `Object.getOwnPropertyDescriptor` should work on all Objects, and being JS, that shoul

[2017-12-13 03:38] jasnell commented on #17629
@ohimark ... Definitely +1 on improving the docs.

[2017-12-13 04:50] zvxayr opened #17641 "Make http.request work offline"
Node Version: `v8.9.3`
Platform: `Windows 8 64-bit`

I am trying to make a client communicate to a server on the same device offline through http but only get this error instead:
[code]

I ran the client code online and it works so I suspect that `http.request` does not work without internet connectivity.

[2017-12-13 05:02] Trott commented on #17641
That is incorrect.

Without more information, it is difficult or impossible to say what is going wrong. However, judging from your error message, I'd guess that you are setting the hostname to `localhost:8000` rather than `localhost`.

[2017-12-13 05:09] Trott commented on #17641
(By the way, if you think it might be helpful to have others look at your code, feel free to post your code and a question as an issue in the https://github.com/nodejs/help.)

[2017-12-13 05:16] #17589 closed

[2017-12-13 05:19] addaleax commented on #17641
It kind of feels like *something* (dns?) should throw a more helpful error in this case?

[2017-12-13 05:31] Trott commented on #17641
Perhaps. What might the more helpful error look like? It does seem that `ENOENT` isn't the right error and I'd expect something more like `EAI_NONAME` or Node.js's non-standard `ENOTFOUND`.

I guess it would help to know the code that is causing the error so we can be sure of what the problem is to make sure the error message provides correct clues as to the underlying issue.

[2017-12-13 05:35] addaleax commented on #17641
Mh, the part that I’m not sure about: Can a string like `localhost:8000` *ever* successfully resolve? If not, something in the error message that says “invalid hostname” or so would probably be great?

[2017-12-13 05:45] #17430 closed

[2017-12-13 05:45] #17475 closed

[2017-12-13 06:26] gireeshpunathil commented on #17641
I tried the suspected sequence in windows, but for both:

[code]

and
[code]

I get this sequence

[code]
that is different from what was reported.  So probably root cause is something else?

[2017-12-13 06:35] zvxayr commented on #17641
The code that I ran is:
[code]
and it does result in the error that I stated above when offline but succeeds when I connect to a wifi.

[2017-12-13 06:46] gireeshpunathil commented on #17641
Tried in mac, and got this result, which looks correct. I don't have a windows box where I have rights to unplug net, but will see.

[code]

[2017-12-13 07:07] gireeshpunathil commented on #17641
tried in windows too, but the result is same as mac - it works as expected. Looks like a peculiar characteristics in your system. One of the step worth trying is to isolate (scope-in / scope-out) node from the issue by trying: (i) a browser client vs node server, (ii) browser client vs. non-node server, and their complements.

[2017-12-13 07:40] zvxayr commented on #17641
by the way, I am running a node server that listens on port 8000.

entering `http://localhost:8000` on my browser works fine, both online and not.

[2017-12-13 07:59] TimothyGu commented on #17601
I'm fine with it only if the array is `Object.freeze()`'d.

[2017-12-13 08:01] addaleax commented on #17601
@TimothyGu huh? not objecting, but why?

[2017-12-13 08:04] TimothyGu commented on #17601
@addaleax I don't want people to be able to modify the array in anyway. People who override `util.format` will replace this array which is attached to the formatting function anyway.

[2017-12-13 08:13] TimothyGu commented on #17629
`fs.open*` is an inherently dangerous API because of risks of memory leaks, which can be a very real issue for junior Node.js developers in my offline discussion with @XadillaX a few months ago. My presumption is that not documenting what a file descriptor is would deter people who don't understand the full impact on what it is and does from using it. As a result of that, if we were to document it

[2017-12-13 08:16] gireeshpunathil commented on #17641
thanks. what does
[code]
output, with wifi off?

[2017-12-13 08:25] TimothyGu commented on #17634
See also #15549.

[2017-12-13 08:31] zvxayr commented on #17641
thanks.
The output is: `127.0.0.1`

I tried to reproduce the error on a different device (also windows) with the same node version and the same error is thrown with wifi off

[2017-12-13 08:32] addaleax commented on #17634
This does seem like a bug in the custom `inspect` method though? Or is the unexpected part here that `inspect()` wasn’t meant to be a custom override for `util.inspect()`? (In that case, yeah, see the issue that Timothy linked)

[2017-12-13 08:54] andreineculau opened #17645 "big-bug: Upgrade to npm 5.6"
Both LTS and current version ship with npm 5.5.1 which has a big-bug: it's not able to respect .npmignore when packing. Npm > 5.3.0 <5.6.0 are affected.

See https://github.com/npm/npm/issues/18461

[2017-12-13 09:04] isiahmeadows commented on #17634
No. I expected it to render as `{ parent: [Circular] }` like
`util.inspect(obj)` where `var obj = {}; obj.parent = obj`.

On Wed, Dec 13, 2017, 03:33 Anna Henningsen <notifications@github.com>
wrote:

[2017-12-13 09:08] addaleax commented on #17634
I guess something like this should work

[code]

?

[2017-12-13 09:34] bnoordhuis commented on #17645
See #17535, an upgrade to 5.6.0 is in the works.

[2017-12-13 09:34] #17645 closed

[2017-12-13 09:44] rolftimmermans commented on #15604
This seems to be working fine, thanks! With this change I am able to build the project without including `v8.h` (I think I still need `node.h` for `node::AtExit`, but that's another matter).

The test suite passes. I'll try to see if I manage to break it if I try hard enough, but for now it's looking good.

The C-API wasn't very ergonomic to use, but I imagine that can be solved in the node-addon-

[2017-12-13 09:46] isiahmeadows commented on #17634
Looks like it should. (It's way easier than doing an `if (ctx.seen.includes(value)) return "[Circular]"`, although I *could* do that to mitigate it on my end.)

[2017-12-13 09:46] bnoordhuis commented on #17629
Then doesn't it make more sense to have the `fs.open()` entry steer people to `fs.readFile()`, `fs.createReadStream()`, etc?  That's going to be more effective than explaining what a file descriptor is.  It's already too full of trivia.

Do you mean 'resource leaks'?  Barring bugs in node.js itself it can't leak memory.

[2017-12-13 09:47] gireeshpunathil commented on #17641
thanks for the info. let me investigate further with exact windows and node versions

[2017-12-13 09:47] rolftimmermans commented on #15604
Btw, I've been passing in `NULL` for the second argument to `napi_open_callback_scope`. Not sure if it is explicitly supported but it seems to work.

[2017-12-13 09:48] gireeshpunathil commented on #17641
also ping @nodejs/collaborators for pointers.

[2017-12-13 09:50] bnoordhuis commented on #17601
I don't see the point.  Knowing what placeholders node.js knows about tells you nothing about how it interprets them.  The only reasonable thing to do is call `util.format.apply(util, args)`.

[2017-12-13 09:54] istana commented on #15466
@tsxuehu I happen to face the same problem on my High Sierra. Is there a way to handle this except for slowing down DNS requests?

[2017-12-13 09:59] bnoordhuis commented on #17641
Can someone try this patch and see if it makes a difference?
[code]

[2017-12-13 10:04] mcollina commented on #17601
I disagree. It is useful if you want to escape them.

[2017-12-13 10:14] bnoordhuis commented on #17601
`s.replace(/%/g, '%%')` ?  If that's not sufficient, please elaborate.

[2017-12-13 10:34] bnoordhuis commented on #17636
I deliberately moved them in the reverse direction recently, see #16482.

[2017-12-13 10:37] mcollina commented on #17601
That is not sufficient, as it will also escape `'%'` that are not placeholders.

[2017-12-13 10:48] gireeshpunathil commented on #17641
@bnoordhuis - thanks for this.
I need to see 2 things:
 - a system for building this
 - a recreate where I can test this.

@zvxayr - just checking, in case - are you in a position to build this patch?

[2017-12-13 10:58] bnoordhuis commented on #17601
Why does that matter?  `util.format('%q', 42)` and `util.format('%%q', 42)` both return `'%q 42'`.

[2017-12-13 11:00] gibfahn commented on #17641
@gireeshpunathil just push a branch to your fork that is master + @bnoordhuis 's patch, and then run `node-test-commit` against it.

[2017-12-13 11:08] mcollina commented on #17601
You are right.

[2017-12-13 11:54] gireeshpunathil commented on #17641
@gibfahn - `node-test-commit` job does not provide a `build with parameter` option to me. Insufficient permissions?

[2017-12-13 12:04] gireeshpunathil commented on #17641
https://ci.nodejs.org/job/node-test-commit/14798/console
managed to trigger one, but was a total failure. Can you please help?

[2017-12-13 12:14] bnoordhuis commented on #15793
@System-Arch I'm not sure if that is a change we'd accept it libuv because of the race window between the copy and the timestamp update.

Any way you slice it, there will be a window where another process can manipulate the file and cause the timestamps to be off.  Better to be consistently wrong all the time than flaky wrong some of the time.

However, if you want to pursue this, please open an i

[2017-12-13 13:45] apapirovski commented on #2842
Based on my testing, this has been addressed. Closing.

[2017-12-13 13:45] #2842 closed

[2017-12-13 15:38] jure commented on #17636
The solution proposed in number 2 is indeed the easiest way out of this (and would likely be accepted widely without fuss, given that it was the previous behaviour that no one complained about), and is indeed what @bnoordhuis changed in #16482 (which caused the failed assert and thus fixing it with the throw in https://github.com/nodejs/node/pull/16860).

I agree that accessing a property and havi

[2017-12-13 16:44] bzoz commented on #17641
Parameters needed some tweaking, CI: https://ci.nodejs.org/job/node-test-commit/14804/

[2017-12-13 16:53] bnoordhuis commented on #17636
Would making `_handle` non-enumerable work?  That is a good and simple solution, IMO.

[2017-12-13 16:57] addaleax commented on #17636
That doesn’t sound like it removes the throw on when accessing the property? I don’t think that’s a solution then, `Object.getOwnPropertyDescriptor` really shouldn’t throw errors if we can avoid it.

Fwiw, I’d prefer 1., but would be fine with either of the options listed by @TimothyGu

[2017-12-13 17:11] bnoordhuis commented on #17636
For some reason I thought SetAccessorProperty() didn't exist in v4.x but it's there.  That's a good solution then.

That said, `fd` is for debugging but `_externalStream` and `bytesRead` could just be methods.  There's no reason they need to be accessors, as far as I can tell.

[2017-12-13 17:32] bzoz commented on #17641
With @bnoordhuis patch:
[code]

[2017-12-13 17:41] TimothyGu commented on #17636
This is exactly the kind of potential problems I tried to point out in

Agreed, but the elephant in the room is compatibility.

I'm fine with solution 1.

[2017-12-13 17:46] bzoz commented on #17641
It can be simplified to:
[code]
This is how `lookup` is called in [`lib/net.js:1103`](https://github.com/nodejs/node/blob/04ae4862e670a8849454e6d8db4d8f73d0492190/lib/net.js#L1103). This extra `hints` option breaks this on Windows.

[2017-12-13 17:46] TimothyGu opened #17657 "Change type annotations for eventName in events API doc to {string|symbol}"
* **Version**: master
* **Platform**: all
* **Subsystem**: doc

Offshoot from https://github.com/nodejs/node/pull/17440#discussion_r156585107.

[2017-12-13 18:02] jkrems opened #17658 "Support url *strings* in fs APIs"
* **Version**: 7.6.0+
* **Platform**: all
* **Subsystem**: fs

Right now the FS APIs do support URLs - but only if they are passed as URL objects. This seems to go against the use of URLs in DOM APIs where methods tend to accept strings. E.g. `fetch` only "accepts" URL objects because they happen to stringify to their `.href` property.

Would it be acceptable to extend the current support for file

[2017-12-13 18:02] bzoz commented on #17641
This is basically duplicate of https://github.com/nodejs/node/issues/11320. That issue was closed  because there was an easy userland fix.

IMHO we should remove `dns.ADDRCONFIG` in `hints` on Windows. See simillar issue in chromium https://bugs.chromium.org/p/chromium/issues/detail?id=5234

[2017-12-13 18:10] TimothyGu commented on #17658
I'm fine with it if it's shown that performance of fs APIs given regular path strings does not decrease because of this. Checking for a URL object is much simpler than checking for the first 7 characters, though I agree that having to reparse URLs is a hassle. I also understand that accepting URL objects is [not recommended](https://url.spec.whatwg.org/#url-apis-elsewhere) by the URL Standard in t

[2017-12-13 18:11] addaleax commented on #17658
We discussed this in the original PR a bit (at first, it contained support for that): https://github.com/nodejs/node/pull/10739#issuecomment-277430059

[2017-12-13 18:13] jkrems commented on #17658
It looks like it was backed out of the original PR for security concerns.
Will try to assemble that background once I’m back at a real computer.

On Wed, Dec 13, 2017 at 10:11 AM Timothy Gu <notifications@github.com>
wrote:

[2017-12-13 18:18] jasnell commented on #17658
There are a couple of issues here:

1. Allowing URL strings means we would have to parse *all* string inputs through `new URL()`, which is definite performance hit.
2. It also means that we risk breaking existing cases where file names have a `:` in them

At this point I'm -1 on modifying the existing APIs further to support this case, tho I would not be opposed to alternate methods that support i

[2017-12-13 18:23] gibfahn commented on #15985
I think I'm seeing the same thing on v8.x, on both macOS and Linux.

[code]

I'm also seeing cores dumped even when the test passes, which is odd. Testing with commit ab46b8ebaa13da05513976ec2f33949aef2fae94.

[2017-12-13 19:35] jeffmcmahan opened #17661 "doc global.parseInt is undocumented."
I went to the [globals API docs](https://nodejs.org/dist/latest-v9.x/docs/api/globals.html), hoping to confirm that `10` is always the default radix value for `parseInt()` in nodejs, but the docs do not mention `parseInt()` at all, anywhere. Since the radix default value depends on the engine, oughtn't it be covered in the API docs, instead of leaving it to MDN?

I see that other globals, for inst

[2017-12-13 19:57] bnoordhuis commented on #17661
Date, Math, etc. are standard objects; parseInt() is too.  setTimeout() and setInterval() are not, they're underspecced browser-isms.  Node.js also deviates slightly from browsers, hence why they're documented.

[2017-12-13 20:05] jeffmcmahan commented on #17661
I see, so I can safely assume the specified behavior is implemented (as it isn't in some browsers, according to MDN)?

ES2015 spec

[2017-12-13 20:11] TimothyGu commented on #17661
@jeffmcmahan MDN is describing the situation in 2013. Implementations have changed since then, and all browsers follow the spec behavior now.

[2017-12-13 20:15] jeffmcmahan commented on #17661
Ok, thanks.

[2017-12-13 20:15] #17661 closed

[2017-12-13 20:47] aprilwebster commented on #17657
Mind if I take this one?

[2017-12-13 21:05] TimothyGu commented on #17657
@aprilwebster Go ahead!

[2017-12-13 21:06] jkrems commented on #17658
Interesting. I agree that continuously overloading the meaning of the existing APIs isn't great. Originally I had something like "only if the string starts exactly with 'file://'" which might address the performance or existing filename concerns. Still, leaves the security concerns and a potentially confusing API ("here's the 20 different things that might be passed in as a filename").

I could se

[2017-12-13 21:14] ramsgoli commented on #17592
I'd be happy to work on a PR for this if the idea goes through! 👍

[2017-12-13 21:15] jasnell commented on #17658
I've already got an effort under way to work up some Promise-based fs APIs. The PR has been sitting there for a bit without updating, but it will be advancing. There are definitely going to be some differences between it and the current API so I'm weighing just *how much different* it should be.

[2017-12-13 21:42] jkrems commented on #17658
Thanks, I'll have a look at https://github.com/nodejs/node/pull/15485!

[2017-12-13 22:04] silverwind opened #17664 "ipv6only listen option"
Currently, listening on the `::` address will attempt to bind on IPv4 and IPv6, whatever is available. This works most of the time but a issue arises on Linux with the `ipv6.disable=1` kernel option set (which can be default on certain NAS devices). With it, listening on `::` results in a `EAFNOSUPPORT` error. To work around and still get a IPv4 socket, one would have to apply one of these workaro

[2017-12-13 22:52] jure commented on #17636
I gave solution 1 a shot, and as discussed above, using SetAccessorProperty allows Object.getOwnPropertyDescriptor to not throw, and simply return the property descriptor. But, as also discussed above, accessing process.stdin._handle.__proto__.bytesRead still throws (as is currently the case on master).

[2017-12-13 23:42] mhdawson commented on #15604
@rolftimmermans Thanks for he confirmation.  I think passing in may be ok, I still need to add the documentation and I'll make sure to check and capture there.  Like;y will get to that early in Jan as I still need to figure out the failure in the async-hooks test and I'm off on holiday starting Friday.

[2017-12-13 23:44] mhdawson commented on #17444
@yhwang, I know you have been working on the static/share lib which has required a number of changes to the gyp files and even overcoming issues with symbols not being included.  Any chance you could take a look at this issue ?

[2017-12-14 00:15] fiurrr commented on #17567
@sebdeckers @apapirovski
The following code works as expected on https.
After using same on http2 (given that api is same), SNICallback is not getting called

[code]

[2017-12-14 01:40] TimothyGu opened #17668 "Unused prototype objects from V8 FunctionTemplate initialization"
* **Version**: all
* **Platform**: all
* **Subsystem**: src

[code]

We don't need these prototypes, and we can get rid of them either through `v8::FunctionTemplate::RemovePrototype()` or indirectly, by specifying `v8::ConstructorBehavior::kThrow` when creating the `v8::FunctionTemplate`.

[2017-12-14 02:38] bmeck opened #17669 "REPL Await invalidates `const`"
* **Version**: HEAD
* **Platform**: all
* **Subsystem**: repl

The REPL makes `const` variables not const if `await` appears in the input:

[code]

[2017-12-14 02:43] itincloud opened #17670 "Not able to add module via intelJ"
/usr/local/bin/node /usr/local/lib/node_modules/npm/bin/npm-cli.js install npm

Standard error:
npm WARN checkPermissions Missing write access to /home/yogendra/node_modules
npm WARN enoent ENOENT: no such file or directory, open '/home/yogendra/package.json'
npm WARN yogendra No description
npm WARN yogendra No repository field.
npm WARN yogendra No README data
npm WARN yogendra No license field.

[2017-12-14 02:44] TimothyGu commented on #17669
Known issue. See https://github.com/nodejs/node/pull/15566:

The RFC at the end is still active!

[2017-12-14 03:29] matianfu commented on #13542
the same error here, node version 8.7, linux

[2017-12-14 04:24] arturgvieira commented on #2842
Thanks for all the help, I had a lot of fun. I learned quite a bit of web standards, and techniques in NodeJS, which I am very thankful for.

[2017-12-14 04:25] cjihrig commented on #17670
It looks like you have a permissions issue. If you're unable to get this figured out, please move this question to https://github.com/nodejs/help. Thanks!

[2017-12-14 04:25] #17670 closed

[2017-12-14 04:55] Trott commented on #15985
@nodejs/async_hooks

[2017-12-14 05:29] veerbala82 opened #17673 "execSync is not a function error"
* **Version**:
* **Platform**:
* **Subsystem**:

Hi Folks,
I get the below error when i run "npm run dev" in my poweshell for compiling my web3 app.js file.

**Uncaught TypeError: __webpack_require__(...).execSync is not a function**

Following is my code:

var fs = require('fs');

var executeC = require('child_process').execSync('solc --bin --abi --optimize -o bin ./contracts/FoodSafe.sol');;

I

[2017-12-14 05:59] sornon opened #17674 "gyp: name 'node_shared' is not defined while evaluating condition 'node_shared=="true"' in node.gyp"
Version: Branch::master
Platform: MacOS
Subsystem: x64

I have a problem  about generate a Xcode project with GYP

I did it as follows:
1. `git clone https://github.com/nodejs/node.git`
into node and `./configure`
2. `git clone https://chromium.googlesource.com/external/gyp`
into gyp and `python setup.py build` and `sudo python setup.py install`
3. into node and `../gyp/gyp node.gyp --depth=. -f x

[2017-12-14 06:17] lzpong opened #17675 "Build MSVS solution with errors, common.gypi missing some variables"
* **Version**: Branch::master
* **Platform**: Windows
* **Subsystem**: x64

### Build msVS solution with errors, common.gypi missing some variables
use command:  `tool\gyp_node.py  -Dtarget_arch=x64 -f msvs`
Errors:
[code]
Needed variables (in my try):
[code]
### And `deps\v8\src\v8.gyp`  has a error:
[code]

---
At last :
Show the command `tools\gyp_node.py  -Dtarget_arch=x64 -f msvs` in [BUILDIN

[2017-12-14 07:50] richardlau commented on #17675
Those 'missing' variables are generated by the `configure` python script and written to `config.gypi`. Is there a reason you are manually running `tools\gyp_node.py` directly instead of through `vcbuild.bat`?

[2017-12-14 07:52] yhwang commented on #17444
Sure this is what I learned/know so for:
The obj files that contain the export functions used by `node_zlib.cc` and `uv.cc` are included in our node executable. So I guess most of the functions are in. And yes, `--whole-archive`, `force_load` could help us to include all functions. In Windows/AIX, we need .exp file to explicitly list the functions. And @richardlau is right, we have that for AIX fo

[2017-12-14 08:48] targos commented on #17633
Thanks!

[2017-12-14 08:48] #17633 closed

[2017-12-14 09:34] bnoordhuis commented on #17674
`configure` generates a bunch of variables.  You can pass `-Icommon.gypi -Iconfig.gypi` to gyp but it's probably easiest to just run `./configure -- f xcode` - everything after the `--` is passed to gyp verbatim.

Note that you don't have to check out gyp separately, it's vendored in tools/gyp.

[2017-12-14 09:40] bnoordhuis commented on #17673
Closing, not a node.js issue.  Try reporting this against webpack or open an issue in the help repo.

[2017-12-14 09:40] #17673 closed

[2017-12-14 11:41] ewanharris opened #17678 "process._tickDomainCallback is not a function using 9.3.0"
* **Version**: 9.3.0
* **Platform**: Windows 10 64 bit
* **Subsystem**: process

Using 9.3.0 only I'm seeing `process._tickDomainCallback is not a function`, (we're using [deasync](https://github.com/abbr/deasync/blob/60fbfa97f26a79ccf918d1d3188ac3a7e0d685ff/index.js#L65) which uses that function)

I don't see this issue with 9.2.1, or 8.9.3. Easily reproducible with `node -e "process._tickDomainC

[2017-12-14 11:46] addaleax commented on #17678
Can you open an issue on the `deasync` repository? If it uses Node’s internals, that’s kind of deasync’s issue and adjustments to changes in those internals should be made over there.

[2017-12-14 11:58] sornon commented on #17674
Thx Ben! done!

[2017-12-14 12:04] ewanharris commented on #17678
@addaleax thanks for the quick response! abbr/deasync/issues/89

[2017-12-14 12:10] simevo opened #17680 "v6.12.x segfault on linux"
* **Version**: v6.12.0 and v6.12.2
* **Platform**: Linux workhorse5 4.13.0-1-amd64 #1 SMP Debian 4.13.13-1 (2017-11-16) x86_64
* **Subsystem**: N/A

We encountered a segfault of nodejs 6.12.0, see [debian bug #878674](https://bugs.debian.org/878674)

To make it easy for others to reproduce it, I did this.

On a clean debian sid install, I install webpack and some babel stuff:
[code]

Next I clone

[2017-12-14 12:16] simevo commented on #17680
In addition to the steps above, to reproduce the segfault even if you are not on debian sid I believe the content of the `/usr/lib/nodejs` directory should suffice.

Here is a copy of the content of that directory on my test VM: http://212.237.56.209/node_modules.tar.xz (1.5 MB)

Let me know if there is some other steps I should try. And THANKS !

[2017-12-14 12:39] tniessen opened #17681 "NeedImmediateCallbackSetter terminates after setting global.process"
* **Version**: 8.9.3 (LTS)
* **Platform**: Windows 10 Professional 64 bit
* **Subsystem**: process

This causes node 8.9.3 to crash:

[code]

I came across this problem when executing unit tests of an npm package which intentionally replaces the `process` object. The problem seems to be caused by `CheckImmediate` which is called by `NeedImmediateCallbackSetter` via libuv:

https://github.com/nodej

[2017-12-14 13:14] targos commented on #17681
`MakeCallback` can return an empty `Local`, so `CheckImmediate` should check this instead of calling `ToLocalChecked`

[2017-12-14 13:19] rohitiacr203 commented on #7367
// DON'T WRITE THE `http://`
  var options = {
    host: 'http://yoururl.com',
    path: '/path/to/resource'
  };

[2017-12-14 13:38] cjihrig commented on #17678
Closing this as the issue has moved to the correct repo.

[2017-12-14 13:38] #17678 closed

[2017-12-14 14:55] Aarbel opened #17683 "Parse error with Node documentation code"
Hi, i tried to run this code in the Node documentation (my version is Node 9.2.1) : https://nodejs.org/api/http.html#http_event_connect

[code]

It throws this error :
![image](https://user-images.githubusercontent.com/25119847/33998399-a3300e30-e0e7-11e7-9805-7459b3e11351.png)

Do you know the origin ?

[2017-12-14 15:01] #17683 closed

[2017-12-14 15:02] Aarbel commented on #17683
Fixed it, it was a local port conflict (1337 was used)

[2017-12-14 15:18] KrzysztofKarol commented on #16844
@smotaal solution is great. It needs a little fix
``const DIRNAME = typeof __dirname !== 'undefined' ? __dirname : FILENAME.replace(/[\/\\][^\/\\]*?$/, '');``

https://regex101.com/r/pTc2Zm/1

[2017-12-14 15:37] bmeck commented on #17669
working on fix in https://github.com/bmeck/node/tree/env-record-repl-await , also fixes some other bugs

[2017-12-14 16:17] gibfahn commented on #17175
This can be closed, as we only support the latest version of macos10.10, which doesn't have this problem.

[2017-12-14 16:17] #17175 closed

[2017-12-14 16:36] remojansen opened #17684 "Node >= 8.0.0 inconsistently not throwing "Maximum call stack size exceeded""
* **Version**: 9.1.0 or higher
* **Platform**: [Travis CI build](https://travis-ci.org/inversify/InversifyJS/jobs/316498440#L8-L21)

[code]

I'm the author of [InversifyJS](https://github.com/inversify/InversifyJS). InversifyJS is an IoC container and it is designed to throw an exception if it finds a circular dependency.

[code]

The `willThrow` function should catch an Error of type `Maximum cal

[2017-12-14 17:53] tniessen commented on #2383
I am planning to implement this after landing #17566.

[2017-12-14 20:13] tniessen commented on #17681
cc @addaleax

[2017-12-14 20:41] addaleax commented on #17684
This seems to be flaky on earlier versions of Node (at least 9.1.0) as well.

Is there any chance you could provide a minimal reproduction using non-transpiled code?

[2017-12-14 21:53] interviewQ commented on #14894
I am seeing this issue too with node 7 and 8. I see that the bug is closed. Which node release is the fix present in ?

[2017-12-14 22:37] remojansen commented on #17684
I will try but I'ven unable to reproduce it using minimal code so far.

[2017-12-14 23:30] TimothyGu commented on #14894
@interviewQ It was just fixed in Node.js yesterday (https://github.com/nodejs/node/pull/17512) so it will come with the next Node.js v8.x and v9.x. We no longer maintain v7.x.

[2017-12-14 23:30] #14894 closed

[2017-12-14 23:57] ofrobots commented on #14894
Actually Node 9.3.0 released earlier this week should already contain the fix (please give it a shot and report back). For Node 8 the fix will be in the next release.

[2017-12-14 23:59] caitp opened #17691 "RFC: Updating object-stringifying in v8 error messages"
Hi Node.js community

I did some work recently in response to a bug filed about Symbol.toStringTag not being used if a class inherited a null prototype (https://chromium-review.googlesource.com/c/v8/v8/+/820292) (of course, in reality Symbol.toStringTag wasn't used at all in the case the bug mentioned, due to being an accessor property, but still!)

This CL would take the "render-constructor-name"

[2017-12-15 00:10] interviewQ commented on #14894
Thanks for the response. Would this get fixed in node 7 ?

Amaranth

On Thu, Dec 14, 2017 at 3:58 PM, Ali Ijaz Sheikh <notifications@github.com>
wrote:

[2017-12-15 00:11] interviewQ commented on #14894
Sorry, I missed your earlier message that this will not be fixed in node 7.

On Thu, Dec 14, 2017 at 4:10 PM, Amarnath Shanbhag <
amarnathshanbhag@gmail.com> wrote:

[2017-12-15 02:20] bnoordhuis commented on #17541
Closing, no follow-up.

[2017-12-15 05:15] PixnBits opened #17694 "doc: many erroneous linkifications"
* **Version**: 9.3.0
* **Platform**: N/A
* **Subsystem**: N/A

The NodeJS v9.x API docs for stream have [a heading](https://nodejs.org/docs/latest-v9.x/api/stream.html#stream_a_href_http_man7_org_linux_man_pages_man0_readable_read_0_html_readable_read_0_a) that is literally `<a href="http://man7.org/linux/man-pages/man0/readable.read.0.html">readable.read(0)</a>` instead of the `readable.read(0)`

[2017-12-15 05:21] godoakbrutal commented on #10659
@muthufmass You just save my day.

[2017-12-15 05:33] lzpong commented on #17675
yes,  manually running `tools\gyp_node.py` directly instead of through `vcbuild.bat`.

`vcbuild.bat`  can build  solution and project files?

[2017-12-15 08:31] shobhitchittora commented on #16636
Will pick up `prefer-util-format-errors`.

[2017-12-15 08:45] TimothyGu commented on #17691
Node.js core have taken steps to make it more visible due to users' demand in https://github.com/nodejs/node/pull/16485. Doing something like that in V8 would bring more consistency to Node.js, which is always good.

I don't think it would cause much pain at all. In Node.js we are not really using NoSideEffectToString that much (only in very select instances such as Promise rejection deprecation m

[2017-12-15 09:25] remojansen commented on #17684
Hi @addaleax I can confirm that it happens in versions >= 9.1.0

[2017-12-15 09:58] vsemozhetbyt commented on #17694
Possible cause: https://github.com/nodejs/node/pull/17479
See also https://github.com/nodejs/node/issues/17637

[2017-12-15 10:05] vsemozhetbyt commented on #17694
There are many others such issues (for example, for `buf.fill(0)` or `server.listen(0)`). You can search for `man7` in [this "all-doc" nightly page](https://nodejs.org/download/nightly/v10.0.0-nightly201712127a055f1d39/docs/api/all.html#).

cc @DiegoRBaquero

[2017-12-15 10:05] vsemozhetbyt commented on #17637
See also https://github.com/nodejs/node/issues/17694

[2017-12-15 10:28] Akamaozu commented on #7657
Even though this isn't resolved yet , thank you so much for documenting this. Was losing my mind when my root node process was freezing up.

Glad to know its Windows-specific, not a Node.js/IPC issue.

Double thanks to @cvillemure for packaging a test case. Helped me quickly confirm the issue I'm experiencing is the same, and not unique to my app.

[2017-12-15 12:14] surajwy commented on #17097
@addaleax, Yes, I will give it a try next week.

[2017-12-15 12:43] remojansen commented on #17684
I have found a solution to my problem but I still think that there is something going on in Node...

I was using the following:

[code]

To wrap some factories:

[code]

Now I'm wrapping them in a different way:

[code]

[code]

The only difference between the previous and the new implementations is that in the previous (the failing one) there is an extra closure `return (...args: any[]) => {`.

[2017-12-15 12:50] yosuke-furukawa commented on #17602
I’m +1 to @Leko .
He asked me to how to be a collaborator on nodefest directly. He does not have so much experience but he has passion to contribute node core.

[2017-12-15 13:11] mithunsasidharan commented on #17602
Thanks for the appreciation and mention @benjamingr . Its a huge motivation and encouragement to keep contributing more to Node.js and evolve. A huge thanks to all the Node.js team members for all the support and special mention to @apapirovski  and @thefourtheye  who helped me a lot with all my queries and guiding me get going 👍 Thank you !

[2017-12-15 15:38] caitp commented on #17691
So far it sounds like updating the error message formatting shouldn't hurt things in Node too much, so that's good to hear.

[2017-12-15 15:39] remojansen commented on #17684
Thanks for your time and sorry but now I think it was a case of https://github.com/nodejs/node/issues/14311 the only thing I can suggest since this is a known limitation is maybe try to come up with a way to warn the developers about this but I understand that it is not an easy one.

[2017-12-15 15:39] #17684 closed

[2017-12-15 16:59] #17540 closed

[2017-12-15 17:06] lazyspark commented on #17331
Can I take this up?

[2017-12-15 19:35] BridgeAR commented on #16317
I saw something similar on the CI. It was a different error but the test itself seems flaky, so I decided to just add it to this issue.

[code]

[2017-12-15 20:45] bnoordhuis commented on #17681
A better solution is to remove `process._immediateCallback` and introduce some internal API that can't be tampered with.  Shouldn't be too hard, there's only place in lib/timers.js that uses it.

[2017-12-15 21:07] #17674 closed

[2017-12-15 21:15] bnoordhuis commented on #17680
I see in the linked issue you've been debugging with gdb.  Can you post the output of `info sharedlibrary` at the time of the crash with the binary from https://nodejs.org/?

[2017-12-15 21:34] #17605 closed

[2017-12-15 21:41] bw70316 commented on #13815
when i try to run npm install -g npm@4 it times out, any suggestions?

[2017-12-15 22:32] mcollina commented on #17051
Fixed in a364e7efbddfb18b5c4e1703f57d16e728747cdc.

[2017-12-15 22:32] #17051 closed

[2017-12-15 23:41] Leko commented on #17051
Thank you for your quick response :D

[2017-12-16 08:48] MayasHaddad commented on #17040
@SimenB upgraded react-native@0.51.0 and the issue isn't anymore.

Closing this issue.

Thank you!

[2017-12-16 08:48] #17040 closed

[2017-12-16 09:31] BridgeAR commented on #13454
Closing as outdated.

[2017-12-16 09:31] #13454 closed

[2017-12-16 09:35] BridgeAR commented on #12586
This is pretty outdated. We had all errors migrated and now there are a couple new files that contain `indexOf` that might be changed but it is likely that new ones will pop in if we do not have a eslint rule to prevent that.

I am closing this as resolved for now. If we get lots of those in, we can reopen the issue / create a new one.

[2017-12-16 09:35] #12586 closed

[2017-12-16 09:37] BridgeAR commented on #11273
I am closing this as outdated. All regular JS errors got migrated but might need some more polishing here and there. There are a couple c++ errors that should be migrated but this was never tracked here.

[2017-12-16 09:46] joyeecheung commented on #11273
@BridgeAR There seems to be a few new old-style errors added in JS since this PR opened, searching `new Error\(.+\)` yields 23 results in the current master. We should probably open a new issue for that.

[2017-12-16 09:57] BridgeAR commented on #17500
This already got fixed by #17507

Closing

[2017-12-16 09:57] #17500 closed

[2017-12-16 10:02] joyeecheung commented on #17244
This can be closed now since https://github.com/nodejs/node/pull/17334 has landed

[2017-12-16 10:02] #17244 closed

[2017-12-16 10:03] BridgeAR commented on #17075
Should this stay open? I think there is little to do on our side. Any function could use the `arguments` object instead of predefined arguments as well. So relying on the length is really bad.

[2017-12-16 10:28] joyeecheung opened #17709 "Tracking issue: Migrate errors to internal/errors.js"
There are a few old-style errors added since https://github.com/nodejs/node/issues/11273 opened. Opening a new issue to track the migration. I have excluded errors that have existing `code` property as changing those could result in bigger breakages.

On how to migrate those errors, see the guide: [Using the internal/errors.js Module](https://github.com/nodejs/node/blob/master/doc/guides/using-int

[2017-12-16 10:32] joyeecheung commented on #17709
Just like https://github.com/nodejs/node/issues/11273 this should be a good first issue. People who want to start working on this can post a reply here, and cc @jasnell and me in the PR. There is a [guide](https://github.com/nodejs/node/blob/master/doc/guides/using-internal-errors.md) on how to migrate the errors, also please read [the contributing guide](https://github.com/nodejs/node/blob/master

[2017-12-16 10:42] joyeecheung commented on #17331
@lazyspark Sure! The [contributing guide](https://github.com/nodejs/node/blob/master/CONTRIBUTING.md) should be enough to help you get started.

[2017-12-16 15:02] mannanali413 commented on #17709
@joyeecheung @jasnell i can take these up.

[2017-12-16 19:05] surajwy commented on #17541
Sorry for the delay in replying. I will try this with 6.12.2 next week and will update you guys.
Thanks.

[2017-12-16 19:44] BridgeAR commented on #17634
I am not really sure if we should touch this. One reason is that it might actually also break code in production because a user might rely on that behavior. It is a custom function, so dealing with such things is a requirement as well, as far as I see it.

Therefore I would like to close this. Any objections?

[2017-12-16 19:50] addaleax commented on #17634
@BridgeAR I think I’d actually like to bring the above patch in

This is not a bug in Node, but it *is* something that we can help with a bit, and especially with `util.inspect` I would like to be a bit more careful

[2017-12-16 20:31] BridgeAR commented on #17634
@addaleax adding your patch as it is would probably be fine. But the user would still have to check `ctx.seen` if it already contains the current value and handle accordingly in that case.

[2017-12-17 02:38] ramsgoli commented on #17709
@joyeecheung @jasnell I can take one of these files as well

[2017-12-17 05:19] yhwang commented on #17444
Update more findings. Actually, for `zlib`, all zlib are in the node executable now. the `mkssldef` target in the `node.gyp` generates the def file for openssl and zlib. therefore the thing we need to do is add libuv into it.

[2017-12-17 06:57] acparas commented on #17709
@joyeecheung @jasnell I'd like to tackle `lib/_http_outgoing.js`'s error migration!

[2017-12-17 08:53] joyeecheung commented on #17709
@ramsgoli @mannanali413 Hi,  please indicate which file you are going to work on in this thread to avoid stepping over each other's toes, thanks!

[2017-12-17 08:56] kysnm commented on #17709
@joyeecheung I would like to take the `lib/repl.js`

[2017-12-17 11:31] bnoordhuis commented on #17444
We have mkssldef because openssl and zlib don't export functions inline but libuv does (the `UV_EXTERN` macro.)  Nothing more than `--whole-archive` should be needed.

[2017-12-17 16:51] kysnm commented on #17709
@joyeecheung @jasnell If anyone doesn't take the lib/net.js, I would like to take it.

[2017-12-17 17:18] #17657 closed

[2017-12-17 17:43] mannanali413 commented on #17709
@jasnell I will take up lib/_tls_wrap.js

[2017-12-17 18:01] #17636 closed

[2017-12-17 18:09] styfle commented on #17709
@joyeecheung @jasnell I will take lib/fs.js

[2017-12-17 18:33] jasnell commented on #17709
@styfle ... Heads up, I'm currently doing quite a bit of work in fs.js, including hitting the rest of the error codes

[2017-12-17 19:05] styfle commented on #17709
@jasnell Should I take a different file or are you doing them all??

[2017-12-17 20:37] Xavier-J-Ortiz commented on #17709
I'd like to give a try on _tls_legacy.js

[2017-12-17 20:41] gucciferXCIV commented on #4603
So much for this... If none of you guys ever actually get to it, I may try to figure it out.

[2017-12-17 21:07] coreybutler commented on #4603
@gucciferXCIV - I've been planning on taking nvm-windows in the direction of using the msi to install multiple versions (instead of downloading the exe files and hacking together an install), while still using the symlink concept for version switching. I've been abnormally busy for a long time... but I'd happily bring in more contributors to help make this a reality. The catch (which I personally

[2017-12-17 21:11] felixfbecker commented on #4603
@coreybutler ps-nvm does it that way, you might wanna take a look at that:

https://github.com/aaronpowell/ps-nvm/blob/b15c9259d069b30296f46edc91beb72f8aec9076/nvm.psm1#L266-L268

[2017-12-17 21:13] tniessen commented on #4603
I worked on a solution with @refack a couple of months ago. The primary reason we did not pursue this further is not that this is difficult to do (it is not), but rather that there is no consensus within the project whether we want to provide such an installer or not (even though I personally like the idea a lot).

[2017-12-17 21:13] gucciferXCIV commented on #4603
I actually wouldn't mind learning Go. But the part that I can't get over is that you can't use different versions of Node in separate shells at the same time. I'd be willing to figure Go out just to make that a possibility.

[2017-12-17 21:19] gucciferXCIV commented on #4603
Also, @tniessen I think if it even makes a few people happy, why not? As long as you have the time, of course. IMO consensus isn't a huge deal as long as the installer gives the option to overwrite or install side-by-side, making side-by-side default, since it's been the default forever, because you'd be solely adding to the installer. It's not like you're taking away some capability that people c

[2017-12-17 21:24] tniessen commented on #4603
@gucciferXCIV The version management working group [argued against this](https://github.com/nodejs/version-management/issues/16) (at least that's what I remember from at least two or three discussions) mainly because "if we provide multi-version support for one platform (Windows), we should provide it for all".

[2017-12-17 21:33] gucciferXCIV commented on #4603
The same general implementation could be applied to all 3 installers. It could be done pretty much exactly how Python does it. So it's not like it's not doable for a certain OS, making it unfair or something. We should do it.

[2017-12-17 21:41] ljharb commented on #4603
I don’t think anyone disagrees that we should do it; but it shouldn’t be done without a comprehensive plan - and “let’s do a one-off implementation on each platform” isn’t quite what I’d call comprehensive.

[2017-12-17 21:47] gucciferXCIV commented on #4603
Of course. I didn't ever say we shouldn't have a solid plan for how to implement it on each platform because I completely agree that we should. I'd just like to see some progress.

[2017-12-17 22:48] Xavier-J-Ortiz commented on #17709
After reading the [Using the internal/errors.js Module](https://github.com/nodejs/node/blob/master/doc/guides/using-internal-errors.md) I _think_ I got the idea.

https://github.com/Xavier-J-Ortiz/node/commit/b251e5c6ba028211368f1a8d58e017c3dc85938c

I checked to see within that internal/errors document if any tests are necessary. I didn't change the error message to be anything other than a strin

[2017-12-17 23:34] markstos commented on #2948
Might you need OpenSSL for outgoing connections even if you don't need it for incoming connections? I guess it's safe to disable as long as you know you don't need it for connections in either direction.

[2017-12-17 23:37] TimothyGu commented on #2300
This got fixed by https://github.com/nodejs/node/pull/13916.

[2017-12-18 00:26] nazar-pc opened #17723 "Promise is caught, but still reported as unhandled"
* **Version**: v9.3.0
* **Platform**: Ubuntu 18.04 (development branch)

### Working
Here is reduced example that works properly:
[code]
Results in:
[code]
### Not working
Here is a relevant piece of code from larger code base:
[code]
Clearly the same pattern, however the output is:
[code]

### Further thoughts
I think this is some kind of race condition related to garbage collection (or reference

[2017-12-18 03:06] Aralic opened #17726 "querystring.parse problem"
* **Version**:
v8.9.1
* **Platform**:
iMac (Retina 5K, 27-inch, Late 2015)
* **Subsystem**:

[code]

[2017-12-18 03:08] XadillaX commented on #17726
If you want to get `{b: 'a+a'}`, I think you should use `querystring.parse("b=a%2Ba")`.

[2017-12-18 03:17] bruce-one commented on #17723
Does returning the caught promise chain make any difference? (It might not, it just jumped out at me)

Eg

      promise = this.fire('wrap', data).then(function(){
        var wrapped;
        wrapped = data['wrapped'];
        if (!(wrapped instanceof Uint8Array) || wrapped.length !== unwrapped.length) {
          console.log('rejection');
          throw new Error('Re-wrapping failed');

[2017-12-18 03:43] TimothyGu commented on #17726
`application/x-www-form-urlencoded` is defined to have `+` mapped to a space. See https://url.spec.whatwg.org/#concept-urlencoded-parser.

In general, `querystring` is not the best fit for general data storage. Use JSON if possible instead for general-purpose data, or [`URLSearchParams`](https://nodejs.org/api/url.html#url_class_urlsearchparams) specifically for interacting with URLs and `<form>`

[2017-12-18 04:16] Trott commented on #17637
Maybe replace word boundary (`\b`) with an allowance for spaces or the beginning of a line (`(^|\s)`). That will stop it from replacing if the word break is a non-alpha symbols like `[` and `(`.

[2017-12-18 04:16] Aralic commented on #17726
@XadillaX @TimothyGu  Thanks for your answer. I understand url spec.

[2017-12-18 04:20] nazar-pc commented on #17723
Yes, in both of suggested variants it works correctly, no `UnhandledPromiseRejectionWarning` (but semantically it is very different, I want to return rejected promise, but don't want to receive `UnhandledPromiseRejectionWarning` in case I don't catch it explicitly afterwards).

But why is that (I've read information on the link you've provided and didn't find anything regarding `catch` in this sce

[2017-12-18 05:36] coreyfarrell commented on #16989
That's fine I've moved on, I used fs.open instead.  But node should not crash if someone tries promisifying fs.createWriteStream.

[2017-12-18 06:31] joyeecheung commented on #17709
@Xavier-J-Ortiz Usually the migrated error should have a test (using `common.expectsError`) testing that error has the expected code. The point of migrating these errors is that the users can rely on `err.code` instead of `err.message` and if the PR does not test `err.code` at all, we can't be sure the error is migrated properly.

Can you read [the contributing guide](https://github.com/nodejs/nod

[2017-12-18 07:19] simevo commented on #17680
[code]
yields:
[code]
hope this helps !

[2017-12-18 08:00] Leko opened #17731 "crypto test coverage - remaining blockers in crypto"
Hi.
I try to improve test coverage of internal/crypto.

Already I submitted pull requests that I can write test.
#17555, #17458, #17449, #17447, #17426, #17418, #17728 and #17730.

I found two coverage blockers.

### 1. `process.binding('crypto').PBKDF2` does not returns -1
#### Code
https://github.com/nodejs/node/blob/7124b466d9c10e12b3bd9a59910032e033f35493/lib/internal/crypto/pbkdf2.js#L82-L87

[2017-12-18 08:06] sreepurnajasti commented on #17619
@tniessen[ Here](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.694.695&rep=rep1&type=pdf) is other URL which ref to same document.

[2017-12-18 08:08] Nagasai-Aytha opened #17732 "node gyp issues is blocking my npm install"
Hi

I have been struggling to find a way to install package - node-rdkafka which is having node addon - node gyp

Installing and uninstalling following steps online  but still no luck

[code]

I see this issue is long running but still there is no concrete solution but trail and error solutions

Not sure about the dependency of Visual studio download which I cant as my trial period is done and i c

[2017-12-18 09:13] #17726 closed

[2017-12-18 09:35] bnoordhuis commented on #17732
Does it work when you pass `--msvs_version=2015` to npm or node-gyp?

[2017-12-18 10:02] bnoordhuis commented on #17680
Thanks, nothing out of the ordinary.  The backtraces from the debian bug report look like random memory corruption.  Can you try a debug build and see if it catches it closer to the source?

Here is how you build it:

1. download the v6.12.2 tarball
2. `./configure && make -j8 -C out BUILDTYPE=Debug`
3. `out/Debug/node` is the debug binary

If you hit a run-time assert (a CHECK), please post it.

[2017-12-18 10:24] hashseed commented on #17396
I landed the patch to `v8::ScriptCompiler::CompileFunctionInContext` upstream: https://chromium.googlesource.com/v8/v8.git/+/1586f37f2d1f06415dbaf0c03b0f6e0702450ce9

[2017-12-18 10:27] hashseed commented on #17396
@bnoordhuis the stack trace line/column issue should be fixed now. The current API does not support code caching, but it would still be interesting to see whether it works for require. It should be already be a bit faster than using wrappers, and I have some ideas to make it faster still.

[2017-12-18 10:31] bnoordhuis commented on #17731
That `if (ret === -1)` check is simply wrong and can be removed.  The synchronous version of `PBKDF2()` never returns that - it either returns a buffer or it throws an exception.

It shouldn't be possible to reach that `if (mdctx_ == nullptr)` branch.  It can be removed or replaced with a `CHECK_NE(mdctx_, nullptr)`.

Does code coverage see a CHECK as a branch without coverage?  I'm guessing no be

[2017-12-18 10:37] simevo commented on #17680
built with:
[code]
reproduced the segfault with:
[code]
output of `thread apply all backtrace full`:
[code]
`disassemble`:
[code]
`info registers`:
[code]

[2017-12-18 10:46] bnoordhuis commented on #17680
Interesting.  Is the backtrace for thread 1 always the same?  Does `./configure --gdb && make ...` produce a more readable backtrace?

You should be able to get a disassembly with `disassemble $rip-32,+64`.  You may need to tweak the offsets if it looks like garbage but worst case I'll piece it together from the hexadecimal codes.

[2017-12-18 10:49] simevo commented on #17680
as I still have the gdb session open in a `screen`, it's easy for me right now to paste here first the output of `disassemble $rip-32,+64`:
[code]
let me know if this is relevant; in the meantime I'll do the reconfigure / make

[2017-12-18 11:03] bnoordhuis commented on #17680
It looks like V8 expected to see an object pointer in %rdi at the offending instruction.  Would be interesting to see if other crashes follow a similar pattern.

[2017-12-18 11:06] bnoordhuis commented on #17723
Are you sure this isn't caused by some source transformation pass?  I see you're using closure compiler.

I'll be happy to look at this but I'll need a standalone test case.

[2017-12-18 11:17] simevo commented on #17680
original:
[code]
another one:
[code]
yet another one:
[code]
in the meantime the reconfig is done so this last one is with node configured with `--gdb`:
[code]

[2017-12-18 12:49] bnoordhuis commented on #17681
#17736

[2017-12-18 13:15] bnoordhuis commented on #14752
Potential fix in #17737.  If anyone here can confirm it fixes the issue for them?

By the way, a python2 version of the test case:
[code]

[2017-12-18 13:24] ivan commented on #14752
I did not test the fix, but I wonder if it solves the problem when the parent process doesn't wait for the node process to exit? (Is there something that prevents stdout from going nonblocking in this case?)

[2017-12-18 13:32] nazar-pc commented on #17723
I'm sure, Closure Compiler is only used for browser builds, Node.js executes unmodified source code snippet of which I've posted in the first comment.
I'll try to get reduced test case if possible, but at least there is some test case for now.

[2017-12-18 14:05] benjamingr commented on #16989
@coreyfarrell we've updated the docs on what `util.promisify` does in any case in case that helps.

I'm going to close this since you're no longer pursuing, if you feel strongly against this let me know and I'll reopen.

Thanks for taking the time and making the effort by the way. Any feedback about how we can make a better Node promises story is very appreciated.

[2017-12-18 14:05] #16989 closed

[2017-12-18 14:35] maclover7 commented on #17169
I believe this was closed by accident. Please close again if not.

[2017-12-18 14:51] Xavier-J-Ortiz commented on #17709
@joyeecheung Thank you for pointing that out.

1) I'll try to find where the error tests are located in order to test err.code and write a test for it.

2) you mentioned opening a PR for the changes. Should I open it right now, _
or_ should I create the PR after I create a test.

Thanks again @joyeecheung !

[2017-12-18 15:42] Nagasai-Aytha commented on #17732
@bnoordhuis yes, I tried that option as well, it is still failing

[2017-12-18 16:38] lovedebug commented on #17732
same install issue with node-rdkafka 2.2.1 and nodejs 8.9.1 on windows

[2017-12-18 16:55] Fishrock123 commented on #17723
Are the transpiled Promises `global.Promise`  or from a promise library?

[2017-12-18 17:11] apapirovski commented on #17723
This seems to be behaving as expected. You're storing the Promise chain value before calling `catch` on it and then presumably trying to `then` it. C

[2017-12-18 17:18] bnoordhuis commented on #17732
Oh, I thought this was in nodejs/help.  Can you move it to that repo or nodejs/node-gyp?  This repo is only for reporting issues with node.js core, which this isn't.  Thanks.

[2017-12-18 17:18] #17732 closed

[2017-12-18 17:36] mcollina commented on #15709
I'm working on an implementation of this, and it is not clear when `asyncIterator.throw(e)`  is called.

[2017-12-18 17:40] nazar-pc commented on #17723
Promises are native `global.Promise`.

I think `.then()` makes a difference:
[code]
[code]

But I've handled rejection already, why does it still causes errors? This is not a helpful behavior.

[2017-12-18 17:40] jasnell commented on #15709
I've been playing with this a little bit in the fs promises implementation, specifically in a promise-based `readFile()` implementation and I have to say that using the async iterator works *rather well*. I'll be pushing the code up to a branch a bit later today.

[2017-12-18 17:45] apapirovski commented on #17723
@nazar-pc This behaviour conforms to the standards and every other browser implementation. Each call to `then` returns a newly resolved Promise state. If you want to be able to call `then` at any point in the future, you need to store the handled reference, not the one that threw.

[2017-12-18 17:48] nazar-pc commented on #17723
But I want to returned rejected promise so that code that consumes it knows that some operation have failed. I just want to make sure I don't get `UnhandledPromiseRejectionWarning`, which is why I have empty `catch()`.
Do you mean `then()` basically returns new rejected promise that needs to be handled separately?

[2017-12-18 17:53] apapirovski commented on #17723
`catch(fn)` is literally a `then(null, fn)`. The important thing to understand with `then`, as illustrated in my example above, is that it returns a newly resolved `Promise` state with the return value specified (or rejects the promise if you `throw` inside). So when you `catch` a stored `promise`, that `catch` call with return the handled promise reference but the `promise` still stores the origi

[2017-12-18 17:59] nazar-pc commented on #17723
It is unfortunate, but makes sense, thanks for clarification!

[2017-12-18 17:59] #17723 closed

[2017-12-18 18:17] coreyfarrell commented on #16989
@benjamingr I do still think it is a bug that my example code exits silently.  I no longer feel that it's worth while for the stream methods to work with `util.promisify`, but I think if someone (incorrectly) tries doing this an exception should be thrown or some other diagnostics.  Run-time JS coding errors should not cause node.js to exit silently.

[2017-12-18 18:26] #16880 closed, assigned to nobody

[2017-12-18 18:26] jasnell commented on #16752
Fixed with https://github.com/nodejs/node/pull/17406

[2017-12-18 18:26] #16752 closed

[2017-12-18 18:58] apapirovski commented on #17731
Re: `ret === -1`, that is actually not correct. It returns -1 if an invalid `digest` is passed. See

https://github.com/nodejs/node/blob/efffcc262c77a58ad3c75787497df46863d1b7a6/src/node_crypto.cc#L5598-L5607

The original confusion here might come from the fact that C++ `return` values are not what gets returns to the JS land, those return values come from `args.GetReturnValue().Set(value);` call

[2017-12-18 19:17] bnoordhuis commented on #17731
Ah, so that was changed recently in 7124b466d9c, before that it worked the way I described.

That's not the line @Leko linked to, though.  That line should be unreachable because it should never be possible to construct a Hash object that has `mdctx_ == nullptr`, the constructor should throw when initialization fails.

[2017-12-18 19:18] apapirovski commented on #17731
Sorry, I'm just responding to the original premise of "Can't throw ERR_CRYPTO_HASH_UPDATE_FAILED" which is definitely possible. Didn't mean to disagree re: it not being possible to reach via the route presented.

[2017-12-18 19:27] apapirovski commented on #17097
This got fixed in #17478 but the RegExp didn't pick it up due to the struck out words. @surajwy feel free to reopen if the issue persists after building from master with that patch. Thanks!

[2017-12-18 19:27] #17097 closed

[2017-12-18 19:29] apapirovski commented on #17122
As far as I can tell this can be closed as there's nothing actionable here. `Object.create` is bound to be slower due to the extra overhead. If you're looking for more info, you could probably look at the spec or V8 code.

[2017-12-18 19:29] #17122 closed

[2017-12-18 19:37] apapirovski commented on #6346
@bnoordhuis would you like for this to remain open? v4.x is almost near EOL and it doesn't seems like there's anyone that has both the expertise and the time + willingness required to back-port this. I will close as `wontfix` in a week if there are no updates.

[2017-12-18 19:46] bnoordhuis commented on #6346
I guess this isn't going to happen.  I'll close it out.

[2017-12-18 19:46] #6346 closed

[2017-12-18 20:41] boneskull opened #17740 "enhancement: provide list of allowed flags of current executable"
It'd be useful for [Mocha](/mochajs/mocha) and other certain CLI applications to have a list of supported flags of the current process available.

Many users which to execute a CLI app like `mocha` with Node.js flags, e.g. `--experimental-modules`. Mocha spawns a `node` process with any requested flags in place, and Mocha loads/runs JavaScript files from within this child process (there may be bet

[2017-12-18 20:49] bnoordhuis commented on #17740
Why is that user-hostile?  I ask because...

...we can't list V8 flags (node.js doesn't know them) and that makes `process.cliFlags` or whatever it's called decidedly less useful, IMO.

There's also the question of how (or if) it should interact with the `NODE_OPTIONS` environment variable.

Yes, although not recently, I think.

[2017-12-18 20:52] boneskull commented on #17740
You are entitled to your opinion, but this will reduce the number of PRs we have to merge to support new flags to 0.

[2017-12-18 20:57] bnoordhuis commented on #17740
I most certainly am and that argument doesn't sway me because it means the PRs _we_ have to merge becomes > 0. :-)

I don't understand why that is important.  `node --help` and pipe the output?

[2017-12-18 20:58] bnoordhuis commented on #17740
Yes.  Stick to substantial comments, will you?

[2017-12-18 21:04] bnoordhuis commented on #14752
Depends on what you mean.  Whether there's someone waiting doesn't matter to node.js but if another process concurrently tries to read or write to the same file description (note: not _file descriptor_), it might observe non-blocking I/O.

That's hard to remedy in the UNIX model, though - you can't always reopen stdio to get fresh file descriptions.

[2017-12-18 21:06] boneskull commented on #17740
Piping `node --help` to the output would:

1.  add slowness to a simple `mocha --help`
2.  necessitate a regex or otherwise parsing the output of `node --help` to remove everything but the options
3.  filter out things that conflict like `--v` (by regex, probably)
4.  continued maintenance burden if the output of `node --help` changes and breaks our parsing
5.  the maintenance burden inherent in t

[2017-12-18 21:08] apapirovski commented on #17740
I'm probably missing something super obvious but is there a reason Mocha wouldn't just blacklist its own flags and pass through anything that doesn't match?

I mean, I get that `node` won't run if invalid flags are passed to it but, strictly speaking, users probably shouldn't be passing in flags that neither mocha nor node want to consume... ?

[2017-12-18 21:12] boneskull commented on #17740
This is why; coupled with wanting to list the flags so it's plain to see which flags are invalid and which aren't.

For example:

If you run `mocha --butts`, which you expected to be a valid flag to `node`, and it fails, then you are going to run `node --butts` and see that it was a typo, and `--buttz` is the correct flag.  Then you can go back and run `mocha --buttz`.

The above is more difficult

[2017-12-18 21:16] apapirovski commented on #17740
I suppose this means you wouldn't pass through `-- --my-script-flag` then? *shrug* This all seems very convoluted and limiting to me when the solution to the perceived problem is to tell users to check `node --help`.

[2017-12-18 21:19] bnoordhuis commented on #17740
Okay, I understand a bit better now, although it seems easy to fix by adding one line to `mocha --help` that says to also check `node --help` or pipe the output after mocha's own options.

Something like 50 extra milliseconds.  That's not going to break the bank.

I'm not mordicus opposed if we could fix the V8 options issue but I share Anatoli's sentiment that this seems to be a solution in searc

[2017-12-18 21:21] boneskull commented on #17740
@apapirovski This issue is *not* about whether or not you think that's a real problem or a perceived one.  I maintain a module in which thousands of users rely on this behavior and expect it to work.  Whether or not you find it helpful, it's helpful to many others.

This issue is about the maintenance burden of supporting it, and how that can be significantly reduced by making this information eas

[2017-12-18 21:22] boneskull commented on #17740
It'll take a bit longer than that on a Raspberry Pi Zero...

[2017-12-18 21:36] apapirovski commented on #17740
It's not like I'm blocking any potential work being done on this, I'm just opining as to why I don't think this is a good solution to the problem it's supposed to solve. Even if we assume that this is a good solution, how do we deal with `-` and `--`? It seems like we're back to having the user-land filter this list and maintain their own blacklist. Also, if options are added that conflict with on

[2017-12-18 21:37] jasnell commented on #17740
This would be a bit non-trivial for us to support given the current mechanism in core for handling command line options. If we could refactor that code, then it is conceivable that we could make it near zero maintenance cost for us to provide this kind of API. I do not see it as being unreasonable at all.

[2017-12-18 22:00] benjamingr commented on #17740
I don’t think we should support this given how much work it is to do - but if you make a PR and do it in a way that doesn’t make the code harder to maintain then I’m game.

[2017-12-18 22:04] streeter opened #17743 "Windows Named Pipes are always opened as readable and writable"
* **Version**:
master

* **Platform**:
Windows

Hi there, I'm pretty sure I've found an issue with Named Pipes on Windows. If there is a named pipe that is running in an administrative service, I cannot read from it when the pipe is created with readonly access to anyone else using `CreateNamedPipe` with a `NULL` security descriptor as described here https://msdn.microsoft.com/en-us/library/window

[2017-12-18 22:51] renanbastos93 opened #17744 "burdening the CPU"
Guys,

Node Version: 8.7.x

I'm testing the performance of the my applications, but it is burdening the CPU.
Help-me I want reduce much this %.

![image](https://user-images.githubusercontent.com/8202898/34131988-0d633480-e435-11e7-9c93-584f287f015f.png)

[2017-12-18 22:55] bnoordhuis commented on #17744
Please post questions to the help repo.

[2017-12-18 22:55] #17744 closed

[2017-12-18 23:37] hekod777 opened #17745 "Is there a way to grab [Symbol(outHeadersKey)] from response object without using response.getHeaders() ?"
I am trying to downgrade an app from running in Node 8 to Node 6.

I am stuck at this response.getHeaders() function which is added in Node 7.7.0.

It seems that all this function does is to return a shallow copy of an object called `[Symbol(outHeadersKey)] `

I'd like to know if there is any other ways to get this `[Symbol(outHeadersKey)]` object without using response.getHeaders().

[2017-12-19 00:11] apapirovski commented on #17743
See the following section of the documentation: https://nodejs.org/api/net.html#net_new_net_socket_options

You'll need to pass `fd` if you want to use the `Socket` in this way.

[2017-12-19 00:14] Fishrock123 commented on #17745
Probably `response._headers`. Expect it to be potentially deprecated if you update later. (If it isn't already.)

[2017-12-19 00:39] jasnell opened #17746 "[Tracking Issue]: Some http2 todos"
Hello @nodejs/http2 folks... now that the big destroy/cleanup refactor is finally done, there are a number of remaining items that need working on with an eye towards bringing http2 out of experimental in time for Node.js 10.0.0. We can use this tracking issue to keep organized.

Please leave a comment in the thread if you wish to take on one of the items. I've added a comment on the ones I'm defi

[2017-12-19 00:57] addaleax commented on #17746
Regarding the file/fd handling … I still think these APIs shouldn’t exist. I can see that performance is the reason we have them, but that’s just a failure on Node’s streams API in general, and we shouldn’t have to give up orthogonality as a principle of good API design for that.

My current short-term goal (maybe that’s obvious from the PRs I’m opening) is to simplify and increase performance of

[2017-12-19 00:57] Zerxoi opened #17747 "Stream:Where the 'data' event emit in Stream ?"
I do not understand how this code works.
[code]
I was very curious when the `data` event was emitted in the source code.
I have been looking for a long time, I feel like it cannot emit `data` event.

There are two places in the code that can emit the `data` event
---
https://github.com/nodejs/node/blob/e46728684ba9e5786e2c815f8582bbd9e782969f/lib/_stream_readable.js#L269
`sync` is true before `_re

[2017-12-19 01:00] jasnell commented on #17746
I'm very happy to see the improvements in StreamBase but I *really* don't want to lose the `respondWithFile/respondWithFD` APIs.

[2017-12-19 01:01] addaleax commented on #17746
@jasnell Why? There’s no reason for users to expect them to do anything different than `fs.createReadStream(…).pipe(http2stream)`, right?

[2017-12-19 01:55] addaleax commented on #17634
@BridgeAR You’re right. 👍 I’m closing this as suggested by you, we can always re-open if necessary

[2017-12-19 01:55] #17634 closed

[2017-12-19 03:02] rektide commented on #13678
I utterly loath the state of affairs. I find this spec to be unbelievably out of line. The practical implications are:

* Your subclass's constructor MUST accept an argument that is expected to be a function
* You MUST call the function in the super.

This really eliminates the ability to let people subclass Promise into something complete & useful & standalone. People should be able to `new MyCoo

[2017-12-19 03:18] andrsnn opened #17749 "Prevent socket destruction when keepAliveTimeout fires"
* **Version**: 8.9.0
* **Platform**: Linux dfdab2b374b3 4.9.36-moby #1 SMP Wed Jul 12 15:29:07 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

I'm currently having an issue where a Node service under heavy load behind a load balancer intermittently sends a RST ACK during a Connection: keep-alive request resulting in a 502 on the client (load balancer passes back 502).

Upon further inspe

[2017-12-19 03:22] nadrane opened #17750 "Advice for someone looking to contribute"
Hi,

I'm a long time Nodejs user and love to start contributing. I'm looking to help with Javascript APIs specifically, since my C++ is quite rusty. Where are some good places to start? What does the community need help with?

-Nick

[2017-12-19 03:33] devsnek commented on #17750
everything you should need to get started is in https://github.com/nodejs/node/blob/master/CONTRIBUTING.md, and don't hesitate to ask questions either here or on irc (#Node.js)

[2017-12-19 03:35] nadrane commented on #17750
Are there any issues you'd recommend I tack a look at?

[2017-12-19 03:45] starkwang commented on #17750
Hi @nadrane ! Thanks for your passion to contribute to Node.js !
You can refer to http://nodetodo.org/ to see how to start your contribution.

[2017-12-19 03:58] joyeecheung commented on #17750
@devsnek @nadrane The IRC channel we use for core dev is #node-dev, #Node.js is for general questions on Node.js.

You can take a look at the issues labeled with "good first issue", although at the moment I think most of them are being worked on but there will be new ones. https://github.com/nodejs/node/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2017-12-19 04:42] #17749 closed

[2017-12-19 04:44] andrsnn commented on #17749
Closed as it seems a race condition would exist even if control was given.  Seems like the only real solution is to ensure the requesting client is aware of the timeout.

[2017-12-19 05:54] Fishrock123 commented on #17750
Node core is something like 55% JavaScript so, that shouldn't be any issue. :)

[2017-12-19 09:47] hashseed opened #17754 "Next convenient date for an ABI breakage?"
Hard-coded constants in `v8.h` for [instance types](https://github.com/v8/v8/blob/master/include/v8.h#L9092) have been frequent sources for ABI breakages, when they change. Whenever we introduce a new instance type in V8, ones that come after the new type in the [instance type list](https://github.com/v8/v8/blob/352e4bf2e813ae1ab3a9d25b879d988b5b1d0958/src/objects.h#L765) get bumped up, thus requi

[2017-12-19 09:59] targos commented on #17754
IMO the sooner the better, preferably before the version that we will include in Node 10 (should be 6.5 or 6.6 depending on the timing).

[2017-12-19 12:15] benjamingr commented on #13678
I disagree, all subclassing cares about is that you deal with the executor correctly. If you deliberately pass something with an incompatible signature then similar claims can be made about subclassing just about anything.

Actually, subclassing (with the revealing constructor pattern and `Symbol.species` for more power when creating promises from a promise). There is a lot of work that related to

[2017-12-19 12:30] bnoordhuis commented on #17747
If your question is _where_ it's emitted, there's an easy way to find out: `stream.on('data', console.trace)` and look up the line number from the stack trace.

[2017-12-19 13:17] odinho commented on #17475
Hi @addaleax, thanks for fixing this!  We're also hitting it quite a lot, I wonder whether you would be so kind to open your landed commit as a pull request against the `v8.x-staging` branch as I understand the process is?

[2017-12-19 13:18] addaleax commented on #17754
Yeah, I agree. Bumping V8 in Node 9 is probably not worth the effort, but it’s something we’ll want for Node 10 if we can get it.

[2017-12-19 13:23] addaleax commented on #17475
@odinho The commit applies to v8.x without merge conflicts, so it will get picked up anyway and doesn’t need a separate PR.

I am not sure what the schedule for the next v8.x release is. /cc @nodejs/lts @gibfahn

[2017-12-19 13:29] tebeka opened #17756 "LoadEnvironment segfault on node 9.3"
* **Version**: 9.3.0
* **Platform**: Linux auntie 4.14.5-1-ARCH #1 SMP PREEMPT Sun Dec 10 14:50:30 UTC 2017 x86_64 GNU/Linux
* **Subsystem**:

I have a code that works on 9.2.0 and segfaults on 9.3.0

[code]

[2017-12-19 13:36] bnoordhuis commented on #17740
I gather from external discussion that mocha is probably going down the `--node-<option>` path, like it does for V8 options with `--v8-<option>`.

I'm not aware of other potential users and a lot of work would need to happen to stop it from being a maintenance hassle.  Unless someone volunteers to do the work I suggest we close this.

[2017-12-19 13:40] bnoordhuis commented on #17756
Things changed with the introduction of `NodePlatform`.  See #16981 for a solution.

I'll close this out but let me know if you still have questions.

[2017-12-19 13:40] #17756 closed

[2017-12-19 13:55] kysnm commented on #15985
Getting the same error in
v10.0.0-pre
sw_vers -productVersion
10.11.6

[2017-12-19 13:56] kysnm commented on #15985
Error does not occur in the following environment
v 10.0.0-pre
sw_vers-productVersion
10.12.6

[2017-12-19 14:21] tebeka commented on #17756
Thanks @bnoordhuis . Is there an example on how to use `CreatePlatform`? If I change `Platform *platform = v8::platform::CreateDefaultPlatform();` to `auto platform = CreatePlatform(4, nullptr);` the code still segfaults.

[2017-12-19 14:57] marswong opened #17758 "feture request: "fs.readdir" support json option"
**description**

sometimes we may need to do some batch operation on a folder of json files, so it would be much more convenient to add an json option for `fs.readdir`, just like:

[code]

at present we can just get buffer objects, when the json object is nested, it bring much problems when parsing and translating the buffer.

[2017-12-19 15:23] joyeecheung commented on #17709
@apapirovski That sounds reasonable to me. In that case, maybe we should add a comment there about why this is throwing old-style errors.  @Xavier-J-Ortiz sorry for the fuss, can you change your PR to do that instead? Thanks.

[2017-12-19 15:26] jasnell commented on #17746
*if* we can get a reasonable fast path with the current pipe model (your second main bullet) then ok. For me, the requirement is not so much the specific API surface as much as it is having the ability to send file purely at the c++ level without pulling any of the chunks into JS.

The new streams API work that @Fishrock123 and I have (slowly) been looking at will make this far more efficient once

[2017-12-19 15:49] sedulous-mortal commented on #16103
I was able to get all my node processes to die directly from the Git Bash shell on Windows 10 by typing `taskkill -F -IM node.exe` - this ends all the node processes on my computer at once. I found I could also use `taskkill //F //IM node.exe`. Not sure why both `-` and `//` work in this context. Hope this helps!

[2017-12-19 16:09] benjamingr commented on #17740
I think we should give it a few days to see if @boneskull or anyone else is interested in pursuing a PR with an approach that would not make the code harder to maintain.

[2017-12-19 16:13] nadrane commented on #17750
Thank you all for the advice. I reached out on nodetodo.org and am looking forward to being assigned my first issue :)

[2017-12-19 16:34] Xavier-J-Ortiz commented on #17709
#17759
@joyeecheung Not a problem or a fuss. :)

Let me know if this is what you were thinking in terms of the comment.

[2017-12-19 17:14] hekod777 commented on #17745
Thank you very much!

Wrote my own polyfill to grab it  from response._headers

If Node 8 is approved, we won't even need this polyfill. I think things will be fine.

[2017-12-19 17:14] #17745 closed

[2017-12-19 17:17] emanuelecasadio opened #17760 "The first secureConnection event returns a TLS socket with an incomplete session"
* **Version**: v8.9.3
* **Platform**: macOS High Sierra (Version 10.13.2 (17C88)) MacBook Pro (15-inch, 2017) - Darwin Kernel Version 17.3.0: Thu Nov  9 18:09:22 PST 2017; root:xnu-4570.31.3~1/RELEASE_X86_64 x86_64
* **Subsystem**: tls

## Use case ##
I am trying to extract Session ID and Master Key from the server side TLS 1.2 session so I can successfully dump and decrypt secure traffic using Wi

[2017-12-19 17:35] hashseed commented on #17754
Comments welcome: https://chromium-review.googlesource.com/c/v8/v8/+/833874

[2017-12-19 17:37] pedro-pinho opened #17761 "Connect ECONNREFUSED Docker Softlayer"
* **Version**: 6.12.0
* **Platform**: Softlayer
* **Subsystem**: Docker

I started a very simple docker container with node-red inside.
The image build successfuly and I can access it from my browser

The problem is I cannot install anything on it.
I tried entering the docker and executing npm install there, tried from Dockerfile and finally tried from the node-red editor, all of them with the sam

[2017-12-19 17:50] cjihrig commented on #17761
Please ask support questions at https://github.com/nodejs/help. Thanks!

[2017-12-19 17:50] #17761 closed

[2017-12-19 17:58] MylesBorins commented on #17754
+1 to what everyone has said... doing it before 10.x would be most convinient

[2017-12-19 18:03] boneskull commented on #17740
News to me...

Considering this issue and previous poor experiences attempting to collaborate with Node core, I won’t be sending a PR.

[2017-12-19 18:04] j0t3x commented on #9160
I would like to take this as my second contribution, is this possible?. I'm currently checking os and module code. I'll come back as soon as I'm more comfortable with that.

[2017-12-19 18:06] SamanthaAdrichem commented on #16103
We're just running it in phpstorm now instead of git bash. phpstorm does propperly kill the process for it kills the terminal

[2017-12-19 18:37] ofrobots commented on #17754
+1 on ASAP.

Perhaps we can generalize this into a wish: *Generally speaking* for even-numbered releases I think we probably want to be pickup new versions, so we would prefer ABI stability (or easily patchable ABI differences) for the 'baking' period of those release lines. For Node 10 this would generally be the Feb-ish - Aug-ish timeframe. Immediately after an odd-number release is cut is proba

[2017-12-19 18:40] jasnell commented on #17754
Yes, before 10.0.0 would be best. So you know, I plan to cut the working v10.x branch around early to mid March, with a goal of beginning to reduce the semver-majors pulled in by April 1st. I will be looking to cut the 10.0.0 release the last week in April. My goal is to have at least two release candidates cut. I think that, ideally, whatever ABI changes are necessary here will sit in master for

[2017-12-19 18:43] ofrobots commented on #17754
One thing to keep in mind is that V8 branches a release line ~12 weeks before it goes stable. This means that the version of V8 that is intended to go into 10.0 will branch around three months before the release date for 10.

[2017-12-19 18:43] bmeurer commented on #17754
I'm also +1 on doing this ASAP (already LGTMed the upstream CL) given the information we have now.

[2017-12-19 19:26] apapirovski commented on #17760
Hmm, I'm unable to reproduce this on my Mac with 8.9.0 or 9.3.0. Didn't get a chance to try 8.9.3... Could you try on 9.3.0 and see if you run into the same issue?

/cc @nodejs/crypto

[2017-12-19 19:42] Trott commented on #17758
Wouldn't that work as expected with `fs.readdir(path, { encoding: 'utf8' })`?

`json` is not a valid value for an encoding. I think you may be confusing an encoding with a Mime-Type.

[2017-12-19 19:49] Trott commented on #17758
By the way, if I'm misunderstanding the request, maybe this will help: Can you provide:

*  a very short sample input file
* some code that uses it with the existing API that shows the problem
* some code that would use your proposed new API that shows how it would solve the problem

[2017-12-19 20:05] gibfahn opened #17762 "Investigate flaky parallel/test-listen-fd-ebadf"
* **Version**: v8.x
* **Platform**: Linux
* **Subsystem**: test

[code]

Looks like it also failed in https://github.com/nodejs/node/pull/15338#issuecomment-330198174 and https://github.com/nodejs/node/pull/8895#issuecomment-330723511

[2017-12-19 20:12] streeter commented on #17743
Thanks for the note @apapirovski. I adapted my example to create a socket, and pass it onward, but I'm still getting the same error. Here's the updated code:

[code]

I also tried to pass only the file descriptor to `new Socket`, but that gave the same result.

[2017-12-19 20:16] bacriom commented on #17746
Hi @jasnell, I'm new so I wanted to collaborate on this issue, can you tell me one task to start?

[2017-12-19 20:20] bnoordhuis commented on #17760
I suspect that your client sent a stale session id.  If the server is not willing or able to resume that session, it sends back a new session id in the server hello message and the current session id is kept blank.

[2017-12-19 20:33] apapirovski commented on #17743
This is not completely in my wheelhouse but I'm pretty sure you don't `connect`, instead just `on('data', fn)` and receive the data.

[2017-12-19 20:59] streeter commented on #17743
Ah, that worked! Thanks! Sorry for using this issue as though it were https://github.com/nodejs/help I thought this seemed more like an issue with setting the socket to writable, ignoring my input.

Appreciate it!

[2017-12-19 20:59] #17743 closed

[2017-12-19 21:02] apapirovski commented on #17743
@streeter No worries. Glad it worked! 😃

[2017-12-19 21:44] apapirovski commented on #17746
@bacriom Writing tests is always a great first thing to work on. For HTTP2, here are the coverage reports: https://coverage.nodejs.org/coverage-06033695ed0bfca5/root/internal/http2/index.html — just find an area that has missing coverage and work on tweaking an existing test or creating a new one.

Or outside of HTTP2, check out issues labeled as "[good first issue](https://github.com/nodejs/node/

[2017-12-19 21:50] bacriom commented on #17746
@apapirovski thanks! :)

[2017-12-19 22:00] not-an-aardvark opened #17764 "Feature request: Autocomplete filenames for `fs` functions in repl"
* **Version**: 9.2.1
* **Platform**: macOS Sierra
* **Subsystem**: repl

If I type the following code into the repl, and then press `tab`, a list of autocomplete suggestions appears for the `require`-able files in the current directory:

[code]

It would be nice if a similar thing would happen when calling methods like `fs.readFileSync`. Specifically, after typing the following code, I would want

[2017-12-19 23:11] camstuart commented on #5436
Hello everyone.

I also get this error. Originally I was using node 8.9.3 and this problem was occurring spasmodically. I upgraded to 9.2.0 and still, on occasion the problem arises.

My process is a long running 'service' that does http `POST`s to another nodejs service.
The http library I am using is: axios 0.16.2

And the error: `getaddrinfo ENOTFOUND`

Does anyone have a solution or workaround

[2017-12-19 23:29] Trott commented on #17740
Ref: https://github.com/nodejs/node/pull/10473#issuecomment-278468558

(Providing specific context for the previous comment, that's all. If anyone wants to have further discussion around that, the probable sensible places for it are probably the issue trackers for github.com/nodejs/community-committee/ and/or https://github.com/nodejs/TSC. This issue is probably not the place.)

[2017-12-19 23:48] Trott commented on #17762
@gibfahn Can you provide a link to CI? Even though they go stale quickly, they're still useful to know exactly what platform is involved, especially for things like this that are on "Linux"....

[2017-12-19 23:50] BridgeAR commented on #17758
I hope I understand the issue correct because `readdir` just returns a array of filenames and not their content.

I do not really see a way to improve this situation much. It should be pretty straightforward to implement something like this by parsing the result with JSON.parse.

There should not be any problem with JSON parsing and I am not sure what issues exist with nested objects.

E.g.
[code]

[2017-12-19 23:50] #17758 closed

[2017-12-20 02:28] marswong commented on #17758
I mean can we support a feature just like what HTML file input do? When you choose a directory or multiple files with the file input, you can get a fileList with everything you want inside, not just filenames and buffer objects.

As the example above, we still have to do `map` twice after a file I/O for now. Could we just put that chores in the I/O process optionally? Thank you :)

[2017-12-20 03:54] TimothyGu commented on #17691
Let us know if there are any follow-up questions, but I'll be closing this as it seems discussion has ended.

[2017-12-20 03:54] #17691 closed

[2017-12-20 04:10] BridgeAR commented on #17758
I just wrote it that way since it is good to read (that is also why I used the sync versions).

You can of course also write e.g.
[code]

What you are asking for is a npm module though. Just look for something that will read all files in a folder as npm module by passing it a directory path.

[2017-12-20 05:30] levimm opened #17779 "Add pumpMessageLoop for MultiIsolatePlatform"
Since  https://github.com/nodejs/node/pull/16981 has already exposed node::MultiIsolatePlatform for embedder. How could I do the pumpMessageLoop equivalent to this created platform?

[2017-12-20 08:38] starkwang commented on #17764
+1 on it. But there is a little difficulty to implement 100% of the feature.

Now we are using regular expression to match the code we want to autocomplete. It's easy to match something like `fs.someMethod('./`

But consider the following in REPL:

[code]

Or even odder:

[code]

We cannot use a single regular expression to match these. The most direct way is to match all the strings starting with

[2017-12-20 08:50] benjamingr commented on #17102
Landed :) Thanks for the suggestion and for sticking through for the discussions @ianstormtaylor. The contribution is appreciated.

The API should be available in Node v10.

[2017-12-20 08:50] #17102 closed

[2017-12-20 08:52] dandv opened #17785 "Specify which module was requested in "SyntaxError: The requested module does not provide an export named '...'""
I'm using `--experimental-modules` and find that when a module down the dependency chain doesn't export a symbol, it's hard to tell which module that was:

It would really help if Node included the name of the module that didn't provide that export.

[2017-12-20 09:27] targos commented on #17785
This can be fixed the same way as https://github.com/nodejs/node/issues/17277. I'm preparing a PR.

[2017-12-20 09:38] benjamingr commented on #17764
@starkwang I'm fine with only solving this for people explicitly typing `fs.someMethodSync(` followed by a string literal of some sort (',", or `)

[2017-12-20 09:51] bnoordhuis commented on #17764
Just noting that auto-completion of file names in large directories will freeze the REPL until #15699 is resolved.

[2017-12-20 09:54] targos commented on #17785
https://github.com/nodejs/node/pull/17786

[2017-12-20 10:04] gogym opened #17787 "crypto RSA"
* **Version**:
* **Platform**:
* **Subsystem**:

目前 crypto RSA 加解密无法与 JAVA 互通。Java 用的是  RSA/NONE/PKCS1Padding   希望支持它

[2017-12-20 10:14] bnoordhuis commented on #17787
Please try the help repo.

[2017-12-20 10:14] #17787 closed

[2017-12-20 10:19] bnoordhuis commented on #17779
Right now you don't.  Changes will have to be made but it's not clear yet what.

I'll close out this issue - #17254 is the best place to continue the discussion.

[2017-12-20 10:19] #17779 closed

[2017-12-20 11:21] gibfahn commented on #17475
Answered in https://github.com/nodejs/node/pull/17478#issuecomment-353037335 so we can keep the discussion in the PR, @odinho , @pimterry , or anyone else in this thread please feel free to reply there.

[2017-12-20 12:10] kamesh95 commented on #17746
Hey @jasnell, I am new to this open source community and would like to contribute. Can you help with any task to start over here? I work with node js daily at work. So I can start with javascript as well as C, C++ related code. Thanks!

[2017-12-20 12:18] mcollina commented on #17746
@addaleax `fs.createReadStream(…).pipe(http2stream)` will never be as fast as `respondWithFile`. The first needs to support multiple destinations in javascript, while the later is all implemented in the lower layers. Serving files has historically being extremely slow, and this is brilliant solution.

@jasnell I think we should add an `http2.Pool` object, to maintain a pool of sessions open, one f

[2017-12-20 13:58] apapirovski commented on #17747
The code clearly does work, so it seems like it's an issue with tracing its exact path. As @bnoordhuis pointed out, you can use `console.trace` to get a clearer picture.

Either way, this is not a bug in Node.js core and is better suited to https://github.com/nodejs/help

[2017-12-20 13:58] #17747 closed

[2017-12-20 14:50] quazzie opened #17789 "http_parser takes one byte to much, upgrade websockets"
* **Version**: v9.2.0
* **Platform**: Windows 64bit
* **Subsystem**: http_parser

http_parser takes one byte to much from this:
`HTTP/1.1 101 Switching Protocols
Upgrade: websocket
Connection: upgrade
Transfer-Encoding: chunked
Sec-Websocket-Accept: aFYFO80e6Cf2ijYLvl+mWNmnXtg=
Sec-Websocket-Extensions: permessage-deflate
Content-Type: application/octet-stream
Date: Wed, 20 Dec 2017 14:17:57 GMT
S

[2017-12-20 14:56] mercmobily commented on #13209
I just read the _whole_ thread and figured out that this only landed 9 days ago...
So, which version of node can I expect this gem of a commit to appear?
Thanks for implementing this BTW. Much needed!

[2017-12-20 15:06] TimothyGu commented on #13209
@mercmobily It landed on Nov 16. The one 9 days ago is in a fork. It will definitely be in v10.0.0, but needs manual backporting to v9.x per https://github.com/nodejs/node/pull/15566#issuecomment-350855867, which I have not been able to do :/

[2017-12-20 15:24] mercmobily commented on #13209
I am on 8.x, so I assume it will _never_ make it back here... which is OK. Thank you so much for the amazing work on it... async/await are the best things since sliced bread!

[2017-12-20 15:53] bnoordhuis commented on #17789
Can you post steps to reproduce?

[2017-12-20 16:18] quazzie commented on #17789
Hmm not really without setting up a whole system..

Server is homeassistant (http://hass.io).

Code to trigger error in node:
[code]

Tried to debug the internals of node but only got to socketOnData in _http_client.js
There i saw that parser.execute returned a length that takes an extra byte of the data.

[2017-12-20 16:23] quazzie commented on #17789
Maybe if one instantiated a http_parser and tried to parse the data i posted it could return the same error.. i'll have to check on that tomorrow.

[2017-12-20 16:55] ianstormtaylor commented on #17102
Thank you @benjamingr!!

[2017-12-20 20:18] gibfahn commented on #13209
@mercmobily FYI, the relevant bit is this:

![image](https://user-images.githubusercontent.com/15943089/34226810-d3666eca-e5c2-11e7-8a83-f18a70c6c5c2.png)

It should make it back to v8.x, although it will probably take a couple of months at least. You can subscribe to https://github.com/nodejs/node/pull/15566 to get updates on backporting.

[2017-12-20 20:19] gibfahn commented on #17762
It was on my local machine. It's a Rhel 7.2 x64 box.

[2017-12-20 21:47] jasnell commented on #17746
@mcollina ... +1 on the `http2.Pool` ... Feel free to add that to the list in the original post above with a bit of text explaining it.

[2017-12-20 21:48] jasnell commented on #17746
@kamesh95 ... a fantastic first task would be to look at improving test coverage and documentation. That's a fantastic starting point to begin learning the implementation details and helps us with a piece that is both critically important and definitely underserved at the moment.

[2017-12-20 22:02] Trott commented on #17762
Proposed fix in https://github.com/nodejs/node/pull/17797

[2017-12-20 22:38] bnoordhuis commented on #17789
A simple test case that starts a server with `http.createServer()` and sends a raw request with `net.connect()` and `socket.write()` is perfectly acceptable.  As long as it fails the same way on your and my machine.

[2017-12-20 22:47] Pummelchen opened #17798 "NAPI > Pass 2D Array ?"
Hello,

looking through the examples here there is missing a way to pass a 2D array.

https://github.com/nodejs/node/tree/master/test/addons-napi/test_typedarray

Instead to loop the content through 1D arrays, is there a way to send/receive a 2D array ?

Thanks

[2017-12-20 22:50] bacriom opened #17799 "doubt 'test-require-deps-deprecation' ?"
when I run the tests, the console shows the next error:

=== release test-require-deps-deprecation ===
Path: parallel/test-require-deps-deprecation
assert.js:42
  throw new errors.AssertionError(obj);
  ^

AssertionError [ERR_ASSERTION]: Missing expected exception.
    at Object.<anonymous> (/home/ocrisostomo/node/test/parallel/test-require-deps-deprecation.js:43:10)
    at Module._compile (module

[2017-12-20 23:20] Trott commented on #17799
@bacriom That's definitely not expected. Can you provide the output of these two commands when run from the project root directory?:

`./node -p 'require("acorn/dist/acorn")'`

`./node -p 'require("acorn/dist/walk")'`

This is a clean checkout freshly compiled with no modifications?

[2017-12-20 23:22] bnoordhuis commented on #9160
@j0t3x Let me know what you find or if you have questions.

[2017-12-20 23:23] Trott commented on #17799
(Never mind my previous (now-deleted) comment.)

@bacriom Looking at https://github.com/nodejs/node/issues/17148, this has been seen previously if you have the `NODE_PATH` environment variable set to some value that results in `acorn` being found in the module path. If you were running `make test`, perhaps try `NODE_PATH='' make test`?

[2017-12-21 00:07] mercmobily commented on #13209
Well actually just one hour ago bmeck is talking about reverting it...!

https://github.com/nodejs/node/pull/15566#issuecomment-353205819

[2017-12-21 00:23] bacriom commented on #17799
thanks, I tried with `NODE_PATH='' make test` and got the same result.

[2017-12-21 03:16] ghost opened #17801 "Inconsistent behavior with fs module accross platforms"
* **Version:** v9.2.0
* **Platform:** Windows 8.1, Windows 10, Ubuntu 17.10
* **Subsystem:** fs

In Windows, if a file name ends with forward slash (`/`), `fs` interprets it as regular file (like there is no slash at all) and does not throw any errors. In Linux, it throws error

[code]

IMO, fs should either throw the same error in Windows, or don't throw the error in Linux.

Of course, when we ta

[2017-12-21 03:43] Trott commented on #17799
Wrapping the `assert.throws()` in a `try` block with an empty `catch` block will indeed cause the test to ignore errors (test failures). That's basically telling the test file to ignore its test failures. Obviously, that's not what we want to do.

So, what's happening is the test is managing to load internal modules that it should not be able to load. This is usually because something somewhere ha

[2017-12-21 03:44] asbachb opened #17802 "verbatim flag for dns resolution does not change order"
* **Version**: v8.9.3
* **Platform**: 4.14.5-1-ARCH #1 SMP PREEMPT Sun Dec 10 14:50:30 UTC 2017 x86_64 GNU/Linux
* **Subsystem**: dns

I currently have some issues with dual stack ipv6 resolution. The nodejs dns module returns ipv4 address instead of expected ipv6.

I saw there was a PR which introduced a verbatim flag: https://github.com/nodejs/node/pull/14731

Based on the test (https://github.c

[2017-12-21 04:35] cjihrig commented on #17802
My understanding was that `verbatim` just means that the DNS results are not sorted. That doesn't guarantee that IPv6 will come first.

Side question: Why are you using `process.binding()` instead of `dns.lookup()`?

[2017-12-21 04:47] henrytseng commented on #14685
I noticed that Anaconda Python version string couldn't be parsed correctly for me.  Using Mac Python solved issue for me.

[2017-12-21 05:17] kamesh95 commented on #17746
@jasnell Thanks! I will start looking into the existing test cases and their flow to get a better understanding and then start contributing. :)

[2017-12-21 05:45] bacriom commented on #17799
ok, The outputs are:

What's the output of echo $NODE_PATH?
`empty line`

What's the output of ls $HOME/.node_modules?
`ls: cannot access '/home/ocrisostomo/.node_modules': No such file or directory`

What's the output of ls $HOME/.node_libraries?
`ls: cannot access '/home/ocrisostomo/.node_libraries': No such file or directory`

What's the output of grep node_prefix config.gypi when run from the

[2017-12-21 06:25] Trott commented on #17799
That looks like maybe you accidentally pasted the input as the output of the command?

[2017-12-21 06:44] bacriom commented on #17799
yes I was wrong, the output is:
` 'node_prefix': '/usr/local',`

[2017-12-21 06:46] targos commented on #17799
Maybe you have a `node_modules` directory that contains one of the deps somewhere between your Node.js clone and `/` ?

[2017-12-21 06:48] targos commented on #17799
Can you try to add `console.log(require.resolve(m));` in the test?

[2017-12-21 06:50] Trott commented on #17799
(Can you also confirm that `/usr/local/node_modules` does not exist?)

[2017-12-21 06:58] Trott commented on #17799
Oh, yeah, that's probably where we should have started with troubleshooting.

@bacriom Since we know it's one or both of two modules, you can (if you want) skip trying to add that to the test and instead run these from the command line:

`./node -p 'require.resolve("acorn/dist/acorn")'`

and

`./node -p 'require.resolve("acorn/dist/walk")'`

When things work as expected, both of those return error

[2017-12-21 07:08] bacriom commented on #17799
I got the next directory when I ran  `./node -p 'require.resolve("acorn/dist/acorn")'` :
`/home/ocrisostomo/node_modules/acorn/dist/acorn.js`

also, I got the same directory to "acorn/dist/walk"

[2017-12-21 07:53] quazzie commented on #17789
Testcase:
`need` is the data i was expecting back after the upgrade.
But the data i get is missing the first websocket framing byte (contains FIN and OPCODE).

[code]

[2017-12-21 07:57] quazzie commented on #17789
Or need can even be a slice of response for better clarity maybe.
`const need = response.slice(-45);`

[2017-12-21 09:04] bzoz commented on #17801
Thanks for reporting this issue!

So
[code]
- on Windows creates file `test` with `smth` inside,
- on Linux it fails with `Error: EISDIR: illegal operation on a directory, open 'test/'`

Yep, this looks like a bug for me.

@nodejs/fs

[2017-12-21 10:43] asbachb commented on #17802
I also had some windows test system which results in:
[code]
So I don't get when the verbatim flag is doing anything.

@cjihrig, Since dns.lookup didn't returned the expected result I dived a little bit deeper unto dns.js and saw that in my use case only the first result of getaddrinfo is used: https://github.com/nodejs/node/blob/master/lib/dns.js#L95-L104
So I wrote a test case based on `process.

[2017-12-21 10:50] bnoordhuis commented on #17802
`verbatim` does exactly what it says - when true, it returns the results as it receives them from the resolver.  (I'm basically restating what Colin already said...)

If you only want IPv6 results, query for AAAA records.  I'll close this out.

[2017-12-21 10:50] #17802 closed

[2017-12-21 11:50] asbachb commented on #17802
Just to complete this one. I did the mistake to run this on the wrong machine. On a host with correct ipv6 configuration the test code results to:

[code]

[2017-12-21 11:51] hashseed commented on #17754
Upstream change landed already.

[2017-12-21 11:51] #17754 closed

[2017-12-21 11:55] #17641 closed

[2017-12-21 11:59] surajwy commented on #17541
I tried node v6.12.2 and I am getting these crash logs in /var/log/messages.

[code]

However, my app's stderr has not logged anything yet. Will share it once I get something in stderr.

[2017-12-21 12:02] fhinkel commented on #17481
See https://chromium.googlesource.com/v8/v8/+/d5fbf7c5c3f8f9b46b75f674771f3533c7e3e24d. Let's give it some canary coverage, then we can backport it. Thanks @TimothyGu

[2017-12-21 12:03] fhinkel commented on #17480
Thanks! Landed in https://chromium.googlesource.com/v8/v8/+/d5fbf7c5c3f8f9b46b75f674771f3533c7e3e24d. Let's give it some canary coverage, then we can back port it.

[2017-12-21 13:30] bnoordhuis commented on #17789
Thanks, I can reproduce and a fix is on the way.

I'm surprised this bug managed to stay hidden for so long.  I thought at first it must be a recent regression but it seems to have been around for some time.

[2017-12-21 13:33] Leko commented on #17731
@bnoordhuis @apapirovski
Thank you for your information.

I didn't know that. I'd misunderstood.

I'll try to reach this condition.

[2017-12-21 13:50] #983 closed

[2017-12-21 13:58] surajwy commented on #17541
Here is one extract from app's stderr

[code]

[2017-12-21 15:33] liqyan commented on #17058
Hi hashseed, i have an experimental implemention [here](https://github.com/alibaba/nodejs-with-snapshot). It roughly works.

Just like points you wrote in [design doc](https://docs.google.com/document/d/1YEIBdH7ocJfm6PWISKw03szNAgnstA2B3e8PZr_-Gp4/edit*), i do:
  * splitting up node\_bootstrap.js's startup into two functions: bootstrap and new startup, for node\_mksnapshot, bootstrap is the entry,

[2017-12-21 15:48] hashseed commented on #17058
Wow. That's a big surprise. I'll definitely check out your implementation once I have some time.

I must admit that I haven't actually pursued my prototype much further in the last couple of weeks since I haven't had time and had to wrap up a few other projects at the end of the year.

When you say "external references registering and c++ function binding looks like redundantly" do you mean it's n

[2017-12-21 15:52] Trott commented on #17799
Cool, so the problem is that `acorn` is being found in the `node_modules` in your home directory. If that directory is there by accident (ran `npm install something` in your home directory one time), you can remove it. If you're using it , or to be safe, you can rename it instead. That should make the test (and `make test`) pass.

[2017-12-21 18:28] bacriom commented on #17801
Hi ! I'm looking where I can collaborate and, I'd like work on this

[2017-12-21 19:01] TimothyGu commented on #17798
That example uses TypedArrays, which doesn’t have a concept of 2D arrays. I assume you would either want to use plain Arrays (https://github.com/nodejs/node/blob/master/test/addons-napi/test_array/test_array.c) or invent your own convention for storing 2D arrays in a 1D array (e.g. for a 16-column 2D array, 0 = row 0 column 0, 15 = row 0 column 15, 16 = row 1 column 0, etc.).

[2017-12-21 19:19] chicoxyzzy commented on #13209
This is actually good news

[2017-12-21 19:45] #17799 closed

[2017-12-21 21:14] iansu commented on #17709
@acparas Are you still working on `lib/_http_outgoing.js`? If not I'd like to give it a try.

[2017-12-21 22:30] acparas commented on #17709
Yes! Been busy the last couple days, but I’m working on it now.---- On Thu, 21 Dec 2017 13:16:01 -0800  Ian Sutherland<notifications@github.com> wrote ----@acparas Are you still working on lib/_http_outgoing.js? If not I'd like to give it a try.  —You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-12-21 23:13] #17762 closed

[2017-12-22 00:30] rvagg commented on #4270
A lot of extra discussion on this has moved to https://github.com/nodejs/node/pull/16130

Summary is: you can now compile against 1.1.0 and it works great, we're even testing it in CI for every new commit on 8,9,10 (I may be wrong on 8, don't have it in front of me). Unfortunately 1.1.0 isn't a long-term supported release line from OpenSSL and we're still waiting to hear what the next one will be

[2017-12-22 00:46] Fishrock123 commented on #17789
I guess people don't often send body data in upgrade requests? Good catch either way.

@quazzie thanks for coming up with a testcase!

[2017-12-22 01:00] streamich opened #17816 "_mustCallInner"
Where is `_mustCallInner` function defined? I see a this function call here:

https://github.com/nodejs/node/blob/master/test/common/index.js#L496

but I don't understand where it is defined.

[2017-12-22 01:00] #17816 closed

[2017-12-22 02:05] liqyan commented on #17058
@hashseed

What i want to say is c++ functions binding in node builtin addon initialization procedure, and registering these c++ functions to SnapshotCreator while creating snapshot or to Isolate while booting from snapshot, do similar things, like env->SetMethod(target, name, api_callback), or external_references[idx]=api_callback. If there's a way to do these things in one mechanism, it'd be gre

[2017-12-22 02:54] fs-eire opened #17817 "[RESOLVED] Node addon which uses `std::unordered_set` will crash on Node.js 9.3.0"
* **Version**: 9.3.0
* **Platform**: Linux ubuntu 44.0-31-generic #50~1404.1-Ubuntu SMP Wed Jul 13 UTC 2016
* **Subsystem**:

A simple node addon which uses `std::unordered_set` will crash on Node.js 9.3.0

• This crash starts in commit cf7e15c . ( identified by `git bisect` )
• Happens in Ubuntu **14.04**. Does NOT happen on Windows/mac OS/Ubuntu **16.04**
• Happens in **G++5.x** and **G++6.x**.

[2017-12-22 10:00] hashseed commented on #17058
I opened an issue on V8 to track implementing serializer/deserializer support for external strings: https://bugs.chromium.org/p/v8/issues/detail?id=7240

I have some other ideas than the one you implemented. I'll work on that and land that upstream.

[2017-12-22 10:30] perfx360 commented on #17732
Downgrade the node version should be fine.

[2017-12-22 11:07] hashseed commented on #17058
I took a look at the changes that affect V8:
1. [deps: v8: serialize/deserialize external string table correctly](https://github.com/alibaba/nodejs-with-snapshot/commit/3115086c6c58c6cc22988cc1b6af2bbe4a58cd0f)
2. [deps: v8: support ser/des global/eternal handles]
3. [deps: v8: support visit external string](https://github.com/alibaba/nodejs-with-snapshot/commit/90475d1b9bdf101b9d309f16f51afeed518

[2017-12-22 12:33] wilhelmmatilainen opened #17819 "Calling n-api methods from own separate thread"
* **Version**: v9.3.0
* **Platform**: Arch Linux 64-bit, Kernel 4.14.6

I'm trying to create a module that has an application compiled within.
The application itself needs own thread to allow node keep running simultaneously.
When the application calls n-api functions from its own thread, node will crash.
Probably a related issue is that the documentation states the environment variable must not b

[2017-12-22 12:34] Tiriel commented on #17148
Okay, this was a long time ago, but I finally had the time to put some more tests to it.

Simply checked `require.resolve('acorn/dist/acorn'))` in `test-require-deps-deprecation.js`. It appears it's loaded from `$HOME/node_modules` (without the dot).
To be a bit more specific, `require.resolve.paths('/acorn/dist/acorn')` indicates that it finds acorn simply by iterating up through my folder struct

[2017-12-22 16:45] benjamn commented on #14794
Has anyone tried using `async_hooks` in an application that uses multiple threads?

V8 supports a kind of cooperative multithreading, provided you use `v8::Locker` and `v8::Unlocker` to lock the `Isolate` object correctly, but it appears there's just one `async_ids_stack_` for the whole `node::Environment`, and it doesn't get unwound/archived/restored when switching between threads.

Here's an exa

[2017-12-22 16:48] benjamn commented on #14717
Has anyone tried using `async_hooks` in an application that uses multiple threads?

V8 supports a kind of cooperative multithreading, provided you use `v8::Locker` and `v8::Unlocker` to lock the `Isolate` object correctly, but it appears there's just one `async_ids_stack_` for the whole `node::Environment`, and it doesn't get unwound/archived/restored when switching between threads.

Here's an exa

[2017-12-22 16:49] Aarbel opened #17821 "Request : create a Node.js community on Slack or Discord"
Hi Node.js team !

Could you create a public Slack or Discord team ? :raised_hands:
(http://nodeslackers.io/ is not official & down ++ #node.js and #node-dev IRC is so cancerously 2010 ... )

Could be absolutely awesome for the community !  🎉

Thanks a lot !

[2017-12-22 17:15] Trott commented on #14070
alpine35-container-x64 too.

https://ci.nodejs.org/job/node-test-commit-linux/15151/nodes=alpine35-container-x64/consoleText

[code]

[2017-12-22 17:31] Trott commented on #14070
I think I know what's probably causing this....but first let me see if I can reproduce it...

Stress test with `-j 96 --repeat 192 test/async-hooks/test-signalwrap.js` on alpine34: https://ci.nodejs.org/job/node-stress-single-test/1571/nodes=alpine34-container-x64/

[2017-12-22 17:40] ugexe opened #17824 "stdio: 'inherit' not consistent when using windowsHide: 'true'"
On windows with VS2017 the recently added `windowsHide` flag breaks consistency with the `stdio` flag. For instance something like the following command does what I'd expect on every platform I've tried except VS2017:
`node -e "const cp = require('child_process'); { const bat = cp.spawn('cmd.exe', ['/k', 'dir'], { stdio: 'inherit', detached: false, windowsHide: true }); }"`

This means you must ta

[2017-12-22 17:46] maclover7 commented on #17821
Hi @Aarbel! To clarify, is this intended for community help purposes, or for things related for development within core? There is already the `#node-dev` IRC channel on freenode where many collaborators/TSC members chat.

[2017-12-22 18:19] Trott commented on #14070
Also, with `-j 1 --repeat 192 test/async-hooks/test-signalwrap.js`:  https://ci.nodejs.org/job/node-stress-single-test/1572/nodes=alpine34-container-x64/

[2017-12-22 18:20] Trott commented on #14070
Oh, thank goodness, the first one (`-j 96`) managed to reproduce the issue:

[code]

[2017-12-22 18:24] Trott commented on #14070
Proposed fix: https://github.com/nodejs/node/pull/17827

[2017-12-22 21:17] bnoordhuis commented on #17819
Duplicate of https://github.com/nodejs/help/issues/1035.  nodejs/help is the right place for questions/support.

[2017-12-22 21:17] #17819 closed

[2017-12-22 22:26] #17694 closed

[2017-12-22 22:51] maclover7 commented on #17637
Hmmmm, so I didn't think #17724 would fix this (was focusing on the child process doc issue when landing), but _looks_ like it did locally on my machine. Are other people seeing this too? You can verify by checking for `curl(1)` in `repl`, and `uname(3)` in `os`. Going to let the nightly run and check back tomorrow.

[2017-12-22 22:58] Trott commented on #17148
@Tiriel I propose this: Change the `require()` in the test to be `require.resolve()`. If it throws, the test passes. If it returns a string other than `acorn/dist/acorn`, then it passes. If it returns exactly `acorn/dist/acorn`, then it fails.

I'm happy to put that together as a PR, but would be even happier to see you do it. Let me know. :-D

[2017-12-22 23:17] Trott commented on #17821
@nodejs/community-committee

[2017-12-23 00:21] AndreasMadsen commented on #14717
@benjamn Please open another issue, then we can discuss it there.

[2017-12-23 01:41] t0d0r commented on #4671
while (true) {
  console.log("hell0");
}

[2017-12-23 06:12] imZack commented on #17664
+1, we should have something like `net.createServer({ ipv6only: true })` https://github.com/nodejs/node/issues/9390#issuecomment-257518895

[2017-12-23 06:52] Tiriel commented on #17148
@Trott awesome thanks !

I’ll open a PR later today !

[2017-12-23 07:15] RahulTheVirus commented on #13451
install gcc & g++
For example In linux kali run this in terminal

 `apt-get install gcc   g++`

for ubuntu use sudo before apt
Then replace path with correct path
In my case # include <arm-linux-gnueabihf/bits/predefs.h>

[2017-12-23 07:46] Melaxo opened #17834 "Peerflix causing MacOs High Sierra to shutdown unexpectedly"
* **Version**: 9.3.0 (not sure - newbie user)
* **Platform**: MacOs
* **Subsystem**: npm (?)

Hi, I just wanted to use peerflix so I installed Node.js (9.3.0). Afterwards through the command line I installed peerflix using "npm install peerflix". But in under a minute my laptop just shutdown for no reason. It did that for 3 more times. I reformatted my drive and everything was fine. It seems the p

[2017-12-23 11:15] Aarbel commented on #17821
@maclover7 **for community help purposes** (but it could also be a more comfy environment for core development chats)

Yes i know #node-dev IRC channel, but it's quite messy and it doesn't bring the value of a full community team on Discord or Slack ;)

Goal : make Nodejs even more sexy (Docker has a great Slack / Discord public community team, React / react Native too, Ruby too, etc...)

[2017-12-23 11:22] bnoordhuis commented on #17821
For a bit of historic background, core discussion was moved out of #node.js around 2011 when that channel got too big.  The bigger the channel, the harder it is to have focused discussion.

[2017-12-23 11:38] Aarbel commented on #17821
Those kind of tools (Slack, Discord) also help to reduce the amount of non relevant issues posted on github

[2017-12-23 13:17] Bamieh commented on #17834
Just giving my two cents here:

Looking at [peerfix issues](https://github.com/mafintosh/peerflix/issues), it seems that parts of their code (or the libraries they use) is processor specific, and their issue tracker is filled with issues about the code exiting/failing on ARM processor and Linux etc.

A hint for you: Maybe try a different library with similar implementation?

For node, maybe someon

[2017-12-23 13:19] ArtemAdamenko opened #17839 "remote debug fail"
I have docker container, nodejs application and webstorm
When i try debug, after some breakpoints i always have

`/usr/bin/node[35]: ../src/node.cc:1460:void node::InternalCallbackScope::Close(): Assertion `(env_->trigger_async_id()) == (0)' failed.
 1: node::Abort() [node]
 2: node::Assert(char const* const (*) [4]) [node]
 3: node::InternalCallbackScope::~InternalCallbackScope() [node]
 4: node:

[2017-12-23 13:33] bnoordhuis commented on #17839
Can you fill out the issue template?  It's there for a reason.

[2017-12-23 13:34] bnoordhuis commented on #17834
@Melaxo Please report this to peerflix first.  If it's a node.js issue, its maintainer can forward the bug report to us.

[2017-12-23 13:34] #17834 closed

[2017-12-23 15:44] Trott opened #17840 "Investigate test-http2-createwritereq failure on Linux and AIX"
* **Version**: 10.0.0-pre
* **Platform**:  aix61-ppc64
* **Subsystem**: test http2

https://ci.nodejs.org/job/node-test-commit-aix/11376/nodes=aix61-ppc64/console

[code]

[2017-12-23 15:44] Trott commented on #17840
I guess I'll start by pinging the test author: @apapirovski

[2017-12-23 15:47] Trott commented on #17840
Signal 11 = segmentation fault. I'm guessing AIX on CI is not configured to preserve core files, but let's ask. Ping @nodejs/build.

[2017-12-23 15:47] Trott commented on #17840
And ping @nodejs/platform-aix for additional troubleshooting and/or suggestions on how to proceed.

[2017-12-23 15:53] Fishrock123 commented on #17821
there's like 10 other threads on this buried somewhere

maybe eventually I'll get to doing a writeup on why we should move to Discord (haha, no I won't actually get to it)

[2017-12-23 15:56] Trott commented on #16772
Back to a timeout on Windows:

https://ci.nodejs.org/job/node-test-binary-windows/13846/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=1/console

[code]

[2017-12-23 16:01] Trott commented on #16772
It does appear that this test takes an unusually large amount of time to run:

[code]

In comparison, the test takes less than a second to run on (for example) our CentOS 7 test machine:

[code]

That's quite a difference....

[2017-12-23 16:08] Trott commented on #16772
If we could get the output of the test when it times out, that would let us know how far along it got. (One reason I'm not super-excited about the tendency to remove `console.log()`/`console.error()` statements from tests.)

@refack Any chance you can run the test locally and get an idea where it seems to do al its waiting?

[2017-12-23 16:09] Trott commented on #16772
@nodejs/platform-windows

[2017-12-23 16:17] Trott commented on #17821
This is the relatively-recent discussion about this: https://github.com/nodejs/community-committee/issues/11

[2017-12-23 17:01] addaleax commented on #17840
Is there any way to run stress tests at a given git SHA or something like that? https://github.com/nodejs/node/pull/17406 or https://github.com/nodejs/node/pull/17718 would seem like possible causes to me

[2017-12-23 17:06] Trott commented on #17840
In the past, I've created branches at specific SHAs, pushed them to my fork (possibly to my `master` branch, I can't remember if I got it to work off another branch or not), and run the stress test off of my fork.

[2017-12-23 17:12] Trott commented on #17840
I guess it might make sense to run a stress test against master to see if this is reproducible.

Running it serially: https://ci.nodejs.org/job/node-stress-single-test/1574/nodes=aix61-ppc64/

Running it in parallel (96 processes): https://ci.nodejs.org/job/node-stress-single-test/1575/nodes=aix61-ppc64/

[2017-12-23 17:37] Trott opened #17842 "CONTRIBUTING.md improvements"
* **Version**: n/a
* **Platform**: n/a
* **Subsystem**: doc

A problem with our `CONTRIBUTING.md` is that it is very long and is often needlessly wordy.

Most people who are reading the doc are probably clicking through to it from the interface where they are opening a pull request or an issue.

In other words, they are just about to do something. That is a terrible time to put a super long docume

[2017-12-23 17:58] Ulmanb opened #17844 "Is overriding protection for .off appropriate?"
Hey, Follow up on  #17156 ,
Do you think a PR on the matter of overriding protection for .off is appropriate, and if so, what scenarios should be regarded?

[2017-12-23 18:01] Melaxo commented on #17834
Hi,

Sorry, as I said on my report, I’m a newbie. Should I be reporting it to npm?

Thanks.

[2017-12-23 18:04] addaleax commented on #17844
What would the motivation for forbidding overriding be?

[2017-12-23 18:08] joyeecheung commented on #17842
Big +1 to simplify CONTRIBUTING.md and list links there instead of leaving a wall of text. I would say the same should be done to COLLABORATOR_GUIDE.md as well, there are a few overlaps in those two guides, we can merge those in one document and link to that in both guides.

[2017-12-23 18:14] bnoordhuis commented on #17834
No, try https://github.com/mafintosh/peerflix/issues.

[2017-12-23 18:48] Melaxo commented on #17834
Ok thanks Ben.

Sent from my iPhone

[2017-12-23 19:45] silverwind commented on #17664
Putting it on `createServer` seems wrong to me, it's a flag specific to the listen action, so should be on listen/bind.

[2017-12-23 22:33] vsemozhetbyt commented on #17637
As per the last nightly, this seems to be fixed as well. Thanks!)

[2017-12-23 22:33] #17637 closed

[2017-12-23 22:49] vsemozhetbyt commented on #17086
FWIW, the output in v10 (nightly and canary) is colorless as well.

[2017-12-23 23:05] avesus commented on #2760
Node 9.3.0 still not supported.

[2017-12-23 23:17] vsemozhetbyt opened #17846 "doc: v8docs.nodesource.com links issue"
We have a link [here](https://github.com/nodejs/node/blob/master/doc/api/v8.md#v8getheapspacestatistics) to this doc part:

https://v8docs.nodesource.com/node-8.0/d5/dda/classv8_1_1_isolate.html#ac673576f24fdc7a33378f8f57e1d13a4

It is 404 now. It seems the v8docs.nodesource.com is now synchronized with the last Node.js versions [up to the minor number](https://v8docs.nodesource.com/), so the link

[2017-12-23 23:24] devsnek commented on #2760
@avesus i believe modules are slated for node 10 (not sure about backporting either). however you *can* use them in nightly builds with `--experimental-modules`

[2017-12-24 03:29] maclover7 commented on #17846
Do we have any personal contacts with the people that run the site? Maybe they could create a "latest-v8.x" like what we have for nodejs.org docs, and we could use that?

[2017-12-24 05:06] gireeshpunathil commented on #17840
Ran a 2000 times locally with no luck on recreate. Either wait for @apapirovski to seek hints on possible causes, or gain login access to CI. /cc @mhdawson @gibfahn

The test does not seem to use too much of memory (few bytes of data transported through http2 and validate it passes through properly with differing encodings) which rules out native memory constraints as a source of trouble (which wa

[2017-12-24 05:07] Trott commented on #13227
More than six months without a re-occurrence. Going to close this...

[2017-12-24 05:07] #13227 closed

[2017-12-24 05:08] Trott commented on #13642
More than six months without a re-occurrence. Going to close this...

[2017-12-24 05:08] #13642 closed

[2017-12-24 05:14] Trott commented on #1885
I'm going to close this dormant issue that I originally opened 2.5 years ago. 😮  It's not clear to me that it's a bug as opposed to a timing issue. No one seems to be actively working on it nor does it seem to be affecting users.

[2017-12-24 05:14] #1885 closed

[2017-12-24 05:15] Trott commented on #1885
(Of course, if you think I'm wrong to close it, re-open if GitHub lets you, or leave a comment indicating that you believe it should be re-opened.)

[2017-12-24 05:18] Trott commented on #17840
Reproduced it in CI stress tests, so at least it's reproducible in that environment. Running serially, it got 31 failures in 9999 runs:

[code]

...so running under load is not a precondition for failure (and therefore a simple solution of moving to `sequential` is not a solution)...

[2017-12-24 06:06] joyeecheung commented on #17846
cc @bnb

[2017-12-24 06:07] vsemozhetbyt commented on #17846
As per https://nodesource.com/about#team, cc also @fishrock123, @rvagg, @trevnorris

[2017-12-24 06:36] #17603 closed

[2017-12-24 07:04] sebdeckers commented on #17746
@jasnell wrote:

@mcollina wrote:

Not exactly one-to-one. For the design of this pool, do keep in mind that HTTP/2 already supports coalescing, and proposals like [Alt Svc](https://www.mnot.net/blog/2016/03/09/alt-svc) or [Secondary Certs](https://datatracker.ietf.org/doc/draft-ietf-httpbis-http2-secondary-certs/) push in the same direction.

Note also that head of line blocking under TCP congest

[2017-12-24 12:47] benjamingr commented on #17821
We already don't moderate IRC particularly well.

The problem with endorsing another space like Slack or Discord is that we'd have to make sure it abides to our community standards. We'd need to be able to enforce that the channel is harassment free and doesn't devolve into toxicity.

For starters - let's not use sexualized language to describe the project 😅 You might be surprised but there are pe

[2017-12-24 12:52] benjamingr commented on #17844
Copying comment by @ChALkeR in [this comment](https://github.com/nodejs/node/pull/17156#issuecomment-351558744):

Everyone, do you think if an attempt to override it should _warn_ users? Such overriding would mean one of two things:
1. It's being overriden with an exact same alias. This case is fixeable in userland with a simple check in the lib that tries to set the alias.
2. It's being overriden

[2017-12-24 12:52] apapirovski commented on #17840
I don't think that test does anything particularly weird. If I had to guess, other http2 tests that write stuff might be flaky on that platform too. It's reasonably likely that the recent changes to http2 are responsible. I'll try to have a look when I have time but as @addaleax mentioned, a good place to start is running a couple of stress tests against master rewound to the two PRs above.

[2017-12-24 13:08] devsnek commented on #17821
i don't think i've ever seen a slack that has devolved into toxicity, but i think every single discord has probably been there at some point. slack does a fantastic job of making you feel like you're an actual member of whatever thing you've joined because you sign up to the slack server not the slack service. discord is my personal favorite but your interface into discord is the service, not the

[2017-12-24 14:00] seishun commented on #17086
The regression was introduced again in 727339e9c276748d7b4efa066b72e05a1d60a4b9 (PR: https://github.com/nodejs/node/pull/17565). cc @bnoordhuis

[2017-12-24 14:19] gireeshpunathil commented on #17840
thanks @apapirovski . @Trott - is it (artificially rewinding the two PRs and running stress on it) something which can be done through the existing build jobs or custom scripts?

In terms of isolation: both the PRs contain considerable amount of code changes that makes it difficult for me to manually locate the crash reason. On the other hand, if we isolate the issue into one of these PRs, still t

[2017-12-24 15:39] liqyan commented on #17058
@hashseed

You solved the issue by skipping visiting external string table, much more compact.

The thoughts on commit(2) are very good, i'll refact the part. i'am glad if i could help.

a bit like, we can delay adding external references for serializing, while i haven't figure out a way for deserializing yet.

[2017-12-24 15:57] hashseed commented on #17058
Regarding serializing and deserializing global handles, I tried to do this in my prototype without changing the V8 API too much. I ran into limitations though. But maybe there is some ideas there you could reuse:
- For context-dependent global handles, you could simply store them onto the context via `v8::Context::SetEmbedderData` before serialization. You can restore them via `v8::Context::GetEmb

[2017-12-24 16:06] benjamingr commented on #17821
I have. I've seen slacks where abuse was rampant and the environment was plenty toxic. I'm not saying ours will be toxic (it won't) but the platform doesn't make it any harder IMO.

----

(As a side note, I'm +1 on this whole chat thing in general)

[2017-12-24 16:06] mannanali413 commented on #17842
@joyeecheung and @Trott I can take this up.

[2017-12-24 16:10] cPhost commented on #17821
Hey, on this topic i have a suggestion use zulip.
Reason why, there are actually lot:
* You can have stream private and public
* You can setup lots of integrations example include Jenkins, Travis CI and a lot of them
* You have bots like `Travis Bot` or `Commit Bot` that can write that posts commits on master and build status.
* Custom Emoji you can upload as images.
* Its on all platforms Mobile,

[2017-12-24 16:21] Trott opened #17849 "investigate flaky addons/stringbytes-external-exceed-max/test-stringbytes-external-exceed-max-by-1-hex"
* **Version**: v10.0.0-pre
* **Platform**:  alpine35-container-x64/
* **Subsystem**: test

https://ci.nodejs.org/job/node-test-commit-linux/15185/nodes=alpine35-container-x64/console

[code]

[2017-12-24 16:40] #17785 closed

[2017-12-24 16:48] Trott commented on #17840
Stress test rewound to e0e6b68 (right after #11718 landed): https://ci.nodejs.org/job/node-stress-single-test/1576/nodes=aix61-ppc64/

Stress test rewound to e3b44b6 (one commit before the above so that it's just the first of the two commits that landed in #11718): https://ci.nodejs.org/job/node-stress-single-test/1577/nodes=aix61-ppc64/

Stress test rewound to e554bc8 (right before #11718): https

[2017-12-24 17:04] Mickael-van-der-Beek opened #17850 "No DNS Search Domain support in C-Ares calls"
* **Version**: node:9.2.0-slim (Docker image)
* **Platform**: Linux 8f48fe466727 4.9.49-moby 1 SMP Fri Dec 8 13:40:02 UTC 2017 x86_64 GNU/Linux
* **Subsystem**: dns

It would seem that currently, Node.js calls through the C-Ares DNS resolver (`resolve4()` and `resolve6()`) don't support search domains.

Is this a bug? If not, are there current or planned configuration options to specify them?
Shou

[2017-12-24 17:16] benjamingr commented on #17821
@cPhost are you affiliate with zulip in any way?

[2017-12-24 17:18] cPhost commented on #17821
@benjamingr no i am not but i am working on tasks because of Google Code-In and so i know all of the team.

[2017-12-24 18:39] ljharb commented on #17844
I think a simple warning when .off is overridden with anything besides removeEventListener (the current value) should suffice. When it’s overridden with the correct value, i think it’s fine and no warning is needed.

[2017-12-24 18:59] addaleax commented on #17844
@benjamingr It isn’t quite clear from that comment, but I think that means what you are talking about is `.off` being set as a property on an EventEmitter *instance*, not overriding `EventEmitter.prototype.off` itself (which is what I thought when I read “overriding”)… is that correct?

[2017-12-24 19:01] ljharb commented on #17844
My interpretation was about monkeypatching the prototype; it’s perfectly fine for someone to do anything they like to the instance.

[2017-12-24 19:21] addaleax commented on #17844
It’s weird, but my thinking would be reversed I guess? Maybe there’s something special about `off` that I’m not seeing, but generally, monkeypatching seems like something that should be allowed?

Since the API here is well-defined, it should be safe for userland to override it as long as they know they are overriding it, right?

I can see how people might be surprised to find out that `this.off =

[2017-12-24 19:23] Trott commented on #17840
@gireeshpunathil Stress tests aren't done running yet, but it sure looks like the issue is probably with e0e6b68. (Stress test at that commit failed, and the stress test at each of the two commits before it are both clean so far....

[2017-12-24 19:28] ljharb commented on #17844
Shadowing a prototype method on an instance only risks surprising/breaking the tiny segment of code that interacts with it, which will likely be located nearby. Monkeypatching a prototype affects all code in the entire process.

[2017-12-24 22:13] TimothyGu commented on #17844
I’m okay with making `off` a setter that’ll warn if the prototype’s method gets overridden.

[2017-12-24 22:55] maclover7 commented on #14014
Did a [stress test](https://ci.nodejs.org/job/node-stress-single-test/1580/), and it looks like this test is working better now. Since no reports for several months, going to close this. Please open if I'm mistaken, or if test starts flaking again :)

[2017-12-24 22:55] #14014 closed

[2017-12-25 00:24] WitchGoddess opened #17854 ""SyntaxError: Unexpected token ILLEGAL" when trying to run npm"
* **Version**:
* **Platform**:
* **Subsystem**:

When I try to run npm -v or any other command, I get this error string.
[user@server bin]$ npm -v

/home/user/nodejs/lib/node_modules/npm/lib/utils/unsupported.js:27
        console.error(`a bug known to break npm. Please update to at least ${r
                      ^
SyntaxError: Unexpected token ILLEGAL
    at Module._compile (module.js:439:25)

[2017-12-25 02:03] starkwang commented on #17854
The node version you actually using is v0.10.48, not v8.9.3.
The template string syntax using in your npm is not supported in node v0.10.48 so it throws an error. Maybe you can fix it by updating your node to v8.x.x.

[2017-12-25 02:06] Trott commented on #17840
Stress tests are done and the evidence does point to e0e6b68....

[2017-12-25 02:18] Trott commented on #17854
Hi! This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like this one, please file an issue on our help
repo. https://github.com/nodejs/help

Thanks!

[2017-12-25 02:18] #17854 closed

[2017-12-25 02:23] Trott commented on #17854
To add to what @starkwang said: If you've installed a newer version of Node.js but it is not the version you get when you type `node -v`, then you'll need to change things so that the old version of `node` isn't appearing in your PATH before the new version. Possibilities there include:

* uninstalling the old version of `node`
* changing your `$PATH` environment variable such that the new version

[2017-12-25 02:29] maclover7 commented on #17043
@joyeecheung (or anyone else) has this error resurfaced after #17048 landed?

[2017-12-25 02:32] yangjingzwb commented on #15799
Hello, is the problem solved? I have the same problem.

[2017-12-25 02:40] maclover7 commented on #13899
Since the fix landed, going to close out this issue. If the tests starts to become flaky again, or if this needs to stay open, please reopen the issue :)

[2017-12-25 02:40] #13899 closed

[2017-12-25 05:55] shyhpei opened #17855 "how the official linux binary is built?"
Version: 6.11.5
Platform: Linux fcdev 4.13.13-300.fc27.x86_64 #1 SMP Wed Nov 15 15:47:50 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

I am trying to build nodejs binary on a Fedora 27 host, using --fully-static, because my target host is Fedora Core 6. This is how I build:

./configure --fully-static
make -j

The compile/link would go thru and generate a node binary, with some warnings similar to the

[2017-12-25 05:56] Trott commented on #15799
As @joyeecheung wrote:

[2017-12-25 06:18] starkwang commented on #17855
Hi! This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like this one, please file an issue in our help
repo: https://github.com/nodejs/help

Thanks!

[2017-12-25 06:18] #17855 closed

[2017-12-25 06:21] shyhpei commented on #17855
Sorry for filing this in wrong place and thanks for pointing out where to ask my question.

[2017-12-25 06:57] bnoordhuis commented on #17850
This is about node.js not honoring the `domain` or `search` attribute in `/etc/resolv.conf`?  That's because we call `ares_query()`, not `ares_search()`.  `ares_query()` does not take search domains into account.

`ares_search()` cannot be the default because it makes up to `num_search_domains + 1` queries but we could add a `{ search: true }` option.

[2017-12-25 07:14] Trott opened #17857 "Investigate flaky test-http-hightwatermark"
* **Version**: 10.0.0-pre
* **Platform**: macOS
* **Subsystem**: test

I've seen failures locally on my macOS laptop with `make test` of `test-http-highwatermark`. I'm able to reproduce it pretty easily with the right set of options:

[code]

[2017-12-25 07:37] gireeshpunathil commented on #17840
thanks @Trott , for the info

[2017-12-25 07:44] bnoordhuis commented on #17086
No, the bug that hid the regression was fixed again. :-)

Close, it's the custom formatter on [this line](https://github.com/nodejs/node/pull/9266/files#diff-3deb3f32958bb937ae05c6f3e4abbdf5R1054), which is unnecessary.  I'll open a PR.

[2017-12-25 07:49] levimm opened #17859 "MemoryPressureNotification got executed on the wrong platform"
I'm using the new MultiIsolatePlatform feature added in v9.3.0.
I have following code running in a new node isolate which has its own thread loop. But it have a check failure error when trying to find isolate on the platform.

[code]
The thread isolate is registered to the newly create platform when creating isolate data in line 2.
However, line 3 leads to a CHECK failure when trying to find this

[2017-12-25 07:52] bnoordhuis commented on #17849
Signal 9 = SIGSEGV.  If you can obtain a backtrace  and a disassembly of the call site + `info registers`, I can probably figure out what the issue is.

Educated guess: missing nullptr check somewhere.

[2017-12-25 08:02] bnoordhuis commented on #17859
The stack trace suggests you haven't actually called `CreateIsolateData()` yet.  Check in a debugger what `platform->per_isolate_` contains at the time of the crash.

[2017-12-25 08:24] levimm commented on #17859
@bnoordhuis  platform->per_isolate_ contains the node main isolate.
As I mentioned, I run the previous code in a newly created separate isolate. And the thread isolate is added to the platform I created. But V8::GetCurrentPlatform gives me another platform, which I think is the main platform.

[2017-12-25 09:10] bnoordhuis commented on #17859
Right, that's not going to work.  The Platform is a singleton, there can only be one instance per process.

[2017-12-25 09:39] levimm commented on #17859
@bnoordhuis Thanks.
Is there any API to get the platform instance so I can register isolate into that?

[2017-12-25 10:47] Kzul1283 commented on #17669
On  use

[2017-12-25 10:52] addaleax commented on #17840
Btw, I could reproduce this locally on Linux, so it isn’t AIX-specific … it’s my patch that caused this so I’ll try to figure out what’s going on here :)

[2017-12-25 11:58] gireeshpunathil commented on #17840
thanks @addaleax , that is good news as in we don't need to access CI. How frequent is the crash? similar to that of AIX?

[2017-12-25 12:09] addaleax commented on #17840
It’s less than 1 in 1000 – I think that’s about the same rate.

From some initial poking around, it seems like one of the `Http2Session` instances is garbage collected *while* it is handling data from the socket (i.e. inside `nghttp2_session_mem_recv()`).

[2017-12-25 12:48] joyeecheung commented on #17043
@maclover7 No, although I think this is caused by the cluster orchestration instead of changes to the build file. I think this can be closed now.

[2017-12-25 12:48] #17043 closed

[2017-12-25 12:59] joyeecheung commented on #17855
@starkwang @shyhpei This doesn't look too far away from Node core..

1. The official release is built with this:

https://github.com/nodejs/node/blob/81c2b59609b5a354219acc5cc0f376be5be86cc4/Makefile#L918-L940

2. Because of `getaddrinfo` IIRC. You can try linking against musl if you want a more static binary.

[2017-12-25 15:59] bnoordhuis commented on #17859
`static_cast<node::NodePlatform*>(v8::V8::GetCurrentPlatform())` should do it.

[2017-12-25 16:00] bnoordhuis commented on #17855
FTR, also answered in https://github.com/nodejs/help/issues/1039.

[2017-12-25 16:29] Mickael-van-der-Beek commented on #17850
@bnoordhuis I see, good to know. Thanks for the quick answer.

The situation we encountered at my company is that we use a VPN to connect to our Kubernetes cluster. Services can have multiple instances and use DNS hostnames to load balance to one or the other (through KubeDNS). We also put these hostnames behind subdomains of one of our domains so that even development services benefit of our TLS

[2017-12-25 18:54] polkovnikov-ph opened #17862 "Debugging: no simple way to get a list of pending async computations"
* **Version**: v8.9.3 / any
* **Platform**: Windows 8.1 x64 / any
* **Subsystem**: debugger API

Consider the case when some library created a long `setTimeout` or any `setInterval` and didn't cancel it when finished some main action. There should be a tab in Inspector (and corresponding debugger API) to show the list of pending asynchronous computations, so that it's clear why Node.js process is

[2017-12-25 19:23] addaleax commented on #17840
Reproducible test case + fix @ https://github.com/nodejs/node/pull/17863

[2017-12-25 20:07] Trott commented on #17862
Ref: https://github.com/nodejs/node/issues/1128

[2017-12-25 20:10] Trott commented on #17862
@nodejs/v8-inspector

[2017-12-25 20:18] #14070 closed

[2017-12-26 02:43] levimm commented on #17859
But this one is declared as V8_EXPORT_PRIVATE and it's not in the v8.h for external usage.

[2017-12-26 07:51] dubek commented on #4386
On Linux (Ubuntu 14.04) this loop fails when we pass the maximum allowed open files (the hard limit). Here's the `fs-open-test.js` program code:

[code]

Here's is the execution log:

[code]

Of course that is to be expected, because the files are not closed at all.

However, you get similar errors if you replace `fs.open` with `fs.writeFile`, which *does* close the file. Consider this `fs-writeFi

[2017-12-26 13:15] liqyan commented on #17058
I have cut the time to 24ms by pre-requiring `console` in node\_mksnapshot. see [here](https://github.com/alibaba/nodejs-with-snapshot/commit/c3b86062a04e8704346392fbad02012787872548)

<pre>
time ./node -e ""
pre-requiring console:          0m0.024s
without pre-requiring console:  0m0.039s
original node:                  0m0.088s
</pre>

And refact the commit(2) [here](https://github.com/alibaba/n

[2017-12-26 14:55] hashseed commented on #17058
So if I understand correctly, we need ways to:
1. Serialize context-independent eternal handles.
2. Serialize context-independent persistent handles and also a way to release them.
3. Serialize context-dependent persistent handles and also a way to release them.

For (1), I think I can implement the idea I previously described.
For (2) and (3), I think we should just introduce the following APIs:

[2017-12-26 15:14] hashseed commented on #17058
@MylesBorins @jasnell  I'd like your opinion on this. We are looking at a 4x speed up of Node.js startup here.

This feature requires some changes to V8, which I'm going to implement upstream soon. However, if we wait until these changes end up in Node the usual way, we will have to wait another couple months, and won't have it until Node 10. It won't make sense to look at patches to Node core unt

[2017-12-26 16:57] jasnell commented on #17058
The general rule of thumb is to wait until such changes are upstreamed. We
can try a PR to float the patches but I'm not sure they will successfully
land.

On Dec 26, 2017 07:14, "Yang Guo" <notifications@github.com> wrote:

[2017-12-26 17:02] hashseed commented on #17058
I'm suggesting to land V8-side patches upstream first, then I would prepare these patches so that they can be applied to the version of V8 that Node master currently uses so that they can be floated.

[2017-12-26 17:39] #17681 closed

[2017-12-26 19:50] Chipped1 opened #17870 "Zone Allocation Failed - process out of memory"
I got this while trying to run a simple node.js program?
<--- Last few GCs --->

[16772:00000184CF9C4B60]       93 ms: Scavenge 4.7 (8.9) -> 4.6 (10.9) MB, 0.7 / 0.0 ms  allocation failure
[16772:00000184CF9C4B60]      128 ms: Scavenge 6.5 (11.4) -> 5.7 (11.9) MB, 0.8 / 0.0 ms  allocation failure
[16772:00000184CF9C4B60]      168 ms: Scavenge 7.4 (12.4) -> 6.8 (13.4) MB, 1.4 / 0.0 ms  allocation f

[2017-12-26 21:01] nylen opened #17871 "`process.throwDeprecation` hides original error stack"
Node v9.3.0 on Linux (I would expect other versions since the introduction of the deprecation warning stuff - and other platforms - to behave the same way)

## Current behavior

It doesn't matter whether you use `process.throwDeprecation = true` or `node --throw-deprecation` here, the behavior is the same.

[code]

[code]

## Expected behavior

Note concise output that preserves the original error