[2018-03-05 04:33] #19142 closed

[2018-03-05 05:38] ljharb commented on #11865
@TazmanianD for libraries, that’s just not tenable - a solution that only works for app code really isn’t a viable solution.

[2018-03-05 05:45] jbunton-atlassian commented on #11865
I think for many apps [trace](https://www.npmjs.com/package/trace) is a viable option even in production.

I'd particularly love any feedback / testing on my improvements to it, see [my earlier comment](https://github.com/nodejs/node/issues/11865#issuecomment-367910894) for details.

[2018-03-05 06:16] bnoordhuis commented on #8966
Not fixed and no consensus on whether it should be fixed.

[2018-03-05 06:18] bnoordhuis commented on #19136
Please post general questions to the help repo or the issue tracker of the relevant project (create-react-app?)

[2018-03-05 06:18] #19136 closed

[2018-03-05 06:32] foray1010 commented on #11865
I doubt that using `trace` in production
see my comment about memory leak of `trace` in https://github.com/AndreasMadsen/trace/issues/35#issuecomment-361838159

[2018-03-05 06:53] jorangreef commented on #2600
There's a PR in libuv waiting on the next major version of libuv.

[2018-03-05 07:08] jorangreef commented on #678
Yes, this should definitely remain open.

There are huge (2x-3x) real-world throughput gains to be had for cipher, hash, and hmac operations on large (1MB+) buffers, scaling linearly with the number of cores, see [crypto-async](https://github.com/ronomon/crypto-async#performance):

[code]

There are [some tuning considerations](https://github.com/ronomon/crypto-async#adjust-threadpool-size-and-con

[2018-03-05 07:26] jorangreef commented on #15413
Just going back a little bit in this thread to the merits of doing async crypto in the threadpool:

It all depends on buffer size. Buffer size is critical when talking about async crypto performance.

Crypto throughput and latency on the main thread is better for buffers less than 1024 bytes, but anything larger is probably better off in the threadpool for a miniscule latency loss but much higher

[2018-03-05 07:57] mika-fischer commented on #8966
@bnoordhuis I think this is actually two issues now:
1) What to do if `ares_library_init()` or `ares_init_options()` fail and
2) Updating c-ares so that `ares_init_options()` don't fail under benign circumstances (like network with no DNS configured).

I don't care much about 1) but I do care about 2). Do you mean to say that c-ares might never be updated in Node.js?

[2018-03-05 08:36] aabuelenin commented on #19044
@addaleax  thanks for the solution, it does work in the sense that I stopped getting the error, but --prof-process won't produce any output, it just keeps running without giving any feedback. I ran it against a 4MB isolation file and left it for an hour. Guess we need a profiler to profile node profiler :)

[2018-03-05 09:06] gibfahn commented on #19097
@juggernaut451 if you keep contributing to Node you will be asked if you'd like to become a collaborator, at which point you can join teams if you want to get pinged for notifications for those issues.

[2018-03-05 09:27] gibfahn commented on #19067
+1

[2018-03-05 09:34] addaleax commented on #19139
I can reproduce this locally, and get errors even on Node 8; so it’s most likely a bug in the test.

It also looks like increasing the timer duration in the test helps. Ideally, we’d just get rid of it, and instead call `res.end()` based on other events happening?

[2018-03-05 09:38] mcollina commented on #19139
@addaleax I tried that approach, but couldn't get the dump to happen reliably. It would be good if someone else brought in some new eyes into the problem. That part of the codebase was _never tested_ :/.

[2018-03-05 09:42] juggernaut451 commented on #19105
@joyeecheung working on it

[2018-03-05 09:57] Kals5 opened #19146 "(node:25203) UnhandledPromiseRejectionWarning while adding the plug-in"
* **Version**:
$ node -v
v8.5.0
* **Platform**:
Linux XXX 4.4.0-78-generic #99-Ubuntu SMP Thu Apr 27 15:29:09 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

I'm trying to install to add the plugin but it always gives the error like
Please ASAP provide the solution
Thanks in Advance.

ionic cordova plugin add call-number

(node:25203) UnhandledPromiseRejectionWarning: Unhandled promise r

[2018-03-05 10:14] apapirovski commented on #19146
Hi @kals5, I would recommend checking with `ionic`, `cordova` or the plugin author for `call-number`. This tracker is for bugs in Node.js core only which this doesn't appear to be, as such I'm going to close this issue.

[2018-03-05 10:14] #19146 closed

[2018-03-05 10:41] mcollina commented on #8446
I don't know exactly how to categorize this, as maybe `write` or `writeHead` should emit or throw an error.

What I am getting using the server in the example is:

[code]

I think the correct behavior should be for the second `writeHead` to throw if `res.headersSent`  is true.

Also, the following text is obscure to me:

I do not understand what is being asked here, as multiple `write()`  should b

[2018-03-05 10:57] bnoordhuis commented on #8966
This issue is about (1), not (2).  If you want to see c-ares updated, can you file a new issue?

[2018-03-05 11:17] gibfahn commented on #19021
Agreed that this isn't a great user experience.

<img width="263" alt="image" src="https://user-images.githubusercontent.com/15943089/36972252-5d7dda70-2066-11e8-9b8e-5f4d6fbac701.png">

[code]

I'd assume the chances of someone typing `quit` or `exit` by themselves into the repl, when they're not defined, and not wanting to quit the repl should be vanishingly rare.

[2018-03-05 11:25] mika-fischer commented on #8966
Actually, c-ares 1.13 it's already in Node 9, so 2) is not relevant anymore. Sorry for the noise!

[2018-03-05 11:31] mourner commented on #19044
@addaleax thanks a lot for the merge! Given the comment above by @aabuelenin, can we reopen the ticket until `--prof-process` is confirmed to work?

[2018-03-05 12:57] tniessen commented on #19105
@joyeecheung I don't remember an issue, but there was https://github.com/nodejs/node/pull/17948 with a similar intention.

[2018-03-05 14:07] tniessen commented on #19131
Not sure whether there is consensus about this, I myself am certainly not a fan of dangling commas and definitely not in favor of enforcing them. There are not too many situations where this rule actually reduces the diff size and it appears unnatural to me to end a list with a separator.

[2018-03-05 14:55] moberemk commented on #11865
You'll have to forgive my skepticism @TazmanianD but none of that sounds easy...it sounds more like a totally rewrite of a codebase, really, along with end-to-end testing to ensure there's no unexpected changes in behaviour. Definitely an approach I'd consider for a greenfield project but not for an existing-in-production codebase.

[2018-03-05 16:49] tniessen commented on #10238
@yolob21 Are you experiencing the same problem as described above? If so, then @Trott is right, there currently is no solution apart from using `winpty` (which should solve most problems).

[2018-03-05 16:52] mhdawson commented on #14537
+1 for removing in 10.x

[2018-03-05 17:05] fasterthanlime commented on #11865
This thread had one important question that was drowned out and never answered (afaict):

If such a callback existed in node, it looks like trace could work even with async/await code. Without such a callback, there's nothing more @AndreasMadsen can do [in trace](https://github.com/AndreasMadsen/trace/issues/34#issuecomment-326734600).

I'm retiring from this thread and I'd advise folks who don't

[2018-03-05 17:19] bnoordhuis commented on #11865
@fasterthanlime That wouldn't make a practical difference, if I understand your question correctly: while the stack trace is formatted lazily, it's captured eagerly.

[2018-03-05 17:34] mcollina opened #19148 "Nominate @mafintosh as a collaborator"
I'd like to nominate @mafintosh as a collaborator, for his work on streams. He is one of the members of the streams wg and he maintains most of the streams ecosystem outside of core.

[Commits in the nodejs/node repository](https://github.com/nodejs/node/commits?author=mafintosh)

[Comments](https://github.com/nodejs/node/pulls?q=commenter%3Amafintosh) and [reviews](https://github.com/nodejs/node/

[2018-03-05 17:36] addaleax commented on #19148
+1, definitely.

[2018-03-05 17:37] BridgeAR commented on #19148
+1 !

[2018-03-05 17:42] cjihrig commented on #19148
+1

[2018-03-05 17:43] Leko commented on #19148
+1

[2018-03-05 18:09] jasnell commented on #19148
+1

[2018-03-05 18:31] daynin commented on #19131
I am going to close this issue due to the concerns in this PR https://github.com/nodejs/node/pull/19133. Thank you for discussion!

[2018-03-05 18:31] #19131 closed

[2018-03-05 18:47] fasterthanlime commented on #11865
If I understood @AndreasMadsen correctly, the crux of the issue is that the stack trace is captured when an error is thrown, rather than when it's created. Having a callback when the error is created would let trace use another stack trace captured on `new Error()` instead of the one it currently has, captured on throw. (I may be completely wrong!)

Reading the first few posts of https://github.co

[2018-03-05 18:51] ljharb commented on #11865
It’s worth noting that the stage 1 stack traces proposal will require that the trace be captured when the error is created; throwing it is irrelevant.

[2018-03-05 19:42] hashseed commented on #11865
Yup. The content of `Error.stack` is captured at Error creation, but formatted lazily.

[2018-03-05 20:50] srl295 opened #19151 "deps: issues with v8 and prior ICUs"
* **Version**: master
* **Platform**: mac
* **Subsystem**: deps

… (while bypassing #19150 by avoiding iculslocs ) will exhibit the following error:

[code]

The above is probably due to std::string now being used directly by v8 with ICU, and this might fix it (note a comment that's now wrong).

[code]

~On some systems, there's also an issue in v8 which I worked around at https://github.com/srl29

[2018-03-05 21:06] AndreasMadsen commented on #11865
@fasterthanlime Correct. It is impossible to give a long stack trace without knowing the async context at error creation. To get the async context at error creation, one needs a callback for error creation.

@hashseed ^ I mentioned this at the Diagnostic WG, but never got around to open a V8 bug report.

[2018-03-05 21:13] mhdawson commented on #19148
+1

[2018-03-05 21:21] TazmanianDI commented on #11865
This may be a totally ignorant question given I know nothing of the implementation details, but is there any lesson to be taken from Node fibers? That add-on appears to contain an actual solution to this problem and one that doesn't appear to have any significant performance impact. It is a native add-on and I don't know if that alters it's usefulness here.

There seems to be some debate as to whe

[2018-03-05 21:27] AndreasMadsen commented on #11865
@hashseed Open feature request: https://bugs.chromium.org/p/v8/issues/detail?id=7525

[2018-03-05 21:36] bnoordhuis commented on #11865
@TazmanianDI node-fibers has massive memory overhead compared to promises.  It creates a V8 context per thread of execution instead of just the one; that's not much lighter-weight than spawning a process per connection.  I'm only mildly exaggerating.

[2018-03-05 21:57] langpavel opened #19152 "Support UV_FS_COPYFILE_FICLONE"
`UV_FS_COPYFILE_FICLONE` was just merged to `libuv`: [unix: add UV_FS_COPYFILE_FICLONE support](https://github.com/libuv/libuv/pull/1491)

When will be this merged into node? Will this be backported to node 8?

[2018-03-05 21:59] cjihrig commented on #19152
I'll be adding support for it when the next libuv update is merged. My guess is that it will be backported to Node 8, as most of the work happens in libuv.

[2018-03-05 22:10] TazmanianDI commented on #11865
@bnoordhuis

What makes you say that? This would seem to argue that it's not so heavy: https://groups.google.com/forum/#!topic/nodejs/3dbidW8fTYw.

I did a quick-and-dirty performance test before we switched to fibers (granted I didn't look at memory usage) and I found the performance difference between fibers and async/await as well as promises to be neglibible but maybe my test sucked. If it doe

[2018-03-05 22:13] ojamui commented on #19128
@apapirovski  Thanks! Solved :)

[2018-03-05 22:14] #19128 closed

[2018-03-05 22:27] langpavel commented on #19152
Relevant paragraph from [libuv docs](https://github.com/libuv/libuv/blob/v1.x/docs/src/fs.rst):

[2018-03-05 22:32] computerquip-streamlabs opened #19154 "EPERM for clients connecting via named pipe"
Platform: Windows 10
Node: 8.9.4
Subsystem: Net

We sometimes must launch our application as administrator. When we do, clients attempting to connect to our application over a named pipe (which was created during a call to server.listen()) that are not run as administrator are no longer able to connect. We have no known way of change permissions of our handle to make sure it can be written to from

[2018-03-05 22:40] bnoordhuis commented on #11865
Oh, I misremember: it wasn't context-per-fiber that was the issue, it had to do with stack size and fibers being weak references.

A few years ago I helped Meteor debug a performance issue that turned out to be a build-up of fibers causing the garbage collector to melt down.  Weak references need special handling in the garbage collector; you can't have too many without performance implications.

[2018-03-05 22:46] mhdawson commented on #14532
Request to move out of experimental for TSC review - https://github.com/nodejs/TSC/issues/501

[2018-03-05 22:52] bjouhier commented on #11865
@bnoordhuis

Here is that code that allocates a `Fiber`: https://github.com/laverdet/node-fibers/blob/master/src/fibers.cc#L495
It does not create a new context; it uses the current context.

Also, stack allocation is pretty clever, with `mmap`. See https://github.com/laverdet/node-fibers/blob/master/src/libcoro/coro.c#L653

Now, consider a pattern of deep stacks of async calls (async f1 awaiting

[2018-03-05 23:25] moberemk commented on #11865
@bjouhier Regarding the fiber discussion: while it's definitely interesting, and useful, technology, going over to fibers is **not a viable solution** for many use cases discussed in this thread. Right now this discussion feels like it would be better suited for a separate issue so this issue can remain focused on the underlying problem with async/await errors.

[2018-03-05 23:43] rvagg commented on #18998
@nodejs/collaborators we're going to need some more help on getting to the bottom of this. Errors of this type are showing up pretty frequently and not for one specific test. Just looking at the last 4 [node-test-commit-linux failures](https://ci.nodejs.org/job/node-test-commit-linux/) show what look to be similar failures (4 failures out of the 6 at the top right now):

https://ci.nodejs.org/job/

[2018-03-05 23:46] rvagg commented on #18998
Sorry, I got those numbers wrong. There are 5 failures out of the last 7 builds, 3 of them have the weird no-output crashes, two of them have the test-http-client-timeout-agent failure on Alpine. But you can go back not much further and even find test-http-client-timeout-agent failing on ARM64. There's at least one bug being exposed on Linux here.

[2018-03-06 01:13] Nokel81 opened #19158 "Get Length of callback queue"
Is there a current way to get the size or even better information about the callback queue from within node.

A use case for this would be knowing if any functions had been called but not finished when a certain point in the code has been reached.

[2018-03-06 01:39] gireeshpunathil commented on #19148
+1

[2018-03-06 02:19] ak239 commented on #11865
@hashseed I was experimenting with traversing async function's generators for async stacks and I believe that I can find some related work on my machine and upload to codereview tool.

I have more generic question. I believe that our async stacks in DevTools are good enough for a lot of users and since in any case we include this code as part of inspector inside V8, could we add some V8 API which

[2018-03-06 03:13] AyushG3112 opened #19159 "Is this behaviour with async functions and forEach correct?"
* **Version**: v8.9.3
* **Platform**: Ubuntu 16.04.1 64-bit

Yesterday I encountered an issue with async functions. I can understand why this is happening, but was just wondering if the behaviour is correct as per the spec?

[code]

The output of the above is:

[code]

I am wondering whether or not the `Sample Error - Await`s are supposed to the caught in the catch block of `testAwait()` call or n

[2018-03-06 03:15] AyushG3112 commented on #19158
A question regarding your use case: if you need a function to be completed before a particular point in the code, can't you just await on that function?

[2018-03-06 03:19] jvelezpo commented on #19057
I can reproduce this on High Sierra.

And I dont know if i should create a new issue, but i found that `make doc` throws a similar error
[code]

[2018-03-06 03:39] gireeshpunathil commented on #19158
Please have a look at [node-report](https://github.com/nodejs/node-report) and see if it fits your need:

[code]

[2018-03-06 03:48] Nokel81 commented on #19158
So awaiting doesn't work because it is a callback function and I don't have control with what is called within that function

[2018-03-06 03:55] gireeshpunathil commented on #19158
a more program-intrinsic way of collecting event loop information is on its way, under development: https://github.com/libuv/libuv/pull/1764

[2018-03-06 04:10] Nokel81 commented on #19158
I will look into node-report but I don't think it will work because that would include reading from file which I think would generally be too slow for what I am looking into.

The other thing looks promising since I would be able to do logic on it.

[2018-03-06 04:57] gireeshpunathil commented on #19154
we recently added a `chmod` facility for pipes through https://github.com/libuv/libuv/pull/1386  in libuv, though I am not sure whether we have made an abstraction around it in node, and whether it covers windows platform.
/cc @bzoz

[2018-03-06 05:16] computerquip-streamlabs commented on #19154
There appears to be code there for Windows but I don't see a way to use it from Node.

[2018-03-06 06:55] bmeurer commented on #19104
@addaleax I don't have any benchmarks for the `async_hooks` except [bmeurer/async-hooks-performance-impact](https://github.com/bmeurer/async-hooks-performance-impact). We lowered priority of `async_hooks` performance work until there's a clear direction and a number to express how much tankage is considered *Okay*.

[2018-03-06 07:03] Trott commented on #855
/ping @nodejs/vm in case anyone on that team has the time and inclination to work on this issue.

[2018-03-06 07:08] cyongk opened #19163 "Error:Unexpected end of JSON input while parsing near '...3348,"noattachment":f'"
Error: Unexpected end of JSON input while parsing near '...3348,"noattachment":f'
npm config set registry https://registry.npm.taobao.org
OS :win10 x86_64
node.js:v8.9.4
npm:5.6.0

![default](https://user-images.githubusercontent.com/16489791/37018652-1e402f58-2150-11e8-8a03-ff61d035f0cd.PNG)

Current solution:
Npm version degradation processing.
npm i -g npm@4
npm:v4.6.1

[2018-03-06 07:10] addaleax commented on #19163
Can you share steps to reproduce the issue you’re experiencing? Also, this most likely isn’t a bug with Node itself, so you may want to try the https://github.com/nodejs/help repository first.

[2018-03-06 07:30] ex1st commented on #19159
It's correct behavior. A right code looks like:
[code]

or

[code]

[2018-03-06 08:01] mscdex commented on #19163
Since downgrading npm seems to solve the problem, you might post an issue on npm's issue tracker.

[2018-03-06 08:08] apapirovski commented on #19159
As @ex1st mentioned, this is correct. The `async` function inside the `forEach` creates a Promise but that promise is never passed to or handled by anything. The `catch` in that case only applies to the promise generated by `testAwait`. If instead you await the `Promise.all` call as above then the code works as expected.

This might be conceptually easier to understand if you just rewrite the code

[2018-03-06 08:08] #19159 closed

[2018-03-06 08:30] bzoz commented on #19154
Yep, we need to add mappings to Node. I'll do this.

[2018-03-06 09:10] sameer-coder commented on #19026
I have been working on this issue and have created a PR (https://github.com/nodejs/node/pull/19165).
Added tests as well.
@maintainers, Please review the code.

This is my first PR and I have tried to make sure that I follow all the guide lines. Please let me know if I have missed something or if any changes are required.

[2018-03-06 09:36] DiegoTUI opened #19166 "'close' event called before 'end' in paused stream"
* **v8.9.4**:
* **Linux tufopad 4.13.0-32-generic #35~16.04.1-Ubuntu SMP Thu Jan 25 10:13:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux**:
* **stream**:

I believe I've found an akward behaviour of a **stream in paused mode** using the `net` module. In some specific cases, when the source socket ends, the `close` event is called before the `end` event in the destination socket. I've been able to repr

[2018-03-06 09:46] jdalton opened #19167 "Expose internal statValues in a consumer friendly way."
The `fs.stat` and `fs.statSync` methods have access to an internal `statValues` typed array which holds things like raw `mtimeMs` values. It would be nice to avoid creating an entire stats object for one-off things like `mtimeMs` and friends.

Since Node is already tracking these values in a way that makes it easy to pluck them individually what do you all think about splitting each value out into

[2018-03-06 10:01] NeatBoar commented on #9137
Met the same problem today.
Trying to build lede_17.01.4. Get the error:

make -C out BUILDTYPE=Release V=s
make[5]: Entering directory '/data/openwrt_3/lede-sdk-17.01.4-brcm2708-bcm2709_gcc-5.4.0_musl-1.1.16_eabi.Linux-x86_64/build_dir/target-arm_cortex-a7+neon-vfpv4_musl-1.1.16_eabi/host/node-v4.4.5/out'
make[5]: execvp: printf: Argument list too long
deps/openssl/openssl.target.mk:862: recipe f

[2018-03-06 10:04] rohanraj7316 commented on #19166
`end` event triggers at the ending of the readable side of the socket.
so, it's not necessary that trigger of `close` and `end` events should be sequential.
@DiegoTUI

[2018-03-06 10:08] DiegoTUI commented on #19166
@rohanraj7316 but according to the docs, once the `close` event is emitted, no more events are emitted, right? It seems that in this case, the 'end' event is emitted after the 'close' event contradicting the docs.

[2018-03-06 10:18] richardlau commented on #19166
cc @nodejs/streams

[2018-03-06 10:22] rohanraj7316 commented on #19166
can you share the link pls @DiegoTUI

[2018-03-06 10:24] DiegoTUI commented on #19166
@rohanraj7316 you mean the link to the docs? Here it is:
https://nodejs.org/dist/latest-v9.x/docs/api/stream.html#stream_event_close_1

[2018-03-06 10:37] #19066 closed

[2018-03-06 11:41] rohanraj7316 commented on #19166
Since we have multiple phases in the Node js event loop.
Close event is not behaving in the way you are
expecting it to be because of the absence of stream callback.

When we say event loop there are multiple phases of Event Loop cycle
all the callback corresponding to given event are present in that phase.
but since you are adding the listener to the net modules object it is acting according to
t

[2018-03-06 12:14] sigurdschneider commented on #18218
We've made some progress on the example you provided, which we turned into the following micro-benchmark:

[code]
On this benchmark, our Tip of Tree is close to d8-5.8.283.38 now.
[code]

[2018-03-06 12:30] sigurdschneider commented on #18218
We're further investigating crc32 performance, progress is tracked on [v8:7528](https://bugs.chromium.org/p/v8/issues/detail?id=7528).

@SheetJSDev Do the timings in the `crc32 bits` section as output by `npm test` provide for a representative benchmark? One possibility would be that we extract a benchmark out of one of the `fooba...` tests.

I've tried to use `make perf`, but it seems tailored to

[2018-03-06 14:36] devsnek commented on #855
i can take a look at this once my current pr count drops a little bit

[2018-03-06 15:28] rolftimmermans commented on #15604
I must be doing something incorrectly, but I'm hitting a v8 assertion when I attempt to use this feature in Node 9.6 or 9.7 or master.

I am calling `napi_open_callback_scope` as described above (and I swear it used to work when testing against the PR, though I can't double check easily right now). The scope is opened from a completion callback of `uv_work`.

My program aborts with the following t

[2018-03-06 15:32] fhinkel commented on #14537
+1

[2018-03-06 15:33] fhinkel commented on #14537
Since there's multiple 👍 and no objections, does this still need to be on the TSC agenda?

[2018-03-06 15:39] TimothyGu commented on #15604
Declaring a `v8::HandleScope` before the `GetCurrentContext` call in `napi_open_callback_scope` should be able to fix this.

[2018-03-06 15:42] Fishrock123 commented on #19158
Fwiw, the ability, even within libuv, to do this accurately will always be somewhat limited due to how `epoll` and other relevant apis work.

[2018-03-06 15:47] SheetJSDev commented on #18218
@sigurdschneider The `fooba...` tests are based on the values in [`misc/bits.js`](https://github.com/SheetJS/js-crc32/blob/master/misc/bits.js) (the [test suite prints the first and last 5 characters](https://github.com/SheetJS/js-crc32/blob/master/test.js#L37)) .  The [longest string](https://github.com/SheetJS/js-crc32/blob/master/misc/bits.js#L2-L4) involves ~ 200K characters:

[code]

For the

[2018-03-06 15:48] Nokel81 commented on #19158
Thanks @fishrock123, I figured as much. Do you know if adding a read only method into node for this would be possible?

[2018-03-06 16:17] captainrdubb opened #19170 "fs.watch - on change returns incorrect file name"
In another project, I ran into the following scenario:

The function os.tmpDir returns a path with the 8.3 short name for the user name, example "C:\Users\\\<FIRST SIX CHARS OF NAME>~1\AppData\Local\Temp".

The Windows api returns the changed file name including the long version of the user name, example,
"C:\Users\\<actual 18 char user name>\AppData\Local\Temp".

Pretend we are monitoring, "C:\Us

[2018-03-06 16:17] jasnell commented on #19158
AFAICT, the difficulty is not so much getting the information but ensuring that it's correct at any given point in time.

[2018-03-06 16:41] #17892 closed

[2018-03-06 16:41] #17893 closed

[2018-03-06 16:41] #18992 closed

[2018-03-06 16:51] Nokel81 commented on #19158
From what I know about node, would there be any reason for such a value to change during a get? Since the size of each only changes once a function has been called or returned or when a callback is added to the cue?

[2018-03-06 17:01] MSLaguana opened #19171 "Questions/clarifications about vm context behavior"
Node-chakracore currently has different behavior to node built on v8 for `vm.runInContext`, and we'd like to try to fix that. However to do so we'd first like to get a solid understanding of exactly how it is supposed to work.

My understanding is that `vm.runInContext(script, sandbox)` is supposed to run the given script as if the sandbox object were the global (but also have the normal global pr

[2018-03-06 17:08] addaleax commented on #19171
@nodejs/vm

[2018-03-06 17:09] devsnek commented on #19171
related heavily to #855

[2018-03-06 17:48] Rabursky opened #19173 "a"
* **Version**:
* **Platform**:
* **Subsystem**:

[2018-03-06 17:48] #19173 closed

[2018-03-06 17:50] fhinkel commented on #14537
Summoning @Trott as he was the one who added the label 😆

[2018-03-06 17:59] jdalton commented on #19167
Related: This would also nicely side step [the perf issue](https://github.com/nodejs/node/pull/12818) associated with `stat` too.

[2018-03-06 18:23] TimothyGu commented on #19171
See #14660. I'd say that making these edge cases work in node-chakracore is not worth the effort, when we are not sure how `node` currently functions is how we want it to work in the first place.

[2018-03-06 18:38] MSLaguana commented on #19171
There are other cases that are currently broken in node-chakracore and are less edge-case-ish, such as expecting that `vm.runInContext('var x = 1', o)` will create an `x` property on `o`, so we definitely have some work to do in node-chakracore. We just want to make sure that we do the right work 😄

On that note, I see things like this:

[code]

so it looks like `var foo = 1` only _sometimes_ crea

[2018-03-06 18:40] TimothyGu commented on #19171
@MSLaguana We are explicitly ignoring those set operations. See

https://github.com/nodejs/node/blob/78a7536db30843f82252c97be91d2d0d7d38f84b/src/node_contextify.cc#L338-L346

and surroundings.

[2018-03-06 18:43] devsnek commented on #855
so far my idea basically revolves around separating sandbox and global object
[code]

the proxy still exists and interacts with the sandbox but the return value (`g`) would be the thing you actually want to play with. in any case except where equality matters it wouldn't matter whether you changed properties on the sandbox or the actual global object.

the change is basically
[code]

[2018-03-06 19:16] bjouhier commented on #11865
@moberemk Well, the fibers topic was brought back to the discussion by @TazmanianDI, the OP of this issue. And fibers actually solve his problem.

I replied because @bnoordhuis's post was misleading and there has been a lot of negativity about fibers in the past. Thanks Ben for correcting.

Regarding stacktraces with async/await maybe I can share my experience with streamline.js, which is basicall

[2018-03-06 19:35] rolftimmermans commented on #15604
It works, sort of – except the crash is now moved to the API call that attempts to create a V8 object. It seems `napi_open_callback_scope` needs to keep a `v8::HandleScope` open somehow? That is, not just for the duration of `napi_open_callback_scope` itself but until `napi_close_callback_scope` is called. How would that have to be done?

[2018-03-06 19:41] addaleax commented on #15604
You always need to have a `napi_open_handle_scope` call before `napi_open_callback_scope`, and the reverse order for the close calls.

Without a handle scope, how would you pass `resource_object` to `napi_open_callback_scope` to begin with?

[2018-03-06 19:45] Fishrock123 commented on #19158
I think this is effectively a dupe of https://github.com/nodejs/node/issues/19063

It is easy to tell the size of the previous callback queue, but difficult to correctly figure out the size of the "current queue" at any given time - mostly because, there isn't really a visible queue in that sense.

[2018-03-06 19:59] hashseed commented on #11865
That sounds like a plan. But I think we should generally unify the way we store stack traces. The one on the Error object and the one we use for async stack traces are similar, but different. It would be awesome if we can share more of the implementation.

[2018-03-06 20:07] rolftimmermans commented on #15604
Right, OK! Somehow I missed that. I wonder if I misremember how I tested it previously or if something is different between the original PR and how it landed.

Anyway. Without any changes to Node whatsoever the code works if I call `napi_open_handle_scope`/`napi_open_callback_scope` in the appropriate order.

The precise order of API calls that are required was definitely not straightforward for m

[2018-03-06 20:11] jdalton opened #19178 "Node docs for when mtimeMs and friends were added."
Currently the Node [`fs.Stats` entry](https://nodejs.org/api/fs.html#fs_class_fs_stats) has a `history` summary mentioning times as numbers

<img width="40%" src="https://user-images.githubusercontent.com/4303/37055749-5621b752-2137-11e8-9eee-c7335a3939c5.png">

but I found that easy to miss. It would be nice if the actual entry documented had the mention

<img width="100%" src="https://user-image

[2018-03-06 20:13] addaleax commented on #19178
I guess we could add `added:` entries for all of the individual field headings?

[2018-03-06 20:39] trevorlinton opened #19179 "http body dropped when using delete method"
From what I can find, due to this line of code if you make an http request with a delete method the body will not be written (although no error will fire):

https://github.com/nodejs/node/blob/4e15679c026d2969efa276149282df388e0533b3/lib/_http_client.js#L141

From what I can find the spec does not forbid and http body being placed (nor discourages) it (however it may not necessarily be a very comm

[2018-03-06 20:50] devsnek commented on #19179
http spec says that while sending a body with DELETE is not forbidden (e.g. not a client error), a server should ignore it

section 4.3: "if the request method does not include defined semantics for an entity-body, then the message-body SHOULD be ignored when handling the request"

[2018-03-06 20:51] devsnek commented on #19179
http spec says that while sending a body with DELETE is not forbidden (e.g. not a client error), a server should ignore it

section 4.3: "if the request method does not include defined semantics for an entity-body, then the message-body SHOULD be ignored when handling the request"

[2018-03-06 20:52] apapirovski commented on #19179
It's not a bug. As you've noticed, there's a property called `useChunkedEncodingByDefault` which is set to `false` by default for any of GET, HEAD, DELETE, OPTIONS and CONNECT. If you want to provide a body, you're free to do so but you have to use `Content-Length` or `Transfer-Encoding: chunked` to do so.

[2018-03-06 21:19] brtthomp commented on #498
Are there any open tickets within `libuv` currently to keep track of?  It would be nice to know if anyone is currently working on this problem.

[2018-03-06 22:02] devsnek opened #19182 "[v9.x staging] merge conflicts in util.js"
@MylesBorins

https://github.com/nodejs/node/blob/v9.x-staging/lib/util.js#L437 and elsewhere

[2018-03-06 22:06] estrada9166 commented on #19182
There are also other lines with the same issue in the same file https://github.com/nodejs/node/blob/v9.x-staging/lib/util.js#L826

[2018-03-06 22:27] Trott commented on #19079
Adding to the TSC agenda so we can hopefully get some of these things moving.

[2018-03-06 22:42] rockmelodies opened #19184 "升级完node后还是原来的版本"
* **Version**:
* **Platform**:
* **Subsystem**:

![image](https://user-images.githubusercontent.com/24653177/37062897-bd2ff45e-21d2-11e8-8e92-e909782c05f0.png)

[2018-03-06 23:20] Trott commented on #14537
@fhinkel Happy to remove it from the agenda. If anyone (members of TSC or not) have concerns or objections, they can add it back to the agenda. (Our governance rules are that anyone can add anything to the TSC agenda.)

[2018-03-07 00:15] cjihrig commented on #498
There is https://github.com/libuv/libuv/issues/158. I don't think anyone is actively working on it though.

[2018-03-07 00:29] joyeecheung commented on #19184
Please report the issue to [the issue tracker of n](https://github.com/tj/n), this issue track is for Node.js core issues. Thanks.

请将这个 issue 报到 [n 的 issue tracker](https://github.com/tj/n)，这个 issue tracker 只处理 Node.js core 的 issue。谢谢。

[2018-03-07 00:29] #19184 closed

[2018-03-07 00:39] Trott commented on #19030
I'm not sure how I feel about this. Personal pronouns should be avoided, but not prohibited. By making it a lint rule, it implies that they are prohibited.

I guess the important question that is difficult to answer is: Is this likely to result in improved documentation?

[2018-03-07 00:47] BridgeAR commented on #19030
I personally do not have such an issue with `you` but it makes it easier for me as I tend to use it. With a lint rule I do not have to think about it anymore. And as far as I can tell that would probably not only be good for me but also for others. `you` is a common review comment in documentation PRs.

If the documentation is improved when not using it? I am not sure... I have no strong opinion a

[2018-03-07 01:43] aikar commented on #19019
Closing as fix has landed in 8.10

[2018-03-07 01:43] #19019 closed

[2018-03-07 01:53] rvagg commented on #18577
persistent random ubuntu1604-arm64 crypto failures are being handled in https://github.com/nodejs/build/issues/842

[2018-03-07 01:53] #18577 closed

[2018-03-07 01:53] rvagg commented on #18495
persistent random ubuntu1604-arm64 crypto failures are being handled in https://github.com/nodejs/build/issues/842

[2018-03-07 01:53] #18495 closed

[2018-03-07 01:57] rvagg commented on #18731
I reckon this is related to #18998. I think on alpine we see "CRASHED" but on debian and ubuntu we see an empty stack

[2018-03-07 01:57] rvagg commented on #18585
I reckon this is related to #18998. I think on alpine we see "CRASHED" but on debian and ubuntu we see an empty stack

[2018-03-07 01:58] liqyan commented on #17058
Hi @jasnell, would you please update the status of working on refactoring native bootstrap?

[2018-03-07 02:00] rvagg commented on #14537
+1 from me, and backporting to all the things

[2018-03-07 03:54] Servant707 commented on #12311
@refack
Snarky answers don't help the community. If you are going to help out the community "for posterity", please make sure that you are giving the correct answer.
/S connects you to a remote system via a /U /P (that's a username and password)
The command that you want would be `setx /M PATH "%PATH%;[your chosen node directory]"`
Just make sure that you don't put a final backslash or that will e

[2018-03-07 04:17] dougwit opened #19192 "fs.access() not reporting error on Windows"
* **Version**: 9.6.1
* **Platform**: Windows 7 Professional x64
* **Subsystem**:  fs

fs.access() returns no error when given a file/directory with no priveleges.

Code example:
[code]
Output:
[code]

[2018-03-07 07:44] kenny-y commented on #6379
I did some experiments on the performance of `process.stdio`, and here's my finding (along with some issues of Node.js `process.stdio`). I believe it's related so I'm posting it here...

I was originally inspired by this post [How is GNU's yes so fast](https://www.reddit.com/r/unix/comments/6gxduc/how_is_gnu_yes_so_fast/), and I wanted to write it in Node.js.

**Take No.1**

[code]
It came out wit

[2018-03-07 08:57] DiegoTUI commented on #19166
@rohanraj7316  If I understood correctly, you are suggesting that the fact that the `end` and `close` events come in the wrong order could be due to the fact that I am listening to the `end` and `close` events of a net.Socket, and not of a "pure" stream. It doesn't make a lot of sense to me because [a Socket is a Duplex stream](https://github.com/nodejs/node/blob/cb5f9a6d871f6b2e0da8fa72dc2e91fb37

[2018-03-07 09:48] juggernaut451 opened #19195 "Error: listen EINVAL"
Version: `7.8.0`
Platform: `mac`

I tried to build node on my external drive by following [BUILDING.md](https://github.com/nodejs/node/blob/master/BUILDING.md).
On running the command `make test-only`. I am getting following error
[code]

[2018-03-07 09:52] apapirovski commented on #19179
I'll close this up as the question has been answered and there are no changes to be made.

[2018-03-07 09:52] #19179 closed

[2018-03-07 10:10] apapirovski opened #19197 "Investigate flaky parallel/test-performance"
The recently changed `parallel/test-performance` appears to unfortunately be flaky now. Recently failed on `aix61-ppc64`. More info:

[code]

/cc @TimothyGu

[2018-03-07 10:17] scic opened #19198 "TCP memory leak when aborting the initiating request when using a pipe"
* **Version**: v8.9.4
* **Platform**: Linux hostname 4.13.0-36-generic #40~16.04.1-Ubuntu SMP Fri Feb 16 23:25:58 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: http

I have a server that processes a GET request from the browser by issuing a GET request to another server. I use a pipe to forward the response.

[code]

The problem is if the browser aborts the request then tcp memory gets

[2018-03-07 10:19] seishun commented on #19170
It's not clear from your description how one can reproduce this issue. Can you provide a test case?

[2018-03-07 10:44] mcollina commented on #19166
I _think_ this is a bug. It also goes back to Node 4 _at least_.

[2018-03-07 11:24] mmarchini commented on #19148
+1

[2018-03-07 12:07] thefourtheye commented on #18943
+1

[2018-03-07 12:11] joyeecheung commented on #18793
Closed via https://github.com/nodejs/node/pull/19109

[2018-03-07 12:11] #18793 closed

[2018-03-07 12:11] bmeurer commented on #18943
+1

[2018-03-07 12:15] juggernaut451 commented on #19195
It's happening in every test wherever a server is trying to listen

[2018-03-07 12:19] joyeecheung commented on #18998
@rvagg It is possible to turn on `ulimit -c <limit>` on the problematic hosts and store the core dump + the binary for a period of time (or up to n GB of spaces) so we can download them and debug those?

[2018-03-07 13:13] joyeecheung commented on #19195
EDIT: oops, forgot it should be in the cwd to test the external drive..

[2018-03-07 13:24] juggernaut451 commented on #19195
It's running without any error

[2018-03-07 13:36] joyeecheung commented on #19192
See https://github.com/nodejs/node/issues/7700 , `fs.access` does not check ACL on Windows

[2018-03-07 13:38] joyeecheung commented on #19192
Setting a doc label because [the documentation](https://nodejs.org/api/fs.html#fs_fs_access_path_mode_callback) seems to be misleading:

[2018-03-07 13:40] joyeecheung commented on #19192
Also cc @bnoordhuis is that a wont-fix on Windows?

[2018-03-07 13:43] joyeecheung commented on #19195
There is probably something wrong with the the test then...the only relevant cause I can think of is that the address has been bound, but I cannot see how it could be the case by looking at `async-hooks/test-graph.pipeconnect`, it seems to correctly refresh the tmp dir before listening on the pipe... cc @nodejs/testing @nodejs/async_hooks

[2018-03-07 13:47] juggernaut451 commented on #19195
@joyeecheung  problem is something to relate to `tmpdir`. As when i set `tmpdir` to `const tmpdir = require('os').tmpdir();` then test are running fine

[2018-03-07 13:49] joyeecheung commented on #19195
@juggernaut451 Can you try `console.log(common.PIPE)` in both cases? Also it would help to run the test with `NODE_DEBUG=net` environment set and log the debug output.

[2018-03-07 13:53] danbev commented on #18943
+1

[2018-03-07 14:19] juggernaut451 commented on #19195
(Error case) In the case where `common.PIPE` is use, `console.log` -> `../.tmp/node-test.99874.sock`.

(Running case) In the case where `const PIPE = require('path').join(require('os').tmpdir(), 'test23.sock');` is use, `console.log(PIPE)` -> `/var/folders/sp/13h9cf093jqfdxkqjtg62dhw0000gn/T/test23.sock`

[2018-03-07 15:06] joyeecheung commented on #19195
@juggernaut451 Where are your Node.js executable located? The external drive or the local drive?

[2018-03-07 15:08] juggernaut451 commented on #19195
on local drive

[2018-03-07 15:13] joyeecheung commented on #19195
Can you try running the script in https://github.com/nodejs/node/issues/19195#issuecomment-371133815 with the `PIPE` replaced with a path on the external drive, using the executable from the local drive ?

[2018-03-07 15:13] antoniobusrod opened #19199 "Process V8 profiler output not working (new v8.10.0)"
* **Version**: v8.10.0
* **Platform**: linux x64
* **Subsystem**: Ubuntu 17.10 artful

After generate log statistical profiling information (`node --prof`), process V8 profiler output generated (`node --prof-process isolate-0xnnnnnnnnnnnn-v8.log`) doesn't output anything to standard ouput. It seems it consumes almost all CPU available.

I've been testing with example from [Easy profiling for Node.

[2018-03-07 15:14] joyeecheung commented on #19195
@juggernaut451 Also, are you using the executable built from binary, or Node.js 7.8.0 as described in the OP? 7.8.0 is no longer supported, please try a nightly or the master build.

[2018-03-07 17:08] addaleax commented on #19198
Just so I’m not misunderstanding, you’re basically describing the problem as in https://www.npmjs.com/package/pump#what-problem-does-it-solve, right?

I think in that case either using `pump` or waiting for https://github.com/nodejs/node/pull/13506 (to get a built-in `pump()`) would be the way to go … my understanding is that we can’t change the behavior in `pipe()` for backwards compatibility rea

[2018-03-07 17:24] mcollina commented on #19198
Yes.

[2018-03-07 17:37] ORESoftware opened #19207 "feature request - listen for foreign/alien/non-child process change/exit"
This is a feature request. I had a use case where I needed to listen for a parent process to exit, instead of a child process to exit. I wanted a solution that didn't use polling. Using `tail` or `ps` or `lsof` required polling, etc.  Given a PID, or some other piece of information, we should be able to use a non-polling solution to listen for changes to a non-child process event, especially 'exit

[2018-03-07 17:39] addaleax commented on #19207
Hm, regarding that … does that require any kind of privileges? I usually have to set up my machine to allow `strace` to attach itself to other processes, if I remember correctly. Also, does this prevent multiple Node processes from waiting on the same foreign process?

[2018-03-07 17:41] ORESoftware commented on #19207
Yeah it does require root privileges, this is the command that I need to run to do that:

`sudo setcap cap_sys_ptrace+ep bin/linux_waiter
`
that line is documented here:
https://github.com/ORESoftware/quicklock/blob/master/nodejs.md

[2018-03-07 17:55] captainrdubb commented on #19170
@seishun

var os = require('os');
var fs = require('fs');
var path = require('path');
var assert = require('assert');

var expectedFilename = 'testFile.txt';

var tmpDir = os.tmpdir();
var testDir = path.join(tmpDir, 'testCase');
var testFile = path.join(testDir, expectedFilename);

if (!fs.existsSync(testDir)) {
    fs.mkdirSync(testDir);
}

fs.watch(testDir, function (eventType, filename) {

[2018-03-07 18:25] addaleax commented on #19199
I guess that makes the V8 6.2 update a prime candidate for causing this … /cc @nodejs/v8

[2018-03-07 18:41] thefourtheye commented on #19079
I recently saw one of @joyeecheung's works, [CodeMod for deprecated Node.js APIs](https://github.com/joyeecheung/node-dep-codemod#codemods-for-deprecated-nodejs-apis). I haven't tried that myself, but I believe it works for Buffer constructor, as per [this tweet](https://twitter.com/JoyeeCheung/status/965277172775530496).

[2018-03-07 18:41] xtreampb opened #19208 "Buffer from hex -> hex is not a function"
* **Version**: 4.3.1
* **Platform**: MIPS (Open WRT)
* **Subsystem**: Onion Omega 2+

when working with the buffer class attempting to crate a new object from a string as hex as below:

`
console.log(Buffer.from('80', 'hex'));
`

the following error is produced:

[code]

[2018-03-07 18:43] addaleax commented on #19208
Can you update to the latest 4.x version? 4.3.1 is not supported anymore, and `Buffer.from` should work in up-to-date versions of Node 4 as expected.

(Side note: Node 4.x is going completely unsupported at the end of April, see [here](https://github.com/nodejs/Release) for the schedule. You may want to consider updating to one of the newer versions anyway.)

[2018-03-07 18:54] joyeecheung commented on #19079
@thefourtheye The codemods are only useful to a certain extent - it does not detect runtime types, only static types, so if the user pass in a variable, we can at best look at the names and guess the types (e.g.  `size` in `new Buffer(size)` should be a number so it may be transformed to `Buffer.from(size)`, I have not implemented those though).

For code with tests, maybe a better solution is to

[2018-03-07 19:21] juggernaut451 commented on #19195
updated node to `v9.6.1`.
It's throwing the same error when I am running [#19195](https://github.com/nodejs/node/issues/19195#issuecomment-371133815) with external drive path

[2018-03-07 19:40] targos commented on #19079
We should probably advertise ESLint's [no-buffer-constructor](https://eslint.org/docs/rules/no-buffer-constructor) rule.

[2018-03-07 19:43] CristianDeluxe opened #19210 "os.cpus() undefined on limited shell (TypeError: Cannot read property 'length' of undefined)"
* **Version**: 9.7.1
* **Platform**: Ubuntu 16.04.4 LTS (x64)
* **Subsystem**: VPS

Hi, my hosting is in a virtual machine with ISP config, I access through a limited shell (Jailkit) that has node/npm enabled.

When I try to use a library that checks the number of CPUs, it returns undefined, when in the documentation it says that **it should always return an array** (even if it is an empty array).

[2018-03-07 19:47] boneskull commented on #16627
@eugeneo Is this effort tracked publicly anywhere?

[2018-03-07 19:53] mscdex commented on #19210
Related: https://github.com/nodejs/node/issues/19022

[2018-03-07 20:37] mscdex commented on #19207
Without root on Linux, you might be able to do something like:

[code]

A possibly better/more elegant solution for Linux (>=2.6.15 with CONFIG_PROC_EVENTS) that requires superuser privileges is the example posted in [this SO answer](https://stackoverflow.com/a/8255487) which utilizes the Linux kernel's kernel<->userspace connector.

[2018-03-07 20:59] eugeneo commented on #16627
No, there is no hard commitment. It some experiments our team is run, that's all.

[2018-03-07 21:26] ORESoftware commented on #19207
@mscdex  yeah that might work, although such a solution might requiring polling internally / in the kernel

[2018-03-07 22:24] silverwind opened #19214 "Building with full-icu by default"
Currently, users cannot rely on full i18n support to be present cross-platform and even cross-distribution mainly because different package maintainers use different configurations for ICU and if Node.js was built with `system-icu` one still has to have `libicu` installed. Browsers on the other hand generally do support full i18n out of the box.

There is the option to use the [`full-icu`](https:/

[2018-03-08 02:26] devsnek commented on #19214
@mscdex can you elaborate? i assume you're -1 because of binary size?

[2018-03-08 02:43] srl295 commented on #19214
One option is to get the full-icu package working without options. I need
help getting the platform part to work.

[2018-03-08 05:12] milesj opened #19218 "child_process stdout being truncated"
* **Version**: 9.7.1
* **Platform**: Darwin miless-mbp.lan 17.4.0 Darwin Kernel Version 17.4.0: Sun Dec 17 09:19:54 PST 2017; root:xnu-4570.41.2~1/RELEASE_X86_64 x86_64
* **Subsystem**:

It seems like `spawn()` is truncating `stdout`, even when `maxBuffer` is set. I've been trying to capture the output of `jest --help`, which the full output looks like the following:

[code]

## spawn()
Here's an

[2018-03-08 06:42] mscdex commented on #19214
@devsnek Yes.

[2018-03-08 06:53] venkateshputta opened #19220 "npm ERR! 501 Method Not Implemented: electron@latest"
I can't install electron i'm getting an  error
unable resolve it
npm ERR! 501 Method Not Implemented: electron@latest

* **Version**:
* **Platform**:
* **Subsystem**:

[2018-03-08 06:58] TimothyGu commented on #19214
I'm also -1 on this for the same reason as @mscdex. I'd rather find a way to fix #3460 instead.

[2018-03-08 07:47] gireeshpunathil commented on #19220
I did `npm install electron` and it succeeded. Which OS and node version did you use? If you let me know I will try once again with that and see if something obvious comes out. Otherwise, you should be raising it up with https://github.com/electron/electron for anything broken, or with https://www.npmjs.com/ for anything unimplemented.

[2018-03-08 08:28] bnoordhuis commented on #19214
I was strongly against full-icu when ICU was introduced but I've since made a 180 flip.  Ease of use and being able to rely on it just being there outweigh the downside of a bigger binary.

The binary size doesn't particularly trouble me anymore.  If that was really an issue we would build without debug symbols or make them available as a separate download, but we don't.

Bigger runtime memory foo

[2018-03-08 08:43] mcollina commented on #19067
Added tsc-agenda to announce it in the next meeeting cc @nodejs/tsc

[2018-03-08 08:49] bnoordhuis commented on #19210
Closing as duplicate of #19022.  You're welcome to chime in on that issue.

[2018-03-08 08:49] #19210 closed

[2018-03-08 09:11] vsemozhetbyt commented on #19051
cc @nodejs/testing . Sorry, I do not know C++(

[2018-03-08 09:22] scic commented on #19198
Yes it seems to be the problem pump solves. Although I could not get the two pump streams connected with pump only thus i propagated the close event manually like this:

[code]

Now the tcp memory stays low.

I would appreciate an integrated pump functionality in Node.js like #13506 provides. I think its a very common use case.

[2018-03-08 09:22] #19198 closed

[2018-03-08 09:39] addaleax commented on #19218
I assume, you mean the output is the truncated one?

I think `spawn` ignores that anyway, so it’s probably not related.

Do you get the same issue with other scripts, e.g. when trying to run `yes | head -n 10000` via `exec()`?

[2018-03-08 09:43] apapirovski commented on #19197
Failed again recently: https://ci.nodejs.org/job/node-test-commit-linux-containered/2768/nodes=ubuntu1604_sharedlibs_debug_x64/tapResults/

[2018-03-08 10:42] bzoz commented on #19192
This can be probably fixed in libuv, there is [AccessCheck](https://msdn.microsoft.com/en-us/library/aa374815.aspx) function in WinAPI that seems to do just that. For now lets just document this.

[2018-03-08 10:48] bzoz commented on #19141
/cc @nodejs/http2

[2018-03-08 11:39] venkateshputta commented on #19220
Os is windows 10
Node version is 8.10.0

[2018-03-08 11:51] mcollina commented on #19141
@jasnell what do you think?

[2018-03-08 12:00] bzoz commented on #19170
Its a libuv issue. The wrong relative filename is created [in fs-event.c](https://github.com/libuv/libuv/blob/v1.x/src/win/fs-event.c#L471).

[2018-03-08 12:13] gireeshpunathil commented on #19220
it does not recreate for me. As suggested earlier, please raise it with https://github.com/electron/electron

[2018-03-08 12:30] BridgeAR opened #19225 "Skipped deprecation numbers"
I just realized that we skipped `DEP0087` and `DEP0088` when https://github.com/nodejs/node/commit/a319e90807bbc74b6d0e85ee9bec697acb68ebcb landed.

Shall we add a note that they are unused / shall we still use them now / shall we ignore them?

Opinions? @nodejs/collaborators

[2018-03-08 12:48] kasicka commented on #17098
I think this can be closed, fixed by https://github.com/nodejs/node/pull/18807

[2018-03-08 13:11] HilkoLantinga opened #19227 "8.10.0 Mac installer stuck"
Nodejs 8.10.0 macOS installer gets stuck (spinning circle) after clicking continue and agree on license agreement.
I've been installing node.js for years on Mac and have never seen this before.

OS Version:      Mac OS X 10.12.6 (Build 16G1212)
Architecture:    x86_64h
Report Version:  25

Data Source:     Stackshots

Command:         Installer
Path:            /System/Library/CoreServices/Install

[2018-03-08 13:32] captainrdubb commented on #19170
@bzoz  Maybe we need the long_dirw, instead of passing handle->dirw
![image](https://user-images.githubusercontent.com/8739672/37153417-447071ee-22a2-11e8-8da1-67900aaa7601.png)

[2018-03-08 13:49] Trott commented on #19197
@TimothyGu

[2018-03-08 13:50] Trott commented on #19197
The timing stuff sure suggests to me that the test ought to be in `sequential` rather than `parallel`.

[2018-03-08 13:54] bzoz commented on #19170
I think we should get long directory name here: https://github.com/libuv/libuv/blob/v1.x/src/win/fs-event.c#L200.

[2018-03-08 13:55] HilkoLantinga commented on #19227
Whatever caused it, a reboot solved it.

[2018-03-08 14:10] SlurpTheo commented on #11623
@huge818 @bnoordhuis

Seeing an eerily-similar message to https://github.com/nodejs/node/issues/11623#issuecomment-283235142 while trying to rebuild a native module that worked in v6 --> v8 using VS.2017. Is there an issue about how the "cap project" resolved this somewhere?

[2018-03-08 14:15] bzoz commented on #19154
I've gave it a shot (https://github.com/janeasystems/node/commit/74c72e06fa250240dbc8118feaac41a44478a927), but this does not work. Node client fails with ENOTCONN when trying to read from pipe, maybe because of this line: https://github.com/libuv/libuv/blob/88c2af0e65ed49ff599f5afd4bf952ecdfab4594/src/win/pipe.c#L2122.

[2018-03-08 14:17] Trott commented on #19197
Oh, yes, definitely can fail due to system load.

[code]

[2018-03-08 14:20] Trott commented on #19197
PR to address this: https://github.com/nodejs/node/pull/19228

[2018-03-08 14:45] cjihrig commented on #19225
I don't think we need to note that they are skipped. I'm fine with ignoring them, although it's probably safe to go back and use them now.

[2018-03-08 14:46] cjihrig commented on #17098
Thanks. Closing.

[2018-03-08 14:46] #17098 closed

[2018-03-08 15:15] bnoordhuis commented on #19192
I don't know if we should (but I also don't know if we shouldn't); we don't check ACLs on other platforms.

[2018-03-08 15:32] leiyangyou opened #19231 "kIncomingMessage undefined for socket.server"
after upgrading to node 9.7 some existing code started crashing when calling socket.emit('data', data)

the socket was created by net/Server, and later added to an httpServer through httpServer.emit('connection', socket)

I understand that the usage may be a bit hacky, but this was how some third party library implemented a hybrid server (one that takes both tcp & ws connections)

[2018-03-08 16:26] nigelhanlon commented on #19057
I am having the same issue when running `make coverage`.

- Version: master
- Platform: macOS High Sierra Version 10.13.3.
- Subsystem: N/A
- Xcode:  Version 9.2 (9C40b)

[code]

[2018-03-08 17:21] silverwind commented on #19214
Yes, building the smaller variants should still be an option. Thought, I don't see platforms where a few MBs more are an issue as the primary consumers for Node.js.

That would be an improvement, but it's still an issue that users first have to discover this package, probably after wondering why i18n APIs don't work like they do in browsers.

As a package author, I'm reluctant to include `full-icu

[2018-03-08 17:41] vsemozhetbyt opened #19235 "child_process: confusing error message from functions with empty string argument"
* **Version**: master (10.0.0)
* **Platform**: Windows 7 x64
* **Subsystem**: child_process

All these function calls produce a bit confusing error message:
[code]
[code]
Compare with previous versions:

v4–v6: `TypeError: Bad argument`
v8–v9: `TypeError: "file" argument must be a non-empty string`

See https://github.com/nodejs/node/blob/74ff743289dc750a9171e5e6a6aaaef73cb3b912/lib/child_process.

[2018-03-08 17:43] #18943 closed

[2018-03-08 18:02] milesj commented on #19218
@addaleax Yes, the same output as the truncated one. I'll update the post.

I'll try with that script and report back.

[2018-03-08 18:12] lykkin commented on #18233
@guybedford It sounds like there would have to be a case made upstream to v8 about exposing modules as they are being loaded, though there are also other interfaces that could be implemented to get the same functionality (e.g. an instrumentation API in v8 where you can register hooks on a module's methods and it will export the relevant data to a listener).

Having a hook in v8 for doing these kin

[2018-03-08 18:14] dougwit commented on #19192
Not all platforms use ACLs as their native permissions mechanism. Ignoring ACLs makes `fs.access()` essentially useless on Windows, and the function fails to do what it says it does:

[2018-03-08 18:26] #19227 closed

[2018-03-08 19:46] jfromaniello opened #19239 "Add support for resolving CAA records"
This type of record is defined by [rfc6844](https://tools.ietf.org/html/rfc6844).

* **Version**: v8.6.0
* **Platform**: all
* **Subsystem**: dns

[code]

[2018-03-08 20:50] santigimeno commented on #19218
It looks a duplicate of  https://github.com/nodejs/node/issues/784. Making the stdio pipes blocking as suggested [here](https://github.com/nodejs/node/issues/784#issuecomment-73744882) fixes the issue though probably there was a reason why it didn't land.

[2018-03-08 20:56] addaleax commented on #19218
@santigimeno That this also occurs with non-Node child processes makes that sound unlikely (assuming that that’s correct)?

[2018-03-08 21:10] santigimeno commented on #19218
@addaleax I just tested with the `jest` command that is a node script afaik.

[2018-03-08 21:17] addaleax commented on #19218
@santigimeno I asked the OP to also check with `yes | head -n 10000` to figure out whether this is related to child process stdio; that they said it doesn’t stop the issue from appearing seems to indicate it is not?

[2018-03-08 21:18] santigimeno commented on #19218
I think his response was he'll try and report back

[2018-03-08 21:21] santigimeno commented on #19218
BTW, `yes | head -n 10000` works correctly

[2018-03-08 21:23] tniessen commented on #19239
Not sure whether c-ares supports CAA, probably something for https://github.com/nodejs/node/issues/14713.

[2018-03-08 21:45] wankdanker opened #19240 "v6.13.1 createReadStream() invalid seek"
* **Version**: v6.13.1
* **Platform**: Linux 3.13.0-142-generic #191-Ubuntu SMP Fri Feb 2 12:14:37 UTC 2018 i686 i686 i686 GNU/Linux
* **Subsystem**: fs

It believe commit 82bdf8fba2d3f197522e31ee49f3cc4f5f52bd53 (fs: fix options.end of fs.ReadStream()) broke my code for creating a read stream. It looks to me like `this.start` is now forced to the value `0` whereas previously it was allowed to be

[2018-03-08 22:06] milesj commented on #19218
@santigimeno Thanks for testing that for me.

[2018-03-09 00:37] Trott commented on #9314
This issue is labeled `discuss` but it seems to have stalled. I'm going to close it on the grounds that someone can open a PR to implement this proposal or not, but either way, the discussion seems to have run its course. Feel free to re-open if you think this should not be closed yet.

[2018-03-09 00:38] Trott commented on #12425
@refack Is this still in progress? Should this remain open?

I'm going to remove the `discuss` label but feel free to add it back if you think that's misguided.

[2018-03-09 00:39] Trott commented on #12310
@refack Same question as the other PR: Still in progress? Should this remain open? Removing `discuss` label but feel free to put it back if you think it should stay.

[2018-03-09 00:52] rvagg commented on #18998
had one on test-digitalocean-debian8-x64-1 today https://ci.nodejs.org/job/node-test-commit-linux/16972/nodes=debian8-64/

[code]

but no core, at least I can't find one, perhaps one was made in the working directory but destroyed with the next run after a `git clean`. It's also possible that `LimitCORE` did nothing since we could be using a too-old version of systemd on Debian 8, the `coredumpctl

[2018-03-09 03:27] vsemozhetbyt opened #19250 "tools: strange linting issue"
* **Version**: master
* **Platform**: Windows 7 x64
* **Subsystem**: tools

The case of drive letter (i.e. `j:` vs `J:`) causes different behavior. Moreover, this difference is opposite in various shells.

`cmd.exe`:
[code]

Git Bash:
[code]

cc @nodejs/linting @nodejs/platform-windows

[2018-03-09 04:47] Trott commented on #8810
@ljharb Based on https://github.com/tc39/proposal-global/issues/20, does it seem very likely that the global object will *not* be named `global`, thus reducing compatibility concerns for Node.js around enumerability of `global`?

[2018-03-09 04:48] Trott commented on #7935
Removing `discuss` label because it seems like decisions have been made. Re-add if you think it should remain.

[2018-03-09 05:03] joyeecheung commented on #18998
@rvagg I believe if the test crashes then the output would be a `severity: crashed` following by the signal that the process crash with? This looks like another test that fails without output, probably there's something wrong with `tools/test.py` that fails to grab the output from the test.

[2018-03-09 05:50] venkateshputta commented on #19220
Can you send me the steps so that i can try once again

[2018-03-09 05:51] ljharb commented on #8810
It's an absolute certainty that it will not be named `global` at this point, unfortunately.

(If node wants to leave `global` enumerable, they're thus welcome to do so, but either way I think non-enumerable is a far better choice)

[2018-03-09 05:55] gireeshpunathil commented on #19220
`npm install electron`

[2018-03-09 05:59] venkateshputta commented on #19220
should i download any file other than node.js

[2018-03-09 06:01] gireeshpunathil commented on #19220
no

[2018-03-09 06:11] Trott commented on #8810
OK, in that case, I'll remove the `blocked` label.

We should probably change the title of this issue to reflect the above concern rather than the TC-39 standard thing since  non-enumerability of a new thing would be a non-issue.

[2018-03-09 06:12] Trott commented on #8810
@jasnell Any objection to changing the title of this issue to something like "make `global.global` non-enumerable?"

[2018-03-09 09:36] ssz360 commented on #11414
this solution solved my problem : https://github.com/ionic-team/ionic-cli/issues/2921#issuecomment-352359738

[2018-03-09 10:32] targos opened #19254 "new URL(url, null) fails with wrong error"
[code]

It should probably throw the same error as other invalid URLs: `TypeError [ERR_INVALID_URL]: Invalid URL: null`

[2018-03-09 10:35] himanshuapril1 opened #19255 "Building Node.js with FIPS-compliant OpenSSL: Failing"
* **Version**: 8.10.0
* **Platform**: Linux

Hi Guys,
I'm facing an issue while building Node binaries with FIPS support from the source Code.
However while trying same steps with Node source code V.6.11.2 it's working fine.
FYI - I got install FIPS successfuly.
Getting error with some python scripts -
[code]
Can anyone please help out?

Prerequisites:
* **Python :** 2.6.6
* **gcc:** 5.3.1
* **GNU

[2018-03-09 11:04] rvagg commented on #18998
@joyeecheung ahhh good point, I didn't realise that. `self.output.exit_code < 0 and self.output.exit_code != -signal.SIGABRT` in test.py, why would not be treating `abort()` as a "crash" tho?

Anyway, I can see corefiles stacking up, looks like _lots_ of them per test run on each of these servers, is that normal? I've never bothered getting in to core dump analysis so I'm a bit out of my depth.

[2018-03-09 11:05] rvagg commented on #18998
Also, I've enabled timestamps on the console output of node-test-commit-linux so we can match up test failures with core files since systemd keeps them nicely stored with a timestamp.

[2018-03-09 11:27] BYK commented on #15793
@bnoordhuis this also hurt us at Yarn. do you think we can at least add something to the docs regarding this in the meantime? (not sure if this is going to be addressed but it would have been great to know about it at before we got burnt :))

[2018-03-09 13:57] PedroGarita opened #19257 "Incorrect version number"
Version: 8.10
Platform:  64-bit (Windows Home)
The problem was warned when I tried to install the create-react-app module using cmd.
In a recent installation of windows I notice node -v: 0.10.0 when the LTS 8.10 was first installed, the "repair" option threw 0.10.20, then version 9.8.0 showed 0.10.21. I uninstalled everything and tried 8.9.4 and now the version number is good but outdated. No one

[2018-03-09 14:03] cjihrig commented on #19257
This sounds like a configuration issue on your side. I encourage you to ask for assistance at https://github.com/nodejs/help. Thanks!

[2018-03-09 14:03] #19257 closed

[2018-03-09 14:07] gibfahn commented on #12310
I think the discussion is done, we know what needs to be done, it just needs someone to put the time in and raise a PR.

Still worth doing though, so worth leaving open.

[2018-03-09 14:52] bnoordhuis commented on #19255
Fairly sure it's caused by 5111e789e62, try reverting that patch.

cc @addaleax, looks like it doesn't work with a fips-compliant python.

[2018-03-09 15:04] bnoordhuis commented on #19239
It doesn't.

[2018-03-09 15:14] mhdawson opened #19258 "V8 tests failing in nightly master run on PPC BE"
* **Version**: master
* **Platform**: PPCBE
* **Subsystem**: v8

Failures in nightly run:
https://ci.nodejs.org/job/node-test-commit-v8-linux/nodes=ppcbe-ubuntu1404,v8test=v8test/1257/

[code]

May just be time to remove BE from the v8 testing, but I've avoided doing that as changes are backported to older streams at times and so while it was passing it was good to have coverage.

@jBarz @mmallick

[2018-03-09 15:47] gibfahn commented on #9314
I think it's worth leaving this open as something someone could pick up at some point.

[2018-03-09 16:30] witt3rd opened #19260 "node --prrof-process fails: printErr not defined"
* **Version**: v9.8.0
* **Platform**: macOS 10.3.3
* **Subsystem**: profiling

Captured a profile session (node --profile) in a isolate-X.log file.

node --prof-process isolate-0x104001e00-v8.log > processed.txt
evalmachine.<anonymous>:2784
  printErr(str);
  ^

ReferenceError: printErr is not defined
    at TickProcessor.printError (evalmachine.<anonymous>:2784:3)
    at TickProcessor.LogReader.p

[2018-03-09 16:44] Trott opened #19261 "investigate flaky es-module/test-esm-encoded-path-native"
* **Version**: v10.0.0-pre (master)
* **Platform**: debian8-64
* **Subsystem**: test, esm

https://ci.nodejs.org/job/node-test-commit-linux/16982/nodes=debian8-64/console

[code]

@nodejs/modules @nodejs/testing

[2018-03-09 16:48] guybedford commented on #19261
So this seems like it's happening on the `child.on('exit', code => assert(code === 1))` line, where `code` is null for `child_process.spawn`.

Surely child_process should always exit with a code even in any possible error scenario?

Perhaps switching to sync exec or something similar might help.

[2018-03-09 16:49] joyeecheung commented on #18998
@rvagg  I am able to get the core dumps from `test-digitalocean-debian8-x64-1` but I don't have the accompanying Node.js binary that generates them...File names are `core.node.1000.567551fcf4104b21b9fb317a3ca0da3b.<pid>.<time?>`, there seems to be a sha in the file name but I am unable to find the correct commit..

[2018-03-09 17:26] guybedford commented on #18233
@lykkin I wonder how far we might get with a translation approach something like:

[code]

[code]

The only problem with the above would be `const` bindings, but perhaps a source replacement of `export const` -> `export let` would also be possible as a hack.

At least using these hacks we could possibly explore the space somewhat. v8 API hooks would be the ideal certainly though, we'd just need to

[2018-03-09 17:27] guybedford commented on #18233
(sorry @bmeck for going off-topic here, perhaps we should start a new thread)

[2018-03-09 17:34] jacobq commented on #14770
Alternatively, if you want to use promises / async functions you can use [`node-fs-extra`]() like [this](https://github.com/jprichardson/node-fs-extra#sync-vs-async-vs-asyncawait).

[2018-03-09 17:46] Trott opened #19263 "investigate flaky sequential/test-inspector-stop-profile-after-done"
* **Version**: 10.0.0-pre (master)
* **Platform**: win2016 vs2017
* **Subsystem**: inspector test

https://ci.nodejs.org/job/node-test-binary-windows/15597/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=2/console

[code]

Anyone know what exit code 3221225477 means on Windows? ("actual" and "expected" are reversed above. I'll submit a PR to fix the test.)

@nodejs/platform-windows @nodejs/testing @n

[2018-03-09 18:08] mmallick-ca commented on #19258
I think we should drop the testing, I am not aware of any PPC BE Linux users for v8, Node.js is dropping support as well and based on comments by Julian on slack it sounds like PPC is also moving away from PPC BE. The maintenance overhead does not seem worth it.

[2018-03-09 18:16] richardlau commented on #19263
3221225477 is 0xC0000005 which is STATUS_ACCESS_VIOLATION. Something is attempting to access memory it shouldn't be.

[2018-03-09 21:40] vsemozhetbyt commented on #19250
It seems the issue is not in drive letter, but in case of any letters in a path within case insensitive OS like Windows. Compare (the first directory is titlecased):

[code]

[2018-03-09 21:51] seishun commented on #19250
Probably an issue in eslint.

[2018-03-09 22:48] vsemozhetbyt commented on #19250
Maybe. I was trying to debug, but I cannot catch the cause, I am not so aware how plugin rules are integrated.

Drive letter miscasing is more often issue than any other miscasing in a path. For example, there is a Windows way to make it possible to call `script` in the shell instead of `node script.js`:

[code]

So, after this set, if a user runs:
[code]
it will be expanded by a shell into:
[code

[2018-03-10 00:48] srl295 commented on #19214
@silverwind

it could be a checkbox in the installer to install… or a suggested package within ubuntu, etc

couldn't it be deduped via npm?

I wasn't trying to do a bait and switch :)  full by default I like for many reasons, simplicity, cultural-linguistic correctness, dropping the words 'English only' from the vocabulary , etc..   But I do understand that the size issues are real. Not insurmount

[2018-03-10 01:07] devsnek commented on #19214
the way i see this, node has been working with negative size constraints because it was always missing full-icu. i build with full-icu everywhere anyway and like @silverwind said the primary consumers of node are not the people who can't download 40mb binaries

[2018-03-10 02:04] maclover7 commented on #18539
https://ci.nodejs.org/job/node-test-commit-linuxone/nodes=rhel72-s390x/13533/console

[2018-03-10 04:05] klimashkin opened #19271 "npm 5.7.x in 8.x LTS"
Hello! Is there any plans to include npm 5.7.1 into one of node 8 releases?
`npm ci` is really helpful, but upgrading npm on ci side before actual call decreases its benefits.

[2018-03-10 10:47] seminaoki opened #19272 "[api-doc] what returns when calling stream.read() after stream is closed is not consistent documented"
* **Version**: [docs/latest-v8.x](https://nodejs.org/docs/latest-v8.x/api/stream.html#stream_readable_read_size)

#### [readable.read([size])](https://nodejs.org/docs/latest-v8.x/api/stream.html#stream_readable_read_size)

The doc states

Then it also states

So, what it returns when calling stream.read() after stream is closed, **null** or **all of the data remaining in the internal buffer**?

[2018-03-10 10:52] vsemozhetbyt commented on #19250
More info to consider:

1. ``, `` and `` are dependent on script argument.
2. `` is dependent on a shell.

test.js:
[code]

cmd.exe:
[code]

Git bash:
[code]
It seems ESLint or plugin try to compare these items case-sensitively somewhere.

[2018-03-10 11:12] addaleax commented on #19271
I think that would mostly depend on a PR upgrading npm to 5.7.1 on `master`.

/cc @nodejs/npm

[2018-03-10 13:59] vsemozhetbyt opened #19273 "inspector: breakpoints and letter case in script path argument"
* **Version**: master (10)
* **Platform**: Windows 7 x64
* **Subsystem**: inspector

Trying to debug the #19250, I've found a confusing behavior in debugging with Google Chrome: breakpoints depend on the case of script path argument (in particular. drive letter case).

1. Create `test.js` file:
[code]

2. Run it the first time with the full path and lowercase drive letter:
[code]

3. Run to comple

[2018-03-10 14:00] vsemozhetbyt commented on #19250
Why it was so difficult to debug: https://github.com/nodejs/node/issues/19273

[2018-03-10 14:26] vsemozhetbyt commented on #19273
There is a more severe case.

1. Create two files:

* `test-script.js`
[code]

* `test-lib.js`

[code]

2. Run the `test-script.js` with lowercase drive letter:
[code]

3. Add a breakpoint in the dependent `test-lib.js`, run to completion. The breakpoint is not activated. Remove the breakpoint.

4. Run the `test-script.js` with uppercase drive letter:
[code]

5. Add a breakpoint in the dependent `

[2018-03-10 14:42] vsemozhetbyt commented on #19273
Upstream issue: https://bugs.chromium.org/p/chromium/issues/detail?id=820728

[2018-03-10 15:12] ghost opened #19274 "rocketchat crashes with segmentation fault since nodejs 8.10"
* **Version**: 8.10
* **Platform**: Gentoo Linux
* **Subsystem**: v8 engine

Hello Devs.

Since nodejs 8.10 Rocketchat (https://rocket.chat/) crashes with segmentation fault. Compiled nodejs with debug and got this:

[code]

And:

[code]

Any idea how to fix this?

Here is the rocketchat issue: https://github.com/RocketChat/Rocket.Chat/issues/10060

thanks and cheers

[2018-03-10 17:02] targos commented on #19274
@nodejs/v8

[2018-03-10 18:14] hashseed commented on #19274
I'd check whether this is fixed with newer V8 and bisect for the fix.

[2018-03-10 18:16] targos commented on #19274
I could reproduced. Then I wanted to run it again with node master but there is a dependency that uses a V8 API that doesn't exist anymore

[2018-03-10 18:24] vsemozhetbyt commented on #19250
It is not ESLint, it is us) This is what happens in two described calls:

1. `node j:/temp/_git/node-fork/tools/node_modules/eslint/bin/eslint.js .eslintrc.js`:

* [.eslintrc.js#L6](https://github.com/nodejs/node/blob/97579068b5e00d46f2e376f3f25cd411ea7c40e0/.eslintrc.js#L6) requires the `eslint-plugin-node-core` and put it in the cache with `'j:\[full_path]'` id (`require.resolve('./tools/node_mo

[2018-03-10 18:33] vsemozhetbyt commented on #19250
@devsnek, would it be more comfortable for you to find a fix?

[2018-03-10 18:57] hashseed commented on #19274
I was wrong. This rather looks like the parser is running on a thread it is not supposed to be on.

[2018-03-10 22:57] andrezero commented on #13408
Just came across this. :-(

[2018-03-11 01:55] dealdiane commented on #8897
@StefanScherer probably a dumb question but what do I need to run Windows Server Insider Preview >= 17074? Do I need to use that as my OS or can I just `docker run` it?

I've been `docker run`ning it but have been getting this error:
`failed to register layer: re-exec error: exit status 1: output: ProcessUtilityVMImage C:\ProgramData\Docker\windowsfilte
r\xxxx\UtilityVM: The system cannot find the

[2018-03-11 02:16] Trott commented on #14798
Closing as stale and possibly resolved. Please feel free to re-open if you think it warrants it.

[2018-03-11 02:16] #14798 closed

[2018-03-11 02:26] #14990 closed

[2018-03-11 03:30] BridgeAR opened #19278 "Flaky parallel/test-performance"
https://ci.nodejs.org/job/node-test-commit-linux-containered/2767/nodes=ubuntu1604_sharedlibs_debug_x64/console

[code]

This test is actually failing frequently at the moment.

[2018-03-11 03:48] Trott commented on #19278
This should have been fixed (or at least tremendously mitigated) by ed8fa81470e2dd450189a7020bd8e1326db51efd which moved the test to sequential. This failure is from before that commit, so I'm going to close this.

[2018-03-11 03:48] #19278 closed

[2018-03-11 06:46] StefanScherer commented on #8897
@dealdiane That‘s ‚normal‘, you can‘t run containers newer than the host kernel version.

To run insider containers you need a Server Insider.

You can register to the Windows Server Insider Preview program and download the VHD or ISO from https://www.microsoft.com/en-us/software-download/windowsinsiderpreviewserver

I have a Packer template to automate the creation of a Vagrant box file to have a

[2018-03-11 07:08] dealdiane commented on #8897
@StefanScherer Thanks. That's what I was worried about.

This is for a build server. I was hoping that there's a way to use it without having to setup another build server. Based on your comment, I guess there isn't.

I'm currently stuck with something where even the mapped drive trick doesn't work.

[2018-03-11 08:25] himbeere commented on #19274
If you have a patch at some point, i'm happy to to test.

[2018-03-11 11:09] zhanzhenzhen opened #19281 "ES module loading inconsistent with browser while handling `undefined` exceptions"
* **Version**: 9.8.0
* **Platform**:
* **Subsystem**:

If a module throws `undefined`, and another module imports it, it should catch `undefined`, like that in browser.

Browser Test
-------------

Make 2 files "index.html" and "aaa.mjs".

index.html:

[code]

aaa.mjs:

[code]

It will output `"bad undefined"`. You can also visit my temporary page for this test: https://zzz-shadow.github.io/

Node

[2018-03-11 11:14] zhanzhenzhen commented on #19281
Just made a pull request. Please check.

[2018-03-11 11:43] rvagg commented on #18998
Sorry @joyeecheung, I think maybe they've not been kept between runs, it looks like systemd isn't saving the binaries too. Perhaps we need to do a binary save after each run too, although that'll have to be done in Jenkins.

I'm out of action for the next 2 days sadly so I won't be able to help again until at least mid-week.

[2018-03-11 13:22] mappum commented on #11629
This is still an issue as of Node v9.8.0. Can/should anyone push for a v8 fix, or should there be any sort of Node workaround? Or are users expected to rebind to the unproxied contexts for all of these calls?

[2018-03-11 13:35] benjamingr commented on #19281
@nodejs/modules

[2018-03-11 13:45] benjamingr commented on #19281
@zhanzhenzhen thanks for opening an issue and making a PR!

[2018-03-11 14:35] mourner commented on #19044
Hey, any updates on this? Did anyone get `--prof-process` to work with Node v9?

[2018-03-11 15:04] timdp commented on #19044
@mourner For me at least, it's still broken because of #19260. It looks like the last working version was 9.5.0.

[2018-03-11 17:33] #19055 closed

[2018-03-11 17:45] Legends opened #19286 "fsPromises.readFile ignores encoding option"
* **Version**: v10.0.0-nightly20180309099e621648
* **Platform**: Win10 x64
* **Subsystem**: ?

[code]

**data** will be of type string, when specifying the encoding in the method call, but with the latest version (**v10.0.0-nightly20180309099e621648**) I have to `data.toString("utf8")` **again**, to get the result as string.

By design?

[2018-03-11 19:47] JohnzBallad commented on #13077
I'm still having this issue with node v8.9.4

[2018-03-11 20:11] milesj commented on #19218
I've tried blocking the process, but that doesn't seem to work either. Same truncated output.

Code as follows:

[code]

[2018-03-11 22:15] OleksandrKvl opened #19288 "pipe() doesn't close piped streamA after streamB has been destroyed"
* **Version**:v9.5.0
* **Platform**:Windows 7 x64
* **Subsystem**:_stream_readable.js

After two sockets are piped, it seems logical that when one is end, the other will end too (except errors, as documentation clearly says). But that's not always true.
In my case, I have piped sockets, and in rare cases one socket was left in ESTABLISHED state, while other was closed. So end() (uv_shutdown()) was

[2018-03-11 23:00] #19163 closed

[2018-03-12 05:05] Trott commented on #14844
Happened just now: https://ci.nodejs.org/job/node-test-commit-freebsd/16120/nodes=freebsd11-x64/console

[2018-03-12 05:18] Trott commented on #14844
Stress test, once in sequence and once with `-J` for parallelism.

Sequence: https://ci.nodejs.org/job/node-stress-single-test/1787/nodes=freebsd11-x64/
Parallel: https://ci.nodejs.org/job/node-stress-single-test/1788/nodes=freebsd11-x64/

[2018-03-12 07:13] avatar-lavventura commented on #11257
I am using node version `v8.2.1` and still having the same error. Is it solved on higher versions? @BridgeAR

[2018-03-12 07:17] BridgeAR commented on #11257
@avatar-lavventura yes, using a newer version should resolve the problem.

[2018-03-12 07:18] avatar-lavventura commented on #11257
I just tried `v9.8.0` but still facing with same error :( @BridgeAR

[2018-03-12 09:17] benjamingr commented on #19286
Looks like a bug to me, `fs.readFileSync` returns a string for the same call.

[2018-03-12 09:20] benjamingr commented on #19286
Can reproduce locally
[code]

[2018-03-12 09:27] benjamingr commented on #19286
Looks like the encoding handling is missing in `fs/promises` and it is simply ignored https://github.com/nodejs/node/blob/master/lib/fs.js#L403-L405

https://github.com/nodejs/node/blob/master/lib/fs/promises.js#L132 ignores `options` passed in.

[2018-03-12 09:34] benjamingr commented on #19286
Going to tackle this one

[2018-03-12 09:43] himanshuapril1 commented on #19255
@bnoordhuis @addaleax Reverting those changes didn't work.
Any other pointers?

Doing grep for **hashlib** library, I see there are some new additions (as compared to 6.x.x version) -
[code]

[2018-03-12 10:22] bzoz commented on #19220
This is most likely issue with electron, maybe npm, but not node. Closing.

[2018-03-12 10:22] #19220 closed

[2018-03-12 11:39] marekpla opened #19297 "Error: getaddrinfo ENOTFOUND selenium-release.storage.googleapis.com selenium-release.storage.googleapis.com:443"
* **Version**: v7.10.1 / v.8.10.0
* **Platform**: Windows 7 Enterprise 64-bit
* **Subsystem**:

I am trying to run Protractor's webdriver-manager tool using node:
`node ./node_modules/protractor/bin/webdriver-manager update`
and get the following output:

I am behind company's proxy. I have set proxy details in .npmrc file. With these settings I am able to use npm tool, but seems like node does no

[2018-03-12 11:49] mscdex commented on #19297
node doesn't utilize http/https proxies in core. There are third-party modules on npm that provide that kind of support however.

[2018-03-12 12:32] neemah commented on #18495
<img width="1366" alt="screen shot 2018-03-09 at 14 57 07" src="https://user-images.githubusercontent.com/212695/37283840-7ded7c58-260a-11e8-972d-8d38906f1c18.png">

Started to appear on Heroku (node 9.5.0) some days ago

[2018-03-12 13:31] benjamingr commented on #19297
Hey, thanks for bringing this up. This issue tracker is for issues relating to Node.js core itself. Questions about using Node can be asked in https://github.com/nodejs/help/

In either case - this is not likely something we can help you with - I recommend asking protractor https://github.com/angular/protractor

[2018-03-12 13:59] Trott commented on #14844
I messed up the parallel stress test. Here it is again, hopefully correctly done this time:

https://ci.nodejs.org/job/node-stress-single-test/1789/nodes=freebsd11-x64/

[2018-03-12 14:07] addaleax commented on #19060
@SirR4T Are you still interested in this?

[2018-03-12 14:17] benjamn commented on #19274
I've seen the thread ID error when running a debug build of Node and using https://github.com/laverdet/node-fibers (which I believe RocketChat uses, since it's a Meteor app?):
[code]
Specifically, the `fibers` library implements coroutines, which operate in a way that looks like cooperative multithreading from the perspective of V8 (even though `fibers` does not actually spawn threads), so any par

[2018-03-12 14:36] srl295 commented on #19214
- ICU is already in-tree, but is specially trimmed to just have small data. Part of the size issue was *repo* size. So, one step could be include full data in the repo (Unless there's some other clever idea - subrepo? git LFS? lossy compression?)
- Then, make 'full' the default out of the repo when you do `configure && make`  (Ideally, packagers and other users should be specifying --with-intl ( n

[2018-03-12 15:44] ehsankhfr commented on #19288
Well, after a brief test with `v9.8.0`, seems all is fine! `socketB` finishes after a few seconds. Can you please run this code under the version mentioned?

[2018-03-12 15:46] #19260 closed

[2018-03-12 15:55] bzoz commented on #19288
I can get this to reproduce with master on both Windows and Linux (running on WSL).

[2018-03-12 16:06] OleksandrKvl commented on #19288
I reproduce it with `v9.8.0` on `Windows 7 x64` and `Ubuntu 16.04.3` too.

[2018-03-12 16:12] bnoordhuis commented on #19274
node-fibers mucks around with thread-local storage to trick V8 into believing it's running on multiple threads.  Some recent change probably broke that hack but that's ultimately a node-fibers issue.

[2018-03-12 16:22] addaleax commented on #19060
@SirR4T I think you could break this down into small pieces, if that helps. And please don’t be shy to approach me with questions if you have any.

For example, once discrepancy here is that `net.js` uses `.destroy()` if there was a write error:

https://github.com/nodejs/node/blob/22b68042590de93109dbc2a4ddaf78caa24c2306/lib/net.js#L778-L779

Whereas HTTP/2 uses a plain `throw`:

https://github.c

[2018-03-12 16:32] bartosz-m opened #19301 "Add information about buffer.byteOffset property to Buffer.from(string) documentation"
I'm was trying to make this example work:
[code]
it didn't worked and I didn't know why until I found that `offset` property of the `firstBuffer` wasn't `0` as I would assume. I modify it to use correct offset and problem was solved, but I spend more than hour because there wasn't any info in official docs.

It would be good  to mention in documentation that result of `Buffer.from(string)` can hav

[2018-03-12 16:50] benjamn commented on #19274
Just to be clear: we have not pinned this down to fibers yet, though that seems possible, and of course those of us who rely on fibers are willing to put in work to keep them compatible with Node and V8. Let’s wait and see what the real problem is before assuming the solution will be unwelcome to anyone?

[2018-03-12 16:51] benjamn commented on #19274
As soon as we know this is a fibers issue for sure, I definitely support moving the discussion over to that repo!

[2018-03-12 16:52] hashseed commented on #19274
Definitely support finding out the root cause. I'm just expressing my surprise that node-fibers would manipulate TLS.

[2018-03-12 16:56] bzoz commented on #19263
There is a stress test for this test with this setup from 6 days ago: https://ci.nodejs.org/job/node-stress-single-test/1786/, the test passed. It also does not reproduce on my win10 box.

Possible it was just some random fluke of the CI?

[2018-03-12 16:58] silverwind commented on #19214
Yes, that's what I meant, the actual dataset. I don't think we'll need LFS or other nonstandard git extensions. Just need make sure that there are no unneccesary files in the tree.

[2018-03-12 17:02] benjamn commented on #19274
In principle, fibers could be implemented by actually spawning new threads, and then there would be nothing weird about how it works. I agree there’s some trickery involved in getting V8 to think there are multiple threads involved, without incurring the full overhead of spawning threads, and if those tricks are the source of this problem, then of course that’s a fibers problem. Those ticks have w

[2018-03-12 17:05] hashseed commented on #19274
Maybe someone can bisect the changes between 8.9 and 8.10 to see what introduced the issue to surface?

[2018-03-12 17:19] bzoz commented on #19297
I'm gonna close this now, if you thing there is something wrong with Node core feel free to reopen it.

[2018-03-12 17:19] #19297 closed

[2018-03-12 17:21] benjamn commented on #19274
@hashseed Yep! We (@abernix and I) will report back when we’ve bisected it down (we have a reliable repro).

[2018-03-12 18:09] mhart commented on #19214
Two use cases for smaller binaries: docker containers, and serverless bundles (some ppl package the node binary in their Lambda so they don't need to rely on AWS' outdated versions – even more would if the size was smaller, and bundle size is a big factor in startup speed)

As the maintainer of https://github.com/mhart/alpine-node I'm going to be in a bit of bind with this one – I could just force

[2018-03-12 18:21] MylesBorins commented on #19274
@benjamn has anyone reported similar problems on 9.x? It seems odd that this is just showing up now

[2018-03-12 18:27] benjamn commented on #19274
@mylesborins If this is a meteor-specific problem (fibers-related or otherwise), then it’s relevant to note that each version of meteor ships with a specific (stable) node version, and 8.9.4 is the most recent version we’ve shipped (in meteor 1.6.1). You could run an unreleased build of meteor with Node 9, but that’s uncommon.

[2018-03-12 19:08] srl295 commented on #19214
@mhart:

This is hopefully less than double the work, but you could force the builds to be small-icu, and then have another layer that just adds the full datafile (via `npm i [-g] full-icu` perhaps) and sets [`NODE_ICU_DATA`](https://nodejs.org/api/intl.html#intl_providing_icu_data_at_runtime) before launching node. Then it's at least not 2x the full container size to maintain.

[2018-03-12 19:11] mhart commented on #19214
@srl295 ooh, that's an interesting option actually. So will the `full-icu` builds be basically 100% compatible with someone installing the `full-icu` npm module? In that case... I'm not sure why we even include it in node core...? 🤔

[2018-03-12 19:16] addaleax opened #19304 "Standardize `ready` event for built-in streams"
Currently, various internal streams have different events that indicate that the underlying resource has successfully been established:

- `fs` streams use the [`open`](https://nodejs.org/api/fs.html#fs_event_open) event once the file descriptor is available
- `net.Socket`s use the [`connect`](https://nodejs.org/api/net.html#net_event_connect) event once the socket has been established
- `Http2Str

[2018-03-12 19:29] devsnek commented on #19214
i'm still unsure why we have to stop providing small-icu builds if we add full-icu builds. in my mind we can provide both for every release?

[2018-03-12 19:30] mappum commented on #11629
BTW, this comes up in surprisingly common places, e.g. trying to stringify a Proxied Buffer.

[code]

[2018-03-12 19:31] srl295 commented on #19214
@mhart the `full-icu` npm module just helps you get the right binary data file. Once that's there, node starts up and uses that data, rather than the embedded English-only content.   A `--with-intl=full-icu` _build_ on the other hand builds ICU normally, and doesn't strip out the non-English content.

[2018-03-12 19:32] srl295 commented on #19214
@devsnek

that's an option I mentioned in https://github.com/nodejs/node/issues/19214#issuecomment-372331186 — it could certainly be done that way.

[2018-03-12 19:35] devsnek commented on #11629
fwiw this is intended behavior on the side of proxies. check out https://github.com/nodejs/node/pull/18131/files#diff-cc63475f116262e9cbea02374e344c01R671 for an example of a proxy that covers this use case.

[2018-03-12 19:47] mhart commented on #19214
@srl295 what I was getting was more: if this is available as a module, then I think it's worth thinking long and hard about adding it to core in the first place – considering that 95-100% of it won't be used by most node applications.

@silverwind are there some compelling arguments besides "browsers have this built-in"? Are there an unusual number of issues that arise from the current level of ic

[2018-03-12 20:00] mscdex commented on #19304
I've seen `'ready'` used in third party modules (including my own -- although not on core objects directly), so you might be careful about using the event name in case someone is emitting it for their own signalling on TCP objects for example.

[2018-03-12 20:30] srl295 commented on #19214
@mhart There isn't a 'real' module. It's not modularizable.  The full-icu npm module _by side effect of installing it_ causes the data file to be put somewhere, and the end user still has to tell node _before startup_ to go look for it.  https://github.com/nodejs/node/issues/3460 mitigates that a little bit, by making node look in a well known place (help needed).

Maybe, but [more and more functi

[2018-03-12 20:58] ryzokuken commented on #19304
@addaleax would this just involve renaming the event being emitted to `ready` in the two cases?

[2018-03-12 21:01] addaleax commented on #19304
@mscdex Do you have any suggestions? Should we just try it, see if something breaks, and otherwise rename?

@ryzokuken It would mean adding the event in the places where the other events are currently being emitted. I think renaming them, including removing the old names, would be too much of a breaking change.

[2018-03-12 21:04] ryzokuken commented on #19304
Agreed. Emitting an extra event sounds like a much safer approach.

On Tue 13 Mar, 2018, 2:32 AM Anna Henningsen, <notifications@github.com>
wrote:

[2018-03-12 21:06] mhart commented on #19214
@srl295 guess i'm very late to the party here, and this is probably off-topic, but is there a way for it to be loaded lazily? ie, post startup? Not looking for a solution for the standard distribution of the Node.js binary with this question, but more for my own knowledge to know if users could potentially install a stripped down version of node with no icu (or system icu) and then require a full

[2018-03-12 21:28] srl295 commented on #19214
Define 'late' :)

no.

that's the difficulty in https://github.com/nodejs/node/issues/3460 - it can't be implemented as a normal module, or using javascript to do the discovery. everything must be setup before ICU is called first.  The only alternative is to shut down *everything* that is using ICU (including all Intl objects) and unload/reload ICU. All intl objects become unusable. That seems unt

[2018-03-12 21:44] mappum commented on #11629
Even if this is fully compliant with the spec, it's quite a pain. As Proxies become a more widely adopted feature I expect many more people will run into this. At the very least, there should be a workaround on the Node side.

[2018-03-12 21:51] mscdex commented on #19304
@addaleax perhaps @ChALkeR can search for the string literal in the npm ecosystem and see what turns up?

I'm not 100% convinced this kind of change is really needed.

[2018-03-12 21:52] addaleax commented on #19304
It’s going to be helpful in merging streams code between the different implementations.

[2018-03-12 22:06] devsnek commented on #11629
@mappum that's the general idea of the membrane concept: https://www.npmjs.com/package/es7-membrane

[2018-03-12 22:44] CxRes opened #19306 "Why are named imports from JSON forbidden?"
Nodejs has chosen not to allow named imports for non ES6 modules, as discuseed in the [NodeJS ES module directions](https://github.com/nodejs/CTC/pull/60/files#diff-2b572743d67d8a47685ae4bcb9bec651R217).

This is done for the following reasons:

and

ES spec guarantees that exported names are definitively known at parse time, prior to evaluation. For example, ES specifies throwing an error at pars

[2018-03-12 22:52] Trott commented on #19306
@nodejs/modules

[2018-03-12 22:53] mhart commented on #19214
@srl295 Is there anything internal that calls ICU in the normal Node.js startup though? So long as it's the first thing a user does in their Node.js script, it should be fine... right?

[2018-03-12 23:01] bmeck commented on #19306
It is currently this way for consistency, also in case people want to modify the values or the value of the JSON itself is not an object.

Loading the following `foo.json`

[code]

Would not have any sensical named properties but is safely available as a single "default" value.

Loading non-identifier keys would also be problematic for some things like a `whitelist.json`:

[code]

In addition, if

[2018-03-12 23:14] addaleax commented on #19304
Actually, it would also be nice to have something like the corresponding boolean property, which is `.connecting` for Sockets and `.pending` for http2 streams, available for all of these consistently.

[2018-03-12 23:46] MylesBorins commented on #19274
@benjamn with that in mind we should try and figure out how to get some of the meteor stuff into CITGM so we can find these problems early 😄

[2018-03-12 23:57] MylesBorins commented on #19240
/cc @MoonBall @jasnell @cjihrig @joyeecheung

[2018-03-12 23:58] mhdawson commented on #19214
I see a couple of different issues being discussed

1) What should be the default?  Should full-icu be the default because otherwise, we may lose people because the initial experience is not as good or is it ok to have people do an extra step to download/opt into full icu.

2) Is download size an issue.  If download size is not a problem, but the installation size is, then a larger download binary

[2018-03-12 23:59] MylesBorins commented on #19255
This goes all the way back to v4.x so it seems odd that this is just hitting us now. Is this due to the recent change to V8 6.2 in 8.10.0?

[2018-03-13 00:00] MylesBorins commented on #19199
/cc @gibfahn @nodejs/v8

[2018-03-13 00:01] MylesBorins commented on #19148
super +1

[2018-03-13 00:02] MylesBorins commented on #19110
If we do want to do this we should try and do it ASAP so that we don't have to do any emergency releases after EOL

[2018-03-13 00:03] MylesBorins commented on #19067
+1

[2018-03-13 00:04] MylesBorins commented on #19033
any update on this?

[2018-03-13 00:05] MylesBorins commented on #19021
I've modified the title to be a little bit more friendly.

[2018-03-13 00:06] MylesBorins commented on #18964
Pinging this to see if anyone is interested in taking this on as an action item

[2018-03-13 00:15] devsnek opened #19307 "additional build size flavours"
spinning off of #19214, i wanted to brainstorm here about possibly providing build size goals for each release, more installer options, etc

feel free to edit this list

some sizes:
* Normal
  * full icu
  * local HTML documentation

* Small
  * small icu
  * no debug symbols
  * maybe minify js source, unsure of how much space that would save if any and would be killing useful stack traces

* Lar

[2018-03-13 00:15] vkurchatkin commented on #18964
It seems weird that "can I use" and download numbers are enough for adding brotli, but were never enough for adding websockets

[2018-03-13 00:26] vsemozhetbyt commented on #19307
A tiny addition to Normal: maybe add local HTML documentation? Maybe as an option in the installer.

[2018-03-13 00:39] MylesBorins commented on #18964
@vkurchatkin tbh I think that we should revisit adding websockets.

If we look at the original thread https://github.com/nodejs/node/issues/1010 some of the people who originally were -1 changed their opinions. In fact we ship a partial implementation of ws already, and have an open EPS exploring adding it https://github.com/nodejs/node-eps/pull/6

The original decision by the TC at the time was t

[2018-03-13 00:42] MylesBorins opened #19308 "Adding Websocket support to core"
The original thread where adding this was discussed #1010 was closed with a decision by the iojs TC  to rather implement [lower level buffer methods](https://github.com/nodejs/node/pull/1202), but that was abandoned.

[There is an open EPS](https://github.com/nodejs/node-eps/pull/6) to add the feature, but we have since abandoned the process.

Some of the people who originally were -1 changed thei

[2018-03-13 00:45] yhwang commented on #18535
kicked off a Linux CI to verify the current master code base with shared lib build:
https://ci.nodejs.org/job/node-test-commit-linux-as-shared-lib/5/nodes=ubuntu1404-64/
I will update the result later

[2018-03-13 00:55] eugeneo commented on #19308
Re: Inspector.

1. Inspector WS implementation is not complete, e.g. there is no support for binary frames.
2. Inspector would still need a C++ implementation that can run on a separate thread. Both JS execution and main libuv loop are suspended when the application hits a breakpoint.

[2018-03-13 01:01] devsnek commented on #19308
sidenote: there are probably also more creative ways to provide node vetted modules like this besides just stuffing them in every node release: #19307 so try not to let that be your main reason to -1 this

[2018-03-13 01:14] #19306 closed

[2018-03-13 01:28] gireeshpunathil commented on #19033
I was never able to reproduce this. Possible next steps:
  - Attempt to access / run community benchmark tests and see if it reproduces here (can you please help @nodejs/benchmarking-admins ?)
  - Attempt to access @BethGriggs 's system and recreate, reduce the test to something that can be analyzed.

[2018-03-13 02:18] yhwang commented on #18535
All tests passed in the CI job above. Seems #19211 fixed `parallel/test-stdout-close-catch` as well. Next step is to enable the shared-lib CI job (only Linux) for regular PR CI. I think it's time to closed this issue.

[2018-03-13 02:18] #18535 closed

[2018-03-13 02:43] mscdex commented on #19308
I am still -1 on this.

[2018-03-13 02:50] jdalton opened #19310 "util.inspect displays original value and not proxied value"
[code]

[2018-03-13 02:55] mscdex commented on #19304
I think the term `'ready'` can be misleading and can depend on the object emitting the event.

For example, if you make a TLS connection, what does "ready" mean? That the underlying TCP connection was established or that the TLS handshake completed successfully? Do we then have to still have distinguishing events, like `'ready'` and `'secureReady'` ? Do we change how TLS sockets work so they no lo

[2018-03-13 03:00] Trott commented on #14844
Parallel results suggest this is an issue about resource constraints and it might be solved (or mitigated) by moving the test to `sequential`. I'll submit a PR to do that.

[code]

[2018-03-13 03:04] Trott commented on #14844
(Sequential stress test turned up green. It was just the parallel stress test that showed the failures.)

[2018-03-13 03:05] devsnek commented on #19308
@mscdex can you be explicit in your reasoning?

[2018-03-13 03:06] devsnek commented on #19310
cannot reproduce on master:
[code]

[2018-03-13 03:11] jdalton commented on #19310
Ah nice!

[2018-03-13 03:11] #19310 closed

[2018-03-13 03:17] Trott commented on #19307
Nit: Maybe instead of `Normal`, use the term `Standard`? (Or maybe `Recommended`?)

[2018-03-13 03:29] MoonBall commented on #19240
@wankdanker I'm sorry for it. But I think current code is ok since we considered that [if `fd` is specified and `start` is omitted or `undefined`, fs.createReadStream() reads sequentially from the current file position](https://nodejs.org/dist/latest-v9.x/docs/api/fs.html#fs_fs_createreadstream_path_options).

I think your problem will be solved by getting the `fd` of `'/dev/ttyS0'`.  You can try

[2018-03-13 04:22] wankdanker commented on #19240
@MoonBall Thanks for your reply. I've had this code in production since at least as far back as v0.10.x without this breaking. Just seems odd to me to see this change all of a sudden in v6.13.1.

[2018-03-13 04:36] AyushG3112 opened #19314 "Array.concat breaks when extending the Array to custom class using ES6 classes"
* **Version**: 8.9.3
* **Platform**: Ubuntu 16.04 64-bit

[code]

Actual output:

[code]

Expected output:
[code]

Actual Output:
[code]

**FEW NOTES:**

- Actual and expected output match when run with `node v10.0.0-pre`
-  Actual and expected output match when run in the chrome V8 console

[2018-03-13 04:40] AyushG3112 commented on #19314
Seems to be fixed in `v8.10.10`, I'll close this.

[2018-03-13 04:40] #19314 closed

[2018-03-13 04:54] MoonBall commented on #19240
I suppose, the cause is the `/dev/ttyS0` file doesn't support seek. I didn't find an official document to explain it.

[2018-03-13 05:23] modulesio opened #19316 "Internal error in node-inspect. Please report this bug."
Just running `node debug .` tells me to report this bug. There doesn't need to be any actual module to run.

I think it's harmless and just complaining about the used port. But node explicitly told me to report this bug, so I'm following the instructions given 👍.

* **Version**: v9.7.1
* **Platform**: Windows 10 x64
* **Subsystem**: node-inspect

[code]

[2018-03-13 05:35] Trott commented on #19316
/ping @jkrems

[2018-03-13 05:51] mscdex commented on #19308
@devsnek for the same reasons I gave in the previously linked issue.

[2018-03-13 06:02] gareth-ellis commented on #19033
We don't currently run the core benchmarks ok aix - only on Intel Linux. I am not sure how feasible it is to run them on the build machines, @mhdawson ?

From the comments above, I understand that you see the regression when running a large number of tests, but not individually? Can you post the raw scores for say, array where you see the regression? Is it all scores are 20% lower or some outliers

[2018-03-13 06:13] MylesBorins commented on #19240
@MoonBall a semverpatch should never change behavior, we may want to revert this on all LTS lines and mark it as semver-major for 10.x. Even if the behavior is incorrect we might not want to change it in LTS releases if people are relying on it.

/cc @nodejs/lts

[2018-03-13 06:25] MoonBall commented on #19240
@MylesBorins reverting it is ok to me. https://github.com/nodejs/node/pull/18121 just fixed a small issue and I don't consider this problem.

[2018-03-13 06:30] lpinca commented on #19308
As discussed in #1010 and as a maintainer of `ws` I'm +1 on adding WebSocket to core.

[2018-03-13 07:15] bzoz commented on #19263
Nevermind, just saw it failing again: https://ci.nodejs.org/job/node-test-binary-windows/15664/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=3/console

[2018-03-13 07:31] MylesBorins commented on #19308
@mscdex in #1010

Since this original post we've added http2. While you listed a bunch of protocols not all of them are supported natively by the browser.

https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API

https://caniuse.com/#search=Websockets

[2018-03-13 07:52] bnoordhuis commented on #19316
The 'internal error' message looks like a red herring to me, the real error is fairly benign: port 9229 is taken, probably by another node process.

[2018-03-13 07:59] mscdex commented on #19308
@MylesBorins I don't think node should aim to become a (DOM-less) browser. Anyway, my "vote" and reasoning still stands.

[2018-03-13 08:04] targos commented on #19308
It's more about communicating with browsers, not becoming one.

[2018-03-13 09:28] santigimeno commented on #14844
I looked into this a while ago and IIRC it seemed to me that it could be related with a bug in the `freeBSD` kernel where data was silently lost when sending `SCM_RIGHTS` messages with large payload. See: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=181741 and https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=215933.

[2018-03-13 09:48] bnoordhuis commented on #19308
http2 is an argument against being too eager to absorb protocols into core.  Neither its API nor its implementation are all that great; it would have benefited from iterating outside core for a while.

I guess you could construe that as an argument in favor of websockets: third-party modules have existed for years and their APIs and implementations have pretty much crystallized by now.

[2018-03-13 10:18] bnoordhuis commented on #19255
The stack trace is about GYP so I don't think it has anything to do with V8.

@himanshuapril1's python build doesn't support/accept a number of common digests.  Might be FIPS-related, might be not; MD5 is forbidden by FIPS 140-2 but the SHA family is not.

The easy solution is to switch to a python build that works.

[2018-03-13 10:44] addaleax commented on #19304
We can bikeshed over the name. `streamReady` works for me too, but I don’t think the name chosen for `http2` is inapt.

The latter.

No.

No.

You are conflating two things here: The naming of the event (which can be subjective, granted) and whether we should have a single, consistent event name used for these streams.

As mentioned above, I’m okay with another name; the semantics are “this is the

[2018-03-13 10:49] bnoordhuis commented on #11629
The examples listed in this issue work with master so I think this can be closed out.

As to this example (edited for brevity):
[code]
That invokes `Buffer.prototype.toString()` with the proxy as the receiver and fails the way it is expected to.

Talk of "there should be a workaround on the Node side" is misguided because it's not a sensible construct.  Write it like this and note the `.bind()` ca

[2018-03-13 10:49] #11629 closed

[2018-03-13 11:27] himanshuapril1 commented on #19255
@bnoordhuis What do you mean by **The easy solution is to switch to a python build that works.** ?
Which Python build are you referring to?
As per documentation here - [https://github.com/nodejs/node/blob/master/BUILDING.md#user-content-unixmacos](https://github.com/nodejs/node/blob/master/BUILDING.md#user-content-unixmacos), I got all the required prerequisites.

Also fyi, guidelines says -

[2018-03-13 11:40] terrywh commented on #13209
any news on this ?

[2018-03-13 11:43] bnoordhuis commented on #19255
A python build that doesn't throw those 'unsupported hash type' exceptions from your first comment.

[2018-03-13 12:55] venkateshputta commented on #19220
It is due to improper proxy settings
configure  proxy setting correctly

[2018-03-13 14:13] a1992012015 opened #19320 "create-react-app my-app 失败"
* **Version**:8.10.0
* **Platform**:winbdow64
* **Subsystem**:

Aborting installation.
Unexpected error. Please report it as a bug:
{ Error: Cannot find module 'C:\Users\Administrator\my-app\node_modules\react-sc
ripts\package.json'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at require (int

[2018-03-13 14:19] cjihrig commented on #19320
Can you report this to the create-react-app team. Thanks!

[2018-03-13 14:19] #19320 closed

[2018-03-13 14:59] jkrems commented on #19316
Thanks for the report! Yeah, this seems silly (agreed with @bnoordhuis that it just seems the blocked port, not an *actual* bug) and we should fix the output for this case.

[2018-03-13 15:32] MatonAnthony commented on #18964
Hello,

Which kind of skillset would it require? Would someone be willing to mentor me if I want to try it?

[2018-03-13 15:41] bzoz commented on #19263
I've made a stress-test run and it passed: https://ci.nodejs.org/job/node-stress-single-test/1790/, I can't also reproduce this on my win2016 vm.

[2018-03-13 15:56] davisjam commented on #5798
I'm going to attempt to summarize the conversation and arguments that have happened on this issue. Sorry if I missed your post, I can amend.

1. Some people have argued that Node should derive randomness directly from the OS's definition of randomness (possibly via libuv), rather than getting it via OpenSSL. This would increase Node's security because it would guarantee that Node is getting "true-

[2018-03-13 15:57] lpinca commented on #19272
If the `'end'` event has been emitted there is no more buffered data so `null` is returned.

[code]

To understand this, consider the following example:

[code]

The first `read()` call returns `null` as there aren't 20 bytes are not yet available, but the second `read()` call return all buffered data because the stream has ended.

I hope this clarifies the question. Feel free to open a PR to impr

[2018-03-13 16:02] bnoordhuis commented on #19307
I'll be today's Devil's advocate!

Paradox of choice: the more available options, the more anxious people get.  Let's not inflict that on our users, most already have a hard enough time wading through the npm morass.

[2018-03-13 16:04] Trott commented on #19263
Might be a hardware or other problem with a specific host.

https://ci.nodejs.org/job/node-test-binary-windows/15664/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=3/console  is a failure on `test-azure_msft-win2016-x64-1`.

https://ci.nodejs.org/job/node-test-binary-windows/15597/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=2/console is also a failure on `test-azure_msft-win2016-x64-1`.

The succes

[2018-03-13 16:05] bnoordhuis commented on #19239
Continues in #14713.

[2018-03-13 16:05] #19239 closed

[2018-03-13 16:08] Trott commented on #19263
I'd like to test the host-specific theory with stress tests, but they don't seem to pick up test-azure_msft-win2016-x64-1. Kicking off multiple stress tests engages test-azure_msft-win2016-x64-6 on the first one and all the others just wait even though test-azure_msft-win2016-x64-1 is idle. Am I doing something wrong?   @nodejs/build

Stress test on `test-azure_msft-win2016-x64-6` (should pass if

[2018-03-13 16:16] bnoordhuis commented on #19192
Determining whether an ACL applies is a Hard Problem on many platforms.  Doing it on one platform but not others makes it inconsistent.  You're welcome to open a pull request but I expect other collaborators will raise the same concern.

[2018-03-13 16:17] paragonie-scott commented on #5798
There's an upstream proposal to make OpenSSL create the equivalent of libsodium's `randombytes_sysrandom()` (which uses the OS's CSPRNG) which Node could then use instead of the userspace PRNG. This isn't close-worthy, it's stalled until OpenSSL does something.

[2018-03-13 16:20] bnoordhuis commented on #18796
No follow-up from OP.  I'll close this out so we're below 700 open issues again. :-)

[2018-03-13 16:20] #18796 closed

[2018-03-13 16:21] bnoordhuis commented on #18738
I believe this issue ran its course so I'll go ahead and close it out.

[2018-03-13 16:21] #18738 closed

[2018-03-13 16:23] bnoordhuis commented on #18584
Looks like memory corruption in the compiler.  Maybe bad RAM?

I see the machine has been taken down.  Does that mean the issue can be closed?

[2018-03-13 16:24] bnoordhuis commented on #18423
This issue seems to have stalled and since it wasn't very actionable to start with, I'll go ahead and close it out.

[2018-03-13 16:24] #18423 closed

[2018-03-13 16:28] bnoordhuis commented on #18104
I'll close this out.  There are related open issues and the overhead makes it a non-starter.

[2018-03-13 16:28] #18104 closed

[2018-03-13 16:28] bnoordhuis commented on #18177
Does this issue need to stay open?

[2018-03-13 16:31] bnoordhuis commented on #17870
No follow-up, closing.

[2018-03-13 16:31] #17870 closed

[2018-03-13 16:32] bnoordhuis commented on #17844
What is the conclusion here?  Can this issue be closed?

[2018-03-13 16:42] bnoordhuis commented on #5798
It's not actionable at the moment and won't be for a long time to come.  Inactionable items clog up the bug tracker so I'll close this out for now.  We can revisit when we upgrade to an openssl version that supports this new API.

[2018-03-13 16:42] #5798 closed

[2018-03-13 16:46] bnoordhuis commented on #14602
We never seemed to reach real consensus here (but no real opposition either) so unless someone speaks up in the next 48-ish hours, I'll open a pull request removing NPN in Node.js 10.

[2018-03-13 16:48] Legends opened #19325 "Question: Loading ES6 modules --experimental-modules"
* **Version**: 9.7.1
* **Platform**: Win 10 x64, VsCode 1.21
* **Subsystem**: -

Works fine with `require`.
Trying to use ES6 module `import` format in node.js application, but getting errors:

 **launch.json:**
[code]
**ModulesFile.js**
export class X...

export class Y ...

**Index.js**
` import X from"../samples/ModulesFile";`

**Result:**

[2018-03-13 16:53] ChALkeR commented on #5798
@bnoordhuis How are we going to remember to revisit it, then?

Perhaps introducing a separate label for temporary-inactionable items that were closed just because of that is needed so we don't forget to revisit?

[2018-03-13 16:55] devsnek commented on #19325
your files with es module syntax in them will need to be named with .mjs not .js

[2018-03-13 16:56] ChALkeR commented on #19325
https://nodejs.org/api/esm.html#esm_enabling

[2018-03-13 16:57] bnoordhuis commented on #5798
We go over the changelog with a fine-tooth comb whenever we upgrade (at least I do) so it's unlikely that such a change would go unnoticed.

I'm not completely opposed.

[2018-03-13 16:59] Legends commented on #19325
I changed my entry file to be `*.mjs`.
Now I get:

[2018-03-13 17:02] devsnek commented on #19325
this was fixed on node 9.8.0

[2018-03-13 17:13] #17844 closed

[2018-03-13 17:25] Legends commented on #19325
Too experimental.... switching back to default...

[2018-03-13 17:25] #19325 closed

[2018-03-13 17:37] bnoordhuis commented on #19110
#19322

[2018-03-13 17:41] TheLarkInn commented on #18423
If we would like to continue progress on this, how should its design be
proposed. I'm currently working on the more "formality" parts of this which
would involve getting key stakeholders and collaboration partners for this
effort. I very much plan to continue persisting in this. cc @jasnell

On Tue, Mar 13, 2018 at 9:26 AM Ben Noordhuis <notifications@github.com>
wrote:

[2018-03-13 17:43] ChALkeR commented on #19325
@Legends `require` does not exist in ESM, i.e. in `*.mjs` files. You can still use it in `*.js` files.
That is intended to be that way and does not come from the «experimental» stability level :wink:.

[2018-03-13 17:43] fs-eire commented on #17817
Recently I found this issue is also happening in Node.js 8.10.0 (8.9.4 is no problem)

Is there a way to get rid of this issue?

[2018-03-13 17:45] kgryte commented on #18423
@TheLarkInn Create a separate repo/website/forum, advertise it to the mentioned stakeholders and collaboration partners, get them to join, and work from there.

[2018-03-13 17:47] Trott commented on #19263
Yet another failure and again it's on test-azure_msft-win2016-x64-1: https://ci.nodejs.org/job/node-test-binary-windows/15679/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=0/console

I'm really starting to think that specific host is the problem.

[2018-03-13 17:50] Legends commented on #19325
Yeah, I had a `require` nested in the code...
What about the future, do we have to rename the ".js" files to ".mjs", when using ESM?

[2018-03-13 18:06] devsnek commented on #19325
@Legends the future isn't 100% known yet, you can follow along at https://github.com/nodejs/modules.

[2018-03-13 18:21] brianleroux commented on #19308
This is a great idea. While today Node is already an indispensable tool for web developers it does not enjoy the same full seat at the table of web browser tech advancement despite being held completely captive by it. Few agree on the controversial edicts like `Promise` and esmodules but we can definitely all agree these transition moments could have been handled better with Node being an a fully

[2018-03-13 18:24] j0t3x commented on #19304
I would like to take this one 😄

[2018-03-13 18:26] jasnell commented on #19308
PRs welcome.

Re: websockets

I'm still -1 for the time being. This is something that has been done quite well by userland and there are still unanswered open standards questions about http2+ws that require more thought and experimentation.

[2018-03-13 18:58] MylesBorins commented on #19240
@wankdanker I've opened a reversion against v6.x and am in the process of building a test release. Once that release is built would you be able to run it and verify in the PR that this fixes your problem

[2018-03-13 19:02] watson commented on #19308
When http2 was added, I think one of the considerations were that we could do a lot of low level stuff in C++ land that was hard or even impossible(?) to do efficiently in user-land. Is there a similar reason for wanting to bring WS into core, or is it just to have more features?

[2018-03-13 19:02] jasnell commented on #18964
Quick question: why would this need to be added to core vs user land? Is there a notable perf improvement or impl improvement to be gained relative to the userland module?

[2018-03-13 19:12] MylesBorins commented on #19240
@wankdanker I've tried to reproduce on OSX

running

[code]

results in the error you report for v6.13.1 on various version of v6.x including v6.13.0 and v6.12.3

I'm going to test on a cloud ubuntu box and see if I can repro.

Can you tell us a bit more about your setup

[2018-03-13 19:21] dylanized opened #19327 "NODE_PATH in package.json"
I wish there was a way to add a folder or folders to the Node module path via package.json, instead of just thru the NODE_PATH env var.

Currently, a user can add a folder to the module path like this:

`node NODE_PATH=my_modules index.js`

This allows the user to load modules from `my_modules` without specifying the path, making the script cleaner and more portable.

I wish there was way to do th

[2018-03-13 19:40] addaleax commented on #19240
@MylesBorins Hope it doesn’t bother you that I tend to chime in on these kinds of issues :) This problem is not specific to v6.x, so I think we should take care of it in `master` too.

Reverting would be an option, but I think we could also fix the underlying issue here, maybe in a better way than before:

<details><summary>diff in the fold</summary>

[code]

</details>

Will open a PR shortly if

[2018-03-13 19:47] MylesBorins commented on #19240
Here is a link to the 8.x revert https://github.com/nodejs/node/pull/19328

@addaleax I am absolutely thrilled when you chime in. I push for a revert only because I lack time + context to solve this in a more elegant way. I 100% support moving forward with a better solution if we can fix it properly!

[2018-03-13 19:51] MylesBorins commented on #18964
This originally came up in a conversation with @kristoferbaxter where they mentioned having issues with userland implementations, and a lack of support in core being a reason for companies / enterprises to not adopt the format despite performance improvements compared to zlib.

I'm paraphrasing and will let them chime in

[2018-03-13 19:57] MylesBorins commented on #19308
@jasnell can you point me towards the open standards discussion regarding h2 + ws?

[2018-03-13 20:02] jasnell commented on #19308
The ietf httpbis working group is working on this .... https://tools.ietf.org/html/draft-ietf-httpbis-h2-websockets-00

It's still super early in the process tho there is some early implementation happening.

[2018-03-13 20:12] kof commented on #19308
Ideally there should be a clear general framework on how to decide whether something belongs to the core or not. I would consider points like

- is it hard to be done right?
- is it widely used?
- does it have a clear spec?
- is it likely to become obsolete in the near future?
- does it need optimizations in the core?
- will the entire community benefit from it being part of the core?

[2018-03-13 20:17] addaleax commented on #19308
@kof I fully agree with all your points except this one – there is no reason to believe that code in Node core is better-written or better-maintained than userland code in general.

I think a better question in its place would be “Is it hard to do effeciently without native addons?”.

[2018-03-13 20:21] kof commented on #19308
@addaleax The idea behind that point is: if it is in userland, it is likely there will be multiple competing implementations, which will result in attention not being fully focused on a single code base and as a result lower quality, just because less people are working on it or using it. I have no data to back it up.

[2018-03-13 20:43] lpinca commented on #19308
@kof

No.

Yes it is.

Yes.

No.

Not necessarily but optimizations in core may help. In `ws` we have two optional binary addons. One for the masking/unmasking of frames ([bufferutil](https://github.com/websockets/bufferutil)) and one for the UTF-8 validation ([utf-8-validate](https://github.com/websockets/utf-8-validate)).

Yes I think the community will benefit from WebSocket in core.

There are

[2018-03-13 20:48] kristoferbaxter commented on #18964
Hi there.

There are a few userland implementations with differing drawbacks, but the most prominent are iltorb and wasm-brotli afaik.

**iltorb** – https://github.com/MayhemYDG/iltorb
Uses prebuild to download a pre-compiled binary for your platform, if it exists. Otherwise, it will use node-gyp to build the module.

Pros: Works well for those who can leverage the pre-compiled binaries. Supports

[2018-03-13 20:49] wankdanker commented on #19240
Hi @MylesBorins!

Sure! We've got several machines running Ubuntu 14.04 and 16.04 that have Mettler Toledo scales connected to the serial port. It's been a long time since I wrote my application and worked with the scale protocol, but I believe until we write to the serial port asking the scale for a measurement, there is nothing to read from the serial port.

Let me know if you have any other que

[2018-03-13 20:55] vsemozhetbyt opened #19330 "build: how to build and test docs on Windows"
This is a small how-to note on the mentioned topic.

Currently, there is no task like [`doc-only`](https://github.com/nodejs/node/blob/90b05382734aca10b51b187eb955a964cbcaed74/Makefile#L615) in the [vcbuild.bat](https://github.com/nodejs/node/blob/master/vcbuild.bat), and the test for doc building result [is skipped on Windows](https://github.com/nodejs/node/blob/90b05382734aca10b51b187eb955a964cb

[2018-03-13 21:18] fs-eire commented on #17817
Update the broken commit identified by `git bisect`: 331b175.

Although it is the different commit, it's the same change landed on different branch cf7e15c ; 331b175

[2018-03-13 21:18] jasnell commented on #18964
Aside from the convenience factor around native modules, are there specific performance or other ease of implementation considerations?

[2018-03-13 21:22] wankdanker commented on #19240
@MylesBorins The test build worked for me. Thank you.

[2018-03-13 21:25] addaleax commented on #19240
@wankdanker I don’t know if trying it out is an option for you, but I’m pretty confident that https://github.com/nodejs/node/pull/19329 fixes this issue without undoing the original fix, so there’s a decent chance we’ll be going with that.

If you want to & can try that, that would be awesome. I suppose that if it’s much more convenient for you, Myles or somebody else from the release team could a

[2018-03-13 21:30] jmarceli commented on #16257
Sorry for commenting on such an old thread, but just to clarify I would mention that the solution for FreeBSD is using Node version at least **8.9.4**

[2018-03-13 21:41] addaleax commented on #19304
@j0t3x I assume you have read the discussion here – if you want to open a PR, feel free to go for it. :) Let us know if you have any questions!

[2018-03-13 21:48] devsnek commented on #17821
(trying to stay neutral here) discord today made a push for open source:
https://blog.discordapp.com/open-source-and-discord-b7466080fbf2
https://discordapp.com/open-source

[2018-03-13 21:52] srl295 commented on #19214
@mhart v8 links against and loads ICU. I don't think there's any such guarantee.

[2018-03-13 21:58] mcollina commented on #19308
I sustain @lpinca opinion, mainly because he has been egregiously maintaining `ws` the last few years.

[2018-03-13 22:18] prog1dev opened #19334 "test: Error: Cannot parse file `.remarkrc`"
Getting a bunch of these after sync with upstream. Error example:
[code]
Running command `make tools/remark-cli/node_modules` does not help.
Shouldnt this setup be handled on `./configure` or `make` step?

* **Version**: [master](https://github.com/nodejs/node/tree/90b05382734aca10b51b187eb955a964cbcaed74)
* **Platform**: macOS High Sierra 10.13.3
* **Subsystem**: test

[2018-03-13 22:20] devsnek commented on #19334
`make lint-md-build`?

[2018-03-13 22:21] kristoferbaxter commented on #18964
Convenience might be understating this. Every installation of `iltorb` is slower than other JS only modules, and has been problematic to install on some environments in my past experience. It's the main point for using something like `wasm-brotli` according to it's repo ("The awesome thing about wasm-brotli is that it does not need to compile or download any prebuilt binaries!").

Lowering the cos

[2018-03-13 22:23] prog1dev commented on #19334
Yay \o/
It works, thanks
And about my question?

[2018-03-13 22:23] jasnell commented on #18964
Cool thank you for the details. Please don't take my questions as push back, just need to build the case for the addition

[2018-03-13 22:25] kristoferbaxter commented on #18964
No worries, never came across that way to me!

Thanks for taking a look and hopefully this helps to explain a bit more why this might be a good idea.

[2018-03-13 22:26] prog1dev commented on #19334
Its not handled automatically because it requires internet access? Okay
Feel free to close this then
thanks a bunch

[2018-03-13 22:27] #19334 closed

[2018-03-13 22:30] prog1dev commented on #19334
Maybe its worth to mention in BUILDING.MD? Its a first thing I looked to

[2018-03-13 23:08] silverwind commented on #19214
Not really, I guess. In my case (linked at the top of this issue), I was just noticing inconsistent locale support when formatting numbers/dates across platforms and thought that should be fixed.

I guess number and date formatting would be the most desireable feature that requires full-icu.

[2018-03-13 23:24] mhdawson commented on #19258
Ok, removed from the test matrix. We still have le and linuxOne (linuxOne gives us some BE coverage which is good since AIX is BE and we don't have it in the matrix yet).

At this point, I think the coverage we have in the Node testing is probably good enough in terms of validating backports to older versions that supported BE.

[2018-03-13 23:24] #19258 closed

[2018-03-13 23:35] watson commented on #19308
So far I haven't seen any concrete comments on why implementing WS in core would be better than having it in user-land. I'm sure @lpinca have done a great job maintaining `ws`, but that hardly qualifies as a reason to bring it into core right?

I just think there need to be concrete examples on how core can provide a better WS implementation than user land 😃

[2018-03-13 23:41] devsnek commented on #19308
i don't think there's anyone saying we would do a better job. i think the argument is better integration and since we can ship it with a native backing users will get a perf boost without having to install anything.

[2018-03-13 23:51] watson commented on #19308
@devsnek Could you provide an example of how the integration would be better if WS was in core?

Regarding native backing then n-api (or even just pre-compiled binaries) should remove the requirement of having users compile stuff (if I understood your argument correctly).

[2018-03-14 00:42] TimothyGu commented on #19308
It seems the main argument for adding ws to Core is to reduce binary dependencies. Since both native dependencies are buffer-based, I think they may be good candidates for adoption of WebAssembly. @lpinca has that been seen as a possibility?

[2018-03-14 01:10] MylesBorins commented on #19308
For an API, I'd like to propose the [WhatWG WebSocket API](https://html.spec.whatwg.org/multipage/web-sockets.html), as much as we can implement the standard (I know there will be some inconsistencies around events).

If we run into any serious problems with the API design we can attempt to work with the whatwg to update the standard. It seems like @TimothyGu has participated in this document alon

[2018-03-14 01:11] wankdanker commented on #19240
@addaleax If I get a chance, I'll give it a go. It would definitely easier if someone generated a test build, but I wouldn't want to inconvenience anyone. :smile:

[2018-03-14 02:04] efranco2012 commented on #5436
johnanisere,

I get the similar error with Cloud Functions.  How did you resolve this?

[2018-03-14 02:21] davisjam commented on #17167
Here's my summary of this issue so far:

- @puzrin says there is a performance regression for mathematical operations.
- @psmarshall says there may be a bug open in V8 for this.

This seems like a V8 issue, not a Node issue. @puzrin I suggest you open a V8 bug report and link to the one @psmarshall indicated to help the V8 folks identify a possible duplicate.

I think this issue can be closed on t

[2018-03-14 02:33] #17167 closed

[2018-03-14 03:10] FiloSottile commented on #5798
Thanks for summarizing, but I don't think that captures the point. We are not advocating for reimplementing something that's in a library (for whatever reason), but for removing the library entirely. The library implements a user-space CSPRNG on top of kernel entropy, it might be good or bad, doesn't matter, we are arguing for not using one at all.

What you say is valid about primitives, which ha

[2018-03-14 04:01] bmeurer commented on #17167
This does indeed look like a V8 bug. And it doesn't seem to be related to the `let` issue mentioned by @psmarshall (and fixed by @sigurdschneider yesterday). I filed [v8:7556](http://crbug.com/v8/7556) upstream to track this, using the `blurMono16` example.

[2018-03-14 06:08] MatonAnthony commented on #18964
If I understand this properly, we could bind to the V8implementation of Brotli?

(I'm sorry if my question is stupid, all of this is quite new to me)

[2018-03-14 06:52] hashseed commented on #18964
V8 doesn't include Brotli. Chromium does.

But yeah would be interesting to see how wasm performs.

Also, hi @MayhemYDG!

[2018-03-14 07:00] MatonAnthony commented on #18964
Oh ok, so it's writing our own binding to Node. Is there a standard way or an example I could read about this?

[2018-03-14 07:07] hashseed commented on #18964
Maybe take a look at how zlib binding is done?

[2018-03-14 07:08] hashseed commented on #18964
Also, there is already one. https://github.com/MayhemYDG/iltorb

[2018-03-14 07:08] lpinca commented on #19308
@watson userland implementations work and I'm a big supporter of small core but HTTP(s) and many other modules are in core because they are popular that it made sense to create a core module for them. The same is valid for WebSocket in my opinion. Quoting @domenic from https://github.com/nodejs/NG/issues/10#issue-59860208

Is core interested in supporting WebSocket? That's an open question. I thin

[2018-03-14 08:48] fhinkel commented on #17061
Closed via https://github.com/nodejs/node/pull/17062

[2018-03-14 08:48] #17061 closed

[2018-03-14 09:29] gibfahn commented on #18177
I think so, it's a test failure that is specific to a platform we claim to support but don't actually run CI on.

[2018-03-14 09:41] M3kH commented on #19308
I can't establish a vote for this, although would be a nice to have I found that WebSocket implementation isn't that solid neither in the Browser.
Is high cpu consuming and so far I couldn't see any implementation in a big scale (which I would have guess they would be using it); eg: Facebook, Twitter and Gmail, they rather relay on polling.

I guess is mainly related on the cost created on the Ser

[2018-03-14 09:42] gibfahn commented on #19240
:100: to what Myles said (from an 8.x perspective). Extremely grateful for anyone who is willing to get involved and work out a better solution than just reverting.

[2018-03-14 09:51] lpinca commented on #19308
I would argue that it's actually easier to scale WebSocket than HTTP polling. With WebSocket you have a persistent TCP connection, no HTTP headers overhead, seamlessly integration with the `cluster` module (no need for sticky sessions).

[2018-03-14 09:55] kof commented on #19308
@lpinca what happens on frequent reconnects if you don't have sticky sessions?

[2018-03-14 10:04] lpinca commented on #19308
@kof with WebSocket it doesn't matter as long as the TCP connection is established, all messages are sent over the same connection so they all hit the same server. Sticky sessions are required for HTTP polling.

[2018-03-14 10:06] kof commented on #19308
@lpinca By frequent reconnects I ment reconnects on the TCP layer.

[2018-03-14 10:36] lpinca commented on #19308
@kof not sure I understand. The websocket is closed along with the underlying TCP connection and a new one created.

[2018-03-14 10:41] kof commented on #19308
Isn't it similar to long polling from performance perspective on bad physical connections at scale?

[2018-03-14 11:02] johnanisere commented on #5436
I didn't solve it.I found out cloud functions only work with google
endpoints, you can't access third party endpoints via cloud functions.

On Wed, Mar 14, 2018 at 3:04 AM, Erick Franco <notifications@github.com>
wrote:

[2018-03-14 11:17] lpinca commented on #19308
Yes, but ideally the majority of TCP connections are stable no? And even in the worst case scenario it's still better than long polling.

[2018-03-14 11:32] seminaoki commented on #19272
Thanks for your reply.

So **the stream has ended** and **after the end event** is two different timing? I thought they were the same thing.

Summary it:
- when *the stream has ended* but end event has not been emitted, `read(size)` return remaining data.
- after end event emitted, `read(size)` return null.

[2018-03-14 11:35] jasnell commented on #19308
Given the discussion I'm coming around on this, but what I'd like to see is a process similar to what we followed with N-API and http2... specifically, work on the new module being done and proven out in a separate fork repo before work being committed here in the main repo. Doing so allows greater flexibility in experimentation and implementation without disrupting anything else happening in core

[2018-03-14 12:23] efranco2012 commented on #5436
So, I did find out the problem.   You'll need to enable billing at https://google.firebase.com for your project to make external API requests. If billing is not enabled you'll get an error.

Stated at the bottom of this article.
https://www.menubar.io/firebase-functions-sending-emails/

[2018-03-14 12:53] donnanicolas commented on #18796
We haven't had anything new to provide as evidence, so go ahead an close this. Thanks

[2018-03-14 12:53] donnanicolas commented on #18796
We haven't had anything new to provide as evidence, so go ahead an close this. Thanks

[2018-03-14 13:40] Trott commented on #19263
Yet another one on test-azure_msft-win2016-x64-1: https://ci.nodejs.org/job/node-test-binary-windows/15694/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=2/console

This really does seem like there's something wrong with test-azure_msft-win2016-x64-1 specifically. @nodejs/build

[2018-03-14 13:44] Trott commented on #18251
Definitely happens on Windows too, more frequently than FreeBSD. (It's marked flaky on Windows.)

https://ci.nodejs.org/job/node-test-binary-windows/15672/COMPILED_BY=vs2017,RUNNER=win10,RUN_SUBSET=1/console

[code]

[2018-03-14 14:02] lpinca commented on #19272
After the end event the stream has ended, but it's possible that the stream is ended and the `'end'` event has not been emitted yet.

Summary is correct.

[2018-03-14 14:15] davisjam commented on #5798
@FiloSottile Thanks, I've amended my post. Holler if you're still unhappy with my representations.

[2018-03-14 14:35] fr6nco opened #19348 "Issues with installing any packages"
I cannot install anything on basically a fresh installation of ubuntu. The issue might be environment related, but I could not figure out what might have happened.

Looks like, the NPM install does not generate any DNS lookups (tested with tcpdump), so It is not able to resolve the nodejs registry and the installation fails.

Im attaching the output from the npm install.

<pre>
ubuntu@dash-client3

[2018-03-14 15:12] davisjam commented on #18600
@santigimeno's explanation seems sound.

Wikipedia [link](https://en.wikipedia.org/wiki/POSIX_terminal_interface#Controlling_terminals_and_process_groups) to the behavior of `Ctrl+C` being delivered to all processes in the foreground process group.

If you comment out the portion of your sample titled "relay SIGINT to process" then on `Ctrl+C` the 'got SIGINT' and 'exit' messages are emitted.

I t

[2018-03-14 15:16] davisjam commented on #18218
Since this is a V8 performance issue regression, should this discussion be moved to the V8 bug tracker?

[2018-03-14 15:23] davisjam commented on #17541
This could be a configuration problem. Some troubleshooting suggestions:
- Have you set `ulimit` properly? See [this SO post](https://stackoverflow.com/questions/7732983/core-dump-file-is-not-generated).
- Is your system configured to store core dumps in an unusual place?

Here's a little demo:

[code]

Source:

[code]

[2018-03-14 15:26] sigurdschneider commented on #18218
@SheetJSDev Thanks for the feedback, we're in the process of running two tests on our infra to track performance. I've included more unicode characters, and made sure they make up a higher fraction of the strings, as you suggested.

[2018-03-14 15:28] sigurdschneider commented on #18218
@davisjam We've got [v8:7528](https://bugs.chromium.org/p/v8/issues/detail?id=7528) on our tracker for this, so feel free to close this here. Additional discussion can happen there.

[2018-03-14 15:28] bmeurer commented on #18218
Closing.

[2018-03-14 15:28] #18218 closed

[2018-03-14 15:29] lukejpreston opened #19350 "regex.test no reproducable"
* **v9.8.0.**:
* **Linux 4.14.6-041406-generic x86_64 GNU/Linux**:

I couldn't find the issue related to this also, I know it is currently a problem in Chrome so not sure if it is an issue in node

when I run `regex.test` it changes answer every other time

example code

[code]

I am expecting it to be `true` everytime here is a stack overflow where I realised the issue <https://stackoverflow.com/

[2018-03-14 15:33] richardlau commented on #19350
https://github.com/nodejs/node/issues/18648

[2018-03-14 15:33] davisjam commented on #19350
You're using a greedy quantifier with the global flag.
You get 'true true true true' if you remove the `g` flag.

See MDN docs [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp/test). Relevant excerpt below.

[2018-03-14 15:36] davisjam commented on #19350
If OP doesn't object, can this issue be closed?

[2018-03-14 15:47] mafintosh commented on #19288
pipe does not give you this guarantee. you wanna use pump, https://github.com/mafintosh/pump. we are working on getting that into core

[2018-03-14 15:54] houd1ni commented on #11656
Hello! Some progress here?
I've suddenly got this after some times when it worked (running husky):

[code]

[2018-03-14 15:58] Fishrock123 commented on #19067
Wait, why is this on the agenda?

[2018-03-14 16:00] Legends opened #19351 "Corrupted node installation"
VS2017@latest
node: v8.10 <--downgrade from v 9.8
Win10 x64

My node install was broken. Trying to setup a fresh node project using
`npm install` od `yarn install` failed.

The problem started with node v 9.8 instance.
After downgrading to v8.10 I got still one error message, see the message down below, but then it was suddenly, automatically downloading and installing `node-sass`.
Now the problem

[2018-03-14 16:10] lukejpreston commented on #19350
Awesome thanks. Close away

[2018-03-14 16:15] #19350 closed

[2018-03-14 16:25] Tiberriver256 opened #19352 "Readline.Prompt as function"
Allowing the Node Repl prompt to be set to a function would allow for experiences closer to a typical shell like printing the current working directory or git branch status etc.

Don't know how difficult this would be or maybe it is and I missed it in the docs somewhere but thought this would be a good place to bring it up.

[2018-03-14 16:27] mcollina commented on #19067
We need to announce the nomination.
Il giorno mer 14 mar 2018 alle 16:59 Jeremiah Senkpiel <
notifications@github.com> ha scritto:

[2018-03-14 16:29] Fishrock123 commented on #19067
We do? Since when?

[2018-03-14 16:52] vsemozhetbyt commented on #19352
Can something like this help?
[code]
[code]

[2018-03-14 16:55] #17731 closed

[2018-03-14 17:37] Tiberriver256 commented on #19352
Yeah, that works perfectly, thank you!

[2018-03-14 17:46] mscdex commented on #19348
This should probably be posted to npm's issue tracker, but out of curiosity can you also post the output of `NODE_DEBUG=net npm install --verbose` ?

[2018-03-14 18:31] davisjam commented on #19352
@Tiberriver256 If you're satisfied, can you close the issue?

[2018-03-14 18:49] targos opened #19354 "Making V8 6.6 forward compatible with a later version"
I am currently working on integrating V8 6.6 into node (see PR #19201). If everything goes well, this will be the version that we ship with Node 10.

I open this issue specifically to ask the V8 team if it would be useful, like we did last year for Node 8, to make V8 6.6 forward compatible with V8 6.7 (or even 6.8?).
Are there major API or ABI changes planned for those versions?

/cc @nodejs/v8

[2018-03-14 18:54] hashseed commented on #19354
I haven't had a look with this specifically in mind yet, but I think we had quite a few APIs that went from V8_DEPRECATE_SOON to V8_DEPRECATED.

@psmarshall could you take a look at what we need to do to make 6.6's API forward compatible so that we have the option to easily upgrade to 6.7 later?

[2018-03-14 19:32] joyeecheung opened #19356 "Potential memory leak in fs::WriteString"
* **Version**: master
* **Subsystem**: fs

I have not verified it yet, just discovered this when I went through the comments in node_file.cc to see if there is anything to update.

https://github.com/nodejs/node/blob/040dd244de14f51b4757c25311164e36f72238c3/src/node_file.cc#L1389-L1391

Looks like in the async case, if the buffer was copied instead of being moved (in the external string cases up t

[2018-03-14 19:32] joyeecheung commented on #19356
cc @jasnell @addaleax

[2018-03-14 19:32] gibfahn commented on #19199
Can you explain more about how to reproduce with that repository?

This is what I get when I run the steps from the readme on a vagrant box (on a macOS machine):

<img width="1127" alt="image" src="https://user-images.githubusercontent.com/15943089/37426439-57e7adb6-27be-11e8-8168-2c02113c400e.png">

I set up the VM with:

[code]

And then used nvm to install node `8.10.0`.

[2018-03-14 19:54] jvelezpo commented on #19304
I will take some time this night to work on it

[2018-03-14 20:07] hashseed commented on #19354
Okay so I talked to @fhinkel, @ofrobots, and @psmarshall. And we have a plan. Let's look at the dates:

- Node 10 initially releases on 30th April.
- Node 10 reaches LTS on 1st October.
- V8 6.6 turns stable on 17th April.
- V8 6.7 branch cut is a bit before 12th April.
- V8 6.9 turns stable on 4th September.

[Source](https://github.com/nodejs/Release/blob/master/schedule.json) for Node.
[Source]

[2018-03-14 20:14] #19352 closed

[2018-03-14 20:19] mcollina commented on #19067
@Fishrock123 https://github.com/nodejs/node/pull/18268.

[2018-03-14 20:23] targos commented on #19354
This sounds like a great plan. Thanks!

[2018-03-14 20:36] seishun commented on #19354
You mean without a flag?

[2018-03-14 20:43] joyeecheung commented on #19356
[code]

Output from valgrind running `test/parallel/test-fs-write.js`

[2018-03-14 20:55] theturtle32 commented on #19308
I'm mostly indifferent to whether WebSockets should be in core at this point, but I lean toward the opinion that it should not. I don't feel it's anywhere near as widely used or fundamental as HTTP is, and it's more for the core team to have to maintain. That being said, my WebSocket implementation hasn't required much maintenance since becoming stable.

Honestly, I kinda feel like it doesn't real

[2018-03-14 20:57] hashseed commented on #19354
Yup.

[2018-03-14 21:03] bricss commented on #19271
It's already `npm@5.8.0` are coming https://github.com/npm/npm/pull/20031

[2018-03-14 21:05] mhdawson commented on #18657
Happened again today https://ci.nodejs.org/job/node-test-commit-linux/17083/nodes=debian8-x86/console

[2018-03-14 21:09] dogancelik opened #19359 "Write EPROTO error on Node 8 and above"
I'm getting EPROTO errors on Node 8 and above

## Test code `test.js`

[code]

## Test by version

### v4
[code]

### v5
[code]

### v6
[code]

### v7
[code]

### v8
[code]

### v9
[code]

---

**Version**: 4-9 (arch. 64-bit) (listed in console log above)
**Platform**: Windows 10 (64-bit)

[2018-03-14 21:16] dogancelik commented on #19359
Note: `handbrake.fr` has A+ grade SSL [(ref)](https://www.ssllabs.com/ssltest/analyze.html?d=handbrake.fr)

![ssl](https://user-images.githubusercontent.com/486818/37431297-eb05219c-27e5-11e8-8afe-fa3aef8a8665.png)

[2018-03-14 21:17] mscdex commented on #19348
My guess though is that some module up the line is passing an object like `{ family: -1, ... }` to `dns.lookup()` or `dns.lookup('somehost', -1, ...)` and that `-1` value is being cast to a 32-bit unsigned value (via `family >>> 0`), hence the large `family` number seen in the error message (the largest 32-bit unsigned value).

[2018-03-14 21:23] addaleax commented on #19359
Looks like this was introduced somewhere between v8.5.0 and v8.6.0.

Also, this doesn’t appear to reproduce on `master` for me?

[2018-03-14 21:27] lpinca commented on #19308
The same is true for all of us working on competing userland implementations. We are writing the same parser, the same extension parser, the same frame builder, the same extensions, the same <insert WebSocket detail here> instead of solving the same problems together.

[2018-03-14 21:29] dogancelik commented on #19359
@addaleax Yeah it works in v10

[code]

[2018-03-14 21:41] seishun commented on #19354
It would be great to ship V8 6.7 with Node 10, then.

[2018-03-14 21:42] mscdex commented on #19359
git bisect points to: https://github.com/nodejs/node/pull/15206

/cc @rogaps @jasnell @bnoordhuis @tniessen

[2018-03-14 21:46] addaleax commented on #19359
And reverse git bisect says that the fix for this on `master` is af78840b194528a147e4683aed27a320f9764ea5 (#16853), which was labelled `semver-major`.

I am not sure in what way that is actually a breaking change.

[2018-03-14 21:49] jasnell commented on #19359
The semver label on the fix can be reduced. I think it was purely
defensive...

On Mar 14, 2018 17:47, "Anna Henningsen" <notifications@github.com> wrote:

[2018-03-14 22:15] daynin commented on #19308
I totally agree with @ lpinca. Node is already some kind of a core for these libraries which provides WS, so it should bring maintainers of these libs together.

Fragmentation of implementations is not good for any standard. Look at browsers. They all have different implementation of JS, CSS, etc and it's a pain for developers and users

[2018-03-15 04:44] Jamesernator opened #19363 "Call linker when dynamically importing inside a vm.Module"
#### Dynamically importing from a Module
Currently `vm.Module` can construct and evaluate modules just fine, but there's no way for one of those modules to dynamically import another file e.g.:

[code]

Now for dynamic import reusing the linker function should be sufficient as the algorithm for resolving a dynamic module should be the same as for a static module.

Hence we can do `import("some-spe

[2018-03-15 05:06] rogaps commented on #19359
This happens because of mismatched ecdhCurves. Before the fix, node uses prime256v1 as default. This is the related issue #16196

[2018-03-15 05:16] devsnek commented on #19363
I've got this working in my fork, just currently waiting on some conversation with the v8 team to finish this up

check out https://github.com/devsnek/node/tree/feature/vm-meta-import-etc

[2018-03-15 05:29] #14844 closed

[2018-03-15 05:52] hashseed commented on #19273
One way to fix this is to convert file names passed as script name to all lowercase for case insensitive file systems.

[2018-03-15 05:56] #19272 closed

[2018-03-15 06:02] gireeshpunathil opened #19365 "Ability to shutdown Node in-flight"
* **Version**: All
* **Platform**: All
* **Subsystem**: uv, core

Scope: C++ applications that embed node as a shared library

Issue: Node's life cycle is designed around the event loop method uv_run that assumes exit only when the last handle is drained from the loop, while the embedder may have a larger life cycle in which node workload may be a small subset. For example, the embedder may want t

[2018-03-15 06:16] goloroden commented on #19308
-1 for the very same reasons as given by @mscdex. I think that already having added http2 support was wrong with respect to this.

Apart from that it’s hard to get the feature set right. Should it support reconnection management? wss? Middleware?

This quickly becomes too much, but if you don’t do it people will still stick to userland solutions.

[2018-03-15 06:33] lpinca commented on #19308
No, not a core business.

Yes, the only difference here is using the `https` module instead of `http`. This is transparent to the implementation, it's exactly the same code.

No, this is not a framework. It's not Socket.IO, SockJS, or Primus. The aim would be to add a building block for those framework. A low level module like `http` which is basically used by all userland modules that need to wor

[2018-03-15 06:38] goloroden commented on #19308
Exactly. That’s my point: If you need the userland modules anyway, then why introduce it in core?

[2018-03-15 06:41] lpinca commented on #19308
I'll answer with another question? If you need express or hapi, why having `http` in core? 😄

[2018-03-15 06:44] goloroden commented on #19308
TBH, I don’t know (and seeing that projects such as https://github.com/mafintosh/turbo-http are started shows that it is not even needed to be in core).

My understanding was always that core should only include things that are so vital to Node.js itself that they can’t be done in userland.

[2018-03-15 06:46] lpinca commented on #19308
So you basically agree with https://github.com/nodejs/node/issues/1010#issuecomment-85207951.
Yes, that's a valid point.

[2018-03-15 06:50] goloroden commented on #19308
Right.

[2018-03-15 07:10] Bharath92Kumar opened #19367 "cb() never called"
* **Version**: 8.10.0
* **Platform**: Windows 10 (64-bit)
* **Subsystem**: -

[2018-03-15 07:17] gireeshpunathil commented on #19367
too few information to make any inference, closing. If you are looking for general help or support rather than reporting a perceived node bug, report it here (https://github.com/nodejs/help/issues) - with clear problem description, expected and actual outcome, and if possibly with a sample code.

[2018-03-15 07:20] Bharath92Kumar commented on #19367
I was using node js (v6.10.3) and npm (v3.10.10). When I started learning react JS, some of my friends insisted me to upgrade my node version to the latest. So, I uninstalled the older version and installed new version of Node JS(v8.10.0) and npm (v5.6.0). After that I cannot install any npm package. I tried uninstalling node js, removing npm files and reinstalled a lot of times. But I still face

[2018-03-15 07:25] Bharath92Kumar opened #19369 "cb() never called!"
I was using node js (v6.10.3) and npm (v3.10.10). When I started learning react JS, some of my friends insisted me to upgrade my node version to the latest. So, I uninstalled the older version and installed new version of Node JS(v8.10.0) and npm (v5.6.0). After that I cannot install any npm package. I tried uninstalling node js, removing npm files and reinstalled a lot of times. But I still face

[2018-03-15 07:32] gireeshpunathil commented on #19367
/cc @addaleax - who may have information on the `zlib` issue ?could this be related to #16649 ?

[2018-03-15 08:14] bnoordhuis commented on #19369
You should report this to npm, not node.  https://github.com/npm/npm/issues is their bug tracker.

[2018-03-15 08:14] #19369 closed

[2018-03-15 09:25] watilde commented on #19367
You might catch a wrong cache file in your local. Trying `npm cache clean --force` would help you.

+ Refs: https://docs.npmjs.com/troubleshooting/try-clearing-the-npm-cache

[2018-03-15 09:56] gibfahn commented on #19271
Yes, it just needs someone to follow the guide and raise a Pull Request. However as you can see in #19298, there are a couple of issues in npm 5.7.1 that might make it unsuitable for Node 8 right now, so it might be better to wait till npm 5.8.0.

[2018-03-15 10:33] vsemozhetbyt commented on #19369
See https://github.com/nodejs/node/issues/19367#issuecomment-373312430

[2018-03-15 10:53] gibfahn commented on #19314
I can reproduce this on macOS and Ubuntu 16.04.

@nodejs/v8 could you comment on whether this is a known fixed bug? It seems to be fixed in v8.10.0 so that's great, but would be good to have more info here for anyone else stuck on a previous 8.x version.

[2018-03-15 11:12] AndreasMadsen commented on #18600
@davisjam I agree that the child process gets two SIGINTs, that is **the test**. The problem is that no text is written and the log files aren't flushed correctly. SIGINT is supposed to be a soft kill, so whether it gets one or two SIGINTs, it should flush stdout and any logs. It doesn't!

[2018-03-15 11:15] PRABHUDEVA1994 opened #19370 "login issue"
* **Version**:
* **Platform**:
* **Subsystem**:

var jwt = require('jsonwebtoken');
	var atob = require('atob');
	var Cryptr = require('cryptr'),
	cryptr = new Cryptr('myTotalySecretKey');

exports.signup=function(req , res){
		var fname  = req.body.first_name;
		var lname= req.body.last_name;
		var pass= req.body.password;
		var email=req.body.email;
		var dec_pass =atob(pass);
		var encrypted_pa

[2018-03-15 11:24] santigimeno commented on #18600
@AndreasMadsen if you specifically don't handle a `SIGINT` signal  there's no way you can guarantee any actions whether flushing stdout or any other are executed. IIUIC that's the nature of termination signals. So, in your sample code, your child process should be prepared to receive 2 consecutive `SIGINT` signals (not once) and handle them as you prefer.

[2018-03-15 11:39] gibfahn commented on #19307
I agree, but I think having sane defaults is a good mitigation for that. As long as the one you get presented with when you go to nodejs.org (or run `nvm install`) is the one we think most people will want, then only those who care enough to look will have the choice.

Doing twice as many builds is of course a lot of overhead for @nodjes/build and @nodjes/release

[2018-03-15 11:46] AyushG3112 commented on #19370
Https://stackoverflow.com or https://GitHub.com/nodejs/help will be a better place for this question. This repo's for issues pertaining to the node core.

Although, please try googling before posting a question, this was literally the first result: https://github.com/nodejs/node/issues/16746

[2018-03-15 11:49] psmarshall commented on #19314
Looks like this is broken in node v8.9.4 (v8 6.1.534.50) and fixed by node v8.10.0 (v8 6.2.414.50).

I haven't bisected it exactly but I guess this is the fix:
https://chromium-review.googlesource.com/c/v8/v8/+/636695

[2018-03-15 12:02] cjihrig commented on #19370
Closing this per @AyushG3112's comment. Thanks!

[2018-03-15 12:02] #19370 closed

[2018-03-15 12:10] watson commented on #19308
As I see it there's two ways to look at whether something should be in core:

1. It can be done better/more performant in core than outside of core
1. It's a widely used module/technology

Some people in this thread use point no. 1 as a criteria while others use point no. 2. As long as we don't agree on the premise of when something should be included in core, we'll not have a constructive debate.

[2018-03-15 12:12] OleksandrKvl commented on #19288
Got it, thanks.

[2018-03-15 12:12] #19288 closed

[2018-03-15 12:15] guymguym commented on #19044
btw it seems to be broken on v8.10.0 as well - node --prof-process is stuck consuming 100% cpu...

[2018-03-15 12:16] davisjam commented on #18600
See man 7 signal. SIGINT is fatal if uncaught. Soft means it is catchable, but the default behavior is fatal and then all bets about buffered I/O are off.

[2018-03-15 12:28] guymguym commented on #19199
One observation that might help:

The issue happens when I use node --prof with v8.10.0 to record the profiling information and then --prof-process gets stuck with either v8.10.0 or v8.9.4.

However, when I use v8.9.4 to create the profiler file, both versions succeed with --prof-process...

[2018-03-15 12:46] gireeshpunathil opened #19371 "test: Incorrect assumptions on the user uid and gid"
* **Version**: master
* **Platform**: UNIX
* **Subsystem**: test

The count of expected errors [here](https://github.com/nodejs/node/blob/master/test/parallel/test-child-process-spawnsync-validation-errors.js#L14) does not take into consideration of the conditionals [here](https://github.com/nodejs/node/blob/master/test/parallel/test-child-process-spawnsync-validation-errors.js#L64) and is assumed

[2018-03-15 13:42] AndreasMadsen commented on #18600
We have a single handler in node.cc: i.nodejs.org/job/node-test-pull-request/

[2018-03-15 13:45] jcoglan commented on #19308
Going to drop some thoughts here since @MylesBorins tagged me in. For context, I
maintain the Faye collection of packages: [faye][1], [faye-websocket][2],
[websocket-driver][3], [websocket-extensions][4] and [permessage-deflate][5].
The Faye project dates back to Node v0.1. I also maintain Ruby versions of these
packages (websocket-driver is the WebSocket implementation in Rails), which is
an inte

[2018-03-15 13:46] davisjam commented on #18600
@AndreasMadsen I don't understand your point.

[2018-03-15 13:46] santigimeno commented on #18600
But that handler just cleans up some stuff and raises the signal.

[2018-03-15 13:48] davisjam commented on #18600
Right. And if your application has no signal handler, SIGINT is fatal.

[2018-03-15 13:51] AndreasMadsen commented on #18600
@davisjam When pointing to the manual you are speaking about OS defaults. We have a single handler in node.js, so we are outside the defaults.

I don't want to discuss what the OS does by default. I want point out that Node.js not prining `console.log('got SIGINT');` is ridiculous, weather it gets one or two SIGINTs.

[2018-03-15 13:54] AndreasMadsen commented on #18600
@santigimeno Exactly, as it should. It should properly also do a `fflush(stdout); fflush(stderr);` and the #14802 could be responsible for `StopTracingAgent` not doing what it should, but if I recall correctly SignalExit isn't even fired.

[2018-03-15 13:55] davisjam commented on #18600
Correct me if I'm wrong, but it looks like the Node handler [concludes with a call to `raise`](https://github.com/nodejs/node/blob/master/src/node.cc#L3294), re-delivering the signal to the application.

Have you tried in other languages? I'm fairly certain you would see the same behavior in a comparable C program.

This can be quite expensive.

[2018-03-15 13:59] mhdawson commented on #19365
FYI @nodejs/delivery-channels

[2018-03-15 14:00] santigimeno commented on #18600
The problem with that, and I think that's pointed out in https://github.com/nodejs/node/issues/14802, is that flushing a stream is not async-signal-safe

[2018-03-15 14:05] mhdawson commented on #19365
@yhwang FYI as this is likely one of the use cases we'd want to include in our extended testing for the shared library support.

[2018-03-15 14:06] addaleax commented on #19365
I have written code for Ayo that does basically exactly this. I’ll try to port it over, especially since I’ve been meaning to do that anyway.

[2018-03-15 14:07] addaleax commented on #19308
@jcoglan I can’t speak much to the websocket-specific stuff, but this was a very helpful comment to me, but I would be interested to hear more about two things you mentioned:

it's private and the advice is to use a third-party module that copies its API.
If we put protocols in core, being able to use their parsers but bring our own
I/O control is a huge win.

Yes, that was weird to me too, so I o

[2018-03-15 14:08] mhdawson commented on #19365
@addaleax great to hear :)

[2018-03-15 14:11] santigimeno commented on #18600
Also, even if you could flush the stream safely, there's no way to be sure your code has really executed the `console.log()` statement before receiving the second signal, so that solution would not work either.

[2018-03-15 14:13] gibfahn commented on #19044
So is this the same issue as #19199 or is it likely to be a different problem?

[2018-03-15 14:22] lpinca commented on #19308
As mentioned above we are using https://github.com/websockets/utf-8-validate for UTF-8 validation. It work directly on a buffer, no regex needed and has a pure JavaScript fallback. It doesn't work in a streaming fashion though.

[2018-03-15 14:39] himanshuapril1 commented on #19255
@bnoordhuis Can you suggest any such Python build? I'm not that much friendly with Python.

[2018-03-15 14:43] OllieJones commented on #19308
As a (very happy) user of ws, I respectfully suggest that it makes sense to keep it in userland for a while longer. Why?

1. It's still undergoing active, and excellent, work by lpinca and others. If it gets put in core then it ties together release cycles that are now independent. As things stand it's possible to use a LTS release of node, but upgrade to a recent ws version if need be. That is go

[2018-03-15 15:27] sleewoo commented on #19308
pls do not turn Node into ho-RoR, imo

[2018-03-15 16:04] 3rd-Eden commented on #19308
I was kindly notified of this topic by the Node.js Weekly Mailing list. We probably want to loop in everyone that ever maintained or written a WebSocket implementation in the past to give their opinions on this matter. cc @brycekahle, @josephg, @darrachequesne, @alexhultman might have opinions on this as well.

I maintain various of WebSocket (and real-time) related projects, given advice to compa

[2018-03-15 16:12] dcodeIO commented on #19308
A feeling tells me that node.js should have a `WebSocket` global because it already has `WebAssembly`, while a WebSocket server is fine to be provided by userland. That is, unless there are code sharing advantages between the two.

[2018-03-15 16:23] devsnek commented on #19250
I have no idea what's going on here and I don't have a Windows machine so it might be best for someone else to tackle this :)

[2018-03-15 16:29] lpinca commented on #19308
@3rd-Eden sorry for not tagging you in the conversation didn't want to bother. @alexhultman is blocked so he can't answer. `uws` bindings disappeared from GitHub yesterday but afaik most of the performance and lower memory usage was obtained by not using `net.Socket`, similarly to what is done in https://github.com/mafintosh/turbo-net.

I'm perfectly fine with that if it can be done in compatible

[2018-03-15 16:32] watson commented on #19308
Speaking of turbo-net, there's already a turbo-ws built on top of that: https://github.com/hugmanrique/turbo-ws

[2018-03-15 16:41] igoodrich commented on #14970
This may help.  For a typescript package I'm working on, I executed the following workaround and it seems to work but is messier than I would like.  tbh, I was prety disappointed (and frankly shocked) that this wasn't well supported already.

- My typescript is in src
- in tsconfig I include src/**/* and have an outdir of "."
- this means the root of my project has the transpiled output of everyth

[2018-03-15 17:21] fhinkel opened #19376 "Collaborator nomination @BethGriggs"
I would like to nominate @BethGriggs as collaborator. She has 14 commits in core

https://github.com/nodejs/node/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3ABethGriggs

And she's very active on our tracker overall:
https://github.com/nodejs/node/issues?utf8=%E2%9C%93&q=involves%3ABethGriggs+

[2018-03-15 17:25] mhdawson commented on #19376
+1 from me

[2018-03-15 17:29] cjihrig commented on #19376
+1

[2018-03-15 17:34] bnoordhuis commented on #19255
If your distro is not a wildly unusual one, then /usr/bin/python or /usr/bin/python2 should do it.

[2018-03-15 17:40] MylesBorins commented on #19376
+1

[2018-03-15 17:42] watilde commented on #19367
Closing as moved here: https://github.com/npm/npm/issues/20065.

[2018-03-15 17:42] #19367 closed

[2018-03-15 17:43] addaleax commented on #19376
+1!

[2018-03-15 17:55] fhinkel commented on #4603
ping @tniessen @ljharb @marcelklehr

Do you think we can get consensus for 3.a and move this forward?

[2018-03-15 17:59] felixfbecker commented on #4603
@ljharb What is the argument against 3.c?

[2018-03-15 18:06] davisjam commented on #18600
Right, cf. [Linux man page]http://man7.org/linux/man-pages/man7/signal-safety.7.html) on which functions are async-signal-safe.

[2018-03-15 18:16] tniessen commented on #4603
@fhinkel I won't stand in the way, if someone were to open a PR saying that it is **currently** not supported / recommended, I would likely approve it.

It's been some time since I used the MSI, but as far as I remember, the current behavior is to prevent side-by-side installation, isn't it?

@felixfbecker See https://github.com/nodejs/node/issues/4603#issuecomment-313002764, https://github.com/no

[2018-03-15 18:19] felixfbecker commented on #4603
Yeah, making the documenting the status quo is always good.

[2018-03-15 18:57] MAPESO commented on #19308
@lpinca Hi 👋  any difference between using socket.io and websockt natively? I am new regarding the protocols, what difference will there be if websocket is integrated to the core of nodejs?

Thank you for taking the time to read my question 😸

[2018-03-15 19:06] targos commented on #19376
+1

[2018-03-15 19:10] gibfahn commented on #19376
+1

[2018-03-15 19:16] devsnek commented on #19308
@MAPESO thats a bit off topic for this. socket.io is a wrapper around a bunch of different hacks to make sending messages between server and client possible. beyond that it also abstracts the connections into "channels" and such. (and as long as we're on the topic of perf, its worth noting that socket.io is pretty slow)

[2018-03-15 19:22] MAPESO commented on #19308
@devsnek I know, my question was off topic, but as I do not have much experience in protocols. So ask 😄

[2018-03-15 19:41] davisjam commented on #19022
If Node throws for `os.cpus()`, would a variety of other APIs also need to throw?

I think documenting the "Couldn't detect -> undefined" behavior seems OK.

[2018-03-15 20:47] addaleax commented on #19365
Opened https://github.com/nodejs/node/pull/19377 with most of those commits, would be cool if those who are interested could take a look.

[2018-03-15 20:59] #19330 closed

[2018-03-15 21:10] josephg commented on #19308
Thanks for the write-ups @3rd-Eden and @jcoglan. I wrote [browserchannel](https://github.com/josephg/node-browserchannel) in the node 0.4 days because there were no better options. At the time websockets didn't support cookies and would often break in unexpected ways with new browser releases. Socket.io had an incoherent story around reconnection, and could arbitrarily reorder messages on reconnec

[2018-03-15 22:43] ljharb commented on #4603
@felixfbecker I don't think we should do any work to support multi-version scenarios until the version management group has ironed out what that will look like.

@tniessen we don't yet have a plan; i just met with the build WG recently and confirmed the direction for a first step. I"m hoping to have time to write something up soon.

[2018-03-15 23:13] Jamesernator commented on #19363
Looks good! :+1:

[2018-03-16 01:08] thiagomata opened #19382 "Map function ignores empty items"
$ node -v
Version: v9.8.0
$ uname -a
Platform: Linux thiagomata 4.13.0-36-generic #40~16.04.1-Ubuntu SMP Fri Feb 16 23:25:58 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

$ node
[code]

Expected:
[ 1, 1, 1, 1, 1, 1]

Result:
[ <3 empty items>, 1, <1 empty item>, 1 ]

https://repl.it/@thiagodamata/MapIngoresEmptyItems

[2018-03-16 01:23] cjihrig commented on #19382
`Array.prototype.map()` skips holes, but still has corresponding elements in the result. Node doesn't provide the implementation, so I'll close this issue, since there is nothing to be done here.

[2018-03-16 01:23] #19382 closed

[2018-03-16 01:37] gireeshpunathil commented on #19376
+1

[2018-03-16 01:54] vsemozhetbyt commented on #19382
@thiagomata
More detailed info: http://exploringjs.com/es6/ch_arrays.html#_array-operations-and-holes

[2018-03-16 03:35] suresh-srinivas commented on #16198
Sorry this took so long. I got a chunk of time when it was snowing here in Portland and I have completed an implementation of programmatically mapping a subset of the Node.js text segment to 2M pages and it is demonstrating 4-5% performance on React-SSR workload and reduction in ITLB misses and Front End bottleneck. More work needed to programmatically choose to use either Explicit Huge Pages or A

[2018-03-16 03:47] dgoldstein0 opened #19383 "--preserve-symlinks should (optionally?) apply to the require.main module"
* **Version**: 8.9.3
* **Platform**: Linux
* **Subsystem**: module loading

From #9673:

This still seems to be the case today: it is impossible to get node to preserve symlinks for the entry point file.  A quick demo of today's behavior:
[code]
[code]
[code]
symlink app/entry.js -> entry.js

Then run `node --preserve-symlinks app/entry.js`.

What I expected: "no problem" printed
What actually hap

[2018-03-16 04:01] dgoldstein0 commented on #19383
fwiw I suspect that the main module is treated specially to support symlinks like `node_modules/.bin/tsc`.  Possibly we could special case those to follow exactly one level of symlinks, but all other cases we do the standard preserve-symlinks behavior (when the flag is passed, that is).  Or just keep it simple and allow e.g. a --preserve-symlinks-main that will apply the --preserve-symlinks behavi

[2018-03-16 04:07] gireeshpunathil commented on #16198
@suresh-srinivas - thanks, please raise a PR if it is finalized and ready for review, or PR with [WIP] tag if in half-baked state (for which design level changes are anticipated).

[2018-03-16 04:09] cjihrig commented on #15793
@BYK I think a docs update calling out this corner case would be good.

[2018-03-16 04:18] gireeshpunathil commented on #19022
I guess the issue is with the overloaded usage of the API - the original and intended usage for obtaining CPU model, speed etc. and the derived usage of obtaining the CPU count via. the length of the resultant array. While the first one if complex and may not have support from all the platforms, second one is well covered, straight-forward and error free.

From an end user's point, os.cpus().lengt

[2018-03-16 05:38] MylesBorins commented on #19308
@josephg if I recall a lot of what the HTTP/2 implementation that is unique is how we maintain data in C++ land and minimize how much it needs to be brokered between C++ -> js... if I recall this level of optimization would not really be possible in a native module as things are being handed around between node + nghttp2 + v8 + libuv

[2018-03-16 07:25] EmmaU25 opened #19386 "express nodejs get render not working"
* **Version**:
* **Platform**:
* **Subsystem**:

Well now I'm working angularjs with nodejs and well after recovering the data from an api with angularjs, I want to send them to the nodejs server and then use the express router.get function to "rende" a view

[code]
and i have this function in server.js

[code]
but when calling a function it does not show the template it should, in fact it does no

[2018-03-16 07:59] bnoordhuis commented on #19308
That's not true.  Core has more supporting infrastructure for new code to piggyback on but there is little that you can't also do from a native module.  n-api was a module before it moved into core, http2 could have been too...

...and arguably it should have been because of the much shorter feedback cycle.  n-api fixed design flags within days, http2's feedback cycle is closer to 6 or 12 months.

[2018-03-16 09:38] guybedford commented on #19383
@dgoldstein0 looking at the code this does seem to be quite intentional, although I'm not sure what the intended use case was for this.

`node_modules/.bin` sounds like a good reasoning though to me.

Interestingly we don't do this in the ES module resolver, so this makes me think we should probably follow the same actually. So while unrelated, thanks for bringing awareness to this :)

[2018-03-16 10:10] mcollina commented on #19308
@bnoordhuis what you are saying is incorrect regarding n-api and http2. They followed the exact same path before landing in core with the majority of the work being done in a separate fork of Node.js (https://github.com/nodejs/abi-stable-node/tree/api-prototype-8.x and https://github.com/nodejs/http2) where a team iterated over the implementation.

I would also kindly ask to stop pointing out that

[2018-03-16 10:28] mscdex commented on #19386
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-03-16 10:28] #19386 closed

[2018-03-16 10:38] bnoordhuis commented on #19308
@mcollina The salient point is that n-api was available as a npm module before it got built into core and that was what allowed it to collect feedback and move at a high pace.

To drive home the point why that is relevant to websockets: they shouldn't be added to core until it has evolved a stable API.  I _think_ that is effectively the case but I use http2 as an example where that didn't happen -

[2018-03-16 10:50] mcollina commented on #19308
I couldn't find a reference to that module in most of our respositories, can you please add a link?

[2018-03-16 11:06] bnoordhuis commented on #19308
Getting mildly off-topic but okay, for posterity: https://www.npmjs.com/package/node-addon-api - released some months before the first node.js release that bundled n-api.

True, but async_hooks and trace_events can't be done as modules, and streams... yeah, what can you say about streams?

[2018-03-16 11:28] mcollina commented on #19308
node-addon-api never bundled n-api, it's just a C++ wrapper on top of C API of n-api. n-api itself never made to npm, and even node-addon-api was released after n-api was already landed in core. n-api was not iterated in the ecosystem, it has always been a node core component.

Considering how many developers are complaining in this thread, we should have iterated a bit more on them.

[2018-03-16 11:30] guybedford commented on #19383
Looking through the discussion at https://github.com/nodejs/node/pull/6537 I can't actually seem to find any good reason for skipping preserveSymlinks for the main entry point actually.

I'd be interested to hear what others think here as it would be nice to ensure consistency with the ES loader - should we try make preserveSymlinks work for the main, or bring this behaviour into the ES resolver?

[2018-03-16 11:41] bnoordhuis commented on #19308
The terminology with n-api is kinda confusing so to be clear, it was added to core in #11975 and that wasn't released until end of May.  The first node-addon-api release was months before.

(enough derailing though)

[2018-03-16 12:09] SirR4T commented on #19060
Hey @addaleax , I think i got the `.destroy()` part correct, but I'm still baffled on how to add test cases.

I would think I should induce a situation where `createWriteReq()` fails, and then assert that indeed stream is destroyed. I attempted to track when would `createWriteReq()` fail, but I don't see where the C++ side either returns any errno, or throws any exception.

[2018-03-16 13:09] mmarchini commented on #19376
+1

[2018-03-16 13:50] fr6nco commented on #19348
Hi, meanwhile I've downgraded nodejs to an older version (6.x) and everything started working, so there must be some incompatibility issues between the giver version of ubuntu and the node version. I'll try to reproduce the issue and get the desired output messages in beginning of the next week.

[2018-03-16 14:05] jasnell commented on #19376
SGTM (there were too many +1's in a row, had to be the c-c-combo breaker!

[2018-03-16 14:13] andrewgremlich commented on #19327
Ya know, this idea doesn't seem that bad.  It definitely seems like it could help make the package.json cleaner!  As well adding this could cater more towards whomever has what preference.

[2018-03-16 14:45] jasnell commented on #19308
Depends on what you mean by external module :-) As with just about every core module, it *could* have been implemented entirely as a native module. The majority of the heavy lifting in the http2 code is handled entirely at the native level with (as @MylesBorins points out) data flow being coordinated between nodejs, libuv, and nghttp2. The JS layer really only deals with the Streams API and public

[2018-03-16 15:46] watson commented on #19308
@mikeal wrote:

Earlier in this thread, I did bring up the http2 module as an example of something that to my knowledge couldn't have been done as performant outside of core. I asked if the same was true for WS. I didn't see any answer to this, which leads me to believe that this isn't the case (sorry if I missed it).

[2018-03-16 15:51] bnoordhuis commented on #19308
"Successful" is subjective.  It worked out okay for n-api (the C API) because we kept making breaking changes until long after the initial release.  We could because there were few users.

That won't fly for a JS module.  People start writing new code for those right from the start and that limits what we can change without upheaval.

A safe approach is to start out as a module under github.com/no

[2018-03-16 16:06] abernix commented on #19274
@hashseed It took a little bit of dancing around and shuffling commits to avoid some of the surrounding un-buildable commits, but this bisects down to https://github.com/nodejs/node/commit/bede7a3cfa884c67cbb5d804a1a4f130bea4ac38 (`deps: update V8 to 6.2.414.46`).

Is there a documented process somewhere as to how this larger V8 update commit is formed?  Is it essentially a `diff` between the curr

[2018-03-16 16:08] jasnell commented on #19308
This is entirely incorrect.

Even so, we seem to be in agreement that starting work within a separate repo is the right approach.

@MylesBorins ... I can create the repo under the nodejs github repo if you'd like, or I can leave it to you. The folks who are most interested in moving this forward can decide on the best work mode for them -- including whether that repo is a fork off core master or i

[2018-03-16 16:16] hashseed commented on #19274
@abernix thanks for bisecting!

It seems that the commit updated V8 from `6.1.534.51` to `6.2.414.46`. Bisecting across patch levels probably will cause issues, so I think it's best to look between `6.1.534` and `6.2.414.46`.

In a V8 check out I get:

[code]

So bisecting about 10 steps in V8 should give you the culprit. To do so, check out V8 and update Node.js like this on every bisect step

[c

[2018-03-16 16:16] capaj commented on #4230
@pankleks the only solution I've come up for windows is: https://github.com/capaj/set-tz

[2018-03-16 16:39] bnoordhuis commented on #19308
Strong riposte, James.  I suspect you get defensive because I brought up http2 but I'm merely using that as an example of where we (note the 'we') could have done better.  Let's learn from our mistakes.

[2018-03-16 16:40] thecodingdude opened #19393 "Implement window.fetch into core"
**Edit:** please note that this issue is pretty old and a lot of the information in the first few comments isn't up to date - for current status please see https://github.com/nodejs/node/issues/19393#issuecomment-776529831 .

--------

https://github.com/bitinn/node-fetch

It would make sense if window.fetch was implemented into core. it seems to be a stable enough API that would make a good candi

[2018-03-16 17:00] ofrobots commented on #19308
One thing I would like to point out about native modules is that they have a significantly worse user experience for end-users. Users have to provide a compilation environment in their deployment environments; or trust a binary blob – which typically is not available for all platforms. *Even if* a module could be built to be just as efficient as a native module, it still wouldn't have the same fir

[2018-03-16 17:08] jasnell commented on #19393
this has come up from time to time but has not had much traction just yet. Let's see what folks think tho :-)

[2018-03-16 17:09] gibfahn opened #19394 "parallel/test-benchmark-misc failure on v8.x-staging"
* **Version**: 8.x

This test is failing on `v8.x-staging`. The `ubuntu1604_sharedlibs_withoutintl_x64` job was recently added, see https://github.com/nodejs/build/issues/1182.

Example failure: https://ci.nodejs.org/job/node-test-commit-linux-containered/2952/nodes=ubuntu1604_sharedlibs_withoutintl_x64/

### Error

[code]

I assume the test just needs to be skipped if without intl, but there is p

[2018-03-16 17:17] lpinca commented on #19308
@watson I don't know, I think a pure JS implementation that resorts to low level stuff for computational intensive operations will not be much better than a userland implementation that does the same thing. My main reason for having WebSocket in core is not performance which is always good to have but to improve ecosystem interoperability.

[2018-03-16 17:28] #18251 closed

[2018-03-16 17:41] devsnek commented on #19393
bradley and i were discussing this in a roundabout way on the subject of `import`ing from urls. if that feature was introduced (and i think in general we do want it) we would need to implement this: https://html.spec.whatwg.org/multipage/webappapis.html#fetch-a-single-module-script which uses the fetch spec

[2018-03-16 18:21] mscdex commented on #19393
-1 this is best left to userland

[2018-03-16 18:25] yhwang commented on #19394
need to backport this https://github.com/nodejs/node/pull/16251 to solve the issue. I saw the `backport-requested-v8.x` label in that PR.

[2018-03-16 18:41] bnoordhuis commented on #19308
I agree.  I advocate them as a stepping stone to built-in support, not as the eternal status quo.

That said... stuff like websockets and http2 would make interesting webassembly case studies.

[2018-03-16 20:47] addaleax commented on #19060
Hm – I guess leave it out then first. I thought you could make this fail by breaking the underlying connection before the write, but a) I missed that HTTP/2 streams are still always asynchronous and b) a broken connection would *probably* destroy the HTTP/2 stream anyway.

[2018-03-16 21:07] ORESoftware opened #19399 "Transform streams bug - forced to listen for readable event in order for it to work"
I found this code here:
http://codewinds.com/blog/2013-08-20-nodejs-transform-streams.html

it looks like:

[code]

**if you remove the following call from the above code then it will not work!**

[code]

In other words, if the readable event is not listened to, we get this error:

[code]

I just spent 3 hours trying to figure out that this was causing the problem - very unexpected / non-intuitive

[2018-03-16 21:15] addaleax commented on #19399
It doesn’t print anything for me if I remove the `readable` call from the script. (Not with Node 4 through `master`), like I’d expect.

Also, the stack trace you’re posting points to `net.js` – there is no socket in your code, so I assume it’s an incomplete snippet?

[2018-03-16 21:16] guybedford commented on #19393
This would definitely be useful in simple cross-platform APIs and I think is what a lot of people use node-fetch for already. Also it would be nice if HTTP/1 v HTTP/2 negotiation can be handled automatically like in browsers as well.

[2018-03-16 21:20] ORESoftware commented on #19399
I will make a video

[2018-03-16 21:27] ORESoftware commented on #19399
ughhh I think it was because I was piping it to `process.stdout`, that might be why there was `net` in there...fml..

[2018-03-16 22:51] boneskull commented on #19057
Did this ever work?

Using `glibtool` introduces other errors (like no support for `-static`)

[2018-03-17 02:33] davisjam commented on #18600
@AndreasMadsen Does this all make sense? It seems to me that this issue can be closed with "Linux is working as designed".

[2018-03-17 02:45] davisjam commented on #7609
FWIW one of these tests is now here:

`test/sequential/test-fs-readfile-tostring-fail.js`

I am not sure what has become of

`parallel/test-fs-read-buffer-tostring-fail.js`

[2018-03-17 04:27] Trott commented on #7609
`test/parallel/test-fs-read-buffer-tostring-fail.js` was removed in 3c2a9361ffd797acd6c9f5a09ae01648aa0e9792.

So this is now only about `test/sequential/test-fs-readfile-tostring-fail.js`.

[2018-03-17 04:44] bnoordhuis commented on #14602
#19403

[2018-03-17 05:16] Trott commented on #7609
State of the file on master when @bnoordhuis opened this PR:

https://github.com/nodejs/node/blob/85ab4a5f1281c4e1dd06450ac7bd3250326267fa/test/parallel/test-fs-readfile-tostring-fail.js

Stack trace provided by @bnoordhuis above says that the assertion is firing on line 27, which is:

[code]

[2018-03-17 05:19] vsemozhetbyt opened #19405 "npm: last nightly / v8-canary make `npm update` unusable"
* **Version**: Node.js master (10.0.0 after 2018-01-15, see https://github.com/nodejs/node/issues/19405#issuecomment-373966063), npm 5.6.0
* **Platform**: Windows 7 x64 (maybe all)
* **Subsystem**: npm

Please, check if this is reproducible:

1. Install/download last nightly or v8-canary build.

2. Run `npm update` or `npm update -g` for a package with many dependencies (see an example in https://

[2018-03-17 05:32] vsemozhetbyt commented on #19405
The issue seems to appear if something does need to be updated: after successfully updating with `node-v9.8.0-x64.msi` and `npm update -g`, `npm update -g` returns immediately after `node-v10.0.0-v8-canary201803169dc1b12f4d-x64.msi` is installed again, but `npm update` hangs.

[2018-03-17 08:15] AndreasMadsen commented on #18600
@davisjam It makes sense, I still disagree. Node.js is not Linux and it is not C. These comparisons don't make any sense. The only valid comment I have seen here is:

So I need to look into whether the `console.log()` statement was executed.

[2018-03-17 09:06] fivdi commented on #19240
I'm seeing the same issue with Node v8.10.0 when using read streams to read from FIFO special files (names pipes) on Linux. With Node v8.9.4 all is ok.

[2018-03-17 09:16] fengyun2 opened #19406 "node http2 error"
* **Version**: v9.8.0
* **Platform**: windows10(64-bit)
* **Subsystem**:
* **Browser**: Chrome 62

http2

[code]
Running `node./server/index.js` has no error, but access to the ` https://localhost:8002`  failed.

[2018-03-17 10:20] richardlau commented on #19406
For https you should use [`createSecureServer`](https://nodejs.org/dist/latest-v9.x/docs/api/http2.html#http2_http2_createsecureserver_options_onrequesthandler) instead of `createServer`.

[2018-03-17 10:47] targos opened #19407 "net.connect: crashes when custom lookup returns invalid address type"
Test case:

[code]

[code]

[2018-03-17 11:00] sameer-coder commented on #19304
@addaleax Anna,
I have opened a PR for this. Would appreciate if you can take a look and provide feedback.
Included tests as well.

[2018-03-17 11:20] ratracegrad commented on #8670
@dsehnal Just following up on this issue. It is a v8 issue. Would you be willing to test this issue with the latest version of node which is 9.8.0 and let us know if you are still having the same issue? If so we may go ahead and close this issue since it something that will need to be addressed by the v8 core team.

[2018-03-17 11:38] #19240 closed

[2018-03-17 12:19] addaleax commented on #19240
Opened backports for the fixes in #19410 and #19411.

@nodejs/lts Given the comments here, do we want to consider fast-tracking those?

[2018-03-17 12:30] LEQADA commented on #19316
I was thinking maybe we can add `error.code = 'ECONNRESET';` to this error and in the handling function do something like this

[code]

@jkrems @bnoordhuis wdyt ?

[2018-03-17 12:44] TheLarkInn commented on #18423
Thank you very much. Will do and I'll follow up once I've made more
progress!

On Tue, Mar 13, 2018 at 10:45 AM Athan <notifications@github.com> wrote:

[2018-03-17 13:02] fhinkel opened #19412 "doc: mark StackOverflow as unofficial"
We're listing StackOverflow as a place for support in our [README.md](https://github.com/nodejs/node/pull/18191). Following the discussion in [#18191](https://github.com/nodejs/node/pull/18191), we should make it clear that the StackOverflow entries are not moderated by the Node.js Foundation.

[2018-03-17 13:59] vsemozhetbyt commented on #19405
Narrowed case.

https://github.com/eslint/eslint/releases — last versions: 4.18.2, 4.19.0.

[code]
The last command hangs trying to update to 4.19.0.

[2018-03-17 14:07] targos commented on #19405
can you run it in verbose mode so we have a better idea about when it starts hanging?

[2018-03-17 14:19] vsemozhetbyt commented on #19405
[code]
Hangs here.

[2018-03-17 14:20] mcollina commented on #7629
This can be closed, we are pursuing #445 and adding accessors for the properties that __needs__ access to `_readableState`  and `_writableState`. Sorry for the long wait, this could have been closed earlier.

[2018-03-17 14:20] #7629 closed

[2018-03-17 16:03] bnoordhuis commented on #19214
Observation: `apt-get install nodejs` has better i18n support than our own builds, courtesy of linking against the system ICU.

[2018-03-17 16:09] code-chris commented on #19412
@fhinkel Can I pick this up?

[2018-03-17 16:57] JosephLeon commented on #19412
I tried pushing up a fix for this but I'm getting:

remote: Permission to nodejs/node.git denied to JosephLeon.
fatal: unable to access 'https://github.com/nodejs/node.git/': The requested URL returned error: 403

[2018-03-17 17:01] addaleax commented on #19079
By the way: I have been using Node with `NODE_PENDING_DEPRECATION=1` in my `.bashrc` for over 3 weeks now, and I don’t think I have seen a single CLI application that doesn’t emit the warning with it.

So I would really appreciate if we *at least* excluded TTYs from a default runtime warning, as suggested in https://github.com/nodejs/node/pull/15346#issuecomment-368990001.

Also, I would like to s

[2018-03-17 17:03] devsnek commented on #19412
@JosephLeon you'll have to open a pr, check out https://github.com/nodejs/node/blob/master/CONTRIBUTING.md

[2018-03-17 17:03] TimothyGu commented on #19214
Hmm, maybe we could consider autodetecting if the host system has icu installed, and use the system icu if so?

[2018-03-17 17:13] JosephLeon commented on #19412
Ok, got a PR up here https://github.com/nodejs/node/pull/19416

[2018-03-17 17:42] ChALkeR commented on #19079
@addaleax What do you think about printing those from the app itself always, and from `node_modules` — at `n%` chance, starting with 1% and increasing over time?

The message for the former could look something like this:
[code]

The message for the latter could look something like this:
[code]

That way, developers of popular modules would be informed even at n=1 (p=`1%`) but end users would be a

[2018-03-17 17:49] mcollina commented on #19079
I like that approach.

[2018-03-17 17:54] seishun commented on #19079
Deprecation warnings are already emitted only once per process. Non-deterministic warnings would just add confusion.

[2018-03-17 18:08] bnoordhuis commented on #19214
That makes the binary non-distributable to other systems.  We don't link to the system openssl for the same reason.

[2018-03-17 18:29] styfle commented on #19393
I would love this! ❤️

Isomorphic JS is one of the big reasons people who start with JS on the front end, eventually pick up Node.js on the backend.

You get to run the exact same function in the browser and the server and the one place of contention I keep finding is window.fetch.

Some of the code that runs on the server and client needs to make HTTP requests to another server (think microservic