[2017-07-15 15:40] refack commented on #14209
To whomever wants to help us tackle this faster, I'm available on IRC and a few IM platforms.

[2017-07-15 15:42] refack commented on #556
IMHO it should stay open.
Ref: https://github.com/nodejs/node/issues/14158

[2017-07-15 15:52] vkurchatkin commented on #5691
We should expose a proper way to flush microtask and nextTick queues for old API as well as N-API.

[2017-07-15 16:00] jacksonrayhamilton commented on #10220
I've tried this again with the same instructions but with the latest Chromium on Debian:

[code]

I'm able to debug code now.  The main "console" tab in the upper tab seems to be blank and cannot be interacted with, however the console drawer does allow me to run code in the context of whatever level of the call stack I am looking at in Node.

So, hooray, debugging works!  :tada:

[2017-07-15 16:01] vsemozhetbyt opened #14253 "tools: some eslint rules proposals"
Recently some big PRs with churn was [mostly rejected](https://github.com/nodejs/node/pull/14173) or gave [sporadic -1](https://github.com/nodejs/node/pull/14162), so these are some preliminarily proposals to check the opinions before investing time.

1. Rule: http://eslint.org/docs/rules/no-unused-vars

    Proposal:
[code]
    Hits:
[code]
    Refs: https://github.com/nodejs/node/pull/14251

2.

[2017-07-15 16:13] refack commented on #8807
I'll give this a look but if the issue in the OP is about `Electron` it should go in that repo, since `Electron` handles `stdio` differently because it is a "Windows GUI" application and not "Windows Console".
Ref: https://github.com/nodejs/node/issues/556

[2017-07-15 16:15] chaudharisuresh997 commented on #13635
npm nodejs are disaster

[2017-07-15 16:17] Trott commented on #13937
@refack Thanks for compiling that list.

A few things:

Correction: That PR itself has only been open for 12 days and had two CTC approvals after 9 days.

More importantly, two things:

First, I was asking specifically about PRs for message changes. Most of these are about initial implementation of the internal errors stuff so will be subject to the two-CTC-approvals rule no matter what we decide

[2017-07-15 16:22] Trott commented on #14253
Ref: https://github.com/nodejs/node/issues/10129

[2017-07-15 16:23] Trott commented on #14253
FWIW, `{args: 'after-used'}` is the default, so it can just be: `no-unused-vars: error`.

[2017-07-15 16:25] vsemozhetbyt commented on #14253
@Trott Yes, I've used some defaults to be more explicit. Some rules can be shortened.

[2017-07-15 16:34] caitp commented on #9039
The long-term solution is to port all of Array.prototype.join to a proper TurboFan builtin (based on the CodeStubAssembler), which also fixes a couple of other regressions that were introduced recently when we had to fix some Intl bugs.

Right now we don't have the bandwidth to work on the long-term vision for Array.prototype.join; we can help with the design and provide guidance on the implementa

[2017-07-15 16:43] Trott commented on #9190
Should this remain open?

[2017-07-15 16:43] bnoordhuis commented on #13635
Troll comment deleted.  Next time it's a perma-ban, @chaudharisuresh997.

[2017-07-15 16:55] refack commented on #13937
When I wrote "a bit" I meant it literally, not as an understatements 😃  Also the list is not comprehensive.

[2017-07-15 16:56] Trott commented on #8650
Has anyone managed to replicate this using just Node.js and not external modules? If so, a gist or something would be useful.

[2017-07-15 17:01] Trott commented on #10515
https://github.com/nodejs/node/pull/11146 seems really close. Head over there and help push it over the finish line?

[2017-07-15 17:03] Trott commented on #10731
Anyone still working on this? Maybe it's time to add a `help wanted` label?

[2017-07-15 17:04] Trott commented on #8866
Is it useful for this to stay open?

[2017-07-15 17:06] Trott commented on #10745
Given that this issue has been inactive for several months, is it sensible close this (or at least mark is at blocked) unless and until the necessary features are added to libuv?

[2017-07-15 17:07] bnoordhuis commented on #9137
#9141 shows fixing this in GYP is not exactly trivial.  A one-liner that sets`ulimit -s` to some high value is probably more palatable.

That said, if you hit this issue while building node.js, you'll probably hit it sooner or later with another project too.

[2017-07-15 17:09] Trott commented on #10154
Should this be closed (or at least labeled `blocked`) unless and until the libuv issue gets resolved?

[2017-07-15 17:11] bnoordhuis commented on #14228
What does `info sharedlibrary` print?  `info registers` and `disassemble`?

[2017-07-15 17:11] Trott commented on #9137
@bnoordhuis Perhaps we can consider this a documentation issue and add a note to a troubleshooting guide (or even right in BUILDING.md) explaining what to do when it arises?

[2017-07-15 17:14] bmeck commented on #8866
I think we are fine closing

On Jul 15, 2017 12:05 PM, "Rich Trott" <notifications@github.com> wrote:

[2017-07-15 17:19] #8866 closed

[2017-07-15 17:25] Trott commented on #7868
At least some of this appears to have been addressed. Not sure if there's consensus on the parts that haven't been addressed.

This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 17:25] #7868 closed

[2017-07-15 17:29] Trott commented on #10836
@bzoz Is fixing this likely blocked by until  https://github.com/libuv/libuv/pull/1273 or equivalent lands in libuv and the appropriate version of libuv gets upstreamed to our `deps` directory?

[2017-07-15 17:30] Trott commented on #8460
Should this stay open?

If so, @Fishrock123: Are you likely to get to this soon? If not, should we unassign you and/or add `mentor available` and `help wanted` labels?

[2017-07-15 17:34] Trott commented on #7145
@Fishrock123 Same questions here as in https://github.com/nodejs/node/issues/8460#issuecomment-315549626

[2017-07-15 17:34] Trott commented on #10328
This seems like it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 17:34] #10328 closed

[2017-07-15 17:51] ljharb commented on #13937
I used to believe error messages were a gray area - ie, technically major, but probably patch.

I recently changed an error message in https://www.npmjs.com/package/resolve, and broke ember-cli and angular-cli. I had to revert it.

Naturally, I then prioritized the PR that adds error codes, and the resulting change to rely on them was made in ember-cli and angular-cli.

The reality tho, is that er

[2017-07-15 17:52] nojvek commented on #7087
The issue is that the devtools protocol which is used by inspector supports no way of loading resources.

VSCode only works if the sourcemaps are present locally, if you are debugging from remote server, then the sourcemaps reside on server, debugger (node) should be able to fetch them over network.

Chrome does this well for browser based debugging.

[2017-07-15 17:54] ronkorving commented on #10745
I think this is still valid, regardless of people having have spent time on it.

[2017-07-15 17:59] ile opened #14254 "Z_DATA_ERROR on this site"
I get `Z_DATA_ERROR` on this url when requesting a page with `request` and when `gzip` is `true`: http://www.marketsnare.com/ ... so it seems compression related.

[code]

| software         | version
| ---------------- | -------
| request          | 2.80.0
| node             | v6.10.3 and 8.1.4
| npm              | 3.10.10
| Operating System | Ubuntu 16.04

Requesting the page without `gzip` work

[2017-07-15 18:01] EladBezalel commented on #8650
@Trott do you mean without any http modules? I also tried without http-proxy-middleware and did my own express server to proxy the requests, still not working

[2017-07-15 18:14] KryDos commented on #14254
Hi @ile, the site is not sending gzipped data back to the client.
As far as I can see the error is expected ([see test case](https://github.com/request/request/blob/b12a6245d9acdb1e13c6486d427801e123fdafae/tests/test-gzip.js#L180) in `request` repository).

Probable not related to Node or `gzip` and it's library specific. I don't even think it's a bug.

[2017-07-15 18:27] MohammedEssehemy commented on #11591
Thanks @nsisodiya

[2017-07-15 21:10] jBarz commented on #14206
It seems like it hangs on trying to acquire the mutex to dispatch a job to the CompilerDispatcher class.

Also, I cannot reproduce the error when I run the test in isolation:

But I can reproduce it when I also run the test prior to it:

[2017-07-15 21:19] jkrems commented on #14228
For the first dump:

[code]

[code]

[code]

[2017-07-15 22:12] nguyenduy020290 opened #14255 "Not able to install NodeJs LTS on Windows 10 Pro"
* **Version**: 6.11.1
* **Platform**: Windows 10 Pro 64 bit
* **Subsystem**:

It's not possible to install NodeJS 6.11.1 64 bit on Windows 10 Pro 64 bit.
Attachment is recording .gif
Please help check it.
![nodejsinstallationissue](https://user-images.githubusercontent.com/21121896/28242971-4ecab9f4-69e5-11e7-9c07-12987c47ace2.gif)

[2017-07-15 22:20] refack opened #14256 "n-api: from zzo38 via IRC - Some ideas for N-API"
*edited to reflect completed tasks (@gabrielschulhof)*

* **Version**: 8.1.3
* **Subsystem**: n-api

http://zzo38computer.org/textfile/miscellaneous/napi_ext

# documentation

### String lifetimes.

The document should specify if N-API copies the string, to make it clear.
(With SQLite, you can specify whether or not the string should be copied
and if not, what to call to free it.)

### Examples of

[2017-07-15 22:20] refack commented on #14256
@nodejs/n-api @mhdawson some more feedback from zzo38

[2017-07-15 22:38] refack commented on #14238
I'll do it just to be extra safe. Experience teaches us that "temporary" is the most permanent state 🤷‍♂️ .

### Just for context

#### From the EP doc
[code]

#### While the implementation:
[code]
there's no `reset after it's been retrieved`

[2017-07-15 22:54] Trott commented on #14241
Unsurprisingly, this is an issue with parallelism and is not specific to FreeBSD. It is probably just showing up on FreeBSD because that is one of our more parallelized hosts for tests in CI.  It's also likely surfaced due to the start-up performance hit of turning off V8 snapshots; even though this test doesn't use `child_process`, it's performance is likely impacted by more resources being requi

[2017-07-15 23:00] mscdex commented on #14255
For posterity, the actual text of the error is:

[2017-07-15 23:04] gibfahn commented on #9269
No, the feature request is covered in #9314

[2017-07-15 23:04] #9269 closed

[2017-07-15 23:05] refack commented on #14238
Now grepping `setInitTriggerId`:
[code]
So the plot thickens

[2017-07-15 23:08] Trott commented on #14241
Problem occurs if the timeout fires more than once which can happen on a heavily loaded host. The test ought to permit `timeout` firing multiple times. It was written for https://github.com/nodejs/node-v0.x-archive/issues/481.

[2017-07-15 23:15] NeoRaider commented on #9137
Note that setting `ulimit -s` had no effect on my system. The patch I provided in #9141 was the only way I could make it work.

[2017-07-15 23:19] Trott commented on #14241
Fix coming in a few minutes.

[2017-07-15 23:22] Trott commented on #14241
Fix is in https://github.com/nodejs/node/pull/14257.

[2017-07-16 00:53] ile commented on #14254
Hmm, if I do this:

[code]

Then I get:

[code]
So, something is wrong...?

[2017-07-16 01:03] gibfahn commented on #12969
@nikunjdnp

Please can you raise this and other general help issues in [nodejs/help](https://github.com/nodejs/help/issues/new)? This issue tracker is for bugs in Node.js core.

When you raise it in `nodejs/help`, please include a link to this issue.

[2017-07-16 01:05] gibfahn commented on #9496
I think this is still a valid question/feature request. IDK if it's being discussed elsewhere, but unless it's a duplicate we should keep it open.

[2017-07-16 01:15] Trott commented on #14254
It seems odd that looking at the Network tab in Chrome dev tools for the site, it indicates that the site is using gzip compression, but checking the site using https://checkgzipcompression.com/?url=http%3A%2F%2Fwww.marketsnare.com%2F, it says it is *not* using compression.

[2017-07-16 01:22] Trott commented on #14254
@ile Your code works fine for me (no errors) with request 2.81.0. What version of request are you using? Can you update to 2.18.0?

[2017-07-16 01:22] gibfahn commented on #10336
I'm 90% sure @addaleax already wrote this down, unfortunately I can never find it for some reason.

[2017-07-16 01:24] Trott commented on #14254
Actually, it works for me with 2.80.0 too. I wonder if you might be behind a proxy server or something?

[2017-07-16 01:25] gibfahn commented on #10718
I think the minimum this needs is a sentence in https://github.com/nodejs/node#current-and-lts-releases saying "for more info about Current and LTS release, see [the LTS Readme](https://github.com/nodejs/LTS/blob/master/README.md)"

[2017-07-16 01:31] Trott commented on #14254
Also: @ile What happens if you try a more common URL, say `http://www.google.com`?

[2017-07-16 01:34] Trott commented on #8650
I mean using only Node.js and internal modules. So no `http-proxy-middleware`, no `express`...

[2017-07-16 01:37] Trott commented on #14206
@jBarz The side effects leaking between tests is probably what @addaleax describes in https://github.com/nodejs/node/issues/14206#issuecomment-314900988, yes?

[2017-07-16 01:38] gibfahn commented on #10718
Actually this is totally documented above. @pertrai1 does this paragraph not adequately explain what current means? If not what would you like to see?

[2017-07-16 01:42] Trott commented on #14255
@nodejs/platform-windows

[2017-07-16 01:45] Trott commented on #10794
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-16 01:45] #10794 closed

[2017-07-16 02:02] #14241 closed

[2017-07-16 02:13] Trott commented on #10871
@nodejs/crypto @nodejs/http

[2017-07-16 02:43] Trott commented on #10555
@sam-github Should this issue remain open?

[2017-07-16 02:48] Trott commented on #10961
@nodejs/http

[2017-07-16 02:49] Trott commented on #9181
@nodejs/platform-windows

Should this remain open?

[2017-07-16 02:52] Trott commented on #6189
@mscdex @cjihrig @mcollina Should this remain open?

[2017-07-16 02:58] refack commented on #9181
Sadly, yes.

[2017-07-16 03:00] refack commented on #14255
Dup of https://github.com/nodejs/node/issues/12311
@nguyenduy020290 could you try the solutions pointed to there and report back?

[2017-07-16 03:01] Trott commented on #9671
This should remain open?

[2017-07-16 03:02] Trott commented on #10904
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-16 03:02] #10904 closed

[2017-07-16 03:03] Trott commented on #11030
@nodejs/http Should this remain open?

[2017-07-16 03:04] Trott commented on #9706
@santigimeno This should remain open?

/cc @bnoordhuis, @cjihrig, @mcollina

[2017-07-16 03:06] refack commented on #9181
@tniessen @joaocgreis let's just unselect "Performance Counters" (and ETW) by default. I'd assume 90% of people who use the installer don't need them, and those who do will know to check the boxes in the installer.

IMHO a minimal installer is a healthy installer 🥗

[2017-07-16 03:06] Trott commented on #10338
If I'm reading this correctly, it seems to be not-a-bug although perhaps an opportunity for a doc improvement?

This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-16 03:06] #10338 closed

[2017-07-16 03:32] joyeecheung commented on #9979
@Trott Can not reproduce anymore, although I have updated my OS since then. I think we can reopen this when this shows up again.

[2017-07-16 03:32] #9979 closed

[2017-07-16 04:05] Trott commented on #10726
PR for this is at https://github.com/nodejs/node/issues/10958.

[2017-07-16 04:11] Trott commented on #10966
Haven't seen this in a while. Closing. Can re-open if it recurs.

[2017-07-16 04:11] #10966 closed

[2017-07-16 04:12] Trott commented on #8921
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-16 04:12] #8921 closed

[2017-07-16 04:16] Trott commented on #10609
Test was moved to `known_issues` when `_debugger` was removed.

[2017-07-16 04:16] #10609 closed

[2017-07-16 04:17] Trott commented on #906
Should this remain open?

[2017-07-16 04:24] Trott commented on #9510
I just ran `configure --without-ssl && make-j4 test` and all tests passed. I think @danbev fixed these and a bunch more over time. Closing. Please comment or re-open if that's wrong. Thanks!

[2017-07-16 04:24] #9510 closed

[2017-07-16 04:35] fhemberger opened #14260 "docs: 404 in v0.12 docs on 'tracing'"
Reported by @jandrieu on https://github.com/nodejs/nodejs.org/issues/1227:
---
* **URL**: https://nodejs.org/docs/v0.12.0/api/tracing.html

The page is a 404 not found, despite its entry on the main api page https://nodejs.org/docs/v0.12.0/api/

Fortunately, it is the only link on that page with this problem.

Looking at https://nodejs.org/docs/v0.12.0/api/all.html, it appears that there simply sh

[2017-07-16 04:37] fhemberger commented on #14260
I don't know at the top of my head if there should be a tracing page for v0.12 or if the link needs to be removed for that version.

[2017-07-16 04:37] #14260 closed

[2017-07-16 05:44] Trott commented on #6307
Should this remain open? (I'm guessing the answer is "yes" but would be happy to find out I'm wrong.)

[2017-07-16 05:45] Trott commented on #11019
Haven't seen this in several months. Closing, but feel free to comment (or re-open) if it's still A Thing.

[2017-07-16 05:45] #11019 closed

[2017-07-16 05:47] Trott commented on #11003
Haven't seen this in months. Going to close, but feel free to re-open or comment if it's still something that happens.

[2017-07-16 05:47] #11003 closed

[2017-07-16 05:48] Trott commented on #11026
Haven't seen this in a long time. Closing. Feel free to re-open or comment if it should be open.

[2017-07-16 05:48] #11026 closed

[2017-07-16 05:49] Trott commented on #10592
Haven't seen this in months. Closing. Feel free to re-open or comment if it should be open.

[2017-07-16 05:49] #10592 closed

[2017-07-16 05:50] Trott commented on #2734
Should this remain open? (I'm guessing the answer is "yes" but I'd be happy to find out I'm wrong.)

[2017-07-16 05:51] Trott commented on #10838
Should this remain open?

[2017-07-16 05:51] Trott commented on #10672
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-16 05:57] Trott commented on #11164
@nodejs/v8-inspector

Should this remain open?

[2017-07-16 05:58] Trott commented on #10819
@sam-github Should this remain open?

[2017-07-16 05:59] Trott commented on #3597
/ping @nodejs/platform-windows Anyone want to take this up? If not, shall we add a `help wanted` label?

[2017-07-16 07:35] owenallenaz commented on #6078
I believe we may be hitting this issue, but am having a lot of trouble isolating it down to figure out what the root cause is. We run 100 or so Node applications per server, in general they use about 100mb of memory each. We have a few of them where the RSS is all the way up to 3-5gb. At the same time the heap is only 130mb or so. In example here is a dump of the following:
[code]
Looking at the d

[2017-07-16 07:45] owenallenaz commented on #12805
@dlueth Could you possibly test on Node 7.4.0? We are facing a similar large RSS, no heap growth issue, and I swear it used to work on 7.4.0. If you're unable to reproduce on that version, then it might narrow the window of what changed that caused it. Or maybe it's a 3rd party package... not sure yet.

[2017-07-16 08:00] AndreasMadsen commented on #14238
The "retrieving" part is in `initTriggerId`.

[2017-07-16 08:15] pbsis commented on #14171
I definitely agree with @dougmoscrop that this issue seems far from proven. Most of the articles are just excitedly repeating the original bulletin and adding simplistic explanations of how hashtables work. The only "proof" offered seems to be based on "we switched off snapshots previously because we were worried about constant hash seeds, so snapshots being switched back on *must* mean the issue

[2017-07-16 08:49] hashseed commented on #14171
Rest assured that this issue is still there. The hashseed persists with the snapshot.

Source: I'm the owner of v8/src/snapshot and did most of the refactorings on string hashing.

[2017-07-16 10:24] seishun opened #14300 "vcbuild changes current directory and fails to find python"
* **Version**: master
* **Platform**: Windows 10 64-bit
* **Subsystem**: build

[code]

cc @refack

[2017-07-16 10:26] refack commented on #14238
Ack.
But like you wrote, if `initTriggerId` is not called for some reason, `setInitTriggerId` does not restore the state on it's own.

[2017-07-16 10:38] AndreasMadsen commented on #14238
@refack Let's not derail this discussion further. I think we are in complete agreement.

This discussion is meant to be about removing `setInitTriggerId` and ~~removing~~ not implementing `triggerIdScope`, as a public API.

The EP contained these two functions, so while we are in agreement I suspect others may disagree with removing them.

[2017-07-16 10:42] seishun commented on #14300
Added some `echo %cd%` in vcbuild.bat, apparently calling vcvarsall changes the current directory:

[code]

[code]

Why would that happen?

[2017-07-16 10:58] refack commented on #14238
Ack.

P.S. I'm writing a PR to do just that, and am "struggling" with those delicate details. I'm posting it for review, since I still have 3 failed tests. https://github.com/nodejs/node/pull/14302

[2017-07-16 11:07] seishun commented on #9671
The provided test case no longer reproduces on master, so closing.

[2017-07-16 11:07] #9671 closed

[2017-07-16 11:20] richardlau commented on #6434
https://github.com/nodejs/node/pull/9283 fixed the global paths folder on Windows.

[2017-07-16 11:20] #6434 closed

[2017-07-16 11:24] richardlau commented on #9519
I think this is fixed by https://github.com/nodejs/node/pull/10423

[2017-07-16 11:54] #9519 closed

[2017-07-16 12:08] refack commented on #14300
Funny I was just discussing this with @gibfahn...
* ~The 3rd line in `vcbuild.bat` is `cd %~dp0` so that's probably the cause of changing directory~ ohh `vcvarsall.bat` is changing your `cd`, that is strange, check the %ERRORLEVEL%, maybe it's failing.
* Check what `tools/msvs/find_python.cmd` is doing with `set DEBUG_HELPER=1`.
  Maybe your `python` is not an `.exe` but `.bat`? (find_python.cmd#4

[2017-07-16 12:10] refack commented on #14300
Maybe also try to run `"C:\Program Files (x86)\Microsoft Visual Studio\Installer\vs_installer.exe"` and do a `Repair` or `Update`

[2017-07-16 12:15] seishun commented on #14300
[code]

find_python.cmd doesn't even run because the current directory is wrong. Thus the "The system cannot find the path specified." line.

I could do that, but vcbuild shouldn't fail in such an obscure way because of a broken VS installation.

[2017-07-16 12:16] refack commented on #14300
<sub>Sorry it's my ideas are coming in drips...</sub>
You can also see what `vcvarsall.bat` is doing with `set VSCMD_DEBUG=3` (it has several levels I think 3 is the highest)

[2017-07-16 12:17] refack commented on #14300
Ack. So now we have a bug 👍

[2017-07-16 12:23] seishun commented on #14300
Looks like `ERRORLEVEL` is set to `1` later and `vcvarsall.bat` is successful:

[code]

Output with `set VSCMD_DEBUG=3`:

[code]

[2017-07-16 12:56] nguyenduy020290 commented on #14255
Thanks @refack , I have followed the steps in #12311 and was able to set up nodejs :)

[2017-07-16 12:56] #14255 closed

[2017-07-16 13:01] ile commented on #14254
Linux pc 4.4.0-83-generic #106-Ubuntu SMP Mon Jun 26 17:54:43 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

[2017-07-16 13:57] vsemozhetbyt opened #14304 "http2: code examples does not work on Windows with port 80"
* **Version**: master with #14239
* **Platform**: Windows 7 x 64
* **Subsystem**: http2

Refs: https://github.com/nodejs/node/pull/14239 ([http2.md](https://github.com/jasnell/node/blob/76329637e55bd48289db0e595708a63a19202d2a/doc/api/http2.md))

The first examples from ["Core API"](https://github.com/jasnell/node/blob/76329637e55bd48289db0e595708a63a19202d2a/doc/api/http2.md#core-api) chapter do

[2017-07-16 14:01] gibfahn commented on #7935
I think so.  Gzemnid seems like it'll be as useful as CitGM for testing the breakingness of changes, and I assume this is just waiting on people to get the time to add it to our infra.

[2017-07-16 14:07] dougmoscrop commented on #14171
Yeah, I was very wrong - I should have edited my previous message. I added some logging and poked around and if you just search for set_hash_seed you'll see that yes, on startup it does get a new random seed even with snapshots on, but then it's overwritten, and if you look in the actual hash calls themselves, they use the one determined at compile time.

The disclosure was hard to grok for outsid

[2017-07-16 14:46] benjamingr commented on #12373
Seeing as this is unhandled - I'll take a shot.

[2017-07-16 15:27] pertrai1 commented on #10718
@gibfahn - your minimum sentence that you mention above where the user has a reference link to follow - "LTS Readme" - I think that would be helpful in this situation.

[2017-07-16 15:42] jBarz commented on #14206
I agree that there is a side effect from the preceding test case. However, not sure if the source of the leak is libuv or v8 itself.

[2017-07-16 16:07] benjamingr commented on #6802
I wonder, if we define process with a const binding in the process it should and not a var binding, basically, kind of like doing:

[code]

What do you think about fixing this ad-hoc for process?

[2017-07-16 16:30] zeusdeux commented on #14006
[PR-ed here](https://github.com/nodejs/node/pull/14307).

[2017-07-16 17:02] tniessen commented on #14243
I can confirm this is an issue, but I am not sure what the proper fix is... There is only a limited number of colors and some other terminal might use another color as the default background, and so on.

You can use `SET NODE_DISABLE_COLORS=1` before executing `node` to prevent this for the repl.

[2017-07-16 19:07] refack commented on #14243
IMHO the bug is that magenta is mapped to `#012456`. When the BG is black it's Ok:
![image](https://user-images.githubusercontent.com/96947/28250472-83dd43da-6a37-11e7-91c8-682c6989a63f.png)

[2017-07-16 19:13] vsemozhetbyt commented on #14243
Can we get a terminal background programmatically and change some colors for more contrast? I am not pro in this realm, but this seems a common task in the frontend, maybe there are some libraries for such color correctness.

[2017-07-16 19:17] refack commented on #14243
even more minimal snippent:
[code]
![image](https://user-images.githubusercontent.com/96947/28250572-c85d6772-6a39-11e7-920b-eb3540a71dd3.png)
AFAICT it's a Windows bug, since 35 should be magenta.

[2017-07-16 19:19] tniessen commented on #14243
Ref https://github.com/chalk/chalk/issues/2

[2017-07-16 19:24] refack commented on #14243
The [powershell shortcut](https://stackoverflow.com/questions/13690223/how-can-i-launch-powershell-exe-with-the-default-colours-from-the-powershell-s) remaps magenta and dark yellow.
![image](https://user-images.githubusercontent.com/96947/28250592-67b454e8-6a3a-11e7-8d37-dab2436ff8ed.png)

[2017-07-16 19:31] refack commented on #14243
Cross-Ref https://github.com/PowerShell/PowerShell/issues/4266

[2017-07-16 19:32] benjamingr opened #14308 "Outdated comment in timers"
Currently, the timers contain an outdated comment in https://github.com/nodejs/node/blob/master/lib/timers.js#L742 referring to a try/catch statement that is not there.

We should remove it.

[2017-07-16 19:45] corey-a-henderson opened #14309 "exec() fails on any command when stdout is empty"
Version: v6.11.1
Platform: Linux ip-172-31-15-96 4.4.11-23.53.amzn1.x86_64 #1 SMP Wed Jun 1 22:22:50 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
Subsystem: child_process.exec()

When executing a command using exec(), if the command returns nothing to stdout, an error occurs. The error occurs when any part of a sequence of commands returns no output, as well, eg: echo START && echo STOP | grep START wi

[2017-07-16 19:48] bnoordhuis commented on #14243
All node.js (or rather, libuv) does is call [SetConsoleTextAttribute](https://msdn.microsoft.com/en-us/library/windows/desktop/ms686047(v=vs.85).aspx) with the `BACKGROUND_RED` and `BACKGROUND_BLUE` attributes set.  It's the responsibility of the console to display that as purple / magenta.

Since this is not a (libuv or node.js) bug and is not under our control I'll go ahead and close this.  Perh

[2017-07-16 19:48] #14243 closed

[2017-07-16 19:51] bnoordhuis commented on #14309
From the documentation:

If grep doesn't find a match, it exits with a non-zero status code.

[2017-07-16 19:51] #14309 closed

[2017-07-16 20:07] chris--young commented on #13928
@cjihrig yea sorry for the delay, been pretty busy the past couple weeks. I just opened a pr for this https://github.com/nodejs/node/pull/14310

[2017-07-16 20:22] bnoordhuis commented on #11164
It's not clear to me what the actual issue is or if this report is about the inspector itself or a _client_ for the inspector.  Barring clarification from @lacmuch, I'd suggest closing this.

[2017-07-16 20:35] bobOnGitHub opened #14311 "recursion error not reported"
* **Version**: 6.11.0
* **Platform**: Windows 10 64 bit
* **Subsystem**:

App just stops without any error information.  Eg.

[code]
This will run so far then just stop. Try/Catch didn't work either - tried as above with ;

[code]
Again nothing - just stops.

Have workaround ;
[code]

but original code should report error when fails.

[2017-07-16 20:52] benschulz commented on #6307
This is your project and you are free to take it in any direction you please. If you think the status quo is good enough or even right, you should close the ticket. All I can tell you is that I had a really rough time with this. But that's just one data point, I imagine there are several more people affected.
Fermi estimate: Two people have raised the issue; if we conservatively posit that .1‒1% o

[2017-07-16 20:54] silverwind commented on #906
I'd say so.

[2017-07-16 20:57] Trott opened #14312 "investigate flaky "sequential/test-http-server-consumed-timeout""
* **Version**: v9.0.0-pre
* **Platform**: vs2017,win2016 & `rhel72-s390x`
* **Subsystem**: test

https://ci.nodejs.org/job/node-test-binary-windows/9855/RUN_SUBSET=1,VS_VERSION=vs2017,label=win2016/console

[code]

[2017-07-16 20:58] bnoordhuis commented on #10838
It's a legitimate bug: the inspector uses the script name as the URL, but it's a file path in node.js.

Although it can be overridden by inserting a `//# sourceURL=...` comment in the script source (and node.js could even do that automatically), it's probably better solved by making it programmatically overridable through the inspector's C++ API.

[2017-07-16 21:04] silverwind commented on #1716
Interesting, looks like a recent v8 update defined a number `console` methods that are available in Chrome, but because they aren't implemented in Node.js, they seem to be just noops. Maybe we should undefine them again so to not confuse users?

[2017-07-16 21:04] vsemozhetbyt commented on #14311
Without `console.log()` call the error message is printed:
[code]

[2017-07-16 21:09] vsemozhetbyt commented on #14311
With redirected stdout:
`e:\DOC\prg\js\node\-test>test.js > out.log`
[code]

[2017-07-16 21:30] timcosta commented on #14308
I'm on this.

[2017-07-16 22:01] bnoordhuis commented on #14228
Thanks.  It's failing on the IsUndefined() or IsTheHole() check on [this line in objects.cc](https://github.com/nodejs/node/blob/v4.8.4/deps/v8/src/objects.cc#L13844) (warning: big file), presumably `element` is not a valid pointer (although it looks like one, its LSB is tagged.)

Just to be sure, what does `p/x *(long*)0x22cc054b3590` print?

[2017-07-16 22:03] targos commented on #14308
It's still there. The comment should just say try/finally instead of try/catch

[2017-07-16 22:11] bobpower67 commented on #14311
Yes, get the same here.
The code with console.log was to recreate something I'm getting in real code - which it does.
So it appears output - which I have in my real code via process.stdout.write mostly (and console.log in some cases though not called when error manifests ) affects the reporting of the recursion error.

[2017-07-16 22:13] tniessen commented on #14311
I can reproduce on Windows, not on Linux.

[2017-07-16 22:52] corey-a-henderson commented on #14309
I did not know that. I originally found this problem trying to use lsof, and have now learned that it behaves similarly if there's no output at all. Thanks!

[2017-07-16 22:59] jkrems commented on #14228
Yep, that address isn't a thing:

[code]

[2017-07-17 01:00] timcosta commented on #14308
PR updated

[2017-07-17 01:45] #9823 closed

[2017-07-17 02:30] Trott opened #14316 "Investigate flaky test-inspector-open on Linux"
* **Version**: 9.0.0-pre
* **Platform**: centos7-64
* **Subsystem**: test inspector

https://ci.nodejs.org/job/node-test-commit-linux/11219/nodes=centos7-64/console

[code]

[2017-07-17 02:57] gibfahn commented on #10718
@pertrai1 makes sense, let me know if you think https://github.com/nodejs/node/pull/14259 would make things clearer.

I totally didn't see any of this documentation btw, and I've looked at the README a bunch of times. So any feedback we can get on increasing clarity is very helpful.

[2017-07-17 06:09] zbjornson commented on #10731
I haven't had time to keep working on this, no. :(

[2017-07-17 06:34] gibfahn commented on #11164
Makes sense, @lacmuch if you can provide that info we can reopen.

[2017-07-17 06:34] #11164 closed

[2017-07-17 06:40] gibfahn commented on #6802
I guess the only argument against doing that is that there might be a legitimate reason for someone to modify/overwrite the process object. IDK if there is one.

[2017-07-17 06:48] gibfahn commented on #6307
@bnoordhuis looking at your comments:

https://github.com/nodejs/node/issues/6307#issuecomment-212569239

https://github.com/nodejs/node/pull/4693#issuecomment-172807221

I understand that you're against implementing happy eyeballs, but not necessarily against just letting the results come back in their original order. Is your second comment saying that ceasing to modify the order will force us to

[2017-07-17 07:03] TimothyGu commented on #10838
The Dev Tools frontend has already implemented a workaround: https://cs.chromium.org/chromium/src/third_party/WebKit/Source/devtools/front_end/sdk/DebuggerModel.js?l=485&rcl=0a99285795ade2dd281995dee72fdb9e80d3fd6d

It's just a matter of getting that into V8.

[2017-07-17 07:03] gibfahn commented on #14316
So [this assertion checks](https://github.com/nodejs/node/blob/master/test/parallel/test-inspector-open.js#L71) that when you close and reopen you don't get the same port. However AIUI node just picks a free port, so there is a (very small) chance you'll get the same port.

cc/ @sam-github as you wrote the original test.

[2017-07-17 07:04] benjamingr commented on #6802
PR https://github.com/nodejs/node/pull/14306

[2017-07-17 07:08] TimothyGu commented on #1716
We cannot do that easily because we support opening inspector during runtime (https://nodejs.org/api/inspector.html#inspector_inspector_open_port_host_wait).

We should just implement `group`, `groupCollapse`, and `groupEnd` with indentation. It's not that difficult.

[2017-07-17 07:12] TimothyGu commented on #6802
@benjamingr Huh? Is that related to this issue?

[2017-07-17 07:18] mcollina commented on #6189
@Trott this can be closed, I'm closing it.

@punnerud the problem in your code is caused by the fact that you are scheduling 1000000 messages to be sent before the socket is even ready. This is causing the massive memory allocation spike. You should schedule your messages using a queue and send only a limited number in parallel.

[2017-07-17 07:18] #6189 closed

[2017-07-17 07:19] benjamingr commented on #6802
@TimothyGu sorry - wrong PR :D

[2017-07-17 07:20] benjamingr commented on #14308
@targos yes, but the "allow it to be optimized" part is no longer true with TurboFan

[2017-07-17 07:21] TimothyGu commented on #5350
@Trott Sure.

[2017-07-17 07:23] TimothyGu commented on #2734
@Trott Yes, @domenic's error case is still valid.

[2017-07-17 07:30] TimothyGu commented on #5350
Actually, this is a different issue, as it describes the `sandbox` object being changed.

[2017-07-17 07:32] TimothyGu commented on #2734
In fact, we should take another look at this issue now that v8/v8@b0a7738a5feb75d23a9707393d102cc34814fbf7 has been committed.

[2017-07-17 07:37] mcollina commented on #6078
@owenallenaz those are extremely hard to debug, but I would say that you are not being hit by this issue. Generically, some piece of code that you are running are making V8 garbage collector balloon the RSS. This typically happens for long-running requests, you are accumulating the results (maybe using a stream) and then rendering those to the end users. If you pass two gc Scavenge cycles, your da

[2017-07-17 07:37] #6078 closed

[2017-07-17 07:49] dlueth commented on #12805
@owenallenaz Will see what I can do to test this and report back!

[2017-07-17 08:02] Trott commented on #14254
Interesting. Perhaps that site chooses not to compress (or compresses incorrectly) with certain User-Agent strings or something like that, ignoring the Accepts-Encoding header in those cases. It seems like a stretch, but it would explain the behavior you see along with the fact that I see the site compressing the payload locally but I get "compression not implemented" when I use checkgzipcompressi

[2017-07-17 08:08] targos commented on #14308
True, but that's not the reason you gave in the OP. I still think the comment is relevant because it explains why the call is made in another function. If that is not relevant anymore, we shouldn't just remove the comment but revert the optimization altogether.

[2017-07-17 08:20] bzoz commented on #10836
Yes

[2017-07-17 08:26] mcollina commented on #1834
Closing.

[2017-07-17 08:26] #1834 closed

[2017-07-17 09:06] bnoordhuis commented on #6307
Not exactly.  Happy eyeballs is a transition mechanism.  It's not needed in a world where IPv6 connectivity is good enough.  Do we live in that world yet?  Maybe, maybe not; not enough data.

[2017-07-17 09:07] dominictarr commented on #1834
just for the record, pull-streams do not have this problem.
http://dominictarr.com/post/149248845122/pull-streams-pull-streams-are-a-very-simple
http://pull-stream.github.io/

[2017-07-17 09:27] bnoordhuis commented on #14228
No problem, happy to help.  Can you post the output of `info registers` and `disassemble` for the other core dumps?  Hopefully that provides some more insight.

[2017-07-17 09:34] bnoordhuis commented on #14311
I'd chalk this up as a known limitation.  Since the stack is almost full, there is hardly anything you can do that won't raise another exception.

[2017-07-17 09:45] bnoordhuis commented on #10838
That won't work for Windows file paths.

[2017-07-17 10:01] Trott commented on #14316
If it's asking the operating system to supply a free port (which I imagine it is), then that really should not ever happen. AFAIK, every operating system increments to the next free port on each request for an free port.

This deterministic nature seems to be confirmed for me when I run this test and see the output showing that the two ports are apart by 4 every time.  59323 and 59327 the first ru

[2017-07-17 10:12] dlueth commented on #12805
@owenallenaz Did not help in our case, switching to 7.4.0 shows the same behaviour regarding large RSS but constant heap as later versions do

[2017-07-17 10:17] bnoordhuis commented on #14316
Gibson's hypothesis seems plausible enough to me.  Try narrowing the ephemeral port range and see what happens (and keep in mind that the port allocation scheme is platform and kernel specific - the centos7 bot runs linux 3.10.)

[2017-07-17 10:27] gustavnikolaj commented on #13640
I am not sure this is the right place to raise this, or if I am in any position to do so, but as I haven't seen anyone present this view, I am going to take the liberty of doing so anyway.

Something like `npm` obviously needs to be bundled with node, but I don't think the same is true for a package like `npx`. Why is it not just a userland package that people can opt to install themselves?

If th

[2017-07-17 10:30] bobOnGitHub commented on #14311
I have to disagree with you there bnoordhuis ; I'd say the behaviour should be consistent across implementations and scenarios and should report the error as it does on Linux or on Windows without the console.log call.  I'd mark this as a bug.

(otherwise you have apps just stopping mid execution for no apparent reason with no way to find the fault bar an educated guess..)

[2017-07-17 10:34] tniessen commented on #14311
I don't think you are hitting an actual stack overflow here, but rather a v8 limit, and it should be possible to report that. It is not like the process itself is out of memory, right?

cc @nodejs/v8

[2017-07-17 10:59] bnoordhuis commented on #14311
Let me amend: hardly anything you can do _in javascript_.

See #6899 for a similar bug report.  Node.js already tries to do something meaningful on stack overflow but there isn't much wiggle room with a try/catch statement or `process.on('uncaughtException')` handler.

[2017-07-17 11:20] bnoordhuis commented on #14311
And for some more (and more recent) discussion: https://github.com/nodejs/node-v8/issues/5

[2017-07-17 11:46] adiulici commented on #13539
I'm seeing the same issue on node v8.1.14

[2017-07-17 11:49] refack commented on #13640
1. IMHO users' input is of equal or even higher value than the academic musings of the inner-circle people, so more power to you ✊

2. (just my "academic" musings) in node core's context, it's `npm`'s choice. If "they" decided to bundle it in the default bundle, then we should follow suit. So maybe a better thread is https://github.com/npm/npm/pull/17685 🤷‍♂️

P.S. As I mentioned above I also impl

[2017-07-17 11:57] targos commented on #13581
Reopening because the fix only landed in libuv.

[2017-07-17 12:06] evanlucas commented on #13640
I am +1 to bundling `npx`. At Help.com, we use the official tarballs in docker images and our CI uses a docker-compose like tool to run our test suites. To avoid manually installing all of our dependencies twice (to get the tool to run the test suite and in the docker container), we have to `npm install <tool>` and then run it. Including `npx` would greatly simplify this process for us as we would

[2017-07-17 12:24] bnoordhuis commented on #14176
It's clear there is no consensus on making changes.  I'll go ahead and close this out.

[2017-07-17 12:24] #14176 closed

[2017-07-17 12:40] refack commented on #8102
@jasnell does https://github.com/nodejs/node/pull/14315 improve this situation?

[2017-07-17 12:42] AndreasMadsen commented on #13539
@aashil could you try the [nightly build](https://nodejs.org/download/nightly/v9.0.0-nightly20170716e8170f2246/), most of the `async_hooks` fixes are in `v8.2.0` which hasn't been released yet (https://github.com/nodejs/node/pull/13744).

[2017-07-17 12:48] AndreasMadsen commented on #13854
Closing this due to lack of activity from @FeeFelipe. We can reopen if things change.

We have been rolling out a lot of fixes regarding the type of issue you are seeing. They will be in `v8.2.0` which hasn't been released yet. Until then, you can try the [nightly build](https://nodejs.org/download/nightly/v9.0.0-nightly20170716e8170f2246/).

[2017-07-17 12:48] #13854 closed

[2017-07-17 12:49] bnoordhuis commented on #14166
spawn() emits an error, it doesn't throw an exception.  See https://github.com/nodejs/node-v0.x-archive/issues/7453 for background.

[2017-07-17 13:08] benschulz commented on #6307
That's the part of the argument I don't understand. I set my system up to resolve names to IPv6 addresses and, if that yields no results, to IPv4 addresses. What's the issue? (I consider names with invalid `AAAA` entries an issue with the name, not my system configuration.)

[2017-07-17 13:12] hashseed commented on #14171
Here you go: https://chromium-review.googlesource.com/c/574527/

This patch rehashes deserialized select hash tables, descriptor arrays, and transition arrays. It's not the general approach and only works for the default snapshot. Custom startup snapshots will not have rehashing enabled.

I hope I can get this landed soon. And then try to port it back.

[2017-07-17 13:19] refack commented on #8807
@naumanumer I just tried the attached app with `Electron@1.7.4.0` that uses `node@7.9.0`, and it seems to work:
![image](https://user-images.githubusercontent.com/96947/28269638-c70f14e6-6ad0-11e7-9957-2989b34e919b.png)
the code:
[code]

with `ls.bat`:
[code]

[electronstdout8807.zip](https://github.com/nodejs/node/files/1152699/electronstdout8807.zip)

[2017-07-17 13:48] jkrems commented on #14228
<details>
<summary>`core.21565`</summary>

[code]

[code]

[code]

</details>

[2017-07-17 13:48] jkrems commented on #14228
<details>
<summary>core.26514</summary>

[code]

[code]

[code]

</details>

[2017-07-17 13:53] jkrems commented on #14228
<details>
<summary>core.26538</summary>

[code]

[code]

[code]

</details>

[2017-07-17 13:55] jkrems commented on #14228
<details>
<summary>core.26551</summary>

[code]

[code]

[code]

</details>

[2017-07-17 14:01] unbornchikken opened #14325 "Node process with --inspect cannot fork child process without passing --inspect"
* **Version**: 8.1.1
* **Platform**: Windows 10

If I start a node process with --inspect and fork a child node process without passing --inspect, child process will crash with exit code of 12.

Is this the intended behavior?

Edit: added a repro case there https://github.com/nodejs/node/issues/14325#issuecomment-315974733

[2017-07-17 14:05] adiulici commented on #13539
@AndreasMadsen Unfortunately I only see this on my production environment when the number of concurrent users is high, and I can't put a nightly build on it..

[2017-07-17 14:45] bnoordhuis commented on #6307
A valid AAAA entry does not mean there is a network path to that machine.

That was historically a big barrier to IPv6 adoption and is what happy eyeballs tries to address: try IPv6 and IPv4 in parallel and use whatever manages to establish a connection.

[2017-07-17 14:56] bnoordhuis commented on #14228
Looks like they are all the same issue: pointers that look like valid heap object pointers but aren't.  Something puts the heap in an inconsistent state but hard to say what.

[2017-07-17 15:06] schmod commented on #13917
Do we know if this is a regression, and if so, when it was introduced?

[2017-07-17 15:11] jasnell commented on #9797
This is essentially `Buffer.transcode()`... and can also be accomplished using the Encoding API implementation I've done.

[2017-07-17 15:31] matthewmorgan commented on #13564
FYI for anyone who finds this thread, Webstorm 2017.2 will debug with Node 8

[2017-07-17 15:34] benschulz commented on #6307
So anyone affected has an IPv4 and an IPv6 address and their ISP is unable to route all IPv6 packets? Couldn't they do the reverse of what I do, i.e. prefer IPv4 over IPv6 at the OS rather than application level?

I appreciate the time taken for the various comments, thank you.

[2017-07-17 15:40] jkrems commented on #14228
I was afraid that was the answer. Is there any value in rolling out a debug build of node to some canary hosts or is it unlikely to provide more insights? Otherwise I could try to at least narrow it down a bit (somewhere in `v4.6.1...v4.8.4` is pretty broad).

[2017-07-17 15:42] eugeneo commented on #7853
It is effectively a duplicate of https://github.com/nodejs/node/issues/11993 - no need to keep both of them open. Implementing Pavel's suggestion also did not help...

[2017-07-17 15:42] #7853 closed

[2017-07-17 15:44] bnoordhuis commented on #9706
@santigimeno #13235 fixed this, didn't it?

That PR is on track for v6.x and it seems reasonable to me to also target v4.x since it's a rather insidious bug.

[2017-07-17 15:47] gotrevor opened #14326 "Node 6 crash w/ computed properties"
Versions: 6.x
Platforms: OS X, Linux
Subsystem: unknown

Running this single crash.js file will cause Node 6, across several
different dot releases, to crash with what appears to be some strange,
ephemeral memory corruption:

https://github.com/gotrevor/LogOfUndefined/blob/master/crash.js

This example does not cause a crash in Node 4 or 8.  You can see the
matrix of success/failure here:
https://

[2017-07-17 15:54] eugeneo commented on #7087
I think this should be a help wanted issue. A way to access those source maps from a remote server needs to be designed...

[2017-07-17 15:54] bnoordhuis commented on #7657
Since this is a libuv issue, I'll take the liberty of closing this.  Libuv PRs welcome.

[2017-07-17 15:56] eugeneo commented on #9435
I believe it can be closed.

[2017-07-17 16:03] bnoordhuis commented on #8966
I'm on the fence myself but happy to review pull requests or answer questions.  Labels added.

[2017-07-17 16:07] mscdex commented on #14326
For posterity, here is crash.js:

[code]

[2017-07-17 16:08] santigimeno commented on #9706
I think so. I still can reproduce it with current master on `FreeBSD`

[2017-07-17 16:09] jkrems commented on #14228
Sounds like a similar issue has been reported for v4.8.0: https://github.com/nodejs/node/issues/11606

[2017-07-17 16:11] bnoordhuis commented on #13917
Not a regression, AFAICT.  It's been present ever since authenticated mode support was added in commit e0d31ea from November 2013.

[2017-07-17 16:16] #10718 closed

[2017-07-17 16:19] bnoordhuis commented on #6307
Yes, but that takes time and effort to set up.  We want to avoid a situation where a node.js release breaks the out-of-the-box experience for a large group of users, especially when it might be difficult to debug for them.

[2017-07-17 16:23] mcollina commented on #14023
Fixed in https://github.com/nodejs/node/commit/649d77bbf4e01e3dd3799ff8ca8d190641c9f4da.

[2017-07-17 16:23] #14023 closed

[2017-07-17 16:24] seishun commented on #9797
Not quite. Buffer.transcode converts a buffer to a buffer. This converts a string to a string.

[2017-07-17 16:27] medikoo commented on #9435
Does it mean, there's no plan to fix it?

Multi-process Node.js configurations are not that uncommon, and currently debugger functionality is not usable having such setup. I see it as quite important issue.

[2017-07-17 16:28] bnoordhuis commented on #14228
We get such bug reports frequently but nine times out of ten it's caused by a native add-on.

A debug build would help, those usually catch bugs closer to the source.

[2017-07-17 16:28] bnoordhuis commented on #11606
No follow-up, I'll close this out.

[2017-07-17 16:28] #11606 closed

[2017-07-17 16:33] santigimeno commented on #9706
@bnoordhuis sorry I hadn't read your comment before answering...

I had forgotten about this one but it certainly looks like it could have been solved by https://github.com/nodejs/node/pull/13235, but from a quick check it doesn't look it's solved so it may be a different issue.

[2017-07-17 16:35] bnoordhuis commented on #9621
I'll close this out, the necessary work in node.js has been done, as far as I can tell.

[2017-07-17 16:35] #9621 closed

[2017-07-17 16:43] pertrai1 commented on #10718
👍  thank you @gibfahn

[2017-07-17 17:10] Fishrock123 commented on #14308
This comment is intentional in it's current position: https://github.com/nodejs/node/commit/6f75b6672ca08c2bc3bf5fe14abb1a9648601e28#diff-0a5d4868b2b9b17cf9e2c11f1bd1311eR545

[2017-07-17 17:11] AndreasMadsen opened #14328 "Remove async_hooks runInAsyncIdScope API"
* **Version**: master (016d81ceec2e0836eedd27c797c1aebd045a8479)
* **Platform**: all
* **Subsystem**: async_hooks

As I [mentioned](https://github.com/nodejs/node/pull/12953) a few months ago I'm not comfortable exposing the low-level async_hooks JS API. In the documentation PR https://github.com/nodejs/node/pull/12953 we agreed to keep the low-level JS API undocumented. Some time has now passed a

[2017-07-17 17:24] jaridmargolin commented on #9621
@bnoordhuis - could you please link to PR, commits, or docs in regards to:

[2017-07-17 17:26] jkrems commented on #14228
Just checked - the app(s) in question don't contain any `.node` files, including in their dependency tree. So I don't think it's a native add-on in this case.

We'll roll out a debug build and see what we get from that.

[2017-07-17 17:32] misterdjules commented on #13020
PR submitted at https://github.com/nodejs/node/pull/14329.

[2017-07-17 17:33] misterdjules commented on #13020
FWIW, I ran `parallel/test-async-wrap-getasyncid` with the changes in #14329 for > 48 hours without a single failure on SmartOS.

[2017-07-17 17:41] cpitclaudel commented on #4697
I don't care much either way: I don't use Windows much.  But this issue seems significant, and relatively complex — it's not clear just ignoring it is the right way to proceed.

[2017-07-17 17:53] jasnell commented on #14304
Will look into it! Thank you! :-)

[2017-07-17 18:31] owenallenaz commented on #6078
We are running Node 7.10.0. On average our mean response time is 300ms, we have some responses that vary between 2000 - 5000ms when we are communicating with external services, slow form submissions to legacy infrastructure. We ran a test over the weekend where one set of our processes were moved down to 7.4.0 while the rest remained at 7.10.0. The ones that we moved down to 7.4.0, did not balloon

[2017-07-17 19:03] #14300 closed

[2017-07-17 20:03] bnoordhuis commented on #9621
@jaridmargolin #13619 and #14140 for the cluster module, the inspector saw several upgrades, and there has been discussion on extending the cluster fixes to the child_process module.

(I had a hard time finding back that last issue though.  It's.. somewhere in the bug tracker.)

[2017-07-17 20:09] slancio commented on #13280
Just had the same type of error occur during a webpack build.  MacOS Sierra 10.12.4 here.  Node version 7.4.0.

`11% building modules 3/4 modules 1 active ...frontend/jekyll/sass/pages/index.scssnode(51830,0x70000c1b5000) malloc: *** error for object 0x106081020: pointer being freed was not allocated
*** set a breakpoint in malloc_error_break to debug
abort trap: 6`

[2017-07-17 20:14] ofrobots commented on #9190
The only remaining issue here is v8:5301. Given that the bug doesn't manifest in the default configuration (`--harmony-tailcalls` is needed), I would say that this doesn't necessarily need a backport. I am closing the issue.

[2017-07-17 20:14] #9190 closed

[2017-07-17 20:16] bnoordhuis commented on #12285
@refack Conclusion?  Can this be closed?

[2017-07-17 20:17] bnoordhuis commented on #12870
Consensus seems to be 'not feasible'?  I'll go ahead and close this out then.

[2017-07-17 20:17] #12870 closed

[2017-07-17 20:21] bnoordhuis commented on #14325
Test case?  I think I know what you mean but I'd rather not guess and guess wrong.

[2017-07-17 20:56] watson commented on #12682
I'll not claim to know which, if any, of the 3 suggested solutions are best, but I just wanted to add a few things to the discussion:

I've seen incoming HTTP requests to Node servers that don't have a `Host` header in the wild a few times. If it's been striped by a proxy or if the client haven't provided it in the first place I don't know, but you can't rely on this header.

The 2nd issue is know

[2017-07-17 21:13] #13917 closed

[2017-07-17 21:13] #8377 closed

[2017-07-17 21:33] eugeneo commented on #14325
This is caused by the default inspector port being taken up by the inspector. I can see exactly same behavior when running Node 6.11 with --debug. This issue can be avoided by running Node with port 0 (--inspect=0).

Should there be some special handling for --inspect?

[2017-07-17 22:28] eugeneo commented on #11401
Please open a bug against Chrome DevTools. Node provides the profiling data (as you can see from a table beneath the chart).

[2017-07-17 22:39] igalic commented on #6307
then, the best way forward, as mentioned numerous times in this issue, would be to implement happy eyes in a future version of node.js

[2017-07-17 22:45] sam-github commented on #14115
@refack any idea why the configure script would be dying with `KeyError: 'Debug_x64'` from msvs_emultation.py, line 422? (sorry, I'm trying to figure out how to get text of my remote windows VM, its not going well, so no stack trace yet). Generating ninja build files worked for a while, but no longer. I reopened the cmd shell, trying both the "msbuild command prompt for vs2015" and the "developer

[2017-07-17 22:54] trevnorris commented on #14238
`emitInit()` is for the implementor, not the user, and not all APIs can be changed to allow a custom `trigger_id` to be passed. For example:
[code]
This is missing all the error handling and such for brevity, but the point comes across. This functionality cannot be removed.

Before I continue, I'd like to clarify whether removing these is the actual intent?

[2017-07-17 22:56] eugeneo commented on #11401
Nope, I was wrong - there are issues both on the DevTools and on the Node sides. I am reopening this.

[2017-07-17 23:06] refack commented on #14115
It's a `GYP` bug, when doing cross-compilation (x64 on a x32 host or the reverse). Make sure you have this patch in https://chromium-review.googlesource.com/c/482580/13/pylib/gyp/msvs_emulation.py#315

[2017-07-17 23:06] amellnik commented on #11771
Just checking in after a further two months -- is there any plan to meet the RFC or should package owners plan on passing their own authentication function like auth0 did?

[2017-07-17 23:07] refack commented on #14115
P.S.
* "msbuild command prompt for vs2015" makes sure MSBuild is setup for .NET compilation
* "developer command prompt for vs2015" Makes sure all VS tools are setup

[2017-07-17 23:14] refack commented on #12285
@primeare We're closing this issue as it seems you found a solution. Feel free to reopen if you have new information.

[2017-07-17 23:14] #12285 closed

[2017-07-17 23:15] refack commented on #12285
The snippet that I've given in https://github.com/nodejs/node/issues/12285#issuecomment-292744276 is just pathological, not a real issue.

[2017-07-17 23:26] refack commented on #4697
@cpitclaudel I'm looking at this but the backlog is long and the day is short....

[2017-07-18 00:05] vsemozhetbyt commented on #14253
@silverwind With `varsIgnorePattern` we can miss some unused "internal" variables outside of destructuring, while in destructuring we can simply omit the unused variables:
[code]
But I am OK with this decision if there are some +1.

[2017-07-18 00:14] eugeneo commented on #11401
This is an issue tracking non-Node bug: https://bugs.chromium.org/p/chromium/issues/detail?id=745023

[2017-07-18 00:38] TimothyGu commented on #12682
So what I'm seeing is that what people really want a partial URL parser for is to parse the [origin form](https://tools.ietf.org/html/rfc7230#section-5.3.1) of the [request target](https://tools.ietf.org/html/rfc7230#section-5.3) in an HTTP [request](https://tools.ietf.org/html/rfc7230#section-3.1.1), which is defined as:

[code]

We can introduce a `URLAbsolutePath` class to parse from [path stat

[2017-07-18 00:51] jasnell commented on #12682
hmm... I'm hesitant to introduce a new class. This *could* be approximated in userland fairly easily using something like:

[code]

Then look at the bits of `url` that you care about.

[2017-07-18 00:56] Kovensky commented on #12682
@jasnell that doesn't look very usable on user input 😕

[2017-07-18 00:59] jasnell commented on #12682
A userland module can make it more usable. I'd rather avoid adding a convenience class that is not part of the standard

[2017-07-18 02:03] TimothyGu commented on #14326
And for posterity, stack trace with Node.js v6.11.1 (from https://circleci.com/gh/gotrevor/LogOfUndefined/14):

[code]

[2017-07-18 02:37] gibfahn commented on #6307
I don't see anyone in this thread suggesting implementing happy eyeballs in Node.js

[2017-07-18 03:00] sam-github commented on #14115
@refack thanks a lot!  I'm not trying to cross compile, maybe I should be using `--dest-cpu=x32` instead of `x64`? Its a remote VM, I'll try to figure out its architecture.

[2017-07-18 03:08] gibfahn commented on #14115
Assuming you're using the machine you were using before (mania) then it's 64-bit.

[2017-07-18 03:36] gibfahn commented on #14325
If the `--inspect` isn't passed to the forked process, how is the inspector enabled for it?

[2017-07-18 04:11] kisondu opened #14335 "v8::internal::JSReceiver::DefineOwnProperty exception cause a crash"
* **Version**:           node-v6.10.2
* **Platform**:         CentOS 7.1

my issue details :

-  stack info:
[code]

-  v8/src/objects.cc :
[code]
**The crash reason:**  old_len_desc.value()  is null.
The macro ASSIGN_RETURN_ON_EXCEPTION condition is true in the Object :: GetPropertyWithAccessor
, returns an empty object, why?

[2017-07-18 04:50] TimothyGu commented on #14335
Can you provide a reproducible test case?

[2017-07-18 05:05] Trott commented on #9435
/ping @bnoordhuis Is the reasoning in https://github.com/nodejs/node/issues/8495#issuecomment-246600965 basically an explanation of why the behavior observed here is the way it is, and why it is unlikely to be changed?

@medikoo Does it work in Node.js 8.x if you invoke the script like this?:

[code]

[2017-07-18 05:25] kylelamse commented on #14103
Get the same thing.  Have no idea how to fix it.

[2017-07-18 05:30] TimothyGu opened #14336 "Investigate non-ASCII build file path on POSIX"
* **Version**: master
* **Platform**: macOS
* **Subsystem**: build

At [Code & Learn Shanghai](https://github.com/nodejs/code-and-learn/issues/68) we encountered some issues with non-ASCII (specifically, Chinese) file paths when building. Don't have the Python stack trace, but could someone look into that?

[2017-07-18 05:33] kylelamse opened #14337 "Cannot build on windows"
* **Version**: latest
* **Platform**: Windows 10 x64
* **Subsystem**: build

I am trying to build node on Windows.  I installed the prereqs but am getting an error when running the build script:

[code]

[2017-07-18 05:36] TimothyGu commented on #14328
I'd like to voice an issue I encountered when trying to use `AsyncResource`. Because it is a ES6 class, it is impossible for me to create a class that extends both `AsyncResource` and, say, `EventEmitter`. Is there a way to resolve this issue?

[2017-07-18 05:44] gibfahn commented on #14336
Stack trace:

[code]

[2017-07-18 05:49] vsemozhetbyt commented on #14337
I see some paths are `C:\\Users\\Kyle[...]` and some are `C:\Users\Kyle Lamse[...]` Is it the space in the user name and user profile dir that cause the error?

cc @nodejs/platform-windows, @nodejs/build

[2017-07-18 05:51] vsemozhetbyt commented on #14337
Could you try to build from a folder without a space in the path?

[2017-07-18 05:53] vsemozhetbyt commented on #14337
If the diagnosis is right and we cannot fix it, can we document it in the `BUILDING.md` as a known limitation?

[2017-07-18 06:13] kisondu commented on #14335
@TimothyGu
The probability of 50% appears.   I suspect that isolate usage is problematic，trouble to help me check the following code，thanks

void AsyncDBWrap::PushQuery(const v8::FunctionCallbackInfo<v8::Value>& args)
{
	Isolate* isolate = args.GetIsolate();

    AsyncDBWrap* db_wrap = ObjectWrap::Unwrap<AsyncDBWrap>(args.This());
    if (!db_wrap || !db_wrap->m_db)
    {
		isolate->ThrowException

[2017-07-18 06:18] bnoordhuis commented on #14336
cc @nodejs/v8-inspector

[2017-07-18 06:26] bnoordhuis commented on #9435
I'm not mordicus against changing child_process.fork() to be more like cluster.fork(), symmetry is good, but I do think there is a non-zero change it will break third-party code.

[2017-07-18 06:27] unbornchikken commented on #14325
@bnoordhuis Yeah, sorry about that rushed report, I'm trying to make a small repro case asap. @eugeneo That was my first suspect, but @gibfahn is right, the actual case is that `--inspect` **isnot passed** to the child, while the parent got started with `--inspect` passed. Being explicit with the port number in the argument doesn't help though, the child will crash.

[2017-07-18 06:29] bnoordhuis commented on #14335
Please move this over to https://github.com/nodejs/help/issues.  This bug tracker is for reporting bugs in node.js, not general support.

[2017-07-18 06:29] #14335 closed

[2017-07-18 06:45] AndreasMadsen commented on #14328
@TimothyGu Short answer is that you can use [`newUid`](https://github.com/nodejs/node-eps/blob/master/006-asynchooks-api.md#async_hooksnewid), [`emitInit`](https://github.com/nodejs/node-eps/blob/master/006-asynchooks-api.md#async_hooksemitinitid-type-triggerid-resource), [`emitBefore`](https://github.com/nodejs/node-eps/blob/master/006-asynchooks-api.md#async_hooksemitbeforeid-triggerid), [`emitA

[2017-07-18 06:51] gibfahn commented on #14325
What @eugeneo is saying is that if you pass `0`, then node will pick a free port, so the forked process will pick a different port and not conflict with the parent. Have you tried passing `0`?

Still not sure why the inspector is enabled for the forked process.

[2017-07-18 06:53] TimothyGu commented on #14328
@AndreasMadsen Okay. I would still much prefer a more generic solution though, like so:

[code]

I don't want to derail the original conversation of course, and I'd be happy to move this into a new issue.

[2017-07-18 06:53] unbornchikken commented on #14325
Here is the repro script: https://gist.github.com/unbornchikken/298b6c507cea82a81074b801271f15d6

[code]
will run fine, however

[code]
will result with:

[code]
It seems fork secretly pass an --inspect argument, but I don't belive that is an expected behavior, because it will never work this way, because parent is always holding the default inspect port in this case.

Being explicit with the inpe

[2017-07-18 06:54] AndreasMadsen commented on #14238
Sorry, I wasn't aware of that terminology.

This is what I think people should do:

[code]

[2017-07-18 06:55] trevnorris commented on #14328
`runInAsyncIdScope()` is a bad API. It's should actually be `initTriggerIdScope()` (i.e. it should dictate the `triggerId` passed to `init()`, nothing more). The pre-PR implementation did this, but I must have overlooked the functionality difference along the way. In short, this API shouldn't have existed in the first place.

So, `setInitTriggerId()` and `runInAsyncIdScope()` don't address the sam

[2017-07-18 06:58] AndreasMadsen commented on #14328
@TimothyGu The question you are asking has little to do with this issue, could you open a "help" issue?

[2017-07-18 07:00] seishun commented on #14103
You can fix it locally by removing the offending registry key.

[2017-07-18 07:03] bnoordhuis commented on #14325
There's no secret: child_process.fork() accepts a .execArgv option that defaults to process.execArgv when omitted.

[2017-07-18 07:05] bnoordhuis commented on #11771
@indutny The question was more if you think https://github.com/nodejs/node/issues/11771#issuecomment-285690039 is a proper fix.

[2017-07-18 07:07] seishun commented on #4697
The reason no one has looked into it is probably because the testcase depends on Emacs. If you had provided a testcase that's reproducible without third-party software then more people would be interested in looking into it.

[2017-07-18 07:20] unbornchikken commented on #14325
@bnoordhuis  The problem is that I had no issue of this kind with Node.js 4 `--debug`. The situation is that I've upgraded to Node 8 from version 4 and I can see that many of my unit tests started to get failed when I try to debug 'em. The interesting part is that you are of course right about that execArgv propagation. If I nvm back to node 4 and use `--debug` instead of `--inpect` I get address-

[2017-07-18 07:20] #14325 closed

[2017-07-18 07:22] cpitclaudel commented on #4697
@seishun Yes, of course (this was pointed out earlier in the thread, too).  Unfortunately, I use neither node.js nor Windows, so there's little I can do beyond reporting the issue and pointing to more competent people, as I've done :)

[2017-07-18 07:31] TimothyGu commented on #14336
I can reproduce this on Linux as well. This is because Python 2's `sys.argv` is an array of values of type [`str`](https://docs.python.org/2/library/stdtypes.html#sequence-types-str-unicode-list-tuple-bytearray-buffer-xrange), which is basically an array of 8-bit values, instead of `unicode`. The file system functions see a `str` value and interpret it as ASCII, which fails when in Unix `sys.argv`

[2017-07-18 08:47] mcollina commented on #6078
Extremely slowly, and over a _long_ period of time. So, when old space increase, it might be just for good.

[2017-07-18 08:58] medikoo commented on #14325
Seems related to #9435

[2017-07-18 09:01] medikoo commented on #9621
Seems related to #9435

[2017-07-18 09:07] aseaday opened #14341 "Why not rewrite the test by es6?"
I am ready to write a es6 program when i refer to the test of node repo, It is still es5 style. So why not rewrite it by es6?

[2017-07-18 09:11] bnoordhuis commented on #14341
Plenty of ES6 constructs in the test suite.  Anything specific you had in mind?

[2017-07-18 09:18] aseaday commented on #14341
I read this file
https://github.com/nodejs/node/blob/master/test/internet/test-dns.js

[2017-07-18 10:03] XadillaX commented on #13581
@bnoordhuis Shall I wait for new version of libuv releases, or just patch the bugfix code into Node.js master?

[2017-07-18 10:07] bnoordhuis commented on #14341
That's just one out of ~1600 files, though.

[2017-07-18 10:08] bnoordhuis commented on #13581
Just wait for the upgrade, we never float libuv patches.

[2017-07-18 10:12] refack commented on #14115
Anyway it's a `GYP` bug, so make sure you didn't lose the floating https://github.com/nodejs/node/pull/12632

[2017-07-18 10:27] trevnorris commented on #14238
tl;dr Using `emitBefore()`/`emitAfter()` in place of `setInitTriggerId()` is invalid and doesn't accomplish the same goal.`runInAsyncIdScope()` is incorrect and is a result of a change during the PR process. It should be removed, and the prior implementation (link below) should be reintroduced.

@AndreasMadsen I see now that while making changes based on PR review feedback the function `runInAsync

[2017-07-18 10:28] trevnorris commented on #14328
@TimothyGu Please add the link to the new issue here when it's created.

[2017-07-18 10:54] hashseed commented on #14171
Landed upstream: https://chromium.googlesource.com/v8/v8.git/+/a2ab1353f6708b44d305fdd9fe65a6d29b95c6d6

I would like to wait a day or two to get some Chrome Canary coverage. Afterwards I'll float patches, starting with Node 8.

[2017-07-18 11:09] trevnorris commented on #9612
@Trott This functionality is still possible. I'm willing to open a PR for it if others think it'll be useful.

[2017-07-18 13:09] mhdawson commented on #14256
@zzo38 thanks for the feedback will review and think about how to address.

[2017-07-18 13:12] mhdawson commented on #14256
@refack how did you get the feedback ?   I'm thinking we may want to invite @zzo38r to our weekly N-API meeting to go through the feedback and have a discussion.

One question I have is if they are porting are particular module(s) and these are suggestions based on the port.  It would help in prioritization.

[2017-07-18 13:36] refack commented on #14256
@mhdawson zzo38r has been available only on IRC - http://logs.libuv.org/node-dev/2017-07-08#18:38:01.168

[2017-07-18 13:42] stevenvachon commented on #14020
https://github.com/whatwg/url/pull/336

[2017-07-18 13:42] #14020 closed

[2017-07-18 13:54] billwolckenlmco commented on #10238
@Akpotohwo - did you build winpty and did that make a difference?

[2017-07-18 14:21] jkrems commented on #14228
<details>
<summary>core.9407 (v4.8.4debug)</summary>

[code]

[code]

[code]

</details>

[2017-07-18 14:23] gibfahn commented on #14341
I think this has been answered, @aseaday comment if you have any more questions and I can reopen.

[2017-07-18 14:24] #14341 closed

[2017-07-18 14:25] refack commented on #13937
Since this thread seems to converge towards "`semver-major` for the foreseeable future", I would like to jackknife it, with a semi-orthogonal idea:
For the duration of the development phase of v9.x, all `Error` message changes, and `internal/Error` changes (i.e. all PRs marked with the `Errors` tag) are deemed `dont-land-on-*` but `semver-patch` (precluding the need for two CTC sign offs).
/cc @no

[2017-07-18 14:27] jkrems commented on #14228
<details>
<summary>core.9893 (v4.8.4debug)</summary>

[code]

[code]

[code]

</details>

[2017-07-18 14:34] MylesBorins commented on #13729
I'm closing this as a dupe as we have a handful of issues already tracking this

Comms plan: https://github.com/nodejs/CTC/issues/155
Upgrade PR: https://github.com/nodejs/node/pull/14004
V8 6.1 -> 6.0 ABI: https://github.com/nodejs/node/issues/14220

If you think this meta issue is still useful please feel free to reopen

[2017-07-18 14:34] #13729 closed

[2017-07-18 14:49] danicoolpak17 commented on #3431
@buoyantair can you tell me what exactly is it saying or post a picture of it.
Are you above is not working and you followed the steps.

[2017-07-18 14:51] jkrems commented on #14228
Added some info extracted from debug build core dumps. Let me know if you'd want me to look anything else in there. I took some time getting a working custom build into our infrastructure so I'm only ~90% sure it will perfectly reproduce the issue (e.g. it links against different c++ runtime library versions). But the stack looks fairly familiar (`ProcessWeakCollections`) so I'd say that's a good

[2017-07-18 15:00] silenceisgolden commented on #11401
Thanks for the update @eugeneo!

[2017-07-18 15:14] gibfahn commented on #13937
I think having each change to be individually approved, with CTC and CitGM runs etc is a good thing. Even if we do think error messages are okay in general, we should still be conservative about which ones we accept (and some may be more breaking than others).

Also marking semver-majors as patches is making an exception to a rule we're normally pretty strict on, and also puts us at risk of accide

[2017-07-18 15:20] refack commented on #13729
Turns out I used it way less then expected, so closed is right. (and anyway could still be used for tracking without causing confusion).

[2017-07-18 15:32] refack commented on #13937
I agree it's a trade-off ⚖️
* We could agree to keep marking them as `semver-major` but preclude 2 CTC signoffs on `semver-major` + `errors`.
* labeling with `semver-major` or `errors` is also human-error-sensitive
* An argument I raised before; if a PR is dependant on a `semver-major` PR, what does it make it? even if it's `patch` by itself, it shouldn't/couldn't land in a minor release. On the o

[2017-07-18 15:44] kylelamse commented on #14337
I am trying.  If this is indeed the case I will submit a PR to update BUILDING.md

[2017-07-18 16:02] jmshinn commented on #11855
@bnoordhuis Would it not then make sense to allow writers of such problematic tools to *reduce* the thread count to equal the core count, rather than force most people, working on simpler things, to understand they can *increase* the core count to some unstudied number?

[2017-07-18 16:59] refack commented on #14033
@aqrln ping
https://ci.nodejs.org/job/node-test-commit-freebsd/10428/nodes=freebsd10-64
[code]

[2017-07-18 18:24] amellnik commented on #11771
Looking at this further, this actually affects a significant number of packages, and I would recommend that it be treated as a bug.  @bnoordhuis -- want to submit your fix as a pull request?

[2017-07-18 18:55] programmer5000-com opened #14352 "Cluster Documentation: Missing '"
[In the docs for clusters](https://nodejs.org/api/cluster.html#cluster_event_message), there is a missing `'`. It says:

It should say:

That's it.

[2017-07-18 19:02] MylesBorins commented on #14326
So I just checked and this fails all the way back to Node v6.0.0, leaving me to believe that this is likely a problem with V8

/cc @nodejs/v8

[2017-07-18 19:05] MylesBorins commented on #14228
@jkrems would you be able to bisect by testing some of the other Semver-Minor releases and see if we can narrow this down a bit

[2017-07-18 19:13] MylesBorins commented on #13597
I'm seeing this rear it's head in v6.x now

[code]

Should we add to known flakes?

[2017-07-18 20:24] jkrems commented on #14228
@MylesBorins Will definitely try. The problem is mostly that I don't have good/fast test cases. My only way to reproduce right now is "roll out to canary hosts, wait hours, see what happens". Which is rather time consuming... :D

[2017-07-18 20:46] winksaville commented on #14220
I was asked by @vsemozhetbyt to provide a few details about a performance difference between using ES6 classes vs ES5 protoyting. I created a simple Neural Net application in Typescript and I found that when requesting TS to generate ES5 code the performance was 6x better than when requesting TS to generate ES6 code. See [Javascript ES6 class is slower than using ES5 prototype](https://groups.goog

[2017-07-18 21:19] still-dreaming-1 commented on #8792
In my opinion this feature request represents the forward progress of the entire programming industry. REPLs are important enough, and node is important enough that not having any intention to add this feature seems like a really bad idea to me. It almost makes the REPL not even a REPL if it won't even print the value of a variable after assigning it to the the value returned by a function.

[2017-07-18 22:59] refack commented on #13597
/cc @nodejs/platform-freebsd @nodejs/streams

[2017-07-18 23:10] ravikagit opened #14357 "Fatal error in api.cc, line 1200 Check failed: !value_obj->IsJSReceiver() || value_obj->IsTemplateInfo()."
I am running the nodejs application. this is a dashboard using node-dashing-js, when I run dashing-js start, and when I browse it, it throws this error in the console.

Detailed log here:

[code]

[2017-07-18 23:22] jasongin commented on #14256
I've noticed several people are confused about this. While we have some mention in the documentation, it is obviously not clear enough or prominent enough.

Yes, we discussed this at the N-API WG meeting just last week. Better documentation and examples are definitely needed for async.

Yes it allows any kind of value, though AFAIK it's bad practice to throw non-`Error` values.

[`It is implemente

[2017-07-18 23:24] gibfahn commented on #11855
@bnoordhuis would it be possible to dynamically scale the thread count without incurring excessive overhead? I'm guessing you could be quite conservative and only change the number when you start to run into heavy performance problems.

I remember @sam-github saying that the node event loop time was a pretty good indicator of how your app was performing, what would the equivalent be for this?

I g

[2017-07-18 23:36] mscdex commented on #14357
Please do not remove the questions from the issue template, we ask them for a reason. In this case, they are particularly important.

[2017-07-19 00:17] gibfahn commented on #8792
I think I'd be mildly -1 on changing this. It's useful for learners (i.e. everyone) to understand what each line returns, and that's what the REPL shows you. You can do `let myVar2 = myVar = 10`, but you can't do `let myVar2 = let myVar = 10`, and if you start adding exceptions to print things that aren't returned then you lose that. You can just type `myVar` to see what was assigned.

[code]

I g

[2017-07-19 00:38] TimothyGu commented on #8792
One has to understand that this REPL behavior is implemented according to the ECMAScript spec. The [spec](https://tc39.github.io/ecma262/#sec-variable-statement-runtime-semantics-evaluation) says the following about evaluating a `var a = 0;` statement

where "empty" is [defined](https://tc39.github.io/ecma262/#sec-ecmascript-data-types-and-values) as:

So `undefined` seems to be appropriate here.

[2017-07-19 01:25] fwp728 commented on #3431
Hello,

I had found the cause. My OS is Win7 . So anyone who'd like to install the Nodejs must be given the administrator permission.

|
方文平
fangwenping728@163.com
公司名称：杭州戬威机电科技有限公司
地址：杭州市余杭区荆长路768#顺帆信息产业园B区6#楼405室
电话：15336566035
手机：15858222483
|

扫描该二维码，可以将电子名片迅速保存到手机 使用帮助

|

At 2017-07-18 22:50:25, "Raja" <notifications@github.com> wrote:

@buoyantair can you tell me what exactly is it saying o

[2017-07-19 01:51] kylelamse commented on #14337
@vsemozhetbyt I am trying to figure out how to fix the root of the issue.  I have tracked it down.  It only applies to Windows users that use `msbuild` to build it.  When opening the `node.sln` in visual studio and running the build from there, `tools/icu/icudata` fails when there is a space in the path.    One solution to this is changing your home directory to have no spaces, but in order to do

[2017-07-19 01:55] kylelamse commented on #14337
Another thing to note: running msbuild in the console runs the python file `icutrim.py` and tries to make a temp directory in these lines (line 93/94)

[code]

I was trying to find a way to see where the options and path name is set, but I'm struggling to trace back where all that gets propagated.

[2017-07-19 02:47] Trott commented on #13937
I don't agree with that. Experimental features are ones end users can opt into. There is no way for end users to opt in, or even opt out, of this in a given release.

Since the the 2-CTC signoff thing is come up a few times:

There's 22 people on the CTC. If it's difficult to get 2 of them to review a change (and I'm not saying there is; this is hypothetical), then that suggests to me that there's

[2017-07-19 02:58] lance commented on #14352
Landed in https://github.com/nodejs/node/commit/c5521fa6176377e0be958621102cad29be39a290

[2017-07-19 02:58] #14352 closed

[2017-07-19 03:28] refack commented on #13937
Ack. Wrong term. "Unstable" would have been a better term. With the old Errors fitting the description of "Deprecated" (even though they were not declared as such).

I'm not suggesting that.
I thought I saw an opportunity to streamline things, but it's turns out to be too subtle of an issue, and I can't find the way to correctly convey my thoughts...

[2017-07-19 03:30] MylesBorins commented on #13937
It seems to me that the biggest issue is that not all error codes have transitioned to the new system. The last thing we need is downstream developers having to check for `error.code` and not having an obvious contract. It should be a goal to make error message changes Semver Patch / Semver Minor but it feels uneasy doing so before all error messages are compatible.

What % of the apis do we have

[2017-07-19 03:37] refack commented on #13937
https://github.com/nodejs/node/issues/11273 tracks the progress of the migration. It's status is about 10 days behind what actually landed in `master`.
IMHO for this task to be complete we need to finish the migration, ___and___ audit/refactor the final list of error codes, messages, and places they are used.

[2017-07-19 03:53] jasnell commented on #13937
I was hoping for the transition to go much faster but went a couple months without active participation from ctc members until @fhinkel and @mhdawson jumped in to help. It's tedious work that requires patience, but the key difficulty has been on getting enough ctc signoff to land.

[2017-07-19 04:06] ljharb commented on #13937
Something that might help users make the transition is a standalone npm package, that can take an Error instance from node core, and returns an error code.

This package could be used inside node core to produce the error code (it could map both ways, from message to code, code to message), and would be able to contain error messages *per node version* - meaning, I'd be able to use it to depend on

[2017-07-19 04:38] vsemozhetbyt commented on #14337
@kylelamse Yes, I was told several times that a space in the path to building directory makes the building fail. Fortunately, you can place the folder with source anywhere outside your home directory, where the path has no spaces.

cc @nodejs/build re data mentioned in the previous two comments.

[2017-07-19 05:44] Trott commented on #13597
Looks like it's the usual thing with FreeBSD flakes in CI, which is a race condition triggered by load.

If you shorten the hardcoded 250ms timeout, you can trigger the race faster/easier.

Source of the problem seems to be that the connection callback can fire after 250ms on a loaded machine.

PR coming shortly to fix this...

[2017-07-19 06:03] Trott commented on #13597
Proposed fix in https://github.com/nodejs/node/pull/14361

[2017-07-19 06:07] #12373 closed

[2017-07-19 06:57] pmq20 commented on #11903
Might be relevant: https://github.com/pmq20/node-compiler

[2017-07-19 07:19] mcollina commented on #13937
@ljharb having a package to help in tests would be handy. However, supporting multiple versions of Node.js would quickly become a mess.

As a side note, I'm currently -1 on any changes to error messages in any streams API, because we currently have no solution on how to export them to `readable-stream`. A change has already landed, but we have not reverted it yet on the assumption that we could ge

[2017-07-19 07:38] ljharb commented on #13937
@mcollina i'm not sure why it would be a mess; it'd be a static nonchanging map for any non-LTS versions, and LTS versions would be relatively minor to maintain. I'd be happy to volunteer to maintain it going forward if anyone's afraid of keeping things working on older nodes; it's not actually that difficult in practice, in my experience.

[2017-07-19 07:39] gibfahn commented on #13937
@ljharb that sounds (to me) like a really really good idea.

We know people will be dealing with this transition for a long time (at the very least until Node 8 goes EoL in Dec 2019, and for people who still support Node 0.6 today, possibly indefinitely). Spinning out the compatibility layer into a separate module that we still maintain allows us to offer users a simple, documented way to just "re

[2017-07-19 08:22] mcollina commented on #13937
My experience maintaining a module across a wide range of Node.js versions is that it gets extremely complicated over time as core move _faster_ than the community. Look at the rig we have to maintain to make `readable-stream` work from Node 0.6+ (https://github.com/nodejs/readable-stream/tree/master/build). It is a lot of work, and everyone just expect it to "just work" with 50 millions of monthl

[2017-07-19 08:38] mcollina commented on #3208
Fixed in 0e5283b7eda5b22d73c21620a02ac5337f9de9f1.

[2017-07-19 08:38] #3208 closed

[2017-07-19 08:42] mscdex opened #14362 "doc: typo in stream.md"
* **Version**: master
* **Platform**: n/a
* **Subsystem**: doc

There is a typo in doc/api/stream.md in the [`stream._transform()`](https://github.com/nodejs/node/blob/0e5283b7eda5b22d73c21620a02ac5337f9de9f1/doc/api/stream.md#transform_transformchunk-encoding-callback) description: 'asychronously' should be 'asynchronously'.

[2017-07-19 08:57] bnoordhuis commented on #14357
Upgrade your dependencies.  node-sass is using an old version of nan - that issue was fixed a year ago.

Closing, not a node bug.  Next time please fill out the issue template.

[2017-07-19 08:57] #14357 closed

[2017-07-19 09:49] bnoordhuis commented on #11855
Libuv could use the work queue size or the average flight time of a work request as an input signal but that doesn't distinguish between threads waiting for I/O and threads doing computation.

For I/O-bound work loads `num_threads > num_cpus` is usually acceptable, for CPU-bound loads it's not.  Computing bitcoin hashes in 1,000-fold parallel on a machine that only has 8 cores is not efficient.

L

[2017-07-19 09:54] jeisinger commented on #11855
note that https://github.com/nodejs/node/pull/14001 switches v8 to libuv's threadpool

/cc @matthewloring

[2017-07-19 10:01] 4miners commented on #8569
This issue affects also `hex` encoding, and documentation is not clear about how it will behave in such cases.
[code]

[2017-07-19 10:09] ronkorving commented on #3208
@mcollina Appreciate the documentation update. But it doesn't quite answer the question I had. Maybe my phrasing was simply unclear. So let me be more specific:

During every transform, I write a 10 byte buffer. The contents of that buffer will be different each time. Is it safe to reuse the same 10 byte Buffer instance each transform, or will the 2nd transform change the contents of the 1st trans

[2017-07-19 10:13] mcollina commented on #3208
You cannot reuse buffers in any part of the streams API.

[2017-07-19 10:31] TimothyGu commented on #11855
@bnoordhuis Is it currently possible to provide libuv with a hint to limit CPU-heavy threads, while allowing more I/O-heavy threads? V8 has a `ExpectedRuntime` enum we could maybe hook onto.

[2017-07-19 11:27] bnoordhuis commented on #11855
@TimothyGu Not at the moment.

[2017-07-19 11:39] jeisinger commented on #11855
That enum is not used by v8. We only added it because chrome used to use Windows worker pool reflecting WT_EXECUTELONGFUNCTION

[2017-07-19 11:53] bnoordhuis commented on #14326
With a debug build:
[code]
Stack trace in gdb:
[code]

[2017-07-19 12:01] noviluni commented on #14362
I just did a PR

[2017-07-19 12:18] refack commented on #14337
Ref: https://github.com/nodejs/node/issues/12084

[2017-07-19 12:23] refack commented on #14337
Patching `icutrim.py` needs to happen upstream at http://site.icu-project.org/, but I was considering pre-trimming and committing the tool's output into our tree so it won't have to run on each build, just when ICU is updated, and vendored in.
Ref: https://github.com/nodejs/node/pull/12218

[2017-07-19 12:36] refack commented on #13937
Not so ASAP since we didn't finish mapping all the errors 😞. But otherwise sounds like a great idea.

[2017-07-19 12:37] schitransh opened #14366 "How to verfiy nodejs TLS connection is FIPS 140-2 complaint or not"
Hi

i have built node.js with openSSL Fips 2.0 (openssl-fips-2.0.16).

node.js version : v6.11.1

[root@localhost bin]# ./node -p "process.versions.openssl"
 1.0.2k-fips

I am able to use fips enable crypto algorithm (SHA256) and getting failure by using MD5.
 so i am asuming node.js binary has successfully compiled with fips 2.0.

But i want to verfiy TLS connection has made from node.js applicat

[2017-07-19 12:50] benjamingr commented on #6802
The possibility kind of sways me from warning to fix this. Just like we don't guard against people modifying `process` or anything else inside Node - I don't think the REPL should be special - and while ES scoping rules are quirky here they _are_ ES scoping rules.

[2017-07-19 13:09] refack commented on #13597
Should we start a "raw numbers to `common.platformTimeout`" tracking issue?

[2017-07-19 13:31] hashseed commented on #13877
@bmeck
I'm looking into snapshot support for TypedArrays at this point. In V8 we differ between those with on-heap and off-heap backing store.

On-heap ones are garbage collected like any other object, and are used for small TypedArrays. I assume that Node.js doesn't use them because they can be relocated.

Off-heap ones are allocated on the C++ heap, and can be either internal or external. See `v

[2017-07-19 13:32] Trott commented on #11768
More FreeBSD:

https://ci.nodejs.org/job/node-test-commit-freebsd/10453/nodes=freebsd10-64/console

[code]

[2017-07-19 13:33] refack commented on #14171
# Offtopic (but apropo)
![xkcd](https://imgs.xkcd.com/comics/particle_properties.png)
Each particle also has a password which allows its properties to be changed, but the cosmic censorship hypothesis suggests we can never observe the password itself—only its secure hash.

[2017-07-19 13:44] bmeck commented on #13877
@hashseed https://github.com/nodejs/node/blob/aa496f4beef402b1d666d2f0dd26283aa22b5402/src/node_buffer.cc#L391 is the only thing I think that might be a problem. However, I don't think Node itself ever changes the underlying buffer once created. Addons might, but if throwing an error on encountering them is sane that might be a good solution.

[2017-07-19 13:59] bnoordhuis commented on #14366
Can you post your question to https://github.com/nodejs/help/issues?  This issue tracker is strictly for reporting bugs.  Thanks.

[2017-07-19 13:59] #14366 closed

[2017-07-19 14:07] TimothyGu opened #14367 "Using `v8::Private::ForApi` for N-API object wrapping"
* **Version**: master
* **Platform**: all
* **Subsystem**: n-api

Currently, N-API's object wrapping uses `v8::External` with a `const char*` as a brand check. However, `v8::External`s are [known to be inefficient](https://github.com/nodejs/node/issues/13503), and the fact that one such `External` is created [*for every wrapped object*](https://github.com/nodejs/node/blob/aa496f4beef402b1d666d2f0d

[2017-07-19 14:23] aqrln commented on #14033
@refack oops, sorry, I forgot about it. Will look into it in a few hours, it's time to return to GitHub after some period of inactivity, I guess :D

[2017-07-19 14:42] tutman96 opened #14368 "HTTP: Cannot read property 'Symbol(asyncId)' of null"
* **Version**: 8.0.0 - latest
* **Platform**: Darwin 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64
* **Subsystem**: http

It appears like the addition of async_hooks API into the http module (commit 4a7233c1788334c171d2280026333242df7d37af) causes an edge case to occur with 'write after end'. Here is a stack trace:
[code]
This is an

[2017-07-19 15:53] Flame2057 commented on #3411
I don't understand why this is closed.. This is still an issue in Node v8.x

[2017-07-19 16:31] Trott commented on #13937
At the CTC meeting today, consensus was these message changes are still `semver-major` for the time being.

The issue of difficulty getting two CTC approvals came up and there was some discussion around how we might address that. /cc @MylesBorins @jasnell

[2017-07-19 16:31] #13937 closed

[2017-07-19 16:32] refack commented on #13937
CTC (and this thread)'s decision:
Error message change are still `semver-major`.
Will be reviseted after the completion of migration and the release of v9

[2017-07-19 16:33] refack commented on #13937
If landing time will be an issue I'll open a new thread.

[2017-07-19 16:59] natorion commented on #14220
An update: Items under "Fixed on V8 upstream" are done. I suppose the other relevant items need to be floated in node.

[2017-07-19 17:10] ScottFreeCode opened #14371 "module.paths is undocumented"
* **Version**: 8.1.4
* **Platform**: nodejs.org documentation
* **Subsystem**: `module`

Node exposes the apparently non-private variable `module.paths`, but there is no documentation about it on nodejs.org, not even to say that it is really private despite the naming convention (I don't know if this is the case).

[2017-07-19 17:14] AndreasMadsen commented on #14238
@trevnorris I have spent a day, slept on it, and spend another day trying to find a polite way to respond to what you wrote. I don't think I have succeeded, most of the polite drafts I have made have been imprecise.

The truth is, I find your mentality about this discussion insincere. There are two things that make me think this:

This kind of close mindedness makes it impossible to have a discuss

[2017-07-19 17:20] ChALkeR commented on #13937
Once we declare that policy (which we in fact did here), changing that policy itself would be a semver-major imo.

[2017-07-19 17:27] ChALkeR commented on #2835
@Mithgol #13644 seems to solve this in a nicer way. Does it cover the usecases which you have in mind for this?

[2017-07-19 17:33] guylil commented on #12180
Hi,

I am pretty new to contributing here,
Where should I put the test?
Thanks!

[2017-07-19 17:36] mscdex commented on #14368
/cc @nodejs/async_hooks

[2017-07-19 17:40] ljharb commented on #13937
Was there any discussion of my suggestion for a cross-node core-included error code package?

[2017-07-19 17:51] AndreasMadsen commented on #14368
Thanks for the issue report. This appears to be already have been fixed (at least when I try). Can you try the [nightly build](https://nodejs.org/download/nightly/v9.0.0-nightly20170718f406a7ebae/) and confirm?

[2017-07-19 17:54] Trott commented on #13937
@ljharb No. TBH I encouraged us to make a decision on whether these are breaking changes, and to discuss other issues (2-CTC approval issues, how to get the new errors implemented faster, etc.) in GitHub issues.

[2017-07-19 17:59] tutman96 commented on #14368
Sure, just tried it. Here is the log output (called http://localhost:9001 and then http://localhost:9000):

[code]

[2017-07-19 18:10] AndreasMadsen commented on #14368
Ah, okay. I can reproduce this, thanks :)

[2017-07-19 18:19] AndreasMadsen commented on #14368
@refack I'm not going to have time to debug/fix this, could you look at it.

I think `msg.socket === null ? null : msg.socket[async_id_symbol]` is a resonable solution. That being said, having `msg.socket[async_id_symbol]` after the trigger is destroyed is kinda odd to me, so there might be something more to it.

[2017-07-19 18:27] joyeecheung commented on #13937
@ljharb I believe @jasnell talked about making the internal error system an npm package that readable-stream can depend on?

[2017-07-19 18:38] gersaint opened #14374 "."
* **Version**:
* **Platform**:
* **Subsystem**:

[2017-07-19 18:39] #14374 closed

[2017-07-19 18:45] refack commented on #13937
AFAICT That's orthogonal. Maybe if it's up and running and adopted, we could trigger a reevaluation of the severity policy.

P.S. I have been thinking of way to assemble a map of error messages to error code, efficiently, and across release line... Not so trivial 🤔

[2017-07-19 19:23] refack commented on #14368
Will do

[2017-07-19 20:16] refack commented on #14206
@jBarz any news?

[2017-07-19 20:29] TylerBrock commented on #8871
Does anyone know which versions of node do not have this bug? We are seeing this on latest Node8 but also on all versions of 6 that I sampled.

I run the code snippet above in node invoked with --expose-gc and call `global.gc()` to free the memory but 3gb is still resident no matter what I do. This is killing us in production as we have to restart our containers every couple of hours.

[2017-07-19 20:48] #8797 closed

[2017-07-19 20:58] refack commented on #12234
Closed by https://github.com/nodejs/node/pull/12313

[2017-07-19 20:58] #12234 closed

[2017-07-19 21:32] gabrielschulhof commented on #14367
@TimothyGu

I'm thinking that we can use this mechanism to attach a hidden property to `isolate->GetCurrentContext()->Global()` such that its value is an `External` containing the `napi_env`. That way we could achieve `napi_env` sharing across modules without the need for a `std::map` and a `node::Mutex`.

How kosher is it to attach such hidden properties to the global object?

[2017-07-19 21:50] #11936 closed

[2017-07-19 22:25] addaleax commented on #14367
@gabrielschulhof I’m not sure how that relates to the issue above, but in any case: That sounds fine as long as you’re aware that Node code can run in different contexts with different globals.

[2017-07-19 22:34] bnoordhuis commented on #14326
I tracked this down to a TurboFan issue.  `node --nonative_context_specialization` side-steps it, as does the patch below.

The function is sent to TurboFan because Crankshaft doesn't deal with computed properties but when native context specialization is enabled (the default), TF computes wrong deoptimization data.  The function has deoptimization data, just not for that particular safepoint.

Lo

[2017-07-19 22:47] bnoordhuis commented on #8871
@TylerBrock Did you read through this issue and the linked issues?  If you did, then you already know the answer.

[2017-07-19 22:59] Fishrock123 opened #14378 "A way to use custom ssh keys in releases.sh"
For 8.2.0 I had to edit in `-i "my_rsa"` to the `ssh` and `scp` lines due to a snafu with macOS ssh keys in which I am unsure if I want to override my `id_rsa`.

It'd be nice to be able to supply a flag for this to `tools/release.sh` but idk if I am able to do so. :/

[2017-07-19 23:06] bnoordhuis commented on #11855
@jorangreef We've been discussing such schemes in libuv since the thread pool was first added.  You can find at least two attempts in my fork, maybe more.

Both attempts stranded on not performing significantly better most of the time and significantly worse some of the time. :-/

[2017-07-19 23:08] gabrielschulhof commented on #14367
@addaleax are modules loaded per-context or per-isolate? That is, if there is one isolate with two different contexts, can the same module instance be used in both?

The relation to this issue is that ideally, we'd type-check via `FunctionTemplate::HasInstance()` and we'd store `FunctionTemplate`s in the `napi_env` for the various object instances we need to create. We currently store `ObjectTempl

[2017-07-19 23:12] gabrielschulhof commented on #14367
Aha!
[code]

[2017-07-19 23:20] refack commented on #13539
@adiulici node@8.2.0 was just released some relevant bug fixes are in it. If you are comfortable you could try it.

[2017-07-19 23:48] jasongin opened #14379 "n-api: Potential N-API performance optimizations"
I analyzed the performance of a native module that was converted to N-API using a profiling tool, and compared the results to the original module that used V8 APIs. While overall the overhead of N-API is fairly minimal already, I did manage to identify 3 potential optimizations. Each of these can substantially reduce the impact of N-API in certain scenarios. I have tested an early version of these

[2017-07-20 01:43] TimothyGu commented on #14379
1) SGTM.

2) Indeed, `Isolate::GetCurrentContext()` is not defined inline in the header file, so it's not possible for the compiler to optimize it out w/o LTO.

3) > Pre-allocate memory for some small fixed number of handle scopes (maybe only 1?), attached to the napi_env.

   This seems to be the way to go. A handle scope isn't that big memory-wise anyway so a couple more won't hurt either. Thoug

[2017-07-20 01:44] TylerBrock commented on #8871
I did but I'm still not sure so I apologize if I missed something.

People have suggested it could be new zlib, new v8, or something in crypto (possibly related to zlib) but going back to versions of node having older zlib and v8 (checked via process.versions) yielded similar results.

Would you mind summarizing where we are at?

[2017-07-20 01:50] TimothyGu commented on #12180
@guylil Actually sorry, this issue was already fixed in #12202 but we forgot to close it. Doing that now.

[2017-07-20 01:52] not-an-aardvark commented on #12180
We decided to leave it open because the fix didn't have any tests. https://github.com/nodejs/node/pull/12202#issuecomment-294244763

[2017-07-20 01:53] TimothyGu commented on #8871
@TylerBrock

From https://github.com/nodejs/node/issues/8871#issuecomment-250915913:

In other words, this is not a Node.js, or zlib, or V8 issue, but rather an issue in the system memory allocator.

[2017-07-20 01:56] TimothyGu commented on #12180
@not-an-aardvark Ah oops.

[2017-07-20 03:37] TimothyGu commented on #14367
@gabrielschulhof Well, can't comment about the process of dynamic loading from different contexts, but `v8::Private::ForApi()` is isolate-global so the `v8::Private` you get in one context is the exact same as the `v8::Private` you get from another context.

About reusing `napi_env` for the purpose of using `FunctionTemplate::HasInstance`, beware that IIRC `HasInstance` doesn't check prototypes of

[2017-07-20 04:39] jasongin commented on #14379
N-API already uses [a wrapper](https://github.com/nodejs/node/blob/master/src/node_api.cc#L164) around `v8::HandleScope` to enable it to be allocated on the heap. So I think we can just call `operator new(size_t)` on that wrapper class, and that will construct the `HandleScope` member.

[2017-07-20 06:02] Trott commented on #11768
I can replicate this by reducing the timeout on line 160 to 1ms and running the test under load. Confirms what seems little obvious, which is that the test is still race-y.

[2017-07-20 06:03] Trott commented on #11768
Since being re-opened, the error has always been in line 155 which is not where the problem was before, which suggests that this is either a new problem or a problem only revealed by fixing the previous problem.

[2017-07-20 06:13] Trott commented on #11768
Fixing coming momentarily...

[2017-07-20 06:22] Trott commented on #11768
Proposed fix in https://github.com/nodejs/node/pull/14380

[2017-07-20 06:30] gabrielschulhof commented on #14367
@addaleax under what circumstances does Node create multiple contexts and run JS code in them?

[2017-07-20 06:32] crespowang opened #14381 "8.2.0 crashes test"
* **Version**: 8.2.0
* **Platform**: macOS 10.12.5 (16F73) Kernel Version: Darwin 16.6.0
* **Subsystem**:

After upgrading node to v8.2.0 from v7, some of my tests are failing
[code]
I see the discussion here https://github.com/nodejs/node/issues/13325 and https://github.com/nodejs/node/issues/13548, not sure if they are related.

[2017-07-20 06:39] AndreasMadsen commented on #14381
Fascinating, we rolled out a lot of fixes for this issue in 8.2.0. Did you get a core dump, that you can share with us?

If you don't like to share it, could you run the following and show us the output:

[code]

_I hope I got that correct, see https://github.com/nodejs/llnode for more info._

[2017-07-20 06:40] gibfahn commented on #6802
Maybe the repl could just print a warning if you change any of the built-in objects, e.g.:

We could also in theory have an `Are you sure you want to do this? Enter/Ctrl+C` prompt, but I think I'd be -1 on that, it'd be a pain, and reopening the repl isn't exactly a big problem.

I'm assuming the issue is people not realising that `process` is a built-in object, so printing a warning should be eno

[2017-07-20 06:41] AndreasMadsen commented on #14381
/cc @nodejs/async_hooks

[2017-07-20 06:47] poojas2288 opened #14383 "Net API - Connect TCP socket via proxy"
I need to create a tcp socket connection to a server via internal proxy.
If I directly connect to the server, I get connection refused error. The only way to connect is via proxy, using tunneling.
Is there a way to accomplish this ?

I have gone through the documentation : https://nodejs.org/api/net.html
But did'nt  find any options for proxy connections.

[2017-07-20 06:52] targos opened #14384 "Should we continue to support FreeBSD?"
I'm opening this because at the moment, the [update to V8 6.0](https://github.com/nodejs/node/issues/14004) is blocked by FreeBSD 10 that cannot compile V8 because of a bug in Clang.
I opened an issue about that on [May 9](https://github.com/nodejs/node-v8/issues/1) and a suggestion was to upgrade Clang, so I opened another issue on the build repo for that on [May 16](https://github.com/nodejs/bui

[2017-07-20 06:55] BrighTide commented on #1788
For anyone googling, couldn't make the process exit with process.exit() when debugger was attached, but process.kill(process.pid) worked

[2017-07-20 07:21] mscdex commented on #14383
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

[2017-07-20 07:21] #14383 closed

[2017-07-20 07:25] poojas2288 commented on #14383
Ok, Should I create there ? You can close this one from here.

[2017-07-20 07:27] bzoz commented on #14337
I'm gonna close this, since it is a duplicate of https://github.com/nodejs/node/issues/12084

[2017-07-20 07:27] #14337 closed

[2017-07-20 07:29] mcollina commented on #14384
Great work @targos, we all know you tried hard on this. In the last few months I have heard only problems on how hard is to support FreeBSD 10.

We have two options: do not ship V8 6.0 in Node 8, and be at the risk of missing updates from the V8 team, or do not provide Node 8 in FreeBSD 10 for the time being.

Considering the overall community interests, I think we should go ahead and land V8 6.0,

[2017-07-20 07:52] guylil commented on #12180
Hi,

Thanks for the comments,

I am a member of a meetup group called #goodneesSquad that meets and
contributes to open source projects

I am new to node, we did understand the issue but we couldn't find out
where to put the test...

So, just a path for the js file will be great,

Many thanks!

On Jul 20, 2017 4:57 AM, "Timothy Gu" <notifications@github.com> wrote:

@not-an-aardvark <https://githu

[2017-07-20 08:03] crespowang commented on #14381
I have two files under /cores
[code]
and
[code]

[2017-07-20 08:16] gibfahn commented on #12180
So if the test can be run in parallel (if you're not sure, it probably can) then it should go into [`test/parallel/`](https://github.com/nodejs/node/tree/master/test/parallel).

First thing to read/follow is [CONTRIBUTING.md](https://github.com/nodejs/node/blob/master/CONTRIBUTING.md), there's also a neat [guide to writing tests](https://github.com/nodejs/node/blob/master/doc/guides/writing-tests.

[2017-07-20 08:20] guylil commented on #12180
Thank you very much!

On Jul 20, 2017 11:17 AM, "Gibson Fahnestock" <notifications@github.com>
wrote:

[2017-07-20 08:23] AndreasMadsen commented on #14381
Thanks, that is a huge help. If the issue is easily reproducible, could you add the following code such it runs before anything else? That should output a stack trace that I would like to see.

[code]

_For @nodejs/async_hooks: This is fascinating, it appears that the `triggerAsyncId` is undefined when calling the internal `process.nextTick`. I don't know why that would happen._

[2017-07-20 09:19] mcollina commented on #14381
Confirmed, same here:

[code]

The error comes from https://www.npmjs.com/package/shot, just running `npm test` can help reproduce that. That library uses some internals.

[2017-07-20 09:20] mcollina commented on #14381
@AndreasMadsen this is the stacktrace you are looking for:

[code]

[2017-07-20 09:28] AndreasMadsen commented on #14381
@mcollina there are so many different causes for this error, it is rarely the same issue. Could you open a new issue and also show the backtrace for the coredump.

[2017-07-20 09:36] hashseed commented on #14171
Finished ports to [master](https://github.com/nodejs/node/issues/14345) and [Node 6](https://github.com/nodejs/node/issues/14385).

I suggest to not port this to Node 4. It uses a two year old V8, and aside from many files having moved around, V8's heap, serializer, and hash tables have also changed considerably since then.

[2017-07-20 09:39] njl07 commented on #14381
@AndreasMadsen same problem for me

[code]

Node installed with `Homebrew` today.

[2017-07-20 09:49] mcollina opened #14386 "8.2.0 crashes test when using shot"
* **Version**: 8.2.0
* **Platform**: Mac OS X
* **Subsystem**: http, async_hooks

[code]

Stacktrace as described by in https://github.com/nodejs/node/issues/14381#issuecomment-316633020:

[code]

lldb output:

[code]

Let me know if you need anything more.

cc @nodejs/async_hooks

[2017-07-20 09:58] addaleax commented on #14367
@gabrielschulhof It’s programatically available in the built-in `vm` module, anybody can create new contexts as they wish

[2017-07-20 10:17] AndreasMadsen commented on #14386
Looks like it didn't resolve the JS stack correctly. I'm suspecting that

[code]

contains the critical information.

[2017-07-20 10:22] AndreasMadsen commented on #14386
It would be awesome if you could reproduce it as a standard test case. I can't work on it today and @refack is debugging another `async_hooks` issue.

[2017-07-20 10:23] mcollina commented on #14386
Any direction on how to get that information from `llnode`? I'm running node through lldb to get that, as `--abort-on-uncaught-exception`  does not generate the core dump in this case.

[2017-07-20 10:34] AndreasMadsen commented on #14386
Not sure. I only started using llnode a week ago :p

Are you using `lldb` directly? In that case you should use `llnode -- /path/to/bin/node script.js` instead.

[2017-07-20 10:37] mcollina commented on #14386
@AndreasMadsen that does not work either.

[2017-07-20 10:39] bnoordhuis commented on #14386
Assuming llnode is installed, `v8 bt` in lldb should print a C++ + JS stack trace.

[2017-07-20 10:41] mcollina commented on #14386
Thanks @bnoordhuis.

[code]

[2017-07-20 10:41] bnoordhuis commented on #14367
It's also used in projects like electron and nw.js that create a context per tab.

[2017-07-20 10:46] AndreasMadsen commented on #14386
@mcollina Thanks. Appears to be the same issue as in #14381, although it might hit the issue on `_writeRaw` instead of `_write`.

[2017-07-20 10:53] mcollina commented on #14386
https://github.com/nodejs/node/blob/master/lib/_http_server.js#L157-L165 needs to attach a new asyncId if one was not there. Should I do that with `async_hooks.initTriggerId()`?

[2017-07-20 10:54] bnoordhuis commented on #8871
Disabling transparent huge pages (or setting it to madvise) may also help.

[2017-07-20 10:59] AndreasMadsen commented on #14386
I only have time for a quick look. I think `async_hooks.newUid()` is the correct value to use. Maybe it requires a full call to `emitInit` as well.

[code]

[2017-07-20 11:04] bnoordhuis commented on #14384
We don't release binaries for freebsd.  If clang 3.8 fixes the ICE, then upgrading is what needs to happen.

Shouldn't be a problem for our CI.  If it's a problem for the ports packagers, well, the good news is it's _their_ problem, not ours.

[2017-07-20 11:06] refack commented on #14386
[Also just from a quick look] if this is actually a "reuse" of a previous socket _maybe_ `asyncReset()` is needed like in https://github.com/nodejs/node/blob/master/lib/_http_agent.js#L171

[2017-07-20 11:08] refack commented on #14386
Do we have a reproduction snippet? (even with 3rd party dependencies)

[2017-07-20 11:09] mcollina commented on #14386
@refack this is done just over a plain stream. It's not a socket at all.

PR is on the way:

[code]

[code]

[2017-07-20 11:12] refack commented on #14386
Windows is not being helpful 😞:
[code]

[2017-07-20 11:17] refack commented on #14386
Just putting some pieces together, please correct me if I'm wrong:
* `shot` fiddles with the HTTP flow
* it attached a "non-socket" to the response via [ServerResponse.prototype.assignSocket](https://github.com/nodejs/node/blob/master/lib/_http_server.js#L157-L165)
* [hilarity ensues](http://www.urbandictionary.com/define.php?term=Hilarity%20Ensues)

[2017-07-20 11:23] AndreasMadsen commented on #14386
If it is a reuse and `asyncReset()` is available then I agree.

[2017-07-20 11:35] Rauno56 commented on #1309
I believe this kind of behavior is back. 'prefinish' event is always emitted, but not finish nor close.

It happens if response connection is not writable at the time of calling `res.end()`. Why it is not writable. I don't yet know - nothing else should not be ending the response and no errors is emit either.

[2017-07-20 12:04] crespowang commented on #14381
Hey @AndreasMadsen, did you want me to add the code in the test? If yes, then this is the output
[code]

[2017-07-20 12:05] targos commented on #14384
Then we need to change the requirements in https://github.com/nodejs/node/blob/master/BUILDING.md#unix

@nodejs/v8 is there version range of Clang that is officially supported by V8 or it's just the latest?

Clang is what's blocking us to ship V8 6.0, but it's not the only problem we have with FreeBSD. Right now Canary is broken on FreeBSD 10 and 11 and I don't know who I can ask to look into the

[2017-07-20 12:29] bnoordhuis commented on #14384
I don't think the V8 people make any guarantee except google's clang fork (and maybe the one version of gcc that's tested in their CI.)

[2017-07-20 12:55] #14156 closed

[2017-07-20 13:11] still-dreaming-1 commented on #8792
In my opinion assigning multiple variables on one line is bad practice anyway. I don't see why the REPL should only be useful for certain types of learning when it can also be a useful for the type of learning we constantly do as we are writing and testing our code.

[2017-07-20 13:51] jbergstroem commented on #14384
I'm ok with updating clang; the maintainers are both responsive and helpful in patching upstream. They just don't act as much on non-releases/pre-releases.

[2017-07-20 14:09] refack commented on #12646
+1 for all three
And an extra personal +1 for @BridgeAR whom I've been working closely with and has been dominating the Pulse
![image](https://user-images.githubusercontent.com/96947/28421529-755060d2-6d33-11e7-9035-08df3714837d.png)

[2017-07-20 14:19] Mithgol commented on #2835
@ChALkeR Unfortunately, not all of them, because the list of [WHATWG-supported encodings](https://encoding.spec.whatwg.org/) seems to be quite limited.

For example, UTF-7 is not supported and hence I cannot use it for [Fidonet Unicode substrings](https://github.com/Mithgol/fiunis).

I'd better stay on `iconv-lite`.

[2017-07-20 14:20] jasnell commented on #12646
Big +1 to all three (@bmeurer, @sebdeckers and @BridgeAR).

I will say that @sebdeckers has provided some fantastic help with the http/2 work. Would love to see them get some recognition!

[2017-07-20 14:35] jasnell opened #14391 "Tracking Issue: Node.js 9.0.0"
@nodejs/collaborators @nodejs/ctc,

It feels like only yesterday that I was preparing the 8.0.0 release! Time flies!

I plan to begin working on the 9.0.0 release in early September, with an eye towards release by the end of October. The `v9.x` and `v9.x-staging` branches will be cut the first or second week of September, with an estimated semver-major freeze by *September 30th*. Beta releases wil

[2017-07-20 14:36] jorangreef commented on #11855
Thanks @bnoordhuis

Were you benchmarking latency or throughput? "Significantly worse" latency (say 1.1x) may not be that bad if it means significantly more throughput.

Was the workload mostly IO bound or mostly CPU bound?

The idea with two separate threadpools is to delegate these choices to the user. Everyone's benchmark requirements are different.

And if there is no advantage gained by separ

[2017-07-20 14:51] lance commented on #8792
@still-dreaming-1 in my opinion, the REPL should be used (in part) for learning Node.js and the Javascript language. Changing the behavior so that an expression's return value appears to be something other than what the [specification](https://tc39.github.io/ecma262/#sec-variable-statement-runtime-semantics-evaluation) requires, would be a disservice to users. And if you are truly using the REPL t

[2017-07-20 14:54] addaleax commented on #14379
Reading the V8 source code, that doesn’t seem to be true: https://github.com/nodejs/node/blob/7fdcb68dc3db6e2765f06ad3e43af34c51a6bb70/deps/v8/src/factory.cc#L1332-L1337

Regarding 2: It’s probably easiest to just add

[code]

even before the `val->IsNumber()` check. I’ll open a PR shortly.

[2017-07-20 15:10] bnoordhuis commented on #11855
Hah, I don't think I ever claimed it was.  Good enough most of the time, but optimal?  No, sir!

A bit of both.  Node and libuv's benchmarks test both ends of the spectrum.

[2017-07-20 15:12] trevnorris commented on #14238
@AndreasMadsen

My certainty comes from now almost 5 years of contemplating this API, and so yes it will take a solid argument to change my mind.

I thought it was sufficiently evident by the fact that I meticulously made sure all function calls were appended with `()` for every other inline code reference because I'm very well aware of the importance in distinguishing between the two.

Now you're

[2017-07-20 15:32] mscdex commented on #14386
Isn't this the same as https://github.com/nodejs/node/issues/14381 ?

[2017-07-20 15:37] still-dreaming-1 commented on #8792
If it is true that the specification is such that the REPL has to work this, way, well I guess I don't understand what the purpose of that part of the specification is. What were they trying to achieve and why?

[2017-07-20 15:43] still-dreaming-1 commented on #8792
Having to write your code differently from how you normally would in order to get feedback from the REPL only makes the REPL less helpful and reduces its' use cases. The most helpful REPL would be one where you could write your code the same as your normally would and it still outputs helpful information, which would also open up the option to just feed it a normal code file.

[2017-07-20 15:59] mcollina commented on #14368
@refack do you have a PR for this?

[2017-07-20 16:05] jerrywdlee opened #14395 "Core dumped when require files from symlink at Bash on Ubuntu on Windows"
* **Version**: 8.1.3
* **Platform**: Bash on Ubuntu on Windows ( Ubuntu 14.04.5 LTS / Windows10 64-bit ) (Japanese)
* **Windows build number**: Microsoft Windows [Version 10.0.14393]
* **Subsystem**: [module](https://nodejs.org/dist/latest-v8.x/docs/api/modules.html#modules_module)

I created a Symbolic link under `node_modules` via `create_root_path.js` below.
Then run `require_func.js` to requir

[2017-07-20 16:13] mcollina commented on #14368
I've included a fix for this in https://github.com/nodejs/node/pull/14387.

[2017-07-20 16:34] jasongin commented on #14379
Yes, you're right `v8::Number::New()` does eventually create the optimized integer representation. But it's slower than `v8::Integer::New()`.

Somehow I had overlooked `v8::Int32::Value()` -- thanks!

[2017-07-20 16:59] mcollina commented on #14386
@mscdex I think so, yes.

[2017-07-20 17:11] RReverser opened #14397 "napi_get_value_string_latin1 not mentioned in N-API docs"
`napi_get_value_string_latin1` was introduced in the implementation, but doesn't appear on the documentation page. cc @nodejs/n-api (relevant to #13556)

[2017-07-20 17:11] jorangreef commented on #11855
Just to double-check, when you benchmarked using two separate threadpools (one for IO tasks, one for CPU tasks), did you let both threadpools contend for the same set of cores or did you pin them to separate sets of cores?

[2017-07-20 17:14] RReverser opened #14398 "Documentation mismatch for napi_get_value_string_* functions"
`napi_get_value_string_*` say e.g.:

However, the actual implementation in Node returns the number of bytes excluding the null terminator (so for an empty string, it will return `0` and not `1`).

Not sure if it's implementation or documentation issue, or I was just confused by the wording. cc @nodejs/n-api

[2017-07-20 17:50] mcollina commented on #445
I would like to talk about this in the next CTC cc @nodejs/ctc. We need direction, as stated above ^.

[2017-07-20 18:30] rwlaschin commented on #13539
HI.  I'm seeing this issue as well 8.1.4

I'm using a custom agent
const keepAliveAgent = new http.Agent({ keepAlive: true });

I'll try 8.2.0 and see if the issue is resolved.

[2017-07-20 18:32] rwlaschin commented on #13539
Unfortunately, no it still happens

2017-07-20T11:31:56-0700 <error> RouteLoader.js:60 () message Cannot read property 'asyncReset' of null error TypeError: Cannot read property 'asyncReset' of null
    at Agent.addRequest (_http_agent.js:171:19)
    at new ClientRequest (_http_client.js:272:16)
    at Object.request (http.js:39:10)
    at Request.send (/Users/robert/Repositories/ry-openrtb-exchan

[2017-07-20 18:36] rwlaschin commented on #13539
I did not see it when I changed back to version 7.10.1,  it was in all the versions of 8.*.* that I tried.

I don't believe I saw this error until I added node-redis, I'm not sure if that is a red-herring or not.

[2017-07-20 18:56] galniv opened #14402 "Out of memory issue plus weird heapUsed in node 8.1.4, does not occur on 6.11.1"
* **Version**: 8.1.4
* **Platform**: Ubuntu

We recently attempted to upgrade to node 8.1.4. While testing our service with real data, each of the machines on which the service was deployed started crashing every few hours with an out-of-memory error. We also happened to log the result of `process.memoryUsage()` shortly before the crash on one of these machines, and noticed that the number for `he

[2017-07-20 18:58] mhdawson commented on #14397
Thanks, I'll take a look and add.

[2017-07-20 19:35] jasongin commented on #14398
It's a doc issue. I think the doc was originally written when there were separate APIs for getting the string length vs string contents, and then it was not updated correctly when the APIs were redesigned.

The string APIs now are intentionally designed so they can be used to just get the string length (not including null terminator) by passing in a null buffer. So even when you do provide a buffe

[2017-07-20 19:51] RReverser commented on #14398
Yup, I agree it's more convenient that way, just wanted to know whether it's docs or implementation that got out of sync.

By the way, is there a specific reason this API is not aligned with `napi_get_cb_info`? In the latter, you can pass initial count and retrieve actual one via the same pointer to `size_t`, while string functions accept these as separate arguments.

Would it be reasonable to ali

[2017-07-20 19:55] AndreasMadsen commented on #14381
@crespowang Thanks. Looks like this revealed another (less significant issue). Given the number of issues regarding `_write` and `_writeRaw` I think we are just going to assume that it is the same issue. If that doesn't fix it, then we can look into this again.

[2017-07-20 19:56] AndreasMadsen commented on #14391
I think we should remove the `async_hooks` deprecated API in this release.
/cc @nodejs/async_hooks

[2017-07-20 20:04] jasongin commented on #14398
The `bufsize` input parameter is the size of the buffer, which must _include_ space for the null terminator. So I'm not sure it would make sense to combine that with the output parameter.

[2017-07-20 20:10] refack commented on #14381
@crespowang if you happen to have a testcase that consistently fails (independent of any `npm` modules), or alternatively, know of a public `npm` module whose tests fail, please post here, so we can add it to our regression tests.

[2017-07-20 20:18] #14368 closed

[2017-07-20 20:18] #14381 closed

[2017-07-20 20:18] #14386 closed

[2017-07-20 20:23] #12793 closed

[2017-07-20 20:37] jkrems commented on #14228
Alright, 5 hours in and v4.6.1 doesn't show any segfaults. So afaict the issue starts already in v4.6.2. I will keep monitoring for the rest of the day but so far this is where I'm at:

* All 5 services that tried to deploy using v4.8.4 saw these segfaults, none of them includes compiled/native modules at runtime. They all are stable on v4.6.1 w/o any code changes.
* All services running similar c

[2017-07-20 21:07] refack opened #14404 "test: investigate async-hooks/test-tlswrap"
* **Version**: `master`
* **Platform**: macOS
* **Subsystem**: async-hooks,tls

Has been spotted on macOS:
[code]

[2017-07-20 21:08] Trott commented on #14404
Probably race condition. The comment around before line 93 (where the test fails) kind of suggests that too:

[code]

[2017-07-20 21:19] mcollina commented on #14404
I've tested it on 8.2.0 as well, same error.

[2017-07-20 22:34] ile commented on #14254
Were anybody else able to reproduce this, or is it just me?

[2017-07-20 23:31] trevnorris commented on #13539
Sorry for the delay. See the issue. I'll write up a fix tonight.

[2017-07-21 00:22] justinfagnani commented on #5523
I would love to see this re-opened (and eventually addressed, of course).

[2017-07-21 00:45] crespowang commented on #14381
thanks for fixing this so quickly, v8.2.1 fixed the problem, as a node newbie can I ask how long does it take for a new version to appear in docker hub?

[2017-07-21 01:32] XGHeaven opened #14405 "path.join('C:') = 'C:.' only in windows node LTS version"
* **6.11.1**:
* **Window 10 x64**:

In windows, `path.join('C:')` return 'C:.' not 'C:'
In other system, such as linux,macos always return 'C:'

In windows, 'path.join('C:\\')' is corrrect, return 'C:\\'

But you give path.join more than one args, it's correct.
such as `path.join('C:', 'a')` == 'C:\\a'

here is a interesting thing, if you run `path.format(path.parse(path.join('C:')))` in windows,

[2017-07-21 02:21] jkrems commented on #14228
One of the devs on that first lucky service (`<insert Github handle here>`) had a look at https://github.com/nodejs/node/compare/v4.6.1...v4.6.2 and found this one: https://github.com/nodejs/node/commit/2d07fd71ee391d099e2f19e85455be6a718c27c9. The combination of "weak collection" and "GC" sounds pretty suspicious but I didn't look more closely yet.

[2017-07-21 02:50] #14362 closed

[2017-07-21 03:09] TimothyGu commented on #14405
In general, the path normalization behavior is platform-dependent. You might find `path.win32.*` and `path.posix.*` to be helpful for testing on different platforms.

Now, the issue itself is actually two issues as far as I can tell.

The `path.win32.join('C:') === 'C:.'` issue is actually coming from `path.win32.normalize('C:') === 'C:.'`. It should normalize to `'C:\\'` IMO.

The join->parse->fo

[2017-07-21 03:19] TimothyGu commented on #14405
This issue is also reproducible on master.

[2017-07-21 03:49] Trott commented on #5523
Implement it as a userland module. If the module is rock-solid and lots of people use it, you can make the case that perhaps it belongs in core.

[2017-07-21 03:52] Trott commented on #14254
I think @addaleax looked at it for a bit last week and might have even tried to reproduce it without `request` or something, but I don't remember what conclusions she arrived at (if any).

[2017-07-21 03:58] justinfagnani commented on #5523
Well, you asked if anyone wanted it open...

[2017-07-21 03:59] Trott commented on #5523
That's a more-than-fair point. 😆

[2017-07-21 06:22] mcollina commented on #14381
See https://github.com/nodejs/docker-node/pull/470

[2017-07-21 06:32] doodadjs opened #14406 "fs.unlink doesn't throw under Windows when the file is locked."
* **Version**: 8.1.4
* **Platform**: Windows 10 64 bits
* **Subsystem**: N/A

[code]

For me, the output is :

[code]

[2017-07-21 06:45] doodadjs commented on #14406
Maybe that's an expected behavior, since "test.txt" gets deleted after the handle is closed. But I have an issue when I want to delete a folder and its content... Should I call 'stat' after every 'unlink' ? The behavior I was expecting is to get an error on 'unlink" since the file is locked....

[2017-07-21 06:49] bmeurer commented on #14326
@fhinkel that looks like one of the bugs we had in `DefineDataPropertyInLiteral` in the beginning. Probably missing back-merge. Can you take a look?

[2017-07-21 07:31] mcollina commented on #14384
@jbergstroem let's update clang so we can move forward with landing V8 6.0.

[2017-07-21 07:31] cravler opened #14407 "Core dumped when creating tls.TLSSocket"
* **Version**: 8.2.0
* **Platform**: Ubuntu 16.04 LTS 64-bit / [Docker image](https://github.com/nodejs/docker-node/blob/4f2354e558a0cd93ae53278f83f5f0a35af23be0/8.2/Dockerfile)

**Script**:
[code]

Core Dump:
[code]

[2017-07-21 07:42] JacksonTian commented on #14391
I think we should remove the `sys` deprecated module in this release.

[2017-07-21 08:21] stefanosala commented on #14069
Hey folks, wait a min... I tried with 8.2.1 and the issue is still there :(

[2017-07-21 09:21] seishun commented on #14391
I think we should revisit Buffer constructor deprecation in this release.

[2017-07-21 10:34] bzoz commented on #8807
Also, `spawn` needs `{shell: true}` to reliably call .bat files. I'll close this, you can reopen the issue if it persists.

[2017-07-21 10:34] #8807 closed

[2017-07-21 10:48] addaleax commented on #14254
I also could reproduce this on Ubuntu, but only with request < 2.80.0 (which makes sense to me, I supplied a fix to request 2.80.0 for something that may or may not be related to your problem).

A wire capture, or even better a dump of the exact data that request passes to the gunzip stream, would be really helpful.

[2017-07-21 10:52] AndreasMadsen commented on #14238
You know, I'm not exactly new to this either. We were both there in 2012 (https://github.com/nodejs/node-v0.x-archive/pull/3816, https://github.com/AndreasMadsen/async-hook/tree/58c919ed5986e3707d20b111c038d4c08d42fff9). That being said, I fully realize that you have superior experience but absolute experience I will not accept.

I must have forgotten you used that notation then, thanks for clarif

[2017-07-21 11:18] refack commented on #13539
So for context: `node v8` added a new layer of tracing (i.e. `Async Hooks`). This layer is active even if the user does not use it, to enable ad hoc interrogating the system state.
Although this new layer has been meticulously designed and tested, there are a few open edge cases (one of them is custom implementations of HTTP Agent).
`node@8.2.0` included several bug fixes in this layer (`node@8.2.

[2017-07-21 12:10] sebdeckers commented on #14253
Any chance of adopting [StandardJS](https://standardjs.com)? Avoids lots of stylistic bikeshedding. Many projects use it nowadays. As one example, migration was relatively painless for NPM (https://github.com/npm/npm/pull/9954). The auto-formatter has improved since then, though it may not be perfect.

[2017-07-21 12:13] evanlucas commented on #14402
I'd be curious to know how large the string that your are trying to parse is?

[2017-07-21 12:25] bnoordhuis commented on #14406
Windows lets you unlink files that are open.  The file isn't deleted until the last handle is closed and the symlink count is zero.

I don't know if EPERM is expected in this case or if there is something node.js or libuv can do better.  It probably means `CreateFile()` or `NtQueryInformationFile()` failed with `ERROR_ACCESS_DENIED`.

Is the file on a local drive or a network share?

[2017-07-21 12:45] bnoordhuis commented on #14069
8.2.1 is still using V8 5.8.  See #13515 and #14004 for in-progress updates to 5.9 and 6.0 respectively.

[2017-07-21 12:50] doodadjs commented on #14406
A local drive.

[2017-07-21 13:03] jorangreef commented on #14136
I think this issue was prematurely closed and should be reopened. Node would benefit from more discussion on the subject.

The question of GC vs static allocation is not a binary decision, and there are ways to design APIs which avoid the problems @TimothyGu describes. Javascript itself does not force anyone to "rely on GC" and Node already provides for static allocation when it comes to file syst

[2017-07-21 13:09] jorangreef commented on #3403
This issue is blocked on libuv v2.x and https://github.com/nodejs/node-eps/pull/27 which may take some time.

Can we re-open?

We definitely need a way to do more static allocation in Node specifically when working with TCP.

[2017-07-21 13:12] jorangreef commented on #14136
See https://github.com/nodejs/node/pull/6923 for raw numbers to convince.

[2017-07-21 13:13] PCGeekBrain opened #14411 "v8-debug@0.7.7 fails to build"
* **Version**: node 8.2.1 with npm 5.3.0
* **Platform**: Linux menachem-N550JK 4.10.0-28-generic #32-Ubuntu SMP Fri Jun 30 05:32:18 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: node-gyp

Here is a full log of the issue. `sudo` and `nvm` both have not been able to get around it.

[code]

[2017-07-21 13:13] PCGeekBrain commented on #14411
Note that there are no issues on 8.1.4. Any Ideas on where to begin?

[2017-07-21 13:15] RReverser commented on #14398
Makes sense I guess...

[2017-07-21 13:22] addaleax commented on #14411
Reported at https://github.com/node-inspector/v8-debug/issues/43 as well (please always cross-link issues if you’re opening multiple ones).

That sounds odd; the `Debug::Call` method the code is trying to call has been removed when Node 7 came out.

Also, it looks like this has been fixed in recent versions of v8-debug.

[2017-07-21 13:23] bnoordhuis commented on #14228
That sounds very plausible.  @matthewloring @ofrobots Ideas?  This seems to have been introduced by #7689.

[2017-07-21 13:28] andrasq commented on #14402
370 kb; the `[366930]` part of the message is the string length.

The heapUsed is way too large to be real; it's 0xFFFFFFFFFFFDA020, which looks a lot like a 64-bit negative number interpreted as unsigned.

[2017-07-21 13:32] evanlucas commented on #14402
Is that string something you could share?

[2017-07-21 13:47] Fishrock123 commented on #14411
Can you try clearing your global npm modules?

[2017-07-21 13:52] PCGeekBrain commented on #14411
my bad, I thought I was on that webpage

[2017-07-21 14:01] PCGeekBrain commented on #14411
How do I do that?

[2017-07-21 14:07] addaleax commented on #14411
@PCGeekBrain Looks like `v8-debug` is also using APIs that have gone away with Node 8 (namely, `v8::Debug::GetMirror`), even at its latest version.

That that API is going away is not under our direct control; it’s something that’s happening upstream in V8 and that we basically just have to accept as a breaking change that comes with Node 8. Also, the entirety of V8’s Debug API is being deprecated

[2017-07-21 14:07] #14411 closed

[2017-07-21 14:25] sayzlim opened #14412 "Request: Sponsorship on Docs Page"
**URL: https://nodejs.org/api/**
**Original Request: https://github.com/nodejs/nodejs.org/issues/1304**

I sent an invitation to Mikael to join [Carbon](http://carbonads.net/), and he told me it’s best to seek everyone feedbacks here.

I manage Carbon and want to suggest displaying Carbon on the docs page at https://nodejs.org/api/. You can check out the demo I came up with at https://s.codepen.io

[2017-07-21 14:28] TimothyGu commented on #14136
@jorangreef My objections were based on OP's approach for buffer pulling. I'd be happy if you could file a new issue about pulling into user-controlled buffers (instead of Node.js-owned ones in this issue) – which I agree can be very helpful for throughout when done right – and if you can offer some implementable proposals it would be even better. It would also offer a path to reconcile with Web S

[2017-07-21 14:29] PCGeekBrain commented on #14411
Got it. I'll see if I can fix it myself

[2017-07-21 14:30] Fishrock123 commented on #14412
cc @hackygolucky, as Mikeal isn't part of things anymore.

I can't tell what the product is, so I can't really tell you if we'd want it...?

If it is just ads, uhhhh no I am not ok with putting ads in the docs?

[2017-07-21 14:32] sam-github commented on #8807
@bzoz I don't think spawn needs a shell to call .bat files. It does for .cmd files (which is what npm uses to wrap node CLIs), but .bat, .com, and .exe are considered executable and can be directly spawned unless I very much misremember.

Or perhaps the key is "reliably", is there something unreliable about .bat files run without a shell?

[2017-07-21 14:34] TimothyGu commented on #14136
@jorangreef I just reopened #3403.

[2017-07-21 14:44] jorangreef commented on #14136
Thanks very much @TimothyGu , #3403 is the issue for pulling into user-controlled buffers, appreciate your reopening that.

I agree with you on this.

[2017-07-21 14:52] refack commented on #8807
I think "reliably" is indeed the key point.
When `{shell: true}` node controls the emergent `cmd.exe` process. When `{shell: false}` the OS decides which program to launch to run the `.bat` (BTW by default `.bat` and `.cmd` are equivalent, but that's configurable), and how `uv` catches that process, I don't know.

[2017-07-21 14:52] galniv commented on #14402
@evanlucas I'm afraid we cannot, but it's actually not a single 370kb string -- rather, that part of the code processes variable length strings, which can be anywhere from several kb to several mb in length. The other machines all crashed at the same part of the code, but while handling different length strings.

[2017-07-21 14:53] sayzlim commented on #14412
@Fishrock123, Carbon is an ad network that features dev/code sponsors. There is no fancy tracking running in the background, or _irrelevant ads_ showing up on the docs page. We can ensure the quality of the banners meet the criteria most of the developers want.

We wrote about [the code to advertising to developers](https://content.buysellads.com/articles/how-to-advertise-to-developers/), so our a

[2017-07-21 15:09] Fishrock123 commented on #14412
cc @nodejs/tsc, @nodejs/community-committee

I guess this issue would be better placed in a different repo but no point in moving it again I guess.

[2017-07-21 15:25] jasnell commented on #14412
I'm generally -1 on placing these kinds of things anywhere on the Node.js Foundation website.

[2017-07-21 15:31] tniessen commented on #14412
IMO node - as an open-source non-profit organization - should not support commercial advertisements on our very own website. *If* we wanted to put ads somewhere (what I personally would not even like to consider), the documentation seems like the worst place (apart from getting the most clicks).

If anyone else is wondering why lodash agreed to this, [this tweet](https://twitter.com/jdalton/status

[2017-07-21 17:01] vsemozhetbyt commented on #14253
@sebdeckers I doubt we will have consensus about "no semicolons" or "space after function name" :) The churn will be tremendous)

[2017-07-21 17:20] Trott commented on #14391
Why? What harm does it do to leave it there?

[2017-07-21 17:36] #13597 closed

[2017-07-21 17:58] refack commented on #14391
https://github.com/nodejs/node/pull/14414

[2017-07-21 18:28] gr2m commented on #14412
I would also like to know what would happen with the funds, can someone point me to the right places to educate myself? It should be transparent where the funds would go.

I would suggest to make a trial for a month, see how it goes, see how people react. Learnings from such a trial could be very helpful far beyond Node.js, to help with discussions about funding Open Source projects in general. An

[2017-07-21 18:53] benjamingr commented on #14391
What version of V8 is this release going to ship?

[2017-07-21 18:59] targos commented on #14391
@benjamingr It will be 6.1 or 6.2

[2017-07-21 19:51] jbergstroem commented on #14384
@mcollina sure.

[2017-07-21 20:27] dfleury commented on #14402
I also noticed a strange behavior since 8.1.4 which still happens on 8.2.0 and 8.2.1
In my application I decided to stick with 8.1.3.
It didn't crash the process, however, the memory is leaking, cpu consumption increased 3x over the time the application is running and, the throughput was cut by half (40 req/s to 20 req/s).
I'm quite sure it's related to node because using older versions didn't see

[2017-07-21 21:08] sam-github commented on #10819
Yes, it sounds like there is an inconsistency, but no one has looked into it yet.

[2017-07-21 21:09] sam-github commented on #10555
Yes, our documentation is incorrect, and parts of the TLS API are unuseable now (at least, not useable with documented methods and events). I tried to fix, but #10846 was rejected.

[2017-07-21 22:08] jasongin commented on #14379
Two more...

### 4. Over-use of `v8::TryCatch`
All of the `napi_create_*()` functions use the `NAPI_PREAMBLE` macro that sets up a `v8::TryCatch` at the function scope. However these functions have no possibility of executing JavaScript code so as far as I know there is no reason to pay the cost of the `TryCatch`. The same is true for `napi_wrap()` and `napi_get_buffer_info()` functions. Errors in

[2017-07-21 22:10] cjihrig commented on #14412
I'm -1 as well.

[2017-07-21 22:43] ofrobots commented on #14228
@jkrems as you able to test with Node 6.x at all? It would be quite useful to know if the crash exists there or not.

/cc @mlippautz @hannespayer any ideas about the crashes in GC and whether the [back-ported bug fix ](https://github.com/nodejs/node/commit/2d07fd71ee391d099e2f19e85455be6a718c27c9) might have some issues on V8 4.5?

[2017-07-21 22:46] jkrems commented on #14228
We rolled out the same stack on node 6 (by now including the very service where we saw these crashes initially). None of the services on node 6 (most on 6.11.1 now) is seeing segfaults.

[2017-07-21 23:15] trevnorris commented on #13539
Fix at https://github.com/nodejs/node/pull/14419.

[2017-07-21 23:22] owenallenaz opened #14420 "WeakMap() usage results in permanently expanded RSS"
* **Version**:v8.2.1
* **Platform**:Linux nodeServer 2.6.32-573.el6.x86_64 #1 SMP Thu Jul 23 15:44:03 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:WeakMap

From my tests, using WeakMap() can cause the RSS to grow infinitely. As stated in other issues, this isn't necessarily a memory leak, as the RSS on linux doesn't truly indicate that memory isn't available, but as I understand it, as

[2017-07-21 23:31] trevnorris commented on #14238
@AndreasMadsen

Sorry. Worded my comment badly. It's not that I disagreed with the issue. It's because I didn't see what the issue was addressing.

There's a difference between timing and call order. Timing can do whatever it wants, but call ordering shouldn't change. This is what a lot of the tests in `test/async-hooks/` verifies. For example, timing would change if we replaced all `nextTick()` w

[2017-07-21 23:49] rachelnicole commented on #14412
-1

[2017-07-21 23:55] addaleax commented on #14412
Thanks for the offer I guess, but at this point it seems safe to say this won’t reach consensus, so I’m closing this issue as “this won’t happen”.

[2017-07-21 23:55] #14412 closed

[2017-07-22 00:03] mscdex commented on #14420
It's probably best to include the code and results in the first post instead of a gist. For the long console output, just wrap it in a details html tag.

[2017-07-22 00:16] cjihrig commented on #7196
It looks like https://github.com/jasnell/proposal-istypes is going to support type masquerading (see https://github.com/jasnell/proposal-istypes/pull/30). For that reason, I'd like to see more of these bindings made available.

[2017-07-22 00:26] jasnell commented on #7196
Yes, we're making progress on the proposal... keep in mind that it's still Stage-0 but the goal is get it to Stage-1 or even Stage-2 by around September. Won't be too difficult for us to polyfill either.

[2017-07-22 00:29] cjihrig commented on #7196
For me personally, the whole point is to get a data type that cannot be faked anywhere without installing a compiled module.

[2017-07-22 02:21] arboreal84 opened #14421 "FSReqWrap::New doesn't validate parameters"
* **Version**: 6.10.0
* **Platform**: Linux
* **Subsystem**: fs

[code]

[2017-07-22 02:50] jdalton commented on #7196
I dig these utils for their perf wins. I'd be OK if values with `@@builtin`, or whatever symbol is settled on, had a slow path though. I figure if folks want to say a value is duck, then it's their responsibility to ensure it quacks like one or things might get funky.

[2017-07-22 03:50] TimothyGu commented on #14402
@dfleury VM module performance is decreased in 8.1.4 because the decrease is temporarily necessary to fix an important security issue: https://nodejs.org/en/blog/vulnerability/july-2017-security-releases/. We are working with the V8 team to devise a solution that will re-enable snapshot support (which enhances performance of VM) in a secure way (#14171).

[2017-07-22 04:41] mscdex commented on #14421
FWIW when you access `process.binding()` you're on your own, as there are no guarantees about expected behavior.

[2017-07-22 05:03] #14033 closed

[2017-07-22 06:52] trevnorris commented on #14238
**NOTE**: I'll be referring to the id values via their `enum` counterparts in `Environment::AsyncHooks::UidFields`. Less prone to misunderstanding that way.

**NOTE**: Will refer to `initTriggerId()` as `initTriggerAsyncId()` (for consistency w/ the remainder of the API, the name should change).

**NOTE**: `kScopedTriggerAsyncId` is an additional `enum` in `Environment::AsyncHooks::UidFields` that

[2017-07-22 09:17] #14421 closed

[2017-07-22 09:34] bnoordhuis commented on #14420
I don't see anything out of the ordinary.  What would you say is the expected behavior and why?

Keep in mind that the garbage collector uses numerous input signals to decide whether to grow or shrink the heap.  RSS not shrinking right away<sup>1</sup> or not shrinking to the lowest possible value doesn't necessarily indicate a bug.

<sup>1</sup> Weak collections are processed over the course of o

[2017-07-22 10:06] solutionstack commented on #5701
Thanks @MacFlurry , you saved the day

[2017-07-22 11:03] ile commented on #14254
Now everything seems to work, I'm not sure why. I can't reproduce this error anymore. Not with request 2.80.0 or 2.81.0 (I'm not sure when the 2.81.0 was released - I thought I was using the latest at the time of the bug report).

So, I think this can be closed for now as it doesn't seem to happen anymore.

[2017-07-22 11:12] seishun commented on #9531
With the Node.js 9.0.0 release looming closer, I think it's time to revisit this. @ChALkeR could you evaluate how much the usage of `Buffer()` has changed in the last 3 months?

[2017-07-22 11:45] Kondax commented on #10731
Any possible workarounds to this?

[2017-07-22 11:53] refack opened #14424 "test: test-crypto-dh-leak flaky"
* **Version**: `master`
* **Platform**: `ubuntu1604-arm64`
* **Subsystem**: test,crypto

A new test introduced in https://github.com/nodejs/node/pull/14122. Flaky probably because the allowed wiggle room is too tight.
https://ci.nodejs.org/job/node-test-commit-arm/11062/nodes=ubuntu1604-arm64/
[code]
#### Code:
[code]
/cc @bnoordhuis

[2017-07-22 12:32] bnoordhuis commented on #14254
I'll close it out, thanks for following up.

[2017-07-22 12:32] #14254 closed

[2017-07-22 13:18] gibfahn commented on #3411
This was closed because https://github.com/nodejs/node/pull/4874 landed as https://github.com/nodejs/node/commit/57003520f83a9431dbef0dfce2edacf430923f20. That commit has been in every Node release since 6.0.0 (including all 8.x releases).

If you're still seeing this issue could you provide more details? Ideally let us know why https://github.com/nodejs/node/commit/57003520f83a9431dbef0dfce2edacf

[2017-07-22 13:29] gibfahn commented on #14371
Looking at [git blame](https://github.com/nodejs/node/blame/master/lib/module.js#L499) it looks like it was added in https://github.com/nodejs/node/commit/46513483cd96438f33a67fb870b784d1d1f55dd0 (by @isaacs in 2011).

I suspect this is an oversight. I'll mark this as a documentation request, and if people have strong opinions about not documenting it they can voice them here or in the PR.

[2017-07-22 13:35] gibfahn commented on #14371
For anyone looking to take this on, the first thing to read/follow is [CONTRIBUTING.md](https://github.com/nodejs/node/blob/master/CONTRIBUTING.md), there's also a [Style Guide](https://github.com/nodejs/node/blob/master/doc/STYLE_GUIDE.md) that might be useful, although `make lint` lints the docs now, and following the style in that file is usually a good way to go.

The place to add `module.path

[2017-07-22 14:24] losfair opened #14425 "process.nextTick() never calls its callback"
* **Version**: v8.2.1
* **Platform**: Ubuntu 16.10

When a function is invoked in the `uv_async_send` handler context and calls `process.nextTick()`, the callback provided to `process.nextTick()` is never called. `setImmediate()` works fine.

`native.cc`:

[code]

`test.js`:

[code]

`node test.js` output:

[code]

[2017-07-22 14:47] #14076 closed

[2017-07-22 14:54] refack commented on #13471
WSL now supports openSUSE and SLES as well
https://blogs.msdn.microsoft.com/commandline/2017/07/19/suses-linux-distros-for-wsl-now-available-in-the-windows-store/

/cc @nodejs/platform-windows

[2017-07-22 15:43] tniessen commented on #14405
Well, what can I say... Paths on Windows are a mess, and node really isn't dealing with that mess too well yet.

Okay, the colon has three separate meanings under Windows, and it is not trivial to dinstinguish them:

1. The colon can be used after a drive letter and before a backslash as part of a so called "disk designator", resulting in an absolute path:
[code]
2. The colon can be used after a d

[2017-07-22 16:12] ChALkeR commented on #9531
@seishun Thanks for the reminder! I hope to do that in a few days. =)

[2017-07-22 16:15] vsemozhetbyt commented on #14253
It seems this has not got enough approvement and can be closed for now. Feel free to reopen if something changes.

[2017-07-22 16:15] #14253 closed

[2017-07-22 16:27] silverwind opened #14426 "repl: '...' should not be detected as REPL keyword"
[code]

Should instead throw this error:

[code]

[2017-07-22 16:36] XGHeaven commented on #14405
[code]
Whatever it return, I think `C:.` is absolute wrong. fix this first.
[code]
I prefer to return `C:a`. But if you want to get `C:\a`, please use
[code]

And colon usage case 3 in windows, it never used in development or cmd for myself.
So I think case 3 has a low priority.

[2017-07-22 17:34] redexp commented on #9377
I get this error when I switched to older node with nvm.

Here my solution. I tried in console `which bower` it gives me `/usr/bin/bower` it was symlink to `/usr/lib/node_modules/bower/bin/bower` so I just removed symlink `sudo rm /usr/bin/bower` and removed module itself `rm -rf /usr/lib/node_modules/bower` and installed bower again `npm i -g bower`. After that was no error

[2017-07-22 18:04] atever commented on #14371
I'd like to give it a try.

[2017-07-22 18:08] shivanth commented on #14426
I take this up ...

[2017-07-22 18:18] piranna commented on #9707
Seems [this patch](https://github.com/nxhack/openwrt-node-packages/commit/d7669faa3dd2d73cab41237a49bdafa9d0394be6) from @nxhack fix it, can some of the maintainers point out if it's in the correct way?

[2017-07-22 18:38] bnoordhuis commented on #14425
What happens when you use `node::MakeCallback()` instead of `v8::Function::Call()`?

[2017-07-22 20:25] refack commented on #14206
This seems to creep up and actually segfaults `AtExitWithArgument`:
[code]

[2017-07-22 21:23] refack opened #14430 "[v6.x] test: investigate test-fs-read-buffer-tostring-fail"
* **Version**: `v6.x-staging`
* **Platform**: macOS
* **Subsystem**: test

[code]
https://ci.nodejs.org/job/node-test-commit-osx/11278/nodes=osx1010/

[2017-07-22 21:25] refack commented on #14430
Test file - https://github.com/nodejs/node/blob/v6.x-staging/test/parallel/test-fs-read-buffer-tostring-fail.js
/cc @nodejs/platform-macos @nodejs/streams @nodejs/buffer

[2017-07-22 22:22] refack commented on #14395
@jerrywdlee WSL (Ubuntu on Windows) isn't officially supported, mostly because it's an experimental Windows feature and has issues at the OS level which are beyond our control.

I'll look into this anyway, just to check where is the fault (node or Windows).

[2017-07-23 01:29] not-an-aardvark opened #14432 "Inspector profiling can't be stopped or viewed after script finishes running"
* **Version**: Node 8.2.1, Chrome 59.0.3071.115
* **Platform**: macOS Sierra (10.12.5)
* **Subsystem**: inspector

When using the Profiler to measure performance in Chrome, it seems to be impossible to stop the profiler and view the data after the script has finished running.

Reproduction:

1. Create a file (`chrome-inspector-test.js`) that runs for 5 seconds and then exits:

[code]
1. Run it wit

[2017-07-23 02:38] Trott commented on #14424
Saw it somewhere else. Hope this one isn't going to pop up too frequently....

https://ci.nodejs.org/job/node-test-commit-arm/11038/nodes=ubuntu1604-arm64/console

[code]

[2017-07-23 02:53] refack commented on #14405
Sometimes I wish GitHub would add 😭 as a reaction.

[2017-07-23 03:01] refack commented on #14405
Actually, beside being ugly `C:.` is correct (as in `c:` is for the drive, `.` is for current directory)
[code]

But I agree that `path.format(path.parse(path.join('C:'))) === 'C:C:.'` is a bug.

[2017-07-23 03:06] refack commented on #14405
`path` should not only be platform independent, it _should_ also be stateless, performing pure string manipulation with no system calls. So we have two issues here resolving `C:` is state dependant, and resolving `.` is state dependant... 🤷‍♂️

[2017-07-23 03:09] losfair commented on #14425
It seems to work with `node::MakeCallback()`.

[2017-07-23 03:09] #14425 closed

[2017-07-23 03:14] TimothyGu commented on #14405
@tniessen It might be helpful to look at what other platforms are doing. Python 3.5.3 does:

[code]

From what I'm reading in this thread, the `C:.` -> `C:` normalization should be expected and correct, and it is IMO what we should do as well. On the other hand, Python's `ntpath.join` doesn't normalize the path after returning, so joining `'C:'` and `'.'` returns `'C:.'`.

About `parse`, I guess n

[2017-07-23 03:15] mscdex commented on #14432
/cc @nodejs/v8-inspector

[2017-07-23 03:27] gibfahn commented on #14371
Go for it, if you have any problems just ask here. Once you have something just raise a PR, if it's not finished put `WIP` in the title. That way people can give you feedback on your proposed change.

[2017-07-23 03:29] TimothyGu commented on #14405
Here's the Python equivalent for `parse`:

[code]

`PureWindowsPath` normalizes the path (as seen in the last pair of lines), but otherwise I think it's pretty consistent with what I proposed above. Our `root` is basically Python's `anchor` BTW.

[2017-07-23 03:54] mrpeu commented on #11520
I have this problem on Sierra but it works as I expect it on Win10.
As soon as I set a _cwd_, I get the EONENT error. I can reproduce it simply in the REPL with
:+1: `require('child_process').spawn('ls', [], {stdio:'inherit'})`
:-1: `require('child_process').spawn('ls', [], {stdio:'inherit', cwd:'~/projects'})`
`> Error: spawn is ENOENT`

I succeed to use a _cwd_ on Win10 with `...spawn('dir'...`

[2017-07-23 03:59] Manish-Giri opened #14433 "Upgrading Node to v8 does not update npm to v5"
Upgrading to Node v8 by downloading the installer from the Nodejs site does not seem to upgrade npm to v5, on Windows. Although it does so on mac.

Screenshots -

On Windows -
![image](https://user-images.githubusercontent.com/11348778/28496454-d404f856-6f39-11e7-9c9e-dd1ed22c3650.png)

On Mac -
![image](https://user-images.githubusercontent.com/11348778/28496457-e120af94-6f39-11e7-9ddb-4edb45c5c0

[2017-07-23 04:25] gibfahn commented on #14433
What do the following print?

[code]

most likely culprit is a rogue npm in a different directory that's earlier in the `%PATH%` than the `npm5` you just installed.

cc/ @nodejs/platform-windows in case anyone else can reproduce.

[2017-07-23 08:54] XadillaX commented on #11520
How about add an option `checkCWD`?

something like:

[code]

[2017-07-23 09:36] XadillaX commented on #13921
Could you give a minimum code to reproduce this problem?

[2017-07-23 09:49] tniessen commented on #14405
Yes, it is correct, but I am not entirely sure we should prefer that over `C:` without the dot (see python ↑). Apparently, `C:.` comes as a surprise to many people. The main question is whether `C:` behaves the same as `C:.` when given as input to other API functions.

@TimothyGu Sounds good. Your interpretation of `parse` seems to be reasonable. We are still stuck with the problem of implementing

[2017-07-23 09:53] XadillaX commented on #12920
Could you provide your code?

[2017-07-23 09:57] XadillaX commented on #12888
The problem is, lots of us use this "feature" to test if the environment is browser of Node.js.

eg.

[code]

Refer: https://github.com/XadillaX/fbibik-json/blob/master/fjson.js#L313

[2017-07-23 10:00] XadillaX commented on #12888
Some additional code:

[code]

[2017-07-23 10:24] refack commented on #14405
There's also my suggested https://github.com/nodejs/node/issues/13887#issuecomment-310919341 opt-in way, either:
[code]
or
[code]

[2017-07-23 11:57] TimothyGu commented on #14405
@tniessen This issue is about path normalization (which doesn't depend on the local file system), not resolution.

[2017-07-23 13:44] tniessen commented on #14405
@TimothyGu I know, I just thought the other problems were related enough to bring them up here. Sure, this issue can be solved independently.

[2017-07-23 15:11] darky opened #14436 "Inspector. Console. require is not defined"
* **Version**: 8.2.1

![image](https://user-images.githubusercontent.com/1832800/28500518-4e8850bc-6fd2-11e7-9dda-0e610228f86d.png)

[2017-07-23 15:22] bnoordhuis commented on #11520
Check-before-use is an anti-pattern.  It's not something to codify in the API.

[2017-07-23 15:24] vsemozhetbyt commented on #14436
I cannot reproduce on Windows 7 x64:
<details>
<summary>output:</summary>

[code]
</details><br>

[2017-07-23 15:27] vsemozhetbyt commented on #14436
Did you get this in a simple Node.js REPL (in a terminal) on in a some IDE?

[2017-07-23 15:28] darky commented on #14436
Kubuntu 17.04

In terminal ok, inspector wrong

[2017-07-23 15:29] darky commented on #14436
VSCode also wrong (seems because it uses inpector)

[2017-07-23 15:33] TimothyGu commented on #14436
@darky Can you provide the **exact steps** for reproducing? Inspector has a lot of different scenarios. Is Node.js execution paused? If so, how is it paused (through a `debugger;` statement, upon startup through `--inspect-brk`)? Does this happen only with a script or with all scripts?

[2017-07-23 15:34] bnoordhuis commented on #14436
require() isn't currently implemented but see #8837 (which unfortunately has bitrotted, cc @jkrems.)

[2017-07-23 15:37] darky commented on #14436
@TimothyGu, all simple:
Run `node --inpsect index.js` -> go to inspector, console -> run require

[2017-07-23 15:37] mrpeu commented on #11520
To make it clear: the path I give in _cwd_ is valid.

[2017-07-23 15:37] vsemozhetbyt commented on #14436
I cannot reproduce with Node.js 8.2.1 and Google Chrome 62.0.3164.0  canary (64-bit)
<details>
<summary>screenshot:</summary>

![1](https://user-images.githubusercontent.com/10393198/28500730-08082c3a-6fd6-11e7-9e5f-8e13aeff81da.png)

</details><br>

[2017-07-23 15:39] darky commented on #14436
Try without debugging

[2017-07-23 15:40] TimothyGu commented on #14436
What is in your `index.js`?

[2017-07-23 15:42] darky commented on #14436
Anything, that keep node.js process (simple http server for example)

[2017-07-23 15:43] TimothyGu commented on #14436
@darky Ah, in that case #8837 would help. Usually `require` works when the debugger is paused within a script, which is what @vsemozhetbyt did.

[2017-07-23 15:49] darky commented on #14436
Cool! Seems we will wait

that mean:

Before this will be merged :disappointed:

[2017-07-23 16:08] jkrems commented on #14436
No, I don't think we need to pull other stuff into that first PR. We should land the `require` first and then we can extend that interface over time.

[2017-07-23 16:24] shivanth commented on #14426
I've modified REPL so that `...` is not considered as a REPL keyword anymore.
I'm seeing different behviours on REPL of `node inspect -p` and `node`. On the inspector I see the expected
[code]

But on `node` REPL, I see that it's expecting more input
[code]

What could be the reason ?

[2017-07-23 16:58] atever commented on #14371
@gibfahn thx,  there one question that the added [Version](https://github.com/nodejs/node/pull/14435/files#diff-80aff3ac9e9dd24f8cafe60d4ff3942aR773) is Correct？

[2017-07-23 17:17] bnoordhuis commented on #11520
@mrpeu Probably because you use `~` in the file path.  No shell expansion is done.

[2017-07-23 18:07] mrpeu commented on #11520
Oooh! Thank you very much!
That means my message polluted this conversation, sorry about that

[2017-07-23 18:38] tniessen commented on #14405
@TimothyGu According to our documentation, `root` should be a part of `dir` in your last examples in https://github.com/nodejs/node/issues/14405#issuecomment-317225659.

[2017-07-23 21:34] refack commented on #14426
@shivanth I'm not sure `...[]` is valid expression. `[...[]]` is...
The inspect console is a special REPL implemented by `node-inspect` so it behaves different than the regular REPL. They are both trying to say that `...[]` is an invalid expression.
* chrome
![image](https://user-images.githubusercontent.com/96947/28503053-fab69dc2-6fcc-11e7-93cb-51b849560622.png)
* cli:
[code]

[2017-07-23 21:37] refack commented on #14426
P.S. IMHO what you showed in the comment https://github.com/nodejs/node/issues/14426#issuecomment-317264657 above is the correct behaviour

[2017-07-23 22:32] refack commented on #14253
@vsemozhetbyt I think `no-unused-vars` on it's own will get wider support (personally I like `all` with an `^_+$` ignore pattern)

[2017-07-23 23:58] TimothyGu commented on #14405
@tniessen Cool. I'll implement this in an upcoming PR.

[2017-07-24 01:12] gibfahn commented on #11520
@bnoordhuis why is that?

[2017-07-24 02:43] TimothyGu commented on #14405
I just opened https://github.com/nodejs/node/pull/14440 after auditing all `path` functions, which fixes `parse()` and adds tests to make sure all of the pure functions work with volume-relative paths. I intentionally did not change `path.normalize('C:') === 'C:.'` however, since `path.normalize('') === '.'` under the current Node.js implementation and the current behavior just seems to be consist

[2017-07-24 03:36] BridgeAR opened #14441 "assert: deepEqual inconsistencies"
* **Version**: 8.1.0 - 8.x.x
* **Subsystem**: assert

Seems like #13318 introduced a regression where deep equal objects are now failing.

Two small test cases:
[code]

I am not sure if I find the time to look into it in the next few days, so I opened the issue about it.

[2017-07-24 04:22] Hobgoblin101 commented on #14046
Tested in latest LTS (6.11.1) and current (8.2.1) still have the problem. However my friend (runs Ubuntu, on node v8.2.1) does not have the same problem.

[2017-07-24 05:31] anks333 opened #14442 "Common System Errors"
Is there is any way to catch Common System Errors like EMFILE, ENOENT etc,

* **nodejs 8.0.0**:
* **Ubuntu**:

[2017-07-24 05:39] mscdex commented on #14442
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

[2017-07-24 05:40] #14442 closed

[2017-07-24 06:58] ggkitsas commented on #9707
@piranna: I think this patch is also accompanied with [these](https://github.com/nxhack/openwrt-node-packages/tree/master/node/patches) patches performed over the node's sources (per node version).

[2017-07-24 08:14] thekip commented on #8369
Anyone figured out why debugging with inline sourcemaps works for someone, and doesn't works for another?

May be different compiler options? Or something?

[2017-07-24 08:29] bnoordhuis commented on #11520
@gibfahn Because it's vulnerable to race conditions: there is a time window between the check and the use where the resource can change or disappear.  Every TOCTOU bug ever is a variation on that theme.

@mrpeu No problem, hope it's working for you now.

[2017-07-24 09:14] benjamingr opened #14444 "Rename possibly offensive terminology in child_process"
Currently, we use the terminology "Child died" when child processed get terminated.

We discussed the terminology in https://github.com/nodejs/node/pull/14293#discussion_r127606290  , copying my comment from there:

@jasnell suggested we change the terminology to "Child exited". I agree it's better terminology, in general I think we should avoid irrelevant stuff that might cause people to feel une

[2017-07-24 09:26] benjamingr commented on #14444
### Impact

Since it is internal code, I think we can just remove it safely from here (and other places). To be on the safe side I did a GitHub search. Looking at https://github.com/search?l=JavaScript&q=%22Child+died%22&type=Code&utf8=%E2%9C%93 - there certainly are usages of the terminology (or have a fork of node in their repo), but nothing relying on anything internal (I went through the 'chil

[2017-07-24 09:41] TimothyGu commented on #14444
+1 for semver-patch.

[2017-07-24 09:59] bnoordhuis commented on #12920
Closing for lack of follow-up.  As @KryDos pointed out, it's possible to set multiple WWW-Authenticate headers.

In fact, I don't think the core http library will coalesce WWW-Authenticate headers even if you wanted it to.  Perhaps the issue the OP ran into was with a third-party library.

[2017-07-24 09:59] #12920 closed

[2017-07-24 10:33] piranna commented on #9707
I'm not sure, but now you've make me doubt... Maybe @nxhack should do some pull-requests for them?

[2017-07-24 11:23] gaurav-moonfroglabs opened #14445 "Nodejs process restart doesn't kill child threads and they become zombie process."
Hi,

We are using forever to start our nodejs server. We have been using cluster module. So whenever we restart the process using forever restart, so we see that process gets restarted and new workers gets created but sometimes old workers are still running and i see they are consuming some memory but no cpu and not processing anything (as i have put logs to print worker id for every request proce

[2017-07-24 11:27] bnoordhuis commented on #14445
Any reason to report that here and not against forever?

[2017-07-24 11:40] mcollina commented on #14430
@refack I don't think it's possible to _not_ have this test as flaky. We are generating a very big file on memory, then we try to save that extremely big file on disk, and then load it. Everything can happen in all this I/O and GC() activity.

However, one thing we can do: convert https://github.com/nodejs/node/blob/v6.x-staging/test/parallel/test-fs-read-buffer-tostring-fail.js#L29-L33 into the p

[2017-07-24 11:42] gaurav-moonfroglabs commented on #14445
Because forever has nothing to do with this bug, what forever do is managing the process not the threads, but when you restart process by sending `sigkill` the master gets killed and child process doesn't. We are facing this issue now when we moved to node 6.10.3 and it was working fine in node  4.2.6.

[2017-07-24 11:48] refack commented on #14430
Also in the worse case, could create a PR adding
[code]
to https://github.com/nodejs/node/blob/v6.x-staging/test/parallel/parallel.status#L7

[2017-07-24 11:49] bnoordhuis commented on #14445
Then you (where you = forever or your script) should send a signal to the process group, not just the master process.  SIGKILL kills a process without giving it any chance to clean up.  That has nothing to do with node.js and everything with UNIX process management.

[2017-07-24 12:32] wengeezhang opened #14446 "async hooks promise not destroyed"
* **Version**: node -v 8.2.1
* **Platform**: window 7  64-bit
* **Subsystem**:

my code is like follows:

[code]

the output is:

id: 3, type: PROMISE, triggerId: 2
before 3 3
after 3 3

why the Promise async resources' destroy callback not triggered?

[2017-07-24 12:36] refack commented on #14336
https://github.com/nodejs/node-gyp/pull/1203 might solve this

[2017-07-24 12:47] TimothyGu commented on #14336
@refack It's unrelated.

[2017-07-24 12:50] bnoordhuis commented on #11771
I was hoping to get feedback from @indutny but it seems it was not to be.  I went ahead and opened #14447.

[2017-07-24 14:05] bnoordhuis commented on #14445
I'll close this out, the previous comment said all there is to say.  If you still feel this is a node.js bug, please post a standalone test case (i.e., without forever.)

[2017-07-24 14:05] #14445 closed

[2017-07-24 14:09] AndreasMadsen commented on #14446
Promises are only destroyed by the V8 garbage collector. If you give the process some time it should eventually destroy them.

[2017-07-24 14:13] lll000111 opened #14448 "Documentation for "path", "bytesRead", "bytesWritten" properties should also be in stream.html, not just fs.html"
Relating to https://github.com/nodejs/node/issues/4327 and https://github.com/nodejs/node/pull/4368

I just searched and searched and had to resort to various tricky Google queries to find that the `path` property of stream(!) objects is not documented on the "stream" doc page - but on the "fs" page.

https://nodejs.org/dist/latest-v8.x/docs/api/fs.html#fs_writestream_path

I think this belongs to

[2017-07-24 14:16] addaleax commented on #14448
Yes, that’s because non-fs streams don’t have that property (for example, sockets).

Yes, `fs.WriteStream` and `stream.Writable` are different things – `fs.WriteStream` is a subclass of `stream.Writable`.

[2017-07-24 14:19] lll000111 commented on #14448
Okay, maximum confusion (here). We have a WriteStream and a WriteStream. The entries for both (read/write) streams on the "fs" page say

and

[2017-07-24 14:25] mjsalinger commented on #14402
We've seen this now in a completely seperate service, which crashed twice (with errors occuring in different places in the code).

*Crash 1*
[code]

*Crash 2*
[code]

This is now three seperate crashes, coming from two different applications and multiple places within the code.

[2017-07-24 14:27] gireeshpunathil commented on #11855
In a sufficiently warmed-up webapp (assuming the most common node use case), do the v8 threads incur any significant CPU work? I thread-profiled a client server app with ~20% CPU consumption by the server process, and could not find v8 threads as contributing. Any suggested (v8) tunables to get more conclusive info?

[2017-07-24 14:32] mhart commented on #3175
Great news! v8 has upped the limit to ~1GB on 64-bit archs: https://chromium-review.googlesource.com/c/570047

Hopefully it comes with a nicer error message when it fails too (although that's possibly still a Node.js responsibility?)

[2017-07-24 14:42] bnoordhuis commented on #14402
Install llnode and poke around in the core dumps, perhaps it gives some clues.  The second one suggests a lot of dynamic code generation (or perhaps merely lazy code generation at an inopportune time, in which case `--nolazy` might make a difference.)

[2017-07-24 15:01] #7131 closed

[2017-07-24 15:04] Fishrock123 commented on #14433
Isn't this the same issue we've had the last few majors?

[2017-07-24 15:06] Fishrock123 commented on #14446
Yes, exactly what @AndreasMadsen said.

(Generally avoid holding onto any resource of handle for an indeterminate amount of time.)

[2017-07-24 15:06] #14446 closed

[2017-07-24 15:11] AndreasMadsen commented on #14238
Not true. `triggerAsyncIdScope()` will in no way affect `async_hooks.triggerAsyncId()`, `async_hooks.triggerAsyncId()` is only directly affected by `emitBefore()` and `emitAfter()`. What you write in the follow-up message makes more sense, so maybe you realized this yourself.

---

Your new implementation appears to solve all the listed issues I initially mentioned. Thus, I think it is an acceptab

[2017-07-24 15:11] shivanth commented on #14426
@refack , you mean to say that the REPL should wait for more input after seeing `...[]` ?

[2017-07-24 15:43] fhinkel commented on #14220
The deleted `bool ForceSet()` method is not used anywhere. The now deprecated `Maybe<bool> ForceSet()` is used in async-wrap.cc. Opening a PR to replace it with `DefineOwnProperty()`, see https://github.com/nodejs/node/pull/14450.

[2017-07-24 15:47] addaleax commented on #14220
@fhinkel I think we should still keep that method around for addon code, which is something we can’t influence easily.

[2017-07-24 15:48] fhinkel commented on #14220
You're right!

[2017-07-24 15:56] bnoordhuis commented on #14424
https://github.com/nodejs/node/pull/14451

[2017-07-24 16:05] refack commented on #14426
I think so... That's how the REPL behaves with invalid expressions:
[code]

[2017-07-24 16:09] refack commented on #14336
Hmmmm it's `make` not `configure`... so maybe https://github.com/nodejs/node/issues/12786#issuecomment-298652440

[2017-07-24 16:31] TylerBrock commented on #8871
Must be something different on my end because THP is already set to madvise. Thanks for the clarification.

[2017-07-24 16:48] owenallenaz commented on #14420
If the RSS eventually shrinked, that would be fine. We're seeing permanent, unbounded growth in the RSS. In the test case I posted, after 60s, we fully reset the WeakMap(), and yet, the RSS for it is never reclaimed even if you let the test case continue to run for minutes. Now, if instead of storing `obj` via `map.set(obj, true)`, we store it in a plain array `arr.push(obj)`, and then after 60 se

[2017-07-24 16:56] #12701 closed

[2017-07-24 17:08] silverwind commented on #14426
Which is pretty weird in itself imho, but yes, this seems to be the correct behaviour right now.

[2017-07-24 17:29] nrjpoddar commented on #7914
Is there a resolution for this bug? PR #7946 seems to be in a stalled state?

[2017-07-24 18:12] Trott commented on #14336
Editing title to say POSIX since this is on Linux as well as macOS.

[2017-07-24 18:33] andrasq commented on #14445
@gaurav-moonfroglabs normally a cluster worker exits when the master closes the IPC socket it uses to talk to it.  Not sure why v6 would behaves differently than v4 for you (my simple little test worked, the workers exited when the master was killed with SIGKILL).  You might try to trace what the workers are doing to not react to the socket closing.

[code]

[2017-07-24 18:36] sam-github commented on #14444
Sounds good, just make sure not to use "exited" unless it specifically refers to a process exiting. Processes (on unix) can terminate via exit, or terminate via signal. Terminate is the generic technical term used in the man pages to cover both cases, see discussion of WIFEXITED vs WIFSIGNALED in http://man7.org/linux/man-pages/man2/waitpid.2.html.

[2017-07-24 18:49] andrasq commented on #11855
@gireeshpunathil the v8 threads mostly handle i/o, I've only seen an uptick in thread cpu with heavy garbage collection activity.  Nodejs is single-threaded, so the main thread will normally account for almost all the cpu usage.  One can introduce some concurrency with the `cluster` module.

[2017-07-24 19:00] aldrakos opened #14456 "Node 8 crashes when trying to connect to WebSocket with hapijs/nes : c:\ws\src\env-inl.h:131: Assertion `(trigger_id) >= (0)' failed"
* **v8.2.0**:
* **Windows 10 64-bit (1703 - 15063.483)**:
* **c:\ws\src\env-inl.h:131**:

I am using nes 6.4.3 on a hapijs 16.5.0 server.
On the client side (separate app), I am using AureliaJS with nes 6.4.3, of which I import only nes/client and use in a websocket service. Up till upgrading to node 8 (having used node 6 and node 7 versions) everything worked ok.

After upgrading to node 8 (clean

[2017-07-24 19:16] alexwalter88 opened #14457 "Startup time 5 times slower with node 8.1.4"
* **Version**: 8.1.4
* **Platform**: darwin

[code]

[code]

The slowness persists in 8.2.1 as well.

[2017-07-24 19:23] addaleax commented on #14457
I think this is essentially a duplicate of https://github.com/nodejs/node/issues/14171?

[2017-07-24 19:40] mscdex commented on #14456
Did you try node v8.2.1?

[2017-07-24 20:53] Trott commented on #14178
Saw another one today...

https://ci.nodejs.org/job/node-test-binary-windows/10066/RUN_SUBSET=1,VS_VERSION=vs2015,label=win2012r2/console

[code]

@nodejs/platform-windows

[2017-07-24 22:18] MSLaguana opened #14461 "Are asserts intentionally left compiled in?"
* **Version**: master

I was investigating perf in node-chakracore, and I noticed that there were a lot of calls to `IsExternal`. I was surprised to find that it was essentially due to this line: https://github.com/nodejs/node/blob/master/src/env-inl.h#L275

According to https://github.com/nodejs/node/blob/master/src/util.h#L130 `ASSERT` is enabled unless `NDEBUG` is defined and I don't see anywhe

[2017-07-24 22:20] mattoni opened #14462 "HTTP/2 PUSH frames empty with spdy"
* **v8.2.1**:
* **Linux a1da17d8416c 4.9.36-moby #1 SMP Fri Jul 14 17:47:34 UTC 2017 x86_64 Linux**:

https://stackoverflow.com/questions/45251150/http-2-pushed-javascript-not-loading

I'm building an HTTP/2 server with PUSH enabled on the [spdy](https://github.com/spdy-http2/node-spdy) lib. Everything works perfectly without push enabled, but when I enable it the server is pushing empty frames.

[2017-07-24 22:23] aldrakos commented on #14456
Seems I jumped the gun. It is indeed fine with 8.2.1. Thanks!

[2017-07-24 22:23] #14456 closed

[2017-07-24 22:23] mscdex commented on #14462
You should post this to the `spdy` issue tracker instead. This issue tracker is for node core issues/feature requests/etc. only.

[2017-07-24 22:23] #14462 closed

[2017-07-25 00:44] #13539 closed

[2017-07-25 02:53] wengeezhang commented on #14446
[code]

i want to implement a 'long stack trace' using async hooks like this:

- store stack in a map when async resource's initiated

- restore the stack in 'before' callback.

how can i delete the stack in the map?
@Fishrock123

[2017-07-25 03:49] robertjchristian commented on #13361
Could be conflicts in node_modules folder.  Good idea to make sure it's clean.

Try:  `rm -rf node_modules && npm install`

[2017-07-25 04:18] Trott commented on #14178
Also this one:

https://ci.nodejs.org/job/node-test-binary-windows/10047/RUN_SUBSET=0,VS_VERSION=vs2015,label=win2012r2/console

[code]

[2017-07-25 04:38] gireeshpunathil commented on #11855
@andrasq - thanks. But sorry, your explanation seems orthogonal to my understanding:

which I/O? Are you talking about the primordial (main) thread? I doubt that is classified under v8 thread.

in this discussion and in #14001 we are definitely talking about a number of background threads from v8 module, that is different from the priomordial thread and libuv worker threads. And this discussion fo

[2017-07-25 04:58] misterdjules commented on #13020
Fixed by 2da1af0a9320d613ca0107ed39087e23b9719369.

[2017-07-25 05:02] Trott commented on #14178
Pinging folks who have worked on the test file: @aqrln @danbev

[2017-07-25 05:47] XadillaX commented on #14441
What's the expected result?

[2017-07-25 06:15] Trott commented on #14441
@XadillaX In the first case, the expected result is probably that no AssertionError is thrown (which is the behavior in 8.0.0), and certainly that the result of `assert.deepEqual(a, b)` is the same as `assert.deepEqual(b, a)`.

In the second case, I think the behavior of both 8.0.0 ("Maximum call stack size exceeded") and current master branch (`assert.deepEqual(c, b)` is fine but `assert.deepEqua

[2017-07-25 06:27] AndreasMadsen commented on #14446
In terms of `destroy` your implementation is fine. You are right that the promises aren't immediately destroyed and thus the stack traces are also not immediately destroyed. However, this is fine, what is important is that they are eventually destroyed, otherwise you have a memory leak.

PS: You should be aware that before and after can be called multiple times in the same tick. (e.g. ` before(1),

[2017-07-25 07:14] mrkmarron commented on #13877
It was able to spend some time on this last week updating the snapshot/inflate code in ChakraCore to deal with some of the additional external data references that appear when running in a Node host. At this point the largest problem I am running into is getting Node to reset the list of native pointers before inflate. I worked around this with a pretty hard-coded hack but it would be great if the

[2017-07-25 07:25] 029xue commented on #7593
Downgrade to 7.10.1 to work-around the issue. Keep watching on this.

[2017-07-25 08:21] bnoordhuis commented on #11855
Compiler and GC threads.

perf(1)?

Depends on the application.

[2017-07-25 08:28] xiederen opened #14470 "The latest version of node installed on CentOs6.7 failed"
[code]

[2017-07-25 08:32] bnoordhuis commented on #14470
Update your compiler, it's too old.  Prerequisites are listed in BUILDING.md.  Good luck.

[2017-07-25 08:32] #14470 closed

[2017-07-25 08:40] bnoordhuis commented on #14461
Yes, it's intentional; node has always been compiled with asserts enabled.

In fact, we should probably just get rid of ASSERT and replace it with CHECK macros.  I'll do that later today if I have time.

[2017-07-25 08:40] Jeyanthinath commented on #14430
Can I take and contribute to this ?

[2017-07-25 08:40] #14457 closed

[2017-07-25 08:42] bnoordhuis commented on #14430
@Jeyanthinath Go for it.

[2017-07-25 08:54] jorangreef commented on #12114
Here's the latest on this with node `v8.2.1`.

Generated by https://github.com/ronomon/base64/fast-slow.js:

[code]

The Base64 reference is at https://github.com/ronomon/base64.

[2017-07-25 08:54] wengeezhang commented on #14446
@AndreasMadsen Thanks for your info:

i've inspected your implementation and gained much.
However,when i use your implementation to test
[code]
i got the same result:
**after half an hour,the traces map in your implementation still has 'the Promise' stack.  If the site is busy(more and more requests come),then the 'traces' will eat more and more memeroy**

[2017-07-25 11:13] trevnorris commented on #14238
Yup. That's the case.

-----------------

NOTE: While writing some example code your code in https://github.com/nodejs/node/issues/14238#issuecomment-316455408 clicked. I believe the reason it hadn't until now is because the paradigm was so drastically different from how `triggerAsyncId` is intended to function. Allow me to explain.

I'll start with an important use case for `initTriggerAsyncIdSco

[2017-07-25 11:58] gireeshpunathil commented on #11855
thanks @bnoordhuis - that explains.
In terms of measurements, perf(1) did not help to get thread-wise split up (there is a `-t` flag, but behavior is weird) so I was using AIX `tprof`and the result, as I mentioned earlier, suggests that v8 threads contribute very less (not displayed in the top consumers)

I agree this depends on the workload characteristics of the application. Given:
(i) every new

[2017-07-25 12:01] fvdm opened #14475 "dns: Add DNSSEC support"
* **Version**: 8.2.1
* **Platform**: 64-bit (OSX 10.17, Ubuntu Server 17.04)
* **Subsystem**: dns.js

With today's security requirements and Node.js being an important framework, DNSSEC support and validation are becoming very important for all sorts of applications ranging from API clients to IoT devices.

Node **dns.js** is missing:

* Basic support to simply allow RRSIG records in the result, i

[2017-07-25 13:45] Trott commented on #14430
Should probably move the test to `sequential` regardless of what other fixes/workarounds are/aren't applied.

[2017-07-25 14:16] mscdex commented on #14475
FWIW you should already be able to use DNSSEC via `dns.lookup()` (which is what all of node core uses by default) if your resolver is properly configured.

For c-ares (which powers `dns.resolve*()`), there does not seem to be DNSSEC support yet, so I think that would need to be added upstream first.

[2017-07-25 15:11] Jeyanthinath commented on #14430
PR #14472

[2017-07-25 15:26] loretoparisi opened #14479 "Native module: FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
node `v6.9.4`

The calling script declares `--max_old_space_size=8000`, so it's a OOM that happens as native module, that seems to retain the allocated heap memory or the native module interface.

[code]

[2017-07-25 15:41] SlugFiller opened #14481 "API issue: No way to abort file open"
This is an issue I've recently come across in production code. It's not a technical issue, but rather a problem with the File System API itself (As described by the, at the time of this writing, v8.2.1 documentation).

What I was doing was opening a named pipe for writing, while also starting a process that would read from it. However, there was a chance that starting the process would fail, or be

[2017-07-25 16:03] mscdex commented on #14479
Your script is allocating and holding onto too much memory. General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

[2017-07-25 16:13] loretoparisi commented on #14479
@mscdex Thanks. If I run with `--prof` how can I be sure that this is due to a memory leak of increasing allocation rather than an object instance that is holding to much memory like an array, etc.?

[2017-07-25 16:57] sam-github commented on #13772
I don't think the output format should be changed, the message should just be repeated in a loop, once for each listen that was done in `InspectorSoketServer::Start()`

[2017-07-25 16:58] sam-github commented on #13772
And to be clear, I don't think thats semver-major. Any code grepping output will find one of the instances, first or last, who knows (but its random right now which of the server socket addresses is printed anyway).

[2017-07-25 17:17] bnoordhuis commented on #14479
You should report this to https://github.com/dachev/node-cld.  We can't help you, it's not an issue with node.js itself.

[2017-07-25 17:17] #14479 closed

[2017-07-25 17:22] bnoordhuis commented on #14481
Please post a test case or steps to reproduce because it's not clear to me what you mean.  When you say "named pipe", do you mean a FIFO or a UNIX socket?

[2017-07-25 17:55] emaste commented on #14384
I'm not sure why it would be a problem to use a newer Clang to build node packages in FreeBSD 10 - we have many packages that depend on having a newer Clang. (And we can't update Clang in 10.x, because we want 10.x to be buildable from older FreeBSD releases which do not include a compiler that can compile C++11 software). That said, I'm not involved in packaging node on FreeBSD so I could be miss

[2017-07-25 18:57] RohanPatil1 opened #14484 "npm start does not work anymore"
* **Version**:
* **Platform**:
* **Subsystem**:

I started learning with angular2 js recently.At the beginning, the command 'npm start' was working fine but one fine day it gave an error to all the files whether its from github or my coded ones...
I have installed node of version -->v8.2.1
I am using --->Windows x64
![capture](https://user-images.githubusercontent.com/29712624/28588751-333d76ca-71

[2017-07-25 19:07] mscdex commented on #14484
This should probably be posted on the [npm issue tracker](https://github.com/npm/npm/issues) instead.

[2017-07-25 19:15] Trott commented on #14484
This does not seem to be an issue concerning Node.js core, so I'll close this.

Consider asking on any or all of [StackOverflow](https://stackoverflow.com/), the #Node.js channel on Freenode IRC, or the [Node.js general help issue tracker](https://github.com/nodejs/help).

[2017-07-25 19:15] #14484 closed

[2017-07-25 19:20] #11768 closed

[2017-07-25 19:47] gabrielschulhof commented on #14367
@TimothyGu I'm proposing that we expose the ability to assign private properties via a set of N-APIs.

[2017-07-25 20:47] mosesn commented on #11552
@jasnell now that you've landed h2, can we revisit h2c?

[2017-07-25 21:17] not-an-aardvark opened #14487 "util.inspect is slow for large sparse arrays"
* **Version**: 8.2.1
* **Platform**: macOS
* **Subsystem**: util

1. Open the REPL
1. Enter `Array(100000000)`

After about 15 seconds, `[ <100000000 empty items> ]` is printed.

In contrast, entering the same thing into the Chrome devtools console results in an output almost immediately.

It looks like this happens because `util.inspect` iterates from 0 to `array.length`. It might be better to it

[2017-07-25 21:24] Trott commented on #14441
Proposed known-issue test for this in https://github.com/nodejs/node/pull/14488

[2017-07-25 21:27] vsemozhetbyt commented on #14487
BTW, v4.8.4 just crashes:
<details>
<summary>Label (click me):</summary>

[code]
</details><br>

[2017-07-25 21:31] vsemozhetbyt commented on #14487
v6.11.1 returns immidiately:

<details>
<summary>Output:</summary>

[code]
</details><br>

[2017-07-25 21:34] vsemozhetbyt commented on #14487
Possible cause: https://github.com/nodejs/node/pull/11576

[2017-07-25 22:06] andrasq commented on #14487
indeed.  Versions of node before #11576 examined only the first 100 array elements; with the change they do 100 million `String()` casts.  (iterating over 100e6 elements is very fast, and the `hasOwnProperty` test on each index is fast enough.)

The `String()` cast is a holdover from older versions of the code but is not necessary, letting `hasOwnProperty(1)` coerce the numeric `1` is 17x faster:

[2017-07-25 22:22] not-an-aardvark commented on #14487
Would it be better to iterate over keys instead, avoiding linear-time complexity at all? 1e8 was just an example, but it practice the length could easily be larger (up to 2<sup>32</sup>-1).

[2017-07-26 00:10] SteveCruise commented on #14391
Will then it support import/export?

[2017-07-26 01:24] TimothyGu opened #14490 "C++ linter is not run on src/*/*"
* **Version**: master
* **Platform**: all
* **Subsystem**: build

We use a linter to ensure C++ code quality. However, for files in `src/`, it is currently only run on direct descendants of the directory not on any of its subdirectories ([ref](https://github.com/nodejs/node/blob/85939bd251bc12e7e376fdafde1ce644f8a8013c/Makefile#L895-L908)). This means that the following files are not linted when t

[2017-07-26 02:02] clusteratlas commented on #3851
Noteworthy:

Won't work:
[code]

But this will work:
[code]

[2017-07-26 02:08] TimothyGu commented on #3851
@clusteratlas N.B.: We will not provide support for `--harmony` and many other V8 flags, so if you use them you are on your own. If I were you I'd just use v8.x, which supports ES2015 fully.

[2017-07-26 02:17] BridgeAR commented on #14487
@not-an-aardvark using Object.keys is bad for the average case where arrays do not contain huge holes.

[2017-07-26 02:42] not-an-aardvark commented on #14487
That makes sense (it would result in a new large array being generated in the common case, even when only the first 100 elements will be displayed).

For what it's worth, iterating over the array with a for-in loop would solve both issues.

I don't think removing the `String()` cast is a good solution on its own. It would improve performance in general, but it still wouldn't solve the issue that s

[2017-07-26 02:57] XadillaX commented on #14391
I would like to deprecate `tls.parseCertString()` in runtime via https://github.com/nodejs/node/pull/14249

[2017-07-26 03:16] XadillaX commented on #14475
I think we should open an Issue on c-ares first?

[2017-07-26 05:04] Trott commented on #10166
It seems that we may have not seen this failure for a few months now. I'm going to close this but anyone should feel free to re-open (or comment requesting it be re-opened if GitHub does not allow you to re-open) if they feel that's not the right way to go.

[2017-07-26 05:04] #10166 closed

[2017-07-26 05:16] Trott commented on #11198
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-26 05:16] #11198 closed

[2017-07-26 05:17] Trott commented on #9717
Seems like this is closable, but feel free to comment or re-open if you disagree!

[2017-07-26 05:17] #9717 closed

[2017-07-26 05:22] Trott commented on #7231
It seems like this is a feature request that is unlikely to be implemented, at least not without changes in upstream c-ares. I'm going to close this, but please comment (or re-open) if you think that it should stay open.

[2017-07-26 05:23] #11231 closed

[2017-07-26 05:30] Trott commented on #2853
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-26 05:30] #2853 closed

[2017-07-26 05:33] Trott commented on #11283
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree or are actively working on it or whatever. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-26 05:33] #11283 closed

[2017-07-26 05:34] Trott commented on #11289
Is this close-able at this point or should this remain open?

[2017-07-26 05:37] Trott commented on #11325
I *think* we're all good on this now. @ChALkeR Please re-open if you disagree.

[2017-07-26 05:37] #11325 closed

[2017-07-26 05:43] Trott commented on #11209
This is for quotation marks inside of strings only, right?

I think we should be able to use ESLint's `no-restricted-syntax` to find these things rather than write a custom rule.

/cc @not-an-aardvark

[2017-07-26 05:44] Trott commented on #10930
Is this close-able? Should it remain open?

[2017-07-26 05:49] not-an-aardvark commented on #11209
Yes, that should be possible to do. A selector like `'Literal[value=/\u2019/]'` will match all string literals containing `\u2019`.

[2017-07-26 06:27] mscdex commented on #10930
It would be interesting to see how these changes compare with TurboFan.

[2017-07-26 06:38] Jeyanthinath commented on #14430
New PR #14495

[2017-07-26 07:08] ozjd commented on #7231
It's certainly something that should be in any DNS lib.

I'm getting requests to implement a timeout as some lookups are taking 30s+
https://www.npmjs.com/package/fcrdns

[2017-07-26 07:12] XadillaX opened #14496 "Question about code style: arrow function V.S. callback function"
* **Version**: -
* **Platform**: -
* **Subsystem**: -

I want to discuss the code style of arrow function in Node.js source code.

Maybe  most of you think that `=>` can replace all of anonymous callback functions. So Node.js source code includes lots of arrow functions. e. g.

[code]

[code]

etc.

But IMHO, I think arrow function should only use in some situation that the function is just used a