[2018-05-28 22:46] lfk commented on #15439
Thank you again @gireeshpunathil, really appreciate that you took the time to look into this and provide such a detailed breakdown.

Just for the sake of completeness, in my case the `net.Socket({ fd: ... })` approach doesn't work, it yields a `TypeError: Unsupported fd type: FILE`. But as mentioned earlier, I've got a viable workaround.

[2018-05-28 23:10] Trott commented on #20907
Regarding getting coredumps and/or helgrind output on debug builds: pinging @nodejs/build! Anyone available to help out with this? I'm tied up with travel the next couple days and unlikely to start up on this again in that time.

[2018-05-28 23:13] Trott commented on #20907
@apapirovski @addaleax Feel free to open an issue in the nodejs/build repo requesting SSH access to one or more of the relevant hosts if you'd like to be able to do the debug build and valgrind running yourself!

[2018-05-28 23:21] saschanaz commented on #21001
@bnoordihuis, I opened this because the Node.js installer for Windows adds special alias for npx and that conflicts with npm because of path order.

`gcm npx` points to nodejs where it should point to npm:

[code]

[2018-05-28 23:35] refack commented on #10748
P.S. `configure` can now be called from anywhere:
https://github.com/nodejs/node/blob/9f4bf4ca43bc40f68a05c87081a9bae8736515b1/configure#L38-L39
and using `ninja` instead of `make` allows building from out of tree, so this is essentially implemented.

[2018-05-29 00:02] nmschulte commented on #10748
If you're looking to keep the labels accurate, I guess I should have clarified what I meant by out-of-tree: the artifacts of the build would be pwd local, so you could build different commits / patches to different build directories from the same source repository / directory.

[2018-05-29 00:08] kodemill commented on #19893
@mcollina @vishal7201 I made some progress on this, since it looked like it was orphaned.
@rogalinka sorry, I just missed your comment.

[2018-05-29 00:35] mhdawson commented on #20642
@sgallagher ping

[2018-05-29 00:37] sgallagher commented on #20642
Pong. This isn’t forgotten, but it’s taking me longer than anticipated to get you access to a machine. I’m out of the office today, but I’ll look into things tomorrow. Apologies on the delay.

[2018-05-29 00:57] JamesShaver commented on #20538
Ahh, finally!  Same 1603 error here.  Stopped Avast for 10 minutes, and the install worked fine - Performance counter and ETW both enabled.

[2018-05-29 03:37] laykun commented on #10819
I wasted a whole bunch of time figuring out why my child processes were crashing due to invalid debug options even when I was passing in a new inspect port to use. Turns on I was using null as my args argument assuming it would NOT ignore the third argument in the fork function. This is very odd behaviour and will cost more time. The function should process arguments on a case by case basis and no

[2018-05-29 04:57] gireeshpunathil commented on #15439
@lfk - sure. Do you want to attempt a documentation change to this effect and make it a PR? I guess you can best explain the limitation being the user who experienced it. Let me know!

[2018-05-29 07:20] hashseed commented on #20977
I prefer the route through inspector because it already exists and has coverage via Chrome Devtools.

[2018-05-29 08:27] tniessen commented on #20538
Response from Avast:

[2018-05-29 09:02] gireeshpunathil commented on #18016
@elibarzilay - sorry, missed to read your comment in time.

because each child is created by Node independently, that opens up new pipes. Closing one end may have side effects, so piping them as suggested would be a good workaround.

https://github.com/nodejs/node/issues/9413 shares the same problem as this one, and https://github.com/nodejs/node/issues/9413#issuecomment-390488433 has a summary of

[2018-05-29 09:05] MylesBorins commented on #20979
digging into the log it looks like something is failing in the `node-sass` install

[code]

What type of system are you using? Can you share a copy of your package.json?

[2018-05-29 09:10] gireeshpunathil commented on #9706
Not a Node.js bug, closing. Exponential stress in the tcp layer causes process to slow down, suggested to share work between multiple hosts.

[2018-05-29 09:10] #9706 closed

[2018-05-29 10:31] shobhitchittora commented on #21002
@simonkcleung Domains are under deprecation as per the [docs](https://nodejs.org/dist/latest-v8.x/docs/api/domain.html).

You can also see [this](https://nodejs.org/dist/latest-v8.x/docs/api/events.html#events_error_events) to handle errors. It goes like -

[code]

Hope this helps! 😇

[2018-05-29 11:52] jutameerhamza commented on #5759
i solved this method with by enabling run as administrator.
follow my method:
1.download this .reg file and open
[https://drive.google.com/open?id=10jBQk8KUNZtEWNBd36QLDrsQ0M1JZqYa](url)
2.after that right click on installer u will see the command run as administrator
3.click command and install
enjoy your node.js

[2018-05-29 12:27] #20836 closed

[2018-05-29 12:35] mmarchini commented on #20836
@gireeshpunathil do you mind if I open a PR to fix `parallel/test-child-process-fork-net` as well?

[2018-05-29 14:16] fhinkel commented on #19827
Thanks @Trott, I'm on it right now :smiley_cat:

[2018-05-29 14:38] webcarrot commented on #20999
I will wrap connection stream for http2 session directly by ```StreamWrap``` from "_stream_wrap" and wait for "bug" on production servers for one week. If the error does not happen, I will close this issue.

[2018-05-29 15:14] dieulot opened #21014 "Can’t import fs Promises API with ECMAScript Modules"
* **Version**: v10.2.1
* **Platform**: Windows 10 64-bit
* **Subsystem**: fs

Per [the docs](https://nodejs.org/api/fs.html#fs_fs_promises_api), “The API is accessible via `require('fs').promises`.”

When using ECMAScript Modules it can’t be accessed like that. One may expect to be able to load it with `import {promises as fs} from 'fs'`, but this gives an error.
[code]

So right now accessing the

[2018-05-29 15:17] devsnek commented on #21014
it's an experimental API so the esm loader doesn't attach it as a named export.

[2018-05-29 15:32] simonkcleung commented on #21002
@shobhitchittora Adding a function to 'error' event cannot catch any Error thrown during running of  event handler.
Domains is under deprecation but no alternative of it yet. Therefore I suggest a `catch` method to do similar thing of Domains.

[2018-05-29 16:06] apapirovski commented on #21008
Thanks for reporting @ronag. I think the CHECK that is failing here is actually incorrect as things are. I think we need to avoid calling `OnTrailers` if the stream is already destroyed because it's possible for OnRead to trigger after that's already the case.

[2018-05-29 16:23] bnoordhuis commented on #21002
I think it's safe to say we won't be making the suggested change so I'll close this out.

If you're confused about why, `'error'` is for "outside" run-time errors (network down, host not found, that kind of thing) while exceptions are 9 times out of 10 the result of application bugs ("undefined is not a function.")

[2018-05-29 16:28] elibarzilay commented on #18016
@gireeshpunathil I still think that the problem I described stands: if `"pipe"` creates a second pipe with a race condition then it looks like a less-than-useless feature (less because it can lead to bugs).

My question was basically: if a pipe is created unconditionally, then is there a way for user code to get that pipe to be used with a different process (assuming that a different process can b

[2018-05-29 17:12] apapirovski commented on #21008
Was a bit more complicated than I had initially assumed. Fix in https://github.com/nodejs/node/pull/21016

[2018-05-29 18:31] domainoverflow commented on #13209
Forgive me if I am misreading but according to the above I would be able to CLI node app.js where app.js could contain awaitS placed outside functions ( ex: copy and paste from puppeteersandbox.com examples without wrapping and cli running it ) ?

[2018-05-29 19:17] BridgeAR commented on #20565
`global`. `module` and `require` are not enumerable anymore in the REPL. That reduces the list of globals that are questionable to: `process` and `Buffer`.

[2018-05-29 20:01] matheuscaldasrj commented on #17025
Same error here,
Just disabled Event Tracing (ETW) and it works
![node](https://user-images.githubusercontent.com/8259471/40682387-f49e73cc-6361-11e8-8254-3c4837dadede.PNG)

[2018-05-29 20:14] sgallagher commented on #20642
@mhdawson @jBarz If you could please create a Fedora account at https://admin.fedoraproject.org/accounts and sign the [FPCA](https://fedoraproject.org/wiki/Legal:Fedora_Project_Contributor_Agreement) then I can give you access to one of our test machines. Please reply (or direct email me at sgallagh (at) redhat (dot) com) with the account(s) you created and I'll have them added to the ACL for the

[2018-05-29 20:54] tniessen commented on #17025
If you are using antivirus software made by Avast, please disable it during the installation. The problem has been reported to Avast.

[2018-05-29 21:31] cduran commented on #17025
Works disabling the ETW option. I have AVG antivirus on Windows 10 Pro 1803 build 17134.48

[2018-05-29 22:00] Krinkle commented on #13209
@domainoverflow Thank you for asking!

This issue is only about using "await" in the special "REPL" mode of Node.js. If you run `node` as CLI command without JS file, that is the REPL mode. This mode is similar to the web browser DevTools console and mainly for testing things.

REPL is a different from how programs run normally. And for JS programs, it is not possible to use await outside async fu

[2018-05-29 22:13] tplk commented on #20891
I temporary use the following solution:
[code]
It results in the following output:
[code]

[2018-05-29 22:21] pitaj commented on #9706
@gireeshpunathil I have some repro code that doesn't use any TCP AFAIK, unless the IPC channel uses TCP itself.

I can throw that up on a gist later today.

[2018-05-29 22:34] jdxcode opened #21020 "node 10.2.0+ turning off stty echo when using process.stdin.setRawMode()"
* **Version**: 10.2.0
* **Platform**: MacOS
* **Subsystem**: Unsure right now

Starting with node 10.2.0 it is behaving as if I'm running `stty -echo` and hides the echo output when using `heroku run` and typing characters in. Node 10.3.0 and 10.3.1 also have the issue, but 10.1.0 and lower does not.

Right now I'm working on providing a simpler example that does not involve the Heroku CLI. I'm as

[2018-05-29 22:47] addaleax commented on #21020
Thanks for reporting this! Do you have any reproduction that doesn’t involve extra setup, or alternatively a standalone reproduction that you could share somewhere?

[2018-05-29 22:55] jdxcode commented on #21020
just run `node -e "process.stdin.unref(); process.stdin.setRawMode(true)"`

[2018-05-29 22:57] jdxcode commented on #21020
I thought it happened when I ran `process.stdin.unref()`, but it seems that all you need is `process.stdin.setRawMode(true)`

[2018-05-29 22:59] jdxcode commented on #21020
Here this shows the full behavior:

[code]

[2018-05-29 23:21] addaleax commented on #21020
This was caused by my 17e289eca8f8398243df5c4006d80f7381fd08bc (#19377). My initial guess would be that closing the libuv handle for `stdin` closes the corresponding file descriptor and leaves libuv unable to reset the state for that file descriptor in `uv_tty_reset_mode()`.

[2018-05-29 23:27] jdxcode commented on #21020
what a shame! seems you worked hard on that PR!

[2018-05-29 23:33] addaleax commented on #21020
I did. :smile: I don’t think we need a full revert here, but addressing this *properly* is not exactly trivial either. The quick-and-probably-good-enough solution to this problem would be this:

[code]

It does address the problem locally for me, and I think I’ll open a PR with it in a bit.

[2018-05-29 23:46] Trott commented on #8913
This feature, coming in the next ESLint release, might make checking for this more easily automated for Node.js core. https://github.com/eslint/eslint/issues/9926

[2018-05-30 00:39] bcoe commented on #20952
@BridgeAR I've hunted things down to here and have a workaround we can apply:

https://github.com/babel/babel/issues/8075

I'm going to see about getting things fixed upstream first.

[2018-05-30 02:31] pitaj commented on #9706
https://gist.github.com/pitaj/e8463a023847697e72e7f01ac8ed2fd6

[2018-05-30 04:26] cirias opened #21021 "External memory leak on node v8.x"
* **Version**: 8.11.2
* **Platform**: Linux sirius-Alienware-15-R3 4.13.0-41-generic #46~16.04.1-Ubuntu SMP Thu May 3 10:06:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

The code below will cause external memory leak of v8 engine. In v8, mark-compact updates the `external_memory` before the gc, which cause the `external_memory_limit` too big. Normally, It's fine, we just got a bigger limit. But when

[2018-05-30 06:31] apapirovski commented on #20907
I think maybe getting access to linuxone is actually better. It's the only system that has failed with a stacktrace. Maybe debugging there will yield something different / more helpful. I'll post in nodejs/build.

[2018-05-30 07:36] guybedford commented on #19393
I think it's quite telling here that one of the first features implemented in Deno is a `fetch` global for Node - https://github.com/ry/deno/blob/7762b55432ba73f07f90414aa7d023bb0779f5de/globals.ts#L52. This isn't just a "nice to have", but a critical part of the story.

[2018-05-30 07:38] jigetage opened #21023 "Error: Cannot find module '../../common'"
In the hello-world demo, if only using binding.gyp binding.cc test.js in the project, the use command "node test.js" to run the demo, a exception

module.js:549
    throw err;
    ^

Error: Cannot find module '../../common'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at require (internal/mod

[2018-05-30 07:41] TimothyGu commented on #19393
@guybedford I think that’s only because deno is very much focused on browser-likeness… see its support for HTTP URLs in `import` paths. In fact to implement `import` the browser way you would have to implement the Fetch Standard.

[2018-05-30 07:59] ci42 opened #21024 "Nodejs (> Version 10.2) doesn't build on OSX 10.10.5 with inspector enabled"
* **Version**: 10.2.0, 10.2.1, 10.3
* **Platform**: Darwin Kernel Version 14.5.0 xnu-2782.70.3~1/RELEASE_X86_64 x86_64 (OSX 10.10.5)
* **Subsystem**: v8-inspector

From the log file:
[code]
It builds fine when configured with *--without-inspector*.

[2018-05-30 08:32] jhnferraris opened #21025 "Unable to install node package"
Version: 8.11.1
NPM version: 5.6.0
Platform: 64-bit (Windows)

I'm experiencing Internal Server error when installing a package

[code]

I accessed the npm registry (https://registry.npmjs.org/) and it responded with: "Fastly error: unknown domain. Please check that this domain has been added to a service."

I also curled the registry and it responded with Http 500

[code]

Are there any breaking

[2018-05-30 08:36] rogierschouten opened #21026 "http destroys socket too soon"
* **Version**: 10.2.1
* **Platform**: Windows 10 64-bit
* **Subsystem**: http

**Problem description:**
When an HTTP server decides to send a response while the request body is still being sent, there are cases (race condition) where the client receives an ECONNRESET error without receiving the response.

**Example:**
[code]

**Expected output:**
[code]

**Actual output:**
[code]

**Notes:**
- It'

[2018-05-30 08:45] jhnferraris commented on #21025
Closing this since this not the right venue. My bad.

[2018-05-30 08:45] #21025 closed

[2018-05-30 08:46] benjamingr commented on #19393
@guybedford that's [hardly fetch](https://github.com/ry/deno/blob/7762b55432ba73f07f90414aa7d023bb0779f5de/fetch.ts) - it's just a very basic API that makes HTTP calls, it's missing a lot of the capabilities that make `fetch` `fetch` and mostly just shares the name.

[2018-05-30 09:12] m-nathani commented on #9845
ciphers: 'DES-CBC3-SHA' did fixed the problem. But thats strange why is it not adding that header in tls by default

[2018-05-30 09:15] bnoordhuis commented on #21026
Is this a duplicate of #12339?

[2018-05-30 09:21] fabricecolas commented on #16196
For those who bump into the problem, here's a quick inline fix:
```require("tls").DEFAULT_ECDH_CURVE = "auto"```
- https://nodejs.org/api/tls.html#tls_tls_default_ecdh_curve

[2018-05-30 09:34] bnoordhuis commented on #9845
Because DES-CBC3-SHA is an insecure cipher.

[2018-05-30 10:00] bnoordhuis commented on #21023
Can you post your question over at nodejs/help?  Cheers.

[2018-05-30 10:00] #21023 closed

[2018-05-30 12:10] webcarrot commented on #20999
Its not related anyhow - _session is somehow invalid in `~Http2Stream` - `~Http2Session` should destroy related Http2Stream-s? My c/c++ skills are outdated - if its real bug make issue.

gdb backlog ("attack" server using firefox ctrl+f5 - fast open and close connections):
[code]

[2018-05-30 12:13] apapirovski commented on #20999
That might be related to https://github.com/nodejs/node/pull/21016, not sure. It's missing some bits in there that make it hard to figure out what's going on.

[2018-05-30 12:52] devsnek commented on #19393
can we please not start a thing of comparing node.js to deno

[2018-05-30 13:27] guybedford commented on #19393
There is a huge amount of value in an experimental project like deno in terms of what we can learn from it, which seems unnecessary to try and disregard in general. I disagree with a lot of the assumptions of the project (eg HTTPS imports), but in my opinion there can only be value in considering ideas and insights from any other projects for inspiration in Node.

[2018-05-30 15:10] homerjam commented on #16196
So this is still an issue for Homebrew users I take it? Has anyone got a solution that isn't upgrade to 9.x/10.x?

[2018-05-30 17:11] dnalborczyk commented on #21014
@dieulot  here is a related discussion: https://github.com/nodejs/node/pull/20504

[2018-05-30 17:15] jdalton commented on #21014
@dieulot I'm going to close this issue since has been answered. Feel free to ping back though for anything.

[2018-05-30 17:19] rogierschouten commented on #21026
@bnoordhuis that looks similar indeed. And in my case it's quite serious since I have to talk to a server that has this behavior and it's not under my control. And I do need that response.

[2018-05-30 17:23] bnoordhuis commented on #21026
Okay, I'll close this out as a duplicate.  You should chime in on the other issue but as you can probably tell from the discussion, it's not clear what the solution should be.

[2018-05-30 17:23] #21026 closed

[2018-05-30 17:53] mmarchini opened #21038 "Flaky parallel/test-trace-events-fs-sync"
Test failing occasionally on FreeBSD with different assertion failures:

https://ci.nodejs.org/job/node-test-commit-freebsd/18147/ (nodejs/node#20962)

[code]

https://ci.nodejs.org/job/node-test-commit-freebsd/18103/ (nodejs/node#21003)

[code]

https://ci.nodejs.org/job/node-test-commit-freebsd/18143/ (nodejs/node#21032)

[code]

[2018-05-30 18:57] glebec commented on #20096
Can I understand then that `close` is ALWAYS emitted now? If so, this is contrary to the [current docs](https://nodejs.org/api/http.html#http_event_close_1) (10.3.0), which state that `close`:

This seems to be related to an HTTP logging bug that I now have in https://github.com/glebec/volleyball/issues/28 which is now logging (incorrectly) that there was an ungraceful end to every single HTTP res

[2018-05-30 19:14] mcollina commented on #20096
@glebec this is a proposal, it is not implemented yet.

[2018-05-30 19:17] glebec commented on #20096
@mcollina — something did change recently in Node w.r.t. the `close` event; didn't realize this thread wasn't addressing that change. Sorry for posting in the wrong thread. Regards, —G.

[2018-05-30 20:04] klimashkin commented on #20498
Is it supposed to be fixed in `10.3.0`? Still have this issue there

[code]

[2018-05-30 23:02] xXxGandalf420xXx commented on #17025
In my case, it was a matter of disabling AVAST for a few minutes. I didn't have to exclude any option.

[2018-05-30 23:15] joyeecheung commented on #20498
@klimashkin https://github.com/nodejs/node/pull/20636 has not been backported to v10 (will be backported with https://github.com/nodejs/node/pull/20975)

[2018-05-31 00:16] nikolowry commented on #20498
Really disappointing to hear @joyeecheung.

As an Arch user I just held back Node so I could work on Gulp-based projects while this was resolving itself -- but now that 10.3 has been released via Homebrew the first thing on tomorrow's agenda will be alerting devs company wide to delay upgrading Node.

Will the release with these fixes be a minor or major release? Regardless, thank you Node team fo

[2018-05-31 02:40] Trott commented on #21021
@nodejs/v8

[2018-05-31 03:10] Trott commented on #21038
Seems like [this assertion](https://github.com/nodejs/node/blob/89d211f54acea642cce65be731f4878555283ff0/test/parallel/test-trace-events-fs-sync.js#L131) should print the entire `proc` object rather than just `proc.status`. This way we could see `proc.error`, `proc.signal`, `proc.stderr` and other things that might be useful to see when the test fails.

[2018-05-31 04:50] caijw opened #21049 "There may be a syntax error in the nodejs napi doc."
* **Version**:   nodejs 10.3.0 documents
* **Platform**:
* **Subsystem**:

https://nodejs.org/dist/latest-v10.x/docs/api/n-api.html#n_api_object_lifetime_management

This document may has a syntax error:

In many cases, however, it is necessary that the handles remain valid for either a shorter or longer lifespan than that of the native method. The sections which follow describe the N-API function

[2018-05-31 05:49] naturalethic commented on #5895
Let's re-open.  This issue is quite old, however with ES6 modules now, one may desire to `invalidate` a module that has changed during development.  I haven't found any documentation of this feature, only this ticket.

[2018-05-31 06:58] gireeshpunathil commented on #9706
Thanks @pitaj   for the repro. Turns out that the windows issue is unrelated (compelte hang) to the originally posted issue (slow response) on macos and family.

I am able to reproduce the hang. Looking at multiple dumps, I see that the main thread of different processes (including the master) are engaged in:

[code]

this is a known issue with libuv where multiple parties attempt to write to the

[2018-05-31 07:13] rogierschouten commented on #12339
I entered the same issue as #21026 but I get ECONNRESET instead of EPIPE. This is in line with what @nh2 says.

If I understand @camlegleiter correctly, he is looking for a Node.JS fix for implementing a server.  I'm looking for a way to work around this problem on the client side, as I need to talk to a broken server.

So moving forward:

1. Server-side: would it help @camlegleiter to keep readin

[2018-05-31 07:27] Trott commented on #21049
@nodejs/n-api

[2018-05-31 08:26] Trott commented on #9371
@nodejs/modules Anything happening with this? Is this still an issue? Is this something that might benefit from a `help wanted` label?

[2018-05-31 08:29] benjamingr commented on #18795
@hashseed thanks, that's useful. I should have probably gotten around to this by now but I ended up working on promise-use-cases in the last event. I'll do my best to get to this in the next event (June 16th).

(Random note: I _think_ domenic asked not to be pinged in the nodejs repos by the way - so we should probably not ping him without checking)

[2018-05-31 08:30] benjamingr commented on #9371
@Trott the modules team is tasked with ESM integration into Node.js - I think this is something that is out of scope for us - if this is stalled then I think `help wanted` is appropriate.

[2018-05-31 08:35] Trott commented on #13727
(By the way, if we do add a third argument, I'd prefer it be an `options` object so that we don't have to add a fourth or fifth argument later.)

[2018-05-31 08:35] Trott commented on #13727
(PR welcome on that third argument, although no guarantee it won't be met with "this should be done in userland". I would be OK with it, though.)

[2018-05-31 08:37] Trott commented on #9371
@benjamingr Sorry about that! I assumed nodejs/modules was the module subsystem and there was a nodejs/es-modules team or something but it looks like I was wrong.

[2018-05-31 08:52] osher opened #21052 "huge decrease in max callstack ?"
* **Version**:  8 and above
* **Platform**: windows
* **Subsystem**: 10-pro

Dear noders.

There's a hands-on demo I give every now and then, which shows why putting everything in `try{}catch(e){}` isn't a good idea. I usually give it to C# or Java developers that get a taste of node, and bring with them their old customs with them. It goes as follows.

Consider the following two files:
**no-try.j

[2018-05-31 08:54] addaleax commented on #21052
@nodejs/v8

[2018-05-31 09:03] hashseed commented on #21052
That's probably because of TurboFan and Ignition replacing the old execution pipeline in Node 8. I know for a fact that Ignition (the bytecode interpreter) uses more stack space. Not sure about TurboFan though and at which point the code even got optimized.

Can you run your code with `--trace-opt` to check when optimization happened? You can also run Node 8 and later with `--no-opt` to see how Tu

[2018-05-31 09:08] BridgeAR commented on #19827
Hey, should this issue actually be closed or stay open? It was just weird that a commit from the wrong repo closed it.

[2018-05-31 09:09] fhinkel commented on #19827
Closed.

[2018-05-31 09:09] #19827 closed

[2018-05-31 09:13] #21020 closed

[2018-05-31 09:27] #20303 closed

[2018-05-31 09:33] ken210 opened #21053 "Number.toLocaleString output is inconsistent between minor versions."
* **Version**: 10.3.0
* **Platform**: Darwin Kernel Version 17.5.0
* **Subsystem**: Not sure.

Output of Number.toLocaleString is inconsistent since version v10.3.0
Versions prior to v10.3.0 have consistent output. Tested with v8.11.2, v9.0.0, v10.0.0, v10.2.1

[code]

[2018-05-31 10:00] AndreasMadsen commented on #13427
@Trott No, it is a limitation of PromiseHooks and unfortunately it is not a big priority to fix it :(

[2018-05-31 10:21] tniessen commented on #21053
Failed to reproduce on Ubuntu 16.04:

[code]

[2018-05-31 10:28] silverwind commented on #21053
Please show `process.config.variables` and `process.versions` on both versions.

[2018-05-31 10:30] alaindemour commented on #20833
I actually rewrote all my client code using Chrome Headless which seems to behave correctly when you pass the right TLS options.  I understand that the community is probably stretched and does not want to  go back on a major code surgery that probably involved tons of work, and this is not a mainstream use case for node, but it seems that this is really a product management decision happening as u

[2018-05-31 10:34] ken210 commented on #21053
v10.2.1
[code]

v10.3.0
[code]

[2018-05-31 11:29] silverwind commented on #21053
Interesting, same ICU version and build but different output. Any idea @nodejs/intl?

[2018-05-31 12:21] devsnek commented on #5895
@naturalethic you can go check if an issue on https://github.com/nodejs/modules doesn't already include this and then open one there.

[2018-05-31 12:21] gireeshpunathil commented on #18446
This issue has been resolved via #20592 and I have verified with both the test programs.

#node 18446.js
[code]

Closing this, fix will mostly be available in the next current release.

[2018-05-31 13:58] gireeshpunathil commented on #19838
This issue has been resolved via #20592 and I have verified with the supplied test programs.

[code]

produced the error:
`cat: write error: Resource temporarily unavailable`

a hundred times in thousand iterations, but with the fix none.

Closing this, fix will be mostly available in the next current release.

[2018-05-31 13:58] vsemozhetbyt commented on #21053
Cannot reproduce with Windows builds:
https://nodejs.org/download/release/v10.2.1/win-x64/
https://nodejs.org/download/release/v10.3.0/win-x64/

[code]

[2018-05-31 14:00] gireeshpunathil commented on #20000
unexpected flow mode for stdio: #14752 #18446 #19838 is fully covered.

[2018-05-31 14:00] hashseed commented on #20966
@mdawson @TimothyGu

[2018-05-31 14:02] hashseed commented on #20966
@mhdawson @addaleax @aruneshchandra

[2018-05-31 14:03] Trott commented on #13427
I'm going to close this. PR welcome. Feel free to re-open or comment if you think this should remain open.

[2018-05-31 14:03] ryzokuken commented on #20833
If I understand you correctly (correct me if I don't), you're warranting for us to make core a tad less secure just because there's a "real world site" that doesn't conform to modern standards. I'm sorry to say that that would likely not happen. Yes, we're spread too thin, but I don't believe it would get reverted even if we weren't, because getting less secure moving forwards is counterintuitive

[2018-05-31 14:06] apapirovski commented on #20833
Node 8 is going to be actively supported until April 2019 and doesn't go EOL until after Oct 2019. If the site in question doesn't upgrade by then, I'm not sure that's something Node is obligated to support. There's nothing wrong with using Node 8 if this is functionality you need.

[2018-05-31 14:11] devsnek commented on #21053
can repro on mac
[code]

[2018-05-31 14:13] devsnek commented on #21053
i would guess this is related to https://github.com/nodejs/node/pull/20826

/cc @TimothyGu

[2018-05-31 14:13] ryzokuken commented on #20833
Yeah, more importantly, that too. It's not that we've dropped support for Node 8, so you can still run that insecure code in Node 8 if you can and it'll work until April 2019. That said, I still won't suggest doing that, though.

[2018-05-31 14:20] ryzokuken commented on #21049
@caijw It's not a syntax error, but a grammatical one. Feel free to publish a patch for this.

[2018-05-31 14:23] ryzokuken commented on #498
What's the current status on this? Is anyone working on this/it's libuv counterpart?

/cc @nodejs/libuv @cjihrig

[2018-05-31 14:35] ryzokuken commented on #556
Closing this because there's a solution available in the userland (thanks, @s-h-a-d-o-w). Feel free to reopen this.

[2018-05-31 14:35] #556 closed

[2018-05-31 14:40] AndreasMadsen commented on #13427
I’m reopening. It is a valid bug, it is just very hard to fix.

[2018-05-31 14:53] ryzokuken commented on #678
Has work been started on this? Anything being worked on right now?

@bnoordhuis if not, could we please start with making an actionable list of tasks people could take up? Perhaps be broken down and get solved by multiple contributors?

[2018-05-31 15:12] jdxcode commented on #21020
I really appreciate it!

[2018-05-31 15:28] ljharb commented on #18795
That proposal isn’t solely necessary, fwiw - node could load a single file at the start of the process that caches all the intrinsics and provides a module to expose them internally. The challenge - with that or with domenic’s proposal - would be enforcing the pattern’s usage via linting and code review.

[2018-05-31 15:30] ohbarye commented on #21049
May I address this issue?

[2018-05-31 15:38] TimothyGu commented on #21053
Yes… this was intended to be a fix of a bug that presented itself somewhere between v7.9.0 and v8.4.0 (#15223). I personally don’t believe the bug fix was a breaking change that warrants semver-major, but I do realize that it has the potential to break some test suites, so apologies about that.

I don’t think there is much we can do right now though. After all a revert would just make the problem

[2018-05-31 15:40] BB-000 commented on #20281
I fixed this by running 'yarn'

[2018-05-31 17:00] #21049 closed

[2018-05-31 17:06] silverwind commented on #21053
Closing based on https://github.com/nodejs/node/issues/21053#issuecomment-393572896.

[2018-05-31 17:06] #21053 closed

[2018-05-31 17:07] bnoordhuis commented on #678
First order of business is to sketch out what the API should look like.  There are at least two models to consider: one-off and streaming encryption/decryption.

[2018-05-31 17:09] ErnestoSalazar commented on #8913
Is this still available?, i'm new to contributing i would want to make my very first contribution

[2018-05-31 17:10] devsnek commented on #678
does the new worker api change anything here?

[2018-05-31 17:39] ljharb commented on #9371
I think this is definitely in scope for the modules group, because anything supported in CJS has to be explicitly supported, or not, in ESM.

In this case, runtime reflection on the module graph is not a feature I think node should support in *either* CJS or ESM, so I'd be strongly in favor of deprecating it in CJS.

[2018-05-31 17:54] fossegutten commented on #4329
Worked when disabling Avast. Avast is driving me nuts with all sorts of problems. Deleting from all my machines for sure.

[2018-05-31 18:45] ofrobots commented on #21021
The fix came to v9.x in the form of an upgrade to V8 6.1 on https://github.com/nodejs/node/pull/14730.

It needs to be individually back-ported for 8.x. Self-assigning to do this / investigate feasibility once I have some bandwidth, but if anyone else has cycles sooner, please go ahead and re-assign.

[2018-05-31 19:35] msmol opened #21063 "Node 10: http response.close is always triggered"
* **Version**: Node 10.3.0
* **Platform**: Linux 4.16.11
* **Subsystem**: http

`index.js`:
[code]

[code]

According to the [docs](https://nodejs.org/api/http.html#http_event_close_1) `res.close` should only be called if `res.end` is not. Unfortunately there doesn't seem to be an event emitted for `res.end` so I could not check to see whether or not it was triggered.

However, as is visible in th

[2018-05-31 19:45] owenallenaz commented on #10843
As I've been utilizing `async` and `await`, it seems apparent to me that with a proper execution of `Promise` chains, the `domain` module no longer seems necessary. Steps across the event loop can be maintained via the Promise chain, and thus errors can properly be try/catch no longer how deep and handled accordingly. Given correct implementation by Module implementors, which will take some time,

[2018-05-31 20:10] mscdex commented on #21063
Related: https://github.com/nodejs/node/pull/21047

[2018-05-31 20:30] msmol commented on #21063
If I understand correctly, https://github.com/nodejs/node/pull/21047 implies that `res.close` always being called is now considered the correct behavior?

[2018-05-31 21:06] valentinewallace opened #21068 "e9"
* **Version**:
* **Platform**:
* **Subsystem**:

[2018-05-31 21:11] #21068 closed

[2018-05-31 21:47] maclover7 commented on #20652
This seems to have largely stopped -- going to close this out for now. The Build team has been doing a lot of work on our machine and their provisioning scripts, so hopefully bugs like this occur less frequently

[2018-05-31 21:47] #20652 closed

[2018-05-31 21:49] maclover7 commented on #20714
SGTM -- can you open up an issue at nodejs/build and can discuss further there

[2018-05-31 21:50] maclover7 commented on #20204
@Trott has this occurred recently? If not, do you think it's safe to close out?

[2018-05-31 21:53] maclover7 commented on #19424
Looks like latest build (available at https://nodejs.org/download/v8-canary/v11.0.0-v8-canary20180530a7d9dead3b/) has tar.gz files, going to close this out for now. Please reopen if the tarballs stop appearing again

[2018-05-31 21:53] #19424 closed

[2018-05-31 22:00] ryzokuken commented on #678
@devsnek it probably shouldn't. Plus this is going to be inside a rather uncontroversial `semver-minor`, so don't be surprised if this lands before workers do. (even though work hasn't even begun on this while workers is getting more and more polished everyday)

[2018-05-31 22:00] ryzokuken commented on #678
@devsnek it probably shouldn't. Plus this is going to be inside a rather uncontroversial `semver-minor`, so don't be surprised if this lands before workers do.

[2018-05-31 22:01] ryzokuken commented on #678
@bnoordhuis I didn't really think about it too much but streaming sounds like a good enough option? Perhaps we could discuss it during the summit hours tomorrow?

[2018-05-31 22:55] suresh-srinivas commented on #16198
@joyeecheung @jasnell @gireeshpunathil @Trott @addaleax
We sent in the pull request today. Could you take a look?

[2018-05-31 23:05] refack commented on #20563
Any news on the bot?
I just checked the logs and it stopped posting on 12/25 just before the spambot attacked
It's excluded from the slurp but this is aprox the last time http://logs.libuv.org/node-dev/2017-12-25#20:44:52.542
[code]

[2018-05-31 23:10] refack commented on #20563
Just after that
[code]

/CC @MylesBorins (this might have blocked the IRCBot)

[2018-06-01 02:41] hezedu commented on #2600
I think fs.utimes can change birthtime is a bug.

[2018-06-01 04:06] alex-zhang opened #21073 "node received SIGTERM signal and process exit"
* **Version**: v8.10.0
* **Platform**: Linux xxxxx 3.10.0-514.26.2.el7.x86_64 #1 SMP Tue Jul 4 15:04:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

node master(cluster) process, random receive  SIGTERM signal  (the system men is enough)

![image](https://user-images.githubusercontent.com/4457451/40821443-9fe58796-6599-11e8-988f-a7d1e9dce564.png)

[2018-06-01 04:47] alex-zhang commented on #21073
the node process's parent  process is the system init process.   why the system  send the kill SIGTERM to the node process

[2018-06-01 05:32] MylesBorins commented on #20563
The bot needs to be authenticated to work

On Fri, Jun 1, 2018, 1:10 AM Refael Ackermann <notifications@github.com>
wrote:

[2018-06-01 07:06] benjamingr commented on #18795
@ljharb see https://github.com/domenic/get-originals/issues/14 - I'm thinking about automatic conversion here rather than changing our code.

The proposal is something we'd potentially want to use after we've mapped how our internals react to these changes.

[2018-06-01 07:10] ljharb commented on #18795
I'm not sure how you could reliably automatically convert prototype methods; babel has the same challenge.

[2018-06-01 07:11] benjamingr commented on #9371
@ljharb I agree in general though the implementation in this case (module.children) doesn't really have much to do with how esm/cjs interacts in particular.

[2018-06-01 07:13] benjamingr commented on #18795
@ljharb I'm not sure what you mean? If you have a concern regarding automatic conversion please do speak up in the get-originals repo.

[2018-06-01 07:17] ryzokuken commented on #9371
Couldn't we just make a change in the docs? The behavior seems pretty normal, feel free to change it if you want, but I believe we should just tag this as a "good first issue" with a single doc change.

[2018-06-01 07:20] ryzokuken commented on #20563
Should we change the bot to use the new API? Perhaps use a webhook if all we need is to just subscribe to events.

[2018-06-01 07:40] benjamingr commented on #21052
@osher hey 👋

I see you work with Tikal and have an Israeli name (Welcome!). It doesn't really cross the language barrier well given how Hebrew works differently - we try to avoid gendered language here (Guys). People care about this here and we want to create a welcoming environment for everyone. Please consider editing this out of your post (People, Folks, etc works fine).

-----

Node.js 8 chan

[2018-06-01 07:44] rodcunha commented on #4329
Wow I was battling this for 3 hours, it all worked with disabling Avast... can't believe it was that simple. Thanks guys.

[2018-06-01 07:44] vdeturckheim commented on #20474
Closing as this will probably not happen.

[2018-06-01 07:44] #20474 closed

[2018-06-01 07:50] Trott opened #21076 "investigate flaky parallel/test-crypto-dh-leak"
* **Version**: v11.0.0-pre (master)
* **Platform**: ubuntu1604_sharedlibs_debug_x64
* **Subsystem**: test crypto

https://ci.nodejs.org/job/node-test-commit-linux-containered/4846/nodes=ubuntu1604_sharedlibs_debug_x64/console

[code]

[2018-06-01 07:54] Trott commented on #21076
By the way, that was the fourth time in a row that happened on `test-digitalocean-ubuntu1604_sharedlibs_container-x64-7`. Other three are at:

https://ci.nodejs.org/job/node-test-commit-linux-containered/nodes=ubuntu1604_sharedlibs_debug_x64/4846/console
https://ci.nodejs.org/job/node-test-commit-linux-containered/nodes=ubuntu1604_sharedlibs_debug_x64/4845/console
https://ci.nodejs.org/job/node-te

[2018-06-01 07:59] Trott commented on #21076
@nodejs/crypto @nodejs/build @nodejs/testing

[2018-06-01 08:00] #20204 closed

[2018-06-01 08:00] #20516 closed

[2018-06-01 08:10] Trott commented on #21076
This comment above the assertion that's failing suggests that this may be inherently unreliable?

[code]

[2018-06-01 08:20] tingshao opened #21078 "async_hooks.triggerAsyncId() don't return the expected value in context of the connection callback of net.Server"
* **Version**: 8.x and 10.x
* **Platform**: all supported
* **Subsystem**:

async_hooks.triggerAsyncId() is expected to return the async id of the connection in the `onconnection` callback of server. This was specifically declared in the example of the async_hooks documentation which can be found [here](https://nodejs.org/dist/latest-v10.x/docs/api/async_hooks.html#async_hooks_async_hooks_triggera

[2018-06-01 08:20] ryzokuken commented on #21076
@Trott if definitely doesn't fail on MacOS. I'll try to look into it.

[2018-06-01 08:32] bnoordhuis commented on #21073
This issue tracker is for reporting bugs, not questions/support.  Please post to nodejs/help.

[2018-06-01 08:32] #21073 closed

[2018-06-01 08:34] bnoordhuis commented on #678
I'm not at the summit.

[2018-06-01 08:57] #20992 closed

[2018-06-01 08:59] #21008 closed

[2018-06-01 09:30] ryzokuken commented on #21076
[code]

Shouldn't this comment be improved? Of all things: why is there latin in there?

[2018-06-01 11:09] bnoordhuis commented on #21076
Because being a programmer doesn't mean you can't be well-versed in the liberal arts too.  _Ceteris paribus_ means "all other things being equal" but with fewer words.

Is the `./configure  --debug` buildbot the only one where it fails?  If yes, I would guess that V8's debug bookkeeping slanting the numbers.

[2018-06-01 11:11] ryzokuken commented on #678
Any other time works, in that case. Thanks.

[2018-06-01 11:17] bnoordhuis commented on #678
I don't really do offline discussion but just post a strawman proposal and we'll take it from there.

[2018-06-01 12:27] tniessen commented on #21076
We might be able to circumvent that by massively increasing the number of iterations and slightly increasing the amount of permitted RSS difference.

[2018-06-01 12:33] apapirovski commented on #19906
I don't think this is just a flaky test? It seems to be failing in a way that might indicate the original issue still exists on Arm?

[2018-06-01 12:36] gireeshpunathil commented on #2333
closing based on the above discussion

[2018-06-01 12:36] #2333 closed

[2018-06-01 12:37] Trott commented on #21076
Other options:

We could check `process.config.target_defaults.default_configuration` and skip the test if it's not 'Release'. h/t @danbev

Or @tniessen is suggesting we could remove the test entirely as it was for a very specific regression.

Thoughts? @bnoordhuis

[2018-06-01 12:37] apapirovski commented on #20015
This was recently fixed via all the significant http2 changes.

[2018-06-01 12:37] #20015 closed

[2018-06-01 12:40] apapirovski commented on #18234
Reasonably certain this was fixed recently as I'm no longer able to replicate.

[2018-06-01 12:40] #18234 closed

[2018-06-01 12:41] tniessen commented on #21076
On my maschine, the debug build allocates 4.8MB of the 5MB limit, but that value does not increase when I increase the number of iterations, so https://github.com/nodejs/node/issues/21076#issuecomment-393865240 could work.

[2018-06-01 12:43] apapirovski commented on #18737
I believe we have separate issues for the ones that are still failing and the rest should've been resolved.  Feel free to reopen separate issues if they don't exist and some of these are still failing.

[2018-06-01 12:43] #18737 closed

[2018-06-01 12:47] apapirovski commented on #15587
I cannot get these to fail on my macOS and I have not seen these since the start of 2018. I think we can close for now and revisit later if these occur again. There have been significant changes in and around zlib since then.

[2018-06-01 12:47] #15587 closed

[2018-06-01 12:49] apapirovski commented on #17849
@nodejs/build Anyone want to investigate the memory overcommit suggestion and disable it on Alpine machines? It makes it impossible to detect available memory which tests like this one rely on.

[2018-06-01 12:50] apapirovski commented on #18525
This is a duplicate of #17849 and fails for the same reason, with the same failure code. Please just see that issue.

/cc @nodejs/build

[2018-06-01 12:50] #18525 closed

[2018-06-01 13:07] apapirovski commented on #20173
This is still happening FWIW. I'm labeling with flaky test because we don't really know what's causing it and maybe it'll get more attention.

[2018-06-01 13:12] apapirovski commented on #19394
Fixed in https://github.com/nodejs/node/pull/20478

[2018-06-01 13:12] #19394 closed

[2018-06-01 13:13] apapirovski commented on #18585
Duplicate of https://github.com/nodejs/node/issues/18585

[2018-06-01 13:14] apapirovski commented on #18585
Duplicate of https://github.com/nodejs/node/issues/18323

[2018-06-01 13:14] #18585 closed

[2018-06-01 13:17] apapirovski commented on #19261
Given the extensive work on the module in question and no follow up failures in over 2 months, I'm going to close this out. Right now we don't have a reproduction to work with, nor any indication it still exists.

[2018-06-01 13:17] #19261 closed

[2018-06-01 13:28] apapirovski commented on #18838
Stress test in https://ci.nodejs.org/job/node-stress-single-test/1892/

[2018-06-01 13:30] s-h-a-d-o-w commented on #556
@ryzokuken

Uhm, thanks but I was actually hoping for an official solution at some point because the solution implemented by @ukoloff and me is a pretty dirty hack, as is noticeable by the fact that when you start an app using such a modified .exe, the mouse cursor will switch to "busy" state for like 5-6 seconds.

Which obviously makes for questionable UX, as the user will rightfully ask themselv

[2018-06-01 13:35] gireeshpunathil commented on #6219
@YouriT - here is a solution for the issues you posted:

#cat 6219.js
[code]
This code basically addresses what your needs are - precisely:
 - Sending a server socket to child => OK.
 - the parent has to handle requests too => parent listens with a backlog of 0 (so that no accumulated requests). Upon which it sends the server handle to the children, and close the server (un-listens from parent)
 -

[2018-06-01 13:35] #6219 closed

[2018-06-01 13:49] apapirovski commented on #18731
Duplicate of https://github.com/nodejs/node/issues/18731 — failing for the same reasons that are not inherently related to the test.

[2018-06-01 13:55] apapirovski commented on #18253
Has anyone seen this fail recently @nodejs/testing @nodejs/vm? I certainly haven't.

[2018-06-01 13:58] apapirovski commented on #18252
Has this failed at all since January? @nodejs/testing @nodejs/dgram?

[2018-06-01 13:58] maclover7 commented on #18253
The Build team has been working on a large re-arch of the Pi infrastructure, so that may have helped cleaned this up

[2018-06-01 14:10] apapirovski commented on #18731
Duplicate of https://github.com/nodejs/node/issues/18323 — failing for the same reasons that are not inherently related to the test.

[2018-06-01 14:14] apapirovski commented on #18505
Duplicate of https://github.com/nodejs/node/issues/18323

[2018-06-01 14:14] #18505 closed

[2018-06-01 14:26] srl295 commented on #21053
test suites should not expect specific 'golden' results for locale data.

[2018-06-01 14:30] srl295 commented on #19479
@MylesBorins fixed? https://github.com/nodejs/node/issues/19394#issuecomment-393876160 @apapirovski

[2018-06-01 14:36] Trott commented on #20173
@nodejs/testing @nodejs/build

[2018-06-01 14:38] jasnell commented on #20173
Yeah, as we've been digging in and expanding the trace events stuff, @ofrobots and I have been spotting a number of issues in the current implementation that lead to aborts/segfaults. I know @ofrobots is looking at a few PRs to get things fixed up. Marking the test as flaky for now is the right thing.

[2018-06-01 14:39] Trott commented on #18252
Not as far as I know.

[2018-06-01 14:40] gireeshpunathil commented on #16439
this has been unattended since original posting, closing. Please re-open if there are interested parties. thanks!

[2018-06-01 14:40] #16439 closed

[2018-06-01 14:40] Trott commented on #18253
I have not.

[2018-06-01 14:53] poiru commented on #556
@s-h-a-d-o-w FWIW, the `node_main.cc` patch in [my earlier comment](https://github.com/nodejs/node/issues/556#issuecomment-362489961) addresses the feedback cursor as well.

[2018-06-01 15:07] apapirovski commented on #18190
If anyone wants to help out, please have a look at the now closed https://github.com/nodejs/node/pull/18307 and suggest better ways of accomplishing this. Or if you believe the original PR was good enough, let me know.

[2018-06-01 15:08] s-h-a-d-o-w commented on #556
Yeah I saw that but... as that can't be automated (at least I don't think so, as the code base may change, so you always need to check manually?), I find it too much of a hassle to deal with especially for small personal projects.

If you work at a company where you're free to spend an hours here or there building silent executables for every node version that is being used, it's different. Still

[2018-06-01 15:21] lantern77 commented on #19954
I'll post my more cleaner reproduction here as well, I have 3 files
**socketClient.js, socketClient2.js, and socketServer.js.**
socketServer.js broadcasts UDP messsages on single multicast address(239.0.0.2) and a single port (1234)
while socketClient.js is attempting to receive on multicast address(239.0.0.1) and a port (1234)
while socketClient2.js is attempting to receive on multicast address(2

[2018-06-01 15:54] lance commented on #20367
A perspective from an intermittent contributor...

As someone who loves being a Collaborator on Node.js, but who is only an intermittent committer, I have wondered how long it would be before my status changed. I don't think it's ever been a full year between landing commits, but certainly months have passed. During those quiet periods, I am still actively skimming (can you actively skim?) nodejs/

[2018-06-01 16:31] Osiris1975 commented on #20538
I can also confirm that Avast was the problem on my machine as well.

[2018-06-01 18:00] #19479 closed

[2018-06-01 18:19] pciavald commented on #20921
I've installed node 10.2.1 to fix the core.h issue with zeromq, but i'm running into this problem :

[code]

[2018-06-01 18:58] benjamingr commented on #20367
Thanks for weighing in @lance 🤗

No pressure, contributing should be fun. I personally would be against any policy change that one-sidedly removes collaborators without communicating with them first and asking them about it.

For what it's worth I think consensus was that we should automate contributions through the CI and work towards a better pipeline so collaborators wouldn't have to `git push

[2018-06-01 20:11] refack commented on #11971
Hello from jenkins

[2018-06-01 21:27] wesleyhlee commented on #19997
The same error occurred for me whenever I tried to run "npm install [anything]".

[code]

This is the second time I've run across this error. The first time I completely uninstalled node since it was such a weird issue ([see Stack Overflow steps](https://stackoverflow.com/questions/11177954/how-do-i-completely-uninstall-node-js-and-reinstall-from-beginning-mac-os-x)), and then reinstalled with "`b

[2018-06-01 23:29] kopax opened #21088 "[Bug] Node 10.1.0 TLS issue with ldap: Client network socket disconnected before secure TLS connection was established"
We are experiencing issue while login to ldap in paralele.

The service we use is [verdaccio](https://www.verdaccio.org/) v3.0.2 with an Alpine linux docker container.

We use [verdaccio-ldap](https://github.com/Alexandre-io/verdaccio-ldap) module for the ldap authentication part.

We are experiencing issue due to multiple transactions to the LDAP through TLS.

This happens after upgrade to node 1

[2018-06-01 23:31] marcosc90 commented on #19862
It will fail If `highWaterMark` is `file.length - 1`, and encoding `base64`, at least on v8.x.

In the following snippet, not even `data` is emitted.
[code]

I'm willing to track down the changes on master to fix this issue.

[2018-06-02 00:40] marcosc90 commented on #19862
@addaleax I found the issue, and already [solved](https://github.com/nodejs/node/pull/21089) it for `v8.x`. I haven't got the time to go through all the code in `_stream_readable.js`, so if someone with more expertise in the subject care to take a look at my code, to make sure nothing else would break, even though all tests are passing, that would be great.

If everything is ok, I'll submit PRs fo

[2018-06-02 00:53] piscisaureus opened #21090 "node 10.3.0 - fs_event_wrap.cc:91: Assertion `(wrap) != nullptr' failed."
Never seen on older versions of node.

node version: 10.3.0 x64
os: windows 10

[code]

[2018-06-02 01:09] mscdex commented on #21088
Do you have a minimal code example that reproduces the error?

[2018-06-02 01:22] kopax commented on #21088
Unfortunately no, because the specs for reproducing are :

- OpenLdap 2.4.44 in Debian Docker container on Host A
- Verdaccio 3.0.2 in Alpine Docker container on Host A

- GitLab-CE on Host B
- Gitlab-Runner on Host B

Each host has 32GB RAM, 8CPU. The local bandwidth is 10GPB/S.
We are not able to reproduce the bug without as much power, but if you got so, it is verry easy.

If you have that, you

[2018-06-02 02:06] joyeecheung commented on #20367
I understand the sentiment from @lance , this proposal is just an alternative to automating the CI and commit landing - if we do not need human to do that, then there's no problem of leaving commit bits around. The remaining problem would be:

1. The project still is not getting the help that it seems to have: we list > 100 people in the README, but only about half of them showed up on the issue t

[2018-06-02 02:17] richardlau commented on #21090
Looks like the same assertion failure reported in https://github.com/nodejs/node/issues/20738.

[2018-06-02 02:17] #21090 closed

[2018-06-02 02:55] Trott commented on #13683
I'm going to remove the `in progress` label on this issue as it's been dormant for almost a year.

[2018-06-02 05:56] ORESoftware opened #21091 "significant perf difference between MacOS and Ubuntu"
This regards MacOS Sierra vs. Ubuntu 16.04

The problem occurs on both Node version 9 and 10, so I doubt it's a Node version issue.

I have a library that performs significantly better, 100x faster on MacOS over Ubuntu, and I am not sure why.

https://github.com/ORESoftware/testing

If you follow the instructions in the README on that repo -
the script should execute much faster on MacOS.

As note

[2018-06-02 07:16] lpinca commented on #21091
Did you try to profile and see where the time is spent? Tools like https://github.com/davidmarkclements/0x can help.

[2018-06-02 07:56] ORESoftware commented on #21091
Thanks @lpinca, will that work for multiple processes or just one process?

I assumed the latter, and so I put my broker and client in the same process, and now the Ubuntu slowness is gone. So quite seriously it looks like on Ubuntu the slowness is caused by IPC or something.

[2018-06-02 07:57] bnoordhuis commented on #21088
I'm sorry, but this bug report is not actionable if there is no way to reproduce or establish it's a bug in Node.js core (since it could be a bug in one of the modules you're using.)

I'll close this out, let me know if you have a test case that doesn't depend on third-party components.

[2018-06-02 07:57] #21088 closed

[2018-06-02 08:12] ORESoftware commented on #21091
So here is a big hint - when the TCP server and the TCP client are in the same process, Ubuntu and MacOS perform almost identically. However, when the server and client are in separate Node.js processes, MacOS performances improves slightly, but the Ubuntu performance degrades incredibly, 100x slower, etc.

[2018-06-02 09:12] lpinca commented on #21091
I don't know, I wonder if the difference may be caused by TCP packets being coalesced differently. Try to disable the [Nagle algorithm](https://nodejs.org/api/net.html#net_socket_setnodelay_nodelay) if you aren't already doing that.

[2018-06-02 09:21] bnoordhuis commented on #21091
Google for "linux tcp delayed ack," on localhost that adds a 40 ms delay.  Closing since it's not a Node.js issue.

[2018-06-02 09:21] #21091 closed

[2018-06-02 12:10] Trott opened #21096 "Nominating @davisjam to be a Collaborator"
I'd like to nominate @davisjam to be a collaborator. They have proven to be a very patient contributor and their individual contributions tend to be significant ones.

[Commits in the nodejs/node repository.](https://github.com/nodejs/node/commits?author=davisjam)
[Pull requests and issues opened in the nodejs/node repository.](https://github.com/nodejs/node/pulls?q=author%3Adavisjam)
[Comments](h

[2018-06-02 12:19] #19893 closed

[2018-06-02 12:29] mcollina commented on #19862
cc @nodejs/streams

[2018-06-02 12:30] mcollina commented on #19862
I _fear_ this might not be fixable in Node 6, 8, 9 without backporting a semver-major change: https://github.com/nodejs/node/pull/18994

[2018-06-02 12:30] gireeshpunathil commented on #21096
+1

[2018-06-02 13:00] DaAitch opened #21097 "http2: ServerHttp2Stream.respondWithStream"
http2, help needed, semver-minor

At my last tests with http2 I was wondering, why a `ServerHttp2Stream` has a `respondWithFD` and `respondWithFile` but no `respondWithStream`? I thought for SRP reasons we actually only need a `respondWithStream` implementation and composition to get `respondWithFD` and `respondWithFile` implemented like this:

[code]

Actually I already have a branch for this, bu

[2018-06-02 13:04] addaleax commented on #21097
So … I’m not quite sure whether this is what you mean, but `a.respondWithStream(b)` is essentially the same as `b.pipe(a)`, right? I would personally like to shift towards implementing `respondWithFD` and `respondWithFile` in terms of stream pipes, because `.pipe()` is what we use for this everywhere else.

I’m happy to take a look at your code, if you like.

[2018-06-02 13:26] addaleax commented on #21097
I think the first and the last of your examples are functionally equivalent, although at the moment `.pipe()` is still slower (this is the part we need to fix).

Calling both `.respond()` and `.respondWithFD()` doesn’t work, I *think* (not sure), because you’d be sending the headers twice?

[2018-06-02 13:29] SMotaal commented on #20771
The only export notation that might appear to actually export a global property (or rather a variable defined in a parent context outside of the top-level module context) is `export default log`. However, the reality is not that simple, because here `log` is assigned to the `*default*` binding of the module then exported as such. So essentially, any thing that is not declared at the top-level of t

[2018-06-02 13:30] DaAitch commented on #21097
@addaleax okay thank you, I'll close this issue:
=> `respondWithStream` is not needed, since `ServerHttp2Stream` itself is a stream.

[2018-06-02 13:30] #21097 closed

[2018-06-02 13:51] addaleax commented on #20824
@ryzokuken I’ve just tried that, but I couldn’t really get it to crash or to run – it always ends up on

[code]

:confused:

[2018-06-02 14:08] #20907 closed

[2018-06-02 15:16] apapirovski commented on #20824
I think this got fixed but not in a release yet? I could be wrong.

[2018-06-02 15:39] addaleax commented on #20824
@apapirovski I managed to get a reproduction on master, so, unfortunately no.

[2018-06-02 16:02] ingvald31 commented on #4329
Pfffffff Thank you guys !! I can't believe it too ..

[2018-06-02 18:41] qwertie opened #21100 "Syntax errors are misattributed to ModuleRequest.js:33:13"
* **Version**: v8.11.1
* **Platform**: Win7 64-bit
* **Subsystem**: --experimental-modules

If a module refers to another module with a syntax error, e.g.

[code]

[code]

Node claims that the syntax error is within Node.js itself:

[code]

[2018-06-02 18:48] devsnek commented on #21100
related to #19783, #19763, #19815

[2018-06-02 19:12] githubca opened #21101 "node-v10.3.0-x64.msi ended prematurely"
* **Version**: node-v10.3.0-x64.msi
* **Platform**: windows 10, x64
* **Subsystem**:

[nodejs.log](https://github.com/nodejs/node/files/2065286/nodejs.log)

[2018-06-02 19:13] ORESoftware commented on #21091
Thanks@bnoordhuis that sounds about right

[2018-06-02 19:15] githubca commented on #21101
sorry, i'll move this to help.

[2018-06-02 19:15] #21101 closed

[2018-06-02 19:17] ORESoftware commented on #21091
@bnoordhuis from a node.js perspective, is there a way to change this setting?

https://stackoverflow.com/questions/1615447/disable-tcp-delayed-acks

looks like I need to do it outside of Node.js

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux_for_real_time/7/html/tuning_guide/reducing_the_tcp_delayed_ack_timeout

[2018-06-02 19:39] bnoordhuis commented on #21091
The RH guide is correct, it's something the system administrator configures, not the application.

[2018-06-02 20:14] ORESoftware commented on #21091
Yeah I wonder how safe it is to change that setting, looks like it's a bit different for each Linux flavor.
I will investigate that.

Another strategy besides change that setting, is to allow for IPC on a single machine via something other than TCP. But I personally know of no "drop-in IPC replacement" for a server/client TCP model on a single machine.

[2018-06-02 20:17] aalexgabi commented on #9413
@gireeshpunathil My application is a task runner which it's agnostic to what tasks it executes. I have a RabbitMQ queue called `task_run_requests`.  Each `task_run_request` has a type and some parameters. The type of the tasks has a corresponding entry in a configuration file which looks like this:
[code]

All the commands the runner executes are just Linux programs. Most of the commands the runne

[2018-06-02 21:08] ORESoftware commented on #21091
@bnoordhuis  can we turn this into a feature request?

https://stackoverflow.com/questions/7286592/set-tcp-quickack-and-tcp-nodelay

It would be nice to be able to set this option with Node.js code, instead of having to write it in C somehow.

so I guess it would be something like:

[code]

[2018-06-02 21:12] DaAitch commented on #20824
Hey,

I can confirm this, testing it with latest `master` (as of now 2. Jun 18 23:11+0200).

[code]

See my [MCVE gist](https://gist.github.com/DaAitch/c290940801641ac43b6182773c62819e)

My tests show:
- push + pushStream.end is fine
- push + respondWithFile crashed
- push + respondWithFD crashed

[2018-06-02 21:38] DaAitch commented on #20824
I also put all frames Chrome is logging to the gist and I think `respondWithFile` or `respondWithFD` with `HTTP2_SESSION_SEND_RST_STREAM` is crashing.

[2018-06-02 22:13] lliepert commented on #20892
Also interested in contributing to this if help is still needed

[2018-06-02 22:36] ORESoftware opened #21104 "Allow linux users to turn off delayed ACK for TCP"
This is for all Node.js versions

re: https://jvns.ca/blog/2015/11/21/why-you-should-understand-a-little-about-tcp/

AFAIK, delayed ACK is the default on all Linux flavors. It would be interesting to have a way to turn off that flag, via a Node.js call.

I am not sure if there is a way to persistently set the flag, or if you need to set it for each TCP request. If the latter, perhaps it's prohibit

[2018-06-02 22:45] ORESoftware commented on #21104
I see this:
https://vertx.io/docs/vertx-core/js/

perhaps setting QUICKACK is possible with Node.js HTTP, but not a Node.js TCP server? I didn't see any mention of QUICKACK in the Node.js net docs.

[2018-06-02 22:51] targos commented on #21104
@nodejs/libuv

[2018-06-02 22:52] ORESoftware commented on #21104
So here is what Vertx docs say:

With these Node.js docs in mind:
https://nodejs.org/api/net.html#net_net_createserver_options_connectionlistener

right now there seem to be only two options for a Node.js net server:
[code]
so this feature request is for at least one more option:
[code]

[2018-06-03 07:31] ORESoftware commented on #21104
I tried creating a Node.js addon to change the setting:

[code]

but that didn't really do anything according to my testing

[2018-06-03 07:59] user-9826342 opened #21106 "Spec violation?"
* **Version**: 10.3.0
* **Platform**: windows 10
* **Subsystem**: v8

Shouldn't this

[code]

evaluate to `true` according to the ES specification? I found this yesterday on Firefox (gecko) bug tracker, but I can't find the issue right now. It seems that Node.js has the same issue. I also read the spec and IIUC it seems like this snippet should evaluate to `true` but I'm not sure.

Any opinions?

[2018-06-03 08:28] Deducts opened #21107 "JS issue"
and i receive a issue in the terminal of:

[2018-06-03 08:36] Trott commented on #21107
Hi! This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like this one, please file an issue on our help
repo. https://github.com/nodejs/help

Thanks!

[2018-06-03 08:36] #21107 closed

[2018-06-03 08:37] user-9826342 commented on #21106
@vsemozhetbyt

No, my point is that it should indeed be the same reference to the same array. See this: https://www.ecma-international.org/ecma-262/8.0/index.html#sec-gettemplateobject

Paragraph 4:

![](https://user-images.githubusercontent.com/39801377/40884762-003db7f4-671a-11e8-80c1-4d6197c11698.png)

I tested on Chrome 63 and it logs `true`, so I suppose it is a regression in v8.

@Trott PTAL

[2018-06-03 08:44] vsemozhetbyt commented on #21106
cc @nodejs/v8

[2018-06-03 09:36] bnoordhuis commented on #21106
This was also reported over at https://bugs.chromium.org/p/v8/issues/detail?id=7801.  Since this is a V8 issue and it doesn't look like V8 will change behavior right now, I'll go ahead and close this out.

[2018-06-03 09:36] #21106 closed

[2018-06-03 09:57] DaAitch commented on #20824
I try to create a red test, but unfortunately I can't find a way with the client to cancel a server push? I can only listen on it [docs](https://nodejs.org/api/http2.html#http2_event_push)

[2018-06-03 09:58] fhinkel commented on #19827
Here it is: https://nodejs.org/en/docs/guides/buffer-constructor-deprecation/

[2018-06-03 10:19] addaleax commented on #20824
I think this would work:

[code]

It only creates one of the failure modes, though.

[2018-06-03 10:49] DaAitch commented on #20824
@addaleax you're right it failes:
`node[9901]: ../src/node_file.cc:220:v8::MaybeLocal<v8::Promise> node::fs::FileHandle::ClosePromise(): Assertion '!reading_' failed.`

I'm wondering if `CHECK(!reading_);` is correct in `FileHandle::ClosePromise`, since `AfterClose` will handle a `FileHandle` being in reading state.
[code]

And how do we get this second error I was talking about?
`node[4683]: ../s

[2018-06-03 10:54] addaleax commented on #20824
@DaAitch I think the check is correct, it’s rather that the `StreamPipe` implementation shouldn’t keep reading if there was an error on the writable side. This is a patch that fixes *this* problem, but it’s (obviously?) not an ideal solution:

[code]

That second error is probably coming from a similar condition as the one from that test, but with different timing properties (but I’m not sure abou

[2018-06-03 11:30] apapirovski commented on #18323
I'm leaning towards closing this because we've fixed some segfaults in the last 3 months and this test hasn't failed in a long time. In addition we've had the V8 team help us with running Node.js with some debug parameters that would uncover segfaults and we've fixed all the findings of that.

[2018-06-03 11:44] DaAitch commented on #20824
@addaleax the patch you provided gives me a green test, but segfaults in my manual test.
[code]

[2018-06-03 11:45] Trott commented on #16734
The line that failed is:

[code]

I believe the inspector code increments the port each time so if `0` returns a port of (for example) 65534, this test will increment it out of range.

[2018-06-03 11:47] Trott commented on #16734
You can even see in the test output that `0` returned port 65534. Confirmed bug.

[2018-06-03 11:54] BridgeAR commented on #18323
I am fine with that

[2018-06-03 11:54] #18323 closed

[2018-06-03 12:27] Trott commented on #16837
Stress test: https://ci.nodejs.org/job/node-stress-single-test/1905/

[2018-06-03 13:39] Trott commented on #21100
Fixed (or improved at least?) in Node.js 10.x. (h/t @targos)

[code]

[2018-06-03 14:00] caijw opened #21110 "nodejs-v10.3.0 addons-api test code cann't be built."
* **Version**:  node@10.3.0
* **Platform**:  macOs 10.13.4
* **Subsystem**:

https://github.com/nodejs/node/blob/master/test/addons-napi/test_constructor/test_constructor.c
Nodejs-v10.3.0 addons-api test code cann't be built. It throws errors:
![image](https://user-images.githubusercontent.com/10678931/40887297-527403e8-6779-11e8-9a48-46a8d9d98de9.png)
And i guess there may be bugs in the napi_def

[2018-06-03 14:04] UlisesGascon commented on #20892
I am also interested in contributing...

[2018-06-03 14:05] addaleax commented on #21110
You might need to provide more information about your build environment. How are you building these addons?

`test_constructor.c` is a C file, not C++, but you’re compiling it with `CXX(target)`, not `CC(target)`. Also, the target object name `01/01.o` is something that is specific to your location configuration as well, I think?

[2018-06-03 14:08] BeniCheni commented on #12813
Hi maintainer(s), analyzed the details of this "_low-hanging_", "_good first issue_" issue. Saw the timestamp as old as "_Aug 10, 2017_" in last comment, so I gave the simple PR a shot in #21111. Thanks in advance for review or issue comments here. I'll update the PR according, Or happy to close the PR if it's irrelevant.

P.S: Was trying to look out for a test or any simple change with "_good fir

[2018-06-03 14:36] apapirovski commented on #18838
Stress test on the same platform as the original failure was green so IMO we can close. If anyone sees this again, please reopen with more info.

[2018-06-03 14:36] #18838 closed

[2018-06-03 14:38] #21076 closed

[2018-06-03 14:40] apapirovski commented on #16317
We have not seen this fail on our infra and we can't get it to fail for anyone that runs Windows. IMO this can be closed unless someone who can reproduce is willing to fix it...

[2018-06-03 14:40] #16317 closed

[2018-06-03 14:59] Trott commented on #21106
V8, SpiderMonkey, and JSC all return `false` but Chakra returns `true`:

[code]

[2018-06-03 15:06] #18006 closed

[2018-06-03 15:07] #19263 closed

[2018-06-03 15:09] #19791 closed

[2018-06-03 15:10] #19847 closed

[2018-06-03 15:14] Trott commented on #16837
Stress test is green after 999 runs.

[2018-06-03 15:14] #16837 closed

[2018-06-03 15:33] #20297 closed

[2018-06-03 15:33] #20738 closed

[2018-06-03 15:39] Trott commented on #13061
Since we're talking about running debug tests nightly, and/or tests with `--gc-interval` nightly, I guess this is a good time to raise the profile of this request too. @nodejs/build

[2018-06-03 15:44] Trott commented on #16601
Adding `blocked` label until the libuv PR lands.

[2018-06-03 15:49] #19079 closed

[2018-06-03 15:52] seishun commented on #19079
@Trott The full deprecation still hasn't landed, so perhaps this should remain open until then?

[2018-06-03 16:02] Trott commented on #20253
This ship seems to have sailed, unfortunately. Closing.

[2018-06-03 16:06] #20414 closed

[2018-06-03 17:35] maclover7 commented on #13061
Wasn't too hard to setup, 18/21 tests are passing: https://ci.nodejs.org/job/node-test-commit-custom-suites/6/

[2018-06-03 18:10] silverwind commented on #21104
Not sure about addons, but generally, this would have to be added to libuv first, similar to [uv_tcp_nodelay](http://docs.libuv.org/en/v1.x/tcp.html#c.uv_tcp_nodelay) which is exposed via `socket.setNoDelay`.

It'd probably also make sense to have per-server settings for socket options, but right now, you have to set them on each connection's `socket` manually.

[2018-06-03 18:45] ORESoftware commented on #21104
Beyond, TCP_QUICKACK, I believe there are a few other TCP flags/settings worth incorporating as well:

TCP fast open might be useful, but that might be more of a system thing, not a per process thing.

https://bradleyf.id.au/nix/shaving-your-rtt-wth-tfo/
https://blog.wasin.io/blog/2016/12/26/how-to-enable-fast-tcp-open-on-ubuntu.html

so maybe a more dynamic way to set any flag might be useful:

[

[2018-06-03 20:53] Trott commented on #13061
Awesome, thanks!

The two dgram failures may be making assumptions about network configuration that aren't true on our CI hosts. I can try to mess around with those a bit to see what might be done.

The dns failure is a straight up failing test that we just haven't noticed until now because we don't run the internet tests ever. :-D  I'll take a look at that one too.

[2018-06-03 21:07] Trott commented on #13061
PR to fix dns test: https://github.com/nodejs/node/pull/21116

[2018-06-03 21:09] TimeForANinja opened #21117 "inconsistent behaviour accessing body of GET request"
* **v10.3.0**:
* **Darwin XXXXXXX 15.3.0 Darwin Kernel Version 15.3.0: Thu Dec 10 18:40:58 PST 2015; root:xnu-3248.30.4~1/RELEASE_X86_64 x86_64**:
* **http**:

Accessing the body of a `GET` request produces pretty inconsistent responses.
As far as i know `GET` request do support bodys based on the http standard but it's not recommended to use them and the content provided shouldn't change.
When mo

[2018-06-04 00:50] DaAitch opened #21118 "`ThreadLocal` in Node"
for: improvements, cross-cutting topics

I'm wondering how we can solve what they call `ThreadLocal` in Java. The reason is, that for cross-cutting edge topics, it's hard in NodeJS to have any context, they have in Java with blocking threads. `async_hooks` solves this partially and but I think it's more a monitoring thing.

I've also read, that e.g. with `express` it's a good idea to have a contex

[2018-06-04 07:54] ivan-kleshnin opened #21119 "Custom inspection warning"
Version: 10.3.0
Platform: OS-x
Subsystem: –

Something is broken about deprecation warning on `.inspect`. Honestly, I never heard of this method (Node's magic stuff?) But at this moment all libraries having objects with `inspect` method in their APIs are affected.

[code]

One example of such library: https://github.com/origamitower/folktale

[2018-06-04 08:32] Trott commented on #21038
Stress test to confirm this is reproducible on FreeBSD:

https://ci.nodejs.org/job/node-stress-single-test/1906/

[2018-06-04 09:33] bnoordhuis commented on #21100
Yes, this was fixed in #17281 and/or #17786.  I'll close this out.

[2018-06-04 09:33] #21100 closed

[2018-06-04 09:36] Trott commented on #21038
`stderr` is empty and the assertion swallows all the other info that might be useful (status, stdout, signal).

PR to improve output: https://github.com/nodejs/node/pull/21120

[2018-06-04 09:46] bnoordhuis commented on #21118
Not one we'll accept though since you can accomplish that with async_hooks.  The express goal of async_hooks is to provide mechanism without too much policy.

[2018-06-04 11:23] freiit opened #21121 "fsPromise - read files from positions >4GB doesn't work"
* node10.3.0:
* tested on x86_64 GNU/Linux and armv6l GNU/Linux
* fs / fsPromise

reading files > 4GB doesn't read the correct bytes.
(Maybe related to fix here: https://github.com/nodejs/node/pull/21003)

Code example shows identical code, one with fsPromise, one the old style cb. Example uses sparse file for fast reproduction, but works also with non-sparse files.

[code]

[2018-06-04 11:51] caijw commented on #21110
@addaleax , I am writing some n-api demo, and i copy the test case to my local project.I change the file name from 01.cpp to 01.c, and use node-gyp to buid the code. It is working. Maybe it is the difference between c and cpp Compiler.
Thank you very much.

[2018-06-04 12:38] joyeecheung commented on #20367
I think by listing people in the README it actually builds a wall between "people who are in the README" and "people who are not in the README", which is also part of the problem of our definition of collaborator: people would feel alienated if they are not an collaborator anymore while in fact we should make everybody, collaborator or not, feel welcomed when they want to weigh in.

[2018-06-04 14:02] spurreiter opened #21122 "fs.createWriteStream does not fire close event"
* **Version**: v10.3.0
* **Platform**: Linux dev 4.15.0-22-generic #24-Ubuntu SMP Wed May 16 12:15:17 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

The following code illustrates the observed issue:

[code]
On node>=10.0 only the `readable` event fires

[code]

On node@9.11.1 the output is

[code]

[2018-06-04 14:10] caijw commented on #21110
I still think this is a bug for the n-api. The cpp compiler should cimpiles the c code well.
I found that the n-api test cases use object-orient code(for example the [object_wrap](https://github.com/nodejs/node/blob/master/test/addons-napi/6_object_wrap/myobject.cc)  ).

[2018-06-04 14:34] Mazhar7860 opened #21123 "Issue while doing npm install on macOS High Sierra Version 10.13.4"
Version: v9.6.1
Platform: Darwin C02W35ZLHTD6 17.5.0 Darwin Kernel Version 17.5.0: Mon Mar  5 22:24:32 PST 2018; root:xnu-4570.51.1~1/RELEASE_X86_64 x86_64

Hi Team,

I am using node v9.6.1. When i ran npm install, i am getting the below error, even i tried uninstall, reinstall, clearing cache still no luck, hence requesting your kind support for the same.

**17 silly fetchPackageMetaData error fo

[2018-06-04 15:07] mscdex commented on #21123
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-06-04 15:07] #21123 closed

[2018-06-04 16:28] Nima-Ra opened #21124 "Node js doesn't work in a terminal which node did not installed in!"
Hi
I tried to install node js from this link: https://github.com/nodejs/help/wiki/Installation

So I installed it and it was successful but just in that terminal!
If I type `node -v` or `npm -v` it shows me the true result but when I open another terminal and type them it doesn't show the expected result!
It tells me that I didn't install them!!

[2018-06-04 16:42] felixfbecker commented on #20253
@Trott can't this be considered for Node 11? I would hate to have to live with this mistake for the rest of Node's life. Since `name` is currently a human-readable display property, changing it back to a programmatically-inspectable one would be a low-impact change (all code that was changed to not rely on `name` anymore would continue to work).

[2018-06-04 17:00] gabrielschulhof commented on #20966
@MayhemYDG can you create a minimum test case to illustrate the problem?

[2018-06-04 17:01] celicoo opened #21125 "Override the next method of an asynchronous iterator doesn't work in v10"
## Bug Report

**Current Behavior**
Override the next method of an asynchronous iterator object doesn't work in v10.

**Input Code**

[code]

**Expected behavior/code**
The  output should be `outter` printed, followed by multiple `inner`, but in fact, the looping always prints `outter` and then `inner`, repeatedly.

Expected:

[code]

Reality:

[code]

**Environment**
- Node/npm version: 10.3/ 5
-

[2018-06-04 17:37] zxqfox commented on #18446
Thank you very much!

[2018-06-04 17:43] langweicheng commented on #21124
it's seems like an  authority problem.
try $ `sudo node -v `
or $` sudo -l ` to watch your authority limitations.

[2018-06-04 18:45] ericroy commented on #19954
I think this behaviour is actually correct on Linux 2.6.31 when the IP_MULTICAST_ALL socket option is set to 1 (which is the default).

You can read more about IP_MULTICAST_ALL here: http://man7.org/linux/man-pages/man7/ip.7.html

[2018-06-04 19:27] MayhemYDG commented on #20966
@gabrielschulhof I'm trying to create a minimum test case from scratch, but it's not failing...
There must be more to it but I don't know where to look. It only happens on Node 10.2.0+.

[2018-06-04 22:51] gabrielschulhof commented on #20966
I think I've reproduced it.

On Mon, Jun 4, 2018 at 3:29 PM, Nicolas Stepien <notifications@github.com>
wrote:

[2018-06-04 22:54] gabrielschulhof commented on #20966
@MayhemYDG https://gist.github.com/gabrielschulhof/4d01d88a75df33981511304162c4a063 crashes when built against master, but runs fine prior to commit c0720570498895d06dcec4e8f01e8922a81ac78b.

[2018-06-04 23:13] gabrielschulhof commented on #20966
This is a bug we've fixed before. Before calling the `_complete` callback we must back up the `env`, because the copy stored inside the wrapper class gets lost when the wrapper class gets freed as part of `napi_delete_async_work()`.

[2018-06-04 23:20] gabrielschulhof commented on #20966
Actually, we've fixed it before, but not with async work: 1a5a19d6d475578eec355a8b3079b4a96fc77489 🙂

[2018-06-05 00:07] celicoo commented on #21125
I realized that Chrome and Firefox has the same behaviour of Node 10. Does it means that the wrong behaviour happens in Node 8? (behind --harmony_async_iteration), and more important, is this a internal cache of `await for...of`?

[2018-06-05 00:27] jdalton commented on #21119
Hi @ivan-kleshnin!

This is because in Node 6.6.0 a symbol `util.inspect.custom` was added and the old behavior of using a method named `inspect` was deprecated. For more info on custom inspection see [this](https://nodejs.org/api/all.html#util_custom_inspection_functions_on_objects). Eventually, the documentation deprecation became a runtime deprecation. You're seeing this in the REPL because und

[2018-06-05 00:34] mscdex commented on #21125
Any features like that that are only available behind a flag should be considered experimental. My guess is that what you're experiencing now is the expected behavior.

[2018-06-05 01:17] Leko opened #21130 "Support WebAssembly.instantiateStreaming"
I think it's better support `WebAssembly.instantiateStreaming`.
It makes more easy to use WebAssembly and we can get more compatibility for Web.

It already implemented in Google Chrome, Firefox and some browsers.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WebAssembly/instantiateStreaming

`instantiateStreaming` already exists in `deps/v8/src/wasm/wasm-js.cc`

[2018-06-05 01:37] celicoo commented on #21125
I'm affraid that's the case, which would make me extremely disappointed since method override is something that should be possible in this case.

[2018-06-05 03:15] bradennapier commented on #20821
Yeah running into this now.  Unfortunately all my proxies just print like this:

[code]

Since this lib should work everywhere, I dont want to import `util`, but would definitely like it to print the appropriate value!  Glad to see progress is being made here.

[2018-06-05 03:18] AyushG3112 commented on #21130
While I understand that implementing WebAssembly for isomorphism might be good, but, for native modules, we already have Native and N-API addons. This would just be throwing another one into the mix.

[2018-06-05 04:12] Trott commented on #20253
This needs more attention, but there's no errors team. @BridgeAR @joyeecheung @jasnell

[2018-06-05 04:44] AyushG3112 commented on #21130
@devsnek ah, I did not know that. Nevermind my comment then, and thanks!

[2018-06-05 06:06] CertainPerformance commented on #21125
See [this StackOverflow](https://stackoverflow.com/questions/50691640/asynchronous-iterators-thenable-object/50692676) question - it doesn't look to be a bug in Node. The same behavior is visible in native browser-based JS as well.

[2018-06-05 06:42] bzoz commented on #20750
Reopening: https://github.com/nodejs/node/pull/21051#issuecomment-394501543

[2018-06-05 07:15] thetutlage opened #21142 "Memory leak detected with new Function inside http request handler"
* **Version**:
Node v9.8.0

* **Platform**:
MacOsx

* **Subsystem**:
High sierra

I have a simple program, that executes a string using `new Function` inside the HTTP request handler. Due to this memory keeps on growing.

[code]

1. Start HTTP server using `node --inspect index.js`.
2. Open Chrome devtools.
3. Send requests using autocannon. `autocannon -c 1 -d 60 http://localhost:4000/`
4. Take h

[2018-06-05 07:47] mgalakos opened #21143 "require.main is undefined when using --experimental-modules"
* **Version**: node v10.3.0
* **Platform**: linux, windows, wsl

When running node with --experimental-modules flag, the global ```require``` object has a ```main``` property but its value is always ```undefined```. Is this by design?

[code]
[code]
[code]

[2018-06-05 07:47] ivan-kleshnin commented on #21119
Ok, got it. Thank your for the explanation! Closing...

[2018-06-05 07:47] #21119 closed

[2018-06-05 08:18] Nima-Ra commented on #21124
I solved this problem with NVM (Node Version Manager) :
https://linuxconfig.org/how-to-install-node-js-on-ubuntu-18-04-bionic-beaver-linux

[2018-06-05 08:18] #21124 closed

[2018-06-05 09:04] DaAitch commented on #21122
I can confirm that behaviour unless I don't know if it's correct or not. Different versions have different outputs.

versions I used:
- node-v8.9.4-linux-x64
- node-v10.0.0-rc.2-linux-x64

I've also tested it the easier way of "copying via stream" and it works as expected, both close events are emitted.

[code]

[2018-06-05 09:30] bnoordhuis commented on #21142
Does your application actually run out of memory?  For context, `new Function()` creates a new script object and those are collected only infrequently (since most scripts are long-lived.)

[2018-06-05 09:47] mgalakos commented on #21143
I was expecting to be no difference in behavior (using the flag or not).
I thought ```.js``` files are considered ```cjs``` (by default) even when using ```--experimental-modules```.

p.s. all the other properties of ```require``` object have almost identical values.

[2018-06-05 09:49] bnoordhuis commented on #21130
What is the use case besides feature parity with browsers?  `WebAssembly.instantiateStreaming()` seems of limited usefulness in Node.js.  Likewise `WebAssembly.compileStreaming()`.

That would be fairly straightforward to implement but I share @devsnek's sentiment that we shouldn't diverge from browsers lightly.

Pray tell!

[2018-06-05 09:51] bnoordhuis commented on #21125
Answered, closing.  Next time, please post to nodejs/help if you're not sure it's a bug in Node.js.

[2018-06-05 09:51] #21125 closed

[2018-06-05 10:05] thetutlage commented on #21142
I believe it will run out of memory. Instead of running `autocannon` test for a minute, I ran it for 10mins and here are the results.

<img width="634" alt="screen shot 2018-06-05 at 3 33 24 pm" src="https://user-images.githubusercontent.com/1706381/40969614-f91fb630-68d5-11e8-81b7-4418f279a022.png">

Also I am not sure, how it never become an issue so far, since majority of Template engines make

[2018-06-05 10:10] vkurchatkin commented on #21142
they do it only once to create a template function, though, not on each render

[2018-06-05 10:15] thetutlage commented on #21142
That is true for only template and not for all the templates. So if you have 40 views in your app, then it will be 40 functions.

Also, it is fine, if it is intended to work this way only. My main purpose was to bring it into notice, since the same code inside a `setInterval (outside of Http handler)` works fine.

[2018-06-05 10:27] bnoordhuis commented on #21142
Probably not, or you'd know.  When Node.js OOMs, the process terminates abruptly with an error message logged to the console.

If you don't get that error, everything is probably working fine; the scripts/strings get collected sooner or later.

[2018-06-05 10:32] thetutlage commented on #21142
I believe the team maintaining `pug` template engine has the same issue. https://github.com/pugjs/pug/issues/2972
https://github.com/ForbesLindesay/v8-memory-leak

I understand that GC doesn't kicks in right away to claim the memory, but even if I wait for hours the memory stays intact.

You can feel free to close the issue, since it seems to be a deeper issue and workaround is to cache the calls

[2018-06-05 10:42] bnoordhuis commented on #21142
Ah, I think I understand now what's tripping you up.  This is a duplicate of #19733 - the inspector retains references to scripts, making it look _as if_ there's a memory leak but there isn't, not when running normally.

I'll close this out, cheers.

[2018-06-05 10:42] #21142 closed

[2018-06-05 10:55] mgalakos commented on #21143
Oh i see, thank you for your quick response.

Maybe this should be solved before esm support drop experimental status, because it will break all ```cjs``` modules that rely on ```require.main```

[2018-06-05 11:43] Leko commented on #21130
@devsnek @bnoordhuis I totally agree.
I think it should be implemented the same API as browser.

[2018-06-05 11:45] bnoordhuis commented on #20352
Seeing there's been no reproduction, I'm going to close this out.  Thanks anyway for the report.

[2018-06-05 11:45] #20352 closed

[2018-06-05 11:49] bnoordhuis commented on #21130
Okay, but can you speak to your use case?  As I said, I don't really see when or why you'd use it with Node.js.

[2018-06-05 12:04] ryzokuken opened #21147 "meta: don't close issues/PRs until backported"
As proposed and discussed on Day 2 of the collaborator summit in Berlin, we should introduce a small governance change, asking people to refrain from closing issues/PRs not only until a commit has landed on master but until after the changes have been backported to the said branches.

Opening this issue for asynchronous discussion by the greater contributor community, and hopefully implementing th

[2018-06-05 12:05] ryzokuken commented on #21147
@MylesBorins @Trott just putting this very rough draft out here, for people to see and comment on. Please propose any changes you'd like. Let's work to get this done as soon as we can?

[2018-06-05 12:30] bnoordhuis commented on #21147
You mention how but not why.  So: why, what's the benefit?

[2018-06-05 12:30] ryzokuken commented on #21122
Strange. There don't seem to be any changes made in particular:

[code]

@nodejs/fs any idea what's going on here?

[2018-06-05 12:40] ryzokuken commented on #21147
@bnoordhuis just noticed that I missed that part! My bad, added a "Motivations" section, take a look.

[2018-06-05 12:48] ryzokuken commented on #21121
I believe that this should've been fixed in 10.3.0, after https://github.com/nodejs/node/pull/21003.

/cc @mafintosh

[2018-06-05 12:54] apapirovski commented on #21078
ping @nodejs/async_hooks — not sure what the correct outcome here is. I can see validity to both, depending on how one thinks about it. Either way, seems like the documentation doesn't match the reality so one of the two needs to be updated.

[2018-06-05 12:54] joyeecheung commented on #21122
@ryzokuken This looks more like a stream issue rather than fs issue?

[2018-06-05 12:55] devsnek commented on #21143
I found this a few weeks ago but wasn't sure how to fix it, I'll take another look before friday.

[2018-06-05 12:58] bnoordhuis commented on #21147
I don't think that will ever work.  It doesn't encourage people to back-port pull requests, it encourages them to stop merging them in the first place.  Right intent, wrong approach.

I doubt there is a way of fixing the lack of back-porters when that's ultimately a volunteer effort.  People act on things they think are valuable.  You can't force them to do things they don't want to.

[2018-06-05 13:25] capaj commented on #6899
I just got this today with node 8.11.1. It happens when I do a infinite recursion in my graphQL resolver. I'll probably setup a small repro repo and report it as a new issue.

[2018-06-05 13:37] Leko commented on #21130
@bnoordhuis My use case is image processor what work on browser and Node.js implemented by WebAssembly.
And small wrapper for loading it.

BTW, I think we decide to implement Fetch API or not prior to start this discussion.
It already discussing in this issue: https://github.com/nodejs/node/issues/19393#issuecomment-378559901

[2018-06-05 13:49] apapirovski commented on #20750
Ok, I have an understanding of what breaks this on Windows but not the exact way to fix it. Will need to think on it for a bit.

[2018-06-05 13:59] guybedford commented on #21143
Agreed this is a bug, had just put on my list to fix too.

[2018-06-05 14:06] bnoordhuis commented on #21130
I can see why you'd load it in streaming fashion in a browser but why in Node.js?  If it's an on-disk file, just load it in one go.

[2018-06-05 14:07] BridgeAR commented on #20253
As I tried to point out above this is not an easy talk to solve. I do not know of __any__ solution that allows exactly what we want. That was also the reason why @jasnell originally implemented it the way it is.

After my recent changes all extra properties will be visible by default. That was not the case so far but it should already improve the situation.

I am not sure anymore if I already chec

[2018-06-05 14:08] caijw commented on #21110
@bnoordhuis so i should use c compiler instead of cpp compiler when i user the napi_property_descriptor api ? I think it is unreasonable.

[2018-06-05 14:09] bnoordhuis commented on #21110
If you think it's unreasonable you need to educate yourself on the differences between C and C++.

[2018-06-05 14:17] joyeecheung commented on #21147
@bnoordhuis "Closing the PR" and "landing the PR" is actually two separate things unless you force push the merged HEAD to your PR branch to make it purple.

[2018-06-05 14:27] caijw commented on #21110
Thank you very much. Int type can be assigned to a enum type in c++.And the static_cast is a way to solve this problem.

[2018-06-05 14:41] cjihrig commented on #21096
+1

[2018-06-05 14:43] bnoordhuis commented on #21147
I know.  I don't think it's relevant.

[2018-06-05 15:00] mscdex commented on #21147
-1 I actually prefer proper merging of PRs and don't think it's as simple as making "original" PR authors do backports when there are conflicts.

[2018-06-05 15:18] joyeecheung commented on #21147
I don't think making the original author do backports solve the issue either because they may not know what has been going on in the files they touch either, especially in the case of new contributors. We may consider asking the subsystem teams to do this, or the reviewers - anyone who knows what's going on in those files.

Also I do think it's time we actually take measures to make sure backports

[2018-06-05 15:20] limitedeternity opened #21151 "Is there any alternative to Python's input() that is usable without need to install packages?"
Title

[2018-06-05 15:23] mscdex commented on #21151
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-06-05 15:23] #21151 closed

[2018-06-05 17:37] ryzokuken commented on #21147
@bnoordhuis

Couldn't agree more with what @joyeecheung said. If a PR isn't backported, then it's useless and I think this conveys the message really well. Either backport it as soon as you land it, or don't land it at all. I don't believe people will just stop landing PRs into core just because they're required to make an extra PR. It's mostly just a question of being prompted to do so. Heck, it'

[2018-06-05 17:40] ryzokuken commented on #21122
@joyeecheung it does to me as well, but the `'close'` event for the `WriteStream` class is actually documented in the fs docs, and is inherently tied to the filesystem:

Therefore, I thought it'd be a filesystem bug. Will try "inspect"-ing this tomorrow, if I can.

[2018-06-05 17:48] mhdawson commented on #21096
+1

[2018-06-05 17:56] bnoordhuis commented on #21147
There is a lot I disagree with in your and @joyeecheung's comments but rather than filet them sentence by sentence, I'll just note that if soliciting back-ports is so onerous, then maybe merge-to-master-then-backport isn't the right model for us.

In ye olden days, we merged fixes into the oldest applicable release branch, then merge that branch cascade-style into newer branches and master.  It wa

[2018-06-05 18:05] richardlau commented on #21147
For LTS things are deliberately not cherry-picked/backported immediately, so this is going to result in PR's being left open for a long time (in the case of semver-minors possibly months after landing on master).

[2018-06-05 18:20] premnathj commented on #19260
Facing the same issue...

[2018-06-05 18:27] joyeecheung commented on #21147
I think the problem with our current merge model is that we couple this with semver. But just because a change is semver-major/minor does not mean every line it changed is semver-major/minor, people often clean up and refactor as they go. It could make the backports easier if we insist that if a non-semver-patch commit contains changes that can be backported, then it should be split into multiple

[2018-06-05 18:33] joyeecheung commented on #21147
Also, we may want to avoid rushing into labeling PRs as semver-major. Holding too much stuff on master will make the backport harder over time. If a change is unlikely to affect a significant number of users, maybe we can just release it and see how it goes in the wild instead of being too conservative about everything. If it ends up being breaking, we can add a fix on top of that, at least all th

[2018-06-05 18:38] richardlau commented on #21147
-1 for LTS.

[2018-06-05 18:46] joyeecheung commented on #21147
@richardlau That's kind of the point of Current isn't it? Since LTS backports happen much less often, we should have sufficient amount of time to prove that it's not actually breaking. Or maybe we can just add a label for those trivial changes (like typo fixes) that might be breaking but unlikely and invite more users to try it out. There is a scale of how breaking a change could be, and we are al

[2018-06-05 19:18] lantern77 commented on #19954
@ericroy
Is there a way to disable IP_MULTICAST_ALL when creating a socket in node?
Currently I found a solution but it involves binding the multicast address when we do socket.bind()

[2018-06-05 19:42] Danielsberg commented on #4329
Disabling avast worked for me!

[2018-06-05 20:51] ericroy commented on #19954
IP_MULTICAST_ALL is not exposed by libuv as far as I know, so I think the answer is no - it's not exposed in Node.  I think binding to the multicast IPs as you suggested might be your only solution.

[2018-06-05 21:08] ericroy commented on #19954
Or, maybe you can call setsocketopt using the ffi to turn off that IP_MULTICAST_ALL flag.  This might be of interest:  https://stackoverflow.com/questions/13217049/how-to-setsockopt-under-node-js

[2018-06-05 22:35] mhdawson commented on #20714
The problem I see is the that benchmarks could easily be broken without noticing until later and its harder to follow up after the PR has landed.  If the benchmarks can be run in a way that takes less time (ex less runs but still executes all code) then I could see it being a better possibility.

[2018-06-05 22:45] BridgeAR commented on #20714
@mhdawson that is very unlikely. Why would we not detect the benchmarks to be broken if we run the tests on the CI? It is just a separate task that has to be triggered in a specific (new) CI job.

[2018-06-05 23:29] roblourens opened #21157 "Node 10 missing async frame"
There is a difference in async stack traces between Node 9 and 10, which looks like a bug.

Debug this code:

[code]

Set a breakpoint on `return asyncFn4()` (which doesn't exist but I don't want to retake the screenshots)

v9.11.1
![image](https://user-images.githubusercontent.com/323878/41007889-e5aab756-68dc-11e8-97fa-ba35b7668573.png)

v10.3.0
![image](https://user-images.githubusercontent.com

[2018-06-05 23:31] eugeneo commented on #21157
@ak239

[2018-06-05 23:50] ak239 commented on #21157
I believe that it is bug related to some V8 promise optimizations. I verified that it works correctly in v9 and v11.0.0-pre (from V8's node fork). In v11 node will use new V8 version which will include nice reworked async stacks for async functions which are not relying on promise hooks and faster then current implementation.
v10.3 I hope will get some cherry picked V8 commit with better promise h

[2018-06-06 00:42] rakatyal opened #21158 "Class name is missing from Call Stacks when debugging a regular typescript function"
* **Version**: 8.10.0
* **Platform**: Windows 10

We no longer see the class names in the call stacks when we put a breakpoint inside a function defined inside a class the regular way:

[code]

The resulting stackframe appear as:

![capture](https://user-images.githubusercontent.com/12533467/41009664-3f31b612-68e7-11e8-8351-67fa556d7aff.PNG)

When the functions are declared by the fat arrow syntax

[2018-06-06 00:46] devsnek commented on #21158
any crazy stuff might be happening with typescript or the debugger or your source maps. does the same issue happen for pure js with error.stack?

[2018-06-06 00:56] ORESoftware opened #21159 "feature request - require accepting varargs"
Probably never going to happen but might be fun.

[code]

might be very convenient for short .js scripts. It's not very compliant with ES6+, it would just work for pure Node.js scripts, etc.

[2018-06-06 02:10] ORESoftware commented on #21159
yeah CJS will be unlocked one day, might be fun at some point

[2018-06-06 02:40] ryzokuken commented on #21147
@bnoordhuis I understand where you're coming from, and yes, this approach might not be fool-proof, I do believe it would be a strong step in the forward direction. The whole point of opening an issue for discussion was to invite debate, possibly even alternatives.

I've never used such a model before, so I'm clueless as to how it works. I'd love to see more reactions to this, perhaps this could wo

[2018-06-06 02:48] ryzokuken commented on #556
@poiru @s-h-a-d-o-w please feel free to discuss this and reach consensus, and feel free to reopen this if you feel it should be. I just closed this because it's technically resolved and there was no activity. You'd also want to ask someone to work on this, or submit a PR yourself. We cannot just keep it open.

[2018-06-06 03:28] Trott commented on #20367
Coincidentally, I chatted today with a developer (who does mostly Ember.js and is not involved in Node.js core at all) and, without prompting, they offered that by listing all the people in the README, it makes Node.js approachable and welcoming. They were explaining that if they wanted to talk to someone about the feasibility of a feature in PHP, they would have no idea how to go about doing it.

[2018-06-06 04:40] liuchong opened #21162 "output format of toLocaleString of Date changed in v10.3.0?"
When I use a new Date().toLocaleString(), I've found the format is different with before:

[code]

[code]

I did not find any thing about it in changelog, anything I'm missing?

[2018-06-06 05:04] richardlau commented on #21162
See https://github.com/nodejs/node/issues/21053.

[2018-06-06 05:48] vsnehil92 commented on #21143
@guybedford  Is this issue still open?

[2018-06-06 05:48] ryzokuken commented on #21159
It seems like there's already a working solution which is quite similar in syntax (as proposed by @devsnek) and that it's probably not very actionable right now, so I'm closing this for now. Feel free to reopen later!

[2018-06-06 05:48] #21159 closed

[2018-06-06 05:49] ryzokuken commented on #21162
As @richardlau pointed out, this is a duplicate of #21053. Because there's a lot more happening over there, I'm closing this in favor of that one, please get involved in the discussion over at that issue, and feel free to reopen this later if you think that's appropriate.

[2018-06-06 05:49] #21162 closed

[2018-06-06 06:01] liuchong commented on #21162
Thanks :100:

[2018-06-06 06:01] ORESoftware commented on #21159
sounds good

[2018-06-06 06:16] ljharb commented on #21143
@vsnehil92 yes, because the linked PR #21150 hasn't yet been merged.

[2018-06-06 06:17] Trott opened #21163 "make distclean removes version-controlled files"
* **Version**: 11.0.0-pre (master)
* **Platform**: POSIX
* **Subsystem**: build

[code]

I'm not sure if the right solution is to change the Makefile so it doesn't delete those files, or if the right solution is to remove those files from version control. I'm guessing it's the former, but maybe they get generated? (If I had compilation working on my machine right now, I'd test/check.)

[2018-06-06 06:17] Trott commented on #21163
@nodejs/build

[2018-06-06 06:36] vsnehil92 commented on #21143
@ljharb The changes have already been approved.

[2018-06-06 06:38] targos commented on #21163
These files were added to version control by the V8 project in https://github.com/v8/v8/commit/539e907258bf639377483692e0b38694fec753f8 (V8 6.7) so yes, changing the Makefile seems like the right thing to do.

@nodejs/v8-update

[2018-06-06 06:39] ryzokuken commented on #21163
I'd side with the former too. They're version-controlled files that were updated recently.

Making a PR.

[2018-06-06 06:42] ljharb commented on #21143
yes, but issues typically stay open til the PR is merged.

[2018-06-06 07:38] bmeurer commented on #21157
@MayaLekova can you check this one please?

[2018-06-06 08:31] MayaLekova commented on #21157
The issue seems to be fixed by [reverting some promise optimizations](https://github.com/v8/v8/commit/91ddb65d3b34c07c5026727de84dc91b5e0a43cd). Current version of Node.js in the V8 fork includes the fix indeed.
As far as I see in the official Node.js repo, the fix isn't included in the v10.2.1-proposal branch. I can't say for sure about v10.3, because it's not branched yet.

[2018-06-06 08:40] AlenrG commented on #11623
sudo rm -f  /usr/local/lib/node_modules/npm
sudo dnf reinstall nodejs

[2018-06-06 08:43] NicoGorr opened #21165 "--prof-process flag gives bugged paths"
* **Version**: >= 10.0.0
* **Platform**: Tested on Windows 7 64bit, Windows 10 64bit, Linux ubuntu 4.15.0-22-generic 64bit (with the same log generated under windows 7, I think the bug doesn't happen with linux's paths)
* **Subsystem**: V8

This is the V8 log (in my case named `isolate-00000000004417E0-6940-v8.log`):
![V8Log](https://user-images.githubusercontent.com/28389207/41025773-18b61172-697

[2018-06-06 08:44] targos commented on #21157
This fix is in v10.x-staging. It should be released with the next version (10.4)

[2018-06-06 10:01] LaudineCOW commented on #20285
[code]
worked for me, but I also had to remove *yarn.lock* before install.
[code]

[2018-06-06 10:02] Globik commented on #20118
Also uv_poll_t should to use long runing uv loop, but in napi i can't figure out how to.

[2018-06-06 10:10] ammuraghunadh commented on #11714
@bluelovers Thank you so much. That worked like a charm

[2018-06-06 13:26] joyeecheung commented on #21147
Just had another idea: instead of keeping a PR open until it gets backported, keep the PR open until someone look into it and identify what PR it depends on and post the PRs in the thread before closing. I *might* be able to automate it in `git-node` (using `branch-diff` and some `git show --stats` magic). Having that would help backporters to figure out the proper order to backport PRs.

[2018-06-06 13:38] #20966 closed

[2018-06-06 16:20] joyeecheung commented on #20367
@Trott But I don't think it makes that much difference if we put the list into a json file in the root directory and link to that in the README?

Also I wonder how having a list of >100 names and emails help anyone if they want to add a feature to core. Do they send emails to every one of them? How would you know which one of them happen to work on the things that you want to add to core? It proba

[2018-06-06 16:29] bzoz commented on #21165
Duplicate of https://github.com/nodejs/node/issues/20891 ?

[2018-06-06 17:14] NicoGorr commented on #21165
Yes, it's the same behaviour. I tried to find another issue related to this bug, but I found nothing. Sorry for duplicate

[2018-06-06 17:16] #21165 closed

[2018-06-06 18:14] gabrielschulhof commented on #14379
I believe we have addressed all points except 3).

[2018-06-06 18:59] mistydemeo opened #21175 "configure: clang version is misdetected for double-digit clang versions"
* **Version**: v10.3.0
* **Platform**:
* **Subsystem**:

Configure performs a check to see if clang is newer than 3.4.2. However, this check is done against the string parsed out of the clang output in `try_check_compiler`: https://github.com/nodejs/node/blob/master/configure#L710 This results in miscomparisons for double-digit clang versions. For example, if `clang_version` is `'10.0.0'`, then `c

[2018-06-06 20:20] Conduitry commented on #20274
It looks like this is fixed in 10.4.0 with the update of V8 from 6.6 to 6.7 🎉

[2018-06-06 20:33] addaleax commented on #21158
In either case, it would be good to have the transpiled source available. Without that, it’s not really possible to tell whether this is a typescript issue or a V8 one.

[2018-06-06 20:44] bnoordhuis commented on #21117
Your report is unclear.  What is the expected behavior according to you, and why?

[2018-06-06 20:52] TimeForANinja commented on #21117
I'm not sure whether the body should be accessible but I'd argue that an end event should be fired and adding listeners should not change the behavior (e.g. returning 400)

[2018-06-06 21:01] bnoordhuis commented on #21117
That's because you're not sending a valid request.  There's no Content-Length or Transfer-Encoding header to indicate there's a request body so the server thinks the request body is the start of the next request.

[2018-06-06 21:01] #21117 closed

[2018-06-06 21:11] maclover7 commented on #21038
[Failure on linuxone](https://ci.nodejs.org/job/node-test-commit-linuxone/1925/nodes=rhel72-s390x/testReport/(root)/test/parallel_test_trace_events_fs_sync/):

[code]

[2018-06-06 21:33] addaleax commented on #20274
I think this essentially leaves us with somebody having to write tests for this and then we can close this issue – right?

[2018-06-06 21:43] Conduitry commented on #20274
The now-obsolete PR to float the V8 fix on 6.6 [included a brief test](https://github.com/nodejs/node/pull/20467/files#diff-8f4c2440486132ce467eca1252043a7f), if that's useful.

[2018-06-06 21:44] apapirovski commented on #21038
Stress test now that we have more useful output: https://ci.nodejs.org/job/node-stress-single-test/1917/

[2018-06-06 21:47] rakatyal commented on #21158
I can reproduce this with pure JS code as well. The observation is the same, we see the class name with the fat arrow syntax and class names are absent in the regular format.

Compiled JS for the regular case:
[code]

Compiled JS for the fat arrow syntax:
[code]

[2018-06-06 21:56] TimeForANinja commented on #21117
Yep works now - thanks for pointing me in the right direction

[2018-06-06 22:00] Trott commented on #21175
Thanks! https://github.com/nodejs/node/pull/21173 should fix this.

[2018-06-06 22:44] mhdawson commented on #20714
@BridgeAR the issue I see is that the further you get from seeing breakage when the CI is run on the PR, the more chance that the author of the PR has moved on to something else and is harder to get re-engaged.  In addition, they won't see the failures when they run their own testing (unless we set it up to run for local builds but not ci which is unusual) so the changes of breaking the benchmarks

[2018-06-06 23:18] Conduitry opened #21181 "v8.deserialize triggers Buffer constructor deprecation warning"
* **Version**: Observed on 10.4.0, presumably occurs on all 10+
* **Platform**: All

Deserializing a representation of an expression that contained a `Buffer` displays`(node:15176) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.`

Reproduce with`v8.deserialize(v8.serial

[2018-06-06 23:53] BridgeAR commented on #20714
@mhdawson these tests were originally written to make sure they do not break when changes to the benchmarks are introduced. So anyone working on benchmarks should also run the specific new task. The same with the CI. There is also a small chance that the benchmark break due to code changes. That is why I would like the task also to be run on the CI when we do a regular CI run. That way there is no

[2018-06-07 01:37] Leko commented on #21130
@bnoordhuis
Personally, The most important reason is portability.
I want to use instantiateStreaming because [Google recommended way of loading WebAssembly to use WebAssembly.*Streaming](https://developers.google.com/web/updates/2018/04/loading-wasm).
But cannot use instantiateStreaming if planned to run both Node.js and browser.

[2018-06-07 02:28] Trott commented on #20714
(My previous comment should not be interpreted as a blocking objection to this proposed CI change. I'm fine with it. I have the same concerns @mhdawson does, but I'm OK with giving it a try and seeing how it goes. We can always move it back to the main CI if benchmarks break. Or we can decide that the value of the tests is not worth the cost of running them on every PR. In short: This is not the p

[2018-06-07 03:19] Trott commented on #21181
@nodejs/v8 @nodejs/buffer

[2018-06-07 04:37] Trott commented on #12383
Given that this has been quiet for almost a year and that there seems to be *some* argument that the current situation is not a bug, I'm going to close this. Feel absolutely free to re-open or comment if you disagree *and* you think it might be worked on in the foreseeable future.

[2018-06-07 04:37] #12383 closed

[2018-06-07 04:38] Trott commented on #13795
Closing as known limitation. Feel absolutely free to re-open or comment if you feel it should stay open, especially if you think it might be addressed some point in the not-too-distant future.

[2018-06-07 04:38] #13795 closed

[2018-06-07 04:40] Trott commented on #13646
I'm going to try to loop @TImothyGu into this issue, mostly because encodings seem to be something he cares about and WPT is something he's implemented in Node.js for the `URL` object.

Feel absolutely free to close this if you don't think it's likely to get any traction any time in the next year. It's been dormant for the last year already. That doesn't mean it's not worthwhile, of course.

[2018-06-07 04:48] Trott commented on #14039
Closing as https://github.com/nodejs/node/pull/14042 was closed and there's been no further activity in almost a year. Feel absolutely free to re-open and/or comment if you think this should be open.

[2018-06-07 04:48] #14039 closed

[2018-06-07 04:49] Trott commented on #14110
@refack Should this remain open?

[2018-06-07 06:33] arjun-kava opened #21184 "Looking for example to convert structure to equivalent java script object."
* **10.4**:
* **Ubuntu 14.04**:
* **N-API**:

Documentation might not include any method to convert structure into object as well as I have checked test of n-addons which does not include any specification to convert structure

[2018-06-07 06:38] tingshao commented on #20928
The benchmark test result is as follows, I found buffers, string_decoder and url tests are impacted more or less, then I took 30 runs on them.
My machine:
CPU: Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz with 4 cores
RAM: 32G
OS: Ubuntu 16.04 LTS

I picked the most significant data from those results:
[code]
I did suggest to enable this flag, as linux kernel and chrome also enabled this. Balance secur

[2018-06-07 07:57] joyeecheung commented on #20714
Can we add a new directory for the benchmark tests (`test/benchmark`)? We can skip those in slower machines.

[2018-06-07 08:04] killagu opened #21185 "request with agent, timeout not work"
* **Version**: 10.3
* **Platform**: all
* **Subsystem**: http

When request with agent, set the request timeout not work, timeout is still
agent timeout.

The code:
[code]
I expect request timeout will overwrite the agent time out.

If it's a bug, I can make a PR to fix it.

[2018-06-07 08:51] bnoordhuis commented on #21184
Please post questions to nodejs/help.

[2018-06-07 08:51] #21184 closed

[2018-06-07 08:53] bnoordhuis commented on #20928
That's a pretty steep performance drop.  Can you post the full results?

[2018-06-07 09:09] bnoordhuis commented on #21185
That's a bug for more reasons than one because `timeout` isn't a documented `http.Agent` option and shouldn't have worked in the first place.  It'd be good to document it and ensure overriding works.

Thanks for the bug report, pull request welcome!

[2018-06-07 09:19] tingshao commented on #20928
I didn't take a full benchmark for call cases with 30 runs, that seems too time costing. I just run all of the cases for about 3 runs, then choose the cases that have significant impacts and then I rerun those selected cases with 30 runs.

I even removed some .js files and removed some configs by edit some js files, only focusing on the cases with significant impacts. So you may notice in my resul

[2018-06-07 10:00] hsivonen commented on #13646
FWIW, encoding_rs has C and C++17 bindings (and writing other kind of C++ bindings is an easy copy-paste job), so using it for Node might be easier than dealing with importing the ICU patches from Chromium if you can accept a Rust dependency.

ICU has become compliant on this particular point (though I haven't tested to verify) during the past year.

[2018-06-07 10:03] killagu commented on #21185
I'll make a PR to fix it.

[2018-06-07 10:16] sagirk commented on #20892
I'm working on `doc/api/net.md` and the corresponding `lib/net.js`.

[2018-06-07 10:16] bnoordhuis commented on #20928
Odd that two of the buffer benchmarks go up by 6 or 7%.

In general the numbers look pretty bad though.  A 1-2% drop might have been acceptable but this probably is not.

This is with identical builds except for `-fstack-protector-strong`?

[2018-06-07 10:52] ryzokuken commented on #21181
@Conduitry line to be blamed for this: https://github.com/nodejs/node/blob/c9d9bf1cb06a9f490669b107a28eb9c628aeeb23/lib/v8.js#L189

/cc @nodejs/buffer @ChALkeR do we break character and hide the warning? I hope not. There's got to be a way to achieve the same functionality without using the `Buffer` constructor.

[2018-06-07 11:00] addaleax commented on #21181
Like this? :)

[code]

[2018-06-07 11:01] ryzokuken commented on #21181
@addaleax we have a drop-in, secure replacement for `Buffer`? I didn't know. Will make a patch.

[2018-06-07 11:03] addaleax commented on #21181
@ryzokuken It’s not really drop-in because it only takes `Uint8Array`-style arguments, but that’s not an issue here, right?

[2018-06-07 11:03] ryzokuken commented on #21181
Exactly. The arguments are literally being passed into an `Uint8Array`, so that's definitely not a problem.

[2018-06-07 12:10] brsoftec commented on #16127
have u solution of this problm

[2018-06-07 13:03] mhdawson commented on #16601
@gireeshpunathil can you get this marked as flaky unless the libuv PR is going to be landed pull in within the next few days, I think we are seeing quite a few failures in the regular CI runs.

[2018-06-07 13:14] gireeshpunathil commented on #16601
@mhdawson - I can do that (busy with some unrelated work this week), but just wondering is there any changed process here - some recent activities suggested we are addressing flakes together in a new repo  (/cc @joyeecheung ) ?

[2018-06-07 13:19] gireeshpunathil commented on #16601
@Trott had actually opened a PR last night to do the same https://github.com/nodejs/node/pull/21177 , but closed on the basis that the flake reasons as different.

[2018-06-07 13:19] mhdawson opened #21188 "Windows intermittent ? - parallel/test-timers-throw-reschedule"
* **Version**: v8.x-staging
* **Platform**: Windows
* **Subsystem**: timer

https://ci.nodejs.org/job/node-test-binary-windows/17851/COMPILED_BY=vs2015-x86,RUNNER=win2012r2,RUN_SUBSET=2/console
[code]

[2018-06-07 13:26] #21121 closed, assigned to nobody

[2018-06-07 13:41] gounthar opened #21190 "10.4.0 can't compile on Raspberry Pi 3B+ (Segmentation fault)"
* **Version**: 10.4.0
* **Platform**: Linux black-pearl 4.14.34-hypriotos-v7+ #1 SMP Sun Apr 22 14:57:31 UTC 2018 armv7l GNU/Linux
* **Subsystem**: Distributor ID: Raspbian
Description:    Raspbian GNU/Linux 9.4 (stretch)
Release:        9.4
Codename:       stretch

As I was trying to compile rethinkdb 2.3.6 on the Pi, the 0.12.2 node dependency did not want to compile because of a segmentation fa

[2018-06-07 13:49] apapirovski commented on #21038
So... we've got a SIGSEGV... :|

[code]

This could be related to the trace events failures we've previously seen on Windows. ping @jasnell @ofrobots since one of you previously mentioned some segfaults that you saw in the trace events code and were planning on fixing?

[2018-06-07 13:54] danosaure commented on #4464
@nolimitdev I'm not sure how the setTimeout() helps you here, as it will still be called as many times as the `fs.watch()` is fired. You should look into `threshold` or `debounce`.

Thanks for your example, it helps me think about a solution for LetsEncrypt and 0-down time.

[2018-06-07 14:19] #12115 closed

[2018-06-07 14:41] zodiak2290 opened #21191 "TypeError: Cannot read property 'type' of undefined"
* **Version**:
* **Platform**:
* **Subsystem**:

TypeError: Cannot read property 'type' of undefined
    at EventEmitter.MemberExpression (\node_modules\eslint-plugin-angular\rules\timeout-serv
ice.js:38:39)
    at emitOne (events.js:121:20)
    at EventEmitter.emit (events.js:211:7)
    at NodeEventGenerator.applySelector (\node_modules\eslint\lib\util\node-event-generator.
js:265:26)
    at Node

[2018-06-07 14:44] cjihrig commented on #21191
This doesn't appear to be an issue with Node core. Please consider moving this to the eslint-plugin-angular issue tracker.

[2018-06-07 14:44] #21191 closed

[2018-06-07 15:05] nolimitdev commented on #4464
@danosaure thanks to setTimeout() methods setCert() and setKey() fire only once per certificate file change. Depending on OS/platform re-saving file only once fires fs.watch callback several times during short time. You can add console.log() into fs.watch callback and you will understand. Of course you can ignore that little overhead and remove setTimeout() completely.

[2018-06-07 15:22] amno1 opened #21193 "Offset must be >= 0 && <= 0 Out of range 0 :-)"
* **Version**: v10.4.0
* **Platform**: Linux pascal 4.17.0-1-ARCH #1 Mon Jun 4 20:39:17 UTC 2018 x86_64 GNU/Linux

I am trying to read a file and I am getting error when trying to read at beginning. As seen above, it says offset must be >= 0 and <= 0. It is very interesting error message i must say. Anyway I am using offset 0 and I get that error :-). I am just trying to read 10 bytes into an Uint

[2018-06-07 15:34] joyeecheung commented on #21193
There should be an error for this because the buffer is empty and can't be written, although the error message does look pretty funny and this error should be special cased.

If anyone is interested, the fix should be added in

https://github.com/nodejs/node/blob/6dbd6f6c7d0fe5629c921a2fe618ce9c00544294/lib/internal/fs/utils.js#L293-L307

(Not sure if this count as a good first issue so I'll just

[2018-06-07 15:37] joyeecheung commented on #16601
@gireeshpunathil The process is still the same. I'll post something in the collaborator discussion page and the core issue tracker when we settle down on the procedures.

[2018-06-07 15:37] amno1 commented on #21193
Aha, so it was referring to my uint8array :-). Indeed changing constructor to make 10 bytes solved it.

`let string = new Uint8Array(10);`

However the message text is still funny, maybe renaming offset to "target_offset" or something might make it a bit easier for n00bs like me? :-)

[2018-06-07 15:38] amno1 commented on #21193
Thank you by the way!

[2018-06-07 15:43] gireeshpunathil commented on #16601
ok, thanks @joyeecheung . So @Trott - given we have this issue open as a `blocker` for the libuv PR, does it makes sense if you re-open and progress #21177 ? to keep the CI green?

[2018-06-07 15:44] joyeecheung commented on #21193
@amno1 I think the better error should probably just be `ERR_BUFFER_OUT_OF_BOUNDS` or `ERR_INVALID_BUFFER_SIZE` with a twist to the message formatters since none of them look suitable right now. Or a generic `ERR_INVALID_ARG_VALUE` also works.

I could fix this myself if no new contributor want to pick this up.

[2018-06-07 15:48] amno1 commented on #21193
Just put a bit more clear message in error message and probably in documentation as well, what "offset" means. I was looking at docs, since I am really a C/C++ programmer, and wasn't really clear why there was both position and offset. The error message didn't help much :-). This is what docs says:

Just make it a bit more clear in which ever way you prefer.

[2018-06-07 16:13] apapirovski commented on #16601
We're seeing frequent timeouts of this test on AIX. Testing a potential fix: https://ci.nodejs.org/job/node-stress-single-test/1919/

[2018-06-07 16:22] danosaure commented on #4464
@nolimitdev Sorry, I just noticed the `clearTimeout()`, that explains it. You are effectively doing a [debounce()](https://lodash.com/docs/4.17.10#debounce) function.

[2018-06-07 16:28] nolimitdev commented on #4464
@danosaure I do not need cert to be available as soon as possible because the old one is still valid for about next 2 weeks :)

[2018-06-07 16:48] Trott commented on #16601
Re-opened the mark-as-flaky PR.

[2018-06-07 17:06] ofrobots commented on #21038
I'm investigating some SIGSEGVs in tracing today.

[2018-06-07 17:15] Trott commented on #21190
@nodejs/build

[2018-06-07 17:18] duaneking commented on #20955
Not true; I had no way of installing npm without also installing nodejs.  Otherwise npm would not function the same (or at all in some cases).

[2018-06-07 17:20] Trott commented on #20955
What's not true?

Correct. `npm` runs on Node.js. You cannot install a functional version of any Node.js application without also installing Node.js.

[2018-06-07 17:47] joyeecheung commented on #20955
Clarify: `npm` is written in JavaScript that has to be run with Node.js. If you look at the shebang of `which npm`, it says

[code]

[2018-06-07 18:00] joyeecheung commented on #20955
If you meant you wanted to install an executable named `npm` in your PATH, but did not want an executable named `node` also in your PATH, maybe you will have better luck going to https://github.com/npm/npm/issues to file a feature request.

Currently it's the other way around, you install Node.js and our installer also put `npm` in your PATH. I do not know if npm offer anything that comes with a b

[2018-06-07 18:11] joyeecheung commented on #21193
@amno1

The convention of the fs docs is: the actual explanation in under the async version of that API. In this case, [`fs.read()`](https://nodejs.org/api/fs.html#fs_fs_read_fd_buffer_offset_length_position_callback) has a detailed explanation of what these arguments mean, and the sync version only mentions `Synchronous version of fs.read()`.

Probably deserves another good first issue to make it

[2018-06-07 18:14] ryzokuken commented on #21193
As mentioned by @joyeecheung, this is just a matter of improving the current error messages in https://github.com/nodejs/node/blob/6dbd6f6c7d0fe5629c921a2fe618ce9c00544294/lib/internal/fs/utils.js#L293-L307, replacing the current one with a `ERR_INVALID_ARG_VALUE` or a modified version of `ERR_INVALID_BUFFER_SIZE` maybe. PRs welcome, labelling as `good-first-issue`.

[2018-06-07 18:21] joyeecheung opened #21197 "doc: explicitly mention that the explanation of an synchronous fs API live in the docs of the async API"
* **Version**: master
* **Subsystem**: fs, doc

In a lot of cases, the documentation of a synchronous fs API only links to the aysnc version of that API in order to reduce duplicated texts.

For example, `fs.readSync()` only mentions

[code]

Which could be confusing to beginners since it does not explicitly mention that if they want to see a detailed explanation of the arguments, they should clic

[2018-06-07 18:39] ryzokuken commented on #19657
@nodejs/documentation this has been open for quite a while. PTAL.

[2018-06-07 18:39] ryzokuken commented on #19657
/cc @vsemozhetbyt

[2018-06-07 18:42] ryzokuken commented on #20524
There's no warnings I know of yet in Node 10 (https://nodejs.org/dist/latest-v10.x/docs/api/console.html#console_console_countreset_label_default). How should we proceed with this?

[2018-06-07 18:43] ryzokuken commented on #20596
@benjamingr what's the status on this?

[2018-06-07 18:44] ryzokuken commented on #20515
/cc @nodejs/streams PTAL.

[2018-06-07 18:50] ryzokuken commented on #20434
@bnoordhuis what's the status on this? Did we move forward?

[2018-06-07 18:53] ryzokuken commented on #20515
@tkkcc don't you think you should call `super(...)` in there in order to proceed with actually calling the original `_write` function in the base class and actually write to the stream? Right now your function must be overriding the one from `Writable` and nothing must actually get written to the stream.

[2018-06-07 18:54] ryzokuken commented on #18571
@TimothyGu what's the status on this? Did you proceed with it?

[2018-06-07 19:04] AdityaSrivast commented on #21193
I want to give this a try. Will report back in two days.

[2018-06-07 19:06] benjamingr commented on #20596
Still waiting for feedback and hoping for people to weigh in cc @nodejs/timers

[2018-06-07 19:12] ryzokuken commented on #21193
@AdityaSrivast sure thing! Feel free to reach out if you face any issues setting everything up.

[2018-06-07 19:13] ryzokuken commented on #19433
ping @laino

[2018-06-07 19:16] ryzokuken commented on #16515
@joyeecheung is this something we should implement? I could take a look into it.

[2018-06-07 19:22] maclover7 commented on #21190
@rvagg ^

[2018-06-07 19:51] zouhairkhallaf commented on #20285
I just needed to downgrade my node v10.0.0 to a older version
[code]
This worked for me

[2018-06-07 20:00] AdityaSrivast commented on #21193
@ryzokuken Is there any way to test this error and know that I have fixed it?

[2018-06-07 20:08] apapirovski commented on #20596
I haven't said much because I'm ok with both behaviours and also because changing this now could have some fallout due to ordering inconsistencies. It would be a pretty major change.

[2018-06-07 20:15] vsemozhetbyt commented on #19657
Sorry, I do not have the required knowledge to handle this(

[2018-06-07 20:31] TimothyGu commented on #18571
@ryzokuken No… Unassigning myself.

[2018-06-07 20:36] TimothyGu commented on #20524
The [spec](https://console.spec.whatwg.org/#countReset) for `countReset` doesn't quite specify a warning either… @domfarolino could you clarify what we should do?

[2018-06-07 20:42] dnalborczyk commented on #21052
@osher  https://github.com/davidmarkclements/v8-perf#the-trycatch-problem

[2018-06-07 20:49] mhdawson commented on #20714
I'll echo the "This is not the path I'd choose to go, but I understand the motivation and I'm not going to block it.)".  My guess is the risk is not worth the reward, but we can change direction if it becomes a problem and I'm fine with trying it out if that is what the consensus is.

[2018-06-07 20:55] mhdawson commented on #21190
Does your machine config (compiler and binutils) meet the requirements here:

https://github.com/nodejs/node/blob/master/BUILDING.md#supported-toolchains

[2018-06-07 21:04] domfarolino commented on #20524
Sorry for the lack of clarity here in the spec. Right now, step 3 > substep 2 of `countReset` is the warning I allude to in this issue. We don't re-use `logLevel`s in different functions, so the fact that `Logger("countReset", ...)` should produce a warning-like (and not just a regular) message is indicated in https://console.spec.whatwg.org/#loglevel-severity. The same pattern can be found for [a

[2018-06-07 21:05] joyeecheung commented on #18571
There is already node_errors.h so we could also throw the error with a hard-coded message from the C++ side instead of using a try-catch hack.

[2018-06-07 21:13] apapirovski commented on #20515
@tkkcc This issue would be better suited to https://github.com/nodejs/help/issues. The crux of the issue here is that `highWaterMark` refers to the point where the stream will start reporting `false` upon `write()` being called, indicating that no more data should be written until the `drain` event is emitted. It does not change the size of the data written to the stream or do any manipulation of

[2018-06-07 21:13] #20515 closed

[2018-06-07 21:15] dmiller72 commented on #14562
Same here. Disabled both and it worked. Took me a couple days to find this solution but at least I am insatll Broswersync now.

Incidentally, is anyone having problems with VS Code?

[2018-06-07 21:16] apapirovski commented on #20389
I think this might've been fixed? I'll close it out and we can reopen if it fails again.

[2018-06-07 21:16] #20389 closed

[2018-06-07 21:49] dhanvikapila opened #21198 "ells"
* **Version**:
* **Platform**:
* **Subsystem**:

[2018-06-07 21:50] dhanvikapila commented on #21198
Opened by mistake. Closing.

[2018-06-07 21:50] #21198 closed

[2018-06-07 21:50] apapirovski commented on #18658
If I had to guess, this failure is related to the FreeBSD "jail" in our common file. It's failing before it even gets past the lookup which means it's failing on the IPv4 address. It's possible the `process.env.LOCALHOST` is set to something weird or something else strange happens? The fact that this only fails occasionally is rather confusing.

[2018-06-07 22:17] joyeecheung commented on #21197
@iwko Sure, go ahead!

[2018-06-07 22:29] Fishrock123 commented on #20596
Maybe @domenic would know why chrome acts the way it does?

It seems we match browser behavior well enough. I think that we cannot change the coercion of 1 to 0 because that will likely break many, many people's programs and I would be strongly adverse to that idea.

[2018-06-07 22:47] jyn514 opened #21201 "Bad tab completion for object properties with special characters"
* **Version**: `v8.11.0`
* **Platform**: `Linux fedora-thinkpad 4.13.9-300.fc27.x86_64 #1 SMP Mon Oct 23 13:41:58 UTC`
* **Subsystem**: n/a

[code]

When an object has special characters as one of it's properties, node will autocomplete that property, but continue waiting for input (as the completed property is invalid syntax). This is not desired behaviour.

This issue is also present in Firefox,

[2018-06-07 23:30] ofrobots commented on #21038
There are a few flaws in the choreography of the tracing event loop on shutdown that cause the segfault: basically the libuv threadpool mutex gets destroyed as part of the static initializers, but the tracing agent shutdown happens after that. It tries to do some IO to write the terminating JSON characters, which end up crashing. I'm still looking into what might be the best way to fix this.

This

[2018-06-07 23:43] addaleax commented on #21201
@nodejs/repl

[2018-06-07 23:57] qubyte opened #21202 "http.Parser would be great to have."
I've recently been doing some work in which I needed access to the individual requests and responses  from a pair of streams (it's a proxy of sorts and I'm only working with HTTP/1.1). For requests, [recent changes](https://github.com/nodejs/node/pull/16267) to `http.Server` have meant I can fool a server instance into parsing request objects from a stream. Responses have been more challenging...

[2018-06-08 00:05] addaleax commented on #21202
No, I think we’re good here.

Probably, yes.

If HTTP code would have to use an additional layer of streams (in particular of streams in the sense of the `stream` module, as opposed to the "fake" ones we currently provide), then probably yes.

It might be easier to do the reverse thing and provide an API (maybe as an npm module) on top of our current code? I think the `createConnection` option for

[2018-06-08 00:13] qubyte commented on #21202
This is what I'm doing for requests from the client, but it doesn't cover reponses from the onward server (unless I've missed a trick). Until recently I didn't need access to individual responses and could pipe the onward server socket directly to the client socket. New requirements have meant I need access to individual responses now. I do have a solution which appears to work, but it's using pri

[2018-06-08 00:17] addaleax commented on #21202
So, the issue is that http.request assumes a 1:1 relationship between request and responses, but in your model requests and responses are not necessarily correlated that way? Am I understanding that correctly?

That doesn’t seem trivial to cover, yes…

[2018-06-08 00:37] jesobreira opened #21203 "Setting callback for on 'data' event of stderr causes error on v10.0.0"
* **Version**: 10.0.0
* **Platform**: OS X 10.13.2
* **Subsystem**: Process

I am unable to set a callback on the 'data' event (since `process.stderr` [is a](https://nodejs.org/api/process.html#process_process_stdin) `net.Socket` stream, [it should](https://nodejs.org/api/stream.html#stream_event_data) emit the `data` event).

The following snippet works on v8.0.0 but throws an error on v10.0.0:

[2018-06-08 00:42] qubyte commented on #21202
Ah, so my use case is rather strange. Amongst other things, the proxy I'm building caches certain responses from the onward server (each keyed on the request from a client which led to it).

The need to build a key means parsing the request, and the need to cache the response means knowing where its boundaries are within the response stream (preferably more, but this would suffice). My crude first

[2018-06-08 00:48] devsnek commented on #21201
what i did in my repl prototype to fix this was amend our autocomplete regex to allow `[` additionally to `.` and then filter properties based on whether they were doing computed access or dot access: https://github.com/devsnek/node-repl-prototype/blob/master/src/repl.js#L102-L109

[2018-06-08 01:59] ryzokuken commented on #21193
@AdityaSrivast as mentioned by @amno1, the test case for this is:

[code]

this *should* trigger the error, just make sure to test it works and changed and in the end, add a test that checks if the error is the correct one with `assert.throws(...)`. Hope that helps.

[2018-06-08 03:14] tingshao commented on #20928
Yes, I also noticed some test even have performance improve, quite strange.
I think I may need to double check my build.
As `-fstack-protector-strong` was not supported in clang 3.4.2, so I used `-fstack-protector` instead.

[2018-06-08 03:52] devsnek commented on #20928
this and our disabling of v8's untrusted code mitigations make me wonder if we should add like a "more security" option to our configure which enables these things at the cost of performance.

[2018-06-08 04:28] vsemozhetbyt commented on #19657
Let's also cc @nodejs/intl

[2018-06-08 07:08] joyeecheung commented on #14110
FWIW I don't see the point of testing core dump generation. The flag triggers an fatal error, whether that leads to a core dump being written to disk depends on the configuration of the system.

[2018-06-08 07:16] gireeshpunathil commented on #14110
agreed - lot of dependancies on user limits, OS limits and file system space. Plus I never came across a user problem in terms of the flag not working. I suggest closing and revisiting if it is an issue.

[2018-06-08 07:47] bnoordhuis commented on #21202
I'd say `http.Parser` is unlikely because it requires us to expose/freeze too many internal details.

Why don't you use https://www.npmjs.com/package/http-parser-js?  It follows the http-parser API closely and is not much slower.

(There's also https://github.com/bnoordhuis/node-http-parser but I haven't touched that in years and probably needs some work by now.)

[2018-06-08 07:51] tingshao commented on #20928
@devsnek Yes, I also think a config option may be another choice for this kind of changes which is more flexible.

[2018-06-08 07:56] bnoordhuis commented on #20434
No.  Still a bug.

[2018-06-08 08:07] DanielRuf commented on #21090
Same at https://github.com/webpack/watchpack/pull/80

[2018-06-08 08:11] gireeshpunathil commented on #9413
@aalexgabi - thanks for the detailed explanation.

 - I understand your use case now, thanks.
 - I agree I fully messed up my second para. I am re-writing it like this with a better mind set:

`
There is an unspecified design at work: when we pass stdout of task0 as the stdin for task1, the expectation is that all of task0::stdout is passed to task1::stdin. But the relaity is that we are making a

[2018-06-08 08:54] qubyte commented on #21202
That'd be a drop-in replacement, so definitely worth keeping in mind should the binding change and break my proxy.

This issue asked a few questions about the hypothetical `http.Parser`. I understand it to now be unlikely to be built, for good reasons. One thing I might wind up doing is wrapping http-parser-js myself to get something like `Parser`.

Given this outcome, should the linked comment in

[2018-06-08 09:17] gounthar commented on #21190
[code]
It looks ok to me...
Thanks.

[2018-06-08 09:57] yuvrajdeveloper opened #21206 "Installation Error in 64bit Windows"
While installing npm on windows, All the actions are being rollback and showing the following error message.

![image](https://user-images.githubusercontent.com/13849463/41152106-53784456-6b30-11e8-9518-5716f9a2250b.png)

[2018-06-08 10:09] ryzokuken commented on #21206
/cc @nodejs/platform-windows

[2018-06-08 10:10] ryzokuken commented on #21206
@yuvrajdeveloper please specify atleast your exact operating system and the version of the binary you're trying to install. I hope you've verified the binary's checksum?

[2018-06-08 10:17] ryzokuken commented on #21203
Okay, it doesn't throw on Node 8 and throws on 10.

/cc @nodejs/process @nodejs/streams

[2018-06-08 10:18] yuvrajdeveloper commented on #21206
OS: Windows 10
Version: node-v8.11.2-x64

[2018-06-08 10:20] ryzokuken commented on #21206
@yuvrajdeveloper a build version of Windows 10 you could narrow this down to? Could you try using the same installer on a different build version?

You didn't answer this?

[2018-06-08 10:30] yuvrajdeveloper commented on #21206
How to verify that?

[2018-06-08 10:30] AdityaSrivast commented on #21193
@ryzokuken Where is this code(test case) to be typed?

[2018-06-08 10:35] isiahmeadows opened #21207 "Is there a way to synchronously flush + close a socket?"
*Originally filed as nodejs/readable-stream#341, but I filed it here based on advice there.*

I know this is an unusual request, but I need it to deal with `uncaughtException` errors in child processes, to send them to the parent to be decoded and handled there safely. Since you aren't supposed to recover from `uncaughtException` (it's obviously unsafe), I have to re-crash within the listener, whi

[2018-06-08 10:45] ryzokuken commented on #21193
@AdityaSrivast Make a test script, or try running it in the REPL.

[2018-06-08 10:45] isiahmeadows commented on #21207
Edit: `fs.writeFileSync(null, {fd}, ...)` works. 😄

[2018-06-08 10:45] #21207 closed

[2018-06-08 10:46] ryzokuken commented on #21193
P.S. You'd also need to set something to the `keyfile` variable? Maybe it's a PEM cert? It shouldn't matter though, any file should work.

[2018-06-08 10:47] ryzokuken commented on #21206
@yuvrajdeveloper compute the checksum of the file you downloaded and compare it with the checksum specified on the website/download page.

[2018-06-08 10:56] viscas91 opened #21208 "Change your installer!!!"
* **Version**: 10.4.0
* **Platform**: Windows 10 64-bit
* **Subsystem**:

I was upgrading node 9.11 to 10.4.0 but i keep getting **"Nodejs setup wizard ended prematurely"** -_-.
It install the program and rollback changes after successful install deleting everything.

Try using **Inno Setup** to create installation files. It has got tonne of features. (Your current installer is buggy).

[2018-06-08 11:00] amno1 commented on #21193
`keyfile = "1234567890"` would suffice I think.

But you don't need to hack the source. Just add to documentation what _offset_ variable is referring to. That is probably the easiest thing to do.

Otherwise, the code I was using:
[code]
"Testcodes" is just a textfile with strings of certain length, in this case lentgh was 10. Everything was just a small test to see how node api compares to C api s

[2018-06-08 11:37] maclover7 commented on #21188
This is failing now on [linuxone on v8.x](https://ci.nodejs.org/job/node-test-commit-linuxone/2028/nodes=rhel72-s390x/console):

[code]

[2018-06-08 11:43] seishun commented on #21208
Duplicate of https://github.com/nodejs/node/issues/20538.

[2018-06-08 11:43] #21208 closed

[2018-06-08 11:55] maclover7 commented on #18435
Failing again on [FreeBSD 10](https://ci.nodejs.org/job/node-test-commit-freebsd/18356/nodes=freebsd10-64/console):

[code]

[2018-06-08 12:06] bnoordhuis commented on #21202
That comment looks outdated to me.  Do you want to file a pull request removing it?

[2018-06-08 12:51] qubyte commented on #21202
No problem. Would you like me to remove the `XXX` comment above it too?

[2018-06-08 12:59] gireeshpunathil commented on #18016
@elibarzilay - I have put in a PR to address this issue, if you have a system to build node from source, you may please try the patch and see how it goes.

[2018-06-08 13:16] gireeshpunathil commented on #16286
inactive, closing.

[2018-06-08 13:16] #16286 closed

[2018-06-08 13:20] gireeshpunathil commented on #16658
just wondering whether landing of worker will make things better here? /cc @addaleax

[2018-06-08 13:23] gireeshpunathil commented on #18101
inactive, closing. please re-open if this is still an issue.

[2018-06-08 13:23] #18101 closed

[2018-06-08 13:37] bajtos opened #21210 "Regression in setImmediate() on Windows starting from Node.js 10.2.0"
* **Version**: 10.2.0 (x86, x64)
* **Platform**: Windows 10 PRO version 1607 build 14393.2214 64-bit OS, x64-based OS,
but also the virtual images uses by AppVeyor, see e.g. [this build outcome]( https://ci.appveyor.com/project/bajtos/loopback-next/build/1.0.5656-master/job/of9c4nq2dwhhp96g).
Please note that MacOS and Linux are not affected, at least according to our Travis CI run ([link](https:/

[2018-06-08 14:40] teppeis opened #21213 "`source <(npm completion)` doesn't end in Node v10.4.0"
* **Version**: v10.4.0
* **Platform**: Darwin Kernel Version 17.5.0: Fri Apr 13 19:32:32 PDT 2018; root:xnu-4570.51.2~1/RELEASE_X86_64 x86_64
* **Subsystem**:

In bash or zsh, following command doesn't end in Node v10.4.0.

[code]

Because of this change, [source <(npm completion)](https://docs.npmjs.com/cli/completion) in my `.zshrc` stops initializing a new shell.

In Node v10.3.0, the command e

[2018-06-08 14:40] bnoordhuis commented on #21202
Yep, that'd be good.

[2018-06-08 16:20] vsemozhetbyt commented on #21206
See https://github.com/nodejs/node/issues/20538 with comments.

[2018-06-08 16:54] git-srinivas commented on #10354
Hi all, I would like to work on this :)

[2018-06-08 17:21] asumaran commented on #10137
I'm getting the same error with node v8.11.1 on my webpack app. It always crashes right after saving a file.

[code]

[2018-06-08 18:32] mcollina commented on #21203
This is likely a bug on stdout/stderr and net, and not on stream.

[2018-06-08 18:50] benjamingr commented on #16768
@lucasdellabella thanks for commenting :) Could always use more people interested in improving the debugging experience in Node.js.

We've made the stack trace always show (even without the --trace-warnings flag) in Node.js 10 - so a possible solution would be to update your Node.js version.

The V8 team are working on giving us async stack traces in production - so we'll get much better errors so

[2018-06-08 18:58] mcollina commented on #20367
This happens to me from time to time.

Overall, I think that listing people in the readme is an emotional thing, and it makes Node.js special.

[2018-06-08 19:09] rwaldron opened #21219 "Consider enforcing --experimental-worker flag until Atomics.wake is renamed Atomics.notify"
At the May TC39 meeting, I proposed renaming `Atomics.wake` to `Atomics.notify` in order to better differentiate it from `Atomics.wait`: **[Renaming Atomics.wake](https://docs.google.com/presentation/d/1awJqO2WcBs4UlBaLZn0mfwV3xOYOlo0hHNbB6mtctnQ/edit) (please review before continuing)**. With complete support from implementers, [the committee agreed and set forth "next steps".](https://tc39.githu

[2018-06-08 19:11] gregthrower commented on #20822
I am having the same issue with the same OS X release

[2018-06-08 19:13] rwaldron commented on #21219
cc @addaleax

[2018-06-08 19:32] addaleax commented on #21210
/cc @apapirovski

[2018-06-08 19:39] addaleax commented on #21213
This was most likely caused by c2c9c0c3d3199 /cc @bnoordhuis @tabkrz

Fwiw, for me this fails with:

[code]

The relevant strace line is
[code]

[2018-06-08 19:49] devsnek commented on #21219
this seems reasonable, I'm always a fan of helping out tc39. I doubt we would have unflagged workers by then anyway.

[2018-06-08 19:50] addaleax commented on #21219
I’m totally on board with the rename.

Once the decision for a name is made, what I’d see Node doing is providing the new name immediately, and providing `Atomics.wake` (with a deprecation warning either immediately or in the next major version). How exactly that looks is probably going to depend on how V8 ends up implementing the name change.

I don’t think that’s realistic, it’s going to take (p

[2018-06-08 19:59] iarna commented on #19449
If folks with this issue could try updating to 10.3.4, I think you'll find that it is resolved now (the installer related limitations on flattening were, in turns out, fixed last ~February).

[2018-06-08 20:14] srl295 commented on #19657
* doc/api/intl.md should say 'ICU 57.1 is the current minimum version'
* `configure` should probably _warn_ (not fail) if the minimum seems to be too old.

[2018-06-08 20:21] apapirovski commented on #21210
There were no changes to Immediates or timers in 10.2.0. I can try to debug later today.

[2018-06-08 20:22] apapirovski commented on #21210
Also the fact that this is Windows only would indicate the problem is somewhere else in the testing code.

[2018-06-08 20:32] ofrobots commented on #21038
/cc @eugeneo

[2018-06-08 20:39] leobalter commented on #21219
As someone working on the current renaming proposal, I appreciate your support @devsnek @addaleax!

[2018-06-08 20:42] AdityaSrivast commented on #21193
@amno1 from the given code I am not getting OUT_OF_RANGE error. Instead, the error message which I am getting is:
fs.js:675
  return binding.read(fd, buffer, offset, length, position);
                 ^

Error: Offset is out of bounds
    at Object.fs.readSync (fs.js:675:18)
    at Object.<anonymous> (/home/aditya/nodetest/readcodes.js:12:14)
    at Module._compile (module.js:652:30)
    at Objec

[2018-06-08 20:53] srl295 commented on #19657
How does this look?

[code]

[code]

[2018-06-08 20:59] srl295 commented on #19657
☝️ how does d67d9d070393df4ab382cb4b17321758c44e42c9 look?

[2018-06-08 21:01] srl295 commented on #19657
@ryzokuken OK to readd the Intl tag?

[2018-06-08 21:01] targos commented on #21210
I'm unable to reproduce with Node 10.4.0. The process doesn't hang. Instead, tests fail like this (end of output):

[code]

[2018-06-08 21:03] joyeecheung commented on #20367
I am actually surprised that other people find the list welcoming, because before I started contributing I saw that list as a statement of "this is a party, and you are invited". Maybe that's just me coming from a background where most people just watch instead of participating because of the language barrier, so it could just be a cultural shock.

[2018-06-08 21:48] whitlockjc commented on #2600
@hezedu I don't disagree, I found this by accident with failing tests on FreeBSD.  But it looks like this is an implementation detail for `utime` on FreeBSD and working around it could be a problem.  Thoughts?

[2018-06-08 22:47] #14110 closed

[2018-06-09 00:10] hezedu commented on #2600
@whitlockjc I want help you to test it. but my linux  fs type is **ext4.**  **ext4** is not have birthtime.

[2018-06-09 00:46] hezedu commented on #2600
@whitlockjc My linux fs type is **ext4**.  **ext4** is not have **birthtime**. Why nodejs `fs.stat` is have birthtime?  It's not same as shell `stat` command.

use nodejs `fs.stat`:
![fs-stat](https://user-images.githubusercontent.com/8508437/41185990-7ce1ccfe-6bc1-11e8-85fe-9842e85401f7.png)
use shell `stat`:
![stat](https://user-images.githubusercontent.com/8508437/41185992-883aea0e-6bc1-11e8-8e

[2018-06-09 04:36] #20441 closed

[2018-06-09 04:36] #20443 closed

[2018-06-09 06:10] #21163 closed

[2018-06-09 08:01] MasterJames commented on #8309
Not working all variations
[code]

[2018-06-09 08:58] bnoordhuis commented on #2600
On operating systems / file systems without birth time support, libuv sets it to the ctime (because something needs to be filled in in the field.)

I suppose libuv could fill in a sentinel value that says "no birth time" (e.g. all bits one) but I don't know if that's a marked improvement.  If you (generic you) want to discuss that, please open a libuv issue.

[2018-06-09 10:04] vsemozhetbyt opened #21230 "doc: missing cli options"
[In the last CLI doc](https://nodejs.org/download/nightly/v11.0.0-nightly20180609ef1f130041/docs/api/cli.html), these options are missing:

`--experimental-worker`
`--loader`

But they are present in the source whitelist for `NODE_OPTIONS`:

https://github.com/nodejs/node/blob/2237a8e45d5043e89cc126f7a7546f3a62f30e59/src/node.cc#L3162-L3168

cc @addaleax @nodejs/modules, as I am not sure how to do

[2018-06-09 10:22] diak34 opened #21231 "Can`t move npm"
nodejs ver : v8.11.2
OS : windows 10 64bit
install soft : node-v8.11.2-x64.msi

npm is always error ,even   npm -v
I tried uninstall and install node.js
Every means has failed.

what should i do

Error message:
[code]

[2018-06-09 10:36] benjamingr commented on #20367
I think we're getting a little off-topic with the README part, the two issues:

 - active and inactive collaborators
 - listing collaborators (and collaborator emiratus) in the the README

Aren't really too related - it appears that some people (me included) feel there is value in listing collaborators in the README.

I'd like to point out that I'd still really like the former addressed for the re

[2018-06-09 10:45] AdityaSrivast commented on #21193
Oh! I missed that out. @amno1 Thanks a lot for correcting. I have upgraded my nodejs.

[2018-06-09 11:07] pierrot974 commented on #4329
Disable avast worked for me !!

[2018-06-09 11:31] reklatsmasters commented on #2398
Few month ago i`m started working on purejs implementation dtls in nodejs. Here is 2 my unfinished implementations:

* https://github.com/nodertc/dtls
This is my first attempt, client-side implemetation in pure js. However, there is not a problem to add server-side one. This is very simple implementation, no session tickets, no extensions, limited ciphers. I want to make a better architecture, but

[2018-06-09 12:56] T0T4R4 commented on #4329
Tried dropping all counters from registry, and disabling Trend Micro, but it's still doing it....

[2018-06-09 13:35] benjamingr commented on #20367
Well, an informal process has more tendency for unfairness and bias but given we are dealing with people who volunteered their time to help us and a human touch helps I’m personally fine with it for this.

[2018-06-09 14:12] jrasanen commented on #21193
[code]

should this just have a check `bufferLength < 1` and then throw more sensible error message?

[2018-06-09 14:17] amno1 commented on #21193
Just emit more sensible error message and mention in docs what _offset_ parameter refers to.

[2018-06-09 15:05] stroop566 commented on #4329
Disable avg worked for me on Windows 10 x64 !!

[2018-06-09 15:37] apapirovski commented on #21210
I only have access to one Windows VM and I can't reproduce. I'm still pretty certain this would not be a regression in `setImmediate` as nothing about it changed in 10.2.0. I'm guessing something about the timing in the tests changed (via changes to another subsystem) and hence `nextTick` still succeeds, but `setImmediate` doesn't.

[2018-06-09 15:52] ljharb commented on #21230
Both are experimental; should they be documented at this point?

[2018-06-09 16:02] vsemozhetbyt commented on #21230
@ljharb `--loader` is already documented in [esm.html](https://nodejs.org/download/nightly/v11.0.0-nightly20180609ef1f130041/docs/api/esm.html#esm_loader_hooks), and without `--experimental-worker` [examples in the worker_threads.html](https://nodejs.org/download/nightly/v11.0.0-nightly20180609ef1f130041/docs/api/worker_threads.html) do not work.

[2018-06-09 16:04] Elvis254 opened #21232 "Issue when globally installing ionic and cordova"
* **10.4.0**:
* **64-bit (Windows)**:
* **Subsystem**:

Hi am having a problem globally installing ionic and cordova on my pc.
Below is the error am getting. Please, clearly advice me on how to go about it.

npm ERR! Unexpected end of JSON input while parsing near '...,"stringstream":"~0.0'

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\pc\AppData\Roaming\npm-cache\_lo

[2018-06-09 16:10] Trott opened #21233 "Investigate flaky test-inspector-stop-profile-after-done on Windows"
* **Version**: v11.0.0-pre (master)
* **Platform**: win2016, vs2017
* **Subsystem**: inspector

https://ci.nodejs.org/job/node-test-binary-windows/17913/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=2/console

[code]

@nodejs/v8-inspector @nodejs/platform-windows @nodejs/testing

[2018-06-09 16:11] Trott commented on #21232
Hi! This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like this one, please file an issue on our help
repo. https://github.com/nodejs/help

Thanks!

[2018-06-09 16:11] #21232 closed

[2018-06-09 16:12] apapirovski commented on #21233
The vast majority of our failures are currently from the inspector, I would really like if we could avoid landing more changes to it until we get this situation under control.

[2018-06-09 16:13] Trott commented on #21210
@apapirovski Maybe it's related to garbage collection?

Just kidding.

Or am I?!?!

[2018-06-09 16:14] apapirovski commented on #21210
@Trott please, no... 😂

[2018-06-09 16:18] Trott commented on #21210
I deleted my comment, but @apapirovski's comment above makes no sense now without it, so here it was (more or less):

@apapirovski Maybe it has something to do with garbage collection?

Just kidding.

Or am I???!!!

[2018-06-09 16:52] Manni2 commented on #3431
thanks !

[2018-06-09 16:54] macario1983 commented on #4329
I sent to Avast one e-mail to tell the false positive, or the problem, I hope that stop, and other users can do the same with their anti virus

[2018-06-09 17:13] AdityaSrivast commented on #21193
@ryzokuken Is there any way I can run the code using current node repository and record the error message? I have used assert.expectsError() in test/parallel/test-internal-errors.js but I don't know how to record the message from the error in the code(test case).

[2018-06-09 17:15] jrasanen commented on #21203
I git bisected when the error was introduced, if that helps:

[code]

[2018-06-09 17:31] ChALkeR commented on #21096
+1

[2018-06-09 18:08] richardlau commented on #21233
This is an access violation, e.g. the test crashed.

[2018-06-09 18:59] jrasanen commented on #21193
@AdityaSrivast have you checked the contributing and running tests instructions?

These might help you,
https://github.com/nodejs/node/blob/master/doc/guides/contributing/pull-requests.md
https://github.com/nodejs/node/blob/master/CONTRIBUTING.md

Running these will run the tests against the current code you have in your repository:

[code]

[2018-06-09 20:19] coolaj86 commented on #8752
@monster860 Have you tested your solution with connections that persist and data that is larger than the size of a single TCP packet?

When I remove my workaround I'm still seeing the same behavior where the second data packet never comes through.

[2018-06-09 21:03] bnoordhuis commented on #8752
I doubt it makes much of a difference, I would expect the cost of encryption/decryption to dominate.  Have you profiled it?

[2018-06-09 21:32] monster860 commented on #8752
@coolaj86 My application involves websockets, so yes.

[2018-06-09 21:52] AdityaSrivast commented on #21193
@jrasanen I have already tried it. It takes more than 1 hour and without any outcome. :(

[2018-06-10 01:57] Trott commented on #13830
@nodejs/build @nodejs/platform-windows Is this something that is likely to be implemented? It seems like @joaocgreis is suggesting it is unlikely? If so, we should probably close this.

[2018-06-10 02:11] #18190 closed

[2018-06-10 06:36] atul9911 commented on #8441
This is very weird behaviour as i cannot use that variable and can lead to memory leak as memory is already given to this obj but the compiler can not clean it.

[2018-06-10 07:03] fider opened #21242 "Unexpected behavior of Buffer.from( num.toString(16), "hex" )"
**Info:**
Version: v8.10.0
Platform: Windows 10, 64-bit
Subsystem: buffer module: Buffer.from

**Code:**
[code]
**Problem:**
`b == <Buffer ab>` and I expect that `b == <Buffer 0a bc>`

**Details and explanation:**
When calling `Buffer.from( ... , 'hex')` with hex string that have odd number of characters (in case when no leading zero provided) I expect Buffer.from to add leading zero in case of he

[2018-06-10 07:46] vsemozhetbyt commented on #21242
FWIW, this behavior seems [documented](https://nodejs.org/api/buffer.html#buffer_buffers_and_character_encodings):

[2018-06-10 08:02] bnoordhuis commented on #21242
Yes, it's the documented behavior.  'hex' has always behaved this way and it's not something we'll change, that would be massively backwards incompatible.

[2018-06-10 08:02] #21242 closed

[2018-06-10 08:03] jrasanen commented on #21242
I think `Uint8Array` from V8 does this conversion. So before calling it, we should do the left padding with zeroes?

[2018-06-10 09:00] jrasanen commented on #21193
@AdityaSrivast hm, you can [update a single test only](https://github.com/nodejs/node/blob/master/doc/guides/contributing/pull-requests.md#step-6-test)

`python tools/test.py -J --mode=release parallel/test-stream2-transform`

And if you change node's source, you can just run `make -j4` again, and it should only compile the changed files, so should be faster.  Depending on how many cores your comp

[2018-06-10 10:43] ihabZhaika commented on #21088
Hey,
i get the same error, i am running on node v10.1.0 and OS is linux 16.04 x64
i tried requests and axios and both fall on the same error
to reproduce try the following:

npm install axios

[code]

[2018-06-10 15:28] tniessen commented on #13830
I think this would have to be implemented with https://github.com/nodejs/node/issues/4603 resolved to avoid complications.

[2018-06-10 16:47] osher commented on #21052
@dnalborczyk - thanks for the reference - this is a great one.

I'm very ambivalent about the findings.
From one side - as a whole, reducing the differences between code styles is good. I'm gladly willing to yield my edge of selecting preferable code styles.
But on the other - the overall performance is degrading across the board - this hits me on my node.js pride...

[2018-06-10 18:05] ryzokuken commented on #21231
And Node works as expected? If it does, it's probably an npm issue.

/cc @nodejs/npm @nodejs/platform-windows

[2018-06-10 18:07] ryzokuken commented on #21206
@yuvrajdeveloper it's probably an issue with your anti-virus software. Try turning it off and then installing. Closing this, feel free to reopen.

[2018-06-10 18:07] #21206 closed

[2018-06-10 20:16] addaleax commented on #21175
I think this can be closed? Let us know if I’m mistaken. :)

[2018-06-10 20:16] #21175 closed

[2018-06-10 21:28] prettydiff opened #21245 "Request: stat.typeof() from the stat object on the fs.stat callback"
This is a feature request and not a defect report.

Requesting stat.typeof() method to report the file system artifact type.  Currently these methods are present in the *fs* library:

* stats.isBlockDevice()
* stats.isCharacterDevice()
* stats.isDirectory()
* stats.isFIFO()
* stats.isFile()
* stats.isSocket()
* stats.isSymbolicLink()

Each of those methods returns a boolean.  It would be more conv

[2018-06-10 23:15] MaxVoronov opened #21249 "Client network socket disconnected before secure TLS connection was established"
Hi Team,
I have a problem with NPM and Yarn with installing dependencies. I think it can be common NodeJS problem, not only package managers problem. Please can you help me? Here is more details:

* **Version**: NodeJS v10.4.0 (via Brew)
* **Platform**: Darwin MacBook-Pro.local 17.6.0 Darwin Kernel Version 17.6.0: Tue May  8 15:22:16 PDT 2018; root:xnu-4570.61.1~1/RELEASE_X86_64 x86_64
* **Subsyst

[2018-06-11 01:55] mscdex commented on #21249
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-06-11 01:55] #21249 closed

[2018-06-11 02:31] jake32321 commented on #17331
Hey @juggernaut451 are you still working on this? If not, I could try and take a shot if you don't have the time. Don't want this to change hands too many times but would love to take a crack at this if you don't mind.

[2018-06-11 02:36] refack commented on #17331
I was thinking about this today and had the idea of calling `python configure --help` as part of the help subrutine in vcbuild.bat

[2018-06-11 04:20] jake32321 commented on #17331
@refack yeah that should be simple enough to make that addition.

[2018-06-11 04:28] VictorQueiroz opened #21252 "Is it possible to embed Node.JS in a game framework?"
Let's imagine that I'm building a game and I want to handle a specific part of the game using Node.JS code. How would I invoke node.js and take all of it's advantages and also build bindings so this Node.JS code could access other bindings to other functionality of the game framework? Is it possible or I'm talking nonsense? If not, can somebody guide me to the right direction or if I'd be able to

[2018-06-11 06:15] mscdex commented on #21252
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-06-11 06:15] #21252 closed

[2018-06-11 06:37] bajtos commented on #21210
Thank you all for looking into this issue ❤️

The test fails because of debugging console logs which I added to troubleshoot the issue and which our test setup rejects. The fact that it runs to completion and does not hang is the signal we are looking for.

To be honest, I am not sure if `setImmediate` is the real root cause of the problem. I though it is a likely cause because when I changed `set

[2018-06-11 07:17] lakruzz commented on #4182
Another solution, which doesn't require any change in the code, is to add `--pid=host` to the docker run startup arguments.

That will allow you to kill the host, with `<CTRL>+C`

[2018-06-11 07:50] YurySolovyov commented on #21245
This way you can put "handlers" into object, store it somewhere and use type as key. And that's probably not the only pro-side.

[2018-06-11 08:35] bnoordhuis commented on #21252
FWIW, you can find a couple of nodejs/help issues discussing how to embed Node.js.

[2018-06-11 08:43] ArosPrince opened #21253 "Windows custom build - executable has no icon"
Hello, i am building node from v8.11.1 zip downloaded from the node web.

I wanted to change the executable icon (and later also other resources like VERSIONINFO, manifest...) so I went through the node.gyp file and found out there is a link to windows resources, that looks like this:
[code]

The problem is that both release and debug build seem to ignore the resource file as the resulting executa

[2018-06-11 08:57] Mdev007 opened #21254 "Problem Installing node.js"
I cannot install node.js as it reaches the last step then just starts rolling back action.

[2018-06-11 09:14] vsemozhetbyt commented on #21254
See https://github.com/nodejs/node/issues/20538 with comments.

[2018-06-11 09:15] Knogobert commented on #20281
After running `yarn` as @BB-000 suggested I got another problem. It was solved by rebuilding node-sass via `npm rebuild node-sass`. Hope it helps someone!

[2018-06-11 09:27] #21254 closed

[2018-06-11 09:52] webcarrot commented on #20999
close - no such errors in logs after change (or node update).

[2018-06-11 09:52] #20999 closed

[2018-06-11 09:52] bnoordhuis commented on #21231
I concur.  Try searching/reporting this over at npm/npm, maybe they have some ideas.  I'll close this out.

[2018-06-11 09:52] #21231 closed

[2018-06-11 09:54] bnoordhuis commented on #21052
I don't think this is actionable for us since it's a V8 issue so I'll go ahead and close this out.

[2018-06-11 09:54] #21052 closed

[2018-06-11 10:50] Zirro commented on #20978
If we can confirm this as a bug per the above, could this potentially be fixed in a future 10.x release by backporting the relevant commits from V8?

[2018-06-11 11:02] targos commented on #20978
Can you check if it's fixed in Node 10.4.0? We upgraded V8 in this version

[2018-06-11 11:37] benjamingr commented on #21219
Hey @rwaldron @leobalter - from another angle it would be absolutely fantastic if you took `--experimental-worker` for a spin and give Node criticism about how it works and whether or not it aligns with your vision.

Note that even if we _do_ ship workers unflagged (which I think we won't, now that you've asked and Anna and Gus both agreed and I agree with them) - they'd still be experimental and

[2018-06-11 11:50] Zirro commented on #20978
Thanks, it has indeed been fixed in v10.4.0! I'll leave the issue open in case you want to add documentation about this as well, but otherwise you can close it.

[2018-06-11 13:16] AdityaSrivast commented on #21193
Hey, I have made a commit which does not follow 72 lines rule. What to do? Should I remove it?

[2018-06-11 13:22] #20978 closed

[2018-06-11 13:28] apapirovski commented on #21210
Also your console.logs above indicate the callback is called, so it's clearly the task itself not triggering the `done` callback.

[2018-06-11 13:33] devsnek commented on #17821
it seems like this issue's original intent has been fulfilled.

Slack: http://www.nodeslackers.com/
Discord: https://discordapp.com/invite/v7rrPdE

[2018-06-11 13:33] #17821 closed

[2018-06-11 13:34] olaoyesunday commented on #17025
in my on case is disabling the ETW  option.

[2018-06-11 13:35] bajtos commented on #21210
I don't think so. The console logs indicate that `setImmediate` was called twice, but the callback was fired only once.

[2018-06-11 13:36] apapirovski commented on #21210
Here's a quick test: try using `setTimeout(this.shift().task.bind(null, done), 1)` and see if it still hangs or not. If it doesn't, try with a value like 100 instead of 1.

[2018-06-11 13:38] bajtos commented on #21210
FWIW: I am not able to reproduce the problem on a physical machine running Windows 10 (Node.js 10.4.0/x64). The problem manifests only when Windows is running in a virtualized environment.

[2018-06-11 14:13] bajtos commented on #21210
Bummer. After a very recent Windows update, I am not able to reproduce the problem in my VirtualBox either. I'd like to try few more things before this issue can be closed as invalid.

[2018-06-11 14:56] MattRiches opened #21258 "Unable to verify key with http://keyserver.pgp.com/vkd/SubmitSearch.event"
Hey there guys,

When trying to use the new keys listed here:

https://github.com/nodejs/node#release-team

I get a timeout when checking against keyserver.pgp.com and manually no key found. Is this something that needs to be added?

Kind Regards,

Matt

[2018-06-11 15:04] anied commented on #8369
Just a time saver for anyone who might have been in the same boat as me-- the [Node.js V8 --inspector Manager (NiM)](https://chrome.google.com/webstore/detail/nodejs-v8-inspector-manag/gnhhdgbaldcilmgcpfddgdbkhjohddkj/support) seems to introduce this issue when it otherwise wouldn't be present-- I spent about an hour banging my head before disabling the Chrome plugin and discovering that everythin

[2018-06-11 15:09] AdityaSrivast commented on #21193
Ok I worked it out. Thanks anyways :smiley:

[2018-06-11 15:13] MylesBorins commented on #21258
@MattRiches

I just ran all of the following in my terminal and had no issue getting the keys

[code]

is there a reason you are checking against keyserver.gpg.com and not pool.sks-keyservers.net?

[2018-06-11 15:26] shisama commented on #15985
@Trott Althogh error occurred before running the `launchctl unload` commands, error doesn't occur after running them.

[2018-06-11 15:34] MattRiches commented on #21258
Hey @MylesBorins  - It's old code, I will update the urls and give it another spin!

[2018-06-11 15:35] farooqte96 opened #21259 "child process exec() function performance degraded when called from socket multiple times simultaneously"
Hi
I am facing same issue relevant to this post (https://github.com/nodejs/node/issues/5636) on nodejsv10.4.0
I am trying to execute a bash script from this exec child process. It works fine when i call it from a socket one time. But when it gets called simulatenously , then child process becomes too slow. Any one knows how to fix this issue.

Nodejs version: v10.4.0
Ubuntu 16.04 (4.13.0-43-generi

[2018-06-11 15:59] MattRiches commented on #21258
Updated to which was in the repo, and thats fixed it. Thanks for the pointer @MylesBorins

[2018-06-11 15:59] #21258 closed

[2018-06-11 16:02] ryzokuken commented on #21193
@AdityaSrivast you can amend the commit message.

[2018-06-11 16:46] ranjitsachin commented on #4329
Disabling avast worked for me..!! :-) Thanks

[2018-06-11 17:27] mike-marcacci commented on #20392
I want to add a quick note of caution before things proceed too fast. This breaks a really important feature of the `Promise` spec, which is the ability to defer handling until later. I understand the rationale behind the change, and I'm not really against it... but I think it's important to communicate how to work around this change.

There are many useful patterns that use deferred handlers, and

[2018-06-11 17:41] BridgeAR commented on #20392
@mike-marcacci i just read your article but this is not how things are planned to work in Node.js 11. It is not even clear if anything changes in 11 but one thing is clear: the default would not crash with your example. In this case nothing will change besides not receiving a deprecation warning anymore. The reason is that it is possible to either have false negatives or false positives and the de

[2018-06-11 17:48] richardlau commented on #21253
Passing `static` to `vcbuild.bat` would set `node_target_type` to `static`.

[2018-06-11 18:05] richardlau opened #21263 "Linter failure details not shown on Travis?"
Has anyone seen the Travis linter job fail? Did it report the actual failure?

Looking at https://github.com/nodejs/build/issues/720 it doesn't look like that tap file is echoed in the Travis config so even if the job fails the failure details are not reported: https://github.com/nodejs/node/blob/fa2d0a117e0882c5f5d9e0e9b596b8628b6b533f/.travis.yml#L1-L24

[2018-06-11 18:24] prettydiff commented on #21245
@mscdex Not necessarily.  It depends upon what you are trying to achieve.

[code]

I suppose the way I am thinking is that you cannot know the type of a file system artifact until you ask for it.  The difference there is whether you ask a single question or a series of questions until you receive a `true` response.  The consequence of that difference is that a single question with a plurality of a

[2018-06-11 18:43] UtkarshGupta-CS commented on #17850
@bnoordhuis Can I work on this issue?

[2018-06-11 19:28] bnoordhuis commented on #17850
Sure.  The other pull request looks to have stalled.

[2018-06-11 19:38] bnoordhuis commented on #21245
I suppose you could open a PR and see how it's received.  Speaking for myself, the overlap with existing functionality and the fact that it's trivially shimmed is a reason not to do this.

[2018-06-11 20:21] ip413 opened #21266 "fs.readFile possible memory leak"
* **4.8.6**:
* **Linux as-t430s 4.4.0-67-generic #88-Ubuntu SMP Wed Mar 8 16:34:45 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux**:
* **fs**:

fs.readFile seems to have memory leak while reading asynchronously the same file many times
fs.readFileSync seems to have very different behaviour and clean up memory efficiently

![data](https://user-images.githubusercontent.com/6553887/41255656-8973584a-6dc7-11

[2018-06-11 20:32] benjamingr opened #21267 "Why don't CJS modules support "top level await"?"
We can support `async/await` in our CJS modules and allow people to use top level `await`.

I saw quite a bit of people asking for this but I haven't seen much discussion about it.

Are there any downsides to this?

 - The module returning a promise and us having to wait until the next require to resolve the chain.
 - We need to know postmortem debugging and exceptions will keep working.
 - Ideall

[2018-06-11 20:37] brettkiefer opened #21268 "Sockets in Node 10.0.0 and up are not destroyed if closed before connect"
* **Version**: 10.0.0 and up
* **Platform**: Darwin CLI-4992 17.5.0 Darwin Kernel Version 17.5.0: Fri Apr 13 19:32:32 PDT 2018; root:xnu-4570.51.2~1/RELEASE_X86_64 x86_64
* **Subsystem**: net

Beginning with commit 9b7a6914a7f0bd754e78b42b48c75851cfd6b3c4, calling `.end` a Node.js socket before it is connected will fail to call `.destroy` on the socket, so the socket will never emit a `close` even

[2018-06-11 20:44] ofrobots commented on #21021
Backport on https://github.com/nodejs/node/pull/21269.

[2018-06-11 20:48] lpinca commented on #21268
I can only think of not changing the `.writable` value in `afterConnect()` if `_writableState.ended` is true. If someone has better idea please share.

[2018-06-11 21:09] devsnek commented on #21267
is there any safe way to do this? even the entry module can be required and we can't always detect that so it would just break people expecting require to not return a promise.

[2018-06-11 21:14] bengl opened #21270 "vm: Error.prepareStackTrace behaves inconsistently across versions"
* **Version**: 8.11.2
* **Platform**: Linux 4.16.4-1-ARCH
* **Subsystem**: vm

In Node 6.x (tested on v6.14.2), the following results in the `prepareStackTrace` defined inside the context being used:

[code]
The stack is logged as `hello`.

In Node 8.x (tested with 8.11.2), it will just output a normal stack, ignoring the `prepareStackTrace` defined in the context.

It seems that in Node 8, the `p

[2018-06-11 21:14] Fishrock123 commented on #21267
Having this happen in a hidden way will lead to the worst, most confusing debugging scenarios ever.

[2018-06-11 21:16] targos commented on #21270
What about v10?

[2018-06-11 21:16] tbranyen commented on #21267
Is the idea to basically sugar this:

[code]

into:

[code]

Doesn't seem that out-of-line to me.

[2018-06-11 21:17] devsnek commented on #21270
this feature isn't actually provided by node, it's a debug feature from v8. iirc it's still documented but we should probably remove that.

/cc @nodejs/v8

[2018-06-11 21:18] bengl commented on #21270
@targos Node 10 (tested with 10.4.0) produces the same result as Node 8.

[2018-06-11 21:19] mcollina commented on #21267
I do not think there is any safe way to do this for CJS.  The only way to achieve this would be to wrap everything with an async function. This means that _all modules will return a Promise_.

For what it's stated before, this would not be possible. Promises always resolve asynchronously.

I'm -1 for the time being.

[2018-06-11 21:20] bmeck commented on #21267
How does this idea differ from using an async IIFE when you want async behavior?

[code]

[2018-06-11 21:21] mscdex commented on #21266
There is no leak. Since you're kicking off a large number of requests in a tight loop, there are no available threads to service the requests, so they are placed into a queue. That is what you're seeing. You should instead measure memory usage *after all of the requests have completed*.

[2018-06-11 21:28] tyxy96 opened #21271 "cannot export constructor"
v10.4.0-linux-x64

----- container.js -----
'use strict'
class container {
	constructor( ORM ) {
		Object.entries(ORM).forEach( (x) => {
			this[x[0]] = require(x[1]);
		})
	}
}

var exports = container;
--------------------------/

----- app.js -----
var x = require('./container.js');
console.log(x);
-------------------/

Expected behaviour is to export class(I hope others get this construct this

[2018-06-11 21:29] benjamingr commented on #20392
We've actually surveyed the ecosystem quite extensively and have found it to be used very rarely in the wild if at all. In fact, people seldom silence the unhandled rejection warnings at all - a lot of people just terminate the process on first `unhandledRejection`.

Also, like @BridgeAR said - none of your examples crash in Node.js 11, all of them work as you intend. Node.js 11 promises will (hop

[2018-06-11 21:34] mscdex commented on #21271
If you're exporting something directly it's `module.exports = container;` not `var exports = container;`. Overwriting the value of the `exports` object does not affect what gets exported. You can either overwrite `module.exports` or attach properties to the existing `exports` object.

In the future, please direct general help questions to the [nodejs/help repo](https://github.com/nodejs/help/issue

[2018-06-11 21:34] #21271 closed

[2018-06-11 21:35] MylesBorins commented on #21267
Top Level Await is currently targeting the module goal only, so it will not get adopted by default into CJS, and introducing it would likely introduce weird ecosystem fracture.

Outside of this, I've done some experiments with changing our IIFE with an AIIFE... and it broke everything. CJS does expect execution order and that it happens synchronously.

This seems like something better left to user

[2018-06-11 22:18] addaleax commented on #14752
I guess we have to reopen this :(

[2018-06-11 22:52] brettkiefer commented on #21268
FWIW, I can confirm that adding a `self._writableState.ended` check to afterConnect before setting `self.writable`, as @lpinca suggests, fixes the IORedis problem (https://github.com/luin/ioredis/issues/633) in my tests without adding any unexpected behavior that I can discern. And we're already checking for `_writableState.finished` in `destroySoon` (https://github.com/nodejs/node/blob/master/lib

[2018-06-11 23:15] zbjornson opened #21274 "Don't split multi-byte code points in zlib"
* **Version**: 8.11.2
* **Platform**: Windows x64, Ubuntu 16.06
* **Subsystem**: zlib

Right now it's not safe to write a string or buffer containing multi-byte code points to a zlib stream:

[code]

Node could either bump the last character in a chunk to the next chunk if it's part of a multi-byte code point, or take the rest of the bytes that comprise that code point. Otherwise zlib streams appe

[2018-06-11 23:18] mscdex commented on #21274
It's not writing that is not safe, it's your `'data'` event handler that is blindly concatenating raw bytes interpreted as UTF-8. If you know the incoming data is UTF-8, you can use `gunzip.setEncoding('utf8')` and your `'data'` event handler will capture whole characters.

[2018-06-11 23:20] #21274 closed

[2018-06-11 23:20] zbjornson commented on #21274
Ah, thanks.

[2018-06-11 23:24] Trott commented on #15985
Hmmm...OK, so I'm of the opinion that while it's acceptable that the crash report writing on macOS might cause a test to timeout, it should *not* cause a test to crash.

@nodejs/async_hooks @nodejs/testing @nodejs/platform-macos Are we all on board that this is a genuine bug to be fixed? Or is there a subtlety I'm missing such that this is acceptable behavior for the test?

[2018-06-11 23:35] fs-eire commented on #16658
I think the node worker helps when the requirement can be fit by using worker API (i.e. `require('worker-threads')`) in javascript code. If seeking for some ways to manipulate those worker threads in native code ( addon or embedding), those are not ready at the moment.

[2018-06-12 00:05] Fishrock123 commented on #21267
Also, I am pretty sure this is impossible to do in a way that doesn't explode everything. Feel free to prove me wrong but I've also done a lot of thinking about this in regards to async-ness with es modules in the past.

[2018-06-12 01:27] prettydiff commented on #21245
@bnoordhuis It looks like the concerned code is at: https://github.com/nodejs/node/blob/master/lib/internal/fs/utils.js#L157-L194

Is there a reason why these type definitions are methods that demand a call instead of static properties?  For example, is there is a performance hit to discover an artifact's type above generation of the Stats object?  If there is a technical reason why type checking

[2018-06-12 01:41] tbranyen commented on #21267
@Fishrock123 supporting top-level await would require pre-processing the AST to know about them and then wrapping in an `async` function. If the end user knew deterministically they were producing a promise, how would this be any different than assigning a promise to `module.exports`? I'm interesting in where this breaks down.

[2018-06-12 02:29] ljharb commented on #21267
@tbranyen it’s a refactoring hazard if merely adding `await` dramatically changes the api of the exports, becoming a breaking change.

[2018-06-12 02:45] srguiwiz opened #21276 "fs.FSWatcher.prototype.close() may crash exit app in Windows in Node 10"
* **Version**: v10.4.0
* **Platform**: Windows 32 and 64 bit
* **Subsystem**: fs

Situations occur where calling `fs.FSWatcher.prototype.close()`, as some `watcher.close()` exits the whole app in a crash, no way to catch.  Side effect of user of computer deleting a directory containing another directory, e.g. in Windows Explorer.

Does not occur e.g. in a flavor of Linux.

While first discovered i

[2018-06-12 04:11] iamraajkanchan commented on #17683
That's it. Which new port number you used in the program.

[2018-06-12 04:34] tbranyen commented on #21267
Doesn't it dramatically change any API?

[2018-06-12 05:16] ljharb commented on #21267
Depending on how TLA is specced. If TLA is only allowed in modules without exports - which is one of the possibilities - then it wouldn’t impact any APIs at all.

[2018-06-12 06:31] GeoffreyBooth commented on #21267
Forgive me if this is off-topic, and I feel like this must’ve been discussed elsewhere (perhaps ad nauseam) but in the discussion around top-level await has there been any thought given to a way to wrap async functions to make them synchronous?

I’m thinking of Meteor’s `wrapAsync` (which makes a callback-style function, like `fs.readFile`, synchronous) or its `Promise.await` (which makes a promis

[2018-06-12 06:45] joyeecheung commented on #21276
Should be fixed by https://github.com/nodejs/node/commit/cd8f06f64f5fba32cf851de4d59c0e22f45b89c7

Although this usually happens when closing an already closed watcher, which is not supported so it may be a good idea to check the call sites

[2018-06-12 06:51] devsnek commented on #21267
is Promise.await here just
[code]

[2018-06-12 07:06] benjamingr commented on #21267
Basically yeah, you'd `wait` by running the microtick if a module returned a promise and continue the chain when `resolve` it is resolved.  Towards the outside the API would look synchronous and remain the same.

[2018-06-12 07:09] metindum78 opened #21277 "node-v8.11.2 cross compile for arm icu_60 compile error"
I am trying to cross compile node-v8.11.2 for arm architecture. I am getting this error;

In file included from ../deps/icu-small/source/i18n/number_integerwidth.cpp:8:0:
../deps/icu-small/source/i18n/unicode/numberformatter.h:555:21: error: 'icu_60::number::Notation::Notation' names constructor
../deps/icu-small/source/i18n/unicode/numberformatter.h:925:20: error: 'icu_60::number::Rounder::Rounde

[2018-06-12 07:31] mscdex commented on #21277
Out of curiosity, what does `/arm-2012.09/bin/arm-none-linux-gnueabi-g++ -v` output?

[2018-06-12 07:42] ljharb commented on #21267
@GeoffreyBooth no, that's not something the language would ever allow - node allows it with C++ modules, but that's not really a pattern we should be emulating.

Separately, TLA wouldn't block, so a blocking API wouldn't be equivalent.

[2018-06-12 07:50] realworld666 opened #21278 "Inconsistency concatenating string with int8 array"
* **Version**: 10.6 & 5.12
* **Platform**: Windows
* **Subsystem**:

I'm having a problem with this code since updating from node 5 to node 10 (also seen in node 8). I've attached the full code and a sample keys file but the problem code is displayed below.

GetScrambledKey returns an int8array object. We have been prepending "ECB_" to the beginning of this which converts it back to a string. This

[2018-06-12 07:52] benjamingr commented on #21267
To be clear, I am not suggesting we make something that is compatible with TLA, `await` in CJS top scope is something a lot of users have been asking for regardless and CJS blocks loading other modules already anyway on doing sync I/O for example.

[2018-06-12 07:56] tabkrz commented on #21213
Was someone able to reproduce this on another platform? I can not reproduce this on my RedHat7.

[2018-06-12 07:57] ljharb commented on #21267
Blocking in sync i/o is not the same thing as blocking in any async action. Also, adding something like that to CJS - if not supported in the browser - might break a ton of common webpack/browserify workflows.

[2018-06-12 08:13] ArosPrince commented on #21253
Hmmm... What does the `static` parameter do anyway? Because it builds node.exe anyway, only the icon is not there. Also is there somewhere the entire list of vcbuild arguments? Because at least this one is not mentioned in here: https://github.com/nodejs/node/blob/master/BUILDING.md

Thanks

[2018-06-12 08:17] mscdex commented on #21278
This was a change in behavior in V8 5.5. There's not much that can be done about it. See https://github.com/nodejs/node/issues/10300.

[2018-06-12 08:29] realworld666 commented on #21278
This is not good news :(

[2018-06-12 08:36] realworld666 commented on #21278
Is there any way to emulate the old behaviour? I can migrate all my keys to the new way but I'll need a way to find them

[2018-06-12 08:40] addaleax commented on #21213
Yes, that crash above is on a Ubuntu 17.10 machine.

[2018-06-12 08:40] criscrom opened #21279 "Unable to install node-js on Windows 64"
* **Version**:node-v8.11.2-x64
* **Platform**: 64-bit (Windows)
* **Subsystem**:

When trying to install node-js using the file node-v8.11.2-x64.msi, I cannot suceed with the installation. It copies the files, and when it's almost finished, it starts a "rolling back" action.

I don't know what is the problem but I need to install node-js a.s.ap.

Thank you very much!!

Br,
Cristina.

[2018-06-12 08:54] #21210 closed

[2018-06-12 08:57] BorntraegerMarc opened #21280 "Docs do not say how to handle crypto.cipher.final with pure buffer"
* **Version**: 8.9.4
* **Platform**: All
* **Subsystem**: All

The doc https://nodejs.org/docs/latest-v8.x/api/crypto.html#crypto_class_cipher does not state for the case where `cipher.update()` and `cipher.final()` are used how the pure buffer from `final()` should be handled. Does it need to be appended to the `update()` buffer?

Code example:
[code]

So it's unclear whether `finalData` includes

[2018-06-12 09:04] rogierschouten commented on #7657
How about re-opening this issue until [this fix in libuv](https://github.com/libuv/libuv/issues/1099) lands in Node.JS?  Now I had to run the test script to check if it works already (it doesn't)

[2018-06-12 09:12] mscdex commented on #21280
Yes, you need to concatenate the output of all calls to `.update()` and any output from `.final()`.

In the future, please direct general questions to the [nodejs/help repo](https://github.com/nodejs/help/issues).

[2018-06-12 09:12] #21280 closed

[2018-06-12 09:12] gireeshpunathil commented on #19838
#20592 was reverted in master, so re-opening this.

[2018-06-12 09:13] gireeshpunathil commented on #18446
unfortunately #20592 was reverted in master, so re-opening this.

[2018-06-12 09:17] vsemozhetbyt commented on #21279
See https://github.com/nodejs/node/issues/20538 with comments, mayby this can help)

[2018-06-12 09:17] mscdex commented on #21278
Not really. You would need to write your own UTF-8 decoder to ensure you get the old output in all cases, which would not be an easy task.

[2018-06-12 09:31] mscdex commented on #21278
The conversion you were doing does not involve node at all, it's all V8.

[2018-06-12 09:39] addaleax commented on #21278
@realworld666 I think https://github.com/v8/v8/commit/fd40ebb1e64274ae3529f8bbe6dad6adc76cb391 was the main change here.

So: If you need to need keep the exact results, you probably need your own UTF-8 decoder (in JS or otherwise). You can probably find an existing one out there and adjust it to your needs, or write your own – it’s work, but it’s probably less a lot less work than manually revert

[2018-06-12 09:40] z0w0 opened #21281 "Calling crypto.createCipheriv with a key of invalid length can cause errors in other consumers of the OpenSSL error queue"
* **Version**: v9.3.0 (initially discovered on v8.x but seems relevant to later versions too)
* **Platform**: Windows 64-bit + ArchLinux 64-bit
* **Subsystem**: Crypto

N.B. What follows is a naive speculation about what's going wrong since I'm not all too familiar with Node.js' internals.

When `crypto.createCipheriv` is called, it sets the key length using `EVP_CIPHER_CTX_set_key_length`. For so

[2018-06-12 09:41] addaleax commented on #21281
@nodejs/crypto

[2018-06-12 09:54] BorntraegerMarc commented on #21280
Thanks @mscdex
I updated my issue so now it is a request to update the docs and to include the above code example in the official docs. So it's clear for all devs (even for beginners like me).

Should I make a PR to include the code example to the docs?

[2018-06-12 10:12] ryzokuken commented on #21281
@z0w0 could you please mention all the versions of Node that you found to be affected by these? `v9.x` isn't receiving updates anymore and will reach it's EOL this month so I'd rather not fix this, but if this also affects `v8.x` then sure. Also, did you check if `master` was affected?

[2018-06-12 10:18] lpinca commented on #21268
We have this issue open https://github.com/nodejs/node/issues/445 but I would propose a PR anyway and continue discussion there. If you have time please do that, otherwise I'll try to open it before the end of the week.

[2018-06-12 10:52] z0w0 commented on #21281
It's almost certainly present in the v8.x LTS, as I discovered this from a production issue at my work which has been using the v8 LTS for some months. I just reproduced on v8.11.2 (ArchLinux) using the above script. The statement I made about it affecting other releases was a generalisation because I checked the master code and it looked like it wasn't clearing out the errors generate by `EVP_CIP

[2018-06-12 10:56] tniessen commented on #21281
I think our cipher implementation has failed to properly clear the error queue for some time now. I have a patch for the "Invalid key length" error, but I'd like to explore which other situations (e.g. invalid IV size etc.) are affected.

[2018-06-12 11:01] evgenymarkov commented on #21213
Same issue. I'm just calling `process.exit()` and node shows me stacktrace. This bug occurs in 10.4, but not in 10.3.

<img width="1600" alt="image" src="https://user-images.githubusercontent.com/16443248/41286671-b17484ee-6e59-11e8-91ac-3091f89bbd63.png">

**Platform**: Darwin hellroot 17.6.0 Darwin Kernel Version 17.6.0: Tue May  8 15:22:16 PDT 2018; root:xnu-4570.61.1~1/RELEASE_X86_64 x86_64

[2018-06-12 11:03] z0w0 commented on #21281
Yep, it's easy enough just to fix this particular bug by adding a `ClearErrorOnReturn` struct initialization to the top of the code that throws the JS error. I was going to open a PR but I'll leave it to you :)

[2018-06-12 11:08] ryzokuken commented on #21281
Yeah, I had been planning to fix it too, but @tniessen is better qualified. Let me try looking deeper into the error queue issue.

[2018-06-12 11:28] rohaan911 commented on #21279
@criscrom There are 2 solutions:
1. Uncheck Performance Counters and ETW from setup options before proceeding to install.
2. Disable your antivirus before running setup (you can keep Performance Counters and ETW checked).

More information in #20538 comments.
If the above doesn't work for you, please share your log by running the following on cmd:

`node-v8.11.2-x64.msi /lxv c:\nodejs.log`

[2018-06-12 11:31] tniessen commented on #21281
@z0w0 @ryzokuken Sorry, didn't want to take this away from either of you, please, go ahead! Just let me know which part you'd like to work on 😃

[2018-06-12 12:00] ryzokuken commented on #21281
@tniessen nah, you're better at handling this. I'll try looking into the underlying issue with the error queue.