[2016-09-05 07:35] #8408 closed

[2016-09-05 07:36] bnoordhuis commented on #8408
You are introducing a cycle here.  `index.js` includes `cars.js`.  The latter also includes the former so `index.js` won't have been fully evaluated yet; its `model.exports` property hasn't been assigned to.  Not a bug.

[2016-09-05 07:59] lewisdawson commented on #8408
@ChALkeR @bnoordhuis Hadn't even thought about that, but it makes perfect sense now that you've pointed it out. Thanks for clearing this up!

[2016-09-05 08:23] #8233 closed

[2016-09-05 09:37] maxis1718 commented on #8406
@Trott, cool! then I should create an issue for python 😎

[2016-09-05 09:37] #8406 closed

[2016-09-05 09:58] eduardbcom commented on #6190
Hi there.
I am new to contribution to nodejs and decided to start with 'good first contribution' label.
It looks like you discussed this problem, but I've compiled current master branch and the problem still exists.
I wrote simple solution with _listenHasBeenCalled variable and I am wondering whether community still interesting in it.
Many thanks.

[2016-09-05 12:38] thetutlage commented on #8388
We should maintain the backward compatibility, since projects are written for multiple versions of Node.js. It is a pain for me to run CI tests for multiple versions too.

[2016-09-05 15:53] eljefedelrodeodeljefe commented on #8249
Closing for now. With plain node I can't neither reproduce it. Really weird, since I can reproduce it always with the electron binary, but I think it itself is exiting prematurely. Thx everyone.

[2016-09-05 15:53] #8249 closed

[2016-09-05 16:30] cdai2 commented on #3688
@dlsniper I will add the guide document tomorrow. Thanks.

[2016-09-05 18:25] acarstoiu commented on #7040
Any progress on this? I really hope not to run on quick sands forever (namely, relying on the current error domains).

[2016-09-06 02:25] codingfishman commented on #8368
@imyller  Thanks for the detail, it helps a lot!

[2016-09-06 02:28] jasnell commented on #8026
@nodejs/lts ... I think we have a clear winner on this.

[2016-09-06 08:46] mscdex commented on #8393
As I mentioned in the PR related to this, I am -1 on this idea. It's easy enough to do in userland and IMHO adding it to core would be a sign of feature creep.

[2016-09-06 10:15] jorangreef opened #8417 "crypto.scrypt()"
@indutny would there be any support for adding `scryptSync()` and `scrypt()` to the `crypto` module?

There is already support for `PBKDF2` but `scrypt` can offer an order of magnitude or more strength for the same derivation time.

[2016-09-06 10:17] jorangreef opened #8418 "crypto.createHKDF()"
@indutny would there be any support for adding `createHKDF()` to the `crypto` module?

This is useful when doing common crypto work and I have an implementation with test vectors that I can provide.

[2016-09-06 10:50] bnoordhuis commented on #8417
The crypto module only exposes what openssl supports and openssl does not support scrypt.  Likewise for HKDF, ref #8418.

[2016-09-06 10:52] bnoordhuis commented on #8418
See https://github.com/nodejs/node/issues/8417#issuecomment-244915607.  HKDF can be derived from existing crypto methods though.

[2016-09-06 11:40] jorangreef commented on #8418
Thanks, yes. If there is support for adding HKDF to the `crypto` module, then my thought was to implement it using the existing crypto methods.

The reason for adding it would be that it's a basic crypto primitive, and Node could support it out of the box.

[2016-09-06 11:46] jorangreef commented on #8417
Surely openssl is just the implementation of much of the `crypto` module? Does it prescribe the interface?

Perhaps adding scrypt might be a slippery slope, people might start asking for bcrypt. But PBKDF2 is long in the teeth and scrypt is a decent improvement over PBKDF2 and bcrypt.

[2016-09-06 12:08] akobler commented on #3715
happened here in 4.4.7

[2016-09-06 12:24] bnoordhuis commented on #8418
If it can be constructed from existing methods it's logically a convenience function, not a primitive.  It's not a hard rule but we err on the side of leaving those out.

[2016-09-06 12:40] bnoordhuis commented on #8417
It restricts what functionality node can expose.  We would either have to bundle the scrypt reference implementation or write a sizable chunk of code to wire up the building blocks that openssl does offer.

Taking on more dependencies is not something we do lightly and writing cryptographic code, even the kind that just connects the dots, requires very careful scrutiny.  It's an interesting exerci

[2016-09-06 12:47] bnoordhuis commented on #3715
@akobler More info?  Any way for us to reproduce?

[2016-09-06 13:14] jbergstroem commented on #8404
@nfroidure just checking in. Did it finish?

[2016-09-06 13:51] #7549 closed

[2016-09-06 13:55] bmeck commented on #3741
@bnoordhuis is this still an effort?

[2016-09-06 14:00] bmeck commented on #5307
@cjihrig https://nodejs.org/api/os.html#os_os_tmpdir , is that sufficient or are you going to PR against the libuv API?

[2016-09-06 14:01] jorangreef commented on #8418
HKDF is a cryptographic primitive in the sense that you would not want to decompose it further, write it or invent it yourself (or encourage others to do that). It's a basic standardized crypto building block "primitive", just like HMAC or PBKDF2 are considered cryptographic primitives even though they are themselves implemented using other cryptographic primitives. I think it's fair to say that i

[2016-09-06 14:03] jeroenvollenbrock commented on #7654
I've replace the native module node-serialport with my own implementation, and we've now been running on 4.4.7 for approximately 500000 device-hours without re-triggering the crash. I think it's therefore safe to assume the issue was caused by node-serialport.

[2016-09-06 14:04] #7654 closed

[2016-09-06 14:13] TheAlphaNerd commented on #7654
/cc @reconbot

[2016-09-06 14:43] hptabster commented on #7840
We have upgrade to v6.2 without an issue on Solaris.

[2016-09-06 14:48] bnoordhuis opened #8421 "fs: fs.watchFile() should not emit 'stop' event synchronously"
[code]
That is bad because `w.on('stop', w.stop); w.stop();` will result in a 'maximum call stack size exceeded' error.

[2016-09-06 14:52] clshortfuse commented on #7627
I'd like some way to access the native windows socket, just so I can call `setsockopt` against it. Linux is fine because because of fd. I'm unsure what is meant my unwrapping the handle. Can I do this from nodeJS?

What the difficulty with adding `net.Socket._handle.getWindowsHandle()` ?

[2016-09-06 14:56] bnoordhuis commented on #3741
I guess this can be closed (again) - the current process seems to work okay.

[2016-09-06 14:56] #3741 closed

[2016-09-06 14:58] alexhultman commented on #7627
This is how I do it (yes, majorly haxxy but works):

[code]

where void *handleWrap is args[0]->ToObject()->GetAlignedPointerFromInternalField(0) and args[0] is net.socket._handle.

[2016-09-06 14:59] ofrobots commented on #8388
I will try to put together a patch adding back the removed harmony flags (probably tomorrow).

[2016-09-06 15:20] clshortfuse commented on #7627
I was hoping for something in pure JavaScript. The issue I have is enabling OOB packets on sockets. I've already solved this in Linux because of its use of file descriptor.

https://github.com/nodejs/node/issues/8282

I'm not sure where to use your code on an existing socket. I would have to create a custom module and then pass the socket._handle object to the module's getTcpHandle function?

Offi

[2016-09-06 15:29] alexhultman commented on #7627
The issue is not implementation complexity, this could be solved very easily. The issue is that "they" do not want this feature, so if you feel lucky you need to haxx around it yourself. You cannot implement this in JS code alone, you need a native addon somewhere in the picture.

[2016-09-06 15:36] jelmd commented on #5307
I've seen that since 5.10.0 there is a `fs.mkdtemp(prefix, callback)`.  So aligning with it makes sense IMHO ...

[2016-09-06 16:21] claudiorodriguez commented on #8421
I tried changing https://github.com/nodejs/node/blob/master/lib/fs.js#L1479 to use `process.nextTick` but this test https://github.com/nodejs/node/blob/master/test/sequential/test-fs-watch.js#L118 then fails

[2016-09-06 16:27] ChALkeR commented on #7840
Ok, closing. Feel free to comment here if more problems arise =).

[2016-09-06 16:27] #7840 closed

[2016-09-06 17:41] john-yan commented on #8329
backport is completed at https://codereview.chromium.org/2302873002/

[2016-09-06 17:57] Trott opened #8425 "Node.js Foundation Core Technical Committee (CTC) Meeting 2016-09-07"
## Time

**UTC Wed 07-Sep-2016 20:00**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 07-Sep-2016 13:00 |
| US / Mountain | Wed 07-Sep-2016 14:00 |
| US / Central  | Wed 07-Sep-2016 15:00 |
| US / Eastern  | Wed 07-Sep-2016 16:00 |
| Amsterdam     | Wed 07-Sep-2016 22:00 |
| Berlin        | Wed 07-Sep-2016 22:00 |
| Moscow        | Wed 0

[2016-09-06 17:58] Trott commented on #8425
This meeting will take place 26 hours from now.

Standup section of doc is ready to go. @nodejs/ctc

[2016-09-06 18:41] TheAlphaNerd commented on #8425
it appeared that this was voted on in the last meeting based on the notes. Should we remove it from agenda?

[2016-09-06 20:32] roblourens opened #8426 "v8 inspector - Runtime.evaluate doesn't work without a contextId"
Writing a client against the new v8 inspector debug protocol, and Node's behavior doesn't match the spec, but this does work in Chrome. Not sure if it should go here or V8.

According to this - https://chromedevtools.github.io/debugger-protocol-viewer/v8/Runtime/#method-evaluate - 'contextID' is optional, and should evaluate in the global context if not present. But if I don't include it, I get th

[2016-09-06 21:03] mscdex commented on #8426
/cc @nodejs/v8-inspector

[2016-09-06 21:31] Trott commented on #6306
CTC voted in favor of this. Removed `ctc-agenda` label, assigned to @TheAlphaNerd.

[2016-09-06 21:45] Fishrock123 opened #8428 "v6.6.0 pre-proposal"
I'd like to do this week's release. Here's a rough cut of the commits.

I need to fix up some conflicts to get everything ready and probably don;t have time to finish to make an actual PR today.

Aiming for tomorrow.

---

* [[`10b3f131c2`](https://github.com/nodejs/node/commit/10b3f131c2)] - **async_wrap**: add a missing case to test-async-wrap-throw-no-init (yorkie) [#8198](https://github.com/no

[2016-09-06 21:47] TheAlphaNerd commented on #6306
I made a new branch [v6.x-staging](https://github.com/nodejs/node/tree/v6.x-staging)

new backport commits should be targeted at staging. I will go through the documentation and start updating things tomorrow

[2016-09-06 22:25] cjihrig commented on #8425
I'm going to have to miss again. Hoping to be back before the end of the month.

[2016-09-06 22:39] addaleax commented on #8425
The agenda isn’t, like, huge, so maybe we could have a quick talk about #8395 (no-ops for the removed harmony flags)?

[2016-09-06 22:40] cjihrig commented on #5307
@bmeck I'm not sure I understand the question. Node and libuv both have functions for getting the temp directory. They are just subtly different enough that I decided against replacing Node's with a call to libuv.

[2016-09-06 23:08] Trott commented on #8425
@addaleax I've added that to the agenda. I imagine you want to get consensus on how to deal with V8 flags that disappear, and not necessarily on that specific PR. Please correct me if I'm wrong and/or be prepared to frame the conversation at the meeting tomorrow.

I suspect [this comment from @jasnell](https://github.com/nodejs/node/pull/8395#issuecomment-245030992) is a good summary of what we mi

[2016-09-06 23:13] trevnorris commented on #7040
Yes. I'm furiously finishing it up in preparation for a PR.

[2016-09-06 23:28] addaleax commented on #8425
Thanks! And, yeah, it’s not about that specific PR, and not necessarily about a solution this week, it’s just something that seems to me like it might benifit from a bit of synchronous discussion if we have the time.

[2016-09-07 00:06] mkopinsky commented on #5701
I came across a similar problem, using nodejs on RedHat, installed from RHSCL. In my case, I was trying to install a package with `scl enable rh-nodejs4 "sudo npm install -g ummon-server"`, and got the error in the original issue above. I got almost to opening up a ticket with the package maintainer as @jbergstroem suggested above, but then discovered that the required .so file actually was instal

[2016-09-07 00:07] Trott commented on #8425
For this issue:

* Process for determining supported platforms [#8265](https://github.com/nodejs/node/issues/8265)

The outcome of last week's discussion was:

* Build WG will prepare initial list of supported platforms in their next meeting.
* Then CTC will review and decide next steps.

I imagine that first bullet point may not be quick and easy, but just in case: Did @nodejs/build pull that inf

[2016-09-07 00:10] jasnell commented on #8425
I will be able to join for the first 30 minutes of the call. After that I'll be helping out with my youngest son's after school robotics club for a bit so... yeah, priorities 😜

[2016-09-07 00:10] Trott commented on #8425
@jasnell You probably picked a good week for it. The agenda is pretty small and perhaps about to get smaller.

[2016-09-07 00:11] jasnell commented on #8428
[0764bc4711] - Revert "crypto: add crypto.timingSafeEqual" (James M Snell) #8225
[0fc5e0dcd9] - (SEMVER-MINOR) crypto: add crypto.timingSafeEqual (not-an-aardvark) #8040

These don't need to be pulled in. There's an effort to get `timingSafeEqual` back in that should land soon.

[2016-09-07 00:12] Trott commented on #8425
I believe we can remove this item from the agenda:

* Move ecosystem detection tool to nodejs org [#7935](https://github.com/nodejs/node/issues/7935)

The outcome from last week was:

* Prep repo for migration.
* Open issue in nodejs/tsc.

I'm not sure if that would be something @ChALkeR or @cjihrig would do, but I imagine it can be done by anyone with the interest in doing it.

I'm going to remov

[2016-09-07 00:12] Trott commented on #7935
Result from CTC discussion last week was:

* Prep repo for migration.
* Open issue in nodejs/tsc.

[2016-09-07 00:18] Trott commented on #8425
The result of this item from last week:

* AsyncWrap public API proposal [#18](https://github.com/nodejs/node-eps/pull/18)

was this:

* Trevor to update all code and ask for vote on specific item(s).

@trevnorris Is that done or likely to be done before the meeting? If so, can you drop a link here? If it's ready to go, we'll do that first since it's the most actionable thing on the agenda right n

[2016-09-07 01:22] jbergstroem commented on #5701
@mkopinsky you can just override path instead of using the 'enable' stuff -- pretty much the same thing. We do this in our init scripts for centos5/newer gcc stuff:  https://github.com/nodejs/build/blob/master/setup/centos5/resources/jenkins.sysconfig.j2#L6

[2016-09-07 02:17] joaocgreis commented on #7989
Update:
- Test CI: Pending https://github.com/nodejs/node/pull/8412 and https://github.com/nodejs/node/pull/8067 , should be all done after they land.
- Release CI: Ready. There's a new job, `reis-node-release-v6`, that uses VS2015. I plan to drop the `reis-` prefix when it's approved by the @nodejs/release team (or should I right away?).

Node v7 can use the new job right away for the RCs. For no

[2016-09-07 02:57] mkopinsky commented on #5701
The enable script does a bit more than that:
[code]
If all I want to do is to run node though, you're right, probably just $PATH is all I need.

[2016-09-07 03:03] jbergstroem commented on #5701
@mkopinsky was just referring to your `npm` reference and how we kept it simple. Anyway, looks like you got the situation under control :)

[2016-09-07 05:38] akobler commented on #3715
@bnoordhuis Quite seldom, but I observed occasionally a Node crash and got the following line in kern.log:
master kernel: [3644710.877233] traps: node[4114] trap invalid opcode ip:fc9369 sp:7fff8455a4e8 error:0 in node[400000+1383000]

So I just enabled core dumps, unfortunately no deeper insight yet. As you see below, the pattern matches pretty good with other observations in this issue. I delive

[2016-09-07 06:07] Trott commented on #8375
If it helps anyone troubleshoot or if it gives anyone an idea as to what's going on, the `process.stdout.write()` is failing with:

/cc gireeshpunathil who might have more information to add since [their last comment](https://github.com/nodejs/node/issues/7973#issuecomment-244146245)

[2016-09-07 06:12] Trott commented on #8375
Also, if it helps anyone, here's the modified version of the test I used to capture that info:

[code]

Here's the results. I believe the `EBADF` is at the end because the test runner prints stderr first, then stdout. Probably should have used `console.error()` instead of `console.log()` but whatever.

[code]

[2016-09-07 06:18] kirillonufreinko commented on #8234
I confirm it's VirtualBox issue. After VB update it vanished

[2016-09-07 07:07] bnoordhuis commented on #3715
You could try `gdb --args node` followed by `info symbol 0xfc9369` (the ip address) to see which function it belongs to (if any, and assuming it hasn't been mangled by ASLR.)

If you don't have gdb installed, try `addr2line -e node fc9369`.  addr2line is less sophisticated than gdb, though; I think it only looks through the symbol sections, not DWARF debug data.

[2016-09-07 07:30] bnoordhuis commented on #8234
Thanks for the update.  I'll close the issue.

[2016-09-07 07:30] #8234 closed

[2016-09-07 11:12] carbonrobot opened #8431 "req.emit is not a function"
* **Version**: 6.4.0
* **Platform**: Windows 64bit
* **Subsystem**: _http_client.js

https://github.com/nodejs/node/blob/1004ece889b42e13e7b0a3befa3b49ae3c23bf70/lib/_http_client.js#L271

When an HTTP request fails with an error, `req.emit` is not a function. I can reproduce in our application, but having difficulty creating a minimum sample. This is a call against an HTTPS endpoint that is return

[2016-09-07 11:22] mcollina commented on #8431
@carbonrobot we should try to replicate the problem. It seems tricky enough and we need to add a unit test anyway.

Would you mind trying to open a TLS socket against an HTTPS endpoint, and then close the socket? Maybe it's a TLS connection being dropped before any data is transferred.

[2016-09-07 11:37] rvagg commented on #8425
@trott no, build didn't get a chance to do that list yet, I'm going to remove ctc-agenda from that issue for now, we haven't even had a chance to have a build WG meeting since last week (we do it every 3 weeks, next is the 20th).

[2016-09-07 11:42] rvagg commented on #8265
Moving to https://github.com/nodejs/build/issues/488 for now, will come back to `ctc-agenda` when we have something to report!

[2016-09-07 11:45] rvagg commented on #8425
For those wanting to at least start thinking about supported platforms, @cjihrig pointed out that libuv has a list now @ https://github.com/libuv/libuv/commit/be0e24c1e85ed27c03df4e500299ceedac57bab3 and this may be something the Build WG takes as a starting-point. For the purposes of this meeting I suggest we remove it and just keep the meeting short.

[2016-09-07 11:59] gireeshpunathil commented on #8375
Thanks @Trott - this info will be really useful, I will investigate.

[2016-09-07 11:59] jbergstroem commented on #8425
The build group will have something ready for its next meeting, September 27.

[2016-09-07 12:12] rvagg commented on #7989
We should be able to do this within the same release job using build node labels. Already we have this in there:

[code]

That s390x stuff really should be using the labels as well and we can wrap in this v6/v7 stuff too.

So right now we have these restrictions on platforms within the existing job (using "v1" here to separate v0.10 + v0.12 and v4+ btw).

* < v4 gets an older version of smartos
*

[2016-09-07 13:29] metabench commented on #8269
@addaleax No, it's not working properly with subarrays. I created a subarray with the code you provided. The only item in that subarray is `2`. The resulting array from `addone_ta` is still `[ 2 ]`.

I have merged the typed array code into master on https://github.com/metabench/addone/blob/master/addone.cc

Suggestions or code fixes to handle subarrays would be very much appreciated. Thanks for po

[2016-09-07 13:55] leth commented on #862
I'm seeing a [failure like this](https://github.com/npm/npm/issues/13004) frequently from `npm install` under node 6.4.0.

[2016-09-07 14:08] Wuntenn commented on #3469
I just had the same issue. It's most likely that node didn't shut down properly. Just run:

`ps aux | grep node`

Get the process ID of the culprit and run `kill <PID>`

If that doesn't work it node (most likely due to open sockets) use stronger 'kill SIGKILL <PID`

more info on becoming a process assassin [here](http://www.cyberciti.biz/faq/kill-process-in-linux-or-terminate-a-process-in-unix-or-

[2016-09-07 14:09] josser opened #8432 "Stress-testing caused to stuck on OS X"
* **Version**: v6.5.0
* **Platform**: Darwin josser-mbp 15.6.0 Darwin Kernel Version 15.6.0: Mon Aug 29 20:21:34 PDT 2016; root:xnu-3248.60.11~1/RELEASE_X86_64 x86_64
* **Subsystem**: http

Trying to do some stress-tests using ab (yes, I know it's a bit primitive idea) but it looks like there is some issue in OSX-specific code.

So, here is example code:

[code]

[code]

The most interesting thing

[2016-09-07 14:33] evanlucas commented on #8432
Hi @josser. Thanks for opening the issue. Can you run `ulimit -a` and paste the output here? Thanks!

[2016-09-07 14:36] josser commented on #8432
Here it is:
[code]

[2016-09-07 14:37] evanlucas commented on #8432
Yea, OS X has a pretty low default amount for file descriptors. Have you tried bumping that up? (Something like `ulimit -n 4000` and then trying again?

[2016-09-07 14:42] josser commented on #8432
@evanlucas Yes, i have tried to adjust it to 10000 using this command:
[code]

I'm not sure where is correct place to set it. So I set it in both terminals (with node and with ab), because it looks like this setting applies per terminal window. (or shell session).
But this not help, it stuck with same conditions.

[2016-09-07 14:44] evanlucas commented on #8432
@josser just curious, after you set it, have you confirmed that it is set (`ulimit -n`)? I know there are some times where you have to use `launchctl` to set it before you can use `ulimit` to set it.

[2016-09-07 14:46] josser commented on #8432
@evanlucas Yes, I think I can confirm it set. When I run ulimit -a again I see new value:
[code]

[2016-09-07 18:06] trevnorris commented on #8425
@Trott After completing the implementation and doing some testing/benchmarking found that it fell short of performance goals. So I partially implemented a change to the embedder API, and now that it's looking sound I'm updating the EP at this moment. The public API as currently defined in the EP will remain the same.

[2016-09-07 18:18] odotom opened #8433 "wrong localisation for currency in toLocaleString"
Example:
const amount = 12345.67
const options = {style: 'currency', currency: 'EUR'}
amount.toLocaleString('de-DE', options)
-> '€ 12,345.67'

should be
'12.345,67 €'

(Be aware that the grouping separator for DE is also wrong!)
This happens only when using currency localisation
Reference: Chrome v53  performs correctly

[2016-09-07 18:58] mscdex commented on #8433
/cc @nodejs/intl

[2016-09-07 19:01] srl295 commented on #8433
@odotom what version?

[2016-09-07 19:04] odotom commented on #8433
* **Version**:   v6.5.0
* **Platform**:  Darwin macpro_to 15.6.0 Darwin Kernel Version 15.6.0: Mon Aug 29 20:21:34 PDT 2016; root:xnu-3248.60.11~1/RELEASE_X86_64 x86_64

[2016-09-07 19:05] srl295 commented on #8433
@odotom the cause is a lack of locale data. see https://github.com/nodejs/node/wiki/Intl

With the right data I get
[code]

[2016-09-07 19:05] #8433 closed

[2016-09-07 19:07] mscdex commented on #8432
I thought there was always some issue with `ab` on OS X? Did you try using `wrk` or similar instead?

[2016-09-07 19:09] odotom commented on #8433
Thnx, has to be considered for server side rendering!

[2016-09-07 19:11] Fishrock123 opened #8434 "Reccomend allowing edits from maintainers in issue templates / Contributing.md?"
See https://github.com/blog/2247-improving-collaboration-with-forks

I wonder if we shouldn't recommend this new option

[2016-09-07 19:14] trevnorris commented on #8425
The EP is updated with the new embedder API.

[2016-09-07 19:16] jasnell commented on #8434
Perhaps. It could be a bit disruptive. Perhaps a subset could volunteer to kick the tires on this to see how well it works.

[2016-09-07 19:19] jasnell commented on #8433
Node.js, by default, only includes the data files for the English locale. It is possible to download the full data set using the [full-icu module](https://www.npmjs.com/package/full-icu).

[2016-09-07 19:23] jasnell commented on #8425
Given the light schedule today, I'm going to go ahead and skip this one. I've already offered my feedback on the various issues on the agenda in the relevant github threads.

[2016-09-07 19:26] sant123 opened #8435 "DateTimeOffset"
* **Node.js v6.2.2**:
* **Windows 8 64-bit**:

Hi, when I instance the object Date like... ```new Date()``` I always get an UTC Date. I've been searching for a solution and I finally got [Timezone-js](https://www.npmjs.com/package/timezone-js). But it would be really helpful an implementation of a Date object that supports offset. In this way, if I instance the Date object with an additional  para

[2016-09-07 19:26] srl295 commented on #8433
@odotom updated my reply above w/ more about using `full-icu`

[2016-09-07 19:53] jasnell commented on #8435
The definition of the `Date` object is set and fixed by the JavaScript language standard and is provided to us by the JavaScript engine (V8). There's really nothing we can do to extend it in core.

[2016-09-07 20:23] ottobonn opened #8436 "dns.lookup blocks filesystem I/O"
- **Version**: v4.5.0
- **Platform**: Linux jessie 3.16.0-4-amd64 # 1 SMP Debian 3.16.7-ckt25-2+deb8u3 (2016-07-02) x86_64 GNU/Linux
- **Subsystem**: dns

Hi all,

I'm posting this issue as a continuation of an issue originally opened against node-serialport: https://github.com/EmergingTechnologyAdvisors/node-serialport/issues/797

On networks with slow DNS response, or where DNS requests time out

[2016-09-07 20:53] jbe456 commented on #8155
Is this supposed to be already available in nightly builds? I tried with `v6.5.1-nightly20160906180867d6a6` and I still have the exact same error message:

[code]

[2016-09-07 20:57] metabench commented on #8269
The current best code that I have, which takes account of subarrays, is as follows:

[code]

I don't fully understand how it works, and I am hoping to get good advice on it and for it or something better to be established as the best-practice way of doing IO of Typed Array data when not using nan (https://github.com/nodejs/nan). It's possible that advances made in understanding the IO of different

[2016-09-07 21:00] Fishrock123 commented on #8428
I keep running into this:

[code]

cc @addaleax maybe?

[2016-09-07 21:09] addaleax commented on #8428
Uh, yeah, that one’s one me I guess… I’ll do a backport PR for #8174, it should just be a one-line difference

[2016-09-07 21:43] sant123 commented on #8435
@jasnell thank you for your answer, ok I got it...... but now is it possible to get the time according with the timezone of the system? I'm using windows and if I check the ```new Date()``` in chrome I get a Datetime with my timezone that is GMT-5. This does not happen with Node.js.

[2016-09-07 22:01] addaleax commented on #8434
The box seems to be checked by default for new PRs, btw.

[2016-09-07 22:56] jasnell commented on #8436
Yes, unfortunately this has been a known issue for a while but there's not a clear solution just yet outside of a massive (and non-backwards compatible) refactoring of the `dns` module in core. It's something that needs to get done, for sure, but it's going to take a while.  I'm going to mark this as a confirmed bug so that it stays on the radar.

[2016-09-07 23:05] joaocgreis commented on #7989
@rvagg Thanks for your suggestion, I adapted the Windows script and we'll be able to use the same job.

I created a new job `reis-iojs+release` that can be used for v7 RCs and v6 test builds. This way, we can use the current `iojs+release` job until we make the change for VS2015, and then I'll just copy the [new parts](https://ci-release.nodejs.org/job/reis-iojs+release/jobConfigHistory/showDiffFi

[2016-09-08 00:02] ottobonn commented on #8436
Thanks for the prompt response.

Just to clarify, I'm referring to the fact that the underlying implementation of `dns.lookup` is based on a blocking call to `getaddrinfo`. Could you elaborate on why the `dns` module would need refactoring? Do you mean the JavaScript layer needs refactoring, or the implementation of the `dns` module's low-level interaction with `libuv`? When you say it wouldn't be

[2016-09-08 00:49] rvagg commented on #3959
I've opened a PR to get this updated in lts / v2, I thought for some reason we were over this hump but it never seems to have been backported: https://github.com/npm/npm/pull/13892

[2016-09-08 01:29] rvagg commented on #3959
👍

[2016-09-08 02:26] not-an-aardvark commented on #8435
I think this is because if you just use `new Date()`, Node formats it differently than Chrome does (it displays the date in UTC). If you use `new Date().toString()`, it will have the correct timezone.

To get the timezone offset on the system, you can use the [`getTimezoneOffset`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getTimezoneOffset) function.

[2016-09-08 02:30] mscdex opened #8438 "v8 inspector Profiles page no longer loads"
- **Version**: master
- **Platform**: linux
- **Subsystem**: v8-inspector

I noticed tonight that clicking on the Profiles tab in the v8 inspector results in a white page where the content belongs. I even let it sit there for awhile, thinking it might be lag or something, but no dice. Works fine at least with v6.3.1 though.

[2016-09-08 02:30] mscdex commented on #8438
/cc @nodejs/v8-inspector

[2016-09-08 04:52] AaronHarris commented on #4270
As someone who was affected by builds not working when Node upgraded to OpenSSL 1.0.2, I can say that building on OpenSSL 1.1.0 will make things equally as broken, in a good way - relying on the system OpenSSL was generally not a good idea, and now that people have (hopefully) fixed their builds, moving to OpenSSL 1.1.0 should be not much different from the changes people had to make when moving t

[2016-09-08 06:13] wzup commented on #8155
@uggedal
As for Sep 8 2016 the same error
Win 10, 64
node v6.5.0 (includes npm 3.10.3)

![mingw64_ 2016-09-08 14 09 50](https://cloud.githubusercontent.com/assets/3880497/18338805/10a82226-75ce-11e6-8c06-c6077eaae20c.png)

[2016-09-08 06:45] chaosforfun opened #8439 "when run node with --prof the `crypto.pbkdf2` will not loged in"
Version 6.5.0
Platform: ubuntu 64-bit

i have a process which invoke `crypto.pbkdf2` to encrypt password. and it will let the cpu 390%.so i use
`node --prof` and `node --prof-process` to profile, but in the log file ,`crypto.pbkdf2` did not take up lot cpu time.

if I small the iterations param of `crpto.pbkdf2` ,this process will not take up log cpu time, and if i set bigger iterations it will ta

[2016-09-08 07:06] josser commented on #8432
@mscdex Cool, looks like there is something wrong with ab on mac.
[code]
Looks good, thank you!

[2016-09-08 07:07] #8432 closed

[2016-09-08 08:29] wlunlimited opened #8440 "Buffer.from not support SharedArrayBuffer"
create a buffer from SharedArrayBuffer just like the buff.from sample in doc:

let sab =new SharedArrayBuffer(24);
const arr = new Uint16Array(sab);

arr[0] = 5000;
arr[1] = 4000;

// Shares memory with `arr`
const buf = Buffer.from(arr.buffer);

// Prints: <Buffer 88 13 a0 0f>
console.log(buf);

// Changing the original Uint16Array changes the Buffer also
arr[1] = 6000;

// Prints: <Buffer 88 13

[2016-09-08 09:00] zladuric opened #8441 "Error with let: "Identifier '*' has already been declared" on REPL"
The problem I'm seeing is that if during declaring a variable with `let` something throws - that identifier is "taken", but I can't use it.

Essentially like this (stripped unnecessary stack).
[code]
I'm seeing this for a long time, but never took an effort to look into it more.

Now I'm curious - is this expected behaviour? Why? If not, how can one go about and fix it?

It's on Node 5 and latest

[2016-09-08 09:03] addaleax commented on #8441
See e.g. https://github.com/nodejs/node/issues/8376, https://github.com/nodejs/node/issues/8309 and probably more… unfortunately, that appears to be spec-compliant behaviour.

[2016-09-08 09:07] gireeshpunathil commented on #8375
ok, putting things into perspective:

Three processes: a node parent spawns a non-node child (sh) which closes its streams (1 and 2) and then spawns a node child. The grandchild attempts to write to its stream, and then returns an error node.

In Linux, the grandchild node apparently succeeded in writing into stdout, while AIX failed with EBADF (fd closed | invalid)

[2016-09-08 09:09] gireeshpunathil commented on #8375
So the question is, who closed the grandchild node's stream in AIX.

resorting to truss (AIX) and strace (Linux), I see that the parent shell does not perform fork and exec, instead only exec - means the closed streams of sh is inherited to the node grandchild:

Linux:
[code]
AIX:
[code]

This is also visible if I add a timeout in the grandchild and examine the processes:

Linux:
[code]

AIX:
[cod

[2016-09-08 09:11] gireeshpunathil commented on #8375
I wrote a C grandchild and used the same test case to invoke it to see how it behaves:
[code]

Linux:
[code]
AIX:
[code]

Here Linux and AIX behaved in the same manner, and the reason is well understood - the grandchild's fd is closed at inception.

So, Linux node seem to have special method to handle closed standard streams: either re-incarnate them through /dev/null device, or suppress the error

[2016-09-08 09:18] Havvy opened #8442 "How do I implement `MyObject.inspect(depth, inspectOpts)`?"
I want to implement inspect for my own object. I want to mostly follow the semantics of `inspect` for non-custom implementations, but just by going by the documentation alone, I have no possible way of doing so. What conventions are there? How do I recursively call `inspect` while respecting depth? Do I need to handle the case of depth being null?

The [example](https://nodejs.org/api/util.html#ut

[2016-09-08 10:46] Morfent opened #8443 "Hotpatching modules leaks memory"
- **Version**: 6.5.0
- **Platform**: FreeBSD 11.0 BETA1 x64
- **Subsystem**: module, require

I have a function that uncaches a module and its children:

[code]

After running it, I require the module that it uncaches again. When I found my server running out of memory in a few days consistently, I found that after taking a coredump, all of the exported objects from the modules I hotpatched stayed

[2016-09-08 11:03] addaleax commented on #8440
I’ve labelled this `good first contribution` and would be happy to help anyone who wants to have a go at this!

[2016-09-08 13:10] kevinresol commented on #8353
I am not really good at low-level things like this.
But if we can't really reliably stop a socket from reading, are there any ways to retrieve what it has already read?

[2016-09-08 13:31] addaleax commented on #8269
Well, https://github.com/nodejs/node/blob/da0651ac1b4605851575ae3f179b00dde4ae41f5/src/node_buffer.cc#L32-L41 is what Node core does… it’s not the prettiest thing in the world but I think it kind of gives an idea of how to tackle this?

[2016-09-08 13:45] joaocgreis commented on #8402
@sahil-lakhwani thanks for reporting! Can you verify if this is a duplicate of https://github.com/nodejs/node/issues/3431 by deleting the temp folder as https://github.com/nodejs/node/issues/3431#issuecomment-149255984 suggests?

[2016-09-08 13:49] amatas opened #8444 "path.relative method returns wrong path when UNC path is provided"
It seems that versions prior v6 are not affected.

* **Version**: v6
* **Platform**: windows
* **Subsystem**: path

Tests:

* Windows 10 with node 4.5.0:
[code]
  **returns**: `\\VBOXSRV\vagrant\`

* Windows 10 with node 6.5.0:
[code]
  **returns**: `VBOXSRV\vagrant\`(the leading backslashes are missing)
  **expected**: `\\VBOXSRV\vagrant\`

Related issue: https://github.com/nodejs/nan/pull/601

[2016-09-08 14:17] Trott commented on #8375
@gireeshpunathil `node.cc` has [code in it designed to detect if any of the `stdio` streams are closed and (if so) open them on `/dev/null`](https://github.com/nodejs/node/blob/da0651ac1b4605851575ae3f179b00dde4ae41f5/src/node.cc#L4110-L4123).

This test is designed specifically to test that code. And it seems that either that code is not running on AIX (maybe the `fstat()` call works differently)

[2016-09-08 14:23] cbaron commented on #8361
@thefourtheye, @bnoordhuis -- what say you?

Do you want more proof that something is potentially wrong ?

[2016-09-08 14:26] gireeshpunathil commented on #8375
Thanks @Trott ! I was looking for such a location. I will now figure out what is happening out there in AIX.

[2016-09-08 14:27] veshboo commented on #8375
@gireeshpunathil What is the result without `spawn` on aix?

[code]

@Trott (This is just guess) The code with fstat() is surrounded by `#ifdef __POSIX__`. Not defined in the aix build?

[2016-09-08 14:30] addaleax commented on #8375
`__POSIX__` should be defined for all non-Windows platforms, according to `node.gyp`.

[2016-09-08 14:33] gireeshpunathil commented on #8375
I tested that at first, but it succeeded all the time:
bash-4.3$ ./node -e "process.stdout.write('aaa')" 1>&-
bash-4.3$ echo $?
0
bash-4.3$

__POSIX__ is indeed defined in AIX, and I am live debugging into it at the moment. Will get to the bottom shortly, hopefully!

[2016-09-08 14:35] sant123 commented on #8435
But is like... weird @not-an-aardvark, because you expect the time you get from the instance equal to your datetime OS. Is there a way to change how Node formats the instance of the ```new Date()```?

[2016-09-08 14:37] #8431 closed

[2016-09-08 14:38] evanlucas commented on #8435
@sant123 do you have the `TZ` environment variable set within the node process?

[2016-09-08 14:42] evanlucas commented on #8435
@sant123 I believe this is only happening when you `console.log()` or `util.format()` the date, since util.format() calls Date#toISOString().

[code]

[2016-09-08 15:26] gireeshpunathil commented on #8375
I guess I found the infliction point:

[code]
Linux:
[code]

AIX:
[code]

Need to map it back into the problem context, and figure out how this led to the issue. Also need to  dig into fstat manuals to understand the disparity.

[2016-09-08 15:41] veshboo commented on #8375
seems fstat() is there to check stdio fds open.
on aix it return 0, so the code will not open stdio on /dev/null. Then we write at still closed fd. results in EBADF.

[2016-09-08 15:45] Fishrock123 commented on #8441
I guess we may be able to provide a better error message? Maybe?

[2016-09-08 15:46] Fishrock123 commented on #8439
@chaosforfun can you post some of your code and a processed profile? (output from `--prof-process`)

[2016-09-08 16:13] sant123 commented on #8435
@evanlucas look at this:

![image](https://cloud.githubusercontent.com/assets/7959437/18356915/68802e4a-75b4-11e6-9611-de0c536a6ade.png)

I also tried this:

![image](https://cloud.githubusercontent.com/assets/7959437/18357005/dbfe28fe-75b4-11e6-9428-209e623b2406.png)

I know if I convert from Date to String it gives me the right result... GTM -5. But in memory, if I need to manipulate the date re

[2016-09-08 16:18] not-an-aardvark commented on #8435
The UTC string is just a way of displaying the date. I think the date object itself has the correct timezone:

[code]

[2016-09-08 16:22] jasnell commented on #8435
@not-an-aardvark is correct. The `Date` object itself has the right value internally, but when the date is printed to the terminal by Node.js, the `util.format()` function that is used calls the `toUTCString()` method to serialize the date in UTC time. This is done to ensure that, by default, Dates are serialized consistently. I guess that one option we have would be to make that configurable -- a

[2016-09-08 16:25] jasnell commented on #8440
Good catch on this. I'd been meaning to give this a try but hadn't gotten around to it.
/cc @nodejs/buffer

[2016-09-08 16:28] vkurchatkin commented on #8440
Isn't it a bit early for this?

[2016-09-08 16:29] jasnell commented on #8436
Little of both, really. There may be ways of tweaking the current implementation to improve this particular issue without breaking things but doing so would largely just end up being a band aid. There are several issues with the current implementation that make it less than desirable.

[2016-09-08 16:29] sant123 commented on #8435
I see @not-an-aardvark, but I agree with @jasnell for adding an option to print the Date in local time. In this way, people will not get confuse with this. For example, Chrome and IE handle the print format in local time.

[2016-09-08 16:30] jasnell commented on #8440
Perhaps, but we've taken fixes for other early bits to make sure things work. For example, the SIMD stuff in `util`. I wouldn't say that it's a priority but it's worth looking into.

[2016-09-08 16:32] sant123 commented on #8435
@jasnell, @not-an-aardvark I got something.... Why the result is 12?

![image](https://cloud.githubusercontent.com/assets/7959437/18357766/ca5ee9d2-75b7-11e6-8fb5-a6271b7f3463.png)

Only happens when I add the 'TZ' variable.

[2016-09-08 16:36] gireeshpunathil commented on #8375
ok, sounds reasonable explanation, thanks @veshboo!

[2016-09-08 16:38] veshboo commented on #8375
I recommend to have #include <sys/stat.h> for sure.

[2016-09-08 16:53] addaleax commented on #8375
Sounds like that, but why?

[2016-09-08 16:54] eugeneo commented on #8426
I am planning to investigate it. Looks like it might be working in some cases, I will need to dig deeper.

[2016-09-08 16:56] bnoordhuis commented on #8439
Not a bug.  The profiler only profiles the main thread (the thread executing JS).  The asynchronous version of `crypto.pbkdf2()` runs in the thread pool and hence doesn't show up in the profiler.  You won't see `crypto.randomBytes()` or any of the `zlib` functions for the same reason.

[2016-09-08 16:56] #8439 closed

[2016-09-08 17:10] gireeshpunathil commented on #8375
will continue debugging tomorrow.

[2016-09-08 17:21] ofrobots commented on #8155
@jbe456, @wzup: Node 6.5.0 doesn't have this fix yet and neither do the 6.x nightlies. I expect next *release* of v6.x (probably 6.6.0, which isn't out yet) will pick up this fix. /cc @Fishrock123.

[2016-09-08 17:39] Hesulan opened #8446 "http.ServerResponse.writeHead() can be called multiple times for a single response"
- **Version**: 6.4
- **Platform**: Ubuntu 16.04 64-bit
- **Subsystem**: http

Despite the API documentation's statement that http.ServerResponse.writeHead() "must only be called once on a message", multiple calls to the method simply modify the response header without complaint.

To test this (verified in 6.4, 4.x, and 0.10): Create an instance of http.Server whose request listener writes the resp

[2016-09-08 17:54] Trott commented on #8375
Regarding this working on AIX even though the test here is failing:

[code]

What about this instead?:

[code]

[2016-09-08 18:16] Trott commented on #8375
I wade into C++ observations with trepidation as I feel like a complete imposter on this stuff, but HERE WE GO:

* Is it possible that behavior of `fstat()` on a closed stream is undefined, so AIX and Linux are both right to do what they do?

* If so, perhaps the more robust thing to do is try out `lseek()` or `fseek()` or `ftell()` or something like that and see if we can make it work across POSI

[2016-09-08 18:18] Trott commented on #8375
Also:

If the consensus turns out to be that this is a bug in AIX, then inserting code to skip the test on AIX (similar to the code already there that skips it for Windows) is a sufficient fix from my perspective.

[2016-09-08 18:32] addaleax commented on #8375
`man 3posix fstat` (aka http://pubs.opengroup.org/onlinepubs/009695399/functions/fstat.html, which I *think* is authoritative) says:

[code]

So, yes, that may be a bug in AIX then. I could also imagine that something in the background opens another FD before the `fstat()` call is executed? Like, the pthread operations or the `setvbuf()` calls in `node_main.cc`?

[2016-09-08 19:29] bnoordhuis commented on #8375
@gireeshpunathil What kind of file descriptor does `struct stat ignored` say it is?  It would be good to test that with both your C snippet and the code in node.cc.

[2016-09-08 19:44] trevnorris commented on #8440
The fix is simple. Add a `instanceof SharedArrayBuffer` check. But, without the flag there's no global. Are we supposed to do a `if (!global.SharedArrayBuffer) SharedArrayBuffer = null` or some such before it's exposed by default?

[2016-09-08 19:54] jasnell commented on #7991
@nodejs/collaborators : Another heads up... v7.x branch will be cut the morning of Monday September 12th and I will start producing weekly beta builds. Please get your semver-majors in before that. After the branch is cut the bar for landing semver-major's is going to be pretty high.

[2016-09-08 20:00] Havvy commented on #8442
cc @addaleax since you've been doing some work w.r.t. util.inspect recently.

[2016-09-08 20:07] addaleax commented on #8442
Hi @Havvy – I agree, the examples don’t really go into that aspect. I probably have time to look into that later, but it would be really cool if you could start out with basically showing a full example with the output you’d like to see (and leave out the things you’re unsure about)?

[2016-09-08 20:28] wzrdtales commented on #8353
@kevinresol Well, another possibility would be to create a new socket connection and pipe the data through to the new one. But that also means again that two processes are busy, the original one and the new one. It would be an overhead of 2 sockets per connection.

I will take a detailed look at what actually really happens while `process.send`, b/c something happens there which results in the eff

[2016-09-08 21:02] SoCalBeachrunner opened #8451 "Crash in mksnapshot while building 4.5.0 on debian wheezy"
* **Version**: node 4.5.0
* **Platform**: Debian 7.11
* **Subsystem**: Wheezy , building node with clang 3.4

node 4.5.0 source fails to complete compilation because clang++ has a Segmentation Fault during the build on Wheezy (building for this same architecture to use on the local machine) while processing the node source file "mark-compact.cc"

Note that the build was configured with the option

[2016-09-08 21:05] addaleax commented on #8451
Sounds like a duplicate of https://github.com/nodejs/node/issues/8323 to me. That was fixed by https://github.com/nodejs/node/pull/8343 which is marked `dont-land-on-v4.x`… @ofrobots ?

[2016-09-08 21:15] ofrobots commented on #7266
https://github.com/nodejs/node/pull/8429 could be as an example / starting point for the CLI debugger port.

[2016-09-08 21:34] #8266 closed

[2016-09-08 21:39] ofrobots commented on #8451
@SoCalBeachrunner Are you sure you have the correct source tarball? The source in v4.5.0 doesn't  match the ICE backtrace you posted.

[code]

It does match the source code for v6.5.0 however, which is *expected* to hit this ICE with clang-3.4-1.

[2016-09-08 21:44] jkrems commented on #7266
Awkward, didn't see this issue when I searched for it. I have a mostly working port here: https://github.com/buggerjs/node-inspect/issues/1

[2016-09-08 21:53] SoCalBeachrunner commented on #8451
Agreed. #8323 didn't turn up in my search. Have read both items and code changes now. Thanks for fast reply. I"ve updated code and restarted my build. It takes a while...

[2016-09-08 22:08] SoCalBeachrunner commented on #8451
You know your code best and must be correct. I made a couple download attempts plus re-started all this 3x in the middle of night, first with the tar file then curl piped into the directory, just trying to get node building on the box. I thought this time it was back to the 4.5.0 tar but apparently it's the 6.5.0 from using curl of "latest" at about 2 AM PST. The builds run for hours before failin

[2016-09-08 22:57] SoCalBeachrunner commented on #8451
Perhaps admin wants to correct this post title & version. I appreciate your great work  maintaining this project & will confirm build outcome when available. BTW this began because the version 4 binary download wouldn't run on this box. node returned  "Illegal instruction" hence decided to see if building locally might work. Really aiming just for v4 node to match the AWS environment, may update t

[2016-09-08 23:15] Fishrock123 commented on #8428
now running into this:

[code]

[2016-09-08 23:19] Fishrock123 commented on #8428
Looks like it is https://github.com/nodejs/node/pull/8301#issuecomment-245771961

[2016-09-08 23:20] olalonde commented on #2994
Also need this... Use case is to convert http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#upload-property to a sync call that returns a write stream (method must be sync because that's what the interface, which I have no control over, requires).

[code]

[code]

The above doesn't work cut it because the 'finish' event is fired on through before the s3.upload callback is called.

[2016-09-08 23:21] Trott opened #8455 "Investigate flaky parallel/test-crypto-binary-default on linux-fips"
* **Version**: v7.0.0-pre
* **Platform**: ubuntu1404-64
* **Subsystem**: test crypto

Example failure at https://ci.nodejs.org/job/node-test-commit-linux-fips/3569/nodes=ubuntu1404-64/console:

[code]

@mhdawson

[2016-09-08 23:30] Fishrock123 commented on #8428
Refs: https://github.com/nodejs/node/pull/8437

[2016-09-08 23:41] Fishrock123 commented on #8428
Moving to https://github.com/nodejs/node/pull/8457

[2016-09-08 23:41] #8428 closed

[2016-09-09 01:34] DiThi commented on #7752
Hello, I'm having this exact problem, compiling Node for Android x86, no third-party components involved, just vanilla Node 6.5.0, ndk r12b, on a freshly installed Ubuntu 16.04.1 ia64 host.

I got it to compile on arm by:
- Adding `__ANDROID__` define. For some reason NDK is not adding it.
- Copying compiled host binaries (icupkg, genrb, etc) when they fail to run (I tried in many ways to have the

[2016-09-09 02:17] huseyinkozan commented on #7173
I tried to compile by removing the ` --without-intl` option,
[code]

set *_host flags as noted above
[code]

 and got this error :
[code]

Any idea ?

[2016-09-09 06:15] Trott commented on #8375
@bnoordhuis I did some trickery on CI and I'm seeing AIX report a regular file (`S_ISREG(ignored.st_mode)` is true) when the `fstat()` unexpectedly succeeds on a file descriptor for a closed stderr.

[2016-09-09 06:30] Trott opened #8459 "Investigate flaky sequential/test-timers-same-timeout-wrong-list-deleted"
Sample failure: https://ci.nodejs.org/job/node-test-binary-windows/3706/RUN_SUBSET=3,VS_VERSION=vcbt2015,label=win10/console

[code]

[2016-09-09 06:31] Trott commented on #8459
Might help https://github.com/nodejs/node/pull/8422 if this gets fixed.

@nodejs/testing @Fishrock123 @nodejs/platform-windows

[2016-09-09 06:51] bnoordhuis commented on #7173
@huseyinkozan Either install those libraries or omit `--shared-openssl`, `--shared-zlib`, etc. if you don't have them?

[2016-09-09 06:58] bnoordhuis commented on #7752
Read the comments, this issue wasn't just about android, it was about a completely unrelated software project.  I didn't add the 'invalid' label out of spite.

You can file a new issue if you want but a pull request with fixes would be better.  Android issues with no clear way forward are just as likely to get closed again - that's what 'unsupported' means.

[2016-09-09 07:12] DiThi commented on #7752
I'm getting *exactly* the same error messages as OP (but with `/home/alberto/node-v6.5.0/` instead of that path that is not node), so I'm sure that unrelated software project has nothing to do with this problem.

If no one else chimes in I'll open another issue, listing the exact steps, since it's really easy to reproduce without installing the SDK or anything.

[2016-09-09 07:23] bnoordhuis commented on #8455
No surprise.  The test normally generates 256 bits DH primes but in FIPS mode it switches to  1024 bits, which is hugely slow and variable:
[code]
The percentages are the standard deviation from the mean over 10 runs.  For 256 bits primes it's much lower, as is the total running time:
[code]
Which is to be expected because 'generating primes' is really just searching for primes in an n-bit range,

[2016-09-09 08:05] bnoordhuis commented on #8443
As long as there are references to the module anywhere, its memory won't (can't) be reclaimed.  Through heapdumps you can probably figure out where those references are.

I'll be happy to take a look if you have a minimal test case that shows node.js leaking memory even when there are no references (keeping GC vagaries in mind) but otherwise I suggest we close this issue.

[2016-09-09 08:11] bnoordhuis opened #8460 "Make setTimeout and setImmediate timers run consecutively"
Continuing from https://github.com/libuv/libuv/issues/1035#issuecomment-245483289:

Node.js uses a uv_idle_t handle to implement `setImmediate()` timers but I think it could - and should - hang them off the big `setTimeout()` timer.

Right now you have this weird situation where:

a) setTimeout timers run,
b) some other callbacks run (mostly close callbacks), then
c) setImmediate timers run.

[2016-09-09 08:18] gireeshpunathil commented on #8375
I have machine access issues right now, hoping to resume my work soon.

[2016-09-09 08:23] Morfent commented on #8443
That makes sense. I'll come back with the test case without any references to the module when I have the chance. I'm fine with the issue being closed for now

[2016-09-09 09:05] huseyinkozan commented on #7173
@bnoordhuis I did:
[code]

[2016-09-09 09:07] huseyinkozan commented on #7173
Hmm, sorry. Miss understand.
They are built, but I thing they built against target, not host (or vice versa).

[2016-09-09 09:51] Havvy commented on #8442
Here's an initial attempt. Feel free to warp completely. I'm not all that good at documentation. I'm assuming that the inspect will never be called such that you need to handle not returning anything.

---

When implementing `inspect` on your object, to properly respect the recursion limit, you must use the depth value properly. When you want to include the inspected value of another object, call

[2016-09-09 09:58] hktalent opened #8461 "how use shell( wget...) auto install nodeJs"
how use shell( wget...) auto install nodeJs
sys os:
Red Hat Enterprise Linux Server release 6.3 (Santiago)
or
Microsoft Windows [版本 6.1.7600]
or
uname -a
Linux khhcwbv01 2.6.18-194.el5 #1 SMP Tue Mar 16 21:52:39 EDT 2010 x86_64 x86_64 x86_64 GNU/Linux

or
uname -a
Darwin QQ1160.local 15.6.0 Darwin Kernel Version 15.6.0: Thu Jun 23 18:25:34 PDT 2016; root:xnu-3248.60.10~1/RELEASE_X86_64 x86_64

[2016-09-09 12:30] roblourens opened #8464 "Debug already running process using v8-inspector?"
Currently you can send `SIGUSR1` to a Node process to put it into debug mode as if it had been launched with `--debug`. [Docs here](https://nodejs.org/api/debugger.html#debugger_advanced_usage). Is there any way to do the same using the new v8-inspector protocol?

[2016-09-09 13:36] lholmquist opened #8465 "OSX: setting a custom DYLD_ env console logs undefined when run with child_process.spawn"
* **Version**: 6.5.0
* **Platform**: OS X 10.11.6
* **Subsystem**:child_process

There was an NPM issue, https://github.com/npm/npm/issues/13243 , were a user was getting undefined when running code with an npm script that outputted a custom DYLD_* env variable. But when normally with something like `node index.js` the env variable would output fine.

Example:

    $ export DYLD_TEST=hi

    // in

[2016-09-09 14:05] Fishrock123 commented on #8459
This sounds like an ages old problem where timers on windows fired early, but I thought that got fixed?

cc @misterdjules & @saghul

[2016-09-09 15:02] srl295 commented on #7173
ICU needs to link and run code on both host and target. Can you make sure the libraries are available on both?

[2016-09-09 15:11] bnoordhuis commented on #8465
Works for me locally on 10.8.5.  It's possible Apple changed something in newer OS X releases.

Does it print 'unknown environment variable' warnings for you?  If not, dyld is probably filtering it out.

[2016-09-09 15:24] lholmquist commented on #8465
@bnoordhuis yes, looks like it is  `dyld: warning, unknown environment variable: DYLD_TEST`

[2016-09-09 15:59] steviepubliclab commented on #731
Hi there,
Interested in this thread again, especially since we've been relying on ICR +Hangout on Air for our Public Lab [OpenHours](www.publiclab.org/openhour), and now they're getting rid of Hangout on Air.

Still looking for suggestions. Things we really valued about hangout on air were that:
- we could invite people directly into the hangout and post a link to join on out website,
- we could s

[2016-09-09 16:22] Trott commented on #8455
@nodejs/build Is it possible to run a node-stress-single-test task on CI that forces FIPS mode? If so, how can I do that?

[2016-09-09 16:34] Trott commented on #8455
Stress test on non-FIPS as a baseline: https://ci.nodejs.org/job/node-stress-single-test/903/nodes=ubuntu1404-64/console

[2016-09-09 16:56] gibfahn commented on #8271
In passing test runs on both AIX and Linux, usually the vast majority of the messages go to the parent, so the test continues until the first message is sent to the child.

Every time the test fails on the community machines, all the messages (1 per ms for 60s, or 60,000 messages) go to the child, which almost certainly means that the parent isn't able to receive messages.

I have been unable to g

[2016-09-09 17:01] danielmapar opened #8467 "Crypto outputs different hashes for node v0.10.42 compared to newer versions"
Version: v0.10.42
Platform: **15.5.0 Darwin Kernel Version 15.5.0: Tue Apr 19 18:36:36 PDT 2016; root:xnu-3248.50.21~8/RELEASE_X86_64 x86_64** and **Linux web.local 2.6.32-504.8.1.el6.x86_64 #1 SMP Wed Jan 28 21:11:36 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux**
Subsystem: crypto

My team is currently moving our nodejs app to a new infrastructure. Currently we use node v0.10.42 in production, but we

[2016-09-09 17:17] ChALkeR commented on #8467
Node.js 0.10 returns `sha1` hash in the above testcase.

It does that for `sha1`, `sha256`, and `sha512` — all those are the same under 0.10.46 and are equal to `sha1` in 0.12 and later.

[2016-09-09 17:18] vkurchatkin commented on #8467
Closing, 0.10 didn't support customizing hash function: https://github.com/nodejs/node/blob/v0.10/doc/api/crypto.markdown#cryptopbkdf2syncpassword-salt-iterations-keylen

[2016-09-09 17:18] #8467 closed

[2016-09-09 17:42] SoCalBeachrunner commented on #8451
Just confirming details and that the outcome after a clean start concluded with "Illegal instruction" late in the build after applying "deps: workaround clang-3.4 ICE". If this is as expected I'll close this issue.

Source obtained (2016-09-07-19:33 PDT):
curl http://nodejs.org/dist/node-latest.tar.gz | tar xz --strip-components=1

Edited per:
https://github.com/nodejs/node/commit/870faeef95e4cbc3

[2016-09-09 17:56] ofrobots commented on #8451
@SoCalBeachrunner what is the exact CPU you are trying to build this on? e.g. can you provide the output of `grep "model name" /proc/cpuinfo`. I suspect you are using an older x86-32 processor and the compiler is generating an instructions that your CPU doesn't support.

Do you still see the crash when you configure with `--without-snapshot`?

[2016-09-09 18:01] ofrobots commented on #8451
I just noticed this higher up:

Based on that, I don't think `--without-snapshot` would help. The compiler is probably defaulting to an instruction set that your CPU doesn't support. Depending on what precise CPU you have there may be a `-march` option that avoids this problem. (Assuming that the JIT compiler in V8 has a mode that also supports your CPU).

[2016-09-09 18:38] eugeneo commented on #7246
Was fixed with https://github.com/nodejs/node/pull/8243

[2016-09-09 18:40] eugeneo commented on #7623
Item #2 (console) was implemented

[2016-09-09 18:43] cjihrig commented on #7246
OK. I'll close this then. @eugeneo if you're able to close these in the future, feel free.

[2016-09-09 18:43] #7246 closed

[2016-09-09 18:45] eugeneo commented on #8438
Looking into it, seems to be an issue on the Chrome side.

[2016-09-09 18:50] eugeneo commented on #7944
I no longer see that file mentioned from the gyp file.

[2016-09-09 19:02] eugeneo commented on #8438
Looks like this only happens if you run the node instance with --debug-brk flag and immediately start profiling.

[2016-09-09 19:03] SoCalBeachrunner commented on #8451
model name	: Pentium II (Klamath), an old CPU, probably the root cause.
Up to now everything in each distro has built and run without problems. I'm happy to pursue this to conclusion if you have a suggestion or pointer for best  arch option(s) to test, will give it a try if it benefits the nodejs or v8 projects in terms of limited CPUs. If you don't want to spend time on what might be an edge case

[2016-09-09 19:34] addaleax commented on #8442
Hmm. How close would this example get to what you want to show?

[code]

Output:
[code]

I agree, there are some parts, like checking `maxArrayLength` and friends, that are not that easy to implement, but your suggestions sounds pretty solid to me.

[2016-09-09 20:10] huseyinkozan commented on #7173
Yes, I have both at host and target.

I tried two different ways; --with-intl=sysyem-icu, and exporting *_host variables with default icu options. One of them fails at genccode, other fails at execinfo.h. Dont remember which one is.

[2016-09-09 20:17] cjihrig commented on #7944
Confirmed that file appears to be gone. Going to close this. Please reopen if need be.

[2016-09-09 20:17] #7944 closed

[2016-09-09 21:48] #8393 closed

[2016-09-10 00:33] chajath opened #8474 "TypeError when constructing subclass of Promise"
* **Version**: 6.5.0
* **Platform**: Linux
* **Subsystem**: Promise

I'm writing a library that extends Promise class. In version 6.5.0, I've started to see the errors being thrown when trying to construct the subclass:

[code]

[Here](https://github.com/google/chained-promise/blob/master/src/ChainedPromise.js) is the source code for `ChainedPromise`

[2016-09-10 01:00] tvrprasad opened #8477 "socket.connect() succeeding for reserved IPv6 address (2001:20:0:0:0:0:0:0)"
* **Version**: 10.0.10586
* **Platform**: 64-bit Windows
* **Subsystem**: net

According to IPv6 addresses wiki page 2001:20:0:0:0:0:0:0 is in reserved range and when I do a ping, sure enough it times out.

But socket.connect on that address is succeeding. The address on the connect event shows it's one of the IPv6 IP addresses returned by nslookup on my machine. Below is the code snippet to repro

[2016-09-10 01:31] Havvy commented on #8442
It's close.

It doesn't seem to be respecting depth properly.

[code]

Experimenting with util.inspect, it shows the short form (e.g. `"[Object]"`) if the depth is less than zero.

This line `depth: options.depth - depth` actually sets the depth to 0, and of course, you're not checking `depth` to see if you should not recurse downwards or not. As such, `let box = new Box(5); for (var ix = 0; ix <

[2016-09-10 02:47] mscdex commented on #8477
FWIW I get `ENETUNREACH` on Linux a little while after calling `socket.connect()`.

[2016-09-10 04:38] durrellchamorro commented on #3469
I had the same issue. I ran:
[code]
to get the process id, then:
[code]
followed by the process id to kill the process.

[2016-09-10 06:28] ojss commented on #8465
This doesn't seem to be happening on v6.2.2 or any of the older versions.
Just out of curiosity is your SIP off?

[2016-09-10 06:53] gireeshpunathil commented on #8375
The one liner suggested by @Trott breaks in AIX, and is sufficient to differentiate from Linux.

[code]

[2016-09-10 06:57] gireeshpunathil commented on #8375
Two scenarios I tested (one with the C program and one with the original node grandchild). Though the final manifestation is same (fstat returns 0), there are differences:

[code]
The internal fields of stat showed:

[code]
If I modify the above code thus, to make it a self contained code without help of /bin/sh:

[code]
I get exactly the same output, which means we know what the shell does when w

[2016-09-10 07:40] WoodyWoodsta commented on #7891
I'm still having the original issue on the following:

- *Version:* 6.5.0
- *Chrome:* 54.0.2840.16 beta (64-bit)
- *Platform:* Ubuntu 16.04

[2016-09-10 07:46] bnoordhuis commented on #8477
Not a node.js issue though.  Node.js merely passes on the address to the operating system, which then initiates the connection.  It's probably a local network issue.

[2016-09-10 07:51] bnoordhuis commented on #8474
You're using import/export syntax so you must have a transpile step like babel.  Can you post an example using just built-in syntax with no third-party dependencies?

[2016-09-10 08:01] bnoordhuis commented on #8451
The machine code that V8 emits has a hard dependency on SSE so that rules out the Pentium II.  There is a x87 backend but node.js doesn't support it and it's untested.  You could hack configure and see if it works for you, grep for `valid_arch`.

[2016-09-10 08:03] WoodyWoodsta commented on #7891
I'm getting the following errors when inspecting the inspector:

![image](https://cloud.githubusercontent.com/assets/8268040/18408945/a953a3fe-773d-11e6-9d54-63d093bc15d2.png)

[2016-09-10 09:43] huseyinkozan commented on #7173
Found execinfo.h issue : https://github.com/nodejs/node/issues/8233. Trying ...

[2016-09-10 10:37] #8368 closed

[2016-09-10 12:40] thefourtheye commented on #8477
On Mac OS x, I am getting `ENETUNREACH`.

[2016-09-10 12:50] lholmquist commented on #8465
@ojss what is a SIP

i've also just tried this with 6.2.2 using nvm and still get the same

[2016-09-10 14:49] princejwesley opened #8481 "v8: Parse issue with code snippet: "{ a: 1 } { a: 1 }""
* **Version**: master, v6.5.0
* **Platform**: Darwin Princes-MacBook-Pro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Aug 29 20:21:34 PDT 2016; root:xnu-3248.60.11~1/RELEASE_X86_64 x86_64
* **Subsystem**: `v8` (version tested: `5.1.281.81` & `5.1.281.82`) (`vm` & `repl` modules are affected)

While working on https://github.com/nodejs/node/issues/8195, I come across this v8 issue.

[code]
######

[2016-09-10 14:59] addaleax commented on #8481
I think this is expected behaviour… V8 interprets the `{}` as code blocks and the `a:` as labels ([MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/label)), i.e. as:
[code]

That’s valid, even if not very meaningful, JS code. You can’t put arbitrary code blocks as function parameters, so V8 is right to complain about the `console.log` example.

[2016-09-10 15:05] princejwesley commented on #8481
@addaleax so the last chrome browser(`v52.0.2743.116`) is buggy and the canary has correct behaviour.  right? Feel free to close it if you are sure about it 👍

![image](https://cloud.githubusercontent.com/assets/1622515/18411471/9f4f77ae-7795-11e6-9d78-623bb06b6042.png)

[2016-09-10 15:19] chajath commented on #8474
Actually, when I test with vanilla node 6.5.0 code, it works as expected (as with previous versions)

[code]

Even with babel polyfill imported, it works fine. The problem is when I transpile with babel

[code]

Curiously this is only happening with 6.5.0 and not previous versions of node. I will also open an issue with babel and see what they think.

[2016-09-10 15:21] srl295 commented on #7173
Ok so the execinfo issue is not icu related right?

[2016-09-10 15:25] addaleax commented on #8481
I think so, yeah. Firefox also returns `1` for that statement, that seems like a good indicator to me. :)

[2016-09-10 15:25] #8481 closed

[2016-09-10 17:39] Trott opened #8483 "Investigate flaky parallel/test-force-repl on Windows"
version 7.0.0-pre (current master)

https://ci.nodejs.org/job/node-test-binary-windows/3724/RUN_SUBSET=3,VS_VERSION=vcbt2015,label=win10/console:

[code]

Looks like the 1 second timeout is probably too short. Doesn't seem to be any reason not to move it up to 5 seconds or something, so that's what I'll do.

In the meantime, stress test: https://ci.nodejs.org/job/node-stress-single-test/906/nodes=

[2016-09-10 18:44] Fishrock123 commented on #8460
What are these? Just Immediates or timers scheduled in Immediates?

Immediates should fire after I/O before Timeouts, right?

[2016-09-10 19:03] huseyinkozan commented on #7173
Yes. I give up with icu. I built with `--without-intl` option. My trials are here :
https://github.com/huseyinkozan/openwrt-tessel/tree/node-6.5.0

[2016-09-10 19:26] chajath commented on #8474
It was a known issue from babel when trying to extend built-in classes, with a plugin provided as a workaround. I guess the change was that from Node 6.5.0 Promise starts to behaves a lot more like a built-in class.

[2016-09-10 19:26] #8474 closed

[2016-09-11 01:08] imyller commented on #8461
Maybe you can first install:

* [nvm](https://github.com/creationix/nvm) for Linux and Mac
* [nvm-windows](https://github.com/coreybutler/nvm-windows) for Windows

And then install Node.js:

[code]

[2016-09-11 02:58] ojss commented on #8465
@lholmquist SIP stands for System Integrity Protection. Adds extra security to the system. But the point is that I faced a similar issue when trying to link against some cuda libs for tensorflow.

Type `csrutil status` into your terminal. That should tell you if SIP is enabled or disabled.

[2016-09-11 03:01] ojss commented on #8440
I would like to help with this issue.

[2016-09-11 03:57] hktalent commented on #8461
no one shell script to all system(win、linux、mac....)?

[2016-09-11 03:57] #8461 closed

[2016-09-11 08:55] bnoordhuis commented on #8477
I'll close the issue.  We can reopen if necessary but for now I see no reason to assume it's a bug in node.js.

[2016-09-11 08:55] #8477 closed

[2016-09-11 10:26] addaleax commented on #8440
@ojss Awesome! I would maybe wait for #8453 to be merged, or start from there, so that the changes there don’t conflict with yours. That PR should also give a few hints as to where changes are necessary. :)

A couple of hints: You’ll probably need to add one or two lines to `src/node_util.cc` for `SharedArrayBuffer` detection – if you’ve never done anything with C++ before, don’t worry, the change

[2016-09-11 10:49] jyothiradityak opened #8490 "Unable to install any npm package on Windows 7 connected to Internet via wifi"
* **Version**:
* **Platform**:
* **Subsystem**:

I am unable to install any npm package like browser-sync, gulp, grunt on my Windows 7 . I am trying to install with Admin user. I connect to net using Wifi(Netgear) where my broadband is a dial-up connection (ADSL). I have not setup any proxy config.please find the log below.

![npm log](https://cloud.githubusercontent.com/assets/19225332/18416786/8

[2016-09-11 11:01] jyothiradityak commented on #8490
Hi

Hi,

    Please find the output of npm config ls -l below.
    ; cli configs
    long = true
    user-agent = "npm/2.15.9 node/v4.5.0 win32 x64"

    ; userconfig C:\Users\Home\.npmrc
    https-proxy = "http://127.0.0.1:8080/"
    proxy = "http://127.0.0.1:8080/"
    registry = "http://registry.npmjs.org/"
    strict-ssl = false

    ; builtin config undefined
    prefix = "C:\\Users\\Home\\Ap

[2016-09-11 11:02] bnoordhuis commented on #8490
Can you report issues with npm over at https://github.com/npm/npm/issues?  For general support, try https://github.com/nodejs/help/issues.

FWIW, the error message suggests you did configure a (non-existing) proxy, either in your .npmrc or perhaps through an environment variable.

[2016-09-11 11:02] #8490 closed

[2016-09-11 12:22] kroeckx commented on #4270
I created pull request #8491 for this.

[2016-09-11 14:36] ojss commented on #8440
@addaleax Thank you! I will most certainly requiring help as I still don't completely understand the internals of node.
I saw the PR, it did give me an idea of what I should be doing. But I still don't understand what I must do in `node_util.cc`. Just add a check to see of the flag is enabled and accordingly set a global?

[2016-09-11 14:40] addaleax commented on #8440
@ojss There’s [this](https://github.com/nodejs/node/blob/83a354c33b29686ba6df9cd017ab6b4baaff4272/src/node_util.cc#L21-L31) list of things that provide the JS side with helpers such as `isArrayBuffer()`, so that it’s easier to check whether something is an `ArrayBuffer` or not (see [here](https://github.com/nodejs/node/blob/83a354c33b29686ba6df9cd017ab6b4baaff4272/lib/buffer.js#L237) for one examp

[2016-09-11 15:39] voxsoftware opened #8492 "TypeError: 'caller' and 'arguments' are restricted function properties and cannot be accessed in this context nodejs"
I have one method:

[code]

The file has no "use strict", and in many moments crash with this error:
 TypeError: 'caller' and 'arguments' are restricted function properties and cannot be accessed in this context.

Node version: 6.5.x
Operatyng Systems: Windows 10 x64, Ubuntu 16.04 x64

[2016-09-11 16:29] bnoordhuis commented on #8492
Can you post a standalone test case?

[2016-09-11 16:39] addaleax opened #8493 "help() or similar for the REPL"
Hi, carrying this over from https://github.com/nodejs/node-v0.x-archive/issues/3916 (at least if I’m understanding it right…?).

It would be pretty cool to have something like Python’s `help()` for the REPL, where things like `help(list)` just show you the documentation for the `list` object/type/whatever.

We could probably include a gzipped copy of Node’s own API docs in some format in the execu

[2016-09-11 17:04] ojss commented on #8440
@addaleax Yes I had assumed as much. But what I don't get is where are those functions defined?
The macro assigns a name to a function that is exposed on the JS side right?Am I misunderstanding something?
Is there some documentation that I can refer to?
:)

[2016-09-11 17:07] addaleax commented on #8440
Yeah, that’s what it does. Using macros for that is a bit of magic, but it keeps the code short and makes it easy to change the list.

If you’re asking where these functions pop up – that’s the line at the top of `buffer.js` which is (currently) `const { isArrayBuffer } = process.binding('util');`, where you may need to add `isSharedArrayBuffer`, too.

Not sure what you mean – there aren’t any doc

[2016-09-11 17:13] Trott commented on #8375
Perl and Ruby seem to handle closed stdio handles similarly to the way Node.js does. (Python does not.) It would be interesting to know if Perl and Ruby handle it successfully on AIX or not.

Assuming you have Perl and Ruby installed, do these return errors or do these succeed?:

[code]

If either of them succeed on AIX, it may be worth looking at their source code to see what they're doing differ

[2016-09-11 17:14] Trott commented on #8375
For completeness, Python:

[code]

[2016-09-11 17:16] ojss commented on #8440
Well looks like I got a few things correct.

I am sorry but I still don't understand where the definition of the function is? Is it generated on the fly?

[2016-09-11 17:19] addaleax commented on #8375
For the record, bash on Linux doesn’t seem to do this:
[code]

[2016-09-11 17:31] mscdex commented on #8492
Accessing the `caller` and similar properties works just fine for me in non-strict mode. Are you using a transpiler that might be automatically including `'use strict';` somewhere in the transpiled output?

[2016-09-11 17:35] addaleax commented on #8440
Okay, so here is how that whole thing works (I hope I’m not overexplaining but in any case there’s a good chance other people are reading this who would love to know more about the C++ side of node themselves):

[code]

That `#define VALUE_METHOD_MAP(V)` defines a macro which takes another macro as its parameter `V` so that that other macro gets replaced whenever `V` is encountered. For example, i

[2016-09-11 17:59] benjamingr commented on #8493
I'm not sure this is _useful_. I typically used `help` in Python when I was using machines without internet which is hardly a use case I cater much in Node. Do others share the same experience?

That said, _technically_ I'd imagine something like:

 - Declare a global a `Symbol.documetnation`.
 - `help(something)` in the REPL does `something[Symbol.documentation]()`.
 - That function can open the

[2016-09-11 19:19] Fishrock123 commented on #8493
Do we need to have it in the code? Could `? <query>` just search the docs (assuming we bundle the markdown)?

Serving the markdown (unformatted) to a terminal shouldn't be too bad.

[2016-09-11 19:41] voxsoftware commented on #8492
No, is a .js file, EcmaScript 5, without "use strict", In the issue I specify that the file don't have "use strict"

[2016-09-11 19:41] voxsoftware commented on #8492
Also, the arguments is a property, no a variable, I don't know why this problem?

[2016-09-11 19:57] addaleax commented on #8493
No, we don’t have to. Or rather, I guess it depends on whether we want to do some kind of preprocessing?

[2016-09-11 20:30] ChALkeR commented on #8492
@voxsoftware You are most likely passing an arrow function as `exp`.

You can't use `caller` or `arguments` properties on those:

[code]

[2016-09-11 20:36] ChALkeR commented on #8492
Related:
* http://www.ecma-international.org/ecma-262/7.0/#sec-addrestrictedfunctionproperties.
* http://www.ecma-international.org/ecma-262/7.0/#sec-forbidden-extensions

This is most probably not a bug but at inteded behaviour, if I read the spec correctly.

Strangely, in Firefox those properties just return `null`.

[2016-09-11 22:08] SoCalBeachrunner commented on #8451
Hacked to support:  ./configure --without-intl --dest-cpu=x87 --prefix=~/local
make install succeeds but node still returns "Illegal instruction"
Thanks, all, for your fast and informed responses. We can put this to rest now.

[2016-09-11 22:08] #8451 closed

[2016-09-11 22:09] laosb commented on #8493
Read documentation outside of the executable is better, I believe.

[2016-09-12 02:00] wlunlimited commented on #8440
the most simple patch is like below(for node 6.5.0),but it is necessary to run node with --harmony-sharedarraybuffer :
diff --git a/lib/buffer.js b/lib/buffer.js
index 8489ca0..849e223 100644
--- a/lib/buffer.js
+++ b/lib/buffer.js
@@ -251,6 +251,10 @@ function fromObject(obj) {
       return fromArrayLike(obj);
     }

+    if (obj instanceof SharedArrayBuffer) {
+      return new FastBuffer(obj)

[2016-09-12 03:08] wlunlimited commented on #8440
so,we maybe could do like this:
diff --git a/lib/buffer.js b/lib/buffer.js
index 8489ca0..138047f 100644
--- a/lib/buffer.js
+++ b/lib/buffer.js
@@ -251,6 +251,11 @@ function fromObject(obj) {
       return fromArrayLike(obj);
     }

+    if (SharedArrayBuffer != undefined && SharedArrayBuffer != null) {
+      if (obj instanceof SharedArrayBuffer) {
+        return new FastBuffer(obj);
+      }

[2016-09-12 03:32] pps83 commented on #6901
Well... it's a node issue, any child/forked node instance will fail with `Error: listen EADDRINUSE` if you launch it from debugger. Sample code below:
[code]
if you run it as `node test.js` then everything is OK, if you run it as `node debug test.js` then it will fail with `Error: listen EADDRINUSE :::5858`.
IMO, forked nodes should be aware of debugging connection an optionally attach to running

[2016-09-12 04:18] pps83 opened #8495 "debugging and fork (Error: listen EADDRINUSE :::5858)"
There's lots of random pieces all over the interwebs about that error. Why isn't it properly solved?
IMO if process is being debugged and tries to fork a child then there is no way for it to work if the child also tries to listen on the same debug port. So, why not add special code inside spawn/fork to make sure that debug port isn't inherited?! Seriously, how is that even possible that plain Hell

[2016-09-12 05:11] gireeshpunathil commented on #8375
re: [perl and ruby](https://github.com/nodejs/node/issues/8375#issuecomment-246191506) behavior: I get the same behavior in AIX for perl. I don't have ruby in this box, need to get one.

[2016-09-12 05:12] gireeshpunathil commented on #8375
re: [python](https://github.com/nodejs/node/issues/8375#issuecomment-246191590) behavior: Same is the case in AIX.

[2016-09-12 05:26] gireeshpunathil commented on #8375
re: [bash](https://github.com/nodejs/node/issues/8375#issuecomment-246191850) behavior:

[code]

Though I am not sure whether this is related to the issue at hand - whether bash or sh, we are directly invoking the child with the streams closed, so to me, it is not depending on the shell behavior at all. Am I missing something?

[2016-09-12 05:31] mscdex commented on #8495
It *should* [already be doing this](https://github.com/nodejs/node/blob/75c6d9dd95bbdb926d84cb3a9f518eff88651709/lib/cluster.js#L296-L319).

What node version are you using and what does your command line look like?

[2016-09-12 05:40] gireeshpunathil commented on #8375
According to me, there are two issues out there which needs to be understood:

1. A shell parent spawning a samll C child with closed stdio, introspection of it from the child shows the device type as 655364, while in a Node child, the same is shown as device type 5. I instrumented the node code at the very first line of main, and saw this. So while other circumstances are the same, the shell pare

[2016-09-12 06:05] Trott commented on #8375
Hmmm...so, at least as a last resort, if Perl is successfully avoiding `EBADF` on Perl in this situation, perhaps we can try to look to see what they're doing and consider doing something similar? I imagine the relevant bits are probably in https://github.com/Perl/perl5/blob/49fc490652d8b428d67872fae3acb10f0b43cff7/perlio.c somewhere...

[2016-09-12 06:24] lpinca commented on #6578
Should we also add this information for

- `addons.md`
- `debugger.md`
- `domain.md`
- `globals.md`

or can this issue be closed?

[2016-09-12 06:41] ojss commented on #8440
@wlunlimited thats probably the way to go :)
@addaleax wow that is very interesting. If you don't mind I have one more question.
What is the significance of this: [https://github.com/nodejs/node/blob/master/deps/v8/src/js/macros.py](url)
Is it somehow related to the expansions?

please check if this the right way to go about it: https://github.com/ojss/node/commit/836186ad8ad8f9d12062163aa88eb2561

[2016-09-12 06:45] sahil-lakhwani commented on #8402
Yes, I tried installing after deleting the temp folder, but didn't succeed.

[2016-09-12 06:58] bnoordhuis commented on #8492
So far I see no reason to assume a bug in node.js or V8.  I'm closing this until the OP posts that standalone test case I asked for.  I suspect @ChALkeR hit the nail on the head, though.

[2016-09-12 06:58] #8492 closed

[2016-09-12 07:30] bnoordhuis commented on #8460
Immediates.

That's right, the actual callbacks are made from a check handle.

I realize what tripped me up: we call `uv_run(UV_RUN_ONCE)` in a loop, causing the big setTimeout timer to run twice per loop tick sometimes.

The order of events is approximately: start tick -> timeouts -> I/O -> immediates -> close callbacks -> timeouts again -> end tick.

[2016-09-12 07:43] bnoordhuis opened #8496 "src: UV_RUN_ONCE in a loop is inefficient"
src/node.cc calls `uv_run(loop, UV_RUN_ONCE)` in a loop:

[code]

`uv_run()` looks like this:

[code]

The way we use UV_RUN_ONCE is:
1. Inefficient.  `uv__update_time()` is called twice.  It's expensive on systems where querying the system time is expensive (e.g. virtualized systems.)
2. Arguably incorrect.  Timers are effectively dispatched twice per look tick.

Branched off https://github.com/n

[2016-09-12 07:49] bnoordhuis commented on #8495
I'm going to close this pending more information.  I'm inclined to think this is just a rant rather than a good faith bug report if the OP can't be arsed to fill out the issue template.

[2016-09-12 07:49] #8495 closed

[2016-09-12 08:39] addaleax commented on #8440
That has nothing to do with it. :) The `#define` macro expansion is the [C preprocessor](https://en.wikipedia.org/wiki/C_preprocessor)’s job, that is a typical part of the compiling process for C/C++.

That’s only necessary if you use `SharedArrayBuffer` directly. It might be best if you try and keep the code changes similar to the locations where there `ArrayBuffer` support is already there.

I s

[2016-09-12 08:49] fhinkel commented on #548
@amasad We preprocess the input in repl and convert function declarations (`function x() {...}`) to function definitions (`var x = function() {...}`), see https://github.com/nodejs/node/commit/bb9eabe. That's why it works in repl.

[2016-09-12 09:50] saghul commented on #8459
AFAIK that got fixed :-S

[2016-09-12 10:48] gibfahn commented on #8271
I've tried running this test two different ways on the same machine, and it only fails the second way.

#### Method 1:
Run the test in the SSH command:
[code]
then I get no failures in 3000 runs.
[code]

#### Method 2
SSH in first and then run the test:
[code]
then I see about 5 failures per 100 runs.
[code]

[2016-09-12 11:33] ojss commented on #8440
@addaleax  @wlunlimited
The above commit now allows SharedArrayBuffer to be used with Buffer.from.
Just need to write the tests now.

[2016-09-12 12:17] GeorgeAdams95 commented on #8375
This is the only code that I can find in perlio that could be performing some kind of skip on AIX:

`#  elif defined(_AIX) || defined(__osf__) || defined(__irix__)
    f->_file = -1;
    return 1;`

Anyone understand what this code is actually doing?

[2016-09-12 12:30] QianJin2013 commented on #8316
I'v build nodejs for android(arm,arm64,x86,x64,mipsel) perfectly without disabling any feature.

Anyone interested on this should see [build-nodejs-for-android-perfectly](https://github.com/sjitech/build-nodejs-for-android-perfectly) which even provide a docker image to do repeating compilation. You can use it switch version and build.

[2016-09-12 12:39] GeorgeAdams95 commented on #8375
This is the only code that I can find in perlio that could be performing some kind of skip on AIX:

[code]

Anyone understand what this code is actually doing?

[2016-09-12 12:43] lholmquist commented on #8465
@ojss yup,  it's enabled.  I'd imagine this is the default

[2016-09-12 13:01] lholmquist commented on #8465
So i also just tried to run bash script without using the child_process.spawn and the same thing happens

    #!/bin/bash

    echo $DYLD_TEST

Output is blank.  So it probably isn't the child_processes fault and is probably the expected behavior.

I haven't tried to disable SIP yet to see if that would make it work,  If it does, perhaps something in the Docs would be nice, to just point this out

[2016-09-12 13:03] ojss commented on #8465
@lholmquist yes thats the default state.
Try disabling it and running your test.

[2016-09-12 13:13] mafrost commented on #2398
Nothing new related to this? It would be great to be able to implement something like webrtc datachannels in pure js :)

[2016-09-12 13:29] ojss commented on #8440
Is the below test fine?

[code]

[2016-09-12 14:02] joaocgreis commented on #8402
@sahil-lakhwani Can you create an installation log with

[code]

and share it here?

[2016-09-12 14:12] dnalborczyk opened #8498 "Test failures on macOS Sierra 10.12 (GM) with Xcode 8.0 (GM)"
* **Version**: master (latest)
* **Platform**: macOS Sierra 10.12 (GM), Xcode 8.0 (GM)
* **Subsystem**: -

I don't know who is responsible for the failures, macOS, Xcode or a combination.

[code]

[2016-09-12 14:20] bnoordhuis commented on #8498
Those are the sames failures as https://github.com/nodejs/node/pull/8034#issuecomment-246175225.  For some reason it happens on some systems, but not others.

[2016-09-12 14:24] fhinkel commented on #548
https://bugs.chromium.org/p/v8/issues/detail?id=5375

[2016-09-12 15:22] jeremyroman commented on #6300
Hi, Blink dev here.

My objective is to support the HTML structured clone algorithm for Blink, and for legacy reasons, we need to be able to read the format we already store on disk for IndexedDB. Even without the legacy constraint, the RFC7049 format doesn't seem to support some of the things HTML structured clone requires (e.g. reference equality is preserved, i.e., if a is an object, [a,a] dese

[2016-09-12 17:18] wilkyboy opened #8500 "NodeJS not applying date locales properly"
In all three of my environments I was able to reproduce this error:

My production server
* **Version**: v6.5.0
* **Platform**: Linux srv2.backdoor.io 4.4.11-x1-64+ #1 SMP Fri May 20 14:04:36 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: core js?

My primary development machine
* **Version**: v4.4.0
* **Platform**: Microsoft Windows [Version 10.0.10586] x64
* **Subsystem**: core js?

My

[2016-09-12 17:50] mscdex commented on #8500
By default `--with-intl=small-icu` is used to build node, which contains just the en-US locale (@nodejs/intl -- is this correct or does it contain more?). You will need to either build node with `--with-intl=full-icu` or `--with-intl=system-icu` if you want to be able to use more locales. The reason node is built with a smaller ICU by default is file size.

[2016-09-12 18:02] Trott commented on #8375
@GeorgeAdams95 The code (in Perl source) we'd need to look for is not necessarily AIX-specific. I suspect they manage closed stdio streams differently altogether.

The code you pasted invalidates an fd. I don't think that's the code we're looking for. (In the case we're talking about here, the stdout stream is already closed.)

[2016-09-12 18:04] rumkin commented on #6300
@jeremyroman Will it support regular expression, functions and streams?

[2016-09-12 18:08] targos commented on #8500
There is another option that doesn't require a custom build of node. You can install the [`full-icu`](https://github.com/icu-project/full-icu-npm) module.

[2016-09-12 18:13] mikeal commented on #731
BTW, I've been spending a lot of my free time messing with WebRTC audio and recording capabilities. https://github.com/mikeal/roll-call might be something we can get to the point where it could be an alternative.

[2016-09-12 18:16] wilkyboy commented on #8500
Thank you! At least this is now up somewhere where others can find it.

[2016-09-12 18:16] #8500 closed

[2016-09-12 18:17] jeremyroman commented on #6300
It will support RegExp, yes. Functions and streams are not structured clonable, so at present, no. I believe it's "no" to the others. (It's not even clear how a function would be cloned in general, given the existence of both "native" functions and functions which close over variables.)

[2016-09-12 18:20] Trott commented on #8375
My C is mediocre, but I suspect what we are looking for is in this function: https://github.com/Perl/perl5/blob/49fc490652d8b428d67872fae3acb10f0b43cff7/perlio.c#L1486-L1571 Although if @gireeshpunathil or someone else solves this problem before anyone sorts this avenue out, great! :-D (And if I'm just creating noise here that won't get us anywhere, apologies.)

[2016-09-12 18:39] pjdepractica opened #8501 "how to use Node.js Addons ?"
I'm starting with Node.js Addons, I made my own addons node.js guiding me to the documentation.

**hello.cc**

Here defini one methods for running and walking and returns a string.

[code]

**binding.gyp**

Here follow the instructions in the documentation.

[code]

**test.js**

Here I call the module and use.

[code]

To test this use: node test.js, and working properly.

Now as I can use my modu

[2016-09-12 18:47] metabench commented on #8269
Yes, it does give an idea on how to tackle this, but it's making use of some quite advanced C++ concepts, or at least ones I don't fully understand. Please correct me if I'm wrong, but it's a template definition, and that the convention is to use capital letters when naming them. I've not made them myself in my C++ programming, but have used them with NAN.

I can't see exactly where I could make u

[2016-09-12 19:02] eugeneo commented on #8498
I will take a look. I believe this is a race condition, so far I did not see it on any system I use...

[2016-09-12 19:21] targos commented on #8329
Closing as the fix is now included in the v5.4 PR

[2016-09-12 19:21] #8329 closed

[2016-09-12 19:28] targos commented on #8133
The bug is fixed in v6.5.0. Closing.

[2016-09-12 19:28] #8133 closed

[2016-09-12 19:34] targos commented on #7791
Closing as I think this was answered. Feel free to reopen if I'm mistaken!

[2016-09-12 19:34] #7791 closed

[2016-09-12 19:35] targos commented on #7517
Does this still need to stay open ?

[2016-09-12 19:47] targos commented on #7344
I confirm this is fixed with V8 5.1 in v6.5.0.

[2016-09-12 19:47] #7344 closed

[2016-09-12 20:51] bnoordhuis commented on #7517
I don't think so. I'll close.

[2016-09-12 20:51] #7517 closed

[2016-09-12 21:11] addaleax commented on #8269
I think you’re understanding everything correctly, yes! Just so no confusion comes up, the `#define`s are usually referred to as macros. C++ has something called templates, but that’s a bit of a different concept.

I’m not actually suggesting that you need to include `SPREAD_ARG` in your own code; you may be very happy just using its contents.

Hmm. I’m not disagreeing, this *is* a problem, but ma

[2016-09-12 21:14] addaleax commented on #8375
Are you sure? On Linux:

[code]

[2016-09-12 21:14] ChALkeR commented on #3043
#8040 landed.

[2016-09-12 21:14] #3043 closed

[2016-09-12 21:19] addaleax commented on #8440
@ojss The `Flags:` line should probably come first in the test file, you can use `assert.deepStrictEqual(buf1, buf2)` instead of an extra `Buffer.compare`, and you may want to add tests for `Buffer.byteLength`, which should also accept `SharedArrayBuffer`s.

But generally, yeah, it looks like you’re ready to opening a pull request – it’s much easier to comment on specific lines, run the tests, etc

[2016-09-12 21:54] eugeneo commented on #8498
Please try if nodejs/node#8505 fixes this.

[2016-09-12 22:00] Trott commented on #8375
Well, I thought I was, but now, uh, yeah, not so much...

[2016-09-12 22:15] mateogianolio commented on #8269
The main issue is that the v8 documentation is not very approachable. It's basically auto-generated from `v8.h`.

I think the best bet is to put some pressure on the v8 team to improve it, rather than have node take over the responsibility (which isn't feasible since features can still change drastically in the future).

Hopefully it won't take too long. Better documentation is key to widespread a

[2016-09-12 22:20] addaleax commented on #8269
I think the V8 team is kind of aware that their documentation is not optimal. If you want to see something improved in an open source project, it’s always better to spend time yourself on improving things than to “put pressure” on someone.

Are you asking for inclusion of the `nan` features into node core? That would kind of defeat `nan`’s primary purpose of abstracting away the *differences* betw

[2016-09-12 22:37] dnalborczyk commented on #8498
unfortunately same failures, with different output.
the failing test cases also seem to "pause" for a bit while running. not sure if that is intended.

[==========] Running 22 tests from 2 test cases.
[----------] Global test environment set-up.
[----------] 4 tests from UtilTest
[ RUN      ] UtilTest.ListHead
[       OK ] UtilTest.ListHead (0 ms)
[ RUN      ] UtilTest.StringEqualNoCase
[       OK

[2016-09-12 22:41] mateogianolio commented on #8269
I thought V8 was funded and developed by Google, which is why I added 'put pressure' part. I didn't intend to be derogatory. I will look into helping them with the documentation!

I'm not at all proposing an inclusion of nan into node core. I meant that it might be better (for high performance applications) developing addons _without_ using nan, hence the need for better v8 documentation.

[2016-09-12 22:42] addaleax commented on #8269
It is. :)

[2016-09-12 23:18] joshgav commented on #8464
Perhaps we should add SIGUSR2 to activate inspector and leave SIGUSR1 to activate the old protocol?

Working impl of this here: https://github.com/joshgav/node/commit/0edde394cf3ef3ff815bf17b96cc223fc58e582d

/cc @nodejs/diagnostics

[2016-09-12 23:20] eugeneo commented on #8498
Please try the newer revisions. I just realized there was a coding mistake and socket is actually not a variable but a function from the platform library...

[2016-09-12 23:29] ofrobots commented on #8464
The problem is that there aren't enough signals, and SIGUSR2 might already be in use by user-space modules. Repurposing SIGUSR2 would be a semver major change.

I think a better approach would be to deprecated the old debugger in `v8.x` and free up SIGUSR1 for use by the inspector based protocol. Unfortunately this means that we won't have a solution to attach inspector to an already running proce

[2016-09-12 23:32] pps83 commented on #8495
@mscdex v6.5.0 on Win10.

Here's sample code:
[code]
if you run it as `node test.js` then everything is ok, if you run it as `node debug test.js` and then `c` to continue under debugger you'll get the error.
Regarding [that node should be doing this already](https://github.com/nodejs/node/blob/75c6d9dd95bbdb926d84cb3a9f518eff88651709/lib/cluster.js#L296-L319). That commit is from August 1, and the

[2016-09-12 23:41] cjihrig commented on #8495
Note, the link to `cluster.js` applies to forked workers using the `cluster` module, not generic `fork()` calls, which appears to be the problem here.

[2016-09-12 23:54] pps83 commented on #8495
Also, from quick look and my limited js knowledge this isn't a fix, but a workaround for the bug that I'm trying to report here. Looks like they "patch" call to fork, while fork/spawn themselves have to be properly fixed internally. Similarly, you can "patch" my test.js code by changing fork options from `{silent: false}` to `{silent: false, execArgv: []}` so that forked child doesn't try to liste

[2016-09-13 00:00] Trott opened #8506 "Node.js Foundation Core Technical Committee (CTC) Meeting 2016-09-14"
## Time

**UTC Wed 14-Sep-2016 20:00**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 14-Sep-2016 13:00 |
| US / Mountain | Wed 14-Sep-2016 14:00 |
| US / Central  | Wed 14-Sep-2016 15:00 |
| US / Eastern  | Wed 14-Sep-2016 16:00 |
| Amsterdam     | Wed 14-Sep-2016 22:00 |
| Berlin        | Wed 14-Sep-2016 22:00 |
| Moscow        | Wed 1

[2016-09-13 00:02] Trott commented on #8506
Usual reminder that this meeting will take place 44 hours from now and **not** 20 hours from now.

Standup portion of the Google doc is ready to go.

[2016-09-13 00:19] Trott commented on #8506
By the way, it appears that this CTC meeting will mark the one-year anniversary of the merging of io.js and Node.js.  https://nodejs.org/en/blog/announcements/foundation-v4-announce/

[2016-09-13 00:30] hackygolucky commented on #8506
As I sit here finishing my keynote for NI EU on Thursday(pretty late in
London right now), that's a really really cool thing. Happy Anniversary!

On Mon, Sep 12, 2016 at 8:20 PM, Rich Trott <notifications@github.com>
wrote:

[2016-09-13 00:46] thusoy opened #8507 "zlib: invalid distance too far back on `inflateRaw` with custom dictionary"
* **Version**: 4.5.0 and 6.5.0
* **Platform**: OSX and Linux (didn't test windows)
* **Subsystem**: zlib

The following script fails:
[code]

With the following traceback (the crash comes from the `inflateRawSync` line):
[code]

If the dictionary argument is removed it works, and similarly the non-raw alternatives work (outputs `true` as expected). Not sure if relevant, but all test cases was agai

[2016-09-13 02:11] italoacasas opened #8508 "readline doc: events are _not_ supported on Windows."
* **Version**: v7.0.0-pre (master branch)
* **Platform**: Windows 10 Pro with `Bash on Ubuntu on Windows`
* **Subsystem**: readline

Now with Bash on Windows, the events `SIGCONT` and `SIGTSTP` are supported. Should we change the **Notes**  to be more specific ?

- https://github.com/nodejs/node/blob/master/doc/api/readline.md#event-sigcont
- https://github.com/nodejs/node/blob/master/doc/api/read

[2016-09-13 02:14] wlunlimited commented on #8440
@addaleax @ojss sorry,the patch above is just a demo, it is not completed yet.Because it is not handle the length of Buffer.from(arraybuffer,length).

let sab =new SharedArrayBuffer(24);
const arr = new Uint16Array(sab);

arr[0] = 5000;
arr[1] = 4000;

// Shares memory with arr
const buf = Buffer.from(arr.buffer,10);

this would ignore the length 10 and make buffer from the whole arr.buffer.

[2016-09-13 02:17] AlastairTaft opened #8509 "Configuration option to permanently turn on --preserve-symlinks"
Developing packages with peer dependencies is really really hard, I lose so many hours a day trying to setup my dev environment in just the right way so it works.

I've only once managed to get the `NODE_PATH=./node_modules ` workaround working, I'm not sure why it doesn't work for me, perhaps it's to do with how I configure webpack.

That flag would save me when developing locally except it doesn

[2016-09-13 02:37] mscdex commented on #8508
I'm leaning more towards no changes, simply because we do not explicitly support Windows' Linux subsystem. If anything, it would be better to put a blurb somewhere at a higher level that more or less says "you're on your own" when you use the Windows' Linux subsystem since this would be a more larger documentation issue.

[2016-09-13 02:40] ALJCepeda commented on #7882
Has there been any work done on this? If not I'd like to give it a shot

[2016-09-13 02:41] ojss commented on #8440
@wlunlimited If you see the definition of `Buffer.from`, you will notice that at the end there is a call to `fromObject()`. `fromObject` only takes the object and not the length. So to account for the length we would have to change the signature of `fromObject`.

or I could make another function similar to `fromArrayBuffer`, in fact maybe even get `fromArrayBuffer` to handle the `SharedArrayBuffer

[2016-09-13 02:42] jkrems commented on #7266
After doing a (more or less) complete implementation of the current debugger interface on top of the new protocol: It's a bit awkward. E.g. given that we now have the inspector command line API and proper remote object support, a "remote repl first" approach (without switching between two modes) using `.cmd` for step actions etc. might feel a lot nicer.

[2016-09-13 03:19] dnalborczyk commented on #8498
:+1:  looks good!!

[code]

[2016-09-13 04:18] Fishrock123 commented on #8496
This sounds like it has an awfully good chance of being related to https://github.com/nodejs/node/issues/3665

[2016-09-13 04:21] Trott opened #8511 "Investigate flaky test-fs-watch-recursive on OS X"
https://ci.nodejs.org/job/node-test-commit-osx/5015/nodes=osx1010/console:

[code]

@nodejs/testing

[2016-09-13 05:45] thusoy commented on #8507
I'm not particularly familiar with the codebase, but I added a test case similar to the existing `test-zlib-dictionary` case, just swapping `createInflate/createDeflate` for their `createInflateRaw/createDeflateRaw` counterparts and the error persist. Debugging what happens during execution it appears that if `inflate` is called for a raw stream that requires a dictionary, it returns `Z_DATA_ERROR

[2016-09-13 06:43] veshboo commented on #8375
[From IBM knowlege center - stat.h](http://www.ibm.com/support/knowledgecenter/ssw_aix_61/com.ibm.aix.files/stat.h.htm)

Thus, in case of special files such as /dev/(tty, null, zero, ... etc), we should use `st_rdev` field to know their device type, not `st_dev`.

So we need to find out devices of st_rdev 131074 and st_rdev 0 under /dev.

[code]

Then (with substitutions of %major% and %minor%)

[

[2016-09-13 07:38] papandreou commented on #8464
SIGUSR2 is used by https://github.com/bnoordhuis/node-heapdump (triggers a heap dump).

[2016-09-13 07:40] bnoordhuis commented on #8495
Colin is right that `cluster.fork()` fixes up execArgv before spawning a worker, `child_process.fork()` does not.

We could move the fix-up logic to `child_process.fork()` but that might end up breaking more than it solves.  `child_process.fork()` is designed to be configurable, `cluster.fork()` is not; implicitly rewriting arguments might interfere with the user's intentions.

#5025 would allevia

[2016-09-13 08:38] Jianru-Lin opened #8513 "Expose V8's JavaScript parser API as an part of standard library?"
* **Version**:
* **Platform**:
* **Subsystem**:

Hello, everyone. Is it an good idea to expose  V8's JavaScript parser API as an part of standard library?

Why:

- Parser API is the key component of many advanced libraries: test, code rewrite, analyze...
- Many modern language like rust, go, python, erlang bring the parser as an part of their standard libarary
- Existing solution like esprima is o

[2016-09-13 10:44] bnoordhuis commented on #8513
Sorry, but that's not an option.  V8 does not expose the parser through its public API and we do not (and cannot) use its internal APIs.

You could try filing an issue with the V8 project but their parser is very tightly coupled and optimized for performance rather than ease-of-(re)use so I wouldn't expect too much.

[2016-09-13 10:44] #8513 closed

[2016-09-13 10:56] bnoordhuis commented on #8501
Can you post support questions to https://github.com/nodejs/help/issues?  https://github.com/nodejs/node-addon-examples might be helpful.

[2016-09-13 10:56] #8501 closed

[2016-09-13 12:13] bnoordhuis commented on #8139
I'll close, I think this ran its course.

[2016-09-13 12:13] #8139 closed

[2016-09-13 12:41] addaleax commented on #8506
I most likely won’t be able to attend, sorry.

[2016-09-13 12:45] addaleax commented on #6578
Maybe, if anyone’s up for that. Everything in there is ancient, so it shouldn’t make a huge difference…

[2016-09-13 13:06] evanlucas commented on #8509
you could rename your node binary to something else and then create a shell script (named `node`) that passes all arguments to the real node binary and appends the `--preserve-symlinks` flag

[2016-09-13 13:08] evanlucas commented on #8465
I'm going to go ahead and close as this doesn't appear to be an issue with node itself. It you feel differently, please don't hesitate to let us know. Thanks!

[2016-09-13 13:08] #8465 closed

[2016-09-13 13:17] lholmquist commented on #8465
@evanlucas that sounds good.

[2016-09-13 13:37] AlastairTaft commented on #8509
That's a nice idea, thanks, I'll try that.

[2016-09-13 13:41] italoacasas commented on #6578
I'll take `globals.md` @addaleax

[2016-09-13 13:48] slorber commented on #8199
I got exactly the same error, while installing Node 4.5.0 LTS (currently recommended version) on Windows 10

[2016-09-13 13:50] polomsky opened #8516 "Event emitter calls method which removed itself"
* **Version**: 6.5.0 (irrelevant)
* **Platform**: irrelevant
* **Subsystem**: events

Hi. I can not say this is a bug but from my point of view it is definitely unpleasant feature.
Example code:
[code]
Result:
[code]

The problem is that function f2 is called twice even during first call it removed itself from event emitter (assumption that removeListener inside function protects it from calling t

[2016-09-13 13:52] slorber commented on #8199
Linked to: https://github.com/nodejs/node/issues/5816
Choosing to not install ETW seems to work for me.

[2016-09-13 13:53] slorber commented on #5816
Got the issue (Windows 10)
Choosing to not install ETW seems to work for me.

[2016-09-13 14:12] pjdepractica commented on #8501
Thanks for your help. @bnoordhuis

[2016-09-13 14:57] mscdex commented on #8516
If you just want it to be called once, why not use `.once()` instead of `.on()`?

[2016-09-13 15:46] Jianru-Lin commented on #8513
Ok, Thanks for reply.

[2016-09-13 16:20] jasnell commented on #8026
@nodejs/lts ... ok, I think it's safe to call it now. The codename for the v6.x LTS branch will be "Boron".

Thank you everyone for voting!

[2016-09-13 16:20] #8026 closed

[2016-09-13 16:38] claudiorodriguez commented on #8421
@bnoordhuis would the proposed solution work in your case?

[2016-09-13 16:39] joshgav commented on #8464
Is there a reasonable way to parameterize signals so we could double-up SIGUSR1? One approach could be a config file next to the node binary.

/cc @bnoordhuis re [node-heapdump](https://github.com/bnoordhuis/node-heapdump). Do we know of other modules which use SIGUSR2?

@ofrobots:

IMHO this would be a significant problem for inspector protocol adoption and Node diagnostics in general. We can't e

[2016-09-13 16:40] jasongin commented on #4351
This is fixed by https://github.com/libuv/libuv/pull/682. There has not yet been a libuv release containing the fix: it came after the last libuv release, v1.9.1.

[2016-09-13 17:14] seishun commented on #8310
I think the most serious stuff is casting generated code into a function pointer and calling it, which is pretty much unavoidable.

[2016-09-13 17:50] geekplux commented on #8516
There is explanation in documentation :)

[emitter.removeListener](https://nodejs.org/dist/latest-v6.x/docs/api/events.html#events_emitter_removelistener_eventname_listener)

[2016-09-13 18:10] silverwind commented on #8493
Could it be integrated with the existing `.help`, like `.help topic`?

[2016-09-13 18:14] addaleax commented on #8493
@silverwind I guess, the exact syntax for the REPL (if we want special syntax) is definitely open for discussion. :)

[2016-09-13 18:18] silverwind commented on #8493
I could see something that parses the existing JSON docs and presents a short summary of any core object or method in a few lines (let's say 30 lines max). Issue with that is of course that some documentation is just too verbose, especially with multiple method signatures.

[2016-09-13 18:18] bnoordhuis commented on #8421
Can you file a pull request?  If it's not a proper solution, the reviewer will tell you.

[2016-09-13 18:22] silverwind commented on #8493
Regarding multiple signatures, I could see a choice being presented:

[code]

[2016-09-13 18:22] bnoordhuis commented on #8464
The inspector using SIGUSR2 is not a problem for node-heapdump, it will simply override the inspector's signal handler.  That may be a problem for the inspector, though. :-)

[2016-09-13 18:24] addaleax commented on #8493
That’s not my experience, I don’t think I’ve ever used Python’s `help` on a machine without internet access. But yeah, if a lot of people feel like you, I can see why

I kind of still like the idea of sending the output to a pager if it’s too long… that would also be a bit simpler to implement.

[2016-09-13 18:31] ofrobots commented on #8464
This is not a bad idea. Another idea would be a flag, e.g. `--inspect-on-sigusr1`. /cc @nodejs/v8-inspector.

[2016-09-13 18:51] jpolitz opened #8520 ""There was an internal error in Node's debugger. Please report this bug.""
- **Version**:

[code]
- **Platform**:

[code]
- **Subsystem**:
  debugger

I got a crashing error in the debugger on the `bt` command.  The whole trace is at the end of the report.  Using iTerm2 3.0.8.

The file under test is pretty huge (20M), and is gnarly compiled output; I can provide it if it's helpful, along with instructions for running it (though it will be somewhat involved).  I'm not to

[2016-09-13 20:01] lance commented on #8441
@Fishrock123 how would you improve the error message? To me it appears pretty clear. The only thing that is really confusing is that you get two different errors depending on how you try and redefine the variable. E.g.

    ReferenceError: foo is not defined

    TypeError: Identifier 'broken' has already been declared

    ReferenceError: broken is not defined

Providing better error messages wou

[2016-09-13 20:11] jpolitz commented on #8520
Ah, figured it out.  There was a function created by `Function` as part of the stack trace, which is causing the error because it doesn't have a source location.  Here's a _much_ simpler repro:

[code]

[code]

[2016-09-13 20:45] silverwind opened #8521 "macOS 10.12: libstdc++ is deprecated warning"
* **Version**: master
* **Platform**: macOS 10.12, Apple LLVM version 8.0.0 (clang-800.0.38)

`make` outputs this deprecation warning on macOS 10.12, but otherwise builds fine:

[2016-09-13 20:47] roblourens commented on #8464
I like the config file option, in that if there is a flag to set when you start node, people will inevitably forget to set that flag, then if you have to restart the process anyway you might as well start it in debug mode. I don't know whether there's some typical way to handle this kind of scenario though.

[2016-09-13 21:31] imyller commented on #8509
It should be possible to add support for environment variable `NODE_PRESERVE_SYMLINKS`.

Just like existing variables `NODE_DISABLE_COLORS` with value `1` or `NODE_ICU_DATA` as an alternative to `--icu-data-dir` option.

[2016-09-13 22:04] joshgav commented on #8464
Right, seems that if we could go back and restart with a flag we could just use --inspect itself. We need a way to notify and change a _running_ process, which suggests a signal. **Any alternatives to signals?**

Assuming we have to use a signal, it seems we'd prefer to reuse SIGUSR1. Even if we accepted the semver-major aspect of using SIGUSR2, I think taking the only other user signal would be i

[2016-09-13 22:05] polomsky commented on #8516
@mscdex sadly in my case I had conditional `removeListener` (some values for event where ignored) so I needed `.on()` or conditionally register handler again. I already fixed that problem using promise instead of callback which was conditionally called from event.
What is interesting is that `once` works nicely in my example.
I am aware of my request can be seen as silly but maybe somebody will ag

[2016-09-13 22:22] rvagg commented on #8506
Who is _not_ going to be at NI EU that would like to chair this one? I'm not but myself, Jeremiah and Trevor all have somewhere else to be about 1/2 way through the meeting so it might be best if someone chair's just in case it goes longer than that.

We only have one item on the agenda, however, and hopefully it will be quick. Please prep for that as it's supposed to be a vote on accepting the ch

[2016-09-13 23:30] ofrobots commented on #8388
Fixed by #8445.

[2016-09-13 23:30] #8388 closed

[2016-09-13 23:37] AlastairTaft commented on #8509
That would be a nicer solution

[2016-09-14 00:05] Trott commented on #8506
I won't be there so I guess I'm a candidate, but happy to let someone else do it.

[2016-09-14 00:10] Trott commented on #4427
Small sample size, but it sure *seems* like the test is failing a lot more since #8480 landed earlier today.

Maybe that provides some clue as to how it might be fixed for good?

Looping in stats-ish people along with usual suspects because
¯\\_(ツ)_/¯  @not-an-aardvark @AndreasMadsen @matthewloring @indutny

[2016-09-14 00:18] Trott commented on #4427
Actually, it looks like it's failing in a different way now, and more frequently. :-/  Is it possible we've broken the v8 profiling integration on some platforms now?

Some sample failures:

https://ci.nodejs.org/job/node-test-commit-linuxone/1136/nodes=rhel72-s390x/console
<details>
<summary>Click here for details</summary>
[code]
</details>

https://ci.nodejs.org/job/node-test-commit-plinux/4161

[2016-09-14 00:43] ccorcos opened #8526 "How does require.resolve work?"
I'd like to submit a PR that resolves the root project's package name so that you can use absolute require paths. However, I'm finding it very hard to figured out how this bit of code works:

https://github.com/nodejs/node/blob/7b73f559029a10474b74a83bfb1117ab512785d4/lib/module.js

Seems like it should be a one-liner somewhere. I just need to add the base project as one of the "paths" to search.

[2016-09-14 00:47] indutny commented on #4427
@Trott let's revert the test changes from #8480 , if it gives troubles. It is not the most important part of it.

[2016-09-14 01:13] #8201 closed

[2016-09-14 01:32] srl295 commented on #8506
Will miss this.

[2016-09-14 02:18] cjihrig commented on #8526
Can you give an example, preferably in runnable code, that demonstrates exactly what you want to happen? Also, keep in mind that the chances of landing a PR that changes the module system behavior is extremely small.

[2016-09-14 03:36] #8483 closed

[2016-09-14 03:58] Trott commented on #8506
When I said "I won't be there", I meant I won't be at Node Interactive EU.  I **will** be at the CTC meeting. Uh, just re-read my comment and realized it was easy to misunderstand. :-D

[2016-09-14 04:30] luisa123456 commented on #7959
Long Path tool can resolve error messages like: path too long, cannot delete file, too long path, destination path is too long, etc.

[2016-09-14 10:38] joaocgreis commented on #5816
Can you create an installation log with

[code]

and share it here? Thanks!

[2016-09-14 10:39] bnoordhuis commented on #8521
We'll start linking to libc++ when the upgrade to V8 5.4 lands.

[2016-09-14 10:43] bnoordhuis commented on #8464
I don't like the idea of a config file.  Node has always been a self-contained binary and it should stay that way.

[2016-09-14 10:56] bnoordhuis commented on #8516
emit() makes a copy of the event listeners array before emitting the event.  In really early versions of node.js (I'm talking v0.1.x, maybe even v0.0.x) it operated on the original array but people found that utterly confusing so it was changed.

I'll close this.  The behavior is intentional and documented.

[2016-09-14 10:56] #8516 closed

[2016-09-14 12:51] gibfahn commented on #8271
This change seems to fix the problem, though I'm not sure why it would. I'll investigate further.

[code]

[2016-09-14 12:55] imyller commented on #8526
Be careful when attempting to resolve paths/files in the parent path of current package.

For example, current package could be `npm link` symlinked to the project and when attempting to resolve root project's location you might wander into completely different root path or even filesystem inaccessible to current user.

All this assuming I understood correctly your intentions about "resolving the

[2016-09-14 13:36] joaocgreis commented on #7484
@jasnell Please use the new job `reis-iojs+release` for the beta builds of v7 announced in https://github.com/nodejs/node/pull/8503 . That job uses VS2015 automatically for v6 and above.

The plan is to merge it with `iojs+release` when we start releasing v6 with VS2015. When that happens, only `iojs+release` will be used for everything.

[2016-09-14 13:54] slorber commented on #5816
Hi,

Sorry I can't do that anymore, it was a computer that someone gave me just for an event.

[2016-09-14 14:14] joaocgreis commented on #8455
@Trott the `node-stress-single-test-fips` should be good again. Here is a run with the same parameters: https://ci.nodejs.org/view/Node.js/job/node-stress-single-test-fips/10/nodes=ubuntu1404-64/console

[2016-09-14 15:01] joaocgreis commented on #7989
Here is a test build of v6.5.0 with VS2015 with https://github.com/nodejs/node/pull/8430 applied: https://nodejs.org/download/test/v6.5.0-test2016091435bb966909/ . This can be used to test native modules.

Is there a good way to make this visible to users, so that they can start testing with it?

cc @nodejs/platform-windows

[2016-09-14 15:23] silverwind commented on #8521
Ack, so that's covered.

[2016-09-14 15:23] #8521 closed

[2016-09-14 15:26] ofrobots commented on #8464
Config files don't have a precedent, and quite a few issues will need to be worked through: does the config belong in the node installation, or does it belong with an application? Where do you find the config relative to the application? Should it be something in the package.json? What about standalone scripts, etc.

Other options:
* An environment variable.
* A named pipe that Node listens on.

[2016-09-14 16:23] rvagg commented on #8506
@trott 👍 thanks

[2016-09-14 16:40] imyller commented on #8464
+1 for `--inspect-on-sigusr1` flag along with support for matching environment variable (e.g. `NODE_INSPECT_ON_SIGUSR1`).

Flag alone would be handy but sometimes you want to use exported environment variable to enable some behaviour in child processes too.

Flag wouldn't be semver-major change, right?

[2016-09-14 16:42] Fishrock123 opened #8534 "Impossible to listen to beforeExit in single-tick --eval"
* **Version**: v2.2.0+ (?)
* **Platform**: all
* **Subsystem**: process

The following exits __without__ printing:

`node -e "process.on('beforeExit', () => process._rawDebug('hi'))"`

However, this __does__ print:

node -e "process.on('beforeExit', () => process._rawDebug('hi')); setImmediate(()=>{})"

--

I did some debugging and using this patch I get the following output:

[code]

[code]

That

[2016-09-14 17:03] eugeneo commented on #7245
nodejs/node#8243 added the URL field. This issue can be closed now.

[2016-09-14 17:08] gima opened #8535 "stream.Readable issues data after .push(null)"
- **Version**:
  v6.5.0
- **Platform**:
  4.6.4-1 x86_64 GNU/Linux
- **Subsystem**:
  stream

**Description**

Implementation of `stream.Readable` interface can `.push(null)` to indicate end of stream. Further `'data'` events should not be issued, yet the code below demonstrates that they are. Same difference can be observed when using (for example) `.pipe(process.stdout)` in place of the `.on('da

[2016-09-14 17:18] #7245 closed

[2016-09-14 17:18] matthewloring commented on #4427
The likelihood that the test will pass is proportional to the amount of time the test function spends with the `Date.now()` builtin frame on the stack. We can decrease the flake here by picking a more computationally expensive builtin or running the test for longer. It would be good to leave the test there in some form if possible.

[2016-09-14 17:19] bnoordhuis commented on #8464
I'd say semver-minor, it's additive.

[2016-09-14 17:26] ofrobots commented on #4427
Perhaps we can add a computationally intensive built-in for the express purpose of being able to test that it shows up on the stack. WDYT?

[2016-09-14 17:28] ofrobots commented on #8506
I last-minute conflict showed up on my calendar; I won't be able to make it either.

[2016-09-14 17:28] ccorcos commented on #8526
@cjihrig Here's basically what I want to work:

[code]

basically `cool-app` resolves to the project root, just like it were an npm package dependency.

[2016-09-14 17:36] Trott commented on #8506
@addaleax @ofrobots and any other CTC members who are likely to miss the meeting: Have you had a chance to read https://github.com/nodejs/node-eps/pull/18? If so, can you log your "yes", "no", or "abstain" vote on it here or in that issue?

[2016-09-14 18:09] Trott commented on #4427
I also wonder if we should split this into three separate tests so that:

* we can more easily track which test case is failing/flaky at any point in time
* we avoid any possibility of one test case having side effects on another test case (I'm not sure that's possible with this test but it won't hurt to split them out)
* allow us to experiment with much longer running test cases that may be more

[2016-09-14 18:42] joshgav commented on #8464
@bnoordhuis @ofrobots Agreed, I also don't like the config file, I think it's too complex for the problem at hand.

But *env vars* or *flags* have to be set _before_ the process is run, and we need something to modify a _running_ process. Am I perhaps missing something?

@ofrobots - Named pipe is interesting, would that completely replace the signal?

Another idea - Perhaps we can add something to

[2016-09-14 18:59] eugeneo commented on #8464
Currently both inspector and debugger have their own server socket implementations. I could try to refactor that into a separate codebase that will start an appropriate agent based on whether the first massage is an HTTP request... I don't think it would be possible to have both agents running at the same time - so once the debugger or inspector is started, second implementation will never run.

[2016-09-14 19:15] eugeneo commented on #8464
Is there a roadmap for deprecating the debugger agent?

[2016-09-14 19:43] joshgav commented on #8464
@eugeneo

This sounds good to me! Once doing it though it might be worth giving it more flexibility than just switching on the protocol itself. Perhaps you could include a simple way to parameterize that first request, could be just a query param in the URL?

IMHO we should wait to even discuss till v8.x timeframe (i.e. summer 2017) to see what state of ecosystem is - e.g. tools, helper modules, e

[2016-09-14 19:52] ofrobots commented on #8464
The old debug protocol in V8 has been deprecated for a number of years. Now that v8_inspector [has just landed in V8 itself](https://chromium.googlesource.com/v8/v8/+/130d0486c08b953b4ec35abc28dc916807f2cf5f), I expect the old debug protocol is probably going to be removed late this year or early next year. I think we will need to have deal with the deprecation in the `v8.x` release.

[2016-09-14 20:23] ofrobots commented on #8155
@jbe456, @wzup Could you try with the [latest 7.0 nightlies](https://nodejs.org/download/nightly/) to see if the problem still exists?

[2016-09-14 20:26] deian opened #8537 "vm.runInContext is memory unsafe and can be used to dump core"
* **Version**: 6.5.0
* **Platform**:
* **Subsystem**: vm

`vm.runInContext` is memory unsafe and can be used to dump core.

This doesn't seem like a serious security vulnerability (hence my reporting here), but can certainly be used to cause DOS and it might be nice to have a stdlib that is memory safe.

[code]
Related to: #8539, #8538, #7902
+  @mlfbrown

[2016-09-14 20:27] deian opened #8538 "dns.setServers is memory unsafe and can be used to dump core"
* **Version**: 6.5.0
* **Platform**:
* **Subsystem**:

`dns.setServers` is memory unsafe and can be used to dump core.

This doesn't seem like a serious security vulnerability (hence my reporting here), but can certainly be used to cause DOS and it might be nice to have a stdlib that is memory safe.

[code]

another variant:

[code]
Related to: #8539, #8537, #7902
+  @mlfbrown

[2016-09-14 20:28] deian opened #8539 "child_process.spawnSync is memory unsafe and can be used to dump core"
- **Version**: 6.5.0
- **Platform**:
- **Subsystem**: child_process

`child_process.spawnSync` is memory unsafe and segfaults when given an array/object for the file argument with a throwing toString definition.

This doesn't seem like a serious security vulnerability (hence my reporting here), but can certainly be used to cause DOS and it might be nice to have a stdlib that is memory safe.

[code

[2016-09-14 20:39] GavinDmello opened #8540 "Issue in cluster module while running an http server"
* **Version**: 4.4.7
* **Platform**: Darwin Kernel Version 15.5.0  root:xnu-3248.50.21~8/RELEASE_X86_64 x86_64
* **Subsystem**: Cluster module

I'm not sure if a bug or not. I'm running an http server within the cluster module and all my requests seem to go the same process. I'm logging the pid and every time I get a request I get the same pid. I'm also setting the policy as cluster.SCHED_RR for a

[2016-09-14 21:00] timoxley commented on #8540
Try hitting it with `curl http://localhost:3001/` a few times and you should see it works, or try different browsers. I believe this may be because the browser uses tcp keepalive, so the connection is reused.

[2016-09-14 21:14] GavinDmello commented on #8540
@timoxley  Thanks. Sorted.

[2016-09-14 21:14] #8540 closed

[2016-09-14 21:17] busheezy commented on #8155
[code]

I know you asked for them but I gave it a go anyways.

I used this install:
https://nodejs.org/download/nightly/v7.0.0-nightly2016091353178f908f/node-v7.0.0-nightly2016091353178f908f-x64.msi

[2016-09-14 21:32] fredericosilva commented on #8155
@ofrobots It still crashes here on `node-v7.0.0-nightly2016091353178f908f-win-x64`
[code]
Let me know if you need further testing,

[2016-09-14 22:14] ofrobots commented on #8155
If you're able to build node.js from source, could you try with the fix here: https://github.com/nodejs/node/pull/8536. @eugeneo is unable to reproduce the failure and the previous [excepted fix](https://github.com/nodejs/node/commit/250a38023115417981e09e0d3d07a4a6a7df8a0a) doesn't seem to fix the problem.

[2016-09-14 22:47] indutny commented on #4427
I was thinking about it recently. What if we would wait until the symbol will appear in the profile log?

[2016-09-14 22:49] indutny commented on #4427
(Not that it is going to be trivial, though. It will involve finding the symbol's address in the output of `nm`, and matching this address in profiler ticks)

[2016-09-14 22:53] j-langlois commented on #3692
https://api.ebay.com
                      https://svcs.ebay.com

[https://ebaydts.com/eBayKBDetails?KBid=5073](url)

[2016-09-14 23:21] kevinburke commented on #3692
@j-langlois IIRC the problem was not the _lack_ of TLS 1.2 support, it was that there were maybe 10 machines in the eBay load balancer, several of them supported TLS 1.2 and several of them did not. The node client couldn't correctly handle the protocol downgrade

[2016-09-14 23:21] ofrobots commented on #8155
I can reproduce the crash as well.

[2016-09-14 23:43] ofrobots commented on #8155
Okay, so this seems to happen only with the official nightly builds. My own node builds on Windows do not crash.

[2016-09-14 23:49] Trott commented on #4427
I'm going to remove the windows label from this, as we're seeing failures on lots of platforms, and I'm going to add the `help wanted` and `v8` labels. Feel free to adjust if you think any of those changes could be better.

[2016-09-14 23:50] Trott commented on #4427
Removing `help wanted` because looks like we have a PR. :-D

[2016-09-15 00:21] misterdjules commented on #7649
My apologies for being so long to take a look at this.

@Trott Was a core file generated when this process aborted. If so is it possible to get access to that core file?

[2016-09-15 00:45] rainabba commented on #8155
Share that build? I'm dying for chrome devtools integration and don't have
a build environment yet.

On Sep 14, 2016 4:44 PM, "Ali Ijaz Sheikh" <notifications@github.com> wrote:

[2016-09-15 01:26] busheezy commented on #8155
Compiling from the v7 branch seems to work.  It doesn't crash.  I'm not sure if the console window is supposed to reflect console.log output or not.  The sources and profiler tab seem to work.  Very cool.  Thanks.

[2016-09-15 01:37] busheezy commented on #8155
@rainabba I know you said you don't have an environment yet.  I don't think it takes much to get if you don't mind waiting for the download to install.  Sorry if you already know; someone else on google might want to see the steps.  I would rather type this out than post an exe.

[code]
Run that as admin and it should install everything you need.  It will take a long time.

[code]

Your node.exe w

[2016-09-15 01:41] Trott commented on #8375
I tried changing this:

[code]

to this:

[code]

And that *still* failed on AIX.

I'd be delighted to see someone more knowledgable craft a solution, but at this point, I'm wondering if the best option might not be one of these:

* Skip the test on AIX

...or...

* Remove this code and the test and consider closed stdio streams to be the user's problem to solve. (Would be interested to know how m

[2016-09-15 03:53] Trott commented on #7649
@misterdjules This happened on CI, so if there was a core file, it would have been on the host used by that. So I'm guessing that by now, any core file is long gone. To be honest, I don't think I've seen this in over a month so I'm not sure it's going to be that easy to reproduce. I guess we could try running it 10000 times on a stress test job and see what happens?

[2016-09-15 04:44] misterdjules commented on #7649
@Trott The core file could still be available, as by default core files generated by an application are stored in the global zone of the server running the virtual machine. I'll take a look on every server running the current build SmartOS VMs, and I'll report back on whether I found that core file.

If we find a core file, we should be able to tell if the out of memory error was due to the proces

[2016-09-15 04:51] Trott commented on #7649
It's entirely possible that this was the only time I'd seen it fail on SmartOS. If you can't find hard evidence that there isn't a problem with the test itself, and if a stress test comes up clean, then I'd be content to close this until either it recurs in CI or someone can provide a way to reproduce the issue with reasonable reliability.

Stress test on 32-bit: https://ci.nodejs.org/job/node-str

[2016-09-15 06:18] misterdjules commented on #7649
I won't be able to recover the core file from that crash. The stress tests seem to have both passed, so I think we can consider this test as non-flaky for now, until we're proven otherwise in the future.

What I'll do though is reach out to the build WG to setup the SmartOS test VMs in such a way that core files are kept at least for a reasonable amount of time that will allow collaborators to inv

[2016-09-15 06:20] #7649 closed

[2016-09-15 06:30] misterdjules commented on #7574
Closing this issues as I believe this was fixed by https://github.com/nodejs/node/pull/7584 and it landed in v4.x with 4107b5d20004bdf26f6ebc886ad99fa57ad3a2f5.

[2016-09-15 06:30] #7574 closed

[2016-09-15 07:29] bnoordhuis commented on #8375
Perl does it for stdin but not stdout:
[code]

[2016-09-15 07:39] imyller commented on #8539
@deian Thank you for reporting this. I've added a PR for known issues test case.

Ideas for fixing this /cc @bnoordhuis, @cjihrig

[2016-09-15 08:37] imyller commented on #8539
This is a known issue and affects most C++ API functions accepting non-primitive values.

For more information:

https://github.com/nodejs/node/issues/7902#issuecomment-235819253

[2016-09-15 08:37] imyller commented on #8538
This is a known issue and affects most C++ API functions accepting non-primitive values.

For more information:

https://github.com/nodejs/node/issues/7902#issuecomment-235819253

[2016-09-15 08:38] imyller commented on #8537
This is a known issue and affects most C++ API functions accepting non-primitive values.

For more information:

https://github.com/nodejs/node/issues/7902#issuecomment-235819253

[2016-09-15 09:15] imyller commented on #8526
So you basicly want virtual version of:

[code]

Tested this and symlink actually works and allows `require('<root package name>')` aliasing.

If this is implemented in module.js resolver, I'm bit worried about (theoretically) possible name collision with npm installed packages.

[2016-09-15 09:50] Luciferius opened #8544 "Logging works only one out of four times in windows console"
Description copied from issue of in electron [here](https://github.com/electron/electron/issues/7149). Seems to be an issue of Node.js.
* Node.js Version: 3.6.0
* Electron version: 1.3.5
* Operating system: Windows 8.1 Pro

I am using the [electron-quick-start][1] app. I have added logging statements in the main.js as follows:

    [...]

    // Keep a global reference of the window object, if you

[2016-09-15 10:14] bnoordhuis commented on #8544
Can you report this to the electron project?  I'm fairly sure they override console.log and friends.

[2016-09-15 10:14] #8544 closed

[2016-09-15 10:24] gibfahn commented on #8544
@Luciferius Judging from [the comment on the issue you raised in electron](https://github.com/electron/electron/issues/7149#issuecomment-246922450), @zcbenz seems to be suggesting that this is a problem with the npm command `npm start`. If this is the case you should raise an issue [here](https://github.com/npm/npm/issues/new) (in the https://github.com/npm/npm repository).

Feel free to comment o

[2016-09-15 11:27] cjihrig commented on #8539
I'm working on some validation in #8312. I can add a check that the file is a string there.

[2016-09-15 12:31] jonathan-kosgei opened #8545 "npm installing to global gives Error: ENOENT, No such file or directory"
* **Version**:v6.5.0
* **Platform**:Linux dc22fc779d21 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64 Linux
* **Subsystem**:npm

I'm running node/npm in a chroot on alpine linux.

I get the following error installing to global with the following command:
[code]

[code]
This works:
[code]

[2016-09-15 13:43] gibfahn commented on #8545
This seems like an npm issue, if so could you raise it directly with npm (e.g. [here](https://github.com/npm/npm/issues/new))?

If you think this is a node specific problem, feel free to comment on here.

[2016-09-15 13:43] #8545 closed

[2016-09-15 13:56] imyller commented on #8545
It's true that this is `npm` issue, but since we ship `npm` as part of Node.js I'm trying to help out:

You should try running npm with `--unsafe-perm` flag which suppresses the UID/GID switching when running package scripts.

`npm ERR! Cannot read property 'uid' of undefined` is raised because your chrooted environment `/etc/passwd` file does not contain the uid npm is trying to switch to.

So, t

[2016-09-15 14:36] adammockor commented on #8443
There is definitely memory leak. Simple test case:

[code]

Difference between size of heapdumps are 3.6 MB vs 78.8 MB. Tested on node 6.5.0 and OS X 10.11.

[2016-09-15 14:49] jonathan-kosgei commented on #8545
@imyller You're right about the `/etc/passwd` & `/etc/group`. I was previously using `touch` to creating them but now I'm copying them over to the chroot and the second case `chroot /ns npm install pm2@latest` works.

Running npm with `-g` and `--unsafe-perm` , the following works as well!
[code]

I'm curious why do I have to use --unsafe-perm, I'm I missing some basic configuration in the chroot

[2016-09-15 15:03] imyller commented on #8545
It works because with that flag npm does not need to access `/etc/passwd` or `/etc/group` files at all. UID/GID switching is disabled.

As I said earlier, you can alternatively create dummy passwd/group files with appropriate system users.

[2016-09-15 15:08] bzoz opened #8548 "internal/freelist exposed by default on linux"
- **Version**: master
- **Platform**: Linux
- **Subsystem**: module

Under Linux internal modules are exposed by default, e.g. calling `node -e require('internal/freelist')` runs fine under Linux

[2016-09-15 15:25] vkurchatkin commented on #8548
So, does this happen on windows or on linux?

[2016-09-15 15:27] bzoz commented on #8548
On Linux it runs OK, but it should fail. Under Windows it fails as expected (`Cannot find module`)

[2016-09-15 15:30] vkurchatkin commented on #8548
Does this happen when you run a file?

[2016-09-15 15:33] bzoz commented on #8548
Yes. Also when using interactive mode, and from `child_process.fork`

[2016-09-15 15:39] ChALkeR commented on #8548
Can't reproduce on 3c23db4d8a8cc51205f1999e5646d386322fb774.

[code]

[2016-09-15 15:42] ChALkeR commented on #8548
@bzoz Are you sure you are on the current master branch and don't have any local changes? Try a clean checkout.

[2016-09-15 15:44] ChALkeR commented on #8548
Also note that `node -e require('internal/freelist')` couldn't possibly work, it has to be `node -e "require('internal/freelist')"`.

[2016-09-15 16:37] bzoz commented on #8548
I tired again. Did `git clean -fdx`, then build node from scratch. I still can require `internal/freelist` without any problem:
![image](https://cloud.githubusercontent.com/assets/17704638/18558324/f03dec96-7b72-11e6-8b14-ae759c488037.png)
Trying `internal/something` fails as expected.

[2016-09-15 16:43] mscdex commented on #8548
I just tried it as well and I see the exception being thrown.

[2016-09-15 16:47] ChALkeR commented on #8443
@adammockor In this case, there are 100000 `Module` instances still reachable. You could check that by loading the heapsnapshot into the profiler.

As could be seen from the heapsnapshot, those are stored in `.children` property of the current module, accessible through `require.cache[require.resolve('./index.js')].children` in your case.

Note that manual unloading through deleting from `require.

[2016-09-15 16:50] ofrobots commented on #8464
Another idea: if the ports are different, perhaps we can start both debug servers when SIGUSR1 arrives (and optionally close the other port one when the first port gets a connection.)

[2016-09-15 16:52] ChALkeR commented on #8548
@bzoz, try doing that in a clean directory.

[2016-09-15 16:53] bzoz commented on #8548
Ok, I'll try that tomorow.

[2016-09-15 17:06] adammockor commented on #8443
Thank you for clarification.
So is there an official way? Or if we want to hack around, we can do this:
[code]

[2016-09-15 17:51] jasnell commented on #8506
My apologies for missing the call yesterday. Not entirely adjusted to Amsterdam time and pretty much crashed as soon as I got back to the hotel room.

[2016-09-15 17:55] jasnell commented on #8548
Also unable to recreate this.

[2016-09-15 18:04] imyller commented on #8548
I can't reproduce this with v4.5.0 LTS, v6.5.0 or with current master 3c23db4d8a8cc51205f1999e5646d386322fb774

Tested both Mac and Linux.

[2016-09-15 19:58] saghul commented on #5798
Not 100% ready yet, but feedback is more than welcome: https://github.com/libuv/libuv/pull/1055

[2016-09-15 21:00] Trott opened #8554 "Adopting project workflow to new GitHub features"
At the @nodejs/ctc meeting yesterday, @ChALkeR brought up the possibility of using some of the [new GitHub tools and features](https://github.com/blog/2256-a-whole-new-github-universe-announcing-new-tools-forums-and-features) to assist the workflow of landing code in this repository.

I'm particularly interested in whether the GitHub pull request approval feature might help us make things more rob

[2016-09-15 21:11] cbaron commented on #8361
At least an update?!?

I'm trying to write an application on the bleeding edge..

[2016-09-15 21:24] imyller commented on #8554
I'm +1 for using new PR code review and approval features.

We can also comment the review approval with familiar "LGTM" for time being.

About API: looks like only early-access GitHub GraphQL API allows access to reviews and list of approving collaborators.

[2016-09-15 21:38] Qard commented on #8554
I'd agree that approval invalidation on code change is mostly a nice feature, but it might be a bit annoying to have to reapprove after asking  that metadata get added to the commit. I'm still +1 though.

[2016-09-15 23:15] mlucool commented on #8509
This would be a huge help for us too

[2016-09-15 23:22] chatziko opened #8555 "vm: node crashes if timeout is set and nofile limit is reached"
* **Version**: v6.6.0 and v4.5.0
* **Platform**: ubuntu trusty, 3.13.0-86-generic, x86_64
* **Subsystem**: vm

If a timeout is given to one of ```vm```'s methods, and the nofile limit is reached, the node process crashes. It can be easily reproduced (on both v4.5.0 and v.6.6.0) with this 2-liner:

[code]

It seems that ```node::Watchdog``` tries to create a libuv thread to implement the timeout. `

[2016-09-16 00:40] DemiMarie commented on #8195
What about requiring that, for an expression to be submitted, it must be followed by 2 newlines or by a semicolon?

[2016-09-16 00:43] DemiMarie commented on #8310
Clang doesn't support `-fno-delete-null-pointer-checks`.  So either a bug needs to be filed with LLVM, V8 needs to fix their code, or we need to confirm with LLVM developers that LLVM does not optimize under the assumption that `this != nullptr`.

[2016-09-16 02:22] misterdjules commented on #3796
cfe76f2d6bd77d3c0a73335c9643bcd6e8dd24fc reintroduced the no buffering mode for `stderr` on SmartOS, which made `test-debug-signal-cluster.js` flaky again.

Running `test-debug-signal-cluster.js` with DTrace, we can see that each [debug output from the agent](https://github.com/nodejs/node/blob/a9387db86737cb6e10d1fe61851bb9072204f776/lib/_debug_agent.js#L24) translates into two different write sy

[2016-09-16 04:03] Trott opened #8558 "CTC membership nomination: @thefourtheye"
A majority of CTC members would like to propose adding @thefourtheye (Sakthipriyan Vairamani) to join as a voting member of the CTC. Sakthipriyan has demonstrated versatility and commitment on a number of aspects of the Node.js project and has been the most active non-CTC contributor to core over the last 6 months.

This is a public nomination process, if there are objections from @nodejs/collabor

[2016-09-16 04:17] Slayer95 commented on #8443
@adammockor , you can try ``uncacheTree('./module.js')`` as described in the OP, which <em>should</em> handle references through children, but UAYOR.

[2016-09-16 05:04] jokeyrhyme commented on #8044
FYI:
-   6.2 has `fs.constants === undefined`
-   6.3 has `fs.constants !== undefined`

I use the following in my code for compatibility, e.g.
[code]

[2016-09-16 07:45] targos commented on #8554
@Trott

I'm not sure that's true. I force pushed changes to https://github.com/nodejs/node/pull/8552 and your approval is still there.

[2016-09-16 08:14] samarth opened #8560 "Node js gives No such file or directory if the CPU version is incorrect"
* **6.6.0**:
* **Ubuntu 14.04 LTS**:
* **Subsystem**:

I downloaded the 32 Bit node binary instead of the 64 bit binary ,

I got the following error  :

-bash: ./bin/node: No such file or directory

Can we make this more descriptive saying that the binary of node is incompatible with your cpu architecture ?

Would be great .. Thanks .

[2016-09-16 08:19] bnoordhuis commented on #8310
`CodeGenFunction::ShouldNullCheckClassCastValue()` in clang 3.8 suggests that clang always assumes `this != nullptr`.

Clang does know about `-fno-delete-null-pointer-checks` but it's a no-op.

[2016-09-16 08:21] bnoordhuis commented on #8560
That message is printed by bash, not node.

[2016-09-16 08:21] #8560 closed

[2016-09-16 08:22] benjamingr commented on #8558
+1000 this is an awesome idea and I'm excited to see it happen. Ever since @thrfourtheye has been made a collaborator (and before) his dedication and consistent contribution has been inspiring. The project is lucky to have him and so would the CTC.

Let's make this happen.

[2016-09-16 08:41] bnoordhuis commented on #8361
I don't have time to look at this right now.  If you think this is a node.js bug, you will either have to investigate yourself or get another contributor to look at it.

[2016-09-16 08:54] bnoordhuis commented on #8418
/cc @nodejs/crypto in case you missed it.

[2016-09-16 09:03] indutny commented on #8418
I agree with @bnoordhuis , if it can be constructed using existing APIs - there is no need in exposing it.

[2016-09-16 09:07] jasnell commented on #8558
LGTM!

[2016-09-16 09:09] jasnell commented on #8554
Big +1 on using the new tools.

[2016-09-16 09:55] jorangreef commented on #8418
Thanks @indutny

[2016-09-16 09:55] #8418 closed

[2016-09-16 10:07] MugeshBTech opened #8561 "Getting error in open"
**MyCode**
var http = require('http'),
   open = require('open'),
   server;
server = http.createServer(function (req, res) {
           res.writeHead(200, {'Content-Type': 'text/plain'});
           res.end('Hello World\n');
        });
server.listen(1337, '127.0.0.1',function(){
    console.log('Launching the browser!');
    open('http://127.0.0.1:1337');
});

**CommandPromptError**

C:\Users\is

[2016-09-16 10:15] ericmdantas commented on #8561
That's because you're installing `open` with the `global` flag (`-g`). Run the npm install as `npm i --save open` and it should work.

[2016-09-16 10:24] MugeshBTech commented on #8561
@ericmdantas
If i use the command (npm i --save open) and do the installation, in which location npm-module will be created

[2016-09-16 10:26] bzoz commented on #8548
I've tried with a clean directory and it still reproduces.

[2016-09-16 10:26] ericmdantas commented on #8561
@MugeshBTech the location your terminal path is showing.

In your case, it should be something like: C:\path\to\your\project.

[2016-09-16 10:36] MugeshBTech commented on #8561
@ericmdantas
Thank you so much for your support.

[2016-09-16 10:36] #8561 closed

[2016-09-16 10:38] ericmdantas commented on #8561
You're welcome :smile:

[2016-09-16 10:40] MugeshBTech opened #8563 "Getting error"
D:\Mugesh\SAMPLES\Node Samples\createServer>tsd query node express --action install
'tsd' is not recognized as an internal or external command,
operable program or batch file.

[2016-09-16 10:45] imyller commented on #8548
@bzoz Did you `git clone` to fresh directory, `./configure` and then `make -j8` etc.

If so, just to be sure: what is the output of ```./node --version```

[2016-09-16 10:48] bzoz commented on #8548
I did, fresh directory, fresh build. The output is as expected: `v7.0.0-pre`

[2016-09-16 10:52] evanlucas commented on #8563
Hi @MugeshBTech! I'm not sure what tsd is but this doesn't seem to be an issue with Node.js. Can you open this issue over at https://github.com/nodejs/help? Thanks!

[2016-09-16 10:52] #8563 closed

[2016-09-16 11:13] imyller commented on #8548
And just double checking, what is the output of:

[code]

[2016-09-16 11:30] imyller commented on #8548
Obviously this can be reproduced with:

[code]

That's why you should check what is in your `NODE_PATH` and the content of other paths resolved by default.

For example look if there is anything interesting in:
[code]

Also try:

[code]

[2016-09-16 12:18] #4427 closed

[2016-09-16 12:20] joaocgreis commented on #7989
Here is a test build of v6.6.0 with VS2015: https://nodejs.org/download/test/v6.6.0-test201609140a3ad92292/ . This can be used to test native modules.

[2016-09-16 12:28] #4878 closed

[2016-09-16 12:28] indutny commented on #4878
Looks like the issue is resolved in some sense.

[2016-09-16 12:58] born2net commented on #7102
I am using angular-cli (ng serve) which does not expose node (runs it internally) any ideas on how to add that flag?

[2016-09-16 13:02] bzoz commented on #8548
With `NODE_PATH= ./node -e "require('internal/freelist')"` it fails as expected. My NODE_PATH has `/usr/lib/nodejs:/usr/lib/node_modules:/usr/share/javascript` in it.

[2016-09-16 13:03] jbergstroem commented on #8554
One step closer to automating landing pull requests :tada:  I'm also for this but need to do some reading to better understand how we can use this from github-bot and other places. We're doing testing over at https://github.com/TestOrgPleaseIgnore if someone wants a playground.

[2016-09-16 15:37] jtlapp opened #8565 "--debug does not provide debugger with 1st breakpoint context"
Version: 6.2.2 - 6.6.0 (and maybe earlier versions)
Platform: `15.4.0 Darwin Kernel Version 15.4.0: Fri Feb 26 22:08:05 PST 2016; root:xnu-3248.40.184~3/RELEASE_X86_64 x86_64`
Subsystem: node debug server

When  using `--debug` instead of `--debug-brk`, node does not report contextual information about the first `debugger` statement breakpoint to the debugger. This is easy to recreate:
1. Add a `d

[2016-09-16 15:44] joaocgreis commented on #7989
@saper Any chance you could give this test build a try with `node-sass`? I've tested it, and I get exactly the same results as with the official release: 5905 passing, 322 pending (running in a VM with VS2013 installed). Given that `node-sass` had the only known issue with VS versions in the past, an "all clear" from you would be invaluable. Thanks!

[2016-09-16 16:01] joaocgreis commented on #6045
Fixing the `PlatformToolset` would prevent users from building with any other version of Visual Studio.

I've been trying to get `node-sass` and other modules to fail when they are build with a different version of VS than node, but I couldn't find any problem so far. Note that the issue in `node-sass` was in Windows XP, which we no longer support.

Given this, I don't see a pressing reason to for

[2016-09-16 16:58] imyller commented on #8548
I'd say you have to check the content of your NODE_PATH targets for any copies of or symlinks to Node.js core libraries.

It's safe to say that Node.js binary you've built does not expose `internal` modules but your environment does.

[2016-09-16 17:04] gibfahn opened #8566 "v6.6.0 commit appearing in master branch"
* **Version**: master

A copy of the v6.6.0 release commit (https://github.com/nodejs/node/commit/ea2a309e3b) appears to be in the master branch.

I don't think this is supposed to happen (though I'm happy to be wrong)! Just thought it was worth checking in case it's an issue with the release process.

Commit in master: https://github.com/nodejs/node/commit/ea2a309e3b
Commit in v6.x: https://githu

[2016-09-16 17:05] evanlucas commented on #8566
We always cherry-pick the release commit to master after a release

[2016-09-16 17:06] cjihrig commented on #8566
This is expected. Thanks for the heads up though.

[2016-09-16 17:06] #8566 closed

[2016-09-16 17:07] gibfahn commented on #8566
Ahh okay, thanks for the explanation.

[2016-09-16 17:24] Trott commented on #8375
@bnoordhuis Do you have an opinion as to which of these is the right way to approach solving this issue?

* Skip the test on AIX. This basically says: "Re-opening a closed stdio handle on /dev/null is a good feature, we like it, we want to keep it, but we're OK that there are platforms where the behavior may make this not possible."

* Remove this code and the test and consider closed stdio stream

[2016-09-16 17:29] cjihrig commented on #8526
I'm not sure that making this change is worth the risk, especially when you can already use relative paths. I'll leave this open in case another collaborator is willing to champion this.

[2016-09-16 17:47] bnoordhuis commented on #8375
I think it's a good feature to have; I wrote the code for a reason. :-)

The reason to make sure fds 0-2 refer to _something_ is that it's a potential data leak otherwise. Imagine an attacker manages to open a socket with fd 1 - they will receive everything that the application prints through `console.log()`.

[2016-09-16 17:51] Trott commented on #8375
@bnoordhuis Would I be correct to conclude that if it turns out it can't be reliably implemented on AIX, then skipping the test on AIX would be your preference and leave the feature alone on other POSIX instances?

[2016-09-16 17:57] bnoordhuis commented on #8375
Correct.

[2016-09-16 17:57] Trott commented on #8375
I suppose another option is to alter the test to confirm that if a stdio stream is closed on startup, that it can't be re-opened. It does mean accepting a behavior difference: Linux (for example) will silently discard writes to the "closed" stream (which will really be re-opened but pointed at `/dev/null` rather than closed) while AIX will throw `EBADF` if you try to write to the closed stream. Bu

[2016-09-16 18:05] sam-github commented on #5798
For those that believe Linux's `/dev/urandom` can have no security issues: https://www.schneier.com/blog/archives/2013/10/insecurities_in.html (and others).

I haven't seen a single compelling reason in this thread to switch away from OpenSSL's PRNG, its a platform abstraction layer on top of platform-specific entropy sources... seems like exactly what we want.

Also, its easy to complain about so

[2016-09-16 18:50] misterdjules commented on #3796
See #8568 for a PR that makes `test-debug-signal-cluster.js` not flaky.

[2016-09-16 19:27] #8288 closed

[2016-09-16 19:41] paragonie-scott commented on #5798
That's not the argument, at all. The argument is this:

1. Your entire operating system already depends on `/dev/urandom` to be secure.
2. Adding a second userspace PRNG doesn't create defense-in-depth against the failure of the OS's CSPRNG, it just creates **an additional point of failure**.
3. Given that OpenSSL's userspace PRNG has a lot of problems (i.e. isn't fork-safe, which screwed over the

[2016-09-16 20:32] sam-github commented on #5798
User-space gives defence against locking problems in urandom, as you have been told, and is one of the objections to OpenSSL itself shifting over to direct read of urandom.

A well-constructed PRNG cannot magically add entropy, but neither does it magically subtract.

Node implementing its own platform abstraction for entropy also adds an additional point of not-well-reviewed failure, so this poin

[2016-09-16 20:36] Trott commented on #5798
Aside: Assuming we're not already doing so, it might be a good idea to add [the `sodium` package](https://www.npmjs.com/package/sodium) to our CITGM runs. Doesn't seem to get a *ton* of usage, but a decent amount, and it seems like exactly the kind of thing that might help us find some unusual corner cases. (Plus, I'm sure we'd be doing the maintainers a favor if we identified either unusual platf

[2016-09-16 20:55] paragonie-scott commented on #5798
In no *particular* order:

* Dan J Bernstein, cryptography professor who helped bring us:
  * Salsa20
  * ChaCha20
  * Poly1305
  * X25519 over Curve25519
  * SipHash
* Tanja Lange, whom is the professor spearheading the worldwide post-quantum cryptography research initiatives.
* Thomas Ptacek (@tqbf), who ran an appsec/crypto pen-testing firm for years and based his "use urandom" blog post on the

[2016-09-16 21:16] paragonie-scott commented on #5798
(Corrected a mistake in my previous comment and wanted to make it known that there are probably about 50 - 100 other people I could have listed there too, but the list is plenty long enough.)

[2016-09-16 21:37] sam-github commented on #5798
OK, I also got the opinions of someone I know to be a security expert (the requirement is a successful track record of _breaking_ systems), and they agree with you (and know you): current best practice is direct read from O/S entropy sources.

Whether that is best for Node.js though, is not as clear, there are other factors to consider.

1. Is it proposed to only modify `crypto.randomBytes()`, or

[2016-09-16 21:51] paragonie-scott commented on #5798
1, 2, and 4: `RAND_system_bytes()` is not implemented as of 1.1.0 (which was just released), and we'll be waiting for a while until 1.2.0 comes out. That would be the ideal solution.

3: If the two are in conflict, security should take precedence over performance when it comes to cryptography. However, a significant performance penalty just invites DoS attacks (which is a security problem). So I a

[2016-09-16 22:00] saghul commented on #5798
I'd like to clarify that while libuv might get this API I didn't implement
it with this issue in mind. Node need not use it.

Moreover, even if the libuv patch lands tomorrow (which will not happen
anyway) it's targeted at master, not v1.x. That means that in principle it
will be part of libuv 2.0. This is intentional, so we have a bit more
leeway to make changes should issues be discovered with t

[2016-09-16 22:14] imyller commented on #1271
Revisited this old issue with current master and v6.6.0:

* Can still reproduce this on Linux
* Could not reproduce on Mac

[2016-09-16 22:33] imyller commented on #6437
Closing this issue as resolved with PR #6530

[2016-09-16 22:33] #6437 closed

[2016-09-16 22:54] #3796 closed

[2016-09-16 22:56] imyller commented on #8554
Of the newly introduced features, the GitHub Projects could be used to better coordinate and track any efforts spanning across multiple issues and pull requests.

Currently many older & open issues remain forgotten and it's hard to keep up with the specific efforts overall progress.

https://help.github.com/articles/tracking-the-progress-of-your-work-with-projects/

Few examples:
* WHATWG URL impl

[2016-09-16 23:11] joepie91 commented on #5798
I just want to point out here that there are plenty common *non-HTTPS* usecases for `crypto.randomBytes` in Node - from UUID generation, to other (non-OpenSSL) crypto implementations, to lottery-type random-number-picking, and so on. Even *if* the problem would remain unsolved for HTTPS, there'd still be a clear win in other areas.

[2016-09-17 00:16] olalonde opened #8569 "Buffer.from(str, encoding) silently ignores decoding errors"
- **Version**: Node v6.5.0
- **Platform**: OS X 10.11
- **Subsystem**: Buffer

`Buffer.from` silently ignores decoding errors.

[code]

I know this is now the expected behavior but it would be useful, e.g. when writing parsers for strict protocols, to have a `Buffer.safeFrom` which throws on decoding errors. It could also be passed as a parameter, e.g.: `Buffer.from(str, [encoding, throwOnError])`

[2016-09-17 01:42] veshboo commented on #8375
`fcntl(fd, F_GETFD, 0)` instead of `fstat`? Anyone already tried?

[2016-09-17 03:10] co60ca commented on #5798
To @joepie91 I've seen a implementation of UUID v4 use math.random so yes, a secure default that pulls from system entropy would be fantastic.

[2016-09-17 03:45] DemiMarie commented on #8310
Does anyone have enough knowledge of Clang and/or LLVM to implement
-fno-delete-null-pointer-checks in Clang?  If not this should be a feature
request against Clang.

On Sep 16, 2016 4:20 AM, "Ben Noordhuis" <notifications@github.com> wrote:

CodeGenFunction::ShouldNullCheckClassCastValue() in clang 3.8 suggests that
clang always assumes this != nullptr.

Clang does know about -fno-delete-null-poi

[2016-09-17 04:25] scttcper opened #8571 "v6.6.0 node::PBKDF2() Out of Memory"
The following code crashes in v6.6.0 on OSX 10.11.6. v6.5.0 does not crash.

running
[code]

results in
[code]

This was code extracted out of https://github.com/neumino/rethinkdbdash that was crashing a project.

[2016-09-17 04:31] Trott commented on #8375
Switched the `fstat` to this: `if (fcntl(fd, F_GETFD, 0) != -1)`

`make test` still passes on my OS X machine.

Still fails on AIX: https://ci.nodejs.org/job/node-stress-single-test/918/nodes=aix61-ppc64/console

Given [the results from a couple days ago](https://github.com/nodejs/node/issues/8375#issuecomment-247209282), I don't think any tweak to the `fstat()` call has a chance of working by its

[2016-09-17 04:34] not-an-aardvark commented on #8571
I was able to reproduce this on OSX 10.11.6.

[2016-09-17 04:34] MarkHerhold commented on #8571
@scttcper Thanks for reporting this! I just hit the same issue in my project which also uses rethinkdbdash, so I assume the issue is the same.

[2016-09-17 04:41] mscdex commented on #8571
Confirmed on Linux as well.

[2016-09-17 04:44] not-an-aardvark commented on #8571
It's possible https://github.com/nodejs/node/commit/a00ccb0fb9eb716925058b0a20fcec9251de3309 is the cause, I'll bisect to verify.

[2016-09-17 04:50] mscdex commented on #8571
I can confirm, reverting a00ccb0fb9eb716925058b0a20fcec9251de3309 fixes it.

/cc @mhdawson @addaleax @bnoordhuis

[2016-09-17 04:57] mscdex commented on #8571
I think we may need to add a length check for every `nullptr` check, like what was done in ed640ae4cb3ca4a40311dc6fec62bfd87efec4cf

[2016-09-17 05:17] ALJCepeda commented on #2842
I'd like to give this a shot if no work's been done on it. If I understand correctly the task is to strip the `Trailer` header from responses that don't have `Transfer-Encoding: chunked` including 304s since they aren't chunked.

However, tunniclm from Express suggests this is a valid response and should be accepted by the proxy and the user can prevent this issue by not adding this header to resp

[2016-09-17 05:34] ALJCepeda commented on #2842
@jasnell @wprl I'd like to give this a shot if no work's been done on it. If I understand correctly the task is to strip the Trailer header from responses that don't have Transfer-Encoding: chunked including 304s since they aren't chunked.

However, tunniclm from Express suggests this is a valid response and should be accepted by the proxy and the user can prevent this issue by not adding this hea

[2016-09-17 05:49] Trott commented on #8571
Sure seems like that change set needs to be gone over to find nullptr checks that might be affected.

As far as the specific issue here, test case and proposed fix at https://github.com/nodejs/node/pull/8572

[2016-09-17 06:00] mania25 opened #8573 "Error While Installing From FreeBSD Port"
I've got error while installing from freebsd ports, i'm using freebsd 10.3

Error Message

creating  ./icu_config.gypi
{ 'target_defaults': { 'cflags': [],
                       'default_configuration': 'Release',
                       'defines': [],
                       'include_dirs': [ '/usr/local/include',
                                         '/usr/local/include',

[2016-09-17 07:24] deian commented on #8537
I don't think this fits under that category. (We're the ones that found #7902 FWIW) This is already using `MaybeLocal`; in fact the bug is using that to cause the crash

[2016-09-17 07:26] deian commented on #8538
Like #8537, I also don' think this will be resolved by using the Maybe API. This is deliberately abusing the `CHECK` to dump core.

[2016-09-17 08:21] connium commented on #6752
working on that

[2016-09-17 08:53] #8440 closed

[2016-09-17 09:20] psmarcin opened #8589 "Three c++ test errors"
* **Version**: master (a89c23f8ebb8d47e2f577d3594bfb465c1861d25)
* **Platform**: Darwin static.ip-***.signet.nl 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64
* **Subsystem**: test

I'm running the tests on master and I get these three c++ test errors:

[code]

It's a completely clean build from master.
I use macOS Sierra v 10.12(16A32

[2016-09-17 09:29] quibusus opened #8591 "Raise a warning when listening for usafe signals"
mentioned at node interactive nodejs/code-and-learn#56

We might want to emit a warning for signals that users shouldn’t listen on (as listed in the docs warning in nodejs/node#8410)

[2016-09-17 09:37] mscdex commented on #8589
Duplicate of https://github.com/nodejs/node/issues/8498.

[2016-09-17 09:37] #8589 closed

[2016-09-17 09:38] niieani commented on #8571
I'm also getting a crash when running `tsc` compilation (TypeScript) with 6.6.0. It works with 6.5.0. Not sure if it's the same error though.

[2016-09-17 09:55] beppe9000 opened #8608 "Taskbar is not hidden in fullscreen"
* **Platform**: Windows 10 x64 1607 build 14393
* **Subsystem**: wow64 ?

I experienced this issue with multiple applications based on node.js: it somehow messes up windows taskbar, preventing it from disappearing while in fullscreen. So the app is fullscreen but the taskbar is not hidden, so it cover the lower portion of the app surface.

I have not been able to find a better workaround than kill

[2016-09-17 10:22] canastro opened #8613 "response's close event not being triggered"
* **Version**: 7.0.0-pre
* **Platform**: Darwin 15.2.0 Darwin Kernel Version 15.2.0: Fri Nov 13 19:56:56 PST 2015; root:xnu-3248.20.55~2/RELEASE_X86_64 x86_64
* **Subsystem**: test, lib

While attending the code and learn in the Node Interactive at Amesterdam we we’re giving the task of cleaning up some of the unit tests to follow the latest guidelines.

In the file `test/parallel/test-http-agent-

[2016-09-17 11:36] Thylossus commented on #8498
Hi,

I would like to add that I'm experiencing the same issue. I forked and cloned the repo just this morning and I am using Windows. So this issue is probably not Mac specific.

Specs:

* **Version:** master (latest)
* **Platform:** Windows 8.1 (Version 6.3 Build 9600) with Visual Studio 2015

[code]

[2016-09-17 11:53] TheAlphaNerd commented on #8558
LGTM

On Fri, Sep 16, 2016, 11:07 AM James M Snell <notifications@github.com>
wrote:

[2016-09-17 12:30] jbergstroem commented on #8558
Not a CTC member but as part of the community I feel good knowing he was nominated and hopefully soon a part of it! :+1:

[2016-09-17 13:01] fene opened #8629 "alter blog post pushing guidelines and commits to nodejs.org master"
so one thing that's been bugging me is the process for blog post publishing in the `nodejs.org` repo. `releases.md` states that you should immediately merge the blog post PR, however this goes against every other process we have in the website WG. same goes for pushing to master (looking at you @mikeal). could we at least try to change the document so that there needs to be a signoff by a TSC/CTC

[2016-09-17 13:20] cjihrig commented on #8629
FWIW, I think all of the people who have been doing releases are CTC members.

[2016-09-17 13:25] TheAlphaNerd commented on #8629
@fene the issue that we will primarily deal with is that when doing a release everything is very time sensitive. In order to generate the release post we need the sha's and size information for all the assets in the tarball. This information is not available to the website tool until the release has been promoted. Once the release is promoted we want to get the post up ASAP.

Adding an extra sign

[2016-09-17 13:29] fene commented on #8629
@TheAlphaNerd i'd at least appreciate that, yeah. maybe a short notice on the PR that it doesn't need a sign-off or something?

[2016-09-17 13:33] cjihrig commented on #8538
See #8567 for a fix for this one.

[2016-09-17 13:33] TheAlphaNerd commented on #8629
could we include a shorthand in the title that signals that?

For example

[code]

I think the issue starts to become one of redundancy... when the body is not saying much more than the title at all.

[2016-09-17 13:36] fene commented on #8629
oh yeah, that would probably work

[2016-09-17 13:46] ArielSaldana opened #8630 "New keyword returns cached module, is this behavior expected?"
var Response = require('./utilities/res');

var res = new Response(false, "not working");
var res2 = new Response(true, "why");

[2016-09-17 13:47] evanlucas commented on #8630
can you give us a reproducible test case?

[2016-09-17 13:49] cjihrig commented on #8630
If I understand your question correctly, yes this is expected. `Response` appears to be a constructor function that is exported from `'./utilities/res'`. The result of `require()` has nothing to do with the use of `new`.

[2016-09-17 14:00] ArielSaldana commented on #8630
Here is respone.js
`var res = {
    success : null,
    message : null,
    payload : {}
}

var Response = function (flag, message) {
    res.success = flag;
    res.message = message;
    // res.payload = {};
}

Response.prototype.addPayload = function(objname, obj) {
    res.payload[objname] = obj;
}

Response.prototype.toJson = function() {
    return res;
}

// module.exports = Response;
expor

[2016-09-17 14:05] cjihrig commented on #8630
There is only one instance of `res` shared among all constructed `Response` objects. Closing as not a bug.

[2016-09-17 14:05] #8630 closed

[2016-09-17 14:05] TheAlphaNerd commented on #8629
Here is one from @Fishrock123 I like.

[code]

Includes a reference to the original PR for the release.

I did just audit the various commits within the website and noticed that there does not appear to be any consistency regarding having a body to a commit. A non trivial number of commits from various wg members appear to be with only a title. As such should we be expecting a higher bar for Blog

[2016-09-17 14:06] atoponce commented on #5798
As another example of using crypto.randomBytes() in a non-HTTPS setting, I am using it in a password generator: https://github.com/atoponce/nodepassgen.

[2016-09-17 14:12] mscdex commented on #8608
Node core itself has nothing to do with GUIs, so most likely the problem is with whatever framework that is being used to create the GUI (e.g. electron, nw.js, etc.).

[2016-09-17 14:12] ArielSaldana commented on #8630
l

[2016-09-17 14:17] fene commented on #8629
there is no specific rule for this in the `CONTRIBUTING.md` for the website repo, no. however, since the blog PRs are instantly merged (unlike all others), which makes them special, i think that they should include a special description that other commits may not have

[2016-09-17 14:26] ojss commented on #8493
That would be a good addition, useful even, but at the same time I don't see anyone using it. calling `help()` in python is not exactly the first thing that enters my mind when I want to check what functions are defined in `heapq`. I would just look it up on google, similarly for node or any other environment/language except maybe rust.
Ultimately what I want to say is that, putting effort into th

[2016-09-17 14:28] TheAlphaNerd commented on #8629
@fene ok. Can you please send a PR to `Release.md` that outlines the new process? We can make sure to get sign-off from all the releasers before landing

[2016-09-17 14:39] fene commented on #8629
@TheAlphaNerd can i edit the document to link to guidelines that i'll add in the website repo?

[2016-09-17 14:43] TheAlphaNerd commented on #8629
I would include the full instructions in that document with exactly what
you would like done. pointing to another document can be somewhat frail.

On Sat, Sep 17, 2016, 4:39 PM fen <notifications@github.com> wrote:

[2016-09-17 14:45] fene commented on #8629
alright, fair enough

[2016-09-17 14:46] ojss commented on #8569
@olalonde I think we can use regular expressions to check for the validity of the encoding.

[2016-09-17 14:58] wangxu3655 commented on #8630
@ArielSaldana @evanlucas @cjihrig  Hello everybody, here is my opition :
Response.res is a global variable，so  all instances  share it 。I  tried to modify respone.js , like this：
------------
var Response = function (flag, message) {
	    this.res = {
    success : null,
    message : null,
    payload : {}
    }
    this.res.success = flag;
    this.res.message = message;
}

Response.prototype.ad

[2016-09-17 15:38] fhinkel commented on #8555
I can reproduce the issue on Mac OS, Node 6.6.0.

[2016-09-17 15:47] not-an-aardvark commented on #8571
@niieani, would you mind posting the stack trace of the `tsc` crash (if there is one)? This will help us triage the issue to figure out if it's the same one, or create a new fix if not.

[2016-09-17 17:06] dmilith opened #8635 "NPM hangs on system, under FreeBSD 11.0 and OSX 10.11 with Node 6.5+"
I did build Nodejs 6.4.0+ under OSX 10.11, Darwin 15.6.0 - x86_64 (all 6.x versions does it under OSX and HardenedBSD/FreeBSD 11.0 as well)
Build went fine, but:

0. I did complete wipeout of anything Node related so I did rm -rf ~/.npm ~/.node* and stuff before builds.

1. When did --without-npm to configure, and trying std method of installing NPM there:
http://ół.pl/d968120bfbc83a579218a8619d37

[2016-09-17 17:08] dmilith opened #8636 "Unable to build 4.5.0 LTS on Darwin"
OSX 10.11, Darwin 15.6.0 - x86_64:
Building Node exactly same way as I did build 6.6.0 before:
http://ół.pl/3227d2ab6afa3d0db94973a7e02d33b4.png

[2016-09-17 17:14] dmilith commented on #8636
This might be also related to update to Xcode 8 with Clang 8:

[code]

[2016-09-17 17:21] Fishrock123 commented on #8629
This isn't necessarily true, nor should it be.

I'd be ok with some commit message guidelines, but I think releasers should still always be able to publish immediately.

The same rights also count for the core repo where releasers are able to push releases without other explicit signoff in many cases. This includes updating the changelog in `master` without a PR.

Requiring a PR for that would jus

[2016-09-17 17:24] cjihrig commented on #8629
I agree, I was just stating the current reality in response to the comment that TSC/CTC signoff should be required.

[2016-09-17 17:35] dmilith commented on #8635
Some more details from --verbose:

[code]

[2016-09-17 17:38] Fishrock123 opened #8637 "Benchmark var -> const before merging mass rewrites"
@nodejs/collaborators

Suggested by @mscdex in https://github.com/nodejs/node/pull/8609#issuecomment-247774263

[2016-09-17 17:40] cjihrig commented on #8637
Most of the mass rewrite is in tests. This only really needs to apply to `lib/` code right?

[2016-09-17 18:00] addaleax commented on #8635
Does that mean that this only occurs for you with Node v6.5+? Does `(sudo) npm install -g npm@next` help?

[2016-09-17 18:03] Fishrock123 commented on #8637
Probably. I wouldn't mind the tests running faster either but I doubt it would be noticable.

[2016-09-17 18:04] Fishrock123 commented on #8565
@jtlapp I think you are looking for `--debug-brk`.

[2016-09-17 18:10] addaleax commented on #8635
Also, what does “hanging” mean? 100 % CPU? Does it abort properly when using Ctrl+C?

[2016-09-17 18:20] dmilith commented on #8635
[code]

hang means.. it never ends.

No, hang - deadlock. No CPU usage. Haven't dtrace it yet.

[2016-09-17 18:21] dmilith commented on #8635
It means - It affected previous 6.x versions I tried. On both systems.

[2016-09-17 18:33] fcostarodrigo opened #8638 "fs.utimes arguments documentation"
* **Version**: v6.5.0
* **Platform**: Linux dell 4.4.20-1-MANJARO #1 SMP PREEMPT Wed Sep 7 19:11:34 UTC 2016 x86_64 GNU/Linux
* **Subsystem**:

Could the documentation of `fs.utimes` (It says the type is Integer, and NaN or Infinity, will be converted to `Date.now()`) be more clear about the arguments? It looks like I can pass `new Date()`, but `Date.now()` needs to be divided by 1000. According t

[2016-09-17 18:37] TheAlphaNerd commented on #8629
one thing that I think is important to remember is the purpose of process

process exists to help us succeed as a group. it is not set in stone, note
does it exist for its own sake.

generally productivity will trump process. pushing release notes directly
to master is a great example I had not considered including.

I think the issue here is that of respect. I have been opening prs for all
releas

[2016-09-17 18:42] addaleax commented on #8637
Btw, I’m sorry if you feel like this is all a bit much. There were a lot more people showing up than anyone anticipated, so distributing tasks was kind of an ad-hoc thing, and I think most of us see that as a really positive thing – @Fishrock123 @mscdex @cjihrig @targos and everyone else who’s not busy here and reviewing: you are just the best. :heart: `</offtopic>`

[2016-09-17 18:42] dmilith commented on #8635
How to set family to 4 in npmrc?

[2016-09-17 18:44] addaleax commented on #8635
I don’t know, but from the looks of it, you should probably report this over at https://github.com/npm/npm anyway. The people who take looks on that issue tracker might have more information about that kind of question, too.

[2016-09-17 18:45] dmilith commented on #8635
Even more rainbow here - http://ół.pl/79c215ccf3543e92855ac8a90a7bc691.png

[2016-09-17 18:48] dmilith commented on #8635
@addaleax Forget about npm.. it's Node causing problem not npm.. Look on issues on other node projects. f.e. node_redis. It will fail on any DNS via ipv6 - or whatever it does there.

[code]

This is the cause. A buggy Node API IMHO. Untested ipv4 + ipv6 environments.

[2016-09-17 18:53] ghiscoding commented on #8571
I can also confirm that reverting back to `NodeJS v6.5` fixes the problem (running on Win10). I will stick with `6.5` until resolution.

[2016-09-17 18:54] addaleax commented on #8635
A reason for that opinion might be helpful, other than “this occurs in multiple projects which use Node.js”.

[2016-09-17 18:55] dmilith commented on #8635
It's not about opinion but understanding how stuff works. I'm not here to troll with you :) have a nice day

[2016-09-17 18:58] x-ji opened #8639 "The installation script doesn't work correctly on Ubuntu 16.04 LTS. When the user intends to install v6, v4 is actually installed."
* **4.2.6**:
* **Linux xiang-ubuntu 4.4.19-040419-generic #201608201335 SMP Sat Aug 20 17:37:29 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux**:

As documented at http://askubuntu.com/questions/786272/why-does-installing-node-6-x-on-ubuntu-16-04-actually-install-node-4-2-6, apparently there's some error in node installation script and when the user intends to install Node v6 on Ubuntu 16.04 LTS, v4 is a

[2016-09-17 19:57] bnoordhuis commented on #8635
'family must be 4 or 6' means something is passing an invalid argument to dns.lookup(), presumably npm.  So far I see no reason to believe this is a node.js issue.

[2016-09-17 20:35] #8608 closed

[2016-09-17 20:40] benjamingr commented on #8591
You might want to elaborate on why it's unsafe in the warning text in your commit.

[2016-09-17 20:42] addaleax commented on #8591
#8601 is a PR for this.

[2016-09-17 20:47] bnoordhuis commented on #8537
It's a variation on the same theme.  CopyProperties() uses `.FromJust()` (which is basically success-or-die) when it should be using `.FromMaybe()` or `.IsJust()` and propagate pending exceptions.

[2016-09-17 20:50] bnoordhuis commented on #8573
The ports build isn't maintained by us.  Please do this:

attach the "/usr/ports/www/node/work/node-v6.5.0/config.log" including the
output of the failure of your make command.

[2016-09-17 20:50] #8573 closed

[2016-09-17 20:51] addaleax commented on #8569
Well, yeah, the user can do that if it’s necessary (and I’d be curious why it would be necessary), so I’m not sure it’s important to have that extra validation in core.

[2016-09-17 20:56] bnoordhuis commented on #8310
It should be easy enough to add but I don't have time at the moment.  You are welcome to run with it.

[2016-09-17 20:57] jbergstroem commented on #8573
(if you create an upstream bug about this, please post the url here!)

[2016-09-17 21:16] dmilith commented on #8635
Then I'd suggest checking - not believing :)

[2016-09-17 21:19] dmilith commented on #8635
Also It turned out the issue is affecting workstation with no ipv6, (ipv4 only) - used exactly same build of Node 6.6.0

[2016-09-17 21:21] Fishrock123 commented on #1271
Just repo'd on OS X 10.10.5. @imyller did you try my test case on repeat?

Maybe we should just call this "one of those odd domain bugs", close the issue, and call it a day.

Or I could spend like a week debugging it but that is probably not a good use of my time.

[2016-09-17 21:28] bnoordhuis commented on #8635
I don't have a problem, it works for me, and your passive aggressive tone doesn't make me inclined to help you out.

[2016-09-17 21:29] imyller commented on #1271
@Fishrock123 Yes, I just let it loop with shell while-do on OS X 10.11.6 and couldn't reproduce.

With Linux test environment this is very easy to reproduce with only few repeats.

Your call, but I personally wouldn't close the issue yet because the reproduceable problem still exists and the cause is not yet understood.

[2016-09-17 21:33] Fishrock123 commented on #983
Anyone know if there is a way to hook into what variables are in the current scope? VM hacks count.

Would running in/hooking into a new `vm` module context have this info?

[2016-09-17 21:35] Fishrock123 commented on #1271
I suppose. I suspect unless someone else throws a considerable amount of time at it, this will just go away when domains are likely removed in a couple years.

I'm able to help with the timers side of things if anyone wants to take a look into it.

Maybe @misterdjules would actually be the best to take a look?

[2016-09-17 21:39] mscdex commented on #8637
Yes, my primary concern was about code in lib/. I will try to do some benchmarking this weekend and also see what the story is with V8 5.4.

[2016-09-17 21:43] mscdex commented on #8639
I think this issue would be better posted over at the [NodeSource distributions repo](https://github.com/nodesource/distributions/issues), since that is what the SO question seems to be referencing.

[2016-09-17 21:50] addaleax commented on #983
@nodejs/v8?

[2016-09-17 22:02] addaleax commented on #8613
Am I understanding you correctly that the `request1:: socket closed` line in your gist doesn’t get printed?

[2016-09-17 22:25] imyller commented on #8635
Can't reproduce. Did my best.

I suspect @dmilith has either severe connectivity issues to `registry.npmjs.org` or some persistent environment setting affecting npm.

[code]

[code]

[2016-09-17 23:07] imyller commented on #8635
Additionally:

@dmilith I noticed at your screenshot that you're getting `EHOSTDOWN` status for connections to `registry.npmjs.org` CDN IP address.

I mangled my network to blackhole selectively all packets to `registry.npmjs.org` to test this and Node.js/npm/Darwin prefers to return `ENETUNREACH` or `ETIMEDOUT` when single host does not respond but otherwise non-local network is reachable.

`EHOS

[2016-09-18 00:40] ojss commented on #8569
@addaleax Sorry I should have been more clear. That's what I meant.

On 18-Sep-2016 2:22 AM, "Anna Henningsen" <notifications@github.com> wrote:

[2016-09-18 02:17] ArielSaldana commented on #8630
Nice! I figured out the mistake after, I fixed the class and it looks like this now :

[code]

Basically what you did, just using ES6 Classes.

Thank's for looking into it!

[2016-09-18 03:16] dmilith commented on #8635
Interesting info. Will take a closer look later today

[2016-09-18 03:22] dmilith commented on #8635
@imyller The thing is:

[code]

And here's definition of Node with all specific arguments and stuff I pass to build process:
https://github.com/VerKnowSys/sofin-definitions/blob/stable/definitions/node.def

[2016-09-18 03:48] dmilith commented on #8635
But still have no idea how anything you say has in common in what happens.. It's just unhandled exception from Node function - one function crashes, whole JS virtual machine is useless and just does nothing. Whole deal. Nothing special. It looks like a hang but seems to be just dead V8.

have a nice day

[2016-09-18 06:51] samarth commented on #8560
@bnoordhuis : You're right . Found a more detailed explanation here :

http://askubuntu.com/a/133460

[2016-09-18 07:56] TheAlphaNerd commented on #8636
/cc @nodejs/lts @nodejs/build

[2016-09-18 08:10] canastro commented on #8613
@addaleax nop, the `'response:: close'` never gets printed. I'll add this information to the main comment to make it a bit clearer.

[2016-09-18 08:16] #7837 closed

[2016-09-18 08:38] bnoordhuis commented on #8636
I believe Xcode 8 defaults to libc++ rather than libstdc++.  We no longer use anything from TR1 in master but for v4, we probably need to set `'CLANG_CXX_LIBRARY': 'libstdc++'` explicitly.  Does this patch help?
[code]
Switching to libc++ is not an option (in v4) because that would break ABI.

[2016-09-18 08:49] mcollina opened #8644 "stream, test: Increase the coverage of _readableState and _writableState properties"
- **Version**: all
- **Platform**: all
- **Subsystem**: stream

`_readableStream` and `_writableStream` in streams are widely used in userland, but the coverage for the state machine is insufficient, as only few properties of those are checked by unit tests.

I propose we add some more tests for the internal properties and state. This is probably a meta-issue, in the sense that we might send multi

[2016-09-18 09:06] bnoordhuis commented on #983
You can through the debugger API but you have to fake a breakpoint.

Interestingly though, tab completion for let and const bindings seems to work with master.

[2016-09-18 09:07] niieani commented on #8571
@not-an-aardvark No stack trace, unless I need to pass some parameter to force displaying it? `tsc` just ends abruptly without actually doing anything, while on 6.5.0 it works properly.

[2016-09-18 09:10] addaleax commented on #8613
Yeah, I can confirm  that. /cc @nodejs/http

[2016-09-18 09:11] #8639 closed

[2016-09-18 09:45] imyller commented on #8635
The thing is that ICMP pings are usually not subject to traffic management and can be unreliable or misleading when analysing actual TCP connectivity issues.

But, I think you've made up your mind about the cause of the issue.

I personally can't reproduce the problem you are seeing even in *vanilla* OS X 10.11.6 virtual machine + fresh clone of Node.js source. I'm also quite confident that I'm no

[2016-09-18 09:59] bnoordhuis commented on #8635
I think that's on the mark.  Let's close.

[2016-09-18 09:59] #8635 closed

[2016-09-18 11:37] mcollina opened #8646 "doc: guide/topic on how to use streams"
From the discussion at NIEU2016 it emerged that the streams docs is not user friendly, and too focused on people that already know how to compose applications using streams. They describe the API, not how to use node streams in practice. In particular, it does not highlight the use of "streams modules": through2, from2, flush-write-stream, split2, pump, end-of-stream, duplexify, bl, etc.. and most

[2016-09-18 11:41] eljefedelrodeodeljefe commented on #8646
I also had a discussion and think it is a good idea. There was this effort having guides instead of just having the API docs plus some topic, where this could have been included. We should definitely put this close to the API docs, since I think it is crucial to effectively using streams.

[2016-09-18 12:07] evanlucas commented on #8526
-1 from me. The module system is locked.

[2016-09-18 12:11] imyller commented on #8526
-1 from me too.

Locked module API and high risk for hard-to-debug userland regressions if implemented.

[2016-09-18 12:18] JacksonTian commented on #8526
-1 from me.

[2016-09-18 13:00] cjihrig commented on #8526
I think there are enough -1s to warrant closing this. Thanks anyway though!

[2016-09-18 13:00] #8526 closed

[2016-09-18 14:11] cbaron commented on #8361
@thefourtheye, will you help me track down this bug?  I don't understand how its not apparent that it is a bonafide nodejs bug.

[2016-09-18 15:44] dmilith commented on #8636
Since which version Node requires GCC/GNU-based base system? I need to revert to latest that worked perfectly with libc++. AFAIR there's no libstdc++ in both Darwin 10.11+, and FreeBSD 10+, 11+

[2016-09-18 15:48] dmilith commented on #8635
WOW. No wonder people are getting as far from using this project as possible.. :) Thank you for this precious lesson ;)

[2016-09-18 16:25] dmilith commented on #8636
I tried applying that patch on 6.6 - frankly that caused this bug from 4.4.. http://ół.pl/e6877a7241e538c5a892eb8995f24220.png

[2016-09-18 16:36] Fishrock123 commented on #8644
Maybe we should make a GitHub Project for "Streams: _readableState and _writableState"?

[2016-09-18 17:11] cjihrig commented on #8537
@bnoordhuis thanks for hint. Proposed fix in #8649. Sorry if it is way off base.

[2016-09-18 17:32] bnoordhuis commented on #8636
Your original report is about v4.5.0?  Did you try the patch with that version?

Also, can you upload images to GH?  That external site you are linking to is timing out for me.  Better yet, if it's plain text, just paste it into a gist if it's long or in a comment if it's short.

[2016-09-18 18:14] imyller commented on #8635
You're welcome.

[2016-09-18 18:31] imyller commented on #8636
To be thorough, I set up a virtual machine with OSX 10.11.6 (all available updates applied), installed Xcode 8 (default settings, `xcodebuild -license` applied), downloaded fresh Node.js v4.5.0 LTS source tarball and compiled:

[code]

The result was few minor warnings during V8 compilation (nothing critical) and *warning* from clang:

[code]

No errors. `node` binary compiled successfully and pas

[2016-09-18 18:38] WHK102 commented on #7231
http://stackoverflow.com/questions/10777657/node-js-dns-lookup-how-to-set-timeout

The stop async thread realy stop the parent process?

[2016-09-18 18:59] alexjeffburke commented on #8646
Huge agreement from me. Particularly now that streams3 can be relied upon I think some 'canonical' documentation about how to run with that version of the API for those unfamiliar would be great. If we can muster a group effort this is something I'd quite like to get involved with.

Perhaps we could start a common repo or something and work on something like this in the open? You mentioned other m

[2016-09-18 19:16] cdhowie opened #8650 "Uncaught TypeError using http.Agent in keep-alive mode"
* **Version**: v6.6.0 (also happens on v4.5.0)
* **Platform**: Debian Jessie
* **Subsystem**: http

This is the same issue as [this one](https://github.com/aws/aws-sdk-js/issues/1137) I filed against aws-sdk-js, but I'm getting more suspicious that this is actually a Node issue.

After some number of HTTP requests (a few dozen) using an `http.Agent` constructed with `keepAlive: true`, the followin

[2016-09-18 19:51] jbergstroem commented on #8635
Just tried reproducing on my FreeBSD environment (as well as one of our test runners). Sorry, but I can't reproduce this. Perhaps I can help you dig into your network setup and identify possible issues?
[code]

[2016-09-18 21:10] dmilith commented on #8635
@jbergstroem yea, exactly. 4.5 tested under FreeBSD worked correctly. Issue started with 6.x line.

[2016-09-18 21:19] dmilith commented on #8635
`--- lib/dns.js.orig	2016-09-18 20:43:45.000000000 +0200
+++ lib/dns.js	2016-09-18 20:44:56.000000000 +0200
@@ -130,9 +130,9 @@
   } else {
     family = options >>> 0;
   }
-
+
   if (family !== 0 && family !== 4 && family !== 6)
-    throw new TypeError('Invalid argument: family must be 4 or 6');
+      family = 4;

   callback = makeAsync(callback);

`

[2016-09-18 21:21] dmilith commented on #8635
Tried this fellow to force 4 family, it silenced TypeError but this one has completely no sense at all:

[code]

I assure you I checked by request after request made by npm and all these sites and resources locations are working fine.

[2016-09-18 21:53] dmilith commented on #8636
I linked explicitly with libc++ under Darwin by default. That's interesting issue anyway - cause LLVM claims to have ABI compatibility of libc++ and libstdc++..

[2016-09-18 22:50] dmilith commented on #8636
Heh, after linking with libstdc++ ... issue remained the same.

[2016-09-18 22:51] dmilith commented on #8636
Are you sure You're testing that on box with both ipv4 and ipv6 routable addresses?

[2016-09-18 22:59] imyller commented on #8636
Care to explain how the ipv4 and ipv6 routable addresses are relevant for ```Unable to build 4.5.0 LTS on Darwin``` issue you've reported?

I'm able to build, test and run Node.js 4.5.0 LTS from source tarball on vanilla OSX 10.11.6 and Xcode 8. The virtual machine I tested in has only IPv4 connectivity but I really don't think that affects the `<tr1/type_traits>` header file not found error.

I'd

[2016-09-18 23:05] dmilith commented on #8636
Build issue with libc++ vs libstdc++ is common issue - affects both 4.x and 6.x. You closed unresolved issue so I'm showing you here that it turns out to be the same issue.

I will fix it myself. I don't have time for your politics.

[2016-09-18 23:05] #8636 closed

[2016-09-18 23:41] imyller commented on #8635
By looking at your log we can determine that:

1)  DNS resolution succeeds by `net.lookupAndConnect()`
2) `net.connect()` is called to resolved IP (located in Fastly CDN IPv4 subnet 151.101.0.0/16)
3) `uv_tcp_connect()` gets called (libuv)
4)  which eventually calls POSIX `connect` provided by your platform library

What happens after is that your TCP/IP stack returns `EHOSTDOWN` status (-64 as nu

[2016-09-19 00:02] imyller commented on #8650
@mscdex would you reconsider `stream` label if:

[code]

is the one actually making the failing `doWrite` call:

[code]
and by looks of it the `holder.finish` is the callback resolving to non-function and causing TypeError.

`holder.finish` should be internally defined callback function in `_stream_writable`. Which is means that `net.Socket.write()` callback (or non-callback) might not even be inv

[2016-09-19 01:10] matthewoates commented on #8369
@jasnell I'm having this issue with inline sourcemaps as well.

[2016-09-19 01:15] cdhowie commented on #8650
If there's any way I can grab extra information about the error, I will be happy to do so.  I'm not experienced debugging Node internals, so I might need guidance.

[2016-09-19 03:48] veshboo commented on #8375
There is `ksh` process in AIX `ps` result in [@gireeshpunathil's comment](https://github.com/nodejs/node/issues/8375#issuecomment-245538754).
On AIX, `/bin/sh` seems to be a link to `ksh`.
How about changing test-stdio-closed.js to use `bash`?

[2016-09-19 07:02] kkorada opened #8653 "chmodSync is not recursive"
fs.chmodSync() is not recursive please add recursive feature to it.

There should be some flag option available to make it recursive.

with fs.chmodSync()  "**chmod 777 -R some-folder/**" cannot be achieved

* **Version**: v4.5.0
* **Platform**: linux/windows
* **Subsystem**: NA

[2016-09-19 07:03] DivyaPoornam91 commented on #7858
Hi getting error while installing npm

C:\Users\DivyaP>npm install fsevents
npm ERR! Windows_NT 10.0.10586
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install" "fsevents"
npm ERR! node v6.6.0
npm ERR! npm  v3.10.3
npm ERR! code EBADPLATFORM

npm ERR! notsup Not compatible with your operating system or architecture: fsevents@1

[2016-09-19 07:08] saghul commented on #7858
fsevents is only compatible with OSX. It's specific to that platform, so it
won't work on Windows.

On Sep 19, 2016 08:04, "DivyaPoornam91" <notifications@github.com> wrote:

[2016-09-19 07:26] bnoordhuis commented on #8653
`fs.chmod()` is a wrapper around the system call of the same name, not the command line tool.  The system call does not support recursion.

[2016-09-19 07:26] #8653 closed

[2016-09-19 07:42] fhinkel commented on #548
Fixed upstream in V8.

[2016-09-19 07:43] bnoordhuis commented on #8636
LLVM claims no such thing.  Some of the low-level plumbing like RTTI and exception handling is ABI-compatible, high-level stuff such as the STL is not.  You may be confusing libc++ with libc++abi - similar names, different things.

If you are going to keep up the antagonistic attitude, then yes, it's better that you go away and don't come back.  You are welcome here but not when you act like that.

[2016-09-19 07:48] bnoordhuis commented on #8650
Try https://www.npmjs.com/package/longjohn, it will give you long stack traces.

[2016-09-19 08:17] mcollina commented on #8644
@Fishrock123 if we want to try that, I'm happy to. I do not have much time to _do_ the tests, but I am happy to divide this into single issues.

[2016-09-19 09:13] imyller commented on #8650
`NODE_DEBUG=http,net` could also be helpful if you are able to reproduce the error as it happens.

[2016-09-19 09:20] imyller commented on #8650
Also, I noticed that `aws-sdk-js` automatically selects between `http` and `https` protocol client depending on internal AWS service endpoint. As far as I can see, it still uses same `httpOptions` to provide `options` for both.

I noted that you've manually provided custom agent object for the client with `http.Agent`.

Just to be sure, I'd avoid using `http.Agent` for connections where `https.Age

[2016-09-19 09:34] StCremer opened #8654 "Date.toLocalString() return incorrect string"
* **Version**: 6.6.0
* **Platform**: linnux SentOs7
* **'uname-a' output:** Linux localhost.localdomain 3.10.0-327.28.3.el7.x86_64 #1 SMP Thu Aug 18 19:05:49 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

I'm tying to output date in local format with Russian locale
[code]
I get this in my code.
Even if i do in REPL
[code]
As you can see english locale works perfect but any other language returns incorre