[2019-09-16 19:54] sam-github commented on #29583
Hi @machineghost . `npx` is a feature of `npm`, if you would like to give some positive feedback on it and suggest some related features, I suggest reaching out to the npm project: https://www.npmjs.com/support is the starting place for how to contact them.

[2019-09-16 19:54] #29583 closed

[2019-09-16 20:23] ronag opened #29584 "Dealing with async errors during `_read()`"
I feel like there is something missing in the streams `_read` API for implementors.

Basically the current state of things is that stream implementors need to implement async error handling something like this:

[code]

There are some problems with this:

1. Most stream implementors don't do this and simply don't bother to conform to the `autoDestroy` option and either `destroy()` or `emit('error'

[2019-09-16 20:29] sam-github commented on #29226
@ayushmandey97 Yes, you are welcome to, thanks.

[2019-09-16 20:29] machineghost commented on #29583
My apologies, wasn't sure of the dividing lines between things.

[2019-09-16 20:36] zandaqo commented on #29529
I also have an issue with 12.10 when I use HTTP2+SSL in production: every now and then the POST request's stream fails to fire `end` event and just hangs there waiting for more data. It happens unpredictably, no errors are thrown, so I cannot pin point the issue at the moment, but I do know that the stream fires `data` events and receive all the data but doesn't fire `end`, `error`, or `frameError

[2019-09-16 20:40] szmarczak commented on #28985
Same on Android (via Termux). With TLS 1.2 it works as expected, but with TLS 1.3 it doesn't. I'll test it on Windows. Is there any chance my ISP (or some hardware) would interfere with this?

[2019-09-16 20:44] sam-github commented on #29583
No problem. Its not obvious, since we redistribute npm in our installer.

[2019-09-16 22:09] ad-m commented on #14713
We can consider https://github.com/getdnsapi/getdns/blob/develop/README.md as alternative, maintained, DNSSEC-capable, TTL-capable library: https://github.com/getdnsapi/getdns/blob/develop/README.md

[2019-09-16 22:27] addaleax commented on #14713
@ad-m I think that would require quite a bit of porting work, but if somebody’s up for that, why not.

[2019-09-16 22:41] addaleax commented on #28985
Thanks for all the investigating! I’ll take a deeper look soon, but /cc @sam-github just in case he’s aware of something regarding the TLS v1.3 changes that might be interesting here.

I think there is a  chance that this is a bug in OpenSSL, too.

I think for hardware that’s a no, for ISPs I don’t know (although some network setup issue might explain why we’re seeing different results).

Are you

[2019-09-16 22:59] devsnek commented on #14713
Interestingly getdns has first-class support for libuv :eyes:

[2019-09-16 23:06] ad-m commented on #14713
@devsnek, there's NodeJS binding too 👀

[2019-09-17 03:55] sogaani commented on #29529
@StephenLynx Then I'm not sure your bug and reproduceable test are the same as mine.
Before exception,if your software calls `res.writeHead(304)` or `res.writeHead(204)`, it might be the same.

[2019-09-17 04:30] StephenLynx commented on #29529
@sogaani No, the cause of the crash is a res.write with binary data.

[2019-09-17 05:18] szmarczak commented on #28985
I do use NVM. NVM uses the binaries from the official Node website.

:+1:

How do I check that?

[2019-09-17 05:23] sindresorhus commented on #28985
I ran https://runkit.com/szmarczak/5d7e73e9896e0f001a92c20d locally and here's the results:

[code]

macOS 10.14.6

[2019-09-17 08:56] shobhitchittora commented on #29436
@gntem I'd like to help out with this too. Let me know how can we discuss more on this and finalize an approach.

[2019-09-17 09:19] ronag commented on #29436
I think you could start with:

- If first parameter is not a stream and has `Symbol.iterator` or `Symbol.asyncIterator`, call https://nodejs.org/api/stream.html#stream_stream_readable_from_iterable_options

[2019-09-17 11:44] silverwind commented on #29539
I prefer consistency. Either format all or no arguments, regardless of argument count or type. Format all is probably too much of a breaking change if `console` starts to log colors everywhere, thought, so I guess it would be a opt-in.

[2019-09-17 14:09] mukeshkmr776 commented on #19530
Please update once this is fixed for Nodejs-v10.x on PPC64LE (RHEL-7.x).
Eagerly waiting on this

[2019-09-17 14:53] jasnell commented on #29539
+1 to reverting to the original behavior, regardless of the merits of the change, it's a semver-major difference and shouldn't have gone into 12.x

[2019-09-17 15:36] emerzon commented on #23440
There seems to be multiple/different issues.

I have tried different setups:

1) Alpine Linux + GCC8 and 9: --fully-static works, except when --enable-lto is also present, in this case the compilation will not fail, but the node binary will segfault.
2) Ubuntu 19.04 - Compilation fails out of the box, torque binary segfaults during compilation.

[2019-09-17 16:27] silverwind commented on #29539
It was done in 12.0.0, that by definition is a `semver-major` release. What's the issue?

[2019-09-17 16:48] petar-iv opened #29590 "(vm) Constants not added to context"
**Version**: 6.0.0, 8.0.0, 10.0.0, 12.0.0
**Platform**: 64-bit Windows
**Subsystem**:

Let's have 2 files:

* `script.js`:

[code]

* `test.js`:

[code]

On the Node versions listed above (with which the issue can be reproduced), the second `console.log` prints `[ 'a' ]` instead of `[ 'a', 'b' ]`. The printed array contains the 2 elements (as expected) in versions 0.12.4 and 4.0.0 of Node. Is that

[2019-09-17 16:57] sam-github opened #29591 "test-inspector-connect-main-thread flaky on freebsd"
* **Version**: master
* **Platform**: freebsd
* **Subsystem**: test

On unrelated PR
https://github.com/nodejs/node/pull/29585, freebsd failed. Not too sure how common this is, but reporting it here. @nodejs/platform-freebsd

[code]
- https://ci.nodejs.org/job/node-test-commit-freebsd/nodes=freebsd11-x64/28379/console

[2019-09-17 17:05] richardlau commented on #29591
Hopefully addressed by https://github.com/nodejs/node/pull/29588.

[2019-09-17 17:11] devsnek commented on #29590
this is very expected. let and const in node 0.x and 4.x do not match the final semantics that they have in es2015.

[2019-09-17 17:12] sam-github commented on #29539
The original issue says:

But that is not accurate, the change did not ship, at all, in any 10.x release: I tested 10.7, 10.8 -- the one claimed -- and 10.16.3, none have this change.

@bnb wrote

- https://github.com/nodejs/node/issues/29539#issuecomment-531345130

That comment could be misread as a statement that a major landed inappropriately breaking a release line (though I don't think that w

[2019-09-17 17:15] sam-github commented on #28985
I'm watching this, but haven't had time to try to debug it. Is it possible that TLS 1.3 servername messages come across with different timing than TLS1.2, that http/2 depends on the TLS1.2 timing?

[2019-09-17 17:17] sam-github commented on #29591
Thanks, I'll close and update my branch.

[2019-09-17 17:17] #29591 closed

[2019-09-17 17:32] petar-iv commented on #29590
We do not try to modify them, just to retrieve (read) them.

[2019-09-17 17:45] #29072 closed

[2019-09-17 18:36] devsnek commented on #29590
your lexical declarations aren't created in the context's global object. they're created in the context's global lexical environment, which isn't reflectable. If you want, you can use the [inspector api](https://nodejs.org/api/inspector.html) to send a `'Runtime.globalLexicalScopeNames'` command.

[2019-09-17 23:22] #29439 closed

[2019-09-18 01:59] #29424 closed

[2019-09-18 02:58] #28622 closed

[2019-09-18 03:18] mack1290 commented on #23169
Hey, Any fix for this problem?

[2019-09-18 04:34] duanyao opened #29596 "Wrong Intl.DateTimeFormat output for zh-CN without year part"
* **Version**: v12.10.0
* **Platform**: Linux duanyao-gt-pc1 4.15.0-29deepin-generic #31 SMP Fri Jul 27 07:12:08 UTC 2018 x86_64 GNU/Linux
* **Subsystem**: Intl.DateTimeFormat

Test code:
[code]
nodejs v12.10.0 outputs a strange string `'09 ├Day: 16┤'`.

On nodejs v10.14.2, the result is `'09-16'`, which is correct.

[2019-09-18 08:27] valoricDe commented on #25946
<img width="592" alt="Bildschirmfoto 2019-09-18 um 10 21 51" src="https://user-images.githubusercontent.com/22564188/65131037-d762ae80-d9fe-11e9-83cf-6210d2b28a27.png">

[2019-09-18 10:45] mstarzinger commented on #29533
Agreed with @bnoordhuis, this is an OOM during virtual address space reservation for the code space. This is caused by virtual address space exhaustion due to too many modules. It is a known issue and we are currently working on a solution in V8 for it. The current status is that we are testing the fix behind the `--future` flag. You can follow progress of @hammacher's work (and a link to the desi

[2019-09-18 11:07] valoricDe commented on #27408
Regarding

Is node or the modules loader able to see that the file is exported via `module.exports`? If so, would it not be possible to export the hole object as default and every object entry as named export?
eg.

commonjs.js
[code]

node12.js:
[code]

[2019-09-18 12:19] petar-iv commented on #29590
OK, if this behavior is by design, then feel free to close the issue.
Some more questions:
1. Why are `let` and `const` considered _lexical declarations_ and `var`s are not?
2. How are `var`s called (if they are not _lexical declarations_)?
3. Why `let` and `const` had been in the same category (from my perspective as a user: the category of visible from the outside) as `var`s in Node 0.12.x and i

[2019-09-18 12:28] Flarna commented on #29323
I think that this is a side effect of the [faster async/await implementation](https://v8.dev/blog/fast-async#await-under-the-hood) enabled in V8 version 7.2. I tested with some nightly version of node 12 and found that it happened after V8 was upgraded from 7.1 to 7.3

v12.0.0-nightly20190314107c95da0d using v8 7.1.302.33-node.14 works
v12.0.0-nightly20190315cd8b7391dc using v8 7.3.492.25-node.6 f

[2019-09-18 13:10] #29408 closed

[2019-09-18 13:18] ex1st commented on #29596
Node v12.10.0

Node v12.10.0 with full-icu

[2019-09-18 14:23] theninj4 commented on #27711
I've just stumbled over this issue too. It looks like it's limited to the `Incapsula` CDN. They support both HTTP/1.1 and HTTP/2, their responses via HTTP/2 are fine but their cookie headers over HTTP/1.1 contain garbage. @WilliamConnatser you can force HTTP/1.1 via the `--http1.1` curl flag as per one of the comments above.

It looks like their HTTP/1.1 responses are attaching or manipulating coo

[2019-09-18 14:29] valoricDe commented on #25946
Some update: I changed to node version 12.x and the average memory usage was like:
v8.10.0: ~300MB
v10.16.2: ~420MB
v12.x: ~340MB

[2019-09-18 14:38] devsnek commented on #27408
no, we have to declare the export names before evaluation, so we don't know what module.exports looks like.

[2019-09-18 14:41] devsnek commented on #29590
var is a "variable declaration". lexical declarations are scoped to blocks, variable declarations are scoped to functions. lexical declarations can also only be used after their declaration, whereas variable declarations are hoisted to the top of the function. The behaviour changed because V8 added them before the final behaviour was chosen in the language.

[2019-09-18 14:41] #29590 closed

[2019-09-18 14:56] daveisfera commented on #25946
@valoricDe the memory usage being different with different versions of node is expected. Each version will have different optimizations/JIT/caches/etc and that will make the memory usage different. This issue is about growing memory usage over time.

[2019-09-18 15:55] benjamingr commented on #10802
@jasnell one issue I just noticed is that that can't be set from within the program when it has already launched.

[2019-09-18 16:48] bzmlxos opened #29601 "Diagnostic report is generated even if disabled"
* **Version**: v12.10.0
* **Platform**: windows/linux
* **Subsystem**: diagnostic report

Originally posted at https://github.com/nodejs/help/issues/2186, but moving here since it seems to be a bug.

Here is official documentation: https://nodejs.org/api/report.html. It says that report is experimental feature and needs to be enabled explicitly to work. But I see report generated on fatal error no

[2019-09-18 16:48] bzmlxos opened #29602 "build: linter is broken on windows"
* **Version**: master
* **Platform**: windows
* **Subsystem**: build

Originally posted at https://github.com/nodejs/node/pull/28102#issuecomment-532090703

Linter is currently broken on windows, at least on my machine. It worked before commit https://github.com/nodejs/node/commit/4b1bcae681e209984604341f2acfe722345b1b23, but now when I start "vcbuild lint" it opens in "tools\node_modules\eslint\b

[2019-09-18 17:23] szmarczak commented on #28985
On Windows it works as expected, it doesn't matter if it's TLS 1.3 or 1.2. It logs this:
[code]

LOL I tried to set bash env variables incorrectly. Give me a moment.

[2019-09-18 17:41] szmarczak commented on #28985
[code]

[code]

Diff: https://www.diffchecker.com/DeyYrmsv

[2019-09-18 17:49] duanyao commented on #29596
I have verified that both v12.10.0 and v10.14.2 I tested are with small-icu, according to https://nodejs.org/docs/latest-v10.x/api/intl.html

[code]

v10.x is ok for zh-CN but 12.x is not.

[2019-09-18 17:52] szmarczak commented on #28985
Same on Windows:
[code]

[code]

[2019-09-18 17:56] szmarczak commented on #28985
Windows:
[code]

[code]

[2019-09-18 18:01] szmarczak commented on #28985
Synchronised (`NODE_DEBUG` + `--trace-tls`):

[code]

[code]

[2019-09-18 18:06] bnoordhuis commented on #29559
I don't remember full-on removal having been discussed. The reason for deprecation (in general, not just here) is that there should be One Way Of Doing Things.

I'm inclined to say it's a documentation issue. It would be good if the documentation for `tls.createSecurePair()` shows how to port existing code to `tls.TLSSocket`.

[2019-09-18 18:37] bnoordhuis opened #29603 "nodejs/platform-windows: call for new members"
Refs: https://github.com/orgs/nodejs/teams/platform-windows/discussions/1

Are you a collaborator with an interest in keeping Node.js working on Windows? Are you curious what's behind that link? Then sign up for @nodejs/platform-windows :-)

Right now it's mostly @joaocgreis responding to issues. It would be great to have more people help out with triaging and bug fixing.

cc @nodejs/collaborators

[2019-09-18 18:43] jasnell commented on #29603
Given that I'm building on windows the majority of time these days, I've added myself to the team.

[2019-09-18 20:07] humphd opened #29605 "console: add support for %c style formatter in console.log()"
Node's console currently supports a number of formatters, [`s, j, d, o, O, i, f`](https://github.com/nodejs/node/blob/908292cf1f551c614a733d858528ffb13fb3a524/lib/internal/util/inspect.js#L1433-L1584).  However, it doesn't support `%c`:

[code]

The same code in Safari, Firefox, and Chrome does this:

<img width="1225" alt="Screen Shot 2019-09-18 at 3 55 58 PM" src="https://user-images.githubuserc

[2019-09-18 20:18] Ayms commented on #29559
One way of doing things, yes, but that's not the issue here, ``TLSSocket`` is designed to retrieve cleartext (one way thing), ``securePair`` was designed to handle clear and encrypted (second way thing), both are at the end the very same in fact in terms of code, not well documented indeed, now, again, what is the big issue with keeping it like it is?

Taking another example, then you could deprec

[2019-09-18 20:47] bnoordhuis commented on #29559
Not a great analogy because the https module does quite a bit more than that. `SecurePair` on the other hand is just a flimsy wrapper around `TLSSocket`.

The sole reason to keep it around, documentation issues aside, is inertia. I'm not worried about maintenance overhead but having different ways to accomplish the same thing is not a good thing.

Keeping it deprecated is the best way forward, IMO

[2019-09-18 20:53] jasnell commented on #29559
I definitely agree with @bnoordhuis on this. Not seeing a strong reason to undeprecate

[2019-09-18 20:57] devsnek commented on #29605
Technically possible but we'd need to bring in a CSS parser, map all the ANSI stuff, etc...

What if we just strip out %c formatting entirely:
[code]

[2019-09-18 20:58] jasnell commented on #29605
For now, I'd say stripping out the %c formatting is the better approach.

[2019-09-18 21:08] bnoordhuis commented on #29596
Can't reproduce. Both master and v12.10.0 with small-icu pritn `'09/16'` for me.

[2019-09-18 21:45] #29548 closed

[2019-09-18 22:31] hjain60 commented on #14569
Even with the below added there is memory leak.
[code]
while(true) {
  var file = './test1';
  require(file);

  var mod = require.cache[require.resolve(file)];
  if (mod) {
    var ix = mod.parent.children.indexOf(mod);
    if (ix >= 0) {
      mod.parent.children.splice(ix, 1);
    }
  }

  delete require.cache[require.resolve(file)];
  require(file);
}```

The above code will leak memory over 1

[2019-09-18 22:45] hjain60 opened #29607 "Upon re-requiring a node module after deleting from cache causes significant memory leak"
* **Version**: 8.12.0 / 12.10.0
* **Platform**: Darwin 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22 20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64

Upon re-loading a module after deleing from the require cache, a significant memory leak is observed. Please see the below example, the above code will leak memory over 1mb/sec.

`test.js`
[code]

`test1.js`
[code]

*run command:* `n

[2019-09-18 22:48] devsnek commented on #29607
Duplicate of #8443

[2019-09-18 22:48] #29607 closed

[2019-09-18 23:54] Trott commented on #29603
/ping @nodejs/node-chakracore in case some of the folks there might have an interest....

[2019-09-18 23:55] Trott commented on #29603
@nodejs/collaborators Are you a Windows person? Interested in helping improve Windows parity in Node.js?

[2019-09-19 01:04] awwright opened #29609 "HTTP parser premature close"
* **Version**: v12.10.0
* **Platform**: macOS
* **Subsystem**: http, stream

I'm running across an issue where when no response data is written during the "request" event call, the HTTP handling either closes the response without sending any apparent reply, or sends a `Connection: close` response but doesn't end the stream.

This is a strange behavior that I can't find an explanation for and I can

[2019-09-19 01:28] DerekNonGeneric opened #29610 "doc: ES module dummy loader resolve hook bug on Windows"
* **Version**: 12.10.0
* **Platform**: Windows Server 2019
* **Subsystem**: url

An error occurs after creating the `custom-loader.mjs` containing the dummy loader code as directed by [the documentation](https://nodejs.org/api/esm.html#esm_resolve_hook), an `x.js` file, and running the following command in PowerShell.

`node --experimental-modules --loader ./custom-loader.mjs x.js`

By the way, th

[2019-09-19 02:32] joyeecheung commented on #29570
We just need to output the profile during the uncaught exception routine. I'll send in a PR.

[2019-09-19 02:43] duanyao commented on #29596
@bnoordhuis I guess your system locale is en-US or similar (mine is zh-CN). If I run node v12.10.0 with a overwritten locale(`LANG=en-US node`), I get `'09/16'` too. This behavior surprises me because I thought Intl.DateTimeFormat did not depend on system locale.

[2019-09-19 04:51] Trott opened #29612 "Extending Buffer constructor API"
Opening a can of worms, I suspect, or else rehashing an idea that's already been considered and rejected, but hoping not....

**Is your feature request related to a problem? Please describe.**

Buffer constructor has been deprecated since v6.0.0. Tons of code in the ecosystem still uses it though and that's seemingly never going to change. In an attempt to support the new APIs in both old and new

[2019-09-19 04:58] Trott commented on #29612
If we go this route, the idea is that the `Buffer()` constructor would not emit a deprecation warning if it is invoked with the type-specifier in the `options` object.

[2019-09-19 05:08] CloudyIceRain opened #29613 "A Math Error About Multiplication"
Version: 8.11.3
Platform: windows10 64bit.   also in another computer with CentOS 7.0
MSYS_NT-10.0 DESKTOP-L7PRRDN 2.10.0(0.325/5/3) 2018-06-13 23:34 x86_64 Msys
CPU: Intel i5 8500

1568817733857 * 9301 should be 14591573742603957
but in node js, it's 14591573742603956

In C, Python, Java, it's all right.

that's misstake make my company's game Error. Someone lost much money.

There maybe is more

[2019-09-19 05:16] Trott commented on #29612
Also: `Buffer.from()` and `Buffer.alloc()` (and `Buffer.allocUnsafe()`) would still be the recommended/preferred way to do things. This is trying to create a better path for cases where using those APIs (directly) is not an option (whatever the reason: support needs, maintainer choice, or something else).

[2019-09-19 05:22] mscdex commented on #29613
This is due to JavaScript's use of floating point numbers and as such there is a maximum integer value (which is available as a constant via `Number.MAX_SAFE_INTEGER` -- which is equal to 9007199254740991) that can be safely represented.

[code]

If however, you instead use BigInt values to do your calculations, you won't run into this problem.

[code]

[2019-09-19 05:22] #29613 closed

[2019-09-19 05:27] mscdex commented on #29612
It seems like if people are going to have to make changes to their code to support this, they may as well just add a `typeof value` check instead.

[2019-09-19 05:31] Trott commented on #29612
I wish that didn't make as much sense as it does but...yes, that's a valid point.

[2019-09-19 05:46] Trott commented on #29612
I'm going to close this, but if anyone thinks it's worth discussing, by all means, re-open or comment.

[2019-09-19 05:51] Trott commented on #29612
The one advantage of this over adding a `typeof` check is that it avoids a deprecated API (and thus a runtime deprecation warning when run outside of `node_modules`) while maintaining backward-compatibility with older versions of Node.js.

[2019-09-19 05:53] Trott commented on #29612
Actually, I"ll leave this open a little while longer in case that's deemed a compelling argument by anyone. I find it somewhat compelling, but of course, I would....

[2019-09-19 06:14] valoricDe commented on #25946
Oh, true.

[2019-09-19 06:48] kapouer opened #29614 "node 10.16.3: tests failures on mips64el"
Build+Test log (with several "not ok") tests:
https://buildd.debian.org/status/logs.php?pkg=nodejs&ver=10.16.3%7Edfsg-1&arch=mips64el

I know mipsel is somewhat not supported but i report this in case someone has an idea.

[2019-09-19 06:53] Trott commented on #29614
@nodejs/build

[2019-09-19 06:57] Trott commented on #29614
Most of them are `severity: crashed`. I'm guessing these just pop up on different tests each time? Or is it mostly the same tests that fail/crash each time?

[2019-09-19 07:02] bnoordhuis commented on #29596
With `LANG=zh-CN` I can reproduce. Seems to be caused by the upgrade to ICU 64.2 in #27361 which means v10.16.0 and newer are also affected.

I don't know if it's actually a bug but @srl295 can probably shed some light on that.

It does when ICU doesn't know the timezone name you pass to `Intl.DateTimeFormat`.

Fixing the fallback locale to some known-good value has been discussed in the past but

[2019-09-19 07:07] bnoordhuis commented on #29614
Some tests crash with SIGSEGV, others with SIGBUS (exitcode -11 vs. -10.)

I don't suppose it's possible for you to collect stack traces with gdb or from core dumps?

[2019-09-19 07:08] targos commented on #29612
Is there evidence that the reason for people still not updating to the recommended methods is backward-compatibility?

[2019-09-19 07:11] rvagg commented on #29614
[code]

the majority of them are  worker, so /cc @addaleax just in case you can think of something obvious.

@kapouer there wouldn't be any chance we could get someone access to a mips64el machine for debugging?

[2019-09-19 07:22] kapouer commented on #29614
@Trott https://buildd.debian.org/status/logs.php?pkg=nodejs&arch=mips64el shows (apart from unrelated build failures) that previous successful build had pretty must the same tests failing

@rvagg yes i can have remote access to a mips64el box, so i can build it there a get some backtraces. I can do that later today.
However it's less easy to give you access...

[2019-09-19 07:37] duanyao commented on #29596
@bnoordhuis I checked v10.16.3 and it doesn't affected (https://nodejs.org/dist/v10.16.3/node-v10.16.3-linux-x64.tar.xz ).

Omitting the `timeZone` option doesn't change those results for me:

[2019-09-19 07:38] fredericbonnet commented on #29603
Links don't work, I get a 404.

[2019-09-19 08:29] GeertVL commented on #29603
Link does not work.

[2019-09-19 09:04] shobhitchittora commented on #29601
Tested this on Node `v12.8.0` also. Seems like the flag is not respected and spits out the report anyways.

[2019-09-19 09:06] bnoordhuis commented on #29596
Hm, right. I reverted the ICU upgrade in my local v10.x branch and it indeed makes no difference.

I suppose that means a change in V8 is responsible (or the interaction between ICU and V8) but the diff between V8 6.8 and 7.6 is so big that it's hopeless to isolate the change.

There are plans to bundle full-icu with Node.js (#19214) so this issue might will probably become moot in the not too dis

[2019-09-19 09:41] duanyao commented on #29596
Sounds good to me. For now my workaround is adding a `year: "numeric"` option and picking month and date part from the result. Feel free to close this issue.

[2019-09-19 09:58] bnoordhuis commented on #29596
Okay, I'll go ahead and do that.

For everyone coming here through search engines: installing the [full-icu package](https://www.npmjs.com/package/full-icu) should fix this in a forward compatible manner.

[2019-09-19 09:58] #29596 closed

[2019-09-19 10:14] vostrik commented on #29603
I`m a member of the Node.js. Therefore I can see content by the link and already sent join request.
But my teammate (not Node.js Foundation member) sees 404 as guys above.

@bnoordhuis should new potential members have access to this page?

cc @pkozemirov

[2019-09-19 10:34] shobhitchittora commented on #29601
Configuring node build with reporter disabled ( using `./configure --without-report` ), does not create a report on fatal errors like these. Seems like there's no check to handle the case when reporter is enabled.

[2019-09-19 10:37] addaleax commented on #29601
This is a plumbing issue:

https://github.com/nodejs/node/blob/ac4195992290ef6f0b62e2b218ee0dba059f2a76/src/node_errors.cc#L435

`env == nullptr` here for fatal errors, because V8 has no JS Context entered when the fatal error comes from garbage collection, and we associated Node.js instances with JS Contexts, meaning that we can’t look up the options object where the runtime flag is stored easily

[2019-09-19 10:40] addaleax commented on #29614
No, no obvious ideas here, beyond that this might just be okay to ignore because it’s behind a flag in Node 10 anyway.

[2019-09-19 11:16] jsloop42 commented on #29435
Please find the debug log.

[code]

[2019-09-19 11:20] addaleax commented on #29435
@jsloop42 Thanks, but a reproduction or a core dump or something along those lines would really be more helpful. The npm debug log doesn’t really say more than that there was an error.

[2019-09-19 11:28] shobhitchittora commented on #29601
Yeah! I actually tried this -
[code]

[2019-09-19 13:32] joaocgreis commented on #29602
PR: https://github.com/nodejs/node/pull/29616

@bzmlxos thanks for reporting this. It would be great if you can test the PR and let us know if it fixes the issue for you.

[2019-09-19 13:58] bzmlxos commented on #29601
@shobhitchittora, `env == nullptr` is true, so the second check is skipped (true || anything = true).

@addaleax, Can I ask why? It seems much more reasonable to implement `process.report.reportOnFatalError` as a getter/setter pair and when modified, it updates some global flags in the C++ land, then if fatal error happens, just read the flags, why doing it through V8? If the reason is to allow ea

[2019-09-19 14:03] jurelik commented on #26626
Any updates on this issue? If anyone has any information on when we can expect x25519/x448 included in crypto.createECDH(), it would be much appreciated.

[2019-09-19 17:01] sam-github commented on #26626
@jurelik I don't see that anyone volunteered to implement this, much less comitted to a timeline.

Are you interested in implementing the feature? We are always looking for more collaborators on crypto support, and there are people who would help get a PR in shape if you needed any help along the way.

[2019-09-19 17:21] GrosSacASac commented on #29612
In my opinion we should not optimize for legacy versions, it is already hard to convince everyone to move forward as is.

[2019-09-19 18:13] sam-github commented on #29612
I have the impression that anyone who is willing to update their source is willing to use the new alloc/from APIs, and its packages that are not actively maintained that are not able to change, so having another target to change code _to_ does not help.

But maybe we'll hear from some folks here. Unfortunately, its unlikely that package authors that don't have time to update their packages are act

[2019-09-19 18:36] szmarczak commented on #28985
So I tested it on Node 11 with TLS 1.3, and the issue still exists.

[2019-09-19 19:04] feross commented on #29612
I haven't encountered much resistance to PRs that update code to use `Buffer.from` and `Buffer.alloc`. Every one I've sent has been accepted. Furthermore, most of the actively maintained packages that I use have already dropped support for Node 6, and will likely drop Node 8 over the next year (considering it's EOL in less than 3 months).

I personally don't think the additional API surface area i

[2019-09-19 19:04] szmarczak commented on #28985
`checkServerIdentity` is not called: https://runkit.com/szmarczak/5d83cc42172c06001a256cfa (expected "google.com" outputted twice)

[2019-09-19 19:05] felixfbecker commented on #27140
It's awesome that we now have `streams.Readable.from()` and `readable[Symbol.asyncIterator]`, the only piece missing in the puzzle now is `streams.Transform.from()` with a signature like
[code]

[2019-09-19 19:57] bnoordhuis commented on #29603
Only collaborators can view team discussions.

[2019-09-19 20:02] szmarczak commented on #28985
I have analyzed the source code and I figured out that's not possible to fail. So I went through openssl issues and found this:

https://github.com/openssl/openssl/issues/8822

Yeah, you were right, it's an openssl issue.

[2019-09-19 20:41] addaleax commented on #28985
@szmarczak Okay, thanks for doing all the digging here. I’ll take a deeper look at the openssl source.

[2019-09-19 21:50] r1b opened #29620 "tls: pauseOnConnect option not honored"
## Background

* **v12.10.0**:
* **Darwin mcdouble 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64**:
* **TLS**

## Issue

The fix in https://github.com/nodejs/node/pull/27665 does not seem to work with the `pauseOnConnect` option. The test in that PR only checks the `allowHalfOpen` option. The docs indicate that `Any net.createServer(

[2019-09-19 21:52] r1b commented on #29620
Our current workaround is to manually pause the socket explicitly with `socket.pause()` in the `secureConnection` listener.

[2019-09-19 21:55] addaleax commented on #28985
From what I can tell, `SSL_get_servername()` returns nullptr because `s->hit` is set on the `SSL*` object, which happens here:

https://github.com/nodejs/node/blob/ac4195992290ef6f0b62e2b218ee0dba059f2a76/deps/openssl/openssl/ssl/statem/extensions_clnt.c#L1967

<details><summary>Stack trace</summary>

[code]
</details>

`hit` is described in the source code as “reusing a previous session”, so I th

[2019-09-19 22:15] r1b commented on #29620
Here's the cert and key I used.

[self-signed-cert-and-key.zip](https://github.com/nodejs/node/files/3633419/self-signed-cert-and-key.zip)

[2019-09-19 22:26] addaleax commented on #28985
@szmarczak It looks like the `tlsext_hostname` key is missing from the `Buffer` instances in your runkit examples. If it were present, OpenSSL would use that. This also seems to happen in the issue you linked, but then again maybe the OpenSSL CLI utility doesn’t set the hostname explicitly like we do.

How did you generate those Buffers? That might be useful to know.

Generally, I can see a few wa

[2019-09-19 22:32] cjihrig commented on #29620
I believe the issue is that [this code](https://github.com/nodejs/node/blob/4396bebfe1fc024ff6badf2ead40f1b5127d4e67/lib/_tls_wrap.js#L919-L929) needs to pass `pauseOnCreate` to the socket like [this code](https://github.com/nodejs/node/blob/4396bebfe1fc024ff6badf2ead40f1b5127d4e67/lib/net.js#L1533) does.

I don't have time to work on it right this second, but probably can in the next day or two.

[2019-09-19 22:55] r1b commented on #29620
Thanks @cjihrig, I can work on a PR later tonight if you'd like.

[2019-09-19 23:17] awwright commented on #29609
This might also be an interaction with streams and/or the test's makeDuplexPair implementation, since this works:

[code]

producing the expected output:
[code]

Adding `serverSide.push(null);`, however, does not:

[code]

[2019-09-19 23:25] amark commented on #10137
@bnoordhuis where can I find documentation on how to read the stack trace?

It isn't NodeJS's fault that memory is running out.

Tho it is hard for JS developers like me to use the V8 trace to find where in their code the string concat (or other) happened.

Do you have any tech talks, blogs, or docs that would help devs like me correctly read the trace?

[2019-09-19 23:38] awwright commented on #29609
Case 1 works as expected in Node.js v10.16.3:

[code]

[2019-09-20 00:44] Trott commented on #29612
(Aside: I should have really run this by a few people privately before posting here. Would have saved folks some time reading a proposal that wasn't going to go anywhere anyway.)

Closing. Thanks, everyone!

[2019-09-20 00:44] #29612 closed

[2019-09-20 02:21] ediardo commented on #29239
I am getting the same issue when building a Docker image..

[code]

[2019-09-20 02:44] infinnie opened #29625 "Wrong path of file specified from command line arguments running Node for Windows inside WSL"
* **Version**: v11.15.0
* **Platform**: Windows 10 64-bit
* **Subsystem**:

When running `node.exe /mnt/d/a.js` within Windows Subsystem for Linux, an error was thrown that says
[code]

when a file `a.js` exists on the D: drive.

[2019-09-20 02:48] #29625 closed

[2019-09-20 02:48] infinnie commented on #29625
sorta like a bug of WSL.

[2019-09-20 04:33] awwright commented on #29609
`git bisect` says

[2019-09-20 13:05] benag commented on #26887
i cannot connect remotlly, i run: node app.js --inspect=0.0.0.0:9229 on remote machine
but i cannot see it on chrom inspect.

[2019-09-20 15:10] june07 commented on #26887
Are you forwarding the inspect socket to your local DevTools instance?  Sounds like you may need to do that...

[2019-09-20 15:32] benag commented on #26887
I configures in developer tools to listen to the remote machine on 9229

[2019-09-20 15:36] risacher opened #29630 "Verification of client cert checks issuer chain past trusted CA"
* **Version**: v12.10.0
* **Platform**: Linux birch 4.15.0-1044-aws #46-Ubuntu SMP Thu Jul 4 13:38:28 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: tls or crypto

When calling ```socket.renegotiate({requestCert: true, rejectUnauthorized: true}, cbFunc)```, the client certificate is verified against the trusted certs passed to the ```ca``` option of ```https.createServer()```.  This proc

[2019-09-20 16:24] aherreDev commented on #29603
The links are broken

[2019-09-20 18:24] pdcavaco1 opened #29636 ".gitignore file in package removed when installed"
* **Version**: v12.6.0
* **Platform**: Darwin C02YR412LVDQ 18.7.0 Darwin Kernel Version 18.7.0: Thu Jun 20 18:42:21 PDT 2019; root:xnu-4903.270.47~4/RELEASE_X86_64 x86_64
* **Subsystem**:

To reproduce:

`mkdir test`
`cd test`
`npm init -f`
`touch .npmignore`
`touch .gitignore`
Set package.json to:
[code]
`npm pack`
The .gitignore is present in the geneated tgz file
`cd ..`
`mkdir test_install`
`c

[2019-09-20 18:59] szmarczak commented on #28985
@addaleax I just simply connect, save the session buffer, close the connection and reconnect: https://runkit.com/szmarczak/5d851a78b56e55001a047b7d

:+1:

:+1:

:+1:

And it started to also *not work* even if using TLS v1.2. It's getting weirder and weirder.

[2019-09-20 20:35] addaleax commented on #28985
I have come to the conclusion that this involves some kind of witchcraft – the same test file that would reproduce the issue consistently for me yesterday does not do that today. (My best guess would be that behaviour varies depending on what remote host exactly is being reached.)

That being said, @szmarczak, could you try to apply this diff to Node.js master and verify that it doesn’t work befor

[2019-09-20 22:13] MichaelMitchellM opened #29638 "Buffer.toString("
* **Version**: `v12.10.0`
* **Platform**: `Windows 10.0.18362 Build 18362`
* **Subsystem**: `Buffer`

Suppose we have the following code:

[code]

This yields the following output:
[code]
Note how the `base64` values are the same even though the hex values and buffer contents are different.

If we add the following code:
[code]

We get the additional output:
[code]

Is this expected behavior of `B

[2019-09-20 22:20] addaleax commented on #29638
I don’t think that’s the surprising thing here (i.e. the base64 encoding part works as expected).

What probably trips you up is that the hex representations of the BigInts lead to the same Buffer, right? I.e. that `Buffer.from('ec92a02b7639', 'hex')` and `Buffer.from('ec92a02b7639a', 'hex')` (not the extra `a`) lead to the same result?

I can see how that’s somewhat surprising, yes, but also, wha

[2019-09-20 22:23] robbie-mac commented on #21014
I may be missing something but:
[code]
isn't good enough?

[2019-09-20 22:24] MichaelMitchellM commented on #29638
@addaleax Is there a way to modify my example such that it gives the desired base64 value? Do I need to make sure that when I do `Buffer.from(hexString, 'hex')` that `hexString` is an even length and if its not, should I add a leading `0`?
Thank you.

[2019-09-20 22:26] addaleax commented on #29638
Yeah, that’s exactly what I would do here.

[2019-09-20 22:33] MichaelMitchellM commented on #29638
Taking @addaleax's suggestion I've modified the initial example to get the expected output:
[code]

Output:
[code]

Thanks for your help!

[2019-09-20 22:33] #29638 closed

[2019-09-20 22:56] Trott commented on #29239
If you are seeing this message and running Node,js 12.9.0, update to the most recent 12.x.

If you are seeing this message with some other version of Node.js, it is not this issue. It is most likely that you have a bug in your code (or there's a bug in one of your dependencies). Or there's no bug but your code is creating a lot of listeners. Or maybe it's a different bug  in Node.js. Open an issue

[2019-09-21 00:32] ORESoftware opened #29641 "Allow to omit properties from inspection using util.inspect"
I am looking for a feature like so:

[code]

there are certain properties I don't want to see, that are enumerable tho.

[2019-09-21 00:37] addaleax commented on #29641
If you control the objects here – and changes are good, given that you are interested in specific keys – you can use a custom inspection function on the object itself to omit the irrevelant keys.

[2019-09-21 00:50] ORESoftware commented on #29641
well along with `omit:[]` I suppose an `only:[]` option would be good and if the library can do it saves users some trouble I suppose.

[2019-09-21 03:26] ORESoftware opened #29642 "process.kill(pid, signal) does not recognize common signal strings"
I am getting this error:

[code]

and it was used like:

[code]

this works tho:

[code]

it should probably work with the short signal names?

[2019-09-21 05:24] mscdex commented on #29641
-1 Using a custom inspect function is going to be better than trying to add support for these kinds of things, especially because I can see some people wanting to add additional support for nested specifiers and such which would just make things complicated.

[2019-09-21 07:56] SajjadSM opened #29644 "getaddrinfo EBUSY localhost Error"
`
Error: getaddrinfo EBUSY localhost localhost:2001
at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:56:26)
`

I've got this error multiple times and not found any similar topics on the internet.
I have two node js application that one of them call the other application API (**localhost:2001**) and sometimes this error shows up.

* **Version**: v10.16.3
* **Platform**: Ubuntu 18 64-bit
* **S

[2019-09-21 08:58] szmarczak commented on #28985
@addaleax

[code]

I confirm your patch fixes the bug. :smiley:

[2019-09-21 10:55] addaleax commented on #29644
How easy is it for you to reproduce this? Could you run your program as `strace -f node ... 2>&1 | grep -C8 EBUSY` and see if there’s any output?

[2019-09-21 11:25] addaleax commented on #28985
I’ve opened a PR against OpenSSL, let’s see where that leads us. Even if it doesn’t land we can easily work around that in Node.js, but I’m not sure if the approach is okay as-is.

[2019-09-21 16:50] pimlie opened #29646 "v12: hangs on calling console.log with large object"
* **Version**: v12.10.0
* **Platform**: Linux x64
* **Subsystem**:

Unfortunately I was unable to reproduce this with a small circular object, I _think_ at least it has something to do with circularity, no idea what else could cause this.

Reproduction is here, this tries to log a full [VueComponent](https://github.com/pimlie/node-v12-util-inspect-issue/blob/master/pages/index.vue#L39): https://gi

[2019-09-21 16:55] addaleax commented on #29646
/cc @bridgear

[2019-09-21 17:14] tniessen commented on #29603
@aherreDev The link is working as intended. As @bnoordhuis has mentioned twice now, this is directed at collaborators only.

[2019-09-21 18:09] BridgeAR commented on #29646
I am looking into it. Inspection of some options is not working as intended. Seems like the prototype inspection is missing a recursion end condition.

These seem problematic:

[code]

[2019-09-21 22:59] #29605 closed

[2019-09-22 02:59] mjc224000 opened #29650 "Sort about ten million data with Array.prototype.sort on Mac"
* **Version**:v10.16.3

* **Platform**:Darwin 192.168.0.104 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; root:xnu-4903.271.2~2/RELEASE_X86_64 x86_64

* **Subsystem**:

I am learning Algorithm 4 using node. i was trying to compare the speed of my sort method  with Array.prototype.sort when dealing with ten million data.
 then i found a bug using Array.prototype.sort.
i ask a f

[2019-09-22 07:15] vsemozhetbyt opened #29652 "Build: no nightly or canary during the last 10 days"
The last builds on the site are of 2019.09.12:

https://nodejs.org/download/nightly/v13.0.0-nightly20190912902c9fac19/
https://nodejs.org/download/v8-canary/v13.0.0-v8-canary201909122854701dc7/

Sorry, I cannot find any appropriate issue in the repos. Is this known problem?

[2019-09-22 08:06] nilsmeyer commented on #23440
I've also tested with Fedora 29, the build works but the binary segfaults. It seems to me that both `--enable-lto` as well as `--fully-static` don't work and should be masked. I don't think this bug report gets any attention since it's for a fairly old version.

[2019-09-22 08:45] TomerMe2 commented on #29642
For now, it seems like you cannot use the short signal names.
Here is a list of the known signal names by Node.js from the documentation:
[https://nodejs.org/api/process.html#process_signal_events](url)

[2019-09-22 08:46] targos commented on #29652
/cc @nodejs/build.

It looks like nightly release builds are no longer started. I see only manual builds at https://ci-release.nodejs.org/job/iojs+release/

[2019-09-22 18:25] Fishrock123 commented on #29642
See the following documentation:
- [`process.kill()`](https://nodejs.org/dist/latest-v12.x/docs/api/process.html#process_process_kill_pid_signal)
- [Signal Events](https://nodejs.org/dist/latest-v12.x/docs/api/process.html#process_signal_events)

Specifically linked from there, we use the signal names as defined in the [`signal(7)` posix doc](http://man7.org/linux/man-pages/man7/signal.7.html).

I

[2019-09-22 18:30] Fishrock123 commented on #29584
I ran into these kinds of issues for https://github.com/Fishrock123/bob/pull/35 as well.

I find it quite odd that `_read` doesn't have an error callback, honestly. That being said, I don't have a clear idea what answer is really good here.

[2019-09-22 20:21] ronag commented on #29584
@Fishrock123 I went with this https://github.com/nodejs/node/pull/29653. Works well as long as `autoDestroy: true`.

[2019-09-23 02:31] prettydiff opened #29658 "MaxListenersExceededWarning 11 data, 11 error"
## System Version Info
* **12.10.0**
* **Windows 10**:
* **10.0.18362 Build 18362**:

## Error Description
I have been getting the following error on two different Windows machines:

[code]

In that example the error is prefixed with `node:13464`, but I have also seen it prefixed among these numbers as well:

20408, 18356, 20740, 13464, 4116, 3648, 17988, 10464, 7700, 6540, and probably others

Th

[2019-09-23 02:54] mscdex commented on #29658
FWIW if you add `--trace-warnings` to the node command line you can get stack traces in the console when warnings happen, allowing you to see what exactly is the cause.

[2019-09-23 02:56] mscdex commented on #29658
However, my guess is that the warning is happening on the client side and your `socketList[data.ip].on('data', ...)` line (and similarly for `'error'`) is being executed many times for the same socket, especially since the socket is only created once. This makes me think that the same IP is making many connections without disconnecting.

[2019-09-23 05:01] rvagg commented on #29652
[code]

Jenkins update I guess has changed things enough that API access is breaking, will try and address this asap.

[2019-09-23 05:22] rvagg commented on #29652
addressed with https://github.com/nodejs/nodejs-nightly-builder/pull/4
I've manually triggered a master build, the others will follow in time

[2019-09-23 05:47] hongyi-zhao opened #29659 "Failed to compile the node-v12.10.0"
Hi,

See the following:
[code]

[2019-09-23 07:32] cclauss commented on #25789
Time to step it up folks...  Today, there are __100 days__ until Python 2 end of life and the Python Software Foundation and Python Core Team have been _very clear_ that they [will not even fix known security vulnerabilities](https://www.python.org/doc/sunset-python-2) discovered after 1/1/2020..

[2019-09-23 07:57] ronag opened #29663 "Faster builds?"
Is there any way that we could achieve faster builds? Currently (at least on my computer) it takes a lot of battery and long time to rebuild and run tests, especially when switching back and forth between branches? Or am I maybe doing something wrong?

EDIT: I'm on MacOS.

Would it e.g. be possible to

- cache V8 builds?
- build without optimizations?

[2019-09-23 08:00] targos commented on #29663
If you're on Linux, ccache is very useful to speed up rebuilds when you switch branches.

[2019-09-23 08:03] ronag commented on #29663
I'm on MacOS. Sorry should have mentioned this. Either way, is that something we might want to add to the docs/guides if it is not already there?

[2019-09-23 08:06] ronag commented on #29663
Oh, it's in homebrew, https://chromium.googlesource.com/chromium/src.git/+/master/docs/ccache_mac.md

Anyone got any guides or similar on how to apply this to Node builds? I have very little experience with these kind of things.

[2019-09-23 08:28] targos commented on #29663
All I did on my machine was to install it and add `/usr/lib64/ccache` (the directory that contains ccache binaries) to the beginning of my `$PATH`

[2019-09-23 08:32] targos commented on #29663
Another thing that I use to switch between major release branches faster is `git worktree`:
[code]

[2019-09-23 10:04] #29542 closed

[2019-09-23 10:07] addaleax commented on #29663
I do feel like setting up something like sccache (i.e. storing pre-compiled files in a downloadable form) would be really helpful, if we can manage to do that.

[2019-09-23 10:22] ronag commented on #29663
I think adding ccache to some guide would be a huge step forwards, I don't mind building it every now and then (when I have power), just doing it every time doesn't work well

[2019-09-23 12:41] bnoordhuis commented on #29663
https://github.com/nodejs/node/issues/18742 - jumbo / unity builds can be significantly faster if you have enough memory.

You can hack common.gypi to build with `-O0 -g0` (or `-O0 -gline-tables-only`) but it's not much faster in my experience.

[2019-09-23 12:52] danbev opened #29667 "lldb jlh command has stopped working"
* **Version**: v13.0.0-pre
* **Platform**: Darwin MBP-1206.lan 18.7.0 Darwin Kernel Version 18.7.0: Thu Jun 20 18:42:21 PDT 2019; root:xnu-4903.270.47~4/RELEASE_X86_64 x86_64
* **Subsystem**: v8

The lldb command `jlh` has stopped working for me. At the moment this is what happens if I run it:
[code]
(The output is just a blank line). The expected output in this case would be:
[code]

Looking at [

[2019-09-23 12:53] bnoordhuis commented on #29642
This is working as documented and I agree with Jeremiah that changing that is probably not on the table.

For starters, that would mean we'd also have to accept `process.on('INT', cb)` for feature parity but that might introduce backwards compatibility issues.

[2019-09-23 12:53] #29642 closed

[2019-09-23 12:57] bnoordhuis commented on #29659
You're using python 3 but python 3 support is an ongoing project, see #25789, so use python 2 for now. You can pass a custom path with `make -j24 PYTHON=/path/to/python2`.

(I fixed that "cannot be a keyword" error recently but that hasn't made its way into a release yet.)

[2019-09-23 12:57] #29659 closed

[2019-09-23 12:58] bnoordhuis commented on #29614
@kapouer Were you able to collect some backtraces?

[2019-09-23 13:50] bnoordhuis commented on #29630
I think I understand your question but I believe the answer in all cases is "sorry, you can't do that."

<hr>

Certificates are checked starting from the root down to the leaf cert.

In principle node can track through its `SSL_CTX_set_cert_verify_callback()` callback whether a rejected cert comes before or after the CA that's passed to `tls.Server()` or `https.Server()` but you don't know if the

[2019-09-23 13:52] bnoordhuis commented on #29559
I'll close this out seeing that no collaborators are championing undeprecation.

[2019-09-23 13:52] #29559 closed

[2019-09-23 13:56] bnoordhuis commented on #29641
It looks like there's consensus that this doesn't belong in core so I'll go ahead and close this out.

[2019-09-23 13:56] #29641 closed

[2019-09-23 14:38] rajzik opened #29672 "Removing files via npm scripts does not work on windows 10"
* **Version**: v12.7.0 and v12.10.0
* **Platform**: Windows 10 64 bit

When trying to clean the repository with clean script it is not possible with npm run script. I have tried `cmd` and `ps` with no difference.

## Steps to reproduce
1. package json
[code]
2. `npm run clean` -> does nothing
     1. same with administrator mode
3. Tring from cmd with `npx rimraf './{esm,dist,lib,.cache}'` works

[2019-09-23 16:07] BridgeAR commented on #1671
If I am not mistaken, there's a patch upcoming soon that might solve this issue.

The tracking bug is https://bugs.chromium.org/p/v8/issues/detail?id=9701.

[2019-09-23 16:29] ChALkeR commented on #1671
@BridgeAR That's great news, thanks! I can test that patch if it lands cleanly on our v8.

[2019-09-23 16:33] SajjadSM commented on #29644
I'm not very familiar to strace command, I ran this command and here is the result
`strace -f node | grep -C8 EBUSY`

[strace.txt](https://github.com/nodejs/node/files/3643116/strace.txt)

[2019-09-23 16:53] sam-github commented on #29663
Follow the directions after `brew install` (and perhaps re-run `./configure`?) and you'll be good. `./configure --ninja` also is faster for some people, and more accurate (does less rebuilding of things that don't need to be rebuilt).

A PR do add some ccache setup advice to the collab guides or onboarding process would be great, if someone has the time.

[2019-09-23 17:35] risacher commented on #29630
As a workaround, I'm implementing precisely what you suggested: setting rejectUnauthorized: false, and validating in the app with [fidm/x509](https://github.com/fidm/x509)

But what you point out means that (maybe) I was wrong in that the issue is not with OpenSSL.  Rather, the limitation is that from node there's no way to call SSL_set_client_CA_list, other than by calling SSLWrap<Base>::SetCACer

[2019-09-23 17:38] zandaqo commented on #26904
I was playing with the latest nightly build (Sep 23) and noticed an odd behavior when non-string is used as a source:
[code]

While [the spec](https://encoding.spec.whatwg.org/#interface-textencoder) does say that the source should be a USVString, its current implementations in both Chrome and Firefox opt for converting the source into a string first instead of throwing an error. So, are we sticki

[2019-09-23 17:47] gabrielschulhof opened #29674 "Add napi_buffer_detach()"
Per https://github.com/nodejs/node-addon-api/issues/541, and given that detaching a buffer is part of the ES spec, we should likely make this available in a future version of N-API.

[2019-09-23 18:09] Qualtagh opened #29678 "Can't catch error during tls.connect(duplex)"
* **Version**: 10.16.3
* **Platform**: Ubuntu 16.04.1
* **Subsystem**: tls

There seems to be no way to catch synchronous error of underlying duplex stream during `tls.connect` operation.
Code sample:
[code]
Expected output:
[code]
Actual output:
[code]
Changing `async` to true solves the issue.
Can we allow passing `onError` handler to `tls.connect` method? So, it will be set before calling `_sta

[2019-09-23 19:00] Flarna commented on #29323
@hashseed Any hint if this behaviour change is intended?

[2019-09-23 20:47] Trott opened #29679 "test-cluster-net-listen-ipv6only-none is unreliable/flaky"
* **Version**: 13.0.0-pre (master branch)
* **Platform**: all, although observed on various Linux in CI
* **Subsystem**: cluster test

test-cluster-net-listen-ipv6only-none has faulty logic in its Countdown callback. The check there assumes that if a port is unavailable for IPv4 but available for IPv6, that the operating system won't supply that port for IPv6. This is apparently incorrect as seen

[2019-09-23 21:09] Trott commented on #29679
Another example of this failing in CI:

https://ci.nodejs.org/job/node-test-commit-linux/nodes=debian8-64/298
24/console

[code]

[2019-09-23 21:10] reergymerej commented on #28592
If nothing else, the language is confusing.

but it returns a `BufferList`.

[2019-09-23 21:10] Trott commented on #29679
And...one more:

https://ci.nodejs.org/job/node-test-commit-arm/nodes=ubuntu1604-arm64/26344/consoleText

[code]

[2019-09-23 21:13] reergymerej opened #29680 "Contradiction in Readable docs"
This immediately follows an example showing

[code]

in the constructor instead.

[2019-09-23 21:18] addaleax commented on #29644
@SajjadSM Are you sure that that’s the output from it? It seems rather incomplete and doesn’t mention EBUSY either.

[2019-09-24 03:50] atom-yang opened #29686 "crypto.scrypt throw error with N = 262144 (logN = 18)"
* **Version**: v12.8.0, v10.9.0
* **Platform**: Darwin bogon 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; root:xnu-4903.271.2~2/RELEASE_X86_64 x86_64
* **Subsystem**: crypto

With N = 262144 (logN = 18), `crypto.scrypt` throw a memory limit exceeded error, even I have increased the `maxmem`

[code]

[2019-09-24 04:35] shobhitchittora commented on #29601
@addaleax Do we take the global variable route anywhere else? Does the above solution makes sense.

[2019-09-24 05:50] hashseed commented on #29323
@bmeurer probably has more insights here.

[2019-09-24 05:55] ImHype commented on #29680
Could we add some suggested descriptions to the document?

[2019-09-24 06:07] ImHype commented on #29603
Links are not working.

[2019-09-24 06:18] Trott commented on #29603
Maybe if @jkunkee has an interest in being onboarded as a Collborator, they might provide some valuable Windows expertise?

[2019-09-24 06:42] #29646 closed

[2019-09-24 07:21] awwright commented on #29609
I suspect this is a bad interaction between multiple components:

- In https://github.com/nodejs/node/blob/1fa403762c035dca35bae9a18a4e4c3edf9d55f3/lib/_stream_readable.js#L626 if the assignment to readingMore happens at the top instead of at the bottom, the issue appears to go away

- In https://github.com/nodejs/node/blob/1fa403762c035dca35bae9a18a4e4c3edf9d55f3/lib/_stream_readable.js#L274 if t

[2019-09-24 08:26] ronag commented on #29609
Just pinging myself here. I'll take a look later this to see if I can help make sense of this one.

[2019-09-24 08:30] bnoordhuis commented on #29630
Sure, pull requests are welcome.

[2019-09-24 11:51] sashberd opened #29690 "After update to Node 10-alpine - ERR_STREAM_CANNOT_PIPE"
After I updated our server node JS to Node 10-alpine version I started to get next error

I have to mention that with node 8-alpine this code is working (I tried with rollback)

In my code I am trying to return file from GCloud:

[code]
Is any one met such issue after upgrade to node -10 -alpine?

[2019-09-24 15:29] XhmikosR opened #29692 "doc: make tables responsive"
I'm not sure how to proceed with this since we need a wrapping `div`.

Basically

[code]

and

[code]

With the above, the tables won't overflow the screen when they don't fit.

[2019-09-24 15:50] bnoordhuis commented on #29686
I can confirm that this happens but the issue lies with openssl, not node. Specifically, openssl checks that `N < 65536**r`, which it isn't when `N==2**18` and `r==1`; it would be with `r==2`.

[2019-09-24 15:56] joyeecheung commented on #29663
As an alternative..deno uses https://github.com/mozilla/sccache which speeds up compilation a lot - it already helps a lot if we can just get the cache of our v8 fork from some cloud storage right in the first build of a fresh clone.

[2019-09-24 16:00] devsnek commented on #29663
if we're looking into shared caching there's also goma

[2019-09-24 16:00] joyeecheung commented on #29667
I think I've ran into this in the v8 upstream and I had to take some `ptr_` value out of some types heavily wrapped into some Torque types first, instead of just casting the original pointer and passing it to `_v8_internal_Print_Object()`.

[2019-09-24 16:07] bnoordhuis commented on #20118
This seems to have long run its course so I'll go ahead and close it out.

[2019-09-24 16:07] #20118 closed

[2019-09-24 16:56] #29570 closed

[2019-09-24 19:10] gabrielschulhof commented on #28988
@mhdawson I ran the following code as both a Node.js addon and as a V8 cctest:

[code]

I wrote the following V8 test:

[code]

I also wrote a corresponding Node.js native addon test:

[code]
[code]

I ran the V8 test with
[code]
and the Node.js addon with
[code]

The V8 test did not seem to leak, whereas the Node.js addon ran out of heap space very quickly.

Now, it's true that I ran the V8 test

[2019-09-24 19:37] gabrielschulhof commented on #28988
@mhdawson looks like this is a problem that was fixed. Looking at deps/v8/ChangeLog, I found that the version in master is 2.7.299. When I checked out that version of V8 in its tree and re-ran the cctest, it also ran out of heap space. So, looks like this'll be fixed when we upgrade past the fix in V8.

[2019-09-24 20:03] Alxspb commented on #28988
Check that bug https://bugs.chromium.org/p/v8/issues/detail?id=9674

[2019-09-24 21:04] addaleax commented on #29601
@shobhitchittora Yeah, making it a global option probably is the best solution for now. There’s already a ton of them (referred to as per-process options in the source code).

[2019-09-24 23:30] mcandre opened #29697 "npm audit corrupts non-tty's"
When I pipe `npm audit` to other command line applications, then the colors codes corrupt the text. Please remember to disable ALL color codes for `node` and `npm` commands when the current environment is not an interactive TTY session.

* **Version**:

[code]

* **Platform**:

macOS 10.14 Mojave

* **Subsystem**:

NPM

[2019-09-25 01:44] ajcypherint commented on #23693
Ugh this is back in 77.

[2019-09-25 01:51] sam-github commented on #29697
Please report bugs in npm to the npm project: https://npm.community/c/bugs

[2019-09-25 02:08] #29697 closed

[2019-09-25 04:35] #29652 closed

[2019-09-25 08:36] gengjiawen commented on #28964
Looks like GN is improving on this

https://bugs.chromium.org/p/chromium/issues/detail?id=991547

https://github.com/nodejs/node/pull/29694#issuecomment-534910765

[2019-09-25 09:09] hugo-a-garcia opened #29698 "Serial port communication does not work inside a Worker"
* **Version**: v12.10.0
* **Platform**: Linux
* **Subsystem**: Using module node-serialport

We are trying to narrow down the issue of why a serial port cannot be opened in a worker. I has been suggested that maybe there is a bug in worker_thread (???) Maybe someone can verify if this is a bug OR give us some guidance to figure it out please?

This is the issue that can be referenced at node-seria

[2019-09-25 10:09] addaleax commented on #29698
Not a bug with Node.js, see https://github.com/serialport/node-serialport/issues/1938#issuecomment-534951904.

[2019-09-25 10:09] #29698 closed

[2019-09-25 10:53] bnoordhuis commented on #29686
Upstream considers this working-as-intended behavior so I'm going to close this out.

[2019-09-25 10:53] #29686 closed

[2019-09-25 12:51] mafintosh opened #29699 "stream.finished behaviour change"
Some recent changes to `stream.finished` landed in Node master changes the behaviour of the function.

Before (in Node 12) if a stream was about to emit end/finish but hadn't and emitted close it would not be treated as an error. In master this triggers a premature close.

It's due to the changes here.
https://github.com/nodejs/node/blob/master/lib/internal/streams/end-of-stream.js#L86

This break

[2019-09-25 12:51] mafintosh commented on #29699
/cc @mcollina

[2019-09-25 12:58] addaleax commented on #29699
@ronag

[2019-09-25 13:17] davidje13 opened #29701 "http.ClientRequest with Upgrade header sometimes hangs on first request"
* **Version**: 12.10.0 (also checked on 12.9.1)
* **Platform**: macOS 10.14.6 — Darwin 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; root:xnu-4903.271.2~2/RELEASE_X86_64 x86_64
* **Subsystem**: http

Connecting to a newly started `http.Server` with a `http.ClientRequest` using `Connection: Upgrade` occasionally (~0.2% probability) hangs indefinitely. The request never reaches

[2019-09-25 13:47] ronag commented on #29699
I'm unsure what the appropriate course of action here is. I'd consider emitting `'close'` before `'finish'` as a bug.

If our strategy is to try to fix the ecosystem, I'm more than happy to try and help e.g. feross/multistream sort out these kind of issues (e.g. fix PRs).

[2019-09-25 13:49] ronag commented on #29699
I'll dig into this tonight and try to see exactly what's going on.

[2019-09-25 13:57] ronag commented on #29699
The problem is that they call `destroy()` directly after `push(null)`. This will break inside `Readable/Duplex` in strange ways as well (not just in `finished`).

https://github.com/feross/multistream/blob/master/index.js#L98

[2019-09-25 14:02] ronag commented on #29699
https://github.com/feross/multistream/pull/46

[2019-09-25 14:07] ronag commented on #29699
@mcollina This goes back a little bit with going around the streams framework. In this particular case:

- overriding `Readable/Writable` methods (e.g. `destroy` in this case).
- manually emitting `'error'` and `'close'` events.

I would suggest we update the documentation to more explicitly discourage this.

[2019-09-25 14:14] mafintosh commented on #29699
Custom destroy methods are everywhere in the ecosystem though, including using this pattern.

If we are going down the path of only supporting the latest stream ways we should remove all the legacy from the function, i.e. the request stream stuff https://github.com/nodejs/node/blob/master/lib/internal/streams/end-of-stream.js#L95

[2019-09-25 14:17] ronag commented on #29699
Yep, I do think we should support them within reason. We can't support every possible scenario.

I think we need to have a more balanced approach than that though. Those legacy stuff does not in any way hinder otherwise "correct" behaviour.

[2019-09-25 14:30] OYTIS opened #29702 "Loading OpenSSL config files twice"
### Problem
When `OPENSSL_CONF` environment variable is set, config files are loaded twice.

### Reason

`InitCryptoOnce` function in [node_crypto.cc](https://github.com/nodejs/node/blob/master/src/node_crypto.cc#L6917) first calls `SSL_load_error_strings()` which is a macro for `OPENSSL_init_ssl()` which in turn will at some point will call `CONF_modules_load_file()` for the file pointed to by `O

[2019-09-25 14:31] sam-github commented on #29699
My first thought is that breaking the stream ecosystem is not good, and we shouldn't do it.

But the specific thing above... I don't know, I might agree with @ronag on it. I ran into similar issues in the TLS testcases when updating to TLS1.3, because it changed the timing of the underlying stream activity.

As I understand what is happening in https://github.com/feross/multistream/blob/d63508c55e

[2019-09-25 15:18] trivikr commented on #28879
Closing as this affected only private repositories.
Please reopen if the issue is blocking development

[2019-09-25 15:18] #28879 closed

[2019-09-25 15:22] mcollina commented on #29699
I think we should revert that change.

[2019-09-25 16:54] ronag commented on #29699
Reverting the change will make other bugs possible such as:

[code]

[2019-09-25 17:03] sam-github commented on #29699
The behaviour of example code above does not surprise me, I regard whether that data was written or not as undefined in the presence of a `.destroy()` (at least, a destroy() that is not synchronized with the write completed callbacks).

The behaviour can be made defined if `.destroy()` is passed an Error argument.

[2019-09-25 17:11] ronag commented on #29699
Another example then:

[code]

[2019-09-25 17:22] olalonde opened #29707 "Cryptographically secure random integer in range"
**Is your feature request related to a problem? Please describe.**

There is no API to obtain a random integer within a range. It's a common enough problem to deal with (e.g. to implement other algorithms like [Fisher–Yates shuffle](https://en.wikipedia.org/wiki/Fisher%E2%80%93Yates_shuffle)) and [easy to get wrong](https://stackoverflow.com/questions/10984974/why-do-people-say-there-is-modulo-bia

[2019-09-25 17:42] jasnell commented on #29699
I can definitely see the argument @ronag is making here but I'm also super sensitive to breakage in the streams code. That is to say, I prefer the new behavior but don't want to break stuff. It's a bit wonky, but perhaps reverting the change, then adding it back behind a configuration option on the stream object would be a good approach. New implementations can make use of the new behavior by swit

[2019-09-25 17:46] sam-github commented on #29699
@jasnell are you suggesting per-stream-instance config, or global to node.js process config?

[2019-09-25 17:48] jasnell commented on #29699
Per stream instance

[2019-09-25 17:52] mafintosh commented on #29699
Alternatively just point people to `end-of-stream` / `pump` for the compatibility mode.

Ie. @ronag's example above works with pump but it's also doing some funky things to keep backwards compat.

[2019-09-25 17:53] sam-github commented on #29707
@nodejs/tooling

[2019-09-25 18:03] ronag commented on #29699
I think an option e.g. `strict: true` (for strict mode) can be useful for this as well as a few other similar things where we've had to compromise. Though it makes some things more complicated and difficult to maintain...

I prefer this option. Also, as I said I'm more than happy to help (as time allows) ecosystem modules resolve any related issues, e.g. multistream https://github.com/feross/multi

[2019-09-25 18:08] trivikr commented on #29505
Revisiting this issue, as Hacktoberfest registrations [are open](https://hacktoberfest.digitalocean.com/)

I started contributing to Node.js core because of Hacktoberfest 2017 ([unit tests in HTTP/2](https://github.com/nodejs/node/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+sort%3Aupdated-desc+author%3Atrivikr+created%3A2017-10-01..2017-10-31+)), and ended up organizing/mentoring Code+Learn and bec

[2019-09-25 18:17] devsnek commented on #29505
I was just about to post about registration :D

If there are no objections I'd like to rename "Good first issue" to "Hacktoberfest" 24 hours before it starts, and turn it back at the end of October.

[2019-09-25 18:22] joaocgreis commented on #29610
cc @nodejs/modules-active-members

[2019-09-25 18:25] ronag commented on #29699
@jasnell

This assumes that the ecosystem will over time resolve any breakage. Could we maybe encourage that by adding a warning (similar to max event listeners warning).

[2019-09-25 18:49] bmeck commented on #29610
This looks like a bug with resolving argv[1] during bootstrapping.

[2019-09-25 18:54] bmeck commented on #29610
@DerekNonGeneric do you have your code for `custom-loader.mjs`, Are you using [`url.fileURLToPath()`](https://nodejs.org/api/url.html#url_url_fileurltopath_url) ?

[2019-09-25 19:26] stevenvachon commented on #22064
Is this going to get fixed? I'd really prefer not to litter my codebase(s) with a fix for this.

[2019-09-25 19:29] devsnek commented on #22064
cc @nodejs/http ^

[2019-09-25 20:00] jasnell commented on #22064
The legacy http parser has been removed from master as of https://github.com/nodejs/node/commit/ac59dc42edb721ede2e5ddc6d1e4945ee2bf1e9c (https://github.com/nodejs/node/pull/29589) and the above workaround will not work from Node.js 13+ forward. As @bnoordhuis points out in the thread in https://github.com/nodejs/node/issues/21509, the current behavior is intentional as to avoid a very real securi

[2019-09-25 20:32] suchipi commented on #14970
Publish-time workaround doesn't work in a monorepo with symlinks :\

[2019-09-25 20:33] stevenvachon commented on #22064
Is https://github.com/nodejs/node/issues/3591 related to this at all? It still has not been resolved.

[2019-09-25 20:36] mhdawson commented on #19530
The lastest 10.x Nightly was build so that it should run there now.  The next Node.js 10.x release should address this as well.  @BethGriggs can you chime in with the target for that?

[2019-09-25 20:49] jasnell commented on #22064
To be honest, I don't really know @stevenvachon, it's been a while since I've looked that issue over.

[2019-09-25 21:07] gajus commented on #22064
What is the security vulnerability? He doesn't state in that comment the implications.

What is the workaround for when a remote service returns invalid response, such as in a scenario I describe in https://github.com/nodejs/node/issues/22064#issuecomment-519578895 ?

[2019-09-25 21:38] ronag opened #29708 "Socket undestroy race"
Looking at the code for `Socket.connect` it seems that a socket that has been destroyed can be re-used.

However, the way the code is currently written (https://github.com/nodejs/node/blob/master/lib/net.js#L929) the socket can be `undestroy`:ed while the socket hasn't finished destroying.

Consider the following:

[code]
[code]

The socket is re-used directly after `destroy` and `_undestroy` is c

[2019-09-25 21:56] mukeshkmr776 commented on #19530
@mhdawson  I guess it will be in upcoming release i.e. v10.16.4.... Do we have release date for this upcoming release?

[2019-09-25 22:08] bnoordhuis commented on #29707
I think this would make a good addition. But.

1. There should be support for BigInts
2. Floating-point support would be nice too
3. A `step` parameter à la python's [`random.randrange()`](https://docs.python.org/2/library/random.html#random.randrange) might be nice (but not essential)

[2019-09-25 22:10] jasnell commented on #22064
Strict handling of invalid characters is necessary to prevent a variety of request smuggling and response splitting style attacks.

The correct workaround is to try to get the broken remote service fixed. Not sure what else we can do now that the legacy parser has been removed.

[2019-09-25 22:27] mattcaswell commented on #28985
It is interesting to note in all of the problematic traces given above the server_name extension that exists in the ClientHello is not acknowledged by the server in the ServerHello/EncryptedExtensions which concurs with my expectations from my comments in https://github.com/openssl/openssl/pull/9964

[2019-09-25 23:20] devsnek commented on #22064
was the question here about loosening how llhttp works or allowing the parser to be overridden? the latter seems like a reasonable request to me.

[2019-09-25 23:28] DerekNonGeneric commented on #29610
Thanks for looking into this @bmeck. I am indeed using `url.fileURLToPath()`. My code for `custom-loader.mjs` has changed significantly since I opened this issue, but I've tried to bring it back down to a comprehensible reduction to help out anyone looking into this. Apologies in advance for the linter.

https://jsbin.com/meyetak/edit?js

[2019-09-25 23:43] craigphicks commented on #26550
Doesn't seem to be fixed using the following versions:
[code]
`npm outdated` returns nothing.

[2019-09-26 01:43] Trott commented on #29505
I won't stop it, but I'd rather we add a separate label. I know of at least one site (mine!) that links to search results for "good first issue" and this change would likely break that link: https://www.nodetodo.org/next-steps/. There may be other similar sites. Additionally, it will (probably) make any sites that mention the "good first issue" label in Node.js incorrect for the duration of the mo

[2019-09-26 01:54] gireeshpunathil commented on #29505
+1 to what @Trott said; a separate label makes more sense here.

[2019-09-26 01:54] devsnek commented on #29505
totally fair. I'm open to whatever works best for our processes.

[2019-09-26 02:10] mhart commented on #25095
I've just encountered this with the v12.11.0 tarball. Almost identical error:

[code]

Regression maybe?

[2019-09-26 02:11] rvagg opened #29709 "test-torque.tq failing source tarball builds for v12.11.0 (V8 7.7)"
***EDIT: this is not x86 specific, see further comments below.***

Holding up the unofficial-builds of v12.11.0 (we don't handle failures yet, so they're all blocked for now). Here's the failing build log for x86: https://unofficial-builds.nodejs.org/logs/201909252318-v12.11.0/x86.log

Key part:

[code]

We don't officially support them but have plenty of users, so if we can address this it would

[2019-09-26 02:22] sam-github commented on #29699
We've consistently _not_ pushed people off the node.js API and onto ecosystem modules with versioned APIs. Arguably, we've done the exact opposite.

For example, https://www.npmjs.com/package/readable-stream is not mentioned anywhere in the Node.js docs, even though many heavy duty streams user suggests that everyone should be using it instead of node's streams API, and we froze https://www.npmjs.

[2019-09-26 02:31] mhart commented on #29709
Possibly related: https://github.com/nodejs/node/issues/25095

I think it's the tarball that's the problem

[2019-09-26 02:32] GantMan commented on #9870
Same problem here.  This should be reopened.

[2019-09-26 02:32] rvagg commented on #29709
Actually yeah, I removed x86 from the unofficial-builds pipeline and the musl build broke with the same error: https://unofficial-builds.nodejs.org/logs/201909260213-v12.11.0/musl.log

So the title is wrong for this issue, it's not x86 specific.

[2019-09-26 02:33] mhart commented on #29709
Can reproduce by unpacking tarball, running configure, and then make (on Debian and Alpine):

[code]

[2019-09-26 03:26] sam-github commented on #19530
First -rc within next couple days, release in next 2-3 weeks.

[2019-09-26 05:34] dylanaraps commented on #29709
I can reproduce on a `musl` based system:

[code]

Very simple build options to reproduce:

[code]

[2019-09-26 06:16] ronag commented on #29699
Good points. I really don't know what we can do here then...

Leaving the ecosystem subtly but permanently broken doesn't sound like a good path either...

[2019-09-26 06:20] olalonde commented on #29707
`randomBigInt(min, max, cb)`?

In a generic "random" library I'd agree but since this is "crypto", I'm not entirely sure. At least, I personally am not sure what it would mean to implement it correctly nor feel very confident to do it ([some relevant discussion here](https://crypto.stackexchange.com/a/31659/18737)).

Shouldn't be too hard to add this argument (it would essentially do `randomInt(mi

[2019-09-26 06:45] dylanaraps commented on #29709
For those wanting a quick fix for the current tarball:

- Grab `deps/v8/test/torque/test-torque.tq` from the repository.
- Add it to the extracted tarball source in the same location.

While my build hasn't yet completed, it has been running for 20~ minutes now. It'd be great to know if more is needed to fix this present issue.

[2019-09-26 07:02] gajus commented on #22064
That is an insane position to take.

I run a large data aggregation network. There are literally hundreds of websites misbehaving even within our relatively restricted domain operation.

[2019-09-26 07:17] addaleax commented on #22064
@gajus Although I see the relationship, I feel like this is turning into a separate discussion from what the issue is about, and I’d suggest opening a new issue, ideally with a description of what exact “features” you need from the newer parser that the old one had.

[2019-09-26 07:28] bnoordhuis commented on #22064
This has been discussed in the past (repeatedly and at length) and the answer has always been 'no' because it turns too many implementation details into frozen-forever public API.

Custom JS parsers exist ([link](https://www.npmjs.com/package/http-parser-js)). You could even WASM-ify http-parser if you want bug-for-bug compatibility. I'm its maintainer and I'd be open to that.

[2019-09-26 07:29] DanielRuf opened #29714 "Better description of statuscode handling and improve example"
Currently https://nodejs.org/api/http.html#http_http_get_url_options_callback mentions only `200` but any `2xx` statuscode is a `success` and not an error.

This should be improved.

If you have a question, suggestion or issue regarding our website,
please post it in https://github.com/nodejs/nodejs.org!

Issues with the Node.js API documentation should be posted here. All other
issues regarding t

[2019-09-26 07:37] gajus commented on #22064
@devsnek overriding `process.binding('http_parser').HTTPParser` doesn't work in Node v12, though – does it?

[2019-09-26 08:37] mukeshkmr776 commented on #19530
@sam-github  Thanks for the info. : )

[2019-09-26 09:02] Tharaka92 commented on #21885
In my case I didn't have any leftover folders inside Program Files. But I had couple of folders(npm and npm-cache) in "C:\Users\{username}\AppData\Roaming" folder. Deleted them permanently and reinstalled node. Works fine now.

[2019-09-26 09:02] bnoordhuis commented on #29707
Yes, that could work. Another option is to make `randomInt()` return a BigInt if its arguments are BigInts, i.e.:
[code]
Pro: lets callers support numbers and bigints transparently

Con: potential for type confusion?

The problems around generating good, uniformly distributed random floating-point numbers is precisely why I think it would be good to have in core because I expect most people won't

[2019-09-26 09:06] BridgeAR commented on #29709
I suggest we fix that issue soon and release a patch release right after.

[2019-09-26 09:32] mcollina commented on #28586
This is solved again in 12.11.0:

[code]

[2019-09-26 09:32] #28586 closed

[2019-09-26 10:12] olalonde commented on #29707
There was some related discussion on the [BigInt proposal](https://github.com/tc39/proposal-bigint#other-exceptions). I believe it was ultimately decided not to overload existing math functions to support BigInt. In the spirit of consistency, I would vote for an explicit `randomBigInt`. That being said... the same document [warns against using BigInt for crypto purposes](https://github.com/tc39/pr

[2019-09-26 10:33] ronag commented on #29699
I feel there is a fundamental problem here in terms of general strategy, not just this specific issue.

We have bugs, incorrect behaviour that we would like to address but we cannot due to either incorrect, unfortunate, outdated assumptions and even bugs in the ecosystem. Often these issues cause very subtle and intermittent bugs that are difficult to spot and often find the cause for.

I would pe

[2019-09-26 10:40] ronag commented on #29699
I'm not familiar with the discussion around this. Maybe something to reconsider?

[2019-09-26 10:51] Flarna opened #29718 "12.11.0 on PPCLE requires libatomic.so.1"
* **Version**: 12.11.0
* **Platform**: PPCLE, Linux 3149024480ec 5.0.0-25-generic #26~18.04.1-Ubuntu SMP Thu Aug 1 13:50:51 UTC 2019 ppc64le ppc64le ppc64le GNU/Linux
* **Subsystem**: build, deps

node.js 12.11.0 is not starting up on my PPCLE machine where 12.10.0 was running fine.

Error seen: `node: error while loading shared libraries: libatomic.so.1: cannot open shared object file: No such fi

[2019-09-26 10:51] linden5 commented on #12695
This approach fails in my case. The process hangs there until I terminate it manually.  I've also noticed that @HSunboy 's commit which references this issue did not pass the test.

[2019-09-26 11:13] richardlau commented on #29718
I think 12.11.0 is the first PPCLE 12.x release we've done on Centos 7 (https://github.com/nodejs/build/pull/1885) instead of the End-of-Life Ubuntu 14.04.

cc @nodejs/platform-ppc @sam-github

[2019-09-26 11:28] Flarna commented on #29718
I can confirm that a simple `apt-get install libatomic1` results in a working 12.11.0 on my PPCLE machine.

[2019-09-26 11:36] aherlihy opened #29719 "Repl: Access default evaluation function within custom evaluation function"
**Is your feature request related to a problem? Please describe.**
I am trying to extend the Node REPL with some extra functionality, so I'd like to use a custom evaluation function to short-circuit the default evaluation *but* have that custom function be able to defer control back to the default evaluation if need be.
**Describe the solution you'd like**
Right now calling the callback that is pa

[2019-09-26 11:39] bnoordhuis commented on #29707
@nodejs/crypto This needs your input.

[2019-09-26 11:52] lrlna commented on #29719
@fishrock123 @jasnell this was the issue I was telling you about yesterday. If you have any ideas on the best way of us to fix + make a PR, let us know!

[2019-09-26 12:04] Flarna commented on #29718
Just found that my description regarding the used platform is incomplete.
I run node in a docker container using `ubuntu:16.04` as base image; `18.04.1` is the version of the docker host.

[2019-09-26 12:21] mcollina commented on #26550
I think it's a separate bug, because the script at the top reports the error on both 10.16.3 and 12.11, but it does not on 10.16.0.

Can you open a new issue with a full script to reproduce?

[2019-09-26 12:21] mcollina commented on #26550
I think it's a separate bug, because the script at the top reports the error on both 10.16.3 and 12.11, but it does not on 10.16.0.

Can you open a new issue with a full script to reproduce?

[2019-09-26 12:22] sarveshtamba opened #29720 "Platform support for 'node' on PowerPC64LE"
- I have been able to successfully deploy fabric8-launcher/launcher-operator on PowerPC64LE as mentioned in "fabric8-launcher/launcher-operator#50 (comment)"

- Currently working on step to "Install the Launcher (via the installed operator)". Facing issues with the example launcher yaml which makes use of image: fabric8/launcher-backend:latest, which for now is available only for x86_64.

- I was

[2019-09-26 14:49] mhdawson commented on #29720
node is supported/tested on ppc64le, but there are minimum gblic levels for the community binaries.

Which OS and distro are you working on.  My guess is that it might be RH 7.

We've been working to improve the level of support by moving the community builds from ubuntu to centos7 (which has an earlier glibc).  The latest 12.x release should run on RH 7.
The next 10.x relesae should as well.  The

[2019-09-26 14:50] guybedford commented on #29610
Changing https://github.com/nodejs/node/blob/master/lib/internal/modules/cjs/loader.js#L1005 to use `.href` over `.pathname` seems like it would fix the issue here to me. Thanks for finding this bug @DerekNonGeneric.

[2019-09-26 14:52] mhdawson commented on #29718
@sam-github

[2019-09-26 15:02] Derektvann opened #29721 "Help with Node Please"
I have a problem getting this to work file name : index.js

const express = require(‘express’);
const bodyParser = require(‘body-parser’);
const app = express();
app.use(bodyParser.json());
app.use(bodyParser.urlencoded({ extended: true }));
app.listen(3000, () => console.log(‘Webhook server is listening, port 3000’));

but when I type node index.js

this is what I get....
Dereks-iMac:msgbot derek

[2019-09-26 15:02] gireeshpunathil commented on #29601
I remember having a conversation around this, but unable to track it down. So qualifying it as a bug. From what I can recollect:

 - if we don't get the env pointer, we cannot know whether report is ON or not.
 - if we come through the `fatalError` route, we always get null env (reason explained above)

confining everything in per-env is essential are we are now a multi-env runtime (with workers).

[2019-09-26 15:17] addaleax commented on #29601
Sometimes. It depends on the kind of fatal error – but ones during regular (non-testing) GC fall into that category and are probably the most common ones.

Just to avoid misunderstandings, I was only talking about the `report-on-fatal-error` part, because fatal errors are scoped wider than Environments; I’d keep the other options as they are.

[2019-09-26 15:57] intervalia commented on #26315
Now that Richard has verified the fix, can we get this in? There have already been two releases since Richard verified. Can we _please_ get it in the next release?

[2019-09-26 16:00] BridgeAR commented on #29719
It's a bit hacky but you could probably do the following:

[code]

[2019-09-26 16:03] sam-github commented on #29718
It was my observation and intention that devtoolset builds on centos7 would statically link in more of the lib dependencies, avoiding this problem. I'm looking into why that didn't happen, but rebuilds are bit slow because of https://github.com/nodejs/build/pull/1927

[2019-09-26 16:05] futagoza commented on #25509
This just occurred on my Windows 10 x64 1903 laptop right after installing Node.js v12.11.0:

![image](https://user-images.githubusercontent.com/1943570/65704795-176d0580-e07f-11e9-8d6e-f9578ab4fa14.png)

Luckily for me, I had an HDTV attached to my laptop, so I turned it on, and my laptops auto-adjusted the window, so I could see that the installation was actually completed.

[2019-09-26 16:20] mhdawson commented on #29718
I don't think the toolset handles libraries other that libc++

[2019-09-26 16:48] gireeshpunathil commented on #29601
thanks for clarifying @addaleax , I understand and agree.

[2019-09-26 16:59] sam-github commented on #29718
So far I have confirmed that linking on ubuntu14.04 with g++-6 uses `...tools/v8_gypfiles/libv8_initializers.a -latomic -ldl -lrt -lm ...`, and the identical linker command line is
 used on centos7 with devtoolset-6.

On ubuntu/gcc-6 the linked executable has no dependency on libatomic, and on centos/devtoolset-6 it does.

So the open question might be not why centos7 does depend on the specified

[2019-09-26 17:31] sam-github commented on #29718
@Flarna I removed the part of your description where it listed the dependency on `libdl.so.2` as new, in your output you can it is present in both, it must have been a typo.

What I've found so far is:
1. Neither of `-latomic -lrt` are required to link node on ubuntu/gcc or centos7/devtoolset
2. ubuntu gcc seems to ignore unused link libs, devtoolset seems to generate executables with a reference

[2019-09-26 17:35] sam-github commented on #29718
@nodejs/v8 see above, any comment on what I asked targos?

[2019-09-26 17:36] kapouer commented on #29614
I've rebuilt it in a somewhat different mips64el debian environment (with the embedded libuv instead of debian's shared libuv) and all the crashes disappeared, so it might be something with libuv version.
But i'm still trying to get a crash.
On the other hand, parallel/test-crypto-from-binary is not a crash and consistently fails.

[2019-09-26 17:43] emerzon commented on #23440
Problem remains in 10.16.3

[2019-09-26 18:04] targos commented on #29718
This is the relevant config in V8's BUILD.gn: https://github.com/v8/v8/blob/318d66d95f94487cdac2322795a63ea613ef943b/BUILD.gn#L3381-L3388

We own `v8.gyp` so we could deviate from upstream here, if libatomic is really never needed (it might depend on certain build options).

[2019-09-26 18:06] bzmlxos opened #29722 "Virtual http server"
**Is your feature request related to a problem? Please describe.**

Sometimes there is a need to implement raw net server, but process some requests as http(s)/http2 requests. For example, I receive a request, then I perform some checks and I want to either respond by writing to the raw net socket, or delegate the request to http server, which allows using `http.ClientRequest` and `http.ServerResp

[2019-09-26 18:11] addaleax commented on #29722
The good news is that this is already possible :slightly_smiling_face: You don’t need to have an actively listening HTTP server, and you can emit connections manually; quoting https://nodejs.org/api/http.html#http_event_connection:

In more concrete terms,

[code]

is just fine.

[2019-09-26 18:17] nanixne opened #29723 "nodejs 12.11.0 build fails on Debian buster 10 64bit"
[code]
make -C out BUILDTYPE=Release V=0
make[1]: *** No rule to make target '../deps/v8/test/torque/test-torque.tq', needed by '9359d0538c8a0940b1f1c36c737dda7e9f002391.intermediate'.  Stop.
make: *** [Makefile:101: node] Error 2

[2019-09-26 18:20] targos commented on #29723
Duplicate of https://github.com/nodejs/node/issues/29709

[2019-09-26 18:20] #29723 closed

[2019-09-26 18:56] ronag commented on #29699
Solution proposal to original issue https://github.com/nodejs/node/pull/29724

[2019-09-26 19:27] bzmlxos commented on #29722
Thanks, I missed that part from docs...

Actually, it does not say that the stream must have `server` property that points to the server object, otherwise I get error `TypeError: Cannot read property 'emit' of undefined`... Should that be mentioned in the docs?

[2019-09-26 19:29] addaleax commented on #29722
@bzmlxos Can you share a stack trace for that `TypeError`?

[2019-09-26 19:31] bzmlxos commented on #29722
[code]

[2019-09-26 19:37] addaleax commented on #29722
I think that’s a bug, caused by the check here being incomplete:

https://github.com/nodejs/node/blob/4d2856ed5aa9d831c06828d98db88ee91385372c/lib/_http_server.js#L361-L364

Can you change that to e.g. making the check unconditional or only `== null` instead of `=== null`, build Node.js, and comfirm that that works for you?

(If building Node.js is too much, feel free to share a reproduction and I

[2019-09-26 19:41] tiagonapoli opened #29726 "Inconsistent behavior between util.formatWithOptions and util.inspect"
* **Version**: v12.11.0
* **Platform**: Linux tiagonapoli-Inspiron-7460 5.0.0-29-generic #31-Ubuntu SMP Thu Sep 12 13:05:32 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

The following snippet shows a possible unexpected output for `formatWithOptions`. On `console.log(util.formatWithOptions({ }, '%s', obj))` I expected a output `{ a: [ '123' ] }`, but got `{ a: [Array] }` :
[code]

Since `util.formatWit

[2019-09-26 19:47] sam-github commented on #29718
I asked about its purpose in https://github.com/v8/v8/commit/408896a8b41751fea92e482c5eb4b858e7ffe68d#r35254481

[2019-09-26 19:59] tiagonapoli commented on #29726
Saw that the following code specifies that the depth for `%s` is garanteed to be  0, overriding the given `inspectOptions`, is this the behavior intended?
https://github.com/nodejs/node/blob/1fa403762c035dca35bae9a18a4e4c3edf9d55f3/lib/internal/util/inspect.js#L1611-L1616

[2019-09-26 20:31] BridgeAR commented on #29726
@tiagonapoli yes, that is intentional. The reason is that inspecting objects with `%s` was until recently not inspected at all but `String(obj)` was used and that would result in e.g. `[object Object]` for input like `{ a: true }`.

If you want to pass through objects, please use the `%O` formatter. That way the depth is handled as with `util.inspect()`.

[2019-09-26 20:36] ronag opened #29728 "pipeline doesn't destroy ended or finished streams"
Not sure if this is by design or not but it took me by surprise. I always assumed pipeline would cleanup all streams:

[code]

Is this a bug? The docs says "properly cleaning up", which is a bit open for interpretation.

ping @mcollina @mafintosh

[2019-09-26 20:37] BridgeAR commented on #29726
And `util.formatWithOptions('%s', obj)` should actually throw an error. You pass through `'%s'` as options.

[2019-09-26 20:54] anandsuresh commented on #28803
Seems like all 3 links in this ticket have expired. I'm unsure of how to gain access to test machines to be able to re-run/re-test this. @Trott  any pointers?

[2019-09-26 21:06] mcollina commented on #29728
This is by design.

Il giorno gio 26 set 2019 alle 22:39 Robert Nagy <notifications@github.com>
ha scritto:

[2019-09-26 22:25] Trott commented on #28803
You can try to emulate locally of course. The entire relevant part of the log is reproduced above. Here's one that hasn't expired yet as of this writing:

https://ci.nodejs.org/job/node-test-commit-freebsd/nodes=freebsd11-x6
4/28495/console

And for posterity:

[code]

If you want login access to the actual test machines, that can be requested with an issue in the nodejs/build repository, but you'

[2019-09-26 22:43] sam-github commented on #29718
@nodejs/releasers note that 10.x is also switching to centos7 ppcle. I doesn't depend on libatomic, but it does depend on librt.so.1, and that is new i n10.16.4
[code]

Speculative fix: https://github.com/nodejs/node/pull/29729

[2019-09-26 23:43] alcuadrado opened #29730 "Possible regression in Node v12.11.0's Proxy"
* **Version**: v12.11.0
* **process.versions**:
[code]
* **Platform**: Darwin pmbp 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; root:xnu-4903.271.2~2/RELEASE_X86_64 x86_64
* **Subsystem**: V8

Running this in node v12.11.0 fails:

[code]

Pasting it in node's REPL gives this error:
[code]

Expected behavior: it should just print `null`.

[2019-09-26 23:43] alcuadrado commented on #29730
Running it with v12.10.0 works just fine.

[2019-09-26 23:47] addaleax commented on #29730
@nodejs/v8

[2019-09-26 23:50] alcuadrado commented on #29730
BTW, this bug is also present in Chrome 77, and not in Chrome 76.

[2019-09-27 00:45] ORESoftware opened #29731 "display node.js version (process.version) at the end of stacktraces"
This could be added with a flag, and later turned off with a flag if you don't want to see it.

with this in mind:
https://github.com/nodejs/help/issues/2204

the current stacktrace is:

[code]

it would be interesting if it looked like:

[code]

or whatever

just an idea, not sure if it's possible/desirable to implement

[2019-09-27 01:34] mhart commented on #29709
Confirmed that @dylanaraps' method of including `deps/v8/test/torque/test-torque.tq` alone is enough to get it to build. Here's a one-liner with curl to get it into your build:

[code]

I used it successfully to build on Alpine: https://github.com/mhart/alpine-node/blob/12.11.0/Dockerfile#L35

[2019-09-27 03:34] GingkathFox opened #29733 "[Request] `require` without assigning to variable"
Hello!

I was thinking about this for a bit, and i think it might be a good idea. Other languages (like Java) allow you to import a class into the namespace of the current project, like so (example from [here](https://www.programiz.com/java-programming/packages-import)):
[code]
using Nodes `require`, packages are imported like this:
[code]
I think it would be better to `require` something like thi

[2019-09-27 03:38] devsnek commented on #29733
you can `const { get } = require('axios');`. axios could also assign `get` to the global object, but that's considered an antipattern.

[2019-09-27 04:22] Hakerh400 commented on #29730
Bisected to https://github.com/v8/v8/commit/4e17a6beb47a5d15a220572b073a279752de2adb

[2019-09-27 07:02] MylesBorins commented on #29730
/cc @nodejs/v8

[2019-09-27 07:08] targos commented on #29730
Just confirming that Chrome 78 (beta) and 79 (canary) are also affected.

[2019-09-27 07:50] ronag commented on #29265
I think it's probably better if I remain contributor. I feel I have significantly different philosophy than the current team in a number of topics which is already causing some frustration on both sides. Therefore I don't believe it is appropriate for me to join as a collaborator at this point in time.

If I could start CI and add/remove labels on my own PR's that would be nice. But I don't think

[2019-09-27 07:55] jsloop42 commented on #29435
Please find a crash log.
[code]

[2019-09-27 13:17] gengjiawen commented on #23440
[code]

<details>
[code]
</details>

[2019-09-27 13:46] DerekNonGeneric opened #29734 "node 12.11.0: Scientific & Engineering notation NumberFormat bug"
* **Version**: v12.11.0
* **Platforms**:
  - Windows Server 2019 x64
[code]

  - Debian via Windows Subsystem for Linux (WSL)

[code]
* **Subsystem**: icu

[code]
---

This was tested in the REPL with PowerShell on Windows and Bash on WSL Debian. They both have the same problem.

**IN**
[code]
or
[code]
and
[code]

**OUT**
[code]

![engineering](https://user-images.githubusercontent.com/17770407/6

[2019-09-27 13:52] targos commented on #29734
I don't know if throwing an error is spec-compliant, but I figured that the "unit" option requires `full-icu` to work properly.

/cc @nodejs/intl @nodejs/v8

[2019-09-27 13:55] shobhitchittora commented on #29601
Thanks @gireeshpunathil and @addaleax for giving your thoughts here. I've some bandwidth and would like to try to fix this.

Also @bzmlxos thanks for reporting it and suggesting a possible solution. I'll try to close this soon.

[2019-09-27 14:26] fanatid commented on #17469
I had studied how `Promise` implemented and works in V8. I found that `Promise.race` use `Promise.prototype.then` of promises which was passed to `Promise.race`, as result if promise never resolved and have reference memory will grow and GC can not collect it.
Then I googled and found this issue.
I understand that by spec as @bnoordhuis pointed reactions should be added to lists (V8 by the way hav

[2019-09-27 14:41] srl295 commented on #29734
it may be that the unit data is omitted from the 'small icu' default set and it should now be included now that units are present.

[2019-09-27 14:49] targos commented on #29734
@srl295 should I try to change this line? https://github.com/nodejs/node/blob/ccb524fa16aabcc4e01d861579c462c76eabe991/tools/icu/icu_small.json#L32

[2019-09-27 14:56] srl295 commented on #29734
Yes. And then rerun configure with `--with-intl=small-icu --download=all --with-icu-source=https://github.com/unicode-org/icu/releases/download/release-64-2/icu4c-64_2-src.tgz`  to reapply the adjusted trimming.

[2019-09-27 16:29] DerekNonGeneric commented on #29734
I just ran these tests after updating the official [amd64/node:current-buster](https://hub.docker.com/r/amd64/node/) Docker images to use v12.11.0 and can confirm that this bug widespread and not exclusive to Windows. I will change the title now.

[2019-09-27 16:57] boneskull commented on #29731
@ORESoftware Is there a precedent for this anywhere?

[2019-09-27 17:05] boneskull commented on #29733
Introducing this would cause subtle bugs. Say you wrote this:

[code]

`some-module-with-side-effects` exports a thing called `foo`.  You also want to reference a variable `foo`, but have forgotten to declare it:

[code]

No exception would be thrown in the above situation, which is bad.

Also: what happens if `global.foo` already exists?

There are quite a few reasons not to do this.

[2019-09-27 17:41] ORESoftware commented on #29731
not sure if there is a precedent but it would be a nice feature.  it does make stack traces noisier though. so maybe a flag to switch it on/off.

[2019-09-27 19:31] bzmlxos commented on #29722
Just comment out the line `server = server;` in the example from https://github.com/nodejs/help/issues/2208 and you'll get that error. Note: the type error that we're talking about here is not related to the error from the linked issue.

[2019-09-27 23:45] #29602 closed

[2019-09-28 06:05] SajjadSM commented on #29644
That error did not happen in the last 4 days, I'll re-open the issue if it's happened again.

[2019-09-28 06:05] #29644 closed

[2019-09-28 06:09] ronag opened #29743 "make -j4 test stuck/slow"
I've always had this problem (I simply remove tests to get around it), when I run `make -j4 test`. It always gets stuck for a very long time on:

[code]

What could be causing this?

[2019-09-28 06:18] Trott commented on #29743
There are ten different tests that start with `test-domain-no-error-handler-abort-on-un`. Any chance you can isolate which ones are taking a long time for you and which ones aren't? Maybe run this?

[code]

[2019-09-28 06:27] ildella commented on #23064
@jasnell can you please point to the repo?

[2019-09-28 06:36] devsnek commented on #23064
https://github.com/nodejs/quic

[2019-09-28 06:47] ronag commented on #29743
[code]

I'm on MacOS.

[2019-09-28 09:12] inwardmovement opened #29748 "('child_process').exec fails in Travis"
* **Version**: v10.16.3
* **Platform**: Windows 64
* **Subsystem**: Child Process

`('child_process').exec` fails in Travis ([log](https://travis-ci.org/inwardmovement/mettaconseilpro/jobs/590748390#L504)) (it's ok locally), can someone help please?

[code]

[2019-09-28 10:38] lpinca commented on #29701
See discussion in https://github.com/websockets/ws/issues/1635. I think it's an ephemeral port exhaustion / connections kept in CLOSE_WAIT state issue on macOS.

Not sure if there is anything actionable to do.

[2019-09-28 10:42] lpinca commented on #29680
Fixed by https://github.com/nodejs/node/pull/29687.

[2019-09-28 10:42] #29680 closed

[2019-09-28 13:13] davidje13 commented on #29701
@lpinca I disagree that it's connected to your other issue for several reasons:

* this only manifests if the request is the first to reach the server (or perhaps is the first to be sent to a particular port)
* this only manifests when using `Connection: Upgrade`
* this happens after far fewer connections than would be expected for the resource exhaustion you mentioned
* I also observe the issue y

[2019-09-28 13:28] lpinca commented on #29701
How did you verify this? In the tests you shared, a lot of servers and clients are started until the issue happens or did I miss something?

Are you 100% sure about this? If there is a bug in Node.js upgrade mechanism why the issue disappeared with the latest macOS update and does not manifest on Linux or Windows?

[2019-09-28 14:00] #29709 closed

[2019-09-28 14:59] ronag opened #29749 "test: proposal common.expectsError nextTick option"
I would like to propose a new option for `common.expectsError` which will indicate whether the `error` can be invoked in the same tick or not, e.g.

I would like to be able to replace tests like this:

[code]

with

[code]

Would this make sense? It's quite often that one wants to test for callback errors and that they should be invoked asynchronously.

I think this would also help us actually mak

[2019-09-28 15:10] legendecas opened #29750 "n-api,doc: statements on conflicts on adding finalizers"
* **Version**: latest
* **Platform**: -
* **Subsystem**: doc, n-api

`napi_create_external_arraybuffer` and `napi_create_external_buffer` has a parameter `napi_finalize`, which may imply it would result in a finalizer creation.

Since `napi_add_finalizer` could be mixed with `napi_wrap`, there are no statements on if it is feasible that `napi_wrap` could be mixed with `napi_create_external_arraybu

[2019-09-28 15:17] lesagi commented on #26546
Any reason that this is still open?
Seems like everything was refactored? (given what @karansapolia said).

[2019-09-28 15:50] Trott commented on #29743
Does it execute quickly if you omit the `-0.js` test, perhaps like this?

[code]

[2019-09-28 15:52] Trott commented on #29743
(I'm having a hard time imagining why -0 would trigger a problem that -1 wouldn't, so I suspect it may be "There's a problem the first time an executable runs one of these tests but then everything is fine." If it is consistently -0, that's really interesting and surprising and worth investigating....)

[2019-09-28 15:56] Trott commented on #29743
I guess I'd also be interested in the output of this:

[code]

and this:

[code]

If -0 is consistently a problem and the others are consistently not, I guess the next thing to do is probably run the profiler (https://nodejs.org/en/docs/guides/simple-profiling/) to see where time is being spent?

[2019-09-28 16:01] davidje13 commented on #29701
@lpinca I verified that it only applies to the first request using a modified (not posted) script, which creates a single server then fires requests repeatedly to the same server. This was part of my original investigation, before I had narrowed down the issue. I observed your issue in that situation, but not mine.

And I'm not 100% sure about `Connection: Upgrade` being involved, but I am 98% sur

[2019-09-28 16:01] addaleax commented on #29743
148.00 real         0.12 user         0.03 sys

Fwiw: This most likely means that either the parent and the child process are idle (in which case the profiler won’t be helpful), or it is the child process that is busy on the CPU and not the parent process, so that should be targeted when profiling.

[2019-09-28 17:25] vitaly-t commented on #23064
HTTP/3 support in Node.js became a big deal since Sept 26, 2019...

* [Cloufare HTTP3 support is finally ON](https://www.techspot.com/news/82111-cloudflare-google-firefox-add-support-http3-shifting-away.html)
* [HTTP/3](https://en.wikipedia.org/wiki/HTTP/3)

[2019-09-28 17:41] jasnell commented on #23064
Yep, work is definitely underway! I'm hoping we can get the first iteration into master by November. There's still quite a bit of work to do and I've been intentionally taking my time on it to make sure (a) the API is right and (b) allowing the spec and the underlying ngtcp2 implementation library to get a bit more stable. Now that the browsers and Cloudflare are officially rolling out support, it

[2019-09-28 17:56] alex-jss opened #29753 "npm is not recognized as command"
`c:\>npm -v & node -v v10.16.3`
`npm` is not recognized as command
windows 10 v. 1903 (1362.387)
In "environment variables" it's ok
I installed nodejs v.12.11.0, but not without result
How is can correct the error and why `npm` is not working?

[2019-09-28 20:08] OYTIS commented on #28921
Fixed by https://github.com/nodejs/node/pull/28973

[2019-09-28 20:08] #28921 closed

[2019-09-28 21:02] baron775 opened #29755 "worker_threads: node[9926]: ../src/node_worker.cc:117:node::worker::WorkerThreadData::WorkerThreadData(node::worker::Worker*): Assertion `(uv_loop_init(&loop_)) == (0)' failed."
- Version: **v11.8.0**
- Platform: **Centos 7**
- Subsystem: **worker_threads**

`(async () => {
  while(true) {
    const result = await db.query(sql, values)
    result.rows.forEach(function(subscriber, key) {
      (async () => {
        await senderSystem(subscriber)
      })()
    })
  }
})()`

My error
`node[15426]: ../src/node_worker.cc:117:node::worker::WorkerThreadData::WorkerThreadData(n

[2019-09-28 21:04] addaleax commented on #29755
Node 11 is long unsupported. Can you try a current version of Node.js, and if that fails, can you share a reproduction or more information about your use case?

[2019-09-28 21:24] GingkathFox commented on #29733
Java counteracts that by using the fully-qualified name of the package, as in `com.node.npm`. Maybe Node could use it as `imports.foo`?

[code]

[2019-09-28 21:29] devsnek commented on #29733
at that point you could just do `const foo = require('foo')`

[2019-09-28 21:32] Trott commented on #29749
I (probably) wouldn't block it, but I think the first example is clear. I think the proposed API results in code where it is not immediately obvious what is going on. So someone will have to go and read the documentation, which increases friction.

If anything, in the first example, I might avoid `common.expectsError()` and use one or more calls to `assert.strictEqual()` instead. The test code wil

[2019-09-28 21:43] cjihrig commented on #29749
I share @trott's opinion on this issue.

I'd actually like to see `common.expectsError()` go away completely, but that's not the topic of this issue :smile:

[2019-09-28 21:48] cjihrig commented on #29733
I think that realistically, we just couldn't ship this. The potential to break existing code in confusing ways is just too high. I'm going to close this for now, but thanks for opening the issue, and feel free to continue discussing.

[2019-09-28 21:48] #29733 closed

[2019-09-28 22:28] ronag commented on #29749
Makes sense.

[2019-09-28 22:28] #29749 closed

[2019-09-29 00:45] mahmoudmohsen213 opened #29756 "Arithmetic operation wrong result"
* **Version**: v8.10.0, v10.8.0
* **Platform**: 64-bit (Windows)
* **Subsystem**:

This simple arithmetic operation `205891132094649 * 63` gets wrong output `12971141321962888` ,,, while the correct output is `12971141321962887`.

I suspect that there are other inputs that will get wrong output, but of course I can't find them all.

[2019-09-29 00:50] mahmoudmohsen213 commented on #29756
Update: The same issue exists in Chrome and Firefox browsers, I guess it's an internal issue inside the engine itself!

[2019-09-29 01:06] devsnek commented on #29756
this is because js uses double-precision floats (ieee754) by default. you can use arbitrary-precision integers too: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt#Description

[2019-09-29 02:50] ImHype opened #29757 "Add env in assertion_error so that user could show the complete inspect results."
**Is your feature request related to a problem? Please describe.**
When I write like this code.
[code]

The result will be like this.
[code]

**Describe the solution you'd like**
Maybe we could add an ENV to enable the mode to show the complete inspect results.

[2019-09-29 02:59] #29757 closed

[2019-09-29 06:45] awwright commented on #29609
It appears this is caused by an underlying bug in streams and/or the duplex pair implementation:

[code]

Expected:

Actual:

A write call (empty or non-empty) followed by an empty write call causes this; note how removing either of the calls works around the bug.

This isn't related to HTTP so I'm not sure if/when _this_ was ever introduced, I'll spin up a "git bisect" job soon.

[2019-09-29 06:48] awwright commented on #29609
This has been around since at least v10.16.3

[2019-09-29 06:56] awwright opened #29758 "stream: certain sequence of Writable#write and Writable#end will not end stream"
* **Version**: v12.10.0
* **Platform**: macOS
* **Subsystem**: stream

I ran into a problem where certain `Connection: close` HTTP responses were not being closed, when the response is a `Content-Length` response (as opposed to a chunked response), see #29609 and #29649 for background.

I've been able to isolate this bug to a problem in "stream" and/or the duplex pair implementation (used by the "

[2019-09-29 06:57] awwright commented on #29609
As far as I can tell the bug I'm encountering isn't "http" related, so I've opened #29758

[2019-09-29 06:57] #29609 closed

[2019-09-29 07:33] ronag commented on #29758
As far as I've been able to tell so far the second `serverSide` `write` will never complete because the `clientSide` doesn't read it out for whatever reason. Will try to dig further later tonight.

[2019-09-29 12:28] blubbll commented on #23697
I have the same issiue with the domain "zircon.network"
`(node:6624) UnhandledPromiseRejectionWarning: TypeError [ERR_INVALID_URL]: Invalid URL: zircon.network
    at onParseError (internal/url.js:217:17)
    at parse (internal/url.js:226:3)
    at new URL (internal/url.js:309:5)
    at new URL (internal/url.js:307:14)
    at Function.normalizeURL`

[2019-09-29 12:30] blubbll opened #29760 "Referencing 23697:Invalid URL"
I have the same issiue with the domain "zircon.network"

https://github.com/nodejs/node/issues/23697

`(node:6624) UnhandledPromiseRejectionWarning: TypeError [ERR_INVALID_URL]: Invalid URL: zircon.network
    at onParseError (internal/url.js:217:17)
    at parse (internal/url.js:226:3)
    at new URL (internal/url.js:309:5)
    at new URL (internal/url.js:307:14)
    at Function.normalizeURL`

It

[2019-09-29 12:33] blubbll commented on #29760
guess i didn't really read the new sitemap docs

[2019-09-29 12:33] #29760 closed

[2019-09-29 12:53] lpinca commented on #29758
From a quick look it seems that `_read()` is not called for the empty chunk.

https://github.com/nodejs/node/blob/82f89ec8c1554964f5029fab1cf0f4fad1fa55a8/test/common/duplexpair.js#L16-L22

As a result the write of the empty chunk does not complete (the callback is not called) and this prevents `_final()` from being called and from pushing the `null` chunk on the client.

https://github.com/nodejs

[2019-09-29 12:55] lpinca commented on #29758
cc: @nodejs/streams

[2019-09-29 13:29] Nainterceptor commented on #29537
Hello guys,

@joeyhub Please confirm that issue is the same : https://github.com/Nainterceptor/node-issue-29537 ?

Quick explain :
root has a "type": "module" and is .mjs.
dependency has both cjs and esm (typically like when you have a typescript build).
dependency has main and module keys pointing on cjs and esm parts
root load the cjs part, ignoring "module" key.
If I add "type": "module" in the

[2019-09-29 14:26] lpinca commented on #29739
This is valid for many examples and not just this one https://nodejs.org/dist/latest-v12.x/docs/api/http2.html#http2_server_side_example. In my opinion we should either use `Content-Type: text/html; charset=utf-8` for all of them or none.

To be pedantic the examples work as intended and the problem only happens when changing the original data so this is expected. I mean if you are changing the ex

[2019-09-29 15:07] joyeecheung commented on #27261
Hi, sorry about not noticing this earlier. Can you still reproduce this in newer versions of v12?

[2019-09-29 15:59] ronag commented on #29758
For me it feels like it is masking a more fundamental problem. https://github.com/nodejs/node/pull/29762 is my take on it but I'm out on deep water.

[2019-09-29 17:08] joeyhub commented on #29537
I'm using type as module and mjs for the entry point (but after that I stick with js).

I am noticing it appears to load the cjs (main) even though there's also a module in many cases though I have a tendency to get mixed up as well using ESM native locally but rollup to ship off the the browser.

Maybe it is some inconsistent behaviour then and not just some annoyance with a stop gap getting in t

[2019-09-29 17:17] devsnek commented on #29537
@Nainterceptor if you have `type: module` you need to change any cjs files to use `.cjs` instead of `.js`.

i think this issue has been resolved at this point.

[2019-09-29 17:17] #29537 closed

[2019-09-29 17:55] wetndusty commented on #29739
it sometime hard for newcomers - change hello world to local language is common practice - so change base code to be newcomers friendly variant is not so bad idea (IMHO)

[2019-09-29 18:30] szmarczak opened #29763 "`http2.getDefaultSettings().maxConcurrentStreams` is `undefined`"
As per the docs:

[code]

[2019-09-29 18:38] szmarczak commented on #29763
It should not be undefined IMO. It should be 2<sup>31</sup>-1. If there is no default value it should be `Infinity`.

[2019-09-29 18:46] szmarczak opened #29764 "ClientHttp2Session doesn't acknowledge new settings"
Demo:

https://runkit.com/szmarczak/5d90f849ecc28e001ac8f3e1

Current output:
[code]

Expected output:
[code]

As per the spec:
### [6.5. SETTINGS](https://httpwg.org/specs/rfc7540.html#SETTINGS)

Sounds like a bug.

[2019-09-29 18:48] GingkathFox commented on #29733
I don't see what would break. Anything already `require`d wouldn't be affected.

[2019-09-29 19:41] awwright commented on #29758
@ronag The HTTP issue is being caused because the callback of `Writable#write('', 'latin1', callback)` is never called, so I think if this case is fixed so will the HTTP case. But either way, this problem will affect the HTTP one.

@lpinca I'll start using your patch to avoid empty `push()`es as a workaround, but yeah, streams should be able to handle empty pushes like this; or if this is a requir

[2019-09-29 20:10] ang-st commented on #27916
I can confirm it's long standing as I can track  it back from V7. I experience it at least once a day actually and so far i'm struggling at catching it outside `process.on('uncaughtException', ..)` as the backtrace is not meaningfull

[code]
Hope you guys will find a usable solution soon :)

[2019-09-29 20:54] ronag commented on #29758
@awwright Can you try with #29762?

[2019-09-29 21:05] ronag opened #29765 "stream: readable.push(undefined) behaviour?"
Noticed this while working on https://github.com/nodejs/node/pull/29762.

What is the expected behaviour of:

[code]

It seems to get through `chunkInvalid` https://github.com/nodejs/node/blob/master/lib/_stream_readable.js#L340

But can later fail with a null ref at `Stream._uint8ArrayToBuffer` https://github.com/nodejs/node/blob/master/lib/_stream_readable.js#L279

Unless I'm missing something,

[2019-09-29 21:06] ronag commented on #29765
@addaleax @mcollina

[2019-09-29 21:21] #29765 closed

[2019-09-29 22:42] awwright commented on #29758
@ronag Seems to solve the issue for me, great work!

[2019-09-29 23:29] joyeecheung opened #29766 "Performance regression in v12 caused by primordials"
I have heard about performance regressions caused by transition to primordials in v12, but couldn't find a tracking issue for the regression, so opening this to make sure we are tracking it and can work with the upstream to get this handled, on way or another (feel free to close this if there is already an issue opened here).

The regressions seem to come from two types of code patterns:

1. Calli

[2019-09-29 23:35] jacott opened #29767 "FATAL archived threads in combination with wasm not supported"
* **v12.11.0**:
* **Linux gkj 5.3.0-13-generic #14-Ubuntu SMP Tue Sep 24 02:46:08 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux**:
* **`v8/src/wasm/wasm-engine.cc`**:

I get the following error when running the server tests for my package "koru"

[code]
This error has never occurred on any previous version of node.

To run the tests you need to have postgres and libpq-dev installed and have superuser ac

[2019-09-29 23:43] addaleax commented on #29767
Do you use Workers or any native addons (in node_modules or otherwise)? Is there any chance of getting a reproduction with fewer dependencies?

This may be a breaking change in V8 7.7 that we have overlooked.

/cc @nodejs/v8

[2019-09-29 23:47] jacott commented on #29767
If I comment out the test that uses the package "source-map" (`app/koru/stack-error-convert-test.js`) then all the tests pass.  If I run the convert-test by itself it runs okay.

[2019-09-29 23:51] jacott commented on #29767
I don't use workers but I do use native addons: package pg-libpq and koru itself has a small napi file.

Other larger code bases that use koru but don't invoke the source-map code in their tests also run fine.

[2019-09-29 23:56] devsnek commented on #29767
source-map uses wasm

[2019-09-30 00:03] jacott commented on #29767
Thanks! The problem is not consistent. It mostly fails but sometimes does not. I have also seen it fail when I just run `app/koru/stack-error-convert-test.js` but not very often. It always succeeds when that test is excluded.

[2019-09-30 00:07] trivikr commented on #29232
Update: GitHub [stale action](https://github.com/actions/stale) is pretty new, and will need some time to get stable.

For example, the support for exempt labels was added on Aug 27 in https://github.com/actions/stale/pull/11
Blog post describing experience with GitHub Actions https://evilmartians.com/chronicles/github-actions-first-impressions

[2019-09-30 00:09] trivikr commented on #29232
In Node.js core, we tried writing CI with GitHub Actions in https://github.com/nodejs/node/pull/29193
But decided to wait till Actions goes stable in November as described in https://github.com/nodejs/node/pull/29193#issuecomment-524809709

[2019-09-30 02:45] Trott opened #29770 "meta: permit Travis for doc-only changes instead of lite-pipeline CI job?"
Does it make sense to update `onboarding.md` and `COLLABORATOR_GUIDE.md` to permit using Travis results for doc-only changes instead of requiring the CI lite-pipeline job? If that would be permissible, that might smooth the workflow a bit for landing doc PRs. (For one thing, the doc PRs will be land-able without someone manually starting a CI job.)

[2019-09-30 02:45] Trott commented on #29770
@nodejs/tsc @nodejs/build @nodejs/releasers

[2019-09-30 04:23] richardlau commented on #29770
I have no objection but it would probably require changes to https://github.com/nodejs/node-core-utils.

[2019-09-30 04:59] richardlau commented on #29770
Actually although we run the linters I'm not sure we build the docs or run the doc tests on Travis.

[2019-09-30 05:21] devsnek commented on #29767
tried looking into this a bit, not sure what is going on... going to need the v8 team i think

[2019-09-30 06:47] ayushmandey97 commented on #29226
I'll be adding support for multi-line comments as well.

There's one issue though, I added a dummy 'using' statement in one of the .cc files to check if an error was thrown, but the check-imports.py file ran without any log statements.
Any suggestions on how to test it in-case that's a wrong approach?

Another thing, since this is my first PR for Node, please feel free to let me know if I've made

[2019-09-30 07:11] ronag commented on #29728
What is the rationale behind this? Would be nice if `pipeline` always destroyed all streams, i.e. normalizing the behaviour of "buggy" streams that don't auto destroy.

[2019-09-30 07:20] mcollina commented on #29728
destroy was added later, and @mafintosh and myself thought that automatically calling it was a responsibility of the stream itself, i.e. the autoDestroy option.

[2019-09-30 07:24] mcollina commented on #29766
From my tests, it seems to be related to inlining.

[2019-09-30 07:28] mcollina commented on #29770
+1 if we run the doc tests. On a side note, I’m ok with a specific github action.

[2019-09-30 07:57] hashseed commented on #29767
@jakobkummerow

[2019-09-30 07:58] borgdylan opened #29773 "FTBFS: 12.11 fails to build from source due to a missing file"
* **Version**: v12.11.0
* **Platform**: Linux dylan-pc 5.3.1-050301-generic #201909210632 SMP Sat Sep 21 06:34:27 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: build

[code]

[2019-09-30 08:09] targos commented on #29773
Duplicate of https://github.com/nodejs/node/issues/29709, fixed by https://github.com/nodejs/node/pull/29712 (the next release will have the fix).

[2019-09-30 08:09] #29773 closed

[2019-09-30 08:57] ronag commented on #29728
Is changing that something you would approve of? I'm thinking of a few reasons:

- Simplifies code
- Simplifies docs and reasoning
- Normalizes the behaviour for streams that don't autoDestroy due to various reasons (i.e. is there any case where where it makes sense that it is not destroyed)?

[2019-09-30 09:08] mafintosh commented on #29728
It's tricky.

`stream.destroy` is a newly standardised thing but has been part of streams since the beginning. The meaning of calling `stream.destroy()` varies greatly. Some streams see it as "hey there is an error, shutdown immediately" other more modern ones see it as a "i'm automatically called after success to close resources".

I don't think it's pipelines responsibility to force call this an

[2019-09-30 10:22] ronag commented on #29728
I feel like I'm missing something in my understanding. When can it be breaking/not good to call `destroy` after the pipeline has finished?

[2019-09-30 10:38] bnoordhuis commented on #29767
node-fibers hacks the thread-local storage to trick V8 into thinking it's running separate threads/isolates, that probably has something to do with it.

[2019-09-30 10:44] mafintosh commented on #29728
Yes, since the behaiviour of destroy() has been undefined so long I'd be careful to assume anything. I don't see the clear benefit it adds also. It's never been part of the stream "contract" to require the user to call `destroy()` after end/finish afaik, and users wanting this should use autoDestroy instead.

[2019-09-30 10:52] ronag commented on #29728
Ok, I'm with you now.

[2019-09-30 10:52] #29728 closed

[2019-09-30 10:57] #28555 closed

[2019-09-30 12:39] bnoordhuis commented on #29614
What libuv version was that? I fixed some mips-related bugs in libuv last year that were released in v1.23.1.

Apropos test-crypto-from-binary, can you also reproduce when you link against the bundled copy of openssl?

[2019-09-30 12:54] hammacher commented on #29767
Can you please explain in which ways archived threads are used here? We did not expect users of that outside of chrome, and for the chrome use case we do not need to support WebAssembly.

Note that a workaround for node might be to disable wasm code gc by passing --no-wasm-code-gc.

[2019-09-30 13:04] cjihrig commented on #29770
I'm +1 to doing this, as long as the necessary tests run on Travis.

[2019-09-30 13:08] targos commented on #29770
+1 as well. I'm in favor of doing a GitHub action only if there is a way to cache compilation artifacts, otherwise it's too slow.

[2019-09-30 13:48] #29734 closed

[2019-09-30 13:51] bastien-roucaries commented on #22745
We ship this patch since 2018 without problem in debian and ubuntu. Could you get mainlined ?

Here the patch  https://sources.debian.org/src/nodejs/12.10.0%7Edfsg-2/debian/patches/dfhs_module_path_arch_triplet.patch/

[2019-09-30 14:01] bastien-roucaries opened #29775 "Patch shipped from debian/ubuntu"
We ship this patch since 2018 without problem in debian and ubuntu. Could you get mainlined ?

Here the patch https://sources.debian.org/src/nodejs/12.10.0%7Edfsg-2/debian/patches/dfhs_module_path_arch_triplet.patch/

It allow distrib to custumize path

[2019-09-30 14:01] bastien-roucaries commented on #29775
See rationnal here https://github.com/nodejs/node/issues/22745

[2019-09-30 15:09] bnoordhuis commented on #29775
Can you open a pull request? See CONTRIBUTING.md for details about the process.

[2019-09-30 15:21] devsnek commented on #29505
hacktoberfest 2019 is open.

@nodejs/collaborators i created the "Hacktoberfest" label, feel free to add it to anything you want hacktoberfest folks to notice.

[2019-09-30 15:54] Trott commented on #29770
@richardlau node-core-utils always fails to notice Lite CI runs for me. It didn't always, but this started at some point not-too-recently. I can document the next time it happens if that's helpful. I assume it has been that way for everyone.

[2019-09-30 16:16] richardlau commented on #29770
@Trott Admittedly I've not tried it against a doc-only PR recently, but it has worked in the past (I've PR'ed fixes to it before, e.g. https://github.com/nodejs/node-core-utils/pull/354). If you could document it the next time it happens it would be a very good step towards getting it fixed.

[2019-09-30 16:56] richardlau commented on #29770
Then again it looks like we haven't published a version of node-core-utils containing https://github.com/nodejs/node-core-utils/pull/354 so it's quite possible you're running into the problem that fixes.

[2019-09-30 18:00] fanatid commented on #17469
Yeah, arrays definitely not for this, maybe linked list. Should I create issue in V8 project?

[2019-09-30 19:49] joyeecheung commented on #29766
I just noticed that things like `primordials.Reflect` are not frozen, but instead the slowdown probably comes from `Object.create(null)` which turns the objects into dictionary mode.

[2019-09-30 19:58] devsnek commented on #29766
Can we have V8 migrate everything captured in the snapshot to fast properties?

<sub>And if all else fails... `try { eval('%ToFastProperties(primordials.Reflect)') } catch {}` :)</sub>

[2019-09-30 20:03] joyeecheung commented on #29766
cc @nodejs/v8

[2019-09-30 20:07] joyeecheung commented on #29766
For reference the primordials are baked in https://github.com/nodejs/node/blob/6ce87c0/lib/internal/per_context/primordials.js

[2019-09-30 20:44] Nainterceptor commented on #29537
@devsnek What ? In my code example, I _don't_ want to load cjs, but cjs is loaded.
NodeJS is not reading the "module" key of the dependency's package.json, so he's trying to import the main path as esm. I don't know if it's the expected behavior but it seems weird.

[2019-09-30 20:54] bastien-roucaries commented on #29775
Ok here https://github.com/nodejs/node/pull/29782

[2019-09-30 21:19] devsnek commented on #29537
@Nainterceptor node doesn't use the module field, there is too much code using it that is not compatible with native esm.

[2019-09-30 21:32] bnoordhuis commented on #17469
Yes, that would be best. Thanks.

[2019-09-30 21:53] mhdawson commented on #29731
If you enable --experimental-report --report-uncaught-exception you would get the node version and much more.  Having said that it's still and interesting idea.

[2019-09-30 22:03] mhdawson commented on #28988
@gabrielf which version of V8 will the change be in? We are already at 7.7 in 12.x but I'm not sure I've 7.8 will be backported (@targos can you comment) and due to having upped the mininum OSX devtools level to accommodate later V8 versions in 13.x my guess is that 7.9 and later most likely will not be backported.

We may need to float the fix.

[2019-09-30 22:33] mhdawson commented on #28420
Maybe a long shot but would this be related at all https://github.com/nodejs/node/issues/28988, seems like @gabrielschulhof has found that there is a fix for that issue in a later v8 version.

[2019-09-30 22:46] bmacnaughton commented on #28420
thanks for connecting the possibly related dots!

any idea when that version of v8 will make it into node? i'm happy to test against my big, ugly, messy, hard-to-package benchmark where i see the issue come up. i've been working on reproducing it in something simple but haven't had any luck. in the meantime i'll keep trying to repro in something packageable.

[2019-09-30 23:17] prog1dev commented on #29415
@cclauss So this issue is fixed by https://github.com/nodejs/node/pull/29414?

[2019-10-01 00:37] yesman55 commented on #27844
I am having a similar issue.

My non-worker-thread process runs fine (the memory spikes during the code process and then goes back to previous idle levels).

When my worker-thread process is run there is some sort of memory leak (the memory spikes but only goes down to about 50% of the peak usage).

[code]

[2019-10-01 00:45] yesman55 opened #29784 "Worker Thread Memory leak"
I am having a memory issue when utilizing worker-threads.
I'm using node v10.16

My non-worker-thread process runs fine (the memory spikes during the code process and then goes back to previous idle levels).

When my worker-thread process is run there is some sort of memory leak (the memory spikes but only goes down to about 50% of the peak usage).

Is there more functions that need to be called o

[2019-10-01 01:50] mikelehen commented on #29223
We are experiencing a similar issue in the Google Cloud Firestore SDK.  We have 10 or so customers reporting their production apps hitting [this error](https://github.com/grpc/grpc-node/blob/c186e6d0a1dcf73bf636f2c3542137e079e8fccb/packages/grpc-js/src/call-stream.ts#L320) where our http/2 stream is closed with NGHTTP2_ENHANCE_YOUR_CALM.

I can reproduce the issue with node v10.16.3 but not v10.16

[2019-10-01 01:57] #29679 closed

[2019-10-01 03:21] jacott commented on #29767
using `--no-wasm-code-gc` does indeed appear to stop the problem occurring.

[2019-10-01 05:34] iamrenejr opened #29786 "Buffer.from(string, 'hex') needs a documentation update (was: Buffer.from(x, `hex`).toString(`hex`) does not return x for certain values of x)"
* **Version**: 10.16.3
* **Platform**: Darwin Renes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64
* **Subsystem**: Buffer

Run these in the REPL:

[code]

I expected `.toString('hex')` to be the inverse operation of `Buffer.from(x, 'hex')`, but it doesn't seem to be the case. Why not?

I was able to catch this error

[2019-10-01 05:46] Trott commented on #29786
All of your problematic examples have an odd number of characters. `Buffer.from()` can't know how your hex-encoded string should be treated if it has an odd number of characters. Hex encoding means each byte is encoded as two hexadecimal characters. If you only provide one character instead, I imagine behavior is undefined, although I don't actually know. Surprisingly, I can't find mention of this

[2019-10-01 05:47] Trott commented on #29786
Added `hacktoberfest` and `good first issue` labels in case someone wants to try their hand at updating the relevant documentation.

[2019-10-01 06:32] Z3TA opened #29788 "requires - require modules securely (restricted access to fs,net, etc)"
problem: When you use third party modules, they often have a lot of dependencies, and it only takes one compromised module out of tens of thousands to infect your own app with a backdoor, that might steal your .ssh keys or crypto wallet, or create a remote shell.

solution: A new function "requires" (require securely) that works similar to require, but does not give access to fs, net, os, native (

[2019-10-01 06:42] Z3TA opened #29789 "Make require faster"
problem: Requiring a module inside a loop will slow it down significantly, see test code (1).

solution: Use caching or other optimization techniques to make the require function faster.

1) test code: https://johan.webide.se/require_perf.js

[2019-10-01 06:58] ronag opened #29790 "stream: pipe and async error"
`destroy()` will emit `error` asynchronously which means that `pipe` will not actually `unpipe` in the next tick. However, the destination is already `destroyed` so `pipe` will perform one extra unnecessary/invalid read from the source.

[code]

I don't really see any good way to resolve this without something like a `preerror` event which is emitted synchronously.

Not sure how big of a problem t

[2019-10-01 07:13] ronag commented on #29790
Actually it can be a bit of a problem since write after destroy error could preceded the destroy error (due to other bugs where `write` errors are emitted synchronously, there are PR's for fixing this though)

[2019-10-01 07:53] olalonde commented on #29707
Bump

[2019-10-01 07:55] Craphtex opened #29793 "The digest function of the Crypto module's Hash object fails encoding hash in utf16le encoding"
* **Version**: v6.17.1, v8.16.1, v10.16.3, and v12.11.0
* **Platform**: Linux msi 4.15.0-62-generic [insert hashtag here]69-Ubuntu SMP Wed Sep 4 20:55:53 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: crypto

### Issue
According to the documentation the [`digest` function](https://nodejs.org/api/crypto.html#crypto_hash_digest_encoding) on a [Hash object](https://nodejs.org/api/crypto.htm

[2019-10-01 08:04] Craphtex commented on #29793
I would expect this test case to work
[code]

[2019-10-01 11:54] addaleax commented on #29793
Thanks for opening an issue! The restriction had historical reasons but is unnecessary now. I’ll open a PR to remove it.

[2019-10-01 12:05] mukeshkmr776 commented on #19530
@sam-github: is -rc available?

[2019-10-01 12:20] addaleax commented on #29784
Is there any chance you could provide a complete reproduction, i.e. something that we could run locally? Does this also happen with current v12.x releases?

[2019-10-01 14:18] jasnell commented on #29707
@bnoordhuis:

Really not a fan of polymorphic signatures, not only because of type confusion but due to performance costs. I'd much rather just keep the variants separate.

I can definitely get behind having these APIs in core. I'm less convinced on the floating point variant but I buy into @bnoordhuis' argument there.

[2019-10-01 14:30] GrosSacASac commented on #29789
require is already cached,
The solution is to not require inside a loop.

[2019-10-01 14:44] BridgeAR commented on #29789
I added another caching layer explicitly for situations like these from Node.js v12.x on. It still has a tiny overhead but it's significantly faster than it used to be:

[code]

The benchmark is not a fair benchmark though: the list and call inside the loop just get optimized away by V8. It detects that the variable is always identical. This is not the case for the require inside the loop. The req

[2019-10-01 14:44] #29789 closed

[2019-10-01 14:51] mscdex commented on #29788
You're probably looking for [policies](https://nodejs.org/docs/latest/api/policy.html#policy_dependency_redirection). However, simply turning module support on and off doesn't help you that much, since modules with say `fs` access enabled, could still unintentionally read/write from/to sensitive files. Ultimately you will probably want protection at the OS layer instead.

[2019-10-01 14:59] sam-github commented on #29707
Feature seems reasonable to me. @orlonde, it sounds like a PR would be accepted, go for it.

[2019-10-01 15:10] devsnek commented on #29784
i had this issue a while ago, and switching my worker_threads to child_process stuff without changing anything else fixed it. I never had a trivial reproduction though :(

[2019-10-01 15:19] sgallagher opened #29798 "RFE: Separate search paths for distribution-packaged NPMs and globally-installed ones"
**Is your feature request related to a problem? Please describe.**

When distributing Node.js in a Linux distro (in my case, Fedora), we run into problems when users call `npm -g update` (most often, this is `npm -g update npm` which upstream NPM provides as user-feedback when running the CLI).

The problem is that if NPM replaces content in `/usr/lib/node_modules/` with the NPM-retrieved versions

[2019-10-01 15:21] devsnek commented on #29798
node doesn't use npm's global install location at all, it doesn't know it exists. If you want to suggest a change to npm i suggest opening a thread on https://npm.community.

[2019-10-01 15:28] mhdawson commented on #29798
@devsnek from my understanding of the request this would not be a change to npm as I don't think it involves the installation of packages, instead, it would affect where node looks for installed modules.  @sgallagher correct me if I'm wrong on that front.

[2019-10-01 15:30] mhdawson commented on #29798
@bastien-roucaries since you mentioned you work on debian/ubuntu I'm wondering if you have a similar problem to the one outlined in this issue?

[2019-10-01 15:36] DerekNonGeneric commented on #29610
A few documentation-related errors I see:

- The error stated is incorrect.
[code]
   According to the [Node.js documentation](https://nodejs.org/api/esm.html#esm_terminology) specifiers may not begin with `/`.

- `URL` does not need to be imported, since it is already in scope.

- The JSDoc comment at the top should be of type `{string=}` as it is optional parameter, yet it reads:
[code]
- The co

[2019-10-01 15:42] bastien-roucaries commented on #29798
FHS dictate local install should go to /usr/local/.

We use on debian https://github.com/nodejs/node/pull/29782  and we search first /usr/local/share/nodejs then /usr/local/lib/currentarch/nodejs then  /usr/local/lib/nodejs then   /usr/share/nodejs then /usr/lib/currentarch/nodejs then  /usr/lib/nodejs then

you need a patch for npm to allow an option to specify system install dir but from node se

[2019-10-01 15:43] sam-github commented on #29798
@sgallagher Have you seen https://github.com/nodejs/node/pull/29782, is it at all related to this?

cc: @gireeshpunathil , who has seen a lot of users have trouble related to node/npm installation and update

[2019-10-01 15:45] sgallagher commented on #29798
@devsnek What I'm talking about is this: https://github.com/nodejs/node/blob/master/lib/internal/modules/cjs/loader.js#L1085

I stumbled across https://github.com/nodejs/node/pull/29782 which is similar (it addresses allowing a configure option to change the global search path) but it doesn't include the separation I was looking for between NPM-globally-installed modules and distro-packaged ones.

[2019-10-01 15:45] bastien-roucaries commented on #29798
We pass the following configure option (for now we do not search /usr/local but we plan to do)
--prefix=/usr
--arch-triplet=$(DEB_HOST_MULTIARCH) \
--node-relative-path="lib/$(DEB_HOST_MULTIARCH)/nodejs:share/nodejs:lib/nodejs"

[2019-10-01 15:46] sgallagher commented on #29798
@sam-github Yes, it's related but solving a larger problem around not having NPM clobber distro packages as well.

[2019-10-01 15:46] bastien-roucaries commented on #29798
@sgallagher FHS dictate admin package should go to /usr/local

[2019-10-01 15:51] sgallagher commented on #29798
Yes, the NPM installs probably should go to `/usr/local`, since you mention it. The RPM installs belong in `/usr` though. We don't need to debate interpretations of the FHS here; as long as it's configurable we can resolve that later.

npm WARN checkPermissions Missing write access to /usr/lib/node_modules/grunt/node_modules/coffee-script
[code]

[2019-10-01 16:06] bmeck commented on #29610
I'd avoid the JSDoc change, there is some disagreement and I lean towards TS syntax which does not enforce non-undefined value:

[code]

[2019-10-01 16:15] jkrems commented on #29610
Not sure how relevant that is here but with `strict: true` (or just strict null checks), TS *does* mark your sample as an error. I think it's reasonable to be explicit about optional and/or nullable parameters in the API.

[2019-10-01 16:16] weswigham commented on #29610
FYI, that _does_ enforce non-undefined if `strict` (or at least `strictNullChecks`) is on. (And it should be on.) It _should_ be `string=` if it's optional, which the TS checker'll also recognize.

[2019-10-01 16:18] bmeck commented on #29610
I'm not really cozy on relying on non-default configuration to determine that.

[2019-10-01 16:21] devsnek commented on #29798
if distros feel the need to do this because npm/yarn/pnpm/entropic/etc isn't floating your boat, why doesn't targeting `/usr/lib/node` work? it's already a global search path (along with .node_modules), and npm doesn't ever touch it.

[2019-10-01 16:21] jkrems commented on #29610
It doesn't *break* in the default configuration to use `string=`. And, as Wes said, `strictNullCheck` isn't an obscure setting but pretty close to an accepted best practice. Your sample relies on the fact that TS actively ignores (some) null errors in the default configuration to make transitions easier (I assume).

[2019-10-01 16:25] sgallagher commented on #29798
OK, I just re-examined some of our Node packaging tools (written by my predecessor on Fedora Node.js maintenance) and realized I was mistaken. They aren't installed in a way as to make them globally accessible for `requires()`. The tooling for dependent NPMs automatically creates symlinks into their own paths. So it's behaving like you think it should. So I guess I can withdraw that part of my req

[2019-10-01 16:27] bmeck commented on #29610
even if we have a recommendation, we should not do something if it not the default. E.g. don't share strict mode code if the default is non-strict unless you express that it should be strict. We could argue about this a bit but overall it isn't as important, I'd be fine with `string | undefined` since it always populated however. I'd not be ok with treating it as optional if it always does have a

[2019-10-01 16:47] weswigham commented on #29610
`string | undefined` works, yeah. If it's always supposed to be provided, if recommend that - and the closure compiler typesystem would, too.

You can drop a jsconfig.json (or tsconfig.json) somewhere at the root of the js source to set options for vscode and other TS-based JS's IDEs. The default for a new one generated by `tsc` is `strict: true`, but that'll pepper errors all over the codebase, l

[2019-10-01 16:48] KaranBE opened #29800 "FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
<--- Last few GCs --->

[6688:00000265CEB76EB0] 410012252 ms: Mark-sweep 6722.7 (8352.3) -> 6721.8 (8352.8) MB, 190.6 / 0.1 ms  (average mu = 0.142, current mu = 0.035) allocation failure scavenge might not succeed
[6688:00000265CEB76EB0] 410012447 ms: Mark-sweep 6729.3 (8352.8) -> 6728.3 (8353.8) MB, 188.4 / 0.1 ms  (average mu = 0.092, current mu = 0.035) allocation failure scavenge might not su

[2019-10-01 16:51] bmeck commented on #29610
I'm not eager to add a tripleslash to our docs for Node.js itself.

[2019-10-01 16:54] weswigham commented on #29610
? "A tripleslash"?

[2019-10-01 16:56] bmeck commented on #29610
@weswigham https://www.typescriptlang.org/docs/handbook/triple-slash-directives.html

[code]

That would be how I'd assume we would show intent in the docs if we expect it to be `strict` TS, as I don't think explaining how to add a JSON config for typescript is reasonable.

[2019-10-01 17:02] weswigham commented on #29610
We don't support anything like that right now. Triple slash directives only exist to specify file dependency ordering in legacy concatenate type code, mostly.

Rather than explaining, you could just... Add it. Like the lint config, to which it is very similar.

[2019-10-01 17:19] bmeck commented on #29610
@weswigham I don't understand. This is the documentation of the function, what do you mean "add it"

[2019-10-01 17:25] Truth1984 opened #29801 "bigInt tolocalestring is not working correctly"
* **Version**: 12.11.0
* **Platform**: Darwin

target: `123456789n.toLocaleString('fr')`
expected result (tested on Chrome): `"123 456 789"`
actual result (node-cli): `"123,456,789"`

[2019-10-01 17:35] weswigham commented on #29610
Oh, I mean "add the config file to specify that you'd prefer stricter checks throughout the project".

[2019-10-01 17:39] bmeck commented on #29610
I'm remain not comfortable adding a TS config to the docs.

On Tue, Oct 1, 2019, 12:38 PM Wesley Wigham <notifications@github.com>
wrote:

[2019-10-01 17:45] tniessen commented on #29707
If we are only considering safe integers (that is, 53 bits or less), would the usual `floor(range * random())` with a cryptographically secure version of `Math.random()` be enough? I am not sure, I feel like it might have security implications, but if it does not, we could simply provide the floating point variant for now.

[2019-10-01 17:51] sam-github opened #29802 "flaky test-http2-reset-flood"
* **Version**: master
* **Platform**: freebsd
* **Subsystem**: http2

[code]

- https://ci.nodejs.org/job/node-test-commit-freebsd/nodes=freebsd11-x64/28633/testReport/junit/(root)/test/parallel_test_http2_reset_flood/

From https://github.com/nodejs/node/pull/29727, which seems wholly unrelated, since it changes the link flags on linux, and this is a freebsd failure.

@nodejs/platform-freebsd

[2019-10-01 17:51] #29801 closed

[2019-10-01 17:51] trivikr commented on #29232
GitHub just added a new workflow editor for Actions
Details: https://github.blog/2019-10-01-new-workflow-editor-for-github-actions/

[2019-10-01 17:52] Truth1984 commented on #29801
only chrome has such feature

[2019-10-01 17:59] devsnek commented on #29610
I think this is a bit of a red herring. We should not have jsdoc comments in code samples. The types are already specified exactly in the documentation.

[2019-10-01 18:03] devsnek commented on #29707
i think "random floats" are diverse enough of a problem that we should leave it to userland. we have int in range, float in range, int to float in range (e.g. 0x2440 for 10.0), list goes on.

[2019-10-01 18:07] weswigham commented on #29610
_jsconfig.json_

The tool may be _named_ TypeScript, but ultimately there's no _required_ exposure to TS as a language (unless you'd like to be pedantic and say the type documentation syntax is TS, but since it supports all the closure compiler syntax, too, I don't think that's really a problem), especially if you're just configuring IDE features when used this way.❤️ It's not much different from

[2019-10-01 18:17] weswigham commented on #29610
Aren't we talking about the code comments in the implementation? Oh, I had no idea we were talking about the doc sample, totally misread that. (I thought we were talking about docstrings on the actual internals, which I'd love to see more of, cause they're pretty rare right now.)

I think stating the types in the sample is convenient (since it condenses what you need to read to understand the func

[2019-10-01 18:25] DullReferenceException opened #29804 "C++ entry points not captured during profiling"
* **Version**: v12.11.1
* **Platform**: Darwin 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; root:xnu-4903.271.2~2/RELEASE_X86_64 x86_64

When capturing profiling information via `node --prof` then processing via `node --prof-process`, the C++ entry points section is blank, and just the node binary is shown in the bottom-up profile. Even in the summary, it shows 0 ticks for C+

[2019-10-01 18:33] lmeyerov commented on #29364
Been hitting this on ubuntu for the last week or so:

[code]

Not sure how to fix so far.

[2019-10-01 18:42] DullReferenceException commented on #29804
One possible clue: I do see C++ function names in the raw profiling logs; they're just not making their way to the `--prof-process` output.

[2019-10-01 18:55] addaleax commented on #29804
I can’t reproduce this on x64 Linux. Can you figure out which Node.js versions this affects (in particular, whether v12.10.0 has the same issue), and whether this depends on the script you’re profiling?

[2019-10-01 19:01] DerekNonGeneric commented on #29610
Opinions about `--experimental-loader` vs `--loader` would be appreciated. The flag just landed in v12.11.1 (#29796). It seems like [the docs](https://nodejs.org/api/esm.html#esm_experimental_loader_hooks) are recommending it although both flags seem viable.

[2019-10-01 19:03] DullReferenceException commented on #29804
It's happening for both node 10 and 12 for me. The versions I've tried are:

v10.15.3 - This used to work but stopped capturing C++ data for some reason
v10.16.3 - Tried to upgrade to latest LTS; same issue
v12.11.1 - Tried latest version, same issue

I suspect that there might be some environmental factor causing this issue, but I can't determine what that would be. I'm saying this because v10.15

[2019-10-01 19:06] addaleax commented on #29804
@nodejs/platform-macos

[2019-10-01 19:15] bmeck commented on #29610
@DerekNonGeneric I'd use the `--experimental-loader`

[2019-10-01 19:39] devnexen commented on #29804
tried with both 12.11.1 and current master branch and can t reproduce.
<img width="895" alt="image" src="https://user-images.githubusercontent.com/4922778/65994555-7cfc3000-e48b-11e9-8a73-b72565e45476.png">

[2019-10-01 19:41] yesman55 commented on #29784
Unfortunately, I can't provide a complete reproduction.

I'm not sure with v12.x because there are some compatibility issues with legacy code.

[2019-10-01 19:44] Z3TA commented on #29788
Right now a malicious actor could target any module, no matter if it reads from the file system or not. With module granular security, the bad actor would have to target a module that already read from the file system. To limit reads further, the fs module could have several virtual "roots", for example:

`const foo = requires("bar", {fs: {read: ["/home/someuser/.dotconfig/", "/home/someuser/data/

[2019-10-01 19:44] yesman55 commented on #29784
Did you ever try using a static worker pool?

[2019-10-01 20:02] Z3TA commented on #29788
I'm not sure how policies works. Will having an empty policy.json block everything by default ?

[2019-10-01 20:15] #29722 closed

[2019-10-01 20:15] Fishrock123 commented on #29804
@devnexen Whats' your platform? i.e. what macos/darwin version?

[2019-10-01 20:20] devnexen commented on #29804
18.7.0, last one

[2019-10-01 20:21] Fishrock123 commented on #29699
The suggested fix is `semver-minor`, so reverting beforehand may still be desirable.

[2019-10-01 20:24] Fishrock123 commented on #29731
I dunno, if you don't know what `node` binary you are running that seems like an issue in itself not really solvable by us.

[2019-10-01 20:29] ORESoftware commented on #29731
@Fishrock123  it's primarily for helping people online when they post stack traces, but even at work I switch between node.js versions and don't always recall or consider which one I am using etc.

[2019-10-01 20:52] DullReferenceException commented on #29804
Would my `--prof` log file be helpful?

[2019-10-01 20:55] devsnek commented on #29788
they're intended to be generated, not written directly.

[2019-10-01 21:28] #27377 closed

[2019-10-01 21:28] #29718 closed

[2019-10-01 22:32] StephenLynx commented on #29529
So, @jasnell  what's up?

[2019-10-01 22:57] GeoffreyBooth opened #49446 "Utility method for exposing Node’s type resolution"
Split off from https://github.com/nodejs/modules/issues/389#issuecomment-537228049. I think it would be useful to have a function that returns how Node would try to interpret a file, in particular whether Node would try to parse a path to a `.js` file as CommonJS or as ESM. This would spare tools from needing to reimplement Node’s “find the nearest parent `package.json` and see if it has a `"type"

[2019-10-02 00:17] noah512 opened #29807 "node and npm dont working pls help"
i try create react app in visual stideo code when i tybe on terminal create react app .
it shows :  TypeError: Cannot read property 'loaded' of undefined

PS C:\Users\nur alamo\dropbox\code_prod\REACT_CRASH-TODO> npx create-react-app . Error: EISDIR: illegal operation on a directory, read TypeError: Cannot read property 'loaded' of undefined at exit (C:\Program Files\nodejs\node_modules\npm\lib\ut

[2019-10-02 05:28] Craphtex commented on #29793
Yay thanks, soon we'll be able to accompanying our literally random values with almost as random characters. :smile:

[2019-10-02 06:40] ronag opened #29810 "stream: swallows error if destruction scheduled"
Noticed a potential problem is stream base. Errors are swallowed if occurring after `destroy()` having been called.

Fixing this breaks a few tests (e.g. test-tls-invoke-queued.js) so the question is whether to leave it as is or is it worth trying to fix?

[code]

[2019-10-02 06:41] sogaani opened #29811 "`http2.connect` with url starting with "http://" does not pass options to `net.connect`"
* **Version**:
v12.11.1

* **Platform**:
Windows Subsystem Linux
Linux A062787428 4.4.0-17134-Microsoft #706-Microsoft Mon Apr 01 18:13:00 PST 2019 x86_64 x86_64 x86_64 GNU/Linux

`net.connect()` options has no effect when I execute `http2.connect`,  thought [The document](https://nodejs.org/api/http2.html#http2_http2_connect_authority_options_listener) says "Any net.connect() or tls.connect() opt

[2019-10-02 06:51] ronag commented on #29810
Fixing this affects tls and http2 tests.

[2019-10-02 07:59] mysticatea opened #29812 "import(cjs) with query strings has odd behavior"
* **Version**: 12.11.1
* **Platform**: Windows 10
* **Subsystem**: ES modules

From https://github.com/eslint/eslint/pull/12333

Repro https://github.com/mysticatea/import-cjs-issue

I tried to import packages without import cache. From the document, it looks I should use query strings.

[code]

`x-esm` is an ES module package. It worked as expected.

[code]

`x-cjs` is a CJS package. The result w

[2019-10-02 11:09] cclauss opened #29813 "configure.py: upgrade from optparse to argparse"
**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.

**Describe the solution you'd like**
Please describe the desired behavior.
[optparse](https://docs.python.org/3/library/optparse.html) is deprecated in favor of [argparse](https://docs.python.org/3/library/argparse.html) so __configure.py__ should be upgraded to use the newer mo

[2019-10-02 11:24] bnoordhuis commented on #29801
Note that node only ships the 'en' locale by default. Install [full-icu](https://www.npmjs.com/package/full-icu) if you want all locales.

[2019-10-02 11:36] bnoordhuis commented on #29707
@jasnell @tniessen If most uses end up looking like `y = (typeof x === 'bigint' ? randomBigInt : randomInt)(0, x)` then we don't gain much from having separate functions.

That said, I don't really feel strongly either way.

@devsnek Can you elaborate? What diversity are you referring to?

[2019-10-02 12:10] Ayms commented on #29559
Maybe you are right but an example would be good, I first used the duplexpair from @addaleax, then ended up with (probably there is a smarter way using pipe to wsdecode/encode):

	//request is a network Socket (here a WebSocket)
	let socket=new stream.Duplex();
	let cleartext=new tls.TLSSocket(socket,{secureContext:sslcontext,isServer:true});
	request.encrypted=socket;
	request.on('data',function(

[2019-10-02 12:58] jasnell commented on #29707
Likewise if uses end doing the type check after the function call. Code will already need to be aware that bigints are being used so a dedicated function is not going to make things more difficult there.

[2019-10-02 14:35] vccolombo commented on #29813
Hello! I would love to try this one. Already taking a look on what I can do.

[2019-10-02 15:02] sam-github commented on #29813
Sounds reasonable to me. For the reader, argparse also exists in 2.7: https://docs.python.org/2.7/library/argparse.html

[2019-10-02 15:44] cclauss commented on #29813
@vccolombo Please don't start from scratch...  Start with the code in #26725

[2019-10-02 16:32] bnoordhuis commented on #29804
What do `c++filt --version`, `nm --version` and `which c++filt nm` print on your system? The log file processor calls out to them to look up and demangle C++ symbols.

[2019-10-02 16:36] vccolombo commented on #29813
Hey, I opened a PR, but I could use some help there. Thank you very much

[2019-10-02 16:39] DullReferenceException commented on #29804
[code]

Maybe that second message is what's mucking things up. Trying again after accepting the license...

[2019-10-02 16:44] DullReferenceException commented on #29804
Amazing, that was it! So perhaps an upgrade occurred and a new agreement requirement was injected without my knowledge.

Would there be a way for the profiler to notify users like me when this sort of thing occurs?

[2019-10-02 19:20] leodutra commented on #18274
I can confirm this is still happening when using https://github.com/sindresorhus/got
This is using Node stream package (https://github.com/sindresorhus/got/blob/master/source/as-stream.ts)

[2019-10-02 20:27] cclauss commented on #24512
We are backsliding: https://github.com/v8/v8/pull/29#issuecomment-537490614

[2019-10-02 20:28] fakirpic commented on #27711
i am living same problem with incapsula server, and i have no idea how to pass "--http-parser=legacy" arg to my app

[2019-10-02 20:46] jasnell opened #29817 "OpenSSL 3"
Hey @nodejs/crypto (and in particular @sam-github). For the QUIC implementation, for a variety of reasons, it's going to better for us to be able to move up to OpenSSL 3 as soon as possible. Yes, I know it hasn't been released yet. I wanted to check in to see if anyone has started the exploration of 3.0 yet, and if so, what the issues so far have been.

For QUIC, the reason we need it is because t

[2019-10-02 20:53] sam-github commented on #29817
Its been on my list of  things to look at, because FIPS will require OpenSSL 3.x, but I haven't had the time to try a build yet.

OpenSSL 3.x is intended to be API compatible with OpenSSL 1.1.1 -- though *NOT* ABI compatible, but the proof of that will be in the build and testing.

[2019-10-02 20:55] MylesBorins commented on #29480
We managed to get a reproducible version of the bug we are experiencing. I can confirm that including the flags `--security-reverts=CVE-2019-9514 --security-reverts=CVE-2019-9512 --security-reverts=CVE-2019-9516 --security-reverts=CVE-2019-9518` does not fix the issue.

I was able to bisect and identify [this commit](https://github.com/nodejs/node/pull/29122/commits/164ac5b241b96089e6bad5bb83ea416

[2019-10-02 20:56] MylesBorins commented on #29480
/cc @nodejs/http2

[2019-10-02 20:56] jasnell commented on #29817
Ok, I'll see if I can at least do a preliminary check on it in the coming few weeks. Let's leave this issue open as a tracking issue for it.

[2019-10-02 20:57] MylesBorins commented on #29223
We managed to get a reproducible version of the bug we are experiencing. I can confirm that including the flags --security-reverts=CVE-2019-9514 --security-reverts=CVE-2019-9512 --security-reverts=CVE-2019-9516 --security-reverts=CVE-2019-9518 does not fix the issue.

I was able to bisect and identify this commit as the one causing the failure... @addaleax any thoughts?

/cc @nodejs/http2

[2019-10-02 20:57] MylesBorins commented on #29480
oh shoot, wrong thread. sorry for the noise

[2019-10-02 21:06] jasnell commented on #29223
Couple of quick tests... can you try setting the `maxSessionMemory` [option](https://nodejs.org/dist/latest-v12.x/docs/api/http2.html#http2_http2_createserver_options_onrequesthandler) significantly higher and seeing if the problem persists? There are a few other knobs there that can be turned also but let's try that one first. The default value for `maxSessionMemory` is `10`, indicating a max of

[2019-10-02 21:09] addaleax commented on #29223
@MylesBorins Which commit?

[2019-10-02 21:23] mikelehen commented on #29223
The commit @MylesBorins meant to link is https://github.com/nodejs/node/pull/29122/commits/164ac5b241b96089e6bad5bb83ea416966b3245f . 😄

[2019-10-02 21:25] addaleax commented on #29223
Okay, that’s interesting – I’ll take a look. It still would be good to know if turning the `maxSessionMemory` knob makes a difference here, as @jasnell suggested.

[2019-10-02 21:44] murgatroid99 commented on #29223
Based on that commit message, specifically "If we are waiting for the ability to send more output, we should not process more input", I think the overall goal of that commit is a bad idea. With that logic implemented on both sides of a connection, if one side ever pushes back on flow control for any reason, the other side will stop reading and start pushing back the other way, which will result in

[2019-10-02 21:51] mikelehen commented on #29223
@addaleax @jasnell It looks like increasing `maxSessionMemory` _does_ solve the problem.  If I set it to `100`, my repro works.  If I set it to `1` then it fails much faster.

A couple notes:
1. Our repro is using `http2.connect()` not `http2.createServer()`.
2. FWIW the general usage pattern of our repro is basically: send a request to the backend, wait for the response, send the next request to

[2019-10-02 21:53] #29764 closed

[2019-10-02 22:14] mscdex commented on #29788
The problem is that the proposed method of restriction is not very granular and there will always be someone who wants behaviors tweaked a certain way for their particular needs. For example,

[code]

Does this restrict reads in *just* this directory or does it also allow reads in subdirectories? Some users may want one behavior, some may want the other.

Having flexible restrictions all in one pl

[2019-10-02 22:24] mikelehen commented on #29223
FYI- If you need to run my repro in https://github.com/mikelehen/node-http2-repro you'll need access to my project which I'll have to grant you out-of-band.  But hopefully the info above may be enough to resolve the issue?  Thanks!

[2019-10-02 22:37] jasnell commented on #29223
@murgatroid99 ... the scenario you describe is entirely possible and worth exploring to see how much of an issue that is in our implementation. I'm thinking, however, that for this specific problem, it's more of a memory management issue. Specifically: we need to get better at it. The current maxSessionMemory limit was really just a finger in the air guesstimate and it's looking like we either nee

[2019-10-02 22:51] gabrielschulhof opened #29821 "Benchmark Popularity Survey"
https://docs.google.com/forms/d/1BlVwIYZPBBmR46Ru3okvddLiPj5Zy03XPE2kyW55VzQ/edit

Please fill out the form to indicate which benchmarks you used most last year!

You can speed things up by using Tab to go from question to question and the down arrow to pick a choice for a question.

Re: https://github.com/nodejs/benchmarking/issues/225

[2019-10-02 22:55] #29030 closed

[2019-10-02 23:23] mikelehen commented on #29223
@jasnell Any guesses why https://github.com/nodejs/node/commit/164ac5b241b96089e6bad5bb83ea416966b3245f would have exacerbated the memory management issue?  It

FWIW the more I increase `maxSessionMemory`, the longer my repro runs before failing, even though we are doing fixed-size requests and responses and only have 1 outstanding at a time.  So I would expect the necessary sessionMemory to be pr

[2019-10-02 23:35] jasnell commented on #29223
Definitely sounds like a memory accounting issue then... or a straight up memory leak. That gives a good place to start the investigation. First place to check would be to rule out a memory leak, and if that looks good, then we can look at the accounting.

[2019-10-02 23:35] BridgeAR commented on #16231
I am not able to reproduce this on Linux. Maybe it's Windows specific? I tried loading files and modules in various ways and they are all loaded properly. No matter if on Node.js 6.x or newer.

Since this issue did not get any traction for a long time and due to the concerns mentioned about supporting this, I'll close the issue. Please feel free to reopen or to leave a comment in case you think th

[2019-10-02 23:35] #16231 closed

[2019-10-02 23:52] BridgeAR commented on #11893
@joyeecheung now that we have better control over `prepareStackTrace` it should be relatively straight forward to remove the added part from the stack traces again.

[2019-10-03 00:53] BridgeAR commented on #26546
I can only find a single `require('util')` in lib at the moment that could be replaced. I'll open a PR for that and close this issue as resolved.

[2019-10-03 00:53] #26546 closed

[2019-10-03 01:28] bencmbrook commented on #22421
Is there any way to use a decipher stream, and perform the authTag check later?

It seems like one still needs to set the authTag _before_ calling `.pipe(decipher)`, since the stream will automatically call `decipher.final()` when the stream's `'end'` event fires.

[2019-10-03 02:05] achronos0 commented on #22421
@bencmbrook that is my original use case in this ticket as well, and yes you can.

You will need to use your own custom decipher stream, so you can set authTag before the stream finishes.
But -- you probably already need to have a custom stream, yes? In order to parse out authTag from the encrypted data?

In my case I use a Transform stream as a wrapper around the crypto stream, so my transform pr

[2019-10-03 02:23] Trott commented on #27061
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2019-10-03 02:23] #27061 closed

[2019-10-03 02:24] Trott commented on #21270
Hello! Just doing the one-year-later check! Is there anything that can or should be done with this issue?

[2019-10-03 04:26] sogaani opened #29829 "The differences between http2 compatibility API and http[s]"
Thanks to the efforts of making the compatibility API, differences between `http[s]` and `http2` modules seldom annoy developers.
But, some http2 compatibility API still behaves differently and lacks some APIs from `http[s]` and it causes breakages to ecosystems for `http[s]`(e.g. https://github.com/expressjs/express/pull/3730).

In order to expose the differences, I've been translating test cases

[2019-10-03 05:29] akash-joshi commented on #28689
Which website generation tool is used ? Would like to pick this issue up

[2019-10-03 06:42] bencmbrook commented on #22421
Thanks @achronos0 - put some basic source code together for the next person :)
https://github.com/transcend-io/lazydecipheriv/

[2019-10-03 08:34] vsemozhetbyt commented on #28689
@akash-joshi Scripts that convert .md files into .html files are placed in [`tools/doc`](https://github.com/nodejs/node/tree/master/tools/doc) folder. How they are launched, see in [`Makefile`](https://github.com/nodejs/node/blob/master/Makefile) (search for `doc` or `generate.js`).

[2019-10-03 09:36] Choppel opened #29831 "Weird behaviour when spawning bash scripts"
There seem to be multiple issues when spawning bash scripts. Regular binaries (e.g. php, docker) seem to work fine at this point. I am running nodejs v10.16.3 on ubuntu.

### Summary
When spawning a bash script with nodejs with stdin set to inherit, the output of the read command inside the bash script is not printed to stdout. It is printed to stderr although I think it doesn't belong there.
When

[2019-10-03 12:10] Bessonov commented on #13877
@bmeck @hashseed any reply to @tjcrowder ? I'm interested in this topic for environments like AWS Lambda to reduce "cold start" startup times.

[2019-10-03 14:18] joyeecheung commented on #11893
@BridgeAR Yes, though I just learned that ESM has a different scheme..I will need to investigate a bit and see what's good for both sides.

[2019-10-03 14:29] sam-github commented on #29831
[code]

The bash man page describes why prompt output goes to stderr, and why it doesn't appear at all when stdin is redirected.

I think you are needing a pty emulation library, pipes alone don't allow the kind of interaction with a shell you are attempting. Consider https://github.com/microsoft/node-pty

[2019-10-03 14:46] alcmontejo commented on #21665
what is the resolution?

[2019-10-03 16:37] paolobittante commented on #25132
Only with this, it worked! No need to install natives as dependency for me!

[2019-10-03 17:13] ayaznbd commented on #29784
you could provide a complete reproduction but this isn't fix it.

[2019-10-03 17:35] aherlihy commented on #13209
Having the same issue as @nahtnam with trying to get await mode turned on from `repl.start`. Any suggestions?

[2019-10-03 17:52] aherlihy commented on #29719
That'll definitely do! Thank you for the help.

[2019-10-03 18:08] yoavain commented on #556
You can use this module:
[create-windowless-app](https://www.npmjs.com/package/create-windowless-app)

This module:
1. Create a "hello world" project structure (javascript or typescript) that compiles into an **exe** file (using nexe, with configurable nodejs version)
2. Compiles a **c#** launcher  (with an option to provide an icon) that can start the project exe in a silent mode. (source include

[2019-10-03 18:53] Fishrock123 commented on #29719
I think @BridgeAR's suggestion is the only way to do this currently. Perhaps we could expose `defaultEval` if desirable.

[2019-10-03 20:37] bmeck commented on #13877
@Bessonov I'm not working on anything, after the startup perf gains to my knowledge no one has looked at adding user-land support. I know it is possible to do the entire work in user-land with C++ if you want any guidance. Ideally you would not have any C++ user-land objects though on the heap. If C++ objects are in the heap then it is much more work to support.

[2019-10-03 20:44] addaleax commented on #13877
Fwiw, that’s still on my long-term TODO list, partially for Workers but also Node.js in general. If anybody else puts work into this, I’ll be happy, though :)

[2019-10-03 20:54] #29793 closed

[2019-10-03 21:24] jabrown85 opened #29837 "windowsHide:true prevents SIGINT on child processes"
* **Version**: v12.10.0
* **Platform**: Windows 10 x64
* **Subsystem**:

Example code:
[code]

Expected `output.log` after `Ctrl+C` in Command Prompt `node main.js`
[code]
Actual:
[code]

The `SIGINT` signal is never sent to the child processes. I don't see this documented in the `windowsHide` flag. Setting the value to `false` results in the expected signal being sent. I know windows doesn't real

[2019-10-03 21:37] mhdawson commented on #28420
I'm not sure yet but I'm hoping @gabrielf will comment in https://github.com/nodejs/node/issues/28988#issuecomment-536771453

[2019-10-03 21:44] #29750 closed

[2019-10-03 22:22] #19214 closed

[2019-10-04 00:18] jhonatantft commented on #23723
Hi, can i take this issue?

[2019-10-04 02:01] felipezacani opened #29838 "Broken windows build?"
* **Version**: 12.11.1 or latest HEAD
* **Platform**: Windows 10 Pro
* **Subsystem**: x64

Previous builds worked ok. I use my own debug build to debug addons and the DLLs they load (attaching my debugger to the node process). Since 12.11.1, I'm getting thousands of errors just like:
[code]

I tried downloading all the available sources (tar.gz, zip from github and cloning the repo), getting error

[2019-10-04 03:13] #29620 closed

[2019-10-04 07:39] Choppel commented on #29831
Thanks for the quick reply. node-pty seems to do the trick.

[2019-10-04 07:39] #29831 closed

[2019-10-04 08:37] patoi opened #29841 "Node.js v10.16.3 and npm 6.11.3 with npm ci produces a MODULE_NOT_FOUND error"
* **Version**: v10.16.3
* **Platform**: MacOS Mojave, 10.14.6 (18G103) , Darwin Sun.local 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; root:xnu-4903.271.2~2/RELEASE_X86_64 x86_64
* **Subsystem**: -

After running `npm ci` :

**Sometimes** I've got an error when it's running on Node.js v10.16.3 and npm v6.11.3. But there is no error on Node.js v12.11.0 and npm v6.11.3.

There

[2019-10-04 08:38] patoi commented on #29841
Related: https://github.com/semantic-release/semantic-release/issues/1300

[2019-10-04 09:23] bnoordhuis commented on #29838
What version of Visual Studio is that? You probably need to upgrade it.

What is the last known-good version of Node.js for you?

[2019-10-04 11:47] yrsh opened #29842 "Significant slowdown of createContext and runInContext"
In the latest v12.11.0 these methods work very slowly relative to v10.16.3.
Here is a simple example where contexts are created and then a script is run:
https://gist.github.com/yrsh/28d274727c1e67f88d0cdf2e2091b6c2

For example at my local machine, execution time with v12 is 21 ms, but with v10 it is 7.

[2019-10-04 13:44] felipezacani commented on #29838
VS is the latest 2017, same as always, properly detected by the build scripts. I noticed there was a recent update, but it couldn't have caused the problem (release notes).

I tested each build again, starting with 12.11.1 backwards, just to be sure. 12.10.0 works only in release. When I tried the debug build, I got:
[code]
The last version I was actively using for tests (with a successful debug b

[2019-10-04 13:46] felipezacani commented on #29838
By the way, LTS builds are ok for me, same environment.

[2019-10-04 14:35] ronag commented on #29743
[code]

[code]

Not sure about the profiler stuff?

[2019-10-04 14:56] joyeecheung commented on #29821
And here is a console script to click through all the Never options real quick

[code]

[2019-10-04 15:00] bnoordhuis commented on #29838
Right, that's what I expected. 80ccae000e49ba97b5bd1393de8c96c99787e554, released in vv12.11.0, upgrades V8 from 7.6 to 7.7 and you need a compiler that understands C++17 to build it.

The latest VS 2017 should be new enough, that's what we use on our CI. If you get build errors, that probably means it's not picking up the right version.

That's unexpected. If you can still reproduce with the late

[2019-10-04 15:03] bnoordhuis commented on #29842
Reproducing here for posterity:
[code]
Are you sure you're testing what you think you're testing? `n` is never used in `test()`.

[2019-10-04 15:11] bnoordhuis commented on #29837
^C handling is implemented through [`SetConsoleCtrlHandler()`](https://docs.microsoft.com/en-us/windows/console/setconsolectrlhandler). As you can probably guess from the name, that function only works when there's an actual console.

Not a bug, in other words, but feel free to send a PR if you think the documentation can be improved.

[2019-10-04 15:51] joyeecheung commented on #29842
This is what I get from our vm benchmarks using

[code]

[code]

The slowdown may come from createContext instead

[2019-10-04 16:31] joyeecheung commented on #29842
I tried with this benchmark

[code]

There is a -75.07% performance regression on master with `--without-node-snapshot`, and the result is similar from comparison between v12.5.0 and v10.16.0

[2019-10-04 17:40] rteshnizi commented on #29838
I am having the exact same issue. Can we identify what the problem is? I also have the latest VS 2017 (community edition).

I've tried version 12.10 and 12.11 and they both fail a debug build (the same error as OP)

[2019-10-04 18:40] DerekNonGeneric commented on #29610
@devsnek, should I modify my PR to remove the type annotations?

[2019-10-04 18:43] devsnek commented on #29610
@DerekNonGeneric i'm not planning to block it or anything, but i don't really see the point of including them.

[2019-10-04 20:07] tcf909 commented on #29730
Is 12.x going to support the fix in v8 7.8? (thought I read some place the 12.x branches floating patch was only through 7.7)

Anything we can do in the meantime without waiting for a full v8 7.8 release (which the v8 fix is slated for)?

[2019-10-04 20:10] felipezacani commented on #29838
@bnoordhuis tks for the info, I wasn't aware of the V8 upgrade.
Double checked everything here, though. I have both build tools (installed by chocolatey) and vs community 2017. They are both 15.9.16. Could you please check that on your CI server?

[2019-10-04 20:20] trivikr commented on #29763
Link to the docs: https://nodejs.org/docs/latest-v12.x/api/http2.html#http2_settings_object

[2019-10-04 20:28] targos commented on #29730
@tcf909 can you point me to the fix that is in V8 7.8?

[2019-10-04 20:32] hashseed commented on #29730
@schuay @verwaest

[2019-10-04 21:54] asbillings07 commented on #28408
Does this still need to be worked on? If so I'd like to take it.

[2019-10-04 22:16] bnoordhuis commented on #29838
We install VS Community Edition 2017 through chocolatey, v15.9.16.0 as far as I can determine:

Are you using vcbuild.bat to build node?

[2019-10-04 23:13] felipezacani commented on #29838
@bnoordhuis Yep. "vcbuild debug", as usual. I also tried building the node solution (node.sln) inside the IDE too, getting the same errors.

Due to my deadlines, I switched back to LTS today. However, I'd like to understand whats happening so I can upgrade in a near future. Please, let me know if you need more info or if there's any other test I can run.

[2019-10-04 23:19] felipezacani commented on #29838
@bnoordhuis BTW I did some research and found out that the current minimum VS tools version to build V8 is 15.7.2, so I think this rules out the C++ 17 hypothesis.

[2019-10-04 23:44] srl295 commented on #29540
ICU 65.1 is GA yesterday-ish, http://site.icu-project.org/download/65

@ryzokuken would you like to do the honors here?

Note that with #29522 merged, the data change is a .bz2 file.

[2019-10-05 02:52] tcf909 commented on #29730
@targos https://bugs.chromium.org/p/v8/issues/detail?id=9781

If you look at the tags it is tagged merge-request-78

[2019-10-05 02:55] tcf909 commented on #29730
Also, since this is so core, might be nice to have a test in the future to smooth out v8 changes in the lts branch.

[2019-10-05 03:32] legendecas opened #29849 "n-api error status discussion"
* **Version**: master
* **Platform**: -
* **Subsystem**: n-api

We could find out that there are several napi_status existing and been used in various n-api functions.

- `napi_ok`:
For any n-api call that is successful.
------
- `napi_cancelled`
For canceled async works.
------
- `napi_escape_called_twice`
- `napi_handle_scope_mismatch`
- `napi_callback_scope_mismatch`
For handle scope error cond

[2019-10-05 04:19] sleonovich commented on #29448
Okay, lets start with linux first (I was windev, I want to rest of it)
Let's look at `gettimeofday` first [at lines 140 or 255](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/kernel/time/time.c?h=v5.4-rc1)
No matter what, that leads to `ktime_get_real_ts64` in [timekeeping.c](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/kernel/time/timekeeping.c)

[2019-10-05 04:24] sleonovich commented on #29448
So basically we have to attach this system internals call to the end user, just as api does (no need to invent bicycle, just great possibility to work on nanoseconds scale.. for example, you want to send it to influxdb?

[2019-10-05 04:27] sleonovich commented on #29448
That's really up to you... Please, consider this improvement, add new API, and it needs deeper investigation to add some +3 decimal precision digints to `JSON.stringify(new Date())`

[2019-10-05 08:20] bnoordhuis commented on #29448
`gettimeofday()` returns its result in a `struct timeval` and as the field name `tv_usec` suggests, that's in microseconds, not nanoseconds.

`clock_gettime()` returns its result in a `struct timespec` and that struct has a `tv_nsec` field. However, then you need to decide on what clock source to use.

To complicate matters: macOS, for example, didn't have `clock_gettime()` until recently. Libuv s

[2019-10-05 08:40] bnoordhuis commented on #29838
The alternative hypothesis is that you're hitting a compiler bug. The lines it's tripping on in code-stub-assembler.h are method-generating x-macro invocations.

You could expand them manually to see exactly what the compiler is objecting to, although that won't necessarily help you get _past_ them.

I'm curious, what are you basing that on? Our BUILDING.md doesn't explicitly state a version for x

[2019-10-05 09:45] ryzokuken commented on #29540
@srl295 totally! I'd take a stab at this over the weekend.

[2019-10-05 09:46] ryzokuken commented on #29540
Assigned myself for transparency :)

[2019-10-05 11:11] afwn90cj93201nixr2e1re opened #29851 "Stop JSON.parse on condition."
* **Version**: latest
* **Platform**: any
* **Subsystem**:

https://github.com/ibmruntimes/yieldable-json/issues/19#issuecomment-538639182

how we should stop json.parse process?

let obj = {a:1, b:2, c:[1,2,3], d:[{a:1},{b:1,a:1}]};
let str = JSON.stringify(obj);
let max = 5, i=0;
let c = JSON.parse(str, function(key, value){
if(++i>max)throw new Error('message');//will this stop parse process in

[2019-10-05 11:15] afwn90cj93201nixr2e1re commented on #29851
@jdalton

[2019-10-05 15:51] #29763 closed

[2019-10-05 17:30] felipezacani commented on #29838
I should have saved that link, because I can't find it now. It was somewhere in the V8 docs. However, got some interesting news: I never bothered running a release build, it has no use (since I already have the release build installed), but I just ran it and it works, so the problem seems to affect only the debug build. Debug build continues failing (same thousands of errors), I tried running afte

[2019-10-05 18:03] bcoe opened #29852 "We could use your help improving Node.js' Windows testing"
* **Version**: head
* **Platform**: Windows
* **Subsystem**: test

I've been noticing windows tests flapping more than usual for the past few days:

https://ci.nodejs.org/job/node-test-binary-windows-2/3344/COMPILED_BY=vs2017,RUNNER=win2008r2-vs2017,RUN_SUBSET=0/

https://ci.nodejs.org/job/node-test-binary-windows-2/3341/

We could use some help digging into this, it would be a great first contrib

[2019-10-05 18:16] bcoe commented on #29852
see also: https://github.com/nodejs/node/issues/20750

[2019-10-05 18:51] ganes1410 commented on #29852
@bcoe  Can I look into this?

[2019-10-05 19:02] bcoe commented on #29852
@ganes1410 👍 yes, what would be great would be to try to reproduce some of the failures in:

* `test/parallel/test-child-process-pipe-dataflow.js`.
* `test/parallel/test-child-process-fork-exec-path.js`.
* `test/sequential/test-http2-large-file.js`.

If someone could reproduce some of these issues locally, and figure out the root cause, it would be a huge help to our Windows suite.

In general, we

[2019-10-05 19:49] richardlau commented on #29852
See also https://github.com/nodejs/node/issues/25988

[2019-10-06 00:44] #29758 closed

[2019-10-06 02:21] #29804 closed

[2019-10-06 09:30] #29477 closed

[2019-10-06 09:41] ronag opened #29856 "stream: How to destroy and stop Readable?"
I ran into this today:

[code]

This will crash since `read()` will emit already buffered ´'data'` even though the stream is destroyed.

I can fix my above example by replacing `r.destroy()` with:

[code]

I find this a bit unfortunate.

Questions:
- Is this expected behaviour?
- Can we fix it without breaking the ecosystem?
- If no, can we provide another method to `Readable` that makes it possib

[2019-10-06 09:45] ronag commented on #29663
`./configure --ninja` + `ccache` helped a lot. Thanks!

[2019-10-06 09:45] #29663 closed

[2019-10-06 09:46] ronag commented on #29584
We want people to use `destroy(err)`. I think we updated the docs in some PR.

[2019-10-06 09:46] #29584 closed

[2019-10-06 09:50] ronag commented on #29395
This has been fixed.

[2019-10-06 09:50] #29395 closed

[2019-10-06 09:50] ronag commented on #29278
Move of the discussion is in the PR https://github.com/nodejs/node/pull/29197

[2019-10-06 09:50] #29278 closed

[2019-10-06 09:51] ronag commented on #29295
There are PR's for this

[2019-10-06 09:51] #29295 closed

[2019-10-06 09:52] ronag commented on #29068
There is a PR

[2019-10-06 09:52] #29068 closed

[2019-10-06 09:52] ronag commented on #29050
Multiple PR's related to this.

[2019-10-06 09:52] #29050 closed

[2019-10-06 09:53] ronag commented on #29042
I'm moving this into my own list and will open PR's accordingly when my number of open PR's drop.

[2019-10-06 09:53] #29042 closed

[2019-10-06 09:55] ronag commented on #28650
This was fixed in a PR

[2019-10-06 09:55] #28650 closed

[2019-10-06 09:57] ronag commented on #29005
I'm moving this into my own list and will open PR's accordingly when my number of open PR's drop.

[2019-10-06 09:57] #29005 closed

[2019-10-06 09:57] ronag commented on #29003
These are resolved.

[2019-10-06 09:57] #29003 closed

[2019-10-06 09:57] ronag commented on #29004
I'm moving this into my own list and will open PR's accordingly when my number of open PR's drop.

[2019-10-06 09:57] #29004 closed

[2019-10-06 11:03] bnoordhuis commented on #29838
We don't build debug builds on our CI (at least not on Windows) so that makes sense. That does mean you're probably hitting a compiler bug because the code it's choking on is this:
https://github.com/nodejs/node/blob/bbbe07a4475b06b9295007c6f5bcefb5ba1431e5/deps/v8/src/codegen/code-stub-assembler.h#L111-L133
Note the varargs in the CSA_ASSERT macro. It's called from here:
https://github.com/nodejs

[2019-10-06 11:05] bnoordhuis commented on #29837
I infer from the execa issue that you're not interested in documenting this so I'll go ahead and close out the issue. PR still welcome, of course.

[2019-10-06 11:05] #29837 closed

[2019-10-06 12:01] mildsunrise opened #29858 "HTTP/2 Host header disallowed"
Node.JS currently [treats `Host` as a connection header](https://github.com/nodejs/node/blob/0521a98fd6dfbd31994709f0f417c470f98d2b71/lib/internal/http2/util.js#L400), and connection headers can't be used in an HTTP/2 request.

I'm not sure it should be considered a connection header. The HTTP/2 spec *recommends* using the `Host` header instead of `:authority` if you are converting from an HTTP/1

[2019-10-06 12:33] paulrutter commented on #27552
With the latest Node.js 12.11.1, the `node-oom-heapdump` module fails with the following message:

[code]

The API's for creating a heapdump do not have seem to be changed. It seems that calling "createHeapSnapshot" no longer works in the context that it did before.
But maybe i should ask the v8 team for help on this issue.

Is there any progress made on adding the functionality to Node.js core?

[2019-10-06 13:08] ronag opened #29860 "doc: Documenting known issues and discrepancies"
We have a few strange behaviours that we won't fix or have not yet fixed due to time limitations or compatibility concerns.

A common one is e.g. the `callback` parameter to different stream methods that have discrepancies such as:

- `callback` is not always invoked.
- `callback` does not always error when we might actually expect it to.
- `callback` does not always error with the error we might

[2019-10-06 13:12] ronag commented on #29860
Having written this down it occurs to me that this is a very nice to have in theory but probably unmanageable in practice.

[2019-10-06 13:27] #29860 closed

[2019-10-06 13:50] ronag commented on #23133
Think more about this I'm not sure what the exact behaviour should be. Given recent discussions in other topics related to `destroy()` I believe `'open'` after `destroy()` might still be fine as long as it happens before `'close'`.

[2019-10-06 14:24] ronag opened #29861 "stream: don't emit 'error' on non destructive errors?"
We have some errors such as `ERR_STREAM_WRITE_AFTER_END`, `ERR_STREAM_DESTROYED`, `ERR_STREAM_ALREADY_FINISHED`, `ERR_INVALID_ARG_TYPE` etc. that are not due to internal stream errors but more along the line of external usage errors.

However, given current practice we always call `errorOrDestroy` (or along similar lines) for all errors, even though these errors do not in any way bring the stream

[2019-10-06 14:24] ronag commented on #29861
@lpinca: Thoughts or comments?

[2019-10-06 15:28] lpinca commented on #29861
Can you please elaborate on the advantages? I'm not sure I understand.

[2019-10-06 17:19] ronag commented on #29861
I thought I had a good example of this but while writing it down it became obvious that if this is important I can just do the check in user space.

I need to give things a bit more thought before opening an issue. Thanks for the reply and sorry to waste your time.

[2019-10-06 17:19] #29861 closed

[2019-10-06 17:52] lpinca commented on #29861
No problem.

[2019-10-06 23:13] bcoe opened #29865 "Future work for source-map functionality"
This thread documents some of the known limitations of the recently released [Source Map V3 support in Node.js](https://nodejs.org/api/cli.html#cli_source_map_cache).

I would greatly appreciate help testing and improving this feature, and this is a great opportunity to land some commits in Node.js.

_If you begin work on a specific task, create a corresponding issue and reference this thread._

#

[2019-10-06 23:35] bcoe commented on #29852
@ganes1410 👋 I've updated the original issue with more details about getting started.

@richardlau, I've added the issue you linked.

[2019-10-06 23:40] iansu commented on #29865
Thanks @bcoe! I’m excited to help out with some of this stuff.

[2019-10-07 01:21] felipezacani commented on #29838
@bnoordhuis hey, just tested. It works, kind of, taking the debug build as far as I was on 12.10:
[code]

Now I must confess I don't really understand the idea behind this "debug checks". Could you point me a reference on this?

By the way, maybe you'd appreciate some context: I'm trying to debug one of my servers. The server loads an addon (built with node-addon-api). The addon loads a DLL. Every

[2019-10-07 05:59] dev-313 commented on #26995
Does this still need to be worked on? If so I'd like to take it.

[2019-10-07 08:39] #29811 closed

[2019-10-07 08:45] ganes1410 commented on #29852
sure @bcoe. I have completed the initial setup. I'll let you know in this issue once I have some progress

[2019-10-07 09:43] mukeshkmr776 commented on #19530
@sam-github  Thanks for the link. But can't be used in production. : (
Please share link once RC/Official one is available.

[2019-10-07 10:11] rafa-as opened #29870 "Add max-old-space-size to npmrc"
**Is your feature request related to a problem? Please describe.**

To increase the memory on every single npm script you must add `NODE_OPTIONS=--max-old-space-size=4096`. You can't set on npmrc this configuration.

Imagine this case:

- 4 projects, 35 scripts each project in a single monorepository.
- The 35 scripts needs the `NODE_OPTIONS` flag.

**Actually you have two options:**

1. Add `NODE

[2019-10-07 11:08] Flarna commented on #19530
I tried this in one of our centos 7 containers with following result: 12.11.0, 12.11.1 and above nightly of 10.16.4 work.

so looks good!

as reference older node.js versions in same container:
12.10.0 fails with
[code]
10.16.3 fails with
[code]

[2019-10-07 13:15] mscdex commented on #29870
This should be posted to the [npm issue tracker](https://npm.community) instead.

[2019-10-07 13:15] #29870 closed

[2019-10-07 13:26] jjsiman opened #29871 "LTS maximum call stack size exceeded on npm install"
* **Version**: 10.16.3
* **Platform**: x86_64
* **Subsystem**:

Cannot run `npm i` on my current project, get `npm ERR! Maximum call stack size exceeded`.

I have tried deleting node_modules, package_lock.json, clearing the cache, etc.

I can get it to work by installing the latest versions of Node (v12.x.x)

Log:
[code]

[2019-10-07 14:04] mscdex commented on #29871
This should be posted to the [npm issue tracker](https://npm.community) instead.

[2019-10-07 14:04] #29871 closed

[2019-10-07 14:48] sam-github commented on #19530
@Flarna thanks for the feedback

[2019-10-07 15:00] bnoordhuis commented on #29838
The idea is that they perform expensive checks or checks for "impossible" conditions. One of the reasons we don't really invest in the debug build is that running `make test` is way too slow to be practical.

That last call stack suggests you're trying to return something that isn't a valid JS object, maybe because it's from a HandleScope that's already been closed?

[2019-10-07 15:56] srl295 commented on #29540
Thanks!

Obtener Outlook para Android<https://aka.ms/ghei36>

________________________________
From: Ujjwal Sharma <notifications@github.com>
Sent: Saturday, October 5, 2019 2:48:27 AM
To: nodejs/node <node@noreply.github.com>
Cc: Steven R. Loomis <srl295@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nodejs/node] ICU 65.1 (#29540)

Assigned myself for transparency :)

—
You are re

[2019-10-07 22:11] krackerman opened #29878 "Inconsistent ordering for regex named capture groups in v12.11.0"
node:v12.11.0

There is inconsistent ordering for named capture `groups` from v12.10.0 to v12.11.0. It appears that versions that came before v12.11.0 ordered the keys by the way they were ordered in the regular expression. v12.11.0 seems to sort the keys.

[code]

[2019-10-07 22:11] mhdawson commented on #29849
If there is an exception pending (whether it was just thrown or not) but no other error then napi_pending_exception should be returned.

If there is a pending exception it is still ok to return a more specific error.  The docs say that in addition to handling that error you must still check for a pending exception.

Generally I think we should avoid N-API itself throwing an exception and instead h

[2019-10-07 22:15] addaleax commented on #29878
Interesting – my understand of the spec would indicate to me that the former behaviour is correct: https://tc39.es/ecma262/#sec-regexpbuiltinexec

/cc @nodejs/v8

[2019-10-07 22:17] hcz opened #29879 "Incorrect name of HTTP status code 425"
Current icorrect: 425 (Unordered Collection) https://github.com/nodejs/node/blob/master/lib/_http_server.js#L115
Correct code: 425 (Too Early) https://tools.ietf.org/html/rfc8470#section-5.2

[RFC 4918](https://tools.ietf.org/html/rfc4918#section-11), that was mentioned in comment, does not contain status code 425.

I've found this name for this status code only in the very old [and one of the fir

[2019-10-07 22:26] shree-y commented on #26995
@dev-313 Go ahead. It's all yours!

[2019-10-08 00:51] gabrielschulhof commented on #29849
@legendecas ideally
* N-API would throw no exceptions of its own.
* If, in the course of interacting with the engine, an exception was thrown, it would return `napi_pending_exception`.
* Otherwise, if an error condition arose because one of the checks performed by N-API failed, then it would return an appropriate non-`napi_ok` status.

Unfortunately, we have not been very consistent in maintaining

[2019-10-08 07:42] rolftimmermans commented on #26667
I am running into this issue or something very closely related. I am external buffer memory. The fix does not seem to help – I am testing this on Node.js **v12.10.0** on macOS.

I have modified the test case to demonstrate this behaviour with `napi_create_external_buffer()`. The finalizer is never run at all!

[issue_26667_buffer.zip](https://github.com/nodejs/node/files/3701225/issue_26667_buffer

[2019-10-08 10:11] bnoordhuis commented on #26667
@rolftimmermans That's working as expected. Your code has a finalizer and those are always deferred to the next event loop tick:
https://github.com/nodejs/node/blob/064e111515185529b6f943dc66929440557fd609/src/node_api.cc#L38-L59
(Note that `SetImmediate()` call.)

[2019-10-08 10:19] rolftimmermans commented on #26667
@bnoordhuis Thanks for the quick response. Is there any way to release memory earlier, or is this just the way things are expected to work with external buffers? Seems like it should be possible to release the memory sooner... :/

[2019-10-08 10:29] bnoordhuis commented on #26667
@rolftimmermans It's by design. Finalizers can call into JS land. If n-api didn't defer the callback, it'd be pretty easy to create a cb→js→cb→js→etc. stack overflow

[2019-10-08 11:03] pimterry opened #29882 "Expose whether a TLS server requested a client certificate"
**Is your feature request related to a problem? Please describe.**

I'm making TLS connections to various servers, and for both successful & failing connections I want to know whether the servers requested a client certificate.

For context: my app is an MITM proxy, and I want to be able to warn the downstream user when they might want to configure a client certificate.

**Describe the solution yo