[2019-06-18 14:12] brlebtag commented on #28243
@dunnousername I think you're not seeing the point here.

I will never use prompt(), for example, in a web server. They belong to 2 different domain problems. You're not going to use it not even in a web server prototype(you'll send http requests instead). console.log is also not "event-based by nature" but no one complains about it.

I'd like to defend the reason why it should be prompt() only:

[2019-06-18 14:44] ZYSzys commented on #28279
@xuld Yes, you are right. Could you try to upgrade your Node.js to `v10.16.0`(LTS) or our latest version?

I think it should be fixed (there would be error thrown) if using the latest Node.js.

Refs: #26936 #27241

[2019-06-18 15:01] joyeecheung commented on #28274
The description of node-mitm reads: `Intercept and mock outgoing Node.js network TCP connections and HTTP requests for testing.`

So it's quite likely that the cause was `incorrect usage of Node.js internals`.

Please open an issue at https://github.com/moll/node-mitm/issues instead.

[2019-06-18 15:01] #28274 closed

[2019-06-18 16:23] sam-github commented on #28277
According to https://www.openssl.org/docs/man1.1.1/man1/openssl-ciphers.html its OpenSSL name is `'ECDHE-ECDSA-AES128-CCM8'`, try using that.

[2019-06-18 16:28] sam-github commented on #22940
FYI: https://github.com/nodejs/build/issues/1840#issuecomment-503211330, test-worker-debug may be flaky on arm and need looking into.

[2019-06-18 16:46] #28245 closed

[2019-06-18 17:37] joshuakb2 commented on #25077
I also experience this problem pretty much every day. My laptop fan gets really loud so it's impossible to miss. Every time I start a process with --inspect-brk, CPU usage goes to 100%, regardless of whether or not I am launching a subprocess.

I'm using Node version 12.2.0.

[2019-06-18 19:21] neuroscr opened #28281 "os.homedir() doesn't respect setuid"
* **Version**: v8.10.0
* **Platform**: Linux 4.15.18-15-pve #1 SMP PVE 4.15.18-40 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: os

Expected os.homedir() to home directory of the *current* user as a string but when the current user changes via process.setuid() this directory still show the original user's home directory

[2019-06-18 20:43] Trott commented on #28243
@brlebtag Not exactly. [`prompt()` is specified in the HTML spec](https://html.spec.whatwg.org/multipage/timers-and-user-prompts.html#dom-prompt) and not in the ECMAScript (JavaScript) spec. This is kinda relevant. See below.

It wasn't removed, exactly. It's not part of V8. `prompt()`( and `setTimeout()` and a bunch of other things) are implemented partly or completely in the browser and not in V

[2019-06-18 20:55] brlebtag commented on #28243
@Trott thanks man. I had no ideia. Good to know.

haha I know, a bit overdramatic....

[2019-06-18 21:22] Trott commented on #28281
I understand the expectation, but at the same time, I would expect the opposite behavior--that changing the uid does not affect the home directory. Other languages seem to bear this out. Here's Python being run initially as root and then changing to an unprivileged user with a different home directory:

[code]

Perhaps relevant explanation about why `sudo` preserves the home directory by default r

[2019-06-18 21:30] neuroscr commented on #28281
if that's the case, at least the documentation on os.homedir() should be updated to be precise and reflect that; save some other coders some time

(why didn't I think of the ~username trick...)

[2019-06-19 01:31] Toxicable opened #28283 "v8 Coverage for integrators"
This is derived from the conversations had here: https://github.com/bcoe/c8/issues/116
**Is your feature request related to a problem? Please describe.**
The problem is with intergrating V8 coverage into downstream systems such as test runners or processes which run nodejs programs.

**Describe the solution you'd like**
The most ideal solution would be something like
[code]

However it's my unders

[2019-06-19 01:36] Himself65 commented on #28250
I'm working on this now

[2019-06-19 01:39] addaleax commented on #28193
@BridgeAR Spawning a thread and then changing state that influences the thread’s behaviour is always a race condition. You can e.g. add `const start = Date.now(); while (Date.now() - start < 1000);` between the two lines to make the timing bad enough to make the test fail reliably.

[2019-06-19 01:53] joyeecheung commented on #28283
IIUC the feature request that actually apply here is the ability to turn on coverage at run time and write out the reports at some time other than right before exiting? That should be possible. However off the top my head, we need to notify the child processes about the change of coverage directory after the API is invoked. One option might be to set `process.env. NODE_V8_COVERAGE` but that could

[2019-06-19 02:20] Himself65 commented on #28250
so, we add a `n-api` or something ...?

[2019-06-19 03:34] Toxicable commented on #28283
Yeah I think that would solve our problem here, thanks for summing that up.
I'm not very familar with whats going on here inside Nodejs so leaning on your knowledge to come up with the best solution.

I'm not sure what you mean by the spawned child process in this situation though.
What part of this is spawning a sub process?

[2019-06-19 05:10] grbesd1 opened #28284 "yocto: /lib/ld-linux-armhf.so.3: No such file or directory"
Hi Guys,

I'm trying to add nodejs 10.16.0 recipe in my yocto setup. Currently i have nodejs v6.10.0 which is building properly but i'm trying to upgrade my nodejs.

I'm getting error in do_compile.

nodejs_10.16.0.bb
[code]
Build error:
[code]

[2019-06-19 05:18] Trott commented on #28284
@nodejs/build @imyller

[2019-06-19 07:01] Jamesernator commented on #24321
I don't think any action should be taken here until cancellation of Promises is actually worked out. Both the `Promise.race` and `new Promise` examples with `delay(1000)` suffer an identical problem of keeping the process alive until both promises have resolved even though only the result of one of them is actually needed.

With cancellation there could be something like:

[code]

Note that in ord

[2019-06-19 08:45] joyeecheung opened #28287 "Error stack trace sent to the inspector contains ANSI escape codes"
<img width="630" alt="Screen Shot 2019-06-19 at 4 39 06 PM" src="https://user-images.githubusercontent.com/4299420/59750143-e7a8a780-92b0-11e9-91aa-db7e49c42dfa.png">

Refs: https://github.com/nodejs/node/pull/27052

One solution may be skipping

https://github.com/nodejs/node/blob/a33c3c6d33fa81fa59a5aa95246d7f599e6abdd3/lib/internal/process/execution.js#L170

If the inspector is listening. Anoth

[2019-06-19 09:33] xuld commented on #28279
I just tested v12.4.0, it has been fixed.

[2019-06-19 09:33] #28279 closed

[2019-06-19 10:04] aduh95 commented on #20494
Hasn't this issue been addressed by #26745?

[2019-06-19 10:06] targos commented on #20494
Yes, thanks @aduh95

[2019-06-19 10:06] #20494 closed

[2019-06-19 10:57] drash-course opened #28288 "The 'OCSPRequest' callback does not send the OCSP response with TLS 1.3"
* **Version**: v12.4.0
* **Platform**: Ubuntu 18.04 x86_64 (kernel 4.15.18)
* **Subsystem**: TLS

We are using node 12 to run a HTTPS server for a simple website. I noticed a problem with the `OCSPRequest` event of the TLS server. For connections with TLS 1.2 or below, the callback (3rd argument) sends send response as expected ([OCSPRequest docs](https://nodejs.org/api/tls.html#tls_event_ocsprequ

[2019-06-19 11:31] dploeger opened #28292 "Local DNS resolution sometimes fails"
* **Version**: v12.4.0 + v10.16.0 + v10.13.0
* **Platform**: Darwin hosea 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64
* **Subsystem**: dns

When running multiple DNS queries in parallel using promises, the DNS resolution sometimes fails. We only noticed that on macOS so far.

Sample script:
[code]

Output (sometimes):
[code]

Durin

[2019-06-19 11:34] dploeger commented on #28292
Hm... maybe this is only true for a local domain name. Please ignore this ticket for now.

[2019-06-19 11:49] l1bbcsg commented on #23694
[http.md](https://github.com/nodejs/node/blob/master/doc/api/http.md) and [http2.md](https://github.com/nodejs/node/blob/master/doc/api/http2.md) still have plenty of references to `url.parse` including some that do not have a trivial replacement in WHATWG api, i.e.:

[code]

Related: #12682

[2019-06-19 12:09] dploeger commented on #28292
We also wrote a GO program to check this and we couldn't reproduce the error there.

Also, when using "google.com" the error doesn't occur.

Very strange behaviour.

[2019-06-19 13:25] MonArchangel opened #28293 "Integration with Visual Studio 2019."
Ran the node-v12.4.0-x64 installer today.  This installer only considered installation of tools for VS2017 and vcredist140.

**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.
I have already migrated to 2019 as my primary toolset.

**Describe the solution you'd like**
Please describe the desired behavior.
Would prefer an installe

[2019-06-19 13:28] devsnek commented on #24321
You can already do this (finally pretty much exists for cleanup)

[code]

[2019-06-19 13:33] mcollina opened #28294 "node-tap failing on master"
* **Version**: master
* **Platform**: all
* **Subsystem**: module

CITGM is currently failing on master due to some changes in the CJS module loader, because it breaks the https://www.node-tap.org/ test framework:

[code]

[2019-06-19 13:34] mcollina commented on #28294
Note that this is due to some incompatibility with `esm`. @jdalton maybe you can take a look?

[2019-06-19 13:40] targos commented on #28294
It's a bug in `esm`. I already opened https://github.com/standard-things/esm/issues/821

[2019-06-19 13:40] targos commented on #28294
It's not related to the module loader btw, just a change in the prototype chain of `fs.Stats`.

[2019-06-19 14:19] EddieGriffiths commented on #27609
I am using mintty 2.7.7 installed with Git for Windows

![image](https://user-images.githubusercontent.com/25947585/59773468-f93c8000-92ad-11e9-8104-8dd4acd86fba.png)

[2019-06-19 16:04] sam-github commented on #28292
Can you reproduce when using the DNS promises API instead of util.promisify? https://nodejs.org/api/dns.html#dns_dns_promises_api

[2019-06-19 16:16] sam-github commented on #28288
I got the tests to pass, but didn't do any manual testing. See test/parallel/test-tls-ocsp-callback.js (looks to be the only test).

If you produce a runnable reproduction, I might be able to find time to look at this. If you could isolate whether it can be reproed with raw tls (no http2) that would be helpful. Ideally you could PR a failing test, that would make it much easier to debug.

[2019-06-19 17:21] sam-github commented on #24964
We could do that, and it would help your use-case, for sure.

But then we would be flooded with bug reports from the node addons that link against those exported symbols.

Node cannot both export its openssl symbols (so that addons can be written against node's statically linked internal openssl with no additional binary deps), and NOT export its symbols (so that addons can be written against arbi

[2019-06-19 17:42] hsgreen commented on #24964
I'm curious to understand the thought process behind those that build add-ons that link relying on the node exported openssl symbols.

Wouldn't they still have to have the exact openssl header files checked out somewhere on their system to get their code to compile? Then they are in a tricky spot of having to constantly monitor what openssl version node was linked with. Versus they build to the op

[2019-06-19 17:45] richardlau commented on #24964
OpenSSL headers are included in the Node.js headers tarball.

[2019-06-19 17:53] hsgreen commented on #24964
I think the biggest argument against bundling the openssl symbols in node is that it precludes any add-on from using any 3rd party library that might use a version of openssl that is different than what node uses. There may be situations where you want to use a proprietary library where you absolutely can't rebuild it to use the node openssl version.

[2019-06-19 18:05] sam-github commented on #24964
@hsgreen I agree, and I (and other contributors, I believe) understand that agument, it is the argument I refered to in https://github.com/nodejs/node/issues/24964#issuecomment-503652639, and it is not sufficient to outweigh the use-case for exporting symbols.

If we can enable this use-case, without breaking the other, that would be fabulous. But we aren't going to flip flop back to enabling the

[2019-06-19 18:19] hsgreen commented on #24964
The project I had where this was an issue was fine with continuing to use Node 8.x which used the openssl version the target OS had installed so I don't have a lot of motivation to push this. Just trying to provide clarity to those that are following it that everything has been tried from the add-on side to make it work (hiding symbols, static linking, etc etc) and it can't be resolved with node b

[2019-06-19 19:16] mscdex commented on #28292
Does the Go program always send a DNS network request or does it utilize the same OS-level mechanism node does?

[2019-06-19 20:07] dploeger commented on #28292
@sam-github I'll check that and keep you posted

@mscdex There weren't any DNS requests (tested with tcpdump again) at least. I don't know any go-specifics however.

[2019-06-19 20:38] sam-github opened #28299 "Investigate flake test-worker-debug on ubuntu shared libs"
Flakes below. May be flaky on other platforms, post here if anyone sees that.

See: https://github.com/nodejs/node/pull/28232#issuecomment-503680418

[code]
- https://ci.nodejs.org/job/node-test-commit-linux-containered/13490/nodes=ubuntu1604_sharedlibs_zlib_x64/console

[code]
- https://ci.nodejs.org/job/node-test-commit-linux-containered/13489/nodes=ubuntu1604_sharedlibs_shared_x64/console

[2019-06-19 20:42] sam-github commented on #28299
Possibly related to https://github.com/nodejs/node/issues/28106

[2019-06-19 21:15] niftylettuce opened #28302 "How can we get the Date among other automatic headers set in the response"
Ref: https://github.com/nodejs/node/pull/772#issuecomment-503749261

[2019-06-19 21:19] niftylettuce commented on #28302
I figured it out:

[code]

Use the `res._header` property.

[2019-06-19 21:19] #28302 closed

[2019-06-19 21:21] niftylettuce commented on #28302
This should work for every version of Node I believe.

[2019-06-19 21:44] niftylettuce commented on #28302
Actually, use <https://github.com/kesla/parse-headers/blob/master/parse-headers.js> instead of `http-headers.

[2019-06-19 22:15] BrianHVB commented on #21825
Here is a small example highlighting this issue. The example uses a Node script to spawn a Python script that loops for x seconds, writing the value of the counter to both the console and a file.

------------------counter.py---------------------------
[code]
-----------------------------------------------------------

And here is the Node script that runs it

[code]

Case 1:  `options = {detached

[2019-06-19 22:27] Trott opened #28304 "test-ttywrap.writestream.js test always passes"
* **Version**: v13.0.0-pre
* **Platform**: macOS Mojave
* **Subsystem**: test, async-hooks

In `test/async-hooks/test-ttywrap.writestream.js`, there is `delayedOnCloseHandler()` which is supposed to check the async-hooks graph. When I run directly with the `node` executable, the test fails. When run with `tools/test.py`, though, the test passes. On my computer, at least, I can change the contents

[2019-06-19 22:45] addaleax commented on #28304
That’s because the test isn’t run in that case, I assume; it’s `skip`’ed when stdout does not refer to a TTY. (This also means that it should be in `test/pseudo-tty` if we keep it, probably.)

As for the failure, I *assume* the missing before/after hooks would have been corresponding to the `.destroy()` call. I think the test should have been updated when we started making `._destroy()` for stdio

[2019-06-19 23:19] addaleax commented on #28275
Thanks for the bug report, this is something I definitely missed.

I can’t reproduce the issue without a debug build, so testing this out is going to take a while, but something like this might help:

[code]

[2019-06-20 00:15] southpolesteve commented on #27645
@Antonius-S @sam-github you have it correct. Node blessing a default has a significant benefit over a user override of the same value. I've opened a PR over in http_parser as it looks like this default is set there.

[2019-06-20 01:07] Jamesernator commented on #24321
That doesn't solve the issue of my original point. My point is that the reason observing `multipleResolves` at all is it implies you were doing work that wasn't necessary.

But `Promise.race`/`Promise.all` also fire `multipleResolves` which is actually fine because they're indicative of the exact same error.

However `multipleResolves` only makes sense for tracking this if there's an opportunity i

[2019-06-20 01:35] devsnek commented on #24321
To be fair, *all* of the promise events we have are only useful if you make assumptions about the usage patterns of promises, not just `multipleResolves`. As is proved with Promise.all and such, you need a human to tell whether or not the event is actually indicative of a bug. To this end, I think it's more important to have a good interface for these events, rather than blindly treating their exi

[2019-06-20 02:09] aaltonenzhang opened #28310 "./configure --enable-vtune-profiling doesn't work."
latest node source code doesn't work well with "--enable-vtune-profiling", the log is below:
gyp: /home/benchmark/Downloads/node/tools/v8_gypfiles/v8vtune.gyp not found (cwd: /home/benchmark/Downloads/node) while loading dependencies of /home/benchmark/Downloads/node/node.gyp while trying to load /home/benchmark/Downloads/node/node.gyp
Error running GYP

[2019-06-20 02:14] Jamesernator commented on #24321
I agree but unfortunately Node's docs give quite possibly the worst advice I've ever seen: [terminate the process on any `multipleResolves`](https://nodejs.org/api/process.html#process_event_multipleresolves).

There doesn't really seem to be a coherent design over these things other than "hey here's some stuff v8 exposes so terminate your program if they happen".

I grow tired of bringing it up a

[2019-06-20 02:14] addaleax commented on #28310
/cc @nodejs/v8, as this was caused by moving gypfiles for V8

[2019-06-20 02:20] aaltonenzhang commented on #28310
any ideas to solve this?

[2019-06-20 02:24] GSD-Dreammark opened #28311 "25.6-0.15 计算出错，类似的应该还有许多"
* **Version**:
* **Platform**:
* **Subsystem**:

[2019-06-20 02:27] addaleax commented on #28275
Actually, I think this may have been caused by https://github.com/nodejs/node/pull/26211 because the domain is now no longer kept alive through the domain stack. I’ll open a PR with the above suggestion, it does seem to resolve the issue.

[2019-06-20 02:36] Jamesernator commented on #24321
Frustratingly as I have just remembered Node.js *already has this Zone-esque thing* and it's called domains, which are deprecated for reasons [not specified in the docs](https://nodejs.org/api/domain.html#domain_domain).

Why is this deprecated? It appears that it could solve these problems that these hooks introduce.

[2019-06-20 02:39] addaleax commented on #24321
Some info on that topic is in https://nodejs.org/en/docs/guides/domain-postmortem/

[2019-06-20 03:28] devsnek commented on #24321
zones got me curious so i made this https://gist.github.com/devsnek/07a61aec7d9f40d1495048790dd30a8f

[2019-06-20 03:47] Jamesernator commented on #24321
Nice.

I wasn't even aware of `async_hooks`, man that's pretty close to a full zone solution (it doesn't seem to set `Zone.current` anywhere though so a lonely `Promise.reject(12)` that isn't awaited doesn't trigger `unhandledRejection`).

[2019-06-20 03:51] Trott commented on #21425
Logging added:

[code]

[2019-06-20 04:10] Trott commented on #28304
I can get behind that: https://github.com/nodejs/node/pull/28316

[2019-06-20 04:33] mscdex commented on #28311
There is no calculation error, what you're seeing is the result of JavaScript's use of IEEE-754 floating point for its number type. If you are expecting a result like `25.45` you will need to use a third party library that implements that kind of behavior. There are such "BigDecimal"-type libraries publicly available online for this kind of purpose (in addition to allowing larger values in general

[2019-06-20 04:33] #28311 closed

[2019-06-20 05:27] manishmotiani commented on #26315
We are also facing this issue using knex and node 10.16. Any update on this?

[2019-06-20 05:27] #26765 closed

[2019-06-20 05:30] devsnek opened #28317 "executionAsyncId in unhandledRejection and rejectionHandled is always 0"
* **Version**: at least >= 12, probably all
* **Subsystem**: async_hooks, process

The `unhandledRejection` and `rejectionHandled` events are always called in the root async context, rather than the async context of the relevant promise. The `multipleResolves` event is called in the correct context.

[2019-06-20 05:57] ak239 commented on #25077
cc @eugeneo

[2019-06-20 07:18] bnoordhuis commented on #28310
The VTune support was a contribution from Intel and isn't maintained by us or the V8 team. You could either send a pull request fixing it (Node's vtune build file was moved to `tools/v8_gypfiles/broken/v8vtune.gyp` recently) or we can simply remove it.

[2019-06-20 07:20] bnoordhuis commented on #28310
cc @cdai2 in case you're interested on working on this. Refs #3785.

[2019-06-20 07:23] bnoordhuis commented on #28293
Thanks for the report but I think this is a duplicate of #27214 so I'll close this issue. Please chime in on the other issue if you have additional information.

[2019-06-20 07:23] #28293 closed

[2019-06-20 07:54] drash-course commented on #28288
It looks like a E2E test is the only way to reproduce this issue. I will make a test file shortly.

[2019-06-20 07:54] bnoordhuis commented on #28284
You should probably report this to the maintainer of the yocto recipe. We don't maintain that.

That missing /lib/ld-linux-armhf.so.3 means either your build environment isn't set up correctly or configure is invoked with the wrong flags.

Note that the build produces some intermediary executables (intermediary because they produce output that's included in the final executable) and they need to r

[2019-06-20 07:54] #28284 closed

[2019-06-20 08:15] ayrat555 opened #28319 "node js script exits when input is large"
node v11.6.0
Linux 4.15.0-45-generic #48~16.04.1-Ubuntu SMP Tue Jan 29 18:03:48 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

I have a node js script with custom arguments. When I pass a string argument with size larger than 170_000 node js returns an empty string with exit status 7. The script is not even started

system limit
[code]

[2019-06-20 08:36] Himself65 commented on #9720
+1 and no one to reedit the docs?

[2019-06-20 09:01] bnoordhuis commented on #28283
I think @joyeecheung is talking about child processes being spawned by the script being profiled.

<hr>

In the linked issue @bcoe says that working with the inspector API is problematic but it's not clear to me what the difficulties are. I'm inclined to say no change to Node is necessary because all the building blocks already exist:
[code]

@bcoe Can you expand? Maybe @SimenB can chime in too?

[2019-06-20 09:57] #28106 closed

[2019-06-20 09:57] #28299 closed

[2019-06-20 10:29] coreyfarrell commented on #25484
We are now experiencing this issue with node.js 10.16.0 as well, 10.15.0 does not have the issue - https://travis-ci.org/coreyfarrell/nyc/builds/548133760.

@bcoe [Travis-CI documentation](https://docs.travis-ci.com/user/reference/overview/#virtualisation-environment-vs-operating-system) says that Windows gets 8GB ram for testing, maybe this is just inadequate for the way they setup Windows (other

[2019-06-20 11:11] wangwangpswc830 opened #28321 "Windows 10 npm -v error"
My windows 10 is :
    windows 10 professional  64bit
when I  run the command , got the responds:

**
npm ERR! path C:\Program Files\nodejs\node.exe
npm ERR! code ENOENT
npm ERR! errno ENOENT
npm ERR! syscall spawn C:\Program Files\nodejs\node.exe
npm ERR! enoent spawn C:\Program Files\nodejs\node.exe ENOENT
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent
npm

[2019-06-20 11:19] Himself65 commented on #28321
try to reinstall node.js
ENOENT is meaning that "No such file or directory"

[2019-06-20 11:27] wangwangpswc830 commented on #28321
I have reinstalled many times ,but  it keeps throw the same error. Is there have any other way?thank you

[2019-06-20 11:32] Himself65 commented on #28321
try to reset your environment variables? [tutorial](https://www.computerhope.com/issues/ch000549.htm)

[2019-06-20 11:50] drash-course commented on #28288
I found the source of the problem. When you set a custom `ecdhCurve` in the `tls.createSecureContext` options when creating a TLS server, it breaks the OCSP event with TLS 1.3.

I have a minimal test that shows the problem: [github repo](https://github.com/drash-course/node-ocsp-bug-repro). You can clone it and run `npm test`.

[2019-06-20 12:55] #27731 closed

[2019-06-20 13:14] mscdex commented on #28319
`getconf ARG_MAX` does not tell the whole story. See [this answer on StackOverflow](https://unix.stackexchange.com/a/120842) for more details. In short, the limit is lower than that, more like 128k.

[2019-06-20 14:16] sam-github commented on #24964
Just to clarify:

Node has never used the target OS's preinstalled openssl in its default builds. Its likely what you are seeing is a change in how symbols were exported.

Did anybody try vendoring the libcurl (for example) source into the addon and building it against node's openssl? That seems like it would work, and also create a self-contained addon that didn't fail to `npm install` if `libcur

[2019-06-20 15:26] m-samantha opened #28323 "npm install -g apiconnect error"
* **Version**: v10.16.0
* **Platform**: windows 7 64 bit
* **Subsystem**:

I have installed node js v10.16.0 and when I am installing apiconnect toolkit using the command 'npm install -g apiconnect' . I see the below error

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! appmetrics@3.1.3 install: `node extract_all_binaries.js || node-gyp rebuild`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed

[2019-06-20 15:43] doug-numetric opened #28324 "assigning to global._ doesn't work in a --require script"
* **Version**: v10.15.3
* **Platform**: Darwin Dougs-Mac 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64
* **Subsystem**:

./test.js
[code]

REPL
[code]
![image](https://user-images.githubusercontent.com/28833430/59862203-985d8800-933f-11e9-976a-9a1a1d3a0da4.png)

I expected to be able to assign to global._ in a require script

[2019-06-20 15:55] devsnek commented on #28324
It does assign to it, but then the REPL starts which overrides whatever you assigned it as to create the `_` property which is the value of your last input. https://nodejs.org/api/repl.html#repl_assignment_of_the_underscore_variable

[2019-06-20 16:08] #28324 closed

[2019-06-20 17:29] #28144 closed

[2019-06-20 18:06] JCMais commented on #24964
This does not work because Node only exports the OpenSSL symbols it uses, which are not always the same ones used by other libs, like libcurl.

[2019-06-20 18:50] sam-github commented on #24964
Node doesn't use its exported symbols, they are exported for use by addons. If you post an issue about non-exported symbols, we can export them, we have in the past tried to make sure we export everything we should.

[2019-06-20 18:56] #28193 closed

[2019-06-20 20:28] zero1five commented on #28160
The test to fix this should be whether the context path for the current module exists.

[2019-06-21 00:00] bcoe commented on #28283
@bnoordhuis the history of the `c8` repo is a pretty good history of why interacting with the Inspector protocol doesn't work great for a test runner:

1. [it's difficult to write coverage when the process exists, because the process.exit needs to be synchronous](https://github.com/bcoe/c8/issues/2).
2. [you need to have enabled precise coverage before an isolate loads, or you will be unable to co

[2019-06-21 00:04] bcoe commented on #28283
@SimenB brings up the need for "running tests in watch mode", which I think means you'd want coverage before the process exits?

In this case, I wonder could you run the script with `NODE_V8_COVERAGE` set, so that source is instrumented for block coverage immediately, and then use an inspector session like @bnoordhuis suggests?

[2019-06-21 00:29] SimenB commented on #28283
@bnoordhuis see my post here: https://github.com/bcoe/c8/issues/116#issuecomment-502585658

Using the inspector API is not as accurate as the env var. Running with `NODE_V8_COVERAGE` makes no difference. Is it because some new session is created instead of connecting to the current one? I have to admit I don't know why they differ, but point 2 brought up above here _sounds_ like a likely suspect t

[2019-06-21 00:49] jokeyrhyme commented on #11835
Is it worth revisiting this discussion considering the current state of `npm` and npmjs.com?

https://mobile.twitter.com/palmerj3/status/1141797296004325376

I feel it would be positive step forward to have a `node --install` that is just powerful enough to install the user's choice of `npm`, `yarn`, `entropy`, etc without making the difficult-to-reverse decision of bundling them with Node.js

[2019-06-21 01:47] ljharb commented on #11835
You file issues on the discourse, which has been the case for awhile. Separately, a lack of commits doesn't necessarily indicate any problem.

[2019-06-21 02:24] Toxicable commented on #28283
@bcoe Being able to gather and process the report in memory, without touching the FS is the high level thing I want here

So possibly some API such as
[code]

[2019-06-21 02:50] richardlau commented on #26645
Node.js 11 is End-of-Life so assuming this is closable.

[2019-06-21 02:50] #26645 closed

[2019-06-21 02:51] prettydiff commented on #11903
I only just noticed this thread.  A few years ago I wrote a dependency management tool that intentionally avoids a centralized repository.  If its helpful you guys can take the concept as a starting place.  It i completely distributed, avoids all concepts of a centralized repository, and produces a single zip file.  It uses the OS's embedded zip tools to produce a zip file.  I was using SHA512 has

[2019-06-21 05:00] QuLogic commented on #27431
Also failing on Fedora Rawhide with `R-V8`, similarly to @jeroen on Debian, but using 12.4.0 (though I understand with this still being open, it's not been fixed yet.)

[2019-06-21 05:07] dploeger commented on #28292
@sam-github Yes, same result with the direct promises API.

[2019-06-21 07:35] littledan commented on #27847
This idea seems good in isolation, but would it be worth seeing whether Emitter would be a good return value for `on` before landing this API?

[2019-06-21 08:41] out4b opened #28332 "Worker Thread: how to get per-worker cpu & memory util rate?"
Dear Node community, I'm working on a Node.js project which utilizes worker thread feature. I'd like to get CPU & memory util rate for each spawned worker thread. I did a few search but with very few information on this topic. Thanks for your help.

[2019-06-21 08:59] out4b commented on #28332
It seems to me process.cpuUsage() is not worker-aware, but v8.getHeapStatistics() is, with v10.15.0 LTS on Linux x64. Not sure if my understanding is correct.

[2019-06-21 09:40] andrey-furman commented on #19549
During testing es6 modules with .mjs extention:
[code]
v12.4.0
http://joxi.ru/zANGWpYHvKLnnr
- when use require in .forEach receives error: require is not defined;
- __dirname is not defined. Have to do process.cwd() instead;
- export * from '...' doesn't work. Have to do importing with destructuring and then export again.

[2019-06-21 09:41] andrey-furman opened #28334 "es6 modules --experimental-modules"
* **Version**: v12.4.0
* **Platform**: macOS 10.14.4
* **Subsystem**: ??

During testing es6 modules with .mjs extention:
http://joxi.ru/zANGWpYHvKLnnr
- when use require in .forEach receives error: require is not defined;
- __dirname is not defined. Have to do process.cwd() instead;
- export * from '...' doesn't work. Have to do importing with destructuring and then export again.

[2019-06-21 09:42] bnoordhuis commented on #28319
See https://github.com/nodejs/node/issues/9137#issuecomment-254312999 for a related report. It's a kernel limitation and as such not under our control. I'll close this out.

[2019-06-21 09:42] #28319 closed

[2019-06-21 11:01] bnoordhuis commented on #28283
@bcoe Apropos (1), calling `inspector.close()` from `process.exit()` should work. If it doesn't, please file a new issue with a test case and I'll take a look.

W.r.t. (2) and cc @SimenB: start the inspector like this to get block coverage:
[code]
As far as I'm aware that works fine (at least with Node.js master) with an already running isolate. If it doesn't, I'd like to know what exactly doesn't

[2019-06-21 11:11] bnoordhuis commented on #28332
Yes, the methods from the `v8` module are worker-aware but `process.cpuUsage()` is not. It's built on top of the getrusage(2) system call and not all platforms support the RUSAGE_THREAD flag (notably MacOS - although there are other ways to get the per-thread CPU time on that platform.)

Since the actual platform-specific logic lives in libuv, this would be a libuv feature request first and foremo

[2019-06-21 13:12] viktor-ku commented on #25099
@Fishrock123 can I get an update on this issue? Can I somehow help with this to bring it to node? I really want to have non-legacy alternative to `url.format` as well.

I understand that it is, perhaps, not in the standard, but Node can have some sort of the helper function, no? I mean it is so commonly used that it would be the shame to require exactly the same package in every new project (I nod

[2019-06-21 15:20] joyeecheung commented on #28283
I agree with @bnoordhuis that this can be done with using the inspector protocol directly. `NODE_V8_COVERAGE` is also implemented with inspector but it's in core because we also want to use it to collect coverage of internals which requires the connection to be created earlier before the bootstrap. If the request is to get user land coverage on demand, I don't really see why it can't be done with

[2019-06-21 16:13] SimenB commented on #28283
Didn't know about those options! I'll test it out and report back.

It would be nice with a cleaner api, but that should be very much possible to build in userland

[2019-06-21 16:45] bcoe commented on #28283
@joyeecheung @bnoordhuis if we could pull it off without too much trouble, I think it would be a somewhat cleaner API if someone could trigger the existing inspector session we have open and tell it to dump its coverage.

My thinking is, then @SimenB or @Toxicable could start their process with NODE_V8_COVERAGE set... my gut is that this does have a few benefits from a simplicity point of view: yo

[2019-06-21 17:59] SimenB commented on #28283
For Jest's use case, it's very explicit when we load user code, so we don't need any coverage guarantee about "library code". As long as `vm` and hopefully `worker_threads` are supported, we're good. Hopefully we won't need the env variable(?)

More than happy to figure out some abstraction for collecting the coverage in user land that can be shared, sounds like a great goal.

[2019-06-21 18:12] breck7 commented on #14160
Is there a workaround for this?

I have a language that is compiled to Javascript classes at runtime and I am trying to eval the code like `vm.runInNewContext("class Foo {}", {})` but cannot figure out how to get it to work.

[2019-06-21 18:18] devsnek commented on #14160
if you're transpiling it you have access to the class name right? could you emit `globalThis.Foo = class {};` instead of `class Foo {}`?

[2019-06-21 19:16] breck7 commented on #14160
I do indeed have access to the class name, and that approach works. Thanks @devsnek

[2019-06-21 19:46] kball opened #28337 "Intermittent timeouts in test-tls-min-max-version.js"
* **Version**: v13.0.0-pre (built from src at commit e6edd66c10632715326a3ef830c6808d7da069f6)
* **Platform**: Darwin Kernel Version 17.7.0: Wed Apr 24 21:17:24 PDT 2019; root:xnu-4570.71.45~1/RELEASE_X86_64 x86_64
* **Subsystem**: openssl/tls

Attempting to run `make test`, or running `test/parallel/test-tls-min-max-version.js` in isolation I get intermittent timeouts.

[2019-06-21 20:20] Toxicable commented on #28283
This also isn't a concern for us.
There is a clear separation between our "framework" code and the users code that we actually want to instrument and we control when it's called.

@bcoe With that in mind, do you think `c8` would be the place for such an api?
All it would do is call
[code]
But just to ensure anyone integrating it downstream dosen't have to have this conversation again

[2019-06-21 20:26] sam-github commented on #28337
Can you post the output? Also, just to confirm, what were your configure options?

[2019-06-21 20:41] prettydiff commented on #11835
I agree that a lack of changes to a code basis is an insufficient metric to warrant a conversation of change, but the relationship between an application and transmission is continuously worthy of discussion.

[2019-06-21 20:57] #28231 closed

[2019-06-21 21:47] kball commented on #28337
I ran ./configure with no options; where should I look to find any info on what it determined that will be helpful?

I unfortunately did not save the output and am not currently able to reproduce. :( I'll keep trying and post it if I repro it again. Sorry for not thinking of that.

[2019-06-21 23:36] sgarcia30 opened #28377 "Buffer.concatenate only produces buffer of last buffer in the array"
Version: >=10.15.0
Platform: macOS Mojave v 10.14.2

          let buffLength = 0;
          for (let i = 0; i <= arrBuffers.length - 1; i++) {
            buffLength = buffLength + arrBuffers[i].length;
          }
         const buffer = Buffer.concat(arrBuffers, buffLength);
          const attachments = [{
            content: buffer.toString('base64'),
            filename: `invoice-${invoice

[2019-06-21 23:37] mscdex commented on #28377
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2019-06-21 23:37] #28377 closed

[2019-06-22 03:06] mikeRChambers610 commented on #11337
@bnoordhuis how is this not an issue with node itself? The failure is pointing at bin/node...

v8::internal::Heap::FatalProcessOutOfMemory(char const*) [/usr/local/bin/node]

I have been searching for the fix for a few weeks now and reading through  the same issues still seeing no permanent solution to heap allocation in node.

[2019-06-22 05:33] sam-github commented on #28337
Knowing that there were no options is enough.

Without some output, its hard to guess, much less repro. This runs regularly in CI on macos, and many (most?) devs are using macos, so its surprising. It also is a pretty simple test with no subtle timing races or ordering dependencies. Which doesn't mean it doesn't have a bug, but does mean that some clues are needed.

I don't even know what timeout

[2019-06-22 07:31] SimenB commented on #28283
Adding the options worked an absolute treat - I get the same numbers as if starting the node process with `NODE_V8_COVERAGE` now. Thanks! I guess we can move the discussion about abstractions on top of the inspector API back to the c8 repo?

[2019-06-22 09:21] bnoordhuis commented on #11337
You're confusing the messenger with the message. Take a look at the JS stack trace, it hints at the fact that jsdom is allocating too much memory.

[2019-06-22 09:25] bnoordhuis commented on #14160
Another approach that doesn't pollute the global object:
[code]

[2019-06-22 12:17] davismatt commented on #6160
@esr360 The javascript files importing into Sass are all non-native correct? So you should be able to safely delete them without getting the error. Only native ones (such as the importer itself) will fail on re-requirement. Are you clearing the entire cache?

A solution I've been using to circumvent the error is to save the required module to a global as such:

`global.myModule = global.myModule |

[2019-06-22 12:40] 1999 opened #28386 "tty.isatty(1) and process.stdout.isTTY in worker_threads worker return different values"
* **Version**: 12.4.0
* **Platform**: Darwin C02WJ0U4HTDG 17.7.0 Darwin Kernel Version 17.7.0: Wed Apr 24 21:17:24 PDT 2019; root:xnu-4570.71.45~1/RELEASE_X86_64 x86_64
* **Subsystem**: tty

I found out recently that in a worker which is run with `worker_threads`, `tty.isatty(1)` returns True whereas `process.stdout.isTTY` returns False.

This led to a weird issue in `mocha` - a popular library fo

[2019-06-22 12:42] richardlau commented on #28386
See https://github.com/nodejs/node/issues/26946#issuecomment-477502347

[2019-06-22 12:49] 1999 commented on #28386
Thanks for the link, interesting. But it doesn't say anything about `tty.isatty` API, does it?

[2019-06-22 14:30] dnalborczyk commented on #28334
@andrey-furman

`require` doesn't exist in an ES6 module context. [related info](https://nodejs.org/dist/latest-v12.x/docs/api/esm.html#esm_no_code_require_code_code_exports_code_code_module_exports_code_code_filename_code_code_dirname_code)

if you want dynamic imports, depending on your use case, you could either use [createRequire](https://nodejs.org/dist/latest-v12.x/docs/api/modules.html#modu

[2019-06-22 15:21] addaleax commented on #28386
@1999 This still seems like expected behaviour – fd’s are per-process, so fd `1` is going to be a TTY in one thread if it is a TTY for any thread. The problem is that in Workers, `process.stdout` does not refer to fd `1`.

[2019-06-22 16:00] maxnordlund commented on #25310
I encountered this as well, and solved it using the following hack:

[code]

[2019-06-22 17:20] #28244 closed

[2019-06-22 19:17] andrey-furman commented on #28334
Thank you for responding. As from simple repo, sorry, but I can't provide
you the one.
For example, you have a helpers folder with a few files and index.js is
among them. In all the rest helpers files we make exports of separate
consts.
But you want to have one entry point like: helpers.logger, helpers.context,
helpers.placeholders, etc. So you have to do the think like this:
export * from './logg

[2019-06-22 22:42] 1999 commented on #28386
@addaleax I didn't know that `tty.isatty(fd)` is talking about the whole process. Maybe it's worth it to add a note about it do the documentation?

[2019-06-23 01:10] dnalborczyk commented on #28334
this should work if you tried something similar:

[code]

[code]

[code]

[code]

if not, you might have to come up with something concrete to reproduce.

[2019-06-23 02:08] jessakim opened #28391 "unable to run npm install gulp-cli -g"
* **Version**: v.10.16.0
* **Platform**: Win 7
![sc](https://user-images.githubusercontent.com/52117270/59970654-0614da00-9521-11e9-9a0e-af0bcfb76e58.PNG)

* **Subsystem**:

[2019-06-23 03:21] breck7 commented on #14160
Thanks @bnoordhuis

I gave that a try but did not seem to work: https://github.com/breck7/jtree/blob/master/src/GrammarLanguage.ts#L1483

I started getting "Identifier 'X' has already been declared" errors.

[2019-06-23 10:26] SimenB commented on #28283
Oh actually, there is one API I'm missing - getting instrumentation data for an uncovered file. `istanbul-lib-instrument` has a `readInitialCoverage` function which does this, but it relies on Babel: https://github.com/istanbuljs/istanbuljs/blob/371adb154f0189b793e636b5bbcc63f183d36c2b/packages/istanbul-lib-instrument/src/read-coverage.js. Is that possible with v8 coverage? Or are we bound to _exe

[2019-06-23 13:19] lpinca commented on #27875
Fixed by https://github.com/nodejs/node/pull/27876.

[2019-06-23 13:19] #27875 closed

[2019-06-23 20:40] bcoe commented on #28283
@SimenB, @Toxicable let's move this conversation to c8 and/or v8-to-istanbul, as from conversations we've been having it sounds like the inspector API is working like a charm 👍

[2019-06-23 20:40] #28283 closed

[2019-06-23 22:08] rowlandjumbo commented on #27609
Hi, I am using Git BASH.
Name: Git BASH
Color: True Color - which is COLORS_16m
Version: 4.3.46(2)
Env Settings: TERM=xterm

@BridgeAR please do I update tty.js?

[2019-06-24 03:34] juanarbol commented on #28281
Take a look to his PR #28401

[2019-06-24 07:22] bnoordhuis commented on #28277
Closing as answered.

[2019-06-24 07:22] #28277 closed

[2019-06-24 07:32] bnoordhuis commented on #28292
This issue is almost certainly a duplicate of #5436 (and see #26903 for context on why the error message is lacking.)

I'm going to refer you to #5436 (and make sure you read through it all, it actually covers several issues) but let me know if there is reason to believe your issue is different and should be reopened.

[2019-06-24 07:32] #28292 closed

[2019-06-24 07:39] bnoordhuis commented on #28386
You're welcome to open a documentation pull request but where would you add it? There are tens if not hundreds of core methods that accept a file descriptor. It'd be incongruent to single out `tty.isatty()`.

Its behavior also isn't the least bit surprising to me but maybe that's just me.

[2019-06-24 07:44] bnoordhuis commented on #14160
If you're reusing the context, wrap the code in a block:
[code]

[2019-06-24 07:51] dploeger commented on #28292
Right, I already saw #5436 and did try all workarounds *but* the `family:4` one (I somehow skipped that and the comments on the issue are really branching out in multiple directions).
So it basically boils down the system library (which isn't glibc on macos I presume) does switch randomly between 4 and 6 resolutions? The tested hosts did not have an AAAA record. So I guess, the successes were 4 re

[2019-06-24 07:52] dploeger commented on #5436
For me on macOS this was also a resolution problem based on the selected family. Does anybody know, which system library on macOS is used to carry out the resolution features? This library also seems to randomly switch between 4 and 6 resolutions. I believe, it isn't the glibc, right? 😉

[2019-06-24 08:01] bnoordhuis commented on #12073
Since #11835 is undead... several people have remarked that the number 1 reason for broken node installs (observe nodejs/help) is in fact npm. Notably, doing an in-place upgrade or downgrade sometimes leaves npm in a broken state.

Node itself is immune to that because it's a single binary. `node --pkg install` would be immune for the same reason.

(FWIW, I was not in favor of this proposal back i

[2019-06-24 08:07] bnoordhuis commented on #5436
@dploeger It's `/usr/lib/libSystem.B.dylib`, which is macos's version of libc.

libSystem is actually a kind of container library, the actual DNS resolver is in `/usr/lib/system/libsystem_info.dylib`, but that's probably more info than you needed. :-)

[2019-06-24 08:22] genisd commented on #25814
There is also a `10.16.0` release which could include the fix for this.
Changelog mentions some segfault fixes

[2019-06-24 08:25] gireeshpunathil commented on #25814
ping @Cabalbl4

[2019-06-24 08:26] dploeger commented on #5436
Thanks, @bnoordhuis. But coming to think about it, shouldn't system programs have the same problem of randomly doing 4 and 6 queries? Or do they just handle the outcome better than Node (or v8 actually) does?

I would expect, that if no family is given, Node should do both queries and return one that is successful - the default should still be 4 currently, I guess.

But alas, I'm not aware on whic

[2019-06-24 08:57] bnoordhuis commented on #5436
Node.js is agnostic, it merely passes on the options to the system resolver. That means you get a lot of control but you also get to deal with libc idiosyncrasies.

[2019-06-24 09:14] dploeger commented on #5436
Okay. And the other applications (like `ping`) do the same but handle the result for you. Got it. Thanks.

[2019-06-24 10:06] kevin-renier commented on #28288
We have the same problem. We use node to serve our website and want OCSP. Node 12 causes errors with Firefox: our certificate has “must_staple” and firefox drops the connection if the certificate status is not provided. This happens only with TLS 1.3.

[2019-06-24 10:47] xorenio opened #28403 "Website down :("
Seems like your website is down

If you have a question, suggestion or issue regarding our website,
please post it in https://github.com/nodejs/nodejs.org!

Issues with the Node.js API documentation should be posted here. All other
issues regarding the website will be closed.

[2019-06-24 10:51] richardlau commented on #28403
https://nodejs.org/en/ is working for me.

[2019-06-24 11:07] Himself65 commented on #28403
I faced the same error on my travis.ci tests

![image](https://user-images.githubusercontent.com/14026360/60014274-2a082500-96b3-11e9-95c1-3c42c97aea38.png)

[2019-06-24 11:07] xorenio commented on #28403
Im still having issues, from two different building in the UK, one on talktalk IPS and the other Virgin Media.

[2019-06-24 11:10] 1999 commented on #28386
For me as a Node.JS developer, it's not clear if I should use `tty.isatty(fd)` or `process.stdout.isTTY` - they look the same from the documentation and also the documentation doesn't explicitly say that one is about the process even when we create a thread within this process and another is talking about a thread.

[2019-06-24 11:24] richardlau commented on #28403
Similar report in https://github.com/nodejs/nodejs.org/issues/2289.

[2019-06-24 11:56] bnb commented on #28403
same here.

[2019-06-24 12:05] xacrimon commented on #21973
@Fishrock123 Quite incorrect there. Jemalloc was removed as the default because it was forced binary bloat for projects that didnt care much. Jemalloc is often more performant.

[2019-06-24 12:16] CreatiCoding commented on #28403
same here. Plz! T_T

[2019-06-24 12:21] richardlau commented on #28403
I'm going to keep this issue open for visibility here, but please see https://github.com/nodejs/nodejs.org/issues/2289 for updates (it's the more active issue).

[2019-06-24 12:57] richardlau commented on #28403
Appears to be resolved: https://github.com/nodejs/nodejs.org/issues/2289#issuecomment-504988905

[2019-06-24 12:57] #28403 closed

[2019-06-24 15:28] Trott opened #28404 "crypto.getDiffieHellman() much slower after OpenSSL 1.1.1c update"
* **Version**: master branch (v13.0.0-pre)
* **Platform**: macOS Mojave but I've seen it on Linux in CI too
* **Subsystem**: crypto

`node` compiled from the master branch takes 24 seconds while Node.js 12.4.0 takes less than 2 seconds.

[code]

@bnoordhuis notes that the default key size in 1.1.1c was increased from 1024 bits to 2048 bits, but IIUC, specifying `modp18` sets the key size for both

[2019-06-24 16:03] umow commented on #25132
thank you for this,  npm install natives@1.1.6 Worked!

[2019-06-24 17:37] breck7 commented on #14160
Thanks @bnoordhuis! That worked and seems cleaner. (https://github.com/breck7/jtree/blob/master/src/GrammarLanguage.ts#L1455)

I didn't know that the last line of block would be returned.

[2019-06-24 17:48] roman-io opened #28408 "writable stream _write and _writev"
Version: `v12.4.0` or `v10.15.3`
Platform: `Linux 4.15.0-51-generic #55~16.04.1-Ubuntu SMP Thu May 16 09:24:37 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`
Subsystem: Stream Duplex, Object mode, piped into itself.

The documentation says that when I implement `_writev` method, it will receive chunks of data available in the buffer.

What I actually see is that both `_write` and `_writev` methods are u

[2019-06-24 18:22] lovell commented on #21973
Part of the reason for the removal of jemalloc as the only runtime allocator in Rust was to provide support for a wider range of target platforms, architectures and tooling. It now allows an optional, configurable [global_allocator](https://doc.rust-lang.org/std/alloc/index.html#the-global_allocator-attribute) that works with crates such as [jemallocator](https://crates.io/crates/jemallocator).

I

[2019-06-24 20:52] addaleax commented on #28386
I’m having the same issue as Ben here – I don’t see a good place in the documentation that isn’t “everywhere”…

We could document that `tty.isatty(fd)` should be used when dealing with a file descriptor, and `process.stdout.isTTY` when dealing with `process.stdout`, but that seems somewhat redundant? But that’s kind of the answer to the question of which function to use…

[2019-06-24 21:11] sam-github commented on #28288
I can see that with 1.2, OCSP response data is present, but with 1.3, it is not: https://github.com/sam-github/node-ocsp-bug-repro/blob/master/ok.txt vs https://github.com/sam-github/node-ocsp-bug-repro/blob/master/notok.txt

Not sure why. I do the server side callback occuring in both cases.

[2019-06-24 21:35] sam-github commented on #28288
I asked openssl: https://mta.openssl.org/pipermail/openssl-users/2019-June/010774.html

[2019-06-24 21:37] sam-github commented on #28288
@kevin-renier Are you also using the `ecdhCurve` option on the server?

[2019-06-24 21:47] addaleax commented on #28404
Fwiw, the commit that changed behaviour seems to be openssl/openssl@2500c093aa1e9c90c11c415053c0a27a00661d0d.

[2019-06-24 21:49] addaleax commented on #28404
And assuming that this is intentional – as that commit message hints at – it might make sense to provide an asynchronous function that offloads to the threadpool for creating these objects.

[2019-06-24 21:59] sam-wilson-bentley-com opened #28409 "node-report reports error thrown via napi as uncaught when in fact the JS caller catches it"
* **Node.js Version**: 10.15.3
* **OS**: Windows 10 x64
* **Scope (install, code, runtime, meta, other?)**: runtime
* **Module (and version) (if relevant)**: node-report 2.2.7

node-report incorrectly reports an uncaught exception for an error that is in fact caught *if the error is thrown in native code using napi_throw.*

I am filing this issue here since I know that node-report is being pulled

[2019-06-24 21:59] bertjwregeer commented on #28063
The memory leaks in node 10.16.0 are causing our Jenkins builds that are running unit tests under Jest to OOM.

I wish I could provide more information, but I am a simple build admin, not a JavaScript person.

[2019-06-24 22:03] devsnek commented on #28386
i think the question is more like (@1999 correct me if i'm wrong) when should someone be dealing with fd 1 vs when should someone be dealing with process.stdout.

[2019-06-24 22:18] TimothyGu commented on #26758
Doesn't seem like there's any specific action item, closing.

[2019-06-24 22:18] #26758 closed

[2019-06-24 22:57] ronag opened #28412 "response.finished ambiguity"
Currently, there is no intuitive way to check if a response actually has "finished". The current [`finished`](https://nodejs.org/dist/latest-v12.x/docs/api/http.html#http_response_finished) property just means that the **user** has "finished" (i.e. called `end()`) not that the **response** itself has finished, i.e. has either emitted `finish` or `error` (or `close`), which is what I believe is the

[2019-06-24 23:20] mmarchini opened #28414 "Report not generated if `--abort-on-uncaught-exception` is also given"
* **Version**: `master`
* **Platform**: `Ubuntu 18.04`
* **Subsystem**: `report`

Not sure if that's supposed to work (I would expect so, it works with [node-report](https://github.com/nodejs/node-report) on Node.js v10.x), but when I use `--abort-on-uncaught-exception` with `--experimental-report --report-uncaught-exception` or `--experimental-report --report-on-fatalerror` I only get a core dump

[2019-06-24 23:48] ronag commented on #28412
Actually, currently, there is as far as I can see no way to check whether a response has completed without attaching an early event listener.

[2019-06-25 00:37] mmarchini opened #28415 "Diagnostics report: inspect the error object"
**Is your feature request related to a problem? Please describe.**
Now we [inspect the error object on fatal errors](https://github.com/nodejs/node/pull/27243), which is awesome. I started to play with node-report recently and this feature was not incorporated there yet. I think this would make a lot of sense since it would make the report more useful for users.

**Describe the solution you'd like

[2019-06-25 00:50] mmarchini commented on #28409
I would need to look into it further, but I guess this is related to how V8 handles the `--abort-on-uncaught-exception`. Basically when V8 can't say for sure that an exception will be handled, it calls the handler for this flag which will crash the process. There's a pure JavaScript example that shows this behavior:

[code]

My guess is that V8 can't tell if an error will be catched when it's thro

[2019-06-25 00:52] mmarchini commented on #28409
By the way, the `node-report` we integrated in Node.js v12 should not be affected by this, so we might be able to fix it on the module as well, but it would probably be a breaking change.

[2019-06-25 00:56] mmarchini commented on #28414
The patch below would fix the issue, but we won't get the JavaScript stack trace on the report:

[code]

We could also call `process.abort()` after `writeReport` on `lib/internal/process/execution.js`, but the core dump wouldn't be generated at the point there the exception happened anymore.

If we had the message and error objects on ShouldAbortOnUncaughtException, we could have the report genera

[2019-06-25 01:02] mmarchini commented on #28409
(I got the wrong example above :(, let me see if I can find the right one)

[2019-06-25 02:16] mmarchini commented on #28409
I updated my comment with more information + the correct examples.

@sam-wilson-bentley-com do you have a C++ code you can share where this issue happens?

[2019-06-25 02:59] Himself65 commented on #28415
related code lines:

https://github.com/nodejs/node/blob/c42da5ed294cbbd9d6a676fe42fee6cd194d096c/src/node_report.cc#L352-L388

[2019-06-25 03:10] yujintang commented on #9644
options.shell: true； perhaps can solved it

[2019-06-25 04:12] gireeshpunathil commented on #28409
I guess it can be as trivial (not tested though) as:

[code]

[2019-06-25 04:38] Trott commented on #28404
Yeah, it does seem as though that commit message indicates that a lot more work is now done to create DH objects and that this is by design. Close this as "not a bug"?

[2019-06-25 04:40] Trott commented on #28404
I suppose someone knowledgable (in other words: not me) should first confirm that it's that commit that really is the source of this drastic performance decrease and not, say, that commit interacting with an overlooked performance bottleneck in our own code or something.

[2019-06-25 06:33] Jamesernator commented on #28334
@dnalborczyk's solution will work fine if you're trying to export from ES modules although note `export * from './file.js'` does not work with CommonJS.

Given your description of wanting `helpers.context`/`helpers.logger` I think you want `export * as logger from './logger.js'`/`export * as context from './context.js'` anyway.

[2019-06-25 08:11] bnoordhuis commented on #28404
Yes, the commit that Anna linked to is the culprit. Before, it did 3-5 primality checks, depending on the key size; now it always does 64. That's a lot of big integer arithmetic and reading from /dev/urandom.

A new asynchronous API seems like the best way forward.

[2019-06-25 08:35] kevin-renier commented on #28288
Yes, we are.

[2019-06-25 09:53] 1999 commented on #28386
Exactly.

[2019-06-25 12:08] bmacnaughton opened #28420 "memory leak starting with node v11.0.0-nightly20180908922a1b03b6"
* **Version**: node v11.0.0-nightly20180908922a1b03b6 and all subsequent releases
* **Platform**: Linux fd989fc725a7 4.15.0-1031-aws #33-Ubuntu SMP Fri Dec 7 09:32:27 UTC 2018 x86_64 GNU/Linux
* **Subsystem**:

uname reports the host container but the application is running in a docker container, from /etc/os-release:

PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION_ID="

[2019-06-25 12:18] sam-wilson-bentley-com commented on #28409
gireeshpunathil's example captures what my addon code is doing.

[2019-06-25 13:05] sam-wilson-bentley-com commented on #28409
I tried mmarchini's examples of executing scripts on the command line with and without the `--abort-on-uncaught-exception` command-line option, and I see the same result that he reports.

However, the outcome is different when I put the script into a .js file and execute it from there. In this case, the `--abort-on-uncaught-exception` command-line option does not cause node to abort when the error

[2019-06-25 13:50] addaleax commented on #28420
Thanks for the report!

I agree, looking at e917a23d2e...922a1b03b6 that seems like the only reasonable source of issues – and V8 updates are big changes, so this is likely the culprit.

I agree :+1: That valgrind shows nothing of interest makes it less likely that this is a memory leak in C++, so that’s already helpful.

The fact that this is unlikely to be a C++ memory leak makes it more likely

[2019-06-25 13:59] Himself65 commented on #28415
I'm working on this.

[2019-06-25 14:15] addaleax commented on #28386
I would think of the fd-handling functions as low-level primitives that are there for when you really need them, but generally dealing with the corresponding JS objects makes more sense when available (e.g. 99 % of the time using `fs.createReadStream()` makes more sense then manually reading data using `fs.read()`).

In the case of `isatty()`, I think the use cases are very limited. I could see so

[2019-06-25 14:33] devsnek commented on #28386
it's also worth noting that accessing process.std{out, in, err} can change their modes and that node will start processing data (which may or may not be a good thing depending on your use case)

[2019-06-25 15:02] devsnek commented on #28317
@nodejs/async_hooks @nodejs/promise-debugging

[2019-06-25 15:14] emerzon commented on #27054
I have the exact same issue just by enabling lto (--enable-lto). I am not messing around with -fno-strict-aliasing.

[2019-06-25 16:02] addaleax commented on #27054
@emerzon Since you are not changing compiler flags, it’s likely a different underlying problem – can you open a new bug report, fill out the details (esp. system information + maybe compile version), and the steps that you used to reproduce?

[2019-06-25 16:51] mmarchini commented on #28409
For the script to behave the same as in my example, it must be `finally` instead of catch and you must return inside the finally. This is a very tricky case but it demonstrates how crash prediction can have a false-positive.

When I run node --abort-on-uncaught-exception foo.js, the program prints the following:

This confirms that errors thrown from native code will trigger the `abort on uncaught

[2019-06-25 17:12] ofrobots commented on #28205
/cc @ulan

[2019-06-25 17:39] #27856 closed

[2019-06-25 18:20] sam-github commented on #23089
anybody from @nodejs/platform-freebsd tried to repro this as suggested in https://github.com/nodejs/node/issues/23089#issuecomment-487153788 ? sucessfully or not?

[2019-06-25 18:48] bmacnaughton commented on #28420
`v13.0.0-nightly20190625e2d445be8f` still exhibits the problem. I am in the process of adding the additional metrics you suggested (v8 heap statistics and process.memoryUsage beyond RSS) and will run again with that information available.

Here are the graphs using `v13.0.0-nightly20190625e2d445be8f` (the righthand chart is `process.memoryUsage().rss` but that's the only property the current app r

[2019-06-25 19:12] DiegoFelipe opened #28427 "Numeric separators support"
This new feature is already in Chrome 75+

Large numeric literals are difficult for the human eye to parse quickly, especially when there are lots of repeating digits:
[code]

To improve readability, this JavaScript language feature enables underscores as separators in numeric literals. So, the above can now be rewritten to group the digits per thousand, for example:

[code]

Now it’s easier to te

[2019-06-25 19:24] devsnek commented on #28427
You can enable this by passing the `--harmony-numeric-separator` option to node

[2019-06-25 19:28] targos commented on #28427
It will land in the next release 12.5.0, probably this week.

[2019-06-25 19:38] paularmstrong commented on #9668
This is also still a problem in 10.15.3.

Does anyone have any direction for where to look to start fixing the issue?

[2019-06-25 20:59] gem-pete commented on #23089
I have *not* been able to reproduce this yet in my freebsd development environment yet.  Although time permitting I am putting cycles into trying to find a repro case so progress can be made.

[2019-06-25 21:01] nomadlogic commented on #23089
I have *not* been able to reproduce this on my FreeBSD development systems yet.  I am hoping to have more cycles today/tomorrow to find a way to reproduce this.

[2019-06-25 21:36] Trott commented on #23089
This hasn't failed a single time in the last 100 runs on FreeBSD. And I haven't noticed it in a long time. I'd be inclined to remove it from flaky status and close. We can re-open if it  reappears, but I'd rather not use FreeBSD cycles on this if it's not a significant problem when perhaps we could be using those FreeBSD cycles to make our FreeBSD setup in CI completely awesome.

[2019-06-25 21:39] Trott commented on #23089
Proposed removal from status file and closing in https://github.com/nodejs/node/pull/28429

[2019-06-25 22:18] addaleax commented on #9668
@bnoordhuis Since you looked into this … is there an obvious reason why this doesn’t work (it passes the test suite, at the very least)?

[code]

[2019-06-26 00:07] bmacnaughton commented on #28420
graphs for `process.memoryUsage()` and `v8.getHeapStatistic()` - I haven't included `v8.getHeapSpaceStatistics()` due to the array not being compatible with the metrics reporting API I'm using. If that additional information is important I can dump them to a CSV file and graph.

Going back to rerun with forced gc.

![image](https://user-images.githubusercontent.com/4171707/60141421-4c10ae80-976a-1

[2019-06-26 00:26] addaleax commented on #28420
@bmacnaughton It’s not fully obvious from the graphs, but I’d said that this does look like a JS memory leak because the heap size and the RSS curves in the right graph do about the same thing?

[2019-06-26 00:32] bmacnaughton commented on #28420
@addaleax - when you say a JS memory leak you mean v8, right? If yes, it seems that way to me. I'm adding heapdump code to the todo server now; I'll probably dump every 10 minutes or so.

[2019-06-26 01:54] mylastnameisboyko commented on #6037
What "update their ..." exactly is? Be more specific, please

[2019-06-26 02:05] richardlau commented on #6037
The full text is:

https://github.com/nodejs/node/blob/76afdffdf4aed0ce944867d32545505d25b77118/tools/msvs/msi/i18n/en-us.wxl#L39

but it looks like the text is being cut short in the installer dialog box.

[2019-06-26 06:17] bnoordhuis commented on #28243
This feature request has been open for over a week now but no collaborators actually came out and spoke in favor of it. Ergo, thanks for the suggestion but I'm going to close it.

[2019-06-26 06:17] #28243 closed

[2019-06-26 09:25] gengjiawen commented on #27817
I have a idea maybe automatically track this via comment.
When we make a semver-major release, scan all comments to find deprecation method need to be deleted. Maybe via clang ast.

[2019-06-26 10:26] bmacnaughton commented on #28420
OK, here's charts at the end of the previous run. It's looking pretty similar to the previous runs. The gc doesn't prevent the memory loss; it would take more work to determine whether it slows down the rate of loss. I'm going to pass on that now.

The v8.total_available_size is now down to 1.4 GB; it started at 1.5 GB. The heap_size_limit is 1.518 GB (constant)

Charts:
![image](https://user-imag

[2019-06-26 12:48] ehmicky opened #28432 "`MaxListenersExceededWarning` with `Stream.pipeline()`"
* **Version**: `v12.4.0`
* **Platform**: `Linux my-laptop 5.0.0-19-generic #20-Ubuntu SMP Wed Jun 19 17:04:04 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`
* **Subsystem**: `stream`

`index.js`:

[code]

[code]

This happens even when `pipeline()` is called after `readable` has ended and been destroyed. Once a stream has ended, its `pipeline()` callback should be called then its listeners should be cle

[2019-06-26 14:51] NikoDelarich opened #28436 "Illegal "udf" Instruction on armv7"
* **Version**: v12.4.0
* **Platform**: Linux SAMA5D3 4.4.122 #1 PREEMPT Thu Nov 15 10:52:12 CET 2018 armv7l GNU/Linux
* **Subsystem**: ?

Dear maintainers,

After updating nodejs to 12.4.0 running "node" produces the following error:
[code]

The process then crashes with an illegal instruction error:
[code]

Here are my config options:
`configure --prefix=/usr --dest-cpu=arm --with-arm-float-abi=s

[2019-06-26 15:23] bnoordhuis commented on #28436
UDF (UnDeFined) is an instruction that always raises an exception. It probably means your build is hitting some code path it's not supposed to hit. What does `backtrace` print?

[2019-06-26 15:41] NikoDelarich commented on #28436
[code]

[2019-06-26 15:44] vapniks opened #28437 "repl: substring based search history"
Most repl's I've used before allow you to quickly get a previous command back by using the Ctrl+r key to search the command history. It makes life so much easier when you're testing stuff out. Any chance this could be implemented for the nodejs repl?

[2019-06-26 15:58] silverwind commented on #28437
I'd prefer something a bit more smart like https://github.com/zsh-users/zsh-history-substring-search.

Basically, it makes up arrows trigger a substring-based search with what is written on the command line and subsequently lets you use up/down arrows to flip through results. I think it's clearly superior to bash's CTRL-R.

[2019-06-26 17:00] Fishrock123 commented on #25099
Someone else may want to take this up.

[2019-06-26 17:06] sam-github commented on #28436
@nodejs/platform-arm

[2019-06-26 17:08] abbshr opened #28438 "http server respond with inappropriate default headers for `HEAD` method"
* **Version**: >= 10.x
* **Platform**: any
* **Subsystem**: http

To implement a HTTP keep alive mechanism, I use the `http.Agent({ keepAlive: true })` and `http.request({ agent, method, host, port })`.

Everything is ok when the method is `GET` or `TRACE` and others, the agent reuse the TCP connection as I expect.

But when changing the method to `HEAD`, the agent close the connection when server

[2019-06-26 17:10] jasnell commented on #25099
So I spoke a bit with Domenic Denicola about this and the relative URL issue at jsonconfeu. His suggestion was that extension APIs around WHATWG URL parser are perfectly fine.. That is, if we feel we absolutely need relative URL parsing and the equivalent of `url.format`, then we should feel free to add those. In the instance of `url.format()`, we could update the implementation to be consistent w

[2019-06-26 17:49] guilhermereis-luizalabs commented on #25132
'npm install natives@1.1.6' works for me.

Tks @JeffersonRodrigues7

[2019-06-26 18:23] bnoordhuis commented on #28436
Does `node --version` work? That backtrace suggests it's in V8 generated code. `--version` doesn't call into V8.

I suppose the UDF might be the start of a constant pool. If you start disassembling a few bytes before $pc, the UDF should be preceded by a jump. Next question then of course is how control ends up there.

[2019-06-26 19:44] bzoz commented on #28321
@wangwangpswc830 could you provide the output of:
 * `echo %PATH%`
 * `where npm`
 * `npm --verbose`

[2019-06-26 22:46] edgewood1 commented on #26511
I had the same issue - same error when attempting to create a directory/file within .data; however, when I only attempted to create a file in .data, it worked fine.

[2019-06-27 03:43] mayinghan commented on #28420
Hi, may I ask what did you use to generate the memory usage graph?

[2019-06-27 03:56] mayinghan opened #28442 "NewSpace: Rebalance Allocation Failed"
[code]
error msg:
[code]
The input will be a 1028673 Json objects. Each object contains an array called enrollment, and the following code will only take out and deal with that array in each object. (Here, ramda function over() is used to perform this operation). The total length of that field (the enrollment array) is 71,157,478.

The code snippet where breaks the program: Then I performed three

[2019-06-27 06:15] Kedar2391996 commented on #8899
Error: getaddrinfo ENOTFOUND github.com github.com:443
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:56:26)

C:\Users\abc\Desktop\Ecom\lcoproject\node_modules\sharp>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "C:\Program Files\nodejs\node_m

[2019-06-27 07:07] bnoordhuis commented on #28442
`--max-semi-space-size=` is expressed in kilobytes, not megabytes like `--max-old-space-size=`. You're setting it to slightly less than 10 MB, not 10 GB.

A really large semi space often has a detrimental effect on performance, you'd have to experiment with what size is optimal for you. I expect you'll see slowdowns beyond 64 or 128 MB.

No. It's not parallel.

Both. It's a major GC that visits bo

[2019-06-27 08:00] viktor-ku commented on #25099
@jasnell I see two ways

1. Modify `url.format` so that it would take an object similar to what `new URL('https://nodejs.org') produces and also it would return a new `URL` instance. But it will be a breaking change.
2. We can add `format` method to `URL` itself, so it will be accessible like this `URL.format`.

Which one is better approach? I have time this weekend so I can implement it.

[2019-06-27 09:43] NikoDelarich commented on #28436
Yes, `node --version` returns `v12.4.0`.

There's a `beq` right before the `udf`:
[code]

I just built a debug version of node & looked at the object dump:
[code]
So it seems the `udf` is not executed by accident. If i run `node --nohard-abort`, the program crashes with SIGABRT instead of SIGILL (because v8 then calls abort() instead of V8_IMMEDIATE_CRASH()).
I guess the UNREACHABLE() macro is cal

[2019-06-27 10:03] bmacnaughton commented on #28420
The data is coming from the JavaScript calls process.memoryUsage() and v8.getHeapStatistics(). I'm sending those to the appoptics metrics api at api.appoptics.com/v1/measurements. and they're available at my.appoptics.com in dashboards/metrics.

I have almost 20 hours of heapdump snapshots at this time - one every 15 minutes. I haven't looked at them before but am just starting to look now; I'll s

[2019-06-27 10:32] bnoordhuis commented on #28442
Cross-ref: https://github.com/nodejs/help/issues/2005

[2019-06-27 10:35] dtopham75 commented on #24964
I'm having broadly similar issues to @JCMais.

I have a Node add-on that depends on another shared library (my own), let's call it libabc.so, That in turn dynamically loads (i.e. with dlopen) another shared library (also my own), let's call it libxyz.so, and that is dependent on libcurl, and therefore also on libssl and libcrypto.

I don't get a segv, but it does fail somewhere deep within libcurl

[2019-06-27 10:55] Himself65 opened #28444 "N-API unexpceted crash"
Recently, I'm using `n-api` to code C++ Addons.

the unexpected code lines:

[code]
the code will crash with code `139` when i call with no parameter or not number_type

when I comment line `t->val = 1`, the code success.

### the success version
https://github.com/Himself65/issue_example/blob/dfe1711496fe5e8b7d0e1d90489c24f0d080d28f/lib/index.cc
https://761282619.visualstudio.com/rrreol/_build/re

[2019-06-27 11:03] bmacnaughton commented on #28420
comparison a little over 13 hours apart. any thoughts about what specifically to look for would be appreciated.

![image](https://user-images.githubusercontent.com/4171707/60261091-e9b1ce00-988f-11e9-8276-1e46f015cd45.png)

![image](https://user-images.githubusercontent.com/4171707/60261376-90966a00-9890-11e9-81d9-07673453161d.png)

[2019-06-27 11:22] mayinghan commented on #28442
@bnoordhuis thanks, I'll try to upgrade to v12.x first and see what will happen

[2019-06-27 11:38] bmacnaughton commented on #28420
Oh, the charts that can help place the snapshots in time (heap snapshots are UTC while charts are U.S. Pacific).

![image](https://user-images.githubusercontent.com/4171707/60263388-64311c80-9895-11e9-8b2e-f5b4566f6754.png)

[2019-06-27 11:50] hamkoo commented on #25133
Open "node\deps\v8\src\objects\intl-objects.cc" with notepad and save as with Encoding=Unicode

[2019-06-27 11:51] hamkoo commented on #25133
Open "node\deps\v8\src\objects\intl-objects.cc" with notepad and save as with Encoding=Unicode

[2019-06-27 12:17] addaleax commented on #28420
@bmacnaughton You’re on the right track – you typically want to look at the retainers of objects created later in time, because those are more likely part of the memory leak. (The map for `Array` objects, which iiuc is what you are looking at in your screenshot, is something that is expected to live forever – unless maybe you are creating a lot of `vm.Context`s?).

[2019-06-27 12:29] #28287 closed

[2019-06-27 12:48] vmarchaud opened #28445 "Feature Request: Performance hooks entry for http"
**Is your feature request related to a problem? Please describe.**
Retrieve metrics from a HTTP server.

**Describe the solution you'd like**
Pretty much the same as the current implementation between `http2` and `perf_hooks` : https://github.com/nodejs/node/blob/master/test/parallel/test-http2-perf_hooks.js

Since the `http` server is only js-land, i believe we could just implement by hooking to

[2019-06-27 12:51] vmarchaud commented on #28445
@jasnell i believe you worked a lot on the `perf_hooks`, do you have any opinion on this ?

[2019-06-27 13:11] Flarna commented on #28445
Yes, APMs do monkey-patching of http but we have more needs then the data provided by `perf_hooks` therefore this would be no replacement but a good extension/partial replacement.

[2019-06-27 13:19] vmarchaud commented on #28445
@Flarna I totally agree, it's a large task to offer all the functionality of an APM in the core.
I believe starting to add more metrics natively will be useful for both APM vendors that will offload complexity of their agent and common users that will be able to get basic monitoring easily.

[2019-06-27 13:19] bmacnaughton commented on #28420
@addaleax I am not creating any `vm.Context`s (that I am aware of). I am trying to investigate:

![image](https://user-images.githubusercontent.com/4171707/60269300-0b688080-98a3-11e9-92ff-d57879c5572c.png)

and within that, `system@2499219` - that is the array you see (I think). Is there a good doc on understanding what is being shown here? e.g., what `@55515` means after an array entry, etc.?

[2019-06-27 13:31] NikoDelarich commented on #28436
In debug mode, I get these errors before I even reach the UNREACHABLE macro invocation:

First:
[code]
Backtrace:
[code]

And if I skip this check (`return` in gdb):
[code]
Backtrace:
[code]

[2019-06-27 13:32] bmacnaughton commented on #28420
@addaleax - OK, here's a wag based on a guess. I'm guessing the @number is sequencing of some sort so that larger numbers imply later creation. If that's workable then this object is later in time and it's retainer is related to our use of async_hooks. That seems like a likely candidate to be impacted by a v8 change. (Sorry for the miserable formatting - there's too much for a screen shot and the

[2019-06-27 14:24] NikoDelarich commented on #28436
Alright, this is the location where my original UNREACHABLE error is triggered:
[code]

[code]

[2019-06-27 14:37] jasnell commented on #28445
It is certainly possible. One of the challenges with the http implementation currently is that it is fairly brittle performance wise... we would need to be careful about where we introduce data collection and how. The actual emitting of the perf entries is done at the C++ layer because there is integration into the trace events mechanism but that's a fairly minor detail. Bottom line, this is certa

[2019-06-27 14:55] styfle commented on #17058
Enabling V8 snapshots by default landed in #28181 released as [Node 12.5.0](https://github.com/nodejs/node/releases/tag/v12.5.0) 🎉

[2019-06-27 15:11] devsnek commented on #28427
12.5.0 has been released :tada:

[2019-06-27 15:11] #28427 closed

[2019-06-27 15:38] Fishrock123 commented on #25099
`URL.from({})` Sounds reasonable to me.

[2019-06-27 16:37] JCMais commented on #24964
@dtopham75 the solution I found was to build a complete version of libcurl statically, including their dependencies, and make sure to always use the same dependencies version than node.js, in case they converge somewhere (for instance, libcurl can be built not only with openssl, but also zlib, brotli, nghttp2, etc, which Node.js also depends on).

The script that does it is here: https://github.co

[2019-06-27 17:30] bmacnaughton commented on #28420
for anyone following along that has as much to learn here as me: https://developers.google.com/web/tools/chrome-devtools/memory-problems/memory-101

[2019-06-27 18:39] Lonniebiz opened #28455 "Time Zone Bug ('Antarctica/DumontDUrville')"
There is a timezone bug in Node 10.16.0. It is the same bug that I reported to Chromium here:
https://bugs.chromium.org/p/chromium/issues/detail?id=928068

Run the code in comment 1, from there, to reproduce the bug in Node 10.16.0.

I'm not sure if this is a V8 thing or if each environment has to fix the bug. If it is a V8 thing, perhaps this bug will go away by itself eventually. Otherwise, it n

[2019-06-27 20:23] cjihrig commented on #28455
This is a V8 thing that got fixed in Node 12.5.0 via the V8 update.

[2019-06-27 20:42] gustavomassa opened #28457 "--inspect should automatically get a new port if default port 9229 is already in use"
![image](https://user-images.githubusercontent.com/16235598/60298546-1eaa3900-9901-11e9-80fd-b33228116f2b.png)

**Is your feature request related to a problem? Please describe.**
Image a kubernetes cluster using minikube with 50 micro-services on a dev environment, each micro-service is launched using the --inspect param, so we can remotely debug the services, like using vs-code kubernetes extensi

[2019-06-27 20:49] cjihrig commented on #28457
If you pass `0` as the port number, you'll get a random, available port.

[2019-06-27 20:57] gustavomassa commented on #28457
@cjihrig Thank you! I did not know about passing 0, the inspector documentation needs to be updated.

`command: ["node", "--max_old_space_size=512", "--nolazy", "--no-warnings", "--expose-gc", "--inspect=0.0.0.0:0", "dist/src/Main.js"]`
![image](https://user-images.githubusercontent.com/16235598/60300210-dee55080-9904-11e9-9c8b-f89a58200df4.png)

[2019-06-27 21:02] #28457 closed

[2019-06-27 23:15] viktor-ku commented on #25099
@Fishrock123 I will take it. Will see how it goes.

[2019-06-27 23:38] Trott commented on #24120
https://ci.nodejs.org/job/node-test-commit-linux-containered/13604/nodes=ubuntu1604_sharedlibs_zlib_x64/console

test-digitalocean-ubuntu1604_sharedlibs_container-x64-1

[code]

[2019-06-28 00:25] shary-sharath commented on #22630
and in my case, I have forgotten to pass parameter as string to require method.
error code:
**var express = require(express);**
correct code:
**var express = require('express');**

[2019-06-28 05:20] Shailesh172 opened #28463 "Nightmare JS is not working on Ubuntu 16.04.5 LTS (GNU/Linux 4.4.0-145-generic x86_64) Server, same script is working in my local system Window 10 Ask Question"
When i try to run node js script it will return below error, please help me. Thank you all.

I have used this : https://github.com/segmentio/nightmare

`root@ns:/load-market-data# DEBUG=* node index.js
  nightmare queuing process start +0ms
Bot starting...
  nightmare queueing action "cookies" +279ms
  nightmare queueing action "viewport" +1ms
  nightmare queueing action "useragent" +0ms
  nightma

[2019-06-28 07:07] NikoDelarich commented on #28436
FYI: Node v8.12.0 & v10.15.3 seem to work without any problems.

[2019-06-28 07:51] bnoordhuis commented on #28436
v12.5.0 was released yesterday, can you try that? It contains a couple of fixes to the ARM code.

Also, this only happens when you build from source? Do the release binaries from https://nodejs.org/dist/latest-v12.x/ work?

[2019-06-28 07:52] bnoordhuis commented on #28463
Please post it to nodejs/help or the issue tracker of the project you mention. This tracker is only for bugs in Node.js itself.

[2019-06-28 07:52] #28463 closed

[2019-06-28 08:09] bnoordhuis commented on #28455
Antarctica/DumontDurville was fixed in commit v8/v8@2cf79d12e8 and could be back-ported to the v10.x branch.

Asia/Qostanay requires an ICU update because that's where we get the tzdata from.

[2019-06-28 08:13] NikoDelarich commented on #28436
Sure - I've already started compiling v12.5.0. (I'm using buildroot btw. - in case it makes any difference)
I don't think I can use the release binaries as they seem to be for hard-float systems only and I'm stuck with softfp...

[2019-06-28 08:27] drash-course commented on #28288
@sam-github Any news? I can help debug this if you have some pointers.

[2019-06-28 10:12] vmarchaud commented on #28445
Agreed that we need to take a look at the benchmark before/after.

I suppose you were referring to the http2 implementation but i didn't find any place on the code where the pref entries are linked to the trace events mechanism (i found your old PR that was never merged there though: https://github.com/nodejs/node/pull/18809). I would be interested to understand the connection between both

Based

[2019-06-28 12:11] bmacnaughton commented on #28420
@addaleax - one video I watched said that I have no control over the parenthesized items in the memory display. If that's correct then the (system) category is in the control of (I suspect) v8 only.

[2019-06-28 12:33] addaleax commented on #28420
@bmacnaughton So … that’s partially true – these objects are still kept alive by other objects, and if those other objects are controlled by your code, then you do have some control over that.

Also, the fact that these objects are being controlled by V8 would align with this pointing to a bug in V8… which is a good reason to figure out where the leak comes from ;)

[2019-06-28 12:34] bmacnaughton commented on #28420
This is last commit to `src/async_wrap.cc` prior to the nightly build where the memory leak started (2018-09-08). I'm not sure how to tell what went into a given nightly, but there's definitely some activity in the async_wrap area here.

[code]

At this point tbh, I'm not sure I would recognize a smoking gun if I saw one. I do see that a number of the array elements are my code's async_wrap/cls-ho

[2019-06-28 12:35] NikoDelarich commented on #28436
I can't get v12.5.0 to build. It fails while trying to build a snapshot, even though I explicitly specified "--without-snapshot" & "--without-node-snapshot"...?

Snapshot/Assembler errors:
[code]

`./configure --prefix=/usr --dest-cpu=arm --with-arm-float-abi=softfp --with-arm-fpu=vfpv4-d16 --without-snapshot --without-node-snapshot --shared-zlib --shared-nghttp2 --without-dtrace --without-etw --d

[2019-06-28 13:09] bmacnaughton commented on #28420
@addaleax  - I'm sorry that I can't make faster progress on this. I am a bit like a dog watching TV. The things I'm looking at sound like things I've heard but the form is abstracted in a way that makes it hard for me to grasp.

[2019-06-28 13:49] targos commented on #28436
@NikoDelarich I just opened https://github.com/nodejs/node/pull/28467 which should fix this issue with V8 snapshot. Can you try to apply it on top of v12.5.0?

[2019-06-28 14:02] Himself65 commented on #28415
I think I've done this, see #28426

[2019-06-28 14:35] addaleax commented on #28420
@bmacnaughton Would you be able to share a reproduction, or maybe even “just” a heap dump for inspection?

da8641f3b46f41be11ba932f4228a36bfee9fd1c seems like an unlikely candidate for causing a memory leak, and also isn’t part of the commit range that we would primarily look into (according to the different nightlies).

It might still be good to know which objects in your application keep the new

[2019-06-28 14:37] addaleax commented on #28420
And in the worst case, there’s always the brute-force option of bisecting against the V8 commit range corresponding to the update; it’s going to require building Node.js 11 times from scratch and seeing whether the leak also occurs there, but it would likely lead to the commit that caused this change.

[2019-06-28 15:23] mikemaccana opened #28468 "Better communication / errors around node 12 breaking HTTP parser changes"
# Previously, on Love Island

If a web server sends both a `Content-Length` header and a `Transfer-Encoding: chunked` header, it is a violation of the HTTP spec.

node 10's older HTTP parser didn't error on this (though it should have)

node 12's [newer HTTP parser does error on this](https://github.com/nodejs/node/commit/375f35514c51fa603dae9fac86bb61c0503cb678) (which is good)

# The issue

As a

[2019-06-28 15:28] sam-github commented on #28288
No response from OpenSSL, you could join the mailing list and bump the thread.

I haven't had time to look more. I don't have any ideas, really. If you could figure out a way to get the s_server openssl sample to set the ephemeral ecdh curve, maybe you could repro with pure openssl, then they would pay more attention. I list the API we call to set the curve in the email linked above, worst case, y

[2019-06-28 15:31] devsnek commented on #28468
@nodejs/http @indutny

[2019-06-28 15:39] NikoDelarich commented on #28436
@targos Thanks a lot - that fixed my build!
It seems to work now: I can launch node & get a prompt :-) I will do further tests tomorrow.

[2019-06-28 16:06] bmacnaughton commented on #28420
I'm happy to share all the heap dumps you would be willing to look at. This is from an internal benchmark and has no customer data in it. I would prefer to send a dump, or put it somewhere for you specifically. I've sent a google docs share to you. Please advise if you have any issues (I used an organization account - not sure how that handles shares).

I've done the node bisecting twice now (once

[2019-06-28 18:47] illvart commented on #3675
Hi, maybe this can help you.

[code]
You can change the function name ```exec```, maybe ```run``` ?

[2019-06-28 19:03] Flarna commented on #28112
Is this still valid? PR is open since quite a while now...

[2019-06-28 22:30] awwright commented on #28468
Was there ever a test for this? (I assume not.) I don't think that points 1-3 would have occurred to anyone if there was no test for this in the first place. There's probably other changes like this that we're completely unaware of.

Now, I don't think it makes sense to add tests ensuring that forbidden behavior is supported; though there should have been a test for the required, correct behavior

[2019-06-29 05:59] the-blackpirate opened #28475 "EACCES: permission denied Node v12.4.0 while installing ElectronJs"
Raghus-MacBook-Pro% **sudo** npm i -D electron@latest

Downloading tmp-1488-1-SHASUMS256.txt-5.0.6
[============================================>] 100.0% of 4.74 kB (4.74 kB/s)
/Users/raghusharma/node_modules/electron/install.js:49
  throw err
  ^

[Error: EACCES: permission denied, mkdir '/Users/raghusharma/node_modules/electron/dist'] {
  errno: -13,
  code: 'EACCES',
  syscall: 'mkdir',
  path:

[2019-06-29 08:55] nusantara-cloud commented on #6160
This is how I WAR-ed my problem. When deleting just skip over file with .node extension.
`
if (cachedPath.startsWith(hostFilePath) && !cachedPath.endsWith('.node')) {
          let skip = false
          delete require.cache[cachedPath]
        }
`

[2019-06-29 08:57] targos commented on #26878
`--cpu-prof` was implemented. Can we close?

[2019-06-29 09:37] salisbury-espinosa opened #28476 "crash: pure virtual method called"
* **v12.5.0**:
* **Ubuntu**:
crash with error:
[code]

[2019-06-29 12:21] mscdex commented on #28475
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2019-06-29 12:21] #28475 closed

[2019-06-29 12:40] bmacnaughton commented on #28420
Yes, they are all maps.

One thing that makes no sense to me is this:

![image](https://user-images.githubusercontent.com/4171707/60384223-13a1f680-9a30-11e9-8ac5-c74ae5970da2.png)

There are 784 elements in `1 :: system @2499219` each of which is no larger than 80 bytes. How can the shallow size be `110 761 200`?

The majority of the 784 elements appear to be `cls-hooked` context which is created

[2019-06-29 13:25] profnandaa commented on #28321
Running on W10, can't repo this.

[code]

[2019-06-29 15:03] #27746 closed

[2019-06-29 15:21] jimmiehansson commented on #28438
Hey @abbshr
In contrary to GET this is the intended behavior for the HEAD requests as its simply a meta request of GET, excluding the body contents that you would typically have in GET, this seems like an expected behavior from the http server as there is no buffer or chunk to expect.
RFC-accordingly, depending on the request payload this may also lead to early termination.
Did i understand your p

[2019-06-30 04:41] mscdex opened #28478 "Breaking change since v10.12.0 with zlib"
* **Version**: v10.12.0
* **Platform**: n/a
* **Subsystem**: zlib

In particular the breaking change occurred with https://github.com/nodejs/node/pull/23186.

Before this change, code like:

[code]

would result in `compress.read()` returning _only_ the compressed portion of `data` written before each `flush()`.

After the change, node now seems to buffer the compressed contents of all of the `wri

[2019-06-30 08:25] bnoordhuis commented on #28476
How can we reproduce?

[2019-06-30 14:34] devsnek opened #28479 "CHECK failure in ResetStdio on >=12.5.0"
Check failure is this: `../src/node.cc:649:void node::ResetStdio(): Assertion `(err) != (-1)' failed.`

https://github.com/nodejs/node/blob/dec5b2258a853b524e125542667b5b2dfc5afb74/src/node.cc#L646-L649

Reproduction:

1. Make sure you are on >=12.5.0
2. clone https://github.com/engine262/engine262
3. `npm run build && npm run test`
4. Tests start running, hit ctrl+c to kill it
5. Check failure ha

[2019-06-30 16:29] CarterLi commented on #28479
Same issue here

[code]

[2019-06-30 16:46] ethankaminski opened #28484 "Inconsistency between `fs.writeFile` and `fs.readFile` when called from a module, using local paths"
* **Version**: tested on v10.15.3, read source of 01b404f.
* **Platform**: Linux (Ubuntu 16.04)
* **Subsystem**: `fs`

The functions `fs.readFile` and `fs.writeFile` use different path-resolution when passed a local path (e.g., `"data/some_file.dat"`), inside of a `require`d module.

Looking at the source, it appears that `writeFile` calls `fs.open(path, ...)`, whereas `readFile` calls `binding.op

[2019-06-30 16:54] #28484 closed

[2019-06-30 16:55] ethankaminski commented on #28484
My bad, user error. I'm coding while tired, and have been mostly using promise-based functions lately, so I forgot about the `err` argument.

[2019-06-30 17:12] rbatsenko commented on #28479
Same here :/
[code]

[2019-06-30 17:36] guybedford commented on #28160
This has been fixed in https://github.com/nodejs/node/pull/28389.

[2019-06-30 17:36] #28160 closed

[2019-06-30 17:37] #24894 closed

[2019-06-30 19:08] lpinca commented on #28214
I guess it wasn't documented because the behavior is the same of `net.Server.prototype.close()`. The callback is not called until there is an open connection.

[2019-06-30 19:14] devsnek commented on #28479
cc @bnoordhuis it looks like this is from 5872705796d

[2019-06-30 21:11] kahan002 commented on #28479
Same issue with protractor testing (npm run e2e).
$ /usr/local/bin/node[1358]: ../src/node.cc:649:void node::ResetStdio(): Assertion `(err) != (-1)' failed.
 1: 0x10007643b node::Abort() [/usr/local/bin/node]
 2: 0x1000761e3 node::AppendExceptionLine(node::Environment*, v8::Local<v8::Value>, v8::Local<v8::Message>, node::ErrorHandlingMode) [/usr/local/bin/node]
 3: 0x1000541a9 node::ResetStdio() [

[2019-06-30 22:18] addaleax commented on #28468
I think this is a combination of several different issues.

One: the linked commit that introduced throwing an exception when encountering the combination of `Content-Length` and `Transfer-Encoding` was landed much earlier than Node 10.x, and as part of a security release. The latter means that, for better or for worse, there is typically no or little public discussion about how Node.js specifical

[2019-06-30 22:30] indutny commented on #28468
I've made an attempt to improve errors: https://gist.github.com/indutny/15352991e85a51786436646a31c790db, but this is a major change.

[2019-06-30 22:37] addaleax commented on #28468
@indutny Fwiw, I’ve been working on the PR since I announced it in my comment, so I’ll go ahead and open that anyway: https://github.com/nodejs/node/pull/28487

Also, I don’t see why that would *necessarily* be semver-major, as these errors all have `.code` properties…

[2019-06-30 22:42] indutny commented on #28468
It looks way better than mine, so I'm glad to see you doing it! :wink:

[2019-06-30 23:24] nickdesaulniers commented on #25060
node-nanomsg broken in v12: https://github.com/nickdesaulniers/node-nanomsg/issues/206

[2019-07-01 00:05] addaleax commented on #28479
@devsnek Are you on macOS? This doesn’t seem to happen with Linux, which makes it hard to debug for me. In any case, it might be good to know what `errno` is in that case.

Also, side note, another, different issue with the same commit was reported: https://github.com/nodejs/node/pull/24260#issuecomment-506922414

[2019-07-01 00:15] addaleax commented on #28478
I’m not sure that this qualifies as a bug, but if you are sure that this is something that we should address, the easiest way would probably be to not use a global 0-sized Buffer to convey flushing information, but rather create one zero-sized Buffer per `.flush()` call and attach the desired flush flag to it as a property.

[2019-07-01 00:34] devsnek commented on #28479
@addaleax i'm on arch linux. i'll compile it to print errno and report back

[2019-07-01 00:54] devsnek commented on #28479
@addaleax

i found out, just doing `npm run test` is not enough, you have to spawn node with child_process and then ctrl+c it (i have a script runner i use that abstracts away npm, cargo, make, etc, which is why it reproduced for me originally)

[code]

output is:
[code]

[2019-07-01 06:18] bnoordhuis opened #28489 "test: test.py leaks pseudo-tty master fd to child"
Lest I forget: the master fd created here:

https://github.com/nodejs/node/blob/20d099af7a1fc103ecfb9a4afe59fd2fdcbe7802/tools/test.py#L723

Is leaked to the spawned child here:

https://github.com/nodejs/node/blob/20d099af7a1fc103ecfb9a4afe59fd2fdcbe7802/tools/test.py#L761-L772

Fix: the `preexec_fn` should `os.close(pty_out)`.

[2019-07-01 06:27] bnoordhuis commented on #28479
Errno 5 is EIO. Basically the kernel is saying something went wrong without going into specifics, but I guess it's because the tty went away somehow. I'll open a PR to accept that error.

[2019-07-01 06:39] bnoordhuis commented on #28479
#28490

[2019-07-01 10:19] NikoDelarich commented on #28436
Everything seems to work - thank you!

[2019-07-01 10:19] #28436 closed

[2019-07-01 11:57] filips123 commented on #13209
Is there any specific reason why is `await` under an experimental flag? Why is it not enabled by default?

[2019-07-01 12:51] ybiquitous commented on #25060
Hi, [`graceful-fs`](https://github.com/isaacs/node-graceful-fs) seems to support Node 12 now. See Travis build below:

https://travis-ci.org/isaacs/node-graceful-fs/jobs/550978466

[2019-07-01 13:11] ulitink opened #28493 "Restart frame is broken"
* **Version**: 11.15.0, 12.5.0
* **Platform**: Linux, macOS, didn't check on Windows
* **Subsystem**: Inspector

**Restart frame** action doesn't work since node 11:
![RestartFrame](https://user-images.githubusercontent.com/1112897/60439047-b28a4680-9c1a-11e9-87b4-6f2f27b30777.png)

[2019-07-01 13:11] mikemaccana commented on #28468
@all: Thanks. 🙂

[2019-07-01 13:13] to-svarghese opened #28494 "pm ERR! Unexpected end of JSON input while parsing near '...Bk=""
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\SVarghese\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install' ]
2 info using npm@6.9.2
3 info using node@v10.16.0
4 verbose npm-session d6fd2420d5e4a709
5 silly install runPreinstallTopLevelLifecycles
6 silly preinstall de.dirs21.live@1.0.0
7 inf

[2019-07-01 13:23] addaleax commented on #28493
I might be doing something wrong, but I can’t reproduce this on v12.5.0.

/cc @nodejs/inspector

[2019-07-01 14:11] ak239 commented on #28493
Restart frame might fail for different reasons: [source](https://cs.chromium.org/chromium/src/v8/src/debug/liveedit.cc?sq=package:chromium&g=0&l=1271).
@ulitink could you share content of each function on the stack (listO... and proc...)?

[2019-07-01 14:17] julien-f opened #28496 "[TLS/HTTPs] Accept a specific invalid certicate"
**Is your feature request related to a problem? Please describe.**

My application connects to HTTPs servers which may have invalid certificates (self-signed, expired, invalid domains, etc.) and I want to handle this the best way possible.

Initially I thought of falling back to HTTP when the certificate was invalid but it would allow anyone to spy on the request (e.g. in broadcast networks like W

[2019-07-01 14:19] devsnek commented on #13209
@filips123 when await is enabled we run input through a separate parser which doesn't necessarily match the way node normally parses code, so there could be incompatibilities. In the long run, a combination of top-level-await and a standardized repl parse goal should fix this.

https://github.com/tc39/proposal-top-level-await
https://github.com/bmeck/js-repl-goal

[2019-07-01 15:03] bmacnaughton commented on #28420
I'm not sure how to make sense of this either.

![image](https://user-images.githubusercontent.com/4171707/60446340-06bf0780-9bd6-11e9-877c-22bbb92d7bb1.png)

@addaleax - If you are able to take a look at the snapshots and they are clear to you I would very much like to understand the process you went through to find the error (I wish I could just watch the process). If they don't help then I will

[2019-07-01 15:18] mscdex commented on #28496
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2019-07-01 15:18] #28496 closed

[2019-07-01 15:22] julien-f commented on #28496
I will create the issue over there but IMHO it qualifies as a feature request.

[2019-07-01 15:34] ulitink commented on #28493
@ak239 These are just built-in node functions from internal/timers.js
<details>
<summary>timers.js</summary>

[code]

</details>

<details>
<summary>Same with strict call without `setInterval`</summary>

![image](https://user-images.githubusercontent.com/1112897/60445016-0e5acc80-9c27-11e9-8270-aeb9d51d1d1f.png)

</details>

We've checked it on 4 different PCs, the same exception happens
`Request

[2019-07-01 15:51] ak239 commented on #28493
It looks like it is regression between 10 and 11 and most likely I broke it when I was refactoring live edit code in V8.

[2019-07-01 16:28] #28216 closed

[2019-07-01 17:01] ak239 commented on #28493
I introduced a bug that is even worse than plus minus one kind of bug. V8 fix is coming:
https://chromium-review.googlesource.com/c/v8/v8/+/1683101/

[2019-07-01 22:32] ak239 commented on #28493
It is fixed in upstream V8, I will wait for couple weeks until attempt to backport.

[2019-07-01 23:10] TrevorSundberg opened #28502 "SIGTERM handler does not run if there are no tasks running and exit code is always 0"
* **Version**: v11.15.0
* **Platform**: Linux tsundberg-dev 4.18.0-20-generic #21~18.04.1-Ubuntu SMP Wed May 8 08:43:37 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: process

---
To run the following tests paste them into `index.js` and run `node index.js; echo $?`

---
#### Case 1
The following results in an expected output:
[code]
Output:
[code]
---
#### Case 2
Adding a SIGTERM result

[2019-07-01 23:39] mscdex commented on #28502
Signals are processed asynchronously, so if there is nothing keeping the event loop alive (to be able to process any signals), then the process exits naturally.

[2019-07-01 23:41] addaleax commented on #28502
I feel like an activated libuv signal handler should keep the process alive until its callback has been called.

[2019-07-01 23:48] TrevorSundberg commented on #28502
@mscdex I would then expect case 1 to "exit naturally" with exit code 0.

[2019-07-02 00:03] tcrowe opened #28503 "Proposal: Save nodejs from conformity to Communist ideology"
Hello nodejs community. I have a solemn and sincere request I would like to register with you. I'm not a contributor to node but a user. I just love JS and node!

**Is your feature request related to a problem? Please describe.**

 Nodejs has a Commie problem. 😞

Communism is an ideology which has resulted in the deaths of over a hundred million human beings in the 20th century alone. Communists,

[2019-07-02 00:09] #28503 closed

[2019-07-02 00:32] mscdex commented on #28502
From the `process` documentation:

<blockquote>
'SIGTERM' and 'SIGINT' have default handlers on non-Windows platforms that reset the terminal mode before exiting with code 128 + signal number.
</blockquote>

These default handlers are not something that node sets up, so it makes sense that it exits the way it does.

Following the `process` documentation text quoted above:

<blockquote>
If one of t

[2019-07-02 00:34] addaleax commented on #28502
@mscdex I think the issue is not a lack of understanding of *why* this happens, but rather a statement that a triggered event handler *should* keep the loop alive. I think this is a real bug.

[2019-07-02 00:50] #28479 closed

[2019-07-02 00:52] devsnek commented on #28479
The fix will be available in the next node release

[2019-07-02 04:56] #24120 closed

[2019-07-02 06:50] jianfenkezhan commented on #27825
Yes, same error with nodejs v10, and how to fix it.

[2019-07-02 08:53] bnoordhuis commented on #28502
@addaleax It's not a libuv issue. Its signal handler records the event but Node.js closes the `uv_signal_t` handle before libuv gets a chance to deliver it. My debugger tells me that's coming from `node::Environment::RunCleanup()`.

One way around that is to ref at least one signal wrap (they're unref'd when created, see below) and call `uv_run(loop, UV_RUN_NOWAIT)` at pre-exit.

https://github.co

[2019-07-02 11:58] bmacnaughton commented on #28420
@addaleax - many of the objects being retained in `system / Map` elements are created by `cls-hooked`, a wrapper around `async_hooks`. But looking at retainers `serializer` (and `serializeInto`, which I don't see in the node source) are holding on to it; `serializer` is part of v8 so maybe it's related to the issue in some way?

![image](https://user-images.githubusercontent.com/4171707/60511047-e

[2019-07-02 13:45] bmacnaughton commented on #28420
@addaleax - clarifying: your suggestion of building each specific v8 commit is to use each of the commits in https://github.com/nodejs/node/compare/e917a23d2e8269eec48e95bcebcb9f7c6c5e4e3d...922a1b03b638e19d8d29efdaab93d5c9455c02ce to build node and then test that particular binary in our test harness, right?

[2019-07-02 14:22] addaleax commented on #28420
Hi again @bmacnaughton!

Yes. This doesn’t make sense to me either, and, sadly, points to some relevant information simply not ending up in the heap snapshot. I feel like at this point it would make sense for somebody from @nodejs/v8 to take a closer look.

It’s in the V8 source code, for the versions of V8 that come into question here.

It’s unfortunately not that easy, because we bump V8 version

[2019-07-02 15:23] targos commented on #28420
There is a way to narrow the range of commits before bisecting V8: go to https://nodejs.org/download/v8-canary/ and try with canary versions. you can look at [this table](https://nodejs.org/download/v8-canary/index.tab) to know which V8 version is in which canary version.

[2019-07-02 15:34] bmacnaughton commented on #28420
@targos  - thanks. I'll definitely use that if bisecting is required.

[2019-07-02 15:34] sam-github commented on #27825
Is your "local CA" implemented with the openssl CLI? I suggest bringing this to the openssl users mailing list.

[2019-07-02 15:35] bmacnaughton commented on #28420
@addaleax - thanks for your help. were you able to access the dumps i put into google docs? (shared with your commit email).

[2019-07-02 15:51] Fishrock123 commented on #28386
Related to this, we may want to properly publicly (think, docs) expose `process.stdout.fd`?

[2019-07-02 15:55] daprahamian opened #28512 "change in behavior of `fs.watch` between node 10.15.3 and 10.16"
* **Version**: v10.16.0
* **Platform**: Darwin Dans-MacBook-Pro-4.local 16.7.0 Darwin Kernel Version 16.7.0: Wed Feb 27 00:29:57 PST 2019; root:xnu-3789.73.43~1/RELEASE_X86_64 x86_64
* **Subsystem**: fs

Code to reproduce:
[code]

Output in node v10.15.3:
[code]

Output in node v10.16.0:
[code]

Is this an intentional change, or a regression?

[2019-07-02 16:14] bmacnaughton commented on #28420
@nodejs/v8 - i have heap snapshots every 15 minutes for the following run. Let me know if you would like me to post them somewhere.

![image](https://user-images.githubusercontent.com/4171707/60528654-bfa24680-9ca9-11e9-872a-c80ac0f3515d.png)

[2019-07-02 17:38] bnoordhuis commented on #28512
Thanks for the report. It's a partial duplicate of #27869. To summarize: a recent libuv upgrade (to v1.25.0, to be exact) changes the file monitoring system from kqueue to fsevents.

The reason kqueue works for you is because it's slower than fsevents. Your example has a race condition where the write races with the notification.

I'll close out the issue because it's not a Node.js bug. If you hav

[2019-07-02 17:38] #28512 closed

[2019-07-02 18:14] bnoordhuis opened #28513 "fs: add WriteStream.prototype.fsync"
Right now it's pretty complicated to intermix `fs.fsync()` calls with `ws.write()` calls, to the point that you lose most of the benefits of using `fs.WriteStream`. Example:
[code]
It would be exceedingly helpful if `fs.WriteStream` grew a `.fsync()` method that preserves order with respect to writes so that the following example works like I would expect it to:
[code]

<hr>

It's not quite imposs

[2019-07-02 18:26] JEVBR commented on #27609
On Ubuntu 19.04,

my process.env =
  VTE_VERSION: '5602',
  TERM: 'xterm-256color',
  COLORTERM: 'truecolor',

![Screenshot from 2019-07-02 15-19-02](https://user-images.githubusercontent.com/44150849/60536717-4de3f000-9cdd-11e9-8687-781d89f41aed.png)

[2019-07-02 19:44] bhamon opened #28514 "http2 session close weird behavior"
* **Version**: v12.4.0
* **Platform**: Linux
* **Subsystem**: Ubuntu 18.04.2 LTS

Minumal reproduction code:
[code]

After executing this snippet, the node process exit itself before the end of the program.
The process return code is `0`.

The `CALLBACK NEVER CALLED` and `PROMISE NEVER ENDED` debug messages don't show in the console.

Here is a full debug run log:
[code]

[2019-07-02 21:06] cjihrig commented on #28514
I think you need to consume the stream data (via a `'data'` event handler) or explicitly close the stream (using `stream.close()`). Once all of the streams have closed on their own, the session's `'close'` event will be emitted.

[2019-07-02 21:11] bhamon commented on #28514
For that part I agree with you. But it doesn't explain the sudden process exit.
If the close event is not fired, the promise shouldn't return and the process should hang.

[2019-07-02 21:15] cjihrig commented on #28514
Promises don't keep the event loop alive.

[2019-07-02 21:41] sam-github opened #28517 "Investigate flaky tests on AIX"
Investigate tests skipped by:
- https://github.com/nodejs/node/pull/28469
- https://github.com/nodejs/node/pull/28516

The first batch might no longer be flaky after https://github.com/nodejs/build/issues/1820 is fixed. Its unclear where the second batch is related or not.

* **Version**:
* **Platform**:
* **Subsystem**:

[2019-07-02 22:02] bhamon commented on #28514
I totally forgot about this point. It makes sense now why the latest messages got swallowed by the ending process.

If we continue with this example, assuming I want to do a post-action **after** session close, what would you recommend? A sync `session.close()` directly followed by the post-action call without actually listening for the `close` event?

[2019-07-02 22:08] cjihrig commented on #28514
I think that completely depends on what you're planning to do. If you don't need the semantics that the `'close'` event imply, then you don't need to wait for it.

Side note: I'm going to move this to the nodejs/help repo, which is where general support questions are handled.

[2019-07-03 00:33] ak239 opened #28518 "workers: --require module injects module to worker thread"
* **Version**: v12.5.0
* **Platform**: Mac
* **Subsystem**: worker_threads

Steps to reproduce:
1. Create two scripts, a.js:
[code]
and b.js:
[code]

2. Run `node --require b.js a.js`
3. Take a look on output:
[code]

I am wondering is it feature or bug that we inject `--require` module to workers. If it is feature, should we mention it in workers doc and in `--require` flag description?

In my us

[2019-07-03 00:33] ak239 commented on #28518
cc @addaleax

[2019-07-03 01:03] kharandziuk commented on #26311
@yosuke-furukawa
I believe you can solve your issue with the PassThrough stream. Look for the code below:
[code]

@mcollina what do you think? does it make any sense to add this trick(with PassThrough) into the documentation?

[2019-07-03 01:08] devsnek commented on #28518
i wouldn't expect this to happen, but it's not exactly a leap to want this behaviour either...

maybe we can add a flag to workers to disallow loading these (default enabled)

[2019-07-03 07:13] Himself65 commented on #28513
it's not `ws.once('open', async (fd) => go(fd));` ?

[2019-07-03 08:25] anliting commented on #28214
Oh, I see, it is documented. The callback is called when the server is closed, and the server waits, until there is no active connection, to close.

But I think the point is not whether it is documented or not:

An asynchronous operation usually call its callback function right after the operation is done.

As `net.Server.prototype.close` is documented, the operation is defined as "Stops the serve

[2019-07-03 08:42] bzoz commented on #28321
I'm going to close this because of lack of activity. Feel free to reopen the issue if you have more details.

[2019-07-03 08:42] #28321 closed

[2019-07-03 10:12] mcollina commented on #26311
I don't understand how the above trick helps.

[2019-07-03 13:02] rynz commented on #21825
Similar problem here on Windows using `electron` to execute an installer with elevated privileges using `{ detached: true, shell: true, windowsHide: true }`

[2019-07-03 14:42] cjihrig commented on #28518
Just noting that both `child_process.fork()` and the `cluster` module behave this way as well.

[2019-07-03 14:44] kharandziuk commented on #26311
a changed code sample from @yosuke-furukawa
[code]

and we run the server and call:
[code]
the server output:
[code]

so, I achieve the expected behavior in a simple way without changing the interface. Do you see my point now?

[2019-07-03 14:57] ak239 commented on #27677
Fixed.

[2019-07-03 14:57] #27677 closed

[2019-07-03 15:14] bnoordhuis commented on #28142
Closing, no follow-up.

[2019-07-03 15:14] #28142 closed

[2019-07-03 15:16] bnoordhuis commented on #28087
Closing now that #28101 has been merged.

[2019-07-03 15:16] #28087 closed

[2019-07-03 15:17] bnoordhuis commented on #27947
Closing, no follow-up.

[2019-07-03 15:17] #27947 closed

[2019-07-03 15:21] bnoordhuis commented on #27695
Closing, should be fixed by #25176

[2019-07-03 15:21] #27695 closed

[2019-07-03 15:39] bnoordhuis commented on #27924
I'll close this for now.

[2019-07-03 15:39] #27924 closed

[2019-07-03 15:41] bnoordhuis commented on #28195
I'm going to close this out as "not implementable."

[2019-07-03 15:41] #28195 closed

[2019-07-03 16:02] bnoordhuis opened #28523 "doc: crypto.createDiffieHellmanGroup() not documented"
See title. Class `DiffieHellmanGroup` isn't documented either.

Usage:
[code]
It takes a well-known modp group as its argument but otherwise works the same as `DiffieHellman`.

`name` is taken from [RFC 2412](https://tools.ietf.org/html/rfc2412) (modp1 and 2) and [RFC 3526](https://tools.ietf.org/html/rfc3526):
[code]

[2019-07-03 16:05] bnoordhuis commented on #28167
@sam-github Did you open that PR and if so, can you link to it?

[2019-07-03 16:11] bnoordhuis commented on #27862
#27962 landed so I think this can be closed out now? Please reopen if I'm mistaken.

[2019-07-03 16:14] bnoordhuis commented on #27592
Closing, this was fixed in #28519 27791.

[2019-07-03 16:14] #27592 closed

[2019-07-03 16:31] mikemaccana commented on #27934
Done. I added a 256 x 256 just in case.
![image](https://user-images.githubusercontent.com/172594/60608853-50ffde80-9db8-11e9-916c-d9a48a78f985.png)

[2019-07-03 16:41] Fishrock123 commented on #28518
Is this _really_ not expected?

[2019-07-03 16:43] Fishrock123 commented on #28518
The documentation is, unfortunately, not very clear about side-effects: https://nodejs.org/dist/latest-v12.x/docs/api/cli.html#cli_r_require_module

[2019-07-03 19:22] addaleax commented on #28518
From the [`Worker` constructor options](https://nodejs.org/api/worker_threads.html#worker_threads_new_worker_filename_options) documentation:

So, yes, inheriting CLI flags is intentional, and there is a way to override this, and I would say that this seems like a documentation visibility issue than a bug?

[2019-07-03 19:28] A-lxe commented on #27862
#27962 unfortunately does not solve this issue because it only brings the test certs under a makefile -- it doesn't change their generation parameters to be secure enough. Changing those generation parameters should be simpler now with #27962, and I'm still interested in working on that, but I don't have a prediction for when I can.

[2019-07-03 19:53] bnoordhuis opened #28527 "crypto: DH prime for bits <= 15 is always 35963"
With today's master:
[code]
I'd expect the test case to fail (it should find different primes) but it returns the same prime for sizes 3 to 15. It's only at `bits >= 16` that it starts to find different primes.

I'm not sure if this is a Node.js or an openssl bug. `log2(35963) > 15` though so it definitely seems wrong to return that prime (and only that prime) for `bits <= 15`.

[2019-07-03 20:11] bnoordhuis commented on #27862
No problem, I'll reopen.

[2019-07-03 21:03] sam-github commented on #28167
@bnoordhuis nope, still on my todo list

[2019-07-03 21:26] mikemaccana commented on #27934
Updated the Windows icon for the fixed hexagon svg per https://github.com/nodejs/nodejs.org/pull/2316

# Process (just in case this needs to be repeated)

 - change SVG canvas to 150 'pixels' square (this adds a small amount of space at the top and bottom, and squares off the image).
 - Export to SVG at 256 pixels square
 - Use iconvert.com, export 16, 32, 48, 64 , 128 and 256 versions
 - Copy to

[2019-07-03 22:25] ak239 opened #28528 "inspector: Debugger.setAsyncCallStackDepth after waitingForDisconnect event crashes worker"
* **Version**: v12.5.0
* **Platform**: Mac
* **Subsystem**: inspector

Create a snippet with following content to reproduce the crash:
[code]

node crashes with following stack trace on node::inspector::Agent::ToggleAsyncHook call:

[code]

I think that root of the issue is invalid state of node isolate when it is waiting for disconnect.

cc @eugeneo

[2019-07-03 23:25] ak239 commented on #28518
Should we split process-only options (e.g., `--title`) and all other in two different groups in documentation? It will give me explicit signal where each option works. Since from my use case point of view `--require` should be process-only option, but in case of custom module loader it should be process and worker option as a result it is unclear.

In my use case I am not controlling spawning work

[2019-07-04 05:37] JounQin opened #28530 "`cat <(node -v)` never exits after >= 12.5.0"
* **Version**: v12.5.0 and greater
* **Platform**: Darwin MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64
* **Subsystem**:

Simply run `cat <(node -v)`
related: https://github.com/robbyrussell/oh-my-zsh/issues/7972

[2019-07-04 07:21] danbev opened #28531 "Investigate OpenSSL FIPS configuration using openssl.cnf"
* **v13.0.0-pre**:
* **Linux e8907ec245de 4.9.125-linuxkit #1 SMP Fri Sep 7 08:20:28 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux**:
* **crypto**:

This issue was discovered by dynamically linking to Red Hat's OpenSSL 1.1.1c (which has not yet been released). This might not be an issue for other platforms but we should still look into and verify that configuring FIPS is supported by adding this configu

[2019-07-04 07:36] bnoordhuis commented on #28530
I can reproduce. It's caused by #24260 except not really - the `tcsetattr()` call (which libc turns into an `ioctl()`) simply hangs when node tries to restore the state for fd 0, stdin.

I can't reproduce on Linux so this is with 99% certainty a bug in macOS's implementation of `tcsetattr()`. TBD if and how to work around that.

[2019-07-04 09:26] bnoordhuis commented on #28530
This minimal C test case shows the exact same behavior:
[code]

[code]
IOW, not a Node.js bug. I'll see if I can devise a workaround.

[2019-07-04 09:37] kjdamy opened #28533 "node v6.11.0 crash"
Jul  3 19:37:58 phz-data kernel: node[5079]: segfault at 7fff41a00030 ip 00000000009f1448 sp 00007fff41a6fcb0 error 4 in node[400000+f38000]

why？？

[2019-07-04 10:15] bnoordhuis commented on #28530
Okay, I figured it out. The `tcsetattr()` call makes the kernel suspend node with a `SIGTTOU` signal.

Apparently `cat <(node -v)` spawns node as a background job that doesn't own the TTY. On Linux that results in the `tcsetattr()` call failing with `EIO` (expected), on macOS it sends a `SIGTTOU` instead.

A fix is on the way.

[2019-07-04 10:19] bnoordhuis commented on #28533
Please try again with a supported release (v6.x is end of life) and if you still see a crash, fill out the issue template and post steps so we can reproduce. I'll close this issue in the interim.

[2019-07-04 10:19] #28533 closed

[2019-07-04 11:14] sysmat opened #28534 "--max-http-header-size= is not allowed in NODE_OPTIONS"
* **Version**: v10.16.0
* **Platform**: win 10
* **Subsystem**:

I get error:
`--max-http-header-size= is not allowed in NODE_OPTIONS`

[2019-07-04 12:05] sysmat commented on #28534
(HPE_HEADER_OVERFLOW)

[2019-07-04 12:11] kvelaro commented on #14402
you wrong, cause I'm facing same thing

[2019-07-04 12:27] mcollina commented on #27645
It's possible to provide a way to change this value via an API in Node 12: as you can see in https://github.com/nodejs/node/blob/39a935883df8cc87e1bd6364df38a61131e1e4ba/src/node_http_parser_impl.h#L821, the max amount of headers to read is read from the options. In Node < 12, this is set globally at startup, and it's way harder to change.

The best solution should be to add an option to set this

[2019-07-04 13:10] mcollina commented on #26311
I still don't understand why adding a passthrough in the middle is going to fix this problem.
I think this is documented behavior to some extent: `pipeline` destroys all the streams when there is an error. Note that sending `res.end()` _could_ create issues, because in the generic case we could be in the middle of a transfer - so we should not really send anything.

The correct fix for this issues

[2019-07-04 13:29] kharandziuk commented on #26311
yep.

I just changed the code from @yosuke-furukawa

it's not about this particular case. This case is just simple enough to show the concept. There is a lot of cases when you need to pipe some read stream to a transformation stream and to response(e.g., check my image resizing sample). And you need a way to handle possible ALL errors which can appear.

it was probably the reason why the original

[2019-07-04 14:41] hensyou commented on #21885
@ificator  It works,  thank you so much for sharing this trick!

[2019-07-04 14:52] someone-1 commented on #28523
Hi
is this issue fixed ?
can i take it up ?

[2019-07-04 15:25] Trott commented on #28534
Works for me on macOS with Node.js 10.16.0.

[code]

Perhaps Windows-specific? /ping @nodejs/platform-windows

[2019-07-04 15:34] crisefd opened #28536 "npm commands always throwing Segmentation Fault"
I work with Angular7 in Macbook Pro Retina, 13-inch, Early 2015 with Processor 2.7 GHz Intel Core i5 8 GB RAM and OSX Mojave version 10.14.5. I installed NodeJS version v11.12.0 via NVM (version 0.34.0) and 9 out 10 times I try to run a npm command it always terminates with Segmentation Fault.

For example to start and app I run
[code]

But the output most of the time is something like:
[code]

I

[2019-07-04 16:14] alubbe commented on #17058
Does anyone have any benchmarks on this? That PR didn't mention roughly how much impact this could have, for example for CLI tools or for short one liners using `node -p '...'`

[2019-07-04 16:33] sendilkumarn commented on #28527
This seems like a bug(?) in openssl. `openssl prime` works exactly the same way till `bits <= 15`

[2019-07-04 16:56] chocolateboy commented on #17058
I haven't spotted a difference yet (I assume it's the basis for future improvements) e.g. with:

- OS: Linux (Arch)
- nvm: 0.34.0
- [startup-time](https://github.com/chocolateboy/startup-time): 1.1.0

I get:

#### v12.4.0

[code]

|Test |Time (ms)|
|-------|-------------|
|JavaScript (Node.js)|36.57|

#### v12.5.0

[code]

|Test|Time (ms)|
|------|-------------|
|JavaScript (Node.js)|34.74|

[2019-07-04 16:59] addaleax commented on #28536
Can you try again with a supported Node.js version, e.g. a recent Node 12 release?

What does your npm debug log for the process report?

[2019-07-04 18:35] jvictor85 commented on #27107
Thanks a lot for finding the fix for that crash! I have an update on this - good and bad news. I didn't want to wait any longer for the 10.16.1 release so I started using a nightly build for a couple servers, which I assume has this recent commit to fix the crash. I'm still getting crashes though and I don't think it's from the one I found. So I'm thinking there are two separate crashes and I had

[2019-07-04 18:54] bnoordhuis commented on #28523
@someone-1 You're welcome to take it.

[2019-07-04 19:16] bnoordhuis commented on #28476
Closing, no follow-up. Let me know if you still want to pursue this further.

[2019-07-04 19:16] #28476 closed

[2019-07-04 19:37] BridgeAR opened #28538 "REPL autocomplete types and groups"
I would like to improve the autocomplete output by adding type information about the individual entry. We log a lot of properties but it's unclear what data type each entry has.

We could either use colors and highlight each entry with the same color as it's used for the data type while inspecting such types or we could change the actual output to include the data type behind the property name. Th

[2019-07-04 19:41] devsnek commented on #28538
if we do this at all, I think colors seem like the least intrusive option. I'm against the grouping idea; we definitely shouldn't get rid of alphabetical sorting.

[2019-07-04 20:01] silverwind commented on #28538
What parts of the REPL would this affect? `inspect` output or things on the command line? I myself am rather against adding further to `inspect` output.

Ideally, I'd like `inspect` output to be somewhat compatible with `eval(output)`, at least for the standard types.

[2019-07-04 20:02] nwoltman opened #28539 "Unhandled promise rejection deprecation message is printed even when there's an unhandledRejection listener"
* **Version**: v12.6.0
* **Platform**: Windows
* **Subsystem**: lib

The unhandled promise rejection deprecation message is printed even when a promise rejection error is handled by an `unhandledRejection` listener.

The following program did not produce a deprecation warning with Node 12.5.0, but it does now with Node 12.6.0:

[code]

Output:
[code]

Expected output:
[code]

This issue may have b

[2019-07-04 20:02] nwoltman commented on #28539
cc @joyeecheung

[2019-07-04 21:04] sam-github commented on #28517
https://github.com/nodejs/node/issues/28517 looks to be making things more green in CI on AIX.

The stringbytes-external-exceed-max use a lot of memory, its unclear whether something is wrong with the test, or the CI tooling or AIX itself is simply unable to handle tests that stress memory.

The tests are not simply failing, they are failing to be timed out and reported as failed by tools/test.py,

[2019-07-04 22:18] sam-github commented on #28530
FWIW, I can repro on Linux, maybe because I'm using zsh not bash.

[2019-07-04 23:33] #23089 closed

[2019-07-05 00:43] joyeecheung commented on #17058
The current snapshot shipped is the minimal one, there were some numbers in https://github.com/nodejs/node/pull/27321#issuecomment-485090927

I am still working on including more of the bootstrap process into the snapshot, it’s been progressing somewhat slowlier since I have been focusing on something else in the past month. The refactoring of run-time states has been basically completed (and guar

[2019-07-05 00:54] rvagg opened #28545 "Fully decorated fs.promises for complete fs replacement?"
I've got into the habit of `const fs = require('fs').promises`, which is fine for the most part for nice `async` / `await` code. But since it's not decorated with the `fs` properties other than promisified versions of the core functions that usefulness breaks down.

The main one is `fs.constants`, the other ones don't tend to be used directly but there is a case to be made for exposing them too.

[2019-07-05 01:33] BridgeAR commented on #28538
@silverwind it's only about tab completion in the REPL. So it's not about `inspect` at all.

[2019-07-05 01:41] BridgeAR opened #28546 "REPL complete function swallows errors"
@estrada9166 recently brought up that `test/parallel/test-repl-save-load.js` is not working as it should. It should fail as is it but the errors are swallowed due to calling `complete`.

It seems like the domain does not propagate the error properly and it's silently swallowed. Adding an error listener to the active domain in the complete function that throws the error fixes the problem but it cau

[2019-07-05 01:55] BridgeAR commented on #28545
I ran into the same problem. I personally think it would be best to just add another set of properties to the main part with `Promise` or something like that in their name.
The current implementation also causes problems with `esm` and the names are not distinguishable from their callback counterparts. This is not intuitive for me and having unique names fixes all of these issues.

[2019-07-05 02:06] devsnek commented on #28545
adding promise to the name would be rather annoying for continued usage though. +1 to adding the constants and such to the promises object.

[2019-07-05 02:34] rvagg commented on #28545
To take this a bit further, I forgot to include `createReadStream` and `createWriteStream` because I have precisely the same problem with those (and just ran into it, which reminded me!).

Here's the full list of what's in `fs` that's not in `fs.promises`

* `fs.close`
* `fs.createReadStream`
* `fs.createWriteStream`
* `fs.exists`
* `fs.fchown`
* `fs.fchmod`
* `fs.fdatasync`
* `fs.fstat`
* `fs.fsy

[2019-07-05 04:11] dominikwilkowski opened #28549 "`path.relative` adds trailing slash in node 12"
## What happens in node < 12

[code]

## What happens in node => 12

[code]

Note the inconsistency when resolving a path against root. In node 12 we now get a trailing slash.

## What I expect should happen

We either resolve all paths with or without trailing slashes but not mix both.
Nodes behavior prior to 12 was more consistent.

* 12.6.0
* OSX 10.14.5

[2019-07-05 04:27] Trott commented on #28549
The bug appears in Node.js 11.14.0 as well (but not in 11.13.0).

[2019-07-05 04:31] Trott commented on #28549
@nodejs/path

[2019-07-05 05:14] gireeshpunathil commented on #27107
@jvictor85 - thanks for the info. The last time isolation was easy at our end because of your standalone test case (really great effort from your end!) . So not having a similar case this time will mean progressing at our end is also going to be hard.

Shall I propose this? Because it is crashing for you under real load (easily?) you could actually do a `bisect` between 12 and 10 and pinpoint the

[2019-07-05 05:29] Flarna commented on #28534
I tried on windows and for me it works
[code]

[2019-07-05 05:38] Trott commented on #28534
There's not enough here to determine what's going on exactly, but the most likely explanation is that there was a typo in the NODE_OPTIONS value, such as this one:

[code]

Because that or something like it is probably what's going on, I'm going to close this. But feel free to comment with more information on how someone might reproduce this issue and it can be re-opened. Thanks!

[2019-07-05 05:38] #28534 closed

[2019-07-05 06:39] basti1302 opened #28550 "Stack trace gets lost in Node.js 12.6.0 when rethrowing from uncaught exception handler"
* **Version**:  v12.6.0
* **Platform**: Darwin Bastians-MBP 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64

Up to version 12.5.0, when rethrowing the error from an `uncaughtException` handler, the original stack trace would be preserved. In version 12.6.0, this is no longer the case. Instead, a stack trace with only one line is printe

[2019-07-05 07:08] DRoet commented on #28545
@rvagg Currently in ESM you have to do something like this:

[code]

due to the way it is exposed currently, see https://github.com/nodejs/node/pull/28466

[2019-07-05 07:58] danbev commented on #28531
Looking into this a little closer it turns out that RHEL8/UBI8 (Universal Base Image) has the concept of a system wide security policy which can be enabled:
[code]
This will enable fips much like setting `fips_mode` in openssl.cnf. Enabling fips this way and then running `getFips()` will return 1 without having to specify specifying the `--enable-fips` option.

My understanding is that setting `fi

[2019-07-05 07:58] #28531 closed

[2019-07-05 08:06] zandaqo commented on #26904
This would be really helpful for anyone dealing with binary. As much as I like Buffer, it's not an option for isomorphic code. Is there any ETA on this one yet?

[2019-07-05 08:58] someone-1 commented on #28523
hi @bnoordhuis

in the file  [crypto.js](https://github.com/nodejs/node/blob/master/lib/crypto.js)
`module.exports = {`
`getDiffieHellman: createDiffieHellmanGroup,`
`createDiffieHellmanGroup`,
`}`
i think there is 2 things exported with different name.
and [documentation](https://nodejs.org/api/crypto.html#crypto_crypto_getdiffiehellman_groupname)  for `getDiffieHellman` is already present in

[g

[2019-07-05 09:08] bnoordhuis commented on #28523
Oh, that's a good point. You could add a section explaining it's an alias and link to `crypto.getDiffieHellman()`.

Important to note that `crypto.createDiffieHellmanGroup()` was added in v0.9.3. (Class `DiffieHellmanGroup` was added in v0.7.5 though.)

[2019-07-05 10:09] rjinski opened #28551 "undefined reference to class property when calling function"
* **Version**: v12.5.0
* **Platform**: MacOS 10.14.5 (Darwin Kernel Version 18.6.0)
* **Subsystem**: N/A

[code]

**Expected Output**
[code]

**Actual**
[code]

It seems as through the class has been destroyed and only the reference to the function still exists in scope

[2019-07-05 10:20] addaleax commented on #28550
/cc @joyeecheung

[2019-07-05 12:10] vijayrahul0787 opened #28552 "not able to install node js"
an error such as missing dll file , is coming
![Untitled](https://user-images.githubusercontent.com/29709030/60721526-e4b5e400-9f4b-11e9-84e4-d01274f465f8.jpg)

[2019-07-05 12:18] renatahodovan opened #28553 "Assertion `args[1]->IsArray()' failed in node::UDPWrap::DoSend"
* **Version**: v12.6.0
* **Platform**: Linux-5.0.0-20-generic-x86_64-with-Ubuntu-19.04-disco

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [JsProFuzz](https://www.researchgate.net/publication/303482425_Fuzzing_JavaScript_Engine_APIs). </sup>

[2019-07-05 12:21] someone-1 commented on #28437
Hi
Anyone working on this?
Can I take it up?

[2019-07-05 12:25] renatahodovan opened #28554 "Assertion `args.Length() == 4 || args.Length() == 6' failed in node::UDPWrap::DoSend"
* **Version**: v12.6.0
* **Platform**: Linux-4.15.0-54-generic-x86_64-with-Ubuntu-18.04-bionic

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [JsProFuzz](https://www.researchgate.net/publication/303482425_Fuzzing_JavaScript_Engine_APIs). </sup>

[2019-07-05 12:32] addaleax commented on #28554
There’s going to be a lot of these issues, because Node.js is not always written to handle invalid input to private APIs well (because they’re private). Could you maybe group them in one Github issue?

[2019-07-05 12:45] cclauss opened #28555 "Re-vendor node/node-gyp --> tools/gyp/"
As discussed at https://github.com/nodejs/node/pull/28537#issuecomment-508724824, in order to keep advancing towards Python 3 compatibility, we should re-vendor the repo [__node/node-gyp__](https://github.com/nodejs/node-gyp) --> this repo's [__tools/gyp/__](https://github.com/nodejs/node/tree/master/tools/gyp) directory.

What is the best approach for vendoring in?

**Is your feature request rela

[2019-07-05 13:10] taburetkin opened #28557 "console.log(proxy) workaround"
* **Version**: v10.15.3
* **Platform**: win10 x64
* **Subsystem**:

I am creating es6 proxy for throwing error on getting undefined properties.
and found out that when i try to output proxy instance to console i get an exception as if i access undefined property.

the first try was as simple as this
[code]
the output in console for this
[code]
if i comment throwing an error, the output will be lik

[2019-07-05 13:10] chaffeqa opened #28558 "Node >= 12.5 OSX memory spike"
* **12.5.0**:
* **Darwin Quinns-MacBook-Pro-2.local 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64**:

When running a [after.js](https://github.com/jaredpalmer/after.js) app (React + babel + webpack) on OSX, can reproduce that switching from 12.4 to 12.5/12.6 that the node process spikes on initial startup in virtual memory and in som

[2019-07-05 13:20] BridgeAR commented on #28557
This is fixed from Node.js 12 on. In Node.js 12, you'll just get `{ foo: 'bar' }`. The proxy traps won't be triggered at all.

The change was declared as semver-major. That's why we can't backport it to v10.

[2019-07-05 13:27] taburetkin commented on #28557
Ok, now its clear to me.
thanks for the reply!

[2019-07-05 13:34] Antonius-S commented on #13708
Very frustrating and confusing behavior when you can't parse elementary `host:port` URL. Seems the simplest replacement for this purpose is `new URL('nodejs.org:1234', 'foo://');`

[2019-07-05 13:44] renatahodovan commented on #28554
@addaleax Alright, but for now, I only have this one and #28553.

[2019-07-05 13:48] cjihrig commented on #28554
@renatahodovan could you focus on public APIs instead? Issues with public APIs are more likely to be fixed.

[2019-07-05 14:19] eduardnegru opened #28559 "Worker_threads SharedArrayBuffer in multiple object properties cross-referenced randomly (object corruption?)"
* **Version**: 12.6.0
* **Platform**: *Linux* dc 4.4.62-1.el7.elrepo.x86_64 #1 SMP Tue Apr 18 11:02:11 EDT 2017 x86_64 x86_64 x86_64 GNU/Linux and 64-bit *Windows*
* **Subsystem**: worker_threads

**MainThread**
[code]

**WorkerThread**

[code]

***Output***
[code]

**The order of creating the keys in the object matters.
It appears there's some optimization in V8 which is disabled partially (objec

[2019-07-05 14:30] sam-github commented on #28554
The internals abort on invalid use intentionally, they are not intended to be directly used, and doing so discourages direct use.

IMO, this is not a bug and neither is https://github.com/nodejs/node/issues/28553

Changing this behaviour these involves more complexity in the C++ layer (which I'm not a fan of, I like the arg check in js, abort in C++ pattern) or longer term, hiding more internals b

[2019-07-05 14:37] sam-github commented on #28555
I'm not involved in gyp maintenance, so no comment on whether we should do this (though python3 support is clearly something we want).

But in terms of how, look at 3a334b12807eae369d487e0dce594681661fdcc5 as an example, expecially of the commit message, and you can just `rm -rf tools/gyp; copy new-gyp to tools/gyp; git add --all tools/gyp; git commit tools/gyp` and PR it. I suggest the commit mes

[2019-07-05 14:51] richardlau commented on #28555
We were (are?) floating patches on top of gyp. I think these have been ported across to node-gyp (https://github.com/nodejs/node/commit/503916a04f067bbf20d9570a4ca126aa1c6aec66) but it’s something we need to watch out for (e.g. https://github.com/nodejs/node-gyp/pull/1661 had to address one case where the relative directory structure differs between node-gyp and here).

[2019-07-05 14:53] akosthekiss commented on #28554
I'm no Node developer so take my words with a grain of salt. In most of the projects I had been working on, an assert hit meant a design failure. An assert was kind of a reminder for the developers of the project about some pre- or post-condition, formally documenting an invariant. It meant: "this check should not fail, like ever". If an assert was hit, it signalled that some parts of the system d

[2019-07-05 14:56] richardlau commented on #28555
node-gyp !== gyp. We’d only want to vendor the gyp part of the node-gyp repository (in the absence of a more official maintained upstream gyp source).

[2019-07-05 14:59] BSoD-Ultimate opened #28560 "Initializing uv_async_t handle in wrapped c++ classes hangs async/await operations"
* **Version**: Node.js 10.16.0
* **Platform**: Windows 8.1 x64

I'm writing a C++ module for JavaScript's use. The library exports some C++ classes to the JavaScript code. There is a C++ class have to start a continuously-running thread, and the data has to be notified to the Javascript code. My thought is initializing a uv_async_t handle as one of the class members for waking up Node.js's main th

[2019-07-05 15:02] crisefd commented on #28536
This is the output I get in the logs when running a custom command call "use-dependencies".

[code]

[2019-07-05 15:15] sam-github commented on #28554
@akosthekiss I agree with everything you said wrt an API, but the C++ binding layer is NOT part of the Node.js API.  A user who wanted to send UDP dgrams would be calling the dgram API.

This code, `dgram.createSocket('udp4')._handle.send(this, 1, '')`, could not appear accidentally in any use of the Node.js API, it is carefully crafted code accessing undocumented internals with no purpose other t

[2019-07-05 15:41] BridgeAR commented on #28437
@someone-1 there is a stalled PR by @antsmartian (#24335). @antsmartian do you have some time to have a look at that soon again? Otherwise @someone-1 could maybe go ahead and work on it?

[2019-07-05 15:46] oxygen commented on #28559
I simplified this a bit.

**MasterThread.js**
[code]

**WorkerThread.js**
[code]

**Output:**
[code]

[2019-07-05 16:20] bmacnaughton commented on #28420
@targos - is my next step to work on bisecting v8 releases or is someone going to take a look at this? i don't know how the nodejs/v8 team works with errors like this. i just don't know what to expect here so wanted to check in.

[2019-07-05 16:46] bnoordhuis commented on #28553
I'm going to close this as invalid because you're not supposed to use the `_handle` property directly. The underscore indicates it's not a public property and it might be removed completely someday.

[2019-07-05 16:46] #28553 closed

[2019-07-05 16:48] bnoordhuis commented on #28554
I closed the other issue as a wontfix and I would suggest doing the same with this one, unless someone feels particularly motivated to get rid of `_handle` today.

[2019-07-05 16:49] bnoordhuis commented on #28557
Closing as answered.

[2019-07-05 16:49] #28557 closed

[2019-07-05 16:53] bnoordhuis commented on #28560
Can an admin move this to nodejs/help?

[2019-07-05 16:53] sam-github commented on #28554
Getting rid of _handle by hiding it behind a symbol is the right thing to do. It would be `semver-major`, but is it just no one has gotten time to hide the handles, or is there concerns about breaking APMs and other diagnostic tooling?

[2019-07-05 17:03] bnoordhuis commented on #28554
Hard to say. I never saw a reason to monkey-patch `_handle` or its methods in strong-agent. I expect that if an APM exists that does so, it knows it's treading on thin ice.

A regular symbol is still discoverable, by the way. It'd either need to use `getHiddenValue()` / `setHiddenValue()` from `internalBinding('util')`, or store the handle in a `Map` or `WeakMap`.

Either approach could negatively

[2019-07-05 17:12] silverwind commented on #28545
I probably sound insane, but I'd also like to see sync methods exported on `fs.promises` because I often have to mix sync/async fs to workaround the non-existant top-level `await` in Node.js and doing two imports just sucks.

[2019-07-05 17:17] silverwind commented on #28545
In hindsight, I'm very unhappy with how `fs.promises` turned out. We should have just make regular `fs` promise-based instead of adding a prop.

A good example how a migration from callback to promise could be done is [electron](https://github.com/electron/electron/blob/5-0-x/docs/api/promisification.md).

[2019-07-05 17:42] Trott commented on #28558
@nodejs/platform-macos @joyeecheung

[2019-07-05 17:49] amcheshire opened #28565 "Missing lines when using readline Interface as AsyncIterable"
* **Version**: v12.6.0
* **Platform**: Darwin Admins-MacBook-Pro-6.local 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64
* **Subsystem**: readline

We were using `readline` to convert a stream that gives bytes to an `AsyncIterable` of lines. We did this by using something like:
[code]

We would then use this as an `AsyncIterable` (whic

[2019-07-05 17:51] silverwind commented on #28437
I think we should decide whether it'll be CTRL-R or substring-based, or both. I guess substring shouldn't be too hard to implement. CTRL-R is more involved as you need to replace prompt etc.

[2019-07-05 17:54] joyeecheung commented on #28558
Can you capture a core dump and use https://github.com/nodejs/llnode/ to try listing all types of objects with `v8 findjsobjects`? If the instance becomes too big using `ulimit -v` to limit the virtual memory allowed should be helpful.

[2019-07-05 18:14] joyeecheung commented on #28558
Alternatively, you can try building Node.js with `--without-node-snapshot` in the `configure` option, and use that to see if the issue reproduces with a no-snapshot build.  The guide on building Node.js is https://github.com/nodejs/node/blob/master/BUILDING.md#building-nodejs-on-supported-platforms

(which reminds me it should be possible to make this a run-time option)

[2019-07-05 20:16] Trott commented on #18106
This isn't really a tracking issue, since there's no tracking happening. While it's true that we'd like to migrate as many C++ errors as possible/reasonable to use `.code` etc., I'm not sure this issue is doing it's job and I'm trying to get the issue tracker to be a bit less overwhelmed with stuff that isn't really being used. So I'm going to close this. Of course, if you think this is a bad idea

[2019-07-05 20:16] #18106 closed

[2019-07-05 21:19] Trott commented on #18229
Should this remain open?

[2019-07-05 23:44] rvagg commented on #28545
That was discussed _a lot_ at the time and decided pretty overwhelmingly that the breakage just wasn't worth it. Not all these functions are easily switchable on last argument presence (exists being the best example). But regardless, this issue isn't a question about large scale redesigns, that's not going to get anywhere in any meaningful amount of time. I just want a well decorated fs.promises f

[2019-07-06 00:09] cakoose opened #28571 "Object property delete/set in loop got very slow in Node 12 (quadratic?)"
I was benchmarking different data structures and noticed a huge slowdown for the following test case:
1. Create an object with a bunch 20-character string properties, the value is always set to the number 1.
2. Loop over each key: delete it from the object and add it back.

The performance of object and Map is roughly the same in Node 11.15.0.  In Node 12, the object version gets really slow (~10x

[2019-07-06 00:31] vapniks commented on #28437
I'm happy with either.

[2019-07-06 00:54] mscdex commented on #28571
You should consider posting this to the V8 issue tracker.

[2019-07-06 01:08] mscdex commented on #28571
I also noticed that trying to run this code in node v10 and newer with `--trace-turbo-inlining` causes a segfault.

[2019-07-06 01:39] Trott commented on #28571
@nodejs/v8

[2019-07-06 01:46] devsteele commented on #25898
also thanx! @code-chris, that helped me also, i changed the version so i could follow along with a udemy course, and ran into issues,  and thanx @supredee76 for bringing it up!!!!

[2019-07-06 05:38] #28468 closed

[2019-07-06 06:14] cakoose commented on #28571
Filed on V8 tracker: https://bugs.chromium.org/p/v8/issues/detail?id=9442

[2019-07-06 08:13] w5688414 commented on #10137
node --max_old_space_size=8192 ./node_modules/@angular/cli/bin/ng build --prod

[2019-07-06 09:07] #28217 closed

[2019-07-06 09:31] GauthamBanasandra commented on #12088
@bnoordhuis are there any ongoing efforts/plan to switch from gyp to CMake? I've a fairly good knowledge of CMake and would love to help.
Had CMake been used here, there wouldn't have been issues like this - https://github.com/nodejs/node/issues/27214 (across platforms too).

[2019-07-06 09:36] hashseed commented on #28420
- Having a repro would definitely help. Maybe you are willing to share on confidentially?
 - Having a repro that does not use Node APIs would be a lot better. E.g. one that runs in V8 standalone.
- Can you run your repro with `--expose-gc` and explicitly call `gc()` periodically to force a garbage collection?

[2019-07-06 11:42] bmacnaughton commented on #28420
@hashseed
- I need to check with my manager but there is no confidential information involved. There are a few keys that can be invalidated and replaced.
- Unfortunately, no. I am unable to recreate outside of a docker container much less with v8 standalone (of which I have no experience).
- I have used --expose-gc and explicitly called gc() on one minute intervals with no changes.

I will get bac

[2019-07-06 11:44] bmacnaughton commented on #28420
@hashseed - i do have heapdumps from every 15 minutes of the last run available. If they help I will share them with an email of  your choice - maybe your commit email?

[2019-07-06 13:26] jholladay10 commented on #20891
This still seems to be an issue in v10.16.0
[processed.txt](https://github.com/nodejs/node/files/3364707/processed.txt)

[2019-07-06 13:54] bnoordhuis commented on #12088
@GauthamBanasandra Ongoing? No. I made an attempt in https://github.com/bnoordhuis/io.js/tree/cmake but chasing a moving target is difficult. You're welcome to dust it off though.

Maybe not, but there will no doubt be other issues. For example, https://github.com/nodejs/node-gyp/issues/1118 is something you'll need to contend with.

[2019-07-06 14:35] lpinca commented on #28214
1. Stop the server from accepting new connections.
1. Close all active connections.
1. Wait for the callback.

There is no need to wait for the callback before closing connections. No new connection is established after `server.close()` is called.

[2019-07-06 15:37] yordis commented on #19393
@benjamingr question out of ignorant.

How hard would be to adapt Deno implementation of `fetch` into NodeJS? (please don't focus on Deno vs NodeJS 🙏)

Looking at the code it seems that could be portable but I am not sure of the walls I will face doing so.

Did anyone try that?

Should we try that?

[2019-07-06 18:56] #28530 closed

[2019-07-06 19:29] benjamingr commented on #19393
Very, Deno's implementation is very incomplete and lacks a lot of features. Starting off from node-fetch like this PR is a lot more feature complete already. Moreover, Deno's implementation works by hooking into tokio with flatbuffers (we use neither) and really wouldn't make much sense for node.

(There is no enmity between Deno and Node.js, it's really not a competition :) )

[2019-07-06 19:54] mvduin commented on #14379
@TimothyGu

For GCC and Clang, applying `__attribute__((pure))` (or `[[gnu::pure]]`) to the declaration would allow the compiler to optimize away calls to this function if its return value is never used.

[2019-07-06 20:16] addaleax commented on #28559
@eduardnegru Thanks for opening an issue about this (and thanks @oxygen for the simplified reproduction), https://github.com/nodejs/node/pull/28582 should address the bug :)

[2019-07-06 22:46] cesargironM commented on #27609
Share

[2019-07-07 07:01] ledbit opened #28586 "stream performance regression 12.6.0 vs 10.16.0"
Seeing major performance regression, ~50% drop in throughput, in one of our benchmarks. I will work on creating a minimal repro. In the meantime though, here are some snippets of the profile outputs - it is pretty strange that 12.6.0 is spending ~70% of the time in shared library land (maybe there's an issue with the profile too?)

[code]

10.16.0
[code]

12.6.0
[code]

[2019-07-07 07:05] joe9111 commented on #28523
Hi, I am working on this as well!

[2019-07-07 10:21] Himself65 commented on #28513
My idea is to refactor the buffer pool on `WriteStream` to the task pool which can write chunks or do fsync. I don't know if it correct.

for example:

![image](https://user-images.githubusercontent.com/14026360/60767011-e1556080-a0e3-11e9-9bb4-e41366d01231.png)

[2019-07-07 12:00] andrey-furman opened #28587 "On install package occures errors with node-gyp"
On some packages installing througn yarn occurs the problem described below.
The same package installation on node 11.6.0 goes without errors.
* **Version**: 12.6
* **Platform**: MacOS 10.14.4
* **Subsystem**:

 Error running install script for optional dependency: "/Users/AndreyFurman/Sites/bots-business/front/node_modules/react-scripts/node_modules/fsevents: Command failed.
Exit code: 1
Command:

[2019-07-07 14:39] mscdex commented on #28587
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2019-07-07 14:39] #28587 closed

[2019-07-07 15:31] bnoordhuis commented on #14379
`Isolate::GetCurrentContext()` isn't pure, it has side effects - it creates a new `Local<Context>` in the active `HandleScope`.

[2019-07-07 15:31] #28539 closed

[2019-07-07 15:57] fasttime opened #28588 "node --inspect-brk --debug prints incorrect error message"
* **Version**: 12.6.0
* **Platform**: Darwin 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64

[code]

Two issues here. The error message suggests that node was called with options `--inspect` and `--debug-brk` which is not the case. And it recommends using `--inspect-brk` instead, one of the options actually used.

[2019-07-07 15:58] #28550 closed

[2019-07-07 17:01] GauthamBanasandra commented on #23909
Running the below command from the directory where vcpkg is checked out worked for me
[code]

[2019-07-07 17:12] ORESoftware opened #28590 "tty.js -> RangeError [ERR_INVALID_FD]: "fd" must be a positive integer: [object Object]"
Nodejs version 12

[code]

I get this error:

[code]

I can't figure out why. The fd from the open() call is a positive integer.

It's also, of course, a little suboptimal to have `[object Object]` instead of an inspected object, so at the very least that's a bug/improvement to make.

[2019-07-07 17:14] addaleax commented on #28590
`const strm = new ReadStream(fd);` without the `{...}` should help :)

[2019-07-07 17:16] ORESoftware commented on #28590
Yeah but according to the TypeScript types, there is an options object, that should take `{fd:fd}`, here is a link to it: `node_modules/@types/node/base.d.ts`

Also, if `setRawMode(true)` does not return the instance (this), should I file a ticket for that and do you know where that call is? I would like to patch that.

[2019-07-07 17:24] ORESoftware commented on #28590
yeah so it's just that the TS typings are off, so I should just move this to TS github repo huh

[2019-07-07 17:24] addaleax commented on #28590
@ORESoftware That’s an issue with the TypeScript then, so yeah, moving is a good idea :)

It does, since 1f4d4c0da87db, i.e. since 10.12.0 :)

[2019-07-07 18:09] vsemozhetbyt opened #28592 "doc: undocumented properties are mentioned in the stream doc"
`writable.writableBuffer` and `readable.readableBuffer` are mentioned https://nodejs.org/api/stream.html#stream_buffering but are undocumented in the appropriate sections.

Not sure if this need to be addressed. Please close if this is OK.

[2019-07-07 18:26] ORESoftware commented on #28590
ok cool, will close thanks

[2019-07-07 23:15] anliting commented on #28214
`net.Server.prototype.close`:

If the function is defined to "stop the server from accepting new connections and keep existing connections", and the work is done before it returns, I would rather say that it is synchronous instead of asynchronous; saying that it is asynchronous means that, only through waiting that callback, I can ensure the work is done.

However, the function is named `close`, a

[2019-07-08 03:04] seanmorris opened #28593 "Calling subclass constructor will NOT invoke proxy's "construct" trap."
* **Version**: 12.6.0
* **Platform**: Linux the-altar 4.9.0-8-amd64 #1 SMP Debian 4.9.144-3.1 (2019-02-19) x86_64 GNU/Linux

* One can wrap a class in a proxy object.
* Proxy objects allow us to trap calls to the constructor.
* One can extend the proxy-wrapped class.
* In the browser (chrome 73.0.3683.75), calling the subclass constructor will invoke the proxy's "construct" trap.
* In node JS, cal

[2019-07-08 03:06] #28593 closed

[2019-07-08 03:19] pworkpop opened #28594 "node::BaseObject::~BaseObject(): Assertion `persistent_handle_.IsEmpty()' failed."
* **Version**: Docker 8-stretch-slim (v8.16.0)
* **Platform**: x86_64-linux-gnu
* **Subsystem**: BaseObject

Node terminates with the following stack trace:
[code]

[2019-07-08 03:22] seanmorris commented on #28593
Looks like the issue is with Babel, not node. Using anything lower than babel-preset-es2016 causes the issue.

[2019-07-08 03:31] #28590 closed

[2019-07-08 05:22] mscdex commented on #28594
Can you provide a minimal code example that reproduces the assertion?

[2019-07-08 06:58] pworkpop commented on #28594
not really, we observed this crash on production

[2019-07-08 11:58] psmarshall commented on #24225
FYI work has begun on this here: https://bugs.chromium.org/p/v8/issues/detail?id=9306

[2019-07-08 12:16] softwareperson opened #28597 "Stream: Merge/Mutation/Inflation Stream"
# Merge/Mutation/Inflation Stream
*I don't know what to call it... Merge Stream for now I guess*

A Merge Stream would be a type of stream where different streams are merged together. The general idea is illustrated in the following diagram:

![simplified process][simplified_stream_process]

The idea is that you have a set of main readable streams, and a set of secondary readable streams. The seco

[2019-07-08 12:25] himanshu-singh1995 commented on #15102
I got the following error in node v10.16.0 while uploading a 1GB file on S3 using `putObject` method provided by the `aws-sdk`. By the uploading a file size of 1GB  to S3 using `putObject` of `aws-sdk`, I was able to reproduce this error every time.
[code]

[2019-07-08 12:59] stevenvachon commented on #3591
@refack please reopen.

[2019-07-08 13:16] RomanYarik opened #28598 "Stats isn't being modified on mac osx when writing the same file twice in a row"
* **Version**: v12.6.0, v10.16.0
* **Platform**: Darwin temp2.local 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64
* **Subsystem**: macbook pro

When running the following code on mac:
[code]

The stats after the first and second `writeFile` operations are the same, even though the file content has changed.

If modifying the code to b

[2019-07-08 15:46] jeffrson opened #28599 "fs.mkdir/mkdirSync hang with {recursive: true} if name is invalid"
* **Version**: 10.16.0, 11.14.0, 12.6.0
* **Platform**: Windows 10
* **Subsystem**: fs

If the name of the dir to be created is invalid, fs.mkdir never calls back and fs.mkdirSync blocks:

[code]

BTW, the error message that is reported with {recursive: false} appears a bit strange:

Wouldn't it be more convenient to use EPERM, EACCES or ENOTDIR?

[2019-07-08 16:29] Hakerh400 commented on #28599
Colons on NTFS files systems on Windows denote file streams ([source](https://github.com/nodejs/node/issues/26696#issuecomment-473473138)).

[2019-07-08 16:32] jablko commented on #22395
NSEC3 presentation format

[2019-07-08 17:15] mhdawson commented on #28196
We discussed this a bit in the last N-API call.  Our guess/understanding is that the main motivation is to allow the JavaScript engine to better optimize as today the length property is not set?  The advantage to providing signatures with the length value is to avoid a second round trip to set it using a napi_set_property?  Is this correct or is there something else that motivates this.

[2019-07-08 17:40] #28214 closed

[2019-07-08 17:44] devsnek commented on #28196
Right now the length is always zero. Providing a length seems reasonable to me because it can be abstracted. In a v8 napi, we can just pass the int to FunctionTemplate::New or Function::New. In a jerryscript napi, an additional property set call can be added.

[2019-07-08 17:50] bmacnaughton commented on #28420
@hashseed - i can work on packaging the docker-compose environment and access if you can work with that. if you need a more minimal repro then it will have to wait - i'm on vacation starting wednesday. if you can work with that i'll get things packaged and set up so you can run it - my manager will work with you while i am away.

[2019-07-08 17:56] ledbit commented on #28586
I was able to isolate the problem to streams, see benchmark
[bench-stream.txt](https://github.com/nodejs/node/files/3369639/bench-stream.txt)

[code]

[2019-07-08 17:59] mhdawson commented on #28196
@devsnek the assumption was that the only downside of the length being zero is potentially performance right?  If we added a new method with the length it could be documented as a 'hint' to the JavaScript engine that may be ignored.

[2019-07-08 18:10] hashseed commented on #28420
I'd love to find out what's going on, but my bandwidth is a bit limited at this point. Having a reduced repro would definitely help me.

[2019-07-08 18:12] devsnek commented on #28196
I'm not entirely sure about the optimization aspect, I just think this is important for consistency with functions written in js.

[2019-07-08 18:35] lukepuplett commented on #25985
Same problem on Windows 10. I manually removed all files in `\Program Files\nodejs` and `%APPDATA%\npm*` and then removed via MSI that I still had in my Downloads folder and reinstalled again from MSI.

[2019-07-08 18:55] Trott commented on #28597
@nodejs/streams

[2019-07-08 18:59] bnoordhuis commented on #28489
https://github.com/nodejs/node/pull/28600 should fix the pty hangs on AIX. It came a long way...

[2019-07-08 19:04] bnoordhuis commented on #28598
That's not unexpected. The granularity of atime/ctime/mtime timestamps depends on the file system; it can range from a fraction of a microsecond to a whole second.

I'll close this out as it's not a bug (in node.js anyway, you could argue it's an fs QoI issue.)

[2019-07-08 19:04] #28598 closed

[2019-07-08 19:06] jeffrson commented on #28599
The error is the same for "invalid>", "invalid<" oder "invalid|".

[2019-07-08 19:09] Trott commented on #28598
@RomanYarik FWIW, here's a shell script that shows the same thing.

[code]

Here's a few runs on my computer:

[code]

So, like @bnoordhuis said: Not an issue with Node.js.

[2019-07-08 19:17] bnoordhuis commented on #28527
This appears to be a bug that was fixed in openssl 1.0.2 (https://github.com/openssl/openssl/issues/4656) and indeed when I run `out/Release/openssl-cli` I get random primes:
[code]
(`openssl-cli` is built when you build Node.js)

Node.js produces the same prime every time so it must be our bug:
[code]
Aside: `openssl-cli -bits 4 -generate -safe` busy-loops, I guess because there's no safe prime t

[2019-07-08 23:24] bmacnaughton commented on #28420
@hashseed - ok, thanks. i'm on vacation for the next couple weeks; i will work on putting together a self-contained repro when i get back. i appreciate your responses.

[2019-07-09 00:55] ORESoftware opened #28603 "Nodejs on NixOS"
So even though NixOS is all about haskell I am sure there's room and desire for scripting languages as well.

I got these errors when running a working node program on NixOS

[code]

the script I have is:

[code]

it might just be a matter of re-configuring NixOS not sure.  Maybe I can try `sh` instead of `bash` for the child process.

[2019-07-09 01:53] srcmake opened #28605 "[C++ Lint Rule] #define indentation is Inconsistent"
I was recently going through the source code, trying to familiarize myself with the codebase, and I noticed that there's no consistent rule for how #defines are indented.

For example, in node_main.cc, there's no indentation at all [in this](https://github.com/nodejs/node/blob/master/src/node_main.cc#L76:L88) `#ifdef` block.

However, in other places, like node.h, [there's a space](https://github.

[2019-07-09 04:05] #28559 closed

[2019-07-09 08:16] antsmartian commented on #28437
@BridgeAR Yes, its stalled for sometime. Soon, will have a look at it.

[2019-07-09 09:02] bnoordhuis commented on #28502
I opened libuv/libuv#2370 for discussion.

There's another way to address this in Node.js, by creating an `uv_idle_t` at startup to keep the event loop going for at least one tick:
[code]
It does make `test/parallel/test-timers-immediate-unref-simple.js` fail because it tests exactly the condition that the patch circumvents.

[2019-07-09 09:11] wangwangpswc830 commented on #28321
I have quit to use npm ...

[2019-07-09 09:42] gengjiawen commented on #19308
@lpinca Mind create a PR ?

Just found go has websocket too https://godoc.org/golang.org/x/net/websocket.

In js ecosystem，new api System like Graphql subscription rely on this: https://github.com/apollographql/apollo-server/blob/678714293337be19163e7ae0f973c6d873cf3656/packages/apollo-server-core/package.json#L46.

[2019-07-09 10:02] bnoordhuis commented on #28594
992703f2b50f6b3483e9b930737d177b9e01256d and d4024815b7d55005c3ec25c74cf647f7eba1d5cc address that (they remove the CHECK among other things) but those commits haven't been back-ported to v8.x.

[2019-07-09 10:13] bnoordhuis commented on #26428
#26452 was merged in March but apparently didn't auto-close this issue. I'll do it the old-fashioned way then.

[2019-07-09 10:13] #26428 closed

[2019-07-09 10:18] bnoordhuis commented on #28594
I tried to do a quick cherry-pick of those two but the delta between v8.x-staging and their merge base is waaay to big. I don't have time to resolve all the merge conflicts manually right now.

[2019-07-09 11:10] lengjing commented on #25132
I did the below steps and the issue has been fixed:

1. Remove `node_modules` and `package--lock.json`(if exist)
2. Run `npm cache clean --force`
3. Run `npm install`
4. Run `npm install natives@1.1.6`

[2019-07-09 14:03] joe9111 commented on #27609
On MacOS terminal,

`TERM: 'xterm-256color'`

That is the only env variable that seems to correspond to the terminal.

[2019-07-09 15:23] mcollina commented on #28597
Would you mind adding some discussion on _why_ this needs to be in core? I think a userland module would be a good way to validate this approach before bringin this to core.

[2019-07-09 17:17] BridgeAR opened #28610 "Certificate issues on the custom-suites-freestyle CI"
A couple of tests consistently fail on our custom-suites-freestyle CI.

* test.parallel/test-https-client-reject
* test.parallel/test-https-pfx
* test.parallel/test-tls-client-reject
* test.parallel/test-tls-client-reject-12
* test.parallel/test-tls-connect-no-host

See e.g., https://ci.nodejs.org/job/node-test-commit-custom-suites-freestyle/7863/#showFailuresLink

I can't look into it right now,

[2019-07-09 17:56] #27934 closed

[2019-07-09 19:20] corwin-of-amber opened #28612 ""suspended (tty output)" on exit, when node is run in the background"
* **Version**: v12.6.0
* **Platform**: Darwin 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64
* **Subsystem**: unknown

Run any script with `&` in the shell, and the process hangs after it finishes instead of exiting.
AFAICT this is a regression from v12.0.0.

[code]

[2019-07-09 20:21] cjihrig commented on #28612
Does https://github.com/nodejs/node/pull/28535 fix the issue for you?

[2019-07-09 20:52] bnoordhuis commented on #28610
Maybe not relevant but this shows up in the build log:
[code]
Is there anything else that's unusual about this machine?

[2019-07-09 20:53] #28588 closed

[2019-07-09 21:01] cjihrig commented on #28610
I thought @sam-github fixed this recently too?

[2019-07-09 21:12] silverwind commented on #28599
Those are all invalid characters on NTFS, see [here](https://gist.github.com/doctaphred/d01d05291546186941e1b7ddc02034d3).

Not sure if Node.js should do validation for those (and take a performance hit on every platform in turn. There are modules like [this](https://github.com/sindresorhus/valid-filename) which you can use to validate yourself.

[2019-07-09 22:10] corwin-of-amber commented on #28612
Ah this seems very relevant, it was only fixed three days ago so I guess that means I will have to try a nightly build or something.

[2019-07-09 22:28] mhdawson commented on #28196
@devsnek to make sure I understand your concern.  It's that functions created in JavaScript will always have the value set to the right number, but that those created on the native side will have it set to 0?

[2019-07-09 22:36] devsnek commented on #28196
@mhdawson correct

[2019-07-10 00:11] softwareperson commented on #28597
@mcollina I guess that is fair yeah. I'll close this issue for now

[2019-07-10 00:11] #28597 closed

[2019-07-10 02:32] dead-claudia opened #28618 "Support file descriptors as `fs.copyFile`/etc. sources and destinations"
**Is your feature request related to a problem? Please describe.**
I have a file descriptor that I acquired, in hopes to avoid race conditions with the underlying directory moving out from under my feet and to avoid an otherwise unnecessary `fs.lstat` call. (All I'm doing is verifying it's accessible as a file or directory.) Conveniently, I can pass this file descriptor directly to `fs.readFile` i

[2019-07-10 05:59] mayinghan commented on #28442
Update: So I get rid of one potential memory leak due to the mongodb stream event listener (one of the event listeners never got a chance to be unsubscribed, thus the original resource which was directly fetched from the database never had a chance to be released) and the memory usage did decrease (by about 5gib) after the fix. However, the error ```fatal error: scavenger: semi-space copy allocati

[2019-07-10 08:30] smile21 commented on #28088
Core dump fixed, but Http2Session leak already exist. @addaleax
Please take a snapshot for the http2 server when running the http2 connect/close a little while. (see above sample code)

[2019-07-10 08:31] jeffrson commented on #28599
Yes - I know this module. However, it is not cross plattform as far as I can tell - ':', '<', '>','|' may be valid on Linux (although not necessarily recommended, I guess). Yes, of course I could distinguish platforms. But I could as well rely on "fs.mkdir" to fail, if something is wrong.

The point is, Node should, if it fails to create the directory for whatever reason, give a reasonable error a

[2019-07-10 09:54] vsemozhetbyt opened #28620 "doc: investigate stream.html missing in the last nightly build"
https://nodejs.org/download/nightly/v13.0.0-nightly20190710fe4d53df51/docs/api/stream.html is only 404 doc in the last nightly build (the [stream section](https://nodejs.org/download/nightly/v13.0.0-nightly20190710fe4d53df51/docs/api/all.html#stream_stream) in the `all.html` page is present though). Is this some infrastructural issue or a lack of error handling in the doc tools?

[2019-07-10 09:56] vsemozhetbyt commented on #28620
Sorry, it seems it is present now, maybe I've stumbled upon some build delay.

[2019-07-10 09:56] #28620 closed

[2019-07-10 11:03] BridgeAR commented on #28546
It turned out that the test file swallowed the errors, not the complete function. There where multiple bugs in the test itself and also two small issues in the REPL's `.save` and `.load` function that are fixed by #28608.

[2019-07-10 11:21] ronag opened #28622 "http2/compat: undocumented public property "complete""
The `Http2ServerRequest` has an undocumented public property "complete".

I guess it should be either be documented or made private? What is it's purpose? Should we add it to http/1?

[code]

I'm not sure where this property is useful over just checking `this[kState].closed`? Seems like some kind of hybrid property of streams being closed and the old http/1 `finished` semantics.

I guess it is `tr

[2019-07-10 14:16] lpinca commented on #28592
I'm not sure if it makes sense to document them because the getters return an internal type (`BufferList`) which should not be public.

[2019-07-10 14:17] lpinca commented on #28592
cc: @nodejs/streams

[2019-07-10 14:20] lpinca commented on #28592
I guess the whole point for adding the getters was to give users the ability to easily access the `BufferList` so ¯\_(ツ)_/¯.

[2019-07-10 14:24] #28182 closed

[2019-07-10 14:47] lpinca commented on #28408
This is by design. The first chunk is written with `_write()`.  When the write is complete, buffered chunks, if available, will be written all at once with `_writev()`.

[2019-07-10 14:56] Fishrock123 commented on #28612
@corwin-of-amber Here's a nightly build in case you are unable to build and tests it yourself: https://nodejs.org/download/nightly/v13.0.0-nightly20190710fe4d53df51/

[2019-07-10 15:02] Fishrock123 commented on #27191
Did you at one time install as admin?

Maybe the installer didn't have perms to override the old version?

Or, is this reproducible on a clean machine with the installer you used?

[2019-07-10 15:04] Fishrock123 commented on #26596
Seems like a fix was landed in https://github.com/nodejs/node/commit/e4e2b0ce134ce781847272ae0b4bb889e75f223f

[2019-07-10 15:04] #26596 closed

[2019-07-10 15:21] bnoordhuis commented on #28618
Adding the libuv label because `fs.copyFile()` is a thin wrapper around `uv_fs_copyfile()` and that function takes paths, not file descriptors.

Libuv is API and ABI stable so it can't be retrofitted onto `uv_fs_copyfile()`, it would need to be a new API.

[2019-07-10 15:32] nicszerman commented on #9617
There should definitely be a standard easy-to-use method to detect whether the process is running on debug mode or not. The most reliable solution at the moment seems to be to pass a flag initially, and spawn child processes with this flag if it also is present in the parent. This is annoying and should be unnecessary. There should also be an option when spawning children that enables inspect if a

[2019-07-10 15:39] ddavister commented on #27191
Well, that was back in April.  I didn’t get the installer itself to work correctly, but when I ran the ‘npm rc’ command and it gave an “update available’ message and recommended running ‘npm I -g npm’.  That command worked, so I’ve been good since then.

Thanks.

Regards,
     Doug

From: Jeremiah Senkpiel <notifications@github.com>
Sent: Wednesday, July 10, 2019 10:05 AM
To: nodejs/node <node@nor

[2019-07-10 15:51] ak239 commented on #9617
pptr uses `inspector` module to detect that process is running under inspection: [code](https://github.com/GoogleChrome/puppeteer/blob/14fb3e38db7c97fc3ea76c65e6f219b0ddb3b54f/utils/testrunner/TestRunner.js#L279).
As @eugeneo mentioned it detects that some debugger can connect to process but not that debugger is connected right now.

[2019-07-10 18:28] anyderre commented on #27797
If your application crash while building scss files try installing those dependencies node-sass, style-loader and sass-loader, this worked for me!

[2019-07-10 21:12] addaleax commented on #28502
@bnoordhuis I don’t think that solves this problem – that patch only solves the issue when it’s coming from code executed synchronously after bootstrap.

The kind of solution I’d imagine is setting a flag on the loop from the signal handler, and checking that before letting the loop exit? Is that feasible? It doesn’t solve the issue when the signal is coming from another process, but that’s a race

[2019-07-10 21:24] addaleax commented on #28408
I’ve added the `doc` label because this is indeed missing from the documentation and I think a PR to address that would make sense.

[2019-07-10 21:46] sam-github commented on #28610
I don't think so, I did some ubuntu14.04 maintenance on IBM platforms, but I don't think I did anything for 1604 on x86, and I just scanned my PRs into nodejs/build, nothing seems relevant.

[2019-07-10 22:16] richardlau commented on #28610
@sam-github I think @cjihrig was referring to the PR that fixed up the test fixture certificates validity dates (https://github.com/nodejs/node/pull/28473). Perhaps the failures are for PR's that need to be rebased to pick up the fixed fixtures (although if that was the case we'd probably expect the failures to show up in other jobs too (unless there's something different about the way this job re

[2019-07-11 00:29] PrasannaCorearth commented on #25132
I had same issue for my .net core solution.

Steps I did which fixed my error and started to Gulping my mins/js:

1. Uninstall existing Node.js from [add or remove programs]
2. Install a new Node.js from https://nodejs.org/en/ [64bit recommended one]
3. open cmd and check if npm is working
4. Open my Solution in visual stuido -> Open node.js interactive window from view -> other windows
5. in the

[2019-07-11 01:26] murgatroid99 opened #28632 "There appears to be a bug with the http2 header decoding"
* **Version**: 10.15.3
* **Platform**: node: 10-alpine official docker image
* **Subsystem**: http2

This comes from googleapis/nodejs-datastore#415. It looks like occasionally http2 headers objects are being provided from the `http2` module with invalid and clearly incorrect header keys. For example, some bad headers objects look like these

[code]

while valid headers look like this:

[code]

In

[2019-07-11 05:05] Lcfvs opened #28633 "Buggy Array.prototype destructuring"
* **Version**: v12.6.0
* **Platform**:  Windows 10
* **Subsystem**:

Destructuring the `Array` prototype doesn't provides all the methods.
[code]

[2019-07-11 06:04] OmgImAlexis opened #28634 "Assertion `(err) != (-1)' failed."
* **Version**: v12.5.0
* **Platform**: Darwin Bella-2.local 16.7.0 Darwin Kernel Version 16.7.0: Wed Apr 24 20:50:53 PDT 2019; root:xnu-3789.73.49~1/RELEASE_X86_64 x86_64
* **Subsystem**:

When hitting <kbd>CTRL+C</kbd> I now get this internal error thrown where as before on pre node v12 I would just get a clean shutdown of my application.

`^C` denotes where I hit <kbd>CTRL+C</kbd>.

[code]

[2019-07-11 06:05] OmgImAlexis commented on #28634
Ah looks like a duplicate of https://github.com/nodejs/node/issues/28479

[2019-07-11 06:05] #28634 closed

[2019-07-11 06:26] bnoordhuis commented on #28502
How would the "checking" part work?

Special-casing signal handles was one of the options I suggested in https://github.com/libuv/libuv/issues/2370 but the (unanimous) consensus was to keep the status quo.

[2019-07-11 06:59] silverwind opened #28635 "perf_hooks: expose `performance` global"
Browsers export a [`performance`](https://developer.mozilla.org/en-US/docs/Web/API/Performance) global, and I think we should too if the [`perf_hooks` module](https://nodejs.org/api/perf_hooks.html) is stable enough (and can be lifted from experimental stability) to allow easy usage in isomorphic scripts.

[2019-07-11 07:55] SergeyFromHell opened #28636 "Promise .finally gives UnhandledPromiseRejection even if .catch has been used."
Version: v12.6.0 (but 10+ also has same behaviour)
Platform: Linux sf2 4.15.0-52-generic #56-Ubuntu SMP Tue Jun 4 22:49:08 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
Subsystem:Promises

If one use promise.finally(..), it leads to unhandled promise rejection warning despite the .catch(..) handler also used.

Example code:
`const p = Promise.reject(new Error('BOOM'));`
`p.catch(() => {});`
`p.finally((

[2019-07-11 08:39] bzoz commented on #28633
Can't reproduce:
![image](https://user-images.githubusercontent.com/17704638/61035827-26211600-a3c8-11e9-8f97-f9c92d0ab924.png)

[2019-07-11 09:15] OJezu commented on #4048
Azure LB has a policy of black-holing TCP connections that are inactive for 60 seconds by default. TCP KeepAlive would be a godsend there.

[2019-07-11 09:21] deviapriliaas opened #28637 "install expo-cli can't finish, stack in the last line"
Microsoft Windows [Version 10.0.17134.829]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\Users\devia>npm install -g expo-cli
npm WARN deprecated joi@14.0.4: This version has been deprecated in accordance with the hapi support policy (hapi.im/support). Please upgrade to the latest version to get the best features, bug fixes, and security patches. If you are unable to upgrade at this time

[2019-07-11 09:23] Hakerh400 commented on #28636
That is how promises work. You defined `catch` and `finally` handlers on the same promise. The promise then follows both "paths" when resolving/rejecting. One path catches it, but the other contains only `finally`, making the rejection pass throught it, then leading to unhandled rejection. What you probably want is to define `finally` on the promise returned by the `catch` call, for example:

[cod

[2019-07-11 09:45] addaleax commented on #28632
Do you happen to have some kind of reproduction for this?

[2019-07-11 09:55] 9point6 commented on #28063
We are also experiencing OOM errors with this combination (Jenkins + Jest + Node 10.16.0), reverting the node version resolves the issue.

[2019-07-11 10:16] md37 commented on #28637
Works on my PC

[2019-07-11 10:54] bzoz commented on #28599
This is similar to https://github.com/nodejs/node/issues/27198, which was fixed by https://github.com/nodejs/node/pull/27207.

For invalid filenames, `uv_fs_mkdir` returns `UV_ENOENT`, which confuses the `fs.mkdir` function. It constantly creates the parent directory then tries to create the invalid folder.

Made a [libuv PR](https://github.com/libuv/libuv/pull/2375) that makes it return `UV_EINVA

[2019-07-11 10:55] bzoz commented on #28637
@deviapriliaas please fill up the entire issue form, and provide the complete output of `npm install -g expo-cli --verbose`

[2019-07-11 14:47] erasmo-marin commented on #10802
This is not working for me

[2019-07-11 15:21] Lcfvs commented on #28633
@bzoz Same platform ?

[2019-07-11 15:48] sendilkumarn commented on #28527
@bnoordhuis Yeah the random primes are generated when the `bits` is more than 3.

Does it mean we have to update the openssl version in Node?

[2019-07-11 15:52] bzoz commented on #28633
@Lcfvs yes

[2019-07-11 15:58] ChALkeR commented on #28633
@Lcfvs Could you share a screenshot, please?

[2019-07-11 16:29] murgatroid99 commented on #28632
Unfortunately, not yet. I was hoping that someone more familiar with the implementation might be able to see what the error is from the information I have.

[2019-07-11 17:51] kapouer opened #28642 "re2 as safer opt-in regexp engine replacement ?"
Since v8 won't work around the exponential backtracking issue:
https://bugs.chromium.org/p/v8/issues/detail?id=6872
this would address
https://github.com/nodejs/node/issues/9337
without imposing nor actually breaking anything.

I find it extremely bad - and a reason for people to criticize node - that developers can so easily make their applications vulnerable to that kind of DOS.

Also note that

[2019-07-11 19:24] bnoordhuis commented on #28527
`openssl-cli` produces random numbers and that's built against the same version of openssl that node builds with so the issue must be on our side somewhere.

[2019-07-11 19:32] bnoordhuis commented on #28642
I'd say you're in the wrong bug tracker and that you need to take this up with the V8 team.

Irregexp is very tightly and deeply integrated with V8. Trying to replace it would be tantamount to maintaining a fork of V8 in perpetuity. We have a strong 'upstream first' policy so that's not going to fly.

[2019-07-11 19:34] bnoordhuis commented on #28554
This issue has been open for a few days now and no one stepped up (or even spoke up) so I'm going to close it out. Thanks anyway for the report, @renatahodovan.

[2019-07-11 19:34] #28554 closed

[2019-07-11 19:36] bnoordhuis commented on #25274
This issue has been open for half a year without any movement so I'm going to close it out. You're still welcome to file a PR, @kapouer.

[2019-07-11 19:36] #25274 closed

[2019-07-11 19:59] mscdex commented on #28642
Also I didn't see evidence of the V8 team saying they *won't* fix this, but that it's a low priority currently. Of course if someone considered a higher priority and they submitted a fix for the issue, I'm sure V8 would be open to that.

[2019-07-11 20:05] addaleax commented on #28632
@murgatroid99 Okay – this is happening on the client side and it is only happening with the `date` header so far, correct? Do the invalid header names vary from process to process, or from request to request?

[2019-07-11 21:50] addaleax commented on #28088
@smile21 I don’t think there’s a real memory leak here, but rather an underestimation of the actual memory usage by the JS engine; https://github.com/nodejs/node/pull/28645 should address that.

[2019-07-11 22:17] Trott commented on #20750
test-http2-client-upload in particular seems to happen very often, at least based on my casual observations.

https://ci.nodejs.org/job/node-test-binary-windows-2/1985/COMPILED_BY=vs2017,RUNNER=win2008r2-vs2017,RUN_SUBSET=0/console

test-rackspace-win2008r2-x64-4

[code]

[2019-07-11 22:18] Trott commented on #20750
@joaocgreis @jasnell @nodejs/platform-windows Anything we can do to get some movement on this? The Windows CI stuff is in considerably worse shape than anything else right now, and it's mostly this issue I think.

[2019-07-11 22:27] addaleax commented on #28478
@mscdex Feel free to take a look at #28520 and let me know what you think here, it should fully address this issue

[2019-07-12 01:22] deviapriliaas commented on #28637
@bzoz
I tried to run of  npm install -g expo-cli --verbose and this is the output and not finish again like before, what should I do?

![image](https://user-images.githubusercontent.com/48243028/61095570-2845ac00-a47e-11e9-9b80-0934405ed955.png)

[2019-07-12 01:33] deviapriliaas commented on #28637
and I got this
@bzoz
npm WARN tarball tarball data for @expo/traveling-fastlane-linux@1.9.9 (sha512-DKfeDhfeXmYhfM/CT7yiPjyvEMFyLvEDuKU3RIdieMZ3CJOobTkdaOQlQd39VYZ+q1a1qL5QvTiIlPvcSXv9PQ==) seems to be corrupted. Trying one more time.

[2019-07-12 05:07] Lcfvs commented on #28633
I'm really confused, Windows update during the night and, now, I can't reproduce it :|

Sorry for the disturbing, guys.

[2019-07-12 05:07] #28633 closed

[2019-07-12 07:12] johnnysprinkles commented on #25060
Not sure if https://github.com/TooTallNate is active on the `ref` package -- and that's blocking all use of FFI on Node 12...

[2019-07-12 07:40] bnoordhuis commented on #28618
@isiahmeadows Is something unclear?

[2019-07-12 08:11] silverwind commented on #25060
Do we need to keep this open? Node 12 is released and I understand this issue was to track issues before release.

[2019-07-12 08:46] ybiquitous commented on #25060
The head version of `stylus` seems to accept Node 12. See the CI log below:
https://travis-ci.org/stylus/stylus/jobs/552691143#L439

But not released yet…

[2019-07-12 09:10] targos commented on #25060
@silverwind You're right, let's close this.

[2019-07-12 09:10] #25060 closed

[2019-07-12 09:21] vmarchaud commented on #28445
Closing it landed on master

[2019-07-12 09:21] #28445 closed

[2019-07-12 10:24] ronag opened #28650 "eos and pipeline will deadlock if streams are not in assumed state"
Currently, `pipeline` and `eos` does not take into account whether the streams are "valid" or not to begin with.

Consider this potentially common example:

[code]

or less common

[code]

This will fail... even though I believe it should error with a premature close (or something similar)?

Basically `eos` and `pipeline` makes assumptions of the arguments which are not enforced...

[2019-07-12 10:38] ronag commented on #28650
I would suggest that `eos` be updated to work similarly to `on-finished` where the callback is invoked if the stream is already in a "complete" state.

[2019-07-12 10:45] ronag commented on #27916
@lpinca @mcollina This issue has stalled? Can we raise this to node/http? It seems like a more fundamental issue.

[2019-07-12 10:48] ronag commented on #28172
@Trott How do I bring this issue forward? Or if it is being followed up where can I see that? Is there an agenda or something for node/http?

If it's decided that we are not doing anything further that is also fine. I'd just like to know.

[2019-07-12 11:13] ronag opened #28651 "http: deprecate/rename finished in favour of ended"
What is currently the `finished` property in http/1 is actually what is `ended` in the world of streams.

Would it be an idea to deprecate `finished` (e.g. remove from docs and/or add warning) and add an alias/property called `ended` instead to better match the streams spec and avoid confusion?

[2019-07-12 11:19] lpinca commented on #27916
@nodejs/http

[2019-07-12 11:50] ashwinsoni opened #28652 "These dependencies were not found (`fs` and `net`)"
Getting `fs` and `net` missing dependencies error at runtime.

* **Version**: v10.15.1
* **Platform**: Darwin Ashwins-MacBook-Air.local 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64
* **Subsystem**:

## Issue Details:

I am trying to use below npm packages,
https://www.npmjs.com/package/geoip-lite

Below is the error encountered afte

[2019-07-12 12:16] ashwinsoni commented on #28652
Thanks @ChALkeR for tagging.
"These dependencies were not found (`fs` and `net`)" issue occurring to me multiple times in different npm packages as mentioned. So I thought its the issue with node core.

I think its the issue with node build system.
Should it go here? => https://github.com/nodejs/node-gyp/issues

Please help.
Sorry for the trouble.

[2019-07-12 12:32] ulan commented on #28205
I can reproduce the regression. At first glance it seems to be caused by slow progress in marking phase of GC. Investigating.

[2019-07-12 14:34] isiahmeadows commented on #28618
@bnoordhuis Just found the fact libuv itself used filenames and not fds like the others confusing, that's all. Nothing material here, just me reacting.

[2019-07-12 16:31] paulocoghi opened #28655 "http parse error when streaming from buffer"
* **Version**: v12.6.0
* **Platform**: Ubuntu 18.04 - Kernel 5.1.16 - x86_64 GNU/Linux
* **Subsystem**: `http`

Testing range http requests in node, when we the stream from

[code]

to a http `res` of a http server, the http client from node accepts it.

But, when I pipe a Stream of a Buffer, with:

[code]

Curl and browsers accept it, except NodeJS `http` client, that throws:

[code]

---

To tes

[2019-07-12 16:35] nfantone opened #28656 "fs.access throws permission error while checking W_OK on writable dir"
* **Version**: `v10.16.0` (also happening on `v12.6.0`)
* **Platform**: `18.6.0 Darwin Kernel Version 18.6.0` (also happening on  `4.15.0-54-generic Ubuntu`)
* **Subsystem**: `fs`

I'm experiencing a rather unexpected behaviour when trying `fs.access` on a directory that's also an NFS shared mount point. The check for `fs.contants.W_OK` throws `Error: EACCES: permission denied, access '/mnt/test/n

[2019-07-12 17:31] corwin-of-amber commented on #28612
Yes, definitely works, that one. Many thanks!

[2019-07-12 17:40] aktkro opened #28658 "worker_threads is unavailable"
* **Version**:
* **Platform**:
* **Subsystem**:

[2019-07-12 17:43] hiroppy commented on #28658
worker_threads is a Node.js internal module.
https://nodejs.org/api/worker_threads.html

[2019-07-12 20:01] Flarna commented on #20750
I did a short look into test test-http2-client-upload and I can reproduce the issue. The `error` event is emitted on server stream. If I modify the test to wait on the `close` event on server stream before closing server and client the test is stable for me.

[2019-07-12 21:31] ORESoftware opened #28660 "Create fs utility which can modify a file in-place"
I am specifically looking for a feature which can allow me to remove old lines from a log file. I read that `sed -i` can remove lines from a file in-place (without reading the whole file splitting by line and then shifting off lines and then overwriting the file). But I am looking for

So it looks like:

[code]

To determine how many bytes to remove to represent a line, we can do this:

[code]

_b

[2019-07-12 21:31] ORESoftware opened #28661 "Create fs utility which can modify a file in-place"
I am specifically looking for a feature which can allow me to remove old lines from a log file. I read that `sed -i` can remove lines from a file in-place (without reading the whole file splitting by line and then shifting off lines and then overwriting the file).

So it looks like:

[code]

To determine how many bytes to remove to represent a line, we can do this:

[code]

_but I don't know how t

[2019-07-13 01:04] ORESoftware commented on #7938
I cannot seem to read bytesRead or bytesWritten off any of the below streams:

[code]

the jsonParser is a transform stream. Anybody know how I can get the bytesRead/bytesWritten from these kinds of streams? thx

[2019-07-13 01:17] ORESoftware commented on #23324
Anybody know how to get bytesWritten/bytesRead from a Transform stream? When I inspect a stream, I don't see such properties:

[code]

[2019-07-13 03:41] Alkaris opened #28662 "Set home directory for Package.json"
I want to be able to set a home directory for `package.json` but it doesn't follow my config for the paths that I have set. I'm sick and tired of npm always throwing an error because it can't find `package.json` in `/home/user/package.json` I have a dedicated directory for NPM related stuff in `/home/user/.npm` so it SHOULD be looking for it in there.

Why is it trying to force me to have `package

[2019-07-13 03:45] devsnek commented on #28662
issues related to npm should be asked at https://npm.community.

[2019-07-13 04:39] #28662 closed

[2019-07-13 04:55] Trott commented on #28172
Unfortunately @nodejs/http is one of the less active teams. (And one of the people on it that is, in fact, rather active in Node.js core happens to be taking some time off right now.) So it may be necessary to ping a bit more widely to get some activity on this. There's an unspoken rule that, in most cases, you don't ping @nodejs/collaborators without at least first pinging a more focused group. B

[2019-07-13 05:13] Trott commented on #28651
@nodejs/http @nodejs/streams

[2019-07-13 05:25] pavelfeldman opened #28663 "inspector.open(0, undefined, /* wait */true) won't allow communicating inspector.url()"
I'd like to open the first available debugging port and wait for client to attach before I continue execution, so I do:

[code]

This results in a logical deadlock though: in order to get the `inspector.url()`, I need to continue execution. But execution only continues when connection is established over that exact URL I can't get. It makes me think that `inspector.open` does not really make sense

[2019-07-13 05:47] eugeneo commented on #28663
I believe, this will help once it lands: https://github.com/nodejs/node/pull/28453