[2018-12-30 21:05] myf commented on #25283
@bnoordhuis here's from the journalctl, if that help
[code]

[2018-12-30 22:50] cjihrig commented on #25287
Initializing coverage, relies on `path.resolve()`, which uses `process.cwd()`, which hasn't been setup yet. The following patch seems to fix the problem on my machine, which is macOS:

[code]

It might just be simpler to move the coverage setup until after the `process` object is setup in `lib/internal/bootstrap/node.js` though.

[2018-12-30 22:50] addaleax commented on #25287
Thanks for investigating! Joyee probably has an easier time digging in as she’s on OSX as well (I think).

This happens very early during bootstrap, so I assume it’s not that.

[2018-12-30 23:08] cjihrig commented on #25287
Here is an alternative approach that moves the coverage setup to a later point in the bootstrapping process. It sacrifices a bit of core internals coverage, but the process is in a much more usable state:

[code]

[2018-12-30 23:42] bcoe commented on #25287
@cjihrig my preference would be to keep the bootstrapping is early as possible, assuming we can actually raise a build failure if we have a regression like this. If we move initialization too late, it makes it difficult to use `NODE_V8_COVERAGE` for Node's own test coverage, defeating the motivation for a lot of this work -- perhaps we just need to do without the `console.error` message.

[2018-12-31 00:17] #23668 closed

[2018-12-31 00:33] #25096 closed

[2018-12-31 03:30] Trott commented on #23089
https://ci.nodejs.org/job/node-test-commit-freebsd/23126/nodes=freebsd11-x64/console

test-digitalocean-freebsd11-x64-2

[code]

[2018-12-31 03:45] #25238 closed

[2018-12-31 04:10] Krinkle opened #25290 "fs.watch() consistently claims a file in a similarly named directory also changed"
* **Version**: Latest versions of Current and LTS releases: v11.6.0, v10.15.0, v8.15.0, v6.16.0.
* **Platform**: macOS
* **Subsystem**: fs

### Description

When using `fs.watch()` to watch several directories, and changing a file with either `fs.writeFileSync` or `fs.appendFileSync`, an unrelated FSWatcher for a similarly named directory is getting an event.

### Test case

Code at <https://githu

[2018-12-31 04:13] Trott commented on #25290
Any chance you've tried running this on Linux or Windows or anything else on Travis CI or elsewhere? I'm curious if it's macOS-only or not.

[2018-12-31 04:18] Krinkle commented on #25290
Yep, I've got 11 sibling jobs on the same Travis build, for other environments 😃

https://travis-ci.com/Krinkle/sandbox/builds/95971463

[code]

The behaviour is the same across Node.js versions.

Linux:
- event for home/bb/file1

Windows:
- event for home/bb
- event for home/bb/file1

macOS:
- event for home/b/file1 ❓
- event for home/bb/file1

[2018-12-31 06:10] bnoordhuis commented on #25283
If you're using nw.js (which seemingly you are since the crash is in libnw.so), you should report it over at that project. We can't help you with that, I'm afraid.

I'll take the liberty of closing this out, thanks.

[2018-12-31 06:10] #25283 closed

[2018-12-31 06:13] sholladay commented on #25231
@Qix- It _is_ Node's job to provide a useful, intuitive, and reasonably powerful abstraction in its APIs, among which streams and child processes are important ones. Even if we take your viewpoint for granted, that this feature request is borne out of misunderstanding of the API, then this is an opportunity for the core team to learn. Why was it misunderstood by experienced Node.js users? That des

[2018-12-31 06:17] bnoordhuis commented on #25290
I'm > 50% confident that https://github.com/libuv/libuv/pull/2082 fixes this.

[2018-12-31 06:18] bnoordhuis commented on #25223
Ping @bankexing.

[2018-12-31 06:41] Trott commented on #25007
It's looking like this has been fixed, or at least things have changed such that it is infrequent again.

<img width="216" alt="screen shot 2018-12-30 at 10 39 32 pm" src="https://user-images.githubusercontent.com/718899/50555625-eb555d00-0c83-11e9-8a82-e57a756d29ff.png">

Any idea what might have done it? Various C++ changes that have landed lately? More powerful or otherwise different AIX box in

[2018-12-31 06:52] Qix- commented on #25231
@sholladay:

Because they haven't taken the time to learn how process I/O works at the system level. This isn't Node's fault.

This is confirmation bias. We do not have stats on how many people would have "downloaded" `child_process`, nor have we enumerated all of the possible use-cases for child process spawning. `execa` is filling a very specific use-case and taking a lot of opinions about how s

[2018-12-31 07:10] ljharb commented on #25283
@bnoordhuis if this is happening just by invoking `node`, how could nw.js be involved?

[2018-12-31 08:18] ryzokuken commented on #24552
@gireeshpunathil @codegagan I'm sorry that I couldn't take a look at this sooner. I was a bit occupied late November and then this got buried in my notifications.

@bnoordhuis is right, most if not all of the `V8_DEPRECATE_SOON` usage inside core has been taken care of (I made sure to remove a couple of those myself 😛). That said, if you still see any, please feel free to open a PR.

Simple way to

[2018-12-31 10:16] guybedford commented on #25265
@zenparsing thanks for reporting, that would be really great.

[2018-12-31 10:18] guybedford commented on #25265
I guess the main thing is that there is the concept of whether `/` can be standardized as the method of windows paths support. See eg https://github.com/denoland/deno/issues/957.

Personally I do prefer this style in cross-env app development, only doing `\\` replacement when needed in arg parsing, but whether Node should have it by default is debatable.

[2018-12-31 10:44] joyeecheung commented on #25287
For now, using methods that are available earlier during bootstrap sounds good to me (thanks @cjihrig !) though I wonder whether we should postpone the setup to some point later, or move `setup()` to C++. It's hard to imagine how to keep this working if we are going to pursue the snapshot - ideally none of `per_context.js`, `loaders.js` nor the early part of `node.js` should have execution flows t

[2018-12-31 10:53] MindfulMe commented on #23237
Actually, after deleting nginx completely the error disappeared, though I was using the node.js server as a client to receive data from a remote socket.

[2018-12-31 10:53] MindfulMe commented on #23237
So problem is in nginx in my case

[2018-12-31 11:17] joyeecheung commented on #25287
Another way to fix this is to postpone the `coverageDirectory` initialization to a later point - IIUC, the only thing that needs to happen as early as possible is the `Profiler.startPreciseCoverage` dispatch. The initialization of `coverageDirectory` can at least be be postpone to any point prior to user code execution, and that's the only part that has transitive dependency on many other modules.

[2018-12-31 13:15] gireeshpunathil commented on #25007
@trott - AFAIK this is still an issue and I can reproduce this on AIX on master in few iterations.

[2018-12-31 13:26] borisovg opened #25294 "Node 10: close event is still emitted on normal HTTP response"
* **Version**: v10.15.0
* **Platform**: Linux glossy 4.19.0-1-amd64 #1 SMP Debian 4.19.12-1 (2018-12-22) x86_64 GNU/Linux
* **Subsystem**: http

According to #21063 and #21809 in Node v10 HTTP response should not emit 'close' if 'end' was emitted, but it still does:

[code]

output:

[code]

[2018-12-31 13:38] mscdex commented on #25294
`res` in this case is an `IncomingMessage` (a Readable stream), which is [documented](https://nodejs.org/docs/v10.15.0/api/http.html#http_event_close_2) as having a `'close'` event. Also FWIW in https://github.com/nodejs/node/issues/21063 the `res` is a `ServerResponse` (a Writable stream).

[2018-12-31 13:48] borisovg commented on #25294
@mscdex you are correct

This is the output in Node v8:

[code]

[2018-12-31 15:10] bcoe commented on #25287
@joyeecheung you are correct that the `Profiler.startPreciseCoverage` is what needs to have run as early as possible.

Unrelated, shouldn't this have broken tests? we should make sure that our regression tests actually work before we land a fix.

[2018-12-31 15:17] Trott commented on #24593
Another failure on SmartOS, seems off-by-one as in @bnoordhuis's example posted above. Is that a bug in the result or should the test actually permit off-by-one in the timestamp? (*Seems* like a bug but maybe there's a subtlety I'm missing. I haven't looked closely at all.)

https://ci.nodejs.org/job/node-test-commit-smartos/22861/nodes=smartos16-64/console

test-joyent-smartos16-x64-1

[code]

@n

[2018-12-31 15:26] #25294 closed, assigned to nobody

[2018-12-31 15:36] jdalton commented on #25265
It looks like this API [was added without tests](https://github.com/nodejs/node/pull/22506) and this looks like a valid bug.
The [docs for it](https://nodejs.org/dist/latest-v11.x/docs/api/url.html#url_url_fileurltopath_url) show the expected result:
[code]
Currently the actual results on Windows are
[code]
Other file path APIs (`path.normalize`, etc.) appear to return paths with backslashes on Wi

[2018-12-31 16:13] cjihrig commented on #25287
I updated the coverage test in #25289, so this should be caught moving forward.

[2018-12-31 19:40] Qix- commented on #25231
I'm not going to respond to a _reductio ad absurdum_ response such as that. No, obviously we shouldn't be writing pure assembly - that's a comment argument people make in favor of needless abstraction. Talking down to me doesn't help further this conversation.

[2018-12-31 21:05] sy3434 commented on #25214
Nothing has changed.

Finally i upgraded my windows to 8. Now i have not got any problem.

[2018-12-31 21:11] CreatorVilius opened #25297 "[Bug] No ANSI colors support."
* **Version**: v11.5.0
* **Platform**: Windows 10 64-bit
* **Subsystem**:

I am having a bug that node js doesn't support ANSI-colors. When I do, for example: `\x1b[38;2;255;102;102mLorem ipsum\x1b[0m` Lorem ipsum is white. However, if I do same in python, I am getting custom red colour. Is this bug, or ANSI-color for some reason not allowed?

[2018-12-31 22:53] mscdex commented on #25297
It works fine for me with node master and v10.15.0 along with `TERM="xterm-256color"` and LXTerminal.

[2019-01-01 04:55] rsa408 opened #25300 "UNABLE_TO_VERIFY_LEAF_SIGNATURE error in working with ssl configured project."
In the following code, I was trying to check that UUID is already generated or not. I tried to use https.request instead of https.get to check may be the error is solved but the result was the same. Also, I add the key and crt in https.request which is used in loopback SSL config to pass the problem but no difference has appeared.
[code]
console error:

[code]

I tried to also use:

    `const htt

[2019-01-01 04:57] Krinkle opened #25301 "fs.watch() reports removed directory as subdirectory of itself"
* **Affected versions**: Latest release of Current and all LTSes - 11.6.0, 10.15.0, 8.15.0, and 6.16.0.
* **Affected platform**: Linux (ok on macOS/Windows)
* **Subsystem**: fs

### Description

When using `fs.watch()` to watch a directory, and removing that very directory itself, a change event is emitted with a filename matching the directory itself.

To my knowledge, the standard way to obtain

[2019-01-01 06:19] mscdex commented on #25300
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2019-01-01 06:19] #25300 closed

[2019-01-01 12:43] bnoordhuis commented on #25223
proxy-agent is not a built-in module. If your problem is with that module, you should report it over at that project. If you have a test case using only built-ins, we can take another look.

[2019-01-01 15:04] CreatorVilius commented on #25297
Not a Windows problem. As I said, same thing, but in python works as expected. Not in node js though.

[2019-01-01 15:12] seishun commented on #25297
Works fine for me:
![image](https://user-images.githubusercontent.com/988441/50574040-69cb0f80-0de8-11e9-9136-7e9e264dfd87.png)

[2019-01-01 15:13] kapouer commented on #25274
I enabled it on mips and mipsel, but not on mips64el, and it builds fine.

[2019-01-01 15:15] seishun commented on #23735
@Trott This might be possible to fix without changes in libuv, but I would like some input on my idea before I proceed with investigation.

[2019-01-01 15:39] CreatorVilius commented on #25297
![image](https://user-images.githubusercontent.com/31628630/50574200-1b1f7480-0dec-11e9-9842-b9ed2a6f0c7a.png)
It is printing exactly same thing.

[2019-01-01 15:43] CreatorVilius commented on #25297
![image](https://user-images.githubusercontent.com/31628630/50574224-aac52300-0dec-11e9-9983-3c31bb147994.png)
It is exactly printing same thing

[2019-01-01 15:45] CreatorVilius commented on #25297
Nvm, it's problem with Git bash, using CMD it works fine.

[2019-01-01 16:41] Trott opened #25305 "investigate flaky internet/test-uv-threadpool-schedule"
internet/test-uv-threadpool-schedule failed on node-daily-master (the only place where internet tests are run) last night. Considering it was only added two days, that's probably cause for concern?

https://ci.nodejs.org/job/node-test-commit-custom-suites/810/default/console

test-rackspace-ubuntu1604-x64-1

[code]

@gireeshpunathil

[2019-01-01 17:06] gireeshpunathil commented on #25305
@Trott - do you know how many CPUs this (failing) system has? IMO the most probable way this test case fail the way it had, is by real thread (CPU) congestion.

I will see if I can replicate this locally; or else request for CI access, if it is very easily reproduced there. thanks!

[2019-01-01 17:08] gireeshpunathil commented on #25305
if the host type is a single one for this test, I can also calibrate the test for the host - meaning, baseline the ratio of pooled workers for fast I/O vs. slow I/O that suites the host based on its CPU characteristics.

[2019-01-01 17:49] panva commented on #15113
@tniessen JWK format support or at least the ability to export the different key components such as public and private exponents, prime values, and the like for EC keys and so on, essentially the parsed asn.1

This would go a long way towards being able to provide a 100% native JOSE (JWS, JWA, etc) implementation with no dependencies.

[2019-01-01 22:49] tlbdk commented on #15113
Would be nice when it's available for the key object and should be fairly simple with the EVP_PKEY_get* methods:
https://www.openssl.org/docs/man1.0.2/crypto/EVP_PKEY_get1_RSA.html
https://www.openssl.org/docs/man1.0.2/crypto/rsa.html#DESCRIPTION

I guess an api to work directly with public and private exponents, etc.  by fx creating the RSA object directly with EVP_PKEY_set would also make some t

[2019-01-01 23:35] tlbdk commented on #15113
Btw did a quick test with the new key object API for an RSA-SHA256 verification and it about twice as fast as parsing the PEM key on every run, nice work @tniessen :)

[code]

[2019-01-02 00:56] #25287 closed

[2019-01-02 01:44] vtjnash commented on #20348
We've seen the same problem in Julia, and a quick google search reveals others with the problem too. From some more googling, I think MS may have fixed this bug in https://github.com/Microsoft/console/issues/269

[2019-01-02 02:08] Trott commented on #25305
@gireeshpunathil It seems to be a 4-CPU machine:

[code]

[2019-01-02 03:54] petesouthwell commented on #18889
Im glad they had this.. Thanks.

However.  Id not mind a simple.....   memory=grow_as_you_need

RIGHT!!??!??!!

And while were being this fancy.. How about that's the default.... And the guys that'd like to UBER Tame the memory to be exactly so.. Can customize that.  Just a thought!!  Still thanks for informing about the flag.  Appreciated.

[2019-01-02 03:58] emdashbuck opened #25308 "Nodejs Windows installer can break npm"
* **10.15.0**:
* **Windows 10 64-bit**:
* **npm**:

Ran into trouble when installing Node.js in a non-default location - npm didn't install properly (could not call globally from command line). After investigation, I discovered the following in the [npm docs](https://docs.npmjs.com/downloading-and-installing-node-js-and-npm):

A Node version manager is not bundled with the Windows installer, but n

[2019-01-02 07:19] tm8utv commented on #25231
I think that it's too much abstraction.
At first look, I can't understand how it works.

[2019-01-02 08:51] badeball opened #25310 "Fail to load `request-promise-native` with --experimental-modules"
* **Version**: v11.4.0
* **Platform**: Linux c990a581559e 4.19.9-arch1-1-ARCH #1 SMP PREEMPT Fri Dec 14 00:58:26 UTC 2018 x86_64 Linux

Hi,

I've been using experimental modules for some time now, but encountered an issue with node-11.4 in combination with `request-promise-native`. The mentioned module is using [`stealthy-request`](https://github.com/analog-nico/stealthy-require) to do [something

[2019-01-02 10:00] panva commented on #15113
@tniessen Brilliant work, thank you!

At the moment, after obtaining a `PrivateKeyObject`/`PublicKeyObject`, apart from knowing if its public/private and rsa/ec/dsa we know little about it. Having access to the key's components we'd be able to determine its supported sign/verify/key derivation algorithms.

Hence i'd like to see the ability to export/access the different key components such as publ

[2019-01-02 11:42] davidgtonge commented on #15113
I 100% agree with @panva.
Getting access to the raw asn.1 tags and values would be massively helpful and enable a big reduction in the number of dependencies needed to support JOSE (JWK, JWS, JWA, JWT) and OpenID Connect implementations.

[2019-01-02 13:21] hiroppy commented on #24919
/cc @nodejs/streams

[2019-01-02 14:39] Trott commented on #25310
/ping @nodejs/modules

Standard disclaimer: Since modules are experimental, breaking changes can happen at any time, so this might just be one of those things where you (or in this case, perhaps one of the modules in your dependencies) use something that's explicitly unstable and stuff breaks on you unexpectedly.

[2019-01-02 14:41] Trott commented on #25305
Failed again today on node-daily-master:

https://ci.nodejs.org/job/node-test-commit-custom-suites/811/default/console

test-rackspace-ubuntu1604-x64-1

[code]

[2019-01-02 14:44] gireeshpunathil commented on #25305
I am able to recreate the failure locally.
taking strace dumps, I am able to see the libuv fast IO thread is engaged correctly, and is able to finish in time. Looks like there is an issue in the way we are computing the time differences.

in short, the test case is at fault, and needs to be fixed.  I will investigate.

[2019-01-02 14:46] tniessen commented on #15113
Thank you for your kind feedback! I have been discussing ways to access the individual properties with @sam-github. I believe our preferred way of doing this would be via a `fields` property of the key object which would expose the fields of the key. A similar construct could be used to create key objects from these fields. However, there are some challenges in integrating this into Node.js (e.g.,

[2019-01-02 15:04] lance opened #25311 "npm version in 11.6.0 is a pre-release version"
* **11.6.0**:
* **Darwin Callisto.local 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64**:
* **npm**:

I'm not sure if it was intentional or not, but the recent (Dec 26!!) release of `11.6.0` includes npm version `6.5.0-next.0` which I believe should instead be `6.5.0`, released in early December.

This [commit](https://github.com/nodej

[2019-01-02 16:08] joyeecheung opened #25315 "TextDecoder should not output BOM"
Found when porting encoding WPT into core.

Spec: https://encoding.spec.whatwg.org/#concept-td-serialize

Failing tests:

- [wpt/encoding/textdecoder-byte-order-marks.any.js](https://github.com/web-platform-tests/wpt/blob/e44b8b3/encoding/textdecoder-byte-order-marks.any.js)
- [wpt/encoding/textdecoder-copy.any.js](https://github.com/web-platform-tests/wpt/blob/e40affe/encoding/textdecoder-copy.an

[2019-01-02 16:09] joyeecheung commented on #25315
cc @nodejs/i18n

[2019-01-02 16:09] joyeecheung commented on #25315
Sorry, pinged the wrong team @nodejs/intl

[2019-01-02 16:18] addaleax commented on #22940
@nodejs/v8 Any ideas on when the `ValueSerializer` API might exit experimental state?

[2019-01-02 16:49] mhdawson commented on #25209
Unless there has been a problem that would be fixed by locking after some period of time, I'd favor leaving as is.

[2019-01-02 17:25] vtjnash commented on #20348
I've seen that depending on various options (such as turning on the legacy rendering and the capabilities of the program driving the console) the effect can vary from almost instant (visible only as screen tearing) to full loss of cursor for many seconds after all input stops. That all seems to be the fault of conhost though, since I don't see any option for a program to command the cursor to blin

[2019-01-02 17:47] hellatan commented on #25132
a similar issue is happening with the node-s3-client (s3 npm package) - https://github.com/andrewrk/node-s3-client/issues/213

[2019-01-02 18:14] galuh1300d opened #25316 "Provide ES6 support in Node"
I Hope you guys can provide es6 import support and etc in node js, not just experimental but stable version. I need it to improve my coding speed and maybe build next big project, i hope you can provide it this year. Thank You

[2019-01-02 18:15] tlbdk commented on #15113
@panva @davidgtonge, I don't think exposing the undelaying ASN.1 tags would be the best option as this is very format dependent, fx if the key is loaded from an engine or if support for loading JWK keys directly is added in the future. Having a fields property fx with generic names inspired by JWK would be a nicer solution.

@tniessen Would the OpenSSL key API not help with this, it seems to be fa

[2019-01-02 18:42] bzoz commented on #20348
https://github.com/Microsoft/console/issues/269 is an issue with Win10, this is a issue withe the Win7 console (the old, legacy one).

From what I found out:
- only the legacy console is affected
- the cursor disappears when it is moved
- changing blink rate does not affect this, nor does disabling it altogether
- other REPLs are not affected, since they use "line mode"
- Node uses "raw mode" to s

[2019-01-02 19:48] lance commented on #25311
Outstanding PR to fix this: https://github.com/nodejs/node/pull/25234

[2019-01-02 20:03] DaAitch opened #25318 "NAPI: call stack manipulation from native world + more specific throw"
With NAPI, stack traces should show more, than just the entrypoint into native world. It would be awesome, if we could put frames onto call stack with NAPI, to somehow exhibit native side, especially when we throw and need to find where it happened.

Example:
When I use `node-addon-api` ObjectWrap and throw an error with "a bad message" from ctor, because some args are missing, then what I get is

[2019-01-02 20:12] bzoz commented on #21825
@ledmirage use `shell: false` option

[2019-01-02 20:13] vtjnash commented on #20348
For me (on Windows 10), the modern console can show undesirable cursor flickering, but the bad delays only happen with the legacy console enabled. But I see those same effects regardless of whether I'm running just `cmd.exe` or libuv. Additionally, I observe that changing the blink rate does affect this for me, as does disabling it altogether, if I'm using line mode (including through libuv), but

[2019-01-02 20:33] panva commented on #15113
@tlbdk if JWK format was native I'd agree, to some extent. But it isn't and is likely further out than being able to access the key's underlying asn.1 - which at least internally will be needed to support pem to JWK conversion anyway, won't it?

Looking even at the samples i don't see any of them being zero dependency, the `pem > jwk` and vice versa route is there as dependency, this brings a cons

[2019-01-02 20:44] rtouze commented on #20957
It's OK now. Thanks.

[2019-01-02 20:52] jacobheun commented on #24097
@eyz that's correct. I recently got supported added for node LTS versions, but ran out of time to get updates in for node 11. Internal stream behavior changed in node 11 which caused the issue in handle-thing. handle-thing needs to be updated to account for those.

[2019-01-02 22:13] tlbdk commented on #15113
@panva Right now Node.js is using OpenSSL to do the PEM parsing and that internally is doing the ASN.1 decoding to a struct that has the key components, the struct can also manually be populated or read into for any other format/engines OpenSSL supports. The API's I linked gives access to the struct so it should be fairly simple to expose that in the key object. But I have not seen an API's exposi

[2019-01-02 22:44] tniessen commented on #15113
It certainly does, the implementation itself is quite simple. The API design is what we should consider carefully.

TLS already provides ways to access certain properties of the key, but I think @sam-github and I agreed that the property names being used there are not necessarily elegant choices, so I'd be okay with breaking compatibility there.

This is on my list of upcoming features, I am tryin

[2019-01-02 23:09] raymondlaw commented on #11145
Had this same issue,
Wound up ditching the PHP styled `tag[]` notation since node doesn't recognize it as a special case and the braces makes the parsed object harder to work with.

I then used concat with an empty array to force the output into an array regardless of argument count.

[code]

[code]

[2019-01-03 04:37] gireeshpunathil commented on #25007
I guess I got the answer (for the above query) myself as: a mechanism to communicate with the new threads, with the mutex used as a synchronization primitive for the `pthread_cond_t`.

[2019-01-03 04:40] gireeshpunathil commented on #25007
does the mutex `platform_workers_mutex_` get unlocked twice? once when the ScopedLock wrapper goes out of its scope, and next the `unique_ptr` object that was made to point to `PlatformWorkerData` structure on thread entry point goes out of its scope?

[2019-01-03 06:55] bnoordhuis commented on #25274
@kapouer Do you want to open a PR?

[2019-01-03 07:02] bnoordhuis commented on #25318
I can't speak for other JS engines but that's how V8 works by design, it's not a N-API limitation.

Notice how stack traces that come directly from Node.js core look the same way, you only see JS stack frames in them, never C++ stack frames.

I'll leave this open for a bit in case others want to chime in but it's basically a wontfix/cantfix.

[2019-01-03 09:32] ledmirage commented on #21825
@bzoz tried that as well, but the pop up is still there
i am testing on Windows 10.

this is the code snippet:
        const subprocess = child_process.spawn(cmd, args, {
            detached: true
            , stdio: 'ignore'
            , shell: false
        });

[2019-01-03 10:24] benjamingr commented on #25231
Hey 👋

I'm not too happy with how discussion went down here - I feel like the idea proposed by @sindresorhus  was shot down very quickly without first discussing alternatives and options.

I feel like valid and relevant technical points were raised but also some less constructive arguments. I'd love to see some constructive discussion on the pros and cons.

Note that we can do other things for the

[2019-01-03 11:13] panva opened #25322 "generateKeyPairSync doesn't return KeyObject"
* **Version**: v11.6.0
* **Platform**: macOS Mojave (10.14.2) Darwin C02TT3JQHTD6 18.2.0 Darwin Kernel Version 18.2.0: Mon Nov 12 20:24:46 PST 2018; root:xnu-4903.231.4~2/RELEASE_X86_64 x86_64

From `crypto.generateKeyPair` documentation

This documentation part is missing from `crypto.generateKeyPairSync` but you can still omit the encoding objects, then a simple empty object `{}` is returned ins

[2019-01-03 11:39] Qix- commented on #25231
But are we discussing the Promises API or an addition to the existing API? Those are two very different things.

[2019-01-03 11:52] mcollina commented on #25231
@qix I think the underlining problem is how execFile, etc API works with async/await.

As an example, it's not possible to do:

[code]

Overall `execFile` is completely non-promisifiable without an `input` option. I think adding such an option would just improve `execFile`.

I think `input` could be a string, a buffer, or a stream.

[2019-01-03 11:54] bzoz commented on #25308
Sorry, could not reproduce. Installing Node 10.15.0 on Windows 10 to a nonstandard location works for me.

Could you provide more details about your setup? What exactly is not working? Did you had any previous Node version installed?

[2019-01-03 11:56] Qix- commented on #25231
What does `cat` output in this case?

[code]

[2019-01-03 12:38] gireeshpunathil commented on #25007
ok, all previous theories are invalidated with the new findings. I rebased onto 804138093abb2c63cfaba5ee058e18df19b38f3e that has maximum recreate frequency, and got this crash (the consistent pattern in failures in many tests):

[code]

The `v8::internal::ArrayBufferCollector::FreeingTask::RunInternal` code then looks like this:
[code]

expanding the macro `TRACE_BACKGROUND_GC` we get a lot of co

[2019-01-03 14:04] tniessen commented on #25322
Thanks for reporting this! The problem is that the native (C++) key object is being returned, not the JavaScript key object, that's why the object appears to be empty.

[code]

[2019-01-03 14:08] bzoz commented on #20348
Multiple bugs, or maybe using legacy console in Win10?

[2019-01-03 14:10] bzoz commented on #21825
@ledmirage: what is your exact Node version and what exactly are you trying to run?

[2019-01-03 14:14] gireeshpunathil commented on #25007
further testing confirmed that `node::tracing::TracingController::~TracingController()` has occurred through `node::tracing::Agent::~Agent()` prior to the concurrent collection tracing that crashed.

so #25061 that reverses the order (dispose the platform and thereby quiesce the workers prior to agent and tracing disposal), should solve this type of issues.

why e273abc01be9f04511e44cacea20c4f4935

[2019-01-03 14:17] gireeshpunathil commented on #25007
btw, this question
does the mutex `platform_workers_mutex_` get unlocked twice?
still lingers in my mind.

[2019-01-03 15:41] gireeshpunathil commented on #25305
ok, there is the picture:

 - record the start.
 - issue a hundred dns lookup (async). when last one finishes mark the end time of dns
 - issue a file read (async). when done, mark the end time of fs
 - assert that time for fs is at most 1/100th of time for dns.

intent: make sure dns threads (slow IO) do not throttle fs threads (fast I/O)

all is good, except the placement of the time recording.

[2019-01-03 15:47] DimaFil opened #25325 "child_process.spawn runs command inside of a shell even if shell:false or unspecified"
* **v8.15.0**:
* **Linux x86_64**:
* **child_process**:

After update from v8.12.0 to v8.15.0 spawn works incorrectly - it always runs command inside shell.

[2019-01-03 16:00] ljharb commented on #25231
In general, i don’t think a promise-based version of a callback-based api in node should have a different API - that makes it harder to refactor between the forms. If a change is worth making, it’d be worth making in both interfaces, imo.

[2019-01-03 16:19] ZYSzys commented on #25325
Could you please give us some more specific informations or provide the snippet that reproduces your issue  ?

[2019-01-03 17:23] Trott commented on #25305
The fix that this regression test is for is in 11.0 and newer.

But with 11.6.0, running at the command line on a macOS laptop, the test fails for me:

[code]

Of course, results may depend on network, DNS, etc.
¯\\_(ツ)_/¯

It fails on master too:

[code]

Results don't look significantly different for 10.x:

[code]

Changing one line of the test:

[code]

...doesn't change the results other than

[2019-01-03 18:04] ofrobots commented on #25007
This makes sense. Thanks for the investigation :+1:.

[2019-01-03 18:41] szmarczak opened #25328 "`socket.connecting` is false before calling the connect listener"
* **Version**: v11.6.0
* **Platform**: Ubuntu 18.10
* **Subsystem**: net

According to the [docs](https://nodejs.org/api/net.html#net_socket_connecting):

I don't think `socket.connecting` should be `false` before emitting the `connect` event.

Demo: https://runkit.com/szmarczak/5c2e555cc7b0160012352b15

It breaks for example [`http-timer`](https://github.com/sindresorhus/got/issues/687#issuecomme

[2019-01-03 19:15] MylesBorins commented on #22805
/cc @nodejs/build can we get this fixed?

[2019-01-03 21:59] fhemberger commented on #819
Closing this.

There has never been a vocal demand for localized installers from the community, though it would have been nice to have along with our localized website and docs.

[2019-01-03 21:59] #819 closed

[2019-01-04 00:11] sam-github commented on #25328
You didn't say whether you felt the docs were wrong or the behaviour was wrong, but reading behind the lines, I think you found the docs unclear.

Does https://github.com/nodejs/node/pull/25333 help?

[2019-01-04 00:41] kapouer commented on #25274
Not really. I can test the PR on the real mips harware where the linker used to fail without it.

[2019-01-04 01:43] RefinedSoftwareLLC opened #25334 "'crypto' is broken with '--throw-deprecation'"
* **Version**: 11.6.0
* **Platform**: Windows 7 64bit
* **Subsystem**: crypto

module 'crypto' is broken as it doesn't work at all with '--throw-deprecation'.

[code]
[code]

My understanding is that 'crypto' is not deprecated, only crypto.DEFAULT_ENCODING is. So crypto needs to still work with --throw-deprecation! If 'crypto' in its entirity is deprecated, then what is the migration path for cryp

[2019-01-04 01:49] yukap6 commented on #20921
in my case: node 10.2 install error, but ok with node 11.6

[2019-01-04 02:13] cjihrig commented on #25334
I believe this is fixed on master by https://github.com/nodejs/node/pull/23222, and will be released in Node 12.0.0.

[2019-01-04 03:34] nicolashenry opened #25335 "EBADF error sometimes happened after close event"
* **Version**:
v10.15.0
* **Platform**:
Windows 7 64-bit
* **Subsystem**:
fs

Sometimes, an error event occurs after close event (probably because the file is closed while reading), but I can not know if the stream is ready to close the file to prevent this error.

Here is an example to reproduce:
[code]

The result can look like this:
[code]

[2019-01-04 04:12] gireeshpunathil commented on #24992
closing based on @mcollina 's feedback.

I have experimented with a 'workround' in JS side as opposed to the C++ side as attempted in #25044 , that detects the `ENOBUF` situation pro-actively and falls back to slow path (which is always capable to handling any amount of data chunks). Just keeping it here for future reference.

[code]

[2019-01-04 05:08] gireeshpunathil commented on #25305
@Trott - thanks for running many tests, making inferences and the recommendation. I agree that being more conservative with the calculation is the most reasonable thing to do here. But let me wait to hear back from libuv folks once. The key question is: do we think just fair sharing of threads for 2 types of I/O is sufficient here, or do we need to make sure the work done reaches the consumer in a

[2019-01-04 06:21] RefinedSoftwareLLC commented on #25334
Could the following test be added to every internal module?

For each module, have a test that runs on 'node --throw-deprecation' and imports the module. If any part of the module is not deprecated, then just importing should never throw an error. Only accessing the deprecated parts of the module should.

If the entire module is deprecated, this unit test would be marked as failed until manually r

[2019-01-04 07:10] mcollina commented on #24992
My feedback is related to writing down to a stream. However, I think the console.log behavior _is_ a bug when a pipe is used.

[2019-01-04 07:43] Trott commented on #25305
Yes, exactly. That was on Node 10.11 (without the fix). The run above it is Node 10.12 where the fix first appeared. The result there is only 13 ms.

[2019-01-04 08:20] davidgtonge commented on #15113
So I agree with @panva that in an ideal world it would be great to get core JWK support. If there is any

For the majority of use-cases having the features mentioned above:

Would remove the need to even access a `.fields` sub-object.

Having the key properties in a `.fields` sub-object would make exporting to a JWK fairly easy to do in userland, but I still think that it should belong in core.

`

[2019-01-04 09:47] BenukEl opened #25336 "Same RegExp tests have not same results"
* **Version**: v10.15.0
* **Platform**: Linux benoit-laptop 4.4.0-17134-Microsoft #471-Microsoft Fri Dec 07 20:04:00 PST 2018 x86_64 x86_64 x86_64 GNU/Linux
* **Platform**: windows 10 x64
* **Subsystem**:

let pattern = /foo/g;

console.log(pattern.test('foo')); // => true
console.log(pattern.test('foo')); // => false
console.log(pattern.test('foo')); // => true
console.log(pattern.test('foo')); /

[2019-01-04 10:54] ZYSzys commented on #25336
@BenukEl Hi, the truth is that:

See here: https://stackoverflow.com/questions/1520800/why-does-a-regexp-with-global-flag-give-wrong-results

[2019-01-04 11:02] panva commented on #15113
Agreed, generic field names make more sense.

[2019-01-04 11:11] #25336 closed

[2019-01-04 11:12] BenukEl commented on #25336
Ok sorry to this bad bug report...

Thanks @ZYSzys

[2019-01-04 11:45] tniessen commented on #15113
@sam-github @panva @tlbdk Would you expect BIGNUM fields to be exposed as hexadecimal strings or as JS bigints?

[2019-01-04 12:14] tlbdk commented on #15113
@tniessen I would say Bigint for output and Bigint and Buffer for input

[2019-01-04 13:14] szmarczak commented on #25328
I've said that indirectly. Anyway, I'm saying it now: I feel the behavior is wrong.

:+1:, but I still don't know if the described behavior above is right or it's just a bug.

[2019-01-04 15:08] Trott commented on #25305
Today's:

[code]

[2019-01-04 15:59] sam-github commented on #25328
I don't understand why you think its a bug.

You provided code, but what is it about the code that you think is wrong? What do you think it should do differently?

[2019-01-04 16:04] szmarczak commented on #25328
I think it should do differently because the connection hasn't been fully estabilished yet.
The `connect` event occurs when it has been fully estabilished. Until that `socket.connecting` should be true.

[2019-01-04 16:06] szmarczak commented on #25328
Or maybe there's another way to check if the socket has been estabilished?

[2019-01-04 16:51] sergiogiogio commented on #20503
- Version: v11.6.0
- Platform: Linux 4.19.12-arch1-1-ARCH #1 SMP PREEMPT Fri Dec 21 13:56:54 UTC 2018

The [process.stdin](https://nodejs.org/api/process.html#process_process_stdin) example that triggered this still does not work for me in v11.6.0: it still only accepts one character before the program immediately ends. In node v9 the program continuously waits and prints the characters keyed. Doe

[2019-01-04 16:52] sam-github commented on #25328
You don't want to know when the TCP connection is established, it seems you want to know when the TLS handshake has completed. .connecting does not, as you see, tell you that.

Maybe tls.TLSSocket should override the meaning of the `connect` event, and .connecting property, so that the socket isn't considered connected until the TLS handshake has completed.... but that isn't how it was done, and i

[2019-01-04 17:22] sam-github commented on #15113
Using JWK names is insteresting, if possible. They are described in [rfc7518](https://tools.ietf.org/html/rfc7518#section-6) if anyone is looking (took me a while to find them).

If we go that way, wouldn't it make sense to have the property values be JSON compatible as they are in JWK, so they would be [hex strings](https://tools.ietf.org/html/rfc7517#appendix-A) on output, and bigint/buffer/hexs

[2019-01-04 17:26] DaAitch opened #25341 "NAPI: some napi_*_threadsafe_function naming/documentation issues"
#### 1. `initial_thread_count` parameter of `napi_create_threadsafe_function`
I think the name and documentation of parameter `initial_thread_count` in [napi_create_threadsafe_function](https://nodejs.org/api/n-api.html#n_api_napi_create_threadsafe_function) is very confusing.

Without reading node impl, for me it was not possible understand what it does. In context of the methods `napi_acquire/re

[2019-01-04 17:31] avoidwork opened #25342 "fs.lstat() of a linked directory returns `false` from `stat.isDirectory()`"
* **Version**: v10.11.0
* **Platform**: Darwin kuma 18.2.0 Darwin Kernel Version 18.2.0: Mon Nov 12 20:24:46 PST 2018; root:xnu-4903.231.4~2/RELEASE_X86_64 x86_64
* **Subsystem**: fs

It appears that `fs.lstat()` has regressed, such `stats.isDirectory()` will always return `false` regardless if the path is an actual directory.

screenshot example:
<img width="602" alt="screen shot 2019-01-04 at 12

[2019-01-04 17:33] joyeecheung opened #25343 "`process.features`: deprecate it or add more properties?"
Stem from https://github.com/nodejs/node/pull/25291#issuecomment-450671389

Right now, there is an undocumented `process.features` for that purpose, but it has not been well-maintained. It's possible to detect certain features known at build time via `process.config.variables` but that object is mutable in the user land so it's not exactly reliable (whereas `process.features` have been immutable).

[2019-01-04 17:34] addaleax commented on #25342
Your example seems to be working as intended: The difference between `lstat` and `stat` is that `lstat` returns information about the link itself, if the path points to one, so you get information about `./x`, not `../x`. And `./x` is a symbolic link, not a directory.

[2019-01-04 17:35] avoidwork commented on #25342
gotcha, i want `fstat`

[2019-01-04 17:35] avoidwork commented on #25342
thanks!

[2019-01-04 17:37] avoidwork commented on #25342
@addaleax since fstat is for a descriptor, and stat is not for a link, how do you check if a symlink is a dir using `fs`?

[2019-01-04 17:37] addaleax commented on #25343
Mutability is good – I’d be in favour of making `process.features` mutable, too – at the very least, that’s helpful for testing purposes, and accidental changes are incredibly unlikely.

I’d be :+1: on documenting this feature, esp. since I’d assume we can’t really remove it.

[2019-01-04 17:38] sam-github commented on #15113
@tniessen IIRC you thought there was some difficulty with JWK support, was it around the key usage fields? They all appear optional to output, and node would have to ignore them on input.

[2019-01-04 17:40] avoidwork commented on #25342
i need more coffee; i didn't realize `lstat` was intended for the link itself, i erroneously assumed it was a stat for the linked object :D

[2019-01-04 17:40] #25342 closed

[2019-01-04 17:40] avoidwork commented on #25342
<img width="602" alt="screen shot 2019-01-04 at 12 40 26 pm" src="https://user-images.githubusercontent.com/369698/50702096-f0b4fd80-101d-11e9-9fdf-d1f59ac8cc2a.png">

[2019-01-04 17:42] panva commented on #15113
Key usage fields are optional use by a given application. Node just needs to ignore all fields that aren’t the actual key components.

[2019-01-04 17:49] tniessen commented on #15113
That and the problem of Bigint support in JWK.

[2019-01-04 17:49] szmarczak commented on #25328
Nope (maybe?) :smile: I want to see if the TCP connection has been established: for example, `http-timer` needs this - it works with the `http` module too (where TCP socket is used, not TLS) ;)

Good to know ^_^

[2019-01-04 17:51] addaleax commented on #20503
@sergiogiogio I’m not sure why it’s ending after one character in your case (are you using your TTY in raw mode in some way?), but yes, this currently only accepts a single line of input afaict and is therefore still broken.

Also cc @mcollina, the regression test in fe47b8b6a529233ada74dfb979e6164111737fc2 looks like it should test this but apparently it might not?

[2019-01-04 17:55] panva commented on #15113
@tniessen what bigint support? AFAIK all key material is encoded as base64url with no padding

[2019-01-04 18:04] joyeecheung commented on #25343
@addaleax I've took another look, the current behavior and the behavior before https://github.com/nodejs/node/pull/25239 have both been that `process.features` itself is not writable/configurable while the properties on it are (i.e. the object is not frozen).

[2019-01-04 18:07] addaleax commented on #25343
@joyeecheung Okay, sorry for not double-checking myself – then I’m totally fine with documenting `process.features` and otherwise leaving it as it is. :)

[2019-01-04 18:12] mcollina commented on #20503
I agree with @addaleax.

[2019-01-04 18:22] addaleax commented on #20503
Opened a documentation PR at https://github.com/nodejs/node/pull/25344.

[2019-01-04 18:36] sam-github commented on #25328
Then you can use the `'connect'` event and `.connecting` property, and not use the callback to `tls.connect()`. If you want code that works for tls or net, change
[code]
to
[code]

[2019-01-04 18:42] sam-github commented on #22468
Threads are used for more than the threadpool. v8 does some of its work on threads, the inspector runs on a  thread, etc.

[2019-01-04 19:16] szmarczak commented on #25328
You don't get it. This issue is not solved yet.

It's no difference if I add the connect listener through `net.connect()`  or `socket.on('connect, ...)`. Not sure what did you mean here.

I have no idea how many times I've told you that `socket.connecting` becomes `false` before the `connect` event. It's not fully connected. See the demo.

Could you reopen this issue? Otherwise I'll make a new one

[2019-01-04 19:56] tniessen commented on #15113
@panva I mean that Node.js should optimally output bigints, but JWK does not seem to support that (since JSON does not).

[2019-01-04 20:05] mhdawson commented on #25341
I agree both of those can be clarified.  In what you have in section 1, it should probably have a link to the threadsafe chapter so that people can better understand what initial_acquired would mean.

[2019-01-04 20:53] szmarczak commented on #25328
Thanks for your interest, I really appreciate it! 🙌

Here's the example: https://runkit.com/szmarczak/5c2fc4a004d48e001292057c

On the `finish` event `socket.connecting` is false though the `connect` event hasn't been emitted yet. How to prove that it hasn't been fully connected at that point? Is it even possible? (without setting additional `connect` event - there may be a case when it has been a

[2019-01-04 23:10] determin1st opened #25348 "Where is "continue" for event-loop?"
**Is your feature request related to a problem? Please describe.**
This is very common feature, it's implemented in very old back-end engines like FoxPro

**Describe the solution you'd like**
process.halt() / process.resume().. or alike
`process.halt` - pauses current routine only, other events/callbacks run as usual
`process.resume` - resumes paused routine
these functions may take a parameter wh

[2019-01-04 23:21] addaleax commented on #25348
@determin1st Can you explain *what* exactly this feature would do?

[2019-01-04 23:52] davisjam commented on #22468
It's also worth noting that the libuv threadpool is only initialized when it is used for the first time. I don't know if any of the Node startup code uses it (?), so perhaps those threads would only appear if you used one of the corresponding Node APIs?

[2019-01-05 00:30] determin1st commented on #25348
well, it would halt current function/file execution and run events/everything else..
it also needs counter-part to resume/return.

[code]

sorry, i don't know if it possible for node.js.

[2019-01-05 00:55] Floofies commented on #25348
Currently the constructs needed to facilitate this behavior in NodeJS involve a return path up to the top-most asynchronous caller which is the event loop executor itself. It may sometimes require undue technical debt to implement such a return path if such behavior is used often. The alternative solution to "promisify everything" implies wrapping all functions within the async callback in Promise

[2019-01-05 04:30] dcworldwide commented on #20325
`delete package-lock.json & npm i `

Fixed my issue. No need for npm i natives

[2019-01-05 05:25] jaman99 opened #25350 "express-mysql-session AND connect-flash"
When you use connect-flahs messages for you signin its icant work because connect-flash storage in session so when you loginin  express-mysql-session already storage flash session not your login session so you cant login in you website please check it ...

var MySQLStore = require('express-mysql-session')(session);
var flash = require('connect-flash');
app.use(flash());

[2019-01-05 06:34] mscdex commented on #25350
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2019-01-05 06:34] #25350 closed

[2019-01-05 10:46] ORESoftware commented on #25072
@devsnek yeah the cache-require-paths is neat, but it only works on the second run, not the first. I think it would be nice to have something work on the first execution. also a bit tricky when dependencies shift locations in node_modules even if package.json doesn't change. Maybe there is a way to get a hash of the contents in node_modules, but that would take a lot of computational effort lol, s

[2019-01-05 12:20] mcollina commented on #25204
We didn't.

However:

[code]

Works in 8.15.0.

@shrikrishnaholla can you please post a working repro for this?

[2019-01-05 14:52] danuker commented on #23992
Seeing that the `SHASUMS256.txt` file is signed by a different key (`0EFFE1BCEFD9C84E3D098152933B01F40B5CA946`), doesn't the readme need updating?

Right now it says to get a different key:
`$ gpg --keyserver pool.sks-keyservers.net --recv-keys DD8F2338BAE7501E3DD5AC78C273792F7D83545D`

[2019-01-05 16:46] prabodh1194 opened #25353 "Test failing InspectorSocketServerTest.ServerCannotStart"
* **Version**: v11.6.0
* **Platform**: Linux LAPTOP-QI9H38HR 4.4.0-18309-Microsoft #1000-Microsoft Thu Dec 20 12:56:00 PST 2018 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: test/cctest

Hi,

I'm trying to setup node development environment in "Window's Ubuntu subsystem". Make completes successfully. However, there is one failing test:

../test/cctest/test_inspector_socket_server.cc:488: Failure

[2019-01-05 17:47] sergiogiogio commented on #20503
Thanks for the prompt follow-up and action on this issue. I have few issues though:
1- The modified example with the "while loop" even works in node v10 (i.e.  before this fix): the program accepts multiple lines of input. Hence the question: Which test case is this fix addressing?
2- I am not sure the "while loop" is actually expected because the example works as expected with a filesystem stream

[2019-01-05 19:13] adarshsaraogi commented on #23723
can i take this issue

[2019-01-05 19:17] adarshsaraogi opened #25354 "Node version 12"
If you have a question about Node.js that is not a bug report or feature
request, please post it in https://github.com/nodejs/help!

Questions posted to this repository will be closed.

[2019-01-05 19:17] #25354 closed

[2019-01-05 19:49] adarshsaraogi opened #25355 "Node version 12.0.0-pre stream library"
version 12.0.0pre
I have a concern that when I importing the stream library. the object and function list showing in the <repl> console not showing all the object of stream class and also readable and writeable library.

[2019-01-05 20:43] addaleax commented on #20503
That’s because it’s arguably more correct – in fact, this should work for *all* streams since the introduction of streams 3 (i.e. streams with a `readable` event), including object-mode streams.

I don’t quite understand this question.

I’m not sure, but this could also mean that you’re relying on a peculiarity of filesystem streams?

@mcollina One thing I’m wondering, `.read()` always returns all

[2019-01-06 00:41] talbenari1 opened #25359 "Syntax error message sometimes highlights the wrong token for reserved words"
* **Version**: `v11.6.0`
* **Platform**: Linux (`linux-4.20.arch1-1-ARCH`)

When attempting to declare a variable with a reserved word as an identifier name, the `SyntaxError` message thrown will sometimes highlight the wrong token. For example:

[code]

The above code throws the following error:

[code]

However, changing the `let` to a `const` throws this error instead:

[code]

Some additional

[2019-01-06 00:44] addaleax commented on #25359
This is likely a V8 bug. /cc @nodejs/v8

[2019-01-06 03:05] sophister commented on #22468
@davisjam  when I uncomment  the following code, 4 more threads will exist, and they seem to be the `libuv` threads.

[code]

[2019-01-06 05:44] gireeshpunathil commented on #22339
easily recreated in AIX.

Looking at the test case especially the key assertion point:

https://github.com/nodejs/node/blob/6c0162149bc96de44e7596ebb8c668e46256279d/test/parallel/test-fs-read-stream-concurrent-reads.js#L37

and wondering what would be the significance of `3`.

I ran the test several iterations with varying iterations counts, buffer lengths with and without the fix (the test was te

[2019-01-06 07:34] hashseed commented on #25359
@gsathya

[2019-01-06 10:15] mcollina commented on #20503
The fact that they work is not assured, and it depends on low-level file system timing, the business of the operating system, the type of disk, caches, etc. The while loop is necessary in all cases.

It returns a chunk of data, the chunks are not concatenated. The while loop is necessary to consume all data, and it will trigger a new `_read` once the data in the buffer is below highWaterMark. When

[2019-01-06 12:30] #18964 closed

[2019-01-06 14:36] dazinator commented on #24970
Ok thanks for the update ;-)

[2019-01-06 14:56] BeniCheni commented on #22160
Hi, @starkwang. it appears that #24931 took care of `inspector`.

[2019-01-06 15:06] davisjam commented on #22468
@sophister OK, then it sounds like the libuv threadpool is not initialized until a *user* interacts with it. Here, the asynchronous call to `fs.readFile` goes into the threadpool and causes the libuv threads to be initialized.

[2019-01-06 15:18] jasnell commented on #22160
I think we can close this now.

[2019-01-06 15:18] #22160 closed

[2019-01-06 15:33] ledmirage commented on #21825
@bzoz i tried node 10.15 for windows
as mentioned i was running rethinkdb.exe (https://rethinkdb.com/docs/install/windows/)

[2019-01-06 16:41] sergiogiogio commented on #20503
Thanks a lot for this clarification - I believe it would be useful to make this explicit in the Stream documentation (https://nodejs.org/docs/latest-v11.x/api/stream.html#stream_event_readable), and maybe consider updating the example there too. Beyond Stream and Process, a few more documentation pages use "if" instead of "while" and may benefit from an update too: Crypto (https://nodejs.org/api/c

[2019-01-06 19:51] #25110 closed

[2019-01-06 19:59] TimothyGu commented on #25072
This could also be tied to the [import maps](https://github.com/domenic/import-maps) proposal, which could have much of the same effect.

[2019-01-06 23:14] loox37 commented on #12063
Thanks man, solved my issue. Pure logic too! I simply changed the name in the <code>createWriteStream</code> and it worked...

[2019-01-07 00:06] nicolashenry commented on #25335
Please note that the error can also happened on Linux but before the close event:
[code]

[2019-01-07 06:42] #25322 closed

[2019-01-07 07:47] codebling commented on #24970
Your subtle and timely pings have not gone unnoticed. Since I still haven't gotten back to this (yet), I may as well at least explain what I've done.

@dazinator keep in mind that what I'm working on might not exactly a fix for your issue. If I'm right, then the reason you're getting EPERM is that the file (symlink, in your case) that you're trying to delete is locked by another process. With the

[2019-01-07 08:38] bnoordhuis commented on #25325
There's been no follow-up and there's no indication that this is a valid bug report so I'll go ahead and close it out.

[2019-01-07 08:38] #25325 closed

[2019-01-07 08:48] bnoordhuis commented on #25335
I don't know if I agree this is a bug. To me it's expected behavior: the test is simultaneously reading from the file and closing the file descriptor; in other words, it contains a race condition. You should unpipe first and wait for the `'unpipe'` event before closing.

(That said, I can't reproduce locally with master, but that's race conditions for you.)

[2019-01-07 09:01] bnoordhuis commented on #24005
Still happens occasionally, see e.g. [this run](https://ci.nodejs.org/job/node-test-binary-windows/22891/COMPILED_BY=vs2017,RUNNER=win2008r2-vs2017,RUN_SUBSET=1/console).

[2019-01-07 09:10] dazinator commented on #24970
Subtle and timely eh? I'm a cat owner so I regular encounter those traits, every morning in fact, around 6am food time.

Thanks for the explanation. It may well be something is locking the file on windows - the test in question that I am using to repro this error, is using a library to create the file/s in the windows temp directory:

[code]

[2019-01-07 09:46] trgwii commented on #25348
Userspace solution:
[code]

Usage:
[code]

Alternatively, with args:
[code]

[2019-01-07 09:57] greguz opened #25373 "Inconsistent stream events using destroy method"
* **Version**: v8.15.0
* **Platform**: Linux 4.20.0-arch1-1-ARCH
* **Subsystem**: stream

As for official Node.js docs, with a custom *Writable*, the only standard way to know if the stream has finished, is to listen the *finish* event.

[code]

The code above works correctly on both node 8 and 10, with the *finish* event emitted.

[code]

The problem I've noticed is during the usage of the *destr

[2019-01-07 10:08] bzoz commented on #24970
@codebling you might want to open an issue in libuv with your findings first before progressing with this. I think the way it works now (i.e. file being marked for deletion when it is in use instead of failing with `EPERM`) is by design.

[2019-01-07 10:50] nicolashenry commented on #25335
I have to run the example multiple times to reproduce, but in my real case I attempt to destroy the readable stream in the writable close event (before the read end of file because an error happens) so shouldn't it be already be unpiped ? Anyway, I don't see anywhere on the documentation that the destroy method can't be called anytime, so it should be at least documented.
IMHO, the destroy event s

[2019-01-07 11:08] nicolashenry commented on #25335
I have to run the example multiple times to reproduce sometimes (it's more difficult on linux), you may can increase the number to 1000 to have more chances to reproduce.

[2019-01-07 11:10] bzoz commented on #21825
Looks like this `rethinkdb` just needs some console for output. If you set `stdio` option to `inherit` or `pipe` the window will not appear.

Anyway, all this should be documented and added to `windowHide` option description.

[2019-01-07 11:15] nicolashenry commented on #25335
And this is still reproductible with unpipe event:
[code]

An example of result:
[code]

[2019-01-07 12:49] venkatesh-bsv commented on #12101
Hi,

How can user space application avoid messing up terminal.

Any solution found to this ?

Thanks,
Venkatesh.

[2019-01-07 13:00] determin1st commented on #25348
@trgwii thanks for nice try, but it doesn't work for nested functions which use this Halter, every function must be declared as async and every call must be prefixed with await construct. this only adds more complexity.

[2019-01-07 14:06] nicolashenry commented on #25335
@bnoordhuis It seems that waiting for readable event can workaround this issue (there is probably not any running read while this event is emitted), it seems to work but I guess that this is not optimal (note that I tried on big files too):

[code]

[2019-01-07 16:20] rokity commented on #25223
I think we can close this Issue , no?
@bnoordhuis

[2019-01-07 16:37] trgwii commented on #25348
If you want to automatically halt all parent functions too, sync or async, you could do a `while (true);` but that would prevent the event loop from turning as well. These are the options

[2019-01-07 18:22] determin1st commented on #25348
halting is not blocking, it shouldn't eat event loop. i've already made something but you didn't like it :]
all this async *revolution* drives me nuts.

[2019-01-07 18:53] soichih commented on #3175
I am running into this issue when I try to download .tar file via request and piping it to tar.x(). Does this issue imply that the maximum body size that I can download via request.get() is 1G for 64-bit machine?

[2019-01-07 19:31] Trott commented on #24005
https://ci.nodejs.org/job/node-test-binary-windows/22891/COMPILED_BY=vs2017,RUNNER=win2008r2-vs2017,RUN_SUBSET=1/console

test-rackspace-win2008r2-x64-6

[code]

[2019-01-07 20:09] soichih commented on #3175
nvm.. I just had to set "encoding: null" ... which prevents the body to be passed to toString()

[2019-01-07 20:48] advance512 commented on #11865
@eliranamar
Async stack traces @ 12.0

[2019-01-07 21:00] urHuckleberry1 opened #25379 "New isues"
* **Version**:
* **Platform**:
* **Subsystem**:

[2019-01-07 21:01] codebling commented on #24970
@bzoz that might be the case, but I'm hoping that if I can show that the behavior in every other language is to fail, the design will change.

@dazinator [tmp](https://github.com/raszi/node-tmp) definitely [opens a handle on the file](https://github.com/raszi/node-tmp/blob/da4ffbcb00cdee85b4bd8f3e9d251f1424334a28/lib/tmp.js#L243). For the purposes of testing, you can try the [hidden option `discar

[2019-01-07 21:08] urHuckleberry1 commented on #25379
Source code
(zip)

[2019-01-07 21:16] #25379 closed

[2019-01-07 22:39] sam-github commented on #18770
There doesn't seem to be any blockers, or activity, so at @mhdawson 's suggestion, I have PRed the update to OpenSSL 1.1.1a: https://github.com/nodejs/node/pull/25381

Also, I have a branch on top of the basic openssl1.1.1a for TLSv1.2 (and below) where I continue to work through the test suites getting them to either pass when run with TLSv1.3, or identify outstanding work. I'm making progress. I

[2019-01-07 23:10] zbjornson opened #25382 "ENOMEM with exec/spawn - child process tries to reserve as much mem as parent"
* **Version**: v8.12.0 64-bit
* **Platform**: Linux 4.15.0-1026 (Ubuntu 16.04)
* **Subsystem**: child_process

A tiny `exec` call when Node.js is using at least half of the otherwise-available memory causes `spawn ENOMEM`:

[code]

[code]

Apparently this is a common problem when using `fork()`/`clone()`, ~~and using [`posix_spawn(3)`](http://man7.org/linux/man-pages/man3/posix_spawn.3.html) avoid

[2019-01-07 23:11] #23281 closed

[2019-01-07 23:12] zbjornson commented on #25382
This could be the underlying cause of this very popular SO issue for some users: https://stackoverflow.com/questions/26193654/node-js-catch-enomem-error-thrown-after-spawn

[2019-01-07 23:35] #20503 closed

[2019-01-07 23:46] #24129 closed

[2019-01-08 01:05] mscdex commented on #25382
I think something like this would be handled/solved at the libuv level, not node. The libuv issue tracker is [here](https://github.com/libuv/libuv/issues).

[2019-01-08 03:03] ledmirage commented on #21825
@bzoz tried both inherit and pipe and together with windowsHide = true, still no luck
i will probably just accept this for now if no workaround

[2019-01-08 03:09] #25305 closed

[2019-01-08 03:26] cailin-lai opened #25383 "equivalent function to curl --verbose?"
Hi Team,
Is there equivalent function to curl --verbose? See following outputs, it will be good for trouble-shooting connection issue. Thanks!

curl --verbose -I https://github.com

Rebuilt URL to: https://github.com/
Trying 192.30.253.112...
TCP_NODELAY set
Connected to github.com (192.30.253.112) port 443 (#0)
ALPN, offering h2
ALPN, offering http/1.1
Cipher selection: ALL:!EXPORT:!EXPORT40:!EXP

[2019-01-08 04:12] vtjnash commented on #25382
Duplicate of ~~https://github.com/nodejs/node/issues/14917~~?

[2019-01-08 04:37] mscdex commented on #25383
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2019-01-08 04:37] #25383 closed

[2019-01-08 05:05] zbjornson commented on #25382
Not really a dupe. Both are caused by using `fork()`, but different symptoms (`ENOMEM` vs. blocked loop), and this issue isn't addressed by `MADV_DONTFORK` as suggested in #14917. I just tried my repro with a buffer created from `madvise(..., MADV_DONTFORK)`'ed memory, and the `fork()` syscall still failed with `ENOMEM`. Even if the kernel doesn't make the memory available, it apparently still req

[2019-01-08 06:02] naveen1497 commented on #9589
(node:7836) DeprecationWarning:

[2019-01-08 06:03] naveen1497 commented on #9589
gave any solution for these warning, my node is not able connected with my mongodb server

[2019-01-08 06:49] bzoz commented on #21825
@ledmirage sorry to hear that. It worked for me though, maybe there is something in your app that affects this?

Could you verify that a simple script with only the spawn command still exibits this behavior?

[2019-01-08 07:30] joyeecheung commented on #11893
I gave a try at this in https://github.com/joyeecheung/node/tree/blackbox by prefixing the resource names of internal scripts with `node-internal://`, but that result in observable changes in the error stack traces as well - I am not sure if that is acceptable. It is possible to fix up the resource names when producing the error stack traces, but I'd prefer not to hack on the current code and buil

[2019-01-08 08:58] #25328 closed

[2019-01-08 09:02] xiaozhongliu opened #25390 ""Internal HTTP2 error" from @grpc/grpc-js/build/src/call-stream.js:300:22"
I posted [this issue in grpc-node project](https://github.com/grpc/grpc-node/issues/697) at first, but they suggested to post here.

### Environment
* **Version**:
Node: v10.15.0 & v8.12.0 (might exist on multiple node versions)
GRPC: grpc@1.17.0
* **Platform**:
OS: Alpine Linux v3.8 x86_64
* **Subsystem**:
Node installation method: official docker image: node:10.15-alpine & node:8-alpine

### Pro

[2019-01-08 09:56] bnoordhuis commented on #25390
EHOSTUNREACH indicates a (probably transient) network connectivity issue. In other words, this is unlikely a Node.js issue.

I'm closing this out but let me know if you have reason to believe the issue lies with Node.js and not your network.

[2019-01-08 09:56] #25390 closed

[2019-01-08 10:01] bnoordhuis commented on #25382
What does `sysctl vm.overcommit_memory` print on your system?

As you've probably gathered from the issues linked in https://github.com/libuv/libuv/issues/2133, this is not something that is solvable, easily or at all. `vfork()` and `clone()` have their own share of issues.

[2019-01-08 10:02] bnoordhuis commented on #25355
It's unclear to me what you mean. Can you elaborate?

[2019-01-08 10:03] bnoordhuis commented on #25373
cc @nodejs/streams

[2019-01-08 10:04] bnoordhuis commented on #25348
I think this has been answered so I'm going to close it out. If there's still more to discuss, it should probably be moved to nodejs/help.

[2019-01-08 10:04] #25348 closed

[2019-01-08 10:05] bnoordhuis commented on #25318
No one chimed in so I'll go ahead and close this out.

[2019-01-08 10:05] #25318 closed

[2019-01-08 10:07] bnoordhuis commented on #25274
I don't know where to go from here. I don't want to spend a lot of time going back and forth on a PR I can't test myself. Should we close this then?

[2019-01-08 10:13] kapouer commented on #25274
Please no, i'll do the PR but am in the middle of something this week. Can this stay opened for a week ?

[2019-01-08 10:18] bnoordhuis commented on #25223
Yep, I'd say so. Closing!

[2019-01-08 10:18] #25223 closed

[2019-01-08 10:19] bnoordhuis commented on #25214
It sounds like this has been resolved? I'll go ahead and close it out, let me know if I should reopen.

[2019-01-08 10:19] #25214 closed

[2019-01-08 10:34] xiaozhongliu commented on #25390
No, we have bff and grpc service layers, bff relies on grpc. bff is always accessible, but grpc occasionally throws this error when get called by bff.

[2019-01-08 10:49] manniL commented on #25209
There are 3 options in the end:

1. **Don't close** stale issues and **don't lock** them
2. **Close** stale issues but **don't lock** them
3. **Close** stale issues and **lock** them

IMO, option 2 is a fair trade-off and still allows conversations but prunes the backlog.

(Just my 2 cents ☺️)

[2019-01-08 10:55] determin1st commented on #25348
lazy bastards

[2019-01-08 11:07] bnoordhuis commented on #25301
I can confirm the behavior you're seeing and while I agree it's inconvenient, I don't think this is really fixable. Libuv bubbles up the events it receives from the operating system mostly unfiltered.

On macos, it receives just one event. On linux, it receives three. I tried a couple of things but filtering out the first two introduces more issues than it fixes.

[2019-01-08 11:36] piranna commented on #11893
I like the `node-internal://` idea :-) How is it done with URL-based imports? Does they have an `http://` scheme? Regarding local files I don't think it's needed to add a `file://` scheme since it's the default one...

[2019-01-08 12:23] joyeecheung commented on #11893
@piranna If you are talking about ESM import, those are not related to this issue - this is only for core modules which are not ESM, and Node core does not support loading modules from remote either (without custom loaders) so I think `http://` is out of scope as well.

What do you mean by ` it's the default one`? `ScriptOrigin`? Any other API related to the script compiler? There is no default pr

[2019-01-08 13:15] piranna commented on #11893
Yes, I was talking about ESM modules, how are they shown when they are imported from a remote location? Using a scheme? By default I means until ESM all modules has been get from the local filesystem, so I find it like a sane default...

[2019-01-08 13:59] joyeecheung commented on #11893
@piranna That's separate from this thread, core modules are not compiled in the same way as user land modules, and they are not ESM.

[2019-01-08 14:04] nilsauf opened #25392 "Uncaught TypeError: this._socket.write is not a function"
* **11.6.0**:
* **Windows 7 64-bit**:
* **net.js**:

I try to build an opcua-client with node-opcua and till now I am using the simple client sample code to connect to a remote opcua server. Unfortunately the opcua client never finishes to a full connection. I tracked the problem down to the socket object returned by `net.connect()`. It actually connects to the server, but apparently there is no w

[2019-01-08 14:16] determin1st commented on #25348
![1024px-yin_yang svg](https://user-images.githubusercontent.com/16524081/50835964-d9f20c00-1379-11e9-8244-2171630cfc13.png)

[2019-01-08 14:48] Trott commented on #25007
@addaleax @gireeshpunathil @ofrobots Based on https://github.com/nodejs/node/issues/25007#issuecomment-451154661, I'd be inclined land https://github.com/nodejs/node/pull/25061 in its current state (removing the WIP label). Would you agree or is it preferable to figure out more about why e273abc amplified the existing problem (on AIX, at least)?

[2019-01-08 14:56] Trott commented on #22327
Just in case the lack of activity here is misleading, this is still an issue.  https://github.com/nodejs/node/issues/22327#issuecomment-438880432 seems to be the place with the most relevant information although I suppose there's a chance it may be out of date.

Here's a failure from the last node-daily-master run:

https://ci.nodejs.org/job/node-test-binary-windows/22925/COMPILED_BY=vs2017,RUNNER

[2019-01-08 15:03] gireeshpunathil commented on #25007
I am in favor of landing #25061 as a remedy to the current exit race situations; while addressing pre-existing issues on a case basis.

[2019-01-08 15:12] benjamingr commented on #25348
@determin1st name calling is not appropriate. Please see [how to conduct yourself in the repo](https://github.com/nodejs/admin/blob/master/CODE_OF_CONDUCT.md) if unsure.

I have deleted the offending comment. I'm looking forward to more constructive and meaningful interactions with you in the future.

[2019-01-08 16:17] sam-github commented on #25209
2. is interesting, close but don't lock, but I think we'd want to do it based on activity, not time of opening. The literally oldest issues by open date actually have some activity, some of them are long-term  tracking issues. Its more in the middle (not oldest, not most recent) where there seem to be some issues that could be dropped if there is no activity.

[2019-01-08 16:40] vtjnash commented on #25382
@bnoordhuis Can you point me in the right direction for the issues you've encountered with using `vfork`? I've tried to search the issue tracker and commit history, but seemed hard to discover back that far. I've seen a couple references to cases where it was seen to have issues (such as libc developers arguing about it https://sourceware.org/bugzilla/show_bug.cgi?id=10354), but `fork` seems to sh

[2019-01-08 17:11] sam-github commented on #25383
@cailin-lai I have code locally to enable TLS trace output, but formalizing it into an API is a fair amount of work because there are many choices to be made, with lots of tradeoffs. There are two callbacks that give information about TLS progress (at different granularity). There are multiple ways to format the info from the callback, and  one of the ways of formatting the info isn't even compile

[2019-01-08 17:14] sam-github commented on #25383
@mscdex While this was formulated as a question, I think it implies a feature request. I don't know if its worth keeping open to track, though, our issue tracker could grow without bounds, and its surely not `good first contribution` material.

[2019-01-08 18:10] adhivenkatesh commented on #22630
i have tried all node_modules delete,package-lock-.json and reinstalled npm , nothing worked form help please ....

=========================
throw new ERR_INVALID_ARG_TYPE('id', 'string', id);
    ^

TypeError [ERR_INVALID_ARG_TYPE]: The "id" argument must be of type string. Received type undefined
    at Module.require (internal/modules/cjs/loader.js:631:11)
    at require (internal/modules/cjs/

[2019-01-08 19:05] bnoordhuis commented on #25274
Sure, no problem.

[2019-01-08 19:10] bnoordhuis commented on #25382
The biggest issue for libuv is that `vfork()` doesn't run `pthread_atfork()` handlers. That might be surmountable for Node.js but add-ons might be a problem.

Linux's overcommit logic has been overhauled several times in the last years. I wouldn't know where exactly it stands now without checking the source (and also of past releases.) :-)

[2019-01-08 19:19] bnoordhuis commented on #25390
The EHOSTUNREACH error is reported by the operating system. Node.js just bubbles it up to JS code.

Put another way, it's the operating system that thinks there's no network connectivity, not Node.js. If you traced Node.js with e.g. strace(1), you'd see a read() system call that returns that error.

[2019-01-08 19:21] davidmarkclements commented on #25231
I'm indifferent to whether the input option is added or not, but I don't think the promise argument is relevant. This is a common issue with `await` and promises that are tied to additional interaction, the solution in both cases is to use a different pattern:

[code]

[code]

Seems to me that the implementation would just call `stdin.write(options.input)`, so for the second case, output would be

[2019-01-08 19:22] bnoordhuis commented on #25392
Do you have a test case that doesn't involve third-party modules? If not, you should reach out to node-opcua because it's unlikely to be a Node.js bug.

[2019-01-08 19:45] sam-github commented on #25209
@manniL That last seems really helpful to me. I think a few people have been basically doing this manually, @trott and @bnoordhuis leap to mind, and it must be pretty tedious. Automating the nudge and closing out the issue if no one responds seems really useful.

Is the locking which was done in the example you linked required, or can it just be closed?

[2019-01-08 19:59] manniL commented on #25209
@sam-github `lock` and `stale` are two different bots, so no, you can use only `stale` and don't lock up issues at all :relaxed: You can also prevent issues with a certain label from becoming stale.

Our config for the stale bot can be found [here](https://github.com/nuxt/nuxt.js/blob/dev/.github/stale.yml) :relaxed:

[2019-01-08 20:32] zbjornson commented on #25382
@bnoordhuis the default `overcommit_memory` was 0. The OP repro run with the three options:

0 - ENOMEM
1 - okay
2 - ENOMEM (with additional difficulty allocating the buffer in the first place)

Aside from that workaround (possibly viable) or adding swap (not viable), for my specific situation I'm looking into a PR to make https://github.com/googleapis/google-auth-library-nodejs either not [exec](

[2019-01-08 23:57] ZYSzys commented on #25070
+1 here: https://ci.nodejs.org/job/node-test-commit-linuxone/nodes=rhel72-s390x/9094/testReport/junit/(root)/test/parallel_test_fs_realpath_pipe/
[code]

[2019-01-09 00:22] addaleax opened #25403 "Help wanted: Backporting to v11.x"
Hi @nodejs/collaborators ! Backport requests to `v11.x-staging` are queuing up and it’s getting pretty problematic.

If you feel like you can pick up items from https://github.com/nodejs/node/issues?page=2&q=label%3Abackport-requested-v11.x+is%3Aclosed, in particular some of the older ones, that would help a *lot*. The backporting guide is [here](https://github.com/nodejs/node/blob/master/doc/guid

[2019-01-09 03:10] cailin-lai commented on #25383
Thanks @sam-github.
Hopefully, the SSL Trace function will be integrated in the near feature.
Well, I will take tries to see whether or not we can get some info by node debug.
Appreciate for help!

[2019-01-09 03:36] mscdex opened #25408 "doc: `os.networkInterfaces()` example outdated"
* **Version**: master
* **Platform**: n/a
* **Subsystem**: doc

The [`os.networkInterfaces()`](https://nodejs.org/docs/latest/api/os.html#os_os_networkinterfaces) example is outdated as the IPv6 interfaces do not include the `scopeid` property.

[2019-01-09 03:38] bjarketrux commented on #11865
Detailed information about the implementation: https://docs.google.com/document/d/13Sy_kBIJGP0XT34V1CV3nkWya4TwYx9L3Yv45LdGB6Q/edit

[2019-01-09 06:43] #25268 closed

[2019-01-09 07:20] spitWind commented on #22049
how to rebuild  node.js only  kernel     /*.js
i want to update kernel v8 but dont want to Compile all @ubaniak  @refack

[2019-01-09 07:56] MariasStory opened #25411 "crypto - expose partial state of hash functions"
I need to save status of the hashing (in case it is interrupted).

var hash = crypto.createHash('sha1');
...
hash.update(buffer);
...
**Now I need to save the hash object.**
...
**Later, I want to load the hash object and continue hashing.**

[2019-01-09 09:23] MariasStory commented on #25411
Also, what would be the way to do multiprocessor hashing?

[2019-01-09 11:14] greguz commented on #25373
Thank you for the response.

Just for info, I've noticed the same behavior with Readable streams. I've also found a workaround, a *setImmediate* (nextTick does not work) on *end*, *finish* and  *close* event callbacks does the trick.

[2019-01-09 11:14] #25373 closed

[2019-01-09 13:08] viferga commented on #23265
Hello guys, sorry for being late but this may be interesting.

Recently I have released MetaCall (https://github.com/metacall/core). It allows to easily embed NodeJS into C. MetaCall is a library that allows calling functions between multiple languages, but NodeJS is one of them. I am using this library to build a high performance FaaS (Function as a Service).

This is an example of embedding Node

[2019-01-09 13:31] jvelezpo commented on #25408
i will work on it this afternoon 😎

[2019-01-09 14:59] Trott opened #25416 "investigate flaky parallel/test-tracing-no-crash"
https://ci.nodejs.org/job/node-test-binary-windows/22946/COMPILED_BY=vs2017,RUNNER=win10,RUN_SUBSET=3/console

test-azure_msft-win10-x64-3

[code]

[2019-01-09 14:59] Trott commented on #25416
Haven't looked at it, but offhand, any chance this is related to https://github.com/nodejs/node/issues/25007?

[2019-01-09 15:18] BridgeAR commented on #22314
@jraoult you said that the issue is _not_ present on v.10.15? Could you check since what 10 version this changed?

[2019-01-09 15:23] jraoult commented on #22314
@BridgeAR sure, I'll try to do a "bisect" asap. Bear with me.

[2019-01-09 15:40] BridgeAR commented on #16164
@mlippautz @bmeurer @hashseed shall I open an issue on your bug tracker? I guess it's easier for you to further look into the differences here?

[2019-01-09 15:54] BridgeAR commented on #21465
Closing as resolved (v11+). I just checked and floating the patch in v8 would require to resolve multiple conflicts, so I don't think it's worth it.

[2019-01-09 15:54] #21465 closed

[2019-01-09 16:02] parzibyte commented on #13018
Yes, as others have pointed, probably your server is out of memory. Try to stop (temporaly) the heavy processes and then build again; or add some swap memory.

[2019-01-09 16:44] sam-github commented on #25411
Sorry, I don't understand. To where do you wish to "save" the hash object?

You have a hash object, put it somewhere, it will continue to exist, you can continue to update it anytime you want. You don't have to do it sequentially.

Are you asking to be able to "duplicate" a hash object, so you can call `.digest()` on one, and then keep calling `.update()` on the other to add more data, before call

[2019-01-09 18:35] mike-kaufman commented on #24687
Any update here?  Seems like the [v8 CL](https://chromium-review.googlesource.com/c/v8/v8/+/1354245)  is still open with some pending comments?

[2019-01-09 18:36] Trott commented on #25068
@gireeshpunathil Here it is failing on FreeBSD in CI yesterday:

https://ci.nodejs.org/job/node-test-commit-freebsd/nodes=freebsd11-x64/23246/console

test-digitalocean-freebsd11-x64-2

[code]

To reproduce it, you *might* have more luck with something like `tools/test.py -j 16 --repeat 100 test/parallel/test-util-callbackify.js`.  (But you also might not...)

[2019-01-09 18:59] Trott commented on #16601
If you have `node-core-utils`, you can do `ncu-ci walk commit` to get all recent failures and grep the results for the test you care about.

I'm running it right now so I'll let you know.

It prints stuff to stderr so I do `ncu-ci walk commit 2>&1 | tee out.txt` to put it into a file.

[2019-01-09 19:13] Trott commented on #16601
@gireeshpunathil No recent failures. I'll close this. Thanks!

[2019-01-09 21:54] uttampawar commented on #24928
@bnoordhuis If you can be a mentor and guide me, I would like to help out on this issue.

[2019-01-09 22:28] guybedford opened #25424 "vm: Script importModuleDynamically memory leak"
* **Version**: master
* **Platform**: Linux
* **Subsystem**: VM

While investigating #21573 I was interested in understanding why we are storing the `importModuleDynamically` callback in a weak map, as that surely means that it can be GC'd if there is an indeterminate time before the `import()` function in the module is called.

I may or may not have diagnosed the issue correctly, but the test cas

[2019-01-09 23:14] devsnek commented on #25424
I think this is because there would be no entry in `env->id_to_script_map` if the script was collected... @nodejs/v8 would there be a way to ref the script object to execution that comes from it? (like microtasks created as a result of that script's execution would ref the script until those microtasks ran, etc)

[2019-01-10 01:15] BridgeAR commented on #25403
The numbers of open backport requests is now down by ~40%. Most still open ones do not seem to be trivial to backport though.

[2019-01-10 01:57] gireeshpunathil commented on #25068
thanks @Trott for the info; I will try my luck on __freebsd__ today.

[2019-01-10 04:17] sam-github commented on #25403
Looks like the ones left are mostly @joyeecheung , a handful of @addaleax , and one @cjihrig --- the master refactors are great, but if they aren't backported they might form a wall beyond which even small changes won't cherry-pick without conflict.

[2019-01-10 04:49] gireeshpunathil commented on #25068
able to reproduce in `__freebsd__`

[code]

this is essentially the same as #24921 , tracked through #25007 with 2 visible differences:

 -  in thread 2 is in its exit route due to a fatalException in the JS land  - which is excepted as the child ('test/fixtures/uncaught-exceptions/callbackify1.js') is actually throwing an exception that leads to its termination.
 - while thread 2 is thus cleaning

[2019-01-10 05:37] jitendra-kr commented on #24698
@cjihrig @FredLackeyOfficial @Trott I am using v10.15.0 but recursive option is not working.

[2019-01-10 06:13] bnoordhuis commented on #25382
@vtjnash There is (or was) at least one shared memory add-on module that uses `pthread_atfork()` so I don't think it's out of the question that other add-ons exist that, directly or indirectly, rely on the current behavior.

I say "indirectly" because add-on X might depend on shared library Y, which in turn depends on a functioning `pthread_atfork()`. Since that's impossible to audit for, I'd be u

[2019-01-10 06:42] gireeshpunathil commented on #25068
got a bunch of those. So while the victim thread shows always the same stack at tracing, the offender thread (exiting thread) are seen at these different stages, with `__cxa_finalize` as a common vortex:

pattern 2:
[code]

pattern 3:

[code]

pattern 4:

[code]

Just like #24921 , this should be fixed by #25061 .

[2019-01-10 08:57] gireeshpunathil commented on #25416
could not recreate this in my win10 box when ran a 5000 times, but on freebsd I got one:

[code]

As the JS failure location and the exception stack is same as in the windows case, it is reasonable to believe this is what happened in windows.

And if so, this is the manifestation of issue described in #25007, and potential fix in #25061

[2019-01-10 09:23] mhelvens commented on #23220
@addaleax *poke*

[2019-01-10 09:44] hktalent commented on #20793
me too
(node:51484) [DEP0010] DeprecationWarning: crypto.createCredentials is deprecated. Use tls.createSecureContext instead.
(node:51484) [DEP0064] DeprecationWarning: tls.createSecurePair() is deprecated. Please use tls.TLSSocket instead.

[2019-01-10 10:19] gireeshpunathil commented on #25070
again, recreatable in freebsd:

[code]

[code]

and matches all symptoms from #25007 , potential fix in #25061

[2019-01-10 10:49] ZYSzys commented on #25158
ping @nodejs/streams again.
Did the documentation change in #25375 fix this issue enough?

[2019-01-10 10:57] mcollina commented on #25158
Yes, I think so.

[2019-01-10 11:44] Dev-Yukine opened #25431 "/usr/local/bin/node[1096]: ../src/node_buffer.cc:219:char* node::Buffer::Data(v8::Local<v8::Object>): Assertion `obj->IsArrayBufferView()' failed."
* **Version**: v10.15.0
* **Platform**: Linux 75b33affa691 4.15.0-23-generic #25-Ubuntu SMP Wed May 23 18:02:16 UTC 2018 x86_64 Linux
* **Subsystem**:

My Node application crashes randomly with the message
[code]

This issue occoured when updating from v10.13.0 to v10.15.0, i've not tested if reverting fixes it but i will update this issue shortly when i can test that.

[2019-01-10 11:45] gireeshpunathil commented on #25033
[code]

[code]

Again, the usual suspects. linking #25007 and #25061

[2019-01-10 12:36] joyeecheung commented on #25403
One observation: the relationships between the PRs pending backports seem to be similar. If the commits touching a particular file are landed on master as A-B-C-D-E...-Z, oftentimes is no point trying to cherry-pick B/C...Z without backporting A first (where A may happen to require a manual backport in nature, e.g. it's semver-major). It usually makes the situation worse if one of the later commit

[2019-01-10 12:39] guybedford commented on #25424
Note that I can fix the issue here as well by switching the WeakMap back into a Map.

I have some ideas for refactoring some of this to match the script lifetimes, may see if I can put something together.

[2019-01-10 12:53] joyeecheung commented on #25403
Is the current cherry-picking process done manually (as per https://github.com/nodejs/node/blob/master/doc/releases.md#1-update-the-staging-branch ) or is that streamlined somehow?

[2019-01-10 13:33] guybedford commented on #25424
@devsnek ok so it seems like the underlying issue here is that we don't have any idea from v8 when to dispose the import callback function as that would involve knowing when all the microtasks of the top-level execution have run to completion which we can't hook into.

This would require new work from v8 to properly handle.

In the mean time we need a solution.

It seems like our options are:

1.

[2019-01-10 14:02] gireeshpunathil commented on #25028
easily recreated if you run this a hundred times in freebsd

`node --perf-basic-prof -e 'console.log("B")'`

[code]

[code]

this corresponds to:

https://github.com/nodejs/node/blob/a6f69ebc05f4033b012b523661f6c3f62f3469b1/deps/v8/src/log.cc#L294-L296

truss output showed this:
[code]

[code]
so this is basically a temporary name collision. Unlikely to happen on production. One of:

 - clean up t

[2019-01-10 14:11] guybedford commented on #25424
Hmm there's an even bigger memory leak problem here and that is the following:

1. The problem in this issue thread is that if I set importModuleDynamically on a script, we need to make that callback function persistent in order to ensure it will be available as `import()` could be called at any time. Keeping these callbacks around for all created scripts is a memory leak.
2. Now importModuleDynam

[2019-01-10 15:13] sam-github commented on #25028
Am I reading this correctly, its pid reuse which is causing the tmpfile name collision? Is it possible to configure freebsd to use a larger pid space so the reuse doesn't occur during our tests runs? And does this point to a problem with the tempfile name generation?

[2019-01-10 15:36] sam-github commented on #25403
I've noticed the issue with out of order backports as well, things can get progressively worse.

I haven't worked actively on LTS branches in the last year, but the process is pretty flexible. The -staging branches can be rewritten, its not necessary to "git revert" commits on them, for example, they can be dropped. I'm not sure what the meaning of `backport-blocked-vx.y` would be. The meaning of

[2019-01-10 15:40] gireeshpunathil commented on #25028
@sam-github - yes, this is an issue with PIDs in small ranges that get re-used often, but when composed into file names that is being used by different users causes permission issues, leading to temp file generation failure.

I don't know the admin command to change the PID pattern, and do not have the permission to try that even if I know; though widening the PID even by one digit should resolve

[2019-01-10 15:40] Civiubie commented on #17080
i have the same issue now but after Fall Update 2018. If i try to built my css files via gulp it stucks at the first symlink `Error: EPERM: operation not permitted, scandir 'C:\Users\CL\VM\testCMS\clients\test\web\boot'`

CMD `10.01.2019  11:02    <SYMLINK>      boot [..\boot]`

Before the windows update the process worked fine. I wasnt able to fix this error yet, i will continue trying with a dif

[2019-01-10 15:43] gireeshpunathil commented on #25028
on a side note: though I recreated this in `__freebsd__` and the issue is 100% same with the original report, the original failure was reported in `arm`. So I am wondering whether fixing it at the host level would be  the right thing or not.

[2019-01-10 15:48] sam-github commented on #25028
Perhaps the test should use the env to set the temp directory to per-user location, like `$PWD/out/Release`, to avoid conflict? Perhaps in tools/test.py?

Though I'm a bit confused, are multiple users running the node tests at the same time? If there are multiple parallel test runs by the same user, permission problems shouldn't occur, though other conflicts could.

[2019-01-10 15:52] gireeshpunathil commented on #25028
I don't know; let us ask @nodejs/testing and @Trott

[2019-01-10 16:01] gireeshpunathil commented on #25028
for this `__freebsd__` failure instance: I use `freebsd` user name whereas the username for CI runs seem to be `iojs` and that could have triggered this issue. However, given the failure is exactly the same in CI runs as well, its root cause also can be assumed to be the same; i.e, multiple usernames in CI that conflicts when temp files are composed.

[2019-01-10 16:37] kadler opened #25433 "fs.readFile of directory on IBM i returns "Unknown system error -64" instead of "EISDIR""
* **Version**: v10.15.0
* **Platform**: OS400 wernstrom 2 7 0010000ACBAA Os
* **Subsystem**: fs

Since upgrade of libuv to 1.23.2 in https://github.com/nodejs/node/pull/23336, fs.readFile on a directory on the IBM i platform returns "Unknown system error -64" instead of `EISDIR`. (64 is `EOPNOTSUPP` on IBM i/PASE). Reproducing the problem is really easy:

[code]

On Linux and macOS, this returns `

[2019-01-10 17:03] sam-github commented on #25433
@nodejs/platform-aix

@gireeshpunathil just a check, you are in the above group?

[2019-01-10 17:12] sam-github commented on #25433
If the only cause of `EOPNOTSUPP` is that the fd refers to a directory, mapping it to `EISDIR` is obvious, but what if the fd is something else other than a directory that does not support `read()`? In this case, `EISDIR` would be wrong.

Perhaps if read() returns `EOPNOTSUPP`, it can fallback to the `fstat()` and return EISDIR if it was a dir, and just pass back ENOTSUPP otherwise? This would mov

[2019-01-10 18:04] sam-github commented on #25433
It should be in libuv. I suggest opening a PR there.

[2019-01-10 19:34] bnoordhuis commented on #25335
@nicolashenry Your example from https://github.com/nodejs/node/issues/25335#issuecomment-451902616 doesn't call `readStream.unpipe(passthrough)` explicitly, it only waits for the `'unpipe'` event.

[2019-01-10 19:39] bnoordhuis commented on #25431
Can you obtain a stack trace? If you turn on core dumps (`ulimit -c unlimited`), you can inspect it afterwards with `gdb /usr/local/bin/node /path/to/core`; `bt` prints a backtrace.

[2019-01-10 19:40] bnoordhuis commented on #24928
@uttampawar Thanks. Just ask questions and I'll try to answer them.

[2019-01-10 19:44] bnoordhuis commented on #25308
I'm going to close this out because there's been no follow-up. Please reopen if necessary.

[2019-01-10 19:44] #25308 closed

[2019-01-10 19:45] mhdawson commented on #22805
@gdams might be able to look at this, but he needs to get the additional AIX machine added first.

[2019-01-10 19:51] bnoordhuis commented on #24940
@santigimeno Is the conclusion here that there's no actual bug? Because in that case the issue can be closed out.

[2019-01-10 20:05] stephsavoie commented on #24735
I'm also experiencing this issue but with another file.

Context:  Project is build using Maven and it's frontend plugin triggers the `npm run build` command.

Locally on my Mac, that command `mvn clean package` build the project successfully.   But when the exact same process is done using our automated build tools (Bamboo triggers the maven command) on the server,  I get the error below:
[code]

[2019-01-10 20:13] fxdave opened #25435 "fs.promises API is working but why"
* **Version**: v10.15.0
* **Platform**: Linux dbiro 4.20.0-arch1-1-ARCH #1 SMP PREEMPT Mon Dec 24 03:00:40 UTC 2018 x86_64 GNU/Linux
* **Subsystem**: filesystem

Details:

electron-userland/electron-webpack#255

In short:

Here it is the implementation of getOptions:
[code]

But this code is working:
[code]

[2019-01-10 20:52] cjihrig commented on #25435
Are you asking why that code works as expected in Node, but not in electron-webpack? If so, you'd have to take that up with the electron-webpack team.

[2019-01-10 22:58] fxdave commented on #25435
@cjihrig This code shouldn't work based on the "getOptions" function.

[2019-01-10 22:59] mhdawson commented on #25060
@NickNaso, for bcrypt in the list above I know there is a N-API port.  Can you clarify if this helps in this case?

[2019-01-10 23:43] richardlau commented on #25435
Wasn't this fixed by https://github.com/nodejs/node/pull/20268?

[2019-01-10 23:58] guybedford commented on #25424
In terms of moving forward here I'd be interested to hear your thoughts @devsnek.

One architecture I was thinking of that could avoid the need for a v8 API here could be to move the `importModuleDynamically` callback to the `vm.createContext` function so that the lifetime of the dynamic callback is tied to the lifetime of the context rather, this avoids the memory leak of the dynamic callback its

[2019-01-11 00:32] devsnek commented on #25424
@guybedford a handler per context won't allow people to create and use this in the main context, which seems like an annoying limitation.

as for keying by property... we need to store the data on the native side (ContextifyScript/ModuleWrap) to keep the api unforgable.

[2019-01-11 00:52] nicolashenry commented on #25335
@bnoordhuis So 'unpipe' event is not the result of an unpipe ? From what I understood destroying a stream is calling unpipe since 'unpipe' event is triggered. :/

Anyway it is still happening with explicit unpipe call:
[code]

The result:

[code]

[2019-01-11 01:30] fxdave commented on #25435
@richardlau You are right, then I got wrong source from debugger. Closing it.

[2019-01-11 01:30] #25435 closed

[2019-01-11 03:07] Trott commented on #25028
I believe FreeBSD uses random PIDs which increases the likelihood of reuse.

I was hoping `--perf-basic-prof` could be instructed to put the `.map` file someplace else than the default (system temp dir) location with the `TMPDIR` environment variable, but alas, that appears to not be the case. If it were, we could do something like this perhaps:

[code]

@nodejs/v8 Is it possible to have the `.map

[2019-01-11 05:36] joyeecheung commented on #25424
What would the API look like? Storing the function in advance and use it in multiple `vm.Script` calls? Having a restriction like this in the API design feels pretty odd to me, I'd prefer we remove this out of the public API surface while we still can (because the whole ESM subsystem is experimental) and figure this out before making it public again.

[2019-01-11 05:37] bnoordhuis commented on #25392
I'm closing this out pending follow-up. Let me know if I should reopen.

[2019-01-11 05:37] #25392 closed

[2019-01-11 05:38] LaKing opened #25440 "fs.watch() file as symbolic link"
* **Version**: v8.12.0 and v10.13.0
* **Platform**: 4.19.13-300.fc29.x86_64
* **Subsystem**:

Create a real file, `testfile` with any content.
Create a symbolic link to that file
[code]
Create a node .js file, `test.js`
[code]
Now when executing `node test.js` changes on the content of `testfile` are correctly logged.
Eg, editing `testfile` will result in the correct `change testlink` log.

But no

[2019-01-11 05:59] joyeecheung commented on #25424
On a second thought....what's the use case of being able to customize `importModuleDynamically` for different `vm.Script` in the first place? Would a user even want to have different behaviors across different `vm.Script` invocations? Can't that setting be more global instead of being a property of the option object? Take the call site in `Module.prototype._compile` for example:

https://github.co

[2019-01-11 07:36] raeesaroj commented on #16196
adding
ssl_ecdh_curve auto;
in nginx server block fixes my problem

[2019-01-11 10:08] MariasStory commented on #25411
My use case is hashing big files (possibly over network) and saving the hashing status to temporary file. If the hashing process is interrupted/broken (the process is closed), the saved hashing status can be loaded and the hashing can continue from the file offset where it was.
Following the hint from @sam-github I found similar request: https://stackoverflow.com/questions/48857620/save-or-move-op

[2019-01-11 12:18] NickNaso commented on #25060
@mhdawson there is a tagged version of bcrypt published on npm https://www.npmjs.com/package/bcrypt/v/1.1.0-napi. It was published one year ago. It could solve the problem reported in this issue, so in the next days I try to backport all the updates happened in the master to the N-API version and when I will update you.

[2019-01-11 12:29] ayappanec opened #25444 "LIBPATH issue in AIX node binary"
I am from IBM AIX Toolbox development team.
IBM AIX Toolbox --> https://www.ibm.com/developerworks/aix/library/aix-toolbox/alpha.html

I just tried running node (v10.15.0-aix-ppc64) in AIX after downloading it from https://nodejs.org/en/download/
And got this loader error.
 ./node
exec(): 0509-036 Cannot load program ./node because of the following errors:
        0509-150   Dependent module libst

[2019-01-11 12:43] marcj commented on #9523
Not exiting the process when unhandledRejection is occured is very dangerous as it returns an exit code of `0`, which means 'everything went fine'. Terrible for shell scripts, for CI, process manager, and the overall behaviour of your application.

Use instead:

[code]

Don't use the code from @liesislukas either, as it does not kill your process, but the one with PID = 1, which is in Docker conta

[2019-01-11 12:44] BridgeAR commented on #25403
We ran into issues like these before and we also spoke about these things a couple of times (e.g., on the collaborator summit).

For me there's really just one way to solve this issue (that I am aware of): as soon as a releaser hits a PR that they are not able to backport we block the next release until it's backported (or what ever it relies upon). This normally only applies to PRs which refactor

[2019-01-11 13:32] joyeecheung commented on #25403
BTW I am writing a tool to help analyzing the dependencies of commits

<img width="1061" alt="screen shot 2019-01-11 at 9 30 59 pm" src="https://user-images.githubusercontent.com/4299420/51036519-4eca7d80-15e8-11e9-95fd-118244f7e0b1.png">

Though currently it is quite slow..

[2019-01-11 13:48] santigimeno commented on #24940
Yes, I think so. I'll close it for now. Don't hesitate to reopen if you wan't to keep the discussion going.

[2019-01-11 13:48] #24940 closed

[2019-01-11 13:51] bnoordhuis commented on #25444
cc @nodejs/platform-ppc (we don't have an aix team? We don't have an aix team.)

[2019-01-11 14:03] bnoordhuis commented on #25440
The behavior of `fs.watch()` reflects the behavior of the underlying inotify API. A documentation pull request is probably welcome although you could argue that the opposite behavior would be more surprising because symlinks are supposed to be transparently followed.

`--preserve-symlinks` only affects the module loader, nothing else.

[2019-01-11 14:15] devsnek commented on #25424
@joyeecheung for one thing it prevents you from using them in the main context, since the handler for that context would be owned by the internal esm loader. It also means you can't create your own forms of virtual module maps without using new contexts which can be very very unwanted since different contexts have unique primordials.

I have a theory that we can fix this by inverting the lifetime

[2019-01-11 14:27] Trott opened #25445 "Investigate flaky sequential/test-inspector-port-cluster on Windows CI"
https://ci.nodejs.org/job/node-test-binary-windows/22993/COMPILED_BY=vs2017,RUNNER=win10,RUN_SUBSET=2/console

test-azure_msft-win10-x64-3

[code]

I notice port 65535, the maximum port number, showing up in there, so I wonder if this is incrementing beyond the permissible maximum port.

[2019-01-11 14:41] mhdawson commented on #25444
@ayappanec a couple of things to confirm

* is this additive, ie it will not affect picking up the library from wherever it would have been found without the option
* does this handle (or at least not break) the case where there are 2 compilers installed on the machine.  We have both the default and gcc 6.3 compilers installed on the same machine as we need to build
different versions with differe

[2019-01-11 14:41] mhdawson commented on #25444
@gireeshpunathil, @gdams  FYI as well.

[2019-01-11 14:43] mhdawson commented on #25060
@NickNaso can you also talk to the maintainers?  I think what would be needed is that the mainline version be using N-API.

[2019-01-11 14:48] gireeshpunathil commented on #25444
I guess we expect the production systems to have only one c++ runtime, that too in the default path ('/lib:/usr/lib').

So hard-coding expectations to a non-standard path may cause unwanted issues for users?

On the other hand, as @mhdawson pointed out, our dev systems are configured with non-standard path for accommodating multiple toolchains, to build and test multiple versions of node that link

[2019-01-11 14:50] gireeshpunathil commented on #25444
@bnoordhuis - we seem to have @nodejs/platform-aix team!

[2019-01-11 14:56] gireeshpunathil commented on #24519
unable to reproduce in a 1000 runs. Is this a one-off failure or still happening?

[2019-01-11 15:07] ayappanec commented on #25444
@mhdawson

-  It is not additive.

- This will affect if they are installed in different paths.

You guys use the gcc from AIX Toolbox ? or from other sources ?
What are the different gcc versions you are using to build nodejs ?

We (AIX Toolbox) always ship the libraries in /opt/freeware/lib. It never gets into /usr/lib. /lib is basically a symbolic link to /usr/lib.

[2019-01-11 15:19] devsnek commented on #25424
@guybedford i'm not really sure how the id approach would fix anything. the apparent issue here is that the referring module is collected, not the module you're returning from the callback. the module you're returning from the callback can't possibly have been collected because you're holding a reference to it so you can return it from the callback.

[2019-01-11 15:33] devsnek commented on #25424
also just as a simplification, there's no need to use the vm api directly to reproduce this:

[code]

After my `--debug` build finishes i should be able to work on this a bit more

[2019-01-11 15:48] SimenB commented on #25060
`fsevents` fails to install with the current nightly (you might already know this).

[code]

[2019-01-11 16:03] sam-github commented on #25403
Definitely true for non-collaborator PRs, and for people who make occaisonal contributions,  but I think its reasonable to encourage (strongly encourage?) regular contributors to node to do the work to get their PRs into shape to be released. If they can't, they can also respond with a request for help.

It would be nice if some tooling auto-labelled and posted into PRs telling people after they m

[2019-01-11 16:10] richardlau commented on #24519
The test is supposedly inherently flaky (https://github.com/nodejs/node/pull/23743#issuecomment-432698029) and was marked as such in the PR (but only on Linux): https://github.com/nodejs/node/pull/23743

[2019-01-11 16:13] joyeecheung commented on #25403
@sam-github I think this should be preferably be done by the bot, as switching between branches locally may break people's workflows. Also as I explained in https://github.com/nodejs/node/issues/25403#issuecomment-453081549 it's not a simple matter of backporting PRs as soon as possible, they should also be backported in the correct order to reduce conflicts, otherwise the backports may be even le

[2019-01-11 16:18] JeffersonRodrigues7 commented on #25132
if you still need, just do the update: npm install natives@1.1.6

[2019-01-11 16:42] richardlau commented on #25444
Fix in https://github.com/nodejs/node/pull/25447.

[2019-01-11 16:55] Dev-Yukine commented on #25431
This was actually not an issue with node itself but with zlib, closing this cause of that

[2019-01-11 16:55] #25431 closed

[2019-01-11 17:03] ayappanec commented on #25444
Saw the PR. Now it will work with AIX Toolbox libgcc & libstdc++. Great
@richardlau  Thanks for the quick response and fix.

It will be very great if this fix goes to LTS release soon.

[2019-01-11 17:20] SimenB opened #25448 "Missing process functions under workers should throw explicit error"
**Is your feature request related to a problem? Please describe.**
Jest calls [`mkdirp`](https://npmjs.com/package/mkdirp) during its unit tests. Jest has also recently added support for `worker_threads`. However, when I wanted to try it out, hundreds of tests failed with `TypeError: process.umask is not a function`

It turn out `mkdirp` uses `process.umask()` if no `mode` is provided: https://git

[2019-01-11 17:35] sam-github commented on #25411
Thanks for the background, I understand. As a feature, it seems reasonable. However, it also seems impossible to implement with public OpenSSL APIs.

I suggest you take this to the OpenSSL mailing list, https://mta.openssl.org/mailman/listinfo/openssl-users, and discuss there. If there is a way, or if you convince them to create such a way, we can reopen this. Note that node will be using openssl

[2019-01-11 17:35] #25411 closed

[2019-01-11 17:59] sam-github commented on #25444
Usually things need to sit a bit in current before releasing in LTS, but for this kind of very specific bug fix in the build options, maybe it can be accelerated? @BethGriggs, any prediction on when this could be in an LTS release?

[2019-01-11 18:14] sam-github commented on #25403
Agreed. Still, the correct order is likely the order they land in master... so reminding people to backport once it lands is close to the correct order. It may be useful to at least give them (or whoever is running `git node land`?) a heads up that at the time it landed, this PR was not automatically a candidate for release in Current.

In the case that their PR doesn't land clean in staging becau

[2019-01-11 18:36] ofrobots commented on #25028
IIRC The linux perf tool (for which this file is generated) looks specifically for files with that name. IOW, the hardcoding patter is probably necessary. Do we need to test `--perf-basic-prof` on FreeBSD?

[2019-01-11 18:55] targos commented on #25403
I think we need a sort of simple status website that reports which is the next PR that either needs to be backported or marked don't land.

[2019-01-11 19:37] #25408 closed

[2019-01-11 19:56] joyeecheung commented on #25403
@sam-github I am afraid backporting every PR  ASAP is too stressful for both the contributors and the releasers unless we automate the work of finding out the conflicts and dependencies  and pinging for backport somehow. The knowledge of the relationship among PRs needs to be tracked properly so having multiple people share the work could result in extra overhead (`1 / n * n > 1` when the knowledg

[2019-01-11 19:57] joyeecheung commented on #25403
@sam-github I am afraid backporting every PR  ASAP is too stressful for both the contributors and the releasers unless we automate the work of finding out the conflicts and dependencies  and pinging for backport somehow. The knowledge of the relationship among PRs needs to be tracked properly so having multiple people share the work could result in extra overhead (`1 / n * n > 1` when the knowledg

[2019-01-11 20:10] mhdawson commented on #25444
@ayappanec I'm still concerned that this might break our existing setup/testing. I probably just need a bit more info.

When you say:

It makes me worry that it replaces paths that may be required given our current install.  Is that potentially the case?

[2019-01-11 20:17] mhdawson commented on #25444
For some context.  Our machines were installed long ago and required a combination of packages from Bull Freeware and the AIX Toolbox.  As we install new machines (we hare working on getting a new machine in place) we will try to use a better config as we understand work since then on the AIX Toolbox has improved things.  After much discussion with some members of the AIX compiler team, we have th

[2019-01-11 20:22] mhdawson commented on #25444
I see now that we used to have the correct option in place but is was regressed, given that I guess my concerns about breaking our existing setup/testing are not valid.

[2019-01-11 20:55] nakhodkiin opened #25451 "TypeError: clazz is not a constructor on ≥ v11.6.0"
I'm experiencing an issue with a following piece of code

<img width="1147" alt="screen shot 2019-01-11 at 10 27 41 pm" src="https://user-images.githubusercontent.com/14351638/51058947-27c57900-15f3-11e9-839d-33dd8fc4d49d.png">

[code]
You can see a more detailed information about the stacktrace right below
<img width="822" alt="screen shot 2019-01-11 at 10 49 55 pm" src="https://user-images.githu

[2019-01-11 21:17] mscdex commented on #25451
There probably is a bug here with `util.inspect()`, but the issue here is that you overwriting each array's prototype (`Array.prototype`) with `Person.prototype`, so when you try to access the getter, the indexed properties no longer work because those are implemented by `Array.prototype`.

[2019-01-11 21:20] mscdex commented on #25451
You can fix the prototype issue by changing `class Person` to `class Person extends Array` and then you will get the expected result.

[2019-01-11 21:47] BridgeAR commented on #25451
Yes, there's a check missing if the prototype is null or not.

If it is not null, we should keep the prototype and fall back to the regular object inspection.

[2019-01-11 21:52] arindam-b opened #25453 "Node jest not able to identify function"
Hello there,

I am trying to create a simple Hash using SHA256. While testing it, I am getting following error:

TypeError: cryptoHash is not a function

**Here is my code:

crypto-hash.js**

`const crypto = require("crypto");

const cryptoHash = (...inputs) => {
  const hash = crypto.createHash("sha256");
  hash.update(inputs.sort().join(" "));
  return hash.digest("hex");
};

module.export = cry

[2019-01-11 21:52] User5842 opened #25454 "Debugging Node Script"
I was previously on Node v8.x.x and using the following script to enable debugging:

`node --inspect-brk grunt --debug serve:debug`

However, I have recently upgraded to v10.15.0 and leaving the same script yields the following:
`
[DEP0062] DeprecationWarning: node --debug and node --debug-brk are invalid. Please use node --inspect or node --inspect-brk instead.`

Any ideas as to why this may be h

[2019-01-11 21:53] mscdex commented on #25453
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2019-01-11 21:53] #25453 closed

[2019-01-11 23:11] Robiv8 commented on #16768
I have this error in pm2 logs mm

`0|mm  | (node:5263) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Cannot read property 'refs' of undefined
0|mm  | (node:5263) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exit code.

[2019-01-11 23:16] misterdjules opened #25456 "reused http parser can be associated to incorrect domain"
* **Version**: Latest v8.x, and possibly all earlier versions supporting HTTP parser reuse and domains.
* **Platform**: All platforms.
* **Subsystem**: domain, http.

The following program exits with an exit code of 1 when run with node built from the tip of the `v8.x` branch:

[code]

What this programs above does is:

1. Creating one outgoing http request to a local http server, (let's call it r

[2019-01-11 23:17] misterdjules commented on #25456
Also, thanks to @cprussin and @mridgway for finding this problem and identifying the issue in the domain implementation in the first place!

[2019-01-11 23:28] tshinnic opened #25458 "BUILDING.md: how-to-install has become obscured"
The procedure to build and **then install** node has become obscured through changes
to BUILDING.md over the last two years.  Much additional information has been added for
running tests, coverage, build docs, etc. and now important steps such as
[code]
are 4 pages down from the starting `$ ./configure` step, and is tacked on the end of
"Building the documentation"!  How is someone unfamiliar with

[2019-01-11 23:38] User5842 commented on #25454
@ZYSzys I understand, but I am passing the `--debug` flag to the Grunt process, documented [here](https://gruntjs.com/using-the-cli#debug-d)

I'm not sure why `node` would be interpreting that flag as one of its own. Shouldn't it only be targeting `grunt` ?

[2019-01-12 00:54] LXFengGithub commented on #25132
Thank you for

[2019-01-12 02:29] misterdjules opened #25460 "responses corresponding to requests queued by http agent are attached to incorrect domain"
* **Version**: Current tip of master (cf9bcdeabe), but possibly most versions.
* **Platform**: All platforms.
* **Subsystem**: domain, http.

Running the following code:

[code]

exits with a status code of 1 when I'd expect it to exit with a status code of 0:

[code]

In this repro, we basically force the http agent to queue the second request. When the first request finishes, [the second request

[2019-01-12 06:29] LachieDaGamer opened #25462 "What i do with Terminal"
If you have a question about Node.js that is not a bug report or feature
request, please post it in https://github.com/nodejs/help!

Questions posted to this repository will be closed.
What happens when I use terminal:
Say in doing node .
It doesn’t do anything. It comes up with something saying “what application do you want to use” and then I click Visual Studio Code, then it opens up a tab calle

[2019-01-12 06:36] devsnek commented on #25462
https://github.com/nodejs/help/issues/1715

[2019-01-12 06:36] #25462 closed

[2019-01-12 07:58] vsemozhetbyt commented on #25454
Maybe [`--` option](https://nodejs.org/api/cli.html#cli_1) can help?

[2019-01-12 09:36] ifredom commented on #7937
![image](https://user-images.githubusercontent.com/13759936/51071712-7ffe8880-1690-11e9-9663-397fb1358b04.png)
使用这个npm包，可以帮助到你. 在使用vue-cli@3时触发。

[2019-01-12 17:37] dgholz opened #25464 "`decodeStrings` option for Writable streams doesn't decode incoming data to Strings"
* **Version**: `v11.2.0`
* **Platform**: MacOS
* **Subsystem**: streams2

I am implementing a Writable stream to process output from spawned processes. Since I know that the processes will write utf8-encoded strings, I wanted to implement the stream so the incoming data would arrive as Strings. I was delighted to see `decodeStrings` mentioned under `writable._write`:

I didn't quite understand how

[2019-01-12 17:54] nagayev2002 opened #25465 "Can't fill very big array"
* **Version**: 11.4
* **Platform**: Windows 10 x64, 17134.523

My code:
`
var a = Array(10**8);
a=a.fill(0);
`
I got this:
<--- Last few GCs --->
[7588:000002AD91E72C50]    45749 ms: Mark-sweep 941.8 (953.1) -> 941.8 (948.1) MB, 1016.1 / 0.0 ms  (average mu = 0.495
 current mu = 0.000) last resort GC in old space requested
[7588:000002AD91E72C50]    46744 ms: Mark-sweep 941.8 (948.1) -> 941.8 (948

[2019-01-12 18:20] addaleax commented on #25464
That’s because we’re stuck with the wrong option name for backwards compatibility, but we can adjust its documentation. :confused:

Would you like to open a PR against this repo to improve the documentation along the lines of your suggestions?

I’d also like it if we could have an equivalent of readable stream’s `setEncoding` – I made a PR a while back in https://github.com/nodejs/node/pull/7425.

[2019-01-12 18:50] mscdex commented on #25465
Works for me on node v10, fails on master.

[2019-01-12 19:20] nagayev2002 commented on #25465
@mscdex regression?

[2019-01-12 22:39] refack commented on #25060
Removing `help wanted` since IIUC all failures have PRs submitted, and at most are waiting for landing and release.
Please correct me if that's wrong.

[2019-01-12 23:20] dgholz commented on #25464
I certainly make a PR for a doc change. I can't commit to helping out with #7425, I don't know about node performance to improve it or argue why a change to make devs lives easier is worth a performance hit.

That branch looks great, just what I wanted

[2019-01-13 00:43] cdaringe opened #25469 "osx filesystem writes are not always guaranteed to match requested casing"
**Version**: 10.12.0
**Platform**: Darwin m-c02x6042jgh7 18.2.0 Darwin Kernel Version 18.2.0: Mon Nov 12 20:24:46 PST 2018; root:xnu-4903.231.4~2/RELEASE_X86_64 x86_64

# problem

- fs.writeFile isn't guaranteed to match the requested filename casing.

example:

- `fs.writeFile('/path/to/Thing.js', ...)` may generate `/path/to/Thing.js`, but, a subsequent process that runs
- `fs.writeFile('/path/t

[2019-01-13 00:54] devsnek commented on #25469
If the file already exists with a different casing, that casing will be used. MacOS filesystems are case insensitive by default.

[2019-01-13 02:10] Trott commented on #25469
This is the way the default case-insensitive macOS filesystem works and doesn't have anything to do with Node.js. AFAIK, you will get the same result using any other programming language or the shell CLI:

[code]

[2019-01-13 02:11] Trott commented on #25469
I'm going to close this but feel free to re-open or comment if there's a subtlety I'm missing here. Thanks!

[2019-01-13 02:20] cdaringe commented on #25469
there is a subtlety missing both above assessments. _The file no longer exists_. I'm writing a non-existent file, and the newly flushed file uses an old file name. The issue is not that Mac OS is generally case insensitive, it's that old filenames are being recycled when they should not be

[2019-01-13 02:50] hiroppy commented on #25465
I have the same error.

Platform: macOS Mojave 10.14
version: master branch

<details>

[code]
</details>

[2019-01-13 04:38] codebytere commented on #25403
hey @sam-github, I have some tooling like that already in place in another org, which could take place here in the following steps:

1) A collaborator tags PR with a label such as `backport-to/<TARGET_STAGING_BRANCH>`
2) A check begins to run
3) It passes if the backport is clean and thus can just be applied by a backporter cleanly
4) If it fails, a label is automatically applied to the PR request

[2019-01-13 06:13] bnoordhuis commented on #25454
FWIW, I can't reproduce with v10.15.0:
[code]
I'm closing this out as invalid, let me know if (and why) I should reopen. Alternatively, it could be moved to nodejs/help if it's a question rather than a bug report.

[2019-01-13 06:13] #25454 closed

[2019-01-13 07:08] lpinca commented on #24958
Closing this as fixes landed on all supported branches.

[2019-01-13 07:08] #24958 closed

[2019-01-13 10:58] FbN opened #25470 "Cant build a working version v10.11.0 on windows"
Hi. I'm tring to compile node v10.11.0 on windows 10. Downloaded official source and followed  this tools requirements (https://github.com/nodejs/node/blob/v10.11.0/tools/bootstrap/README.md) . The compilations works good but node result dosent work (whe I run it simpy exit without any message). Tried in a second dev virtual machine but with the same results. Any idea on what I doing wrong?

[2019-01-13 11:16] ChALkeR commented on #25465
@nagayev2002 @mscdex Just to confirm -- this could be reproduced via a plain js file (`node script.js`) and/or in `node -e "var a = Array(10**8); a=a.fill(0);"`, and not only in repl, correct?

[2019-01-13 11:31] ChALkeR commented on #25465
`Array(10e8).fill(0)` also crashes the process on Chrome.

[2019-01-13 13:40] shellscape commented on #24958
@lpinca any word on the schedule for these fixes rolling out in a new version?

[2019-01-13 13:48] lpinca commented on #24958
It seems v6.16.0, v8.15.0, v10.15.0 include the fix.

[2019-01-13 14:02] lpinca commented on #23857
I'm not sure. I agree that we should remove the default listener of the `'timeout'` event but I don't know if it's a good idea to also disable the existing idle timeout.

The user can set a custom timeout:

[code]

and in this case it might surprising to see that the idle timeout is gone when the `'upgrade'` event is emitted. The same applies to the client.

[2019-01-13 14:09] lpinca commented on #23857
I think it's better to override it in user code after the `'upgrade'` event is emitted as suggested in the workaround but I'm 👍 on removing the default listener.

[2019-01-13 15:09] Trott commented on #3020
Is this the right bug report? https://bugs.chromium.org/p/v8/issues/detail?id=8465

[2019-01-13 15:51] devsnek commented on #3020
@trott maybe? I opened crbug.com/V8/8326 a bit ago.

[2019-01-13 16:16] martinheidegger opened #25476 "Document the behavior of random port behavior depending on OS"
The node documentation on running `.listen()` without specifying a port reads like

_([source](https://github.com/nodejs/node/blame/master/doc/api/net.md#L330))_

A [stackoverflow](https://stackoverflow.com/a/10266225) question of the same type hints at significant differences between the OS's, but it is likely outdated. It seems like it would be a good idea to clarify if the behavior has been nor

[2019-01-13 16:38] User5842 commented on #25454
@bnoordhuis Interestingly, if I instead use the abbreviated option for `--debug`, i.e. `-d`, the script works as expected.

The script works fine either way, until I attach the debugger, and then the error is reported.

[2019-01-13 17:01] addaleax commented on #25454
@User5842 I also can’t reproduce this. Providing a full list of steps to reproduce might help; there’s also https://github.com/nodejs/help which might be a better place to figure this out, assuming it’s not a Node.js bug.

[2019-01-13 17:11] mscdex commented on #25476
I don't see what needs to be added/changed. When you specify `0` (explicitly or otherwise) the server will always bind to an unused port. The method in which each OS picks an unused port number is not important and not worth documenting IMO.

[2019-01-13 19:00] joyeecheung opened #25478 "repl: printing big strings results in OOM"
From https://bugs.chromium.org/p/v8/issues/detail?id=8679

How to reproduce:

[code]

* **Version**: master
* **Platform**: all
* **Subsystem**: repl

Reposting my comment in the v8 issue:

Stack trace:

[code]

Top frames of `_v8_internal_Print_StackTrace()`

[code]

[2019-01-13 19:52] joyeecheung commented on #25478
@addaleax Sort of, we use `v8::String::Utf8Length()` to precompute the storage size, which flattens the string, and `v8::internal::String::SlowFlatten` first allocate a chunk of memory with the size of the string according to the representation, then write the flattened content into it before replacing part of the resulting ConsString with the flattened string. So with a 1GB string we at least dou

[2019-01-13 22:02] Trott commented on #3020
Does that mean it may now be possible to fix things so that https://github.com/nodejs/node/blob/27dc74fdd0950d39d175145400a70174244870d9/test/known_issues/test-vm-timeout-escape-queuemicrotask.js is no longer a known_issue test and passes?

[2019-01-13 22:46] devsnek commented on #3020
@Trott it will still fail stopping at 5ms, but it should throw at 100ms instead of silently stopping.

[2019-01-13 23:24] guybedford opened #25482 "esm: Bug in dynamic modules refactoring"
Reposted from https://github.com/nodejs/help/issues/1717.

# Specs:
- **Node.js Version**:
  - Tested and working:
    - v11.3.0
  - Tested and broken:
    - v11.4.0
    - v11.5.0
- **OS**: Tested on Linux Mint 19.1 Cinnamon
  - `Linux HOSTNAME 4.15.0-43-generic #46-Ubuntu SMP Thu Dec 6 14:45:28 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`
- **Scope (install, code, runtime, meta, other?)**: ES6 Module

[2019-01-13 23:50] Trott commented on #25476
We could probably remove the word "arbitrary". It's not arbitrary. It's selected by the operating system according to some (black box) process.

[2019-01-14 00:36] bnoordhuis commented on #25476
It's still arbitrary in the sense of random<sup>1</sup> so I don't know if dropping that word is really an improvement.

<sup>1</sup> I'm not aware of an operating system where there isn't some amount of unpredictability involved.

[2019-01-14 00:39] bnoordhuis commented on #25448
I think the fact that it breaks feature detection means this proposal is DOA. Maybe other collaborators feel differently?

[2019-01-14 00:55] martinheidegger commented on #25476
When I googled for it online, the first thing I find was the above mentioned stack overflow article. Which explains that the random port is not always an _available_ random port and as such it seems recommended to be called multiple times if failed on some OSes. Is that still the case?  If it's the case I believe it is worth confirming. If it isn't, it would be worth clarifying.

I am not familiar

[2019-01-14 02:01] mscdex commented on #25476
I've *never* had an issue with it trying to bind to an unavailable number for a port number of `0`. I've also never seen any report of such behavior before this. My guess is there was some bug in their own code causing this.

[2019-01-14 02:34] nao20010128nao opened #25483 "os.cpus: Cannot read property 'length' of undefined"
* **Version**: `v11.6.0`
* **Platform**: `Linux localhost 4.9.96-g641303d-ab5108637 #0 SMP PREEMPT Fri Nov 2 19:33:38 UTC 2018 aarch64 Android`
* **Subsystem**: `os`

# Steps to reproduce

1. Install `Termux` on Pixel 3 (Android 9)
   - Worked normally on Nexus 5X (Android 7.1.2)
2. Install `nodejs` via `apt`
3. Try `npm i -g npm` (or any other install command)
   - Very minimal reproducing code:

[2019-01-14 03:00] richardlau commented on #25483
See https://github.com/nodejs/node/issues/19022#issuecomment-439591296.

[2019-01-14 03:01] bcoe opened #25484 "child_process: child_process.spawn ENOMEM on Windows"
* **Version**: 11
* **Platform**: Windows Server 2016
* **Subsystem**: child_process

Windows Server 2016 appears to run into memory issues when spawning multiple subprocesses.

Here's the test in question in nyc:

[code]

which spawns the fairly boring subprocess:

[code]

which in turn requires:

[code]

I've tried using both `spawn` and `spawnSync` and the issue crops up in both cases. I also n

[2019-01-14 03:20] bcoe commented on #25484
attempts to dig further into this issue can be found here: https://github.com/istanbuljs/nyc/pull/967

[2019-01-14 04:22] Trott commented on #25476
The port is indeed guaranteed to be available. There is a bug in the code in the StackOverflow answer. I've left a comment.

[2019-01-14 04:30] Trott commented on #25476
Here is code demonstrating that it will skip an unavailable port on macOS: https://gist.github.com/Trott/4caed3e2ce93a92318ec1d54aedbbc80

[2019-01-14 05:39] Hakerh400 commented on #25465
@ChALkeR
`10 ** 8 !== 10e8`

[2019-01-14 06:10] targos commented on #25448
It sounds reasonable to me to have a version of `process.umask` in worker threads that can only get the value and not modify it.

[2019-01-14 06:54] gireeshpunathil commented on #22865
started seeing this again:
https://ci.nodejs.org/job/node-test-binary-windows/COMPILED_BY=vs2017,RUNNER=win10,RUN_SUBSET=3/23039/console

not sure it is the same as the old one or not, will see if I can locally reproduce.

[2019-01-14 07:56] brion opened #25486 "inspector fails in noPrototypeIterator on Array with incomplete custom prototype"
While experimenting with prototypes, I found that node's console inspector seems to crash when given an Array object with a custom prototype that's missing an iterator definition.

* **Version**:
v11.6.0

* **Platform**:
Darwin Lazarus.local 17.7.0 Darwin Kernel Version 17.7.0: Fri Nov  2 20:43:16 PDT 2018; root:xnu-4570.71.17~1/RELEASE_X86_64 x86_64

* **Subsystem**:
internal/util/inspect.js

* *

[2019-01-14 08:04] mscdex commented on #25486
Duplicate of https://github.com/nodejs/node/issues/25451

[2019-01-14 08:04] #25486 closed

[2019-01-14 08:22] amitzur opened #25487 "crypto::Hash update method error output is missing `Buffer`"
* **Version**: `10.10.0`
* **Platform**: `Linux amit-ThinkPad-X1-Carbon-6th 4.15.0-43-generic #46-Ubuntu SMP Thu Dec 6 14:45:28 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`
* **Subsystem**: `crypto`

The `Hash` class in the `crypto` module has an `update` method which may receive `{string | Buffer | TypedArray | DataView}` in the `data` argument.
(https://github.com/nodejs/node/blob/master/doc/api/cry

[2019-01-14 09:00] bnoordhuis commented on #25487
Thanks for the excellent bug report. Yes, that looks like a genuine oversight to me, pull request most welcome.

[2019-01-14 09:01] bnoordhuis commented on #25487
`make test-parallel` or `python tools/test.py -J parallel`

[2019-01-14 09:07] lukechilds commented on #23694
`url.parse()` is still mentioned in `http.request()` docs in numerous places:
https://nodejs.org/api/http.html#http_http_request_url_options_callback

Also, you can't just blindly swap `url.parse()` out with `new url.URL()` because the `http.request()` options object requires `path` which isn't created by `new url.URL()` so you need to manually build it with `pathname` and `search`.

Seems like ei

[2019-01-14 10:09] iamahuman commented on #16961
Yet another approach could be to follow what Python 3 does with its `surrogateescape` method, such as: `"\xff" -> "\udcff"`. This has the advantage of having to neither introduce a new API nor break compatibility with existing codes. Currently node does substitute them with `\uFFFD` (REPLACEMENT CHARACTER), which indeed has information loss issue compared to the aforementioned method. Of course Wi

[2019-01-14 11:34] addaleax commented on #22339
It means that we allocate at most 3 times as much memory as we need. The fix in #25415, where we increase the number to 8, seems somewhat excessive? I think having that kind of memory overhead in Node.js would be considered a bug…

[2019-01-14 11:34] iduchy opened #25492 "await: inline vs separate line"
* **Version**:  v10.13.0
* **Platform**: 64-bit  Windows 10 and Debian 4.9.130-2 GNU/Linux

**code that demonstrates the problem:**
[code]
**output:**
[code]

[2019-01-14 11:47] gireeshpunathil commented on #22339
@addaleax - thanks. If you look at the failure message:

`AssertionError [ERR_ASSERTION]: Retaining 524288 bytes in ABs for 1000 chunks of size 170`

showed that the actual consumption stepped out of the assumed value of 510000 (170 * 1000 * 3)

the reason I have identified (empirically) is because few file reads took more than one iterations.

as there is no guarantee on which reads can complete

[2019-01-14 12:03] rockaBe commented on #21662
Any news on this feature?

[2019-01-14 12:12] addaleax commented on #22339
@gireeshpunathil I think that is a part of the issue, yes – whether a read finishes in one piece does matter, you’re right about that.

I think the reason why this matters is that the test, in its current form, starts a new read for each *chunk*, not when a file stream ends – so it’s possible that the number of concurrent reads increases over time, depending on what the underlying fs operations do

[2019-01-14 12:52] #25444 closed

[2019-01-14 13:02] guybedford commented on #23694
As it is related I wanted to mention the suggestion at https://github.com/whatwg/url/issues/421 for URL.relative, which can always be done in Node without a URL spec. If more people show interest now it could be worthwhile to line up though.

[2019-01-14 13:08] JungMinu commented on #25483
going to open a PR to fix this issue

[2019-01-14 14:06] ChALkeR commented on #25465
@Hakerh400 yes, my bad, thanks.

`./bin/node -e "Array(1e8).fill(0)"` also aborts on `node-v12.0.0-nightly20190113c24fccf064-darwin-x64`, but works on Node.js 10.

[2019-01-14 14:53] Johnny-Milkshakes opened #25494 "Official(?) discord abandoned."
It seems that the discord server linked in the readme has been abandoned by those who originally set it up and there is inappropriate (potentially malicious) content and confusion among the members.  I pinged the moderators and admins of the server and received no response so i am opening an issue here hoping that we can solve this because it looks unprofessional.  I have experience moderating two

[2019-01-14 15:15] devsnek commented on #25494
We started the discord as an experiment but unfortunately we've had a lack of both engaged users and engaged moderation. I think at this point its worth considering it a failure. People can continue to use the irc and slack.

cc @nodejs/community-committee

[2019-01-14 15:29] nigoroll opened #25495 "Vary: Accept-Encoding missing in zlib examples"
Ref: https://github.com/nodejs/node/blob/master/doc/api/zlib.md#compressing-http-requests-and-responses

It appears to me that the examples lack setting the `Vary: Accept-Encoding` Response header.

[2019-01-14 15:41] WaleedAshraf commented on #25494
I also saw some unrelated and inappropriate content. Better to shut it down. Not sure how much active users it has and what's their engagement.
@bnb can comment better.

[2019-01-14 16:11] Johnny-Milkshakes commented on #25494
Aw that makes me sad since discord is my main source of communication but if that is what the consensus is then so be it

[2019-01-14 17:14] sam-github commented on #25487
Running `make test` is a good idea to do just before making a pull request. Besides just running the tests, it will check for style errors in the js and markdown files and other common problems, saving you from making the PR, and then having CI immediately fail it.

[2019-01-14 17:17] amitzur commented on #25487
Great point. I'm working on it. Thanks!

[2019-01-14 17:30] sam-github commented on #25476
Operating systems are free to choose any port that is not currently in use, in any way the system thinks reasonable. That every O/S has its own specific algorithm, determined solely by its authors, is the definition of arbitrary, I think.

[code]

I'm OK with removing the word, maybe its too much information. Whether its arbitrary, specified by an some new POSIX standard, or whatever, the importan

[2019-01-14 17:40] Fishrock123 commented on #25494
The discord is a failed experiment. I have admin ability in there but plan to do none, so I am just going to lock the default user level.

No, I do not have time to do anything more. If someone **really** thinks they can turn it around, I can give them admin but it'd going to be a heck of a lot more work.

[2019-01-14 17:48] Johnny-Milkshakes commented on #25494
I would be happy to help @Fishrock123

[2019-01-14 17:48] Johnny-Milkshakes commented on #25494
I'll dm you on Discord

[2019-01-14 17:49] Qix- commented on #21705
Further, `_final` is entirely random. In cases where a readable is piped to the writable, `_final` is called as per the docs. In the case where `.end(...)` is called directly on the writable, `_final` is not called.

[2019-01-14 17:54] Fishrock123 commented on #25494
I am not looking for helpers. Someone would have to take up and lead the whole thing.

[2019-01-14 18:01] Johnny-Milkshakes commented on #25494
My only issue is that i am not yet a pro at node but if that is ok with you i am a capable discord admin

[2019-01-14 18:06] cfanoulis commented on #25494
@Johny-Milkshakes I'd be more than glad to accompany you on this journey, in case of course you wish to. After all, 2 brains can't be worse than one, am I right?

[2019-01-14 18:10] SimenB commented on #25448
That'd certainly be nice! That would help in `mkdirp`'s case, but not necessarily in other cases, such as missing `process.chdir`.

---

Would it be possible to get a list of missing APIs from `process`? Then we could throw an error in environments where we want to warn (like potentially Jest). E.g.

[code]

Not sure how that plays with feature detection either (or how prevalent feature detection

[2019-01-14 18:12] jakeNiemiec commented on #25494
You might want to take it off the README:
https://github.com/nodejs/node/blame/master/README.md#L54

@Johnny-Milkshakes @cfanoulis If you are looking to migrate, Nodeiflux has a large (and well-moderated) server: https://discord.gg/PjTAJKF it's the same one from: https://github.com/nodejs/node/pull/20508#issuecomment-386703704

[2019-01-14 18:18] devsnek commented on #25494
I'd be interested in trying to combine nodeiflux, unofficial node.js, and our experimental server, although i'm not sure where to start with that.

[2019-01-14 18:21] Johnny-Milkshakes commented on #25494
We can build a bot and create a bridge channel in each server so users in each server can interact with each other. It might be a little redundant being a discord-discord bridge but i have seen it done for matrix-discord in the ipfs server

[2019-01-14 18:33] jakeNiemiec commented on #25494
@devsnek I think this would add some more context https://github.com/nodejs/community-committee/pull/352#issuecomment-408991767

Despite the node.js discord being founded on "the commitment to being safe"  https://github.com/nodejs/admin/issues/53#issuecomment-383704486, 2 months after creation, **the mods stopped caring about the rules & safety they spent a year argueing for**: https://github.com

[2019-01-14 18:47] Johnny-Milkshakes commented on #25494
The art of moderating online communities is definitely not easy but i think that can be supplemented with a welcome channel that lays out clear rules and an explanation about how to use the server effectively.  Most safety related tasks can be delegated to a bot and a reliable and experienced mod team with a respectful way of handling things can pick up the things that slip by.  I've walked both s

[2019-01-14 18:55] sam-github commented on #25403
@codebytere I'm not active on the LTS WG any more, and its the people doing the work who should comment, but I suspect that wouldn't help node so much.

FYI, releasing relies heavily on https://github.com/nodejs/branch-diff, which is used to determine commits that need to be merged down. It skips commits that have already been cherrypicked (so differ by SHA), and it also skips (for most use-cases)

[2019-01-14 19:02] timdp opened #25499 "HTTP request setTimeout(0) does not remove timeout listener"
* **Version**: v11.6.0
* **Platform**: all
* **Subsystem**: http, net

This was originally discovered by @szmarczak and reported as sindresorhus/got#690.

Unless we're mistaken, `setTimeout(0)` on an HTTP request (and then socket) can lead to a `timeout` listener not being removed. This is problematic because combined with a keepalive agent, it can lead to a memory leak.

[This Gist by Szymon](htt

[2019-01-14 19:02] cjihrig commented on #25448
It would break detection. However, since worker threads are still experimental, I think it makes sense to add stubs that throw.

[2019-01-14 19:05] addaleax commented on #25499
@nodejs/http

[2019-01-14 19:53] cfanoulis commented on #25494
@jakeNiemiec as much as I would love merging the 2 communities, we would have to merge all communities into the existing Node.js server, for a rather specific (and special) reason.

The aforementioned reason is Discord Verification(link will be here shortly), which essentially verifies that the server is operated by the people it claims to be, and gives the server some more perks (vanity invite, a

[2019-01-14 20:07] Johnny-Milkshakes commented on #25494
Hey if you want to onboard me to the nodejs foundation that's fine by me 😄 :trollface:

[2019-01-14 20:20] jakeNiemiec commented on #25494
@cfanoulis I am saying that I **wouldn't** be in favor. My point was that it only took a month for the Node.js mods to lose interest in enforcing their own heavy-handed rules (eg. banning for sarcasm). This does not take into account that moderation was not being equally enforced anyway.
![image](https://user-images.githubusercontent.com/16782063/51138223-23bd7500-1806-11e9-8565-56dabf2a9208.png)

[2019-01-14 20:23] vcarl commented on #25494
That's only for verified servers though @cfanoulis, which I don't believe the Discord server in question is. Nodeiflux is definitely not official in any capacity if that's where the proposed merge would end I don't think it would be appropriate to go through the verification process.

As @jakeNiemiec has been providing links to, I've expressed some concerns I had with the approach to server admini

[2019-01-14 20:31] Johnny-Milkshakes commented on #25494
I don't meant to impose myself too much as I am a newcomer but I do agree too heavy handed is not the way to go.  It would be nice to have an official nodejs server regardless of which server it winds up being.  My main reason for opening this issue was simply to legitimize the one that I was linked to in the readme because an average person would consider that official since it's in the readme.

[2019-01-14 20:43] vcarl commented on #25494
Reactiflux just added its first banlist in the over 3 years we've been operating (and it [has 4 entries](https://github.com/BTMPL/reactibot/blob/master/features/autoban.js#L2-L7)), which was added in response to spam problems. I think we're coming at moderation from very different perspectives, I view banlists as heavy handed.

[2019-01-14 20:48] DamianRivas commented on #25495
@Fishrock123 Hi! I'd like to help out here. I'm afraid I can't tell what the problem is exactly. Would the change be something like this?

[code]

[2019-01-14 20:53] addaleax commented on #25495
@Fishrock123 @nigoroll Are you *sure* that this should happen? It’s not central to the point of the documentation, as it introduces the much bigger topic of HTTP caching into our compression docs.

@DamianRivas I think this only makes sense for the server example, since `Vary` is a HTTP server header.

[2019-01-14 21:01] jakeNiemiec commented on #25494
![image](https://user-images.githubusercontent.com/16782063/51139162-b95a0400-1808-11e9-86ed-2d9883107f91.png)

@cfanoulis I think the _"official server"_ is now just _"a failed experiment"_. I don't think @Fishrock123 or @bnb plan to rehabilitate it.

If you, @Geo1088, or @Johnny-Milkshakes want to get involved with moderation, I'd inquire over at https://github.com/nodejs/community-committee or

[2019-01-14 21:20] devsnek commented on #25494
There are still people (such as myself) who would be interested in doing this properly. However, as I said above, I'd rather do this with people already running servers that have shown positive and healthy growth. I really don't think that who owns the server is the biggest issue here, but if it being owned by the node foundation means we get to also be verified by discord then it seems like a net

[2019-01-14 23:01] ealmansi opened #25504 "Node stopping execution prematurely even though promise is still pending."
* **Version**: v10.14.2
* **Platform**: Linux 4.15.0-43-generic Ubuntu SMP Thu Dec 6 14:45:28 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux.
* **Subsystem**: JavaScript engine.

Upon executing the following code, Node finishes running even though a pending promise is left over.

[code]

I get the following output, and then the Node process stops running.

[code]

I would expect Node to get stuck and run

[2019-01-14 23:12] mscdex commented on #25504
FWIW node master, v10.x, and v8.x all behave the same.

[2019-01-14 23:36] addaleax commented on #25504
@ealmansi Do you mean that an unresolved Promise alone should keep the process running? That would be a significant breaking change and hard to implement (Promises are a language feature, the event loop a Node.js/libuv one).

I think somebody has floated the idea of (optionally?) giving information on unresolved promises when the process exits. I’m not sure what that would look like, but maybe thi

[2019-01-15 01:12] misterdjules opened #25505 "error handler of same domain can be called several times when it throws"
* **Version**: Current tip of master (66f45e7e5b), but probably applies to all versions.
* **Platform**: All platforms.
* **Subsystem**: domain.

The following code:

[code]

gives the following output:
[code]

The uncaught exception is expected. What is not expected as far as I understand is for the same domain's error handler to run more than once.

I believe the original intention of the domain

[2019-01-15 02:05] DerekChenGit opened #25506 "Node.js SIGCONT signal doesn't work only in Ubuntu on VirtualBox"
* **8.4.0**:
* **Ubuntu 16.04 on Virtualbox**:

I am writing a Node.js application, in the code of this application, the parent process spawn a node.js subprocess. Firstly, the parent process send "SIGSTOP" to the subprocess, then send "SIGCONT" to wake this subprocess, but it doesn't work in Ubuntu on VirtualBox, but in other environments (such as Debian on VirtualBox, Ubuntu on real machine), th

[2019-01-15 02:50] ealmansi commented on #25504
@mscdex @addaleax Thanks for your replies.

Turns out I was working on the wrong assumption that Node would never normally exit the process if there were any pending promises. I now understand that this is not the case.

I got this misunderstanding from the fact that this very often seems to be the actual behaviour, but in reality Node only waits on promises to get resolved when they are wrapping

[2019-01-15 02:50] #25504 closed

[2019-01-15 02:53] devsnek commented on #25504
Just for future reference: there's nothing about an unresolved promise that would actually keep a process running. They aren't executing any code or waiting for anything, they're just a fancy way to call a callback.

[2019-01-15 03:08] MylesBorins commented on #25494
/cc @nodejs/moderation

[2019-01-15 03:21] liudonghua123 opened #25509 "Windows installer hidden after installation finished"
* **Version**: v11.6.0
* **Platform**: Microsoft Windows [Version 10.0.17763.253]
* **Subsystem**:

I installed the latest node (https://nodejs.org/dist/v11.6.0/node-v11.6.0-x64.msi), but the final installer window is not complete, I could not see other information or drag the windows title, all I can do was click the top right most close button.
![image](https://user-images.githubusercontent.com/

[2019-01-15 03:40] ljharb commented on #25494
If the “heavy handed” moderation required by the CoC isn’t being enforced on the “official” discord, it should be shut down (or removed from the list and handed over to whoever wants it). If someone associated with the foundation can step up to do proper moderation, then it need not be. Has anyone stepped up to do that?

(This issue isn’t the place to debate moderation styles nor to get into the “

[2019-01-15 03:48] devsnek commented on #25494
I'd be happy to run it but I'd need at least one other person for the opposite side of the planet.

[2019-01-15 04:18] mcollina commented on #24919
Fixed in 2f1ae9eebb65db3ae2bffd9e5dde6ff0a8b66219.

[2019-01-15 04:18] #24919 closed

[2019-01-15 04:57] Hakerh400 commented on #25470
Make sure you have the latest MSVS compiler.
See: https://github.com/nodejs/help/issues/1487#issuecomment-420437062

[2019-01-15 06:33] bnoordhuis commented on #25506
SIGSTOP and SIGCONT are signals that can't be caught, i.e., Node.js has no control over them and cannot influence their actions. In other words, this is not a Node.js bug.

This issue should be moved to nodejs/help by an admin, this bug tracker is not the right place for it.

[2019-01-15 06:44] bnoordhuis commented on #25476
No, and it never really was. :)

What can happen however is that the ephemeral port range is temporarily exhausted; i.e., no ports are available and trying to claim one fails with (most likely) EADDRINUSE.

In that specific scenario, retrying might succeed. Or it might not if whatever is holding on to the ports isn't releasing them.

It's [`bind(2)`](http://man7.org/linux/man-pages/man2/bind.2.htm

[2019-01-15 06:47] bnoordhuis commented on #25433
@kadler Are you working on this? If not, I could revert  https://github.com/libuv/libuv/pull/2025 but with `s/_AIX/__PASE__/`.

[2019-01-15 08:13] carlosEdua opened #25511 "404: page could not be found"
hi, the page https://nodejs.org/dist/v10.15.0/node-v10.15.0-linux-x86.tar.xz  is not available
I try to update nodejs in my 32-bits pc with kubuntu but not working

the command: `sudo n stable` not working, and show this error `Error: invalid version 11.6.0`
I think it's because the page in nodejs.org is not found

[2019-01-15 08:34] Trott opened #25512 "Windows CI failures: parallel/test-trace-events-fs-sync"
Seeing 3221225477 (access violation) non-stop on win10 + vs2017 on CI in a trace_events test:

[code]

Examples:

https://ci.nodejs.org/job/node-test-binary-windows/23086/COMPILED_BY=vs2017,RUNNER=win10,RUN_SUBSET=0/console
https://ci.nodejs.org/job/node-test-binary-windows/23085/COMPILED_BY=vs2017,RUNNER=win10,RUN_SUBSET=0/
https://ci.nodejs.org/job/node-test-binary-windows/23084/COMPILED_BY=vs20

[2019-01-15 09:03] addaleax commented on #25512
Is 4da7e6e228766454912a4de5dc6f037da8223e53 a candidate? That would be 6 hours before 7f91329, but as I said in the PR, I was a bit scared of how wide-reaching that change may be…

[2019-01-15 09:37] targos commented on #25511
Hello, Node.js stopped releasing official 32-bit Linux builds from version 9.0.0.
It is still possible to build from source (see https://github.com/nodejs/node/blob/master/BUILDING.md#unixmacos), but you won't find any more binaries on the Node.js website.

[2019-01-15 09:37] #25511 closed

[2019-01-15 10:49] ftaiolivista commented on #25470
I have updated MSVS and Windows and rebuilded but with no luck. The same machine can successfully build a working version 9.7.0 (tested). But if I checkout v10.11.0 the builded node crash immediatly.
For testing on a clean Windows I'm using an official MS dev machine.
https://developer.microsoft.com/en-us/windows/downloads/virtual-machines

[2019-01-15 11:11] vcarl commented on #25494
I'm not clear what the topic of this thread is, then.

[2019-01-15 11:12] gireeshpunathil commented on #25512
@addaleax - it is not. I am able to recreate the issue with and without the said commit. My challenge is that I am unable to get userdump in my system (for some unknown reason, it is not producing one)

[2019-01-15 11:16] Johnny-Milkshakes commented on #25494
Well I originally created this issue to simply suggest myself as a moderator of the server linked in the readme because it seemed to have no oversight when I joined

[2019-01-15 12:20] lolobug opened #25513 "fs.writeFile callback get slower with the call times grows"
Since No reply in [https://github.com/nodejs/help](https://github.com/nodejs/help) for 12 day.

* **Node.js Version**:v10.3.0
* **OS**:mac
* **Scope (install, code, runtime, meta, other?)**:runtime
* **Module (and version) (if relevant)**:fs

Simple benchmark as following below.

[code]
when testCount=50, the output:
[code]
when testCount=4, the output:
[code]
Why the first callback get much slowe

[2019-01-15 13:19] carlosEdua commented on #25511
thanks

[2019-01-15 13:23] cedricbu opened #25514 "import http-parser "Fix Content-Length with obsolete line folding""
Will the following 2 http-parser fix be ported to Node.js ?

1) Fix Content-Length with obsolete line folding
https://github.com/nodejs/http-parser/commit/cd88eef772b11b8934e37ec2cf83d56737e3cb0b

It seems to be a regression caused by the fix for CVE-2018-7159

2)  Disallow empty Content-Length
https://github.com/nodejs/http-parser/commit/350258965909f249f9c59823aac240313e0d0120

[2019-01-15 13:39] Trott commented on #25512
Happy to report that it's now only happening frequently in CI, and not non-stop. 😅

[2019-01-15 13:42] Trott commented on #24593
Failure on debian9-64:

https://ci.nodejs.org/job/node-test-commit-linux/24665/nodes=debian9-64/console

test-softlayer-debian9-x64-1

[code]

[2019-01-15 14:18] urain39 opened #25515 "Arrow function argument is undefined in recursion"
* **Version**:
* **Platform**:
* **Subsystem**:

[code]
When I trying to compare members in `opts` in recursion it always returns undefined, but it works fine under the browser (ES6/ES5 /ES3), I am sure the `opts` is not undefined.

Btw It can also be printable when i use  `console.log` :(

Version: v11.6.0
Platform: Linux

[2019-01-15 14:49] bzoz commented on #25509
@liudonghua123 you can Shift + right click the installer on the task bar and select "Move" from the menu. You will be able to move the window with the arrow keys.

@nodejs/platform-windows, does the installer has anything in it that would cause it to move?

[2019-01-15 15:49] fraxken commented on #25494
@devsnek I would be happy to help and discuss around the subject

I created the french JS & Node.js community discord three years ago. It still works wonderfully well:
https://github.com/ES-Community/Code-of-conduct

[2019-01-15 15:51] refack commented on #25512
semi-bisect: [testing](https://ci.nodejs.org/job/node-test-commit-windows-fanned/23990/) commit 92e95f17b64838d4cf77343c1a814d4ebd795217 which is the parent of 4da7e6e228766454912a4de5dc6f037da8223e53

@gireeshpunathil best experience I had was with enabling silent-exit-dumps https://github.com/nodejs/node/pull/13947#issuecomment-312231068

[2019-01-15 16:01] kadler commented on #25433
Yes, working on it, though I've been tied up with other things at the moment.

[2019-01-15 16:23] jakeNiemiec commented on #25494
Jordan, I was criticizing the delivery (heavy-handed, aka clumsy moderation), not the prescription (CoC). Nobody came here to speak out against the CoC, **@Fishrock123 sent a message to the hundreds of discord members linking this issue** and then locking the server.

I would like to see the "[Treat all community members with respect and consideration](https://github.com/nodejs/admin/blame/master/

[2019-01-15 16:52] jakeNiemiec commented on #25494
@ljharb No problem. I know you folks get a bunch of "detractors", it just sucks to get labeled as such when it was not my intention.

[2019-01-15 16:55] jebeld17 opened #25519 "UWP/Microsoft Store package"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Bring Node.JS to the Microsoft Store as a UWP package.
With new Store policies, Node.JS should have little to no limitations if brought to the Microsoft Store. Bringing the Node.JS runtime environment to the Store will allow Windows 10 S and S-Mode users to take advantage of the program and

[2019-01-15 17:00] cyrilchapon opened #25520 "Inconsistent error message when spreading null inside array"
* **Version**: v9.5.0
* **Platform**: Darwin MBP-de-Cyril 16.7.0 Darwin Kernel Version 16.7.0: Fri Apr 27 17:59:46 PDT 2018; root:xnu-3789.73.13~1/RELEASE_X86_64 x86_64

[code]

produces

[2019-01-15 17:02] cyrilchapon commented on #25520
EDIT: it acts like this only when spreading directly on the ternary.

If you go for

[code]

You get a great

Message (which seems pretty ok)

[2019-01-15 17:03] MylesBorins commented on #25494
I'll be honest, I think we should spin down the discord. I was not initially a fan of spinning up more "official" spaces. While the "brand" is valuable in bringing people in, if it isn't an "official" space where project work is happening I genuinely believe it to be more of a liability then something that benefits the project and foundation.

There was a linked thread to "partner" communities. In

[2019-01-15 17:11] vsemozhetbyt commented on #25520
As this also happens in Chrome, it is worth to post this in https://bugs.chromium.org/p/v8/issues/list

[2019-01-15 17:11] mscdex commented on #25520
FWIW even Firefox has differing error messages for both situations: 'TypeError: null has no properties' for the first anse 'TypeError: a is null' for the second.

[2019-01-15 17:23] devsnek commented on #25520
cc @nodejs/v8 looks like the position for pulling the expression is wrong?

[code]

becomes `console.log is not a function` when in actuality it threw when trying to do GetIterator on `0`...

[2019-01-15 17:40] cyrilchapon commented on #25520
Yeah different seems is ok, but the position when using direct ternary indeed is incredibly misleading !

Even "null" would be greater imho, as I found myself searching for like 30 minutes why (in my thoughts) myFunction was even evaluated in the first place. It turns it's not of course

[2019-01-15 18:30] kadler commented on #25433
I've opened a libuv PR here: https://github.com/libuv/libuv/pull/2148

[2019-01-15 18:32] Geo1088 commented on #25494
That makes sense to me. I'll refrain from opening more issues on the topic, but I'm still willing to help mod for any unofficial servers that need it :P

[2019-01-15 18:52] broofa opened #25524 "Async SyntaxErrors omit which line the error occurs on"
* **Version**: v11.6.0
* **Platform**: Darwin RWK-Mac-2017.local 17.7.0 Darwin Kernel Version 17.7.0: Fri Nov  2 20:43:16 PDT 2018; root:xnu-4570.71.17~1/RELEASE_X86_64 x86_64
* **Subsystem**:

Notice in the following two examples, where `state` is erroneously redeclared, the "Sync Example", provides this (very useful!) information, _which is not present in the Async Example_:
[code]

The "first"

[2019-01-15 19:05] addaleax commented on #25403
I think we’re caught up to a “normal” level of pending backports now – thanks @joyeecheung and @BridgeAR for the backporting work!

I’ll close this as this particular issue has been resolved now, but we may want to spend some time thinking about how we deal with this kind of situation in the future.

[2019-01-15 19:06] devsnek commented on #25524
Duplicate of https://github.com/nodejs/node/issues/11865

[2019-01-15 19:06] #25524 closed

[2019-01-15 19:11] vsemozhetbyt commented on #25524
It seems improved in V8 7.3:
[code]

[2019-01-15 20:22] kitaro97 opened #25525 "Version 0.8.19 flagged as Heuristics.Worm.MyDoom by Barracuda Appliance"
URL: http://nodejs.org/dist/v0.8.19/node-v0.8.19-x86.msi

Can someone take look and confirm?  Web Platform Installer log shows file differing from signature as well

[2019-01-15 20:57] mscdex commented on #25525
The file matches the sha1 and sha256 sums and those are successfully verified via gpg for me.

[2019-01-15 21:41] kitaro97 commented on #25525
Interesting…  checked the WebPI log.  The signature didn’t match as the download was cutoff by the Web Security appliance.

Odd that it flagged it as a Worm.

I will pursue this with Barracuda Networks as well.  If it is a false positive, they will need to know this as well

From: mscdex [mailto:notifications@github.com]
Sent: Tuesday, January 15, 2019 3:59 PM
To: nodejs/node
Cc: Johnson, Thomas;

[2019-01-15 21:45] addaleax commented on #25525
@kitaro97 Two things:

- It might help to use `https://` URLs for downloading.
- The contents of published files are not going to be changed, so I’m not sure what we could do here.

[2019-01-15 21:47] kitaro97 commented on #25525
That's the URL the MS Web Platform Installer used to pull the file down.

I am awaiting confirmation from Barracuda Networks as to what's going on.

I did want to alert someone just in case - better safe than sorry

[2019-01-15 23:11] refack commented on #25512
Few data points:
1. I can repro (~1% of runs) but I can't get a core dump or an event logged.
2. Can repro with a limited test replacing https://github.com/nodejs/node/blob/0759cbfc775dc3a621c40e077b13a2f898ef9c04/test/parallel/test-trace-events-fs-sync.js#L121
   with `for (const tr in {'fs.sync.readdir':1}) {`
3. I'm thinking the severity peek might have been a transient thing. Did not happen sp

[2019-01-16 01:02] albertstill opened #25528 "When http header size limit is reached, instead of a generic 400 response, return 431 Request Header Fields Too Large"
We overlooked a Node security [release](https://nodejs.org/en/blog/vulnerability/november-2018-security-releases/#denial-of-service-with-large-http-headers-cve-2018-12121) in November 2018 that downsized the max http header size limit to 8192 bytes.

After a Node bump we occasionally saw 400s in production due to large cookies but the response contained no body or interesting headers, all we got i

[2019-01-16 03:44] JungMinu commented on #25483
Fixed in https://github.com/nodejs/node/commit/2b401e33de81428dc5f6dfc60343e65ee5167886

[2019-01-16 03:44] #25483 closed

[2019-01-16 04:41] martinheidegger commented on #25476
My problem is not that the implementation is arbitrary. My questions rather revolve around under what conditions _(in what OS)_ a port may not be available _(i.e. exhaustion of ports, lack of privileges to open a port)_ and under what conditions it would be better to retry.

Isn't this just the linux implementation? Windows? Mac?
I found this in [udp(7)](http://man7.org/linux/man-pages/man7/udp.7.

[2019-01-16 06:14] joyeecheung opened #25529 "Investigate flaky `known_issues/test-vm-timeout-escape-queuemicrotask`"
Refs: https://github.com/nodejs/reliability/issues/20

| Reason | <code>known_issues/test-vm-timeout-escape-queuemicrotask</code> |
| - | :- |
| Type | JS_TEST_FAILURE |
| Failed PR | 25 (https://github.com/nodejs/node/pull/25441/, https://github.com/nodejs/node/pull/24951/, https://github.com/nodejs/node/pull/25463/, https://github.com/nodejs/node/pull/22712/, https://github.com/nodejs/node/pull/

[2019-01-16 06:16] joyeecheung commented on #25512
Some data points from https://github.com/nodejs/reliability/issues/20

| Reason | <code>parallel/test-trace-events-fs-sync</code> |
| - | :- |
| Type | JS_TEST_FAILURE |
| Failed PR | 15 (https://github.com/nodejs/node/pull/25412/, https://github.com/nodejs/node/pull/25447/, https://github.com/nodejs/node/pull/25441/, https://github.com/nodejs/node/pull/25429/, https://github.com/nodejs/node/pull/

[2019-01-16 06:17] sam-github commented on #25476
There are a fixed number of available ports, if there is not one free, allocation will fail. You would like this to be stated more clearly, so no one gets the impression the port range is inexhaustible?

There are no other conditions that will cause allocation to fail (permissions isn't relevant), and there are no particular OS specific behaviours I can think of that are relevant to node API usage

[2019-01-16 06:18] gireeshpunathil commented on #25529
#25503 might have solved this?

[2019-01-16 06:21] joyeecheung commented on #25529
@gireeshpunathil The last failure appeared in https://ci.nodejs.org/job/node-test-pull-request/20137/ so looks like it's been fixed but I'd suggest we observe for a couple days before closing this.

[2019-01-16 06:35] bzoz commented on #25519
This is a thing that needs to be done in libuv. There was an attempt once (https://github.com/libuv/libuv/pull/1772), but it did not get completed.

[2019-01-16 08:09] 03vishalrawal commented on #3742
I have found a solution as "npm config set registry http://registry.npmjs.org/  "

[2019-01-16 08:43] RootUp opened #25531 "Memory leak"
Hi Team,

## Summary

I have build node.js using AFL integrated ASAN in ubuntu 16.04 LTS and while executing the node program multiple memory leaks were observed, also please find attached .txt file to view full direct leak.

## ASAN
[code]
[node.txt](https://github.com/nodejs/node/files/2763269/node.txt)

[2019-01-16 10:05] lpinca commented on #25499
Is there any reason for using [`req.setTimeout(0)`](https://gist.github.com/szmarczak/6970bbc7b16b37f6a2b55fad5b064b26#file-bug-js-L19) after response ends?

This re-adds the listener right after it is removed https://github.com/nodejs/node/blob/968e901aff38a343b1de4addebf79fd8fa991c59/lib/_http_client.js#L591-L594

because the `timeoutCb` flag is cleared when response ends.

I think we can make `

[2019-01-16 10:56] gireeshpunathil commented on #25512
I made a minimal code that potentially recreate the same thing, and I got this:

`Assertion failed: 0, file d:\gireesh\node\deps\uv\src\win\handle-inl.h, line 160` repeatedly.

However, user dump is not there to figure out the context. Either `gflags` are not working for me, or it is not configured appropriately.

So, we are on the exit path for sure, but then a bad handle came on our way. Could i

[2019-01-16 11:47] bnoordhuis commented on #25487
@amitzur That's probably #24593. Summary: flaky test (on some systems.)

[2019-01-16 11:48] tianjianchn commented on #24760
Using `node-fetch` to request the node 6.15.0 server, sometimes the request end with 'socket hang up' immediately. Thanks for the fix!

[2019-01-16 11:50] amitzur commented on #25487
thanks @bnoordhuis . I assumed this so I allowed myself to file a PR already. And indeed the checks passed.

[2019-01-16 11:52] bnoordhuis commented on #25531
Without symbolic names the output isn't that useful if you built from source. That said, it's not unexpected for tools like msan and valgrind to complain because Node.js doesn't free memory on exit (because what's the point - the OS reclaims it anyway.)

[2019-01-16 11:55] bnoordhuis commented on #25476
No, all platforms. The snippet on UDP is when you start sending without binding first but your OP was specifically about `socket.listen()` so that doesn't apply.

[2019-01-16 12:04] gireeshpunathil commented on #25512
ok, modified the code to honor abort on exceptions, and got these info from the VS debugger (data copied from its UI frames, so not very much readable)

message:
`Unhandled exception at 0x00007FF718B87B39 in node.exe: Fatal program exit requested.`

call stack:
[code]

loop content around endgame_handles:

[code]

so it is same as  `Assertion failed: 0, file d:\gireesh\node\deps\uv\src\win\handle-

[2019-01-16 12:19] gireeshpunathil commented on #25512
looking through the threads, 2 of them are relevant while others inert, just blocked on conditions.

failing thread (0x3d7c, some helper thread?)

[code]

main thread (0x280c)

[code]

[2019-01-16 12:36] thefourtheye commented on #25469
Looping in @nodejs/libuv as well.

[2019-01-16 13:04] timdp commented on #25499
And even if @szmarczak didn't have a valid reason to do so, a bit of state checking that prevents the memory leak would be cool. :slightly_smiling_face:

[2019-01-16 13:07] lpinca commented on #25499
Yes I agree. If you have some spare time to open a PR please do.

[2019-01-16 13:14] thefourtheye commented on #25469
Also /ping @nodejs/platform-macos

[2019-01-16 13:19] kitaro97 commented on #25525
Just got confirmation from Barracuda

“After looking further into it, as of Virus Definition 3.7.0.9286, it was removed as a malicious file due to being a false positive.”

Hopefully I didn’t create too much of a bother, can’t be too careful these days

From: mscdex [mailto:notifications@github.com]
Sent: Tuesday, January 15, 2019 3:59 PM
To: nodejs/node
Cc: Johnson, Thomas; Author
Subject: Re: [n

[2019-01-16 14:05] gireeshpunathil commented on #25512
while this still need to be narrowed down, it is more or less evident that event loop is getting bad elements from the destruction that is happening in the main thread?

if so, does @addaleax 's `reset StopTracingAgent() before platform teardown` (#25472)  going to be a solution for this?

[2019-01-16 14:16] nigoroll commented on #25495
@addaleax It is plain wrong to use the value of `Accept-Ending` to determine the Content-Encoding and not set `Vary`, unless any other downstream caching is prevented, and even then, for good interop with caches, I'd advise to still set it correctly, because cache admins may override cache directives.

I am not sure what exactly you mean by `It’s not central to the point of the documentation`, in

[2019-01-16 14:17] nigoroll commented on #25495
@DamianRivas your example looks good to me, but I am not a node dev

[2019-01-16 14:39] gireeshpunathil commented on #25512
fwiw, the failing thread is identified as the Agent thread that runs the event loop on `tracing_loop_` in the lambda within `Agent::Start`

[2019-01-16 14:44] gireeshpunathil commented on #25512
that leads to a point (of dilemma for me): is it fair / safe to execute `uv_run` from 2 different threads? one from agent thread created in `Agent::Start` and the other one (main) through `Agent::~Agent`?

[2019-01-16 17:16] Johnny-Milkshakes commented on #25494
Plus one if anyone needs mod help ^^

[2019-01-16 17:40] szmarczak commented on #22395
Indeed it would be very useful to have such module in Node. Use case: TOTP.

[2019-01-16 18:56] vcarl commented on #25494
FWIW, the way I handle adding new moderators is by adding the role to people who are already more or less fulfilling the responsibilities. Reactiflux found all of its mods from users who embodied the culture we wanted to grow. The users who were exceedingly patient and helpful were promoted to mods after demonstrating they could do so consistently and were going to stick around (we added an MVP ro

[2019-01-16 19:47] mhdawson opened #25540 "V8 test failure on PPC - recent backport?"
* **Version**: master (and possibly 11)
* **Platform**: PPC
* **Subsystem**: wasm

 Looks like a test is failing in the v8 tests on master:

https://ci.nodejs.org/view/All/job/node-test-commit-v8-linux/2014/nodes=ppcle-ubuntu1404,v8test=v8test/testReport/

stdout:
/home/iojs/build/workspace/node-test-commit-v8-linux/nodes/ppcle-ubuntu1404/v8test/v8test/deps/v8/test/mjsunit/wasm/jsapi-harness.js:10

[2019-01-16 19:48] mhdawson commented on #25540
@sam-github could you help investigate to see if this is a failure do to a recent backport or something else.

[2019-01-16 21:23] YakovL opened #25542 "path.resolve: clarify the example"
https://nodejs.org/api/path.html#path_path_resolve_paths states:

This is something a bit diffucult to grab when in hurry (first though is: why that wouldn't be `/foo/bar/baz`?). One thing is "prepend" is meant not literally (otherwise that would be `/barbaz`). The other is the whole idea is not very usual. My suggestion is to expand this into:

But may be this is trivial for others, so I'd like t

[2019-01-16 22:13] bcoe commented on #25540
@hashseed I've debugged this, the problem is that `d8` runs from the root of the Node.js directory in our test suite, and the includes expect that you're running from the root directory `v8`:

[code]

The problem is corrected if you use:

[code]

which seems ugly.

[2019-01-16 22:19] bcoe commented on #25540
please note that I recreated this locally on OSX, by simply running:

[code]

[2019-01-17 04:05] Hakerh400 commented on #25470
Tried to reproduce the issue

- Downloaded the virtaul machine from your link
- Updated Windows and MSVS
- Faced error while running the Boxstarter script (related to invalid Windows license and the script is aborted)

What is the Node.js exit code (type `echo %errorlevel%` into the cmd after node crashes)?
Can you please build the debug build (run `vcbuild.bat debug`) and share it here.

[2019-01-17 05:31] Trott commented on #25476
I can't tell if you're asking that last question rhetorically (and somewhat sarcastically) or earnestly. But I would be OK with documenting this, just as long as it can be stated succinctly. I don't think we need four paragraphs with sample code for this. But maybe a single sentence?:

[code]

Admittedly, that's an extreme edge case and may not seem to be a high-value bit of documentation. But if

[2019-01-17 05:42] Trott commented on #25476
https://stackoverflow.com/a/54229665/436641

[2019-01-17 06:44] martinheidegger commented on #25476
@Trott that answer is really quite good! _(Of course I was googling the err: E_FHQWHGADS)_

I think most is cleared with the issue. After all kind explanation I am in a situation where **I** do not need this explanation anymore. Reading the docs **now** I feel confident that the answer is enough and I am wondering what I was confused about. Am I correct in using this explanation with my previous s

[2019-01-17 06:48] #25311 closed

[2019-01-17 07:58] bnoordhuis commented on #25528
Including the actual size limit might leak mildly sensitive information. I say "mildly" because you can binary-search it with multiple requests but why make life easier for an attacker?

[2019-01-17 09:01] FrancisVila opened #25546 "Better error messages for attempted fs.writefile from browser"
I have spent hours and hours trying to write to a file on the server side using React + modules such as fs, fs-extra, etc. Some of the steps in that attempt (not all) are logged in this StackOverflow query: https://stackoverflow.com/questions/54201101/react-write-file-nothing-works-fs-file-system. I'm not the only one to be confused.
The error messages displayed don't **at all** suggest that what

[2019-01-17 10:21] bzoz commented on #25470
@ftaiolivista  Can reproduce. This is already fixed in v10.15.0, which compiles and runs fine.

Since this is already fixed in newer Node version, I'm going to close this issue.  Feel free to reopen it if it still does not work for you.

[2019-01-17 10:21] #25470 closed

[2019-01-17 10:40] bzoz commented on #25512
The code looks ok. We wait for the thread to join in `StopTracing`, before calling uv_run from another thread.

I cant get this to reproduce on my box. Could you inspect the content of the handle that causes the crash?

[2019-01-17 11:00] ftaiolivista commented on #25470
Douu... I'll want to work with the same node version of Electron JS. I think I'll wait next electron release.

[2019-01-17 11:04] bzoz commented on #25484
cc @nodejs/platform-windows

[2019-01-17 11:11] bzoz commented on #25470
The exe available here: https://nodejs.org/dist/v10.11.0/ seems to be working. The CI when building Node uses `vcbuild release`, you can check if building Node like that fixes your issue.

[2019-01-17 13:15] KishanIos007 commented on #17182
Updating to latest version of node solves the issue for me. Cheers

[2019-01-17 13:16] KishanIos007 commented on #17041
Updating to latest stable version(10.15.0) of node solve the issue for me .

[2019-01-17 14:13] ftaiolivista commented on #25470
Great... with vcbuild release it works. Maybe specified in documentation :))

[2019-01-17 15:45] gireeshpunathil commented on #25512
@bzoz - sure; been trying hard to get a repro. Will update when I have one.

[2019-01-17 17:31] sam-github commented on #25476
@martinheidegger Yes, your current self's understanding about EADDRINUSE is correct.

- http://man7.org/linux/man-pages/man2/bind.2.html

[2019-01-17 17:37] sam-github commented on #25476
Fwiw, I see Rich's answer at the top when I go to https://stackoverflow.com/questions/9901043/how-does-node-js-choose-random-ports/. I'm not familiar enough with stack overflow to know if that's just me, or for everyone.

[2019-01-17 18:28] bnb opened #25548 "Create node/doc/guides/writing-docs.md"
Currently we don't seem to have a guide for writing docs – or at least not one that I can find.

In the [`node/doc/guides`](https://github.com/nodejs/node/tree/master/doc/guides) directory, there seems to be examples for [writing and running benchmarks](https://github.com/nodejs/node/blob/master/doc/guides/writing-and-running-benchmarks.md) and [writing tests](https://github.com/nodejs/node/blob/m

[2019-01-17 19:06] addaleax commented on #25512
@gireeshpunathil I’m pretty sure the answer to that is “no”.

[2019-01-17 19:23] refack commented on #25512
Other runtimes do this (e.g. Electron & Julia), but in a thread-safe way.

[2019-01-17 19:32] RootUp commented on #25531
Thanks @addaleax for taking a look into this.
I just git clone the node.js repo in this case to find above memory leaks.

[2019-01-17 19:52] mhdawson commented on #24966
I think we should rename this issue to reflect that actual problem.  Coverage is working (well was broken for some days but due to a different issue but with the work around is running ok).  It might get more attention with a proper title.

[2019-01-17 20:43] mmarchini commented on #25525
Closing as this seems to be resolved.

[2019-01-17 20:43] #25525 closed

[2019-01-17 20:44] mscdex opened #25549 "doc: backticks being rendered literally in docs"
* **Version**: v10.x, master
* **Platform**: n/a
* **Subsystem**: doc

At least in the `crypto` docs, there are backticks being rendered literally instead of highlighting/styling the enclosed text. One example is the header [here](https://nodejs.org/docs/latest/api/crypto.html#crypto_crypto_module_methods_and_properties). I should note that at least in this particular example, the v8.x docs seem t

[2019-01-17 20:51] ibc opened #25550 "Tons of unknown warning option '-Wno-old-style-declaration' when compiling openssl"
Version: v10.13.0
Platform: Linux e4b2ecc253f9 4.9.125-linuxkit x86_64 GNU/Linux (Docker in Mac)
clang version: 7.0.0 (tags/RELEASE_700/final)

When compiling openssl tons of warning are printed like this:

[code]

It does not happen when using GCC compiler, but just with clang, which seems to not support
[this option](https://github.com/nodejs/node/blob/master/deps/openssl/openssl_common.gypi#L58

[2019-01-17 21:46] vsemozhetbyt commented on #25548
A file that can help a little: https://github.com/nodejs/node/blob/master/tools/doc/README.md
A file that can be mentioned un such a guide: https://github.com/nodejs/node/blob/master/doc/STYLE_GUIDE.md

[2019-01-17 21:49] bnoordhuis commented on #25550
There's even an old comment about that in `deps/openssl/openssl_common.gypi`: :)

configure.py already knows the gcc version (search for `gcc_version`) but it needs to be taught to store it in config.gypi. Shouldn't be too hard, pull request welcome.

[2019-01-17 21:54] ibc commented on #25550
`config.gypi`? I don't see that file. May be you mean `openssl_common.gypi`?

[2019-01-17 21:57] bnoordhuis commented on #25550
config.gypi is created when you run configure/configure.py.

[2019-01-17 22:00] vsemozhetbyt commented on #25549
cc @rubys
Is there an issue with our doctools or dependencies here?

[2019-01-17 22:46] sam-github commented on #25540
@bcoe the problem you describe in https://github.com/nodejs/node/issues/25540#issuecomment-454964220 sounds like it would effect all platforms, yet this is just failing on ubuntu-ppcle, do you have any insight into that?

What happened with your experiment?

[2019-01-17 22:49] mhdawson commented on #24249
We talked today in the N-API team meeting and @gabrielschulhof is going to going to create a PR to move it out of experimental on master.  The goal is to that that backported for a potential SemVer minor 8.x release being planned by the Release WG.

[2019-01-17 23:11] bcoe commented on #25540
@sam-github I could reproduce a similar error on my OSX machine, and it was related to the working directory. I don't understand why the RHEL and Intel Ubuntu builds are passing.

[2019-01-17 23:13] mhdawson commented on #25458
I tend to agree. Do @tshinnic do you want to file a PR.  I think it might make sense to add the "Installing Node" section right after the "Building Node.js" section with a comment that if all you want to do after building is to use Node.js then these are the install steps.  If you want to test etc. then the following paragraphs will help you with that.

[2019-01-17 23:17] sam-github commented on #25540
@bcoe thanks for the info. I've no special skills here, but I'll take a crack at figuring out what is going on.

[2019-01-17 23:30] richardlau commented on #25550
It would probably be better to check for `clang` rather than the gcc version (the minimum supported version of gcc to compile Node.js is > 4.3).

[2019-01-18 00:41] addaleax commented on #25531
@RootUp Can you provide e.g. steps to reproduce? Or, like @bnoordhuis said, symbolic names (e.g. a copy of the `node` binary used for this)? The .txt file is not much more than a list of random numbers on its own…

[2019-01-18 00:48] addaleax commented on #25512
Oh, yeah, running it concurrently is the issue. I think consecutively running on different threads should not be an issue on its own.

[2019-01-18 01:11] bencmbrook commented on #678
Sounds like this may have been picked up? Any updates or work being done here?

[2019-01-18 01:27] hktalent opened #25552 "TypeError: crypto.createCredentials is not a function"
???????????????
crypto.createCredentials = tls.createSecureContext;
tls.createSecurePair = tls.TLSSocket;
???????????????

[code]

[2019-01-18 01:31] hktalent opened #25553 "TypeError: stream.pause is not a function"
[code]

[2019-01-18 01:45] mscdex commented on #25552
`crypto.createCredentials()` was deprecated and removed. `node-rdpjs` needs to be updated.

[2019-01-18 01:45] #25552 closed

[2019-01-18 01:55] mscdex commented on #25553
It sounds like an object that is not a proper stream is being passed to node's API. Judging by https://github.com/nodejs/node/issues/25552 it's probably a similar issue of needing to update the code/dependencies used in the `node-rdpjs` module.

[2019-01-18 02:18] hktalent commented on #25552
@mscdex
[code]
[code]

[2019-01-18 02:18] hktalent commented on #25552
@mscdex
[code]
[code]

[2019-01-18 02:19] #25553 closed

[2019-01-18 03:53] adamzerella opened #25554 "Understanding Node's compilation and evaluation process"
Version: **v10.15.0**
Platform: **Darwin Kernel Version 18.2.0**
Subsystem: `fs` and `fs.promises`

Like a lot of other compilers, code is read top to bottom, left to right. When running the following code snippet:

[code]

**Yields:**
[code]

I always thought of the `await` keyword to be a blocking call for when the next instruction is evaluated, in this case `fs.stat( '<directory>')`. I don't un

[2019-01-18 03:58] devsnek commented on #25554
it's running `await someCode` where `someCode` is `fs.stat().isDirectory()`. your `fs.stat` call returns a promise which of course doesn't have `.isDirectory` on it. you even solved it yourself using those parenthesis.

[2019-01-18 04:19] Hakerh400 commented on #25554
Not in general. See the [operator precedence](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Operator_Precedence). Member access `.` has greater priority than `await`.

[2019-01-18 05:32] oleersoy opened #25555 "NPM is installing non declared root dependencies"
Version: output of `node -v`
v11.0.0

Platform: output of `uname -a` (UNIX), or version and 32 or 64-bit (Windows)
Ubuntu 18.10

I posted the issue to SO first, to see if anyone knows what's up.  Here's the link:
https://stackoverflow.com/questions/54245725/npm-installing-non-root-dependencies-under-node-modules

[2019-01-18 06:08] mscdex commented on #25555
That is how npm works since npm v3, it tries to not nest dependencies as much. See [this](https://npm.github.io/how-npm-works-docs/npm3/how-npm3-works.html) for more information.

As far as older versions of modules being picked up by other dependencies, that is most likely because of the semver specifier for that module being satisfied by the older version. If that's not the case, then you should

[2019-01-18 06:08] #25555 closed

[2019-01-18 06:20] RootUp commented on #25531
Sure.

**Steps to reproduce**

    CC=afl-clang-fast CXX=afl-clang-fast++ AFL_USE_ASAN=1 ./autogen.sh
    CC=afl-clang-fast CXX=afl-clang-fast++ AFL_USE_ASAN=1 ./configure
    CC=afl-clang-fast CXX=afl-clang-fast++ AFL_USE_ASAN=1 make
    ./node
    Ctrl+C or Ctrl+D to exit from node

[2019-01-18 06:32] albertstill commented on #25528
Also seems the default 400 behaviour is documented in the [Event: 'clientError'](https://nodejs.org/docs/latest-v11.x/api/http.html#http_event_clienterror) documentation.

The following code would cause a server to behave how I wanted, using the HPE_HEADER_OVERFLOW error [code](https://nodejs.org/api/errors.html#errors_hpe_header_overflow).

[code]

Is it intentional the consumer has to handle thi

[2019-01-18 07:10] #25451 closed

[2019-01-18 07:39] sachinlondhe3112 commented on #24735
PS C:\Users\S\Desktop\mm> ng new my
internal/modules/cjs/loader.js:583
    throw err;
    ^

Error: Cannot find module 'symbol-observable'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/modules/cjs/loader.js:507:25)
    at Module.require (internal/modules/cjs/loader.js:637:17)
    at require (internal/modules/cjs/helpers.js:20

[2019-01-18 08:07] saghul opened #25558 "DNS resolution fails for internationalized domain names"
* **Version**: v10.14.2
* **Platform**: Darwin november.local 18.2.0 Darwin Kernel Version 18.2.0: Mon Nov 12 20:24:46 PST 2018; root:xnu-4903.231.4~2/RELEASE_X86_64 x86_64
* **Subsystem**: dns, cares_wrap

Currently the DNS module seems to utf-8 encode the names passed to c-ares for DNS resolution: https://github.com/nodejs/node/blob/2c0a75118cd6a2eaf6b45fe8c67336f44c86ab0f/src/cares_wrap.cc#L180

[2019-01-18 08:08] gireeshpunathil commented on #25512
one challenge in getting the needed info is: right now the failing code is run as a child process, if we move it to the parent then it does not fail anymore; and if run as is it fails, but does not produce dumps.

I am running with `SetErrorMode(0)` in both libuv and the python harness, that addresses the `dump` generation issue for the parent, but not for the child!

Is there a specific flag I co

[2019-01-18 08:11] gireeshpunathil commented on #18760
#22712 is merged now; so closing. fyi - @nodejs/diagnostics

[2019-01-18 08:11] #18760 closed

[2019-01-18 09:41] santigimeno commented on #25558
Possible fix in https://github.com/nodejs/node/pull/25559

[2019-01-18 10:09] szmarczak opened #25560 "Specify servers for `dns.lookup(...)`"
The performance of `Resolver.resolve4`/`Resolver.resolve6` is [very poor](https://github.com/szmarczak/cacheable-lookup#high-performance) (~15 ops/sec).

As I see it, it does the same as `dns.lookup` but you can select custom DNS servers as well as you can also get the TTL.

The performance of `dns.lookup` is ~6000 ops/sec. Is it somehow possible to select the servers for `dns.lookup`?

[2019-01-18 10:14] szmarczak opened #25561 "Pass a Promise to the `lookup` option in `socket.connect(...)`"
The `socket.connect(...)` accepts the `lookup` option only as a callback-style function.

Nowadays all modern APIs use promises. IMO it should accept promises too. What do you think about it?

I see there is an experimental Promise API for the `dns` module. Will the old `dns` module be replaced by promises?

[2019-01-18 10:36] targos commented on #25561
I think you mean to accept a function that returns a Promise?

[2019-01-18 11:09] szmarczak commented on #25561
Yup, IOW: async function :)

[2019-01-18 13:58] silverwind commented on #25560
Regular `dns` methods use the servers set by `dns.setServers` before the query.

Can't say I noticed this. Do you have an minimal benchmark?

[2019-01-18 14:40] szmarczak commented on #25560
Okay, but this is global. All things that use the `dns` module will be affected.

Yup: https://github.com/szmarczak/cacheable-lookup/blob/master/benchmark.js

[code]

[2019-01-18 14:41] AdamMajer opened #25568 "zlib brotli fails unit tests"
* **Version**: v11.x-staging, master
* **Platform**: openSUSE Tumbleweed i586
* **Subsystem**:

Problem only happens with i586 platform. It's not visible on other architectures. You can see the complete buildlog,

https://build.opensuse.org/public/build/devel:languages:nodejs:staging/openSUSE_Tumbleweed/i586/nodejs11/_log

[code]

[2019-01-18 16:00] silverwind commented on #25560
Yeah, `dns.Resolver` is your only option then.

Regarding your benchmark, you have to keep in mind that all `resolve` variants contact your DNS server while `lookup` does not involve DNS or the network (on Linux, it's just a glibc call), so `lookup` will be faster by a magnitute in all cases. I'd be surpised if there were any major performance difference between `dns` and `dns.Resolver` methods.

[2019-01-18 16:23] szmarczak commented on #25560
Very well explained, I understand now :)

So `dns.setServers()` won't affect `dns.lookup()`?

[2019-01-18 16:40] sam-github commented on #25561
Isn't using `util.callbackify()` easy enough? Maybe in a promisified net API accepting promises for lookup would make some sense, but IMO this is a fairly niche option of the net API, its not an ideal target for the first promisification of net. Its also makes sense to me that the API contract for the loopkup function is identical to that of the dns API. Promisifying it _before_ dns seems backward

[2019-01-18 16:44] silverwind commented on #25558
I'm quite surprised that this affects so many version. I'm pretty sure IDN did work at least at some point in time.

[2019-01-18 16:45] szmarczak commented on #25561
Alright. Is it even in the plans for the `net` module to use promises instead?

Also if I could get an answer for this that would be great:

[2019-01-18 17:15] sam-github commented on #25528
431 sounds pretty reasonable to me, @nodejs/http @mcollina, would you agree?

[2019-01-18 17:46] sam-github commented on #25561
This is just my opinion, so take it with a grain of salt. The way node is going is that promis apis show up as properties off the current API:
https://nodejs.org/api/fs.html#fs_fs_promises_api, https://nodejs.org/api/dns.html#dns_dns_promises_api

I would expect that to continue, but I would not expect dns to be _replaced_ by promises, or for net to use promises _instead_ of callbacks.

Node doesn

[2019-01-18 17:54] sam-github commented on #25560
@szmarczak you crossed out your question about setServers() and dns.lookup()?

The answer is "no", for posterity. Its implied by https://nodejs.org/api/dns.html#dns_dns_lookup to someone who knows how the system resolvers work and are configured, but your question makes me think it should be stated more explicitly.

https://nodejs.org/api/dns.html#dns_dns_setservers_servers use the word "resolutio

[2019-01-18 18:04] addaleax commented on #25568
@AdamMajer Can you check whether other brotli compressors yield the same result on this machine (e.g. the Python one in https://github.com/google/brotli aka `pip install brotli`)?

[2019-01-18 18:04] szmarczak commented on #25560
@silverwind has given the answer already:

Indeed.

[2019-01-18 19:34] sam-github commented on #25540
@bcoe I'm doing a ppcle build on a ci machine now. My intention was to repro the failure, then bisect to find what introduced it, but since the build is quite slow (much less the testing, no idea how long that will take), I went through the history.

Your https://github.com/nodejs/node/pull/25429 is the only thing that touched v8 on the day the builds started to fail, which I guess explains why yo

[2019-01-18 19:46] sam-github commented on #25540
I ran test-v8 from master on test-osuosl-ubuntu1404-ppc64--le-1, it passed. Hm.

I'm doing a ci run: https://ci.nodejs.org/view/All/job/node-test-commit-v8-linux/2023/

For future reference, I hacked up the the execute scripts to run locally. This did the trick, when run from the root of a node checkout. It depends on the machine setup, it uses specific versions of gcc, binutils, and corresponding

[2019-01-18 20:13] mcollina commented on #25528
I’m OK in using a 431, it seems a good idea! I think we might not want to change the default, and change this in a semver-major PR. Would you like to open one?

[2019-01-18 23:08] bcoe commented on #25540
@sam-github anything I can help with on my end, wondering if you've made any progress. You can find me on Twitter, if you want to talk real-time.

[2019-01-19 01:16] martinheidegger commented on #25476
@sam-github Thank you for confirming. @Trott awesome news about the stackoverflow entry. I am okay with closing this issue.

[2019-01-19 01:34] sam-github commented on #25540
@bcoe looks like the server's jenkins working directory just needed to be deleted so the job could re-create it. I have 2 green builds in a row, and just kicked another off. This might be fixed.

[2019-01-19 04:45] #22796 closed

[2019-01-19 05:03] oleersoy commented on #25555
In this case we have package A that depends on package B that depends on package C.  Only package B is being declared as a dependency.  However NPM also installs an older version of package C as a root level dependency.  This cause package B to use the older version, instead of the version that it has installed in the `node_modules` folder.

I could post this to NPMs issue tracker but it looks lik

[2019-01-19 05:06] sam-github commented on #25540
OK, no reall explanation for what was going on, but it seems to be good now.

[2019-01-19 05:08] oleersoy opened #25578 "Posting an NPM Issue"
[I'd like to post this issue to NPMs github repository](https://github.com/nodejs/node/issues/25555), however it looks like it has been archived:
https://github.com/npm/npm/issues

[2019-01-19 05:12] oleersoy commented on #25578
I found it - I believe its the discourse site ....

[2019-01-19 05:12] #25578 closed

[2019-01-19 06:15] cclauss commented on #24512
Any progress on this issues?

[2019-01-19 09:50] KSXGitHub opened #25581 "Suggestion: Centralized package repository that support multiple versions of a package"
## Problem

Projects that use Node.js likely also use npm packages, and thus contain a `node_modules` folder. Having multiple projects like this leads to having multiple `node_modules` folder which likely contain duplicated packages. This not only wastes disk space, it also wastes bandwidth and time to install these packages.

(Other platforms (such as Haskell, Rust, Java) avoid this by having a c

[2019-01-19 14:08] gireeshpunathil commented on #25512
the recreate frequency for this issue has got thin over time. So I guess I stop my effort on this further, and wait to see if it recurs.

[2019-01-19 16:54] refack commented on #25512
That's what I was seeing as well... I'm wondering if that might indicate that the error happens at the kernel level, before the child process has completed it's launch.

[2019-01-19 17:46] gireeshpunathil commented on #25512
@refack - that looks probable - I ran this in Linux, freebsd and AIX a 10K times and never seen a single failure, so something that deeply related to the OS and beneath, may be. The test is doing a lot of disk I/O, applying all possible fs operations on the same file in quick succession so I agree to such a (kernel) possibility.

[2019-01-19 21:55] asbjornu commented on #12067
@FyiurAmron, that makes sense. Thanks for pointing it out!

[2019-01-19 22:54] Trott commented on #25548
Additional prior art from the archived docs repo:

* https://github.com/nodejs/docs/blob/master/CONTRIBUTING.md
* https://github.com/nodejs/docs/blob/master/GETTING-STARTED.md
* https://github.com/nodejs/docs/blob/master/ROADMAP.md (waaaay out of date but may be useful anyway?)