[2018-09-11 04:13] ljharb commented on #22587
It also differs, for example, because Buffer is node’s, but Promise is not - there’s a higher authority for language builtins. node has much greater flexibility with its own core types and modules than it should with language builtins, if it wants javascript to remain somewhat portable from and to node.

[2018-09-11 05:04] kfarnung commented on #22799
That's my guess as well, the documentation doesn't call it out, but I suspect that the request for real-time priority is being downgraded transparently.  I'm on Windows Insiders builds, so it's possible there's something with that as well.

[2018-09-11 10:04] addaleax commented on #19044
@joseph-jja That looks like a different error – can you open a new issue, ideally with a full reproduction (should be doable)?

[2018-09-11 10:07] mcollina commented on #21865
Websocket is not currently compatible with HTTP2, and I think the inspector cannot be accessed through HTTP2.

[2018-09-11 10:07] #21865 closed

[2018-09-11 10:28] bzoz commented on #21773
Can be reproduced by:
[code]
Switching `breakEvalOnSigint` to `false` makes the problem go away.

/cc @nodejs/platform-windows @nodejs/repl

[2018-09-11 10:40] addaleax commented on #21773
I assume the key question here is why the process exits, right? Has anybody been able to figure out whether that is because of an emtpy event loop or because of an explicit exit() call somewhere?

[2018-09-11 10:56] IonutArhire commented on #20348
I have the exact same problem. Node v8.11.1. I tried both command promt and powershell. I'm using Windows 7.

[2018-09-11 10:58] tniessen commented on #21773
@addaleax Yes, the loop is empty (`uv_loop_alive` returns `false`), but I am not sure why.

[2018-09-11 11:34] seishun commented on #21773
Can anyone reproduce this on Windows 7?

[2018-09-11 11:51] jakearchibald opened #22804 "Docs missing for http2Stream.id and the 'ready' event"
I wrote a piece of code that made a request to A, and after a moment, made a request to B with the prior stream as a parent.

This means I needed to pass the ID of stream A to the `client.request` call for stream B.

`stream.id` is mentioned in passing, but it isn't specifically documented.

Same goes for the `ready` event.

[2018-09-11 12:16] talmobi commented on #5451
@franky-continu so what did the problem get resolved or no?

[2018-09-11 12:45] bzoz commented on #21773
Does not reproduce on win7 on my VM.

[2018-09-11 12:48] sgallagher opened #22805 "Tarball created on Mac throws errors when extracted on Linux"
* **Version**: 10.10.0
* **Platform**: Linux sgallaghp50.sgallagh.rht 4.17.19-200.fc28.x86_64 #1 SMP Fri Aug 24 15:47:41 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: Tarball

Download http://nodejs.org/dist/v10.10.0/node-v10.10.0.tar.gz on Linux.
Run `tar xvf node-v10.10.0.tar.gz`

Results:
[code]

It appears that in 10.10.0, Node.js may have started using BSD tar on a mac to create th

[2018-09-11 12:51] MylesBorins commented on #22805
/cc @nodejs/build @nodejs/release

[2018-09-11 12:54] Hakerh400 commented on #20348
Calling [SetConsoleCursorInfo](https://docs.microsoft.com/en-us/windows/console/setconsolecursorinfo) with [CONSOLE_CURSOR_INFO::bVisible](https://docs.microsoft.com/en-us/windows/console/console-cursor-info-str) set to `TRUE` after moving the cursor would probably solve this problem.

[2018-09-11 13:10] vsemozhetbyt opened #22806 "Is node-test-pull-request-lite-pipeline broken?"
All last jobs failed at the start: https://ci.nodejs.org/job/node-test-pull-request-lite-pipeline/

[2018-09-11 13:13] targos commented on #22805
I can't reproduce and I have the same version of Fedora as in the OP

[2018-09-11 13:16] sgallagher commented on #22805
For the record, I'm using `tar-1.30-6.fc29.x86_64`

I just realized I'm still reporting a Fedora 28 kernel, but I'm on the Fedora 29 development branch.

[2018-09-11 13:17] targos commented on #22805
Sorry. I can indeed reproduce (`tar xvf node-v10.10.0.tar.gz | grep Ignoring"` to see the same output).

I doesn't really throw an error, though (the exit code is 0). Is there an issue with the extracted files?

[2018-09-11 13:31] targos commented on #22805
The tarball is created on Mac but that has been the case for previous releases as well.

@nodejs/build Did anything change on the release machine (osx1010-release-tar) between `v10.9.0` and `v10.10.0`?

This is what was executed to create the file:
[code]

[2018-09-11 13:37] DarwishAaron opened #22807 "How to return response from http module in Node.js?"
How do I return the response value, **access_token**, to a variable for usage elsewhere? It yields undefined if I try to log its value outside of `res.on('data')` listener.

[code]

The token value is logged to the console by the line that reads: ```console.log(`BODY: ${access_token}`);``` The issue is with trying to extract this value for usage elsewhere.

[2018-09-11 14:41] bzoz commented on #21773
Setting the console back into raw mode (https://github.com/nodejs/node/blob/master/lib/repl.js#L338) triggers this.

[2018-09-11 14:54] bricss commented on #18770
OpenSSL 1.1.1 final is here -> https://www.openssl.org/blog/blog/2018/09/11/release111/

[2018-09-11 15:01] mscdex commented on #22807
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-09-11 15:01] #22807 closed

[2018-09-11 15:05] mscdex commented on #22805
It seems this happens when you use BSD tar instead of GNU tar.

[2018-09-11 15:37] miralemd opened #22809 "Date formatting and calculation"
* **Version**: 10.4.0
* **Platform**: Darwin Kernel Version 17.6.0
* **Subsystem**:

Version 10.4.0+ handles certain dates differently than 10.3.0 and earlier (maybe caused by V8 somewhere between 6.6.346.32 - 6.7.288.43).

Dates earlier than 1900 will have a 14 second negative offset despite being constructed with 0 seconds as argument:

[code]

The call to `getSeconds` returns `0`, which is corr

[2018-09-11 15:53] mscdex commented on #22809
The newer behavior is the correct behavior. See this note on MDN about the constructor:

[2018-09-11 15:54] #22809 closed

[2018-09-11 16:47] MylesBorins commented on #22805
I think we moved from building on 10.10 to 10.11... potentially with
another provider.

On Tue, Sep 11, 2018, 11:06 AM mscdex <notifications@github.com> wrote:

[2018-09-11 17:15] gibfahn commented on #22805
I don't see an obvious difference between the 10.10 and 10.11 hosts (will update with details).

https://ci-release.nodejs.org/computer/release-requireio-osx1010-x64-1/
https://ci-release.nodejs.org/computer/release-macstadium-macos10.11-x64-1/

[code]

The job seems to run `make tar-upload`.

[2018-09-11 17:26] sgallagher commented on #22805
@gibfahn I suspect that on 10.10, gnu tar was also installed and probably owned the `tar` name. Updating to 10.11 may have replaced this with BSD tar.

[2018-09-11 17:58] matrixapps commented on #15464
Has anyone solved this issue that is quite infuriating.  VSCODE 1.27.1 with Node 8.11.4.
Using my typical debug workflow and the function emitInitNative gets broken into constantly.  I've trued the suggestions above such as:

[2018-09-11 18:13] targos commented on #22805
But Node 10.x releases are still done with 10.10:

https://ci-release.nodejs.org/job/iojs+release/3740/console

[2018-09-11 18:59] matrixapps commented on #15464
Mmm.  Running **node -v** in VScode terminal indicates v8.11.4.  Is there somwhere else I need to look or a way to override?  This is grinding my testing to a halt (no pun intended!)

[2018-09-11 19:33] refack commented on #22805
P.S. might also be coming from the new `npm` verions (https://github.com/nodejs/node/pull/22591)
[code]

[2018-09-11 19:37] sagitsofan commented on #22806
Github was down for a few hours, at least in my region, i guess this is the cause of the error, CI tries to reach github api: "CliGitAPIImpl.withRepository(CliGitAPIImpl.java:75)"
https://status.github.com/messages

[2018-09-11 19:39] krzysdz commented on #21304
@sagi I think that there's no reason to reopen this issue as #18770 is an open issue about OpenSSL 1.1.1 support.

[2018-09-11 19:47] trenttobler commented on #19022
Having had to recently go through and try to work around this myself on a system on which this was working and broke only after a recent OS update (android, running termux -- very frustrating when you think you might have made changes that broke working code, rather than it being an OS update from a week or two earlier).

What about a simple solution?  Allow the user to define a CPU COUNT environm

[2018-09-11 19:53] vsemozhetbyt commented on #22806
Unfortunately, the issues had started before the GitHub were down. Now https://ci.nodejs.org seems broken too.

[2018-09-11 20:05] roblourens commented on #15464
Run process.version in the debug console while debugging

[2018-09-11 20:12] matrixapps commented on #15464
process.version
"v8.11.4"

[2018-09-11 20:28] MattMorgis commented on #15464
@matrixapps I would suggest opening a new issue and referencing this one. This issue was specifically for `v8.5` and you are the first to report an issue after `v8.7`, so it might be related, but it could be something entirely new.

[2018-09-11 20:31] joseph-jja commented on #19044
Hi @addaleax  I got this error when running node --prof-process on the output from --prof.  Bottom line is --prof-process is broken in node 8.11+ AFAICS and 8.12 didn't fix it for me

[2018-09-11 20:55] psorowka opened #22810 "Potentially critical bug: Unexpected, reproducible calculation error"
* **Version**: 8.x
* **Platform**: docker ( official node as well as mhart/alpine-node)
* **Subsystem**: core

The following minimal sample code results in reproducible, unexpected behavior:

[code]

*Expected behavior*
This code should never output anything, because the calculation result is always 75

*Actual behavior*
After a while, the code starts to output the value of the variable `one`. Thi

[2018-09-11 21:01] mhdawson commented on #22587
In terms of the original question as to the philosophy: Opt-in versus opt-out.  I don't think that either extreme is good for end users.  We want options that are good for most end users to be opt-out and those that are more appropriate in special cases to be opt-in.

Lots of configurable options sound good to developers (including me) because they provide lots of flexibility in case we run into p

[2018-09-11 21:05] dipser commented on #19308
A lot of IT-student in germany have to write websocket-applications. From this standpoint alone, it should be native. nodejs feels incomplete, if it isnt. You just use it natively in a browser, but in node.js you first have to find out, its not supported, then you have to decide which userland implementation is ok and future proof? At this point, i would be annoyed. Because you will feel like node

[2018-09-11 21:11] mhdawson commented on #21766
@ChALkeR Should this still be left on the TSC agenda? If so, will you be able to attend this week's meeting or is this likely to need to be discussed at a future meeting instead?

[2018-09-11 21:14] vsemozhetbyt commented on #22810
Can reproduce on Windows 7 x64 with Node.js 08.11.4

[2018-09-11 23:00] mscdex commented on #22810
It looks like this is limited to reuse of the same function. Also FWIW I can reproduce this faster by placing the code in a function and calling the function in an infinite while loop:

[code]

[2018-09-11 23:07] mscdex commented on #22810
Also does not seem to reproduce with `--minimal` which always uses Ignition and performs no optimizations.

[2018-09-11 23:38] sgallagher commented on #22805
Just for the record:

10.10.0:
[code]

vs 10.9.0:
[code]

I mostly wanted to rule out that something changed on my end with our version of GNU tar. But it's definitely on the Node.js end.

[2018-09-11 23:55] Trott commented on #22471
It's considerably less poor now that we run `internet` tests during coverage report generation. Right now, it's at 64 of 67 branches. Prior to that, it was 40 of 67.

I'd welcome someone getting those last 3 branches covered, but I think this can nonetheless be closed at this time.

[2018-09-11 23:58] aaronpburke opened #22811 "napi_get_value_string_* functions return incorrect length in "string length" mode"
* **Version**: v10.10.0
* **Platform**: 64-bit Windows
* **Subsystem**: N-API

According to the [documentation](https://nodejs.org/dist/latest/docs/api/n-api.html#n_api_napi_get_value_string_utf8), the napi_get_value_string_* family of functions can also return the string length of the input napi_value if the input buffer is NULL. This is particularly helpful when I'm receiving string data from a

[2018-09-12 00:01] mscdex commented on #22810
It looks like this was fixed between V8 6.6.281 and 6.6.285.

[2018-09-12 00:31] matrixapps commented on #15464
Thanks for the feedback Matt.  This is driving me up the wall!

[2018-09-12 01:11] feross commented on #22652
I haven't done anything useful with it yet, but I hope to at some point :)

[2018-09-12 01:29] mscdex opened #22813 "doc: crypto sign.sign() signature description missing options"
* **Version**: master
* **Platform**: n/a
* **Subsystem**: doc

[Relevant link](https://nodejs.org/docs/v10.10.0/api/crypto.html#crypto_sign_sign_privatekey_outputformat)

`sign.sign()` currently only lists `key` and `passphrase` in the signature description, but the general function description also includes `padding` and `saltLength` as additional options.

[2018-09-12 02:22] #22311 closed, assigned to nobody

[2018-09-12 03:43] #21918 closed

[2018-09-12 04:31] juzQrios commented on #22813
Yes, as [described](https://nodejs.org/docs/v10.10.0/api/crypto.html#crypto_sign_sign_privatekey_outputformat) in `sign.sign()` - the required parameter `privateKey` is either a `<string>` or `<object>`. If it is an `<object>` , it must contain one or more of these properties - `key` , `passphrase` , `padding` and `saltLength`.

Can I move forward to add the missing `padding` and `saltLength` opti

[2018-09-12 07:15] cristianberroeta opened #22814 "ENOTCONN thrown when calling process.stdin.end() in node 10.1.0"
* **Version**: 10.1.0, 10.9.0, 10.10.0 (probably every version between 10.1.0 and 10.10.0)
* **Platform**: Darwin iMac 17.6.0 Darwin Kernel Version 17.6.0: Tue May  8 15:22:16 PDT 2018; root:xnu-4570.61.1~1/RELEASE_X86_64 x86_64

Hi all,

If I run this file:

[code]
using node 10.1.0, 10.9.0 or 10.10.0, it throws an ENOTCONN error.

This is the output when using node 10.1.0:
[code]

But when using

[2018-09-12 07:19] YangYu000 opened #22815 "Error: PEM_read_bio_PUBKEY after upgrade to Node 10.10"
* **Version**: v10.10.0
* **Platform**: Linux 4.9.0-8-amd64 #1 SMP Debian 4.9.110-3+deb9u4 (2018-08-21) x86_64 GNU/Linux (actually, both Ubuntu and Debian, I have bunch of servers running the service)
* **Subsystem**: Crypto (I guess)

My code is like
[code]
and runs without problem with Node 8 and Node 10.8/10.9 (Ubuntu and Debian, NodeJS offical APT source)

After I upgrade to Node 10.10 yesterd

[2018-09-12 08:00] psorowka commented on #22810
Interesting. For completeness I'd like to add that I can only reproduce the problem with `Math.floor` and not e.g. with `Math.round`. However, the behavior is the same when doing `Math.min` instead, but the winner of the `min/max` operation must point to the result of `floor`, e.g.

[code]

[2018-09-12 08:02] ryzokuken commented on #22810
Does it? I mean, I couldn't reproduce this after replacing the `Math.floor(...)` call with `75` .

[2018-09-12 08:07] psorowka commented on #22810
Right, It is the combination of both (see my last comment), meanwhile I also believe that `Math.floor` has the error, but it only appears when you refer to it in the `Math.max`....

[2018-09-12 08:43] dineshmickey opened #22816 "Throwing error ENOTFOUND while invoking dns.reverse"
code :`dns.reverse('8.8.8.8',function(err,res){
if(err){
	console.log(err)
}
else{
	console.log(res)
}
})`

error:`{ Error: getHostByAddr ENOTFOUND 8.8.8.8
    at errnoException (dns.js:50:10)
    at QueryReqWrap.onresolve [as oncomplete] (dns.js:238:19)
  code: 'ENOTFOUND',
  errno: 'ENOTFOUND',
  syscall: 'getHostByAddr',
  hostname: '8.8.8.8' }`

why im getting the same error for any ip

[2018-09-12 08:58] bzoz commented on #22799
The test fails for normal user and succeeds for elevated one.

[2018-09-12 09:27] mikemaccana commented on #22311
Thanks Joao! 😃✨ I

On Sun, 2 Sep 2018 at 12:44 am, João Reis <notifications@github.com> wrote:

[2018-09-12 09:27] shigeki commented on #18770
The failure of `test-tls-server-verify` was identified and an issue was submitted in https://github.com/openssl/openssl/issues/7199.

[2018-09-12 09:48] bzoz commented on #22799
Fix in https://github.com/nodejs/node/pull/22817

[2018-09-12 10:44] addaleax commented on #22815
@nodejs/crypto

[2018-09-12 10:50] addaleax commented on #22652
The thing is … as @ChALkeR noted, this has been going on for a relatively long time, and the questions in the OP are valid – we trade in a bit of user privacy here, and if we haven’t gotten anything in return or nobody can actually answer the questions above, we should consider just removing this.

[2018-09-12 10:53] tniessen commented on #22815
This points to #22553.

[2018-09-12 10:56] addaleax commented on #22811
I think what’s happening here is that the first `napi_get_value_string_utf8` call does give you the right length, but the second call expects `len` to include the final 0-termination byte.

[2018-09-12 11:10] tniessen commented on #22815
@YangYu000 Would it be possible to upload `public.pem`? Actually, any public key that fails would be enough, it is important to include data surrounding the PEM key though, e.g. whitespace.

[2018-09-12 11:43] addaleax commented on #19044
@joseph-jja Can you open a new issue, please? I get that the bottom line is the same, but it would *really* be nice to not piggy-back on existing issues. That also gives the problem you are experiencing more visibility.

[2018-09-12 12:10] bzoz commented on #20348
@Hakerh400: tried that (added a call to `uv_tty_set_cursor_visibility` in `uv_tty_move_caret`) - does not help.

I don't know if we can do anything else besides suggesting using ConEmu in which the cursor is visible when moving.

[2018-09-12 12:12] mourner commented on #19044
As far as I'm concerned, the original issue is resolved — `--node-prof` works as expected in Node v10.10. So let's close this and create new issues for any related problems.

[2018-09-12 12:16] davisjam commented on #22652
@fhemberger If you have a moment, could you show us how the guides are doing?

(Anything under https://nodejs.org/en/docs/guides/)

[2018-09-12 12:32] danicoolpak17 commented on #5759
Thanks all

[2018-09-12 12:36] ryzokuken commented on #22810
@psorowka interesting. I'll try to replicate this on v8's master today and dive deeper if it still exists, thanks to @mscdex narrowing it down to turbofan.

Could someone try this on node's master branch as well?

[2018-09-12 12:44] targos commented on #22723
Adding the 11.0.0 milestone so we don't release this bug by mistake

[2018-09-12 13:03] hashseed commented on #22810
@sigurdschneider @bmeurer is (this)[https://github.com/v8/v8/commit/fb0144f6f91ba7028819d6c2d3c00eb508254693] an accidental fix for this issue? If yes, could you please spend some time to make sure this is actually fixed?

[2018-09-12 13:16] Trott commented on #22587
At the TSC meeting today, there was no opposition to "this needs to be decided on a case-by-case basis". I've removed this from the `tsc-agenda`.

That said, if what we really want is for the TSC to choose between these three approaches for the specific case of unhandled Promise rejections, let's get this back on the agenda and we'll get that sorted, assuming all parties agree that further convers

[2018-09-12 13:33] Trott commented on #22585
@boneskull How would you feel about shipping the API as it is but also including an `fs.mkdirp()` that is a wrapper of `fs.mkdir()` that sets the recursive option? I'm not a fan of creating multiple ways to do the same thing, but there's precedence for that all over JavaScript and it does provide simple feature detection for recursive `mkdir()` as well as recursive `rmdir()`.

We still have to dec

[2018-09-12 13:35] MylesBorins commented on #22585
I'm sorry for being difficult but I am -1 on including mkdirp.

[2018-09-12 14:00] TimothyGu commented on #22723
@addaleax Yeah, reverting is the best idea for now.

[2018-09-12 14:02] mscdex commented on #22816
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-09-12 14:02] #22816 closed

[2018-09-12 14:33] devsnek commented on #22587
I agree, but I'm only interested in providing data to the user when that data is correct. If we introduce incorrect data, users cannot trust any data that comes from node, and our data is made useless.

With this regard, removing the warnings in console for "unhandled rejections" would coerce users to use the unhandledRejection and rejectionHandled events to better track state, since we can't eras

[2018-09-12 14:40] jasnell commented on #22587
Unfortunately determining if it's "correct" is not always possible. When it comes to handling potential failure situations, false positives are almost *always* better than deferring action because we're not sure.

[2018-09-12 14:44] richardlau commented on #22799
Is this related to the [`SeIncreaseBasePriorityPrivilege` user privilege](https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/increase-scheduling-priority)?

[2018-09-12 14:52] stopcontinues opened #22821 "`require('GLOBAL_INSTALLED_MODULE')` results in "Cannot find module.." error"
* **Version**: 10.10.0
* **Platform**: Mac OSX 10.13.6

`npm` globally installs modules to `$PREFIX/lib/node_modules`, but `require.resolve.paths` looks for globally installed modules in `$PREFIX/lib/node`.

[2018-09-12 14:55] tniessen commented on #22815
I cannot reproduce this using Node.js 10.9.0 vs 10.10.0 using the code

[code]

Valid keys don't produce any errors and any invalid keys I tried produce errors in both versions. It would be helpful to have an example with a key pair that works in previous versions.

[2018-09-12 15:01] targos commented on #22585
@MylesBorins What do you mean? Do you want to revert https://github.com/nodejs/node/pull/21875?

[2018-09-12 15:07] joseph-jja commented on #19044
So does this mean prof process won't be fixed in node 8.x?

[2018-09-12 15:12] jdalton commented on #22676
Related to https://github.com/nodejs/node/pull/22769.

[2018-09-12 15:26] jasnell opened #22822 "[Discuss] Resolving the unhandled rejections issue"
@nodejs/tsc @nodejs/collaborators (yes, pinging @nodejs/collaborators is intentional and yes, I know it causes lots of people to get notifications... that's what I want because I want broad input into this conversation)

We currently have two PRs open that deal with unhandled promise rejections.

* https://github.com/nodejs/node/pull/22218
* https://github.com/nodejs/node/pull/21857

Both do or as

[2018-09-12 15:36] jasnell commented on #22821
@stopcontinues ... this kind of question is best directed at the https://github.com/nodejs/help repository *until and unless* it can be determined that there is a bug in Node.js itself.

The short answer, however, is that the default module resolver in Node.js does not (and has not) load globally installed modules. That is, you cannot do `npm i -g foo`  and then `require('foo')` and have it load t

[2018-09-12 15:36] #22821 closed

[2018-09-12 15:40] mmarchini commented on #22822
Also pinging @nodejs/diagnostics and @nodejs/post-mortem since there are interested parties there who are not collaborators.

[2018-09-12 15:50] devsnek commented on #22587
@jasnell I think if we can't make a correct decision, we should give users the ability to make their own decision, not make the decisions for them.

[2018-09-12 15:53] ljharb commented on #22587
I don’t agree that false positives are better - those undermine user trust in the system itself, leading them to disable, or worse, mentally ignore, future warnings.

[2018-09-12 15:58] fhemberger commented on #22652
@addaleax I think the issue is also that this was set up, but nobody looked at the data ever after. Analytics just for analytics sake.

@davisjam Here are the results for guides (last 30 days, without Google Translate links):
![](https://user-images.githubusercontent.com/153481/45437471-29b71400-b6b5-11e8-9ee7-5f2d4b1369aa.png)

There are a couple auf strange links (spaces, closing braces, etc). I

[2018-09-12 16:05] mcollina commented on #22822
Both PRs are fine code-wise.

I am in favour of warning and crashing. I think warning adding that warning is good. I've seen _plenty of code_ that had very hard to spot bugs because of that. It is a very tricky situation. It also encourages bad practices, like `on('data', resolve)` (this is hitting the `resolve`  function for every chunk, while only the first is returned).

Node.js is built under

[2018-09-12 16:54] misterdjules commented on #22822
I've done some research internally at Netflix around this, and wrote [a report](https://github.com/nodejs/promises-debugging/tree/master/users-research/netflix) about it. That survey doesn't map 100% to the questions in this issue but some of [the conclusions](https://github.com/nodejs/promises-debugging/tree/master/users-research/netflix#conclusions) do:

* [No evidence that exiting on GCed unhan

[2018-09-12 17:32] MylesBorins commented on #22585
no... I am a huge +1 on fs.mkdir with the recursive flag. I am minus one on the alias to fs.mkdirp

[2018-09-12 17:35] MylesBorins commented on #19044
@joseph-jja we are interested in fixing it. Can you please open a new issue explaining how to reproduce the error on 8.x

[2018-09-12 17:42] tone81 opened #22823 "v8.12.0 ParserIncomingMessage is not a constructor"
Version: v8.12.0
Platform: Linux
Subsystem: http
Works in v8.11.4

The same code run in v8.11.4 has been tested without issue

Broken in v8.12.0

This is the error message I get when starting my with v8.12.0.

[code]

This may or may not be similar to https://github.com/nodejs/node/issues/20241.

[2018-09-12 17:45] devsnek commented on #22822
@mcollina warnings in console don't work because they can't be revoked. you also can't revoke exiting the process. the `unhandledRejection` event makes no sense without the `rejectionHandled` event, and it annoys me that people ignore half of the API.

@misterdjules your survey is cool, but it still only represents 32 engineers at the same company working on the same infrastructure. We will defini

[2018-09-12 18:15] misterdjules commented on #22822
@devsnek

I think that's what [the disclaimer](https://github.com/nodejs/promises-debugging/tree/master/users-research/netflix#disclaimer) that I linked to is saying, was that not clear when you read it?

I also mentioned that:

So I think we're on the same page 👍

[2018-09-12 18:27] mcollina commented on #22822
Over the last 2 years, in almost every consulting engagement I have been part of I had to fix significant production issues related to promise handling. This include potential DoS attack vectors. IMHO it is not safe to operate a Node.js application without a) a rigorous coding environment or b) an `'unhandledRejection'` event handler that crashes the process.

I think Node.js should strive to be s

[2018-09-12 18:57] vsemozhetbyt commented on #22806
Seems fixed now.

[2018-09-12 18:57] #22806 closed

[2018-09-12 19:44] Qard commented on #22822
I'm mostly in the fail-fast camp, thinking we should just crash when an unhandled exception occurs and provide a no-really-its-okay escape hatch for when you are _really_ sure you know what you are doing. Approaching it the other way around just makes Node.js more and more a platform on which you are likely to shoot yourself in the foot. 🙀

[2018-09-12 19:49] joseph-jja opened #22825 "node --prof-process does not work on node 8.x"
node 8.11.x
mac 10.11.6
uname -a => Darwin FSCAM1VFG8WM 15.6.0 Darwin Kernel Version 15.6.0: Tue Jan  9 20:12:05 PST 2018; root:xnu-3248.73.5~1/RELEASE_X86_64 x86_64

Run your app with node -prof and it generates the isolate* log file(s)

Then run node --prof-process and it either hangs ( 8.11.x ) or spits out the error below (8.12.rc-x)

ReferenceError: printErr is not defined
at TickProcessor.pr

[2018-09-12 20:00] boneskull commented on #22585
@Trott who else needs to be looped in here?

[2018-09-12 20:04] richardlau commented on #22825
At a guess, I suspect we need to backport https://github.com/nodejs/node/pull/19285.

[2018-09-12 20:29] no2chem commented on #21662
I've implemented this using N-API: https://github.com/no2chem/bigint-buffer - but I feel that this should be a core part of the node Buffer API (and BigInt API).

[2018-09-12 20:37] aaronpburke commented on #22811
Ah! My test code above was misleading; I forgot that my second usage of `napi_get_value_string_utf8` reused the `len` parameter as an output. @addaleax's comment was correct; the second call wants the buffer length (including null terminator - i.e., `len+1` from the previous call).

[2018-09-12 20:37] #22811 closed

[2018-09-12 22:00] tniessen commented on #22421
I just noticed that there is still an edge case where this doesn't work: If a user restricts the permitted length of GCM authentication tags to a single value while calling `createDecipheriv` via the `authTagLength` option and sets the authentication tag after calling `update`, verification will still fail. Working on it.

[2018-09-12 22:05] nadaa commented on #22813
Hi,
I will work on this?
Thanks

[2018-09-12 23:30] Trott commented on #22585
@MylesBorins That's not being difficult. That's just expressing your opinion. Which is what we're looking for in this issue.

I'm not sure what you mean by _untenable_ in this context, but _unscalable_ is very clear. I think it _might_ make sense for recursive `mkdir()` and `rmdir()` but probably not much (or nothing) else. A case could be made that doing it that way is paving the cowpaths of the

[2018-09-12 23:30] Trott commented on #22585
I'd guess @nodejs/tsc and @nodejs/fs.

[2018-09-12 23:32] Trott commented on #22585
Thinking about it more, considering `mkdirp()` and rmdirp()` doesn't really make much sense without first resolving the feature detection story. Once that is decided, it should hopefully fall into place quickly whether or not `mkdirp()` and rmdirp()` are sensible approaches or awful abominations.

[2018-09-12 23:34] Trott commented on #22585
I gotta step away, but if someone wants to take the time to spell out the two competing options (and any other options that I might have missed being proposed), that would be very helpful. One approach is in #22302 (proposed by @MylesBorins) and the other is the external module thing proposed by @bengl. If those could be summarized in a single comment, that would probably facilitate conversation.

[2018-09-12 23:40] jackschmidt opened #22829 "fs.promises.readdir( path, { withFileTypes: true } ) error"
* **Version**: v10.10.0
* **Platform**: Linux hostname 4.15.0-33-generic #36-Ubuntu SMP Wed Aug 15 16:00:05 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: fs

I would expect the following to run without error
[code]
and produce output similar to that of:
[code]

However, the promise version prints this instead:
[code]

The problem happens when compiled from source or when installed from

[2018-09-13 01:48] ronkorving commented on #22822
On **warnings**:

- Don’t make users opt into a hundred different events. With every new "bad pattern" that gets identified, we’re going to get a new event to listen to, and we all have to collectively update a million repositories to deal with them. Please, no. The single "warning" event is fine though, since you can opt-in to that, log the warning, and either ignore it or shutdown. Yes, the even

[2018-09-13 01:57] devsnek commented on #22822
I couldn't agree more. +100000000

Promises are designed such that they don't halt execution when they reject. A camp of users (myself included) feels that by node shouldn't be infringing on JavaScript design goals by default.

I of course agree that we should have good debugging utilities, but I don't think they need to be killing processes and cluttering my console by default.

[2018-09-13 02:47] bengl commented on #22585
As requested by @Trott, here's a summary of our options (that I'm aware of) for feature detection, in no particular order (I do have opinions on these but I'm reserving them, since I just wanted to summarize in this comment for the purposes of discussion, rather than opine):

* **Option A: Add a feature detection API to Node.** This is implemented in #22302, but alternative APIs are also possible.

[2018-09-13 03:11] jasnell commented on #22822
With regards to eslint, unfortunately it doesn't catch every case. For
instance, it would not reliably be able to catch Matteo's `on('data',
resolve)` example unless it's able to determine reliably that the thing
you're using is an event emitter and the specific event being handled can
be emitted more than once. Linting is great, but it cannot reliably catch
all of the problematic cases.

On Wed,

[2018-09-13 03:14] jasnell commented on #22585
In order of preference for me: B, D, C, A

On Wed, Sep 12, 2018, 21:47 Bryan English <notifications@github.com> wrote:

[2018-09-13 04:15] bengl commented on #22585
@jasnell Any thoughts on why that ordering?

[2018-09-13 05:38] jasnell commented on #22585
B is generally easiest for users. Want thing? Check for existence of thing. Yes, there's an API surface area management issue but that's the same API surface area management issue that's always existed and it forces us to be diligent and deliberate about what we add. In other words, status quo.

D ... Also generally status quo.

C is not ideal because it adds an out of band dependency that must be

[2018-09-13 07:00] ronkorving commented on #22822
@jasnell Excellent point. I guess then the question becomes: is the tooling *good enough*? IMHO, it's good enough to avoid having to make the case for a new dedicated event. I'll end my argument there :)

[2018-09-13 08:32] addaleax commented on #22723
Potential fix in https://github.com/nodejs/node/pull/22836 :)

[2018-09-13 08:53] AdamMajer opened #22837 "Build fails - O_NONBLOCK stdout/stderr set by node causes problems with 3rd party software"
* **Version**: v10.x-staging, v10.9.0, v10.10.0
* **Platform**: openSUSE Tumbleweed, SLES 15, openSUSE Leap 15
* **Subsystem**: build

Since the https://github.com/nodejs/node/pull/21257, NodeJS has stopped building with QEMU. Logs showed nothing as the cause was NodeJS leaving stdin/stderr in O_NONBLOCK state which then resulted in other processes that expect blocking console to break during buil

[2018-09-13 08:57] rathoreahsan opened #22838 "req.body returns an empty object while posting on dropdown onchange submission."
## My Environment

* __NodeJS__
* __Express__
* __Pug__

## My Code

**Routes.js**

[code]

**header.pug**
[code]
__Problem__:

Try statement returns: `Not Error: [ ]`  an empty object. I am submitting the form on `onchange` event of dropdown selection, and I want to get selected value of dropdown in the post route.

Kindly help!

__Expected result__:
I want to get selected value of dropdown in th

[2018-09-13 09:02] mscdex commented on #22838
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-09-13 09:02] #22838 closed

[2018-09-13 09:02] addaleax commented on #22838
In this case, you may also want to try a Q&A site like https://stackoverflow.com/, since it’s not really clear how this relates to Node.js itself?

[2018-09-13 09:11] addaleax commented on #22825
The commit applies cleanly, so I’ve pushed it to v8.x-staging (2ae98ce7cb95dee79e839afb2ee4c7d77d7670cd)

[2018-09-13 10:00] caub commented on #21482
@jsmrcaga I didn't really understand how it'd look like

just putting here another concise way suugested by @bmeck a while ago
[code]

[2018-09-13 10:02] tniessen commented on #22815
@YangYu000 That would be great! As long as the error message pops up, any key pair would be enough.

[2018-09-13 10:39] bzoz commented on #21773
This can also be triggered by:
[code]
and writing something to `stdin`.

[2018-09-13 12:07] silenius opened #22839 "invalid distance too far back"
Hello,

I'm getting a `invalid distance too far back` error message with npm/yarn (see https://github.com/yarnpkg/yarn/issues/6357). It happens consistently and looks like a zlib error for corrupt data (?).

* **v10.9.0**
* **FreeBSD dev.lan 10.3-RELEASE FreeBSD 10.3-RELEASE #0 r297264: Fri Mar 25 02:10:02 UTC 2016     root@releng1.nyi.freebsd.org:/usr/obj/usr/src/sys/GENERIC  amd64**
* **Zlib**
[

[2018-09-13 12:10] silenius commented on #22839
see https://github.com/RocketChat/Rocket.Chat/issues/12024 too

[2018-09-13 13:29] MCE-KobyBo opened #22840 "node-jsc: A node.js port to the JavaScriptCore engine and iOS"
Hi,
I'm Koby Boyango, a senior researcher and developer at mce, and I've created [node-jsc](https://github.com/mceSystems/node-jsc), an experimental port of node.js to the JavaScriptCore engine and iOS specifically.

The project also includes [node-native-script](https://github.com/mceSystems/node-native-script), NativeScript's iOS runtime refactored as node-jsc native module, allowing access to n

[2018-09-13 13:47] dougwilson commented on #22497
Sounds like Express will go down the route to reaching into the Node.js internals since there doesn't seem to be a solution here.

[2018-09-13 14:04] apapirovski commented on #22497
@dougwilson We can probably add something if that's the trade-off. Let me think about a good API and get back to you.

[2018-09-13 14:08] mcollina commented on #22497
I don’t understand this issue. If we are missing an API we can add it, but I do not understand what is missing and what you need. What code are you trying to make work on both?

[2018-09-13 14:10] silenius commented on #22839
Performing a downgrade from **v10.9.0** to **v8.11.4** fix the issue.

this is with:
[code]

[2018-09-13 14:10] apapirovski commented on #22497
@mcollina Checking if the incoming request has or had a body (`data` event), with the limitation that this could happen at any time in the lifecycle of the request.

[2018-09-13 14:16] jasnell commented on #22497
At this point, there's really nothing to reach in to. Let's step back and examine how the code works...

In the method `onSessionHeaders` in `lib/internal/http2/core.js`, if the `NGHTTP2_FLAG_END_STREAM` flag is set, we end the readable side of the `Http2Stream` duplex because we know at that point there will be no data frames.

From that point on, the JS code will not know if there are any data f

[2018-09-13 14:30] dougwilson commented on #22497
In the OP I think @sogaani describes the use case pretty well. He found that `http2ServerRequest.stream._readableState.sync` works to detect the side effects of what we need and that's in an Express PR. I didn't want to use an internal API even though it works if it's possible not to, though. We don't need to know if any `DATA` frames arrived or not; only if they are going to arrive at all for a g

[2018-09-13 14:40] jasnell commented on #22497
By the time the middleware is invoked, we might not be able to reliably *know* if a DATA frame is going to arrive at all for a given request. All we would know for sure is whether it's *possible* for DATA frame to arrive. For instance, a client could send the request HEADERS frame followed immediately by a trailing HEADERS frame, without any DATA frames at all. Or, the stream could be closed with

[2018-09-13 14:44] dougwilson commented on #22497
We'll just accept the PR using .sync for now, then :+1:

[2018-09-13 14:46] jasnell commented on #22497
btw, I'm not saying that we *shouldn't* add an API here, I'm trying to figure out what kind of API we can add that will be useful for the actual use case. Specifically, there are two things that I absolutely know we can do:

1. We can provide an indication that yes, DATA frames have been received or,
2. We can provide an indication that yes, it is possible for DATA frames to still be received.

Wh

[2018-09-13 14:48] dougwilson commented on #22497
Right,  that's what was said we wanted to know in the middleware.

[2018-09-13 14:48] jasnell commented on #22839
ping @addaleax ... any ideas here?

[2018-09-13 14:49] dougwilson commented on #22497
We need both (1) and (2).

[2018-09-13 14:51] dougwilson commented on #22497
We need to equiv of what you can do in http1 to know if the request will have a body (it doesn't matter if the client craps out and never sends it) in a way we can check even after the data stream has been fully read. It's just a flag on the last http2 header frame that indicates if there can be data frames or not. All header frames arrive before the compat api invokes your function so we will hav

[2018-09-13 14:53] mcollina commented on #22497
I do not think `http2ServerRequest.stream._readableState.sync` should be used, and it is likely not going to be reliable in various situations. That flag is totally unrelated to HTTP2.

I think we really need to surface this info from the lower layers.

[2018-09-13 14:53] jasnell commented on #22497
excellent, that's the clarification I was hoping for. For 2, the easy way to determine if DATA frames can still be received is to just check if the readable side is still open. For 1, I'm thinking that a generic `hadData` boolean on the base readable stream API would suffice.

[2018-09-13 14:58] dougwilson commented on #22497
We don't need both (1) and (2), it can just be one signal. Maybe having both will be useful to others. The data we need is just a flag on the last headers frame.

[2018-09-13 15:07] dougwilson commented on #22497
Ex this is the exact question the code is trying to answer:

For a given http2 compact api request object at any part of it's life cycle after it was emitted to a request listener, did the HEADER (or last CONTINUATION frame) have the END_STREAM flag set or not?

I hope that is specific enough.

[2018-09-13 15:14] jasnell commented on #22497
You can *already* determine that by checking the readable state of the stream. If the end stream flag is set on the header, the readable side of the `Http2Stream` is closed immediately, which means if that flag is set, the stream will not be readable when it is passed to the request listener. If the stream *is* readable at that point, then that flag was not set and DATA frames *might* show up.

[2018-09-13 15:21] dougwilson commented on #22497
You can't tell in certain cases ex https://github.com/nodejs/node/issues/22497#issuecomment-415892318

[2018-09-13 15:28] mscdex commented on #22840
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-09-13 15:28] #22840 closed

[2018-09-13 15:33] jdalton commented on #22840
Awesome work @MCE-KobyBo :tada:

Thanks for giving the heads up!

[2018-09-13 15:37] dougwilson commented on #22497
Even if streams did that, we'd still have to look into that private `.sync` method, because when the `'request'` event listener fires and we get the `req` object, it will always be readable = true since the `.end()` waits until the next tick to actually end the stream (that's basically what the `.sync` is indicating).

The other thing to keep in mind is we need the exact answer to the question the

[2018-09-13 15:59] mcollina commented on #22497
So, basically you need to know:

a. is data in the buffer
b. is the stream going to end in the next tick

If that is the question, I do not understand how checking for `.sync` would help at all.

[2018-09-13 16:00] mhdawson commented on #22587
I'm also on the side that false positives are not always better.  If there are too many people will just turn off a feature reducing its usefulness.  I'd prefer that it only take hard action (for example throwing) in cases were we are sure and document that it might not cover all of the potential cases (because there are some we cannot be sure of).

[2018-09-13 16:02] dougwilson commented on #22497
What I need to know is https://github.com/nodejs/node/issues/22497#issuecomment-421041245

[2018-09-13 16:34] jasnell commented on #22497
PR: https://github.com/nodejs/node/pull/22843

[2018-09-13 18:04] richardlau commented on #22825
On a local Linux system I can recreate the issue described with a built from source `v8.12.0` using the isolate logs in the OP. Interestingly all `tick-processor` tests pass though, which suggests a gap in our testing (although `tick-processor` is in the ignored suites https://github.com/nodejs/node/blob/1519657473facf16dc9095fa1da504f188a24a17/tools/test.py#L1539-L1552 so I'm not even sure when t

[2018-09-13 19:52] Trott commented on #22587
I'm going to close this, but feel free to keep commenting and/ore re-open if there are important things to say. It does seem like https://github.com/nodejs/node/issues/22822 will handle the specific case about promises and unhandled rejections, and there is already an issue open for Buffer constructor.

[2018-09-13 19:52] #22587 closed

[2018-09-13 20:42] Trott commented on #22839
@nodejs/zlib

[2018-09-13 20:49] addaleax commented on #22839
@silenius Do you think you might be able to look at the file that decompression is failing on? Is this happening with every npm package you try to install?

[2018-09-13 21:09] AnirbanKundu commented on #15780
I am getting this error while trying to dockerizing my Node JS app

[2018-09-13 21:18] silenius commented on #22839
@addaleax : yes, it is happening with every package

[2018-09-13 21:27] rick-rheo opened #22848 "--abort_on_uncaught_exception causes exception stack dumps to be incorrect"
Version: v8.11.3
Platform: MacOS and any Linux.

When using --abort_on_uncaught_exception  exceptions do not include line numbers in stack trace.

here's what happens with an exception with the option enabled

[code]

And here's without it

[code]

[2018-09-13 21:29] addaleax commented on #22848
Thanks for the bug report! This looks like a duplicate of https://github.com/nodejs/node/issues/21988, so I’ll be closing this issue. Feel free to let us know if I’m mistaken here!

[2018-09-13 21:29] #22848 closed

[2018-09-13 21:31] addaleax commented on #21988
Ping @nodejs/v8 – any ideas here?

[2018-09-13 21:32] rick-rheo commented on #22848
OK yeah, I assumed that someone would've run into this by now but searching on abort_on_uncaught_exception brought up nothing.

[2018-09-13 21:54] silenius commented on #22839
@addaleax I'm not behind a proxy. I just tested on a freshly installed 11.2-RELEASE and it works as expected, so I think it only happens on FreeBSD <= 10.4.

[2018-09-13 21:57] silenius commented on #22839
mmh apparently zlib has been upgraded in 10.4 (https://svnweb.freebsd.org/base?view=revision&revision=313796), so maybe it should work (unfortunately I don't have any 10.4 to test at the moment)

[2018-09-13 22:12] mmarchini commented on #21988
The issue was fixed on V8 6.9, we just need to backport the fixes for v10.x and v8.x (v6.x is not affected).

[2018-09-13 22:42] refack commented on #22775
I bisected it to V8 6.9 (https://github.com/nodejs/node/pull/21983). It's perma-failing since then.

[2018-09-13 22:49] jgautier opened #22851 "HTTP2 Push Stream always results in aborted event being fired"
* **Version**: v10.9.0
* **Platform**: Darwin Kernel Version 17.4.0: Sun Dec 17 09:19:54 PST 2017; root:xnu-4570.41.2~1/RELEASE_X86_64 x86_64
* **Subsystem**: HTTP2

Code sample:

[code]

Output:
[code]

Expectation:

aborted event is not fired

[2018-09-13 23:12] kanikashah90 opened #22852 "NAPI parallel to setInternalFieldCount of V8 ObjectTemplate"
I am changing my native add-on code to use N-API instead of using NAN and v8 API's. My native code creates v8 ObjectTemplate from v8's FunctionTemplate and setInternalFieldCount to it. Later in the native functions it uses this internal fields to store and get some native C++ values.

Since in NAPI concept of FunctionTemplate and ObjectTemplate is taken away, is there a way to set this internal fi

[2018-09-13 23:32] Maledong opened #22853 "doc: 'timingSafeEqual' missing return type in v8.x"
Compare the versions in both v8.x and v10.x：

v8.x:
![v8 0](https://user-images.githubusercontent.com/40081831/45521337-1492d000-b7f0-11e8-8cc1-9c775ffb69c0.PNG)

v10.x:
![v10 x](https://user-images.githubusercontent.com/40081831/45521355-283e3680-b7f0-11e8-8d68-dfc5b8f766af.png)

I see the latest codes have included the 'return value', Maybe it should be also included into the v8.x version in the

[2018-09-14 01:15] ofrobots commented on #21038
https://github.com/nodejs/node/pull/22812 has landed. Hopefully it fixes it. There might still be some other thread races, but I haven't been able to observe any so far in my testing.

[2018-09-14 03:33] shinnn opened #22854 "Native V8 coverage reports different results when --experimental-modules is enabled"
* **Version**: v10.10.0
* **Platform**: Darwin Kernel Version 17.7.0

There is a 0-byte `example.js` in the current working directory.

When I run

[code]

It produces

[code]

(the first `function` of `/Users/shinnn/example.js` coverages)

[code]

However, when I run the same script with `--experimental-modules` flag,

[code]

It produces

[code]

(the first `function` of `/Users/shinnn/example.j

[2018-09-14 03:39] shinnn commented on #22854
Though I'm not very familiar with the V8 inspector coverage, in the first place, I'm not sure why `"endOffset"` are not `0` in  both results.

As mentioned above, `example.js` is a 0-byte, totally empty file.

[2018-09-14 04:34] sogaani opened #22855 "TypeError occur with http2ServerRequest.socket.destroy()"
I met following error when call http2ServerRequest.socket.destroy();

[code]

The minimal code to reproduce.
[code]

node: version
[code]

I guess we should check if stream destroyed in [`finishSendTrailers`](https://github.com/nodejs/node/blob/master/lib/internal/http2/core.js#L1464), or we should not use setImmeidiate to call `finishSendTrailers`.
Currently we can call `http2Session.destroy();`

[2018-09-14 05:01] sagitsofan commented on #22853
Thanx, checking this issue.

[2018-09-14 05:04] Trott commented on #22775
@nodejs/v8 Not sure if this is a V8 issue, or if it's just a change in V8 exposing a problem elsewhere, but I don't know who else to loop in, so I'm going with V8 folks...

[2018-09-14 05:11] Trott commented on #21038
@ofrobots 🎉 Thank you so much!

I'll open a PR to unmark the test as flaky and close this issue.

[2018-09-14 05:11] richardlau commented on #22853
Probably requires a backport of https://github.com/nodejs/node/pull/19853.

[2018-09-14 05:11] #21038 closed

[2018-09-14 05:40] Trott commented on #22854
/ping @bcoe

[2018-09-14 05:48] Maledong commented on #22853
@richardlau：Yes, maybe we need a cherry-picker or something else, because as you see in the latest version of codes on GitHub, we've got the return value now :)

[2018-09-14 05:59] ak239 commented on #22854
I believe that empty script is actually something like
`(function (exports, require, module, __filename, __dirname) {
});` which is exactly 66 symbols. What happens in case of module I am not sure.

[2018-09-14 07:31] shinnn commented on #22854
@ak239 Thanks for the clarification.

Then, is this an expected behavior or a bug? Should Node.js remap coverage lines and columns of `(function(...) {...}`-wrapped functions into the ones of original files, or should this be handled by each userland coverage reporter tools?

[2018-09-14 08:39] whtiehack opened #22857 "node 8.12 net,http module emit `connection` bug. TypeError: ParserIncomingMessage is not a constructor ."
* **Version**: v8.12.0
* **Platform**: linux ,windows
* **Subsystem**:

Here is the code that can be reproduced:
[code]

The same code run in v10.9.0 and v8.10.0 has been tested without issue.

This is a bug ,because of [http_event_connection](https://nodejs.org/dist/latest-v8.x/docs/api/http.html#http_event_connection).

[2018-09-14 08:47] mcollina commented on #22822
@devsnek I'm talking about problems that our users are having today. I've seen this happening so many times in the trenches. It is not about having training wheels, it is about developer productivity and making things simpler to build. I want people to not waste days of work because they could not find the switch to make the most popular frameworks and modules to work well in production.
I think t

[2018-09-14 09:29] whtiehack commented on #22857
Temporary solution `socket.server = null;`

[code]

[2018-09-14 10:34] hashseed opened #22859 "Performance regression in Array.forEach on V8 6.8"
See [upstream bug](https://bugs.chromium.org/p/v8/issues/detail?id=8112).

This is already [fixed upstream](https://chromium.googlesource.com/v8/v8.git/+/34625fdb5afce630c59c34fde723ba7507313d86) and should be merged to master and the Node 10 branch.

[2018-09-14 10:42] hashseed commented on #22699
(async () => {
  await Promise.resolve(1).then(() => console.log('promiseAsync'))
  console.log('async')
})()
Promise.resolve().then(() => console.log('promise'));

This also makes a lot of sense to me.

`async` doesn't get printed until the await call has been resolved. The await call schedules `promiseAsync` to be printed, and suspends the async function. We then schedule printing `promise`. So

[2018-09-14 10:45] hashseed commented on #22621
To provide some context: fast paths to support sparse arrays add a lot of complexity to otherwise straight-forward implementation of builtins. These complexities are harder to test and easily introduce security and correctness bugs, aside from requiring more engineering time.

It turned out that websites probably never relied on them to be fast since Firefox doesn't have these fast paths in the fi

[2018-09-14 11:12] umair-khanzada opened #22860 "Max time limit of setTimeout didn't work as expected"
* **Version**: v8.10.0
* **Platform**: Windows, Linux (heroku)
* **Subsystem**:

**According to documentation**

 When delay is larger than 2147483647 or less than 1, the delay will be set to 1

I have registered some setTimeout functions in node like below.
[code]

Now the issue is setTimeout that take more than 10 - 20 minutes is not working when I convert **2147483647** it's **24.8 days**.
![bs

[2018-09-14 12:57] targos commented on #22860
@nodejs/timers

[2018-09-14 12:58] gabrielschulhof commented on #22852
@kanika46shah you would use [`napi_wrap()`](https://docs.nodejs.org/dist/latest-v10.x/docs/api/n-api.html#n_api_napi_wrap). Internally it uses `v8::Private` to set a completely private (that is, completely invisible from JavaScript) property on any JavaScript object without the need for internal fields. Note that you can only set one such pointer. So, in that sense, N-API doesn't support an intern

[2018-09-14 13:01] devsnek commented on #22822
Node.js should be helpful and unopinionated by default. Save opinions for command line options.

[2018-09-14 13:03] devsnek commented on #22854
@shinn we're working on a change to how we wrap things which will fix it on our end.

[2018-09-14 13:28] ripsawridge commented on #22859
Hi Targos, I'll make a patch...we did a fair bit of refactoring.

[2018-09-14 13:37] heyAyushh commented on #22377
Is the error fixed?
what OS are you using?
if macOS execute these lines and tell me

[code]
This opens VSCode in the above path.

[code]

If it's fixed please close the issue

[2018-09-14 13:44] refack opened #22862 "c++: Adopt the CppCoreGuidelines"
Now that we build with C++14 enabled:
* [MS CL: `By default, /std:c++14 is specified`](https://docs.microsoft.com/en-us/cpp/build/reference/std-specify-language-standard-version?view=vs-2017)
* https://github.com/nodejs/node/blob/90c93682d13ed4edf150d9c8c61ad9a0eb2c0b26/common.gypi#L371
* https://github.com/nodejs/node/blob/90c93682d13ed4edf150d9c8c61ad9a0eb2c0b26/common.gypi#L494

I believe it's

[2018-09-14 14:37] apapirovski commented on #22860
If you're trying this on Heroku then it's likely because your instance is going to sleep. See https://devcenter.heroku.com/articles/free-dyno-hours

[2018-09-14 14:42] lovinglyy commented on #22855
Can reproduce in the same version. I also tested in a experimental http2 version, node v8.9.4 and I couldn't reproduce, checking if it's destroyed looks concise in my view, we could also directly check if the stream is defined, as the issue is mainly reproducible by calling `socket.destroy()` with `setImmediate`.

[2018-09-14 14:45] apapirovski commented on #22855
Is there a specific reason you need to call `setImmediate( ()=>{ req.socket.destroy(); });`? Like that's not a clean way to close the connection...

[2018-09-14 15:07] croraf commented on #22761
P.S. I now tried `subprocess.kill('SIGINT')` on `execFile` (that works on 10.10.0 node, and Ubuntu 16.04, using a delay as described above) on different environment `Windows 7, node 8.9.1` and here `process.on('SIGINT' )` handler does not work.

[code]

[2018-09-14 15:29] sogaani commented on #22855
I found this issue with Express test case. Express call `request.socket.destroy()` in finalize function when error occur in request handler or middleware and already send header and body frame.
I'm not sure what is clean way to close connection, but I don't think it is strange close connection when server internal error occurs and already send header and body frame.

Example.
[code]

[2018-09-14 15:33] #22223 closed

[2018-09-14 15:38] bcoe commented on #22854
@shinnn currently I'm correcting for this in the userland coverage tool I've written:

https://github.com/istanbuljs/v8-to-istanbul/blob/master/lib/script.js#L8

@devsnek it's exciting that this might not eventually be required.

[2018-09-14 15:42] hiucimon opened #22863 "String.match not returning same results as rx.exec"
let rx=/^\s*\[(\w+)]/g;
// const t=line.match(rx);
const t=rx.exec((line));
Reading a file with lines of data formatted "'[GR_GG_COF_AWS_Techops_Dev_Developer]',' (AWS Credentials file).
String.match only ever has ONE entry while rx.exec correctly has the 2 entrires.
* **Version**:
npm 6.2.0
* **Platform**:
Mac
* **Subsystem**:
Regex

I've done RX for decades and in dozens of languages and platfor

[2018-09-14 15:46] devsnek commented on #22822
@rubys i like the direction but I think debugging and linting tools can do all that better than we can, with crazier tracing and tracking etc. our job is just to enable the tooling to do all that.

there are plenty of antipatterns in this amazing language and I don't see any good reason to special case this one. people can use tooling just like they do for everything else. node should not pass jud

[2018-09-14 16:02] boneskull commented on #22822
@mcollina @jasnell

While ESLint doesn't enable this type of checking (`stream.on('data', resolve)`) out-of-the-box, an arguably effective rule could be created.

ESLint might not know that `stream` is a `ReadableStream`, but it doesn't necessarily *have to*.  It can warn or error on `<someObject>.on('data', resolve)` and the user can tell ESLint to make an exception via an inline directive--e.g.,

[2018-09-14 16:05] addaleax commented on #22839
@silenius I think there’s a good chance that this would be a fix, yes. You can also try compiling Node.js from source, I think? We ship our own copy of zlib in our main tarball, so that could be unaffected by whatever bug you’re hitting?

[2018-09-14 16:11] addaleax commented on #22863
A couple of things:

- This is very likely not a Node.js-specific issue, but a language-specific one, as we provide neither function by ourselves. As such, https://github.com/nodejs/help might be a better place for this.
- A more complete reproduction (e.g. runnable code) could be helpful?
- One common pitfall with [`rx.exec()` ](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Gl

[2018-09-14 16:57] #22736 closed

[2018-09-14 17:03] vsemozhetbyt commented on #22863
It seems to me that the quoted RegExp cannot match against the quoted string and it may contain typos ( `[(\w+)]` part seems wrong).

[2018-09-14 17:19] Trott commented on #21038
It's flaky still, but in a different way (SIGABRT rather than SIGSEGV). Will open a new issue, but ref this one...

[2018-09-14 17:22] Trott opened #22865 "Investigate flaky test/parallel/test-trace-events-fs-sync"
Looks like we're now getting SIGABRT rather than SIGSEGV? Is that a step in the right direction? (I _think_ so...)

https://ci.nodejs.org/job/node-test-commit-freebsd/20477/nodes=freebsd11-x64/console

[code]

Previous issue: https://github.com/nodejs/node/issues/21038

@ofrobots @nodejs/trace-events @nodejs/platform-freebsd @nodejs/testing

[2018-09-14 17:38] addaleax commented on #22862
This seems to be a very broad guide on writing good C++, so what exactly does “adopt” mean here? Also, some of these are incompatible with our own existing guidelines (e.g. use of non-const references).

[2018-09-14 17:53] Trott commented on #22865
Stress test to confirm unreliability on current master: https://ci.nodejs.org/job/node-stress-single-test/2018/

[2018-09-14 17:59] ofrobots commented on #22865
I think this is due to the fact that the TraceEvent implementation we have presently is not fully robust to thread races, specially in shutdown code. I didn't have full confidence that we have fixed /all/ the issues in my previous set of fixes.

Can I haz access to the FreeBSD machine again? I can take a look.

[2018-09-14 18:36] addaleax commented on #22775
It seems like it exposes some kind of V8 bug, even though we’re doing things we’re not really supposed to in the test.

It’s not obvious why this started failing, and whether the fix is straightforward (adding a handle scope somewhere) or not (if creating handles is actually not okay). So, I’ll try to check canary to figure out whether this has been fixed upstream and/or bisect V8 to figure out wh

[2018-09-14 19:12] addaleax commented on #22775
It looks like this is fixed on canary.

[2018-09-14 19:21] Trott commented on #22865
@ofrobots Your access has been restored. (Thanks, @refack!) Go for it!

[2018-09-14 19:43] refack commented on #22862
From a community POV, having an explicit and concise "guidebook" to C++ can be a huge benefit for newcomers (and current contributors who want to expand to C++). Especially since C++ is so expressive and flexible, even after learning the language knowing what is the right way to do something is very hard.

I don't believe we need/can/should refactor the existing code. IMHO it's similar to when we

[2018-09-14 20:51] bmeurer commented on #1719
FYI: I'm working on supporting big `TypedArray`s and `DataView`s in V8 right now. For 64-bit platforms we should be able to support buffers way beyond 4GiB soon (32-bit will probably remain limited to a little less than 2GiB, but usually you'll struggle to find this much contiguous virtual memory anyways).

[2018-09-14 23:09] misterdjules commented on #21988
@mmarchini Do you know what the earliest 10.x version to which the fix will be back ported? Is there a PR to which we can subscribe?

[2018-09-15 05:15] tonyjansan commented on #22857
[2018-09-15 13:10:24.637] [ERROR] console -  Caught exception: TypeError: ParserIncomingMessage is not a constructor
    at HTTPParser.parserOnHeadersComplete (_http_common.js:81:21)
    at socketOnData (_http_server.js:470:20)
    at emitOne (events.js:116:13)
    at Socket.emit (events.js:211:7)

like some problem, seems critical issue!!!

[2018-09-15 05:32] gireeshpunathil commented on #11892
I support a configurable starting point as opposed to a static default. It helps a lot in debugging node core itself. `restart` option may not be a direct alternative to configurable start point.

[2018-09-15 05:53] AyushG3112 commented on #22857
cc @nodejs/http

Offending line:

https://github.com/nodejs/node/blob/master/lib/_http_common.js#L86

Looks like it should be

[code]

But I'm not 100% sure

[2018-09-15 08:35] isLishude opened #22871 "why isNull deprecated in the doc but not in the source ?"
I found that `isNull` has deprecated in the [doc](https://nodejs.org/dist/latest-v10.x/docs/api/util.html#util_util_isnull_object).

[code]

Run code above hasn't deprecated warning.

I search the [source](https://github.com/nodejs/node/blob/cdb359840c9537e460b1bf0536fc36ec5fe2db2d/lib/util.js#L1465) and these isn't deprecated yet.

I think that the doc should be update.

[2018-09-15 09:13] targos commented on #22871
Hello @isLishude. That is because `util.isNull` is currently only deprecated in the documentation. Most deprecations start in the "Documentation-only" stage. They may transition later (in a new major version of Node) to "Runtime" deprecations.

See:
- https://nodejs.org/dist/latest-v10.x/docs/api/deprecations.html#deprecations_deprecated_apis
- https://nodejs.org/dist/latest-v10.x/docs/api/depreca

[2018-09-15 09:13] #22871 closed

[2018-09-15 11:00] targos opened #22872 "[v10.x needs a backport] - util: improve util inspect performance"
PR: https://github.com/nodejs/node/pull/22503

/cc @BridgeAR

Feel free to close this issue if the PR should not be backported, but please swap the labels there.

[2018-09-15 11:17] Trott commented on #22327
I could be wrong, but the frequency with which this one occurs seems to be increasing...

Once again, it's on win2008r2--seems to be the only variant affected, at least on CI--and once again it's on one of the Rackspace hosts (test-rackspace-win2008r2-x64-4). I've never seen thison one of the Azure hosts. (I know there are differences in terms of memory and/or CPU, and probably other things. /ping

[2018-09-15 11:39] targos commented on #22775
@Trott Between 2 and 3 months. It might already be fixed in V8 7.0. I have a local debug build with this version. How can I test it?

[2018-09-15 11:44] Trott commented on #22775
@targos If there's a branch on GitHub that we can point the CI host at, we can build from that and test on that host. Otherwise, I guess the first step is to try to make a debug version fail the test locally for you. However, I'm not sure the problem will show up on debug builds in all environments.

@refack Did you do your bisect by running the test on the Jenkins host or did you do that locally?

[2018-09-15 11:50] targos commented on #22775
That's the branch: https://github.com/targos/node/commits/v8-7.0

[2018-09-15 12:55] vsemozhetbyt opened #22873 "doc: process.stdout.fd is mentioned but undocumented"
`process.stdout.fd` is mentioned in these 2 sections:

https://nodejs.org/api/async_hooks.html#async_hooks_printing_in_asynchooks_callbacks
https://nodejs.org/api/async_hooks.html#async_hooks_asynchronous_context_example

But it is not documented in [`process.stdout`](https://nodejs.org/api/process.html#process_process_stdout) or in a section of any mentioned prototype (`net.Socket`, Duplex or Wri

[2018-09-15 13:13] vsemozhetbyt opened #22874 "doc: should object parameter properties be sorted?"
Refs: https://github.com/nodejs/node/pull/22824#discussion_r217258885

Pros:

1. They will be easier to find in long lists.

Cons:

1. Huge doc churn, git blame ruin, difficult diffs to review in correction PRs, significant backporting burdens.
2. Hard to maintain in new PRs except it will be automated as doc lint rule.
3. Some properties can be grouped logically, this grouping will be destroyed b

[2018-09-15 13:17] vsemozhetbyt commented on #22874
(BTW, if approved, this can be done in some work-and-learn session, even one section per PR.)

[2018-09-15 14:29] siddhant1 commented on #22813
Any open task to pick up on this one?

[2018-09-15 15:15] refack commented on #22775
I did it on the Jenkins host. I'll run it against our `canary-base`. Else we could flag this test to skip on debug builds (then I'll change the debug job to fail instead just being unstable)

[2018-09-15 15:48] JGriffin34432 opened #22876 "Autoupdate for Node.js"
**Is your feature request related to a problem? Please describe.**
The Feature request is not related to a problem.

**Describe the solution you'd like**
I was wondering if you guys could make an auto-update function for it because it is kind of annoying for me to go and download the latest version. Maybe you guys could add like a check-box in the Node.js setup for the people that might not want t

[2018-09-15 16:00] mscdex commented on #22876
I don't think this is a good idea because node versioning follows semver and some automatic updates could cause issues. Having some mechanism that tries to work for everyone would not be worth the benefits it provides.

[2018-09-15 16:15] AyushG3112 commented on #22876
You might want to look into [`n`](https://github.com/tj/n) or [`nvm`](https://github.com/creationix/nvm)

[2018-09-15 16:41] Trott commented on #22876
This is likely outside the scope of Node.js itself, but perhaps @nodejs/version-management might be able to point to existing solutions or possibilities for the near future.

[2018-09-15 16:42] Trott commented on #22876
(Also: Not all of us are _guys_. Consider using _everyone_, _people_, _friends_, _folks_,  or something like that.)

[2018-09-15 17:12] trivikr commented on #22789
Fixed in #22798

[2018-09-15 17:12] #22789 closed

[2018-09-15 17:52] apapirovski commented on #22857
The problem is simply one of backporting https://github.com/nodejs/node/pull/20029 to v8.x. I'll take care of it today if no one gets there first. (Surprised that one slipped by.)

[2018-09-15 19:27] tigercosmos commented on #22610
Are there any spec for `URL::href()`?

[2018-09-15 19:30] tigercosmos commented on #22610
I am not sure if is this one
https://url.spec.whatwg.org/#dom-url-href

[2018-09-15 20:27] trivikr commented on #22646
How about a new label (say `'fast-track-proposed'`) while proposing, and removing it and adding `fast-track` after getting at least 2 upvotes for fast-tracking?

[2018-09-15 20:44] trivikr commented on #22876
In case of `nvm`, the following command updates node versions and also re-installs packages
`nvm install node --reinstall-packages-from=node`

[2018-09-15 20:45] TimothyGu commented on #22610
@tigercosmos Yes! You can even look at how lib/internal/url.js implements it in JavaScript, and just duplicate that logic in C++.

[2018-09-15 23:13] refack commented on #22775
In my experience it's 100% reproducible, you could simply checkout that branch locally, `./configure --debug` and stress.

[2018-09-15 23:55] Trott commented on #22775
It's green against the targos V8 7.0 branch. 🎉

[2018-09-16 07:44] addaleax commented on #22874
I’m not a fan of breaking up logical grouping of properties. I get the “long lists” argument, but it’s not exactly like we have 10+ options or so on a regular basis…

[2018-09-16 07:45] #22786 closed

[2018-09-16 07:55] addaleax commented on #22862
How about we start by adding this as a recommendation to read/look up from our style guide file? It’s a very comprehensive work, so while it certainly can help newcomers, we can’t expect them to be familiar with all of it.

[2018-09-16 07:56] addaleax opened #22883 "Tracing agent should maybe support shutdown-on-signal"
https://github.com/nodejs/node/pull/22734 removed this feature because the implementation was inherently broken/flaky and not easily fixable.

A new implementation of it would likely require some significant structural changes to the tracing implementation.

/cc @nodejs/diagnostics

[2018-09-16 07:56] #14802 closed

[2018-09-16 07:56] #22528 closed

[2018-09-16 10:35] spurreiter commented on #21122
I came across this issue on trying to upgrade to node 10. The code snippet is extracted and simplified from a npm package which refuses to work with node 10 but worked well until then.
I personally prefer the code as outlined by @DaAitch.
Yes indeed using `readable` with `once` solves the problem. Thanks.

[2018-09-16 10:35] #21122 closed

[2018-09-16 11:24] ravitejavinnakota opened #22884 "Bug In V10.10.0"
* **10.10.0**:
* **windows-64 bit**:
* **N/A**:

In node V10.10.1 the async functions are not able to get
here i am providing sample code

[code]

[2018-09-16 12:37] addaleax commented on #22884
Is there any other code? For example, if you save the snippet above in a file called `test.js` and run `node test.js`, does it print `resolved` or not?

(I couldn’t reproduce this on Linux.)

[2018-09-16 12:44] antsmartian commented on #22884
Couldn't able to reproduce, I tried on Mac. I'm seeing the expected results.

[2018-09-16 13:49] umair-khanzada commented on #22860
Yup, you were right it is not an Node.js issue. I have checked locally it is work perfect.

Thank you Guys for your quick response

[2018-09-16 14:40] lovinglyy commented on #22884
Can't reproduce too, and I'm also using Windows(10, 64 bits) and node v10.10.0. Please give more information about what is happening.

[2018-09-16 16:20] shisama opened #22885 "util: spec of %d specifier"
Due to a comment from  https://github.com/whatwg/console/issues/148#issuecomment-411821759 ,  does `%d` specifier have better use `parseInt`? On Node.js, `Number` constructor is used for `%d`. So `console.log('%d', false)` prints `0` on Node.js but it prints 'NaN` on Google Chrome.
Is it okay if the specification is different from whatwg?

Code: https://github.com/nodejs/node/blob/master/lib/util.

[2018-09-16 17:32] lovinglyy commented on #22885
Also, in node, by using `Number`, decimal places differ from Google Chrome too.
Google Chrome:
`console.log('%i', 15.1) // outputs 15`
`console.log('%d', 15.1) // outputs 15`
Node.js:
`console.log('%i', 15.1) // outputs 15`
`console.log('%d', 15.1) // outputs 15.1`

It is a contradictory behavior imo.

[2018-09-16 17:35] oliviertassinari commented on #15244
Maybe we could unlock #9161? It's frozen I can't upvote the issue. This way, you could gather more feedback from the community.

[2018-09-16 18:59] seishun commented on #21773
Because the call to [`uv_tty_read_stop`](https://github.com/nodejs/node/blob/8174d0c8cae857296c45b2c448348f2c781f6ace/deps/uv/src/win/tty.c#L353) failed when calling `uv_tty_set_mode` with `UV_TTY_MODE_NORMAL`, consequently [`uv_tty_read_start`](https://github.com/nodejs/node/blob/8174d0c8cae857296c45b2c448348f2c781f6ace/deps/uv/src/win/tty.c#L375) wasn't called.  [`setRawMode`](https://github.com

[2018-09-16 19:40] lpinca commented on #22823
#22857 is a duplicate of this but is more active. I think this can be closed.

[2018-09-16 21:11] benjamingr commented on #22822
Hey, just saying I am away on holiday until the end of the month so with very limited availability.

I'd like to echo what @mcollina @misterdjules and @Qard and @ronkorving has said. The fact we don't crash on unhandled rejection is something people find really surprising over and over again.

If we can get away with crashing on nextTick that's fine, otherwise crashing on GC is also great. Ideally

[2018-09-16 21:12] benjamingr commented on #22735
+1, I think we could benefit from @boneskull's  involvement and perspective.

[2018-09-16 21:18] devsnek commented on #22822
@benjamingr i'd imagine its also very easy to opt into opinionated behaviour, instead of out.

[2018-09-16 21:38] benjamingr commented on #22822
I'm pretty sure we do - Node exits on uncaught synchronous exceptions.

[2018-09-16 21:55] devsnek commented on #22822
that's not node specifically... that's just how js works. if you throw an error and nothing catches it, all execution will stop. if there's no execution happening, node has nothing else to do and quits. if you want to change this behaviour, we provide hooks to restart execution, but nothing out of the ordinary happens by default.

[2018-09-16 22:00] benjamingr commented on #22822
This is not what other execution environments of JavaScript (browsers, for example) do. Nor is it what JavaScript does in some other environments typically (like microcontrollers). Nor is it typically what happens when embedding a JavaScript runtime as a scripting engine on top of another program.

[2018-09-16 22:06] refack commented on #15244
/CC @nodejs/user-feedback

[2018-09-16 22:12] oliviertassinari commented on #15244
Well, looking at https://stats.yarnpkg.com/, yarn accounts for 0.02% of the downloads, it's probably too early.

[2018-09-16 22:36] benjamingr commented on #22822
I would be very hesitant with TC39 dictating rather than specifying this behaviour - especially since consensus in Node.js does not tend towards the different behaviour between uncaught errors and uncaught errors in async functions at the moment.

[2018-09-17 01:58] Trott commented on #22775
When can we expect V8 7.0 can land in master? Does it make sense to try to find the commit that fixes this and backport it to our version on master? Or does it make sense to wait for V8 7.0 to land in master instead?

[2018-09-17 02:01] Trott commented on #22327
Continues to seem to only manifest on win2008r2 Rackspace hosts. This one is test-rackspace-win2008r2-x64-6.

https://ci.nodejs.org/job/node-test-binary-windows/20005/COMPILED_BY=vs2017,RUNNER=win2008r2-vs2017,RUN_SUBSET=3/console

[code]

[2018-09-17 02:26] Trott commented on #22874
It would be great if there was a way to have both a defined ordering  *and* logical groupings, but I don't see an obvious way to achieve that.

[2018-09-17 02:27] Trott commented on #22885
/ping @silverwind

[2018-09-17 05:27] hashseed commented on #22775
Just looks like a missing HandleScope. I'll create a PR to fix.

[2018-09-17 05:37] hashseed commented on #22775
FWIW, [this refactoring](https://chromium-review.googlesource.com/c/v8/v8/+/1140302) was the fix. I'm going to fix it more locally.

[2018-09-17 05:48] hashseed commented on #22775
The fix is here: https://github.com/nodejs/node/pull/22890

[2018-09-17 07:13] mcollina commented on #22822
@boneskull no, for mainly two reasons. Back at Node.js Interactive 2015 in Austin, I suggested to use an eslint rule to solve the unsafe Buffer constructor problem, however it did prove highly ineffective in avoid the growth in usage of the unsafe Buffer constructors.

The same does not only applies to _all_ event emitters, but also to all errorbacks. Here is another popular one:

[code]

Based on

[2018-09-17 07:18] ljharb commented on #22822
I’m arguing that exiting on unhandled rejections puts node outside the spec now, even if it’s not explicit, and i don’t agree that “safely” requires it.

[2018-09-17 07:31] cedric05 commented on #22829
@vsemozhetbyt shall i work on it?

[2018-09-17 07:48] mcollina commented on #22822
In the last few years, in almost all production applications I worked on, I have always seen such a handler. I think you are arguing that all those applications are not JavaScript programs, which is very interesting. Most developers do not even know it is there, as it was added once in a startup script and never touched again. This practice is considered "good house keeping".

Side note, the "log

[2018-09-17 07:54] ljharb commented on #22822
We don’t use such a handler at airbnb, and we don’t run into these problems. Perhaps education and linting are addressing it for us, perhaps it’s luck, but i remain confused how this is such a common problem for folks (the lack of exiting; not unhandled rejections specifically).

[2018-09-17 08:20] mcdonnelldean commented on #22822
I'd just like to second Matteo's argument. Any software I have delivered (my role is a delivery architect) in the context of node server systems, we have had a handler to log and die. In my whole career across many languages, in a production context, this has been a pattern that was necessary for realistic post mortem and clean up

Generally die and stack-trace is good but not nearly enough data f

[2018-09-17 08:32] mcdonnelldean commented on #22822
@ljharb Could it be that because airbnb own their whole system, as such, they can mitigate at a platform level?

My experience tends to be with highly integrated with external (and generally old and crusty) systems that don't produce anything overly useful in terms of logs or rollback-ability.

I've found it's not uncommon that the external system doesn't correctly clean itself up after the intern

[2018-09-17 08:46] benjamingr commented on #22822
@ljharb would it be possible to schedule a quick call (when I'm back from trekking after the 28th) where me (and other interested parties) can learn about what airbnb does differently from our own experience  to better understand your perspective?

[2018-09-17 09:29] bzoz commented on #21773
PR with libuv fix: https://github.com/libuv/libuv/pull/1989

[2018-09-17 09:49] Shekharrajak opened #22895 "Node is re-executing the request method after 2-3 min"
Hello team,

I have a node server, which is running (first connecting to oracle db) SQL procedures. If SQL procedure is small (completed within 2 min form oracle db) then it is fine. Means **oracle db will send response to node server and then it is sending the response to angular** in front end.

But when procedure is very big and it is taking time around 10 to 15 min, then node is not waiting fo

[2018-09-17 10:11] mcollina commented on #22855
I'm working on a fix.

[2018-09-17 10:20] richardlau commented on #22895
Duplicate of https://github.com/nodejs/help/issues/1499, which is the correct repository to ask this sort of question.

Please don't open the same issue in multiple repositories.

[2018-09-17 10:20] #22895 closed

[2018-09-17 10:56] ripsawridge commented on #22859
Okay, pull request created, thanks for the help, Yang!

[2018-09-17 11:27] NN--- opened #22901 "build: windows releases should not include npm tests"
Node 10.10 with NPM 6.4.1

Is there any reason why npm has test directory inside ?
It creates a long path for Windows and fails to install:

```node_modules\npm\test\npm_cache\content-v2\sha512\76\39\4b378512c68bf209b433e06b71df27a45f7e7be35f174a0f83bce7799628b74dbe993c18b1c12e899a1ed7b159470b382180d1f0a5c4098ac6092cda1a8f```

[2018-09-17 11:27] sigurdschneider commented on #22810
I've looked into this, and the CL you bisected to only incidentally fixes this example. The real fix is

https://chromium.googlesource.com/v8/v8/+/d520ebb9a85b73b2a6505e133a7cc940c7d2adbd

which should be floated on top of all affected node versions. @targos Could you take care of this?

[2018-09-17 12:16] rvagg commented on #22587
I've been trying to get my head around the real philosophical differences between #22218 & #21857 and it's still not entirely clear for me. But, @benjamingr's summary [above](https://github.com/nodejs/node/issues/22587#issuecomment-417643033) is *really* helpful and I'd suggest anyone skimming this should review that.

I would like to reinforce @jasnell's point above because it echoes what we expe

[2018-09-17 12:33] rvagg commented on #22822
Since this is likely to be a long-running argument, perhaps we should treat it as baby-steps? Introduce more obtrusive behaviour later _if_ we can reach agreement.

Right now I think the priority should be to just get an avenue for insight and the ability to suggest to users a "best practice" setup that might use that insight to drive intrusive behaviour.

I echo the nearForm experience (noted by

[2018-09-17 12:41] mmarchini commented on #21988
Not yet. I was talkting to @Drieger and he'll open a backport PR later today, so I'm guessing we'll have this fixed in the next v10.x release.

[2018-09-17 12:51] Flarna commented on #22822
Maybe it's a little bit of topic but on point regarding events: I would prefer that registration of event handlers doesn't change the actual behavior. e.g. if you register for `uncaughtException` to just add more logging,... you have to take care to exit the process even there is no API to tell node to do this in the same way as if there is no listener installed.
Similar is valid for the various s

[2018-09-17 13:52] tniessen commented on #21454
I am going to close this since there is little to no demand for this and such low-level primitives can be implemented without the crypto module as @bnoordhuis pointed out. Feel free to comment or reopen if a need for this exists.

[2018-09-17 13:52] #21454 closed

[2018-09-17 13:55] tniessen commented on #15113
cc @nodejs/crypto

I'd like to revive the idea. After having worked on the crypto module a lot recently, I think having key objects could actually be advantageous for us:

- Once a key has been created, it is guaranteed to be valid and not malformed.
- Currently, users need to keep the passphrase for encrypted PKCS#8 keys or the unencrypted key in JS-managed memory which isn't optimal from a secur

[2018-09-17 14:42] vsemozhetbyt commented on #22829
@cedric05 If I am not mistaken, this issue is fixed in https://github.com/nodejs/node/pull/22832
But thank you for the offer and good luck in any future contribution)

[2018-09-17 14:42] mcollina opened #22905 "tty: process.stdin.write() throws"
* **Version**: 10 (since libuv 1.20)
* **Platform**: all
* **Subsystem**: tty, net

This behavior is a regression caused by libuv (see https://github.com/libuv/libuv/issues/1936 and https://github.com/nodejs/node/pull/21654).

Currently:

[code]

Throws

[code]

Is this error acceptable/understandable, or should we do a custom error like https://github.com/nodejs/node/pull/21654?

[2018-09-17 14:44] mcollina commented on #22905
cc @addaleax

[2018-09-17 14:44] guo-yu commented on #12300
I found the vm module still throws a weird error when replace `1` with a `function` like this:

[code]
as it throw this error:

[code]
Is there anything might be missing in the last bugfix patch?

[2018-09-17 14:44] #22829 closed

[2018-09-17 14:47] addaleax commented on #22905
I think it would be okay to keep this the way it is – if we do want to provide a better error message, we should probably create a custom one for `EPIPE`? It’s weird that we don’t already include at least `strerror(EPIPE)` like we do for other errors…

[2018-09-17 14:48] addaleax commented on #22905
And, again, I think this is a bug – stdin could definitely be a duplex or writable stream. And `process.stdin` might be a sensible way to access the current TTY if stdout/stderr are redirected to some file but stdin isn’t.

[2018-09-17 14:51] vsemozhetbyt commented on #22901
I have the same file from `v8-canary` install on Windows 7 x64 (the instalation was successful though):
`c:\Program Files\nodejs\node_modules\npm\test\npm_cache\content-v2\sha512\76\39\4b378512c68bf209b433e06b71df27a45f7e7be35f174a0f83bce7799628b74dbe993c18b1c12e899a1ed7b159470b382180d1f0a5c4098ac6092cda1a8f`

See:
https://github.com/nodejs/node/tree/master/deps/npm/test/npm_cache/content-v2/sha51

[2018-09-17 14:53] mcollina commented on #22905
cc @cjihrig

[2018-09-17 14:53] mcollina commented on #22905
I'm ok in keeping it the way it is now.

[2018-09-17 15:03] Fishrock123 commented on #22885
I'd rather keep the minor difference (which the Node.js ecosystem is probably used to) rather than loose functionality.

[2018-09-17 15:05] Fishrock123 commented on #22873
I think those only exist when stdio is a net.Socket (and probably comes from net.Socket), not sure that the FS thing has the same property.

We might want to specify what the stdio "handles" can inherit from (what classes they can be).

[2018-09-17 15:09] #22497 closed

[2018-09-17 15:15] #20365 closed

[2018-09-17 15:31] targos commented on #22901
I don't think npm tests are needed to run npm? We could try to remove them from the binary distribution.

[2018-09-17 15:38] jasonmacgowan commented on #11771
The fix @bnoordhuis supplied didn't seem to change the behavior to adhere to RFC 5280.

#22906 fixes the issue for me.

[2018-09-17 15:43] #4778 closed

[2018-09-17 16:38] john-yan commented on #20642
https://chromium-review.googlesource.com/c/v8/v8/+/1194583 fixes alignment issue

[2018-09-17 16:41] john-yan opened #22907 "Cherry-pick d48bd16 to v10.x"
* **Version**: V10.x
* **Platform**: ppcle64/s390x
* **Subsystem**:

This fixes the alignment issue found in: https://github.com/nodejs/node/issues/20642

[2018-09-17 16:42] john-yan commented on #22907
https://chromium-review.googlesource.com/c/v8/v8/+/1194583

[2018-09-17 16:44] tlbdk commented on #15113
@tniessen this would also enable us to work with keys stored outside the nodejs process, fx. in keychain on mac, certificate store on Windows, GNOME Keyring on linux, TPM (Trusted Platform Module) or HSM's (Hardware Security Module) like Yubikey, TouchID, smartcards, etc.

Fx. if we stick with openssl it can be extended with an engine config: https://developers.yubico.com/YubiHSM2/Usage_Guides/Ope

[2018-09-17 17:18] silverwind commented on #22885
I think we should take the breaking change and be spec-conformant. Formatting specifiers should be a rarely used feature and I guess most people would use template strings nowadays to interpolate data in strings. Any opinions from @nodejs/tsc?

[2018-09-17 17:39] devsnek commented on #22885
as long as our console claims to be the whatwg console we should make sure it follows spec. +1 from me

[2018-09-17 17:59] Drieger commented on #21988
@misterdjules @mmarchini I opened https://github.com/nodejs/node/pull/22910 to backport to v10.x

[2018-09-17 18:57] targos commented on #21766
Ping @ChALkeR

[2018-09-17 18:58] benjamingr commented on #22822
@rvagg

Thank you for weighing in. Regarding:

As someone who was involved with promises back before they were part of the language here is a quick recap of our timeline:

 - We started bugging Node.js and io.js about unhandled rejections around 0.12 / first io.js release.
 - Petka added the unhandled rejection hook (to process, as I specified) to io.js which landed in io.js 1.3 - we also PRd the

[2018-09-17 21:09] ORESoftware opened #22916 "process.stdin.setRawMode(true) does not return process.stdin?"
I have this:

[code]

but I cannot use it like so:

[code]

just curious if that is true and why that is.

[2018-09-17 21:41] vsemozhetbyt commented on #22916
FWIW, these signatures are documented differently:

https://nodejs.org/api/tty.html#tty_readstream_setrawmode_mode
https://nodejs.org/api/stream.html#stream_readable_setencoding_encoding

And `.setRawMode()` does not return `this`:

https://github.com/nodejs/node/blob/bb9d788f772eaf3d6f61fcc27ec2788992faf625/lib/tty.js#L69-L73

[2018-09-17 22:14] Trott commented on #22735
Onboarded today!

[2018-09-17 22:14] #22735 closed

[2018-09-17 22:41] ORESoftware commented on #22916
yeah it should right, why not. Shouldn't break anybody to return `this` right?

[2018-09-17 23:04] misterdjules commented on #22822
@benjamingr

Did we get consensus on "exit on GC"? I thought that wasn't the case.

[2018-09-17 23:10] devsnek commented on #22822
until GC actually solves the "promises rejected without being detected" problem (and it never will), there will not be any consensus on GC.

[2018-09-18 00:35] bcoe opened #22919 "coverage: NODE_V8_COVERAGE for Node's test suite, remaining blockers"
I'm in the process of trying to collect coverage for Node.js' own internal libraries, and am running into a few  significant problems:

- [x] line counts appear to be all over the place; also we don't collect coverage for the wrap itself on several internal modules. Here's output from `assert.js` as an example.
   - [x] with https://github.com/nodejs/node/pull/23941, we are now collecting coverage

[2018-09-18 05:42] BeniCheni commented on #1826
Friendly reminder: #22921 tries out the `vm` item from the checklist of [earlier comment](https://github.com/nodejs/node/issues/1826#issuecomment-410487110).

[2018-09-18 05:44] Trott commented on #22471
I'm going to close this. Feel free to re-open if you think that's not warranted at this time, @ChALkeR.

[2018-09-18 05:44] #22471 closed

[2018-09-18 07:32] shinnn commented on #22854
I'm closing this issue because

is essentially the same topic and it seems already progressing.

@devsnek @ryzokuken Could you point the issue where it's discussed?

[2018-09-18 07:32] #22854 closed

[2018-09-18 07:50] schuay commented on #22919
For point 2 (merging coverage reports), one possibility would be to make V8's behavior here configurable and add a mode that skips all of the attempted reductions of reported coverage. Another alternative may be to disable these entirely.

Do you have more details about 1 and 3? Is the coverage reported by V8 incorrect?

[2018-09-18 07:51] ryzokuken commented on #22854
@shinnn https://github.com/nodejs/node/pull/21573

[2018-09-18 07:51] m-lawliet opened #22922 "NODE_PATH is ignored"
* **Version**:  v9.11.2
* **Platform**: Linux atlas 4.14.0-sabayon # 1 SMP Sat Sep 8 17:31:37 UTC 2018 x86_64 Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz GenuineIntel GNU/Linux
* **Subsystem**:

According to docs I was expecting modules to be loaded using specified order on NODE_PATH var as priority. It seems that NODE_PATH is been ignored, since:

    export NODE_PATH=${app_node_path}:${def_node_pat

[2018-09-18 08:06] hashseed commented on #22919
You could definitely play around with how V8's [prepares](https://cs.chromium.org/chromium/src/v8/src/debug/debug-coverage.cc?q=debug-coverage.cc&sq=package:chromium&dr&l=407) the data, e.g. remove the calls to merging ranges.

[2018-09-18 09:01] derolf opened #22923 "nodejs v8.11.3 aborts in http2 with TLS if client closes session"
node: v8.11.3
system: Ubuntu 18.04

I am hitting an issue with nodejs v8.11.3. I am using http2 with TLS (https) and the server aborts when the client has closed the session. Here is the error:

    HTTP2 31334: Http2Session server: socket closed
    HTTP2 31334: Http2Session server: marking session closed
    HTTP2 31334: Http2Session server: submitting goaway
    node[31334]: ../src/tls_wrap.cc:

[2018-09-18 09:41] addaleax commented on #22916
@ORESoftware Yes, I think this would be okay to add – do you want to open a PR maybe?

[2018-09-18 09:55] addaleax commented on #22923
I think a combination of https://github.com/nodejs/node/pull/22924 and https://github.com/nodejs/node/pull/22850 will probably fully address this.

[2018-09-18 09:59] mikicho opened #22925 "Add class inheritance/implements info to NodeJS JSON docs"
**Is your feature request related to a problem? Please describe.**
I'm creating a tool that generates a definition files from [NodeJS JSON docs
](https://nodejs.org/docs/latest-v10.x/api/all.json). Node documented great, but I want to know if a class (for example [`Buffer`](https://nodejs.org/docs/latest-v10.x/api/buffer.json)) inherits from or implements other class.
 `Buffer` class implements `U

[2018-09-18 10:22] mhf-ir opened #22926 "Dist with embedded icu same as modern browsers"
**Is your feature request related to a problem? Please describe.**
I need the same enviroment as chrome browser or standard browsers like firefox with fully support Intl for backend programming so we will need the special dist via fully embedded ICU for Intl in nodejs.

**Describe the solution you'd like**
It's good to have seperate multiple binary packages with and without icu with full or minima

[2018-09-18 10:32] richardlau commented on #22926
See discussion in https://github.com/nodejs/node/issues/19214 and https://github.com/nodejs/node/pull/21676.

[2018-09-18 10:33] #22775 closed

[2018-09-18 10:36] mhf-ir commented on #22926
Close for duplicate https://github.com/nodejs/node/issues/19214

[2018-09-18 10:36] #22926 closed

[2018-09-18 12:08] natatatata opened #22930 "Guide on how to use C# dll with nodejs"
Can I include a C# dll with nodejs and consume its classes/functions? If yes, is there any existing samples or guides with this? Thanks!

[2018-09-18 12:10] addaleax commented on #22930
Can you open an issue at https://github.com/nodejs/help? That would be a better place for this question. (I’m closing this issue here, though – this issue tracker is only for bugs and issues with Node.js core itself.)

[2018-09-18 12:10] #22930 closed

[2018-09-18 13:15] mscdex commented on #22922
This is what package.json is for. You add your dependencies and their required versions and run `npm install` to install the necessary dependencies.

[2018-09-18 13:50] #22723 closed

[2018-09-18 14:19] tniessen commented on #22628
It crashed here as well: https://ci.nodejs.org/job/node-test-commit-linux/21645/nodes=ubuntu1404-32/console

[code]

[2018-09-18 14:20] targos commented on #22585
My order of preference is: D, C, A, B.

I'm strongly against B because it is impossible to do it for every API addition and I don't think there are features that deserve more to be detected that others.

[2018-09-18 14:38] joyeecheung commented on #22585
My preference is: B, C~D, A

I think in practice C is about the same as D since it's likely that the user would rather use a library like `semver` to compare versions - though in a even more verbose manner.
If I remember correctly B has always been a preferred way to do feature detection on the Web i.e. a big part of the JS ecosystem. Even if we go with A, developers still have to do feature detec

[2018-09-18 15:49] richardlau commented on #22922
You can set the environment variable `NODE_DEBUG=module` to log the paths where Node.js is looking for modules.

I suspect you mean [locally installed](https://nodejs.org/dist/v9.11.2/docs/api/modules.html#modules_loading_from_node_modules_folders) rather than globally installed? [Global folders](https://nodejs.org/dist/v9.11.2/docs/api/modules.html#modules_loading_from_the_global_folders) (not th

[2018-09-18 16:34] mcollina commented on #22585
My preferences: B, D, A.

We should do C **anyway**. readable-stream@2 accumulated such a long list of "B" approach that was staggering. I think it would be good and healthy for the ecosystem.

[2018-09-18 17:17] bengl commented on #22585
My order of preference is C, D, A, B.

Node.js isn't the web, and solutions in either platform don't have to be the same. In Node.js, we're in a situation where the version number is exposed programmatically, so as long as the API is documented for each version, it's a straightforward jump to knowing exactly what you can and can't do with each API function.

I don't think it's *crucial* that this

[2018-09-18 17:26] ORESoftware commented on #22916
sure I can do that, I would also want to update the TypeScript typings for this

[2018-09-18 19:53] ericandrewlewis opened #22936 "Improve error message for address already in use"
Hello! This is my first issue on this repository, thanks for Node and all that y'all do!

In my class, sometimes students will start an Express server on the same port of one running in another terminal tab.

They get an error message like this:

[code]

I wonder if we could improve this error message because it's a bit ambiguous what the actual problem is to newcomers.

I saw that this already ca

[2018-09-18 20:16] mscdex commented on #22936
'::' is not localhost though, it's the ipv6 equivalent of '0.0.0.0'.

Also, I don't think putting protocol-specific information like 'http' in the error message is worthwhile. FWIW you can attach an `'error'` event handler to your http server before calling `listen()` (explicitly or not) and get all of the information you need (`errno`/`code`, `syscall`, `address`, `port`) from the error object if

[2018-09-18 20:26] tniessen commented on #15113
@tlbdk Will that require support for custom key objects (user-defined classes)? That would make a secure implementation more difficult.

[2018-09-18 21:15] tlbdk commented on #15113
@tniessen No, not if the implementation detail is left to OpenSSL fx using its engine API to add the different HSM backends, it already has the needed abstraction.

There is already API for setting the engine:

https://nodejs.org/api/crypto.html#crypto_crypto_setengine_engine_flags

But we need an API to load keys from engines:

* https://www.openssl.org/docs/man1.1.1/man3/ENGINE_load_private_key.

[2018-09-18 21:20] tniessen commented on #15113
@tlbdk Awesome, thanks for the clarification.

[2018-09-18 22:37] refack commented on #22006
Just found a similar on macOS cousin freebsd11-x64
[code]
https://ci.nodejs.org/job/node-test-commit-freebsd/20589/nodes=freebsd11-x64/console

But I now know how to solve this. There's a solution possible by fixing GYP/some-gyp-files.

[2018-09-18 23:08] BobFrankston opened #22939 "Installation problem with search path"
When installing on Windows Node removes itself from the environment PATH and puts itself at the end. This causes problems if other versions, especially, Microsoft's UWP.

Node should leave the existing entry in place or update it in place. Otherwise, it takes a while to figure out why the behavior has changed.

[2018-09-18 23:37] mdarse commented on #22314
I encounter the same issue. I'm also using webpack but version _2.3.3_  on `Darwin 16.7.0 Darwin Kernel Version 16.7.0; root:xnu-3789.73.14~1/RELEASE_X86_64 x86_64` if that matters.

After running my code with v8 profiler enabled (`--prof`), I get the following result:
[code]

It seems that time is spent in C++, does anyone know what `v8::internal::Builtin_HandleApiCall` is for?

[2018-09-19 01:18] ericandrewlewis commented on #22936
Good point! What do you think of a more generalized message like

[code]

[2018-09-19 02:17] joyeecheung commented on #22762
Not exactly sure but this seems to be related:

| Reason | <code>parallel/test-worker-syntax-error</code> |
| - | :- |
| Type | JS_TEST_FAILURE |
| Failed PR | 2 (https://github.com/nodejs/node/pull/22843/, https://github.com/nodejs/node/pull/22239/) |
| Appeared | [test-azure_msft-win10-x64-3](https://ci.nodejs.org/computer/test-azure_msft-win10-x64-3/), [test-rackspace-win2012r2-x64-1](https://c

[2018-09-19 02:54] joyeecheung commented on #22936
Before changing the format of the message, we may need to deprecate/remove `util._exceptionWithHostPort()` first.

[2018-09-19 03:01] joyeecheung commented on #22901
Relavent code is here: https://github.com/nodejs/node/blob/a7b59d6204656f45abb91158648f19687b7c73b0/vcbuild.bat#L339

[2018-09-19 03:04] joyeecheung commented on #22901
Hmm, any reason vcbuild.bat does not use tools/install.py? That script does skip the test directory. cc @nodejs/build-files

https://github.com/nodejs/node/blob/a7b59d6204656f45abb91158648f19687b7c73b0/tools/install.py#L87

[2018-09-19 03:14] joyeecheung commented on #22745
Can you open a pull request in this repo with the patch? See https://github.com/nodejs/node/blob/master/doc/guides/contributing/pull-requests.md on the process.

[2018-09-19 04:04] Trott commented on #22336
https://ci.nodejs.org/job/node-test-commit-freebsd/20586/nodes=freebsd11-x64/console

[code]

[2018-09-19 04:32] Trott commented on #22336
Stress test with `-J --repeat 100`: https://ci.nodejs.org/job/node-stress-single-test/2019/

Stress test with `-j 1 --repeat 100`: https://ci.nodejs.org/job/node-stress-single-test/2020/

[2018-09-19 05:09] Trott opened #22940 "Discussion: Criteria for upgrading worker_threads module from experimental to stable"
* [x] User-space modules built on worker_threads
  * [worker-threads-pool](https://www.npmjs.com/package/worker-threads-pool)
  * [microjob](https://www.npmjs.com/package/microjob)
  * [node-worker-threads-pool](https://www.npmjs.com/package/node-worker-threads-pool)
* [ ] Modules in citgm that exercise `worker_threads` in tests
  * ...
* [x] Reports of worker_threads deployed in production
  * ..

[2018-09-19 05:16] AyushG3112 commented on #22940
Question: Is the API more or less frozen?

[2018-09-19 05:59] Trott commented on #19876
Fixed in https://github.com/nodejs/node/commit/a1381fab8a1a35b3af9cf1cfb2f40b3a6f28eb5c

[2018-09-19 05:59] #19876 closed

[2018-09-19 06:14] #22799 closed

[2018-09-19 06:43] danbev commented on #22585
My preferences are: B, D, C, A

[2018-09-19 09:14] m-abs commented on #19260
Seeing this on v8.12.0 too.

[2018-09-19 10:13] ousiri opened #22945 "HTTPS connection gets socket hang up"
* **Version**: v8.12.0
* **Platform**: mac os. Darwin 17.5.0 Darwin Kernel Version 17.5.0: Mon Mar  5 22:24:32 PST 2018; root:xnu-4570.51.1~1/RELEASE_X86_64 x86_64
* **Subsystem**: https

With the following code:
[code]

And I am getting this error. The website doesn't support SSL3, but supports TLS 1.0 1.1 1.2
[code]

Setting ```ecdhCurve: 'auto'``` does't work. But nodejs v10.10 works fine.

[2018-09-19 10:38] fhemberger commented on #22652
I think we can also get stats that might be useful from the server logs, in case we *really* need them. For example how many doc page impressions per Node.js version, etc.

So I'd be +1 for removing.

[2018-09-19 12:13] paradigmf commented on #22785
If needed, I can upload virtual machine snapshot, so that the issue can be reproduced easily. If that is needed, let me know.

[2018-09-19 12:14] Trott commented on #22336
(Stress test with `-J --repeat 100` was looking like there wouldn't be any failures, so I canceled both stress tests.)

[2018-09-19 12:40] devsnek commented on #22940
Would be nice to see locks be stable by then too, but maybe that's a separate thing to track?

[2018-09-19 12:55] Willsway17 opened #22948 "Thanks"
* **Version**:
* **Platform**:
* **Subsystem**:

[2018-09-19 13:57] tniessen commented on #22585
I agree with @MylesBorins, I don't think option B (adding aliases for new options) scales well. It might work in some cases (e.g. for `mkdirp`), but doing that every time we add new options to existing APIs seems unreasonable.

[2018-09-19 14:06] BridgeAR commented on #22585
My preferences are: B, D, C, A

[2018-09-19 14:19] tniessen commented on #22585
How would `B` work for other APIs? For example, https://github.com/nodejs/node/pull/14731 added an option `verbatim` to `dns.lookup`, https://github.com/nodejs/node/pull/20235 and https://github.com/nodejs/node/pull/20039 added a (security-relevant!) `authTagLength` option to `crypto.createCipher*`, and there are many more examples. It doesn't seem reasonable to add API aliases for all of these.

[2018-09-19 14:31] targos commented on #22585
Other examples of API additions that cannot be easily detected:
- `fs.readdir` "withFileTypes": https://github.com/nodejs/node/pull/22020
- TypedArray support in various APIs like `fs` or `child_process`: https://github.com/nodejs/node/pull/22150 https://github.com/nodejs/node/pull/22409
- Allow `url` and `options` to be passed to `http.request` and `http.get`: https://github.com/nodejs/node/pull/

[2018-09-19 14:38] mhdawson commented on #22585
My preferences are D, C, B, A with much of the same rationale as @bengl.  It's hard to decide between D and C.

[2018-09-19 14:39] addaleax commented on #22940
@devsnek I’d track that separately, given that it’s a fully separate API and is useful independently of Workers?

[2018-09-19 14:49] joyeecheung commented on #22940
From Node's side it's still experimental so I believe it's not frozen, but it's related to Web Workers which has a stable spec and we (kind of? correct me if I am wrong) agreed in https://github.com/nodejs/TSC/issues/557 that we don't want to deviate too far from the existing design.

[2018-09-19 14:52] jasnell commented on #22585
If we adopt option A, there are a few details that I'd like to see discussed in detail before we moved forward, not because they are edge cases, but because they are realities of API design and maintenance...

1. Versioning... Let's say, for instance, in the future we make a hypothetical modification to the arguments and options for recursive mkdir (or any other new API). How would we signal the d

[2018-09-19 14:53] joyeecheung commented on #22585
BTW in addition to ABCD mentioned about, what about `process.features`? That is a long-existing API for feature detection. If I am going to decide between `process.features` and B, I'd go for `process.features`. If we somehow decide to create another new API for feature detection, what are we going to do with `process.features`?

[2018-09-19 15:00] jasnell commented on #22585
`process.features` is a bit problematic given that:

1. It's been there for years and very very very few people actually know about it.
2. The majority of the properties currently in there are largely obsolete.
3. The `process.features` property (and the current objects set of properties) are configurable and writable by user code making it largely unreliable. We would have to deprecate the curren

[2018-09-19 15:08] addaleax commented on #22585
The flexibility of JS is a strength, and I do think it’s important that users can modify whatever solution we come up with programmatically; overwriting is not something that typically happens by accident, and doing so can be useful for testing different situations without actually having to check all existing Node.js versions.

[2018-09-19 15:18] ljharb commented on #22585
Version number detection would be just as brittle and terrible as user agent detection in browsers - whatever you decide, please come up with a way to do *feature detection* - ie, to test for the desired presence or behavior directly, rather than inferring it from unrelated information. (B, A, C, D)

[2018-09-19 15:36] #22855 closed

[2018-09-19 15:55] Trott commented on #22585
@BridgeAR Can you elaborate? This isn't a vote. It's a discussion. So the reasons for your ordering may be more important than the ordering itself.

[2018-09-19 15:56] ChALkeR commented on #21766
@mhdawson @targos I don't think this needs to be discussed at the agenda now, so I de-labeled it.
I think that I will add the label again when this will need further discussion.

[2018-09-19 16:19] Fishrock123 commented on #22585
B seems completely impractical long-term to me. It just does not cover many access well outside of the feature in question.

That being said C, is possible regardless of what we decide. Someone could already have made that. Honestly, if no one has already made that yet, is feature detection really that important? 🤔

[2018-09-19 16:31] bengl commented on #22585
@Fishrock123 No, because it's currently just a scaffold/proof-of-concept/not-even-published on npm yet: https://github.com/bengl/core-features

I put it together on a suggestion from @MylesBorins, in order to see what this might look like. Such a module *could* (but certainly not necessarily) be adopted by Node and baked into Node's release process to ensure freshness.

For comparison in the wild,

[2018-09-19 16:46] #22472 closed

[2018-09-19 17:03] Fishrock123 commented on #22585
This all misses the point. My thought is, If people really wanted this, It is easy enough to do in userland that it would already be done...

That it seems like it's completely non-existent makes me wonder if this just isn't all that necessary for Node.js.

[2018-09-19 17:58] ofrobots commented on #22585
Given options A, B, C, D: one of these things is not like the other.

Options A, C, D are different mechanisms of enabling the ecosystem to determine whether a feature may be present in a given version of Node. It is not even clear to me whether these options are in competition with each other. Today, I do feature tests using version numbers (option D) – after all, our API docs do spell out when s

[2018-09-19 18:07] mjgs opened #22952 "JSON error when building docs"
* **Version**: v9.3.0
* **Platform**: Darwin MarksMacBook 15.6.0 Darwin Kernel Version 15.6.0: Thu Jun 21 20:07:40 PDT 2018; root:xnu-3248.73.11~1/RELEASE_X86_64 x86_64
* **Subsystem**: docs

[Building the docs](https://github.com/nodejs/node/blob/master/BUILDING.md#building-the-documentation) command fails with error:

[code]

Docs get created (153 files) in out/doc/api, but running `make docopen

[2018-09-19 18:30] Fishrock123 commented on #22585
To me this point is kind of the opposite - why put it into core faster if nobody already needs it enough to do something relatively simple in userland? Putting a module out there for people who think they need this and actually seeing usage seems like a good way to prove that option A would be valuable.

[2018-09-19 18:50] sagitsofan commented on #22936
What is the reason for deprecated `exceptionWithHostPort` function inside the `error.js` file ?

[2018-09-19 19:00] Romayo opened #22955 "NPM 5.6.0"
* **Version* 8.11.4*:
* **Platform**:
* **Subsystem**:

NPM installed bootstrap and deletes more than 1 thousand files

[2018-09-19 19:01] mscdex commented on #22955
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-09-19 19:01] #22955 closed

[2018-09-19 19:06] sagitsofan commented on #22925
If agreed, i can add this new property into the appropriate MD file + support inside the Json generator.

[2018-09-19 19:41] davisjam opened #22957 "Threadpool monitoring / metrics"
**Is your feature request related to a problem? Please describe.**

My (hypothetical) application uses the threadpool. Is the work performed in the threadpool the bottleneck for my application performance? This is hard to know at the moment.

**Describe the solution you'd like**

I would like API(s) to monitor the state of the threadpool.

**Describe alternatives you've considered**

Since the thr

[2018-09-19 19:45] jasnell commented on #22957
See: https://github.com/libuv/libuv/pull/1815

[2018-09-19 20:03] ORESoftware opened #22958 "Allow static config for stream subclasses"
Right now I have this:

[code]

that seems to work, but what would be nice is something like this:

[code]

it could potentially be more performant, but not that sure if it's worth it.

[2018-09-19 20:11] jasnell opened #22959 "[Todo] http: add support for extended connect protocol"
Now that [RFC 8441](https://datatracker.ietf.org/doc/rfc8441/?include_text=1) has been published detailing how to bootstrap Web Sockets support over HTTP/2, it will be necessary to enable support for the "Extended CONNECT protocol" as defined in the spec. This cannot be done in a third party module and has to be implemented directly by Node.js (and possibly nghttp2). I will be investigating this i

[2018-09-19 21:01] jasnell commented on #22959
This will definitely require support in nghttp2 to land first: https://github.com/nghttp2/nghttp2/issues/1181#issuecomment-422951930

[2018-09-19 21:08] mikicho commented on #22925
Sounds great!
Will it be applicable also for the older docs? Or only in the next releases?

[2018-09-19 21:15] KindWizzard opened #22960 "Node 10.10.0 is not caching env variables (slow "getenv")"
Version: 10.10.0
Platform: Darwin 17.7.0 xnu-4570.71.2~1
Docker: node:10-slim

In the environment in which we run Node.js, is about 5,000 env variables. With such a large value of variables, it takes much longer to read them. The problem is that Node.js does not cache the result of getenv method call. As a result, the performance of the application falls critically.

That's how the bottom of the f

[2018-09-19 21:44] joyeecheung commented on #22936
@sagitsofan The purpose of that function is so that we can format the error message that is being requested to change. The error messages look like this because the error go through `exceptionWithHostPort` so to change it you'll need to either modify that function (which is exported by accident) or keep the exported one and create a new internal function (introducing difference between the two).

[2018-09-19 21:50] joyeecheung commented on #22936
On EADDRINUSE in particular: the human-readable error message defined by libuv is `address already in use`. If we are going to make the error message more readable, it would be easier to translate the code to what libuv defines (basically means doing something similar to what `errors.uvException` does)

[2018-09-19 23:30] phil-marble opened #22964 "Packages sources not available in xenial repo"
* **Version**: 8.x
* **Platform**: Ubuntu xenial
* **Subsystem**:

sources and dbg packages not up to date in package repo:

[code]

[2018-09-20 01:37] mscdex commented on #22964
This issue should be submitted to the appropriate nodesource repo issue tracker. Node core does not provide these kinds of packages.

[2018-09-20 01:37] #22964 closed

[2018-09-20 07:31] mcollina commented on #22825
I was able to fix this in 0x by filtering out extremely long lines: https://github.com/davidmarkclements/0x/pull/172.

[2018-09-20 07:46] richardlau commented on #19260
@m-abs See https://github.com/nodejs/node/issues/22825 for v8.x.

[2018-09-20 08:14] richardlau commented on #22785
Does the v10.11.0 release candidate have the same issue?
https://nodejs.org/download/rc/v10.11.0-rc.1/node-v10.11.0-rc.1.pkg

[2018-09-20 09:52] paradigmf commented on #22785
@richardlau Yes, it has the same issue.

![](https://user-images.githubusercontent.com/43129358/45810597-3f3ac800-bccb-11e8-8b74-858c9e94d6b9.png)

[2018-09-20 10:51] cedric05 commented on #22939
@richardlau  can i take this?

[2018-09-20 12:34] #15116 closed

[2018-09-20 14:14] BobFrankston commented on #22939
Note that the problem is that NodeJS removes the existing entry and then places itself LAST. Policy should be same place.

[2018-09-20 14:14] frankangelone opened #22972 "The writeFileSync Function Distorts Power of 2 Images With Width & Height Inconsistencies"
Node Version: 10.4.1
Platform: Darwin Kernel Version 16.7.0

When using the `writeFileSync` function to write out a file that I've converted its width and height to the nearest Power of 2, it distorts the image when the width is not a Power of 2 and the height is a Power of 2.

Here's the function I'm using to convert the image to the nearest Power of 2:

[code]

To manually correct the issue, I h

[2018-09-20 15:17] apapirovski commented on #22972
I'm afraid I'm not following how Node's writeFileSync is responsible. Presumably the image is using some file format like JPG or PNG — Node isn't changing any of that. If you're having issues it's either in your code or a third-party image processing library.

[2018-09-20 16:12] partha6369 opened #22973 "Unable to install JDBC"
Dear Sir/Madam,

I am trying to install JDBC for node.js application I am developing. However, I get an error and jdbc is not available under node-modules. Please help. The error is shown below. I am using a MAc machine with High Sierra version 10.13.6 (17G65). The Java version is Java HotSpot(TM) 64-Bit Server VM (build 9.0.4+11, mixed mode). The Python version is Python 3.6.4 :: Anaconda, Inc..

[2018-09-20 16:19] hmt commented on #22319
On Fedora 28 I had the same issue. I have no clue where my libnode.so came from. But thanks for giving the full debug logs. Learnt something new about strace and coredumps. :+1:

[2018-09-20 16:33] partha6369 opened #22976 "Need Nodejs Connector Library to connect to Tibero"
Dear Sir/Madam,

We are making our application to interface with Tibero Database. We need the connector to connecto the database. I cannot find this package in the Tibero Web Site. Please provide the same OR please let me know how I can get the same.

Thanks and Regards,
Partha

[2018-09-20 16:38] jasnell commented on #22976
Hello @partha6369 ... This repository is specifically for reporting and discussing issues specific to the Node.js runtime. This project has no relationship with Tibero and it is the wrong place to ask for this kind of assistance. You could try posting a question to the @nodejs/help repository or search the npmjs.org website for any module that may provide Tibero support.

[2018-09-20 16:38] #22976 closed

[2018-09-20 16:49] joyeecheung opened #22977 "doc: document AliasedBuffer in C++ style guide"
The actual API is documented in https://github.com/nodejs/node/blob/master/src/aliased_buffer.h but it would be good to have a note in the style guide about trying not to create regular typed arrays in C++ if they are going to be used to pass data out of band.

[2018-09-20 17:26] Trott opened #22978 "Investigate flaky parallel/test-crypto-keygen"
* **Version**: 11.0.0-pre (master)
* **Platform**: linuxone rhel72-s390x
* **Subsystem**: test crypto

https://ci.nodejs.org/job/node-test-commit-linuxone/5311/nodes=rhel72-s390x/console

[code]

[2018-09-20 17:50] Trott commented on #22978
Comment from @tniessen in https://github.com/nodejs/node/pull/22660#issuecomment-423273437:

[2018-09-20 17:50] Trott commented on #22978
While stress-testing locally with `-j 96 --repeat 192`, I got a different error:

[code]

[2018-09-20 17:51] Trott commented on #22978
Failed on a different platform in CI:

https://ci.nodejs.org/job/node-test-commit-arm/18620/nodes=centos7-arm64-gcc6/console

[code]

[2018-09-20 17:52] tniessen commented on #22978
@Trott This is most likely a randomly occuring problem with low probability (which obviously increases massively by being tested multiple times).

Changing `/bad decrypt/` to `/bad decrypt|asn1 encoding routines/` should be enough if my assumption is correct, I'll try to confirm that.

[2018-09-20 18:13] Ginden opened #22979 "Add process.memoryUsage().toString for human-readable output"
**Problem**: result of `process.memoryUsage()` is hardly readable by humans, limiting it's usability for fast debugging.

**Proposed solution**: Add `toString` method to `process.memoryUsage` results.

**Behaviour now**: `process.memoryUsage().toString() === "[object Object]"`

**Expected behavior**:
[code]

[2018-09-20 18:30] mscdex commented on #22973
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-09-20 18:30] #22973 closed

[2018-09-20 18:37] mscdex commented on #22979
I'm -1 on this kind of magical behavior. Besides, dividing the values by the appropriate amount to get the desired output is trivial enough in user land.

[2018-09-20 18:42] mscdex commented on #22978
There should be an `opensslStack` (or something similarly named) on the error message object that may help as well?

[2018-09-20 18:53] cjihrig commented on #22979
This would also be a breaking change for questionable upside. I'm also -1.

[2018-09-20 19:02] tniessen commented on #22978
Fixed in #22980, thanks for letting me know, @Trott. (Out of 25000 generated RSA keys, the test failed 98, which is close enough to the theoretical value to confirm my assumption about the decryption padding.)

[2018-09-20 19:10] Ginden commented on #22979
Is there any code that relies on `String(process.memoryUsage()) === "[object Object]"`?

[2018-09-20 19:13] lantern77 commented on #19954
@ericroy @mcollina A few months later, and with a bit more time on my hands. Unfortunately, binding to the multicast address did not work. It worked locally when my server was broadcasting multicast ip messages to the server,
However when I tried to broadcast from a remote server, to the client that binds to the multicast address. Nothing is received.

Thus I am currently looking into a workaround

[2018-09-20 19:19] mscdex commented on #22979
Quite possibly.

[2018-09-20 19:33] jasnell commented on #22979
A custom `util.inspect` overload is something I could :+1:

[2018-09-20 20:32] sagitsofan commented on #22936
I agree, will send a PR soon

[2018-09-20 20:32] RyanZim commented on #22585
Although I would have preferred explicit feature detection in core, I think @Trott's proposal is a sensible compromise I can live with in fs-extra.

[2018-09-20 20:35] lantern77 commented on #19954
By chance looking at ffi code again (https://stackoverflow.com/questions/13217049/how-to-setsockopt-under-node-js)
where did they get the value of "0xA" for SO_OOBINLINE or "80" for SO_ORIGINAL_DST?

[2018-09-20 20:51] Flarna opened #22982 "[async_hooks] Wrong after callback in case of uncaughtException"
* **Version**: 8.12.0, 10.11.0, master
* **Platform**: windows
* **Subsystem**: async_hooks

async_hooks call `after` with wrong id if an uncaughtException happens which does not end the process.

[code]
Results in
[code]
if I change the sample above to use `setTimeout` instead `process.nextTick` the issue is limited to master and the `async_id ` emitted is 0 instead 1.

I tried to find the root c

[2018-09-20 21:18] sagitsofan commented on #22936
https://github.com/nodejs/node/pull/22983/files

[2018-09-20 21:20] sagitsofan commented on #22936
https://github.com/nodejs/node/pull/22983

[2018-09-20 21:56] sagitsofan commented on #22936
Will send a PR soon

[2018-09-20 22:11] #22978 closed

[2018-09-20 23:17] rvagg commented on #18770
@shigeki it sounds like from openssl/openssl#7199 that we may have some fundamental architecture problems with our TLS layer. It sounds like the TLS 1.3 support problem is related to the `test-tls-server-verify` failure too, is that right? Does that mean that we're going to have a lot more changes on Node's side to get 1.1.1 in? And if so, do we need to get additional help for that? Is there a ris

[2018-09-20 23:19] a-stepanenko commented on #3104
I'd like to warn you that previous comment is not the case. Node.js does not cache env vars, so each time you use process.env.VAR you actually call getnev(). This might be a performance issue if you have lots of env vars (this is especially important in case you run your node.js app in k8s since k8s creates env vars for all endpoints in a namespace, see https://github.com/kubernetes/kubernetes/iss

[2018-09-21 00:44] richardlau commented on #22960
See https://github.com/nodejs/node/issues/3104 for previous discussion.

[2018-09-21 01:12] mrG0bliN opened #22986 "AssertionError [ERR_ASSERTION]: The expression evaluated to a falsy value"
* **v10.11.0**:
* **MSYS_NT-10.0 macOS 2.10.0(0.325/5/3) 2018-06-13 23:34 x86_64 Msys (it`s WINDOWS x64)**:
* **Subsystem**:

[code]
hello, i coding new site, after update or update same modules, i not understand, my watch started to break and throw an error.
a week ago this was not, I use for http2 spdy, gulp, webpack.
If you need any further information I can provide.

What causes the error? Aft

[2018-09-21 01:43] rocketraman commented on #22319
@hmt You can try

[code]

The path you can get from the output of `LD_DEBUG=all node`.

That might tell you something useful about which rpm it came from, and if it isn't a package on your system then it was probably installed manually at some point.

I still think that something is wrong with nodes internals though.

[2018-09-21 03:05] mscdex commented on #22986
This is an error coming from the `spdy-transport` module. You should create this issue over on [their issue tracker](https://github.com/spdy-http2/spdy-transport/issues).

[2018-09-21 03:05] #22986 closed

[2018-09-21 05:51] CeoFred opened #22989 "Node too slow to start on windows"
* **Version**:8
* **Platform**:windows
* **Subsystem**:

Starting node as a newbie , used the node filename.js command to start up my server but takes time, I'm yet to see my node server startup. I'm running on windows x32bit and using v8 of node.

[2018-09-21 06:28] bzoz commented on #22989
Does your code work on another platform, like Linux?
Does this also happen for other applications? Is Node slow to start in general, or just for that exact app?
Could you provide a minimal code example that reproduces this issue?

[2018-09-21 06:36] susajsnair commented on #19997
i am having same issue when running **npm start**.
node version is 10.10.0
npm version is 6.4.1

can someone tell me how to fix it and if downgrading needed then to which version?

[2018-09-21 06:49] dibakarray opened #22990 "Node js as platform for client application"
Hello. I am very new to Node js. I have a requirement of reading serial port data and making it available over web page. This application needs to be run on about 100 users Desktops with various OS and configurations. Naturally Node js was my first choice. However when I tried to install serialport package on 3 of my machines I found huge problems, some time it was with Python Version, some times

[2018-09-21 07:12] tim777z commented on #19997
I figured out a work around. The problem is caused by a dependency issue in npm, (one of the packages held by the package maintainers is broken). Solution: Install yarn. enter **yarn install** in your terminal (instead of **npm install**), you might see a warning about the dangers of using multiple package managers, you can safely ignore this warning. Proceed with the install, and then try enterin

[2018-09-21 07:54] CeoFred commented on #22989
I've sorted it out... As a react developer I was expecting a console
message like server is started listen at port . didn't know I wouldn't get
a message back,was waiting for that before I could check my browser for the
running server. I'm good to go now,thanks.

On Fri, Sep 21, 2018, 07:30 Bartosz Sosnowski <notifications@github.com>
wrote:

[2018-09-21 08:19] #22989 closed

[2018-09-21 08:51] susajsnair commented on #19997
hey,

i tried to execute `npm install http-server` which i have seen somewhere to give a try,
when i do so i got error

[code]
same shown for http-server file also, so i removed folowing files

then `npm install http-server`
everything works good. :)

[2018-09-21 11:42] lundibundi commented on #19877
Closing this due to age (no activity for more than 5 months from @JasonFang93) and absence of confirmation of a bug on other similar configurations.
@JasonFang93 if you still experience the problem and/or have some other details to share feel free to ping me and I'll reopen this.

[2018-09-21 11:42] #19877 closed

[2018-09-21 12:35] lantern77 commented on #19954
So unfortunately ffi, although an awesome solution, does not work for us.
ffi when built requires to built in the architecture that its planned to be ran in, other wise you get an invalid ''ELF header".
Since we have multiple work environments(windows and linux) - this becomes quite a hassle when a windows developer wants to deploy our code to a linux machine.

Thus we might end up performing a wo

[2018-09-21 12:48] lantern77 opened #22994 "UDP/Datagram more low level options"
**Is your feature request related to a problem? Please describe.**
I originally posted the problem I ran into here:
https://github.com/nodejs/node/issues/19954
However, to keep a long story short, when sockets are created by default in nodeJS they have the "IP_MULTICAST_ALL" set to on "the socket will receive messages from all the groups that have been joined globally on the whole system." - http:

[2018-09-21 13:50] tugrul opened #22996 "node::ObjectWrap dispose method"
There is an allocated object inside of class constructor.
https://github.com/tugrul/cryptian/blob/master/addon/src/node/algorithm.h#L29 and https://github.com/tugrul/cryptian/blob/master/addon/src/node/mode.h#L40.

I can't use destructor method because `node::ObjectWrap` have destructor method.

I think `node::ObjectWrap` can have `Dispose` placeholder method then call `Dispose` method by own dest

[2018-09-21 13:51] burningTyger commented on #22319
@rocketraman yes, did the equivalent with dnf but came back empty handed. No trace whatsoever. So I just removed it and now it works. Thanks for the detailed steps you took.

[2018-09-21 14:25] ghost opened #22999 "[Windows] process.stdin.unref doesn't work"
* **Version**: v10.10.0
* **Platform**: Windows x64

**parent.js**

[code]

**child.js**

[code]

Run with `node parent.js`

### Results

**Linux**: The process terminates by itself
**Mac**: The process terminates by itself
**Windows**: The process keeps running until <kbd>Enter</kbd> is pressed

This strange behavior seems to break some npm modules.

### Other details

Adding `process.stdin.remov

[2018-09-21 14:48] Fishrock123 commented on #22916
I don't think we maintain those but the actual change seems fine to me.

[2018-09-21 14:49] frankangelone commented on #22972
@apapirovski Thanks for pointing me in the right direction.  The third-party library I was using (called [resize-img](https://github.com/kevva/resize-img#readme)) turned out to be the problem.  I'm using a new library ([sharp](https://github.com/lovell/sharp)) instead and it worked perfectly.

[2018-09-21 14:49] #22972 closed

[2018-09-21 14:52] mscdex commented on #22996
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-09-21 14:52] #22996 closed

[2018-09-21 14:52] Fishrock123 commented on #22652
Can I get access? I'd like to dig through this a bit to see which pages get inter-doc navigated tot he most and which get externally navigated to the most.

[2018-09-21 14:53] Fishrock123 commented on #22543
How would this work for non-property deprecations?

[2018-09-21 14:55] tugrul commented on #22996
This is not 3rd party issue. It's related to node core.

https://github.com/nodejs/node/blob/master/src/node_object_wrap.h#L38

[2018-09-21 14:57] Fishrock123 commented on #583
Running into a situation atm where this would be nice...

[2018-09-21 14:58] jasnell commented on #583
Indeed. I think it's time to revisit.

[2018-09-21 15:17] fhemberger commented on #22652
@Fishrock123 Sure, what's your Google account address? `fishrock123`​ `@` `gmail.com`?

[2018-09-21 15:38] gabrielschulhof commented on #22585
I second @mhdawson's words regarding @Trott's sugestion.

[2018-09-21 16:29] Trott commented on #22327
Continues to happen only on rackspace win2008r2 hosts.
¯\\_(ツ)_/¯

https://ci.nodejs.org/job/node-test-binary-windows/20167/COMPILED_BY=vs2017,RUNNER=win2008r2-vs2017,RUN_SUBSET=1/console

[code]

[2018-09-21 16:32] richardlau commented on #22779
This happened in https://github.com/nodejs/node/pull/22984 and landed in https://github.com/nodejs/node/commit/734fa44000cfe3fceabf19c801d4972fb280ca5d.

[2018-09-21 16:32] #22779 closed

[2018-09-21 16:42] richardlau commented on #22901
Turns out this is a one line change to `vcbuild.bat`: https://github.com/nodejs/node/pull/23001

[2018-09-21 16:44] sagitsofan commented on #22936
PR https://github.com/nodejs/node/pull/22995

[2018-09-21 17:11] addaleax commented on #21203
I’m reopening this since https://github.com/nodejs/node/pull/22997 should be a good step towards making this work again

[2018-09-21 17:19] Trott commented on #21586
There seem to be two things going on here. First, the assertion is wrong. It shouldn't be no results. It should get `inner.one`.

Second, when the test fails, nothing happens. The callback is running, but even throwing in the callback doesn't result in the error failing in this test case and a few others. Not sure why it's different. Even if I comment out all other test cases, it still exhibits th

[2018-09-21 17:27] Trott commented on #21586
Possibly related: A lot of uses of `common.mustCall()` are not working in the test file. Changing them to `common.mustNotCall()` doesn't result in an error even though the callback is called.

[2018-09-21 17:39] bcoe commented on #22919
@hashseed @schuay I could get V8 up and running on my machine again and take a stab, how might we configure this setting. My concern would be screwing with the format that Chromium expects in inspector.

[2018-09-21 17:48] hashseed commented on #22919
Well we could make this a flag in either V8 or Devtools protocol so that it does affect Devtools' use case.

[2018-09-21 17:52] bcoe commented on #22919
@hashseed correct me if I'm wrong, but if we didn't collapse together ranges, you'd have every range in every processes' output, regardless of whether each block/function is executed. So, merging would become as simple as walking through the two files and adding them together in unison?

[2018-09-21 18:01] Trott commented on #21586
In Node.js 8.x, completion returned nothing and the test was correct. In Node.js 10.x, completion returns `inner.one` (which is what I would expect) but now the problem with the test is exposed.

In some situations, the error is handled by the domain of a nested REPL so we never see it...

[2018-09-21 18:03] jasnell commented on #22543
Note that this does have a bit of logical overlap with the ongoing feature discovery discussion and a similar question could be asked about whether something is experimental.

[2018-09-21 18:08] hashseed commented on #22919
Not sure I understand fully what you mean. We employ a bunch of passes to reduce the ranges we need to pass through the protocol. If these passes do not run, you would get ranges for every block and every function, but some would nest inside others.

[2018-09-21 18:12] bcoe commented on #22919
@hashseed merging two reports in Istanbul is very simple, because you know you'll have the same lines, blocks, and functions:

[code]

[2018-09-21 18:47] Trott commented on #21586
Definitely looks like it's a bug in the REPL where domains cause the nested REPL to swallow errors that should be transmitted back to the parent REPL. I've got a test for this bug and I *think* I have a fix that I'm testing right now.

[2018-09-21 18:54] lantern77 commented on #19954
ROLLLERCOASTER OF EMOTIONS, so the original solution suggested by **ericroy** worked by binding multicast addresses.
When I went to go back to test, my server's multicast broadcast was disabled.

[2018-09-21 18:55] #19954 closed

[2018-09-21 19:01] Trott commented on #21586
Proposed fix: https://github.com/nodejs/node/pull/23004

[2018-09-21 20:34] jasnell commented on #13143
@addaleax ... now that things are progressing along nicely with workers, does this issue need to remain open?

[2018-09-21 20:56] apaprocki commented on #22805
This occurs in BSD `tar` when multi-byte characters appear in filenames within the archive, apparently. Or at the very least, that is one way to trigger it:

[code]

[2018-09-21 21:02] honestserpent opened #23008 "Limit the number of connection but reserving some for specific purposes"
Hello, I don't know if this is possible, I was wondering if it's possible to limit the number of concurrent connections while reserving some connections for specific purposes.

I want to create a proxy server: I know I can limit the numer of concurrent connections using `server.maxConnection`. But, I would like, for instance, to not count in the concurrent connections the ones coming from a specif

[2018-09-21 21:06] mikicho commented on #22925
Its impossible to re-generate the older version docs and publish them or it's just a workflow/convention?
Personally, I think it's essential that the docs will be homogeneous.

[2018-09-21 23:07] jasnell commented on #22323
Sorry for the late response...

Did you try adding an error handler to the pushed stream?

[code]

If not, can you give that a try and let me know if you still have the problem.

[2018-09-21 23:08] jasnell commented on #21631
@addaleax ... do you have any thoughts on how we could make `bufferSize` work on a socket bound to an http2session?

[2018-09-21 23:46] jasnell commented on #3604
I am unable to recreate the crash in the current Node.js 10.9, 8.12, and master. Not exactly sure which commit fixed the issue.

I'm unable to reproduce on the most recent version of 6 also.

[2018-09-22 00:30] jasnell commented on #3604
Closing. If someone is able to recreate this issue, on current versions, please weigh in and we can reopen.

[2018-09-22 00:30] #3604 closed

[2018-09-22 02:05] gireeshpunathil commented on #3604
$   cat 3604.js
[code]

[code]

@jasnell - for the context, watching same fd twice now throws valid JS error instead of `C` land crash. The relevant change is https://github.com/libuv/libuv/pull/1851 . The original test case was silently ignoring errors in the catch sink, and that is why probably it was not showing up anything.

Though the underlying issue is not resolved, this mitigation looks go

[2018-09-22 02:39] lovinglyy commented on #22999
The simplified code is always working fine for me, the first one I can reproduce that it's needed to press `enter` on Windows. Node v10.10.0 also.

[2018-09-22 07:20] targos opened #23013 "npm is not ready for Node 11"
Currently, npm uses the deprecated `crypto.pseudoRandomBytes` API through its `unique-slug` dependency.

There is already a PR to fix it: https://github.com/npm/unique-slug/pull/6

[2018-09-22 09:41] addaleax commented on #23013
Given that the only reason for deprecating seems to be “reducing undocumented API surface”, we should also definitely consider reverting the deprecation. Aliases are cheap and come with very little maintenance overhead.

[2018-09-22 10:40] tniessen commented on #23013
I contacted npm via twitter, their response was

So I'm in favor of downgrading the deprecation as well.

[2018-09-22 13:28] addaleax commented on #22994
@nodejs/dgram

[2018-09-22 13:34] addaleax commented on #22982
I think the issue might be that we manually kick off `nextTick` from `Module.runMain()`, i.e. after running the main script, but while still on the main script stack. For other invocations, we only run the nextTick queue after returning to C++ from whatever callback we invoked, including for `setTimeout`s… does that make sense?

[2018-09-22 13:38] #22851 closed

[2018-09-22 13:55] vijayee opened #23022 "How do you Encrypt with ECDH key pairs?"
How does one use the public key and private key generated by the `generateKeys()` function. The `crypto.publicDecrypt` seems to only work with RSA Keys of a certain format. How can these keys be used?
[code]

[2018-09-22 14:00] addaleax commented on #23022
@nodejs/crypto

[2018-09-22 14:45] tniessen commented on #23022
ECDH is usually only used for key exchanges, not for encryption of messages / streams. EC keys are also commonly used to sign data using ECDSA. Can you describe precisely what you are trying to achieve?

[2018-09-22 15:11] tiborsaas opened #23026 "URL pathname returns a leading / on Windows"
Node v10.5
Windows 10

I tried to polyfill `__dirname` for the ES6 module format, but I ran into this issue on windows, haven't tested on linux, but there this would be no issue of course.

the polyfill:
`const __dirname = path.dirname(new url.URL(import.meta.url).pathname);`

it originates a bit deeper from the pathname:
`console.log(new url.URL(import.meta.url).pathname);`

this returns the path

[2018-09-22 15:44] jasnell commented on #23026
The behavior is correct per the WHATWG URL spec and you'll find the same behavior in browsers. You'll need to strip the leading `/` off yourself.

[2018-09-22 15:44] #23026 closed

[2018-09-22 16:04] tiborsaas commented on #23026
Okay, I can see what it makes sense for pathname, but shouldn't dirname return something sane on all platforms?

Anyways here's a better replacement for `__dirname`

`const __dirname = path.parse(import.meta.url)['dir'].replace('file:///','');`

[2018-09-22 16:06] jasnell commented on #23026
Well, that's a bit difficult to do given that `C:` is a valid directory name on POSIX systems. `path.dirname` would have to know for certain that it is working with a Windows path.

[2018-09-22 16:08] tiborsaas commented on #23026
I see, thanks for the explanation.

[2018-09-22 16:33] sagitsofan commented on #22925
It is impossible to re-generate the older version of the json's, it will add only for node > 10.

All the documents json's are automatically generated by their `md` files.
So when i added the support of the new `implements` property, It is necessary to go over all the 50~ `md` files and add the inheritance classes in the template, i can do it for the `Buffer` class for now.

[2018-09-22 16:53] sagitsofan commented on #23008
By specific clients you mean to a range of ip addresses for example?
BTW, property name is `self.maxConnections` with an `s` at the end.

[2018-09-22 17:12] oyyd commented on #22945
@ousiri Can't reproduce this on my Mac. #20833 might be related.

You can try to specify the [secureProtocol](https://nodejs.org/api/tls.html#tls_tls_createsecurecontext_options).

[2018-09-22 17:29] sagitsofan commented on #22498
Should i override `toJSON` function in net.Server and return "[Object net.Server]" ( hard coded )?

[2018-09-22 17:35] devsnek commented on #22498
we should have `toJSON() { return {}; }` on all things that can't be re-created from `JSON.parse`. (as an example try stringifying a promise)

[2018-09-22 18:55] addaleax commented on #22940
Fwiw, there’s also the issue of workers not playing well with fs stat watchers because their cleanup code calls its callback prematurely on the libuv side (https://github.com/libuv/libuv/issues/1869) … should things like that go on the list?

[2018-09-22 19:09] Trott commented on #22940
I guess if we don't want it to be stable before that's fixed, then yes.

[2018-09-22 19:18] devsnek commented on #22940
just reading the microjob readme... `So, Microjob treats Node.js threads as temporary working units: if you need to spawn a long-living thread, then you should...`

I think another thing to block on is better documentation. people should be re-using threads as much as possible.

[2018-09-22 19:47] aaronriekenberg opened #23029 "http2stream.respondWithFile leaks a file descriptor every time statCheck returns false."
* **Version**:  v10.11.0
* **Platform**: Debian 9 stable: Linux 4.9.0-8-amd64 #1 SMP Debian 4.9.110-3+deb9u4 (2018-08-21) x86_64 GNU/Linux
* **Subsystem**: http2

I am finding that when using http2stream.respondWithFile, if statCheck returns false to cancel the send based on stat data, the file descriptor opened for the stat call is leaked and is never closed.

Here is a simple example cut and pas

[2018-09-22 20:43] slammerhammer opened #23030 "Why is Donald Trump mentioned in the code"
Why is the racist, sexist and neo nazi donald trump mentioned in the source code. How could you allow nazi trump supporters to contribute to this project. This is a major violation of the COC. I request that this be removed immediately because I am disgusted with this so are others. Thank you

https://github.com/nodejs/node/blob/8b4af64f50c5e41ce0155716f294c24ccdecad03/deps/icu-small/source/i18n/u

[2018-09-22 20:45] #23030 closed

[2018-09-22 22:07] caub opened #23032 "Readline: emit data events along with current line events"
It'd be great if `readline` could emit `'data'` events for each line, so that `for await` could be used:

[code]

[2018-09-22 22:10] devsnek commented on #23032
related: https://github.com/nodejs/node/pull/18904

[2018-09-22 22:14] devsnek commented on #23032
Duplicate of https://github.com/nodejs/node/issues/18603

[2018-09-22 22:14] #23032 closed

[2018-09-22 23:00] vsemozhetbyt commented on #23032
@caub I was trying to make some workaround with an intermediate async generator that splits chunks and yields a Promise for each line, but this implementation was very slow, maybe due to many Promises involved. So I make a shift with an intermediate async generator that splits chunks and yields a Promise for an Array with lines from the chunk, for now.

`read-lines-module.js`
[code]

`test.js`
[co

[2018-09-22 23:45] caub commented on #23032
interesting, this last approach makes sense (keeping the line returns also, since 'data' event should just chunk the content)

[2018-09-23 03:19] tamusjroyce opened #23033 "fs.readFileSync("c:/path/to/ucs2_le_bom_utf16.json", "utf8") does not convert the file bytes to utf8"
* **Version**:  v10.10.0 of Node on Windows / v8.12.0 on Windows Subsystem for Linux - Ubuntu

* **Platform**: 64-bit (Windows) Pro / WSL Ubuntu 18 LFS

* **Subsystem**: x86/64 - Intel i7 with 16GB Ram

* **Action Items:**

* **Code**:  To reproduce issue...

[code]
* **Proposed Solution**:

Add an extra parameter. Like, DoesEncodingSpecifyDesiredOutput. Maybe not that ridiculously long.
If the pa

[2018-09-23 03:35] devsnek commented on #22498
@refack because the objects might be in unsavory places. for example from the OP: `We accidentaly called JSON.stringify on Error instance with certain non-standard properties. These objects contained _response field, instance of http.ServerResponse`. there's no reason to make the whole thing fail.

[2018-09-23 03:54] mscdex commented on #23033
This kind of change would be semver-major IMO and I'm not sure I would expect something like that to happen automagically.

[2018-09-23 04:08] tamusjroyce commented on #23033
Add an extra parameter. If the parameter is true:

1.  Apply the work-around per example above
    o  To read the two bytes of the file. Then load the file with the found encoding (or utf8 if no file marker exists)
2. Convert the Buffer to the specified format. Swapping the bytes if the marker is utf16 big-endian

I think that would be very little extra work...

[2018-09-23 04:27] tamusjroyce commented on #23033
I also would not fix all the file-loading functions that allow specifying encoding at once. IMO, I agree whole-heatedly that that would be semver-major...

[2018-09-23 06:59] Trott commented on #22865
No surprise here, as #22938 hasn't landed yet, but still a thing:

https://ci.nodejs.org/job/node-test-commit-freebsd/20670/nodes=freebsd11-x64/console

[code]

[2018-09-23 06:59] Trott commented on #21425
https://ci.nodejs.org/job/node-test-binary-windows/20187/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=3/console

[code]

[2018-09-23 08:00] sagitsofan commented on #22498
I agree, we will not want to failed to whole function becouse of one (or more) unwanted instances, returning {} is a good solution.

If agreed i can send a PR with a fixed for this 3 classes.

[2018-09-23 09:04] ecker00 commented on #20325
I ran into this again with another project where reinstalling did not work. When I tried `npm upgrade` I got:
[code]
My project does **not use Webpack**, but I had Babel as a dependency. So maybe that's the culprit? I no longer had the need for Babel, after I removed it from my packages.json then gulp worked again after a reinstall.
[code]

[2018-09-23 09:14] ecker00 commented on #20325
I ran into this again with another project where reinstalling did not work. When I tried `npm upgrade` I got:
[code]
My project does not use Webpack, but I had Babel as a dependency (gulp-babel). So maybe that's the culprit? I no longer had the need for gulp-babel, after I removed all Babel it from my packages.json then gulp worked again after a reinstall.
[code]

[2018-09-23 11:51] tojocky commented on #21410
Fuchsia build system seems it uses GN: https://github.com/fuchsia-mirror/docs/blob/master/development/build/overview.md
Fuchsia itself and GN is built on GNU Make.

[2018-09-23 14:11] alexjeffburke commented on #22857
Hi, sorry to nudge but is there any progress on getting a fix in - I assume that https://github.com/nodejs/node/issues/22880 is the one to watch? Since this was a regression introduced in the active LTS release, are there plans to do an 8.12.1 release? Thanks.

[2018-09-23 16:26] Trott opened #23034 "Investigate flaky parallel/test-crypto-scrypt"
https://ci.nodejs.org/job/node-test-commit-arm/18662/nodes=centos7-arm64-gcc6/consoleFull

[code]

@nodejs/crypto

[2018-09-23 16:56] addaleax commented on #23034
This could be a bug with security implications. Is this a platform for which stress tests are available?

/cc @nodejs/crypto

[2018-09-23 18:36] Flarna commented on #22982
For completeness the results with other node versions:
10.11.0 setTimeout:
[code]
8.12.0 setTimeout:
[code]

I think we should not signal `after` if there was no `before` signalled.

I'm not sure about the 0/1 entries. If there are present because "something" / "the system" is running we should not remove them. But is there any need to have them on stack at all? Why not default to 0/1 if there is

[2018-09-23 19:07] alanshaw opened #23041 "fs.createReadStream(...)[Symbol.asyncIterator]() is not async iterable"
* **Version**: v10.10.0
* **Platform**: n/a
* **Subsystem**: ?

[code]

I get the error:

[code]

This isn't exactly a bug, but I think the iterator returned by `fs.createReadStream(__filename)[Symbol.asyncIterator]()` doesn't implement the iterable protocol which is why this is happening.

This might be useful if you wanted to consume the first X chunks of a stream using `await iterator.next()` a

[2018-09-23 19:26] devsnek commented on #23041
fixed locally... just running tests and then i'll have a pr up

[2018-09-23 21:13] ryzokuken commented on #23034
The code under question:

[code]

Note how it's even getting to the failed line (sync version works well, but async doesn't, no errors, just the wrong value). I'll investigate.

/cc @tniessen

[2018-09-23 22:23] tniessen opened #23043 "os.networkInterfaces uses uninitialized memory"
* **Version**: master
* **Platform**: Linux 4.4.0-042stab133.2 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: libuv / os

Virtual network interfaces do not always get a hardware address assigned on Unix:

[code]

`uv_interface_addresses` does not initialize the `phys_addr` member in those cases. `os.networkInterfaces` still returns a `mac` property for those interfaces which relies on uninitializ

[2018-09-23 22:35] tniessen commented on #23034
Can't reproduce this locally, stress testing would be great.

[2018-09-23 22:43] ryzokuken commented on #23034
Me neither. Not on MacOS.

[2018-09-23 23:09] jasnell commented on #23029
/cc @nodejs/http2 ... I'll be taking a look in the next day if someone doesn't beat me to it :-)

[2018-09-23 23:15] Trott commented on #23034
centos7-arm64-gcc6 is not available in the stress test now, but I'm guessing it can be added without too much trouble. @nodejs/build (especially @joaocgreis)

[2018-09-23 23:37] #18514 closed

[2018-09-23 23:57] refack commented on #23034
It's not a trivial change because we have multiple toolchains side by side, by I gave it a try (I'm not 100% sure it's GCC 6, but it's definatly not 4.4)
https://ci.nodejs.org/job/node-stress-single-test/2021/nodes=centos7-arm64-gcc6

[2018-09-24 05:48] hashseed commented on #22919
Yes. If you don't reduce the ranges in [here](https://cs.chromium.org/chromium/src/v8/src/debug/debug-coverage.cc?q=debug-coverage.cc&sq=package:chromium&dr&l=407) we should get ranges that you could overlay on top of each other from different runs.

[2018-09-24 05:53] nianjie commented on #22240
same error here with node 10.0.0

[2018-09-24 06:01] Ghostfly commented on #22240
Same error with Node 10 on a Raspberry Pi running Docker (node:latest)

[2018-09-24 07:27] targos commented on #22708
ping

[2018-09-24 08:34] hashimshafiq opened #23049 "Error: Handshake inactivity timeout with Node.js v8.11.1 and RDS"
Version: v8.11.1
Platform: LINUX

I have RDS running on AWS with NodeJS backed API's. Everything is working perfectly fine. But from today I keep getting an error that "Handshake inactivity timeout"

Error: Handshake inactivity timeout
    at Handshake.<anonymous> (/home/ubuntu/server/node_modules/mysql/lib/protocol/Protocol.js:164:17)
    at emitNone (events.js:106:13)
    at Handshake.emit (even

[2018-09-24 08:39] BridgeAR commented on #22763
@targos looking at your comment about `strictEqual` again: in case an object has the same properties but it's not reference equal, the error is going to be:

[code]

What do you think would be a good output in case of two diverging objects that are not reference equal? Only showing the actual or expected object or not showing any at all removes important information for the user. So the only thing

[2018-09-24 10:15] psykzz opened #23052 "Variable stuck in temporal deadzone"
* **Version**: v8.11.3
* **Platform**: Mac OSX 10.13.4
* **Subsystem**: unknown

If during assignment of a `let` you assign a syntax error, your variable will become un-useable.
For an example `let a = Ahhhh`.

[code]

I suspect this is related to the temporal dead zone as described at [developer.mozilla.org/let#Temporal_Dead_Zone](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/

[2018-09-24 10:32] coderaiser opened #23055 "Change Dirent with stat in fs.readdir with withFileTypes"
In node [v10.10.0](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V10.md#2018-09-06-version-10100-current-targos) with merge request #22020 was added a new flag `withFileTypes` to [fs.readdir](https://nodejs.org/dist/latest-v10.x/docs/api/fs.html#fs_fs_readdir_path_options_callback):

[code]
It is really great addition and I have a couple ideas to share.

Would be great if [fs

[2018-09-24 10:42] bzoz commented on #22999
Can reproduce with v10, does not reproduce with v8.

[2018-09-24 10:57] Ginden commented on #22498
I would prefer to know type of stringified object - eg. `{"$type": "net.Server"}`.

[2018-09-24 11:48] jsmrcaga commented on #22498
@Ginden that type of behaviour should be overseen by some bigger instance (TC39?). It changes the whole behaviour for `JSON.stringify`, and should change it for every object, meaning that if you :
[code]

you would get `{$type: "[object Object]", someProp: 5}`

[2018-09-24 12:20] devsnek commented on #23052
Duplicate of https://github.com/nodejs/node/issues/8309
Duplicate of https://github.com/nodejs/node/issues/13919

[2018-09-24 12:20] #23052 closed

[2018-09-24 12:44] Trott commented on #20628
Raspberry Pi again:

https://ci.nodejs.org/job/node-test-binary-arm/3570/RUN_SUBSET=5,label=pi1-docker/console

[code]

[2018-09-24 12:48] Trott commented on #22336
Timing out on Raspberry Pi:

https://ci.nodejs.org/job/node-test-binary-arm/3570/RUN_SUBSET=2,label=pi2-docker/console

<details>

[code]

</details>

[2018-09-24 12:59] BridgeAR commented on #22336
@Trott the comment is actually about a different test than `test-gc-http-client`. It is `test-gc-net-timeout`. I'll add a similar fix to this one like I did with this one already. That should at least fix the timeout.

[2018-09-24 13:02] Trott commented on #22336
@BridgeAR Whoops, and thanks!

[2018-09-24 13:18] Trott commented on #20628
Minor change to improve debugging when this happens: https://github.com/nodejs/node/pull/23058.

[2018-09-24 13:29] tniessen commented on #22815
Ping @YangYu000.

[2018-09-24 13:36] mscdex commented on #23049
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-09-24 13:36] #23049 closed

[2018-09-24 14:03] Pho3nixHun commented on #20596
I have a nasty bug on v8.9.4 where the 0 value on setTimeout or setImmediate causes the "thread" hanging there until the next cycle. I'm not sure how, what info with I can help to solve this bug.

[2018-09-24 14:11] Ginden commented on #22498
@jsmrcaga Why should it? Defining custom `.toJson` method to few objects doesn't require TC39 to participate.

Stringifing `net.Server` instances is almost always unintended. Making these instances return distinguishable output improve debugging and resolve issues with huge strings. Making them return empty object would resolve issues with huge strings, but it can be hard to debug.

[2018-09-24 16:17] Stanley-G commented on #4329
Windows 7 x64, Node-v8.12.0-x64: Disabled antivirus, but that did not help.
Disabled Performance counters, ETW, (see 4329 (comment)) and that fixed it! Thanks, but I wonder why this long-running issue continues to be present across 4 major releases?

[2018-09-24 17:00] tchakabam opened #23063 "docs: per class pages"
**Is your feature request related to a problem? Please describe.**

It would help to read the docs if there were per-class pages.

Also, imo the Node API docs lack following things:

* Generally, emphasis on readability and clearness
* Side-bar list view of class inheritance tree
* Side-bar list view of properties/methods/events in a module or class
* Emphasized list of possible values of string-e

[2018-09-24 17:04] tchakabam commented on #23063
Also, JSdoc is a nice example of a well structure API documentation view. One example of real world usage could be the Shaka project: https://shaka-player-demo.appspot.com/docs/api/index.html

I admit that the Node API is much vaster than this project. But then again, I don't see why that means your API docs shouldn't have a better layout actually.

[2018-09-24 17:49] refack commented on #22498
That is the Node.js way, fail on uncaught errors. Trying to serialise something that is unserializable is an error.
[code]

A solution could be to make `_response` non enumerable.

[2018-09-24 18:05] silverwind commented on #23055
There are cases where `stat` data is not required and `withFileTypes` allows for a significant performance increase for that case (I observe up to 300% performance gain using async `withFileTypes` over calling `readdir` and `stat` separately), so if `stat` data is added to `dirent`, it must be optional. I'm actually slightly in favor of having such an option because it's pretty common that one nee

[2018-09-24 18:44] rektide opened #23064 "QUIC support"
**Is your feature request related to a problem? Please describe.**
The web is gaining a new connection-less, enduring long term way of communicating, [quic](https://datatracker.ietf.org/wg/quic/documents/) & it would be great to be able to use this new communication technology in node.

**Describe the solution you'd like**
It would be excellent to see a quic module supported in Node.

**Describe a

[2018-09-24 18:59] ofrobots opened #23065 "Platform thread race: process.exit executed before background threads are ready"
Forked issue from https://github.com/nodejs/node/pull/22938#issuecomment-424084341.

This test case:

[code]

Intermittently crashes in the child process on windows when a small IO delay is introduced in the platform worker thread startup:

[code]

Crash:
[code]

The platform worker thread is trying to do IO while the main thread is already shutting things down in `exit`.

/cc @nodejs/platform-win

[2018-09-24 19:07] Trott opened #23066 "Investigate flaky test-gc-http-client-timeout"
https://ci.nodejs.org/job/node-test-commit-linux/21804/nodes=ubuntu1804-docker/console

<details>

[code]

</details>

[2018-09-24 19:08] Trott commented on #22336
Looks like test-gc-net-timeout is flaky enough to warrant it's on issue. Opening one...

[2018-09-24 19:10] Trott opened #23067 "Investigate flaky test-gc-net-timeout"
https://ci.nodejs.org/job/node-test-binary-arm/3570/RUN_SUBSET=2,label=pi2-docker/console

<details>

[code]

</details>

https://ci.nodejs.org/job/node-test-commit-aix/17970/nodes=aix61-ppc64/console

<details>

[code]

</details>

[2018-09-24 19:14] Trott commented on #23067
Wow, has this one taken off today... all sorts of platforms and everything...

https://ci.nodejs.org/job/node-test-commit-smartos/20450/nodes=smartos16-64/consoleFull

<directory>

[code]

</directory>

[2018-09-24 19:17] Trott opened #23068 "Investigate flaky test-http2-compat-serverresponse-end"
https://ci.nodejs.org/job/node-test-binary-windows/20236/COMPILED_BY=vs2017-x86,RUNNER=win2012r2,RUN_SUBSET=0/console

[code]

[2018-09-24 19:39] #22872 closed

[2018-09-24 20:15] vijayee commented on #23022
I suppose I'm looking to do  ECIES functionaliy

[2018-09-24 20:18] richardlau commented on #23063
cc @nodejs/documentation

[2018-09-24 20:33] mscdex commented on #23064
As far as I can see QUIC no longer has a current IETF draft, so I think it's a bit premature to be adding it to core at this time. Also, there are already some QUIC addons and pure js modules available on npm.

[2018-09-24 21:14] accimeesterlin commented on #15464
I did this:

[code]

and install the latest version of [vscode](https://code.visualstudio.com/Download)

and it works for me. I hope that helps.

[2018-09-24 21:33] tniessen commented on #23022
ECIES is a very abstract definition, I don't think OpenSSL supports it natively. ECIES consists of the key agreement function (KA), the key derivation function (KDF), a symmetric encryption algorithm (ENC) and often a message authentication code algorithm (MAC). Elliptic curve cryptography is commonly used as the KA. There are various possible combinations of KAs, KDFs, ENCs and MACs, and there ar

[2018-09-24 21:50] Flarna opened #23070 "Memory Leak in V8 CpuProfiler"
* **Version**: 8.12.0, 10.11.0, Master
* **Platform**: Windows, Linux
* **Subsystem**: V8

It seems there is a memory leak in V8 CPU Profiler. If have seen that RSS steadily increases but V8 heap stays constant. I did a fast heap profiling with MSVC and got following stack frames which seem to point to the leak:
[code]
Stopping profiling doesn't release the memory.
I did also a fast test with Node

[2018-09-24 22:54] addaleax commented on #23070
@nodejs/v8

[2018-09-24 23:52] no2chem opened #23071 "Feature request: Crypto APIs should optionally return bigints"
Now that bigint support is part of V8, the crypto APIs should be updated to optionally return bigints instead of buffers.

I've done a bit of testing with N-API and get significantly increased performance, something like 3-4x depending on the algorithm involved, even though I'm using OpenSSL just as Node is to do the hashing: https://github.com/no2chem/bigint-hash

It also seems that providing a o

[2018-09-25 00:39] ofrobots commented on #23065
Okay, it seems that Unix platforms are a lot faster in the time between `uv_thread_create` is called and the thread loop is actually called. On windows, the main thread calls `uv_thread_create` and proceed to execute `process.exit(1)` before the threads have actually started running. The threads do eventually start but crash because the process is in the middle of being teared down.

This happens

[2018-09-25 00:47] jasnell commented on #23065
I think you're right. Initializing the background threads should complete before progressing forward with any bootstrap or post-bootstrap execution of any code that may trigger a process.exit

[2018-09-25 00:49] ofrobots commented on #23070
I think this is most likely going to be fixed by https://github.com/nodejs/node/pull/21558.

[2018-09-25 00:59] joyeecheung commented on #22498
I am not a big fan of controlling behavior through environment variables or command line options but they seem to be good fits to resolve the error v.s. special output decision issue..

[2018-09-25 01:01] devsnek commented on #22498
@refack i'm saying that this shouldn't be an error case at all, not that we should implicitly be catching some error somewhere.

[2018-09-25 02:12] refack commented on #22498
@devsnek I get your POV, but _if_ the only three option are (1) keep this as this is (2) do something tricky (3) error. I prefer error, just because of the principal of least surprise.
That's why I hope we find another option.
AFICT any change is going to be semvar-major, that's why I'm in of non enumeration _ properties.

[2018-09-25 03:20] #22585 closed, assigned to nobody

[2018-09-25 05:16] #19564 closed

[2018-09-25 08:03] bengl commented on #23055
@coderaiser

It isn't just `readdir` + `stat`. It's actually quite a bit less than that in most cases, on most platforms.

The [`libuv` call that powers `readdir`](http://docs.libuv.org/en/v1.x/fs.html#c.uv_fs_scandir_next) only returns the type of files, not any other metadata. (See the [`libuv` documentation for that returned type](http://docs.libuv.org/en/v1.x/fs.html#c.uv_dirent_t).) There are

[2018-09-25 08:36] silenius commented on #22839
I'm closing this issue as it works on "officially supported" FreeBSD releases (> 10.3).. thanks for your help and sorry for the noise (:

[2018-09-25 08:36] #22839 closed

[2018-09-25 09:21] nikitospush commented on #19997
Just reinstall NodeJs from site https://nodejs.org/en/

[2018-09-25 09:29] psmarshall commented on #23070
Yep, if the issue is not present in 10.11.0 then #21558 should fix it - it essentially backports all the CPU profiler changes that happened between V8 in Node 8 & 10. We did a lot of work on memory consumption of the CPU profiler so overall consumption should be much lower as well as fixing this leak :+1:

[2018-09-25 09:54] Flarna commented on #23070
I can't reproduce the leak I see in 8.12.0 with 10.11.0. I still see some increase in memory consumption for 10.11.0 but by far less then with 8.12.0. I have to take a closer look first to find the cause - it could be something completely unrelated.

I tried also Node 10.9.0 today and expected behavior like in 8.12.0, but actually 10.9.0 doesn't seem to leak. The Node 10 backport PR has only 4 com

[2018-09-25 10:30] Flarna commented on #23070
Seems this is not correct. Stopping the profiler actually releases the memory but only if all profiling sessions are stopped. Usually we first start the next session before stopping the current one to avoid the overhead of shutting down and starting up profiler.

[2018-09-25 10:43] psmarshall commented on #23070
Yep those fixes were in V8 already so they didn't need to be backported. The CPU profiler will increase memory usage in general - we need to copy a bunch of data out of the heap so that it can be used off-thread to process the samples. We reduced the additional memory overhead caused by the CPU profiler by about 75% recently - that's what we are backporting to Node 8 and what you hopefully already

[2018-09-25 10:45] lpinca commented on #22857
cc: @nodejs/lts

[2018-09-25 10:49] Flarna commented on #23070
ok thanks. Should the extra memory consumption in CpuProfiler saturate at some point? In my current sample I see an increase of a few MBytes/hour.

[2018-09-25 11:04] psmarshall commented on #23070
I think the CPU profiler memory usage should be somewhat proportional to V8 heap size. We store metadata for each function/code object, so if the V8 heap is still growing then this metadata will grow too. Can you still see that increase with 10.11.0?

[2018-09-25 11:09] Flarna commented on #23070
Yes, I still see an increase with 10.11.0 but significant lower then with 8.12.0. I just started a test session with heap profiler attached to get more insight. Unfortunately my testsetup has several other dependencies so it will take a while to get concrete data.

[2018-09-25 11:19] jy95 opened #23079 "Feature request: an method for building assert tests with less code"
**Is your feature request related to a problem? Please describe.**
Make similar tests without writing X times the same instructions

**Describe the solution you'd like**
generic function(s) could improve at least readability / maintenance. For example , using a structure like this (first draft : surely there are things that must evolue ) :

[code]

Of couse, it is **completely** up to you to choos

[2018-09-25 11:39] BridgeAR commented on #23079
I don't think that this is actually the right direction. `assert` should be straight forward and simple to use. What you ask for looks more like a testing framework feature instead of a assertion library feature to me.

We could add a internal helper that looks something like:

[code]

It would require quite some internal magic to make this pattern work but it should be possible to return a error

[2018-09-25 12:56] gireeshpunathil commented on #8436
this is landed in node through #22997 , closing

[2018-09-25 13:16] gireeshpunathil commented on #19594
covered through #19554 and #19757 , closing

[2018-09-25 13:16] #19594 closed

[2018-09-25 13:19] vijayee commented on #23022
Thanks for your help I think I'm going to make some Crypto++ bindings instead

[2018-09-25 13:30] gireeshpunathil commented on #22681
no follow-up, closing

[2018-09-25 13:30] #22681 closed

[2018-09-25 13:32] getify commented on #20932
@gireeshpunathil can you link me to the doc change itself, or at least an updated version of the documentation?

[2018-09-25 13:32] gireeshpunathil commented on #21327
looks like this is not flaky anymore, closing

[2018-09-25 13:32] #21327 closed

[2018-09-25 13:42] cjihrig commented on #23043
Reopening until the next libuv update.

[2018-09-25 14:06] targos commented on #22710
backported in https://github.com/nodejs/node/pull/23039

[2018-09-25 14:06] #22710 closed

[2018-09-25 14:50] bnoordhuis commented on #22652
#23083

[2018-09-25 16:47] mscdex commented on #23079
I agree, this kind of feature is best left to userland modules.

[2018-09-25 17:17] ofrobots commented on #23065
@addaleax I doubt this will affect startup performance significantly anywhere. I can measure. I think this should be done on all platforms. We have only seen this manifest on windows so far, but there the race exists on all platforms. It would not be safe to give control to any bootstrap code while the background worker threads are still initializing.

[2018-09-25 17:17] ofrobots commented on #23065
While implementing a fix, I ran into a bug in libuv thread synchronization primitives on mac. This is currently blocked on https://github.com/libuv/libuv/pull/2003.

[2018-09-25 17:28] addaleax commented on #8436
@gireeshpunathil Do you have any idea about how one could write regression test in Node.js for this?

[2018-09-25 17:41] vijayee commented on #23022
https://github.com/bin-y/standard-ecies#readme this library seems to have it covered

[2018-09-25 17:41] #23022 closed

[2018-09-25 17:45] Avcajaraville commented on #18606
This is happening now to me all the time.

All Im getting as requests is
![captura de pantalla 2018-09-25 19 44 22](https://user-images.githubusercontent.com/2271201/46032263-69d9b600-c0fb-11e8-9fe3-ec9a550ad145.png)

Im with Chrome 69.0.3497.100 on MAC OS 10.13.6

This is very annoying and making node debugging a pain ... :(

[2018-09-25 18:31] joseph-jja commented on #22825
@richardlau ok, your comment with the red closed confused me :)

[2018-09-25 19:00] joyeecheung commented on #23067
Maybe @nodejs/async_hooks would have an idea since `onGC` is implemented with async hooks. I think these tests probably need better names/descriptions on top. If I understand correctly, timeout means the server are not closed by `if (countGC === todo) server.close()` in time, which means there is possibly a memory leak (not enough GC has happened). It's kind of hard to figure out the intention of

[2018-09-25 19:01] joyeecheung commented on #23067
If the tests keep failing without being fixed for a week, I think we should mark them as flaky.

[2018-09-25 19:12] #49444 closed

[2018-09-25 19:27] benjamingr commented on #20596
Well, a reproduction repo with an [MCVE](https://stackoverflow.com/help/mcve) we can run would be a great start. You can also go to the Node channel on IRC if you want synchronous help with making one.

[2018-09-25 19:45] Flarna commented on #23070
I let my app running for a few hours using 10.11.0 and memory consumption increased continuously. For some reason the rate increased after around 3.5h from around 10MByte/hour to ~20 MByte/h. In sum there are ~150MByte inside `ProfilerListener`.
VM heap size reported is 76MByte, 38MByte used (stable)

Callstack:
[code]

I did also a test to use the `CpuProfiler` in a different way which seems to a

[2018-09-25 19:46] Flarna commented on #23070
@nodejs/diagnostics fyi as CpuProfiler is intended to be a Tier 1 of diagnostics tools

[2018-09-25 19:50] bzoz commented on #22999
This is caused by https://github.com/nodejs/node/pull/21528

/cc @addaleax

[2018-09-25 20:32] addaleax commented on #23067
Fwiw, these tests have been around for a *long* time, they just weren’t enabled for most of it. I think most of the time it’s appropriate the team for the specific subsystem (e.g. nodejs/http for the HTTP GC tests).

Moving to sequential sounds okay but it isn’t really a `Fixes:` – the socket objects *should* be garbage collected no matter the workload, and them not doing so is either a real bug w

[2018-09-25 20:32] Trott commented on #22336
PR: https://github.com/nodejs/node/pull/23087

[2018-09-25 20:35] addaleax commented on #23067
I think one issue might be that `global.gc` is called in the test in a scope where there is at least one `req` object alive. I’m busy right now, but maybe this helps?

[code]

[2018-09-25 20:38] addaleax commented on #22999
That most likely means that the streams implementation for Windows does not clean up fully when `uv_close()` is used without an extra `uv_read_stop()` that precedes it.

We can revert #21528 without any issues, but the real issue is almost certainly a libuv one.

[2018-09-25 20:46] Trott opened #23089 "Investigate flaky test-gc-http-client-onerror"
https://ci.nodejs.org/job/node-test-commit-linux-containered/7325/nodes=ubuntu1604_sharedlibs_withoutintl_x64/console

<details>

[code]

</details>

[2018-09-25 20:50] Trott commented on #20750
This time it's on win10 and Azure.

https://ci.nodejs.org/job/node-test-binary-windows/20253/COMPILED_BY=vs2017,RUNNER=win10,RUN_SUBSET=2/console

[code]

[2018-09-25 20:52] MylesBorins commented on #22857
We don't currently have a timeline for the next 8.x release but it could be escalated if this problem is serious enough. We could potentially get a smaller release out in the next 2 - 3 unless this is deemed to be a severe bug, in which case we could escalate a hotfix

[2018-09-25 20:56] papandreou commented on #22857
2 - 3 days or weeks? :)

[2018-09-25 20:57] MylesBorins commented on #22857
sorry for missing a word

We generally do a 2 week r.c. process for new LTS releases, and we have not yet backported stuff. So unless this is deemed a severe bug which would escalate a release we wouldn't see a release for at least 2 - 3 weeks.

[2018-09-25 22:18] jy95 commented on #23079
That is just a discussion in the "less code is better" spirit (not always true I know).

Too much duplicated code are code smell : for example if I took a test file like [test-cli-eval.js](https://github.com/nodejs/node/blob/master/test/parallel/test-cli-eval.js) : the several usage of child.exec , block scope things , almost similar kind of test done inside,  etc

I took the example of assert bec

[2018-09-26 01:28] gireeshpunathil commented on #8436
@addaleax - sure, let me think about it, and if possible write one, and keep this opened till then so that I don't forget.

[2018-09-26 01:51] whtiehack commented on #22857
@MylesBorins

This problem is not a serious problem, just using the latest version of node, many libraries can not be used. For example [pomelo](https://github.com/NetEase/pomelo), [pinus](https://github.com/node-pinus/pinus) and [mitm](https://github.com/moll/node-mitm). Therefore, using these libraries requires a rollback of the node version.

---

This problem has been repeated many times befor

[2018-09-26 02:13] MylesBorins commented on #22857
@whtiehack we can add them to [CITGM](http://github.com/nodejs/citgm) so we don't hit this edge case again

[2018-09-26 04:18] TusharJadhav0612 opened #23096 "npm ERR! request to https://registry.npmjs.org/bootstrap failed, reason: getaddrinfo EAI_AGAIN registry.npmjs.org:443"
* **Version**: 9.8.0
* **Platform**: Windows 10
* **Subsystem**:

While trying to install bootstrap.js through command prompt run as administrator.
enter command as 'npm install -g yo' we are getting error as : 'npm ERR! request to https://registry.npmjs.org/bootstrap failed, reason: getaddrinfo EAI_AGAIN registry.npmjs.org:443'
please help..

[2018-09-26 04:42] mscdex commented on #23096
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-09-26 04:42] #23096 closed

[2018-09-26 04:57] lovinglyy opened #23097 "test-safe-get-env is flaky cause of non ASCII characters"
Version: 10.10.0
Platform: Windows 10

By checking all envs in `process.env` with `assert.strictEqual`, ASCII characters can make the test to get flaky results, as they will be "equal" but with different characters.

Example:
[code]

That is from `ChocolateyLastPathUpdate`, can be the env and it has non ASCII characters, by getting the date locally, but I guess that `ChocolateyLastPathUpdate` can

[2018-09-26 05:18] JulianSoto opened #23098 "child_process.exec command unexpected error"
I am trying to open a file on windows from my node.js application using `explorer.exe` as follow:
`>explorer C:\Path\to\File.extension`
so the system will open this file with its associated application.

Using the command line manually it works as expected, but with `child_process.exec` it is returning the following error:

    `Uncaught Error: Command failed: explorer "C:\Path\to\File.extension"

[2018-09-26 06:08] danbev commented on #23067
Sorry, I did not intend to close this.

[2018-09-26 07:00] fwolfst commented on #20896
... and put a link here for reference, as people will also end up here.
Anyway, I solved the (same, also most likely same hosting provider) problem by installing nodes via nvm, as e.g. described here: https://stackoverflow.com/a/33857377/1680728 .

[2018-09-26 07:58] #22699 closed

[2018-09-26 10:12] trungducng commented on #23098
why don't you using `child_process.execFile()`

[2018-09-26 10:55] filipef101 commented on #7652
Hey, what could be the equivalent for a python script? Sorry for reviving this

[2018-09-26 11:48] tiborsaas commented on #23026
Upon further investigation

`path.resolve(__dirname, '../../dist/render.html')`

does it the best :)

[2018-09-26 11:58] Trott opened #23103 "Investigate flaky parallel/test-http2-client-destroy"
https://ci.nodejs.org/job/node-test-binary-windows/20287/COMPILED_BY=vs2017-x86,RUNNER=win2012r2,RUN_SUBSET=2/console

Host: test-rackspace-win2012r2-x64-3

[code]

[2018-09-26 12:27] #23029 closed

[2018-09-26 14:42] norbertkeri commented on #11865
Why is this issue closed?

Is there a resolution? I have found two recommendations that do not require changing code (longjohn and trace), neither of them work, the rest (fiber, f-promises, erotic) all require you to modify your code.

[2018-09-26 14:51] fasterthanlime commented on #11865
For inactivity. @Trott mentioned wanting to know if people disagree (presumably to re-open it if that was the case?). I'm fairly sure a good number of people disagree :)

[2018-09-26 15:05] t638403 commented on #17495
Having the exact same problem on Ubuntu 18.04 and Node `8.11.2`

[2018-09-26 15:07] joyeecheung commented on #22317
This one is still alive

| Reason | <code>addons/stringbytes-external-exceed-max/test-stringbytes-external-exceed-max-by-1-binary</code> |
| - | :- |
| Type | JS_TEST_FAILURE |
| Failed PR | 2 (https://github.com/nodejs/node/pull/22880/, https://github.com/nodejs/node/pull/22731/) |
| Appeared | [test-digitalocean-freebsd11-x64-1](https://ci.nodejs.org/computer/test-digitalocean-freebsd11-x64-1/),

[2018-09-26 15:37] moberemk commented on #11865
A good number of people do disagree, but currently this issue seems to be thrown upstream to the V8 team/tc39. I've been following this for a while and there doesn't seem to be momentum on fixing this from the node side; if I'm wrong on that, it may be worth a core contributor stating that and limiting discussion to contributors only.

[2018-09-26 15:45] norbertkeri commented on #11865
@Trott please reopen.

I really hope a solution is found before async/await spreads, the internet is already full of "why async/await is so much better than promises", debugging errors that have no pointers where they are coming from is a special kind of hell.

[2018-09-26 15:51] hashseed commented on #11865
We are considering whether to natively offer long stack traces for async await. Nothing concrete right now though.

[2018-09-26 15:58] BridgeAR commented on #11865
There is currently nothing that can be done in Node.js itself to improve the situation. I don't think we should reopen the issue as long as that's the case.

[2018-09-26 16:03] bzoz commented on #22999
Ok, its a libuv bug. I have a fix, I will open a PR with a fix soon.

[2018-09-26 16:08] devsnek commented on #11865
@hashseed perhaps some discussion can go into https://github.com/tc39/proposal-error-stacks on this. an `Error.prototype.trace` which either represents the stack for sync or the conjoined stack/etc for async might be a positive direction.

[2018-09-26 16:10] vsemozhetbyt commented on #22554
@nodejs/fs if we want to fix this behavior in a semver-major way, we have just a week till v11 semver-major cut-off (October 2nd).

[2018-09-26 16:12] simonkcleung commented on #22603
No doubt using ```slice()``` is a bit slower at this moment, but it is much better in readabilty.
If you want to optimize multiple listerner cases, we could cache the cloned array.

[code]
may be changed to
[code]
And in ```_addListener()``` and ```removeListener()``` remove the copy ,  ```list.copy = null ```

[2018-09-26 16:39] ljharb commented on #11865
no new things would be added to Error.prototype for this; it'd have to go on something like System, alongside `getErrorStack` and friends. Please do open something for discussion on the repo, though.

[2018-09-26 16:45] GrosSacASac commented on #22603
As far as I understood the caching of the array is necessary so that when the event emitter emits, all the listeners are guaranteed to be called, even if the one unsubscribes another.

[2018-09-26 17:36] mscdex commented on #22603
I was referring to the suggested semi-persistent caching. Of course local, temporary caching is necessary for the reason you described.

[2018-09-26 17:49] cjihrig commented on #21773
Reopening until the next libuv update.

[2018-09-26 18:52] ORESoftware opened #23105 "INT/KILL should be recognized alongside SIGINT/SIGKILL"
I have effectively this code:

[code]

I get:

[code]

just a case of INT not being recognized, but SIGINT being recognized. Pretty certain INT should be fine? Same with KILL vs SIGKILL?

[2018-09-26 19:43] Trott commented on #23105
I guess whether `'INT'` and `'KILL'` should be acceptable depend on whether you think of `.kill()` as being analogous to [the C cal](http://man7.org/linux/man-pages/man2/kill.2.html)l or the [*NIX command line utility](http://man7.org/linux/man-pages/man1/kill.1.html).

If the C call, `'SIGINT'` maps to the `SIGINT` standard signal. There is no `INT` standard signal.

On the other hand, if you thi

[2018-09-26 20:16] ORESoftware commented on #23105
Good point, I was thinking more bash, but it should probably more C-like than bash-like? dunno

[2018-09-26 20:45] jy95 commented on #23079
It seems that introducing a few DRY advantages is complex for DAMP people XD

Edit : Too bad this kind of [smell-test workbook](https://github.com/testdouble/test-smells) is quite rare : It would be funny to see which one(s) the contributors of Node.js would list ^^

[2018-09-26 21:33] soulne4ny opened #23106 "Incomplete documentation require()"
Incomplete documentation at https://nodejs.org/dist/latest-v8.x/docs/api/modules.html#modules_require
_It states no use cases._

`require()` is widely used for reading `.json` files.
Is it safe to apply `require()` over `.json`? Are there any guarantees that `.json` file is allowed to contain single JSON object only? Are there any guarantees `require()`ing a `.json` file containing valid JS code w

[2018-09-26 21:40] mscdex commented on #23105
I would prefer sticking to the names used by the C API.

[2018-09-26 21:41] mscdex commented on #23106
The complete process for resolving modules describes what happens: https://nodejs.org/dist/latest-v8.x/docs/api/modules.html#modules_all_together

[2018-09-26 22:07] ORESoftware commented on #23105
@mscdex I got confused b/c I swear `k.kill('KILL')` works, but maybe C uses KILL and SIGKILL

[2018-09-26 22:38] Fishrock123 commented on #23106
As noted above, this behavior is specified. That being said, just "To require modules." is practically not even documentation. it should be expanded in some way regardless.

[2018-09-26 22:39] Fishrock123 commented on #23105
I think the present behavior should be ok.

[2018-09-26 22:41] Fishrock123 commented on #23064
I have never head of "QUIC". I think this should be indefinitely shelved until some potential future usage in applications or implementation as a web standard is at a very significant stage.

I suggest closing this as nothing may be actionable for years or perhaps ever.

[2018-09-26 22:43] Fishrock123 commented on #23033
This seems expected... if you tell what is essentially the Buffer encoding under the hood that some data is an encoding and then read in another encoding, it is not guaranteed to work, and it seems weird to make that guarantee.

[2018-09-26 22:44] Fishrock123 commented on #23033
I think there are user-land modules for doing autodetection, that might be the best path...

[2018-09-26 22:49] Fishrock123 commented on #22164
Closing this as it is supported and no further feedback was ever received. Please let us know in more detail if you have a problem.

[2018-09-26 22:49] #22164 closed

[2018-09-26 22:50] Fishrock123 commented on #22257
Ok so the current state of implementation is at https://github.com/nodejs/node/pull/22842 - it works, but it is pretty costly (performance-wise) to do.

[2018-09-26 22:56] devsnek commented on #22257
<sub>Also, if you're using setTimeout as a form of immediate as the OP is, browsers and node are working on shipping out a method called [`queueMicrotask`][] which better serves the task. It is currently available in safari tech preview and node nightly builds. (chrome and firefox have bugs open to implement it, so feel free to find those and comment to push them forward)</sub>

[`queueMicrotask`]

[2018-09-27 00:23] BobCochran opened #23111 "configure script in node-v10.11.0.tar.gz source tarball appears truncated"
* **Version**: 10.11.0 source code
* **Platform**: Unix (Ubuntu 18.04 LTS)
* **Subsystem**: /na

When compiling node-v10.11.0 from the source code tarball, the output of './configure --prefix=prefix returns silently. I get this:

/node-v10.11.0$ ./configure --prefix=$MY_NODE_PREFIX
$ [no output from ./configure]

in the 10.10.0 source code, the same command will result in console output giving con

[2018-09-27 00:55] richardlau commented on #23111
Coincidentally I had a coworker ask me about this yesterday.

https://github.com/nodejs/node/pull/22450 moved the bulk of the `configure` script to `configure.py` but also made it so that configure no longer outputs anything to the console (it still writes `config.gypi`) unless you pass `--verbose`. In my opinion suppressing _all_ output from `configure` was a mistake and it should at least indica

[2018-09-27 01:11] BobCochran commented on #23111
Traditionally ./configure on Unix/Linux platforms has always given output,
without need to give a --verbose option. Not having output from ./configure
made me think something had broken. It could make a lot of build scripts
out in the wild break too, since automated scripts might be expecting
console output, just as it always happens in *nix builds. The referenced
change is indeed a mistake, and s

[2018-09-27 01:17] refack commented on #23111
The #22450 change should have been semver-major, that one slipped through the cracks...
One convention I did make sure we followed is the exit code (which is still 0).

The Node.js `configure` script is not a classical automake configure, so deciding what to output will be arbitrary anyway. So while I'm working on an improvement, what output would be preferable?
1. ```
   creating icu_config.gypi

[2018-09-27 01:36] JulianSoto commented on #23098
execFile is showing the same error immediately after executing the command.

    Uncaught Error: Command failed: explorer C:\Path\to\FILE

    at ChildProcess.exithandler (child_process.js:303)
    at ChildProcess.emit (events.js:182)
    at maybeClose (internal/child_process.js:961)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:248)

[2018-09-27 01:40] BobCochran commented on #23111
I'm so accustomed to the output that I've had up to and including 10.10.0:

`~/node-v10.10.0$ ./configure --prefix=$MY_NODE_PREFIX
creating icu_config.gypi
* Using ICU in deps/icu-small
creating icu_config.gypi
{ 'target_defaults': { 'cflags': [],
                       'default_configuration': 'Release',
                       'defines': [],
                       'include_dirs': [],

[2018-09-27 02:50] richardlau commented on #14537
Is this likely to happen for v11 given the dates in https://github.com/nodejs/node/issues/22180?

[2018-09-27 06:28] davedoesdev opened #23116 "HTTP/2 POST loop fails with ENHANCE_YOUR_CALM after 40701 iterations"
* **Version**: v10.10.0
* **Platform**: Linux david-Latitude-E6440 4.15.0-34-generic #37-Ubuntu SMP Mon Aug 27 15:21:48 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: http2

Here's a simple server app which reads HTTP/2 POST request bodies to their end and then responds:

[code]

For this test, the cert and key are self-issued and my browser trusts them.

Here's a Web page which makes re

[2018-09-27 06:39] davedoesdev commented on #23116
The relevant code in nghttp is here: https://github.com/nodejs/node/blob/v10.10.0/deps/nghttp2/lib/nghttp2_session.c#L1211

[code]

I think this is going to cause a failure for any Node.js HTTP/2 app which processes many requests in the same session, due to tracking and limiting `current_nghttp2_memory_` in `node_http2.cc`.

[2018-09-27 06:41] lpinca commented on #23116
cc: @nodejs/http2

[2018-09-27 06:51] davedoesdev commented on #23116
Note in the conditional above, `!is_my_stream_id` is checking that the stream is an incoming request and `nghttp2_stream_in_dep_tree(stream)` is checking the stream is in the dependency tree.

I'm seeing both true in the logs. The requests are inserted as dependencies of the root, e.g.:

[code]

[2018-09-27 08:31] jasnell commented on #23116
This is specifically there to prevent denial of service attacks. It is possible to change the default maximum session memory limit using the `maxSessionMemory` option (https://nodejs.org/dist/latest-v10.x/docs/api/http2.html#http2_http2_createserver_options_onrequesthandler). Use of the `no_closed_streams` option is not ideal because it prevents nghttp2 from performing a number of security and sta

[2018-09-27 08:36] mcollina commented on #23116
To clarify, a single session would keep around all 232 bytes for every stream that was closed?

From the nghttp2 [docs](https://nghttp2.org/documentation/nghttp2_option_set_no_closed_streams.html), it seems `nghttp2_option_set_no_closed_streams` is only doing

[2018-09-27 08:41] jasnell commented on #23116
Ah, right, given that we're not really make use of priority, this likely can be switched off. Still, in this particular use case, I would still set a significantly higher `maxSessionMemory`.

[2018-09-27 08:51] psmarshall commented on #23070
_Is the overlapping approach correct/allowed/supported?_
This sounds OK to me. But it depends where the leak is coming from - possibly there is some conceptual issue with the design that causes this, or maybe just a mistake.

I'm trying to reproduce the leak with a small repro. Are you able to cut down the amount of actual server code you are running and still reproduce the issue? Any help you can

[2018-09-27 09:06] Pilot2204 opened #23119 "child_process spawn"
Hi,
I got a js-script and a python-script. I want the to communicate. The problem ist, that the `stdout.on(data...` method doesn't respond until the Script has finished and I don't know why.
### launcher.js:

const {spawn} = require('child_process')
var py = spawn('python', ['launched.py']),
    data = [1, 2, 3, 4, 5, 6, 7, 8, 9],
    dataString = '';

py.stdout.on('data', function (data) {
    co

[2018-09-27 09:58] bzoz commented on #22999
Fix in https://github.com/libuv/libuv/pull/2005

[2018-09-27 09:59] marcvangend commented on #19271
Update for anyone reading the comment above:
Node 8.12.0 was released on 2018-09-11 and ships with NPM 6.4.1. This means that Node 8.x LTS now *does* support `npm ci`.

[2018-09-27 10:42] bzoz commented on #23098
Can reproduce, spawning `explorer .` makes Node report an error, even though new Explorer window is opened.

[2018-09-27 11:15] targos commented on #22711
@BridgeAR Do you think the PR (or part of it) should be backported?

[2018-09-27 11:17] targos commented on #22708
@jasnell in https://github.com/nodejs/node/pull/22128#issuecomment-414145995 you said that the PR needs to be landed in 10.x.
Do you still think it's the case?
Do you plan to do it?

[2018-09-27 11:20] BridgeAR commented on #22711
I guess it would be nice, even though the loose mode is not used that much. I'll have a look into backporting a couple of things today.

[2018-09-27 11:49] targos commented on #22763
Thanks for the fixes @BridgeAR !

[2018-09-27 11:58] BridgeAR commented on #22763
@targos you are welcome but for me this is still work in progress. There are still a couple of cases that will not produce a nice diff. It is just not that trivial to solve. This applies especially to more complex nested objects. I am going to work on it either way but we could just this issue open as reference point.

[2018-09-27 12:02] targos commented on #22763
OK, I can reopen. Can you update the OP or post a message with an example that is still problematic?

[2018-09-27 12:16] jdx-john opened #23121 "Mac Installer doesn't install NPM"
I installed the default Mac installer.

![image](https://user-images.githubusercontent.com/1654627/46145083-dfa66480-c256-11e8-8152-8b8f89b9ec21.png)

NPM doesn't seem to exist even though there is an npm folder:

[code]

I previously tried installing to a different volume and found that after this, no npm folder existed but again, node was installed and ran from that path.

I'm not an experienced