[2018-10-30 17:59] addaleax commented on #23979
I’m not sure who to ping for this, but I’m sure @rubys or @vsemozhetbyt would know?

[2018-10-30 18:03] shobhitchittora commented on #23723
@rubys I went ahead wrote a script to get all the stability keys from the json mentioned.

| API | Stability |
| --- | --------- |
| assert |  (2) Stable |
| async_hooks |  (1) Experimental |
| buffer |  (2) Stable |
| cluster |  (2) Stable |
| console |  (2) Stable |
| crypto |  (2) Stable |
| dns |  (2) Stable |
| dns_promises_api |  (1) Experimental |
| Events |  (2) Stable |
| fs |  (2) Stable

[2018-10-30 18:29] richardlau commented on #23979
Not sure of the answer to all of the questions, but at least for:

I think we need to add to:
https://github.com/nodejs/node/blob/2cab511d956145579049a5183b5c05fd50fee412/tools/doc/html.js#L403-L416
and get it backported to all non-EOL release lines. I'll raise a PR.

[2018-10-30 18:33] refack commented on #23979
So AFAICT it depends on what was backported when...
I think since [v8.0.0 did not have HTTP/2 ](https://nodejs.org/docs/v8.0.0/api/) our inference logic fails.
Also we have the limitation that once a doc version was built it is static. ATM we don't have a way to update it of newer versions.

[2018-10-30 18:42] MTmace commented on #4329
I had this issue with version 10.13.0. Installing without performance counters did not work for me but installing without Event tracing (ETW) did.

[2018-10-30 19:08] asyncmax opened #23981 "`server.keepAliveTimeout` is not applied to sockets that are never used."
* **Version**: v8.11.4
* **Platform**: Windws 64-bit
* **Subsystem**: http & https

Currently, `server.keepAliveTimeout` is applied to a socket only after the first response is sent out by the server. If a client connects to the server but does not send any requests, the idle socket is kept open until `server.timeout` is reached (120 seconds by default).

My understanding is that `server.keepAlive

[2018-10-30 19:16] vsemozhetbyt commented on #23979
If we want this to work for backported docs, maybe we need to move this from doctools to some webpage dynamic script.

[2018-10-30 21:33] jmmobley commented on #23838
How is that no one from nodejs has weighed in on this issue. This is clearly a bug, and one that damages a person's development environment. Someone from Node should get on here and answer for this.

[2018-10-30 21:57] mhdawson commented on #23433
So my current preferences are 5 followed by 4

[2018-10-30 22:23] jasnell commented on #23838
Ping @nodejs/build @nodejs/platform-windows

[2018-10-30 22:33] mhdawson commented on #23849
+1

[2018-10-30 22:50] refack commented on #23838
Maybe to people at Microsoft can help with perspective on their end? @yodurr, @crutkas and @bitcrazed & @gep13

[2018-10-30 22:58] joaocgreis commented on #23838
@klick-barakgall the logs don't show anything that may be causing the reboots, only that installing Chocolatey and Boxstarter succeeded and it is probably rebooting installing our script. Can you see at what point the script reboots? What appears on the console, what is being installed? A picture or a video of your screen might help if you can't read it in time.

[2018-10-30 22:59] refack opened #23983 "flaky: parallel test-fs-readfile"
* **Version**: `master`
* **Platform**: `arm64`
* **Subsystem**: `fs`

https://ci.nodejs.org/job/node-test-commit-arm/19578/nodes=ubuntu1604-arm64/
[code]

[2018-10-30 23:09] joaocgreis commented on #23838
@klick-barakgall can you also upload the log from `C:\Users\YOUR_USERNAME\AppData\Local\Boxstarter`?

[2018-10-30 23:33] sam-github commented on #18770
@rvagg @shigeki At the request of @mhdawson I started to look at https://github.com/nodejs/node/issues/18770#issuecomment-420498724

There is one more TODO: rebase on master. When rebasing to master the addition of `min_/max_version` conflicts with https://github.com/nodejs/node/pull/23820  I'm working on this in https://github.com/sam-github/node/tree/WIP_upgrade_openssl111_tls12_only, it builds,

[2018-10-30 23:33] gtzinos commented on #19704
@aabfred hello, which is the correct way to pass the arguments ? as i checked when i pass the arguments before the filename, it works great.

[2018-10-30 23:54] refack commented on #23913
[`test.parallel/test-https-client-checkServerIdentity`](https://ci.nodejs.org/job/node-test-commit-arm/19581/nodes=ubuntu1604-arm64/testReport/junit/(root)/test/parallel_test_https_client_checkServerIdentity/)
[code]

[2018-10-30 23:54] refack commented on #23913
Ref: https://github.com/nodejs/node/issues/23241

[2018-10-30 23:54] refack commented on #23913
Ref: https://github.com/nodejs/node/issues/23422

[2018-10-30 23:55] refack commented on #23913
Ref: https://github.com/nodejs/node/issues/23261

[2018-10-30 23:55] refack commented on #23261
And https://github.com/nodejs/node/issues/23913

[2018-10-30 23:56] refack commented on #23913
ping @nodejs/platform-arm @nodejs/crypto

Any recommendation how to workaround this?

[2018-10-30 23:56] klick-barakgall commented on #23838
Apologies @joaocgreis this happened on installation on a work machine and it will probably be a while before I can start messing around with (jeopardizing) my NodeJS install and give myself enough time to recover from any potentially bad state. I'm sorry I just don't want to risk destabilizing my dev environment any further at this time.

That being said here is the next log you've requested:
[box

[2018-10-31 00:55] rvagg commented on #18770
Very nice @sam-github, I'll take a look as soon as I can. A bit busy this week but this is exciting stuff!
How did you go with solving the test-tls-server-verify / `SSL_CB_HANDSHAKE_START/DONE` thing? I was under the impression that this was a fairly fundamental problem.

[2018-10-31 01:54] shigeki commented on #18770
@sam-github Thanks for your work. I will take a look at it later.

@rvagg https://github.com/sam-github/node/commit/a1c64c7d50170e1a49dbcff149a11dbd41166e6b is the tentative fix for it but it does not solve the issues of TLS1.3 adoption.

[2018-10-31 02:15] tragetraje commented on #13635
Thank you @bunday, it solved the issue for me!

[2018-10-31 04:50] joaocgreis commented on #23838
For everyone having this issue, if the computer reboots more than 20 times please upload your log from `C:\Users\YOUR_USERNAME\AppData\Local\Boxstarter\boxstarter.log` and describe as well as possible what appears in the console before the reboot. Screenshots, photos or videos would be helpful. Please note that the script will always start from the beginning after a reboot, but it will notice prev

[2018-10-31 06:04] #23491 closed

[2018-10-31 06:51] volschin commented on #18770
Please don‘t forget to make the new curves accessible via crypto api.

[2018-10-31 07:52] fagerbua opened #23992 "`gpg: bad data signature` when verifying SHASUMS256.txt for v10.13.0"
* **v10.3.0**:
* **Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64**:

Having imported the keys as described at https://github.com/nodejs/node#release-keys, I get the following not-completely-reassuring output when verifying SHASUMS256.txt:

[code]

This seems to be the same problem as reported in [this question on the Unix StackExchange](http

[2018-10-31 09:19] noamso1 opened #23993 "i need a SYNC function to just HTTP GET some data"
something that will work like this:

var a = getPage('http://aaaa.com/aaa/aaa.htm?op=123');
console.log(a.length);

[2018-10-31 10:29] jfrohn commented on #13635
@bunday If you delete the package-lock.json everybody will make updates to the packages on their own. The goal of package-lock is to prevent this.
We solved the problem by manually removing the package(s) in question (which were locally build dependencies) from the package-lock.json and commit it.

[2018-10-31 10:32] bnoordhuis commented on #23913
If it only happens on arm64, it might be worthwhile to turn off assembly for a while on that architecture (`./configure --openssl-no-asm`) and see if the problem goes away.

[2018-10-31 10:42] bnoordhuis commented on #22761
That's mentioned in the `process.on(...)` documentation:

I'll close this out. It's working as expected and documented.

[2018-10-31 10:42] #22761 closed

[2018-10-31 11:18] AdamMajer commented on #23675
I run it in a normal chroot with /proc and /sys mounted, nothing else. The way I run it, is just as seen in my example - with a for () loop to execute many node processes in parallel to trigger this race. If I only run 100 parallel processes, then I stop seeing the problem. So you'll need to boost that number accordingly. 500 seems to work ok for 8 concurrent threads CPU.

It's very interesting, b

[2018-10-31 12:07] lolobug opened #23997 "fatal v8 error:Entering the V8 API without proper locking in place"
[code]

* **Version**:10.3.0
* **Platform**:android:
**Subsystem**:

V8 fatat handler message : **Entering the V8 API without proper locking in place (HandleScope::HandleScope)**
**This occurs by chance.**

I noticed ：

`uv_check_start(immediate_check_handle(), CheckImmediate);`

Actually I place all the operations of node in a single thread and use a V8::Locker.
Is it possible that the CheckImmed

[2018-10-31 13:16] joyeecheung commented on #23850
This has been open for a week so according to [the GOVERNANCE.md](https://github.com/nodejs/node/blob/master/GOVERNANCE.md#collaborator-nominations) the nomination has now been considered accepted. Marking it as tsc-agenda so that it gets announced at the TSC meeting.

[2018-10-31 13:17] joyeecheung commented on #23849
This has been open for a week so according to [the GOVERNANCE.md](https://github.com/nodejs/node/blob/master/GOVERNANCE.md#collaborator-nominations) the nomination has now been considered accepted. Marking it as tsc-agenda so that it gets announced at the TSC meeting.

[2018-10-31 13:38] thefourtheye commented on #23433
@mcollina @addaleax @mhdawson @TimothyGu I have updated the table in the OP based on your comments. PTAL and let me know if that is not what you actually meant.

[2018-10-31 13:52] refack commented on #23913
Done, https://github.com/nodejs/build/issues/1556.
I'll try to remember to report of outcome...

[2018-10-31 14:03] mhdawson commented on #23433
One question to add. Have we had any complaints/issues reported from end users?  Just want to better understand if this is being driven by complaints/problems being faced by our end  users or because we noticed it was inconsistent ourselves.

[2018-10-31 14:41] toddwong opened #23999 "napi_create_reference/napi_delete_reference seems causing crashing in a very special situation"
* **Version**: v10.13.0
* **Platform**: Windows 10 64bit
* **Subsystem**: Napi

The below code causes node crashing:
[code]
The addon code:
[code]
But if change the `initialize` function slightly:
[code]
it will work just fine.

Actually,  the bugy code was written very accidentally, and of course should be simplified to the good one anyway. I file this issue just wanna make sure there is no other

[2018-10-31 14:47] ferventcoder commented on #23838
Howdy folks - I filed a PR to make folks aware of the behavior upon installation - https://github.com/nodejs/node/pull/24000

[2018-10-31 15:03] targos commented on #23838
There is also https://github.com/nodejs/node/pull/23987 that adds a prompt.

[2018-10-31 15:04] yodurr commented on #23838
I've also seen a boxstarter script getting into a state where it seems stuck in a reboot loop.  My guess is this is what's happening: https://github.com/chocolatey/boxstarter/issues/193
I'll run the tests mentioned in that issue next time I encounter this.

[2018-10-31 15:12] shigeki commented on #18770
@sam-github I found that this has the AVX-512 errors in building on MacOS as follows. I will fix it so as to disable AVX-512 support on MacOS.

[code]

[2018-10-31 15:17] refack opened #24003 "docs: When using the "Edit on GitHub" button references to the guides are not obvious"
* **Version**: current
* **Platform**: web
* **Subsystem**: doc

When clicking the ![image](https://user-images.githubusercontent.com/96947/47798074-021c1980-dcfe-11e8-8698-3a2d93098172.png) button, the user is directed to the edit view in GitHub. There is no reference to the [Docs Style Guide](https://github.com/nodejs/node/blob/master/doc/STYLE_GUIDE.md), and when submitting the PR the referance

[2018-10-31 15:18] shigeki commented on #23913
I've never tested openssl asms of Node working on centos-arm64.

@refack  Can I log in the machine and testing build openssl-1.1.0 and node?

[2018-10-31 15:51] sam-github commented on #23981
By "long time" you mean 120 seconds, the `server.timeout`, or longer than that?

[2018-10-31 16:01] addaleax commented on #23992
/cc @nodejs/release @MylesBorins

[2018-10-31 16:10] ChALkeR commented on #23433
@thefourtheye I don't like the options (except for the "doc" and "remove support") variant, because those don't _warn_ about the change.

What I would prefer to see is a variant of (2/3) that also emits a warning when an fd with non-zero offset is used. Or a doc change.

[2018-10-31 16:23] addaleax commented on #23433
I’d be okay with option 5 as well (but still prefer 1).

The reasoning behind this is mostly that a) operations on fds always work, as a general rule, from its current position, and b) that special-casing non-seekable fds breaks the abstraction layer provided by the OS.

[2018-10-31 16:28] refack commented on #23838
@gep13 and @yodurr, thank you very much for chiming in.
@klick-barakgall and @alexfung888 thank you for following up with more information.
And of course thank you @joaocgreis for working on this!

And thank you to everybody else for reporting this, and in so helping the Node.js team resolve this, and make the Node.js experience on Windows better.

[2018-10-31 16:58] mcollina commented on #23433
Option 1 is also feasible for me.

[2018-10-31 16:58] asyncmax commented on #23981
Yes, 120 seconds, default value of `server.timeout` is applied.

[2018-10-31 17:21] sam-github commented on #23981
@mcollina has a change on the way that I think will address this for you. Its part of some other work, so it'll be a while before it is ready for a PR. I'll link to it when it is.

[2018-10-31 18:33] sam-github commented on #18770
@shigeki I worry that our branches will diverge. Can I push https://github.com/sam-github/node/tree/WIP_upgrade_openssl111_tls12_only to the nodejs/node repo, so we can both push fixups to it, and perhaps PR it so comment is more possible? If you would prefer I PR your branch, or anything else, I am happy to do as you suggest.

As for `tls: add min/max_version and their defaults`, I reworked it sl

[2018-10-31 19:04] sagitsofan commented on #23979
It is possible, but i am not sure it is worth all the hard work for that small feature.
Maybe just fix it manually in the backported docs?

[2018-10-31 19:06] sam-github commented on #18770
@shigeki re:

I get 100% test pass on linux. Is the failure ephemeral, or was this the failure fixed by `tls: workaround handshakedone in renegotiation`?

[2018-10-31 19:11] Trott commented on #23993
Hi! This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like this one, please file an issue on our help
repo. https://github.com/nodejs/help

Thanks!

[2018-10-31 19:11] MylesBorins commented on #23992
This is not expected. I can verify that I did indeed sign that file. Will dig in right now to find out what went wrong with the signature itself

[2018-10-31 19:27] Trott opened #24005 "investigate flaky parallel/test-worker-cleanup-handles"
https://ci.nodejs.org/job/node-test-binary-windows/21154/COMPILED_BY=vs2017,RUNNER=win2008r2-vs2017,RUN_SUBSET=1/console on test-rackspace-win2008r2-x64-4

[code]

[2018-10-31 19:33] Trott commented on #24003
Since the idea of that button is to have as little friction as possible for people doing small-but-valid fixes right when they notice them while reading the docs, I'd be OK with just a blanket relaxation on nit requests etc. for these kinds of PRs. We don't get many of these PRs (although I'd love to see more) and as long as the people who usually handle documentation stuff (@nodejs/documentation

[2018-10-31 19:35] Trott commented on #24003
(All that said, I'm totally open to improving the experience. A link to the Style Guide is probably a good idea, if we can implement in a way that won't cause more problems than it solves. Also: We should clean up the Style Guide....)

[2018-10-31 19:48] benjie commented on #19218
I can reproduce this too, the `child.stdout._handle.setBlocking(true)` workaround doesn't work for me.

[code]

[code]

Is there another workaround at the moment?

[2018-10-31 20:03] MylesBorins commented on #23992
I've revoked an old subkey that was used for encryption that appears to have be improperly signed. That fixes that error `bad data signature from key DEA16371974031A5: Wrong key usage (0x19, 0x2)`... you should be able to refresh my public key and get that fixed. Digging into the not certified bit

[2018-10-31 20:08] MylesBorins commented on #23992
I've now updated the trust to my subkeys as absolute and ensured that everything is cross-certified. You will no longer see the bad signature error (that was an artifact unrelated to the signature), but you will continue to see the trust warning unless you trust someone within my network of trust.

[2018-10-31 20:14] noamso1 commented on #23993
ok thanks sorry

On Wed, Oct 31, 2018, 21:25 Rich Trott <notifications@github.com wrote:

[2018-10-31 20:16] MylesBorins commented on #21188
this is showing up again in https://github.com/nodejs/node/pull/23774

have no clue why it is not showing up as flaky

[2018-10-31 20:40] sam-github commented on #19218
Remove the `process.exit()` and let node exit when its flushed it's I/O.

[2018-10-31 21:06] vsemozhetbyt opened #24007 "meta: issue transfer"
Can we utilize this new GitHub feature to transfer `wrong repo` issues? It seems, only admins can do this. Would it be too burdensome to ping them each time?

https://blog.github.com/changelog/2018-10-30-issue-transfer/
https://help.github.com/articles/transferring-an-issue-to-another-repository/

[2018-10-31 21:07] Jimbly commented on #23716
I didn't hear anything back, so investigated Node-level fixes more.  Adding a freeParser callback to sockets proved problematic, because it can't just be added to the prototype lest we just move the require() of _http_common into net.js instead (even worse).  Simplest approach seemed to be to change internal/child_process to lazy-require the http stack when needed, and there was some precedence fo

[2018-10-31 21:16] sam-github commented on #18770
@volschin Is there anything special to do? How do I check that what curves are available? I tried this:

[code]

[2018-10-31 21:56] mhdawson commented on #20642
@sgallagher this was fixed in 10.12.0.  Can you validate and then close this issue if you agree?

[2018-10-31 22:32] volschin commented on #18770
@sam-github I‘m not sure, whats working automatically.
getcurves should show up with X25519 and X448. Both curves should be usable inside ECDH class e.g. the Alice and Bob example from the docs.
The complete test changes for X448 in openssl you can see here
https://github.com/rhuijben/openssl/commit/fe93b010e78ab60bc222cf4cbbf3cdfcbecffd91

[2018-10-31 22:41] davidben commented on #18770
Note the ECDH class has some features (compressed vs uncompressed coordinates) that do not make sense for X25519 and X448. OpenSSL does not route the new-style curves (which have built-in serializations are specified in terms of byte strings at the public interface) through the old EC API for this reason. Most existing EC APIs provide a slightly incompatible interface, so it usually makes sense to

[2018-10-31 23:35] refack commented on #24003
Since we now have a single file linter (https://github.com/nodejs/node/blob/master/tools/lint-md.js) if we could just find a way to reference it, that might be very helpfull. IMO it gives very clear output.
Maybe we could "bot" it, have it run on the proposed changes set and give automatic feedback... Something along the lines of https://github.com/nodejs/build/issues/1554...

[2018-11-01 00:32] arcanis opened #24008 "existsSync is expensive"
* **Version**: master
* **Platform**: n/a
* **Subsystem**: fs

The current implementation of `fs.existsSync` involves wrapping `accessSync` in a try/catch statement. While conceptually simple, it has one fundamental flaw: it means that Node has to instance an `Error` for each call to `fs.existsSync` made on non-existing paths. This can end up very expensive.

Would it be possible to make this func

[2018-11-01 00:35] arcanis commented on #24008
On a related note, I wonder if Node should have a `tryStat` function that would simply return `null` when an error happens (to also avoid creating this Error object).

[2018-11-01 02:28] #23906 closed

[2018-11-01 02:55] trivikr opened #24009 "gitignore files and folders created while running coverage for Node.js core"
* **Version**: current
* **Platform**: all
* **Subsystem**: build

This suggestion came up in PR #23991 which tried to ignore files created while running coverage.

Suggestion from @refack in https://github.com/nodejs/node/pull/23991#issuecomment-434697968

If these files and folders are added to gitignore, devs won't mistakenly git add and commit them.

[2018-11-01 02:57] trivikr commented on #24009
<details>
  <summary>output of git status after running coverage</summary>

[code]
</details>

[2018-11-01 02:58] jcormont commented on #23921
I am reopening this because until now there is no release and it looks like a really critical issue to me. Having an open issue on this will help others figure out what is happening. There was talk of fast-tracking a patch to be released in a day but that hasn't happened.

[2018-11-01 04:48] joaocgreis commented on #23999
cc @nodejs/n-api

[2018-11-01 05:57] xgqfrms opened #24013 "new version node bug?"
# new version node bug?

[code]

[2018-11-01 05:58] xgqfrms commented on #24013
package.json

[code]

[2018-11-01 06:10] xgqfrms commented on #24013
https://github.com/nodejs/node/issues/24013

# Q

![image](https://user-images.githubusercontent.com/7291672/47835335-7a5a0c00-ddde-11e8-8c86-722856c5d7e7.png)

# A

![image](https://user-images.githubusercontent.com/7291672/47835346-8940be80-ddde-11e8-9256-4c1948df5359.png)

[code]

# OK

![image](https://user-images.githubusercontent.com/7291672/47835411-e0df2a00-ddde-11e8-802f-cd2ce5c07db0.png)

[2018-11-01 06:10] #24013 closed

[2018-11-01 07:43] fagerbua commented on #23992
Thanks for looking into this and confirming that the signature is valid!

For what it's worth, I still get the 'bad data signature' error (exactly the same as in my original report) after running `gpg --keyserver pool.sks-keyservers.net --refresh-keys`. Is there anything else I need to do?

[2018-11-01 09:45] joyeecheung commented on #24008
This was added in https://github.com/nodejs/node/commit/d3955d15ff5c68acf91f35177d290ff068068a05 from a glance I think it should be alright to call the binding and handle it directly instead of using the public `fs.accessSync`

[2018-11-01 10:37] mcollina commented on #23981
I don't think my change will cover this.

[2018-11-01 11:40] sgallagher commented on #20642
@mhdawson I've got it on my plate to build 10.13.0 and 11.0.0 for Fedora today or tomorrow; I'll make sure to validate this when I do. I didn't realize it was in 10.12.0 or I'd have dropped my workaround then.

[2018-11-01 13:32] cjihrig commented on #23433
I'm OK with option 5 or 1.

[2018-11-01 13:34] mscdex commented on #24007
As I understand it, the person moving the issue has to be admin in both repos. From what I typically see, the other repo is outside of the nodejs org even (e.g. npm, third-party modules), so the likelyhood of a nodejs org admin also being the admin for that second repo is going to be near zero.

[2018-11-01 13:49] slonka opened #24016 "Profiling using --prof inside worker_threads does not work"
* **Version**: 11.0.0
* **Platform**: macos
* **Subsystem**: worker_threads

Generating flame graphs with worker_thread produces isolate files that do not contain useful information.

Using my example repo https://github.com/slonka/nodejs-prof-worker-threads-not-working i generated the following flame graphs for:

Single threaded version:
![image](https://user-images.githubusercontent.com/2753650/

[2018-11-01 13:54] Trott commented on #23621
https://ci.nodejs.org/job/node-test-binary-windows/21174/COMPILED_BY=vs2017-x86,RUNNER=win2012r2,RUN_SUBSET=1/console on test-azure_msft-win2012r2-x64-2

[code]

[2018-11-01 13:54] Trott commented on #23621
@nodejs/platform-windows

[2018-11-01 14:18] vsemozhetbyt commented on #24007
I mostly meant `nodejs/help`, it seems this was near 50% of the `wromg repo` cases so far.

[2018-11-01 14:30] sam-github commented on #23981
OK, I'll take a look at it.

[2018-11-01 14:40] sam-github commented on #23981
@asyncmax Btw, have you considered doing `server.timeout = server.keepAliveTimeout`? That would seem to work for you. We might end up with a timeout after initial connection, a timeout for the headers, a timeout for the body, and a timeout for in between requests (aka keep alive), but for now I think you can use the idle timeout to get these unused connections closed more quickly.

[2018-11-01 14:44] refack commented on #24009
I'll look into this...
If anyone has advice that could help (or even ping me in a week), that would be much appreciated.

[2018-11-01 14:47] BridgeAR opened #24017 "Deprecating _third_party_main"
I stumbled upon some very old code in the loader with the following code comment:

[code]

So instead of the regular loader it is going to load the new file. However, that is only the case if that file is also added to node.gyp. This "feature" has never been documented and seems to be used very rarely when searching for it with google. I am not really sure if the best way to deal with this is to d

[2018-11-01 14:47] CarlRosell opened #24018 "10.13.0 is not available on dockerhub"
Just tried to update our docker images to use node 10.13.0 as this is the new LTS, but it fails and said it could not find that version. So I looked manually and I can't seem to find it either.
<img width="710" alt="screen shot 2018-11-01 at 15 47 03" src="https://user-images.githubusercontent.com/2036823/47858941-6c5fb780-dded-11e8-9c82-d81961aeb2f0.png">

[2018-11-01 15:09] addaleax commented on #24017
I was talking about this with @rubys at JSI – They were looking into splitting the bootstrap function into two parts as a better way for addressing the embedder use case here (the parts are a) basically everything that happens before `_third_party_main`, i.e. setup code and b) everything after it, i.e. starting userland scripts).

If embedders are given the option of only executing bootstrap code

[2018-11-01 15:28] joyeecheung commented on #23433
I am learning towards option 1

[2018-11-01 15:32] cyberalien opened #24020 "JSON.parse crashes silently"
* **Version**: v11.0.0
* **Platform**: Linux vultr.guest 3.10.0-862.14.4.el7.x86_64 #1 SMP Wed Sep 26 15:12:11 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

[code]

File that is being parsed: https://github.com/iconify-design/collections-json/blob/master/json/noto.json

Output log:

[code]
Process crashes without notice. Try...catch block is useless, app just stops at JSON.parse line.

[2018-11-01 16:09] sam-github commented on #24020
Cannot reproduce, are you sure you have enough memory?

[code]

[2018-11-01 16:16] michaelvdnet commented on #24020
Sounds like a memory problem indeed.
Could you check the OOM Killer logs?
I've never used CentOS, but [this stackoverflow thread](https://stackoverflow.com/questions/624857/finding-which-process-was-killed-by-linux-oom-killer) should help you out.

[2018-11-01 16:18] croraf commented on #22761
Sorry. This is just the last part of the discussion. The original issue still remains and this should be reopened.

[2018-11-01 16:38] cyberalien commented on #24020
Looks like some garbage collection shenanigans. When running node with --expose-gc and using global.gc() before parsing each file, memory usage never goes above 50% and it stopped crashing.

[2018-11-01 16:38] prog1dev commented on #21104
I did i bit of research on `TCP_QUICKACK` option and it looks like this flag is not permanent and resets every time you send or receive data.
In other words this option needs to be set with `setsockopt()` after each operation of TCP on a given socket.

Refs
https://stackoverflow.com/a/1615591/4950680
https://access.redhat.com/solutions/407743
https://linux.die.net/man/7/tcp

[2018-11-01 17:00] shigeki commented on #18770
@sam-github

Okay, I do not have a preference. You can move it to nodejs/node. The only thing I'm fearing is for me to push my working branch to origin master by mistake. I would like to work it on my repo until all CI are green. Then I can push all my fixes to your branch.

I've got it. Thanks for taking care of it.

I missed to know it is exported.  It needs to be fixed not to be semver-major.

[2018-11-01 17:07] sgallagher commented on #20642
@mhdawson Looks like it's still an issue, I'm afraid.

[code]

[2018-11-01 17:08] sgallagher commented on #20642
Full logs for the above can be found at https://koji.fedoraproject.org/koji/taskinfo?taskID=30596168

[2018-11-01 18:29] asyncmax commented on #23981
If we are looking for a workaround, we will be able to come up with some clever ways. Your suggestion can be certainly one of them (default timeout value of 5 seconds for `server.keepAliveTimeout` seems too tight for active sockets though).

The following snippet is how I workaround this problem for now.

[code]

However, I reported this issue because I thought this should be addressed in the Node

[2018-11-01 18:59] ORESoftware opened #24022 "native ability to strip comments in JSON"
This might get vetoed, but I have a case where I can't really easily load node_modules, but I have JSON files to load, and those .json files have comments in them.

So I am looking for a way to load those files and strip the comments:

[code]

I don't think most people want to put this in core, but I am not sure what to do in my case since I can't easily load node_modules deps.

[2018-11-01 19:08] mscdex commented on #24022
I think this is best left to userland, I can see requests for other things that are illegal in JSON and I don't think that's a rabbit hole we should go down.

If you need to remove non-JSON syntax, use a JS parser to remove those parts and re-render the resulting value. Then you can just `JSON.parse()` the result.

[2018-11-01 19:13] ORESoftware commented on #24022
https://json5.org/

well the new spec for JSON might encourage it to be native, idk?

[2018-11-01 19:14] devsnek commented on #24022
technically those aren't json anymore 😉

i'm agreed with @mscdex here. you can implement this quite easily in userland (i bet stuff like this is already on npm).

i think most people here would disagree that this is a mistake. node's ability to load multiple file types plays very nicely with extension resolution such that you don't need to know what kind of file something is to use it, you just re

[2018-11-01 19:17] ORESoftware commented on #24022
@devsnek well what I am saying is that I assume JSON.parse() will conform to the JSON5 spec if that goes through?  and then require() would using JSON5.parse() or whatever?

[2018-11-01 19:18] devsnek commented on #24022
@ORESoftware JavaScript's `JSON` global isn't ever going to use JSON5.

[2018-11-01 19:19] ORESoftware commented on #24022
@devsnek Ryan admits that it was a mistake, not a horrible one though. If you want to load different file types, you would just specify the full path instead of the incomplete path. Why wouldn't the JSON global implement JSON5? just curious

[2018-11-01 19:20] jasnell commented on #24022
Node.js does not actually implement the JSON support ourselves. We depend on V8's implementation.

[2018-11-01 19:20] devsnek commented on #24022
@ORESoftware because it already implements JSON. JSON5 isn't a new version of JSON (JSON - on purpose - only has one version), its a project made by some people which is inspired by JSON.

[2018-11-01 19:22] T94T opened #24024 "Very slow startup of node on raspberry (buildroot)"
I just compiled a master branch buildroot image for my raspberry.

- When starting up `node`, it takes 12s to run a simple js file (content: `console.log("123");`)
- `node -v` shows up immediately.
- Just calling `node` itself takes also 12s.

* **Version**: v8.11.4 and v8.12.0
* **Platform**: buildroot on RPi 0 W

I also made a `perf record -e cpu-clock -gi node --perf_basic_prof index.js` contai

[2018-11-01 19:22] MylesBorins commented on #23992
perhaps try deleting my key from your keychain and reimporting?

[2018-11-01 19:28] sam-github commented on #18770
@shigeki Is it possible linuxone/s390 didn't have assembly files generated for it?

Since you prefer to work in your own branch and integrate later, I will wait before pushing to nodejs/node or PRing.

Wrt. the semver-major, I'll move the min/max into the options object, push to my branch, and ping you here for your review.

[2018-11-01 19:31] eranif opened #24025 "Please document the current debugging protocol between an IDE and Node.js (`--inspect`)"
**Is your feature request related to a problem? Please describe.**
Yes. My name is Eran and I am the author of CodeLite IDE. Up until version ~7 we had a working Node.js debugger using the old API. Since the version 8.X (I think) the API was deprecated and it is recommended to use the new DevTools protocol :/

HOWEVER, for the love of god, I searched the web for 2 days and could not find an exampl

[2018-11-01 20:02] richardlau commented on #24018
I believe this is in progress: https://github.com/docker-library/official-images/pull/4986

[2018-11-01 20:09] addaleax commented on #24025
How close comes https://chromedevtools.github.io/devtools-protocol/ to what you are looking for? It sounds like you’re interested more in the underlying message format for transport than the protocol itself? (I think the answer in that case would be pretty close to “WebSocket messages”, but I’m not sure.)

[2018-11-01 20:19] eranif commented on #24025
Close to none?
I understood that its using WebSocket, I was able to connect over the `ws://...` URL, however, I don't get any feedback from Node.js, no errors, maybe I am sending wrong messages?
There is not a single document I could find that will explain how to communicate with NodeJS. No log? No stderr messages?

[2018-11-01 20:35] sam-github commented on #18770
@shigeki PTAL https://github.com/sam-github/node/commit/781d578dd08174c9f5b4e7c2955900a5227ac907, I moved new args to the end of the arg list, it should be backwards compatible like that.

[2018-11-01 20:51] nullivex commented on #23838
@Dregdael First, no you did not mess up your computer. What need to be done is when you see the command box pop up after rebooting and start executing code, close it before another reboot occurs. After that, open the Start Menu and type "Startup" you will see an entry called "Startup Tasks" open that program. Once open you will see boxstarter.bat file listed. Disable and remove that entry from sta

[2018-11-01 21:11] Dregdael commented on #23838
@nullivex Ok, thank you, I disabled the .bat and went to the folder and deleted it, but what do you mean remove normal operation? I'd like to just get rid of the boxstarter and chocolatey stuff, do I install in program files?

[2018-11-01 21:15] nullivex commented on #23838
@Dregdael Sorry about the typo, I edited my original I meant to say "Now you should be able to RESUME normal operation."

According to a couple users here it may have disabled your UAC that needs turned back on. Also there is a report that it disables Windows Update that is another setting that needs reverted.

I am a little offset by how little priority is being given to this issue. Seems like th

[2018-11-01 21:29] Dregdael commented on #23838
@nullivex Oh ok, thank you, I got confused since I'm not a native english speaker but I get it now

Also yes, I do believe this sort of stuff should be sorted out before being released.

I do have another issue though, there's the fact that windows update doesn't actually seem to revert back to automatically downloading updates, I'll check if there's any way to get rid of everything that was insta

[2018-11-01 21:55] bnoordhuis commented on #24025
You can look at https://github.com/nodejs/node-inspect for a simple working debug client.

https://github.com/nodejs/node/blob/98819dfa5853d7c8355d70aa1aa7783677c391e5/deps/v8/src/inspector/js_protocol.json describes the protocol.

[2018-11-01 22:47] empyrical commented on #23265
I think that the shared library stuff is worth an issue of its own, imo! sadly some questions i had about what the n-api could look like got buried by this talk.

[2018-11-01 22:59] empyrical opened #24028 "Discussion: How should the Node executable + Node shared library be distributed?"
One thing that came up in [this issue](https://github.com/nodejs/node/issues/23265) was, if the default Node distributions were to ship with a shared build, how should it be structured?

Basically boils down to:

 * Should the `node` executable just be a small binary that links against `libnode` OR
 * Should the distribution ship with a statically linked `node` executable with no shared dependenci

[2018-11-01 23:51] Trott commented on #16712
@sholladay If I'm not mistaken, the first example now works as expected in Node.js 10 and 11. Is that sufficient to close this issue?

[2018-11-02 01:46] sholladay commented on #16712
@Trott I'm not able to get either to work as expected on Node 11 (haven't tried 10). The first example still seems to listen on any address instead of `localhost`. Here's the result of my test in the REPL on Node 11.0.0:

[code]
And for the other example:

[code]

The behavior of that first example is unsafe. It could lead to people exposing their servers publicly without intending to.

[2018-11-02 02:31] Trott commented on #23621
https://ci.nodejs.org/job/node-test-binary-windows/21193/COMPILED_BY=vs2017-x86,RUNNER=win2012r2,RUN_SUBSET=1/console on test-azure_msft-win2012r2-x64-2

[code]

[2018-11-02 02:32] Trott commented on #23621
@nodejs/build This seems to perhaps be Azure-only failure?

[2018-11-02 02:40] Trott commented on #23445
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-11-02 02:40] #23445 closed

[2018-11-02 02:45] #20749 closed

[2018-11-02 02:57] apapirovski commented on #6045
I'm going to close this out since there's basically no movement here and I can't really parse the conversation very well. If someone still feels strongly about this, do feel free to reopen but it would be good to have more information so that this conversation can move forward.

[2018-11-02 02:57] #6045 closed

[2018-11-02 03:01] apapirovski commented on #9314
There's no movement on this, there's no conclusion this is desired and there's no real movement. I think this should be closed unless someone can put some momentum behind it.

[2018-11-02 03:01] #9314 closed

[2018-11-02 03:10] daeteck commented on #23792
I found where's the issue in my code, but I don't know if what it's happening is an intended behavior. Perhaps this is not even a bug...

In my code in some point I was changing the **request.url** property of the **request**.

So, when I change this property the **:path** value of the request header is changed but not the **rawHeader**.

Here is a small example (if this example is not enough I'm

[2018-11-02 03:32] Trott commented on #23277
https://ci.nodejs.org/job/node-test-commit-arm/19636/nodes=ubuntu1604-arm64/console

[code]

[2018-11-02 03:34] apapirovski commented on #17155
I'm going to close this out given the lack of updates in about a year. I don't see this going anywhere given that 6.x is EOL relatively soon.

[2018-11-02 03:34] #17155 closed

[2018-11-02 03:35] apapirovski commented on #16987
I'm going to close this out given that the related PR was closed as non-actionable.

[2018-11-02 03:35] #16987 closed

[2018-11-02 03:40] apapirovski commented on #18363
I'm going to close this given the lack of movement. It's possible this isn't actually needed?

[2018-11-02 03:40] #18363 closed

[2018-11-02 03:42] apapirovski commented on #18188
I think we should close this out given the lack of movement and the reply from @devsnek. If you still want to see this, do feel free to reopen but it would be nice if either additional info was provided or some other form of movement (a PR?).

[2018-11-02 03:42] #18188 closed

[2018-11-02 03:47] apapirovski commented on #19032
@joyeecheung would you still like to follow up on this?

[2018-11-02 03:51] alamantia commented on #23838
I'd like this feature removed from the installer, it's a terrible idea and the implications are not clearly communicated at all in the installer

[2018-11-02 03:59] joaocgreis commented on #23838
@alexfung888 thanks for uploading your log file, it does indeed show a reboot loop. It looks like Boxstarter always detects that a reboot is pending, even when it has just rebooted. Can you run this command:
[code]
and paste the output here? This might be related to antivirus. Your log file does not show Python or VS getting installed, it's strange that you found them as installed. As a note, `vct

[2018-11-02 04:45] Dregdael commented on #23838
[boxstarter.log](https://github.com/nodejs/node/files/2541026/boxstarter.log)

I mean, it started to reboot and since I have a disk partition I had to manually select the windows start each time so when i saw on the console that a bunch of stuff seemed the same I panicked, now that I think about it  I'm not sure I was actually stuck on a loop, I might have fallen prey to panic and actually gotten

[2018-11-02 05:09] joaocgreis commented on #23838
@Dregdael you cancelled the installation while Visual Studio was installing the Visual C++ workload. It probably kept running in the background (because it's the Visual Studio installer), so you might just have everything installed. You can check if it is by opening the Visual Studio Installer and checking if the Visual C++ workload is installed in the Build Tools.

[2018-11-02 05:09] alexfung888 commented on #23838
@joaocgreis

Thanks.
The reg query output:
[pending.txt](https://github.com/nodejs/node/files/2541136/pending.txt)

I'm not sure I understand what I'm doing. With Modify in VS Installer, I can see Visual C++ Build Tools listed under the Workloads tab. I guess it means it is installed correctly.

May be they are installed afterwards, because I have also tried to do a
```yarn global add windows-buil

[2018-11-02 05:34] joaocgreis commented on #23838
@alexfung888 thanks for the log files, indeed I see Avast there but I'll have to investigate more. In your case, since you have the Visual C++ workload, you should have everything you need installed.

@Dregdael you can check it and install it from there. That's exactly what the last package does. If you do that, you should get everything you need installed.

[2018-11-02 05:45] Dregdael commented on #23838
@joaocgreis

OK, thank you very much for your help

[2018-11-02 05:49] alexfung888 commented on #23838
@joaocgreis Avast? I don't have avast installed or running. I don't know how come an AVAST folder is sitting there or why Windows want to rename it.

[2018-11-02 08:16] shigeki commented on #18770
@sam-github

This can be fixed by https://github.com/shigeki/node/commit/940ed53a10fec029b1f9ee3cfe7fcccaf1fbe292.

The MacOS and WIndows build failures can be resolved by https://github.com/shigeki/node/commit/1d03dd128ea1662c8997edf86e32d73f115b7179. CI of https://ci.nodejs.org/job/node-test-commit/22834/ still shows issues on pLinux and SmartOS. I will ask for accessing the hosts.

 sam-github@

[2018-11-02 09:02] joyeecheung commented on #19032
@apapirovski Probably not going to need it now that 6.x is near end of life.

[2018-11-02 09:02] #19032 closed

[2018-11-02 09:41] cyberalien commented on #24020
After doing more tests, its not JSON.parse issue, but memory issue.

I have tried stream solutions that load large json files (and keeping them all in memory), process crashes with all of them.

JSON.parse: crashes after loading 149 json files
bfj: crashes after loading 98 json files and is very very slow
stream-json: crashes after loading 93 json files
JSONStream: crashes after loading 208 json f

[2018-11-02 09:41] #24020 closed

[2018-11-02 10:08] caub opened #24036 "Cleanup error stack for functions defined in ternaries"
The following error stack contains `at process.env.FOO` which is surprising
[code]

I think It should rather be the same than this below:
[code]

node version: v10.13.0

[2018-11-02 10:14] hermanbanken opened #24037 "Node crashes when writing data on HTTP2 stream that meanwhile terminates"
* **Version**: v8.12.0
* **Platform**: OSX, Darwin mymac.local 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64
* **Subsystem**: http2

When performing something along the lines of:

[code]
and the NGINX server becomes unavailable (shutsdown, GOAWAY, sessions close) sometimes we get the following error:

[code]

Expected behavior:

Nativ

[2018-11-02 10:29] hermanbanken commented on #24037
Also #19002 seems to be related.

[2018-11-02 10:30] hermanbanken commented on #24037
Question remaining: can we backport to 8.12 or don't we because it is experimental in 8.12?

[2018-11-02 10:32] vsemozhetbyt commented on #24036
The same outside of the REPL:
[code]
[code]

[2018-11-02 10:32] richardlau commented on #24037
Quite a few http2 commits have been backported for the proposed 8.13.0: https://github.com/nodejs/node/pull/23974

[2018-11-02 10:36] vsemozhetbyt commented on #24036
In the last Chrome Canary console:
[code]

cc @nodejs/v8

[2018-11-02 11:36] hermanbanken commented on #24037
But _not yet_ #19002 or #18973, right?

[2018-11-02 11:55] eranif commented on #24025
If we put a side the debugger client implementation language (in my case its C++).
I tried something simple:

* I used `wscat` (a JS script that uses websockets)
* Run a simple test script under Node.js

So it goes something like this:
[code]

and on another terminal, I used `wscat` like this:

[code]

A connection is established successfully.
What I would like to understand now is the sequence of

[2018-11-02 11:57] richardlau commented on #24037
I believe https://github.com/nodejs/node/pull/19002 was included in [v8.11.2](https://github.com/nodejs/node/releases/tag/v8.11.2) via https://github.com/nodejs/node/commit/c976cb5be5 as part of https://github.com/nodejs/node/pull/20456.

[2018-11-02 12:12] AyushG3112 commented on #24025
@eranif perhaps this guide is what you are looking for: https://nodejs.org/en/docs/guides/debugging-getting-started/ ? It has a section for `Inspector Clients` which provide various options to use the inspector.

[2018-11-02 12:40] targos commented on #23921
The fix just went out in v11.1.0.

[2018-11-02 12:40] #23921 closed

[2018-11-02 12:51] eranif commented on #24025
@AyushG3112 thanks, I already read that page. And there is nothing on that section that can help (or it is buried really good in the docs). Another option if no one can answer my previous comment: is there a way to enable some kind of "sniffer" in the Chrome DevTools? Myabe by inspecting the messages between Node and DevTools I will be able to progress. Thanks!

[2018-11-02 13:17] eduardofcr commented on #23693
I have the same issue.
My configuration:
Debian GNU/Linux 9
google chrome Version 70.0.3538.77 (Official Build) (64-bit)
I was using node 10.13 :    <b>did not stop in breakpoints</b>

The solution I found was to downgrade node to 8.12

[2018-11-02 13:18] spitWind commented on #23948
I don't support handling package dependencies like this,This is easy to cause bugs
\ternjs_1.2.0.201609221542\node_modules\tern-eslint\node_modules\eslint\node_modules\file-entry-cache\node_modules\flat-cache\node_modules\del\node_modules\rimraf\node_modules\glob\node_modules\minimatch\node_modules\brace-expansion\node_modules\balanced-match\test\balanced.js
1.node.js allows for incremental change

[2018-11-02 14:00] vsemozhetbyt opened #24039 "intl: Will Intl.Segmenter need full ICU in Node.js even for the 'en' locale?"
See https://github.com/tc39/proposal-intl-segmenter/issues/50

[2018-11-02 14:01] vsemozhetbyt commented on #24039
cc @nodejs/v8 @nodejs/intl.

[2018-11-02 14:11] jdalton commented on #18188
@devsnek

`RegExp#test` coerces values to strings in a similar way `import()` does, which means it could pass with non-strings that coerce. Could you point to an example of Electron's usage?

[2018-11-02 14:13] devsnek commented on #24039
I'm a fan of anything that forces us to ship full icu

[2018-11-02 14:18] devsnek commented on #18188
@jdalton I mean consumers of electron. I can't share the actual code because I don't own it but I've found these kind of issues in several popular electron apps.

it usually looks something like this:

[code]

[2018-11-02 14:32] empyrical commented on #23265
Going to close this for now and remake this issue when I've got time to try and implement the N-API stuff.

I made a new discussion for the shared library stuff here for those interested: #24028

[2018-11-02 14:42] jdalton commented on #18188
In your example the `name` value will be coerced to a string via `RegExp#test` which doesn't hurt the case for coercion in `require` since folks are already indirectly doing it. The benefits are outlined above.

[2018-11-02 14:47] SerayaEryn opened #24040 "Performance degradation in Date#getMilliseconds() and Date#getTimezoneOffset() since v10.4.0"
* **Version**: v10.4.0 +
* **Platform**: macOS 10.14 and Ubuntu 18.04.1
* **Subsystem**:

I noticed a performance degradation in `Date#getMilliseconds()` and `Date#getTimezoneOffset()`.

I used the following code example to reproduce the performance degradation:

[code]

These are the results for `Date#getMilliseconds()` (The results look the same for `Date#getTimezoneOffset()`):

| Node Version |

[2018-11-02 15:09] vsemozhetbyt commented on #24040
As per "update V8 to 6.7.288.43" in [10.4.0 changelog](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V10.md#10.4.0), cc @nodejs/v8,

[2018-11-02 15:16] mhdawson commented on #20642
@john-yan can you take another look.

[2018-11-02 15:16] borisovg commented on #3009
(Note, that I hate having to bring this up, but it's just that I wasted a few hours today troubleshooting why an API returned a different result when I used curl vs node client.)

From [RFC7231](https://tools.ietf.org/html/rfc7231#section-4.3.1)

[code]

This does not read to me as a prohibition (certainly less so than language in earlier RFC) and considering that there are major applications (e.g

[2018-11-02 15:35] devsnek commented on #18188
@jdalton my example shows how it's important that require *doesn't* coerce.

[2018-11-02 15:40] sam-github commented on #18973
Did a CVE get issued for this? @jasnell @mhdawson

[2018-11-02 16:01] vsemozhetbyt commented on #24039
[The answer from the implementers:](https://bugs.chromium.org/p/v8/issues/detail?id=6891#c15)

Well, this is a strong argument to ship full ICU by default.

[2018-11-02 16:02] sam-github commented on #16712
@sholladay That's not what I see on 11.1.0, did you mistype your example?

[code]

I'm not sure what you expected in the above. You parse a URL, but don't pass the host or port from the URL to `server.listen()`, why should the server's address have any relationship to the URL?

[code]

This example parses a URL, extracts the host (and discards the port), then listens on the host and default port (

[2018-11-02 16:03] daniellockard opened #24041 "Node v11.0.0 network sockets cause a hang after variable time"
* **Version**: v11.0.0
* **Platform**: Darwin / OSX Mojave
* **Subsystem**: Sockets

NodeJS v11 seems to hang on anything involving websockets, web server sockets, irc, etc. after a variable amount of time, and CPU usage skyrockets to 100%.  This can be seen if running [NodeCG](https://nodecg.com/) for a short amount of time. After this, even hitting refresh in the browser just waits forever and t

[2018-11-02 16:07] vsemozhetbyt commented on #24039
[Our table](https://nodejs.org/download/nightly/v12.0.0-nightly20181102a8e98f8ea9/docs/api/intl.html#intl_options_for_building_node_js) is not correct anymore: `small-icu` is not even `partial (English-only)` now.

[2018-11-02 16:12] daniellockard commented on #24041
@devsnek 11.1 was also just mentioned in the NodeCG discord. I'll look at upgrading to 11.1 and giving it a try.

[2018-11-02 16:12] jasnell commented on #24039
/cc @srl295

[2018-11-02 16:17] daniellockard commented on #24041
Seems I cannot reproduce in 11.1. Thanks! Guess node needs updated in homebrew.

[2018-11-02 16:28] jdalton commented on #18188
I disagree, but there's also no real urgency to it so I'll wait a bit longer 🙃

[2018-11-02 16:37] TimothyGu commented on #23433
Would still prefer option 1.

[2018-11-02 16:52] targos commented on #24041
I'll close this out, as the issue is already fixed in a release.

[2018-11-02 16:52] #24041 closed

[2018-11-02 16:55] sholladay commented on #16712
@sam-github apologies, I missed an important line when copy/pasting from my terminal back to GitHub. Needless to say, the URL stuff is only relevant if you pass the data to `.listen()`. 😅

Please see my updated comment above. I'm trying to demonstrate that the APIs are asymmetrical and this leads to surprising behavior.

[2018-11-02 16:56] refack commented on #24039
As I mentioned in #21676, we should separate dev & test builds from release builds.
Turning on full-icu only for release builds has IMO the most benefit, while carries the least cost for the current dev & test workflow (and build infra overhead).
We could add some full-icu specific tests that will run only as part of the daily CI job.

/CC testing

[2018-11-02 16:56] Trott commented on #23948
I'm very sorry about this, but I do not understand what you've written.

/ping @nodejs/nodejs-cn in case someone wants to try help out? (I see stuff in @spitWind's repository that Google is auto-detecting as written Chinese. Apologies if I'm wrong about that!)

[2018-11-02 17:24] kpatryk91 opened #24043 "Stream/Pipeline: There is no response after readstream error and sending to stdout"
Hi,

there is no response after there is an error in the readstream and sending the data to the process.stdout.

If I provide a valid file this code is working perfectly, but if I change it to an invalid location it is not working.

I don't get any response. It is the "pending" state forever, but it is working when I send it to the stdout and there is no error or file to file (with or without erro

[2018-11-02 17:31] joaocgreis commented on #23838
@JamesAndrewJackson13 I don't see an error in the log file. Can you let it finish?

[2018-11-02 17:34] addaleax commented on #18973
@sam-github Not according to our CVE management repository. This was also during the time when HTTP/2 support was classified as experimental, I don’t know if we assign CVEs for those cases?

[2018-11-02 17:34] refack commented on #23913
Haven't seen this fail on `centos7-arm64-gcc6` since, but now it shows on `ubuntu1604-arm64`:

https://ci.nodejs.org/job/node-test-commit-arm/19612/nodes=ubuntu1604-arm64/console
`test.parallel/test-https-eof-for-eom`
[code]

[2018-11-02 17:49] alexfernandez commented on #20263
Quick update now that [Node.js 10.x is becoming LTS next week](https://github.com/nodejs/user-feedback/issues/96): 10.13.0 is still painfully slow when using `tls.createSecurePair()`. So is 11.1.0, while 8.12.0 and 9.11.2 are still fast. From with the repo:

    node benchmark/tls/secure-pair.js

The results for transferring 2, 1024 and 104856 bytes using `tls.createSecurePair()` are show below. R

[2018-11-02 17:51] vsemozhetbyt commented on #24039
For this particular issue, see [this](https://bugs.chromium.org/p/v8/issues/detail?id=6891#c20) and [this](https://bugs.chromium.org/p/v8/issues/detail?id=6891#c20) comment:

[2018-11-02 17:56] kapouer commented on #21897
For the record, i've just [requested some NODE_MODULE_VERSIONs for debian](https://github.com/nodejs/TSC/issues/621).

[2018-11-02 18:16] hermanbanken commented on #24037
That is unfortunate, as it has npm 5.6: we need at least 8.12 (because npm 5.7 with `npm ci`) and can't switch to Node 10.13 as there is an issue related to OpenSSL (1.1.0?) causing a `ssl3_GET_RECORD:wrong version number` on the client.

[2018-11-02 18:23] adrianhelvik opened #24044 "Node 11.0.0 freezes randomly. Possibly due to some shared resource deadlock."
I am posting this here so you'll be aware of the issue. I will be able to provide more details when I get back to work on Monday.

So we noticed a strange bug today. A change in one node process would freeze another. We were running Webpack (create-react-app) on one process, a Node server on another and the tests on another. At the exact instant hot reloading occurred in the frontend, the backend

[2018-11-02 18:53] DragonOsman opened #24045 "Python 2.7 not found (but it's added to the system PATH)"
I tried to run `vcbuild`, but it can only find Python 3.7.  It can't find Python 2.x even though I have Python 2.7 added to the system PATH variable.

I'm using Windows 10 Home Single Language, version 1803 build 17134.345.

[2018-11-02 19:16] mayankasthana opened #24046 "Crypto Cipher and Decipher examples use deprecated createCipher and createDecipher"
The examples at
https://github.com/nodejs/node/blob/v11.1.0/doc/api/crypto.md#class-cipher
[code]
and

https://github.com/nodejs/node/blob/v11.1.0/doc/api/crypto.md#class-decipher
[code]

use deprecated methods `crypto.createCipher()` and `crypto.createDecipher()`.

The examples should be updated to use `crypto.createCipheriv()` and `crypto.createDecipheriv()` instead.

[2018-11-02 19:30] richardlau commented on #24037
Not sure I follow you, 8.12 should contain all of the commits in 8.11.2 (unless something was reverted, but I don't believe that was the case).

[2018-11-02 19:30] targos commented on #24044
This is probably a duplicate of https://github.com/nodejs/node/issues/23921
Can you try upgrading to v11.1.0 before re-running your tests?

[2018-11-02 20:00] refack commented on #24045
Hello @DragonOsman and thank you for the report
If you run `where python` it will show you the files `cmd.exe` can find to execute it the order it will consider them.
At the moment our detection logic only considers the top one, so if you add python2.7 to your Path, it should be _before_ any reference to a directory that has python3.7.

You can also "short-circuit" our detection logic and set `SET

[2018-11-02 20:20] sagitsofan commented on #24025
@eranif VSCode is doing what you are looking for, debugging node js apps, so i guess he is using the new api.
Maybe it can help you: https://github.com/Microsoft/vscode

[2018-11-02 20:26] nahuel opened #24048 "Add eventfd support to new net.Socket({ fd : eventfd})"
It will be nice to receive asynchronous notifications from a C native addon thread using an eventfd. Currently you can do the following:

[code]

This works ok, but `fs.read` will block a thread from the uv worker thread pool until a notification is sent from the addon. That's a waste and can block other tasks.

A possible solution is to add support for doing something like:

[code]

By implementi

[2018-11-02 20:32] hermanbanken commented on #24037
I’m having these issues with 8.12, so no, this is not fixed in 8.12.

8.11.2 could be released later than 8.12, right? Theoretically. As .2 is a
patch.

Other explanation is that the linked fix/fixes do not solve this issue.

[2018-11-02 20:47] refack commented on #23265
ping @nodejs/n-api, would you consider adding this to your backlog?

[2018-11-02 20:47] Trott commented on #24007
Can't speak for other org owners, but I don't mind being pinged for this.

[2018-11-02 21:01] DragonOsman commented on #24045
I put the path to the Python2.7 directory before the Python3.7 one, but it's still saying:
[code]
I put C:\Python27 in there, since the python.exe is in that directory (Python root).

[2018-11-02 21:02] #24043 closed

[2018-11-02 22:19] refack commented on #24045
So you probably hit a bug in our detection script.
If you set `DEBUG_HELPER=1` before running vcbuild, you'll get an echo of the steps the script runs.
If you could paste that here, that will help with solving the root issue.

[2018-11-02 22:47] def14nt commented on #22160
Why is this even being discussed? Why does it matter? Please clarify :confused: @jasnell

[2018-11-02 22:58] refack commented on #24025
@eranif You are write in that we don't have a step by step guide for howto use the inspector protocol. We do have some direct examples in our test suite:
1. a Helper (esseptialy a WS parser/generator) https://github.com/nodejs/node/blob/master/test/common/inspector-helper.js
2. An example with some usage of the protocol - https://github.com/nodejs/node/blob/master/test/common/test/parallel/test-in

[2018-11-02 23:03] refack commented on #24025
Ping @jkrems

[2018-11-02 23:11] jdalton commented on #24008
V8 now supports optional catch bindings so the `e` can just be omitted.

[2018-11-02 23:16] arcanis commented on #24008
Yep but it will still be constructed, right? In `handleErrorFromBinding`

[2018-11-02 23:58] vsemozhetbyt commented on #24007
Is there a group of the repository admins we can ping? Or a group of the repository admins who do not mind to be pinged? Should we create one if not?

[2018-11-03 00:15] bworline opened #24051 "Intl.DateTimeFormat doesn't respect the passed culture"
* **Version**: 10.13
* **Platform**: Windows Server v1607
* **Subsystem**: unknown

date = new Date('6/15/2017 1:03 PM');
Intl.DateTimeFormat('fr-FR', {year:'numeric', month:'numeric', day:'numeric', hour:'numeric', minute:'numeric'}).format(date)

expected:
"2017-6-15 13:03"

actual:  (I am in the US with en-US culture settings for language and locale)
"6/15/2017, 1:03 PM"

This worked fine in No

[2018-11-03 00:59] vsemozhetbyt commented on #24051
I get `'2017-6-15 13:03'` with https://nodejs.org/download/release/v10.13.0/ as well as with https://nodejs.org/download/release/v8.10.0/

[2018-11-03 02:38] RbertKo opened #24053 "Object::PreviewEntries returns incorrect results for Set Iterator"
* **Version**: 10.10 -> 11.0 this two version have bug too
* **Platform**: IDE : vscode
* **Subsystem**:

[code]

return :

2
true
true
false
[Set Iterator] { 3 }
[Set Iterator] { 3 }

I added 1, 2, 3 in 'set' instance. and I deleted '2'.
so, 'set' have '2', '3' element, but 'set' return values only '3'.
set.has(2) show 'true'!

10.10 version had a bug, so i upgraded my node version to 11.0, but c

[2018-11-03 02:42] Trott commented on #24007
I'd prefer not to create a new team just for this sort of thing, but won't stop someone else from doing it if they feel differently.

[2018-11-03 02:50] devsnek commented on #24053
It looks like the inspector is wrong. The set still has 2 and 3 if you actually iterate over it: `for (const element of a) { console.log(e); }`

[2018-11-03 02:53] RbertKo commented on #24053
yeah, i think too. so, set.had(2) is returned 'true'.

[2018-11-03 03:00] devsnek commented on #24053
further debugging reveals that the problem lies in `Object::PreviewEntries`. @nodejs/v8

[2018-11-03 04:02] sam-github commented on #24037
We could do an 8.11.2 by the rules of semver... but we don't do that. Since 8.12 has no incompatible changes from 8.11.2, we would ask anyone having a problem with 8.11.x to upgrade to 8.12.x (or later).

[2018-11-03 04:04] bworline commented on #24051
![image](https://user-images.githubusercontent.com/35072931/47947885-c2faed80-dee2-11e8-80c9-7672ef19c163.png)

This is also on Windows 10 v1809 (OS Build 17763.55)

[2018-11-03 04:08] sam-github commented on #18973
I don't know either! :-)

 On the one hand... "experimental" - use at your own risk, if it breaks, you get to keep the parts.

On the other hand, we shipped it, people are using it, and their servers can be crashed, maybe still can be crashed if https://github.com/nodejs/node/issues/24037 is accurate. A hard crash might deserve a CVE.

@nodejs/security @nodejs/security-wg Anyone have some thoughts

[2018-11-03 04:45] june07 commented on #8464
@jkrems Looking for a little guidance here...

Is there a way to influence (ie change) the inspect port when starting the inspect web socket after runtime?  Maybe process._debugProcess(process.pid) would be a good place to start looking/make changes?  I've dug around a bit and I'm not sure exactly where to begin in the codebase... C++ or Javascript.  My C++ is weak so I'm sure I'm missing a lot in

[2018-11-03 06:55] Trott commented on #24024
@nodejs/platform-arm

[2018-11-03 06:56] Trott commented on #24016
@nodejs/workers

[2018-11-03 07:03] mcollina commented on #18973
I think that experimental feature are “use at your own risk”.

[2018-11-03 07:34] adrianhelvik commented on #24044
That definitely looks like it could the reason. I will test it on monday.

[2018-11-03 14:11] spitWind commented on #23948
.优先在"moduleLocation"  中定义的包的路径查找依赖,
 若是找不到相关的依赖包 ,则到全局下面查找相关的包,
然后再到 node_module 下去查找,(原先的node包查找机制)
如在跟目录下执行require("ws") ,
///package.json
[code]
查找到当前 ws 包的路径在 "/dev/module/ws1.0"
则变成`
 require("/dev/module/ws1.0") `  继而 查找
"/dev/module/ws1.0/package.json" 的main:"index.js"
并开始执行"/dev/module/ws1.0/index.js"

,并不会引起参考包位置的不确定。。这将有助于依赖处理和包管理，

3. ，原“require”查找包将在许多文件位置中查找。如我上图:
![qq 20181102211331]

[2018-11-03 16:45] arcanis commented on #12971
It's likely this issue will appear a bit more. Yarn will use `NODE_OPTIONS` to properly setup the PnP environment (at least until the package-level loaders are ready for consumption), meaning that people having spaces into their home directories might have problems.

Note that imo supporting a full-blown parser with both `'` and `"` isn't necessary. Supporting `\` would be enough to at least make

[2018-11-03 18:14] arcanis commented on #12971
I've opened #24065 with a fix.

[2018-11-03 18:53] mxhold commented on #5758
Is this something that could be revisited or are we stuck with this misleading error forever? I just spent an hour going through the exact same debugging process mentioned above of trying to figure out why a module couldn't be found when I had accidentally specified the package main file incorrectly. I even viewed the exact doc page where the note about this was added but I missed it. It would be

[2018-11-03 20:01] Trott commented on #23265
@kobalicek FYI, I edited your comment to hopefully maintain its meaning and forcefulness while also removing potentially-problematic language. These changes are very minor, so I hope it's OK that I went and made them. (The two changes were to change _insane_ to _ridiculous_ and to change _"pseudo" arguments_ to _arguments_.)

[2018-11-03 20:05] Trott commented on #23265
Whoops, I see moderation policy is that these sorts of changes should be added to the comment wioth text edited itself, not as  a separate comment. Will delete my comment and do that instead.

[2018-11-03 20:14] arcanis commented on #24008
Opened a PR to fix this - 10x faster 🎉

https://github.com/nodejs/node/pull/24068

[2018-11-03 20:32] arcanis commented on #24008
Errata: I didn't saw that @joyeecheung had already opened https://github.com/nodejs/node/pull/24015 😃

[2018-11-03 20:49] dineshongithub opened #24070 "angular-devkit/build-angular is not installing"
following is the debug report when installation take place

[2018-11-03T20_32_56_510Z-debug.log](https://github.com/nodejs/node/files/2545334/2018-11-03T20_32_56_510Z-debug.log)

[2018-11-03 21:44] Trott commented on #24070
Hi! This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like this one, please file an issue on our help
repo. https://github.com/nodejs/help

Thanks!

(Try `npm cache clean ---force`.)

[2018-11-03 21:44] #24070 closed

[2018-11-03 23:17] empyrical commented on #23265
I was not bothered by anything anyone said, I closed it because the conversation went off topic to a different (but very important!) subject. My plans are to make a new issue for this when I have time to try and implement, and put a link to the new issue I created for working out how the shared library should be distributed so the comments are just about NAPI.

[2018-11-03 23:45] bcoe opened #24071 "Invalid subsystem: "coverage""
how do folks feel about adding the additional subsystem `coverage` to the linter. This is what I used when I landed the initial `NODE_V8_COVERAGE` work, and figured would continue using for work related to overhauling test coverage in Node.js.

@nodejs/testing

[2018-11-04 00:03] Trott commented on #24071
I guess this is really mostly up to the people who use metadata like subsystems which I *think* would be @nodejs/releasers? I guess it's basically a question of "how do we want it to show up in the changelog" or something?

I'm fine with `coverage`. I'm also fine with lumping it under the more generic `lib`. Or `build`. Whichever/whatever. All good by me.

[2018-11-04 00:42] aduh95 commented on #24046
@mayankasthana Do you want to submit a PR to fix that?

[2018-11-04 00:53] refack commented on #24071
`tools`?

[2018-11-04 01:41] Trott commented on #23291
https://ci.nodejs.org/job/node-test-commit-smartos/21373/nodes=smartos17-64/console

[code]

[2018-11-04 01:44] #24008 closed

[2018-11-04 02:11] bcoe commented on #24071
If we’re comfortable with `lib` works for me, when working on coverage going forward — easier than updating the list of subsystems in several places.

[2018-11-04 02:11] #24071 closed

[2018-11-04 04:14] flowkraD commented on #24053
After all the addition to the set, the set looks like this: `Set { 1, 2, 3 }`
Next you execute: `set.delete(1);` which removes the element `1` from the set so now the set looks like this: `Set { 2, 3 }`
Isn't this the right behavior?
The `set.delete` function takes the value which it removes from the set and that's what it is doing here( In the snippet written in the description), removing 1 from

[2018-11-04 04:17] devsnek commented on #24053
@flowkraD the issue is the `util.inspect` output of the set iterator.

[code]

[2018-11-04 04:19] flowkraD commented on #24053
Thank for pointing that out (^_^)

[2018-11-04 09:00] Trott commented on #23816
HI, @HaisamRk! I don't think you're likely to get too much help in this repo with this problem (although let's ping @imyller and @nodejs/platform-arm just in case). I would recommend opening an issue in https://github.com/nodejs/help, StackOverflow, #node.js channel on chat.freenode.net, Node.js Discord Community, or Node.js Slack Community. (See the Support section of the README forlinks!)

I kno

[2018-11-04 09:00] #23816 closed

[2018-11-04 09:11] joyeecheung commented on #23265
I've been wondering..do we need to attach the outline of a more embedder friendly API to the environment? Essentially there are at least multiple levels of abstractions here:

1. A node that encapsulates the operations of v8 initialization, spinning off the libuv event loop, and doing a bunch of tracing etc. The embedder doesn't need to customize the engine/isolate and the even loop (like the `thi

[2018-11-04 09:16] targos commented on #13772
@refack What would you like to do with this? I suggest either close as a known limitation or promote to a feature request (print multiple lines).

[2018-11-04 09:17] rubys commented on #23265
I'm reopening this issue as i plan to resume work on it (the API, not the shared library) when i return from nodeconf.eu.

[2018-11-04 09:50] wilk commented on #22940
@devsnek

I've updated the docs: thanks for the good catch 😄

[2018-11-04 09:55] targos commented on #17431
Upstream bug is considered fixed but there is still a significant difference:

[code]

[2018-11-04 10:15] alexfernandez commented on #20263
cc @mcollina

[2018-11-04 12:34] antsmartian commented on #23338
@mcollina If the solution is to be based on `autoDestroy` then by default (when `autoDestory` is `false`) on error, `close` won't be called? Or you meant we need to wrap the logic of emitting the `close` event over here: https://github.com/nodejs/node/blob/master/lib/internal/streams/destroy.js#L98 ?

[2018-11-04 15:06] mayankasthana commented on #24046
Sure!

[2018-11-04 15:20] Badereedine-Hadef opened #24078 "create-react-app issue"
first time working with react i need your help please

node -v: v8.11.3
npm -v: 5.6.0

I Run:
create-react-app first-app

this mess tell me to waite few sec
Creating a new React app in C:\Users\MAD_MAX\Desktop\New folder (2)\first-app.

Installing packages. This might take a couple of minutes.
Installing react, react-dom, and react-scripts...

the this err shows up

npm ERR! code EINTEGRITY
npm ER

[2018-11-04 15:31] Trott commented on #24078
Hi! This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like this one, please file an issue on our help
repo. https://github.com/nodejs/help

Thanks!

[2018-11-04 15:32] Trott commented on #24078
Re-opening to see if I can use GitHub's new magical move-issue-to-a-different repo feature...

[2018-11-04 15:44] chux0519 opened #24080 "AEAD_CHACHA20_POLY1305 support"
**Is your feature request related to a problem? Please describe.**

Not really a  problem, I'm trying to write some networking stuff which using AEAD_CHACHA20_POLY1305([rfc7539](https://tools.ietf.org/html/rfc7539)).
As far as I know, OpenSSL should support that since 1.1 .

Actually I have written some code to support it, and a PR will be sent.

**Describe the solution you'd like**

Using `chacha

[2018-11-04 16:15] woakazam opened #24082 "Node .js is running but socket.io connection timeout after few minutes or 2 hours"
For 10-15 minutes everything is okay;

node running (no error, no log ...) good but socket.io cant connect. (ERR_TIMEOUT)
when i close node with "CTRL+C" then ERR_CONNECTION_REFUSED

no idea about whats happening, my codes:

VPS
node -v => v11.0.0
CentOS Linux release 7.5.1804 (Core)

[code]

[2018-11-04 16:47] scalesan opened #24083 "NPM"
I've downloaded nodejs v 11.1 multiple times today.  This version keeps giving me npm v 5.5.1 which is wrong. It's supposed to come with 6.4.1. I'm trying to do a bootcamp and can't complete it until this is fixed. Can you look into it? Thank you.

* **Version**:
* **Platform**:
* **Subsystem**:

[2018-11-04 17:06] antsmartian commented on #24083
I'm on macos, and it perfectly works fine. What OS do you use?

[2018-11-04 17:07] AyushG3112 commented on #24083
If you previously have an NPM installed, that installation isn't overwritten AFAIK.

[2018-11-04 17:07] refack opened #24084 "RFC: `landed`, `stalled`, `abandoned` and `superseded` labels for PRs"
Motivation: Since our landing process by default ends with up Closing (to use GitHub's term) the PR, I am looking for a way to differentiate the GitHub semantics, from our semantics.

Suggestion: Use the following three labels <ins>when closing a PR</ins>:
* [`landed`](https://github.com/nodejs/node/issues?q=label%3Alanded+is%3Aclosed+sort%3Aupdated-desc) - for PRs that landed (i.e. Merged in GitH

[2018-11-04 17:09] scalesan commented on #24083
How do I remove the previous npm?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ayush Gupta <notifications@github.com>
Sent: Sunday, November 4, 2018 12:08:46 PM
To: nodejs/node
Cc: scalesan; Author
Subject: Re: [nodejs/node] NPM (#24083)

If you previously have an NPM installed, that installation isn't overwritten AFAIK.

—
You are receiving this because you a

[2018-11-04 17:10] antsmartian commented on #24084
Can a PR author can edit the label? I doubt that's the case currently.

[2018-11-04 17:13] devsnek commented on #24084
we can mark PRS as merged by pushing the final commit(s) to both branches so a landed label probably isn't needed

[2018-11-04 17:14] refack commented on #24084
That's indeed a GitHub limitation (@codebytere?)
My thought is that this decision should be the author's alone.
AFAIK it is intentional that we don't have a policy for "rejecting" PRs. Apriori every PR has merit in that in the least the author thinks it has value, so they should be the only one to make the decision to "abandon" a PR.

[2018-11-04 17:20] refack commented on #24084
/CC @Trott, @apapirovski @trivikr and @nodejs/triageathon

[2018-11-04 17:21] antsmartian commented on #24084
@refack I got the idea. But, what if author doesn't respond for say a 3 month? Don't we move that to `stalled` or wait for author to mark it as `abandon`? I currently see, if no updates happen on a PR, it's marked as `stalled` or it's getting closed.

[2018-11-04 17:29] Trott commented on #24083
I'm not sure that's correct, or at least it depends. If you install with `nvm`, it certainly gives you the bundled npm and removes the previously nvm-installed one from your path.

This may have nothing to do with the installer and more to do with the reporter's PATH etc. Without more information (like at least the operating system or where/how the installer is being downloaded), troubleshooting w

[2018-11-04 17:33] june07 opened #24085 "Debug MULTIPLE already running processes (SIGUSR1)..."
Is there a way to influence (ie change) the inspect port when starting the inspect web socket after runtime?  Maybe process._debugProcess(process.pid) would be a good place to start looking/make changes?  I've dug around a bit and I'm not sure exactly where to begin in the codebase... C++ or Javascript.  My C++ is weak so I'm sure I'm missing a lot in that regard.  Some expert help/finger pointing

[2018-11-04 17:40] refack commented on #24084
IMHO `stalled` and close.

[2018-11-04 17:52] Trott commented on #24007
I'm going to close this because it seems we've arrived at an _ad hoc_ procedure. We can iterate and/or document later if there's benefit.

[2018-11-04 17:52] #24007 closed

[2018-11-04 17:55] empyrical commented on #23265
Sounds good! 👍 Since it seems you are working on the non-NAPI apis to be used as the basis for the NAPI apis, could you look into providing your own `libuv` loop for Node to use? Last time I tried that it wasn't so easy, and that code I made doesn't compile in today's Node even

[2018-11-04 18:28] Trott commented on #24048
Not sure the right folks to ping on this. maybe @nodejs/n-api?

[2018-11-04 18:28] jkrems commented on #8464
The problem is a basic property of unix signals: They don't pass any data. So from the outside there's only "send USR1" which is all `process._debugProcess` does in the end. What you *can* do is start the processes with `--inspect-port=<unique port>`. That will make sure that once you send the signal, they will start listening on that custom port.

That might be possible but is tricky for two reas

[2018-11-04 18:29] Trott commented on #24080
@nodejs/crypto

[2018-11-04 18:29] Trott commented on #24028
@nodejs/releasers might have opinions/insights?

[2018-11-04 18:32] jkrems commented on #24085
Quoting myself from that thread:

The problem is a basic property of unix signals: They don't pass any data. So from the outside there's only "send USR1" which is all `process._debugProcess` does in the end. What you *can* do is start the processes with `--inspect-port=<unique port>`. That will make sure that once you send the signal, they will start listening on that custom port.

On the more com

[2018-11-04 18:33] scalesan commented on #24083
Yes I actually think its the path

[2018-11-04 18:34] Trott commented on #22308
This is still an issue, I imagine?

[2018-11-04 18:36] Trott commented on #22804
@nodejs/documentation @nodejs/http2

[2018-11-04 18:36] Trott commented on #24005
@nodejs/workers

[2018-11-04 18:38] Trott commented on #21476
@rubys I believe you've completed this work and this issue can be closed. Am I mistaken?

[2018-11-04 18:38] Trott commented on #21683
@nodejs/async_hooks

[2018-11-04 18:38] Trott commented on #23127
@nodejs/workers

[2018-11-04 18:40] Trott commented on #24083
I'm going to transfer this to the help repo. (If it turns out it is a bug in the installer after all, we can transfer it back to this repo or open a new issue.)

[2018-11-04 18:44] jkrems commented on #24025
You can run `node inspect my-script.js` with debug logging. This will print all communication between the debug client and node:

[code]

The code for the inspect protocol connection can be found here, including the websocket decoding: https://github.com/nodejs/node-inspect/blob/master/lib/internal/inspect_client.js#L60.

The websocket code in the command line debugger is actually reverse engineer

[2018-11-04 18:47] Trott commented on #18118
@nodejs/http-parser

[2018-11-04 18:51] Trott commented on #23281
@nodejs/http

[2018-11-04 19:07] sholladay commented on #16712
I wrote a section about my expectations in the original comment at the top of the thread, which I've edited a few times for clarity. Might help to re-read that. But in short: I like almost everything about the existing `.listen()` APi and its semantics, except for the fact that the option is currently named `host`. My expectation is that it should be renamed to `hostname`. The rest of my comment i

[2018-11-04 19:12] Trott commented on #23975
That whole section of the docs can use a pretty massive cleanup. I'm on it.

[2018-11-04 19:44] ryzokuken commented on #22804
I tried to do something like this in https://github.com/nodejs/help/issues/877#issuecomment-381253464, but was stalled. Perhaps we could break these into a couple of "good second issue"s?

[2018-11-04 19:45] ryzokuken commented on #22804
/cc @mcollina

[2018-11-04 19:59] eranif commented on #24025
Thank you!
I already got the websocket code working, I just wasn't sure what kind of messages the inspector is waiting for. Using the mentioned environment variable, I can see the message exchange clearly.

It's now just matter of replacing the old driver with the new one and I am good to go :)

I will upload a working C++ example of how to connect to Node.js and execute a debug session for other

[2018-11-04 20:01] Trott commented on #23975
https://github.com/nodejs/node/pull/24090

[2018-11-04 20:15] bnoordhuis commented on #24048
A hypothetical `eventfd_wrap.cc` has no place in Node.js because it's intrinsically Linux-specific.

It's not really necessary either because the basic infrastructure is already in place. `new net.Socket({ fd })` can be changed to create a `uv_poll_t` instead of a `uv_tcp_t`, except `uv_poll_t` not an instance of `uv_stream_t`, making reading and writing kind of awkward.

Passing it to `uv_tcp_ope

[2018-11-04 20:28] bnoordhuis commented on #24085
You can start the inspector race free on a random port with `--inspect-port=0`. The inspector prints a message with the actual port number that you can parse if you capture its output.

[2018-11-04 20:29] SimonSchick commented on #23960
For now I will just avoid mixing classes and functions with prototypes, you should probably add a note to the docs tho.

[2018-11-04 20:53] refack commented on #24028
Personally I like this discussion, and I'm happy it pops up from time to time in various forms (https://github.com/nodejs/node/issues/14158, https://github.com/nodejs/node/pull/23202, https://github.com/nodejs/node/pull/9652, https://github.com/nodejs/node/pull/17604, https://github.com/nodejs/node/issues/8118, https://github.com/nodejs/help/issues/585).
A few points I have about this.
1. Decompos

[2018-11-04 21:04] june07 commented on #24085
@bnoordhuis  Yes, but "already running" implies that node was called without any inspect flags set.

@jkrems Makes sense about the signals, thanks.  That said,
How viable, (more sense?), would it be to change the current default behavior of node starting inspect on the default port after receiving SIGUSR1 to starting it on a random port?  It seems that the change would be pretty straightforward as

[2018-11-04 21:18] mcollina commented on #22804
`stream.id` is the HTTP2 Stream id.

`ready` is emitted when an `id` is available.

[2018-11-04 21:34] jkrems commented on #24085
The issue is that nothing could then ever connect to the port, short of scanning all ports. It really is only useful if you control the process and/or can access its output. And in that case, it feels like you might as well start it with `--inspect-port=0`. The default behavior is designed for the case where the process itself is out of the senders control. I'm not sure if there's an easy, portabl

[2018-11-04 21:48] empyrical commented on #23265
I first did this way back when this was still a WIP: https://github.com/nodejs/node/pull/6994

I basically pieced it together by taking the official V8 embedding example on the V8 website, and looking at bits of `node::Start` to see if I could put in my own event loop that I control.

Looking at it again, I just used `uv_default_loop` which is exactly what node uses for its main environment anyway

[2018-11-04 22:11] rubys commented on #23265
@empyrical I asked the question poorly, but you answered it.  What you need to be able to do is:

  * manually run the events in node's event loop, instead of blocking until node is done like `node::Start()` normally does
  * keeping a basic node http server going

Looking at my current [demo](https://github.com/rubys/node-embed/blob/master/node_main.c), the first is clearly satisfied.  After you

[2018-11-04 22:48] empyrical commented on #23265
`executeString` blocking until events are done does not satisfy the event loop integration I'm looking for, because if it blocked it would also block the UI. Perhaps another argument to `executeString` could be provided to specify whether or not it's blocking?

I think that the UV loop is probably a safe thing to expose to embedders, because it is even exposed in NAPI:

https://github.com/nodejs/n

[2018-11-04 23:18] dsanjit opened #24092 "Android crosscompile - Build error : cannot find -lrt"
I am trying to build Node as a shared lib that I can load in an Android app and use a combination of JSDOM and D3.JS to generate graphs which I can use in my app.

Version: Ubuntu 18.04.1 LTS
Platform: 4.15.0-36-generic #39-Ubuntu SMP Mon Sep 24 16:19:09 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
Subsystem: Building shared lib.

I made the following changes to the end of the android-configure file to

[2018-11-04 23:33] refack commented on #24092
Hello @dsanjit and thank you for the report.
Android is not an officially supported target for node.
But from what I can understand this is failing to build part of the host toolchain... This is probably because [AFAICT](https://www.google.com/search?q=cannot+find+"rt"+android) the Android SDK doesn't have `rt.so`

Now I'm not sure at what stage you need to `source android-configure ~/Android/Sdk/

[2018-11-05 02:53] #23167 closed

[2018-11-05 03:13] d3x0r commented on #20369
`unresolved external symbol TLSv1_2_server_method`
Has appeared again in node 11.0

[2018-11-05 03:45] lolobug commented on #23997
Thanks @hashseed . It may be solved without using a locker.
But I want to know  whether the "CheckImmediate" callback switch to another thread from the main thread of the uv loop.
`uv_check_start(immediate_check_handle(), CheckImmediate);`

[2018-11-05 04:35] Trott commented on #24085
Finding *some* way for processes to communicate inspection ports would help resolve https://github.com/nodejs/node/issues/16734. But I don't see any obvious way around the challenges outlined by @jkrems.

[2018-11-05 04:40] Trott commented on #21532
@Fishrock123 @nodejs/build

[2018-11-05 04:41] Trott commented on #23442
@nodejs/repl

[2018-11-05 04:43] Trott commented on #21960
Anyone have any thoughts on this? If not (or even if so), should it be transferred to the help repo or somewhere else?

[2018-11-05 04:45] Trott commented on #21715
@nodejs/v8-inspector

[2018-11-05 04:45] Trott commented on #21715
@nodejs/diagnostics maybe? (I'm honestly never sure when it's appropriate to ping there...)

[2018-11-05 04:47] Trott commented on #23097
@nodejs/testing

[2018-11-05 04:51] Trott commented on #22952
@mjgs Do you still experience this problem in a recent clone of the repo? I can't reproduce this but will dig further if you're still having this problem...

[2018-11-05 04:56] Trott commented on #21648
This hasn't been reported for a few months, only occurred once, and seems to have a plausible explanation that is beyond our control. I'm going to close it, but feel free to re-open if you think that's the wrong move here...

[2018-11-05 04:56] #21648 closed

[2018-11-05 04:59] coolaj86 opened #24095 "Ability to check TLS contexts, servernames, altnames"
We have `server.addContext(hostname, context)`, but we don't have a `server.getContext(hostname)`.

Why?
------

Now, that might seem rather silly, but let me explain why it would be important to have this:

There's a type of spoofing known as _Domain Fronting_ where the attacker creates a TLS session with one SNI, but once connected they send a different HTTP Host header (more info on a bug I cre

[2018-11-05 05:03] Fishrock123 commented on #21532
I generally don’t build with ninja anymore, but @thlorenz does. Maybe he has some idea.

[2018-11-05 05:13] richardlau commented on #21648
We also made `lint-md-build` a no-op via https://github.com/nodejs/node/pull/20109.

[2018-11-05 05:19] refack commented on #21532
I build with ninja, but I abhor installers, but nevermind me. The whole install logic is encaplusated in a python script, and is simply called by Makefile:
[code]

[2018-11-05 07:06] hashseed commented on #21715
I filed a [bug](https://bugs.chromium.org/p/chromium/issues/detail?id=901731) for Chrome DevTools.

[2018-11-05 07:27] kmiasko opened #24097 "RangeError: Invalid typed array length"
* **Version**: v11.1.0
* **Platform**: Linux xxx 4.18.16-1-ck #1 SMP PREEMPT Mon Oct 22 08:00:13 CEST 2018 x86_64 GNU/Linux

After upgrading to node 11.1 webpack-dev-server (i assume) can't serve angular 5 app build with this error:

`webpack: Compiled successfully.`
`buffer.js:72`
`class FastBuffer extends Uint8Array {}`
`^`

`RangeError: Invalid typed array length: -4095`
`    at new Uint8Array

[2018-11-05 07:30] the-kozy commented on #21715
It should be fixed in latest Node 10 + DevTools in Chrome >= 71, e.g. you can try Chrome Canary which is available on Windows.

[2018-11-05 07:51] hermanbanken commented on #18973
I agree, this does _should_ not need to be fixed in 8.12. We explicitly invoke node with `--expose-http2`.

Unfortunately, there seems to be a problem with Node 10, `https.createSecureServer`, our hardware client-devices and OpenSSL/TLS, so we can not update. From our debugging-client, we see
[code]
when connecting (from a NodeJS 8.12 (websocket) client) to the updated Node 10 (websocket) server.

[2018-11-05 08:06] joyeecheung commented on #24036
Upstream bug: https://bugs.chromium.org/p/v8/issues/detail?id=8407

[2018-11-05 08:13] bitinn opened #24098 "Doc: Agent ctor options are not fully documented, such as `lookup`"
ref:

- https://github.com/nodejs/node/pull/12839

issue:

- Agent ctor does accept options that will be used by [`socket.connect`](https://nodejs.org/api/net.html#net_socket_connect_options_connectlistener).
- But I can't find any reference of this at [`new Agent([options])`](https://nodejs.org/api/http.html#http_new_agent_options).
- To be fair, [`agent.createConnection(options[, callback])`](ht

[2018-11-05 09:10] GongT opened #24099 "FR: Able to get pipe count of stream"
**Is your feature request related to a problem? Please describe.**
I'm writting a cli library, my user will get a "verbose" stream, they may pipe it to stderr, or handle the stream themself, or just ignore it.
Now they must `pipe(new BlackHole)`, or the program will not run forward.

I need this api to detect if my stream have any consumer or not.

**Describe the solution you'd like**
* Make `stea

[2018-11-05 09:41] addaleax commented on #18973
/cc @nodejs/crypto for the comment above?

[2018-11-05 10:01] addaleax commented on #24099
This does not sound like you are actually interested in the pipe count – there can also be listeners for the `'data'` or `'readable'` events, which can consume data just likes pipes do.

[2018-11-05 10:23] jaimecbernardo commented on #23997
Regarding https://github.com/janeasystems/nodejs-mobile on Android:

We don't have any related issue, nor have anything similar happened on out tests, so I'm not sure what this can be. Our scenario is single threaded use for mobile, so it may not even occur inside that scenario, since we're not using the mentioned `V8::Locker`.

[2018-11-05 10:41] AhmedMKamal opened #24101 "About native support for typescript!!"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Are you planing to support typescript natively? something like ```node main.ts```
I know that it's possible to execute basic ```.ts``` files with node but ```es6``` and ```es7``` features not supported, I also know that it's not related to ```node```engine itself it's related to ```v8``` en

[2018-11-05 10:48] HomepcX opened #24102 "Node Js 11.1 Can't run on Electron"
Node Js 11.1 Can't run on Electron

[2018-11-05 11:32] schuay commented on #17431
I see similar results locally in ToT d8. Reopening the upstream bug.

[2018-11-05 11:39] bmeurer commented on #24040
I think we no longer inline these into optimized code (@sigurdschn should be able to comment on that). But I'm not sure it's worth it, since what you're measuring here is essentially the time for an empty loop (when it would be inlined into optimized code) vs. just calling out to a builtin. The performance difference in real-world should be barely noticable.

[2018-11-05 13:14] devsnek commented on #24101
we already support most of es6 and es7. in any case, the magical thing about ts is that you can compile it to js and then use node with it anyway.

[2018-11-05 13:14] #24101 closed

[2018-11-05 13:44] richardlau commented on #18686
https://github.com/nodejs/node/commit/8578e81b2b41eac6aea7a812b8e5f35a7362a6df was backported to [8.10.0](https://github.com/nodejs/node/blob/v8.10.0/doc/changelogs/CHANGELOG_V8.md#8.10.0) as https://github.com/nodejs/node/commit/aaca447333.

[2018-11-05 13:44] #18686 closed

[2018-11-05 13:51] richardlau commented on #18177
Yes, I think it can.

[2018-11-05 13:51] #18177 closed

[2018-11-05 14:03] brokencube opened #24105 "Passing options object to http.createServer stops server responding"
* **Version**: node 8.12.0
* **Platform**: macOS Sierra 10.12.6 (16G1510)
* **uname -a**: Darwin [USERNAME] 16.7.0 Darwin Kernel Version 16.7.0: [DATETIME]; root:xnu-3789.73.14~1/RELEASE_X86_64 x86_64
* **Subsystem**: http

**Example:**
[code]
[code]
Expected: Console.log of "got here"
Actual: No output.

It also doesn't work is options is set to:
[code]

**Is** working as expected in v10.13.0

Us

[2018-11-05 14:03] richardlau commented on #14537
This didn't happen in 10 nor 11. Is this likely to happen for 12 or should we just close this? If we do want it to happen, what needs to be done?

@nodejs/tsc @nodejs/crypto

[2018-11-05 14:17] shigeki commented on #14537
Mozilla delayed  to distrust Symantec Cert to Firefox64, probably mid of Dec.
https://blog.mozilla.org/security/2018/10/10/delaying-further-symantec-tls-certificate-distrust/
Google started to distrust it but it is gradually deployed under the control of Google. We do not know whether it is finished it or not.
https://security.googleblog.com/2018/03/distrust-of-symantec-pki-immediate.html

I think

[2018-11-05 14:26] Hypnosphi opened #24106 "Array#sort is broken in node 11"
* **Version**:
v11.1.0
* **Platform**:
Darwin unit-951.local 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22 20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64

[code]

[2018-11-05 14:29] Hypnosphi commented on #24106
OK, looks like I just shouldn't return boolean in `compareFunction`. This works OK:

[code]

[2018-11-05 14:29] #24106 closed

[2018-11-05 14:32] refack commented on #24106
Refs: https://github.com/nodejs/node/pull/22754#issuecomment-423452575

[2018-11-05 15:05] fagerbua commented on #23992
Thanks for the suggestion, but it doesn't help in my case:

[code]

[2018-11-05 15:19] sebastianplsim commented on #24097
I'm also seeing the same thing trying to start a react app with yarn.

* **yarn**: 1.12.1
* **node**: v11.1.0
* **Platform**: Mac OS 10.14

[2018-11-05 15:19] june07 commented on #21715
As well you can continue using whatever version of Chrome you're on and  just update the DevTools version.  https://june07.com/blog/nim-custom-devtools-url/

[2018-11-05 15:32] rubys commented on #23265
Got it.  Thanks for the clarification!

Or perhaps another function.

Agreed.  The subtle point is between allowing and requiring.  Allowing access for people with use cases that require it: good.  Requiring access for people who have use cases that don't require it: not so good.

[2018-11-05 15:33] vdeturckheim commented on #23862
I am not sure why I missed that issue. Sorry.

@addaleax when you suggest `async_hooks.AsyncResource` is that the same as @mcollina 's `currentAsyncResource()`?

[2018-11-05 16:07] shigeki commented on #18770
The issue of SmartOS was identified and can be resolved with https://github.com/shigeki/node/commit/b29f1fba58f3361a8eb579e67097ecd681c020b4.

The issue of plinux (linux-ppc64le) is caused by the seg fault in `SHA256_Final()`.  It was crashed only in Release not in Debug or with openssl_no_asm.  Generated asm files and build flags/options are the same between Node and OpenSSL-1.1.1 so it seems to

[2018-11-05 16:19] addaleax commented on #23997
@lolobug This sounds like an issue with embedding Node and using `libnode.so`, but that means that, most likely, we are unable to help unless you share more information about your embedding usage (for example, your code?).

[2018-11-05 16:49] refack commented on #24102
Hello @HomepcX and thank you for the report.
Can I ask what exactly are you seeing?
Might this https://github.com/nodejs/node/pull/24034 solve the issue?

[2018-11-05 18:06] sam-github commented on #18973
If you provide standalone scripts that demo this 8.x to 10.x interop problem I will try to debug it.

[2018-11-05 18:08] sam-github commented on #24098
Agreed, if the options are passed to net.connect, the docs should say so. Can you PR a fix?

[2018-11-05 18:58] Trott commented on #22327
https://ci.nodejs.org/job/node-test-binary-windows/21260/COMPILED_BY=vs2017,RUNNER=win2008r2-vs2017,RUN_SUBSET=3/console on test-rackspace-win2008r2-x64-6

[code]

[2018-11-05 18:58] Trott commented on #22327
@nodejs/build Anything possibly significant about this only happening on Rackspace hosts and not on Azure hosts?

[2018-11-05 19:11] sam-github commented on #20369
I can look into the export defs, but how do I reproduce this? I'm not seeing a difference between 6 and 11, am I using `readelf` incorrectly?

[code]

[2018-11-05 19:32] deinok opened #24110 "NPM and NPX require NODE in PATH"
Any UNIX version of the Node Binaries like https://nodejs.org/dist/v11.1.0/node-v11.1.0-linux-x64.tar.xz require to have Node inside PATH.

# How to reproduce
* Fresh UNIX install, like `Ubuntu-18.04-amd64-server`
* Download and extract https://nodejs.org/dist/v11.1.0/node-v11.1.0-linux-x64.tar.xz
* Run in bash `./bin/npm --version` or `./bin/npx --version`

# What is expected
I expect that runing

[2018-11-05 19:37] richardlau commented on #24110
It used to work but at the request of the npm team it was changed. See https://github.com/nodejs/node/issues/6095 for details.

[2018-11-05 19:49] deinok commented on #24110
For what I understand, this have some issues. Correct me if im wrong please.

Supose that I have installed the binaries at `/anyDirectory/node/` (Absolute Path)
Then, I have `/anyDirectory/node/bin/node`, `/anyDirectory/node/bin/npm` and `/anyDirectory/node/bin/npx`
So, I expect that executing `/anyDirectory/node/bin/npm` will use `/anyDirectory/node/bin/node` even if I have `node` in the PATH, ca

[2018-11-05 20:00] richardlau commented on #24110
No you're correct. Your expected behavior is the way it used to work, but as I referenced the npm team asked us to change the behavior two and half years ago.

cc @nodejs/npm

[2018-11-05 20:10] devsnek commented on #24110
couldn't you `./bin/node ./bin/npm`

[2018-11-05 20:17] deinok commented on #24110
@devsnek Yes, but then the process ID is `node` and not `npm`

[2018-11-05 20:19] codebytere commented on #24102
@HomepcX we've backported a fix for this onto the latest versions of our active release lines, so this should no longer be an issue.

[2018-11-05 21:16] Trott commented on #24102
(If I'm not mistaken, that would only apply to Windows, so if you're not running Windows, then you can immediately say "Nope, that won't affect me.")

[2018-11-05 22:01] refack commented on #22327
So first we see only WS2008R2...
I've checked the above machines and is seems like the rackspace one are more robust, with 8GB memory and 8 cores. While the Azure ones are 3.5GB with 1 core. So it's probably a race issue.

[2018-11-05 22:02] sam-github opened #24111 "socket.write() emits error synchronously when socket was closed by peer"
* **Version**: all
* **Platform**: all
* **Subsystem**: net

[code]

EDIT: forgot output:
[code]

I would expect error to be emitted in the next tick, as it normally would for a runtime error. This matters because normally code like this would work:

[code]

but in the case of a TCP close by the peer, the error event will never be caught in the above.

I think the TODO in the source is referring t

[2018-11-05 22:08] hermanbanken commented on #18973
@sam-github, I've created a minimal sample repo (`docker-compose up`) https://gist.github.com/hermanbanken/c1059caabff0d2dac90a773a903fbc07, which produces on the Node 8.12 client:
[code]

[2018-11-05 23:31] damejia100 commented on #24097
I ran into the same error. It's not a total fix but downgrading my node version got me back up and running. Here's what I did:
`sudo npm cache clean -f`
`sudo npm install -g n`
`sudo n <version>` <- I downgraded to 10.6.0

[2018-11-05 23:33] hermanbanken commented on #18973
Got it. This was a ‘simple’ way for me to not have dependencies on which OpenSSL is installed and recreate our exact case (our node server runs in Docker too).

Hopefully the scripts produce the same result with your system.

[2018-11-06 03:08] Trott commented on #21715
IIUC, this is a Chrome DevTools bug that is fixed in Chrome Canary. As such, I'm going to close this. Leave a comment or re-open if I'm mistaken or if there's other reasons this should remain open. Thanks!

[2018-11-06 03:08] #21715 closed

[2018-11-06 03:39] Trott commented on #24097
Pretty sure that message is coming from V8. Not sure if it's a bug in V8, or the result of a bug fix in V8, or neither... @nodejs/v8

[2018-11-06 05:05] #23917 closed

[2018-11-06 05:08] joyeecheung opened #24117 "discussion: put subsystem, team and label metadata in file(s) in this repo"
Right now there are multiple places that somewhat capture the label and subsystem metadata in this repo:

In core-validate-commit:

https://github.com/nodejs/core-validate-commit/blob/4e64157b6a87267fd4b9f0598159eeb968e04e21/lib/rules/subsystem.js#L5-L68

In github-bot:

https://github.com/nodejs/github-bot/blob/8d4b7199f871fe37f2528520e79a0d8568960184/lib/node-labels.js#L5-L139

And of course the

[2018-11-06 06:14] damnboy opened #24119 "@gpean is the need to schedule work on a separate thread for an existing module or something new ?"
_Originally posted by @mhdawson in https://github.com/nodejs/node/issues/13512#issuecomment-306877797_

[2018-11-06 06:30] Trott opened #24120 "investigate flaky known_issues/test-vm-timeout-escape-nexttick"
https://ci.nodejs.org/job/node-test-commit-smartos/21423/nodes=smartos16-64/console

[code]

@jasnell

[2018-11-06 06:42] damnboy opened #24121 "@gpean is the need to schedule work on a separate thread for an existing module or something new ?"
_Originally posted by @mhdawson in https://github.com/nodejs/node/issues/13512#issuecomment-306877797_

[2018-11-06 06:42] damnboy commented on #24121
I am trying to move [massca](https://github.com/robertdavidgraham/masscan) into nodejs env(as an addon),
in the main function of this project, it creates serveral threads waiting for the packet coming back which uses libcap). These threads never get close until the scan task is done,so these threads seems not fit into the Worker Poll.
As the [guide book](https://nodejs.org/en/docs/guides/dont-bloc

[2018-11-06 06:45] richardlau commented on #23737
The original issue is that Travis was misidentifying the commits for a PR.

Rather than rely on Travis to work out which commits should be linted, https://github.com/nodejs/node/pull/24030, https://github.com/nodejs/node/pull/24076, https://github.com/nodejs/node/pull/24093 changed the Travis linter to use GitHub's API to query for commits for the PR being tested so should now be consistent with t

[2018-11-06 06:45] #23737 closed

[2018-11-06 06:45] Trott commented on #24044
@adrianhelvik Did you get a chance to test? Is the problem resolved?

[2018-11-06 06:50] adrianhelvik commented on #24044
Ah, I forgot to do it. Will upgrade Node today and get back to you.

[2018-11-06 06:58] Trott commented on #24117
Related issue: https://github.com/nodejs/node/issues/23749

[2018-11-06 06:58] Trott commented on #23749
Related issue: https://github.com/nodejs/node/issues/24117

[2018-11-06 07:04] Trott commented on #23712
This conversation seems to have...not quite run its course, but stalled out.  I'm going to close it with a `stalled`  label. Feel free to re-open if there's still something to address here (like policy changes/additions, although feel free to just PR your ideas in).

[2018-11-06 07:04] #23712 closed

[2018-11-06 07:11] #23646 closed

[2018-11-06 07:18] Trott commented on #23315
This conversation seems to have stalled or run its course or something. Feel free to re-open if I'm wrong to close it. And, of course, PRs can also be opened for any desired changes.

[2018-11-06 07:18] #23315 closed

[2018-11-06 09:11] amatveevprog opened #24122 "child_process spawn: passing env to child process on macOS"
Version: 10.13.0 LTS

Platform:
- Windows 10 (10.0.15063)
- Ubuntu 16.10
- MacOs HighSierra (10.13.6)
- MacOs Mojave(10.14)

Subsystem: child_process

Hello, I tried to make child process  spawn on different systems and faced with the following problem:

I have two files: test.js and test2.js
the content of test.js:
[code]
and the content of test2.js is the following (just try to output the enviro

[2018-11-06 09:40] mcollina commented on #24111
No, let's fix this. I fear there will be some ecosystem breakage, but I would say that's ok.

[2018-11-06 09:57] bzoz commented on #24051
Can reproduce on English Windows 10 and Ubuntu, works as expected on Polish Windows 10

[2018-11-06 10:52] paragi commented on #583
This looks promising! Looking forward to test :1st_place_medal:

[2018-11-06 11:02] rvagg commented on #24028
IMO this is up to folks distributing Node. So @kapouer for instance might do a `node` -> `libnode` setup on Debian, so you have both. I don't imagine this is something that we should be doing on our end though. Folks coming to nodejs.org to download are expecting to get a usable package so they can run `node`. If you're wanting `libnode` then you're probably consuming something else, and that some

[2018-11-06 11:14] addaleax commented on #24111
I would strongly prefer for the fix to be that we have as little `net`-specific behaviour as possible. Overriding `socket.write` shouldn’t be something we’re doing at all, imo.

[2018-11-06 11:18] hermanbanken commented on #18973
I can reproduce it locally using this wireshark filter `tcp.dstport == 44330` with this bash:
[code]

[2018-11-06 11:40] avoio commented on #20080
@jasnell I think I'm seeing a related issue, where `url.parse` under Windows produces a `pathname` like `/c:/Users/avo/test.txt`. The leading slash makes most of node filesys apis fail. Feels like a bug to me. I posted a question on SO: https://stackoverflow.com/q/53167230/2674222.

[2018-11-06 12:20] hermanbanken commented on #18973
I have no experience with Wireshark, but I definitely see something different going on in the Server Hello message. The Node 8 server sends a Server Hello of 83 bytes, while the Node 10 server sends one of 61 bytes. The difference is the `next_protocol_negotiation (len=18)` field, which is only present with Node 8 and contains 'next protocol http/1.1, next protocol http/1.0'.

[2018-11-06 14:03] cjihrig commented on #24122
Thanks for opening this issue. However, this issue tracker is for bugs and feature requests in Node core. I'm going to transfer this issue to the nodejs/help repo, where you are more likely to get... help.

[2018-11-06 14:05] Trott opened #24129 "Investigate flaky parallel/test-trace-events-metadata"
https://ci.nodejs.org/job/node-test-commit-linux/22895/nodes=ubuntu1604-64/console

[code]

@nodejs/trace-events

[2018-11-06 14:33] #23203 closed

[2018-11-06 14:45] juanjose49 commented on #9523
The real MVP ^^^

[2018-11-06 14:49] BigEgret opened #24139 "node crypto crypto.createHash('sha1') invalid key length 20"?"
let key =  Buffer.allocUnsafe(32);
      let iv =  Buffer.allocUnsafe(16);
      let dataByte = Buffer.allocUnsafe(32);

      for(let i = 0;i<32;i++){
        key[i] = i+32;
        iv[i] = i+32;
        dataByte[i] = i+65;
      }

      let encryptData = this.encrypt_with_aes(dataByte, key, iv)
      console.log('encrypt： ', encryptData)

      let decryptData = this.decrypt_with_aes(encryptDat

[2018-11-06 14:50] BigEgret commented on #24139
Hello, I also want to know how to set the 32 byte key length using aes-256-cbc.

[2018-11-06 15:16] refack commented on #24028
IIUC the suggestion is `libnode` + a thin loader. Among the arguments pro that were raised:
1. It's more intuitive to link native-addons against a library then an executable
2. A shared library is easier to version, and make sure native-addon binaries are matched to the right file by version.

And I might add that having a fragmented file structure makes for a simpler build flow (on change you onl

[2018-11-06 15:50] sam-github commented on #20369
Ah, sorry, I've no idea how to fix that on Windows. Perhaps @refack does?

[2018-11-06 16:25] franher opened #24175 "esm loader error not catchable"
* **Version**: master
* **Platform**: all
* **Subsystem**: esm

For code-learn at NodeCONF EU we wrote a new test case to cover https://coverage.nodejs.org/coverage-d32b5bd567544f5b/root/internal/bootstrap/loaders.js.html#L152 . After that, the test case generates the error but we can't catch it.

PR with the test case ready to land as soon this issue is resolved: https://github.com/nodejs/node/pu

[2018-11-06 16:41] franher commented on #24175
PR with the test case ready to land as soon this issue is resolved: #24183

[2018-11-06 16:42] adrianhelvik commented on #24044
Super stressful day at work, so I forgot it again. 😓 It sounded just like the previous bug though. I'll close this now and reopen or comment when I get around to testing it.

[2018-11-06 16:42] #24044 closed

[2018-11-06 16:44] mhdawson commented on #24175
@MylesBorins who is the best person to ask to take a look at this to confirm if our understanding that this is a bug is correct?

[2018-11-06 16:44] devsnek commented on #24175
@mhdawson i'm looking into it now

[2018-11-06 16:46] mhdawson commented on #24175
@devsnek thanks!

[2018-11-06 17:02] joransiu commented on #18770
@shigeki: Can you share the link to the plinux failure output?  I tried following CI build (ci.nodejs.org/job/node-test-commit/22834 ), but appears the PPC job output got purged already?

[2018-11-06 17:18] luisfarzati opened #24193 "Running a single test using --expose-internals throws an error [nodeconf code and learn]"
* **Version**: current
* **Platform**: macOS
* **Subsystem**: internal

Steps followed:
* built node by following the instructions [here](https://github.com/nodejs/node/blob/master/BUILDING.md#building-nodejs-1)
* ran single test `test/parallel/test-internal-errors.js` by following the instructions [here](https://github.com/nodejs/node/blob/master/BUILDING.md#running-tests) and got the error shown

[2018-11-06 17:33] devsnek commented on #24175
weee okay so the problem is the resolve hook. the actual error being generated is (as i said earlier by coincidence) an early error. it is trying to resolve the test file, but since the resolve hook just returns an empty string, it won't work.

if the loader is changed to this it works cc @franher
[code]

[2018-11-06 18:10] franher commented on #24175
ohh I see @devsnek Thank you for your support.

I've just pushed the changes to the PR with the proper resolve hook.

I close this issue.

[2018-11-06 18:10] #24175 closed

[2018-11-06 18:20] sam-github commented on #24111
I think `socket.destroy()` has a similar problem, in that it synchronously emits the `'close'` event.

[2018-11-06 18:43] sam-github commented on #24139
Please direct questions about API usage to https://github.com/nodejs/help.

key's and ivs should be the same length as the block size, keeping in mind that block sizes are usually described in bits:

Not that strings of "x" or "i" should ever be used for keys or IVs.

[2018-11-06 18:43] #24139 closed

[2018-11-06 18:51] tniessen opened #24202 "Linter errors are being cached"
I was stuck on this problem for quite some time and only just figured it out thanks to @refack. Basically, I was seeing this error:

[code]

Even after triple-checking that I documented the error code, the errors didn't go away. I also tried changing the code in `tools/eslint-rules/documented-errors.js`, but ESLint still printed the errors no matter what I changed the file to.

The solution was to

[2018-11-06 18:55] suguru03 opened #24203 "setTimeout is not working properly with non-integer in Node 11"
* **Version**: v11.1.0
* **Platform**:Darwin suguru 17.7.0 Darwin Kernel Version 17.7.0: Fri Jul  6 19:54:51 PDT 2018; root:xnu-4570.71.3~2/RELEASE_X86_64 x86_64
* **Subsystem**: timers

I have tested `setTimeout` and realized the function seems to have an issue when it is called with non-integer, such as `1.1 * 100 (110.00000000000001)`.
The function will stop calling a callback function randomly

[2018-11-06 18:58] slonka commented on #24016
Also, running `node --prof --no-logfile-per-isolate --experimental-worker index.js` and then trying to do `node --prof-process v8.log  > processed-single.txt` causes an error:

[code]

With a different line on every try.

[2018-11-06 18:58] addaleax commented on #24203
/cc @apapirovski

[2018-11-06 18:58] targos commented on #24203
@nodejs/timers

[2018-11-06 19:11] bnoordhuis commented on #24193
[code]
IOW, the coloring throws it off.

[2018-11-06 20:58] sam-github commented on #18973
What's happening is uws, for node 10, is dumping the ws/HTTP "switching protocols" message directly onto the TCP connection, unencrypted! The TLS client then attempts to decode it as a TLS application data record, but since its just unencypted HTTP, it fails to decode, and the client errors out.

Now, why does uws do the wrong thing here, I'm not sure. That will take more digging. I'll take a bit

[2018-11-06 21:06] refack commented on #24193
Proposed (very local) fix https://github.com/nodejs/node/pull/24204

[2018-11-06 21:54] Trott commented on #24202
If ESLint does not detect a change in the file being linted, the ESLint configuration, or the version of ESLint being run, it will use the cache. Unfortunately, that means that changing the plugin code (in `tools/eslint-rules/`) will not cause it to lint the file again.

I'm pretty sure that, however this happened, it's an issue with ESLint. I'm going to close this, but feel free to re-open if you

[2018-11-06 21:54] #24202 closed

[2018-11-06 21:57] Trott commented on #24121
@nodejs/workers @nodejs/n-api

[2018-11-06 21:58] Trott commented on #24102
Closing but feel free to comment or re-open if there's still a problem with the latest release.

[2018-11-06 21:58] #24102 closed

[2018-11-06 22:07] lautarodragan opened #24205 "writeUInt16BE: incorrect 'value of "value" is out of range.' error message?"
* **Version**: `v10.13.0`
* **Platform**: `Linux Mint 4.13.0-43-generic #48~16.04.1-Ubuntu SMP Thu May 17 12:56:46 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`
* **Subsystem**: don't know

From its name and its behavior, I'm think `writeUInt16BE` can only take up to 2 bytes (0xFFFF, 65535), but it accepts up to 4, although it ignores anything after 2.

In the REPL:
[code]

The error message matches th

[2018-11-06 22:35] refack commented on #24202
I was hoping we could implement a workaround in our rule code, but it seems like ATM we can't - https://github.com/eslint/eslint/issues/11060.

I'll reopen when there's an upstream solution.

[2018-11-06 22:56] Trott commented on #24205
@nodejs/buffer

[2018-11-06 22:59] Trott commented on #24129
Replicable under load:

[code]

[2018-11-06 23:02] kpm opened #24207 "doc: Can't find information about LTS releases."
Hi,

I haven't been able to find info about LTS releases.  If I go to https://nodejs.org/en/about/releases/
, the page doesn't mention LTS at all.  If I go to the main docs at https://nodejs.org/en/docs/ , there's no search facility, and a quick explore through some links doesn't lead to any info I can find about LTS releases.

Sorry if I missed something obvious, I'm new to node.  I'd like to kno

[2018-11-06 23:18] Trott commented on #24129
(It's the setting of `process.title` that's not taking here.)

[2018-11-06 23:22] aslushnikov opened #24209 "regression: UnhandledPromiseRejection is not fired until process is terminated"
* **Version**: v9.11.2, v10.11.0 and v11.1.0
* **Platform**: x86_64 GNU/Linux

### Repro
1. save this is `script.js`:
[code]
2. run `node script.js`

**Expected**: the `UnhandledPromiseRejection` is reported as soon as it happens; the node.js process
exits after 2 seconds.
**Actual**: nothing happens for 2 seconds, then the node.js process exits and only then prints `UnhandledPromieRejection`.

Th

[2018-11-06 23:37] soldair opened #24210 "`node .` runs a different file on node 10 than 8"
`node .`
may run
`../{process.cwd()}.js`
instead of the file in ./package.json main in node >=10

or to rephrase

node should not run a file in ../ when you run `node .`

* **Version**: difference in behavior between versions noted below
* **Platform**: all
* **Subsystem**: modules cjs

This behavior seems to have changed a couple times in node's history but has been consistent since io.js. At the

[2018-11-06 23:37] Trott commented on #24039
Is there anything to do at this time other than be aware that This Is Coming?

[2018-11-06 23:38] Trott commented on #24210
/ping @bmeck

[2018-11-06 23:41] Trott commented on #23218
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-11-06 23:41] #23218 closed

[2018-11-06 23:43] Trott commented on #9036
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. (Or, perhaps better, open a PR.) I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-11-06 23:43] #9036 closed

[2018-11-06 23:45] Trott commented on #18760
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. (Or, perhaps better, open a PR or get the existing one at @22712 moving.) I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-11-06 23:46] Trott commented on #20282
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-11-06 23:46] #20282 closed

[2018-11-06 23:46] Trott commented on #20196
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-11-06 23:46] #20196 closed

[2018-11-06 23:47] Trott commented on #19993
Should this be moved to the `build` repo?

[2018-11-06 23:48] Trott commented on #20367
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. (Or open a PR?) I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-11-06 23:48] #20367 closed

[2018-11-06 23:49] domenic opened #24211 "Consider making URL's context symbol more private, or at least resetting the "flags" member"
* **Version**: v10.8.0
* **Platform**: Windows 10 64-bit
* **Subsystem**: url

The (WHATWG) URL object's internal "context" symbol is exposed as an enumerable property on `URL` instances. This leads to it being considered for comparison by testing frameworks and the like.

For example, see https://repl.it/repls/StaidUnlinedFolder, wherein Jest considers `new URL('./foo', 'https://example.com/')` a

[2018-11-06 23:51] Trott commented on #20565
It seems like perhaps this should be closed, as the remaining items are debatable? Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree (or open a PR). I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-11-06 23:51] #20565 closed

[2018-11-06 23:52] cjihrig commented on #24129
and

There's a possibility that this is related to (or at least could be improved by) https://github.com/libuv/libuv/pull/2064. If so, a new release is being planned for later this week.

[2018-11-06 23:52] Trott commented on #21147
It seems like perhaps this should be closed, given the lack of consensus. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-11-06 23:52] #21147 closed

[2018-11-06 23:53] Trott commented on #22233
Closing for lack of activity. Feel free to comment or re-open if warranted.

[2018-11-06 23:53] #22233 closed

[2018-11-06 23:54] Trott commented on #22235
It seems like perhaps this should be closed given the lack of consensus and absence of active discussion. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-11-06 23:54] #22235 closed

[2018-11-07 00:12] devsnek commented on #24211
sgtm, we already use WeakMap elsewhere in core for this.

[2018-11-07 00:12] sam-github commented on #18973
Sorry, no clue. This disappears into uws' cpp internals, I'm not honestly sure why it ever works with TLS, uws seems  to replace all the node TLS code with its own. Its possible it just doesn't support openssl 1.1.0 (8.x used 1.0.2). Btw, this doesn't depend on the client node version, its just the server.

Also, I don't think this issue has anything to do with the one whose thread we are using, I

[2018-11-07 02:13] josephg commented on #19308
What is the actual decision making process for a big change like this? Does the TC still meet?

It'll be controversial no matter what the decision is. But it would be nice to have a clear official resolution on which way node will move forward with this.

[2018-11-07 02:15] devsnek commented on #19308
there's nothing stopping someone from making a pr. if that pr was blocked for a non-technical reason (like "ws shouldn't be in core") it could be elevated to the TSC

[2018-11-07 06:50] joyeecheung commented on #24211
Does IDL tests in WPT cover this? This is what I got from https://github.com/nodejs/node/pull/24035 but I have not taken a closer look

[code]

[2018-11-07 07:35] pmatos opened #24217 "NodeJS fails to build on archlinux x86_64, write error"
I am trying to compile node on an archlinux, x86_64 machine `4.18.14-arch1-1-ARCH`.

I do the recommended steps:
[code]

I tried `-j1`, `-j2` and all end up in the same way. A massive command line calling `ar` and a failure:
[code]

[2018-11-07 07:53] joyeecheung commented on #24211
I looked into this a bit further - going hard-private in URL/URLSearchParams seems more complicated than I thought. For one, the symbol properties are displayed in `util.inspect` through `showHidden`, that is useful when debugging internals, it's still debuggable with WeakMap but that's less straightforward. Also it requires a bit of refactoring to put them into WeakMap, so I am inclined to just m

[2018-11-07 09:54] hermanbanken commented on #18973
True, this has nothing to do with this issue.

For your interest: I found that [UWS relies](https://github.com/nodejs/node/issues/7627#issuecomment-232197482) on `net.Socket._handle.ssl._external`. This seems to be gone from Node 10. I'm still looking for if that `_external` property is somehow exposed elsewhere (if you know how: please tell!). UWS has an internal HTTP & SSL implementation, which

[2018-11-07 09:56] addaleax commented on #18973
@hermanbanken Fyi, there’s some context in https://github.com/nodejs/node/pull/21711. It’s temporarily added back, but please take this up with the maintainers of UWS, because this is not a permantent solution (if it is unmaintained, you might have to look into finding new people to maintain it :/).

[2018-11-07 09:58] hermanbanken commented on #18973
Eureka, I also just found https://github.com/nodejs/node/pull/21711.

[2018-11-07 10:11] bnoordhuis commented on #24217
That write error means the subprocess's stdout is in non-blocking mode. This issue is most likely a dup of #14752 and I'll close it as such.

[2018-11-07 10:11] #24217 closed

[2018-11-07 10:16] rvagg commented on #24024
12 seconds is surprising, even for a Zero. Node has pretty poor startup performance on Pi, thanks to V8 (which isn't invoked when you're doing a `-v`), but you should be seeing a max of maybe 1 or 2 seconds at the most. We regularly test on Pi1 B+'s in our CI and they're at 700Mhz while the Zero is clocked at 1Ghz and manage to do 300+ tests on each in not too much time.

What's the reason for com

[2018-11-07 10:17] rvagg commented on #24024
[flamegraph.svg.zip](https://github.com/nodejs/node/files/2556947/flamegraph.svg.zip)

This isn't very informative unfortunately. Maybe you could play around with [making your own](https://github.com/brendangregg/FlameGraph) and let us know if you come up with something that might indicate what to look for.

[2018-11-07 10:32] rvagg commented on #21897
Sorry I'm really late to this discussion! I've proposed a "solution" here https://github.com/nodejs/node/pull/24114 by means of maintaining a registry of `NODE_MODULE_VERSION` in nodejs/node master. It's a fairly simple way of allowing for a plethora of these values across all of the various uses. Perhaps we could eventually come up with better answers to these kinds of problems but for now this s

[2018-11-07 10:35] rvagg commented on #23433
not sure if we're still voting on this one, I weighed in @ https://github.com/nodejs/node/pull/23709, I'd prefer option 1.

[2018-11-07 10:38] rvagg commented on #23913
@refack if you're keeping track of this can you also record which arm64 machine it's happening on? I think this is the same as the error we had previously and it ended up occuring mainly (or only?) on one of the machines we have. There was a whole thread where I roped in openssl folks and packet.net folks but it was never fully resolved. IIRC it kind of died down. I'm sure the thread is still acti

[2018-11-07 11:20] avoio opened #24223 "Invalid leading slash in url.parse(fileUrl).pathname on Windows"
* **Version**: v10.13.0
* **Platform**: Windows 10 v1809
* **Subsystem**:

`url.parse` produces incorrect `pathname` for `file:///`-based URLs under Windows, it adds a leading slash which breaks other filesystem APIs like `createWriteStream(pathname)`. `path.normalize` doesn't fix it.

Example:

    var url = require("url");
    var path = require("path");
    var fileUrl = "file:///c:/Users/avo/t

[2018-11-07 11:45] rvagg commented on #23913
ftr test-packetnet-ubuntu1604-arm64-1 had a _ton_ of `node` zombies on it. I bet this is related (don't know which way it's related). It may be that this machine is dodgy. If we get enough evidence of this one being a culprit we can get packet.net to get into it and figure out what the problem might be, likely hardware IMO.

[2018-11-07 11:50] vsemozhetbyt commented on #24223
If it is appropriate, you can use [`url.fileURLToPath(url)`](https://nodejs.org/dist/latest-v10.x/docs/api/url.html#url_url_fileurltopath_url) now.

[2018-11-07 12:17] mcollina commented on #24111
@sam-github I don't think so, see https://github.com/nodejs/node/blob/master/lib/net.js#L611. Can you reproduce?

[2018-11-07 12:55] giltayar opened #24225 "Ability to constrain the total heap used by v8 and Node.js (--max-heap-size)"
**Is your feature request related to a problem? Please describe.**

Running NodeJS applications in a memory-constraining environment like Kubernetes is today problematic, because there is no way to tell NodeJS (and the v8 GC) how much *total* memory it has to work with. `--max-old-space-size` is a good start, but due to the way `Buffer` uses memory allocated outside of v8's heap (called "external

[2018-11-07 13:02] thefourtheye commented on #23433
@ChALkeR This would be tricky, as there is no offset passed by the users. So, if we are to emit warnings, only option is to emit them if file descriptors are used with `writeFile`.

[2018-11-07 14:04] giltayar commented on #24225
I have opened a sibling issue for v8: https://bugs.chromium.org/p/v8/issues/detail?id=8431

[2018-11-07 14:08] shigeki commented on #18770
@joransiu The output of https://ci.nodejs.org/job/node-test-commit-plinux/21338/nodes=ppcle-ubuntu1404/consoleFull is still existing.

I've found that a certain build option of Node.js causes the issue with a OpenSSL's commit of performance improvement for Power9. It can be resolved soon. Thanks.

[2018-11-07 14:33] bmeck commented on #24210
This does not only affect `node .` it affects all forms of loading that end in `.` or `..` such as:

[code]

This behavior does match the documentation, have we seen this in the wild or is this just a theory that matching the docs breaks existing applications?

Ideally things ending in `/.` or `/..` should check directories and never files since it is pointing to directories, but in the case of fi

[2018-11-07 14:41] Trott commented on #24120
Fails reliably, it seems on Raspberry Pi devices.

https://ci.nodejs.org/job/node-test-binary-arm/3931/RUN_SUBSET=0,label=pi1-docker/console

[code]

https://ci.nodejs.org/job/node-test-binary-arm/3931/RUN_SUBSET=0,label=pi2-docker/console

[code]

https://ci.nodejs.org/job/node-test-binary-arm/3931/RUN_SUBSET=0,label=pi3-docker/console

[code]

[2018-11-07 14:42] Trott commented on #24120
@nodejs/vm

[2018-11-07 15:21] #24193 closed

[2018-11-07 15:31] refack commented on #23913
I had a feeling that I've seen the `failed or bad record mac` mostly on `test-packetnet-centos7-arm64-1`, but the records point to more reports from `test-packetnet-ubuntu1604-arm64-1` with some from `test-packetnet-ubuntu1604-arm64-1`

For the time being I added `--openssl-no-asm` for `*centos7-arm64*` (https://github.com/nodejs/build/issues/1556)
Per: https://github.com/nodejs/node/issues/23913#

[2018-11-07 15:35] refack commented on #23913
Last 48 hour:

`test-packetnet-ubuntu1604-arm64-2` - https://ci.nodejs.org/job/node-test-commit-arm/nodes=ubuntu1604-arm64/19741/testReport/junit/(root)/test/parallel_test_tls_fast_writing/

`test-packetnet-ubuntu1604-arm64-1` https://ci.nodejs.org/job/node-test-commit-arm/nodes=ubuntu1604-arm64/19556/testReport/junit/(root)/test/parallel_test_tls_pfx_authorizationerror/

[2018-11-07 16:15] loretoparisi commented on #22940
I love this, thank you allo guys, in my case it will speed up 2x all my #MachineLearning stuff and processing algos  💯 👍 🥇 I will test this out and try in my [FastText.js](https://github.com/loretoparisi/fasttext.js) repo asap.

[2018-11-07 16:55] ciaranschutte commented on #24097
fixed by removing all node folders, reinstalling nvm, reinstalling node

[2018-11-07 17:11] psmarshall commented on #24097
Throwing when a typed array is constructed with a negative length argument is the correct behaviour according to the spec. I don't think we changed anything here recently, so the bug is most likely in node or one of the modules used

[2018-11-07 17:20] T94T commented on #24024
Good idea! I willl try the prebuilt binaries.

[2018-11-07 17:23] bmeck commented on #24210
@soldair yea, that difference would still occur with a fix unless we made the CLI use `require.resolve` instead of `path.resolve`. So no real net gain, the CLI is a bit odd. Just adding `/` for the CLI seems ok.

[2018-11-07 17:23] Trott commented on #23849
This appears to be done! (Thanks to whoever handled the onboarding.)

[2018-11-07 17:23] #23849 closed

[2018-11-07 18:31] misterdjules commented on #22822
@jasnell Do you mind elaborating on how this was resolved? I think it'd be helpful to mention it here for people who are not familiar with recent discussions on that topic.

My understanding is that the current default behavior will not change, and that additional opt-in behaviors (crash on next tick and silent mode) will be made available via command line options (from https://github.com/nodejs/n

[2018-11-07 18:37] hthomann commented on #24025
HI!  I agree that the DevTools Protocol View docs (https://chromedevtools.github.io/devtools-protocol/v8) leave much to be desired.  Don't get me wrong, now that I've gotten over a few hurdles and have been using it, I'm mostly happy with the docs.  But as a newbie, it was a challenge.  First, an example use case of a web socket client showing how to connect and how to make a few of the basic meth

[2018-11-07 18:38] sam-github commented on #24111
Can't repro, I'm not sure anymore what I saw when I took that note. Write sync emitting an error isn't specific to server half-close, it looks like its just generally how it works.

[code]

[2018-11-07 18:41] bnoordhuis commented on #24225
A script is going to get killed if it tries to allocate memory in excess of a limit, whether that's a Node.js limit or a kernel limit, so I don't know what you expect.

`Buffer.alloc()` could, in theory, throw an exception when a threshold is exceeded, but then what? Decades of C code not checking malloc()'s return value hints at what to expect and it's nothing good.

Node.js informs V8 about exte

[2018-11-07 18:44] jkrems commented on #24025
Docs can always be better. :) Though I think that documenting it on the node side is dangerous because the protocol isn't controlled by node. It's a V8 protocol and/or a Chrome protocol. The good news is that you can use the same implementation to allow users to remotely debug a Chrome instance (and some other kinds of processes by now). The bad news is that we're "just" consumers of this protocol

[2018-11-07 18:54] bnoordhuis commented on #24225
I suppose it could also perform an emergency GC when going over the threshold, in hopes of reclaiming enough Buffers / typed arrays to get below it again.

However, I don't expect that to be very effective because the GC is already quite aggressive. It seems unlikely there are generally enough unreachable objects to make a big difference.

[2018-11-07 19:04] eranif commented on #24025
@hthomann I plan on writing a beginners document once I have my implementation done. About the variables: I am still not sure how to get list of all locals + function arguments, but once you have the variable name (or expression) it basically using 2 methods:
`Debugger.evaluateOnCallFrame` - this will return an object ID
Next you can keep calling `Runtime.getProperties` with the object ID returned

[2018-11-07 19:40] psmarshall commented on #24225
This is about the specific case where you do have enough unreachable memory for the GC to be effective, but the GC is never triggered. A way to configure a total memory (or even just an external memory limit in this case) would let V8 attempt a GC.

[2018-11-07 19:40] tetreault commented on #10137
I have this issue in node 10.4.0, working in react native and Viro Media AR library. I'm only loading 1 3d model and its textures, both of which are very reasonable in size.

Stack trace:

[code]

[2018-11-07 20:04] keanamaral commented on #19997
Here is how it got fixed for me but I have no idea why/how.  I just got a new computer and downloaded node and yarn but not used either and was getting this error for EVERY node file.  So here is what I did.

Instead of typing "node server.js" in terminal prompt, I just typed "yarn" and hit enter.
Let yarn download all its dependencies and yarn.lock file.  I then deleted yarn.lock file.
and entere

[2018-11-07 20:17] yordis commented on #19393
Since this issue is close I am really confused about what we will do moving forward.

Will Node implements `fetch` API or not?

We get stuck in an endless conversation about personal preferences about the specification where most of `us` just want a common API between the browser and Node, aka `fetch` specification.

Maybe be a little pragmatic and improve over time.

Look at these numbers:

[code

[2018-11-07 20:37] vsemozhetbyt opened #24231 "repl: handling multiline history needs some case guards"
* **Version**: master
* **Platform**: Windows 7 x64
* **Subsystem**: repl

1. [Recently added](https://github.com/nodejs/node/pull/22153) REPL multiline history handling streamlines multiline expressions into one-line expressions, but line comments may change syntax and hang execution:
[code]
This is relevant if someone pastes copied code blocks with line comments in the REPL. It seems comments ne

[2018-11-07 20:39] vsemozhetbyt commented on #24231
This is relevant if someone pastes copied code blocks with line comments in the REPL.

[2018-11-07 20:49] ChALkeR commented on #23433
@thefourtheye
As I understood, (1) changes the behaviour of `.writeFile` in case when a file descriptor with a non-zero offset is passed, and (2) changes the behaviour of `.readFile` when a file descriptor with a non-zero offset is passed.

What I described above is (1) + a warning about behaviour change emitted the first time `.writeFile`/`.writeFileSync` is used on a file descriptor with a non-z

[2018-11-07 20:52] vsemozhetbyt commented on #24231
Another case that needs special handling, multiline template literals:
[code]

[2018-11-07 20:52] ovhemert commented on #23312
I believe the `if (!stream.pushAllowed)` check, hides the actual problem for you.
When you removed that line, `Error [ERR_HTTP2_PUSH_DISABLED]: HTTP/2 client has disabled push streams` occurred.

This means that you cannot use `stream.pushStream` for this client and your code will not reach that statement because of the `if (!stream.pushAllowed) { return; }`.
So your line `//not adding further pus

[2018-11-07 20:57] Trott commented on #23433
Seems to be consensus around option 1, or at least that's the closest to consensus? Is that correct?

[2018-11-07 21:13] apapirovski commented on #23433
+ on option 1 from my end.

[2018-11-07 21:16] Fishrock123 commented on #23433
I prefer Option 1.

[2018-11-07 21:52] tniessen commented on #15113
@tlbdk I proposed an API in https://github.com/nodejs/node/pull/24234, for now, it does not support engine key objects, but we can definitely add support later once the API has been established.

[2018-11-07 22:16] jeremyBanks commented on #19393
heh

https://github.com/denoland/deno/blob/master/js/fetch.ts

[2018-11-07 22:51] rvagg commented on #23913
yeah, let's not turn asm off totally for arm64 since we're shipping arm64 binaries without this option at the moment and it's not something we want left uncovered!

[2018-11-07 23:46] #24080 closed

[2018-11-08 00:14] Trott commented on #20628
https://ci.nodejs.org/job/node-test-binary-arm/3941/RUN_SUBSET=2,label=pi2-docker/console

[code]

[2018-11-08 01:16] antsmartian commented on #24231
Thanks. I will have a look at it today.

[2018-11-08 01:57] antsmartian commented on #24231
@vsemozhetbyt: The second issue, I guess I couldn't able to reproduce it (atleast on master).

[code]

[2018-11-08 04:34] shobhitchittora commented on #24053
Yeah! Happens with Map iterator too. Any idea how to debug in c++. I'm using lldb and find it difficult to inspect values.

https://github.com/nodejs/node/blob/56ce6f191dda2ee8539657e3746603bb84958a21/src/node_util.cc#L91

[2018-11-08 04:54] Trott commented on #21388
Given that 6.x is in Maintenance mode, should we close this as a wont-fix?

From https://github.com/nodejs/Release#release-plan:

[2018-11-08 05:02] ofrobots commented on #21388
Agree on closing as wont-fix.

[2018-11-08 05:02] #21388 closed

[2018-11-08 05:35] addaleax commented on #24053
@shobhitchittora Have you seen https://github.com/nodejs/llnode/? It’s pretty neat for debugging Node/V8 code.

[2018-11-08 05:57] shobhitchittora commented on #24053
@addaleax Sounds cool! Thanks. Let me have a look at it.

[2018-11-08 06:14] ho-dor commented on #23884
Can I work on this as this has a good first issue tag? @refack

[2018-11-08 07:02] GongT commented on #24099
Yes, I forgot them...

I know pipes is implemented by events, can I assume this won't change?

If it won't change in near future, I think I can use "newListener"(type=data) and "removeListener" event.
If no promise about this, maybe some similar API is required...

[2018-11-08 07:06] shobhitchittora commented on #24053
More investigation shows that the latest Chrome also has the same behavior. Checking v8 bug list for the same.

[2018-11-08 07:07] Trott commented on #16164
Still an issue in Node.js 11.1.0.

[2018-11-08 07:46] hashseed commented on #16164
@mlippautz do we have any plans to address right trimming in the near future?

[2018-11-08 07:46] vsemozhetbyt commented on #24231
@antsmartian H'm, I cannot reproduce now as well. Maybe I've got some flaky condition then. But we still have an issue: line breaks are part of the code in multiline template literals, they may need to be saved so that restored line would be the `a\nb\nc`, not the `abc`.

[2018-11-08 07:51] antsmartian commented on #24231
Hmmm, but current history doesn't show as `\n` indeed. Its the result of an expression, but history just saves what user types right? Not the result. Thoughts?

[2018-11-08 07:56] vsemozhetbyt commented on #24231
I mean, for me it seems this cases should be handled equally:
[code]
Otherwise, we had wrong value second time.

[2018-11-08 10:07] vieks opened #24244 "[N-API] Remove unnecessary|misleading warning"
About napi_get_buffer_info

https://nodejs.org/api/n-api.html#n_api_napi_get_buffer_info

node Buffer are allocated outside of the V8 instance, so the following message from the doc:

How could it be managed by the VM ?
If so ( ??? explanation ) how to get a zero copy with N-API from a node buffer from javascript-land into the native module-land ?

[2018-11-08 10:42] addaleax commented on #24053
@shobhitchittora Okay, sounds like nothing we could fix on the Node side? If you end up fixing this in V8 and want any guidance on how to submit a patch to them (this can be tricky if you’re not familiar with it), just let us know. :)

[2018-11-08 10:44] addaleax commented on #24099
So … it’s not going to change without a semver-major release, and I don’t know that anybody has plans to change this. I don’t know if that’s good enough for you?

[2018-11-08 10:47] addaleax commented on #24244
(Almost?) All `Buffer` object lifetimes are managed by the VM – a `Buffer` is basically an `Uint8Array`, and while the memory itself is not allocated on V8’s heap, the memory is still freed when the `Uint8Array` is garbage collected.

[2018-11-08 10:53] hashseed commented on #24053
I already have a fix. Coming up soon.

[2018-11-08 12:49] T94T commented on #24024
The prebuilt binaries start much, much faster! Don't know where the problem with the manually compiled ones is.

[2018-11-08 14:19] pipobscure opened #24249 "Graduate experimental N-API feature napi_threadsafe_function"
I reworked `fsevents` to use N-API. For that I had to use the `napi_threadsafe_function` family of features, which are currently behind *experimental*. They work like a charm.

Can we graduate these out of experimental, backport them to v8.x and bump the N-API version?

See: https://github.com/strongloop/fsevents/pull/237

(Came out of a discussion with @mhdawson)

[2018-11-08 15:46] GongT commented on #24099
Ok, I think it's enough to do my job now, sorry.

[2018-11-08 15:46] #24099 closed

[2018-11-08 16:42] sam-github commented on #24095
re: `server.getContext(hostname)`... You would like the default SNICallback exposed? You can find it (totally unsupported) here:
[code]
It is the inverse of `addContext()`. I could arrange for it to be exposed if that is what you need.

However... I'm confused by your later discussion of the `SubjectAlternativeName`s... those aren't in the `SecureContext`. That makes it sound like you want the X.5

[2018-11-08 16:43] refack commented on #24120
Still there testing https://github.com/nodejs/node/commits/8920d5d896b3f9b5df47b02e779ab49136cca085 which includes d8e06b23b047b52c96ee01f7afb436aad4610c71:
[code]
https://ci.nodejs.org/job/node-test-commit-arm-fanned/4141/
https://ci.nodejs.org/job/node-test-binary-arm/3949/RUN_SUBSET=0,label=pi2-docker/console
https://ci.nodejs.org/computer/test-requireio_svincent-debian9-armv7l_pi2-1

[2018-11-08 16:52] rektide commented on #11865
V8 now offers an `--async-stack-traces` flag! See: https://github.com/v8/v8.dev/pull/49/files#diff-af1399a75d6310211a72be0dc2571ea5R44

I'm not sure what if any Node's support this new V8 capability.

[2018-11-08 17:04] moberemk commented on #11865
Current release (Node 11) just updated to v8 7.0; looks like the async stack traces are coming in 7.1 if I'm reading this right, so hopefully it'll be coming soon.

[2018-11-08 17:07] coolaj86 commented on #24095
Re default `SNICallback`: No, it's easy enough to keep track of that, but I don't have a clear use case for doing so.

Re `SubjectAlternativeName`s: Yes, I need the information found on the certificate(s) associated with a domain. The more technically correct answer would be that I _should_ get the certificate that is associated with the current session. For all practical purposes, just knowing th

[2018-11-08 17:10] hashseed commented on #11865
This V8 feature is still experimental and depends on a spec change to a particular detail of async/await. It also isn't able to reconstruct the full stack trace in some cases. But it's better than nothing. I hope you can use it by Node 12, but you probably can already check it out with Node Canary.

[2018-11-08 17:34] refack commented on #24084
Added another class - `superseded`

[2018-11-08 17:35] coolaj86 commented on #24095
Many sites have done this over the years (ostensibly due to the expense of wildcards in comparison to listing multiple domains on a single cert). In particular virtual hosting sites (similar to but not necessarily including heroku and wix - I've personally witnessed it).

Let's Encrypt has rate limits, so they encourage putting up to 100 names on a single certificate: https://letsencrypt.org/docs/

[2018-11-08 17:47] Trott commented on #24120
At least it's flaky now and not reliably failing. Will take a look. Solution might be to make the timeout bigger, which will make the test slower once we get it out of `known_issues` but shouldn't be a deal-breaker.

[2018-11-08 18:13] masaeedu commented on #12870
@gireeshpunathil In the general case, is there some point beyond which we can expect to only see `exit` events and not `error` events? My understanding is that an `open` even would be dispatched at whatever moment it becomes impossible to receive an `error` event.

If there is no such point in the lifetime of arbitrary child processes beyond which they cannot raise `error`, is it instead possible

[2018-11-08 18:44] srl295 opened #24253 "check minimum ICU version for system-icu"
* **Platform**: all
* **Subsystem**: deps

See https://crbug.com/v8/8401

Need to check that the system ICU meets minimum requirements.

Missed this with #19657

[2018-11-08 18:46] srl295 commented on #24253
also note that with the crbug above, ICU version 63 will be required and need to be bumped in `tools/icu/icu_versions.json` (from 57 to 63)…

[2018-11-08 18:50] mlippautz commented on #16164
1) It's unclear whether the fast version was exercising a right trimming path? Can we figure that out?
2) If it is right trimming related then the regression has to be related to GC running during benchmarking because that's where the codepath changed. There's nothing we can do here as we have to perform atomic reads and writes.

[2018-11-08 19:37] bnoordhuis commented on #24085
We're not changing the default behavior and making non-cooperative processes cooperate is not actionable/reasonable as feature requests go, so I'll go ahead and close this out.

You could start node with `-r your-preload-script.js` and have it set up signal handler (`process.on('SIGUSR1', ...)`) that starts the inspector on a random port and write the port number to some well-known file location.

[2018-11-08 19:37] #24085 closed

[2018-11-08 20:00] bnoordhuis commented on #24225
Okay, I guess that's something we can try out. I'm confused by this:

If you mean a V8 flag or setting, then there's no need for an issue here, right? That trickles down to us eventually.

If instead the idea is that Node.js tracks external memory usage and invokes the garbage collector when it exceeds a threshold, then the first order of business is to come up with something more official than `v

[2018-11-08 20:21] bnoordhuis commented on #24024
Did you by chance build a debug build? What's the size of your executable vs. the official ones?

[2018-11-08 21:01] refack commented on #23913
Initially I saw it only on one specific machine, but since it seems to be happening on all 4 arm64 public CI workers (2 x centos7 + 2 x ubuntu1604).

[2018-11-08 21:20] iammaxhi commented on #13185
https://tutorialforlinux.com/2018/10/16/solving-fedora-26-64-bit-openssl_1-0-0-not-found/

[2018-11-08 21:38] Trott commented on #24244
Open to suggestions/PRs to make the doc text clearer, but for now, I'm going to close this as an answered question. Feel free to re-open or comment if you think this has been insufficiently addressed.

[2018-11-08 21:38] #24244 closed

[2018-11-08 21:50] Trott commented on #7803
I wonder if there would be resistance to adding more stuff to `process` in general? (I assume that's where this requested property would live.)

[2018-11-08 21:57] Trott commented on #8369
Seems to be working on macOS and Linux, but not on Windows. However, for Windows, there's an issue at #10838. So I'm going to close this. However, if I'm wrong to do that, leave a comment. Just doing some tidying around the issue tracker....

[2018-11-08 21:58] sam-github commented on #24095
@coolaj86 is https://github.com/nodejs/node/pull/24261 what you were looking for?

[2018-11-08 22:10] Trott commented on #8443
Am I right to interpret the overall discussion result as "unlikely to implement such an API in core"?

[2018-11-08 22:13] Trott commented on #10843
My impression is that the answer to the "when will domains be removed?" question is "quite possibly never." And the answer to the "what will domains be replaced with?" question is "kinda sorta async_hooks but mostly kinda sorta." While perhaps not the most satisfying answers, I wonder if that's basically what we have, and if so, perhaps this can/should be closed?

[2018-11-08 22:16] Trott commented on #24121
I'm going to move this to the `help` repo in the hopes that it attracts attention there that it is not getting here. If that's not the right repo, feel free to comment (or if you're an org owner, move it back yourself if you'd like!).

[2018-11-08 22:39] Trott commented on #23716
Fixed in 7d86a53

[2018-11-08 22:39] #23716 closed

[2018-11-08 22:53] maxmaxmaximus2 commented on #10838
2018..... 9:11... not fixed in windows

[2018-11-08 23:28] ofrobots commented on #23675
I have tried a few different environments (chroot, docker, docker with gvisor) and am unable to reproduce the the issue. Also, I don't have any ideas why the uv handle would be pointing to a region of memory painted with 0x45 (ASCII 'E').  I am not sure how to progress further on this. @AdamMajer if you're able to find any more information on your, please do let us know here.

[2018-11-08 23:32] coolaj86 commented on #24095
Oooh! That looks very nice. It's not clear to me from the example the altnames are represented there, but it looks like they might be and I've got a way to figure that it if not.

While you're in that code... could you possibly also expose the function that parses the PEM as well?

Thanks a bunch! Do you have a "buy me a coffee" button somewhere?

[2018-11-08 23:32] danderson00 opened #24262 "Module resolution should not throw exceptions, even if they are handled internally"
**Is your feature request related to a problem? Please describe.**
Module resolution throws many exceptions during the module resolution algorithm. These exceptions are handled internally by the module resolution algorithm, but it makes attempting to debug handled exceptions virtually impossible.

After all, it's a fundamental rule of programming that exceptions shouldn't be used for flow control.

[2018-11-09 00:00] devsnek commented on #24262
you can just blackbox node internals in the debugger.

[2018-11-09 00:15] danderson00 commented on #24262
@devsnek Could you by any chance provide me with a guide on how to do this with VS Code? Thanks in advance!

[2018-11-09 00:16] danderson00 commented on #24262
Never mind, I found it https://code.visualstudio.com/docs/nodejs/nodejs-debugging#_skipping-uninteresting-code-node-chrome

[2018-11-09 01:09] isiahmeadows commented on #8443
@Trott For ESM, that would likely be correct for now. I plan to, once I find some time, work on a hot swapping/etc. system for CommonJS and then seek a TC39 champion with my findings after I get something that works, because this kind of thing is generally useful, especially for zero-downtime updates, but it's currently impossible to implement for ESM without spec violations or other things that s

[2018-11-09 01:11] adi518 commented on #23838
Experienced something similar. I opt'ed in. It ran the script, rebooted, ran its post-reboot script and rebooted to a black screen. I don't know if it rebooted several times because I wasn't even seeing the Windows loader. Hitting the reset button few times didn't knock it out, so I ended cold-booting and then Windows finally came up. Then, another script pop, it tried to install few redistributab

[2018-11-09 02:20] rvagg commented on #7803
FYI the arm version should be fixed for Node 10+ since we're properly cross compiling with our own custom toolchain now and it's working really well. That's not the focus of this issue but it's relevant to some of the discussion.

I think I'd be OK with a `process.arch_variant` or something similar, that would be `null` on most platforms. I'm not sure an arm-specific property is a great idea. I st

[2018-11-09 04:54] avwo commented on #23921
I also have this problem when running [whistle](https://github.com/avwo/whistle) on Node v11.1.0 in Windows. There is no such problem in `< v11` version.

![Infinite loop](https://user-images.githubusercontent.com/11450939/48244028-62a60780-e41e-11e8-8162-179713f710ac.gif)

[2018-11-09 05:24] AndyRoush opened #24263 "Node End of String Concatenate Error"
* **Version**: v8.11.1 (Windows), 10.10 (Mac), 10.11(Mac), 10.12(Mac), 10.13(Mac)
* **Platform**: Windows 64-bit, Mac OS 10.12.6

When we concatenate at the end of the string it adds it to the beginning of the string. We've shown in multiple ways on multiple environments, and it persists. Please see my repo posted below. Thanks and have a nice day.

https://github.com/AndyRoush/nodeEndStringConcat

[2018-11-09 05:47] Trott commented on #24263
Linked repo is not an obvious reproduction of any bug in Node.js.

[2018-11-09 05:55] Trott commented on #24263
Generally it's a good idea to include some indication of expected output vs. actual output in these kinds of bug reports. I'm not seeing any behavior I don't expect.

From the linked repo (currently at commit hash 0b062ef170a561ee0300dcefab0dd628b9cc0ff4), I get this output:

[code]

Based on the code and the data file, that's exactly what I'd expect. I'm going to close this, but feel free to comm

[2018-11-09 05:55] #24263 closed

[2018-11-09 05:58] Trott commented on #24263
(Oh, I ran it with Node.js 10.13 on macOS 10.13.6.)

[2018-11-09 06:33] Trott commented on #23089
Made it's return on FreeBSD today:

https://ci.nodejs.org/job/node-test-commit-freebsd/21777/nodes=freebsd11-x64/console

[code]

[2018-11-09 06:38] shisama commented on #22686
I had been waiting for the PR someone open. However, it seems not to be opened. So, I implemented on #24252
Please mention to me if someone open the PR implementing this.

[2018-11-09 07:07] oyyd commented on #24105
https://github.com/nodejs/node/blob/bd8c1078941a7a6de93892fe529868adee357917/doc/api/http.md#L1779-L1786

In fact, The `options` argument is added in v9.6.0  so that it don't pass `requestListener` to `http.Server` in v8.12.0.

[2018-11-09 07:30] SergeyFromHell opened #24266 "Node v11 6x crypto hash performance degradation"
* **Version**: v11.1.0
* **Platform**: Linux
* **Subsystem**: Crypto

I met a big performance degradation (about 6 times) with updating node version from 10.13.0 to 11.1.0. The scenario is: calculating many sha1 hashes of small strings (in my case theese are URLs, so about 20-50 bytes each).
[code]

node 10 output:
[code]

node 11 output:
[code]

[2018-11-09 08:31] targos commented on #24266
/cc @nodejs/crypto

Most of the time is spent setting up the deprecated `_handle` property here:
https://github.com/nodejs/node/blob/52c548b05d294765f0d2f0e39a9e5552fb007b2f/lib/internal/crypto/util.js#L35-L43

[2018-11-09 08:35] brokencube commented on #24105
Looks like it was backported for v8.12.0:
https://github.com/nodejs/node/pull/21593

and from the [Release notes from v8.12.0](https://github.com/nodejs/node/releases/tag/v8.12.0):

[2018-11-09 08:39] targos commented on #24266
I'm trying a fix

[2018-11-09 08:46] oyyd commented on #24105
Yeah, but the code of `v8.x-staging` seems not:

https://github.com/nodejs/node/blob/26d145a77f63ecd3713f344f404ea9dd862edb39/lib/http.js#L33-L35

I'm not sure if I have missed something.

[2018-11-09 09:15] targos commented on #24266
https://github.com/nodejs/node/pull/24269

[2018-11-09 09:17] brokencube commented on #24105
Ah, apparently the http change got backed out of the merge: https://github.com/nodejs/node/pull/20456#issuecomment-389226847

[2018-11-09 10:05] benjamingr commented on #19393
1M downloads is less than I have on several packages I help maintain (like bluebird or sinon) - but I have no intention or want to pursue adding them to core. There are several other HTTP libraries:

 - request: 3,260,795 weekly downloads
 - axios: 835,153 weekly downloads

The fact something is popular does not indicate we should add it to core (like lodash, request or express).

The primary moti

[2018-11-09 10:29] MarioAnes commented on #23838
Yup, same here.  I figured since it's LTS, it was safe to install.  I also had Chocolatey already installed on my machine before installing Node 10

[2018-11-09 10:30] gireeshpunathil commented on #14785
just wondering whether we should document this [here](https://github.com/nodejs/node/blob/master/BUILDING.md#aix) . thoughts?

[2018-11-09 10:59] bnoordhuis commented on #23913
https://github.com/nodejs/node/pull/24270

[2018-11-09 12:47] Trott opened #24273 "Investigate flaky sequential/test-inspector-open"
https://ci.nodejs.org/job/node-test-commit-osx/22509/nodes=osx1011/console

[code]

[2018-11-09 12:51] Trott commented on #24120
Fixed in a4a2e9f

[2018-11-09 12:55] joyeecheung commented on #23192
Updated the TODO list now that https://github.com/nodejs/node/pull/24035 landed

[2018-11-09 12:58] Trott commented on #8369
FWIW, I closed it because I'm under the impression that the remaining issue is actually caused by that bug, not because a fix is partially blocked by that bug.

[2018-11-09 13:18] joyeecheung commented on #19393
If this is talking about fetch, the fetch standard only started to come into shape around 2014 e.g. [this was the commit](https://github.com/whatwg/fetch/commit/2e82a88634f0cd23de1977b11b36d1e907d01f5c) that made fetch return a promise.

I doubt if that's possible without introducing compatibility pain - refactoring can be done for sure but the current implementation has to stay and be deprecated

[2018-11-09 14:03] mjgs commented on #22952
@trott Thanks ... problem is no longer happening, I was able to generate docs for node v12.0.0  using [latest node version](https://github.com/mjgs/node/tree/52c548b05d294765f0d2f0e39a9e5552fb007b2f) and view locally in a browser.

[2018-11-09 14:10] mcollina commented on #23338
If `autoDestroy: false`  `'close'`  is  not emitted. However by flipping `autoDestroy: true`  when creating the stream, then it will be emitted automatically, in the right order.

[2018-11-09 14:49] pipobscure commented on #24249
Interestingly enough, I found that the `napi_threadsafe_function` family of features are actually entirely unnecessary. That is because the entire 1.x branch of *libuv* is API/ABI stable to begin with.

Now that being said, it's a nice wrapper that may be easier to use than interacting directly with *libuv*, so I'm not saying it should be dropped.

[2018-11-09 15:07] shigeki commented on #23913
@refack I need to check and compare asm binaries between ones build in Node.js and in bare openssl-1.1.0. This needs for me to login the server and work on it as I did in plinux/smartos issues in OpenSSL-1.1.1. If it is not allowed, please download https://www.openssl.org/source/openssl-1.1.0i.tar.gz, build it and give me its tar.gz together with built Node.js tar.gz.

[2018-11-09 15:32] apapirovski commented on #23921
@avwo see https://github.com/nodejs/node/issues/24203 and the associated PR. The cause is the same after looking at the source for Whistle.

[2018-11-09 15:34] Magabemarwa opened #24275 "Mouse misbehaving"

[2018-11-09 15:54] #24275 closed

[2018-11-09 16:16] Dzenly commented on #22088
Maybe we could have warning: "Process is exited, but you have pending promises, created on the `file:xxx:yyy`".

[2018-11-09 16:31] apapirovski commented on #23921
@avwo I found the bug. PR upcoming later today.

[2018-11-09 16:43] sam-github commented on #24095
I'd like to, but that would take more thought as to API. It might even require a new X.509 object type. https://www.npmjs.com/package/asn1.js may be your best bet for that ATM.

[2018-11-09 16:46] sam-github commented on #24095
SANs are supported, though as @bnoordhuis points out, there are no docs for the object fields. Sorry.

https://github.com/nodejs/node/blob/8884a98ac0554140f366c58be246cb02c2008670/src/node_crypto.cc#L1607

[2018-11-09 17:08] tniessen commented on #24266
Thanks for reporting this, @SergeyFromHell, and thanks for fixing it, @targos!

[2018-11-09 17:52] adrianhelvik opened #24277 "import.meta.dirname"
Hi! From the specs for import.meta I can see that it specifies that host supplied data can be provided. `__dirname` has served us well. `import.meta.url` is very clunky to use. Will you provide an `import.meta.dirname`?

[2018-11-09 18:08] devsnek commented on #24277
Out of curiosity, what are you using `__dirname` for?

[2018-11-09 18:11] apapirovski commented on #23921
@avwo Are you certain you're running this on 11.1.0? I just double checked after freshly compiling from master and I don't see this behavior for the whistle tests. I do see this behaviour with 11.0.0. (I was previously running an old build of master when I had confirmed the bug above.)

[2018-11-09 18:18] targos commented on #24277
@devsnek I can give you an example of how I often use `__dirname`:

[code]

[2018-11-09 18:19] devsnek commented on #24277
@targos in your situation, `new URL('data.txt', import.meta.url)` will perform the resolution you want

[2018-11-09 18:43] richardlau opened #24278 "compilation errors trying to build `v11.x-staging` or `master` on Windows"
* **Version**: v11.x-staging/master
* **Platform**: 64-bit Windows 10
* **Subsystem**: build

I'm running into compilation errors trying to build `v11.x-staging` or `master` on Windows:
[code]
[Full build log](https://gist.github.com/richardlau/c7868f62cc9a0425dda55c2b71dad10f)

Building `v10.x-staging` succeeds on the same machine (only difference is `git checkout` and I have tried `git clean -fd

[2018-11-09 19:15] misterdjules commented on #23348
Submitted a proof-of-concept PR at https://github.com/nodejs/node/pull/24279. @vdeturckheim @mhdawson I would be grateful if you had the time to give me some feedback on that :)

[2018-11-09 19:19] adrianhelvik commented on #24277
I often use it for:

[code]

Okay, the url workaround works, but it is annoying, plus the spec allows extensions in a way that seemed tailored for the node/browser-schism.

I would really love this.

[2018-11-09 19:34] devsnek commented on #24277
but it would seem you're comparing it to strcat, which is very very incorrect, you should be using `path.resolve`/`path.join`.

[code]

sure, that doesn't mean we need to add properties just for the sake of adding properties.

[2018-11-09 20:07] refack commented on #24278
@richardlau can you paste the version of CL (running `cl` will print it and err)
[code]

[2018-11-09 20:12] refack commented on #24278
Also you can try generating the configuration with:
[code]
(that is with no `ltcg` and `with-pch`)?

[2018-11-09 20:12] richardlau commented on #24278
Not for a while. It's my work machine and I'm now out of the office until 19th Nov. (Only ran into this while trying to test https://github.com/nodejs/node/pull/24265#issuecomment-437437576).

[2018-11-09 20:14] richardlau commented on #24278
At first I thought it might be set up but I checked I could still build v10.x-staging. The machine definitely had Visual Studio 2017 but I'd need to be on it to get the exact compiler version.

[2018-11-09 20:16] refack commented on #24278
I'll try to reproduce some other way...
Enjoy your time OOO.

[2018-11-09 23:39] #22952 closed

[2018-11-10 02:29] Trott commented on #24045
Closing due to inactivity. If this is still an issue for OP and they can post the output requested above, feel free to re-open!

[2018-11-10 02:29] #24045 closed

[2018-11-10 02:31] Trott commented on #24040
Based on that, I'm going to close this. Feel free to comment and/or re-open if a closer-to-real-world benchmark shows this kind of performance difference.

[2018-11-10 02:31] #24040 closed

[2018-11-10 02:33] Trott commented on #24039
Should this be closed for the time being? If not, what is the condition for closing?

[2018-11-10 02:35] Trott commented on #24036
Marked as `blocked` until it's fixed upstream.

[2018-11-10 02:39] aslushnikov commented on #24209
Any updates on this? This is really unfortunate since scripts just hang in inconsistent state without letting users know that something's wrong.

[2018-11-10 02:55] Trott commented on #23422
Seems like https://github.com/nodejs/node/issues/23913 might be the real issue. I'm going to close this.

[2018-11-10 02:55] #23422 closed

[2018-11-10 03:03] Trott commented on #23261
Closing as this is basically now a duplicate of https://github.com/nodejs/node/issues/23913.

[2018-11-10 03:03] #23261 closed

[2018-11-10 03:08] Trott commented on #23420
Error in the log file appears to be this:

[code]

Since yocto is apparently Linux, maybe some variation on https://stackoverflow.com/a/5757638/436641 might fix the problem?

[2018-11-10 03:10] Trott commented on #23185
@vmarchaud Are you still experiencing this problem?

[2018-11-10 03:13] Trott commented on #22782
Because I'm not sure what else to do to get attention on this, pinging people who are active on the project who have more than 3 commits in `lib/querystring.js`: @mscdex @cjihrig @TimothyGu

[2018-11-10 03:30] Trott commented on #21465
I don't suppose there's anything to report on this at this time, is there?

[2018-11-10 03:32] Trott commented on #21130
I'm going to mark this as stalled and close it. Feel free to comment or re-open if you believe that's the wrong thing to do here.

[2018-11-10 04:37] mscdex commented on #22805
This is still an issue with the node v10.13.0 tarball.

[2018-11-10 06:35] snakamura opened #24281 "stream.resume() doesn't make the stream flowing after removing readable listener"
* **Version**: v10.13.0
* **Platform**: Darwin planata.local 17.7.0 Darwin Kernel Version 17.7.0: Wed Oct 10 23:06:14 PDT 2018; root:xnu-4570.71.13~1/RELEASE_X86_64 x86_64 i386 MacBookPro14,2 Darwin
* **Subsystem**: stream

With v10.13.0, stream.resume() doesn't make the stream flowing after removing `readable` listener. Here is a code to demonstrate the problem.

[code]

Note that you need to nam

[2018-11-10 07:15] avwo commented on #23921
@apapirovski I tried it many times and I can definitely have this problem on 11.1.0. This problem is not easy to reproduce. I need to whistle for a while. I am trying to find the code that triggered this bug.
![loop2](https://user-images.githubusercontent.com/11450939/48298633-6a87a980-e4fb-11e8-9265-83d27cf33f2d.gif)

[2018-11-10 07:45] targos commented on #24281
@nodejs/stream

[2018-11-10 07:45] targos commented on #24281
@nodejs/streams

[2018-11-10 08:14] vmarchaud commented on #23185
@Trott I believe its still a problem but i need to verify against the latest 10.x or 11.x version.

[2018-11-10 09:30] vsemozhetbyt commented on #24209
maybe cc @nodejs/promises-debugging

[2018-11-10 11:37] Crophone opened #24282 "LTS support problem between 10.13.0 and 10.10.10"
* **Version**:10.13.0
* **Platform**: 64-bit
* **Subsystem**:Windows 10

when I use the LTS version 10.13.0 of node, I use the command "npm install" to download the required packages of my private repository. The process of downloading package stopped and  a "asyncWrite is not a function" error was reported. Later  I use the 10.10.0.  version of node, the directive was executed, though there were

[2018-11-10 11:44] #22523 closed

[2018-11-10 11:55] antsmartian commented on #23338
@mcollina If I understood it correctly, I did moved the code to use `autoDestroy`, can have a look at [here](https://github.com/nodejs/node/compare/master...antsmartian:stream-close?expand=1). But this doesn't seems to be working (at least with the below example):

[code]

I'm sure, I'm missing something here. Also, there is already a property called `autoClose` which is by default `true` which me

[2018-11-10 13:06] MylesBorins commented on #22805
/cc @nodejs/build

On Sat, Nov 10, 2018, 5:37 AM mscdex <notifications@github.com wrote:

[2018-11-10 13:09] ronag opened #24283 "res.finished starts as true for HEAD requests from CURL"
For some reason this fails... which is rather strange?

[code]

[code]

[2018-11-10 14:18] ronag commented on #24283
Might be a http2 vs http discrepancy?

[2018-11-10 14:30] patoi opened #24284 "Undocumented NODE_TLS_REJECT_UNAUTHORIZED environment variable"
* **Version**:
v8 LTS, v10 LTS, v11 Current
* **Platform**:
All
* **Subsystem**:
Documentation

Missing **NODE_TLS_REJECT_UNAUTHORIZED** environment variable description on https://github.com/nodejs/node/blob/master/doc/api/cli.md

[2018-11-10 14:40] mohamedhaded commented on #5261
you have to open the cmd as administrator and try again with npm install

[2018-11-10 15:16] ccoenen commented on #5261
that is really bad advice. please don't run npm with administrator privileges or sudo.

[2018-11-10 16:57] Trott commented on #24282
I'd guess this is an issue with a package and not Node.js. It would also be useful to know what versions of `npm` were involved. When `npm install` results in an error, it typically prints a fair amount of diagnostic information. It would be useful to have that information. Also, your package.json contents would be useful. Thanks.

[2018-11-10 16:58] Trott commented on #24282
I'm going to move this to the `help` repo. (It can always be moved back if it turns out it is a problem with node core.)

[2018-11-10 19:09] Flarna opened #24287 "Configure Bot to inform PR owner about failed CI"
**Is your feature request related to a problem? Please describe.**
I happened twice to me that I submitted a PR, automatic CI failed but I forgot to take a look resulting in PR lying around longer then needed.

**Describe the solution you'd like**
Bot should inform PR owner about failed CI.

[2018-11-10 20:42] cjihrig commented on #22782
I think this needs to be a bigger discussion than just `querystring.stringify()`. If we accept `Map`s here, should we also accept them for HTTP headers, child process environments, etc.

[2018-11-10 22:16] hudochenkov opened #24294 "Array.sort arguments order changed in Node.js 11"
* **Version**: 11.1.0
* **Platform**: Darwin hubert.local 18.2.0 Darwin Kernel Version 18.2.0: Fri Oct  5 19:41:49 PDT 2018; root:xnu-4903.221.2~2/RELEASE_X86_64 x86_64 (macOS 10.14.1)
* **Subsystem**:

Hi!

I've noticed a change with `Array.sort()`. In Node.js 11 order of arguments passed to compare function is reversed. While in most cases it's not a problem, in some cases it causes problems.

I

[2018-11-10 22:17] VentyCZ opened #24295 "Output of forked process not piped to debugger"
* **Version**: v10.13.0 (also present on v8.11.3)
* **Platform**: Windows 10 (64bit) (Also tested on Debian 9)

When using --inspect(-brk), the output of the `child_process.fork`ed script is not sent to the attached debugger.

I tried multiple options of `stdio` for `child_process.fork` function, all to no avail.

## Test case
### index.js
[code]

### worker.js
[code]

## Test case result

## Expe

[2018-11-10 22:30] richardlau commented on #24294
It's intentional: https://github.com/nodejs/node/pull/22754#issuecomment-419551068

[2018-11-10 22:32] refack commented on #24294
Hello @hudochenkov, and thank you for the report.
As you mention, this is a change node get by way [of a update V8](https://twitter.com/mathias/status/1036626116654637057). There was some discussion on the implication of the new algorithm https://github.com/nodejs/node/pull/22754#issuecomment-423444051, but AFAIK this specific issue was reported for node

/CC @nodejs/v8 (esp. @targos @hashseed @ma

[2018-11-10 22:34] refack commented on #24294
P.S. @hudochenkov can you provide some data that using [your code](https://github.com/hudochenkov/postcss-sorting/blob/944da947a628192b54448368c197f586fbbe0c10/lib/sorting.js#L10-L62) sorts differently?

[2018-11-10 22:36] devsnek commented on #24294
@hudochenkov stable sort means what if elements in the unsorted array were already in the correct order, they are guaranteed to be in the same order after sorting.

in any case, as long as you always return the correct number for two elements, no matter the order, the engine will properly handle it. if the engine switches the order of the arguments, it will also handle the switched return value.

[2018-11-10 22:38] hudochenkov commented on #24294
Thank you for quick replies!

I'll simplify my sorting function as much as possible and will provide examples of how it sorts differently. I'll do it tomorrow.

[2018-11-10 22:50] refack commented on #24294
I've forked your gist - https://gist.github.com/refack/8fc2bbdf084f9ad28f900ad5a4f80a14 to uncover the regression:
[code]

[2018-11-10 22:59] adrianhelvik commented on #24277
Okay, I don't agree, but I see the rationale and ir's not too bad. Closing.

[2018-11-10 22:59] #24277 closed

[2018-11-10 23:08] VentyCZ commented on #24295
As of now, the current workaround is as follows (IPC communication not tested):

**index.js**
[code]

[2018-11-11 00:00] mathiasbynens commented on #24294
- `Array#sort` is returning the correct result, just like before the change. This report is not about a spec correctness issue.

- The order in which the elements are compared during sorting (and similarly, how many times the comparison function is called in total) is _intentionally_ unspecified, and depends on the exact implementation. When [the V8 implementation changed from QuickSort to TimSort

[2018-11-11 00:14] mathiasbynens commented on #24294
My above comment was in response to the gist in the OP, i.e. <https://gist.github.com/hudochenkov/29b739f8dbdb4aa00a46b953f62dd0a6>.

@refack, let me respond to [your test case](https://github.com/nodejs/node/issues/24294#issuecomment-437629820) now. This program demonstrates something separate from the issue OP reported. The sort callback in this code example is what the spec calls an _inconsiste

[2018-11-11 00:44] hudochenkov commented on #24294
Thank you for investigation, @refack! And thank you for clarification, @mathiasbynens!

I guess I was just lucky with my sorting function all these years :) I'm going to rewrite it to be independent of arguments order.

[2018-11-11 01:05] refack commented on #24294
I agree on that. But we still have a user-land regression, due to a dependency on unspecified behaviour.

If timsort can call the the compare function in an anti-commutative way, and that get some percentage of such code to work again, _while_ not breaking the spec, IMO it's a win-win.

[2018-11-11 01:17] refack commented on #24294
I'm a bit ambivalent on this, but I'm still marking this `regression` since the `array.sort` implementation did not go through a deprecation cycle, and defacto we have user code that broke without enough notification. as per our policy - https://github.com/nodejs/node/blob/master/COLLABORATOR_GUIDE.md#when-breaking-changes-actually-break-things

P.S. in https://github.com/nodejs/node/pull/22754#is

[2018-11-11 01:25] billwoo opened #24297 "Node.js install process re-boots Win 10 without notification"
* **Version**:
* **Platform**:
* **Subsystem**:

Unacceptable.

[2018-11-11 01:32] rhbecker commented on #22782
@cjihrig: I like the idea of considering other contexts in which adding Map support would be valuable, and if found, attempting to implement in a consistent fashion. But I hope the decision _whether_ to support Maps for any one context is based primarily on whether it provides sufficient value in that one context, and is not somehow contingent on other contexts.

[2018-11-11 01:43] mathiasbynens commented on #24294
This might be a clearer explanation than my previous comment:

A comparison function that returns a boolean `true` or `false` is no worse than a comparison function that returns only `1` or `0` (but never `-1`) — in fact, it’s equivalent per spec, since `ToNumber` is implicitly called on the result. Both situations are just as bad; they’re both inconsistent comparison functions.

[2018-11-11 02:33] mathiasbynens commented on #24294
I don’t understand what you mean by this suggestion.

[2018-11-11 02:38] refack commented on #24294
In https://github.com/v8/v8/blob/78f2610345fdd14ca401d920c140f8f461b631d1/third_party/v8/builtins/array-sort.tq#L362

instead of:
[code]
do
[code]

[2018-11-11 02:53] mathiasbynens commented on #24294
AFAICT, that just shifts the problem to _other_ inconsistent comparison functions.

[2018-11-11 03:06] hashseed commented on #24294
Imo it's a slippery slope if we started to cater to bugs in user code. Relevant xkcd: https://xkcd.com/1172/

[2018-11-11 03:17] Trott commented on #24283
@nodejs/http2

[2018-11-11 03:18] rvagg commented on #22805
I'm pretty sure we never installed a non-standard tar on any release machines. It's very possible that there was an automatic update, it's kind of hard to control those on macOS.

As far as I can tell, there's just an annoyance here, not an actual error? Is it worth our while having to jump through the hoops required to get gnu-tar installed on all our release machines? And why are we determining

[2018-11-11 03:40] refack commented on #24294
If there's an XKCD for this I have to concede (praise be to Randall Munroe seer of truth)

[2018-11-11 03:40] #24294 closed

[2018-11-11 04:10] Trott commented on #21986
@joeflack4 If I'm understanding correctly, this would have the same result as running `node inspect file.js` and then typing `c` and pressing return. Is that correct? Or is there something additional that I'm missing?

[2018-11-11 04:13] Trott commented on #21197
(As always, if I'm closing in error, please comment or re-open. Thanks.)

[2018-11-11 04:13] #21197 closed

[2018-11-11 04:16] Trott commented on #20358
No new reports of this since April, so I'm going to close it. As always, feel free to re-open if you think that's not the thing to do.

[2018-11-11 04:16] #20358 closed

[2018-11-11 04:31] Trott commented on #21190
Re-pinging @rvagg on this one...

[2018-11-11 04:45] Trott commented on #16605
I see this bug in 8.x, but it seems to be fixed in 10.x and 11.x.

[2018-11-11 04:46] Trott commented on #14872
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-11-11 04:46] #14872 closed

[2018-11-11 04:51] Trott commented on #13150
Seems like https://github.com/nodejs/node/pull/13160 was intended to fix this but it got stalled. Maybe someone (/ping @nodejs/build-files) can pick it up and finish it? Seems like it's awfully close.

[2018-11-11 04:53] Trott commented on #10965
Might someone supply another status update on this one for those of us who don't follow V8 and wouldn't know where to look?

[2018-11-11 04:59] devsnek commented on #16605
definitely safe to close at this point

[2018-11-11 04:59] #16605 closed

[2018-11-11 05:05] Hyouii commented on #24297
I have personally never run into this problem when running the executable downloaded from the official [Node.js website](https://nodejs.org/en/). I wasn't able to reproduce this, neither with LTS 10.13.0 nor with the current 11.1.0 releases.

[2018-11-11 05:06] Trott commented on #1897
Seems like `Array.prototype.values()` is available in Node.js 10.x and 11.x. It's not there in 8.x and 6.x. Is this close-able on the grounds that it's unlikely to be backported to 8.x and 6.x? Or is that precisely the ask here and it's something that's still wanted?

[2018-11-11 05:09] devsnek commented on #24297
Thanks for reporting.

Duplicate of https://github.com/nodejs/node/issues/23838

[2018-11-11 05:09] #24297 closed

[2018-11-11 05:17] ljharb commented on #1897
It should still be backported if possible, imo.

[2018-11-11 09:43] MubarakSULAYMAN opened #24299 "Error: Cannot find module 'C:\Program Files\nodejs\node_modules\npm\bin\node_modules\npm\bin\npm-cli.js'"
I just reinstalled node and I have been having issues with npm...

C:\Users\Mubarak>node -v
v10.13.0

C:\Users\Mubarak>npm -v
internal/modules/cjs/loader.js:582
    throw err;
    ^

Error: Cannot find module 'C:\Program Files\nodejs\node_modules\npm\bin\node_modules\npm\bin\npm-cli.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:580:15)
    at Function.Module._load (in

[2018-11-11 09:50] giltayar commented on #24225
@bnoordhuis: if NodeJS _does_ track external memory usage and notifies v8 of it, then you're right: it's just a matter of v8 adding a `--max-total-heap-size` flag as per the v8 bug I added, and enabling node to trickle it down to v8 (I'm assuming NodeJS still needs to trickle it down to v8).

But I wasn't sure whether this was tracked by node and reported to v8, hence this issue.

I don't think we

[2018-11-11 10:37] #23955 closed

[2018-11-11 12:28] seishun commented on #22445
No follow up, closing.

[2018-11-11 12:28] #22445 closed

[2018-11-11 13:02] mscdex commented on #22805
FWIW I've encountered some systems with older versions of (gnu) tar that will actually exit with a non-zero exit code and produce error messages when extracting the tarballs, despite the contents being extracted seemingly correctly. So I'd classify it as more than an annoyance.

[2018-11-11 14:33] Hakerh400 commented on #24299
Related: https://github.com/nodejs/help/issues/1271

[2018-11-11 15:32] Trott opened #24305 "Investigate flaky parallel/test-trace-events-api-worker-disabled"
https://ci.nodejs.org/job/node-test-commit-aix/18754/nodes=aix61-ppc64/console

[code]

[2018-11-11 15:49] damianobarbati commented on #15230
@jasnell will websocket over http2 have auto-reconnection logic built-in like SSE? Just wondering, because if they are using the same stream then this should be the case.

[2018-11-11 15:56] damianobarbati commented on #15230
server side events

[2018-11-11 16:35] refack commented on #12786
hopefully we'll get python3 compatibility soon, so this be a non issue

[2018-11-11 16:35] #12786 closed

[2018-11-11 16:40] refack commented on #1649
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:40] #1649 closed

[2018-11-11 16:41] refack commented on #3403
Put into nodejs/node/projects/13 backlog

[2018-11-11 16:41] #3403 closed

[2018-11-11 16:41] refack commented on #13106
Put into nodejs/node/projects/13 backlog

[2018-11-11 16:41] #13106 closed

[2018-11-11 16:42] refack commented on #11903
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:42] #11903 closed

[2018-11-11 16:43] refack commented on #14977
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:43] #14977 closed

[2018-11-11 16:43] refack commented on #7315
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:43] #7315 closed

[2018-11-11 16:44] refack commented on #15654
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:44] #15654 closed

[2018-11-11 16:44] refack commented on #5016
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:44] #5016 closed

[2018-11-11 16:44] refack commented on #7371
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:44] #7371 closed

[2018-11-11 16:45] refack commented on #15301
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:45] #15301 closed

[2018-11-11 16:45] refack commented on #16695
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:45] #16695 closed

[2018-11-11 16:45] refack commented on #17126
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:45] #17126 closed

[2018-11-11 16:48] refack commented on #17592
FTR: this is basically a "need to document and test" issue.

[2018-11-11 16:49] refack commented on #17862
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:49] #17862 closed

[2018-11-11 16:49] refack commented on #15755
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:49] #15755 closed

[2018-11-11 16:51] refack commented on #16961
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:51] #16961 closed

[2018-11-11 16:51] refack commented on #18231
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:51] #18231 closed

[2018-11-11 16:52] refack commented on #18947
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:52] #18947 closed

[2018-11-11 16:52] refack commented on #16178
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:52] #16178 closed

[2018-11-11 16:52] refack commented on #10745
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:52] #10745 closed

[2018-11-11 16:53] refack commented on #2298
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:56] hmmhmmhm opened #24306 "--no-warnings doesn't work in 'Warning: N-API is an experimental'"
* **Version**: v8.11.1
* **Platform**: Windows 10 (64-bit)
* **Subsystem**: bittorrent-tracker

![13](https://user-images.githubusercontent.com/38493722/48315792-0c071c00-e61e-11e8-83d3-8362dbd625d7.png)

doesn't applied argument..

[2018-11-11 16:56] refack commented on #4603
I believe the current consensus is this is incompatible with the current MSI implementation.
Could be unblocked in the future with a new installer.

Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:56] #4603 closed

[2018-11-11 16:58] refack commented on #19589
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:58] #19589 closed

[2018-11-11 16:58] refack commented on #19618
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:58] #19618 closed

[2018-11-11 16:59] refack commented on #7087
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 16:59] #7087 closed

[2018-11-11 17:02] refack commented on #9496
Due to the volunteer nature of this project, and hence the limited resources of the BuildWG the current consensus is that the NodeSource deb repo is "blessed" and should be as trusted as any 1st party distribution.

[2018-11-11 17:02] #9496 closed

[2018-11-11 17:03] refack commented on #8966
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 17:03] #8966 closed

[2018-11-11 17:04] refack commented on #13368
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 17:04] #13368 closed

[2018-11-11 17:05] refack commented on #13239
Seem like this falls outside of the expected node-core scope. Several client do implement this.

[2018-11-11 17:05] #13239 closed

[2018-11-11 17:05] refack commented on #13239
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 17:06] refack commented on #20560
Put into https://github.com/nodejs/node/projects/13 backlog

[2018-11-11 17:06] #20560 closed

[2018-11-11 17:07] refack commented on #21821
There has been some major progress on this.

[2018-11-11 17:28] tniessen commented on #4603
@refack I don't agree that this is a `wontfix` issue, we are simply still waiting for the version management group.

[2018-11-11 17:30] refack commented on #4603
Ack. `blocked` is the proper label (IMHO it's only `wontfix` WRT to the MSI)

[2018-11-11 17:32] refack commented on #4603
BTW I've put it on the new [backlog](https://github.com/nodejs/node/projects/13) with the intent to make it visible to anyone who wants to pick this up.

[2018-11-11 17:41] polkovnikov-ph commented on #21821
I have a better idea: let's stop using Python to build native modules for Node.js. It's kind of a shame that we have to install Python to do this, as if Node.js was incapable of doing it at all.

GYP was crafted by Google to fit their needs at the moment, and it's declining ever since. Currently it's close to impossible to build native Node.js modules on non-latin windows, because of Python 2 lack

[2018-11-11 18:01] refack commented on #21821
Hello @polkovnikov-ph and thank you for your comment.

For the record, we don't just use python for scaffolding native-addons, we actually use it as node-core's tooling runtime (see `/tools/`).

For native-addons (via `node-gyp`) we are considering alternatives such as [gyp.js](https://github.com/nodejs/node-gyp/pull/1092), and I'll take a look at `node-cmake`.

We've recently forked GYP, and I ha

[2018-11-11 18:10] jcteng opened #24310 "low Performance on Datagram Sockets"
Issue Description:
Low performance on Datagram send API.
Test method as below:

[code]
None binded 1234, So ,it's a pure max write throughput test.
In this case package size as 1400. Write operation can be done around **70000 op/sec**。**The CPU loading almost 100%**(100% is process CPU loading，on my 4core laptop around 24%).

To compare with this, i tested C API performance as below:
[code]
In C i

[2018-11-11 18:37] targos commented on #24310
@nodejs/dgram

[2018-11-11 18:39] targos commented on #24249
@nodejs/n-api

[2018-11-11 18:51] targos commented on #22782
An alternative would be to use the `URLSearchParams` class. It supports any Map-like iterable:

[code]

[2018-11-11 18:54] targos commented on #24295
I think that is not possible without your workaround (or using the experimental [Worker Threads](https://nodejs.org/dist/latest-v11.x/docs/api/worker_threads.html) API).

[2018-11-11 19:00] targos commented on #24306
@nodejs/n-api

[2018-11-11 19:04] #24266 closed

[2018-11-11 19:55] webarchymeta opened #24311 "long running http server crash"
* **Version**: 10.13.0
* **Platform**: Windows 10 64bit (1703)
* **Subsystem**:

A long running server app (using http protocol) crashes intermittently and repeatedly, the following is the exception thrown:
[code]
This same server app runs without such a crash for quite long (weeks) before upgrading to 10.13.0
from 10.0x.0 (x is not quite certain at the moment) ...

[2018-11-11 22:42] Mahmoud-Italy opened #24313 "nodejs return "Aborted" live server"
i'm trying connected socket_io & nodejs live server
every thing work fine
node -v
v8.12.0
npm -v
v6.4.1

node app.js
return "Aborted"

any idea for help .. ?

node: evey thing work fine localhost !

app.js
=====
<pre>
var http = require('http');
var fs = require('fs');

// Loading the index file . html displayed to the client
var server = http.createServer(function(req, res) {
    fs.readFile('./i

[2018-11-11 22:42] Mahmoud-Italy opened #24314 "nodejs return "Aborted" live server"
i'm trying connected socket_io & nodejs live server

node -v
v8.12.0
npm -v
v6.4.1

node app.js
return "Aborted"

any idea for help .. ?

note: evey thing work fine localhost !

app.js
=====
<pre>
var http = require('http');
var fs = require('fs');

// Loading the index file . html displayed to the client
var server = http.createServer(function(req, res) {
    fs.readFile('./index.html', 'utf-8',

[2018-11-11 22:48] daurnimator commented on #16961
Is there some more context on this I could read?
Closing issues in a backlog seems like an odd process.

[2018-11-11 23:03] rhbecker commented on #22782
@targos: Good to know, thanks!

FWIW, the behavior is a bit inconsistent:

[code]

[2018-11-11 23:11] Trott commented on #24314
Duplicate of #24313

[2018-11-11 23:11] #24314 closed

[2018-11-11 23:39] refack commented on #23913
run on naively on `test-packetnet-ubuntu1604-arm64-2`
[code]

[openssl-1.1.0i.built.tar.xz.zip](https://github.com/nodejs/node/files/2570055/openssl-1.1.0i.built.tar.xz.zip)

[2018-11-11 23:54] refack commented on #16961
Hello @daurnimator,
It's actually a new thing I'm suggesting. As I see it we have two issues this can solve: (1) We have too many open issues (2) Among them there are feature requests like this, that have no objections, but also isn't picked up by anyone.

The idea behind the list in https://github.com/nodejs/node/projects/13 is to surface these, both the Collaborators and to members of the commun

[2018-11-12 00:13] StoilovskiMile commented on #23838
choco upgrade -y python2
choco upgrade -y visualstudio2017buildtools
choco upgrade -y visualstudio2017-workload-vctools

Sugested by Alex888 works like a charm, I've previosly turned UAC off

[2018-11-12 03:39] d3x0r commented on #20369
Can this be reopened?

[2018-11-12 03:40] nanomosfet commented on #17592
Hi @refack. I would love to contribute to this issue as my first issue.

Would this be testing the functionality that @mmorearty documented?

[code]

[2018-11-12 04:12] refack commented on #20369
Hello @d3x0r,
I'll see what I can do. If I can formulate a way to test this, and we figure out what is causing it, we will do our best to fix it, regardless of if the issue is open or closed.

[2018-11-12 04:36] d3x0r commented on #20369
`node-gyp configure build`

// warning - casting from the definition in the header, to an int....
m:\tmp\node_test\test.c(4): warning C4311: 'type cast': pointer truncation from 'const SSL_METHOD *(__cdecl *)(void)' to 'int' [M:\tmp\node_test\build\test_tls_method.vcxpr
oj]

// and then it fails to link.
test.obj : error LNK2001: unresolved external symbol TLSv1_2_server_method [M:\tmp\node_test\b

[2018-11-12 04:38] d3x0r commented on #20369
https://github.com/nodejs/node/issues/20369#issuecomment-385166888
this worked before...

[2018-11-12 04:50] refack commented on #20369
Thanks! This will surely help. I hope to get to it tomorrow.

[2018-11-12 06:35] jorangreef commented on #20560
This is almost the same issue as https://github.com/nodejs/node/issues/3403

A chance to kill two birds with one stone?

[2018-11-12 07:46] shobhitchittora commented on #24053
Hey @addaleax The fix has been merged as per this - https://chromium.googlesource.com/v8/v8/+/88f8fe19a863c6392bd296faf86c06eff2a41bc1.

How can we now get the dep updated in node?

@hashseed Please check the link above for the fix.

[2018-11-12 08:05] dansmolik opened #24317 "Crosscompilation to ARM"
* ** version 10.13 and 11.1***:
* ** crosscompilation  to ARM **:
* **  build **:

Hi,
I try to crosscompile on Linux to  Linux on ARM (SAMA5D3) all looks good but compilation failed with:
[code]
It looks  like the system build executable torque for ARM but try to run on local system
that is x86. I think that config option --cross-compiling can avoid this.

[2018-11-12 08:32] shobhitchittora commented on #24281
Hey @snakamura! As per the docs -
[code]
So if you remove your `readable` listener, you get `end` printed. Does that help!

[2018-11-12 08:39] thefourtheye commented on #23433
Seek is not supported by libuv. @bnoordhuis's comment in [this thread](https://groups.google.com/forum/#!topic/libuv/iMmRuNorJcw)

kind of gives a reason why it is not included in libuv. Do you mean, using `*seek` to get the details from our C++ layer? I believe that would be very difficult to maintain.

Yes, I agree. However, in this particular case, we don't have a straight forward to decide whe

[2018-11-12 11:09] snakamura commented on #24281
@shobhitchittora That's what I expected, and v10.13.0 didn't work like that as you can see in my code.

[2018-11-12 11:11] refack commented on #24317
Hello @dansmolik, thanks for the report. I'm looking into this.
Meanwhile you can try the formula we use in our CI cluster: `./configure --dest-cpu=arm`
Example: https://ci.nodejs.org/job/node-cross-compile/nodes=cross-compiler-armv6-gcc-4.9.4/19601/

[2018-11-12 11:39] bnoordhuis commented on #24225
Node.js calls `Isolate::AdjustAmountOfExternalAllocatedMemory()` when buffers are created and freed. I assume that's enough?