[2020-06-03 18:35] heavyk opened #33714 "ERR_MODULE_NOT_FOUND recommends what I asked it to import"
* **Version**: v14.3.0
* **Platform**: darwin
* **Subsystem**: esm modules

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?
always happens for me. should output:
[code]

### What is the expected behavior?
uhh, I expected it to import. the docs say: https://nodejs.org/api/esm.html#esm_no_node_path

[code]

tried with symlinks too, and

[2020-06-03 19:09] guybedford commented on #33714
The ES module resolver doesn't support loading "files" in node_modules that aren't within valid package names.

We could certainly improve the error message in this case though.

[2020-06-03 19:30] Golorio commented on #33266
Any news with the backporting, I'd love to see the RSS drop in my node process.
Really good job finding this issue.

[2020-06-03 19:44] lundibundi commented on #33266
@Golorio the backport for v12 is ready (https://github.com/nodejs/node/pull/33573), it'll release with the next Node.js 12 release.

[2020-06-03 19:55] sam-github opened #33715 "A possible TODO list for new (or current) contributors"
I'm not exactly sure how to manage this, so I thought I'd start with an issue, since they are easy, and can be closed if not useful.

I keep a file where I dump quick notes on things that I intend to look into tomorrow. But, tomorrow never comes.

I just triaged my list, I believe that from a 1st pass, these are all still current. They run the full gamut from possible bugs, to missing features (so

[2020-06-03 20:04] jasnell commented on #33583
Quick update... we currently have 81 responses to the contributor survey. It will remain open for another week just to give additional people time to weigh in. Once it is closed, I will be working on producing a report of the results that will be posted to the nodejs/tsc repo in a pull request.

[2020-06-03 22:00] pbadenski commented on #33698
@lpinca that's what suite did actually, sorry for not posting it earlier..

[code]

I'll report to v8.

[2020-06-03 23:08] heavyk commented on #33714
ok, I updated my original post to add a package.json (so it's a "valid" package).

is there a quick and dirty way (for right now to hack it) so that I can symlink a bunch of files (they all import other files using the @package name identifier) so that I can be imported? if not, I can just make a rollup build to convert them to cjs, so no big deal.

[2020-06-03 23:30] Golorio commented on #33266
@lundibundi Alright, I will wait for the v12 release to update my node version. There isn't any other quick way in the meantime, is there?

[2020-06-04 00:38] mmarchini commented on #33266
@Golorio this is a very specific leak, so it would be good to confirm if you're experiencing it or something else. The cause is described [here](https://bugs.chromium.org/p/v8/issues/detail?id=10538#c13):

In other words, every time `JSON.parse` throws it will allocate a small amount of memory which will not be released (thus the leak). On applications where JSON.parse is not used (directly or by

[2020-06-04 01:39] j3lamp commented on #33705
I concur. Once I figured that out the problem was easy to fix. What I hoped to find in Node's docs was a list of errors with descriptions as to what they meant. If there had been an entry for `UNABLE_TO_VERIFY_LEAF_SIGNATURE` that contained your first sentence that would help a lot of people solve what is currently a difficult problem to solve.

A complete tutorial would be awesome, but I don't th

[2020-06-04 01:46] nojvek commented on #3462
I just want to say thanks for not adding this to native node api. Anything that goes into node api, we have to deal with version hell and polyfills.

I had to shim atob and it was quite simple.

[code]

[2020-06-04 03:54] Golorio commented on #33266
@mmarchini I see, thank you very much. I do believe my issue is connected to this one since I do use JSON.parse extensively in my code, have an rss leak, are in node v12 and if I remember correctly the issue started after upgrading from v10 although now I can't downgrade.

[2020-06-04 06:32] jpsollie opened #33721 "rest operator issue (occured in learnyounode, but seems not related)"
* **Version**: 14.2.0
* **Platform**: Linux portablejp 5.6.14 #10 SMP Sun May 24 09:52:23 CEST 2020 x86_64 Intel(R) Core(TM) i5-7600 CPU @ 3.50GHz GenuineIntel GNU/Linux
* **Subsystem**:

### What steps will reproduce the bug?
in learyounode, excersise 2, working with rest operator:
[code]
gives an error "numbersl is not iterable".

when digging into the code:
[code]
the answer is:
[code]
...where

[2020-06-04 08:08] bnoordhuis commented on #33707
Try upgrading to v12.18.0, that contains the latest list of CA roots from Mozilla (the list that'll ship in FF 78.)

If that doesn't fix it, you should probably check if Mozilla has plans to include their root certificate.

I'll close this but I can move it to nodejs/help if you have follow-up questions.

[2020-06-04 08:08] #33707 closed

[2020-06-04 08:11] bnoordhuis commented on #33703
Is it possible for you to obtain a backtrace (with `bt`) and the output of `disassembly`, `info registers` and `info proc mappings`? That probably contains some clues.

[2020-06-04 08:28] kapouer commented on #33703
Yes, as soon as it's rebuilt, in a day or two.

[2020-06-04 08:45] jpsollie commented on #33721
sorry, the error is mine:
`let {ax,bx,...numbersl} = process.argv;`
had to be:
`let [ax,bx,...numbersl] = process.argv;`
because argv is an array, not an object.  My bad

[2020-06-04 08:45] #33721 closed

[2020-06-04 08:46] julienw commented on #30621
On one hand I'm mostly supportive of the change because it makes sense, on the other hand this small change produced a subtle bug in my code, probably because I was using the stream API incorrectly :-) I wonder if that should be made somewhat more visible in a "Changes that may break your code" section in the v14 changelog.
For example I like how the folks from Flow write their changelogs (see htt

[2020-06-04 09:06] puzpuzpuz commented on #33580
@FranckFreiburger
As the question seems to be answered, is it ok to close the issue? Please feel free to submit a PR that would add more context to the doc.

[2020-06-04 09:21] puzpuzpuz opened #33723 "Integrate AsyncLocalStorage with EventEmitter"
**Is your feature request related to a problem? Please describe.**

I'm going to port [this library](https://github.com/puzpuzpuz/cls-rtracer) to `AsyncLocalStorage`. As a part of this migration I need to make ALS play nicely with events emitted by request and response objects. Current version of the library uses [`ns.bindEmitter()`](https://github.com/Jeff-Lewis/cls-hooked#namespacebindemitteremi

[2020-06-04 09:33] benjamingr commented on #33723
The goal of the method is to set the context on an _existing_ emitter?

I'm a bit confused about why this is needed for the server case, wouldn't the request handler itself already run in the context?

[2020-06-04 09:59] puzpuzpuz commented on #33723
Yes, that's right.

The handler itself is run in the context, but some of events emitted for `req`/`res` may be run in a different context. Here is a simple test that illustrates the problem:

[code]

No problems at all. Happens with everyone.

[2020-06-04 10:26] DavidKorczynski opened #33724 "Improvements of OSS-Fuzz integration"
**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.

This feature is not related to a problem.

**Describe the solution you'd like**
Please describe the desired behavior.

This feature asks for tighter integration with continuous fuzzing via OSS-Fuzz. In this PR https://github.com/google/oss-fuzz/pull/3860#issuecomment-638747166 I

[2020-06-04 12:39] Awalgawe opened #33726 "behavior difference between js & mjs"
* **Version**: 12.8.0
* **Platform**: 5.4.0-33-generic #37-Ubuntu SMP Thu May 21 12:53:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

### What steps will reproduce the bug?

Create two files with this dumb content (test.js & test.mjs):
[code]
then
[code]
[code]

### How often does it reproduce? Is there a required condition?
Allways.

### What is the expected behavior?
Don't throw er

[2020-06-04 12:43] Flarna commented on #33723
@puzpuzpuz Have you investigated where the context gets lost here?
It could be a bug somewhere in http implementation that wrong asyncIds are used somewhere resulting in new roots.

Besides the HTTP example I agree that this seems helpful - in special as there are a lot user space modules out there using emitters but don't care that much about async context used.

I'm not sure if binding a complet

[2020-06-04 12:48] omsmith commented on #33726
ECMAScript Modules run in strict mode by default.

If you add '`use strict'` to your example, you'll find them equivalent.

[code]

[code]

[2020-06-04 12:49] Awalgawe commented on #33726
oh... ok. thx

[2020-06-04 12:49] #33726 closed

[2020-06-04 12:50] targos commented on #33723
Wouldn't it make more sense to expose something that allows the user to bind any function / object method instead of specifically EventEmitter#emit ?

[2020-06-04 12:54] puzpuzpuz commented on #33723
I don't think the same context for req/res's event listeners as for the request listener was even guaranteed, was it?

Some of them are emitted as a part of `socket.on()` listeners. See this one function as an example:
https://github.com/nodejs/node/blob/32b641e528210560d9cb4b524acf844f74d0d266/lib/_http_server.js#L546

An optional filter argument for events could probably help.

[2020-06-04 12:58] puzpuzpuz commented on #33723
Probably, yes. Something similar to [`ns.bind()`](https://github.com/Jeff-Lewis/cls-hooked#namespacebindcallback-context) from `cls-hooked` It might be even better. With this approach user code would look like this one:
[code]

[2020-06-04 13:08] Flarna commented on #33723
Not the same context but I would assume that context passing done via async hooks is able to link them similar as link via e.g. `setTimeout` works.
But sure, if events emitted from the net socket are just forwarded it's mostly clear that context is lost/wrong as socket doesn't know the current http request and may be used for several requests. It would be needed to handle the event in http first a

[2020-06-04 13:14] julienw opened #33728 "Sending a POST where the payload is bigger than the expected length triggers HPE_INVALID_METHOD"
Here is a sample server code:
[code]

and how the error can be reproduced:
[code]
This is what I get in the console:
[code]

This is quite an edge case but I find the outcome really surprising.

[2020-06-04 14:39] addaleax commented on #33723
So … trying to sort my thoughts here, and I’ll apologize for the long comment in advance.

Firstly, the idea to bind an existing `EventEmitter` to a specific ALS store seems odd, especially considering that an `EventEmitter` can have multiple consumers and those other consumers might not want that binding to a specific ALS store.

Secondly, unless I’m misunderstanding something, it feels like ALS

[2020-06-04 15:12] mrelarsen opened #33729 "Installation location of necessary scripts in installer"
Hi,
I did not know where to put this.
When installing Nodejs you can specify a path for installing Nodejs, then you are asked whether you want to install other necessary scripts.
I thought sure why not.
I usually install everything on my large secondary drive but before I knew it, it had started to install Chocolatey, Python, and Visual studio. Only Python installed on my secondary drive due to a

[2020-06-04 15:27] tniessen commented on #33627
Alternatively, the first author approving a "trivial" change can suggest fast-tracking, and as soon as another collaborator approves the PR + fast tracking (and CI is green etc.), it can land.

[2020-06-04 15:37] richardlau commented on #33627
Given we sent out a contributor survey recently (https://github.com/nodejs/node/issues/33583) I'd be interested if the minimal wait time came up in the responses.

[2020-06-04 16:06] Qard commented on #33723
@addaleax Yep, idea 3 is basically what I’ve had in mind for awhile. I’m currently working on making a callback trampoline for InternalMakeCallback which I plan on being able to reuse for this sort of scenario to wrap  JavaScript-side callbacks and emit the related events as much as possible purely on the JS-side.

By avoiding the barrier cross performance hit we should be able to make the cost of

[2020-06-04 16:27] devsnek commented on #33723
I'm also a fan of option 3.

[2020-06-04 17:10] mscdex commented on #33728
This is not surprising to me since the entirety of the body (3 bytes) was seen by node and the next byte would be expected to be the start of another request. Since there is no supported HTTP method that starts with a lowercase `'a'`, the parser emits the `'clientError'`.

[2020-06-04 17:15] puzpuzpuz commented on #33723
@addaleax

No need to apologize. Your comment is really valuable. 👍

With the default behavior of EE consumers (listeners) of the same event will be executed within the same context, as the execution happen synchronously when `.emit()` is called. So, multiple consumers (of the same event, to be precise) will get the same store of a certain ALS instance. The proposed methods change nothing here.

B

[2020-06-04 17:19] puzpuzpuz commented on #33723
@addaleax what would you say of `.bind()` method discussed in https://github.com/nodejs/node/issues/33723#issuecomment-638826832 and https://github.com/nodejs/node/issues/33723#issuecomment-638830875? It's not coupled with EEs and provides some flexibility for users. Certainly, that's not a replacement of changes in EEs/streams behavior discussed above, but they're rather orthogonal.

[2020-06-04 18:05] puzpuzpuz commented on #33723
BTW `.bind()` could be added to `AsyncResource` instead of ALS. That would make it even more flexible. Such API is close to `async_hooks.bindToCurrentScope()` function mention above, but it will give the user more control over the context. Thus, it'll be able to solve the original problem.

[2020-06-04 18:41] Qard commented on #33723
I think the _correct_ place for this is in `AsyncResource`. The functionality is needed at every level of async correlation.

[2020-06-04 19:02] Trott commented on #4066
@ronag Just came across it now again in https://pipelines.actions.githubusercontent.com/A76h8lUgAkJrcbixwhN7BUAsUydYrQl8Ux3JbU2S9vu9HqtlrL/_apis/pipelines/1/runs/30920/signedlogcontent/17?urlExpires=2020-06-04T19%3A01%3A31.8124169Z&urlSigningMethod=HMACV1&urlSignature=mTQIwRpEDtvfZ5PIYD%2FC%2F%2F7Ky1nk17UdFua%2BYdvppzw%3D.

[code]

[2020-06-04 19:08] ronag commented on #4066
@Trott: there is a revert PR pending for v14 and follow up PR's pending for master.

[2020-06-04 20:20] jasnell commented on #33627
@richardlau ... the short answer is yes... the longer answer, which I will explore in the survey report back to the TSC is that a good number of survey respondents indicate frustration with our current contribution process.

[2020-06-04 20:54] benjamingr commented on #33712
For what it's worth what @devsnek is describing is the behavior in idle and the default Python repl (in Python).

[2020-06-04 22:08] mathiask88 commented on #25998
My Surface Pro X is ready for this 🚀 Thanks for all the effort to make this happen. If I can help regarding any Windows on ARM stuff just let me know.

[2020-06-04 23:27] karimhm commented on #19308
+1 on this. So no one would forget it.

[2020-06-05 00:47] sapics opened #33732 "lib/internal/util.js#join function is slower than the built-in Array#join"
When I run the below code with v12.16.2 in Win10, the performance of `lib/internal/util.js#join` is about 30 times slower than native `Array#join`. It looks better to replace to native one.
This function is used in `lib/internal/util/inspect.js` in a quick look.
I cannot judge an argument `output` is Array or ArrayLike, so I could not fix, sorry.
(Add: This would be one of the ways to replace easi

[2020-06-05 04:40] DerekNonGeneric commented on #33585
Any clues on what needs to be done to correct this? It seems as though C++ types are being mixed into the JS docs.

/cc @addaleax

[2020-06-05 05:01] DerekNonGeneric commented on #33620
Can we move this https://github.com/nodejs/help?

[2020-06-05 05:05] DerekNonGeneric commented on #33557
I wonder if the following is of any relevance.

[2020-06-05 05:08] bole1 opened #33734 "http.IncomingMessage doesn't fire callback on 'timeout'"
* **Version**:14.3.0
* **Platform**:
* **Subsystem**:

### What steps will reproduce the bug?

Source code from `lib/_http_incoming.js`:
[code]

IncomingMessage doesn't emit 'timeout' so callback will never be fired
### How often does it reproduce? Is there a required condition?

### What is the expected behavior?
[code]

EDIT(trivikr): put code in a code block

[2020-06-05 05:29] bohni commented on #33581
How to update npm (node-12.18.0) on windows?

    $ npm install -g npm
    npm ERR! code EEXIST
    npm ERR! path C:\<pathToNode>\npm.cmd
    npm ERR! Refusing to delete C:\<pathToNode>\npm.cmd: is outside C:\<pathToNode>\node_modules\npm and not a link
    npm ERR! File exists: C:\<pathToNode>\npm.cmd
    npm ERR! Remove the existing file and try again, or run npm

If I remove all 4 files that we

[2020-06-05 05:36] DerekNonGeneric commented on #33581
I don't think you were supposed to delete those. I would probably uninstall and reinstall at this point if I were you. For Windows, I have been using [nvs](https://github.com/jasongin/nvs) to manage Node.js versions, which includes `npm`. Might want to give that a go.

[2020-06-05 06:13] Senglean commented on #8871
this problem is hurting my game..memory stays 700mb stable all day except for like 3 times a day were suddenly it starts rising to some ±3gb and cpu's go full tilt making the server unresponsive for some minutes then back to normal like nothing happened except there are messages lost and affects ongoing games...have been hunting for a solution for the past 2months..literally gave up...if someone i

[2020-06-05 06:30] puzpuzpuz commented on #33723
Many thanks for your inputs! I'm going to submit a PR for `AsyncResource#bind()`. Let's continue the conversation over there.

[2020-06-05 06:48] shackijj commented on #30674
will start working on stat cache next week.

[2020-06-05 07:50] smriti-spotnana commented on #33620
moved it to /help. thank you

[2020-06-05 07:51] #33620 closed

[2020-06-05 08:10] DerekNonGeneric commented on #33620
https://github.com/nodejs/help/issues/2756

[2020-06-05 08:29] bnoordhuis commented on #8871
@Senglean Can you explain how you established it's this specific issue and not something else?

Switching to jemalloc might fix it. `apt-get install libjemalloc1` and then start node like this:
[code]
If you spawn child processes, make sure they also inherit that `LD_PRELOAD` environment variable.

[2020-06-05 08:33] bnoordhuis commented on #33732
I suppose it's not too surprising V8 caught up with us. :-)

A pull request switching to `ArrayPrototypeJoin()` is welcome. You can get it from the `primordials` internal object:
[code]
That's `Array#join()` but copied out to be tamper-proof against prototype monkey-patching.

[2020-06-05 08:36] bnoordhuis commented on #33729
I believe that only requires an update to the help text in `tools/msvs/msi/i18n/en-us.wxl`. Do you want to open a pull request?

[2020-06-05 08:39] bnoordhuis commented on #33728
It's like @mscdex says, it's working as expected and the only way it _can_ work because there's no way for the parser to know that fourth byte is the start of a new request.

I'm closing this but I can move it to nodejs/help if you have follow-up questions.

[2020-06-05 08:39] #33728 closed

[2020-06-05 08:45] bnoordhuis commented on #33734
That doesn't sound right. `lib/_http_client.js` and `lib/_http_server.js` install `'timeout'` listeners on the socket object that forward to the request object (in the case of `lib/_http_client.js`) or the request, response and server object.

Can you post a test case (no third-party dependencies) that demonstrates the issue you're seeing?

[2020-06-05 08:47] BridgeAR commented on #33732
The benchmark will only be faster for big arrays. Small arrays still profit from the current implementation and that's why it's currently used.

[2020-06-05 08:57] bnoordhuis commented on #33724
W.r.t. part 1: it should be fairly straightforward to add a flag to configure.py that gets forwarded to the gyp build files, where the appropriate defines and compiler flags are then added.

a7ae7aab597a874cb0087e8e333e8f7765ded88c is a recent example. It also demonstrates how you can remove already defined flags with `'cflags!': [ '-fomit-frame-pointer' ]` (note the exclamation mark.)

Use `cflag

[2020-06-05 09:00] puzpuzpuz commented on #33723
Here it goes: #33736

[2020-06-05 09:02] BridgeAR commented on #33585
We declare a variable as integer in case it should be an integer, not a decimal number. It's still a `number` as actual JS type but it should still be useful for the reader to know that we likely validate that it's in fact an integer (or that the API will only work as expected with integers).

We might want to stop referencing to JS numbers on MDN. Besides that, I would keep it as is.

[2020-06-05 09:06] bole1 commented on #33734
Test case:
server.js:
const http = require('http');
const hostname = 'localhost';
const port = 8080;
const server = http.createServer((req, res) => {
  res.statusCode = 200;
  res.flushHeaders();
});
server.listen(port, hostname);

client.js:
const http = require('http');
const host = 'localhost';
const port = 8080;
http.get({host: host, port: port}, (res) => {
  res.setTimeout(1000, () => console

[2020-06-05 09:22] DavidKorczynski commented on #33724
Perfect!

Yes it's set by Google's service.

Yup sounds good - I will get the above up and running and then open a PR! Thanks for the detailed assistance.

[2020-06-05 09:46] Senglean commented on #8871
@bnoordhuis thanks for your feedback! I will follow your instructions and let you know.

I came to this conclusion from heap dumps.

[2020-06-05 09:58] sapics commented on #33732
@bnoordhuis Thank you for your advice!
It looks better than mine. I made a PR in #33737, but I close it as below.

@BridgeAR Thank you for teaching the reason to apply the function!
I simulated similar one with smaller array, and I could confirm your point.
Thus, I close the PR #33737.

[code]

[code]

[2020-06-05 09:58] #33732 closed

[2020-06-05 10:20] bzoz commented on #33729
The script itself mentions it will take 3gb here:
https://github.com/nodejs/node/blob/3e2a3007107b7a100794f4e4adbde19263fc7464/tools/msvs/install_tools/install_tools.bat#L16
we can update that to say that those 3gb will be on the C:.

[2020-06-05 10:27] osher opened #33738 "Expose the existing mechanisms behind `assert.deepEqual`"
**Is your feature request related to a problem? Please describe.**

I've been working on a testing tools as part of some new proprietary ecosystem
(with the intent to open-source elements from it once they are stable enough in their form and require less maintenance, but so far it's proprietary :( ).
As part of this testing framework I need to perform deep comparison of objects.

As a start - I go

[2020-06-05 10:50] BridgeAR commented on #33738
The `strict` in the utility function is indeed unfortunate.

I am fine to expand the functionality in a similar fashion as laid out here. I would like to have options to define specific behaviour such as `abstractEquality` and `prototypeCheck`. To do so, we should add a new function without the strict in the name.

Adding the contains functionality is a tiny bit more work and we should make sure t

[2020-06-05 10:58] towry commented on #27714
I have same issue, node: v12.18.0

[code]

[2020-06-05 11:24] mrelarsen commented on #33729
I made two pull request one for each file. Thanks.
Pull request #33739 as @bnoordhuis suggested since I would have liked to know when I chose to tick the install option.
Pull request #33740 to specify Python and VS install on C:

[2020-06-05 11:25] mrelarsen commented on #33729
#

[2020-06-05 11:25] #33729 closed

[2020-06-05 11:26] jibrail-idris opened #33741 "ReferenceError: require is not defined"
* **Version**:v12.18.0
* **Platform**:Linux dev 5.3.0-53-generic #47~18.04.1-Ubuntu SMP Thu May 7 13:10:50 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:require

### What steps will reproduce the bug?
1. Download LTS 12.18.0 from https://nodejs.org/dist/v12.18.0/node-v12.18.0-linux-x64.tar.xz
2. Untar compressed file
3. Save a js file with the following code: (Let's called it test.js)
`c

[2020-06-05 11:29] richardlau commented on #33741
cc @nodejs/modules-active-members

[2020-06-05 11:35] aixtools commented on #17933
As this is still open - and I am the new guy on the block:

re: AIX - since POWER4 (roughly 2001) the POWER platform (and AIX) has provided SED (stack execution disable) - regardless of anything done by the compiler or linker.

However, the default was, and is - to only provide the ability, not enforce it by default.

[code]

This means programs and shared-libraries may _select_ively active SED.

[2020-06-05 11:44] gromov-io opened #33742 "nodejs - why do you support racism ??"
Nodejs - why do you promote the superiority of the black race over the white, why do you motivate black people to humiliate, beat and hurt whites ( this is what they are doing in the US now) - by disabling documentation.

![image](https://user-images.githubusercontent.com/46241127/83872823-65bcc300-a73b-11ea-9777-085264b71d0a.png)

[2020-06-05 11:47] #33742 closed

[2020-06-05 11:47] aixtools commented on #25797
As the link posted in the original post by @addaleax is not longer available (at least I get HTTP 404 message) - maybe this can be closed as non-reproducible.

[2020-06-05 11:59] akishanin opened #33743 "remove blacklivsmetter banner from docs"
IT must be without politics!!!!
Don’t disturb developers with you company political views

[2020-06-05 12:04] addaleax commented on #33743
The decision to modify the website in this way was approved by the Node.js project leadership. We’re not interested in revisiting that at this point.

[2020-06-05 12:04] #33743 closed

[2020-06-05 12:16] aixtools commented on #30061
In the hope this helps, i.e., something new and useable - fyi - CPython had a discussion for adding OS support to get the "real" tid from it's "worker" concept - even if mono-threaded.

This is the "multi-platform" code - in Python/thread_pthread.h

[code]

[2020-06-05 12:18] benjamingr commented on #33743
Hey, just to clarify (moderation team): you are welcome to provide feedback regarding these decisions at report@nodejs.org (if you believe it violates the CoC ) blacklivesmatter@nodejs.org (regarding this particular issue) tsc@nodejs.org (for technical leadership).

The issue adding the site and banner was open for a few days and did not receive any objections so it was added. This is an action do

[2020-06-05 12:39] hitch90 opened #33745 "Why you forget about RPA?"
Please read about killing white ppl by black, and other persecution of whites in RPA.

[2020-06-05 12:41] snuuve opened #33746 "Big bug on Node.js website"
There should be #alllivesmatter instead of #blacklivesmatter :) Or maybe #programmerslivematter? We are not divided by skin color! We all are peoples!

[2020-06-05 12:41] kavalanche commented on #33745
https://www.youtube.com/watch?v=_tEiguYmgxA

[2020-06-05 12:43] richardlau commented on #25797
Yeah, let's close. It's easy enough to reopen if it is seen again.

[2020-06-05 12:43] #25797 closed

[2020-06-05 12:55] benjamingr commented on #33741
Hey thank you for the report and engaging, this is actually intentional. You cannot `require` from an ESM module - you need to use `createRequire` :]

[code]

See [this section](https://nodejs.org/api/esm.html#esm_no_require_exports_module_exports_filename_dirname) in the docs regarding why and how to work around it.

(I'm closing since I don't think this is a bug - as usual, if anyone feels stron

[2020-06-05 13:00] benjamingr commented on #33738
Sometimes I would like to manage the exception myself - I just need the indication.

Can you explain why (other than API ugliness) you can't accomplish this by wrapping the assert with a try/catch and seeing if an exception was thrown?

That sounds reasonable to me, but I'd like to understand how that behaves - and if we add an `isDeepStrict...` variant we should also add an `assert` variant most

[2020-06-05 13:13] puzpuzpuz commented on #33723
Closing this one as it can be implemented via language features and the consensus is to avoid bloating the API.

[2020-06-05 13:17] ronag opened #33749 "Async Hooks and Streams"
Continuing a little bit from https://github.com/nodejs/node/issues/33723.

Do we need closer integration between async hooks and streams? In particular since `Stream.destroy` can be invoked from basically anywhere the `'close'` event can be emitted in a for user unexpected async scope (not sure yet about the correct terminology in async hooks context).

What currently seems to be the way to approa

[2020-06-05 13:19] addaleax commented on #33749
I think it makes sense to first clarify whether we want to do something for EventEmitters in general, i.e. options 1 or 2 from https://github.com/nodejs/node/issues/33723#issuecomment-638891420. I’ll re-open that issue.

[2020-06-05 13:20] ronag commented on #33749
Yes, please.

[2020-06-05 13:20] addaleax commented on #33723
@puzpuzpuz I’ll reopen this since I’d still like to discuss whether we want to implement some form of built-in async tracking for EventEmitters in general, i.e. option 1 or 2 from above.

[2020-06-05 13:20] lgogolin opened #33750 "Migrate to new fork https://github.com/DinduJS/node"
New name is more accurate

[2020-06-05 13:23] #33750 closed

[2020-06-05 13:23] jasnell commented on #33749
EventEmitter is going to be a tricky one if only because of how performance sensitive it is. It *absolutely makes sense* for an EventEmitter to be tracked as an async resource but when I went through the exercise of making it one it ended up 2x-3x slower in regular use scenarios (streams, http servers, etc). I'm 100% in favor of doing something here but the performance loss problem absolutely need

[2020-06-05 13:29] ronag commented on #33723
Just copying in @jasnell's comment from https://github.com/nodejs/node/issues/33749 as I feel it might be relevant here:

[2020-06-05 13:43] jkrems commented on #33741
Can you verify that this happens in any directory? By default a .js file shouldn’t be treated as a module. I suspect that you may be in a directory (or nested directory below) where a package.json has a “type” field set to “module”.

[2020-06-05 13:48] benjamingr commented on #33741
BTW: Apologies, I somehow missed that OP did not realize they were running inside module context 🙏  Thanks for the comment Jan.

[2020-06-05 13:56] BridgeAR commented on #33741
Let's reopen for now.

[2020-06-05 14:29] puzpuzpuz commented on #33723
@jasnell I wonder what was the approach? Did you try to implicitly create an `AsyncResource` on `eventEmitter.on()` call and then wrap the listener with `runInAsyncScope()` or it was something more complicated? After #32429 `AsyncResource`s don't involve GC-tracking anymore when there are no `destroy` listeners and that could decrease the overhead, but I'm not sure about the exact improvement.

[2020-06-05 15:00] jibrail-idris commented on #33741
@jkrems You are right. The module "type" was causing the issue. Thank you for flagging that out.

[2020-06-05 15:04] julienw commented on #33728
Thanks for the explanation. I wasn't fully aware how connection reuse was working :)

[2020-06-05 15:07] GeoffreyBooth commented on #33741
We could perhaps expand the error message to include something like “file.js is loaded as an ES module due to /path/to/package.json containing "type": "module"”

[2020-06-05 16:42] carlskii opened #33753 "WebAssembly (WASM) with HTTP network requests failing"
* **v14.4.0**:
* **19.4.0 Darwin Kernel Version 19.4.0: Wed Mar  4 22:28:40 PST 2020; root:xnu-6153.101.6~15/RELEASE_X86_64 x86_64**:

### What steps will reproduce the bug?

I'm importing a WebAssembly (WASM) component into my node app which is working to a point. However, the component needs to access the network to perform HTTP requests. Since the `fetch` API is not enabled I've installed the `

[2020-06-05 18:51] Trott opened #33759 "Investigate flaky test-worker-init-failure"
* **Test**: test-worker-init-failure
* **Platform**: macOS
* **Console Output:**
[code]
* **Build Links**:  https://pipelines.actions.githubusercontent.com/A76h8lUgAkJrcbixwhN7BUAsUydYrQl8Ux3JbU2S9vu9HqtlrL/_apis/pipelines/1/runs/31178/signedlogcontent/3?urlExpires=2020-06-05T18%3A50%3A01.4753944Z&urlSigningMethod=HMACV1&urlSignature=iuD1BKkUDgpJ0Q1%2FLAC3eULQYBZopJNd91Uu9NxmdMw%3D

[2020-06-05 19:01] Senglean commented on #8871
for the record it happened again the server was running good constant low cpu usage and memory never exceeding 700mb...then is started to go nuts for few seconds and went back down to 90mb ..this is a video of the event

https://www.youtube.com/watch?v=gMctGII26eY&feature=youtu.be

this time node server crashed with this error >

BadRequestError: request aborted
IncomingMessage.onAborted (node_mod

[2020-06-05 20:06] Senglean commented on #8871
in the heap dumps i can see an increase of the following
<img width="645" alt="Screenshot 2020-06-05 at 10 03 54 PM" src="https://user-images.githubusercontent.com/47624883/83918296-b868a000-a778-11ea-9a66-5295c93a5184.png">

[2020-06-05 21:36] sophdubs opened #33760 "process.argv parsing command line args in a strange way when using {}"
When running my program with command:
node index.js abc/{a,b}.js

I would expect console.log(process.argv.slice(2)) to log
[abc/{a,b}.js]

but instead this single argument is being parsed into two args and the this is what is logged to the console:
['abc/a.js', 'abc/b.js' ]

I couldn't find anything in the documentation about splitting args if curly braces are present, so I am thinking this might

[2020-06-05 21:40] devsnek commented on #33760
Your shell is automatically expanding the pattern, not node.

[2020-06-05 21:41] sophdubs commented on #33760
ahhhhh thank you!!!

[2020-06-05 21:41] #33760 closed

[2020-06-05 21:56] AndrewSV opened #33761 "toLocaleDateString does not work for some locales"
* ** **:
* **Platform**:
* **Subsystem**:

### What steps will reproduce the bug?
When I try to use the locale 'pt-BR', the output isn't formatted corretly, but if I use 'en-US' it works as expected.
Just run this snippet and it will be seen:

var today = new Date();
 var dateOptions = {
        weekday: "long",
        day: "numeric",
        month: "long",
        year: "numeric"
    };

var day

[2020-06-05 22:59] ma11hew28 opened #33762 "Fix Node.js LTS source code release"
https://nodejs.org/dist/v12.18.0/node-v12.18.0.tar.gz is not the same as https://github.com/nodejs/node/archive/v12.18.0.tar.gz.

[2020-06-05 23:08] richardlau commented on #33762
They're not meant to be. I don't know the reason why but we strip out things before creating the source tarball (size? It was like this before I started on the project.): https://github.com/nodejs/node/blob/236237829b26c1756104b5a37797a591e8a5aba6/Makefile#L1038-L1074

The https://github.com/nodejs/node/archive/... files are automatically created by GitHub and are snapshots of the repository at th

[2020-06-05 23:25] ma11hew28 commented on #33762
Oh, OK. Thank you, @richardlau. Well, I don't think you should strip out `tools/node_modules` because when running `make doc` I got this error: `Cannot find module 'tools/doc/../node_modules/eslint/node_modules/js-yaml'` required by `tools/doc/common.js`.

[2020-06-05 23:25] Trott commented on #3769
I believe you are misunderstanding that table and the spec. `path` is not anything that is included in `URL`. `pathname` is included in `URL` based on `path`.  `path` is a list. In that table, it is a list containing a single entry: An empty string.

The algorithm for the getter for `pathname` elsewhere in the spec indicates that this will be represented as `'/'`.

You can confirm this by seeing t

[2020-06-05 23:48] Trott commented on #4066
Ah! OK, I was pasting that in there because the last comment said to ping if it was seen again. Awesome. Thanks.

[2020-06-06 01:54] jibrail-idris commented on #33741
Yes. That will be very helpful!

[2020-06-06 04:59] DerekNonGeneric commented on #33585
I wonder if it would be more helpful to link to specification in this regard.

https://www.ecma-international.org/ecma-262/6.0/#sec-number.isinteger

[2020-06-06 08:15] benjamingr commented on #33741
Let's reopen it the meantime for the error message improvement.

[2020-06-06 09:12] benjamingr commented on #33761
What [ICU](https://nodejs.org/api/intl.html#intl_internationalization_support) is your Node built with?

I see the following output (on master and on 14.2):

[code]

Is that output incorrect?

[2020-06-06 09:15] targos commented on #33761
Which version of Node are you using?
Please post the output of `node -p process.versions`

[2020-06-06 13:14] mancasg opened #33771 "async_hooks: after hook called twice in case of uncaught exception"
Version: v12.14.1 v14.3.0
Platform: Linux somehost 3.10.0-1062.4.1.el7.x86_64 #1 SMP Fri Oct 18 17:15:30 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
Subsystem: async_hooks

### What steps will reproduce the bug?

Node crashes with an assertion error whenever the fatal exception handler is called from an async resource' callback, when error domains are in use.
I've reduced the replication scenario down

[2020-06-06 14:20] AndrewSV commented on #33761
Meh, sorry about not informing the version. I've done it wrong and it didn't show up...

  node: '12.18.0',
  v8: '7.8.279.23-node.37',
  uv: '1.37.0',
  zlib: '1.2.11',
  brotli: '1.0.7',
  ares: '1.16.0',
  modules: '72',
  nghttp2: '1.41.0',
  napi: '6',
  llhttp: '2.0.4',
  http_parser: '2.9.3',
  openssl: '1.1.1g',
  cldr: '37.0',
  icu: '67.1',
  tz: '2019c',
  unicode: '13.0'

[2020-06-06 14:20] AndrewSV commented on #33761
Meh, sorry about not informing the version. I've done it wrong and it didn't show up...

  node: '12.18.0',
  v8: '7.8.279.23-node.37',
  uv: '1.37.0',
  zlib: '1.2.11',
  brotli: '1.0.7',
  ares: '1.16.0',
  modules: '72',
  nghttp2: '1.41.0',
  napi: '6',
  llhttp: '2.0.4',
  http_parser: '2.9.3',
  openssl: '1.1.1g',
  cldr: '37.0',
  icu: '67.1',
  tz: '2019c',
  unicode: '13.0'

[2020-06-06 14:26] AndrewSV commented on #33761
Yes, the 'sábado, 6 de junho de 2020' is what should show up at the output of the method.
As per the verifying query made directly in chrome, that works correctly.

I downloaded node from the main download page, there is no reference to diferent ICU's for Node.
Shouldn't it work like Chrome? Or Firefox? Please forgive my ignorance, but having more than one ICU doesn not seem logical for a Internet

[2020-06-06 16:34] Himself65 commented on #33771
https://github.com/nodejs/node/blob/5ae5262f448295e314393dad4c491259793cea3f/lib/internal/process/execution.js#L189-L192

[2020-06-06 18:17] domenic opened #33773 "Minor EventTarget correctness issues"
I just noticed some very minor things while idly browsing recent node commits. /cc @benjamingr.

* **Version**: https://github.com/nodejs/node/commit/56e44601d285483ffe3c6efa3b80743900d84856
* **Subsystem**: events

Per [Web IDL](https://heycam.github.io/webidl/#dfn-class-string),  `EventTarget.prototype[Symbol.toStringTag]` should be a data property, not a getter. The commit above introduced it a

[2020-06-06 18:35] benjamingr commented on #33773
Thanks for noticing, I should have probably also used the primordial, I will make a PR to fix this.

[2020-06-06 18:36] benjamingr commented on #33773
This is probably also true for `Event`, I will fix it there too.

[2020-06-06 19:09] mnmkng commented on #7502
Sorry for resurrecting this after 4 years @addaleax, but I wasn't able to find any solution elsewhere. Is there a way to ignore the trailing garbage with the currently available options? I tried various combinations of `zlib.contstants`, but with no luck.

**Example website:**
[code]

Browser works fine, `gunzip` works fine.

[code]

But I can't convince Node.js to decompress this payload, aside f

[2020-06-06 21:29] rexagod commented on #29829
@addaleax @ronag I've marked sub-issues that exhibited intentional behavior as `Expected behavior` and submitted PRs for the rest of them. I think we can probably close this one now, or if any sub-issue was incorrectly marked, let me know and I'll separate that out into a new issue.

***
Fixes: https://github.com/nodejs/node/issues/29829

1. https://github.com/nodejs/node/pull/33162
2. [Expected b

[2020-06-07 00:01] mscdex opened #33779 "doc: wrong info for `http` deprecation"
* **Version**: v12.x, master
* **Platform**: n/a
* **Subsystem**: doc, http

DEP0133 which is about the deprecation for `outgoingMessage.connection` has two issues:

* It's currently labeled as being doc-deprecated in v12.12.0 which is not true, it was done so in v13.0.0.

* The deprecations documentation for v12.x (since v12.12.0) lists DEP0133, which should either be removed (because it's not de

[2020-06-07 04:40] Trott commented on #33779
Since the documentation for 12.12.0 says it's deprecated, it is _ipso facto_ doc-deprecated in 12.12.0.

And 12.12.0 came out about 10 days or so before 13.0.0.

I'm unclear on what the issue here is. Is it that doc-only deprecations were once considered semver-major and so this wouldn't have been able to land in 12.12.0? If so, that was changed in February 2019 before the 12.0.0 release. See http

[2020-06-07 06:19] osher commented on #33738
@benjamingr

Sure. Try-Catch is a heavy mechanism. The construction of an error is heavy and throwing and catching it is heavy. Transpiled async wraps it in `Promise.reject` is lighter than throw - but it still goes through the constructor and the stack-trace gathering.
More of then than not I don't mind that in tests - but I do mind that on production code.
(how purist of me... but yes)

Hmm. Tha

[2020-06-07 10:00] mscdex opened #33782 "benchmark: events/eventtarget throws"
* **Version**: master
* **Platform**: Linux
* **Subsystem**: events

The events/eventtarget.js benchmark fails every time with:

[code]

/cc @jasnell

[2020-06-07 10:19] mscdex commented on #33779
[The PR that introduced the doc deprecation](https://github.com/nodejs/node/pull/29015) happened 6 months after that policy was changed and the PR was labeled as semver-major.

Another thing that makes it look like a mistake is that [the PR](https://github.com/nodejs/node/pull/29781) linked to [the actual commit](https://github.com/nodejs/node/commit/014eb67117fb360d97e8b0bc3fa2c57803c02184) was s

[2020-06-07 11:13] dou4cc opened #33783 "http2stream is not decent duplex"
* **Version**: v14.3.0
* **Platform**: Linux 5.6.15-arch1-1
* **Subsystem**: http2

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?

...

### What is the expected behavior?

https://nodejs.org/api/stream.html#stream_readable_symbol_asynciterator

### What do you see instead?

above

### Additional information

none

[2020-06-07 11:41] zhangwinning commented on #33684
can I solve it?

[2020-06-07 12:17] ronag commented on #33684
@zhangwinning sure, go ahead and try

[2020-06-07 15:50] BridgeAR commented on #33738
There are enough benchmarks in `./benchmark/assert/*`. It's possible to compare before and after by running something like: `node benchmark/compare.js --old ./nodeOld --new ./nodeNew assert > assert.csv` and afterwards `cat assert.csv | Rscript benchmark/compare.R`.

[2020-06-07 18:03] AndrewSV commented on #33761
Interesting. Looking at the source code, it seems that node v12.8.0 , diferently than stated by the documentation in https://nodejs.org/api/intl.html#intl_internationalization_support -> 'Options for building Node.js' -> '--with-intl=full-icu (default)', is actually built with '--with-intl=small-icu'. Any chance to build it with the full ICU option? Or at least have a specific 'full-ICU-build' opt

[2020-06-07 20:06] #33783 closed

[2020-06-07 20:08] dou4cc commented on #33783
i mistaken

the http2stream self-destroys once i read it because the request method is GET

[2020-06-07 21:13] #33779 closed

[2020-06-07 23:08] rexagod commented on #33684
@zhangwinning Sorry, I never saw your comment and created a draft PR. Let me know if you are still working on this and I'll go ahead and close that.

[2020-06-07 23:46] zhangwinning commented on #33684
@rexagod yes, I still working it.

[2020-06-07 23:50] rexagod commented on #33684
No problem. I've closed https://github.com/nodejs/node/pull/33786.

[2020-06-08 02:51] ZikingW commented on #28757
Using `{ outputLength: number}`.
This works in my implementation.
`const hash = crypto.createHash('SHAKE256', { outputLength: 128 })`
`hash.update('one') `
`console.log(hash.digest('hex'))`

[2020-06-08 03:25] kkz13250 commented on #33348
I'd like to work on this issue. Has it been fixed?

[2020-06-08 05:50] niftylettuce commented on #33687
The Chromium team has marked this bug as internally viewable to Google members only.  I will update here as I find more information.

[2020-06-08 07:08] awwright commented on #33148
Is this related to #25935?

However, I would like to discourage this, because of the command-query separation principle; which is to say, methods that return things should not also mutate the state of the object.

[2020-06-08 07:22] DerekNonGeneric commented on #33705
https://nodejs.org/api/errors.html#errors_node_js_error_codes

@j3lamp, is this what you are looking for?

[2020-06-08 07:50] cTn-dev opened #33790 "v8.writeHeapSnapshot doesn't release its resources correctly"
* **Version**: v12.18.0
* **Platform**: Linux desktop 5.6.15-300.fc32.x86_64 #1 SMP Fri May 29 14:23:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: v8

### What steps will reproduce the bug?
[code]

1. run the code snippet
2. send SIGUSR2 by callinng `kill -USR2 <pid>`

### How often does it reproduce? Is there a required condition?
Every time

### What is the expected behavior?
Take

[2020-06-08 09:13] benjamingr commented on #33782
I think this is already fixed by https://github.com/nodejs/node/pull/33624 which just needs to land (along with the other PRs)

[2020-06-08 09:22] lucasRolff opened #33791 "Load exposed incorrectly in LXC (Likely due to libuv)"
* **Version**: v12.16.3
* **Platform**: Ubuntu 18.04 - 5.0.21-5-pve
* **Subsystem**: os

### What steps will reproduce the bug?

Spawn LXC container, load reported in the container (via top or htop) will be correct, while NodeJS reports the hypervisor load:

[code]

Code example:
[code]

### How often does it reproduce? Is there a required condition?

Constantly

### What is the expected behavior?

[2020-06-08 10:23] urugator opened #33792 "pipeline + generator - Premature close"
Version: 14.4.0
Platform: 64-bit (Windows)
Subsystem: stream

pipeline throws `Error [ERR_STREAM_PREMATURE_CLOSE]: Premature close` when:

1) There is a destination function **and** transformer function throws from `for await` block .
[code]
2) The destination function throws from `for await` block
[code]
3) The transformer or destination `return`s from `for await` block
[code]

[2020-06-08 10:33] bnoordhuis commented on #8871
@Senglean The memory fragmentation that's being discussed in this issue is not something you'd see reflected in heap dumps. You probably have an ordinary memory leak (i.e., resource leak) somewhere in your application. Try opening an issue over https://github.com/nodejs/help/issues.

[2020-06-08 10:44] BridgeAR commented on #33738
@osher the parameters are documented in `benchmark/compare.js`. The mentioned ones are binaries and it allows to compare different Node.js versions.

R is used to transform the raw data in nice to read output such as x percent increase / decrease between different benchmarks.

[2020-06-08 10:48] Senglean commented on #8871
Thank you I will!

[2020-06-08 11:21] bnoordhuis commented on #33791
It's indeed the same issue as #27170: libuv uses `sysinfo(2)` to obtain the load average, which LXC doesn't intercept/emulate.

I'm not going to bend libuv much further in order to make it work with LXC but I've opened https://github.com/libuv/libuv/pull/2876 because it's a fairly straightforward fix.

[2020-06-08 11:30] masx200 commented on #33699
https://github.com/nodejs/llhttp

Now that the HTTP parser used by nodejs is llhttp, should it be easy to support the new request method?

[2020-06-08 11:38] lundibundi commented on #33738
@osher take a look at this guide for detailed explanation https://github.com/nodejs/node/blob/master/doc/guides/writing-and-running-benchmarks.md.

[2020-06-08 12:20] benjamingr commented on #33792
@urugator first of all hey 👋  fancy seeing you here.

Second, cc @mcollina @ronag

Third - I'm not sure what the right behavior here is, I think this is because `return` or `throw` in a generator calls `return` on it.

You are iterating a Readable, when you [`.throw()`](https://github.com/nodejs/node/blob/master/lib/internal/streams/async_iterator.js#L145) or [`return`](https://github.com/nodejs/n

[2020-06-08 12:35] benjamingr commented on #33792
Hmm, weirdly if there is a second readable between the two and it's `.return`ing on an async iterator and not a readable it passes.

This passes

[code]

[2020-06-08 12:35] osher commented on #33738
awsome. cool stuff.
just what I was looking for!

[2020-06-08 13:08] BethGriggs commented on #27397
SHJS was removed from this repository in https://github.com/nodejs/node/pull/33442 (@DerekNonGeneric :tada:), but I am not sure if it can/should be removed from [nodejs/nodejs.org](https://github.com/nodejs/nodejs.org/blob/master/static/legacy/sh_main.js) too?

[2020-06-08 13:21] urugator commented on #33792
When iterating manually it also seems to propagate the correct `Error: transformer`:
[code]

I was hoping I could use `pipeline` to avoid the complexity od streams handling, but the current behavior seems hardly useful and quite confusing/inconsitent.
For illustration, here is the original use case:
[code]

[2020-06-08 13:38] mcollina commented on #33792
First of all, there are a lot of layers we are trying to simplify things and this is a new feature. Also, software has bugs.

Secondly, I would recommend you to rethink this line of reasoning, mainly because it implies a judgement on your part on why we added this in the first place.

Last but least, I don’t fully understand how this would be changed. Again this is a complex subject with 3 differe

[2020-06-08 13:49] benjamingr commented on #33792
@mcollina I mean, the current behavior in the OP just looks like a use case that wasn't considered with the feature.

[2020-06-08 14:16] urugator commented on #33792
Which is exactly why I am mentioning it, because I am hoping that someone tells me whether my judgment or expectations are wrong. It's completely possible the `pipeline` isn't intended to be used like this, but I am unable to tell from available sources (docs/issues/google).
I am sorry if it sounds offensive or something, I very much respect all the work that is being put into this.

[2020-06-08 14:58] sibelius commented on #30730
is this fixed for node 12?

[2020-06-08 15:00] bartbrzo commented on #30845
no longer reproducible

[2020-06-08 17:22] dkebler opened #33795 "v14 esm does not support named import from modules with cjs dot exports"
* **Version**: v14.2.0
* **Platform**: linux, amd64,aarch64, unbuntu 18.04, kernel 4.15.0-101-generic

### What steps will reproduce the bug?

First off for a year+ I've written all my code using esm and with the std/esm package I am able to seamlessly use dependent packages that contain cjs dot exports with no issues without the need of babel.

https://github.com/standard-things/esm

In nodejs V1

[2020-06-08 17:58] gabrielschulhof opened #33796 "parallel/test-fs-stream-construct reliably fails on fanned arm build"
Loosely checking, it looks like it's been failing consistently since https://ci.nodejs.org/job/node-test-binary-arm-12+/5691/

[2020-06-08 18:10] SrBrahma commented on #33148
Yes, looks the same issue. However, I really don't understand why this principle should be followed in this particular case. In the case that I mentioned,
[code]
as chaining isn't allowed, must currently be written as
[code]

Chaining is a natural thing in JS. Wouldn't code like `[1,2,3].map(...).filter(...).reduce(...)` also violate this "principle"? For me, it only reduces productivity and reada

[2020-06-08 18:11] richardlau commented on #33796
Refs: https://github.com/nodejs/node/pull/29656#issuecomment-640454740

[2020-06-08 18:53] hemanth opened #33798 "{} + [] REPL bug?"
In the REPL, on `12+` version, I am seeing the below.

[code]
^ This should be `0`

![image](https://user-images.githubusercontent.com/18315/84068918-8fb1f780-a97e-11ea-9179-6e0acfce1e8e.png)

* **Version**: 12+
* **Platform**: 18.7.0 Darwin

[2020-06-08 18:55] DerekNonGeneric commented on #27397
@BethGriggs, the website appears to be using Prism. Please see the comment below.

Were you thinking to use highlight.js everywhere?

[2020-06-08 18:56] ljharb commented on #33798
This also manifests when you do `console.log({} + [])` which prints `'[object Object]'` instead of `0`, in many many node versions.

The direct repl behavior seems limited to 12+.

[2020-06-08 19:03] ljharb commented on #33798
I've been informed that in fact this is correct; `{} + []` in a statement context is "a block" and then `+[]`, which is `0`, but in an expression context (or as `({}) + []` is `'[object Object]'`.

[2020-06-08 19:06] hemanth commented on #33798
Also:

[code]

[2020-06-08 19:13] richardlau commented on #27397
The old docs, e.g. https://nodejs.org/docs/latest-v0.10.x/api/, reference https://nodejs.org/sh_main.js and https://nodejs.org/sh_javascript.min.js (also see the README in https://github.com/nodejs/nodejs.org/tree/master/static/legacy).

[2020-06-08 19:16] Ryuno-Ki opened #33799 "doc: decodeURIComponent and encodeURIComponent missing"
# 📗 API Reference Docs Problem

- **Version**: ✍️ v10.19.0
- **Platform**: ✍️ Linux strawberry 5.4.0-sabayon #1 SMP Fri May 8 19:23:19 UTC 2020 x86_64 Intel(R) Core(TM) i5-5300U CPU @ 2.30GHz GenuineIntel GNU/Linux
- **Subsystem**: ✍️ Sabayon Linux

## Location

_Section of the site where the content exists_

Affected URL(s):
- https://nodejs.org/api/✍️
- https://nodejs.org/api/globals.html

## Pr

[2020-06-08 19:20] devsnek commented on #33798
This is not a bug. `String({})` is `'[object Object]'` and `String([])` is `''`.

[2020-06-08 19:22] devsnek commented on #33799
We don't document globals that are part of ECMAScript. At the top of the globals documentation there is a link to https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects.

[2020-06-08 19:24] hemanth commented on #33798
Nods, `[{} + []]` will be `'[object Object]'` but `{} + []` in REPL should be `0`?

[2020-06-08 19:32] devsnek commented on #33798
REPL is an expression context

[2020-06-08 19:38] BridgeAR commented on #33798
We handle REPL input as expression context as @devsnek pointed out. See https://github.com/nodejs/node/blob/651088c3e6b6399a3e656e397c3845b970ad7903/lib/repl.js#L355-L358
This also applies to e.g., `{ b: 1 }.b`.

[2020-06-08 19:39] hemanth commented on #33798
As @ljharb highlighted, on node `<v12` `{} + []` evaluates to `0` on the `REPL` [devtools might a different story]

[2020-06-08 20:15] kkmoslehpour commented on #26143
What was the cause of this fix, I am getting this error on http request.
[code]

[2020-06-08 20:15] addaleax commented on #33798
As @devsnek and @BridgeAR pointed out, this is not a bug, but intentional – the REPL prefers to evaluate as expressions before evaluating as statements. So the current one is the expected behavior, and the pre-v12.x one is considered the buggy one.

I’ll close this as I don’t think there’s anything we can do here.

[2020-06-08 20:15] #33798 closed

[2020-06-08 20:17] ljharb commented on #33798
hmm - i don't see this REPL change listed in the blog post: https://nodejs.org/en/blog/release/v12.0.0/

Clearly it's the right fix to make, and I assume its omission is an oversight - could someone link me to the PR that changed it?

[2020-06-08 21:03] ronag commented on #28167
@sam-github

What would be the default for `servername`? The `hostname` if a name and not an IP?

[2020-06-08 22:57] ttsugriy commented on #33148
@SrBrahma, I'm not a contributor to nodejs project, but I can answer your question as to if `[1,2,3].map(...).filter(...).reduce(...)` does or does not present the same API issue. The answer is no, because each call returns a new list instead of modifying an existing one, so all of these calls are "queries".

[2020-06-09 00:52] frutiger opened #33800 "Segfault Creating Node Environments in v12.16.2"
* **Version**: 12.16.2
* **Platform**: Darwin 18.7.0 (macOS 10.14.6)
* **Subsystem**: Node C++ API

### What steps will reproduce the bug?

I have a program that manages its own V8 Isolate, UV Event Loop and Node Environments.  In Node 12.13.1, it was possible to initialize a V8 Platform via `node::InitializeV8Platform(...)` that would provide all that was expected of Node Contexts.  I am trying t

[2020-06-09 04:35] clshortfuse opened #33802 "readable[Symbol.asyncIterator]() does not resume streams"
* **Version**: v14.2.0
* **Platform**: Linux
* **Subsystem**: Ubuntu/Amazon AWS

### What steps will reproduce the bug?

When creating a stream and pausing it, using `Symbol.asyncIterator` will not cause it to resume.

### How often does it reproduce? Is there a required condition?

This happens always.

### What is the expected behavior?

`.resume()` should be called

### What do you see instead?

[2020-06-09 06:31] mcollina commented on #33792
I think the 3rd case is a proper bug, and the other two are some error cases we should handle somehow.

[2020-06-09 06:49] bnoordhuis commented on #33761
@AndrewSV You're looking at the documentation for v14.x, where full i18n support is indeed enabled, but you should be looking here: https://nodejs.org/docs/latest-v12.x/api/intl.html

For v12.x, check out https://www.npmjs.com/package/full-icu. I'm closing this but I can move it to nodejs/help if you have follow-up questions.

[2020-06-09 06:49] #33761 closed

[2020-06-09 07:05] bnoordhuis commented on #33800
fe1ac496f78ff030e0fe27df387c2587e03fe554, the preceding commit, cleans up the code base to handle a nullptr `TracingController`.

It's possible I missed something or that something went wrong during back-porting. However, `EXC_BAD_ACCESS (code=1, address=0x490)` suggests it's not `tracing_controller_` but `g_agent` that's nullptr:

https://github.com/nodejs/node/blob/3443e3ad4c5cba45db98ac35017213

[2020-06-09 07:32] bnoordhuis commented on #33790
Thanks for the good bug report. This is a variation on #8871 (memory fragmentation caused by glibc's malloc/free) and not something that's really under Node's control, I'm afraid.

You can see it when you start node with `strace -fe brk node script.js` and send it a SIGUSR2: the "program break" - the end of the C/C++ heap - keeps going up and some longer-lived allocations block it from going back

[2020-06-09 07:33] bnoordhuis commented on #33703
Ping @kapouer.

[2020-06-09 07:48] kapouer commented on #33703
I'm doomed by the build servers... https://buildd.debian.org/status/package.php?p=nodejs&suite=experimental has been waiting for three days. It should eventually run.

[2020-06-09 07:58] alshdavid commented on #5895
I need this to test a file that has an IIFE on the top level

[2020-06-09 08:27] bnoordhuis commented on #33703
No problem, thanks for the update.

[2020-06-09 08:30] bnoordhuis commented on #8871
FWIW, _taking_ heap snapshots can create RSS spikes very similar to what's being discussed in this issue. See #33790 for more details (and there too switching to jemalloc is a good workaround.)

[2020-06-09 09:52] ghcr commented on #33000
Is there a way to force the installation of node 14 on win 7 by taking the risk=?????

[2020-06-09 10:00] ghcr commented on #33000
So it works by installing a nightly version...
Why not add a message "Node might be unstable on your OS" and acheckbox "I accept the risk"

[2020-06-09 11:45] Ardeshir81 opened #33805 "node process does not reflect timezone changes"
* **Version**: 12.17.0
* **Platform**: Linux 5.4.0-33-generic # 37-Ubuntu SMP Thu May 21 12:53:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* **Platform**: Linux 3.16.0-4.9-amd64 # 1 SMP Debian 3.16.7-ckt25-1 (2018-11-21) x86_64 GNU/Linux
(it reproduces on both platforms)
* **Subsystem**: ?

### What steps will reproduce the bug?

- open two terminals locally on machine
- run `node` on terminal 1
-

[2020-06-09 12:48] aherlihy opened #33806 "VM aborts when error thrown when in property setter"
* **Version**: v12.14.1
* **Platform**: Recreated on Catalina 10.15.4 and Windows 10 x64
* **Subsystem**:

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?

Every time

### What is the expected behavior?

The error that is thrown should be reported in the default eval function, and it should be catchable.

### What do you see instead?

[2020-06-09 12:48] Senglean commented on #8871
Only if I may, is this the way to start pm2 using jemalloc because unfortunately it didn't make a difference

LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so.2 NODE_ENV=production pm2 start server.js

I appreciate

[2020-06-09 12:52] addaleax commented on #33806
Minimal reproduction:

[code]

[2020-06-09 12:56] jasnell commented on #33806
Also confirmed to be a problem in 14.3 and master (not only 12.x)

[2020-06-09 13:05] jasnell commented on #33805
As far as I understand it, It's not so much a bug in v8 as it's a performance optimization. As @evanlucas notes in the `reset-date-cache`, it's a fairly expensive operation to be doing continually. But, that said, I can't see much reason why we can't incorporate `reset-date-cache` into core as part of the `v8` module. It would still require you to call it regularly to catch updates (although, I do

[2020-06-09 13:22] #33578 closed

[2020-06-09 14:22] Ardeshir81 commented on #33805
OK! lets think a system does not change time-zone regularly, but only one time in it's whole lifecycle.
As a js/nodejs developer, I, shouldn't have to setup system calls to catch that one-time time-zone change in system, and send the event somehow to nodejs and then inside nodejs catch the event and reset date cache for that one-time time-zone change.

I think it's more appropriate to say, OK, I u

[2020-06-09 14:32] lrlna commented on #33806
If #33808 lands, would it be possible to backport the fix over to a 12.x? Or would it only go in the latest?

[2020-06-09 14:37] devsnek commented on #33806
@lrlna it should be able to be backported

[2020-06-09 14:40] lrlna commented on #33806
@devsnek yay, thanks!

[2020-06-09 15:15] clshortfuse commented on #29829
`http2.Http2ServerRequest.connection.setTimeout` should return `this` instead of `void`/`undefined`

It's the last thing in the TypeScript typings to fix:
[code]

See:
* https://github.com/nodejs/node/blob/4678e44bb28c00dc22771a0ef2684a4d46715ab0/lib/_http_incoming.js#L100
* https://github.com/nodejs/node/blob/4678e44bb28c00dc22771a0ef2684a4d46715ab0/lib/internal/http2/compat.js#L416

[2020-06-09 15:26] #27253 closed

[2020-06-09 15:40] frutiger commented on #33800
That gets a bit further but crashes when accessing the tracing controller

[code]

[2020-06-09 15:51] addaleax commented on #33800
I think https://github.com/nodejs/node/blob/278aae28e14da89e6bd6d91c07ded2dc5f8fe8c3/src/tracing/trace_event.h#L490-L494 would need a `nullptr` check, along with a number of other places in the tracing code.

I’ll put a PR together, but if you are looking for a somewhat straightforward workaround, you should be able to create a `NodePlatform` instance instead of the `v8::platform::NewDefaultPlatfo

[2020-06-09 16:02] addaleax commented on #33800
@frutiger Can you try this patch and see if it works for you?

[code]

[2020-06-09 16:05] addaleax commented on #33800
Also, based on https://github.com/nodejs/node/pull/28724 Electron has run into this problem as well, so it might make sense to provide an official API for explicitly setting the `TracingController*` manually.

[2020-06-09 16:19] AndrewSV commented on #33761
No, I'm looking at the source code of the build.

[2020-06-09 16:28] benjamingr commented on #33802
I think the current behavior is correct for getting the iterator, but calling `.next` should probably attach a listener.

[2020-06-09 16:28] benjamingr commented on #33802
Thank you for the detailed report btw. cc @ronag @mcollina

[2020-06-09 16:32] AndrewSV commented on #33761
Thank you Ben. Now works as expected.

[2020-06-09 16:33] clshortfuse commented on #33802
Thanks. I wrote the syntax wrong. It should be:

`const chunk = (await readable[Symbol.asyncIterator]().next()).value;`

But yes, calling `next()` doesn't force a flowing state.

[2020-06-09 16:45] benjamingr commented on #33802
I'm not sure what happens here - when you call `.next()` it calls `.read()` on the stream and when you create an async iterator it adds a `readable` listener to the stream.

Any chance you can provide an isolated code sample? All the "trivial" stuff I'm trying works with the current impl.

[2020-06-09 16:48] benjamingr commented on #33802
Or is the confusion regarding async iterators not being in [flowing mode](https://nodejs.org/api/stream.html#stream_two_reading_modes) (they are a pull abstraction and backpressure is way simpler in paused mode)?

[2020-06-09 17:09] clshortfuse commented on #33802
I'll double check now. I was ready to migrate from express to this framework I wrote. Ran it, and the read pipeline stalled because I was running:

[code]
Which I changed to:
[code]

and it stopped hanging. I figured it was because the `.pause()`. Stepping through doesn't return after `/internals/async_hooks.js`. That was on v14.2.0. If I uncomment the `.resume()` on the top line, then the asyncIt

[2020-06-09 17:11] Ryuno-Ki commented on #33799
Ah, there it is.
I was expecting it above the Table Of Contents …

Hmm … would be too much to ask for to list every global of ECMAScript and point towards MDN web docs, wouldn't it?

Plus, they're changing their editing system from what I've heard. Not sure, whether all those links remain stable …

What to do with this issue now?

[2020-06-09 17:29] mcollina commented on #33802
Note that async iterators on streams use `on('readable')` and `.read()` so the state will never be flowing. You need to call `.return()` to destroy the stream.

[2020-06-09 17:38] benjamingr commented on #33802
I think it's probably a good idea for you to check out [how stream modes](https://nodejs.org/api/stream.html#stream_two_reading_modes) work.

Just adding a `"data"` listener is probably not a great fix but might be suitable for what you're doing.

[2020-06-09 17:59] smoak commented on #32107
Just adding that I get this issue with node versions 12.18.0 and 12.17.0 but it does not reproduce with node version 12.16.3

[2020-06-09 18:44] frutiger commented on #33800
Thanks @addaleax that seems to work for me. I had to tweak the patch a tiny bit as it did not cleanly apply on v12.16.2 3443e3ad4c5cba45db98ac35017213cb4064af1b, but otherwise it worked (along with [the patch from @bnoordhuis](https://github.com/nodejs/node/issues/33800#issuecomment-641078395)).

Would this make sense to include in a release, or should I patch my builds of NodeJS?

[2020-06-09 18:50] addaleax commented on #33800
@frutiger Great! I’ve opened a PR: https://github.com/nodejs/node/pull/33815

[2020-06-09 19:31] aduh95 commented on #33795
FWIW you don't have to use a dot 😉

[code]

There are discussion for allowing named imports of CJS from ESM (see https://github.com/nodejs/modules/issues/509), but so far there is no solution to this problem.
The technical reason Node.js only supports default exports for CJS scripts is because ESM `import` is static (it is parsed prior to module execution) and CJS `module.exports` is dynamic (you

[2020-06-09 19:54] rexagod commented on #29829
`Http2ServerRequest.connection.setTimeout` returns a `ServerHttp2Session/Stream`. The code snippet below works.

[code]

https://github.com/nodejs/node/blob/4678e44bb28c00dc22771a0ef2684a4d46715ab0/lib/internal/http2/compat.js#L206-L210

[2020-06-09 20:27] kapouer opened #33816 "node localhost resolves to 127.0.0.1 instead of ::1 on IPv6-only network"
* **Version**: 12.17, 10.20
* **Platform**: Debian 5.6.14-1 (2020-05-23) x86_64 GNU/Linux
* **Subsystem**: dns

In a IPv6 only setup that can be reproduced with:
[code]
and making sure `/etc/hosts` has that line
[code]

[many tests fail](https://buildd.debian.org/status/fetch.php?pkg=nodejs&arch=amd64&ver=12.17.0~dfsg-4&stamp=1591383846&raw=0)
E.g. parallel/test-http-localaddress throws `Error: bi

[2020-06-09 21:26] littledan commented on #27080
I'd like to ask the champions of the readonly collections proposal, @erights @phoodie : is anything that Node contributors could do that would be of use to you in developing your proposal in this area? It's hard for me to tell how it's been going since it was first presented at TC39.

[2020-06-09 21:43] mscdex commented on #33816
Are you passing `dns.ADDRCONFIG` to `dns.lookup()`?

[2020-06-09 22:22] kapouer commented on #33816
[was not me](https://github.com/nodejs/node/blob/41796ebd30744173cbe19201493349e7c8995082/lib/net.js#L1013)

[2020-06-09 22:34] phoddie commented on #27080
Good question, @littledan. We do seem a bit stalled on this proposal. Let me share a few thoughts.

The read-only collections proposal combines immutable collections with some clever methods for working with them.  Having read-only collections with well defined behaviors is essential for embedded work. We use them in XS today, but they have non-normative behaviors. I believe these are the fundamen

[2020-06-09 23:09] mikeal commented on #27080
IMO, immutable types should be immutable when instantiated. Given the perf issues of `Object.freeze()` I’m a bit sour on dynamically making collections immutable and none of the use cases I have require that I move a collection from mutable to immutable, they can all be handled by instantiating them in an immutable form.

Throw an exception.

Something along the lines of `Object.isMutable()`.

[2020-06-09 23:33] phoddie commented on #27080
@mikeal - I'm not certain whether the performance issues of `Object.freeze` in some engines are inherent in the feature or a consequence of frozen objects being a relatively unused feature on the web and hence not well optimized yet. If you know, I would be interested.

It is pretty common for us to create a collection and then want to make it immutable. Requiring a collection to be immutable only

[2020-06-10 00:53] clshortfuse commented on #29829
Sorry, my mistake, I mean `Http2ServerRequest.setTimeout`, not `Http2ServerRequest.connection.setTimeout`

[2020-06-10 01:03] awwright commented on #33148
@SrBrahma I would disagree about "natural". It's tolerated; and I know some places do promote it; but there's also a strong tradition for functional programming, and when I see code like `response.setHeader(xxx).send(yyy)` my first thought is "Ah, `setHeader` must be a pure function, because it has a return value; and `send` must be a mutating function because the return value isn't used for anyth

[2020-06-10 01:38] clshortfuse commented on #33802
It was my assumption that iterating through a stream would unpause it, like iterating via `'data'` events..

My point is that `asyncIterator` doesn't resume a stream. I'm not sure if that's an oversight or fully intentional. I have to look back at if i used `readable` or `data`, but based on documentation, it must have been `data`. Worst case, it's a bug. Best case, perhaps some clarity might be n

[2020-06-10 03:28] tojin12341za opened #33821 "doc: tojin12341za"
# 📗 API Reference Docs Problem

- **Version**: ✍️
- **Platform**: ✍️
- **Subsystem**: ✍️

## Location

_Section of the site where the content exists_

Affected URL(s):
- https://nodejs.org/api/✍️

## Problem description

_Concise explanation of what you found to be problematic_

✍️

---

- [x] I would like to work on this issue and submit a pull request.

[2020-06-10 03:47] #33821 closed

[2020-06-10 05:29] UMRnInside opened #33822 "Cannot build Node.js on Cygwin"
* **Version**: v12.18.0
* **Platform**: Windows Server 2008 R2, Cygwin 2.891
* **Subsystem**: UNIX

### What steps will reproduce the bug?
* Install Cygwin with `python3, wget, curl, git, gcc-core, gcc-g++, openssl-devel, zlib-devel, pkg-config, make`
* In cygwin:
[code]

### How often does it reproduce? Is there a required condition?
Always, even after a `/bin/rebaseall -v` in Cygwin

### What is

[2020-06-10 06:49] towry commented on #27261
VSCode + Jest + Debugger:

[code]

[2020-06-10 07:49] bnoordhuis commented on #33822
I'm going to close this because cygwin hasn't been a supported target since the Node.js v0.5 days (and even back then calling it "supported" was a stretch.)

[2020-06-10 07:49] #33822 closed

[2020-06-10 07:56] bnoordhuis commented on #33816
While I can confirm the issue w.r.t. to the test suite, I don't think it's something we need or want to fix. The test suite assumes the availability of IPv4 and that seems fine to me.

[2020-06-10 08:01] beejei commented on #3159
To access the system certificate inside of Windows/MacOS, need additional implementation.
It can't be done with OpenSSL.
From my point of view, this issue is partially solved.

In my case, this issue is quite important since big companies restrict access to internal services with an unexportable self-signed certificate(which is located in system keystore) for security concerns.

[2020-06-10 08:38] bnoordhuis commented on #33805
Already exists, courtesy of #20026:
[code]

[2020-06-10 08:43] mcollina commented on #33802
Apart from this, what problems does this cause?

[2020-06-10 09:11] JorisPalings opened #33826 "PID 95455 received SIGSEGV for address: 0x0"
* **Version**: v12.18.0
* **Platform**: Darwin 19.4.0 Darwin Kernel Version 19.4.0: Wed Mar  4 22:28:40 PST 2020; root:xnu-6153.101.6~15/RELEASE_X86_64 x86_64

### What steps will reproduce the bug?

1. Record raw audio stream for _n_ seconds using `naudiodon` (PortAudio), where _n_ is a `yargs` argv.
2. Convert raw audio stream to .mp3 stream using `lame`.
3. Write stream to file using `fs`.
4. S

[2020-06-10 09:26] sagar-jadhav commented on #33715
Hello, @sam-github I want to work on the following issue:

Let me tell you what I have understood:
- Merge all tests from `test/parallel/test-tls-ca-concat.js`,  `test/parallel/test-tls-cert-chains-concat.js` &  `test/parallel/test-tls-cert-chains-in-ca.js` into single test file `test-tls-client-auth`

But I didn't understand the following:

@sam-github Can you please guide me here?

[2020-06-10 09:47] targos commented on #23776
I'm closing this issue. Node.js 10 is in maintenance and this is fixed in v12 and later.

[2020-06-10 09:47] #23776 closed

[2020-06-10 09:49] #25967 closed

[2020-06-10 10:19] mnini commented on #33699
It's just actually one word... It could be made so it can be custom, and on server you can also make it to handle custom word. No problems with all the words being written then.

[2020-06-10 10:25] Ardeshir81 commented on #33805
@bnoordhuis
it does not. If you mean by resetting the date cache I should get the correct time-zone, I don't.

![Screenshot from 2020-06-10 06-20-49](https://user-images.githubusercontent.com/5755214/84257260-50c0a500-ab2a-11ea-9802-e6fdac37b258.png)

[2020-06-10 10:43] bnoordhuis commented on #33805
You misunderstand what reset-date-cache does. It tells V8 to flush its internal date cache, not that it should query the operating system for the current timezone. The latter is Complicated.

If you have some external means of obtaining the current timezone (e.g. `timedatectl show -p Timezone` on linux), then assigning that to `process.env.TZ` will reset the date cache.

[2020-06-10 10:47] bnoordhuis commented on #33826
Can you check what `find . -name \*.node` prints from your project's top-level directory?

[2020-06-10 10:50] Ardeshir81 commented on #33805
Oh! Yes, that's advanced stuff for me. :grinning:
Thanks :+1:

[2020-06-10 11:04] JorisPalings commented on #33826
`find . -name \*.node` prints the following:
[code]

[2020-06-10 11:27] gnonio opened #33829 "writeFile creates OS inaccessible file"
* **Version**: v12.16.2
* **Platform**: Windows 8.1 64-bit
* **Subsystem**:

### What steps will reproduce the bug?

`var fs = require('fs')

fs.writeFileSync( "AUX.txt", "test", function(err){return console.log(err)} )

console.log( fs.readFileSync( "AUX.txt", {encoding: 'utf-8'}) )`

### How often does it reproduce? Is there a required condition?
Always given the provided path "AUX.txt"

### Wha

[2020-06-10 11:58] lundibundi commented on #33829
Could you provide full paths of files you are trying to access?
Are you opening the file via default file manager under the *same user* that run the file-creation script?
Could you be writing file in a different location than you expect (this `fs.writeFileSync( "AUX.txt",` will write the file in the directory where the script is invoked)?

Also, `fs.writeFileSync( "AUX.txt", "test", function(err){

[2020-06-10 23:49] lanjia opened #33834 "worker_thread can not capture promise error in worker"
* **Version 12.18**:
* **Platform ox 10.15.5**:
* **Subsystem**:

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?

### What is the expected behavior?

[code]
### What do you see instead?

### Additional information

[2020-06-11 00:19] dkebler commented on #33795
Thanks @aduh95 finally someone with clear understanding of the issue and some good advice!

esm gurus would prefer us to move away from default exports/imports.  They encourage us to not even supply a default export in esm so to now go around converting a named import to default is ironic.

Also ironic that packages transpile esm to cjs for distribution and then std/esm "transpiles" back.  Kinda l

[2020-06-11 00:19] #33795 closed

[2020-06-11 01:21] j3lamp commented on #33705
I have been thinking about this.Not being a Node.js developer and not having needed to read all of its documentation(!) I am uncertain if these doc should contain OpenSSL errors. On one hand it would be extremely helpful to people who encounter them and would almost certainly make web searches like "node.js error UNABLE_TO_VERIFY_LEAF_SIGNATURE" produce useful results on the first page. On the oth

[2020-06-11 02:06] guybedford commented on #32107
`exports: false` is the same as `exports: {}` or having a package that cannot be loaded at all!

You don't want to ever use it.

To give some background here for those interested, in an early iteration of the `"exports"` field, it used to only provide subpath exports, and work alongside the `"main"`. It was a later change in the development of this field to make it also apply to the main and provi

[2020-06-11 02:06] #32107 closed

[2020-06-11 03:21] lander0s commented on #32999
I think I found a solution.

apparently the race condition strikes [here ](https://github.com/nodejs/node/blob/master/deps/uv/src/win/tty.c#L518) leaving the variable **uv__read_console_status** in an inconsistent state (IN_PROGRESS)

**IN_PROGRESS** means being blocked at [ReadConsoleW](https://github.com/nodejs/node/blob/master/deps/uv/src/win/tty.c#L525) but in this case the thread has returned

[2020-06-11 05:36] christiantjl opened #33838 "Global function declaration inconsistency"
* **Version**: v14.4.0
* **Platform**: Linux workspaces 5.4.0-33-generic #37-Ubuntu SMP Thu May 21 12:53:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

### What steps will reproduce the bug?

Global functions defined with the form `f = function(){}` seem to be set on the `global` object by default, but if the same functions are defined with the form `function f(){} in the global scop

[2020-06-11 05:44] DerekNonGeneric commented on #33838
I don't believe that is correct. Top-level functions are in the module scope, not the global scope.

[2020-06-11 05:50] christiantjl commented on #33838
@DerekNonGeneric The issue is that output should not meaningfully differentiate between `function test(){}` and `test = function(){}`, which are syntactically equivalent.

[2020-06-11 06:02] DerekNonGeneric commented on #33838
The code in `file.js` is a CommonJS module that has been wrapped w/ an IIFE. This makes it somewhat of `module` context. You can see this wrapper [here](https://github.com/nodejs/node/blob/f4e805c86082fcf8157c745e71977cc343dd1bc4/lib/internal/modules/cjs/loader.js#L197-L200).

Code passed to `--eval` and executed in the REPLs do not have this wrapper, and are in somewhat of a `script` context w/o

[2020-06-11 06:15] #33802 closed

[2020-06-11 06:16] christiantjl commented on #33838
TY for the explanation. I'm trying to write a compatibility layer for traditional browser JS using JSDOM, which will basically try to generate a `window` and override the `globalThis` object when it is imported.  The goal is to kind of reproduce a browser context without getting into ugly territory like reading the file contents and `eval`ing it manually etc. - just `require('enable-browser-mode')

[2020-06-11 06:23] christiantjl commented on #33838
@DerekNonGeneric Let me put it this way, if I have a file:
[code]
As that script exists, in the browser, it could be referred to as `test` or `window.test`. When run with `node test.js`, without modifying the script in any way, is there some variable for which `test` can be accessed as a **property**, i.e., `globalThis.test` (which does not work)?

Thank you again for your help.

[2020-06-11 06:30] DerekNonGeneric commented on #33838
[code]

[2020-06-11 06:39] DerekNonGeneric commented on #33838
Just saw this part. It seems that you are essentially trying to create a new context, but I don't fully understand the problem. Do you want to execute the code in the file as if it were in a browser? You might need to write your own module loader w/ your own wrapper.

[2020-06-11 06:43] christiantjl commented on #33838
Yes - effectively what I am trying to do is set `global` to a JSDOM `window`, and then `require` or `import` scripts that will set all global variables to the global variable (so `test === window.test` just like in the browser).

It effectively means everything is going to be in one context. This is actually fully functional if the function in test.js is defined like `test = function(){}`, but obv

[2020-06-11 06:46] DerekNonGeneric commented on #33838
If you want to simplify your life, you could have that as `test.mjs` and use the various hooks that are available to a accomplish your goal.

- https://nodejs.org/api/esm.html#esm_hooks

Of particular interest may be the following.

- https://nodejs.org/api/esm.html#esm_code_getglobalpreloadcode_code_hook

Let me know if you get stuck. :)

[2020-06-11 07:23] #33580 closed

[2020-06-11 07:27] christiantjl commented on #33838
@DerekNonGeneric I appreciate it. I still just think it's weird that with test.js containing:

[code]

index.js containing:
[code]
Throws an error for the function defined without variable assignment pattern:

[code]

But `test1` and `test2` are fine:
[code]

Should I maybe reopen this? I'm just looking for syntactic consistency here haha. If there is an intentional difference in behavior, where `

[2020-06-11 07:41] christiantjl commented on #33838
I have decided to reopen this - I just cannot see any good reason why these two statements should produce meaningfully different output, as much as I want to believe that it's a feature and not a bug. :sweat_smile:

[2020-06-11 08:20] DerekNonGeneric commented on #33838
As I said, this is a scope issue. You never exported the functions. Try the following.

[code]

[code]

[2020-06-11 08:39] mscdex commented on #33838
As was previously mentioned this is a scope issue as a declaration like `function test3() {}` will limit that definition to the block scope the function is in (which in this case it's just the module scope). Similarly if you did something like this:

[code]

or something like this:

[code]

you'd run into the same problem.

Technically `var x = function() {}` will only have its variable declaratio

[2020-06-11 08:42] christiantjl commented on #33838
I intentionally did not export the functions, test.js was vanillaJS and not to be changed.  I understand the scope issue now: global != top-level. TY for your patience.

I don't imagine there's an object analogous to the `global` object which will let me access module variables? `module` does not seem to hold onto anything unless I set it in `module.exports`, and if I want to export every top-leve

[2020-06-11 08:44] benjamingr commented on #33838
This is by-design and how the cjs module system works. Since cjs is stable I doubt this can be changed at this point and even if it could we likely wouldn't (I think?).

You can use ES modules if you want "compliant" behavior :]

[2020-06-11 08:45] benjamingr commented on #33838
There isn't and this is quite intentional and by design for object-capability and sandboxing reasons reasons. As a fun fact there used to be a variable that did this (in firefox 4 I believe) called __parent__ - that has been removed for ~10 years I believe :]

There are modules on npm that let you mock out statements in the module scope by installing a require hook (like proxyquire). I would cauti

[2020-06-11 08:54] DerekNonGeneric commented on #33838
[code]

[code]

`node --experimental-loader ./web-loader.mjs ./test.mjs`

[2020-06-11 08:58] benjamingr commented on #33838
Anyway, thanks for the report. If anyone feels strongly about this feel free to reopen. I think the current behavior is by design and stable so even if we wanted to change it we can't (easily).

[2020-06-11 08:58] #33838 closed

[2020-06-11 09:01] mnini opened #33842 "Anonymous array rendered undefined."
[code]

`TypeError: Cannot read property 'forEach' of undefined`

I think, that array is quite defined like this. I was using it few times before maybe in browser and it worked... `[].includes()` works, but now this is undefined?

[2020-06-11 09:07] benjamingr commented on #33842
Thank your for the report and reaching out 👋

The code in your post runs fine (checked in Node master since you didn't specify the version) so I am unable to reproduce. There's a ~95% chance you have other code beforehand and this is caused by some other behavior (like automatic semicolon insertion).

I'm going to go ahead and close this since I can't reproduce - but anyone - feel free to reopen i

[2020-06-11 09:07] #33842 closed

[2020-06-11 09:10] benjamingr commented on #33834
This behavior is by design and is how Node.js handles rejections. You probably want to use `--unhandled-rejections=strict` or add a `process.on('unhandledRejection'` handler.

For what it's worth this behavior is currently being discussed ( https://github.com/nodejs/TSC/pull/857 )

I'm going to leave this open in case @addaleax has something to add here. Potentially we could dispatch `unhandledRej

[2020-06-11 09:11] christiantjl commented on #33838
Thank you for closing this, I was just about to - not a Node issue after all, and I appreciate everyone's help.

On the off-chance anyone is curious, I did find a solution: just get hands-on and use a `windowRequire()` function to `eval` the file contents, as that is effectively what is happening in the browser where there is only one context. I had never seen the `(1, eval)(args)` trick (calls `e

[2020-06-11 09:12] benjamingr commented on #33799
Probably "yes" because it would require Node.js to update that list to track every ECMAScript change whenever those changes happen. If someone contributes an automatic way that does this then _maybe_?

I'm going to go ahead and close this - but if you feel differently or that we should keep discussing this let me know and I'll reopen.

Thank you for the report :]

[2020-06-11 09:30] nathanblair commented on #29536
It appears that a patch has made its way onto the master branch but did not make it to the 14.4.0 release. Does anyone know if its going to ported to that release line?

[2020-06-11 10:39] bnoordhuis commented on #33816
Fair enough. I've removed the `test` label.

glibc and musl do `AI_ADDRCONFIG` detection differently:

1. glibc: when there is any non-loopback ipv4 or ipv6 interface
2. musl: when there is a 127.0.0.1 or ::1 interface ([ref](https://git.musl-libc.org/cgit/musl/tree/src/network/getaddrinfo.c?h=v1.2.0#n44))

That difference in approach makes it complicated to fix on node's end. https://github.com/l

[2020-06-11 10:48] lundibundi commented on #33834
The behavior is by design and it **is** possible to capture unhandled rejection in worker threads.
This is done the same way as for main thread, by capturing `unhandledRejection` event. If you change you worker code to
[code]

it will finish the worker upon receiving `unhandledRejection` and you will get that error in `worker.on('exit', (code) => {` handler. Another option is to just report it via

[2020-06-11 13:30] zandaqo commented on #31309
I have first encountered this problem in August 2019, but I thought it was cause by a different issue and reported it in Semptember: https://github.com/nodejs/node/issues/29529#issuecomment-531947873
And now, almost one year and two major versions later we are still having it...

[2020-06-11 14:28] bnoordhuis commented on #33762
Size is indeed the reason. Including `tools/node_modules` bloats the tarball by about 2 MB.

I'm unsure what to do here. It's unfortunate that `make doc` doesn't work. On the other hand, 99% of downloaders won't care.

Perhaps we could add a separate documentation tarball, akin to the headers-only download? Or simply bite the bullet and include `tools/node_modules`?

[2020-06-11 14:43] #33806 closed

[2020-06-11 15:26] addaleax commented on #33834
We have that option already – using this instead of `new Worker(__filename)` “fixes” it:

[code]

[2020-06-11 15:51] asilvas commented on #31309
While that is unfortunate, this is open source, and we're all free to contribute a fix.

[2020-06-11 16:32] ma11hew28 commented on #33762
OK, @bnoordhuis. Thank you. Whatever works. Note: After downloading the source code from https://github.com/nodejs/node/releases, I was able to `make doc`.

[2020-06-11 18:04] edgework opened #33846 "DEP0123: Warning Doesn't provide a useful stack"
* **Version**:   v12.17.0
* **Platform**:   MacOS
* **Subsystem**:

### What steps will reproduce the bug?

When this warning is fired, it gives no information whatsoever about what is setting an IP address. The stack is useless.

`06/11 10:53:40-07:00::(node:61830) [DEP0123] DeprecationWarning: Setting the TLS ServerName to an IP address is not permitted by RFC 6066. This will be ignored in a fut

[2020-06-11 18:10] devsnek commented on #33846
I believe you can use `--trace-deprecation`

[2020-06-11 19:53] #33800 closed

[2020-06-11 20:12] edgework commented on #33846
Yeah that does it.  It's kind of silly that has to be a node parameter to tell node to give me a useful warning.

[2020-06-11 20:12] #33846 closed

[2020-06-11 20:29] niftylettuce commented on #33687
We just made this issue publicly viewable again @ https://bugs.chromium.org/p/chromium/issues/detail?id=1045328#c57.

I will offer a $200 bounty or matching donation to the charity of your choice to whoever determines issue.

Hope you can lend a hand here!  Some of the Chromium team is 'at a loss' on this one!

[2020-06-11 20:32] rexagod opened #33847 "document http.OutgoingMessage"
AFAIK There's no documentation available for `http.OutgoingMessage`. Any new contributor willing to work on this can refer `http.IncomingMessage` for some inspiration.

[2020-06-11 20:46] kapouer opened #33848 "./deps/v8/third_party/zlib instead of the copy in ./deps/zlib ?"
This is not a bug, rather a deduplication idea:
a lot of ./deps/zlib is similar to ./deps/v8/third_party/zlib.

[2020-06-11 20:46] kapouer commented on #33848
Oh i forgot: Version 14.4.0

[2020-06-11 20:51] devsnek commented on #33848
the copy in v8 isn't locked to our abi requirements, i doubt we could align them

[2020-06-11 20:52] addaleax commented on #33848
I think we could make V8 use our vendored dependency, though?

[2020-06-11 20:56] Ryuno-Ki commented on #33799
Hm, perhaps you could provide some feedback, whether I understood the process of building docs correctly … (in case someone wants to pick up this task of automatically adding ECMAScript globals).

In [BUILDING.md](https://github.com/nodejs/node/blob/dfdbbd16cf6eb12fb6d63ba0f98dbbad9c431b28/BUILDING.md#building-the-documentation) you describe the process to build docs using `make`.

Thus, I'm looki

[2020-06-11 21:25] rexagod commented on #31394
@Srinivas-Vemula Can you post a working reproduction of this issue?

[2020-06-11 22:27] benjamingr commented on #33799
Going to reopen since discussion is still going on and other collaborators might be interested:

That sounds correct to me if MDN has an API we can plug in there.

@nodejs/documentation - before @Ryuno-Ki proceeds trying to automate adding these (global JavaScript) functions to our docs, can someone from the docs team make a statement regarding whether or not you believe it to be useful?

I person

[2020-06-11 22:32] clshortfuse commented on #31309
I seem to have discovered a somewhat high chance of failure with HTML Form requests using POST from Chrome while using `.on('readable')`. I might a have a reproducible soon. I just want to know if somebody else is experiencing this as well with Form POST requests.

[2020-06-12 04:21] masx200 opened #33853 "Why the http client does not support the keep alive feature?"
Why the http client does not support the keep alive feature?

TCP socket should be reused in multiple requests.

But the result is that the request and response are sent only once per connection.

* **Version**:

nodejs  v14.2.0
* **Platform**:

Linux localhost 4.9.148 #1 SMP PREEMPT Tue Mar 10 02:27:59 CST 2020 aarch64 Android
* **Subsystem**:

### What steps will reproduce the bug?

client.js
[c

[2020-06-12 04:57] DerekNonGeneric commented on #33853
I think this is traditionally solved as is described on the following page.

https://www.jstips.co/en/javascript/working-with-websocket-timeout/

At least that's how I've solved it for myself, anyone else please feel free to add 2¢.

[2020-06-12 05:13] DerekNonGeneric commented on #32935
Should we document this inability in the meantime? Hope to tackle this issue unless it's tracking something else.

[2020-06-12 06:03] nathanblair commented on #29536
https://gitlab.alpinelinux.org/alpine/aports/-/issues/11640

Here's a thread/issue I started RE: the compilation on an alpine system.

I think perhaps there is an even more optimal approach to take with the regexp used in the `get_llvm_version` call. Given the compile-time CLANG_VENDOR variable that appears to set the prefix in the returned version string for the entity during compilation, perhaps

[2020-06-12 06:04] masx200 commented on #33853
@ronag @mscdex

[2020-06-12 07:14] Ryuno-Ki commented on #33799
For reference, I'm talking about the [mdn-browser-compat-data](https://www.npmjs.com/package/mdn-browser-compat-data) package which you can look into at [mdn/browser-compat-data](https://github.com/mdn/browser-compat-data) on GitHub.

[2020-06-12 07:16] Ryuno-Ki commented on #33799
Not my intention (I'm wary of Makefiles).
But I could provide the code snippet needed to produce the relevant Markdown/HTML code.

If I don't have to setup the whole toolchain to integrate it, I'd fork and open a PR.
Perhaps something like GitPod or so can be used?

[2020-06-12 09:29] ronag commented on #28167
@mildsunrise

[2020-06-12 09:57] shackijj commented on #33348
It's not been fixed. I started to work on this issue and created a reproduction [here](https://github.com/nodejs/node/pull/33395).

I'm still waiting for a comment from @addaleax on [this](https://github.com/nodejs/node/issues/33348#issuecomment-631908899).

@jasnell @benjamingr @tniessen could anyone please share thoughts on [this comment](https://github.com/nodejs/node/issues/33348#issuecomment-

[2020-06-12 10:18] #33791 closed

[2020-06-12 11:09] mildsunrise commented on #28167
I'm not familiar with https but servername is calculated [here](https://github.com/nodejs/node/blob/bba9b008ef3095d346ed9a87140c81948476d9db/lib/_http_agent.js#L301) and yes, it seems we don't set it for IPs.

TBH I only recently found tls doesn't set SNI by default, I can agree it's not intuitive but it seems to be conventional. Maybe we could mention it more explicitely in the docs?

[2020-06-12 11:31] mildsunrise commented on #28167
I propose to add the warning and close this (but regardless, I'm not against changing the default if we decide to do so)

[2020-06-12 11:36] mildsunrise commented on #28167
@edmorley sorry, I hadn't seen your comment...

But that "MUST" only requires implementations to *support the use of SNI*. We do support it, we just don't enable it by default, right?

[2020-06-12 11:39] Flarna commented on #33853
I think you have to consume the response data received on client side. Try adding `res.resume()` if you are not interested in the response data in your sample.
Please note that this is done automatically if no response callback is set at all (see https://nodejs.org/dist/latest-v14.x/docs/api/http.html#http_class_http_clientrequest)

[2020-06-12 11:53] edmorley commented on #28167
@mildsunrise Hi! Yeah I suppose that's technically correct, however I feel like having the default `tls.connect` API behaviour be non-spec-compliant wouldn't match user expectations?

Perhaps the best option is to add a warning to the docs for now, and then in the next Node major make it the default for TLS 1.3 connections only?

[2020-06-12 11:59] ronag commented on #28167
Sorry to bump in. This is the part I'm missing. Make **what** exactly the default?

[2020-06-12 12:05] mildsunrise commented on #28167
Current behaviour doesn't match user expectations, that's for sure (but it is spec-compliant imo, since it's the application (i.e. the user) who's in charge of enabling it)

I understand you want to enable SNI by default for TLS 1.3 connections?

[2020-06-12 12:28] edmorley commented on #28167
I'm not saying that `tls.connect` is not spec compliant per se, but that the "out of the box defaults" make it easy to accidentally write a non-spec-compliant client.

To hopefully clarify:
* `tls.connect` does not enable SNI by default (presumably a combination of "because it never has since SNI is newish" + the privacy reasons mentioned above)
* for TLS 1.2 and older, this is not normally a prob

[2020-06-12 12:42] mildsunrise commented on #28167
Oh, TLSv1.3 mandates SNI? If you're referring to the paragraph where it says «In the absence of an application profile standard specifying otherwise, a TLS-compliant application MUST implement» like you said it's the application who's responsible of following spec.

If we want to enable SNI by default, I'd vote we do it on all connections... doing it only for TLSv1.3 could be confusing, IMHO.

[2020-06-12 12:49] edmorley commented on #28167
I agree, I only mentioned that as a way to mitigate the privacy concerns for pre -TLSv1.3 use-cases, but (a) it would be confusing, (b) in those cases users could always disable it explicitly if desired I suppose.

[2020-06-12 13:22] jasnell commented on #33583
The survey has now been closed. We had 97 responses which is excellent! I will be working on a report of the results and will post that to the TSC repository in the next week. Thank you all!

[2020-06-12 13:22] #33583 closed

[2020-06-12 15:06] f3lang opened #33858 "Resolving NS records against manual configured servers fails (ENODATA)"
* **Version**: v14.4.0
* **Platform**: Linux wolfgang-ThinkPad-P51 5.4.0-31-generic #35-Ubuntu SMP Thu May 7 20:20:34 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: dns

### What steps will reproduce the bug?

First, you need a DNS zone with NS records delegating a subdomain to another DNS zone.
I set up an example on our domain:
root domain: ventx.de
delegated subdomain: delegation-test

[2020-06-12 16:38] clshortfuse commented on #31309
Got it. I can 100% reproduce it on my Mac OS X system with Node v14.3.0 with either Chrome or Safari.

It seems the HTTP2 frames in the session are stalled by one. If a POST request is sent with data to the server, that stream won't emit the last `'readable'` event (where `.read()` is `null`). For some reason, the session is stalled here. If I send a `PING` frame on the session, it'll continue wor

[2020-06-12 17:44] AhmedMostafa16 commented on #32321
**Concurrency Sanitizer** may spot race conditions.

[2020-06-12 18:18] mcollina commented on #31309
@clshortfuse can you create a client with node.js that reproduce the problem? This would be highly instrumental in writing a test

[2020-06-12 18:58] #30995 closed

[2020-06-12 19:02] addaleax commented on #33348
@shackjjj Thanks for the ping – no, unfortunately we can’t assume that `Buffer`s contain UTF-8, otherwise we wouldn’t need to have a `Buffer` variant in the fs API. We can, however, assume that `/` is the path separator, so joining two `Buffer` paths in this case here boils down to `Buffer.concat([buf1, slashBuffer, buf2])`.

[2020-06-13 01:01] clshortfuse commented on #31309
@mcollina I'm struggling a bit reproducing it with the built-in http/2 client. It just works fine. It completely fails with Chrome. I also discovered it also fails with `curl`, but only sometimes. The times it does fail on `curl`, it may be a race condition somewhere.

Something about `remoteSettings`, session state, and `localSettings` may not be occurring in a specific order. I'd guess the `node

[2020-06-13 04:41] crud-boy opened #33861 "Value display error"
node: v12.16.1
os: window x64

[code]
## output
[code]

[2020-06-13 05:52] powershellwhizz commented on #32999
So forgive me for being a noob but I am new to tracking and fixing bug via GitHib - I see landers found and fixed it and raised a commit. So I guess someone will accept that and it will be merged into the main branch? When that happens does this ticket get closed somehow and marked as resolved/fixed? And finally, how does it get pushed into the next (I assume next) version of Node? How can I track

[2020-06-13 07:31] #22621 closed

[2020-06-13 07:51] targos commented on #21686
I'm going to close this as "working as intended". While I agree that it would be more intuitive to resolve relative to the file that instantiated the worker, relative to cwd has always been the documented behavior and it's possible to get the other behavior more easily from inside the calling module (with `__dirname` in CJS or `import.meta.url` in ESM).

[2020-06-13 07:51] #21686 closed

[2020-06-13 07:51] #22628 closed

[2020-06-13 07:56] targos commented on #21961
ping @nodejs/addon-api @nodejs/n-api

[2020-06-13 08:00] targos commented on #23333
I'm closing this issue because of its lack of recent activity. Feel free to reopen or ask that we reopen if you think that it should still be addressed.

[2020-06-13 08:00] #23333 closed

[2020-06-13 08:38] bnoordhuis commented on #28167
RFC 8446 lists SNI in the mandatory-to-implement extensions section but nowhere does it seem to say TLSv1.3 clients MUST use SNI. SHOULD yes, MUST no.

https://tools.ietf.org/html/rfc8446#section-4.4.2.2:
[code]

https://tools.ietf.org/html/rfc8446#section-9.2:
[code]
(server_name = SNI)

[2020-06-13 08:38] targos commented on #23221
I'm closing this issue because of its lack of recent activity. Feel free to reopen or ask that we reopen if you think that it should still be addressed.

[2020-06-13 08:38] #23221 closed

[2020-06-13 08:39] #20624 closed

[2020-06-13 08:39] #20052 closed

[2020-06-13 08:42] targos commented on #25341
@nodejs/n-api

[2020-06-13 09:01] targos commented on #25657
I'm closing this issue because of its lack of recent activity. Feel free to reopen or ask that we reopen if you think that it should still be addressed.

[2020-06-13 09:01] #25657 closed

[2020-06-13 09:03] targos commented on #25891
is this still an issue?

[2020-06-13 09:16] targos commented on #23237
I'm closing this issue because of its lack of recent activity. Feel free to reopen or ask that we reopen if you think that it should still be addressed.

[2020-06-13 09:16] #23237 closed

[2020-06-13 09:19] targos commented on #26880
Is there an easy way to reproduce? Maybe in a Docker container?

[2020-06-13 09:20] bnoordhuis commented on #33858
I can confirm what you're seeing but I don't think this is a Node.js bug. It _might_ be a c-ares bug (the library Node.js uses to perform the NS query) but my hunch is that it's a problem with the DNS server.

Here is the response I get back:
[code]
Note how the answer count field is zero, even though there are clearly answers in the response packet:
[code]
The server acknowledges the query though

[2020-06-13 09:20] #33858 closed

[2020-06-13 09:21] targos commented on #27139
Closing, assuming this was fixed in libuv.

[2020-06-13 09:21] #27139 closed

[2020-06-13 09:21] targos commented on #25424
@guybedford is this still an issue?

[2020-06-13 09:22] bnoordhuis commented on #33861
You should file your bug report against the bytebuffer package, not here.

[2020-06-13 09:22] #33861 closed

[2020-06-13 09:23] bnoordhuis commented on #33853
Closing as answered.

[2020-06-13 09:23] #33853 closed

[2020-06-13 09:24] bnoordhuis commented on #33805
I don't think there's anything left here to do so I'll take the liberty of closing it out.

[2020-06-13 09:24] #33805 closed

[2020-06-13 09:27] #22708 closed

[2020-06-13 09:32] targos commented on #22763
I'm closing this. The current output is not strictly wrong

[2020-06-13 09:32] #22763 closed

[2020-06-13 09:32] #30152 closed

[2020-06-13 09:36] targos commented on #30915
I think this is resolved

[2020-06-13 09:36] #30915 closed

[2020-06-13 09:37] bnoordhuis commented on #25891
Possibly... testing today, the test doesn't terminate in any reasonable time frame:
[code]

[2020-06-13 09:38] targos commented on #26835
@nodejs/http2

[2020-06-13 09:45] #26040 closed

[2020-06-13 10:02] benjamingr commented on #33846
@edgework thanks for the report btw! the reason is to not pay a performance penalty (capturing a useful stack) without the user opting in. We might want to change that in the future if people feel strongly enough about this.

[2020-06-13 10:07] benjamingr commented on #33834
I think this can be closed. @lanjia thank you for the report :] Please feel free to open more issues about behaviors you find surprising in worker_threads we appreciate those!

(As usual, if anyone feels strongly about this or that we should keep discussing - feel free to re-open)

[2020-06-13 10:07] #33834 closed

[2020-06-13 11:40] mcollina commented on #31309
Thanks for spending time in debugging this. http/2 is a really complex protocol with a lot of moving parts.. and it’s hard to test.

Let us know how you progress on this!

[2020-06-13 12:13] kapouer commented on #33703
On mips64el, nodejs 12.18.0
Backtrace
[code]

[code]
[code]

[code]

[code]
[code]

[2020-06-13 12:27] magnuslopes23 commented on #22630
I was working with npm scripts and have the following error

child_process.js:430
    throw new ERR_INVALID_ARG_TYPE('options.cwd', 'string', options.cwd);
    ^

TypeError [ERR_INVALID_ARG_TYPE]: The "options.cwd" property must be of type string. Received function wrappedCwd
    at normalizeSpawnArguments (child_process.js:430:11)
    at spawn (child_process.js:546:13)
    at C:\Users\Magnus\Desk

[2020-06-13 15:36] clshortfuse commented on #31309
It's a combination of what I figured. I checked it out in Wireshark. Chrome will succeed if any packet appears in after the `DATA` packet in question (the one with the data in the `Readable`). It doesn't matter if the packet is inbound or outbound, it just has to exist. But if the last packet is a `DATA` packet, it'll hang there.

I tried `nghttp`'s command-line binary and it always works, no surp

[2020-06-13 15:42] rosaxny commented on #28250
Hi, I'd like to work on this.

[2020-06-13 17:21] Hakerh400 commented on #33861
Duplicate of https://github.com/nodejs/help/issues/2268 and https://github.com/nodejs/help/issues/2230.

JavaScript stores all numbers as double-precision binary [IEEE 754](https://en.wikipedia.org/wiki/IEEE_754) floating point values. Each number is internally stored on 64 bits: 1 bit for sign, 52 for mantissa and 11 for exponent. Given that it has limited number of bits available, it can therefo

[2020-06-13 17:41] trivikr opened #33864 "Rename default branch from "master" to "main""
**Is your feature request related to a problem? Please describe.**
Lot of software developers are discussing on twitter to rename default branches for their projects from "master" to "main" or equivalent https://twitter.com/search?q=master%20branch&src=typed_query

The primary reason being master-slave an oppressive metaphor.

**Describe the solution you'd like**
Node.js core follows the trend to

[2020-06-13 17:49] rmbb22 commented on #33864
Ruo1404@gmail.com

[2020-06-13 17:52] devsnek commented on #33864
This is not a technically difficult task (https://www.hanselman.com/blog/EasilyRenameYourGitDefaultBranchFromMasterToMain.aspx) but it might break some things. I definitely think we should try to change it.

[2020-06-13 18:41] ronag commented on #33864
Does this mean we would have to change the cluster API (which includes master in its vocabulary) as well?

[2020-06-13 18:52] Gallardo994 commented on #33864
This is getting silly already. No way it makes any sense.

[2020-06-13 18:52] AhmedYusuf99 commented on #33864
That is hilarious. From defacing nodejs.org with blm propaganda, to renaming master branch to avoid similarity with master-slave metaphor. What is the next requirement OpenJS will ask for? To remove the **test** directory to avoid similarity with **test**icles? Please keep technical aspects of the software free of politics and globalistic propaganda.

[2020-06-13 19:01] devsnek commented on #33864
@ronag i don't think that cluster was brought up in this thread, though it has been discussed on other occasions.

[2020-06-13 19:06] ronag commented on #33864
I'm neutral to the change itself. Though I don't think that changing it because it is "industry standard" is a valid argument, at least not yet. If we are changing it because we think it is a loaded/inappropriate word, then I think we would have to remove all occurrences to remain consistent with that decision.

[2020-06-13 19:08] zeldin commented on #29534
@bnoordhuis:  Thank you for offering to take pull requests.  I just opened one for you here: https://github.com/nodejs/node/pull/33866

[2020-06-13 19:20] benjamingr commented on #33864
I don't feel like this is something people have actually complained about. When we've made these changes in the past (for example in child_worker.suicide) it was guided by someone acting in good faith feeling strongly about the terminology.

If someone from the project's base does feel strongly about it - I suggest we rename it, though `master` is the default git branch name so I would caution we

[2020-06-13 19:28] trivikr commented on #33864
I don't feel strongly against using master branch name. I proposed it as I plan to follow it in my personal projects and work projects, and wanted to ask Node.js community.

Should we add this to tsc-agenda?

Is there an equivalent ask in git repo?
If not, we should create one.

[2020-06-13 19:28] benjamingr commented on #33864
Also, to all the people making the drive by comments: please keep discussion civil and remember Node.js has a [code of conduct](https://github.com/nodejs/admin/blob/master/CODE_OF_CONDUCT.md). If you can't be polite here you really don't have to comment. It's fine to either support or object to the proposed change (or any proposed change) as long as you are [civil](https://github.com/nodejs/admin/

[2020-06-13 19:33] benjamingr commented on #33864
I'm not sure where the git repo is - but I recommend trying the mailing list and asking there https://git-scm.com/community

I think "doing whatever git does and bringing the issue to their attention" is a viable strategy - but again, I don't feel particularly strongly about the use of "master" and if someone else does - sure.

I'm not entirely sure why?

[2020-06-13 19:36] trivikr commented on #33864
To let tsc make a call on this request.

Other option would be to keep this issue open for a week or so, and see if it gathers more feedback or support.

[2020-06-13 19:44] benjamingr commented on #33864
As far as I understand it that's not how our governance works. Any collaborator may add the `tsc-agenda` label for an issue so it gets TSC eyes on it - but that should only be done if consensus seeking fails. It's an escape hatch for when we need to _force a vote_ which is pretty rare. At least that is my understanding of [the process](https://github.com/nodejs/node/blob/master/GOVERNANCE.md).

So

[2020-06-13 20:04] trivikr commented on #33864
I've sent an email to Git Community mailing list, and will update here once they come up with a decision.

[2020-06-13 20:14] ljharb commented on #33864
Bear in mind that URLs linking to `master` will not redirect to the new default branch name (and for repos where it matters, which isn't this one, github-pages only works on the default branch when it's named `master`). It may be worth waiting for Github to fix these discrepancies before making the switch.

[2020-06-13 20:22] blacklistisnotracist commented on #33864
FYI, we tried to find the right branch name that wouldn't offend anyone, but we are having trouble. https://github.com/blacklistisnotracist/the-most-politically-correct-software/issues/1

So I would say it's better to stick to master for now until we have the new standard name.

[2020-06-13 20:27] jasnell commented on #33864
+1 to main but I do want to see what lead GitHub takes in making this easier

[2020-06-13 20:27] MylesBorins commented on #33864
I personally feel very strongly that we should change this.

+1 to `main`

[2020-06-13 20:32] AshCripps commented on #33864
I would be -1 untill a plan is drawn for the changes. This could cause a lot of issues with our build ci which would need to be accounted for.

[2020-06-13 20:37] tempaccount458832 commented on #33864
Hello. Can you please read https://github.com/AhmedYusuf99/Q/issues/1 and consider unblocking account AhmedYusuf99? Isn't blocking a user account because of a single comment a too radical action?

[2020-06-13 20:37] benjamingr commented on #33864
Ok, it looks like there are people in favor in the org who feel strongly that we should change this. So far no objections and everyone in the conversation is +0 -0 or +1.

Does anyone object to changing this (just the main branch name from `master` to `main`)?

It looks like it's [not particularly hard](https://github.com/nodejs/node/issues/33864#issuecomment-643656288) technically (+ an update to

[2020-06-13 20:39] ronag commented on #33864
What about https://github.com/nodejs/node/issues/33864#issuecomment-643674646?

Also, I think GitHub picked `trunk` instead of `main`. https://github.com/cli/cli/issues/929...

[2020-06-13 20:40] MylesBorins commented on #33864
Fwiw there is quite a lot of work for us to do in order to make sure we do this in a way that is not disruptive.

To @AshCripps point, we definitely need to do a large audit and preparation before moving forward.

I was putting together some notes yesterday outlining steps to take and what to consider before making a change like this

I'd like to suggest that we pause discussion until Monday and I

[2020-06-13 20:42] benjamingr commented on #33864
@ronag that message was posted after I started writing mine so I did not see it. Sorry for the (timing) confusion. Fwiw https://github.com/nodejs/node/issues/33864#issuecomment-643674646 isn't a conceptual -1 it's a -1 until a plan is drawn for how we make the changes. I thought that not making the change quickly without discussing this or laying out how (clearly) is a given.

[2020-06-13 21:24] ronag commented on #33237
@jasnell

[2020-06-13 21:27] ronag commented on #31813
This was fixed in net.

[2020-06-13 21:27] #31813 closed

[2020-06-13 21:29] ronag commented on #31583
As previously mentioned I don't believe this is an issue and is working as intended. I'm closing this issue as it's been stale for a while and I don't see any further course of action.

[2020-06-13 21:29] #31583 closed

[2020-06-13 22:38] guybedford commented on #25424
This is actually a much deeper problem than I originally thought in that V8 itself has no capacity to release module memory without releasing the entire context itself as far as I'm aware.

This is likely an area where Node.js (and Deno for that matter) could lead the way in V8 / spec work to improve as Node.js will be blocked directly on issues like https://github.com/nodejs/modules/issues/527 wh

[2020-06-13 22:38] ARitz-Cracker commented on #33864
Needlessly censoring words does nothing to resolve the social issues surrounding them. The reasoning behind this is the same used when changing the gun emoji to a squirt gun. But in the end, such efforts only take away words and symbols we can use to easily describe concepts, such as the hierarchical and control structures we work with every day. It's destructive at worst and pointless virtue sign

[2020-06-13 22:44] ARitz-Cracker commented on #33864
Anyway, -1 to this. Not worth the effort.

[2020-06-13 22:52] mscdex commented on #33864
I am -1 on renaming/changing the branch.

[2020-06-13 23:32] gabrieledarrigo commented on #33864
-1 on this.

[2020-06-14 00:26] jasnell commented on #33864
Putting this on the tsc agenda for discussion

[2020-06-14 03:10] a-parser opened #33868 "Modules cache prevents loading non exists module after it installed"
* **Version**: 14.4.0
* **Platform**: macos 19.4.0
* **Subsystem**:  module

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?

always

### What is the expected behavior?

The expected behavior is to load the module, as it is installed

### What do you see instead?

[code]

[2020-06-14 03:17] DerekNonGeneric commented on #33868
Duplicate of https://github.com/nodejs/node/issues/31803.

[2020-06-14 06:10] awwright opened #33869 "assert.match should return match result"
**Is your feature request related to a problem? Please describe.**
I was using `assert(haystack.match(/needle/));` in my unit tests, and I found that `assert.match(haystack, /needle/);` produced much cleaner errors. +1, suggest to move to stable.

However, in a small handful of cases, I was also using the match results later on in the test, like so:

[code]

**Describe the solution you'd like**

I

[2020-06-14 07:41] mcollina commented on #28971
I would recommend we close this issue as it’s likely not doable without a significant slowdown in the current state of affairs.

[2020-06-14 07:42] #28971 closed

[2020-06-14 07:47] shackijj commented on #30674
I spent some time researching how the stat cache works now.

There is no a stat cache in ESM loader. So, adding it there won't be a problem.

In CJS loader, the stat cache's lifetime is limited. It seems to me that the cache is used during a single requre call and then it's cleared.

https://github.com/nodejs/node/blob/c17d2f99018ae48ed82a90a9eccc570ed1ae83c6/lib/internal/modules/cjs/loader.js#L12

[2020-06-14 09:06] targos commented on #24850
I think this was fixed in https://github.com/nodejs/node/pull/33042

[2020-06-14 09:06] #24850 closed

[2020-06-14 09:10] targos commented on #24970
I'm closing because this doesn't seem to be a Node.js bug. Feel free to ask to reopen if I'm wrong.

[2020-06-14 09:13] targos commented on #23428
I'm closing this issue because of its lack of recent activity. Feel free to reopen or ask that we reopen if you think that it should still be addressed.

[2020-06-14 09:13] #23428 closed

[2020-06-14 10:27] addaleax commented on #30674
@shackjjj I don’t know why it’s cleared myself, but yes, I would assume that there’s a memory consumption aspect to it. It’s probably also relevant for accounting for file system modifications done by the running program itself – those can affect the results of `stat()` calls, so it’s not reasonable to assume that the stat cache remains valid forever. (Technically, it’s also not valid to assume th

[2020-06-14 10:28] gireeshpunathil commented on #33864
-1 on renaming the branch

[2020-06-14 10:43] benjamingr commented on #33864
I would recommend we escalate this (to a vote for example) when:
 - We have a clear plan on how to make this change addressing the raised issues (GH links, build infrastructure etc).
 - We have an individual or group willing to champion those changes.

Can either of the collaborators -1ing (@gireeshpunathil / @mscdex ) speak up regarding what in particular they are objecting to? (The process of ch

[2020-06-14 10:47] benjamingr commented on #33864
Also, this issue is locked because it has received a large number of abuse comments. Like the website change - changes with this flavor tend to get a lot of attention.

[2020-06-14 10:53] bnoordhuis commented on #33868
Exactly, and that issue was closed recently due to inactivity. I'm going to close this as a duplicate.

@a-parser If you want to pursue this, leave a comment in the other issue - but please read through the comments first.

[2020-06-14 10:53] #33868 closed

[2020-06-14 11:02] bnoordhuis commented on #33864
@MylesBorins Also think about how to roll back when things go wrong. Auditing Jenkins jobs is the kind of mind-numbing tedium that makes human error more likely than not.

[2020-06-14 11:06] bnoordhuis commented on #32321
@AhmedMostafa16 Not this kind of race condition.

[2020-06-14 13:27] mscdex commented on #33864
@benjamingr I don't think such a change is necessary and by making such a change it would be creating a lot of technical issues. I've never heard anyone seriously say they found the branch name offensive since git's inception, much like I've never heard anyone seriously find similar terminology offensive elsewhere in computing in the many decades it's been in use.

I believe attaching a single con

[2020-06-14 13:50] jasnell commented on #33864
@mscdex

That's literally what you're seeing here. Keep in mind that what you might consider "*actually*" and "*obviously*" offensive will differ significantly from what others may find "*actually*" and "*obviously*" offensive.

[2020-06-14 13:50] matthenschke commented on #33847
I'll work on it!

[2020-06-14 14:02] jasnell commented on #33864
There are definitely some very real and difficult technical challenges to address here. My suggestion would be to make this a strategic initiative with the first step being to establish precisely how to make this change with the least amount of disruption.

[2020-06-14 14:23] gireeshpunathil commented on #33864
As a community that has pledged for inclusivity, it is natural to be sensitive and sympathetic to the current situations. However, I guess taking a step back and looking at things from a more wider perspective, I would ask these questions myself, in order:

 - Is Node.js community well represented by race, gender, ...? any process change required for the membership criteria for better inclusion of

[2020-06-14 14:38] mscdex commented on #33864
Are you referring to the OP? If so, that didn't exactly strike me as someone saying they personally find the term offensive. To me the issue text read more like "hey, other people are making this change in other projects, should we do it too?".

Here "actually" and "obviously" was meant to describe things that a greater majority of people can agree are offensive.

[2020-06-14 14:57] addaleax commented on #33864
To make it explicit, I am strongly +1 on doing this. This is not mutually exclusive with other initiatives in any way.

As for the technical issues, we can either wait to see if something comes from Github, or implement tooling ourselves that would keep the current branch name synced/as an alias, for example.

[2020-06-14 14:57] HP4k1h5 opened #33873 "unclear why using `for...in` causes out-of-memory error"
* **Version**:  v14.4.0
* **Platform**: Platform: Darwin 0p05 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64
* **Subsystem**: Memory 8 GB 2133 MHz LPDDR3

### What steps will reproduce the bug?
1) run the following code with the uncommented `for... in` loop
[code]

### How often does it reproduce? Is there a required condition?
This c

[2020-06-14 15:25] HP4k1h5 commented on #33873
having tried to use `Object.keys()`, myself, and seen that go oom, i have a suspicion that either `GetKeys` or `GetKeysFast` is going to necessarily cause this issue. probably unavoidable then, im happy to close unless its possible to add to documentation somewhere that object iterators can have high memory costs associated.

[2020-06-14 15:48] jasnell commented on #33873
Without trying it out myself, I would say that it's because the for in uses the iterator pattern which, I believe, is allocating an object on every iteration, so you're allocating 1e8 additional objects in this loop.

[2020-06-14 15:51] addaleax commented on #33873
`for in` does not use iterators, and even if it did, the iterator objects could be GC’ed.

@HP4k1h5 You’re right, `GetKeys()` is the issue here, because it converts each of the object’s keys into a strings (which take up quite a bit more memory than integer indices), and tries to allocate all of them before performing the iteration steps.

[2020-06-14 16:05] matthenschke commented on #33847
Do you know where I can find the js code for OutgoingMessage, and are there any dependencies I should look at before attempting to add this documentation?

[2020-06-14 16:06] jasnell commented on #33873
Ah right, for in, not for of.

[2020-06-14 16:10] MylesBorins commented on #33864
I'd like to echo the sentiment from @addaleax that changing the branch name need not be mutually exclusive from other changes which our project likely needs to do to be more welcoming / inclusive. We should always be examining our process and thinking about what we can do to improve and make small iterative changes towards where we want to be.

The term `master` for the main tracking branch is som

[2020-06-14 16:14] HP4k1h5 commented on #33873
thank you for the explanation. ill close, as i dont even know where/if node has documentation related to native js constructs.

[2020-06-14 16:14] #33873 closed

[2020-06-14 16:17] addaleax commented on #33873
@HP4k1h5 We don’t have documentation related to JS language features, no. We usually link to npm, in this case that would be https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for...in.

[2020-06-14 16:17] MylesBorins commented on #33864
Also some interesting references for this discussion

[Original Discussion on git mailing list](https://public-inbox.org/git/7265e8cd-6166-1da6-c1b9-85d5d591bfd7@gmail.com/T/#ma9a4da070ddf8ff87729960bb31ce2a8776c73c1)

[Proposed change to git to allow overriding the default branch](https://public-inbox.org/git/nycvar.QRO.7.76.6.2006111610000.56@tvgsbejvaqbjf.bet/T/#mb6bb1a9ea6133b2829d9d47a6ecfa3c

[2020-06-14 17:01] gireeshpunathil commented on #33864
@MylesBorins - that was an addendum. My main point is that the other items that I listed are more tangible, personal and direct to the people / group who are subjected to the theme in question, and hence present a natural order to address.

I now see your submission in collab summit, and acknowledge it as part of a constant attempt towards improving our community, in the context of diversity and i

[2020-06-14 18:45] ivanjeremic opened #33876 "Hide node_modules by default folder like git does"
Like the title says I would like the node_modules folder to be hidden by default like for example Git does it with the .git folder, it is really rare that you need to look up something in node_modules and if you really need you can make it visible for a short time while you look into it.

The reason is simple, the project directory will look cleaner.

[2020-06-14 19:13] smbape commented on #27997
Sorry to bother you again on this issue.
Any idea on when the fix will be integrated?

[2020-06-14 19:22] addaleax commented on #27997
@smbape I don’t suspect that @ak239 is actively working on this at this time … since they opened a CL against Chromium, I assume that this is a bug in DevTools – maybe you could report an issue against that, i.e. through https://bugs.chromium.org/p/chromium/issues/entry?

[2020-06-14 19:34] ronag opened #33877 "Is it safe to write to a TLS socket before secureConnect event?"
Is it safe to write to a TLS socket before `'secureConnect'` event? It's not entirely clear from the docs unless I've missed something.

[2020-06-14 19:52] addaleax commented on #33877
@ronag If it isn’t, then I’m pretty sure it should be… at the very least, it seems like it works in practice? As in, writing data to the socket synchronously in the same tick as `tls.connect()` seems to work.

[2020-06-14 19:56] ronag commented on #33877
It does work... but is it safe? I'm not familiar enough with TLS but is it in theory possible to send data on the wire before the connection is fully authenticated?

[2020-06-14 20:11] addaleax commented on #33627
The results of the contributor survey (in nodejs/tsc#882) make it sound like this is **definitely** a problem.

I would also prefer to merge PRs faster, but I also feel like that should come with a more relaxed reverting policy; e.g., merge PRs without waiting, but also revert them without waiting¹, and if a collaborator *requests* that a PR gets a 48-hour waiting period for any reason, we respect

[2020-06-14 20:29] mnini opened #33878 "Original object became proxy after initialization of proxy, without asigning a proxy."
[code]

Can somehow tell me how "this" inside of object became a proxy? Because it should no yet be a proxy! I think everybody do not expect original object to became proxies until proxy is assigned to object.

[2020-06-14 20:44] addaleax commented on #33627
Opened https://github.com/nodejs/node/pull/33879 which would implement that suggestion – I’m not set on that particular solution, but I’d like to see something happen.

[2020-06-14 20:46] ronag opened #33880 "worker: motivating examples?"
I'm having a hard time figuring out when I would actually want to use workers over a child process.

The docs provide the following motivation:

However, I'm having a hard time finding a case where I would actually use this. Usually I would have either strings or objects that I would like to pass onto a worker. Maybe something like https://capnproto.org/ could take advantage of this? But from what

[2020-06-14 20:55] addaleax commented on #33878
@mnini Do you think you could edit your example so it’s a bit more minimal? It’s hard to tell what your expected behavior here is.

[2020-06-14 21:36] addaleax commented on #33880
The short answer I usually give is “for CPU-intensive work that should be offloaded from the main thread and that benefits from fast communication between threads”. I know that that’s kind of generic, but I think it describes the niche that it fits in quite well.

One classic example would be image processing – for example, you build an HTTP server which receives images as requests, and which retu

[2020-06-14 22:05] smbape commented on #27997
@addaleax thank you for your anwser.
I opened an issue there.
[https://bugs.chromium.org/p/chromium/issues/detail?id=1094722](https://bugs.chromium.org/p/chromium/issues/detail?id=1094722)

[2020-06-14 22:06] #27997 closed

[2020-06-14 22:24] devsnek commented on #33880
Large discord bots spend a lot of cpu time processing incoming events from discord. Using worker threads one can [shard](https://discord.com/developers/docs/topics/gateway#sharding) discord connections.

[2020-06-14 22:30] smbape opened #33883 "Chrome Devtools pauses on caught promise rejection"
* **v12.18.0, v13.14.0**:
* **Windows 10 x64**:

### What steps will reproduce the bug?
Save the code below in a file an run it with `node --unhandled-rejections=strict --inspect-brk`:

[code]

### What is the expected behavior?
I expect the debugger not to pause on caught promise rejection

[2020-06-14 22:31] mcollina commented on #33627
Here is why I am a bit skeptical: a PR on http or streams typically needs some scrutiny from @nodejs/http or @nodejs/streams to _not_ regress in performance or correctness. There have been quite a few cases where PR got a _lot_ of “quick” LGTM from people outside said teams and a comment from one of those members that “changed everything”. This being said, after it gets a few reviews from said tea

[2020-06-14 22:33] addaleax commented on #33627
@mcollina That’s :100:  what I was going for in #33879 – I’m happy to adjust the proposal if you think it could be performed in a better way.

[2020-06-14 22:35] jasnell commented on #33627
Revisiting codeowners for specific subsystems would be a good idea in general, separate from this... Especially given the feedback in the survey that it's often difficult to find the right people to discuss a given change

[2020-06-15 01:25] rickyes opened #33885 "CI address access appears 404"
https://ci.nodejs.org/job/node-test-pull-request/31863/

As the title says, it seems that the last access to the CI address has become inaccessible, is it set to allow only collaborators?

[2020-06-15 02:30] Johnny421 opened #33887 "SSE is blocking long polling requests"
I'm trying to write to multiple browser clients by using Server-Sent Events (SSE) and long polling as fallback with Node.js and HTTP/2.

Everything is working. But it looks like SSE is blocking the long polling HTTP POST request when used in the same server.

if make 2 server, one with SSE logic and the other for long polling and connect as client from a single html file with 2 different ports the

[2020-06-15 04:32] guybedford commented on #30674
The stat cache was only added relatively recently and yes I believe it was short-lived to try to reduce the scope for errors as far as I'm aware given that Node.js never previously had anything like this and liveness with the file system is expected between separate module loads.

Given this nature of the stat cache it likely doesn't actually make sense to share unless we make the separate decisio

[2020-06-15 04:52] blacklivesmatterplease opened #33888 "Could you please rename master branch and remove any problematic words?"
Words such as master, slave, blacklist, whitelist and others have deep racist history. Many OSS projects are removing it (golang, rustlang, python, etc).

Here's a note from github CEO - https://twitter.com/Una/status/1271180494944829441

Could you please help black community feel more comfortable by removing those words from the code and project?

PS - Historical context for main - https://www.na

[2020-06-15 05:31] abartomeu commented on #33468
Since I upgraded from 12.16.3 to 12.17 I have had a memory leak in production that I am trying to figure out. I took a memory snapshot in the staging environment and I can see 898 TLSWrap object with the same 4 retainers as mentioned by @mgilbey. I couldn't validate yet that is the leak because I was only able to take one snapshot but if it is, it was introduced in 12.17.

[2020-06-15 06:21] #33888 closed

[2020-06-15 08:57] kaizhu256 opened #33890 "add fs.mkstemp (lib_uv recently landed uv_fs_mkstemp #21)"
**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.
i have a build-system (in debian-docker under windows) that async-updates files w/ multiple child_processes doing `fs.writeFile, fs.unlink, fs.link`.
there are occasional race-conditions (i can't discern how) where one child_process writing to a file while another child_process u

[2020-06-15 09:11] targos commented on #33890
Work in progress: https://github.com/nodejs/node/pull/33549

[2020-06-15 09:56] lundibundi commented on #33714
As I see it, the problem with this is that `@` at the beginning of the package name is interpreted as referring to scoped/namespaced package (i.e. https://docs.npmjs.com/about-scopes) and the code is, therefore, searching for full package name (which will always be in the form of `@scopename/package` or `@scopename/package/file.js`) but since you want to directly read the file from a folder named

[2020-06-15 10:41] richardlau commented on #33627
+1 for revisiting codeowners.

I'm not opposed to changes to our process but the current process is a balance between having some checks in place for things such as streams that historically have been shown to need reviews and trivial one-word doc changes at the other end of the scale. Part of that balance is to have a _simple_ contribution process that can be explained to someone not familiar wit

[2020-06-15 12:42] rickyes commented on #33885
It's back to normal.

[2020-06-15 12:42] #33885 closed

[2020-06-15 12:48] richardlau commented on #33885
For the record, this is linked to https://github.com/nodejs/build/issues/2343 and the permissions being granted. You shouldn't have to be a collaborator to view CI results, but you do need to log in via GitHub.

[2020-06-15 13:10] kaizhu256 commented on #33890
Cool thx.  Closing this as duplicate

[2020-06-15 13:10] #33890 closed

[2020-06-15 14:21] clshortfuse opened #33891 "http2: empty DATA frame used instead of END_STREAM on last DATA frame"
* **Version**: v14.3.0
* **Platform**: Mac OS X
* **Subsystem**: http2

### What steps will reproduce the bug?

`Http2Stream.end('data');`

### How often does it reproduce? Is there a required condition?

It occurs as long as there are no trailers (which means always on `ClientHttp2Stream`)

### What is the expected behavior?

The `DATA` frame with the last piece of data should have the `END_STREA

[2020-06-15 14:28] bnb commented on #33864
Not a TSC member, but I am a +1 to this change, echoing @addaleax and @MylesBorins sentiments that these do not need to be synchronous changes but can be done simultaneously as we do more intensive work.

For full transparency, I've also brought up the possibility of doing this with all repos under the @nodejs/community-committee.

[2020-06-15 15:35] mhdawson commented on #21961
Was raised for discussion in the N-API team meeting today (which I can't make) but wanted to let people know it should be discussed today.

[2020-06-15 15:57] ijjk opened #33892 "Different query parsing behavior between node and browsers for `URLSearchParams`"
* **Version**: 10.x.x, 12.x.x, 14.x.x (tested specifically in 10.20.1, 12.16.1, and 14.4.0)
* **Platform**: macOS, ubuntu, windows, etc
* **Subsystem**: N/A

### What steps will reproduce the bug?

Attempt to parse query strings with either `querystring.parse` or `URLSearchParams` with a `%` and then a properly percent-encoded value.

[code]

or just

[code]

### How often does it reproduce? Is th

[2020-06-15 16:23] jasnell commented on #33892
@annevk ... would like your input on this issue if you're able. Just need to confirm what the correct behavior should be here.

[2020-06-15 16:23] benjamingr commented on #33883
Do you perhaps have the "pause on uncaught exceptions" box checked in the chrome devtools?

[2020-06-15 16:30] benjamingr commented on #33880
I've used workers for computationally expensive tasks where shared memory was important and the cost of cross-process shared memory considerably was more expensive than threads.

Some examples:
 - Any numerical calculation (like matrix multiplication if you want a more concrete example). If you want toy examples: calculating the mandlebrot set multithreaded.
 - Going through a large HTML document

[2020-06-15 16:49] gabrielschulhof opened #33893 "n-api,doc: update doc regarding callback HandleScope/CallbackScope use"
Explicitly state that HandleScope and CallbackScope declarations are not required inside AsyncWorker, ThreadsafeFunction et. al. callbacks.

Re: https://github.com/nodejs/node-addon-examples/issues/142

[2020-06-15 17:00] legendecas commented on #21961
The name is used in places like [`AddLinkedBinding`](https://github.com/nodejs/node/blob/master/src/node.h#L804) if the binding is going to be used in binding-linked-node binaries like node embedders or those node.js internal bindings. And we can fetch the binding by `process._linkedBinding(name)` by the name we registered in [`node_module` structure](https://github.com/nodejs/node/blob/master/src

[2020-06-15 17:22] annevk commented on #33892
I think @ijjk is correct. It would be nice to add those tests to WPT `url/urlencoded-parser.any.js`, `url/urlsearchparams-constructor.any.js`, and `url/urlsearchparams-stringifier.any.js`.

[2020-06-15 17:27] mikhailnov commented on #33864
Why must people rewrite scripts, change their locla gits and a lot of other work and break production systems just because some mentally not very healthy people want to make other people think that they matter sth by suggesting crazy ideas?

[2020-06-15 18:24] justinfagnani commented on #33439
Possibly related to this, is Node caching SourceTextModules based on their identifier?

We have a loader with its own cache and it seems like sometimes we'll get a module back from `new SourceTextModule` that's already been linked and eval'ed. We're still working on reducing the issue though.

This is for a server that's creating a fresh VM context for every request, so we want a new module graph

[2020-06-15 18:28] devsnek commented on #33439
@justinfagnani possibly v8:9968?

[2020-06-15 18:34] ijjk commented on #33892
@annevk I opened [a PR](https://github.com/web-platform-tests/wpt/pull/24152) against WPT adding the above tests, let me know if any changes are needed or there are any additional cases that should be covered

[2020-06-15 20:17] jason-krypton opened #33896 "Cap max outstanding async ids that need to be garbage collected"
**Is your feature request related to a problem? Please describe.**

We have a particularly busy server that uses the popular continuation local storage library, which is implemented using the [async hooks api](https://nodejs.org/api/async_hooks.html) to track the life cycle of async hooks. During high period of async hook generation we exhaust the max size of a Map `16777216` trying to track all o

[2020-06-15 21:07] mcshaz commented on #32987
As gengjiawen stated:

I will open a new issue if I can figure out where such an issue belongs - this doesn't seem to belong in the API docs per say as it is not the Node API, but the fact that 30 odd people have given the quoted post a thumbs up suggests to me that I wasn't the only one wondering how I pass a NodeJS `--trace-warnings` flag when the warning was seen after running a script via a pa

[2020-06-15 21:11] ronag commented on #33880
I don't quite agree with this. Workers is only useful when it's possible to take advantage of shared memory or transferable buffers.

Are buffers from sockets and/or files transferrable?

[2020-06-15 22:52] addaleax commented on #33880
Workers are useful for any CPU-intensive task that can be run in parallel, but yes, if sharing memory is something you can take advantage of then that’s something where Workers will really shine. If not, whether you’re better off using Workers or using child processes is more subtle.

Buffers from sockets are generally transferrable currently.

We should probably set the untransferable-marker on t

[2020-06-15 22:54] ronag commented on #33880
How much do we actually gain in performance by pooling the buffers like that? Might be worth to go in the other direction, i.e. making them transferrable?

[2020-06-15 23:38] rexagod commented on #33847
You'll find the code in `lib/_http_outgoing.js`. There are no dependencies to worry about. :)

[2020-06-15 23:40] ronag commented on #33653
Giving this more thought it's not a relevant use case. A bit confusing but it's never actually used like this in core.

[2020-06-15 23:40] #33653 closed

[2020-06-16 03:46] justinfagnani commented on #33439
@devsnek I honestly can't tell if that's related. From that issue, always invalidating the cache seems like what we want - ie, we're taking care of the caching in our loader and if we call `new SourceTextModule()` it's because we definitely want a new module.

I guess I don't know what the contract is for SourceTextModule. Should reusing the same source and identifier ever result in a module that'

[2020-06-16 03:50] devsnek commented on #33439
@justinfagnani

No. It sounds like you're hitting v8:9968.

[2020-06-16 04:55] eladkarako commented on #33000
(@gruber123, @nu8, @xCykrix )
<h3>Yep. support for Windows 7 has officially gone</h3>
<h2>But let's install it anyway!</h2>

<ol>
<li>browse for the latest build from <a href="https://nodejs.org/download/nightly/">https://nodejs.org/download/nightly/</a>
I've got <a href="https://nodejs.org/download/nightly/v15.0.0-nightly20200615f645cc7318/">https://nodejs.org/download/nightly/v15.0.0-nightly2020

[2020-06-16 05:32] xCykrix commented on #33000
@eladkarako thank you for the wonderful instructions!

[2020-06-16 06:15] zhouchifelix opened #33897 "C++ Addon segment fault, caused by "can not access TLSv1_2_enc_data""
* **Version**:v8.15.1
* **Platform**:ubuntu1804
* **Subsystem**:64bit

### What steps will reproduce the bug?

1. Build node addon which contains socketio cpp in openssl 1.1.0

2. Try connect socketio Server with node xx.js

3. Crashed in  ssl/method.c L18 /*-
 * TLS/SSLv3 methods
 */

IMPLEMENT_tls_meth_func(TLS_ANY_VERSION, 0, 0,
                        TLS_method,
                        ossl_s

[2020-06-16 08:41] smbape commented on #33883
No, it is not checked.

After looking at chromium dev tools, there seem to be an issue on it.
[https://bugs.chromium.org/p/chromium/issues/detail?id=465666](https://bugs.chromium.org/p/chromium/issues/detail?id=465666)

But I am not sure that it is only related to Chromium DevTools.
If it is, then you can close the issue.

[2020-06-16 08:45] #33883 closed

[2020-06-16 09:09] bnoordhuis commented on #33703
Thanks. Can you report this to V8? I don't think this is a bug we can fix.

V8's regexp interpreter is trying to load from address 0xfff86c7ca8 but that address isn't mapped to anything. My hunch is a calling convention mismatch between code generated by gcc and V8.

The binary is compiled on the machine it's run on? If not, you should run configure with `./configure <options> -- -Dv8_host_byteord

[2020-06-16 09:34] gugu commented on #31285
Node 14.4.0.

Here is a part of heapdump:

![image](https://user-images.githubusercontent.com/75169/84758100-afc06700-afcd-11ea-9836-454bd72a26ca.png)

[2020-06-16 09:36] bnoordhuis commented on #33896
Are you sure you don't have a resource leak in your application?

I can see a few thousand unreachable async_hooks objects stay around unreclaimed when there's not enough memory pressure for the garbage collector to come online but 16.7 million? Very unlikely.

If your answer is "yes, I'm sure", then do you perhaps have a small test case that demonstrates the issue? No third-party dependencies ple

[2020-06-16 09:43] kapouer commented on #33703
https://bugs.chromium.org/p/v8/issues/detail?id=10618

[2020-06-16 09:47] tomtastic commented on #33703
"Permission denied." Is this not public ?

[2020-06-16 09:49] schuay commented on #33703
It is now.

[2020-06-16 10:03] AdamMajer opened #33899 "aarch64 DebugSymbolsTest.ReqWrapList test failure"
* **Version**: current NodeJS 12.x
* **Platform**: openSUSE Tumbleweed with GCC 10.1.1
* **Subsystem**: tests

After we upgraded to GCC 10.x, Node builds started to fail on ARM64. I suspected something fishy with the compiler. But NodeJS 14.x compiles and passes these tests just fine. I wasn't able to find any differences in the gitlog that would point why something is fixed.

This is the build ag

[2020-06-16 10:46] AhmedMostafa16 opened #33900 "Coroutine scheduler for Node.js"
**Is your feature request related to a problem? Please describe.**
I find coroutine the easiest way to deal with Web Requests as you can couple them with Actions to get almost NodeJS style callbacks. I find coroutines can ***Simplify Callbacks***. Coroutines are well-suited for implementing familiar program components such as cooperative tasks, exceptions, event iterators, infinite lists, loops, e

[2020-06-16 12:33] sloonz opened #33903 "Provide a way to dynamically change loader hook"
I am looking at the possibility at doing something like [mitogen](https://github.com/dw/mitogen) in node.

How it would work, in really broad strokes, is :

- Spawn an child node process through sudo/ssh/whatever. Initial code is passed with `-e`.
- This initial code reads commands from stdin, push results on stdout
- One command is EVAL, which just evals a javascript string
- ESM modules imported

[2020-06-16 12:49] devsnek commented on #33900
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function

[2020-06-16 12:51] devsnek commented on #33903
I'm planning to add support for this after chaining is figured out.

[2020-06-16 12:55] sloonz commented on #33903
Amazing :+1:

[2020-06-16 13:36] eladkarako commented on #33000
I'll make a patch to the exe(faster than rebuilding from src). let me just clear the dust of my old crack!ng toolZ.

[2020-06-16 13:39] clshortfuse commented on #31309
For devs that don't want to wait for fix in a new NodeJS release, the application-level fix is to send a packet out when the read stalls. That will resumed the paused internal read stream. Quick simply, you can send a `PING`.

Instead of reading from the `ServerHttp2Stream ` directly, you setup a `PassThrough` that will auto-ping on stall:

[code]

Then access `autoPingStream` as you would `stream

[2020-06-16 13:51] clshortfuse commented on #33397
Apparently I should be using `pipeline`. This does seems like a good case for `PassThrough`.

[2020-06-16 14:14] juanarbol commented on #33741
I could work on this

[2020-06-16 14:38] shinobi64 opened #33905 "node process crashes on Mac OS X 10.15.5 (Catalina)"
* **Version**: 10.21.0
* **Platform**: Darwin C02C42QKMD6T 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64
* **Subsystem**:

### What steps will reproduce the bug?
Start nodejs (10.19 or higher) based application (using express) on Mac OS X 10.15.5 from Visual Studio Code. Node process will crash with a reference to /usr/lib/libssl.dyl

[2020-06-16 15:17] baslr opened #33906 "compile node v14.4.0 on macOS 10.12.6 fails"
* **Version**: v14.4.0
* **Platform**: x86_64 macOS 10.12.6

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?

every time reproducible

### What is the expected behavior?

compile node binary

### What do you see instead?

[code]

[code]

[2020-06-16 15:27] targos commented on #33906
It's possible that you're hitting a language feature that's not supported by your version of Apple LLVM.
Try upgrading XCode so it's at least version 10, as documented in [BUILDING.md](https://github.com/nodejs/node/blob/master/BUILDING.md#supported-toolchains).

[2020-06-16 15:27] clshortfuse commented on #33891
Here's what the output looks like:

[code]

The problem lies in two `Http2Session server (111) scheduling write` events instead of one signifying the stream is over. This change might be a little invasive, simply because the way `StreamBase` works. It's waiting for the write to complete before `_final`. And, I guess, if `StreamBase` doesn't have a way to signify a write chunk is final, neither can

[2020-06-16 15:48] Ethan-Arrowood opened #33908 "Add an `executable` property or an `isExecutable` method to fs Stats class"
**Is your feature request related to a problem? Please describe.**
An easy to easy API for determining if a file is executable based on its `fs.Stats`.

**Describe the solution you'd like**
Derived from Ruby: https://www.rubydoc.info/stdlib/core/File%2FStat:executable%3F I've created a rough implementation. It hasn't been tested.

[code]

I'll be happy to work on the PR if maintainers thinks its a

[2020-06-16 15:48] jason-krypton commented on #33896
@bnoordhuis I'm fairly sure doesn't the `destroy_async_id_list` size prove that?

[2020-06-16 17:03] ronag commented on #28236
This looks like a bug. We should use `finished` instead of the extra callback variant of destroy.

[2020-06-16 17:05] ronag commented on #28236
I believe this was fixed in: https://github.com/nodejs/node/pull/31316

[2020-06-16 17:27] bnoordhuis commented on #33896
No. If you have a resource leak of some kind (e.g., forgetting to close sockets after you're done with them), then those objects can't be reclaimed because they're considered live.

[2020-06-16 17:34] SowmyaGrama commented on #32047
@dev-script : Have you started work on this? Do you need another helping hand? I am attempting for first time contribution.

[2020-06-16 17:35] bnoordhuis commented on #33908
How/why/where would you use that method? Your example returns true for file systems mounted noexec, ELF files for different architectures, scripts with bad shebangs, etc.

[2020-06-16 17:44] SowmyaGrama commented on #31244
Can i work on this?

[2020-06-16 17:48] bnoordhuis commented on #33899
I'm looking at https://build.opensuse.org/public/build/devel:languages:nodejs:staging/arm_test/aarch64/nodejs12/_log and I notice some files are built without `-fno-strict-aliasing`. Files in `deps/v8` are built with that flag but files in `src` and `test/cctest` are not.

What's more, some of the flags that _are_ passed (like `-D_FORTIFY_SOURCE=2 -fstack-protector-strong`) are never set by node's

[2020-06-16 17:49] jason-krypton commented on #33896
Okay, I guess I wasn't following the code correctly. I assumed if they had a live reference they wouldn't be placed on the `destroy_async_id_list`... I'm going to work on a repro later today and I'll get back to you. @bnoordhuis

[2020-06-16 17:56] Ethan-Arrowood commented on #33908
I'm reading "Building Git" right now and writing my implementation using Node.js. The author uses the `executable` method from Ruby and so I went a wrote this for a little bit of code parity.

If others see a use for it I'd be happy to contribute it otherwise I'll keep it to myself haha

[2020-06-16 18:24] christhegrand commented on #33468
We also started seeing this after upgrading from 12.16 to 12.17.

[2020-06-16 18:47] bnoordhuis commented on #33896
It depends on the type of resource. Some are placed on the list when they become unreachable, others through manual bookkeeping.

If it helps: destroy callbacks run asynchronously. If your program is a `while (1) { /* ... */ }`, then they won't get a chance to run and the list will keep growing.

[2020-06-16 18:50] scucchiero opened #33910 "querystring inconsistent behaviour"
The module querystring presents odd behaviour and inconsistent across platforms.

**On NodeJs v14.2 x86_64 GNU/Linux**
Parsing an object with an empty array into a querystring yields & with no element.
[code]

**On Firefox 77.0.1 (64-bit)**
Yet, when using the module in a react application with client side rendering the result is as follows:
[code]

This issue can lead to some of the following mal

[2020-06-16 18:56] jasnell commented on #33910
Note that the version running within Firefox is *likely* a browserified version that is derived from the Node.js version. That's a bit of a guess without seeing the code but it is possible for there to be differences in the way they are implemented. We do not provide support for browserified ports of the core modules.

[2020-06-16 19:06] addaleax commented on #33891
@clshortfuse So … I can give you some context on this :)

Yes, `StreamBase` does not have a way to let its implementers know whether a chunk is final or not. Mostly, that is because Node.js streams don’t have that, either – for stream implementations, there is also no officially supported way to do this.

We have worked around this problem at least once, in zlib, where we look up streams internals

[2020-06-16 20:50] AhmedMostafa16 opened #33916 "Coroutine scheduler for Node.js"
**Is your feature request related to a problem? Please describe.**
I find coroutine the easiest way to deal with Web Requests as you can couple them with Actions to get almost NodeJS style callbacks. I find coroutines can ***Simplify Callbacks***. Coroutines are well-suited for implementing familiar program components such as cooperative tasks, exceptions, event iterators, infinite lists, loops, e

[2020-06-16 21:04] devsnek commented on #33916
Duplicate of https://github.com/nodejs/help/issues/2779

[2020-06-16 21:04] #33916 closed

[2020-06-16 21:36] AhmedMostafa16 commented on #33916
I know it is duplicate. I thought I have made the issue in the wrong place when I have added the issue in nodejs/help

[2020-06-17 00:34] sapics commented on #33910
Anyway, I guess that `a=2` would be more expected one.
I try to fix and make a PR.

[2020-06-17 03:44] huyhoangk50 opened #33920 "Have anyone successfully crossed compile node js in android?"
I tried to cross compile node js for android os:
**Host platform**: Linux 5.3.0-59-generic 64 bit
**Node version**: 10.21.0
**Architecture**: x86_64
**Os**: Android
**NDK version**: 21

### What steps will reproduce the bug?
[code]

### Snapshort of the issue
[code]
### How often does it reproduce? Is there a required condition?
Always
### What is the expected behavior?
Successfully compile

[2020-06-17 04:04] bnoordhuis commented on #33920
Does `out/Release/torque` indeed not exist or is it built for the wrong os/arch? What does `file out/Release/torque` print?

[2020-06-17 04:12] devsnek commented on #33920
termux maintains nodejs patches for android, might find some hints there: https://github.com/termux/termux-packages/tree/master/packages/nodejs

[2020-06-17 04:39] dev-script commented on #32047
@SowmyaGrama : Not yet but It would be nice if you help. Thanks

[2020-06-17 07:43] rexagod commented on #24742
@ronag I think this issue and the duplicate one both are fixed now. I tried reproducing them using the code below. The code passes.

[code]

[2020-06-17 08:30] diy4869 opened #33923 "fs.copyfile Failed to write file, no permission"
system version windows10 1909
node version 14.3

The current node version is 14.3, trying to pass fsPromise.copyfile Only a part of the files are written successfully, and the rest are all failed. Tell me that I have no permission. When I modify the permission, I still fail to write, and try to switch the node version to 12.18, which still has no effect

Red is the content to be copied, blue is th

[2020-06-17 08:55] zhangwinning opened #33924 "with the ninja node build fail"
* **Version**: master
* **Platform**: mac
* **Subsystem**:

### What steps will reproduce the bug?

I am sure my code is the latest. when execute **BUILD_WITH=ninja make -j4**, show error below it.
[code]

### How often does it reproduce? Is there a required condition?

### What is the expected behavior?

### What do you see instead?

### Additional information

[2020-06-17 09:38] gdams commented on #33864
I'm -0 to this change, Many open source project are considering this change but I'm very fearful of all the changes to scripts/automation. As @MylesBorins mentioned, we will need to do a full audit before considering this change. I'd also suggest pushing out a blog post/tweets detailing the changes several weeks before we make the switch in order to give developers a chance to migrate any tooling

[2020-06-17 09:42] pujakjha commented on #32103
Thanks! This solution worked for me.

[2020-06-17 10:18] AdamMajer commented on #33899
The CFLAGS that come from the build environemnt are,

`-O2 -Wall -D_FORTIFY_SOURCE=2 -fstack-protector-strong -funwind-tables -fasynchronous-unwind-tables -fstack-clash-protection -Werror=return-type  -g`

And now looking closely, it looks like this is not added from env everywhere like it should be. It's by our security policy.

AFAIK, there are no flags that are cleared anywhere, especially `-fn

[2020-06-17 10:21] targos opened #33927 "JS linter warning related to quic"
I got this with `make test` on a clean copy of the repo:

[code]

[2020-06-17 10:36] richardlau commented on #33927
It's from https://github.com/nodejs/node/blob/5315304e715e28ab160f9d71c6260f96ba7b637a/tools/doc/html.js#L80-L87 because the `introduced_in` metadata for quic.md is `REPLACEME` (since it hasn't gone out in a release) and the reg exp doesn't allow that value.

[2020-06-17 11:03] DerekNonGeneric commented on #33303
Linking https://github.com/nodejs/node/issues/33435 due to the similarity.

[2020-06-17 11:12] DerekNonGeneric commented on #33585
I found a nice sentence from the V8 docs supporting my initial though about them
being C++ integers, so alternatives may exist.

Since @BridgeAR gave me the lead on this, it would be nice to have his approval
on https://github.com/nodejs/node/pull/33766 too, but no pressure.

[2020-06-17 13:14] #33924 closed

[2020-06-17 14:50] sapics commented on #33910
I create a PR #33918. There were some errors at early commit, now it is fixed.
If there are something I was missing or you have any additional information, I'd appreciate it if you make a comment here or PR ;)

[2020-06-17 15:37] mhdawson commented on #33864
I do want to see what lead GitHub takes in making this easier

[2020-06-17 16:34] rexagod opened #33930 "net.connect: behaviour when no arguments are passed"
For the quote above outlined in https://github.com/nodejs/node/issues/33715#issue-630283089, two solutions come to mind.

- Throw `ERR_MISSING_ARGS` when no arguments are passed (as suggested above -- invalid usage).
- To fix the difference in behavior between `port: undefined` and `port: null`, either make `port` a mandatory field that throws `ERR_INVALID_ARGS` for anything other than string or n

[2020-06-17 17:30] gabrielschulhof commented on #33283
@codebytere FWIW it doesn't crash as of 55360443ced34515c775c5beb29f907de671dffe.

[2020-06-17 17:33] MylesBorins commented on #33864
I found a great guide on ways to handle the branch-rename as well as paths towards gradual migration. Will likely be experimenting with some of this stuff on a personal repo over the next two weeks.

https://github.com/chancancode/branch-rename/#gradual-migration

[2020-06-17 18:05] clshortfuse commented on #33891
In `Http2Stream::DoShutdown()`, we **are currently** sending out an empty data frame with `NGHTTP2_DATA_FLAG_EOF` set. We want to avoid sending an empty DATA frame, and instead flag the final frame. This would make the client on par with how all browsers I've seen send http2 data. At a glance, what we want to do looks similar to what is done in `zlib`.

But, there is a problem. `zlib` works becaus

[2020-06-17 18:15] scucchiero commented on #33910
great job mate, that was pretty quick.
so far that is the only things that I caught.
I will make sure to post anything else me or my team notice.

[2020-06-17 18:17] Golorio commented on #33266
Unfortunately, it seems this was not added on v12.18.1. I'll wait for v12.18.2. Regardless, good work on the updates.

[2020-06-17 18:45] bnb commented on #33864
Just a note with some tooling I'm seeing come up around this:

- @gr2m (former CommComm member and long-term ecosystem ecosystem member) is working on a GitHub bot. He's talked a bit about it [on Twitter](https://twitter.com/gr2m/status/1273297040231948288?s=20) and has [a repo](https://github.com/rename-master-branch/github-app/pull/1).
- [github-default-branch](https://www.npmjs.com/package/gith

[2020-06-17 18:48] clshortfuse commented on #33891
So this works:

[code]

With code injection here: https://github.com/nodejs/node/blob/272b46e04d73f72e918c4be4aea0fb7cb90254e2/lib/internal/http2/core.js#L1981

Basically, after sending a `write` or `writev`, check for `.ending` on the `nextTick()`. If it's set, then shut down the write stream. That means that it'll batch `stream.write(payload); stream.end()` into one DATA frame. And if you want t

[2020-06-17 18:52] benjamingr commented on #33864
What would really help is a way to have `master` automatically mirror (as in both read and write) `main` for a transitional and possibly long amount of time and point new users and tools towards `main` while gradually and at a very comfortable pace pace migrating all the existing infrastructure, docs, guides and tooling.

I'm not sure if that's possible (or hard) as I'm far from an expert or tooli

[2020-06-17 18:52] lundibundi commented on #33930
IMO it should throw `ERR_MISSING_ARGS` if possible as none of those arguments are defined as optional in our docs and we should follow that and don't try to deduce what was meant by no-arg call. Furthermore, it makes it confusing when user upon calling `net.connect()` gets error that `port` value is not correct when the user didn't even provide that value in any way.

ping @nodejs/net

[2020-06-17 18:54] #31168 closed

[2020-06-17 18:57] jasnell commented on #32431
@hassaanp ... my apologies for not seeing your comment earlier. This should likely best be added as a subsection to the documentation for the `once` function in the `doc/api/events.md` file.

Note that the same issue arises when using the `on()` function in a `for await` loop. The only solution there is that any event handlers for other events you may be interested in must be attached before enter

[2020-06-17 20:01] Dirvann opened #33932 "Adding middleware functions in EventEmitter .on()"
**Is your feature request related to a problem? Please describe.**
In SocketIO it would be useful to be able to add middleware functions to specific events. The sockets use the EventEmitter.

**Describe the solution you'd like**
In a regular express app it is possible to add middleware to specific endpoints like so:

[code]

It would be logical to also be able to do it with SocketIO:

[code]
**Why

[2020-06-17 20:49] ronag commented on #33877
I think this is probably fine, write goes through `SSL_write` which I assume would error if the write would be insecure.

[2020-06-17 20:49] #33877 closed

[2020-06-17 21:12] MylesBorins commented on #33864
So we can change any links referring to master to refer to HEAD and they will "just work" with whatever our default branch is. The branch-rename repo I pointed at has an action for mirroring master / main

https://github.com/chancancode/branch-rename/#phase-1-mirror-master-and-main

[2020-06-17 21:30] jason-krypton commented on #33896
@bnoordhuis just noodling on your last comment `destroy callbacks run asynchronously` does awaiting in itself not give an async yield that would allow for this to run? Or are you saying basically

[code]

Is guaranteed to end up with 20 million async hook references if the async function doesn't actually yield?

[2020-06-17 22:20] jason-krypton commented on #33896
I confirmed in my reproduction that inserting `await new Promise(resolve => setTimeout(resolve, 10));` into a critical part of our server loop causes the problem to be removed as the async_hooks get garbage collected during the timeout.

I guess our problem is that we are generating too many async_hooks that are actually being run synchronous... ugg.

[2020-06-17 23:42] gabrielschulhof commented on #33283
@codebytere I ran a bisect and it looks like 8f10bb2da5bcf166fa1b414055f03352bbdb8126 fixed it.

[2020-06-17 23:42] #33283 closed

[2020-06-18 00:33] rickyes commented on #33932
Not sure how much of an impact this change will have on `EventEmitter` performance, I can try this out.

[2020-06-18 00:44] mmarchini commented on #33932
Hi @Dirvann, this seems like an interesting request, although I'm not entirely sure Node.js is the appropriate place to implement it (but I'll defer to folks who are more familiar with EventEmitter, cc @nodejs/events). Have you considered adding this as a feature of SocketIO instead of Node.js (by wrapping or inhereting EventEmitter, for example)?

Also, please in the future follow the issues temp

[2020-06-18 01:32] abartomeu commented on #33468
I have done further testing on this issue. I have taken a memory snapshot in after 24 hours and I see 64000 TLSWrap objects using about 400MB of memory. In previous experiments I have seen that the number of these TLSWrap objects is always growing. I also tested that even 10 mins after I stopped all traffic to my service, and Http keepalive should have expired, the TLSWrap objects were still aroun

[2020-06-18 02:34] MMhunter opened #33936 "Infinite event loop after calling fs.realpath on 16-inch Macbook"
* **Version**:
10, 12 and Latest
* **Platform**:
MacOS 10.15.5 (16-inch, 2019)

### What steps will reproduce the bug?
just call `fs.realpath` with `/usr/bin/tclsh` as first parameter.

[code]

![image](https://user-images.githubusercontent.com/1378130/84970756-e624f000-b14d-11ea-99f4-8e73bf29c411.png)

Callback will not be executed, and the node process will be in an infinite event loop. (Not dea

[2020-06-18 02:38] WilliamConnatser commented on #33644
I can take a stab at updating the documentation if no one is working on this. May I please just confirm that the only requirement is that the code snippet use pipeline instead of doing thing manually... is that correct?

[2020-06-18 07:17] Dirvann commented on #33932
@mmarchini I followed the logical structure of the templates, though didn't add the titles added them now.

For a temporary solution i'm trying to make something like wrapping all the functions in the list into one. Something like:
`socket.on('users', functionWrapper( fn1, fn2, fn3))`

Though I think implementing multiple functions directly in the EventEmitter would me cleaner and also useful for

[2020-06-18 07:23] diy4869 commented on #33923
Problem solving due to fs.copyfile If SRC is a file, DeST must also be a file. Otherwise, copy fails. Add an if

[2020-06-18 07:23] #33923 closed

[2020-06-18 07:41] bnoordhuis commented on #33896
Just to confirm, that's indeed what happens. You can see it in an example like this:
[code]
That prints:
[code]
Promises _are_ async but they're dispatched way more often than once per event look "tick", turning your and my example into what is still effectively a busy loop.

@addaleax Do you have ideas on how to improve that? Flushing `env->destroy_async_id_list_` in `AsyncWrap::EmitDestroy()` wh

[2020-06-18 08:02] bnoordhuis commented on #33936
Oh dear, that looks like another instance of node using doubles to represent inode numbers, and losing precision in the process. It should be easy to fix by switching over to bigints:
<details>

[code]

(note: that's for `fs.realpathSync()`. `fs.realpath()` needs updating too.)
</details>

That inode number, 1152921500312396900, is well beyond the range of numbers that a 64 bits floating point num

[2020-06-18 08:26] rickyes commented on #33932
We can use the return value of the function as the parameter of the next function, if the return value is `undefined` will not trigger the next function.

e.g.
[code]

[2020-06-18 08:45] koliapp2019 commented on #20162
Having the same issue.

[2020-06-18 10:35] benjamingr commented on #33932
Hey, thank you for reaching out and opening this issue. I don't understand this feature request, could you add some more coding examples?

Is your request for there to be some way for events to block the execution of further event handlers until some async action has completed?

If that's the case then I think it's very challenging to do in a way that does not violate invariants and expectations p

[2020-06-18 11:18] markwylde opened #33940 "readStream with highWaterMark causes 'data' event to miss data"
* **Version**: v14.4.0 (also tried with v12.17.0)
* **Platform**: Darwin Marks-MacBook-Pro.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64
* **Subsystem**:

### Explanation?

The code below will constantly append to a file (`/tmp/test.txt`) and constantly read the file, pushing the data into an in-memory buffer. This is essential

[2020-06-18 12:43] mcollina commented on #33644
yes

[2020-06-18 13:46] Dirvann commented on #33932
@benjamingr It could defenitely be a funtionality if you want an async task to happen in the middleware, or even to stop you from running the last middleware for a security implementation for example.

I have a small working demo here where i've implemented the functionality. It isn't that intrusive as it only adds a wrapper for the list of functions given. So in the end there is still just one fu

[2020-06-18 15:33] jasnell commented on #33932
I'm generally -1 on this for a couple of reasons.

1) It's something that is better implemented in userland. There are examples of generalized middleware modules that can be used to implement this kind of behavior: https://github.com/fastify/middie

2) It would have a non-trivial impact on `EventEmitter` performance.

3) It would expand the functionality discrepancy between `EventEmitter` and `Eve

[2020-06-18 15:34] codebytere commented on #33283
Oh rad! thanks @gabrielschulhof 🙇🏻‍♀️

[2020-06-18 16:01] jason-krypton commented on #33896
I just wanted to circle back. First @bnoordhuis thanks for the help!

We have some rather complicated graph traversal / calculation logic which can be CPU intensive, but some nodes (very few) can require IO. This forced us to make the entire system async as one async call can basically poison an entire system. Anyway the payload hitting this issue had no actual IO so the 16 million+ async calls we

[2020-06-18 17:23] mmarchini opened #33947 "Flaky "Build from tarball" workflow on GitHub Actions"
This has been going on for at least a month, and seems to be the major source of flakiness on our Actions runs. Sometimes the `build-tarball` job will fail with no logs after 40+ minutes:

![image](https://user-images.githubusercontent.com/4048656/85052148-4b2c1600-b14d-11ea-9eae-d507542de855.png)

(https://github.com/nodejs/node/runs/784411094?check_suite_focus=true)

Sometimes it will fail with

[2020-06-18 17:45] richardlau commented on #33947
It’s lost among all the output (the UI for browsing logs isn’t great) but this run was an actual failure:
[code]

[2020-06-18 18:10] mmarchini commented on #33947
Good, only one flaky failure left :)

[2020-06-18 18:15] richardlau commented on #33947
If there are no logs (the raw log doesn't even contain the output from the steps that completed successfully) it sounds more like a failure on GitHub's side.

[2020-06-18 18:25] analog-nico opened #33948 "util: fix inspection of errors with tampered stack property for node v10"
This is an error report for node v10 which has already been fixed for node v12 and may make sense to fix in node v10 as well. The fix in node v12 could have been made via pull request #30576 .

* **Version**: 10.21.0
* **Platform**: Mac OS X
* **Subsystem**: util

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?

Every time in node v10

[2020-06-18 19:01] mmarchini commented on #33947
It does, but it only happens on that specific job and in happens quite frequently. There might be something we can do to fix or mitigate it.

[2020-06-18 19:10] Dirvann commented on #33932
@jasnell Thanks for the response.

1.  It's definitely be implemented using another module. I looked into middie although it isn't exactly how I'd prefer it to be. But it is not really a question of creating a module, I would think this is a fairly simple feature to be used everywhere. In the end for the user it's just being able to add some extra functions.

2. The performance isn't reduced. I ha

[2020-06-18 21:39] shichen85 commented on #8897
@schifazl I was also having trouble with NodeJS in my `mcr.microsoft.com/dotnet/framework/sdk:4.8-windowsservercore-ltsc2016` based image, however, this article's solution solved my problem with `subst`: https://blog.sixeyed.com/docker-volumes-on-windows-the-case-of-the-g-drive/

[2020-06-18 22:13] #33773 closed

[2020-06-18 22:17] jasnell commented on #33657
I think we can close this now as there's no one clamoring for us to support this. We can reopen the issue if it comes up again.

[2020-06-18 22:17] #33657 closed

[2020-06-18 22:19] jasnell commented on #31971
Update on this... `AbortController`, `AbortSignal`, `EventTarget`, and `Event` have been added as experimental APIs in master. The `EventTarget` implementation has a number of open PRs that need to land and we need to bring in the web platform tests for these, however, we can start adding `AbortSignal` support where it makes sense.

[2020-06-18 22:20] jasnell commented on #33558
I think we can close this for now. We have separated out NodeEventTarget and EventTarget and will keep the EventEmitter emulation limited to `NodeEventTarget` for now.

[2020-06-18 22:20] #33558 closed

[2020-06-18 22:25] ptomato commented on #31971
Coincidence, I am just now resuming work on my branch and rebasing it on top of your work. If it's considered wanted to split out mergeable parts of the work-in-progress, then I can soon make a PR that adds a wrapper to FSReq for `uv_cancel()` and adds an `ERR_CANCELLED` error type.

[2020-06-18 22:36] jasnell commented on #23064
The initial QUIC support has started landing in core. It will take a while to stablize and graduate from experimental but we're making progress and we can close this issue now.

[2020-06-18 22:36] #23064 closed

[2020-06-18 22:41] Juraajj opened #33953 "Primitive shifting..."
[code]

Primitive shifting could just work...

[2020-06-18 22:44] mmarchini commented on #33953
Hi @Juraajj! Could you rewrite the issue following our [feature request template](https://github.com/nodejs/node/issues/new?template=2-feature-request.md) or [bug report template](https://github.com/nodejs/node/issues/new?template=1-bug-report.md)? It's unclear what the ask is here.

[2020-06-19 00:07] trusktr opened #33954 "When will CommonJS modules (require) be deprecated and removed?"
Just curious if this is planned to happen, or is it something no one is thinking about yet?

[2020-06-19 00:18] mmarchini commented on #33954
@nodejs/modules has probably discussed this extensively, and so have many other project members.

Sharing my opinion on this: deprecation and removal of CommonJS would be extremely disruptive to the entire ecosystem, and would cause more pain to our users than Python users experienced with migrating to Python 3. As such, deprecation is unlikely to happen in the mid-term future, if at all.

[2020-06-19 00:20] ljharb commented on #33954
I don’t see any point in ever doing that - CJS isn’t legacy, it’s just one of two first-class module systems in node.

[2020-06-19 00:58] jkrems commented on #33954
I think it’s too early to come up with a clear timeline for this. We’re just approaching the first non-trivial module based apps being possible (without compiling from something else, at least rewriting imports). And there’s a huge amount of code in the ecosystem and even more so in various companies that’s based on CJS - much of which may be non-trivial to convert to ESM (since ESM lacks certain

[2020-06-19 02:30] jasnell commented on #33954
Still way too early to even consider, especially given that ESM is still experimental

[2020-06-19 03:21] devsnek commented on #33954
Seems answered, closing

[2020-06-19 03:21] #33954 closed

[2020-06-19 03:28] jasnell commented on #33540
Now that AbortController has landed and uses DOMException with AbortError, we can close this.

[2020-06-19 03:28] #33540 closed

[2020-06-19 03:31] jasnell commented on #33436
Thinking about this further, I'm -1 on adding this in core at this time. It could make for a useful userland module and could easily be implemented as such.

[2020-06-19 03:35] jasnell commented on #19393
Quick update: We now have experimental `EventTarget` and `AbortController` support landed in master. In the not too distant future I'll be exploring Blob/File API support and a bit more of the fundamentals for WHATWG streams. I don't know if we'll get all the way to implementing fetch but we should be able to provide many of the required components.

[2020-06-19 04:08] jasnell commented on #3597
There's been zero activity on this in a couple years. It's not likely to see activity. Closing

[2020-06-19 04:08] #3597 closed

[2020-06-19 04:09] jasnell commented on #24028
There's been no further discussion in over a year. Closing

[2020-06-19 04:09] #24028 closed

[2020-06-19 04:11] jasnell commented on #28972
No further activity on this, closing.

[2020-06-19 04:11] #28972 closed

[2020-06-19 04:12] jasnell commented on #25514
Ping @bnoordhuis

[2020-06-19 04:15] jasnell commented on #31088
Ping @mhdawson ... was this ever documented?

[2020-06-19 04:16] jasnell commented on #30327
Ping @mhdawson @gabrielschulhof ... was this ever resolved?

[2020-06-19 04:16] anlexN commented on #19393
[deno](https://deno.land/) is awesome, but it is written by rust that syntax is very difficult, oh my god. i hope nodejs support more and more ecmascript feature or nodejs will be legacy and replaced with deno. @jasnell when to release `EventTarget` and `AbortController` feature?

[2020-06-19 04:19] jasnell commented on #30544
I believe there's nothing actionable here. Closing. We can reopen if necessary

[2020-06-19 04:19] #30544 closed

[2020-06-19 04:20] jasnell commented on #29767
It does not appear that there's anything actionable here? Closing. Can reopen if necessary

[2020-06-19 04:20] #29767 closed

[2020-06-19 04:22] jasnell commented on #21442
It's not clear if there's anything actionable here and there's been no activity. Closing. Can reopen if necessary

[2020-06-19 04:22] #21442 closed

[2020-06-19 04:24] jasnell commented on #9612
There's been no activity on this for about 3 years... closing. Can revisit if someone wishes to move it forward

[2020-06-19 04:24] #9612 closed

[2020-06-19 04:29] jasnell commented on #23612
I believe this is resolved or not further actionable. Closing. Can reopen if necessary

[2020-06-19 04:29] #23612 closed

[2020-06-19 04:29] jasnell commented on #24009
I believe this is resolved? Closing. Can reopen if necessary

[2020-06-19 04:29] #24009 closed

[2020-06-19 04:30] jasnell commented on #25937
Ping @BridgeAR @bcoe ... is this fixed?

[2020-06-19 04:32] jasnell commented on #17909
There's been no activity on this in 2 years. Closing. Can reopen if necessary.

[2020-06-19 04:32] #17909 closed

[2020-06-19 04:33] jasnell commented on #5839
Closing. There's been no further activity in a couple years

[2020-06-19 04:33] #5839 closed

[2020-06-19 04:34] jasnell commented on #33054
I believe this has been resolved in master

[2020-06-19 04:34] #33054 closed

[2020-06-19 04:35] jasnell commented on #28190
Don't believe there's anything further actionable here. Closing. Can reopen if necessary

[2020-06-19 04:35] #28190 closed

[2020-06-19 04:42] jasnell commented on #24448
There's been no further activity on this. Closing. Can reopen if necessary

[2020-06-19 04:43] #24448 closed

[2020-06-19 04:44] jasnell commented on #5574
Unable to reproduce the issue now. Closing. Can reopen if necessary

[2020-06-19 04:44] #5574 closed

[2020-06-19 04:47] jasnell commented on #29539
I don't think there's anything actionable at this point in time. Closing. Can reopen if necessary

[2020-06-19 04:47] #29539 closed

[2020-06-19 04:49] jasnell commented on #24017
Ping @addaleax ... where are we at in terms of moving forward on this?

[2020-06-19 04:50] jasnell commented on #26012
There's been no further activity on this. Next step would be to open a PR adding the `--pending-deprecation`. Closing the issue.

[2020-06-19 04:50] #26012 closed

[2020-06-19 04:51] #7882 closed

[2020-06-19 04:55] jasnell commented on #21291
There's been no further discussion here and it's not clear if there's anything actionable. Closing. Can reopen if necessary

[2020-06-19 04:55] #21291 closed

[2020-06-19 07:01] heroghost opened #33958 "Are you hacked?"
* **Version**:
* **Platform**:
* **Subsystem**:

### What steps will reproduce the bug?

### How often does it reproduce? Is there a required condition?

### What is the expected behavior?

### What do you see instead?

### Additional information

![image](https://user-images.githubusercontent.com/2017291/85105841-c240d780-b23d-11ea-8e75-daabf8d2d8b0.png)

[2020-06-19 07:02] #33958 closed

[2020-06-19 07:19] #32049 closed

[2020-06-19 07:19] mcollina commented on #32049
Closed, this seems fixed.

[2020-06-19 07:36] javierlinked commented on #15464
2 years....

[2020-06-19 07:37] javierlinked commented on #15464
will be 3 years soon....

[2020-06-19 07:56] dominykas commented on #32049
Does this need any action to get into v14.x?

[2020-06-19 08:24] YounesYahia commented on #25214
Hello,I got the same error when I try to install nodejs and other programs,
I have windows 10 ,there is other applications that i could install it normally

Can someone help me??

[2020-06-19 08:58] gengjiawen opened #33959 "Problematic string handle"
https://github.com/nodejs/node/blob/55360443ced34515c775c5beb29f907de671dffe/src/quic/node_quic_crypto.cc#L563

clang warning:
[code]

![image](https://user-images.githubusercontent.com/3759816/85115284-03d97e80-b24e-11ea-9546-86ffa244f52e.png)

cc @jasnell @nodejs/quic

[2020-06-19 09:26] mcollina commented on #32049
I thought it was already shipped in v14.

[2020-06-19 10:14] dominykas commented on #32049
My bad, it seems to actually be there, not sure how I missed it. Thanks.

[2020-06-19 10:48] MichaIng commented on #29718
@sam-github
We observed this shared lib dependency on Node 14 armv7l builds as well. If this is finally intended for Linux builds in general of for most architectures, it would be good to add it to the docs: https://github.com/nodejs/help/wiki/Installation#how-to-install-nodejs-via-binary-archive-on-linux

[2020-06-19 13:13] addaleax commented on #33959
Right, I’ve run into this as well, but the problem is that the clang warning is just not helpful here. clang suggests using `&NGTCP2_ALPN_H3[1]` to me, which would probably fix the warning but also look quite a bit more confusing imo.

[2020-06-19 13:36] jasnell commented on #33959
The `&NGTCP2_ALPN_H3[1]` syntax is more confusing but it'll work. Let's just go with that to avoid the compiler warning

[2020-06-19 13:38] dfoody commented on #30875
@CSLTech - have you made any progress on this? We're seeing a very similar crash on v12.18.0.
[code]

[2020-06-19 13:46] RickGroenewegen opened #33960 "Lower buffer.constants.MAX_STRING_LENGTH in 14.4.0"
* **Version**: 14.4.0
* **Platform**: Ubuntu & Mac
* **Subsystem**: N/A

### What steps will reproduce the bug?

I upgraded from 12.18.1 to 14.4.0 and noticed the maximum string length (MAX_STRING_LENGTH) decreasing from 1073741799 to 536870888. Seems like a regression described in: https://github.com/nodejs/node/issues/31653

My architecture is a 64-bit build which I've checked with 'node -p "pro

[2020-06-19 13:52] addaleax commented on #33960
This is coming from an upstream change in V8, as a side effect of them modifying their code to enable pointer compression (even though the default Node.js build does not use pointer compression). I don’t think there’s anything in particular that we can do about it on the Node.js side.

[2020-06-19 13:59] addaleax commented on #33468
@christhegrand @abartomeu I think it’s a good sign that for @omsmith this has been fixed through e8cc269ee0107661eacc289479cfc38278a51ae4.

I’ve opened a backport PR for v12.x to expedite getting the fix in: https://github.com/nodejs/node/pull/33962

It would be *very* helpful if you could build Node.js from source for that PR and confirm that it does solve the issue for you as well.

[2020-06-19 14:04] gengjiawen commented on #33959
Okay, I finally got the original `+1` 😃 (string + int is pointer arithmetic in C)

[2020-06-19 14:19] addaleax commented on #33896
I think we could use a second-pass GC callback? The current code was written under the assumption that GC will have a tendency to collect multiple resources at once and it’s easier to just handle all of them in one go, and we can handle destroy emits from GC and from explicit destroy calls the same way,

I don’t think using `isolate->EnqueueMicrotask()` would make a significant difference here, an

[2020-06-19 14:28] wmertens opened #33966 "uv__io_stop: Assertion `loop->watchers[w->fd] == w' failed."
* **Version**: 12.18.0
* **Platform**: Linux wmertens-nixos 5.6.16 #1-NixOS SMP Wed Jun 3 06:23:38 UTC 2020 x86_64 GNU/Linux
* **Subsystem**: core.js

### What steps will reproduce the bug?

I have a rather download-heavy script and it often crashes with

[code]

I found some other bugs that seem related to datagrams so to be sure I added the host it's connecting to to /etc/hosts, hoping that mean

[2020-06-19 14:30] addaleax commented on #33966
Is there any chance you can share a full reproduction?

[2020-06-19 14:31] wmertens commented on #33966
Unfortunately it's proprietary code connecting to proprietary services :(

Maybe I can make a repro by making a service that times out often

[2020-06-19 14:33] wmertens commented on #33966
is there something I can do to get more information from the crash? Coredumps or so?

[2020-06-19 14:34] gengjiawen opened #33967 "enable quic in github action"
Quic is quit an important feature, though in earyly development.
With it in github action, we has asan check and build.

cc @nodejs/quic

[2020-06-19 14:37] addaleax commented on #33966
@wmertens A stack trace or knowing what kind of libuv handle is involved might already be helpful. It should be possible to extract that information from a core dump, or through a debugger attached to a crashing process.

[2020-06-19 14:44] jasnell commented on #31031
I'm generally inclined not to do anything on this in core. There are other options for more detailed and granular logging (e.g. pino). If something were added to the WHATWG console spec, then that would be another matter.

[2020-06-19 14:56] jasnell commented on #21822
There's been no further activity on this for over a year. With the understanding that there's likely some improvements that *could* potentially be made, those won't happen unless someone has a concrete proposal in the form of a pull request. Going to close the issue for now but can reopen if necessary

[2020-06-19 14:56] #21822 closed

[2020-06-19 14:57] rickyes opened #33969 "Extracts session and stream from quic/core.js"
Extract `session` and `stream` in `quic/core.js` to make the code easier to read.

refer to [#33928](https://github.com/nodejs/node/pull/33928).

[2020-06-19 15:01] wmertens commented on #33966
@addaleax I have `gdb` paused on a crash, what can I get?

[code]

[2020-06-19 15:01] addaleax commented on #24017
@jasnell Given that an alternative exists now, I think we could move forward here, but it’s a bit tricky:

- A JS deprecation warning is useless here, it’s effectively equivalent to fully breaking this feature.
- A C++ deprecation warning is not available for this.

Ultimately, I think the closest thing we have to this is the existing deprecation of `LoadEnvironment(env)` since v14.1.0. Users of `

[2020-06-19 15:07] addaleax commented on #33966
@wmertens I think you should be able to go to the `node::HandleWrap::Close` frame, figure out the `this` value, and print `*this` from gdb – that should provide the actual class name.

Since you seem to be able to reproduce this quite well – if you can do so with a debug build of Node.js, that might be helpful here, although it requires building Node.js from source and takes quite a while as well.

[2020-06-19 15:09] jasnell commented on #24017
That works, I think.

[2020-06-19 15:14] jonashdown opened #33970 "Regex parsing from string not behaving as expected"
Parsing a regex from a string seems to strip out characters.

* **Version**: 4, 10, 12
* **Platform**: Mac Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64
* **Subsystem**:

### What steps will reproduce the bug?

Create a regex from a string as follows :
[code]
console.log prints out `h/i`

### How often does it reproduce? Is there a required

[2020-06-19 15:20] addaleax commented on #24017
Removal PR → https://github.com/nodejs/node/pull/33971

[2020-06-19 15:23] jasnell commented on #22785
Is this still an issue?

[2020-06-19 15:28] jasnell commented on #20505
I'd say let's consider it solved. If someone wishes to make further enhancements, a PR with a concrete proposal would be ideal. Closing

[2020-06-19 15:28] #20505 closed

[2020-06-19 15:32] jasnell commented on #32081
Closing as there is no further action to take on this specific issue. The strategy around unhandled rejections is being refined in other PRs and issues

[2020-06-19 15:32] #32081 closed

[2020-06-19 15:34] jasnell commented on #29385
I don't believe there's anything actionable for Node.js in this issue. Closing. Can reopen if new information is received that does point to anything we can do in Node.js

[2020-06-19 15:34] #29385 closed

[2020-06-19 15:36] jasnell commented on #28545
There's been no activity on this for nearly a year. Many of the functions on `fs` just don't make sense in the promise version because they've been moved into the `FileHandle` object (e.g. `fileHandle.read()` for instance). If someone wishes to move anything forward on this, a PR would be the best approach. Leaving the issue open here doesn't seem to be doing any good. Closing. Can reopen if anyon

[2020-06-19 15:36] #28545 closed

[2020-06-19 15:41] jasnell commented on #13646
There's been no further discussion on this in nearly 2 years. We have the `TextEncoder` and `TextDecoder` implementations in place. There's likely additional stuff we can do here but without a concrete pull request proposing changes, there's not going to be any value in keeping this issue open. Closing but we can reopen if someone wants to revisit this.

[2020-06-19 15:41] #13646 closed

[2020-06-19 15:42] jasnell commented on #22173
Hmm, looks like this was never followed up on in nearly two years :-/ .... is this still a problem?

[2020-06-19 15:43] jasnell commented on #24051
Appears to be working in master. Closing. Can reopen if necessary.

[2020-06-19 15:43] #24051 closed

[2020-06-19 15:44] jasnell commented on #25136
Ping @srl295 ... does this need to remain open?

[2020-06-19 15:48] jasnell commented on #28117
There's been no further action on this in a year, does this need to remain open?

[2020-06-19 15:48] jasnell commented on #28455
does this need to remain open?

[2020-06-19 15:52] jasnell commented on #31463
There's really nothing further actionable on this. Closing.

[2020-06-19 15:52] #31463 closed

[2020-06-19 15:57] Casm82 commented on #28117
Now I use Node.js 12 and full-icu. I will close the issue.

[2020-06-19 15:57] #28117 closed

[2020-06-19 16:37] addaleax commented on #33880
@ronag That sounds like a good idea to me, yes. I would not expect the creation performance benefit to be significant enough here.

And looking at the code, I noticed that we share a pool for all `fs.ReadStream`s, but base its size on the HWM of individual streams, which is also not great in terms of consistency.

Do you want to open a PR for that?

[2020-06-19 16:40] ronag commented on #33880
Sure! I’m a little swamped at the moment (all the other devs went on vacation 😔). I’ll put it on my list and will sort it out.

[2020-06-19 17:24] jasnell commented on #11422
Closing this as there's been no further activity on it. It can be re-opened again if necessary

[2020-06-19 17:24] #11422 closed

[2020-06-19 17:25] jasnell commented on #21410
There's been no further activity here in nearly a year. Closing. Can reopen if absolutely necessary

[2020-06-19 17:25] #21410 closed

[2020-06-19 17:25] jasnell commented on #21641
No further activity in nearly 2 years. Closing

[2020-06-19 17:25] #21641 closed

[2020-06-19 17:29] jasnell commented on #25787
Support for this would likely need to land in libuv first as we do not count loop iterations at all and doing so using current mechanisms would have a definite performance cost. To move forward on this, opening a feature request or PR on libuv would be the way forward. Closing as there's not much else we can do here until it's available via libuv

[2020-06-19 17:29] #25787 closed

[2020-06-19 17:30] jasnell commented on #25957
There's been no further activity on this. Does it need to remain open?

[2020-06-19 17:32] jasnell commented on #33699
Will close this issue here given that https://github.com/nodejs/llhttp/issues/61 has been opened. There's nothing more actionable here until that issue is resolved and llhttp is updated.

[2020-06-19 17:32] #33699 closed

[2020-06-19 17:33] jasnell commented on #33309
Sounds reasonable.

[2020-06-19 17:33] jasnell commented on #30139
Has this been resolved? Does this need to remain open?

[2020-06-19 17:34] jasnell commented on #29551
There's been no further activity here. Closing. Can reopen if necessary

[2020-06-19 17:34] #29551 closed

[2020-06-19 17:35] jasnell commented on #29062
Appears to have been resolved

[2020-06-19 17:35] #29062 closed

[2020-06-19 17:36] jasnell commented on #27998
There does not appear to be anything actionable here. Closing

[2020-06-19 17:36] #27998 closed

[2020-06-19 17:37] jasnell commented on #27825
Does this need to remain open?

[2020-06-19 17:38] jasnell commented on #27406
Ping @joyeecheung ... are you still planning to look at this? Should this remain open?

[2020-06-19 17:38] jasnell commented on #26780
Marking this as a good first issue doc update.

[2020-06-19 17:44] aw-davidson opened #33977 "doc: add links to source code in docs"
# 📗 API Reference Docs Problem

- **Version**: N/A
- **Platform**: N/A
- **Subsystem**: N/A

## Location

On every module docs page

Affected URL(s):
- https://nodejs.org/api/*

## Problem description

It would be nice to have links to source code below the title of each module. For an example, look at pythons documentation for the heapq module: https://docs.python.org/3/library/heapq.html. So for

[2020-06-19 18:15] sdgfsgfs commented on #22785
Oh, that's clever! The best way to resolve an issue is to ask the reporter every two years whether the issue is somehow resolved in meantime. Are you aware that issues cannot be resolved via magic. You need to look at the code, find what is causing the issue, then resolve the issue and wait for the reporter to confirm that the patch works. Instead, you asked me after two years whether the issue re