[2018-04-11 00:48] rvagg commented on #19903
nice work!

For the record, the cores collected by systemd are only there because I had `LimitCORE=unlimited` turned on and an upgraded systemd installed (via jessie-backports) on the debian 8 machines because @joyeecheung requested core dumps. I've since removed `LimitCORE` (yesterday, via https://github.com/nodejs/build/pull/1224) but there hasn't been a restart so they are still collecting core

[2018-04-11 01:01] B2o5T commented on #19923
@vsemozhetbyt I think you're right. Дякую ;)

[2018-04-11 01:01] #19923 closed

[2018-04-11 01:48] rvagg commented on #19918
This is a question/issue for @shigeki and @joaocgreis and comes in as a result of the openssl 1.1.0 upgrade. Perhaps it's simply an matter of removing "Optional" from the docs?

[2018-04-11 02:13] shigeki commented on #19918
I missed to check `vcbuild.bat` without `nasm`. It can be fallbacked to openssl_no_asm:1 in `configure` in case that nasm is not installed.  I'm going to fix this.

[2018-04-11 02:37] vsemozhetbyt commented on #19405
I've set `depth` for `util.inspect` to `100` [here](https://github.com/nodejs/node/blob/master/lib/util.js#L83), build and test `npm update` again.

Without this change, I get `node` crashed after ~ a minute of max memory and CPU consumption.

With this change, I get an infinite loop (or at least several minutes loop) with max memory and CPU consumption.

[2018-04-11 03:25] quyle1703 commented on #14770
@vsemozhetbyt Thank you for this answer :)

[2018-04-11 04:01] unional opened #19927 "Node 8.11.1 hangs on travis from time to time"
https://github.com/travis-ci/travis-ci/issues/9357

Pinned to 8.0.0 on travis does not have this issue.

[2018-04-11 04:35] ryzokuken commented on #19927
In the build log (https://travis-ci.org/unional/komondor/jobs/354929258), Node.js didn't hang. I wasn't started by Travis in the first place.

This is because a previous command (`npm ls`) failed. See lines https://travis-ci.org/unional/komondor/jobs/354929258#L1876-L1949 for the exact error.

[2018-04-11 04:45] ryzokuken opened #19928 "use a semaphore for prettier printing in test.py"
While running tests locally today, I noticed that the parallel tests were printed in a weird manner with irregular newlines. This seemed like typical behavior when parallel executing is done, and one would fix this by using a semaphore.

I noticed that we do use a `lock`, over at:

[code]

But apparently, it doesn't work too well.

What about using `threading.Semaphore(value=1)` over `threading.Lo

[2018-04-11 04:46] rvagg commented on #19912
Today's run has the same numbers as yesterdays .. something's up with the codebase I think.
I just checked on the machine and the last login was Apr 3 so I don't think this is about a software update or anything on the system.

[2018-04-11 05:51] zixia opened #19929 "A strange behavior of Node.js: program exit 0 inside `try{}` block without run `finally {}` block"
* **Version**: v9.7.1
* **Platform**: Linux zixia-desktop 4.13.0-36-generic #40-Ubuntu SMP Fri Feb 16 20:07:48 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

Recently I find we can skip the `finally {}` block when we are inside a `try{}` block and without any error reported.

The shortest code is as the following:

[code]

After running the above program, it will exit immediately with t

[2018-04-11 06:09] mcollina commented on #19905
Potential fix in https://github.com/nodejs/node/pull/19931.

[2018-04-11 06:34] AndreasMadsen commented on #19859
@winguse I think that is the most likely course. You could try running https://github.com/mafintosh/why-is-node-running to see what isn't being `destroy`ed.

[2018-04-11 07:53] levimm commented on #17859
I made it work by shutdown the original platform and then initialize it again with multiIsolatePlatform.
Does it sounds reasonable?

[2018-04-11 08:57] towc commented on #19796
fixed in: https://github.com/nodejs/node/pull/19935

[2018-04-11 09:05] chrismilleruk commented on #19912
Trying to repro the issue locally is proving difficult. I'm not familiar with the codebase and build setup so any pointers appreciated. I found some commands in the build repo but I can't confirm that these are the same as used by `node-test-commit-linux-coverage` job.
https://github.com/nodejs/build/tree/master/jenkins/scripts/coverage#coverage-job
[code]
The above fails locally (macOS 10.13.4) w

[2018-04-11 09:14] chrismilleruk commented on #19912
These are the commits between the last known good and the first known failure:
https://github.com/nodejs/node/compare/244af7a9d528b105...d1156da815d878df

The OpenSSL changes look like a sensible suspect, there were some CI failures that have already been reviewed and discounted https://github.com/nodejs/node/pull/19794#issuecomment-379905777 but it might be worth a second look?

[2018-04-11 09:25] bnoordhuis commented on #17859
If it works, it works.  The shutdown takes place while there is no active isolate?  I think you should be good in that case.

[2018-04-11 09:27] #19927 closed

[2018-04-11 09:37] winguse commented on #19859
Thanks @AndreasMadsen , I can see it's some problem of our code. It looks like our conversion from generator code to promise has some problems. The reason why we didn't see them before may due to it's not wasting too many memory.

[2018-04-11 09:39] apapirovski commented on #19929
Unresolved promises do not keep a process alive. In this case, `main` function returns a Promise which is paused at the `await` statement. The `finally` cannot execute until `await` is done waiting on the promise to resolve.

You could also think of the code in your example in slightly different terms:

[code]

(This is actually not quite correct as there should be a nested Promise but then reason

[2018-04-11 09:40] apapirovski commented on #19929
In general, I recommend https://github.com/nodejs/help/issues for these types of questions. This tracker is for Node.js core issues or bugs only.

[2018-04-11 09:40] #19929 closed

[2018-04-11 09:46] gireeshpunathil commented on #3604
there are 2 issues with the (original) test case:
 - arbitrary file descriptors are fed to create streams.
 - some are bad, some are already in-use: either by Node.js or libuv

Smallest code to reproduce the issue:
#node -e "new require('net').Socket({fd: 8}).write('g')"
[code]

The fd # may not be 8 always, but in and around. In my MAC with a Node version it is 8, and in Linux it is 6. This fd is

[2018-04-11 09:47] apapirovski commented on #19929
Some additional reading:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/await
https://tc39.github.io/ecma262/#await

[2018-04-11 09:51] bnoordhuis commented on #3604
@gireeshpunathil There's already an open libuv issue about that, https://github.com/libuv/libuv/issues/1172.

[2018-04-11 09:52] bnoordhuis commented on #19928
Not sure what you mean.  Can you post an example?

[2018-04-11 09:53] apapirovski commented on #19839
Fixed by https://github.com/nodejs/node/pull/19842

[2018-04-11 09:53] #19839 closed

[2018-04-11 09:55] tniessen commented on #15116
@jasnell I don't think so, I just tried to align it with `randomBytes` and `pbkdf2`.

[2018-04-11 09:56] apapirovski commented on #19841
Closing since we have one main issue to track these bugs at https://github.com/nodejs/node/issues/19903

[2018-04-11 09:56] #19841 closed

[2018-04-11 09:58] gireeshpunathil commented on #3604
thanks @bnoordhuis - I missed that.

[2018-04-11 09:59] ryzokuken commented on #19928
<img width="1440" alt="screen shot 2018-04-11 at 3 27 38 pm" src="https://user-images.githubusercontent.com/13121330/38609851-d42416dc-3d9c-11e8-8975-4232915e483b.png">

In this particular screenshot, you could see that a lot of them have newlines (I should've used the word "blank" lines) between each other and are sometimes grouped (randomly) in threes and twos. I think this isn't supposed to hap

[2018-04-11 10:02] chrismilleruk commented on #19919
+1

I got caught by this on my first contribution and it was painfully slow to the point I was reconsidering whether to contribute at all.

It looks like it's been discussed a couple of times before: https://github.com/nodejs/node/issues/8286, https://github.com/nodejs/node/pull/8678, https://github.com/nodejs/node/pull/9961, https://github.com/nodejs/node/pull/9881, https://github.com/nodejs/node

[2018-04-11 10:10] apapirovski commented on #19928
Technically they should be overwriting each other so that there's only one line ever. I don't know if anyone else runs zsh here, maybe it's related... ?

[2018-04-11 10:12] vsemozhetbyt commented on #19919
cc @nodejs/build @nodejs/documentation

[2018-04-11 10:13] ulan opened #19937 "Limit foreground task draining loop in NodePlatform"
See https://groups.google.com/forum/#!topic/v8-users/tunDe2yVUoQ for the context.

Currently the NodePlatform drains the foreground_tasks_ queue until the queue becomes empty:
while (std::unique_ptr<Task> task = foreground_tasks_.Pop()) {
   did_work = true;
   RunForegroundTask(std::move(task));
}

This does not work well for tasks that re-post themselves. An example of such tasks is incremental

[2018-04-11 10:17] bnoordhuis commented on #19928
If this is just `python tools/test.py` without a `-p` switch then the lines should overwrite each other.  The test runner prints `'text...\r'` and only prints an `'\n'` after the final test.

[2018-04-11 10:29] apapirovski commented on #19671
Given the lack of a follow-up and the fact that we have no intention of exposing things that are intentionally private, I'm going to go ahead and close this.

[2018-04-11 10:29] #19671 closed

[2018-04-11 10:40] zixia commented on #19929
@apapirovski Thanks for the reply.

I can understand that the `finally{}` block will not be executed because of unresolved promises do not keep a process alive in Node.js.

However, my question is: should we keep the `try {} finally {}` behavior consistent with Java & C++ ?

Because this behavior of the `try {} finally {}` statement in Node.js will make the people who are familiar with Java & C++

[2018-04-11 10:42] apapirovski commented on #19929
@zixia This isn't really a Node.js issue, it's a language issue (EcmaScript) and I can't imagine it will change given that it would break the entirety of the rest of the JavaScript ecosystem.

[2018-04-11 10:43] zixia commented on #19929
Yes, I agree with you that's not a Node.js issue but an ES language issue.

Thank you very much!

[2018-04-11 10:48] bnoordhuis commented on #19929
If you want to think about this in C++ or Java terms, it's as if you sent the thread a `SIGSTOP` signal right after printing the message and then never unpause it again.  They won't execute the `finally` block in that case either.

[2018-04-11 10:51] apapirovski commented on #19231
@gireeshpunathil I don't think it's meant to be supported in the way that it's used here but it did work until now... We should probably resolve.

[2018-04-11 10:52] bnoordhuis commented on #19937
Sounds reasonable to me.  `Pop()` should probably be replaced with a method that does `task_queue_.swap(...)`.

@addaleax Good idea / bad idea?

[2018-04-11 10:54] apapirovski commented on #19919
Seems like a good change. Added labels.

[2018-04-11 10:55] 38leinaD commented on #16103
@dscho what kind of information would help?
To summarize:
[code]

[code]

This task takes a few seconds to download depdenencies the first time; so just any example where you cannot kill the process.

Now i apply your msys-2.0.dll from this thread and try it again.

`../gradle-4.6/bin/gradle clean build // press CTRL+C
`
Now it works.

[2018-04-11 10:56] gibfahn commented on #19919
So the suggestion is that we change `make test-only` to `make -j4 test-only`? Sounds like a great idea to me.

We did standardize on `-j4` everywhere after a fair amount of discussion previously, I think it was in https://github.com/nodejs/node/pull/9961.

So a PR that adds a `-j4` to every `make` command sounds like a good idea to me.

[2018-04-11 11:00] apapirovski commented on #19889
@AyushG3112 I'm guessing you're looking for `test/parallel/test-internal-errors.js`?

[2018-04-11 11:06] zixia commented on #19929
@bnoordhuis Brilliant! :+1:

I feel better about this Node.js behavior after your explanation: It's fair enough for the program languages when running on the operation system with some extreme conditions...

[2018-04-11 11:10] ulan commented on #19937
@bnoordhuis, @addaleax, another possible fix assuming that the queue is FIFO:
[code]
The same for the delayed tasks.

We probably need an option for `FlushForegroundTasksInternal` to drain all the tasks, because it is also used the destructor of `PerIsolatePlatformData`.

[2018-04-11 11:30] apapirovski commented on #19523
I'm not sure about this one... There are protocols that don't have slashes before pathname (e.g. mailto). I suppose we could check that hostname & pathname exist but given that the legacy url stuff is meant to be frozen, I don't know how I feel about it.

[2018-04-11 11:42] apapirovski commented on #4964
I think this was a stackless error which is tracked elsewhere so I'm closing.

[2018-04-11 11:42] #4964 closed

[2018-04-11 11:45] AyushG3112 commented on #19889
@apapirovski perfect thanks. I was actually using my editors' `Find In Project` feature to look for the file containing tests for `ERR_INVALID_ARG_TYPE` and a couple other errors, but `test/parallel/test-internal-errors.js` doesn't cover them so I missed it.

[2018-04-11 11:45] #19889 closed

[2018-04-11 11:50] dscho commented on #16103
I guess the culprit is that I had to change this *again* because it caused more problems. Ctrl+C is really a vexing problem, and whatever way we do it, it seems to break somebody's scenario.

So currently we call `GenerateConsoleCtrlEvent()` because that was the only way `node.js` programs could react to the signal. But then your Java example seems to fail to interrupt? What seems to work for you

[2018-04-11 12:08] apapirovski commented on #9006
Given the feedback last time and the lack of any movement, I'm going to go ahead and close. If anyone feels like they want to take it on or this is an important issue, feel free to reopen.

[2018-04-11 12:08] #9006 closed

[2018-04-11 12:26] ryzokuken commented on #19928
Update: Okay, so it also happens on `make test`, so it's completely unrelated to the `-j4` flag.

Trying on bash.

[2018-04-11 12:27] vsemozhetbyt opened #19940 "doc: style ambiguity"
Currently, we have some doc fragments with `<code>` inside `<em>`:

https://github.com/nodejs/node/blame/de0053cc3280bdf72c9010f383290f79120a1e98/doc/api/dns.md#L641

https://github.com/nodejs/node/blame/b3bff41690dbbb937d20b7f2c484b72b1f8e3440/doc/api/process.md#L1496-L1502

They make sense for GitHub rendering:

https://github.com/nodejs/node/blob/de0053cc3280bdf72c9010f383290f79120a1e98/doc/api

[2018-04-11 12:28] vsemozhetbyt commented on #19940
cc @nodejs/documentation

[2018-04-11 12:28] apapirovski commented on #19928
Doing quick googling indicates that this could be tied to zsh. A lot of carriage return / command line printing related issues anyway...

[2018-04-11 12:31] apapirovski commented on #19928
@ryzokuken What's the system setup (including what the zsh runs in)?

[2018-04-11 12:38] ryzokuken commented on #19928
@apapirovski

[code]

[2018-04-11 12:38] apapirovski commented on #3947
This seems to be addressed from what I can tell. Please feel free to re-open if you think I'm wrong or this needs to remain open to tackle some edge cases.

[2018-04-11 12:38] #3947 closed

[2018-04-11 12:41] ryzokuken commented on #19928
Wait, wth. I tried on the MacOS default terminal (Terminal.app) and could not reproduce this. It work perfectly in there.

[2018-04-11 12:45] beck commented on #19523
👍I'm cool with this being labeled confirmed and wontfix.

If anyone else stumbles upon this, [this is the helper I used](https://gist.github.com/beck/731ca089974b95444794109b133e962e) to give me the API I desired.

[2018-04-11 12:45] ryzokuken commented on #19928
I just downloaded and tried Hyper and it worked perfectly on Hyper too, it was 100% an iTerm2 issue.

Closing this and switching to Hyper for now.

[2018-04-11 12:45] #19928 closed

[2018-04-11 12:49] ryzokuken commented on #19919
@gibfahn I was thinking somewhere along the lines of doing a repository-wide search for `make test` (and maybe even `make -j4 test`) and replace it with `make -j4 test` and a helpful sidenote about `make test`, why it's an option and when you should choose either.

Because sometimes someone might *need* just `make test`, you know. That's a really small subset, I think, but a subset nonetheless. Pl

[2018-04-11 12:52] apapirovski commented on #14118
@nodejs/documentation This has been around for a while and looks like a valid bug report for the docs.

[2018-04-11 12:54] apapirovski commented on #8733
I'm going to go ahead and close given the lack of any updates or movement in over a year.

[2018-04-11 12:54] #8733 closed

[2018-04-11 12:55] apapirovski commented on #8157
This seems to be resolved now that we have a benchmark job in the CI. If any additional functionality or whatever is needed then a new issue should be opened. This one has become really stale.

[2018-04-11 12:55] #8157 closed

[2018-04-11 12:59] shigeki commented on #19918
I have no preference to fallback automatically with no-asm build or to opt-in.
I made PR for the latter in https://github.com/nodejs/node/pull/19943.

The same issue exist in the assembler version check on UNIX and Mac. I will submit a new issue for it.

[2018-04-11 13:07] gibfahn commented on #19919
The PR I referenced above (#9961) did exactly that, it used `-j4` everywhere, and added [a note to BUILDING.md](https://github.com/nodejs/node/blob/master/BUILDING.md#building-nodejs-1) to explain why to newer contributors. There's also discussion in there about how likely it is that adding it would be detrimental to new contributors building node on single or dual core platforms.

concurrently wh

[2018-04-11 13:08] shigeki opened #19944 "Require openssl-no-asm option explicitly if older assembler version is found."
Currently openssl asm support requires assembler versions as described in BUILDING.md and automatically falls back to no-asm build with warning.
Should we stop building then require and opt-in to have --openssl-no-asm option in that case?

CC @nodejs/build

[code]

Ref https://github.com/nodejs/node/issues/19918

* **Version**: 10.0.0-pre
* **Platform**: All
* **Subsystem**: build, deps(openssl)

[2018-04-11 13:14] apapirovski commented on #7457
I'm unable to replicate this on more recent versions of Node.js. Given the lack of any work or updates on the issue, I'm going to go ahead and close. Feel free to re-open if you feel strongly about this.

[2018-04-11 13:14] #7457 closed

[2018-04-11 13:16] apapirovski commented on #12657
There doesn't seem to be much actionable here. The benchmarks should probably be updated to be more comprehensive but that's an issue across the board. The performance as per above is now nearly at par or better.

[2018-04-11 13:16] #12657 closed

[2018-04-11 13:24] rvagg commented on #19944
+1 consistent with #19943 if we accept that one too. I'm going with @bnoordhuis on this one that you should opt in.

Your notes about versions had me wondering if our infra even supports this and our Linux release builders didn't until today! So nightlies, and the last 10.0.0 test build for Linux (@ https://nodejs.org/download/test/v10.0.0-test20180410edd9cc466a/) would have been built without asm

[2018-04-11 13:35] idanpa opened #19947 "child_process.spawn adds flags that might cause non-native shells to fail on windows"
* **Version**: 8.11.1
* **Platform**: Windows 10 64 bit
* **Subsystem**: child_process

On Windows, when child_process.spawn is given the optional shell parameter (#4598) it makes an assumption that the shell would understand the /c /s flags (cmd.exe or powershell).
This limits the option to use bash (using [WSL](https://github.com/Microsoft/WSL)) on windows.
Can by bypassed by:
[code]
But would b

[2018-04-11 13:39] reviewher commented on #14118
This is a one-line change to [`/doc/api/buffer.md`](https://github.com/nodejs/node/blob/master/doc/api/buffer.md), included in [my comment in this issue](https://github.com/nodejs/node/issues/14118#issuecomment-313933800).  I'll gladly send a PR, but @benjamingr seemed to have some concern that isn't obvious, and it may make sense to wait for a reply before making a doc change

[2018-04-11 13:42] apapirovski commented on #14118
@reviwher I think they had the same first look thought which is that it mentions TypedArray but of course on closer inspection it refers to the `.buffer` property. Much like you already highlighted above. I think if someone can come up with a sensible PR then this could get fixed quickly.

[2018-04-11 13:49] ilijaz commented on #9435
Have the same issue with --inspect-brk parameter. Set execArgv to an empty array and it forks.
[code]

[2018-04-11 13:52] bnoordhuis commented on #15116
Just so we're on the same page, the basic idea is to provide `openssl genpkey` functionality programmatically?

I'd probably stick with `EVP_PKEY_CTX_ctrl_str()` so we don't have to duplicate all the per-algorithm configuration options.  It's less work, should help with online searches and we're less likely to screw up something.

Strawman proposal:
[code]
Using `EVP_PKEY_keygen()` gives DSA, DH a

[2018-04-11 14:00] ryzokuken commented on #19919
Agreed. If it's there in BUILDING.md, people *will* find it anyway.

[2018-04-11 14:06] bnoordhuis commented on #10154
@jBarz Per https://github.com/libuv/libuv/pull/1191#issuecomment-322819771, do you want to open a pull request here?

[2018-04-11 14:10] jasnell commented on #15116
@tniessen ... yeah, I get that. I'm thinking for the start, however, let's just do the async version. If someone comes up with a good case for a sync version later, then it can be added as a semver-minor. Less new API surface area. But that's just my opinion, I'm certainly not going to -1 it if the sync version is there :-)

[2018-04-11 14:11] jasnell commented on #14770
Starting in Node.js 10.0.0, there are experimental promise versions of the `fs` functions available at `fs.promises`

[2018-04-11 14:14] apapirovski commented on #10154
@bnoordhuis @jBarz I'm not sure the proposed fix there solves the issue. We already have something very similar (setting `timeRemaining = 1`) which works fine for most cases but it only runs when `diff < msecs` which in the reproduction above from @ikokostya is not actually the case.

[2018-04-11 14:14] bnoordhuis commented on #19947
Yep, and it doesn't seem like an unreasonable restriction to me.  I don't really see how we could improve it either.

[2018-04-11 14:32] jasnell commented on #19923
Starting in node.js 10.0.0, there are experimental `fs.promises` functions that are not promisify wrappers... try `fs.promises.truncate` for instance...

[2018-04-11 15:02] winguse commented on #19859
As dig into detail, I find that it's not the generator problem -- they are destroyed a little bit late.

And as I collect data from our production, over 99.9% not destroyed stacks are this one:

[at Agent.addRequest (_http_agent.js:178:22)](https://github.com/nodejs/node/blob/v8.9.0/lib/_http_agent.js#L178)
[at new ClientRequest (_http_client.js:258:16)](https://github.com/nodejs/node/blob/v8.9.0/

[2018-04-11 15:13] tniessen commented on #15116
@bnoordhuis I understand the reasoning towards `EVP_PKEY_CTX_ctrl_str` and it should work, but using it just doesn't look very JS-ish to me, this looks highly implementation-specific (which it is). What do you think @jasnell?

You are right, most users will need access to both. There should probably be a separate API to convert between key formats (PKCS#1 / PKCS#8, PEM / DER) -- including public k

[2018-04-11 15:16] ryzokuken commented on #19928
@devsnek strange. Perhaps it's something about your setup? Or do you not use High Sierra? That seems to be a factor in this.

[2018-04-11 15:29] tniessen commented on #17523
@nodejs/crypto What do you think about https://github.com/nodejs/node/issues/17523#issuecomment-359395838? The API was landed as proposed, the main question is: Will people use it, and will they do so correctly? We cannot force them to check the auth tag length, but we can help them.

[2018-04-11 16:02] idanpa commented on #19947
@bnoordhuis  what do you say about these options:

1. Having shellOptions arg with default value '/d /s /c' on windows and '-sc' on unix
2. Skip adding the options if shell string already contains flags (having either " -" or " /"
3. Having 2 different optional args - shshell and ntshell that gets the right options accordingly (without checking the platform)

[2018-04-11 16:24] bnoordhuis commented on #15116
If you want something that's more idiomatic JS:
[code]
Or with magic proxies:
[code]

[2018-04-11 16:33] bnoordhuis commented on #19947
(1) and (3) are fixing a problem that isn't really a problem (don't use `.shell`, spawn the shell directly) and (2) is the kind of heuristic that can have false positives (e.g. `/` is also a path separator.)

I mean, yes, there are ways to solve your issue with more API options but the extra complexity doesn't seem worth it.

[2018-04-11 16:40] ryzokuken commented on #19940
I am wondering, why would we want to italicize code or monospaced text in general in the first place?

[2018-04-11 16:42] bnoordhuis commented on #17523
No objections, sounds like a good idea.

[2018-04-11 17:49] lantern77 commented on #1690
Hello,

I have a similar issue to @j8la where I would like to receive data from multiple multicast addresses but they share the same port. I have posted in the help section but was wondering if I could get help here as well. Sorry for reposting but been pulling my hair trying to figure this out.

Full details here:
https://github.com/nodejs/help/issues/1207

Regards

[2018-04-11 18:14] gsathya commented on #1897
I re enabled Array.prototype.values in Chrome 66 with an [embedder flag](https://chromium-review.googlesource.com/906927). We'll know if it's web compatible or not once Chrome 66 becomes stable.

cc @MylesBorins

[2018-04-11 18:16] MylesBorins commented on #1897
Reopening this issue to track. We should likely enable it in 10.x assuming it doesn't get reverted again. @gsathya does it make sense for us to enable it a couple weeks later or perhaps inherit it in the 6.7 upgrade?

[2018-04-11 18:32] lantern77 opened #19954 "Dgram issues with multiple multicast addresses on same port"
**Solution at the bottom**
Version: 6.11.2
Platform: Linux (Ubuntu 64-bit)
Subsystem: dgram

Hello,

I've been running into issues with receiving data from multiple multicast addresses from the same port.

[code]

I am running into the issue where if there multiple multicast address streaming to the same port but only one of them is added to membership both of them are received. For example I have

[2018-04-11 18:36] ryzokuken commented on #19928
This is getting crazier by the minute. I just found out that it broke on Hyper too. Seems like it wasn't an issue with iTerm per-se, but with High Sierra (maybe).

[2018-04-11 18:42] gsathya commented on #1897
I think waiting for 6.7 is a good idea. I'll enable it by default in V8 6.8 and backport it to V8 6.7 (since 6.7 is branching right now)

[2018-04-11 19:46] Trott commented on #19912
@nodejs/testing

[2018-04-11 20:47] ryzokuken commented on #19937
@bnoordhuis @addaleax I'm terrible at C++ work, and haven't submitted a single C++ PR yet, but I'd love to get more into that side of things in the codebase.

If any of you would be willing to provide a little guidance regarding this one, I think I could take it up.

[2018-04-11 21:08] ryzokuken commented on #19922
If the issue cannot be reproduced on a different browser, then I think strongly that it might not be an issue with Node.js in the first place.

[2018-04-11 21:29] ryzokuken commented on #19877
@JasonFang93 this doesn't seem reproducible. If it's solved on your end, could you please close the issue?

[2018-04-11 21:31] bnoordhuis commented on #19937
@ryzokuken Sure thing.  If you have specific questions, I'll try to answer them.

[2018-04-11 21:32] ryzokuken commented on #19897
I don't know if it helps, but Node.js 7 has reached it's EOL. Are you sure it isn't just because of a change which was backported to LTS?

That said, I don't think breaking changes are backported.

[2018-04-11 21:39] bnoordhuis commented on #19914
The `HPE_*` errors come from the http-parser library.  Node.js doesn't define them, it just calls `http_errno_name()`.

Not an argument per se against documenting them but it means some builds might produce different errors than others.

For example, `HPE_STRICT` is never emitted by the official binaries but might be emitted by a linux distro binary that links against a strict-mode build of `libht

[2018-04-11 21:41] ryzokuken commented on #19937
@bnoordhuis Great, thanks. I'll be posting things in here as they come up, then.

[2018-04-11 21:43] ryzokuken commented on #19914
@bnoordhuis in that case, wouldn't the upstream library (`http-parser` in this case) maintain an exhaustive and updated documentation for all such errors that we could simply link to?

[2018-04-11 21:45] Trott commented on #19920
Hi @Vasikaran! This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like this one, please file an issue on our help
repo. https://github.com/nodejs/help

Thanks!

[2018-04-11 21:47] bnoordhuis commented on #19914
Short answer: no.

Longer answer: still no.  There's a `HTTP_ERRNO_MAP()` macro in `http_parser.h` that has some string descriptions but that's it.  C programmers know to distrust documentation.

[2018-04-11 21:50] Trott commented on #19922
@ryzokuken You're probably right, but since this is `http2`, is it possible that different browsers have different HTTP/2 quirks in ways that might be more significant than any quirks handling HTTP or TLS?

[2018-04-11 21:50] Trott commented on #19922
@nodejs/http2 for opinions on whether this warrants investigation, closing, redirecting to the help repo, or what...

[2018-04-11 21:51] Trott commented on #19877
@JasonFang93 What kind of file system are you writing to? Is it local, NFS-mounted, something else?

[2018-04-11 21:52] Trott commented on #19877
/ping @nodejs/fs just in case anyone has seen this type of behavior before and knows what might be causing it. Like @ryzokuken, I doubt it's a problem with Node.js, but it would be nice to be able to make realistic suggestions about what might be causing the observed behavior.

[2018-04-11 21:56] bnoordhuis commented on #19877
On linux, `strace -f read,write -s 256 node script.js` will tell you what's received from and passed down again to the kernel.

[2018-04-11 21:59] ryzokuken commented on #19914
@bnoordhuis in that case, do you think it would be more beneficial to add documentation for all the errors in the `http-parser` repo over adding them in here?

Perhaps that'd be helpful for other downstream projects too?

[2018-04-11 22:00] mcollina commented on #19922
This warrants investigation, worst case we should open a bug on Chromium.

[2018-04-11 22:07] ryzokuken commented on #19922
@mcollina +1. Exactly what I had in mind.

[2018-04-11 22:09] Trott commented on #19827
/ping @nodejs/tsc

[2018-04-11 22:10] bnoordhuis commented on #19914
Maybe, but some errors never happen in Node.js and you'd still have to explain the caveat about how different builds might produce different errors.

[2018-04-11 22:17] ryzokuken commented on #19914
So, as a Node.js user, you could just look at the errors that concern you. Specific errors might show while working on specific use-cases and that shouldn't deter us at all.

And we definitely should. The aim is not to evade that somehow, but to benefit other downstream projects as well, in the process (who could now just include a quick link).

Perhaps we could document the errors that affect us

[2018-04-11 22:25] ryzokuken commented on #19914
@devsnek we *could*, once we add the documentation in there.

[2018-04-11 22:49] Fishrock123 commented on #19426
This is possible to do - but of course canceling is a bit of a thorn and doesn't really work. So uh...
¯\\\_(ツ)\_/¯

[2018-04-12 03:47] levimm commented on #17859
Thanks

[2018-04-12 03:47] #17859 closed

[2018-04-12 05:41] kmocorro opened #19965 "NodeJS File System fs.open UNKNOWN: unknown error"
* **Version**: v8.11.1
* **Platform**: 64-bit (Windows)
* **Subsystem**: FS

Hi node!

Few days ago, **fs.watch()** was still able to work with my path ////networkFolder. But after I restarted the server (hard reset), it gave me an **unknown error**.

Now for me to check the path I did some troubleshooting, so I used **fs.open()** but it gave me an error.

[code]
`
Error: UNKNOWN: unknown error, o

[2018-04-12 07:14] shigeki commented on #19944
When we make opt-in, we should consider the future upgrade to OpenSSL-1.1.1 which needs higher version so as not to be semver-major update.

Following to the requirements in 1.1.1, asm support is
[code]
At the current ,the following CI would be failed due to the older assembler version.
[code]

[2018-04-12 07:14] apapirovski commented on #6083
There has been no movement on this in nearly a year and no reports of it happening again. I'm going to close it out but if any new info has surfaced or you believe this should remain open, please feel free to do so.

[2018-04-12 07:25] bzoz commented on #19965
Is the network share accessible in any other application?

[2018-04-12 07:33] kmocorro commented on #19965
Yes bzoz, I used net use and it works fine then in cmd, I tried C:> dir ////networkFolder//shareFolder no error and also already mapped the network share with and without drive letter.

Few days ago it runs smoothly. The app can listen to the file changes using fs.watch but now I don't know why all of a sudden fs.watch(), .stat(), .open() seems not to work right after restarting the server.

[2018-04-12 07:50] winguse commented on #19859
I find the root cause of this now, it's because we are using `request({ forever: true })` for reusing the http connection.

[2018-04-12 07:56] #19905 closed

[2018-04-12 07:56] AndreasMadsen commented on #19859
@winguse Do you still think this is an issue with node.js? If so, could you try writing up a test case?

[2018-04-12 08:59] apapirovski commented on #15336
Some of these are documented, others are non-actionable. Most importantly there hasn't really been any movement and the API is in a lot of flux. I'm going to close and if something actionable does come up, a new issue can be opened to deal with that specifically.

[2018-04-12 08:59] #15336 closed

[2018-04-12 09:00] winguse commented on #19859
@AndreasMadsen It looks to be a node.js issue to me, check the description above.

I am not sure if this can be solve inside node.js, as this can lead to multiple execution blocks sharing the same tcp connection resource.

[2018-04-12 09:11] ulan commented on #19937
@ryzokuken @bnoordhuis, oh, I was planning to work on this since I already did debugging. I should have mentioned that before, sorry. I was waiting for @addaleax's reply and the decision on whether to go with swap or limit approach before uploading PR.

@ryzokuken, did you already start working on this?

[2018-04-12 09:18] apapirovski commented on #15317
I think this was addressed in https://github.com/nodejs/node/pull/15588?

[2018-04-12 09:18] #15317 closed

[2018-04-12 09:24] apapirovski commented on #17037
Seems like this has been addressed by the OP but if not, please feel free to re-open. Not sure this would get back-ported to v6.x, if it hasn't been already.

[2018-04-12 09:24] #17037 closed

[2018-04-12 09:26] apapirovski commented on #17481
@fhinkel @TimothyGu do you happen to have a status update on this? Still an issue? Has the fix landed in Node.js since then?

[2018-04-12 09:31] apapirovski commented on #15656
@Trott @mhdawson any status updates on this? It seems like this should maybe be closed now?

[2018-04-12 09:32] apapirovski commented on #14430
As far as I can tell this has been resolved by marking it as flaky. Closing.

[2018-04-12 09:32] #14430 closed

[2018-04-12 09:32] novemberborn opened #19970 "Unreferenced timer started in uncaughtException handler fires immediately if exception was thrown from inside a timer"
* **Version**: v4.8.7, v6.12.3, v8.11.0, v9.11.1
* **Platform**: MacOS 10.13.4
* **Subsystem**: Timers

I have an `uncaughtException` handler which performs asynchronous cleanup. This cleanup may only take a certain amount of time, after which the process is forcibly exited. This time limitation is implemented through an unreferenced `setTimeout`.

If an uncaught exception is thrown from inside *a

[2018-04-12 09:34] apapirovski commented on #13654
I don't think this failure has reoccurred recently so I'm going to close this out even though we haven't come to any sort of resolution. Feel free to re-open if you disagree with that decision.

[2018-04-12 09:34] #13654 closed

[2018-04-12 09:35] apapirovski commented on #13810
This hasn't been looked at in a long time but also hasn't reoccurred in a long time. I'll close it out but feel free to re-open if you have more info or disagree with my decision. Just trying to clean up the issue tracker a little.

[2018-04-12 09:35] #13810 closed

[2018-04-12 09:36] apapirovski commented on #14028
As far as I can tell this has been resolved? Feel free to re-open if I'm reading that incorrectly.

[2018-04-12 09:36] #14028 closed

[2018-04-12 09:37] apapirovski commented on #18234
@nodejs/http2 any thoughts? is this still an issue?

[2018-04-12 09:38] novemberborn commented on #19970
And yes an uncaught exception occurred so it could be argued the timer behavior is undefined. It is *really* surprising though.

[2018-04-12 09:43] apapirovski commented on #19970
This was fixed at some point recently (works as expected on master) and will be in 10.x but it might've been semver-major. I'll look into which exact commit fixed it.

[2018-04-12 09:48] apapirovski commented on #19970
It might've been https://github.com/nodejs/node/pull/18486 which is indeed `semver-major`.

[2018-04-12 09:53] apapirovski commented on #18163
Due to lack of sufficient information to continue debugging, I'm going to close this. That said, if anyone has more info, feel free to reopen.

[2018-04-12 09:53] #18163 closed

[2018-04-12 09:54] novemberborn commented on #19970
Oh that's great @apapirovski!

It's not clear to me from that PR why it's `semver-major`?

[2018-04-12 09:56] #19920 closed

[2018-04-12 09:56] apapirovski commented on #19970
@novemberborn The error handling behaviour is dramatically different now which could break existing code in unexpected ways. I'm not saying it's likely but I think we will want to at least give it some time in that state before we revisit whether it's a good idea to backport and decrease its status from a semver-major change. It's also possible there are new undiscovered bugs so we wouldn't to jus

[2018-04-12 09:58] apapirovski commented on #19970
This of course all relies on me being right re: that being the fix. I'm going to do a bit more testing when I have time to confirm.

[2018-04-12 09:59] bnoordhuis commented on #17481
The upstream commit was reverted again in https://chromium-review.googlesource.com/c/v8/v8/+/850355 because of performance issues.

[2018-04-12 10:04] apapirovski commented on #13923
Given the lack of a follow up and no one taking this up, I'm going to go ahead and close. If anyone happens to have any additional information or believes this should remain open, please feel free to do so. Just cleaning up the issue tracker a tad...

[2018-04-12 10:04] #13923 closed

[2018-04-12 10:10] bnoordhuis commented on #19965
That 4094 error code is a generic network-or-configuration error, Node.js just passes it on from the operating system.

Apropos `fs.watch()`, note the caveat from the documentation:

systems (NFS, SMB, etc)

I'm closing out the issue since it isn't a bug in Node.js itself.  If you have follow-up questions, please post them to the nodejs/help repo.  You're probably better off getting in touch with

[2018-04-12 10:10] #19965 closed

[2018-04-12 10:11] apapirovski commented on #15594
Throwing inside error listeners isn't really supported in this way. I don't think this is something that will be addressed. Think about it this way: when a domain is active, it takes over top level error handling for `uncaughtException`. That listener you have there runs in the same place where `uncaughtException` listeners normally run. Throwing inside that top level error handler leaves Node.js

[2018-04-12 10:11] #15594 closed

[2018-04-12 10:38] mcollina commented on #18234
I presume this needs to be investigated.

[2018-04-12 10:53] apapirovski commented on #10961
This was fixed in https://github.com/nodejs/node/commit/1980a36dd45997e9dee03fe11688319c2f5c3644#diff-e3bc37430eb078ccbafe3aa3b570c91a

[2018-04-12 10:53] #10961 closed

[2018-04-12 11:00] ryzokuken commented on #19937
@ulan I haven't done much, if you've started working on this, please go ahead.

[2018-04-12 11:01] hashseed commented on #7074
The spec seems pretty clear on this one and hinges on [LocalTZA](https://tc39.github.io/ecma262/#sec-local-time-zone-adjustment). You could use `Date.prototype.setUTCSeconds` to work around this problem.

[2018-04-12 11:07] apapirovski commented on #7074
Thanks @hashseed. Sounds like we should close on our end. There's an issue in V8 if anyone wants to track although it doesn't seem like it'll see much movement.

[2018-04-12 11:07] #7074 closed

[2018-04-12 11:30] apapirovski commented on #7074
I'm just skimming this but I think this is related to LocalTime in the spec:

(link above per @hashseed)

[2018-04-12 11:32] ryzokuken commented on #19954
cc @nodejs/dgram

[2018-04-12 11:36] apapirovski commented on #8460
I've removed the help-wanted label. I'm not sure anyone truly knows what's best here.

I would be in favour of sticking with the current behaviour but of course there is some weirdness associated with it. If we hang them off the timer handle then scheduling them seems to become a bit more problematic — I'm not 100% certain how @bnoordhuis envisions that working, but he also knows libuv a lot bette

[2018-04-12 11:45] bnoordhuis commented on #7074
Yep, I saw the note that "_UTC(LocalTime(t)) is not necessarily always equal to t_" and that's no understatement because `d.setSeconds(d.getSeconds())` exhibits the same timezone jump.

I wouldn't call it intuitive but I guess it _is_ conforming.

[2018-04-12 11:52] bnoordhuis commented on #8460
How so?

[2018-04-12 11:54] gireeshpunathil commented on #15277
Inactive, closing.

[2018-04-12 11:54] #15277 closed

[2018-04-12 11:56] bochen2014 commented on #8167
why the `ipc` fd is only required in `fork`? not in `spawn`?
 what's the fundamental difference between `fork` and `spawn`? isn't `fork` a specific type of `spawn` where process name is slated to `node`?

[2018-04-12 11:57] apapirovski commented on #8460
As far as I can tell they would need to be timers scheduled for 1ms, right? (Scheduling for 0 while in the timer handling process seems to cause those timers to fire again before running the loop again.)

[2018-04-12 12:01] hashseed commented on #7074
Yes. There is a DST jump at precisely that time.

What setSecond does is that it converts the time into UTC based on the time offset at that time. After it has calculated the new time, it converts the time back to local time based on the time offset at the new time.

The time offsets differ by an hour according to ICU.

[2018-04-12 12:03] apapirovski commented on #10154
@jBarz yeah, I see what you mean now. Not a huge fan of adding 1ms to all timers (the magic number is a bit of a code smell) that run through that block but I'm not really seeing another solution. I suppose it depends on whether we consider this important to fix or if infrequent 1ms inaccuracy is acceptable. FWIW it should happen a lot less now than it used to when this issue was made.

[2018-04-12 12:16] brandonrninefive commented on #17668
Hello, I'd like to work o n this!

[2018-04-12 12:16] gireeshpunathil commented on #15651
Is it a close candidate?
@santigimeno - was your patch intended to be a workaround, or is it going into the code base?

fwiw, I am able to reproduce the leak consistently in my MAC, with the latest.

[2018-04-12 12:25] gireeshpunathil commented on #15651
thanks, you may `ping` me for any interim testing as required, as I have a reliable recreate!

[2018-04-12 12:28] apapirovski commented on #9720
@nodejs/documentation This could use some love. It is not exactly incorrect but certainly confusing and somewhat misleading.

[2018-04-12 12:33] apapirovski commented on #11552
@nodejs/http @nodejs/http2 I would like to at least discuss this before v10.x lands because this will almost certainly be semver-major and I don't want it to wait until yet another major version.

[2018-04-12 12:40] apapirovski commented on #12675
@jasnell Should this remain open? As far as I can tell we've implemented some of these since and others have been documented as being inspector-only.

[2018-04-12 12:43] apapirovski commented on #13407
This was resolved in https://github.com/nodejs/node/pull/15324

[2018-04-12 12:43] #13407 closed

[2018-04-12 12:43] jasnell commented on #12675
Should be ok to close at this point

[2018-04-12 12:43] #12675 closed

[2018-04-12 12:45] apapirovski commented on #13888
Question has been answered and there does not seem to be anything actionable here. Closing but feel free to re-open if there's more to this.

[2018-04-12 12:45] #13888 closed

[2018-04-12 12:46] jeroenvollenbrock opened #19974 "V8 no longer resets the timezone cache upon invoking v8::Date::DateTimeConfigurationChangeNotification"
* **Version**: 8.9.4 (First impact at 7.0.0)
* **Platform**: Linux 4.14.15-h1 #1 SMP Wed Jan 31 15:49:06 UTC 2018 armv7l GNU/Linux
* **Subsystem**: V8 Engine

Apparently one of the V8 updates after Node.js ~~4.8.4~~ 6.12.2 caused the `v8::Date::DateTimeConfigurationChangeNotification` that is triggered by the reset-date-cache module of @evanlucas to not actually invalidate the timezone everywhere.

[2018-04-12 12:46] apapirovski commented on #13909
Issue was resolved and does not seem Node.js related. Feel free to reopen if I'm wrong and/or any new information has surfaced.

[2018-04-12 12:46] #13909 closed

[2018-04-12 12:48] gireeshpunathil commented on #17541
ping @surajwy

[2018-04-12 12:49] apapirovski commented on #13921
There has been no follow up on this since and following the crumbs around the tracker, it seems like this issue might've been resolved elsewhere. Closing for now but feel free to re-open if it's still a problem.

[2018-04-12 12:49] #13921 closed

[2018-04-12 12:50] gireeshpunathil commented on #19208
closing as answered, let me know if anything outstanding here.

[2018-04-12 12:50] #19208 closed

[2018-04-12 12:50] addaleax commented on #11552
@apapirovski To be clear, the suggestion is to ignore such a header by default? Or do we actually want to implement a transparent switch to HTTP/2 (which might be doable)?

[2018-04-12 12:50] addaleax commented on #11552
Also @nodejs/tsc because the deadline that we set for semver-majors in 10.0.0 without TSC confirmation has passed

[2018-04-12 12:52] apapirovski commented on #11552
@addaleax the suggestion is to conform to the spec which says that `upgrade` headers can be ignored whereas we just cut the connection. The handling of `connection: upgrade` in particular is super broken.

[2018-04-12 12:54] addaleax commented on #11552
I’m totally fine with ignoring the header by default, but we (you? me?) should get a PR up asap.

We might also want to provide an option to fall back to the old behaviour, I guess?

[2018-04-12 12:55] apapirovski commented on #11552
Yeah, sorry been unavailable for a while at an inconvenient time but I've had a list of these things that I think need to get into 10.x. I have a few more that I'm working on PRs for, hopefully can open today or tomorrow.

[2018-04-12 12:57] mcollina commented on #11552
@lpinca what do you think?

@apapirovski do we have a fix for this already? If we do, we might try to fit it in before 10.0.0, but the deadline has passed already. Ideally it should be landed before next Wednesday, so that we can talk about the backport at the next TSC meeting. However, we cannot promise anything at this point.

[2018-04-12 13:00] bnoordhuis commented on #19974
Can you be more precise?  Does it work when you pass `--noicu_timezone_data` on the command line?

[2018-04-12 13:05] apapirovski commented on #14976
@nodejs/streams @nodejs/http

I don't necessarily think there's anything actionable here but figured I would ping those more knowledgeable.

[2018-04-12 13:06] apapirovski commented on #11552
@addaleax @mcollina I'll get a PR going today.

[2018-04-12 13:09] jeroenvollenbrock commented on #19974
I haven't been able to make the testcase work at all, but in cluster workers and VM's the timezone does change. I think this is caused by the different isolate context that is used there, since it probably just didn't have a populated cache yet. `--noicu_timezone_data` does not seem to make the testcase work either.

[2018-04-12 13:26] #19796 closed

[2018-04-12 13:28] jeroenvollenbrock commented on #19974
I've pushed a task to our testfarm and Node.js 7.0.0 on Linux seems to be the first impacted version, which would place the most likely cause at the V8 5.4 upgrade

[2018-04-12 13:34] bnoordhuis commented on #14976
I kind of understand why @duanyao expected to see different behavior but comparing it with `fs.createReadStream()` isn't really apples-to-apples.

You can see it when you add this line to the test:
[code]
Output:
[code]
The remote end closes the connection before the script resumes it again, which of course doesn't happen with `fs.createReadStream()` because that's fully controlled by the local pr

[2018-04-12 13:34] #14976 closed

[2018-04-12 14:10] addaleax commented on #19937
@ulan I would go with the swapping solution like Ben suggested, but mostly because that seems simpler and doesn’t require setting some slightly arbitrary value as a limit. If you think that V8 has different requirements, feel free to ignore me. :)

[2018-04-12 14:15] Fishrock123 commented on #19970
Sounds like a bug to me.

[2018-04-12 14:45] BridgeAR commented on #19503
How did you try to reproduce this so far?

[2018-04-12 14:48] mikesamuel opened #19976 "url.parse does not find authority in protocol relative URLs"
* **Version**: 8.9.4
* **Platform**: Darwin Kernel Version 17.4.0
* **Subsystem**: lib/url

[code]

The output should be `/bar`.

*lib/url.js* cites RFC 3986.

https://github.com/nodejs/node/blob/93967d00e9feb944b1ec907dabaaf32f243e5806/lib/url.js#L62

That spec defines a relative URL thus:
[code]

The first option of relative-part means that `//foo/bar` should be parsed as having a `host` of `foo

[2018-04-12 14:53] lantern77 commented on #19954
So here is my code in pure isolation,
[code]
Running this is much easier.

[2018-04-12 15:10] iSkore commented on #19914
@ryzokuken I completely agree. And is there a list or feed of upcoming changes? Or just follow the Issues and PRs?

@bnoordhuis I completely understand why that would be an exhaustive list that _kind of_ falls out of the realm of a Node.js contributor's responsibility. But _especially_ if these errors are rare and relatively undocumented, C programmer or not, it would be nice to have a bit of deta

[2018-04-12 15:10] ex1st opened #19977 "Degradation of performance console.log on master"
* **Version**: 10.0.0-nightly201804120aab8ff602 (V8 6.6.346.23-node.2)
* **Platform**: Linux (Ubuntu 17.10) x86_64
* **Subsystem**:

[code]

8.10.0 - performed immediately
master (V8 6.6 and V8 6.5 both) - utilized 100% CPU and frozen for a long time and crashed process.

I think a problem with resolving circular links.

[code]

[2018-04-12 15:16] richardlau commented on #19977
Possibly related to https://github.com/nodejs/node/issues/19405?

[2018-04-12 15:48] BridgeAR commented on #19977
That is indeed somewhat related. The problem here is that the object is huge. It is quite a lot of work to compute that. Before, there was no circular check because the object depth was already reached before. This will also fail on Node.js 8 or 9 if the util.inspect depth is set to 4 or higher. I plan on limiting the object keys printed by default to 100 just like it is done with arrays. That wou

[2018-04-12 15:51] bnoordhuis commented on #19914
I'm not opposed to adding it to Node's docs.  The crux of https://github.com/nodejs/node/issues/19914#issuecomment-380611945 is that linking to external docs isn't a good idea.

[2018-04-12 15:52] BridgeAR commented on #19405
@vsemozhetbyt thanks for checking this. It is bad that this does not solve the problem. Can you retry with 25? I would like to get something like this as a intermediate fix in. 25 should still be enough for pretty much all objects.

[2018-04-12 15:56] apapirovski commented on #11552
Does anyone here have thoughts re: how `http_parser` should be handled? There's a minor issue in its code where the `upgrade` would ideally just be determined on the basis of:

[code]

rather than the current

[code]

But I don't know whether we're worried about deploying another version of http_parser with that change or not. The alternative is to stop using `upgrade` from http_parser altogether

[2018-04-12 16:06] apapirovski commented on #11552
@nodejs/http-parser realizing I should really have CC'd all of you given the questions above.

[2018-04-12 16:09] mafintosh opened #19978 "Missing http2 error handling"
* **Version**: master
* **Platform**: linux
* **Subsystem**: http2

After going through the http2 source today fixing some other issues I've noticed there is a couple of places with missing error handling. Thought I'd write them up in an issue so anyone wants to take a stab at fixing them

* https://github.com/nodejs/node/blob/master/lib/internal/http2/core.js#L870 - no error handler is attached t

[2018-04-12 16:28] ryzokuken commented on #19976
@mikesamuel `url.parse(...)` accepts a third boolean argument called `slashesDenoteHost`, which is set to `false` by default. When set to `true`, the behavior of the `url.parse(...)` function is exactly how you wanted it to be.

[code]

I'd suggest taking a look at the API docs for `url.parse(...)` at https://nodejs.org/dist/latest-v8.x/docs/api/url.html#url_url_parse_urlstring_parsequerystring_sl

[2018-04-12 16:38] chrismilleruk commented on #19919
I did a bit of analysis on this ⬇️and I'm wondering if it might be better to promote the use of `export MAKEFLAGS=-j4` in [BUILDING.md#Building Node.js](https://github.com/nodejs/node/blob/master/BUILDING.md#building-nodejs-1) than to update all doc references with the explicit `-j4` option.

e.g.

This has the same performance boost, applies to all subsequent `make` commands in that session, keep

[2018-04-12 16:52] jasnell commented on #19976
Thank you @ryzokuken for answering.

In general, despite what RFC 3986 says, it's rather difficult to accurately determine the authority in a relative URL that contains no scheme due to many legacy concerns. The `slashesDenoteHost` option makes it explicit what behavior is needed.

In general, however, the best solution is to use protocol specific semantics and to use the new WHATWG URL implementa

[2018-04-12 16:52] #19976 closed

[2018-04-12 17:58] lantern77 commented on #19954
More testing and reduced to a more manageable piece of code I still get the data being streamed in from  239.71.238.19:1234 when I add Membership for 239.0.0.1 on port 1234
[code]
Was wondering if the source of the data would affect anything?
Also 10.10.160.103 is the ip address of the network adapter that is receiving the data.

Note code comes from https://stackoverflow.com/questions/14130560/no

[2018-04-12 18:06] apapirovski commented on #11552
PR in https://github.com/nodejs/node/pull/19981

[2018-04-12 18:20] vsemozhetbyt commented on #19405
Refs: https://github.com/npm/npm/issues/20091#issuecomment-380897087

[2018-04-12 18:30] Trott commented on #19405
Seems to me like `util.inspect()` with default options should be impervious to infinite recursion. If it isn't, then the bug is in Node.js, not npm. Or am I misunderstanding what's going on here?

[2018-04-12 18:33] BridgeAR commented on #19405
Refs https://github.com/nodejs/node/pull/17907#issuecomment-380902159.

[2018-04-12 18:48] Trott commented on #15656
Seems likely that it was fixed either via infra fixes or else in d64b0a85e606b2c737c27e44bbe16c8eaba85d00. Haven't noticed it in a long time and can't find it in CI. Closing. Feel free to re-open if you think I'm wrong.

[2018-04-12 18:48] #15656 closed

[2018-04-12 18:54] lantern77 commented on #19954
More information regarding the input I am receiving over the network (Just got this information from my tech lead):
It is a ISO-13818-1 Compliant Transport Stream that contains 1 video pid and two audio pids.
and is broadcasting over multiple multicast addresses:
239.71.238.19:1234
239.71.238.30:1234
239.71.238.25:1234
239.71.238.16:1234
239.71.238.18:1234
239.71.238.10:1234
Running
[code]

provid

[2018-04-12 18:58] BridgeAR commented on #19405
I believe to have a fix: https://github.com/npm/npmlog/pull/58. If anyone would be so kind and give this a try, I do not have the time to test the fix right now :/.

[2018-04-12 19:04] ryzokuken commented on #19919
I'm in favor of explicitly using the `-j4` flag (come on, it's just three characters) because it allows you to change the number of jobs easily (as compared to exporting again).

[2018-04-12 19:05] ryzokuken commented on #19954
ping @nodejs/dgram

[2018-04-12 19:10] ryzokuken commented on #19978
I'll try to take a look at it, if it's okay. 😄

[2018-04-12 19:14] mikesamuel commented on #19976
Thanks, both.

@jasnell, You are right.  The reason I didn't find slashesDenoteHost was because I was confusing `require('url').url` with `require('url').URL`.  Sorry for misfiling.

There are a lot of legacy concerns with URLs, but there are fewer legacy concerns around authorities for relative URL references than for an absolute URLs like `javascript://foo.com/%0aalert(1)` and `file://localhost/

[2018-04-12 19:35] mafintosh commented on #19978
@ryzokuken it's mainly just missing `.on('error')` handlers. for a first pass i don't think they need to do much besides `.on('error', () => {})` simply to avoid the process crashing when there is a stream error

[2018-04-12 19:43] jdalton commented on #19405
The regression bit is from [this change](https://github.com/nodejs/node/commit/b994b8eff6018433a56bb10dbc473cefa0dd9370). Other methods, like`util.format` that defer to `util.inspect` should probably able to forward options, like `depth`, to `inspect` without juggling the `inspect.defaultOptions` object.

[2018-04-12 19:49] ryzokuken commented on #19978
That sounds great. Do you think I should add a `TODO` in the empty function bodies so that it becomes evident that relevant code needs to go there later?

[2018-04-12 19:54] BridgeAR commented on #19405
@jdalton that it is that commit is clear. And I agree that util.format is lacking options. I am still wrapping my head around improving util.inspect options in general.

The point is just that it is weird that changing the default depth breaks any code. That seems to indicate an issue in the callee as far as I can tell. One thing that breaks is in case huge deep nested objects were passed in that

[2018-04-12 20:01] jdalton commented on #19405
Makes sense to me. It went from a default depth of smth like `2` to `Infinity`, which will surely cause slow downs or hangs on larger data sets.

[2018-04-12 20:01] vsemozhetbyt commented on #19405
@BridgeAR Unfortunately, I have the same issue with depth 25.

[2018-04-12 20:10] BridgeAR commented on #19405
@vsemozhetbyt it will probably already cause issues one or two layers down from 2.

[2018-04-12 20:43] vsemozhetbyt commented on #19405
10 is OK)

[2018-04-12 20:44] joyeecheung commented on #19903
We could work around that by writing a custom script and use it in `/proc/sys/kernel/core_pattern`, although that could be pretty involved. When https://github.com/nodejs/node/pull/19661 lands we might also turn on node-report in tests like this to get the JS stack and native stack, among other useful information.

[2018-04-12 20:44] ulan commented on #19937
@addaleax, thanks! I implemented the swap approach.

[2018-04-12 20:53] jasnell commented on #19405
@vsemozhetbyt @BridgeAR .... this may be a silly question but regardless of the `depth`, do we know what about this particular data structure is causing the loop? Perhaps one approach here is to identify that and work around it rather than attempting to switch up the depth... The reason is straightforward... while this particular data structure from npm might work with a depth of 10, another that

[2018-04-12 21:04] vsemozhetbyt commented on #19405
@jasnell I was trying to debug:

https://github.com/nodejs/node/issues/19405#issuecomment-373966063

but I was stuck and get confused at some deep iteration. Maybe somebody more competent in `npm` can go deeper with clearer understanding what is going on.

[2018-04-12 21:06] apapirovski commented on #19897
Probably a good idea to document if this did change.

/cc @nodejs/fs

[2018-04-12 21:09] BridgeAR commented on #19405
@jasnell that is absolutely correct. The same problem can happen with a depth of 2. I definitely want to look at the object but I did not get to it yet.

[2018-04-12 21:12] jasnell commented on #19405
@vsemozhetbyt ... presumably the object being formatted includes a circular reference that's not currently being watched for. That's a good place to start digging.

[2018-04-12 21:20] bnoordhuis commented on #10154
Okay, I'll close this out then.

[2018-04-12 21:57] jasnell commented on #19405
Ok, did some further digging. I decided to set the `util.inspect.defaultOptions.depth = 8` and see what happens. I modified npm's update.js to spit the serialized string out to the console. I then redirected that into a file that ended up being 6.6 M with over 81k lines. The javascript object includes the full details of every dependency down to the full content of the README.md files for each. So

[2018-04-12 22:10] addaleax commented on #19354
@psmarshall Yup, looks like that’s ABI compatible to V8 master – thanks! I think you can go ahead and open a PR with it?

[2018-04-12 22:34] BridgeAR commented on #19977
I had a look at the performance and about 90% of the time is spend calling `Object.keys`. Due to the limit change, it will not only call Object.keys 1500 * 1500 times but 1500 * 1500 * n (I did not check exactly what is happening and just had a glance at it). One problem is that to print "circular", we have to first get the keys. I would love to move it up, but that would break the output of e.g.,

[2018-04-12 23:34] deian opened #19991 "potential null pointer deref?"
We noticed these two sites as potential null pointer deferences.

https://github.com/nodejs/node/blob/ebbf3936001969905ce28dc588b2c71c3b65c146/src/node_trace_events.cc#L51-L53

https://github.com/nodejs/node/blob/ebbf3936001969905ce28dc588b2c71c3b65c146/src/node_trace_events.cc#L130-L132

It seems like  `category_group_enabled` can be null based on the defensive check:

https://github.com/nodejs/n

[2018-04-12 23:51] VRamazing commented on #7464
@nagendrayadav88
https://nodejs.org/api/crypto.html#crypto_crypto_pbkdf2sync_password_salt_iterations_keylen_digest'

[2018-04-12 23:59] jasnell commented on #19991
/cc @AndreasMadsen @addaleax

[2018-04-13 00:38] vsemozhetbyt opened #19993 "build: /latest/ download folder for nightly and v8-canary branches"
We have the general https://nodejs.org/download/release/latest/ for releases and also `/latest-[version-number | LTS name]/` folders in https://nodejs.org/download/release/.

But we have not `/latest/` folders in:

https://nodejs.org/download/nightly/
https://nodejs.org/download/v8-canary/

It would be handy to have them for a quick access to the latest builds and to the latest HTML doc versions.

[2018-04-13 04:24] gireeshpunathil commented on #19903
@addaleax - I was playing around with your C-reproduce, but it always succeeded - is there any precondition for it to fail? my system's glibc is 2.11, and have ample # of CPUs.

[2018-04-13 04:25] richardlau commented on #19993
See https://github.com/nodejs/build/issues/908.

[2018-04-13 05:55] flyher commented on #14770
@vsemozhetbyt
Thank you for the answer!

[2018-04-13 06:19] k06a opened #19997 "Node 9.10.0+ strange dependency issue"
* **Version**: v9.11.1
* **Platform**: Darwin MBP 17.5.0 Darwin Kernel Version 17.5.0: Mon Mar  5 22:24:32 PST 2018; root:xnu-4570.51.1~1/RELEASE_X86_64 x86_64
* **Subsystem**: Apple macOS 10.13.4

It seems Node installation from Homebrew has a strange dependency issue with common stack trace:
[code]

Here are related issues:
- https://stackoverflow.com/questions/49684857/after-npm-install-getting

[2018-04-13 06:42] addaleax commented on #19903
@gireeshpunathil The glibc implementation is hardware-dependent, so I guess that might be an issue? Also, weirdly enough, this problem only seemed to reproduce when the machine was not under load…

[2018-04-13 06:43] ChALkeR commented on #19997
That dependecy is not a part of `Node.js` or `npm` distribution.

[2018-04-13 06:46] addaleax commented on #19991
Yeah, the value passed to `GetCategoryGroupEnabled()` is never a null pointer because it’s the return value of `GetCategoryGroup()`. I don’t think there’s anything we need to do here?

[2018-04-13 06:55] gireeshpunathil commented on #19903
@addaleax - thanks - that is a great clue. Less load means 2 threads stand great chance to run in 2 real CPUs in true parallel manner, increasing the chance of cluttered access. On the other hand if 2 sem_* threads share CPU, the scheduler will be more `pragmatic` and take the CPU at some meaningful `edges` such as system call boundary etc. which shields the problem.

[2018-04-13 07:01] k06a commented on #19997
@ChALkeR sure, but all this issues happened in last week and have similar callstack. It seems the main reason is Homebrew Node installation.

[2018-04-13 07:07] apapirovski commented on #19997
@k06a is there any indication this is a bug with Node though? One of those issues points at this gist https://gist.github.com/DanHerbert/9520689 and homebrew is kind of its own thing, if there are bugs then their repo seems like the place?

[2018-04-13 07:11] k06a commented on #19997
@apapirovski this gist is from 2014, it is not actual anymore. Can't find Node Homebrew formula repo.

[2018-04-13 07:13] apapirovski commented on #19997
@k06a there's a comment there re: v9.11.1 so it seems plenty current.

Either way, this doesn't seem to be a Node.js issue but either [homebrew](https://github.com/Homebrew/homebrew-core/issues) or [npm](https://github.com/npm/npm) which both have their own issue trackers.

[2018-04-13 07:20] AyushG3112 opened #19998 "Node REPL does not honor `uncaughtException` listeners"
* **Version**: master
* **Platform**: Linux blocky 4.13.0-38-generic #43~16.04.1-Ubuntu SMP Wed Mar 14 17:48:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**REPL commands**

[code]

**OUTPUT :**
[code]

Running `process.hasUncaughtExceptionCaptureCallback()` in the REPL console outputs `true`, so it is understandable why the listener isn't called.

However

[code]
throws the Error:

[code]
I could n

[2018-04-13 07:24] addaleax commented on #19998
This is happening because the `repl` uses the `domain` module to do its own error handling, so I don’t really think it’s a bug.

We could maybe be a bit more forward and explicitly disable `process.on('uncaughtException')` in the REPL?

[2018-04-13 07:26] AyushG3112 commented on #19998
@addaleax That's what I thought to, but instead of disabling `process.on('uncaughtException')`, can't we remove the error handling from `domain` module if any `uncaughtException` listeners exist, with a message to the user?

In either case, we do need to document this.

[2018-04-13 08:02] psmarshall commented on #19354
Okey doke - here we go https://github.com/nodejs/node/pull/19999

[2018-04-13 08:11] gireeshpunathil opened #20000 "Flexible stdios for IPC"
* **Version**: master
* **Platform**: all
* **Subsystem**: child_process

A noted problem pattern is broken data flow when i) spawning OS commands that predate Node.js and that do not expect their stdios to be non-blocking. ii) Composite IPC that involves more than one Node process in the process chain.

The underlying issue is the mixed mode I/O in a number of variations based on number of parent

[2018-04-13 08:28] santigimeno commented on #19218
I think that's not working because you are making blocking the parent side of the pipe. For this to work the child process would need to make stdout/stderr blocking on its side (That's the reason why applying https://github.com/nodejs/node/issues/784#issuecomment-73744882 to node would fix this issue)

[2018-04-13 08:28] apapirovski commented on #19997
I'm going to close this out since there's no indication we can do anything about it.

[2018-04-13 08:28] #19997 closed

[2018-04-13 08:35] AndreasMadsen commented on #19991
We could add a check that `category_group` isn't `nullptr` in `GetCategoryGroupEnabled`.

[2018-04-13 08:41] mithunsasidharan commented on #19523
@apapirovski @beck : Passing the protocol along is probably the safe thing to do. Given its the legacy stuff, I agree that probably it can be left as is.

[2018-04-13 09:01] bnoordhuis commented on #16553
Not a bug, in all likelihood.  I expect the shell doesn't pass on the extra file descriptor (but does pass on the `NODE_CHANNEL_FD` environment variable), resulting in the behavior you see.

[2018-04-13 09:25] bnoordhuis commented on #20000
No.  If fds in child processes are non-blocking, then that's simply a bug.

[2018-04-13 09:28] mindplay-dk commented on #11656
I've got this problem too - see related issue [here](https://github.com/conradz/tap-webpack-plugin/issues/8).

Tracking the issue through issues related to [this WSL issue](https://github.com/Microsoft/WSL/issues/1774) it looks like at least five projects ran into this problem and closed their issues with no resolution.

It would be really great to know if this is a regression, whether it's node o

[2018-04-13 09:33] bnoordhuis commented on #11656
WSL is essentially a Linux emulator.  If it works on Linux but not in WSL, then by definition it's a WSL bug.

[2018-04-13 09:58] apapirovski commented on #8074
@addaleax do you think this issue is still relevant? Seems like it was likely resolved?

[2018-04-13 10:03] apapirovski commented on #10163
Doesn't seem like there's much else that can be done here. The Meteor issue appears like it was resolved and 7.x from the original issue is no longer supported. If any new information is available, feel free to open a new issue with more info.

[2018-04-13 10:03] #10163 closed

[2018-04-13 10:05] apapirovski commented on #13523
@TimothyGu @jasnell Should this stay open? I read through the thread but unclear on whether anything actionable came out or was taken to the spec side?

[2018-04-13 10:09] apapirovski commented on #13670
@addaleax Do you think we can do anything here? Document it for now perhaps?

[2018-04-13 10:27] bnoordhuis commented on #13670
It's documented in the synopsis of the net module:
[code]
Looks like there's nothing else to do so I'll close this out.

[2018-04-13 10:27] #13670 closed

[2018-04-13 10:29] k06a commented on #19997
@apapirovski what is `cjs`? I can't found it as sub-dependency and it uninstalling helps.

[2018-04-13 10:30] k06a commented on #19997
@apapirovski I installed `node` with `nvm` and still have the same problem

[2018-04-13 10:38] apapirovski commented on #19110
This got taken care of in https://github.com/nodejs/node/pull/19631

[2018-04-13 10:38] #19110 closed

[2018-04-13 10:42] apapirovski commented on #11467
Fixed by https://github.com/nodejs/node/pull/17203

[2018-04-13 10:42] #11467 closed

[2018-04-13 10:46] apapirovski commented on #11545
Works as expected 6.14.0 so I guess this did get fixed at some point.

[2018-04-13 10:46] #11545 closed

[2018-04-13 10:50] apapirovski commented on #14448
I don't think there's anything confusing here and no one has really volunteered to make this change in over 6 months. Closing but feel free to re-open if you're submitting a PR to change it.

[2018-04-13 10:50] #14448 closed

[2018-04-13 10:55] apapirovski commented on #8404
It seems like https://github.com/nodejs/node/issues/14336 is a good tracking issue for this. There's now a doc note about this but also any other changes are likely to come out of a single issue. I'm going to go ahead and close this but feel free to follow the other issue for any updates. Thanks!

[2018-04-13 10:55] #8404 closed

[2018-04-13 11:01] apapirovski commented on #11539
Seems like @rvagg proposed a good solution here. There hasn't been much action here and the issue seems a little stale. Perhaps can be re-opened in nodejs/build if it's still desired or another issue can be created here to get more attention (with an explanation of why the solution above is not good enough)?

[2018-04-13 11:01] #11539 closed

[2018-04-13 11:05] apapirovski commented on #11173
This is better suited to `nodejs/build` and it's making some progress there, seemingly.

[2018-04-13 11:05] #11173 closed

[2018-04-13 11:07] apapirovski commented on #8221
Sounds like this has been resolved by moving to a higher V8 version. Feel free to re-open if I'm incorrect.

[2018-04-13 11:07] #8221 closed

[2018-04-13 11:08] apapirovski commented on #14530
Realistically this doesn't seem doable and @mcollina expressed being against it so I'll go with their opinion. Closing as non-actionable.

[2018-04-13 11:08] #14530 closed

[2018-04-13 11:15] apapirovski commented on #11915
This has been addressed by https://github.com/nodejs/node/pull/16020

[2018-04-13 11:15] #11915 closed

[2018-04-13 11:29] apapirovski commented on #8667
Given the lack of a follow-up or a clear reproduction I'm going to close this but feel free to reopen if more information is available or anything has changed.

[2018-04-13 11:29] #8667 closed

[2018-04-13 11:35] apapirovski commented on #8723
@refack do you want to keep this open? There has been no movement in a while, no new info and it's a pretty extreme edge case.

[2018-04-13 11:38] apapirovski commented on #3093
Does anyone feel about this strongly one way or another? The more time passes, the less likely we'll be able to change it without causing breakage so it would be good to make a decision one way or another.

[2018-04-13 11:40] apapirovski commented on #15456
There has been no movement and we're unlikely to get rid of it as things stand. I'm going to close this for now but maybe we'll revisit at some point in the future if http gets a bit more attention.

[2018-04-13 11:40] #15456 closed

[2018-04-13 11:42] apapirovski commented on #15223
@TimothyGu any chance you can provide a status update on this? Doesn't look like your patch landed in V8 yet?

[2018-04-13 11:46] apapirovski commented on #15400
@nodejs/async_hooks @AndreasMadsen should we consider opening a separate issue re: `executionAsyncId`? Or just close and move on? It doesn't seem like anything else is actionable here.

[2018-04-13 11:49] apapirovski commented on #9036
We do have a function now which was added in https://github.com/nodejs/node/pull/16497 but it's currently not being used in lib (but at least it has tests). Perhaps a good follow-up would be to figure out how to make the rest of the code use it and extend it as necessary to make that happen?

[2018-04-13 11:50] bnoordhuis commented on #3093
I might have been wrong about this part:

A header like `X-Foo : bar` shows up as `'x-foo '` in `req.headers`.  That should be fixed.

[2018-04-13 11:55] apapirovski commented on #9768
Yep, we can close now.

[2018-04-13 11:55] #9768 closed

[2018-04-13 12:01] apapirovski commented on #13488
Sounds like there is nothing we can do here but a PR would be welcome if anyone manages to make it work.

[2018-04-13 12:01] #13488 closed

[2018-04-13 12:05] apapirovski commented on #15262
I don't think there's a bug here or anything actionable. The `finish` even is defined as:

Since that's the case, this behaviour makes complete sense. There is no data to flush in the first example so we get `finish` immediately. In the latter example, the data can't flush before it tries to open so it sits there waiting for the open and that then results in an `error` event.

https://nodejs.org/d

[2018-04-13 12:05] #15262 closed

[2018-04-13 12:13] apapirovski commented on #15555
Sorry that nobody replied to this earlier. See the error handling section in the Async Hooks documentation: https://nodejs.org/dist/latest-v9.x/docs/api/async_hooks.html#async_hooks_error_handling

Unfortunately there is nothing to be done here.

[2018-04-13 12:13] #15555 closed

[2018-04-13 12:16] apapirovski commented on #10358
@fjakobs are you still having this issue on newer Node.js / Docker versions? Unfortunately it doesn't seem like anyone has been able to address this on Node.js end in the last year and a half so barring new information or confirmation that this is still an issue, we might have to close this.

[2018-04-13 12:16] apapirovski commented on #10965
@addaleax @TimothyGu Could you give a quick status update on this? I'm not familiar enough with V8 to know where this is at. Thank you!

[2018-04-13 12:26] apapirovski commented on #16156
Doesn't look like there is anything actionable here so I'm going to close it out. That said feel free to re-open if you feel I'm wrong.

[2018-04-13 12:26] #16156 closed

[2018-04-13 12:31] apapirovski commented on #16148
@joachimvh I realize this is super late but I'm pretty sure this is because it responds with `transfer-encoding: chunked`, right? I don't think those connections are reusable.

[2018-04-13 12:31] #16148 closed

[2018-04-13 12:33] mafintosh commented on #15262
Yep there are basically no guarantee about any events after an error has been emitted

[2018-04-13 12:36] apapirovski commented on #16300
If someone wants to, this could be updated based on the latest feedback from @joyeecheung or instead have a little paragraph that outlines the possible combinations or something. Either way, it's probably a good idea to update with something that's more accurate.

[2018-04-13 12:37] apapirovski commented on #8108
@bnoordhuis Any thoughts re: my comment on the spec above? Would like to move forward if possible. Thank you.

[2018-04-13 12:38] apapirovski commented on #16209
Looks like this has been addressed and there is now a link from the collaborator guide to governance.

[2018-04-13 12:38] #16209 closed

[2018-04-13 12:44] apapirovski commented on #16231
@nodejs/documentation Anything that can be done here to improve the documentation?

[2018-04-13 12:46] apapirovski commented on #15625
Looks like this was resolved in https://github.com/nodejs/node/pull/16312 — no clue why it didn't autoclose.

[2018-04-13 12:46] #15625 closed

[2018-04-13 12:48] adamkecskes opened #20008 "setTimeout callbacks for same delay executed synchronously?"
* **Version**: v8.9.3
* **Platform**: OSX

I have the following code to demonstrate the issue:

[code]

The output I expect is the following:

[code]

Because the event loop checks the `timeouts` queue, it founds the first `setTimeout` callback, runs it, and check the `nextTick` queue after. And for the further `setTimeout` callbacks it should do the same.

But I get the following output:

[code]

[2018-04-13 12:51] apapirovski commented on #20008
All timeouts in the same list (which are based on the timeout durations) will process first. This is mostly a performance optimization as the alternative would make timeouts unbearably slow and also potentially stall the event loop in the timers phase.

[2018-04-13 12:57] apapirovski commented on #16406
@MylesBorins I believe you've resolved this, correct?

[2018-04-13 12:59] apapirovski commented on #16728
Seems resolved, I suppose. Feel free to re-open if more info is available.

[2018-04-13 12:59] #16728 closed

[2018-04-13 13:02] apapirovski commented on #16982
It doesn't seem like there's anything actionable here. If docs need improving perhaps an issue could be opened that mentions what should change so that first time contributors can help out. As is, this hasn't been looked at in 6 months.

[2018-04-13 13:02] #16982 closed

[2018-04-13 13:24] bzoz commented on #14900
Fixed in libuv 1.19.0 (https://github.com/libuv/libuv/commit/2b32e77bb6f41e2786168ec0f32d1f0fcc78071b)

[2018-04-13 13:24] #14900 closed

[2018-04-13 13:26] bzoz commented on #15095
Fixed in https://github.com/nodejs/node/pull/15600

[2018-04-13 13:26] #15095 closed

[2018-04-13 13:32] apapirovski commented on #16258
I'm not seeing much movement but more importantly, the request basically seems to be for an alias of `process.connected` which is definitely documented: https://nodejs.org/dist/latest-v9.x/docs/api/process.html#process_process_connected

Unless someone has a proposal on how to proceed in the next few days, I'm going to close this out.

[2018-04-13 13:37] apapirovski commented on #16491
@seishun @bzoz can we close this out? Can anything else be done?

[2018-04-13 13:44] apapirovski commented on #17387
@maclover7 @refack @gibfahn any news on this? Does it work as expected now or is there still a race condition?

[2018-04-13 13:50] apapirovski commented on #9282
Fixed in https://github.com/nodejs/node/pull/18033

[2018-04-13 13:50] #9282 closed

[2018-04-13 13:53] arei commented on #16258
I would be disappointed if this was closed. This absolutely boils down to a more succinct, documented approach to finding out if there is a parent node process or not. Yes, there is a way to do this already, but it is not clearly expressed. This feature request aims to solve that. And shouldn’t we be striving to make node more clearly express its intents?

[2018-04-13 13:59] apapirovski commented on #16258
There's no point to keeping issues open that are stale unless there's a clear path forward or there's great demand (with no dissent). Right now there neither of those is true. Issues were brought up, e.g.

and have not been addressed. As it is, we can't even put a label on this such as "help wanted" or "good first issue" because there's no path forward.

As @refack mentioned, if someone wants to o

[2018-04-13 14:01] apapirovski commented on #15589
@BridgeAR this has become a bit stale. Do you want to perhaps update it to be a bit more current or should we close?

[2018-04-13 14:02] apapirovski commented on #17905
Since this hasn't been revisited or addressed in a while, I'm going to go ahead and close. Sorry we couldn't help more.

[2018-04-13 14:02] #17905 closed

[2018-04-13 14:09] advanceddeveloper opened #20010 "Duplicated stack trace"
* **Version**: 9.11.1
* **Platform**: windo 10
* **Subsystem**: stack trace?

Hello. Im working on a project and experiencing weird bug. Our stack trace is duplicated, I mean it displays two times functions that I called only once. My project is very big, so we did our best to reduce it as much as we could. Here is minimal repro

[code]

It reproduces 100% of times. we tried to remove some parts o

[2018-04-13 14:14] AyushG3112 commented on #20010
Can you post what stack trace you get?

[2018-04-13 14:33] apapirovski commented on #18288
There doesn't seem to be anything actionable here as such I'm going to close this.

[2018-04-13 14:33] #18288 closed

[2018-04-13 14:34] apapirovski commented on #18321
We already have an overarching issue tracking Node.js uninstallation so I will close this for now. If anyone thinks it should stay open, we can revisit.

[2018-04-13 14:34] #18321 closed

[2018-04-13 14:39] apapirovski commented on #18254
I think this one got resolved at some point? At least that's my recollection.

[2018-04-13 14:41] apapirovski commented on #9206
I'll close this out given the lack of activity in terms of making it actually happen and the latest feedback from @bnoordhuis and @JackDanger. If anyone still wants this though feel free to reopen or create an issue/PR.

[2018-04-13 14:41] #9206 closed

[2018-04-13 14:43] apapirovski commented on #18115
Think this was fixed by https://github.com/nodejs/node/pull/18395 but didn't get auto-closed. @BridgeAR @bnoordhuis please reopen if that's incorrect or some part was missed there.

[2018-04-13 14:43] #18115 closed

[2018-04-13 14:46] apapirovski commented on #18510
Since V8 got updated in v8.x recently, we're all good here now. Closing.

[2018-04-13 14:46] #18510 closed

[2018-04-13 14:48] hashseed commented on #17058
This seems to be blocked by current bootstrapping code being incompatible with snapshotting. I think we have a chicken-egg problem here. Without clean bootstrapping code, we don't get snapshotting. Without snapshotting, there is little incentive to clean up bootstrapping. Though I think there has been some progress with refactorings.

How about we approach this incrementally. I think snapshotting

[2018-04-13 14:48] apapirovski commented on #16937
@srl295 was this fixed when #17687 landed?

[2018-04-13 15:03] apapirovski commented on #18862
This was resolved.

[2018-04-13 15:03] #18862 closed

[2018-04-13 15:03] seishun commented on #16491
I still believe that it shouldn't be possible to cause Node.js to crash so easily, and it's possible to prevent it (see my proposal in https://github.com/nodejs/node/issues/16491#issuecomment-340026902). But if the general opinion is that this is expected behavior, then I'm not going to oppose it.

[2018-04-13 15:05] apapirovski commented on #16491
@seishun thanks. I'll mark as `help wanted` for now since this gives us a bit of a lead for anyone that wants to take it up and see if anything comes of it in the near future.

[2018-04-13 15:25] devsnek commented on #17058
@hashseed can you come up with a sort of action item list that contributors can use to figure out what changes need to be made? I assume it's along the lines of separating loading all our code from stuff like checking cli arguments and such?

[2018-04-13 15:28] refack commented on #17387
`node-test-commit` does report it's status now so this can be closed
![image](https://user-images.githubusercontent.com/96947/38743734-d7bfd002-3f0d-11e8-93c2-9acf7570281e.png)

[2018-04-13 15:28] #17387 closed

[2018-04-13 15:33] Jackpot1135 opened #20012 "Redacted"
Redacted

[2018-04-13 15:37] refack commented on #20012
Just spam

[2018-04-13 15:40] ChALkeR commented on #20012
https://github.com/nodejs/help/issues/1210

![screenshot_20180413_184032](https://user-images.githubusercontent.com/291301/38744317-265178a6-3f4a-11e8-8bc3-791d7fc6a502.png)

[2018-04-13 15:41] #20012 closed

[2018-04-13 15:53] hashseed commented on #17058
I guess a list would look something like this:
- [ ] Collect `v8::FunctionCallback`, external string resources, etc. into a null-terminated `intptr_t*` array that can be passed to `v8::SnapshotCreator`. This would look like [this](https://github.com/alibaba/AliOS-nodejs/blob/snapshot/src/async_wrap.cc#L825) from @liqyan's prototype.
- [ ] Implement persisting and restoring eternal handles from the

[2018-04-13 16:15] srl295 commented on #16937
@apapirovski no, this a minor improvement is to add some more exclusions. It was unblocked by the above. Should now be 61 due to https://github.com/nodejs/node/pull/19621

[2018-04-13 16:54] eugeneo commented on #19733
Disconnecting/reconnecting the debugger should release that memory.

[2018-04-13 17:52] AyushG3112 commented on #19998
I'll upon a PR this Monday to document this behaviour, unless someone beats me to it or we decide to change something.

[2018-04-13 17:55] codeblooded commented on #19021
Would you all be opposed to prompting for clarification? The repl makes you type `CMD-C` twice to exit.

You could do something like:

[code]

It could default to YES, so, if they simply press return, they’ll exit. If they say NO, it will proceed to run as if exit is a reference.

Benefits:

1. No addition of restricted words (quit or exit may be a function that the user defined)
2. No conditional

[2018-04-13 17:55] scoobster17 commented on #3462
I understand this is a discussion point for adding this `btoa` functionality to `node`, but **in the interest of universal JavaScript applications** which has been mentioned, I have been researching this for a universal / isomorphic react app I have been building, and the package [`abab`](https://github.com/jsdom/abab) worked for me. In fact it was the only solution I could find that worked, rathe

[2018-04-13 17:58] bnoordhuis commented on #11656
Take a look at `uv_guess_handle()` in `deps/uv/src/unix/tty.c`, it tries to detect what kind of object the file descriptor is (tty, socket, pipe, etc.)

[2018-04-13 18:00] bnoordhuis commented on #11656
Wait, I'll link you to it:
https://github.com/nodejs/node/blob/039cdebe81e232cae23acdfd8392a8149b718460/deps/uv/src/unix/tty.c#L292-L348

[2018-04-13 18:29] #13825 closed

[2018-04-13 18:43] bnoordhuis commented on #8108
You're probably right.  In section 3.1, it says this:
[code]
I.e., `IP Address:` SANs, not `URI:`.

We may have a small bug in the way we validate IP addresses.  From section 3.1.3.2:
[code]
But we canonicalize IPv6 addresses first so e.g. `IP Address: ::1` is accepted when it should be rejected.

[2018-04-13 18:44] Trott opened #20013 "Investigate flaky parallel/test-http-server-keep-alive-timeout"
* **Version**: v10.0.0-pre (master)
* **Platform**: freebsd10-64
* **Subsystem**: test http

https://ci.nodejs.org/job/node-test-commit-freebsd/16985/nodes=freebsd10-64/console

[code]

[2018-04-13 18:45] Trott commented on #20013
Stress test to see if it is reproducible:

https://ci.nodejs.org/job/node-stress-single-test/1816/

[2018-04-13 18:49] jasnell opened #20014 "http2: respondWithFile/respondWithFD events and stream API interaction"
/cc @mcollina @addaleax @mafintosh @nodejs/http2

Currently in `ServerHttp2Stream`, when `respondWithFile()` or `respondWithFD()` are called, the `Writable` side of the `Duplex` is closed, causing the `finish` event to be emitted even tho data is still actually flowing (albeit at the C++ layer). Other than the `close` event, there is currently no way for user code to know when the `Http2Stream` is

[2018-04-13 18:51] Trott opened #20015 "Investigate flaky parallel/test-http2-multi-content-length"
* **Version**: 10.0.0-pre (master)
* **Platform**: freebsd10-64
* **Subsystem**: test http2

https://ci.nodejs.org/job/node-test-commit-freebsd/nodes=freebsd10-64/16997/console

[code]

[2018-04-13 18:53] #6799 closed

[2018-04-13 18:55] Trott commented on #20015
Unable to reproduce on my macOS laptop. Trying CI:

https://ci.nodejs.org/job/node-stress-single-test/1817/ (will 404 until a node becomes available, but honest, that will be the URL)

[2018-04-13 19:02] bnoordhuis commented on #19676
There's no concept of "project" in Node.js core, it only deals with individual files.

No chance, sorry.  The algorithm behind `require()` is for all practical purposes fixed.  Any change would likely break something or introduce new edge cases.

Perhaps try opening an issue in nodejs/help, maybe people can help you brainstorm a solution.  I'll close this again.

[2018-04-13 19:02] #19676 closed

[2018-04-13 19:05] bnoordhuis commented on #20008
Answered, closing.

[2018-04-13 19:13] bnoordhuis commented on #10965
Still experimental.  There's also the issue that JSON is the documented serialization protocol so there might be applications or libraries out there relying on quirks of `JSON.parse()` and `JSON.stringify()`.

[2018-04-13 19:16] addaleax commented on #19919
Fwiw, `make test` *does* run the parallel JS test suite using the number of cores registered of the machine, regardless of `make` flags.

I remember believing otherwise first, until @trott told me that that’s what really happens – I would be okay with changing that, but for now, `make test` in the `BUILDING.md` seems okay.

[2018-04-13 19:27] arei commented on #16258
Here's my proposed solution...

Any time a child_process is spawned, it adds an environment variables called `NODE_TOP_LEVEL_PROCESS_PID`. This will have the value of the top level node `process.pid`.

Add a function called `isTopLevelNodeProcess()` which will return `true` if `NODE_TOP_LEVEL_PROCESS_PID` is not found or null or matches the `current process.pid` value.  Otherwise it will return `f

[2018-04-13 19:34] bnoordhuis commented on #8723
I'll close this.  The UNKNOWN error is with 99.9% certainty not our bug and the crash was in an eol'd version of node.  If someone has information to the contrary, please leave a comment.

[2018-04-13 19:34] #8723 closed

[2018-04-13 19:44] bnoordhuis commented on #19974
@evanlucas Can you comment?

FWIW, the date cache reset logic in V8 doesn't really seem to have changed in the last two years or so.

[2018-04-13 20:02] addaleax commented on #20014
Just for context, I am still going to work on giving `.pipe()` a fast path for C++ streams, which I would like to eventually use to make `h2stream.respondWithFile()` equivalent to `fs.createReadStream().pipe(h2stream)`.
(Some WIP is @ addaleax/node@98f757246028cdb280cfb861bf2c3e6227cd1ffc, but right now it only supports network sockets & http2 streams so it’s not all too useful.)

Since that would

[2018-04-13 20:09] addaleax commented on #13670
If libuv 2 won’t be happening in time for Node 11, we could decide to throw an error in Node.js instead, I guess.

[2018-04-13 20:10] addaleax commented on #8074
Yes, I’d assume that it’s resolved now. If somebody runs into this on a recent version of Node.js, we can always open a new issue for that

[2018-04-13 20:10] #8074 closed

[2018-04-13 20:11] apapirovski commented on #10358
Good enough for me. Closing.

[2018-04-13 20:11] #10358 closed

[2018-04-13 20:13] Trott commented on #20013
Stress test failed:

[code]

[2018-04-13 20:28] ryzokuken opened #20018 "State explicitly in docs that 'close' does not take any arguments"
In the `http2` module, the `Http2Session` class emits an event named `close`, which is documented at https://github.com/nodejs/node/blob/master/doc/api/http2.md#event-close.

As evident from the following function from `lib/internal/http2/core.js`, the event does not expect any arguments:

[code]

However, the current docs do a poor job of communicating this, therefore creating confusion.

Thus, t

[2018-04-13 20:29] ryzokuken commented on #20018
cc @mcollina @nodejs/http2 does this look good? Feel free to suggest any structural changes, and I'd base the remaining issues on the finalized structure.

[2018-04-13 20:29] Trott commented on #19919
Oh, right, I think `test.py` spawns the right number of processes. I forgot about that myself.

[2018-04-13 20:31] jasnell commented on #20018
This is fine. Want to open a PR?

[2018-04-13 20:36] vsemozhetbyt commented on #19814
Fixed in a43e8896f2c252ef30b4da08402badbe3a17124f. Thank you all!

[2018-04-13 20:36] #19814 closed

[2018-04-13 20:39] ryzokuken commented on #20018
@jasnell at https://github.com/nodejs/help/issues/877#issuecomment-380711931, @mcollina had suggested opening a few "good first issues", and that was why I was interested in the structure of the issue (so that first time contributors find it convenient). That said, I'm willing to open a PR if that's what you're propose, but that wasn't the intent when I opened the issue.

[2018-04-13 20:40] rogierschouten commented on #18115
@apapirovski  I think you're right, this commit contains tests for the proper error behaviour: https://github.com/nodejs/node/pull/18395/commits/63eb1fc11cb46575d58a44234c9b0d3b9e5025f8

[2018-04-13 20:42] addaleax commented on #19060
@sachin2605 @SirR4T Yes, there are more items to be worked on here. The easier bits have been taken, though :)

For example, the `onread` function in `net.js` and `onStreamRead` in `internal/http2/core.js` could be merged – it’s not trivial, but if you’re into doing JS refactoring, it might be a good fit for you.

[2018-04-13 21:04] bnoordhuis commented on #20010
Answered, closing.

[2018-04-13 21:04] #20010 closed

[2018-04-13 21:05] evanlucas commented on #19974
yea this is strange. On debian jessie for me, it seems like the TZ environment variable is only read on boot or first access (not sure which one) and never read again, even after calling the following:

[code]

[2018-04-13 21:18] ryzokuken commented on #445
@mcollina could you post an updated list of people could join forces? Would love to take some of this off your plate.

[2018-04-13 21:32] apapirovski commented on #19919
Yes but wouldn't the build be the bigger problem here? It's painfully slow with `make test` last I checked.

[2018-04-13 21:36] chrismilleruk commented on #19919
It's definitely slow. Presumably any build prerequisites would run in single job mode with `make test`.

[2018-04-13 21:49] Trott commented on #19919
Maybe it should be this?

[code]

I'm kidding. Maybe.

[2018-04-13 22:47] bamanuel opened #20019 "Error: connect EPERM when connecting to https server with self signed certificate"
* **Version**: v8.10.0
* **Platform**: Windows 10 x64 (behind proxy)
* **Subsystem**:

When connecting to https url with self signed certificate, the following error is thrown:

The issue isn't system independent and happens starting with nodev8.6.0.  The code below works fine on nodev8.5.0 or lower on same machine
[code]

When using `request` library to make the https call, it throws a slightly d

[2018-04-13 23:04] rohan-deshpande commented on #5436
Have also noticed this happening at random times in a CLI app which makes multiple calls to different APIs, will try out the DNS cache and see if that fixes it.

[2018-04-13 23:40] vsemozhetbyt opened #20020 "build: .msi installer starts too long on Windows when Node.js was already installed"
This was a light issue for some years, but I've decided to report it, at last, to make sure this is wontfix.

At the start, .msi installer always waits ~ 30 seconds with a note "Computing space requirements" and rather high CPU load. This is a tangible lag and I do not recall others installers require so much time for it. Is it OK?

![node-install](https://user-images.githubusercontent.com/1039319

[2018-04-13 23:54] deian commented on #19991
Either way! I wasn't going to create this issue, but the defensive check on line 20 that checks for nullptr made it seem like something worth double checking. Thanks for your responses!

[2018-04-14 05:46] apapirovski commented on #20019
I think this might be a duplicate of https://github.com/nodejs/node/issues/16196?

[2018-04-14 06:57] nefcanto opened #20024 "npm install fails on Windows, because of Python"
Hi

This is my environment:

[Windows 10 version 1709 Version 1709 (Fall Creators Update)](https://en.wikipedia.org/wiki/Windows_10_version_history)
x64 OS and Software
Node.js v.8.9.4
npm 5.6.0

I cloned [Foundation template](https://github.com/zurb/foundation-sites-template), and ran `npm install`. An error occurred:

`gyp ERR! configure error
gyp ERR! stack Error: Can't find Python executable "

[2018-04-14 07:13] apapirovski commented on #19970
Ok, so it was that PR and the first commit in it that fixed it. I don't think we can backport that fix but I've got a separate one that I'll open a PR for. We should be able to get that into v6.x, v8.x & v9.x, I think.

[2018-04-14 07:27] TimothyGu commented on #15223
@apapirovski it was reviewed and ready to get in but seems like the V8 team forgot about it :/

[2018-04-14 07:28] apapirovski commented on #19970
Fix in https://github.com/nodejs/node/pull/20025

[2018-04-14 08:28] apapirovski commented on #18646
There doesn't seem to be much movement or interest in this feature so I'll close this out but feel free to re-open if you feel strongly about including this in core and/or plan to work on a PR. I tend to agree that it's a convenience that can be easily implemented either in a user-land module or even on a per project basis (it's a 1 liner).

[2018-04-14 08:28] #18646 closed

[2018-04-14 08:36] silverwind commented on #3462
Did someone propose adding base64 to the [encoding standard](https://github.com/whatwg/encoding) yet?

[2018-04-14 08:36] apapirovski commented on #15704
It seems unlikely this will get fixed at this point given that the only viable fix was breaking other packages in the ecosystem. I'm going to close this out but if anyone feels strongly about it, feel free to reopen. Also worth noting that v6.x goes into maintenance at the end of April and this is a very low priority issue.

[2018-04-14 08:36] #15704 closed

[2018-04-14 08:45] bnoordhuis commented on #13670
I don't know if I'm in favor but I'm not opposed either.

[2018-04-14 09:11] joyeecheung commented on #17058
We could also go over the list produced by running `process._rawDebug(process.moduleLoadList.join('\n'))`. For example there are a lot of modules that seem to be irrelevant to bootstrapping in there (e.g. dns, tcp), most of them are eagerly loaded because of the instantiation of the global `console`.

[2018-04-14 09:26] apapirovski commented on #3096
@jasnell @bnoordhuis @dougwilson any further opinions on this? Would be good to figure out a direction re: 205 status one way or another.

[2018-04-14 09:41] bnoordhuis commented on #19974
Right, I understand now that the idea is to let you do this:
[code]
That doesn't work due to glibc's timezone cache but #20026 addresses that.

I'm not 100% convinced it's a good idea but since people keep bumping into TZ's 'immutability', and since it obsoletes `reset-date-cache`, I guess it's progress.

[2018-04-14 09:47] apapirovski commented on #11135
As far as I can tell, all the `fs` function signatures have been updated. Beyond that, this is a bit vague and hard to act on for anyone stumbling upon the issue. As such I'm going to close this out. If anyone still thinks docs are lacking, feel free to open a new issue with specific examples so we can get the community to help us out.

[2018-04-14 09:47] #11135 closed

[2018-04-14 09:49] apapirovski commented on #12449
This has been inactive for a year now. I'm going to close it out but feel free to reopen if you're intending to revisit this sometime soon or think this is well suited to the `help wanted` or `good first issue` labels.

[2018-04-14 09:49] #12449 closed

[2018-04-14 09:50] bnoordhuis commented on #3096
I personally don't think this issue needs addressing but if we wanted to, it's a matter of setting `res._hasBody = false`.  That's the same mechanism that makes node drop the body for HEAD responses.

[2018-04-14 09:53] apapirovski commented on #12516
Sounds like this was addressed by @joyeecheung above. Closing.

[2018-04-14 09:53] #12516 closed

[2018-04-14 09:54] apapirovski commented on #13737
Recent releases have all had armv6 builds. Sometimes they're a bit late but usually they get added. Don't think there's anything that can be done here. Closing.

[2018-04-14 09:54] #13737 closed

[2018-04-14 09:59] jeroenvollenbrock commented on #19974
I’m actually using it in combination with https://github.com/athombv/node-systemd-timedated-client/ to reset the cache when the system timezone changes, which doesnt work either. My TZ env var used to be unset, but i’ve tried both with and without setting it to the changed timezone before resetting the cache.

[2018-04-14 10:06] bnoordhuis commented on #19974
The missing piece is the `tzset()` call (`_tzset()` on Windows) to reset libc's timezone cache.

@evanlucas FYI, might want to add that to `reset-date-cache`.

[2018-04-14 10:33] mcollina commented on #445
@ryzokuken this is something you can help with, basically you'd have to run `grep -R _readableState *` and `grep -R _writableState *` inside the `lib` folder. Ignore all files with `_stream*` prefix, and everything in  `lib/internal/streams/` folder.

[2018-04-14 10:35] jeroenvollenbrock commented on #19974
Don’t want to be nitpicking here, but if this is the case, shouldnt it be something the V8 notification should invoke instead of the callee? 🙈

[2018-04-14 10:36] addaleax commented on #19912
Looking at the console outputs, it seems like the issue is that `make test` seems to fail during/after addon compilation. This is the original error message from https://ci.nodejs.org/job/node-test-commit-linux-coverage/601/nodes=benchmark/consoleFull:

[code]

[2018-04-14 10:36] addaleax commented on #19912
(i.e. this points to https://github.com/nodejs/node/pull/19524 being at fault for this)

[2018-04-14 10:48] mcollina commented on #20018
Added the "good first issue tag"

[2018-04-14 11:10] bnoordhuis commented on #19974
You could open a V8 issue but I expect the answer is no.  `tzset()` has process-wide side effects.  V8 is a library and changes in a library should not affect other parts of the program.

[2018-04-14 11:33] hashseed commented on #17058
With snapshotting preloading modules becomes advantageous because bootstrapping becomes a lot cheaper.

It can't hurt to have a list of FunctionCallbacks already.

[2018-04-14 14:50] MrTreasure opened #20032 "net: why net.Socket's property without pid info"
* **Version**:
* **Platform**:
* **Subsystem**:

* **Version**: v8.9.3
* **Platform**: win10 64bit

Why net create a IPC server, the coming socket without pid info. Under this condition I can't define which socket it is.Then I must send a message to tell server it's pid info. Code beblow here
[code]
If soeckt has pid info, I can store it's pid info during connection event

[2018-04-14 14:59] Trott commented on #20015
Unable to reproduce via stress test. Guess it must be a network thing. I propose leaving this open for about a week to see if there are any more reports and closing if not.

[2018-04-14 15:04] AyushG3112 opened #20033 "build: Accept optional `name` argument with `make install`?"
* **Version**: master

Can we accept another argument with `make install`?

It would help when we have a default global(system?) installation of `node`, and we want to build from source and install globally along with that.

The argument would help us do something like:

[code]

If the argument is not provided, default to `node`

[2018-04-14 15:11] dougwilson commented on #3096
My opinion is still the same as I have above :+1:

[2018-04-14 15:25] devsnek commented on #20033
don't use make install then, it's really for putting a whole node+npm+headers combo in and if you only want the binary just manually mv it, it's in `out/Release/node`

[2018-04-14 16:52] mafintosh commented on #20014
Sounds like you should impl _final and have it wait for everything to close down nicely before calling it's cb. That'll make finish emit only after the stream is fully done but any subsequent calls to write will throw as they should

[2018-04-14 16:54] jasnell commented on #20014
Oh nice, that may be exactly what we need. I'll investigate that a bit.

[2018-04-14 17:05] mafintosh commented on #20014
Added benefit is that you become a good stream citizen and all the tooling will work as expected with http2 streams

[2018-04-14 17:10] bnoordhuis commented on #20032
Can you post your question to the nodejs/help repo?  Thanks.

[2018-04-14 17:10] #20032 closed

[2018-04-14 17:53] evanlucas commented on #19974
Thanks for the fix @bnoordhuis! Just updated `reset-date-cache`

[2018-04-14 18:32] addaleax commented on #17668
@brandonrninefive I think `Environment::SetMethod`, `Environment::SetProtoMethod` and `Environment::SetTemplateMethod` in `env-inl.h` are the relevant places where this would apply.

[2018-04-14 18:38] #20033 closed

[2018-04-14 19:09] #20018 closed

[2018-04-14 19:13] #19921 closed

[2018-04-14 20:07] ryzokuken commented on #445
@mcollina I believe I'm only supposed to take care of the stuff in `lib`, right?

[2018-04-14 20:15] mcollina commented on #445
Yes!

[2018-04-14 20:36] ryzokuken commented on #445
Hmm, and looking at the uses, I believe I might have to add new functions to certain classes in order to eliminate the use of `_readableState`, for instance. Does that sound fine to you?

[2018-04-14 20:36] ryzokuken commented on #445
@mcollina Hmm, and looking at the uses, I believe I might have to add new functions to certain classes in order to eliminate the use of `_readableState`, for instance. Does that sound fine to you?

[2018-04-14 23:08] mcollina commented on #445
If you could just post an updated list it would be a great start. I know for experience that some of those are
hard.

[2018-04-15 00:13] conradwt opened #20038 "NPM Version and Node Version Out Of Sync"
* **Version**:

 $ node -v
v9.11.1

$ npm -v
5.6.0

* **Platform**:

macOS 10.13.4

* **Subsystem

After installing the current version Node version https://nodejs.org/en/, I'm seeing the following information when using npm in the terminal:

   ╭─────────────────────────────────────╮
   │                                     │
   │   Update available 5.6.0 → 5.8.0    │
   │     Run npm i -g npm to

[2018-04-15 00:27] richardlau commented on #20038
There's a breaking change in npm 5.8.0 (https://github.com/npm/npm/issues/20163), see  https://github.com/nodejs/node/pull/19840.

[2018-04-15 00:27] #20038 closed

[2018-04-15 01:30] mmbostwick opened #20041 "Installation Fails on ElementaryOS Loki - Release File Missing"
* **Version**:  Node 9.x
* **Platform**: elementary OS 0.4.1 Loki
* **Subsystem**: Installation Script

Hi,

Doing the install as prescribed fails due to the lack of a release file.

installation command:  curl -sL https://deb.nodesource.com/setup_9.x | sudo -E bash -

Error Output:
[snip]
Err:5 https://deb.nodesource.com/node_9.x loki/main Sources
  404  Not Found
Ign:6 https://deb.nodesource.com

[2018-04-15 02:40] TimothyGu commented on #20041
Hi! We don’t really maintain the Node.js binaries provided by NodeSource, so we have no control over that repo. I encourage you to file an issue at https://github.com/nodesource/distributions instead.

[2018-04-15 02:40] #20041 closed

[2018-04-15 04:40] bamanuel commented on #20019
It's very likely a duplicate of that issue, although I'm not 100% certain. The target server I was testing with only supports the following ciphers:

- AES256-SHA
- AES128-SHA
- RC4-SHA
- RC4-MD5
- DES-CBC3-SHA

[2018-04-15 04:54] bnoordhuis commented on #20019
Can you connect with `openssl s_client`?  What does it print?

[2018-04-15 05:35] trivikr commented on #19890
+1

[2018-04-15 06:24] ryzokuken commented on #445
@mcollina looks good? Will add `_writableState` by today too.

[2018-04-15 06:54] CYChiu opened #20044 "It shows "db.collection is not a function" when node.js use mongodb module"
* **Version**:
* **Platform**:
* **Subsystem**:

Version: v8.11.1
Platform: Windows 10 x64
Subsystem:

Dear all,

We use Mongodb 3.0.6 and execute the code below.
It would show a error message.
Wish you could help us to resolve this issue.
Thank you.

BR,
CY

**Error message:**
D:\test\node_modules\mongodb\lib\mongo_client.js:815
          throw err;
          ^

TypeError: db.collection is not a

[2018-04-15 06:57] apapirovski commented on #20044
Please open this https://github.com/nodejs/help/issues or on the mongodb issue tracker. This tracker is for Node.js issues only.

As far as I can tell, you're missing a `.db` call. The return value of `connect` is a `client` instance. See the quick example in http://mongodb.github.io/node-mongodb-native/3.0/quick-start/quick-start/

[2018-04-15 06:57] #20044 closed

[2018-04-15 07:57] joyeecheung commented on #19890
+1

[2018-04-15 09:47] vsnehil92 commented on #19060
@addaleax  I would like to work on this. I may need some help.

[2018-04-15 09:49] ryzokuken commented on #445
@mcollina I see that a ton of these are accessing the `ended` and `ending` properties. Perhaps we could refactor properties like this into separate publicly accessible properties for such streams?

[2018-04-15 10:26] mcollina commented on #445
Also, we have ending, ended and finished. We should definitely clarify and document the three of them. cc @mafintosh.

[2018-04-15 12:26] jrasanen commented on #18897
@bnoordhuis So most `ClearWrap` functions should be removed? Which places do you think it could be left to exist?

[2018-04-15 13:38] BridgeAR commented on #19906
And again: https://ci.nodejs.org/job/node-test-binary-arm/418/RUN_SUBSET=1,label=pi2-docker/console

[2018-04-15 14:24] mathiasbynens commented on #3462
@scoobster17

Did you try [the `base64` package](https://github.com/mathiasbynens/base64)? I would be surprised if `abab` worked but `base64` didn’t, given that both have the same goal of being a fully spec-compliant `atob`/`btoa` implementation.

[2018-04-15 14:55] bamanuel commented on #20019
Output from `openssl s_client` (without the cert):

[code]

[2018-04-15 15:53] kenorb opened #20048 "ENOENT: nodejs doesn't work in Ubuntu Docker container"
* **Node.js Version**: v4.2.6
* **OS**: Ubuntu 16.04.4 LTS in Docker container
* **Module (and version) (if relevant)**: none

Repro steps in Docker:

1. `docker run -it ubuntu:latest`
2. `apt-get update`
3. `apt-get -y install nodejs`
4. Run: `nodejs <(curl -sL https://code.jquery.com/jquery-1.11.1.min.js)`
[code]

[2018-04-15 16:25] TimothyGu commented on #19655
@yhwang I'm seeing invalid memory access even with the following reduced test case:

[code]

[2018-04-15 16:29] trivikr opened #20049 "doc: add section in fs to document mode argument"
* **Version**: master
* **Platform**: N/A
* **Subsystem**: fs

I noticed this while reviewing #20042
The description of `mode` argument is repeated in [`fs.access()`](https://nodejs.org/api/fs.html#fs_fs_access_path_mode_callback) and [`fs.accessSync()`](https://nodejs.org/api/fs.html#fs_fs_accesssync_path_mode), and can be moved to a single location.

WDYT @nodejs/fs? This would be a good first i

[2018-04-15 16:31] TimothyGu commented on #19426
I think the discussion has run its course in this issue as well.

[2018-04-15 16:31] #19426 closed

[2018-04-15 16:49] Trott commented on #19906
Now that `test.py` prints out the exit code in these situations, it's worth copy/pasting the new output from https://ci.nodejs.org/job/node-test-binary-arm/418/RUN_SUBSET=1,label=pi2-docker/console:

[code]

[2018-04-15 16:50] Trott commented on #19906
(Oh, wait, no it's not because it's just a timeout. Sorry.)

[2018-04-15 16:52] scoobster17 commented on #3462
@mathiasbynens no, I don't believe I tried this package, but amongst the others I did, abab was the only one that did work. This base64 package also looks promising, although I'll stick with abab for now. If it works, don't touch it :)

@TimothyGu fair enough, I just thought it may be easier for developers to be directed to other means of achieving this goal from the Node docs, e.g. like a referen

[2018-04-15 17:02] kenorb commented on #20048
Same using node v8.11.1:

[code]

[2018-04-15 17:04] kenorb commented on #20048
Ok, this works with v8.11.1:

` node < <(curl -sL https://code.jquery.com/jquery-1.11.1.min.js)`

or:

`curl -sL https://code.jquery.com/jquery-1.11.1.min.js | node`

[2018-04-15 17:04] #20048 closed

[2018-04-15 18:05] paambaati commented on #19453
Should the list of userspace modules also include client-side request modules? None of the popular ones (`request`, `axios`, `got` & `needle` to name a few) support HTTP/2 right now.

[2018-04-15 18:12] devsnek commented on #19453
node-fetch is waiting on http2 to have agents, but otherwise there's already a pr open to it with initial support

[2018-04-15 19:37] lpinca commented on #19695
Fixed by e76831b. Closing.

[2018-04-15 19:37] #19695 closed

[2018-04-15 19:48] bnoordhuis commented on #20048
For posterity: this issue is essentially the same as #18255.

[2018-04-15 19:54] bnoordhuis commented on #20019
Okay, and what happens when you pass in the certificate with `-CAfile`?

[2018-04-15 19:57] hashseed opened #20052 "vm module should expose V8::ScriptCompiler::CreateCodeCache"
Previously, V8 can only create code cache as part of compiling a script. Now V8 can created code cache from an UnboundScript at arbitrary time after compilation.

The advantages are:
- Creating code cache can happen at a later time to unblock script execution.
- The code cache can now include code for functions that have already been compiled and executed, whereas previously we either have the opt

[2018-04-15 20:00] hashseed commented on #20052
Note that the vm module already uses CreateCodeCache to emulate the deprecated kProduceCodeCache option.

[2018-04-15 20:05] lpinca commented on #19523
Another option is to use `slashes`:

[code]
or `url.URL` as already suggested in https://github.com/nodejs/help/issues/1176.

[2018-04-15 20:06] lpinca commented on #19523
Closing, let me know if it should stay open.

[2018-04-15 20:06] #19523 closed

[2018-04-15 20:11] BridgeAR opened #20053 "Confusing process.release.compareVersion API"
It might only be me but the current implementation is not intuitive for me because I expect the output to be exactly the opposite of what it is. Even though it is not right or wrong either way.

Let's give an example.

The current master version is `10.0.0-pre`.

That way I expect `9.0.0` to return `-1` because the input value is lower than the current version. Instead, it is `1`, because the curr

[2018-04-15 21:49] tniessen commented on #20053
@devsnek originally landed the API with the signum as you described in https://github.com/nodejs/node/pull/19438, which was reverted after I expressed my concern that the signum might be counterintuitive (see https://github.com/nodejs/node/pull/19574#issue-177235243):

The following discussion was a bit difficult to follow as @devsnek edited [his response](https://github.com/nodejs/node/pull/19574

[2018-04-15 21:59] devsnek commented on #20053
I suggest you change it, as the way I see it isn't apparently very popular. I'll approve whatever pr is opened 👍

[2018-04-15 22:00] devsnek commented on #20052
I was going to do this but iirc got blocked by something, I can take a other look after my plane lands

[2018-04-15 22:46] TimothyGu commented on #3462
@scoobster17 There is a difference between the behavior of the two packages that you should take note of: while base64 throws `InvalidCharacterError` objects, abab returns null.

[2018-04-15 22:53] TimothyGu commented on #17658
@pauldraper's comment is a dealbreaker for me:

[code]

I'm going to close this as something that can't reasonably be accomplished.

[2018-04-15 22:53] #17658 closed

[2018-04-15 22:53] bamanuel commented on #20019
[code]

[2018-04-16 01:10] BridgeAR opened #20056 "Do not assign const variable in error case"
* **Version**: 10.0.0-pre

When using the repl and e.g., writing: `const foo = bar()` while `bar` is undefined is going to cause an error. So far so good. The problem is that `foo` is now assigned even though it would be super nice if that would not be the case due to the error while assigning the variable.

I tried to see how to fix this on my own but it is somewhere in runInContext if I am not m

[2018-04-16 01:21] hktalent opened #20057 "bug (node:25599) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 option:proxy listeners added. Use emitter.setMaxListeners() to increase limit"
os: mac os 10.13.4
node : v9.11.1
[code]

[2018-04-16 01:36] spwg commented on #19919
Can I take this? I plan to make a small, docs-only change to `BUILDING.md` (https://github.com/nodejs/node/blob/master/BUILDING.md#running-tests).

[2018-04-16 01:37] stelcheck commented on #13670
Throwing an error would be the safest behavior in my opinion. I doubt everyone's first reflex will be to open the doc if they run in this issue, so a descriptive runtime would most likely help.

[2018-04-16 01:44] BridgeAR commented on #20056
@TimothyGu for me it is not about spec compliance but about a better way to handle it in the repl. So this issue should be about evaluating to diverge from the spec. I am not sure about the current implementation details and if that is even possible.

[2018-04-16 01:45] devsnek commented on #20056
cc @bmeck your repl proposal makes const not constant right?

[2018-04-16 02:32] noob-ckx opened #20058 "Error: Opening COM3: File not found"

[2018-04-16 02:49] #20058 closed

[2018-04-16 03:33] mscdex commented on #20057
'option:proxy' is not a node core event, so the warning is due to some third party module adding an event handler too many times (most likely). You will need to find what module is adding these event handlers and submit an issue to their issue tracker.

In the future, please post these kinds of questions to the [nodejs/help](http://github.com/nodejs/help) repo first.

[2018-04-16 03:33] #20057 closed

[2018-04-16 04:28] bmeck commented on #20056
Mime keeps const unable to be reassigned, but separate inputs can rebind the variable name to a new binding.

[2018-04-16 04:49] AyushG3112 commented on #19998
@addaleax before I start on documenting this, 1 question: what're your thoughts on replacing the error handling via `domain` with a default `process.on('uncaughtException')` listener?

[2018-04-16 05:38] jdalton commented on #20053
\cc @isaacs as author of the [semver](https://github.com/npm/node-semver) package for insight into API design.

[2018-04-16 05:59] rvagg commented on #19919
It's even more messy than that @Trott .. this is something I'd like to see fixed up because it's a mess in CI already.

You can `-j X` with `make` but it doesn't propagate to tools/test.py, it only does the _build_ in parallel. The call to tools/test.py is given a `-J`, it doesn't pass `X` on. Here's what test.py does when it's run with `-J`:

* If `JOBS` is set in the current environment then use

[2018-04-16 06:06] k06a commented on #19997
This is the problem: https://github.com/npm/npm/issues/16991

[2018-04-16 06:10] xxoo opened #20060 "difference between http2 Compatibility API and http"
* **Version**: 9.11.1
* **Platform**: macos
* **Subsystem**:

[code]
choose a file bigger then 100k you'll see http1 returns 405 immediately, but http2 never return any thing.

[2018-04-16 06:35] gireeshpunathil commented on #20000
@bnoordhuis - I suggest we:
 - cover the common combinations of the process chain based on usage
 - for each set, define what is expected and what is a bug (this outlines a specification, that can freeze with ratification from the eco system channels, if need be)
 - implement this sepc - align existing capabilities or fix bugs
 - document the behavior.

It may be that we have one or two minor issu

[2018-04-16 06:53] abidrana7 opened #20061 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
* **v9.5.0**:
* **Windows  64bit**:
* **Subsystem**:

I'm trying t o execute the Mocha tests but facing the issue as mentioned in title of this issue.

[2018-04-16 06:55] addaleax commented on #19998
@AyushG3112 My thoughts are that that’s probably very hard to get that to work, because in general there can be multiple REPL instances in a process, which need to keep track of async context in order to determine whether they should handle an exception

[2018-04-16 06:57] apapirovski commented on #20060
I can't replicate this. I used the test script, after running https://localhost:1234 and entering a file, I get a 205 response to my PUT request immediately.

[2018-04-16 07:04] rvagg commented on #20053
proposing reversion @ https://github.com/nodejs/node/pull/20062 along with some reasons and some notes on how the API is currently broken

[2018-04-16 07:10] apapirovski commented on #20061
You're running out of memory. There's not enough info here to help you further. Sounds like the issue is likely with the tests having a memory leak. This would be better suited to https://github.com/nodejs/help/issues — this tracker is for Node.js core issues and bugs only.

[2018-04-16 07:10] #20061 closed

[2018-04-16 07:13] xxoo commented on #20060
@apapirovski please try to use a file bigger then 100k

[2018-04-16 08:11] apapirovski commented on #20060
Thanks. Can replicate now. Looks like it's likely tied to windowSize or something similar. Will investigate.

[2018-04-16 08:19] hashseed opened #20064 "Upgrade test runner."
Node.js inherited `tools/test.py` from V8, which was replaced by `tools/run-tests.py` sometime in 2012. The latter runs more efficiently, produces more actionable output, and supports status files to mark tests as flaky or failing under certain conditions.

Worth a thought imo.

[2018-04-16 08:24] chrismilleruk opened #20065 "build: Improve consistency of parallelism flags among make->python dependencies"
* **Version**: 10.0.0-rc
* **Platform**: all
* **Subsystem**: build

`make` can run multiple jobs in parallel by using the `MAKEFLAGS` env var or the `-j` flag (e.g. `make -j4`).
`test.py` runs in parallel through use of the `JOBS` env var or the `-J` or `-j` flags.

When `test.py` is called from `make` it uses a few different mechanisms to pass the parallelism factor which makes the build hard to

[2018-04-16 08:24] amalshehu commented on #18948
Had the same issue. But it got fixed in node v9.11.1

[2018-04-16 08:28] bnoordhuis commented on #20019
That's progress. :-). What happens when you do this?
[code]
What when you add this?
[code]

[2018-04-16 08:42] bnoordhuis commented on #19919
That's right, make treats `-jX` specially.  You can't fetch it from `MAKEFLAGS` or `GNUMAKEFLAGS`, you'll only see `-j` without the count.

(There are reasons for that, it lets the supervisor control parallelism in nested invocations.)

[2018-04-16 08:53] chrismilleruk commented on #20065
@rvagg commented:

If there is no sensible `JOBS` env var then use the Python `multiprocessing.cpu_count()` call which can be inaccurate on some VMs or containers (like `os.cpus().length` .. SmartOS is one of these).
So, what we tend to do in CI is be explicit about it, with something like:

[2018-04-16 09:03] #11552 closed

[2018-04-16 09:03] mcollina commented on #19453
Considering that there is no PR in the work for that, or that I didn't know about this requirement, it might be a _very long_ wait. It would be really good to get that implementation going. My idea for that is described in https://github.com/nodejs/node/issues/17746.

[2018-04-16 09:08] kapouer opened #20066 "process.release.headersUrl: distributors might want to provide an absolute file url"
In which case it wouldn't be a .tar.gz file, but a directory (for example file:///usr/include/nodejs on debian).
This would be useful for configurability of node-gyp, as explained in https://github.com/nodejs/node-gyp/issues/1415.

On debian we build nodejs against potentially different versions of shared libraries required by nodejs.
Their respective headers are all available in system-installed

[2018-04-16 09:08] mcollina commented on #19453
There is no Compatibility layer for the client. We might want to add that, but it was never on-scope for the initial release, and I would be somewhat concerned about making that a requirement for the exit criteria.

I wrote https://github.com/mcollina/h2url for that.

[2018-04-16 09:09] hashseed commented on #20052
Upstream [change](https://chromium-review.googlesource.com/c/v8/v8/+/1013482) to no longer require the source to call `v8::ScriptCompiler::CreateCodeCache` is in flight. I also prepared [a patch](https://github.com/hashseed/node/commit/b514f66e9f8a2d3a36aa71d69c964e253b367cca) to node/master based on that upstream change. I would not mind if you float that patch if you don't want to wait until nod

[2018-04-16 09:15] holm opened #20068 "SIGABRT and libuv error"
* **Version**: v9.10.0
* **Platform**: Linux 3a4d2fb7-de73-4088-991f-6a38017d5a1b 4.4.0-1014-aws #14-Ubuntu SMP Thu Feb 15 21:53:17 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux (Running on Heroku)
* **Subsystem**: libuv

We have observed the follow crash? a number of times over the last few weeks. It's very rare and I have no idea how to reproduce it at will. It can sometimes be days between it happeni

[2018-04-16 09:39] ex1st commented on #19977
Similar to #19405

[2018-04-16 09:39] #19977 closed

[2018-04-16 10:02] apapirovski commented on #20060
/cc @nodejs/http2 @addaleax

[2018-04-16 10:04] aduh95 commented on #19443
Fixed by #19643, landed in [`11819c`](https://github.com/nodejs/node/commit/11819c7773d123efb8db836aefc73bde8c5f431a).

[2018-04-16 10:04] #19443 closed

[2018-04-16 10:09] chrismilleruk commented on #20065
I noticed three different methods for calling `test.py` from `Makefile`

(1) Called with the `-J` flag (4 times)
e.g. `$(PYTHON) tools/test.py --mode=release parallel -J`

(2) Called with `PARALLEL_ARGS` (3 times)
e.g. `$(PYTHON) tools/test.py $(PARALLEL_ARGS)  ...`

(3) Called without `-J` or `PARALLEL_ARGS` (17 times)
e.g. `$(PYTHON) tools/test.py --mode=debug,release`

The `-J` flag is defined

[2018-04-16 10:31] bnoordhuis commented on #18742
http://lists.llvm.org/pipermail/cfe-dev/2018-April/057579.html - there seems to be some movement on supporting this in clang, which is great.

[2018-04-16 10:39] bnoordhuis commented on #20068
Probably a variation on #3604.  https://github.com/nodejs/node/issues/3604#issuecomment-380393491 has a minimal test case.

[2018-04-16 10:43] mcollina commented on #19954
Can you please make https://github.com/nodejs/node/issues/19954#issuecomment-380834074 as a pass/fail thing? It's not exactly easy to understand what is the expected output/condition.

Also, can you articulate more on:

[2018-04-16 10:47] bnoordhuis commented on #20066
That should already work if you do `./configure --release-urlbase=file:///usr/share/nodejs` but node-gyp needs to be taught to recognize file paths.

(The `file://` prefix might not be necessary, a leading slash should be sufficiently unambiguous.)

[2018-04-16 11:08] addaleax commented on #20060
Slightly reduced test case for what is probably the same issue, currently failing with `NGHTTP2_ENHANCE_YOUR_CALM` (but works on 9.3.0):

[code]

[2018-04-16 11:52] vsemozhetbyt opened #20072 "CI-lite does not send full info to PR"
This issue appears during last days: only one of two jobs is sent back to PRs.

Examples: https://github.com/nodejs/node/pull/20071, https://github.com/nodejs/node/pull/20078

[2018-04-16 11:55] addaleax commented on #20060
Hm – I might be wrong about that. Bisecting points to 865da60e759f5de6eee4e3be0c7f827293c6056e, and adjusting `maxSessionMemory` on the client side seems to fix that, so it’s probably not really what’s happening here.

[2018-04-16 11:58] apapirovski commented on #20060
This example does it:

[code]

[2018-04-16 12:02] addaleax commented on #20060
@apapirovski Not sure – `client.close()` should be `client.destroy()`, right?

[2018-04-16 12:04] apapirovski commented on #20060
@addaleax I don't think so. `close` is more similar to what a browser would do in this situation. `destroy` just shuts down the connection whether or not any streams are still open.

The alternative would be:

[code]

Basically, only destroy the connection after the `finish` event which will never fire, even though it should.

[2018-04-16 12:05] apapirovski commented on #20060
I suppose if you want to test this against 9.3.0 then my example above would be better.

[2018-04-16 12:06] apapirovski commented on #20060
I think this code:

https://github.com/nodejs/node/blob/809eb27bda6d1fb3f165d565ff4be83682938c9d/lib/internal/http2/core.js#L1864-L1879

needs to be checking for whether the user has done any consuming on the readable side and if they haven't, then just proceeding to destroy. Which then will call `.close(0)` on the stream.

That said, as far as I know, that requires manually tracking whether the s

[2018-04-16 12:39] bnoordhuis commented on #20066
Meteor is its own thing so probably not a concern.

[2018-04-16 12:49] TimothyGu commented on #3462
@mathiasbynens The behavior of abab matches the spec. The only difference is that abab doesn’t throw `"InvalidCharacterError"` DOMExceptions, which don’t quite exist on Node.js, but base-64 tries to emulate it.

[2018-04-16 13:37] mathiasbynens commented on #3462
How is not throwing an exception when the spec tells you to “matching the spec”?

[2018-04-16 13:48] richardlau commented on #20064
The current test runner already supports this.

No objections to upgrading, but we'll need to evaluate any customisations we have made over the years.

[2018-04-16 13:49] richardlau commented on #20064
cc @nodejs/testing @nodejs/build

[2018-04-16 14:14] TimothyGu commented on #3462
abab never advertises to match the spec in that regard:

(from the README)

As I said, Node.js doesn’t have DOMException, so unless abab brings in a module like [domexception](https://www.npmjs.com/package/domexception) (or use an ad hoc noncompliant polyfill like base-64 does) it is simply impossible.

[2018-04-16 14:33] geiszla opened #20076 "Named import problem with experimental ES6 modules"
* **Version**: v9.11.1
* **Platform**: Windows 10 Home 64-bit
* **Subsystem**: esm

When I try to use named imports with the experimental ES6 modules feature, I get the following error:
[code]

The import is the following:
[code]

This syntax worked before with babel. The variables are exported with `Object.defineProperty(exports, 'GraphQLBoolean', ...)` and when I import the object, then deconstr

[2018-04-16 14:41] devsnek commented on #20076
hello @geiszla so basically node just mounts the `module.exports` on the default export when it creates a wrapper around a cjs module. There isn't really any other way to do it, sorry for the confusion.

[2018-04-16 14:46] geiszla commented on #20076
Okay, thanks. Wouldn't it make sense to support this kind of importing (as it is supported by babel and it makes the written code less redundant)?

[2018-04-16 14:47] devsnek commented on #17058
with this separation i wonder if we can somehow also statically mark all the functions we create before user code runs as native for toString purposes

[2018-04-16 14:49] devsnek commented on #20076
@geiszla it would be cool if we could, but we can't actually do that because:

to make a namespace we have to know ahead of time what exports the module has

this requires loading the module before-hand and getting the Object.keys of it

this is not acceptable because then we are evaluating user code at a time when the spec says we shouldn't be

if this doesn't answer your question feel free to re

[2018-04-16 14:49] #20076 closed

[2018-04-16 15:11] hashseed commented on #17058
That's not exposed, but could easily be implemented. All you need to do is to mark script type as `v8::internal::Script::TYPE_NATIVE`.

Last time I brought this up I was told that exposing the source of core libs is intended. And I agree that it is useful.

[2018-04-16 15:18] geiszla commented on #20076
Also is it possible, to access variables, like `__dirname`, `module`, etc. in an ES6 module?

[2018-04-16 15:19] BridgeAR commented on #19977
This specific issue got fixed by #20007.

[2018-04-16 15:21] BridgeAR commented on #19977
@ex1st this is how your example runs on my machine with the mentioned patch applied:

[code]

[2018-04-16 15:22] geiszla commented on #20076
@devsnek Okay, thanks for the explanation. I also ran into another problem, which is that I cannot access variables, like `__dirname` and `module` from an ES6 module. Is that intended? If it is, is there a way to get these information from inside the module?

[2018-04-16 15:25] devsnek commented on #20076
@geiszla yes that's intended, es modules don't have any of the scoped globals that cjs modules have (__dirname, __filename, module, exports, require).

You can get the derive your dirname from `import.meta.url`

[2018-04-16 15:36] geiszla commented on #20076
@devsnek Do I see correctly, that it is not yet included as of version 9.11.1? (I get the error `SyntaxError: Unexpected token .`)

[2018-04-16 15:49] devsnek commented on #20076
@geiszla we might not have our import.meta initialisation on the 9.x release branch, sorry about that :)

[2018-04-16 16:01] bnoordhuis commented on #20064
Probably not a good cost/benefit trade-off.  It's working fine and we modified it quite extensively.  A wholesale upgrade is likely a lot of effort for both author and reviewer without much payoff.

[2018-04-16 16:12] BridgeAR commented on #20064
@hashseed in what way do the tests run more efficiently? Does it somehow reduce the run time by being cheaper CPU wise?

[2018-04-16 16:22] ronag opened #20079 "http2 compat does not emit 'timeout' event on request object"
http2 compat does not emit 'timeout' event on request object. It only invokes the `setTimeout` callback argument.

[2018-04-16 16:43] hashseed commented on #20064
I only have anecdotal evidence and word from V8 infra folks that the new test runner scales better.

I agree that it probably has low pay off. Feel free to close this.

[2018-04-16 16:51] richardlau commented on #20064
I may be misremembering but I think the V8 test runner supports junit output, which if correct may be of interest to @nodejs/build as there are efforts around converting tap to junit as it's more efficient in Jenkins.

[2018-04-16 17:20] alexanderturinske opened #20080 "Create a file URI from a file path on Windows"
* **Version**: v8.7.0
* **Platform**: Windows 10 64bit
* **Subsystem**:

In Windows, one may have a file path
[code]
and may want to create a standard [file URI](https://en.wikipedia.org/wiki/File_URI_scheme) from it. To do so, one can use the url.format method

[code]
but this doesn't create a URL that follows the standard for file URI ([RFC 8089](https://tools.ietf.org/html/rfc8089)). Instead it

[2018-04-16 17:33] jasnell commented on #20080
use the new WHATWG URL implementation:

[code]

[2018-04-16 17:33] #20080 closed

[2018-04-16 17:44] richardlau commented on #20072
cc @nodejs/build

[2018-04-16 17:59] alexanderturinske commented on #20080
🤦‍♂️ Yup, that is exactly what I wanted and it works on both Mac and Windows. Thank you!

[2018-04-16 18:05] richardlau opened #20082 "documentation of --napi-modules"
Looks like the documentation for `--napi-modules` doesn't match the `node --help` output.

https://github.com/nodejs/node/blob/237aa7e9ae850bbaf39563b368bc617468f2136d/src/node.cc#L3493-L3494

https://github.com/nodejs/node/blob/237aa7e9ae850bbaf39563b368bc617468f2136d/doc/node.1#L119-L121

https://github.com/nodejs/node/blob/237aa7e9ae850bbaf39563b368bc617468f2136d/doc/api/cli.md#L134-L140

https

[2018-04-16 18:25] addaleax commented on #19890
Added in #20081 :tada:

[2018-04-16 18:25] #19890 closed

[2018-04-16 18:35] addaleax commented on #19912
Aaand https://coverage.nodejs.org/ is back to normal! :tada:

[2018-04-16 18:45] KoenLav opened #20083 "100% CPU caused by thread spike (in Fibers, Meteor)"
Version: 8.11.1
Platform: any

We have been experiencing 100% CPU in production, presumably caused by the use of Fibers in Node.js by Meteor and the way the data lookup for threads is implemented in V8.

While this issue probably should not be fixed in this repository it seemed worthwhile to track it here as well, in order to find out whether more users of Node.js are suffering from this issue.

A

[2018-04-16 19:11] Trott commented on #20072
@nodejs/github-bot

[2018-04-16 19:32] devsnek commented on #20083
v8 is oss, why not just submit the patch?

[2018-04-16 19:34] vsemozhetbyt commented on #20072
Still open PR with the same issue: https://github.com/nodejs/node/pull/20074

[2018-04-16 19:35] KoenLav commented on #20083
@devsnek

[2018-04-16 19:37] devsnek commented on #20083
@KoenLav please note v8 doesn't accept prs to that repo, they use gerrit. you can follow this guide to learn how to submit a patch: http://dev.chromium.org/developers/contributing-code

[2018-04-16 19:38] #20083 closed

[2018-04-16 19:39] bamanuel commented on #20019
Same issue for both cases `Error: connect EPERM /`

[2018-04-16 19:42] apapirovski commented on #20083
ping @nodejs/v8 just in case. Although seems like this is on the right track as is.

[2018-04-16 19:47] KoenLav commented on #20083
@devsnek no problem to leave this here closed (people should still be able to find it more easily).

[2018-04-16 19:56] addaleax commented on #19891
@ChALkeR Tbh, I’d like to wait until `gulp@4` is out. But once that happens, yes, I’m all for it. :)

[2018-04-16 19:59] apapirovski commented on #20060
Think I might have the fix. It's not pretty... but maybe others can help once I open the PR. 😄

[2018-04-16 20:08] ChALkeR commented on #19891
@addaleax Technically, `gulp@4` is out for several months and seems working just fine.

[2018-04-16 20:11] scoobster17 commented on #3462
Thanks for the info. I'll investigate changing the package.

[2018-04-16 20:15] addaleax commented on #19891
I meant, when it’s no longer a pre-release. @phated has indicated that there is still a lot of work to be done around things like documentation, and I don’t really want to push users towards underdocumented software either…

[2018-04-16 20:22] devsnek opened #20085 "possible async_hooks error bug"
i was writing a test for dynamic import in repl and i came across this issue below (sorry i didn't reduce the case more, i have no idea what is going on here):
[code]

the program always exits on the `await promise` line and while stepping through it just randomly exits 0 while going through code in async_hooks. sorry i don't have any useful information.

/cc @nodejs/async_hooks

[2018-04-16 21:47] davepacheco commented on #6083
Has anybody re-run the test program to see if it's still happening?

[2018-04-16 21:49] vsemozhetbyt commented on #20072
In [this PR](https://github.com/nodejs/node/pull/20086) "All checks have passed" is greened just after Linter job done, till node-test-commit-linuxone finished.

[2018-04-16 22:16] DrLonnieJonesPFMP commented on #3431
I had used all of the methods above, a few others from other forums, and Stack Overflow.
This is what I did to fix it:

1. I used disk cleanup to clear the temp folder.
2. Made sure my account was the Temp folder owner and had full control.
3. Enabled all Windows services (some of mine were disabled).
4. Installed all updates and installed .NET 3.5, .NET 4.7, SMB 1.0, and Powershell 2.0, and GitHu

[2018-04-17 00:45] rvagg opened #20090 "OpenSSL RSA key generation flaw"
I think it's probably worth getting this on the record. OpenSSL put this out today, a timing attack is possible on their RSA key generation. It's not critical enough to push out a new release and it'll be picked up in the next 1.0.2 and 1.1.0. But if we wanted to patch now we could grab the commits from their repo and float them.

As far as I know we don't expose APIs that touch RSA key generation

[2018-04-17 00:45] #20090 closed

[2018-04-17 07:33] GongT commented on #14970
I'm using typescript, compile all file from ./src to ./dist

in package.json, run a script when prePublish:
1. copy package.json & src to dist.
2. replace all "../src" to "./src" in all .map file (with find and sed)
3. run npm publish in dist
4. exit 1 (prevent publish parent folder)

BOOM.

[2018-04-17 09:09] tniessen commented on #20090
Ref https://github.com/nodejs/node/issues/15116

[2018-04-17 10:12] addaleax commented on #19903
Re-opening until the libuv update lands on `master`

[2018-04-17 10:47] bnoordhuis commented on #20019
I don't see commits between v8.5.0 and v8.6.0 that are plausible candidates for such a regression.  Are you sure v8.6.0 is the first release where this started happening for you?

[2018-04-17 10:52] mcollina commented on #6083
@davepacheco The situation has changed. The script hangs:

[code]

Or I'm getting a nice abort:

[code]

This is also confirmed on master.

[2018-04-17 10:53] ronag opened #20095 "aborted vs close in Http2ServerRequest"
In http/1 there is basically no difference between the `aborted` and `close` events. However, looking at the implementation for http/2 there does seem to be a difference.

What is the difference and should we maybe document it? I believe this might be a discrepancy with http/1?

[2018-04-17 10:58] mafintosh opened #20096 "streams: event clarification and improvements"
This is more of a discussion issue, but have some thoughts on streams and the stream events we currently support that I wanted to write down.

On the issue tracker there are various issues where people are confused about stream events (such as https://github.com/nodejs/node/issues/6083) but it would be good to get some clarification and perhaps improving the flow

#### Readable events

A readable

[2018-04-17 11:01] mafintosh commented on #20096
/cc @nodejs/streams

[2018-04-17 11:07] gireeshpunathil commented on #3429
easily recreatable with this:

$ cat 3429.js
[code]

Linux: 1
darwin: 8

The key difference here is that Linux reads in 64KB (or sometimes even 1MB) chunks in one shot - probably limited by the socket buffer limits only, while in mac it is always 8KB, so you have more round about time to complete the task.

To check if `echo` or `cat` is rate limiting this from within, eliminate them, bring in nod

[2018-04-17 11:11] mcollina commented on #6083
Here is some output from llnode:

[code]

Do you know why it's missing the JS stacks? It's taken from master.

[2018-04-17 11:18] bnoordhuis commented on #6083
New V8.  llnode hasn't been updated yet.

Also, the Ignition interpreter complicates frame->function mapping.  In the naive solution you only see the interpreter frames, like you do with perf(1) now.

@mmarchini has been working on that however, and with respectable stamina too, I may add.

[2018-04-17 11:37] gireeshpunathil commented on #9413
@aalexgabi - is this still an outstanding issue for you?

[2018-04-17 11:51] YouriT commented on #6219
@gireeshpunathil any reason the behaviour would have changed?

[2018-04-17 12:06] gireeshpunathil commented on #6219
@YouriT - no, the reason I asked is to figure out whether this is still a pain point in your use case, before I can investigate.

[2018-04-17 12:50] targos commented on #19068
Fixed in https://github.com/nodejs/node/pull/19828

[2018-04-17 12:50] #19068 closed

[2018-04-17 12:54] gireeshpunathil commented on #3429
[code]

this patch makes the darwin case at par with linux. However, I did not run any other tests or haven't thought about any implications of doing so, just wanted to complete the investigation and ratify my above findings.

I added these values in /etc/sysctl.conf , but does not seem to help, probably the variables are different for UNIX domain sockets:
[code]

So the bottom line is that socket

[2018-04-17 13:00] cjihrig commented on #19903
@bnoordhuis @santigimeno @addaleax do you think this is a big enough issue that it's worth getting a libuv release out today?

[2018-04-17 13:00] thesandbender opened #20098 "zlib extraction fails on 6.5gb PKWARE (code 9) compressed file"
Version: v9.11.1 (64-bit)
Platform: Windows 10 64-bit (v1709 Build 16299.371)
Subsystem: zlib (through node-stream-zip)

Evert month the US Centers for Medicaid and Medicare publishes their entire database of current and past providers as a zipped csv (6.5gb uncompressed).  The latest release caused zlib to fail with the following error:

[code]

The zip file is available [here](http://download.cm

[2018-04-17 13:16] mhart commented on #3429
@gireeshpunathil yeah I figured the buffer size had a large responsibility to play in the slow-down.

The only problem is I can't see how to adjust it for `child_process.spawn` like I can with other streaming methods.

[2018-04-17 13:19] hashseed commented on #19630
The amazing @agrieve from the Chrome team has come up with [this PR](https://github.com/v8/node/pull/56) (against the fork of Node.js that V8 is maintaining) to make building with Clang on Windows work!

We could use some feedback on whether this way to build works well for everyone, [similar to](https://github.com/nodejs/TSC/issues/411#issuecomment-355739296) when I initially implemented the `--b

[2018-04-17 13:28] vsemozhetbyt opened #20100 "doc: all.html is seriously broken link-wise"
#### Cause of the state

`all.html` is assembled from [`all.md`](https://github.com/nodejs/node/blob/master/doc/api/all.md) by preliminary gluing all `.md` sources in one blob as they are. This is made by chain of `tools\doc\generate.js` -> `tools\doc\preprocess.js` -> `tools\doc\html.js`.

That means that all the bottom references are merged as they are without collisions resolved.

#### Types of

[2018-04-17 13:35] vsemozhetbyt commented on #20100
cc @nodejs/documentation

[2018-04-17 13:36] mcollina commented on #20096
I'd say.. go for it.

[2018-04-17 14:02] gireeshpunathil commented on #3429
let us wait to hear from the team. I will also try to understand the differences between FIFOs and sockets on their buffering aspects, and what OS tunables control them.

[2018-04-17 14:07] bamanuel commented on #20019
Yes, issue started with v8.6.0. The exactly line causing the issue is:
 ```globalAgent.options = {ca: [fs.readFileSync('./caTrust.cer')]};```

Overwriting the entire globalAgent.options property (initially equals {path: null}) is causing the problem. Either of the following lines work:

[code]

[2018-04-17 14:11] santigimeno commented on #3429
@gireeshpunathil I don't think you can pass ancillary data via pipes.

[2018-04-17 14:11] lantern77 commented on #19954
Sorry for the slow reply,
https://github.com/nodejs/node/issues/19954#issuecomment-380834074, has been updated, hopefully that helps if there are any more questions feel free to ask. As I have been pulling out my hair trying to figure this out.

In regards to

We have multiple node processes that bind to ports, it uses the same code as specified in that comment.
I originally thought that was the i

[2018-04-17 14:11] #19231 closed

[2018-04-17 14:15] andrewhodel commented on #19922
@mcollina thanks for the update.

[2018-04-17 14:27] #20085 closed, assigned to nobody

[2018-04-17 14:36] ryzokuken commented on #19922
Closing this because it is a confirmed bug in Chromium and definitely not a Node.js bug.

@andrewhodel feel free to reopen this or open another issue if you face any further issues.

[2018-04-17 14:36] #19922 closed

[2018-04-17 14:40] apapirovski commented on #20079
Yeah, this is definitely incorrect. We don't emit it on the response either. Both need to be fixed and should match the logic in `http`.

[2018-04-17 14:47] hashseed commented on #19630
My interpretation is that having alternatives is always great :)

[2018-04-17 14:53] ronag opened #20101 "http: client request doesn't always emit `aborted` when aborted"
A `http.ClientRequest` which has received a response but the socket is closed before the response becomes readable will not emit an `aborted` event on the response object nor a hang up error on the request object.

See, https://github.com/nodejs/node/pull/20075/commits/52da0a95e212894720cfc170e32ba2b9d4739449 and https://github.com/nodejs/node/pull/20075

[2018-04-17 14:55] ronag opened #20102 "http: client request req & res 'close' order is inconsistent"
The order in which `close` is emitted on the `http.ClientRequest` request and response object is inconsistent depending on the situation.

See https://github.com/nodejs/node/pull/20075/commits/e2e18aea321c0910eeb1562680dda13473e3b455 and https://github.com/nodejs/node/pull/20075

[2018-04-17 15:09] YouriT commented on #6219
@gireeshpunathil I'm not designing stuff like that anymore, hence that's not an issue for me but it doesn't mean that the problem isn't there anymore.

[2018-04-17 15:13] devsnek commented on #20085
but there's still more user code to run... the `console.log` never runs

[2018-04-17 15:16] apapirovski commented on #20085
Yeah because the Promise never resolves. Just add `setTimeout(() => {}, 2**31-1);` and the process will never quit, but the promise won't resolve either.

[2018-04-17 15:17] apapirovski commented on #20085
Anyway, if you fix the `r.write` call then this is the error I get:

[code]

[2018-04-17 15:25] jasnell commented on #19405
Landed in the revert of the change in v10.x-staging to ensure

[2018-04-17 15:26] nairihar opened #20103 "declaration BUG"
Version: v9.11.1
Platform: Linux ylt160002 4.13.0-37-generic #42~16.04.1-Ubuntu SMP Wed Mar 7 16:03:28 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

![screenshot from 2018-04-17 19-24-14](https://user-images.githubusercontent.com/15065065/38879658-f1d522fc-4274-11e8-8ae5-1aaf54a8b27a.png)

Also I found this issue in Google Chrome
Version 67.0.3377.1 (Official Build) dev (64-bit)

I have tested the same

[2018-04-17 15:29] ronag commented on #20096
I am strongly in favour of this. `close` should always be the last event to be emitted.

[2018-04-17 15:32] mcollina commented on #6083
Fix in https://github.com/nodejs/node/pull/20104.

[2018-04-17 15:39] ronag opened #20106 "http: client should set aborted property on 'aborted'"
We should set the aborted property when remotely aborted as well. Currently, we only do it for local abort.

https://github.com/nodejs/node/pull/20075/commits/8ad8157dda4ddce80d2c8cca800b1dc0f5fffa2c

[2018-04-17 15:41] vsemozhetbyt commented on #20103
See https://github.com/nodejs/node/issues/20056 and many other links there.

[2018-04-17 15:45] ronag opened #20107 "http: client should not emit 'error' after 'aborted' and/or 'abort'"
client requests should only emit `close` after `abort` or `aborted`. Currently, we can emit errors after `aborted` or `abort` which are confusing and makes userland unnecessarily more complicated.

[2018-04-17 15:46] nairihar commented on #20103
Thanks @vsemozhetbyt, I found many duplicate issues, for that reason I am closing this issue.

[2018-04-17 15:46] #20103 closed

[2018-04-17 17:11] Trott commented on #3429
@nodejs/libuv (for @gireeshpunathil's questions/observations above)

[2018-04-17 17:49] paulvanbrenk opened #20112 "Node 10, npm gives an EPERM on every operation"
Version: v10.0.0-nightly201804175eb9f3c91c
Platform: Windows 10 64-bit and 32-bit
Subsystem: npm

Both node and npm are installed in default location, and on the path.

This works as expected in Node 9, which is why I filed an issue here.

Any npm command results in the following error on several machines:
[code]

[2018-04-17 17:50] Trott commented on #20106
@nodejs/http

[2018-04-17 17:51] Trott commented on #20107
@nodejs/http

[2018-04-17 18:46] bnoordhuis commented on #3429
That's right.  Sending file descriptors only works over UNIX domain sockets.

I'm not aware of socket options that let you tweak the size of the send and receive buffers; I'm reasonably sure there aren't any.

[2018-04-17 19:02] plroebuck commented on #18553
PR merged in Node-9.6.0 [2018-02-21].

[2018-04-17 19:04] bnoordhuis commented on #20098
See https://github.com/madler/zlib/issues/82 - Node.js could opt-in to accepting such files but they're arguably malformed.

I _think_ turning on `PKZIP_BUG_WORKAROUND` is harmless but since I'm not 100% sure, I'm inclined to do nothing.

I'll leave this issue open for a while to see if more people run into it.  I don't expect so because you're the first to report it.

[2018-04-17 19:40] targos commented on #19354
https://github.com/nodejs/node/pull/19999 landed. Closing.

[2018-04-17 19:40] #19354 closed

[2018-04-17 20:09] paulvanbrenk commented on #20112
My guess is wrong file permissions are set by the installer, since Node 9 (both npm 5.6 and 5.8) work as expected. File location doesn't seem to be changed between versions, and this happens consistently on multiple machines, and keeps happening even after an hour.

[2018-04-17 20:53] Trott commented on #3429
@bnoordhuis Does that mean this should likely be closed with something along the lines of "Buffer size is necessarily OS dependent, so this is just the way it is."? Or am I reading too much into what you're saying?

[2018-04-17 21:57] addaleax commented on #19903
@cjihrig I think we can guess the impact of this from looking at the frequency on the CI machine: On Node.js v8.x and v9.x, when used on an OS that ships those old glibc versions, every 3000th Node.js process or so crashes once it tries to do something interesting and the machine isn’t under load.

It’s not the end of the world, but I think it would be good if we could get a fix out in Node.js thi

[2018-04-17 23:11] BridgeAR commented on #18658
And again https://ci.nodejs.org/job/node-test-commit-freebsd/nodes=freebsd11-x64/17105/console

[2018-04-17 23:40] billti commented on #20112
I can repro the same issue easily. I tried to debug npm, but turns out this is before it even gets to running npm (as can been seen from the stack above, where it's just trying to open the npm-cli.js file to load it).

I have the latest v10.x branch built locally, and stepping through the code it appears to be due to the recent libuv, which is requesting write access to any opened file. As npm (al

[2018-04-17 23:45] vsemozhetbyt commented on #20112
cc @nodejs/libuv @nodejs/platform-windows

[2018-04-17 23:54] richardlau commented on #20112
Corresponding libuv PR: https://github.com/libuv/libuv/pull/1777

cc @bzoz

[2018-04-17 23:57] vsemozhetbyt commented on #20112
Can reproduce on Windows 7 x64.

1. Create simple `test,js` file. then forbid write access via file property dialog (this should not be simple read-only property, but a security permission change).
2. This file cn be run by all current releases from v4 till v9.
3. Last Nigtly and v8-canary give `EPERM: operation not permitted`.

[2018-04-17 23:59] vsemozhetbyt commented on #20112
cc @jasnell as this can block v10 release.

[2018-04-18 00:04] cjihrig commented on #20112
PR to revert the libuv commit in https://github.com/libuv/libuv/pull/1800. Unless a better solution is available quickly, I'd like to land the revert and cut a new libuv release.

[2018-04-18 00:07] cjihrig commented on #20112
@vsemozhetbyt can you PR a failing test case and mark it blocked?

[2018-04-18 00:25] vsemozhetbyt commented on #20112
@cjihrig I am not sure. I can try, but if anybody is sure enough to make it quickly and confidently, please, do.

[2018-04-18 00:43] richardlau commented on #20112
It's a bit late at night for me, but I think a rough test case would involve:
1. Copying a .js file fixture to `common.tmpDir`
1. Using the Windows [icacls](https://technet.microsoft.com/en-us/library/2009.07.geekofalltrades.aspx) cli command to deny write access for the current user to the copied fixture
1. Attempting to run the copied fixture with `process.execPath`

I suspect the complications

[2018-04-18 00:45] jasnell commented on #20112
Ouch. @cjihrig ... we can float a patch if a libuv update cannot be landed this week. Really need to try to get the commits locked down by end of week.

[2018-04-18 00:48] cjihrig commented on #20112
Proposed release for tomorrow - https://github.com/libuv/libuv/issues/1801. In addition to fixing this, I'd really like to get the fix for #19903 out.

[2018-04-18 00:56] vsemozhetbyt commented on #20112
Trying also to read https://ss64.com/nt/icacls.html ...

[2018-04-18 01:41] vsemozhetbyt commented on #20112
Strange.
As I cannot find an easy way to get file owner name to give it to `icacls`, I am trying to manipulate overall write permission via well-known SID.

When I deny writing permissions for all via GUI dialog, I can run with v4-v9 and not with v10.
When I deny writing permissions for all via `execFileSync('icacls', [scriptName, '/deny', '*S-1-1-0:W']);`, I cannot run with any version.

Will inv

[2018-04-18 01:47] billti commented on #20112
I just wrote up the below test, and this is performing as expected for me (i.e. fails with the current bits, works after building with my fix above).

I can turn this into a test-case and submit if you like. (I haven't contributed a test before, but I'm happy to give it a go). Let me know if you have any guidance on where/how this test should live, and any consideration that should be added.

[cod

[2018-04-18 02:01] vsemozhetbyt commented on #20112
cc @nodejs/testing

[2018-04-18 02:35] binarymist commented on #2578
If using Docker, this known issue is discussed in detail here: https://development.robinwinslow.uk/2016/06/23/fix-docker-networking-dns/

Simple fix is to create the file `/etc/docker/daemon.json`

and insert:

[code]
where `10.0.0.2` is the first DNS server your machine requests records from, and `8.8.8.8` is the fallback DNS server, google in this case.

[2018-04-18 02:36] yhwang commented on #19655
@TimothyGu sorry for the late response. I will try to investigate the invalid memory access.

[2018-04-18 04:56] rvagg commented on #20065
Yeah, I think it could be normalised. Maybe we go with `PARALLEL_ARGS` and default it to (a) `-j$JOBS` then (b) `-J`. It looks like tools/lint-js.js takes both, like tools/test.py so that should be safe I think. I'm not seeing a good reason why we wouldn't just pass on `PARALLEL_ARGS` to all instances of test.py but perhaps I'm overlooking something.

[2018-04-18 05:10] billti commented on #20112
Test up for review in #20116 (may want to merge this in with the fix to avoid any failing tests).

[2018-04-18 05:42] lygstate opened #20118 "napi_get_uv_event_loop is not paltform neutral:)"
Can these API change to be more platform independent.
Cause the eventloop can not only be UV-Event-Loop.
For some special JS engine, they more use event loop other than UV,

We my abstract some common properly of event-loop.
So that this API be more neutral

* **Version**:
* **Platform**:
* **Subsystem**:

[2018-04-18 06:01] donaldpipowitch opened #20119 "Feature Request: Machine-readable file to get Node versions with support dates"
* **Version**:
* **Platform**:
* **Subsystem**:

Hi there!

I'm not sure where to put this in the nodejs org, but I have a feature request regarding Node and the support couldn't help me so far.
Is there a way to get all existing Node versions including the times when they were supported? We currently look into adding Node support to `browserslist` so other tools can target browser and Node enviro

[2018-04-18 06:38] gireeshpunathil commented on #20119
@donaldpipowitch - can you elaborate on
`and the support couldn't help me so far.` ? are you referring to lack of support from Node.js project, or something else?

This page has an updated and comprehensive list of Node.js release schedule, support lifecycle with timelines: https://github.com/nodejs/Release . With some scripting, its content can be made machine-readable.

Hope this helps.

[2018-04-18 06:54] AyushG3112 commented on #20119
You mean something like: http://htmlpreview.github.io/?https://github.com/nodejs/Release/blob/master/schedule.json ?

[2018-04-18 07:27] donaldpipowitch commented on #20119
Just tried to contact the support, but haven't got an answer. Nothing problematic, really :) GitHub is maybe the better place anywhy, as I don't really search for support with using Node itself :)

Thank you *both*! I think https://raw.githubusercontent.com/nodejs/Release/master/schedule.json looks quite good. I'll check, if it has everything we need. Thank you!

[2018-04-18 07:27] #20119 closed

[2018-04-18 08:33] tingshao opened #20122 "build: Add Data Relocation and Protection flags (-z relro -z now) to address potential security issue"
* **Version**: All
* **Platform**: All supported platforms
* **Subsystem**:

This issue is created separately to track the **Data Relocation and Protection** flag from the issue #18671 to make it independent and more clear to track as #18671 contains several compile flags.

The flag is for linker: `-z relro -z now`

The RELRO flag was a mitigation technique to harden the data sections of an ELF bi

[2018-04-18 08:37] tingshao commented on #18671
I created a new issue #20122 to track the Data Relocation and Protection (RELRO) flag to make it independent and more clear to track. Further discussions could be put there, and I also presents some testing results, thanks. @kenny-y @bnoordhuis

[2018-04-18 08:44] backsapce opened #20123 "Maybe we need offical api to delete require module cache?"
* **Version**: v8.9.4
* **Platform**: UNIX
* **Subsystem**:

ref [doc](https://nodejs.org/dist/latest-v9.x/docs/api/modules.html#modules_require_cache)  about delete cache.

hit memory leak just delete cache key .test code belowe
[code]
we can not fix it but use `black magic`.
[code]
i don't think change node inner data struct is good practic.

there are some good method to resolve this problem?

[2018-04-18 08:46] bnoordhuis commented on #20122
I think the problem with `-z now` was (and is) that it breaks add-ons with missing symbols.  I don't know how common that is but it will almost inevitably break _some_ add-ons.

We could either:

1. hack the build so it's only turned on for node itself but not add-ons, or
2. decide the extra security is worth some ecosystem fallout

(2) can be checked up to a point through [citgm](https://github.c

[2018-04-18 09:00] bnoordhuis commented on #20123
See https://github.com/nodejs/node/issues/8443#issuecomment-255930729 and follow-up comments.  I'll reopen that issue and close this one as a duplicate.

[2018-04-18 09:00] #20123 closed

[2018-04-18 09:01] bnoordhuis commented on #8443
Reopening per https://github.com/nodejs/node/issues/20123#issuecomment-382316574.  Needs a decision on if and how we want to support this pattern.

[2018-04-18 09:12] bnoordhuis commented on #20118
The 'N' in n-api stands for Node.js and Node.js uses libuv.  What value is there in supporting some unspecified alternative?

You'll need to make a strong case if you want to see that happen.  I'd start by being specific about what those "special JS engines" are.

[2018-04-18 09:28] lygstate commented on #20118
@bnoordhuis Such as JerryScript, I know N stand Node.js. But libuv just a depends of NodeJS, we should still can use other alternatives.

[2018-04-18 09:30] bnoordhuis commented on #3429
No, I think that sums it up.  I'll close this out.

Libuv could tickle the kernel in ways that might eke out a few percent more throughput but not in any way that's documented or stable.  The next Apple patch could undo that optimization again.

FWIW, Node.js on my 2012 MacBook Air can push almost 200M/sec to `wc -c`, which seems plenty fast to me:
[code]

[code]
We should look into reducing that

[2018-04-18 09:30] #3429 closed

[2018-04-18 09:41] santigimeno commented on #3429
So  `SO_SNDBUF` and `SO_RCVBUF` options wouldn't work for this, right? (Just asking, I haven't used them)

[2018-04-18 10:31] bnoordhuis commented on #3429
No, with qualifications.  It's not that you can't set them, but they don't have any real effect.

I initially figured it might help with blocking reads and writes (because UNIX domain sockets in XNU do have a concept of high and low water marks) but there's no measurable impact.

[2018-04-18 10:34] bnoordhuis commented on #20118
Ignoring libuv, how and when would you use n-api with jerryscript?  What are you ultimately trying to accomplish?

[2018-04-18 10:36] gireeshpunathil commented on #3429
FWIW, I was able to apply `setsockopt` of 64KB on the socketpair successfully, and improve things:

with existing logic:
[code]

with 64KB SNDBUF and RCVBUF on the socketpair:

[code]

[code]

reading is still in terms of 8KB only, but looks like the kernel buffer has more data so Node was able to read 8 times back-to-back before making the callback, so the performance is not lost.

In the absence

[2018-04-18 10:47] addaleax commented on #20118
Also: Any addon that uses this function does generally want to use some libuv functions itself, right? You could just not implement the function to make clear that whatever binary implements it doesn’t generally expose the libuv interface.

[2018-04-18 10:58] lpinca commented on #20106
We should still be able to distinguish if a request was aborted intentionally or not. With this change `request.aborted` no longer means that `request.abort()` has been called.

[2018-04-18 11:03] ankurloriya opened #20127 "Context missised when convert callback to Promise object using Util.promisify"
I am using node-odoo. which is simple RPC call to Odoo System.
Component build using prototype object.
https://github.com/isotopo/node-odoo/blob/master/lib/index.js

I am converting callback function to Promise but it a throwing error. Its seems like context missing.

[code]
When execute the line let result = await Util.promisify(odoo.search)('product.template',[]);
I got this error.

[code]

When

[2018-04-18 11:05] ronag commented on #20106
@lpinca I guess we want both somehow then...

[2018-04-18 11:10] lygstate commented on #20118
@addaleax, That's the same reason people using V8, Why we not expose V8 API but N-API, the reason for libuv is the same.
We can give a name other than uv, and people can do the uv things with that.

[2018-04-18 11:13] addaleax commented on #20118
@lygstate The reason we expose N-API instead of the V8 API is that it’s ABI-stable. It’s not like it’s impossible to implement most of the V8 API without actually including V8 – that’s the idea behind node-chakracore, anyway. If you think renaming to something else would solve the problem, then why not implement those parts of the libuv API that you want to implement directly?

[2018-04-18 11:15] apapirovski commented on #20127
First off, this would be better suited to https://github.com/nodejs/help/issues so I'm going to close it out. Now, to the issue at hand:

You're passing a straight up function reference to `util.promisify` whereas it's really a method on the instance of the Odoo class. It's similar to if you tried to do something like `setImmediate(odoo.search, 'product.template', [])`. It needs a reference to the

[2018-04-18 11:15] #20127 closed

[2018-04-18 11:17] lygstate commented on #20118
@addaleax liuv is a big library, if I want to do something in IoT, resource restricted environment, then using libuv is costy or impossible, cause I would using custom minimal EventLoop.

[2018-04-18 11:26] advanceddeveloper commented on #20127
@ankurloriya

When you directly call `odoo.search()` it will bind `odoo` as the `this` variable when calling `search` method. But, if you call it indirectly (for example `(odoo, odoo.search)()`) it will use different `this`. One way to fix it is to pass another function which will call your main function, like this:

[code]

[2018-04-18 11:30] addaleax commented on #20118
Or, putting it another way: If there is a part of the libuv API that is expose in a very libuv-specific way and other event loop implementations couldn’t fulfill that API contract, that would be a clear sign that such an abstraction layer is a good idea.

But without that, it’s just an extra layer that doesn’t really do anything, right?

[2018-04-18 11:31] apapirovski commented on #15657
I haven't seen this test fail in a really long time. Perhaps we can reopen with more examples if it fails again?

[2018-04-18 11:31] #15657 closed

[2018-04-18 11:32] apapirovski commented on #15416
I have not seen this fail in a very long time. There have been a lot of changes around all this behaviour and we've fixed a bunch of SIGSEGV bugs recently. If it fails again, perhaps we can reopen.

[2018-04-18 11:32] #15416 closed

[2018-04-18 11:41] lygstate commented on #20118
@addaleax, Cause this still not a stable API, so I am asking for more neutral API, and that would not stop people using with libuv. In fact, i found the usage of napi_get_uv_event_loop  comes for
node-ffi-napi -> weak-napi ->setimmediate-napi -> get-uv-event-loop-napi-h
And the setimmediate-napi used more uv event loop APIs.

[2018-04-18 12:00] AyushG3112 commented on #20118
AFAIK, if we were to create a neutral ABI layer, we will have to severely limit what the user can do, and what APIs accessible to the user.

This is because to when a neutral ABI layer, we  can only expose functionality which we are sure would be available in all underlying architectures.

Being `libuv-specific` allows us to theoretically expose any API which is exposed by `libuv`

[2018-04-18 12:17] tniessen commented on #19655
Does it happen on `master` as well?

[2018-04-18 12:54] bnoordhuis commented on #3429
That's interesting.  Does my benchmarklet from https://github.com/nodejs/node/issues/3429#issuecomment-382325325 give different numbers on your system?  I tried what you tried but it made no difference.

Diff so we're talking about the same thing:
[code]

[2018-04-18 13:00] elimence commented on #17996
@bnoordhuis I have a similar question, which is the help repo?
What does v8::internal::Builtin_HandleApiCall(int, v8::internal::Object**, v8::internal::Isolate*) refer to?

[2018-04-18 13:01] bnoordhuis commented on #8443
To be clear, I'm not championing this, just following due process.

[2018-04-18 13:02] bnoordhuis commented on #17996
The help repo is over at https://github.com/nodejs/help/issues.

[2018-04-18 13:03] gireeshpunathil commented on #3429
mine is this:

[code]

plus, I have this: really unsure whether it had any impact or not:
$ cat /etc/sysctl.conf
[code]

will try your benchmark now.

[2018-04-18 13:06] jasnell commented on #20112
Reopening until the libuv update lands here :)

[2018-04-18 13:11] bnoordhuis commented on #20118
I agree.  Libuv abstracts away platform event loops.  Trying to abstracting away libuv... it reminds me of _Inception_ or those Russian babushka dolls.

[2018-04-18 13:13] gireeshpunathil commented on #3429
$ time ./out/Release/node 3429.js
 201326592

[code]

pretty much the same, with or without the patch.

[2018-04-18 13:25] bnoordhuis commented on #3429
Right, so at least that matches up.  Tweaking `net.local.stream.recvspace` and `net.local.stream.sendspace` had no discernible impact for me either.

I think we've tried enough that we can safely say there's no _easy_ fix. :-)

[2018-04-18 13:30] bnoordhuis commented on #20019
I saw that commit but I didn't see anything obviously wrong in the diff.

@bamanuel Have you checked what happens when you revert commit ee157e5a7ffc81ba6be588460a8fba6a89528413?  Worth a try.

[2018-04-18 13:31] palash25 commented on #16342
Can a maintainer please assign this to me?

[2018-04-18 13:33] BridgeAR opened #20128 "Refactor slow running tests"
Our test suite takes quite a while currently and we constantly add new tests. A couple of those run really slow and block other tests to run in the meanwhile. So I checked which ones currently take longer than one second on my machine and this is the list:

[code]

The sequential ones are particularly bad. A couple of these were just improved by @apapirovski in #20125 :heart:.

I believe we should

[2018-04-18 13:36] refack commented on #20128
Made a checklist is people want to "claim" some.

- [ ]  parallel/test-async-wrap-pop-id-during-load
- [ ]  parallel/test-benchmark-arrays
- [ ]  parallel/test-benchmark-assert
- [ ]  parallel/test-benchmark-crypto
- [ ]  parallel/test-benchmark-dgram
- [ ]  parallel/test-benchmark-dns
- [ ]  parallel/test-benchmark-domain
- [ ]  parallel/test-benchmark-es
- [ ]  parallel/test-benchmark-events
- [

[2018-04-18 13:42] apapirovski commented on #20128
I can confidently say that

- sequential/test-http2-timeout-large-write
- sequential/test-http2-timeout-large-write-file

should not be changed. They test important edge case behaviour.

Also, these can't really be changed any further after my PR from today lands:

-  parallel/test-benchmark-arrays
-  parallel/test-benchmark-assert
-  parallel/test-benchmark-crypto
-  parallel/test-benchmark-dgram

[2018-04-18 13:42] BridgeAR commented on #20056
@bmeck for me having const not possible to be reassigned is the worst thing in the repl ;-)

[2018-04-18 13:46] BridgeAR commented on #20128
@apapirovski I removed those from the lists above.

[2018-04-18 14:13] jorangreef opened #20130 "Can buffer.byteOffset be modified?"
Many Node.js methods accept only a buffer, i.e. they don't accept a bufferOffset argument into a buffer.

If one has a buffer with thousands of elements inside, for which a method needs to be called for each, then one can use buffer.slice().

Except that buffer.slice() allocates a new JS object every slice.

Is it possible to make buffer.byteOffset adjustable?

[2018-04-18 14:37] addaleax commented on #20118
That’s awesome, and I’d love to help with that as much as possible! If you are hoping to share a codebase with node-ffi-napi, could you open an issue on the repo and let me know:

- Whether you are going for the full feature set of node-ffi-napi (there is a *lot* of badly designed legacy API in it) or whether cutting away some things is okay
- Whether you plan to have an addon binary that works bo

[2018-04-18 14:58] psmarshall commented on #20130
So the spec says we can't adjust TypedArray.prototype.byteOffset. Buffer is a subclass of Uint8Array, so that's how it gets the byteOffset property.

Buffer.prototype.slice calls the [TypedArray constructor](https://tc39.github.io/ecma262/#sec-typedarray-buffer-byteoffset-length) pretty much directly, which should hopefully be pretty fast for this type of use-case. If it isn't, I could take a look

[2018-04-18 15:06] davisjam commented on #678
There's some discussion on the API [in this libuv PR]https://github.com/libuv/libuv/pull/1726). On my backburner...

[2018-04-18 15:12] jorangreef commented on #20130
Thanks for the feedback.

I know slice is fast, but I wanted to avoid hundreds of thousands of JS object allocations for the GC's sake.

[2018-04-18 15:12] jorangreef commented on #20130
The idea was some kind of slice api, which is not a method call or object allocation, just an integer increment.

[2018-04-18 15:34] devsnek commented on #678
@jasnell i assume people are looking for scalability not performance with this request

[2018-04-18 16:26] vsemozhetbyt commented on #20020
cc @nodejs/platform-windows @nodejs/build

[2018-04-18 16:34] mmarchini commented on #6083
@bnoordhuis I thought llnode was handling interpreted functions 🤔 (at least on Node.js 8). Unfortunately what I've been working on will only fix `perf(1)`, but I'll take a look into llnode to see if it's handling interpreted frames correctly.

Looking at the output from @mcollina though, looks like `bt` was used instead of `v8 bt`, or the postmortem metadata is missing from the binary. At least so

[2018-04-18 17:34] Trott opened #20135 "Investigate flaky parallel/test-child-process-send-returns-boolean"
* **Version**: 10.0.0-pre (master)
* **Platform**: macOS
* **Subsystem**: test child_process

https://ci.nodejs.org/job/node-test-commit-osx/17913/nodes=osx1010/console

[code]

[2018-04-18 17:35] Trott commented on #20135
Reproduced easily on my laptop:

[code]

[2018-04-18 17:37] Trott commented on #20135
(Also has the unfortunate side effect of leaving a child process running.)

[2018-04-18 17:59] Trott commented on #20135
Proposed fix in https://github.com/nodejs/node/pull/20136

[2018-04-18 18:27] jasnell commented on #678
Yep, performance of discreet operations is absolutely not the only concern. Making these operations scale better in aggregate could go a long way towards improving the cost of crypto in Node.js currently (particularly in TLS scenarios). We cannot solve that purely at the crypto layer tho as much of the bottleneck there is in the data flow. @addaleax and @Fishrock123 have each been exploring that p

[2018-04-18 18:31] mindplay-dk commented on #11656
It's really not - it's running a real Ubuntu distro + some kernel/driver patches for interop.

Not by definition, no - there are countless Linux distros, and if you look through the related issues, you'll find at least a few people are reporting the same error under other Linux distros. From what I could gather, the issue could not be narrowed down to WSL-only, and the issue was [closed on the WSL

[2018-04-18 19:08] bnoordhuis commented on #11656
It's an emulator in that it emulates the Linux system call interface.  If you can reproduce the error with a real Linux kernel, then that's something we can look into to.  If it only happens under WSL, it's a WSL bug.

[2018-04-18 19:17] Trott opened #20139 "test-child-process-exec-kill-throws fails intermittently on multiple platforms"
* **Version**: 10.0.0-pre (master)
* **Platform**: n/a
* **Subsystem**: child_process test

This is a bit disconcerting. Both are from the last hour or two. It seems to have popped up only in the last day or two, so it may be caused by something that landed recently?

Here it is timing out on AIX:

https://ci.nodejs.org/job/node-test-commit-aix/14317/nodes=aix61-ppc64/console

[code]

Here it is t

[2018-04-18 19:17] Trott commented on #20139
(The test file hasn't changed in almost a year.)

[2018-04-18 19:38] HardlyMirage commented on #2948
Version 8.11.1

`./configure && make`
`-rwxr-xr-x    1 root     root       34.7M Apr 18 19:00 out/Release/node`

`./configure --without-intl --without-ssl && make`
`-rwxr-xr-x    1 root     root       23.4M Apr 18 19:32 out/Release/node`

Note that the debugger and eslint will break with the leaner binary:
https://github.com/nodejs/node/issues/12758 https://github.com/nodejs/node/issues/5610

[2018-04-18 19:44] jasnell commented on #2948
Building against shared libraries for the dependencies may help as well. Note also that building without intl and ssl will disable many core APIs and cripple the binary in many ways. Proceed with caution.

[2018-04-18 19:52] HardlyMirage commented on #2948
I'm building upon Alpine, what shared libraries can I use here?

[2018-04-18 20:36] ryzokuken commented on #20139
@Trott I have been facing issues with:

[code]

perhaps one of the recent changes to the `child_process` module went wrong?

[2018-04-19 01:05] mathieulj commented on #19733
I have encountered this issue with both node 6.14.1 and 8.11.1 on Debian linux. In my application the functions that pumped up string counts where mostly Bluebird Promisified functions and knex parsers.

[2018-04-19 04:04] brandonrninefive commented on #17668
@addaleax Great! Thank you. I think I've figured out how this works. The `udp_wrap` binding and its associated prototypes/functions are defined within `udp_wrap.cc`. From there, I can use `RemovePrototype()` on `FunctionTemplate` objects to remove their prototype objects. Furthermore, I can use the `Environment` methods that you listed above to define methods outside or within prototype objects.

[2018-04-19 08:57] bnoordhuis commented on #678
That's a very specific and arguably uncommon use case.  The vast majority of cryptographic operations in Node.js operate on small chunks of data; think TLS and signing or verifying cookies.

My lousy laptop does aes-128-cbc at 700 bytes/us.  It can process 5 kB of data or more in the time it takes to round-trip to another thread.  (_Any_ thread, not specifically libuv's thread pool.)

To hammer ho

[2018-04-19 09:18] jorangreef commented on #678
Well, if 4GB files are that rare then let's try HMAC on 128x 65536 byte files. The wager is still on.

Sure, it has already been emphasized several times that this is about reasonable block sizes. 4096 bytes and up. There's your cutoff point.

We're clearly hammering home the same point. Of course there's a cutoff. And it follows from there that async crypto definitely makes sense. I think we're s

[2018-04-19 09:35] jorangreef commented on #678
By the way, we do have 4GB files on our servers, and we do want to HMAC them, and we do want to do this using all available cores.

And there are probably a lot of people who will come to the party on that one too.

Seriously, we really need to ensure together that Node can competently handle concurrent multi-core HMAC on 4GB files, or it's going to fade into irrelevance.

[2018-04-19 10:09] tobia opened #20145 "Ctrl-U and other default bindings in the REPL are a bit counter-intuitive"
* **Version**: v10.0.0-nightly20180419bbdb4af0bd
* **Platform**: Linux 4.10.0-42-generic 46~16.04.1-Ubuntu SMP Mon Dec 4 15:57:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

I'm not sure what library (or custom code) Node uses to handle line editing in the REPL, but being accustomed to Bash and GNU Readline (as most people probably are nowadays) some of the default bindings are a bit counter-intuitiv

[2018-04-19 10:38] bnoordhuis commented on #678
Too simplistic.  Threads add variable latency and some cryptographic operations are cheaper than others.  There's no one-size-fits-all.

Example: for anything AES on Intel or PPC the cutoff is closer to tens or hundreds of kilobytes because of hardware support.

To be clear, I'm not saying that support for async crypto isn't worthwhile, but I'll strenuously object to making it the default without

[2018-04-19 10:49] bnoordhuis commented on #20145
Pull requests welcome, I'd say.

I think that's an acceptable change.

`readline` doesn't have a concept of yank buffers.  Some discussion is probably necessary on how to add that.  It should gel well with the public API.

FWIW, that's a deliberate change because you often type `obj.wrong^Wright`.  Vim works the same way.

[2018-04-19 11:58] tcoopman opened #20148 "`fs.watch` stops a detachted process gets input when reading from stdin"
* **Version**: 9.11.1
* **Platform**: linux
* **Subsystem**: archilinux

Some example code to that shows the problem:

[code]

When you run this script detachted: `./script.js &` and send any input to stdin (for example just press enter), `fs` stops watching. You get the message: `Job 1, './script.js &' has stopped` printed on the terminal but the actual proces is still running. If you bring the p

[2018-04-19 12:23] Snorlak opened #20150 "Centos 7 - Node bot.js"
Hello,

I recently installed node and nvm (Node Version Manager).
Simply downgraded by using the following command: - Only because my desktop uses that version.

nvm install v9.11.1

Furthermore upon trying to run bot.js which is located at /home/bot.

I get the following issue - does nothing until I hit control c:
https://i.imgur.com/QIxqC3z.png

VPS located on the left of the image.

Any help wo

[2018-04-19 12:42] Snorlak commented on #20150
`SteamUser = require('steam-user');
const SteamTotp = require('steam-totp');
const client = new SteamUser();

const logOnOptions = {
	accountName: 'this-is-filled-in',
	password: 'this-is-filled-in',
	twoFactorCode: SteamTotp.generateAuthCode("this-is-filled-in")
};

client.logOn(logOnOptions);

client.on('loggedOn', () => {
	console.log('succesfully logged on.');
	client.setPersona(SteamUser.Stea

[2018-04-19 13:14] jorangreef commented on #678
Well, I was specific. The context was HMAC. I suggested a benchmark of 10 x 4GB HMAC (256-bit), and then a benchmark of 128 x 65536 HMAC. Even a fixed 4096 will work amazingly well by the way but who says the cutoff has to be fixed, and fixed for all algorithms? There are ways to determine optimal cutoff points if one is serious. The point I have repeatedly made since 2016 was that async crypto is

[2018-04-19 13:24] joaocgreis commented on #20020
I cannot reproduce. That step is almost instantaneous, I can't even read that message in my machines. This is very likely a bug in either WiX or msiexec (but it's not completely impossible it is in our custom actions).

@vsemozhetbyt can you investigate what it's doing during that time? Perhaps the easiest way would be to generate an install log (`msiexec /i <filename>.msi /l*v InstallLog.txt`) an

[2018-04-19 13:27] mcollina commented on #6083
My bad, I was using the wrong command. Anyway, I tracked down the problem and a PR is on the way.

[2018-04-19 13:47] targos commented on #19503
I still have this problem.

Can you try to reproduce with the following branch?
https://github.com/targos/node/tree/net-check-family

[code]

[2018-04-19 14:03] mscdex commented on #20150
This issue tracker is for reporting bugs in node core and submitting feature requests for node core.

General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

Issues with third-party modules, npm, or other tools that *use* node, should be posted to the appropriate issue tracker for that project, unless it can be proven that the iss

[2018-04-19 14:03] #20150 closed

[2018-04-19 14:05] nyxtom opened #20151 "_http_common ParserIncomingMessage fails to check for undefined on parser.socket.server[kIncomingMessage]"
https://github.com/nodejs/node/blob/15e41a9951c425913c43073ba5f6af04c0867715/lib/_http_common.js#L78-L82

Due to this line of code, if `parser.socket.server[kIncomingMessage]` is `undefined`, an error will be thrown on the line below where the ParserIncomingMessage is constructed. A simple additional check here would solve this issue. A few libraries have cropped this up in `socket.io`, `ws` and s

[2018-04-19 14:34] vsemozhetbyt commented on #20020
I've tried `msiexec /i <filename>.msi /l*v InstallLog.txt` and had ~70 seconds lag this time.
[Whole log](https://drive.google.com/file/d/1z20drHalQrk4YKF7iuvXf_iTXpa9at9B/view?usp=sharing) (~2 MB in zip).
If I get the timing right, this is where the lag happens:
[code]
I will try to install from scratch.

[2018-04-19 14:38] vsemozhetbyt commented on #20020
After uninstalling and installing from scratch I have no lags, all steps are very quick.

[2018-04-19 14:50] apapirovski commented on #20151
This will be in the 10.x release. See https://github.com/nodejs/node/pull/20029 for a fix.

[2018-04-19 14:50] #20151 closed

[2018-04-19 15:25] bnoordhuis commented on #678
I'll summarize the issue for people wanting to work on it:

1. Adding async crypto support?  Pull requests welcome.
2. Making async crypto the default?  No, no consensus.

[2018-04-19 15:32] jasnell commented on #678
And @bnoordhuis is not the only one. As I mentioned earlier, I know that @indutny has looked at this and I benchmarked a broad range of scenarios last summer, possibly not to the extent @bnoordhuis has but enough to be able to validate everything he's saying here.

I'm 100% in favor of work being done on this, and I'm 100% in favor of exploring how to make the crypto pipeline for things like TLS m

[2018-04-19 15:54] bnoordhuis commented on #20148
That's working as expected.  When you put the node process in the background and then feed its stdin, it gets sent a `SIGTTIN` signal that pauses it.  When you `fg` it again, the shell sends it a `SIGCONT` that unpauses it.

Compare `python -c 'input()' &`, it behaves the same way.

[2018-04-19 15:54] #20148 closed

[2018-04-19 16:36] jasnell commented on #14537
@nodejs/tsc @nodejs/crypto ... If this is going to make it in time for 10.0.0 it *really* needs to get landed today.

[2018-04-19 16:40] jasnell commented on #19405
Note: the revert landed in 10.x but this is still an open issue in master.

[2018-04-19 16:46] bnoordhuis commented on #14537
I only identified what certificates would need to be distrusted, I didn't write any code.  What about you, @ChALkeR?

(FWIW, I also don't think any action is needed right now but maybe that's just me.)

[2018-04-19 16:48] jasnell commented on #14537
If that's the case, then awesome :-) Just want to make sure nothing slips through. I'll take this off the 10.0.0 milestone. Please add it back on and give me a heads up if it definitely needs to be added back.

[2018-04-19 16:49] bnoordhuis commented on #20019
cc @bengl since I doubt that's the intended behavior.

[2018-04-19 16:52] scottcomer opened #20154 "module.paths seems to be set incorrectly"
* **Version**: 8.11.1, 9.11.1
* **Platform**: Darwin SCOTTMAC.local 17.5.0 Darwin Kernel Version 17.5.0: Mon Mar  5 22:24:32 PST 2018; root:xnu-4570.51.1~1/RELEASE_X86_64 x86_64
* **Subsystem**: core

module.paths seems to be set incorrectly. this is for lts version 8.11.1 and also stable version 9.11.1.

MAC:~ scott$ node -v
v8.11.1
MAC:~ scott$ node

[ '/Users/scott/repl/node_modules',
  '/Users

[2018-04-19 16:57] richardlau commented on #20154
No, the code is correct. The last three listed entries are the discouraged (but still supported for historical reasons) global folders that Node.js automatically searches. See https://nodejs.org/dist/latest-v8.x/docs/api/modules.html#modules_loading_from_the_global_folders.

[2018-04-19 16:57] #20154 closed

[2018-04-19 18:34] joyeecheung commented on #16342
@palash25 We do not usually assign issues to people unless someone assign themselves. If you want to pick this up (which is more than welcomed!) please go ahead and open a new PR.

[2018-04-19 18:35] Trott commented on #20139
This test is also leaving child processes around causing the test runs to fail. Example: https://ci.nodejs.org/job/node-test-commit-osx/17954/nodes=osx1010/console

[2018-04-19 18:35] joyeecheung commented on #16342
@palash25 Also please mention `Fixes: https://github.com/nodejs/node/issues/16342` in the PR message when you open the PR.

[2018-04-19 18:39] hemanthkoduru commented on #16466
Hi,

I can't find the following code in Node.js core:
[code]

Search link: https://github.com/nodejs/node/search?utf8=%E2%9C%93&q=c2b1435b55&type=

Can you explain me what is needed to be done?
@trivikr

[2018-04-19 18:39] gibfahn commented on #19630
So if this doesn't remove the dependency on Visual Studio, the only benefit would be that we'd have to do this at some point if V8 drop support for MSVC?

[2018-04-19 18:41] ryzokuken commented on #20139
@Trott https://github.com/nodejs/node/pull/20045 is also failing because of this.

I propose working on mitigating immediately. Let me know if I could help in any way.

[2018-04-19 18:41] Trott commented on #20139
@nodejs/build: As an immediate short term fix so macOS can get back to green, can someone do these:

* on test-requireio-osx1010-x64-1: `sudo kill -9 8467`
* on test-macstadium-macos10.10-x64-2: `sudo kill -9 62646`

[2018-04-19 19:25] Kramb opened #20155 "Request - Select project in which to execute node in"
I was toying around with `nodevars.bat` so that I could execute node in my local source folder and I thought it would benefit others to be able to do the same. I have written a **rough** batch script that builds an array of my project folder names within my source folder, and when I execute Node.js command prompt it waits for me to select a project. Upon selection, node starts in that location rat

[2018-04-19 19:52] Trott commented on #20139
I took care of test-requireio-osx1010-x64-1  but don't have a login on macstadium (will check docs to see if I can figure that one out).

[2018-04-19 21:12] arei commented on #16258
Given the consensus is that this is not really a problem worth solving, I am closing it.  I have also implemented this out in userland, although it is far from pretty.  I mention it here for others whom may have the same problem or if anyone is interested in seeing: https://www.npmjs.com/package/toplevelprocess

[2018-04-19 21:12] #16258 closed

[2018-04-19 22:07] SimenB opened #20157 "Cannot extend Console in node 10 rc.0"
* **Version**:
10.0.0-rc.0
* **Platform**:
macOS
* **Subsystem**:
`console`

See the following file:
[code]

This will log `[Function: hello]` in node 8 and node 9, but `undefined` in the RC.

I'm not sure if it's supposed to happen - my only guess from looking at the changelog is #17708, but I'm not sure if it's it?

This completely breaks Jest (which I wanted to test using the RC) as it extends

[2018-04-19 22:25] vsemozhetbyt commented on #20157
cc @jasnell Sorry, seems like one more regression blocking v10.

[2018-04-19 22:32] apapirovski commented on #20157
Fix coming shortly.

[2018-04-19 22:41] apapirovski commented on #20157
PR in https://github.com/nodejs/node/pull/20158

[2018-04-19 22:51] Trott opened #20159 "Migrate or delete crypto/OpenSSL wiki doc?"
* **Version**: n/a
* **Platform**: n/a
* **Subsystem**: doc

Not sure if there's consensus on eliminating the wiki or not, but if we do, should https://github.com/nodejs/node/wiki/Crypto-Performance-Notes-for-OpenSSL-1.0.2a-on-iojs-v1.8.0 be migrated somewhere (docs or the website) or is it OK to let it get deleted?

/cc @shigeki @nodejs/crypto

[2018-04-19 23:01] Trott commented on #20159
@nodejs/documentation

[2018-04-19 23:17] Trott opened #20160 "v10.0.0-rc.0 + npm emitting Buffer deprecation warnings on macOS"
* **Version**: v10.0.0-rc.0
* **Platform**: macOS
* **Subsystem**: buffer

[code]

Turning on trace warnings so we can see what's causing the warning to be emitted:

[code]

It seems to be `/Users/trott/.nvm/versions/node/v10.0.0-rc.0/lib/node_modules/npm/node_modules/tar/lib/parse.js` which should not trigger a warning because it is inside of a `node_modules` directory. The offending line is:

[c

[2018-04-19 23:50] fs-eire commented on #17817
@AdamMajer me too. The problem only happen on gcc5.x/6.x+Ubuntu14.04. Other platform combination does not have this issue.

May be a compiler problem, or compiler-OS compatibility problem.

[2018-04-20 00:27] gabrielschulhof commented on #20118
@lygstate JerryScript has at least one major hurdle to overcome before we can finish an N-API implementation on it. Specifically, it must implement symbols. Otherwise, I have an in-progress port of [N-API for JerryScript](https://github.com/gabrielschulhof/jerryscript/tree/n-api-test-promise-with-reference).

I would imagine that `napi_get_uv_event_loop()` would be pretty much a no-op on JrS, sinc

[2018-04-20 01:09] shigeki commented on #20159
It is already outdated so no need to be migrated. Deleted.

[2018-04-20 01:09] #20159 closed

[2018-04-20 02:07] gireeshpunathil commented on #19944
srue

[2018-04-20 03:33] icahnchen opened #20162 "React Native Debug with VSCODE：Error: EBADF: bad file descriptor, uv_pipe_open"
* **Version**: v9.11.1
* **Platform**: win 10 x64
* **Subsystem**: VSCode with React Native Tools Extension

I develop with React-Native, I am writing code with vscode, and I have installed the React Native Tools extension. But I cannot debug the code with description as below:
`OS: win32 x64
Adapter node: v8.9.3 x64
vscode-chrome-debug-core: 3.23.0
Starting debugger app worker.
Established a conn

[2018-04-20 05:46] #19919 closed

[2018-04-20 06:10] apapirovski commented on #20160
Same issue for me on macOS without even using nvm. Just happens when I `npm install anything`, doesn't even have to be global as far as I can tell.

[2018-04-20 06:11] kenny-y commented on #6379
I think I've found a memory leak when trying to constantly write a string to `process.stdout`. I'm investigating what's really going on... will open a new bug if it's not related.

![image](https://user-images.githubusercontent.com/3302320/39033383-54882440-44a4-11e8-8877-1e8d7c25f4db.png)

[2018-04-20 06:34] apapirovski commented on #20160
@addaleax I think we might need to make this more lenient and just match anything in `node_modules`, even if it's at the same level as the main file. See line 379 in `internal/util.js`: `match[0] !== mainPrefix`.

[2018-04-20 06:44] lygstate commented on #20118
@gabrielschulhof  That's great.

[2018-04-20 08:16] bnoordhuis commented on #20162
Without more details it's impossible to say what goes wrong except that the `NODE_CHANNEL_FD` environment variable doesn't point to a valid file descriptor.  That's normally set by `child_process.fork()`.

Can you provide steps to reproduce that don't involve third-party projects?  By "third-party" I mean VS Code, the extension, etc.  If not, can you close out the issue?