[2017-07-26 07:32] NaruFGT commented on #10659
I have a similar issue on Node v8.1.4
[code]
I believe it is a pg-native problem for me. I'll add more info if I resolve the problem.

[2017-07-26 08:08] Jeyanthinath commented on #14490
I will take this

[2017-07-26 08:18] vsemozhetbyt commented on #11209
If we ban all the non-ASCII chars, this could be`Literal[value=/[^\t\n -~]/]`. But this does not affect comments if I get this right.

Currently, we have non-ASCII chars in 4 `*.js` files in lib folder:
1. `lib/console.js` (two `’` in comments)
2. `lib/stream.js` (one `’` in comments)
3. `lib/internal/test/unicode.js` (one `✓` in code)
4. `lib/timers.js` (many pseudographics chars in comments)

[2017-07-26 08:20] gireeshpunathil commented on #14496
@XadillaX - thanks. So your proposal is to select between the two based on the number of lines of code they encompass? The bearing the arrow functions have on their enclosure w.r.t receiver, arguments etc. and the necessity for using those bindings in the code should be the deciding factor in choosing one over the other right?

[2017-07-26 08:23] gireeshpunathil commented on #14496
On a second thought, if we are migrating from anonymous inliners to arrow functions, I guess there will not be any such thing as `this` bindings etc. existing. We can refactor the code based on the context, bring in arrow functions based on the opportunity to use enclosure bindings.

[2017-07-26 08:29] bnoordhuis commented on #7231
As a workaround, start a timer in parallel.  If the timer expires before you get an answer back, tell the caller it timed out and ignore the answer once it does come in.

[2017-07-26 08:29] loretoparisi commented on #14479
@bnoordhuis Ok, my question is: Will native module share the heap allocated by `--max-old-space-size`?

[2017-07-26 08:32] bnoordhuis commented on #14496
You don't explain _why_ you think that.  I can guess (and probably guess right) but it's better if you state it explicitly.

[2017-07-26 08:35] bnoordhuis commented on #14479
Yes.

If you have more questions, please move it to the help repo.  This issue tracker is very busy and we try to keep the S/N ratio high.

[2017-07-26 08:43] fastman commented on #14444
Hi,
When we are on this, what do you think about replacing
`child.kill([signal])` [1]
with
`child.sendSignal([signal])` ?

Killing the child just does not sound right :/

[1] https://nodejs.org/dist/latest-v6.x/docs/api/child_process.html#child_process_child_kill_signal

[2017-07-26 08:47] bnoordhuis commented on #11289
I don't think there is anything actionable.  I'll close it out.  Thanks for the bug report, @aalexgabi.

[2017-07-26 08:47] #11289 closed

[2017-07-26 08:48] bnoordhuis commented on #14444
@fastman It maps 1-to-1 to the system call of the same name.

[2017-07-26 08:52] xenon2 commented on #14444
We should be more inclusive. In future AI can learn that we are killing many digital children! Maybe we should create some kind of digital limbo with process recycling instead of putting them into nothingness of digital void.

[2017-07-26 08:59] Jeyanthinath commented on #14490
I tested the cpp lint with

[code]

[2017-07-26 09:52] benjamingr commented on #14444
@fastman

I'm with @bnoordhuis here, while I'm not a fan of the name unix chose for signals - `kill` is the operating system commend and I don't think we can replace it. I'd rather avoid offensive terminology as much as possible - but not at the expense of changing operating system terms.

[2017-07-26 09:55] jorangreef commented on #11289
I think it's actionable if it's an issue with fragmentation.

@aalexgabi's gist should work with Node. Sure, it's pushing the edge with so many temporary buffers but it's a reasonable stress test. Node should be able to handle these kinds of edge cases without being fragile.

This could be fixed through a better allocator.

[2017-07-26 10:03] mikemaccana commented on #9717
Missed this but thanks for the explanation @bnoordhuis (and no it wasn't obvious!).

[2017-07-26 10:13] XadillaX commented on #14496
I my opinion, in semantics arrow function stands for a lambda expression that input some arguments and do some simple logic to output a value.

eg. A `map` function requires an array and a lambda expression to deal with each element in the array, so we should use arrow function. And most time they should exist in a synchronous context.

[code]

And if we need a function to stand for a callback or

[2017-07-26 10:17] XadillaX commented on #14496
I saw some code where in my opinion ought to be anonymous function that written with arrow function.

e.g.

[code]

So I want to try to discuss it and see if we can do any standardizing with them.

[2017-07-26 10:21] ysmood opened #14498 "Concurrent server.listen(0) will hang up incoming request"
* **Version**: v8.0.0
* **Platform**: Darwin 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64

[code]

This code should work without problem, but it will throw error randomly. My system apparently has 1000 more free ports.

If the listen's callback is called, the port should be available, but it is not.

If node cannot get a free port f

[2017-07-26 10:44] hakunin commented on #7593
@cpojer Maybe FB should done a developer to the node project for a few months so we can get somewhere :D

[2017-07-26 10:48] packetstracer commented on #13564
adding --inspect value in node parameters worked for me

[https://intellij-support.jetbrains.com/hc/en-us/community/posts/115000397470/comments/115000392244](url)

[2017-07-26 10:55] bnoordhuis commented on #14498
What error or errors?

[2017-07-26 11:04] ozjd commented on #7231
Agreed that it seems this is the only other option, but I'm under the impression it will still hold up any future lookups as it's not actually stopping.

eg. https://github.com/nodejs/node/issues/8436

[2017-07-26 11:14] bnoordhuis commented on #7231
Yes, that's true for `dns.lookup()`; it calls into the C runtime library from the thread pool.  `dns.resolve()` and friends use minimal resources though; only a few bytes of memory.

[2017-07-26 11:18] ysmood commented on #14498
Well after I restarted my computer, the issue seems disappeared.

[2017-07-26 11:18] #14498 closed

[2017-07-26 13:49] XadillaX commented on #14496
IMHO I consider arrow function is something more like a inline closure or a scope, but not a function. So in semantics it's not suitable to use as a callback function or a listener.

Sorry for my pool English that may not convey my opinion exactly.

[2017-07-26 13:50] bnoordhuis commented on #11289
There are two things here:

1. The process runs out of memory because it queues up 2 million fs.write() requests.
2. RSS doesn't go down after the test completes.

Point 1 is not a bug but a peculiarity: since the test case doesn't pass a callback to `fs.write()` (which is deprecated), node.js calls `process.emitWarning()` 2 million times, exacerbated by 2 million calls to `Error.captureStackTrace

[2017-07-26 13:59] ikokostya commented on #7231
As I can understand `с-ares` allows cancel requests: https://c-ares.haxx.se/ares_cancel.html. But this API isn't available in `Node.js`.

Have you any plans for support cancellation for `dns.resolve*` functions?

[2017-07-26 14:00] Trott commented on #14430
If the test is *necessarily* flaky on 6.x, then I'm not sure it makes sense to mark it as flaky on 6.x. By marking it as flaky, the results will always be ignored. For a test where there's a chance of fixing the issue, that's fine.

For a test where there's no possible fix and/or no intention of fixing, it may be better to remove the test rather than have a test whose results are ignored.

Or if t

[2017-07-26 14:02] Trott commented on #14430
Oh, not sure it's reasonable if the test is resource-intensive, but another option would be to program in a retry into the test before deciding the test has failed. Not great, but probably better than not having a test or having a test whose failures are discounted.

[2017-07-26 14:03] XadillaX commented on #7231
@ikokostya I think I can try to work for this feature

[2017-07-26 14:39] SlugFiller commented on #14481
A FIFO. For example
[code]

Desired behavior: The Node.JS script would "give up" after 5 seconds, and stop opening the file. With an actual API, and not the supplied workaround.

Current behavior: Without the workaround Node.JS would actually get stuck indefinitely after the `.exit`, or at least until the file is opened by another process.

Also, the workaround only works for FIFO, while a similar

[2017-07-26 15:33] danielo515 commented on #6673
I can't understand why this issue has left closed and unresolved.

I expected this to happen on infinite synchronous recursive loops because the stack, that makes sense. But asynchronous code does not retain the stack (it is lost, reset or whatever it happens) so I never expected a leak like this happening.
I understand that every promise keeps a reference to the next promise, it makes sense to ke

[2017-07-26 15:37] vkurchatkin commented on #6673
@danielo515 this issue has been closed, because it is a problem with the spec and is not actionable. One workaround is to use async functions and `while` loop.

[2017-07-26 15:41] jorangreef commented on #11289
Yes, this is the thing.

Perhaps jemalloc would be another way forward.

Antirez has some comments on moving to jemalloc from glibc a few years back: http://oldblog.antirez.com/post/everything-about-redis-24.html).

[code]

Also, Jason Evans from 2011 (https://www.facebook.com/notes/facebook-engineering/scalable-memory-allocation-using-jemalloc/480222803919):

[code]

[2017-07-26 15:45] sirsquall opened #14504 "code ELIFECYCLE Exit status 1 at EventEmitter.<anonymous>"
#### I'm opening this issue because:

I'm using the boilerplate : https://github.com/vuejs-templates/pwa/tree/master/template
and when I run e2e to fire the tests on my mac everything is working fine, but not on my Jenkins, and I don't konw why

#### How can the CLI team reproduce the problem?

[code]

### supporting information:

 - `node -v` prints: v7.10.1
 - `npm -v` prints: v4.6.1
 - `npm con

[2017-07-26 15:48] danielo515 commented on #6673
Hello @vkurchatkin thanks for your prompt response. I'm a bit worried about async functions having the same problem (according to https://github.com/nodejs/node/issues/9339). Because node 8 has some problems with some of our tools, do you know if I can use async await in node 7 ? Maybe with an  harmony flag?

I'm a bit disappointed about promises 😢

thanks again

[2017-07-26 16:26] gireeshpunathil commented on #14496
[code]
This code shows the difference in terms of memory rentention - if you swap the normal listener for the arrow function, you see the memory shoots up - as the object foo() is held up with the arrow, while the listener only retains its closure context.

While both leak memory in this scenario, the arrow causes more damage.

So I guess the usage should be based on whether the continuation funct

[2017-07-26 16:53] nomadlogic commented on #14384
@targos is there a bug report regarding Canary as per:
"Clang is what's blocking us to ship V8 6.0, but it's not the only problem we have with FreeBSD. Right now Canary is broken on FreeBSD 10 and 11 and I don't know who I can ask to look into the issue and submit a patch upstream."

I'd like to take a look at the issue and see if I can help triage and see what I can do to help fix it.

As @emaste

[2017-07-26 16:56] Jeyanthinath commented on #14209
I will give it a try @refack

[2017-07-26 17:07] mscdex commented on #14504
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

[2017-07-26 17:07] #14504 closed

[2017-07-26 17:17] mscdex commented on #14496
@gireeshpunathil Have you posted an issue on the V8 issue tracker about that? I'm not sure there should be a difference like that...

[2017-07-26 17:21] TimothyGu commented on #14496
@gireeshpunathil Well the thing is, even though a human being can reason and say `'never'` is never called, V8 won't know that until `e` gets out of scope. So, while the arrow function does more damage as you say, it is the expected behavior.

[2017-07-26 17:22] bnoordhuis commented on #7231
`ares_cancel()` cancels _all_ outstanding requests, there is no way to cancel a single one.

Giving a request its own channel with `ares_dup()` is _an_ option, but probably not a _good_ option.  It has high overhead but what's more, since it rescans /etc/resolv.conf etc., it adds a whole new set of failure modes if the configuration changed since the application was started.

[2017-07-26 17:25] TimothyGu commented on #14496
And I'd like to point out the fact that no one would write `this` if they don't need `this`, either in `function() {}` or an arrow function. In fact, common alternatives to arrow functions (`var self = this` and `function() {}.bind(this)`) would cause the `foo` object to not get GC'd either. The arrow is doing its job here just fine.

[2017-07-26 17:26] addaleax commented on #7231
@bnoordhuis @XadillaX I’ve been thinking it might make sense to expose ways to manage c-ares channels manually from JS, basically just to reduce the global state that’s inherent in having a single one per environment (then making `dns.setServers` just replace the default one). And now it sounds like this issue is something where that would actually help solve a problem; what do you think?

[2017-07-26 17:31] TimothyGu commented on #6673
@danielo515 You can use the harmony flag, just not for production. #9339 was fixed in V8 5.5 which is in v7.6.0+.

Frankly I'd be more disappointed about your tools that don't work on v8.x...

[2017-07-26 17:44] andrasq commented on #14487
correct, `String()` is orthogonal to the `O(n)` scan, but it accounts for 94% of the runtime, making the scan a minor second-order effect.

The code already fetches the `Object.keys` of the array, and the keys are passed as a hash to `formatArray`.  If the array itself were also available (instead of just the hash), the first 101 entries in the keys array contain all the information needed to comp

[2017-07-26 18:06] bnoordhuis commented on #14481
That's not specific to node.js.  `fs.open()` is a wrapper around the open(2) system call and that system call blocks unconditionally when you open an unresponsive FIFO.  Pass `O_NONBLOCK` and handle the error:
[code]
I'll go ahead and close this.

[2017-07-26 18:06] #14481 closed

[2017-07-26 18:10] #14407 closed

[2017-07-26 18:39] bnoordhuis commented on #14420
Thanks, I understand what you mean but I don't think it's a bug but a misunderstanding.  In particular, this...

...does not necessarily follow.  WeakMaps are collected when there is pressure to do so but there is no such pressure in your test case; on my machine it doesn't even use 50% of the max JS heap size.

If you restrict the heap with `--max_old_space_size=256` (256 MB), you see that the GC

[2017-07-26 18:39] #14420 closed

[2017-07-26 18:43] bnoordhuis commented on #7231
Not opposed but depends on what the API would look like.  Too much direct exposure of implementation details would make it hard to move away from c-ares if we ever needed to do that.

[2017-07-26 19:02] BridgeAR commented on #14487
@andrasq that is true and I realized that as well when looking at the code but it is actually bad that Object.keys is used as it is not necessary for arrays when using `for in`. I am pretty sure inspect has quite a few more optimization possibilities overall and this would be a good follow up for this. But using for in in general for arrays seems like the best solution on the long run as you only

[2017-07-26 19:17] #14432 closed

[2017-07-26 19:38] DimitryAndric commented on #14384
It would be nice if somebody could retrieve the reproduction files that were reported in the original crash report, e.g:
[code]
But most likely those artifacts are long gone now? Is there any other good way to reproduce?

[2017-07-26 19:51] NawarA commented on #8066
What do we need to do to add this feature? What are the next steps?

[2017-07-26 20:37] bnoordhuis commented on #11289
I'm not rabidly opposed to jemalloc (libc interop issues aside) but the "other reasons" I alluded to are exploiting known facts about allocations; e.g., that most memory is allocated and freed on the main thread (no synchronization needed), or that memory for a fs request should come from a different bin because it stays around longer than the temp storage used for flattening a string.  That kind

[2017-07-26 21:06] Trott commented on #11422
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-26 21:10] evanlucas commented on #14496
I don't agree that they should only be used for lambda like expressions. I use them pretty heavily for the non-binding of `this`. I would be -1 to making this change.

[2017-07-26 21:56] owenallenaz commented on #14420
When you say "WeakMaps are collected when there is pressure to do so", is that a feature specific to WeakMaps or is that just how the V8 garbage collector system works for all entities? If it's how it works in general, then that would not explain why my RSS goes down neatly when I use an array instead of a WeakMap(). If it is specific to WeakMap(), then what I would infer from your statement is it

[2017-07-26 22:16] bnoordhuis commented on #14420
It's specific to WeakMaps (and other weak entities), the GC deals with them in a separate post-processing step.

`--max-old-space-size` is always a good idea if you have specific ideas about what memory usage should look like.  Unless told otherwise, the GC will prefer to grow the heap if it has to vacuum too often.  That isn't specific to WeakMaps but maybe it's a little more pronounced with them

[2017-07-26 22:37] Trott commented on #10268
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-26 22:37] #10268 closed

[2017-07-26 22:38] Trott commented on #11467
@sam-github Should this remain open?

[2017-07-26 22:42] Trott opened #14507 "investigate flaky test-inspector-stop-profile-after-done on Windows"
* **Version**: v9.0.0-pre
* **Platform**: vs2015-x86,win2008r2
* **Subsystem**: test inspector

https://ci.nodejs.org/job/node-test-binary-windows/10112/RUN_SUBSET=1,VS_VERSION=vs2015-x86,label=win2008r2/console

[code]

@nodejs/v8-inspector

[2017-07-26 22:44] Trott commented on #14507
Hmmm, looks like this may be actually totally not working at all rather than flaky?

https://ci.nodejs.org/job/node-test-binary-windows/10113/RUN_SUBSET=1,VS_VERSION=vs2015,label=win2012r2/console

[code]

@nodejs/platform-windows

[2017-07-26 22:47] Trott commented on #14507
OK, only two failures in a row, it was working reliably before that, although it's only been landed for a short time.

@nodejs/build in case something's up with the host maybe?

[2017-07-26 22:53] eugeneo commented on #14507
I will try a stress test run.

[2017-07-26 22:55] Trott commented on #11343
Closing because v7.x is EOL. Please comment or re-open if this should remain open. Thanks!

[2017-07-26 23:04] Trott commented on #11077
Should this remain open? Or can it be closed?

[2017-07-26 23:05] Trott commented on #3606
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-26 23:05] #3606 closed

[2017-07-26 23:14] Trott commented on #11524
Should this stay open or can it be closed?

[2017-07-26 23:22] addaleax commented on #12646
I think it might be time for @gabrielschulhof as well?

Comments: https://github.com/nodejs/node/search?q=commenter%3Agabrielschulhof&type=Issues&utf8=%E2%9C%93
Commits: https://github.com/nodejs/node/commits/master?author=gabrielschulhof

[2017-07-26 23:22] addaleax commented on #12646
Also, is anybody (@Trott) actively scheduling onboarding sessions? I can do some after next week

[2017-07-26 23:33] #11401 closed

[2017-07-26 23:40] Trott commented on #12646
@addaleax I talked to @fhinkel and she was going to see if @bmeurer is interested or not. Other than that, I haven't been doing anything, but doing something has been on my list. Feel free to run with it! :-D

[2017-07-26 23:49] sam-github commented on #11467
yes, the docs are wrong

[2017-07-26 23:50] XadillaX commented on #14496
The point is - should we use it for non-binding of `this` and then give up the semantics?

[2017-07-26 23:56] Trott commented on #2363
Is this being worked on? Should this stay open at this point?

[2017-07-26 23:56] Trott commented on #11484
Should this be closed? Split up into narrower individual issues? Left alone?

[2017-07-26 23:56] bengl commented on #9592
The objective of the error-handling section in that guide was to get people in the habit of ensuring that streams/EEs have error handlers, so as to not have any unexpected/unhandled errors. It may be a bit heavy handed, due to the way these streams actually behave, I still think it's worth it to underline the importance of stream/EE error handling.

[2017-07-27 00:13] Trott commented on #1873
This should stay open, yes?

[2017-07-27 00:18] Trott commented on #11500
This is still an issue and should remain open?

[2017-07-27 00:21] Trott commented on #11545
Is this still a bug in Node.js 6.11.1? (Bug isn't tripped on my operating system, so I'm guessing it's Linux-specific.)

[2017-07-27 00:23] Trott commented on #11619
Test was removed when support for legacy debugger was removed. I'm going to close this, but feel free to re-open if you feel like it should be kept open for v4.x and v6.x branches. (I think it's probably not worth it as it is unlikely anyone will take the time to fix it.)

[2017-07-27 00:23] #11619 closed

[2017-07-27 00:24] Trott commented on #11674
Should this remain open?

[2017-07-27 00:25] Trott commented on #11333
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-27 00:25] #11333 closed

[2017-07-27 00:26] Trott commented on #2398
Should this remain open?

[2017-07-27 00:27] Trott commented on #11578
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-27 00:27] #11578 closed

[2017-07-27 00:31] #13926 closed

[2017-07-27 00:34] vsemozhetbyt commented on #11500
@Trott I have no strong opinion, but may be these two things would be helpful for beginners:

1. Mention of `vcbuild help`.
2. Note about default build architecture (`x64`).

[2017-07-27 02:53] XadillaX commented on #7231
@addaleax I wonder how the performance it will be if we use a single channel (it means we `ares_init` for each) for each request?

[2017-07-27 03:13] alangpierce commented on #11343
@Trott this is still an issue on node 8. This microbenchmark takes about 3 seconds on node 8.2.1 and about 370ms on node 6.11.1:

[code]

That said, the issue was recently fixed in V8: https://bugs.chromium.org/p/v8/issues/detail?id=5962

So this will be fixed whenever node pulls in the fix.

[2017-07-27 04:26] gireeshpunathil commented on #14496
Looking back, I guesss my point was not clearly articulated. Let me try once again:

1. Does the test case reveal a bug in v8? No. It precisely manifests the specification of arrow function, and nothing more.
2. Is arrow function doing more damage than normal function an expected behavior? Yes. It holds up the enclosure's receiver obejct, exactly what it is supposed to do.
3. Will any one use `thi

[2017-07-27 05:01] mcollina commented on #2398
Yes. It is still a major lack in Node.js.

[2017-07-27 05:31] lpinca commented on #11674
@Trott I don't think so.

[2017-07-27 05:50] Trott commented on #11674
Closing due to inactivity. Feel free to re-open or comment if you think this should be open and the conversation should continue.

[2017-07-27 05:58] MikeRalphson commented on #13048
Possibly related to #11343 which indicates a fix has landed in v8.

[2017-07-27 06:35] eljefedelrodeodeljefe commented on #2398
Is this something recent additions to libuv might be helpful with. E.g. `libuv-extras` (didn't have a look yet)

[2017-07-27 07:10] bnoordhuis commented on #2398
It could, it would make it useful to a larger audience, but you'd still need some glue code for node.js.

[2017-07-27 07:21] aseaday opened #14509 "A fatal error of wasm with my own built node with v8 6.1.0"
* v9.0.0-pre with v8 6.1.0:
* macos 10.12.5:

I build master branch of node and just replace the deps/v8 with the newest v8 source code in order to test new feature of WebAssmebly. But I met a problem when I run code:

[code]

And I met an error:

[code]

Is there any workaround and suggestions  because I want test SIMD features in node.

[2017-07-27 07:35] bnoordhuis commented on #14496
But only because its body refers to `this`.  The enclosing `this` is captured as needed; i.e., the memory footprint of `() => {}` and `function() {}` is the same.

I propose to close the issue because there is no consensus and no technical reason one is better than the other.

[2017-07-27 07:37] danielo515 commented on #6673
@TimothyGu , the problem is that I need it for production. According to the spec, async functions are available on node 7.10 without harmony flag, and it is the current LTS version. I'll give it a try.

Regards

[2017-07-27 07:38] novemberborn commented on #11422
@Trott the documentation around this could be approved. Might be worth keeping the ticket around for that. I just haven't gotten around to it.

[2017-07-27 07:40] bnoordhuis commented on #7231
@XadillaX Bad, most likely.  It does a lot of things: parsing config files, parsing environment variables, and so on.

It would be a very nice solution if it weren't for the overhead.  Maybe someone can look into adding a less expensive version of `ares_dup()` upstream.  `ares_clone()`, anyone?

[2017-07-27 07:59] fastman commented on #14444
@benjamingr
I understand, but should't we strive to be a better community?
In my opinion, saying that something was done wrong in the past, sticking to it and repeating mistakes should not be a way to go.

Maybe at least we could change the wording in the documentation? [1]

@bnoordhuis
I'm not sure that it maps 1-1 to the system call - I think that `kill` function in Node.JS does a little bit mor

[2017-07-27 08:48] bnoordhuis commented on #11524
I think this can be closed.

[2017-07-27 08:48] #11524 closed

[2017-07-27 08:53] TimothyGu commented on #6673
@danielo515 The latest LTS is v6.x. v7.x is not supported by the project at all. Why don't you just use `setImmediate` as a workaround until you can use v8.x? Again, if you use 7.x, or if you use any V8 experimental harmony flags, you are on your own, which is… not ideal for production.

[2017-07-27 08:57] mscdex commented on #14509
You can't just blindly swap V8 versions like that. Not only are there possible compatibility issues, but we float patches on top of V8 as well.

[2017-07-27 09:00] mscdex commented on #14509
FWIW the V8 team does maintain their own fork of node with the latest V8 [here](https://github.com/v8/node/). Otherwise, if you're just looking for the `wasm` global, just add the command line flag `--expose-wasm` to a recent version of node.

[2017-07-27 09:00] vsemozhetbyt commented on #14509
@aseaday You can try to build from https://github.com/nodejs/node/tree/canary-base or to use binaries from https://nodejs.org/download/v8-canary/

[2017-07-27 09:06] targos commented on #14509
This issue should probably be reported to the [V8 issue tracker](https://crbug.com/v8/). I don't think there is anything we can do here about WebAssembly.

[2017-07-27 09:15] aseaday commented on #14509
@targos @mscdex  thx, I think it is my own problem,  Thx. The v8 for node should be patched because of taskManager. And this issue could be closed.

[2017-07-27 09:15] #14509 closed

[2017-07-27 09:15] TimothyGu commented on #14444
Nor should creating a set of "Node.js-specific terminology" against established tradition be our modus operandi, IMHO. There are multiple duties (in a deontological sense) at play here:

1. The wording should not be disturbing.
2. Maintaining compatibility with older Node.js versions.
3. Maintaining consistent terminology to help developers familiar with other environments transition to Node.js.

[2017-07-27 09:37] seishun commented on #11674
It still lists the same unconvincing reasons, so reopening.

[2017-07-27 10:15] tniessen commented on #11674
That's where @Trott's suggestion to always use core-validate-commit comes in handy.

I fear this might be true. Our current workflow more or less ensures that people pay a lot of attention to what they are doing, and I am not sure that will be true when using GitHub's button.

Don't forget this section of the guide, at least when it comes to code changes:

Sure, we could as well run the tests usin

[2017-07-27 10:27] lpinca commented on #11674
This isn't a problem in practice. CI already rebases onto the target branch and chances for new commits to be added to target branch before merging are low. Commits are _usually_ not landed at such a high rate (every 20 min or so).

[2017-07-27 11:52] fastman commented on #14444
@TimothyGu What do you think about changing the wording in the documentation? `child` variable can be replaced with any name.
`kill(2)` manual is more precise in that matter and avoids confusing terminology. Apart from the name itself it is about `sending signal` to a `process`

[2017-07-27 12:28] TimothyGu commented on #14496
I don't think @gireeshpunathil's point was what OP referred to. I believe what @XadillaX was arguing for is *semantic correctness* of arrow functions' original intent: to be lambda functions in a strictly mathematical sense, rather than just syntactic sugar for `.bind(this)`.

I don't necessarily agree with this. The introduction of `() => { statement; }` in addition to the shorter `() => expressi

[2017-07-27 12:32] benjamingr commented on #14444
I'd like to see the discussion about the possibility of renaming `.kill` or adding an alias moved to another (new) thread if you're fine with it @fastman .

[2017-07-27 12:37] jaimecbernardo commented on #8221
The profiler processor is currently showing a lot of `UNKNOWN`s due to the change in the output format for memory addresses [(was changed from `0x%x` to `%p`)](https://github.com/targos/node/blob/ec02b811a8a5c999bab4de312be2d732b7d9d50b/deps/v8/src/log-utils.cc#L168). The `%p` format specified is implementation specific and behaves differently on Windows.

The profiler processor expects a format t

[2017-07-27 13:52] trevnorris commented on #11674
_Summary_: While using the green button isn't "bad", it can only be used with a subset of PRs and introduces a greater margin of error while also adding unnecessary noise to the commit graph (if using the "merge" option). So maintaining that using the green button is off limits is reasonable and isn't necessary to discuss further.

---------------

@seishun
I created a patch w/ the author/committe

[2017-07-27 14:21] lpinca commented on #11674
@trevnorris the "merge commit" option has been discarded and marked as not viable from the beginning. The discussion was on the "squash and merge" option.

P.S. I noticed that we now have only the "merge commit" option enabled.

![screen shot 2017-07-27 at 16 14 19](https://user-images.githubusercontent.com/1443911/28675011-d7fe2256-72e6-11e7-994b-7d31b9b23ead.png)

I'm pretty sure we disabled it

[2017-07-27 14:24] saurav2501 opened #14512 "error lineNumber and fileName"
* **Version**:
* **Platform**:
* **Subsystem**:

I'm not able to track error lineNumber and fileName using error.lineName or error.fileName

[2017-07-27 14:28] bnoordhuis commented on #14512
Can you post questions to https://github.com/nodejs/help/issues?  Unless you are reporting a bug, but in that case please post steps to reproduce.

[2017-07-27 14:28] #14512 closed

[2017-07-27 14:40] bnoordhuis commented on #14424
Fixed by 1fa67c7.

[2017-07-27 14:40] #14424 closed

[2017-07-27 14:53] refack commented on #14430
IMHO yellow ⚠️ is better than ❌. It communicates that something it sort of wrong, and if it becomes consistent, it will get investigated. Red just makes people dig, find it's unrelated, and lose faith in the CI.

I do agree that it the test could be rewritten to stabilize it, that is the better option in the longer term.

[2017-07-27 15:02] mika-fischer commented on #8966
Looks like this might be fixed in c-ares 1.13.0:
https://github.com/c-ares/c-ares/commit/55bbe92677e4acaaf866cbeae3be6df8925e4618
https://c-ares.haxx.se/mail/c-ares-archive-2017-06/0003.shtml

[2017-07-27 15:16] #14461 closed

[2017-07-27 15:21] jellelicht opened #14513 "make check should not fail for release tarballs"
* **Version**: 8.2.1
* **Platform**: Linux flip 4.10.0-28-generic #32-Ubuntu SMP Fri Jun 30 05:32:18 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

PR #13658 introduced a hard-failing linter in case the linter dependencies are not included.

This happens to be the case for at least release 8.2.1, and as part of normal packaging procedures we run `make check` to verify that everything still works as it s

[2017-07-27 15:49] aalexgabi commented on #11289
Adding a callback:
[code]
Avoids the crash but the leak/fragmentation is still there:
![image](https://user-images.githubusercontent.com/600821/28679441-81c78aaa-72f3-11e7-8a66-13e60ec8550e.png)

[2017-07-27 16:58] LinearSpoon opened #14516 "Issue using super in arrow function with block body in async class function"
* **Version**: v8.2.1, v9.0.0-nightly201707259ab3172e5d
* **Platform**: Windows x64, Ubuntu 16.04 x64

Using an arrow function with a block body in this situation causes an unhandled promise rejection. If async is removed, the code will run with no error. I also tested node 7.10.1 and found it was unaffected.
[code]
Program output on 8.2.1 and the latest nightly:
[code]

Program output on 7.10.1
[

[2017-07-27 17:13] bwhitty opened #14517 "try/catch and callbacks in user-space act differently than with built-ins"
Hi all, I'm reporting an inconsistency in try/catch handling in callbacks when used with user-space code vs built-in code. Reproduction and explanation is below. If I'm actually just understanding things incorrectly, please let me know.

* **Version**: All that I could find (6.x and upwards through 8.2.1)
* **Platform**: MacOS Sierra 10.12.6

Reproduction case:
[code]
The output is as follows:

[c

[2017-07-27 17:40] addaleax commented on #7231
PR for my suggestion: https://github.com/nodejs/node/issues/14518

[2017-07-27 17:42] Trott commented on #11422
I guess I wouldn't personally object to a doc update, but I don't know about keeping an issue open about it as it seems superfluous too. My reasoning is:

*  It seems like the expectation here is unusual. @bnoordhuis notes that Ruby and Python behave the same way. I just checked and so does Perl. I'm unaware of _any_ language that resolves the symlink when determining tmpdir, but correction is wel

[2017-07-27 18:12] mscdex commented on #14517
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

However, the short answer to your question is that in the first case there is a synchronous error and in the second case there is an asynchronous error (happens after the current tick). You cannot use try-catch to catch an error that occurs at some point in the future, it has

[2017-07-27 18:18] bwhitty commented on #14517
Yeesh, thank you @mscdex. Did not mean to misuse the error tracker; genuinely thought I had an issue here. Appreciate you pointing out my mistake.

[2017-07-27 18:18] #14517 closed

[2017-07-27 19:09] andrasq commented on #14402
lldb versions 3.8, 4.0 and 5.0 segfault in `GetMachine()` when loading a non-localhost corefile.  Turns out the debian 8.x pre-built lldb-3.5 still works, so I did not pursue this tangent further.

[code]
The specific function is
[code]

[2017-07-27 19:30] tniessen opened #14519 "Internal domain function can be used to cause segfaults"
* **Version**: master
* **Platform**: all
* **Subsystem**: process / domain

The following snippet will cause a segmentation fault on master:

[code]

This is caused by using `env->domain_array->Get(0)` instead of the safe variant of the `Get` function. This is not limited to `randomBytes`, there is a number of files with similar code.

The priority of this issue is very low as it uses undocumente

[2017-07-27 21:35] jasongin commented on #13254
@matthewloring and I had a discussion yesterday about exposing APIs for async hooks in N-API, and I've started looking into this further. Before proposing a design, I have a few questions:

 - What is the reason for the `async_context` structure? It looks like it would be simpler for `EmitAsyncInit()` to just return the execution async ID, since the trigger ID is provided by the caller. Or could t

[2017-07-27 21:42] ede0m commented on #10137
Getting the same issue when running with v6.11.0. However, v7.5.0 has worked for me. I am required to use LTS version however :(

[2017-07-27 22:17] austingray commented on #8369
FWIW, I was having this same issue. Deleted my `node_modules` folder and ran `npm install` and it worked.

[2017-07-27 22:23] trevnorris commented on #13254
It's only a double b/c that's the only numeric type that JS supports, and the async id is assigned as an object property for quick lookup. Can you explain what you mean by "opaque" more?

That API exists in in JS and would be possible in C++, but @AndreasMadsen is more knowledgeable as to whether there would be any issues doing this.

[2017-07-27 22:28] addaleax commented on #13254
It is provided by default but the usual scenario is going to be that the trigger ID is inferred from context.

The typedef is a somewhat intentional step towards making it opaque, yes. It might still be good to be able to log the value, or to pass it to JS and have it comparable to the values JS sees.

Maybe/probably? It should not be hard, and while it would be really nice to have domains impleme

[2017-07-27 22:52] AndreasMadsen commented on #13254
@addaleax is right. I want to add that there is no API for getting the default value, other than `EmitAsyncInit()`. It also prevents some easy to make bugs. I think we would like to do the same in the JS Embedder API but unfortunately tubles/structs are too expensive in JS.

I have sometimes abused the fact that the double is increasing with time, which makes it an easy sortkey and thus I can use

[2017-07-27 22:56] addaleax commented on #13254
By the way, I tried that a while back, and… the tricky bit isn’t implementing domains on top of `async_hooks`, the tricky bit is going to be that Node’s unhandled exception handling is a horrible mess of spaghetti code. We *should* completely re-write that, but that’s going to be a breaking change in itself.

[2017-07-27 23:22] aaliddell opened #14523 "zlib flush() fails to flush all data when callback is not provided and needDrain == true"
* **Version**: 8.2.1 and prior (any version ~4.x.x and above, due to 1543c78c12658ee57fc3677a1cb0297696f94ad4)
* **Platform**: Any
* **Subsystem**: Zlib

When using the `flush()` method on a zlib stream, the stream will not be flushed fully if a callback is not provided and `ws.needDrain` is true. This appears to have been introduced all the way back in #3534, in an attempt to prevent flush listen

[2017-07-27 23:30] trevnorris commented on #13254
@addaleax

Nevermind me. Was thinking of something else. It's what I get for trying to respond to issues while in a meeting.

@AndreasMadsen

When `AsyncListener` was first introduced I spend a month trying to do this. Got it ~90% the way there, but do to some fundamental differences the last 10% was impossible.

My initial work on this is at https://github.com/nodejs/node-v0.x-archive/commit/bc39

[2017-07-28 00:15] jasongin commented on #13254
I don't understand that reasoning. It could easily be treated as an integer in the native API. While working on performance optimizations for N-API, I found that creating a V8 number value is somewhat faster using `v8::Integer::New(int32)` compared to `v8::Number::New(double)`, even though the latter will eventually still create an optimized integer representation when the double value has no frac

[2017-07-28 00:21] addaleax commented on #14523
Excellent bug report. I can’t really tell which approach seems like the better one, but I think the two ones you mentioned are the most reasonable.

[2017-07-28 00:59] taveras commented on #14398
hello! i'm a first-time contributor, and it seems that the issue highlights a change needed in the
following documentation: [`doc/api/n-api.md`](https://github.com/nodejs/node/blob/master/doc/api/n-api.md)

is it okay if I open a PR for this change?

[2017-07-28 01:57] gabrielschulhof commented on #14398
@taveras Absolutely :)

[2017-07-28 02:55] coolaj86 commented on #12716
Using the example code that I provided above my findings are:

FAILURE in `node v6.11.1 LTS`

SUCCESS in `node v8.2.1`

[2017-07-28 06:56] danielo515 commented on #6673
My mistake . However we have been using v7 for months on production without any problem, and as I said the harmony flag is not required for asynchronous functions

[2017-07-28 07:51] jasongin commented on #13254
After studying this more, I don't think that is the right approach. The current N-API async functions (`napi_create_async_work` and friends) are adapters for libuv APIs (`uv_queue_work` etc.), _not_ Node APIs. I think hiding async hooks behind the same abstraction would limit flexibility. The current async support in N-API is known to be incomplete: advanced async scenarios (such as background thr

[2017-07-28 08:16] jasongin commented on #13254
Oh and as for domains... after studying the code more I realized that won't be a problem, since the N-API implementation (using either approach) would certainly use `AsyncWrap::MakeCallback()`, which already handles domains.

[2017-07-28 08:22] ex1st commented on #14516
Chrome 59:
[code]
Chrome 60:
[code]

It seems like a V8 bug. May be in v8.3.0 (with V8 6.0) it will be fixed.

[2017-07-28 08:24] bnoordhuis commented on #6673
@danielo515 You should upgrade.  v7 is end-of-life, it doesn't get security fixes.  We put out a security release earlier this month that fixed a denial-of-service; v7 is vulnerable.

[2017-07-28 08:35] danielo515 commented on #6673
@bnoordhuis update to which version ? With v.7 I mean 7.10. If you mean that I should update to node v.8 that may be a problem

[2017-07-28 08:51] bnoordhuis commented on #11289
@aalexgabi Yes, I mentioned that in https://github.com/nodejs/node/issues/11289#issuecomment-318058766.

[2017-07-28 08:53] bnoordhuis commented on #6673
@danielo515 either v6.x or v8.x, both are LTS release lines.

[2017-07-28 08:55] Jeyanthinath commented on #14490
@TimothyGu

Some of the TODO's are without name , and showing linting error , whose name I should put there ?

[2017-07-28 09:05] bnoordhuis commented on #11545
I can still reproduce, on MacOS too.  Try running it in a loop:
[code]

[2017-07-28 09:09] TimothyGu commented on #14490
@Jeyanthinath Use `git blame` or GitHub's blame interface to check who added that TODO, and put their name there. E.g. for https://github.com/nodejs/node/blame/9623ce572a02632b7596452e079bba066db3a429/src/tracing/node_trace_buffer.h#L78, you would see that the line was added in https://github.com/nodejs/node/commit/ba4847e879424ad173289e8fb96cc86a09ee899b, which was authored by misterpoe. You woul

[2017-07-28 09:09] bnoordhuis commented on #2363
I'll close it out.  It's almost its 2nd anniversary and no one has put up a PR so far.  If someone still wants to pursue this, open a PR and we'll take it from there.

[2017-07-28 09:09] #2363 closed

[2017-07-28 09:16] bnoordhuis commented on #11077
I'll close it out, I don't think there is anything we can do here.  (Node could print a warning when THP is enabled but THP isn't always a problem so I don't think that's the right thing to do.)

Suggestions welcome, though!

[2017-07-28 09:16] #11077 closed

[2017-07-28 10:18] tniessen commented on #14516
This was fixed upstream in https://github.com/v8/v8/commit/05696362ada4db592b28c6868577cdb57ff9bf12, which will be included in all 6.x branches of v8. Node 8 and 9 will receive patches.

cc @nodejs/v8

[2017-07-28 10:32] brigand commented on #8443
I have a use case for this. I'm writing a chat bot that has a plugin system which I want to reload when anything is changed in the code, while preserving some other modules that hold state (logs, the IRC socket, etc.). I ran into this quickly with the naive approach of emptying the cache on every message. Restarting the process isn't viable because it'd mean ~10s of downtime.

I wrote a test progr

[2017-07-28 11:02] TimothyGu commented on #8443
Why would you need to do that on *every message*? The overhead is simply non-trivial, either CPU- or memory-wise.

Either way, can you make sure the sockets and the logs, and only those, are preserved when clearing the cache?

Let's continue this conversation over at https://github.com/nodejs/help to talk about your case specifically.

[2017-07-28 11:43] danielo515 commented on #6673
Thanks @bnoordhuis , I'll give a try to v8.x

[2017-07-28 11:46] brigand commented on #8443
Sure, https://github.com/nodejs/help/issues/757. Thanks 😄

[2017-07-28 12:39] kasicka commented on #14171
Is this getting backported to v8.x too?

[2017-07-28 12:41] addaleax commented on #14171
@kasicka Yes, once https://github.com/nodejs/node/pull/14345 lands it is automatically scheduled to be included in the next Node 8.x release.

[2017-07-28 12:57] NeilFraser opened #14528 "Sudden performance drop after multiple executions"
* **Version**: v8.2.1
* **Platform**: MacOS 10.12.6 and Debian 4.9.30

Node experiences a sudden and permanent drop in performance partway through executing the attached test.  The test consists of running the same code eight times.  After the first three times, the performance drops to one half (OS X) or one third (Debian) of its previous performance.
 Memory usage remains at a constant 60 MB thr

[2017-07-28 12:59] bnoordhuis commented on #14528
Quite possible.  `--trace_opt --trace_deopt` usually prints the what and why

[2017-07-28 13:35] vsemozhetbyt commented on #14528
@NeilFraser What Chrome version do you compare with? It may be that one of the old Crankshaft deopts is involved, as in Node.js canary (V8 6.1) there are no significant degradations:
Node.js 8.2.1 (V8 5.8):
[code]
Node.js 9.0.0  (V8 6.1):
[code]

[2017-07-28 13:35] jorisvervuurt commented on #13737
Same thing all over again with v8.2.1. :-(

[2017-07-28 13:52] vsemozhetbyt commented on #14528
[Output](https://gist.github.com/vsemozhetbyt/320f5a7c884c608b9d83516b7537925d
) from `node  --trace_opt --trace_deopt run.js > out.txt` (many various deopts in dependencies).

[2017-07-28 14:39] Trott commented on #14507
Still happening with some frequency.

https://ci.nodejs.org/job/node-test-binary-windows/10142/RUN_SUBSET=3,VS_VERSION=vcbt2015,label=win10/console

[code]

Would like to get #14508 landed so we get better information about what the JSON looks like when it fails.

[2017-07-28 15:10] jaimecbernardo commented on #8221
A change to fix the issue by making the output in Windows equivalent to the ouput from other platforms has landed upstream https://chromium.googlesource.com/v8/v8/+/4229ca207e1d139d57cd9c2e72c6174d4c81878c

[2017-07-28 15:34] Fishrock123 commented on #14513
cc @gibfahn

[2017-07-28 15:41] TimothyGu commented on #8443
@ChALkeR

What kind of internal references are you referring to?

[2017-07-28 15:44] gibfahn commented on #13737
cc/ @rvagg

[2017-07-28 16:03] #14171 closed

[2017-07-28 16:11] NeilFraser commented on #14528
Thanks @vsemozhetbyt
I've refined your results and found the point at which the problem was resolved in Node.  This version is the last to exhibit the cliff behaviour:
`v9.0.0-nightly20170606b830c976b5/                  06-Jun-2017 19:35`
And the next day there is no cliff:
`v9.0.0-nightly20170607eef94a8bf8/                  07-Jun-2017 20:00`

Looking at the logs I see that was the date when PR #

[2017-07-28 16:16] TimothyGu commented on #8443
Answering my own question: all `require()`d modules are retained in the `parentModule.children`, regardless of whether it was deleted.

[code]

[code]

At the end of `a.js`'s execution, `module.children` where `module` is the object exposed in `a.js` will contain 100 `Module` objects, all of `b.js`:

![screenshot from 2017-07-28 23-58-45](https://user-images.githubusercontent.com/1538624/28725978-

[2017-07-28 16:17] gibfahn commented on #11674
@lpinca, that's not quite right, we kept the `Create a merge commit` button because we thought that would be obviously not something you should use. If we only kept the `Squash and Merge` option then people might start to use it.

Discussion: https://github.com/nodejs/node/pull/11686#issuecomment-289383925

[2017-07-28 16:18] gibfahn commented on #11674
For anyone reading this, this is (AIUI) a documentation request, not a "we should revisit this discussion" request.

[2017-07-28 16:22] Fishrock123 commented on #13737
8.1.1 needs to be promoted by @jasnell, who I had previously pinged about this...

8.2.1 is my doing... partially. The armv6 machines were down late last week and I forgot. I'll try to get that in line today.

[2017-07-28 16:29] isaaczinda opened #14530 "stream.unpipe cannot be chained"
Version: 8.2.1
Platform: Windows 10, 64 bit
Subsystem: stream

    var stream = require('stream');
    var fs = require('fs');

    var readable = fs.createReadStream('in.txt');
    var transform = stream.PassThrough();
    var writable = fs.createWriteStream('out.txt');

    readable.pipe(transform).pipe(writable);

    setTimeout(function() {
       // this does not work
       readable.unpipe(t

[2017-07-28 16:39] gibfahn commented on #14513
If we don't include the linter in the release tarball then I agree that it doesn't make sense to fail tests. I guess the better change would be to change the linter check in https://github.com/nodejs/node/blob/master/Makefile#L915 from `tools/eslint/lib/eslint.js` to `tools/eslint/`.

Is there a way to detect that it's a release tarball (rather than an eslint upgrade gone wrong)?

[2017-07-28 16:52] Fishrock123 commented on #13737
Looks like the CI is still having issues...

[2017-07-28 16:58] lpinca commented on #11674
@gibfahn thank you. I guess I stopped reading that thread when it was closed.

[2017-07-28 17:02] VolleMelk commented on #8897
@vikalyan Yes, mounting a data volume using `docker run --volume C:\code-on-host:C:\code` works using the workaround (https://github.com/nodejs/node/issues/8897#issuecomment-298662512) @StefanScherer provided

[2017-07-28 17:07] mscdex commented on #14530
You mean `readable.unpipe(transform)`?

[2017-07-28 17:21] isaaczinda commented on #14530
@mscdex you're right, just changed the issue description.

[2017-07-28 17:41] eugeneo commented on #14507
I tried to use the stress test runner in CI - but got some puzzling errors.
Retrying.

On Fri, Jul 28, 2017 at 7:40 AM Rich Trott <notifications@github.com> wrote:

[2017-07-28 17:47] vsemozhetbyt commented on #14528
@NeilFraser It seems we can have V8 6.0 in Node.js 8.x next week or a bit later: https://github.com/nodejs/CTC/issues/155

[2017-07-28 17:56] digitalinfinity opened #14532 "Criteria for n-api to exit experimental status"
At VM Summit [#4](https://github.com/nodejs/vm/issues/6), a rough criteria was formulated for n-api to exit experimental status. The consensus was that this criteria needs to be refined further, and this issue is meant to facilitate that discussion.

Current criteria:
1. - [x] Multiple implementations of n-api on at least 2 VMs
1. - [ ] At least two modules that are NPM installable with pre-builds

[2017-07-28 18:20] eugeneo commented on #14507
100 runs were not flaky: https://ci.nodejs.org/job/node-stress-single-test/1349/nodes=win2012r2/

Will try 1000 runs on win10

[2017-07-28 18:38] vikalyan commented on #8897
@VolleMelk Thank you. Yes, we had to rebuild our container images and make some code changes to take advantage of @StefanScherer 's workaround. It works.

[2017-07-28 18:47] addaleax commented on #14068
ping @legitparty, interested in opening a PR?

[2017-07-28 19:08] eugeneo commented on #14507
https://ci.nodejs.org/job/node-stress-single-test/1350/nodes=win10/console - I am not sure what the failure here is...

[2017-07-28 20:21] trevnorris commented on #13254
@jasongin

Reasons:
1. A 32 bit id is too small, so must use something larger.
1. The id is assigned as an object property, and it helps to prevent any unexpected side-effects by treating them as two different types (e.g. `int64_t` in C++ and `double` in JS)
1. The id can fit in a `Float64Arrray`, which makes operations on it between C++ and JS much faster.

This is true, except as stated above `i

[2017-07-28 21:32] refack commented on #14532
@addaleax Will you be willing to release `lzma-native` pre-gyped as N-API (even for just a single node version)?
@ gabrielschulhof we have you down for `iotivity-node` (I can help with pre-gyping it)

[2017-07-28 21:35] refack commented on #14532
@Silur we are looking for native-module maintainers who will release an "untagged" version build on N-API.

[2017-07-28 21:37] addaleax commented on #14532
@refack You mean, my 5k downloads/month pet project? ;) Yea, sure, it’s on my list of things to do anyway, even if just to see how smooth the transition goes.

[2017-07-28 21:40] xfix commented on #8443
If I'm reading https://nodejs.org/api/modules.html#modules_require_cache correctly, `require.cache` is stable and deleting keys is documented.

I assume this is about modifying `module.children` array, because while `module.children` is documented and stable, modifying it isn't documented at all.

[2017-07-28 21:50] trevnorris commented on #1826
@Trott Been wrapped up w/ work and async hook. If @TimothyGu is available then he should probably mentor.

[2017-07-28 22:19] Fishrock123 commented on #13737
@jorisvervuurt Armv6 is up for 8.2.1, and the blog has been updated: https://nodejs.org/en/blog/release/v8.2.1/

Sorry again for the inconvenience!

[2017-07-28 22:28] mcollina commented on #14530
This is a semver-major change to the streams API.
Even if it's currently an inconvenience, I am -1 on making this change because of the massive breakage it will have in end-user code.

cc @nodejs/streams

[2017-07-28 22:34] refack commented on #13471
Windows Subsystem for Linux out of Beta! (in build 16251)
https://blogs.msdn.microsoft.com/commandline/2017/07/28/windows-subsystem-for-linux-out-of-beta/

@nodejs/platform-windows @nodejs/release @nodejs/build @nodejs/testing Do we want to consider officially supporting node/WSL (more specifical node/Ubuntu 16.04/WSL)?

[2017-07-29 00:32] TimothyGu commented on #1826
I'd like to reiterate that I'm available for mentoring. @Zahidul-Islam We can get started on any module that doesn't yet support any other TypedArrays except Uint8Array. What time will you be available for talk on IRC? I'm generally available 12am – 9am UTC due to the timezone I'm in.

[2017-07-29 02:06] brigand commented on #8443
Thanks @TimothyGu !

Any chance of this being documented?

[2017-07-29 02:48] Trott commented on #11368
Looking at the current version of the guide, I think this issue can be closed. Feel free to comment or re-open if you disagree. Thanks!

[2017-07-29 02:48] #11368 closed

[2017-07-29 03:05] Trott commented on #11424
On current master, this works for me. It triggers the debugger. On Node.js 6.x, it does nothing.

Seems like it's fixed! @eugeneo: Please re-open if I'm wrong about that!

[2017-07-29 03:05] #11424 closed

[2017-07-29 04:01] Trott commented on #2339
Is this close-able? Or should it stay open?

[2017-07-29 04:05] Trott commented on #11809
Haven't seen this one since it first came up in March. Closing. Feel free to re-open if you think it shouldn't be closed at this time.

[2017-07-29 04:05] #11809 closed

[2017-07-29 05:08] Trott commented on #11719
Seems like this can be closed. If I'm mistaken, please comment or re-open.

[2017-07-29 05:08] #11719 closed

[2017-07-29 08:36] #14426 closed

[2017-07-29 08:39] bnoordhuis commented on #2339
I don't think there is consensus that this is a bug that needs fixing.  I'll close it out.

[2017-07-29 08:39] #2339 closed

[2017-07-29 08:49] bnoordhuis commented on #14532
I'll try to move over node-iconv next week.  ~140k downloads/month with good continuous integration.  (Its unwitting users!  If anything breaks I usually hear about it within the hour.)

[2017-07-29 09:15] dunnock opened #14535 "Node 8.2 in Windows Container dns.lookup to kube-dns for CNAME fails during 15min"
* **Version**:
v8.2.1

* **Platform**:
Windows 64-bit
10.0.14393.0

* **Subsystem**:
dns

When performing dns.lookup on a host resolved by CNAME callback receives error ENOTFOUND:
[code]

`nslookup` from shell resolves ok
[code]

when performing lookup for direct domain `blob.am5prdstr12a.store.core.windows.net` it works:
[code]

same version of node on Mac resolves ok:
[code]

dig output:
[code]

[2017-07-29 09:55] Azard commented on #14391
I suggest https://github.com/nodejs/node/pull/13497 `readline. createInterface()` API fix to release with 9.0.0

[2017-07-29 12:28] jorisvervuurt commented on #13737
Awesome. Thanks!

[2017-07-29 12:55] evanlucas commented on #14535
Interesting. This is working for me on macOS

[code]

Can anyone from @nodejs/platform-windows reproduce this?

[2017-07-29 13:00] seishun commented on #14535
Can't reproduce on Windows 10 with Node.js v8.2.1.

[2017-07-29 13:52] refack commented on #14535
@dunnock is it a persistent issue (does it happen all the time)?
Could you post the output of `dns.getServers()` (then, assuming it returns `x.x.x.x` could you do `nslookup data.comae.io x.x.x.x`)?
If you could also provide as well wireshark dump, that would be amazing.

[2017-07-29 13:59] refack commented on #14178
Hello `ubuntu`:
[code]
https://ci.nodejs.org/job/node-test-commit-linux/11480/nodes=debian8-x86/

[2017-07-29 14:16] refack commented on #14178
@addaleax, @bnoordhuis, @indutny
Now that it's not just a Windows failure, the "onboarding-extra" guide sais to ping you

([test code](https://github.com/nodejs/node/blob/master/test/parallel/test-zlib-failed-init.js))

[2017-07-29 14:21] addaleax commented on #14178
It’s kind of worrying that a test as simple as this can fail … and once again, it might be nice to get a core dump if that’s possible – @nodejs/build ?

[2017-07-29 15:54] JacksonTian commented on #14391
@Trott

[code]

It's planed in v0.9, so I think remove it at 9.x is make sense.

[2017-07-29 16:06] addaleax commented on #14391
@JacksonTian The commit you are referencing was reverted, the *current* state of deprecation has been introduced in dc42e1faaf358e1ee8729439e0a3ade26f3cbce1 (2015).

[2017-07-29 16:38] ChALkeR opened #14537 "Distrust Symantec root certs"
Similarly to #9434, I think that we should follow Google/Mozilla on this one, too.

I'm opening this in advance as it deserves some messaging and announcements in advance, after the decision would be made.

Refs:
 * https://wiki.mozilla.org/CA:Symantec_Issues (includes issuing fake `google.com` and `gmail.com` certs, issuing certs after deadline, vulnerabilities, audition failures, etc.).
 * https

[2017-07-29 16:42] Trott commented on #14391
The cost to us of keeping `sys` around is nearly zero and is surely less than the cost to end users if we were to remove it entirely.

For some historical background:

The idea that we are probably never going to remove `sys` entirely has been the position of the project since deprecating, and I don't think anything has changed that would alter that.

From [January 2015 when `sys` was run-time dep

[2017-07-29 18:45] refack commented on #14391
So, I see a hidden cost in above statement &mdash; people who use `sys` and are comfortable with it's use might decide to use `--no-deprecation` CLI arg, thus hiding other, more "significant" warnings... (yes I know I'm reaching here)

[2017-07-29 20:26] hsiliev commented on #13464
The problem reproduces with 6.11.1 and 7.10.1

The code above works fine with 8.2.1

[2017-07-29 20:49] dunnock commented on #14535
@refack good hint ref WireShark!

**Reproducibility:**
* Windows Container in Kubernetes  - reproduced in 2 different clusters, not persistent (see below)
* Desktop in Windows Container - not reproduced
* Linux Container Desktop and Kubernetes - not reproduced

**dns.getServers()**
See the output of dns.getServers() and relevant nslookup at the bottom.

**WireShark**
Good hint! It seems to starts

[2017-07-29 21:28] dunnock commented on #14535
BTW, started `nslookup data.comae.io 10.0.0.10` in similar 10 seconds cycle and it works fine on same host where dns.lookup on node failed, though requests differ by wireshark stack:
[nslookup_data_comae_io.pcapng.zip](https://github.com/nodejs/node/files/1185274/nslookup_data_comae_io.pcapng.zip)

[2017-07-29 22:29] refack commented on #14178
/cc @aqrln @danbev

[2017-07-29 22:49] DylanPiercey opened #14539 "Provide server address on Server#listening event."
* **Version**: 8.2
* **Platform**: Darwin
* **Subsystem**: http

Often I find that I when I am testing I setup my servers to bind to any available port. However after doing so I need to know what port the server is listening on. This can be a bit tricky with arrow functions currently and I believe an elegant solution would be to simply pass the `server.address()` when the `listening` event fires.

[2017-07-29 23:02] mscdex commented on #14539
Why not just use a normal function if you need that information? Or just assign the result of `http.createServer()` to a variable and use that inside your arrow function.

[2017-07-29 23:04] DylanPiercey commented on #14539
@mscdex yeah that works fine, it's more of a developer experience thing.

[2017-07-29 23:04] tniessen commented on #8221
cc @nodejs/v8 (on behalf of @jaimecbernardo, this doesn't work for contributors afaik)

[2017-07-30 02:46] Trott commented on #11539
@nodejs/jenkins-admins

[2017-07-30 03:09] Trott commented on #11233
@bmeck This is still being used, right? Is it OK to put a `help wanted` label on this for any eager folks wanting to implement this stuff Or would that be unhelpful/counterproductive?

[2017-07-30 03:11] Trott commented on #11675
@bmeck This is still a thing that needs addressing and should remain open? Is there anything anyone who is not you could and should be doing on this at this time?

[2017-07-30 03:12] Trott commented on #11568
Should this issue stay open? Or is this close-able?

[2017-07-30 03:14] Trott commented on #11496
Is this in progress? Stalled? Blocked? Help wanted? I guess /cc @eugeneo but really anyone that knows?

[2017-07-30 03:17] runhwguo opened #14540 "Runtime_StringIndexOfUnchecked"
v8.2.1
Darwin RUNHWGUO-MB0 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64
[code]

[2017-07-30 03:23] Trott commented on #11683
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-30 03:23] #11683 closed

[2017-07-30 03:33] mscdex commented on #14540
Are you able to narrow down the cause (to a particular Babel plugin, config, etc.)? Babel or one of its plugins are consuming too much memory.

[2017-07-30 03:33] Trott commented on #11767
This seems stalled (and seems to me like something that should be solved as a published module before consideration for adding to core, but reasonable people can disagree on that). I'm going to close this, but if that's misguided because there's active work going on or for some other reason, by all means, comment to that effect (or re-open if GitHub allows you to).

[2017-07-30 03:33] #11767 closed

[2017-07-30 03:39] Trott commented on #11875
This should remain open?

[2017-07-30 03:40] Trott commented on #11892
@hashseed Should this be kept open? At least until there's a "restart" option?

[2017-07-30 04:11] Trott commented on #11826
Proposed fix in https://github.com/nodejs/node/pull/14541

[2017-07-30 04:30] Trott commented on #7146
Unable to reproduce this, even using Node.js 5.8.0. I set the time one minute in the past in another shell, and the program happily reported the time as one minute earlier than it was:

[code]

Are you able to still reproduce this? How far in the past do you set the time?

[2017-07-30 04:31] Trott commented on #11893
This should remain open?

[2017-07-30 04:33] Trott commented on #11156
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-30 04:33] #11156 closed

[2017-07-30 04:33] KamiGim opened #14542 "why string template cannot escape single quote"
* **Version**: 6.10.3
* **Platform**: 64-bit (Windows)
* **Subsystem**:

![image](https://user-images.githubusercontent.com/17401507/28750629-e3836f06-751a-11e7-83d2-41d92b2e5d20.png)

[2017-07-30 04:50] Trott commented on #8670
Should this issue remain open? I'm kind of hoping we can close it because TurboFan and Ignition solves it, but I also expect TurboFan and Ignition to remove my secret existential dread and improve my racquetball game so I may have unrealistic expectations.

[2017-07-30 04:53] Trott commented on #11907
Closing as this seems inactive and with no clear consensus on how to approach it. However, if I'm wrong about that, or even if we just want it open as a placeholder/reminder, feel free to re-open. Just tidying up, no super-strong opinion.

[2017-07-30 04:53] #11907 closed

[2017-07-30 04:57] Trott commented on #14542
You don't need to escape single quotes or double quotes in a string template. They are not special characters in templates.

This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like this, please file an issue on our help
repo. https://github.com/nodejs/help

Thanks!

[2017-07-30 04:57] #14542 closed

[2017-07-30 05:01] Trott commented on #10727
Should this remain open?

[2017-07-30 05:02] Trott commented on #10965
@addaleax Is this still something you intend to look at? Or should this be closed?

[2017-07-30 05:06] Trott commented on #11931
@nodejs/build Should this remain open? I know we don't *support* Android but I also think we have some Android build instructions so...
¯\\_(ツ)_/¯

[2017-07-30 05:07] Trott commented on #11973
@bnoordhuis, @indutny, @nodejs/streams

[2017-07-30 05:10] Trott commented on #11980
Have not seen this in forever. Closing.

[2017-07-30 05:10] #11980 closed

[2017-07-30 05:12] Trott commented on #11307
Should this remain open?

[2017-07-30 05:13] Trott commented on #11865
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-30 05:16] Trott commented on #8211
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-30 05:16] #8211 closed

[2017-07-30 05:18] Trott commented on #11976
Looks like the OP went away without answering a very simple question, so I'm going to assume that the problem was solved (or at least that we can close this after 4 months of inactivity).
Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-30 05:18] #11976 closed

[2017-07-30 05:19] Trott commented on #9668
Should this remain open?

[2017-07-30 05:23] Trott commented on #11103
OK, so: This probably should have been documented in the change log but it also didn't cause widespread heartache. My apologies to those for whom it caused difficulties. I'll try to be more mindful of marking things as notable changes in the future.  Not sure there's any action to be taken on this at this point, so I'm going to close. By all means, comment (or re-open if GitHub allows) if you thin

[2017-07-30 05:25] Trott commented on #3891
I don't think this is going to happen any time soon, although a clean CITGM run would go a long way towards making it seem more possible. I'm going to close this for now, but definitely re-open it if you're working on it.

[2017-07-30 05:25] #3891 closed

[2017-07-30 07:15] vsemozhetbyt commented on #14542
@KamiGim FWIW: if you worry about escape characters in the last outputs, keep in mind that REPL output a 'debug' format of values, there is now slash in those strings:
[code]

[2017-07-30 07:22] TimothyGu commented on #10727
No, IMO. Both of our application/x-www-form-urlencoded decoders are acting according to the spec.

[2017-07-30 07:22] #10727 closed

[2017-07-30 07:23] rvagg commented on #11539
In the past I've just advised people to adjust the `Makefile` in their local commit to make `test-ci` do what they need it to do, I know it might feel kind of unpleasant but it helps avoid adding more complexity to Jenkins—both in the configuration and in the form you need to fill out to submit a job. I'm not strongly against adding this option, and it wouldn't be too hard, but I loathe pushing ev

[2017-07-30 07:59] TimothyGu commented on #11103
IMO there should be a note (in the form of YAML changelog as suggested by @addaleax) next to url.parse() documenting this change of behavior, so reopening.

[2017-07-30 08:06] TimothyGu commented on #11496
The requested feature is now provided in [inspector.url()](https://nodejs.org/api/inspector.html#inspector_inspector_url), so closing.

[2017-07-30 08:06] #11496 closed

[2017-07-30 08:28] benjamingr commented on #8211
@Trott moreover, this was actually fixed about 2 months ago by @addaleax when we landed https://github.com/nodejs/CTC/issues/12

[2017-07-30 08:39] bnoordhuis commented on #11307
I don't think so.  It might be _a_ bug but it's probably not _our_ bug.  I'll close.

[2017-07-30 08:39] #11307 closed

[2017-07-30 09:11] bnoordhuis commented on #11973
This is probably a streams issue.  `afterWrite()` in lib/net.js calls `socket.destroy()` when a write fails (which is a streams method); the second and third calls to `socket.write()` (also a streams method) subsequently never make it down to lib/net.js, resulting in their `writeReq.cb` callbacks never being called.

[2017-07-30 09:17] bnoordhuis commented on #11931
This patch might help.
[code]

[2017-07-30 09:26] bnoordhuis commented on #11875
An alternative to `Debug.MakeMirror()` is in #13295.

[2017-07-30 09:30] bnoordhuis commented on #14540
Try setting `--max_old_space_size=2048` or higher.  I'll close this out as it's not a bug, the process simply runs out of memory.  For follow-up questions, please use https://github.com/nodejs/help/issues.

[2017-07-30 09:30] #14540 closed

[2017-07-30 09:31] dsehnal commented on #8670
I have just tested it on Node 8.2.1 (latest current) and the issue is still present. Maybe I would keep this issue open at least until this is fixed in the "current" version of Node.

[2017-07-30 09:41] bnoordhuis commented on #14535
Is the conclusion that this is most likely a kubernetes bug?  I don't see anything that indicates it's a node.js bug.

[2017-07-30 09:54] dunnock commented on #14535
@bnoordhuis it is not clear yet, though response ENOTFOUND during 15 minutes without querying DNS does not seem right, negative reply from DNS should not be stored in cache?

[2017-07-30 09:56] seishun commented on #14535
Can this be reproduced without Kubernetes?

[2017-07-30 09:56] dunnock commented on #14535
will try to mock DNS to reproduce

[2017-07-30 10:02] bnoordhuis commented on #14535
@dunnock Node.js itself doesn't cache DNS replies.  System components may, though.

[2017-07-30 10:06] dunnock commented on #14535
@bnoordhuis I see, so its likely Windows or Windows Container issue.. Closing this for now, thanks

[2017-07-30 10:06] #14535 closed

[2017-07-30 10:09] bnoordhuis commented on #8670
@Trott @dsehnal The issue still exists in master but I don't know if there is value in leaving this bug report open since it's a V8 issue and not of the kind where we can back-port a simple fix.

[2017-07-30 10:55] silverwind commented on #14539
Maybe we can assign `this` to `server` inside these callbacks, so one could do `this.address()`.

[2017-07-30 11:13] addaleax commented on #10965
Yes, but it’s not something we can realistically do until V8 moves its API out of experimental status, I think (because this is about a non-experimental API of ours).

[2017-07-30 11:17] mcollina commented on #11568
I do not think this is fixable, not in the generic case anyway.
It might be possible, as outlined in https://github.com/nodejs/node/issues/11568#issuecomment-283923984 to do a special case for stdio, and completely bypass streams. I think it will be a bit of a stretch to have different behaviors if the stdout and stderr are piped or not, but I'm happy to review a PR.

[2017-07-30 11:24] mcollina commented on #11973
This has always been the case (likely 0.10). I can assemble a PR soon if we think it needs to be fixed, but it will be a semver-major change. The behavior I could implement is to fire `writecb` for every "in flight" write when `destroy()` is hit. This might have some unexpected consequences, as an example some errors could bubble up twice, and it might clash with some of the expectations of `.pipe

[2017-07-30 11:26] tniessen commented on #14539
This doesn't work for arrow functions.

[2017-07-30 11:28] #14405 closed

[2017-07-30 11:31] tniessen commented on #14405
@XGHeaven Thank you for your report, @TimothyGu fixed the behavior of the `path` API to correctly work with volume-relative paths.

[2017-07-30 11:34] silverwind commented on #14539
Right, but I'd expect the user to use a non-arrow if he wants to access `this`. BTW, this already works:

[code]

I think this is exactly what OP wants.

[2017-07-30 11:56] bmeck commented on #11233
Pr is open, closing is fine

On Jul 29, 2017 10:09 PM, "Rich Trott" <notifications@github.com> wrote:

[2017-07-30 11:57] bmeck commented on #11675
I think we can close, cases in wild were found, so unsafe to remove.
Warnimg might be good though

On Jul 29, 2017 10:12 PM, "Rich Trott" <notifications@github.com> wrote:

[2017-07-30 11:57] bmeck commented on #11893
I think so

On Jul 29, 2017 11:32 PM, "Rich Trott" <notifications@github.com> wrote:

[2017-07-30 12:17] #11233 closed

[2017-07-30 13:43] cjihrig commented on #14539
I'm also in favor of closing this.

[2017-07-30 14:20] runhwguo commented on #14540
ok, thx

[2017-07-30 15:04] evanlucas commented on #14539
I'm going to go ahead and close. As mentioned above, two possible solutions are:

[code]

and

[code]

[2017-07-30 15:04] #14539 closed

[2017-07-30 16:04] refack commented on #11675
Maybe consider as a breaking change only WRT to signed packages, that is - signed packages will not resolve with fall through?

[2017-07-30 16:12] refack commented on #11893
@eugeneo @sam-github @jkrems I'd be happy to tackle this, but would appreciate a starting point.
(/cc @segrey @ulitink how do you handle these?)

[2017-07-30 16:59] refack opened #14544 "test: good-second-contribution — tracking tests that need some more 💘"
### A very biased list of tests that could enjoy some non-trivial refactoring
1. Make test compliant with [the test writing guide](https://github.com/nodejs/node/blob/master/doc/guides/writing-tests.md)
2. Make sure the test has a general description (PR or issue references most welcome)
3. Make sure test cases are well separated (IIFE, functions, or just scopes) and documented
4. Refactor away no

[2017-07-30 17:00] Trott commented on #14544
https://github.com/nodejs/node/pull/14541

[2017-07-30 17:02] refack commented on #14544
I was thinking something more extensive, and obviously the "list" is going to get longer...

[2017-07-30 17:10] Trott commented on #11629
Is there anything Node.js can/should do about this other than await https://bugs.chromium.org/p/v8/issues/detail?id=5773 getting fixed in V8? Should this issue remain open?

[2017-07-30 17:12] Trott commented on #1671
@Fishrock123 @trevnorris Are you working on this on some level? If not, should we put a `help wanted` label on it (and maybe remove you as assignees so as not to discourage other people from trying to tackle it)?

[2017-07-30 17:15] Trott commented on #9820
@TimothyGu With https://github.com/nodejs/node/pull/11952 closed, should we make a note here of the solution now envisioned?

[2017-07-30 17:16] Trott commented on #11918
Should this be closed as a duplicate of  #11973 so we keep the conversation in one place? Or are these two issues related but not the same thing?

[2017-07-30 17:18] refack commented on #14544
Like what you did in #14534

[2017-07-30 17:18] Trott commented on #12069
/cc @jkrems

[2017-07-30 17:23] Trott commented on #12075
@addaleax Any chance this is a good candidate for the test-double DNS server that always returns an error that you created in `common`?

[2017-07-30 17:25] refack commented on #14544
@nodejs/testing please add/remove/comment/edit

[2017-07-30 17:32] Trott commented on #12085
I can't tell if this was fixed in 6.10.2 or if it's expected to be fixed in 6.11.2. Can someone confirm the bug on Windows in 6.10.2 or later?

[2017-07-30 17:38] Trott commented on #8724
Does TurboFan/Ignition change anything here in either direction as far as performance of our code that handles `noAssert`?

[2017-07-30 17:48] D1W0U commented on #7146
I'm not able to reproduce it now, after software updates.

[2017-07-30 17:51] ChALkeR commented on #1873
@Trott, yes, there are some things that I should check on this one before closing. Thanks for reminding me, though! :-)

[2017-07-30 17:56] rahulreddy commented on #11307
Thanks, I think the last take away was that it might have been a kernel issue.

[2017-07-30 18:02] Trott opened #14545 "console,util: implement %o as formatting specifier"
* **Version**: master
* **Platform**: all
* **Subsystem**: console,util

`console.log()` and `util.format()` support `%d`, `%i`, `%f`, etc. but not `%o` for objects which seems to be supported in major browsers.

Refs: https://github.com/nodejs/node/issues/10292

/cc @silverwind

[2017-07-30 18:02] Trott commented on #10292
I'm going to close this and open a separate issue for `%o`.

[2017-07-30 18:02] #10292 closed

[2017-07-30 18:02] Trott commented on #10292
https://github.com/nodejs/node/issues/14545

[2017-07-30 18:03] Trott commented on #7146
OK, I'll close this then. If anyone can reproduce it, feel free to comment, re-open (if GitHub lets you), or open a new issue. Thanks!

[2017-07-30 18:03] #7146 closed

[2017-07-30 18:38] silverwind commented on #14545
There's also `%O` which is supported in major browser. According to the [spec](https://console.spec.whatwg.org/#formatting-specifiers) it is pretty similar.

#### %o

#### %O

We could pretty-print `%O`, but other than that, I'm not seeing us implementing more differences. In Browsers, I don't see a difference on them either.

[2017-07-30 18:46] jkrems commented on #11893
I'm not sure I'm a fan of hiding them. I personally treat those scripts just like any other "3rd party" code. It seems fairly arbitrary to hide `require('fs')` but not `require('fs-extra')` (yes, there are implementation details that make those two very different - but as a user they are just two modules I happen to use).

As for helpful reactions: I don't think I was even aware of `setBlackboxPat

[2017-07-30 18:50] jkrems commented on #12069
I totally agree - it's not a good workflow. I wish we wouldn't be printing those URLs. If you're using Chrome Devtools, you can just go to `chrome://inspect`, click "Open dedicated DevTools for Node", and it will do all the connecting & reconnecting for you. :) Unless you use highly dynamic ports & IPs, you shouldn't have to copy & paste the URL.

I saw highly dynamic because as long as you have a

[2017-07-30 19:11] gasman commented on #12955
FWIW, the bytes `28 6d 6f 64` are `(mod` in ASCII - if you see that error, it means you're wrongly loading a text-format (.wast) WebAssembly file instead of a binary one.

[2017-07-30 19:21] MicahZoltu commented on #11918
The root cause of both of these issues may be the same, I wasn't able to dig deep enough to locate root cause myself though.  The symptoms are not the same however, and the repro case for them is not quite the same.

If one is closed as a duplicate, I would like to ensure that whatever fix is implemented is tested for both scenarios to make sure that it does in fact fix both halves.  I'll leave it

[2017-07-30 19:46] Fishrock123 commented on #1671
I'm not sure about trevor but assigning is the only way I can keep tabs on / remember stuff, so... please don't unassign me?

[2017-07-30 20:29] ChALkeR commented on #1671
Just re-checked @trevnorris testcase from https://github.com/nodejs/node/issues/1671#issuecomment-208712906 on Node.js v8.2.1 + V8 5.8.283.41.

I think something got _very_ broken (or perhaps that testcase is broken itself?)
With or without `gc(true)`, the speed eventually drops below 0.1 Gb/sec, RSS ups to 6.5 GiB.
This is reproduceable with and without `--expose-gc`.
It does not happen immediate

[2017-07-30 20:49] ChALkeR commented on #1671
![spectacle gz9051](https://user-images.githubusercontent.com/291301/28756951-aa03fefa-7581-11e7-987e-cfac9e44200c.png)

Massif graph.

[2017-07-30 21:00] ChALkeR commented on #1671
It doesn't look like it is gradually increasing — it _suddenly_ goes up very quickly at some point, and that point differs between launches.

<details>
  <summary>Example log</summary>
  <pre>
$ ~/node/dist/node-v8.2.1-linux-x64/bin/node 1.js
25.1016 Gb/sec, 94.01 MiB RSS
25.7005 Gb/sec, 94.12 MiB RSS
25.7344 Gb/sec, 93.95 MiB RSS
23.8177 Gb/sec, 94.01 MiB RSS
19.1354 Gb/sec, 94.11 MiB RSS
23.5182

[2017-07-30 21:10] Trott commented on #11918
I'll leave them both open in that case. Thanks.

[2017-07-30 22:32] ChALkeR commented on #1671
Looks that the issue in the comment just above could be a problem of the testcase, as with `tbuf` size of `0x200000` instead of `0x100000` it is consistently reproduceable even on v4.x branch.

[2017-07-30 22:54] ChALkeR commented on #1671
Replacing `if (self.writeQueueSize === 0)` with `if (self.writeQueueSize === 0 && !req.async)` in https://github.com/nodejs/node/issues/1671#issuecomment-208712906 seems to solve the abovementioned leak and eventual crash. I am not exactly sure how that works, though, /cc @trevnorris.

[2017-07-30 22:58] jasongin commented on #13254
That is what I had assumed, thanks for confirming. It still seems strange to me as a `double` in the C++ API though... and @AndreasMadsen suggested [above](https://github.com/nodejs/node/issues/13254#issuecomment-318508793) it might be `int64_t` in the future?

The challenge now is we need to ensure that we have an async hooks interface that is ABI-stable, at least by the time N-API exits experime

[2017-07-30 23:13] jasongin commented on #13254
Also, the reason it's better to lock down the async hooks interface in N-API before N-API exits experimental status is so that an async context parameter can be included in the `napi_make_callback()` API:

[code]

If the async context isn't included in that API, then native addons will be developed that call `napi_make_callback()` without any async context, breaking the async context chain for eve

[2017-07-30 23:23] refack commented on #14206
@jBarz @mhdawson any news? (I promised not to let this fall between the cracks)

[2017-07-30 23:29] addaleax commented on #12075
@Trott I think that’s doable and makes sense, yes. :) I can look into it, but if you want this could actually be a nice second or third contribution or so.

[2017-07-31 00:00] TimothyGu commented on #14186
Oh well.

[2017-07-31 00:00] #14186 closed

[2017-07-31 00:13] TimothyGu commented on #9820
@Trott Sure. Right now `Utf8String` and `TwoByteString` both take any `v8::Value`, which forces the constructors to convert them to `v8::String` first. This conversion step is the only place that can cause failures in these two constructors (think of a `toString` handler that throws). Thus I believe a better way to address this problem would be to make the constructors take `v8::String`, and force

[2017-07-31 00:14] TimothyGu commented on #11675
@refack Are signed packages a thing yet?

[2017-07-31 00:50] SteveCruise opened #14550 "When will node support ES module?"
import/export is very important for javascript&node.js, When will it come? In node 9.0.0?

[2017-07-31 00:54] bnoordhuis commented on #1671
@ChALkeR Do you call `w()` if `!req.async`?  If not, the test stops writing.

[2017-07-31 00:59] bnoordhuis commented on #14550
There has been a ton of discussion on that subject and several in-progress pull requests.  I'm not going to link to them all but the search function will find them for you.  Also see the NG and node-eps repos.

[2017-07-31 00:59] #14550 closed

[2017-07-31 01:00] ChALkeR commented on #1671
@bnoordhuis sorry, I don't think that I understand the question. Could you show code samples?

The test in [benchmark/net/tcp-raw-s2c.js](https://github.com/nodejs/node/blob/master/benchmark/net/tcp-raw-s2c.js) seems to be working fine with long durations and various buffer sizes, btw.

[2017-07-31 01:19] bnoordhuis commented on #1671
I might have misread your comment.  If you do this, it should be fine:
[code]
My point was that `req.oncomplete` is only called when `req.async === true`.  If it's false, you need to invoke the callback manually.  It's a performance (latency) optimization.

In fact, the missing `!req.async` check would explain the exploding memory usage - it creates a combinatorial explosion of `w` calls.

[2017-07-31 01:53] SteveCruise commented on #14550
Thank you very much.

[2017-07-31 02:08] refack commented on #11675
I believe they have been cooking In @bmeck brains for a while (but AFAIK only there).

[2017-07-31 02:15] TimothyGu commented on #11675
Closing per @bmeck.

[2017-07-31 02:15] #11675 closed

[2017-07-31 02:20] kentcdodds commented on #12069
Thanks @jkrems. That's the best way to do things now. We can close this. For what it's worth, that workflow didn't exist when I filed this issue. Glad the workflow is much better now :)

[2017-07-31 02:20] #12069 closed

[2017-07-31 03:10] jkrems commented on #12069
@kentcdodds Sorry, didn't mean to imply that the ticket wasn't totally reasonable at the time. :)

[2017-07-31 03:16] XadillaX commented on #14545
So which shall we implement? Or both?

[2017-07-31 03:52] TimothyGu commented on #14545
The difference between `%o` and `%O` is intended to be much like the difference between `console.log` and `console.dir`, with `%o` being like `console.dir` and `%O` being like `console.log`:

![screenshot from 2017-07-31 11-50-48](https://user-images.githubusercontent.com/1538624/28762120-84b93e3e-75e6-11e7-9872-09f0dc451983.png)

Unfortunately browsers didn't implement `%o` and `%O` that way, and

[2017-07-31 04:27] JaySeeCode commented on #14371
Has this issue been resolved?

[2017-07-31 04:30] TimothyGu commented on #14371
@JaySeeCode Yes, in https://github.com/nodejs/node/issues/14371. Sorry, I'll close this issue now.

[2017-07-31 04:30] #14371 closed

[2017-07-31 04:34] Trott commented on #9728
This hasn't recurred in some time.  Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree, but I'm inclined to close at this time. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-31 04:39] Trott commented on #12101
@sam-github @bnoordhuis Given the description in https://github.com/nodejs/node/issues/12101#issuecomment-290417253, does this seem like a bug in Node.js? Should this stay open?

[2017-07-31 04:47] Trott commented on #5386
Have not seen this one for a long time. Feel free to re-open if you disagree, but I'm inclined to close. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-31 04:47] #5386 closed

[2017-07-31 04:54] Trott commented on #12073
Discussion on this has gone quiet for a few months. Is there something resembling consensus on how this feature should work? Doesn't look like it to me, but if so, maybe we can add a `help wanted` label.

If there isn't consensus, maybe the thing to do is close. People can still submit pull requests with proof-of-concept implementations for any approach they feel strongly about.

[2017-07-31 04:55] shivanth commented on #14544
Can I take this up ?

[2017-07-31 04:59] Trott commented on #11052
Can someone confirm if this is still an issue on Windows? I'm guessing it is, but the test has had a few changes since the problem was reporting, so ¯\\_(ツ)_/¯

[2017-07-31 05:01] Trott commented on #6920
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. (Or just make the changes to README and open a PR! :-D ) I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-31 05:01] #6920 closed

[2017-07-31 05:04] jasnell commented on #13737
Missed the previous ping! Thanks for pinging again. Will promote tomorrow

[2017-07-31 05:04] Trott commented on #12024
Any idea if this still happens with Node.js 8.x?

[2017-07-31 05:05] Trott commented on #12156
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-31 05:05] #12156 closed

[2017-07-31 05:06] Trott commented on #12130
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-31 05:06] #12130 closed

[2017-07-31 05:10] TimothyGu commented on #12073
Agreed. To consolidate the many ideas floating around, people could file an EP at https://github.com/nodejs/node-eps, which is what we usually do for a big feature like this.

[2017-07-31 05:10] #12073 closed

[2017-07-31 05:12] TimothyGu commented on #12024
@zwhitchcox, if this still happens on v8.x please comment and reopen (if GitHub allows you to do so), preferably while providing a reproducible test case. I'll close this for now to avoid inactive issues from piling up.

[2017-07-31 05:12] #12024 closed

[2017-07-31 05:44] andiris29 commented on #7776
@fuzing You comments really helped me, great. Could you share the link of the issue in mongodb driver?

[2017-07-31 05:45] MohammadShojaeinia opened #14551 "requiring files, imports empty { } sometimes!"
in Node JS 8.2.1, I wanted to import a function from another module, I watched { }. In another file I have used module.exports = { }, but in destination module I found { }.
When I moved the function to another file, everything was correct.
My app was migrated from Node JS 6.9.1, but other things was working correctly!

Regards

[2017-07-31 07:23] mscdex commented on #14551
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

[2017-07-31 08:19] BorisKozo commented on #14171
@ofrobots Hi, our system (not internet facing) creates lots of V8 contexts :).
We recently upgraded from 8.0.0 to 8.1.4 and now the initialization phase of our system, where those contexts are created, changed from ~2 seconds to ~8 minutes. Is there some workaround to creating the snapshots we can use in the meantime because what we are doing now is compiling 8.1.4 without your change and I don't

[2017-07-31 08:45] hashseed commented on #14171
@BorisKozo if you don't expect hash flooding attacks to be an issue in your use case, that's a valid fix. Otherwise you could upgrade to 8.1.4 and cherry-pick this [fix](https://github.com/targos/node/commit/2ae2874ae7dfec2c55b5d390d25b6eed9932f78d) in addition.

[2017-07-31 08:45] seishun opened #14553 "Can't open hidden files in 'w' mode on Windows - document, fix, or do nothing?"
* **Version**: all
* **Platform**: Windows
* **Subsystem**: fs

Trying to open a hidden file on Windows in 'w' mode throws `EPERM`:

[code]

This matches the behavior of Microsoft C runtime library:

[code]

Output if "hidden.txt" is hidden:

[code]

And it matches the behavior of Python since it [purportedly](https://stackoverflow.com/questions/13215716/ioerror-errno-13-permission-denied-when-try

[2017-07-31 08:53] mcollina commented on #2398
@eljefedelrodeodeljefe @bnoordhuis can you add a link?

[2017-07-31 09:05] VolleMelk commented on #8897
I just recalled, we did implement this a little bit different:

Dockerfile:
[code]

and we run with `docker run --volume c:\my-host-dir:c:\target mycontainer`

The main difference is that we are not using `VOLUME`, but just creating an empty directory for `Set-ItemProperty` to use

[2017-07-31 09:13] mika-fischer commented on #13512
@gpean I've put together [a little library](https://github.com/mika-fischer/napi-thread-safe-callback) for async callbacks using `uv_async_t`. Maybe it's useful to you.

[2017-07-31 09:19] BethGriggs commented on #11052
@Trott, I'll see if I can reproduce with the latest test changes

[2017-07-31 09:25] gireeshpunathil commented on #13471
In my understanding, the abstraction model of Linux on Windows implemented through WSL is neither documented, nor understoood. The only statement I know in this regard is: "WSL performs the emulation at the user->kernel boundary".

As node abstracts many things from the underlying system and makes static assumptions about it (from path delimiter to socket attributes) based on the platform it is ru

[2017-07-31 09:38] bnoordhuis commented on #2398
@mcollina https://github.com/libuv/libuv-extras - the idea is to have a place for things that can be layered on top of libuv but don't belong in libuv proper (like TLS / DTLS; a C cluster implementation would be another example.)

Not much in there yet, though.

[2017-07-31 09:55] bnoordhuis commented on #14553
I'm not 100% sure but reading `fs__open()` in deps/uv/src/win/fs.c (which uses the CreateFile NT API, not the CRT), I don't see anything that suggests it's a policy enforced by libuv.

[2017-07-31 09:58] #14551 closed

[2017-07-31 09:59] ronkorving commented on #14391
I think there is the cost of confusion. People who read code that uses `sys` for the first time, will be (rightfully) confused and will now be expected to go and look up to see what's right according to the Node manual. It's that, or stay confused. Or worse: assume the wrong answer.

I for one want Node to be intuitive as well as easy to understand.

[2017-07-31 10:12] bnoordhuis commented on #12101
I haven't been able to reproduce this myself but it's possible that https://github.com/nodejs/node/issues/12101#issuecomment-290068186 would address it.  @bminer Perhaps you want to have a go at implementing that?

Yes, that doesn't surprise me.  Weird behavior is the expected behavior if you override the default action for that signal. :-)

[2017-07-31 10:22] seishun commented on #14553
It doesn't enforce it explicitly, no. It just never passes the `FILE_ATTRIBUTE_HIDDEN` flag, causing CreateFile to fail when called on a hidden file.

[2017-07-31 10:28] bnoordhuis commented on #14553
I don't know if that is fixable.  Passing it by default is not an option and retrying the CreateFile() call on error is race-y.  All signs seem to point to 'documentation fix.'

[2017-07-31 10:30] tniessen commented on #14507
Still flaky: https://ci.nodejs.org/job/node-test-binary-windows/10187/RUN_SUBSET=3,VS_VERSION=vcbt2015,label=win10/console

[code]

[2017-07-31 10:44] mcollina commented on #2398
@bnoordhuis yeah, I see that. I do not think there is anything we can use here, or maybe I am mistaken.

[2017-07-31 10:58] tniessen commented on #14553
It seems like the only way to write to hidden files (*without* setting `FILE_ATTRIBUTE_HIDDEN`) is by setting the disposition to either `TRUNCATE_EXISTING` or `CREATE_NEW`, and I don't think it is possible to use these values in `fs.open()` :disappointed:

[2017-07-31 11:46] bnoordhuis commented on #14553
Hm, does that mean `'wx'` instead of `'w'` works?

[2017-07-31 11:51] refack commented on #14544
Sure. If you need any help, ping me (here or on IRC).
Also if you find any other tests that are written in an outdated style, post them here, and I'll add them to the list.

[2017-07-31 11:56] refack commented on #14371
@JaySeeCode #14435 is a good start, but if you have the time to research it a little bit, try expanding the description, maybe also add a reference to the `resolve` algorithm. The other fields could use some love also - https://github.com/nodejs/node/blob/master/doc/api/modules.md#modulepaths

[2017-07-31 12:12] refack commented on #14507
@eugeneo FWIW that's the error:
[code]
I've seen this happen locally sometimes (I think when it's not a clean build)

[2017-07-31 12:28] refack commented on #14171
@BorisKozo, I'm with @hashseed, using 8.1.3 until 8.3.0 goes out seems like a valid solution.
Another solution would be using the latest release source tarball but building it with `./configure --with-snapshots`, so it's not a fork, just a tweaked build (we try to test with snapshots to make sure there are no regressions).

[2017-07-31 12:50] refack commented on #4427
Just spotted on `armv7-wheezy`:

<details>

[code]

</details>

[2017-07-31 13:28] Trott commented on #4427
FWIW, the test is inherently non-deterministic and thus kind of perma-flaky. Ways to make it more robust would be welcome, of course.

[2017-07-31 13:34] streamich opened #14554 "errors.js module"
Node now has `internal/errors.js` module which allows to set static error codes for errors, which is great. Would be good to expose Node's internal error constructors in a new module say `require('errors')`.

[code]

My use case is as follows: I am now rewriting an in-memory file system module [`memfs`](https://github.com/streamich/memfs) that mimics how `fs` module works, I would like to throw **

[2017-07-31 13:42] seishun commented on #14553
Why not? `FILE_ATTRIBUTE_HIDDEN` works for both hidden and non-hidden files.

No, 'wx' maps to `O_TRUNC | O_CREAT | O_WRONLY | O_EXCL`, which maps to `CREATE_NEW`, which fails if the file already exists.

[2017-07-31 13:49] Trott commented on #14507
Got it again today. If it's helpful, code was added to log the string for which JSON parse is failing. Looks like it's an empty string.

https://ci.nodejs.org/job/node-test-binary-windows/10196/RUN_SUBSET=3,VS_VERSION=vcbt2015,label=win10/console

[code]

[2017-07-31 14:24] tniessen commented on #14553
But won't this cause new files to be hidden?

[2017-07-31 14:29] BorisKozo commented on #14171
Thanks for the replies! We can wait for 8.3.0 if you can confirm that there is a fix there.

[2017-07-31 15:35] cjihrig commented on #14138
Item 1 is done now. Item 2 is also included in #14256, so I'm going to close this issue.

[2017-07-31 15:35] #14138 closed

[2017-07-31 15:39] Fishrock123 commented on #14545
Yeah I'd also be fine with it giving our typical object expansion.

@domenic is this about how you'd expect it to work in Node?

[2017-07-31 15:45] XGHeaven commented on #14405
@TimothyGu Thanks. I have a question about if this bug fixed in LTS? I remember this bug just fixed in master.

[2017-07-31 15:50] domenic commented on #14545
Yeah I'd expect either %o or %O or both to map to the usual util.inspect. Especially given that there's no opportunity for interaction it makes sense for them to be similar.

If you wanted to come up with some differentiator, you could. E.g., maybe one of them is meant to be more like valid JS syntax, and the other has little annotations like the name of the class or something. Or, %O special-case

[2017-07-31 15:54] Fishrock123 commented on #14545
Marking as `good first contribution` as I think mapping it would be fairly straightforward.

[2017-07-31 15:58] guymguym opened #14555 "Duplex stream support for separate readableHighWaterMark and writableHighWaterMark"
* **Version**: 8.2.1
* **Platform**: Darwin
* **Subsystem**: stream

This need comes from the practice to use transform streams to perform pipeline processing with backpressure, in order to process incoming binary data, by splitting it to intermediate chunk objects. In such cases the transform stream will accept buffers as input (`readableObjectMode: true`) and push out objects (`writableObjectMod

[2017-07-31 16:20] jasnell commented on #14554
Eventually this may be a possibility. For the time being, however, while we are still in the process of migrating all of our internal errors, I would rather avoid it. The reason is due to the fact that changes to that internal API are still possible / likely as we move along.

[2017-07-31 16:20] Fishrock123 commented on #14555
@guymguym could you describe a bit why it may be desirable to have these separately?

cc @nodejs/streams

[2017-07-31 16:44] tniessen commented on #14405
Backporting to release lines can take some time. cc @nodejs/lts

[2017-07-31 16:44] guymguym commented on #14555
@Fishrock123 this occurs anytime you mix between object modes on the same transform stream, in that case the highWaterMark units is not suitable to measure the buffer size for one of the modes.

Here's an example to illustrate the issue:
[code]

[2017-07-31 16:49] guymguym commented on #14555
@addaleax You are right of course, this behavior is inherited from `Duplex`.

However it makes less sense for Duplex streams compared to Transform, so I just chose to describe it from the usage point of view rather from the impl pov.

This is currently implemented inside the ReadableState and WritableState ctors:
• https://github.com/nodejs/node/blob/master/lib/_stream_readable.js#L69
• https://gi

[2017-07-31 17:22] jBarz commented on #14206
Hi @refack , I was on vacation for a week. I am going to look at this either today/tomorrow and give an update asap.

[2017-07-31 17:30] gpean commented on #13512
Thanks @mika-fisher. I have myself written a library, but its scope goes a bit beyond that, as it will generate all N-API code needed to wrap any native function, class or method (synchronously or asynchronously) using C++ templates. No need to know about N-API or libuv to write native modules anymore. The compiler does the job of figuring out the boilerplate code for you, given the types of your

[2017-07-31 17:31] ORESoftware opened #14556 "non-detached process fails to be killed by parent on exit"
This is a question disguised as a bug report. Lol just kidding, it really could be a bug.

So I start a child process with detached set explicitly to false.

When the parent exits, the child is still running. I believe what happened is that parent was not able to kill the child before exiting (this seems obvious...or is it?).

Does the parent not send a SIGKILL signal to the child? Only SIGINT? Is

[2017-07-31 17:34] mscdex commented on #14556
Duplicate of https://github.com/nodejs/node/issues/13538?

[2017-07-31 17:36] publicocean0 commented on #3675
hi i have a problem with spawn

var spawn = require('child_process').spawn;
var bower = spawn('bower', ['install',comp], { stdio: 'inherit' , shell: true});
console.log('********',comp)
bower.on('error', function(err) {
  console.error(err);
  process.exit(1);
});
		bower.on('close', function(code) {
			if (code !== 0) {
				console.log('Bower failed.');

			}

console.log('-------------');

		});

[2017-07-31 17:38] jasongin commented on #13512
@gpean Very interesting! I'm looking forward to seeing the source. It sounds like at least some of those ideas might be generally useful enough to be included as part of the `node-addon-api` package.

[2017-07-31 17:40] ORESoftware commented on #14556
@mscdex not sure if it's a duplicate or not.  After reading that issue, I am more confused. I expected that a Node.js parent process which spawned a child process of any flavor would send the child a SIGTERM or SIGINT signal upon exit, but I guess not?

[2017-07-31 17:43] mscdex commented on #14556
All processes at least spawn from the init process, so there should always be a grandparent on *nix.

[2017-07-31 17:44] ORESoftware commented on #14556
@mscdex yeah that makes sense

[2017-07-31 17:45] guymguym commented on #14555
When I think about it, this is also relevant for transform streams of the same objectMode, as the input and output might still have different proportions. For example think of a transformer that pushes two lines for every input line...

[2017-07-31 17:47] eljefedelrodeodeljefe commented on #2398
dragging in @saghul. Context: Whether it would be interesting to have DTLS in libuv-extras to enable Node community easy access.

[2017-07-31 18:45] jasnell commented on #11893
I'd be happy with blackboxing the Node.js internal scripts by default but would definitely want the option of switching that off by default.

[2017-07-31 18:47] seishun commented on #14553
Indeed it does... 🤦‍♂️

[2017-07-31 20:09] gla5001 commented on #14545
is this still available? I'd like to take a stab at it as a first contribution.

[2017-07-31 20:25] Fishrock123 commented on #14545
@gla5001 it would seem so, yes.

[2017-07-31 20:38] gla5001 commented on #14545
cool. i'll go ahead and work it.

Just so i'm clear, it seems like the behavior of the '%o' formatting specifier should match the behavior of the '%j' specifier. Is that correct?

[2017-07-31 20:48] #14523 closed

[2017-07-31 20:48] vsemozhetbyt commented on #14545
@gla5001 I do not think so:
[code]
JSON output has restrictions the `util.inspect()` has not.

[2017-07-31 20:55] addaleax commented on #12075
Sorry, I misread that, `net` uses `dns.lookup`, not `dns.resolve`, so using `dns.setServers()` won’t have any effect here.

[2017-07-31 20:55] Fishrock123 commented on #14545
@gla5001 No, by the discussion it should just return `util.inspect()` on the passed value.

[2017-07-31 21:21] andrasq commented on #14402
correction, lldb-3.5 only works to pull up the corefile and display the stack trace.  It errors out when trying to examine variables (yes, there are two instances of `process`, not sure why):
[code]

[2017-07-31 21:26] refack commented on #4603
Look how pretty:
![image](https://user-images.githubusercontent.com/96947/28799123-47c4b06a-7615-11e7-83a4-6ff9c186a457.png)
This should be the message for node as well.

[2017-07-31 21:49] doasync commented on #13338
You can promisify all object methods without object modification using util.promisify and ES6 Proxy.
Use it like this:
`doAsync(fs).readFile('package.json', 'utf8').then(result => {...})`
No extra variables and duplicated objects (WeakMap used). Check this package: https://github.com/doasync/doasync

[2017-07-31 23:40] ChALkeR commented on #1671
@bnoordhuis Yes, that's the change which I made to the test so it started working. I'll keep it that way then =).

[2017-07-31 23:47] ChALkeR commented on #1671
This is a PoC diff to make the `gc(true)` hack persistent, so it would be possible to experiment with the effect it has.

[code]

Note that this is in no way a proposal to merge the change in this form, as it touches v8 internals and removes a check.

This both significantly decreases the memory usage (on the fixed testcase above — twice, from ~96 MiB to ~45 MiB) and gives up to 20% speedup in tha

[2017-07-31 23:48] owenallenaz opened #14559 "Objects not appearing in the heapdump"
* **Version**: v7.10.0, also verified in 7.4.0, 8.2.1
* **Platform**: Linux nodeServer 2.6.32-573.el6.x86_64 #1 SMP Thu Jul 23 15:44:03 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: Inspector

When connecting to my Node process via the Chrome inspector, I am unable to get objects to show up in a heapdump result even though it feels like they definitely should.

Here is a simple test cas

[2017-08-01 01:38] jcicero518 commented on #3540
This is still an issue with v6.11.1 on Mac OSX. I get the "Cannot find module 'github-url-from-git'" error when attempting to do anything with NPM.

I removed /usr/local/lib/npm and ran the installer again, which fixed it. I second re-opening this issue. I was able to solve it quickly (with the help of people here) but there's clearly an issue with the installer.

[2017-08-01 01:50] Trott commented on #14391
@refack @ronkorving Those are interesting points worth considering, although I hesitate to encourage the marshaling of more hypothetical downsides. I think these largely-hypothetical concerns are overruled by the concrete concern of breaking working user code for no tangible gain.

* I'm unaware of any evidence that a lot of people are running with `--no-deprecation` to avoid `sys` deprecation war

[2017-08-01 01:59] TimothyGu commented on #13338
(Just a note, Proxies are cool but pretty slow.)

[2017-08-01 02:59] cjihrig commented on #14559
Verified. On Node 6, `MyClass` shows up as expected in the snapshot, but with master it is missing. However, if you go into the snapshot summary view and search (Command + F) for `MyClass`, it finds them. So, it seems like the entries are in the snapshot, but not rendered in dev tools.

cc: @nodejs/v8-inspector

[2017-08-01 03:33] zhoujinhai commented on #3171
@vitaly-t  I have the same problem ,can you solved it?
[code]

[2017-08-01 03:33] Trott commented on #11849
@gibfahn Are you still planning to get the resolution to these two issues across the finish line? If so, maybe let's add you as the assignee? And if not, perhaps we can add a `help wanted` label?

[2017-08-01 03:47] #11103 closed

[2017-08-01 03:52] Trott commented on #12168
Should this remain open?

[2017-08-01 03:54] TimothyGu commented on #12168
I don't think so.

[2017-08-01 03:54] #12168 closed

[2017-08-01 03:57] Trott commented on #12257
Should this remain open?

[2017-08-01 04:00] Trott commented on #6878
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. Better yet, maybe open a PR. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-01 04:00] #6878 closed

[2017-08-01 04:05] danbev commented on #14178
Sorry about the late reply. I'm currently on PTO but will be back next week and will take a closer look at this.

[2017-08-01 05:56] hzqij opened #14562 "Node.js setup wizard ended prematurely"
Version: node-v6.11.1-x64.msi
[InstallLog.txt](https://github.com/nodejs/node/files/1189614/InstallLog.txt)

Platform: 64-bit (Windows 7)

I am trying to install node JS on my windows-7 desktop. but unable to install it error msg is : Node.js setup wizard ended prematurely, here is my InstallLog.txt. thanks

[2017-08-01 06:38] saurav2501 opened #14563 "settimeout again sending response if response sent already."
* **Version**:
* **Platform**:
* **Subsystem**:

* **Version**: 6.10.2
* **Platform**: windows

My request timeout used to send socket timeout response to the browser. But I have one more settimeout function which used to send its response even after the response is sent already by request timeout. How can I block settimeout from sending response again.

[2017-08-01 07:39] namnm commented on #5687
The message is still remain `Promise.all is not a function` in v8.1.4 when not passing array param...

[2017-08-01 08:02] mscdex commented on #14563
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

[2017-08-01 08:02] #14563 closed

[2017-08-01 08:30] TimothyGu commented on #5687
@namnm Can't reproduce:

[code]

[2017-08-01 08:39] webmatrixxxl opened #14565 "npm WARN saveError Unknown system error -25: Unknown system error -25, fsync"
Version: 8.0.0+ (8.2.1 also)
Platform: macOS 10.12.6

I have updated node.js to 8.0.0+ and I get WARN and I can't save anything to package.json also package-lock.json is not generated. The package is installed but saving/modifying of json file doesn't happen.

    npm install ... --save

    npm WARN saveError Unknown system error -25: Unknown system error -25, fsync

I have tried clean install of

[2017-08-01 08:43] vitaly-t commented on #3171
@zhoujinhai
It was marked as a dupe, and the issue was explained along with the solution. See above.

[2017-08-01 08:47] namnm commented on #5687
@TimothyGu Sorry, I think the error I faced is another one. My case is that I forgot to put the promises inside an array. Here is the source code and output:

[code]

[code]

[2017-08-01 08:56] mcollina commented on #14555
I'm definitely 👍  on this. Would you like to assemble a PR?

[2017-08-01 09:10] doasync commented on #13338
I think `pify` implementation will be slower, but we should test.

[2017-08-01 09:15] zhoujinhai commented on #3171
@vitaly-t thanks

[2017-08-01 09:23] TimothyGu commented on #5687
The message is correct here. `Promise.all` is trying to call `promise1[Symbol.iterator]()` which is exactly what it's supposed to do, only to find out that `promise1[Symbol.iterator]` is `undefined`. Note, the original issue is `Promise.all is not a function` not `undefined is not a function`.

[2017-08-01 09:29] vsemozhetbyt commented on #14562
Try to look into these issues, maybe there is some help there:

https://github.com/nodejs/node/search?q=%22setup+wizard+ended+prematurely%22&type=Issues&utf8=%E2%9C%93

https://github.com/nodejs/help/search?q=%22setup+wizard+ended+prematurely%22&type=Issues&utf8=%E2%9C%93

[2017-08-01 09:29] namnm commented on #5687
Thank you. Sorry for my wrong report.

[2017-08-01 09:36] TimothyGu commented on #5687
@namnm No problem, glad to be of help.

[2017-08-01 09:38] vsemozhetbyt commented on #14565
You can also try to post this to https://github.com/npm/npm

[2017-08-01 09:57] BethGriggs commented on #11052
Processes are still being leftover with the latest test changes. 10 runs of parallel/test-child-process-exec-timeout results in about 6-7 processes left. I tested with master, 8.x, and 6.x.

However, I have not been able to reproduce the second part of the issue where the parallel test suite hangs until I kill some of the processes.

[2017-08-01 10:01] streamich commented on #14554
@jasnell Maybe we can export just the constructors like the internal `TypeError` and mark this API as *experimental*.

[2017-08-01 10:16] bnoordhuis commented on #14565
FWIW, errno -25 is ENOTTY.  Presumably fsync() was called on a file descriptor that doesn't support that operation.  It's most likely an npm bug.

[2017-08-01 10:51] bnoordhuis commented on #13471
If WSL is a 100% accurate emulation of Linux, we don't need to support it because if it works on Linux, it works on WSL.

If WSL is not a 100% accurate emulation, they are bugs that MS should fix and there is nothing we can do except point users to their bug tracker.

Ergo, it makes no sense to say it's supported.  (Also, QED.)

[2017-08-01 11:02] refack commented on #13471
I'm 👍 on not supporting, but maybe we should make a note to the effect of @bnoordhuis's comment, since users assume stuff. I've tried to [label related bug reports](https://github.com/nodejs/node/issues?utf8=%E2%9C%93&q=label%3A%22Windows%20Subsystem%20for%20Linux%20(WSL)%22%20) and we do get some...

[2017-08-01 11:06] bnoordhuis commented on #9668
I think this is still relevant.  I'll take a look.

[2017-08-01 11:24] refack commented on #14171
@BorisKozo we try not to commit to the content of specific releases. At the moment I see no reason it won't make it in (this is the PR https://github.com/nodejs/node/pull/14345) but things may change. It's high probability that will make it out in the next few weeks.

[2017-08-01 11:57] #14441 closed

[2017-08-01 12:06] myitcv opened #14567 "Segfault in v8.2.1"
Unclear whether this is a dup of https://github.com/nodejs/node/issues/14228 so reporting separately for now.

[code]

The segfault occurs randomly when running the test suite for [GopherJS](https://github.com/gopherjs/gopherjs) (I can give more details if that is relevant)

Following the example of https://github.com/nodejs/node/issues/14228 here is the `gdb` information I have from one of the co

[2017-08-01 12:15] refack opened #14568 "test: investigate - async-hooks/test-graph.signal"
* **Version**: `master`
* **Platform**: linux
* **Subsystem**: async_hooks

https://ci.nodejs.org/job/node-test-commit-linux/11523/nodes=centos5-64
[code]
### [code](https://github.com/nodejs/node/blob/master/test/async-hooks/test-graph.signal.js#L16)
[code]
/cc @nodejs/async_hooks @Fishrock123 @thlorenz

[2017-08-01 12:22] myitcv commented on #14567
Just got another more interesting version:

<details>
<summary>core_dump.node.20212.myitcv-virtual-machine.1501589446</summary>
[code]
</details>

[2017-08-01 12:24] refack commented on #14567
/cc @nodejs/v8 @hashseed

[2017-08-01 12:28] refack commented on #14568
Making sure it's just a flake: https://ci.nodejs.org/job/node-test-commit-linux/11526/

[2017-08-01 12:31] myitcv commented on #14567
Reproduced using `v6.11.1`

[code]

<details>
<summy>core_dump.node.23896.myitcv-virtual-machine.1501590439</summary>

[code]

</details>

[2017-08-01 12:38] caitp commented on #5687
@gsathya has been working on improving these "not iterable" errors. Not sure if the recent progress has affected Promise.all or not, though

[2017-08-01 12:39] refack commented on #14567
@myitcv could you try and capture a stacktrace with lldb (`v8 bt` as per https://github.com/nodejs/node/issues/8074#issuecomment-265743130), that should contain the JS frames as well

[2017-08-01 12:52] hashseed commented on #14567
If it reproduces with v6.11.1, then at least the string rehashing patch cannot be responsible for it.

[2017-08-01 13:04] bnoordhuis commented on #14567
@myitcv What happens when you remove `--stack_size=10000`?  Common misunderstanding: it doesn't set the stack size, it tells V8 to assume the stack is that big.

[2017-08-01 13:06] myitcv commented on #14567
@refack with a new core dump: https://gist.github.com/myitcv/4fbcb7b34ea44f645b81ba4c3c139e78

You will notice that there is a fair amount of recursion going on here. This is expected given the test it is running.

[2017-08-01 13:09] myitcv commented on #14567
@bnoordhuis thanks, I didn't set that myself... going with the status quo.

If I remove `--stack_size=10000` then I get:

[code]

So I suspect that flag was put in there intentionally... will check.

[2017-08-01 13:16] tniessen commented on #14562
This appears to be caused by `lodctr.exe`:

[code]

However, I cannot tell why `lodctr` failed based on this log. Maybe someone else from @nodejs/platform-windows can.

If the problem persists, try to disable performance counters in the feature list.

[2017-08-01 13:19] bnoordhuis commented on #14567
@myitcv Try setting `ulimit -s` to a value > than `--stack_size=...`.

[2017-08-01 13:33] myitcv commented on #14567
@bnoordhuis 👍  - that seems to have sorted things.

Prior to your suggestion my `ulimit -s` was less than `--stack_size`

With the two equal I now cannot repro this in `v8.2.1`

I'm tempted to close this now unless there's some merit in keeping it open from your perspective?

Thanks again

[2017-08-01 13:41] mcollina commented on #14430
Considering the fact that the test is gone from master as it is targeting a deprecated API, I'm definitely :+1: in flagging it as flaky.

[2017-08-01 14:15] myitcv commented on #14567
I'll close for now, but please feel free to re-open if as I say there's a reason you would like to keep it open.

[2017-08-01 14:15] #14567 closed

[2017-08-01 16:05] bminer commented on #12101
@bnoordhuis - I'm pretty sure that `uv_tty_reset()` + `uv_tty_set_mode()` after a child process terminates would fix the problem because `stty sane` fixes the terminal.

But... I can't help but wonder why this issue occurs in the first place...

How would this fix work?  Put the code in the "exit" handler of the child process?

[2017-08-01 16:08] xiachaoxulu opened #14569 "nodejs require cause memory leak"
* **Version**: 4.3.1
* **Platform**:window 64
* **Subsystem**:

// test.js ********************************************
var app
app=require('./test1')

setInterval(function() {
	delete require.cache[require.resolve('./test1')]
    app = require('./test1')
}, 2000)

setInterval(function() {
    console.log('==================')
    console.log(process.memoryUsage())
    console.log('===============

[2017-08-01 16:33] andrasq commented on #14569
this came up just recently, but can't find the ticket.

The leak is because the module is also cached in `app.parent.children`; deleting it from `require.cache` is not sufficient.  Need to
[code]

[2017-08-01 16:40] AndreasMadsen commented on #14238
Sorry for the late response.

I think you do now. But, I think it very rare that setting `triggerAsyncId` this way is necessary as there often is a better solution. Just like I also think that `initTriggerAsyncIdScope` will be used very rarely, if implemented.

We don't guard against that and I could easily imagine a caching module, where if the requested data is cached it just calls the callback

[2017-08-01 17:00] owenallenaz commented on #14559
Interesting, if you go to the containment tab you can find MyClass https://www.screencast.com/t/euISdYvDDd . When I do a manually parse of the heapsnapshot file, I can see that the MyClass nodes have a structure similar to

[code]

If I look at the parent array it's entry is:

[code]

I'm not an expert at reading these files, but I thought the trace_node_id was supposed to effectively be the paren

[2017-08-01 17:07] Trott commented on #14507
https://ci.nodejs.org/job/node-test-binary-windows/10208/RUN_SUBSET=3,VS_VERSION=vcbt2015,label=win10/console

[code]

[2017-08-01 17:08] Trott commented on #14507
Seems to be happening on different flavors of Windows (win10, win2012r2, win2008r2) but only Windows.
¯\\_(ツ)_/¯

[2017-08-01 17:21] refack commented on #14507
Sorry for not RTFMing but I'm getting timeouts (also when using WebStorm), can anyone offer quick advice?
[code]

[2017-08-01 17:53] streamich opened #14570 "Require from internal folder"
This might be a somewhat controversial proposal: allow users to require from `internal` folder, like `require('internal/fs.js')`.

One can already use the *hidden* modules in the `/lib` folder, like:

[code]
However, I am not aware of a way to access the modules in [`/lib/internal`](https://github.com/nodejs/node/tree/master/lib/internal) folder. Does anyone know a way to `require` those? Are ther

[2017-08-01 18:01] refack commented on #14570
It's available as an undocumented cli switch. I'm not sure I want to name it explicitly here, but if you grep `/test/` for internals you'll find it.
I'm closing as "done" 😉

[2017-08-01 18:01] #14570 closed

[2017-08-01 18:03] MylesBorins commented on #14507
Just showed up

https://ci.nodejs.org/job/node-test-binary-windows/10222/RUN_SUBSET=0,VS_VERSION=vcbt2015,label=win10/console

[2017-08-01 18:04] mhdawson commented on #14384
I agree with @targos that the real question is not necessarily how we fix this specific issue (upgrade compiler or something else) but making sure we have enough collaborator/contributors lined up who will help to investigate/resolve issues on FreeBSD.   While it would be a shame to not have Node.js build on FreeBSD unless we can identify who is going to jump on those issues it is something we hav

[2017-08-01 18:07] addaleax commented on #14384
I have the impression that, as long as the individuals who are volunteering here to support Node.js on FreeBSD as an effort (anybody who wants to join @nodejs/platform-freebsd, please explicitly raise your hands :) ) are committed to doing so, there is no real problem.

[2017-08-01 18:09] #7231 closed

[2017-08-01 18:34] refack commented on #14384
Since this thread got fragmented a bit... AFAICT in https://github.com/nodejs/node/pull/14499#issuecomment-318406641 @emaste and @bradleythughes have officially volunteered.

@targos and @gibfahn could consider closing their respective threads when they come back from vacation.

[2017-08-01 18:36] gsathya commented on #5687
https://bugs.chromium.org/p/v8/issues/detail?id=6522 is the tracking bug for this.

[2017-08-01 18:36] streamich commented on #14570
1. What is the CLI switch?
2. Is there a reason why accessing the `/internal` folder should be allowed only with a CLI switch, for example. as mentioned above the user still can access the `require('_http_agent')` module, as one example. As I understand it, there is no way to require from the `/internal` folder only by accident, because `module.js` resolves in such a way that it will search for `i

[2017-08-01 18:43] bnoordhuis commented on #14570
We added lib/internal + the switch precisely because people kept mucking with node's internals.  The switch is there for our test suite, don't use it.

[2017-08-01 18:47] a1ph commented on #14559
It's definitely a bug. MyClass objects should be visible in the Summary view. My guess is that the closure context that refers 'objects' is not reachable from global object, but only reachable through a global handle of the timer, so DevTools thinks these are system objects and filters them out.

[2017-08-01 18:48] bnoordhuis commented on #14569
Duplicate of #8443, closing.  Thanks for answering, @andrasq.

[2017-08-01 18:48] #14569 closed

[2017-08-01 18:49] addaleax commented on #14559
@a1ph Is there ever any scenario in Node applications where DevTools *should* filter those out? Because if you’re right, just not doing so would seem like a simple fix.

[2017-08-01 18:50] bnoordhuis commented on #12101
@bminer No, of the parent process.  When it receives a SIGCHLD signal, it resets the tty.  Libuv is probably the right place to do it.

[2017-08-01 19:08] lkrubner opened #14572 "htop doesn't show memory spike, yet I get "allocation failure -- GC in old space requested""
Node version: v6.9.3

https://github.com/nodejs/node/issues/8162

Can anyone confirm that his might be an issue of maximum string length, being triggered where I call "console.log"? If not, then what is causing this problem?

I have doubts that string conversion is the problem, as the script does seem successful in converting the object to a string. When I "tail -f" the log, 66 kilobytes of data a

[2017-08-01 19:12] refack commented on #14570
To elaborate on @bnoordhuis comment.... Since JS does not have a formal notion of `private` encapsulation, we need to "invent" mechanisms for separating supported APIs (public) and unsupported endpoints (private / protected).
If there was no CLI switch a module author could use those unsupported endpoints and thus inadvertently expose their users to breakage. The CLI switch makes sure the end user

[2017-08-01 19:16] addaleax commented on #14572
I think this might be hard to debug without a reproducing example.

Also: As far as I know, the version of V8 that ships with Node 6.x doesn’t support heap sizes larger than 2 GB, so you may want to try using Node 8 if you need to exceed that limit (See the V8 5.8 release notes at https://v8project.blogspot.de/2017/03/v8-release-58.html).

[2017-08-01 19:19] lkrubner commented on #14572
@addaleax -- thank you for the response. I would guess that our other app, running on the same server, often goes beyond 2 gigs of heap. I suppose I can measure more precisely. It is strange that we should have memory problems with the app that fetches specific data from the database, rather than having memory problems with the app that holds all data in RAM.

[2017-08-01 21:24] eugeneo opened #14577 "--inspector-brk does not stop in code passed with the -e flag"
Running node like "node --inspect-brk -e "console.log('Hello')" does not break before executing the JavaScript code.

[2017-08-01 21:24] owenallenaz commented on #14559
I don't think the timer is related. I can actually remove it and the behavior continues. In addition, I also put it into a function call to increase the chance of it being bound to something. The following code still doesn't show any instances of `MyClass` despite no timer and being in a named function.

[code]

[2017-08-01 21:38] trevnorris commented on #14238
No worries. I do the same. :-)

I've been trying to address too many points in each post. I'd like to start hammering out fewer, more discrete, points. I'll address two of them here.

They are defined in both the EPS and API documentation:

This is contradictory to the model you're proposing. Would you agree?

Second question is easier to explain with a code example:
[code]
By using `emitBefore()`

[2017-08-01 21:58] mhdawson commented on #14206
@refack was just looking at the issue to see where we were, thanks for keeping an eye on it.

[2017-08-01 22:14] refack commented on #14577
It acts really strange, AFAICT it does wait for the debugger to attach, but then the debugger does not break.

[2017-08-01 22:31] eugeneo commented on #14577
It is by design - old debugger did a same. I have one ugly fix, I'll create a PR and we can discuss.

[2017-08-01 22:45] matiwinnetou commented on #13500
Name issue here.

[2017-08-01 23:37] abolinhas opened #14584 "Node.js - spawn is cutting off the results"
I'm creating a node program to return the output of linux top command, is working fine the only issue is that the name of command is cutted, instead the full command name like `/usr/local/libexec/netdata/plugins.d/apps.plugin 1` returns `/usr/local+`

My code

    const topparser=require("topparser")
    const spawn = require('child_process').spawn
    let	proc=null
    let startTime=0

    export

[2017-08-01 23:41] addaleax commented on #14584
This is not related to Node, so I’ll be closing this. What you’re looking for is the [`-w` flag for top](http://man7.org/linux/man-pages/man1/top.1.html) or the `COLUMNS` environment variable: `top -c -b -d 3 -w 512` should do what you want.

If you have follow-up questions, feel free to ask them at https://github.com/nodejs/help, which is a better place for this kind of question.

[2017-08-01 23:41] #14584 closed

[2017-08-01 23:51] refack opened #14586 "lint: wrap long lines that include RegExp when possible"
There are several places in the codebase where lines are longer than 80 characters but could be wrapped.
- [ ] https://github.com/nodejs/node/blob/master/test/addons-napi/test_properties/test.js#L4
- [ ] https://github.com/nodejs/node/blob/master/test/parallel/test-process-versions.js#L32
- [ ] https://github.com/nodejs/node/blob/master/test/parallel/test-repl.js#L197
- [ ] https://github.com/node

[2017-08-02 02:02] khomyakov42 opened #14590 "increase max old space size not working"
* **v8.2.1**:
* **Linux khomyakov-wpc 4.10.0-29-generic #33-Ubuntu SMP Wed Jul 19 13:34:25 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux**:

I run this code:

[code]
Result:
[code]

I used the flag to increase the maximum memory `--max-old-space-size=2000` but it had no effect
[code]
But if add console.log to body:
[code]

then flag --max-old-space-size working:
[code]

[2017-08-02 02:09] xiachaoxulu commented on #14569
Thanks for answering

[2017-08-02 02:11] doodadjs commented on #14406
@bnoordhuis Should I close the issue ?

[2017-08-02 02:14] mscdex commented on #14590
/cc @nodejs/v8

[2017-08-02 04:27] migounette commented on #2398
The main issue remains the API, who can drive the discussion in order to get the right API for node (Stream, TLS, UDP) and libuv
I will be happy to participate to the discussion (IOT and webRTC require it) but core team leaders are required
@saghul @mcollina @bnoordhuis

you can close the thread

[2017-08-02 05:48] mcollina commented on #2398
I am happy to join a biweekly team, if someone has time to put into the implementation.

[2017-08-02 06:37] bnoordhuis commented on #14406
I'll close it out, thanks.  I'd left it open in case someone from @nodejs/platform-windows had a comment on the fs.stat() thing.

[2017-08-02 06:37] #14406 closed

[2017-08-02 06:44] saihanuman73 opened #14592 "Error: spawn C:\Program Files\nodejs\node.exe ENOENT"
* **Node Version**: v6.11.0
* **Platform**:  Windows 8.1
* **Compiler**:
* **Module**: ionic cordova run android

<details><summary>Verbose output (from npm or node-gyp):

</summary>

[code]

[code]

</details>

[2017-08-02 06:53] nicojs opened #14593 "Passing empty environment variables to child processes convert to 'undefined' using ConEmu + Node"
* **Version**:  Since Node 8.0.0. (tested in Node 7.9, Node 8.0.0 and Node 8.2.1)
* **Platform**: Windows 10 version 1703 x64 using a shell (cmd.exe or git-bash) in [ConEmu](https://conemu.github.io/en)

## Problem description

When executing a process which spawns a child process, which in turn creates another child process, the empty environment variables are passed through as 'undefined' (the s

[2017-08-02 06:55] bnoordhuis commented on #14590
All three runs fail with an error, don't they?  Is the bug report here that the second one fails with "invalid table size" instead of "out of memory"?  That's because collections have a maximum size (512 MB on 32 bits architectures, 1 GB on 64 bits, IIRC.)

[2017-08-02 06:59] bnoordhuis commented on #14592
Please use https://github.com/nodejs/help/issues.

Cross-ref: https://github.com/nodejs/node-gyp/issues/1257

[2017-08-02 06:59] #14592 closed

[2017-08-02 07:09] adityaanandmc commented on #14586
Calling dibs if this hasn't been taken yet ^_^

[2017-08-02 07:28] bnoordhuis commented on #14593
Thanks for the bug report.  Does it reproduce outside of npm?  The behavior of process.env hasn't changed between v7.x and v8.x so I expect it's caused by something in npm.

[2017-08-02 07:32] matiwinnetou commented on #13500
@deas did you find any workaround for this?

[2017-08-02 07:48] bnoordhuis commented on #9668
I can confirm that it's still an issue but I suspect it cannot be fixed.

The request object is stored in the `state.incoming` array and bound to the `resOnFinish()` callback in order to clean up outstanding request body data when the response is finalized or aborted.

What is wryly amusing is that it's a mitigation for resource leaks when people hold on to the request object but it evidently repl

[2017-08-02 07:49] nicojs commented on #14593
I've thought of that as well, but I'm using npm 5.3.0 in all cases so that should not matter.

Maybe it something changed to `'child_process'`? I'm using `require('child_process').exec` and `require('child_process').execSync`.

[2017-08-02 07:52] bnoordhuis commented on #13500
The problem is with the cctest binary, it seems.  You can probably work around it by just building node with `make -C out node BUILDTYPE=Release`

[2017-08-02 07:54] bnoordhuis commented on #14593
Can you reproduce without npm being involved?  If so, can you post that test case?  (It's fine to do that inline here in a comment.)

[2017-08-02 07:57] adityaanandmc commented on #14586
@refack Would this be good way to go about it ? Or did you have a better solution in mind for
https://github.com/nodejs/node/blob/master/test/parallel/test-whatwg-url-properties.js#L47

[code]
 to
[code]

[2017-08-02 08:17] nicojs commented on #14593
Hmm good point.

Yes, I can. In one simple script using `node -e`.

[code]

If i run that script from a ConEmu tap it says:

[code]

From cmd.exe:

[code]

[2017-08-02 08:30] bnoordhuis commented on #14593
Well, that does point to ConEmu.  FWIW, it works in the expected way on Linux and OS X too.

[2017-08-02 08:50] nicojs commented on #14593
ConEmu maintainer Maximus5 says it does not change any environment variables. Also, it is translated to the actual string value `'undefined'`. This seems to be something that happens in the JavaScript world.

If you change my script to print the entire environment like this:

[code]

If i run that script from a ConEmu tap it says:

[code]

From cmd.exe:

[code]

[2017-08-02 08:56] deas commented on #13500
@matiwinnetou Did not try very hard. Ended up assembling the final linking command manually.

[2017-08-02 09:00] bnoordhuis commented on #14593
Can't reproduce, I'm afraid; it prints `foobar: '',` for me.

cc @nodejs/platform-windows in case any of you can reproduce.

[2017-08-02 09:13] nicojs commented on #14593
Just double checking: you have Node version 8.0.0 or 8.2.1 and running from inside ConEmu with cmd shell?

[2017-08-02 09:41] tniessen commented on #14593
Unable to reproduce with ConEmu 161206 (stable build) and node 8.2.1 on Windows 10. Both `npm install` in your repository and your snippet work just fine. Which ConEmu version are you using? How is your shell inside ConEmu configured? Please post the full shell command line along with any additional options.

[2017-08-02 09:56] guymguym commented on #14555
sure. will do.

[2017-08-02 09:59] #14519 closed

[2017-08-02 10:16] danielo515 commented on #4419
from which version is --inspect-brk=0 available ?

[2017-08-02 12:09] bzoz commented on #14507
Did some testing, it looks like it is more likely to happen if the machine load is high. Also, I've got it to reproduce more often on win2008 than on win2012 or win2016.

I've added displaying what is in the `buffer` when it is passed to [parseWSFrame](https://github.com/nodejs/node/blob/bfb4f4224d9f8f87944d611dd569d1d3579f5523/test/inspector/inspector-helper.js#L55) in `insepecot-helper.js`. I've

[2017-08-02 12:17] refack commented on #14586
The main motivation is the keep thing as readable as possible.
So... The general idea is not to use `RegExp` unless there are actual variables involved.
But the case you pointed out could be "mitigated" by wrapping the other parameters
from:
[code]

[code]
We do end up with a line that 85 chars long, but it's still better than before.

__But__ in this specific case since `assert.throws` also accep

[2017-08-02 12:55] nicojs commented on #14593
170402 (preview), but just now also installed 161206 and same issue.

These are my ConEmu settings, but also tried on an other laptop with default settings: https://gist.github.com/nicojs/3abd0b4b2a996c1633bd97c9fd33ec27

See this screenshot for a side by side comparison of what i'm doing. On the left you can see the content of the file "start.js" (which is the first code snippet i shared) and exe

[2017-08-02 13:02] bzoz commented on #14593
@nicojs, could you provide output of `env` from both ConEmu and cmd.exe?

[2017-08-02 13:03] bzoz commented on #14593
And `node -e console.log(process.env)`?

[2017-08-02 13:12] nicojs commented on #14593
I feel slightly naked for doing this. Everything for the cause. Please don't make fun of the size of my P...ATH

https://gist.github.com/nicojs/4de5af23fa937deb8372ced562ef0878

I did the same thing on both console applications and output can be found in the gist:

[code]

[2017-08-02 13:14] refack commented on #14593
I can repro:
node - v8.1.3
windows 10x64 build 15063
conemu 170517x64
concmu shell - `cmd.exe /k "%ConEmuBaseDir%\CmdInitRef.cmd" -new_console:a`

<details>
<summary>CmdInitRef.cmd</summary>

[code]

</details>

[2017-08-02 13:21] vsemozhetbyt commented on #14586
@refack We do not advise strings as error arguments here: https://nodejs.org/api/assert.html#assert_assert_throws_block_error_message (see notes in the chapter end).

[2017-08-02 13:23] refack commented on #14593
We're all friends here...

---

Procmon output:
![image](https://user-images.githubusercontent.com/96947/28875605-178515ac-7764-11e7-9edf-2bc2c3c6efa1.png)

<details>
<summary>child (node) 4640</summary>

[code]

</details>

<details>
<summary>grandchild (cmd) 12272</summary>

[code]

</details>

[2017-08-02 13:27] nicojs commented on #14593
@refack if it's not too much to ask, can you also confirm that you cannot reproduce it in Node v7.9? Just to make sure that it is indeed related to node 8 and up.

[2017-08-02 13:41] bzoz commented on #14507
It looks like this was the issue, I've opened a PR: https://github.com/nodejs/node/pull/14596

[2017-08-02 13:45] refack commented on #14593
@nicojs was just about to... but bad news:
[code]

Seems like it's a ConEmu thing, but I'm dubugging

[2017-08-02 13:46] tniessen commented on #14593
Okay, I found the problem, this is caused by ConEmuHk.dll which is injected into all processes by default. (I had this feature disabled in my ConEmu setup so I was unable to reproduce the issue.)

By default, ConEmu injects its own DLL into all processes, including node:

![conemu](https://user-images.githubusercontent.com/3109072/28876469-9ad038da-7799-11e7-9e67-2d4d6b3d1fcc.png)

[2017-08-02 13:54] nicojs commented on #14593
Wow! Disabled it and stuff works again like a charm!

Anyone running into this issue: setting can be found here:

![conemu-settings-hkdll](https://user-images.githubusercontent.com/1828233/28876757-882bee9e-779a-11e7-8c95-065fbf599b89.PNG)

So i guess an issue at ConEmu side after all (or in the injected dll). Tricky stuff. Thanks to all for your time! It took me several days to understand what wa

[2017-08-02 14:37] refack commented on #14593
I'm reopening since there is a node bug here:
__An env variable with an `undefined` value gets converted into the string `'undefined'`__

[2017-08-02 14:39] evanlucas commented on #14593
@refack see https://github.com/nodejs/node/issues/4920

[2017-08-02 14:40] cjihrig commented on #14593
This is documented behavior though.

[2017-08-02 14:44] refack commented on #14593
Ack, but that's just part of the story, here node is spawned in an environment with an `undefined` value...
![image](https://user-images.githubusercontent.com/96947/28879145-62cbb952-776f-11e7-93cc-9dbeea68e32a.png)

---

![image](https://user-images.githubusercontent.com/96947/28879216-8fcad35c-776f-11e7-9280-0ec8a4955763.png)

[2017-08-02 14:52] MylesBorins commented on #14178
This is popping up all over the v8.3.0 release tests

https://github.com/nodejs/node/pull/14594

[2017-08-02 16:04] andrewjjenkins commented on #7914
It looks like this is fixed.  @janakimeyyappan did some testing with node 8.2.1 and no longer sees the issue.  We suspect 2e9d9c18 fixed it and if that wasn't enough, then #13013 finished it off (and has good test results). #13522 may also be related - looks like it might be the evolution of #7946 that stalled for a little while.

Thanks @brendanashworth, @jbergstroem and @mscdex .

Since I filed

[2017-08-02 16:04] #7914 closed

[2017-08-02 16:12] Trott commented on #14586
That is wrong. A string as the second argument will be the message printed if the code does not throw. Avoid it studiously because everyone makes this mistake. It is an unfortunate legacy issue in the API.

[2017-08-02 16:18] Trott commented on #14586
IMO https://github.com/nodejs/node/blob/master/test/parallel/test-whatwg-url-properties.js#L47 could be left as is and removed from the list. If you want to marginally improve it, then the indentation modification option suggested by @refack is the way to go:

[code]

You could also consider replacing the regexp with a function, but going that route solely to avoid some line-wrapping seems misguid

[2017-08-02 16:27] #11826 closed

[2017-08-02 16:31] #14572 closed

[2017-08-02 16:32] matthewloring opened #14599 "test/parallel/test-async-wrap-getasyncid.js crashing"
* **Version**: master
* **Platform**: mac 10.12.6/ubuntu 14.04 tested so far
* **Subsystem**: async wrap

Example asan output

[code]

[2017-08-02 16:43] refack commented on #14586
(mixed up `assert.throws` and `common.expectsError`)

IMHO wrapping will be the best, and also if we're touching this I believe the `RegExp` should be anchored for start of line (`/^xxx`) as well (if the test still passes).

[2017-08-02 17:04] mhdawson commented on #14599
Seen on AIX as well
https://ci.nodejs.org/job/node-test-commit-aix/nodes=aix61-ppc64/7590/console
https://ci.nodejs.org/job/node-test-commit-aix/nodes=aix61-ppc64/7602/console

[2017-08-02 17:07] matthewloring commented on #14599
/cc @nodejs/async_hooks

[2017-08-02 17:22] refack commented on #14599
@matthewloring I'm assuming this is intermittent, right?
Also could you run with `lldb` or `llnode` with `v8 bt` so the JS frames will be resolved.

[2017-08-02 17:35] matthewloring commented on #14599
I'm not sure the best way to capture a stack at the point where the leaked object is allocated/freed. As best I can tell the allocation happens with this stack:
[code]
and the free happens with this stack:
[code]

But these aren't consistent with the stacks reported by asan.

[2017-08-02 17:35] matthewloring commented on #14599
@refack I have been able to reproduce it on every asan run and it has shown up in every CI attempt on https://github.com/nodejs/node/pull/14001 (non asan builds).

[2017-08-02 17:44] refack commented on #14599
I'm marking as `flaky` and trying to investigate...

[2017-08-02 17:48] tniessen commented on #14599
/cc @addaleax as there are stack frames related to #14518.

[2017-08-02 18:42] FeeFelipe opened #14601 "GET request wrong string"
Hi,

When i send a json value by GET request with a string "/", in my application i receives -  {"type":"ac  - and i don't know the reason

Ex: http://api.site.com/find/{"type":"ac/ad"}

If i use that's value from POST request, it works very weel.

Thanks.

[2017-08-02 18:50] bnoordhuis commented on #14601
Please post questions to https://github.com/nodejs/help/issues, not this bug tracker.  Thanks.

[2017-08-02 18:50] #14601 closed

[2017-08-02 19:06] gpean commented on #13512
Thanks, I'll do my best to open source it.
I have a question related to using uv_async_t the same way @mika-fischer is doing in his library (and I am doing I think the same) -  When calling back the JS side using `napi_make_callback`, if I resolve/reject a promise from this JS callback, sometimes it will stall/hang for a while- i.e. JS will do nothing, and resume after a random while. As if the ev

[2017-08-02 19:11] mscdex commented on #14590
Seems like it should throw a JS exception on invalid size instead of a hard crash though.

[2017-08-02 19:22] Trott commented on #8404
Ref: https://github.com/nodejs/node/issues/14336

[2017-08-02 19:29] Trott commented on #9784
I don't get the problem with the time presented in the upper right. In the screenshot in this issue, 5min 18sec is surely the right duration for all the tests to run, not something 1000 times smaller or larger. What am I overlooking?

[2017-08-02 19:30] jasongin commented on #13512
Make sure you're calling `napi_make_callback()` from the main event loop, not from another thread / event loop.

If it's still a problem, please share sample code to reproduce it.

[2017-08-02 19:30] Trott commented on #9501
Should this remain open?

[2017-08-02 19:31] Trott commented on #12300
Should this remain open?

[2017-08-02 19:34] Trott commented on #12244
Given that #12404 was closed without merging, should this remain open? I strongly suspect 4.x is going to go EOL before this is fixed, but someone is welcome to prove me wrong by fixing it. :-D

[2017-08-02 19:37] Trott commented on #1128
Should this be closed now that async-hooks is a thing?

[2017-08-02 19:38] Trott commented on #11842
Should this remain open?

[2017-08-02 19:39] sam-github commented on #12244
should close, the PR was rejected.

[2017-08-02 19:39] #12244 closed

[2017-08-02 19:43] Trott commented on #9003
It looks like the backport loanded in April. Closing. Feel free to comment or re-open if I'm wrong and this is still a thing.

[2017-08-02 19:43] #9003 closed

[2017-08-02 19:44] bmeck commented on #11842
@Trott No bandwidth currently to move it, but still relevant and comes up on social media somewhat often

[2017-08-02 19:46] Trott commented on #11902
Should this stay open?

[2017-08-02 19:47] Trott commented on #12453
Should this remain open?

[2017-08-02 19:50] gpean commented on #13512
since I/we are using `uv_async_t` inited with `uv_default_loop()` to `napi_make_callback`, it should be the proper loop (/thread) right? also I would expect more dramatic failures if calling from foreign threads.

[2017-08-02 19:50] Trott commented on #12554
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-02 19:50] #12554 closed

[2017-08-02 22:55] bnoordhuis opened #14602 "tls: remove Next Protocol Negotiation? [rfc]"
Rationale: NPN has been superseded by ALPN.  Chrome dropped support a year ago in Chrome 51.  It's not needed for HTTP/2.

Strawman proposal:

- deprecate `tls.convertNPNProtocols()` in node 9 (or now - it's undocumented)
- warn on `NPNProtocols` option or access of `.npnProtocol` property in node 9?
- remove in node 10

Backwards compatibility concerns:

- OpenSSL < 1.0.2 supports NPN but not ALP

[2017-08-02 23:06] Trott commented on #12568
I'm getting similar results with Node.js 8.2.1 but radically different results with the master branch which has V8 6.0 currently (and which will come out in Node.js 8.3.0 Very Soon Now).

Is this resolved in V8 6.0?

(Since this is a V8 issue, should this issue remain open in this repository?)

[2017-08-02 23:07] Trott commented on #6725
Closing due to inactivity. If it's still an issue please comment or (if GitHub allows you to do so) re-open.

[2017-08-02 23:07] #6725 closed

[2017-08-02 23:07] mmclau14 opened #14603 "submodule access for non standard folder structures"
* **Version**: v7.10.0
* **Platform**: posix
* **Subsystem**: osx sierra 10.12.6 (16G29)

this is a general feature request. I understand that this may not be how a module is normally structured by most people, but I would think that there are more out and more this could be applied to than assumed at first glance.

basically, I would like to be able to do what I have outlined in this stackoverflo

[2017-08-02 23:09] Trott commented on #583
Should this remain open?

[2017-08-02 23:11] Trott commented on #12396
@nodejs/http

[2017-08-02 23:13] Trott commented on #12410
@nodejs/url Should this remain open?

[2017-08-02 23:14] Trott commented on #12281
Should this remain open? If so, does it make sense to make it a tracking issue with some check boxes so it's obvious at a glance what parts are done and what parts aren't?

[2017-08-02 23:16] mscdex commented on #14602
Do we know about support for NPN (without ALPN) by the rest of the ecosystem (e.g. browsers, popular web servers, etc.)?

I'd be hesitant to remove it yet since web standards adoption tend to lag a fair amount. FWIW the RFC for ALPN was first *published* in 2014.

[2017-08-02 23:17] refack commented on #12281
Don't triagathon me 👼
Yes, I'll break break this up. I have several better defined sub-tasks in mind.

[2017-08-02 23:18] Trott commented on #9285
Seems to me like the consensus of the project Collaborators involved in this discussion is that this is better suited for an add-on/third-party module than for core. I'm going to close this at this time. If I've misunderstood or if you otherwise believe that closing this is the wrong thing to do, please comment or (if GitHub allows you to do so) re-open. Thanks!

[2017-08-02 23:18] #9285 closed

[2017-08-02 23:28] Trott commented on #12611
There's now `tools/update-eslint.sh`. Even if you are on an OS that can't run it, it should still be useful as a step-by-step guide for updating.

[2017-08-02 23:28] #12611 closed

[2017-08-02 23:43] refack commented on #12281
/cc @nodejs/platform-windows now that we've grown in numbers, and at @Trott's behest, I've broken this issue down to several more tractable tasks. I'd be happy if we all pitched in (I've given most of the tasks some thought, but not enough work, so I'd be discuss each of them).

[2017-08-02 23:47] bnoordhuis commented on #14602
NPN is only two years older.  The fact that Chrome hasn't supported it since mid-2016 is IMO a good indicator that it's not used much.

[2017-08-02 23:52] bnoordhuis commented on #12410
I'll close it out.  PR welcome but no guarantee it will be accepted.

[2017-08-02 23:52] #12410 closed

[2017-08-02 23:56] bnoordhuis commented on #14603
Unless I misunderstand you, that would change the module system in a backwards incompatible way, so the answer is almost certainly 'no.'

[2017-08-02 23:58] bnoordhuis commented on #14590
You'd have to take that up with the V8 team.  It's not just maps and sets though; arrays have similar size limits.

[2017-08-02 23:59] bnoordhuis commented on #14565
I'll close this out.  I might file a libuv PR for the errno.

[2017-08-02 23:59] #14565 closed

[2017-08-03 00:01] bnoordhuis commented on #14562
No follow-up so I'll assume it's working now.

[2017-08-03 00:01] #14562 closed

[2017-08-03 00:02] bnoordhuis commented on #14496
I'll close this out since there is clearly no consensus.

[2017-08-03 00:02] #14496 closed

[2017-08-03 00:04] bnoordhuis commented on #14556
Seems like this has been answered.  Closing then.

[2017-08-03 00:04] #14556 closed

[2017-08-03 00:04] bnoordhuis commented on #14433
No follow-up, closing.

[2017-08-03 00:04] #14433 closed

[2017-08-03 00:06] tigerbot opened #14605 "StreamWrap doesn't properly close the wrapped connection"
* **Version**: v8.2.1
* **Platform**: Linux 4.4.0-87-generic #110-Ubuntu SMP x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: TLS

When emitting anything other than a fully opened net.Socket object to a TLS server that stream/connection gets wrapped in a way that prevents it from being properly closed when the decrypted side of the connection is destroyed. This makes it difficult to wrap encrypted

[2017-08-03 00:07] bnoordhuis commented on #14311
I'm closing this as known limitation per my previous comments.  If anyone has ideas on how to handle it better, please open a PR.

[2017-08-03 00:07] #14311 closed

[2017-08-03 00:11] bnoordhuis commented on #14182
@nodejs/build - please see @gibfahn's comment.  I'm closing this out as the bug report is against v7.x and that's out of support.

[2017-08-03 00:11] #14182 closed

[2017-08-03 00:12] bnoordhuis commented on #14166
Closing as working as intended.  Reopen if you (generic you) feel that is a mistake.

[2017-08-03 00:12] #14166 closed

[2017-08-03 00:16] bnoordhuis commented on #14161
Can this be closed now?

[2017-08-03 00:17] bnoordhuis commented on #14080
Can this be closed?

[2017-08-03 00:20] bnoordhuis commented on #14069
#14004 landed and will be released in v8.3.0.  I'll close this out, cheers.

[2017-08-03 00:20] #14069 closed

[2017-08-03 00:22] bnoordhuis commented on #14060
Does anyone care enough about this issue to make the necessary changes or should we just close it out?

[2017-08-03 00:25] bnoordhuis commented on #13983
Let's do this; fork() + shell doesn't make sense.  I've added a good-first-contribution label.

[2017-08-03 00:28] bnoordhuis commented on #13955
I'm closing this out due to lack of traction.  https://github.com/nodejs/help/issues would probably have been a better place for it.

[2017-08-03 00:28] #13955 closed

[2017-08-03 00:49] coolaj86 commented on #14605
following

[2017-08-03 01:01] ORESoftware commented on #14556
@bnoordhuis do you know the mechanism by which a node child process is killed if detached is set to false and the parent dies?

[2017-08-03 02:19] mmclau14 commented on #14603
how is that? From what I understand (obviously as an outsider) it would only be an addition on top

[2017-08-03 03:10] gireeshpunathil commented on #14080
@bnoordhuis - no I guess, @jbajwa is working on this with [v8](https://bugs.chromium.org/p/v8/issues/detail?id=6578)

[2017-08-03 03:15] hzqij commented on #14562
yes, it worked -- disable performance counters

[2017-08-03 03:48] dougwilson commented on #12396
I don't know the history here, but I have seen similar behavior in other clients as well, with some documentating that the reason to close after a HEAD request is to interop with misbehaving servers that may send a body in the response.

[2017-08-03 07:42] adityaanandmc commented on #14586
@refack
Doesn't make these into constants as it's a custom message & further wrapping isn't possible :
- https://github.com/nodejs/node/blob/master/test/parallel/test-repl.js#L197
- https://github.com/nodejs/node/blob/master/test/parallel/test-repl.js#L207

Scnearios where the string can be made into a constant but that would make matters worse as defining the constant would hog more characters th

[2017-08-03 08:10] targos commented on #12568
I tested with 8.3.0-rc.0 and the speed is the same in all cases. I think we can consider this as resolved by the V8 6.0 upgrade.

[2017-08-03 08:10] #12568 closed

[2017-08-03 08:12] nfrigus commented on #13410
Got here trying to run debug on node v8 in WebStorm.
It worked for me after adding --inspect to node parameters as stated here:
https://intellij-support.jetbrains.com/hc/en-us/community/posts/115000397470-Debugging-node-version-8-1-2

[2017-08-03 08:50] tniessen commented on #14161
I don't think this has been resolved yet, even though I currently can't try whether it still occurs, but I suspect that #14178 is related.

[2017-08-03 08:51] targos commented on #14384
@emaste is now in the platform-freebsd team and I invited @bradleythughes. Thank you to both of you for stepping up!
I think we can close this issue for now.

[2017-08-03 08:51] #14384 closed

[2017-08-03 08:57] MasterJames commented on #12410
There is a simple work around as far as I'm concerned. Just took the time to assess what gives. Seemed like a simple to fix no Brainer to me at the time. Kinda still does. Thanks for listening sorry to bother.

[2017-08-03 09:06] streamich commented on #14570
@refack, thanks. Would be great to expose the `internal/errors.js` in the future for other libraries to be able to throw similar/same errors that Node does.

[2017-08-03 09:09] shigeki commented on #14602
Firefox(NSS) has already disabled NPN. https://hg.mozilla.org/projects/nss/rev/24581a36b2bb
Safari and IE are now still using NPN and both are also supporting ALPN so we need not to worry about them.

The only affected thing is that some old versions of distributions (e.g. RHEL) still have OpenSSL-1.0.1 with their own backports even it is EOLS. But I think that we cannot care about their each prod

[2017-08-03 09:11] ChALkeR commented on #14537
New updates:
* https://www.reuters.com/article/us-symantec-divestiture-thoma-bravo-idUSKBN1AI2N6
* https://www.symantec.com/connect/blogs/symantec-ca-acquisition

Symantec is selling its CA business to [Thoma Bravo](https://en.wikipedia.org/wiki/Thoma_Bravo), the company behind DigiCert.

[2017-08-03 09:14] bnoordhuis commented on #14556
Processes aren't killed unless you send them a signal that they don't or can't handle.

If you ^C a process, the kernel sends a SIGINT to the process group; that usually terminates both the parent and its children, grandchildren, and so on.

If the parent simply exits, its descendants are reparented by the kernel to their grandparent (the parent's parent), all the way up to PID 1 if need be.

[2017-08-03 09:17] arboreal84 commented on #14448
`Okay, some confusion (here). We have a WriteStream and a WriteStream.

No, the types are:

- `stream.WritableStream` and `fs.WriteStream` (note the name difference, Writ**able** vs Writ**e**
- `stream.ReadableStream` and `fs.ReadStream` (note the name difference, Read**able** vs Read)

[2017-08-03 09:21] lll000111 commented on #14448
The documentation is *confusing*. Also, what I wrote.

[2017-08-03 09:32] targos commented on #12257
I think we can close. The fix is included in V8 6.0.

[2017-08-03 09:32] #12257 closed

[2017-08-03 09:33] shigeki commented on #14537
Mozilla has decided to follow Google. https://groups.google.com/d/msg/mozilla.dev.security.policy/Oaeqtddo_Cw/lN-Pp6h1AAAJ

I would like to see how they deprecate  and remove them from certdata.txt if we can make it by just updating root certs.

[2017-08-03 09:35] arboreal84 commented on #14448
This issue asks to add members of filesystem streams to their parent types in the documentation. This is not the case in the implementation.

The stream types in the `stream` module (e.g: `Readable`, `Writable`, `Duplex` and `Transform`) are abstract types, that can be used to implement a concrete stream type. There are many examples of this in node itself (e.g: `http.IncomingMessage` extends `str

[2017-08-03 10:42] nicojs commented on #14593
So how do we proceed? Apparently, [node converts null to undefined](https://github.com/Maximus5/ConEmu/issues/1209#issuecomment-319750216), which is should not do? And only when the ConEmuHK.dll is injected into child processes an empty value is transformed to 1`null`? Is that the correct conclusion?

[2017-08-03 10:53] jorangreef commented on #1671
I am not sure if this helps or is related, but with Node 7 and Node 8 we have been seeing massive jumps in RSS a few days after launching a process.

![image](https://user-images.githubusercontent.com/413206/28918515-cb862344-7849-11e7-8758-e4bbfbc080f9.png)

For a week or so (it varies), things run smoothly without fragmentation, and then suddenly RSS just keeps climbing until it hits our max old

[2017-08-03 10:58] fhinkel commented on #13464
The fix was applied to 6.11.2 two weeks ago, see https://github.com/nodejs/node/pull/14373. I just checked and it seemed to work fine (endless loop). I'm closing this. Let me know if I misunderstood and this should remain open. Thanks for reporting!

[2017-08-03 10:58] #13464 closed

[2017-08-03 11:03] fhinkel commented on #13258
As this is very brittle to changes, I'd prefer not to add the option. As Ben said, most solutions would break more than fix. Do you have a use case for it? Would it be enough to note the bug in the documentation?

[2017-08-03 11:05] jorangreef commented on #6078
@owenallenaz I think we are having the same issue as you, see https://github.com/nodejs/node/issues/1671#issuecomment-319936354

There have been a few memory and fragmentation related issues in the past few months.

[2017-08-03 11:49] bnoordhuis commented on #14593
Node treats an empty string as an empty string.  If it doesn't, that's a bug but I doubt that's the case here, or we would have received a small avalanche of bug reports by now.

I think a more likely explanation is that the parasitic code that ConEmu injects does something to GetEnvironmentVariableW() that breaks node.  In fact, it seems like an inescapable conclusion because you mentioned that d

[2017-08-03 11:58] nicojs commented on #14593
Thanks @bnoordhuis

@refack @Maximus5 do you agree with this assessment?

[2017-08-03 12:08] targos commented on #11629
This is still an issue but AFAICT there is nothing Node.js can do about it.

Repro on v8.x:
[code]

[2017-08-03 12:09] refack commented on #14593
I'm focusing to reproducing the bug I see on the node side (handling of an environment variable with a `Null` value).
If I can reproduce without `ConEmuHK.dll` then it's I'll open a PR.

[2017-08-03 12:12] refack commented on #14570
That's coming, probably even in an `npm` package.

[2017-08-03 12:18] AlexanderAA opened #14606 "process.platform returns undefined on OpenBSD"
* **Version**: v6.11.1
* **Platform**: OpenBSD
* **Subsystem**:

This prevents anything compiled with PureScript from working (e.g. see https://github.com/purescript-contrib/pulp/issues/299).

[code]

[2017-08-03 12:22] refack commented on #14586
@adityaanandmc for the first two and last two, IMHO simply wrapping will look nicer:
[code]
to:
[code]

Same trick can be done for https://github.com/nodejs/node/blob/master/test/parallel/test-v8-serdes.js#L143 even just before the block scope to save two indentation chars (but add a comment why it's there).

This issue turns out to be an exercise in creative typography 😉

[2017-08-03 12:28] mscdex commented on #14606
`process.platform` is not `undefined`, it's `console.log()` that returns `undefined`. As you can see from the `console.log()` output, `process.platform` *is* set to `'openbsd'`. You can verify this further by simply typing `process.platform` in the REPL.

[2017-08-03 12:28] #14606 closed

[2017-08-03 12:36] Slayer95 commented on #14603
If you want to load modules relative to the main file, using require.main.require(relativePath) covers your case.

Does that work for you?

[2017-08-03 12:38] targos commented on #14516
Thanks for the report. I'm closing because this is fixed in V8 6.0 which is on `master` and will be in Node 8.3.0.

[2017-08-03 12:38] #14516 closed

[2017-08-03 12:43] jbajwa commented on #14080
@gireeshpunathil
Hi Gireesh, as per the [v8](https://bugs.chromium.org/p/v8/issues/detail?id=6578) bug, the fix is in 6.1 [CL](https://chromium-review.googlesource.com/c/568686) and the backport to 6.0/5.9 was rejected. So the only option is to float the patch in node (not sure what the process for that is) until v8 is upgraded to 6.1.

[2017-08-03 12:55] bnoordhuis commented on #14080
@jbajwa Cherry-pick the patch to deps/v8 and open a PR.  See `git log deps/v8` for what the commit log should look like.  Ping me here or on Slack (if I'm around) if you need assistance.

[2017-08-03 12:59] jbajwa commented on #14080
@bnoordhuis
Thank you, I will do that now.

[2017-08-03 13:22] bnoordhuis commented on #14537
I was going to suggest the same thing: just wait until NSS removes them from certdata.txt, then upgrade.

[2017-08-03 13:23] saghul commented on #2398
I'm happy to participate in discussions or code review, but I'm afraid I won't be able to contribute code myself. Agreed with Ben, libuv-extras seems like the right place for it.

[2017-08-03 13:45] mmclau14 commented on #14603
almost, @Slayer95 and @bnoordhuis so that applies to internal access of modules correct? and that's awesome, but i was thinking the same thing but from the outside. which, I would think would only take a bit more logic in the path resolution.

[2017-08-03 13:52] bnoordhuis commented on #12396
@dougwilson is spot on.  The current behavior was implemented in 2011 in commit e576d4ec79a.

I'll close this out because I don't think we want to change it.  It would probably do more bad than good.

[2017-08-03 13:52] #12396 closed

[2017-08-03 14:58] jasnell commented on #14602
+1 to a docs-only deprecation of NPN in 9.x, followed potentially by a runtime deprecation in 10.x.

[2017-08-03 15:06] ChALkeR commented on #14537
@bnoordhuis I have two questions about that approach.

The main one is: do I underdtand correctly that the removal from `certdata.txt` won't happen for the intermediate step of distrusting certs issued before June 1, 2016 (which browsers are going to ship the coming spring) and will happen only with full Symantec certs drop the next autumn, so we won't have the intermediate step and will have to w

[2017-08-03 15:08] bnoordhuis commented on #14602
Yeah, no, that's not what I'm proposing; that would mean NPN stays around until 2021 because of node 10's LTS status.  That's not a good thing for a deprecated protocol.

[2017-08-03 15:15] shigeki commented on #5798
Note that OpenSSL has just landed a commit to use DRGB with AES-CTR of NIST SP 800-90A as https://github.com/openssl/openssl/commit/75e2c877650444fb829547bdb58d46eb1297bc1a. We can use it with the os-specific seeding source (e.g. /dev/urandom) by a default define flag of `OPENSSL_RAND_SEED_OS`.
I think it is best for us to wait for the next release of OpenSSL-1.1.1.

[2017-08-03 15:18] bnoordhuis commented on #14537
That doesn't have to be an issue.  We can (and do) upgrade root certificates in minor releases.

Dunno.  It's probably only an annoyance for node.js TLS clients because they don't control what certificate is served to them.

For node.js TLS servers, I don't know if it's worth the effort.  I expect more users will find out through their browser than through `--print-deprecation`.

[2017-08-03 15:36] thany opened #14609 "Readline messes up order of calls"
* **Version**: 8.2.1
* **Platform**: Windows 10
* **Subsystem**: Readline

Please consider this code:

[code]

Run it, and you'll see the problem.

It'll output this:

[code]
The `|` represents the position of the cursor.

So what goes wrong here? Well, somehow, these two calls overlap, or interfere, or whatever. It's like `question` is called at the exact moment the `write` is outputting the `\n`

[2017-08-03 15:38] tniessen commented on #12281
I would prefer Powershell over JScript.

[2017-08-03 15:44] refack commented on #12281
Yep, that's https://github.com/nodejs/node/issues/12310 (I'm 80% there, just 80% more left) - https://gist.github.com/refack/969ecc6642981bfd7caef7d948d78076

[2017-08-03 15:52] jasnell commented on #14602
A case could definitely be made for a more aggressive schedule and the point about 10.x LTS is good. While it's not my preference, I'd be good with a runtime deprecation in 9.x and EOL on 10.x

[2017-08-03 15:57] vsemozhetbyt commented on #14609
@thany There is something else here: you do not end `rl.write()` call with a line break, so the cursor remains in the line of the output. Then `rl.question()` put the cursor on the line beginning and write the data in this position, moving existing data on

See: https://github.com/nodejs/node/blob/b8e0a5ea23e536fe24e94f1d460aaeadb8839e76/lib/readline.js#L264-L275 and https://github.com/nodejs/node

[2017-08-03 16:20] dcharbonnier commented on #8397
for me something has changed on 8.2 compared to 8.1, the documentation is confusing and https://github.com/nodejs/node/issues/8397#issuecomment-244518056 is correct

[2017-08-03 16:30] Jehops commented on #14076
Assuming these node-sass build issues are fixed after 8.2.1 (we're still seeing them in 8.2.1 on FreeBSD 11.1 amd64; see below) would it be possible to roll a new v8 release?

[code]

[2017-08-03 16:35] owenallenaz commented on #6078
@jorangreef Is there a chance you are using `WeakMap` in your code? Right now our running theory is that ours is caused by #14420. Unfortuntaely we won't know for a few days when we are deploying a new code version with our `WeakMap` refactored out.

[2017-08-03 16:42] refack commented on #14076
@Jehops seems like it will be in `node@8.3.0` (https://github.com/nodejs/node/issues/14594), available now as RC https://nodejs.org/download/rc/v8.3.0-rc.0/

[2017-08-03 16:44] azasypkin opened #14611 "Documentation should mention `encoding` instead of `defaultEncoding` as options property for `fs.createWriteStream`"
* **Version**: 6.11.1
* **Platform**: Linux 4.12.3-1-ARCH
* **Subsystem**: fs

[Documentation](https://github.com/nodejs/node/blob/master/doc/api/fs.md) says that `defaultEncoding` is the right options property for `fs.createWriteStream`. But if we look into source code [1] `options` are directly passed to `WriteStream` that expects `options.encoding` [2]. At the same time `options` are passed to

[2017-08-03 18:16] JoseExposito opened #14613 "Wildcards and Hostname/IP doesn't match certificate's altnames"
Hi,

I'm using "request" to send queries from my Node.js server (in a docker container) to another Ruby on Rails docker container:
https://www.npmjs.com/package/request

The Ruby based container is configured with "network_mode: isolated" and with "hostname: ruby". This allows other containers in the isolated network to connect to them by using the host "ruby.isolated".

The code I'm using looks l

[2017-08-03 18:20] addaleax commented on #14613
I don’t know the reasons, but this seems intentional: I think this is the responsible code:
https://github.com/nodejs/node/blob/3ccfeb483df5a6402da9b40346a7eb33cfb4b70a/lib/tls.js#L148-L150

i.e. `*.isolated` is not allowed because it’s of the form `*.tld`, not a real sub-domain wildcard.

/cc @nodejs/security

[2017-08-03 18:28] sonicdoe opened #14614 "Consistent `TypeError`s"
[code]

The above output is from Node.js v8.2.1. I think It would be nice if `TypeError`s in general would be more consistent across Node.js’s core modules.

[2017-08-03 18:39] jasongin commented on #13254
@trevnorris @AndreasMadsen @addaleax Can you comment on the two options I defined above for exposing async context via N-API? I would like to implement this soon.

[2017-08-03 18:42] mscdex commented on #14614
That's the eventual goal. All errors are being more standardized to include error codes and such. It takes time to convert entire modules over and doing so (currently) still is a semver-major change, meaning those changes won't be seen until the next major version of node.

[2017-08-03 18:48] sonicdoe commented on #14614
Thanks for the quick reply. I read about the standardization of error codes in the [Node.js v8 blog post](https://nodejs.org/en/blog/release/v8.0.0/#static-error-codes) and am glad to hear that the error messages itself will be revised eventually, too 👍

[2017-08-03 19:23] Trott commented on #14614
Looking at changes thus far in 9.0.0-pre, it does seem like the `ERR_INVALID_URL` (from `new URL(null)`) above might be better as `ERR_INVALID_ARG_TYPE` (which is what `path.join(null)` throws). I would expect `ERR_INVALID_URL` if I passed a string that wasn't a valid URL. But passting `null` is different. Not sure if it should be changed or not--there may be performance considerations etc.--but f

[2017-08-03 19:51] AndreasMadsen commented on #13254
I don't really have an opinion. ABI stability is not something I have a lot of experience with. As for exposing the specific type, I think we should just leave it unspecified. I very much doubt that there is a good use case for knowing it and we can always document it later.

[2017-08-03 20:23] addaleax commented on #13254
@jasongin Do you think a opaque value without getters would work for you? I am not sure we really need the latter (and if so, we can always revisit), and we might be able to get around the heap allocation restriction with clever (read: dark magic) tricks.

[2017-08-03 21:58] gla5001 commented on #5444
@bnoordhuis I believe this issue is still available and I was looking into it to get my head wrapped around it and see if I could actually implement what was requested. Now I could be going down the completely wrong track but here is what I found.

When calling `verify` it hits the `Verify::VerifyFinal(const FunctionCallbackInfo<Value>& args)` function https://github.com/nodejs/node/blob/master/sr

[2017-08-03 22:22] jasongin commented on #13254
An opaque `napi_async_context` without getters could work. But that seems to go against what you said above:

We can always add the getters later if and when they are needed. The only concern then is the small performance cost of heap allocation and getters, compared to the non-opaque context structure. The getters could never be inlined, since they are called through the ABI. Do we expect native

[2017-08-03 22:27] addaleax commented on #13254
Using a tagged pointer with 2×31 bit fields for the values on 64-bit platforms. That’s going to work pretty well for a lot of applications.

I don’t really see why they would need access at all, tbh. Passing along the `async_context` should suffice for 99.9 % of native addons, I think?

[2017-08-04 00:08] trevnorris commented on #1671
@jorangreef can you provide the `v8.getHeapStatistics()` after memory has begun to grow?

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-04 00:35] jasongin commented on #13254
How? The async context structure consists of two 64-bit (`double`) async IDs.

[2017-08-04 00:37] addaleax commented on #13254
@jasongin It’s still reasonable to assume that for a long time, the IDs will fall into the [0..2**31] range. I know it won’t hold true forever, and depending on the application that may be faster or slower, but my estimate would be that it would be worth it.

[2017-08-04 00:40] jasongin commented on #13254
OK, I had missed that the optimization could be conditional on the IDs being < 2**31.

[2017-08-04 01:14] isaaczinda opened #14617 "socket.connect does not use specified localAddress for DNS lookup"
Version: 8.2.1
Platform: Windows 10, x64
Subsystem: DNS / Net

I am establishing a TCP connection to a remote server over a cellular modem. However, I have not made the cellular modem the primary network adapter. I have made the modem's interface metric very high, so that by default sockets still open over WiFi. Because of this configuration, I have to specify the modem's IP if I want to connect u

[2017-08-04 02:31] cjihrig commented on #13258
I'm definitely in favor of at least documenting this.

I don't personally have a need for the option. However, running with `--abort-on-uncaught-exception` is a somewhat common practice in production, and this bug kind of makes the `vm` module incompatible with that. That said, I don't recall ever seeing this reported before.

[2017-08-04 02:42] stelcheck opened #14618 "net: wildcard host can be listened over by another net server instance"
* **Version**: 7.10.0
* **Platform**: Windows (still confirming if this also happening on macOS; Linux does not seem affected)
* **Subsystem**: net

Ref: https://github.com/mage/mage/issues/102#issuecomment-318958115

In a nutshell:

  1. Start two http server, s1 and s2
  2. s1.listen('0.0.0.0')
  3. curl to localhost; s1 respond
  4. s2.listen('127.0.0.1') - gives an error on a Linux host, but n

[2017-08-04 03:18] vishal7201 opened #14619 "os.EOL constant issue"
* **Version**:
* **Platform**:
* **Subsystem**:

Version : v8.2.1
Platform: Windows (64 bit)

Code
[code]

Output
[code]
os.EOL is specified as a constant but its value is getting updated

[2017-08-04 03:46] XadillaX commented on #14619
I think we may define `os.EOL` by using `Object.defineProperty` with not configurable and not writable? Then we mark that update with SEMVER-MAJOR?

If we can do that, I'll take this work.

[2017-08-04 03:48] TimothyGu commented on #14619
I'm okay with that.

[2017-08-04 05:18] Trott commented on #4262
Can someone with access to a Raspberry Pi confirm this is still a problem with Node.js 8.x?

[2017-08-04 05:37] vishal7201 commented on #14619
I'd love to address this issue! How can I submit a PR for this?

[2017-08-04 05:37] dcharbonnier opened #14621 "change the way the arguments are defined in the doc"
The documentation does not reflect correctly the types of the arguments, an argument that can be null or undefined should not be defined as "integer" https://github.com/nodejs/node/pull/14612/files#r131284818
This comment is an example but all the documentation is like that, this require to be changed everywhere or it will be confusing, for now it's implicit but if we change it at one place we sho

[2017-08-04 05:38] Trott commented on #7912
Semver changes policy: Included under https://github.com/nodejs/node/blob/3702ae732eadd9d7c64681edcdd76cd7a30f6381/COLLABORATOR_GUIDE.md#accepting-modifications.

Deprecation policy: https://github.com/nodejs/node/blob/3702ae732eadd9d7c64681edcdd76cd7a30f6381/COLLABORATOR_GUIDE.md#deprecations.

If there's stuff missing, feel free to re-open and specify what's missing or open a new issue. Or if I'

[2017-08-04 05:38] #7912 closed

[2017-08-04 05:39] Trott commented on #14621
@nodejs/documentation

[2017-08-04 05:40] Trott commented on #12667
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-08-04 05:40] #12667 closed

[2017-08-04 05:43] Trott commented on #12663
Should this remain open?

[2017-08-04 05:44] Trott commented on #11703
Should this remain open? (I can't tell.)

[2017-08-04 05:45] Trott commented on #12680
Closing due to inactivity. Feel free to re-open if there's a doc issue or build tool issue that needs to be addressed here.

[2017-08-04 05:45] #12680 closed

[2017-08-04 05:46] Trott commented on #12665
This is still an issue, right? No canonical way to squelch the output? Or should this be closed?

[2017-08-04 05:47] Trott commented on #12636
This should remain open? If so, maybe label `help wanted`?

[2017-08-04 06:25] fhinkel commented on #12888
The fix was back-merged to 5.7 and newer. It's fixed in Node 8. Node v7 is not supported anymore. I think we can close this.

[2017-08-04 06:25] #12888 closed

[2017-08-04 06:28] XadillaX commented on #14619
@vishal7201 Sorry but I just saw your reply after I finished the PR.

[2017-08-04 06:32] fhinkel commented on #12300
It's still an issue. We could add a `known_issue` test for it and close this.

[2017-08-04 06:51] bnoordhuis commented on #12663
I believe this was a ccache issue on one of the buildbots that has since been fixed by removing the buildbot.  I'll close it out.

[2017-08-04 06:51] #12663 closed

[2017-08-04 07:06] bnoordhuis commented on #14618
That's an OS level thing and not really under node's control: different platforms have different definitions of the 0.0.0.0 address.

I can acknowledge that it's an issue but it's not something we can fix.  You run into the same issue with a C program that calls socket() + bind() + listen().

[2017-08-04 07:12] stelcheck commented on #14618
That's what I feared. Thank you!

[2017-08-04 07:12] #14618 closed

[2017-08-04 07:17] bnoordhuis commented on #14617
Just so we're on the same page, the .localAddress option uses the address as-is, it doesn't do DNS resolution.  I infer that isn't what you meant but I mention it in case I inferred wrong.

Not quite.  `dns.lookup()` uses a system tool, period.

It sounds like the system resolver is configured incorrectly.  That is not a node.js issue; you would have the same problem in another language or runtime

[2017-08-04 07:28] bnoordhuis commented on #5444
@gla5001 For background, openssl's error stack needs to be balanced.  It should have the same height on entry and exit of `Verify::VerifyFinal()` (and other binding functions in node_crypto.cc), else subsequent calls to crypto primitives start failing because there are errors on the stack.  That is taken care of by ClearErrorOnReturn.

The feature request is to copy out the error stack before it i

[2017-08-04 08:43] vishal7201 commented on #14619
No problem @XadillaX

[2017-08-04 08:44] treemore opened #14623 "Report accurate file location information with Unhandled promise rejections are deprecated"
* **Version**:
v8.2.1 v8.1.3
* **Platform**:
mac
* **Subsystem**:

some promise exception like
(node:61755) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Cannot read property 'catch' of undefined
(node:61755) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate

[2017-08-04 09:03] bnoordhuis commented on #14623
Start node with `--trace-warnings` to get stack traces.

[2017-08-04 09:03] #14623 closed

[2017-08-04 09:05] bnoordhuis commented on #14613
That's correct.  Closing as duplicate of #5867 and others.

[2017-08-04 09:05] #14613 closed

[2017-08-04 09:35] bzoz commented on #14395
Sorry, I can't reproduce, although I'm running slightly newer (10.0.15063) Win10 version. Can you update your OS and see if problem still happens?

[2017-08-04 09:38] luki opened #14624 "Suggestion: Return type in function declaration & possible option to view types by clicking in doc"
While working with Node.js, I found having the return types of a function (If given) in the function declaration instead of somewhere in the paragraph below it (As seen in the example following) might improve the documentation.

![Example screenshot](http://i.imgur.com/FDwu1md.png)

Further on, it would most likely be useful to be able to click on the types. Both suggestions are popular documentat

[2017-08-04 10:05] jorangreef commented on #1671
@trevnorris, this is before and after the first inflection point in the graph above:

[code]

[2017-08-04 10:12] jorangreef commented on #6078
We're not using WeakMap anywhere.

[2017-08-04 10:21] gibfahn commented on #9784
That's the time it took the job to run, Jenkins has no problem with that as it's a Jenkins native measurement.

The problem is the duration of each of the individual tests. They all show 0ms because their duration has been divided by 1000. The parsing of the `duration_ms` output of each test is the issue.

[2017-08-04 10:57] mcollina commented on #14605
Is this a bug just in Node 8, or in the previous Node.js versions as well?

[2017-08-04 11:02] iwebworldinfo opened #14626 "this blog providing good information To learn NodeJS visit http://iwebworld.info contact: iwebworldinfo@gmail.com"
* **Version**:
* **Platform**:
* **Subsystem**:

[2017-08-04 11:03] iwebworldinfo commented on #14626
this blog providing good information To learn NodeJS visit http://iwebworld.info  contact: iwebworldinfo@gmail.com

[2017-08-04 11:10] jondubois commented on #13937
I read in this article https://medium.com/the-node-js-collection/node-js-errors-changes-you-need-to-know-about-dc8c82417f65 that there is a plan to change the `error.name` to contain the 'code' as part of the name string. I think this is a bad idea because:

1. A common strategy for handling errors in the past involved setting a custom name before throwing the error and then later checking the err

[2017-08-04 11:23] #14626 closed

[2017-08-04 11:34] TimothyGu commented on #14624
Most functions (not `url.parse()` it seems, unfortunately) have a "Returns: <Type>" bit, like [urlSearchParams.entries()](https://nodejs.org/api/url.html#url_urlsearchparams_entries). While a good idea, I'm somewhat worried that writing the returned type would crowd the heading too much for a function with long parameter names like `url.parse()`.

[2017-08-04 12:18] gla5001 commented on #5444
Ok. That makes sense. Can you point me in the direction of where these exception objects are? I'm not following that part in the code. To me it seems like CheckThrow will return the error stack or generic error to JS.

[2017-08-04 12:58] cjihrig commented on #12665
I closed #12671 without merging because we couldn't really decide *how* this should be implemented. I'm happy to reopen it if we come up with a plan first.

[2017-08-04 13:27] refack commented on #13937
@jondubois valid comment, so just to be clear this change will only affect Errors that `node` core it throwing. AFAIK there is no plan to touch "userland" Errors in any way.
For example if you did:
[code]
core would throw
[code]
now instead the Error will have a `code` and it's name will include it:
[code]

[2017-08-04 13:58] mgwhitfield opened #14628 "DiffieHellman/ECDH Generates invalid keypairs"
* **Version**: 6.11.1
* **Platform**: Windows 10
* **Subsystem**:

Error is thrown:
**error:0D07207B:asn1 encoding routines:ASN1_get_object:header too long**

User Experience Log:
A user should not have to manually wrap the generated keys in the proper "PEM" format since PEM is very precious about spaces.  Without wanting to be pejorative, that sucks.  The fact that this code example still doesn't

[2017-08-04 14:01] addaleax commented on #14628
/cc @nodejs/crypto

(also edited the OP to add syntax highlighting)

[2017-08-04 14:02] gla5001 commented on #5444
Also to your comment about

Which Verify::VerifyFinal() are you referencing? The one that is bound is the one taking in `const FunctionCallbackInfo<Value>& args`, which is not the function clearing the error stack as the code is now.

[2017-08-04 14:16] Fishrock123 commented on #14624
Yeah I'm not really for putting it in the heading either

[2017-08-04 14:27] papakai opened #14629 "tls.createSecureContext times out"
* **Version**: v6.11.2
* **Platform**: ubuntu
* **Subsystem**:

We're having a node.js app with SNICallback in use. For one SSLCert, tls.createSecureContext breaks. We don't get anything returned and Browser shows TLS Handshake being in Progress until this times out.
So this is the config provided as parameter for tls.createContext, but again - in other cases this works like a charm. In another se

[2017-08-04 14:56] luki commented on #14624
@Fishrock123 A reasoning would be nice

[2017-08-04 15:13] Maximus5 commented on #14593
Try to open non-existent file before environment access. Actually any function (which do SetLastError) called before environment access may confuse node I think.

[2017-08-04 15:14] Maximus5 commented on #14593
Environment variable contains empty string, but  Node checks for non-zero GetLastError() instead of described ERROR_ENVVAR_NOT_FOUND.

[2017-08-04 15:30] maasencioh commented on #12586
Hello @refack , could you please update a little bit the list? because I think that the current state is the following, but I would like your oppinion:

### indexOf that shouldn't be changed
* test/common/index
* test/pummel/test-dtrace-jsstack

### pending
- [ ] test/async-hooks/init-hooks - https://github.com/nodejs/node/pull/14630
- [ ] test/parallel/test-repl-tab-complete - https://github.com/

[2017-08-04 15:40] RichardDavid commented on #9355
Just upgrade node version using nvm and it should solve this issue.

[2017-08-04 15:54] shigeki commented on #14628
Let me confirm that in your sample code you created a DH public and private key pair and tried to use them in `publicEncrypt/publicDecrypt` by formatting the DH key pair into PEM.  It that right?

`publicEncrypt/publicDecrypt` only support RSA not ElGamal. Is that the reason why the error was occurred?

[2017-08-04 15:58] addaleax commented on #14619
@vishal7201 How did you discover this? Is this causing issues for you?

[2017-08-04 16:37] bnoordhuis commented on #14593
Node.js checks this: `result > 0 || GetLastError() == ERROR_SUCCESS`.  I'm not a Windows programmer, I've no idea if that is correct, but that logic hasn't changed in five or six years.

[2017-08-04 16:49] bnoordhuis commented on #14629
Without steps to reproduce there isn't much we can do.  Your best best probably is to move it to https://github.com/nodejs/help/issues, perhaps someone else ran into the same issue.

I'll close the issue.  Let me know if you have a test case of sorts and I'll reopen.

[2017-08-04 16:49] #14629 closed

[2017-08-04 16:51] Maximus5 commented on #14593
Looks like it was changed in node 8.x because version 7.x doesn't suffer from tge problem.

[2017-08-04 16:52] bnoordhuis commented on #5444
The latter, the binding function.

ThrowCryptoError() is the function you want, most likely.  You'll probably have to move some code around to be able to adorn the exception object.

[2017-08-04 17:10] bnoordhuis commented on #14628
This seems like a wrong expectation to me.  The documentation is clear that `publicEncrypt()` and friends use RSA, nowhere does it mention ElGamal; OpenSSL supports only the former, not the latter.

I'll close this out.

[2017-08-04 17:12] refack commented on #14593
I'll dig a bit.

[2017-08-04 17:24] mscdex commented on #14628
FWIW I have to do the same thing in my `ssh2-streams` module before passing a key to `verifier.verify()`. It's annoying that non-PEM keys are not allowed, but at least the code to wrap it in a PEM format isn't too horrible...

[2017-08-04 17:27] vishal7201 commented on #14619
@addaleax I was just playing with os module in REPL mode and just figured it out!

[2017-08-04 17:36] #14545 closed

[2017-08-04 17:40] bnoordhuis commented on #14628
@mgwhitfield Is ^ what you are requesting?

[2017-08-04 17:46] addaleax commented on #14391
Quoting https://github.com/nodejs/node/commit/539f4c0e16a4d465c359a6918772368d51192501#commitcomment-23478657 by @davidmurdoch:

It would probably be nice to compile a list of changed error messages for this release.

[2017-08-04 17:49] #14507 closed

[2017-08-04 18:03] misterdjules commented on #9501
@Trott I think it's fair to close this issue since we've shown how to use probes statically defined within node's core on OSX, even though not being able to leverage DTrace translators makes it a bit less user-friendly.

If that workaround is not good enough, we could open a separate issue to investigate whether it could be possible to make DTrace translators work on OSX.

Thus, closing this issue

[2017-08-04 18:03] #9501 closed

[2017-08-04 18:04] Trott commented on #14391
Speaking of the new internal errror stuff...

I've been neutral on it lately, but I'm starting to wonder more and more if it's worth it.

As I see it, here are the upsides:

* Provides users with a persistent identifier for errors. Seems good to me.

* Creates the possibility of one day not having message changes be breaking changes, although no guarantee there. (I consider this a very small benef

[2017-08-04 18:05] refack commented on #14391
I'm working on it, as per @ljharb's idea, to write an npm package that will do Error message to Error code mapping (https://github.com/nodejs/node/issues/13937#issuecomment-316266928)

[2017-08-04 18:14] ljharb commented on #14391
@refack I'm happy to help with any difficulty you have making it backwards-compatible as far back as possible!

[2017-08-04 18:14] matthewwiesen commented on #8381
@mikeal While "most" node module developers may be using `request`, not all are. There are plenty of other libraries that directly interface with node's `http` / `https` core modules. So this can't be solved by saying everyone should be using request.

Even if people did utilize `request`, the fact is that node modules can override these proxy settings and thus leave the end user no way to overrid

[2017-08-04 18:18] evanlucas commented on #14391
@Trott I have been a little concerned myself. I think one of the big changes that hasn't really been mentioned is the fact that the code property is no longer writable... I saw `err.code = 'some string'` just the other day.

[2017-08-04 19:01] addaleax commented on #14599
Fix is in #14634, this really is my bad.

[2017-08-04 20:39] gibfahn commented on #14405
@XGHeaven This will be considered in the next v6.x. If 2791761 cherry-picks cleanly to v6.x, and the risk of the change is deemed to be low, it should go into the next release. If it doesn't cherry-pick cleanly it'll have to be backported (process [here](https://github.com/nodejs/node/blob/master/doc/guides/backporting-to-release-lines.md)).

v4.x is in maintenance, so most fixes aren't backported

[2017-08-04 22:44] Fishrock123 commented on #14624
Easiest argument against it is that that would break links to the docs. Fixing that would probably be non-trivial in the build tooling.

Another is that the return type is already listed.

That being said, while we do have some function with different "argument signatures", it just doesn't operate int he same was a typed language does and as such I'm not certain the same notation is desirable.

Fi

[2017-08-04 23:18] ORESoftware commented on #66
@sosz please search and read the whole thread before, I patched promises to use domains myself, in a much simpler way

[2017-08-04 23:36] ORESoftware commented on #66
I just want to add my 2 cents to the long run discussion. I have a job. I want to keep my job. I really prefer to not have my server(s) crash, even if we use forever or supervisor to restart upon crashes.

Using the following allows use to avoid many crashes.

[code]

**You bet your sweet ass we use domains in production.**

[2017-08-04 23:38] guymguym commented on #14555
PR is up. It's my first PR for nodejs so let me know if I missed any guidelines, or you prefer different code for any reason, and I would be happy to make changes.

[2017-08-04 23:49] Trott commented on #8723
@refack Are you actively working on this? Is a `help wanted` label appropriate?

@Eugeny @bjarnij or anyone else: Can anyone confirm that this is still happening with Node.js 8.2.1? (I imagine it is, but might as well confirm since this has been dormant for 3 months.)

[2017-08-04 23:57] Trott commented on #12693
Hi, @deadbeef84! Thanks for making the feature request and explaining the use case. It sounds like `NODE_OPTIONS` has this covered so I'm going to close this. If I'm mistaken about that, please comment (or, if GitHub permits, re-open). Thanks!

[2017-08-04 23:57] #12693 closed

[2017-08-05 00:05] wayofthefuture commented on #7653
We are using childProcess.fork().
When we run "node myapp.js" from the command line, everything is fine.
When we run "pm2 start myapp.js", cmd windows pop up everywhere.

I find it hard to believe people aren't having major problems with this. The pm2 behavior does not mimic the node behavior. Trying to push a production app onto a windows device is no longer possible with pm2 as continual popups

[2017-08-05 02:19] Trott commented on #14137
Ref: https://github.com/nodejs/node/issues/10129

[2017-08-05 02:58] gla5001 opened #14638 "Add indent option to util.inspect?"
* **Version**: master
* **Platform**: all
* **Subsystem**: util

It was mentioned in [comment on PR](https://github.com/nodejs/node/pull/14558#issuecomment-319991058), that it might useful to have 'real indenting' for `util.inspect` via a new option passed in. This is to make it function more like JSON.stringify with passing in a space specifier. Is this something that people would like to see? Wo

[2017-08-05 08:34] bnoordhuis commented on #8723
We might as well close this as it's unlikely to be a Node.js bug.  Good idea, bad idea?

[2017-08-05 10:07] Eugeny commented on #8723
Unfortunately, I don't have any Macs at my disposal at the moment.

@bnoordhuis how exactly is this not a Node bug? At least in Node 7, it's a regression from a returned error to a hard crash.

[2017-08-05 10:34] MasterJames opened #14639 "chrome devtools appspot.com? security concern!"
_Nodejs: 8.1.3 on Ubuntu Server  and  Chrome: 60 on Windows_

I noticed when using chrome devtool that if you visit this site chrome://inspect/#devices
When I run a VM with nodejs it will appear in this list.
I noticed if you follow the 'inspect' link it opens a dedicated window (I don't want that I want them it tabs can't get the link etc).

Still it shows remoteBase=chrome-devtools-frontend.apps