[2017-07-06 20:16] vsemozhetbyt commented on #14041
It seems this is a questionable approach, so I shall close for now. Thank you for the feedback.

[2017-07-06 20:16] #14041 closed

[2017-07-06 20:32] seishun commented on #14100
Your test case is effectively:

[code]

When running in Git Bash, [GetFileType](https://msdn.microsoft.com/en-us/library/windows/desktop/aa364960(v=vs.85).aspx) on stdin returns FILE_TYPE_PIPE rather than FILE_TYPE_CHAR. Consequently, Node.js doesn't consider it a TTY and sets its `highWaterMark` to the default value of `16384`, rather than `0` as in cmd.

Once you're resumed a stream, it will rea

[2017-07-06 20:34] refack commented on #14100
I kinda already turned this to a documentation issue 😊, I say keep this open...

[2017-07-06 20:42] zimbabao commented on #13031
@cjihrig : Haven't faced issue anymore. Closing the ticket.

[2017-07-06 20:42] #13031 closed

[2017-07-06 20:51] zladuric commented on #11273
Hey @jasnell if I were to take on one of these (specifically fs.js), what would be the steps? Looking at some PRs here, I would:

  - checkout a new branch (`fs-internal-errors`?)
  - make changes to `fs.js` and `internal/errors.js` (`egrep "new (Range|Type)?Error" ../node/lib/fs.js` - 27 errors to replace`)
  - change all the `expectError` assertions in `test/parallel/test-fs-*.js` (6 occurences

[2017-07-06 20:55] bnoordhuis commented on #14112
Does it work when you do `make clean all CC.host=gcc CXX.host=g++`?  If not, can you post the contents of config.gypi?

[2017-07-06 20:58] sauergeek opened #14113 "Node.js version 8.1.3 'make test' does not obey LD_LIBRARY_PATH"
* **Version**: 8.1.3
* **Platform**: Linux pc-16l9rd2 3.10.0-514.26.2.el7.x86_64 #1 SMP Fri Jun 30 05:26:04 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: n/a

In case the specific Linux variant matters, the platform is Red Hat Enterprise Linux 7.3 with a fair bit of newer custom software living in /usr/sup.

The Node.js build instructions say configure, make, make test.  In my case, mak

[2017-07-06 21:03] bnoordhuis commented on #14113
The short answer is "you don't."

Quite a few tests spawn child processes with intentionally empty or custom environments.  If you want node to use a newer libstdc++, you'll have to directly link against it.

[2017-07-06 21:19] hashseed commented on #13877
`JsRuntimeSerializeSetExternal` sounds interesting. Does it require the external references to be added in the same order for both taking and inflating the snapshot? If not, how do you make sure the required external references have been added for inflating?
I think having one general array has the advantage that for inflating from snapshot we can just index into the provided array without the ove

[2017-07-06 21:24] bmeck commented on #13877
@hashseed not difficult, just boilerplate. Needing them prior to actually taking the snapshot is a bit of a problem for C++ addons / templates that get instantiated on demand.

[2017-07-06 21:28] davedoesdev commented on #6369
@bzoz yes indeed, it does work. I've updated my test app (https://github.com/davedoesdev/node-windows-fd-test, see first comment in this ticket) to use `uv_get_osfhandle`.

@jviotti thanks for fixing this.

[2017-07-06 21:29] hashseed commented on #13877
But even with an API that works with name to external reference mapping, you would need to know before using the snapshot that you'd have to add the external references for certain on-demand instantiated addons / templates, right?

I'm just trying to figure out whether such an API makes sense in V8 as well. It would not benefit Blink (we are actually moving to the opposite direction to reduce over

[2017-07-06 21:31] iyobo opened #14114 "moduleFoo/moduleFoo.js should work same as moduleFoo/Index.js"
In projects with many module folders, it becomes quite tedious to navigate when searching by file.

E.g Say you wanted to work on the moduleFoo module and searched for a file named 'moduleFoo', you'd see nothing. You have to search for 'index.js', which floods your search with the index.js of every module in the project. You'd then have to pick the actual index.js you want from the hundred or so r

[2017-07-06 21:37] bmeck commented on #13877
correct, we would probably use a container format that keeps this data around in addition to the startup blob.

[code]

[2017-07-06 21:39] sam-github opened #14115 "Windows vcbuild is missing FIPS support, like ./configure --openssl-fips"
* **Version**: all
* **Platform**: Windows
* **Subsystem**: crypto/tls

node can be linked against a FIPS cannister with `./configure --openssl-fips=...`, but `vcbuild.bat` has no equivalent option.

[2017-07-06 21:40] hashseed commented on #13877
That's similar to what I had in mind. The flexibility provided by mapping via name would be unnecessary given the complexity that would introduce, I guess.

[2017-07-06 21:40] sam-github commented on #14115
@refack I've started digging into this, trying to figure out how FIPS builds work on any platform.

Is the `vcbuild.bat` even worth modifying? Weren't you rewriting it into PowerShell, or something?

[2017-07-06 21:46] refack commented on #14115
It's a really boring process, but surreptitiously we've declared an impromptu "Windows ❤️ " hackathon for this weekend https://github.com/nodejs/node/issues/4603#issuecomment-313390996, hopefully I'll wrap up the powershell goop.
Ref: https://github.com/nodejs/node/issues/12310

tl;dr find out what comes after the `=` and I'll follow up.

[2017-07-06 21:53] mrkmarron commented on #13877
I don't have a strong opinion on the array vs. single entry design, the single entry just seemed simplest while I was prototyping but changing to arrays is not hard.

However, I definitely think there is a lot of value using stable names for the mapping. Unless there is a large performance implication or other serious concern I see having a stable "obvious" key for the mapping as a much better cho

[2017-07-06 22:24] mscdex commented on #14114
-1 'index' is a better fit coming from standalone web server environments and having multiple lookups that provide the same functionality (and further slow down the lookup process) doesn't seem like a good idea.

[2017-07-07 00:00] sauergeek commented on #14113
Setting LDFLAGS does not solve this problem, which surprises me: I get exactly the same set of errors.  I ended up having to set LD_RUN_PATH instead.

Did not work:
% setenv LDFLAGS "-L/usr/sup/lib64 -L/usr/sup/lib"

Did work:
% setenv LD_RUN_PATH "/usr/sup/lib64:/usr/sup/lib"

That got me down to just testInstanceOf failing, which I will investigate separately.

[2017-07-07 00:00] #14113 closed

[2017-07-07 01:19] josephrocca commented on #14102
I may be experiencing this same bug downstream int he `request` module. See [my comment](https://github.com/request/request/issues/2161#issuecomment-313375694) for code that reproduces this bug fairly reliably (still takes 5 to 10 minutes for it to occur though).

[2017-07-07 01:39] vkurchatkin commented on #13929
`process._tickCallback` is unavoidable if we want to leave current microtask queue integration as is.

[2017-07-07 01:57] richardlau commented on #14114
Also -1. `index.js` is a fallback... `moduleFoo` can already provide a `moduleFoo/package.json` with the `main` field set to `moduleFoo.js`.

[2017-07-07 01:59] xl-yang commented on #14102
@mscdex I did try res.on('error'), not working.

[2017-07-07 02:08] xl-yang commented on #14102
@mscdex this issue might need enchancement in code or API document modification to show the correct behaviors when using https.request. So I would suggest remove the 'question' label to draw more attention, thanks.

[2017-07-07 02:42] XadillaX commented on #14086
In fact, `AresEnsureServers()` will check a flag by `env->cares_query_last_ok()` first. If your query is succeeded, next checking steps won't be executed.

[2017-07-07 02:49] reviewher opened #14118 "[DOC] Buffer.from / new Buffer accept Uint8Array (missing)"
Both can accept a Uint8Array.  [Buffer.from](https://github.com/nodejs/node/blob/master/lib/buffer.js#L189-L191) explicitly checks for [Uint8Array](https://github.com/nodejs/node/blob/master/lib/buffer.js#L370)

It looks like a documentation omission.  If so, I can send a PR.

[2017-07-07 02:59] Trott commented on #14118
@nodejs/documentation

[2017-07-07 03:12] josephrocca commented on #14102
Some people ([1](https://stackoverflow.com/a/4121047/993683), [2](https://stackoverflow.com/a/37016929/993683)) have suggested this:
[code]
But the error (`read ECONNRESET`) still occurs and is uncaught in the reproducible example I posted above.

[2017-07-07 03:35] Trott commented on #1826
@zahidul-islam might be interested in taking this on if @TimothyGu is willing to mentor. Maybe he can start with a single module just to get a feel for it?

[2017-07-07 03:36] gireeshpunathil opened #14119 "aix: os.networkInterfaces produces inconsistent output"
* **Version**:  v9.0.0-pre (not a regression though)
* **Platform**: AIX
* **Subsystem**: os

[code]
produces this error:

[code]

basically the netmask (and sometimes the mac value too) keeps changing.

[2017-07-07 04:13] bmeurer commented on #14069
Ok, thanks. @targos do we also have downloadable Node w/ V8 6.0?

[2017-07-07 04:51] elad commented on #14086
@xadillax I don't understand your reply. Are you confirming what I said? Or are you saying there's no problem?

[2017-07-07 05:08] targos commented on #14069
I don't think so. But if 5.9 doesn't have the issue, do we need to check 6.0?

[2017-07-07 05:10] #3136 closed

[2017-07-07 05:13] XadillaX commented on #14086
@elad I mean that maybe the problem is not occurred by `AresEnsureServers`

[2017-07-07 05:37] bmeurer commented on #14069
Oh, right, sorry. I was confused.

[2017-07-07 05:39] stefanosala commented on #14069
I guess everything will be magically fixed on 8.2 then? 👯 :)

[2017-07-07 05:52] Trott commented on #5545
Looks like there's a reasonable solution already in place, so I'm going to close this. If that's wrong and this should still remain open because the feature requested is still desirable, leave a comment saying that the issue should be re-opened. Thanks!

[2017-07-07 05:52] #5545 closed

[2017-07-07 05:56] elad commented on #14086
Oh I didn't mean to imply there's a problem with it, just that maybe we need a way to "force" it to run.

[2017-07-07 05:57] Trott commented on #2017
It looks like this issue may have morphed over time. It's been dormant for two years, though, so I'm going to close it. If that's not the right thing to do, leave a comment saying so or (if GitHub permissions allow) re-open the issue. Thanks.

[2017-07-07 05:57] #2017 closed

[2017-07-07 06:02] Trott commented on #1885
I see a libuv patch landed but was then reverted. There hasn't been any comments on this issue in nearly two years. Does anyone know if it's still an issue? Should it be closed? Or perhaps updated?

[2017-07-07 06:20] simonkcleung opened #14120 "Improve "listener" property lookup in a handler"
Just reviewed some lines in events.js which check the the "listener"  property like that
[code]
The problem is that the event handler always does not have the "listener" property. Most likely, the JS engine will search "listener" as deep as possible in the prototype chain everytime.

This can be improved by using obj.hasOwnProperty method, like:
[code]
Or for better readability, do it in a functio

[2017-07-07 06:30] mscdex commented on #14120
I don't think having a `listener` property deep in a prototype chain is common. Can you even subclass `Function`? Either way, such a change would need to be benchmarked as `hasOwnProperty()` was pretty slow last I checked (with Crankshaft).

[2017-07-07 07:38] bnoordhuis commented on #14113
If you are running tests from a tarball it might be #13344.

[2017-07-07 08:07] aqrln commented on #14114
I don't think we are going to make any changes to the CommonJS module loader logic. There's no particular reason to do so, and doing it may break a lot of thing throughout the ecosystem. Given the -1's it this thread, I'm going to close the issue, but feel free to reopen if you think otherwise.

[2017-07-07 08:07] #14114 closed

[2017-07-07 08:17] yhc-yhc opened #14121 "How do I ensure that the callback function finishes before the end of the process?"
test.js
[code]
node test.js

and when the program is running, I press ctrl + c, and the terminal out is like this:

[code]
but the 3 to 12 callback has no time to run, how resolve this problem?

[2017-07-07 08:22] mscdex commented on #14121
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

[2017-07-07 08:22] #14121 closed

[2017-07-07 11:15] georgecrawford commented on #14069
I don't follow the above - it's totally out of my league! - but if it helps, I've observed the following:

`docker run -it node:8.1-alpine /bin/sh -c 'npm i bcrypt && node -e '"'"'require("bcrypt").genSalt(10)'"'"` produces output:

[code]

[2017-07-07 12:08] ikokostya commented on #8369
Chromium `Version 58.0.3029.110 (64-bit)`
Node.js `v8.1.2`
OS: `Linux arch 4.10.3-1-ARCH`

Inline source map still doesn't work.

[2017-07-07 13:40] gireeshpunathil commented on #14119
So [here](https://github.com/nodejs/node/blob/cc8fc462f1817c6443ddb288440ca349bd644bdd/deps/uv/src/unix/aix.c#L1195) is the obvious reason - it is unimplemented - neither netmask nor mac.

[2017-07-07 13:40] gireeshpunathil commented on #14119
the values were essentially garbage, neatly formatted as IP addresses.

[2017-07-07 14:21] davidchappelle opened #14124 "Node 6.11.0 does not build for arm7"
* **Version**: v6.11.0
* **Platform**: Linux K000160 3.10.0-uc0 #1 SMP Fri Nov 18 10:53:51 EST 2016 armv7l unknown

Here is the patch that I have to get it building.

[code]

Basically removing the -m32 flag from toolchain.gypi. I am not a gyp ninja so I not sure what the correct patch is. Likely some additional conditional check to avoid this option if the target arch is arm.

[2017-07-07 14:48] davidchappelle commented on #14112
I tried your suggestion and it didn't work. Seems that my target CC/CXX flags are being used for host compilation. I have updated my build script accordingly to account for both host and target options:

[code]

Here is my `config.gypi`:

[code]

Here is the output of the current failure. Seems that something is passing `--32` to `as` and it is getting angry:

[code]

[2017-07-07 15:29] papakai commented on #14087
question: in case a server prematurely closes connection, is that case then also covered through "end" event of server response? or have I explicitely to subscribe the "close" event to return any response to the client?

[2017-07-07 16:06] simonkcleung commented on #14120
It is a typical problem in javascipt. For example,
[code]
As mentioned, `listener` property is not common, therefore, it will search Object.prototype everytime in most real world cases.

I think it is also the reason of adding below codes in events.js
[code]

However, I checked that hasOwnProperty() is slower anyway. Maybe, it could be improved in other ways.

[2017-07-07 16:32] mscdex commented on #14120
IMHO anyone who is mutating built-in prototypes is on their own.

[2017-07-07 16:34] mscdex commented on #14120
Also, the reason for the EventEmitter code you showed does not have to do with `Object.prototype` lookups.

[2017-07-07 16:55] NotMyself commented on #8897
Ran into this issue as well the last two days. Basically exactly what @StefanScherer reports.

[2017-07-07 18:32] sauergeek commented on #14113
I am building and testing from tarball, and that's the failure I'm seeing.  Rather than clone off the repository, I'm just ignoring the error and will install what I have built.  Thanks for the followup!

[2017-07-07 18:34] Trott commented on #819
This issue has been inactive for 16 months. Are we still optimistic this is going to get across the finish line?

[2017-07-07 20:24] Trott commented on #4778
@sgentle Fortunately, this is no longer true. And while we are unlikely to add new features or change the intended behavior of existing features, fixing bugs in `module` is now totally on the table. If you feel up to fixing, by all means, please submit a pull request.

[2017-07-07 20:49] Trott commented on #4044
Doc update PR: https://github.com/nodejs/node/pull/14127

[2017-07-07 20:53] Trott commented on #4126
Pull request demonstrating an improved implementation would be appreciated, of course, Otherwise, this issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 20:53] #4126 closed

[2017-07-07 21:21] Trott commented on #3168
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. The debugger has been deprecated and aliased to the inspector in recent versions of Node.js. I am unable to replicate this on those versions. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anyt

[2017-07-07 21:21] #3168 closed

[2017-07-07 21:23] Trott commented on #5675
Anyone from @nodejs/documentation want to submit the doc fix to close this issue? Alternatively, put a `good first contribution` label on it?

[2017-07-07 21:27] Trott commented on #2006
@mcollina Did anything notable happen with this?

[2017-07-07 21:31] Trott commented on #6083
@nodejs/streams Is this a bug? Documentation issue? Neither? Both?

[2017-07-07 21:35] Trott commented on #6037
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

I'm not sure that global modules installed per-user when node binary is per-system would be an option we want to support. It

[2017-07-07 21:35] #6037 closed

[2017-07-07 21:37] refack opened #14128 "test: flaky - parallel/test-pipe-stream"
* **Version**: `master`
* **Platform**: freeBSD
* **Subsystem**: test,stream

[code]
https://ci.nodejs.org/job/node-test-commit-freebsd/10201/nodes=freebsd10-64/

[2017-07-07 21:37] refack commented on #14128
/cc @nodejs/platform-freebsd @nodejs/streams

[2017-07-07 21:38] Trott commented on #6219
I'm not sure I understand the issue here. Is it possible to provide some code, output, and how it differs from the output you expect?

[2017-07-07 21:41] Trott commented on #6145
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

And, of course, a pull request implementing the feature would be welcome.

[2017-07-07 21:41] #6145 closed

[2017-07-07 21:51] Trott commented on #6217
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

FWIW, the implementation in https://github.com/nodejs/node/pull/6230 got some mixed reactions.

[2017-07-07 21:51] #6217 closed

[2017-07-07 21:52] Trott commented on #6422
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

(Looks like @bnoordhuis put it over on the V8 issue tracker anyway.)

[2017-07-07 21:52] #6422 closed

[2017-07-07 21:59] Trott commented on #3096
@jasnell For further clarification: This prohibition only applies in HTTP 1.1 so a client requesting HTTP 1.0 may still get a payload along with the 205 status code?

[2017-07-07 22:01] Trott commented on #3096
Hmmm...deleting that last comment. Ignore for now. It seems that the prohibition for 204 and 304 is also in HTTP 1.1 and yet I think we enforce it 100% of the time....

[2017-07-07 22:04] bnoordhuis commented on #6145
Seems it was never back-linked but there is an (unfortunately stalled) pull request here: #6569

[2017-07-07 22:13] Trott commented on #3096
@jasnell Does it matter that the prohibition against a payload accompanying a 205 status code is in a Proposed Standard? Should we wait for RFC 7231 to become an Internet Standard before acting on this? Without giving it too much consideration, I'm in favor of being lenient until we don't have the legitimate option to do so.

[2017-07-07 22:16] Trott commented on #3024
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 22:16] #3024 closed

[2017-07-07 22:17] refack commented on #5675
So currently the docs are wrong
[code]
Should probably be
[code]

[2017-07-07 22:17] Trott commented on #6188
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 22:17] #6188 closed

[2017-07-07 22:19] Trott commented on #6649
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 22:19] #6649 closed

[2017-07-07 22:21] Trott commented on #4233
@nodejs/http

[2017-07-07 22:22] refack commented on #819
Ref: https://github.com/nodejs/node/issues/4603#issuecomment-313388581

[2017-07-07 22:22] refack commented on #4603
https://github.com/nodejs/node/issues/819 - add entry points for translation

[2017-07-07 22:28] mrkmarron commented on #13877
I am planning to spend some cycles next week on cleaning up the ChakraCore code I have and looking at how to integrate with Node as the host. @bmeck do you have any sort of implementation in Node yet? If so I can use this as a starting point.

[2017-07-07 22:55] mcollina commented on #6083
I would need to look into it.

[2017-07-07 22:59] mcollina commented on #2006
We implemented destroy(err), and it is standardized across all of core.

[2017-07-07 23:00] Trott commented on #6677
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 23:00] #6677 closed

[2017-07-07 23:01] Trott commented on #2006
So this issue can be closed? Or not quite?

[2017-07-07 23:01] Trott commented on #6471
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 23:01] #6471 closed

[2017-07-07 23:05] Trott commented on #5963
Not sure if it makes a difference, but we got rid of the Locked status entirely. The `module` API is now Stable.

[2017-07-07 23:05] mcollina commented on #2006
I would need to look into this with a bit more detail to be certain.

[2017-07-07 23:06] Trott commented on #6815
@nodejs/build Anyone know if this is still an issue?

[2017-07-07 23:07] Trott commented on #6875
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 23:07] #6875 closed

[2017-07-07 23:08] Trott commented on #6966
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

I'm going to close this issue. Conversation can continue in #6972.

[2017-07-07 23:08] #6966 closed

[2017-07-07 23:10] Trott commented on #3403
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 23:11] Trott commented on #5523
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 23:11] #5523 closed

[2017-07-07 23:13] Trott commented on #3429
@mhart If it's not onerous, any chance we can get some graphs for more recent versions of Node.js and/or macOS to see if this is still persisting? (I'm guessing it is.)

[2017-07-07 23:18] Trott commented on #7131
I guess the question is: Is this a code bug or a documentation issue? I suspect the latter. Not sure who to ping for an opinion. Let's try @nodejs/ctc

[2017-07-07 23:24] Trott commented on #2383
Is it the case right now that there's agreement that the feature makes sense, but no one planning to implement and submit a pull request?

Is someone willing to mentor a moderately crypto-savvy person who wanted to do this? (That's not me and I don't have anyone specific in mind. I'm just trying to figure out a way to move this forward.)

[2017-07-07 23:26] Trott commented on #2298
https://github.com/nodejs/node/pull/2167 landed. Anyone thinking this feature is a good idea and willing to try to implement and submit a pull request?

[2017-07-07 23:26] Trott commented on #6339
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 23:26] #6339 closed

[2017-07-07 23:28] Trott commented on #6554
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 23:29] Trott commented on #6924
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 23:29] #6924 closed

[2017-07-07 23:31] Trott commented on #3947
Probably don't want to close this, right? But no one's actively working on it either? Is someone available to mentor an interested potential-contributor who might want to try to implement this?

[2017-07-07 23:33] Trott commented on #3694
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 23:33] #3694 closed

[2017-07-07 23:34] Trott commented on #4048
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 23:35] Trott commented on #5334
Node.js 0.12 is no longer supported. If this is happening in Node.js 4 or later, please comment and we'll re-open! Thanks!

[2017-07-07 23:35] #5334 closed

[2017-07-07 23:39] Trott commented on #4417
I don't suppose any Docker enthusiasts in @nodejs/docker might be able to see if this is still happening in Node.js 8 and/or determine if there's some non-Node.js cause to the issue as described?

[2017-07-07 23:39] Trott commented on #2492
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 23:39] #2492 closed

[2017-07-07 23:41] Trott commented on #7240
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 23:41] #7240 closed

[2017-07-07 23:42] Trott commented on #7301
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-07 23:42] #7301 closed

[2017-07-07 23:44] Trott commented on #7313
Looks like https://github.com/nodejs/node/pull/6994 landed, so maybe that fulfills this feature request? If not, feel free to comment and we can re-open. (Or open an entirely separate issue if you want a clean slate.)

[2017-07-07 23:44] #7313 closed

[2017-07-07 23:46] Trott commented on #5444
This is still an unfulfilled feature request?

[2017-07-07 23:55] oleersoy commented on #1719
I think I'm running into some of the consequences of these limits here:

https://stackoverflow.com/questions/44959025/rangeerror-maximum-call-stack-size-exceeded-caused-by-array-splice-apply

Surprised that I'm getting a call stack exception though....

[2017-07-08 00:20] MylesBorins commented on #14124
Does v6.10.3 build fine?

This patch is landing directly on V8... is there a fix upstream?

/cc @nodejs/v8

[2017-07-08 00:36] cordovapolymer opened #14129 "when will http2 arrive?"
Hi, I heard rumors that http2 will be available in mid June, It's July already. What are the plans for it?

[2017-07-08 02:20] mhart commented on #3429
@Trott I'm guessing it is too – instructions to repro are here: https://github.com/nodejs/node/issues/3429#issuecomment-149387804

[2017-07-08 02:20] ben-page commented on #6554
Obviously this isn't a high priority issue, but I don't think it should go away. Node should strive to properly implement the HTTP spec. And it's definitely code smell that the solution requires using the error event as flow control.

[2017-07-08 02:44] Trott commented on #6554
Reopening. Let's see if anyone else from @nodejs/http has an opinion.

[2017-07-08 02:46] joaocgreis commented on #4603
@tniessen those will be welcome features! I did some work in the installer in the past, I remember the trickiest corner case I had to test was upgrades. The installer is quite good at upgrading now, it can upgrade from io.js and node v0.x (which uses a different code) and x86 to and from x64. If you can, test some of those paths when you're done.

About your points, take a look at the commit messa

[2017-07-08 02:52] mhart commented on #3429
Yep, still similar on latest macOS/Node.js – reading a spawn stream still much slower than reading a stdin stream:

![image](https://user-images.githubusercontent.com/367936/27982056-a70d904e-6366-11e7-9192-d75aad0288ea.png)

[2017-07-08 02:58] joaocgreis commented on #10402
I'll close this for now, has been inactive for some time and I couldn't find a problem with the MSI. Please reopen or comment if there's any new data to help us move forward.

@iarna if there are new reports of this, please ask for a install log (`msiexec /i <filename>.msi /l*v InstallLog.txt`), it is essential do diagnose this type of issues. And feel free to mention me!

[2017-07-08 02:58] #10402 closed

[2017-07-08 02:59] Trott commented on #14129
/cc @nodejs/http2

[2017-07-08 03:03] Trott commented on #3429
Guess we can't turn it around and say "Oh, it's a feature! stdin is *much* faster on OS X than spawn!"  Just kidding. I think.

/cc @nodejs/platform-macos @nodejs/benchmarking

[2017-07-08 03:06] Trott commented on #7371
Looks like some work on this is happening in https://github.com/nodejs/node/pull/10091?

[2017-07-08 03:11] Trott commented on #7436
`res.end()` has a callback as one of its arguments. I don't know your exact use case, but perhaps it will work for you to have the callback emit an event that other parts of the code can listen for.

This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just t

[2017-07-08 03:11] #7436 closed

[2017-07-08 03:12] Trott commented on #7436
(/cc @nodejs/http in case someone has a better/more complete answer.)

[2017-07-08 03:14] Trott commented on #7400
This should stay open, yes? (Hi! I'm triaging inactive issues!)

[2017-07-08 03:15] Trott commented on #7469
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-08 03:15] #7469 closed

[2017-07-08 03:17] Trott commented on #7306
Re-pinging @nodejs/http.

[2017-07-08 03:18] joaocgreis commented on #13290
This looks like a duplicate of https://github.com/nodejs/node-v0.x-archive/issues/5592, fixed in https://github.com/nodejs/node/commit/c6a54d09642ffe7fcf2c467a6e4ef95d86d2d3fa (node v0.12.8 and io.js v3.3.0).

@internationalhouseofdonald if you've been upgrading continuously from before those versions, what you see is expected behavior. If you see this again, please generate an install log with `m

[2017-07-08 03:18] #13290 closed

[2017-07-08 03:21] Trott commented on #7509
/cc a few teams that might be interested: @nodejs/documentation @nodejs/website @nodejs/evangelism @nodejs/commcomm-members

This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-08 03:21] #7509 closed

[2017-07-08 03:21] mhart commented on #3429
So @Trott what do you think about my buffer size theory then?

[2017-07-08 03:22] Trott commented on #7196
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-08 03:22] #7196 closed

[2017-07-08 03:23] Trott commented on #3429
/cc @cjihrig

[2017-07-08 03:25] Trott commented on #7588
Pull request welcome.

This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-08 03:25] #7588 closed

[2017-07-08 03:26] Trott commented on #7621
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-08 03:26] #7621 closed

[2017-07-08 03:27] Trott commented on #7609
@nodejs/testing @nodejs/fs

[2017-07-08 03:27] josephrocca commented on #11414
For reference, there's quite a few people coming up against similar uncatchable errors in libraries like `request` and `socket.io` - they're not even catchable with `process.on('uncaughtException', ...)`. Some clues here: https://github.com/request/request/issues/2161

[2017-07-08 03:30] Trott commented on #7629
Although conversation appears stalled, this hasn't reached a conclusion one way or the other, has it?

[2017-07-08 03:31] Trott commented on #7672
A PR would be welcome.

This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-08 03:31] #7672 closed

[2017-07-08 03:32] Trott commented on #7730
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-08 03:32] #7730 closed

[2017-07-08 03:34] Trott commented on #7723
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-08 03:34] #7723 closed

[2017-07-08 03:39] SeanAvery opened #14130 "AsyncResource Inheritance Bug w/ Babel"
**v8.1.2**

I would expect the following to be a valid extension:

[code]

However, I am getting the following error:

[code]

[2017-07-08 03:40] joaocgreis commented on #6815
The buttons are placed by the WiX Toolset that we use to generate the installer, so it is not a bug here but rather something that we could try to workaround.

Since this only causes a loop between two dialogs and nothing worst, I'll go ahead and close. @fyndor if this is still an issue for you, you could try reporting it at http://wixtoolset.org/bugs/ .

[2017-07-08 03:40] #6815 closed

[2017-07-08 03:43] mscdex commented on #14130
Did you try adding a constructor to `Foo` that calls `super()`?

[2017-07-08 03:51] SeanAvery commented on #14130
@mscdex Yes,

[code]

returns the same error

[2017-07-08 03:55] SeanAvery commented on #14130
#13906

The code from this issue returns `Class constructor AsyncResource cannot be invoked without 'new'` as well

[2017-07-08 03:58] mscdex commented on #14130
/cc @nodejs/async_hooks

[2017-07-08 04:06] refack commented on #14130
From your use of `import async_hooks from 'async_hooks'` I'm implying you are using `babel`, can you make sure `transform-es2015-classes` is not enabled? Or even better, try to write a non-transpiled test...

[2017-07-08 04:23] SeanAvery commented on #14130
@refack Ah! yes it works fine without babel.

Inheritance is still breaking with `transform-es2015-classes`...

I know this does not have to do with node repo, but many developers are using babel.

[2017-07-08 05:08] michaelnisi commented on #6083
Isn’t this unspecified and depends on the individual stream?

[2017-07-08 07:42] felixfbecker commented on #4603
@refack I swear, I tried 🙌

[2017-07-08 08:39] mcollina commented on #14129
I would say we are almost ready to issue a PR. As for when it lands on a release, node 9 is a good target, but we would like to have it as experimental in node 8.

[2017-07-08 09:29] bnoordhuis commented on #7400
#7408 is the accompanying (but stalled) pull request.

@addaleax @indutny Is this still something you want to do?

[2017-07-08 09:34] sheetaldubey commented on #11591
i have node 7.4.0 and i am using mac. As I am starting node server in debug mode

node --debug server.js

The server starts successfully by giving message as Debugger listening on 127.0.0.1:5858

but my chrome not able to load 127.0.0.1:5858.

Any workaround for this.?

[2017-07-08 09:35] bnoordhuis commented on #5444
Yes.  I've added 'good first contribution' and 'c++' tags.  It's probably a fair amount of work but not very complex so a good starting point for someone who wants to dive into the C++ side of things.  If you want to work on this and have questions, don't hesitate to ping me.

Seems fine to me.  Changing the error message automatically makes it semver-major though.

[2017-07-08 09:54] bnoordhuis commented on #11591
@sheetaldubey `--inspect`, not `--debug`.  Also, you should probably upgrade to the latest v7.x or v8.x release.

[2017-07-08 09:58] bnoordhuis commented on #14130
I'll close this.  Not a bug in node, not under our control.

[2017-07-08 09:58] #14130 closed

[2017-07-08 10:16] bnoordhuis commented on #6554
Node is technically conforming.  SHOULD in RFC speak means "recommended, not required."

As to whether node should strive to follow the recommendation, that's the library-vs-framework discussion (or convention over configurability.)

If changes are made to send 501 responses by default, there also needs to be a way to opt out.  I suspect that code-wise it's going to get ugly quick.

[2017-07-08 10:27] bnoordhuis commented on #14112
You also need to install binutils-multiarch.  The problem right now is that your copy of g++ is multiarch capable (accepts `-m32`) but as isn't (rejects `--32`.)

[2017-07-08 10:29] bnoordhuis commented on #14124
Back-linking to #14112, https://github.com/nodejs/node/issues/14112#issuecomment-313847759 in particular.  Most likely a cross-compile toolchain issue, not a bug in V8's build scripts.

[2017-07-08 10:45] mcollina commented on #7629
There is no consensus on this one and all the relative issues. I can put to together a report for @nodejs/ctc, and we might want to pick a direction. I do not think we can reach consensus otherwise.

[2017-07-08 11:29] bnoordhuis commented on #7131
I'd say it's a bug.  I have a potential fix in #14132.

[2017-07-08 11:41] bnoordhuis commented on #3947
Has this been fixed?  I added a judicious assert (see diff) and I can't reproduce.
[code]
(It does break some REPL and child process tests but that's expected.  The salient part is that no zero-sized TCP writes seem to take place.)

[2017-07-08 14:01] Trott opened #14133 "Investigate flaky test-https-set-timeout-server on Raspberry Pi"
* **Version**: v9.0.0-pre
* **Platform**:  pi1-raspbian-wheezy
* **Subsystem**: test, https

https://ci.nodejs.org/job/node-test-binary-arm/9111/RUN_SUBSET=0,label=pi1-raspbian-wheezy/console

[code]

@nodejs/testing @nodejs/http

[2017-07-08 14:07] Trott commented on #14133
Problem might be solved by moving `cb()` in all the test cases to inside a callback for `server.close()` rather than invoking it immediately after `server.close()` is invoked. Same might have to happen in corresponding `http` test.

[2017-07-08 14:15] Trott commented on #14133
(There could also be a case for moving each test into its own test file to rule out side effects.)

[2017-07-08 15:27] refack commented on #14130
Ok, but it would be best to also follow this up in the `babel` repo...

[2017-07-08 15:40] Trott commented on #14133
Moving the test to parallel and running it under load reproduces the issue.

[code]

[2017-07-08 15:47] Trott commented on #14133
If I comment out the first and last test case, the test becomes reliable.

[2017-07-08 15:59] Trott commented on #14133
@nodejs/http Is the following a bug or is it expected behavior?

Given this code:

[code]

... `connectionListener()`  may not run.  Normally, it would. But it's not guaranteed as under load, the socket hangup/ECONNRESET may happen before the listener handler.

Bug? Expected behavior? Incorrect observation on my part? Something else?

[2017-07-08 16:09] Trott commented on #14133
On the assumption that the behavior described in the above comment is Not A Bug, I've opened https://github.com/nodejs/node/pull/14134.

[2017-07-08 16:43] Trott commented on #5574
/ping @Fishrock123. Still working on this? If not, should we un-assign it so someone else might pick it up?

[2017-07-08 16:44] Trott commented on #7785
Does anyone know if this is still an issue or if it got fixed?

[2017-07-08 16:46] ofek opened #14135 "Node install destroyed PATH"
Version: v8.1.3
Platform: 64-bit Windows 7
Installer: https://nodejs.org/dist/v8.1.3/node-v8.1.3-x64.msi

I installed the current version of node/npm (8.1.3) from the site on Windows 7 and it removed everything in my user PATH except for C:\Users\Ofek\AppData\Roaming\npm. There's really not much else to say other than that I'm extremely upset :(

[2017-07-08 17:32] ofek commented on #14135
I just did a Windows system restore that reverted the Node install yesterday and now PATH is back. This definitely was caused by the installer.

[2017-07-08 17:44] venkatperi opened #14136 "Use a buffer pool for fs.ReadStream to boost performance?"
* **Version**:
* **Platform**:
* **Subsystem**:

**REQUEST**: Would you consider moving to a pool scheme since it'll boost performance without changing the API?

`fs.ReadStream` allocates `64KiB` (default, change via `highWaterMark`) sized Buffer objects as it reads through files which are released downstream when no longer needed. With larger files, this can result in a lot of time spent allocati

[2017-07-08 17:56] KryDos commented on #14135
Hey,
Is it possible for you to provide us with your current `PATH` value? Maybe there is something that can help us to understand the issue.

[2017-07-08 18:05] ofek commented on #14135
@KryDos

old: `C:\Users\Ofek\.cargo\bin;C:\Users\Ofek\Desktop\q\Miniconda3;C:\Users\Ofek\Desktop\q\Miniconda3\Scripts;C:\Users\Ofek\Desktop\q\Miniconda3\Library\bin;C:\Program Files (x86)\GPAC;C:\Windows\Microsoft.NET\Framework\v4.0.30319;C:\Users\Ofek\Desktop\q\Miniconda3\MinGW\i686-w64-mingw32\bin;C:\Program Files (x86)\Microsoft VS Code\bin;C:\Users\Ofek\Desktop\q\mpv`

when broken: `ft VS Code

[2017-07-08 18:14] refack opened #14137 "discussion: eslint rule for `/test/` - `no-unused-vars: [error, {args: after-used, caughtErrors: all}]`"
* **Version**: *
* **Platform**: *
* **Subsystem**: test

There still seems to be a small performance advantage to using functors that match the signature of the invocation:
[code]
For for explicitness sake, would we consider requiring no unused arguments (or exception) in `/test/`?
i.e.:
[code]
Current impact on `/test/`: 297 error in 195 files

/cc @nodejs/testing @nodejs/performance

[2017-07-08 18:32] mscdex commented on #14136
I'm not sure what the question/request is here, but you can pass your own `highWaterMark` to `fs.createReadStream()`, which controls the size of allocated `Buffer` pools for `fs.ReadStream`.

[2017-07-08 18:39] bnoordhuis commented on #7785
Unfixed, most likely.  gdb-jit.cc has seen no real changes upstream since this issue was raised.

[2017-07-08 18:40] refack opened #14138 "n-api: from zzo38 via IRC - `napi_finalize` feedback"
* **Version**: 8.1.3
* **Platform**: *
* **Subsystem**: n-api

comes from zzo38 on the Freenode IRC #node-dev channel:
1. The documentation for `napi_finalize` does not specify the function signature to use (it can easily be looked up in the .h file, but it should probably be documented there too)
2. Add a function to retrieve the `napi_finalize` function pointer for a `napi_value` if it exists (m

[2017-07-08 18:40] refack commented on #14138
/cc @nodejs/n-api

[2017-07-08 18:48] refack opened #14139 "V8: from zzo38 via IRC - "external" value internalized"
* **Version**: 8.1.3
* **Platform**: *
* **Subsystem**: V8,n-api

Original report
[code]

@addaleax points out this is a more general V8 issue
[code]

[2017-07-08 18:49] addaleax commented on #14138
As mentioned in IRC this is not related to N-API. Minimal example:

[code]

/cc @nodejs/v8

[2017-07-08 18:50] addaleax commented on #14139
/cc @nodejs/v8

[2017-07-08 19:01] venkatperi commented on #14136
The issue isn't the size of the buffer (yes, its size can be changed by setting the `highWaterMark`) , rather the cost of allocation/release of buffers.

[2017-07-08 19:57] #14120 closed

[2017-07-08 20:51] Trott commented on #1047
@nodejs/http

[2017-07-08 22:36] bnoordhuis commented on #14139
Can confirm.  The bug is that the external's map (hidden shape) changes after insertion into a collection (not just WeakMap) because it gets hashed and the hash value is cached on the external.
[code]
I suspect the bug is that the map check in `HeapObject::IsExternal()` is too simplistic and needs to follow transitions instead of directly comparing against `heap->external_map()`.

[2017-07-08 23:10] jdalton commented on #7196
@jasnell Is there anything moving on utils/built-ins on the TC39 front?

[2017-07-09 00:26] MylesBorins commented on #13640
it looks like this is going to be coming in a future semver minor of npm. If we plan to ship this we need to ensure it ends up in the binary as expected and is installed properly by the double click installers

[2017-07-09 00:59] justinjdickow commented on #3175
I... don't understand why the limit is 256 MB :(

[2017-07-09 01:17] mhart commented on #3175
There's an issue open on v8 too, if you'd like to star it: https://bugs.chromium.org/p/v8/issues/detail?id=6148

[2017-07-09 01:33] justinjdickow commented on #3175
Can we rename the issue from "String length limit is small-ish" to "String length limit is small-af"

[2017-07-09 02:40] jasnell commented on #14087
Automatic retry is not likely something that can or should be added to core. It's also problematic in the protocol itself as it can only work with safe and idempotent methods like GET and HEAD. HTTP/2 includes mechanisms to make it easier but even then, it's better left to user land.

[2017-07-09 02:43] jasnell commented on #3096
No, the RFC status has no bearing.

[2017-07-09 02:46] jasnell commented on #14129
I will be opening the initial pr against master by this next Friday

[2017-07-09 02:48] jasnell commented on #6554
On the contrary, there is currently already a way of opting in and sending 501 responses. Given that, I think we're safe here. I am, however, considering making this far more robust in the http/2 implementation.

[2017-07-09 03:20] Trott commented on #1546
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

(Perhaps N-API will make this less of a pain-point?)

[2017-07-09 03:20] #1546 closed

[2017-07-09 03:23] Trott commented on #3475
I don't have any reason to believe this was fixed in Node.js 6.x or 8.x, but does anyone want to run a comparison along with the versions already in the graph above so we know for sure?

[2017-07-09 03:23] refack opened #14141 "test: new flakiness in test-process-kill-null.js"
* **Version**: `master`
* **Platform**: Windows
* **Subsystem**: test,process

https://github.com/nodejs/node/commit/44483b6898128b05c09635e03e4d7ceaf3efb14c introduced flakiness to  `test/parallel/test-process-kill-null.js`.
Looking for advice on the best course of action:
1. Revert & reopen PR.
2. Fix.
3. Mark as flaky.

/cc @nodejs/testing @nodejs/platform-windows

[2017-07-09 03:24] Trott commented on #7823
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-09 03:24] #7823 closed

[2017-07-09 03:28] Trott commented on #14141
When in doubt, I'd say revert & reopen PR.

I imagine if you were confident that you could fix it quickly (or determined to do so), then that's what you'd do and you wouldn't ask. :-D

And I'd reserve "mark as flaky" for situations where we do not know how to fix the test. If reverting fixes the flakiness, I'd say that's preferable. green > yellow

[2017-07-09 03:29] Trott commented on #14141
Oh, I guess another factor is just *how* flaky. Like, if it's one in a thousand runs, leaving it open while there's an active effort to fix it over a few days is A-OK to me. If it's one in 10, OMG no, revert.

[2017-07-09 03:31] Trott commented on #7843
/ping @srl295 There are two TODOs in the icu README. Are either of them addressable at this time?

[2017-07-09 03:32] Trott commented on #7861
@nodejs/http

[2017-07-09 03:33] Trott commented on #7860
@fhinkel Should this issue remain open?

[2017-07-09 03:35] Trott commented on #7619
@lance Should this issue remain open?

[2017-07-09 03:36] Trott commented on #3460
@srl295 Should this issue remain open?

[2017-07-09 03:37] Trott commented on #1634
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-09 03:37] #1634 closed

[2017-07-09 03:38] Trott commented on #7958
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-09 03:38] #7958 closed

[2017-07-09 03:39] Trott commented on #859
@piscisaureus @nodejs/build Should this remain open?

[2017-07-09 03:41] Trott commented on #1684
@ChALkeR This should remain open?

[2017-07-09 03:44] Trott commented on #8033
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-09 03:54] refack commented on #14141
I guess it's more in the 1 in 10 range so https://github.com/nodejs/node/pull/14142.
Maybe even a real bug...
Now I can sleep on this more peacefully ...

[2017-07-09 04:57] dougwilson commented on #3096
The 205 is, though, defined differently that the 204, which is what it's being compared against here. The 204 (and 304) are actually defined in the RFC to terminate at the first empty line after the header fields, while the 205 status code is not defined that way at all. The way the 205 status code is defined (at least in RFC 7231) makes having a payload not a protocol error (but it is a protocol

[2017-07-09 05:16] Trott commented on #7952
@JungMinu Are you still planning on doing this? If not, should we unassign it so someone else can pick it up?

[2017-07-09 05:21] Trott commented on #8111
@bnoordhuis @imyller @mscdex Should this stay open?

[2017-07-09 05:22] Trott commented on #8118
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-09 05:22] #8118 closed

[2017-07-09 09:45] YouriT commented on #6219
@Trott it has been a year since this was open.. Let me check what I can do.

[2017-07-09 10:01] gireeshpunathil commented on #14135
I tried installing the same node version on the same windows version and did not find anything wrong.
May be worth running with debug logger on to see if it reveals anything strange:
`msiexec.exe /i <installer.msi> /L*V foo.log`

[2017-07-09 10:24] benjamingr commented on #14135
@nodejs/platform-windows

[2017-07-09 10:26] benjamingr commented on #14087
To be fair, I don't think `retry` should even be part of the HTTP stack - there are modules for retrying a function independently of requests.

[2017-07-09 10:38] tniessen commented on #14135
This is the [WXS code](http://wixtoolset.org/documentation/manual/v3/xsd/wix/environment.html) we use to set the path for NPM:

[code]

There is not much room for a bug here, unless it is caused by WiX or Windows.

I setup a virtual machine (Windows 8.1) and set your exact `PATH`, but was unable to reproduce the issue.

[2017-07-09 10:39] seishun commented on #14135
@ofek can you reproduce it again?

[2017-07-09 10:45] tniessen commented on #4603
Ref https://github.com/nodejs/node/issues/14135

[2017-07-09 10:48] tniessen commented on #14135
@ofek Which node version was installed before, if any? Did you attempt to upgrade or install a new version?

Please try to reproduce the issue if you can. If you need assistence making a copy of your environment so you can restore it if things go wrong, let me know.

[2017-07-09 11:28] elad commented on #14086
@addaleax @XadillaX I'd really like to move forward with fixing this issue. It's big enough that unless fixed we'll have to switch language. :) I'm willing to write the necessary code, but need to know first if there's a consensus this is indeed a bug and what an acceptable fix would be...

[2017-07-09 12:26] refack opened #14144 "test: cctest flakiness on Windows - loops forever"
* **Version**: `master`
* **Platform**: Windows
* **Subsystem**: test,cctest

cctest can hang in an infinite loop. A few examples:
[code]
https://ci.nodejs.org/job/node-test-binary-windows/9716/RUN_SUBSET=3,VS_VERSION=vs2015,label=win2012r2/

---

[code]
On 2017-06-09 - https://ci.nodejs.org/job/node-test-binary-windows/9117/RUN_SUBSET=0,VS_VERSION=vs2015,label=win2012r2/

[2017-07-09 12:28] refack commented on #14144
/cc @nodejs/build @nodejs/testing

[2017-07-09 13:03] refack commented on #14135
That's not improbable.

[2017-07-09 13:09] gibfahn commented on #859
I think this can be closed in favour of https://github.com/nodejs/node-gyp/issues/1247, if we embed the headers in the binary then there's no need to have them separately in the installer.

[2017-07-09 15:07] sqllyw opened #14145 "error in destructuring assignment if no semi colon"
* **Version**: v8.1.3
* **Platform**:Linux Mint 17.3 Rosa  MATE 64-bit
* **Subsystem**:

[code]
above code will trigger an error:
[code]

putting a semi colon in console.log line solves it:

[code]
is this a bug? thanks

[2017-07-09 15:18] mscdex commented on #14145
This is just how javascript works (with automatic semicolon insertion), so it's not a bug.

[2017-07-09 15:26] Trott commented on #6219
Yeah, sorry about the lack of a response until now. I'm making a point to triage old tickets.

[2017-07-09 15:28] Trott commented on #14145
Ref: https://github.com/nodejs/node/issues/10897

[2017-07-09 15:29] Trott commented on #14145
Also, this StackOverflow answer is a (IMO) pretty clear explanation of what's going on: https://stackoverflow.com/a/39748189/436641

[2017-07-09 15:29] #14145 closed

[2017-07-09 15:29] wwwsq commented on #14145
@sqllyw U can take a look at this
[11.9 Automatic Semicolon Insertion](http://www.ecma-international.org/ecma-262/6.0/ECMA-262.pdf)

[2017-07-09 15:32] benjamingr commented on #14118
@reviewher the docs already specify it takes a `TypedArray` - the fact that the implementation does a shortcut should not be an issue.

Was the unclear part the fact it's not obvious that a `UInt8Array` is a `TypedArray`?

[2017-07-09 15:32] vsemozhetbyt commented on #14145
@sqllyw Your code is actually parsed as:
[code]
ie
[code]
ie
[code]
so this produces the mentioned error message.

[2017-07-09 15:35] Trott commented on #859
OK, closing, but feel free to re-open etc. etc. etc.

[2017-07-09 15:35] #859 closed

[2017-07-09 15:38] Trott commented on #8186
https://github.com/nodejs/node/pull/2133 was closed without landing, although it seems that someone could come along and pick it up.

/cc @bnoordhuis @cjihrig @mcollina for comment

[2017-07-09 15:41] Trott commented on #8149
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-09 15:41] #8149 closed

[2017-07-09 17:10] #14141 closed

[2017-07-09 17:23] #13765 closed

[2017-07-09 17:33] reviewher commented on #14118
@benjamingr [The documentation](https://nodejs.org/dist/latest-v8.x/docs/api/buffer.html#buffer_class_method_buffer_from_array) lists 4 signatures for `Buffer.from`:

- `Buffer.from(array)` -- Array of bytes
- `Buffer.from(arrayBuffer[, byteOffset[, length]])` -- ArrayBuffer or the .buffer property of a TypedArray.
- `Buffer.from(buffer)` -- Buffer
- `Buffer.from(string[, encoding])` -- string

**

[2017-07-09 17:54] refack commented on #13640
@zkat what do you see the install formula being? i.e. if the `npm` lands as a zip, what will create the binary shims, or will they be already packed in the zip?

[2017-07-09 18:13] jspblm commented on #9377
@Fishrock123 Solution works for me on node v8.1.3 and npm 5.0.3

[2017-07-09 18:46] shaunc opened #14146 "HttpServerResponse.setDefaultEncoding()"
* **Version**: 7.10.0
* **Platform**: mac
* **Subsystem**: http

[The documentation of http.ServerResponse](https://nodejs.org/api/http.html#http_class_http_serverresponse) claims that it implements the interface of `stream.Writable`, which includes `setDefaultEncoding`. However, `ServerResponse` does not implement `setDefaultEncoding`.

I'm passing a server response to another library, which pipe

[2017-07-09 19:29] ofek commented on #14135
I am extremely sorry everyone. The issue is https://github.com/github/hub/issues/1506

[2017-07-09 19:29] #14135 closed

[2017-07-09 20:45] richardlau commented on #13640
For our Unix `tools/install.py` this is the relevant bit that creates/removes the npm in symlinks: https://github.com/nodejs/node/blob/23498f259db2d26c30969c0f66a380adf8725cd9/tools/install.py#L92-L99

[2017-07-09 21:45] refack commented on #13640
The windows MSI installer currently has only directives for the `npm` shims - https://github.com/nodejs/node/blob/master/tools/msvs/msi/product.wxs#L210-L216

[2017-07-09 22:00] #13197 closed

[2017-07-09 22:16] jsilveira commented on #13773
After 5 hours of struggling with a an intermittent issue in the encoding of some of the POSTs received from our website, we tracked down the issue to this change in handling trailing spaces. The "random" nature of the issue was caused by the fact that some people submitted the form input with a trailing space.

So, is this a bug or an expected "changed behaviour" ???

[2017-07-09 22:41] zkat commented on #13640
I haven't added the built-in shims yet, but I think it's safe to assume right now that they'll mirror the npm ones, but replacing `npm` with `npx`. I'm literally just gonna copy them over and frob them into npx-ness, but I want to confirm that this is the right thing to do before I get around to that. This bit of npm is newer to me.

[2017-07-09 23:40] addaleax commented on #14086
@elad I’m not sure anybody has strong opinions on this. If I understand you, basically what you want is to extend `dns.setServers()` to allow (re)seting to the current default server list, which seams like a reasonable feature to me.

[2017-07-10 00:23] felipealfonsog commented on #13537
Well trying to with :
npm install update
npm install

[2017-07-10 00:57] elad commented on #14086
@addaleax this problem might deserve a bit more attention... I tested the same program (loop of DNS queries) while switching WiFi networks, and the DNS queries just stop returning (that is, the callback is never called).

I'm not sure what I want is to extend `dns.setServers()` because I'd argue we don't really know what the servers should be and ideally we shouldn't if Node/c-ares can figure that

[2017-07-10 03:35] TimothyGu commented on #13773
There are a lot more problematic cases

[code]

[2017-07-10 03:41] Trott commented on #8224
@targos Would I be right to conclude that this bug is relevant in 6.x but not in 8.x because we don't use the legacy debugger API anymore?

[2017-07-10 03:46] Trott commented on #8157
@nodejs/build @nodejs/benchmarking Is this something that might realistically happen? Is there consensus that it would be desirable? Any clear pre-requisites (like more Ci resources)? Is there a path forward on this?

[2017-07-10 03:54] Trott commented on #8258
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-10 03:54] #8258 closed

[2017-07-10 03:56] Trott commented on #8355
@nodejs/streams Any enthusiastic endorsement or vigorous opposition to this suggestion?

[2017-07-10 03:57] Trott commented on #8377
@nodejs/crypto Should this stay open?

[2017-07-10 04:02] Trott commented on #8397
Documentation improvement PR would be welcome.

/cc @nodejs/documentation

If no one already reading this is inclined to submit a PR, then perhaps it makes sense to put a `good first contribution` label on the issue.

[2017-07-10 04:05] Trott commented on #6190
Removing `good first contribution` since we have a PR open for this: https://github.com/nodejs/node/pull/13149

[2017-07-10 04:07] Trott commented on #8353
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-10 04:07] #8353 closed

[2017-07-10 04:09] TimothyGu commented on #8224
A fix for this issue is in https://github.com/nodejs/node/pull/10409, though that is stalled.

[2017-07-10 04:53] dnyaneshwar1991 commented on #13537
Yes Its Resolved.
Thanks to all

On 10 July 2017 at 05:53, Felipe <notifications@github.com> wrote:

[2017-07-10 06:01] TimothyGu commented on #13773
@jsilveira It is a bug.

[2017-07-10 06:35] AndreasMadsen commented on #8157
@mcollina gave us an update in https://github.com/nodejs/benchmarking/pull/58 a while ago, see https://github.com/nodejs/benchmarking/pull/58#issuecomment-302443973

[2017-07-10 06:49] mcollina commented on #8157
So, the server is available and wired up to the net. It is a matter of attaching it to the rest of the infrastructure and starting making a good use of it.
Who can I work with on this? How do the credentials/etc settings work?

cc @jasnell @piccoloaiutante

[2017-07-10 06:57] mcollina commented on #14128
The problem starts because we are not rotating/changing [`common.PIPE`](https://github.com/nodejs/node/blob/master/test/parallel/test-pipe-stream.js#L56) and https://github.com/nodejs/node/blob/master/test/common/index.js#L259-L266.
If there is another process left there, or if that is not cleaned up correctly, this will fail.

This should be done by https://github.com/nodejs/node/blob/master/test

[2017-07-10 07:01] mcollina commented on #8186
@Trott there is active discussion in https://github.com/nodejs/worker/issues/1, cc @addaleax.
I think this issue can be closed, as there are more up-to-date ones with lively discussions on how to get there.

[2017-07-10 07:28] mcollina commented on #14023
Which version of `request` are you using? I cannot correlate your line number to the current master of request.

[2017-07-10 08:00] #8186 closed

[2017-07-10 08:15] TimothyGu commented on #14146
Nor does `ServerResponse` or `OutgoingMessage` implement `cork` or `uncork`...

[2017-07-10 08:30] targos commented on #8224
@Trott that would be right.

[2017-07-10 08:36] TimothyGu commented on #14136
Unfortunately, while this test may yield promising results in an *in vitro* setting, actual adoption of pooling is much more difficult. It would require, on the consumer's part, to inform the core when the consumer is done with a specific buffer. This not only detracts from the JS paradigm of relying on GC, but can also reduce the overall security of the platform, as refcounting can be very diffic

[2017-07-10 08:36] #14136 closed

[2017-07-10 08:38] TimothyGu commented on #10406
BTW, #8224 describes an issue of the same underlying cause as this one.

[2017-07-10 09:45] duanyao commented on #13520
I confirm that this issue also happen on Linux 4.9.29, X86-64, with ext4 fs, node v6.10.2.

[2017-07-10 09:50] MylesBorins commented on #14124
@bnoordhuis can we close this then or is there something actionable?

[2017-07-10 09:51] gireeshpunathil commented on #14000
Closing based on:
Feeback: Best done in userland
Conclusion:  Stream based multi-byte data processing workloads may use transformer in objectMode (or a syncthrough), and accumulate the data in a user-side buffer with the same efficiency as in core.
Next action: None.

[2017-07-10 09:51] #14000 closed

[2017-07-10 10:06] mcollina commented on #8355
I am really -1 on this change, as this pattern should not be encouraged. This change assumes your code will then call `readable.push()` whenever there is something to pass. However, this bypasses all the backpressure machinery as data will accumulate on the readable. The more appropriate way of handling this case is to call `write()` directly on a writable. If you want to return a stream anyhow, y

[2017-07-10 10:17] mcollina commented on #6083
As @michaelnisi noted, this is unspecified and depends on the individual stream. To the best of my knowledge, there is no mechanism/enforcement in `net` to prevent this. For `Writable`  and `Duplex`  streams (including sockets), there is the guarantee that `'error'` will only be emitted once.

Also, `'error'` will be emitted before `'end'`, `'close'` and `'finish'`. The correct approach is to remo

[2017-07-10 10:45] mcollina commented on #2006
IMHO we should deprecate `.close()`, it does not add anything to `.end()`. And we should make `close()` be equal to `end()`  in the case of `fs.WriteStream`, as proposed in https://github.com/nodejs/node/issues/2006#issuecomment-114055981.

`destroy()` is standardized now, and we would need to move the current logic in `close()` to `_destroy()` as it is the other way around atm: https://github.com

[2017-07-10 10:53] refack commented on #859
but the "embed the headers in the binary" should be a node core issue...

[2017-07-10 11:02] bnoordhuis commented on #8377
I added a commit to #14122 that fixes the memory leak (thanks for the bug report!)

As to the other suggestions, I don't have strong opinions except for the usual backwards compatibility concerns.  Any API change or deprecation is going to be a drawn out process.

[2017-07-10 11:04] bnoordhuis commented on #859
I have it in my backlog.

[2017-07-10 11:07] bnoordhuis commented on #14124
Nothing actionable unless @davidchappelle came to a different conclusion.  Pending follow-up, I'll close this for now.

[2017-07-10 11:07] #14124 closed

[2017-07-10 11:07] bnoordhuis commented on #14112
Closing, see #14124.

[2017-07-10 11:07] #14112 closed

[2017-07-10 11:09] bnoordhuis commented on #13520
@refack Was this fixed by #13281?

[2017-07-10 11:11] refack commented on #859
Some of this conversation must have leaked into my subconscious, since two ideas came to me in a dream last night:
1. embed a zip file into the node binary, extract with 3rd party tool (7zip can find embedded archives)
2. add to the JS snapshot as a `MMM.writeHeaderFiles(path)`

[2017-07-10 11:16] refack commented on #13520
I'll test, but FWIW if the issue is not in `utimesSync` we also have https://github.com/nodejs/node/pull/13173

[2017-07-10 11:38] bmeurer commented on #14139
cc @hashseed

[2017-07-10 14:01] Trott commented on #2148
Are we sure this is fixed? We have a known_issues test for it and it still fails.

[2017-07-10 14:20] mhdawson opened #14153 "CI lockdown for security release."
The CI will be locked down to start the generation of the security releases starting at 12 EST today and will be unlocked once the security releases go out (Ideally Tuesday Morning)

This will mean that only those working on the release and the jenkins admins will be able to access/use the CI for this period.

Sorry for any inconvenience.

[2017-07-10 14:20] mhdawson commented on #14153
@nodejs/collaborators  FYI.

[2017-07-10 14:25] refack commented on #13520
So, fixed on windows:
[code]

Broken on WSL (and assuming Ubuntu)

[code]

[2017-07-10 14:53] Kasher commented on #14023
@mcollina , Thanks.
I'm using request version `2.75.0`, but it reproduces with the latest version as well.

[2017-07-10 15:08] refack commented on #13520
PR to improve docs https://github.com/nodejs/node/pull/14154

[2017-07-10 15:44] davepacheco commented on #6083
Is there documentation that stream consumers should remove their 'close', 'end', and 'finish' listeners when 'error' happens?  It seems like that makes using streams robustly a lot more complex.

I'm not seeing this on OS X El Capitan (v10.11.6), but I think that just means something about the timing has changed, not that the underlying issue was OS-specific or went away.

[2017-07-10 15:57] mcollina commented on #6083
@davepacheco No, I do not think there is. However, most streams respect this generic pattern. Given the code we have in 8, I do not see how that can happen, as we destroy the handle synchronously in case of an internal error. I would be happy to take a look if you can reproduce anyhow.

The implementations in core should not have the problem you are describing, so it is a bug in that case. It migh

[2017-07-10 16:09] OmgImAlexis commented on #14034
@cjihrig would you class this as a bug with `get-port` or `net`?

[2017-07-10 16:13] joaocgreis commented on #14153
Jenkins is now locked down. Only releasers and Jenkins admins should have access.

[2017-07-10 16:28] cjihrig commented on #14034
Maybe a feature request for `get-port` to support passing in a `host` parameter.

[2017-07-10 18:09] refack commented on #8149
Just as a reminder `--expose-internals` is available for users who want to explicitly opt-in to use `internal/` modules, without it being implicitly inherited by `require`d modules.

[2017-07-10 18:19] Fishrock123 commented on #8149
It is _available_ but that does not mean that we will support anything that uses it.

[2017-07-10 18:21] targos commented on #8149
Yeah, it is not meant to be used by users. The flag is here for our own usage in tests and benchmarks.

[2017-07-10 18:24] jasnell commented on #8149
I've actually been entertaining the idea of emitting a process warning when `require('internal/...')` is used by any non-internal module ... with the warning making it absolutely clear that direct use of `internal/...` is absolutely unsupported.

[2017-07-10 18:24] Trott commented on #8316
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-10 18:24] #8316 closed

[2017-07-10 18:25] refack commented on #8149
It's there, and it works, so we should explicitly state that use of `--expose-internals` is subject to breaking changes. IMHO it could be similar to the stetment about `experimental` APIs
Ref: https://github.com/jasnell/node/blob/314b78799c5754c494b505cedd815a973c123f03/doc/api/documentation.md#stability-index

[2017-07-10 18:26] Trott commented on #8496
@bnoordhuis Any new information to add to this? If no one's actively working on it, maybe we can add a `help wanted` label?

[2017-07-10 18:30] bnoordhuis commented on #8496
Good idea.  Label added.

[2017-07-10 18:31] vkurchatkin commented on #8149
One could actually have `internal` package inside of their `node_modules`, so this is perfectly valid

[2017-07-10 18:37] jasnell commented on #8149
My apologies, I wasn't clear... the warning would be emitted only if `--expose-internals` is used and the require is referencing an actual internal module.

[2017-07-10 18:38] refack opened #14156 "child_process,Windows: fix docs for `spawn({shell})`"
* **Version**: *
* **Platform**: Windows
* **Subsystem**: child_process

https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options erronously states that `cmd.exe` is the default `shell` for windows, while infact it's `process.env.ComSpec`.
The same goes for:
* https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback

[2017-07-10 18:45] refack opened #14157 "child_process,Windows: deprecate explicit use of `cmd.exe`"
* **Version**: *
* **Platform**: Windows
* **Subsystem**: child_process

https://github.com/nodejs/node/blob/master/lib/child_process.js#L444 has a fallback to use `cmd.exe` in case `process.env.ComSpec` is falsy.
This is redundant, fragile, and generally covers-up an invalid state (`%ComSpec%` should always be defined and point to a valid shell executable).
This code path should be deprecated acc

[2017-07-10 18:48] cjihrig commented on #14157
@nodejs/platform-windows

[2017-07-10 18:51] refack commented on #14156
/cc @nodejs/platform-windows @nodejs/documentation

[2017-07-10 19:11] refack opened #14158 "doc: better document `--shared` build"
* **Version**: *
* **Platform**: *
* **Subsystem**: build,doc

`./configure --shared` / `vcbuild shared` should be better documented.
1. How to build
2. How to use
3. Support level

[2017-07-10 19:12] refack commented on #8118
Opened a doc issue https://github.com/nodejs/node/issues/14158
<sub>Take a penny / Leave a penny</sub>

[2017-07-10 19:13] addaleax commented on #14158
If I may make the suggestion, we should also *test* it in some way if possible.

[2017-07-10 19:14] refack commented on #14158
If we decide to support, maybe it should be deprecated?

[2017-07-10 19:52] NoelAbrahams opened #14160 "ES6 class defined via VM runInNewContext is not accessible"
* **Node.js Version**: 6.2.2
* **OS**: Windows 10 64 bit
* **Scope**:  code
* **Module**: VM

**Sample Code**
[code]
**Expected result:**

[code]

**Actual result**
[code]

Can someone please explain why I am unable to access the class `Foo` within the specified sandbox context?

Is my only option to use `function` instead of `class`? This really doesn't look right to me.

[2017-07-10 19:56] NoelAbrahams commented on #14160
I thought it was something to do with the iterable nature of classes but the following shows that's not the case:

[code]

[2017-07-10 19:57] addaleax commented on #14160
/cc @AnnaMag @fhinkel @ofrobots

[2017-07-10 20:11] cjihrig commented on #14160
This behavior is also seen in the REPL with regards to tab completion. `function` behaves like `var`, and `class` behaves like `let` and `const`.

[2017-07-10 20:13] tniessen opened #14161 "node_zlib.cc assertion failure"
* **Version**: master
* **Platform**: Windows 8.1
* **Subsystem**: zlib

I found this while working on #4603. `npm install -g http-server` fails like this:

<details>

[code]
</details>
---

Even though I can reliably reproduce this, it might be a bit difficult to reproduce for others as my current setup is a bit complicated (custom node, npm and permission setup thanks to #4603). I currently don'

[2017-07-10 20:16] addaleax commented on #14161
Can you check whether this happens with Node 8.1.3/the 8.2.0 RC as well? If it only happens with the latter, that would point to https://github.com/nodejs/node/pull/13322

[2017-07-10 20:17] Trott commented on #8195
@princejwesley Are you still working on this?

[2017-07-10 20:18] Trott commented on #8591
@quibusus Are you still working on this?

[2017-07-10 20:20] Trott commented on #8613
@nodejs/http Confirmed bug? Not a bug? Something else?

[2017-07-10 20:21] #8265 closed

[2017-07-10 20:24] Trott commented on #8282
@bnoordhuis, @indutny, @nodejs/streams: Thoughts on this one? (Close? Keep open? Any answer to @clshortfuse's question in the last comment?)

[2017-07-10 20:26] Trott commented on #7627
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-10 20:26] #7627 closed

[2017-07-10 20:27] addaleax commented on #8282
I’m not sure about libuv, I guess this would have to be implemented there first. This doesn’t seem like an unreasonable feature, just something where somebody needs to invest their time to actually do it.

[2017-07-10 20:29] Trott commented on #8733
Is this still an issue?

[2017-07-10 20:29] Trott commented on #8730
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-10 20:29] #8730 closed

[2017-07-10 20:31] tniessen commented on #14161
@addaleax I can reproduce with 8.2.0 RC, but not with 8.1.3, so hopefully it did not make it into any release lines yet.

[2017-07-10 20:31] Trott commented on #8797
Re-pinging @nodejs/platform-windows. Also: @nodejs/fs.

Keep this open?

[2017-07-10 20:31] Trott commented on #8671
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-10 20:31] #8671 closed

[2017-07-10 20:32] addaleax commented on #14161
It did not :)

/cc @mscdex

[2017-07-10 20:32] Trott commented on #8903
@nodejs/documentation Thoughts on this one?

[2017-07-10 20:34] Trott commented on #8775
@nodejs/http @nodejs/platform-windows Is there anything to do on the Node.js side on this one? Any helpful information to provide @pps83? Should this remain open?

[2017-07-10 20:35] Trott commented on #8051
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-10 20:35] #8051 closed

[2017-07-10 20:36] Trott commented on #8934
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-10 20:36] #8934 closed

[2017-07-10 20:39] cjihrig commented on #8797
I think this is something we could document. `ENOTDIR` seems like the more correct error code, but normalizing that on Windows would probably not be worth it.

[2017-07-10 20:51] #4044 closed

[2017-07-10 20:58] tniessen commented on #14157
Technically, this is correct, and I don't see a chance of breaking code. Some will probably break due to custom child process environments, but that's what deprecation is for.

[2017-07-10 21:09] tniessen commented on #14156
This is one of many problems arising from setting weird environments for child processes.

Technically, the documentation is not entirely incorrect. Microsoft specifies that `COMSPEC` must always contain the path to `cmd.exe`, at least for the root environment, so as long as that is true, the documentation is correct. It is still worth changing this in the documentation as - sadly - it is not alwa

[2017-07-10 21:13] cjihrig commented on #14156
I think we should say that the value defaults to `COMSPEC`, and if that is not set, `cmd.exe` is used.

[2017-07-10 21:35] bnoordhuis commented on #8282
There is an in-progress pull request (libuv/libuv#1040) that lets `uv_poll_t` handles poll with POLLPRI in order to receive notifications for OOB data.

Apropos SO_OOBINLINE, libuv sets it on MacOS but that's a mitigation technique for a denial-of-service that platform is (or was) vulnerable to.

[2017-07-10 21:37] sam-github commented on #14115
Does anybody know (@refack?) whether the `LINK` properety set at https://github.com/nodejs/node/blob/master/configure#L989 and eventually showing up in `config_fips.gypi` as something like

[code]

will also have an effect on Windows .sln files? Its not clear to me whether its possible to replace the Windows linker with a different command using gyp.

[2017-07-10 21:39] bnoordhuis commented on #14160
What Colin said, a class is block-scoped, it's not global.  To illustrate:
[code]
Not a bug, IMO.  Close?

[2017-07-10 21:40] joaocgreis commented on #14157
So, for users, what this is effectively deprecating is using an environment without `%COMSPEC%`.

I'm -0 on this. While situations without `%COMSPEC%` are probably quite messed up already, `cmd.exe` is a valid fallback and I don't see a pressing reason for deprecating, how this actually translates as an improvement for node.

But discussion is always welcome!

[2017-07-10 21:55] tniessen commented on #14156
Ref #14157

[2017-07-10 21:56] sam-github commented on #14115
@joaocgreis maybe you know something of this?  I'm trying to convince the sln files (via gyp) to do what is described in section 5.3.2 of https://www.openssl.org/docs/fips/UserGuide-2.0.pdf, which seems to be covered by defining the LINK property for Makefile based builds, but I'm having trouble seeing if it does anying on sln based builds.

[2017-07-10 22:03] bnoordhuis commented on #14115
@sam-github I don't think it does.  Linking is done by msbuild.  Maybe you can persuade GYP to invoke it with `msbuild /t:Link=/path/to/fipsld` but caveat emptor, I'm not even sure that incantation works.

The ninja generator lets you override it through `{ 'make_global_settings': { 'LD': 'fipsld' } }` and works on Windows.  Maybe that's a good alternative?

(LD is not a typo, the ninja generator

[2017-07-10 22:10] #8269 closed

[2017-07-10 22:12] lance commented on #7619
@Trott sorry for the long delay - this slipped through the cracks for me. I will create a PR to address deprecating the few properties that @jasnell mentioned.

[2017-07-10 22:29] sam-github commented on #14115
@bnoordhuis thanks! I'll try ninja, I'd just convinced myself that `LINK` that was ignored by msbuild, and am glad to have some confirmation I'm not doing something wrong.

[2017-07-10 22:31] sam-github commented on #14115
Notes for those coming after...

[code]

[2017-07-10 22:38] AnnaMag commented on #14160
Adding to the above: since it is not available in the global context, it won't be set on a sandbox.

[2017-07-10 22:52] nebrius commented on #7509
Thanks @felixge. For the time being, what do you think about adding a blurb at the top that says something like "this guide is outdated now, please refer to https://nodejs.org/en/docs/guides/ for more up to date information"?

[2017-07-11 00:55] refack commented on #14115
"Holy ___________, Batman!"
Well your best course of action will be to "bypass" GYP's regular "rules", and use custom actions:
* Docs (so so quality) https://gyp.gsrc.io/docs/LanguageSpecification.md#Actions
* ICU gyp file (lot's of extreme cases) https://github.com/nodejs/node/blob/master/tools/icu/icu-generic.gyp#L228

[2017-07-11 01:09] refack commented on #14157
1. I opened this as an issue rather than a PR mainly for discussion 😃
2. Literal command strings IMHO are just bad and need a very good reason to exist.
3. In this case it doesn't "solve", just improves the situation by ϵ%. Just as the environment could be missing %COMSPEC%, it could be missing %PATH% (or %WINDIR% so `%WINDIR%\system32\cmd.exe` isn't any better), and also the system could be missi

[2017-07-11 02:09] zkat commented on #13640
The PR is up for your consideration, curiosity, and merge bit ;)

[2017-07-11 02:20] princejwesley commented on #8195
@Trott it's implemented long ago

[2017-07-11 02:53] Trott commented on #8195
@princejwesley You mean https://github.com/nodejs/node/pull/9601? Can you rebase against master and hopefully some of the people that +1'ed it can give it an official LGTM and we can get it landed?

[2017-07-11 04:19] princejwesley commented on #8195
@Trott sure, I'll do

[2017-07-11 05:54] XadillaX commented on #13923
Can you minify your code to reproduce this problem?

[2017-07-11 06:49] quibusus commented on #8591
@Trott No, I'm not. There is a PR #8601, I think you can close this as duplicate

[2017-07-11 08:28] strugee commented on #8903
FYI I started a PR for this today in #14164.

[2017-07-11 08:47] felixge commented on #7509
@nebrius will do. But it will have to wait until I find some time to figure out an access problem with the server this is being hosted on right now 🙈.

[2017-07-11 09:03] ileathan commented on #6966
This gets spammed and im not touching _, how can i find what is, Im posting this hear cause I wish this remained opened so i could squeltch it, its so freeking annoying.

[2017-07-11 10:49] NoelAbrahams commented on #14160
It appears that [function declarations are also block scoped](http://2ality.com/2015/02/es6-scoping.html#function-declarations-and-class-declarations), but *create properties on the global object* while class declarations don't create properties on the global object.

This is a significant nuisance IMO - we have some isomorphic code that needs to be loaded on the server into a sandbox, and now eve

[2017-07-11 11:43] bnoordhuis commented on #14160
Not always.  Functions are block-scoped in strict mode but function/global-scoped in sloppy mode.  Classes are always block-scoped, regardless of 'use strict'.
[code]
I'll go ahead and close this out.

[2017-07-11 11:43] #14160 closed

[2017-07-11 11:50] MichalZalecki commented on #9377
@Fishrock123 solution is generally working 💥

If it's not working for you make sure that your version of npm is actually under `/usr/local/lib/node_modules/npm`. Run `which npm`. For node installed e.g. through ansible nodejs role it can be in: `~/nodejs/bin/npm`. If that's the case then you want to `rm -rf ~/nodejs/lib/node_modules/npm`. Reinstall and you should be fine.

[2017-07-11 12:41] bnoordhuis commented on #14139
Opened a CL: https://chromium-review.googlesource.com/c/566833/

[2017-07-11 13:15] niieani opened #14166 "child_process, *nix, stdio undefined when kernel nofile limit hit"
* **Version**: v8.2.0-rc.1
* **Platform**: 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3 16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64
* **Subsystem**: child_process

When we hit the NOFILE limit under either Linux or OS X, the `stdio` property of a `child_process` instance is sometimes `undefined`. This is either undocumented behavior (docs say `stdio` should always be an Array

[2017-07-11 13:19] refack commented on #8797
Note for those coming after...
This idiosyncrasy should be documented in https://github.com/nodejs/node/blob/master/doc/api/fs.md#fsrmdirpath-callback

[2017-07-11 13:22] mcollina commented on #14128
Yes, I think so. Or to do one based on the process PID.

[2017-07-11 13:24] refack commented on #14153
Good morning (in EST) 🌅

[2017-07-11 14:01] Trott commented on #8591
Closing. Feel free to re-open (or leave a comment requesting that it be re-opened) if you think it shouldn't be closed.

[2017-07-11 14:01] #8591 closed

[2017-07-11 14:05] refack commented on #14128
PR https://github.com/nodejs/node/pull/14168 (Untested)

[2017-07-11 14:13] YouriT commented on #6219
@Trott so if I remember properly, the goal was to use it in [this library](https://github.com/swanest/load-process-manager) which has been abandoned since that time because the only efficient way to implement it would have been to not face this issue.

The main idea was to be able to send the handle to multiple children in order to make them handle requests instead of the master which would act as

[2017-07-11 14:17] Trott commented on #6966
Depends what you mean by hack.

Off the top of my head (which means both that I might be leaving out options and that these might not be the most advisable approaches):

* You can use the `repl` module to create your own `REPLServer` instance and override the `_` setter (in your instance's `context`) that emits the error or set the `underscoreAssigned` property to `true`.

If you only need it for

[2017-07-11 15:55] jbergstroem commented on #14153
@refack all involved are working as fast as we can.

[2017-07-11 16:28] Trott commented on #6219
@YouriT Thanks for all the additional context/information!

@bnoordhuis @cjihrig Thoughts on this?

[2017-07-11 16:31] jsumners opened #14169 "doc: process.umask doc unclear"
* **Subsystem**: doc

https://github.com/nodejs/node/blob/199ad1d73f81c1d568232df418090e9ce3c4a7fb/doc/api/process.md#processumaskmask

The documentation for `process.umask` reads:

I have emphasized the last sentence since that is the one that doesn't make any sense. Is it saying `var oldmask = process.umask()` or `var oldmask = process.umask(0)`?

[2017-07-11 16:39] refack commented on #14153
I did not assume otherwise 👍

[2017-07-11 16:39] sam-github commented on #6219
It was my impression that what cluster did could be done by user code. @YouriT can you provide a small example showing that a master cannot sent a server socket to multiple child processes?

[2017-07-11 16:48] bnoordhuis commented on #14169
Both, except the no-arg version doesn't change the umask so the returned value is still the active umask after the call returns.

[2017-07-11 16:52] jsumners commented on #14169
How about:

[2017-07-11 16:54] bnoordhuis commented on #14169
Sounds good.

[2017-07-11 17:20] #14133 closed

[2017-07-11 17:29] joaocgreis commented on #14153
Jenkins is now available again.

[2017-07-11 17:29] #14153 closed

[2017-07-11 17:30] ofrobots opened #14171 "Re-enabling V8 snapshots"
As part of the [July 11 2017 security release](https://github.com/nodejs/nodejs.org/pull/1288) we disabled V8 snapshots to mitigate hash flooding attacks against Node servers. The problem is that the snapshot is built at build time – and whatever the hash seed got used at that time gets baked into that particular Node.js binary.

Disabling snapshots has some negative performance & memory footprint

[2017-07-11 18:01] refack commented on #14171
IMHO (1) seems to make most sense.
(2) breaks many instllation stories that don't depend on install/version manager
(3) seems like a compromised version of (1)
(4) might make sense anyway, but AFAICT on it's own does not mitigate the vulnerability, since all tables stored in the snapshot will still have known seeds.

[2017-07-11 18:06] ofrobots commented on #14171
To clarify, I am proposing that each hash table has its own hash seed rather than having a global hash seed that gets used for all hash tables. This will address vulnerability; in fact, it would provide even stronger protection against hash flooding attacks. This would be quite a substantial undertaking on the VM side though.

[2017-07-11 18:09] hashseed commented on #14171
With (4) every hash table instance would have its own hash seed, which is random. This local hash seed is not constant, and knowing the random seed of one particular instance does not affect other instances.

[2017-07-11 18:11] hashseed commented on #14171
(4) is also least likely to be backportable. I also favor (1).

[2017-07-11 18:16] refack commented on #14171
But it will leave all the tables that are "frozen" in the snapshot with knowable seeds thus compromisable. If none of them are important, theoretically you could just have two seeds: one for the defrosted tables and a fresh one for everything else

[2017-07-11 18:18] refack commented on #14171
@hashseed you username has never been so relevant 😄

[2017-07-11 18:21] hashseed commented on #14171
:)

You are right in that the deserialized tables would be compromised. We probably don't want that.

[2017-07-11 18:27] ofrobots commented on #14171
It sounds like for 4) we need 1) regardless.

[2017-07-11 18:33] targos commented on #14171
How does the performance hit of rehashing the tables at startup compares to the current workaround?

[2017-07-11 18:36] hashseed commented on #14171
Rehashing would be a lot faster than bootstrapping from scratch.

A variation of that could be lazily rehashing: upon deserialization, we mark all hash tables. Marked hash tables use the old hash seed. Once a table expands, it is rehashed anyways (iirc). That's when we would use the new hash seed.
That should work as mitigation because DOS attack is based on adding entries to the hash table to pro

[2017-07-11 18:50] refack commented on #14171
Just some quick anecdotal numbers from Windows x64
50 X `node813 -e "process._rawDebug('.')"` => 9.57s => ~0.2s per instance
50 X `node814 -e "process._rawDebug('.')"` => 19.17s => ~0.6s per instance
~200% slowdown (but still relatively fast)

[2017-07-11 18:54] hashseed commented on #14171
That's probably helped by the fact that we have migrated a lot of the builtins away from being self hosted in JS. That reduces the time spent in bootstrapping a context from scratch.

[2017-07-11 19:08] raphaelokon commented on #11936
Issue still present in `v8.1.4`

[2017-07-11 20:02] GhassenBHS opened #14172 "Launch a set Interval() call every client request in Node.js"
By design, is it considered a problem to launch a call for set Interval that performs a database update every x seconds, for every request on a sepcific route? I did this tested it for a small number of requests, but I don't konw if that is best practice and whether it will be problematic once the number of requests on the route grows significantly.

Thank you.

[2017-07-11 20:30] Trott commented on #14172
This issue tracker is for bugs and issues found within Node.js core.
If you require more general support please file an issue on our help
repo. https://github.com/nodejs/help

[2017-07-11 20:30] #14172 closed

[2017-07-11 21:47] mhdawson commented on #14171
The lazily rehashing sounds like a good way to only pay the price or rehashing when its actually needed.

[2017-07-11 21:56] refack opened #14176 "meta: Are the limits on line length still necessary?"
1. 50 chars for commit title
2. 72 chars for commit message
3. 80 chars for code line

I wanted to start a discussion on why we're still enforcing them? Is it possible to extend the limits?
Especially the 80 char per code line. There are style guides that extend the limit to 120 chars, or make an exception for function calls with many arguments, and string literals.
I'm assuming originally it came

[2017-07-11 21:59] mhdawson opened #14177 "sequential/test-benchmark-http - consistent intermittent failure"
* **Version**: master
* **Platform**: SmartOS and likely others
* **Subsystem**: http

Latest CI runs show intermittent failure on
sequential/test-benchmark-http
https://ci.nodejs.org/job/node-test-commit-smartos/10138/nodes=smartos16-64/console
[code]

I believe this is quite likely due to turning off snapshots for the security release as it was one we say fail on ARM in some of the private runs.

[2017-07-11 22:07] mhdawson opened #14178 "test: parallel/test-zlib-failed-init, intermittent crash"
* **Version**: master
* **Platform**: Windows, debian8
* **Subsystem**: zlib

Crash in run for unrelated PR
https://ci.nodejs.org/job/node-test-binary-windows/9757/RUN_SUBSET=1,VS_VERSION=vs2015,label=win2012r2/console
[code]

[2017-07-11 22:11] vsemozhetbyt commented on #14176
Refs (to compare with other popular guides): [Airbnb](https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb-base/rules/style.js#L143-L149)

[2017-07-11 22:15] refack commented on #14177
ditto https://ci.nodejs.org/job/node-test-commit-smartos/10136/nodes=smartos15-64/

[2017-07-11 22:17] refack commented on #14178
Might be dup of https://github.com/nodejs/node/issues/14161

[2017-07-11 22:25] refack commented on #14176
Quick anecdotal query into GitHub
100 (30 results): https://github.com/search?q=%22max-len+error+100%22&type=Code&utf8=%E2%9C%93
120 (1,678 results): https://github.com/search?q=%22max-len+error+100%22&type=Code&utf8=%E2%9C%93

[2017-07-11 22:37] gibfahn commented on #14176
I have found this more and more irritating in code. If your editor wraps then I'm not sure what the benefit is. I'd be +1 on increasing it to 100/120.

For git I think it's different, the 50 char limit encourages people to be concise in the title, which is really helpful when you're doing a `git log --oneline`. GitHub wraps the title at 72 chars, so we couldn't go beyond that anyway:

![image](htt

[2017-07-11 22:46] sam-github commented on #14176
re: git, http://tbaggery.com/2008/04/19/a-note-about-git-commit-messages.html

I don't agree that we have more screen space now, because once the screen got wider, it became possible to put up two tabs side-by-side, which is what I do, and assume most people do, and both are 90 chars wide, as it happens, on my monitor, leaving room if I wanted it for some kindof tool tray to the side.

IMO, most e

[2017-07-11 22:52] gibfahn commented on #14176
@AndreasMadsen (from https://github.com/nodejs/node/pull/14173#issuecomment-314586854), have you tried line wrapping? I often use a narrow editor, and I find the wrapping to be cleaner than what we do now:

![image](https://user-images.githubusercontent.com/15943089/28094267-97a72bbc-6693-11e7-911d-53d6ed5679e1.png)

Not saying wrapping fixes all problems obviously, just a suggestion.

[2017-07-11 22:59] evanlucas commented on #14176
I'd be +1 on extending the commit title to 72 columns, but prefer we keep the commit and code line lengths the same. I find that auto wrapping makes it more difficult to immediately see things the way sticking to a smaller line length does

[2017-07-11 23:12] d3viant0ne commented on #13325
@AndreasMadsen - I am running into this in my backend servers on all 8.x versions to included 8.1.4.

[code]

[2017-07-11 23:14] mscdex commented on #14176
I prefer the limits the way they are now.

[2017-07-11 23:35] gibfahn commented on #14158
cc/ @mhdawson, @a-roberts (and maybe @sam-github) who were looking at this.

[2017-07-12 00:17] evanlucas commented on #11936
Thanks for continuing to let us know @raphaelokon. I finally got around to looking into this. This should be fixed by https://github.com/nodejs/node/pull/14179. :]

[2017-07-12 00:33] gibfahn commented on #7730
Sounds like this should be moved to libuv/libuv

[2017-07-12 00:53] gibfahn commented on #11401
I guess cc/ @nodejs/v8-inspector

[2017-07-12 01:30] cjihrig commented on #14176
I prefer the current limits as well.

[2017-07-12 01:36] refack commented on #14177
I have a feeling `test-benchmark-http` is also fudging up `test-benchmark-net` that is the next test in line:
[code]

[2017-07-12 01:38] legitparty commented on #14068
https://github.com/nodejs/node/compare/master...legitparty:master

I was only able to test this change on the release version, not master, since I couldn't figure out how to get master to build on DragonFly in a reasonable amount of time. It worked great there. In the release, this code is in an entirely different file, so I wouldn't really trust that. I also didn't rebase properly, but merged, an

[2017-07-12 01:38] refack commented on #14178
https://ci.nodejs.org/job/node-test-binary-windows/9762/RUN_SUBSET=1,VS_VERSION=vs2015,label=win2012r2/

[2017-07-12 02:12] refack commented on #8157
I would actually consider one of the linuxONE machines, there are several available, and they are super fast. I'm also assuming they could be configured to have some guarantee of available resources.
Another "optimization" we could have is the ability to use a prebuilt binary as baseline (latest `v8.x` or nightly)

[2017-07-12 02:45] XadillaX commented on #14176
Agree with 120 columns per code line.

[2017-07-12 04:14] #13773 closed

[2017-07-12 04:29] tokyowizard opened #14182 "Nodejs v7.10.1 broken on CentOS 5. Error: "node: /lib64/libc.so.6: version `GLIBC_2.7' not found (required by node)""
* **Version**: v7.10.1
* **Platform**: CentOS 5
* **Subsystem**:

Version v.7.10.1 no longer works on CentOS 5.
Nodejs 7 versions have been working up until 7.10.0.

[code]

[2017-07-12 04:37] Trott commented on #14177
Looks like https://github.com/nodejs/node/pull/14180 fixes this issue.

[2017-07-12 04:48] Trott commented on #14177
@refack test-benchmark-net is failing independently on Raspberry Pi devices, but I think I have a fix for that.

[2017-07-12 04:55] Trott commented on #14182
@nodejs/build @nodejs/release

[2017-07-12 05:47] AndreasMadsen commented on #14176
![skaermbillede 2017-07-12 kl 07 45 19](https://user-images.githubusercontent.com/505333/28103454-206f4172-66d6-11e7-8a8a-cd62500a0449.png)

It looks like this. Honestly, I can't stand it and would rather scroll. Also with an argument like that, why have a limit at all.

[2017-07-12 05:49] AndreasMadsen commented on #8157
Are those dedicated machines?

Building node.js takes almost no time compared to the running the benchmarks.

[2017-07-12 05:50] XadillaX opened #14184 "Question about backporting to 8.x"
* **Version**: -
* **Platform**: -
* **Subsystem**: -

I saw there were some PR named `backport 8.x`. The question is: Is `master` leads to 9.x now? And if we created some PR for 8.x, shall we create the new branch from v8.x? Or from master and then create a backport PR?

[2017-07-12 05:52] AndreasMadsen commented on #13325
@d3viant0ne please open a new issue. It is the same asset but most likely a different issue.

[2017-07-12 05:52] Trott commented on #8974
@bnoordhuis  @indutny @nodejs/streams @nodejs/n-api Thoughts on how to do it now, how a new feature might do it, whether it is something that should be done at all, whether or not this issue should remain open?

[2017-07-12 05:55] XadillaX commented on #14182
I think you should install glibc?

[2017-07-12 05:55] Trott commented on #14184
Continue to create PRs for master and they will be backported to 8.x if the change is not breaking/semver-major. Backport PRs are only necessary when we want something to land in 8.x that doesn't cherry-pick cleanly from the master branch.

(And yes, if you compile on master and run `./node -v`, you'll see that it's version 9.0.0-pre.)

[2017-07-12 06:03] XadillaX commented on #14184
Okey, I see.

[2017-07-12 06:03] #14184 closed

[2017-07-12 06:10] ronkorving commented on #14182
@XadillaX A new version of glibc should not be a requirement for a security (patch level) release.

[2017-07-12 06:13] TimothyGu commented on #14020
The behavior was changed after https://github.com/nodejs/node/issues/10480 (which, comically, was also filed by @stevenvachon).

[2017-07-12 06:13] Trott commented on #14182
@ronkorving In principle, I agree. However...see discussion at https://github.com/nodejs/node/pull/12672. CentOS 5 went EOL (from the vendor) in March. If I'm reading that conversation right, it means that new releases of Node.js, even patch level ones, are not guaranteed to run there anymore.

[2017-07-12 06:16] mscdex commented on #14182
The thing is though there aren't going to be many more v7.x releases (v7.10.1 might be the last one even), so I don't see how it could hurt to just use the same glibc throughout v7.x.

[2017-07-12 06:28] Trott commented on #14182
I agree, but I'm not the one doing releases and maintaining the infrastructure, so I feel like my opinion counts for less because there may be issues I am not sensitive to. Moreover, 7.x isn't really the issue. It's 6.x, which will be supporting until April 2019. I suspect the breakage/upgrade/whatever-you-want-to-call-it happened there too.

But yeah, on the other hand, this is unexpected and lik

[2017-07-12 06:42] TimothyGu opened #14186 "NVD Common Platform Enumeration"
NIST's National Vulnerability Database maintains a [dictionary](https://nvd.nist.gov/Products/CPE) for Common Platform Enumeration, which "is a structured naming scheme for information technology systems, software, and packages." Node.js versions 0.10.0-6.6.0 [all](https://nvd.nist.gov/products/cpe/search/results?status=FINAL&orderBy=CPEURI&namingFormat=2.3&keyword=cpe:2.3:a:nodejs) have a designa

[2017-07-12 06:56] hashseed commented on #14171
The downside in (4) could be addressed similarly: we would choose a new local hashseed whenever the hash table is expanded and reallocated.

[2017-07-12 07:43] mcollina commented on #8974
I think the best way to do this is via uv_link_t, if that would ever be supported here. This is an issue also on core itsef, as I would love to not pass through JS to read data from TLS.

https://github.com/indutny/uv_link_t

I do not think that manipulating directly the fd and pointers is the way to go. Linking to the OpenSSL version that node use is impossible (I could not do it, maybe someone e

[2017-07-12 07:53] targos commented on #14182
That information should probably have been in the "notable changes" section of the release post.

[2017-07-12 08:31] YouriT commented on #6219
As it was a long time ago, I might have get a bit confused by what I was trying to do at that time.

So after trying a bit out, here is what works and what doesn't:
- Sending a server socket to child => OK.
- Sending a server to a child => OK but the parent has to handle requests too and cannot be just a master and is the one that MUST do the `.listen(..)`.
- Having child processes that try listen

[2017-07-12 08:46] ronkorving commented on #14182
@Trott Yeah, I think for most people a new Node release is just an `nvm install` away. I would expect new versions to run. Reading release notes may come later.

Speaking of which, [this](https://nodejs.org/en/blog/release/v7.10.1/) is where I would expect an explicit mention when a platform (or glibc version) is no longer supported. It's the first place where I as a user would look.

[2017-07-12 08:52] bnoordhuis commented on #14171
But is needless complexity when the number of hash tables is small.  I'd go for the simplest solution first and only if that doesn't perform satisfactorily, look into lazy rehashing.

[2017-07-12 08:56] mcollina commented on #14171
I agree with @bnoordhuis.

[2017-07-12 09:02] bnoordhuis commented on #14186
I don't know, to be honest.  I'm not aware of it being anyone of us collaborators/maintainers.

[2017-07-12 09:06] bnoordhuis commented on #14176
I also prefer the current line length.  Why, I feel 80 columns is already overly indulgent.  When I was young we only had 72 columns and we were happy, we didn't know any better.

[2017-07-12 09:13] bnoordhuis commented on #8974
It's a pretty niche thing.  Not saying no but there would probably only be a few users at best, making it no worthwhile to sink a lot of time in.

There's also the question of if you want to manage sockets yourself, why not create them yourself?

This has improved in the last year, see #6274.

[2017-07-12 09:20] bnoordhuis commented on #14068
Change looks good to me.  If you rebase it onto master and make sure `make cpplint` passes (doesn't require a build first), open a pull request and I'll kick off a CI run.

[2017-07-12 09:48] XadillaX commented on #14176
In my VIM, I have an 80-column warning line and a 120-column error line. That means I usually keep it's length up to 80 and if necessary, it still can't longer than 120.

![image](https://user-images.githubusercontent.com/2842176/28112047-346bac3e-672a-11e7-9981-86993a718321.png)

[2017-07-12 09:52] gibfahn commented on #14182
So _technically_ CentOS 5 hasn't been supported since Node 4. However I don't think we make this in any way visible (it's only in `BUILDING.md`) so I don't think we can reasonably expect users to see this.

In this situation I believe this is a bug with the release scripts, @rvagg added this crazy if expression to run on CentOS 5 For Node 7 and below, and CentOS 6 for Node 8 and above:

[code]

I'

[2017-07-12 10:35] mcollina commented on #8974
@bnoordhuis thanks!

[2017-07-12 10:43] tniessen commented on #14176
1. The 50 char limit of the title is somewhat restrictive, I am ±0 on this, but I don't have a problem with keeping it as it is.
2. 72 chars should be kept as they are IMO, that barely ever causes problems.
3. I think lines with more than 100 characters are barely readable. The only reason to have such long lines is to include string literals etc., see #14173. Everything else can comfortably be wr

[2017-07-12 10:49] gibfahn commented on #8157
This is the issue, we need a machine that is only used for benchmarks (AIUI). We have 3 linuxone machines (2 test, one release), and they're all in pretty heavy use.

I suspect that currently the release machines are mostly idle, other than an hour or two building nightlies, but I'm not sure it'd be feasible to use them.

[2017-07-12 11:00] mcollina commented on #8157
We have a machine ready to hook up for this cc @jasnell.
How can we get it configured?

[2017-07-12 11:03] gibfahn commented on #8157
You mean there's a machine in CI already, or that you have one you want to donate?

Either way you should raise an issue in the build repo, and we'll have to sort out ansible configs for it.

[2017-07-12 11:19] gareth-ellis commented on #8157
I think this is going to be a longer process. In an ideal world we would have infinite time across all platforms, in reality we don't have that.

We should start with the hardware that is being donated, then we can move forward and evaluate the benefit/possibility of adding additional platforms for benchmarking.

Once the machine is in the CI, we can do some exploratory runs to evaluate the result

[2017-07-12 11:20] MylesBorins commented on #14176
The 50 / 72 rule has historic president and many tools are built around them

I am -1 to changing our commit guidelines

[2017-07-12 11:34] gibfahn commented on #14153
Was it the ppcbe linux subjobs that were cancelled? They've been hanging since yesterday: https://github.com/nodejs/build/issues/789

[2017-07-12 11:38] hashseed commented on #14171
I agree as well. But here is the issue: the shape of a hash table (how many fields per entry, what kind of key, etc) depends on the context it is used for. There is no simple way to simply look at a FixedArray and tell that it is a NamedDictionary, and not a GlobalDictionary or StringSet. That makes rehashing hard.

Doing it lazily has the advantage that this can be done with the necessary context

[2017-07-12 11:59] AndreasMadsen commented on #14153
@gibfahn Thanks, I think that is it.

[2017-07-12 12:32] hashseed commented on #14171
I put a [document](https://docs.google.com/document/d/1br7T3jk5JAJSYaT8eZdQlqrPTDRClheGpRU1-BpY1ss) together.

[2017-07-12 12:54] hashseed commented on #14171
Would it make any sense at all to offer an option to enable the snapshot when Node is built from scratch? Disabling snapshot only makes sense if Node is distributed as binary.

[2017-07-12 13:04] bnoordhuis commented on #14171
@hashseed That option exists, we just flipped the default from on to off.  It's `./configure --with-snapshot` now.  I'll take a look at the document.

[2017-07-12 13:05] refack commented on #14171
That is the current situation. The mitigation patch was just to reverse the default. https://github.com/nodejs/node/commit/eff636d8eb7b009c40fb053802c169ba1417293d

[2017-07-12 13:26] refack commented on #8157
But if they can run the benchmark suite in short time (I'd assume < 20m) IMHO it's still a good option. We could mitigate resource fluctuations by running the comparison in a checkerboard pattern.

[2017-07-12 13:29] mhdawson commented on #14177
This is failing on the PPC linux machines as well.

ex:

https://ci.nodejs.org/job/node-test-commit-plinux/nodes=ppcbe-ubuntu1404/10158/console

[2017-07-12 13:30] papakai commented on #14087
Hey guys,

I really need you help here. I am trying to figure out on how to react in http request on a server close.
Currently we always need to wait for the timeout to be fired.

[code]

I tried out different things, but couldn't find the solution. Can anyone assist here how to react there on server connection 'close' without having to wait until  timeout is getting fired?

[2017-07-12 13:30] mhdawson commented on #14177
@refack agreed, I think the second failure is just because the failure of the first test.

[2017-07-12 13:38] gareth-ellis commented on #8157
Not convinced that running the entire suite is an option, I see the running of benchmarks being targeted subset for a PR, or perhaps as an overall summary - this would have to be a reduced amount, last time I tried to run a compare on the whole suite, I kicked it off on Friday, then I had to abandon the run on Monday as it was still running.

(this wasnt on a zLinux / LinuxOne machine, however it

[2017-07-12 13:51] gibfahn commented on #6450
We're seeing this on every test run.

[2017-07-12 13:52] gibfahn commented on #11536
@bnoordhuis are you okay with @santigimeno's proposed fix? If so @santigimeno would you mind PRing?

[2017-07-12 14:18] cjihrig commented on #14034
I'm going to close this out. I don't think there is anything to be done in Node core. If I'm wrong, we can reopen.

[2017-07-12 14:18] #14034 closed

[2017-07-12 14:58] AndreasMadsen commented on #8157
The entire suite would take days. Statistically, it is also completely useless to run the entire suite because the risk of false positives is too high.

[2017-07-12 15:12] jasnell opened #14190 "Including docker image in standard release"
@nodejs/release @nodejs/docker ... Given the number of users who depend on the Node.js docker images, I think it's time that we strongly consider integrating generation of the docker images as part of our regular release CI process -- that way, the updated images would be available immediately when a new release is cut -- which is particularly helpful when cutting security releases.

[2017-07-12 15:15] evanlucas commented on #14190
+1 from me. This would be quite useful I would think

[2017-07-12 15:17] cjihrig commented on #14190
+1

[2017-07-12 15:26] refack opened #14191 "test: post-snapshot `test-cli-node-options` timeouts on RasberryPi"
* **Version**: 8.1.4
* **Platform**: `pi1-raspbian-wheezy`
* **Subsystem**: test,cli

https://ci.nodejs.org/job/node-test-binary-arm/9178/RUN_SUBSET=2,label=pi1-raspbian-wheezy/
[code]

[2017-07-12 15:29] cjihrig commented on #5963
I rebased my branch, https://github.com/cjihrig/node-1/tree/5963, in case anyone wants to discuss this now.

[2017-07-12 15:34] refack commented on #14191
Anecdotal numbers from my local Windows machine:
[code]
without snapshot    ~4.3s
with snapshot         ~1.61s
The expected 200% slowdown (ref https://github.com/nodejs/node/issues/14171#issuecomment-314537800)

[2017-07-12 15:40] chrisbroome opened #14193 "Missing documentation for tls.parseCertString"
* **Version**: all as of v8.1.4
* **Platform**: all
* **Subsystem**: all

There is currently no documentation for [`tls.parseCertString`]( https://github.com/nodejs/node/blob/master/lib/tls.js#L233)

Since this function exported, I'd consider it part of the public API and therefore it should probably have some documentation explaining what it does.

[2017-07-12 15:40] SimenB commented on #14190
+1

I don't think the images necessarily can be available immediately, as it has to go through a PR to docker hub (see docker-library/official-images#3181). But at least skipping waiting for a build and merge on Node's side would be really nice!

[2017-07-12 15:42] LaurentGoderre commented on #14190
@jasnell can we get a musl compiled version of node as well?

[2017-07-12 15:43] #14177 closed

[2017-07-12 15:46] chorrell commented on #14190
Just to set some expectations:

Updating the the relevant Docker files in https://github.com/nodejs/docker-node as part of the CI release process is certainly possible. It's just a matter of updating some text files. Even generating the PR for the Docker Hub could be part of an automated release process. However, there will always be some lag between when that PR is accepted and when the actual im

[2017-07-12 15:53] LaurentGoderre commented on #14190
It would be nice to have auromation points at the edge of each systems. for example, if the NodeJs group has a bot, then the release build can create a PR for the Docker node repo. This would prevent having to do these manually every time. I am not familiar on how the docker hub wortks yet but there may be some ways to do something similar there too.

[2017-07-12 15:56] vishwasrao commented on #13827
Hi, I would like to work on this.
Eager to work on my first contribution.

[2017-07-12 15:59] Trott commented on #6450
@gibfahn In CI? Link? On Windows in CI, I'm seeing parallel/test-zlib-failed-init failing a lot and some other stuff here and there, but not this.

[2017-07-12 16:06] ysangkok opened #14194 "GCC 7.1 compatibility"
* **Version**: 6.11.1
* **Platform**: GNU/Linux
* **Subsystem**: V8

V8 does not build on GCC 7.1 (released on May 2nd). A patch for V8 6.1 is available: https://github.com/v8/v8/commit/c0f1ff2451b43cbc4b1ae9f668b616173877285a

It would be nice if it was backported to Node 6.x which uses V8 5.0 (I believe).

The errors provoked without the patch are visible here: https://bugs.chromium.org/p/chromi

[2017-07-12 16:10] ysangkok commented on #14194
Ah, sorry, already fixed in https://github.com/nodejs/node/commit/d9a8f80c0dea64d7c95eac48f8f57d7a25ea7edf

[2017-07-12 16:10] #14194 closed

[2017-07-12 16:31] richardzyx commented on #3695
What's the standard practice to let node throw an exception/warning message when using SSLv3/2? I had to spend quite some time debugging this issue since I just picked node back up and wasn't aware of this functionality. The only way I could get more information was from openssl cli, but it would have've been much nicer if there are existing warning or documentations.

In my case, the same key/cer

[2017-07-12 16:33] refack commented on #14191
Anacdotal number from my local Windows machine:
[code]
After PR ~4.72s
Pre PR ~5.88s
Down to ~80% time

[2017-07-12 16:44] bnoordhuis commented on #14193
That function was exposed by accident more than anything else in commit af80e7b from 2013.  It's probably better to move it to lib/internal than promote it to official API.

cc @indutny

[2017-07-12 16:51] bnoordhuis commented on #11536
test/sequential/test-debug-host-port.js was removed in #12197 so this is no longer an issue.  I'll close it out.

[2017-07-12 16:51] chrisbroome commented on #14193
@bnoordhuis Makes sense to me.

Also, after looking it what it actually does, it's also almost identical to calling

[code]

except for the one exception of when the string is invalid:

[code]

[2017-07-12 16:55] Trott commented on #3695
@richardzyx Hi! This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like that, please file an issue on our help
repo. https://github.com/nodejs/help

Thanks!

[2017-07-12 17:12] Trott commented on #11041
This stopped happening several months ago although now we're seeing a different failure (timeout) after snapshots were removed from Node.js. Will fix that separately, but closing this.

[2017-07-12 17:12] #11041 closed

[2017-07-12 17:18] XadillaX commented on #14193
If we move it to internal, I think it's a semver major.

[2017-07-12 17:24] sam-github commented on #14193
@chrisbroome did you call this API? for what purpose? It parses a format that doesn't appear to ever be produced by a public API, I don't see how it could be useful.

Calling it semver-major is safe, lets not doc, and move to internal for 9.x

[2017-07-12 17:27] pesho commented on #14190
Definitely. There is already https://github.com/nodejs/docker-node/pull/431 which attempts to automate the second part (submitting the Docker Hub PR).

[2017-07-12 18:01] d3viant0ne commented on #13325
No problem, thanks :)

[2017-07-12 18:08] d3viant0ne opened #14198 "Node servers crashing on upgrade to v8.x"
* **Version**: 8.1.4
* **Platform**: Darwin deviantjs.local 16.7.0 Darwin Kernel Version 16.7.0: Sun Jun 25 17:14:55 PDT 2017; root:xnu-3789.70.16~9/RELEASE_X86_64 x86_64
* **Subsystem**:

[code]

Core dump available in [s3 bucket](https://s3.amazonaws.com/jwiens-public/core.63165.zip)

Opening a new issue as requested in #13325

This is happening in all of our restful APIs when trying to run on 8

[2017-07-12 18:13] AndreasMadsen commented on #14198
/cc @nodejs/async_hooks

[2017-07-12 18:15] refack commented on #14198
@d3viant0ne fixed version `8.0.14` -> `8.1.14`. Assuming that is correct.

[2017-07-12 18:22] AndreasMadsen commented on #14198
That is not released (yet :p), likely it is `8.1.4`.

[2017-07-12 18:23] Trott commented on #14178
Two more:

https://ci.nodejs.org/job/node-test-binary-windows/9786/RUN_SUBSET=1,VS_VERSION=vs2015,label=win2012r2/console

[code]

https://ci.nodejs.org/job/node-test-binary-windows/9786/RUN_SUBSET=1,VS_VERSION=vcbt2015,label=win10/console:

[code]

[2017-07-12 18:23] Trott commented on #14178
Signs allegedly point to https://github.com/nodejs/node/pull/13322/commits/09d579fcb381cf518e156769cb80e559b03ce3c0. /cc @mscdex

[2017-07-12 18:25] Trott commented on #14178
This issue has been observed on both Azure and Rackspace hosts in CI.

[2017-07-12 18:46] #13984 closed

[2017-07-12 18:48] AndreasMadsen commented on #14198
Backtrace from core dump:

[code]

From this, it can be seen that the `trigger_async_id` to `emitBefore` is `-1`. If I remember correctly this can only happen because of [lib/net.js#L187](https://github.com/nodejs/node/blob/master/lib/net.js#L187).

@d3viant0ne I think we need some more information to fully understand this. If this is easily reproduceable, could you add the following code to the t

[2017-07-12 18:50] raphaelokon commented on #11936
Cheers @evanlucas – and sorry for keeping bugging you guys :D

[2017-07-12 18:53] refack commented on #14198
This might be fixed by https://github.com/nodejs/node/pull/14026 or https://github.com/nodejs/node/pull/13839
@d3viant0ne Could you try with the [latest nightly](https://nodejs.org/download/nightly/v9.0.0-nightly20170712f52c707853/)

[2017-07-12 18:54] chrisbroome commented on #14193
I never actually used the API in production code. Basically I was playing around in the REPL exploring what was available in the `tls` module. I just typed `tls.<tab>`, saw `parseCertString`, and wanted to know what its purpose was (I thought maybe it was a function that let you extract information from base64-encoded `.pem` files). Anyway, I went to the documentation, but the function wasn't ther

[2017-07-12 18:57] d3viant0ne commented on #14198
@refack - I'll give the nightly a try and let you know.

[2017-07-12 19:01] refack commented on #13020
macOS:
[code]
https://ci.nodejs.org/job/node-test-commit-osx/11049/nodes=osx1010/

[2017-07-12 19:04] protosam opened #14200 "HTTP module, multiple headers with same name"
* **Version**: All versions from what I can tell
* **Platform**: All
* **Subsystem**: http module

The problem is pretty straight forward. There is no good way to send out multiple headers with the same name. I literally had to resort to this jank solution:
[code]

This is still bad in my personal opinion as I'm having to write headers out before content and the module should be handling the statu

[2017-07-12 19:04] d3viant0ne commented on #14198
@refack - Confirmed that's fixed in the nightly. You guys & gals are rockstars :)

I'm not familiar with your release process, will those two fixes find their way into an 8.x release at some point or do I need to wait for 9?

[2017-07-12 19:04] #14198 closed

[2017-07-12 19:07] addaleax commented on #14198
@d3viant0ne The fixes are both included in the current proposal for 8.2.0 @ https://github.com/nodejs/node/pull/13744. We should have everything in there ready by the end of the week, so just wait until Tuesday or so. :)

[2017-07-12 19:08] #5675 closed

[2017-07-12 19:11] SpaceboyRoss01 opened #14201 "An object is undefined but is defined"
* **Version**: v7.10.0
* **Platform**: Linux spaceboyross-OptiPlex-3010 4.8.0-58-generic #63~16.04.1-Ubuntu SMP Mon Jun 26 18:08:51 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

Output from console:
[code]

[2017-07-12 19:15] AndreasMadsen commented on #13020
Just tested it 1000 times on my own machine, no error :(

[2017-07-12 19:15] addaleax commented on #14201
I think you want `r++` in the loop, not `i++`.

Also, for general questions about using or installing Node.js, like this, [nodejs/help](https://github.com/nodejs/help) may be a better place, so I’m closing this – feel free to open another issue there if you have any more trouble.

[2017-07-12 19:15] #14201 closed

[2017-07-12 19:17] SpaceboyRoss01 commented on #14201
Works

[2017-07-12 19:20] SpaceboyRoss01 opened #14202 "Set bits in variables"
I'm having problems trying to set bits in a variable for my CPU emulator. I haven't gotten any help at all.
Decoder:
[code]

[2017-07-12 19:25] addaleax commented on #14202
Can you please open this at https://github.com/nodejs/help and provide enough information to understand what problem you are having? Thanks.

[2017-07-12 19:25] #14202 closed

[2017-07-12 19:32] cjihrig commented on #5496
Making this change seems to be more involved than I originally thought. We would now need to pass the socket type to `UDPWrap::UDPWrap()`. It works fine in the normal case, but blows up when invoked via `UDPWrap::Instantiate()`. If it's not possible to pass a value through, then we could default to `AF_UNSPEC`, but that would just give us the existing behavior. Maybe @indutny could comment.

[2017-07-12 19:42] sam-github commented on #14193
OK. I don't personally think we should document something only to remove it in the next major. If we do document it, it should be doc-deprecated at least.

[2017-07-12 19:50] refack commented on #13020
I've looked at the code 10 times, I can't see a reason. Maybe we should just shuffle thing around in that block... It might work...

[2017-07-12 20:06] dougmoscrop commented on #14171
Snapshots were disabled in the past and then re-enabled, based on [this comment/thread](https://github.com/nodejs/node/issues/1631#issuecomment-100101375). Purely out of curiosity - was the issue that the comment was incorrect? Or is it because SetEntropySource i[sn't always called](https://github.com/nodejs/node/blob/97a6aa9b202df41537c7c4fca1d3332be9046f1c/src/node.cc#L4649)?

[2017-07-12 20:32] hashseed commented on #14171
Aha! That's why it was re-enabled!

That's simply a mistake. The random seed that @jeisinger was talking about is the PRNG state. That state is not shared between contexts and also re-initialized for every new context, regardless of whether it is created from scratch or deserialized from snapshot.

We are talking about a global hash seed as basis to compute string hashes though!

[2017-07-12 20:51] paulbrie opened #14205 "undefined port should trigger a RangeError when launching a server"
* **Version**: `7.9.0`
* **Platform**: `Darwin MacBook-Air-de-paul-7.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64`
* **Subsystem**: ?

Hi guys,

On my version/platform it is possible to launch a server with an undefined port. This is misleading given that there's no error message and you believe the server is working but in fa

[2017-07-12 21:05] evanlucas commented on #14205
if you change that one liner to `node -pe 'var s = require("http").createServer(function(){}).listen(undefined, function(){}); s.address()'` you'll see that `undefined` will be converted to 0, which will allow the OS to assign a random port.

[2017-07-12 21:09] paulbrie commented on #14205
Hi Evan,

my initial code was:

    // start the server
    console.log('process.env.PORT', process.env.PORT)

    app.listen(process.env.PORT, function () {
        console.log(`Server is running on port ${port}`)
    })

In that context `process.env.PORT` was undefined and node was not complaining.

[2017-07-12 21:18] refack opened #14206 "test: cctest MultipleEnvironmentsPerIsolate & AtExitWithArgument are flaky (no-snapshot)"
* **Version**: `master`
* **Platform**: multiple
* **Subsystem**: test,V8

Moving https://github.com/nodejs/build/issues/789 to core
The test has intermitently failed on:
* ppcbe-ubuntu1404
* armv7-wheezy
* centos5-64
* docker_alpine34-64

https://ci.nodejs.org/job/node-test-commit-plinux/10137/nodes=ppcbe-ubuntu1404/console
https://ci.nodejs.org/job/node-test-commit-plinux/10138/nodes=ppcbe-ubunt

[2017-07-12 21:22] addaleax commented on #14206
Quoting https://github.com/nodejs/node/pull/13861#issuecomment-310307677:

I think all we need is somebody who has the time to dig into the valgrind logs to figure this out.

[2017-07-12 21:22] evanlucas commented on #14205
yes, it doesn't complain because when a port is undefined, we treat it like it's `0` and the OS will choose the port. So it listens, it just listens on a random port. To get the port, you can access `server.address().port`

[2017-07-12 21:32] wesleytodd commented on #14205
This behavior has recently changed, maybe a few lines in that section of the docs would be good, because I just tried it with node 8.x and 6.x. In node 6 `null` and `0` work, `undefined` fails. In node 8, `null` fails and `0` and `undefined` work.

[2017-07-12 21:34] AndreasMadsen commented on #13020
@refack We could start out by extracting the offending test to a separate file. Generally speaking, I actually don't like having this many logically separate tests in one file, it makes it hard to debug.

[2017-07-12 21:35] refack commented on #13020
I'll get to it after my nap 😪

[2017-07-12 21:44] aschrijver commented on #7593
I just referred to this issue from stackoverflow after spending more than a day on debugging! FYI: https://stackoverflow.com/questions/45056952/debugging-jest-unit-tests-with-breakpoints-in-vs-code-with-react-native

[2017-07-12 21:52] mhdawson commented on #14138
@refack thanks will take a look sarting with the doc.

[2017-07-12 21:55] mhdawson commented on #14176
I'm +1 to leaving as it is.

[2017-07-12 22:11] mhdawson commented on #14190
This is a good idea from my perspective and the automation would also help as we expand docker support to other platforms.

[2017-07-12 22:32] sam-github commented on #14205
This is a regression, IMO.

- 4.x: null === undefined === 0
- 6.x: null === 0; undefined errors
- 7.x/8.x: null errors; undefined === 0

6.x and 8.x doing the opposite of each other doesn't look intentional, both should behave like 4.x.

[code]

[2017-07-12 22:37] evanlucas commented on #14205
@sam-github I agree. I didn't realize this behavior had changed

[2017-07-12 22:37] PeterDaveHello commented on #14190
Or maybe we could just directly maintain those images using our own organization so the process would definitely be shorter and faster, the only concern may be side effect on the migration from the old docker official ones to our new ones.

[2017-07-12 22:38] PeterDaveHello commented on #10629
hmmmm... still no any response?

[2017-07-12 22:52] BridgeAR commented on #10629
@PeterDaveHello you might want to open a issue in the [build repo](https://github.com/nodejs/build/issues).

[2017-07-12 23:31] aschrijver commented on #7593
Are there any debuggers besides Chrome and VS Code that I can use to debug using V8 or should I downgrade and bide my time?

[2017-07-12 23:56] jbergstroem commented on #10629
But why? We already have xz for the space aware. Also, you omit memory requirements. Seeing how we bake releases on everything from rpi to multi-core we have limited resources.

[2017-07-12 23:59] trevnorris opened #14209 "tracking issue: passing custom async_id's to node::AsyncWrap::AsyncWrap"
Tracking issue for difficulties using the API in https://github.com/nodejs/node/pull/14208.

Here's a bullet list of issues, and walk through to explain the logic behind each conclusion:

**Timers**
The exposed APIs of `active()`/`enroll()`/`unenroll()` creates the following issues:
1. Arbitrary objects can be passed to all three of those. Meaning constructors that have already had an `async_id` a

[2017-07-13 00:06] refack commented on #13020
Well I napped on it, and I'm now thinking there's probably a non-async-hooks bug somewhere in there, so I'll _copy_ the flaky block to a new file, as I don't want to make this disappear without a solution. Maybe do a lite pummel in the new test (loop a 1000 times or something)

[2017-07-13 00:28] MylesBorins opened #14210 "We need to better document module_versions"
It would appear that we shipped the 7.x line with Module version 51, which is supposed to be for [V8 5.4](https://github.com/nodejs/node/commit/b5bdff876ba62ed58664eb011a863d0960f4089b#diff-06414025f6b55f734c0e725a282a1ef2)

We shipped 7.x with V8 5.5, which [should have module version 52](https://github.com/nodejs/node/commit/91ab09fe2a5739e8e6b4133ffa23d8c5afff37d9#diff-06414025f6b55f734c0e725a2

[2017-07-13 00:37] MylesBorins commented on #14210
BAH false alarm... we updated to 5.5 during 7.x lifetime, and made it ABI compatible

MY BAD

61870b429a

We upgrade from 5.4 -> 5.5 and kept ABI stable.

This is a great example of why, for historical purposes, we need to create a wiki to document this. Any volunteers?

[2017-07-13 00:48] dougmoscrop commented on #14171
That comment suggested to me - and I guess others involved in re-enabling snapshots the first time around - that the context uses said PRNG state to obtain a fresh hash seed on startup and on new contexts. I won't pretend to understand v8, but peeking around the deserializer/heap source there I saw references to "if the hash seed changed".

I also found [this blog post from January](http://darksi.

[2017-07-13 01:40] chorrell commented on #14190
Yeah, we could, but it wouldn't be an official Docker image and the migration path would be awkward.

Having our own org and images is an interesting idea though. We could do that anyway as an alternative to the official images, kind of like a clean slate after all we've learned maintaining the current images. That might be worth a separate discussion as a docker-node issue.

[2017-07-13 01:54] netcore-jroger opened #14213 "child_process.spawnSync() not return anything."
* **Version**: 6.11.0 or 6.11.1
* **Platform**: Win10 Pro latest stable
* **Subsystem**:

**In my company's computer：**
`let result = childProcess.spawnSync('D:/Program Files/nodejs/node.exe', ['--version']);` work very well, can get return value.
 but `let result = childProcess.spawnSync('node', ['--version']);` not work and the code behind it will not execute.

**I use myself computer：**
`let re

[2017-07-13 02:28] refack opened #14214 "discuss: refactor the test harness"
Post snapshotocalipse it seems like the runtime of the test suite has grown by 100%-300%.
Till now the paradigm was self contained tests that only use `common` for test related utilities. Changing that might called for, or at least enabling some other, more performant approach, in parallel. Just one example of a test that run on `armv7-wheezy` (arbitrary but representative)
#### With snapshot (htt

[2017-07-13 02:28] refack commented on #14214
/cc @nodejs/testing

[2017-07-13 02:41] cjihrig commented on #14213
This seems like it's likely an issue with your environment and/or application code. Can you move this question to https://github.com/nodejs/help. I'm going to close this, but if it turns out to be an actual issue with Node core, we can reopen.

[2017-07-13 02:41] #14213 closed

[2017-07-13 02:52] gibfahn commented on #14182
cc/ @nodejs/build , can anyone confirm that my suggestion is correct?

[2017-07-13 03:01] netcore-jroger commented on #14213
OK

[2017-07-13 03:01] cjihrig commented on #14214
I'm definitely -1 to removing any tests unless it can be shown that the exact same scenario is already tested.

Using the number of times a line is executed probably isn't a great metric either. For example, a complex conditional could be executed many times without being properly tested, even if both paths through the conditional are executed at least once.

[2017-07-13 03:04] XadillaX commented on #14193
@sam-github I agree to remove it in the next major and document it now for deprecated.

[2017-07-13 03:46] gibfahn commented on #11536
@bnoordhuis sure, but this is failing for us on v6.x (and v4.x, but there's not much we can do about it at this point).

[2017-07-13 03:50] gibfahn commented on #6450
Sorry, two different uses of `we`. Inside IBM on our CI we're seeing this every run, on a variety of machines. I have no idea what the reason for it is.

[2017-07-13 05:11] targos commented on #14214
Could we build with snapshot enabled to test on slow systems?

[2017-07-13 05:20] jaysylvester opened #14215 "querystring.parse() not handling trailing spaces (+) in parameters correctly"
* **Version**: v8.1.4
* **Platform**: Linux 3.16.0-4-amd64 #1 SMP Debian 3.16.43-2 (2017-04-30) x86_64 GNU/Linux
* **Subsystem**: querystring

I'm seeing an issue with `querystring.parse()` in v8.4.1 that I don't have with v6.11.1. When I parse `application/x-www-form-urlencoded` form data, inputs containing returns and line feeds with a trailing space on the last line aren't parsing correctly.

L

[2017-07-13 05:27] hashseed commented on #14171
Yes. The hash seed can be guessed using timing attacks.
Yes. The hash seed is baked into the snapshot. Changing it after deserialization is not trivial because existing hashes will become invalid.

If I had to guess, I would say the seeds obtained by Fedor's tool doesn't have to be the correct one. The same set of inputs may be able to cause hash collision for a whole class of hash seeds.

[2017-07-13 05:41] starkwang opened #14216 "discuss: move error codes in internal/errors into separate module"
The error codes in [internal/errors](https://github.com/nodejs/node/blob/master/lib/internal/errors.js#L110) are some string constants. When throw an error, we directly use these string like:

[code]
Using a plain string has many problems: No auto complete, Easy for typo, Difficult to change the error code......

I think we should migrate these string constants to a new file (e.g. `internal/error_

[2017-07-13 05:42] TimothyGu commented on #14215
Duplicate of #13773. The bug has already been fixed in master, and the next v8.x release will have it fixed also.

[2017-07-13 05:42] #14215 closed

[2017-07-13 05:43] gibfahn commented on #14210
So this is mainly useful for native module authors right? Is there some existing documentation we could add a table to?

[2017-07-13 05:48] gibfahn commented on #13827
@vishwasrao looks like @starkwang already raised a Pull Request for this (https://github.com/nodejs/node/pull/13866).

I'll take off the `good first contribution` label

[2017-07-13 06:53] jaysylvester commented on #14215
Sorry, searched but didn't find that issue. Thanks for the update.

[2017-07-13 07:02] mcollina commented on #14214
I'm -1 on changing the test harness in a rush. It's not a good idea, as I have good faith we can resolve the snapshot problem. Refactoring the test harness would cause massive issues in backporting etc.

I am +1 in enabling the snaphots on CI.

[2017-07-13 07:50] bnoordhuis commented on #11536
Oh, right.  Then PR'ing against v6 is a good idea.

[2017-07-13 08:20] AndreasMadsen commented on #14209
/cc @Fishrock123

[2017-07-13 08:22] bnoordhuis commented on #14200
You know of `res.writeHead(200, [['Set-Cookie', 'one'], ['Set-Cookie', 'two']])`?  If yes, why doesn't that work for you?  If no - well, now you do. :-)

[2017-07-13 08:39] XadillaX commented on #14193
I will do the moving work.

[2017-07-13 08:56] PeterDaveHello commented on #10629
We still have gz release which means it's still important, isn't it?

[2017-07-13 09:06] bnoordhuis commented on #14193
I'd do the following:

1. Don't document it.
2. Move it to lib/internal and leave a stub function in lib/tls.js that prints a deprecation warning.
3. In the next major or the one after that, remove the stub.

[2017-07-13 09:41] OndroNR commented on #498
As workaround, I used undocumented function `findalldevs()` in [pcap](https://github.com/node-pcap/node_pcap) npm package (uses binary libpcap library, which must be present on system). I am using live packet capture from `pcap` module anyway. As time of writing, npm version did not compile on my system, but git master did.

In this example, at least interface `en4` is unplugged.

[code]

[2017-07-13 11:06] refack commented on #14214
Ack on no rush. IMHO this should be as a mid-term goal....

---

There are our current numbers:

![image](https://user-images.githubusercontent.com/96947/28163367-d26fc0be-6798-11e7-97b8-532bb02e3f5e.png)
https://ci.nodejs.org/job/node-test-commit/11091/

---

These are the number with snapshot:
![image](https://user-images.githubusercontent.com/96947/28163449-2f133a8a-6799-11e7-81b6-f253f98962c8.

[2017-07-13 11:08] refack commented on #14214
Good point.
(I was discounting external dependencies and state)

[2017-07-13 11:13] XadillaX commented on #14193
@bnoordhuis I've created another PR #14218 to move the function to internal.

[2017-07-13 11:35] XadillaX commented on #14216
I agree with this.

[2017-07-13 12:06] refack commented on #14171
It might be more in `node`'s realm, but maybe have the binary create it's own snapshot on first run and cache it (similar to (2) but doesn't depend on installer, and will not change hash of binary).
This will break the leave-no-trace paradigm `node` has been working under, but "desperate times" etc.

[2017-07-13 13:44] TimothyGu commented on #13503
I'm working on getting rid of Externals in inspector, should be able to put up a PR by tomorrow.

[2017-07-13 14:25] Trott commented on #13020
On CI, with this recent recurrence (perhaps since disabling snapshots?), we're (so far) only seeing it on SmartOS, right?

/cc @nodejs/platform-smartos

[2017-07-13 14:28] jbergstroem commented on #10629
Not sure how to interpret your answer. If users are "byte savings aware" they won't use it; so why go through the complexity and potential resource issues to save a few percent on the gz files? Run the same tests on a raspberry pi and lets review the results. How long does it take? How much memory does it use?

[2017-07-13 14:52] natorion opened #14220 "Making V8 6.1 ABI compatible with V8 6.0"
There is currently work under way to pull in V8 6.0 into Node 8 (#14004). In order to reduce the number of cherry-picks to Node 8 there might be the option to later on adopt V8 6.1 (to be cut next week). This means V8 6.1 needs to be ABI compatible with V8 6.0.

The V8 team is currently analyzing the information ([tracking issue](https://bugs.chromium.org/p/v8/issues/detail?id=6592)) and there are

[2017-07-13 14:52] hashseed commented on #14171
I'm shooting for solution 1 that @ofrobots described above. That will add a slight overhead after deserialization, but it should be negligible.

[2017-07-13 14:55] Trott commented on #14206
Still happening, of course: https://ci.nodejs.org/job/node-test-commit-plinux/10186/nodes=ppcbe-ubuntu1404/console

Is anyone on this? Anyone especially sensible to loop in on it?

[2017-07-13 15:07] refack commented on #14206
I'll try on Windows, but !@#$@%#$%^ MMMV (it might not even be a problem here 🤷‍♂️ )

[2017-07-13 15:09] refack commented on #14206
We can try to call @indutny to the flag (it's [partly his fault](http://darksi.de/f.v8-hash-seed-timing-attack/), JK nothing but &nbsp;  ❤️ )

[2017-07-13 15:16] protosam commented on #14200
I do not believe you understand how that works. That's incorrect usage in the current stable release.

Code example:
[code]

Result example:
[code]

The entire way headers are handled in the HTTP library is just bad when you need flexibility. Also, writeHead pushes headers out. That defeats the purpose of buffering them in memory until the first http.response.write() is sent. Like, you want to be

[2017-07-13 15:18] refack commented on #13020
Nope. macOS fail is post snapshotpocalypse https://ci.nodejs.org/job/node-test-commit-osx/11049/nodes=osx1010/

[2017-07-13 15:41] refack opened #14222 "CI: test with `--with-snapshot` on the slower platforms"
* **Version**: 8.1.4
* **Platform**: *
* **Subsystem**: test,CI

Ref: https://github.com/nodejs/node/issues/14214#issuecomment-314972574
Should we run the CI tests configured `--with-snapshot` for the slower (Δt > 50%) platforms? Just so we get back to reasonable time frames? (`node-test-commit-arm` up to ~1h38m from ~29m)

/cc @nodejs/testing @nodejs/release @nodejs/build

[2017-07-13 15:43] evanlucas commented on #14222
I don't think that it is a good idea to run the tests with snapshots, but release builds without snapshots.

[2017-07-13 15:45] cjihrig commented on #14222
I agree with @evanlucas. And, as painful as the CI may currently be, I think we should try to work through the snapshot issue before taking any drastic (maybe too strong of a word) measures.

[2017-07-13 15:49] mhdawson commented on #14206
Created this issue to request access to the BE machine were it recreates most easily: https://github.com/nodejs/build/issues/795

He's tried to reproduce locally with no luck.

[2017-07-13 15:51] bzoz commented on #12737
I've opened a PR to fix this in libuv: https://github.com/libuv/libuv/pull/1419

[2017-07-13 15:54] #13344 closed

[2017-07-13 15:55] evanlucas commented on #14200
That is working for me on 8.1.4

[code]

[code]

What version are you on?

[2017-07-13 16:00] MylesBorins commented on #14220
/cc @nodejs/ctc @nodejs/v8 @nodejs/n-api

[2017-07-13 16:01] refack commented on #14222
Random sample Δt numbers:
https://github.com/nodejs/node/issues/14214#issuecomment-315046908
without - https://ci.nodejs.org/job/node-test-commit/11091/
with - https://ci.nodejs.org/job/node-test-commit/11045/

platform | with<sub>(minutes)</sub> | without<sub>(minutes)</sub> | Δt | good enough
-------- | ---- | ------- | -- | ----
node-test-commit-aix | 38 | 42 | 10% | ✔️
node-test-commit-arm | 2

[2017-07-13 16:03] refack commented on #14222
Compromise: a check box in the submit job form?

[2017-07-13 16:05] mcollina commented on #14220
I'm definitely +1 with this change, 6.1 fixes a lot of the issues I have seen with turbofan.

[2017-07-13 16:13] mhdawson commented on #14158
I've had it on our internal backlog to push this forward, we've just not gotten started on it yet.  My starting goals are:

1) define set of tests to validate shared library works
2) add tests to ci, ideally in the regression runs
3) look at how we can better package/delivery, ideally as part of the binaries we already ship.  Challenge on this front is not increasing the package size so we may nee

[2017-07-13 16:14] mhdawson commented on #14158
And I'm firmly on the side that we need to improve not remove.  It is used by electron and we also have internal products that need it.

[2017-07-13 16:16] mhdawson commented on #14158
The person(s) on our team who worked on this in the past have moved on to a different project.  My next step is to schedule some handover with them but then it will still be a matter on finding time to move it forward.

[2017-07-13 16:18] refack commented on #14158
https://github.com/nodejs/node/pull/13078 tried to get `cctest` to link against the shared lib. Could ideally become said launcher so we can run the JS suite against it.

[2017-07-13 16:19] refack commented on #14158
Alternatively create something like `d8` that will both serve as a test harness and an embedding example.

[2017-07-13 16:30] PeterDaveHello commented on #10629
IMO, it's not about if the users care about the byte saving or not, `gz` support is so widely that `xz` can't be, I believe that we didn't drop it because it's still a very important compression format, and I think we can distribute a smaller images which can save our and users' disk space, bandwidth.

I'm not sure how would the memory consumption test should be here, for the time consuming, maybe

[2017-07-13 16:56] bmeurer commented on #14220
Definitely +1, since 6.0 and 5.9 still have a lot of rough edges that we addressed with 6.1 now.

[2017-07-13 17:33] misterdjules commented on #13020
@refack @Trott I can reproduce on SmartOS, will look into this. I would be surprised if I could make any significant progress on this before Monday though, is that ok?

[2017-07-13 17:38] jBarz commented on #14206
I can reproduce on build machine. However, it is intermittent (about once in 5 tries)

[2017-07-13 18:36] evanlucas commented on #14220
+1 from me

[2017-07-13 19:03] sam-github commented on #14115
The ninja builds fail for **linux** with FIPS, they need to define `ld = ...fipsld...` in `build.ninja` (easy, see below), but they also need to define `ldxx = ... the same thing`. How do I convince gyp to do this?

[code]

I tested by manually hacking up  the build.ninja to do `ldxx = $ld` and I can do fips builds.

[2017-07-13 19:14] #13933 closed

[2017-07-13 19:53] mhdawson commented on #14222
I'm in agreement that we need to test in the same way that we ship.

[2017-07-13 20:05] protosam commented on #14200
Interesting, I had v8.1.2 and it does not work in that version. I like doing writeHead() over directly using http.response.write(), but it still isn't quite appropriate for what the HTTP module aims to do when it comes to handling headers. http.response.writeHead() immediately sends the headers out.

Just poured over this git repo looking for how to contribute code. I'd be glad to just implement s

[2017-07-13 20:18] arboreal84 opened #14225 "Documentation with breaking changes between version 6 to version 8"
* **Version**: 8.0.0
* **Platform**: All
* **Subsystem**: documentation

As a user of node I would like to see a document detailing breaking changes between node 6 and node 8, or, node 7 to node 8, such as [this one](https://github.com/nodejs/node/wiki/Breaking-changes-between-v6-and-v7) (just for different versions).

[2017-07-13 20:21] masaeedu commented on #9413
@bnoordhuis Is there a way to create a process with a predefined `WritableStream` for `stdout`? I mean the API itself seemed racy when I started using it, because I don't want to start a process and *then* hook up something to receive stdout, but I can't understand how to provide a `stdout` receiver before starting the process with the existing streams API.

[2017-07-13 20:23] arboreal84 commented on #8747
As a follow up to this issue: now the `url` module provides a class that implements the WHATWG standard.

[2017-07-13 20:23] cjihrig commented on #14225
I think @Fishrock123 has handled these in the past. This seems like something for @nodejs/documentation

[2017-07-13 20:35] lance opened #14226 "REPLServer.createContext() has unexpected side effects"
* **Version**: 8.1.4
* **Platform**: Darwin Callisto 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64
* **Subsystem**: repl

Calling the undocumented `REPLServer.createContext()` has unexpected side effects. When the method is called, the value for the server instance's `underscoreAssigned` and `lines` properties reset. Here is a reprod

[2017-07-13 20:37] bnoordhuis commented on #14200
New APIs aren't added lightly.  You are the first to bring this up so it can't be very pressing or common, and if the only use case is to work around broken clients, it's unlikely to get accepted.

The http library didn't change between 8.1.2 and 8.1.4.  I tested it locally and both versions produce the same output.  It's almost certainly something on your end.

[2017-07-13 20:41] lance commented on #7619
@jasnell I've submitted a PR for `parseREPLKeyword()`. I will add documentation for `createContext()` and `resetContext()`, but I think maybe https://github.com/nodejs/node/issues/14226 should be fixed first, since I don't want to document buggy behavior.

With regard to `memory()`, I can't even figure out how I would document this or why a user would want to call it. I am open to suggestion, but

[2017-07-13 20:56] bnoordhuis commented on #14115
Doesn't LINK work?  I thought it let you override the C++ linker (on Linux, not on Windows.)

Does this patch make a difference?
[code]

[2017-07-13 21:11] #14119 closed

[2017-07-13 21:25] refack commented on #13020
@misterdjules of course. Even Amazing. This issue has been there for a 2 months with relatively low frequency of failures. And we're stumped.

[2017-07-13 21:30] protosam commented on #14200
RFC 2616 4.2 sums up the gist of flexibility necessary for anything that should be handling headers for HTTP. I've read tons of comments in other issues that are in the same realm that mention that headers "should" also work as comma-separated values, but that's just not the case. While yes, there is an RFC out there indicating combining headers into comma separated values should work, and we can

[2017-07-13 21:33] aaronbartell commented on #12609
@ThePrez

I have confirmed it doesn't work on IBM i v7.3

[code]
**Content of `futimes.js`**
[code]

Thoughts?

[2017-07-13 21:40] refack commented on #14222
I want to make an argument for leniency.
1. We already make some trade offs in our test suite (skipping `/pummel/` and `/internet/`).
2. At some point we'll want to restore the snapshot and we don't want that to rot.
3. Building with `--with-snapshot` is still a valid use case for those who build from source.

tl;dr adding a checkbox (enable / disable snapshot) in the job submission form might be

[2017-07-13 21:42] andersk commented on #7367
How does that follow? `exec` on Windows is implemented in terms of `spawn(…, { windowsVerbatimArguments: true })`, but shouldn’t `spawn` without `windowsVerbatimArguments` quote and escape the command and arguments?

Currently there’s no way to make a command like `childProcess.spawn('npm', ['install', 'eslint@>=4.1.1'])` work in a cross-platform way. It works on Unix, but as written it fails with

[2017-07-13 21:55] dougwilson commented on #14200
I know there is some discussion about `writeHead`, but just stopping by I wondered if you knew about `res.setHeader(name, array)` (docs: https://nodejs.org/dist/latest-v8.x/docs/api/http.html#http_response_setheader_name_value). In the documentation there is the following example:

[code]

And indeed, that does set two separate headers for me:
[code]

Does that API not work or should something be

[2017-07-13 22:03] mscdex commented on #14225
Although there shouldn't be anymore breaking changes on the node side of things from now until v8.x goes LTS in October, I am not sure if we should wait until we see what version of V8 lands in the first LTS release. While node core will be ABI compatible with the various V8 versions (5.9, 6.0, and possibly 6.1 now), I'm not sure if we traditionally document any *V8* changes that may break userlan

[2017-07-13 22:28] bnoordhuis commented on #14200
I'll be interested to know if that holds up to OP's exacting standards.  I hope it does.  Wouldn't want to miss out on that engineer level interest, you know.

For the sake of posterity, it's probably good to point out that .setHeader() merges Cookie header values (but not other headers) whereas .writeHead() emits two separate Cookie headers.

Cookie headers look like `Cookie: a=1; b=2` though, it

[2017-07-13 22:58] mhdawson commented on #14206
I wondering if we should exclude this test until we can figure out what is going on. It seems to happen quire regularly for PPC and alpine.

[2017-07-13 23:00] misterdjules commented on #13020
From a quick look, it seems to me that there is a race between the client and the server.

In the test's current form, the [server is closed by the _client_](https://github.com/nodejs/node/blob/ecf6a46d98a5d73fb9f98f10a634c786b60aea09/test/parallel/test-async-wrap-getasyncid.js#L179), because I would think the test currently assumes that if the client successfully wrote data on the client connecti

[2017-07-13 23:02] evanlucas commented on #14210
Doesn't this already exists at https://nodejs.org/en/download/releases/ as well as http://nodejs.org/dist/index.json and http://nodejs.org/dist/index.tab?

[2017-07-13 23:43] jkrems opened #14228 "SEGFAULT in node 4.8.4 on linux"
* **Version**: v4.8.4
* **Platform**: `Linux <hostname> 2.6.32-504.el6.x86_64 #1 SMP Wed Oct 15 04:27:16 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux`

*Opening this early but so far I have neither a good reproduction nor any hint of the root cause.*

After trying to roll out node v4.8.4 on some of our hosts, we are seeing occasional process crashes:

[code]

This happened using the official binary dis

[2017-07-13 23:47] protosam commented on #14200
lol sorry if I came off offensively there, @bnoordhuis, I'm just a CS guy and I'm not claiming god-like-skills or even good-skills. I'm only barking up the RFC improvement tree. Node is not a mature platform to work with yet and I wouldn't call it stable yet, though I do like the idea of CommonJS and I like the idea of only having to deal with knowing 1 programming language for a web based environ

[2017-07-13 23:47] #14200 closed

[2017-07-13 23:50] jkrems commented on #14228
I'm also trying to get a core dump to a bit dig deeper.

[2017-07-14 00:14] yhwang commented on #14190
@PeterDaveHello Currently, different architecture images are categorized into different organizations in docker hub, i.e. ppc64le arch goes to [ppc64le](https://hub.docker.com/u/ppc64le/), s390x arch goes to [s390x](https://hub.docker.com/u/s390x/). It's kind of convention for now. If we want to put all images under one organization, I don't know if it's proper or not but definitely is different f

[2017-07-14 00:32] syrnick commented on #10843
Note on promises. Native v8 promises don't respect domains - the callbacks aren't called in the same domain. Polyfills work fine, because they are just library level constructs. Hence, domains mostly work with transpiled async/await and with most libraries that use promises if the global Promise is the polyfill, not the native Promise.

It's obviously a confusing state and using domains has all so

[2017-07-14 01:14] misterdjules commented on #10843
@syrnick

Does https://github.com/nodejs/node/pull/12489 solve this problem for your use case? (note: it's only available in node 8.x).

[2017-07-14 01:22] jBarz commented on #14206
Continuing to investigate. So far I have found it to hang on the following place in api.cc from v8 when initializing the isolate.

[code]

[2017-07-14 02:49] refack commented on #14206
If we have a way to make sure it doesn't get neglected, I'm +1

[2017-07-14 05:38] syrnick commented on #10843
nice! I'll test that out on 8.x.

[2017-07-14 07:10] bnoordhuis commented on #14228
Can you try this?
[code]

[2017-07-14 08:30] zhaihm commented on #4289
Hi @cjihrig ,

I'm facing this issue now with node v6.10.3.

I'm trying to open Internet Explorer using "child_process" on 64 bit Windows 7 machine.
There are two Internet Explorer programs on 64 bit Windows 7, one 32 bit version under "C:\Program Files (x86)\Internet Explorer", and one 64 bit version under "C:\Program Files\Internet Explorer".

When open IE, there will be two processes started, o

[2017-07-14 10:22] vsemozhetbyt commented on #14220
Refs: http://benediktmeurer.de/2017/07/14/faster-collection-iterators/

[2017-07-14 10:30] motet-a commented on #4500
I encountered the same issue in a Travis container, with the old Ubuntu Precise image. Switching to [Ubuntu Trusty](https://docs.travis-ci.com/user/trusty-ci-environment/) solved it.

[2017-07-14 10:39] addaleax commented on #14220
One other thing that [came up](https://github.com/nodejs/node/pull/13217#issuecomment-304330261) for the V8 5.8 → V8 6.0 compat was the increased requirements for ArrayBuffer Allocators for wasm. Right now the feature that uses them is behind a flag but apparently was supposed to be enabled in V8 6.1.

Maybe we should just keep that feature disabled in Node 8, that would also help with the `(Share

[2017-07-14 13:31] cjihrig commented on #4289
`exec()` probably won't give you the correct pid, but `spawn()` should. What does the returned pid belong to? Is there any chance that the 32 bit version contains some sort of wrapper?

cc: @refack

[2017-07-14 13:41] resure opened #14229 "Slow creation of vm contexts in Node 8"
* **Version**: `v8.1.4`
* **Platform**: `Linux stbx-frontend-dev 3.13.0-35-generic #62-Ubuntu SMP Fri Aug 15 01:58:42 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux`
* **Subsystem**: VM

It looks like process of creating new contexts got much slower in recent nodejs release.

Consider following example:

[code]

Here we're creating new context for each run and executing empty code string.

Output for nod

[2017-07-14 13:47] bnoordhuis commented on #14229
Thanks for the bug report but this is a known issue that is currently under discussion in #14171.  It's caused by the disabling of snapshots in the recent security release.

[2017-07-14 13:59] jkrems commented on #14228
[code]

I've also got a couple of core dumps now that were collected over night:

[code]

[2017-07-14 15:16] cjihrig commented on #13928
@chris--young are you still working on this? It looks like you worked on a commit.

[2017-07-14 15:16] cjihrig commented on #13926
@shivanth are you still working on this?

[2017-07-14 15:34] coreybutler commented on #4603
Late to the party, but just for clarification purposes, the nvm-windows installer actually works pretty much how @felixfbecker described. The initial installation adds a symlink to the `PATH`, which is forevermore trusted as "the installation root". It downloads both node and npm, extracting them to their own isolated directory. Switching is accomplished by changing the symlink to use whichever ve

[2017-07-14 15:51] shivanth commented on #13926
Yup

[2017-07-14 15:51] shivanth commented on #13926
I might be able to submit a PR this weekend

[2017-07-14 15:59] refack commented on #4289
First can I say yuch...
So this is what happens:
[code]
Info provided via [`procmon`](https://technet.microsoft.com/en-us/sysinternals/processmonitor.aspx)

 Time | PID | Name | Operation | Path | User | Image | Command line
 ---- | - | - | - | - | - | - | -
11:53:56.9635471 | 10384 | node.exe | Process Create | C:\Program Files (x86)\Internet Explorer\iexplore.exe | REFAELUX\refael | C:\bin\dev\n

[2017-07-14 16:01] sam-github commented on #14205
@cjihrig I'm working on fix for 6.x, FYI /cc @nodejs/lts

[2017-07-14 16:03] Trott commented on #11768
FreeBSD too:

https://ci.nodejs.org/job/node-test-commit-freebsd/10317/nodes=freebsd10-64/console

[code]

[2017-07-14 16:04] Trott commented on #13498
Failing on Windows too:

https://ci.nodejs.org/job/node-test-binary-windows/9816/RUN_SUBSET=0,VS_VERSION=vcbt2015,label=win10/console

[code]

[2017-07-14 16:06] refack commented on #4289
@zhaihm I'm not sure there's much we can do here...

[2017-07-14 16:28] gibfahn commented on #14225
Yeah, previous discussion was to do this when Node 8 goes LTS. I can't remember which issue it was though.

[2017-07-14 17:30] misterdjules commented on #13020
`parallel/test-async-wrap-getasyncid` has been running with the change mentionned above successfully for > 12 hours without any failure on the same SmartOS VM on which I was able to consistently reproduce the problem < 1 hour. I'll submit a PR asap, which might be no sooner than Monday (today is a day off for me).

[2017-07-14 18:05] pps83 opened #14233 "Measure time it took to deliver http.ServerResponse to the client"
I serve large files (10MB+) using nodejs and I would like me measure download speed for each request. However, I do not see anything that would do that for me. In my case I server dynamically generated content, essentially I send a large nodejs Buffer object. From ndoe's [http.ServerResponse docs](https://nodejs.org/api/http.html#http_event_finish) 'finish' is the last emitted event for a server r

[2017-07-14 19:04] mhdawson commented on #14206
Any objects to excluding the test ? If I don't see anybody and nobody beats me too it I'll look at a PR for excluding on Monday.

[2017-07-14 19:49] AndreasMadsen opened #14238 "Remove async_hooks setTrigger API"
* **Version**: master (016d81ceec2e0836eedd27c797c1aebd045a8479)
* **Platform**: all
* **Subsystem**: async_hooks

As I [mentioned](https://github.com/nodejs/node/pull/12953) a few months ago I'm not comfortable exposing the low-level async_hooks JS API. In the documentation PR https://github.com/nodejs/node/pull/12953 we agreed to keep the low-level JS API undocumented. Some time have now passed

[2017-07-14 20:12] talglobus commented on #6836
Has there been any progress on this?

[2017-07-14 20:39] mscdex commented on #14233
General help questions should be posted to the [nodejs/help issue tracker](https://github.com/nodejs/help/issues) instead.

[2017-07-14 20:40] spectral256 opened #14240 "Cannot install @angular/cli"
node version 8.1.4
platform: Windows 10 64-bit

There is no possibility to install angular cli using command "npm install -g @angular/cli"
After rollback to node 6.11.1 it works without any issue

Some log data:

11867 verbose stack FetchError: request to https://registry.npmjs.org/send/-/send-0.15.3.tgz failed, reason: read ECONNRESET
11867 verbose stack     at ClientRequest.req.on.err (C:\Progra

[2017-07-14 20:46] vsemozhetbyt commented on #14240
It seems this better be posted first to https://github.com/npm/npm

[2017-07-14 20:53] mscdex commented on #14240
Yes, this should be posted to npm's issue tracker instead.

[2017-07-14 20:53] #14240 closed

[2017-07-14 21:03] #13827 closed

[2017-07-14 21:07] #14169 closed

[2017-07-14 21:21] refack commented on #14238
👍
One question, why do you prefer to keep `setInitTriggerId` over `triggerIdScope`? Why not help future core devs make less mistakes (globals are not fun)

[2017-07-14 22:02] AndreasMadsen commented on #14238
Eventually I want to, but `setInitTriggerId` is currently used by node-core, `triggerIdScope` is not. If `setInitTriggerId` wasn't already used I would like to have removed it too.

How we can migrate away from `async_uid_fields[kInitTriggerId]` internally is a completly different issue.

[2017-07-14 22:18] refack commented on #14238
I keep forgetting that event handlers are synchronous.

[2017-07-14 22:29] refack commented on #14238
I just dug around in the code and saw that `triggerIdScope` did not make it into core anyway... So why not replace `internal/setInitTriggerId` with an `internal/triggerIdScopeSync(block, id)` as a short-term solution.

[2017-07-14 22:42] AndreasMadsen commented on #14238
Oh, yeah :)

If you like. The current use of `triggerIdScope` is so simple I doubt it causes any confusion. You should also be aware that in C++ there are quite a few calls to `set_init_trigger_id`. Personally I would rather use my time solving the big issue than temporarly fixing somthing to prevent a future issue that may never happen.

I don't really have an opinion on this. If we are going wit

[2017-07-14 22:55] refack opened #14241 "test: flaky `test-net-can-reset-timeout`"
* **Version**: `master`
* **Platform**: freeBSD
* **Subsystem**: test,net,stream

https://ci.nodejs.org/job/node-test-commit-freebsd/10321/nodes=freebsd10-64/
[code]

The test:
[code]

/cc @nodejs/testing @nodejs/platform-freebsd @nodejs/streams

P.S. to whomever tackles this, could you add a comment explaining what this is testing a la [doc/guides/writing-tests.md](https://github.com/nodejs/node/

[2017-07-14 23:17] #12941 closed

[2017-07-14 23:38] #14128 closed

[2017-07-15 02:14] Trott commented on #14206
We have Code + Learn in Shanghai in about 30 hours. Hard to say how things will or won't work (lots of variables at play here that we haven't dealt with before), but I would expect at least 25 and probably closer to 50 PRs to result from it. A green CI would be terribly useful. So I'm going to go ahead and remove the affected hosts from CI before Code + Learn if no one objects.

/cc @nodejs/build

[2017-07-15 02:34] Trott commented on #14216
Sounds good to me. /cc @jasnell

[2017-07-15 02:45] yyjdelete opened #14243 "Foreground Magenta is not shown well in powershell(windows)"
* **Version**:6.9.5, 8.1.4
* **Platform**:Windows 10 x64(16241 and some old versions)
* **Subsystem**:

Foreground Magenta is shown as blue(the default background) in power shell, so it make the output
totally unreadable.
Not sure if it's a bug of windows, since `powershell` is now the default console in windows instead of `cmd`, could someone make an fix for this or reported to Microsoft?

Run on

[2017-07-15 03:09] mscdex commented on #14243
For the npm issue, you should post about that on npm's issue tracker since they choose their own color scheme.

[2017-07-15 03:31] jasnell commented on #14216
Dropping them off `internals/errors` should be easily doable.

[2017-07-15 04:19] nikunjdnp commented on #12969
Your system information:

Cordova CLI: 7.0.1
Gulp version:  CLI version 3.9.1
Gulp local:
Ionic CLI Version: 2.0.0
Ionic App Lib Version: 2.0.0
OS: Windows 8.1
Node Version: v8.1.2

Uh oh! Looks like you're missing a module in your gulpfile:
Cannot find module 'gulp'

Do you need to run 'npm install'?

Any solution?

[2017-07-15 04:22] #13804 closed

[2017-07-15 04:23] nikunjdnp opened #14248 "Uh oh! Looks like you're missing a module in your gulpfile: Cannot find module 'gulp'"
Your system information:

Cordova CLI: 7.0.1
Gulp version:  CLI version 3.9.1
Gulp local:
Ionic CLI Version: 2.0.0
Ionic App Lib Version: 2.0.0
OS: Windows 8.1
Node Version: v8.1.2

Uh oh! Looks like you're missing a module in your gulpfile:
Cannot find module 'gulp'

Do you need to run `npm install`?

After so many times, I have used npm install command and still, I am facing this solution!!

Is

[2017-07-15 04:30] Trott commented on #9036
Anyone want to pick this up? If not, anyone willing to mentor someone willing to do it? If so, let's add the `mentor available` label.

[2017-07-15 04:31] Trott commented on #14248
Hi! This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like that, please file an issue on our help
repo. https://github.com/nodejs/help

Thanks!

[2017-07-15 04:31] #14248 closed

[2017-07-15 04:34] Trott commented on #6273
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 04:34] #6273 closed

[2017-07-15 04:35] Trott commented on #8966
@bnoordhuis @cjihrig Should this remain open? If so, should we add `help wanted` and maybe even `mentor available`?

[2017-07-15 04:36] Trott commented on #9136
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

This issue tracker is for bugs and issues found within Node.js core.
For more general support questions like that, please fil

[2017-07-15 04:36] #9136 closed

[2017-07-15 05:33] zhaihm commented on #4289
Oops.. I tried myself and found that is exactly the case.
Now we know the problem has nothing to do with node.

Thank you @cjihrig and @refack for the explanation.

[2017-07-15 06:02] Trott commented on #9039
Here's the current situation on my machine:

* 8.1.4: Result: test-join-str x 3,279,041 ops/sec ±6.35% (81 runs sampled)
* 6.7.0: Result: test-join-str x 3,484,331 ops/sec ±0.85% (85 runs sampled)
* 5.12.0: Result: test-join-str x 7,309,367 ops/sec ±1.21% (86 runs sampled)

[2017-07-15 06:05] Trott commented on #8987
Should this issue remain open?

[2017-07-15 06:12] Trott commented on #2084
Should this still be open? @nodejs/build @nodejs/platform-windows

If so, should we remove the `good first contribution` label and replace it with `help wanted`?

[2017-07-15 06:14] Trott commented on #9204
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 06:14] #9204 closed

[2017-07-15 06:15] Trott commented on #8846
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 06:15] #8846 closed

[2017-07-15 06:16] Trott commented on #8807
@nodejs/platform-windows

[2017-07-15 06:17] Trott commented on #9160
@bnoordhuis @evanlucas Should this remain open? If so, should we add a `help wanted` and maybe even a `mentor available` label?

[2017-07-15 06:19] Trott commented on #8810
@jasnell @ChALkeR @ljharb Should this remain open? If so, is there anyone we should be pinging? Any labels we might add to help the right people find it?

[2017-07-15 06:26] Trott commented on #7935
Should this remain open?

[2017-07-15 06:27] Trott commented on #9273
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 06:27] #9273 closed

[2017-07-15 06:28] Trott commented on #5691
Should this remain open?

[2017-07-15 06:28] ljharb commented on #8810
Yes, it should remain open.

The current blocker is finding a global name that's acceptable. Once browsers agree on that, the proposal will be updated, and I'll update my PR to node to add it.

[2017-07-15 06:28] Trott commented on #9269
Should this remain open?

[2017-07-15 06:30] Trott commented on #8810
I'll add the `blocked` label here in the meantime (even though this is a `discuss` issue, I think it still makes sense if conversation is unlikely to meaningfully happen until the name is resolved).

[2017-07-15 06:50] Trott commented on #8347
@bnoordhuis Should this remain open? I'm guessing it's likely that 6.x will reach EOL before anyone fixes this. Maybe I can put `help wanted` and/or `mentor available` on it?

[2017-07-15 06:51] Trott commented on #8342
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 06:52] Trott commented on #7853
@eugeneo Should this remain open?

[2017-07-15 06:53] Trott commented on #9206
@bnoordhuis Should this remain open?

[2017-07-15 06:56] Trott commented on #8725
I haven't seen this issue in a very long time. Probably #9506 mitigated it sufficiently that it doesn't happen anymore (or happens with such infrequency as to be indistinguishable from not happening anymore). Feel free to comment (or re-open) if you disagree, but I'm going to close this.

[2017-07-15 06:56] #8725 closed

[2017-07-15 06:56] Trott commented on #8798
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 06:56] #8798 closed

[2017-07-15 06:57] Trott commented on #9137
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 06:58] Trott commented on #7803
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 06:59] Trott commented on #8321
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 06:59] #8321 closed

[2017-07-15 07:00] Trott commented on #9621
Should this remain open?

[2017-07-15 07:00] Trott commented on #9633
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 07:00] #9633 closed

[2017-07-15 07:32] piranna commented on #7803
I'm still interested on this feature. In fact, at https://github.com/mafintosh/prebuild/issues/174 we were discussing about using `arm` as an alias the same way `x86` is an alias for `i686`, but we would need to know what aliased. Please reopen this for discussion.

[2017-07-15 07:35] Trott commented on #7803
Re-opened as requested.

[2017-07-15 07:36] Trott commented on #9519
@sam-github Should this stay open?

[2017-07-15 07:37] Trott commented on #9435
@eugeneo Should this remain open?

[2017-07-15 07:48] Trott commented on #1716
Implemented but it doesn't seem to actually do anything?

[code]

I would expect the groups to at least be indented.

[2017-07-15 07:49] Trott commented on #9530
I infer from the fact that #9440 landed that this can be closed. Please let me know if that's incorrect. Closing now. Thanks!

[2017-07-15 07:49] #9530 closed

[2017-07-15 07:50] Trott commented on #9705
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 07:50] #9705 closed

[2017-07-15 07:52] Trott commented on #9716
Any chance b71d67795a1366b2c9e77e4156e661df456d3660 fixed this?

[2017-07-15 07:53] Trott commented on #9740
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 07:53] #9740 closed

[2017-07-15 07:57] Trott commented on #9768
In Node.js 8.x, the output makes it more clear what's going on (specifically, that the contents of the file are wrapped in a function):

[code]

Still an issue in v6.x and v4.x, though.

[2017-07-15 07:59] Trott commented on #8443
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 08:00] Trott commented on #9758
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 08:00] #9758 closed

[2017-07-15 08:02] bnoordhuis commented on #12065
Closing this, #9137 was closed earlier today.

[2017-07-15 08:02] #12065 closed

[2017-07-15 08:02] Trott commented on #9821
Is anyone working on this? Would it make sense to add a `help wanted` label to try to attract a little more attention to it?

[2017-07-15 08:03] Trott commented on #9822
@nodejs/documentation

[2017-07-15 08:08] bnoordhuis commented on #9206
Just tried it again, it's still unfixed.  I've added 'good first contribution' and 'help wanted' labels.

[2017-07-15 08:12] piranna commented on #7803
Thank you.

[2017-07-15 08:17] Trott commented on #9797
@ChALkeR Leave this open? (I imagine show, but it's been inactive for long enough that I figure it's worth checking.)

[2017-07-15 08:19] Trott commented on #9818
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 08:19] #9818 closed

[2017-07-15 08:22] bnoordhuis commented on #8347
It's been a while but I remember tracking this deep inside V8 and concluding it wouldn't be an easy fix.  Happy to help anyone who wants to work on this but he or she should be prepared to invest considerable time.

[2017-07-15 08:25] Trott commented on #9538
These appear to have been fixed. Please comment (or re-open) if I am mistaken!

[2017-07-15 08:25] #9538 closed

[2017-07-15 08:27] Trott commented on #9855
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 08:27] #9855 closed

[2017-07-15 08:28] Trott commented on #7087
@canda I think that one is about the legacy debugger while this one is about inspector.

@nojvek @eugeneo Should this remain open?

[2017-07-15 08:31] Trott commented on #9853
@dcposch @Fishrock123 Should this remain open?

[2017-07-15 08:33] Trott commented on #6434
Should this remain open? If so, is it a documentation issue or more than that?

[2017-07-15 08:35] Trott commented on #4236
@nodejs/documentation

[2017-07-15 08:36] Trott commented on #8102
@nodejs/documentation @nodejs/testing

[2017-07-15 08:37] Trott commented on #8102
@nodejs/http

[2017-07-15 08:38] Trott commented on #9146
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 08:38] #9146 closed

[2017-07-15 08:41] Trott commented on #3208
This has been open for quite some time with the `good first contribution` label. Long enough that I think it might be best if someone experienced just goes ahead and does it. Any volunteers?

[2017-07-15 08:42] Trott commented on #7732
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 08:42] #7732 closed

[2017-07-15 08:43] Trott commented on #8792
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 08:43] #8792 closed

[2017-07-15 09:02] mika-fischer commented on #8966
We have a client server application with a C++/Qt UI and a NodeJS backend (running as a windows service). We've seen this bug only once but in that case it prevents our application (which needs only to listen on 127.0.0.1 and needs no DNS) from working.

So we would also be interested in a fix.

[2017-07-15 09:03] Trott commented on #9612
Should this remain open?

[2017-07-15 09:06] Trott commented on #10144
Fixed, or at least worked around, by 189b49a4d3bbca960c289e2d673648d909aff737. Closing. Comment or re-open if you think it should remain open.

[2017-07-15 09:06] #10144 closed

[2017-07-15 09:08] Trott commented on #9764
@gireeshpunathil Any additional information to report? (Should this remain open? Does it still affect current Node.js?)

[2017-07-15 09:08] Trott commented on #8554
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 09:08] #8554 closed

[2017-07-15 09:10] Trott commented on #10158
@sam-github Should this remain open?

[2017-07-15 09:10] Trott commented on #9496
Should this remain open?

[2017-07-15 09:11] Trott commented on #7657
Should this remain open?

[2017-07-15 09:12] Trott commented on #8752
This is still an issue in Node.js 8.x?

[2017-07-15 09:15] Trott commented on #9859
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 09:15] #9859 closed

[2017-07-15 09:21] Trott commented on #10295
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. In particular, my uninformed (and therefore possibly naive) impression is that @sam-github's questions should be answered for the conversation to move forward.

Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree with this being closed. I'm just tidying up and no

[2017-07-15 09:21] #10295 closed

[2017-07-15 09:22] Trott commented on #10214
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 09:22] #10214 closed

[2017-07-15 09:24] Trott commented on #10304
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

/cc @nodejs/build @nodejs/platform-arm in case anyone has anything they want to add.

[2017-07-15 09:24] #10304 closed

[2017-07-15 09:26] Trott commented on #5350
Should this be closed as a duplicate of #2734?

[2017-07-15 09:33] Trott commented on #9979
@joyeecheung Does this still hang for you?

If so, what is the output of `launchctl list | grep ReportCrash` and `sudo launchctl list | grep ReportCrash`?

[2017-07-15 09:35] Trott commented on #10336
Anybody want to try to PR this info into the guide?

[2017-07-15 09:36] Trott commented on #10335
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 09:36] #10335 closed

[2017-07-15 09:37] Trott commented on #10354
@nodejs/http

[2017-07-15 09:37] #10415 closed

[2017-07-15 09:40] Trott commented on #9521
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 09:40] #9521 closed

[2017-07-15 09:41] Trott commented on #10358
@nodejs/http

[2017-07-15 09:43] Trott commented on #10576
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 09:43] #10576 closed

[2017-07-15 09:44] Trott commented on #10220
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 09:44] #10220 closed

[2017-07-15 09:46] Trott commented on #4697
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

Maybe someone from @nodejs/platform-windows can confirm the bug and wants to work on this?

[2017-07-15 09:47] Trott commented on #7141
@vsemozhetbyt Should this remain open?

[2017-07-15 09:48] Trott commented on #10341
Is there any active work going on with this? Should it remain open? If not, maybe a `help wanted` label?

[2017-07-15 09:50] Trott commented on #556
Has there been movement on this or anything related to it lately? I think @refack might have been talking about something like this? Should this remain open? @nodejs/platform-windows I guess?

[2017-07-15 09:51] Trott commented on #9654
@nodejs/buffer

[2017-07-15 09:52] Trott commented on #9399
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 09:52] #9399 closed

[2017-07-15 10:02] vsemozhetbyt commented on #7141
I think not. The URL is shorter now and we have other ways to interact. Thank you.

[2017-07-15 10:02] #7141 closed

[2017-07-15 10:46] seishun commented on #8987
It's going to remain an issue until libuv is upgraded to 2.x.

[2017-07-15 11:00] oerdnj commented on #8066
Folks, it would be great if you could review my PR in libuv, and try to push it through. I have received a zero response on the PR so far.

[2017-07-15 12:50] refack commented on #2084
AFAIK it was solved by https://github.com/nodejs/build/issues/776, I'm closing as an educated guess. Anyone feel free to reopen if that is wrong.

[2017-07-15 12:50] #2084 closed

[2017-07-15 12:56] Trott commented on #13937
@nodejs/ctc Currently, this is the only issue for the meeting this week. If I'm understanding everyone's text and GitHub reaction emoji things correctly, expressed opinions thus far are:

## CTC folks

* these changes are semver-major for the time being: @mscdex @mhdawson @mcollina
* no strong opinion but I can see why they might still be considered semver-major: @addaleax
* not semver-major: @jas

[2017-07-15 12:59] refack commented on #4289
@zhaihm no "Oops" necessary. We learned about a new way in which IE provides a disappointing surprise, and now we have the explanation [documented for posterity](https://www.google.com/search?num=3&q=open+32+bit+IE+with+exec%2FexecFile%2Fspawn%28%29+wrong+pid).
IMHO any properly detailed feedback is a beneficial contribution 👍

[2017-07-15 13:19] Trott commented on #13937
My opinion: While I really _want_ message changes to not be semver-major anymore, the fact is our own docs say:

* in [onboarding.md](https://github.com/nodejs/node/blob/master/doc/onboarding.md#managing-the-issue-tracker): "If a change has the remote chance of breaking something, use the semver-major label"
* and again in [onboarding-extras.md](https://github.com/nodejs/node/blob/master/doc/onboa

[2017-07-15 13:20] refack commented on #13937
I had an idea for a middle ground solution. Declare that the move to the new Errors and their messages are experimental for the pre-v9.0 timeframe, and changes carry a blanket do-not-land-on-*.
The motivation is to enable the Contributors the freedom to work on this without the need to involve CTC members for every comma moved.

[2017-07-15 13:23] Trott commented on #13937
Has getting sufficient CTC approval on message changes been a significant problem? (Honest question. I don't know the answer.)

[2017-07-15 13:47] starkwang commented on #14216
I've made a PR for this: #14250

[2017-07-15 14:17] Trott commented on #10203
@nodejs/documentation

[2017-07-15 14:28] megamindbrian commented on #1278
Did anyone solve this?

Does this help??

https://github.com/webpack/memory-fs/issues/43

[2017-07-15 14:45] brianjmurrell commented on #12065
BaaS (builder as a service) systems don't typically let one mess with such things.

Does that mean this is actually fixed though?

[2017-07-15 14:46] brianjmurrell commented on #9137
But is it fixed?  "inactive" could just mean that nobody with the ability to do anything about the issue is willing to do anything.  That doesn't mean it's actually fixed though.

[2017-07-15 14:52] Trott commented on #7614
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree.

I'm inclined to close because:

* `ab` is sufficiently common and abstracts away sufficient complexity as to make the initial effort and ongoing maintainability costs of removing it not worth it. This is evide

[2017-07-15 14:52] #7614 closed

[2017-07-15 15:09] refack commented on #7903
Fixed in https://github.com/nodejs/node/pull/13723

[2017-07-15 15:09] #7903 closed

[2017-07-15 15:16] benjamingr commented on #5691
@Trott I believe so - waiting for an update from @vkurchatkin

[2017-07-15 15:20] addaleax commented on #5691
I think this has not been fixed, and my guess would be that it’ll never really be fixed. I’m not sure whether it was around when this issue was opened, but maybe `v8::Isolate::RunMicrotasks()` is the best answer we can get here?

[2017-07-15 15:21] Trott commented on #9137
No, it is not fixed.

In this case, I think it means exactly that along with:

* The bug might reasonably be considered less a Node.js bug and more of a build system setup and/or OS tuning issue.
* While it's possible to fix, the costs involved (such as maintenance of extra code) may not be worth the benefit of fixing a sorta kinda not-a-bug issue.

That's correct. Believe me, if I could have clos

[2017-07-15 15:31] Trott commented on #10718
This issue has been inactive for sufficiently long that it seems like perhaps it should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-07-15 15:32] refack commented on #13937
A bit.
https://github.com/nodejs/node/pull/14057 has been open for 25 days (spin off of https://github.com/nodejs/node/pull/13834)
https://github.com/nodejs/node/pull/13976 was open for 13 days
https://github.com/nodejs/node/pull/11384 Opened on 2/14/2017
https://github.com/nodejs/node/pull/13994 Open for 16 days
https://github.com/nodejs/node/pull/13476 Opened on 5/6 (still needs one more reviewe